[2016-11-22 17:37] mikedanese opened #1 "kubeadm join on slave node fails preflight checks"
_From @ndtreviv on November 17, 2016 12:13_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* kubectl join
* preflight
* kubelet

[2016-11-22 17:38] mikedanese opened #2 "kubeadm init starts paused containers on ubuntu 16.04"
_From @kilmarnock on November 15, 2016 17:33_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

https://github.com/kubernetes/kubernetes

[2016-11-22 17:38] mikedanese commented on #2
_From @kilmarnock on November 16, 2016 8:7_

Is this a (the) showstopper?

Nov 15 18:15:42 laptop systemd[1]: Started kubelet: The Kubernetes Node Agent.
Nov 15 18:15:42 laptop kubelet[26181]: error: failed to run Kubelet: invalid kubeconfig: stat /etc/kubernetes/kubelet.conf: no such file or directory
Nov 15 18:15:42 laptop systemd[1]: kubelet.service: Main process exited, code=exited, status=1/F

[2016-11-22 17:38] mikedanese commented on #2
_From @kilmarnock on November 16, 2016 8:53_

because the api container does not start, the whole system fails because it needs a connection to it.

[2016-11-22 17:39] mikedanese opened #3 "Kubeadm should have provision to BUILD and install k8s from git url"
_From @sandys on November 12, 2016 8:17_

I would also request that kubeadm have the ability to *build* and install k8s. At the pace that k8s is changing...we would like to dogfood a lot of upcoming k8s changes. If kubeadm can be pointed to a git URL and have it build that k8s version and use it for install/upgrade...that would be a godsend.

For example, we have been blocking on several changes i

[2016-11-22 17:39] mikedanese commented on #3
_From @davidchua on November 13, 2016 8:44_

:+1:

I too would like to be able to do just that. It would help greatly to be able to test upcoming kubernetes versions before hand.

[2016-11-22 17:39] mikedanese commented on #3
_From @luxas on November 15, 2016 16:39_

This is something we probably are going to do, at least for testing.
Follow along when we have made the kubernetes/kubeadm project, which I hope will happen soon.

Thanks for the issue :+1:, I strongly think we need something like this.

[2016-11-22 17:39] mikedanese commented on #3
_From @sandys on November 15, 2016 16:42_

Thanks for the reply!
A lot of us are not sure on the timelines for this. Will this happen in time for 1.5 ? Or will this be later...in which case would it make sense to have this functionality fairly quickly .

Sorry for being a bother.

[2016-11-22 17:39] mikedanese commented on #3
_From @luxas on November 15, 2016 16:47_

This will be something we hopefully will do in time for v1.6.
The v1.5 window has already passed some weeks ago.

Please take a look at this document to get an understanding of what we will prioritize in time for v1.6:
https://docs.google.com/document/d/1v4k7eN-eetHbbpTAG7WuioRAMsK_FVGi1yC3VIn4Inw/edit#

[2016-11-22 17:40] mikedanese opened #4 "Kubelet PV mount fails with StatefulSet, CentOS 7, Kube 1.4.4, Kubeadm, AWS"
_From @jberkus on November 11, 2016 21:45_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

PetSet, Statefulset, PV, persistent vo

[2016-11-22 17:40] mikedanese commented on #4
_From @jberkus on November 11, 2016 22:8_

Further info:

I tried starting the pod on the kube-master node, thinking this was the issue of failing to pass --cloud-provider to the kubelets.  However, it also won't start on the master node, with the same error.

[2016-11-22 17:42] mikedanese opened #5 "kube-controller-manager with AWS cloud provider crash loop if using http_proxy using "kubeadm init --cloud-provider aws""
_From @druidsbane on November 10, 2016 11:57_

**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** http proxy, http_proxy, https_proxy, AWS, kubeadm, kubectl, cloud-provider

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`): v1.4.4
[code]

**Environment**:
- **Clo

[2016-11-22 17:42] mikedanese commented on #5
_From @kad on November 10, 2016 12:40_

what do you have in *_proxy variables ? (env | grep -i _proxy)
it tries to connect to https://ec2.us-west-1.amazonaws.com/ (tcp 176.32.118.53:443) directly.
You're expecting to connect there via proxy ? then do you have something like *.amazonaws.com in your no_proxy ?

[2016-11-22 17:42] mikedanese commented on #5
_From @druidsbane on November 10, 2016 12:50_

Unfortunately on the pod itself for the `kube-controller-manager` the environment variables aren't passed through.  As this is created using `kubeadm` I don't have control over the pod definition.  So basically none of the *_proxy variables are set inside the pod in the docker image, however if I `kubectl exec kube-controller-manager-blah -it sh` and

[2016-11-22 17:42] mikedanese commented on #5
_From @kad on November 10, 2016 13:14_

ok, so request is actually to pass proxy variables into containers. interesting. I'll check how it can be done.

BTW, for no_proxy value in your example: things like 10.0.0.0/8 would not work on 99% of software that respects no_proxy variable. it must be always exact IP match.

[2016-11-22 17:42] mikedanese commented on #5
_From @druidsbane on November 10, 2016 15:4_

@kad you're right that what I'm actually asking for is to pass proxy variables through either from a commandline setting on kubeadm or pick it up from /etc/environment or shell environment that launches kubeadm.

I didn't realize it till I dug in to try and think about how one might go about fixing this.  At first I thought we would just pick up the va

[2016-11-22 17:43] mikedanese opened #6 "kubeadm: preflight check false positives in CentOS 7"
_From @jberkus on November 6, 2016 4:30_

Platform:  CentOS 7.2.1511 on AWS EC2 (t2.medium)

kubeadm version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.2.380+85fe0f1aadf91e", GitCommit:"85fe0f1aadf91e134102cf3c01a9eed11a7e257f", GitTreeState:"clean", BuildDate:"2016-11-02T14:58:17Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}

Symptoms:

While following installa

[2016-11-22 17:43] mikedanese commented on #6
_From @jberkus on November 6, 2016 21:3_

The ebtables false positive does not happen with CentOS 7 Atomic on bare metal.  Unfortunately, I don't have a regular Centos 7 on bare metal to test on for comparison.

[2016-11-22 17:43] mikedanese commented on #6
_From @luxas on November 6, 2016 23:19_

Why just don't install ebtables in case you don't have it?

Basically kubeadm does just `which ebtables` and returns error if it doesn't exist, since kubelet requires ebtables to be present.

[2016-11-22 17:43] mikedanese commented on #6
_From @jberkus on November 7, 2016 0:21_

Except that apparently it doesn't, because Kubelet apparently works fine with no ebtables.

Also, if ebtables is required, why isn't it marked as a dependency of kubeadm?  Or at least mentioned in the docs?

[2016-11-22 17:43] mikedanese commented on #6
_From @luxas on November 7, 2016 1:22_

Yes, ebtables is a dependency of the kubelet, see: https://github.com/kubernetes/kubernetes/pull/28717 and https://github.com/kubernetes/kubernetes/issues/26093.

You're right that ebtables doesn't seem to be in the rpm dependencies of the kubelet, sorry for that.
I opened https://github.com/kubernetes/release/pull/197 to minimize the delta between debs and

[2016-11-22 17:43] mikedanese commented on #6
_From @wallrj on November 10, 2016 16:14_

FYI I'm seeing the pre-flight check error too:
[code]

[code]

[2016-11-22 17:43] mikedanese commented on #6
_From @dgoodwin on November 10, 2016 18:25_

@wallrj this was fixed in fe03e1319f6d279f6b9ac60c8ca34fe907eb94e3 I believe, but it did not make the build your output.

[2016-11-22 17:43] mikedanese commented on #6
_From @luxas on November 11, 2016 21:45_

@mikedanese Please push the rpms you built from https://github.com/kubernetes/release/pull/197, so this will be fixed
I think you started building them on Monday already...

[2016-11-22 17:43] mikedanese commented on #6
_From @waynebrantley on November 15, 2016 13:43_

etables is easy - just install the package.
However, what about:
[code]

[2016-11-22 17:43] mikedanese commented on #6
_From @dgoodwin on November 15, 2016 13:52_

@waynebrantley fixed but not released yet, details above.

[2016-11-22 17:43] mikedanese commented on #6
_From @waynebrantley on November 15, 2016 13:55_

Ok, I just ran it with --skip-preflight-checks
FYI, I did a kubeadm reset on a new node....
Then did a kubeadm join......the node never joined.   I rolled back to before that and join worked fine.
This may be a related issue?

[2016-11-22 17:43] mikedanese commented on #6
_From @dgoodwin on November 15, 2016 14:1_

Probably very unlikely to be related, this preflight check is just a simple bad assumption that /etc/kubernetes doesn't exist or is completely empty, but the packages create /etc/kubernetes/manifests and the check always fails by default.

[2016-11-22 17:43] mikedanese commented on #6
_From @jberkus on November 15, 2016 20:13_

Unlikely to be related.

[2016-11-22 17:43] mikedanese commented on #6
_From @mariano-dim on November 21, 2016 17:30_

you have to delete the content of /etc/kubernetes and try again

[2016-11-22 17:43] mikedanese opened #7 "[kubeadm] fail fast if two nodes have the same name"
_From @luxas on November 4, 2016 19:22_

ref: http://stackoverflow.com/questions/40294423/kubeadm-why-does-my-node-not-show-up-though-kubelet-says-it-joined/40416796#40416796

@kubernetes/sig-cluster-lifecycle

_Copied from original issue: kubernetes/kubernetes#36255_

[2016-11-22 17:43] mikedanese opened #8 "kubeadm on CentOS mounts incompatible /etc/ssl/certs into controller"
_From @codablock on November 3, 2016 10:52_

**What keywords did you search in Kubernetes issues before filing this one?**
controller /etc/ssl/certs
kubeadm /etc/ssl/certs

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
1.5 custom built master
I also use a custom built hyperkube image instead of the single app images for

[2016-11-22 17:43] mikedanese commented on #8
_From @codablock on November 4, 2016 9:22_

Same problem seems to apply to the apiserver. Not sure however if it actually does https calls.

[2016-11-22 17:43] mikedanese commented on #8
_From @codablock on November 7, 2016 16:8_

https://github.com/kubernetes/kubernetes/issues/36373 implements solution 2.

[2016-11-22 17:44] mikedanese opened #9 "kubernetes 1.4.+ kube-dns and kubeadm.conf"
_From @jicki on November 3, 2016 6:3_

[root@k8s-master ~]#kubectl get svc --namespace=kube-system
NAME                   CLUSTER-IP     EXTERNAL-IP   PORT(S)         AGE
kube-dns               10.0.0.10      <none>        53/UDP,53/TCP   2d

kubeadm.conf
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--kubeconfig=/etc/kubernetes/kubelet.conf --require-kubeconfig=true"
Environment="KUBELET_SYSTEM_

[2016-11-22 17:44] mikedanese commented on #9
_From @bulletRush on November 5, 2016 16:33_

@luxas it seems like this person have same problem with me.
if we install kubelet via yum, then we get a default cluster-dns config `100.64.0.10`. then we use kubeadm to start up our cluster. the kube-dns service get a cluster ip `10.0.0.10`. so nslookup( [Using DNS Pods and Services](http://kubernetes.io/docs/admin/dns/) )will not work.

---

@jicki A

[2016-11-22 17:44] mikedanese commented on #9
_From @JrCs on November 8, 2016 11:44_

`cluster-dns` is store staticaly in the `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` and is install when we installed kubeadm with yum.
As we can change the range of IP address for service VIPs  (with the --service-cidr option of kubeadm) the cluster-dns maybe false.
So at least we need a preflight check, and perhaps kubeadm can create an environm

[2016-11-22 17:45] mikedanese opened #10 "Feature Request: 'kubeadm leave'"
_From @tonyclam on November 1, 2016 23:56_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2016-11-22 17:45] mikedanese opened #11 "hostPort not working in cluster created via kubeadm"
_From @linfan on October 30, 2016 16:26_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): `No`

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `nodePort`, `kubeadm`

---

**Is this a B

[2016-11-22 17:45] mikedanese commented on #11
_From @luxas on October 30, 2016 19:21_

This is a known issue, but I agree we should document it.
See: https://github.com/kubernetes/kubernetes/issues/31307

We're using cni networking.

Do you want to make the change in the docs or should I take it?

[2016-11-22 17:45] mikedanese commented on #11
_From @linfan on November 3, 2016 17:42_

Sure, [PR-1615](https://github.com/kubernetes/kubernetes.github.io/pull/1615) created.

[2016-11-22 17:46] mikedanese opened #12 "Doc Request: Document required ports for Kubeadm"
_From @jberkus on October 28, 2016 20:9_

Neither Kubeadm reference nor kubeadm getting-started-guide contain a list of ports which need to be open within the cluster for a kubeadm deployment to function.  Kubeadm appears to require additional port access beyond what older kubernetes does.  This causes a lot of troubleshooting pain in getting things working while exercising reasonable port securit

[2016-11-22 17:46] mikedanese commented on #12
_From @luxas on October 28, 2016 20:24_

Feel free to do it :)

We have added preflight checks now to the kubeadm master build, so it will be interactively shown to the user now what's missing.

ref: https://github.com/kubernetes/kubernetes/issues/34046

[2016-11-22 17:46] mikedanese commented on #12
_From @jberkus on October 28, 2016 20:28_

Can't do it because I can't figure out which ports are required, per OP.  And the preflight check doesn't really help when ports are being blocked at the router level, or when some ports are dynamically assigned.

I'll note that even on that issue you don't seem to know the full list of ports required, given the elipsis.

[2016-11-22 17:46] mikedanese commented on #12
_From @jberkus on October 28, 2016 20:30_

If someone else wants to add a complete list of ports in a comment, I'll be happy to turn that into a doc patch.

[2016-11-22 17:46] mikedanese commented on #12
_From @luxas on October 30, 2016 19:25_

For sure I know which ports are required, I also mentioned that in #34046

Here we're checking and validating that the required ports are open in the master version of kubeadm which we will push to stable very soon: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L196
(note that two of them are configurable, but defa

[2016-11-22 17:46] mikedanese commented on #12
_From @jberkus on November 6, 2016 4:20_

Thanks, will do.

[2016-11-22 17:46] mikedanese opened #13 "Kubeadm init fails to create discovery or dns if connecting to existing ETCD"
_From @pbecotte on October 28, 2016 18:9_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUE

[2016-11-22 17:46] mikedanese commented on #13
_From @luxas on October 28, 2016 19:29_

cc @pires @kubernetes/sig-cluster-lifecycle

[2016-11-22 17:46] mikedanese commented on #13
_From @pires on October 28, 2016 20:13_

@pbecotte did you clear etcd data as well? Run `kubeadm reset` and then re-execute `kubeadm init`.

[2016-11-22 17:46] mikedanese commented on #13
_From @pbecotte on October 28, 2016 20:34_

The idea is kind of to _not_ clear all the etcd data though... having a HA etcd has no point if you have to wipe it out to replace the master  (that is how I got it working once I figured out the problem, but doesn't seem like a long term fix)

[2016-11-22 17:46] mikedanese commented on #13
_From @pires on October 28, 2016 20:44_

Well, the problem seems to be caused by stale etcd data that contains nodes and scheduled pods that don't really exist. In the case you showed above, you'd need to simply kill the pod in order for the controller manager to kick-in and ask for a new pod scheduling.

HA is meant to protect you from some nodes disappearing, not terminating non-gracefully all m

[2016-11-22 17:46] mikedanese commented on #13
_From @pbecotte on October 28, 2016 20:51_

I understand.  The tool does not actually support HA on the master at this point though, correct?  (I didn't actually try to just launch a second master with kubeadm init... what would happen?).  It is recommended in several places to back up etcd data in some way- such as running a seperate cluster so that if something happens to the master you don't lo

[2016-11-22 17:46] mikedanese commented on #13
_From @pires on October 28, 2016 21:8_

Yes, `kubeadm` doesn't support HA, yet.

If pointed at the same etcd cluster, it would potentially destroy your current cluster and just build a new one.

No. For instance, if you reboot the master, but the nodes continue to work, when the master comes back it should be OK.

From the top of my head, you can but your pods will lose access to whatever is runni

[2016-11-22 17:46] mikedanese opened #14 "Implement easy upgrades with one command: `kubeadm upgrade`"
_From @danielschonfeld on October 28, 2016 10:49_

Wanted to make a wish.  Being a long time kubernetes user and having stitched clusters by hand, I am convinced `kubeadm` is the best thing that happened to kubernetes in terms of mass adoption. I think it would be nice if we could do version upgrades with `kubeadm`.  I imagine it wouldn't be too hard needing only to update the versions in the mani

[2016-11-22 17:47] mikedanese opened #15 "`kubeadm join` doesn't set kube config"
_From @michelleN on October 27, 2016 21:52_

Not sure if this is a bug or a feature.

**What happened**:
I configured two GCE nodes with Ubuntu 16.04 images. I used kubeadm's getting started guide to make one node the master. I then used the `kubeadm join` command using the token from my master on my other node. I tried to run `kubectl get nodes` but got
`The connection to the server localhost:808

[2016-11-22 17:47] mikedanese commented on #15
_From @luxas on October 28, 2016 20:27_

We just haven't implemented it. Sounds like it may be an enhancement.

@kubernetes/sig-cluster-lifecycle

[2016-11-22 17:47] mikedanese opened #16 "upgrade the default etcd version for kubeadm to 3.0.13"
_From @luxas on October 27, 2016 20:16_

We want to default to etcd3 in etcd2 mode for kubeadm now I think, and eventually default to etcd3 in etcd3 mode as well (I suppose that will be the default for v1.5?)

I don't think we have to deal with migration and upgrades from etcd2 to etcd3, as we're in alpha.
We can just say: create a new cluster.

Of course, when we're in beta, etc. we can't do that

[2016-11-22 17:47] mikedanese commented on #16
_From @errordeveloper on October 28, 2016 8:6_

I don't know enough about the level of support for v3. I wouldn't rush this
just yet.

On Thu, 27 Oct 2016, 21:28 Lucas Käldström, <notifications@github.com>
wrote:

[2016-11-22 17:47] mikedanese commented on #16
_From @dgoodwin on October 28, 2016 11:5_

This is our plan with OpenShift, I would say lets go for it.

[2016-11-22 17:47] mikedanese commented on #16
_From @roberthbailey on October 28, 2016 15:6_

I think that @mml is hoping to switch GCE/GKE over to etcd3 in the 1.5 timeframe as well.

[2016-11-22 17:47] mikedanese commented on #16
_From @wojtek-t on October 28, 2016 17:46_

We are still targetting 1.4.x release to switch to etcd3 (unless we find some problems during final testing).
So yes, switching kubeadm should be ok.

[2016-11-22 17:47] mikedanese commented on #16
_From @xiang90 on October 28, 2016 18:1_

@errordeveloper

etcd3 is well supported. We (etcd team + k8s team) are working hard on both correctness testing for migration and scalability testing for our 1.5 goals.

[2016-11-22 17:47] mikedanese commented on #16
_From @timothysc on October 31, 2016 16:26_

do we support any upgrade strategy yet in kubeadm?

[2016-11-22 17:47] mikedanese commented on #16
_From @luxas on October 31, 2016 17:22_

Nope @timothysc, but I talked to @errordeveloper and @lukemarsden about it; not sure if a doc has been written about that...

Anyway, my motivation is that we should use etcd3 by default for all kubeadm clusters now to avoid having to upgrade when turning to beta at some point

@wojtek-t When you've pushed 3.0.13, ping me so I can make the change in kubeadm

[2016-11-22 17:47] mikedanese opened #17 "Document how to and provide scripts for running kubeadm in a container"
_From @andersla on October 27, 2016 18:8_

## When trying to install Kubeadm inside Ubuntu 16.04 docker container it fails.

BUG REPORT

**Kubernetes version** (use `kubectl version`):
latest

**Environment**:
Ubuntu 16.04 Docker container

**What happened**:
When trying to install Kubeadm inside Ubuntu 16.04 docker container it fails.
My Idea was to use one docker container as master "node" and a

[2016-11-22 17:47] mikedanese commented on #17
_From @luxas on October 27, 2016 18:14_

cc @errordeveloper and @marun since they have been running systemd inside a container

@andersla Be beware that running systemd this way inside a container is not supported ootb, but feel free to try it our/hack on it as it would be great for testing kubeadm that way

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on October 28, 2016 7:36_

If you don't mind I would like take a look closer and try to fix it.

[2016-11-22 17:47] mikedanese commented on #17
_From @andersla on October 28, 2016 8:48_

@zreigz Please do!
This is how I try to install it:

`docker run -it --privileged ubuntu /bin/bash`

And then:

[code]

And this is the error I get when kubeadm is being installed:

[code]

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on October 28, 2016 9:10_

I reproduced it and I have been working on this

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on October 31, 2016 7:24_

There are two problems.

The first one: `ll: /var/lib/dpkg/info/kubelet.postinst: 38: /var/lib/dpkg/info/kubelet.postinst: [[: not found`
On Ubuntu systems, /bin/sh is dash, not bash, and dash does not support the double bracket keyword. Good thing is the issue is fixed on master branch and should be available soon: https://github.com/kubernetes/release/blo

[2016-11-22 17:47] mikedanese commented on #17
_From @andersla on October 31, 2016 7:42_

Great!
I just don't see why installation of kubeadm need systemd/systemctl at all?

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on October 31, 2016 7:47_

Because of those two lines: https://github.com/kubernetes/release/blob/master/debian/xenial/kubeadm/debian/postinst#L25

[code]

It fails on first line

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on October 31, 2016 7:48_

this is the explanation:
[code]

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on October 31, 2016 7:52_

There are some configuration steps to make it work but I have to try it first. If I find something I'll let you know.

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on November 2, 2016 7:19_

Good news. I've managed solve all issues. It needs last tests and I will post solution how to run kubeadm in Docker container

[2016-11-22 17:47] mikedanese commented on #17
_From @andersla on November 2, 2016 7:23_

Super! I will help testing as soon as it is ready! - although I am on holidays the rest of this week:)

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on November 2, 2016 10:13_

There are two main issues regarding to installation kubeadm in Docker container. First is systemd running in container. Second is installation docker inside container. Successfully the problems were fixed. Here is the Dockerfile which must be used to prepare Ubuntu image

[code]
I use this command to build the image in the directory containing the Dockerfi

[2016-11-22 17:47] mikedanese commented on #17
_From @SuperStevenZ on November 17, 2016 7:21_

@zreigz That solved the same problem of mine, thanks!

[2016-11-22 17:47] mikedanese commented on #17
_From @zreigz on November 17, 2016 7:30_

No problem :)

[2016-11-22 17:48] mikedanese opened #18 "Kubeadm on arm..."
_From @derailed on October 26, 2016 17:23_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## kubeadm arm

**Is this a BUG REPORT o

[2016-11-22 17:48] mikedanese commented on #18
_From @errordeveloper on October 26, 2016 17:28_

cc @luxas

[2016-11-22 17:48] mikedanese commented on #18
_From @luxas on October 26, 2016 17:31_

Did you use Hypriot **v1.0.1** as stated in docs?

[2016-11-22 17:48] mikedanese commented on #18
_From @nlamirault on October 26, 2016 18:39_

@luxas I've got the same issue with Hypriot 1.0.0. Where i can download the 1.0.1 image ?
I try to download https://downloads.hypriot.com/hypriotos-rpi-v1.0.1.img.zip, but i've got an error.
Could you send the link for documentation which explain how use Kubeadm on Hypriot. I could try a new installation.

[2016-11-22 17:48] mikedanese commented on #18
_From @derailed on October 26, 2016 18:49_

Nicolas - try https://github.com/hypriot/image-builder-rpi/releases

On Wed, Oct 26, 2016 at 12:40 PM, Nicolas Lamirault <
notifications@github.com> wrote:

[2016-11-22 17:48] mikedanese commented on #18
_From @derailed on October 26, 2016 19:25_

Thanks for pointing this out @luxas! This was indeed a pilot error. Did get further so we can close this issue. Tho the master is now coming up, setting up the pod network using flannel per the docs results in an error.

Yields

Error from server: error when creating "flannel.yml": DaemonSet in version "v1beta1" cannot be handled as a DaemonSet: [pos 111

[2016-11-22 17:48] mikedanese commented on #18
_From @derailed on October 26, 2016 19:31_

Probably a bug in the template, me think the nodeSelector should be:

nodeSelector:
  beta.kubernetes.io/arch: arm

[2016-11-22 17:48] mikedanese commented on #18
_From @luxas on October 26, 2016 19:34_

Ok, seems like the ARCH=arm thing is working poorly then.

Try just running
[code]

[2016-11-22 17:48] mikedanese commented on #18
_From @derailed on October 26, 2016 21:26_

Thank you all for the prompt support!
Finally got this thing up and running. Watching this cluster live on rpi is a beautiful thing.  Totally impressed by your work. kubeadm rocks. Tx!!

[2016-11-22 17:48] mikedanese commented on #18
_From @nlamirault on October 27, 2016 11:52_

using v1.4.4, process go to the end :

[code]

But kubectl fails :

[code]

The etcd container logs : https://gist.github.com/nlamirault/d84e77e02276d158493f15f249324ba5

[2016-11-22 17:48] mikedanese commented on #18
_From @nlamirault on October 27, 2016 12:14_

i try the unstable version of **kubeadm** with reset *command*. Then i try another *init*. Etcd container is up, but i've got logs :

[code]

[2016-11-22 17:50] mikedanese opened #19 "[kubeadm] Only supports configuration from one source at a time, flags or file"
_From @pires on October 27, 2016 17:54_

Currently, one `kubeadm {init,join}` can only be configured through flags _or_ configuration file. So:

[code]

or

[code]

Both configuration options don't coexist as users may expect it to (#35424).

_Copied from original issue: kubernetes/kubernetes#35710_

[2016-11-22 17:57] mikedanese opened #20 "Should kubeadm automatically deploy the kubernetes dashboard?"
_From @luxas on October 26, 2016 16:51_

I'm leaning towards yes, because the dashboard is an integrated part of k8s and our focus is on good UX and an UI is great for that purpose.

cc @kubernetes/sig-cluster-lifecycle

_Copied from original issue: kubernetes/kubernetes#35642_

[2016-11-22 17:57] mikedanese commented on #20
_From @pires on October 26, 2016 17:53_

It's an add-on so I'd suggest adding `--enable-ui` to enable it (disabled by default).

[2016-11-22 17:58] mikedanese commented on #20
_From @roberthbailey on October 26, 2016 18:44_

Did you mean leaning *towards* yes?

[2016-11-22 17:58] mikedanese commented on #20
_From @roberthbailey on October 26, 2016 18:46_

How are we handling other add-ons in kubeadm? Are we deploying a canonical set of add-ons by default?

[2016-11-22 17:58] mikedanese commented on #20
_From @pires on October 26, 2016 18:48_

@roberthbailey kube-proxy and kube-dns are automatically provisioned, but that's it.

[2016-11-22 17:58] mikedanese commented on #20
_From @luxas on October 26, 2016 18:53_

@roberthbailey Oops, yeah of course I did that. What a typo :sweat_smile:

We're only deploying kube-dns right now, manually in Go code, since it's such an integral part of k8s.
So I thought we might want to do the same for the dashboard...

[2016-11-22 17:58] mikedanese commented on #20
_From @roberthbailey on October 26, 2016 18:55_

We have a long list of possible add-ons:

- Dashboard
- Ingress Controller
- Monitoring (heapster, influxdb, grafana)
- Logging (fluentd, elasticsearch)
- Node Problem Detector
- Docker Registry
- Horizontal Pod Autoscaling
- Cluster Autoscaling

Are we going to add a flag for each? I think that's going to be a cumbersome user experience.

[2016-11-22 17:58] mikedanese commented on #20
_From @justinsb on October 26, 2016 19:42_

@mikedanese and I (well mainly me) were/are going to look at a better addons manager, to effectively remove these from the installer.  We have one in kops that could serve as a starting point called "channels".  channels uses the addons manager even for the "system" addons (dns), so that these can be updated also.

Then you can type `channels add channel

[2016-11-22 17:58] mikedanese commented on #20
_From @colemickens on October 28, 2016 6:13_

How does "channels" compare to "charts" (helm?)?

[2016-11-22 17:58] mikedanese commented on #20
_From @colemickens on October 28, 2016 6:14_

Or maybe there's a more appropriate meta Issue about addon deployments where I should ask such questions...

[2016-11-22 17:58] mikedanese commented on #20
_From @errordeveloper on October 28, 2016 8:1_

It is very simple, see
https://github.com/kubernetes/kops/blob/master/channels/cmd/channels/apply_channel.go
.

I had a look at using Helm, I think it's an okay fit...

For meta issues, please look at features#18 and links from there.

On Fri, 28 Oct 2016, 07:14 Cole Mickens, <notifications@github.com> wrote:

[2016-11-22 17:58] mikedanese commented on #20
_From @justinsb on October 28, 2016 13:2_

channels is very simple and - I believe - minimal.  In particular there's no server component (like tiller).  channels is not much more than a wrapper around `kubectl apply`, similar to `kube-addons` but with some of the rough edges removed, and runnable both server-side and by end-users after installation.  Primary rough edge removed is that you can dele

[2016-11-22 17:58] mikedanese commented on #20
_From @luxas on October 28, 2016 15:15_

@justinsb From where do channels "come from"? Which url/location?
For example, if you do `channels add channel helm`, where is the manifest stored?

[2016-11-22 17:59] mikedanese opened #21 "firewalld breaks kubeadm"
_From @errordeveloper on October 25, 2016 17:38_

Some users reported this, and it looks like disabling it solves the problem, but I'd like to find out what rules need to be added to make things work. I've been able to make most things work (see https://github.com/errordeveloper/kubernetes-ansible-vagrant/commit/67a4d87021f95b108e46f6a45a11f2f3786726f9), but lacking pod to master right now.

_Copi

[2016-11-22 17:59] mikedanese commented on #21
_From @foxish on October 25, 2016 18:2_

cc @kubernetes/sig-cluster-lifecycle

[2016-11-22 17:59] mikedanese commented on #21
_From @dgoodwin on October 25, 2016 18:18_

Spoke with @danwinship briefly, he has confirmed that you should not need to disable firewalld entirely, however it would block host ports by default and those rules would need to be disabled which I believe matches what @errordeveloper had to do in the branch linked above.

[2016-11-22 17:59] mikedanese commented on #21
_From @luxas on October 25, 2016 20:33_

I guess the best we can do here is to document it

[2016-11-22 17:59] mikedanese commented on #21
_From @errordeveloper on October 26, 2016 8:41_

@luxas yes, and also warn in pre-flight checks that users may need to disable it or relax some of the rules.

[2016-11-22 17:59] mikedanese commented on #21
_From @errordeveloper on October 26, 2016 8:46_

@dgoodwin thank you. I'll take another look for what needs to be done, I've been using kube-proxy in userspace mode so far (due to VirtualBox networking issues), but will take a look at other options (there are a few, e.g. iptables mode with masquarade).

[2016-11-22 17:59] mikedanese commented on #21
_From @errordeveloper on October 26, 2016 8:48_

We also have [`contrib/blob/master/ansible/roles/node/tasks/firewalld.yml`](https://github.com/kubernetes/contrib/blob/master/ansible/roles/node/tasks/firewalld.yml), which I tried to adopt, but I need to re-test to confirm if it works or not (it didn't seem to work in my previous test, but may be I've missed something).

[2016-11-22 17:59] mikedanese commented on #21
_From @errordeveloper on October 26, 2016 15:51_

As I've been testing on VirtualBox, I've had to pass `--proxy-mode=userspace` to `kube-proxy`, changing it for `--cluster-cidr=10.32.0.0/12` and adding `10.32.0.0/12` as an allowed source, appears to work, yet I need to re-test a few more times.

[2016-11-22 17:59] mikedanese commented on #21
_From @errordeveloper on October 26, 2016 15:53_

Latest code is in https://github.com/errordeveloper/kubernetes-ansible-vagrant.

[2016-11-22 17:59] mikedanese commented on #21
_From @luxas on October 26, 2016 15:59_

Does it work with `10.96.0.0/12` --cluster-cidr as well if you explicitely allow that?

[2016-11-22 17:59] mikedanese commented on #21
_From @errordeveloper on October 26, 2016 16:6_

@luxas this is a bit confusing, but `kube-proxy --cluster-cidr=...` means the pod CIDR, not service CIDR.

[2016-11-22 17:59] mikedanese commented on #21
_From @luxas on October 26, 2016 16:13_

Ah, sorry. I thought you were talking about `kubeadm --cluster-cidr` :)

[2016-11-22 17:59] mikedanese commented on #21
_From @luxas on November 2, 2016 16:27_

Should we make a preflight check that checks if `firewalld` is enabled and warns the user that it might fail because of that it's enabled?

[2016-11-22 17:59] mikedanese commented on #21
_From @dgoodwin on November 2, 2016 17:28_

Port 9898 (discovery) is about to go away. API server is another question. We definitely need to document the step to open that port if firewalld is enabled. Perfect world the preflight check would detect firewalld, and then actually make sure the port is open. Not sure how easy or difficult that would be, I could look into it in time.

Hesitant to just

[2016-11-22 17:59] mikedanese opened #22 "kubeadm feature flags"
_From @bogdando on October 19, 2016 16:32_

FEATURE REQUEST:

Add runtime/config feature flags for granular control of `kubeadm init` tasks. Like:
- etcd clustering,
- certs management,
- container images pulling,
- configs generation,
- static pods definitions for system components,
- essential addons installation.

**Use case**:
One may want to use hyperkube and do not pull images for apiserver

[2016-11-22 17:59] mikedanese commented on #22
_From @lukemarsden on October 20, 2016 10:13_

Thank you for this @bogdando! We definitely want to make `kubeadm` support your use-case in kargo. We have just merged support for [kubeadm init to read config from a file](https://github.com/kubernetes/kubernetes/pull/34501) which will make it easier to add this level of granular control without making the user-facing CLI totally insane. I'll add dis

[2016-11-22 17:59] mikedanese commented on #22
_From @bogdando on October 20, 2016 10:31_

@lukemarsden thank you, I will

[2016-11-22 17:59] mikedanese commented on #22
_From @bogdando on October 24, 2016 14:1_

Also note that while being configurable is very nice to have, runtime flags must allow to specify which steps a user wants the `kubeadm init` do for him and which do not

[2016-11-22 17:59] mikedanese commented on #22
_From @bogdando on October 27, 2016 11:13_

This is now tracked as https://github.com/kubernetes/features/issues/138

[2016-11-22 17:59] mikedanese commented on #22
_From @pires on October 27, 2016 16:16_

Just to add to what Luke said, there's file configuration support for `kubeadm join` as well.

[2016-11-22 17:59] mikedanese commented on #22
_From @bogdando on October 28, 2016 14:4_

Reopened as there is yet another optional place to track it

[2016-11-22 18:02] mikedanese opened #23 "Clusters built with kubeadm don't support basic auth"
_From @kelseyhightower on October 25, 2016 18:15_

Some people are having trouble authenticating to the Kubernetes dashboard when the cluster is built with kubeadm. Seems like the deployed api server does not support basic auth, which makes it impossible to hit the Dashboard UI without using `kubectl proxy`.

_Copied from original issue: kubernetes/kubernetes#35536_

[2016-11-22 18:02] mikedanese commented on #23
_From @Hirayuki on October 25, 2016 18:17_

if needed I can reproduce the issue and give outputs tomorrow

i have this issue while deploying k8s with official guide at:
http://kubernetes.io/docs/getting-started-guides/kubeadm/

and installing the dashboard through:
kubectl create -f https://rawgit.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard.yaml

[2016-11-22 18:02] mikedanese commented on #23
@kubernetes/sig-cluster-lifecycle

[2016-11-22 18:02] mikedanese commented on #23
_From @jbeda on October 25, 2016 19:9_

Opinions on what the experience should be here?

We could create an admin user and output the password as part of `kubeadm join`.

But, to be honest, basic auth is a bit of a hack as to change those accounts you need to edit a file and restart the apiserver.  This'll also be a problem as we move to HA.

Options:
* Improve password auth so that accounts are s

[2016-11-22 18:02] mikedanese commented on #23
_From @kelseyhightower on October 25, 2016 19:11_

@jbeda It could be as simple as updating the docs and highlight that you must use kubectl proxy to "authenticate" to the Kubernetes Dashboard and other add-ons.

[2016-11-22 18:02] mikedanese commented on #23
_From @roberthbailey on October 25, 2016 20:42_

This is the same problem as with the bearer token auth. They were both built without taking HA requirements into account.

Until we have another solution that works for a web browser (oauth anyone?), having basic auth is an important part of the user experience for folks that want to access services through the apiserver proxy (e.g. the dashboard).

[2016-11-22 18:02] mikedanese commented on #23
_From @jbeda on October 25, 2016 21:58_

I like the idea of documenting the `kubectl proxy` method. That is no code changes and provides immediate relief.

I'd say we need to document the following:
* How to copy/extract the admin.conf kubeconfig from the master VM
* How to import/merge that in to your ~/.kube directory.
* How to rewrite the target for the cluster if there is an inner/outer IP iss

[2016-11-22 18:02] mikedanese commented on #23
_From @broady on November 20, 2016 22:10_

This page also needs updating:
http://kubernetes.io/docs/user-guide/ui/#dashboard-access

[2016-11-22 18:03] mikedanese opened #24 "kubeadm could store a configmap with some of it's flags"
_From @errordeveloper on October 4, 2016 17:14_

Things like service CIDR and pod network CIDR, cluster DNS domain are useful for network and other similar type of add-ons, also there has been some ideas around general accessibility of key parameters. Other example may include cloud provider name, CNI config path and other bits of information that are scatered in kubelet, kube-apiserver and kube-c

[2016-11-22 18:03] mikedanese commented on #24
_From @pires on October 5, 2016 9:58_

1. What would be the use for the ConfigMap after it's stored?
2. Store it where, disk or API?

[2016-11-22 18:03] mikedanese commented on #24
_From @pires on October 5, 2016 11:35_

Also, I just realized #33728 got merged so I believe we'll already have this info stored in the API as soon as we get assigned an apigroup?

[2016-11-22 18:03] mikedanese commented on #24
_From @luxas on October 15, 2016 7:54_

I don't understand why this should be done.
Please clarify this now when we already have the api group and the possibility of specifying flags via a file

[2016-11-22 18:03] mikedanese opened #25 "Updating kubeadm manifests"
_From @axsuul on October 7, 2016 7:57_

I provisioned my kubernetes cluster using `kubeadm` but I would like to change the option to `--secure-port=8081` for the API server. It seems like changing this manifest file

[code]

would give me what I want but how would I apply the changes? Running

[code]

doesn't appear to update it properly.

_Copied from original issue: kubernetes/kubernetes#34307_

[2016-11-22 18:03] mikedanese commented on #25
_From @colemickens on October 7, 2016 8:5_

@axsuul The `kube-apiserver` is a static pod manifest, so you will need to actually manually edit the `/etc/kubernetes/manifests/kube-apiserver.json` file on your master.

[2016-11-22 18:03] mikedanese commented on #25
_From @axsuul on October 7, 2016 8:10_

@colemickens I have edited it but what do I do after editing it?

[2016-11-22 18:03] mikedanese commented on #25
_From @colemickens on October 7, 2016 8:14_

I would've expected the `kubelet` sync loop to notice the difference and update/replace the Pod.

If it didn't, you could try deleting the `kube-apiserver` pod and letting it respawn from the manifest whenever `kubelet` notices it's missing (note, this obviously could lead to apiserver being unavailable for a period of time, presumably rather short peri

[2016-11-22 18:03] mikedanese commented on #25
_From @axsuul on October 7, 2016 19:21_

When changing the `--secure-port` option in the manifest, it immediately places the `kube-apiserver` pod into a **pending** state. I've tried different ports and changing it back to `443` makes it **active** again.

Am I missing something here?

[2016-11-22 18:03] mikedanese commented on #25
_From @colemickens on October 7, 2016 19:30_

cc: @luxas @errordeveloper

[2016-11-22 18:03] mikedanese commented on #25
_From @axsuul on October 7, 2016 19:36_

Also want to point out that there's no events for `kubectl describe pod kube-apiserver` as well as nothing informative in `kubectl get events`

[2016-11-22 18:03] mikedanese commented on #25
_From @colemickens on October 7, 2016 19:53_

I wouldn't expect this (`kubectl describe pod kube-apiserver`) to return anything anyway, you need to be looking at the `kube-system` namespace for the apiserver pod.

[2016-11-22 18:03] mikedanese commented on #25
_From @axsuul on October 7, 2016 20:6_

Sorry, what I meant was `kubectl describe pod kube-apiserver -n kube-system`

[2016-11-22 18:03] mikedanese commented on #25
_From @errordeveloper on October 13, 2016 9:24_

I'd like to fix https://github.com/kubernetes/kubernetes/issues/33638 ASAP, also after https://github.com/kubernetes/kubernetes/pull/34501 lands we will be able to allow users to pass any custom flags to any of the control plane components.

[2016-11-22 18:03] mikedanese commented on #25
_From @sandys on October 13, 2016 9:37_

@errordeveloper does that mean that your official recommendation right now is to not touch kube-apiserver.json and instead use the flags from #33638 ?

[2016-11-22 18:03] mikedanese commented on #25
_From @errordeveloper on October 13, 2016 11:10_

@sandys unless you really have to, it seems like patching the static pod manifest results in this weird pending situation, and it's probably a separate bug, but I'm not entierely sure we need to look into it, given we are looking to get rid of static pods all together soon with proper kubelet API.

[2016-11-22 18:03] mikedanese commented on #25
_From @sandys on October 13, 2016 12:23_

@errordeveloper im not advocating for the manifest fix - im just asking what should we wait for ? Will  this bug become WONTFIX and #33638 be the right way to do it ?

[2016-11-22 18:03] mikedanese commented on #25
_From @errordeveloper on October 13, 2016 13:10_

@sandys I've just opened #34719, hope we might be able to merge it and cut a snapshot release later today ;)

[2016-11-22 18:03] mikedanese commented on #25
_From @errordeveloper on October 13, 2016 13:11_

@sandys yes, this issues as it stands won't be fixed, as user's problem is only about setting the port.

[2016-11-22 18:03] mikedanese commented on #25
_From @axsuul on October 13, 2016 18:44_

@errordeveloper how would we change an existing kubeadm cluster's API ports with the flags?

[2016-11-22 18:04] mikedanese opened #26 "kubeadm should have an option on master to print out join command again"
_From @peterkellyonline on October 7, 2016 12:43_

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubeadm master join

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

A convenient command such as `kubeadm config` or `kubeadm show` to return the command for a node t

[2016-11-22 18:04] mikedanese commented on #26
_From @luxas on October 12, 2016 14:57_

I'd say feel free to :)
cc @kubernetes/sig-cluster-lifecycle

[2016-11-22 18:04] mikedanese commented on #26
_From @errordeveloper on October 12, 2016 16:1_

I think you might be able to solve this with `kubeadm init --token=...`. If you want to be more specific about the IP address as well, you can pass `--api-advertise-addresses` as well. We have advance usage docs here now: http://kubernetes.io/docs/admin/kubeadm/.

[2016-11-22 18:04] mikedanese commented on #26
_From @luxas on October 12, 2016 16:8_

I think the use case was to let kubeadm generate a random token and be able to fetch it later, but I don't know if it's worthwhile... May be easier to just specify a random token to kubeadm init directly

[2016-11-22 18:04] mikedanese commented on #26
_From @peterkellyonline on October 12, 2016 16:42_

Yes, the use case letting init generate the random token but then be able
to fetch that token later, outside of the print out from the successful run
of init on master node.

It is straight forward to get it through the master API, then decode the
value to JSON and get the token that way, but I expected to be able to get
this easily from kubeadm

[2016-11-22 18:04] mikedanese commented on #26
_From @pires on October 12, 2016 19:57_

I believe this is something @dgoodwin is working on.

[2016-11-22 18:04] mikedanese commented on #26
_From @dgoodwin on October 13, 2016 19:20_

Yes haven't been able to start but I'm hoping to start designing richer token management.

[2016-11-22 18:04] mikedanese commented on #26
_From @pires on October 13, 2016 21:28_

@dgoodwin if you're good with it, I can implement this simple functionality and then when token mgmt becomes a thing I'm ok with replacing it.

[2016-11-22 18:04] mikedanese commented on #26
_From @pires on October 14, 2016 13:58_

@luxas please assign to me.

[2016-11-22 18:04] mikedanese commented on #26
_From @luxas on October 14, 2016 21:36_

FYI, you can fetch the token already this way:
[code]

May be a bit hacky, but it works :smile:

[2016-11-22 18:04] mikedanese commented on #26
_From @luxas on October 25, 2016 21:35_

@dgoodwin I guess we could come up with something like `kubeadm token list -n 1` for this

[2016-11-22 18:04] mikedanese commented on #26
_From @dgoodwin on October 26, 2016 13:16_

Yeah token list is on my "list".

[2016-11-22 18:04] mikedanese commented on #26
_From @pires on October 26, 2016 14:11_

@luxas then please re-assign to @dgoodwin.

[2016-11-22 18:04] mikedanese commented on #26
_From @dgoodwin on November 17, 2016 19:38_

Fixed in #35805.

[2016-11-22 18:05] luxas opened #27 "Permissions"
@mikedanese can you create the `kubeadm-maintainers` and `kubeadm-collaborator` groups and give the people access as decided in https://github.com/kubernetes/kubernetes/pull/36393?

[2016-11-22 18:06] luxas commented on #27
cc @roberthbailey @bgrant0607

[2016-11-22 18:09] mikedanese opened #28 "Implement support for Kubelet Dynamic Configuration"
_From @luxas on October 5, 2016 19:26_

We should use Kubelet Dynamic Settings by pushing values given to `kubeadm init` to the apiserver when started, and that will make all kubelets in the cluster reload and pick up those configuration values.

That's much better than having to modify every `10-kubeadm.conf` systemd dropin file in the whole cluster.

_Copied from original issue: kubernetes/kuber

[2016-11-22 18:09] mikedanese commented on #28
_From @luxas on October 5, 2016 19:28_

cc @kubernetes/sig-cluster-lifecycle

[2016-11-22 18:09] mikedanese commented on #28
_From @errordeveloper on October 5, 2016 20:25_

Is this feature already usable?

[2016-11-22 18:09] mikedanese commented on #28
_From @luxas on October 5, 2016 20:29_

I don't know actually, but I think an alpha version of it exists

cc @mtaufen @vishh @mikedanese @dchen1107 @yujuhong

[2016-11-22 18:09] mikedanese commented on #28
_From @axsuul on October 7, 2016 6:58_

Is this related to customizing arguments for the kubernetes API server? I'm trying to customize the secure port it listens on (`--secure-port=8081`) but I'm not sure how to do it when setting up the cluster with `kubeadm`.

[2016-11-22 18:09] mikedanese commented on #28
_From @errordeveloper on October 7, 2016 7:15_

James, no this is not related. To your question, please try editing
/etc/kubernetes/manifests/kube-apiserver.json, but please create another
issue if you have more questions.

On Fri, 7 Oct 2016, 08:59 James Hu, <notifications@github.com> wrote:

[2016-11-22 18:09] mikedanese commented on #28
_From @axsuul on October 7, 2016 7:58_

@errordeveloper Thanks, I've opened up issue #34307 with more questions

[2016-11-22 18:09] mikedanese commented on #28
_From @mtaufen on October 7, 2016 17:3_

There is an alpha version of the dynamic settings feature, but it still needs a lot of work. I'm going to be mostly focused on GCI-related things for v1.5, but am planning be giving it high-priority focus for v1.6. I wouldn't recommend building on top of dynamic settings just yet, as it will undergo some significant changes (e.g. we will move to telling a n

[2016-11-22 18:09] mikedanese opened #29 "kubeadm 1.4: kube-dns fails on CentOS 7.1"
_From @jimmyjones2 on October 9, 2016 20:42_

CentOS 7.1.1503 minimal VM, using kubeadm guide with weave networking. kube-dns has issues starting up:

[code]

Disabling firewalld resolves the issue.

_Copied from original issue: kubernetes/kubernetes#34420_

[2016-11-22 18:09] mikedanese commented on #29
_From @errordeveloper on October 11, 2016 10:27_

I believe we need to work out what would be better here. May be @dgoodwin has some ideas?

[2016-11-22 18:09] mikedanese commented on #29
_From @errordeveloper on October 11, 2016 10:27_

@luxas this is tagged incorrectly, we should fix the bot...

[2016-11-22 18:09] mikedanese commented on #29
_From @errordeveloper on October 11, 2016 19:39_

Are you using VirtualBox?

[2016-11-22 18:09] mikedanese commented on #29
_From @jimmyjones2 on October 11, 2016 19:53_

@errordeveloper Yes

[2016-11-22 18:09] mikedanese commented on #29
_From @errordeveloper on October 26, 2016 17:31_

I've managed to resolv this and other issue in my Vagrant+Ansible repo (https://github.com/errordeveloper/kubernetes-ansible-vagrant), please take a look and let me know if you have any question (Slack may be the best place). There are a few things around firewalld and SELinux, that repo has all the right pieces without disabling both of those secu

[2016-11-22 18:09] mikedanese commented on #29
_From @jimmyjones2 on October 28, 2016 19:1_

@errordeveloper Do you know if your firewall fixes will be folded into kubeadm?

[2016-11-22 18:09] mikedanese commented on #29
_From @dgoodwin on November 14, 2016 19:13_

Doing a little experimenting today with kubelet compiled from master (1.5 effectively) and the new selinux work done there, it looks as though kube-dns and weave can come up without issue and with no denials when selinux is enforcing.

[2016-11-22 18:09] mikedanese commented on #29
_From @luxas on November 14, 2016 19:15_

So you mean v1.5 will work fine on CentOS without `setenforce 0`?

[2016-11-22 18:09] mikedanese commented on #29
_From @dgoodwin on November 14, 2016 19:20_

Yes I believe so, in my testing we do still need etcd running unconfined because it uses /var/lib/etcd/, but we don't need kube-discovery running unconfined anymore (but it's going away soon anyhow), and the weave/kube-dns problems appear to be gone as well.

[2016-11-22 18:10] mikedanese opened #30 "Having issues with weave-kube and kube-dns"
_From @dragoscirjan on October 22, 2016 21:17_

Hi,

I'm trying to build a test environment which in the end will be deployed to our production server; however I encountered some issues that, for now, I consider bugs.

Please find my install scripts @ https://github.com/itmcdev/solaris.

Following the valid code from `provision.sh`, I followed the instructions from http://kubernetes.io/docs/gettin

[2016-11-22 18:10] mikedanese commented on #30
_From @xt99 on October 25, 2016 9:31_

Same result for me after the same steps.

I also tried Calico network plugin, same result with crashing pods:

[code]

[2016-11-22 18:10] mikedanese commented on #30
_From @dragoscirjan on October 26, 2016 7:57_

From what I've noticed, the dns service eventually starts, however weave remains in the same state. One active, two in CrashLoopBackOff state.

[2016-11-22 18:10] mikedanese commented on #30
_From @xt99 on October 26, 2016 10:14_

This comment has helped me to resolve this issue: https://github.com/kubernetes/kubernetes/issues/34101#issuecomment-253235083

I suppose there is another solution with `Vagrantfile` configuration similar to [this](https://github.com/errordeveloper/kubernetes-ansible-vagrant/blob/22dd39dfc06111235620e6c4404a96ae146f26fd/Vagrantfile#L11) (read carefully [Limi

[2016-11-22 18:12] mikedanese opened #31 "The product_uuid and the hostname should be unique across nodes"
_From @vganapathy1 on October 26, 2016 6:50_

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

[code]

**Environment**:
VMware vCloud Air VM
- **Cloud provider or hardware configuration**:
  7.797 GiB RAM, 2 CPUs each
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`):
  `Kernel Version: 4.4.0-

[2016-11-22 18:12] mikedanese commented on #31
_From @luxas on October 26, 2016 16:49_

cc @kubernetes/sig-cluster-lifecycle

[2016-11-22 18:12] mikedanese commented on #31
_From @soualid on November 13, 2016 22:34_

Got the following error - that may be related - in `weave-kube` when trying to setup a bare metal 3 nodes cluster running ubuntu 16 with `kubeadm`, got the same HWAddr assigned on master and worker node :

Is there a way to force the renewal of the HWAddr ?

----

Setup informations :

kubeadm version

kubectl version

Server Version: version.Info{Major:

[2016-11-22 18:12] mikedanese commented on #31
_From @vganapathy1 on November 15, 2016 15:38_

@soualid Surprisingly, the UUID was same for all the VM's I had, which caused the name collision and changing the UUID resolved the issue.

To get UUID,
`cat /sys/class/dmi/id/product_uuid `

I had to get the UUID changed in all the VM's to get this work. If that doesn't work for you, you can check with @errordeveloper and he had a wave-kube patch wh

[2016-11-22 18:12] mikedanese commented on #31
_From @soualid on November 15, 2016 21:7_

@vganapathy1 thanks, I confirm that the machine UUID are equals on my machines, the boxes provider (online.net) must use a "clone" install system ("symantec ghost" like) that is not changing this UUID properly between boxes. I will contact them about this issue, but it could be great to be able to workaround this issue by overriding this value at runtime

[2016-11-22 18:13] mikedanese opened #32 "support for adding extra kubelet configuration"
_From @spacexnice on October 25, 2016 8:17_

# Support for adding extra Kubelet config

kubeadm should support for adding extra kubelet configuration while doing kubeadm init.   i want to add an extra [ --pod-infra-container-image] parameter to kubelet cmdline ,but cant find a parameter doing so.

_Copied from original issue: kubernetes/kubernetes#35502_

[2016-11-22 18:13] mikedanese commented on #32
_From @codablock on November 4, 2016 8:7_

I had to provide cloud-config flags to the kubelet and opened an issue with a proposal that may also solve your requirements: https://github.com/kubernetes/kubernetes/issues/36213

[2016-11-22 18:13] mikedanese commented on #32
_From @spacexnice on November 4, 2016 8:11_

@codablock yes, that` correct !

[2016-11-22 18:13] mikedanese opened #33 "kubeadm: More secure TLS certificate provisioning"
_From @superdump on October 24, 2016 9:56_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): PKI

---

**Is this a BUG REPORT or FEATU

[2016-11-22 18:13] mikedanese commented on #33
_From @errordeveloper on October 24, 2016 9:57_

cc @kubernetes/sig-cluster-lifecycle

[2016-11-22 18:13] mikedanese commented on #33
_From @liggitt on October 25, 2016 6:6_

The signing is done by a controller. If you want to issue certs for CSR's differently than the controller does, you can set up an external controller or process that protects the signing key however it wants, and avoid providing the signing key to the controller.

[2016-11-22 18:17] roberthbailey commented on #27
I'll take care of this.

[2016-11-22 18:19] mikedanese opened #34 "Document how to pre-pull images"
_From @bulletRush on October 21, 2016 7:50_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?:
`kubeadm`, `kubeadm pull`, `kubeadm image`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
F

[2016-11-22 18:19] mikedanese commented on #34
_From @errordeveloper on October 24, 2016 11:18_

@bulletRush thank you very much for this proposal. We have considered this already, and we will very likely implement it soon.

[2016-11-22 18:19] mikedanese commented on #34
_From @bulletRush on October 24, 2016 14:25_

@errordeveloper, may i do something for this feature?

[2016-11-22 18:20] mikedanese opened #35 "kubeadm:can't start the container of "kube-discovery""
_From @jasonhubs on October 19, 2016 2:33_

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
no

**Kubernetes version** (use `kubectl version`):
1. kubernetes version:

[code]
2. kubeadm,kubelet,kubectl and kubenetes-cni version:

[code]

the url above :http://files.rm-rf.ca/rpms/kubelet/

**Environment**:
- **Cloud provider or hardware configuration**:

`virtual machine and the nat

[2016-11-22 18:20] mikedanese commented on #35
_From @errordeveloper on October 25, 2016 17:36_

Where did you get the `http://files.rm-rf.ca/rpms/kubelet/` URL from? We don't have this in the docs, there is an official repo hosted by Google now. [Could you please try following what's in the docs?](http://kubernetes.io/docs/getting-started-guides/kubeadm/)

[2016-11-22 18:20] mikedanese commented on #35
_From @jasonhubs on October 26, 2016 7:36_

@errordeveloper  Hi it's good to see you again ! well ,and I found the url in a bolg,you may also know the fucking wall in China.I will try the docs.Thank you!

[2016-11-22 18:20] mikedanese commented on #35
_From @errordeveloper on October 26, 2016 15:39_

Hey, Jason! Do you have access to GCR behind the Chinese state firewall?

On Wed, 26 Oct 2016, 08:37 jasonhubs, <notifications@github.com> wrote:

[2016-11-22 18:20] mikedanese commented on #35
_From @errordeveloper on October 26, 2016 17:35_

Also, checkout https://github.com/errordeveloper/kubernetes-ansible-vagrant.

[2016-11-22 18:20] roberthbailey commented on #27
https://github.com/orgs/kubernetes/teams/kubeadm-maintainers has been created and seeded with a couple of folks. Please ping @mikedanese or myself if you think you should be added to the group or want to be a group administrator.

[2016-11-22 18:20] mikedanese opened #36 "The discovery interface in the API needs to be refactored"
_From @mikedanese on October 18, 2016 22:47_

The token discovery interface is not properly factored to extend to the other two discovery methods. Discovery should return a kubeconfig. TLS bootstrap should accept a kubeconfig. The internals of the token discovery should be hidden.

cc @dgoodwin @kubernetes/sig-cluster-lifecycle

_Copied from original issue: kubernetes/kubernetes#35073_

[2016-11-22 18:20] mikedanese commented on #36
_From @luxas on October 24, 2016 15:53_

@dgoodwin can I assign this issue to you?

[2016-11-22 18:20] mikedanese commented on #36
_From @dgoodwin on October 24, 2016 19:22_

Sure I have some notes from @mikedanese on how to approach (ComponentConfig is new to me), Mike yell fast and loud if you started on this, otherwise I will try to find some time to dig in.

[2016-11-22 18:20] mikedanese commented on #36
_From @luxas on October 24, 2016 19:26_

It's not different from any other structs; just code normally :)

[2016-11-22 18:20] mikedanese commented on #36
I'm going to start looking at this.

[2016-11-22 18:20] mikedanese commented on #36
_From @dgoodwin on November 9, 2016 13:36_

Thanks Mike, apologies I haven't been able to get anywhere close to starting it.

[2016-11-22 18:20] mikedanese commented on #36
No worries :+1:

[2016-11-22 18:20] mikedanese opened #37 "discuss the meaning of kubeadm init --api-advertise-addresses"
_From @errordeveloper on October 18, 2016 14:55_

As of #34607, we have the following code:

[code]

It turns out that the condition will always be true, which was not what I desired when I wrote #34607, however it may be what we want, let's discuss here.

When I wrote this, I have overlooked the fact that when kubeadm auto-detects the primary IP , it just sets it in `s.API.AdvertiseAddresses` and

[2016-11-22 18:20] mikedanese commented on #37
_From @Crazee on October 25, 2016 20:54_

What I need is a way to specify the *only* "public" IP address to be used for communication between nodes.  Not something in addition to the "I'm gonna use eth0 because I like it" auto-detection business.

[2016-11-22 18:20] mikedanese commented on #37
_From @errordeveloper on October 26, 2016 15:45_

Point taken, we definitely want to allow this to be done easily. Do you
always have public IP on one of the interfaces on the machine? Many cloud
providers use NAT, or force you to use a load balancer. Also, in an HA
setting, restricting to single IP is undesirable.

On Tue, 25 Oct 2016, 21:54 Guy Riddle, <notifications@github.com> wrote:

[2016-11-22 18:20] mikedanese commented on #37
_From @luxas on October 26, 2016 15:58_

Eventually we want to be able to use componentconfig to set this via the config file...

[2016-11-22 18:20] mikedanese commented on #37
_From @Crazee on October 27, 2016 15:42_

In my case I have set up an overlay network (on an interface not eth0) connecting the nodes.  It's cloud based and does HA by placing a new outbound connection to the cloud (load balancer, etc.) if the current connection fails.  I need no open inbound ports for running the infrastructure.

I'd be happy if all the bits of each Kubernetes node used only this

[2016-11-22 18:22] mikedanese opened #38 "kubeadm pre-flight output message needs fixing"
_From @errordeveloper on October 17, 2016 7:39_

[code]

Firstly, it has some typos. Secondly, it doesn't tell the user how to skip the checks.

I'd like it to look more like this:

[code]

_Copied from original issue: kubernetes/kubernetes#34927_

[2016-11-22 18:22] mikedanese commented on #38
_From @pires on October 17, 2016 8:25_

This output is not like this anymore. Did you run the latest in master?

[2016-11-22 18:22] mikedanese commented on #38
_From @errordeveloper on October 17, 2016 10:16_

@pires, thanks, will check latest.

[2016-11-22 18:22] mikedanese commented on #38
_From @errordeveloper on October 17, 2016 11:16_

Ok, so new output format looks like this:
[code]

I still think we should add suggestion about the flag.
[code]

Also, I think it's too early to remove alpha status message. If people don't like how it was phrase, let's review, but it needs to be there.

[2016-11-22 18:22] mikedanese commented on #38
_From @pires on October 17, 2016 13:15_

As per pre-flight checks PR, alpha warning only shows up on errors other than pre-flight ones.

[2016-11-22 18:23] mikedanese opened #39 "CentOS 7 hangs at "created API client, waiting for the control plane to become ready""
_From @samnissen on October 13, 2016 13:39_

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Possibly the same issue as #33729 -- different OS.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cl

[2016-11-22 18:23] mikedanese commented on #39
_From @pswenson on October 20, 2016 17:0_

I have the same issue.... trying to debug now

[2016-11-22 18:23] mikedanese commented on #39
_From @jim-yefeng on October 25, 2016 8:14_

The same problem...

[2016-11-22 18:23] mikedanese commented on #39
_From @errordeveloper on October 26, 2016 17:34_

Are all folks commenting here behind a proxy? If so, there is https://github.com/kubernetes/kubernetes/issues/34695 and thereby this is a duplicate.

[2016-11-22 18:23] mikedanese commented on #39
_From @errordeveloper on October 26, 2016 17:35_

If you are using VritualBox and Vagrant, please take a look at the reference implementation here: https://github.com/errordeveloper/kubernetes-ansible-vagrant.

[2016-11-22 18:23] mikedanese commented on #39
_From @madchap on October 26, 2016 19:58_

I am not behind a proxy, and have that issue (and using KVM)

[2016-11-22 18:23] mikedanese commented on #39
_From @samnissen on October 27, 2016 9:52_

Also not behind proxy, and on KVM

[2016-11-22 18:23] mikedanese commented on #39
_From @smalllove1459 on October 27, 2016 10:56_

Using a Proxy and stuck here for hours...

[2016-11-22 18:23] mikedanese opened #40 "deploy cluster fail with kubeadm"
_From @msplayer on October 13, 2016 2:13_

I have 2 machine:
10.86.8.109 (master) CentOS7
10.86.8.110 (cluster node) CentOS7

I use kubeadm to install master, it it works well, "kubectl get pods --all-namespaces" get all pods are running.
When I join a node to cluster, "kubectl get nodes" is still get only one localhost node. and pod "kube-apiserver", "etcd-localhost" restart endless.

I stop and

[2016-11-22 18:24] mikedanese opened #41 "kubeadm output should be clear and beautiful"
_From @mikedanese on October 11, 2016 18:25_

Example of current output:

[code]

I don't know what is important. There's no indentation. There's no color. Let's add some structure and convention to this output.

cc @kubernetes/sig-cluster-lifecycle

_Copied from original issue: kubernetes/kubernetes#34559_

[2016-11-22 18:24] mikedanese commented on #41
_From @maciaszczykm on October 14, 2016 12:24_

It could be good improvement. Me and @floreks would like to discuss what direction we can go and possibly work on implementation.

Please share your feedback and post your ideas.

## Indentation

Indents should be used for all second+ tier messages:

[code]

`\t` indent should be used per every tier of message like in `kubectl`.

## Structure

### Ti

[2016-11-22 18:24] mikedanese commented on #41
_From @pires on October 14, 2016 12:54_

I like this a lot, however I'd leave it until the code stabilizes. Right now, there's too much going on and there's already some rebase hell happening.

[2016-11-22 18:24] mikedanese commented on #41
_From @dgoodwin on October 14, 2016 13:36_

I like the color, indentation, and timestamps.

I'd love to see warnings/errors printed in red/yellow from the new pre-flight checks. (Example here: #34341)

[2016-11-22 18:24] mikedanese commented on #41
_From @errordeveloper on October 14, 2016 13:47_

@maciaszczykm great work, I love it! If you make a PR, please make sure colours can be disable when output is not a TTY, or doesn't suppor colours. I am not sure we have to hold on with this, if it's something you have already implement and can open a PR soon, as long as it doesn't change lines other than ones that print output message.

[2016-11-22 18:24] mikedanese commented on #41
_From @errordeveloper on October 14, 2016 13:48_

We can discuss more colours later, e.g. some extra verbose messages can be grey, but I'd love to get something in for the start!

[2016-11-22 18:24] mikedanese commented on #41
_From @pires on October 14, 2016 14:1_

@errordeveloper there are quite a few PRs already open and some in the works related to the many issues that arose for `kubeadm`. I'm looking to avoid the frustration of handling rebase hell for everyone involved, particularly because CLI is under active development.

[2016-11-22 18:24] mikedanese commented on #41
Awesome stuff!

We won't know the impact on other PRs until we know what the code looks like. I'd recommend opening a PR once this is ready. We can always merge other PRs before this if we think conflicts will be painful.

[2016-11-22 18:24] mikedanese commented on #41
_From @floreks on October 18, 2016 8:15_

It's great to hear that you liked our proposal.

We've investigated couple of possible solutions to add support for coloring. As we can see `kubeadm` module uses mostly `fmt` package for printing. There is `initLogs` called which initializes `glog` but is it actually used somewhere? There are no references in `kubeadm` module.

First option (if `log/glog`

[2016-11-22 18:24] mikedanese commented on #41
_From @floreks on October 25, 2016 8:22_

Any reply would be great. We would like to move forward with it.

[2016-11-22 18:24] mikedanese commented on #41
_From @errordeveloper on October 25, 2016 8:57_

@floreks we are pressing for a snapshot release to get some of the user issues fixed, if you would like to chat about more details, please join us on Slack.

[2016-11-22 18:24] mikedanese commented on #41
_From @errordeveloper on October 25, 2016 9:5_

Yes, we are not using `glog`, as it produces rather noisy output by default, and we haven't had time to investigate custom formating, please feel free to do so.

Please take a look, I think a PR that add custom writer definition would be a good start.

May be. I think there are a few interesting things we could try.

No need, we don't have to stick t

[2016-11-22 18:24] mikedanese commented on #41
_From @floreks on October 25, 2016 10:53_

First option is quite simple but as I've started to work on that I've noticed that `log` lacks option to write to `stderr`. It only offers simple `Print` with custom writer.

I guess this leaves us with second option. I don't want to create whole framework but rather simple solution that will meet our requirements and offer at least 3 levels of logging (I

[2016-11-22 18:24] mikedanese commented on #41
_From @floreks on October 26, 2016 11:2_

Small update to show before/after:

![zrzut ekranu z 2016-10-25 16-24-28](https://cloud.githubusercontent.com/assets/2285385/19723517/e12b4c3e-9b7b-11e6-8bfb-76f04f5185aa.png)

Do we want to color warning messages also? If yes, I think that we should consider changing the color of timestamp so it's not the same as warning color.

I've almost finished initi

[2016-11-22 18:24] mikedanese opened #42 "Cordon, drain and remove a node from the cluster when running kubeadm reset"
_From @bruceauyeung on October 9, 2016 2:32_

currently `kubeadm` command provides a command `join` to join a cluster. but there isn't a command to leave that cluster. maybe `kubeadm leave` is suitable for this circumstance

kubeadm version

_Copied from original issue: kubernetes/kubernetes#34404_

[2016-11-22 18:24] mikedanese commented on #42
_From @errordeveloper on October 13, 2016 9:18_

This makes sense to add. Are you envisioning re-joining another cluster or simplify clean-up and recycle nodes? Right now you can just throw away a node and run `kubectl delete node <name>` to deregister it.

[2016-11-22 18:24] mikedanese commented on #42
_From @pires on October 14, 2016 20:0_

@luxas please assign this to me.

[2016-11-22 18:24] mikedanese commented on #42
_From @pires on October 14, 2016 20:55_

I'll add this behavior after #34807 lands, such that both
`kubeadm reset` and `kubeadm leave` result in the node been marked as unschedulable to the cluster.

Thoughts @luxas @errordeveloper?

[2016-11-22 18:24] mikedanese commented on #42
_From @pires on November 8, 2016 9:22_

This is a list of potential execution steps:
* Mark current node as **unshedulable** _aka_ cordon the node
* [Drain the node](http://kubernetes.io/docs/user-guide/kubectl/kubectl_drain/)
* Restart the `kubelet` with empty or default values, e.g. crash-loop until an API server is provided

1 - Existing `kubectl` code living in `pkg/kubectl/cmd/drain.go` shoul

[2016-11-22 18:25] roberthbailey commented on #27
https://github.com/orgs/kubernetes/teams/kubeadm-collaborator has also been created and seeded with the same folks that I added to kubeadm-maintainers. For this group, all of the initial members are team maintainers to make it easy to quickly expand group membership for folks who want to contribute to kubeadm.

[2016-11-22 18:25] mikedanese commented on #10
This is a duplicate of https://github.com/kubernetes/kubeadm/issues/42 which has more conversation so closing this as a dup.

[2016-11-22 18:25] #10 closed

[2016-11-22 18:26] mikedanese opened #43 "kubeadm should indicate progress"
_From @errordeveloper on September 29, 2016 11:22_

It may take quite long for API server to come up, as this involves pulling Docker images in the background.

We have already discussed adding a progress bar, and it'd would be great. Also, we should consider pulling directly from kubeadm, so we can provide user with a real progress bar. Also, we could consider adding `kubeadm util pull-images` an

[2016-11-22 18:31] jberkus commented on #12
Have the docs moved, or are they still in the same place?

[2016-11-22 18:32] jberkus commented on #12
Also, why is this issue closed?  I haven't written the docs yet.

[2016-11-22 18:38] roberthbailey commented on #27
The kubeadm repo has kubeadm-maintainers set for write access and kubeadm-collaborator set for read access (mimicking those groups in the main repo).

[2016-11-22 18:38] #27 closed

[2016-11-22 18:45] deads2k commented on #23
I don't think we should store usernames and passwords in etcd for any authenticator.

[2016-11-22 18:52] jbeda commented on #23
@deads2k

Why not?  This is a deeper issue, but, at the end of the day, if you have direct unfettered access to etcd you own the cluster.  This only gets harder with HA.

Choices:
* Keep passwords on disk and force users to sync between API servers in HA.
  * [optional] Provide for re-reading file at timed interval or on signal
  * [optional] make file read/write with an API for updating.  Find so

[2016-11-22 18:58] deads2k commented on #23
Being a password managing product moves us into the territory of an authentication provider and that's not the kind of product that I want to be.  I'd prefer to *use* an authentication provider to get identity information.  I don't think that kube's mission should expand to providing authentication and identity management solutions as part of administering container engines.

Making it easy to use

[2016-11-22 19:31] jbeda commented on #23
I'm really torn here.  I totally agree that we don't want to be a user management service.  This is something that should be external.  But we've already cross the bridge of bundling a CA in to the product for similar reasons.  Why a CA and not some simple username/password that we encourage users to outgrow and migrate away from?

But -- what I'm hearing is that you'd like to deprecate basic auth

[2016-11-22 19:42] mikedanese opened #44 "weave-net CrashLoopBackOff for the second node"
_From @avkonst on October 5, 2016 14:12_

**Is this a request for help?**

I think it is an issue either with software or documentation, but I am not quite sure. I have started with a question on stackoverflow: http://stackoverflow.com/questions/39872332/how-to-fix-weave-net-crashloopbackoff-for-the-second-node

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

I think it is a bug or req

[2016-11-22 19:42] mikedanese commented on #44
_From @avkonst on October 5, 2016 14:14_

Please, let me know if it needs to be reported on weave-net project.

[2016-11-22 19:42] mikedanese commented on #44
_From @bach1 on October 5, 2016 16:12_

I reported a similar issue here:
http://stackoverflow.com/questions/39869583/how-to-get-kube-dns-working-in-vagrant-cluster-using-kubeadm-and-weave

[2016-11-22 19:42] mikedanese commented on #44
_From @avkonst on October 5, 2016 19:44_

I wonder if there is any working step by step instruction on how to get kubernetes cluster up and running on a set of virtual machines? I am happy to downgrade the version of kubernetes if it is an option. I am totally confused with all of these options: kube-deploy, kube-up, and other, I found from 3rd parties..

[2016-11-22 19:42] mikedanese commented on #44
_From @andreagardiman on October 6, 2016 13:24_

I have the same issue. I'm using VirtualBox to run 2 VM based on minimal Centos 7 image. All VMs are attached to 2 interfaces, a NAT and an host-only network.
The two VMs are able to connect to each other using the host-only network interfaces.

I tried also with the instructions about Calico and Canal, and I cannot make them work either.

[2016-11-22 19:42] mikedanese commented on #44
_From @avkonst on October 6, 2016 21:45_

It seems Calico has got similar issue:

[code]
What could I try to progress this issue further?

[2016-11-22 19:42] mikedanese commented on #44
_From @tedstirm on October 12, 2016 0:20_

Okay I ran into this exact same issue and here is how I fixed it.

This problem seems to be due to kube-proxy looking at the wrong network interface. If you look at the kube-proxy logs on a worker node you will most likely see something like:
[code]
This is the wrong network interface. The kube-proxy should be looking at the master node's IP address not t

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 9:56_

I am looking at this right now. We have a way of reproducing it with https://github.com/davidkbainbridge/k8s-playground, where we have already applied a fix that makes kubelet pickup desride IP for pods in host network namespaces, however somehow `kubernetes` service IP still points to 10.0.2.15.

[2016-11-22 19:42] mikedanese commented on #44
_From @chenzhiwei on October 12, 2016 10:11_

I encountered this issue too.

Adding --advertise-address when starting kube-apiserver solved this issue.

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 10:32_

@chenzhiwei I've already started diving into the code, and you saved me time to realise how this part worked exactly, thank you so much! This looks like an easy fix for kubeadm, PR is coming shortly.

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 11:14_

Ok, so it turns out that this flag is not enough, we still have an issue reaching `kubernetes` service IP. The simplest solution to this is to run `kube-proxy` with `--proxy-mode=userspace`. To enable this, you can use `kubectl -n kube-system edit ds kube-proxy-amd64 && kubectl -n kube-system delete pods -l name=kube-proxy-amd64`.

[2016-11-22 19:42] mikedanese commented on #44
_From @avkonst on October 12, 2016 12:37_

I am starting kubeadm with --advertise-address option:
kubeadm init --api-advertise-addresses=$master_address
where my $master_address is not NAT interface. It still not enough to remove this issue.

[2016-11-22 19:42] mikedanese commented on #44
_From @avkonst on October 12, 2016 12:39_

"Ok, so it turns out that this flag is not enough, we still have an issue reaching kubernetes service IP. The simplest solution to this is to run kube-proxy with --proxy-mode=userspace. To enable this, you can use kubectl -n kube-system edit ds kube-proxy-amd64 && kubectl -n kube-system delete pods -l name=kube-proxy-amd64."

@errordeveloper Could you, pl

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 12:56_

@avkonst see https://github.com/kubernetes/kubernetes/pull/34607.

Also, you can do this for now:
[code]

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 12:57_

We are going to fix this shortly. If you can hop on Slack, I'd be happy to help.

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 14:49_

As this thread is getting quite noisy, here is a recap.

First, find out what IP address you want to use on the master, it's probably the one on the second network interface. For this example I'll use `IP="172.42.42.1"`.

Next, run `kubeadm init --api-advertise-addresses=$IP`.

Now, you want to append `--advertise-address` to `kube-apiserver` in th

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 14:51_

I'm working on docs for this. Also, @davidkbainbridge has provided a Vagrant+Ansible implementation, and latest fixes are in [my fork](https://github.com/errordeveloper/kubernetes-vagrant-ansible-ubuntu).

[2016-11-22 19:42] mikedanese commented on #44
_From @miry on October 12, 2016 19:47_

@tedstirm @errordeveloper  can you help me with similar problem, I have multiple eth*. And I am using `10.136.0.0/16` for private  network, but `eth1`. For now I fixed issue with weave via open port 443 for eth0 and eth1. But found next issue:

I could not access to the instances from the cluster(example to redis that hosts on separate instance). I found tha

[2016-11-22 19:42] mikedanese commented on #44
_From @tedstirm on October 12, 2016 19:54_

@errordeveloper I didn't have to update the `--proxy-mode` for my kube-proxy.  All I had to do was make sure the `--advertise-address` flag for the Kube API Server was set to a value listed in the `--api-advertise-addresses` flag. I'm just curious as to why you needed to set `--proxy-mode` in your setup and I don't?  Any ideas? I looked over the [fork](h

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 12, 2016 20:14_

@miry

No, it uses [`10.32.0.0/12`](https://github.com/weaveworks/weave-kube/blob/1be4819fdb01b2774144d12cb42bcd2f554e9e5c/image/launch.sh#L6).

So for Weave we have `10.32.0.0/12`, which expands to `10.32.0.1` - `10.47.255.254`.
Kubernetes service range is `10.12.0.0/12`, which expands to `10.0.0.1` - `10.15.255.254`.
And you have `10.136.0.0/16`,

[2016-11-22 19:42] mikedanese commented on #44
_From @geotro on October 13, 2016 0:6_

@errordeveloper, after applying your changes I was able to get kube-dns and weave-net working!

However, kube-scheduler-kubernetes won't run:

[code]

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 13, 2016 0:42_

@geotro sorry, that was a copy/paste bug, I've updated the comments now, it's should had been `kube-apiserver.json` not `kube-scheduler.json`.

[2016-11-22 19:42] mikedanese commented on #44
_From @geotro on October 13, 2016 0:50_

Yeah I figured that out shortly after my comment.  I have everything working as expected now.  Thank you to everyone who participated in fixing this! :)

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 13, 2016 0:51_

@geotro you are welcome! We should eliminate the need for these work-arounds soon, at least as far as week can get without total hacks.

[2016-11-22 19:42] mikedanese commented on #44
_From @bach1 on October 13, 2016 9:18_

Thank you for the feedback. I'm getting closer to a working solution. With my basic Vagrant 2-node cluster (Centos) I now have weave up and running. The kube-dns service is however still not working.
Steps taken:
1) kubeadm init on master with api-advertise-addresses flag set.
2) Update flags in pod manifest and daemonsets per guidelines above.
3) Join node.

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 13, 2016 9:21_

@bach1 could you provide the output of `kubectl -n kube-system describe pod -l name=kube-dns`?

[2016-11-22 19:42] mikedanese commented on #44
_From @miry on October 13, 2016 9:54_

@errordeveloper

I thought it should be `100.64.0.0/12`.

After update api server to use specific ip address the wave could not connect to 100.64.0.1:443.

Digital Ocean has also Anchor Ip to eth0  with mask: 10.10.0.0/16:

[code]

[code]

Updated:

So  I have theory that `100.64.0.1` somehow pointed to  159.203.188.178 even when I specify api server address

[2016-11-22 19:42] mikedanese commented on #44
_From @bach1 on October 13, 2016 10:3_

@errordeveloper sure, see below. I assume the last cni-related errors propagate before weave is installed. The local NAT-interface address is still visible in `Node: master/10.0.2.15`. Is this an issue?
[code]

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 13, 2016 11:2_

@miry

You a right, it's that in the current release, but it changed in master.

Yes, there is an issue with that in some DO regions... you need to pass `--service-cidr`, but not with the build you are using.

If you are online now, it'd be easy if you could find me on Slack. Thanks.

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 13, 2016 11:5_

@bach1 just as a sanity check, could you kill the DNS pod, i.e. `kubectl -n kube-system delete pod -l name=kube-dns --all`, may there is some bug on the CNI end and somehow it's not getting picked up for this pod...

[2016-11-22 19:42] mikedanese commented on #44
_From @bach1 on October 13, 2016 13:22_

@errordeveloper Hmm no luck. After deletion:
[code]

[2016-11-22 19:42] mikedanese commented on #44
_From @miry on October 14, 2016 8:58_

resolved my issue via adding a routing rule to use eth1 for node machines to kubernetes service range ip. Example:

[code]

[2016-11-22 19:42] mikedanese commented on #44
_From @petergardfjall on October 18, 2016 6:24_

Despite following the workaround steps ((1) specify `--api-advertise-addresses` flag when running `kubeadm`, (2) specify `--advertise-address` in `kube-apiserver` manifest, (3) append `--proxy-mode=userspace` to `kube-proxy` daemonset), I'm seeing the exact same issue as @bach1.

That is, after installing the weave pod network, `kube-dns` is still s

[2016-11-22 19:42] mikedanese commented on #44
_From @miry on October 18, 2016 13:50_

@petergardfjall but weave-net  was up 15m ago and dns last event was 25m ago. try to restart dns pod.

[2016-11-22 19:42] mikedanese commented on #44
_From @errordeveloper on October 18, 2016 14:11_

It would be easier if folks could hop on #kubeadm channel in Slack and we
can debug step-by-step. It became really hard to pick individual setup
differences in this thread.

On Tue, 18 Oct 2016, 14:50 Michael Nikitochkin, <notifications@github.com>
wrote:

[2016-11-22 19:42] mikedanese commented on #44
_From @petergardfjall on October 19, 2016 5:43_

@miry I did restart the pod with no luck (by the way, when you say _restart_ a pod, I assume you mean deleting the pod (and have the replica set replace it), right)?

It is stuck in `ContainerCreating`, although it appears to have reached slightly farther, beeing able to at least create containers. However

[code]

But I guess I'll follow @errordeve

[2016-11-22 19:45] mikedanese opened #45 "kubeadm should have a custom flag parser for --cloud-provider"
_From @errordeveloper on October 3, 2016 11:48_

_Copied from original issue: kubernetes/kubernetes#33923_

[2016-11-22 19:46] mikedanese opened #46 "kubeadm should have custom flags for net.IP slice"
_From @errordeveloper on October 3, 2016 11:38_

Right now we do it an ad-host fashion, but should do it properly instead, may be we just need to make a PR to cobra.

_Copied from original issue: kubernetes/kubernetes#33921_

[2016-11-22 19:50] mikedanese opened #47 "kubeadm/images: make registry configurable"
_From @errordeveloper on September 30, 2016 10:30_

We should allow users to use their own private registry instead of GCR. We should also make it clear what images need to be mirrored, ideally we should implement a helper for doing pull/retag/push (i.e. `kubeadm util mirror-images`), as we have a handful of images and users will have to write scripts to do it. People will have to mirror images co

[2016-11-22 19:51] mikedanese opened #48 "kubeadm join usage summary is missing master args"
_From @errordeveloper on October 3, 2016 11:36_

_Copied from original issue: kubernetes/kubernetes#33920_

[2016-11-22 20:11] mikedanese opened #49 "should kubeadm have an assets abstraction?"
_From @errordeveloper on October 3, 2016 12:0_

It'd help to implement dry-run mode, tarball export or other things.

_Copied from original issue: kubernetes/kubernetes#33926_

[2016-11-22 20:11] mikedanese commented on #49
_From @errordeveloper on October 3, 2016 12:21_

We currently write files from every other function, and it's not exactly consistent how it happens and what helper funcs are used for doing it. However, in some cases this provides us with an ability to have more user-friendly error message, which is something we will need to ensure assets abstraction would be capable of. We shouldn't have to docume

[2016-11-22 20:11] mikedanese commented on #49
_From @errordeveloper on October 3, 2016 12:23_

We could add validation of existing files could also come into this, and even warn about deprecated files.

[2016-11-22 20:11] mikedanese commented on #49
_From @luxas on October 25, 2016 20:35_

@errordeveloper Can I close this?
It doesn't seem like we're going that way...

[2016-11-22 20:11] mikedanese opened #50 "discuss CA checksum flag for kubeadm join"
_From @errordeveloper on October 3, 2016 11:31_

It could prevent MITM, where attacker has guessed the JWS token, yet hasn't provided the same CA certificate.

_Copied from original issue: kubernetes/kubernetes#33918_

[2016-11-22 20:12] mikedanese opened #51 "kubeadm should use multi-architecture images when GCR supports Docker distribution API v2 schema 2"
_From @errordeveloper on October 3, 2016 11:19_

cc https://github.com/kubernetes/kubernetes/issues/33916

_Copied from original issue: kubernetes/kubernetes#33917_

[2016-11-22 20:12] mikedanese opened #52 "kubeadm should use k8s.io/client-go where possible"
_From @errordeveloper on October 3, 2016 11:8_

_Copied from original issue: kubernetes/kubernetes#33914_

[2016-11-22 20:13] mikedanese opened #53 "kubeadm UpdateMasterRoleLabelsAndTaints should not use recursion"
_From @errordeveloper on October 3, 2016 11:6_

_Copied from original issue: kubernetes/kubernetes#33913_

[2016-11-22 20:14] mikedanese opened #54 "improve kubeadm progress log and success summary messages"
_From @errordeveloper on October 3, 2016 12:5_

We should use templates instead of format strings, we also shouldn't print multi-line summary message in non-interactive mode. Colours would a great addition too. We should probably also provide a quite mode, default no-too-verbose mode, and a verbose mode.

_Copied from original issue: kubernetes/kubernetes#33929_

[2016-11-22 20:14] mikedanese commented on #54
_From @errordeveloper on October 3, 2016 12:6_

xref https://github.com/kubernetes/kubernetes/pull/33831#issuecomment-250985320

[2016-11-22 20:18] mikedanese opened #55 "kubeadm init and join should allow usage without JWS"
_From @errordeveloper on October 3, 2016 11:0_

We should allow users to manage discover out of band, by copying CA cert or providing a local config file.

_Copied from original issue: kubernetes/kubernetes#33909_

[2016-11-22 20:18] mikedanese commented on #55
_From @pires on October 5, 2016 10:33_

While I'm in favor of configuration files instead of flags (the latter are harder to manage as the number grows), our approach so far has been to provide flags.

[2016-11-22 20:23] deads2k commented on #23
I'd like to see an integration with an oauth server instead.  Given a working genericapiserver library (pulls open for 1.6), agnostic kubectl (CRUD complete in 1.5), and a working single cluster API federator (POC here: https://github.com/openshift/kube-aggregator), I think we can integrate an oauth server which is `kubectl` compatible and provides room to grow without having to reconfigure your c

[2016-11-22 20:35] jbeda commented on #23
Our take with `kubeadm` so far is that there is no clean line between "kick the tires" and "production usage".  As such, we want to make sure that things are reasonable from a security PoV out the gate.  With that, the `--insecure-allow-any-token` isn't the way to go.

I'd love to have a default option here that is usable out the gate for `kubeadm`.  But using a public identity provider is going t

[2016-11-22 20:35] luxas opened #56 "Labels"
@roberthbailey @mikedanese
Can I take the liberty to create some labels for this repo in line with what we have in the main repo plus some extra kubeadm-specific?

I suppose so, but asking anyway if there's some formal rules for this...

[2016-11-22 20:44] mikedanese commented on #56
sure

[2016-11-22 20:50] deads2k commented on #23
We are not far off from being able to carve something like the OpenShift user and group management, which includes an oauth server with external IdP integration along with support for "htpasswd" bootstrapping out of the main OpenShift repo and provide a containerized authentication provider that was designed to integrate with the kube authentication APIs.

If you're looking for a direction that pr

[2016-11-22 20:51] jbeda commented on #23
Well -- it is either we go in this direction or I push to put the basic auth stuff in etcd :)

[2016-11-22 20:55] mikedanese opened #57 "kubeadm shouldn't have to run as root"
_From @errordeveloper on October 3, 2016 10:55_

Right now kubeadm requires root access, but it shouldn't need, once we have APIs for creating pods and PKI secrets in local kubelet.

_Copied from original issue: kubernetes/kubernetes#33907_

[2016-11-22 20:55] mikedanese commented on #57
_From @pires on October 5, 2016 11:12_

@errordeveloper this could also be part of the proposal for a kubelet pod API (#28138). Thoughts?

[2016-11-22 20:55] mikedanese commented on #57
_From @errordeveloper on October 10, 2016 15:10_

@pires yes, I think this is a key UX requirement, but it's somewhat easy to overlook.

[2016-11-22 20:56] mikedanese opened #58 "kubeadm and kube-discovery should use kubeconfig instead of a custom type"
_From @errordeveloper on October 3, 2016 11:1_

_Copied from original issue: kubernetes/kubernetes#33910_

[2016-11-22 20:56] mikedanese commented on #58
_From @luxas on October 15, 2016 7:48_

@dgoodwin can I assign this to you?

cc @jbeda as well

[2016-11-22 20:56] mikedanese commented on #58
_From @dgoodwin on October 16, 2016 15:39_

Technically in Joe's domain per our most recent separation of duties, though things may change in the coming week.

[2016-11-22 20:56] mikedanese commented on #58
_From @jbeda on October 17, 2016 17:10_

This will be resolved as we implement the stuff out of #30707

[2016-11-22 20:57] mikedanese opened #59 "Add a kubeadm verify command"
_From @luxas on October 3, 2016 19:41_

We probably want `kubeadm verify` command that users may run easily in order to check if their node satisfies the requirements kubelet has on the node.

Something like this, but maybe bundled into kubeadm for ease of use: https://github.com/kubernetes/kubernetes/pull/32427

_Copied from original issue: kubernetes/kubernetes#33962_

[2016-11-22 20:57] mikedanese commented on #59
_From @luxas on October 3, 2016 19:42_

cc @kubernetes/sig-cluster-lifecycle

[2016-11-22 20:57] mikedanese commented on #59
Can you explain what this should do in the issue description?

[2016-11-22 20:57] mikedanese commented on #59
_From @luxas on October 3, 2016 20:23_

Updated the description.
I converted it from a note in the kubeadm project, seems like I couldn't add a description when doing that.
Now fixed.

[2016-11-22 20:57] mikedanese commented on #59
Thanks. How is this going to ineract with the nodespec verification that @kubernetes/sig-node has been working on? We should make sure this work is aligned. cc @Random-Liu

[2016-11-22 20:57] mikedanese commented on #59
_From @luxas on October 3, 2016 20:34_

I thought about if we could just include it in the binary in order to get a consistent experience :)
Or if we could kubeadm just spawn the node e2e test the right way...

[2016-11-22 20:57] mikedanese commented on #59
Linking what they've been doing and exposing it as a subcommand in kubeadm sounds good to me.

[2016-11-22 20:57] mikedanese commented on #59
_From @Random-Liu on October 4, 2016 22:10_

Sorry for the delay, just saw this issue. :) This is related to https://github.com/kubernetes/kubernetes/issues/28408.

The system verification will be a simple package which could be integrated into kubeadm easily. Just import and call [`system.Validate()`](https://github.com/kubernetes/kubernetes/pull/32427/files#diff-1797fd733920de6906be5e6850afeba8R

[2016-11-22 20:57] mikedanese commented on #59
_From @euank on October 4, 2016 22:34_

Could `kubeadm verify` exist as a superset of `kubelet verify`? e.g. we could implement `kubelet verify` and test it on the node side, but we could document for users to use `kubeadm verify`.
IIUC the kubelet binary should exist alongside kubeadm (or if not be installed by it?) anyways.

`kubeadm verify` could then follow the flow of
1. Validate kubelet bina

[2016-11-22 20:57] mikedanese commented on #59
_From @pires on October 5, 2016 10:52_

I agree with @euank, add the logic to `kubelet` and have `kubeadm` feed from there.

I also don't think it's premature but I am concerned with the ETA for `kubelet verify`.

[2016-11-22 20:57] mikedanese opened #60 "kubeadm refactor token handling"
_From @errordeveloper on October 3, 2016 11:2_

As discussed in #33262:
- https://github.com/kubernetes/kubernetes/pull/33262/files#r80333662
- https://github.com/kubernetes/kubernetes/pull/33262/files#r80336374
- https://github.com/kubernetes/kubernetes/pull/33262/files#r80333982

_Copied from original issue: kubernetes/kubernetes#33911_

[2016-11-22 20:57] mikedanese commented on #60
_From @luxas on October 25, 2016 20:41_

Assigning @dgoodwin and @pipejakob since they are working on the `kubeadm token` command

[2016-11-22 20:57] mikedanese commented on #60
_From @dims on November 16, 2016 14:39_

This needs to be triaged as a release-blocker or not for 1.5 @errordeveloper @dgoodwin @pipejakob

[2016-11-22 20:57] mikedanese commented on #60
_From @luxas on November 16, 2016 16:32_

Nope not a release blocker

[2016-11-22 20:57] mikedanese opened #61 "review kubeadm return codes"
_From @errordeveloper on October 3, 2016 12:4_

Right now it returns either 0 or 1, there is no way to tell other errors... For example not being able to init due to permission errors should probably return something else, and not being able to join due to bad args vs potential network issue vs already joined... etc.

_Copied from original issue: kubernetes/kubernetes#33928_

[2016-11-22 20:57] mikedanese commented on #61
_From @pires on October 5, 2016 11:1_

A lot of users will want to automate `kubeadm` usage. Returning error codes instead of parsing error logs makes a lot of sense!

[2016-11-22 20:57] mikedanese commented on #61
_From @dmmcquay on October 5, 2016 16:0_

I'll work on this one.

[2016-11-22 20:57] mikedanese commented on #61
_From @pires on October 14, 2016 13:41_

@luxas Fixed by #34341.

[2016-11-22 20:57] mikedanese commented on #61
_From @dmmcquay on October 14, 2016 15:21_

@pires @luxas I was actually thinking of going a little deeper into this issue now that #34341 got merged in and look at more errors that could be handled correctly (permission errors, bad args, potential networks issues).

[2016-11-22 20:57] mikedanese commented on #61
_From @pires on October 15, 2016 13:48_

I can support that but make sure to update docs to reflect that functionality.

[2016-11-22 20:58] mikedanese opened #62 "Discuss which addons kubeadm should deploy by default"
_From @mikedanese on October 3, 2016 19:36_

It's important for kubeadm to deploy critical addons because we want users to have a functioning cluster after the process completes. The current implementation is an new addon management solution which does not align with the larger goals for the addon manager.

cc @kubernetes/sig-cluster-lifecycle

_Copied from original issue: kubernetes/kubernetes#33

[2016-11-22 20:58] mikedanese commented on #62
_From @luxas on October 3, 2016 19:40_

Which addons except dns belongs to this group?
dashboard and heapster?

Should the process be to opt in (`kubeadm init --addons=dashboard,heapster`) or opt-out (`kubeadm init --exclude-addon heapster`) in your mind?

[2016-11-22 20:58] mikedanese commented on #62
_From @bprashanth on October 3, 2016 19:43_

I think the problem is broader than just deployment. I want priority on pods (nice) that kicks in even when they get vertically autoscaled. If there're finite resources on nodes, I want them allocated to the most important pods, even if this means evicting lower priority pods. Does the deployment problem solve itself with such a system?

[2016-11-22 20:58] mikedanese commented on #62
kube-proxy, heapster, maybe dashboard

We should fix addon deployment in general and use that solution rather than inventing yet another.

[2016-11-22 20:58] mikedanese commented on #62
_From @colemickens on October 3, 2016 20:14_

Sorry to rehash this since I've had this conversation a couple times in ephemeral Slack contexts... but what are the arguments against `kube-cert-manager`? It was suggested as an option for our use, but I hesitated because I knew there were reservations... but I don't recall them well enough to argue for/against it's use.

[2016-11-22 20:58] mikedanese commented on #62
_From @luxas on October 3, 2016 20:16_

xref my proposal earlier: kubernetes/kubernetes#23233 (comment)

[2016-11-22 20:58] mikedanese commented on #62
_From @justinsb on October 4, 2016 5:34_

Check out channels, which is how I've avoided the problems of kube-addons: https://github.com/kubernetes/kops/tree/master/channels

It depends on your work on getting prune to work in `kubectl apply` @mikedanese (or will do!), but it also adds a few things for a better UX:

1) a meta-manifest for an addon, listing the various available versions (https://gi

[2016-11-22 20:58] mikedanese commented on #62
_From @errordeveloper on October 11, 2016 10:25_

Current implementation is there only because there was not concrete proposal at the time. There are several ideas floating around, let's make sure we settle on something soon.

[2016-11-22 21:01] mikedanese opened #63 "kubeadm graduation requirements"
_From @mikedanese on August 30, 2016 16:33_

We need to decide on a scope for kubeadm that we feel comfortable strapping a `beta` label onto.

Beta requirements:
- [x] TLS bootstrap in beta https://github.com/kubernetes/features/issues/43
- [ ] Discovery API in beta #31779
- [x] e2e testing

Beta or GA?
- [ ] CA certificate rotation
- [x] join secret rotation

GA requirements:
- [ ] TLS bootstrap

[2016-11-22 21:01] mikedanese commented on #63
_From @lukemarsden on August 30, 2016 17:7_

Thanks for this!

I think it might make sense to distinguish between items such as "phase I => beta" or "phase II => alpha", according to the phase I/II breakdown in https://github.com/kubernetes/kubernetes/pull/30360 ([here](https://github.com/lukemarsden/kubernetes/blob/a692dea1c9be15bf34194fbab81519058fdf19f4/docs/proposals/dramatically-simplify-clus

[2016-11-22 21:01] mikedanese commented on #63
_From @philips on September 9, 2016 16:22_

@mikedanese Sorry to be annoying, but could we use a feature for this? https://github.com/kubernetes/features

[2016-11-22 21:01] mikedanese commented on #63
_From @pires on October 5, 2016 9:59_

Was this even looked at during yesterday's meeting?

[2016-11-22 21:01] mikedanese commented on #63
@pires I think we should discuss what beta means in more depth next meeting.

[2016-11-22 21:01] mikedanese commented on #63
_From @pires on October 5, 2016 22:9_

@mikedanese agreed. Added item on meeting's agenda.

[2016-11-22 21:01] mikedanese commented on #63
_From @pires on October 15, 2016 12:37_

We have agreed to have several `kubeadm` components with each having its own graduation requirements, right? E.g., `kubeadm` could be GA while `kubeadm HA` is alpha.

[2016-11-22 21:01] mikedanese commented on #63
_From @pires on October 15, 2016 13:47_

@mikedanese we should add testing (#34136) as a hard requirement for GA.

[2016-11-22 21:01] mikedanese commented on #63
Added to the beta graduation requirements,

[2016-11-22 21:01] mikedanese commented on #63
_From @mcapuccini on November 20, 2016 15:44_

Hello! Is the HA support for kubeadm under development? Will it be in K8s 1.5?

[2016-11-22 21:01] mikedanese commented on #63
_From @luxas on November 20, 2016 18:42_

HA for everyone is an extremely complicated task given Kubernetes' current architecture without having a cloud provider, central loadbalancer or something like that you can rely on, but eventually we'd like to have HA support for kubeadm, yes.

See the v1.6 objectives which includes steps to get closer to bare-metal HA: https://docs.google.com/document/d/1

[2016-11-22 21:01] mikedanese commented on #63
_From @philips on November 22, 2016 19:34_

@luxas I think HA can be made easier if we fix the API server to advertise DNS instead of just an IP and fix the default "race" where two API servers just flip-flop forever.

[2016-11-22 21:55] philips commented on #23
dex v2 is ready to go and I am sure @ericchiang and @rithujohn191 would be excited to support this happening. They can't hack directly on this at the moment as they are super busy with Dex itself but the entire system is designed to run trivially as a deployment on top of Kubernetes and this is what we do for Tectonic.

[2016-11-22 22:33] jbeda commented on #58
Tagging kubernetes/kubernetes#30707

[2016-11-22 23:14] mikedanese opened #64 "kubeadm should not assume that hostname == nodename"
_From @errordeveloper on September 28, 2016 9:20_

As pointed out by @justinsb, this is often the case on EC2.

_Copied from original issue: kubernetes/kubernetes#33641_

[2016-11-22 23:14] mikedanese commented on #64
_From @errordeveloper on September 29, 2016 8:4_

Just to illustrate this, the problem is about instance IDs vs hostnames.

[2016-11-22 23:14] mikedanese commented on #64
_From @pires on October 5, 2016 10:27_

Since #34031 is biting us here as well, we should have join flags for advertising a specific IP and/or hostname.

[2016-11-22 23:14] mikedanese commented on #64
_From @errordeveloper on October 5, 2016 20:32_

Yes, but we should also get better at determining the default.

[2016-11-22 23:14] mikedanese commented on #64
_From @pires on October 5, 2016 22:20_

I'm always cautious about adding magic stuff but I'm open to review it if anyone adds it.

[2016-11-22 23:14] mikedanese commented on #64
_From @zreigz on October 13, 2016 8:56_

@errordeveloper I've noticed when you want to create cluster using kubeadm and you have VMs with the same hostname then node is invisible when you type `kubectl get nodes` It is related to kubelet and requires to use `--hostname-override` flag to get rid off the problem.
Anyone work on this ? I can take a look in `kubernetes/release` and try to fix it. What

[2016-11-22 23:14] mikedanese commented on #64
_From @zreigz on October 13, 2016 9:37_

I've prepared some proposal for it:
https://github.com/zreigz/release/commit/12a8c950117674498b84097002e9f99877027cf2

[2016-11-22 23:14] mikedanese commented on #64
_From @pires on October 13, 2016 10:13_

@zreigz I too have relied on the IP address, in the past. This seems to be a tricky one.

[2016-11-22 23:14] mikedanese commented on #64
_From @zreigz on October 13, 2016 10:38_

I've just made debian binaries and tested it. It seems to work

[2016-11-22 23:14] mikedanese commented on #64
_From @zreigz on October 13, 2016 11:16_

cc @luxas

[2016-11-22 23:14] mikedanese commented on #64
_From @luxas on October 15, 2016 7:50_

@justinsb @errordeveloper @pires What's the status of this issue?
Anything we can do easily and who should I assign it to?

[2016-11-22 23:14] mikedanese commented on #64
_From @pires on October 15, 2016 9:5_

@luxas you can assign it to me. Here's how my fix would look like:
* Add `--hostname-override <hostname_or_ip>` flag to `kubeadm join`
* When the flag above is set, run `kubelet`  with `--hostname-override <hostname_or_ip>`.

[2016-11-22 23:14] mikedanese opened #65 "Kubeadm on arm..."
_From @derailed on October 26, 2016 17:23_

**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
## kubeadm arm

**Is this a BUG REPORT o

[2016-11-22 23:15] mikedanese commented on #65
_From @errordeveloper on October 26, 2016 17:28_

cc @luxas

[2016-11-22 23:15] mikedanese commented on #65
_From @luxas on October 26, 2016 17:31_

Did you use Hypriot **v1.0.1** as stated in docs?

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on October 26, 2016 18:39_

@luxas I've got the same issue with Hypriot 1.0.0. Where i can download the 1.0.1 image ?
I try to download https://downloads.hypriot.com/hypriotos-rpi-v1.0.1.img.zip, but i've got an error.
Could you send the link for documentation which explain how use Kubeadm on Hypriot. I could try a new installation.

[2016-11-22 23:15] mikedanese commented on #65
_From @derailed on October 26, 2016 18:49_

Nicolas - try https://github.com/hypriot/image-builder-rpi/releases

On Wed, Oct 26, 2016 at 12:40 PM, Nicolas Lamirault <
notifications@github.com> wrote:

[2016-11-22 23:15] mikedanese commented on #65
_From @derailed on October 26, 2016 19:25_

Thanks for pointing this out @luxas! This was indeed a pilot error. Did get further so we can close this issue. Tho the master is now coming up, setting up the pod network using flannel per the docs results in an error.

Yields

Error from server: error when creating "flannel.yml": DaemonSet in version "v1beta1" cannot be handled as a DaemonSet: [pos 111

[2016-11-22 23:15] mikedanese commented on #65
_From @derailed on October 26, 2016 19:31_

Probably a bug in the template, me think the nodeSelector should be:

nodeSelector:
  beta.kubernetes.io/arch: arm

[2016-11-22 23:15] mikedanese commented on #65
_From @luxas on October 26, 2016 19:34_

Ok, seems like the ARCH=arm thing is working poorly then.

Try just running
[code]

[2016-11-22 23:15] mikedanese commented on #65
_From @derailed on October 26, 2016 21:26_

Thank you all for the prompt support!
Finally got this thing up and running. Watching this cluster live on rpi is a beautiful thing.  Totally impressed by your work. kubeadm rocks. Tx!!

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on October 27, 2016 11:52_

using v1.4.4, process go to the end :

[code]

But kubectl fails :

[code]

The etcd container logs : https://gist.github.com/nlamirault/d84e77e02276d158493f15f249324ba5

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on October 27, 2016 12:14_

i try the unstable version of **kubeadm** with reset *command*. Then i try another *init*. Etcd container is up, but i've got logs :

[code]

[2016-11-22 23:15] mikedanese commented on #65
_From @derailed on October 27, 2016 15:50_

Thanks Lucas for pointing this out. I've totally missed it, my bad...

We can close this issue as this clearly was a pilot error. However I am
running into another problem setting up the pod network

The flannel daemonset config does not seem to be valid. Guessing it's
missing spec.selector?? but not for sure as the error given is not super
useful

So

A

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on October 31, 2016 17:3_

OK. I recreate the cluster using a new installation of HypriotOS 1.1.0 and using version unstable of kubeadm.

[code]

I've got errors like that :
[code]

Some informations :
[code]

[2016-11-22 23:15] mikedanese commented on #65
_From @viroos on November 2, 2016 1:39_

Have similar issue.

After adding new node (kubeadm join --token ...) etcd is killed:
etcd-black-pearl                      0/1       Terminating         0          3s

Then it's restarted but everything goes crazy (all kube-system pods are being killed and recreated).

kubectl get nodes returns only master.

I tried f weave and flannel with the same issue.

[2016-11-22 23:15] mikedanese commented on #65
_From @viroos on November 2, 2016 22:59_

Additional info. In /var/log/syslog:
`Nov  2 22:56:29 black-pearl kubelet[1668]: W1102 22:56:29.327317    1668 status_manager.go:450] Failed to update status for pod "_()": Operation cannot be fulfilled on pods "etcd-black-pearl": StorageError: invalid object, Code: 4, Key: /registry/pods/kube-system/etcd-black-pearl, ResourceVersion: 0, AdditionalErrorMsg

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on November 3, 2016 7:52_

I've got same error i think. etcd, scheduler and controller-manager are killed and restarted :

[code]

The etcd container logs :

[code]

[2016-11-22 23:15] mikedanese commented on #65
_From @viroos on November 3, 2016 22:41_

I managed to make it working with Hypriot 1.1.0,  K8 1.4.3  and weave. In my case the issue was the same host name of master and node.

http://larmog.github.io/2016/10/28/installing-kubernetes-on-arm-with-kubeadm/ - this works.

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on November 4, 2016 7:53_

I've got also this logs in /var/log/syslog :
[code]

I'm using k8s with only master. I've got no nodes.

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on November 4, 2016 16:16_

Controller manager have some errors like that :

[code]

[2016-11-22 23:15] mikedanese commented on #65
_From @brendandburns on November 14, 2016 6:29_

I got these errors when I had a lousy SSD card.  Switching to a higher performance card fixed things...

[2016-11-22 23:15] mikedanese commented on #65
_From @nlamirault on November 16, 2016 12:40_

@brendandburns i will try that.

[2016-11-22 23:15] #18 closed

[2016-11-22 23:15] mikedanese opened #66 "weave-net CrashLoopBackOff for the second node"
_From @avkonst on October 5, 2016 14:12_

**Is this a request for help?**

I think it is an issue either with software or documentation, but I am not quite sure. I have started with a question on stackoverflow: http://stackoverflow.com/questions/39872332/how-to-fix-weave-net-crashloopbackoff-for-the-second-node

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

I think it is a bug or req

[2016-11-22 23:15] mikedanese commented on #66
_From @avkonst on October 5, 2016 14:14_

Please, let me know if it needs to be reported on weave-net project.

[2016-11-22 23:15] mikedanese commented on #66
_From @bach1 on October 5, 2016 16:12_

I reported a similar issue here:
http://stackoverflow.com/questions/39869583/how-to-get-kube-dns-working-in-vagrant-cluster-using-kubeadm-and-weave

[2016-11-22 23:15] mikedanese commented on #66
_From @avkonst on October 5, 2016 19:44_

I wonder if there is any working step by step instruction on how to get kubernetes cluster up and running on a set of virtual machines? I am happy to downgrade the version of kubernetes if it is an option. I am totally confused with all of these options: kube-deploy, kube-up, and other, I found from 3rd parties..

[2016-11-22 23:15] mikedanese commented on #66
_From @andreagardiman on October 6, 2016 13:24_

I have the same issue. I'm using VirtualBox to run 2 VM based on minimal Centos 7 image. All VMs are attached to 2 interfaces, a NAT and an host-only network.
The two VMs are able to connect to each other using the host-only network interfaces.

I tried also with the instructions about Calico and Canal, and I cannot make them work either.

[2016-11-22 23:15] mikedanese commented on #66
_From @avkonst on October 6, 2016 21:45_

It seems Calico has got similar issue:

[code]
What could I try to progress this issue further?

[2016-11-22 23:15] mikedanese commented on #66
_From @tedstirm on October 12, 2016 0:20_

Okay I ran into this exact same issue and here is how I fixed it.

This problem seems to be due to kube-proxy looking at the wrong network interface. If you look at the kube-proxy logs on a worker node you will most likely see something like:
[code]
This is the wrong network interface. The kube-proxy should be looking at the master node's IP address not t

[2016-11-22 23:15] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 9:56_

I am looking at this right now. We have a way of reproducing it with https://github.com/davidkbainbridge/k8s-playground, where we have already applied a fix that makes kubelet pickup desride IP for pods in host network namespaces, however somehow `kubernetes` service IP still points to 10.0.2.15.

[2016-11-22 23:15] mikedanese commented on #66
_From @chenzhiwei on October 12, 2016 10:11_

I encountered this issue too.

Adding --advertise-address when starting kube-apiserver solved this issue.

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 10:32_

@chenzhiwei I've already started diving into the code, and you saved me time to realise how this part worked exactly, thank you so much! This looks like an easy fix for kubeadm, PR is coming shortly.

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 11:14_

Ok, so it turns out that this flag is not enough, we still have an issue reaching `kubernetes` service IP. The simplest solution to this is to run `kube-proxy` with `--proxy-mode=userspace`. To enable this, you can use `kubectl -n kube-system edit ds kube-proxy-amd64 && kubectl -n kube-system delete pods -l name=kube-proxy-amd64`.

[2016-11-22 23:16] mikedanese commented on #66
_From @avkonst on October 12, 2016 12:37_

I am starting kubeadm with --advertise-address option:
kubeadm init --api-advertise-addresses=$master_address
where my $master_address is not NAT interface. It still not enough to remove this issue.

[2016-11-22 23:16] mikedanese commented on #66
_From @avkonst on October 12, 2016 12:39_

"Ok, so it turns out that this flag is not enough, we still have an issue reaching kubernetes service IP. The simplest solution to this is to run kube-proxy with --proxy-mode=userspace. To enable this, you can use kubectl -n kube-system edit ds kube-proxy-amd64 && kubectl -n kube-system delete pods -l name=kube-proxy-amd64."

@errordeveloper Could you, pl

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 12:56_

@avkonst see https://github.com/kubernetes/kubernetes/pull/34607.

Also, you can do this for now:
[code]

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 12:57_

We are going to fix this shortly. If you can hop on Slack, I'd be happy to help.

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 14:49_

As this thread is getting quite noisy, here is a recap.

First, find out what IP address you want to use on the master, it's probably the one on the second network interface. For this example I'll use `IP="172.42.42.1"`.

Next, run `kubeadm init --api-advertise-addresses=$IP`.

Now, you want to append `--advertise-address` to `kube-apiserver` in th

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 14:51_

I'm working on docs for this. Also, @davidkbainbridge has provided a Vagrant+Ansible implementation, and latest fixes are in [my fork](https://github.com/errordeveloper/kubernetes-vagrant-ansible-ubuntu).

[2016-11-22 23:16] mikedanese commented on #66
_From @miry on October 12, 2016 19:47_

@tedstirm @errordeveloper  can you help me with similar problem, I have multiple eth*. And I am using `10.136.0.0/16` for private  network, but `eth1`. For now I fixed issue with weave via open port 443 for eth0 and eth1. But found next issue:

I could not access to the instances from the cluster(example to redis that hosts on separate instance). I found tha

[2016-11-22 23:16] mikedanese commented on #66
_From @tedstirm on October 12, 2016 19:54_

@errordeveloper I didn't have to update the `--proxy-mode` for my kube-proxy.  All I had to do was make sure the `--advertise-address` flag for the Kube API Server was set to a value listed in the `--api-advertise-addresses` flag. I'm just curious as to why you needed to set `--proxy-mode` in your setup and I don't?  Any ideas? I looked over the [fork](h

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 12, 2016 20:14_

@miry

No, it uses [`10.32.0.0/12`](https://github.com/weaveworks/weave-kube/blob/1be4819fdb01b2774144d12cb42bcd2f554e9e5c/image/launch.sh#L6).

So for Weave we have `10.32.0.0/12`, which expands to `10.32.0.1` - `10.47.255.254`.
Kubernetes service range is `10.12.0.0/12`, which expands to `10.0.0.1` - `10.15.255.254`.
And you have `10.136.0.0/16`,

[2016-11-22 23:16] mikedanese commented on #66
_From @geotro on October 13, 2016 0:6_

@errordeveloper, after applying your changes I was able to get kube-dns and weave-net working!

However, kube-scheduler-kubernetes won't run:

[code]

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 13, 2016 0:42_

@geotro sorry, that was a copy/paste bug, I've updated the comments now, it's should had been `kube-apiserver.json` not `kube-scheduler.json`.

[2016-11-22 23:16] mikedanese commented on #66
_From @geotro on October 13, 2016 0:50_

Yeah I figured that out shortly after my comment.  I have everything working as expected now.  Thank you to everyone who participated in fixing this! :)

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 13, 2016 0:51_

@geotro you are welcome! We should eliminate the need for these work-arounds soon, at least as far as week can get without total hacks.

[2016-11-22 23:16] mikedanese commented on #66
_From @bach1 on October 13, 2016 9:18_

Thank you for the feedback. I'm getting closer to a working solution. With my basic Vagrant 2-node cluster (Centos) I now have weave up and running. The kube-dns service is however still not working.
Steps taken:
1) kubeadm init on master with api-advertise-addresses flag set.
2) Update flags in pod manifest and daemonsets per guidelines above.
3) Join node.

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 13, 2016 9:21_

@bach1 could you provide the output of `kubectl -n kube-system describe pod -l name=kube-dns`?

[2016-11-22 23:16] mikedanese commented on #66
_From @miry on October 13, 2016 9:54_

@errordeveloper

I thought it should be `100.64.0.0/12`.

After update api server to use specific ip address the wave could not connect to 100.64.0.1:443.

Digital Ocean has also Anchor Ip to eth0  with mask: 10.10.0.0/16:

[code]

[code]

Updated:

So  I have theory that `100.64.0.1` somehow pointed to  159.203.188.178 even when I specify api server address

[2016-11-22 23:16] mikedanese commented on #66
_From @bach1 on October 13, 2016 10:3_

@errordeveloper sure, see below. I assume the last cni-related errors propagate before weave is installed. The local NAT-interface address is still visible in `Node: master/10.0.2.15`. Is this an issue?
[code]

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 13, 2016 11:2_

@miry

You a right, it's that in the current release, but it changed in master.

Yes, there is an issue with that in some DO regions... you need to pass `--service-cidr`, but not with the build you are using.

If you are online now, it'd be easy if you could find me on Slack. Thanks.

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 13, 2016 11:5_

@bach1 just as a sanity check, could you kill the DNS pod, i.e. `kubectl -n kube-system delete pod -l name=kube-dns --all`, may there is some bug on the CNI end and somehow it's not getting picked up for this pod...

[2016-11-22 23:16] mikedanese commented on #66
_From @bach1 on October 13, 2016 13:22_

@errordeveloper Hmm no luck. After deletion:
[code]

[2016-11-22 23:16] mikedanese commented on #66
_From @miry on October 14, 2016 8:58_

resolved my issue via adding a routing rule to use eth1 for node machines to kubernetes service range ip. Example:

[code]

[2016-11-22 23:16] mikedanese commented on #66
_From @petergardfjall on October 18, 2016 6:24_

Despite following the workaround steps ((1) specify `--api-advertise-addresses` flag when running `kubeadm`, (2) specify `--advertise-address` in `kube-apiserver` manifest, (3) append `--proxy-mode=userspace` to `kube-proxy` daemonset), I'm seeing the exact same issue as @bach1.

That is, after installing the weave pod network, `kube-dns` is still s

[2016-11-22 23:16] mikedanese commented on #66
_From @miry on October 18, 2016 13:50_

@petergardfjall but weave-net  was up 15m ago and dns last event was 25m ago. try to restart dns pod.

[2016-11-22 23:16] mikedanese commented on #66
_From @errordeveloper on October 18, 2016 14:11_

It would be easier if folks could hop on #kubeadm channel in Slack and we
can debug step-by-step. It became really hard to pick individual setup
differences in this thread.

On Tue, 18 Oct 2016, 14:50 Michael Nikitochkin, <notifications@github.com>
wrote:

[2016-11-22 23:16] mikedanese commented on #66
_From @petergardfjall on October 19, 2016 5:43_

@miry I did restart the pod with no luck (by the way, when you say _restart_ a pod, I assume you mean deleting the pod (and have the replica set replace it), right)?

It is stuck in `ContainerCreating`, although it appears to have reached slightly farther, beeing able to at least create containers. However

[code]

But I guess I'll follow @errordeve

[2016-11-22 23:16] #44 closed

[2016-11-22 23:19] smarterclayton commented on #23
I think having a couple of exploration to go down here makes sense.  Dev is decoupled from Kube, the OpenShift OAuth server is partially decoupled but also has some integrations I think will be important in the long run.  Being able to credibly integrate auth doesn't necessarily mean locking into one solution.

[2016-11-22 23:20] smarterclayton commented on #23
Couple of "paths of exploration".  Also there is Keystone, Keycloak, and IAM integrations to consider.

One really useful point is ensuring some authentication and authorization can be local to a cluster (to isolate failure domains), while still being federated meaningfully.

[2016-11-22 23:58] jberkus commented on #6
Just tested the latest packages.  False positives appear to be fixed.  As such, this issue can be closed.  However, I can't close it because I don't own it anymore.

[2016-11-23 02:28] roberthbailey commented on #56
Yes, create whatever labels you feel are useful.

[2016-11-23 06:21] sandys commented on #3
@mikedanese @luxas if I could ask a question... is this statement still valid, now that kubeadm is split into its own repository ?

Will kubeadm not have its own release cycle now ... or will you guys only release when k8s core gets released. Because we are really looking forward to this feature (which allow us to scale up our k8s experimentation).

Additionally, this was announced today - https:/

[2016-11-23 10:25] pires commented on #23
Can we have a minimalist IAM component that uses etcd as storage and integrates with external IAM through Oauth 2.0 (OIDC, UMA profile, etc.)? This would mean that we can both satisfy small/dev and big/production clusters.

[2016-11-23 10:31] pires commented on #57
@ethernetdan @aaronlevy wdyt?

[2016-11-23 10:33] pires commented on #59
Leaving a gentle reminder that the `kubelet` may not be present as a binary but rather as a `hyperkube` container, e.g. on CoreOS.

[2016-11-23 10:33] kad commented on #57
What about "reset" functionality ? it's not only about cleaning up pods.

[2016-11-23 10:35] pires commented on #64
@luxas @errordeveloper changing `kubelet` flags means changing the `kubelet` systemd unit, right?
I was hoping for `kubelet` dynamic settings to land but I lost track of it. Thoughts?

[2016-11-23 10:36] pires commented on #48
I believe this was fixed already, right @errordeveloper?

[2016-11-23 10:44] pires commented on #42
I raised discussion about how to change `kubelet` flags in #64.

Really need thoughts before proceeding.

[2016-11-23 10:46] pires commented on #28
#64 and #42 are potential use-cases for this.

[2016-11-23 10:47] pires commented on #57
@kad I think you got the issue wrong here. Are you referring to #42?

[2016-11-23 10:49] pires commented on #7
This may be caused by #64.

[2016-11-23 11:08] zen commented on #3
Guys, I have an impression that we are building systemd here. Why not leverage other tools for that, but still keeping code separation. I understand new features are cool, but kubeadm mission originally was not to build software.

[2016-11-23 11:21] ivan4th commented on #3
[kubeadm-dind-cluster](https://github.com/Mirantis/kubeadm-dind-cluster) almost does this, BTW. It builds k8s from local source and starts a Docker-in-Docker cluster using kubeadm and the binaries it just built, so 'pointing to git url' can be achieved with a shell one-liner, or I can add it to the script without noticeable effort. It's not "completely real" cluster, but still a good testing groun

[2016-11-23 11:59] sandys commented on #3
@zen IMHO building is launching a build container. i dont think we are advocating adding a compiler to kubeadm

[2016-11-23 12:08] kad commented on #57
@pires  no, #42 is about other thing. At the moment, if ```kubeadm reset``` performed, it does following operations:
[code]
Some of file operations are ok to be done as non-root, if permissions on certain directories would be enough for user under which kubeadm is executed. But some of steps like unmounts, restarts of the kubelet might still require root privileges.

[2016-11-23 12:15] pires commented on #57
I'm sure they are related as `leave` would _reuse_ `reset`, but I get what you mean.

@errordeveloper we have to decide if whether we can change the filesystem and manage the `kubelet` service state (we need root) or not (we don't need root).

[2016-11-23 12:41] kad commented on #57
code-wise, they might be re-using some bits, but ```reset``` is less graceful than ```leave``` in my opinion.

In theory, if kubelet would allow locally to do exec into running containers of e.g. etcd and kube-proxy, it would be possible to execute in privileged mode some of filesystem operations even if kubeadm run as non-root. but that's a bit of hackish workaround, which might not work properly

[2016-11-23 15:49] luxas commented on #6
Ok, thanks @jberkus!

[2016-11-23 15:49] #6 closed

[2016-11-23 15:54] luxas commented on #48
Fixed with https://github.com/kubernetes/kubernetes/pull/36040

[2016-11-23 15:54] #48 closed

[2016-11-23 15:57] luxas commented on #42
We need to discuss what the semantics would be regarding `leave` vs `reset`.
Could we just fix `reset` to actually remove the node from the cluster as well (right now the node will be left in `kubectl get no` with status `NotReady`)

What would the use-case for `leave` be that `reset` wouldn't do?

[2016-11-23 15:58] mikedanese commented on #3
We publish builds from master hourly which will be usable by kubeadm. I don't think refactoring or build system to build locally on deploys is an effective use of time out in scope for kubeadm. It solves your dogfood requirement.

[2016-11-23 16:08] pires commented on #42
@luxas _leaving_ a cluster is different than _reset_ everything, including stopping the `kubelet`.

[2016-11-23 16:18] philips commented on #23
@smarterclayton I don't think anyone is talking about lock-in here, Dex is just built on top of the bog standard OIDC integration in API server and `kubectl` that went into 1.3.

@pires Dex backs by Kubernetes TPRs and we could add an etcd backend but I feel like using TPRs is more correct.

[2016-11-23 16:30] luxas commented on #57
I don't think this is a priority item. Because we set up kubernetes on a node, which will effectively act as  root on the node, it's not a problem to run the setup process temporarily as root.

IMO, we should focus on other things right now, but if someone has something clever to share, please speak out of course!

re: `reset` vs `leave`, please discuss that in the right thread

[2016-11-23 16:33] luxas commented on #42
@pires so when would you _leave_ but not _reset_?
That's what I want to know...

Are you thinking about something like a node restart? But that can be fixed with a plain kubectl command...
I just want to figure out the use case for `leave`

[2016-11-23 16:36] luxas commented on #3
@mikedanese Yes

@ivan4th I was never talking about building anything on-host, just creating some scripts that would be usable for our CI that would download and test latest k8s core head against the latest kubeadm version.

[2016-11-23 16:39] luxas commented on #28
We are blocked on this one from other persons/sigs: https://github.com/kubernetes/kubernetes/issues/27980

[2016-11-23 17:24] pires commented on #42
@luxas i joined master 1. now i want my node to join a different master. Leave is just reset but with keeping the system ready to re-run `kubeadm join`. More importantly to me, reset needs to cordon and drain.

[2016-11-23 17:43] luxas commented on #42
To me it sounds like you want:
 - reset to do cordon and drain (which I'm a huge +1 on, I just haven't had that extra time)
 - leave to just run `reset` and `systemctl start kubelet`

And it sounds like `leave` then is unnecessary (unless we decide to rename `reset` to `leave` indeed)
We could consider `reset` to run `systemctl start kubelet` as well, but I think we should prefer to have as little

[2016-11-23 17:50] errordeveloper commented on #42
I agree that 'leave' doesn't seem necessary. I would rather contemplate
'join --reset'.

On Wed, 23 Nov 2016, 17:43 Lucas Käldström, <notifications@github.com>
wrote:

[2016-11-23 17:54] luxas commented on #42
@errordeveloper I still want the top-level command, but I think we can just do fine with `reset` (or `leave` if we want to call it that)

[2016-11-23 17:55] luxas commented on #65
I'm closing this, as everything we can do to provide kubeadm on arm was done from the beginning (the initial v1.4 release), and from that it was enhanced a lot in the second revision, so it should be really smooth now.

[2016-11-23 17:55] #65 closed

[2016-11-23 17:57] luxas opened #67 "Move release notes to this repo"
Right now they are in https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/kubeadm.md#releases-and-release-notes, which is a bad place.

Now when we have this repo, they should be moved over here.

[2016-11-23 17:58] luxas commented on #62
@mikedanese Which addons do we consider critical other than dns?

[2016-11-23 18:10] kad commented on #62
I think, dashboard and heapster (standalone version) are essentials. And opt-in solution for them is the best.

[2016-11-23 18:24] sandys commented on #3
this is fine.. if push comes to shove, i can use the same infrastructure to
point to my own builds.

however i would like to reiterate (and given the excitement around the dind
project above) that we as early adopters would love a seamless way to build
k8s and deploy it.

On Nov 23, 2016 9:28 PM, "Mike Danese" <notifications@github.com> wrote:

We publish builds from master hourly which will be us

[2016-11-23 18:30] pires commented on #42
Feel free to reassign this to anyone else.

[2016-11-23 19:12] roberthbailey commented on #56
As you are creating labels, keep in mind the recent announcement of the name changes: https://groups.google.com/d/msg/kubernetes-dev/LEtIxeG0i84/kQDS-7AnCAAJ

[2016-11-23 19:24] mikedanese commented on #62
Heapster, kube-dns, kube-proxy, pod network overlay depending on the environment and probably the dashboard

[2016-11-23 19:27] mikedanese commented on #67
I disagree with this. Docs should remain in the docs repo so they are published to the site.

[2016-11-23 19:44] kad commented on #42
```reset``` is applicable for both master and slave nodes, where ```leave``` mostly for non-master nodes (where graceful shutdown and removing from cluster is needed)

[2016-11-23 19:48] v1k0d3n commented on #3
this is huge! i'm a major fan of this approach. currently we're building our own cube-controller and having to update the manifests after kubeadm for some rdb content in 1.5.0beta1. would love to see this feature added.

[2016-11-23 19:52] luxas commented on #67
They should never have gone into the website docs, we just had no other place to put them at the time.
Why wouldn't we move them over here in a CHANGELOG like the main repo?
It's not an user-facing document, but more a developer facing doc.

[2016-11-23 19:54] luxas commented on #66
@errordeveloper @lukemarsden  What's the status of this issue?
I guess the core issue is fixed with the latest weave version...

[2016-11-23 19:55] luxas commented on #55
@mikedanese's PR will fix this: https://github.com/kubernetes/kubernetes/pull/36462

[2016-11-23 20:00] mikedanese commented on #67
Release notes are definitely user facing. Release notes are meant to be read by users before upgrading. It would be very nice to publish them on the site.

[2016-11-23 20:36] kad commented on #62
@mikedanese I hope that under "pod network" you mean different options for most common solutions (flannel, calico, weave, romana?, canal?) ?
Manifests for those addons will be part of kubeadm repo or it will be fetching from somewhere else ?

[2016-11-23 21:09] mikedanese commented on #62
I hadn't thought about the implementation, just what needs to run to have a minimally functional cluster.

[2016-11-24 01:52] bruceauyeung commented on #53
this is already fixed by https://github.com/kubernetes/kubernetes/pull/36625

[2016-11-24 07:50] akarasik opened #68 "kubeadm init hangs on creating kube-discovery and fails to create kube-dns"
Hello,

I'm trying to create a new kubernetes cluster using kubeadm.
I'm running Ubuntu 16.04 on Dell bare metal servers, and pre installed docker 1.11.2.
Following the [kubeadm guide](http://kubernetes.io/docs/getting-started-guides/kubeadm/), I running the following commands:
[code]
And then trying to set up the first kubernetes server, which hangs for 10 minutes:
[code]

Eventualy it continues:

[2016-11-24 16:18] luxas commented on #68
cc @dgoodwin thoughts on the discovery part?

[2016-11-25 03:59] k8sdude88 commented on #39
I had this issue on a DigitalOcean droplet running Debian Jessie.  No proxy issues etc.

It turns out that in my case the kubelet refused to start containers due to memory accounting cgroup not being enabled.

To fix it I did the old standby: edited `/etc/default/grub` line `GRUB_CMDLINE_LINUX` to include `cgroup_enable=memory` arg and rebooted the VM.  Then running `kubeadm init` from scratch wor

[2016-11-25 06:49] luxas commented on #39
We do know it, and this is exactly why we've chosen to not support debian yet, since it isn't presented in a good way. We chose early on to use sig-node's system verification check, but it wasn't ready before v1.5.

Now we have that working as well, and my PR for that will soon be merged: https://github.com/kubernetes/kubernetes/pull/36334
The next revision released of kubeadm will include this pa

[2016-11-25 12:22] codablock opened #69 "prefilight checks fail when external etcd uses /var/lib/etcd as data directory"
When I try to create a custom/external etcd cluster which runs on the same host, I currently can not use /var/lib/etcd as data directory. The reason is, that etcd is already running when kubeadm init is called and the preflight checks fail due to /var/lib/etcd not being empty.

I would assume that the preflight checks to not check /var/lib/etcd when --external-etcd-endpoints is specified. Also, I

[2016-11-25 13:03] dgoodwin commented on #68
Presumably your secret exists:

[code]

That error looks like what you would see with selinux before we unconfined the discovery pod, but we did unconfine it, and this is Ubuntu which most likely isn't using selinux.

Also not great that the output claims kube-discovery is ready when it appears it actually is not. We might have some bad error handling there.

Regardless if the secret exists on you

[2016-11-25 16:09] luxas commented on #69
Feel free to send a PR and we'll see which parts we want, overall sounds good to me.

Re componentconfig: It's possible to already set `--config my-kubeadm-init-yaml-file.yaml` and let init or join take its options from there. We will and should document that,

[2016-11-25 16:13] luxas commented on #67
I just think we should be consistent with all other projects.
The main kubernetes repo and minikube both have the CHANGELOG in the repo, not in the docs

We would of course link to the changelog/release notes from the site, but they should not be there IMO.

If we want all changelogs in the docs repo, we should be consistent and do it for all projects in that case.

[2016-11-25 16:35] luxas opened #70 "Release third stable revision of kubeadm"
We will release the third revision of kubeadm from the kubernetes/kubernetes before we move the kubeadm code over here.

That new version will feature the following PRs and will have the following CHANGELOG:
 - Incorporated the system verification check into the preflight checks [#36334](https://github.com/kubernetes/kubernetes/pull/36334)
 - The control plane version automatically defaults to the

[2016-11-25 17:13] kad commented on #5
@druidsbane  you can try to use binary from here: https://github.com/kad/kubernetes/releases/tag/i36573 to see if it works for your case.

[2016-11-25 17:24] vide opened #71 "Cannot pull images from a private registry with authentication"
Hello

just created a two node (master+minion) cluster with kubeadm following http://kubernetes.io/docs/getting-started-guides/kubeadm/, and trying to run a pod with images on an internal, private registry with authentication (following http://kubernetes.io/docs/user-guide/images/#configuring-nodes-to-authenticate-to-a-private-repository) and it doesn't work.
`docker login private-registry.interna

[2016-11-25 17:48] luxas commented on #1
@dgoodwin I think this issue is fixed with your PR https://github.com/kubernetes/kubernetes/pull/36083, right?

[2016-11-25 17:53] dgoodwin commented on #1
@luxas no I don't think so as this is /var/lib/kubelet, which I didn't touch in that pr. When combined with https://github.com/kubernetes/kubernetes/issues/37063 I think something is up, probably deb specific. It almost seems like kubeadm init is being run by default out of the box after package installation.

@ndtreviv what was actually in /var/lib/kubelet? Did it look like this gist? https://gis

[2016-11-25 17:59] luxas commented on #4
This is probably due to that you haven't set `--cloud-provider=aws` on all kubelets, including the master kubelet.

This behavior is documented on http://kubernetes.io/docs/admin/kubeadm/

The main tracking issue for the right functionality (to allow the `kubeadm init` parameter to flow down to all kubelets) is https://github.com/kubernetes/kubeadm/issues/28

Closing for now, @jberkus please comme

[2016-11-25 17:59] #4 closed

[2016-11-25 17:59] luxas commented on #7
PR is here: https://github.com/kubernetes/kubernetes/pull/37084

[2016-11-25 18:02] dgoodwin commented on #70
Could we pick up https://github.com/kubernetes/kubernetes/pull/35805 before the migration or does this need to wait?

[2016-11-25 18:03] luxas commented on #70
I will pick up all PRs before I move the code over to this repo, but before that I will release a stable version of kubeadm from kubernetes master.

Your PR is kind of "unstable", so I don't think it should be in the release, but it'll get merged the day after :)

[2016-11-25 18:05] dgoodwin commented on #70
Works for me, thanks!

[2016-11-25 18:08] luxas commented on #9
I think this is fixed in the latest version

[2016-11-25 18:08] #9 closed

[2016-11-25 18:10] luxas commented on #11
This is documented both on the kubeadm page and on the network plugin page

[2016-11-25 18:10] #11 closed

[2016-11-25 18:11] luxas commented on #12
@jberkus The docs are in the same place https://github.com/kubernetes/kubernetes.github.io

[2016-11-25 18:15] luxas commented on #15
We've now documented that you should use `--kubeconfig /etc/kubernetes/admin.conf` on nodes.

[2016-11-25 18:15] #15 closed

[2016-11-25 18:16] luxas commented on #16
PR here: https://github.com/kubernetes/kubernetes/pull/35921

[2016-11-25 18:19] luxas commented on #17
We should set up a CI with docker-in-docker stuff.

@errordeveloper @zreigz Can you take this on?
At least we should document somewhere how to run kubeadm inside a container...

[2016-11-25 18:22] luxas commented on #20
Closing in favor for #62

[2016-11-25 18:22] #20 closed

[2016-11-25 18:23] luxas commented on #21
@dgoodwin @errordeveloper What's the status here?
Should we just document this as a known issue?

[2016-11-25 18:26] luxas commented on #23
Can I assign this to someone?

[2016-11-25 18:26] dgoodwin commented on #21
I'd say document, preflight check to warn if firewalld enabled, and long term try to actually make sure firewalld rules exist and the port is open, though this could be quite tricky.

[2016-11-25 18:27] luxas commented on #21
@dgoodwin Could you do a quick patch that spits out a preflight warning if firewalld is enabled?
Can I assign to you?

[2016-11-25 18:28] dgoodwin commented on #21
Sure I will do that now.

[2016-11-25 18:31] luxas commented on #21
Thanks!

I'm going through all issues now and am trying to minimize the amount of them.
Low-hanging-fruits like this would be a pleasure to get rid of :)

Additionally, the life for some could get easier when we're showing this warning

[2016-11-25 18:32] luxas commented on #25
This was fixed in https://github.com/kubernetes/kubernetes/pull/34719, and is in the latest version, closing...

[2016-11-25 18:32] #25 closed

[2016-11-25 18:33] luxas commented on #29
Closing in favor for #21

[2016-11-25 18:33] #29 closed

[2016-11-25 18:36] luxas commented on #30
Closing in favor for #66

[2016-11-25 18:36] #30 closed

[2016-11-25 18:40] luxas commented on #32
Closing in favor for #28, which would fix this issue as well.

[2016-11-25 18:40] #32 closed

[2016-11-25 18:42] luxas commented on #34
@bulletRush can you send a documentation patch how to pre-pull the images?

[2016-11-25 18:44] luxas commented on #35
Closing as probably fixed with the latest version

[2016-11-25 18:44] #35 closed

[2016-11-25 18:46] luxas commented on #36
The PR is here: https://github.com/kubernetes/kubernetes/pull/36462

[2016-11-25 18:47] luxas commented on #37
Ping @errordeveloper, what should we do about this issue?
Any ideas?

[2016-11-25 18:48] luxas commented on #43
We discussed this, and decided not to implement a docker-only feature.
Instead we should focus on making the overall output of kubeadm better.

[2016-11-25 18:48] #43 closed

[2016-11-25 18:58] luxas commented on #46
Closing this as the values on the API struct has to be `string`s, we just have to parse them at `Run()`-time

[2016-11-25 18:58] #46 closed

[2016-11-25 18:59] luxas commented on #47
We have a first PR for that already here: https://github.com/kubernetes/kubernetes/pull/35948

[2016-11-25 18:59] luxas commented on #49
Closing, @errordeveloper comment if you strongly disagree...

[2016-11-25 18:59] #49 closed

[2016-11-25 19:01] luxas commented on #51
I've been told v2 schema 2 will be rolled out to gcr.io in mid-December, so we can probably target this v1.6

[2016-11-25 19:13] luxas commented on #52
First part of this is done: https://github.com/kubernetes/kubernetes/pull/36673

I'm not sure if we should switch over to client-go fully, but I think so.

cc @mikedanese @taimir

@taimir Can you take this on after we've moved the source to this repository?

[2016-11-25 19:16] luxas commented on #54
a) Templates instead of format strings: done
b) Better certification logging: done
c) Colors: https://github.com/kubernetes/kubeadm/issues/41
d) Log level: https://github.com/kubernetes/kubeadm/issues/41

Closing in favor for: https://github.com/kubernetes/kubeadm/issues/41

[2016-11-25 19:16] #54 closed

[2016-11-25 19:17] luxas commented on #55
Duplicate of #36

[2016-11-25 19:17] #55 closed

[2016-11-25 19:22] luxas commented on #58
ref: https://github.com/kubernetes/kubernetes/pull/36101 and https://github.com/kubernetes/kubernetes/pull/35805

After those we need to hook up the `kubeadm token` commands to the BootstrapSigner backend...
This is a high-priority issue.

[2016-11-25 19:29] luxas commented on #60
A lot related to #58

One PR already up for this: kubernetes/kubernetes#35805

[2016-11-25 19:30] luxas commented on #61
What's the status of this @dmmcquay?

[2016-11-25 19:33] jbeda commented on #23
I'll take this one.  Having a longer term solution here is necessary and I'm happy to coordinate.

[2016-11-25 19:37] luxas commented on #59
Closing this since the functionality described here won't be exactly as described, instead the system verification check will go into the preflight checks in https://github.com/kubernetes/kubernetes/pull/36334 and we will design another command than `verify` for cluster-wide conformance testing

[2016-11-25 19:37] #59 closed

[2016-11-25 19:37] zreigz commented on #17
Sounds good for me. For sure we need to put all this stuff in docker image plus some config/start scripts to distinguish between master and node. Good start would be to create project for it like kubernetes/kubeadm-docker. It would be also right place for Dockerfile ,scripts and documentation

[2016-11-25 19:43] luxas commented on #17
Create that as a private project first under zreigz/ and eventually we'll probably merge that code into this repo.

But first, prototype in your own space and we'll see how it goes.

[2016-11-25 19:44] luxas commented on #17
Real assignee is @zreigz

[2016-11-25 19:48] luxas commented on #71
Are you using https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/registry/auth/registry-auth-rc.yaml?

I don't think this is a kubeadm-specific issue.

Have you copied to and configured `/root/.docker/config.json` on all nodes?

[2016-11-25 19:48] zreigz commented on #17
Yes good point. I will do it. Next week (Monday, Tuesday) I am on conference so I will start on Wednesday.

[2016-11-25 19:52] luxas commented on #56
This is now kind of done.
Of course it's a never-ending process, but I've now created some initial labels that might be useful

Also I went through all issues in this repo and tagged them properly, and closed all duplicates.

Feel free to improve the label names, add/remove some, etc. but at least we have the foundation now

[2016-11-25 19:52] #56 closed

[2016-11-25 20:08] jberkus commented on #4
Does the current release version of kubeadm *accept* --cloud-provider on kubelets?  1.5.0a2 did not.

[2016-11-26 02:52] bulletRush commented on #34
this documentation need at least one request: change image pull policy from default(which is always) to IfNotPresent. Second, kubeadm need a new flag(e.g. `kubeadm list-images` as jbeda mentioned) which can tell people which images need pre-pull).
I can make a pr for first request. If second request is acceptable, I can do this also. After this two requests are satisfied, then I can send a doc pat

[2016-11-26 02:54] bulletRush commented on #34
and what's `for-new-contributors` means?

[2016-11-26 09:46] taimir commented on #52
Hey, nice to see transition to `client-go` in core is done. I'll have a look at what needs to be done for `kubeadm` when you move the code, sure.

[2016-11-26 12:15] vide commented on #71
No, I'm using Nexus OSS as the private registry.

As said I was following the basic guide I linked and yes, I've set up `/root/.docker/config.json` on every minion node, but not on the master (which doesn't run any non-system pod). Do I have to login on the master too?
Anyway I can see the ImagePullError in the minion's kubelet log.

[2016-11-26 16:23] luxas commented on #52
Ok, thanks.

Right now on master, kubeadm mostly uses the versioned api, but we still probably have to switch fully over to `client-go`, but not before all the code is moved over here.

[2016-11-27 11:56] codablock commented on #69
Created a PR: https://github.com/kubernetes/kubernetes/pull/37524

[2016-11-28 12:41] vide commented on #71
This is the error log I get from the pod:

[code]

[2016-11-28 13:30] vide commented on #71
More infO: if I set `ImagePullPolicy: IfNotPresent` and then manually `docker pull` the images on the minion host, it works. If I set `ImagePullPolicy: Always` it doesn't work even with pre-pulled imaged

[2016-11-28 17:25] dmmcquay commented on #61
@luxas this is still a WIP.

[2016-11-28 19:16] mikedanese commented on #52
I'm pretty sure it should be fine to switch to client-go before moving. That package exists in vendor/.

[2016-11-29 01:19] emilyz-github commented on #2
I tried to install the latest version v1.5.0-beta.2 using kubeadm on ubuntu 16.04. Failed at "waiting for the control plane to become ready" again.

I did following before starting install anything else.
[code]
Ran following commands to install:
[code]

After installation I ran:
`kubeadm init --use-kubernetes-version v1.5.0-beta.2`

Stuck here:
![image](https://cloud.githubusercontent.com/assets/1

[2016-11-29 14:36] luxas commented on #45
PR: https://github.com/kubernetes/kubernetes/pull/37568

[2016-11-29 14:36] luxas commented on #38
PR: https://github.com/kubernetes/kubernetes/pull/37568

[2016-11-29 14:37] luxas commented on #16
This is now fixed, given that the PR is merged.

[2016-11-29 14:37] #16 closed

[2016-11-29 16:04] luxas commented on #52
@mikedanese @caesarxuchao @deads2k After kubeadm was moved to the versioned API, these kinds of errors show up:
[code]

From this code:
[code]

The last line that should remove the deployment fails

[2016-11-29 16:10] deads2k commented on #52
Where an how did you construct the client?  It looks like its encoder may be set incorrectly.

[2016-11-29 16:16] luxas commented on #52
@deads2k
[code]

Thanks for helping, I hope we can get this sorted out

[2016-11-29 16:25] deads2k commented on #52
Huh, nothing looks off there.  It should just take defaults.  You may have to chase down why the encoder is trying to use `"kubeadm.k8s.io/v1alpha1"` as a target when speaking to an `extensions/v1beta1` API.  It's probably worth chasing down instead of trying to cross register the delete and listoptions.

[2016-11-29 18:24] caesarxuchao commented on #52
I agree with @deads2k. The group/version and codec of the clientset is set statically, "kubeadm.k8s.io/v1alpha1" shouldn't sneak in. The constructor is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/clientset_generated/release_1_5/typed/extensions/v1beta1/extensions_client.go#L80
), could you test if they are called?

[2016-11-29 21:52] TamalSaha opened #73 "Recommendations for customizing cluster created via kubeadm"
We are exploring the idea of using kubeadm over saltstack as the mechanism for provisioning Kubernetes cluster. But the question if we want to customize various parts of a cluster creation process, what is kubeadm's vision/suggestion is that regard? With the original saltstack mechanism, we could modify the state files and control how various  manifest, etc files were generated. Some of the areas

[2016-11-29 21:53] adiri opened #74 "kubeadm not creating /etc/cni/net.d .. pods will fail to load."
I tested kubeadm on CentOS 7, did exactly what the document stated and everything work as expected.

when I created a pod I had the following error:

[code]

creating  at the master and slaves /etc/cni/net.d fixed the problem.

[2016-11-29 22:18] nnashok opened #75 "`kubeadm` does not pass the `--cloud-config` argument to `kube-controller-manager`"
When creating a cluster with `kubeadm` using a cloud provider, `kubeadm` does not pass the `--cloud-config` argument to `kube-controller-manager` causing `kube-controller-manager` to fail during
ContainerCreating state with the following shown by `kubectl logs <kube-controller-manager-pod>`:
[code]

Workaround: Once the `kubeadm` has created the `/etc/kubernetes/manifests/kube-controller-manager.j

[2016-11-29 22:29] Dm3Ch opened #76 "kubeadm with external etcd failure"
**Kubernetes version** (use `kubectl version`):
`kubeadm version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.2.421+a6bea3d79b8bba", GitCommit:"a6bea3d79b8bbaa5e8b57482c9fff9265d402708", GitTreeState:"clean", BuildDate:"2016-11-03T06:54:50Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Cloud provider or hardware configuration**: baremetal
- *

[2016-11-29 23:11] nnashok opened #77 "kubeadm does not copy the cloud configuration file to nodes"
When initializing a cluster using `kubeadm` with a cloud provider, the cloud configuration is not copied to the nodes. This causes the `kubelet` on the node fail, the logs show:
[code]

Workaround: Create the cloud config file on the nodes and restart `kubelet` on the nodes. However, this then requires that `kubeadm` be started with `--skip-preflight-checks` argument as it otherwise complains with

[2016-11-30 07:00] akarasik commented on #68
It seems to be some kind of systemd issue (not sure why), and installing docker with 2.9 version of [this docker cookbook](https://github.com/chef-cookbooks/docker) caused it.
Installing using `apt-get install docker-engine` or using the latest version of that cookbook solved the hang and kube-dns network issue.

[2016-11-30 07:03] luxas commented on #68
Ok, cool to know, thanks!

Which version did you use before and which docker version do you use now?

[2016-11-30 07:20] akarasik commented on #68
The docker version was the same all the time (I tried both 1.11.2, which is the recommended, and 1.12.3).
What made the difference was the docker cookbook version.
Previously I used v2.9.8 of the cookbook (which failed to start the discovery pod), and the latest v2.13.0 was able to start the discovery pod.

[2016-11-30 07:28] luxas commented on #68
May it be something with the storage driver?
Have you used overlay2 or...?

[2016-11-30 09:49] fieg commented on #74
I'm experiencing the same on ubuntu xenial.

@adiri what do you mean with "creating /etc/cni/net.d"? Just create an empty directory?

[2016-11-30 21:29] mikedanese commented on #52
This is very broken right now. Is anyone working on this?

[2016-11-30 21:35] caesarxuchao commented on #52
@mikedanese you can assign it to me if no one is working on it.

[2016-12-01 01:37] mikedanese commented on #74
kubeadm doesn't create this, a network daemonset should. Are your running weave or flannel in a daemonset?

[2016-12-01 01:47] adiri commented on #74
@mikedanese Yes, I applied the weave daemonset (kubectl apply -f https://git.io/weave-kube)

[2016-12-01 02:03] mikedanese commented on #74
Then this might be a problem with weave-kube cc @errordeveloper @lukemarsden

[2016-12-01 06:18] zreigz commented on #17
@luxas I was wondering how I should provide kubeadm and kubernetes-cni packages. If I should build it from the current sources (to be able test the newest implementation) or just download the newest version from repository? For CI purpose I thing we should have current state of the code to be able test it, or just we need it to test the release version?

[2016-12-01 06:47] tonyclam opened #78 "'kubeadm join' failed on cluster node ( @kubernetes/sig-cluster-lifecycle )"
Is this a request for help? (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No
What keywords did you search in Kubernetes issues before filing this one? (If you have found any duplicates, you should instead reply there.):
'<node/discovery> failed to parse response as JWS object [square/go-jose: compact JWS format m

[2016-12-01 06:51] tonyclam opened #79 "Cluster nodes provisioned by Kubeadm. After power cycle the master node, master lost track of the all clusters"
Is this a request for help? (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

What keywords did you search in Kubernetes issues before filing this one? (If you have found any duplicates, you should instead reply there.):
power cycle kubernetes master, reset kubernetes master

Is this a BUG REPORT or FEATURE REQUE

[2016-12-01 08:12] akarasik commented on #68
No, didn't used it.

[2016-12-01 15:46] michelleN commented on #15
Thanks

[2016-12-01 18:19] luxas commented on #52
Thanks @caesarxuchao!
FYI, we're planning to release a stable version of kubeadm soon (about the time v1.5 is released), so it would be great if it could be prioritized :)

Just reach out to me if you need anything.

[2016-12-01 22:27] snavien commented on #78
I had the same issue, did a kubeadm reset and redid the apply flannel yaml and it worked fine, but let me know if you're able to solve this issue.

[2016-12-02 05:27] tonyclam commented on #78
Thx. I will try it out

On Thu, Dec 1, 2016 at 2:27 PM, snavien <notifications@github.com> wrote:

[2016-12-02 06:28] tonyclam opened #80 "--data-dir of etcd should be '/var/lib/etcd instead of '/var/etcd/data'"
Is this a request for help? (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
 No
 What keywords did you search in Kubernetes issues before filing this one? (If you have found any duplicates, you should instead reply there.):
 '--data-dir'+'etcd'

Is this a BUG REPORT or FEATURE REQUEST? (choose one):
 BUG REPORT

Ku

[2016-12-02 06:31] luxas commented on #80
On your host, the data is stored on `/var/lib/etcd` as it should. It's just _inside the container_ the data is on `/var/etcd/data`

[2016-12-02 08:16] tonyclam commented on #80
Thanks for reply.
May I ask on /root/kubernetes/cmd/kubeadm/app/master/manifests.go:
func etcdVolumeMount() api.VolumeMount {
        return api.VolumeMount{
                Name:      "etcd",
                MountPath: "/var/etcd",
        }
}
The MountPath should be '/var/lib'

[2016-12-02 10:15] kad commented on #80
even inside container it's better to use FHS paths. any reason why historically those paths /var/etcd appeared ?

[2016-12-02 18:17] luxas commented on #80
Historically, I think `/var/etcd/data` has been the default path, but I don't know for sure.
Sure, we can change that to `/var/lib/etcd` inside the container as well, but I don't think it's super-priority since it's not affecting anyone.

[2016-12-02 18:55] tonyclam commented on #80
/root/kubernetes/cmd/kubeadm/app/master/manifests.go:
func etcdVolumeMount() api.VolumeMount {
return api.VolumeMount{
Name: "etcd",
MountPath: "/var/etcd",
}
}
The MountPath may be '/var/lib'

On Fri, Dec 2, 2016 at 10:17 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-12-02 21:50] druidsbane commented on #5
@kad Thanks, this works perfectly!

The only other thing I had to do was update my 10-kubeadm.conf to add http_proxy, https_proxy and no_proxy in the Environment section so that full integration works with AWS through proxy.  Otherwise it is only halfway done as we saw on the Slack conversation.  But that is separate from this change which works great!

Do you think it should be enabled through a

[2016-12-02 22:07] kad commented on #5
IMHO, it is better if those are done automatically by default. In general, kubeadm must assume that user knows what he/she is using as proxy settings. That's why with kubernetes/kubernetes#35972 it was done as preflight check and warning if user has some suspicious settings.
We might later on add some validation e.g. trying to connect to cloud provider APIs and issue warnings if it's also done via

[2016-12-03 06:46] khaije1 opened #82 "Container Runtime Support: rkt"
This is a feature/documentation request.

Please abstract the container runtime checks/configuration so that they are either modular or can be bypassed. Also documentation to provide guidance on how to use alternate runtimes is helpful.

I'd like to use the rkt container runtime with kubeadm.

A flag or env-var could be used to communicate this intention, (ex.) `kubeadm --init --container-runtime=

[2016-12-03 07:23] bronger commented on #37
I out setup, all nodes and the master are directly connected through say eth1, and have a connection to the internet through eth0.  I must be able to connect to the master using the IP of eth0, but I also want to have all cluster-internal communication through the eth1 interfaces.

I have the impression that `--api-advertise-addresses` covers both kinds of communication, namely, “node wants to con

[2016-12-04 16:58] #69 closed

[2016-12-04 16:58] #21 closed

[2016-12-05 13:25] bronger opened #83 "--service-cidr option should set DNS server IP"
According to http://kubernetes.io/docs/admin/kubeadm/, if you pass the `--service-cidr` option, “you will also need to update the `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` file to reflect this change else DNS will not function correctly”.  Indeed, my tests show that the DNS server IP in that file must be within the given service network.

I think `kubeadm` should patch the configurat

[2016-12-05 16:19] codablock commented on #8
@luxas @mikedanese Can be closed as https://github.com/kubernetes/kubernetes/pull/36373 was merged.

I can't do this by myself as I'm not the owner of this issue anymore (due to moved issues)

[2016-12-06 06:50] caesarxuchao commented on #52
Looks like the error message is printed by the api-server. I'll try to print out the api-server log to further debug.

[2016-12-06 11:47] mattseh commented on #74
I'm also experiencing this with a fresh Digital Ocean 4GB 16.04 VM (single node cluster). I followed http://kubernetes.io/docs/getting-started-guides/kubeadm/ and didn't install a network daemonset, as it wasn't mentioned as required.

kube-dns and kube-dashboard are the pods that fail to come up.

I hope that helps.

[2016-12-06 14:00] bjornl opened #84 "kube-dns container not starting on CentOS 7"
Then setting up cluster on CentOS 7 using kubeadm the kube-dns container can not start due to it is not able to connect to the kubernetes-api IP address on the cluster network.

I1206 13:34:14.874445       1 dns.go:173] Ignoring error while waiting for service default/kubernetes: Get https://10.96.0.1:443/api/v1/namespaces/default/services/kubernetes: dial tcp 10.96.0.1:443: getsockopt: no route t

[2016-12-06 16:17] luxas commented on #42
The PR is here: https://github.com/kubernetes/kubernetes/pull/37831

[2016-12-06 16:17] luxas commented on #47
This is fixed now on master.

[2016-12-06 16:17] #47 closed

[2016-12-06 16:19] luxas commented on #8
Yes, thanks.
Closing...

[2016-12-06 16:19] #8 closed

[2016-12-06 19:33] mikedanese commented on #53
Fix was reverted https://github.com/kubernetes/kubernetes/issues/37813

[2016-12-06 20:09] luxas commented on #53
Yes, but we should rewrite the whole thing instead...
Patch the node configuration instead of trying to update it like now

[2016-12-07 00:36] caesarxuchao commented on #52
Here's what went wrong:
* when kubeadm sends a delete request, it uses the direct codec to serialize the v1.DeleteOptions{} object, and sets its APIVersion and Kind ([code](https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/serializer/versioning/versioning.go#L235-L249)):
[code]

* because DeleteOptions is registered as a kubeadm.k8s.io/v1alpha resource, so `gvks[0]=kubeadm.k8s.io/v1

[2016-12-07 00:39] liggitt commented on #52
Master shouldn't need to know about kubeadm API types. I wouldn't want to start registering groups the master doesn't serve under master

[2016-12-07 00:46] mikedanese commented on #52
There's a test that checks that common types like DeleteOptions are registered in all api groups. This is why they were added in the first place. Maybe that's just a bad test.

[2016-12-07 00:50] lavalamp commented on #52
kubeadm group should definitely *not* be installed in the master :)

On Tue, Dec 6, 2016 at 4:46 PM, Mike Danese <notifications@github.com>
wrote:

[2016-12-07 00:51] lavalamp commented on #52
That test is only applicable for types that are linked into the master...

On Tue, Dec 6, 2016 at 4:50 PM, Daniel Smith <dbsmith@google.com> wrote:

[2016-12-07 00:58] caesarxuchao commented on #52
Right. Currently testapi can tell if a group is meant for master or client, so perhaps just blacklist `kubeadm` in that test, until testapi is refactored.

[2016-12-07 01:02] lavalamp commented on #52
SGTM

"refactored" is certainly a polite way of describing what needs to happen
to testapi... ;)

On Tue, Dec 6, 2016 at 4:58 PM, Chao Xu <notifications@github.com> wrote:

[2016-12-07 07:46] caesarxuchao commented on #52
It still doesn't work after we remove DeleteOptions from the kubeadm group. The next `gvks[0]` is federaion/v1beta1, which is not installed in apiserver either. The fed api gets registered via this path:
[code]

[2016-12-07 08:25] luxas commented on #52
Can we just remove it from federation as well?

[2016-12-07 08:42] caesarxuchao commented on #52
No, federation api-server [registers](https://github.com/kubernetes/kubernetes/blob/56bbfd259a6f45dfbcfb6f3c9f61643a787ed067/federation/cmd/federation-apiserver/app/federation.go#L28) it so I think the fed apiserver expects the fed client to encode the the deleteOptions with federation/v1beta1.

[2016-12-07 20:04] luxas commented on #70
Posting progress from https://docs.google.com/document/d/1deJYPIF4LmhGjDVaqrswErIrV7mtwJgovtLnPCDxP7U:
[code]

I'm hoping to be able to build a stable kubeadm release this week, but it can be deferred if the main v1.5.0 release slips.

[2016-12-07 20:32] luxas commented on #52
For now, I just uncommented the line where we're using `v1.DeleteOptions` to fix the failure.
It's only a temporary solution, in the future we want to delete the `dummy` deployment we have, but it works for now.

Hmm, I'm not sure what we should do here, but I guess we have to refactor/update the code that just sets `kind.SetGroupVersionKind(gvks[0])` regardless of whether the caller wants it or n

[2016-12-07 20:35] caesarxuchao commented on #52
Yes, I'm fixing the DirectCodec. I'll send out a PR for comments.

[2016-12-07 22:24] caesarxuchao commented on #52
Sent https://github.com/kubernetes/kubernetes/pull/38330 to fix.

[2016-12-08 03:07] bruceauyeung opened #85 "[Feature Request] upgrade from k8s version A to B using kubeadm"
saying i have used kubeadm to setup a cluster with kubernetes version 1.4.6 . after a few months later, kubernetes 1.5.x stable version is out, i'd like use kubeadm to upgrade my cluster to kubernetes 1.5.x.
i suggest a subcommand : `kubeadm upgrade 1.5.0` , 1.5.0 is the target kubernets version.

[2016-12-08 12:34] bronger opened #86 "--service-cidr should set route to gateway"
If you set the kubeadm option `--service-cidr`, you probably have to set manually the route for this IP range to an interface on the system (and, in a way that survives reboots).  In my opinion this should be done by kubeadm.  For example, on an `nmcli`-based system (RedHat), it is

    nmcli connection modify {connection_name} +ipv4.routes {service_cidr}
    systemctl restart network.service

[2016-12-08 14:31] kad commented on #86
service-cidr should not be really routable. kube-proxy handles intercepts for used ClusterIPs in the service-cidr range so it redirects on each node of the cluster to right pod IP.

[2016-12-08 20:28] smenon78 opened #87 "kubeadm init --cloud-provider aws hangs after attempting a test deployment"
On AWS EC2 instance
root@ip-10-43-0-30:~# uname -a
Linux ip-10-43-0-30 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

Running  kubeadm init --cloud-provider aws, hangs after attempting a test deployment.

<master/pki> created keys and certificates in "/etc/kubernetes/pki"
<util/kubeconfig> created "/etc/kubernetes/kubelet.conf"
<util/kubeconfig> create

[2016-12-09 07:23] bronger commented on #86
Setting the route was recommended to me by Adam Harrison (Weaveworks) [on the Weave mailinglist](https://groups.google.com/a/weave.works/d/msg/weave-users/-JWHW_jAXNM/doESmljBBQAJ).  However this was in the context that I have two interfaces on each node, one for the Internet and one for the internal network, so maybe he recommended it only to make sure that the services traffic uses the internal

[2016-12-09 09:37] kad commented on #86
Interesting. I'll try to replicate that use case in my lab.
Out of curiosity, without route, what do you have in your iptables on the node which can't reach service IPs ? and what is the status if weavenet on each node ?

[2016-12-09 12:43] kad commented on #85
Duplicate to #14

[2016-12-09 13:47] bronger commented on #86
I'm sorry but even after hours of tests – despite HDD snapshots and detailed Git history – I cannot reproduce it anymore.  Thus, I close it and re-open it if I'm haunted by this “service partition” again.

[2016-12-09 13:47] #86 closed

[2016-12-09 17:15] #85 closed

[2016-12-09 18:17] caesarxuchao commented on #52
#38330 is merged. The issue should be fixed.

[2016-12-09 18:20] mikedanese commented on #52
@caesarxuchao well the bug is fixed but the original issue which was hijacked is still not resolved. Thanks for looking into this.

[2016-12-10 20:03] kfox1111 commented on #34
I need this kind of thing too.

[2016-12-11 11:18] luxas commented on #67
Fixed with #81

[2016-12-11 11:18] #67 closed

[2016-12-11 11:20] luxas commented on #45
Fixed with kubernetes/kubernetes#37568

[2016-12-11 11:20] #45 closed

[2016-12-11 11:20] luxas commented on #42
Fixed with kubernetes/kubernetes#37568

[2016-12-11 11:20] #42 closed

[2016-12-11 11:20] luxas commented on #38
Fixed with kubernetes/kubernetes#37568

[2016-12-11 11:20] #38 closed

[2016-12-13 02:30] bruceauyeung opened #89 "preflight check suggestions"
1. `PreFlightError` and `PreFlightCheck` better be renamed to `Error` and `Checker` seperately, otherwise these will be used as `preflight.PreflightError` and `preflight.PreFlightCheck`, that stutters.
2. i noticed `RunRootCheckOnly` is added to make sure preflight checks fail fast when user is not running as root. but i think it's better to add a method named `failOnError` into `PreFlightCheck` i

[2016-12-13 15:31] #87 closed

[2016-12-13 15:37] smenon78 opened #90 "kubeadm init --cloud-provider aws hangs after attempting a test deployment"
Following the document to run kubeadm init --cloudprovider aws
http://kubernetes.io/docs/admin/kubeadm/

Following is not clear:
1. you should create a /etc/kubernetes/cloud-config.json file manually, before running kubeadm init.
      **In AWS, what are the contents of this file? **

2.  You must also set the --cloud-provider and --cloud-config parameters yourself by editing the /etc/systemd/syst

[2016-12-13 15:55] craigwillis85 opened #91 "Scheduling pods on master"
Hi

I have a single master, which I want to schedule pods on. I don't want to allow any other pods to schedule on it, only ones that I have specifially want.

I know I can `taint` the master, but will this make it available to other pods to schedule on?

I have a Deployment manifest like the following:

    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: nginx-deploym

[2016-12-14 11:46] #91 closed

[2016-12-15 18:32] aisarmog commented on #22
@mikedanese
I traced your comments regard the porthost issue which I faced recently (AWS env), is there any workaround for this? How to expose service external IP to public if it can't communicate locally. I defined nodeport but that wasn't helpful.

[2016-12-16 02:15] linwei365 commented on #17
Hi thanks for the fix but still getting an issue after kubeadm init  i'm getting a 0/3 on DNS, DNS doesn't seem to be running at all

[2016-12-16 07:07] luxas commented on #22
@aisarmog That issue isn't handled here, please open a new one if you still have issues.

[2016-12-16 09:57] luxas commented on #70
This is what I said on the sig-meeting this Tuesday: https://docs.google.com/document/d/1deJYPIF4LmhGjDVaqrswErIrV7mtwJgovtLnPCDxP7U
[code]

This is now done, yet only my docs PR is still yet to be merged: https://github.com/kubernetes/kubernetes.github.io/pull/1968

[2016-12-16 11:13] serkansahin commented on #23
Any news about that point? thank you

[2016-12-16 15:31] luxas commented on #70
This is now done, given that the docs PR is merged. Hooray :tada:

[2016-12-16 15:31] #70 closed

[2016-12-16 17:01] linwei365 commented on #17
NAMESPACE     NAME                                   READY     STATUS              RESTARTS   AGE
kube-system   dummy-2088944543-17sey                 1/1       Running             0          11m
kube-system   etcd-8dd8c92c6c38                      1/1       Running             2          12m
kube-system   kube-apiserver-8dd8c92c6c38            1/1       Running             4          12m
kube-sys

[2016-12-16 17:06] jbeda commented on #23
While I think that this is important long term, this isn't a priority right now as we try to drive kubeadm to Beta and GA.  If someone wants to do the work we won't say no, but I don't think that anyone is actively working on it this second.

[2016-12-16 17:14] linwei365 commented on #17
tried install network policy
root@8dd8c92c6c38:/# kubectl apply -f calico.yaml
the path "calico.yaml" does not exist
root@8dd8c92c6c38:/# kubectl create -f calico.yaml
the path "calico.yaml" does not exist
root@8dd8c92c6c38:/#

[2016-12-16 17:36] linwei365 commented on #17
root@8dd8c92c6c38:/# kubectl apply -f https://git.io/weave-kube
daemonset "weave-net" created
root@8dd8c92c6c38:/# kubectl get pods --all-namespaces
NAMESPACE     NAME                                   READY     STATUS              RESTARTS   AGE
kube-system   dummy-2088944543-17sey                 1/1       Running             0          46m
kube-system   etcd-8dd8c92c6c38                      1/

[2016-12-18 01:13] mitchhh22 opened #92 "Worker node service fails after reboot"
I setup a k8s cluster on some raspberry pi's using kubeadm. I set the master node to use flannel on k8s version 1.5.1.

Everything works fine until a worker node is restarted. It's able to rejoin the cluster and quickly becomes marked as _Ready_, but the running pods on that node are unreachable via the service name. The service works as expected when the node initially joins with a `kubeadm join`

[2016-12-19 05:20] aisarmog commented on #90
+1
OS:CentOS 7.2
Kubernetes version:1.5.1
Kubeadm init stuck waiting control plane to become ready when using --cloud-provider=aws

Kubeadm docs is not clear regard this point.

[2016-12-19 15:03] luxas commented on #90
The documentation has been improved and updated, please read the cloudprovider section.
IIRC, cloud-config is not required for aws.

[2016-12-19 17:10] aisarmog commented on #90
Thanks, could you please share the link for the doc you're referring to? The kubeadm guide still asking for manual config for cloud-config file:

http://kubernetes.io/docs/getting-started-guides/kubeadm/

Cloudprovider integrations (experimental)

Enabling specific cloud providers is a common request, this currently requires manual configuration and is therefore not yet supported. If you wish to d

[2016-12-19 19:05] pipejakob opened #93 "kubeadm should support file-based discovery"
Building on the recent discovery interface refactoring (https://github.com/kubernetes/kubernetes/pull/36462), kubeadm should implement file-based discovery, e.g.:

    $ kubeadm join --discovery file:///etc/kubernetes/cluster.json

See also: [Discovery API Proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/bootstrap-discovery.md) and [#94: kubeadm should su

[2016-12-19 19:09] pipejakob opened #94 "kubeadm should support HTTPS-based discovery"
Building on the recent discovery interface refactoring (kubernetes/kubernetes#36462), kubeadm should implement HTTPS-based discovery, e.g.:

    $ kubeadm join --discovery https://storage.google.apis.com/kube-discovery/98ea6e4/kubeconfig.json

See also: [Discovery API Proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/bootstrap-discovery.md) and [#93: kubea

[2016-12-19 19:45] dgoodwin opened #95 "New discovery flags do not allow for using pre-defined discovery token"
As of https://github.com/kubernetes/kubernetes/pull/36462 the command to init a master is now: `kubeadm init --discovery token://` (probably will be assumed to be default soon)

To use a pre-defined token, I assumed something like:

kubeadm init --discovery token://4dd7dd.d2cf98cffb289dfa

However this appears to interpret  4dd7dd.d2cf98cffb289dfa as an address, which causes a token to be generate

[2016-12-19 21:11] mitchhh22 commented on #92
Now even re-joining a node won't fix the service issue...

Notice how only the master is able to respond via the service Cluster-IP:
[code]
[code]
[code]

[2016-12-19 21:14] mitchhh22 commented on #92
kube-flannel logs:
[code]

[2016-12-20 01:10] mitchhh22 commented on #92
Deleting the kube-flannel pods and letting them recreate resolves the issue until the node is restarted again

[2016-12-20 16:03] kad commented on #75
Do you have that file present on filesystem ?
which options were used during "kubeadm init" ?

[2016-12-20 16:30] kad commented on #75
actually, it looks like simple to fix. let's see on PR review.

[2016-12-20 16:59] luxas commented on #75
@nnashok If you create the `/etc/kubernetes/cloud-config` file it will add it automatically as described on the kubeadm guide

[2016-12-22 05:56] zh168654 opened #96 "kube-dns started on slave node while cluster restarted and something went wrong with DNS"
I used kubeadm to create my cluster and it worked well.By default,kube-dns is deployed in the master node.But after the cluster restarted several times,kube-dns would start on the slave node such as slave1.

Then I encountered a problem that DNS service is invalid on slave1,while other nodes worked fine.I went into a container in slave1 and exec cmd such as `ping kubernetes-dashboard`,the result s

[2016-12-22 09:27] dpaks commented on #1
@luxas The issue still persists. The directory _/var/lib/kubelet_ contains two empty directories _pods_ and _plugins_.

I faced the above issue when I executed the command

just after installation of the kube* packages.

[2016-12-23 15:45] olmoser opened #97 "Getting coredumps when using official yum repository"
running into segfaults when installing the official yum repo from the kubeadm guide (http://yum.kubernetes.io/repos/kubernetes-el7-x86_64). As soon as i add this repo to `/etc/yum.repos.d` and try anything involving `yum` (like `makecache` or even `info`) i get a core dump, machines are brand new. When I disable the repo (setting `enabled=0` in `/etc/yum.repos.d/kubernetes.repo`) everything is bac

[2016-12-23 19:06] olmoser commented on #97
I wasn't able to reproduce this on a fresh EC2 instance running RHEL 7.3

after more debugging on my local machines, it turns out that yum segfaulting is caused by a broken libxml2 link. things to check:

**/var/log/messages**

[code]

then do a `locate` on libxml2:

[code]

in my case, one of the links was broken - once I deleted `/usr/lib/nsr/lib64/libxml2.so.2`, everything is back to normal.

W

[2016-12-23 19:06] #97 closed

[2016-12-26 07:50] resouer opened #98 "kubeadm hang up with: flag provided but not defined: -console"
kubeadm hang up and then I checked the log of kubelet, found that it report:
[code]
Docker version (1.12.1 is expected to work with kubadm)
[code]

OS:

[code]

[2016-12-26 07:56] resouer commented on #98
Sorry, `-console` was reported by my dockerd, it is wrongly configured ...

[2016-12-26 07:56] #98 closed

[2016-12-26 08:46] fangqiusheng opened #99 "kube-dns restarts frequently，using kubeadm v1.6.0-alpha.0.2074"
Seems that kube-dns is extremely unstable ,always CrashLoopBackOff, what could be the problem?

[2016-12-26 22:28] mikedanese commented on #97
@dgoodwin

[2016-12-28 12:53] bogdando commented on #22
@mikedanese thanks for working on this spec.

Heads up! I still believe that feature flags should be runtime flags. And that's why:

[Taco Bell programming](http://whatis.techtarget.com/definition/Taco-Bell-programming) is known for using tones of flags for decades, and it just works.

Config options suxx in containers world: you have to mount them as files/configmaps, take care of multiple RW acc

[2016-12-28 13:09] bogdando commented on #22
Please update the "Related feature https://github.com/kubernetes/features/issues/11" the original description contains wrong link

[2016-12-28 17:28] mikedanese commented on #22
Kubelet and other components already do support file based config

[2016-12-31 15:35] damaspi commented on #74
On an Ubuntu 16.04.1 LTS, with a master and 3 nodes in an internal static network (192.168.2.99 to 102) but having also an IP address going directly on the Internet, I have installed k8 (1.5.1) with
```kubeadm init --api-advertise-addresses=192.168.2.99```

I then installed my weave-kube by typing
```kubectl apply -f https://git.io/weave-kube```

```kubectl get pods --namespace=kube-system``` show

[2017-01-02 16:49] luxas opened #101 "Consider adding kubeadm util fetch-ci-image [commit]?"
I just threw together a small script for myself for testing against k8s head:
[code]

Should we provide this functionality through a `kubeadm util` command or it is out of scope?
This is a discussion thread.

On the other hand, this could be fixed with making the CI automatically push the images it's building to `gcr.io/kubernetes-release-dev` or something and make kubeadm understand `--use-kubern

[2017-01-02 18:49] kad commented on #101
I'd rather bring back support of ci/* from initial versions of --use-kubernetes-version, but that require pushing images to registry (and hopefully PR images too).

[2017-01-03 17:12] pipejakob commented on #93
/dibs

[2017-01-03 18:03] mikedanese commented on #101
This would be very useful for e2e testing but I somewhat agree with @kad, tighter integration with --version would be nice. @pipejakob

[2017-01-03 18:07] luxas commented on #101
Basically, we only have to start pushing CI images to the `gcr.io/kubernetes-release-dev` repository for example.

ref: https://github.com/kubernetes/test-infra/issues/1400

[2017-01-03 18:10] luxas commented on #101
cc @ixdy @spxtr

[2017-01-03 18:11] luxas commented on #101
(I do think the pushing the images automatically and having version support those images OOTB is a much better solution, just posted the alternative here)

[2017-01-03 18:18] mikedanese commented on #101
That also works.

[2017-01-04 12:55] pires commented on #95
Is `kubeadm init --discovery token://4dd7dd.d2cf98cffb289dfa` even a valid command, given there's no host and optional port?

[2017-01-04 13:17] pires commented on #95
I believe the easiest path is to replace `.` in favor of `:` as token separator.

[2017-01-04 13:25] pires commented on #95
Ah, I get it now. The problem is as you describe, [Go URL parsing will not find a `@` character and so return the token as part of the `host` fragment](https://github.com/golang/go/blob/master/src/net/url/url.go#L540-L545).

[2017-01-04 14:11] pires commented on #95
It seems `:` is already used as token separator for the discovery part and the previous behavior that belonged to `--token` flag is gone. However, docs don't mirror that change, yet.

[2017-01-04 14:13] luxas commented on #95
This is bleeding edge you know :)
We're not done with the implementation either, and haven't decided on `.` vs `:`

[2017-01-04 14:14] pires commented on #95
luxas I have a fix in place for this but it will depend on that call being made.

[2017-01-04 14:28] luxas commented on #95
personally I don't think it matters, but I guess : is easier to implement, so we can go with that if @jbeda and @mikedanese agree

[2017-01-04 14:30] pires commented on #95
I'll open the PR to get the changes reviewed then.

[2017-01-04 15:10] pires commented on #94
This seems to have been implemented and merged.

[2017-01-04 15:10] pires commented on #93
This seems to have been implemented and merged.

[2017-01-04 15:19] pires commented on #82
There are a couple places where this change needs to happen:
1. Runtime `kubeadm` uses to bootstrap the cluster, e.g. start `kubelet`, and
2. Runtime used by the `kubelet` to run workloads.

The first seems to be the most complex at this point since `docker` is a dependency. But as soon as master components are self-hosted (WIP for 1.6) it should be trivial to run the `kubelet` with any supported

[2017-01-04 16:42] pires commented on #80
Since there is no upgrade path for `kubeadm` yet, changing this is trivial.

[2017-01-04 16:49] pires commented on #58
Isn't this fixed?

[2017-01-04 16:50] pires commented on #60
Isn't this fixed?

[2017-01-04 17:14] pires commented on #92
Can you reproduce the error and share `kube-proxy` logs from a failing node?

[2017-01-04 17:16] pires commented on #74
@damaspi it seems to me that's a different issue. Please open a new issue.

[2017-01-04 17:19] pires opened #102 "kube-proxy can't distinguish internal and external traffic"
As [reported by @damaspi](https://github.com/kubernetes/kubeadm/issues/74#issuecomment-269870039):

[2017-01-04 17:20] pires commented on #102
[Another user reported the same behavior on #kubernetes-users.](https://kubernetes.slack.com/archives/kubernetes-users/p1483319219015016)

[2017-01-04 17:27] mikedanese commented on #95
I very much disagree with moving off of a valid RFC 3986 URL. This is what I had envisioned in the original design. With this design:
[code]
works which means for initialize the discovery service with user 4dd7dd and secret d2cf98cffb289dfa. This gives an intuitive join URL:
[code]

[2017-01-04 17:34] pires commented on #95
@mikedanese according to my analysis, Go `url.Parse` will not take `kubeadm init --discovery token://4dd7dd:d2cf98cffb289dfa` as the userinfo fragment of the URL but as host:port pair, since there's no `@` separator.

[2017-01-04 17:39] mikedanese commented on #95
@pires notice the @ at the end of my init URL.

[2017-01-04 17:39] pires commented on #76
Just to clarify, the `--external-etcd-endpoints` flag, now deprecated in favor of a configuration file, is meant to be used with an existing etcd cluster.

So, the question here is what exact command did you run?

[2017-01-04 17:42] mikedanese commented on #95
When we make these API changes, we need to consider consistency across kubeadm discovery methods, the rest of k8s, and the rest of the world. When a user who is unfamiliar with k8s looks at
[code]
the intent and parts are obvious if they've encountered URLs before. Connect to 10.0.22.22 as user 4dd7dd with secret d2cf98cffb289df speaking the token protocol.

[2017-01-04 17:43] pires commented on #95
@mikedanese I did notice it. But I also noticed the lack of such a thing in the description of the issue. I haven't seen anywhere in the code, impl or tests, that `@` presence is mandatory.

Other than that, I agree with using a URL :)

[2017-01-04 17:44] pires commented on #79
Can you please try with latest release and report back?

[2017-01-04 17:45] pires commented on #78
@tonyclam any feedback on this?

[2017-01-04 18:04] dgoodwin commented on #95
If an @ is all we need to get through the parsing when initializing a master with pre-generated token, then this sounds perfectly good to me. Also switching to :, though from the sounds of it you likely already took care of that Mike.

[2017-01-04 18:19] pipejakob commented on #93
Which commit are you referring to? @mikedanese refactored discovery behind an interface (https://github.com/kubernetes/kubernetes/commit/690c7e578b341a34dbb9b72f6355655a373dc423), but the implementations for file and https discovery are still missing, just stubbed out.

[2017-01-04 18:20] pipejakob commented on #94
Copying response from #93:

Which commit are you referring to? @mikedanese refactored discovery behind an interface (kubernetes/kubernetes@690c7e5), but the implementations for file and https discovery are still missing, just stubbed out.

[2017-01-04 18:27] pires commented on #93
Nevermind then, I overlooked the code.

[2017-01-04 18:28] pires commented on #94
Nevermind then, I overlooked the code.

[2017-01-04 19:01] dgoodwin commented on #95
Works for me.

[2017-01-04 19:15] pires commented on #95
Works for me as well and I can change my PR to follow that behavior. @mikedanese, your call!

[2017-01-04 19:45] mikedanese commented on #95
@luxas I'm ok with that. Thanks.

[2017-01-04 21:11] pires commented on #95
PR updated. PTAL

[2017-01-04 21:27] damaspi commented on #74
I worked-around temporarily by configuring proxy-mode to userspace but any advice welcome...

(inspired by [this issue](https://github.com/kubernetes/kubernetes/issues/34101)

`kubectl -n kube-system get ds -l "component=kube-proxy" -o json | jq ".items[0].spec.template.spec.containers[0].command |= .+ [\"--proxy-mode=userspace\"]" | kubectl apply -f - && kubectl -n kube-system delete pods -l "com

[2017-01-04 21:29] pires commented on #102
@damaspi I have opened this issue and provided a fix. Waiting on feedback!

Also, moving to `userspace` mode brings quite of a performance penalty.

[2017-01-04 21:38] damaspi commented on #102
Sorry, I commented in the wrong issue.
Thanks for the fix. I'll not be able to test it soon though (was working on this during holidays, and I am back to work), and I was using only the official stable version (so I have not the environment to build it).

[2017-01-04 21:39] damaspi commented on #102
I copied it here now, and delete it in the other...

I worked-around temporarily by configuring proxy-mode to userspace but any advice welcome...

(inspired by [this issue](https://github.com/kubernetes/kubernetes/issues/34101) )

`kubectl -n kube-system get ds -l "component=kube-proxy" -o json | jq ".items[0].spec.template.spec.containers[0].command |= .+ [\"--proxy-mode=userspace\"]" | kubectl a

[2017-01-04 21:40] pires commented on #102
Again, @damaspi

[2017-01-04 21:53] pires commented on #99
Possible related to https://github.com/kubernetes/kubeadm/issues/102.

[2017-01-04 21:53] pires commented on #96
Most probably related to https://github.com/kubernetes/kubeadm/issues/102.

[2017-01-04 21:55] pires commented on #92
Most probably caused by https://github.com/kubernetes/kubeadm/issues/102.

[2017-01-04 21:56] pires commented on #84
Which version are you using?

Also, can you provide `kube-proxy` logs on any node other than the master?

[2017-01-05 06:45] luxas commented on #94
Yup this is yet to be fixed in the code; @pipejakob do you take this on?

[2017-01-05 06:48] luxas commented on #82
I think this is just a matter of customizing the systemd service that runs kubelet, right?

For me, using CRI is the long-term goal here and the real priority; I do not want to focus extra on docker, rkt or whatever, instead I just want what CRI is, a pluggable interface for kubelet to use.

[2017-01-05 06:58] luxas commented on #76
This is using the second version of kubeadm, and the problem here for him is that he started etcd manually, and used the `--external-etcd-endpoints` to point to that manually bootstrapped cluster.

However, kubeadm interpreted it as stale etcd data was hanging around, and failed on preflight checks.
This was indeed an issue, thanks for reporting.

However, we've fixed this in the newest (v1.5-comp

[2017-01-05 06:58] #76 closed

[2017-01-05 07:04] luxas commented on #78
We've released a new version since then also.
I'm closing this one as I think it's fixed with the latest version.

If not, just comment here and reopen

[2017-01-05 07:04] #78 closed

[2017-01-05 07:22] luxas commented on #74
kubeadm should not create the /etc/cni/net.d directory; that's a task for the CNI DaemonSet plugins.

And the other issue that's faced here is handled in #102

[2017-01-05 07:22] #74 closed

[2017-01-05 08:09] pires commented on #94
I can pick this up if no one else who's best prepared to do it is available.