[2018-07-02 12:55] aivanzipper commented on #814
[ERROR CRI]: unable to check if the container runtime at "/var/run/dockershim.sock" is running: fork/exec /usr/bin/crictl -r /var/run/dockershim.sock info: no such file or directory

$ sudo apt-get remove cri-tools

[2018-07-02 13:00] aivanzipper commented on #814
[ERROR CRI]: unable to check if the container runtime at "/var/run/dockershim.sock" is running: fork/exec /usr/bin/crictl -r /var/run/dockershim.sock info: no such file or directory

$ sudo apt-get remove cri-tools

[2018-07-02 13:46] luxas commented on #906
@rosti is gonna work on this :tada:

[2018-07-02 15:21] neolit123 commented on #953
@chrissound
hi, this is normal because you are running with `--v 10`. if you don't want extra output, don't add the `--v` flag.

[2018-07-02 15:28] Klmanjaro commented on #709
@supnobita : Make sure your etcd certs are good.
I used this command to make sure *pem files are good on all the etcd nodes:
openssl x509 -noout -text -in *.pem
Once you start etcd cluster make sure you see messages about raft nodes and publishing etcd server in your log files.

[2018-07-03 02:46] #800 closed

[2018-07-03 03:56] StupidYe commented on #784
@buptliuwei hi，brother，where is your gist，I can not find it,can you give me the url?

[2018-07-03 07:59] buptliuwei commented on #784
@StupidYe hi this is my gist: https://gist.github.com/buptliuwei/8a340cc151507cb48a071cda04e1f882

[2018-07-03 18:49] #953 closed

[2018-07-03 18:50] #955 closed

[2018-07-03 18:52] timothysc commented on #699
@kubernetes/sig-cluster-lifecycle-bugs - who is actively working on re-fixing this one?

[2018-07-03 18:53] neolit123 commented on #699
i pinged @dixudx earlier because he made the last change in this space.
@dixudx, do you think you have time to fix this?

[2018-07-03 18:57] timothysc commented on #206
/assign @liztio

[2018-07-03 19:02] timothysc commented on #454
@fabriziopandini will you have time this cycle to work on this?

[2018-07-03 19:22] timothysc commented on #957
Per sig discussion we do not want to enable it by default but keep it as an opt-in behavior.

We are currently leveraging the config file mechanism and will continue todo so.

[2018-07-03 19:22] #957 closed

[2018-07-03 19:52] timothysc commented on #526
@andrewsykim could you cross-link the proposal you were talking about, please.

[2018-07-03 19:53] timothysc commented on #528
This heavily depends on this proposal - https://docs.google.com/document/d/1-u2y03ufX7FzBDWv9dVI_HyiIQZL8iz3o3vabeOpP5Y/edit#heading=h.b7twqx6j3pvo

[2018-07-03 19:54] timothysc commented on #569
Closing as documentation has been overhauled in 1.11 to handle both cases.

[2018-07-03 19:54] #569 closed

[2018-07-03 20:00] timothysc commented on #645
Given that we have a well defined upgrade path, I'm closing this issue.

[2018-07-03 20:00] #645 closed

[2018-07-03 20:01] timothysc commented on #651
As a SIG we have decided to reduce the code inside of kubeadm to eliminate the self-hosting option and potentially have a separate tool that allows for pivoting.

ClusterAPI is also the preferred means of performing rolling updates.

[2018-07-03 20:01] #651 closed

[2018-07-03 20:03] timothysc commented on #659
Closing as there are several workarounds.

[2018-07-03 20:03] #659 closed

[2018-07-03 20:08] timothysc commented on #689
This is really on the proxy imo, and I'm not aware of an option to clear the rules.
/cc @kubernetes/sig-network-bugs

[2018-07-03 20:18] cjbottaro commented on #202
[code]

@luxas what if my system (official AWS EKS image) doesn't have `/etc/systemd/system/kubelet.service.d/`? I'm not familiar with systemd. If I just make that dir/file, will it automatically be picked up when I start kubelet?

Thanks.

[2018-07-03 20:48] timothysc commented on #772
Let's figure out how - where to automate this in 1.12.
/assign @stealthybox

[2018-07-03 20:51] timothysc commented on #779
I'm closing and if there are repos on v1.11 folks can open an issue.  A ton of work has been done on 1.11 to address some of the behaviors outlined in this issue.

[2018-07-03 20:51] #779 closed

[2018-07-03 20:53] #792 closed

[2018-07-03 20:54] timothysc commented on #794
/assign @liztio

[2018-07-03 20:56] timothysc commented on #813
@liztio lets coordinate testing efforts with @stealthybox this cycle.

[2018-07-03 20:56] timothysc commented on #817
Only updating to track for this cycle.

[2018-07-03 20:57] timothysc commented on #818
closing in favor of dynamic policy.

[2018-07-03 20:57] #818 closed

[2018-07-03 21:00] timothysc commented on #851
This is already in, so closing imo.

[2018-07-03 21:00] #851 closed

[2018-07-03 21:01] timothysc commented on #864
closing due to lack of feedback.

[2018-07-03 21:01] #864 closed

[2018-07-03 21:04] timothysc commented on #883
/assign @chuckha

[2018-07-03 21:05] #888 closed

[2018-07-03 21:06] #898 closed

[2018-07-03 21:07] #900 closed

[2018-07-03 21:07] christhomas commented on #888
Sorry, I forgot to follow up on this. The reason that I could not upgrade was because of the hostname of the machine.

If I set the hostname to s1.antimatter-studios.com. It would fail to upgrade. If I simply changed the hostname to s1. Then it would upgrade without any problem.

I could constantly set, test, set, retest. And the problem was reproducible and repeatable with perfect accuracy.

So i

[2018-07-03 21:08] #909 closed

[2018-07-03 21:09] #914 closed

[2018-07-03 21:10] timothysc commented on #917
@luxas - does this still exist?

/cc @rdodev

[2018-07-03 21:11] timothysc commented on #918
/assign @liztio

[2018-07-03 21:11] timothysc commented on #920
/assign @liztio

[2018-07-03 21:13] timothysc commented on #923
/assign @liztio

[2018-07-03 21:14] rdodev commented on #917
@timothysc wasn't aware of this issue.

[2018-07-03 21:16] timothysc commented on #937
/assign @detiber @chuckha

[2018-07-03 21:20] timothysc commented on #947
/assign @liztio

[2018-07-03 21:21] timothysc commented on #960
/assign @chuckha

[2018-07-03 21:22] timothysc commented on #949
/assign @neolit123

[2018-07-03 21:24] timothysc commented on #950
This is expected until component config exists for the api-server.

[2018-07-03 21:24] #950 closed

[2018-07-03 21:40] Arnavion commented on #909
https://github.com/kubernetes/kubernetes/issues/57709 was duped against this, and the problem of that issue still exists. kubeadm can't provision a working cluster by default when there's a DNS entry for `localhost.<dns search path>`. The user has to set `listen-peer-urls`

Should one of these issues be reopened?

[2018-07-03 23:35] caseydavenport commented on #689
kube-proxy has an option to do this I believe

[code]

Calico does not have an equivalent option, so today you'll need to flush those yourself, and/or open an enhancement request against Calico :)

[2018-07-04 02:57] andrewsykim commented on #526
@timothysc @hogepodge is currently working on putting something together, will cross-link as soon as it's out.

[2018-07-04 09:45] xlgao-zju commented on #866
/assign
@neolit123 I'd like to help this.

[2018-07-04 10:23] drake7707 commented on #163
I circumvented this issue by deploying an additional daemonset for each architecture, taken from https://gist.github.com/ssplatt/3d2f68a42e619f88dbed3244ad447708

Make sure to change the version in the image matching your deployment.

[2018-07-04 11:05] tommyknows commented on #923
Can confirm this issue, it looks like the APIServer Container dies.
Docker logs:
[code]

It seems like the bootstrapping process does not create the secret:
[code]
(these are all self-hosted messages)

[2018-07-04 12:37] buptliuwei commented on #784
@StupidYe 你好，gist没有邮件提醒，现在才看到，不好意思啊。首先proxy的manifest,我是这样做的，通过编辑器打开原来的kube-proxy文件，然后复制到自己新建的文本中，改成kube-proxy-arm，然后做一些修改，主要是nodeselector。关于flannel部署失败的问题，从报的error上看也是不能路由到service ip。很大关系和kube-proxy有关，我不知道你arm上装的系统是什么，ubuntu的话，可能是有些内核模块没打开，flannel也是overlay的解决方案，需要openvswitch等内核模块的支持，你可以lsmod下，看看模块是否都加载了。最后，kubeadm的文档里面建议在arm上部署网络插件的话，weave的兼容性最好。所以你也可以考虑下weave.

[2018-07-04 12:42] StupidYe commented on #784
@buptliuwei 非常谢谢你的回复，我会尝试使用weave。Thanks

[2018-07-04 12:57] neolit123 commented on #866
sounds good!
thank you @xlgao-zju

[2018-07-04 14:22] neolit123 opened #963 "Tracking issue for "Config to v1beta1""
Tracking issue for `v1beta1` related tasks.

1.12 planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

- [x] Write a KEP for the v1beta1 config API
@fabriziopandini @luxas
https://github.com/kubernetes/community/pull/2451
Based on gdocs proposal draft here: https://docs.google.com/document/d/1Sk2VW7IKaLjrjf_4a1NEU0l7X0ysZoXq9lVBvH-ruYY/edit#heading=h

[2018-07-04 14:28] neolit123 opened #964 "Graduate Bootstrap Tokens to GA"
bellow are remaining tasks after the [recent discussions](https://github.com/kubernetes/kubernetes/pull/77669#issuecomment-545590770)

we do not know of any remaining feature work for the feature to not be GA at this point.
code cleanup and moving bits around is a separate effort.

---

update kubernetes/kubernetes/cmd/kubeadm to not mention bootstrap tokens as Beta
**EDIT: i cannot find any menti

[2018-07-04 14:30] neolit123 opened #965 "Developer/Power user documentation on features"
1.12 Planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

Create Developer/Power user documentation on features.

Lubomir: i don't know the details on this yet, but i'm assuming this should go in the `k/kubeadm` repo and possibly be linked from `k/website`.

[2018-07-04 14:39] neolit123 opened #966 "Improvements to `kubeadm etcd upgrade`"
1.12 Planning doc
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

- [ ] Use crictl in `kubeadm upgrade` for a better flow
Assigned: @chuckha
PR: ?

- [ ] Expose a `kubeadm upgrade etcd` command
Assigned: ?
PR: ?
Website PR: ?

- [ ] Create a `kubeadm upgrade apply --rotate-certificates`
Assigned: @liztio
PR: ?
Website PR: ?

[2018-07-04 14:42] neolit123 opened #967 "Make the kube-proxy ComponentConfig `v1beta1`"
1.12 planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

- [ ] @timothysc  to sync with mtaufen

- [x]  Propagate hostname-override to kube-proxy
Assigned: ?
PR: ?

[2018-07-04 14:45] neolit123 opened #968 "Test coverage (init, join, upgrade) for matrix of GA supported options"
1.12 planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

items to support:
- [ ] External etcd, internal etcd
- [ ] Single master
- [ ] Static pods
- [ ] dynamic kubelet config?
- [ ] Remove kubernetes anywhere

[2018-07-04 14:47] neolit123 opened #969 "Bazel debs/rpms and package deployment"
1.12 planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

options to consider:
- Maybe also hosted (in parallel) in a CNCF apt/rpm repos
- Maybe publishing a meta container with local hosted repo?
- Rid ourselves of the packaging problem via a single container that hosts all the bits
- automatic generation of .debs/.rpm for alpha/beta/RC releases

[2018-07-04 14:51] neolit123 opened #970 "Validate config changes in `kubeadm upgrade apply` for 1.12"
To prevent the users from shooting themselves in the foot by e.g. changing the Service Subnet or similar.

1.12 planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

Lubomir: i don't have much context on this.

[2018-07-04 14:54] neolit123 opened #971 "Improve `kubeadm reset` for 1.13"
1.12 planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

we need better context for the set of tasks for this one.

[2018-07-04 14:58] neolit123 opened #972 "Support machine readable output"
1.12 planning doc:
https://docs.google.com/document/d/1YP8sCtgo58yqQ9sR4nsn9iuVFmglCCBMivCTwjd1ERE/edit#

adding this for tracking; it's outside of the GA scope.

token related: #659 (closed using a workaround)
upgrade related: #494

context:

[2018-07-04 15:16] fabriziopandini commented on #970
In order to address the issue IMO kubeadm should clearly split updates (changes to the cluster configuration) from upgrades (change of release) by removing any option to change the cluster config during upgrades and creating a separated new `kubeadm update/apply` action.

Main rationale behind this opinion
- the complexity of the upgrade workflow
- the size of the test matrix for all the supported

[2018-07-05 01:52] #866 closed

[2018-07-05 09:45] ajaynemade commented on #956
Can anyone please suggest me the workaround? Should I try any other version?

[2018-07-05 13:19] neolit123 commented on #805
hi @xlgao-zju
a single PR with multiple commits, please.
thanks!

[2018-07-05 15:29] BKS1989 opened #973 "elb created seccessfully not no instances registered to this load balancer (cloud-provider=aws)"
i have configured cloud provider  as aws using below setting and configure instanceTag
Instance Tag
     kubernetes.io/cluster/kubernetes = shared
    KubernetesCluster=kubernetes
i am getting  this error while creating load balancer
 **node "ip-172-31-3-42.ap-southeast-1.compute.internal" did not have ProviderID set**
elb created seccessfully not no instances registered to this load balancer

[2018-07-05 16:28] cncook001 opened #974 "add error messaging that kubeadm init and join should not be called on the same machine"
EDIT: lubomir: see comments for the exact cause.

## What keywords did you search in kubeadm issues before filing this one?
/etc/kubernetes/pki/ca.crt already exists

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623

[2018-07-05 16:40] rdodev commented on #917
@luxas Installed 1.10.3 from bazel debs. Then upgraded to v1.11.0 from bazel deb. Did not see the errors herein.

[2018-07-05 17:48] luxas commented on #920
Can this be reproduced with latest kubeadm?

[2018-07-05 17:55] chuckha commented on #974
Are you joining a node that you ran init on?

[2018-07-05 17:56] chuckha commented on #973
I think this is a question for sig-aws: https://github.com/kubernetes/community/tree/master/sig-aws

[2018-07-05 18:20] Bradamant3 commented on #965
Point of clarification: I can help with deciding where/how to link from k/website, and getting /website PRs merged. But I have <0 bandwidth to help out with content for this repo.

[2018-07-05 18:58] hogepodge commented on #526
I don't want to leave this without a response.

Each cloud provider will be expected to produce documentation on how to enable, configure, and develop their provider. With the move towards external providers, this issue is only going to get more complicated, especially with automated installation tools. More details about the challenges of external providers can be found here:

https://kubernetes.

[2018-07-05 21:43] neolit123 commented on #974
^ that was initial though as me and @kad a similar report recently.
could be a missing `kubeadm reset` on that particular node.

[2018-07-06 03:37] brendandburns commented on #413
RaspberryPi 3 still demonstrates this issue, even with pre-pulled images. The API server takes 2-3 minutes to get to a place where it can serve a page...

It would be great to have this be configurable, because right now, I'm monkey patching the YAML file in the background while kubeadm runs.

[2018-07-06 03:42] brendandburns commented on #413
@carlosedp what I do during an upgrade is take down the kubelet while the apiserver is booting.  It's kind of hacky, but it prevents the health-check from firing until the apiserver is up.

But honestly `kubeadm upgrade` and ARM just don't work that well together in my experience...

[2018-07-06 08:33] bart0sh commented on #932
@timothysc I think this issue can be closed. It's not related to kubeadm.

[2018-07-06 08:55] BKS1989 commented on #973
I have

[2018-07-06 11:56] #770 closed

[2018-07-06 12:35] neolit123 commented on #413
@brendandburns @carlosedp
yes, please try 1.11 to confirm that the timeout increase is a fix for you.

/cc @kubernetes/sig-cluster-lifecycle-bugs

[2018-07-06 12:43] luxas commented on #917
@rdodev that's expected as the _bazel deb_ in v1.11.0 doesn't reload the kubelet. This issue happens just after upgrade of the kubelet when the kubelet is restarted. What happens if you do ^ and `systemctl restart kubelet`? (I know you fixed the kubelet reload thing for bazel at HEAD)

[2018-07-06 13:56] cncook001 commented on #974
This was all on a single VM.  Yes, init and join is run on the same node.

[2018-07-06 14:06] rdodev commented on #917
@luxas that's precisely what I did. No errors to be found in `journalctl`

[2018-07-06 14:29] neolit123 commented on #974
you need to run kubeadm init / join on two separate VMs or bare metal machines.

[2018-07-06 14:49] sepich opened #975 "RequiredIPVSKernelModulesAvailable warning seems confusing"
## What keywords did you search in kubeadm issues before filing this one?
ip_vs, RequiredIPVSKernelModulesAvailable

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-0

[2018-07-06 15:02] chuckha commented on #960
The workaround for now, as alluded to by @LJosef is to create a configuration file like this

config.yaml
[code]
then
[code]

We are working to implement flag precedence over configuration files. This issue has a very high priority in our v1.12 planning document.

[2018-07-06 16:23] neolit123 commented on #975
@sepich

please, create a shell script from this and show me what output do you get:
[code]

[2018-07-06 16:42] sepich commented on #975
Please note that it is CI VM which is created, booted up, and then terminated after tests.
<details><summary>Right after boot</summary>

[code]

</details>
Then i can load modules by accessing them:

[code]

And then script output changes:
<details><summary>After accessing</summary>

[code]

</details>

It is plain debian stretch with `apt install ipvsadm`

[2018-07-06 17:28] neolit123 commented on #962
related to:
https://github.com/kubernetes/kubernetes/issues/65887
https://github.com/kubernetes/kubernetes/pull/65895

[2018-07-06 18:50] luxas commented on #962
This should be fixed in kubeadm, should be using `k8s.gcr.io/pause:3.1` without the arch suffix.
/assign @chuckha @rosti
whoever of you that can fix this. I'd consider this for a cherrypick #958

[2018-07-06 18:57] luxas commented on #699
/assign @neolit123
for fixing this on master & cherrypicking

[2018-07-06 21:22] dims commented on #975
cc @m1093782566

[2018-07-07 00:07] dims opened #976 "cmd/kubeadm/app/preflight/checks.go should not depend on code in test harness"
checks.go has an import `"k8s.io/kubernetes/test/e2e_node/system"`. please see https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L53

We should not mix the runtime code with test harness, right?

[2018-07-07 00:08] dims commented on #930
looks like this was fixed in https://github.com/kubernetes/kubernetes/pull/65635

/close

[2018-07-07 00:08] #930 closed

[2018-07-07 05:34] stewart-yu commented on #975
Does your cluster still using `ipvs` proxy, even that occur thoes warning messages? @sepich
IMO, those warning are `pre-check` when you use `kubeadm` to creating cluster. But actually, all ipvs modules will loaded by `kube-proxy`, please see :https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L469

[2018-07-07 13:35] neolit123 commented on #975
i guess a preflight warning about missing critical IPVS modules is nice to have - i.e. if required module is missing on the system.
but then it becomes a question of **what modules are really required**?

this logic here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L472
throws a warning by the proxier on missing modules from this list:
https://github.com/kubernet

[2018-07-07 14:12] irfanjs opened #977 "kubeadm init : Proxy Authentication Required"
I am deploying kubernetes cluster in the private network where direct internet connection is not available.

**environment :**
Total 4 machines (all CentOS 7) with root access

So, in order to use internet , proxy server has been configured with authentication .

to test whether proxy server is working or not , here is what I did
entered the proxy server details (url, username and password ) in th

[2018-07-07 14:41] neolit123 commented on #977
unable to get URL "https://dl.k8s.io/release/stable-1.11.txt": Get https://dl.k8s.io/release/stable-1.11.txt: Proxy Authentication Required

this error is about `https`

http_proxy=http://<user>:<paaswd>@<ipaddress>:8080/
[root@k8smaster1 ~]#

please try setting `https_proxy`, possibly `no_proxy` as well:
https://wiki.archlinux.org/index.php/proxy_settings

[2018-07-07 14:48] irfanjs commented on #977
thanks.

[code]

[2018-07-07 15:03] neolit123 commented on #976
@dims @Random-Liu
@kad @luxas @kubernetes/sig-cluster-lifecycle-bugs

i've noticed the same myself when i looked at the kubeadm preflight checks code for the first time.

we use the package `k8s.io/kubernetes/test/e2e_node/system` for validators like:
[code]
but kubeadm is not the only consumer of these validators, the node e2e tests are too.

so it becomes a question of should these utilities be

[2018-07-07 15:33] irfanjs commented on #977
please suggest. this is wired.  I m not getting how yum is working but kubeadm not... I am stuck ... lots of googling but no luck

[2018-07-07 16:35] neolit123 commented on #977
1. is `http://10.4.55.30:8080/` the valid address / port in the case of https ?
2. do you need user/password for this proxy?
[code]

3.
does `curl` work for https (enter user / pass)?
[code]

[2018-07-07 18:07] irfanjs commented on #977
yes. you were correct. it is not valid https URL.
let me fetch correct and try again ...

[2018-07-07 19:06] #935 closed

[2018-07-07 20:34] ReSearchITEng opened #978 "kubeadm config images pull - no way to specify vers"
## What keywords did you search in kubeadm issues before filing this one?
config images pull
## Is this a FEATURE REQUEST

kubeadm config images pull - no way to specify vers of images to pull
Ideally, there should be a way to provide the kubeadm-master.conf config file, so it will download the images with the k8s defined (note: kubeadm-master.conf is later on used for init/join).

(e.g.  kubernet

[2018-07-07 20:46] luxas commented on #978
Can't you do this with `kubeadm config images pull --kubernetes-version v1.10.5`?

[2018-07-08 09:31] stealthybox commented on #949
I see what @luxas is getting at -- unless we have an alternate override mechanism, I'm unsure of how we could support this.

With DynamicKubeletConfig, are we still planning to do the versioned, cluster-wide configs?
If so, we'll need to have per-Node or NodeSelector based configs if we plan to use the API to represent overrides.

Similar to flags would be providing a host-local config file that m

[2018-07-08 09:57] stealthybox commented on #954
The steps for recovering from this unfortunate operator error are well documented in https://github.com/kubernetes/kubernetes/issues/65562 and may be worth adding to the troubleshooting doc along with a link to it from the upgrade docs

[2018-07-08 12:09] #977 closed

[2018-07-08 14:42] neolit123 commented on #974
https://kubernetes.io/docs/concepts/architecture/nodes/
contains the following:

so we assume that our users know what a node is in the first place.

i don't think it works. it probably breaks somewhere and you need to look at the logs.

we could add error messages that `join` and `init` should not be run on the same machine, as long as we have a good way to detect that.

[2018-07-08 16:52] neolit123 commented on #413
@DJGummikuh
thanks for testing 1.11.

how much time does it take for the apiserver to start in your case?
it seems that we may have to make this configurable.

[2018-07-08 17:06] DJGummikuh commented on #413
It's hard to say, I'd guess approx 1 minute, however I don't know how to properly measure that.

Additionally, now that my master is operational, I fail adding a node to it with what seems to be another timeout issue.
`[preflight] running pre-flight checks
	[WARNING RequiredIPVSKernelModulesAvailable]: the IPVS proxier will not be used, because the following required kernel modules are not loaded:

[2018-07-08 17:45] neolit123 commented on #413
offtopic, we are talking about this here:
https://github.com/kubernetes/kubeadm/issues/975

the kubelet could not start. better look at the kubelet logs.
[code]

the liveness probe should be made configurable, yet we should probably talk about the best way of doing that in the kubeadm config.

i think these are the values used, so if you are building kubeadm yourself try playing with:
https://gith

[2018-07-08 17:50] neolit123 commented on #978
the above should work for you @ReSearchITEng.
closing this issue. please feel free to re-open if there are related problem.

[2018-07-08 17:50] #978 closed

[2018-07-08 17:59] DJGummikuh commented on #413
Here are the log outputs of both systemctl status kubelet and journalctl -xeu kubelet. "No cloud provider specified is the only thing that springs to eye.

root@djg-clusterpi3:/home/djgummikuh# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/kubele

[2018-07-08 18:09] neolit123 commented on #413
please, mind that these logs show no errors.

[2018-07-08 18:16] DJGummikuh commented on #413
Yes but that's part of the Issue I believe. I can't find a single conclusive line of [ERROR] anywhere to begin with. That's what's frustrating me so much :-)

Anyways, thanks for formatting that mess of mine :-D

So what would be a good next step?

[2018-07-08 18:48] neolit123 commented on #413
as mentioned previously:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/staticpod/utils.go#L95-L96

[2018-07-08 18:52] DJGummikuh commented on #413
oof I don't build kubeadm by myself, I'm pulling it via apt from apt.kubernetes.io. I don't have anything that remotely resembles a build pipeline for go on any of my machines (never tinkered with it yet). I hoped that there would be a similar file to modify when joining a cluster like there was for creating it, however as it seems these values are hard-coded into the utils.go :-|

[2018-07-08 18:59] neolit123 commented on #413
you can try this solution, but it's tricky:
https://github.com/kubernetes/kubeadm/issues/413#issuecomment-402916173

the problem is that this needs a configuration change and i don't think it can be included in a 1.11.X release (but we can try). it also has to be discussed first.

[2018-07-08 19:03] DJGummikuh commented on #413
That's what I already did in the comment where I told you that the master is up (that's what my watch -n 1.0 command was doing). What's happening now is that kubeadm join does not work, and as far as I can see, kubeadm join does not place yaml files for me to patch anywhere :-/

[2018-07-08 19:12] neolit123 commented on #413
i could be experiencing another issue. hard to say.

[2018-07-09 00:39] stealthybox commented on #946
I agree.
This is confusing and we should fix it.
Thanks for posting the issue.

[2018-07-09 01:47] mrpaws commented on #163
This is a known limitation and the current official solution is documented in the bootstrapping documentation for a single master cluster at [https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#instructions] :

This will manifest itself for any non multiarch container image but Kubernetes provides the flexibility to work around the problem without a hack.

You can find info on wri

[2018-07-09 02:14] neolit123 commented on #946
i will submit this PR later today. :+1:

[2018-07-09 02:36] anguslees commented on #413
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/staticpod/utils.go#L95-L96

So I note the InitialDelaySeconds timeout here is _still_ 15s a year later, and I don't understand why it hasn't been increased to something that actually represents reality.   Is this bug report serving any purpose at all?  I didn't initially propose a PR to just change this number myself because

[2018-07-09 03:43] neolit123 commented on #413
i cannot answer your questions as the whole issue is new to me, but we can try to talk about it this week. please note the team behind kubeadm is a small team with big goals and often there isn't anyone to work on a certain task, like this one.

yes, options have been discussed already in this thread. it's a matter of picking the right option and doing the implementation.

[2018-07-09 07:18] munai-das opened #979 "Enabling DisableSecurityGroupIngress for aws installations"
## Is this a request for help?

Yes.

Hi, how to enable the DisableSecurityGroupIngress feature for kubeadm **aws** installation?

**Code**: https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/cloudprovider/providers/aws/aws.go#L419
**Kops** way of doing it: https://github.com/kubernetes/kops/blob/master/docs/cluster_spec.md#cloudconfig

[2018-07-09 08:18] DJGummikuh commented on #413
I actually believe it would make sense to default to "no timeout" with the option of setting a timeout for the whole process (as was suggested somewhere earlier in this issue).

Reason is that most the use cases I can think of actually don't care if a specific step is executed in X Seconds or not since all that is cared about in a distributed system is eventual consistency (spooling up another nod

[2018-07-09 08:56] ajaynemade commented on #956
I figured out the cause. I was not using the failover mechanism which is recommended in the official doc.
As predicted by @stealthybox, issue was related to kube-proxy. Kube proxy does the iptable restore if any change in endpoints is seen.
In my case, kube-proxy was trying to get the endpoints from the apiserver using the ip of the master which is in switched off mode and hence kube-proxy did not

[2018-07-09 11:55] neolit123 commented on #979
this is a AWS specific question and i don't have good answer for you.

the idea is that kubeadm allows you to pass the `--cloud-config` and `--cloud-provider` flags to the apiserver and controller manager and in the cloud config you can specify things like `DisableSecurityGroupIngress`.

more details:
https://kubernetes.io/docs/setup/independent/control-plane-flags/
https://github.com/kubernetes/k

[2018-07-09 11:55] #979 closed

[2018-07-09 15:47] jiashenC commented on #973
I have the exactly the same issue. No instances are registered to the load balancer. Do you find any workaround?

[2018-07-09 15:52] mbert commented on #960
Thank you, @chuckha - this works just well and I'm just fine with this workaround.

May I ask another question here: when pulling up the `etcd` cluster on a fresh system with just `kubeadm`, `kubelet`, `kubectl` installed I cannot run `kubelet`, because the configuration it needs is missing (since 1.11.0 came out: `/var/lib/kubelet/config.yaml`).

If I want to use my new `etcd` cluster for bootstr

[2018-07-09 16:52] chuckha commented on #960
Followed up in slack;

[the instructions](https://kubernetes.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/#setting-up-the-cluster) have recently been updated to account for this

[2018-07-09 17:52] sergej2705 opened #980 "CoreDNS is not starting on Ubuntu 18.04.Bionic Beaver"
## What keywords did you search in kubeadm issues before filing this one?
dns, resolv.conf, coredns

# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Pla

[2018-07-09 18:02] neolit123 commented on #980
@sergej2705
the output from:
`kubectl describe pod <coredns-pod-ids>`

and relevant errors from:
[code]
would help more.
thanks.

[2018-07-09 19:40] BKS1989 commented on #973
i am still waiting for reply from sig/aws

[2018-07-09 19:42] timothysc commented on #973
This is not germane to kubeadm, and re-closing.  Please work within that sig on the issues you are having.

[2018-07-09 19:42] #973 closed

[2018-07-09 20:02] sergej2705 commented on #980
From `kubectl describe pod coredns-78fcdf6894-kgg8d -n kube-system`:

    Name:           coredns-78fcdf6894-kgg8d
    Namespace:      kube-system
    Node:           <none>
    Labels:         k8s-app=kube-dns
                    pod-template-hash=3497892450
    Annotations:    <none>
    Status:         Pending
    IP:
    Controlled By:  ReplicaSet/coredns-78fcdf6894
    Containers:
    coredns

[2018-07-09 20:19] neolit123 commented on #980
@sergej2705
the scheduler fails but it's unclear to me why.

you can find the ID of the kube-scheduler pod with
`kubectl get pods --all-namespace`

then you could try this to start a terminal in that pod:
`kubectl exec -ti <POD-ID-HERE> bash -n kube-system`

and from there you could try looking at the log:
`cat /var/log`

no guaranties that it has something relevant.

[2018-07-09 20:23] neolit123 commented on #980
a couple of other things:
- are you installing a pod-network after init (asking just in case)?
- one you have `kubeadm init` what contents do you get in `/var/lib/kubelet/kubeadm-flags.env`?

[2018-07-09 20:29] jiashenC commented on #973
Could you point me to the issue you create for sig/aws? @BKS1989

[2018-07-09 20:54] sergej2705 commented on #980
`kubectl exec -ti kube-scheduler-beetlejuice bash -n kube-system` says

    OCI runtime exec failed: exec failed: container_linux.go:348: starting container process caused "exec: \"bash\": executable file not found in $PATH": unknown command terminated with exit code 126

so i tried `kubectl exec -ti kube-scheduler-beetlejuice sh -n kube-system` so `sh` instead of `bash`... but there is no file `/

[2018-07-09 21:02] neolit123 commented on #980
too bad that there are no logs from the scheduler.

the `--resolv-conf` flag seems to be added, so that's OK.

call `kubeadm reset` and then `kubeadm init ...` again.
then try installing a pod network plugin (weave):
[code]

and see if the dns pods ready up. this might not make sense, but please give it a try.

[2018-07-09 21:47] timothysc commented on #963
/assign @timothysc @liztio

[2018-07-10 03:51] pouyaesm commented on #722
In my case, docker could not access the internet ([my solution](https://serverfault.com/a/920207/477274))

[2018-07-10 06:51] stealthybox commented on #956
@ajaynemade you would want to avoid a request for the apiserver originating from one of your nodes ever getting directed to a node that is unable to serve the response. I would think you'd use keepalived only for the nodes you'd ever intend running the apiserver on.

I would expect that an LB would have an independent IP. I probably wouldn't set the default interface of every node to the same IP a

[2018-07-10 08:51] Itfly opened #981 "kubeadm init pull the pause image's name is not same with " kubeadm config images list""
## BUG
For some reasons, i have to run kubeadm without internet access. So i download all the rpm packages to install kubeadm,kubectl,kubelet,cni and load docker images. The docker images is from ` kubeadm config images list` as follows:
k8s.gcr.io/kube-apiserver-amd64:v1.11.0
k8s.gcr.io/kube-controller-manager-amd64:v1.11.0
k8s.gcr.io/kube-scheduler-amd64:v1.11.0
k8s.gcr.io/kube-proxy-amd64:v1.11

[2018-07-10 09:05] EqbalS opened #982 "kubeadm commands fail without public ip"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`&version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version** (use `kubec

[2018-07-10 10:22] dims commented on #981
@Itfly we need to fix the `config images list` command. the k8s repo definitely has the correct image

[code]

[2018-07-10 10:36] dims commented on #981
/close

fixed in https://github.com/kubernetes/kubernetes/pull/65920

[2018-07-10 10:36] #981 closed

[2018-07-10 10:59] rosti commented on #982
Hi @EqbalS and thanks for filing this issue!

It looks to me, that you don't have a properly configured default route on the machine.
Can you, please, provide the output of the `route` command?

Thanks!

[2018-07-10 12:46] neolit123 commented on #980
thank you for testing.

[2018-07-10 12:46] #980 closed

[2018-07-10 15:22] EqbalS commented on #982
This is the output of `route`:
[code]

[2018-07-10 17:18] chuckha opened #983 "crictl testing"
crictl is not part of the test suite for kubeadm. The test suite only uses docker (?) and therefore the crictl code paths in kubeadm are not exercised.

We should hold off integrating crictl further until we have a better test framework to support the changes.

Edit:

This ticket is regarding a gap in the upstream blocking tests. We need to have automated tests in place that exercise kubeadm using

[2018-07-10 19:02] timothysc commented on #968
/assign @stealthybox

[2018-07-10 19:14] timothysc commented on #982
@EqbalS - You don't have external internet access - closing.

[2018-07-10 19:14] #982 closed

[2018-07-10 20:19] EqbalS commented on #982
I'm sorry, but I have. As I explained in the issue the gateway 169.254.1.1 is the host that the virtual machine is running on and it provides internet connectivity by ip forwarding to its public interface, so basically this machine has internet access through NAT that I think it's a common case.
And as I also mentioned in the issue when I provide `--apiserver-advertise-address` flag in the `kubead

[2018-07-10 20:21] yujuhong commented on #926
I'm late to the discussion, so excuse me if I missed details in the long thread of discussion.

The issue seems like a generic problem with switching to using CRI to replace docker CLI in kubeadm. I think we can add a general kubeadm test to cover this code path by configuring criSocket to `unix:///var/run/docker.sock` with dockershim. By not making docker a special case, we'd be able to capture m

[2018-07-10 21:09] #699 closed

[2018-07-11 07:08] rosti commented on #982
@EqbalS looking through the routing table, the default gateway seems to be a link local IP. Normally this should not be the case if you have a configured interface. Therefore, I think that your default route is misconfigured and the issue should be resolved if you use eth0 for default gateway.

[2018-07-11 12:11] xlgao-zju commented on #974
Is there any good way to detect that `join` and `init` has run on the same machine?

[2018-07-11 12:32] xlgao-zju commented on #975
Agree, we should figure it out and I'd like to file a PR to fix this. :)

[2018-07-11 12:52] Unb9rn opened #984 "ECDSA private key"
FEATURE REQUEST

I was trying to deploy a new cluster with autogenerated EC CAs when I discovered that kubeadm waits for CA key to be in RSA format.
I thought maybe there is no capabilities to generate EC certificates in kubeadm, so I've generated whole chain: ca, frontproxy-ca, apiserver, apiserver-kubelet-client, front-proxy-client and sa private and public keys.
Now kubeadm stopped on private k

[2018-07-11 13:29] neolit123 commented on #413
@anguslees @DJGummikuh we had a talk about that on the recent SIG meeting.

this is a thorny problem, but he are some random notes bellow.

notes:
- some our people have a lot of experience and they are saying that this smells like a race condition that stalls the apiserver start. it shouldn't take that long. this could be an ARM vs GOLANG thing.
- i've asked the SIG API Machinery but got no respo

[2018-07-11 13:46] neolit123 commented on #975
i would hold on this @xlgao-zju , because even the recent blog post about IPVS included the whole list of modules that is discussed in this thread. i reviewed the blog before it was push, but to my understanding the list in there is the defacto valid list.

https://kubernetes.io/blog/2018/07/09/ipvs-based-in-cluster-load-balancing-deep-dive/
^ @timothysc

what we don't know here is why some of the

[2018-07-11 13:50] neolit123 commented on #974
@xlgao-zju

there are some ways but none of them are that "good".

i can bring this as agenda for the meeting today, as i've seen people do this by mistake and our way of knowing this happened looks like this `[ERROR DirAvailable...`

i will get back to you on how to proceed with this.

[2018-07-11 13:57] DJGummikuh commented on #413
No it even doesn't seem really reproducible on my hardware now. Since the token for joining nodes elapsed I thought "what the heck" and kubeadm reset'd my cluster master and tried to re-init it (having that watch workaround running) - now even with that workaround I no longer am able to pull up a master on my Raspberry Pi 3+. I even increased the configured timeout from 180 to 300 seconds without

[2018-07-11 14:37] jiashenC commented on #973
@timothysc Would you like to take a look at this issue [stackoverflow](https://stackoverflow.com/questions/51254530/aws-load-balancer-is-not-registered-with-instances). I post under sig but is redirected to stackoverflow. I have this issue for 2 weeks, but still not sure what's wrong on my side.

[2018-07-11 17:21] cncook001 commented on #974
No, this does work. I was able to create a kube cluster on a single node, using the flag above.  Not a good idea for a production instance, but I just want a dev instance to play with. Not sure why I would be forced to use 2 VM's.

[2018-07-11 17:36] neolit123 commented on #974
so you mean you created a single node (master node) cluster....that's fine and it **should** work.
the errors you are seeing is because you didn't call `kubeadm reset` on the same node. always run that before `kubeadm init / join`...

about the flag and errors, we need to add better error messaging and i will write some proposals here later.

[2018-07-11 17:47] neolit123 commented on #984
i need to do some investigation for the stakes here, but for now my answer is that EC will not be supported any time soon (don't quote me on that).

[2018-07-12 06:30] liqlin2015 opened #985 "IPVS is not working with hostport"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11.0
- **Cloud provider or hardware configuration**: None
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

I'm trying to set up a kuber

[2018-07-12 06:31] liqlin2015 commented on #985
/kind bug

/sig network

[2018-07-12 06:33] liqlin2015 commented on #985
Wrong place to report this issue.

[2018-07-12 06:33] #985 closed

[2018-07-12 11:03] ajaynemade commented on #956
I think the root cause was not having LB or failover mechanism. With keepalived, I never seen this. Closing the issue.

[2018-07-12 11:03] #956 closed

[2018-07-12 13:42] neolit123 commented on #413
related issue on ARM64 in the apiserver:
https://github.com/kubernetes/kubernetes/issues/64649

[2018-07-12 18:25] dkoshkin opened #986 "kubeadm init hangs when there is no internet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When there is no internet on the node and `--kubernetes-version` is not specified running `kubeadm init` hangs with no text output.

**What you expected to happen**:
The command should timeout and fail.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Enviro

[2018-07-13 06:19] anjuls commented on #504
I had such issues in past and then I switched to calico with following done on all nodes in cluster. Post this you can restart kube-proxy pods, dns pods.

[code]

[2018-07-13 09:35] ShaunMaxwell commented on #727
Has anyone had a chance to investigate this? We'd really like to use kubeadm to upgrade from 1.8 to 1.9 but out etcd is external so this blocks us.

[2018-07-13 13:03] rosti opened #987 "kubeadm config upload deprecation"
`kubeadm config upload` was introduced back in v1.8 to manually upload kubeadm init configuration.
As this is done automatically on init and upgrade ever since v1.8 and given the fact, that the command itself has a bit of an awkward interface, it is probably time to consider its deprecation and eventual removal.

[2018-07-13 13:13] neolit123 commented on #987
discussed with @fabriziopandini on slack.
/cc @luxas for feedback.

[2018-07-13 14:48] rosti opened #988 "kubeadm config upload replacement"
info from #987:

As this is done automatically on init and upgrade ever since v1.8 and given the fact, that the command itself has a bit of an awkward interface, it is probably time to consider its deprecation and eventual removal.

As mentioned in #987 , `kubeadm config upload` has awkward interface, which cannot be changed easily since it's in beta.
The problem there is, that there are two sub-c

[2018-07-13 16:52] fturib opened #989 "CoreDNS image not embedded in GetAllImages (list of container images kubeadm expects to use on a control plane node)"
## What keywords did you search in kubeadm issues before filing this one?
CoreDNS
GetAllImages

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

While browsing the code of kubeadm I found that the function `GetAllImages`
from file `cmd/kubeadm/app/images/images.go`
[code]

embed etcd and kube-dns, but not CoreDNS, which is now the default DNS server (when deployed with kubeadm).

I do not k

[2018-07-13 16:53] fturib commented on #989
FYI - @rajansandeep and @luxas

[2018-07-13 16:59] luxas commented on #989
cc @chuckha and @rosti

[2018-07-13 17:02] rajansandeep commented on #989
@fturib
Seems like CoreDNS is included

[code]

[2018-07-13 17:03] fturib commented on #989
Oops !
I just misread the code.
Sorry for wrong alert !

Thanks @rajansandeep for qhick reply.

[2018-07-13 17:03] #989 closed

[2018-07-13 17:45] chuckha opened #990 "[release] Make cri-tools deb version dynamic"
## Is this a BUG REPORT or FEATURE REQUEST?
PROACTIVE BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.11.x

Based on cri-tools versioning scheme we are going to have to dynamically set the version for critools based on the version of the kube packages being built.

[2018-07-13 17:47] chuckha commented on #990
xref https://github.com/kubernetes/release/issues/583

[2018-07-13 18:00] Monnoroch commented on #921
Are there any workarounds to use this feature in 1.11?

[2018-07-13 18:50] liztio commented on #954
For RPM-based distros:
cat <<EOF >> /etc/yum.repos.d/kubernetes.repo

To upgrade:

yum update kubelet kubeadm --disableexcludes=kubernetes

[2018-07-13 21:41] stealthybox opened #991 "kubeadm-playground exits failing OS detection on Mac /w ansible 2.3.3.0"
## Versions
**kubeadm repo branch:**
  0840c14900073b74a59891fb53c85a5587314124 (master)

**ansible:**
[code]

**OS:**
MacOS Sierra
Darwin Kernel Version 16.7.0: Thu Jun 21 20:07:39 PDT 2018; root:xnu-3789.73.14~1/RELEASE_X86_64 x86_64

## What happened?
The devtool fails with this message when trying to provision a new dev cluster with the default spec:
[code]

## What you expect
We need to make

[2018-07-13 23:04] #986 closed

[2018-07-13 23:19] aojea commented on #991
The import_tasks module is failing because it's not available in that ansible version, is new in version 2.4 https://docs.ansible.com/ansible/2.4/import_tasks_module.html

[2018-07-14 19:37] stealthybox commented on #914
@detiber would you like to reopen this?
https://github.com/kubernetes/kubernetes/pull/65164#pullrequestreview-129709081

[2018-07-15 12:30] JonasT commented on #613
@luxas for me this presents as an error. Is this a bug? If yes, then it should be fixed quickly, because as illustrated above, installing crictl isn't so easy on some configurations (and requires go build tools on the production host).

[2018-07-15 12:41] JonasT opened #992 "Crictl not contained in kubeadm and kubelet snaps, not obvious how to install it"
Crictl is not contained in kubeadm and kubelet snaps leading to the error `[ERROR FileExisting-crictl]: crictl not found in system path`, and it's not obvious how to install it. Some people claim `go get github.com/kubernetes-incubator/cri-tools/cmd/crictl` fixes it, but that runs through without an error for me and I still get the preflight error.

Therefore, I suggest that if you're involved in

[2018-07-15 13:08] neolit123 commented on #992
snap is not supported.

i think the packaged binaries you are using are done by a third party, because the official packages should include crictl:
https://kubernetes.io/docs/tasks/tools/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[2018-07-15 18:18] luxas commented on #988
What about just deprecating the `from-*` commands and instead supporting the "normal" `kubeadm init` flags as usual (if applicable obviously) in `kubeadm config upload` without any other subcommand?

[2018-07-15 20:02] dims commented on #992
when you do `go get` check where the generated binary is placed. typically it's in $GOPATH/bin/ directory. Then ensure that the directory is in your PATH and see if that helps

[2018-07-15 23:29] stealthybox commented on #991
Thanks @aojea :+1:

worth noting:

https://docs.ansible.com/ansible/2.4/import_tasks_module.html

[2018-07-16 00:09] stealthybox commented on #991
Replacing all instances of `import_tasks` and `include_tasks` with `include` made the playbooks fully functional for my setup. This core module is deprecated though.

We should consider shipping a `requirements.txt` with commands to create/update/delete a virtualenv for the proper ansible version.
Unfortunately, I'm not sure if it's very simple to use docker for an ansible client because of how do

[2018-07-16 05:53] sarjeet2013 commented on #106
@debugnetiq1 Can you check `journalctl -u kubelet -f` on any potential errors why api-server never comes up again? I am using kubeadm 1.11 and it is able to restart apiserver when modified the /etc/kubernetes/manifests/kube-apiserver.yaml  using vim.

[2018-07-16 06:20] jowenn opened #995 "configure coredns anti affinity"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or **FEATURE REQUEST**

## Versions

kubeadm version:
kubeadm version: &version.Info{Major:"1"

[2018-07-16 06:30] DJGummikuh commented on #413
Did some more research with my (still failing :-( ) Pi Cluster over the weekend.

I reinstalled one of my nodes since I suspected that maybe updating from a Pi 2 to a Pi 3+ without reinstalling the OS might cause some issues. This is not the case, the problem is the same with the brand new OS.
Additionally, I took the effort to compile kubernetes with the increased timeouts and tested with that. A

[2018-07-16 07:12] bart0sh commented on #613
I think this should be fixed by [this PR](https://github.com/kubernetes/kubernetes/pull/64611)

[2018-07-16 07:14] bart0sh commented on #992
@all This is yet another example of user confusion caused by artificial dependency to crictl. Most of users don't have CRI configured, but kubeadm still insists on installng crictl, which is absolutely not needed in such a cases.

[2018-07-16 07:29] aojea commented on #991
@stealthybox what about something like this in the README?

[code]

[2018-07-16 07:30] shenshouer commented on #932
The same with me!

[code]

[2018-07-16 07:37] shenshouer commented on #932
Worked find when  I used `kubeadm reset --cri-socket=unix:///run/containerd/containerd.sock -v1` , and all pod had deleted

[2018-07-16 07:37] bart0sh commented on #932
@shenshouer can you try if this works for you?
[code]

[2018-07-16 08:40] rosti commented on #988
@luxas Keeping the `kubeadm config upload` name is probably the most logical thing to do (unless we think we should rename the `upload` to, say, `push` or something like that.

[2018-07-16 09:58] neolit123 commented on #992
but how would the kubelet work if the user doesn't have a CRI configured?

right now, kubeadm uses crictl for pulling images and it's going to be used for more things in the future -
 therefore the dependency in 1.11.
if it's not part of our 1.11 debs and rpms i think we should fix that.

[2018-07-16 10:10] neolit123 commented on #413
this is really a problem outside kubeadm...

the api machinery folks did not look at my request for comments on the issue, so unless a ticket is logged for this already i would log one in the `kubernetes/kubernetes` repo and tag `/sig api-machinery`.

as a start one can enable `--v 4` for the kubelet in the systemd drop-in file, which will tell the GLOG logger to enable high verbosity.
one can als

[2018-07-16 10:29] bart0sh commented on #992
It will work with docker. So far it has been most usable scenario. The confusion I'm talking about was started when kubeadm started to require crictl installed on the system.

[2018-07-16 12:23] embik commented on #992
Considering CoreOS is a supported platform (at least kubeadm documentation prominently features it) and `crictl` is not easily available on it, this change is a bit concerning. It should have been mentioned in the [Changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md) at the very least (only mentions the packages ship it now).

The last comment available on this very t

[2018-07-16 15:51] robodendron commented on #921
@Monnoroch I've had success with this patch:

[code]

[2018-07-16 22:02] Monnoroch commented on #921
@robodendron thanks, but patching code is a bit excessive. I was able to enable it as a kubelet flag in a systemd unit.

[2018-07-16 22:46] neolit123 opened #997 "implement a kubeadm log file that also guards kubeadm init and join commands"
## the issue

users end up calling `kubeadm init / join` on the same node and we don't have good error messaging for that.

https://github.com/kubernetes/kubeadm/issues/974

## the solution

the idea here, as discussed in a SIG meeting with @timothysc , @chuckha and @liztio , is to create a log file which will be used to determine if `kubeadm init` or `kubeadm join` has previously ran on this part

[2018-07-16 22:58] neolit123 commented on #995
if someone thinks that there are concerns in doing that, please comment.
any takers for sending a PR?

reference:
https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity

/cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2018-07-17 03:39] joejulian commented on #413
This solved the problem on my Raspberry Pi 3 cluster: https://github.com/kubernetes/kubernetes/pull/66264

[2018-07-17 09:19] robodendron commented on #921
@Monnoroch Ah, I only used this patch because I couldn't find a setting for it. What flag did you use?

[2018-07-17 09:46] DJGummikuh commented on #413
@joejulian nice I managed to patch that in and now also my cluster is firing up. FINALLY, after weeks of agony! Thank you :-)

[2018-07-17 10:47] neolit123 commented on #413
@joejulian thanks for investigating!
a potential fix can be found in https://github.com/kubernetes/kubernetes/pull/66264

closing until further notice.

/close

[2018-07-17 10:47] #413 closed

[2018-07-17 11:56] JonasT commented on #992
The only kubernetes install paths I'm familiar with is apt (which has it packaged) and snap (which I don't know how to update to the latest master), both combined with kubeadm, so I'm not fully sure how to do that

[2018-07-17 12:10] bart0sh commented on #992
@JonasT never mind then. I'll test it after [this PR](https://github.com/kubernetes/kubernetes/pull/66282) is approved.

[2018-07-17 12:12] neolit123 commented on #992
@JonasT
how about downloading cri-tools from here and copying the binaries to /usr/bin:
https://github.com/kubernetes-incubator/cri-tools/releases

this is the file for your system:
`crictl-v1.11.1-linux-amd64.tar.gz`

[2018-07-17 12:19] JonasT commented on #992
@neolit123 I did manage to install it by copying it over from the `go get` compilation, so I'm no longer "stuck". Thanks for the help though!

[2018-07-17 12:25] neolit123 commented on #992
thank you. good to know!

[2018-07-17 12:25] #992 closed

[2018-07-17 17:22] erik-stephens commented on #726
Apologies if this isn't the best forum for this comment.  I don't see support for specifying the port.  Trying to include the port in the value gives a validation error.  Looks like 6443 is hard-coded somewhere.  In general, when I see the word "endpoint", I think "scheme://host:port/path".  I don't know if helpful - feel free to ignore.

[2018-07-17 18:03] luxas commented on #921
@robodendron Can you send that patch as a PR to kubernetes/kubernetes? We'd love to have you contribute that fix :smile:

[2018-07-17 18:20] robodendron commented on #921
@luxas Sure, I'd be glad to. Will do so tomorrow.

[2018-07-17 19:29] carlosmkb opened #998 "CoreDNS not started with k8s 1.11 and weave (CentOS 7)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** 1.11

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11
- **Cloud provider or hardware configuration**: aws ec2 with (16vcpus 64gb RAM)
- **OS** (e.g. from /etc/os-release): centos 7
- **Kernel** (e.g. `uname -a`): 3.10.0-693.17.1.el7.x86_64
- **Others**: weave as cni add-on

## What hap

[2018-07-17 19:39] neolit123 commented on #998
@kubernetes/sig-network-bugs

@carlosmkb, what is your docker version?

[2018-07-17 21:03] timothysc commented on #998
I find this hard to believe, we pretty extensively test CentOS 7 on our side.

[2018-07-17 21:22] neolit123 opened #999 "submit a SIG charter"
SIG Cluster Lifecycle has to write and submit a "SIG charter" document to the `k/community` repository.

guide:
https://github.com/kubernetes/community/blob/master/committee-steering/governance/README.md

template in markdown:
https://github.com/wking/community/blob/master/committee-steering/governance/sig-governance-template-short.md

existing charter PRs by other SIGs for reference:
https://gith

[2018-07-17 21:46] cu commented on #975
I see the same warning when joining a new node to the cluster. None of the modules are loaded into the kernel to start with, but after running `kubeadm join`, they are all there:

Before:
[code]

After:

[code]
I'm running v1.11.0 from the apt repo on Ubuntu 16.04.

[2018-07-17 21:54] dims commented on #998
this one? https://stackoverflow.com/questions/44127247/does-anyone-know-a-workaround-for-no-new-privileges-blocking-selinux-transitions

[2018-07-17 22:49] neolit123 commented on #999
FYI, my initial edit is done. please, apply your edits.

[2018-07-17 23:50] carlosmkb commented on #998
@dims , can make sense, I will try

@neolit123 and @timothysc

docker version: docker-1.13.1-63.git94f4240.el7.centos.x86_64

*coredns pods log*: `standard_init_linux.go:178: exec user process caused "operation not permitted"`
*system log* `journalctl -xeu kubelet`:
[code]

[2018-07-17 23:56] sectorsize512 opened #1000 "kubeadm init fails to pull some k8s images"
## Is this a BUG REPORT

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:

VM provisioned in our Datacenter.

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

## What happened?

I'm trying to deploy new cluste

[2018-07-18 00:12] kscarlett opened #1001 "Kubeadm init fails to pull images"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubect

[2018-07-18 00:15] #1001 closed, assigned to nobody

[2018-07-18 01:43] foxish commented on #1000
Looks like it could be a bug in the release script which pushed them to staging and not k8s.gcr.io.
Tracking in https://github.com/kubernetes/release/issues/587

[2018-07-18 04:18] d11wtq commented on #574
I'm having this same issue. The `kubelet.conf` never gets generated on the node. I've enabled `--v=4` to get debug logs and it seems it thinks all is good but just never progresses beyond the CSR check:

[code]

[2018-07-18 04:47] d11wtq opened #1002 "kubeadm join does not generate kubelet.conf"
## What keywords did you search in kubeadm issues before filing this one?

Related issue: https://github.com/kubernetes/kubeadm/issues/574 (closed)

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.11

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11
- **Cloud provider or hardware configuration**: Ba

[2018-07-18 06:07] d11wtq commented on #1002
Looks like it's hanging (or maybe dying) in here: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/util/certificate/csr/csr.go#L76

[code]

That timeout is likely quite low for a Raspberry Pi. Might be good if it wasn't hard-coded so it could be overridden. If the timeout is being hit, the error certainly is never surfaced in the logs.

[2018-07-18 06:36] mruepp opened #1003 "kubeadm pulls pause on update and setup ignoring imageRepository: in config file"
## What keywords did you search in kubeadm issues before filing this one?
pause
imageRepository

## Versions

**kubeadm version** (use `kubeadm version`): 1.11.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
Setting up the

[2018-07-18 08:09] chenyb4 commented on #976
@neolit123
This issues was finish, but it doesn't auto close?

[2018-07-18 08:17] safazen opened #1004 "Public key for kubelet-1.11.1-0.x86_64.rpm is not installed"
Good morning, i want to install kubernetes but when typing yum install kubeadm il have this error:

Public key for ecaed8cbeff649711591e180d286b37d4b71bc6539ef0b598004e0bef7260ed7-kubelet-1.11.1-0.x86_64.rpm is not installed
 Failing package is: kubelet-1.11.1-0.x86_64
 GPG Keys are configured as: https://packages.cloud.google.com/yum/doc/yum-key.gpg
Can someone help me please ?

[2018-07-18 08:32] #1004 closed

[2018-07-18 10:19] rosti commented on #1003
kubeadm actually respects that image and if you pre-pull your images with kubeadm it should be able to fetch it from your private registry.

The thing, however, is that kubelet appears to be hardwired to several different versions of it (`k8s.gcr.io/pause-amd64:latest`, `k8s.gcr.io/pause:3.1`, etc.). So I think, that the problem is caused by kubelet.

We may attempt to pre-pull and tag the image i

[2018-07-18 11:11] d11wtq commented on #1002
This is interesting:

From the master:

[code]

The controller manager is in a crash loop.

Logs end with:

[code]

Note that "orchid" is the name of the master node and I've removed the taint `node-role.kubernetes.io/master-` because I want to schedule pods on that node.

[2018-07-18 12:16] neolit123 commented on #976
@chenyb4 you need to type
`Fixes #some-number`

but also it's probably a good idea only to do that once in the PR text and not in the commit, because it causes all the above references on rebase. see how many they are ^.

thanks.
/close

[2018-07-18 12:16] #976 closed

[2018-07-18 13:03] neolit123 commented on #1002
the are a number of RPI issues with k8s ATM, and these aren't really caused by kubeadm.

potential fix for the certificate stall:
https://github.com/kubernetes/kubernetes/pull/66264

if you feel like logging the issue again, i think it should go in `kubernetes/kubernetes`.
thanks.

[2018-07-18 13:03] #1002 closed

[2018-07-18 13:05] neolit123 commented on #1003
/help
/kind bug
/cc @kubernetes/sig-node-bugs ^ PTAL

[2018-07-18 15:14] neolit123 commented on #995
@aojea is working on this issue.
/active

[2018-07-18 15:29] chuckha commented on #1000
We use https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha3/defaults.go#L36 as the default k8s version which then gets normalized to the most recent release on that branch...which happens to be 1.11.1 in this case. As noted above, the images are lagging the release and the workaround is also noted above.

Retries with various versions feels like it will be pai

[2018-07-18 15:32] luxas commented on #1003
Idea, kubeadm could/should set `--pod-infra-container-image` in the kubelet config file automatically based on the image repository, if the docker CRI runtime is used (the flag is only used for dockershim).
This would be an ok improvement to kubeadm that would miligate this.
@neolit123 WDYT?

[2018-07-18 15:42] luxas commented on #1000
Closing this as an issue with the release machinery https://github.com/kubernetes/release/issues/587

[2018-07-18 15:42] #1000 closed

[2018-07-18 16:52] stealthybox commented on #991
@aojea that looks like a good addition
@fabriziopandini and I are also working on a non-ansible solution that may remove the dep -- more to come

[2018-07-18 17:21] davidkarlsen opened #1005 "kubeadm upgrade 1.11.0->1.11.1 fails"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm 1.11.1 upgrade fail

## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", P

[2018-07-18 17:37] neolit123 commented on #1005
@davidkarlsen
can you please re-try, we had some issues related to images today and yesterday:
https://github.com/kubernetes/release/issues/587

[2018-07-18 17:52] davidkarlsen commented on #1005
@neolit123 Still failing:

[code]
trying to pull the images manually and re-applying

[2018-07-18 18:17] neolit123 commented on #1003
hmm, so `pod-infra-container-image` is only used in the docker case.
looks like the other CRIs have their own ways of setting the `pause` image. :\

i guess we should do this workaround for docker in kubeadm for now. :+1:

[2018-07-18 18:33] neolit123 commented on #1005
so it seems that our error messaging is pretty bad, i.e. pointing at the right cause.
then again, it's not really easy to point at the exact cause.

referencing this, which is the closest we have related to `upgrade` UX improvements:
https://github.com/kubernetes/kubeadm/issues/810

[2018-07-18 18:35] timothysc opened #1006 "RFE: MVP kubeadm - ansible for kubeadm repo"
## What keywords did you search in kubeadm issues before filing this one?

There are dozens of installers and several dozen kubeadm-ansible versions in the wild.  So many, that I've lost count.  I think it makes a ton of sense to crib a minimal MVP that the sig maintains into this specific repo to serve as the example that others can fork to create more advanced examples.

## This is a FEATURE REQ

[2018-07-18 21:19] d11wtq commented on #1002
Thanks @neolit123. It turned out the problem was actually a bug in 1.11.0 where the controller manager was crash looping. Upgrading to 1.11.1 has fixed my issue. In general the only issue I have on Raspberry Pi 3 is some of the default timeouts (specifically the initalDelaySeconds in kube-apiserver.yaml - I run a script to update it to 180 instead of 15 the second it is generated. Unscientific, bu

[2018-07-18 22:11] neolit123 opened #1007 "HA and HA-etcd docs issues at `k/website`"
i browsed over the `k/website` repo in terms of kubeadm, HA and the `sig-cluster-lifecycle` labeled issues and closed some.

here are some items that need to be reviewed and fixed:
https://github.com/kubernetes/website/issues/9563
https://github.com/kubernetes/website/issues/9526
https://github.com/kubernetes/website/issues/9525
https://github.com/kubernetes/website/issues/9405

filtered list:
htt

[2018-07-18 22:43] erik-stephens commented on #726
Surprising that something called "bind ..." does more than impact what port a service will *listen* on.  Based on my experience with both 1.10 & 1.11, I'm seeing that impact both the port the kube-apiserver will listen on as well the port clients will use to connect to the control plane endpoint.

[code]

Trying to summarize my expectations as someone on-prem with not so much kubernetes experience

[2018-07-19 13:01] choudharykomal opened #1008 "Kubernets kube-apiserver service not started after reboot system"
I have setup cluster with kubeadm its working fine and 6443 port is up. but after reboot my system cluster is not getting up.

please suggest, what should i do.

Steps:
[code]

I have tried multiple time but getting same issue.

please help

[2018-07-19 13:12] neolit123 commented on #1008
did you install a pod network plugin?
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

[2018-07-19 13:46] choudharykomal commented on #1008
i had installed this
`kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"`

[2018-07-19 14:24] neolit123 commented on #1008
you should wait for the cluster to come back up after a few minutes. after setting up and rebooting type:
`watch kubectl get nodes`.
if the node doesn't ready up in 5 minutes, something is wrong.

[2018-07-19 14:34] andrenth opened #1009 "certificate signed by unknown authority (only with containerd)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes vers

[2018-07-19 14:34] choudharykomal commented on #1008
but cluster is not getting back after reboot.
[code]

[2018-07-19 14:41] neolit123 commented on #1008
i cannot reproduce this problem. did you try waiting a few minutes?
`watch kubectl get nodes`

[2018-07-19 14:45] choudharykomal commented on #1008
yes. getting following error massage

`The connection to the server 172.16.2.171:6443 was refused - did you specify the right host or port?`

[2018-07-19 14:56] neolit123 commented on #1008
any relevant errors from?
`journalctl -xeu kubelet`

[2018-07-19 15:00] neolit123 commented on #1009
hi,

does kubeadm work with docker in your setup?

what preflight errors are being reported?

`exec` is a kubectl sub command.

at this point i don't see a good relation between kubeadm and the issue.

[2018-07-19 15:00] choudharykomal commented on #1008
[code]

[2018-07-19 15:07] chrisohaver commented on #998
Found a couple instances of the same errors reported in other scenarios in the past.
Might try removing "allowPrivilegeEscalation: false" from the CoreDNS deployment to see if that helps.

[2018-07-19 15:07] choudharykomal commented on #1008
Thanks..

after swap off its working fine. is there any step for ignore swap ?

[2018-07-19 15:08] neolit123 commented on #1008
is this an old error?

having a swap enabled is not recommended, this can be force disabled with `--fail-swap-on=false` in the kubelet drop-in file.

what is your kubelet status before and after reboot:
`sudo systemctl status kubelet`

[2018-07-19 15:09] neolit123 commented on #1008
please see above.

[2018-07-19 15:09] #1008 closed

[2018-07-19 15:09] choudharykomal commented on #1008
Thank you so much

[2018-07-19 15:47] andrenth commented on #1009
Hi

Yes, it works with docker, in which case I remove the `nodeRegistration` section in the kubeadm config and leave `KUBELET_EXTRA_ARGS` empty.

There are actually no preflight errors, the ignore flag was a leftover because the blog posts I've found explaining how to use containerd used it, but it's not necessary. Here's the `kubeadm init` output:

[code]

[2018-07-19 16:30] neolit123 commented on #1009
is there any verbose output from:
[code]

sadly, `certificate signed by unknown authority` is one of the most generic cert related error and i don't think someone can help based on just that.

normally this can be debugged via `curl --cacert...` etc as long as you know which endpoint to probe with your available certificates.

[2018-07-19 16:39] andrenth commented on #1009
No extra info with `-v=4`, but with `-v=9` I get a "500 Internal server error", which I'm not sure is related to this problem:

[code]

[2018-07-19 19:18] neolit123 commented on #1009
so, i really don't have an idea what's the case here.
my problem with this issue is that kubeadm treats CRIs the same in term of certificates.
which then implies an issue related to something other than kubeadm in regard of containerd.

also, our kubeadm developer resource is kind of limited, so i'm going to leave this open, but in case you find the actual cause - ping back.

[2018-07-19 21:10] neolit123 commented on #1009
/ping @kubernetes/sig-node-bugs

[2018-07-19 21:43] sectorsize512 commented on #998
just in  case, selinux is in permissive mode on all nodes.

[2018-07-19 21:45] sectorsize512 commented on #998
An I'm using Calico (not weave as @carlosmkb).

[2018-07-19 22:37] yujuhong commented on #983
I'd like to propose an alternative. We can *always* use cri socket +`crictl` to interact with the runtime (when needed), and deprecate the special docker code path.
This simplifies the testing flow significantly, since Docker will no longer be a special case. The one downside is `crictl` will be a prerequisite for using kubeadm, but the benefits still outweigh the cost to me. Of course, the docume

[2018-07-20 08:14] bart0sh commented on #983
@yujuhong did you try if it works with docker this way? Which socket to use for that? Which versions of docker do support this?

[2018-07-20 08:14] bart0sh commented on #983
/cc @kad

[2018-07-20 11:42] bart0sh commented on #701
/cc kad

[2018-07-20 13:28] NeilW opened #1011 "kubeadm should warn about missing podSubnet/clusterCIDR"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version

[2018-07-20 13:38] NeilW opened #1012 "kubeadm doesn't check address families are consistent"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version

[2018-07-20 16:49] sekrett commented on #416
Is there any option for `kubeadm init` for specifying cluster name? I did not find it. I created a config file but it is experimental. Such an important thing should be easy to configure.

[2018-07-20 18:17] andrenth commented on #1009
Fixed by [changing /etc/containerd/config.toml](https://github.com/containerd/cri/issues/856#issuecomment-406671905):

[code]

[2018-07-20 18:17] #1009 closed

[2018-07-20 18:34] yujuhong commented on #983
@bart0sh the CRI piece for docker is in kubelet (`pkg/kubelet/dockershim`). If it's an okay assumption that kubelet will be running when talking docker, this should work. I'll need to look into kubeadm code to see if the assumption holds true.

[2018-07-20 19:41] timothysc commented on #1007
So long as the team has been @'d and assigned I don't think we need to double-track here.

[2018-07-20 19:43] #1007 closed

[2018-07-20 19:56] neolit123 commented on #416
@sekrett
on [this page](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/) search for the config field: `clusterName`. it can be set in the config.

[2018-07-20 20:01] timothysc commented on #1012
/cc @kad

[2018-07-20 21:44] bladerunner512 opened #1013 "Authorization error with multiple masters"
## What keywords did you search in kubeadm issues before filing this one?
x509: cannot validate certificate

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.10.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.10.0
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu

[2018-07-20 23:02] #921 closed

[2018-07-22 07:26] Jaskaranbir opened #1014 "KubeletExtraArgs not being read from config file"
## What keywords did you search in kubeadm issues before filing this one?

`args` (such extensive search, much results)

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.11.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.1
- **Cloud provider or hardware configuration**: Local VM in Vagrant
- **OS** (e.

[2018-07-22 09:22] ieugen opened #1015 "kubeadm upgrade diff looses configuration options"
## What keywords did you search in kubeadm issues before filing this one?

diff, upgrade

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: Bare metal (VM's in cloud)
- **OS** (e.g. from /etc/o

[2018-07-22 12:37] stepin opened #1016 "Kubeadm has incorrect images list to bootstrap k8s 1.11 without internet"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kube

[2018-07-22 13:48] luxas commented on #1015
/assign @liztio @timothysc

[2018-07-22 19:53] neolit123 commented on #1014
hi, @Jaskaranbir

please have a look at our example config for 1.11.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
reference docs:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm#MasterConfiguration

in your example, this should be changed:
[code]
to:
[code]
kubeadm uses the `v1alpha2` type, not `v1alpha1`.

also, this:
[code]
should look like:
[code]
plea

[2018-07-22 23:03] Jaskaranbir commented on #1014
@neolit123 thanks for the reply. However, my issue is still not fixed (Kubelet still doesn't get the args).

Here's my new config file:
[code]

I am still facing the swap-error when starting Kubelet, and `/etc/default/kubelet` still doesn't have any args.

[2018-07-23 01:32] Jaskaranbir commented on #1014
EDIT (for my last comment):

Thanks for help; I just realized that I was using wrong options to configure. This is what worked for me:
[code]

Although I am still not sure what the `KubeletExtraArgs` is for then (https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha2/types.go#L147).

In any case, closing this for now. Thanks again for the help.

[2018-07-23 01:32] #1014 closed

[2018-07-23 07:58] bart0sh commented on #983
@yujuhong As far as I know you can't assume that dockershim socket exists and kubelet is running for all kubeadm modes.

btw, current code already supports working with the docker through dockershim socket. You don't need to remove docker support to achieve that. Just use --cri-socket unix:///var/run/dockershim.sock in the kubeadm command line.

[2018-07-23 08:50] luxas commented on #1016
Indeed,

k8s.gcr.io/k8s-dns-sidecar-amd64:1.14.10
k8s.gcr.io/k8s-dns-dnsmasq-nanny-amd64:1.14.10

should be added. The pause image has been fixed in a patch release.
/assign @rosti @chuckha

[2018-07-23 12:51] stepin commented on #203
Just note that in Kubernetes 1.11 setting of KUBELET_EXTRA_ARGS in /etc/systemd/system/kubelet.service.d/20-custom.conf don't work anymore: it should be set in /etc/sysconfig/kubelet (a bit different syntax of these files).

[2018-07-23 14:30] Jaskaranbir commented on #1014
@luxas thanks for the reply, but I already tried that earlier:
[code]

However, the Kubelet still failed with the swap error. Am I missing something here?

Another thing that confused me a bit is the `taints` key.
If its a blank array (as in my example), the node should not have any taints, correct? However, my master node still gets the `NoSchedule` traits and I have to manually remove it again a

[2018-07-23 14:34] chrisohaver commented on #998
standard_init_linux.go:178: exec user process caused "operation not permitted"

Ah - This is an error from kubectl when trying to get the logs, not the contents of the logs...

[2018-07-23 15:43] carlosmkb commented on #998
@chrisohaver  the `kubectl logs` works with another kube-system pods

[2018-07-23 15:44] chrisohaver commented on #998
OK - have you tried removing "allowPrivilegeEscalation: false" from the CoreDNS deployment to see if that helps?

[2018-07-23 15:55] chrisohaver commented on #998
... does a `kubectl describe` of the coredns pod show anything interesting?

[2018-07-23 16:17] luxas commented on #1014
It needs to be **`nodeRegistration`** not `nodeRegistrationOptions`

[2018-07-23 17:48] yujuhong commented on #983
Hmm....can you point me to the relevant bits where kubeadm needs to talk to docker while kubelet is absent? Thanks!

Yes, but supporting both modes for docker would likely lead to insufficient testing for one of them. The main point of the proposal is to force docker testing goes through the same code path as other runtimes.

[2018-07-23 21:11] tswift242 commented on #118
@luxas, I'm using kubernetes 1.10.x and, as @yann-soubeyrand pointed out, kubeadm still doesn't set the --kubelet-certificate-authority argument for the API server. Looking over the diff for https://github.com/kubernetes/kubernetes/pull/40292, I don't see any mention of --kubelet-certificate-authority. Can kubeadm be enhanced to set this by default as well?

Even if it's not set by default, it's n

[2018-07-23 23:13] joejulian commented on #984
To repro:

ca-config.json
[code]

ca-csr.json
[code]

Then use cfssl:

[code]

Now try to use this CA cert:

[code]

[code]

[2018-07-23 23:14] joejulian commented on #984
@neolit123 What led you to your expectation that this would not be coming soon? Do you see some specific blocker?

[2018-07-24 00:41] neolit123 commented on #984
@joejulian

i think the biggest blocker is that this is a relatively low priority task and the kubeadm team is busy.

i did some investigation and it feels like the rest of kubernetes is ECDSA is "ready".
PRs for kubeadm are welcome!

[2018-07-24 02:06] timothysc commented on #1013
HA was never fully supported by the community and the instructions have been updated and validated for v1.11.

We recommend exercising those instructions.

[2018-07-24 02:06] #1013 closed

[2018-07-24 02:09] timothysc commented on #1015
@ieugen I'd recommend using the configuration migrate utility prior to attempting to upgrade.  The configuration file format has significantly changed from v1.10 -> v1.11 but folks have done a good job in testing that migration.

[2018-07-24 02:12] timothysc commented on #1016
/assign @liztio @timothysc

@chuckha is on a different adventure for a while in cluster-api.

[2018-07-24 09:04] Nurza commented on #338
Same problem here. Any documentation to proceed a master ip modification without resetting the entire cluster please ?

[2018-07-24 09:17] bart0sh commented on #983
Sure. Here are 2 use cases:
1. resetting master:
[code]

2. pulling images:
[code]

Both cases work with docker just fine.

[2018-07-24 12:07] patricklucas commented on #338
I was able to accomplish this by:
* replacing the IP address in all config files in /etc/kubernetes
* backing up /etc/kubernetes/pki
* identifying certs in /etc/kubernetes/pki that have the old IP address as an alt name[1]
* deleting both the cert and key for each of them (for me it was just apiserver and etcd/peer)
* regenerating the certs using `kubeadm alpha phase certs`[2]
* restarting kubelet

[2018-07-24 13:43] sekrett commented on #416
As I said before I created a config file and it works. I don't like the fact it's apiVersion is alpha.

[2018-07-24 13:51] neolit123 commented on #416
this is how k8s features work, alpha -> beta -> GA.
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/#using-a-feature

there is a command called `kubeadm config migrate` that will help you to update your config from the alpha version to beta, once the beta version is released.

[2018-07-24 14:06] sekrett commented on #416
@neolit123 Nice information, thanks. That page says that using an alpha version may be buggy and should not be used in long living clusters, that's the thing I am concerned about. I dumped a config file with `kubeadm config print-default` and it is pretty long. Maybe I should minimise it so that it contains only `clusterName` and hope it will not lead to bugs?

[2018-07-24 14:15] chenchix commented on #536
@timothysc hi, how did you resolve the issue? I am facing the same problem.

[2018-07-24 14:52] ncdc opened #1017 "Allow overriding CoreDNS image tag in kubeadm configuration"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## What happened?
Unable to override the CoreDNS image tag for a kubeadm installation in the kubeadm config file

## What you expected to happen?
Be able to override the CoreDNS image tag for a kubeadm installation in the kubeadm config file

## Anything else we need to know?
The CoreDNS image tag is hard-coded as a constant and referen

[2018-07-24 14:52] timothysc commented on #1017
/assign @liztio @chuckha

[2018-07-24 14:58] timothysc commented on #1017
@ncdc would an overall tag-suffix suffice(e.g. - .patch.0 ) for all images?  Or do we want to treat CoreDNS differently?

[2018-07-24 14:59] ncdc commented on #1017
We use a separate version for etcd. It's probably appropriate to keep CoreDNS separate as well - it's an independently versioned component. Right?

[2018-07-24 15:13] neolit123 commented on #416
@sekrett

moving the config away from alpha is a slow process. we expect the config to be beta in 1.12.

you can extract only the parts that you need from `print-default`.

[2018-07-24 15:51] sekrett commented on #416
Got it, thanks!

[2018-07-24 18:03] luxas commented on #118
Right, we can't make the connections from the api server to the kubelet servers verified, as each kubelet has its own self-signed cert. We might consider a manual approving flow wrt kubelet serving certs in the future but that's not secured by default at the moment.

[2018-07-24 18:05] luxas commented on #1016
@timothysc @rosti has a PR for this already which fixes this :+1: https://github.com/kubernetes/kubernetes/pull/66499

[2018-07-24 18:13] luxas commented on #983
Yeah it's the dependency of requiring the kubelet to be running in order for dockershim to be run that is problematic. If that wouldn't be the case we could directly switch over, but I don't think so with the current architecture...

[2018-07-24 18:15] luxas commented on #1017
This is being discussed in the beta config KEP: https://docs.google.com/document/d/1Sk2VW7IKaLjrjf_4a1NEU0l7X0ysZoXq9lVBvH-ruYY/edit & #911

[2018-07-24 18:57] jrfeenst commented on #118
Cat the kubelet get a signed server cert when it joins the cluster? Aren't there already certificate signing requests being sent from kubeadm/kubelet to the apiserver?

[2018-07-24 19:05] liggitt commented on #118
It can, if there is an approval process in place to approve those serving certificates. Today, nothing in the cluster has sufficient knowledge to know if a particular kubelet is entitled to a serving certificate for a particular address.

For client certificates, yes. For serving certificates, no. Serving certificate requests is planned to be promoted to beta in 1.12, but still requires the presen

[2018-07-24 21:00] #1016 closed

[2018-07-25 06:16] bronger commented on #28
Is https://github.com/kubernetes/kubeadm/issues/83 supposed to work for v1.11? Because I still need to set
[code]
in `/etc/sysconfig/kubelet` so that the IP of the DNS server in the pods is correct. I called:
[code]
Without setting `KUBELET_EXTRA_ARGS`, the DNS is looked for at 10.96.0.10.

[2018-07-25 07:30] Nurza commented on #338
Wow, I was anaware of these commands. Great infos, that did the trick. Thank you !

[2018-07-25 10:16] NeilW opened #1018 "No way to set cloudProvider: external in new config files"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Versio

[2018-07-25 11:43] neolit123 commented on #28
@bronger
i cannot comment on the topic if the kubeadm flag (`service-cidr`) **should** somehow translate to the DNS IP in the kubelet.

but assuming you have transitioned to the kubeadm config `v1alpha2` you can use the following:
[code]
this will help you to not have to update the `kubelet` file.

ref: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2018-07-25 11:54] neolit123 commented on #987
closing in favor of #988.
no need to have both.

[2018-07-25 11:54] #987 closed

[2018-07-25 15:19] rayburgemeestre commented on #504
Found this ticket a twice now troubleshooting this error, I remember your previous snippet worked for me the last time, the one with the 3 iptables commands (a Month ago or so), but now they didn't, and this time your above snippet saved me, thanks!

[2018-07-25 15:36] bladerunner512 opened #1019 "Offline install with kubeadm v1.11 fails"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
v1.11.0

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernete

[2018-07-25 15:41] alberto-coolshop opened #1020 "83"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-07-25 15:42] luxas commented on #28
@bronger check the `/var/lib/kubelet/config.yaml` file, cluster-dns should be set correctly there in v1.11

[2018-07-25 15:43] neolit123 commented on #1019
can you show the list of images on your system?

[2018-07-25 15:43] luxas commented on #1020
Reopen once you've filled in the information asked for.

[2018-07-25 15:43] #1020 closed

[2018-07-25 15:57] bladerunner512 commented on #1019
$ docker images
REPOSITORY                                         TAG                 IMAGE ID            CREATED             SIZE
k8s.gcr.io/kube-apiserver-amd64                    v1.11.0             214c48e87f58        3 weeks ago         187 MB
k8s.gcr.io/kube-controller-manager-amd64           v1.11.0             55b70b420785        3 weeks ago         155 MB
k8s.gcr.io/kube-proxy-amd64

[2018-07-25 16:29] NeilW opened #1021 "kubelet 'cloud provider' extra flags not propagated to joined nodes"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Versio

[2018-07-25 16:45] luxas commented on #528
xref: https://github.com/kubernetes/community/pull/2354

[2018-07-25 22:06] liztio commented on #206
I've done some testing on the client cert upgrades. My methodology:

1. Join a node to the cluster using `kubeadm join`
2. make a csr for the existing private key with `openssl req`
3. Sign the csr on the master using the k8s ca, but set it to expire in two days (`-days 2`)
4. copy the issued cert back, replace it on the worker node
5. upgrade the node (in my case, 1.11.0 -> 1.11.1).

Based on my

[2018-07-25 23:48] neolit123 commented on #1018
@NeilW
given you are reporting the new issue (https://github.com/kubernetes/kubeadm/issues/1021) i assume that the master setup for the CP extra flags is working at least - i.e. close this issue?

[2018-07-25 23:54] neolit123 commented on #526
we hand two reports the last couple of days, about users not understanding how to pass the cloud provider to the control plane and the kubelet from kubeadm.

[2018-07-25 23:55] danbeaulieu opened #1022 "Kubeadm not using etcd local extraArgs defined in config file"
## Is this a request for help?

No

## What keywords did you search in kubeadm issues before filing this one?

etcd, extraArgs, initial-cluster

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

```# kubeadm version kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d9033

[2018-07-26 00:01] neolit123 commented on #1022
can you share your kubeadm config, please?
make sure that you REMOVE any sensitive data.

[2018-07-26 00:03] neolit123 commented on #1019
hm, the images seem valid.

/cc @chuckha
/help

[2018-07-26 00:03] neolit123 commented on #1019
@kubernetes/sig-cluster-lifecycle-bugs

[2018-07-26 00:48] danbeaulieu commented on #1022
@neolit123 thanks for the hint. My config file specified apiVersion kubeadm.k8s.io/v1alpha1 instead of apiVersion: kubeadm.k8s.io/v1alpha2. Nice reminder that those things mean something.

[2018-07-26 00:48] #1022 closed

[2018-07-26 01:48] dixudx commented on #1019
/assign

[2018-07-26 06:11] stealthybox commented on #1011
I agree this check is necessary.
It's very easy to produce unworkable configurations.

[2018-07-26 06:13] dixudx commented on #1019
@bladerunner512 Can you help check your `kubelet`.

Since the whole error message should be,

[code]

Actually the images have already been cached locally already as we have pulled them using crictl in the preflight checks. Hence we can have a pretty short timeout for the kubelet to start creating Static Pods. The message here is a little bit misleading.

[2018-07-26 06:34] NeilW commented on #1018
If we think the improved documentation of the process is captured by another ticket. The requirement to use alpha2 and the way the external flag is handled in the config just isn't in the documentation at present.

[2018-07-26 07:24] leoyer opened #1023 "this might take a minute or longer if the control plane images have to be pulled"
[code]

[2018-07-26 08:18] xlgao-zju commented on #995
Hi, @neolit123 I find out this issue too. I created a three-master cluster, and the two coredns pods are on the same node. Anti affinity is a good option to spread the pods, but I have a concern about doing this. I read this form https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity

I am wondering if it is worth slowing down scheduling?

[2018-07-26 08:44] bart0sh commented on #1019
@bladerunner512 Can you show full error message starting from "Unfortunately, an error has occurred:" line?

[2018-07-26 08:48] bart0sh commented on #1019
@bladerunner512 following instructions given in the error message would help too:
[code]

[2018-07-26 12:18] neolit123 commented on #1018
yes, the alpha1-> 2 is captured in another issue:
https://github.com/kubernetes/kubeadm/issues/849

this is the ticket that tracks our missing CP docs:
https://github.com/kubernetes/kubeadm/issues/526

this here just adds a couple of notes to the `kubeadm init` page but is not really a full solution for the missing docs:
https://github.com/kubernetes/website/pull/9638

thanks
/close

[2018-07-26 12:18] #1018 closed

[2018-07-26 13:05] NeilW commented on #1021
Workaround (tested on 1.11.1) is to set the default file on each worker node before initialising.

[code]

[2018-07-26 14:08] neolit123 commented on #1023
@leoyer
your bug report is incomplete.

- what OS / distro / CPU architecture is this?
- what is your docker version?
- the kubelet seems to be running - what is the output of `sudo systemctl status kubelet`?
- do you have an internet connection?
- did you pre-pull the images using `kubeadm config images pull --kubernetes-version=1.11.1`?
- are you using a kubeadm config file (`--config`) what are

[2018-07-26 14:33] bladerunner512 commented on #1019
Didn't list the full error for brevity, but did check the kubelet which is not returning errors. Also got no images back from 'docker ps -a'. v1.10 installed ok on the same node, moved to v1.11 to get support for HA masters with kubeadm. Installation is the same as v1.10 with the exception of updating the local images listed previously.

$ docker ps -a
no images are found

user001@master001:~$ sud

[2018-07-26 16:44] neolit123 commented on #995
this might a problem. thanks for pointing that out @xlgao-zju.
i don't see a PR from @aojea, yet.

so i guess we need feedback if this is something that we don't want to enable by default from kubeadm.
/assign @luxas
/assign @timothysc

[2018-07-26 16:54] Leozki commented on #998
Same issue for me.
CentOS Linux release 7.5.1804 (Core)
Docker version 1.13.1, build dded712/1.13.1
flannel as cni add-on
[code]

[2018-07-26 16:56] bladerunner512 commented on #1019
FYI, noticed warning in init output:
        [WARNING ImagePull]: failed to pull image [k8s.gcr.io/pause-amd64:3.1]: exit status 1
I believe in previous releases this image didn't include 'amd64', i.e. 'k8s.gcr.io/pause:3.1'
Including the image didn't have any effect on this issue though.

[2018-07-26 21:32] fturib commented on #995
@chrisohaver : what is your opinion, I think we already added and removed that option.

[2018-07-27 01:50] leoyer commented on #1023
- OS : Ubuntu 17.10
-  CPU: Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz
-  architecture x64
-  Docker version 17.03.0-ce
- sudo systemctl status kubelet output

<pre>   kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadmin.conf
   Active: ac

[2018-07-27 02:11] neolit123 commented on #1023
thanks for the details.
[code]

this seems like a proxy issue?

what flags flags are you passing to `kubeadm init`?
if you are you using `kubeadm init --config`, could you share the contents of the config file as well?

[2018-07-27 02:17] leoyer commented on #1023
- kubeadm init --config
<pre>
Error: flag needs an argument: --config
Usage:
  kubeadm init [flags]

Flags:
      --apiserver-advertise-address string   The IP address the API Server will advertise it&apos;s listening on. Specify &apos;0.0.0.0&apos; to use the address of the default network interface.
      --apiserver-bind-port int32            Port for the API Server to bind to. (default 6443)

[2018-07-27 02:20] leoyer commented on #1023
- kubeadm init
<pre>
[init] using Kubernetes version: v1.11.1
[preflight] running pre-flight checks
I0727 10:18:21.013997   32184 kernel_validator.go:81] Validating kernel version
I0727 10:18:21.014182   32184 kernel_validator.go:96] Validating kernel config
[preflight/images] Pulling images required for setting up a Kubernetes cluster
[preflight/images] This might take a minute or two, depending

[2018-07-27 03:03] neolit123 commented on #1023
hard to say what the problem is.

[2018-07-27 03:14] leoyer commented on #1023
Have you noticed that there is no parameter behind my kubelet.service kubelet command? Does this matter? I think there are many parameters behind the kubelet of other people, or is the configuration of 1.11.1 version changed?

[2018-07-27 05:07] sudeeshjohn opened #1024 "kubeadm init --kubernetes-version ci-cross/latest fails to pull the images"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

root@ip:~  # kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.0-alpha.0.2473+fea4ad2783f59d", GitCommit:"fea4ad2783f59d44cc0db907523a07499db172ec", GitTreeState:"clean", BuildDate:"2018-07-27T03:13:19Z", GoVersion:"go1.10.3", Compil

[2018-07-27 05:22] mkumatag commented on #1024
@luxas @dims

[2018-07-27 07:04] leoyer opened #1025 "Image garbage collection failed once. Stats initialization may not have completed yet: failed to get imageFs info: unable to find data for container /"
- OS : Ubuntu 17.10
-  CPU: Intel(R) Core(TM) i5-6400 CPU @ 2.70GHz
-  architecture x64
-  Docker version 17.03.0-ce
- sudo systemctl status kubelet output

<pre>   kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadmin.conf
   Active: ac

[2018-07-27 08:13] bart0sh commented on #1019
@bladerunner512

This is probably caused by [this issue](https://github.com/kubernetes/kubeadm/issues/962) and already fixed by [this PR](https://github.com/kubernetes/kubernetes/pull/65920) in master and [cherry picked](https://github.com/kubernetes/kubernetes/pull/65923) into 1.11 branch.

Can you try if the fix works for you?

[2018-07-27 09:47] leoyer commented on #1023
I think it was because I installed some kubernetes components before. After I modified the kubelet.service file, it seemed that I could work.
- vim  /lib/systemd/system/kubelet.service
<pre>
[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/

[Service]
ExecStart=/usr/bin/kubelet --kubeconfig=/etc/kubernetes/kubelet.conf --config=/var/lib/kubelet/config.y

[2018-07-27 09:48] #1023 closed

[2018-07-27 09:56] ddaron commented on #998
I have the same issue when selinux is in persmissive mode. When I disable it in /etc/selinux/conf SELINUX=disabled and reboot machine the pod starts up.

Redhat 7.4
docker-1.13.1-68.gitdded712.el7.x86_64

[2018-07-27 10:10] stewart-yu commented on #528
good issues, much helpful to `kubeadm` out of tree
/cc

[2018-07-27 12:13] mkumatag commented on #1024
it was working before, I'm not really sure what screwed up all of a sudden.!

[2018-07-27 12:16] chrisohaver commented on #995
Yes - this came up a while back (~3-6 months ago?). Ultimately the decision was to not include anti-affinity for the scaling issue mentioned above.  At the time there was a parallel PR that attempted to fix the anti-affinity scaling issue, but after merging it was found that it did not resolve the problem effectively enough. For the brief time that we though the issue was resolved, we had pod anti

[2018-07-27 12:21] neolit123 commented on #1024
i'm not exactly sure how this worked before, but google did made some changes recently to the staging/main container registry.

for this to work right now, images need to be uploaded on each CI build to `gcr.io`, and i don't think this will happen...`gcr.io` right now only contains release related images.

if you know where the images are you can change this in the kubeadm config:
[code]

[2018-07-27 12:23] chrisohaver commented on #995
related:
coredns/deployment#60
kubernetes/kubernetes#54164
kubernetes/kubernetes#57683
kubernetes/kubernetes#59357

[2018-07-27 12:31] neolit123 commented on #995
thanks for the valuable info @chrisohaver and @fturib. :100:

@aojea please hold on sending a PR for this for now.

for small clusters this is nice to have and there has to be a switch for it, when kubeadm is setting up coredns, but this should be OFF by default so that we don't get reports about scaling issues.

deferring to @luxas and @timothysc on the possibility of a switches/knobs for this.
i

[2018-07-27 12:51] PierrickI3 opened #1026 "kubelet won't restart after reboot - Unable to register node with API server: connection refused"
## Is this a request for help?

It is but I have searched StackOverflow and googled many times without finding the issue. Also, this seems to affect more people.

## What keywords did you search in kubeadm issues before filing this one?

The error messages I see in journalctl

## Is this a BUG REPORT or FEATURE REQUEST?

Bug report

## Versions

**kubeadm version**: `kubeadm version: &version.Info

[2018-07-27 12:54] #945 closed

[2018-07-27 13:13] neolit123 commented on #1026
hello @PierrickI3

do you have connectivity to:
[code]

[2018-07-27 13:14] PierrickI3 commented on #1026
I don't, but it's my local IP address:

[code]

[2018-07-27 13:19] neolit123 commented on #1026
6443 is the secure port of the API server.
is the API server running?

what is the output of `kubectl get pods --all-namespaces`

[2018-07-27 13:35] PierrickI3 commented on #1026
Here is the output from kubectl:
[code]

I don't have any firewall blocking this port and I ssh'd directly on the machine.

Here is the manifest (no sensitive data to hide as it's not exposed):
[code]

[2018-07-27 13:49] PierrickI3 commented on #1026
here is the output from docker ps:
[code]

[2018-07-27 14:02] neolit123 commented on #1026
[code]
this one should be deprecated and disabled by default in 1.11.1, did you adapt an old kubeadm config?
what are the contents of your kubeadm config (again, please hide sensitive data where needed)?

[2018-07-27 14:09] xlgao-zju commented on #995
@neolit123 Agree. If we can expose the manifest yaml, it would be very convenient for users to modify it.

[2018-07-27 14:11] PierrickI3 commented on #1026
How can I retrieve the kubeadm config? Running `kubeadm config view` results in the same `connection refused` error.

To deploy, I followed the kubeadm instructions. Here is what I executed:

[code]

[2018-07-27 14:18] neolit123 commented on #1026
[code]
in this case you are not passing `--config` so your config is pretty much:
`kubeadm config print-default` + the CIDR change.

what happens if you use a different CNI?
(i know that it worked before reboot but just testing...).

first this without CIDR:
[code]

then:
[code]

[2018-07-27 14:32] neolit123 commented on #1026
yes, unless you have are reason to not want to?

[2018-07-27 14:34] NeilW opened #1027 "kube-proxy scheduled before node is initialised by cloud-controller"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Versio

[2018-07-27 14:41] PierrickI3 commented on #1026
I ran `kubeadm reset` and then an error happened after `[init] this might take a minute or longer if the control plane images have to be pulled`:

[code]

[2018-07-27 14:42] PierrickI3 commented on #1026
Here is the `kubeadm reset` output:

[code]

[2018-07-27 14:59] neolit123 commented on #1026
i've been seeing this the past few days from users, for some reason....

can you pre-pull the images using:
[code]

then try `init` again? if it fails again what does `journalctl` says about the kubelet.

[2018-07-27 15:06] PierrickI3 commented on #1026
here is the output from `kubeadm config images pull --kubernetes-version 1.11.1`:

[code]

Then ran `kubeadm reset`:

[code]

Then `kubeadm init`:

[code]

journalctl last entries:

[code]

I am not able to add any network pod yet.

[2018-07-27 15:18] neolit123 commented on #1026
yes, this is failing earlier.

`pull images` working implies that you have connectivity to the `gcr.io` bucket.

please, restart the kubelet manually and see what the logs show:
[code]
i'm running out of ideas.

[2018-07-27 15:25] PierrickI3 commented on #1026
* Ran `systemctl restart kubelet`
* `systemctl status kubelet`:

[code]

journalctl -xeu kubelet | less:

[code]

[2018-07-27 15:37] neolit123 commented on #1026
what happens if stop everything related to kubernetes on this node and try to run a small server listening on `192.168.1.19:6443`?

[code]

`netstat -tulpn`
to make sure the nothing is listening there.

write this to a test.go file
[code]
`go run test.go`

`$ curl 192.168.1.19:6443`
does it work?

i know this is silly, but i'm out of ideas.

[2018-07-27 15:42] PierrickI3 commented on #1026
Output of `netstat -tulpn`:

[code]

output of `curl` after executing `test.go`:
[code]

[2018-07-27 15:47] neolit123 commented on #1026
well it works!
i'm sorry but i cannot help more today.

maybe someone else can have a look at the logs and figure out whats going on?

[2018-07-27 15:48] PierrickI3 commented on #1026
Anyone in particular you think ok? Could you tag them in this issue?

[2018-07-27 15:49] neolit123 commented on #1026
@kubernetes/sig-cluster-lifecycle-bugs

[2018-07-27 16:11] luxas commented on #528
/assign @dixudx

[2018-07-27 16:12] luxas commented on #28
@bronger please open a new issue with all the required information to debug that. Might be a bug.

[2018-07-27 16:43] chrisohaver commented on #998
FYI, Also works for me with SELinux disabled (not permissive, but _disabled_).
Docker version 1.13.1, build dded712/1.13.1
CentOS 7

[code]

[2018-07-27 17:40] #954 closed

[2018-07-27 20:13] neolit123 commented on #1027
if this cannot be fixed by adjusting the kubeadm kube-proxy manifest and config map:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/proxy/manifests.go

or by adjusting the kubeproxy config that the kubeadm config embeds:
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/apis/kubeproxyconfig/types.go#L100

then it's hard to qualify this as a kubeadm

[2018-07-27 21:49] NeilW commented on #1027
Thanks. I'll have a play with the DS and if I can't do anything there I'll kick it upstairs.

[2018-07-28 02:29] dlipovetsky commented on #857
I tried to apply the workaround, but ran into two issues.

First, the patch appears to have a typo. After patching, I found that the `NODE_NAME` variable was not expanded in the command line:
[code]
I fixed this by changing the curly braces `${NODE_NAME}` to parentheses `$(NODE_NAME)`, as per the docs:

-- https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#

[2018-07-28 02:55] dlipovetsky commented on #857
I was able to work around the second by changing the `hostnameOverride` field in the kube-proxy ConfigMap to `192.0.2.24`, but of course that's not a correct configuration because it's consumed by kube-proxy Pods scheduled on all nodes.

I believe the the root of the second issue is that the kube-proxy config file `hostnameOverride` value overrides the flag value. I edited the kube-proxy DaemonSet

[2018-07-28 07:04] dlipovetsky commented on #857
I was able to work around the issue by modifying the config in an init container. Please see the above PR to the docs for the patches.

[2018-07-30 09:38] PierrickI3 commented on #1026
@bart0sh Thanks but I had to start over this weekend so I can no longer troubleshoot this. I will close this issue.

FYI, the output of netstat -tulpn is shown above (https://github.com/kubernetes/kubeadm/issues/1026#issuecomment-408457991). I have no proxy (direct connection to the internet).

[2018-07-30 09:38] #1026 closed

[2018-07-30 14:02] bladerunner512 commented on #962
I originally had 'k8s.gcr.io/pause:3.1' then I tried 'k8s.gcr.io/pause-amd:3.1' - neither image had any effect on this issue.

[2018-07-30 14:09] danbeaulieu commented on #584
@luxas is this fix only for the cli parameter --node-name in v.1.11? I am using v1.11.1 but using a config file and setting the nodeName value in the config file and kubelet is still using `hostname`

[2018-07-30 15:01] AdrianBalcan commented on #122
@nthienan you can run: `kubectl edit cm kubeadm-config -n kube-system` and add `      service-node-port-range: 80-32767` under `apiServerExtraArgs:`.
kube-apiserver will restart in few moments: `watch "kubectl get pods -n kube-system | grep apiserver"`

[2018-07-30 15:55] luxas commented on #1021
This is expected, everything in `nodeRegistration` is on purpose instance-specific. What you set there is only preserved in the place of execution. Instead, set `nodeRegistations` in `NodeConfiguration` or modify `/etc/default/kubelet` as described.

[2018-07-30 15:55] #1021 closed

[2018-07-30 16:02] neolit123 commented on #929
@davidkarlsen hi, 1.10.5 was released recently.
any update on the issue you were having with 1.10.x, or perhaps you moved to 1.11.x instead?

[2018-07-30 16:06] lareeth commented on #998
We are also experiencing this issue, we provision infrastructure through automation, so requiring a restart to completely disable selinux is not acceptable. Are there any other workarounds why we wait for this to be fixed?

[2018-07-30 16:10] chrisohaver commented on #998
Try removing "allowPrivilegeEscalation: false" from the CoreDNS deployment to see if that helps.
Updating to a more recent version of docker (than 1.1.3) may also help.

[2018-07-30 16:42] NeilW commented on #1021
How does that sit with the idea that the token is all you need to connection to the cluster. Has that concept been abandoned?

[2018-07-30 16:59] luxas commented on #1021
@NeilW I'm not totally sure I understand the question. `bootstrapTokens` is ephemeral, not uploaded to the cluster configmap for security reasons, but used at `kubeadm init` time to apply the desired state to the cluster so that you can connect with a token if you want. However, tokens really should be used only for bootstrapping

[2018-07-30 17:13] NeilW commented on #1021
If I use a bootstrap token with a 'kubeadm join', the cluster won't join properly because the 'cloud-provider: external' isn't propagated to the kubelet config on the Node by the Master.
I have to give the node the cloud provider specification, not just the token. My understanding was that the join workflow was only supposed to require the security details (the token) and everything else would be

[2018-07-30 17:25] luxas commented on #1021
Yes, normally, but not in this case as cloud provider information isn't stored in the kubelet ComponentConfig. hmm yeah this is an edge case indeed. For now you just have to feed it to your kubelets.

I don't think it ever will be the default.

cc @andrewsykim FYI

[2018-07-30 17:50] andrewsykim commented on #526
@NeilW if you can create an issue in `kubernetes/kubernetes` and tag sig-cloud-provider we'd be happy to discuss it in our next meeting.

[2018-07-30 20:50] neolit123 commented on #1003
PR was sent for this:
https://github.com/kubernetes/kubernetes/pull/66798

it's to be determined if this is going to be cherry picked  for 1.11 and how we proceed for 1.12.

until then a workaround for docker and 1.11 is to pass:
[code]

for other CRIs have a look at this comment:
https://github.com/kubernetes/kubernetes/issues/62732#issuecomment-382269288

[2018-07-30 21:17] davidkarlsen commented on #929
Hi - yes it worked well - sorry for not responding sooner. Should this issue be made a documenting issue or is it documented anywhere else than as code and should be closed?

[2018-07-30 21:47] neolit123 commented on #929
@davidkarlsen
thanks for the confirmation.

we've recently added this document:
https://kubernetes.io/docs/setup/independent/control-plane-flags/

the flags shouldn't be lost between upgrades if present under `apiServerExtraArgs` and the users don't have to edit the manifest files or use `kubectl cm...`.

/close

[2018-07-30 21:47] #929 closed

[2018-07-31 01:48] dims commented on #1024
@mkumatag @neolit123  let me leave a few notes here that may help.

The build job output for ci-cross is here : http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-cross-build/?marker=logs%2fci-kubernetes-cross-build%2f7153%2f

if you pick one of the runs say : https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-cross-build/7141/build-log.txt

you can see the following

[2018-07-31 02:51] neolit123 commented on #1024
@dims
thanks for the insights.

i missed the part where kubeadm handles ci/ci-cross as `gcr.io/kubernetes-ci-images`, but this should all work fine regardless.

my problem with this report is that:
`kubeadm init --kubernetes-version ci-cross/latest`
and
`kubeadm config images pull --kubernetes-version ci-cross/latest`
work for me on amd64 and with the latest k8s master.

also the ppc64le:v1.12.0-a

[2018-07-31 03:12] sudeeshjohn commented on #1024
@neolit123 I have re-checked, I'm still facing the same issue.

[code]

[2018-07-31 03:44] neolit123 commented on #1024
thank you,
i'm not exactly sure why i'm not getting these errors.

but this will obviously fail:
[code]
(which is behind the `failed to check if image...` error)

refs:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L830
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L1014
https://github.com/kubernetes/kubernetes/b

[2018-07-31 08:08] bart0sh commented on #1024
I'll have a look at this. Assigning to my mentor.
/assign @kad

[2018-07-31 08:28] stanxing opened #1028 "kubeadm didn't override some parameters by reading the masterConfiguration file"
BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?
`kubeadm init --config master.yml ` didn't override kubelet parameters when it

[2018-07-31 09:09] rosti commented on #1024
I am not sure if `ppc64le` images are built and deployed to the registry at all. There are Ubuntu packages for `ppc64el`, but I don't think that these work...

@sudeeshjohn Do you know the last stable version that worked with `ppc64le`?

[code]

[2018-07-31 09:35] bart0sh commented on #1024
@neolit123

[code]
It works for me just fine:

[code]

It looks like the reason for this issue is that runtime returns error when the above command fails:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/runtime/runtime.go#L186
And then ImagePullCheck check fails because of this: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L838

[2018-07-31 10:51] rosti commented on #1024
@bart0sh you have changed the image suffix to `amd64` which we have. The thing is that `ppc64le` images are missing and it will always fail.
The problem here is that we generate kubeadm packages for ppc, but we don't have Docker images for it.

[2018-07-31 10:59] neolit123 commented on #1024
@rosti

but this:
`docker pull gcr.io/kubernetes-ci-images/kube-apiserver-ppc64le:v1.12.0-alpha.0.2554_24fa5edb60e64b` works for me

@bart0sh

hm. my mistake, debugging early in the morning.

yes, seems like so. it attempts to pull images right after so it should not treat missing images like fatal errors.

[2018-07-31 12:06] rosti commented on #1024
Yep, you are right. For some reason I was trying to pull `ppc64el` images (probably because of the deb package suffix).

[2018-07-31 14:36] bladerunner512 commented on #962
This does not appear to be an issue with local images missing. When looking at the running kubelet I noticed no args like there were in previous releases. This has changed in v1.11 from hard-coded parameters to structured config file. When I added back previous 10-kubeadm.conf from v1.10 to /etc/systemd/system/kubelet.service.d the installation proceeded correctly.

Previous 10-kubeadm.conf from v

[2018-07-31 15:30] NeilW commented on #1027
Running the kube-proxy regardless of taints via the `- Exists` line (re-introduced in 8dcb980) means that kube-proxy runs before the NodeIPs are initialised by the cloud-provider. That breaks kube-proxy.
kube-proxy has to respect the 'node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule' taint put in place by kubelet.

[2018-07-31 15:38] neolit123 commented on #1027
@NeilW
https://github.com/kubernetes/kubernetes/pull/65931
it fixed one thing but broke another....it did similar with the last changes in that file before that.

we are really back and forth on this one and to be honest i don't know what's best here in terms of rules, except that i know for sure that we need to expose those hardcoded addon configurations to the users and let them adjust the value

[2018-07-31 15:47] NeilW commented on #1027
It looks like an architectural issue that's dropping down the gap.

[2018-07-31 17:53] yujuhong commented on #983
@bart0sh @luxas thanks for the reply! I'd really like to see dockershim being tested the same as other CRI runtimes, but looks like this is not possible today. Will keep an eye one this and see if we can improve it in the future.

[2018-07-31 18:27] bart0sh commented on #983
@yujuhong Well, it's not possible for all kubeadm modes, but we can start with what's possible.

Another thought: It would be nice to have most frequently used CRI implementations (CRI-O and containerd) tested. Correct me if I'm wrong but it seems to me is dockershim is a temporary solution, i.e. it will not be needed anymore when all runtimes implement CRI.

[2018-08-01 01:50] thdrnsdk commented on #998
Same issue here
Docker version 1.2.6
CentOS 7
like @lareeth we also provision kubernetes automation on use kubeadm, and also requiring a restart to completely disable selinux is not acceptable.
@chrisohaver try requiring a restart to completely disable selinux is not acceptable. it use helpful. thank you !
But as i know coredns options is not setting in kubeadm configuration
Is there no other way?

[2018-08-01 08:29] sudeeshjohn commented on #1024
cool , that patch works .. Thank you

root@ip:/go/src/github.com/kubernetes# ./kubeadm init --kubernetes-version ci-cross/latest
[init] using Kubernetes version: v1.12.0-alpha.0.2608+8e2d37ee63d0a1
[preflight] running pre-flight checks
I0801 03:27:23.300869   10998 kernel_validator.go:81] Validating kernel version
I0801 03:27:23.301114   10998 kernel_validator.go:96] Validating kernel config
	[WAR

[2018-08-01 11:31] neolit123 commented on #1024
@sudeeshjohn thanks for testing!

[2018-08-01 12:13] chrisohaver commented on #998
Try removing "allowPrivilegeEscalation: false" from the CoreDNS deployment to see if that helps.
Updating to a more recent version of docker (than 1.13) may also help.

[2018-08-01 13:48] chrissound opened #1029 "Kubernetes audit log not generated"
**/var/log/kubernetes/audit remains empty even with new pods / deployments generated.**

I've setup my own cluster in two vms using kubeadm with the following config:

[code]

`/var/log/kubernetes/audit` exists and has 777 permissions.

[code]

[2018-08-01 14:17] chrisohaver commented on #998
I verified that removing "allowPrivilegeEscalation: false" from the coredns deployment resolves the issue.

[2018-08-01 15:09] chrisohaver commented on #998
I also verified that upgrading to a version of docker recommended by Kubernetes (17.03) resolves the issue, with "allowPrivilegeEscalation: false" in place in the coredns deployment, and SELinux enabled in permissive mode.

[2018-08-01 15:58] chrisohaver commented on #998
So, it appears as if there is a incompatibility between old versions of docker and SELinux with the allowPrivilegeEscalation directive which has apparently been resolved in later versions of docker.

There appear to be 3 different work-arounds:
1. Upgrade to newer version of docker, e.g. 17.03, the version currently recommended by k8s
2. Remove allowPrivilegeEscalation=false from the deployment's

[2018-08-01 16:09] Leozki commented on #998
@chrisohaver I have resolved the issue by upgrading to newer version of docker 17.03.  thx

[2018-08-01 17:30] chrissound commented on #759
Any idea where is this documented? @luxas I'm not sure what config parameters to set.

[2018-08-01 18:15] neolit123 commented on #998
thanks for the investigation @chrisohaver  :100:

[2018-08-01 22:15] neolit123 commented on #1029
@chrissound
thank your for the report!

are you passing `--feature-gates=Auditing=true` to `kubeadm init`?
`Auditing` is an alpha in 1.11.

something else you can do if you want more control, is to pass the arguments directly to the api server using this:
https://kubernetes.io/docs/setup/independent/control-plane-flags/#apiserver-flags

also please mind that we are moving away from `auditPolicy` b

[2018-08-02 01:36] dims commented on #1024
@sudeeshjohn thanks! one more request. what does your `kubeadm config images list` say?

[2018-08-02 03:17] dims opened #1030 "kubeadm manifests should use multi-arch images"
Just like we started using the `pause` image with fat manifest, we should switch to using all the kubernetes components to use images without say the `-amd64` in their name. Starting with the items below:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/images/images.go#L70-L73

TODO(@neolit123): this page needs a bump, possibly others too:
https://kubernetes.io/docs/reference

[2018-08-02 03:58] sudeeshjohn commented on #1024
@dims here is what it shows

[code]

[2018-08-02 08:44] chrissound commented on #1029
Yup I think that was the issue. Thanks, I wish it were only better documented. But oh well...

For a full working example see here: https://stackoverflow.com/a/51639307/1663462

[2018-08-02 08:44] #1029 closed

[2018-08-02 10:47] lukaszgryglicki opened #1031 "runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

- I've followed [this guide](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/).
- I've installed master node on 96 CPU ARM64 server.
- OS is Ubuntu 18.04 LTS. just after `apt-get update/upgrade`.
- Used `kubeadm init --pod-network-cidr=10.244.0.0/16`. And then executed suggested commands.
- Selected flannel pod-network:

[2018-08-02 12:28] fabriziopandini commented on #1028
@stanxing @neolit123
I don't know all the background here, but there is a set of kubelet parameters that are intentionally enforced by kubeadm. see https://github.com/kubernetes/kubernetes/blob/23111ad414933027d0e2e297461477d0f9d267fd/cmd/kubeadm/app/componentconfigs/defaults.go#L88

@neolit123 accordingly, IMO this in not kind/bug a but kind/feature, wdyt?
@neolit123 might be we should consider t

[2018-08-02 12:37] dims commented on #1024
Thanks @sudeeshjohn

[2018-08-02 12:47] fabriziopandini commented on #1031
@lukaszgryglicki
It seems that the nodes are not getting flannel because they are on `amd64` architecture

[code]
and

[code]
I'm not expert of flannel, but I think you should check product documentation for how to make it work in environment with mixed platforms

[2018-08-02 12:57] lukaszgryglicki commented on #1031
That's a good point, but how about error message - it seems really unrelated.
[code]

[2018-08-02 13:10] lukaszgryglicki commented on #1031
The same happens with Docker 18.03ce. I don't see any difference, this is not looking like a docker issue. This looks like some CNI config issue.

[2018-08-02 14:02] neolit123 commented on #1031
@lukaszgryglicki
hi,

Nodes (2): bare metal server 48 cores, AMD64, 256G RAM, swap tuned off x 2.

these are some _nice_ specs.

the way i test things is the following - if something doesn't work with weavenet, i try flannel and the other way around.

so please try weave and if your CNI setup works with it, then this is CNI plugin related.

while the kubeadm team endorsers plugins and addons, we u

[2018-08-02 14:08] lukaszgryglicki commented on #1031
Sure, I've tried weave a few iterations ago. It ended in a container restart loop.
Will now try docker 17.03 to exclude docker issue (17.03 is supposed to be supported very well).

[2018-08-02 14:34] neolit123 commented on #1030
these end up calling `GetGenericArchImage()` which was a recent addition and it uses `runtime.GOARCH`.
we do have manifest lists nowadays in the gcr bucket, but do we have them for everything?

@rosti WDYT?

[2018-08-02 14:41] wizard580 commented on #1015
Confirming. In my case (1.11.0 -> 1.11.1) it looses apiServerExtraArgs like etcd-cafile, feature-gates etc... and replaces them with some defaults.

I can find expected values inside of configmap (key: MasterConfiguration) like this
kubectl get configmap -n kube-system kubeadm-config -oyaml

[2018-08-02 14:43] lukaszgryglicki commented on #1031
So, I've tried `weave net` and it is not working:
On master: `kubectl get nodes`:
[code]
- `kubectl describe nodes` (the same cni related error, but also on the master node now):
[code]

- `journalctl -xe` on master:
[code]

[2018-08-02 14:46] ieugen commented on #1015
I've made the upgrade and it wen't smooth so I am a bit confused about this. I also rebooted the cluster (one node at a time, starting with master) to see if there are any issues and I did not see any.

I don't remember having to change anything after the upgrade and I did not document it :(.

Regards,

[2018-08-02 14:57] mkretzer commented on #1015
We lost networking to the pods after 1.11.1 upgrade from 1.10.6. It looks like --cluster-cidr is no longer working as all our pods came up with IPs from 172.17.x.x and not 10.244.x.x which is configured for flanel. How can we resolve this situation?

[2018-08-02 15:34] wizard580 commented on #1015
Even better:
ATM I'm at v1.11.0
kubeadm upgrade diff v1.11.0 gives me same broken result.
`kubeadm upgrade diff v1.11.0
--- /etc/kubernetes/manifests/kube-apiserver.yaml
+++ new manifest
@@ -14,17 +14,16 @@
   - command:
     - kube-apiserver
     - --authorization-mode=Node,RBAC
-    - --etcd-cafile=/opt/etcd/ca.pem
-    - --etcd-certfile=/opt/etcd/staging-cluster2node.pem
-    - --etcd-keyfile=/

[2018-08-02 15:42] ieugen commented on #1015
@wizard580 In my case the upgrade went ok. No issues with the cluster (and I'm also running on top of wireguard VPN)
- kubeadm upgrade apply v1.11.1 worked ok
- kubeadm config diff shows same bad diff like in your case

[2018-08-02 15:49] wizard580 commented on #1015
I'll try tomorrow after backup. But anyway broken diff is a bug. From my perspective - major.

[2018-08-02 16:03] rosti commented on #1030
I'll prepare a PR for this tomorrow.

[2018-08-02 16:08] mkretzer commented on #1015
For us this is not only broken diff as node cidr really seems to get lost.

[2018-08-02 16:25] bladerunner512 opened #1032 "unable to generate certificates offline"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versio

[2018-08-02 16:27] dims commented on #1030
@neolit123 if we find something missing then we fix it :)

[2018-08-02 16:27] timothysc commented on #999
Closing this issue, submitted to community here - https://github.com/kubernetes/community/pull/2456

[2018-08-02 16:27] #999 closed

[2018-08-02 21:55] neolit123 commented on #1032
unable to get URL "https://dl.k8s.io/release/stable-1.11.txt": Get https://dl.k8s.io/release/stable-1.11.txt: dial tcp 23.236.58.218:443: connect: connection refused

it goes for the latest 1.11.x release.
can you try bypassing that by using:
[code]

i think this is a problem, yes. the x509 SAN has to include public DNS and IP that works for this cert, unless i'm missing something in the etcd peer

[2018-08-02 22:44] neolit123 commented on #1031
i think 18.04 broke both in terms of the Docker it bundles and for `systemd-resolved`.
so yeah, it's really hard to write guides for every single distro flavor out there and we can't really maintain these efficiently.

also while kubeadm is the frontend here, the issue really could be unrelated to kubeadm itself.

some questions:
- have you been running amd64 + arm64 clusters successfully with rec

[2018-08-02 22:58] bladerunner512 commented on #1032
$ sudo kubeadm alpha phase certs etcd-ca --kubernetes-version=1.11.0
Error: unknown flag: --kubernetes-version

I was able to get this to work by creating a config file with the version number though:
apiVersion: kubeadm.k8s.io/v1alpha2
kubernetesVersion: v1.11.0

$ sudo kubeadm alpha phase certs etcd-ca --config=/etc/kubernetes/k8s_conf.yaml
I0802 18:34:29.504078  106312 feature_gate.go:230] feat

[2018-08-03 04:34] lukaszgryglicki commented on #1031
So, I've installed master `kubeadm init` on the amd64 host and tried `weave net` and the result is exactly the same as when trying this on the arm64 host:
- Back-off restarting failed container
- `runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized`

[2018-08-03 04:46] lukaszgryglicki commented on #1031
There is a small progress.
I've installed master on amd64 then one node on amd64 too. All worked fine.
I've added arm64 node and now I have:
master amd64: Ready
node amd64: Ready
node arm64: NotReady: `runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized`

- So it looks like `flannel` net plugin cannot talk

[2018-08-03 06:29] fabriziopandini commented on #1031
@lukaszgryglicki
`kube-flannel.yml` deploys  the flannel container for one architecture only. This is why o nodes with different architecture the cni plugin doesn't start and the node never get ready

I never tried by myself, but I guess you can deploy two hacked flannel manifest with different taints (ands names) for avoiding to mix up things, but again my suggestions is to ask to flannel people

[2018-08-03 06:37] lukaszgryglicki commented on #1031
But I've tweaked manifest on arm64 as suggested in the tutorial. Replaced `amd64` with `arm64`.

[2018-08-03 06:51] #1024 closed

[2018-08-03 07:51] wizard580 commented on #1015
Upgrade with `kubeadm upgrade apply v1.11.1` worked fine, configs are not broken as far as I can see.
It generated unneeded etcd certs, but they are ignored by our configs/setup

[2018-08-03 07:58] fabriziopandini commented on #1031
@lukaszgryglicki
When you twicked `kube-flannel.yml` for arm, it stops to works on amd machines... This is why I'm guessing that deploying 2 well-twicked manifests, one for arm and one for amd, can solve your issue.

And now that I think of, might be you should fix the same issue with kube-proxy daemon set as well,  but I can't test this now, sorry

---

For the problem you have with weave I don't

[2018-08-03 08:04] lukaszgryglicki commented on #1031
So I should deploy two different manifests for flannel on a master, right? No matter if master happens to be arm64 or amd64, right? Should Master handle spawning correct arch deployment on itself and nodes?
Not sure what do you mean here:
[code]
I didn't use `--pod-network-cidr=10.244.0.0/16` for `weave`. I've used just `kubeadm init`.
I've used `--pod-network-cidr=10.244.0.0/16` only for flannel

[2018-08-03 08:08] lukaszgryglicki commented on #1031
cc @luxas - I've seen you've created some docs about multi-arch k8s deployments, maybe you can have some feedback?

[2018-08-03 08:34] bart0sh commented on #1019
@timothysc This issue can be closed I think.

[2018-08-03 10:02] bart0sh commented on #926
So, where we are with this issue?

@NeilW Can you check if current master works for you? There were quite a bit of changes in this area recently, so this issue can be already fixed.

[2018-08-03 12:10] neolit123 commented on #1019
@bart0sh
reference code changes / PR?

[2018-08-03 12:12] neolit123 commented on #1019
edit, looks like it:
https://github.com/kubernetes/kubernetes/pull/66658

thanks for the reminder.
/close

[2018-08-03 12:12] #1019 closed

[2018-08-03 13:17] wizard580 commented on #1015
Confirming. Found similar issues... in our case IPVS was stuck at old service:pods mappings. Yoy can check for kube-proxy logs and probably you'll find a lot of errors about ipset. Reboot (of nodes) helped us.
Observing...

[2018-08-03 13:29] neolit123 commented on #1031
@lukasredynk

yeah, so this is an arch issue after all, thanks for confirming.
let's focus on flannel here as the weave issue seems like a tangent one.

have a look this by @luxas for context, if not seen it already:
https://github.com/luxas/kubeadm-workshop

_it should_ but the manifest you are downloading is not a "fat" one:
https://raw.githubusercontent.com/coreos/flannel/v0.10.0/Documentation/

[2018-08-03 14:27] exocode commented on #274
Please!!!! bring back Raspberry Pi support.... a lot of people are experimenting with PI's and kubernetes... and there are a ton of people who use this for making great things...

[2018-08-03 14:30] neolit123 commented on #1030
/kind documentation

this needs an update:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2018-08-03 15:42] #893 closed

[2018-08-03 16:38] NeilW commented on #926
Using 12.0-alpha1 kubeadm

Still have to specify the socket to use to the reset command

[code]

Without it, the command uses docker

Reset doesn't remove the containers at all now. Doesn't even try.

Additionally reset doesn't seem to put the kubelet back into a condition where it can be bootstrapped again. Running init after a reset gives

[code]

[code]

[2018-08-03 16:39] NeilW commented on #926
That's after removing the pods by hand using `crictl stopp`

[2018-08-03 17:28] lukaszgryglicki commented on #1031
OK, will try after the weekend and post my results here. Thanks.

[2018-08-03 20:49] bladerunner512 opened #1033 "apiserver-etcd-client certificates differ"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versio

[2018-08-03 21:23] timothysc commented on #1033
So this is a feature of HA cert copying that we've talked about for HA, but will likely still be manual for a while.

/assign @fabriziopandini @timothysc

[2018-08-03 21:32] bladerunner512 commented on #1033
OK, thanks, wasn't sure if I was missing something. Perhaps the documentation should be updated to be less confusing, i.e. only create apiservier-etcd-client once like the initial step to create shared ca.crt/key.

[2018-08-03 22:12] kachkaev commented on #581
@zalmanzhao did you manage to solve this issue?

I created a kubeadm `v1.9.3` cluster just over a year ago and it was working fine all this time. I went to update one deployment today and realised I was locked off the API because the cert got expired. I can't even `kubeadm alpha phase certs apiserver`, because I get `failure loading apiserver certificate: the certificate has expired` (kubeadm vers

[2018-08-03 22:18] mauilion commented on #1033
it's ok to generate the client cert per master. Just needs to be issued by the etcd-ca

[2018-08-03 22:26] stealthybox commented on #1033
we should decide which way is preferred and update the docs to be consistent.

it's odd that we document having a shared `apiserver-etcd-client` and individual `etcd-healthcheck-client`'s.

[2018-08-03 22:29] stealthybox commented on #1033
A single cert is easier to manage IMO.
There's also no specific host information in these identities IIRC which probably violates some RFC since these certs will have the same CN.

The con of a single shared identity for these purposes is that revocation is less granular, but we may require code updates to support hostnames being baked into the certs.

[2018-08-03 22:44] mauilion opened #1034 "kubeadm should describe the [tlsbootstrap] cycle better."
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

Currently kubeadm join will output the following on success:
[code]
In the case where the `kube-controller-manager` will still happily start up if it can not access the
`    - --cluster-signing-key-file=/etc/kubernetes/pki/ca.key`

When this happens we see this as the failure output of kubeadm join ...:

[code]

This turned out to be a f

[2018-08-03 22:56] mauilion commented on #1033
arguably a private key should not be reused in the case of a client connection like this. Each client that would use this as a form of authentication should have it's own keypair.

From the mgmt perspective while it's certainly easier to issue a single client cert with the etcd-ca for all apiservers. It's not best practice.

We will have to consider how this certificate will be rotated at some poi

[2018-08-03 23:09] stealthybox commented on #1033
I think you're right.
We should update the docs to stop implying that client certs are copied between masters.
____________________

Different topic:

kubeadm does issue new cert pairs on upgrade if the existing certs are old enough.
We've thrown around several ideas in regard to cert rotations and ca renewal. Self-hosting was supposed to resolve a significant portion of this management issue.
Rec

[2018-08-03 23:16] timothysc commented on #1034
/assign @liztio
/cc @chuckha

[2018-08-04 04:45] thyeun commented on #1023
@leoyer thanks, by following your way to make change of the below, make v1.11.1 working like charm.

[code]
Funny things is, each time after upgrade to a new version, i have to make change on that for the file ```kubelet.service```

[2018-08-04 19:41] luxas commented on #1030
Closing this in favor for the oldest open issue we have atm: #51 _sigh_
Sooooon we're there :sunglasses: :tada:

[2018-08-04 19:41] #1030 closed

[2018-08-06 07:46] bart0sh commented on #926
@NeilW thank you for testing it. That's very strange that ```kubeadm reset``` doesn't remove containers. Can you show the output of ```kubeadm reset --cri-socket=/var/run/containerd/containerd.sock -v2``` ?

[2018-08-06 10:14] NeilW commented on #926
Reconfirmed the original fault this morning with 1.11.0.
On a fresh kubeadm 1.11.0 install, upgraded to v1.12.0-alpha 1 and ran the reset.
The output was:
[code]

Version details
[code]

Crictl output after reset
[code]

[2018-08-06 10:18] NeilW commented on #926
Running again gets rid of some more containers

[code]

Repeated re-running doesn't get rid of any more by the look of it.

[2018-08-06 12:11] bart0sh commented on #926
@NeilW Very interesting! Looks like kubeadm either don't get list of running pods or crictl doesn't return error when it fails to remove pods. Can you show the output of ```sudo crictl -r /var/run/containerd/containerd.sock pods -q```? This is what kubeadm does to get the list of running pods to stop.

[2018-08-06 12:33] NeilW commented on #926
Sure

[code]

[2018-08-06 12:34] NeilW commented on #926
The normal view is

[code]

[2018-08-06 13:01] NeilW commented on #926
There's a magic glyph in the pods filters for both docker and crictl

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/runtime/runtime.go#L111

That looks out of sync with the way the creation side names and stamps pods.

N.B. crictl has a '--namespace ' filter now, which may allow a bit of refactoring here.

[code]

[2018-08-06 13:04] NeilW commented on #926
The same magic name glyph is on the docker side as well

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/runtime/runtime.go#L120

[2018-08-06 14:29] bart0sh commented on #926
@NeilW Thank you for pointing that out! I've submitted PR to fix that.

It works for docker, but doesn't work for CRI as CRI pod names don't start with k8s_:

[code]

[2018-08-06 16:25] smenon78 opened #1035 "kubeadm high-availability-Is Step to Set up master Load Balancer mandatory?"
Is this Step
Set up master Load Balancer Mandatory?
Following this documentation for HA cluster in k8s 1.9.5
https://v1-9.docs.kubernetes.io/docs/setup/independent/high-availability/

I am setting Kubenetes HA cluster on a baremetal setup. Could I skip the step to setup load balancer and would this still work?

[2018-08-06 16:44] neolit123 commented on #1035
depends on your setup.
it can still work, but without load balancing, it's going to be hard to qualify this cluster as HA.

learn more here:
https://velotio.com/blog/2018/6/15/kubernetes-high-availability-kubeadm

/close

[2018-08-06 16:44] #1035 closed

[2018-08-06 21:47] neolit123 commented on #51
/assign
/kind documentation

for docs update:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2018-08-06 23:25] mxooc opened #1036 "Use kubeadm with proxy and output is ‘exit status 1’"
Hello everyone!
I'm living China, our network can't reach gcr.io
So I want to use use proxy when I run "`kubeadm init`"

My proxy server is on http://127.0.0.1:45007 , so I run`export http_proxy=http://127.0.0.1:45007 && kubeadm init`

But the output is:
[code]
    Kubernetes version (use 1.11.1):
    OS (Ubuntu 18.04):
    Kernel (4.15):
    Install tools:
    kubelet, kubeadm, kubectl

**I used

[2018-08-07 00:43] neolit123 commented on #1036
@mxooc
we should have the image inspect / pull handling better in 1.12.
i'm assuming in you can skip the errors with `--ignore-preflight-errors=ImagePull`?

you need to pre-pull the images before that:
`kubeadm config images list --kubernetes-version=1.11.1`
and then using Docker or pulling using kubeadm:
`kubeadm config images pull --kubernetes-version=1.11.1`

@bart0sh i think we have this bette

[2018-08-07 05:14] liheyuan opened #1037 "k8s 1.11.1 coredns keep OOM & restart"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Versi

[2018-08-07 07:17] xingangwang commented on #106
I have same issue with kubernetes 1.9 created by kops.

[2018-08-07 08:15] bart0sh commented on #1036
@neolit123 > i think we have this better at HEAD right now.
does it still say exit status 1 if an image cannot be pulled or does the combined output help with that?

Yes, we have much better error reporting for this at HEAD. The output includes combined output of 'docker pull' or 'crictl pull'. It may include 'error 1' as well as this is what exec.Command API returns as an error.

[2018-08-07 10:43] alvaroaleman opened #1038 "`kubeadm/kubernetes-xenial,now 1.10.6-00 amd64` depends on crictl, renders join unusable"
### BUG REPORT

This now means that `kubeadm join` is broken by default in the `1.10` apt package, the only workaround is running the `kubeadm join` with `--ignore-preflight-errors=CRI`

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.6", GitCommit:"a21fdbd78dde8f5447f5f6c331f7eb6f80bd684e", GitTreeState:"clean", Bu

[2018-08-07 11:19] mrIncompetent opened #1039 "`kubeadm/kubernetes-xenial,now 1.8.15-00 amd64` depends on different kubernetes-cni verison than kubelet"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.15", GitCommit:"c2bd642c70b3629223ea3b7db566a267a1e2d0df", GitTreeState:"clean", BuildDate:"2018-07-11T17:52:15Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud prov

[2018-08-07 13:26] neolit123 commented on #1038
crictl is required if you are not using docker.

but we can cherry pick this for 1.10.x to solve the issue for docker users.
https://github.com/kubernetes/kubernetes/pull/66282

do you think this is a good idea?
@kad, @bart0sh, @chuckha

[2018-08-07 13:28] neolit123 commented on #1038
@alvaroaleman

[code]

is the package name `cri-tool` really here?
should be `cri-tools`.

[2018-08-07 13:33] alvaroaleman commented on #1038
@neolit123 I guess that I missed the `s` when copying. I know `crictl` is required for non-docker users, however current state is broken by default for docker users in the 1.10 branch

[2018-08-07 13:37] neolit123 commented on #1032
a fix for ` kubeadm alpha phase` is in:
https://github.com/kubernetes/kubernetes/pull/62721

[2018-08-07 13:47] neolit123 commented on #1039
hi, @mrIncompetent
the k8s version skew / support policy has the following:
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew

1.8.x is no longer supported, while support for 1.9.x will soon drop once 1.12 is release.
any reason to be still using 1.8.x?

[2018-08-07 14:01] mrIncompetent commented on #1039
@neolit123
I would be fine if dropping support means no updates for minor releases.

But using https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew as an excuse to release broken apt-packages is IMO not the right thing to do.

[2018-08-07 14:10] chrisohaver commented on #1037
There is a known issue on Ubuntu, where kubeadm sets up CoreDNS (and also kube-dns) incorrectly.
If Ubuntu is using `resolved` as it does by default in recent versions, then its `/etc/resolv.conf` contains a localhost address (127.0.0.53).  Kubernetes pushes this configuration to all "default" dns policy pods, so when they forward lookups upstream, it comes back at them ... looping until oom.

The

[2018-08-07 14:13] chrisohaver commented on #1037
FYI, the kubelet flag is `--resolv-conf=<path>`

[2018-08-07 14:25] chrisohaver commented on #1037
To be more correct, its kubelet that is set up incorrectly, not coredns/kubedns directly.

Next version of CoreDNS will be able to detect this misconfiguration and put warnings/errors in the logs.  But thats not a fix. It just makes the failure less mysterious.

Not sure if its up to kubeadm to detect use of `resolved` and adjust the kubelet config accordingly during `kubeadm init` automatically.

[2018-08-07 15:13] neolit123 commented on #1039
duplicate of:
https://github.com/kubernetes/kubernetes/issues/57334
possible workaround here:
https://github.com/kubernetes/kubernetes/issues/57334#issuecomment-356176515

partially true and no idea why this bug exists, but from the maintainer's perspective you have to understand that this saves us time, time that we do not have because we are working on 1.12 and fixing issues in the support skew

[2018-08-07 15:13] #1039 closed

[2018-08-07 15:38] Nurza commented on #193
Same problem here with K8S 1.10.5 and weave 2.3.0.

The problem is solved temporarily thanks to **lastboy1228** (https://github.com/kubernetes/kubeadm/issues/193#issuecomment-330060848)

[2018-08-07 15:47] chuckha commented on #1038
I think the root cause is the release repo, but I need more insight to how previous releases get released  to guarantee it. I need to know how 1.10 gets built when 1.11 is the stable version.

[This line](https://github.com/kubernetes/release/blob/master/debian/xenial/kubeadm/debian/control#L13) isn't bounded by version. I think release is always run from the master branch and a version of k8s is

[2018-08-07 16:43] liztio opened #1040 "Develop a unified policy for command like flags vs config file options"
Assumptions:
* We do not want hundreds of kubeadm flags to control every possible future
* Configuration files are easier version than cli flags
* Exclusively using a configuration file places undue burden on users.

We are looking for a happy medium between "everything is in the CLI flags" and "everything is configuration." This issue should be a formal policy that sorts new options into the "fla

[2018-08-07 17:03] neolit123 commented on #1031
@lukaszgryglicki hi, did you get this working using the new flannel manifest?

[2018-08-07 18:40] neolit123 commented on #997
@timothysc @chuckha @liztio
updated after the discussion today will now suggest changes to the PR.

[2018-08-07 19:46] neolit123 commented on #1037
hi @liheyuan ,

1) when you start `kubeadm init` kubeadm should generate a file `/var/lib/kubelet/kubeadm-flags.env` that should handle the resolved issue automatically for you:
https://kubernetes.io/docs/setup/independent/kubelet-integration/

what are the contents of the file when you start `kubeadm init` and is your OS using `systemd-resolved`?

2) have you tried a different CNI e.g. weavenet o

[2018-08-07 19:51] neolit123 commented on #1040
for reference the original proposal that the kublet went for:
https://docs.google.com/document/d/1FdaEJUEh091qf5B98HM6_8MS764iXrxxigNIdwHYW9c/edit#heading=h.nlhhig66a0v6

[2018-08-07 19:57] chrisohaver commented on #1037
Ah... I didn't know about https://github.com/kubernetes/kubernetes#64665.  Good to know!

[2018-08-07 21:35] chuckha commented on #1025
I think it's ok to ignore that error. Are those messages from before kubeadm init is run? Does the error persist after kubeadm init succeeds?

[2018-08-07 21:56] neolit123 opened #1041 "solve the kubeadm offline and air-gapped support issues"
we have **numerous** reports from users in offline scenarios, where kubeadm goes for fetching the latest version from the internet.
https://github.com/kubernetes/kubeadm/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+internet+
https://github.com/kubernetes/kubeadm/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+offline

known workaround is passing explicit, semantic `--kubernetes-version` if the sub co

[2018-08-07 22:29] mxooc commented on #1036
@neolit123 When I run `kubeadm config images pull --kubernetes-version=1.11.1` ,
                   The output is :
                  `failed to pull image "k8s.gcr.io/kube-apiserver-amd64:v1.11.1": exit status 1`
                   In this command, I can't use `--ignore-preflight-errors=ImagePull` to skip it.
                   Then I run `kubeadm init --ignore-preflight-errors=ImagePull`

[2018-08-07 22:41] neolit123 commented on #1036
@mxooc
what application is using that port?

you can try something like this to check:
`sudo lsof -i :10250`

also, please make sure you reset this node with `kubeadm reset` first.

[2018-08-07 22:51] kad commented on #1036
@mxooc BTW, keep in mind, that `127.0.0.1` on the host scope where `kubeadm` run is not the same `127.0.0.1` as inside containers for control plane. Please use real IP address of the proxy instead of `localhost`.

Also, please make sure that you have variable `no_proxy` set to at least something like
[code]
One more thing, can you please show your output for `docker info` ?

[2018-08-07 23:29] mxooc commented on #1036
@neolit123

[code]

@kad output is :
[code]

[2018-08-07 23:50] mxooc commented on #1036
It's  Always Time Out :disappointed:
[code]

[2018-08-08 02:42] neolit123 opened #1042 "tracking issue for community work opportunities at the role-board"
WIP

Jorge Castro notified about the launch of a board, where SIGs can propose what areas they need help with community work (jobs). Maybe we can create a list of such areas.

The board would be under:
https://discuss.kubernetes.io/c/contributors/

TMK they went away from the naming "jobs" due to a controversy, so this is de facto about community work.

**google doc where SIG cluster lifecycle can

[2018-08-08 05:26] lukaszgryglicki commented on #1031
Not yet, I'll try today.

[2018-08-08 06:38] xiangpengzhao opened #1043 "The output of command "kubeadm alpha phase kubelet write-env-file" should be more clear"
When not specifying a config path for command `kubeadm alpha phase kubelet write-env-file`, the output is :
[code]

Apparently, its flag `--config` is mandatory. It should give user a more clear information just like the below command does.
[code]

[2018-08-08 06:57] mrIncompetent commented on #1039
kubernetes/kubernetes#57334
possible workaround here:
kubernetes/kubernetes#57334 (comment)

No, it is not a duplicate. This issue here is about the conflicting dependencies; thus the mentioned workaround does not work.

**Kubeadm package**:
[code]
**Kubelet package**
[code]

If there would be a workaround for this issue - okay.
But kubeadm `v1.8.15` got released completely broken and unusable in

[2018-08-08 06:59] lukaszgryglicki commented on #1031
OK finally worked:
[code]
[Fat mainifest](ttps://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml) from flannel `master` branch helped.
Thanks, this can be closed.

[2018-08-08 07:29] Leen15 commented on #1031
Hi guys, I'm in the same situation.
I have worker nodes in Ready state, but the flannel on arm64 keep crashing with this error:
`1 main.go:232] Failed to create SubnetManager: error retrieving pod spec for 'kube-system/kube-flannel-ds-arm64-m5jfd': Get https://10.96.0.1:443/api/v1/namespaces/kube-system/pods/kube-flannel-ds-arm64-m5jfd: dial tcp 10.96.0.1:443: i/o timeout
`
any idea?

[2018-08-08 07:31] lukaszgryglicki commented on #1031
The error seems different, but did you use the fat manifest: https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml ?
It contains manifests for multiple archs.

[2018-08-08 07:33] Leen15 commented on #1031
Yes I am:
![image](https://user-images.githubusercontent.com/3629071/43823020-1494492c-9aee-11e8-857c-012b9d24107b.png)

The problem now it the flannel container that doesn't stay up on arm. :(

[2018-08-08 07:35] lukaszgryglicki commented on #1031
it does on `amd64` and `arm64` - works for me.
Unfortunately, I can't help with `arm` (32 bit), I have no `arm` machine available.

[2018-08-08 07:37] Leen15 commented on #1031
I'm on arm64 but thanks, I'll continue to investigate...

[2018-08-08 07:39] lukaszgryglicki commented on #1031
Ohh then sorry, I thought you're on arm.
Anyway, I'm also quite new to this, so you need to wait for other guys to help.
Please paste the output of `kubectl describe pods --all-namespace` and possible output of other commands that I've posted in this thread. This may help somebody to track the real problem.

[2018-08-08 07:52] Leen15 commented on #1031
Thanks @lukaszgryglicki,
this is the output of describe pods: [https://pastebin.com/kBVPYsMd](https://pastebin.com/kBVPYsMd)

[2018-08-08 09:14] kad commented on #1036
@mxooc according to what I see in your `docker info` output, you don't have proxy configured for docker daemon.  Please follow documentation at https://docs.docker.com/config/daemon/systemd/#httphttps-proxy to set it correctly, and validate that `docker info` has following lines similar to:
[code]

[2018-08-08 11:53] rosti commented on #1040
I'll have a more in-depth look at viper.

The thing is that having everything either way (config file or cmd line flags) is awkward to support. Having fewer command line flags is a good thing. My bet is to support only those, that are likely to be overridden on a per-machine and/or per-execution basis (node names, certificate files, bootstrap tokens, etc.).

My proposed implementation in kubernete

[2018-08-08 12:15] neolit123 commented on #1037
@liheyuan

thanks for finding that.

@chrisohaver
do you have an idea why the memory cap causes a problem?
i think it's OK to keep the issue here in case you'd suggest us to bump the memory cap to 256mb in the kubeadm manifest.

[2018-08-08 13:03] chrisohaver commented on #1037
No - in fact, the CoreDNS manifests don't have a memory cap defined by default. So I don't know where the cap was introduced.  Possibly in this cluster, `kube-system` has a default container memory limit?  Though I don't think thats a default setting either.

[2018-08-08 13:09] chrisohaver commented on #1037
@liheyuan thanks for noticing the low memory cap.

By any chance, did you add the initial 170 memory limit to the coredns deployment, or perhaps add a container memory limit to the `kube-system` namespace?  Trying to understand how the limit was introduced in your case.

[2018-08-08 13:43] chuckha opened #1044 "HA documentation update"
The **Configure SSH** [section in this document](https://kubernetes.io/docs/setup/independent/high-availability/#first-steps-for-both-methods) has caused much confusion. I would love some help finding an easier way to approach this.

I think outlining *why* we are configuring SSH would be a good starting point, but maybe `ssh-agent` is not well known enough and we should stick to very basic, albei

[2018-08-08 13:51] chuckha commented on #1042
Is that link right? I'm not sure how it's related to the previous sentence.

As a side note, last I heard we should be using the `good first issue` so folks can find easy-ish places to get started...I don't think that idea has taken off yet at all given there are 0 issues in k/k with that label.

[2018-08-08 14:09] neolit123 commented on #1042
as @castrojo said on slack:

[2018-08-08 15:08] neolit123 commented on #1039
i don't think there is an active 1.8.x branch manager to merge your PR for this old version.
an upgrade would be advised instead.

[2018-08-08 15:46] seh commented on #1027
It's unfortunate that [`TolerationOperator` only offers the "Exists" and "Equal" predicates](https://github.com/kubernetes/api/blob/master/core/v1/types.go#L2684-L2689), and not the "NotIn" predicate understood by node selectors. With "NotIn," we could express "everything except this whitelist of taints"—such as [the cloud provider one mentioned above](https://github.com/kubernetes/kubeadm/issues/

[2018-08-08 20:16] #833 closed

[2018-08-08 21:08] neolit123 commented on #958
closed as per slack discussion.

[2018-08-08 21:08] #958 closed

[2018-08-08 21:48] neolit123 commented on #1031
@lukaszgryglicki
glad it worked in the end.
i will document the fat manifest usage for flannel in the docs, since i have no idea when 0.11.0 will be released.

@Leen15

relevant from the failing pod:
[code]

are you adding `--pod-network-cidr=...` which is needed for flannel?

also try this guide:
https://github.com/kubernetes/kubernetes/issues/36575#issuecomment-264622923

[2018-08-08 21:58] Leen15 commented on #1031
@neolit123 yes, I found the problem: flannel didn't create the Virtual network interface (cni and flannel0).
I dont know the reason and I failed to resolve it after several hours.
I gave up and switched to swarm.

[2018-08-08 22:13] neolit123 commented on #1031
ok, understood. in that case i'm closing the issue.
thanks.

[2018-08-08 22:13] #1031 closed

[2018-08-08 22:29] mxooc commented on #1036
@neolit123  @kad  @bart0sh Thanks, the problem is solved :smiley:

[2018-08-08 22:29] #1036 closed

[2018-08-09 03:37] danderson opened #1045 "HA Etcd bootstrapping as documented doesn't obey kubeadm.conf"
/kind bug

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `Client Versio

[2018-08-09 06:32] fabriziopandini commented on #1044
Uhhmm
I don't think we should outline a solution for doing SSH because there is already plenty of public doc for this (eventually we should link something instead)

[2018-08-09 08:29] yanhongwang commented on #122
Hello,

Is it possible to indicate port range like below?
--service-node-port-range=**80,30000-32767**

So that could avoid to expose other system port except 80?

[2018-08-09 10:39] merdincz opened #1046 "Kubernetes cluster upgrade to 1.11.2 from 1.10.0 can't communicate with etcd"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** v1.11.2

**Environment**:
- **Kubernetes version** v1.10.0
- **OS** (e.g. from /etc/os-release): centos-release-7-4.1708.el7.centos.x86_64
- **Kernel** Linux RMPH014 3.10.0-693.21.1.el7.x86_64 #1 SMP Wed Mar 7 19:03:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

## What happened?
I am trying to upgrade my kubern

[2018-08-09 10:52] mariamTr commented on #338
is there a way to find the configmaps manually and change them ?

[2018-08-09 11:49] rosti commented on #1046
Hi @merdincz , thanks for filing this issue!

Is your etcd external or you used kubeadm to deploy it (local one)?

[2018-08-09 12:11] merdincz commented on #1046
Hi @rosti

Thanks i've just found problem.

In my `/etc/hosts` file has a entry like
`::1       localhost localhost.localdomain localhost6 localhost6.localdomain6`

Because of this telnet localhost 2379 didn't work. I changed that line like;

[code]

and it worked. I've just upgraded successfully.

[2018-08-09 12:11] #1046 closed

[2018-08-09 13:17] timothysc commented on #1045
/assign @chuckha @detiber

[2018-08-09 16:25] neolit123 commented on #1044
i agree with @fabriziopandini
e.g. link to http://rabexc.org/posts/using-ssh-agent

[2018-08-09 17:56] fabriziopandini commented on #923
@timothysc  there is already this PR from @stealthybox  trying to address this https://github.com/kubernetes/kubernetes/pull/61323
/assign @stealthybox

Ps. Since we are going to deprecate selfhosting, also store certs in secrets will be deprecated too

[2018-08-10 01:45] #1045 closed

[2018-08-10 05:30] TreHack opened #1047 "no master IPs were listed in storage, refusing to erase all endpoints for the kubernetes service"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kube

[2018-08-10 07:20] runiq commented on #923
@fabriziopandini Is there a link where I can learn more about this? This is the first time I've heard about it.

[2018-08-10 09:44] EmnamoR opened #1048 "training on kubernetes GPU cluster"
i set up a gpu cluster with 1 cpu only master and 3 gpu nodes
is there a way to make machine learning using the three gpus at once ?
because now i can only use 1 node with only 1 gpu

[2018-08-10 12:59] neolit123 commented on #1048
@EmnamoR

i'm pretty sure you can.

but this is more of a generic kubernetes question and not about kubeadm.
if you google `kubernetes machine learning` there are some interesting resources.

also k8s has a working group about machine learning that meets every other Thusrday:
https://github.com/kubernetes/community/tree/master/wg-machine-learning

they have a mailing list and they are on slack too

[2018-08-10 12:59] #1048 closed

[2018-08-10 14:28] kuznero commented on #998
Thanks, @chrisohaver !

This worked:

[code]

[2018-08-10 14:49] rosti commented on #1040
I have spent some time today looking into viper. At first glance, I am not very impressed with it. Seems to me, that if we try to stick with our current config model, we'll have to do some workarounds.

For example, implementing `--apiserver-advertise-address` will require it to be setup as an alias to `api.advertiseAddress` in order to read it from the config. Unfortunately, this would also mean,

[2018-08-10 14:56] neolit123 commented on #1040
as much as i looked at it i can confirm the `--api.advertiseAddress` observation.
if kubeadm started with viper from the beginning i think it could have worked nicely in the long run, but i'm not sure if it was even available back then.

there is also the option to YOLO the viper approach and deprecate the alias flags (i.e. those that we have right now).

[2018-08-10 15:16] neolit123 commented on #998
@chrisohaver
do you think we should document this step in the kubeadm troubleshooting guide for SELinux nodes in the lines of:

https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#coredns-or-kube-dns-is-stuck-in-the-pending-state

------

### `coredns` pods have `CrashLoopBackOff` or `Error` state
If you have nodes that are running SELinux with an older version of Docker you migh

[2018-08-10 15:59] chrisohaver commented on #998
Thats fine.  We should perhaps mention that there are negative security implications when disabling SELinux, or changing the allowPrivilegeEscalation setting.

The most secure solution is to upgrade Docker to the version that [Kubernetes recommends](https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-docker) (17.03)

[2018-08-10 16:57] neolit123 commented on #998
@chrisohaver
understood, will amend the copy and submit a PR for this.

[2018-08-10 16:58] xlgao-zju commented on #1011
/assign
I'd like to take this issue. We just print a warning when the podSubnet/serviceSubnet is missing?

[2018-08-10 21:39] cristifalcas commented on #740
If anyone else has this problem with 1.9.x:

If you are in aws with custom hostnames you need to edit the kubeadm-config configmap and set at nodeName the aws internal name: ip-xx-xx-xx-xx.$REGION.compute.internal)

    kubectl -n kube-system edit cm kubeadm-config -oyaml

Lame. I'm not yet on letter versions to see if they fixed that.

[2018-08-10 21:42] carlosedp commented on #740
Since the timeout has been increased on 1.10.6, I've successfully updated my 1.9.7 deployment to 1.10.6 a couple weeks ago.

Planning to upgrade to 1.11.2 as soon as the .deb packages are ready as the same changes are in this version.

My cluster run on-premises on ARM64 boards.

[2018-08-10 23:42] #926 closed

[2018-08-11 01:59] #756 closed

[2018-08-11 16:27] zidosni opened #1049 "bug with setting clustered etcd with kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versi

[2018-08-12 12:26] liheyuan commented on #1037
@chrisohaver I'm not sure, the 170MB limit was found when I export coredns's yaml using kubectl

[2018-08-12 17:55] neolit123 commented on #1049
@zidosni
we had a bug in the docs. see here:
https://github.com/kubernetes/website/pull/9802/files

use `local` instead of `localEtcd`.

[2018-08-12 17:55] #1049 closed

[2018-08-12 18:03] neolit123 commented on #1047
if you change `--apiserver-advertise-address=0.0.0.0` to the public address does it work?
this could be due to a proxy issue, in case you are using a proxy, that is.

[2018-08-12 22:12] neolit123 commented on #808
/remove-lifecycle stale

[2018-08-13 05:38] chenyb4 opened #1050 "kubeadm init --dry-run Attached object display format error"
## Versions

**kubeadm version** (use `kubeadm version`):  v1.11.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.2
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS Linux release 7.2.1511 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-327.el7.x86_64
- **Others**:

## What happened?
execute "kubeadm init --kubernetes-version=v1.1

[2018-08-13 05:47] chenyb4 opened #1051 "kubeadm init validating kernel version display error"
## Versions

**kubeadm version** (use `kubeadm version`): v1.11.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.2
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS Linux release 7.2.1511 (Core)
- **Kernel** (e.g. `uname -a`):  3.10.0-327.el7.x86_64
- **Others**:

## What happened?
execute "kubeadm init --kubernetes-version=v1.1

[2018-08-13 05:48] chenyb4 commented on #1051
/assign

[2018-08-13 09:30] deknos opened #1052 "Preflight checks shall check hardware requirements."
## What keywords did you search in kubeadm issues before filing this one?
core, cpu

## Is this a BUG REPORT or FEATURE REQUEST?
depends.. a FeatureRequest.

Preflight Checks should include whether at least 2 cores and 2Gb RAM are availabe.

I had a machine where i tried to install it and it had only 1 core. and it initially worked often, but containers went down after a time and it did not work p

[2018-08-13 09:41] deknos opened #1053 "kubeadm should support proxy configuration via parameters"
## What keywords did you search in kubeadm issues before filing this one?
proxy
## Is this a BUG REPORT or FEATURE REQUEST?
Feature Request

I want that following environment parameters can be alternatively defined as parameters to kubeadm:
* http_proxy
* https_proxy
* no_proxy

since http and https may be different proxies, it should be different parameters. and no_proxy shall support ip ranges.

[2018-08-13 10:44] TreHack commented on #1047
@neolit123 It doesn't work to change `--apiserver-advertise-address=0.0.0.0` to the public address , the same log to the above.

[2018-08-13 12:38] ArchiFleKs opened #1054 "kubeadm upgrade apply failure with same kubernetes version"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.11.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.2
- **Cloud provider or hardware configuration**: AWS but no cloud provider configured
- **OS** (e.g. from /etc/os-release): Coreos 1800.6.0
- **Kernel** (e.g. `uname -a`): Linux ip-172-31-35-161.eu-west

[2018-08-13 12:59] kad commented on #745
Both debian and rpm packages have nowadays dependencies to both ethtool and ebtables from the warnings output above. Closing.
/close

[2018-08-13 12:59] #745 closed

[2018-08-13 13:06] chrisohaver commented on #1050
Is this an error or just informational?  It's normal that the coredns configmap would be created during init, it's required by CoreDNS.

[2018-08-13 13:56] neolit123 commented on #1050
@chenyb4
this is not an error.
dry-run is just dumping this object:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go#L294
it does the same for other configs.

are you referring to the `\n` used instead of new lines for the Corefile contents?

[2018-08-13 15:03] neolit123 commented on #1052
currently we do outline such requirements here:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

while we can use the `runtime` package to obtain the number of CPUs there is no way to obtain the available memory in portable manner in golang without introducing platform specific code.

what we can do is print a message about the system requirements when kubeadm starts.

/priori

[2018-08-13 15:28] chenyb4 commented on #1050
Display format and "\n" looks not good.

[2018-08-13 15:38] neolit123 commented on #1050
ok, go for it.

[2018-08-13 15:59] neolit123 commented on #1041
@xiangpengzhao @timothysc

continuing the offline-support discussion from https://github.com/kubernetes/kubernetes/pull/62721
and experimenting with kubeadm offline. k8s master is at 3b4eb0a4a0.

for commands such as:
[code]

this is returned:
[code]

the error seems to come from:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/net/interface.go#L350

i

[2018-08-13 16:01] zidosni commented on #1049
Thank you @neolit123 for your answer, I will try your solution and let you know.

[2018-08-13 17:40] zidosni commented on #1049
It's working for me, thank you for your help.

[2018-08-13 20:39] asipser commented on #1037
I'm also using kubeadm to launch a local kube cluster and am running into the same issue. I also have the 170Mi cap in the yaml for the coredns deployment. I can't seem to get it workingm unlike @liheyuan. After i kubeadm init I see nothing related to the systemd-resolved @neolit123, am I doing anything wrong? I have the most recent version of kubeadm.

[2018-08-13 22:06] drpaneas commented on #980
I have the **exact** problem, although the weave plugin didn't do the trick. I still see coredns pods at *ContainerCreating* status. It's been almost an hour now, so ...

[2018-08-14 00:01] neolit123 commented on #980
i don't think it is the same problem.

CoreDNS is the default dns server in 1.11.x. did you enable that intentionally?

`/var/lib/kubelet/kubeadm-flags.env` is auto-generated on kubeadm runtime and should not be edited.
you can add flags in `/etc/default/kubelet`

see the info here:
https://github.com/kubernetes/kubernetes/blob/master/build/debs/10-kubeadm.conf

it would be only be added if your d

[2018-08-14 00:08] drpaneas commented on #980
I found my problem after all. I was missing the `loopback` binary of CNI at `/opt/cni/bin`.

[code]

[2018-08-14 06:25] xiangpengzhao commented on #1041
For this command `kubeadm alpha phase kubeconfig [any-sub-cmd]
`, IIRC, I set mock version for its sub-commands then it shouldn't try to connect internet. Not sure why it still try to connect yet...

[2018-08-14 07:39] #1025 closed

[2018-08-14 08:00] deknos commented on #1052
Hi,
yes i know that the requirements are listed in the documentation, but since you even warn about much other stuff and that is something you could fall over as well, testing memory and cores (or at least cores) should be reported/warned. i would be very glad if you do that. It costed days until i remembered that my machine was too small...

[2018-08-14 08:10] deknos commented on #1053
while that may be right, this may create problems for kubeadm AND kubectl.

I run kubeadm and kubectl calls from ansible, and with initialization AND kubectl calls i have to wrap bash -c calls around my kube* calls since  the shell module does not execute a "real" bash, which results in really nasty wrappers.

example:
`- name: initialize kubernetes via kubeadm
  shell: |
    bash -c 'source /opt/

[2018-08-14 09:36] stewart-yu opened #1055 "Should keep the MinimumVersion for featuregate"
## Is this a BUG REPORT or FEATURE REQUEST?

Just mine confused

I have question:
 In commit log:
https://github.com/kubernetes/kubernetes/pull/63920/commits/2ef81576448c94b49546738aac94b70dc13b35d1
I think just remove var `v190` in ` features.go` are wrong, we should change the `Var` to `v1100` or others to controller master version, or https://github.com/kubernetes/kubernetes/blob/master/cmd/kub

[2018-08-14 09:39] deknos commented on #1053
let's say it another way. sadly we cannot expect that environment variables are easy to set or respected in configuration management tools, or your shell does not respect them.

[2018-08-14 11:27] neolit123 commented on #1053
any reason to not use `environment` for your ansible task?

https://docs.ansible.com/ansible/2.6/user_guide/playbooks_environment.html

[2018-08-14 11:39] dixudx commented on #1055
Those features were initially added in v1.9.0. That's why we set a minimum version.

For v1.11, we only need to support versions starting from v1.10 (>v1.9). So we does not need to set a minimum version.

This does not make any sense, according to what I said above.

[2018-08-14 12:27] deknos commented on #1053
In that specific point: It does not work.

But the more general issue is (imo), that the execution environment may be an extremely sanitized version. I COULD hack around shell/command deficiences, but that is (imo) not a good architecture style AND it can create problems/insecurities.

[2018-08-14 12:36] deknos commented on #1053
Example with kubectl:
- name: show all infos
  environment:
    KUBECONFIG: '/etc/kubernetes/admin.conf'
  command: 'kubectl get all --all-namespaces -o wide'

This Task will not work. neither with the command nor with the shell module. Is it a bug? Yes. But there i could do --kubeconfig=/etc/kubernetes/admin.conf. And there may be other environments out there which do not support environments as

[2018-08-14 12:39] motek80 commented on #1044
Personally I would love to know *why* SSH is required. As a user, when I understanding reason for each step I can plan alternative solutions \ workarounds as needed.

[2018-08-14 12:39] neolit123 commented on #1053
how about a test `hello world` app that fetches env variables - does that work with `environment` under ansible?
https://gobyexample.com/environment-variables

[2018-08-14 12:40] neolit123 commented on #1044
expending with a sentence on two on why ssh is needed here and what it does might help users.

[2018-08-14 13:48] chrisohaver commented on #1037
@asipser what did you set memory cap to?

[2018-08-14 13:50] chrisohaver commented on #1037
@neolit123, Would kubeadm set up memory caps in a cluster by default?  E.g. in the kube-system namespace, or directly in the coredns deployment?

[2018-08-14 14:04] chrisohaver commented on #1037
@neolit123, sorry It was just brought to my attention that there _is_ a hard coded memory limit (that is too small) in the deployment in kubernetes repo.  It's not in the coredns deployment, which is where i looked earlier.  I'm not 100% clear on the reasoning for adding it in kubernetes repo copy of it. I believe it was copied from the kube-dns settings.  We're updating that now...

[2018-08-14 15:57] neolit123 commented on #1041
i see where the problem with that is.
will post an update later.

[2018-08-14 15:59] chuckha commented on #1041
i'm taking a look at this now, will update with pr or comments about how to close

[2018-08-14 16:17] asipser commented on #1037
I got it working by starting up the system-resolved service, which updated my /etc/resolv.conf properly. Even with the 170Mi cap I could get coredns working. Thanks anyways @chrisohaver.

[2018-08-14 16:30] chrisohaver commented on #1037
@aspiser Glad its working for you. Take care that system-resolved hasnt put local address 127.0.0.53 in /etc/resolv.conf ... that will cause problems for upstream lookups.

[2018-08-14 16:49] chuckha commented on #1041
I think we've been conflating offline and air-gapped. We want to support air-gapped environments, while truly offline environments are not something we need to spend too much time on. In a truly offline environment very few commands will actually work.

[2018-08-14 16:59] neolit123 commented on #1041
@kad @chuckha @xiangpengzhao et al.

i did send that PR:
https://github.com/kubernetes/kubernetes/pull/67397

for some commands i would argue that offline support is needed.
but please, have a look and let's discuss.

[2018-08-14 17:34] chuckha commented on #1041
Looks like you covered everything needed to close this issue. Thanks & nice work!

[2018-08-14 17:36] chuckha commented on #1032
Closing, the PR is merged.

[2018-08-14 17:36] #1032 closed

[2018-08-14 18:05] chrisohaver commented on #1037
@liheyuan, I'm trying to understand the root cause of this issue better.  If you don't mind sharing, do you happen to know what DNS QPS rates your cluster is exhibiting?  Under high load, coredns can use more memory.

[2018-08-14 18:15] chuckha commented on #1017
I added some suggestions to that doc regarding a DNSPlugin type that we can use to customize the DNS plugin image.

[2018-08-14 18:37] elpadrinoIV opened #1056 "Fresh deploy with CoreDNS not resolving any dns lookup"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
CentosOS 7 VM
- **OS** (e.g. from /etc/os-release):
CentOS Linux release 7.5.1804 (Core)
- **Kernel** (e.g. `uname -a`):
Linux K8S-master 3.10.0-862.9.1.el7

[2018-08-14 19:34] mauilion opened #1057 "kubeadm alpha phase kubeconfig should take a string for --apiserver-advertise-address"
BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
v1.10.5
- **Clou

[2018-08-14 19:40] neolit123 commented on #1057
it's just the ipv4 / ipv6 verification process.
it expects and IP not a domain.

wouldn't it be possible for you pass the IP of the LB?

[2018-08-14 22:13] Bradamant3 commented on #1044
@cha do you have more details about where/how/why users are tripping over SSH? Would a small prerequisites section added to this section help?

[2018-08-15 09:32] fabriziopandini opened #1058 "Remove (or deprecate) --feature-gates=HighAvailability, SelfHosting, CertsInSecrets"
In the context of [Checklist for kubeadm join --control-plane implementation](https://github.com/kubernetes/kubeadm/issues/751) we are going to remove following feature-gates flags HighAvailability, SelfHosting, CertsInSecrets (this [Tracking issue for "Config to v1beta1"](https://github.com/kubernetes/kubeadm/issues/963) will benefit from this simplification as well)

We should decide how to do t

[2018-08-15 09:36] stewart-yu commented on #1058
/cc

[2018-08-15 09:38] Yusen1997 commented on #980
I met the same problem and solved it by installing flannel. After installing flannel, coredns and other pods can be created correctly.

Why installing flannel can solve the problem?

I also init my K8s cluster using kubeadm and add the `--pod-network-cidr `arg.  So I think if flannel or other pod network add-ons are not installed, kubelet can not know how to assign ip to the pod and throw error.

[2018-08-15 12:29] neolit123 commented on #980
a CNI plugin must be installed:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm
`Installing a pod network add-on`
`You must install a pod network add-on so that your pods can communicate with each other.`

[2018-08-15 12:55] neolit123 commented on #1058
deprecated state:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/feature/feature_gate.go#L72

but a feature gate is also a CLI flag so i'm unsure about the policy:
https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-flag-or-cli

given these FGs are ALPHA it says "0 releases", which means we can deprecate right away?

[2018-08-15 14:42] chuckha opened #1059 "[documentation] Add crictl as a dependency to kubeadm"
crictl is actually required for kubeadm now. We need to add an installation section to this page for installing crictl. Usually crictl will be installed as a dependency of the packages we provide, but some operating systems do not use these packages and we should account for that.

https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2018-08-15 14:47] chuckha commented on #1059
https://github.com/kubernetes/website/pull/9798

[2018-08-15 15:26] chrisohaver commented on #1056
For whatever reason, there is no `kube-dns` service on your cluster.
You'll first need to re-create that by hand to fix things. Then we can try to figure out how it disappeared.

[2018-08-15 15:30] chrisohaver commented on #1056
You can use this yaml to create the service with `kubectl apply -f`...
[code]

[2018-08-15 15:37] chrisohaver commented on #1056
Note: It's counter-intuitive, but the CoreDNS service name is still named "kube-dns", but it does select the coredns pods (which use selector label "kube-dns').

[2018-08-15 16:43] neolit123 commented on #1058
as, confirmed by api-machinery folks, we can remove these without a deprecation policy.

[2018-08-15 19:15] kad commented on #1041
Sorry, missed discussion during today's office hours.

IMHO, what we should do with it: by default keep "stable-1.x", function which fetches version from download server should have some reasonable timeout (few seconds), and in cases if it doesn't return within timeout or return failure (except maybe http 404), it should fall back to the version of kubeadm itself.

With fallback version, there are

[2018-08-15 19:31] yagonobre opened #1060 "Pods can be scheduled in new masters between kubeadm init and master taint"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
If you have multiple masters, and a daemonset, when you register a new master the daemonse

[2018-08-15 19:44] neolit123 commented on #1060
hello and thanks for the report,

before sending a PR, can you point to the source code changes that you would like to make to get this working - e.g. source code links + a short explanation?

[2018-08-15 22:30] neolit123 commented on #1041
i like the timeout idea. this can work.

the version parsing is going to be tricky and we need to settle on something here.
option 2 makes more sense to me, because this will map to GCR images too.
https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/kube-apiserver?gcrImageListsize=50&gcrImageListsort=-uploaded

we should probably settle on:
`vMAJOR.MINOR.PATCH-yyy.x`
were `yyy` is

[2018-08-16 00:42] jberkus commented on #972
Just to be clear, while #659 was closed, the workarounds are hardly desireable.  Users shouldn't need clever ansible tricks and/or regexes to automate "kubeadm join".  I'm not quite following the proposed solution; does that give a way to call join on remote hosts that's easily scriptable via Ansible, Puppet, etc.?

Happy to test stuff.

[2018-08-16 00:50] neolit123 commented on #972
i'd agree that those workarounds are not ideal.

in terms of this issue as a whole we had a talk today with the team (meeting had a rather limited staff) and decided to move this outside of 1.12, because we simply don't have the bandwidth to work on it.

if you know someone who is willing to work on this, that would be great!

[2018-08-16 00:56] yagonobre commented on #1060
@neolit123 sorry for the delay, I took a time to get a look on the kubeadm code

If I remove `registerTaintsUsingFlags` from `kubeletphase.WriteKubeletDynamicEnvFile` and make `kubeletphase.buildKubeletArgMap` always write `--register-with-taints` (See [kubeletphase](https://github.com/kubernetes/kubernetes/blob/c1f7df2b0efe89fb9d26db2f2837bac11d57064e/cmd/kubeadm/app/phases/kubelet/flags.go#L48))

[2018-08-16 01:44] Reasno commented on #338
I hope kubeadm can cover this process in a future release.

[2018-08-16 01:48] neolit123 commented on #1060
this is an interesting situation.
you are using `v1.10.2` too which is quite outdated with our current codebase and it's unlikely that we can backport the change for older k8s versions.

this is linked to this comment for master nodes:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/init.go#L289-L294

for worker nodes we already do it always set `registerTaintsUsingFlags`

[2018-08-16 02:05] yagonobre commented on #1060
Thanks @neolit123, no problem about not backport this. And yes, `MarkMaster()` will just care about labels.

[2018-08-16 02:11] Yusen1997 commented on #980
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm
My coredns can not start because a pod network add-on is not installed after initing the kubernetes and now I know it, thank you.

[2018-08-16 05:42] stealthybox commented on #914
^ re: @detiber

[2018-08-16 06:12] stealthybox opened #1061 "Certify kubeadm v1.12 as a Conformant Kubernetes deployment"
normal tasks:
~- [ ] bump sonobuouy tags ( see cncf/k8s-conformance#250 )~
~- [ ] submit conformance results ( see cncf/k8s-conformance#251 )~
^ depends on k8s debs and sonobuouy release.

other considerations:
- ~what work will we do to improve sonobuouy UX?  will we use the CLI? (requires devel and docs updates)~
/cc @chuckha  re: https://github.com/kubernetes/kubeadm/issues/951#issuecomment-401

[2018-08-16 06:44] xlgao-zju commented on #914
As I said in [kubernetes/kubernetes/#65164](https://github.com/kubernetes/kubernetes/pull/65164) , we can add a `TODO` list in this issue. In that `TODO` list,  We can add all the places where we should print the similar log. And we can use this PR as an example.

wdyt?

[2018-08-16 07:44] sysrich opened #1062 "kubeadm complains about bridge-nf-call and ip_forward if not using docker runtime"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

After booting a clean system, running `kubeadm init` with a CRI runtime other than docker configured produces the following pair of error messages:

[code]

**What you expected to happen**:

Those two pre-flight checks to pass because they could be satisfied automatically.

Obviously, these are handled automatically by t

[2018-08-16 07:58] motek80 opened #1063 "[HA L7 LoadBalancer] kubeadm managed kubelets reject externally generated self-signed certificates"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versio

[2018-08-16 09:25] yidane commented on #1063
I got the same issue, and I rum the command with `sudo kubeadm init`,but got another issue: get https://storage.googleapis.com/kubernetes-release/release/stable-1.11.txt .... time out.

[2018-08-16 09:42] yidane commented on #1063
It works by using command `sudo kubeadm init --kubernetes-version=v1.11.2`. We are the same version.

[2018-08-16 10:31] motek80 commented on #1063
@yidane: I not sure I follow you. Do you know how to resolve issue related to "certificate signed by unknown authority" ?

[2018-08-16 11:45] xlgao-zju commented on #1052
Print the requirements in the Preflight?

[2018-08-16 13:41] dionysius opened #1064 "Allow configuring of coredns options"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

[Kubeadm currently only allows definition of mainly crutial options](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go#L305), while [coredns has a good list of options to consider allowing to be set](https://github.com/coredns/coredns/tree/master/plugin/kubernetes#syntax). It is difficul

[2018-08-16 13:42] dionysius commented on #1064
/kind feature

[2018-08-16 13:44] neolit123 commented on #1064
this is a know problem.
users want to set addon specifics, but don't support it yet.

it could happen after 1.12.

[2018-08-17 09:00] fabriziopandini commented on #1058
Summing up comments above, what discussed the 14 of august in sig meeting  and the 15 in kubeadm office hours, and my deep dive on the topic I propose the following solution with the goal to:
- block usage of feature-gates flags `HighAvailability`, `SelfHosting`, `CertsInSecrets` for new clusters starting from v1.12
- give a warning to users during upgrades to v1.12 of clusters with `SelfHosting`,

[2018-08-17 12:29] deknos commented on #1052
that only helps if there is a difference to the used system.
if that is not possible to do within kubeadm, perhaps from a solution standpoint, whould i make sense to fetch a preflight docker check container beforehand which tests all this stuff? or does that not work?

because this of course would be not only helpful for kubeadm but master/nodes as well.

But there should definitely be a warning,

[2018-08-17 13:49] neolit123 commented on #1058
@fabriziopandini
there is already a deprecated state in the FeatureSpec as far as i can see:
https://github.com/kubernetes/kubernetes//blob/master/staging/src/k8s.io/apiserver/pkg/util/feature/feature_gate.go#L72

so i think we can do this:
`PreRelease: utilfeature.Deprecated`

and a warning _should_ be printed:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/

[2018-08-17 14:01] neolit123 commented on #1052
this is doable but it has a complicated maintenance process.

as mentioned earlier, we cannot have portable multi-platform detection for that using golang yet and we wouldn't want to have to homecook different solutions for different OSes.
we can only show a static message system requirements similar to the one outlined in the docs.

[2018-08-17 15:02] fabriziopandini commented on #1058
@neolit123 my only concern  is too mitigate impacts on users, and even if we can remove alpha features without advice I think that in case of self hosting we should give proper advice + grace period
For the implementation, the proposed solution consider that kubeadm has its own implementation of feature gates :-( ...

[2018-08-17 15:15] neolit123 commented on #1058
yep, understood.
there is always someone that depends on an alpha feature and will complain if we remove it without notice. it's just that this is extra work for us and someone has to do it.

/grumble :\

[2018-08-17 15:32] neolit123 opened #1065 "[1.12] Verify if the generated kubernetes-version in reference docs is correct"
there was an issue report at `k/website` by @xlgao-zju :
https://github.com/kubernetes/website/issues/9884

for 1.11 this was generated:
`--kubernetes-version string     Default: "stable-1.10"`

might get fixed by:
https://github.com/kubernetes/kubernetes/pull/67397

needs some investigation before 1.12 is released.

[2018-08-17 15:38] xlgao-zju commented on #1065
ok, will keep an eye on it. 😆

[2018-08-17 15:39] neolit123 opened #1066 "Improve the validation of unknown fields in configuration objects"
a separate bug was discovered here when we found a typo in an etcd config field:
https://github.com/kubernetes/kubeadm/issues/1045
explanation here:
https://github.com/kubernetes/website/pull/9802#issuecomment-411905363

if `localEtcd` is passed instead of `local` the parsing fails silently and we don't get an error from the api-machinery code.

improve the validation for unknown fields.
adding th