[2019-07-29 22:36] neolit123 commented on #1695
thanks for the reminder @chases2

[2019-07-30 21:11] rcythr commented on #1692
This use case would be impacted as part of this proposed change. With the change, any necessary external CA root certificates would need to be placed in the kubeadm-managed directory (e.g. /etc/kubernetes/ca-certificates/). Using the system-level directory isn't feasible unless kubeadm intends to get into the "repo mess". This is essentially the problem being discussed on #1665 .

[2019-07-30 23:01] neolit123 commented on #1541
/lifecycle frozen

[2019-07-31 04:59] randomvariable commented on #1692
If we do this, we'll start being in the business of managing root certificates for the controller-manager cloud provider client code. Is that something kubeadm or the kubernetes project wants to be responsible for?

In addition, organisations that are using proxies may know how to run the distro appropriate commands to include their organisation root CA, but this would break again for kubernetes.

[2019-07-31 12:31] neolit123 commented on #1692
i think we shouldn't as this falls outside of the "minimal viable cluster" case. kubeadm already manages quite a big number of certificates and we should avoid including more.

this can be a problem, yes.

[2019-07-31 15:54] timothysc opened #1698 "RFE: kubeadm operator"
As a Kubernetes Operator I would like to enable be able to declaratively control configuration changes, and upgrades in a systematic fashion.

This will require a KEP.
Entire feature-set is TBD.

WIP KEP: https://hackmd.io/@QlB2bmbhS-aeuDlwOCH9Yw/HkidAVXlS
presentation: https://docs.google.com/presentation/d/1ckEbp_4-9Q90UNV_UwvQQ7MDF6J9Jpl1EdRHUo5pWn0/edit#slide=id.g633cabb4a3_0_5

https://github

[2019-07-31 16:29] stealthybox commented on #1698
questions on scope:

What is the operators main function / deployment topology?
Is it deployed to a cluster after kubeadm init so that it can self-manage the cluster?
Does it live in a parent management cluster?
Do you run it as a commandline tool (does it read config from a file and/or the cluster's API?)

Do we intend for this to be consumed by a Cluster API bootstrap provider?
Is the config for

[2019-07-31 17:03] neolit123 opened #1699 "use `defer` when deleting kubelet-boostrap.conf"
with this [PR](https://github.com/kubernetes/kubernetes/pull/80676) merging we are now deleting kubelet-boostrap.conf after boostrap.

however it is better to use `defer` as outlined in this comment:
https://github.com/kubernetes/kubernetes/pull/80676#issuecomment-516919880

if you see this ticket please send a PR for kubernetes/kubernetes to use Go's `defer` for that particular logic, modifying t

[2019-07-31 18:39] neolit123 opened #1700 "investigate a problem with the deletion of the upgrade prepull DaemonSet"
during upgrade multiple people have encountered the following error:
[code]

https://github.com/kubernetes/kubernetes/pull/80798
https://github.com/kubernetes/kubeadm/issues/1603
https://github.com/kubernetes/kubeadm/issues/1546

this is a weird problem because it seems the deamon set was deleted previously and we are trying to delete it twice.

help-wanted:
- investigate why this can happen. @fab

[2019-07-31 18:48] neolit123 commented on #1603
hi, did you resolve your problem?

this means that the client that attempts to perform an operation against the cluster is singed with a different CA. i don't know why this is happening but you should ask the kubespray maintainers at this point.

i was investigating something else and saw this in your logs:

see:
https://github.com/kubernetes/kubeadm/issues/1700

a patch for that might be:
https:/

[2019-07-31 23:33] neolit123 commented on #1383
i can't reproduce any failures with a regular user on current `master`:
[code]
please re-open if needed.

[2019-07-31 23:42] neolit123 commented on #1383
actually never mind this still fails with the etcd directory problem:
[code]

[code]

[2019-08-01 00:53] neolit123 commented on #1260
added latest update about the constants bump here: https://github.com/kubernetes/kubernetes/pull/80833

[2019-08-01 06:47] xlgao-zju commented on #1700
@neolit123 I upgrade my master from 1.12 to 1.13, and then I upgrade it from 1.13 to 1.14. And when I upgrade cluster from 1.13 to 1.14, I get this error. So, cloud this be the reason?

[2019-08-01 07:05] xlgao-zju commented on #1700
maybe I should `sleep 60`, between the two `kubeadm upgrade apply`?

[2019-08-01 08:16] fabriziopandini commented on #1698
WRT to scope, IMO the kubeadm operator should be responsible for two things
- In place mutations of kubeadm generated artifacts
- Orchestration of such mutations across nodes
Instead, I think that we should consider out of scope everything that fits under the management of infrastructure or it is related to the management of "immutable" nodes

I would divide the uses case for the operator in two g

[2019-08-01 08:54] fabriziopandini commented on #1700
@neolit123 @xlgao-zju if the use case is upgrades executed in a quick sequence, I'm not sure the fix already merged is correct.

Pre pull DaemonSet were implemented to ensure image in place before upgrades, and thus improve speed/reduce risk of errors/timeout during the most critical part of the update procedure.

If the long tail of the first upgrade deletes pre pull DaemonSet of the second updat

[2019-08-01 09:18] xlgao-zju commented on #1700
As you said `thus improve speed/reduce risk of errors/timeout`, I think we should not break the process of upgrading because of the failure of deleting pre pull DaemonSet . Since it is just a method to  ensure image in place before upgrades.

Agree, I think we'd better add a suffix to the name of ds. But in a HA cluster, we have more than one master, and we will upgrade them one by one. So, I thin

[2019-08-01 09:32] roshanrojamar opened #1701 "Not able to install kuberenetes using its repo"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-08-01 10:54] dims commented on #1701
/close

[2019-08-01 10:54] #1701 closed

[2019-08-01 12:14] ttarczynski commented on #581
For Kubernetes v1.14 I find this procedure the most helpful:
* https://stackoverflow.com/a/56334732/1147487

[2019-08-01 12:40] neolit123 commented on #1700
i think the only way to give a definitive answer is to debug the upgrade process.
i remember doing pretty fast upgrades between MINOR versions without delay and i did not encounter this problem.

the second upgrade process should always ensure it has a DS at disposal even if deleting a stray DS from a previous upgrade.

from what i've seen thus far in k8s, version suffixes over resources names can

[2019-08-01 15:50] fabriziopandini commented on #1276
/lifecycle active

[2019-08-01 16:02] fabriziopandini commented on #1276
@seh
fix in flight for master; for an older version of kubeadm, the workaround is to avoid file name used by kubeadm for local etcd (e.g. `apiserver-etcd-client`-->`apiserver-external-etcd-client`)

[2019-08-01 16:08] seh commented on #1276
Thank you! We worked around it by conforming to the expected name, but I look forward to less surprise and more freedom in the next release. I'll go take a look at your kubernetes/kubernetes#80867.

[2019-08-01 17:05] desdic commented on #581
I created the fix once I had my own cluster fixed .. hoped that someone else could use it

[2019-08-01 19:05] neolit123 commented on #839
this is now tracked in the "import-boss" issue. we have ongoing PRs for a lot of "pkg/" items (see the linked google doc)
https://github.com/kubernetes/kubeadm/issues/1600
/close

[2019-08-01 19:05] #839 closed

[2019-08-01 20:38] #1693 closed

[2019-08-02 02:36] SataQiu commented on #1688
Have you solved your problem? @anushakamath97

[2019-08-02 04:48] cclient commented on #1477
kubeadm v1.15

kubeadm join .. --v=2

I0802 11:47:31.027812     359 token.go:202] [discovery] Failed to connect to API Server "": token id "r5uyqk" is invalid for this cluster or it has expired. Use "kubeadm token create" on the control-plane node to create a new valid token

kubeadm init phase upload-certs --upload-certs
kubeadm token create

then kubeadm  join sucess

[2019-08-02 09:09] RakeshNagarajan opened #1704 "No networks found in /etc/cni/net.d"
I am configuring Kubernetes cluster in my local VMware. While initializing the kubeadm. i am facing the below error.

[code]

What could be the issue?

I am running this cluster behind proxy.

[2019-08-02 12:45] namnx228 opened #1705 "Kinder gets error when do kubeabm-init"
## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
I test on two platforms: VM spawned from Openstack  and my laptop
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?
After installing kinder, I ra

[2019-08-02 12:51] namnx228 commented on #1705
One more thing I should mention, the error occurs when I checkout the latest commit  (d357b4dccc4f198f47f3acd3304d9126104f94a3), and when I checkout the older one (e90d3a7a43d7196b3e2c22e26cfa8a6e80c0e012), it works fine.

[2019-08-02 13:44] neolit123 commented on #1705
hi what is the command line you are calling?

[2019-08-02 14:24] namnx228 commented on #1705
I'm using bash

[2019-08-02 14:32] neolit123 commented on #1705
no, i meant what `kinder` commands are you calling that result in the error?

[2019-08-02 14:35] neolit123 commented on #1704
please provide more detail following the issue template:
https://github.com/kubernetes/kubeadm/blob/master/.github/ISSUE_TEMPLATE.md

[2019-08-02 14:46] neolit123 commented on #1698
@stealthybox and @fabriziopandini covered some of the questions and comments that i have.

but this overlaps with action that CAPI performs i need to understand more about the demand.
who demands this?

@timothysc is your plan to enable some actions that CAPI now performs on the side of this operator? at the same time allow non-CAPI users to use the same actions.

^ my other top question, this can

[2019-08-02 14:49] neolit123 commented on #1698
@fabriziopandini @timothysc do you remember my partially silly proposal to transfer kubeadm control-plane certs over encrypted sockets? i'd argue that it will be more secure that any host action we try to perform from a privileged Pod.

[2019-08-02 14:53] namnx228 commented on #1705
I have put them into the issue message and I will rewrite here:
[code]

[2019-08-02 15:01] neolit123 commented on #1705
/assign @fabriziopandini
i can try taking a look later too.

[2019-08-02 22:44] neolit123 commented on #1705
@namnx228
i cannot reproduce the problem with the latest commit from master:
e84dff09d44e523182fd34315b0309a49adeb64f

[code]

please re-open if it's still failing for you with this commit.

[2019-08-02 22:44] #1705 closed

[2019-08-02 23:08] neolit123 commented on #1664
/close
docs PR merged.

[2019-08-02 23:08] #1664 closed

[2019-08-02 23:09] neolit123 commented on #664
reading trough the whole ticket there are multiple issues that are either misunderstandings, covered elsewhere or not documented.

### the original issue:

the original issue talks about:

i do not understand this problem, so if you feel this is still viable to 1.13 (1.12 is not supported anymore) please log a new ticket with **full details** and examples.
this ticket deviated a lot.

### the misl

[2019-08-02 23:09] #664 closed

[2019-08-02 23:43] neolit123 commented on #701
doing triage of old issues...

@andreas-p

but it's unclear how would kubeadm know what the proxy is used for.
e.g. corporate proxies can apply not only to website traffic.

there are two sides to that, some users reported a problem that we are not applying the env.variables to containers, but some other users don't want it.

the current default is applying them and quite frankly i have not seen r

[2019-08-02 23:43] #701 closed

[2019-08-02 23:53] neolit123 commented on #817
adding some feedback to this old issue.

with Windows nodes in the picture and with the planned changes for multi-OS in the kube-proxy config things are moving in this space.

given the complications i've seen in past reports with IPVS kernel modules missing or disabled on user nodes, i'm inclined to recommend that we do not enable IPVS as the default mode yet.

iptables works and people are famil

[2019-08-02 23:59] neolit123 commented on #902
the unit test refactor related aspect of this ticket is resolved.
the version functions can now be tested.

however we have separate problems (no ticket yet) - random unit test fetch a version from the internet due to defaulting in the clusterconfiguration (a label is used).
this needs discussion.

/close

[2019-08-02 23:59] #902 closed

[2019-08-03 00:04] neolit123 commented on #959
there are a lot of PR in k/k the past few weeks moving things out to staging.

but we might need better detail to outline what can actually be used.

for most things we already use client-go, printing of e.g. runtime objects is nice and it we might use it for the machine readable output work.

[2019-08-03 00:06] neolit123 commented on #970
@fabriziopandini can this be renamed as the ticket for "change the cluster"?
also link to the KEP has changed.

[2019-08-03 00:09] neolit123 commented on #1027
docs PR merged, but not much we can do here on the kubeadm side to conform this use case.
see https://github.com/kubernetes/kubeadm/issues/1027#issuecomment-463333444
/close

[2019-08-03 00:09] #1027 closed

[2019-08-03 00:14] neolit123 commented on #1012
with the dual-stack support in k8s and kubeadm this space is changing.

i'm pretty sure this should work in 1.14+.
see https://github.com/kubernetes/kubernetes/blob/release-1.14/cmd/kubeadm/app/util/config/initconfiguration.go#L134-L139

please re-open if needed.

[2019-08-03 00:14] #1012 closed

[2019-08-03 00:24] neolit123 commented on #1011
we actually closed the only attempt to add a warning for this as the implementation was not very clean and there was no consensus.

overall an explicit podSubnet is not mandatory for CNI as a whole, but some plugins just require it.

if a plugin requires it, it is outlined both in ours and their docs, thus it becomes an operator mistake if the CIDR is not passed.

given the CNI plugin step is outs

[2019-08-03 00:24] #1011 closed

[2019-08-03 00:28] neolit123 commented on #1098
@nzoueidi
the issue is not assigned, please go ahead if you'd like.

[2019-08-03 00:32] neolit123 commented on #1317
@turchanov

In out cluster we have two cases:

indeed kubelet client certificate rotation was enabled in that time-frame but now 1.12 is out of support. i'm going to close this ticket but if you find more problems related to kubelet.conf and the automatic rotation of the PEM in more recent versions, please log a separate ticket.

thanks.

[2019-08-03 00:32] #1317 closed

[2019-08-03 11:54] sfxworks commented on #203
For anyone running into kubelet yelling about how a floating IP address isn't bound to the NIC after that, alias it using `ifconfig eth0:0 your.address.goes.here`

[2019-08-03 16:32] neolit123 commented on #1318
given the `kubeadm upgrade apply` phases probably need a KEP and given the deadline for KEPs for 1.16 has passed, punting to 1.17.

[2019-08-03 16:42] neolit123 commented on #1348
https://github.com/kubernetes/kubeadm/issues/1348#issuecomment-507635556

kubeadm treats control-plane nodes as replicas, by design.
you can still hack around that by customizing per node.

the work to enable such "kustomizations" has begun and will be available hopefully in 1.16:
https://github.com/kubernetes/kubeadm/issues/1379
(see the design docs / KEP).

however it comes with the caveat that

[2019-08-03 16:42] #1348 closed

[2019-08-03 16:44] neolit123 commented on #1348
@rosti , @fabriziopandin
while i closed this issue, if you think there are separate API related items, let's log them with a concise outline and API examples in a new ticket.
thanks.

[2019-08-03 16:45] neolit123 commented on #1350
hi, this topics needs a design proposal.
deadline for KEPs is done for 1.16 and thus this has to be move to the next cycle.

[2019-08-03 16:50] neolit123 commented on #1367
deadlines for KEPs is done.
i'm 50/50 whether this needs one or not - given the latest discovered complications i'd say it needs one.

if someone has the bandwidth deadline for KEP exceptions is 19 Aug.
https://github.com/kubernetes/sig-release/tree/master/releases/release-1.16

[2019-08-03 16:52] neolit123 commented on #1379
@fabriziopandini renamed the ticket and added kind/tracking issue.
please keep the OP updated with a list of PRs and TODO tasks.

[2019-08-03 16:56] neolit123 commented on #1384
this has become a duplicate of https://github.com/kubernetes/kubeadm/issues/1687

for 1.16 you will be able to feed client cert/key and the --tls-boostrap-token flag is no longer needed.
e.g. `--file-discovery=somefile.conf` without extra flags works.

this PR also fixed related bugs:
https://github.com/kubernetes/kubernetes/pull/80675

a side note is that we added e2e tests for that.

[2019-08-03 16:56] #1384 closed

[2019-08-03 16:56] neolit123 commented on #1687
closing as the PR merged in k/k.

[2019-08-03 16:56] #1687 closed

[2019-08-03 17:09] neolit123 commented on #1502
@arianvp

try:
[code]

while the document is not valid JSON, the k8s YAML/JSON parsing machinery does support the `---` separator.

but supporting List or a folder seems still viable.

[2019-08-03 17:15] neolit123 commented on #1512
this is the only report we saw about this, which tells me that having the cache enabled by default is tolerable. you can already patch the Corefile as you see fit and the change should persist across upgrades.

punting to https://github.com/kubernetes/kubeadm/issues/1379
where we can possibly enable kustomizations of the Corefile, but also the coredns addon might become external to kubeadm one day

[2019-08-03 17:15] #1512 closed

[2019-08-03 17:21] neolit123 commented on #1541
i'm going to close this ticket as the discussion was mostly resolved.
please re-open if needed.

my main concern as well. changing the default breaks existing setups.
once we do the security audit of kubeadm we can plan on writing a best practices doc, where disabling static pods on workers can be included.

[2019-08-03 17:21] #1541 closed

[2019-08-03 17:25] neolit123 commented on #1581
@fabriziopandini i've changed the title and we can use this ticket as the tracking issue for "change the cluster". we can update the OP with user stories, pending PRs and KEP links.

in terms of KEPs the deadline passed, so this would need an exception (deadline for exceptions is the 19th of Aug).

please move the milestone to 1.17 if see fit.

[2019-08-03 17:33] neolit123 commented on #1587
there are multiple aspects at play here, but i don't know the exact cause.

why not use `/run/containerd/containerd.sock`?

hyperkube is not something we have e2e test for, so i wouldn't say the kubeadm team supports it.

please try newer versions of k8s and re-open this ticket if the problem persists or if you have found the cause. our e2e test signal for 1.13 is green using containerd and docker

[2019-08-03 17:33] #1587 closed

[2019-08-03 17:34] neolit123 commented on #1603
please reopen if needed.

[2019-08-03 17:34] #1603 closed

[2019-08-03 17:34] #1607 closed

[2019-08-03 17:37] neolit123 commented on #1609
you can check the logs of the coredns containers.

coredns bugs can be filed here:
https://github.com/coredns/coredns

closing as not a kubeadm issue, but possibly something related to the user setup.

[2019-08-03 17:37] #1609 closed

[2019-08-03 17:38] neolit123 commented on #1610
closing as "by-design".

[2019-08-03 17:38] #1610 closed

[2019-08-03 17:39] neolit123 commented on #1639
please re-open if found a bug on the side of kubeadm.
thanks!

[2019-08-03 17:39] #1639 closed

[2019-08-03 17:49] neolit123 commented on #1611
i still do not understand the exact details here, but i will try to answer as much as i can.

please see what documentation updates this PR made:
https://github.com/kubernetes/website/pull/15524
(but these changes will appear in the 1.16 docs)

using `--apiserver-advertise-address=192.168.88.131` writes a serving certificate for the API server that allows `192.168.88.131` if you try to use anythin

[2019-08-03 17:49] #1611 closed

[2019-08-03 17:51] neolit123 commented on #1629
closing due to no response.

we have running e2e tests against 1.15 clusters created with kubeadm;
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm

[2019-08-03 17:51] #1629 closed

[2019-08-03 17:55] neolit123 commented on #1631
closing as something that can be resolved by tools wrapping kubeadm.
on the kubeadm side we might support alternative certificate distribution methods in a "kubeadm operator":
https://github.com/kubernetes/kubeadm/issues/1698

[2019-08-03 17:55] #1631 closed

[2019-08-03 17:57] neolit123 commented on #1647
closing as related to user setup and not a kubeadm bug.

please see the comment i made here, for further details on `controlPlaneEndpoint`:
https://github.com/kubernetes/kubeadm/issues/1611#issuecomment-517942714

[2019-08-03 17:57] #1647 closed

[2019-08-03 18:00] neolit123 commented on #1572
closing due to no response and based on:
https://github.com/kubernetes/kubeadm/issues/1572#issuecomment-515090482

please log a ticket for minikube if needed

[2019-08-03 18:00] #1572 closed

[2019-08-03 18:01] neolit123 commented on #1637
punting to the "kustomization" support in kubeadm 1.16
https://github.com/kubernetes/kubeadm/issues/1379

please read the design proposal and follow up on that ticket if needed.

[2019-08-03 18:01] #1637 closed

[2019-08-03 18:04] neolit123 commented on #1622
i'm going to close this as to my understanding the meeting already happened.
please re-open the ticket if needed.

[2019-08-03 18:04] #1622 closed

[2019-08-03 18:08] neolit123 commented on #1656
close due to no response.

[2019-08-03 18:08] #1656 closed

[2019-08-03 18:12] neolit123 commented on #1655
closing as this also saw a change for 1.16 (thanks @SataQiu )

see: https://github.com/kubernetes/kubernetes/pull/79834/files#diff-09819a55e7cc3686c70b31b14ae7803dR30

for older versions of the kubelet, not mapping there isn't much we can do as we don't want to special case this with - e.g. preflight checks.

[2019-08-03 18:12] #1655 closed

[2019-08-03 18:15] neolit123 commented on #1667
best to log a ticket in kubernetes/kubernetes and tag it with `/triage support`, `/sig node`, `/area kubelet`. also please provide information about your container runtime there.

[2019-08-03 18:15] #1667 closed

[2019-08-03 18:17] neolit123 commented on #1677
closing as not a kubeadm bug.

if there is something we can do for our packages, please log a ticket for kubernetes/release as that is the repository that hosts the specs:
https://github.com/kubernetes/release/blob/master/rpm/kubelet.spec

[2019-08-03 18:17] #1677 closed

[2019-08-03 18:19] neolit123 commented on #1689
closing as the main PR for this merged.
there is a followup to use `defer` https://github.com/kubernetes/kubeadm/issues/1699

[2019-08-03 18:19] #1689 closed

[2019-08-03 18:23] neolit123 commented on #1688
please re-open if you have further details on this problem.
thanks!

[2019-08-03 18:23] #1688 closed

[2019-08-03 21:30] neolit123 commented on #1657
@NeilW i found more time to investigate this problem.

what you are looking for is podAntiAffinity to prevent the coredns Pods scheduling on the same nodes and leave one of them Pending until more nodes are available:
[code]

the workaround to your problem is the following:

[code]

[code]

by adding more nodes, the second Pod will schedule on another node.

unfortunately we cannot add this as par

[2019-08-03 21:30] #1657 closed

[2019-08-03 22:19] neolit123 commented on #1657
about:
https://github.com/kubernetes/kubeadm/issues/1657#issuecomment-509888479

seems like so, see:
https://github.com/kubernetes/kubernetes/issues/55713

people are say that `--pod-eviction-timeout` is not working as expected.

[2019-08-04 00:03] neolit123 commented on #1672
so i investigated this a little i think i found that PDB can be buggy in 1.15.1, or at least i cannot explain what is going on.

say, if you drain a couple of nodes that each host a coredns pod, one of the coredns pod will get evicted and restarted, but then the second pod can get stuck in Pending with this loop:

the PDB status also gets stuck with:
[code]

at this point the `  disruptionsAllowed

[2019-08-04 00:14] neolit123 commented on #1672
something to add is that this breakage only happens when using `kubectl drain`.

for `kubectl delete` on the coredns Pods, the PDB still attempts to manage the Pods of the Deployment it's attach to, but it fails to, and there are cases of:

[code]

then after a while both Pods restart:
[code]

this particular case also invalidates the usage of PDB, as `currentHealthy: 0` defeats it's purpose.

[2019-08-04 00:26] neolit123 commented on #1672
xref
https://github.com/kubernetes/kubernetes/issues/72320
https://github.com/kubernetes/kops/issues/2537

[2019-08-04 03:33] jessehu commented on #1438
I use kubeadm v1.15.0 on Ubuntu 16.04.2 LTS and same issue when running `sudo kubeadm init --pod-network-cidr=10.244.0.0/16`.  kubeadm v1.15.1 works perfect.

[2019-08-04 04:00] neolit123 commented on #1564
punting to the following tracking issue for cluster reconf
https://github.com/kubernetes/kubeadm/issues/1581

+1

[2019-08-04 04:00] #1564 closed

[2019-08-04 08:34] savvyyabby commented on #1153
Worked for a week on getting `kubeadm` working on
Ubuntu 18.04
docker 18.06-2-ce
k8s 1.15.1
`
sudo kubeadm init --pod-network-cidr=10.244.0.0/16`

[code]

The kubelet logs show it just can't find the nodes to get past first base:

[code]

I should note I have multiple NICs on these bare-metal machines:

[code]

I don't know if that is a problem, but I set up my `/etc/hosts` file as

[code]
So, it

[2019-08-04 16:34] jessehu commented on #1464
Hi @neolit123, I didn't find the `kubeadm config` sub command to modify the kubeadm CluserConfiguration. Could you please share more details? See https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-config/.
I'd like to update some configuration for the K8s components (e.g apiserver, scheduler) in a K8s cluster created via `kubeadm init --extraArgs=xxx=yyy`. Is there a command like `ku

[2019-08-04 16:55] RakeshNagarajan commented on #1704
## Is this a BUG REPORT or FEATURE REQUEST?

BUG, while initializing Kubernetes 3 node cluster in VMware.

Internet connection is achieved through Proxy.

## Versions

**kubeadm version** (use `kubeadm version`):v1.15.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.15.1
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERS

[2019-08-04 17:35] neolit123 commented on #1464
@eskuai

updating the running kubelet is only possibly using the feature DynamicKubeletConfig
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/

however it's not enabled by default so if you created the cluster without it you cannot use it.

alternatively you can do the following steps:
- using `kubectl edit` modify the `kubelet-config-x.yy` ConfigMap in the cluster.

then y

[2019-08-04 17:38] neolit123 commented on #1464
@jessehu

updating parameters of the control-plane components is currently not supported.

users are using `kubeadm upgrade apply [version] --config update-config.yaml`, however this is not recommended. use at your own risk!!

the alternative is to (also use at your own risk!):
- edit the kubeadm-config ConfigMap using `kubectl edit`.

the two options:

1) go to all nodes and modify `/etc/kubernet

[2019-08-04 17:55] neolit123 commented on #1704
by

do you mean vSphere?

Initially i faced certificate issue, to resolve this issue, i have feeded my certificates under /usr/local/share/ca-certificates and ran update-ca-certificates

for regular kubeadm setup on your own VMs (e.g. using Ubuntu), you do not need `update-ca-certificates`. i have no information why it was required for you to do that.

the k8s.gcr.io is a public registry does not

[2019-08-04 17:55] #1704 closed

[2019-08-05 03:34] sfxworks commented on #203
^ If anyone is aware of how to get that to work with floating IPs that don't appear on the NIC, please let me know. Successful otherwise.

[2019-08-05 05:16] KevinWang15 commented on #1390
Using iptables seems to be promising, but I still cannot get kube-proxy to work, and I cannot use ClusterIP services that way

[2019-08-05 09:48] fabriziopandini commented on #1581
@neolit123
IMO there are several tickets tracking slightly different variations of the same topic, which is changing the configuration of a running cluster. My proposal is to close this and conflate everything under https://github.com/kubernetes/kubeadm/issues/1698

[2019-08-05 09:49] fabriziopandini commented on #970
@neolit123
IMO there are several tickets tracking slightly different variations of the same topic, which is changing the configuration of a running cluster. My proposal is to close this and conflate everything under #1698

[2019-08-05 09:57] #1699 closed

[2019-08-05 10:24] jessehu commented on #1464
Thanks a lot @neolit123. I ran `kubeadm config view > kubeadm-config.yaml` and added a new configuration for apiserver in kubeadm-config.yaml(e.g. enable PSP), then ran `kubeadm upgrade apply --config kubeadm-config.yaml` to update the k8s cluser with new configuration. It works.
Manually updating the configuration file should work, but seems not user friendly.
I found that minikube supports recon

[2019-08-05 13:09] ieugen commented on #203
Hi,

Please try this https://wiki.hetzner.de/index.php/Cloud_floating_IP_persistent/en .
It works for Hetzner but I think it is generic.
Eugen

[2019-08-05 13:31] namnx228 commented on #1705
Can you try to reproduce on a fresh new machine (or VM) ? I faced this error when running kinder for first time.

[2019-08-05 13:38] neolit123 commented on #1581
@fabriziopandini
i think before we do that the operator idea needs a quick discussion in terms of it's architecture.
with the original "change the cluster" we planned calling kubeadm commands on each node which is safe, while the operator is something that will be topology aware and have super powers.

[2019-08-05 13:42] neolit123 commented on #1581
closing in favor of:
https://github.com/kubernetes/kubeadm/issues/970

(it links to this issue for example user story)

[2019-08-05 13:53] neolit123 commented on #1705
the bug should be fixed in https://github.com/kubernetes/kubeadm/commit/e84dff09d44e523182fd34315b0309a49adeb64f and later. but it was a real bug.

before:

https://github.com/kubernetes/kubeadm/blob/d357b4dccc4f198f47f3acd3304d9126104f94a3/kinder/pkg/cluster/manager/actions/loadbalancer.go#L37-L43

after:

https://github.com/kubernetes/kubeadm/blob/master/kinder/pkg/cluster/manager/actions/loadba

[2019-08-05 13:58] #1581 closed

[2019-08-05 13:59] neolit123 commented on #1464
yes, but minikube is single node.

for kubeadm please track:
https://github.com/kubernetes/kubeadm/issues/970

[2019-08-05 14:09] chrisohaver commented on #1512
FWIW, as of v1.5.1, CoreDNS cache responses are _always_ authoritative. https://github.com/coredns/coredns/pull/2885.
However, upgrading to 1.5.1 has pitfalls, because it removes some configuration options that some users may still be using, which could require manual modification of the configuration file.

[2019-08-05 14:14] namnx228 commented on #1705
Cool. Nice to see that it was fixed.

[2019-08-05 14:24] jessehu commented on #1464
Thanks @neolit123 for pointing out the issue #970. Since `kubeadm init` and `kubeadm join` ran on a single node separately, I think if minikube can do it (on a single node), kubeadm can do it too.

[2019-08-05 19:30] neolit123 commented on #1657
@NeilW
it seems the scheduling behavior that you are seeing is by design.

have a look at the discussion here:
https://github.com/kubernetes/kubernetes/issues/55713#issuecomment-517982549

[2019-08-05 20:36] #1285 closed

[2019-08-05 23:24] BenTheElder commented on #1685
why doesn't kubectl logs / the logs API have ping/pong / keepalive, or perform a reconnect?

[2019-08-05 23:52] neolit123 opened #1708 "stop using etcdctl as a liveness probe"
there is a plan to move all kubernetes images to distroless, which means that the etcd image can no longer host the etcdctl binary.

links:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-release/20190316-rebase-images-to-distroless.md
https://github.com/kubernetes/kubernetes/issues/70249
https://github.com/kubernetes/kubernetes/pull/77748#issuecomment-491420068

currently in kubea

[2019-08-06 01:25] zgfh opened #1709 "should I fix CertificateAuthorithy?"
## Is this a request for help?
I find a lot of file use  `CertificateAuthorithy`, should I change it to `CertificateAuthority`?

[2019-08-06 02:08] neolit123 commented on #1709
@zgfh yes, please do.

/lifecycle active
/kind cleanup
/priority backlog

[2019-08-06 02:44] jaredledvina opened #1710 "Single node failing ControlPlaneNodesReady upgrading to 1.15.2"
## What keywords did you search in kubeadm issues before filing this one?
ControlPlaneNodesReady
[WARNING ControlPlaneNodesReady]: failed to find any nodes with a control-plane role

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: `&version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2", GitCommit:"f6278300bebbb750328ac16ee6dd3aa7d3549568", GitTreeState:

[2019-08-06 03:25] neolit123 commented on #1710
hi, is your control-plane node healthy?
what is the output of `kubectl get po -A`?

`kubeadm upgrade` can only work if the node is in a Ready state and the Pods are Running.

[2019-08-06 03:28] neolit123 commented on #1710
removing the taint is required if you want to be able to schedule workloads on this node.

please answer the above kubectl questions and if the node is healthy, i will try to test this myself.

[2019-08-06 03:32] neolit123 commented on #1710
in the single control-plane scenario you have to remove the taint to be able to schedule workloads on this node.

[2019-08-06 04:02] SataQiu commented on #1708
I would like to pick this up. Are you working on this now? @neolit123

[2019-08-06 05:57] SataQiu commented on #1708
I looked at the issue. It's a little tricky.
When etcd enables mTLS by `--client-cert-auth=true`, the client must provide a certificate to access etcd server. However, certificate configuration is not supported for HTTP probe.
Ref: https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/configure-pod-container/configure-liveness-readiness-probes.md
[code]

[2019-08-06 06:53] ereslibre commented on #1685
I'm preparing a patch for this exactly (sending pings on a regular configurable basis). I will post the proposed PR here.

[2019-08-06 11:05] neolit123 commented on #1708
yeah, it was my guess that this is the case.

[2019-08-06 13:46] jaredledvina commented on #1710
Hi @neolit123 - Okay cool, that's what I figured but, figured I should make sure.

Would it be fair to say that `kubeadm` should skip the `node-role.kubernetes.io/master` taint check if this is a single control-plane configuration?

[2019-08-06 15:09] neolit123 opened #1711 "reject a node joining the cluster if a node with the same name already exists"
the discussion in https://github.com/kubernetes/kubernetes/issues/79779
revealed that adding multiple nodes with the same name as a control-plane node name can bring the cluster down.

while this can be considered an operator mistake, given k8s does not support nodes with the same name, kubeadm should take action on preventing the bootstrap of such nodes on `kubeadm join` time.

[2019-08-06 16:25] neolit123 commented on #1710
possibly.

[2019-08-06 17:47] dchen1107 commented on #1638
cc/ @Random-Liu

[2019-08-06 21:11] neolit123 commented on #1708
we should still be able to use HTTPS even if the probe client will not be able to authenticate, on the other hand this will be pretty much the same as HTTP.

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

there are ways to set proper authentication with JWT tokens in etcd, but it's slightly more complicated and requires managing users. quite frankly

[2019-08-06 22:17] Random-Liu commented on #1638
@yastij I think I'm fine with moving it out to a new repo. :)

[2019-08-07 01:50] RA489 commented on #1711
@neolit123 can i work on this?

[2019-08-07 02:16] neolit123 commented on #1711
@RA489
i've just sent a PR for it. please have a look at some of the help-wanted items if you can.

[2019-08-07 02:16] RA489 commented on #1711
@neolit123 Thanks!

[2019-08-07 07:22] qhh0205 commented on #1056
Maybe the flannel problem, in my case, the vagrant has mutil network interface, so must specify the interface when deploy flannel: `- --iface=eth1`, otherwise the same dns problem is going to happen...

https://github.com/kubernetes/kubernetes/issues/39701

`vim https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml` modified as following:
[code]

[2019-08-07 10:12] #1709 closed

[2019-08-07 10:53] yastij commented on #1638
Ack, I'll proceed with the logistics

[2019-08-07 12:43] dims commented on #1638
@Random-Liu @yastij please drop an email to sig arch ML and request the new repo https://github.com/kubernetes/org/issues

[2019-08-07 12:44] yastij commented on #1638
ack

[2019-08-07 13:11] chrischdi opened #1712 "kubeadm join control-plane node times out (etcd timeout)"
## What keywords did you search in kubeadm issues before filing this one?
etcd join timeout
kubeadm join timeout

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.2", GitCommit:"f6278300bebbb750328ac16ee6dd3aa7d3549568", GitTreeState:"clean", BuildDate:"2019-08-0

[2019-08-07 14:18] fabriziopandini opened #1713 "Remove dependency on pkg/kubeapiserver/authorizer/modes"
Same as https://github.com/kubernetes/kubernetes/pull/80307, but on `manifests_test.go`
Might be worth a check if something else is missing...

[2019-08-07 15:01] timothysc commented on #1712
@chrischdi Several questions
- Do you have the docker logs detailing what happened?
- Did the etcd container start?
- What version of docker are you running?
- Does this happen consistently or intermittently?

[2019-08-07 15:11] chrischdi commented on #1712
Not anymore but we are running some builds every night and I will catch the logs on the next occurrence.

Yes the etcd container was running from docker perspective. The kubernetes cluster is already deleted, so I don't know its exact state. I will also try to get more information on the next occurrence.

We've got the coreos built-in docker version which is `18.06.3`

I currently cannot reproduce

[2019-08-07 15:16] bart0sh commented on #1713
sorry, my bad. I forgot about _test.go files in my previous PR. I hope #81084 fixes this.

[2019-08-07 15:54] neolit123 commented on #1713
commented here:
https://github.com/kubernetes/kubernetes/pull/81084#discussion_r311632092

i wonder why this import is not in the import-restrictions file.

[2019-08-07 15:56] HolimaX commented on #578
@thedarkfalcon So what is the right command to install the portmap CNI plugin?

[2019-08-07 16:20] neolit123 commented on #1712
@chrischdi are you joining concurrently btw?

[2019-08-07 16:21] ereslibre commented on #1712
/assign

[2019-08-07 16:28] ereslibre commented on #1710
/assign

[2019-08-07 16:30] HolimaX commented on #1078
Hi, @timothysc , could you please share more details on how to fix it or diagnose it better? Thanks.

[2019-08-07 16:48] chrischdi commented on #1712
No only one controle-plane node or worker node at the same time / sequentially

[2019-08-07 17:06] rosti opened #1714 "Automatic update for version constants"
Right now we have three Kubernetes version constants residing in [constants.go](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go). Those are `CurrentKubernetesVersion`, `MinimumControlPlaneVersion` and `MinimumKubeletVersion`.

These need to be bumped for every release cycle and this has already caused us issues in the past (see kubernetes/kubernetes#8083

[2019-08-07 17:07] rosti commented on #1714
/remove-help

[2019-08-07 17:35] neolit123 opened #1715 "Kubernetes Security Assesment: evaluate kubeadm reset problems"
https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf

search for:
`Kubeadm performs potentially-dangerous reset operations`
`Finding ID: TOB-K8S-014`

the TL;DR is that `reset` according to the finding performs a set of Unix-ism unsafe operations.

there are also comments about errors not being returned, but i personally slightly disagree w

[2019-08-07 17:43] neolit123 opened #1716 "Kubernetes Security Assesment: evaluate pervasive world-accessible file permissions "
https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf

search for:
`Pervasive world-accessible file permissions`
`Finding ID: TOB-K8S-004`

there are mentions that our file/path permissions are not ideal.

see:
[code]

[2019-08-07 17:45] neolit123 opened #1717 "Kubernetes Security Assesment: evaluate superficial health check"
https://github.com/kubernetes/community/blob/master/wg-security-audit/findings/Kubernetes%20Final%20Report.pdf

search for:
`Superficial health check provide false sense of safety`
`Finding ID: TOB-K8S-009`

the TL;DR is that the document argues that our health check only checks API server and should check the rest of the CP components too.

[2019-08-07 18:54] neolit123 commented on #1712
the same report here:
https://github.com/kubernetes/website/issues/15637

i change the priority and we possibly need to increase the timeout and backport to 1.15.

[2019-08-07 22:32] Random-Liu commented on #1638
@yastij BTW, after moving `kubeadm` or `system-validators` out, are we going to version/branch them?

I feel like system-validator version should be pined to kubernetes version, because logically when as more functionality added to Kubernetes, the system requirement may also change. Not sure how `kubeadm` plans to address that.

[2019-08-07 23:07] thedarkfalcon commented on #578
@HolimaX I can't remember exactly, but I don't think I could as there were a bunch of dependency conflicts. My work around at the time was just to install the specific version of weavenet as per my screenshot named _Applying weavenet 2.4.1_
Sorry I can't be more help, I no longer work with kops/kubernetes systems so would be hard for me to troubleshoot.

[2019-08-07 23:37] neolit123 commented on #1638
+1.

we will try to pin the kubeadm version to the kubernetes version too, at least that was my proposal and thus far everyone has agreed. but it's not clear how it will happen WRT branches and tags, yet (possibly a custom bot).

[2019-08-07 23:43] Random-Liu commented on #1638
SG. Just in case you guys are aware of this problem. :)

[2019-08-08 06:39] chrischdi commented on #1712
Let me know if I can help on this :-)

[2019-08-08 08:32] jfbai opened #1718 "Kubeadm upload component configuration from file to configmap"
**What would you like to be added**:

Upload kubelet configs from file to configmap, something like,

`kubeadm config upload from-file --component-configs KubeletConfiguration --config kubeadm-kubelet.yaml`

[code]

**Why is this needed**:

In order to maintain kubelet config in a consistent way by kubeadm, from upload to download.

[2019-08-08 08:33] jfbai commented on #1718
/kind feature

[2019-08-08 09:02] SataQiu commented on #1714
We could probably use `kubeadm version package` to get version info for these constants.
[code]

[2019-08-08 11:26] HolimaX commented on #578
@thedarkfalcon , thanks! Lets try. Also - question - can you please remember why did you specify the deamonset yaml instead of some other resource definition? Could you share more details why the deamonset(s) are ones that are causing this issue?

[2019-08-08 14:42] neolit123 commented on #1718
thanks for moving the ticket here @jfbai

[2019-08-08 15:36] sunvk commented on #1712
All,

Any ETA on this. I am currently blocked with my multi master setup.

Thanks,
Sunish

[2019-08-08 16:23] HolimaX commented on #1026
@JTRNEO , I have to remember this one as well :)

[2019-08-08 18:05] neolit123 commented on #1714
kubeadm should not be able to build without a build version, IMO.
i.e. the build should block if a tarball build does not feed a version.

yes, if we can base these versions on the version of the binary it would be ideal.
but this way i don't think they will be constants any more.

instead of using constants we can have public getters that can have whatever logic necessary to return the proper ver

[2019-08-08 21:07] thedarkfalcon commented on #578
What other definition would you want? I think this was the only way I could actually get the older version installed because all of the other documented procedures would be pulling the latest version which didn't work. The documented installation procedure doesn't let you specify a version to install, rather, I believe you pass your cluster version in as a blobbed parameter to weaveworks and they

[2019-08-08 23:30] neolit123 opened #1719 "fix static check failures for cmd/kubeadm"
this PR will add static checking of the kubernetes/kubernetes repository:
https://github.com/kubernetes/kubernetes/pull/81189

mini-guide:
- wait for https://github.com/kubernetes/kubernetes/pull/81189 to merge.
- clone kubernetes/kubernetes or fetch the latest master.
- modify the file `./hack/.staticcheck_failures` to exclude all `cmd/kubeadm/*` entries.
- run `./hack/verify-staticcheck.sh`.
- l

[2019-08-09 05:27] HolimaX commented on #578
Got it. Interesting indeed. I wonder if there is a way to handle this timing issue.

[2019-08-09 07:04] tirelibirefe commented on #1026
I faced with the same problem several installations. I haven't figured it out yet. I tried Flannel, Calico and Wave drivers and the result is the same. So probably the problem is not related with network plugins.
I am not sure it's related with the problem but although I run "sudo swapoff -a", after restart the server recommends me turn off swap again.

[2019-08-09 07:12] SataQiu commented on #1719
/assign

[2019-08-09 09:29] SataQiu commented on #1716
/assign

[2019-08-09 09:51] SataQiu commented on #1716
/lifecycle active

[2019-08-10 01:54] PaoJiao commented on #1295
there is a patch in `gentoo` code

[2019-08-11 05:39] stealthybox commented on #1717
Just noting that we do install an etcd health-check

[2019-08-11 20:58] thedarkfalcon commented on #578
I mean... does it matter? It's a one time thing you need to do, only if you have installed the incorrect version of weavenet. If you're automating your deployment, after your cluster has spun up you just deploy weave 2.41.. 🤷‍♀️🤷‍♀️🤷‍♀️

[2019-08-12 08:51] nerusnayleinad opened #1721 "No permissions to do anything starting on 1.14.4."
I am creating a kubernetes cluster with kubeadm, and I have done this literally, may be 100 times, and I am getting permission issues from the very beginning.

The context:

So, I first tried with k8s 1.15.1, and I was getting the following error when tried installing pod network (bunch of them; 1 for each object):

I noticed the user is different (why is my master node the user configured in the

[2019-08-12 10:06] nerusnayleinad commented on #1721
kind/bug

[2019-08-12 11:39] creation-shin-chan commented on #1601
@zbindenren
I have the same problem wit "--service-account-key-file". Your suggestion didn't work. kubeadm just gives me unmarshal error.

[2019-08-12 14:02] neolit123 commented on #1721
getting a permission error during pod network setup, means you are trying to `kubectl apply` manifest files using a kubeconfig file which does not have the correct permissions.

make sure that your `/etc/kubernetes/admin.conf` is generated by kubeadm and contains `kubernetes-admin` as the user.

which kubeconfig is this command using?
try
[code]

AFAIK, there is no such change that breaks this bet

[2019-08-12 15:21] #1716 closed

[2019-08-12 16:16] neolit123 commented on #1601
for now you'd have to patch your manifest files manually after they are created.
(i.e. after kubeadm finishes running).

there is a WIP alpha feature for 1.16 that will allow you to customize static pods using patches:
https://github.com/kubernetes/kubeadm/issues/1379

but i'm keeping this issue open in case we figure a good way to allow multiple keys with the same name.

[2019-08-12 16:40] nerusnayleinad commented on #1721
Oh! may be I was using master node kubelet config file!? That's why system:node:master?

I'll test this tomorrow, in the office.

Thanks.

[2019-08-12 19:23] gbrayut commented on #1651
If it is just the apiserver-etcd-client certificate, this worked for us:
[code]

For details on checking and renewing all certificates see https://stackoverflow.com/a/57466766/17373

[2019-08-12 19:55] neolit123 commented on #1710
@ereslibre i'm going to try to send a fix for this today, because i was looking at the same area of the code for something else.

[2019-08-12 20:32] ereslibre commented on #1710
Thank you @neolit123

[2019-08-12 20:33] neolit123 commented on #1710
@jaredledvina
it seems the only case where the error:
[code]

can be returned is if you next to untainting the node using, e.g.:
[code]
(our official guide recommends `kubectl taint nodes --all node-role.kubernetes.io/master-`)

you also must have unlabeled the node using:
[code]

this will leave the control-plane node without a "role" label and the upgrade preflight check indeed has the right to

[2019-08-12 20:33] #1710 closed

[2019-08-12 21:55] neolit123 commented on #1700
i've tried reproducing the problem in 1.15 by:
- aborting the upgrade process using ctrl+c and restarting
- disabling the internet during image pre-pull
- reducing the prepull timeout to a very small duration

looking at the source, the only way this could happen is if
- the user starts the upgrade
- a DS is created for each component to be prepulled
https://github.com/kubernetes/kubernetes/blob/r

[2019-08-13 08:43] fabriziopandini commented on #1700
If something external interferes with kubeadm probably we should block and report an error instead of recovering, but considering your comment above and the result of your tests I'm ok with closing this and letting the final delete run at best effort

[2019-08-13 10:44] zbindenren commented on #1601
@creation-shin-chan that does not actually work. This was just a proposition how it could be implemented.

[2019-08-13 11:20] neolit123 commented on #1700
+1

[2019-08-13 11:20] #1700 closed

[2019-08-13 12:53] #1721 closed

[2019-08-13 12:56] creation-shin-chan commented on #1601
@zbindenren
I create kubeadm-config.yaml as you suggested. However, kubeadm upgrade --config=kubeadm-config.yaml give me unsharl error.

In kube-apiserver.yaml manifest (in /etc/kubernetes/manifests), I added these lines.
[code]

Therefore, I need `--service-account-key-file=/etc/kubernetes/pki/pub.pem` and `--service-account-key-file=/etc/kubernetes/pki/sa.pub` in kube-apiserver manifest.

So I t

[2019-08-13 13:20] neolit123 commented on #1601
yes, upgrade will overwrite the existing manifests on disk. that is because it uses the CluserConfiguration in the kubeadm-config ConfigMap as the source of truth and the ClusterConfiguration does not support multiple keys with the same name in a map.

please note that using `kubeadm upgrade --config=kubeadm-config.yaml` to reconfigure the cluster is not recommended it really performs more than up

[2019-08-13 15:09] neolit123 commented on #1715
i think we should remove the `awk...` and replace it with:
[code]

which only happens in a _linux.go file and the _windows.go file is a NOP.

if `k8s.io/kubernetes/pkg/util/mount` can be used for this and if it's moving to a new repo (i think it is) we can use it, but i rather not block on repos moving for 20 lines of code.
so we can go ahead and make this change and have a potential TODO for the

[2019-08-13 19:41] cflev commented on #1463
anyone found a solution for this? I have the same problem:
`2019-08-13T19:37:09.805Z [INFO] plugin/reload: Running configuration MD5 = 5d5369fbc12f985709b924e721217843
E0813 19:37:34.804922       1 reflector.go:134] github.com/coredns/coredns/plugin/kubernetes/controller.go:322: Failed to list *v1.Namespace: Get https://10.96.0.1:443/api/v1/namespaces?limit=500&resourceVersion=0: dial tcp 10.96.0.

[2019-08-13 19:44] dolphyvn commented on #1463
1.15.0 seem to solved the problem with me.

[2019-08-13 19:45] cflev commented on #1463
Thanks for the reply,
It is a fresh install with 1.15.2

[2019-08-13 19:52] dolphyvn commented on #1463
@cflev actually you can try to route to that ip via your gateway. It works with me that way. But I dont want to do that so I update to 1.15.0 and it gone.

[2019-08-13 19:54] cflev commented on #1463
@dolphyvn Thanks for the tip!
I just checked the iptables and I saw some old entries, so I will revise them again :)

[2019-08-13 20:28] cflev commented on #1688
@SataQiu I have the same problem on Ubuntu as well

I am confused because the pod is running on the worker node

[code]

[code]

[2019-08-13 22:32] neolit123 commented on #1708
sent a PR to see what feedback it will get.
this now also relates to https://github.com/kubernetes/kubeadm/issues/1717

/lifecycle active

[2019-08-13 23:02] mauilion commented on #1432
For folks that happen across this issue. I've created a static pod at git.io/etcdclient.yaml that can be used to interact with etcd once you have deployed it.
Instructions and details here:

https://mauilion.dev/posts/etcdclient/

[2019-08-13 23:09] neolit123 commented on #1432
@mauilion

[code]

i've just send a PR that may be the first step in deprecating the `/etcd/healthcheck-client*`, btw.
https://github.com/kubernetes/kubernetes/pull/81385

PTAL and do tell if you object on serving a HTTP probe on localhost.
i do not see a problem with that, then again the security folks might come at us with "hey, Eve can now see the etcd metrics of Alice". but well, if Eve gains

[2019-08-14 03:56] RA489 commented on #1719
@SataQiu Are you working on this?

[2019-08-14 03:57] SataQiu commented on #1719
@RA489 Yes, I am waitting for kubernetes/kubernetes#81189 to merged, then I will fix this.

[2019-08-14 03:58] RA489 commented on #1719
@SataQiu Thanks For the update.

[2019-08-14 10:45] rosti commented on #1708
We can certainly do without mTLS in the normal case. The problem is that the health check is enabled together with the `/metrics` endpoint. I am not sure if it won't expose something sensitive.
Enabling HTTPS even without mTLS would ensure, that it is really the etcd instance that is responding and not a pretender (while the etcd instance is down).

[2019-08-14 12:15] neolit123 commented on #1718
@jfbai hi, would this ticket also cover KubeProxyConfiguration?

[2019-08-14 12:21] neolit123 commented on #1708
to clarify from earlier, i've tried and it doesn't work with a HTTPS probe if the probe client does not have certs. etcd is restarting.

if Eve would like to scrape Alices' metrics, she already gained access to her computer.
but agreed, i still would need a security stamp on the PR in flight.

[2019-08-14 12:46] jfbai commented on #1718
@neolit123 IMO, it would be better to cover KubeProxyConfiguration, so that user can update the `kube-proxy` configMap via kubeadm as well. :)

[2019-08-14 13:06] Klaven commented on #1718
@jfbai Thanks for this info!

I believe that `kubeadm config upload from-file` has been deprecated as you can see here https://github.com/kubernetes/kubeadm/issues/988

That being said this command does exist:
`kubeadm init phase upload-config kubelet --config kubeadm.yaml ` and I think it does what you where asking.

I could add a `kube-proxy` command to the `init phase upload-config` to enable t

[2019-08-14 13:14] jfbai commented on #1718
@Klaven Thanks for this info as well. I missed the previous issue.

`kubeadm init phase upload-config kubelet --config kubeadm.yaml` is actually what I need.

BTW, Could I try to add `kube-proxy` command to the codebase, I'm trying to make contributions in kubernetes project.

[2019-08-14 13:18] Klaven commented on #1718
@jfbai Sure! Have fun! and feel free to reach out if you need any help!

[2019-08-14 13:27] neolit123 commented on #1718
kube-proxy and addon management might be moving outside of the responsibility of kubeadm into a "addon manager" of sorts, so we rather not add this command until the picture related to addons is more clear.

[2019-08-14 13:30] neolit123 commented on #1718
i'm going to close the ticket as your can easily achieve ConfigMap update today with kubectl commands too. :)

thanks.
/close

[2019-08-14 13:30] #1718 closed

[2019-08-14 13:31] jfbai commented on #1718
@Klaven and @neolit123 thanks a lot. Then this issue can be closed.

[2019-08-14 13:42] Klaven commented on #1694
I will document this and start working on the test coverage.

[2019-08-14 16:25] neolit123 commented on #1715
document in both the CLI of reset and the k8s.io docs that reset is best effort:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-reset/

[2019-08-14 16:43] stealthybox commented on #1715
+1
It's possible to write a more secure shell command using a for-loop instead of xargs.
The go solution is much better.

[2019-08-14 16:55] boluisa opened #1723 "External CA: support for CA bundles"
EDIT [lubomir]

original ticket involved a CA bundle where one of the certs is not a CA, this causes kubeadm to use it if it's the first in the bundle:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L246

and fail as it's not a CA.

later we discovered that the controller-manager does not support bundles at all, see:
https://github.com/kubernetes/k

[2019-08-14 17:31] neolit123 commented on #1723
thanks for logging the ticket @boluisa

from the source code:

we have a lot of users that are doing the custom ca.crt and ca.key files already, but i don't believe they use bundles.

the problem with bundles is that the primary certificate in the bundle might not be the root CA for singing the admin.conf.

next, run kubeadm init

i'm assuming this validation passes if you use non-bundled CA?
why

[2019-08-14 17:38] boluisa commented on #1723
@neolit123 yet, it works fine with non-bundle CA's. I think with documentation we can ensure that users arrange the certificates correctly in the ca.crt file. it was a company security procedure to use bundle certs.

[2019-08-14 17:46] neolit123 commented on #1723
i guess we can document this. @fabriziopandini WDYT?

but if the root CA is the first in the bundle does the validation pass?
assuming that the admin.conf gets signed with the root CA?

[2019-08-14 17:58] neolit123 commented on #1723
ok, so i just confirmed that we should be always treating the root CA as the last in the chain.
https://cleantalk.org/help/ssl-ca-bundle
https://knowledge.digicert.com/solution/SO19523.html

@boluisa i'm assuming that the root CA was not the first in your case too?

[2019-08-14 18:02] boluisa commented on #1723
@neolit123 that's right

[2019-08-14 18:06] neolit123 commented on #1723
thanks for confirming, my only worry at this point is breaking existing users if we change the order, so we have to be careful.

[2019-08-14 18:18] boluisa commented on #1723
@neolit123 what do you think about introduction of a new flag for bundle certs so it treats it differently.

[code]

[2019-08-14 18:20] neolit123 commented on #1723
ideally we should not be introducing more flags, but we might have to consider this because hardcoding a new order might break users as mentioned already.

[2019-08-15 01:56] neolit123 commented on #1723
above is the result after running ```kubeadm init``` with bundled ca.crt

@boluisa
i did some tests yesterday and i couldn't reproduce any problems with ca.crt file that is a bundle of CA certificates.

[code]

my ca.crt file looks like this:
[code]

could you please provide more details and also outline the **exact** contents of the external ca.crt and ca.key.

if you are only placing the ca.* fi

[2019-08-15 19:52] fabriziopandini commented on #1723
might be a silly question, but what is the expected behavior here?
kubeadm should validate the cert in admin.conf against all the ca in the bundle?

[2019-08-15 20:14] neolit123 commented on #1723
@fabriziopandini

i spoke with @boluisa and it seems that the use case was that a ca.crt bundle contained:
[code]

then kubeadm tries to use the server certificate as a CA and it fails.

right now what we can do is apply the following patch:
[code]
what this does is it tries to find a CA in the bundle and not use a regular cert.
but even if we apply it, k8s as a whole is still not CA bundle ready.

[2019-08-15 20:40] fabriziopandini commented on #1723
server certificate
 CA certificate

🤔 I was assuming that in a ca-bundle you should have the chain containing all the intermediate CA up to to the RootCA, but not a client/server certificates...

I'm not sure, because the patch picks up the first CA in the chain; instead, AFAIK, we should try to validate against all the CA in the chain (no matter if intermediate or root).

[2019-08-15 20:57] neolit123 commented on #1723
i guess this is a question for @boluisa as this is the case he was facing for users/customers.
agreed that a CA bundle should contain only CA certs!

actually, i think that we should take no action until the controller-manager supports bundles.
until then such a cluster will not work regardless.

i will mark this ticket as backlog and rename it.

[2019-08-15 22:00] anfernee commented on #1236
what is the current solution for the case where apiserver wants to resolve hostname using kube-dns?

[2019-08-15 22:26] neolit123 opened #1726 "update etcd to 3.3.15 in 1.16"
etcd is seeing a critical backport due to this issue:
https://github.com/kubernetes/kubernetes/issues/72102#issuecomment-521387400

update etcd in kubeadm to 3.3.14 before the 1.16 release!

preliminary PR for adoption:
https://github.com/kubernetes/kubeadm/issues/1726

etcd image / version bump:
https://github.com/kubernetes/kubernetes/pull/82199
https://github.com/kubernetes/kubernetes/pull/8234

[2019-08-15 23:51] neolit123 opened #1727 "v1beta3: make kubeadm types better support CRDs"
EDIT: neolit123

issue repurposed to track the addition of +optional tags.
ObjectMeta is now out of scope for the time being.

PR:
https://github.com/kubernetes/kubernetes/pull/101925

---

users such as `kind` or those that apply kustomize patches over the kubeadm config types need to manually add:
[code]
to your types in serialized form as kustomize requires them.

however this later results in

[2019-08-16 09:47] SataQiu commented on #1714
Just have a try  kubernetes/kubernetes#81506

[2019-08-16 15:10] rosti commented on #1727
The only field we can make use of is the `name` field. Everything else is targeted into, either supporting the object type by the API server, or supporting multiple instances of that object.
In particular, the `name` field is meant to distinguish multiple instances of the object type (described in `TypeMeta`).
For some of the types (notably, `InitConfiguration` and `JoinConfiguration`) it may be a

[2019-08-16 15:15] neolit123 commented on #1727
CAPI did something similar because of bugs in unmarshaling related to kubebuilder.
they created a custom ObjectMeta with only the fields they need.

no strong opinions on my side, so i think a custom ObjectMeta is fine.

unless someone creates multi-cluster topologies using kubeadm?

[2019-08-16 15:22] rosti commented on #1727
Yep, I forgot about that. In that case `clusterName` is the field to be used in place of `metadata.name`.

[2019-08-16 15:29] neolit123 commented on #1727
it really seems that metada.name for our types is to only satisfy kustomize.

[2019-08-16 21:06] #1708 closed

[2019-08-16 23:41] gyuho commented on #1726
https://github.com/etcd-io/etcd/releases/tag/v3.3.14 has been released.

[2019-08-18 14:11] brightzheng100 opened #1731 "CoreDNS couldn't behave as expected until a restart of the pods"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:

- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:

GCP

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Others**:

I spun up my env by following my self-compiled doc [Kubernetes the Kubeadm Way](https

[2019-08-18 19:01] neolit123 commented on #1731
hello,

https://github.com/kubernetes/kubeadm/issues/1657 is not really a kubeadm bug.
the issue that the ticket talks about is that the coredns pods may schedule on the same node and if that node is gone the pods need to wait for the full eviction period, which is by design in k8s.

a solution is posted here, but we cannot add this to kubeadm:
https://github.com/kubernetes/kubeadm/issues/1657#iss

[2019-08-18 19:59] neolit123 commented on #1731
seems coredns/cni related.

i was able to reproduce your steps under (What happened?) with calico, but not using weavenet as the CNI plugin! i.e. `nc -vz 10.96.0.10 53` works fine from all nodes using weavenet!

given canal is using calico for routing i'd say this is probably a calico problem, yet the current version of coredns in kubeadm is a bit old (soon to be updated to 1.5.x, in 1.16 hopefull

[2019-08-18 19:59] #1731 closed

[2019-08-19 04:07] brightzheng100 commented on #1731
Thanks @neolit123 for such a prompt investigation!
I really appreciate that you have also pointed out that it was reproducible in `Canal`/`Calico`, which is super helpful for me!

Let me follow up accordingly with `Calico` team to see whether there is any defect that we can further fix.

But you gave an interesting hint here, which I also like, that `weavenet`'s solution might be more mature/stabl

[2019-08-19 04:33] rvadim commented on #1170
Why?
`kubeadm init` supports `--node-name` and `kubeadm join` too. Why `kubeadm upgrade` not support it?

[2019-08-19 08:27] brb opened #1733 "kubeadm join fails when control node skipped addon/kube-proxy phase"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.0
- **Cloud provider or hardware configuration**: BM
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.2 LTS
- **Kernel** (e.g. `uname -a`):  5.2.0-rc5+

## What happened?

I've provisioned the control n

[2019-08-19 08:29] brb commented on #1733
/lifecycle active

[2019-08-19 09:53] KevinTHU commented on #1718
@neolit123 Although ConfigMap could be updated by kubectl, but the consistency between ConfigMap and kubeadm.yaml is maintained by human, and this is not reliable. If we want to create a new cluster, the kubeadm.yaml maybe outdated, some additional manual work need to be done.

[2019-08-19 10:32] neolit123 commented on #1731
all CNI plugins tend to have strengths and weaknesses.

[2019-08-19 10:49] neolit123 commented on #1727
it seems patches can use a few more fields like `namespace` and `annotations`:
https://github.com/kubernetes/kubeadm/pull/1724/files#diff-d937f45ffd1a04bea321ca4d15977b0cR65

[2019-08-19 11:00] neolit123 commented on #1718
the future of kubeadm managing component config for kube-proxy is unclear. kube-proxy might be becoming the responsibility of an addon manager, while `kubeadm init phase upload-config kubelet` is an already existing solution for the kubelet.

[2019-08-19 11:18] neolit123 commented on #1733
hi, thanks for logging the ticket.

ClusterConfiguration changes are not allowed at this point as v1beta2 is locked.

also, technically speaking skipping the kube-proxy phase results in an unsupported cluster and requires manual interaction by the user, for example - adding missing RBAC, or a dummy kube-proxy configuration.

we didn't end up with a good solution for this problem, but the solution

[2019-08-19 11:26] KevinTHU commented on #1718
@neolit123 thanks, I see. but if kube-proxy is installed by kubeadm,  I think it should be updated by kubeadm also, after all kube-proxy is not like a pure add-ons, the initialization of cluster need it. But anyway, just an advise, hope for the final decision.

[2019-08-19 12:07] brb commented on #1733
Not really - the upcoming Cilium v1.6 allows one to run a fully functioning Kubernetes cluster w/o kube-proxy. I've validated this by running my own compiled version of kubeadm without the kube-proxy config fetch.

Can we just add the RBAC for kube-proxy regardless whether its phase has been skipped? In this case, a worker node would get not found instead of access denied which could indicate that

[2019-08-19 12:14] neolit123 commented on #1349
looks like we closed this with the idea that upgrade phases will solve it but this is also a problem in join as the title indicated:

see this new similar ticket:
https://github.com/kubernetes/kubeadm/issues/1733

[2019-08-19 12:14] neolit123 commented on #1733
but the fact that Cilium or other alternatives can be used instead of kube-proxy does not mean that kubeadm supports these cluster variants.

i had a PR for that at some point, but we decided to not apply it.
so i'm deferring to @fabriziopandini and @rosti on comments here.

see here:
https://github.com/kubernetes/kubernetes/pull/77744/files#diff-60f768874354bccc5862ca90ec601fc6R83

this was a dup

[2019-08-19 12:38] brb commented on #1733
I think kubeadm doesn't have to do anything special to support those variants. It just needs to allow a user to decide whether they want or not kubeadm to provision kube-proxy. The rest is up to a kube-proxy alternative which in most cases is a network plugin installed manually by a user.

Also, I am curious - what was a motivation for introducing the kube-proxy phase which can be skipped?

Oops,

[2019-08-19 18:43] neolit123 commented on #1170
i tried reproducing the original problem with a 1.12->1.13 upgrade and i couldn't:

- created a cluster with `kubadm init ... --node-name=myhost --kubernetes-version=v1.12.0`
where `myhost` is a custom hostname that does not match the local node hostname.
- verified that the kubelet receives `--hostname-override=myhost`
- checked pod names:
[code]
- upgraded the cluster using `kubeadm upgrade appl

[2019-08-19 18:49] neolit123 commented on #1733
kube-proxy was introduced as a addon phase and all phases are skipable without exceptions.
there was also possible to hide the phase but we tough that the users might want to execute it on demand.

but not executing it at all from init breaks joining nodes.

similar will happen if you skip the bootstrap-token phase - joining nodes will not have the RBAC rules to fetch the kubeadm-config ConfigMap.

[2019-08-19 19:27] SeryioGonzalez commented on #659
on Azure, using tags for worker and master resources:
rg is a variable with the RG name

masterPrivateIp=$(az network nic list -g $rg --query "[?tags.module == 'k8smasters'].ipConfigurations[0].privateIpAddress" -o tsv)
tokenId=$(ssh $masterIp "kubeadm token list | grep -v TOKEN | cut -d' ' -f1")
tokenSHA=$(ssh $masterIp "openssl x509 -in /etc/kubernetes/pki/ca.crt -noout -pubkey | openssl rsa -pu

[2019-08-19 20:43] neolit123 commented on #1713
related PR merged.

[2019-08-19 20:43] #1713 closed

[2019-08-20 02:09] RA489 commented on #1726
@neolit123 can i work on this?

[2019-08-20 02:12] dims commented on #1726
@RA489 it's being worked on in https://github.com/kubernetes/kubernetes/pull/81434

[2019-08-20 02:13] RA489 commented on #1726
@dims Thanks for the information.

[2019-08-20 05:44] karamsahu commented on #1477
In my case, I was able to successfully join the node by stopping the firewall on the Master node.

`systemctl stop firewall`

[2019-08-20 06:19] rvadim commented on #1170
We have next case:
`kubeadm init --node-name=$(hostname -f) --config=...`
then
[code]
With `-v=9`:
[code]
But:
[code]

**Workaround**: Just set hostname == hostname -f(FQDN) for control plane nodes during upgrade.
[code]

[2019-08-20 11:01] neolit123 commented on #1719
@SataQiu
the linked PR merged.

[2019-08-20 11:12] neolit123 commented on #1170
nope, i could not reproduce this problem. the node name was != hostname in my tests.

[2019-08-20 11:26] SataQiu commented on #1719
OK ! thanks @neolit123 I will do this.

[2019-08-20 12:45] rosti commented on #1276
Since there is a merge fixed, I close this one.
@seh feel free to reopen the issue if the problem persists despite the fix.

/close

[2019-08-20 12:45] #1276 closed

[2019-08-20 13:05] neolit123 commented on #1726
it would be matter of bumping the etcd version in our constants and making sure that e2e and unit tests pass.

[2019-08-20 14:56] brb commented on #1733
OK, thanks for the explanation.

So what do you think in terms of the following? Would you accept such patch? /cc @fabriziopandini @rosti

[2019-08-20 15:04] neolit123 commented on #1733
i personally think that we should not move the RBAC for kube-proxy outside of the kube-proxy phase. probably it's better to simply not fail during join if/when the CM is not found or forbidden.

given kube-proxy is a DS we are only using its CM on joining nodes for preflight checks.

[2019-08-20 20:33] neolit123 commented on #1712
@chrischdi @sunvk are you reproducing this consistently.
i tried today running inside VMs and i couldn't.

also our CI is consistently green and we are not seeing timeouts.

40 seconds should be more than enough for the etcd cluster to report healthy endpoints.
what are you seeing with `kubeadm ... --v=2`?

[2019-08-20 20:37] neolit123 commented on #1712
in terms of making this user controllable we have a field in v1beta2 and v1beat1
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

called `timeoutForControlPlane`, but it's under the apiServer config.
it feels to me that etcd timeouts needs a new field, except that we cannot add this field or backport it to v1beta1 and v1beta2, so it has to wait for v1beta3.

the alternativ

[2019-08-20 22:20] neolit123 commented on #1638
@yastij now that the repo is up i guess we can:
- wait for https://github.com/kubernetes/kubernetes/pull/81623 to merge
- copy the validators to the new repo (PR for the new repo -> master branch)
- create a new branch `release-1.15` and a new tag `v1.15.3` (semver!).
- have a new PR for k/k that:
  - removes them from kubeadm and uses the new repo
  - uses the new repo in node-e2e

want me to tak

[2019-08-20 22:26] yastij commented on #1638
@neolit123 - sgtm, we'd need to hold any other PRs while migrating the code to avoid to diverge. branching and tagging sgtm

[2019-08-20 22:30] neolit123 commented on #1638
kk, i will take action once https://github.com/kubernetes/kubernetes/pull/81623 merges and report back.
also, updated the OP here.

[2019-08-20 23:11] neolit123 commented on #1638
looks like we need to wait for https://github.com/kubernetes/kubernetes/pull/81656 too.

[2019-08-21 03:41] rvadim commented on #1170
Also I'm using `--hostname-override=$(hostname -f)` in kubelet additional args. Maybe problem is here?

[2019-08-21 07:51] fabriziopandini commented on #1727
I'm +1 making our config API objects more similar to other K8s objects, with this regard, I expect support at least for name, labels, and annotations

[2019-08-21 08:04] fabriziopandini commented on #1733
In the long run, when kubeadm will be integrated with the addon project, all the addon will be optional/replaceable.

In the short term, I would like to support this because there is user demand, but we should figure out all the possible implications for init, join and update.

My preferred approach is to support this via a configuration option because it gives you a clear signal that can be check

[2019-08-21 11:36] neolit123 commented on #1170
using the hostname as FQDN is not a problem.

[2019-08-21 12:06] brb commented on #1733
@fabriziopandini

Totally agreed. Just the question where that configuration option should be stored? Probably not in the ConfigMap, as _ClusterConfiguration changes are not allowed at this point as v1beta2 is locked_. So, this leaves us with a cli param for `kubeadm join`?

[2019-08-21 17:00] ereslibre commented on #1723
/cc

[2019-08-21 17:01] neolit123 commented on #1723
moving this for 1.17 but there will not be a resolution for this anytime soon.

[2019-08-21 17:04] neolit123 commented on #494
moving to 1.17

[2019-08-21 18:39] sbueringer commented on #1712
@chrischdi Is currently on leave but he can provide some more details of our problems next Tuesday. Afaik we ended up with patching the hard-coded timeout because we couldn't get our nightly installs consistently green without patching it.

[2019-08-21 19:06] neolit123 commented on #1712
please do.
my only explanation here would be slow hardware or networking and i would like to get the exact causes.

[2019-08-21 19:21] neolit123 commented on #1638
ok, looks like we need to do something else here too:
https://kubernetes.slack.com/archives/C2C40FMNF/p1566414724378100?thread_ts=1566411984.368700&cid=C2C40FMNF

as discussed on slack the validators should drop certain dependencies:

adding as item in the OP.

[2019-08-21 19:23] neolit123 commented on #1638
@Random-Liu looks in a sig-release discussion it was recommended to use a custom version, because external consumers will have a problem with go modules, given the version of k/k is not really semver.

cc @fabriziopandini

[2019-08-21 19:34] neolit123 opened #1738 "remove klog and util/errors dependencies from the kubeadm system-validators"
/kind cleanup
/priority important-longterm

as discussed on slack the validators under k/k/cmd/kubeadm/app/utils/system should drop certain dependencies:

mini-guide:
- clone kubernetes/kubernetes
- modify the package here:
https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm/app/util/system
- to not use klog and the errors package as described by these messages:

[code]

[code]

see t

[2019-08-21 21:21] neolit123 opened #1739 "update kubeadm documentation for 1.16"
deadline for placeholders is Friday 23rd of August.
final PRs should be up by 3rd of September

https://github.com/kubernetes/sig-release/tree/master/releases/release-1.16

STATUS: docs PRS are waiting on sig-docs approval.

PRs:
- upgrade docs
  - [x] https://github.com/kubernetes/website/pull/16015
- reference docs:
  - [x] https://github.com/kubernetes/website/pull/16014
- setup docs:
  - [x] h

[2019-08-22 01:07] sfxworks commented on #203
This worked perfectly. Thank you.

[2019-08-22 09:14] sambit15k commented on #1477
This one worked like charm .
[root@localhost ~]# kubeadm join 192.168.8.128:6443 --token 38lhr8.kxi5uy8aoy71dj17     --discovery-token-ca-cert-hash sha256:a12c805b8d98f42a256486d27e87463e22aaba190ab8f5bdce89bbb843fca983
[preflight] Running pre-flight checks
        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow th

[2019-08-22 11:27] neolit123 commented on #1477
looking at the log in the OP again, this is not a "hang" in the preflight, but rather the cluster-info config map cannot be accessed, the only way this could happen if the "boostrap-token" phase of "init" is skipped.

looking at later reports, i see networking and expired token problems which fall under "support" items and not bugs.

/triage support
for questions, try stackoverflow, reddit or #kub

[2019-08-22 11:27] #1477 closed

[2019-08-22 12:08] faizurrahmann commented on #733
Hi friends,
I am getting below mentioned kubeadm init error due to the number of available CPUs 1 is less than the required 2. Anybody know how to ignore this error y using "--ignore-preflight-errors=" ?

**Error:**
Use "kubeadm init [command] --help" for more information about a command.
root@ip-172-31-15-167:~# kubeadm init --ignore-preflight-errors=cpu --apiserver-advertise-address 172.31.15.16

[2019-08-22 12:21] neolit123 commented on #733
@faizurrahmann

^ it tells you here.

try `kubeadm init ... --ignore-preflight-errors=NumCPU`

[2019-08-22 13:44] Klaven commented on #1738
I can do this.
/assign

[2019-08-22 14:34] faizurrahmann commented on #733
Yes --ignore-preflight-errors=**NumCPU** worked for me.
I got it. The possible string value is what associated with error
Note below:
[ERROR _**NumCPU**_]: the number of available CPUs 1 is less than the required 2

[2019-08-22 17:49] neolit123 opened #1742 "refactor all calls to os.Exit() / CheckErr()"
in a number of places kubeadm calls:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/error.go#L54

if `err` is non-nil the function causes an abrupt `os.Exit(..)`.

we need to refactor all calls to this function and any stray calls to os.Exit().

mini-guide:
- clone kubernetes/kubernetes
- replace all Cobra `Run:` calls in kubeadm with `RunE` - e.g.:
https://github.com/ku

[2019-08-22 18:17] fabriziopandini commented on #1733
IMO there are is still some preparation work to be done before choosing how to proceed.

[2019-08-22 20:06] neolit123 opened #1743 "update kubeadm/kinder tests for 1.16"
needs PRs for adding 1.16 jobs:
- [x] k/kubeadm/kinder https://github.com/kubernetes/kubeadm/pull/1744
- [x] test-infra https://github.com/kubernetes/test-infra/pull/14037

and PRs for removing 1.13 jobs once 1.16 is out:
- [x] k/kubeadm/kinder https://github.com/kubernetes/kubeadm/pull/1804
- [x] test-infra https://github.com/kubernetes/test-infra/pull/14483

/assign
/area testing
/kind cleanup
/

[2019-08-22 21:28] michaelclopez commented on #1742
/assign

[2019-08-22 22:09] #1266 closed

[2019-08-22 22:17] rosti commented on #1742
Thanks for taking on this @michaelclopez ! Ping me for a review when ready.

In addition to `CheckErr` calls, we need to make sure, that we don't have any `os.Exit()` and `klog.Fatal*` calls.
- `os.Exit` calls should return an appropriate error.
- `klog.Fatal*` is basically `klog.Error*` and `os.Exit(1)`. Any such calls should be replaced by `klog.Error*` and error return and propagation.

[2019-08-22 22:23] aojea opened #1745 "[update coredns to 1.6.2] 1.5.0 doesn't restart after configuration reload"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.17.0-alpha.0.422+41a4d87fb8a048-dirty
- **Cloud provider or hardware configuration**: kind
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**: CoreDNS-1.5.0

## What happened?

After

[2019-08-22 22:25] aojea commented on #1745
/cc @neolit123

[2019-08-22 22:28] neolit123 commented on #1745
@aojea

please share your `custome-corends.yaml`.

if i delete my coredns 1.5.0 the are recreated correctly, so it feels like this is a problem with the custom config or just a coredns problem and not a kubeadm one. :)

[2019-08-22 22:49] neolit123 commented on #1745
@aojea

i was able to reproduce the problem.
what fix are you proposing in the Corefile of kubeadm?

if this cannot be fixed in kubeadm it should be reported to the coredns maintainers.

[2019-08-22 22:54] neolit123 commented on #1745
@chrisohaver @rajansandeep

hi, @aojea discovered a problem with coredns reload ^
should we be using 1.5.2 in kubeadm instead of 1.5.0 for 1.16?

[2019-08-22 23:01] rajansandeep commented on #1745
@neolit123 yes, we intend to include CoreDNS v1.6.2 for k8s 1.16.
I’ve opened https://github.com/kubernetes/kubernetes/issues/81810 for the gcr.io image.

[2019-08-22 23:05] neolit123 commented on #1745
thanks for the confirmation @rajansandeep !

[2019-08-23 01:54] kris-nova commented on #1153
For version `1.15.3` I was able to fix this on Ubuntu 18.04 by adding

[code]

to my kubeadm config and then running `kubeadm init`

[2019-08-23 06:27] #1719 closed

[2019-08-23 08:35] brb opened #1747 "kube-proxy-free: connect to multiple kube-apiservers"
Currently, for Kubernetes deployments w/o kube-proxy, we ask users to specify only one kube-apiserver non-virtual IP addr + port. This overrides the `KUBE_SERVICE_{HOST,PORT}` env vars of the cilium-agent pod, which makes cilium-agent's k8s client to connect to that particular kube-apiserver (see #8995 for this hack reasoning).

In the case of multi-master setup, cilium-agent won't be able to conn

[2019-08-23 08:36] brb commented on #1747
Oops, wrong project.

[2019-08-23 08:36] #1747 closed

[2019-08-23 13:09] fabriziopandini opened #1749 "Make upgrade checks pass when using buildmetadata"
kubeadm upgrade executes a set of checks before doing upgrades, including also a check for ensuring the target version is >= than the minimum supported version.

However, this check currently fails when we are upgrading to the minimum supported version+buildmetadata, which instead should be acceptable.

[2019-08-23 13:09] fabriziopandini commented on #1749
/lifecycle active

[2019-08-23 13:24] michaelclopez commented on #1742
No problem @rosti. Should I ping you with questions in case I need clarification on something?

[2019-08-24 13:13] rosti commented on #1742
@michaelclopez , feel free to ping me for any kind of questions, that you might have.

[2019-08-25 12:45] jfbai opened #1751 "Kubelet configuration should not be set defaults on kubeadm side."
## What keywords did you search in kubeadm issues before filing this one?

kubelet, configuration, default

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.14

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.14
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel*

[2019-08-25 13:35] neolit123 commented on #1751
closing in favor of: https://github.com/kubernetes/kubeadm/issues/1378
which already tracks this problem.

[2019-08-25 13:35] #1751 closed

[2019-08-25 13:53] jfbai commented on #1378
/assign

@neolit123  I will work on this issue, thanks a lot.

[2019-08-25 21:29] kargakis commented on #1715
At least make sure these errors are logged?

[2019-08-25 22:09] neolit123 commented on #1715
a quick check does not reveal any errors that are not reported as warnings.

[2019-08-26 05:08] madhukar32 commented on #1621
@neolit123 : Can I take a crack at this?

[2019-08-26 12:25] neolit123 commented on #1621
@madhukar32
hi, this needs discussion before sending the PR.
if we remove the taint from markcontrolplane phase it will break existing users.

[2019-08-26 16:17] lnovara opened #1753 "kubeadm should leverage kubelet automatic client cert rotation on nodes created with `kubeadm init`"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** `kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-26T15:59:52Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"darwin/amd64"}`

## What happened?
On master nodes, `/etc/kubernetes/ku

[2019-08-26 16:18] lnovara commented on #1753
/assign fabriziopandini

[2019-08-26 17:31] neolit123 commented on #1753
@lnovara i think the request is a reasonable one.
@fabriziopandini want me to take this?

[2019-08-26 20:25] neolit123 commented on #664
if your problem from #598 is still viable, please reopen the issue but please mind that it has to be reproducible with 1.13+, because older versions are outside of the support skew and are not supported by the kubeadm team.

[2019-08-26 21:10] rosti commented on #1582
/assign

[2019-08-26 21:19] neolit123 commented on #1621
we might have to keep it in both places with a deprecation notice.

[2019-08-26 23:14] neolit123 commented on #1753
so i did some investigation here and there are couple of options.

**let the kubelet manage `kubelet.conf`**

this means that:
- we need to write the client certificates in `boostrap-kubelet.conf`
- let the kubelet write `kubelet.conf` post-CSR, which may or may not point to rotatable files, depending on `--rotate-certificates`
- wait for the control-plane to boot up.
- manually create a Node obje

[2019-08-27 06:50] fabriziopandini commented on #1753
@neolit123 feel free to work on this issue
Some initial thought:
1. AFAIK the problem exists only on the first bootstrap node because of both join and join --control plane should layout things as expected
2. On the first bootstrap node, we can't leverage on CSR (or am I wrong?)
3. I think that the easiest approach is to Pivot the first node to use the /var/lib/kubelet/pki/ immediately after kubele

[2019-08-27 08:27] lnovara commented on #1753
@fabriziopandini if we pivot no matter if certificate rotation is enabled or not, we need to dig into the kubelet configuration to understand if client cert rotation is enabled or not when a cert rotation is needed.

What's kubelet behaviour when TLS bootstrap is enabled but client cert rotation is not? Is it even possibile to do TLS bootstrap without enabling client cert rotation?

I think we sho

[2019-08-27 11:50] neolit123 commented on #1753
@fabriziopandini

true.

we can - i've tried it, but it will result in delay of the automatic creation of the Node object for this node. can be mitigated if the object is created by kubeadm.

from my experiments yesterday this is not possible. the kubelet needs valid client certs to authenticate with the api-server first, and only then we can use `/var/lib/kubelet/pki/kubelet-client-current.pem`
o

[2019-08-27 11:50] neolit123 commented on #1753
@lnovara

if the kubelet client cert rotation is disabled TLS boostrap still works.

[2019-08-27 13:12] neolit123 commented on #1749
the related PR merged.

[2019-08-27 13:12] #1749 closed

[2019-08-27 18:43] neolit123 commented on #1753
if we look at the approach `let the kubeadm manage kubelet.conf` the biggest blocker here is external `kubelet.conf` vs cert rotation.

if the user feeds their external `kubelet.conf` before `kubeadm init`, kubeadm does not touch the file during the kubeconfig phase.

and given we can only update this `kubelet.conf` file after the rotation PEM files are on disk, we don't have a way to know at that

[2019-08-27 22:03] neolit123 commented on #1412
/remove-lifecycle stale
/lifecycle frozen

[2019-08-28 06:17] Thinkwp commented on #1478
You also can pass the following via `kubeadm join --config`:
[code]

[2019-08-28 10:04] chrischdi commented on #1712
I've got some more data :-)

Maybe the timeout does not need to get increased in our case. We had problems with our loadbalancers in getting active and routing traffic to the offline APIServer which caused the timeouts here.

I will need to retest using our improved loadbalancer setup (activating backends after the kubeadm init went through) if we are still hitting this issue.

[2019-08-28 10:16] ereslibre commented on #1712
Thank you for the feedback.

+1

[2019-08-28 12:32] neolit123 commented on #1715
this is fixed.

[2019-08-28 12:32] #1715 closed

[2019-08-28 16:50] neolit123 commented on #1733
will try to send a POC PR for this later today.

[2019-08-28 20:09] neolit123 commented on #1743
@Verolop hi, this PR is waiting on test-infra approvers: https://github.com/kubernetes/test-infra/pull/14037 once it's approved we can merge https://github.com/kubernetes/kubeadm/pull/1744 in sync.

the "and PRs for removing 1.13 jobs once 1.16 is out:" items will happen post release.

[2019-08-28 22:33] neolit123 commented on #1378
fixed by: https://github.com/kubernetes/kubernetes/pull/81903
thanks

[2019-08-28 22:33] #1378 closed

[2019-08-29 02:17] zerkms commented on #1170
I can confirm: trying `kubeadm upgrade apply --dry-run` and seeing

[code]

The cluster nodes were created with `kubeadm init --node-name=`  so a kubelet is running with `kubeadm init --node-name=`

[2019-08-29 04:26] zerkms opened #1756 "Make kube-proxy optional during `kubeadm upgrade apply`"
## What keywords did you search in kubeadm issues before filing this one?
kube-proxy upgade

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:11:18Z",

[2019-08-29 09:05] kioyong commented on #1390
thanks for your solution, i solved this issue~

[2019-08-29 10:15] zerkms opened #1757 "kubeadm upgrade fails when hostname != node name"
This is a deliberately created duplicate to draw attention to https://github.com/kubernetes/kubeadm/issues/1170 which was closed by mistake

## What keywords did you search in kubeadm issues before filing this one?
upgrade hostname

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## I

[2019-08-29 11:42] furkanmustafa commented on #380
I don't think #416 is related. But now the following command works;

[code]

And then you need to arrange [cluster]rolebindings, otherwise that user mostly cannot do anything.

[2019-08-29 13:39] neolit123 commented on #1757
please note, that i wasn't able to reproduce the problems in #1170 for a 1.15 -> latest upgrade.

is this only a dry run problem?

kubeadm allows specifying a node name explicitly and upgrades work transparently without knowing the node name.

wasn't able to reproduce the problem.
what is your exact node name that you are using?

[2019-08-29 13:41] neolit123 commented on #1756
this was reported and discussed multiple times already.

the last good proposal was to check if the kube-proxy config map exists before calling proxy.EnsureProxyAddon on upgrade and possibly skip it.

[2019-08-29 14:18] neolit123 commented on #1757
@zerkms
is the hostname your are trying to use for kubeadm --node-name=foo resolvable?
can you ping it from your terminal?

[2019-08-29 14:32] fabriziopandini opened #1759 "Define how to handle kinder base image"
For kinder e2e test we want to use base images with docker because docker is still the most used CRI runtime.

With kinder rebase to kind 0.5.0 landing (https://github.com/kubernetes/kubeadm/pull/1750) old kind image with docker will not work anymore so
- it should be implemented in kinder support for build state of the art docker images
- it should be defined where those images should be stored

[2019-08-29 15:54] FrankYang0529 commented on #1756
/assign

[2019-08-29 18:15] neolit123 commented on #1756
given we are entering code freeze for 1.16, not sure we should send a PR for this.
it falls under feature changes and possibly we need to vote for it during kubeadm office hours.

[2019-08-29 18:19] neolit123 commented on #1712
adding back "awaiting more evidence"

[2019-08-29 21:06] zerkms commented on #1757
I don't know - I trust `dry-run` to do exactly the same as real run, I did not even try real run until I found a way to work it around. If dry-run and real run behaviours deviate - I believe it's a serious bug.

I'm not sure I see how: `kubeadm upgrade apply --help|grep name` is empty.

at least not in `dry-run` - it enters the infinite loop and never ends.

the kubernetes `node` name is `hq-srv11

[2019-08-29 21:07] zerkms commented on #1756
It breaks working clusters. It's a severe bug.

[2019-08-29 21:09] neolit123 commented on #1756
kubeadm 1.16 and older version still consider kube-proxy as critical component.
without kube-proxy your cluster is currently unsupported.

[2019-08-29 21:17] neolit123 commented on #1757
i will try reproducing the problem again.

there is no node name flag for kubeadm upgrade, because it should not be needed.

[2019-08-29 21:31] neolit123 commented on #1757
@zerkms please find bellow details on upgrading from v1.15.2 to v1.15.3 using a custom FQDN and also dry running the upgrade.

[code]

[code]

[code]

[code]

[code]

[code]

[2019-08-29 21:49] zerkms commented on #1757
You did not dry-run it, I never run it with non-matching name in real run.

[2019-08-29 21:51] zerkms commented on #1757
Could you please show the output of `hostname`?

It should not matter, in my case it was `1.15.1 -> 1.15.3`.

[2019-08-29 21:52] zerkms commented on #1757
That's unfortunate - I did have it on 2 consecutive dry-run's :-(

[2019-08-29 21:53] neolit123 commented on #1757
it's on top of the post above.

[2019-08-29 21:59] zerkms commented on #1757
Yep, thanks for the effort. As of current moment I have no more details that could have shed light on it, sorry.

[2019-08-30 00:55] FrankYang0529 commented on #1756
Hi @neolit123 , I will work on this issue after kubeadm team have conclusion.

[2019-08-30 12:41] duncangrist commented on #1101
For me this was being caused by "SELinux".

Running
[code]
fixed it.

Be sure to set its startup mode to "permissive" in `/etc/selinux/config` if you don't want this issue to reoccur every time the node is restarted.

[2019-08-30 16:17] kapilyp opened #1763 "images"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-08-30 16:40] #1745 closed

[2019-08-30 16:51] j-beaver commented on #1642
get same problem in 1.15.3

[2019-08-30 19:56] neolit123 commented on #1642
could you please share you logs and `kubeadm version` output?

[2019-09-01 13:15] #1695 closed

[2019-09-01 23:06] neolit123 commented on #952
/lifecycle frozen

[2019-09-02 02:25] SataQiu commented on #1763
@kapilyp
I'm not sure what you mean?
I didn't see any useful information from this issue.
I will close it, feel free to reopen it if necessary.

[2019-09-02 02:26] SataQiu commented on #1763
/close

[2019-09-02 02:26] #1763 closed

[2019-09-02 06:45] hwdef opened #1764 "The same hostname failed to join the node"
## What keywords did you search in kubeadm issues before filing this one?

hostname

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## What happened?

If the hostname is same,master node can not distinguish them.
I know the document says ,I should use unique hostname,but it is not conspicuous enough, most people won't notice it.
And if I use the same hostname,I won't get a warning or a e

[2019-09-02 07:11] hwdef commented on #1764
/kind bug

[2019-09-02 08:51] chrischdi commented on #1378
@neolit123 one question: https://github.com/kubernetes/kubernetes/pull/81903 fixes this issue for `kubelet` and `kube-proxy` configurations.

There are still enforced values for example for the pod manifests:
See [kube-apiserver commands](https://github.com/kubernetes/kubernetes/blob/b327a729c520ec6a8ba1d21ac86aff092d4d031a/cmd/kubeadm/app/phases/controlplane/manifests.go#L58) and [especially here

[2019-09-02 11:19] neolit123 commented on #1378
@chrischdi kubeadm will still deploy using it's harcoded manifests for the static pods, but you can apply kustomizations to them (alpha in 1.16)
see:
https://github.com/kubernetes/kubeadm/issues/1379

[2019-09-02 11:33] neolit123 commented on #1764
hi, this is already tracked here:
https://github.com/kubernetes/kubeadm/issues/1711

thanks
/close

[2019-09-02 11:33] #1764 closed

[2019-09-02 12:31] neolit123 commented on #1757
hi, not sure what else to suggest.

you can try creating a test cluster on some VMs and try to come up with the exact steps to details on how to reproduce this. if you are able to find the cause, please re-open the ticket.

thanks

[2019-09-02 12:31] #1757 closed

[2019-09-02 12:42] neolit123 commented on #1638
we are in code freeze thus we should continue in the 1.17 cycle.

[2019-09-02 12:44] neolit123 commented on #1383
we need to punt this to 1.17 as we are in code freeze for 1.16

[2019-09-02 12:48] neolit123 commented on #1742
we are in code freeze. punting to 1.17.

[2019-09-02 12:54] neolit123 opened #1766 "update release-cycle.md"
https://github.com/kubernetes/kubeadm/blob/master/docs/release-cycle.md
is out of date and overlaps with the new https://github.com/kubernetes/kubeadm/blob/master/docs/managing-e2e-tests.md document.

we need to update the doc and make it cross link to managing-e2e-tests instead.

also, might be a good idea to create a github issue template for a type of issue where we want to track a checklist of

[2019-09-02 13:15] neolit123 commented on #1738
punting to 1.17 as we are in code freeze.

[2019-09-02 14:36] jfbai commented on #1742
@michaelclopez Hi, sorry for bugging you, I'm going to do this task if you have no enough time. :)

cc: @neolit123 @rosti

[2019-09-02 16:03] LSmyrnaios commented on #1153
I have the same issue here, with version 1.15.3, in Ubuntu 18.04
@kris-nova I would really appreciate if you could specify where this config file is located :-)

[2019-09-02 16:03] michaelclopez commented on #1742
Yes, sorry about the delay. Got pulled in a few directions here. Please take this if you can get it out sooner.

[2019-09-02 16:25] rosti commented on #1318
We need to reevaluate for 1.17 and get things going here. The proper fix of #1756 depends on this.
/assign

[2019-09-02 16:49] rosti commented on #1733
@neolit123 I'll take over this as I see, that no PR was received for this.
/assign

[2019-09-03 06:36] 100cm commented on #1463
@dolphyvn  how to route to that ip?

[2019-09-03 06:42] prafull02 commented on #1170
I am facing the same issue while upgrading from 1.11 to 1.12.3. My hostname and nodename are different.

`[root@ip-10-0-1-124 centos]# hostname
ip-10-0-1-124.ec2.internal
[root@ip-10-0-1-124 centos]# kubectl get nodes
NAME         STATUS    ROLES     AGE       VERSION
10.0.1.124   Ready     master    1d        v1.11.0
`
When I run kubeadm upgrade with dry-run, I see following issue:

`kubelet] Dow

[2019-09-03 06:43] jfbai commented on #1742
@michaelclopez Thanks a lot. :)

[2019-09-03 07:00] prafull02 commented on #1170
Okay I found out the workaround for this issue. You can follow the following steps:

`kubectl -n kube-system get cm kubeadm-config -o jsonpath={.data} > config.yaml`

In config.yaml, add nodeRegistration with your node name:

`kubernetesVersion: v1.11.0
networking:
  dnsDomain: cluster.local
  podSubnet: 192.168.12.0/24
  serviceSubnet: 10.96.0.0/12
nodeRegistration:
  name: 10.0.1.124
`
Now run k

[2019-09-03 07:36] fabriziopandini commented on #1756
As per comment on https://github.com/kubernetes/kubernetes/pull/82248

[2019-09-03 07:57] dolphyvn commented on #1463
@100cm just do a normal static route:
ip route add 10.96.0.1 via {gatewayip|device}

[2019-09-03 08:14] 100cm commented on #1463
[code]

ip route add 10.96.0.1 via 192.168.1.0
RTNETLINK answers: Network is unreachable

@dolphyvn  i'm so confused for this. how could i do next?

[2019-09-03 10:22] fabriziopandini commented on #1759
/lifecycle active

[2019-09-03 10:34] neolit123 commented on #1170
unfortunately 1.11 is no longer maintained by the kubeadm team.
if you see a bug with 1.13 - >1.14 upgrades please let us know.

[2019-09-03 11:01] ismacasti opened #1769 "IPv6 addresses are broken due to buggy HTTP proxy check"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-20T11:44:48Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versio

[2019-09-03 11:41] neolit123 commented on #1769
hi, as you pointed out this is something in golang and not kubeadm.
to distinguish ipv6 port from address please use `[ ... ]:..`
and let me know if it works.

example:
https://play.golang.org/p/PbPud__MTFU

/triage support

[2019-09-03 11:47] ismacasti commented on #1769
Hi, that's not possible. Setting the node IP addresses in kubeadm.conf with brackets does not work, kubeadm complaints that it expects an IPv4 or IPv6 address.

[2019-09-03 11:48] ismacasti commented on #1769
Workaround: add `--ignore-preflight-errors=HTTPProxy` to kubeadm

[2019-09-03 11:57] kad commented on #1769
I'll have a look at this. I think it is trivial to fix.
/assign

[2019-09-03 12:57] rosti commented on #1769
Everywhere else we seem to be using `net.JoinHostPort` which does the proper bracket wrapping for IPv6 addresses. However, in this check in particular, `net.JoinHostPort` is not used (because we don't take the port number into account, the check does not require that).
Hence, we need to check if the address is IPv6 and bracket wrap it if it is.

[2019-09-03 13:55] neolit123 opened #1770 "unclear usage of external CA"
in our docs we have a couple of sentences what "external CA" means, but no details and guide:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#external-ca-mode

this page does not have information on how to setup external CA:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

i had to look at the source code to determine what validation kubeadm perfor

[2019-09-03 14:56] #1769 closed

[2019-09-03 16:24] ismacasti commented on #1769
Thanks a lot!!

[2019-09-04 07:06] WeAreHadock commented on #1770
Hello,
thanks for your time trying to solve our problem.

We follow your instruction : kubeadm reset -> provide ca.crt, apiserver.crt/key and apiserver-kubelet-client.crt/key -> kubeadm init

We have now this error:
 I0904 08:51:11.338174   25452 initconfiguration.go:189] loading configuration from "kubeadm-config.yaml"
I0904 08:51:11.349082   25452 feature_gate.go:216] feature gates: &{map[]}
the

[2019-09-04 07:50] fabriziopandini commented on #1770
afaik this document is the reference for certificate management https://kubernetes.io/docs/setup/best-practices/certificates/

but I agree we can improve the external CA documentation and do more xref between documents

[2019-09-04 08:22] fabriziopandini commented on #1698
Working on a KEP + POC
/lifecyle active

[2019-09-04 16:03] dlipovetsky commented on #1698
If nodes are "immutable," does it follow that:
- Certificates on the node can be rotated only by deploying a new node and removing the old one. (I realize there some is some nuance here, because kubelet itself renews its client certificate)
- A node must be upgraded by deploying a new node and removing the old one.

[2019-09-04 21:35] anfernee commented on #937
Is this issue fixed? why is it closed? I still have the issue in 1.13.

[2019-09-05 09:07] fabriziopandini commented on #1698
@dlipovetsky agreed.

"Immutable" means that any operation is done deploying a new node and removing the old one, while "mutable" means that any operation is done via in-place mutations

kubeadm-operator is meant to support the "mutable" approach, while "immutable" operations IMO are out of scope

but you are right, there is nuance here 😉, e.g. nothing prevents an administrator to mix up "Immutabl

[2019-09-05 18:30] #1733 closed

[2019-09-05 21:54] dlipovetsky commented on #1698
Thanks a lot for clarifying @fabriziopandini! I wasn't aware of kubeadm-operator before seeing this issue, so I didn't have the right context. So kubeadm-operator is _not_ for a CAPI-managed cluster, which requires the "immutable" approach.

[2019-09-06 10:13] orangefruity commented on #945
[root@ip-172-31-20-92 centos]# kubeadm join --token sha256:2bc3384ae194d966b2f63535c86026a788c21e34eb5571c172790ef4c08ff592 54.202.149.95
[discovery.bootstrapToken: Invalid value: "": using token-based discovery without caCertHashes can be unsafe. Set unsafeSkipCAVerification as true in your kubeadm config file or pass --discovery-token-unsafe-skip-ca-verification flag to continue, discovery.boots

[2019-09-06 10:58] orangefruity commented on #1142
[root@ip-172-31-20-92 centos]# kubeadm join --token sha256:2bc3384ae194d966b2f63535c86026a788c21e34eb5571c172790ef4c08ff592 54.202.149.95
[discovery.bootstrapToken: Invalid value: "": using token-based discovery without caCertHashes can be unsafe. Set unsafeSkipCAVerification as true in your kubeadm config file or pass --discovery-token-unsafe-skip-ca-verification flag to continue, discovery.boots

[2019-09-06 21:50] bramvdklinkenberg opened #1776 "Fresh deploy with CoreDNS not resolving any dns lookup"
#1247  Versions

**kubeadm version** (use `kubeadm version`): 1.14.6

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.14.6
- **Cloud provider or hardware configuration**: Google
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.15.0-1041-gcp
- **Others**:

## What happened?
I deployed a cluster with kubeadm including calico on google cloud vm

[2019-09-06 21:57] bramvdklinkenberg commented on #1776
I also can't reach the internet from within a pod:

[2019-09-06 22:05] bramvdklinkenberg commented on #1776
The busybox image i test with has version 1.28.4

[2019-09-06 22:46] danroliver commented on #581
Nice! I wonder when this was published. I certainly would have found this helpful when I was going through this.

[2019-09-06 23:02] neolit123 commented on #1776
try a different image - e.g. `debian:stretch`, busybox is known to have dns issues.

[2019-09-07 00:35] neolit123 commented on #1726
kubeadm in 1.16 will be using 3.3.15.

[2019-09-07 00:35] #1726 closed

[2019-09-07 00:35] neolit123 commented on #1432
this should be fixed in 1.16 when kubeadm will use etcd 3.3.15.
please re-open if needed.

[2019-09-07 00:35] #1432 closed

[2019-09-07 07:21] bramvdklinkenberg commented on #1776
I also tried debian, but I cannot reach the internet. So I cannot deploy dnsutils. And busybox v1.28.4 works on a AKS cluster.

[2019-09-07 08:07] bramvdklinkenberg commented on #1776
Hmmm, I created a cluster with kubeadm the exact same way on azure vm's and it dns resolving works fine

[2019-09-07 08:19] bramvdklinkenberg commented on #1776
For 15 trainees we have 3 vm's per trainee, but they are all on the same subnet. Could that be causing these resolving issues?

[2019-09-07 11:30] neolit123 commented on #1776
the same subnet for N VMs should not be an issue. it seems to me that this is GCE specific. what happens if you delete the coredns pods on the problem GCE cluster and try nslookup again?

a large chunk of the issues we get are actually caused by networking.
i don't think this is a coredns or a kubeadm issue, but if you confirm otherwise, please either open a new issue in the coredns repository or

[2019-09-07 11:30] #1776 closed

[2019-09-07 11:38] bramvdklinkenberg commented on #1776
Hi @neolit123 , I created 2 kubeadm clusters on 6vm's in the same subnet on Azure. Same way as I did on gcloud. Same issue.

The first cluster has no issue of resolving dns but it is only the clusters after the 1st one having issues resolving dns

[2019-09-07 11:44] neolit123 commented on #1776
please try:

the test clusters i create, always have nodes in the same subnetwork, so not sure how subnetworks are a problem here.

[2019-09-07 11:55] bramvdklinkenberg commented on #1776
removing the coredns pods doesn't solve the issue.

So I have nodes in a 10.0.0.0/8 network.
I create a master with
[code]
I join the 2 workers and it works all fine.

Then I create another master and workers the exact same way on 3 other nodes, but dns resolving doesn't work anymore.

[code]

[2019-09-07 11:57] bramvdklinkenberg commented on #1776
So my kube-system pods have an ip in the 10 range but everything that get deployed after cluster creation gets the calico pod range.
Although this doesn't seem to bother the first created cluster I would think my pods should be in the same range or not?

[2019-09-07 12:13] neolit123 commented on #1776
a CIDR conflict?

you could try the weave-net or Cilium pod network plugins:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

[2019-09-07 12:52] bramvdklinkenberg commented on #1776
hi @neolit123 , with flannel it works fine with multiple clusters in one subnet! for now will just use that and try to figure out laten why calico isn't working

[2019-09-07 12:55] Zoy333 opened #1777 "herrerazoy125@gmail.com"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-09-07 13:16] dims commented on #1777
/close

[2019-09-07 13:16] #1777 closed

[2019-09-07 14:50] Cheng256 opened #1778 "c"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-09-08 16:35] #1778 closed

[2019-09-09 05:16] keshav1git opened #1782 "coredns in kube-system namespace is failing with CrashLoopBackOff"
## Versions

**kubeadm version**(used `kubeadm version`) :
[code]

**Environment**:

- **Kubernetes version** (used `kubectl version`):
[code]
**OS information**:
[code]
## What happened?
1. getting Time-out error on installing helm chart(`helm install --debug -n xxx . -f values-xxx.yaml`):
  Error: Get https://10.96.0.1:443/version?timeout=32s: dial tcp 10.96.0.1:443: i/o timeout

2. core dns pod

[2019-09-09 07:55] NeilW opened #1783 "CA expiry should be far longer than ten years"
FEATURE REQUEST

The current expiry date on a self-certified CA created by kubeadm in 10 years. Having spent the last few weeks migrating and propping up 10 year old Rails systems, I suspect k8s systems created now will be around in 10 years time.

If the CA expires, the system comes to a hard stop and is very difficult to recover. There is no documentation about how to change over, and even the c

[2019-09-09 08:06] NeilW opened #1784 "certs check-expiration should report on CA/kubelet lifetimes"
FEATURE REQUEST

The current check-expiration command reports on the certificates that kubeadm can upgrade dynamically.

However there is no report on the other certificates in the system that kubeadm cannot upgrade - particularly the CAs and, I think, kubelet.

If any of the CAs end up within a year of expiration, then renewal will (or at least should) fail.

If we can't change these things autom

[2019-09-09 12:49] neolit123 commented on #1783
i will bring this topic in the kubeadm meeting this week.
there have been also a number of requests to support CA rotation.

[2019-09-09 12:55] neolit123 commented on #1782
for coredns to start you need to have a CNI plugin installed:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

if you are still getting this error try deleting the coredns pods.

we also we have some tips on how to resolve coredns crashloops:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

clo

[2019-09-09 12:55] #1782 closed

[2019-09-09 15:53] neolit123 commented on #1753
had a discussion about this with @fabriziopandini
we are going to try to go with the first option from here:
https://github.com/kubernetes/kubeadm/issues/1753#issuecomment-525068877

but first discuss it during a kubeadm meeting with the wider group.

[2019-09-10 07:02] zhujintao commented on #872
Please refer to this https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

[2019-09-10 09:06] SataQiu commented on #1784
/cc

[2019-09-10 11:38] neolit123 commented on #1739
this work is finished

[2019-09-10 11:38] #1739 closed

[2019-09-10 17:31] A1xsmith opened #1785 "Error when joining the node to the cluster, when using both 1GB and 2MB huge-page sizes are enabled on the node"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-09-10 18:53] neolit123 commented on #1785
hi, try logging the same issue in the kubernetes/kubernetes repository.
huge pages is k8s specific and not maintained or tested by the kubeadm team.

thanks.

[2019-09-10 18:53] #1785 closed

[2019-09-10 19:24] A1xsmith commented on #1785
The problem is when doing kubeadm join?

[2019-09-11 08:29] freewaterfreewater opened #1786 "rror execution phase upload-config/kubelet: Error writing Crisocket information for the control-plane node: timed out waiting for the condition"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-09-11 10:54] ghouscht opened #1787 "API server authorization-mode order not as specified in kubeadm config"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
none, on-prem
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?
When setting up a cluste

[2019-09-11 11:14] ghouscht commented on #1787
Found the code which is responsible for this behaviour [manifests.go#L197](https://github.com/kubernetes/kubernetes/blob/efcb62abff0ee6511cb5f82b9f25d28b17d81912/cmd/kubeadm/app/phases/controlplane/manifests.go#L197).
Not what I expected as a user and probably also not documented (at least found nothing about that...). In such cases I expect if there is a knob to tune a setting that the tool aroun

[2019-09-11 12:03] neolit123 commented on #1787
the logic in https://github.com/kubernetes/kubernetes/blob/efcb62abff0ee6511cb5f82b9f25d28b17d81912/cmd/kubeadm/app/phases/controlplane/manifests.go#L197
is wrong.

if the user passes `authorization-mode` it should completely overwrite the the kubeadm defaults.

if you have the change too soon use 1.16 we are enabling an alpha feature to customize the static pods with patches. https://github.com/k

[2019-09-11 12:04] neolit123 commented on #1787
/kind bug
/priority important-longterm

[2019-09-11 12:08] neolit123 commented on #1786
does this happen consistently on each run, or did it happen only once?

can you show output of `kubeadm init ..... -v=7`?

[2019-09-11 12:13] ghouscht commented on #1787
thx, I'll open a PR to fix this

[2019-09-11 12:22] neolit123 commented on #1787
it probably needs discussion by the maintainers first as it's a breaking change to existing users.
but you can send the PR if you want to showcase the problem.

[2019-09-11 12:27] richyguo opened #1788 "Can't init kubeadm"
Hi,

OS version: RedHat 7.7

I am trying to run 'kubeadm init', but got this error:

[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp [::1]:10248: connect: connection refused.
[kubelet-check] It seems like the kubelet isn't running or

[2019-09-11 12:29] neolit123 commented on #1788
did you call `kubeadm reset` before `kubeadm init`?

what do the kubelet logs say?

[2019-09-11 13:06] richyguo commented on #1788
Yes, I have doe 'kubeadm reset'. Here is the output for systemctl:

[ec2-user@ip-10-247-239-16 ~]$ systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: activating (auto-restart) (Result:

[2019-09-11 13:20] neolit123 commented on #1788
this line is cut `failed to run Kubelet: failed to ge....`
what does it say?

[2019-09-11 13:29] richyguo commented on #1788
Sep 11 09:29:15 ip-10-247-239-16.awscloud.cms.local kubelet[4756]: Flag --cgroup-driver has been deprecated, This parameter should be set via the config file specified by the Kubelet's --config flag. See https://kubernetes.io/docs/task
Sep 11 09:29:15 ip-10-247-239-16.awscloud.cms.local kubelet[4756]: Flag --cgroup-driver has been deprecated, This parameter should be set via the config file specif

[2019-09-11 13:32] richyguo commented on #1788
sounds like something to do with 'cgroup'? What is 'cgroup'? And how to fix it?

Thanks so much!

[2019-09-11 13:42] neolit123 commented on #1788
the logic in the kubelet is here:
https://github.com/kubernetes/kubernetes/blob/5823cfce76780efe5897429ea59ca55f268a3123/test/e2e_node/resource_collector.go#L513-L530

what it does, is it makes sure that for a certain PID the mounts for cpu and memory are the same.
on this host machine you seem to have a problem where the mounts end up being different.

more information here:
https://access.redhat

[2019-09-11 13:42] #1788 closed

[2019-09-11 22:45] neolit123 commented on #1787
he had talk about this during the meeting today and we decided to allow the user to completely override the auth-mode, but print a warning ( `klog.Warning` ), if it's not the default kubeadm values.

@ghouscht LMK, if you send a PR for that so that we can help with reviews and get it merged.

[2019-09-12 07:10] ghouscht commented on #1787
PR with a possible fix is now open.
I did some more work around this and added a bit of code to validate the users input trying to provide an "easy to use" user experience. Simpler solution would be to just take what the user provided in the configuration, but could be odd if there is something which the apiserver does not understand.

[2019-09-12 07:27] banghuaji opened #1789 "[ASK QUESTION] kubeadm deploy podname with hostname"
I use kubeadm deploy kubernetes.

found the yaml store in  /etc/kubernetes/manifests,
such as
[code]
**pod name is etcd ,but when i show the kubernetes pod info ,Show the following:**
[code]
the pod name with hostname ,why??

[2019-09-13 16:00] Docteur-RS commented on #1495
Hey,

My kubespray is using kubeadm version **v1.15.3** and crashes when executing the command: `kubeadm init phase kubeconfig admin`
It fails with the following error:
`"Found multiple CRI sockets, please use --cri-socket to select one: /var/run/dockershim.sock, /var/run/crio/crio.sock"`

If only I could simply add the `--cri-socket` flag on this command... Unfortunatly this flag and the `init ph

[2019-09-13 18:20] neolit123 commented on #1495
this:
[code]
should work:

for the phases have you tried passing a config (InitConfiguration):
[code]
see:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

?

[2019-09-16 07:13] damozhiying opened #1791 "access service by curl nodeport:port hang up"
[code]
[code]

[code]

[code]

[code]
[code]
hang up

[code]
[code]

[code]

[code]
cni is calico, why can't access by localhost:port ,what's the problem?

[2019-09-16 10:52] fabriziopandini commented on #1783
@NeilW this was discussed in last week office hours, and current agreement is to not extend certificate authority duration, but instead to work for making certificate rotation possible with kubeadm and as soon as certificate rotation will be available, reduce certificate authority duration

If you have comments please let me know so we can eventually reopen the issue

/close

[2019-09-16 10:53] #1783 closed

[2019-09-16 10:54] fabriziopandini commented on #1698
As per kubeadm office hour discussion, we are considering certificate rotation in the scope of the kubeadm operator. I will open an issue to track this properly

[2019-09-16 10:57] fabriziopandini commented on #1350
As per kubeadm office hours discussion, we are considering certificate rotation in scope of the kubeadm operator https://github.com/kubernetes/kubeadm/issues/1698

[2019-09-16 10:58] fabriziopandini commented on #1602
@neolit123 is https://github.com/kubernetes/kubeadm/issues/1753 going to fix this as well?

[2019-09-16 11:03] NeilW commented on #1783
I'm happy either way. I've spent the last week getting the CA certificate rotation to work on our terraform deployment (which we do by maintaining the same private key and issuing a new certificate). Haven't done it for ETCD or the Front proxy though.

Do we have a ticket/request to track the CA certificate rotation project?

[2019-09-16 13:48] #1742 closed

[2019-09-16 15:18] neolit123 commented on #1602
@fabriziopandini no, this is about the kubelet self-singed serving cert.
some users want it signed with the CA, instead.

[2019-09-16 15:43] Docteur-RS commented on #1495
I finally got it !

The initial kubespray command was:
`kubeadm init phase kubeconfig admin --kubeconfig-dir {{ kube_config_dir }}/external_kubeconfig`

⚠️ It seems that the kubeconfig-dir was not tkaing into account the number of crio socket. ⚠️

So I changed the line to:
``kubeadm init phase kubeconfig admin  --config /etc/kubernetes/kubeadm-config.yaml `
as you told me to and it worked.

Thx !

[2019-09-16 17:25] Arvinderpal commented on #1612
@neolit123 I would like to add a doc for setting up dual-stack with kubeadm. I have a draft ready. Where would be a good place to add this?

[2019-09-16 17:28] neolit123 commented on #1612
hi @Arvinderpal we decided to do that for the beta release. is dual-stack going beta in 1.17?
if not possibly we should delay these docs until the beta.

also i'm on PTO this week and please direct any review requests to the rest of the group. :)

[2019-09-17 09:17] fabriziopandini opened #1792 "Kubeadm repo code organization"
kubeadm repo is soon going to host the codebase for three deliverables:
1. kubeadm itself
2. the kubeadm operator
3. kinder

The main reason for keeping for this approach is to ensure consistent versioning/branching strategy across the three deliverables (1 and 2 must-have, 3 nice to have).

This issue is for deciding how to organize the folder three in order to get this managed properly
Please gi

[2019-09-17 09:20] fabriziopandini commented on #1792
Proposal 1.
[code]

[2019-09-17 09:26] fabriziopandini commented on #1792
Proposal 2.
[code]

[2019-09-17 09:29] fabriziopandini commented on #1783
@NeilW
- preparatory work for cert rotation is tracked in https://github.com/kubernetes/kubeadm/issues/1350
- real work for cert rotation is under https://github.com/kubernetes/kubeadm/issues/1698 umbrella

[2019-09-17 09:32] fabriziopandini commented on #1789
@banghuaji the kubelet adds the node name to all the static pods

[2019-09-17 09:36] yastij commented on #1792
@fabriziopandini - +1 on the first proposal. This would allow us to split things later if needed and control the import tree.

[2019-09-17 13:55] rosti commented on #1787
The main problem that we have here is that we try to interpret the `authorization-mode` extra arg in the ClusterConfiguration, patch it and then store it back as an extra arg.
This is wrong and breaks the assumption, that extra arg values completely override the kubeadm specified values.
Hence, we have a couple of possibilities in here:
1. Allow users to completely override `authorization-mode` vi

[2019-09-17 14:11] rosti commented on #1756
/kind api-change

[2019-09-17 15:12] SataQiu commented on #1791
Emm... What is the IP corresponding to `localhost`?
Can you show the content of `/etc/hosts`?

[2019-09-17 17:01] fabriziopandini opened #1793 "RFE: use learner mode for joining etcd members"
Growing a local etcd cluster is a complex operation, and in the past, we already faced some issues like e.g. https://github.com/kubernetes-sigs/kind/issues/588

Now that the implementation of the etcd learner mode is progressing, we should start considering if to use it in kubeadm in order to make join --control-plane implementation more robust.

at a high level what we would like to achieve is:
-

[2019-09-18 10:37] SataQiu commented on #1793
/cc

[2019-09-18 10:47] rosti commented on #1793
We have to be careful, but we certainly need to act upon it. The plan is that from etcd 3.5 new members will be joined only as learners.
In etcd 3.5 it will be possible to use a learner node for reading, but still the problem with writing continues. And, as LBs are out of the scope of kubeadm, things might become a bit difficult.
We probably need to direct API servers to healthy leaders and possib

[2019-09-18 13:16] myonlyzzy opened #1794 "mark this!"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-09-18 13:18] myonlyzzy commented on #1447
thanks !

[2019-09-18 19:55] ghouscht commented on #1787
I can understand that you're concerned about breaking existing users - which is of course totally valid.

As I already tried to point out in my PR, the key question for me here is, is the current behavior a bug, or desired? If it is a bug we should fix it despite probably breaking some users. If this behavior was/is desired we should at least document it.

The [documentation](https://godoc.org/k8s

[2019-09-19 16:59] timothysc commented on #1792
TBD - Should we take ownership of the packaging and release goo from here.

[2019-09-19 17:57] yastij commented on #1792
seems natural that we should own the packaging and realease process

[2019-09-20 07:54] fabriziopandini commented on #1792
@yastij I'm ok for the kubeadm-operator/kinder, not sure about kubeadm because I assume it will continue to be part of the main Kubernetes release package

[2019-09-20 10:48] yastij commented on #1792
cc @kubernetes/sig-release

[2019-09-20 12:08] Inv0k-er opened #1795 "master node not ready Coredns Pending."
Hello. I installed kubernetes. But when i did kubectl get nodes i saw master node not ready

NAME   STATUS     ROLES    AGE   VERSION
master   NotReady   master   56m   v1.16.0
slave03   NotReady   <none>   52m   v1.16.0
slave40   NotReady   <none>   51m   v1.16.0

when i did

NAMESPACE     NAME                           READY   STATUS    RESTARTS   AGE
kube-system   coredns-5644d7b6d9-4qvm9

[2019-09-20 13:42] trinvh commented on #1795
Same issue. Ran `journalctl -fu kubelet` says:

[code]

[2019-09-21 06:28] pytimer commented on #1795
@trinvh you should check your node labels, i think maybe your cordns `nodeSelectors: beta.kubernetes.io/os=linux` is wrong, you should update `beta.kubernetes.io/os` to `kubernetes.io/os`. Because this labe has deprecated.

Refer to https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/#beta-kubernetes-io-os-deprecated

[2019-09-21 17:34] neolit123 commented on #1795
@Inv0k-er @trinvh

1) did you have the `kubernetes-cni` DEB/RPM package installed?
it should be installed as a dependency of the `kubeadm` DEB/RPM package?

2) have you tried another CNI plugin instead of flannel?

[2019-09-21 17:35] neolit123 commented on #1789
/close
please re-open if needed.

[2019-09-21 17:35] #1789 closed

[2019-09-22 18:23] neolit123 opened #1796 "v1beta3 config"
k/e issue:
https://github.com/kubernetes/enhancements/issues/970

KEP update:
https://github.com/kubernetes/enhancements/pull/2627

KEP: https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/970-kubeadm-config

full list of pending changes:
https://github.com/kubernetes/kubeadm/labels/kind%2Fapi-change

PRs:
- [x] add v1beta3 / remove v1beta1:
https://github.com

[2019-09-22 18:24] neolit123 commented on #1796
saw the VOD of the kubeadm planning and created this ticket.

[2019-09-22 18:27] neolit123 commented on #1791
@damozhiying
please try another CNI plugin like WeaveNet and also answer @SataQiu 's questions.

[2019-09-23 02:43] EngineeringEdu opened #1798 "Block Owner······）<"
https://github.com/kubernetes/kubeadm/blockIDoWn/b1d5563e8376c921bf2fbea7cc3fd8832e0ea18a/kinder/hack/update-deps.sh#L27

[2019-09-23 03:14] SataQiu commented on #1798
@EngineeringEdu
Can you describe your issue in more detail?
The link you provided is not accessible. :(

[2019-09-23 03:31] Inv0k-er commented on #1795
journalctl -f says:
Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized

and
Error validating CNI config &{cbr0  false [0xc00097f780 0xc00097f820]

[2019-09-23 03:35] Inv0k-er commented on #1795
Thank you for your answer , today I try your receipt.
But what you think ? :
If I reinstall OS to Centos 7.7 (right now I have 7.3) it is help me ? or No

[2019-09-23 03:39] Inv0k-er commented on #1795
Thank you for your answer.
1. Yes I heave cni it is - kubernetes-cni-0.7.5-0.x86_64.
2. No I am not tried. Because it is my first step in kubernetes and I dont know how to do it. Maybe you can send me some link ? please.

[2019-09-23 05:50] pytimer commented on #1795
@Inv0k-er The node pod cidr is `172.17.0.0/24`, what's content in your flannel configmap? Is it `172.17.0.0/24`?

[2019-09-23 06:41] eddiesimeon commented on #1795
seems 1.16.0 new validates cni version in cni config
the follow pr fixes the issue -> coreos/flannel#1181

quick fix:
update file to /etc/cni/net.d/10-flannel.conflist to include the following just as it is in the PR
cniVersion: "0.2.0"

[2019-09-23 07:00] lukaszgryglicki opened #1799 "[BUG REPORT] cni config uninitialized after updating to v1.16.0"
## What keywords did you search in kubeadm issues before filing this one?
`cni error`, `nodes not ready`

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:34:01Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"li

[2019-09-23 08:11] Inv0k-er commented on #1795
No. I use 172.17.0.1/16
Right now I want reinstal OS. Because I heave 7.3. I want update to 7.7. Mayby its help me.

[2019-09-23 08:12] Inv0k-er commented on #1795
I tried. It is not help me.

[2019-09-23 08:41] chrischdi commented on #1712
As of now I'm not able to reproduce the problem anymore in our Deployment pipelines using upstream v1.15.3 kubeadm and v1.16.0 kubeadm.
@neolit123 I propose to close this one?

[2019-09-23 08:54] ereslibre commented on #1712
Let's close this issue and reopen if we see it bubbling up again. Thank you for your feedback @chrischdi.

/close

[2019-09-23 08:54] #1712 closed

[2019-09-23 10:04] sampleref commented on #980
serviceaccount/weave-net configured
clusterrole.rbac.authorization.k8s.io/weave-net configured
clusterrolebinding.rbac.authorization.k8s.io/weave-net configured
role.rbac.authorization.k8s.io/weave-net configured
rolebinding.rbac.authorization.k8s.io/weave-net configured
unable to recognize no matches for kind "DaemonSet" in version "extensions/v1beta1"

Unable to configure

[2019-09-23 10:31] renilrandy commented on #1799
I had faced the same issue while doing kubeadm setup with Flannel CNI...later installed caclio ...will again try to setup with flannel CNI.
Thanks for sharing the information @lukaszgryglicki

[2019-09-23 10:43] lukaszgryglicki commented on #1799
I've found elsewhere that `"cniVersion": "0.3.1"` also works and lists newer version. Updated my config.

[2019-09-23 10:52] manukoli1986 commented on #1799
I have also figured out by adding "cniVersion": "0.2.0" version and it worked as expected.

[2019-09-23 10:53] varunvvv commented on #1799
@lukaszgryglicki "cniVersion": "0.2.0"  & "cniVersion": "0.3.1" both versions it works right ?

[2019-09-23 10:55] varunvvv commented on #1799
Could you paste complete 10-flannel.conflist config file

[2019-09-23 10:56] lukaszgryglicki commented on #1799
Yes, both work, pasted file:
[code]

[2019-09-23 11:03] varunvvv commented on #1799
@lukaszgryglicki  Thanks for u r info ....Due to Flannel issue m using Calico now ...will re-setup with Flannel 👍

[2019-09-23 12:42] rakeshraagu2 commented on #1031
The file /etc/cni/net.d/10-flannel.conflist was missing cniVersion key in its config.

Adding "cniVersion": "0.2.0" solved the issue.

[2019-09-23 12:52] wangzhipeng commented on #1799
kubectl apply -f https://raw.githubusercontent.com/wangzhipeng/flannel/master/Documentation/kube-flannel.yml

[2019-09-23 12:57] lukaszgryglicki commented on #1799
Yeah, it contains: `"cniVersion": "0.3.1"`.

[2019-09-23 15:56] tagoreghanta commented on #1642
I too get the same error

kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:34:01Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}

[2019-09-23 16:22] neolit123 commented on #1795
this is not a kubeadm bug, so i will close the issue.

if you go here instead of flannel try the steps for another CNI plugin:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

/close

[2019-09-23 16:22] #1795 closed

[2019-09-23 17:03] neolit123 commented on #1642
`kubeadm reset` should be cleaning this directory for you.
if it cannot clean it, try manually.

[2019-09-23 19:22] varunvvv commented on #1799
Hi lukaszgryglicki
once i restart my docker and kubelet services my nodes become notready state in /etc/cni/net.d/10-flannel.conflist file i found "cniVersion": "0.3.1" entry was missing.
is there any permanent fix for this issue.

[2019-09-23 23:20] neolit123 commented on #1799
not a kubeadm bug, please report to the CNI plugin maintainers.
/close

[2019-09-23 23:20] #1799 closed

[2019-09-23 23:20] #1798 closed

[2019-09-23 23:23] neolit123 commented on #980
that's a bug on the CNI plugin side.
try the Callico CNI plugin instead.

[2019-09-24 03:14] Zhang21 commented on #1390
@x22n

This soltuion is just for kubeclt uses `~.kube/config`， but not for nodes `kube join`  cross VPC.

<br/>

@asymness  Iptables also a temporary solution.

<br/>

There is no final solvtion?

Thank you!

[2019-09-24 03:58] FrankYang0529 commented on #1756
@rosti, I would like to work on this issue. May you guide me on it? Thank you.

[2019-09-24 04:52] ronakgpatel commented on #1031
I faced the issue when updated to V1.16.0 from 1.15.

[2019-09-24 06:50] Zhang21 commented on #1390
But it also cause a new issue, the flannel on WAN node create faile, can't connect to kuberbest svc(`10.96.0.1`)。

What should I do?

[2019-09-24 11:04] neolit123 commented on #1787
i'm +1 on the pending PR, as is and the breaking change.
also i think we should not the expose the auth mode in the kubeadm config (saw the discussion during the planning).

[2019-09-24 11:15] EngineeringEdu commented on #1031
dGVzdDoxMjPCow

On Sep 24, 2019 12:52, "ronakgpatel" <notifications@github.com> wrote:

[2019-09-24 11:17] neolit123 commented on #1792
from my brief discussion with @justaugustus about this, there is still desire to include kubeadm as part of the release (e.g. tarbals). we need to talk more about this.

[2019-09-24 11:22] neolit123 commented on #1743
this work is not done yet. we need to remove the 1.12 jobs.
i will send PRs for that.

[2019-09-24 11:28] neolit123 commented on #1756
does this ticket need the api-change label?

currently we can check for the lack of a kube-proxy CM during upgrade and skip the re-apply of the addon. tracking the api-change for optional addons should be another ticket?

[2019-09-24 11:48] neolit123 commented on #1031
flannel is not very actively maintained. i recommend calico or weavenet.

[2019-09-24 13:48] nidhi-ag opened #1800 "systemctl stop kubelet"
systemctl stop kubelet
systemctl stop docker
iptables --flush
iptables -tnat --flush
systemctl start kubelet
systemctl start docker

The route problem can be solved by flush iptables.

_Originally posted by @lastboy1228 in https://github.com/kubernetes/kubeadm/issues/193#issuecomment-330060848_

[2019-09-24 13:49] #1800 closed

[2019-09-24 20:59] zerkms opened #1801 "kubeadm upgrade fails when hostname != node name and when kubeadm config is used"
This is a followup for the https://github.com/kubernetes/kubeadm/issues/1757

## What keywords did you search in kubeadm issues before filing this one?

upgrade kubeadm hostname

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

#

[2019-09-25 05:04] Davidrjx commented on #1688
i faced with same problem, have anyone solved this?

[2019-09-25 07:40] lukaszgryglicki commented on #1799
Yeah, after restarting kubelet and/or docker file is overwritten and fix is gone :(

[2019-09-25 08:20] hssz202pgw commented on #1568
想问下你用的是哪个版本？我安装1.16版也遇到你这情况了，但是kubeadm的配置文件里没有你说的$KUBELET_NETWORK_ARGS 这个选项，所以一直没有解决。刚退回1.15版能成功初始化。

[2019-09-25 12:54] neolit123 commented on #1688
try kubeadm 1.16 which uses a newer version of coredns.

[2019-09-25 13:09] neolit123 commented on #1801
@zerkms
i remember this problem, but i could not reproduce it:
https://github.com/kubernetes/kubeadm/issues/1757#issuecomment-526370377

we should have re-open the old issue instead of this new one.

the join configuration is not used during kubeadm upgrade. where are you seeing a call to `SetJoinDynamicDefaults` from `kubeadm upgrade apply`?

[2019-09-25 15:39] neolit123 commented on #1791
/close
please re-open if needed.

[2019-09-25 15:39] #1791 closed

[2019-09-25 15:39] neolit123 commented on #1786
/close
please re-open if need / once more details are available.

[2019-09-25 15:40] #1786 closed

[2019-09-25 15:47] jheruty commented on #1568
I just had this issue too when using Flannel on Kubernetes 1.16 with Raspian Buster. In my case, I needed to add "cniVersion": "0.2.0" to /etc/cni/net.d/10-flannel.conflist, as seen in the following commit: https://github.com/coreos/flannel/pull/1181/files

Rebooting my system then showed coredns running.

[2019-09-25 17:04] neolit123 opened #1803 "create an integration test for the DualStack feature-gate"
we found a panic when DualStack is passed as a feature-gate:
https://github.com/kubernetes/kubernetes/pull/83025

we need an integration test under /cmd/kubeadm/test, just to test if the gate is accepted and does not error out.

/kind feature
/area test
/priority important-longterm
/assign @ereslibre
cc @Arvinderpal

[2019-09-25 17:06] neolit123 commented on #1803
hi, @Arvinderpal

@ereslibre said that he can do this, but it probably should be tracked in here:
https://github.com/kubernetes/kubeadm/issues/1612

also please comment if you want to take this item.
should be fairly low complexity.

[2019-09-25 20:35] zerkms commented on #1801
I provide _more_ details in this request - it happens when you provide a kubeadm config.

It's really hard to find it just reading the code, but from the logs I found that at least at

[code]
at `UploadConfiguration` call it already uses the wrong value:

[code]

[2019-09-25 20:47] neolit123 commented on #1801
what value is wrong in this config for you?

[2019-09-25 20:49] zerkms commented on #1801
[code]

There is no kubernetes node `hq-srv11`, there is only `hq-srv11.<redacted-org-name>`

[2019-09-25 20:51] neolit123 commented on #1801
i will try to reproduce this again tomorrow.

[2019-09-26 03:08] SataQiu commented on #1801
/cc

[2019-09-26 04:39] SataQiu commented on #1801
Thanks @zerkms I have reproduced the problem through the following steps:
[code]
I'm going to dig into how do we solve this problem.

[2019-09-26 06:26] augustinetom17 commented on #1568
I had the same issue on Ubuntu 16 and fixed it by adding "cniVersion": "0.2.0" to /etc/cni/net.d/10-flannel.conflist,

[2019-09-26 08:19] SataQiu commented on #1801
IMO, in short term, we can solve this problem by manually passing a `node-name` flag ( just like what we did in init and join phase ) ( kubernetes/kubernetes#83180 ).
But in long term, we need a way to automatically associate node and node name configured within the cluster.

[2019-09-26 08:21] zerkms commented on #1801
isn't it available in the kubelet certificate?

[2019-09-26 08:33] SataQiu commented on #1801
Yeah, that might be one way. We can extract the host name from the certificate.
But I'm not quite sure.  @zerkms @neolit123

[2019-09-26 08:34] SataQiu commented on #1801
/kind bug

[2019-09-26 08:36] SataQiu commented on #1801
/remove priopity-awaiting-more-evidence

[2019-09-26 08:50] SataQiu commented on #1612
/cc

[2019-09-26 12:55] neolit123 commented on #1801
it can work, but we shouldn't rely on certs for node names.

the problem with that is that if the user messes up the name during `upgrade`, i think this will result in a new entry in the ClusterStatus.

[2019-09-26 12:57] neolit123 commented on #1801
[code]

i can try testing this later today, but one question:
if i pass `--node-name=foo.bar.zzz` instead of `foo` in the above example, would the `config.yaml` still contain only `foo` in the ClusterStatus section?

[2019-09-26 14:43] neolit123 commented on #1801
ok, so i did some investigation here.

@zerkms your suggestion to use certificates to fetch the node name is already used actually, but only when the user is not providing a config file and and the configuration is fetched from the cluster. see https://github.com/kubernetes/kubernetes/blob/2e6b073a3f800654ec217e763fcb97412308a9db/cmd/kubeadm/app/util/config/cluster.go#L113

this is like so because

[2019-09-26 14:44] neolit123 commented on #1801
cc @rosti @fabriziopandini

[2019-09-26 14:58] Arvinderpal commented on #1803
@neolit123 It would be great if @ereslibre can take a stab at this one.
At the moment I'm overloaded but should have spare time coming up and if necessary I will take this task.

[2019-09-26 15:59] neolit123 commented on #1803
ack @Arvinderpal

[2019-09-26 17:47] Mattias- commented on #1787
+1 for addressing this.
I'm looking for a way to set `Webhook` as the first `authorization-mode`.
I have no opinion regarding how that would be implemented though.

[2019-09-26 18:47] neolit123 commented on #1743
this should close once https://github.com/kubernetes/kubeadm/pull/1804 merges

[2019-09-26 19:53] svatwork commented on #1568
Worked for me too using Ubuntu 18.04 + GCP on Kubernetes 1.16.

[2019-09-26 19:54] micahg commented on #1568
Hi, adding one more note that the suggestion made by @jheruty worked for me.

[2019-09-26 20:00] neolit123 commented on #1795
the flannel repository needed a fix.
the kubeadm guide for installing flannel was just updated, see:
https://github.com/kubernetes/website/pull/16575/files

[2019-09-26 20:01] neolit123 commented on #1031
the flannel repository needed a fix.
the kubeadm guide for installing flannel was just updated, see:
https://github.com/kubernetes/website/pull/16575/files

[2019-09-26 20:12] SebastianMCarreira commented on #1688
Hi, I'm having he exact same issue. Nothing in this post helped me and I cannot update to kubeadm 1.16 because it's not compatible yet with Flannel (or it wasn't last friday when I encountered the issue). My kubeadm is 1.15.4.

[2019-09-26 20:28] neolit123 commented on #1688
try a different CNI plugin instead of flannel.
i recommend Calico or WeaveNet.

[2019-09-26 21:52] zerkms commented on #1801
@neolit123

nowhere in the upgrade documentation process it states whether it should be specified or not. And given that I used it initially to create a cluster I by default think that now I must specify it every time during an upgrade as well.

If it's not the case I think it may need a bit of clarification in the documentation, right?

Thanks nevertheless, now I see it's my mistake actually.

[2019-09-26 21:58] neolit123 commented on #1801
exactly, that is because we don't want users to use it.

the `--config` flag was added to upgrade to allow reconfiguration of the existing cluster, which is now supported using the kubeadm kustomize feature (see the changelog for 1.16).

i agree. this needs a like or two in this document:
https://github.com/kubernetes/website/blob/master/content/en/docs/tasks/administer-cluster/kubeadm/kubeadm-upg

[2019-09-26 22:16] chuckha opened #1805 "kubeadm reset hangs"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind bug

**kubeadm version** (use `kubeadm version`):  v1.16.0

## What happened?
I ran a `kubeadm init --control-plane-endpoint testing-1565291768.us-west-2.elb.amazonaws.com:80 --upload-certs` but this failed because I didn't specify the aws cloud provider. So I wanted to reset my system and ran `kubeadm reset` and got this:

[code]

## How to repro

[2019-09-26 22:30] neolit123 commented on #1805
are you able to provide more output using e.g --v=5?
i think i know what it is and it hangs for 5 minutes, but just wanting to make sure.

[2019-09-27 01:21] sfxworks opened #1806 "kubectl get cs shows only 1 ready etcd service with an ha setup"
/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:11:18Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: v

[2019-09-27 02:09] SataQiu commented on #1801
Thanks @neolit123 !  I learned a lot from this ticket.
So we can already set the node name through config file :
[code]
Emm... Adding `--node-name`  flag just saves you the trouble of changing the configuration file.
Since `init` and `join` both support this flag, why not `upgrade` ?
I'm curious about the bad effects of adding this flag.
And WDYT @zerkms ?

[2019-09-27 02:18] zerkms commented on #1801
@SataQiu given that @neolit123 mentioned a kubeadm config should not be specified at all and it would all work - I think this report should be closed as `works as designed`.

[2019-09-27 06:27] hayond commented on #1390
same problem，flannel pod always error，dial tcp 10.96.0.1:443: i/o timeout

[2019-09-27 07:26] Zhang21 commented on #1390
@hayond
Creating a k8s cluster which nodes over WAN is diffcult, I just give it up.  So I just create a k8s cluster which nodes over LAN, but can use kubectl(`config`) from remote client.

[2019-09-27 07:33] fabriziopandini opened #1807 "1.17: Housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.

_At the beginning of the cycle_
- [x] [@neolit123] Cleanup E2E jobs for 1.13 (current -3) rif https://github.com/kubernetes/kubeadm/pull/1804 and kubernetes/test-infra#14483
- [x] [@fabriziopandini] Bump minimum supported versions rif https://github.com/kubernetes/kubernetes/pull/83312 (v1.16 https://github.co

[2019-09-27 08:48] rosti commented on #1801
Adding kind/UX, as this is also UX issue (in the long term) as it's a documentation issue in the short.
/kind UX

[2019-09-27 08:50] rosti commented on #1801
/area UX

[2019-09-27 13:00] chuckha commented on #1805
[code]

it did indeed work after about five minutes

[2019-09-27 13:41] neolit123 commented on #1805
@chuckha thanks for confirming.

@RainbowMango after our discussion on slack today do you want to try to send a PR for this?
the problem here is that `kubeadm reset` tries to fetch a ConfigMap for 5 minutes. we should shorten this timeout, because it can seem as if the program is crashed/hanging.

[2019-09-28 00:31] RainbowMango commented on #1805
@neolit123
Sure,  let me try.

/assign

[2019-09-28 09:47] RainbowMango commented on #1805
@neolit123
I guess you want shorten the backoff here.
https://github.com/kubernetes/kubernetes/blob/39286f396259494b54c9459ea8a2a0b42a1497b5/cmd/kubeadm/app/util/apiclient/idempotency.go#L304

If yes. Can you propose a suitable backoff?

By the way, it is the same issue with https://github.com/kubernetes/kubeadm/issues/1606, right?

[2019-09-28 11:32] hsitaa commented on #1185
I think issue still persists, it's fixed by fluke and occurs as fluke.

Running two clusters. Both at 1.13.10 k8s and calico latest. 3.3 as well. Still one cluster running fine. Other not.. In both cluster podciDr was not define in Init. Instead was later added in kube config and cluster cidr kube proxy daemon. Juggling with it for 8 hrs now. Almost at verge to hate calico.

[2019-09-28 11:55] neolit123 commented on #1805
it's related, but for reset we have a slightly different use case.
while during init we want the cluster to try to succeed for longer, reset is a best effort command and it should give up earlier and not continue for 5 minutes.

this means that we have to be able to specify how much time the different commands need.
we don't want to change the value of clientsetretry.DefaultBackoff for init.

[2019-09-28 14:01] RainbowMango commented on #1805
Got it.

It is the point.  That's interesting and make sense.

Sure, we can't change the default one from client-go.

[2019-09-29 07:47] 15838028035 opened #1810 "https://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-x86_64/"
centos7  cloud not find

https://mirrors.aliyun.com/kubernetes/yum/repos/kubernetes-el7-x86_64/

[2019-09-30 01:07] neolit123 commented on #1810
please open this in the kubernetes/kubernetes repository and provide more details.

[2019-09-30 01:07] #1810 closed

[2019-09-30 08:25] anchal0997 opened #1814 "Error from server (NotFound): the server could not find the requested resource"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-09-30 08:28] rosti commented on #1318
/assign @Klaven

[2019-09-30 08:43] fabriziopandini commented on #1807
Taking "Bump minimum supported versions" and "Add etcd version for v1.18"

[2019-09-30 12:15] #1743 closed

[2019-09-30 12:44] neolit123 commented on #1814
hi @anchal0997 ,

please provide more details in your ticket description:
- are you following a guide; which one?
- what kubeadm versions are you using?
- what is the command line that you call to run kubeadm; are you using a kubeadm config file?

/triage support

[2019-09-30 16:20] sftim commented on #1612
I'm concerned about a `/24` default netblock allocation for IPv6. That's really large; it'd be more realistic to default to a `/64` and let cluster operators override that if they know better.

[2019-09-30 16:35] neolit123 commented on #1612
@sftim

@Arvinderpal should correct me, but i think such decisions are on the plate of SIG Network.

[2019-09-30 16:51] Arvinderpal commented on #1612
I totally agree that /24 is not appropriate for IPv6. It's more a carryover from IPv4.

Yes, sig-network is the right place.

[2019-09-30 16:54] aojea commented on #1612
IIRC /24 is a legacy thing and we can't change it until this merge https://github.com/kubernetes/kubernetes/pull/79993

[2019-09-30 21:02] grk-kulkarni opened #1815 "Kubernetes cluster fails to initialize with API endpoint as ALB"
## What keywords did you search in kubeadm issues before filing this one?
x509: certificate signed by unknown authority

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`): v1.15.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.15.3
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-re

[2019-09-30 21:17] neolit123 commented on #1815
hello, unfortunately this is not a kubeadm bug, but rather a problem with your setup with the cloud provider LB.

the kubeadm team does not have e2e tests to help verify your setup or debug potential issues.

this topic might interest you:
https://github.com/kubernetes/kubeadm/issues/1685

you can also ask in the #cluster-api channel on k8s slack as the Cluster API project has a AWS provider and t

[2019-09-30 21:17] #1815 closed

[2019-09-30 21:20] neolit123 commented on #1806
`kubectl get cs`
to my knowledge cluster status is a command that is planned for being deprecated and you should not rely on it.

i have seen the same with this command in an HA setup and this is not a kubeadm bug.
if you wish to report your finding try asking in the #sig-cli channel on slack or log a kubernetes/kubernetes ticket.

thanks.

[2019-09-30 21:20] #1806 closed

[2019-09-30 21:35] neolit123 commented on #1753
a PR is up for this:
https://github.com/kubernetes/kubernetes/pull/83339

[2019-10-01 09:55] Inv0k-er opened #1816 "unknown flag: --experimental-control-plane."
Hello. I try to add in my cluster a two new master node.
I am using

kubeadm join ip:6443 --token key --discovery-token-ca-cert-hash sha256:key --experimental-control-plane.
And I have error: unknown flag: --experimental-control-plane

[2019-10-01 11:04] neolit123 commented on #1816
/triage support
this means your are using an old version of kubeadm - check `kubeadm version`.
for this feature you need 1.14, but better use 1.16 (latest).

[2019-10-01 11:25] Inv0k-er commented on #1816
sorry but this is my
kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:34:01Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}

[2019-10-01 13:53] rosti commented on #1431
This is no longer kind API Change
/remove-kind api-change

[2019-10-01 14:37] yagonobre commented on #1185
Hey, @hsitaa 1.13 is no longer supported, please try again with a new version and create a new issue if the problem persists.

[2019-10-01 14:50] rosti commented on #1787
@ghouscht I can see your point. However, code is also a form of documentation. Specifically, that piece of code was designed to work in that way and users may be aware of that through reading the code.
Another point is accidental use. Users may not even be aware how this works, they just supplied it like that and it works.
And my third point is, that we stamp configs with versions. These versions

[2019-10-01 17:33] djbooya commented on #1688
I am running kube 1.16 with Flannel.  You just have to add {"cniVersion": "0.2.0"} to /etc/cni/net.d/10-flannel.conflist

[2019-10-01 18:44] ereslibre commented on #1803
PR open: https://github.com/kubernetes/kubernetes/pull/83369

[2019-10-02 00:23] #1803 closed

[2019-10-02 04:05] Inv0k-er commented on #1816
Ok how to upgrade kubeadm ?

[2019-10-02 07:17] neolit123 commented on #1816
i checked and the flag `--experimental-control-plane` is still there for 1.16 `kubeadm join`.
it should work for you, so not sure what's causing the error for you.

try `kubeadm join --help`.

[2019-10-02 10:22] Inv0k-er commented on #1816
I tryed use without experimental; it is kubeadm join --control-plane
And will be work I am not sure. Because I have another error it is

error execution phase check-etcd: error syncing endpoints with etc: context deadline exceeded

[2019-10-02 18:56] dannymk opened #1817 "kube-flannel dial tcp 10.96.0.1:443: i/o timeout"
## Is this a BUG REPORT or FEATURE REQUEST?
Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):  Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:34:01Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"

**Environment**:
- **Kubernetes version** (use `kubectl v

[2019-10-02 19:44] mitchellmaler commented on #1511
@timothysc I ran into this issue and have the same problem without a good solution. We try to limit the amount of SSH access that nodes have after they are provisioned and added to the cluster using cloud-init. What I am looking for is a way to upgrade the cluster and proxy configmap and create/upgrade the kubelet configmap without needing to ssh into a master node since it will be replaced anyway

[2019-10-03 14:50] stealthybox commented on #1756
Discussed in [kubeadm Office Hours (Oct 2)](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.fe635to7ezlu)

See the document for brainstorming on API examples.

- When the user supplies a custom KubeProxyConfiguration and the addon is disabled, we should print a warning -- similar warnings may apply for CoreDNS

[2019-10-03 21:52] dannymk commented on #1817
Could this have anything to do with this issue:

[code]

[2019-10-04 07:52] dawidmalina commented on #1598
Currently we are also trying to validate how we can migrate our custom scripts bootstrapping kubernetes + etcd to pure kubeadm approach. We've end up with same issue as @LucaLanziani as we are using `discovery-srv` for etcd discovery. We are using 3 autoscaling groups (each for particular master node in single az) so we don't need any static configuration and nodes can be recreated anytime (etcd n

[2019-10-04 08:44] neolit123 commented on #1598
@dawidmalina

there is already a workaround for that as noted above:

did you try that?

[2019-10-04 08:52] neolit123 commented on #1817
please try another CNI plugin like calico or weavenet
we had so many problem reports about flannel recently that's really hard for us to respond to users and maintain support for this problem.

[2019-10-04 08:52] #1817 closed

[2019-10-04 08:54] neolit123 commented on #1816
something is not right on your side, maybe you are mixing versions, because 1.16 should still have the --expermental-control-plane flag.

[2019-10-04 08:54] #1816 closed

[2019-10-04 08:54] neolit123 commented on #1814
please reopen if needed.

[2019-10-04 08:54] #1814 closed

[2019-10-04 09:38] dawidmalina commented on #1598
Hmm I didn't. Looks like I've missed this one. I will check thx 👍

[2019-10-04 10:27] neolit123 commented on #1511
kubeadm doesn't have a clear story around immutable node upgrades in docs and best practices.

upgrade phases might solve that.

currently we have phases for `kubeadm upgrade node`, but not for `kubeadm upgrade apply`
its tracked here:
https://github.com/kubernetes/kubeadm/issues/1318

[2019-10-04 14:32] LuckySB opened #1818 "kubeadm upgrade node not rotate certificate"
## Versions

**kubeadm version** (use `kubeadm version`):
v1.15.0 and above

## What happened?

kubeadm [doc](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/#kubeadm-upgrade-guidance):

But the certificates were only updated on the first wizard where the command `kubeadm upgrade apply` was executed

on the second and third masters, the command `kubeadm upgrade node` was e

[2019-10-04 15:00] LuckySB opened #1819 "kubeadm do not rotate kubelet certificate on master nodes"
FEATURE REQUEST

## Versions

**kubeadm version**
v1.15.0 and above

## What happened?

Kubeadm upgrade do not rotate kubelet certificate on master nodes.
On these nodes, the certificate is in /etc/kubernetes/kubelet.conf

and when updating the cluster it is also necessary to rotate it as control plane certificates in
controller-manager.conf and scheduler.conf

[2019-10-04 15:16] neolit123 commented on #1818
Isn't the value of the flag 'true' by default?

[2019-10-04 18:34] dawidmalina commented on #1598
@neolit123 Works like a charm :) Thank you

[2019-10-04 18:38] aaroniscode opened #1820 "kubeadm config images pull support for Amazon ECR with containerd"
FEATURE REQUEST

Would like to be able to pre pull container images when using Amazon ECR container registry and `containerd` as the CRI.

`containerd` does not have native support for authenticating to Amazon ECR. This is an open ticket: https://github.com/containerd/cri/issues/1131.

This capability might best be a feature of `containerd`. However, this authentication is already built into `kube

[2019-10-04 20:27] timothysc commented on #1820
This really doesn't seem like a kubeadm issue.

[2019-10-04 20:34] timothysc opened #1821 "Update min Docker-CE Version more recent version"
Testing locally -

[WARNING SystemVerification]: this Docker version is not on the list of validated versions: 19.03.2. Latest validated version: 18.09

[2019-10-04 20:58] aaroniscode commented on #1820
@timothysc That may be the case.  However, it appears from the comment https://github.com/containerd/cri/issues/1131#issuecomment-500075502 that the `containerd` team is considering not adding the logic to authenticate with ECR.

If that's the case, where should the logic live to authenticate with ECR?

[2019-10-05 11:26] afbjorklund opened #1822 "kubeadm reset breaks CNI for others"
## What keywords did you search in kubeadm issues before filing this one?

* reset
* podman
* `/etc/cni/net.d`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

`kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-

[2019-10-05 13:55] neolit123 commented on #1819
the contents of the `/etc/kubernetes/kubelet.conf` on the primary CP node (the one where you called init) and the secondary ones, those that joined later are different.

for the primary we do not support rotation currently and that's a bug tracked here:
https://github.com/kubernetes/kubeadm/issues/1753

what are the contents of the kubelet.conf on secondary nodes?

[2019-10-05 13:57] neolit123 commented on #1819
also as can be seen here kubeadm should be able to rotate the .conf certs on upgrade:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration

bug there is another bug where you have to pass `--certificate-renewal`:
https://github.com/kubernetes/kubeadm/issues/1818

[2019-10-05 13:57] neolit123 commented on #1818
looking at the source this seems like a bug.

/kind bug
/assign

[2019-10-05 13:59] neolit123 commented on #1822
how would we know what CNI plugin the user installed?

[2019-10-05 13:59] neolit123 commented on #1822
@kubernetes/sig-cluster-lifecycle

[2019-10-05 14:13] neolit123 commented on #1821
please prescribe a more recent docker version.
/assign @timothysc @mauilion
cc @kubernetes/sig-cluster-lifecycle

we should mind that test-infra / kubekins is still at `18.09`:
https://github.com/kubernetes/test-infra/blob/master/images/bootstrap/Dockerfile#L101
so the test-infra images do not provide signal for 19* yet, project wide.

for docker-in-docker / kinder / kubeadm-e2e on the other hand

[2019-10-05 14:22] neolit123 commented on #1820
@aaroniscode

ideally we should not include registry authorizations mechanisms as part of kubeadm.

as per:
https://github.com/containerd/cri/issues/1131#issuecomment-500075502

does crictl support the `--creds` as part of it's config or is this only supported from a CLI flag?

[2019-10-05 14:23] neolit123 commented on #1820
cc @bart0sh

[2019-10-05 16:23] neolit123 commented on #1818
@LuckySB

the fix is here:
https://github.com/kubernetes/kubernetes/pull/83528
but this will land in 1.17.

we can consider backporting to 1.15 and 1.16, but given there is a workaround and given the bug is non-critical, we might just add a note in:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#automatic-certificate-renewal

[2019-10-05 19:18] neolit123 commented on #1801
i've sent a couple of PRs:
- deprecate the flag
https://github.com/kubernetes/kubernetes/pull/83530
- add notes in the docs that the flag should not be used:
https://github.com/kubernetes/website/pull/16703

[2019-10-06 07:39] afbjorklund commented on #1822
Right, it was actually `minikube` that installed the configuration file (and not `kubeadm` itself)

What I meant is that it probably shouldn't delete any config files that it hasn't installed itself ?

[2019-10-06 10:15] rhatdan commented on #1822
You should at least check if the file is in the packaging database.  Don't remove files installed by RPM or APT.

[2019-10-06 13:01] neolit123 commented on #1822
given minikube installs files in that directory and given minikube uses kubeadm, it would be the responsibility of minikube to workaround potential conflicts or do required backups.

example output from reset:
[code]

kubeadm itself does not install any files in the directory, it's the CNI plugin that does that and the CNI plugins is the responsibility of the user or higher level tools. however no

[2019-10-06 13:01] neolit123 commented on #1822
CNI plugin files are not tracked in packaging databases, to my knowledge.

[2019-10-06 13:07] neolit123 commented on #1822
i have added this topic for the next kubeadm office hours agenda (this Wednesday).

[2019-10-06 13:17] LuckySB commented on #1819
You are right, this is my mistake, the bootstrap TLS procedure is used on the added control plane nodes.

my fix. Rotate kublet certificate on primary CP node by command
`kubeadm alpha kubeconfig user --client-name system:node:master-1.domain.tld --org system:nodes >kubelet.conf`

Looking forward to accepting https://github.com/kubernetes/kubernetes/pull/83339

[2019-10-06 13:17] #1819 closed

[2019-10-06 13:24] LuckySB commented on #1818
Thanks so much for a quick fix.

[2019-10-06 13:27] neolit123 commented on #1818
let's keep this open, until we decide if we want to add documention note here https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#automatic-certificate-renewal

[2019-10-06 13:58] neolit123 commented on #1820
@aaroniscode

for the kubeadm side to work, crictl needs to support authorization files in a default location, instead of only accepting `--creds` on the CLI.

this way any `crictl pull` call would read credentials from a config and not require the explicit `--creads` flag which kubeadm lacks. we have the option to expose the `USER:PASSWORD` using environment variables, but it feels like this woul

[2019-10-06 13:58] #1820 closed

[2019-10-06 14:12] aaroniscode commented on #1820
@neolit123 Is it at all possible that the `kubeadm` could leverage the credential provider inside Kubernetes?

https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/aws/aws_credentials.go

[2019-10-06 14:45] neolit123 commented on #1820
kubeadm should be cloud provider agnostic.

i think this only works for docker currently, even if the docs don't mention it.

this comment gives some explanations about the above package:

https://github.com/containerd/cri/issues/1131#issuecomment-481706725

i have not information for what is the future of `pkg/credentialprovider/aws` and credential providers.
most likely moving outside of k/k and

[2019-10-06 14:54] afbjorklund commented on #1822
For minikube we will probably just do like CRI-O does, and document it as a quirk of `kubeadm` ?
Normally people use dedicated VM's just for minikube, so they wouldn't try to use CNI for others.

For the default option, where we create and destroy a VM _just_ for minikube, we don't call "reset".
Instead the virtual machine is powered down and the disk destroyed. So it's only for the non-VM:

https

[2019-10-06 15:25] neolit123 commented on #1822
possibly referring to?
https://github.com/cri-o/cri-o/blob/master/tutorials/kubeadm.md#configuring-cni

it would have been fine if kubeadm didn't clean this directory at all, except that multiple CNI networks, can break `kubeadm init` cluster creation.

i figured that might be the case.

as pointed out earlier:

it really feels kubeadm shouldn't get into the package manager support and abstraction

[2019-10-06 15:40] afbjorklund commented on #1822
Yes, although I'm not sure I agree with the suggested cri-o workaround of moving the dir ?

So more likely it will be listed briefly under "paths that minikube delete will erase" or such

Indeed, the file created by minikube (k8s.conf) is **not** tracked by any package manager...

There is also no guarantee that kubeadm itself (or cri-o) is installed from such a package.

[2019-10-06 15:40] neolit123 commented on #1805
let me assign myself.
i did some experiments here and i'm not exactly sure why this would wait for 5 minutes.

the default backoff is much shorter so it must be something else causing such a big delay.

[2019-10-06 16:00] neolit123 commented on #1822
if cri-o is setup to use a different directory for it's CNI configuration, kubeadm will indeed not touch such a directory on `reset`. but CNI plugins configurations will still land in `/etc/cni/net.d/`, so such node will not work, unless the user manually copies the CNI plugin configuration to the `crio.network.network_dir` directory.

i haven't experimented with that.

@bart0sh @kad how are you h

[2019-10-06 16:08] aaroniscode commented on #1820
thanks @neolit123 . This is really helpful and makes sense. So once `containerd` has native support for ECR pull credentials, `kubeadm` will "just work".

[2019-10-06 17:19] neolit123 commented on #1805
ok, i remember seeing this problem at one point but cannot reproduce it anymore by trying a number of things.

the important part is:

my understanding here is that the `i/o timeout` error is something we cannot control the timeout of:
https://github.com/kubernetes/client-go/blob/master/kubernetes/typed/core/v1/configmap.go#L65-L76

[1]
one way is to modify client-go to support Timeout for `GetOpt

[2019-10-06 17:54] ereslibre commented on #1822
I think this is a reasonable thing to do, not removing anything in that directory and printing a warning as we are doing with iptables rules.

[2019-10-06 18:34] neolit123 commented on #1822
yet, i'm seeing a breakage if both Calico and Weave configs are present in subsequent cluster creations.

added this as an agenda item for the office hours.

[2019-10-07 09:51] rhatdan commented on #1822
Podman is definitely handled by a package manager.

rpm -qf /etc/cni/net.d/87-podman-bridge.conflist
podman-1.6.1-2.fc31.x86_64

[2019-10-07 10:00] rhatdan commented on #1822
@mheon FYI.

Would CNI work if we installed the configuration in a location like /usr/share/cni/net.d?

[2019-10-07 10:21] neolit123 commented on #1822
the CNI plugins that i tested on Ubuntu always install configuration in `/etc/cni/net.d/`.

[2019-10-07 13:41] mheon commented on #1822
@rhatdan We manually define the CNI config directories, so we could add an additional one if we wanted to. However, `/etc/cni/net.d/` seems to be the standard, and I don't think other installed runtimes would see our CNI configs by default if we put them elsewhere. Also, I'm honestly not sure how precedence works across multiple directories, which could make default network selection very confusin

[2019-10-07 15:10] timothysc commented on #1821
In walking their repo data (https://download.docker.com/linux) is looks like only 19+ exists on fedora channels while CentOS is still at 18.  We should leave this open to track as things shift.

[2019-10-07 15:29] yastij commented on #1821
+1 on not diverging. let's wait until we have a consistent version across the distros

[2019-10-08 09:24] fabriziopandini commented on #1821
+1 on not diverging

[2019-10-08 13:04] RainbowMango commented on #1805
@sttts Can you share your comments about this?

[2019-10-08 13:06] hunternins opened #1825 "K8S: convert “kubeadm init” command-line arguments to “–config” YAML-file equivalent"
## Is this a request for help?

**YES**

## What keywords did you search in kubeadm issues before filing this one?

- API.
- Config.
- YAML.
- Command line argument equivalents.

## Is this a BUG REPORT or FEATURE REQUEST?

**BUG REPORT** (i.e. undocumented feature for mapping two APIs against each other).

## Versions

**kubeadm version** (use `kubeadm version`):

- 1.15.4-00

**Environment**:
-

[2019-10-08 13:14] neolit123 commented on #1825
/triage support
/area UX

Q1

we have a long running problem of not having a good mapping between flags and config, there are some proposals in progress at the moment and long term we would like to simplify this.

the minimal config you are looking for is:
[code]

Q2

`experimental-cluster-signing-duration` is a flag for the controller manager and can be passed using "extra args", the tutorial is

[2019-10-08 13:14] #1825 closed

[2019-10-08 14:07] hunternins commented on #1825
@neolit123 Thank you for your help. It is appreciated.

[2019-10-08 14:16] neolit123 commented on #1825
@Dev0Null

please see:
https://github.com/kubernetes/kubeadm/issues/1040

and

https://docs.google.com/document/d/1Dvct469xfjkgy3tjWMAKvRAJo4CmGH4cgSVGTDpay6A/edit

ideally we would want this to apply to all components, however the proposal may see some opposition, thus we might end up doing only for kubeadm.

[2019-10-08 14:17] neolit123 commented on #1040
xref https://docs.google.com/document/d/1Dvct469xfjkgy3tjWMAKvRAJo4CmGH4cgSVGTDpay6A/edit

[2019-10-08 15:43] LSmyrnaios commented on #304
Hi, could you please re-consider implementing this `kubeadm status` command?
Today if I use the suggested "kubectl get cs" I get this weird output:

[code]

[2019-10-08 17:24] IAXES opened #1826 "Forcibly renewing apiserver.crt, admin.conf, etc. certs; along with kubelet PEM (and restricting lifetime/duration)"
# Is this a request for help?

Yes.

## What keywords did you search in kubeadm issues before filing this one?

* Certificates
* Cert rotation
* PKI
* kubelet
* kubeadm

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

* Bug report: unexpected functionality.

## Versions

**1.15.4-00**

**Environment**:
- **Kubernetes version**: `1.15.4-00`.
- **Cloud provide

[2019-10-08 17:43] neolit123 commented on #1826
the kubeadm certificate lifespan is not linked to `--experimental-cluster-signing-duration=0h15m0s`, which is the duration the CM uses to sign certificates. the kubeadm certificate lifespan is also hardcoded to 1 year, but in the kubeadm binary.

you can still rotate the kubeadm certs on any period time you prefer, but the value of 1 year cannot be changed (by design).

i do not recommend using --

[2019-10-08 17:43] #1826 closed

[2019-10-08 17:49] IAXES commented on #1826
@neolit123 Thank you for the clarication and help.

The only outstanding question that comes to mind is why the base64-encoded x509 data in `/etc/kubernetes/admin.conf` wasn't updated despite the `/etc/kubernetes/pki/*.crt` files being updated. Is there a way to manually trigger an immediate update of the `.conf` files too?

[2019-10-08 17:52] neolit123 commented on #1826
the `.conf` files should be updated by `sudo kubeadm alpha certs renew <file>.conf` or `all`. if you are seeing a bug please log a separate issue.

[2019-10-08 17:53] IAXES commented on #1826
@neolit123 Lastly, am I correct in assuming that, at least for `1.15.4-00` and onward, all certs (i.e. `/etc/kubernetes/pki/`, `/var/lib/kubelet/pki/`, etc), on the master and node, are automatically rotated (i.e. no manual intervention required), or do I still need a K8S job that periodcally rotates  the certs (i.e. via `sudo kubeadm alpha certs renew all`).

[2019-10-08 17:53] IAXES commented on #1826
I'll investigate that now and follow-up here (and with another issue/ticket if there's a problem).

[2019-10-08 17:56] neolit123 commented on #1826
1.15 is still in the support skew, but maybe we merged fixes for the `.conf` files in 1.16. i cannot recall.

kubeadm certs are only auto-rotated on upgrade, but that's still a manual trigger, so either way you are going to need a job to run periodically.

[2019-10-08 17:57] IAXES commented on #1826
Excellent. Thanks!

[2019-10-08 18:04] gdoctor opened #1827 "provide way to upload kubeadm and kubelet configurations to cluster"
FEATURE REQUEST:

There should be a way to upload a kubeadm configuration to a cluster, independent of `kubeadm init` and `kubeadm upgrade` commands (ie update `kubadm-config` in `kube-system` namespace as well create `kubelet-config-1.xx` configmap).

Updating/creating these two configmaps is important to both cluster initialization, as well as cluster upgrades via kubeadm. Imagine a scenario whe

[2019-10-08 18:14] IAXES commented on #1826
@neolit123 I stand corrected. `client-certificate-data` and `client-key-data` were being updated correctly, whereas `certificate-authority-data` remains unchanged when renewing certs (expected). This last point was due to a local script bug (now fixed). All is well.

[2019-10-08 18:15] neolit123 commented on #1826
great. thanks, for confirming.

[2019-10-08 18:29] neolit123 commented on #1827
your observation is true.

the patch node part being part of the phase is not a good replacement for `kubeadm config upload from-flags`. but maybe we should just deprecate it without replacement on the kubeadm side.
/assign @rosti

uploading configuration can be done with kubectl which is a pretty viable option.

/priority awaiting-more-evidence.

[2019-10-08 18:37] gdoctor commented on #1827
While your comment is definitely true, the challenging part of this whole thing is marshalling/unmarshalling the different kubeadm schemes as they evolve. In order to stay up to date with the latest configurations, it is far easier to use kubeadm directly to manage your configurations versus trying to manipulate these configurations on a case by case basis, either via kubectl, or via a third party

[2019-10-08 18:37] gdoctor commented on #1827
/open

[2019-10-08 18:38] gdoctor commented on #1827
/open

[2019-10-08 18:43] neolit123 commented on #1827
technically, both the kubeadm config that is on disk and the ConfigMap that is in the cluster are versioned. `kubeadm config migrate` allows you to manage conversion if needed and `kubectl` can be the tool used for the upload itself.

[2019-10-08 19:35] dannymk commented on #1817
Using Calico with these instructions:  https://docs.projectcalico.org/v3.9/getting-started/kubernetes/installation/migration-from-flannel

[2019-10-08 19:57] Klaven commented on #1738
@neolit123 I must have screwed up the reference as this has been merged and this issue can be closed now.

[2019-10-08 20:07] neolit123 commented on #1738
@Klaven
thanks, i guess the next step is to decide on the versioning of the validators repo and move them.

cc @yastij

[2019-10-08 20:07] #1738 closed

[2019-10-08 23:34] IAXES commented on #1826
@neolit123 Another question on the topic: do the services that use these certs (i.e. in `/etc/kubernetes/pki`) need to be restarted in order to be aware of the update and use the new files? If so, is there a "best" way to ensure all services using the certs are properly/fully restarted?

Thank you.

[2019-10-08 23:49] neolit123 commented on #1826
the certificate rotation is important on control-plane nodes.
so you can just reboot the control-plane nodes, as most users online tend to suggest.

an alternative approach would be:
[code]

[2019-10-09 00:14] IAXES commented on #1826
@neolit123 Last question on the topic: would it be reasonable to expect `kubeadm` to work normally (more or less) if I did a source dive and changed the `/etc/kubernetes/pki/` certs to expire after 30 minutes? I'd like to setup an automated regression/worst-case test to break my test setups.

Thank you.

[2019-10-09 01:14] neolit123 commented on #1826
the constant you want to change is here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go#L48

[2019-10-09 02:24] ierwind commented on #1563
would `kubeadm alpha certs check-expiration` work in kubernetes v1.11.3?

[2019-10-09 03:11] pytimer commented on #1563
AFAIK, this command not work in 1.11.3.

[2019-10-09 04:07] brightzheng100 commented on #970
What's the current status of this?

I think it's common to **update** some configs after `kubeadm init`, but I couldn't find any doc addressing this in a proper way, yet.

I personally expect something like:

[code]

or

[code]

So that we can update any components' config, especially ApiServer, ControllerManager, in a streamlined way. Thank you!

[2019-10-09 07:54] fabriziopandini commented on #970
@brightzheng100
see https://github.com/kubernetes/kubeadm/issues/1698

[2019-10-09 08:59] brightzheng100 commented on #970
That solution looks complicated and please proceed to make it a complete one!

Anyway, I tried it out by simply using the `kubeadm upgrade apply` command and it worked after some failures and experiments.

A detailed case could be referred from [here](https://github.com/brightzheng100/kubernetes-the-kubeadm-way/blob/master/docs/10-faq.md#how-to-update-kubeadm-config-after-kubeadm-init) -- hope it

[2019-10-09 11:38] neolit123 commented on #970
it's really not recommended and i'm trying to deprecate it because of the "failures" part that you mention. also its really not suited to reconfigure multi-control plane setups.

the existing workaround to modifying the cluster is:
- modify the `kubeadm-config` ConfigMap with your new values.
- modify the `coredns` and `kube-proxy` ConfigMap to match the `kubeadm-config` changes if needed.
- go to

[2019-10-09 11:39] fabriziopandini commented on #970
@brightzheng100 thanks for your feedback. UX is a major concern and this is why we are prototyping around this ideas

[2019-10-09 11:41] neolit123 commented on #1563
the command was added in 1.15.
you might be able to use by downloading a new kubeadm binary and call it `kubeadm-1.15` then try running it. i have not guarantees it is going to work.

your best option is to keep up with kubernetes and upgrade more frequently.

[2019-10-09 12:40] hayond commented on #1390
@Zhang21
after a lot of day and night research... i finally found a way to let k8s work over WAN.

short answer
1. `--apiserver-advertise-address=publicIP` is necessary,  this tell k8s worker communicate to master over publicIP. default is privateIP, will lead to `10.96.0.1:443: i/o timeout`.
2. node annotation `flannel.alpha.coreos.com/public-ip-overwrite=publicIP` is necessary，this set flannel p

[2019-10-09 13:11] qiangtang opened #1828 "Failed to parse subnet when creating IPv4/IPv6 dual stack"
## Versions
**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Ubuntu 16.04

- **Kernel** (e.g. `uname -a`):
Linux v6-master 4.4.0-21-generic #37-Ubuntu SMP Mon Apr 18 18:33:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

- **Others**:

## Wha

[2019-10-09 14:59] neolit123 commented on #970
As once we drive things by using kubeadm-config.yaml, the kubeadm-config ConfigMap will be updated accordingly.

joining new control-planes to the cluster would still need an updated version of ClusterConfiguration.

But I really found that sometimes the coredns pods would become CrashLoopBackOff.

sadly, there are many reasons for the coredns pods to enter a crashloop, best way is to look in the

[2019-10-09 15:11] neolit123 commented on #1828
/sig network
/priority awaiting-more-evidence
/assing @Arvinderpal

please take a look if you can.
thanks.

[2019-10-09 15:13] neolit123 commented on #1828
/assign @Arvinderpal

[2019-10-09 16:56] neolit123 commented on #1822
/assign @yastij

[2019-10-09 16:58] neolit123 commented on #1822
@afbjorklund we discussed today during the office hours and we decided that we are going to go with that proposal from @ereslibre :

[2019-10-09 19:58] yagonobre commented on #1821
+1 on not diverging

[2019-10-09 20:42] dlipovetsky opened #1829 "Make the host-scoped configuration observable"
As a user, I would like to be able to observe the _actual_ (i.e. with the default values kubeadm applies at runtime) host-scoped configuration used by kubeadm `init` or `join`.

Being able to observe this configuration would be especially helpful to debug clusters deployed with Cluster API. I filed https://github.com/kubernetes-sigs/cluster-api-bootstrap-provider-kubeadm/issues/265.

Today, I can

[2019-10-09 21:05] neolit123 commented on #1829
@dlipovetsky @rosti
i think what we can do here without changing too much is to dump the dynamically defaulted configurations as yaml in key locations on higher verbosity levels?

[2019-10-10 08:34] RA489 commented on #1793
/assign

[2019-10-10 08:35] RA489 commented on #1829
/assign

[2019-10-10 10:24] qiangtang commented on #1828
The dual stack option seems take effect when input single ip type cidr as below:
root@v6-master:~# kubeadm init --feature-gates=IPv6DualStack=true --pod-network-cidr=10.244.10.0/24 --service-cidr=10.244.20.0/24  -v=5
I1010 03:20:59.797672   22989 initconfiguration.go:102] detected and using CRI socket: /var/run/dockershim.sock
I1010 03:20:59.799780   22989 interface.go:384] Looking for default rou

[2019-10-10 11:24] qiangtang commented on #1828
Same issue when I created cluster with the config yaml by kubeadm:
[code]
[code]

[2019-10-10 12:13] neolit123 commented on #964
/remove-lifecycle stale

[2019-10-10 12:38] qiangtang commented on #1828
Also is this related with https://github.com/kubernetes/kubeadm/issues/1612 ?

[2019-10-10 13:04] #1787 closed

[2019-10-10 13:06] neolit123 commented on #1828
https://github.com/kubernetes/kubeadm/issues/1612
is our tracking issue for dual-stack support in kubeadm.
ideally @Arvinderpal should have a look at your report if/once he has the time.

[2019-10-10 14:10] Arvinderpal commented on #1828
@qiangtang looks like you're not using the latest kubernetes version. The following PR merged last week for handling a list of service subnets https://github.com/kubernetes/kubernetes/pull/82473
I would recommend building from the master branch directly. Also, refer to the `k8s-dual-stack` channel on slack for help.

[2019-10-10 14:19] neolit123 commented on #1828
thanks @Arvinderpal

closing as per the fact that this is bleeding edge, unsupported functionality in a stable k8s release.
/close

[2019-10-10 14:19] #1828 closed

[2019-10-10 18:50] matthewygf commented on #1264
have the same problem here ... on 1.15.2

[2019-10-10 21:33] neolit123 commented on #1766
xref https://github.com/kubernetes/kubeadm/issues/1807

[2019-10-10 21:38] neolit123 commented on #1356
should be removed in 1.17
added help-wanted please see OP for details:
https://github.com/kubernetes/kubeadm/issues/1356#issue-401399670

[2019-10-10 21:40] yastij commented on #1356
/assign
/priority important-soon

@neolit123 - I'll take a look

[2019-10-10 21:46] neolit123 commented on #1502
/close
our single config file already supports multiple yaml and json documents.

[2019-10-10 21:46] #1502 closed

[2019-10-10 21:48] neolit123 commented on #1135
reducing priority to backlog
PodSecurityPolicty is going away in the future replaced by new methods.

the flag is still recommended in 1.17.

[2019-10-10 21:51] neolit123 commented on #1658
missed the /close here.
we should delegate to etcdadm in the long term and not use the `kubeadm upgrade --config` pattern.

[2019-10-10 21:51] #1658 closed

[2019-10-10 21:52] neolit123 commented on #1356
@yastij thanks.

[2019-10-11 08:09] ezh opened #1832 "kubeadm losing enforceNodeAllocatable option"
## Is this a BUG REPORT
## Versions

[code]

[code]

## What happened?

I need to set `cgroupsPerQOS: false`
Here is a part of my kubeadm.yaml:
[code]
enforceNodeAllocatable must be empty because of
[code]
I provided explicit value with empty array.
/var/lib/kubelet/config.yaml haven't `enforceNodeAllocatable`. `kubeadm` is finished, but `kubelet` is unable to start.

The only solution is to manua

[2019-10-11 11:27] neolit123 commented on #1832
hello, this seems like a kubelet issue.

kubeadm itself does not manage this field.
instead of being preserved what value are you seeing for this field after kubeadm finishes?

also what is your kubelet version?

[2019-10-11 11:35] neolit123 commented on #1832
please answer the above questions, but i think you can workaround that by passing the flag from the kubeadm config like so for Init or JoinConfiguration:
[code]
xref https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

@rosti
is this because the KubeletConfiguration has
[code]

if the array is empty it's always defaulted to "pods"?
https://godoc.org/k8s.io/kubelet/config/v1bet

[2019-10-11 20:41] ezh commented on #1832
[code]
1. command line `--enforce-node-allocatable` is deprecated. We should use config instead;
2. I tried kubeletExtraArgs approach but this option was lost when I used `kubeadm join ...` on neighbor.

Am I correct? Or did I missed something?

[2019-10-11 21:27] fabriziopandini commented on #1766
https://github.com/kubernetes/kubeadm/issues/1807

[2019-10-11 22:57] neolit123 commented on #1832
this is true. but the config field does not work (see bellow).

JoinConfiguration also has
[code]
but this means passing `--config` on `kubeadm join` too.

PerQOS (--cgroups-per-qos) feature is turned on.

i'm closing this because this is a problem in the kubelet.
passing the empty list `[]` from the kubelet config does not work and the user has to pass the flag.

verified by testing locally using

[2019-10-11 22:57] #1832 closed

[2019-10-12 07:11] Davidrjx commented on #1688
@djbooya cloud you please share your basic env, like os, calico and coredns version .etc?

[2019-10-12 08:13] SataQiu commented on #1807
/cc

[2019-10-12 09:26] #1818 closed

[2019-10-12 15:16] djbooya commented on #1688
@Davidrjx - I have since upgraded to 1.16.1 and flannel has been upgraded to.  I no longer saw the issue from a brand new cluster install with these newer versions.

[2019-10-13 08:31] fabriziopandini commented on #1379
done in 1.16
/close

[2019-10-13 08:31] #1379 closed

[2019-10-13 09:58] fabriziopandini commented on #1829
As far as I remember all the node specific settings are already stored in the cluster (and kubeadm use them for upgrades). On top of my head:
- The cri socket and taints are stored with an annotation at node level
- The local API server address is stored in the kubeadm config config map

The only thing that is not stored in the cluster are the kubelet extra args, which are stored locally. however

[2019-10-13 10:15] fabriziopandini commented on #1827
My mayor concerns is what are the expectations when uploading a new kubeadm-config / kubelet-config object before upgrades.

Kubeadm upgrade (for in place upgrades) was not designed with configuration changes scenario in mind, and there are several reports about problems when going for this path

If instead you are going for node replacement (using kubeadm join instead of upgrades), my suggestion

[2019-10-13 15:41] neolit123 commented on #1827
`kubeadm config upload from-file` has been deprecated, but @gdoctor is correct that
`kubeadm init phase upload-config` is not a good replacement for it (see first post).
https://github.com/kubernetes/kubernetes/blob/f0e1d394f13560cd6094722ec0b3969b05830fd0/cmd/kubeadm/app/cmd/config.go#L283

i'm in favor of removing these command completely:
- `kubeadm config upload`
- `kubeadm config view`

becau

[2019-10-13 15:59] neolit123 commented on #1827
merging this with the older ticket:
https://github.com/kubernetes/kubeadm/issues/1827

[2019-10-13 15:59] #1827 closed

[2019-10-13 16:01] neolit123 commented on #988
see
https://github.com/kubernetes/kubeadm/issues/1827#issuecomment-541429602

i think we should remove the `kubeadm config upload/view` commands as they overlap with kubectl.

the phase does more than uploading the config.

ideally we should not support these commands solely for flag overrides.

[2019-10-13 16:02] neolit123 commented on #1685
adding help-wanted label.

[2019-10-13 16:08] ereslibre commented on #1685
Completely forgot that I was going to link my PR on this issue: https://github.com/kubernetes/kubernetes/pull/81179. It has been closed already because this will come directly implemented in golang (possibly https://github.com/golang/net/pull/55). Whenever that happens I will check if all use cases are covered.

The golang solution is definitely the right place to handle the generic use case, at l

[2019-10-13 16:08] neolit123 commented on #1431
good first issue guide:

- open a PR for kubernetes/kubernetes and remove this commented out test code:
https://github.com/kubernetes/kubernetes/blob/ddc4ed03657d6c8c009a5d915265d00cadcb634c/cmd/kubeadm/app/util/config/initconfiguration_test.go#L127

[2019-10-13 16:18] neolit123 commented on #1601
merging with https://github.com/kubernetes/kubeadm/issues/1413
that issue outlines the CLI flag problem and this one outlines the kubeadm config problem.

[2019-10-13 16:19] neolit123 commented on #1413
merging this issue with:
https://github.com/kubernetes/kubeadm/issues/1601

both config and CLI flags are not handled correctly in this regard.

[2019-10-13 16:19] #1413 closed

[2019-10-13 16:53] neolit123 commented on #952
i'm running the tests on a regular basis before a PR and i don't think the tests are *that* slow.
if someone thinks this is still a problem, please open a new ticket with precise details outlining problematic tests.

[2019-10-13 16:53] #952 closed

[2019-10-13 16:55] neolit123 commented on #1679
closing as the kustomize feature merged:
https://github.com/kubernetes/enhancements/pull/1159

[2019-10-13 16:55] #1679 closed

[2019-10-13 16:58] neolit123 commented on #1681
/assign @rosti
xref https://github.com/kubernetes/enhancements/pull/1256/files

[2019-10-13 17:01] neolit123 commented on #1661
merging https://github.com/kubernetes/kubeadm/issues/1633 here.
#1633 is about concurrent join.

[2019-10-13 17:02] neolit123 commented on #1633
merging with https://github.com/kubernetes/kubeadm/issues/1661

[2019-10-13 17:02] #1633 closed

[2019-10-13 17:19] fabriziopandini commented on #1661
Done

[2019-10-14 01:44] Davidrjx commented on #1688
@djbooya ok, thanks for your reply!

[2019-10-14 23:08] rulai-jianfang commented on #1500
I found another way to do it, planning to use ipvs instead of iptables:

1. Change the configMap of kube-proxy,  modify "mode" from "" to "ipvs"
[code]

2. Delete all the active proxy pods
[code]

3. Check the logs of new kube-proxy pods
[code]
Result: change to ipvs Proxier
[code]