[2019-01-24 10:13] RA489 commented on #1345
@mamer67 let me also try with kubeadm version v1.13.1 also so that we  can see if problem exists.

[2019-01-24 12:06] #1357 closed

[2019-01-24 16:19] jnummelin commented on #798
This is still happening with 1.13.2. IMO kubeadm should be clever enough to use different probe if `anonymous-auth` is set to false.

[2019-01-24 16:45] #1354 closed

[2019-01-24 19:54] dlipovetsky commented on #1358
Looks like this issue has come up before. Here's what the [API conventions say](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required):

[2019-01-24 20:07] neolit123 commented on #1358
thanks for the link ^.
we should definitely look into this. one problem as already mentioned is that the API is beta and we cannot change it quickly?

for now a workaround is to patch the marshaled yaml string, which isn't great solution.

[2019-01-24 22:01] bitva77 opened #1360 "CoreDNS Service - add "metrics" port - 9153"
## Is this a BUG REPORT or FEATURE REQUEST?

Both? Either?

## Versions

**kubeadm version** (use `kubeadm version`):  1.13

**Environment**:
- **Kubernetes version** (use `kubectl version`):  1.13
- **Cloud provider or hardware configuration**:  bare-metal
- **OS** (e.g. from /etc/os-release):  Red Hat 7.6

## What happened?

The CoreDNS Pods have a metrics port (9153) defined but not the CoreDNS

[2019-01-24 22:36] dannyk81 commented on #1234
Hello,

Was just got hit by this issue, we are deploying K8s 1.13.2 with Kubespray and set `bind-address` for both `scheduler` and `controller-manager` to `0.0.0.0`, however the deprecated `--address` is still being added to the manifest and seems to take precedence.

I noticed that this was released as part of `1.14` alpha release, but looks like it didn't make it to 1.12 or 1.13 yet.

Is it poss

[2019-01-25 00:40] dlipovetsky commented on #1358
Agreed.

Specifically for users who want `kubeadm init` to not apply the `node-role.kubernetes.io/master:NoSchedule` taint--but continue to apply the `node-role.kubernetes.io/master` label--to masters, I think using the `node-role.kubernetes.io/master:PreferNoSchedule` is a workaround. With this taint, Pods will get scheduled on masters, unless other nodes have capacity. See [docs ](https://kubern

[2019-01-25 05:57] rajansandeep commented on #1360
/assign

[2019-01-25 09:30] adoerler opened #1361 "kubeadm alpha phase certs renew all should also update certs in KubeConfig files"
FEATURE REQUEST

## Versions

**kubeadm version** v1.12.5

**Environment**:
- **Kubernetes version** v1.12.5
- **hardware configuration**: 1 Master (VM), 2 Nodes (Hardware)
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.5 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`): Linux node1 4.4.0-141-generic #167-Ubuntu SMP Wed Dec 5 10:40:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

## What happened?

[2019-01-25 15:23] neolit123 commented on #1360
/lifecycle active
/sig network
/kind feature

[2019-01-25 16:23] MalloZup commented on #1361
@neolit123 i can have a look a this. E.g i can definitely update the documentation and explore  the rest of the points. Imho we could as suggested print out some hints for improving UX. For doing stuff automatically, i think  i will need to check

[2019-01-25 16:25] neolit123 commented on #1361
@MalloZup
of course, but please note that the join phases are a high priority.

[2019-01-25 16:39] neolit123 commented on #1361
sounds good! thanks a lot.

[2019-01-25 16:53] #1321 closed

[2019-01-25 17:26] fabriziopandini commented on #1359
@yixianhuang if you are using local etcd, it is much easier to let kubeadm set etcd extra args and all the certificates sans. Kubeadm will give you same defaults. If you instead override this values in the config intentionally, you should know very well how ha works in kubeadm.

Finally, please take care of copying only the certificates specified in the documentation, otherwise you risk to have  p

[2019-01-25 17:30] iverberk commented on #1321
@ereslibre and others, just wanted to say a big thank you for investigating this! It's great to see such commitment on making kubeadm a great tool to use.

[2019-01-25 18:18] timothysc commented on #817
https://github.com/kubernetes/kubernetes/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+ipvs+label%3Asig%2Fnetwork+

clearly is not ready for defaulting

[2019-01-25 19:06] fabriziopandini commented on #1349
@pytimer This was discussed last kubeadm office hours
As of today kubeadm does not support custom selection addons
- you can choose between CoreDNS or kube-dns only
- there are no alternatives to kube-proxy
Using kubeadm Init phases you can create clusters without addons, but then you are on your own for join and upgrades because those workflows are not yet flexible as init (with phases)

However

[2019-01-25 20:04] #1360 closed

[2019-01-25 23:05] timothysc commented on #1355
This isn't a kubeadm issue, but a user permissions issue.

[2019-01-25 23:05] #1355 closed

[2019-01-25 23:54] neolit123 opened #1362 "update the document about CLI reference docs"
after https://github.com/kubernetes/kubernetes/pull/70052 merges we need to update our guide for contributing reference documentation to `k/website`:
https://github.com/kubernetes/kubeadm/blob/master/docs/updating-command-reference.md

the process will change slightly with regard to not copying placeholder docs from `k/k` in `k/website` PRs.

[2019-01-26 03:09] yixianhuang commented on #1359
if you use advertiseAddress ,you can get de corrent ip.but I get another problem.
`apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "192.168.33.61"
  bindPort: 6443`

[2019-01-26 03:09] #1359 closed

[2019-01-26 15:05] ereslibre commented on #1204
`control-plane-prepare` phase is ready for review in https://github.com/kubernetes/kubernetes/pull/73145/

[2019-01-27 14:09] joeke80215 commented on #1153
I fixed it by removing /etc/systemd/system/kubelet.service.d/20-etcd-service-manager.conf

[2019-01-27 21:49] timothysc commented on #1346
/assign @timothysc

[2019-01-27 22:07] timothysc commented on #1350
This is a broader topic and we should loop in @kubernetes/sig-auth-misc on approach + fixes.

[2019-01-27 22:56] liggitt commented on #1350
For the immediate question, the signing cert/key given to the controller manager should be distinct from the trust bundle. Coupling the two and having kube-controller-manager treat the first cert in the bundle specially seems ill-advised, since order in trust bundles is not typically significant.

[2019-01-28 07:22] fabriziopandini commented on #1282
@timothysc @luxas @neolit123
I think this should be closed in favour of https://github.com/kubernetes/website/issues/12328
Wdyt?

[2019-01-28 08:34] adoerler commented on #1361
Hi,

there is one more thing regarding this topic.

`kubeadm alpha phase kubeconfig all` shows this message if conf files are in place when issuing the command:

[code]

It does not check if certs are expired, so in my opinion `up-to-date` is missleading.

To get the updated certs into the files one MUST remove the files upfront, than the log looks like:

[code]

In my case I though I'm fine, but

[2019-01-28 08:38] dimmg commented on #1292
disabling `dnsmasq` for network manager and commenting out `dnsmasq` nameservers, did the trick for me!

[2019-01-28 09:57] ghglza opened #1363 "kubeadm/k8s 1.13.2 + weave 2.5.0 + cri-o v1.13.1dev connect host network pods w/ wrong IP"
**What happened**:
I have set up a k8s v1.13.2 cluster via kubeadm on CentOS 7.6 provisioned VirtualBox VMs.
I use Weave 2.5.0 as CNI plugin, and CRI-O (commit 1fecbd3cd built from source) as runtime.

The VMs have the standard VirtualBox NAT IP interface as eth0 on 10.0.2.15, and an additional host-only virtual NIC configured on 192.168.99.x
kubelet node IP is set to an 192.168.99.x address via d

[2019-01-28 14:41] neolit123 commented on #1282
+1 for close.

i definitely think this should not be a sig-cluster-lifecycle only task.
what we discussed in the latest WG-LTS meeting is the following:

- we need to create a YAML file in k/k that has a support matrix of the current release with regard external deps (this needs a sig-arch stamp). people were mostly +1 on this.
- after we have the YAML we need to educate contributors (i'm throwing

[2019-01-28 15:30] neolit123 opened #1364 "Remove rktlet from the CRI install docs"
as commented by @rosti on slack

[2019-01-28 16:26] phoenixking25 commented on #1364
working on this @neolit123

[2019-01-28 17:09] rosti commented on #1117
As the main PR is now merged, I think, that we should document this somewhere. Most importantly, we should document the sockets and CRIs we are able to detect as of 1.14.

@neolit123 et al, I think, that these are the possible places for that purpose:
- https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-runtime
- https://kubernetes.io/docs/setup/independent/create-cluster-kub

[2019-01-28 17:12] neolit123 commented on #1117
this seems like a good place to mention the auto detection:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#initializing-your-master

[2019-01-28 17:56] ereslibre opened #1365 "`kubeadm init/join phase` is not checked for typos"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14+ (8b98e802eddb9f478ff7d991a2f72f60c165388a)

## What happened?

[code]

[code]

## What you expected to happen?

Error out with `phasee` is not a valid command for `join` or `init`.

## How to reproduce it (as minimally and precisely as possible)?

Build current master `kubeadm`

[2019-01-28 18:01] ereslibre commented on #1365
On a second thought I don't think we can fix `sudo kubeadm join phasee` in any case, as `phasee` will be interpreted as the master location for `kubeadm join <master>`

[2019-01-28 18:19] ereslibre commented on #1365
/assign

I'll investigate and give feedback here.

[2019-01-28 18:38] neolit123 commented on #1365
cc

[2019-01-28 19:33] chuckha opened #1366 "Fix failing unit tests"
## Is this a BUG REPORT or FEATURE REQUEST?
/kind bug

The tests should be able to be run on a workstation in order to improve developer velocity.

## Versions

**kubeadm version** (use `kubeadm version`):
a very recent commit, https://github.com/kubernetes/kubernetes/commit/8b98e802eddb9f478ff7d991a2f72f60c165388a.

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud prov

[2019-01-28 19:42] NicolasT opened #1367 "Support non-root control-plane services"
Currently (kubeadm 1.13), the services deployed using static manifests on the control-plane node(s) are running as the `root` user, even though this is not strictly required, as long as FS permissions on whatever is `hostPath`-exported in the Pods are set up correctly.

Using  `securityContext.runAsUser` and `fsGroup` one can set the UID and GID under which the process in the container should run.

[2019-01-28 20:03] chuckha commented on #1366
At least one error is because of platform differences. OS X will not pass the test we have for default configurations:

## TestConfigFileAndDefaultsToInternalConfig

https://github.com/kubernetes/kubernetes/commit/e1fdaa177f60e280669aef94074a21efd0d928ea introduces the failing test on !linux systems.

[2019-01-28 20:22] chuckha opened #1368 "Remove or fix dependency: difflib"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind cleanup

## Versions
Any recent version

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
I found a dependency that I don't think we w

[2019-01-28 20:33] neolit123 commented on #1368
aren't we using the same library in `upgrade diff`?

[2019-01-28 20:35] neolit123 commented on #1366
on Ubuntu 17.10 the only tests that fail for me are:
`k8s.io/kubernetes/cmd/kubeadm/app/util/system`

but it's kind of expected my system to fail these.
also, are we actually supporting unit tests on non-linux?

[2019-01-28 20:38] chuckha commented on #1366
I don't know if we're supporting it, but it is very convenient to run the tests outside of CI, especially for new contributors.

Here is the complete failure output I've got

<details>
<summary>Test Failure output</summary>
[code]
</details>

[2019-01-28 20:40] chuckha commented on #1368
we probably are. Perhaps we should consider adopting the unmaintained library into k8s?

[2019-01-28 20:41] neolit123 commented on #1366
on linux these are passing for me:
[code]

do you have a compiled binary?
what happens if you use `./hack/make-rules/test-kubeadm.sh` instead.
(it should build a binary)

[2019-01-28 20:43] neolit123 commented on #1368
from what i've seen if we want to fork the library the process has to be stamped by sig-arc.

[2019-01-28 20:44] neolit123 commented on #1368
/assign @timothysc

[2019-01-28 20:47] chuckha commented on #1366
It looks like the tests must be 1) run as root 2) run from hack/make-rules/test-kubeadm-cmd.sh and not using the standard go testing tools and 3) run on linux systems only.

This maybe is a documentation issue. Is there a developer's guide that documents this? Perhaps I missed a readme? I'm hoping it's my fault and not tribal knowledge

[2019-01-28 20:48] neolit123 commented on #1366
i found this the hard way. afaik there is no guide, but this is something for contrib-ex to consider, perhaps.

[2019-01-28 20:49] chuckha commented on #1366
Ok. I'll close this in favor of a new issue outlining how we could make this process less painful for new contributors (and existing contributors that haven't been paying terribly close attention >.<)

[2019-01-28 20:50] #1366 closed

[2019-01-28 20:58] chuckha opened #1369 "Improve contributor experience with a developer getting started guide"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Getting started developing kubeadm is a fairly painless process but there are a few gotchas that could make people's lives a lot easier.

I recently encountered trouble running the kubeadm tests and discovered these four gotchas that I had to untangle myself.

1. The tests must be run as root
2. The tests must be run through hack/make-r

[2019-01-28 22:23] ojmhetar commented on #1337
@fabriziopandini I feel that #1291 does not point out the [lack of a pod priority](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/scheduling/pod-priority-api.md#priority-and-qos-classes) for coredns. While kubeadm must set sane defaults for requests/limits, shouldn't coredns also have an appropriate `priorityClassName`?

[2019-01-28 23:11] fabriziopandini commented on #1365
Commented on the PR as well:

phasee is a valid host name, so args validation pass, but discovery will fail? We should make sure the error message is clear to the user (wrong master address)

No args works for generated phases sub commands, but we should change this differentiating from no-leaf phases (where noargs/no flags apply) and leaf phases (where args or flags apply)

[2019-01-29 00:37] neolit123 commented on #1368
@chuckha
hm, i don't understand where the `MISSING` strings are coming from and what kind of diff format is that.
is this something you've added?

looking at the `-` on the `-  nodefs.inodesFree: 5%!` line i assume this line was removed.

here is how we use it in upgrades:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/upgrade/diff.go#L136-L141

related issue, that may be

[2019-01-29 02:43] divyenpatel opened #1370 "Unable to deploy cluster using custom hyperkube image from my docker repository"
## Is this a request for help?
Yes

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
vSphere Cloud Provider
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

I have custom hyperkube image loca

[2019-01-29 06:53] fabriziopandini commented on #1337
@ojmhetar I think that priority should be set in a consistent way in all the components managed by kubeadm. This is why I grouped things in one issue - arbitrary choosen - and reported there the link to all the variations of the same issue (see [comment](https://github.com/kubernetes/kubeadm/issues/1291#issuecomment-452282756)), and then raised the topic at the planning meeting.
If you don't agree

[2019-01-29 09:46] rosti commented on #1365
We are supposed to have a single argument for `join`. If multiple ones are provided, then it's quite possible that there is a typo in the word `phase`. In that case we can try to turn the warning message [here](https://github.com/kubernetes/kubernetes/blob/2e90d92db9a807fcc140977e7a4798c6078014c2/cmd/kubeadm/app/cmd/join.go#L349) to an error message to reflect that. Not sure what deprecation polic

[2019-01-29 13:42] vjdhama commented on #1367
I would love to work on this as my first contrib to `kubeadm`.

[2019-01-29 14:56] divyenpatel commented on #1370
Thanks @fabriziopandini for Config file documentation.
I have already used imageRepository in the config file.

How do I specify image name and image tag.

Another thing  I could not find, How do I specify image repository for rest of the components - `pause `, `etcd `, `coredns`.

I want them to be pulled from default repository `k8s.gcr.io` and not from the repository where my hyperkube image is

[2019-01-29 15:50] neolit123 commented on #1370
`hyperkube-amd64:v1.13.1`
kubeadm adds the arch suffix automatically.
i guess you can also just rename it .

or your custom image has to be a FAT manifest:
https://docs.docker.com/registry/spec/manifest-v2-2/

the easiest solution is to push the missing images to your repo.

alternatively you can set individual `ImageMeta` for dns and etcd but not for pause:
https://godoc.org/k8s.io/kubernetes/cmd

[2019-01-29 17:33] yagonobre commented on #1367
Thanks @vjdhama
/lifecycle active

[2019-01-29 18:06] alejandrox1 commented on #1369
can I help out with this?

[2019-01-29 18:18] chuckha commented on #1369
@alejandrox1 yes! that would be great!

[2019-01-29 19:23] ereslibre commented on #1365
I wrote some thoughts in https://github.com/kubernetes/kubernetes/pull/73420#issuecomment-458639817

For allowing positional args in phases leafs I think we can do something similar to: https://github.com/kubernetes/kubernetes/compare/master...ereslibre:phases-cleanup-proposal

It would basically be a case-by-case basis, so one phase can specify that it requires N exact arguments, or N max argumen

[2019-01-29 20:05] ereslibre commented on #1365
This issue is not well defined.

Closing for now.

[2019-01-29 20:05] #1365 closed

[2019-01-30 01:26] jianzzz opened #1371 "Unable to create storage backend?"
**What happened**:
I am using kubeadm 1.13.0 to build my kubernetes service.
On my single master machine, kube-controller-manager、kube-scheduler is running by container way.
By kube-apiserver is failed:
Unable to create storage backend: config
...
err (asn1: structure error: tags don't match

**Environment**:
- Kubernetes version (use `kubectl version`): v1.13.0

[2019-01-30 10:57] bart0sh commented on #1322
@neolit123 This issue could happen because kubeadm overrides criSocket config option. See my PR  for further details.

[2019-01-30 13:48] neolit123 opened #1372 "Update CRI docs for Docker 18.09"
we had recent PRs to bump Docker in the kubeadm validation to 18.09:
https://github.com/kubernetes/kubernetes/pull/72823
https://github.com/kubernetes/kubernetes/pull/73457

this page needs updated instructions:
https://kubernetes.io/docs/setup/cri/

- in the sentence "On each of your machines, install Docker. Version 18.06 is recommended...". at the end of the sentence we need to add 18.09 to the

[2019-01-30 14:12] neolit123 commented on #1322
thanks for verifying @bart0sh
/close

[2019-01-30 14:12] #1322 closed

[2019-01-30 16:44] fabriziopandini opened #1373 "Tracking issue for Certificates copy for join --control-plane"
This is the tracking issue for the implementation of [Certificates copy for join --control-plane](https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/20190122-Certificates-copy-for-kubeadm-join--control-plane.md), original issue [here](https://github.com/kubernetes/kubeadm/issues/1200). Help is welcome! If you want to pick up some  help wanted activity just write it i

[2019-01-30 16:46] fabriziopandini opened #1374 "WIP - Upload encrypted certs on init"
This issue defines implementation details for "Upload encrypted certs on init" activity defined in https://github.com/kubernetes/kubeadm/issues/1373

PR#1: Extend `v1beta1` and `internal` config for managing the encryption key with:
- add new field `EncryptionKey string 'json:"encryptionKey,omitempty"'` into the `InitConfiguration` object
- add new field `EncryptionKey string 'json:"encryptionKey,

[2019-01-30 16:53] neolit123 commented on #1373
added myself to a couple of items.

[2019-01-30 16:55] yagonobre commented on #1374
I can take this

[2019-01-30 16:57] yagonobre commented on #1373
I can take
[code]

[2019-01-30 17:01] fabriziopandini commented on #1374
Thanks, @yagonobre! let's reach agreement on config changes before starting, so we can avoid some iteration on the PRs
/lifecycle active
/assign @yagonobre

[2019-01-30 17:47] neolit123 opened #1375 "Decide on how to handle the extra arg we use in `kubeadm join`"
we treat the extra arg for `kubaedm join` as an endpoint of the API server (or LB) this node want's to join.

[code]

i known phase that needs this arg is "boostrap".

cc @ereslibre @fabriziopandini

[2019-01-30 17:57] ereslibre commented on #1373
I can take `Use encrypted certs on join`

[2019-01-30 18:11] yagonobre commented on #1373
@ereslibre feel free to take this :)

[2019-01-30 22:10] MalloZup commented on #1373
i can take the ` E2E test cases for kubeadm-certs secret (on hold/help wanted)` for learning the E2E for kubeadm :rocket: .

If time allows i will might take also other interesting issues. ( should i create a sub-issue for that?). Tia

[2019-01-30 23:18] neolit123 commented on #1369
i don't seem to need to run these tests are root on my Ubuntu 17.10.

this command only runs the integration tests in `cmd/kubeadm/test`
i still run our per-package unit tests using:
`go test ./cmd/kubeadm/app/...`

this is k8s wide problem, though.
i don't have OSX or i haven't tried windows, but maybe users already expect Linux only?

we need to refactor the docker tests in:
k8s.io/kubernetes/cm

[2019-01-30 23:49] neolit123 opened #1376 "cleanup: master -> control-plane"
we still have a lot of places in user visible output and in the code base where "master" is used.
we should be using "control-plane/Control Plane/controlPlane" in all possible locations.

guide:
- clone the kubernetes/kubernetes repository
- `cd` the folder `./cmd/kubeadm` and use `grep` to search for the word `master` / `Master` etc...
- replace occurrences of "master" with "control plane" and se

[2019-01-30 23:49] alexbrand commented on #1285
To be able to scrape metrics on the secure port of the scheduler, we need to set the `--authentication-kubeconfig` and `authorization-kubeconfig` flags. We already do this on the controller manager.

In the case of the scheduler, where the flags are not set, any request to /metrics on the secure port are rejected, because they are not authentication/authorized. By setting the flag, we tell the sch

[2019-01-31 02:00] vanduc95 commented on #1376
@neolit123 I will work on it

[2019-01-31 02:45] yagonobre commented on #1376
Thanks @vanduc95
/lifecycle active

[2019-01-31 03:52] atoato88 commented on #1376
@vanduc95 It's OK for me.
Sorry for unclear action to this issue.
I should have said "I do this" at here.
If you create PR, can I review it, OK?

[2019-01-31 03:58] vanduc95 commented on #1376
@atoato88 yes, thanks.

[2019-01-31 05:08] RA489 commented on #1372
@neolit123 I can have a look.

[2019-01-31 08:34] RA489 commented on #1345
@mamer67 I checked on both versions v1.13.1 and v1.13.2 but  i couldn't find any missing config path "/etc/kubernetes/manifests".
![manifest](https://user-images.githubusercontent.com/40191615/52041642-06580d00-2561-11e9-9e36-67c25c1f491f.png)

[2019-01-31 09:50] bart0sh opened #1378 "Tracking issue for tracking forced configuration parameters"
This is a tracking issue for implementing correct handling of overriding configuration parameters. The goal of it is to list all overrides and decide how to handle them in a user-friendly and generic manner.

Currently at least some of the parameters are simply ignored, which confuses users. Example issues: #1254, #1252, #1028

[Preliminary list of parameters to check:](https://github.com/kubernet

[2019-01-31 09:58] rosti commented on #1375
Another phase is the pre-flight join phase. An API server endpoint is required to validate the `JoinConfiguration` if bootstrap tokens are used for discovery.
I do become more and more convinced, that we need to go down the `--api-endpoint=` road.

[2019-01-31 12:58] ghglza commented on #1363
Upgrading Weave CNI plugin to 2.5.1 didn't have any effect on the problem

[2019-01-31 13:04] yuexiao-wang commented on #1373
I will work on ` #1071 merge kubeadm upgrade node experimental-control-plane into kubeadm upgrade node (help wanted)`

[2019-01-31 13:10] neolit123 commented on #1375
:100:

[2019-01-31 14:20] fabriziopandini commented on #1378
Another kubeadm override I'm aware of is [here](https://github.com/kubernetes/kubernetes/blob/46fc4dd96aadd2287ebb3ae769240b368552e7bf/cmd/kubeadm/app/phases/controlplane/manifests.go#L204): it enforce authorization modes in the kube-apiserver overriding user ExtraArgs

[2019-01-31 14:31] chuckha commented on #1368
@neolit123 no, it's a go thing. My guess (and I haven't pinpointed it directly) is that there is a bug in difflib where if your diff contains a `%` then `fmt.Printf` at some point will think it needs to interpret that as a format and not a literal percent. Look at this: https://play.golang.org/p/iPCqoKTghav

[2019-01-31 14:36] chuckha commented on #1368
here is a minimal example to replicate:

[code]

output is:

[code]

[2019-01-31 14:39] neolit123 commented on #1368
yep, that's definitely bug. given upstream is not maintained, we can:
A) look for an alternative library.
B) do a private fork (i'm OK with using my account) and propose to the k/k maintainers to update the vendor to point to a private repo.
C) fork the project under k-sigs. this needs politics.

we can go for A) right now, IMHO.

/assign @timothysc

[2019-01-31 14:58] chuckha commented on #1371
@jianzzz Would you be able to provide a bit more information please? kubeadm config and more logs would help us know what else we need to assist in debugging.

/triage needs-information

[2019-01-31 15:03] chuckha commented on #1369
Even if it's a k8s-wide problem we can fix it for kubeadm and potentially propose a solution for the broader community.

I might have jumped the gun on needing root...but someone in chat was saying the tests tried to write to `/etc/`

[2019-01-31 15:11] bart0sh commented on #1378
@neolit123 How this will help to detect overrides made in user config (similar to failSwapOn)? For example, if user puts "makeIPTablesUtilChains = false" or "syncFrequency: 10s" or one of dozens other parameters into config and run "kubeadm init/join/upgrade/etc --config <config>" with it. User would expect those parameters to be used and kubeadm should warn user if it's not the case.

[2019-01-31 15:16] neolit123 commented on #1378
its manual, no detection.
there is no easy way to do detection and even if we can i don't think we should.

we basically need a wrapper that either updates + prints warning or a utility that prints that some fields were overwritten.

[2019-01-31 15:20] johnSchnake commented on #1057
I'm trying to figure this out a bit too. There confusion for me comes from the fact that the flag `--apiserver-advertise-address` is for the `InitConfiguration.LocalAPIEndpoint.AdvertiseAddress` which is for

	// In HA setups, this differs from ClusterConfiguration.ControlPlaneEndpoint in the sense that ControlPlaneEndpoint
	// is the global endpoint for the cluster, which then loadbalances the re

[2019-01-31 15:22] chuckha commented on #1345
@mamer67 When you install `kubelet` with deb/rpm it will automatically create the `/etc/kubernetes/manifests` directory. https://github.com/kubernetes/release/blob/master/debian/xenial/kubelet/debian/postinst#L35

This means that `kubeadm` expects that directory to exist before it is run. `kubeadm` will not take the liberty of creating the directory for you and so you must do it manually if you ha

[2019-01-31 15:22] neolit123 commented on #1378
in my opinion we should only address the kubelet overrides, for now.
but i will leave it to others to comment too.

[2019-01-31 15:36] rosti commented on #1358
I don't think, that this can be fixed in the context of `v1beta1`. Consider this config file:

[code]

As of now (with `omitempty` on `taints`) this will be defaulted to contain the master taint [here](https://github.com/kubernetes/kubernetes/blob/46fc4dd96aadd2287ebb3ae769240b368552e7bf/cmd/kubeadm/app/util/config/initconfiguration.go#L96), because `cfg.Taints` is nil.
If we remove `omitempty`, t

[2019-01-31 15:37] mamer67 commented on #1345
@chuckha I see. Let me then test again by getting the tools using RPM. I honestly thought that folder is getting created as part of the join/bootstrap process done by kubeadm.  Otherwise anyone running kubeadm from binaries will have to create that folder manually now.

@RA489 Thanks for your work above. I will try using RPM now and see.

[2019-01-31 15:39] timothysc opened #1379 "Tracking issue for kubeadm integration with kustomize"
## This a FEATURE REQUEST?

A number of feature requests we've had over time have all centered around the idea plumbing through options into what eventually becomes the end-state of a pile of YAML.  Some things make sense to expose as knobs, but other things don't.

The purpose of this issue is to explore the option and impact of what is would mean to add a kustomize step @ certain phases of YAML

[2019-01-31 15:44] chuckha commented on #1057
Let's reopen this and put it in the backlog.

I believe this is a historical problem. The kubeadm kubeconfig command existed before multi-control-plane installations were Easy. Now that they are we should support them by allowing users to generate kubeconfigs that point to the LB in front of all the control planes nodes.

[2019-01-31 15:48] RA489 commented on #1345
@mamer67 let me know if you need any help while installation.

[2019-01-31 15:50] rosti commented on #1358
/kind api-change

[2019-01-31 21:08] divyenpatel commented on #1370
Thanks @neolit123

Using following yaml file, I am able to pull etcd and CoreDNS from `k8s.gcr.io` repository.
But regarding `amd64 ` arch suffix, I am not sure where to specify this in the kubeadm config file?
For now I am using rename hack.

[code]

[2019-01-31 21:18] chuckha commented on #1370
@neolit123 kubeadm does not add an arch suffix to the container image name. In fact, we do the opposite. We've removed arch suffixes in favor of fat manifests.

@divyenpatel I think the problem is that you're publishing a hyperkube image with a specific arch embedded in the image name, but kubeadm requires you to publish a fat manifest and keep architecture embedded in the metadata not in the imag

[2019-01-31 21:30] neolit123 commented on #1370
@divyenpatel

basically your registry needs to include an image (manifest) that holds the architecture images:
please read this:
https://docs.docker.com/registry/spec/manifest-v2-2/

also have a look at the manifest for the official hyperkube image:
https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/hyperkube@sha256:f8b92881444cea9452faf82a69a2cc79a06c65c1eb34e1495a18612b879dfb01

[2019-02-01 05:57] ashishranjan738 commented on #1367
@vjdhama are you working on this issue. I was thinking of giving it a try ? cc @yagonobre

[2019-02-01 06:50] fabriziopandini commented on #1057
As of can of today the control-plane endpoint can be set on via config for the whole init workflow (top level command and all phases)
If we we adding a flag IMO we should do this consistently in the same perimeter, not for a single phase

[2019-02-01 07:16] fabriziopandini commented on #1378
My understanding is that so far we know only two points into he code where kubeadm makes overrides one for kubelet config and one for the API servers extra args; Overall there are less then 10 attributes overwritten by kubeadm.
If that's correct, I don't see value in investing time for building a sophisticated solution for detecting what kubeadm overrides. Let's keep this simple, even if this impl

[2019-02-01 10:23] chokhareganesh commented on #574
I had same issue, Probably my master and worker node had same name,

[2019-02-01 12:13] neolit123 commented on #1378
we can use an interface that collects the problem fields in a shared bucket and print them only on the CLI side.

[2019-02-01 12:58] johnSchnake commented on #1057
So you’re suggesting adding the config flag here as well @fabriziopandini ? I’d be on board for that rather than trying to add a control plane one everywhere else. 👍

[2019-02-01 13:20] neolit123 commented on #1290
ticked this item in the OP.
kops-aws was removed from PR blocking and release blocking due to an AWS account issue.
my understanding is that it might make it back in release blocking.

there is some chance that this can happen this cycle.
but this depends on sig-testing decisions.

in terms of our dashboard we are going to have kind jobs.

[2019-02-01 15:43] chuckha commented on #1345
That's out of scope for kubeadm. Kubeadm assumes configuration management/something will be taking care of system dependencies such as file system structure. However, I think we could do a better job enumerating what kubeadm expects a system to look like before it will work.

[2019-02-01 16:10] chuckha commented on #1057
I think we want some way for a user to know if a command takes a config or not. We discussed that kubeadm has two responsibilities the other day, one for managing local configuration and one for managing cluster configuration.

I'm almost starting to think kubeadm should be two commands or have some obvious way for a user to know if the command they are running takes a config or not.

Consistency

[2019-02-01 16:24] chuckha commented on #1378
Once we gather a list of everything that is overridden (we will miss some and that's ok, we can improve with time) we will have the ability to let the user know ASAP when we're about to override a value they've set. The printfs won't be nested deep in the code and it could be on initial validation. It does require maintaining a list by hand though.

[2019-02-01 16:40] mamer67 commented on #1345
OK. Thanks all for your help on this. Closing this now.

[2019-02-01 16:40] #1345 closed

[2019-02-01 16:42] rdodev commented on #1057
100% agreed with Chuck. It would seem kubeadm is blurring the lines of the principle of single responsibility here. Splitting out might be the answer.

[2019-02-01 17:39] johnSchnake commented on #1057
@fabriziopandini It does seem like we're talking around each other.

We all can agree to this now. The "problem" gets solved either way but I agree that relying on the `--config` flag would be more consistent/appropriate.

This command doesn't take the `--config flag` which surprised @chuckha and led to the discussion of splitting up some kubeadm responsibilities. Am I misunderstanding your point

[2019-02-01 18:01] fabriziopandini commented on #1057
Kubeconfig phases takes the config flags
https://github.com/kubernetes/kubernetes/blob/b5b627d522ed74549e2583b258a7df0e3ffd33ea/cmd/kubeadm/app/cmd/phases/kubeconfig.go#L114

[2019-02-01 18:19] #1372 closed

[2019-02-01 19:12] chuckha commented on #1057
ah, sorry about that. I missed the config in the help first time around. IMO this ticket can actually be closed then.

[2019-02-01 20:35] tcurdt opened #1380 "kubeadm init fails"
## What keywords did you search in kubeadm issues before filing this one?

init

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**

[code]

**Environment**:

- **Kubernetes version**

[code]

- **Cloud provider or hardware configuration**:

RPi3 B+

- **OS**:

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Others**:

## What happened?

Fresh install of

[2019-02-01 20:43] dlipovetsky commented on #1358
That's incorrect. As the below demonstrates, with `omitempty` removed, Go marshals a `nil` slice to `null`:
[code]
Output:
[code]

[2019-02-01 20:43] chuckha commented on #1057
ok, this was very confusing. There are two commands that are *almost* redundant.

`kubeadm init phase kubeconfig` and `kubeadm alpha phase kubeconfig user`.

The first one takes a config file and the second one does not. They are not exactly the same but they are very close and I think this issue can be closed because the former does take and respect a config file while the latter does not.

/clos

[2019-02-01 20:43] #1057 closed

[2019-02-01 20:52] johnSchnake opened #1381 "Overlap between kubeconfig phase and alpha kubeconfig command"
There are two code paths which are trying to accomplish the same work but there is some asymmetry that needs to be resolved and I'm not certain which direction to go.

There is the `kubeconfigPhase` which is a reusable phase of code which can take a `--config` flag and, as a result, can set the `controlplaneEndpoint`.

There is the `kubeadm alpha kubeconfig user` command which is completely unrela

[2019-02-01 22:51] neolit123 commented on #1380
RPI is problematic and we suspect that deeper problems exist - e.g. races in the kubelet.

please have a look at this solution and the related thread for failures on RPI:
https://github.com/kubernetes/kubeadm/issues/413#issuecomment-438695903

if this has worked before i can only suspect a flakyness that we do not account for on RPI.
the above solution fiddles with liveness probes.

you can also h

[2019-02-01 22:55] neolit123 commented on #1069
0.11 was released:
https://github.com/coreos/flannel/releases/tag/v0.11.0

TODO update docs (possibly tomorrow).
/lifecycle active

[2019-02-01 23:44] tcurdt commented on #1380
Thanks for quick update and the pointer to the other issue, @neolit123.

That does not read so well.
It really sounds like a race condition. I must have been just lucky before then.
I will try the initialization in phases and see if I can get it working that way - and then report back.

But what I really fail to see how this is not considered a bug.

[2019-02-02 00:04] neolit123 commented on #1380
we need someone on RPI to debug the kubelet and pinpoint the exact problem area.
it was agreed that this is not a kubeadm bug, because the default liveness probe values **should** work on slow machines too.

[2019-02-02 00:48] tcurdt commented on #1380
Now this was the plan
[code]
but `kubeadm` crashed 🤔
[code]

[2019-02-02 01:17] neolit123 commented on #1380
AFAIK, no.
because there is no proof it's the kubelet.

you can pass the config from the config.
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

it is relevant to the controller manager (so yes "control-plane" phase) and also kube-proxy.

	[WARNING FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml]: /etc/kubernetes/manifests/kube-apiserver.yaml already exists

t

[2019-02-02 01:31] neolit123 commented on #1380
this can only happen if the kubeconfig phase reads a corrupted kubeconfig file with missing cluster context. possible a side effect of not calling reset.

but yes, panics should be fixed....

[2019-02-02 01:34] tcurdt commented on #1380
I am still not convinced about the missing reset.
Where should the state come from when init has never been called so far?

I tried this anyway
[code]
and I am getting the same thing
[code]

[2019-02-02 01:40] tcurdt commented on #1380
Time to open the other issue for the crash.

But working around the crash - this is the config file `/etc/kubernetes/admin.conf ` after the crash. There is a cluster context. Any further ideas?

[code]

[2019-02-02 01:52] tcurdt opened #1382 "kubeadm panic during phase based init"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
RPi3B+

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

- **Others**:

## What happened?

I was trying to work arou

[2019-02-02 01:53] neolit123 commented on #1380
please, add `--v=1` to the last `init` call and show the output near:
[code]

this skipping of the CP phase used to work, so something broke it.

[2019-02-02 02:01] tcurdt commented on #1380
[code]

[2019-02-02 02:02] neolit123 commented on #1380
please show the contents of `/etc/kubernete/scheduler.conf`

[2019-02-02 02:10] tcurdt commented on #1380
That file has a length of 0.

[2019-02-02 02:14] neolit123 commented on #1380
posting in the panic ticket in a bit.

[2019-02-02 02:37] neolit123 commented on #1380
related discussion at reddit:
https://www.reddit.com/r/kubernetes/comments/afyir9/ubuntu_1804_lts_k8s_v1132_kubeadm_init_is_failing/

[2019-02-02 02:41] tcurdt commented on #1382
Hmm. What's the content of the file for you?

As for the questions:
* Disk space is more than enough still free (10GB+).
* The RPi3B+ is a quad core but only has 1GB of RAM.
* I've run this again while monitoring the RAM usage. It never even got remotely close to running OOM.
* I can try with another RPi3 (but I highly doubt that will change much).

[2019-02-02 02:45] neolit123 commented on #1382
a properly populated kubeconfig file for the scheduler.

[2019-02-02 02:47] tcurdt commented on #1380
Cool - I didn't find that one. Sounds very familiar.

Too bad that changing the timeouts (for some reason) doesn't help in my setup :-/

[2019-02-02 03:03] neolit123 commented on #1380
we have reports for production CNCF clusters running ARM64 and oddly enough these problems are only manifesting on RPI.

could be related to a family of CPUs and/or go compiler problems.

[2019-02-02 03:05] tcurdt commented on #1382
I am going through the code but so far I just don't see how it could fail writing after https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go#L93

[2019-02-02 03:08] tcurdt commented on #1380
But then it would be odd that many people get it to work on RPis - at least eventually.

[2019-02-02 03:35] tcurdt commented on #1382
Hmmmmmmmm. It worked on the other RPi

[code]

I'll try another fresh install on the other one.

[2019-02-02 13:32] neolit123 commented on #1380
you can also try to call the kubeconfig phase as a separate step:
[code]

untested.

[2019-02-02 14:14] tcurdt commented on #1380
Unfortunately that did not work :-/
[code]

[2019-02-02 14:30] neolit123 commented on #1380
try adding the `certs` phases and executing in this order:

[code]

[2019-02-02 14:40] tcurdt commented on #1380
Holy smokes - that worked! 🎉

[code]

[2019-02-02 14:44] tcurdt commented on #1380
I then installed flannel

[code]

and after a while - yay!
[code]

[2019-02-02 14:57] neolit123 commented on #1380
glad it worked out.

i cannot explain why the panic happens and that needs investigation.
will now close this issue and track the other one.

as mentioned, at some point we need test signal to be able to catch problems on ARM.

[2019-02-02 14:57] #1380 closed

[2019-02-02 14:59] tcurdt commented on #1380
Yes, the panic is really odd - and still leaves me a little puzzled.
But well - for that discussion we got the other issue.
Thanks for the help!

[2019-02-02 17:01] luxas commented on #1379
I'm not gonna have time to work on this quite yet, doing the other refactoring of the other components to use componentconfig first

[2019-02-02 23:46] neolit123 commented on #1069
looks like they forgot to update the manifest for 0.11.0 and it's still using 0.10.0 images :man_facepalming:

sent PR to fix that:
https://github.com/coreos/flannel/pulls

[2019-02-03 15:35] neolit123 commented on #1069
closing this ticked it seems that we have to maintain SHA's instead of tags until 0.12.

[2019-02-03 15:35] #1069 closed

[2019-02-03 17:36] neolit123 commented on #1304
it was agreed that this is not a bug and commands such as token should search in the KUBECONFIG env variable first.
`init` and `reset` on the other hand should search for the default kubeadm path first.

[2019-02-03 18:03] neolit123 commented on #949
/lifecycle frozen

[2019-02-03 18:04] neolit123 commented on #1362
/close
merged a PR for this: https://github.com/kubernetes/kubeadm/pull/1377

[2019-02-03 18:04] #1362 closed

[2019-02-03 18:05] neolit123 commented on #1200
closing in favor of https://github.com/kubernetes/kubeadm/issues/1373
please re-open if needed.

[2019-02-03 18:05] #1200 closed

[2019-02-03 18:11] neolit123 commented on #1188
can we close this @rosti ,@yagonobre ?

[2019-02-03 18:18] neolit123 commented on #683
moving out of the 1.14 milestone for kubeadm.

[2019-02-03 18:22] neolit123 commented on #1271
closing in favor of: https://github.com/kubernetes/kubeadm/issues/1040

[2019-02-03 18:22] #1271 closed

[2019-02-03 18:31] neolit123 commented on #1220
closed the existing PRs let's discuss again how we want to approach this in the 1.15 cycle.

[2019-02-03 18:43] alexbrand commented on #1304
There is no `KUBECONFIG` environment variable here.

The problem is that kubeadm uses the kubeconfig file in `~/.kube/config ` when the value of the `--kubeconfig` flag is `/etc/kubernetes/admin.conf`.

I have added some test cases below:

#### No ~/.kube/config file:
[code]
Result: Successfully creates token.

#### ~/.kube/config with a bad `server` entry (i.e. points to a non-existent server)
[c

[2019-02-03 18:47] neolit123 commented on #1218
1) this step is no longer needed for upgrades in 1.13.
`kubeadm alpha phase kubelet config annotate-cri --config kubeadm-config.yaml`

2) kubeadm auto-detects your Docker cgroup driver and you don't have to pass it via config:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#providing-instance-specific-configuration-details

this should not happen.

this ticket seems to accumulate

[2019-02-03 18:47] #1218 closed

[2019-02-03 18:50] neolit123 commented on #1304
my mistake for not clarifying,
`~/.kube/config` should **also** take precedence over the `/etc/kubernetes/admin.conf`.

this comment outlines the precedence and for which commands it is activated:

https://github.com/kubernetes/kubernetes/pull/71874#issuecomment-460072241

[2019-02-03 18:56] alexbrand commented on #1304
That seems confusing as a user?

As a user, when I specify the --kubeconfig flag, I would expect that to be the kubeconfig to be used, regardless of the value.

[2019-02-03 19:37] ereslibre opened #1383 "Tests are not passing with unprivileged user"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14+

## What happened?

Tests are not passing when run with an unprivileged user that has no rights to mkdir `/var/lib/etcd`.

## What you expected to happen?

Tests should pass.

## How to reproduce it (as minimally and precisely as possible)?

Run tests with unprivileged user that

[2019-02-03 19:37] ereslibre commented on #1383
/assign

[2019-02-03 20:51] MalloZup commented on #1071
@fabriziopandini i can take a look at this.

[2019-02-03 23:41] alexbrand commented on #1304
Yeah, exactly! Seems like we need a way to tell whether the user set the flag or not.

[2019-02-04 00:07] neolit123 commented on #1304
latest update of the PR should handle that:
https://github.com/kubernetes/kubernetes/pull/71874

[2019-02-04 07:39] RA489 commented on #1376
@vanduc95 are you working on this?

[2019-02-04 07:53] MalloZup commented on #1098
Thx @yagonobre 🎸😍🎶😊🦄

[2019-02-04 08:37] fabriziopandini commented on #1071
kk
/lifecycle active

[2019-02-04 11:03] RA489 commented on #1286
@luxas still we need enabling root-ca-cert-publisher? I mean can you add some more info about the problem if it is left disabled

[2019-02-04 12:44] frittentheke opened #1384 "Allow kubeadm to join by validating a provided CA certificate file instead of the CA hash"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm join
ca certificate
discovery-token-ca-cert-hash

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

Currently ```kubeadm join``` only accept either the hash of the CA certificate using the ```discovery-token-ca-cert-hash``` parameter or one can simply skip this validation and simply trust the next best con

[2019-02-04 15:59] chuckha commented on #1375
I think making `kubeadm init phase` and `kubeadm join phase` could be improved by flipping the commands around. I think about it like `kubeadm init` is a command that runs a set of phases. If I want to see which phases `kubeadm init` runs, I would do something like `kubeadm phases init` or some other method of filtering ALL phases by which command(s) they are associated with. Same logic applies to

[2019-02-04 16:55] chuckha commented on #1286
@RA489 This issue is about learning what that controller actually does and figuring out if we should enable it or not. If you end up doing that research, please update this issue with your findings. Perhaps that will spark a discussion that could be brought up the kubeadm meeting to see if it's something we want/need.

[2019-02-04 18:24] bboreham opened #1385 "Warning on kubeadm --config"
## BUG REPORT

## Versions

**kubeadm version**:
Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:05:53Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"

**Environment**:
Not important

## What happened?
`kubeadm init --help` says "WARNING: Usage of a configuration file is experimental."

[2019-02-04 18:30] stgleb commented on #1331
I have the same problem and did exactly whay you did @law @fabianofranz  , but finally I've ended up with

[code]

So kubeadm looks for TLS keys in directory even though I've provided ca key and cert. What I did wrong?

[2019-02-04 18:52] stgleb commented on #1331
I am wondering that after updating kubeadm-config with controlPlaneEndpoint kubeadm starts to expect to have all certs and keys in `/etc/kubernetes/pki` folder

[2019-02-04 20:23] fabriziopandini commented on #1379
This is indeed a good idea, even if currently the pile of yaml is super fragmented across the kubeadm code base, and not always managed consistently.

So it is important to decide since the beginning if we want kustomize applied selectively or if we should go for a deeper refactor: First generate all yamls, then kustomize, then apply to the cluster (kubeadm 2.0)

Another thing we should define is

[2019-02-04 21:02] law commented on #1331
I can't help but be curious - did you intend the path to be `/etc/kubernetes/pki/sa.key`, or perhaps `/etc/kubernetes/pki/ca.key` ?

[2019-02-04 21:07] fabriziopandini opened #1386 "Remove kubeadm alpha preflight"
After https://github.com/kubernetes/kubernetes/pull/73163 merged pre-flight checks for kubeadm join are now exposed as phase, so it is possible to remove `kubeadm alpha preflight` and its own only subcommand `kubeadm alpha preflight node`

[2019-02-04 23:14] stgleb commented on #1331
@law Sorry, that was my fault. I didn't copy CA certs and keys properly.

[2019-02-05 08:06] yagonobre commented on #1188
@neolit123 unfortunately not, I'll have a pr this week.

[2019-02-05 08:14] yagonobre commented on #1291
I can work on this
/lifecycle active

[2019-02-05 08:49] yagonobre commented on #1291
/assign

[2019-02-05 08:50] vanduc95 commented on #1376
@RA489, I am on Lunar new year holiday, I will working on this after the end of holiday.

[2019-02-05 08:51] yagonobre commented on #1373
/assign

[2019-02-05 10:41] stgleb commented on #1331
Just one more question, official docs on HA kubeadm clusters say that it needs loadbalancer. I see that you avoid that setting first master node ip as controlPlaneEndpoint. Is this  legitimate or a hack that should be avoided?

[2019-02-05 10:51] fabriziopandini commented on #1331
@stgleb all the nodes will be configured to communicate with the controlPlaneEndpoint, so if your first master goes away, your cluster will be stuck

[2019-02-05 11:01] fabriziopandini commented on #1373
@yuexiao-wang please sync with @MalloZup because he was interested in `#1071 merge kubeadm upgrade node experimental-control-plane into kubeadm upgrade node (help wanted)` too

[2019-02-05 13:20] yuexiao-wang commented on #1071
I will take this issue this week after talking with @MalloZup

[2019-02-05 14:39] fabriziopandini commented on #1291
@yagonobre fyi there is also https://github.com/kubernetes/kubernetes/pull/73649

[2019-02-05 14:47] #1385 closed

[2019-02-05 14:49] rosti commented on #988
@timothysc Sorry for the delay, I missed that one, because I was sick back then.

Given the fact, that we have a graduated phase (`kubeadm init phase upload-config`) then I think we can safely deprecate `kubeadm config upload from-*` stuff and hook `kubeadm config upload` as an alias to `kubeadm init phase upload-config`.

WDYT?

[2019-02-05 14:51] rosti commented on #839
@detiber are there any dependencies in particular, that CAPI folks want us to remove ASAP?

[2019-02-05 14:55] neolit123 commented on #988
+1 on my side given we have the phase now.

[2019-02-05 15:10] neolit123 commented on #1349
i will try to send a proposal patch for this in this cycle, but it will be in the lines of:
- show a warning instead of error-ing out.
- notify the user that this cluster (that lacks kube-proxy) is unsupported in upgrades etc,.

/assign

[2019-02-05 15:51] chuckha commented on #839
The dep graph isn't really that bad when we pull in kubeadm types:

[code]

These are the only deps from k8s that we would be pulling in. We also pull in a few more apimachinery packages but we're already vendoring a lot of apimachinery.

@rosti I'll look through these and see if any can be easily removed or if the packages we're pulling in are huge, but at first glance this looks pretty good.

[2019-02-05 15:55] dims commented on #839
@chuckha kubeadm itself does not look too good ( peeking at cmd/kubeadm/.import-restrictions ) right?

[2019-02-05 16:01] chuckha commented on #839
@dims I'm not familiar with `.import-restrictions`. I just found import-boss and need to do some reading. Can you expand on your comment a bit further?

[2019-02-05 16:11] chuckha commented on #839
Ah, you mean kubeadm the project, not just the types dep graph. Yes, we could probably prune some more dependencies from kubeadm. From my perspective though kubeadm is doing a good job since vendoring types does not result in a massive dependency graph. It would be cool to get rid of any more dependencies that we can, but the *types* from kubeadm api aren't so bad.

[2019-02-05 17:47] fabriziopandini commented on #1375
@chuckha Even i see your point about the single responsibility principle, but such change is not easy to achieve

In the short term, what I'm trying to do is to ensure that
- From a user perspective, `kubeadm init --help` will continue to show the init workflow/set of phases, while `kubeadm join --help` will show the join workflow/set of phases
- Even if technically possible, we are not considerin

[2019-02-05 18:54] Klmanjaro opened #1387 "kubeadm upgrade apply from 1.9.0 to 1.10.x hangs"
## Is this a request for help?
Yes.
I looked into various channels mentioned here and tried some of the workarounds.
But none have worked.

## Versions

**kubeadm version** (use `kubeadm version`):1.9.0
**Environment**:
- **Kubernetes version** (use `kubectl version`):1.9.0
- **Cloud provider or hardware configuration**:Linux OVM node
- **OS** (e.g. from /etc/os-release):OEL 7.5
- **Kernel** (e.g.

[2019-02-05 22:05] timothysc commented on #1387
1.9.0 is no longer a supported version.

[2019-02-05 22:05] #1387 closed

[2019-02-05 22:07] timothysc commented on #1384
I believe you can already do this today, but I need to verify.

/assign @timothysc

[2019-02-06 00:06] kfox1111 commented on #1223
What about having the kubelet upload its self signed ca to a configmap somewhere? the nodeadmission plugin could restrict it to just its own configmap. metrics-server can use it to contact the node.

[2019-02-06 08:13] valerius257 commented on #338
I know it's an old issue but may be my comment will be of use to someone.
Unfortunately solution proposed by @patricklucas and @weisjohn haven't worked for me so I've created my own:

[code]

[2019-02-06 11:40] phanikumarp opened #1390 "kubeadm init “--apiserver-advertise-address=publicIP” not working, private IP works 1.13 version"
BUG REPORT

## Versions

**kubeadm version** : v.1.13
 **Environment**: Ubuntu-16.04.5 LTS (Xenial Xerus)
- **Kubernetes version**  "v1.13.3
- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): ubuntu-16.04
- **Kernel** (e.g. `uname -a`):  Linux  ubuntu 4.15.0-1026-gcp #27~16.04.1-Ubuntu

## What happened?
 `"sudo kubeadm init --pod-network-cidr=10.244.0.0/16 -

[2019-02-06 12:18] stgleb commented on #1331
@fabianofranz can I set this param when do kubeadm init somehow?

[2019-02-06 13:58] wernerb commented on #1105
This happens in 1.13 as well

[2019-02-06 14:07] MalloZup commented on #1381
@neolit123 is ok for you if i take this one?

[2019-02-06 14:20] fabriziopandini commented on #1381
@MalloZup great! however, let's agree on a possible solution before start implementing

[2019-02-06 14:31] fabriziopandini commented on #1361
Assigned to @MalloZup

[2019-02-06 14:31] MalloZup commented on #1361
thx!

[2019-02-06 14:31] MalloZup commented on #1361
/assign

[2019-02-06 14:33] fabriziopandini commented on #1381
back on help/wanted as per slack disussion

[2019-02-06 15:01] johnSchnake commented on #1381
Per slack, it seems like there isn't concensus about expanding the logic around the `phase` code so that it can also customize user/organization? A short look at the code did make this seem a little awkward to do (but I don't have a lot of experience with the phase code yet).
 - Seems like a bad idea to try and expand config options since these would be optional, one-off things that arent related

[2019-02-06 15:24] mitchellmaler opened #1391 "External CA: kubeconfig file check still expects ca.key"
## Is this a request for help? No

## Is this a BUG REPORT or FEATURE REQUEST?
Bug Report

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:05:53Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}

**E

[2019-02-06 15:24] fabriziopandini commented on #1331
@stgleb yes, using the kubeadm config file. see https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2019-02-06 15:28] michaelfig opened #1392 "kubeadm join atomically cordon new node"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Please add a command-line option, say `--cordon` for `kubeadm join`, so that when the new node resource is created by kubeadm, the following is added:

[code]

This would be desirable for adding a node to a cluster but guaranteeing nothing (except for daemonsets) is scheduled on the new node.  Then, later, when say change control approv

[2019-02-06 15:57] onitake commented on #526
@hogepodge

We're still in the early alpha phase with our factored-out Cloudstack CCM, so the documentation is only that's written in the README: https://github.com/swisstxt/cloudstack-cloud-controller-manager/blob/master/README.md

Should we reformat this into something more in line with other cloud provider documentation or will this be ok?

[2019-02-06 17:59] NicolasT commented on #1231
At first I was concerned this would imply the pods to be restarted because the manifest would always change. However, that's fine because when upgrading kubeadm-based deployments you'll always have at least some updates to field in the pod, like image version (maybe except for `etcd` if the preferred version and configuration doesn't change across kubeadm/K8s versions, which you may not want to re

[2019-02-06 18:11] neolit123 opened #1393 "tracking issue for Windows support"
kubeadm currently does not work on Windows.
there are plans to try to get this back into shape in the 1.15 cycle.

kubernetes/enhancements tracking issue:
kubernetes/enhancements#995

KEP was added here:
kubernetes/enhancements#994

---
beta graduation:

- [x] split kubelet flags per OS
assigned: @gab-satchi
PR: https://github.com/kubernetes/kubernetes/pull/88287

~- [ ] upgrades~
upgrades were de

[2019-02-06 19:27] NicolasT commented on #1286
FWIW, looking at the implementation (pointers below), this seems to be a controller which creates, in every namespace, a `ConfigMap` called `kube-root-ca.crt` which contains one key, `ca.crt`, whose value is supposed to be the certificate of the root CA used to sign `kube-apiserver` TLS server certs.

Code pointers:
- https://github.com/kubernetes/kubernetes/blob/e9212eba2fdad170c4a2016262efab1f51

[2019-02-06 19:36] fabriziopandini commented on #1392
@michaelfig kubeadm already allows to set taints for the joining node using the configuration file
see `JoinConfiguration.NodeRegistrationOptions.Taints` https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1#NodeRegistrationOptions

[2019-02-06 20:24] neolit123 commented on #1390
this hints a bout a problem with your networking setup.
do you have connectivity to the remote?

what is the output of kubeadm if you add `--v=2`

[2019-02-06 22:33] MalloZup commented on #1361
hi @adoerler thx for issue. Regarding the misleading info i have sent a PR https://github.com/kubernetes/kubernetes/pull/73798.

I will have a look on the rest of the issue once i have time. Thx for the time and precision of the issue

[2019-02-07 00:12] michaelfig commented on #1392
@fabriziopandini, Most of the options in the config file can be specified with command-line flags, too.  The disadvantage I have in using the config file is that I have to also add all the options that I formerly used as command-line options to the config file.  This would be a lot less onerous if the command-line overrode the config file.

Also, the node's `spec.unschedulable` attribute isn't mod

[2019-02-07 02:58] timothysc opened #1394 "Change default cgroup driver to systemd and verify parity w/docker on preflight"
Default installs of docker still use cgroupfs and most of our supported userbase is on systemd systems, we should change the defaults and update instructions.

New Installs:
1 - Update the instructions for installation of docker to use `--exec-opt native.cgroupdriver=systemd`
2 - Verify that the kubelet.service file sets systemd flag to the kubelet.

Upgrades:
TBD

Preflight:
1 - Verify if the sys

[2019-02-07 03:44] pytimer commented on #1373
@fabriziopandini I can take the #1211 if the remove etcd members can be added to the reset process.

[2019-02-07 05:14] phanikumarp commented on #1390
No, not connecting remotely, using one of GCP VM directly.
added my log below. how reslove this issue?
[](https://pastebin.com/nNstHxvx)

[2019-02-07 07:00] fabriziopandini commented on #1373
@pytimer awesome, thanks!

[2019-02-07 07:19] fabriziopandini commented on #1392
@michaelfig flag config override is work in progress ATM.

With regards to the unschedulable flag I'm not aware of a kubelet flag that kubeadm can use to make this happen (but kubelet has tons of flags and knobs, so might be I'm wrong here)

I'm also hesitant in embedding in kubeadm assumptions about an external process/organisation that doesn't apply to all the use cases (rif change control team

[2019-02-07 12:44] bart0sh commented on #1378
Yet another issue that's caused by kubelet ignoring configuration file options. Copied from slack:
[code]

[2019-02-07 14:07] neolit123 commented on #1390
i cannot see the log for some reason.
but if you can't connect using tools like `curl` and `ping` then this is not a kubeadm bug.

[2019-02-07 14:18] neolit123 commented on #1394
we already have docs for setting systemd as the driver for both ubuntu and centos:
https://kubernetes.io/docs/setup/cri/

i think this preflight check should be warning only.

[2019-02-07 14:28] phanikumarp commented on #1390
Iam able to access curl and ping.

On Thu 7 Feb, 2019, 7:37 PM Lubomir I. Ivanov <notifications@github.com
wrote:

[2019-02-07 14:32] rosti commented on #1394
Actually, there is no mention there on what and why we do this.

[code]

[2019-02-07 14:45] neolit123 commented on #1394
yes, we need an expert to write a paragraph on why it's really needed and what could break.

[2019-02-07 14:55] neolit123 commented on #1378
the yaml unmarsal is case sensitive.
some of the fields in the above example are uppercase where they shouldn't be.

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2019-02-07 15:39] neolit123 commented on #1392
it might take a while before we support such a flag from the CLI, so better to move to the config if you need it in the near future @michaelfig .

but that won't solve the lack of `unschedulable: true`

the kubectl command modifies the value in the Node object.
we don't have a knob for that from kubeadm and also i can't find a way to do it from the kubelet.

i can see uses cases for this. then aga

[2019-02-07 15:48] divyenpatel commented on #1370
Thank you @neolit123 @chuckha @fabriziopandini for clearing doubts and helping on this issue.

[2019-02-07 15:48] #1370 closed

[2019-02-07 16:30] miry commented on #1290
Guys can you help me understand where I can find are all tests pass in k8s.io/kubernetes/cmd/kubeadm/app/util/config  ?

Currently I have next broken

[code]

And I wonder is it problem with local env and I missed something ?

[2019-02-07 16:35] neolit123 commented on #1390
/sig network

[2019-02-07 16:39] neolit123 commented on #1290
@miry
i tried the latest master branch and this package passes for me.

[code]

a couple of points:
- make sure you have the latest master and go1.11.x
- the diff library that is failing in this test is known to be buggy.

cc @chuckha

[2019-02-07 16:43] saichandergone opened #1395 "installing issue kubeadm init"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-02-07 16:48] #1395 closed

[2019-02-07 17:15] timothysc commented on #1291
needs
priorityClassName: system-cluster-critical

and remove older field (TBD)

[2019-02-07 17:25] neolit123 commented on #1171
@rosti do you think w can fix anything in here for 1.14?

[2019-02-07 17:36] neolit123 commented on #839
@rosti do we want to do something here or move to next cycle?

[2019-02-07 17:38] timothysc commented on #1074
Closing due to issue timeout and it doesn't appear to be kubeadm specifc vs. coredns config request.

[2019-02-07 17:38] #1074 closed

[2019-02-07 17:48] timothysc commented on #966
Closing this one due to overlapping other issues, and some of this has been addressed.

[2019-02-07 17:48] #966 closed

[2019-02-07 17:55] #1282 closed

[2019-02-07 19:00] BenTheElder commented on #1290
we have more CI work for kind going on (thanks @neolit123!), kops is still borked everywhere and removed due to billing account issues.

[2019-02-07 19:01] ereslibre commented on #1291
@yagonobre as per our discussion today, are you OK with me having a look at this?

[2019-02-07 19:04] ereslibre commented on #1291
Certainly, we were using `scheduler.alpha.kubernetes.io/critical-pod` annotation.

[2019-02-07 19:28] yagonobre commented on #1291
@ereslibre go ahead :)
/unassign

[2019-02-07 19:58] miry commented on #1290
@neolit123 Thank you for you help. I found why tests are not working for me: https://github.com/kubernetes/kubernetes/pull/67709/files , because I use MacOS. So it explains `-  nodefs.inodesFree: 5%`

[2019-02-07 20:01] neolit123 commented on #1290
this is sort of unrelated to this ticket @miry could you please file an issue in k/k and ping the author of that PR so that an implementation for another OS is added?
thanks.

[2019-02-08 03:07] neolit123 commented on #1394
/assign @mauilion
to drop us a quick write up why the users should match "systemd" everywhere.
i can send a docs PR for that.

[2019-02-08 10:57] RA489 commented on #1286
I think it will not harm to expose that CA certificate if we enable this controller.

[2019-02-08 11:53] Magikon commented on #1276
This is still an issue in version 1.13.3

[2019-02-08 12:40] rosti commented on #839
I think, that one can safely be moved to the next cycle. If there is something urgent, that needs to be done for this cycle, it will be far smaller and probably related to CAPI needs.

[2019-02-08 19:20] neolit123 commented on #1375
@ereslibre @fabriziopandini
i got this command line from a user today in a k/k issue thread:
[code]

this results in the following error:
[code]

the cause for the error is "interesting".

[2019-02-08 20:02] ereslibre commented on #1375
Colour me confused, :question:

[2019-02-09 04:05] zhangyelong commented on #1300
Got same error in kubeadm version 1.13.2, I tried to remove the node manually and update kubeadm-config, it doesn't work, the rest etcd nodes still try to connect the removed node

[2019-02-09 07:45] Slach commented on #1105
yes, same situation
--anonymous-auth=false broke kubeadm join in 1.13
have anyone workaround?

[2019-02-10 03:50] Alan111S commented on #302
I'm leaving a comment about this here as I ran into the same issue with a machine called 'localhost' registered on the Enterprise network. In my case, all I had to do was change the 'search' line in /etc/resolv.conf to start with 'localdomain' before any corporate domain names. This allowed 'nslookup localhost' to always actually search localhost.localdomain which resolves to the loopback address.

[2019-02-10 12:45] Radan16 commented on #581
@danroliver: Thank you very much, it's working.

It's not necessary to reboot the servers.
It's enought to recreate kube-system pods (apiserver, schduler, ...) by these two commands:

systemctl restart kubelet
for i in $(docker ps | egrep 'admin|controller|scheduler|api|fron|proxy' | rev | awk '{print $1}' | rev);
do docker stop $i; done

[2019-02-10 13:59] bart0sh commented on #1375
@ereslibre It's caused by missing parameter for --ignore-preflight-errors I guess.

[2019-02-10 17:36] nasir03082409229 commented on #1276
Any one who solved it ?

[2019-02-10 17:58] ereslibre commented on #1375
Summing up that case (with current master):

1. `kubeadm join 172.28.128.5:6443 --ignore-preflight-errors --token <token> --discovery-token-ca-cert-hash <hash>`

[code]

2. `kubeadm join 172.28.128.5:6443 --ignore-preflight-errorss --token <token> --discovery-token-ca-cert-hash <hash>`

[code]

3. `kubeadm join 172.28.128.5:6443 --ignore-preflight-errors= --token <token> --discovery-token-ca-cert-

[2019-02-10 19:11] ereslibre commented on #1375
In `kubeadm join 172.28.128.5:6443 --ignore-preflight-errors --token <token> --discovery-token-ca-cert-hash <hash>` (case 1) this is parsed as:

* Unnamed arg 1: `172.28.128.5:6443`
* `--ignore-preflight-errors` with argument `--token`
* Unnamed arg 2: `<token>`
* `--discovery-token-ca-cert-hash` with argument `<hash>`

:cry:

[2019-02-10 20:12] neolit123 commented on #1368
@chuckha

so there are a couple of problems here:

1) check https://github.com/kubernetes/kubernetes/pull/67709/files
this PR implements different defaults for linux vs non-linux in the kubelet.
and we need to handle that (possibly separate YAML per linux vs non-linux).

2) the example here: https://github.com/kubernetes/kubeadm/issues/1368#issuecomment-459366728
prints fine for me. but if i feed

[2019-02-10 20:13] neolit123 commented on #1368
actually let me create a separate issue for the unit tests.

[2019-02-10 20:17] neolit123 opened #1398 "fix broken initconfiguration unit tests on non-linux"
this PR broke unit tests in cmd/kubeadm/app/util/config/initconfiguration_test.go on non Linux:
https://github.com/kubernetes/kubernetes/pull/67709/files

we need separate YAML files for non-linux that have the minor difference in kublet defaults.

/assign
cc @chuckha @feiskyer

[2019-02-11 11:27] anguslees opened #1399 "`kubeadm join` aborts during CA key rotation"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:05:53Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes vers

[2019-02-11 13:20] MalloZup commented on #1361
@adoerler  i have sent a DOC pr for your suggestion. Feel free to have a look tia :rocket:

[2019-02-11 14:16] neolit123 commented on #1375
had a chat with @ereslibre on slack. the above is a cobra issue and we can improve it upstream, but probably only if we get a lot of user reports.

[2019-02-11 14:33] yagonobre opened #1400 "Move all constants to a single `const (`"
Move all `const` on file `cmd/kubeadm/app/cmd/options/constant.go` to a single `const (`

i.e:
[code]

/kind cleanup
/priority backlog
/help
/good-first-issue

[2019-02-11 14:38] MalloZup commented on #1400
markdown doesn't work for title :smile:

[2019-02-11 15:11] chuckha commented on #1117
Big +1 from me since cluster-api-provider-aws defaults to containerd now and it's not the nicest experience anymore.

One associated problem is that kubeadm is printing a stack trace for *users* to see in addition to a sufficient message for the user to debug. Kubeadm should only print the error message and not the trace in this case.

[code]

My hope is for this issue to fix the inappropriate sta

[2019-02-11 16:24] chuckha commented on #1368
@neolit123 ah that exact example breaks with the version d8ed262 which is the version vendored by k/k:

https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json#L2968-L2969

[2019-02-11 16:47] ensonic opened #1401 "kubeadm init exists before the cluster is fully functional"
## Is this a request for help?
no

## What keywords did you search in kubeadm issues before filing this one?
init/wait/coredns

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.2", GitCommit:"17c77c7898218073f14c8d573582e8d2313dc740", GitTreeState:"clean", BuildD

[2019-02-11 17:08] fabriziopandini commented on #1401
@ensonic
I'm not sure I understand your request considering that the DNS addon gets ready only after installing a CNI plugin, and this is by design not a kubeadm responsibility. Am I missing something?

[2019-02-11 17:15] ensonic commented on #1401
Thanks for the quick reply. The DNS work after a while, but not yet after `kubeadm init` finishes. Also FYI, this is a single node cluster and the config uses 'network-plugin: ""' (same setup like minikube uses).

[2019-02-11 17:59] rumshenoy commented on #1400
Hi @yagonobre, I would like to work on this issue.

Can you tell me how I can test this after I finish moving all constants into one `const`?

Thank you.

[2019-02-11 18:16] yagonobre commented on #1400
Thanks @rumshenoy,
you can run the tests `./build/run.sh make test WHAT=./cmd/kubeadm/app/cmd/`, and try to build kubeadm `./build/run.sh make build kubeadm`

/lifecycle active

[2019-02-11 20:01] adoerler commented on #1361
Hi @MalloZup,

thanks for PR!

I'm missing a sentence about the kubeconfig files, because `certs renew` is only one part of the game.
Something like:

[2019-02-11 20:57] MalloZup commented on #1361
Thx. I didnt add the doc because I was thinking that actually we could renew Also kubeconfig files. The rest restarting pods we can delegate to user and write minimal doc. @fabriziopandini @lubomir @ereslibre I m missing something on this implementation ? Tia

[2019-02-11 21:34] neolit123 commented on #1368
ok, understood.
i see the fix upstream here:
https://github.com/pmezard/go-difflib/commit/017ffa654c626b327474628673a99f0adb51e8c5

we should update that SHA to the latest version. asking what the policy about that is in #sig-release

[2019-02-11 21:46] neolit123 opened #1402 "update recommended Docker version to 18.06.2 in the docs"
update recommended Docker version to 18.06.2 in the CRI installation steps:
https://kubernetes.io/docs/setup/cri/

add note about CVE-2019-5736
https://access.redhat.com/security/cve/cve-2019-5736

steps:
- clone the kubernetes/website repo
- modify this file for both debian and redhat distros:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/cri.md
- send a PR

[2019-02-11 22:17] neolit123 commented on #1401
you still need to install a pod network plugin for the DNS addon to come up even in a single node setup.
i don't see how the pods of the DNS addon would ready up without that.

[2019-02-11 22:23] asauber opened #1403 "Cannot specify kubeconfig-dir in kubeadm config"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

When using the `kubeadm init phase kubeconfig` command, we can specify `--kubeconfig-dir` to choose the output directory for the generated kubeconfigs, as in the following example.

[code]

If we already have a `kubeadm` config file, we might expect to be able to add the key `kubeconfigDir` to the `ClusterConfiguration` in o

[2019-02-11 22:34] neolit123 commented on #1403
we might not want to add the field in the config but this seems like a bug to me:

can not mix '--config' with arguments [kubeconfig-dir]

given kubeconfig-dir is not something from the kubeadm API we should allow mixture of the flags `--config` and `--kubeconfig-dir`.

@fabriziopandini WDYT?

[2019-02-11 22:45] hpandeycodeit commented on #1402
@neolit123 I will work on this.

[2019-02-11 22:46] neolit123 commented on #1402
thanks @hpandeycodeit
/lifecycle active

[2019-02-12 01:50] yagonobre commented on #1276
I can't reproduce on 1.13.3
[code]

[2019-02-12 02:07] #1402 closed

[2019-02-12 02:08] neolit123 commented on #1402
updated in k/website:
https://github.com/kubernetes/website/pull/12591

[2019-02-12 07:38] o3o3o commented on #193
You may need to  execute the below command to  ensure:  the default policy is ACCEPT:
iptables -P INPUT ACCEPT
iptables -P FORWARD ACCEPT
iptables -P OUTPUT ACCEPT

And then and only then you can safely flush your rules:
iptables -F

[2019-02-12 09:44] rosti opened #1404 "Backtrace dumped if kubeadm reset fails to remove containers"
kubeadm >= 1.12 dumps a full blown backtrace if for some reason it is unable to cleanup containers upon reset. Seeing this is not a nice thing for users.

_Originally posted by @chuckha in https://github.com/kubernetes/kubeadm/issues/1117#issuecomment-462362594_

/lifecycle active
/kind bug
/area UX
/assign

[2019-02-12 09:45] rosti commented on #1404
/cc @chuckha

[2019-02-12 09:50] rosti commented on #1117
This is now implemented and documented, so I close it.

[2019-02-12 09:50] #1117 closed

[2019-02-12 10:38] wubigo opened #1405 "can't set/update etcd --advertise-client-urls to its node ether IP"
/kind bug
/area etcd local kubeadm
/priority important-soon

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.7", GitCommit:"65ecaf0671341311ce6aea0edab46ee69f65d59e", GitTreeState:"clean", BuildDate:"2019-01-30T05:04:00Z", GoVersion:"go1.10.7", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes v

[2019-02-12 12:18] spockmang commented on #1390
Hi,
I have reproduced your issue and found the root cause. Please find my analysis below.

During kubeadm init, kubelet will try to create kube-proxy, kube-apiserver, kube-controller, and kube-scheduller. It will try to bind all these services with the public IP address(GCP assigned) of the VM.

But the problem in GCP is, the public IP address does not rest on the VM, but it rather a NAT function.

[2019-02-12 14:41] #1404 closed

[2019-02-12 14:49] asauber commented on #1403
@neolit123 Why not make it a part of the kubeadm API?

[2019-02-12 14:56] neolit123 commented on #1403
@asauber since the configuration API is beta, every change (even if small) has to proposed in a kubeadm office hours meeting and discussed there.

not allowing a flag mix seems more like a bug to me.

[2019-02-12 17:41] NicolasT commented on #1286
No harm indeed, CA certificates should be 'ok for publication' by design, it's how X509 PKI works.

[2019-02-12 18:16] luxas commented on #1286
@kubernetes/sig-auth-feature-requests is this controller recommended to be on by default in v1.14?

[2019-02-12 18:30] mauilion commented on #1394
When systemd is chosen as the init system for a linux distribution. The init process generates and consumes a root cgroup and acts as a cgroup manager. Systemd has a tight integration with cgroups and will allocate cgroups per process. While it's possible to configure docker and kubelet to use cgroupfs this means that there are now two different cgroup managers. At the end of the day cgroups are u

[2019-02-12 20:12] admiller-usd opened #1406 "Api-Server tries to handshake with random ports (When using AWS ELB)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**: 1.13.3-00

**Environment**:
- **Kubernetes version**: 1.13.3-00
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.1 LTS (Bionic Beaver)
- **Kernel**: Linux ip-10-8-14-233 4.15.0-1025-aws

## What happened?
Kubeadm init fails to bootstrap the master control

[2019-02-12 20:23] neolit123 commented on #1406
this isn't really a kubeadm problem.
we don't have logic to handshake on a random port so this must come from the AWS cloud provider setup.

cc @chuckha @detiber

[2019-02-12 20:39] #1291 closed

[2019-02-12 20:40] #1398 closed

[2019-02-12 20:43] yagonobre commented on #1291
IMO we should add request/limit too.

[2019-02-12 21:22] admiller-usd commented on #1406
@neolit123 I wonder where this configuration would come from?

Doing a nslookup on the ELB's DNS results in two IPs, one in each availability zone.
The IPs being: 10.8.4.231 and 10.8.14.35
And we can see in the kube-api-server logs that it can successfully resolve those IPs. But then it starts handshaking with random ports. Is this solely to establish that the ELB is reachable?

[2019-02-12 21:44] yagonobre commented on #1406
@admiller-usd what health check are you using on the load balancer?

[2019-02-12 21:52] admiller-usd commented on #1406
@yagonobre
The load balancer says the EC2 instance is "InService" and "Healthy"
The health check configuration is as follows:

Ping Target | TCP:6443
Timeout | 5 seconds
Interval | 30 seconds
Unhealthy threshold | 2
Healthy threshold | 10

[2019-02-12 22:05] yagonobre commented on #1406
The problem was that the apiserver was unable to finish the tls handshake for the elb heath check.
You can change the Ping Target to `SSL:6443`.

Also as @neolit123 said this isn't a kubeadm problem.

[2019-02-12 22:20] neolit123 commented on #1015
@adoerler it seems like the unit file issue you outlined here is a separate one:
https://github.com/kubernetes/kubeadm/issues/1347#issuecomment-456739287

but you are right, we do recommend to use package managers in recent versions and by using a package manager a unit file will be updated as well. i guess that was a problem in the ->1.12 upgrade doc.

[2019-02-12 22:22] neolit123 commented on #1015
as far as this issue goes we are pushing a fix for a certain bug in our library for DIFF:
https://github.com/kubernetes/kubernetes/pull/73941

but this will only land in 1.14 and cannot be backported to older releases.

i'm going to have to close this issue, but if anyone finds a problem related to DIFF in 1.13 -> 1.14 upgrades please feel free to open a new ticket.

[2019-02-12 22:22] #1015 closed

[2019-02-13 01:29] #1368 closed

[2019-02-13 01:34] mauilion commented on #1394
@timothysc please take a look

[2019-02-13 03:51] yagonobre commented on #1376
Hey @vanduc95 and @SataQiu I saw that all of yours are working in the same issue, can you coordinating to avoid duplicated work? In general a issue with the label `lifecycle/active` means that someone is currently working on it.

[2019-02-13 07:10] SataQiu commented on #1376
@yagonobre Thank you for your reminding. I'm sorry that I didn't notice the `lifecycle/active` label.
@vanduc95 As the task has been assigned to you, I will not work in this issue more. Please go on with your work. Good luck!

[2019-02-13 08:35] fabriziopandini commented on #1403
@asauber is there a specific reason for changing the Kubeconfig folder?

@neolit123 AFAIK as I now kubeadm standardized a set of [well known file names and paths](https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/#constants-and-well-known-values-and-paths), so my take-away here is that `--kubeconfig-dir` should be considered only as an additional facilities that appli

[2019-02-13 09:25] fabriziopandini commented on #1286
@luxas
As kubeadm we are setting `--controllers=*,bootstrapsigner,tokencleaner`, and that means we are already enabling all on-by-default controllers. Is there anything on top of that we are expecting to do?

[2019-02-13 11:18] tnimni commented on #193
if you are using rancher you can go to kubernetes>infrastructre stacks
search for kubernetes pod and restart it

[2019-02-13 12:53] neolit123 commented on #1403
@fabriziopandini
i agree that the `-dir` flag should be isolated to the phase only.

@yagonobre sent this PR:
https://github.com/kubernetes/kubernetes/pull/73998

please review if you think we should also limit the scope of `-dir` in the same PR?

[2019-02-13 12:57] fabriziopandini commented on #1361
@MalloZup I have not a deep knowledge of how certs renewal works.

Personally, I would like to clarify a little bit the overall history before taking actions - included what proposed above - :
- what should be managed by `kubeadm alpha phase certs renew`
- what should be managed automatically during `kubeadm upgrade`
- what should be documented (and mananged by the users)
- how this apply to HA cl

[2019-02-13 13:07] neolit123 commented on #1361
i think we should reserve time on a meeting to discuss what our recommended certs renewal policy should be. the page about certs management might need some extra detail:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs

and we need to write a small guide, for single control plane clusters as a start at least.

what users have been doing is figuring things out on their own:

[2019-02-13 14:24] fabriziopandini commented on #1374
NB, as discussed in kubeadm office hours, we are starting without changes to the config

[2019-02-13 14:44] stgleb commented on #1223
Any ideas about that?

[2019-02-13 14:49] fabriziopandini opened #1407 "WIP - Use encrypted certs on join"
This issue defines implementation details for "Upload encrypted certs on init" activity defined in #1373

- Add a new flag `--certificate-key`;  this flag could be used in conjuction with the `--config` flag
- If `--control-plane` flag is set and the new `--certificate-key` is set, it will trigger a new `certs-download` subphase (to be added to the `control-plane-prepare` phase as first subphase,

[2019-02-13 16:37] timothysc commented on #1394
lgtm, @mauilion did you want to make the PR?

[2019-02-13 17:36] rosti commented on #1171
That's on my hit list starting from tomorrow.

[2019-02-13 17:45] #1403 closed

[2019-02-13 17:54] timothysc commented on #1278
closing, issue is stale.  Please reopen if the issue still exits and you can repro.

[2019-02-13 17:54] #1278 closed

[2019-02-13 17:57] timothysc commented on #1307
Closing because of the support window and change on versioning.

[2019-02-13 17:57] #1307 closed

[2019-02-13 18:14] neolit123 commented on #1394
@timothysc @mauilion i will do the PR later tonight.

[2019-02-13 18:15] neolit123 commented on #1394
/assign
/kind documentation

[2019-02-13 18:21] yagonobre commented on #1171
/lifecycle active

[2019-02-13 18:30] yagonobre opened #1408 "Alllow user to provide the certificate key on upload-certs"
- Add the `--certificate-key` flag to upload-certs phase, so user can provide the certificate
- Add the `--skip-certificate-key-print` flag to avoid printing the key

/area ha
/area ux
/kind feature
/priority important-soon
/lifecycle active

[2019-02-13 18:31] yagonobre commented on #1373
https://github.com/kubernetes/kubeadm/issues/1408

[2019-02-13 18:31] yagonobre commented on #1408
/assign

[2019-02-13 18:59] #1400 closed

[2019-02-13 19:05] pablochacin commented on #1027
@timothysc I'm interested in helping with this issue or taking it  as I understand it is related to the broader add-on issue as @neolit123  suggested.

[2019-02-13 19:26] neolit123 commented on #1027
here are some key points in this thread:
https://github.com/kubernetes/kubeadm/issues/1027#issuecomment-409266277
https://github.com/kubernetes/kubeadm/issues/1027#issuecomment-409263324
https://github.com/kubernetes/kubeadm/issues/1027#issuecomment-411453820

this isn't really a kubeadm bug, because in https://github.com/kubernetes/kubernetes/pull/65931 we arguably fixed a bigger problem. but wit

[2019-02-13 20:09] akmabrouk opened #1409 "Minikube has been a nightmarre for me to setup on my laptop"
My setup is:
latest virtualbox installed on command line on ubuntu 16.04  under vmware workstation
latest minikube installed
latest kubectl installed

# minikube start
Starting local Kubernetes v1.13.2 cluster...
Starting VM...
Downloading Minikube ISO
 181.48 MB / 181.48 MB [============================================] 100.00% 0s
Getting VM IP address...
Moving files into cluster...
Setting up c

[2019-02-13 20:30] neolit123 commented on #1409
hi, use this repo to report minikube issues:
https://github.com/kubernetes/minikube

[2019-02-13 20:30] #1409 closed

[2019-02-13 20:57] bart0sh commented on #975
@keithdadkins thank you for the less confusing warning message! I updated it as you've suggested in [this PR](https://github.com/kubernetes/kubernetes/pull/74033)

[2019-02-13 21:01] asauber commented on #1403
@fabriziopandini The reason that I need to change the kubeconfig folder is that I use the kubeadm phases facility many times in succession to generate certs and kubeconfigs for a number of clusters. I need to output the kubeconfigs for each cluster in a separate directory.

@yagonobre Thanks for the PR

@neolit123 Thanks for reviewing

[2019-02-13 21:14] lvangool commented on #1300
@pytimer Can you please elaborate on how you manually removed the old api-server?

I am running 1.13.3; removing the old server manually via:
[code]
I'm still not able to join the cluster due to the error:
[code]
I've then killed the api pods and the etcd pods (2 of each).

They get recreated, but I still have the same error when trying to connect the additional node.

[2019-02-14 07:56] RA489 commented on #1382
I tried this on centos but execution continues after [kubeconfig] and init suceeded.

[2019-02-14 08:09] fabriziopandini commented on #1403
@asauber Thanks for the explanation
If I got this right, the PR just merged is enough for making kubeadm fit for your use case and changes to the kubeadm config file are not necessary. Great!

[2019-02-14 08:18] tcurdt commented on #1382
@RA489 Thanks for trying - but this seems highly sensitive to the environment running in/on.
It failed on a RPi3B+ but succeeded on an RPI3B.

It even worked even on the RPi3B+ when I manually execute the init in the individual init phases. (see issue #1380 )

[2019-02-14 11:46] memorais commented on #1363
@ghglza I've a similar problem here with the same setup. In mi case core-dns pods can't start due to the following error:

Feb 13 17:51:29 localhost crio: time="2019-02-13 17:51:29.065295142-02:00" level=error msg="Error while adding to cni network: failed to find plugin "weave-net" in path [/usr/libexec/cni /opt/weave-net/bin]"
Feb 13 17:51:29 localhost crio: time="2019-02-13 17:51:29.085145284-0

[2019-02-14 13:40] ensonic commented on #1401
Like I said, we're using the 'noop' plugin and it does work. We're now just implementing the synchronization ourself.
In any case the point of the report is that it would be awesome if there is a way to check with kubeadm when things are ready (`kubeadm status`?).

[2019-02-14 13:50] bart0sh commented on #1382
@tcurdt @neolit123 I was not able to reproduce it in my environment.

After looking at the traces I can see the difference. It breaks here https://github.com/kubernetes/kubernetes/blob/v1.13.3/cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go#L235 which means that it was able to load configuration file.

However, on my machine it always exists here https://github.com/kubernetes/kubernetes/blob/v1.13

[2019-02-14 13:54] neolit123 commented on #1382
@bart0sh i suspect memory corruption on ARM - but this could be isolated to the RPI CPU.
we've seen similar problems caused by the go compiler for ARM in older versions - e.g. illegal instructions.

i still have a plan to send one minor patch related to this.

[2019-02-14 13:58] bart0sh commented on #1382
@neolit123 it could be so, but it doesn't explain the fact that it was able to load config file, does it?

[2019-02-14 14:29] neolit123 commented on #1382
it loads a zero byte config, which is a valid operation.
but from there interacting with this config is a panic.

[2019-02-14 15:20] asauber commented on #1403
@fabianofranz It helps somewhat, because now I don't have to pass the flags that are in my config to the phase, I just have to pass two flags. But why not incorporate all flags for each phase into the config? I have a `kubeadm` config file in one location in my codebase, and flags that will get passed to each phase in another location. It would be much nicer to only have one source of truth for th

[2019-02-14 15:30] bart0sh commented on #1382
@neolit123 where zero byte config comes from? I don't see it happening in my setup.

[2019-02-14 15:35] bart0sh commented on #1382
reproduced with empty config:
[code]

[2019-02-14 15:36] bart0sh commented on #1382
@neolit123 Do you have any idea why there is an empty config in @tcurdt's setup?

[2019-02-14 15:42] neolit123 commented on #1382
@bart0sh

from my earlier comment:

we need to reproduce and debug this on Raspberry PI. if you don't have one, just leave this issue for now.
AFAIK, ARM desktop machines are not affected by this bug or at least we haven't seen reports.

[2019-02-14 15:48] neolit123 commented on #1403
@asauber

next to this comment:

i would add that this flag is specific to a sub-phase and adding it in the wider init-configuration is less-likely.

but again discussion about this field can certainly happen.
if you wish you can join the kubeadm office hours meeting next week and bring this as an agenda item.

[2019-02-14 15:52] bart0sh commented on #1382
@neolit123 Would it make sense to fix it by checking if config.Contexts map has the expectedCtx/currentCtx before using it?

we can actually investigate it further with @tcurdt's help and find out where those empty or broken files come from.

[2019-02-14 15:56] neolit123 commented on #1382
yes, my idea was to apply a similar change across kubeadm (AFAIK we assume a valid config like that in more than one place). but as you can understand this will not fix the problem, only the panic.

please feel free to send a patch for the above if you'd like.

[2019-02-14 16:47] bart0sh commented on #1378
/help-wanted

[2019-02-14 17:04] bart0sh commented on #983
second attempt: Can anybody point me to the testing code where crictl tests should be implemented, please?

[2019-02-14 17:19] timothysc commented on #1349
TODO: document support level on these changes.

[2019-02-14 17:22] timothysc commented on #1346
/assign @Klaven

[2019-02-14 17:24] timothysc commented on #1361
/assign @ereslibre

[2019-02-14 17:29] timothysc commented on #1381
todo - remove the alpha kubeconfig command.

[2019-02-14 17:39] Klaven commented on #1346
/assign @Klaven

[2019-02-14 18:15] neolit123 commented on #983
reading the OP by @chuckha again.

i'm going to assign you to this as well but this is going to be very tricky @bart0sh
/assign @bart0sh

i don't have the bandwidth for this, this cycle and also currently i don't have all the details on how we should approach this for crictl and non-docker.

[2019-02-14 18:53] bart0sh commented on #983
@neolit123 I was hoping to use Kind for this. Is it reasonable hope?

I still don't have a clue where this should be implemented. My current guess is test/e2e_kubeadm, but I'm still not sure.

[2019-02-14 19:02] tcurdt commented on #1382
@bart0sh Have a look here https://github.com/kubernetes/kubeadm/issues/1380#issuecomment-459970197

...and also read the progress leading up to it.

Unfortunately I don't have the full output of `sudo ls /etc/kubernetes/` and `sudo cat /etc/kubernetes/*.conf`. I would have to re-do that. But the interesting part from the initial issue was that `/etc/kubernetes/scheduler.conf` had a size of 0.

Of

[2019-02-14 19:03] neolit123 commented on #983
kind currently only supports Docker as the CR on the nodes it creates.
i think it's out of scope for kind 1.0 (to be released with k8s 1.14) to support anything else.

if this is urgent for your company you can try patching kind to support crictl?
in terms of sig-cluster-lifecycle and kubeadm this is tricky...

we might bootleg a solution next cycle that runs crictl on a single control plane / kub

[2019-02-14 19:08] neolit123 commented on #1382
@tcurdt can you please run kubeadm trough something like delve or you debugger of choice:
https://github.com/go-delve/delve

also please see if you RPI distro has valgrind and run the binary through that.

[2019-02-14 19:16] bart0sh commented on #1382
@tcurdt Yes, the issue is that after ```kubeadm reset``` and ```kubeadm init phase control-plane all --pod-network-cidr 10.244.0.0/16```  0 size conf files appear in /etc/kubernetes. In my setup I don't see them there. So, the question is when they're created? ```kubeadm reset``` should remove all of them I believe. Can you confirm that they're created by ```kubeadm init phase control-plane all --

[2019-02-14 19:27] bart0sh commented on #983
Nope, not urgent. I'm just trying to understand how to test kubeadm with CRI-O runtime as I'm assigned to this issue.

[2019-02-14 21:29] kfox1111 commented on #1346
See above for a pr that fixes the issue.

[2019-02-14 21:31] neolit123 commented on #1346
@timothysc @Klaven
we had this PR for this:
https://github.com/kubernetes/release/pull/658

[2019-02-15 02:37] KeyaJohn commented on #1153
@fhemberger  how to solve it  ， the same question  ,  thanks

[2019-02-15 06:56] dimm0 commented on #1361
Our cluster with a couple hundreds users is stuck at the moment. Could I have a very quick guide what to do with expired cert?

[2019-02-15 07:01] oxful commented on #1335
good

[2019-02-15 07:47] abhijeetab07 opened #1410 "kubeadm init fails with error marking master: timed out waiting for the condition"
## Is this a request for help?
yes

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5", GitCommit:"32ac1c9073b132b8ba18aa830f46b77dcceb0723", GitTreeState:"clean", BuildDate:"2018-06-21T11:34:22Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
**En

[2019-02-15 10:29] yagonobre commented on #1410
Hi @abhijeetab07, thanks for you report, but  1.10 version is no longer supported.
/close

[2019-02-15 10:29] #1410 closed

[2019-02-15 11:06] rosti commented on #1171
The original issue was fixed in kubernetes/kubernetes#71315.
@tannh's issues seem fixed too.

I did a few tests with 3 invalid YAML files and init/join. I think, that the resulting error messages are desent and easy to understand at this point.
My test is not a complete one (I did not test all possible sub-commands and invalid configs), but I checked a few other commands and got the same errors.

[2019-02-15 11:09] rosti commented on #1171
This issue is has evolved into having a much larger scope, than it was originally intended. Also, the original issue is long solved now.

Thus, I'll close this one and ask users who spot bad and not easy to understand error messages to open new issues with the exact command and config (if any).

/close

[2019-02-15 11:09] #1171 closed

[2019-02-15 11:31] bart0sh commented on #975
/lifecycle active

[2019-02-15 12:45] wernerb commented on #1105
@timothysc this is still a real problem can you reopen?. There is currently no way with kubeadm in 1.13 to join the cluster (either control plane or regular) when anonymous auth is disabled as we see in this thread.

[2019-02-15 13:00] neolit123 commented on #1171
thanks for testing @rosti !

[2019-02-15 13:56] neolit123 commented on #1361
@dimm0

[#581 (comment)](https://github.com/kubernetes/kubeadm/issues/581#issuecomment-421477139)
^ this comment and one above contain user made guides.

these are the only guides we have ATM.

[2019-02-15 14:10] rastislavszabo opened #1411 "List Contiv-VPP as a Pod Network Provider"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

If possible, please list [Contiv-VPP](https://github.com/contiv/vpp) network plugin as a Pod Network Provider option in:

https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

Contiv-VPP is a Kubernetes CNI plugin for Kubernetes that employs a programmable CNF vSwitch based on FD.io VPP offering feature-rich, high-perfor

[2019-02-15 15:00] memorais commented on #1363
The problem for me was an wrong configuration in crio.conf. The option `plugin_dir` was pointing to the wrong directory.

I changed from `plugin_dir = "/usr/libexec/cni"`  to `plugin_dir = "/opt/cni/bin"` and everything worked as expected.

[2019-02-15 15:13] yagonobre commented on #1363
@memorais thanks for sharing it, @ghglza can you check if it solve you problem?

[2019-02-15 15:17] yagonobre commented on #1406
@admiller-usd Did the new elb config fixed your problem?

[2019-02-15 16:25] rosti commented on #664
Folks, the interpretation of the API server endpoint command line argument during join is misleading. In truth, this is used only during bootstrap and for nothing else. And even so, it's used only during token based discovery. They will be ignored (without even a single warning) with kubeconfig based discovery.

So there are really a couple of problems here:
- Bootstrap token based discovery API s

[2019-02-15 16:32] yagonobre commented on #664
+1

IMO we shouldn't overwrite this on join time, maybe we can have a command to update the Api Server Endpoint on `cluster-info` configmap

[2019-02-15 16:56] rosti commented on #664
I wasn't clear actually. By "modify the config" I meant to actually add a new field somewhere in the next config format (possibly `v1beta2`) and probably persist it somewhere in the cluster (node annotation?).
This needs some discussing though and probably won't happen in the current cycle (especially if we go along the "adding a config option" way).

What we can certainly do in this cycle is to a

[2019-02-15 17:04] ghglza commented on #1363
No -- after fixing the plugin_dir, host network pods are still bound to the wrong NATted IP.
But I CoreDNS works fine, although I run the pods w/ allowPrivilegeEscalation and have disabled the "loop" plugin.

A peculiarity is that while installing the cluster, k8s emits

 Warning   readOnlySysFS             Node   DOCKER RESTART NEEDED (docker issue #24000): /sys is read-only: cannot modify conntr

[2019-02-15 17:08] neolit123 commented on #664
Tim and Fabrizio sort of disagreed on that.
but i'm all +1 for running the GA deprecation policy on that arg.

it's nothing but trouble.

[2019-02-15 17:32] neolit123 opened #1412 "decide how to handle the breakout of the dockershim from the kubelet."
this issue tracks the dockershim deprecation / removal with some key events over time.

**summary** of the kubeadm stance for the dockershim removal:
- if only docker is present kubeadm will try to use it but a 1.24> kubelet will fail.
you'd have to build and deploy cri-dockerd on the host that exposes the dockershim CRI socket:
https://github.com/Mirantis/cri-dockerd
- if you have feedback about

[2019-02-15 17:47] rosti commented on #1412
I'll move in on this one.

/assign

[2019-02-15 17:57] hpandeycodeit commented on #1381
@timothysc if this issue is still open, I would like to work on it?

[2019-02-15 18:03] dimm0 commented on #1361
[code]

[2019-02-15 18:19] admiller-usd commented on #1406
@yagonobre Thanks for checking back in.

The new elb config did not fix the issue. I was skeptical that it would, because my understanding is that the ELB Health Check is solely for AWS to see what attached instances are actually listening (and the instance was marked as healthy).

However, I was able to successfully bootstrap a control plane node by running "kubeadm reset" and then running the "i

[2019-02-15 18:25] yagonobre commented on #1406
Hi @admiller-usd, on my tests using the `SSL:6443` on elb healthcheck stop the logs about tls handshake.

Did the first init timeout on the kubelet phase? I'll close this issue, but feel free to open a new if find another problem in the init workflow.

/close

[2019-02-15 18:25] #1406 closed

[2019-02-15 18:32] supershal opened #1413 "kubeadm init phase for apiserver does not accept multi valued flag in extra-args"
BUG REPORT
## Versions
**kubeadm version** (use `kubeadm version`):
kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
Hardware
- **Kubernetes version** (use `kubectl ver

[2019-02-15 18:36] neolit123 commented on #1361
in 1.13 init phases have graduated to to parent init command:
[code]

in 1.12 the flag should be there:
https://v1-12.docs.kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-phase-certs

1.11 is soon going out of support.

[2019-02-15 19:44] dimm0 commented on #1361
Would it be possible to re-join nodes without killing all pods on those? (without kubeadm reset)

[2019-02-15 20:03] dimm0 commented on #1361
@neolit123 What's the new command for `$ sudo kubeadm alpha phase kubeconfig all --apiserver-advertise-address 10.0.8.141 --node-name ip-10-0-8-141.ec2.internal` ? (step 5)

[2019-02-16 12:57] #1405 closed

[2019-02-16 13:19] wubigo opened #1414 "etcd-servers is not set correctly in static Pod manifest for kube-apiserver"
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.3-dirty", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"dirty", BuildDate:"2019-02-16T11:21:04Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: vers

[2019-02-16 17:36] neolit123 commented on #1414
hi,

that's not exactly true. for a control plane node (using the default kubeadm etcd setup). etcd and the api-server will be on the same host.

why are you considering this a bug ?

also this file is for testing purposes and kubeadm does not depend on it:

[2019-02-16 17:53] neolit123 commented on #1413
this is a bug.
thanks for the report @supershal
https://github.com/kubernetes/kubernetes/blob/a22763b24ee53b5efca5c60b000a63875a6b6f2a/staging/src/k8s.io/component-base/cli/flag/map_string_string.go#L25-L29

we need to set NoSplit=false

in the meantime the workaround and actual *recommended* method to handle the extra arguments is to use the kubeadm configuration!
https://kubernetes.io/docs/setup

[2019-02-16 20:00] ereslibre commented on #1407
PR submitted for early feedback: https://github.com/kubernetes/kubernetes/pull/74168. Based on top of still WIP PR https://github.com/kubernetes/kubernetes/pull/73907

[2019-02-17 14:50] wubigo commented on #1414
both  https://127.0.0.1:2379 and  https://192.168.1.9:2379 are valid etcd endpoint.

[2019-02-17 14:50] #1414 closed

[2019-02-17 18:56] rajibmitra commented on #1011
I would like to work on this if its still pending , please let me know.

[2019-02-17 18:58] neolit123 commented on #1011
@rajibmitra this PR was already sent, but we didn't decide on how to handle this check properly:
https://github.com/kubernetes/kubernetes/pull/68682

[2019-02-17 22:42] andrewsav-datacom commented on #1360
Is it possible to find out which release version this is going to be in?

[2019-02-17 22:55] neolit123 commented on #1360
@andrewrynhard 1.14

[2019-02-17 22:56] andrewrynhard commented on #1360
@andrewsav-datacom ^ :)

[2019-02-17 23:15] andrewsav-datacom commented on #1360
Thank you

[2019-02-18 01:20] #1394 closed

[2019-02-18 05:18] RA489 commented on #1408
@yagonobre Can i help on this?

[2019-02-18 06:26] yagonobre commented on #1408
Hey @RA489, sorry but I already have a pr for it, I'm just waiting the base pr get merged.

[2019-02-18 06:59] RA489 commented on #1408
@yagonobre Thanks for the info.

[2019-02-18 07:08] fabriziopandini commented on #1381
@hpandeycodeit great!
/lifecycle active

[2019-02-18 07:16] RA489 commented on #1413
@neolit123 can i take this issue?

[2019-02-18 09:45] rosti commented on #1413
@RA489 is working on this
/lifecycle active

[2019-02-18 09:50] rosti commented on #664
@neolit123 even if we don't go on the command line switch track, we can actually do a better job in documenting the arg, both in the inline tool help (`kubeadm join --help`) and in the website docs.
I assume, that better docs can (sort of) "fix" the problem too and that this can be done as part of the join phases docs write up.

[2019-02-18 11:19] rosti commented on #1413
@neolit123 Actually we need to set `NoSplit = true` (currently it's false). In that way we can use it on command line like the user suggested. Unfortunately, this has the potential to break some users as stuff that was previously invoked as `--apiserver-extra-args "Arg1=Val1,Arg2=Val2"` now have to be invoked as `--apiserver-extra-args "Arg1=Val1" --apiserver-extra-args "Arg2=Val2"`.

We can depre

[2019-02-18 11:37] RA489 commented on #1413
@rosti IIUC if we want Multiple flag invocations like --apiserver-extra-args "Arg1=Val1" --apiserver-extra-args "Arg2=Val2" then we need to set 'NoSplit=true' and when it is invoked as comma-separated key-value pairs
like --apiserver-extra-args "Arg1=Val1,Arg2=Val2" then we need to set  'NoSplit=false'.

[2019-02-18 11:42] rowshan commented on #789
I tried to connect slave to master node via:
`sudo kubeadm join {master_ip}:6443 --token qsyq32.jsvm1emj05bk85p5 --discovery-token-ca-cert-hash sha256:e4faf6143b282f0d6fc55ce5e563f748e06a258176497da36564aeeacsudo kubeadm join 10.147.69.63:6443 --token qsyq32.jsvm1emj05bk85p5 --discovery-token-ca-cert-hash sha256:e4faf6143b282f0d6fc55ce5e563f748e06a258176497da36564aeeac657dc0657dc0`
I checked the p

[2019-02-18 12:18] rosti commented on #1413
@RA489 precisely. In this issue the user cannot specify an API server parameter that can take multiple comma separated values (that would be `--enable-admission-plugins=LimitRanger,NamespaceExists` for the API Server in our case).
So the current way of having `NoSplit=false` does not allow us to do that via the command line.

[2019-02-18 12:41] gbailey46 commented on #1382
Works for me:

[code]

[2019-02-18 12:47] ghglza commented on #1363
Addition: I have removed privileges from the CoreDNS pod, and reenabled the loop plugin -- CoreDNS works fine.
So I think the wrong CRI-O plugin path configuration has no connection with the problem described in this report.

[2019-02-18 13:25] rowshan commented on #789
Here I would like to mentioned I have two different subnet for master and slave node.

[2019-02-18 15:04] ghglza commented on #1363
Further investigation reveals that the weave-net pods are restarted 1-2 times during cluster installation, after bailing out w/ message (excerpt from kubectl describe)

Readiness probe failed: Get http://127.0.0.1:6784/status: dial tcp 127.0.0.1:6784: connect: connection refused

resp. (from kubectl logs -p)

FATA: 2019/02/18 15:02:55.720507 [kube-peers] Could not get peers: Get https://172.19.0.1

[2019-02-18 15:18] neolit123 commented on #1413
@rosti i see what you mean.

https://github.com/kubernetes/kubernetes/blob/a22763b24ee53b5efca5c60b000a63875a6b6f2a/staging/src/k8s.io/component-base/cli/flag/map_string_string.go#L25-L34

with both true and false it would not work.

this:
[code]
sets the value to for plugins to `LimitRanger` only

`MapStringString` is not suitable for `enable-admission-plugins`.
so we either need a new flag or do

[2019-02-18 15:52] tcurdt commented on #1382
@gbailey46 can you please also add the exact environment you ran this on. Otherwise "works for me" is not exactly helpful.

[2019-02-18 17:12] gbailey46 commented on #1382
Rpi3B

[code]

[2019-02-18 17:16] neolit123 commented on #1382
@gbailey46
does it consistently work for you - e.g. multiple consecutive times?

@tcurdt
what differences do you have with the above setup?

[2019-02-18 17:19] tcurdt commented on #1382
Well, it worked for me on a RPi3B, too. It did not work on a Rpi3B+.

[2019-02-18 17:24] gbailey46 commented on #1382
Yes it works repeatedly.
I realised that the controller-manager.conf and scheduler.conf file were 0 bytes and that the init would use an existing file (and CA) if one already existed, hence potentially skipping the file create/write that seems to segfault.
On a whim I tried --dry-run and it completed without segfault. So I used the relevant CA and .conf from the --dry-run.

[2019-02-18 17:27] neolit123 commented on #1382
so it technically exhibits the same SIGSEGV behavior.

i also see the CPUs for the two boards are the same;
https://www.datenreise.de/en/raspberry-pi-3b-and-3b-in-comparison/

can someone test on a non-ARM Cortex-A53 board (if there is such a RPI) even?

also we still need help with someone debugging the root of the problem.

[2019-02-18 17:45] tcurdt commented on #1382
I was out of action the past few days but it's on my todo to have another closer look.

[2019-02-18 18:00] bart0sh commented on #1382
@gbailey46

Can you tell when they're created? Was it after running ```kubeadm init phase control-plane all``` ?

[2019-02-18 18:22] gbailey46 commented on #1382
They are created when you execute:

[code]

[2019-02-18 18:52] bart0sh commented on #1382
@gbailey46 thanks. That's very interesting. Looks like a race condition to me.  I don't see where in the code that could happen. will look again.

[2019-02-18 21:19] senpx commented on #1390
thanks, @spockmang for the insight. do you have the recommendation or step to make it work with public IP add ?

[2019-02-19 02:32] Halytskyi commented on #1300
Had the same issue in 1.13.3 (HA cluster setup: 3 master nodes + 3 workers). Successfully replaced master node only after next steps:

Delete node from cluster
[code]

Download etcdctl (for example, on master01)
[code]

Remove master node from etcd
[code]

Remove from kubeadm-config
[code]

[2019-02-19 02:41] pytimer commented on #1300
@zhangyelong Now kubeadm reset can't remove the etcd member, so you found the etcd cluster still connect the removed etcd node. You should manually remove etcd member using etcdctl now.

I send a PR to implement remove the etcd node when reset, you can see. https://github.com/kubernetes/kubernetes/pull/74112

[2019-02-19 02:44] pytimer commented on #1300
@lvangool You can follow @Halytskyi steps. The PR: https://github.com/kubernetes/kubernetes/pull/71945 fixes sync etcd endpoints when join the control plane node, can not remove the etcd member.

Remove the etcd member from the etcd cluster when reset, you can see kubernetes/kubernetes#74112.

[2019-02-19 05:02] phanikumarp commented on #1390
what is final solution for getting Public IP fof kubernetes

[2019-02-19 07:27] yagonobre commented on #1211
/remove-priority awaiting-more-evidence
/priority important-soon
/lifecycle active

[2019-02-19 08:59] RA489 commented on #1391
I can look into it.

[2019-02-19 10:04] rosti commented on #1352
Ok, this is a bit more complex than just a rename:

1. We need to unify the code, that is serving under "pull pre-flight check" and "kubeadm config images pull".
2. Certainly, what we are executing as a "pre-flight check" is an action and although we do it at pre-flight check time it is not such. Therefore it's best for it to not take the pre-flight check implementation model and not live in a fil

[2019-02-19 11:18] abizake opened #1415 "Kubeadm creating multi master cluster DNS Resolution not working"
## Is this a request for help?

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT
Choose one: BUG REPORT or FEAT

[2019-02-19 14:45] yagonobre commented on #1391
Thanks @RA489
/lifecycle active

[2019-02-19 18:21] neolit123 commented on #1204
thanks for everyone who contributed. all the PRs for phases are added.
we now need to focus on auditing them.

it will be OK to push bugfixes even after code freeze.

[2019-02-20 00:49] kuberkaul commented on #591
@sbezverk ever figured out why this was happening ?

[2019-02-20 00:52] sbezverk commented on #591
@kuberkaul by some reason api server was not approving certificate requests, after rebuilding cluster, the issue was gone.

[2019-02-20 02:20] spiffxp commented on #1264
/milestone clear

[2019-02-20 02:23] spiffxp commented on #918
/milestone clear

[2019-02-20 02:26] spiffxp commented on #1258
/milestone clear

[2019-02-20 06:44] pytimer opened #1416 "Add node affinity and tolerations for coredns"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Others**:

## What happened?

Use `kubeadm` create 3 ma

[2019-02-20 06:58] usuf4good commented on #339
kubeadm reset fixed the issue

[2019-02-20 09:35] xichengliudui commented on #1416
do you need to submit pr? Or can you assign it to me?

[2019-02-20 09:54] pytimer commented on #1416
@xichengliudui I don't know whether `kubeadm` needs to add  this feature, so i wants confirm is it correct that this feature add in kubeadm?

[2019-02-20 09:56] xichengliudui commented on #1416
ok，thanks. @neolit123  @fabianofranz

[2019-02-20 13:36] neolit123 commented on #1416
hello,

we don't support customizing addons such as DNS in such a way.
this is what is only supported currently:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go#L241-L245

you can modify that using kubectl, but please mind that we don't guarantee a clean upgrade path after such modifications.

https://github.com/kubernetes/kubeadm/issues/1091
was

[2019-02-20 13:36] #1416 closed

[2019-02-20 13:49] pytimer commented on #1416
@neolit123  Thanks. I know.

[2019-02-20 14:03] bart0sh commented on #1260
@rosti, @fabriziopandini Are we done with this? If not please let me know what else needs to be done to close this. thanks.

[2019-02-20 14:17] bart0sh commented on #983
Looks like at least some work related to this is ongoing in Kind.
I'm going to monitor these 2 issues:
https://github.com/kubernetes-sigs/kind/issues/153
https://github.com/kubernetes-sigs/kind/issues/154

[2019-02-20 15:00] fabriziopandini commented on #1071
@yuexiao-wang when do you plan to send PR for this issue (I'm updating state for Tracking issue for Certificates copy for join --control-plane)

[2019-02-20 19:33] #1374 closed

[2019-02-20 22:10] hpandeycodeit commented on #1381
@fabianofranz are we looking to comment out the related code or remove it?

[2019-02-21 01:43] pytimer opened #1417 "Tracking issue for reduce the number of calls that fetch configuration when reset"
This is the tracking issue for the implementation of reduce the number of calls that fetch configuration from cluster when reset node.

Now `kubeadm reset` fetch the cluster configuration invoke the `FetchInitConfigurationFromCluster` function three times in reset.go, we hope it only fetch the configuration from the Kubernetes cluster once.

The origin issue: https://github.com/kubernetes/kubernet

[2019-02-21 02:23] neolit123 commented on #1417
@pytimer if want to work on this issue please type the `/lifecycle active` command.
thanks!

[2019-02-21 02:26] pytimer commented on #1417
@neolit123 Thanks, i know.

[2019-02-21 06:40] fabriziopandini commented on #1381
@hpandeycodeit remove it.

[2019-02-21 10:13] Adirio commented on #1274
I was able to solve the first error by providing the service account of the random-scheduler the role `extension-apiserver-authentication-reader`.

[code]

I'm still having issues with the rest of the API.

[2019-02-21 11:19] Adirio commented on #1274
Okey I discovered all the roles you need for it to properly work:

[code]

[2019-02-21 14:09] Jpedro19 commented on #1274
It is indeed working! Thank you for the help!

[2019-02-21 15:00] neolit123 commented on #1411
hello @rastislavszabo

we don't have strict rules of what goes on the create-cluster-kubeadm page, but it was discussed at some point that verifying that the clusters which uses a CNI plugin is conformant is a nice-to-have:
https://github.com/cncf/k8s-conformance/blob/master/instructions.md#running

so providing sonobuoy logs is a good start.
also, are you a maintainer of VPP? we need someone to p

[2019-02-21 15:36] rastislavszabo commented on #1411
Hi @neolit123,

yes, I am the maintainer of Contiv-VPP. You can also note @lukasmacko and @jmedved as maintainers.

Will run the conformance tests and get back to you here soon.

[2019-02-22 00:48] dlipovetsky commented on #1358
As recommended by the API conventions, the issue can be resolved by removing the "omitempty"  removed from the Taints field.

As far as I understand, removing the "omitempty" tag changes only how the field is marshalled. It does not change how the field is unmarshalled. It does not change the default value kubeadm sets. Finally, it does not change the field's type.

Given the above, is there any r

[2019-02-22 08:19] #1211 closed

[2019-02-22 10:55] pytimer commented on #1417
/lifecycle active

[2019-02-22 11:18] rastislavszabo commented on #1411
Hi @neolit123,

the results of a conformance tests run on a k8s 1.12 cluster with Contiv-VPP:

[code]

Logs: [e2e.txt](https://github.com/kubernetes/kubeadm/files/2893657/e2e.txt)

[201902220919_sonobuoy_3551ab08-17d8-436e-b726-b697f59dba5a.tar.gz](https://github.com/kubernetes/kubeadm/files/2893658/201902220919_sonobuoy_3551ab08-17d8-436e-b726-b697f59dba5a.tar.gz)

[2019-02-22 15:51] neolit123 commented on #1411
hello, the logs seem good.
thank you for running the conformance test on a Contiv-VPP based cluster.

are you willing to send a PR to kubernetes/website for this file, so that the CNI plugin is added?
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/independent/create-cluster-kubeadm.md

@kubernetes/sig-cluster-lifecycle

[2019-02-22 20:22] brysonshepherd commented on #1054
Can anyone else confirm that this fix wasn't back ported to 1.12?

[2019-02-22 21:22] bart0sh commented on #1340
@den-is

My ca.crt has no new line in the end.

New lines are added by encoding/pem:EncodeToMemory golang core API. You can see its code here: https://golang.org/src/encoding/pem/pem.go (last new line symbol is added at line 317 by this line of code: ```_, err := out.Write([]byte(b.Type + "-----\n"))```
It's unlikely to be changed I believe.

It doesn't look like a kubeadm bug to me.

[2019-02-22 21:27] bart0sh commented on #1340
/assign

[2019-02-22 21:27] svenvanheugten opened #1418 "Upgrading v1.10 to v1.11 omits kubeadm-flags.env, causing pods to end up in Docker bridge subnet"
## Versions

**kubeadm version** (use `kubeadm version`): v1.10.13 -> v1.11.7

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.10.13 -> v1.11.7
- **Cloud provider or hardware configuration**: Bare-metal
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`): 4.15.0-45-generic
- **Others**:

## What happened?
When updating a Kubernetes cluster bootst

[2019-02-22 21:31] bart0sh commented on #1340
@den-is here is a proving code : https://play.golang.org/p/RREJixFwy6M

@timothysc we can close this issue.

[2019-02-22 21:38] neolit123 commented on #1418
thank you for the report but 1.10 is outside of the support skew with 1.11 going out with the release of 1.14 late march.

this is something that we've introduced by not handling the introduction of kubeadm-flags.env in 1.11.
the workaround is valid.

yes, this is true.

thanks.
/close

[2019-02-22 21:38] #1418 closed

[2019-02-22 21:44] bart0sh commented on #1054
@brysonshepherd it wasn't.

[2019-02-23 04:26] neolit123 opened #1419 "1.13.3: panic in validation/validation.go"
reported by @nfrush
https://github.com/kubernetes/kubernetes/issues/74443

[2019-02-23 06:15] sokoow opened #1420 "Internal dns entries for externalNames stopped working in v1.13.3 ?"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

[2019-02-23 11:53] svenvanheugten commented on #1418
@neolit123 Fair enough. Are changes to the documentation still accepted (to add a workaround)? It might make it easier to upgrade past 1.11 to a supported version.

[2019-02-23 12:07] bart0sh commented on #1419
I can look at this.
/assign

[2019-02-23 14:35] neolit123 commented on #1418
most likely no, the docs website has branches for the old documentation, but these old branches are unmaintained at this point.

[2019-02-23 15:17] pytimer opened #1421 "Refactor etcd client function have same signatures in etcd.go"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Others**:

Now etcd `Client` struct have many functions

[2019-02-23 16:08] bart0sh commented on #1420
can you give exact steps to reproduce the issue please?

[2019-02-23 16:12] sokoow commented on #1420
Sure:

1. Initialize the cluster using ```kubeadm init```
2. add overlay manifest
3. add this externalName manifest:

[code]
4. Try to use this externalName from any other pod by calling postgres1-rds.default:5432

[2019-02-23 16:15] bart0sh commented on #1340
/close

[2019-02-23 16:15] #1340 closed

[2019-02-23 16:21] bart0sh commented on #1420
thanks. Can you elaborate on items 2 and 4 a bit more?

[2019-02-23 16:24] bart0sh commented on #1420
in which k8s release did it work for you last time?

[2019-02-23 16:27] bart0sh commented on #1260
@rosti, @fabriziopandini ^^^^

[2019-02-23 16:29] neolit123 commented on #1421
please use pointers everywhere.

[2019-02-23 16:30] sokoow commented on #1420
1.10.something - but maybe we'll need more samples of other people to confirm that.

[2019-02-23 16:30] neolit123 commented on #1421
/lifecycle active
/kind cleanup
/priority backlog

[2019-02-23 16:31] pytimer commented on #1421
@neolit123 Thanks for your answer. I will update when i complete other PR.

[2019-02-23 16:32] neolit123 commented on #1420
which CNI plugin are you using?
have you tried with a different one?

[2019-02-23 16:38] sokoow commented on #1420
I tried flannel and weave already, same problem.

[2019-02-23 17:09] #1419 closed

[2019-02-23 17:44] neolit123 commented on #1419
the fix should be available in the next 1.13.x

[2019-02-23 22:07] rosti commented on #1260
@bart0sh this looks mostly done (at least in the issue's original intent). I'll revise the effort here at the beginning of next week (and in the context of kubernetes/kubernetes#72685) and close the issue if necessary.

[2019-02-24 08:57] sokoow commented on #1420
what works is this workaround that I found on internetz:

[code]

[2019-02-24 12:29] fabriziopandini commented on #1071
@yuexiao-wang as discussed in slack we are punting this to v1.15 because HA will not make beta in V1.14

[2019-02-24 14:56] neolit123 commented on #1420
what happens if you try using kube-dns instead of coredns?
some information how to do that in 1.13 is at the bottom of this section:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/#cmd-phase-addon

also see `ClusterConfiguration`:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2019-02-24 15:11] neolit123 opened #1422 "1.14: docs updates"
placeholder docs PRs for k/website should be sent until March 1st.
deadline for reviews is March 18th.

PRs should be sent against the k/website `dev-1.14` branch.

marking this as `help-wanted`.

---------

task: update kubeadm command line reference docs
assigned: @neolit123
- [x] PR: https://github.com/kubernetes/website/pull/12911

info:
https://github.com/kubernetes/website/tree/master/conten

[2019-02-24 15:24] neolit123 commented on #1422
@kubernetes/sig-cluster-lifecycle

i've added some tasks that need to be performed for updating the kubeadm 1.14 docs.

[2019-02-24 23:58] BenTheElder commented on #983
I'd like to make it possible to use another CRI within the nodes in some form (alternate images possibly) long term for the sole reason that we should be able to change it out as needed / we should probably get on the CRI paths ourselves eventually.

CRIs are generally probably best tested on VMs or bare metal, but just for integration testing kubeadm + the CRI path, kind will probably reasonable

[2019-02-25 00:40] yuexiao-wang commented on #1071
Got it

[2019-02-25 04:32] ggilley opened #1423 "kubeadm HA join fails with etcd from version 1.13.2 (worked previously)"
## Versions

**kubeadm version** (use `kubeadm version`): 1.13.2, 1.13.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.13.2, 1.13.3
- **Cloud provider or hardware configuration**: baremetal cluster
- **OS** (e.g. from /etc/os-release): ubuntu 18.04
- **Kernel** (e.g. `uname -a`): Linux linguini 4.15.0-45-generic #48-Ubuntu SMP Tue Jan 29 16:28:13 UTC 2019 x86_64 x86_64 x86_

[2019-02-25 05:34] RA489 commented on #1422
@neolit123 I can help with this effort.

[2019-02-25 07:04] fabriziopandini commented on #1415
@abizake
Could you kindly check with other is (not busy box)
I have faced the same problem in the past and it turned out it was a busy box issue   (https://github.com/docker-library/busybox/issues/48)

[2019-02-25 07:07] fabriziopandini commented on #1415
And also https://github.com/kelseyhightower/kubernetes-the-hard-way/issues/356

[2019-02-25 08:22] bart0sh commented on #983
@BenTheElder That sounds great. Which CRI are you going to start from? I'd recommend CRI-O if possible. I can help with testing.

[2019-02-25 08:39] BenTheElder commented on #983
I actually intended to do containerd first as that aligns with our existing experience (we know a lot about running docker in containers, and by extension the core), and with recent Docker we can hopefully do a gradual migration from dockershim -> cri-containerd without even changing the node images significantly since Docker now ships with containerd underneath.

A few users already depend on doc

[2019-02-25 12:00] rastislavszabo commented on #1411
Hi @neolit123, I opened this PR: https://github.com/kubernetes/website/pull/12822

[2019-02-25 12:06] pytimer commented on #1423
@ggilley Can you try to use `kubeadm join --v 5` outputs logs to console?

[2019-02-25 13:58] rosti commented on #983
@BenTheElder @bart0sh As I outlined in the aforementioned email, it is possible with Docker 18.09 and a tiny change to `/etc/containerd/config.toml`. We need to comment out the following line:
[code]
and then restart containerd.

However, as dockerd and the CRI plugin of containerd work in different containerd namespaces, there won't be any resource sharing between those two (pre-pulled/loaded ima

[2019-02-25 14:21] yagonobre commented on #1411
closed by https://github.com/kubernetes/website/pull/12822
/close

[2019-02-25 14:21] #1411 closed

[2019-02-25 17:56] #1421 closed

[2019-02-25 18:31] bcheerla4509 commented on #1390
Hi,
Even i have the exact problem with trying on Azure VMs (Redhat 7 OS). Anyone has suggestions to resolve the issue?

This is what i get every time i  do kubeadm init .. I tried re-installing kubelet and kubeadm.. tried yum update and restarted VM.

[kubelet-check] Initial timeout of 40s passed.

Unfortunately, an error has occurred:
        timed out waiting for the condition

This error is lik

[2019-02-26 04:08] yy55yyo opened #1424 "Coredns failed to list *v1.namespace!!!!"
## Versions

kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:05:53Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}

## What happened?

All the domain <svc_name>.<namespace> like kubernetes.default can't be used.The logs in the Pod coredns display failed t

[2019-02-26 04:22] ggilley commented on #1423
[code]

[2019-02-26 05:03] neolit123 commented on #1424
please test with kube-dns
instructions here:
https://github.com/kubernetes/kubeadm/issues/1420#issuecomment-466784038

[2019-02-26 05:07] pytimer commented on #1423
@ggilley can you provide more detail information? Such as: `kubeadm version` and `kubectl version`.

[2019-02-26 11:38] rosti commented on #1408
@yagonobre should we close this one?

[2019-02-26 13:57] chrisohaver commented on #1424
The error says that the Kubernetes API is refusing connections from CoreDNS.  CoreDNS needs to connect to the Kubernetes API to get lists of namespaces, services, endpoints.

[2019-02-26 17:47] yagonobre commented on #1408
@rosti not yet, I'll send the pr tomorrow.

[2019-02-26 20:44] #1417 closed

[2019-02-26 22:17] rosti commented on #1358
@dlipovetsky I am really sorry for the late response.

Say kubeadm or third party tool marshales to v1beta1 config with 1.13.3 vendored in. If it doesn't care about taints (which is the usual case) it will simply not initialize that field and when the config is marshalled to YAML it won't have `taints` key.
Next time when kubeadm uses that config to initialize a cluster, it will unmarshal the conf

[2019-02-26 22:23] miry opened #1425 "Kubeadm reset phases propose"
With releasing a new awesome HA feature with kubeadm, there are plenty cases are not covered automaticly. It requires manual preparation. One of the cases:

I have 3 master nodes.
Then I terminated first node(volume terminated also),
AND start provisioning a new master node with same ip address (immutable deployment, for example upgrade kube version).

So I need to clean etcd member before do join

[2019-02-26 23:47] dlipovetsky commented on #1358
@rosti

Question for you: if this piece of software marshals `taints: null` (not `taints: {}`), does the problem you describe exist?

[2019-02-27 00:50] #1407 closed

[2019-02-27 00:59] lbogdan commented on #1285
All RBAC setup was already done in https://github.com/kubernetes/kubernetes/pull/72491 , so it looks like it's only a matter of adding `--authentication-kubeconfig` and `--authorization-kubeconfig` to `kube-scheduler`. If no one is working on this, I'd like to take a shot at it.

[2019-02-27 05:14] ggilley commented on #1423
[code]

[code]

[2019-02-27 05:36] pytimer commented on #1423
@ggilley The `192.168.6.3` is the other control plane node?

[2019-02-27 05:44] ggilley commented on #1423
Yes, the .2 is the primary master. .3 and .4 are the secondary masters.

[2019-02-27 08:03] yy55yyo commented on #1424
yes, I know that the Kubernetes API is refusing connections from CoreDNS.But I don't know why CoreDNS can't connect.

I saw that both the IP and port accessed by CoreDNS should be okay. All pods are working.

Is this the question of Kubernetes1.13.3?

[2019-02-27 08:06] yy55yyo commented on #1424
I want to use CoreDNS to do this, and I want to know why this problem occurs when the configuration is known to be correct.

[2019-02-27 09:17] Apokleos opened #1426 "kubeadm CoreDNS Restart"
asd

[2019-02-27 09:35] Apokleos commented on #1426
I installed a new k8s cluster with kubeadm-1.13.3, but CoreDNS will restart frequently and CrashBackOff. I have tried with some tips or sugguests, but none helps me.
Problem Describe As below:
[root@localhost ~]# kubectl get po --all-namespaces
NAMESPACE     NAME                                            READY   STATUS                   RESTARTS       AGE
kube-system   coredns-7655b945bc-9h9m5

[2019-02-27 11:06] rosti commented on #1358
@dlipovetsky

The answer is no and I know, that this will be the normal case.

Actually I did not express myself clearly in the quoted lines above. What I meant is that people may depend on that omitempty misplacement bug and not know or care about it. Consider this:
[code]

Now let's assume, that we didn't add any taints.
As you know from your experience, with the current version of the config th

[2019-02-27 12:16] Niladri579 opened #1427 "unable to reset kubernet"
## Is this a request for help?
Yes, i am unable to reset kubernet by this command - sudo kubeadm reset
If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## Versions

**kubeadm version** (use `kubeadm version`):
v1. 13.3
**Environment**:
Amazon Linux
- **Cloud provider or har

[2019-02-27 13:02] kASUNSithira opened #1428 "kubeadm init cannot be achieved via config.ymal in version 1.13.3"
I am tring to configure highly available cluster with 3 master nodes.I follow
https://kazuhisya.netlify.com/2018/02/08/how-to-install-k8s-on-el7/
tutorial.

kubeadm version.

    kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.3", GitCommit:"721bfa751924da8d1680787490c54b9179b1fed0", GitTreeState:"clean", BuildDate:"2019-02-01T20:05:53Z", GoVersion:"go1.11.5", Compiler:"gc"

[2019-02-27 13:31] vaamarnath commented on #1399
I am willing to fix this bug. Can I pick this one?

[2019-02-27 13:31] chrisohaver commented on #1424
Do the kubernetes api logs reveal anything?
Can you connect to the api from anther pod?
A connection refused error suggests that that the API isn't listening on that port. Or that the connection is being blocked by something in between (e.g. firewall).

A problem with RBAC or keys would result in a different error.

@neolit123 is suggesting trying kube-dns as a troubleshooting measure, not as a pe

[2019-02-27 13:56] pytimer commented on #1428
@kASUNSithira You can reference this article [Creating Highly Available Clusters with kubeadm](https://kubernetes.io/docs/setup/independent/high-availability/).

[2019-02-27 15:10] rosti commented on #1428
Hi @kASUNSithira , please follow the official guide for setting up HA clusters with kubeadm.
Also, the config format you are using looks more like v1alpha2. It's not supported with kubeadm 1.13. The current one is v1beta1.

[2019-02-27 17:05] ghglza commented on #1363
Upgrading CRI-O to tag v1.13.1 (or v1.13.2-dev commit 94aecf1) didn't change anything

[2019-02-27 18:43] neolit123 commented on #1422
@RA489 @Klaven
i've assigned you to a couple of items. see above and thank you very much.

let's post any questions in this thread instead of pining on private, so that we can give the change of more people to respond.
thank you !

[2019-02-27 18:47] yagonobre commented on #1422
I can take `task: add 1.13 -> 1.14 upgrade docs (HA)`

[2019-02-27 18:49] neolit123 commented on #1422
thanks @yagonobre !

[2019-02-27 19:10] neolit123 commented on #1426
please note that we don't have strong e2e test signal from critctl.
so ideally you should try with docker as well.

[2019-02-27 19:11] neolit123 commented on #1427
could you elaborate on the problem?

[2019-02-27 19:15] yagonobre commented on #1399
Yes @vaamarnath, but I suggest that you send a pr in the next cycle, to avoid a lot of rebase.
Thanks!
/lifecycle active

[2019-02-27 20:31] dlipovetsky commented on #1358
@rosti Thanks for giving more detail. I think we agree that, if omitempty is removed, then by default Taints will be marshalled as `taints: null`.

The code snippet you share assigns an empty slice to the Taints field, which in [v1beta means no taints should be applied](https://github.com/kubernetes/kubernetes/blob/release-1.14/cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go#L205).

If I understand

[2019-02-28 02:31] neolit123 commented on #1376
this can be closed for now after the help and a number of PRs from @vanduc95 and @SataQiu
thank you! :tada:

[2019-02-28 02:31] #1376 closed

[2019-02-28 02:38] neolit123 commented on #1204
i will help next week or later this week to verify the join phases.

also this doc already has outlined some nits (thanks @fabriziopandini )
https://docs.google.com/document/d/1tqgjB_KJMeYAXHYqOuBKKpCLSzxVgSl-MUfXf7d8C8U/edit#
(if you don't see the comments on the right of the screen - make sure you zoom out)

[2019-02-28 02:41] neolit123 commented on #1290
this will hopefully happen next week.
this week we were able to move k-a jobs outside of blocking into release-informing / all dashboards and kind jobs to release-informing / all dashboards too.

https://github.com/kubernetes/test-infra/pull/11562
https://k8s-testgrid.appspot.com/sig-release-master-blocking

[2019-02-28 02:43] neolit123 commented on #1231
seems a bit too late to change in this cycle, but IMHO a nice to have.
possibly early 1.15 we can get back to this.

[2019-02-28 02:56] pytimer commented on #1426
Need to check if kubelet configures http proxy. If the kubelet is configurated with http proxy, it needs to be removed. Because this will cause `coredns`  pod `livenessProbe`  check fail.

[2019-02-28 03:01] Apokleos commented on #1426
The root reason is kubelet proxy.  I have remove the /etc/systemd/system/kubelet.service.d/proxy.conf. after that, It will not restart and crash back off again and again.
I will close it.
THX.

[2019-02-28 03:01] #1426 closed

[2019-02-28 03:44] pytimer commented on #1423
@ggilley Sorry, response late.

The `192.168.6.3` control plane node join successfully? Could you tell me `kubeadm-config` ConfigMap content?

i see the code, when `kubeadm` call `CheckLocalEtcdClusterStatus()`, etcd cluster have one member `192.168.6.2`, but while `kubeadm` add etcd member `192.168.6.4` to cluster, the etcd cluster have two member `192.168.6.2` and `192.168.6.3`. I don't know why

[2019-02-28 03:54] vaamarnath commented on #1399
I have a high level question about the fix. When several CA are part of the `certificate-authority-data`, doesn't it mean that `--discovery-token-ca-cert-hash` can accept any of the certificates'  SPKI?

@yagonobre Sure, I will start working on it and send the PR in the next cycle.

[2019-02-28 04:42] Klaven commented on #1422
@neolit123 HA placeholder PR https://github.com/kubernetes/website/pull/12892

[2019-02-28 05:27] ggilley commented on #1423
Yes, it does join the cluster, but does not end up as a master because the etcd join fails. I'm using the "Stacked control plane and etcd nodes" from the "Creating Highly Available Clusters with kubeadm" instructions on kubernetes.io. This was working before in 1.13.0.

I'm doing these steps in ansible and unpacking onto the secondary master:
[code]
failed to check the health of member 49e307441c3

[2019-02-28 05:31] ggilley commented on #1423
Ah, but on the .3 host it's not okay, the question is why:

Error:  client: etcd cluster is unavailable or misconfigured; error #0: dial tcp 127.0.0.1:2379: connect: connection refused

`error #0: dial tcp 127.0.0.1:2379: connect: connection refused`

[2019-02-28 05:45] anguslees commented on #1399
Yes, I believe that is the desired behaviour.  The apiservers may present any of the listed CAs, and any one of them should be considered valid.

[2019-02-28 05:50] pytimer commented on #1423
the .3 host become a node, not master, is it?

You don't need to copy `/etc/kubernetes/pki/etcd/server.*` to the other master, and you should copy `/etc/kubernetes/admin.conf` to the other master. About this, you can reference to the [stacked-control-plane-and-etcd-nodes](https://kubernetes.io/docs/setup/independent/high-availability/#stacked-control-plane-and-etcd-nodes) step 6.

I think maybe yo

[2019-02-28 06:01] ggilley commented on #1423
You don't need to copy `/etc/kubernetes/pki/etcd/server.*` to the other master

That was it! It must have changed between the versions. Thanks for the help and sorry for wasting your time. I kept reading through to see what had changed and I missed that.

[2019-02-28 06:02] #1423 closed

[2019-02-28 06:14] pytimer commented on #1423
That's ok.

[2019-02-28 10:23] rosti opened #1429 "Reduce number of parameters in init.go"
Following the init phases work in 1.13, we are left with a couple of functions in `init.go`, that take an awful lot of parameters, but should only take a single struct pointer and use that.

1. `AddInitOtherFlags`:
- [Definition](https://github.com/kubernetes/kubernetes/blob/36787041cbb7a83531ffea765b045117f2fb301c/cmd/kubeadm/app/cmd/init.go#L228) from latest master:
[code]

- The only [invocatio

[2019-02-28 15:01] pytimer commented on #1429
@rosti  I wants to take it if no one works on it.

[2019-02-28 15:37] rosti commented on #1358
@dlipovetsky you are correct. It's a bug on our side and, possibly, relies on a bug on the other side for this to happen. But sometimes we need to be bug compatible and support our own bugs (especially if we are shipping a public API).
If it was an alpha config, then I would have been more keen on fixing it in place, but with beta one I am reluctant on doing that.

@fabriziopandini @timothysc WDYT

[2019-02-28 16:08] neolit123 commented on #1358
we can make the decision to change or not change next cycle (change/break)... :balance_scale:
i'm +1 with an action item in the change log, with the change batched with other changes.

for now, is it worth documenting `node-role.kubernetes.io/master:PreferNoSchedule` is the workaround in here?
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/

[2019-02-28 16:14] alokyadav15 commented on #1026
In my case it was the swap issue, fixed it by turning off the swap

[code]

[2019-02-28 16:19] neolit123 commented on #1429
/lifecycle active
thanks @pytimer

[2019-02-28 16:34] fabriziopandini commented on #1429
Thanks @rosti
I'm pretty sure that changes similar to what you suggested could be applied to join as well (but in a separated PR)

[2019-02-28 20:28] dlipovetsky commented on #1358
@rosti, I think we agree that a tool that uses the v1beta1 API correctly will _not_ be affected by the bug fix. If such a tool were affected, I would agree that we should bump the version before fixing the bug.

Should we hold off fixing an API bug, even if the fix only affects tools that use the API incorrectly? I'm not sure. I think this is a subtle and interesting question.

[2019-02-28 20:30] dlipovetsky commented on #1358
@neolit123  Good idea! I'll file a PR on the website repo.

[2019-02-28 20:32] neolit123 commented on #1358
please ping me on that.

[2019-02-28 20:57] yagonobre commented on #1422
/assign

[2019-03-01 02:12] neolit123 commented on #1422
to modify existing branch of PR try this:
https://help.github.com/en/articles/changing-the-base-branch-of-a-pull-request

has to be `dev-1.14`.

[2019-03-01 02:18] neolit123 commented on #1422
^ or if this asks you to merge 100 commits just create a new PR.

[2019-03-01 02:56] yagonobre commented on #1422
@neolit123 I created a new pr https://github.com/kubernetes/website/pull/12913

[2019-03-01 05:17] RA489 commented on #1422
@neolit123 I created PR https://github.com/kubernetes/website/pull/12919

[2019-03-01 05:20] neolit123 commented on #1422
thanks!

[2019-03-01 09:18] frittentheke commented on #1384
@timothysc  am I reading your added "Next" tag correctly by assuming this does not yet work, but you consider adding this functionality?

[2019-03-01 09:46] yy55yyo commented on #1424
@chrisohaver @neolit123 Thank you for your help.

I erased kubernetes and run it with Rancher is working now.

I will close it, although the reason was not found in the end.

[2019-03-01 09:46] #1424 closed

[2019-03-01 10:05] bart0sh commented on #1384
This doesn't work yet as far as I can see from the code.
I'll take this.

/assign

[2019-03-01 14:26] ghglza commented on #1363
Upgrading k8s+kubeadm to v1.13.4 didn't change anything

[2019-03-01 15:38] Klaven commented on #1422
@neolit123 I created a new PR! :D
https://github.com/kubernetes/website/pull/12923

[2019-03-01 16:03] neolit123 opened #1430 "kubeadm integration tests take ~600 seconds"
there was a PR that removed `./hack/make-rules/test-kubeadm-cmd.sh` and now the correct way to run these tests is `make test-cmd WHAT="kubeadm"`

this is further improved here:
https://github.com/kubernetes/kubernetes/pull/74807

except that we have a problem. the tests on my side take something like 500 seconds to complete.
i don't remember them to be **that** slow, so i need someone to double ch

[2019-03-01 16:19] rosti commented on #1358
It's probably best to bring this topic on next week's kubeadm office hours and gather some opinions.

[2019-03-01 16:19] danbeaulieu commented on #1300
This seems to still be a bug in 1.13.4.

We still need to manually update the kubeadm config map ala https://github.com/kubernetes/kubeadm/issues/1300#issuecomment-463374200

Is it not the case that the fix in
kubernetes/kubernetes#71945 would use the etcd cluster membership as the source of truth for cluster members? If not, what exactly did that PR fix?

[2019-03-01 16:23] neolit123 commented on #1358
i think it was discussed already during a cluster api meeting and possibly a kubeadm office hours.
the cluster api meeting i remember clearly.

[2019-03-01 17:48] neolit123 opened #1431 "remove TestInitConfigurationMarshallingFromFile commented test"
after enabling go 1.12, go-vet started complaining about our `inline` of ClusterConfiguration inside InitConfiguration. a quick fix was to do `ClusterConfiguration json:"-"` in our internal type and disable our marshall unit tests (TestInitConfigurationMarshallingFromFile).

https://github.com/kubernetes/kubernetes/pull/74797

we can remove this commented code now.

https://github.com/kubernetes/k

[2019-03-01 18:04] fabriziopandini commented on #1300
Please use following issue for tracking reset improvements
   - https://github.com/kubernetes/kubeadm/issues/1312 Remove control-plane nodes from ClusterStatus (@Klaven https://github.com/kubernetes/kubernetes/pull/72886)
   - https://github.com/kubernetes/kubeadm/issues/1211 Remove etcd members from the etcd cluster (@pytimer https://github.com/kubernetes/kubernetes/pull/74112)

[2019-03-01 18:19] danbeaulieu commented on #1300
@fabriziopandini There is at least one other issue in here that is unrelated to `kubeadm reset`.

If a node fails without the chance to perform kubeadm reset (instance termination, hardware failure etc)
The cluster is left in a state where the ClusterStatus.apiEndpoints still lists a node that is no longer in the cluster. This requires the workaround of reading, editing and updating the config map

[2019-03-01 18:23] neolit123 commented on #1300
The cluster is left in a state where the ClusterStatus.apiEndpoints still lists a node that is no longer in the cluster. This requires the workaround of reading, editing and updating the config map before performing `kubeadm join`.

that is true, without calling reset you will have to manually update the ClusterStatus.
we don't have a command that does that. if you feel this a feature that kubeadm

[2019-03-01 19:44] danbeaulieu opened #1432 "kubeadm join is not fault tolerant to etcd endpoint failures"
## What keywords did you search in kubeadm issues before filing this one?

etcd kubeadm join clusterstatus

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
$ kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c229191a087698aa92f0b1", GitTreeState:"clean", BuildDa

[2019-03-01 20:59] fabriziopandini commented on #1432
I would not say this is a problem of join, but instead, it is a problem of reset that does not cleanup properly, and  there is already work ongoing to fix that. See
- #1312 Remove control-plane nodes from ClusterStatus
- #1211 Remove etcd members from the etcd cluster
For the etcd problem I'm not sure what kubeadm can really do (apart of implementing hacky workaround). IMO this should be fixed on

[2019-03-01 21:07] danbeaulieu commented on #1432
@fabriziopandini in the reproduction steps kubeadm reset is not used, which is a real world scenario outside of intentional chaos engineering. When a node goes away there is no guarantee that kubeadm reset will be called or if it is called that it will complete successfully (network partition etc). So even if `kubeadm reset` does the right thing, it can't be relied on in 100% of cases.

Kubeadm sh

[2019-03-02 00:09] neolit123 commented on #1413
/assign
/kind documetation

i will write a quick note about this in the Troubleshoot docs and move this item outside of 1.14 in terms of code changes.

[2019-03-02 00:35] neolit123 commented on #1097
feature freeze is next week and i don't think anyone will be able to work on this.
but the lack of CM locks can also be considered a bug.

@fabriziopandini @timothysc
i'm proposing to move this to the 1.15 milestone.

[2019-03-02 00:35] neolit123 commented on #1346
k/release PR merged.

[2019-03-02 00:35] #1346 closed

[2019-03-02 00:46] pytimer commented on #1432
If nodes terminated or shutdown, i use `etcdctl` to remove this etcd member. It could not use `kubeadm`. And if etcd cluster have two member, one of node goes away, the cluster not health, it maybe need human intervention.

I am not sure if i understand your words right?

[2019-03-02 01:50] dlipovetsky commented on #1358
I haven't discussed this  in kubeadm office hours; I'll try to attend next week.

@rosti, I appreciate all of your feedback! Believe it or not, I recently voiced a similar concern on [another PR](https://github.com/kubernetes/kubernetes/pull/73339#discussion_r252869010):

[2019-03-02 03:26] neolit123 commented on #1413
sent this docs PR:
https://github.com/kubernetes/website/pull/12937

might as well close this eventually as adding new custom flag for this is not ideal, but for now punting to next cycle.

[2019-03-02 09:20] ereslibre commented on #1097
I can work on this one during this cycle still after I finish some other PR in the works for unit testing secret transfer during init/join. Depending on complexity/intrusiveness we can decide to postpone it to 1.15 if we see we are running out of time.

/assign

[2019-03-02 13:35] brusand opened #1433 "kubeadm init failed when inside a cloud-init script on openstack"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm init failed control-plan cloud-init
If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
late

[2019-03-02 15:55] pytimer commented on #1433
Can you try to unset proxy when you run `kubeadm init`? Because i remember that i used to set proxy the init failed.

[2019-03-02 17:57] brusand commented on #1433
you made my day, i don t know why but after unset proxys, it works here is the log
thx
Bruno
[  305.054228] cloud-init[561]: + kubeadm init --apiserver-advertise-address 127.0.1.1 --pod-network-cidr=10.244.0.0/16
[  305.104180] cloud-init[561]: W0302 17:52:01.579084    7485 common.go:159] WARNING: overriding requested API server bind address: requested "127.0.1.1", actual "192.168.9.51"
[[0;32m  O

[2019-03-02 18:16] #1433 closed

[2019-03-02 19:02] fabriziopandini commented on #1375
I agree that cobra issue should be addressed upstream.

However, I think that it would be nice to have the possibility to set the Args validation function for leaf phases (if not set this should top-level command).

More specifically, we would like to have leaf phases without discovery flags using `Args: cobra.NoArgs` (while the top-level command/all the other leaf phases will use `Args: cobra.Max

[2019-03-03 08:58] ereslibre commented on #1375
Yes, I can investigate during the next cycle on this.

/assign

[2019-03-03 12:23] #1429 closed

[2019-03-03 16:46] texasdave2 commented on #907
This worked for me:

Definitely check your version of kubeadm and kubelet, make sure the same version of these packages is used along all of your nodes. Prior to installing, you should "mark and hold" your versions of these on your hosts:

check your current version of each:
kubelet --version

check kubeadm
kubeadm version

if they're different, you've got problems. You should reinstall the same v

[2019-03-04 01:28] #1304 closed

[2019-03-04 15:49] hreidar commented on #1227
Hi, I'm having similar problem with k8s version 1.13.4

### cluster nodes
[code]

#### node info
[code]

#### nginx lb config
[code]

#### kubeadm config on etcd nodes
[code]

#### etcd check from master
[code]

#### kubeadm config on master
[code]

#### kubeadm output
[code]

#### docker ps
[code]

#### systemctl
[code]

#### journalctl -xeu kubelet
[code]

Any ideas ?

[2019-03-04 20:52] joshuacox commented on #1227
I did just release [kubash 1.13.4](https://github.com/kubash/kubash) and I have tested both stacked and extetcd methods using 1.13.4. I'd gladly gather any other info from a running cluster if you'd like.

[2019-03-05 07:14] b23prodtm commented on #339
```docker ps; docker inspect etcd1``` listed the etcd container which was using the related port numbers. As hence ```sudo kubeadm init ``` failed to succeed.
As I did : ```docker kill etcd1```

[2019-03-05 10:04] #975 closed

[2019-03-05 10:25] bart0sh commented on #975
I'm still hoping to get this issue properly fixed. Will update [the fix](https://github.com/kubernetes/kubernetes/pull/70051) soon. Feel free to reopen this issue if you think it's not fixed yet.

[2019-03-05 11:52] rosti commented on #1431
We need to evaluate if all cases, that are tested by this test can be covered by the fuzzer. If that's the case we can kill it.

As an additional item, if we decide to re-enable and keep the test, it may be best to move the test data closer to code as this has caused some inconsistencies in the past (such as cases that claim to test v1beta1, but were really using v1alpha3).

[2019-03-05 11:58] rosti commented on #1432
We need to:

1. Document how to remove a node on which `kubeadm reset` cannot be executed for some reason. (Hardware breakage is a valid reason)

2. Probably introduce `kubeadm cleanup` that would act like reset, but for other node.

WDYT?

[2019-03-05 12:02] hreidar commented on #1227
Hi, I updated the Kubeadm output as I found out that my load balancer, which is running in docker, was not configured to use the host network_mode. Not sure if that mattered but better safe than sorry.

@rdodev @timothysc any idea what my problem is here? Should I open up a new issue for this?

[2019-03-05 12:45] hreidar commented on #1227
@joshuacox can you share what exactly fixed your issue?

[2019-03-05 13:48] joshuacox commented on #1227
@hreidar I fixed it by changing the final script to this:

https://gist.github.com/joshuacox/95aad9bee0c7e49e735ec3ec553b24ca

I suggest you script out everything so you can reproduce the error consistently, then if we can reproduce your error as well we are way more likely to be able to identify the issue.

[2019-03-05 14:14] hreidar commented on #1227
Ok, here are the steps I have written down so far...

#### node preperation
[code]

#### config creation for kublet and etcd
[code]

#### generate and distribute certs
[code]

#### config and init master nodes
[code]

... and I'm stuck in the master init step :-)

[2019-03-05 14:51] joshuacox commented on #1227
Is thiis an external etcd setup?  Why don't you include that flag?

https://gist.github.com/joshuacox/95aad9bee0c7e49e735ec3ec553b24ca#file-final_node-sh-L42

[2019-03-05 15:05] hreidar commented on #1227
I was not aware of its existence. Is this the exact command?

[code]

It gives me an error:

[code]

[2019-03-05 15:23] joshuacox commented on #1227
are you certain this system is clean?  those ports being used indicates you already have a (partially?) running cluster

[2019-03-05 16:59] hreidar commented on #1227
You are right, I did forget to reset, but I'm using the external block in my manifest. I'm trying to follow the official documentation as close as I can but I'm stuck on initializing a master node as shown in my previous posts.

[2019-03-05 22:33] yagonobre commented on #1260
We should refactor these 3 tests:
[TestEtcdSupportedVersion](https://github.com/kubernetes/kubernetes/blob/98fa2c7d32e59f798ff4201dfdcb439554392beb/cmd/kubeadm/app/constants/constants_test.go#L151)
[TestGetAvailableUpgrades](https://github.com/kubernetes/kubernetes/blob/98fa2c7d32e59f798ff4201dfdcb439554392beb/cmd/kubeadm/app/phases/upgrade/compute_test.go#L124)
[TestEnforceVersionPolicies](https:

[2019-03-05 22:34] yagonobre commented on #1188
Move to 1.15

[2019-03-05 23:07] neolit123 commented on #1188
done.

[2019-03-06 05:11] pytimer commented on #1432
AFAIK, if node terminated, we needs to execute command that remove etcd member from the cluster on the one of masters and update the `ClusterStatus` in `kubeadm-config`.

If these steps using `kubeadm`, can add `reset phases` in kubeadm?

[2019-03-06 05:42] #1408 closed

[2019-03-06 10:01] stgleb opened #1434 "Cloud provider argument to k8s component"
Is there any way to pass cloud-provider string to kubernetes components that requires it: api-server, controller-manager, kubelet?
Currently I see only the way how to pass it to kubelet using drop-in file.

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c229191a087698aa92f0b1", GitT

[2019-03-06 11:02] hreidar commented on #1227
What is this error telling me?
[code]
Is Kubeadm not able to talk to docker via /var/run/dockershim.sock ?
It seems to be trying to annotate a node that does not exist.

@joshuacox how is your docker setup? Which cgroup driver are u using for docker and kubelet?

[2019-03-06 13:09] danbeaulieu commented on #1432
@pytimer I am ok with kubeadm leaving it up to the user to do the etcd member management. ie if I have a cluster with 3 nodes A,B,C and I terminate C (and don't run kubeadm reset on C) I am left with an unhealthy etcd member, a node (`kubectl get nodes`) that is "not ready", and a ClusterStatus.apiEndpoints with the 3 nodes listed. At this point the cluster is still healthy since we only lost 1 no

[2019-03-06 13:43] joshuacox commented on #1227
[code]

[2019-03-06 14:04] hreidar commented on #1227
Ok, it seem to be similar setup but I'm going to try your version of docker.

[code]

[2019-03-06 14:34] hreidar commented on #1227
No luck. It seems that etcd is empty and the only resorce I can list from k8s api after this failed step is a ClusterIP

[code]

I think I need to open a new issue to try to get a developer to look at this. The info in the logs are not making any sens to me.

[2019-03-06 15:16] yagonobre commented on #1434
Hi @stgleb you can use the kubeadm config.
https://kubernetes.io/docs/setup/independent/control-plane-flags/

[2019-03-06 15:33] mattymo opened #1435 "Regression: No longer able to generate custom kubeconfig"
What happened:
After https://github.com/kubernetes/kubernetes/pull/74628, users lost the functionality to do the following that was present in v1.13.x:
kubeadm alpha kubeconfig user --client-name kubernetes-admin --org system:masters --apiserver-advertise-address 192.168.0.1 --apiserver-bind-port 6443

The ClusterRole was configurable and the output for the file was stdout (not hardcoded to admin.

[2019-03-06 16:03] seh commented on #1381
Per #1435, I don't see any discussion here about whether we were trying to _lose_ the ability to create kubeconfig files for arbitrary users and groups; the discussion was about how to unify the code that does so. When @timothysc [wrote the following](https://github.com/kubernetes/kubeadm/issues/1381#issuecomment-463716599), did he mean that we should no longer be able to create such files?

[2019-03-06 16:03] yaegel commented on #663
I've got the same issue with Kubeadm 1.11.3-00 but my --anonymous-auth is true.  This is the output of kubectl describe pod kube-apiserver-<master> -n kube-system

[code]

And here is the output when I try to join after creating a new token with the --print-join-command and -v9 flags:

[code]

Am I missing something, or should this join up without error?

[2019-03-06 16:06] seh commented on #1435
We also rely on this capability as part of our cluster administration. I know that it's possible to create and sign CSRs using other tools like _openssl_, with scripting on top to create corresponding kubeconfig files, but _kubecfg_ eliminates—or used to eliminate—the need to write such custom programs.

[2019-03-06 16:24] #1297 closed

[2019-03-06 16:45] neolit123 commented on #1312
/assign

[2019-03-06 17:53] neolit123 commented on #1204
we are pretty much done here, minus:

which is for 1.15.

and auditing.

[2019-03-06 18:03] neolit123 commented on #1430
/assign

[2019-03-06 18:03] neolit123 commented on #1430
possibly related:
https://github.com/kubernetes/kubernetes/issues/74984

[2019-03-06 18:04] neolit123 commented on #1381
since the removal of the `user` command is breaking users we should consider actions during this code freeze - i.e. did we regress badly here.

we did remove `kubeadm alpha kubeconfig user` but we do not provide an alternative.

cc @seh @fabriziopandini @rosti @rosti

[2019-03-06 18:07] seh commented on #1381
If it's something that the collective _kubeadm_ maintainers don't want to facilitate any longer, I can understand such a decision. However, in this case, it looks more like the regression was unintentional. I'd just to settle whether we want to continue to offer this capability. If so, we have a new task to restore it.

[2019-03-06 18:08] neolit123 commented on #1435
@mattymo @seh what prevents you from using kubectl as a replacement for the removed `user` command.

[2019-03-06 18:10] neolit123 commented on #1381
let's move the discussion in https://github.com/kubernetes/kubeadm/issues/1435

[2019-03-06 18:12] seh commented on #1435
Are you assuming that we'd create the private key and certificate ourselves using something like _openssl_? As I mentioned above, I know that that's possible, and I've done it in the past, but it's much easier to do using _kubeadm_.

[2019-03-06 18:22] yaegel opened #1436 "Unable to join new node to existing cluster: [discovery] Failed to request cluster info, will try again: [Unauthorized]"
## What keywords did you search in kubeadm issues before filing this one?

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.11.3-00

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11.3-00
- **Cloud provider or hardware configuration**: Bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04 LTS
- **Kerne

[2019-03-06 19:02] fabriziopandini commented on #1435
@seh @mattymo I'm really sorry this change impacted negatively on you

The change was discussed during kubeadm office hours, and I don't think there is room for discussing/reverting before code freeze (unless @neolit123 @timothysc have different opinions)

Ps. Technically this isn't a regression because Alfa feature can be removed at any time. Nevertheless I ttake the point that it is necessary to

[2019-03-06 19:18] neolit123 commented on #1435
@fabriziopandini

it's definitely not a regression.
anything under alpha can go at any point in time.

true, i don't have strong opinions here. so 50/50 on my side.

@seh

it's definitely easier to use kubeadm for this, i agree. but if we are completely removing this we should at least document the alternative.

[2019-03-06 19:20] timothysc commented on #1435
What is missing from `kubeadm init phase kubeconfig` ,  that you need?

[2019-03-06 19:22] neolit123 commented on #1435
the `kubeconfig user` functionality was removed with `kubeadm alpha kubeconfig`

https://github.com/kubernetes/kubernetes/pull/74628/files#diff-12fe845fa0bf1f4f9d1a12c7aef7ba22L74
"Outputs a kubeconfig file for an additional user"

[2019-03-06 19:28] timothysc commented on #1435
Let me look at that code and see if we should port of if there is another way.

[2019-03-06 19:47] timothysc commented on #1435
So it's a little weird to add that back into init, because it's a utility vs a part of the phase.

However, I'm not opposed to a revert for the utility if it's being used in the wild.

[2019-03-06 19:55] timothysc commented on #1435
OK, it looks like we pruned too deep and didn't provide the actual ask - https://github.com/kubernetes/kubeadm/issues/1381#issuecomment-461054337 .

In other words, we did 1/2 the work needed.  I'll PR a revert and reopen the issue for next cycle.

[2019-03-06 19:56] hiobama commented on #182
sudo http_proxy=192.168.99.1:1080 kubeadm init

[2019-03-06 20:17] timothysc commented on #1381
reverting this change and punting to 1.15 due to feedback.

[2019-03-06 20:18] mattymo commented on #1435
I'm not asking for a full revert, but the "user" functionality was really stellar for issuing certs. It was an easy button that's not critical for the project, but losing it hurts. Yes, it's entirely possible to issue new certs manually and construct them into a kubeconfig, but that effort seems overwhelming for an average user.

[2019-03-06 20:25] timothysc commented on #1435
We can address the final form in 1.15.

[2019-03-06 20:40] fabriziopandini commented on #1432
@danbeaulieu thanks for explaination
@rosti let's raise the point at the next planning session; I see two problems to be addressed:
- cleanup of a lost control-plane nodes
- join control-plane resilient to lost control-plane nodes

[2019-03-07 00:09] tcurdt commented on #1382
@neolit123 I was just trying to give it another shot but apparently `delve` does not support ARM and `gdb` seems also to give problems. I did get `valgrind` installed though.

Anyone willing to pair on this via IRC/discord/whatever?

[2019-03-07 00:11] neolit123 commented on #1382
hi, we are prepping for the 1.14 release i won't have time anytime soon.
but please do post updates.

[2019-03-07 00:36] tcurdt commented on #1382
@neolit123 too bad. Someone else? Some other suggestion for a debugger?

In theory this should just work:
[code]
So shall I run this through valgrind

[code]

or is the primary objective to find when the file is created with size 0? So I run through all the phases and list the content?

[2019-03-07 01:02] neolit123 commented on #1382
if the debuggers are not very useful i would start adding fmt.Print(...) calls in a lot of places, until i find where/why  that config ends up being zero.

[2019-03-07 01:06] neolit123 commented on #1434
also a k8s.io docs search for "kubeadm cloud provider" reveals this page:
https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#kubeadm

[2019-03-07 01:06] #1434 closed

[2019-03-07 01:08] neolit123 commented on #1436
1.11 is going out of support later this month when 1.14 is released.
please upgrade to 1.12 (or 1.13) and report if you see the same problem.
thanks.

[2019-03-07 02:58] baikai commented on #532
So, the conclusion is kubelet still running outside the docker container?  And kubeadm will not be  enhance to start kubelet in docker?

[2019-03-07 03:04] yagonobre commented on #532
Yes kubelet still running outside docker, IMO it's a decision for sig-node not kubeadm.

[2019-03-07 08:42] bart0sh commented on #1382
@tcurdt

I'd be happy to help you with this. I'm Ed@kubernetes.slack.com

[2019-03-07 09:07] #1435 closed

[2019-03-07 10:52] hreidar opened #1438 "error execution phase upload-config/kubelet: Error writing Crisocket information for the control-plane node: timed out waiting for the condition"
Hi, I'm trying out kubeadm and I'm using the official docs in setting up a HA cluster. I have managed to create a etcd cluster but the init step on the first master node is failing with the following error:

[code]

### What keywords did you search in kubeadm issues before filing this one?

error execution phase upload-config/kubelet

and got:

#1382
#1227

### Is this a BUG REPORT or FEATURE REQU

[2019-03-07 13:15] #1312 closed

[2019-03-07 15:08] rosti opened #1439 "v1beta2 config"
A proposal issue for the next kubeadm API version (currently proposed as v1beta2).

The actual details are in [this doc](https://docs.google.com/document/d/1XnP67oO1i9VcDIpw42IzptnJsc5OQM-HTf8cVcjCR2w/edit).

If you are a member of the Kubernetes SIG Cluster Lifecycle Google Group you should already have edit rights for it. Ping me if you have any problems accessing the doc.

----

track PRs here:

[2019-03-07 15:16] neolit123 commented on #1260
moving to 1.15. only a small portion left here.

[2019-03-07 15:20] neolit123 commented on #1285
@lbogdan sorry for the delayed reply.

that would be appreciated, but mind that we are in code freeze soon, so a PR for this can be merged after 1.14 is out.

[2019-03-07 15:50] neolit123 commented on #798
some of the k8s maintainers will probably disagree with such tests; i'm tempted to do the same.

but most importantly this is not a kubeadm problem, we just expose the apiserver flags.
see this comment and the discussion bellow for the wider problem:
https://github.com/kubernetes/kubernetes/issues/51076#issuecomment-412846482

i'm going to close this issue and kindly ask someone to open a new one

[2019-03-07 15:50] #798 closed

[2019-03-07 16:23] neolit123 commented on #1361
removing the lifecycle/active label.
moving to 1.15.

possible docs update ideas here:
https://github.com/kubernetes/kubeadm/issues/1361#issuecomment-463192631

[2019-03-07 16:27] neolit123 commented on #1027
i will send a website PR to add a troubleshooting note.

[2019-03-07 18:26] neolit123 commented on #1373
moving to 1.15 to not confuse the release team.

[2019-03-07 18:29] yagonobre commented on #1439
https://github.com/kubernetes/kubernetes/pull/74216

[2019-03-08 03:10] neolit123 commented on #1276
@seh @nasir03082409229
can you please verify if this is still present in latest 1.13?

[2019-03-08 03:13] neolit123 commented on #1027
sent docs PR to document the workaround:
https://github.com/kubernetes/website/pull/13033

moving this to the Next milestone.
we need to figure out if this is still a problem in latest 1.13 and 1.14.

[2019-03-08 10:52] NeilW commented on #1027
Unfortunately it is. If I remove the toleration patch I get

[code]

when building a new cluster with terraform.

[2019-03-08 14:38] ereslibre opened #1440 "Create e2e tests for HA secret transfer"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## What happened?

In order to get HA to GA we need e2e tests that test the secret transfer.

Part of the https://github.com/kubernetes/kubeadm/issues/1373 umbrella issue.

[2019-03-08 16:13] nolmit commented on #338
@valerius257 thank you man, you save our weekend)

[2019-03-08 21:16] ereslibre opened #1442 "kubeadm init phase upload-certs needs `--experimental-upload-certs` when called explicitly"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14

## What happened?

`kubeadm init phase upload-certs` does not perform any action, needs to be called with `--experimental-upload-certs` flag. This is because how we are piping phases, because this flag is checked when it comes from `init --experimental-upload-certs`.

## What you

[2019-03-08 21:20] ereslibre opened #1443 "kubeadm init phase upload-certs does not print the secret if generated when called directly"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14

## What happened?

`kubeadm init phase upload-certs --experimental-upload-certs` does not print the secret if generated.

[code]

## What you expected to happen?

The generated secret used to encrypt the certificates and keys should be printed.

[2019-03-08 21:26] fabriziopandini commented on #1442
Phases are a way to expose part of the main command

It is expected that each phase should behave consistently when executed as a part of the workflow or when called individually, and this includes also to react to the same flags

IMO opening up to different behavior of phases will quickly become unmaintainable

[2019-03-08 21:28] ereslibre commented on #1442
@fabriziopandini this is more for documentation purposes than anything else. When `--experimental-upload-certs` becomes the default this won't be an issue. But we need to document this, or we will get reports.

[2019-03-08 21:30] ereslibre commented on #1442
Rephrased the issue description to make it explicit that this is about documenting the behavior for 1.14.

[2019-03-10 02:25] Ashraf-Hassan opened #1444 "Kubeadm init --config=file.yaml is failing with Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm HA
kubeadm Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
v1.13.4

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[2019-03-10 05:20] pytimer commented on #1444
I see an issue about this, but i don't know is it work for you?
You can see it https://github.com/kubernetes/kubernetes/issues/56850#issuecomment-372933448.

[2019-03-10 18:15] Ashraf-Hassan commented on #1444
No it did not fix the issue, I tested all the previous versions for kubeadm up to 13.1.1 and they are all having this issue!

[2019-03-11 12:01] ntwrkguru commented on #1092
@timothysc Perhaps you can share the issue/PR which prompted this to be closed?

[2019-03-11 13:51] rosti commented on #1444
@Ashraf-Hassan looks like the cgroup driver is not setup properly. Did you took a note of [this](https://kubernetes.io/docs/setup/cri/#cgroup-drivers)?
Also, make sure you checkout the Docker installation instructions for CentOS/RHEL in the paragraph below.

[2019-03-11 13:54] neolit123 commented on #1444
it should be set automatically, regardless.
this is the first report of the cgroup driver detection failing in a while.

[2019-03-11 14:11] rosti commented on #1442
We should at least dump something along the lines of `Did you forget to use --experimental-upload-certs?` if the flag is missing and the phase is invoked standalone.

[2019-03-11 14:12] rosti commented on #1442
BTW, this also applies to the control plane phases in join.

[2019-03-11 14:32] Ashraf-Hassan commented on #1444
I have reinstalled the docker as per the https://kubernetes.io/docs/setup/cri/#cgroup-drivers, but if the cgroup should be set automatically, how can I solve my my problem when I user kubeadm?
By the way when I use kubeadm init --pod-network-cidr=192,168.0.0/16 it works perfectly, but it installs it on a single master, when I use kubadm init --config=kubeadm-config.yaml it fails with this error wi

[2019-03-11 15:00] pmcgrath commented on #581
I had to deal with this also on a 1.13 cluster, in my case the certificates were about to expire so slightly different
Also dealing with a single master\control instance on premise so did not have to worry about a HA setup or AWS specifics
Have not included the back steps as the other guys have included above

Since the certs had not expired, the cluster already had workloads which I wanted to con

[2019-03-11 15:01] ereslibre commented on #1442
Is there a mechanism at all to know if a phase was called explicitly? I don't think so?

[2019-03-11 15:38] rosti commented on #1442
@ereslibre there is no such mechanism ATM, but it should not be hard to create one.

[2019-03-11 17:00] fabriziopandini commented on #1442
@ereslibre @rosti I think that before creating the mechanism we should define to which extends a phase can behave differently when invoked directly Vs when invoked as a part of a workflow (and probably there is also a third case, that is when we invoke a macro phase), and then apply the new pattern consistently on all phases.

e.g. cleanup UX for optional phases by assuming some flags set implicit

[2019-03-11 17:33] timothysc commented on #1444
Your CNI is not installed and configured properly.

[2019-03-11 19:00] #1443 closed

[2019-03-11 22:20] BestBackwards commented on #1325
I have to say, Kubernetes documentation for a non-existing user is utterly useless. How can you justify not providing functional installation instructions?

[2019-03-12 00:26] CH-rahulprabhu opened #1445 "[coredns] Coredns pod restarts continuously"
## BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
`aws`
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
Trying to bootstrap a kubernetes cluster. Ran kubeadm init. All of the pods come back up o

[2019-03-12 01:35] pytimer commented on #1444
@timothysc I think this problem not related to CNI, because it occur at the `kubeadm init`.

I think maybe this cause by `Failed to get system container stats for "/system.slice/kubelet.service": failed to get cgroup stats` , but i am not sure.

Somebody setting kubelet systemd service, like below:
[code]
I'm not sure if it is works well and fix this issue.

[2019-03-12 01:52] neolit123 commented on #1444
@Ashraf-Hassan

you might see his once or twice, but i don't think you can consider it a fatal error, right away..

Mar 10 01:59:36 master01.example.com kubelet[18378]: E0310 01:59:36.325111   18378 kubelet.go:2192] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not

this is a fatal error:

^ do you still see the above message

[2019-03-12 01:54] mitchellmaler commented on #1325
@BestBackwards
The install instructions for kubeadm is located here: https://kubernetes.io/docs/setup/independent/install-kubeadm/
It provides the steps, requirements and exact commands to run on the different supported distributions.

[2019-03-12 06:52] fabriziopandini commented on #1445
@CH-rahulprabhu which CNI plugin are you using?

[2019-03-12 09:20] hreidar commented on #1438
Hi, @timothysc, I see that you added this to a milestone for v1.15, am I hitting a known problem?

[2019-03-12 10:28] neolit123 commented on #1438
@hreidar
i don't believe we have gotten a similar report about external ETCD HA clusters not being able to write CRI socket. also, i can't seem to find a problem with your setup.

what happens if you try to `kubeadm init --ignore-preflight-errors=all` on one of your nodes (i.e. run single control plane setup)?

the milestone change means that the team is out of bandwidth to work on this ticket thi

[2019-03-12 15:25] hreidar commented on #1438
@neolit123 thanks for the info.

I agree. I don't see anything wrong and after the error I'm able to query the kubernetes API and I can see k8s data in my etcd cluster.

I'll try to make some more tests tomorrow. I will report if I find something interesting.

[2019-03-12 15:48] seanlarge commented on #1105
same

![image](https://user-images.githubusercontent.com/7821732/54214537-c61f6f00-44bc-11e9-8804-5a3f1866e518.png)

[2019-03-12 19:00] timothysc commented on #1445
fwiw - "Container Linux by CoreOS" is also not a test target.

[2019-03-12 21:18] CH-rahulprabhu commented on #1445
Sorry had Issues with cilium. The cilium operator was restarting the pods. Issue here: https://github.com/cilium/cilium/pull/7385

[2019-03-12 21:18] CH-rahulprabhu commented on #1445
Closing since it was resolved

[2019-03-12 21:18] #1445 closed

[2019-03-13 08:39] dungdm93 opened #1447 "Update API server certSANs"
## What keywords did you search in kubeadm issues before filing this one?
apiserver
sa
certificate
certSANs

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.13.4

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: VM on GCE
- **OS** (e.g. from /etc/os-release)

[2019-03-13 11:23] neolit123 commented on #1447
try this command instead:
`kubeadm config upload from-file --config kubeadm.yaml`
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-config/#cmd-config-from-file

then do `kubeadm config view` to see if you have made the change.

you first need to get the previous step right.
do you get some sort of an error here?

[2019-03-13 13:32] alexbrand commented on #1223
If possible, I think we should use the TLS bootstrapping facilities built into the kubelet for requesting/rotating serving certificates.

[2019-03-13 13:33] stgleb commented on #1223
@alexbrand I agree on that

[2019-03-13 14:12] dungdm93 commented on #1447
config already published to k8s configmap with no need of `kubeadm config upload`. Proof is:
[code]

[2019-03-13 14:47] ncdc opened #1448 "KubernetesVersionToImageTag: consider using dash instead of underscore for disallowed characters"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

master - commit 517922f

## What happened?
Let's say we have a git tag for Kubernetes that includes semver build metadata (delineated using a `+`), such as `v1.13.4+abc.123`. There is code in `kubeadm` that takes the version and translates it to a string that is a valid image tag. Characters such as `+` are disallowed, and

[2019-03-13 14:47] ncdc commented on #1448
Related to https://github.com/kubernetes/kubernetes/issues/75297

[2019-03-13 15:06] ncdc commented on #1448
Nevermind, I discussed this with my release team and we're ok with the underscores. Sorry for the noise.

/close

[2019-03-13 15:06] #1448 closed

[2019-03-13 15:44] rosti commented on #1430
@neolit123 Latest master. Is this still valid with you? ~30s for me right now.

[code]

[2019-03-13 17:26] neolit123 commented on #1430
closing, it looks it took 30seconds for me as well this time.
no idea why.

/close

[2019-03-13 17:27] #1430 closed

[2019-03-13 19:07] neolit123 opened #1449 "edit release notes draft for 1.14"
release notes draft for 1.14 is here
https://docs.google.com/document/d/1PAbK3D6-GorRf_Fi1U_q-Vvt9wM4MMh-qQfiq-dtOTE/edit

tasks:
- edit/move PR release notes where/if needed.
- add SIG theme; kubeadm mostly, as other projects are k8s release unbound.

/assign @timothysc @fabriziopandini @neolit123
/kind documentation
/priority important-soon

[2019-03-14 13:55] ghglza commented on #1363
Upgrading CRI-O to branch release-v1.13 commit 38b6ed9 didn't change anything

[2019-03-14 14:01] Ashraf-Hassan commented on #1444
The problem is solved by:
1- Using the docker-ce release!
2- And adding:
Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"
And then adding  $KUBELET_CGROUP_ARGS in ExecStart
in The file  /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
and make systemd daemon-reload.
However as I understood that this will be depricated is that correct?

[2019-03-14 16:22] neolit123 commented on #1363
the kubeadm team don't have (official) test signal on CRI-O, so we cannot help much on this topic.
i think @bart0sh and the folks at Intel are using it.

[2019-03-14 16:38] ghglza commented on #1363
Ok, thanks for clarifying this!
I opened the PR here due to being redirected from the k8s networking team.

Does this mean that kubeadm+CRI-O is effectively unsupported (at least currently), i.e. when setting up clusters with kubeadm one should use Docker?
If this is the case, it might be helpful to mention it in the official kubeadm documentation... I was under the impression that CRI-O is the "o

[2019-03-14 16:40] neolit123 opened #1451 "move the self-hosting documentation from the kubeadm init authored page"
move references of self-hosting away from the kubeadm init authored page:
https://github.com/kubernetes/website/blob/master/content/en/docs/reference/setup-tools/kubeadm/kubeadm-init.md#self-hosting-the-kubernetes-control-plane-self-hosting

destination is possibly a new page.

[2019-03-14 16:43] neolit123 commented on #1363
it's supported on paper, but in the same time it's in a weird space where we don't have e2e test signal for it.

[2019-03-14 17:37] neolit123 commented on #1230
we no longer have to fix these, but rather remove them completely and use kind based upgrades.
moving the work here so that we don't have multiple tracking issues:
https://github.com/kubernetes/kubeadm/issues/1290

[2019-03-14 17:37] #1230 closed

[2019-03-14 18:07] neolit123 commented on #1290
re:

@fabriziopandini @timothysc
yesterday we discussed briefly what is the plan.
here is the summary again.

we need upgrade and skew tests  in 1.15  as we are no longer going to use kubernetes-anywhere.

**here is a summary:**
- kind out of the box does not support what we need for e2e testing.
major blocker is that we cannot stop the creation of the k8s cluster from the config or the command li

[2019-03-14 18:56] BenTheElder commented on #1290
3. is a fair option imho :+1:
1. is possible but also perhaps not as fast as we might want / land it otherwise.
2. kubetest2 is low priority and not ready. if you want to add kinder to kubetest1 _or_ 2 I don't think there are any political blockers (?) but kubetest is a mess and kubetest2 is still an MVP. :grimacing:

I would recommend not using the bash for too much longer though, we should at le

[2019-03-14 19:05] neolit123 commented on #1290
ok, 3 it is then.
but i only see it as a temporary option and i will think about a way to bring the bash to a minimum.

[2019-03-14 23:09] yagonobre commented on #1422
/unassign

[2019-03-15 00:58] pytimer commented on #1444
@Ashraf-Hassan I think you can setting kubelet configurations when init using `kubeadm-config.yaml`, like below:

[code]

Or you can see https://kubernetes.io/docs/setup/independent/kubelet-integration/#kubelet-configuration-patterns this article.

Hope it can help you.

[2019-03-15 02:32] neolit123 commented on #1449
@fabriziopandini @timothysc
@kubernetes/sig-cluster-lifecycle-pr-reviews

WIP theme doc is here:
https://docs.google.com/document/d/1kGHktVfjMFoZCzou--L26-zXrfk8moE9nFlKgzKdZJE/edit?usp=sharing

please help edit the most notable items.

[2019-03-15 02:44] neolit123 commented on #1449
@timothysc i did a first pass on release notes and our notes seem good. some are under "new features", some are under SIG CL.

i cannot find a section with SIG themes?
either way our themes are done here (from my POV):
https://docs.google.com/document/d/1kGHktVfjMFoZCzou--L26-zXrfk8moE9nFlKgzKdZJE/edit?usp=sharing

[2019-03-15 10:51] neolit123 commented on #1449
SIG themes have been removed.
i guess we need to format our new features in "what's new".

[2019-03-15 13:31] neolit123 commented on #1449
updated:
https://docs.google.com/document/d/1kGHktVfjMFoZCzou--L26-zXrfk8moE9nFlKgzKdZJE/edit

[2019-03-15 15:33] timothysc commented on #1290
I think it's still a little early on 1.15 to pull the trigger on options.

If we get phases in kind we can either wrap with scripts or build macro commands in kinder.

[2019-03-15 20:39] timothysc commented on #1449
reviewed and gave feedback.
Thx for doing this @neolit123 .

lgtm

[2019-03-15 20:39] timothysc commented on #1451
/assign @timothysc

[2019-03-16 07:35] ssoor opened #1452 "Node can't join to cluster"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-03-16 12:42] neolit123 commented on #1452
you need to `kubeadm init` on the first control-plane node.
then you `kubeadm join` the rest of your control-plane nodes with the same token that `kubeadm init` printed for you.

but you also need to copy certificates from the first node.
please follow this guide: https://kubernetes.io/docs/setup/independent/high-availability/

[2019-03-16 18:32] jimangel commented on #1422
@neolit123 I think this is ok to close.

[2019-03-16 18:49] #1422 closed

[2019-03-16 21:18] tuco86 commented on #1348
We have got the same problem and worked around it by setting apiServer.extraArgs.bind-address: <node_ip> so the first server comes up as expected. Then sed replace bind-address with local node ip and restart kubelet after the joins. When apiserver binds on node ip i'm free to setup a load balancing haproxy bound to a floating ip. HA is achieved by moving the floating ip to a healthy node via keepa

[2019-03-17 04:10] neolit123 commented on #1283
we had to revert the previous PR, see:
https://github.com/kubernetes/kubernetes/issues/75412

we can only remove once this changes:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/deprecated_insecure_serving.go#L76-L79

[2019-03-17 12:38] CodeAholic commented on #1438
Can you share the logs  of your kube-apiserver container @hreidar

[2019-03-17 14:31] fabriziopandini commented on #1438
If I'm not worng, the drop in 20-etcd-service-manager.conf should not exists on control-plane nodes

[2019-03-17 16:43] thejmazz opened #1453 "Kubeadm HA Join Confusing Etcd CA with apiserver CA"
## What keywords did you search in kubeadm issues before filing this one?

- “invalid authority”
- there is the issue with the guy who was manually creating certs without newlines which is what gave me the idea to actually check cacert inside admin.conf

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Inf

[2019-03-17 22:21] hreidar commented on #1438
@CodeAholic I can but not until Tuesday as I'm at home with my two girls that are ill at the moment.

@fabriziopandini there is a possibility that I have generated this file by accident as I was preparing the nodes all at once. Does this influence the other k8s components in some way? etcd should not installed on the master in my case.

[2019-03-18 05:55] phanisowjanyavutukuri commented on #1390
Even am facing the same issue
kubeadm init is failing with public ip and saying that kubelet is misconfigured
This error is likely caused by:
- The kubelet is not running
- The kubelet is unhealthy due to a misconfiguration of the node in some way (required cgroups disabled)

[2019-03-18 06:47] neolit123 commented on #1453
could this have happened because the etcd crt/key files were written under `/etc/kubernetes/pki` instead of `/etc/kubernetes/pki/etcd`?

[2019-03-18 07:17] fabriziopandini commented on #1390
I'm for closing the issue here because this is not a kubeadm problem

Probably the best option to get a suggestion here is to reopen the issue in k/k and tag SIG network and SIG cloud provider
@neolit123 opinions?

[2019-03-18 07:32] fabriziopandini commented on #1439
@rosti there are issues asking for allowing kube-apiserver customizations at node level
https://github.com/kubernetes/kubeadm/issues/1348

[2019-03-18 07:43] neolit123 commented on #1390
its definitely not a kubeadm problem, because kubeadm does not manage the node networking.

for the GCP case, this seems to be the root of the problem as explained by @spockmang:

i think we should not track this issue here but rather in the kubernetes/kubernetes tracker.
also tag `/sig gcp`, `/sig aws`, `/sig network`.

@phanikumarp please re-open the ticket in k/k if you'd like and reference thi

[2019-03-18 07:43] #1390 closed

[2019-03-18 14:17] fabriziopandini commented on #1439
There is also the Kube Router use case (skip kube-proxy in join/upgrade vs config)

[2019-03-18 14:22] neolit123 commented on #1439
DNS local cache, but we didn't talk if we want it in the config yet.

[2019-03-18 21:46] thejmazz commented on #1453
Ah yes that was the problem - I must have accidentally copied `pki/etcd/ca.crt` over `pki/ca.crt`. Perhaps preflight checks can be improved? Perhaps "but has got the wrong CA cert"  can be improved to say something along the lines of "expected kubernetes ca but found etcd-ca"? (but maybe thats infeasible when considering users can opt-in to bring their own CAs).

Closing for now, in the future I m

[2019-03-18 21:46] #1453 closed

[2019-03-19 09:38] sachinjambhulkar commented on #338
Thanks @valerius257 👍
I have tried all write-ups / instructions from @patricklucas and @weisjohn . They didn't work for my cluster. The good part is that those instructions highlights some of the key aspects of certificates and keys and at what timeline they needs to take care.

 The instruction mentioned by @valerius257  worked seamlessly, till  I hit issues which are very specific to my kubeadm