[2017-11-23 18:57] mbert commented on #546
I have now "documented" a very simple setup in form of a small ansible project: https://github.com/mbert/kubeadm2ha

It is of course still work in progress, but it already allows to set up a multi-master cluster without any bells and whistles. I have tried to keep it as simple as possible so that by reading one should be able to find out pretty easily what needs to be done in which order.

Tomorro

[2017-11-24 00:02] anguslees commented on #546
Just to call it out explicitly, there's a bunch of orthogonal issues mashed together in the above conversation/suggestions.  It might be useful to break these out separately, and perhaps prioritise some above others:

- etcd data durability (multi etcd.  Requires 2+ etcd nodes)
- etcd data availability (multi etcd+redundancy. Requires 3+ etcd nodes)
- apiserver availability (multi apiserver.  Requ

[2017-11-24 00:55] cookeem commented on #328
@kumarganesh2814 Great, you are welcome 😁

[2017-11-24 01:58] #527 closed

[2017-11-24 02:08] niuhp opened #569 "how can i specified external-etcd-endpoints in 1.8.0"
how can i init kubeneter cluster with kubeadm , i have all images in myrepo.com/google_containers and etcd cluster (http://etcd1:2379,http://etcd2:2379,http://etcd3:2379), i have installed kubeadm、kubectl、kubelet、docker

[2017-11-24 02:43] KeithTt commented on #546
@mbert I have achieved the HA proposal by generating the certs manually for each node, and without deleting `NodeRestriction`, I use `haproxy+keepalived` as loadbalancer now, maybe `lvs+keepalived` will be better, I will document the details in this weekend, hope to share with u.

[2017-11-24 04:10] xiangpengzhao commented on #512
xref: https://github.com/kubernetes/kubernetes/pull/56311#issue-276510486

[2017-11-24 08:05] wackxu commented on #566
I can help fix this

[2017-11-24 08:12] xiangpengzhao commented on #567
/sub

[2017-11-24 08:14] xiangpengzhao commented on #565
/sub

[2017-11-24 08:40] Lion-Wei opened #570 "kube-proxy can't work in kubeadm built cluster"
## What keywords did you search in kubeadm issues before filing this one?

`kube-proxy` `kube-proxy ComponentConfig`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): latest

**Environment**:
- **Kubernetes version** (use `kubectl version`): ci/latest
- **Cloud provider or hardware configuration**: gce and local
- **OS** (e.g. from

[2017-11-24 08:45] Lion-Wei commented on #570
I fixed this issue by add kubeconfig path to `clientConnection.kubeconfig` in my environment, but I don't know is there other consideration.
[code]

[2017-11-24 10:25] kumarganesh2814 commented on #328
@cookeem

Sorry to Trouble you again.

In CLuster which I have deployed I see one starge this that I can access my app on all Master and Worker Node

However I havent specified hostport true is this is bug/issue or a feature.

my Yaml for Sample App

``# cat deploy-tomcat.yaml
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  labels:
    k8s-app: tomcat
  name: tomcat
  namespace: tomcat

[2017-11-24 10:28] luxas commented on #565
Isn't this working already at HEAD?

[2017-11-24 10:30] kumarganesh2814 commented on #328
So Now after Kubeclt apply yaml files
I see can Access app via 6 diff urls
3 url for MASTER-IP:30006/APP
3 url for Worker-IP:30006/APP

But as far as I know we can only access app via Master Node IP, not sure why worker also showing load

I see this Process on Worker Node

# netstat -plant|grep 30006
tcp6       0      0 :::30006                :::*                    LISTEN      1972/kube-proxy

k

[2017-11-24 10:57] #520 closed

[2017-11-24 12:20] #539 closed

[2017-11-24 14:27] fabriziopandini commented on #565
CoreDNS is implemented only in `kubeadm init` at HEAD, not in phases ...

[2017-11-24 14:39] fabriziopandini opened #571 "Graduate kubelet config to beta"
FEATURE REQUEST

Kubelet config was introduced in `kubeadm init` as alpha feature behind feature gates, but it is planned to graduate it as soon as possible.

It should be necessary to introduce corresponding phases as well before graduation.

[2017-11-24 15:20] #512 closed

[2017-11-24 17:37] luxas commented on #565
I think _this_ works at HEAD. I also think `kubeadm alpha phase addon kube-dns --feature-gates CoreDNS=true` works. We could add a shim `coredns` sub-command easily there as well that automatically enables the feature gate internally in time for v1.9 though

[2017-11-24 18:04] luxas commented on #571
/assign @xiangpengzhao
this is a goal for v1.10, but the PR can be sent ASAP. It just can't merge before the v1.9 freeze lifts.

[2017-11-24 18:35] luxas commented on #566
@wackxu please don't code this up before we've commented here with further, more detailed instructions on how this should be implemented

Thanks for offering help!

[2017-11-25 01:52] wackxu commented on #566
@luxas yeah, you are right, I have just finish it and I would not commit a PR until we make sure the detail for how this should be implemented

[2017-11-25 14:19] bodyno opened #572 "Help! kubeadm ingress doesn't work."
Help! kubeadm ingress doesn't work.

When I set up a example about ingress.

Here is what I got:

![image](https://user-images.githubusercontent.com/5443058/33231332-b5772dac-d22e-11e7-9e56-987e3578dc60.png)

When I visit it though browser. got nothing.

I'm a newbie. Please help me.

[2017-11-25 14:26] bodyno commented on #572
I know now. Should add hostNetwork: true for deployment

[2017-11-25 14:26] #572 closed

[2017-11-25 21:26] luxas commented on #546
FYI all, @mbert has started working on a great WIP guide for kubeadm HA manually that we'll add to the v1.9 kubeadm docs eventually: https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg/edit

Please take a look at the doc everyone, and provide your comments. We'll soon-ish convert this into markdown and send as a PR to kubernetes/website.

Thank you @mbert and all the ot

[2017-11-26 19:56] #570 closed

[2017-11-27 00:09] anguslees commented on #546
@mbert/@luxas: that doc doesn't allow comments (for me at least :cry:)

[2017-11-27 06:12] sachinar commented on #557
try this out ..!!!
Your error will be sloved.

kubectl apply -f https://git.io/weave-kube-1.6

[2017-11-27 06:12] #557 closed

[2017-11-27 07:09] cookeem commented on #328
This is kubernetes proxy & nodeport features, there's proxy process will boot on every node, it will make all nodes can access the same nodeport.

This is the document about NodePort:
https://kubernetes.io/docs/concepts/services-networking/service/#type-nodeport

[2017-11-27 07:55] mbert commented on #546
Done, I had the wrong setting in the doc.

[2017-11-27 08:37] amar123deep opened #574 ""kubeadm join" does not add worker node to the cluster"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm join,
error: failed to run Kubelet: invalid kubeconfig: stat /etc/kubernetes/kubelet.conf: no such file

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a94

[2017-11-27 10:53] kumarganesh2814 commented on #328
@cookeem
Thanks Now got clarity One more Doubt if all our Masters will go down will we be able to access pods using same nodeport.

Or If I enable hostnetwork to true I can access same service on specified port if I shut all 3 Masters still pods will be running?

Best Regards
Ganesh

[2017-11-27 22:30] rayterrill commented on #484
Running into this same issue trying to get the vSphere plugin working on a cluster built with kubeadm. Temporarily moving my vsphere config file into the pki directory worked for me as far as allowing the cluster to start again after making the --cloud-provider and --cloud-config settings.

[2017-11-28 01:08] cookeem commented on #328
@kumarganesh2814 NodePort is support by kubernetes proxy component, if all masters are down, although docker container still running, but all nodeport will unavailable and network function will lost, you can not access any service from your host.

[2017-11-28 04:12] xiangpengzhao commented on #571
TODO list:
- [x] "It should be necessary to introduce corresponding phases as well before graduation." There is already a kubelet phase. Anything else should do here?
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/init.go#L341-L347
[code]
- [ ] switch feature gate from alpha to beta and default to true.
- [ ] load/store initial configuration from/to `InitConfigFile` inste

[2017-11-28 09:56] luxas commented on #28
I think all the tasks needed to be performed were merged last week, so closing this as fixed for an alpha state now. The design of this feature is covered in design doc update of v1.9 #573.

We'll open new issues later for graduating this feature to beta on the kubeadm side.

Thanks @xiangpengzhao for the awesome work on this :tada:!

[2017-11-28 09:56] #28 closed

[2017-11-28 09:57] luxas commented on #457
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-upgrade-stable-master is green and passing now

[2017-11-28 09:57] #457 closed

[2017-11-28 09:58] luxas commented on #263
ping @jamiehannaford on that script or I'll move it out of the v1.9 milestone. Either works for me if you're very busy right now

[2017-11-28 10:01] luxas commented on #452
This ought to work, but we discovered yesterday that we can't downgrade etcd 3.1.10 used in k8s v1.9 to back to 3.0.17 for a k8s v1.8 cluster, which forces us to do some small changes in the kubeadm code.

I moved runtime reconfig out of the v1.9 milestone, not a target, but rollbacks are.

We'll soon-ish create a downgrade job in the CI as well

[2017-11-28 10:21] fabriziopandini commented on #565
@luxas, you are right, this is already there at HEAD (didn't noticed at the first sight).
Closing this one

[2017-11-28 10:21] #565 closed

[2017-11-28 10:28] fabriziopandini commented on #571
@xiangpengzhao, with "introduce corresponding phases" I was thinking at `kubeadm alpha phases`, where we should provide a set of subcommands that allow user to invoke atomically all the steps executed during `kubeadm init`.

@xiangpengzhao, @luxas, if you agree I will rename this issue into "Graduate kubelet config to beta“

[2017-11-28 11:10] xiangpengzhao commented on #571
@fabriziopandini thanks for clarifying !
+1 from me on renaming the issue title.

[2017-11-28 16:24] iahmad-khan commented on #483
hiy , i am getting this after signing in with that token:

configmaps is forbidden: User "system:bootstrap:e769a8" cannot list configmaps in the namespace "default"
close
warning
persistentvolumeclaims is forbidden: User "system:bootstrap:e769a8" cannot list persistentvolumeclaims in the namespace "default"
close
warning
secrets is forbidden: User "system:bootstrap:e769a8" cannot list secrets in t

[2017-11-28 18:45] luxas commented on #571
@xiangpengzhao it should be exposed as commands in, for example:
 - `kubeadm phase kubelet config init write`
 - `kubeadm phase kubelet config dynamic enable-for-node`
 - `kubeadm phase kubelet config dynamic upload`

[2017-11-28 19:10] luxas commented on #483
this token should NOT be used for general purpose auth, only bootstrapping

[2017-11-28 20:21] iahmad-khan commented on #483
got it

[2017-11-29 02:44] dims opened #576 "volumeMount and hostPath are not created for cloud config file"
if we specify `cloudProvider: <cloud provider>` in say `kubeadm.conf` and pass that file into `kubeadm init --config=kubeadm.conf` then we add `--cloud-provider` in the api server and controller manager yaml files. Also if the /etc/kubernetes/cloud-config file exists then we add `--cloud-config` command line too.

However we do not create the volumeMount and hostPath for the same. So we need to fi

[2017-11-29 02:44] dims commented on #576
/kind bug

[2017-11-29 02:44] dims commented on #576
/assign @luxas

[2017-11-29 02:48] dims opened #577 "Improper validation of ignore-preflight-errors and config flag"
We should allow both these flags together on the command line. Looks like a problem was introduced in https://github.com/kubernetes/kubernetes/pull/56208 that causes failure when these flags are specified together

[2017-11-29 03:11] dims commented on #576
see the manual steps needed for the volumeMount and hostPath for example in https://medium.com/@arthur.souzamiranda/kubernetes-with-openstack-cloud-provider-current-state-and-upcoming-changes-part-1-of-2-48b161ea449a

[2017-11-29 03:12] dims commented on #577
/kind bug

[2017-11-29 07:36] KeithTt opened #578 "Failed create pod sandbox. Error syncing pod. Pod sandbox changed, it will be killed and re-created."
kube version: 1.8.3
OS version: debian stretch

[code]

The new joined node always reports this error when run any pod.

[code]

While the `kube-proxy` and `calico-node` is running normally.

[code]

There are 3 files in `/etc/kubernetes`:
[code]

It seems something wrong with `bootstrap`, the requestor is not `system:node:NODENAME`? Should I generate the certs of the node manually?

[code]
[code]

[2017-11-29 07:37] KeithTt commented on #578
/kind support

[2017-11-29 13:32] mindscratch commented on #102
FWIW, if you use kubeadm to start the cluster, if you specify the "pod-network-cidr", that'll get passed to the kube-proxy when it starts as the "cluster-cidr". For example, weave defaults to using "10.32.0.0/12"...so I used `kubeadm init --kubernetes-version=v.1.8.4 --pod-network-cidr=10.32.0.0/12` which started kube-proxy with `cluster-cidr=10.32.0.0/12`

[2017-11-29 13:32] dhrp opened #579 "setting --oidc-groups-claim=groups makes apiserver not restart"
## What keywords did you search in kubeadm issues before filing this one?

--oidc-groups-claim

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
Major:"1", Minor:"8", GitVersion:"v1.8.3",

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.8.3
- **Cloud provider or hardware configuration**: Packet / baremetal
- **O

[2017-11-29 14:23] dhrp commented on #579
I've also confirmed that without a `--oidc-groups-claim` groups is not like a default. In other words; omitting this flag doesn't make putting a 'groups' claim work.

[2017-11-29 15:14] kumarganesh2814 commented on #328
@cookeem

Thanks Man.

Appericiate your Support till.

Best Regards
Ganesh

[2017-11-29 18:14] bboreham opened #580 "Should kubeadm check that ip_forward is turned on?"
## FEATURE REQUEST

I came across someone whose kubeadm-created cluster was somewhat broken because IP forwarding was turned off.  I believe it's mandatory for Kubernetes; for example [this guide](https://kubernetes.io/docs/getting-started-guides/scratch/#network-connectivity) says it has to be on.

So, should this be added to the preflight checks?

[2017-11-29 21:39] #577 closed

[2017-11-29 23:08] bamb00 commented on #102
@bboreham I'm new to this...Would there be an example on how to implement your suggestion "add IP route(s) so Kubernetes cluster addresses go via the appropriate adapter"?

[2017-11-30 00:12] bboreham commented on #102
@bamb00 scroll up; there is an example at https://github.com/kubernetes/kubeadm/issues/102#issuecomment-291532883

**Caution**: if you make a wrong step it may will result in your machine being inaccessible.  Generally this will come back after a reboot, unless you configured the bad route to be there on startup.

I do not know an easy way to learn Linux network configuration.

[2017-11-30 00:14] bboreham commented on #102
@mindscratch do note this issue has nothing to do with "cluster-cidr"; that was a red herring eliminated around seven months ago.  Please open a new issue if you are having new problems.

[2017-11-30 02:59] #576 closed

[2017-11-30 07:02] KeithTt commented on #578
Resolved. This is a network issue, there is another cni network config in `/etc/cni/net.d`.

Remove it and restart kubelet, it turns working. Close it.

[2017-11-30 07:02] #578 closed

[2017-11-30 09:57] zalmanzhao opened #581 "how to renew the certificate when apiserver cert expired?"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2017-11-30 12:50] mmaquevice opened #582 "Not setting correct ip for master (set via apiserver-advertise-address)"
Hi,

I use kubeadm 1.8.4, ubuntu 16.04.

When I initialize a cluster:
`kubeadm init --token=[my-token] --apiserver-advertise-address=10.0.0.11 --pod-network-cidr=10.32.0.0/12 --service-cidr=10.96.0.0/12`

The ip set for the master is the public one (which is also the one from the default interface) instead of 10.0.0.11:
[code]

If a node is joined, the ip seems correct (from the right interface, w

[2017-12-01 13:14] shibd commented on #507
Hello, have you solved it

[2017-12-01 13:40] jamiehannaford commented on #507
@shibd Try restarting your docker, that could be the issue. If not, can you open a new issue with your kubelet logs.

[2017-12-01 14:29] jamiehannaford opened #583 "Use localhost for API server health checks?"
When kubeadm waits for the master, it calls the `/healthz` endpoint to ensure it's running:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/apiclient/wait.go#L77

However this is problematic for HA setups where the `advertiseAddress` is the Load Balancer IPv4 and other masters in the LB pool might not having running apiservers listening on 6443 yet (imagine we're running

[2017-12-01 15:21] jeffmhastings opened #584 "node-name different than `hostname` not working"
## Is this a request for help?

Yes. I posted a question on slack but received no response.

## What keywords did you search in kubeadm issues before filing this one?

"node-name", "Unable to register node"

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

When I run `kubeadm init` using the `nodeName` configuration option or `--node-name` command line flag I end up in a state where `kubea

[2017-12-01 15:43] ericstoekl commented on #523
I'm running into the same exact issue, Ubuntu 16.04, Kubernetes 1.8.4

[2017-12-01 15:59] newcrane commented on #523
I also faced the same issue,  centos7.4 Kubernetes 1.8.4 kubeadm 1.8.4

[2017-12-01 17:39] ericstoekl commented on #523
Actually, I am pretty sure this is a flannel issue. I started up a cluster with weave and it did not encounter the sandbox issue.

[2017-12-01 18:08] jberkus commented on #131
This issue is listed as being in 1.9, can we have a status?  It appears that there hasn't been any work on it in a while.

[2017-12-01 20:34] kcao3 commented on #546
@mbert I have a question for you. Following your approach, assuming I have a functioning HA k8s cluster. Do you know how to add new k8s masters to my existing cluster? The issue I am facing now is the certs that were generated based on the FIXED number of k8s master hosts at the time the cluster was bootstrapped. This now prevents any new master to join the cluster. From the kubelet's log of the n

[2017-12-02 02:15] xiangpengzhao commented on #372
As per https://github.com/kubernetes/kubeadm/issues/371#issuecomment-345847109, we can bump this issue to 1.10 as well ? @luxas

[2017-12-02 06:16] srossross commented on #507
I am having this issue and docker restart did not solve it.

[2017-12-02 09:33] newcrane commented on #523
I use calico replace flannel , run successfully at last

[2017-12-02 10:07] mbert commented on #546
@kcao3 I am not very familiar with this particular aspect. Maybe @jamiehannaford can tell you more about this?

[2017-12-02 10:42] luxas commented on #372
No, we should add this test now before v1.9 is cut

[2017-12-02 11:03] luxas commented on #583
Let's enqueue this for the next kubeadm meeting?

[2017-12-02 12:27] xiangpengzhao opened #585 "master upgrade fails in kubeadm-gce-upgrade-stable-master"
Kubelet doesn't restart the components of master after the manifests updating.

[code]

@kubernetes/sig-node-test-failures @kubernetes/sig-node-bugs any known bugs when kubelet restarts static pods ?

/cc @luxas @kubernetes/sig-cluster-lifecycle-test-failures

[2017-12-02 12:28] xiangpengzhao commented on #585
/kind bug
/priority failing-test

[2017-12-03 03:18] kcao3 opened #586 "Extending current HA k8s cluster (deployed by kubeadm and ansible) by adding new masters"
Hello,
I am trying to add a new master node to my HA k8s cluster previously deployed by using kubeadm with ansible. You can see #546 for the detailed procedure.

The issue I am facing now is the certs that were generated  based on the FIXED number of k8s master hosts that was specified at the time the cluster was initially bootstrapped. This now prevents any new master to join the cluster. The kub

[2017-12-04 02:34] xiangpengzhao commented on #372
@luxas I didn't find where/what such a test case can be added.  This should be a new CI job, right?

[2017-12-04 03:09] roadmapper commented on #540
This is not really a kubeadm bug; the kubelet is installed independently from kubeadm and thus has its own configuration for the pause container. See https://github.com/kubernetes/kubeadm/issues/257#issuecomment-298007840 for a way to specify the pause image location.

[2017-12-04 03:18] xiangpengzhao commented on #256
Is this full implemented? When I try to triage https://github.com/kubernetes/kubeadm/issues/585, I can't find enough info on master (for why master components aren't restarted by kubelet).

[2017-12-04 10:40] #540 closed

[2017-12-04 10:41] sebastien-prudhomme commented on #540
Thanks

[2017-12-04 18:30] jamiehannaford commented on #507
@srossross Please open a new issue with full DNS and kubelet logs.

[2017-12-04 18:32] jamiehannaford commented on #546
@kcao3 Each master join will generate TLS assets using the specific IPv4 for that server. The config  also accepts additional SANs, which should include the LB IPv4 which sits in front of the masters. I have a [HA guide in review](https://github.com/kubernetes/website/pull/6458), so check that out if you have time.

[2017-12-04 23:14] srossross opened #587 "kube-dns fails to start with - FailedCreatePodSandBox error"
## What keywords did you search in kubeadm issues before filing this one?

I was suggested to create a new issue from #507

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: vagrant
- **OS** (e.g. from /etc

[2017-12-05 05:55] Lion-Wei commented on #587
Seems like you haven't install any pod network plugin.
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

[2017-12-05 06:00] mbert commented on #546
I have just pushed a new commit to https://github.com/mbert/kubeadm2ha
- flannel networking is now supported (and default)
- there's a basic installation for the dashboard (NodePort network, insecure, i.e. no SSL) as a separate playbook
- code cleanup

[2017-12-05 06:01] Lion-Wei commented on #528
@luxas If you don't mind, I can help to do this. :-)

[2017-12-05 06:15] Inevitable commented on #587
I'm seeing very similar behavior as of a few hours ago.  I can confirm that it seems to occur with flanneld container up and running applied from the standard recommended pod-network plugin yaml.

This is a bare-metal install on a blade system. (The restarts are normal for us, as pulling images often takes several tries for some reason on our net).

[code]

[code]

[2017-12-05 06:28] Inevitable commented on #587
Figured this out.

Flanneld is missing a copy step for the portmap binary in when using the default plugin yaml.

A pull request is in at https://github.com/ben-st/ansible-kubeadm/pull/3

To work around the issue you can grab [portmap](https://github.com/projectcalico/cni-plugin/releases/download/v1.9.1/portmap) and place it in /opt/cni/bin/portmap set to 0755.

[2017-12-05 09:06] alexnuttinck commented on #523
Only flannel or weave-net are available for arm64, I can't use calico.. (see the official documentation: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/)
I 've tried weave-net but the pod failed ("crashloopbackoff" status). It seems that only the version 7.1 of flannel works but I face the issue I describe here before.

[2017-12-05 09:36] ted-jung commented on #324
A little bit weired. if i look into the code "checks.go".
it always return error message if there are value in proxy like below.

[2017-12-05 12:14] kcao3 commented on #546
@mbert I just read the HA guide from @jamiehannaford : https://github.com/jamiehannaford/kubernetes.github.io/blob/3663090ea9b9a29a00c79dd2916e11737ccf1802/docs/setup/independent/high-availability.md. Is it possible on each of the master node, we can have kubeadm to generate and signed separate certificates using the same CA.crt and CA.key?

So the only things that need to be copied from the prima

[2017-12-05 15:18] jeffmhastings commented on #584
I figured this one out. It seems that in addition to the `--node-name` option for kubeadm you also need to set `--hostname-override` for kubelet. I had assumed kubeadm would handle that.

At the very least this is a deficiency in the documentation.

[2017-12-05 17:48] srossross commented on #587
@Inevitable, thanks. in the mean time. I got this running with `kube-router`

I am curious as to why there are 6 options in the [install instructions](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network). More specifically, there is no default choice or a clear reason why I (blissfully ignorant of the nuances of networking)  would choose one over the other. Would it ma

[2017-12-06 10:53] #582 closed

[2017-12-06 20:24] bputt opened #588 "Openstack cloud provider causing apiserver container to fail"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.8.4

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.8.4
- **Cloud provider or hardware configuration**: openstack icehouse
- **OS** (e.g. from /etc/os-release): CentOS 7.4
- **Kernel** (e.g. `uname -a`): Linux 3.10
- **Others**: Docker 17.09.0-ce

#

[2017-12-06 23:03] jaxxstorm opened #589 "kubeadm doesn't add the correct user to kubelet.conf"
BUG REPORT

## Versions

**kubeadm version**: 1.8.4

**Environment**:
- **Kubernetes version** : 1.8.4
- **Cloud provider or hardware configuration**: ANY
- **OS** (e.g. from /etc/os-release): CentOS 7.3
- **Kernel** (e.g. `uname -a`): 3.10.0-514.16.1.el7.x86_64

## What happened?

I ran kubeadm join like so:

[code]

I ran into #411 first, but then I noticed once anonymous auth was turned on, I g

[2017-12-07 01:22] weedar commented on #587
@Inevitable - how did you figure out this was related to Portmap?

I want to confirm this solved the issue for me to, and that the same issue was causing similar behaviour
with Calico - which is also functioning after fetching portmap.

[2017-12-07 03:20] Inevitable commented on #587
Bit of search-fu based on the flanneld pod log lead me to https://github.com/coreos/flannel/issues/890  From there just a simple test to see if my situation was the same.

[2017-12-07 11:40] discordianfish commented on #546
@kcao3 That's what I'm trying to do. I figured out I also need to pre-generate proxy CA cert+keys which are different.
But now when I run `kubeadm init` on my masters, all components come up properly but the kube-proxy still fails due to authentication issues, even though the front-proxy-client.crt is now signed by the same CA on all nodes.

[2017-12-07 12:24] jamiehannaford commented on #546
@discordianfish I also ran into auth issues but when deploying Flannel. Wonder if it's related to what you're seeing.

[2017-12-07 12:26] discordianfish commented on #546
In the meantime I figured out the the 'proxy CA' (frontend-proxy-*) isn't related to kube-proxy. Still trying to figure out what is going on, it looks though like there is no `system:node-proxier` role but I don't know what is suppose to create it.

[2017-12-07 12:37] discordianfish commented on #546
Since the frontend-proxy stuff was a red herring, I'm starting over on a clean slate now. But would be great if someone could confirm that it should work to create the CA credentials and just run init on all masters? Given the right advertiseAddress, SANs and etcd endpoints of course?
Because I'm most worried that kubeadm still somehow generates local secrets other masters don't know about.

[2017-12-07 13:19] discordianfish commented on #546
When my masters come up, kube-proxy is working first but kube-proxy on the last master fails. When I recreated the pods, all fail. So when running kubeadm init again the same etcd multiple times from different hosts, it somehow breaks the authentication.

The service account looks correct and has a secret:

[code]

This service account is bound to a role too:
[code]
And the role exist and is looki

[2017-12-07 13:59] discordianfish commented on #546
Okay, so it looks like the token is only accepted by one instance of my apiservers, probably on the master where `kubeadm init` last ran. I thought the service account tokens get stored in etcd?

[2017-12-07 14:10] discordianfish commented on #546
Mystery solved thanks for gintas and foxie in #kubernetes-users: We also need to pre-generate the sa keys and distribute them along with the CA.

[2017-12-07 16:15] discordianfish opened #590 "kube-proxy configmap not using apiserver-advertise-address"
BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version**: 1.8.4
*I know this isn't really supported but shouldn't matter for this issue. Had to use the version since I depend on other changes*

## What happened?
I've created a cluster with kubeadm and a config specifying api / advertiseAddress. When looking at the kube-proxy config map

[2017-12-08 03:34] Lion-Wei commented on #590
Seems like `apiserver-advertise-address` can only be ipv4 or ipv6 format. If not, it will silently change to hostIP.
https://github.com/kubernetes/kubernetes/blob/64ccd7665f6bc4792bf7263b7de88ce4a155e46c/cmd/kubeadm/app/util/config/masterconfig.go#42

[2017-12-08 11:25] petergardfjall commented on #546
I followed @jamiehannaford's [HA guide](https://deploy-preview-6458--kubernetes-io-master-staging.netlify.com/docs/setup/independent/high-availability/#run-etcd) fairly closely and eventually reached a working HA cluster (set up in a Vagrant setting with a HAProxy load-balancer fronting three master nodes), but I hit a few obstacles along the way and thought I'd share them here since they are prob

[2017-12-08 12:09] discordianfish commented on #590
Ah! That makes sense. Any reasons for this?
If that can't be changed, there should be another way to set the address kube-proxy connects to in kubeadm. This is required for many multi-master setup scenarios.

[2017-12-08 12:12] discordianfish commented on #546
@petergardfjall Ha it's funny to see how you run into exactly the same issues. So yeah as of yesterday my multi-HA cluster also works. I ran into https://github.com/kubernetes/kubeadm/issues/590 though, did you find a nice solution for that?
Didn't had to use a special etcd version. I think I'm just using the defaults in coreos' stable etcd-wrapper.
Regarding the front-proxy stuff.. I frankly have

[2017-12-08 12:20] petergardfjall commented on #546
@discordianfish: I did not run into #590 (at least it hasn't surfaced yet). I used a kubeadm config file with

    api:
      advertiseAddress: <apiserver-loadbalancer-ip>

[2017-12-08 12:24] discordianfish commented on #546
Ah okay. Right, it works with a load balancer ip but you don't get a stable IP when running on AWS and using an ELB, so need to use a name.

[2017-12-08 12:57] petergardfjall commented on #546
@discordianfish I see, that may actually become a problem since I'm planning on running it in AWS later on. How did you work around that?

[2017-12-08 13:00] petergardfjall commented on #546
@jamiehannaford in the HA guide you make references to using cloud-native loadbalancers. Did you experiment with that? Did you manage to get around #590?

[2017-12-08 13:35] discordianfish commented on #546
No, haven't found a solution yet. Right now it's just a note in my docs to edit this config map manually.

[2017-12-08 14:09] vishalraghu commented on #328
Hi @cookeem

Thanks for your solution.
I have few questions regarding setup.

1.After setting cluster in HA, how can cluster be upgraded to later version? Like say this setup is done using kubernetes 1.8.x version and yesterday 1.9 is released, what will be simple way to upgrade ?

2.If one of master goes down will there be any impact on nodes ?

3.Can this setup be done in production?

Regards,
V

[2017-12-08 15:08] mbert commented on #546
I have pushed some new commits to https://github.com/mbert/kubeadm2ha
- flannel networking is now supported (and default)
- there's a basic installation for the dashboard (insecure, i.e. no SSL) as a separate playbook
- code cleanup

[2017-12-08 21:33] cmoscardi commented on #587
Thanks @Inevitable for the clear solution!

[2017-12-09 02:25] cookeem commented on #328
@vishalraghu
1. I never try upgrade by myself, but here's the document upgrade from 1.7 to 1.8: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-8/
 You can try and feel free to tell me how it work in HA k8s.

2. No, everything will works.

3. Now I use this deployment in production mode, it works fine.

[2017-12-09 04:15] sv01a commented on #328
@cookeem wrap your solution in ansible playbook(https://github.com/sv01a/ansible-kubeadm-ha-cluster)

[2017-12-09 15:08] kcao3 commented on #328
@cookeem, @sv01a Have you ever tried to add new masters to your existing cluster? If yes, were you able to do so with your approach?

[2017-12-09 16:21] sv01a commented on #328
@kcao3 do you mean convert existing non-ha kubeadm cluster to ha cluster? If yes, I don't try.

[2017-12-09 18:16] kcao3 commented on #328
@sv01a No. Once you deployed an HA cluster using your ansible playbooks, how do you expand it- i.e. adding one or more masters to your current HA cluster? Do you use the same certs on each master?

[2017-12-10 07:40] sv01a commented on #328
With current playbook implementation it's not possible, because playbook will re-init cluster on second run. Honestly i don't think about this case.

But you can add master by hand, simply repeat steps for master from instructions.

[2017-12-11 10:46] fasaxc commented on #273
I'm hitting this when I try to use kubeadm with GCE's ubuntu-1710 image so it looks like it's _not_ limited to the desktop install.

[2017-12-11 14:33] tzurE commented on #519
Hey, is this done?
How can I get the token to join new nodes in my cluster?

[2017-12-11 15:31] mattmoyer commented on #519
@tzurE it's merged but not released yet, it will be part of Kubernetes 1.9 which is [scheduled to be released later this week](https://github.com/kubernetes/features/blob/master/release-1.9/release-1.9.md#timeline).

The new functionality allows you to run this command to join nodes:
[code]

[code]

[2017-12-11 15:35] tzurE commented on #519
nice, thank you.
is there a solution in the meantime? A way to extract it not using the regular commands?

[2017-12-11 15:52] mattmoyer commented on #519
@tzurE see this comment: https://github.com/kubernetes/kubeadm/issues/519#issuecomment-343192126

[2017-12-11 17:19] luxas commented on #452
This has been fixed at HEAD

[2017-12-11 17:19] #452 closed

[2017-12-11 17:19] luxas commented on #131
Moved to v1.10 as discussed in the SIG

[2017-12-11 17:20] luxas commented on #372
@xiangpengzhao yes, it should be a new CI job enabling the self-hosted feature gate. Can you help out with that please?

[2017-12-11 17:22] luxas commented on #265
@fabriziopandini now made this a thing with the wonderful new docs: https://github.com/kubernetes/website/pull/6103
Thank you :tada:!!

We might consider bundling these with the debs/rpms as well, but that should be tracked in a new issue in that case

[2017-12-11 17:22] #265 closed

[2017-12-11 17:24] #563 closed

[2017-12-11 17:40] luxas commented on #263
Most of this is done, so we're nearly good to go. This is not blocking v1.9
Last piece is https://github.com/kubernetes/test-infra/pull/5738

[2017-12-11 19:38] sbezverk opened #591 "kubectl log returns tls error"
With freshly installed 1.8.5 cluster, I consistently see the following error when I try to run "kubectl logs" for a pod.

Dec 11 14:22:30 kube-3 kubelet: I1211 14:22:30.440352    1355 logs.go:41] http: TLS handshake error from 192.168.80.234:37000: no certificate available
Dec 11 14:22:30 kube-3 journal: E1211 19:22:30.440408       1 status.go:62] apiserver received an error that is not an metav1.

[2017-12-12 02:14] sbezverk commented on #591
[root@kube-3 kolla-kubernetes]# kubectl get csr --all-namespaces
NAMESPACE   NAME        AGE       REQUESTOR                               CONDITION
            csr-5fwb9   6h        system:node:kube-3.sbezverk.cisco.com   Pending
            csr-6ckwh   3h        system:node:kube-3.sbezverk.cisco.com   Pending
            csr-ff49s   4h        system:node:kube-3.sbezverk.cisco.com   Pending

[2017-12-12 03:38] xiangpengzhao commented on #372
@luxas yeah sure, I will investigate the CI config and send a PR to k/test-infra.

[2017-12-12 07:45] xiangpengzhao commented on #372
@luxas PR https://github.com/kubernetes/test-infra/pull/5904 sent.

One concern is from @krzyzacy https://github.com/kubernetes/test-infra/pull/5904#issuecomment-350962379

[2017-12-12 07:57] BenTheElder commented on #372
see also: https://github.com/kubernetes/test-infra/issues/5905, https://github.com/kubernetes/test-infra/pull/5904#discussion_r156280975

[2017-12-12 13:09] theobarberbany commented on #484
Also running into this issue.

[2017-12-12 13:57] sigxcpu76 commented on #484
@rayterrill can you elaborate how you've solved using /etc/kubernetes/pki hack mentioned by @alexpekurovsky ?
We've tested that suggestion and kubeadm adds one ```cloud-provider``` parameter and two ```cloud-config``` parameters (one to the default location and one to the specified location in ```kubeadm.conf```). ```kubeadm.conf``` prepends parameters and the last  specification of ```cloud-confi

[2017-12-12 15:13] rayterrill commented on #484
I copied my vsphere config to /etc/kubernetes/pki, from initially having it at /etc/kubernetes, then I reloaded my configuration with (sudo systemctl daemon-reload; sudo systemctl restart kubelet.service). Everything worked after that.

Here's what I have in my manifests:
[code]

I'm not exactly sure what you're asking. Let me know if I didn't understand. I'm happy to do whatever I can to help tra

[2017-12-12 17:46] kumarganesh2814 commented on #328
@cookeem

Hi Man,

Sorry to keep you bugging you closed loop, but I guess this will help other too.

So new issue is that well set Master Node which was working absoulutely fine. After reboot nothing works fine.

Services which were able to access via Master1 (rebooted VM) now not accessible. I tried to recreate dns and flannel pod again but still same.

Only Message I see

[code]

But not get muc

[2017-12-12 21:42] jipperinbham commented on #489
@luxas @jbeda I submitted https://github.com/kubernetes/kubernetes/pull/57116 as an attempt to address the concern here. If y'all think it's better to go the route of adding verbiage to the [upgrade docs](https://github.com/kubernetes/website/blob/master/docs/tasks/administer-cluster/kubeadm-upgrade-1-8.md), I'm happy to go that route instead.

[2017-12-13 02:08] erwbgy opened #592 "system::nodes clusterrolebinding and Node authorization"
Running kubeadm 1.8.5 to create a new cluster the system::nodes clusterrolebinding has "subjects: null" as described in https://github.com/kubernetes/kubeadm/issues/385, but kube-apiserver is created with "--authorization-mode=RBAC" instead of "--authorization-mode=Node,RBAC" so nodes are not bound to the system::nodes role and kubelet errors until this is fixed.  (Reference: @liggitt in  https://

[2017-12-13 04:32] liggitt commented on #592
It is:

https://github.com/kubernetes/kubernetes/blob/v1.8.5/cmd/kubeadm/app/apis/kubeadm/v1alpha1/defaults.go#L33

[2017-12-13 09:54] luxas commented on #592
Hmm, yeah, I don't know why kubeadm would not set both `Node,RBAC` for you and enforce usage of both as referenced by @liggitt...?

@erwbgy can you provide more details? kubeadm has enforced Node authz since v1.7.0

[2017-12-13 10:28] discordianfish commented on #261
@luxas fwiw, I think tectonic-installer (but bootkube based) is closes to the goals for kubeadm, worth having a look.

[2017-12-13 12:49] vielmetti commented on #51
GCR.io now supports the new schema and multiarch images and thus this work can be evaluated to proceed.

[2017-12-13 16:37] alexnuttinck commented on #523
I finally found what was the problem: It seems that vxlan isn't supported on pine64...
When I install the network add-on flannel, I change "vxlan" by "udp" like this:
[code]
And now, I have Kubernetes running on pine64!
I close this issue.

[2017-12-13 16:37] #523 closed

[2017-12-14 03:22] cookeem commented on #328
1. Sorry, it's not happen in my environment, I think you should check your kube-proxy's logs, it forward the service and port in the k8s cluster. And make sure your keepalived works fine.

2. After setup a HA cluster, I don't think you should use kubeadm anymore, just forget about it. kubectl just a client, I think upgrade it doesn't any matters. I never tried upgrade kubelet, I don't think it wil

[2017-12-14 03:27] cookeem commented on #328
@kumarganesh2814
1. Check your keepalived and kube-proxy's logs.
2. kubeadm is useless after HA cluster setup. kubectl just a client, whenever you want to upgrade is fine. I don't think upgrade kubelet the HA cluster will still work, in the official document, you can use `kubeadm upgrade` to upgrade your cluster, but I don't think it will work for HA cluster.

[2017-12-14 07:27] xiaosuiba commented on #588
After digging a little into the [source code](https://github.com/kubernetes/kubernetes/blob/cb91e2d9b17a5e447d909104f2d60256af6c0567/pkg/cloudprovider/providers/openstack/metadata.go#L102) , I found a work around. You just have to map /dev/sr0 device into your container and set the container as privileged.
Here is a working example:
[code]

[2017-12-14 07:46] kumarganesh2814 commented on #328
Hi @cookeem

I got the issue was change in iptable rule which was introduced as a workaround when installation was done.

To refrence here so others can benifit in such case.

I check iprable rules on VM which run fine and one which fails for connection

Diff
< :INPUT ACCEPT [2:156]
< :FORWARD ACCEPT [0:0]
< :OUTPUT ACCEPT [2:156]
---

So I executed two commands
iptables -P FORWARD ACCEPT
sysctl n

[2017-12-14 14:38] aitorhh commented on #51
I have being using a multi-platform cluster since last May using the docker registry API v2 and the manifest-tool to push the images to my own private repository.

In kubeadm (v1.6.1), I only needed the following change (extracted from a patch file):

[code]

Then, it's just a matter of setting the `KUBE_REPO_PREFIX`

`KUBE_REPO_PREFIX=<docker-registry-v2> /usr/local/bin/kubeadm`

If the multi-pla

[2017-12-14 15:02] moeyaertgert opened #593 "wrong ip from wrong interface"
## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5249e14daa22bf", GitTreeState:"clean", BuildDate:"2017-12-07T16:05:18Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

Linux ci 3.16.0-4-amd64 #1 SMP Debian 3.16.43-2+deb8u5 (2017-09-19) x86_64 GNU

[2017-12-14 18:28] stealthybox opened #594 "Secure etcd API /w TLS on kubeadm init"
/kind feature
/area etcd
/area kubeadm
/area security
/sig cluster-lifecycle

**What happened**:
When initializing a cluster with kubeadm, the local connection to etcd is insecure.
Anyone logged into the master machine has implicit root access via the etcd port.

**What you expected to happen**:
kubeadm should generate TLS identities for etcd.
The connection should be secure -- unaccessible withou

[2017-12-14 19:58] erwbgy commented on #592
Thanks for getting back and sorry for the noise - I was overwriting the file generated by kubeadm.

[2017-12-14 19:58] #592 closed

[2017-12-14 20:30] sathieu commented on #580
Related to https://github.com/kubernetes/kubernetes/issues/40182? (fixed by https://github.com/kubernetes/kubernetes/pull/52569 in 1.9)

[2017-12-14 22:31] luxas commented on #51
We still need to do something like this: https://github.com/kubernetes/release/pull/248

If you @aitorhh could open a similar PR that is up-to-date with that functionality and sync with @ixdy to get it merged soon-ish, I'd be more than happy!

We also need to coordinate/sync this up with https://github.com/kubernetes/kubernetes/pull/54174

[2017-12-15 00:01] luxas opened #595 "Only check for well-known files in /etc/kubernetes/manifests, not the whole directory"
Right now we check if the `/etc/kubernetes/manifests` directory is empty or not, and if it has some kind of content, kubeadm will fail on preflight checks. That is counter-productive in many situations, what kubeadm really needs to do is to check whether the well-known static pod manifests exist already and fail if and only if some of those exist already (`kube-apiserver.yaml`, `kube-controller-ma

[2017-12-15 07:20] zatricky commented on #586
Sorry to answer your query indirectly. I figure I could at least try be helpful even if I don't directly have the proper answer right here.

My instinct is to use Kelsey Hightower's [kubernetes-the-hard-way guide](https://github.com/kelseyhightower/kubernetes-the-hard-way/) for insight about how certs are done without kubeadm's automation.

I would also refer to cookeem's [kubeadm-ha guide](https:

[2017-12-15 07:51] lynx-coding commented on #506
Would be interested to have a way to configure etcd ports as well.

[2017-12-15 08:36] xiangpengzhao opened #596 "Use apps/v1 API in kubeadm"
The core workloads API has been promoted to GA stability in the apps/v1 group version from 1.9. The apps/v1beta2 group version is deprecated. Let's update the kubeadm code.

[2017-12-15 09:21] zatricky opened #597 "High etcd I/O with new (idle) kubeadm cluster"
## What keywords did you search in kubeadm issues before filing this one?
various combinations of:
kubernetes k8s etcd disk idle iops

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5249e14daa22bf", GitTreeState:"clean", BuildDate:"2017-12-07T16:05:18Z", GoVersio

[2017-12-15 14:26] mattkelly commented on #595
I'm up for taking a stab at this this weekend. Seems pretty straightforward!

[2017-12-15 17:28] bboreham commented on #580
The systctl is distinct from the iptables setting which is what that PR targets; both have to be on for Kubernetes to work.

[2017-12-15 19:15] sathieu commented on #580
But docker sets ip_forward. You're talking about other CRI?

[2017-12-15 19:20] kad commented on #580
beside ipv4 there is also ipv6 forwarding and also question, should it be enabled for all interfaces or not ?

[2017-12-16 01:17] jethrogb opened #598 "kubeadm join uses API server from CM instead of cmdline"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5249e14daa22bf", GitTreeState:"clean", BuildDate:"2017-12-07T16:05:18Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`): Client Version: ve

[2017-12-16 23:21] klausenbusk commented on #300
FWIW, the following script configure "everything" (I think so) that is needed to use `kubeadm` on CoreOS:
[code]
Save it on disk and run with `sudo`.

I tested `kubeadm` with:
[code]
[code]

[2017-12-17 17:43] klausenbusk commented on #546
Hello

I just experimented a bit with this and I think I have a working setup now.
So here is what I did:

*The experiment was performed on DigtialOcean with 4x 20$ droplets (3 master + 1 worker)*

First I created 3 droplet (CoreOS stable):
[code]
I then rain the following script on every node to configure the needed pieces to use kubeadm with CoreOS:
[code]

Create the initial master:
[code]

Nex

[2017-12-18 04:51] brendandburns opened #599 "kubeadm upgrade on arm from 1.8.5 -> 1.9.0 fails"
## What keywords did you search in kubeadm issues before filing this one?
upgrade, TLS

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.9.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.8.5
- **Cloud provider or hardware configuration**: arm (Raspberry Pi)
- **OS** (e.g. from /etc/os-release): hypriot/raspb

[2017-12-18 07:58] luxas commented on #599
Is etcd still working? Can you paste the output of `kubeadm upgrade`?
I could try to reproduce this as well on an ARM machine -- we have automated upgrade tests running for the normal case so I guess this might be something arm32-specific...?

[2017-12-18 08:46] luxas commented on #597
ping @kubernetes/sig-scalability-bugs @wojtek-t @xiang90 @hongchaodeng @shyamjvs @porridge  WDYT?
I don't think this is kubeadm-specific, but let's try to figure out the root cause.

[2017-12-18 09:01] porridge commented on #597
Unfortunately I have close to zero experience regarding etcd performance. 50kB/s does not strike me as very high. I think even a one-node cluster provides a constant stream of heartbeat updates that turn into etcd writes eventually. But I don't think that should be every single second, so indeed it seems somewhat high. A few questions @zatricky :
- is there indeed just one node apart from master?

[2017-12-18 10:04] #595 closed

[2017-12-18 11:19] xiangpengzhao commented on #595
I just wonder what if there are already manifests (for any reason) named such as `apiserver.yaml` in that dir?

[2017-12-18 18:48] vhosakot commented on #335
Thanks @luxas. `kubeadm init --token-ttl 0` works for me. I'll use it as a workaround.

[2017-12-19 06:18] xiangpengzhao commented on #571
phase added in https://github.com/kubernetes/kubernetes/pull/57224. The graduation should wait for the associated PRs merged.

[2017-12-19 16:12] iMartyn opened #600 "apiServerExtraArgs should be appended to kube-api pod definition not prepended"
## BUG REPORT

## Versions

Kubeadm 1.8.5

**Environment**:
- kubernetes version : 1.8.5
- cloud : minikube (but any)
- OS: boot2docker (but any)
- Kernel: 4.9.13 (but any)
- Other: minikube v0.24.1 (but again, any)

## What happened?

Minikube translates `--extra-config=apiserver.authorization-mode=AlwaysAllow` into `apiServerExtraArgs` and kubeadm reads this configuration and generates a list of

[2017-12-19 18:55] rrati opened #603 "kubeadm 1.8.4 dependencies wrong"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):  1.8.4-0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.9.0
- **Cloud provider or hardware configuration**:  AWS
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server release 7.4 (Maipo)
- **Kernel** (e.g. `uname -a`):  3.10.0-693.el7.x86_64
- **Others**:

## What happened?
Trying to instal

[2017-12-19 19:22] gtirloni opened #604 "kubeadm init fails on CentOS 7.4 with Docker CE 17.09"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

`kubeadm init` fails on CentOS with Docker CE 17.09 because `kubelet` defaults to the `systemd` driver (in `10-kubeadm.conf`) while Docker CE uses `cgroupfs`. If the user wishes to use `cgroupfs`, it's not possible to continue with initialization.

**What you expected to happen**:

kubeadm would create a kubelet.service c

[2017-12-19 23:29] kargakis opened #605 "Instructions for switching from KubeDNS to CoreDNS"
There is alpha support for CoreDNS in 1.9 and I was wondering whether there are any instructions about switching to use it in existing clusters.

[2017-12-20 01:15] stealthybox commented on #595
@xiangpengzhao they're ignored by `kubeadm`.

Both the static-pod and self-hosted strategies explicitly create pods per component from paths derived from `kubeadm.constants`.

**ex.**
static-pods: https://github.com/kubernetes/kubernetes/blob/release-1.9/cmd/kubeadm/app/phases/controlplane/manifests.go#L50-L68
selfhosted: https://github.com/kubernetes/kubernetes/blob/release-1.9/cmd/kubeadm/app/ph

[2017-12-21 02:57] tamalsaha opened #607 "Feature Request: Run kubeadm init without addons"
I would like to run kubeadm init without any addons, something like `kubeadm init --no-addons`. I know that I can run the individual phases (but that could be a moving target over kube releases). Can something like this be supported?

[2017-12-21 06:00] delfer commented on #552
@luxas 404

[2017-12-21 06:09] loganasherjones commented on #552
@delfer here is the updated link. https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

[2017-12-21 06:23] KeithTt opened #608 "Does it need to set podSubnetCIDR when use contiv network?"
kube version: 1.8.5
contiv version: 1.1.7

I set 10.244.0.0/16 when init the kubernetes cluster with kubeadm, this is my config file of kubeadm:

[code]

And contiv has a ui to create a network or use netctl to create a network, so should I set the podSubnetCIDR when use contiv?

And is it necessary to add the first ip of the subnet to the SAN of apiserverCert?

Thanks in advance!

[2017-12-21 06:23] KeithTt commented on #608
/kind support

[2017-12-21 06:34] siddharthjoshi745 commented on #519
Hi @mattmoyer

The command "kubeadm token create --print-join-command" works great in 1.9. But i am getting NotReady status on my node. I am Using ubuntu 16.04 with k8s 1.9.0. Any suggestions?

[2017-12-21 08:34] delfer commented on #552
@loganasherjones I have't see any parameter to change `--address` for `kube-controller-manager` or `kube-scheduler`

[2017-12-21 12:28] discordianfish opened #609 "Create new flag to specify apiserver address for kube-proxy"
Right now kubeadm uses the host IP it's running on for the apiserver address in the kube-proxy configmap.
For a multi-master setup where the apiserver are behind a load balancer, we need a way to configure kube-proxy to talk to the load balancer instead.
Therefor I propose adding a flag to kubeadm to set the apiserver address in the kube-proxy config map.

This is probably required for https://git

[2017-12-21 14:01] cjdcordeiro opened #610 "[ERROR Swap]: running with swap on is not supported. Please disable swap"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.9.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.9.0
- **Cloud provider or hardware configuration**: Raspberry Pi
- **OS** (e.g. from /etc/os-release): Raspbian GNU/Linux 8 (jessie)
- **Kernel** (e.g. `uname -a`): Linux 4.9.35-v7+
- **Others**:

## What happ

[2017-12-21 14:42] rrati commented on #603
@pipejakob

[2017-12-21 14:48] delfer commented on #552
Well done!
On existing cluster:
`kubectl -n kube-system edit cm kubeadm-config`
add to data->MasterConfiguration
[code]
On master node:
`vim /etc/kubernetes/manifests/kube-controller-manager.yaml`
`vim /etc/kubernetes/manifests/kube-scheduler.yaml`
and set `--address=0.0.0.0`
then
`systemctl restart kubelet`

[2017-12-21 17:57] brendandburns commented on #599
etcd is still working (though I had to manually upgrade etcd to 3.1.10 because the `kubeadm` upgrade timed out before etcd came back up when it tried to upgrade)

When I revert back to the old 1.8.5 apiserver, the whole cluster snaps back into correct operation.

I'll try the upgrade again this evening and I'll send in more detailed logs.

[2017-12-22 01:21] ozdanborne opened #611 "apt install kubeadm=1.8.6-00 picks bad kubernetes-cni dependency"
## Is this a BUG REPORT or FEATURE REQUEST?

Bug report!!

## Versions

**kubeadm version** (use `kubeadm version`): Trying to install v1.8.6 (v1.8-latest)

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): ubuntu-16.04
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

I've hit an

[2017-12-22 01:22] ozdanborne commented on #611
Whoops,  this is probably a dupe of https://github.com/kubernetes/kubernetes/issues/57334.

[2017-12-22 01:22] #611 closed

[2017-12-22 01:56] #372 closed

[2017-12-22 11:49] luxas commented on #372
Thanks @xiangpengzhao for this!

[2017-12-22 12:45] luxas commented on #603
Let's track this in https://github.com/kubernetes/kubernetes/issues/57334 instead

[2017-12-22 12:45] #603 closed

[2017-12-22 12:49] luxas commented on #610
If you do set the kubelet flag, you're safe to do this `kubeadm init --ignore-preflight-errors Swap`, but I'd recommend you to just turn off swap instead, as you're going into unsupported territory here.

[2017-12-22 12:49] #610 closed

[2017-12-22 13:05] luxas commented on #519
@siddharthjoshi745 Deploy a Pod Network like Weave Net (as can be seen in our docs).
Please don't comment on old issues though, instead open a new one if you've found something wrong, or ask for help on Slack
Have a great day!

[2017-12-22 13:11] luxas commented on #605
Just set `--feature-gates CoreDNS` when init-ing or upgrading and you'll get CoreDNS instead of kube-dns :)

[2017-12-22 13:13] luxas commented on #605
We should improve the docs if we don't have anything specifically about it yet
cc @rajansandeep

[2017-12-22 13:18] luxas commented on #607
Not in scope IMO at least. Either `kubeadm init && kubectl delete` or `kubeadm phase ...` all the way.
Does that make sense to you?

[2017-12-22 13:18] #607 closed

[2017-12-22 13:38] luxas commented on #588
Can you check whether this is fixed in v1.9.0
cc @dims

[2017-12-22 13:51] luxas commented on #604
As documented here https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#external-dependencies, we only support Docker up to 17.03.

[2017-12-22 13:51] #604 closed

[2017-12-22 14:17] dims commented on #588
/assign @dims

[2017-12-22 14:17] gtirloni commented on #604
@luxas, the issue is the same in 17.03. Sorry for not testing it before.

[2017-12-22 14:26] gtirloni commented on #604
@luxas, thanks, it does work with 17.03.

I wonder how the community should help test newer configurations though. Is testing newer Docker versions the responsibility of a specific group? How can one follow/help the work that's being done?

[2017-12-22 16:48] kris-nova opened #612 "kubeadm not respecting kubernetesVersion in 1.8.4"
When using `kubeadm` *1.8.4* to deploy a control plane we are defining a `kubeadm` config as follows:

[code]

The control plane boots successfully, but we are running kubernetes *1.9.0*

Also important to note we are installing `kubeadm-1.8.4-00` from the `apt-get` repositories

Logs:

[code]

CC @nrb

[2017-12-22 17:32] dims commented on #588
@xiaosuiba no need to mount /dev/sr0 just adding privileges is enough (at least with 1.9.0+), i have proposed a PR to enabled that for OpenStack based kubeadm (see 57561)

Thanks a lot for all your research, it helped quite a bit in fixing this issue.

-- Dims

[2017-12-22 19:47] xmudrii commented on #612
`kubectl version` reports Kubernetes version while `kubectl get no` will reports `kubelet` version. I tested this with version `1.8.6` and this is what `version` reports:
[code]
Server version reports `v1.8.6`.
Your logs also reports version `1.8.4`: `[init] Using Kubernetes version: v1.8.4`

The problem is that `kubelet` version is `v1.9.0` and that's what you see when you run `kubectl get nodes`

[2017-12-23 19:58] brendandburns commented on #599
Here's the output from `kubeadm`

[code]

[2017-12-25 10:27] KeithTt opened #613 "[WARNING FileExisting-crictl]: crictl not found in system path"
kube version: 1.9.0

How to resolve this pre-flight check, what does this warning mean?

[2017-12-25 16:46] vbmade2000 commented on #340
I have been working on this since some time. Is it possible to merge it in parts/phases ? Like separate merge for separate command hierarchy.

[2017-12-25 17:10] luxas commented on #612
Hmm, that's really strange... Do you have any more details to give me, like `kubeadm version` before running `kubeadm init`?

I can't reproduce this locally with either kubeadm v1.8.4 or v1.9.0...

[2017-12-25 17:16] luxas commented on #604
@gtirloni SIG Node is responsible for doing that: https://github.com/kubernetes/kubernetes/issues/51205

[2017-12-25 17:35] luxas commented on #613
It's just a warning, not an error. You should be able to proceed just fine without it.
If you want to get rid of the warning, just install https://github.com/kubernetes-incubator/cri-tools/tree/master/cmd/crictl

Thank you and have a good day!

[2017-12-25 17:37] luxas commented on #600
I think this is working well as-is, but in the RBAC case, kubeadm enforces RBAC no matter what you specify, so if you want to disable it you need to create a permissive role instead: https://kubernetes.io/docs/admin/authorization/rbac/#permissive-rbac-permissions

However, that is not recommended.

[2017-12-25 17:37] #600 closed

[2017-12-25 17:57] luxas commented on #300
Thanks @klausenbusk! Personally I'd be okay with having these install instructions under a CoreOS tab in https://kubernetes.io/docs/setup/independent/install-kubeadm/...

[2017-12-25 17:58] luxas commented on #489
@jipperinbham Thanks! I think more documentation would be better :+1:

[2017-12-25 18:00] luxas commented on #546
@klausenbusk Great :tada:! If you want to carry/improve https://github.com/kubernetes/website/pull/6458, feel free to send a PR with more details on what you did to help @jamiehannaford which is on vacation at the moment.

[2017-12-25 18:07] luxas opened #614 "Document all phases' high-level functions in `app/phases/*/doc.go`"
Right now this text is missing in most places, or out of date.
The counterproposal here would to NOT document the high-level function of the phase in the code at all, instead in other docs.
cc @fabriziopandini @xiangpengzhao WDYT?

[2017-12-25 18:10] luxas opened #615 "Remove `well_known_labels.go`"
Basically resubmit https://github.com/kubernetes/kubernetes/pull/48056 and remove the old file that now has no consumers.

cc @wackxu @stewart-yu Do you want to help with this?

[2017-12-25 18:11] luxas opened #616 "Add the “Certified Kubernetes” mark on the kubeadm docs page"
We should make it clear to readers that we're conformant

cc @errordeveloper @stealthybox @fabriziopandini @timothysc

[2017-12-25 18:14] luxas opened #617 "Certify kubeadm v1.9 as a Conformant Kubernetes deployment"
Run the same steps as described in https://github.com/cncf/k8s-conformance/pull/62, upload the same files to `v1.9/` as soon as Sonobuoy supports v1.9

cc @timothysc @kad @stealthybox @xiangpengzhao

[2017-12-25 18:17] luxas opened #618 "Better etcd snapshot/restore in the `kubeadm upgrade` logic"
Right now we exec `cp -r`, but we should take a snapshot before upgrading, and then actually be able to roll it back seamlessly if something fails. Now we do this on a `cp` manner using the filesystem, but we should do this via the etcd Go client instead to make it more robust. Might require some re-vendoring/structuring of the etcd Go client

cc @xiang90 @hongchaodeng @jamiehannaford @sbezverk @t

[2017-12-25 18:18] vbmade2000 commented on #615
Is this to be worked on after shifting kubeadm code to this new repo ?

[2017-12-25 18:21] luxas opened #619 "Improve etcd version/endpoint validation"
In our etcd-specific preflight checks we should:
 - Match the _exact etcd version_ that is supported, not only check for the minimum version. We should not let the etcd version go too low (e.g. for v1.9, we support 3.1.10, not 3.0.17 which is the minimum version concerning v1.8)
 - Actually validate that all endpoints given in the external etcd case belong to the same cluster. I've heard stories w

[2017-12-25 18:24] luxas opened #620 "Propagate cfg.CloudProvider to nodes as well using Dynamic Kubelet Config"
If `cfg.CloudProvider` is specified, the same value should be set in `cfg.KubeletConfiguration.BaseConfig.CloudProvider` in the defaulting code, so that the kubelets can get the same config automatically.

ref: #28

cc @kris-nova (will make code in kubicorn easier I guess) @xiangpengzhao @mtaufen @dims

Note that this is a temporary workaround though, we want to move everything out of tree eventua

[2017-12-25 18:33] luxas commented on #615
No, this can be done now. @vbmade2000 do you want to help out with this task?

[2017-12-25 18:34] gtirloni commented on #604
Thank you! Happy holidays!

[2017-12-25 18:37] luxas opened #621 "Update default etcd version to 3.2.x in v1.10"
Same as https://github.com/kubernetes/kubeadm/issues/450, but for 3.2.12 or something for v1.10

@xiangpengzhao is on it already.
We're following the upstream k8s validated version, relevant PRs/issues: https://github.com/kubernetes/kubernetes/pull/57230, https://github.com/kubernetes/kubernetes/pull/57480,  https://github.com/kubernetes/kubernetes/issues/56114 and https://github.com/kubernetes/ku

[2017-12-25 18:40] luxas commented on #615
Oh, first now noticed that @xiangpengzhao had sent https://github.com/kubernetes/kubernetes/pull/57231 :smile:.
@vbmade2000 Let's look at an other issue for you :wink:

[2017-12-25 18:41] KeithTt commented on #613
@luxas Thanks a lot!

[2017-12-25 18:44] luxas opened #622 "Bump minimum version to v1.9 and cleanup v1.8-specific code at HEAD"
TODO:
 - Bump minimum version: https://github.com/kubernetes/kubernetes/pull/57233, done!
 - kube-proxy cleanup: https://github.com/kubernetes/kubernetes/pull/57305, done!
 - kube-dns cleanup: https://github.com/kubernetes/kubernetes/pull/57271, done!
 - Cleanup old upgrading code that is v1.8->v1.9-specific

ref: https://github.com/kubernetes/kubeadm/blob/master/docs/release-cycle.md

[2017-12-25 18:48] luxas commented on #596
Let's keep this open until we've gotten an answer on the changed OrphanDependents/DeleteDependents question here: https://github.com/kubernetes/kubernetes/pull/57235#pullrequestreview-84062603

Clients using older endpoints will be unaffected. This change is only at the REST API level and is independent of the default behavior of particular clients (e.g. this does not affect the default for the ku

[2017-12-25 19:11] luxas commented on #571
FWIW; we need a phase / something command that points a kubelet to a new ConfigMap as well, for the kubelet upgrade scenario.

e.g. I've just upgraded the kubelet (which is associated with the v1.9 configmap) to v1.10, I now need to repoint it to the v1.10 config... maybe we can just document to use `kubeadm phase kubelet config dynamic enable-for-node` and make an alias for it as well?

[2017-12-25 19:52] Mosho1 commented on #300
@klausenbusk thanks! it does set up the cluster, but my master can't seem to communicate with a node. I can't curl the node's ip ("no route to host"), but curling a service's clusterIP which route to that node does work. So I think there's something missing.

[2017-12-25 19:53] luxas opened #623 "Enable advanced auditing in v1.10?"
Open question -- should we enable advanced auditing in some form by default in kubeadm?
If so -- in what form?

cc @xiangpengzhao @roberthbailey @timothysc @errordeveloper @fabriziopandini WDYT?

[2017-12-25 19:59] luxas opened #624 "Make the self-hosted upgrades rollback-able"
Right now, if you look at the [self-hosting upgrading code](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/selfhosted.go), you'll notice that if something goes wrong, there is no easy way to rollback currently.

What we need to do here is to "go down" temporarily to static Pods if, let's say, the API server wouldn't come up cleanly when upgrading it.
More infor

[2017-12-25 20:05] luxas commented on #340
@vbmade2000 it sure is. I'd recommend one PR with everything, and then sending smaller PRs as you go, like I did with the upgrades PR: https://github.com/kubernetes/kubernetes/pull/48899

[2017-12-25 23:10] klausenbusk commented on #300
That sounds more like a network issue than a k8s/CoreOS issue. Is it correctly understood that "basically" you can't ping the node from the master node? If that the case, I'm not sure it related to k8s/CoreOS.

[2017-12-25 23:45] Mosho1 commented on #300
I can ping the node's private network ip address (that I got from the cloud provider, digital ocean), but not the cluster InternalIP assigned to the node.

[2017-12-26 00:02] klausenbusk commented on #300
Please see https://github.com/kubernetes/kubeadm/issues/203

I have opened a  PR: https://github.com/kubernetes/website/pull/6768

After a bit of digging, it sounds like this issue: https://github.com/kubernetes/kubeadm/issues/203

[2017-12-26 00:59] Mosho1 commented on #300
@klausenbusk That did it, thanks!

[2017-12-26 02:38] KeithTt opened #625 "How to determine the `podSubnet` when use contiv network plugin?"
kube version: 1.8.4
contiv version: 1.1.7

This is my config file of kubeadm:
[code]

And contiv based on openvswitch which use `netctl` to create a network:
[code]

So, does this mean that I can ignore `podSubnet` this directive when use kubeadm?

[2017-12-26 02:42] vbmade2000 commented on #615
@luxas No issues :)

[2017-12-26 02:49] xiangpengzhao commented on #614
From my perspective, it'd be good to document them in other docs which are user-faced. But if the docs in the code can be automatically generated to a user-faced doc, it'd be better to keep the docs in the code for it's easier to keep docs in code up-to-date.

[2017-12-26 02:52] xiangpengzhao commented on #615
@luxas oh sorry, I should create an issue for each of my PRs. (I thought some of them are trivial so I didn't :sweat_smile: )

[2017-12-26 02:56] vbmade2000 commented on #340
@luxas Ok. Do you mean PR flow like below ?

1. Raise main PR
2. Push small change
3. Review
4. Modify if needed
5. Merge
6. Append changes
7. Follow steps 2 to 5 until all the changes are merged
8. Close PR

[2017-12-26 03:33] xiangpengzhao commented on #624
@luxas yeah I will investigate it.

[2017-12-26 03:38] xiangpengzhao commented on #622
@vbmade2000 you can take a look at the last bullet if you are interested in :) This was once on my TODO list but not yet be done.

[2017-12-26 04:54] vbmade2000 commented on #622
@xiangpengzhao Sure. I'll ping you for that separately on kubernetes slack if you are available.

[2017-12-26 04:58] xiangpengzhao commented on #622
@vbmade2000 cool! My slack ID is the same as my GH.

[2017-12-26 05:04] vbmade2000 commented on #622
Ok. Thanks :)

[2017-12-26 08:31] abdulrahmantkhalifa commented on #353
I still get the hanging issue, my kubelet appears to be running.
 - I have it as a systemd service. I am using ubuntu 16.04 hanging on the same location and the kubelet logs return :
[code]
 - my docker uses aufs as its overlay and is backed by a ext4 fs system
 - my /var/lib is a btrfs filesystem (can this be a problem for kubelet ? )

[2017-12-26 10:07] fabriziopandini commented on #571
@luxas please check discussion on #57244
currently  `enable-dynamic-config` is the only phase subcommand that implements a step of the `kubeadm join` sequence (everything else is related to `kubeadm init`).

IMO we should move this somewhere else, and considering the use case, I suggest under `kubeadm upgrade`. What about `kubeadm upgrade dynamic-kubelet-config --node-name=myNode`?

[2017-12-26 10:28] luxas commented on #615
Even though they are trivial, it often helps when looking back retroactively at the closed issues in the milestone list when trying to summarize everything that happened during the cycle... I found that by experience when not doing it first myself as well ;)

[2017-12-26 10:30] luxas commented on #622
Awesome coordination there @xiangpengzhao @vbmade2000 :clap:!

[2017-12-26 10:32] luxas commented on #340
Something like this yeah:
1. Create one PR with everything needed
2. Split small, atomic part into a second PR
3. Review, modify if needed and mergee the small, second PR
4. Rebase the all-in-one-PR
5. Repeat 2 to 4 until only one thing exists in the main PR
6. Merge the main PR

[2017-12-26 10:33] luxas commented on #614
I'm not sure how easy/hard this is... @fabriziopandini ?

[2017-12-26 10:37] luxas commented on #624
Thanks! Just ping me if you need more clarification on how it may be done...

[2017-12-26 11:21] #615 closed

[2017-12-26 11:35] luxas opened #626 "Cherrypicking tracker issue for v1.9"
This issue serves as an umbrella to track the kubeadm-related PRs we cherrypick into the v1.9 branch.

I've been a cherrypick lead for the kubeadm releases so far, but didn't come up with the idea to track things in a centralized manner like this before ¯\_(ツ)_/¯

I propose that @timothysc function as the cherrypick lead on the kubeadm side for v1.9

I've identified a list of PRs to be cherrypicke

[2017-12-26 11:40] luxas commented on #353
@abdulrahmantkhalifa Yes, it might be an issue. Please don't comment on old issues, instead open a new one with the necessary details for us to troubleshoot

[2017-12-26 11:44] xiangpengzhao commented on #622
@vbmade2000 FYI:  `cmd/kubeadm/app/phases/upgrade/postupgrade_v18_19.go` is one of the files should be checked. There might be other v1.8->v1.9-specific codes as well. If you find somewhere but not sure, feel free to ping @luxas (or me, hopefully I can confirm it :smile: )

[2017-12-26 11:56] xiangpengzhao commented on #571
I was thinking `phase preflight node` to be a step of `kubeadm join` (isn't it?) when I implemented `enable-dynamic-config`. So I also made `enable-dynamic-config` a step of `kubeadm join`.

Agree to document to make them more clear.

[2017-12-26 12:09] xiangpengzhao commented on #626
Oh! I was thinking of cherry-picking https://github.com/kubernetes/kubernetes/pull/57296 when it was lgtm'd but I forgot it after it got merged. :sweat_smile:

cherry-pick PRs sent:
https://github.com/kubernetes/kubernetes/pull/57632
https://github.com/kubernetes/kubernetes/pull/57633

[2017-12-26 15:31] mattkelly commented on #626
Here you go: https://github.com/kubernetes/kubernetes/pull/57635. Just let me know if I need to fix anything up!

[2017-12-26 17:34] vbmade2000 commented on #622
@xiangpengzhao I'll check mentioned file and other info. Thanks buddy :)

[2017-12-26 19:22] luxas commented on #571
It is, yes

:+1:

Something like that probably makes sense... What do people think would be the most productive naming?

kubeadm upgrade kubelet-config [myNode]
kubeadm upgrade node config [myNode]
...etc?

[2017-12-26 20:38] fabriziopandini commented on #614
IMO high level description of phases should be done in user-facing documents like e.g. [init workflow](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#init-workflow).

I don't think that we should create a direct connection between doc.go files and the above user facing docs. Instead  we should use doc.go for documenting implementation details **only for packages that need l

[2017-12-26 21:13] fabriziopandini commented on #624
@luxas, @xiangpengzhao
I'm a little bit concerned about possible corner cases that should be taken into consideration. At least:
- does the proposed solution works if certificates are stored in secrets?
- does the proposed solution works in a multi master scenario?
Not sure if there are more....

[2017-12-26 22:03] fabriziopandini commented on #623
Yes in the long term.
I have no strong opinion if auditiong should blocker for kubeadm GA, if it should be in v1.10, if it should be default as soon as it is ready or it should be under feautures-gate for a while

The docs says "The audit profile used by GCE should be used as reference by admins constructing their own audit profiles".  I'm fine in using this as a base for the kubeadm as well.

As

[2017-12-26 22:50] KeithTt commented on #625
@luxas thanks a lot!!!

[2017-12-27 05:07] brendandburns commented on #599
So I dug into this a little more.  I think there are two underlying issues:

1) The default "time-to-healthy" for the apiserver is too short (at least on my rpis...) it is set to 15 seconds, but it takes longer than that on my node for the apiserver to come up.  Changing it to 300 fixed things, this should probably be configurable in kubeadm...

2) Kubernetes 1.9.0 appears to be right on the edge

[2017-12-27 13:36] tamalsaha commented on #607
I understand. Thanks @luxas !

[2017-12-27 14:34] luxas commented on #623
Sounds good to me

If it goes to GA in v1.10, we can enable it for sure. Probably even though it's in beta.
I think a first very good step would be to code what's needed on the kubeadm side, and then hold until we feel we're ready. This would be not-critical for v1.10, but a very good starter project for someone new to kubeadm.

[2017-12-27 14:39] luxas commented on #614
:+1:

Sounds good to me, @fabriziopandini can you post such a list with what you see as necessary advice here please?

[2017-12-27 22:06] Dirbaio opened #628 "Add support for non-readonly mounts from config."
It should be possible to mount a directory read/write in `apiServerExtraVolumes` & co.

For example, to export apiserver audit logs like this:

[code]

This causes the volume to have `readOnly: true` in the apiserver manifest, so the apiserver can't write the logs.

There should be a way to set `readOnly: false` in the kubeadm config.

[2017-12-27 22:59] Dirbaio opened #629 "Kubeadm enables Initializer admission controller by default"
When deploying a 1.9 cluster, kubeadm adds `Initializers` to `--admission-control` by default, but doesn't enable its corresponding API `admissionregistration.k8s.io/v1alpha1` in `--runtime-config`. See [docs](https://kubernetes.io/docs/admin/extensible-admission-controllers/#enable-initializers-alpha-feature)

This causes 404s to be spammed constantly in the request audit logs.

Also this is an a

[2017-12-27 23:09] tamalsaha commented on #629
Kube 1.9 release notes say that this api is now beta. https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#api-machinery-1

Isn't the beta api enabled by default ?

[2017-12-27 23:17] Dirbaio commented on #629
Oh, you're right, it's enabled at version `v1beta1`.

I thought it was alpha because I'm seeing this every 1-2 seconds in the audit logs every few seconds. Note it's requesting `v1alpha1`...

[code]

There's nothing in the apiserver error logs. Maybe it's an apiserver bug?

[2017-12-27 23:21] tamalsaha commented on #629
Do you have old `v1alpha1` objects left in your cluster? These seem to be called by api server itself.

[2017-12-27 23:56] Dirbaio commented on #629
I don't have the v1alpha1 api enabled, and I just deployed this cluster with 1.9, I didn't upgrade it from earlier k8s versions.

How do I check if I have any? `kubectl get initializerconfigurations` fails:
[code]

[2017-12-27 23:59] tamalsaha commented on #629
Sorry, I am not sure what the problem is. I suppose you could enable the v1alpha1 version using runtimeconfig flag and check.

[2017-12-28 00:11] Dirbaio commented on #629
Okay, did that and yep, there are no InitializerConfigurations.

Also, a quick look at the code of the `Initializers` admission controller shows it's still using `admissionregistration/v1alpha1`:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/admission/plugin/initialization/initialization.go

That's why it's trying to hit the v1alpha1 urls probably?

[2017-12-28 00:15] Dirbaio commented on #629
Also I can confirm that's the cause of the 404s. When enabling the v1alpha1 API, the audit log shows 200s. So it seems the Initializers admission controller does still need the v1alpha1 api.

[2017-12-28 00:17] tamalsaha commented on #629
Seems like this line:
https://github.com/kubernetes/kubernetes/blob/925c127ec6b946659ad0fd596fa959be43f0cc05/staging/src/k8s.io/apiserver/pkg/admission/plugin/initialization/initialization.go#L100

Please file a bug in main Kubernetes repo.

@caesarxuchao, can you please confirm and can this be [fixed in 1.9.1](https://groups.google.com/forum/#!topic/kubernetes-dev/GAB8dzapP2c)?

cc: @mbohlool

[2017-12-28 00:24] Dirbaio commented on #629
This is not a bug in k8s.

The release notes you linked refer to `MutatingWebhookConfiguration` and `ValidatingWebhookConfiguration`, which are now beta. But `InitializerConfiguration` and the `Initializers` admission are still alpha.

[2017-12-28 00:56] tamalsaha commented on #629
You are right, @Dirbaio ! I missed that from the release notes.
https://github.com/kubernetes/api/commit/365ff2245a1fb7561d5a4f9e9a8eb21341c07b83

@luxas , it seems that the [default admission controller list](https://github.com/kubernetes/kubernetes/blob/v1.9.0/cmd/kubeadm/app/phases/controlplane/manifests.go#L47) does not match the ones in [documentation ](https://kubernetes.io/docs/admin/admiss

[2017-12-28 07:12] KeithTt commented on #608
The answer is NO... Close it.

[2017-12-28 07:12] #608 closed

[2017-12-28 08:38] fabriziopandini opened #630 "Improve error message for expired tokens"
Currently when joining a node with an expired token the user gets:

`[discovery] Failed to connect to API Server "<cluster-ip>:6443": there is no JWS signed token in the cluster-info ConfigMap. This token id "c33826" is invalid for this cluster, can't connect`

We should improve this message to e.g.

`[discovery] Failed to connect to API Server "<cluster-ip>:6443": token id "c33826" is invalid for

[2017-12-28 16:06] bitgandtter commented on #586
Any progress on this, im facing the same issue? I have a functional ha cluster but certs prevent me to add new masters

[2017-12-28 16:46] bitgandtter commented on #586
I just found and test [stackoverflow](https://stackoverflow.com/questions/46360361/invalid-x509-certificate-for-kubernetes-master) which works, we can generate a new certs and then copy them to all masters

[2017-12-29 06:20] xiangpengzhao commented on #596
/reopen

[2017-12-29 15:46] EiZei commented on #507
In my case this was caused by `cni-plugins-amd64-v0.6.0.tgz` not downloading completely and therefore the loopback plugin was missing which prevented the pods from being created on one of the worker nodes. Found this out by sshing to the worker node and looking at the logs with `journalctl`

[2017-12-30 16:16] Matty9191 commented on #584
+1 to updating the docs. Hit this today.

[2017-12-31 02:01] stealthybox commented on #617
@luxas, do we need to create an issue and run this for v1.7 as well?

[2017-12-31 02:43] stealthybox commented on #616
Related #617

[2017-12-31 03:12] stealthybox commented on #616
<img src="https://raw.githubusercontent.com/cncf/artwork/master/kubernetes/certified-kubernetes/versionless/color/certified_kubernetes_color.png" align="right" width="150px">
This is a good reference:

[Certified Kubernetes Branding Guide](https://github.com/cncf/artwork/blob/master/kubernetes/certified-kubernetes/certified-kubernetes-brand-guide.pdf)

Here's an example with logo on the right.

Wh

[2017-12-31 12:44] saargrin commented on #578
restarting kubelet service worked for me too

[2017-12-31 15:12] luxas commented on #617
@stealthybox please do create such an issue, and optionally submit some results for v1.7 as well :)

[2018-01-01 14:53] luxas commented on #616
I'd be fine with adding the mark to /setup/independent/install-kubeadm as well :+1:

[2018-01-01 15:30] luxas opened #632 "Sync k8s.io/kubeadm/OWNERS with k8s.io/kubernetes/cmd/kubeadm/OWNERS"
What's in [`k8s.io/kubernetes/cmd/kubeadm/OWNERS` ](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/OWNERS) should also be in this repo's OWNERS file [`k8s.io/kubeadm/OWNERS`](https://github.com/kubernetes/kubeadm/blob/master/OWNERS)

Please update the OWNERS file in this repo based on what's merged in the core repo now...

[2018-01-01 15:31] luxas commented on #632
cc @stealthybox @mattkelly could one of you make the change please and I'll approve?

cc @timothysc @roberthbailey

[2018-01-01 16:14] mattkelly commented on #632
Sure, I'll throw the change up real quick.

[2018-01-01 16:32] HamzaK8s opened #633 "Address MAC and reschedule Pods"
Hello
I was wondering how to assign a static address Mac to a Pod ? also there is any possibility to reschedule a running pod to another worker-node in cluster ?

Thanks

[2018-01-02 07:00] rajansandeep commented on #605
@luxas Is there a specific place where we can include this instruction?

[2018-01-02 07:50] cjdcordeiro commented on #610
no need to re-open this but I still feel this is a bit counter intuitive. If you set the kubelet flag, then I would expect I don't need to ignore the preflight errors. If `--ignore-preflight-errors` is not passed, the error message remains the same whether the kubelet flag is enabled or not, and that's misleading.

[2018-01-02 08:47] #632 closed

[2018-01-02 08:53] luxas commented on #605
In these places probably:
 - https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
 - https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-phase-addon
 - https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-9/

Something's already there, but may be worth it to clarify and make more visible

[2018-01-02 10:13] klausenbusk commented on #300
Can we close this issue now that https://github.com/kubernetes/website/pull/6768 has been merged?

[2018-01-02 12:57] luxas commented on #300
Yes, thank you @klausenbusk for taking care of this :tada:!

[2018-01-02 12:57] #300 closed

[2018-01-02 20:12] xenophenes commented on #613
I've installed it, both through the "go get" method and by placing it directly in my PATH. The warning is still coming up. Is there some reason why it wouldn't be finding it?

[2018-01-03 01:31] stewart-yu commented on #630
Does it need help?

[2018-01-03 02:57] timothysc commented on #616
We need to submit the community distribution details.

[2018-01-03 05:05] rambo45 opened #635 "Diagrams speak 1000 words and saves time"
No one has time to read all the docs. Please help with the user experience by including diagrams wherever possible.

[2018-01-03 08:53] fabriziopandini commented on #630
@stewart-yu help would be really appreciated here!

[2018-01-03 10:33] mgxian commented on #546
### the workground of this article work well with `k8s v1.9.0`
https://medium.com/@bambash/ha-kubernetes-cluster-via-kubeadm-b2133360b198

[2018-01-03 10:47] bboreham opened #636 "Document how to set custom args for kube-proxy"
I wanted to set the `--cluster-cidr` argument on kube-proxy, via kubeadm.

On Slack I was advised:

It seems to me this should be mentioned at https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/ - it mentions apiserver, controller-manager and scheduler but not proxy.

[2018-01-03 17:03] stealthybox commented on #616
@timothysc here's the v1.8 conformance PR:
https://github.com/cncf/k8s-conformance/pull/62

[2018-01-03 17:22] luxas commented on #616
??
Do you mean that the badge should have some explicit "Community"-mark on it or what?

[2018-01-03 17:36] stealthybox commented on #616
@luxas, @timothysc said he'd sync up with you on what he means by this.
It has something to do with how the conformance process has been vendor-centric up to this point.

[2018-01-03 17:40] stealthybox opened #637 "Certify kubeadm v1.7 as a Conformant Kubernetes deployment"
Run the same steps as described in cncf/k8s-conformance#62.
Upload the same files to v1.7/.

/area testing
/area upgrades
/kind documentation
/priority important-soon

[2018-01-03 17:42] stealthybox commented on #637
Related #617 #616

[2018-01-03 19:25] luxas commented on #637
I spoke to @dankohn and the v1.7 submission period is now closed.
We know kubeadm has been steadily conformant in automated e2e infra since v1.6 when it went beta, so in the end it doesn't matter much whether we have our results there or not, anyone can go to https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#periodic-kubeadm-gce-1.7 and see for themselves that everything's ok.

Thanks for

[2018-01-03 19:25] #637 closed

[2018-01-03 20:57] timothysc commented on #626
From what I can tell all the above PR's have been cherry-picked.

[2018-01-03 23:31] rambo45 opened #638 "Example configs for using external Certificates"
When using Kubeadm generated CA certs, all kubectl commands fail due to unknown signing CA. Documentation for using External CA is not clear, please provide examples

[2018-01-04 02:05] xiangpengzhao commented on #626
https://github.com/kubernetes/kubernetes/pull/57811 (Update etcd version to 3.1.11 for release 1.9) instead of https://github.com/kubernetes/kubernetes/pull/57633

[2018-01-04 02:38] timothysc commented on #617
I updated the readme and published the 1.9 kube-conformance container so folks should not be blocked.

[2018-01-04 08:25] lavender2020 opened #639 "BUG REPORT:kubelet cgroup driver"
BUG REPORT

## Versions
kubeadm version:1.9.0-00                     amd64
kubelet version:1.9.0-00                     amd64
kubernetes-cni:0.6.0-00                     amd64
docker-ce version:17.12.0~ce-0~ubuntu          amd64
system version:Ubuntu 16.04.3 LTS
Physical machine

## Problems

install kubernetes cluster on ubuntu 16.04. When running kubeadm init,there is an error:
[init] This might

[2018-01-04 08:57] cpnielsen opened #640 "Kubeadm does not mount files/directories used in apiServerExtraArgs"
## Versions

**kubeadm version** (use `kubeadm version`):

    kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2017-12-15T20:55:30Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
```Client Version: versio

[2018-01-04 12:06] tamalsaha commented on #640
I believe, you can provide extra mounts https://github.com/kubernetes/kubernetes/pull/49840

[2018-01-04 12:44] rajansandeep opened #641 "Possible error while using `kubeadm upgrade`"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.9

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
In the scenario when I have CoreDNS installed via `kubeadm init

[2018-01-04 16:46] tamalsaha opened #642 "Enable ValidatingAdmissionWebhook and MutatingAdmissionWebhook"
Since 1.9, ValidatingAdmissionWebhook and MutatingAdmissionWebhook are beta. Kubeadm should enable them by default. There are two parts to this:

- Setting the `--admission-control` flag to api server.
- Providing / Managing kubeconfigFile for webhook. My understanding is that
`--admission-control-config-file` flag is for kube api server and then this flag points to [a file like](https://github.co

[2018-01-04 16:47] tamalsaha commented on #642
cc: @sttts @deads2k @luxas @caesarxuchao

[2018-01-04 16:52] tamalsaha commented on #629
Files a separate issue for Webhooks https://github.com/kubernetes/kubeadm/issues/642

[2018-01-04 16:57] deads2k commented on #642
@kubernetes/sig-auth-api-reviews

That is the wrong certificate to use.  It is confusing different trust domains under one cert and doesn't resolve problems around certificate distribution.  The kubeconfig should not use that client certificate.

The client certificates signed by that CA are the most trusted client certificates in the entire cluster.  That CA is used to trust front proxies which a

[2018-01-04 17:07] deads2k commented on #642
You don't have to reference a kubeconfig file.  You only have to do that if you need to manually distribute client keys or tokens.  Some topologies (see above) don't require that and avoid having to establish a second, uniform authentication and authorization domain.

[2018-01-04 17:48] jhesshybris commented on #272
Hello. I'm having this same issue and I found a work-around.  It seems like weave gets into a state where it floods the kubedns service. This causes messages like this to appear in the logs of (pod: kube-dns,  container:dnsmasq)

[code]

With dnsmasq overwhelmed, the healthcheck running in  (pod: kube-dns,  container:sidecar) fails, causing kubernetes to reboot the dns pod. This begins a negative

[2018-01-04 17:53] timothysc commented on #618
imo this is a documented process external to kubeadm.

[2018-01-04 20:13] jhesshybris commented on #272
The reason there were problems in the first place on my machines was that on my debian 9 machine, systemd-resolved.service and resolveconf.service were running. These services rewrote my resolv.conf to include `nameserver 127.0.0.53`  This localhost nameserver address was copied verbatim into kube-dns.dnsmasq, causing havoc.

Disabling these services and hardcoding resolv.conf on my hosts solved t

[2018-01-05 08:23] rmohr opened #643 "kubeadm RPMs for v1.9.1 are not signed"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:

- **OS** (e.g. from /etc/os-release): CentOS Linux release 7.2.1511 (Core)

## What happened?

When installing the rpms on centos, it fails on the signature check. Like in #205

The exact version of the RPM is:

[code]
## What you expected to happen?

That t

[2018-01-06 03:27] bot11 commented on #546
@klausenbusk , on the master-02 and master-03 , I don't understand how you were able to join? Since the /etc/kubernetes directory is not empty. Can you please clarify if there is a step missing?
Thanks.

[2018-01-06 06:17] brendandburns opened #644 "ARM APIServer timeout is too short for upgrade."
An APIServer on ARM takes ~1.5 minutes to come up. However, the health-check kicks in earlier than that, and the kubelet kills the APIServer.

This prevents successful kubeadm based upgrades on ARM.

We should make this timeout be configurable.

It's even worse on self-hosted clusters, because you can not manually edit the timeout when the apiserver is down. I had to use `systemctl stop kubelet` t

[2018-01-06 06:32] brendandburns opened #645 "kubeadm upgrade only checks apiserver"
I manually upgraded my apiserver to 1.9.1, but I wanted to use kubeadm for the remainder of the upgrade (controller-manager, scheduler) but now that my API server is updated kubeadm believes I'm up to date.

[2018-01-06 06:54] brendandburns opened #646 "self-hosted upgrade is more complicated than needed."
Self-hosted upgrade appears to be more complicated than is necessary.

As far as I can tell, it creates a second daemonset (`temp`) and then uses this to swap things around.

However, I think the following approach is easier:
[code]

[2018-01-06 09:13] dhrp commented on #501
Just as it may help some others; I needed to `kubeadm remove` before I could re-init without getting this "unable to load kernel module "configs"" error.

[2018-01-06 11:35] luxas commented on #642
Yeah, we should definitely enable those by default as they are beta, looks like we missed the train on https://github.com/kubernetes/kubernetes/pull/54892 :(

Do folks feel like enabling these two admission controllers would be acceptable to do in a patch release as they ought to be enabled in v1.9.0 as-is? I totally missed that PR so hadn't a chance to comment on it.

[2018-01-06 11:41] luxas commented on #644
In what way would you like this to be configurable? Via flags or the Config file?

[2018-01-06 11:51] luxas commented on #646
Is the DaemonSet spec updated at this point or not? i.e. do you mean that `<new-instance-of-component>` is the upgraded component?

The other option we're considering is to fall back on static Pods during the single-master upgrade instead of self-hosting the temporary fallback component. We do this workaround solely because of the lack of an "first-add-then-delete" DaemonSet updateStrategy https:/

[2018-01-06 11:59] luxas commented on #645
Any suggestions on how we'd do that easily? Neither component serve `/version` (although I don't think it would be unreasonable to propose they'd start doing so), and ComponentStatuses (which we don't know if  we really can rely on anyway) doesn't include that information either. Of course we could parse the static Pod / DaemonSet manifest and extract the image tag in some fancy way from the image

[2018-01-06 15:30] klausenbusk commented on #546
I did remove `sudo rm /etc/kubernetes/pki/ca.crt /etc/kubernetes/kubelet.conf` as documented, removing the whole directory wasn't needed.

[2018-01-06 21:40] ilyakitaev opened #647 "kubeadm 1.9.1 can't upgrade v1.7.x to another 1.8.x"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT
## Versions

**kubeadm version** (v1.9.1):

**Environment**:
- **Kubernetes version** (v1.7.5):
- **Cloud provider or hardware configuration**:
Baremetal
- **OS** (e.g. from /etc/os-release):
Centos7
- **Kernel** (e.g. `uname -a`):
3.10.0-514.26.2.el7.x86_64
- **Others**:

## What happened?
Trying to upgrade cluster from version 1.7.5 to 1.8.

[2018-01-06 21:58] kad commented on #647
have you tried to use kubeadm v1.8.x to upgrade  1.7.x->1.8.x ?

[2018-01-06 22:04] ilyakitaev commented on #647
@kad that's ok with kubeadm 1.8.6

[2018-01-06 23:06] kad commented on #647
To best of my memory, kubeadm 1.9 should support only 1.8 clusters and up. So, to upgrade 1.7 to 1.8 is better to use kubeadm 1.8.x

[2018-01-06 23:11] #647 closed

[2018-01-07 20:53] kargakis commented on #646
@brendandburns's suggestion can work if you use the OnDelete strategy in the DaemonSet so an update to the DaemonSet podtemplate will not trigger a rollout. Then, you could update the DaemonSet, relabel the pod, and trigger the creation of an updated pod while the old one is still running.

[2018-01-07 21:04] kargakis commented on #641
I think this happens because in case the feature gate is on, kubeadm will try to delete kubeDNS. The second time you will do an upgrade with coreDNS installed, kubeDNS is missing but [this wait loop blocks trying to delete it](https://github.com/kubernetes/kubernetes/blob/7a58a5caee002d7d9f996ab5de8396ebbd3560fd/cmd/kubeadm/app/phases/upgrade/postupgrade.go#L127).

[2018-01-07 21:04] kargakis commented on #641
/kind bug

[2018-01-07 21:07] kargakis opened #648 "kubeadm alludes to updating etcd but does not actually do it"
kubeadm shows the following table during an upgrade. It will also show you what needs to be upgraded manually (kubelet). It should also include etcd in that section and remove it from the following table.
[code]

[2018-01-07 21:17] kargakis commented on #215
@luxas still an issue?

[2018-01-07 21:22] kargakis commented on #644
Dupe of https://github.com/kubernetes/kubeadm/issues/413?

[2018-01-07 21:28] kargakis commented on #569
The documentation definitely lacks info on the topic but there is an option that you can specify inside the kubeadm config file, see [here](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file) for an example.

/kind documentation

[2018-01-07 21:39] kargakis commented on #599
Our docs already suggest using at least [2gb of RAM](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#before-you-begin) machines. This is unfortunate for rpis but there are other ARM options like odroid c2 that cover the requirements plus are known to run k8s (and are known to outperform rpis). I am waiting for two rock64 machines with 4gb of RAM each, hoping to get them workin

[2018-01-07 21:39] #599 closed

[2018-01-07 21:45] kargakis commented on #599
Also, this may be an issue with the OS you are running. I am also using a rpi, running with the stock raspbian lite image, and have performed all upgrades ever since 1.7 successfully (up to the latest - 1.9.1). There are also even more lightweight alternatives like dietpi which I can confirm is working like a dream on a rpi as a k8s node.

[2018-01-08 01:50] EvolveZy opened #649 "how to renewal apiserver.crt certificate,the default is one year"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-01-08 04:11] jamiehannaford commented on #215
I think we can close due to inactivity.

[2018-01-08 04:14] jamiehannaford commented on #618
I'm more of the opinion that reliable rollbacks are an essential component of upgrading etcd, so the user might benefit from having this handled on their behalf. Not fixed to this idea though. Maybe we can discuss in next implementation meeting?

[2018-01-08 06:25] dixudx commented on #639
Cgroup Driver: systemd

I can confirm this.

@lavender2020 You need to manually append `--cgroup-driver=systemd` to `kubelet` startup args and reload kubelet unit file to restart the service.

[2018-01-08 06:38] #215 closed

[2018-01-08 06:43] luxas commented on #643
cc @mbohlool @jdumars @enisoc @ixdy @pipejakob ^^

[2018-01-08 07:20] luxas commented on #619
@ronncc will help out with this task. I can't assign you (sorry!), but please do work on it anyway :)

[2018-01-08 07:24] dixudx commented on #639
Most people turn to `kubeadm` mainly to set up a cluster very quickly. It is simple and practical。

@luxas Shall we add a prefilght check on the consistency of cgroup driver between `docker` and `kubelet` to give more explicit warnings and solutuions when running `kubeadm init`? Or add another drop in for `kubelet.service`? Or just modify ` /etc/systemd/system/kubelet.service.d/10-kubeadm.conf` in

[2018-01-08 08:58] sttts commented on #642
They won't change anything if there are no webhooks defined. So at least it is safe to do so.

[2018-01-08 16:28] #641 closed

[2018-01-08 16:57] luxas opened #650 "Enable support for authenticating tokens (e.g. SAs) in the Kubelet API"
Ref: https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authentication

Thanks to @liggitt and @brancz that brought to my attention that this wasn't enabled right now (which I to be completely honest had expected intutively, but without actually checking it up)

We basically just have to pass `--authentication-token-webhook` to the kubelet as well.
This is a prereq for

[2018-01-08 17:08] luxas commented on #650
cc @mattmoyer @xiangpengzhao @timothysc

[2018-01-08 17:41] brendandburns commented on #645
I feel like the image name is pretty good to use, the tag is created to follow semvar, so I think its pretty stable in general.

You can always print an error if it isn't the gcr image...

[2018-01-08 17:42] brendandburns commented on #644
Yeah, this is a dupe of #413.

I think a flag is sufficient.

[2018-01-08 17:42] #644 closed

[2018-01-08 17:45] brendandburns opened #651 "Self-hosted kubeadm clusters should still store the manifests somewhere..."
I had to nuke my single-master self-administered cluster because a node accidentally power cycled and I couldn't restore the API server.

Clearly this is understood as an issue in a one-master self-hosted design, but we should still persist the static YAML files somewhere for easier recovery in such situations.

(alternately, enabling kubeadm to take over an existing etcd install would also likely

[2018-01-08 19:32] kargakis commented on #413
How about making them configurable? Does it make sense to have a single option that owns all of them?

[2018-01-08 19:32] kargakis commented on #413
/priority important-soon

[2018-01-08 19:36] kargakis commented on #649
Sounds like a documentation effort for now but eventually a thing that kubeadm should do.

@kubernetes/sig-cluster-lifecycle-feature-requests

[2018-01-08 19:43] kargakis commented on #651
You should be able to use an external etcd but it is not documented anywhere as far as my search-fu could get me. Also, fwiw, folks have been playing around with the etcd operator and kubeadm; I think the operator is able to take automated backups of etcd but I haven't actually used it yet to know for sure.

[2018-01-08 20:09] enisoc commented on #643
This should be fixed now as part of fixing https://github.com/kubernetes/release/issues/495.

[2018-01-08 22:21] luxas commented on #643
Thanks @enisoc, closing as a dupe of https://github.com/kubernetes/release/issues/495

[2018-01-08 22:21] #643 closed

[2018-01-08 22:25] luxas commented on #651
cc @timothysc that did the recovery work in v1.9 for this, we can now actually enable it in v1.10 to make the reboot case work ^

I've been thinking about doing the similar thing as `kubectl apply` does... store the original manifest as a JSON blob in an annotation, but I don't know whether that's a good or bad idea in this case. It'd help in some situations. I realize this question is about stori

[2018-01-08 22:27] brendandburns commented on #651
Annotations wouldn't work for my cluster because the trouble was there's nothing to even make the apiserver startup, since the kubelet has nothing to talk to...

[2018-01-08 22:27] luxas commented on #413
Probably, or some kind of "weight" for all the timeouts to be multiplied with... Otherwise we'll get into config hell with 20 different types of timeout flags :)

[2018-01-08 22:30] luxas commented on #651
Yeah, I know, hence we did https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cluster-lifecycle/draft-20171020-bootstrap-checkpointing.md which is my first note above.

The second point on the annotation would be useful in other context when roundtripping from Static Pods to self-hosted and back.

The third point would probably address the point raised in this issue

[2018-01-08 22:33] luxas commented on #649
kubeadm renews this cert automatically on upgrade. You can do this with `kubeadm alpha phase certs apiserver` as well

[2018-01-08 22:34] luxas commented on #642
Ok, then I think we should backport such a change. @dixudx do you want to send that PR against the master branch and then backport to v1.9 :smile:?

[2018-01-09 01:34] dixudx commented on #642
/assign

@luxas Yeah, why not.

[2018-01-09 04:33] hickey opened #653 "Nodes registered with FQDN, but labelled with short hostname"
## What keywords did you search in kubeadm issues before filing this one?

* hostname

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version**: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-04T11:40:06Z", GoVersion:"go1.9.2", Compiler:"gc", Platfor

[2018-01-09 04:37] hickey commented on #653
For the time being I will use the `--hostname-override` switch on the kubelet to correct this issue.

[2018-01-09 05:01] hickey commented on #653
Found that trying to force the hostname in the kubelet config and using `--node-name` while joining the node to the cluster both result in the node being registered with the FQDN. Uncertain if this is K8S or kubeadm doing this at this point.

Setting the kubelet config and using `--node-name` when joining does cause the value of `kubernetes.io/hostname` to be the FQDN of the host. I can make that

[2018-01-09 09:08] kargakis commented on #649
Is it every upgrade, even patch versions? I updated to 1.9.1 recently but my apiserver certificate expires next October (I probably installed this cluster last October).

[2018-01-09 09:37] xiangpengzhao commented on #650
@luxas PR https://github.com/kubernetes/kubernetes/pull/57997 sent.

[2018-01-09 09:43] xiangpengzhao commented on #649
@kargakis when upgrading, the cert is renewed only when it's about to expire within 6 months (180 days  exactly).

https://github.com/kubernetes/kubernetes/blob/8c1ee761d2dd7761069ca0ca41fec484ac39b573/cmd/kubeadm/app/phases/upgrade/postupgrade_v18_19.go#L101-L103

[code]

[2018-01-09 09:44] xiangpengzhao commented on #649
FYI:
https://github.com/kubernetes/kubernetes/pull/55998

[2018-01-09 09:48] kargakis commented on #649
@xiangpengzhao thanks! Can we document that soemwhere in the kubeadm docs?

[2018-01-09 09:49] kargakis commented on #649
/kind documentation

[2018-01-09 11:56] xiangpengzhao commented on #649
Docs PR https://github.com/kubernetes/website/pull/6901 sent. @kargakis please take a look. Thanks!

[2018-01-09 12:11] xiangpengzhao commented on #649
@luxas we support automatic renewal from 1.9, but I notice that @EvolveZy 's kubeadm version is `1.7.0`.

The command description says: `If both files already exist, kubeadm skips the generation step and existing files will be used.` So I think users can't renew the cert manually by this command. Am I missing something here? Maybe we want a new sub-command, something like `kubeadm alpha phase cert

[2018-01-09 13:57] mt-inside commented on #273
As an FYI: as I commented on https://github.com/kubernetes/kubernetes/issues/45828, I don't believe that over-riding kubelet's resolv.conf reference will work anyway. This will just dump a broken (referencing 127.0.0.53) resolv.conf into all the pods **and** bypass cluster-local resolution. The current state of affairs is that just external resolution is broken because kube-dns has a broken upstre

[2018-01-09 14:02] antoineco commented on #273
@mt-inside that's why pointing `kubelet` to `/run/systemd/resolve/resolv.conf` makes sense because in an environment running `systend-resolved`

1. `/etc/resolv.conf` contains only one entry: localhost
2. `/run/systemd/resolve/resolv.conf` contains your actual DNS servers

`kube-dns` merely uses whatever nameservers `kubelet` provides as its forwarders, so if `kubeadm` configures `kubelet` to use

[2018-01-09 14:28] mt-inside commented on #273
@antoineco I agree that'll get `kube-dns` forwarding correctly, but won't every other user-level Pod in the system then go straight to your upstream servers and not query `kube-dns` at all? When I tried the `--resolv-conf` option, it just used that file verbatim and didn't inject the `kube-dns` Service ClusterIP (the `--resolv-conf` option was ignored until I removed the `--cluster-dns` option)

[2018-01-09 14:39] antoineco commented on #273
By default all user workloads send DNS requests to `kube-dns`, which in turn does the forwarding job for you.

What you described is the behaviour of `ClusterFirst`.

ref https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pods-dns-policy

[2018-01-09 14:52] dixudx commented on #650
/assign @xiangpengzhao

[2018-01-09 15:49] timothysc commented on #613
I'll add a breadcrumb to the warning.

[2018-01-09 15:51] rmxhaha commented on #324
I want to ask if kubeadm join supports http_proxy ?

I manage to get kubeadm init to work with http_proxy and no_proxy but it seems kubeadm join produce errors such as

[code]
and also
/etc/environment is empty instead of filled with configuration like in the master.

which let me to believe maybe http_proxy and no_proxy is not yet supported for kubeadm join.

[2018-01-09 15:52] timothysc commented on #613
`go get github.com/kubernetes-incubator/cri-tools/cmd/crictl` resolves

[2018-01-09 17:43] mt-inside commented on #273
@antoineco Ah, you're right. I was confused about dnsPolicy. I was confused about what coredns is running as, because _Default isn't the default_. I also confused myself by looking at a ClusterFirst Pod that was failing back to Default when I didn't specify --cluster-dns in some of my tests. Also the scope of --resolv-conf (not applying to ClusterFirst) and --cluster-dns (not applying to Default)

[2018-01-09 21:50] timothysc commented on #613
@chuckha

[2018-01-09 23:03] pnovotnak commented on #587
I think this is still a bug. It is happening for me with 1.8.4 in GKE... I've tried deleting the host node to get it on a new one and it has the same problem over and over.

[code]

[code]

[2018-01-09 23:15] pnovotnak commented on #587
I don't know if I can provide access to our cluster but I can provide uncensored logs to anyone looking into this.

[2018-01-10 00:21] pnovotnak commented on #587
Ah, in my case this is because the requests/ limits I have configured are written incorrectly.

[2018-01-10 04:16] pswenson opened #654 "kubeadm install fails for coreos"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
unknown as install failed

**Environment**:
- **Kubernetes version** failed

- **Cloud provider or hardware configuration**:
Openstack

- **OS** (e.g. from /etc/os-release):
CoreOS VERSION=1576.5.0

## What happened?

I followed kubeadm installation instructions for ContainerLinux documented here:
https://kubernetes.io/docs/s

[2018-01-10 08:21] KeithTt opened #655 "How to use IPVSProxy when deploy k8s with kubeadm?"
kubeadm version: 1.9.1
OS version: debian stretch

I followed the official guide: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

There is a option `SupportIPVSProxyMode=true` in the guide.

![image](https://user-images.githubusercontent.com/15189954/34788069-6b42d352-f674-11e7-9362-48940e558024.png)

but I do not find this option in my environment....

![image](https://use

[2018-01-10 10:48] shyamjvs commented on #597
+1 to what @porridge wrote above. More specifics are required of what kinds of requests are seen.

[2018-01-10 12:06] petergardfjall commented on #546
To @discorianfish and others wanting to run a HA setup on AWS.

I did manage to get a HA setup to work with Amazon's ELB (despite it not having a single static IP address).

To get it to work, the following steps (in addition to @jamiehannaford's HA guide) need to be taken:

- Since the ELB does not have a static IP address, we cannot use that as the apiserver advertise address. Instead, we let ea

[2018-01-10 12:16] klausenbusk commented on #546
You can switch to the new [lease reconciler](https://kubernetes.io/docs/admin/high-availability/#endpoint-reconciler) in 1.9, it should fix the "fighting" over the endpoint issue.

[2018-01-10 13:33] raniatriki commented on #578
please
we delete all the directory net.d.?
and how to restart kubelet ?

[2018-01-10 13:36] petergardfjall commented on #546
Excellent advice @klausenbusk. It worked like a charm.

[2018-01-10 16:31] dkirrane commented on #416
/lifecycle frozen

[2018-01-10 16:32] dkirrane commented on #416
/remove-lifecycle stale

[2018-01-10 22:59] bamb00 commented on #504
What do you mean firewalld is incompatible with kubernetes? Is there Kubernetes documentation mention kubernetes does not support enable firewalld?

Thanks.

[2018-01-10 23:06] dl00 commented on #504
@bamb00 yes, it specifically says on this page: https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

[2018-01-11 01:49] xiangpengzhao opened #656 "UX enhancement: print the full path of Kubeconfig files"
kubeadm init:
[code]
It'd be good to print the path of the KubeConfig files in case users want to view the content of these files.

[2018-01-11 03:13] Lion-Wei commented on #655
https://github.com/m1093782566/kubernetes/blob/f8e27cf78cd8ea7e581284cc6c0093c996d9d346/pkg/proxy/ipvs/README.md#L42-L45

I'm pretty sure this is the right way. : )

[2018-01-11 03:39] KeithTt commented on #655
@Lion-Wei Thanks for your guide.

But there is no this option in my environment. What is your kubeadm version and OS version?

[2018-01-11 04:05] Lion-Wei commented on #655
I think kubeadm 1.9.1 is ok. You don't need add `feature-gate` flag, just add those line above to your kubeadm config file, and use `kubeadm init --config=<config file path>`, should work.

[2018-01-11 04:08] #656 closed

[2018-01-11 05:56] KeithTt commented on #655
@Lion-Wei Can you paste your config file? Thanks.

[2018-01-11 06:21] Lion-Wei commented on #655
Sure, config file:
[code]
Command: `kubeadm init --skip-preflight-checks --config /etc/kubeadm/kubeadm.yaml`.

If not work, you can paste your Command/config file/and result, maybe I can help. : )

[2018-01-11 06:34] KeithTt commented on #655
@Lion-Wei Thanks a lot!!!

Your usage of `kubeProxy` is not displayed in the official guide.

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

Is there some docs else?

[2018-01-11 06:43] KeithTt commented on #655
@Lion-Wei Thanks a lot!

[2018-01-11 06:56] KeithTt commented on #655
@Lion-Wei BTW, another two questions:

1、Do you know how to set `apiServerExtraArgs` options of apiserver?
[code]

2、Do you use `kube-router`? If set proxy mode to `ipvs`, will kubeadm deploy kube-router by default or we can use kube-proxy with ipvs mode and deploy another network plugin?

[2018-01-11 08:46] Lion-Wei commented on #655
I'm not sure about how to use `apiServerExtraArgs`, but I noticed this field is in type `map[string]string`, maybe you can try:
[code]

2. You can use kube-proxy ipvs sproxy mode with other network plugin, Actually I think kube-proxy need to be removed if you want use kube-router.
https://github.com/cloudnativelabs/kube-router/blob/master/Documentation/kubeadm.md

[2018-01-11 09:05] KeithTt commented on #655
I think this config will be ok.
[code]

I will have another try..

[2018-01-11 09:10] bruce2409 opened #657 "Installing crictl requires use of --ignore-preflight-errors=cri"
## Versions
kubeadm version: v1.9.1
kubectl version: v1.9.1
Centos 7.4 w/ kernel: 3.10.0-693.11.6.el7.x86_64

## What happened?
If running kubeadm init without crictl being in the system path you get the expected warning of:
`[WARNING FileExisting-crictl]: crictl not found in system path` but the process continues as normal.

However if you have got crictl in your system path, kubeadm init will fa

[2018-01-11 09:15] Lion-Wei commented on #655
Good luck : )

I'll send a pr, but right now maybe this README file is the only official doc : (

[2018-01-11 11:05] KeithTt commented on #655
After a test, the config works with this version:
[code]

Hope your PR been merged soon.

Do you know how to check the proxy mode of kube-proxy? I have deploy with the config, and how to check the mode is ipvs or not?

[2018-01-11 12:52] RandyAbernethy commented on #613
If kubeadm wants this cli tool it should install it if not present rather than warning. I suspect a very scace minority of users will have crictl pre-installed!!

[2018-01-11 14:04] zatricky commented on #597
Apologies for the delay, @porridge. Not sure why I didn't see a notification :-/

- is there indeed just one node apart from master?
Yes. Exactly one "worker" node and one "master" node

- by "basic services" do you mean the ones in kube-system or something else? which of them do not reach Running and why?
Other than calico, nothing was deployed to the "cluster". The 30 minutes is in reference to

[2018-01-11 15:58] pswenson commented on #654
User error :)

[2018-01-11 15:59] #654 closed

[2018-01-11 16:08] pswenson opened #658 "kubeadm opensourced/versioned"
##  FEATURE REQUEST

I would like to see kubeadm binaries/assets versioned and the code open sourced.

I wanted to get kubeadm working for coreos/kubernetes v1.6.4 but cannot find the old assets.  I was able to get k8s v1.9.1 working fine and I'm sure it's not hard to hack it to work for v1.6.4 but finding the correct versions of all the assets is proving difficult

I would expect the code to be a

[2018-01-11 16:10] pswenson commented on #658
turns out the code is part of kubernetes.  Perhaps a doc update is in order?

[2018-01-11 16:10] #658 closed

[2018-01-11 22:38] kapilt commented on #411
also happening on 1.9.1

[2018-01-11 23:11] kapilt opened #659 "no programmatic way to get discovery token ca hash"
if your creating a token, via kubeadm token create .. or any other mechanism, there is no way to get the token ca certificate hash outside of trying to parse the human readable output (and thus non stable) of kubeadm init. There should a machine readable way of creating tokens with ca hashes, else one is forced to use --discovery-token-unsafe-skip-ca-verification even if there is desire to do the

[2018-01-12 00:18] jamiehannaford commented on #546
@petergardfjall

What happens if you do `kubeadm join` with the LB's IP?

[2018-01-12 00:24] nelsonfassis commented on #491
how can I specify the external etcd cluster? Didnt find in the documentation the option for that. Do I must use an yaml file for that?

[2018-01-12 00:28] jamiehannaford commented on #491
@nelsonfassis If you look at the docs for the config file (https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file), you can specify them as a YAML list. See etcd > endpoints section.

[2018-01-12 00:36] nelsonfassis commented on #491
@jamiehannaford exactly, I'd like to use something like kubeadm init --etcd-cluster="<cluster>". So I guess it is not an option, right?

[2018-01-12 00:51] jamiehannaford commented on #491
@nelsonfassis That CLI flag is not supported, you will need to use the configuration file.

[2018-01-12 01:06] nelsonfassis commented on #491
@jamiehannaford Thank you for the clarification. I set up a cluster without making the etcd cluster external of kubernetes, so now I have only one etcd pod running which is a very dangerous setup.
1 - Is it safe to create an etcd cluster on the hosts (same as my k8s cluster, but running on the server instead of containers), add those nodes to the single k8s etcd and then remove etcd pod?

2 - What

[2018-01-12 02:33] KeithTt commented on #655
Issue resolved, close it.

[2018-01-12 02:33] #655 closed

[2018-01-12 05:12] jamiehannaford commented on #491
@nelsonfassis It depends on your use case. If you're using k8s for informal workloads (dev, staging, nonpublic) then self-hosted etcd via kubeadm is usually fine. For production workloads we recommend something a bit more robust like systemd units, either on separate servers or colocated on the masters.

[2018-01-12 07:00] petergardfjall commented on #546
@jamiehannaford The problem when using Amazon's ELB is that it doesn't provide a single, stable IP address, so there is no such LB IP that I can make use of (see https://stackoverflow.com/a/35317682/7131191).

So for now the workers join via the ELB's FQDN, which will forward it to one of the apiservers, which, since it advertises its own IP address, makes the worker configure its kubelet to use t

[2018-01-12 09:29] justlooks opened #660 "when do kubeadm join ,kubeadm do not write kubelet kubeconfig file to node"
i compile kubelet,kubeadm from source code v1.9.0 , and init a master,but when i try join a node ,i find kubeadm do not write kubelet kubeconfig file to the join node,and kubelet failed to start,is it a bug ?
[code]

[code]

[code]

[2018-01-12 21:50] pipejakob commented on #650
I don't know enough yet to comment about the safety of enabling this by default, but if we do move forward with this change, let's make sure to also update the [rpm build](https://github.com/kubernetes/release/blob/master/rpm/10-kubeadm-post-1.8.conf) so that the debs don't drift away in behavior.

[2018-01-12 21:52] pipejakob commented on #650
@luxas, can you elaborate on why this is a prerequisite for the 1.10 release? What exactly will break in 1.10 if we don't make these changes? Thanks!

[2018-01-12 23:13] nelsonfassis commented on #328
@kumarganesh2814 According to the official documentation, Kubernetes does not work well with firewall on CentOS, so you should stop and disable your firewalld:

https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/

Will most likely fix your problem.

[2018-01-13 02:34] cookeem commented on #328
@kumarganesh2814 Here's the ports required:

[2018-01-13 07:08] anilskp commented on #139
I too had the same problem.  Resolved after adding --iface=eth1, in my case it is eth1,  in flannel.yml and with a static route.

Thank you.

[2018-01-13 21:11] cli0 commented on #610
What is the command to turn off swap?

[2018-01-14 07:16] dixudx commented on #629
/assign

[2018-01-15 07:54] cjdcordeiro commented on #610
`swapoff -a`

[2018-01-15 09:01] mcapuccini commented on #202
/remove-lifecycle stal any news this?

[2018-01-15 09:01] mcapuccini commented on #202
/remove-lifecycle stale

[2018-01-15 09:02] mcapuccini commented on #202
Any news on this?

[2018-01-15 16:03] wangwanchao opened #661 ""kubeadm init" not works"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-01-15 16:07] kad commented on #661
Your setup seems doesn't have direct access to the internet. Please make sure that before running kubeadm you have specified correctly in environment variables (HTTP_PROXY, HTTPS_PROXY) your proxy host and in NO_PROXY variable you should have at least "localhost,127.0.0.1" and network ranges for your Pod and Services CIDRs. e.g. "10.0.0.0/8".

[2018-01-15 16:12] kad commented on #659
Have you tried recent version of kubeadm ?
[code]

[2018-01-15 16:15] kad commented on #660
Please check content of `build/debs/10-kubeadm.conf`. Kubeadm expects that several flags are passed to kubelet, thus you might probably missing some of them, e.g. `--bootstrap-kubeconfig` if you're starting kubelet by different means than packaged systemd services.

[2018-01-15 16:32] kad commented on #653
This label is set by kubelet and kubeadm has no direct control over it. Without specifically set argument, kubelet will fall back to `os.Hostname()` call on the nodes to set that label, thus it will be by default non-fdqn.

[2018-01-15 16:35] kad commented on #645
Maybe be dependent on parsing imagenames is not the best way ? Maybe having switch for upgrade command that will allow "upgrade" to the same version as current one will be more user friendly ?

[2018-01-15 16:38] rajansandeep opened #662 "Kube-dns configmap translation to CoreDNS"
FEATURE REQUEST

Currently, when we install CoreDNS instead of kube-dns via `kubeadm upgrade`, we do not carry forward the configuration of kube-dns.
We need to translate and transfer the configmap and deployment settings of kube-dns into a CoreDNS Corefile that will implement the same features to ensure a smooth transition when upgrading to CoreDNS.

[2018-01-15 16:45] rajansandeep commented on #662
@bowei @luxas : kube-dns supports stubdomains, upstream through configmap. We can probably also translate the cache and log settings from the deployment.
Is there anything else I am missing?

@johnbelamaric @chrisohaver @fturib

[2018-01-15 18:08] discordianfish commented on #546
I've just open sourced out stab on HA kubeadm. Comes with a few caveats and ugly workaround (especially the kube-proxy hack is ugly). But it works: https://github.com/itskoko/kubecfn

[2018-01-16 06:58] justlooks commented on #660
@kad i restarted the node machine ,and it work fine ...

[2018-01-16 06:58] #660 closed

[2018-01-16 07:01] hickey commented on #653
Well, I have spent the past 2 days fighting this issue and it is snowballing. I can *only* get the nodes to register with FQDN even when trying to override with the short hostname. For most of the weekend things have been functional.

Today **ALL** of my services when down because the kube-proxy is now using the short hostname. I am still uncertain what transpired for the kube-proxy to start using

[2018-01-16 09:56] shenshouer opened #663 "[discovery] Failed to request cluster info, will try again: [Unauthorized]"
[code]

the version of all component is `v1.9.1`

Anyone who can help me ?

[2018-01-16 10:34] kad commented on #653
The overall pattern for multiple components in kubernetes that it will use hostname-override parameter if specified. if not, it will use `k8s.io/kubernetes/pkg/util/node.GetHostname()` which will return `os.Hostname()` result, which is not-FDQN name.

[2018-01-16 12:27] discordianfish commented on #261
Here is my stab at kubeadm HA on AWS: https://github.com/itskoko/kubecfn

[2018-01-16 12:34] kad commented on #633
kubeadm issue tracker is not the correct place to ask this kind of questions.
Please use appropriate places, e.g. https://groups.google.com/forum/#!forum/kubernetes-users
/close

[2018-01-16 12:34] #633 closed

[2018-01-16 12:55] wangwanchao commented on #661
Could you give me some examples?

[2018-01-16 13:14] kad commented on #661
Here is example from one of my development hosts, CentOS 7.x. Your distribution might have different way to specify that.

[code]

[2018-01-16 13:29] ConorNevin commented on #659
its still not great - anyone trying to this use this programmatically will have to parse the command in order to extract both the token and discovery token hash. It would be better if we could specify an output form like json so we can parse it safely

[2018-01-16 17:52] hickey commented on #653
I would say that the `--hostname-override` switch on the kubelet is working as expected as I have had some issues trying to override the hostname after the fact but then had problems given that the host had previously be registered with the FQDN.

The basic problem is that the node gets registered with FQDN and there is nothing I can find from the kubeadm side to control the name that the host is

[2018-01-16 18:33] stealthybox commented on #261
@discordianfish wow, that looks like a lot of work -- nice job

[2018-01-16 22:16] #460 closed

[2018-01-17 02:21] jamiehannaford commented on #202
Should be possible once https://github.com/kubernetes/kubernetes/pull/57224 lands I think

[2018-01-17 02:25] jamiehannaford commented on #370
Since this no longer being worked on or planned, I think we can close. WDYT @luxas @pipejakob?

[2018-01-17 12:05] wangwanchao commented on #661
oh,thank you.due to the GFW, i have encountered all kinds of problems.via VPN, i have deal with this problem.

[2018-01-17 12:05] #661 closed

[2018-01-17 18:04] kapilt commented on #261
@discordianfish thats really nice work, and awesome, you've worked around all the bugs :-) +1

[2018-01-17 20:04] nelsonfassis commented on #328
I am having issues to join the master02 and master03 after creating master01.
After running kubeadm init --config=config.yaml, pointing to an external etcd cluster with its required certificates and all, I copied the /etc/kubernetes from master01 to master02 and master03.
I edited and the .conf and manifest configs to the respective host ip and still, whenever I check the nodes, there is only the

[2018-01-17 20:11] nelsonfassis commented on #328
never mind, didn't see this detail.:
"on k8s-master1: edit kube-apiserver.yaml file's admission-control settings, v1.7.0 use NodeRestriction admission control will prevent other master join the cluster, please reset it to v1.6.x recommended config."

My masters are now joining the cluster. Roles is still like NONE, but I will keep working on it.

[2018-01-17 22:15] smorrisfv commented on #294
So I'm trying to get HostPorts working, but they just don't seem to work.  I set them up in my deployment config on the container and they don't get mapped.  I've scowered the net far and wide but there doesn't seem to be a concrete way to set things up.  I've look at the merge request that is mentioned above ( kubernetes/website#5940) and it mentions the [_portmap_ documentation](https://github.c

[2018-01-17 23:08] jamiehannaford commented on #294
@smorrisfv Which CNI provider are you using? I recommend opening an issue on their repo with full details of your node, what's installed, configuration files, etc.

[2018-01-17 23:10] jamiehannaford commented on #261
Awesome job @discordianfish. If you had to do any workarounds to get kubeadm working (i.e. to fix kubeadm-specific bugs or shortcomings) would you mind opening an issue so we can document them?

[2018-01-18 01:01] #642 closed

[2018-01-18 07:23] kapilt commented on #261
@jamiehannaford the biggest one that i see in going through the repo, is #411, so effectively you have to rewrite the kubelet config kubeadm generates, to point it from an ip to a dns name for the masters.

[2018-01-18 07:50] #629 closed

[2018-01-18 08:46] kapilt commented on #659
thanks, i didn't realize that there was a separate/new command for this. I agree, it would be nicer to have this in json. my previous workflow for 1.6 and 1.7, was kubeadm token generate, and then reuse that value when init'ing and join'ing,  the kubeadm token generate was machine readable single value line delimited, but its now effectively a dead command since it lacks the cert hash (and not per

[2018-01-18 13:06] discordianfish commented on #261
#411 doesn't effect kubecfn since I'm not using kubeadm on the worker because I couldn't get the token auth to play well with the multi HA setup. Instead I'm just using the admin.conf which isn't ideal an (now) tracked in https://github.com/itskoko/kubecfn/issues/6

#609 is the biggest pain point right now. The workaround is ugly at least (overwriting the configmap after each kubeadm run)

Another

[2018-01-18 13:16] schmitch commented on #261
What I found to be the biggest pain is that if I want to use keepalived as the "loadbalancer" and want to run it with keepalived in kubernetes that I first need to bootstrap the kubernetes "master cluster" with one master IP and then rewrite all configs to point to the keepalived ip.
it would be better if the kubernetes master would only use the 'advertise api server'-ip to talk with worker nodes

[2018-01-18 18:27] #588 closed

[2018-01-19 07:16] fanux opened #664 "Using ip:port in kubeadm join command to render kubelet config and kube-proxy on node please"
FEATURE REQUEST

## What happened?
kubeadm join node not using the ip:port in join command. I want to using the LB ip and port to join node.

master0 1.1.1.1:6443
master1 2.2.2.2:6443
LB 3.3.3.3:6443

using kubeadm join 3.3.3.3:6443 ...   but kubelet config and kube-proxy config may also be master0 ip or master1 ip, this behaviour is not expected in HA.

## What you expected to happen?
I want kube

[2018-01-19 16:29] mbert commented on #546
I have done some work on the [HA setup guide on google docs](https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg/edit?ts=5a4aa6ba#):

- took over some changes proposed in comments
- support for 'calico' network plugin
- took over _etcd_ SSL setup from the [official guide document](https://kubernetes.io/docs/setup/independent/high-availability/) written by @jamiehannafor

[2018-01-19 17:12] smorrisfv commented on #294
@jamiehannaford I'm using Flannel.  I'll go checkout their repo to open an issue with them.

[2018-01-19 19:02] jamiehannaford commented on #294
@smorrisfv Cool, I think that's where you'll find the most useful feedback. If you run into any kubeadm-specific errors or issues, please open a new issue and we'll be happy to help.

[2018-01-19 19:09] petergardfjall commented on #546
The company where I work has recently published the kubeadm-based HA kubernetes installer we've been working on. It follows @jamiehannaford's [HA guide](https://deploy-preview-6458--kubernetes-io-master-staging.netlify.com/docs/setup/independent/high-availability/) fairly closely. It is a python script that executes in two phases: `render` which creates "cluster assets" in the form of SSH keys, ce

[2018-01-19 22:34] #630 closed

[2018-01-20 00:48] #324 closed

[2018-01-20 12:31] Mosho1 opened #665 "Container linux installation - nodes not routable"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** 1.9.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.9.2
- **Cloud provider or hardware configuration**: Digital Ocean
- **OS** (e.g. from /etc/os-release): coreos 1576.5.0
- **Kernel** (e.g. `uname -a`): 4.14.11-coreos

## What happened?

Tried to install kubeadm using http

[2018-01-21 15:07] thecatwasnot commented on #574
I'm seeing this on CoreOS 1662.0.0 using [kubeadm-installer container](https://github.com/xakraz/kubeadm-installer) to setup machines.  Looks like kubeadm init creates a kubelet.conf file for master, but no such file is created for nodes.  Kubeadm lists version as: v1.9.2, Git commit: 5fa2db2bd46ac79e5e00a4e6ed24191080aa463b

[2018-01-21 15:16] thecatwasnot commented on #659
Yup, I had to dump the join-command to a file, and then use sed to add an ignore-preflight-errors flag, not awful but not particularly friendly either.

[2018-01-22 14:48] andrewshilliday opened #666 "Proxy environment variables shouldn't be passed to apiserver"
## What keywords did you search in kubeadm issues before filing this one?
environment, proxy

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T09:42:01Z", GoVersio

[2018-01-22 17:33] errordeveloper commented on #198
/remove-lifecycle stale

Assuming this didn't get fixed yet.

[2018-01-22 17:41] errordeveloper commented on #370
/close

@pipejakob please do feel free to re-open, if you would like to do this soon.

[2018-01-22 17:41] #370 closed

[2018-01-22 17:43] errordeveloper commented on #421
Although, I'd like this to be a possibility, it seems like a stretch goal.

[2018-01-22 17:58] errordeveloper commented on #613
Do we ship `crictl` in the official deb/rpm packages?

[2018-01-22 18:04] errordeveloper commented on #581
Duplicate of https://github.com/kubernetes/kubeadm/issues/206.

[2018-01-22 18:04] #581 closed

[2018-01-22 18:06] errordeveloper commented on #665
Have you tried using Weave Net instead?

[2018-01-23 02:39] timothysc commented on #395
/cc @bsalamat when we promote we will need to ensure defaults are changed.

[2018-01-23 02:40] timothysc commented on #449
@roberthbailey can we bump this out of this milestone?

[2018-01-23 02:45] timothysc commented on #218
Closing this issue it looks like all the necessary elements have been merged.

[2018-01-23 02:45] #218 closed

[2018-01-23 05:14] roberthbailey commented on #449
Yes

[2018-01-23 07:15] brendandburns opened #668 "Can't join existing cluster JWS not found?"
Trying to join an existing ~20 day old cluster:

[code]

Any ideas?

Thanks

Cluster was created by kubeadm `1.9.0`, current kubeadm is `1.9.2`

[2018-01-23 07:36] stewart-yu commented on #668
It seem that token expired,  Use "kubeadm token create" on the master node for creating a new valid token

[2018-01-23 13:27] lloeki commented on #203
I had exactly the same issue as @Mosho1 [over here](https://github.com/kubernetes/kubeadm/issues/300#issuecomment-353888166) and got down to the bottom of it.

I use DO and CoreOS but **this really is related to neither** and could happen on other providers and distros. It is also unrelated to DO's private networks being enabled or disabled: I reproduced the issue in both cases.

What happens is t

[2018-01-23 15:24] dixudx commented on #666
/assign

Sent out PR kubernetes/kubernetes#58698 to fix this.

[2018-01-23 15:35] jamiehannaford commented on #203
@lloeki Thanks for the write-up. Would you mind updating the docs, possibly here: https://github.com/kubernetes/website/blob/master/docs/setup/independent/troubleshooting-kubeadm.md

[2018-01-23 15:49] klausenbusk commented on #203
Are you sure about that? It could just be the anchor ip (compare with `curl http://169.254.169.254/metadata/v1/interfaces/public/0/anchor_ipv4/address`)

[2018-01-23 18:14] lloeki commented on #203
@klausenbusk you're absolutely correct, that was entertaining speculation on my part, sorry! The following is from the master node, now using `--node-ip`.

So it seems kubelet picks that one up under the assumption that it could be useful when it's not?

[code]

[2018-01-23 18:20] lloeki commented on #203
@jamiehannaford Sounds like I can do that :)

[2018-01-23 19:14] GitBytes opened #669 "kubeadm upgrade - etcd prepull image"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
```kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T09:42:01Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}```

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

## W

[2018-01-23 21:27] bsalamat commented on #395
Our plan is to use `system-node-critical` or `system-cluster-critical` priority for control plane pods. These priorities are highest in the system and no user defined priority can be higher. These priorities ensure that control plane pods are never evicted by kubelet IF they do not exceed their requested resources.
The priorities guarantee that these pods are never preempted.

cc: @dashpole

[2018-01-24 00:30] brendandburns commented on #668
I tried that. The token in the error message changes, but the error persists.

I can see the tokens when I run `kubeadm token list` on the master, any more things I can do to help debug?

[2018-01-24 01:29] zalmanzhao commented on #649
[root@k8s-master01 pki]# kubeadm alpha phase certs apiserver
unable to get URL "https://dl.k8s.io/release/stable-1.9.txt": Get https://dl.k8s.io/release/stable-1.9.txt: dial tcp 23.236.58.218:443: i/o timeout
in china

[2018-01-24 02:04] zalmanzhao commented on #649
apiserver.crt  Is it automatic?

[2018-01-24 02:43] timothysc commented on #449
I'm of the opinion that this should only be enabled at scale if there are folks who are watching this regularly and actively fixing.  This effectively means it's gating on google defaulting to kubeadm.

[2018-01-24 02:49] timothysc commented on #623
@chuckha xref: https://github.com/heptio/sonobuoy/issues/163

[2018-01-24 07:19] mbert commented on #546
I have not yet found a way to upgrade a HA cluster installed using kubeadm and the manual steps described in my [HA setup guide on google docs](https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg/edit?ts=5a4aa6ba#).

What I have tried so far is the following:
1. Shut down keepalived on the secondary masters, run kubeadm upgrade on the primary master, apply the same chan

[2018-01-24 10:20] mcapuccini commented on #534
Hi @luxas. Does it mean that in `1.9` we have to set `--discovery-token-unsafe-skip-ca-verification` when joining the cluster? Is there any security concern by doing so in your opinion?

[2018-01-24 10:22] mcapuccini commented on #534
Never mind. I just realized that we need to hash the token.

[2018-01-24 12:21] kad commented on #666
@andrewshilliday while you were initialising cluster with kubeadm, what kind of warning messages it gave to your setup ?

[2018-01-24 13:48] dixudx commented on #668
@brendandburns Can you connect to the cluster now?

Please help check the configmap `cluster-info` in `kube-public` namespace. Seems this configmap is damaged.

[2018-01-24 16:19] Mehonoshin commented on #484
So, was anyone able to workaround this issue?
Or it is impossible to run own k8s cluster at GCE?

[2018-01-24 16:55] timothysc commented on #395
cc: @chuckha

[2018-01-24 17:07] timothysc commented on #395
Notes: We will need to apply the kubelet flags to all nodes, due to support for the proxy.

[2018-01-24 17:13] stealthybox commented on #495
This sounds like an external application that would vendor kubeadm.
You would probably host the app on the cluster with hostPath mounts and access the webpage using a service.

@luxas I'm not aware of any webpages that kubeadm can serve.
Is this something that has prior art?

[2018-01-24 17:14] errordeveloper commented on #495
We don't really have any APIs that are exposed via the apiserver, so this is a pretty big feature to ask for.

Additionally, if we had an API, how would expect to find the plan? Kubernetes API doesn't send a body on a response to e.g. a POST (at least as far as I am aware)

However, one thing you can do via the API is run it in a pod and looking find the output in the logs. Which is probably close

[2018-01-24 17:17] timothysc commented on #456
So this requires segregating into it's own location for future forking.

[2018-01-24 17:24] timothysc commented on #206
Ideally we could have a phase command to help rotate.
/cc @mattmoyer and @mikedanese (re: other googlers)

[2018-01-24 17:27] errordeveloper commented on #494
I'd help if you could suggest an example of a kind JSON/YAML object you'd like to see instead of plain log lines kubeadm currently offers!

[2018-01-24 17:31] timothysc commented on #461
@fabianofranz will try to complete in this cycle.

[2018-01-24 17:31] stealthybox commented on #494
Is this something that can be achieved by vendoring kubeadm into your go binary directly?
An example of the desired output could also be helpful.

[2018-01-24 17:32] timothysc commented on #497
This is heavily dependent on the status of other libraries being factored properly.

[2018-01-24 17:35] stealthybox commented on #206
Suggested MVP is that you would run the `phase certs rotate` command per node.
@timothysc suggests we have a daemonset with hostpath mounts assist in this rotation/upgrade.

[2018-01-24 17:37] timothysc commented on #455
This requires an understanding of how the test-infra setup is run and how to dynamically change configs on the fly which may require restarting components.

[2018-01-24 17:39] timothysc commented on #525
cc: @craigtracey

[2018-01-24 17:40] aberoham commented on #525
I haven't touched kubeadm in a while but want to try to help with this in my spare time.

[2018-01-24 17:47] timothysc commented on #583
TODO: figure out if the downward API change fixes this issue.

[2018-01-24 17:49] kargakis commented on #336
I will take a look

/assign

[2018-01-24 17:51] kargakis commented on #336
/remove-help

[2018-01-24 17:56] timothysc commented on #623
Chuck is digging in here, but I assigned to me until he gets contributor acls.

[2018-01-24 18:04] brendandburns commented on #668
Sorry, I nuked the cluster and rebuilt it from scratch.  I will try to reproduce this later today and see if it re-occurs.

Thanks
--brendan

[2018-01-25 08:34] dominicespiritu opened #670 "kubeadm v1.9.2 join --token [value] [IP:PORT] --discovery-token-ca-cert-hash sha256:[value] results to [discovery] Failed to request cluster info in Vagrant Box"
I'm using vagrant box xenial64 and configured 3 vms named:
node1 = as my master
node2 = as worker node
node3 = as worker node
with docker.io kubeadm kubectl kubelet kubernetes-cni installed on all machines

docker.io version (1.13.1-0ubuntu1~16.04.2).
kubeadm version (1.9.2-00).
kubectl version (1.9.2-00).
kubelet version (1.9.2-00).
kubernetes-cni version (0.6.0-00).

Vagrant file:
  config.vm.de

[2018-01-25 08:51] klausenbusk opened #671 "CoreOS: Mount /usr/share/ca-certificates inside kube-controller-manager"
## What keywords did you search in kubeadm issues before filing this one?

CoreOS, /usr/share/ca-certificates, /etc/ssl/certs

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** 1.9.2
**Environment**:
- **Kubernetes version** 1.9.2
- **Cloud provider or hardware configuration**: DigitalOcean
- **OS** (e.g. from /etc/os-release): CoreOS

## What happened?

`ku

[2018-01-25 09:51] dixudx commented on #657
/kind bug
/assign

Have sent out PR to fix crictl preflight check.

[2018-01-25 10:48] sibtainabbas10 commented on #484
I am having the same issue, even when I place the `cloud-config` in `/etc/kubernetes/pki`

Can anyone also specify what should be the content of `cloud-config` file? Maybe I am doing that wrong.

[2018-01-25 12:27] Mehonoshin commented on #484
I haven't find any solution, except downgrading to 1.8.7 k8s

[2018-01-25 14:02] sibtainabbas10 commented on #484
My api server was able to read my `cloud-config` but I am not sure about the content of `cloud-config`. This is what I currently have

[code]

[2018-01-25 15:06] lloeki commented on #671
There are some other paths that may be symlinked to:

- `/usr/local/share/ca-certificates`: https://manpages.debian.org/stretch/ca-certificates/update-ca-certificates.8.en.html
- `/etc/ca-certificates/trust-source/anchors` https://www.archlinux.org/news/ca-certificates-update/

[2018-01-25 16:42] rayterrill commented on #484
My cloud config was to get vSphere integration working.

In my case it was /etc/kubernetes/pki/vsphere.conf, and my file contained this contents:
[code]

[2018-01-25 21:19] kargakis opened #672 "kubeadm upgrade is not aware of installed kubelet version"
[code]
@kubernetes/sig-cluster-lifecycle-bugs

[2018-01-25 22:47] binarybana opened #673 "Require user confirmation when resetting a master node"
### FEATURE REQUEST

Using `kubeadm` 1.9, I accidentally issued a `kubeadm reset` on my master node instead of a worker node (due to a dropped SSH connection). This deleted the cluster credentials and despite the `etcd` manifest using a `hostDir` for data, it seems that the re-created cluster did not successfully get repopulated with the previous etcd data.

I think it would be really nice if ther

[2018-01-25 23:29] bsalamat commented on #395
cc: @ravisantoshgudimetla

[2018-01-26 10:53] cezarysupron commented on #139
Similar issue with inter-host communication with kubeadm 1.9.1 on Fedora 27, following the steps in this doc: https://github.com/kubernetes/ingress-nginx/blob/master/docs/troubleshooting.md, testing from pod on node, I had problem with connection to Kubernetes API server:

kubectl get services
NAME         TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes   ClusterIP   10.96.0.1    <

[2018-01-26 15:19] timothysc commented on #613
@errordeveloper nope, but we could.

[2018-01-26 15:43] timothysc commented on #672
@kargakis this is known - What do you propose?

[2018-01-26 15:43] timothysc commented on #672
cc: @chuckha

[2018-01-26 17:38] errordeveloper commented on #525
@aberoham I'm intending to start go through all the docs soon, feel free to get started when you have the time and do come and feel free to ping me Slack =)

[2018-01-26 19:28] timothysc commented on #131
@errordeveloper was going to re-look into the secrets issues and the multiple approaches.

[2018-01-26 21:34] #613 closed

[2018-01-26 22:10] kargakis commented on #672
One solution is to list all nodes, check their status (since `kubeletVersion` is a field), and report accordingly. We should assess whether that's a viable option for big clusters (node objects can get pretty large). Another option is to slightly reword the message to something like "please proceed with upgrading your kubelets if you haven't already done it".

[2018-01-27 05:52] arunmk commented on #668
I saw this happen on a node with 1.6.8 today. This doesn't seem to be a ttl issue and the workaround mentioned in [https://github.com/kubernetes/kubeadm/issues/335](Bug 335) does not help. The cluster-info does not have the `jws-kubeconfig` set. At what step is this variable set? We use kubeadm to set up the cluster.

[2018-01-27 08:31] squidpickles commented on #163
I was able to make this work without needing a custom image for `kube-proxy`, using steps [here](https://gist.github.com/squidpickles/dda268d9a444c600418da5e1641239af).
Briefly, it involves modifying the DaemonSet containing `kube-proxy` only to apply to hosts matching the master node, then creating a duplicate DaemonSet that applies to the nodes' architecture, with the correct image.

It's defini

[2018-01-27 19:30] sujeetkp opened #674 "Flannel Pods For Nodes not starting with Status Init:CrashLoopBackOff"
I have installed k8s cluster on CentOS 7 with 2 Nodes.
Followed the official Doc and installed with flannel.
Flannel Pod for the master is Running fine, but the Pods for the Nodes are not starting with error Init:CrashLoopBackOff

NAMESPACE     NAME                                        READY     STATUS                  RESTARTS   AGE
kube-system   etcd-master-kubernetes                      1/1

[2018-01-28 07:30] dixudx commented on #668
@arunmk You can try to run `kubeadm token create` to create a new token.

[2018-01-28 21:48] arunmk commented on #668
@dixudx creation of a new token did not help and the new configmap also has the same issue (no jws-kubeconfig). I think there should be something unique to the node and am debugging along those lines.

Do you know if there are some packages needed etc for this token to be created on the machine?

[2018-01-29 05:42] berlinsaint opened #675 "modify network.podSubnet in configfile doesn't work after using kubeadm reset and kubeadm init"
![image](https://user-images.githubusercontent.com/10629930/35495074-f42d0a00-04f9-11e8-81cc-66e9d7958595.png)
i have inited my cluster , everything is ok, but i want modify my pod network ip range. so i use kubeadm reset, and modify the cidr in configfile . but when cluster up, the pod network seems like not using the latest
modified podSbunet cidr

[2018-01-29 06:00] berlinsaint commented on #675
alright.  it should modify in calico.yml  and keep the same

[2018-01-29 06:00] #675 closed

[2018-01-29 14:28] dixudx commented on #670
@dominicespiritu Please help check the apiserver on node1, whether the port is opened and listened on `192.168.32.10`. Also please make sure node2/node3 can access node1.

If it is listened on localhost/127.0.0.1, please run `kubeadm rest` to purge the cluster and rerun `kubeadm init --apiserver-advertise-address=192.168.32.10` to boot up a new cluster.

[2018-01-29 14:54] jamiehannaford commented on #546
@mbert This seems like an RBAC issue. Did you [ensure the node name matches the hostname-override](https://github.com/kubernetes/kubernetes/issues/47695#issuecomment-320895958)?

Also, did you reset etcd for each step? That probably explains why you saw the same result.

[2018-01-29 15:13] timothysc commented on #400
Closing this issue, it should be complete.

[2018-01-29 15:14] #400 closed

[2018-01-29 15:17] stealthybox commented on #614
/label triaged

[2018-01-29 15:17] timothysc commented on #263
Until bazel is the default, this is unlikely to happen, punting out of this cycle.

[2018-01-29 15:21] #616 closed

[2018-01-29 15:21] #617 closed

[2018-01-29 15:27] timothysc commented on #622
@xiangpengzhao - Where are we at with this issue and is there anything I can help with?

[2018-01-29 15:34] timothysc opened #676 "Move passthrough commands to either phases or feature gated flags."
TODO: Link to other issue.

Temporary flags had been promoted to 1st class flags when they should not be.

[2018-01-29 15:36] vbmade2000 commented on #622
@timothysc I was supposed to work on this issue but due to time constraint I was not able to work. Let me check it again. I'll ping you on slack if I would be in need of help.

[2018-01-29 16:26] mbert commented on #546
@jamiehannaford I am not using any hostname override, neither in kubelet nor in the kubeadm init configuration. And, yes, I am resetting etcd, i.e. tear down the cluster, install a new one from the scratch, then try to upgrade it.

I'll give setting a hostname-override for kubelet a shot and see whether this leads to any other result.

[2018-01-29 18:16] craigtracey opened #677 "kubeadm join discovery will loop infinitely upon failure"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.9.2

**Environment**: local virtual machines
- **Kubernetes version** (use `kubectl version`): 1.9.2
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`): N/A
- **Others**:

## What happened?
When provi

[2018-01-29 23:59] kris-nova commented on #676
@timothysc I might be able to help with this one - any more information?

[2018-01-30 00:06] kris-nova commented on #583
I'm happy to take this one too

Here is my thoughts on approaching it if somebody wants to sanity check me:

#### Validate this is still a concern

Looks like we need to see if this is still even applicable, if it is we can code in a change

#### Try `localhost` first

Can we have the program try `localhost` first to find the API server, and if that fails then fall back on `advertiseAddress`? I th

[2018-01-30 00:26] timothysc commented on #674
@sujeetkp - does this issue still exist for you?  Do you know your docker version?

[2018-01-30 00:27] timothysc commented on #674
cc : @chuckha

[2018-01-30 00:29] timothysc commented on #676
@kris-nova yes, https://github.com/kubernetes/kubernetes/pull/58080 moved some flags to top level when they should really be either phase-alpha or feature gates options.

[2018-01-30 00:31] timothysc commented on #673
Strong +1 here.

cc @chuckha

[2018-01-30 00:35] timothysc commented on #626
I'm going to close out this issue now, as it's past it's lifetime.

[2018-01-30 00:35] #626 closed

[2018-01-30 00:40] timothysc commented on #668
/cc @mattmoyer

[2018-01-30 00:43] timothysc commented on #597
This isn't related to the deployment of kubeadm, there are constant heartbeats and status updates in the system which are all persisted to disk.  Feel free to open an issue against the etcd repo if you have more comments.

[2018-01-30 00:43] #597 closed

[2018-01-30 00:45] timothysc commented on #669
cc: @chuckha

[2018-01-30 00:48] arunmk commented on #668
@dixudx on a machine where I don't have much access, the `jws-kubeconfig` does not get created. Here is what I do:
`kubectl token create --ttl=0
kubectl -n kube-public get configmap cluster-info -o json`

The second command yields only the `kubeconfig` child under the `data` field. The `kubeadm token list` does show the newly created tokens but the kube-public configmap does not have it.

[2018-01-30 00:51] timothysc commented on #653
cc @chuckha

[2018-01-30 07:17] dominicespiritu commented on #670
@dixudx thank you for your response, I manage to resolve the problem by adding --apiserver-advertise-address, the problem that popped out then is when I join a node, my minion is trying to connect with  master ip 10.96.0.1, which on my case the ip of my master is 192.168.32.10, so after some searching I found a solution at this [thread](https://stackoverflow.com/questions/41984399/denied-requested

[2018-01-30 07:24] dixudx commented on #670
@dominicespiritu So we can close this issue now ?

[2018-01-30 07:25] dominicespiritu commented on #670
@dixudx yes this is now resolved. Thank you

[2018-01-30 07:34] dixudx commented on #670
/close

[2018-01-30 07:34] #670 closed

[2018-01-30 09:21] kapilt commented on #261
@discordianfish fwiw the issue with #411, i think underlies the config map issue, and also causes the write out of the ip in the master config, which the kubcfn makefile uses sed on to restore back to cluster name. its basically that early on the dns name given is over written by the resolved ip, and that gets written out every where kubeadm touches.

[2018-01-30 09:24] kapilt commented on #411
fwiw, the mechanics underlying this issue also cause the master to write out its ip to on kubeadm init to config files on disk and to the configmap it initializes.

[2018-01-30 13:51] mbert commented on #546
It seems like setting hostname-override when setting up the cluster helps, i.e., makes the secondary masters upgradable. Once this has become a standardised procedure I will document it in the [HA setup guide in google docs](https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg/edit?ts=5a4aa6ba#).

[2018-01-30 15:44] timothysc commented on #612
I'm also surprised by this... are there repro instructions?

cc @chuckha

[2018-01-30 16:10] kad commented on #503
@anguslees so, let's rebase #54935 and get it in and mark as resolved ?

[2018-01-30 16:38] alexbrand commented on #673
I can work on this if it's still up for grabs.

[2018-01-30 16:40] timothysc commented on #673
go for it.. I will remove the label

[2018-01-30 16:48] jaxxstorm opened #678 "manifest files shouldn't be executable"
## Is this a request for help?

no

## What keywords did you search in kubeadm issues before filing this one?

manifest, permissions

## Is this a BUG REPORT or FEATURE REQUEST?

Feature Request

Currently, when kubeadm generates manifest files, the permissions on those files are 700 with owner root:root.

It makes very little sense to have the excute perms on there. The CIS for Kubernetes rules s

[2018-01-30 16:51] timothysc commented on #678
cc: @chuckha @detiber

[2018-01-30 17:11] JordanFaust opened #679 "Allow configuration of criSocket when using the MasterConfiguration manifest"
Currently, it is not possible to use the MasterConfiguration manifest file to configure a cluster and use a container runtime other than docker. The use of the --config flag disables the ability to use the --cri-socket flag to set the desired container runtime to something other than docker. The MasterConfiguration manifest should be updated to include a similar field to configure the cri socket.

[2018-01-30 17:52] sbezverk commented on #645
@luxas  I can look into it, since I have a bit of spare cycles, but i would like clarity on a solution. We can do "extended" check on upgrade, meaning when kubeadm upgrade is executed it checks all component for a matching version and upgrade those with mismatch, or a separate parameter of upgrade, something like "sync" which would go and do the same, sync all components to the one of API. Appreci

[2018-01-30 18:25] xmudrii commented on #612
@luxas @timothysc You can take a look at [the script](https://github.com/kris-nova/kubicorn/blob/master/bootstrap/amazon_k8s_ubuntu_16.04_master.sh) we're using for Kubicorn. We're installing the `kubeadm` version `1.8.4`, but still, we always end up with the latest version.

[2018-01-30 19:24] balasath opened #680 "no service with name default/default-http-backend found"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-01-30 19:30] balasath opened #681 "Error while initializing connection to kubernetes apiserver"
I tried to create haproxy ingress controller.  I got the following error when I tried to create controller pod:

 launch.go:318] Error while initializing connection to Kubernetes apiserver. This most likely means that the cluster is misconfigured (e.g., it has invalid apiserver certificates or service accounts configuration). Reason: Get https://10.96.0.1:443/version: dial tcp 10.96.0.1:443: getso

[2018-01-30 19:35] timothysc commented on #680
cc @chuckha @detiber

[2018-01-30 20:07] timothysc commented on #586
This is the canonical reference - https://kubernetes.io/docs/setup/independent/high-availability/

[2018-01-30 20:07] #586 closed

[2018-01-30 20:13] timothysc commented on #681
Could you provide more details, please?

What is your host OS?
Are you running on a Cloud Provider?
What CNI did you Choose?
Did you run the conformance tests post standup (https://scanner.heptio.com/)

...

Right now there is not enough detail for me to dig.

cc: @chuckha

[2018-01-30 20:18] lblackstone commented on #671
It looks like this condition is already partially handled in the volume mount code.

https://github.com/kubernetes/kubernetes/blob/v1.9.2/cmd/kubeadm/app/phases/controlplane/volumes.go#L41-L43

https://github.com/kubernetes/kubernetes/blob/v1.9.2/cmd/kubeadm/app/phases/controlplane/volumes.go#L92-L93

https://github.com/kubernetes/kubernetes/blob/v1.9.2/cmd/kubeadm/app/phases/controlplane/volumes.

[2018-01-30 20:29] balasath commented on #681
OS: Redhat
Are you running on a Cloud provider? No
CNI: Weave

[2018-01-30 20:32] balasath commented on #680
OS: Redhat
Not running on cloud
Kubectl version: 1.8.7

[2018-01-30 20:42] timothysc commented on #574
We don't do anything special with https://github.com/heptiolabs/wardroom -> https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/  .

I'd have to rejig and compare.
cc: @chuckha @detiber

[2018-01-30 20:47] timothysc commented on #128
Where are we at with this now..?
/cc @MrHohn

[2018-01-30 20:52] bowei commented on #128
There is a PR out, but the author has to update with the feedback in the comments.

[2018-01-30 21:00] timothysc commented on #128
@bowei link?

[2018-01-30 21:01] timothysc commented on #279
/lifecycle frozen

[2018-01-30 21:05] bowei commented on #128
https://github.com/kubernetes/kubernetes/pull/57683

[2018-01-30 21:06] timothysc commented on #279
/cc @detiber

[2018-01-30 22:34] jaxxstorm commented on #678
@timothysc @chuckbutler @detiber I've submitted a PR for this

[2018-01-30 22:45] jaxxstorm opened #683 "CIS Compliance for kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST:

I'd like to start working on some of the default configuration that kubeadm generates for the manifest files. Currently, the defaults aren't especially secure.

The CIS benchmarks for kubernetes are publicly available, and a lot of the issues with a kubeadm generated cluster can be fixed by updating the default configurations here: htt

[2018-01-31 00:41] timothysc commented on #272
/cc @errordeveloper - re: weave issue.

[2018-01-31 00:45] timothysc commented on #277
Given all the history here and recent feedback, we need to go with the non-operator option.

[2018-01-31 01:28] binarybana commented on #668
I just encountered this problem and a `kubeadm token create <existing token>` _DID_ seem to populate the `jws-kubeconfig-<string>` field of the `cloud-info` ConfigMap for me.

This was using kubeadm 1.9.2 from the master, using an existing token as an argument. Interestingly `kubeadm token list` was empty prior to running the token creation.

[2018-01-31 02:10] timothysc commented on #273
So what is the consensus?

[2018-01-31 02:16] timothysc commented on #435
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-version/ appears up to date.  Closing.

[2018-01-31 02:16] #435 closed

[2018-01-31 02:21] timothysc commented on #380
/cc @mattmoyer @chuckha

[2018-01-31 02:25] timothysc commented on #388
/cc @alexbrand @chuckha @craigtracey

[2018-01-31 02:45] timothysc commented on #407
I'm going to close this one b/c there a bunch of other similar issues that exist touching on logging level and terminology.

[2018-01-31 02:45] #407 closed

[2018-01-31 02:45] roadrunner commented on #574
same here with kube version 1.8.7
is there anything to do for quick-fixing?

[2018-01-31 02:48] timothysc commented on #411
/cc @craigtracey @chuckha

[2018-01-31 06:58] PhoenixAD opened #684 "Kubeadm init blocks at "This might take a minute or longer if the control plane images have to be pulled"
## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):v1.9.2
- **Cloud provider or hardware configuration**:Virtual Box
- **OS** (e.g. from /etc/os-release):Ubuntu 16.04.0 LTS (Xeniak Xerus) amd64
- **Kernel** (e.g. `uname -a`):linux 4.4.0-62-generic
- **Others**:kubeadm version :v1.9.2:  amd64,  kubelet version :v1.9.2 amd64,

[2018-01-31 07:01] dominicespiritu opened #685 "kubectl 1.9.2 pod status always pending on single cluster setup"
## What happened?
My test pod is always on pending status
below is the pod description

Name:         boot1-pod
Namespace:    default
Node:         <none>
Labels:       version=v1
              zone=prod
Annotations:  <none>
Status:       Pending
IP:
Containers:
  boot1-ctr:
    Image:        dominicespiritu/boot1
    Port:         8080/TCP
    Environment:  <none>
    Mounts:
      /var/run/secre

[2018-01-31 07:26] errordeveloper commented on #272
It sounds like this is configuration issue as some folks mention having to override CIDRs, but I am not quite sure whether that is what @erikbgithub had to do or not.
Also,  I would like to know whether each person commenting here was using VMWare on a Windows host or, that fact is unrelated.

[2018-01-31 08:05] #678 closed

[2018-01-31 08:18] fabriziopandini commented on #676
@kris-nova I'm working to an idea for getting rid of all the scaffholding code for handling command line flags that exists both in `kubeadm\app\cmd` and in `kubeadm\app\cmd\phases`.

ping me on slack if you think that this can be of interest for this issue 😉

[2018-01-31 11:31] PhoenixAD commented on #684
These docker images listed above were pulled from my private repository before running "kubeadm init --kubernetes-version v1.9.2"   , I can not directly access gcr.io/google-containers due to GFW.

[2018-01-31 14:17] alexbrand opened #686 "Add details how to contribute to kubeadm in the docs"
I attempted to run the tests under `k8s.io/kubernetes/cmd/kubeadm/test` by running:

[code]

However, this failed because I hadn't set an environment variable that is expected in one of the tests. After setting the env var, the tests passed. It also seems like one can run `./hack/make-rules/test-kubeadm-cmd.sh` to achieve the same thing.

I couldn't find this documented, so it would be nice for ne

[2018-01-31 14:57] timothysc commented on #686
I believe there is a development doc on this repo that can be updated.

[2018-01-31 15:08] linuxmail opened #687 "kubeadm 1.9.2 doesn't work over proxy"
## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T09:42:01Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}

- **Cloud provider or hardwar

[2018-01-31 15:16] stevesloka commented on #411
I'd like to take this on, will post back updates as I progress through.

[2018-01-31 15:22] timothysc commented on #411
@stevesloka - just poke me on review and I can help guide it through.

[2018-01-31 15:26] kad commented on #685
what reports `kubectl get nodes` ? e.g. do you have your node in NotReady state due to missing network provider ?
Another reason might be: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#master-isolation

[2018-01-31 15:35] jpweber commented on #596
I took at look at this and it appears it has been fixed by PR  #57235. I think this can probably be closed.

[2018-01-31 15:35] #596 closed

[2018-01-31 16:36] kad commented on #687
Are you running kubeadm as `sudo kubeadm ....` ? If so, verify your sudoers settings for options about resetting environment variables. In many distros proxy settings will be not kept via sudo.

[2018-01-31 17:24] klausenbusk commented on #671
PR opened: https://github.com/kubernetes/kubernetes/pull/59122

[2018-01-31 17:33] stevesloka commented on #411
@timothysc Is the best place to get the dns name from `--apiserver-cert-extra-sans`? What should happen if multiple sans are specified? Use the first?

[2018-01-31 18:00] jaxxstorm commented on #411
@stevesloka As someone who uses this heavily, I think it should be a configurable parameter. This means you can use things like ELB addresses.

Currently the advertise address is used I believe, maybe a flag like `--apiserver-dns-name` which automatically gets added to the extra-sans?

[2018-01-31 18:32] stevesloka commented on #411
@jaxxstorm that sounds good to me, I like the idea of a new flag.

[2018-01-31 20:14] linuxmail commented on #687
hi,

no, executed directly with root permissions.

[2018-01-31 20:38] stevesloka commented on #411
@jaxxstorm would it make sense to just use `--apiserver-advertise-address`? This way we don't need a new flag.

[2018-01-31 22:35] kad commented on #687
Then please verify that your session really has environment variables set. e.g. `env | grep -i _proxy`.
We are using kubeadm on a daily basis in the enterprise network behind proxies. I don't see ways why kubeadm will be not using proxy unless environment is not set properly.

[2018-01-31 23:11] jaxxstorm commented on #411
@stevesloka doesn't that get used as the listen address for the apiserver manifest? Would a hostname be acceptable there?

[2018-02-01 06:11] DanielZhangQD commented on #492
@camflan @f0
Hi camflan, f0
Could you please help update which pull request fixed this issue exactly?
I did not find it in the changelog-since-v180 nor in the git logs of v1.8.1.

Thanks,
Daniel

[2018-02-01 08:19] dixudx commented on #668
@arunmk Works well on my env.

[code]

[2018-02-01 15:43] stevesloka commented on #411
yup you are correct @jaxxstorm I got ahead of myself and forgot API server requires an IP address.

[2018-02-01 17:57] vhosakot opened #688 ""kubeadm reset" hangs forever intermittently"
**BUG REPORT:**

I see `kubeadm` version `1.7` hangs forever sometimes at

`[reset] Removing kubernetes-managed containers`

I am able to reproduce this issue 4 out of 5 times, and had to press `CTRL+C` to exit.

[code]

Restarting docker by doing `sudo systemctl restart docker.service` resolves this issue and `sudo kubeadm reset` works fine without issues.

It will be nice if `kubeadm reset` chec

[2018-02-01 21:51] mt-inside commented on #273
@timothysc Sorry, it's not spelt out. A combination of what @antoineco says here and @thockin says on https://github.com/kubernetes/kubernetes/issues/45828
Kubelet needs the argument `--resolv-conf=/run/systemd/resolve/resolv.conf`
My kubeadm wrapper script adds that to `KUBELET_DNS_ARGS` in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

However (deferring to the kubeadm authors here):
*

[2018-02-01 23:14] vhosakot opened #689 "Stale iptables rules seen after "kubeadm reset""
**BUG REPORT:**

After doing `kubeadm reset` on all the nodes, I see these stale iptables rules installed by kubernetes and the CNI on all the nodes and they are not deleted after `kubeadm reset` is done. `kubeadm` version `1.7` was used and `calico` was the CNI.

These stale iptables rules affect packet forwarding on the nodes after `kubeadm reset` is done.

[code]

[code]

**kubeadm version**:
[

[2018-02-02 00:56] brentpearson commented on #613
Why is nothing mentioned about this in https://kubernetes.io/docs/setup/independent/install-kubeadm??

Should include something along the lines of what I had to do:
Install this go thing so you can build this other thing that kubeadm needs:

Update it because nothing ever works without requiring more googling, so of course the version installed is too old:

Replace "$releasever" with "7" and "$bas

[2018-02-02 05:39] dominicespiritu commented on #685
Hi Kad,

Thank you for your reply, I just created a new and different setup approach on my local using centos7 and now its working.

Cheers,
Dominic

[2018-02-02 06:32] MagicJohnJang commented on #228
I got the same issue as @rushabh268 which is `connection refused` and not `localhost:6443/api`.
Finally I solved it by remark the domain searching `search xxx.xx.xxxx.org` .

[code]

[2018-02-02 11:30] linuxmail commented on #687
hi,

[code]
I had the same problem on the worker-nodes too. So I assume, that one or more processes drops the env, or does not use them.

[2018-02-02 15:35] andybrucenet commented on #546
Hi @mbert and others - From the past year or so, I have several k8s clusters (kubeadm and otherwise) driven from Cobbler / Puppet on CoreOS and CentOS. However, none of these has been HA.

My next task is to integrate K8s HA and I want to use kubeadm. I'm unsure whether to go with the @mbert's [HA setup guide](https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg/edit?ts=

[2018-02-02 15:50] jamiehannaford commented on #546
@andybrucenet External etcd is recommended for HA setups. CoreOS has recently dropped support for any kind of self-hosted. It should only really be used for dev, staging or casual clusters.

[2018-02-02 17:11] kad commented on #687
The network calls in kubeadm are not spawning any subprocesses, thus should be utilising those proxies. Control plane components also getting proxy settings propagated.
The only component that I can imagine during setup, (and actually the only one which should connect to gcr.io IP) is docker daemon. It does not use /etc/profile and require configuration for proxies in systemd drop-in file.

Can yo

[2018-02-02 17:37] mbert commented on #546
@andybrucenet  Not quite - I am using an external etcd cluster just like @jamiehannaford proposes in his guide. Actually the approaches described in our respective documents should be fairly similar. It is based on setting up the etcd cluster you feel you need and then have kubeadm use it when bootstrapping the Kubernetes cluster.

I am currently more or less about to finish my guide and the ansib

[2018-02-02 17:46] #657 closed

[2018-02-04 05:09] wsargent commented on #253
I'm having this same problem on a Pi Zero

[code]

[2018-02-04 13:40] kwaazaar commented on #193
Which pod network is preferred/works out of the box? I'm running into these same issues, but I have no clue how to fix them. I picked kube-router btw, but running into these same issues.

[2018-02-04 18:15] kargakis commented on #680
How did you create the ingress controller? Can you share its config?

[2018-02-04 21:35] kad commented on #685
/close

[2018-02-04 21:35] #685 closed

[2018-02-05 15:51] mbert commented on #546
Actually the hostname-override was unnecessary. When running `kubeadm upgrade apply`, some default settings overwrite my adaptations, e.g. `NodeRestriction` gets re-activated (also my scaling of _Kube DNS_ instances gets reset, but this was of course not a show stopper here). Patching the `NodeRestriction` admission rule out of _/etc/kubernetes/manifests/kube-apiserver.yaml_ did the trick.

[2018-02-05 16:02] mbert commented on #546
I have now written a chapter on upgrading HA clusters to my [HA setup guide](https://docs.google.com/document/d/1rEMFuHo3rBJfFapKBInjCqm2d7xGkXzh0FpFO0cRuqg/edit?ts=5a4aa6ba#).

Also I have added code for automating this process to [my ansible project on github](https://github.com/mbert/kubeadm2ha). Take a look into the [README.md](https://github.com/mbert/kubeadm2ha/blob/master/README.md) file th

[2018-02-05 21:23] mlushpenko commented on #335
@luxas same here. In case you are using kubespray, do the following to check if problem is exactly that:

On master node run this command

`kubeadm token create` and copy generate token

On worker node, edit `/etc/kubernetes/kubeadm-client.conf` and put your new token into token field.

Then, run: `kubeadm join --config /etc/kubernetes/kubeadm-client.conf --ignore-preflight-errors=all` and it shal

[2018-02-06 12:08] SGrengel opened #691 "Unable to get Kubernetes-HA-Cluster up and running when following the docu on Kubernets.io"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

**YES ... allready been going through those files a lot.**

## What keywords did you search in kubeadm issues before filing this one?

Bearer-Tocken, Master NotReady, core.Service: Unauthorized, core.Endpoints: Unauthorized, CNI missing,

[2018-02-06 14:34] Ananasr commented on #684
Same problem here!

[2018-02-06 16:21] dkirrane commented on #639
I hit this same issue with kubeadm `v1.9.2` but I can see kubelet is configured to use systemd cgroup driver.

**kubelet is using --cgroup-driver=systemd**
[code]

**docker info | grep -i cgroup**
[code]

**kubelet logs**
[code]

**Version Info:**

[code]

[code]

[code]

[2018-02-06 18:00] kris-nova commented on #676
So this is pending a discussion next week in sig cluster lifecycle regarding flags in general. I will add to the agenda.

[2018-02-06 19:18] eltonplima opened #692 "kubeadm init - returns 403 forbidden"
**kubeadm version**:
kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T09:42:01Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9

[2018-02-06 19:22] joshuacox commented on #692
I imagine someone at google moved something around without realizing this would happen

[2018-02-06 19:44] eltonplima commented on #692
Works again!

[2018-02-06 19:44] #692 closed

[2018-02-07 05:51] shashidharatd commented on #256
I stumbled upon this issue while analyzing the failures in CI. https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce
one of the reason why we see the error as described in this issue is because the startup-script has failed.
Here is log from one such failure.
[code]
It clearly shows there is some problem in installing `kubernetes-cni.deb`. Is anyone working on fixing this issue?

[2018-02-07 06:42] #336 closed

[2018-02-07 07:13] onorua commented on #487
@luxas we have an issue here, according to conversation at my PR #57607 people are not convinced that there is a reasonable to expose api server as localhos, and suggest to make changes anywhere else (meaning kubeadm).
So, what do you propose here? As my previous PRs were rejected due to logical reasoning, I believe we should come to consensus before implementing it. Do you actually want support f

[2018-02-07 10:35] #621 closed

[2018-02-07 13:09] kad commented on #666
@andrewshilliday Any update on the question above ? or should we just close the issue ?

/assign

[2018-02-07 16:59] 6l20 commented on #684
I have same issue on CentOS 7

[2018-02-08 00:52] liuzhi1986 opened #693 "Configure the CIDR 10.244.0.0/16 using configfile,but the log shows that the initialization address is 10.244.0.0/24."
I use a configfile to init the master .
`networking:
  podSubnet: 10.244.0.0/16
`
But the log shows
[code]
Why didn't podSubnet work?

[2018-02-08 02:20] dixudx commented on #639
@dkirrane Have you reloaded the `kubelet.service` unit file?

Run `systemctl daemon-reload`. And then `sytemctl restart kubelet`.

[2018-02-08 02:52] andrewshilliday commented on #666
There was an initial warning about an ip address pointing to a proxy, which I fixed by adding it to the no_proxy variable.  Then it went through without warnings and I started getting the error accessing the dashboard (as detailed above).  Now that I understand kubeadm a bit more, I believe that what it wanted during that first check was to ensure that _all_ assignable ip addresses are omitted via

[2018-02-08 03:30] dixudx commented on #666
It is okay to set cidr for no_proxy in Kubernetes.

https://github.com/kubernetes/kubernetes/blob/f31ac9e0b6e70516648970699fe04f929a7a320e/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L86-L88

Kubernetes does involve a way to handle this circumstance.

@andrewshilliday I think this issue can be closed now.

[2018-02-08 07:45] fluidjeel commented on #684
+1

[2018-02-08 09:54] maojiawei commented on #257
I use KUBE_REPO_PREFIX and change my kubelet service.But it still doesn't work.
![image](https://user-images.githubusercontent.com/5907733/35966446-ca109dc0-0cf8-11e8-90cb-669db1ec1e26.png)
![image](https://user-images.githubusercontent.com/5907733/35966540-06a2969e-0cf9-11e8-92c3-09957d42cc31.png)

[2018-02-08 09:57] maojiawei opened #694 "KUBE_REPO_PREFIX unwork"
I use KUBE_REPO_PREFIX and change my kubelet service.But it still doesn't work.
![image](https://user-images.githubusercontent.com/5907733/35966685-8315c174-0cf9-11e8-978b-6f8a98005d2c.png)
![image](https://user-images.githubusercontent.com/5907733/35966691-87eb1546-0cf9-11e8-9901-d6980347502e.png)

[2018-02-08 13:03] alexpekurovsky commented on #484
Who has duplicated --cloud-config in apiserver - check if you have file "/etc/kubernetes/cloud-config" on Host OS. If you do - delete it. It's kind of discovery in kubeadm (or wherever it is) - if you do have this file - you will get automatically "--cloud-config=/etc/kubernetes/cloud-config"

[2018-02-08 17:14] cfregly commented on #26
Check out https://stackoverflow.com/a/48691158/656810

[2018-02-08 19:46] bart0sh commented on #653
I worked on this issue and here is what I've learned:

With static kubelet configuration the only way to force node name is to use --hostname-override command line option for kubelet. It works with everything that looks like a valid fqdn or hostname. The name doesn't have to be resolvable to be set as a node name. I didn't manage to reproduce the issue though. kubernetes.io/hostname label in my ex

[2018-02-09 00:37] YDD9 commented on #322
I'm trying to run `kubeadm init --config=config.yaml` but have error during parsing.

unable to decode config from "config.yaml" [v1alpha1.MasterConfiguration: APIServerExtraArgs: ReadMapCB: expect { or n, parsing 102 ...traArgs":"... at {"api":{"advertiseAddress":"192.168.0.43"},"apiServerCertSANs":["192.168.0.53"],"apiServerExtraArgs":"endpoint-reconciler-type=lease","apiVersion":"kubeadm.k8s.io

[2018-02-09 00:37] kapilt commented on #694
it switched from being an environment variable to being a config file setting between 1.7 and 1.8

[2018-02-09 01:11] newhomie commented on #684
+1

[2018-02-09 03:07] maojiawei commented on #694
I use kubeadm to build kubernetes 1.8 .Which config file I need to modify?

[2018-02-09 03:16] sagarfale commented on #578
i have no idea, what's happening at k8s level. Whenever i launch conatiners, it goes into paused state.

[root@k8s-master cni]#  kubectl get po --all-namespaces -o wide
NAMESPACE     NAME                                 READY     STATUS              RESTARTS   AGE       IP             NODE
default       example-85479998c5-btpgf             0/1       ContainerCreating   0          34m       <none>

[2018-02-09 04:33] sagarfale commented on #578
![1](https://user-images.githubusercontent.com/25244008/36011909-81a1327e-0d80-11e8-9fa5-fba380e51765.PNG)

[2018-02-09 04:35] sagarfale commented on #578
![1](https://user-images.githubusercontent.com/25244008/36011934-af219e6e-0d80-11e8-8fc9-5eb13e7ed57d.PNG)

[2018-02-09 08:59] anjia0532 commented on #257
ping @maojiawei , from k8s source [v1.5.x\kubeadm/env.go](https://github.com/kubernetes/kubernetes/blob/release-1.5/cmd/kubeadm/app/apis/kubeadm/env.go),[v1.6.x\kubeadm/env.go](https://github.com/kubernetes/kubernetes/blob/release-1.6/cmd/kubeadm/app/apis/kubeadm/env.go),[v1.7.x\kubeadm/env.go](https://github.com/kubernetes/kubernetes/blob/release-1.7/cmd/kubeadm/app/apis/kubeadm/env.go) ,u can us

[2018-02-09 09:24] kwaazaar commented on #507
I got this error when Docker no longer worked after installing ubuntu 16.04 upgrades. Upgrading Docker to the latest version (17.12-ce in my case), everything immediately worked fine again. So this errors seems to be caused by Docker errors mostly.

[2018-02-09 10:07] SpComb opened #695 "kubeadm init --service-cidr= validations are broken for IPv6 subnets"
## Versions
`kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.2", GitCommit:"5fa2db2bd46ac79e5e00a4e6ed24191080aa463b", GitTreeState:"clean", BuildDate:"2018-01-18T09:42:01Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}`

`kubectl version`
[code]

## What happened?

The `kubeadm init` validations incorrectly reject a `--service-cidr=.../64` subnet as being too

[2018-02-09 11:09] recolic commented on #578
+1
![snapshot](https://recolic.net/tmp/snap-0209-190757.png)

[2018-02-09 12:31] tmilleville commented on #684
+1

[2018-02-09 16:34] WindGreen commented on #684
+1
servers on vultr, stuck here too.

[2018-02-09 16:34] mattkelly commented on #546
@mbert for the upgrade process you've outlined, what are the exact reasons for manually copying the configs and manifests from `/etc/kubernetes` on the primary master to the secondary masters rather than simply running `kubeadm upgrade apply <version>` on the secondary masters as well?

[2018-02-09 16:39] mbert commented on #546
@mattkelly It seemed rather dangerous to me.
Since the HA cluster's masters use an active/passive setup, but kubeadm knows about only one master I found running it again on a different master risky.
I may be wrong though.

[2018-02-09 19:03] jamalsia commented on #687
i got the same issue.
ive updated the /etc/sysconfig/docker
to add the proxy
and docker info now shows :

[code]

[2018-02-09 19:51] kad commented on #687
@jamalsia so, which error you're getting now ?

[2018-02-09 21:39] grantcurell commented on #684
+1

[2018-02-10 14:59] jamiehannaford commented on #583
Not sure this is relevant anymore because the HA guide now uses private IPv4s rather than the LB IPv4 for the advertise address :)

[2018-02-10 14:59] #583 closed

[2018-02-10 17:36] steindaniel commented on #684
+1

[2018-02-11 01:04] HcgRandon commented on #578
happening here too:
![image](https://user-images.githubusercontent.com/6123135/36068202-a5934f1e-0e9d-11e8-8b9e-d26e57af59f3.png)

[2018-02-11 02:00] HcgRandon opened #697 "KubeDNS should run as a daemonset"
## What keywords did you search in kubeadm issues before filing this one?
dns, kubedns, daemonset

## Is this a BUG REPORT or FEATURE REQUEST?
Choose one: FEATURE REQUEST

Due to kube-dns running on only the master node in a `kubeadm init` cluster this creates a single point of failure for applications that heavily rely on dns, a simple reboot of the master node is enough to break such an applicat

[2018-02-11 03:27] sagarfale commented on #578
The issue is happening due to bug in weave network. I resolved this issue
with below command.

kubectl apply -f
"https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version |
base64 | tr -d '\n')"

Reference :
https://www.weave.works/docs/net/latest/kubernetes/kube-addon/

This has resolved at my side.  So reinstall the kubernetes and try above
one.

On Sun, Feb 11, 2018 at 6:34 AM, HcgRandon

[2018-02-11 03:28] sagarfale commented on #578
The issue is happening due to bug in weave network. I resolved this issue with below command.
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
Reference :
https://www.weave.works/docs/net/latest/kubernetes/kube-addon/

This has resolved at my side.  So reinstall the kubernetes and try above one.

[2018-02-12 09:22] jamalsia commented on #687
[code]

but ping is working , which makes me believe that it is not related to the hosts no_proxy configuration. I am running a HyperV Virtual Machine behind a proxy :

[code]

there are  5 nics . eth0 is the main one. the others are the virtual machines network cards.

[code]

[2018-02-12 09:26] cuiyujie commented on #684
+1

[2018-02-12 10:11] recolic commented on #578
@sagarfale
I noticed this command is to install weave. (at https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/)
But reinstalling weave doesn't help...

[2018-02-12 10:27] linuxmail commented on #687
@kad

[code]

As a hint: I remove the proxy vars and added the hosts to a whitelist to go forward. But if I remember right, there was some lines about proxy under /etc/kubernetes/ ....

cu denny

[2018-02-12 12:27] dkirrane commented on #484
What's the correct way to do this for Kubeadm 1.8.7.
Is the solution to use `/etc/kubernetes/cloud-config/vsphere.conf` or still use the workaround `/etc/kubernetes/pki/vsphere.conf`. What about the other flag `--cloud-provider=vsphere`?

[2018-02-12 13:09] CFAndy commented on #684
+1

[2018-02-12 13:15] tmilleville commented on #684
As workaround

1/ create  a docker registry on your kubernetes master

2/ declare  your kubernetes master as gcr.io  in /etc/hosts

3/  On machine with internet access,  log on ggogle cloud  and download image
exemple:
gloud docker -- pull  gcrio/goole_container/pause-amd64:3.0
gloud docker -- save -o /tmp/pause-amd.tar gcrio/goole_container/pause-amd64:3.0

4/  Upload images to a docker repo  reg

[2018-02-12 14:37] mthkunze commented on #253
Is it possible to discuses a reintegration of armv6l Support. I found many Posts showing the interest for using Kubernetes on Pi Zero and other armv6l Pi Devices. P Zero is good for hosting Micro Services in Kubernetes or Swarm Cluster Environments. Docker Swarm works well for me. So it would be nice if anyone could recycle the discussion. Pi clusterhat is properly a nice demo infrastructure.

[2018-02-12 16:22] mbert opened #698 "Allow passing a version to kubeadm upgrade plan"
## What keywords did you search in kubeadm issues before filing this one?

upgrade

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

When running `kubeadm upgrade plan`, kubeadm will try to obtain the latest stable release via http. On systems without connection to the internet this will fail. While kubeadm deals with this nicely by selecting its own version, it takes some unnessary w

[2018-02-12 16:59] discordianfish opened #699 "Support specifying kube-proxy tolerations"
## FEATURE REQUEST

kubeadm deploys kube-proxy with these tolerations:
[code]

This allows kube-proxy to run on masters but not any other tainted hosts. In my case, I want to taint a group of hosts to reserve them for special workloads. But they still need to run kube-proxy. I could just edit the daemonset directly but would prefer a declarative way (e.g kubeadm config) and I'm worried that kubead

[2018-02-12 17:35] #623 closed

[2018-02-12 17:40] mbert commented on #546
I have now followed the [guide on kubernetes.io](https://kubernetes.io/docs/setup/independent/high-availability/) that @jamiehannaford  created, i.e. ran `kubeadm init` on the all master machines (after having copied /etc/kubernetes/pki/ca.* to the secondary masters). This works just fine for setting up the cluster. In order to be able to upgrade to v1.9.2 I am setting up v1.8.3 here.

Now I am ru

[2018-02-12 19:01] luxas commented on #698
Sounds good to me. PRs welcome :wink:

[2018-02-12 19:31] mattkelly commented on #340
@vbmade2000 I see #57661 was opened for this a while ago but there's been no activity for almost a month. Any update on the status / do you need some help on the implementation side? This feature would be super helpful so I'm interested in helping get it done if needed :).

[2018-02-12 21:11] mbert commented on #546
Having tried out another few things it boils down to the following:

- Updating the master which was setup last (i.e. the one on which `kubeadm init` was run last when setting up the cluster) works.
- I can get the other nodes working, too, if I edit `configmap/kubeadm-config` and change the value for `MasterConfiguration.nodeName` in there to the respective master's host name.

Others like @mattk

[2018-02-13 02:50] vbmade2000 commented on #340
@mattkelly I am sorry for delay. I have been out of bandwidth since days so couldn't work much on it. I have finished much of the work so I'll look into it and create PR asap. Thanks for reminding :)

[2018-02-13 11:53] bart0sh commented on #574
I couldn't reproduce this with kubelet and kubeadm 1.8.4. The reasons seems to be caused by the difference in kubelet command line options in my and your setups. My wild guess is that you don't use --bootstrap-kubeconfig option and kubelet fails to get certificates from /etc/kubernetes/bootstrap-kubelet.conf

Below is my kubelet systemd config. Note that I've added --require-kubeconfig=true there

[2018-02-13 16:38] mattkelly commented on #546
@mbert I'm now reproducing your issue from a fresh v1.9.0 cluster created using [hakube-installer](https://github.com/elastisys/hakube-installer). Trying to upgrade to v1.9.3. I can't think of anything that has changed with my workflow. I'll try to figure it out today.

[2018-02-13 16:57] mbert commented on #546
Thank you, that's very helpful. I have now added patching `configmap/kubeadm-config` to my instructions.

[2018-02-13 17:10] kad commented on #666
There are reasons why control plane services might need to access external hosts and those hosts can be only accessible over proxy. e.g. https://github.com/kubernetes/kubeadm/issues/5
kubeadm warns about scenarios that are potentially can lead to incorrectly working cluster, but not preventing sysadmin to put that into that state.

With support of CIDR notation in NO_PROXY, it is easy to control w

[2018-02-13 17:10] #666 closed

[2018-02-13 18:57] errordeveloper commented on #193
Robert, I don't know how mature kube-router is, have you tried Weave Net?

On Sun, 4 Feb 2018, 1:40 pm Robert te Kaat, <notifications@github.com>
wrote:

[2018-02-13 23:18] matthewfischer opened #700 "--ignore-preflight-errors doesn't seem to work"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.9.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.9.3
- **Cloud provider or hardware configuration**: hosted on AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.4
- **Kernel** (e.g. `uname -a`): 4.4.0-1049-aws #58-Ubuntu SMP
- **Others**:

## What happe

[2018-02-13 23:27] matthewfischer commented on #700
It looks like my ca-cert-hash got messed up after being pasted - adding it correctly and the ignore seems to work.

[2018-02-13 23:27] #700 closed

[2018-02-14 06:08] roberthbailey commented on #680
Where are you running curl from? The error message is that you aren't passing client credentials, so the Kubernetes apiserver is rejecting your request because it can't authenticate you; not because the service doesn't exist.

Based on the first set of logs, it appears that even if you launched the default-http-backend pod you haven't created the service to point to it. What's interesting is that

[2018-02-14 07:59] nicksardo commented on #680
User commented that they're not running on a cloud, so they won't see a default backend - that addon is shipped for GCE/GKE clusters.

The ingress-nginx docs show how to deploy it: https://github.com/kubernetes/ingress-nginx/tree/master/deploy

[2018-02-14 08:34] roberthbailey commented on #680
In the first comment it says

which I took to mean that it had been manually added.

[2018-02-14 16:02] webwurst commented on #697
Maybe see https://github.com/kubernetes/kubernetes/pull/57683 and https://github.com/kubernetes/kubernetes/pull/59357 for some earlier discussion around this problem.

[2018-02-14 16:03] bart0sh commented on #668
Can you show controller-manager log from your master? It looks like cluster-info configmap was not updated for some reason. I hope there will be errors in the controller manager log that would help to investigate why that happened.