[2019-03-19 09:55] rosti commented on #1439
@fabriziopandini we can make this more generic. We can probably add `skipPhases []string` to `InitConfiguration` and `JoinConfiguration`.
Seems like a nice generic solution to what you are describing here.

[2019-03-19 11:24] oz123 commented on #1295
Until this gets resolved, I have created this https://github.com/oz123/systemctl-shim/ to translate systemctl commands to openrc.

[2019-03-19 11:38] neolit123 commented on #1295
we are currently in code freeze for 1.14, but the https://github.com/kubernetes/kubernetes/pull/73101 PR seems like a clean merge to me. it's blocked on `pkg/util/initsystem/` OWNERS.

[2019-03-19 11:45] fabriziopandini commented on #1439
@rosti skipping phase from config can be an idea but I'm not sure it is the right solution for the problem above.
I think that "with/without kube-proxy" should be treated as a supported cluster variant, like CoreDNS/KubeDNS or internal/external etcd. That implies that the list of action should automatically adapt to this variant (instead of relying on the user picking up the right steps)

[2019-03-19 11:49] fabriziopandini commented on #1447
@dungdm93 I fear that there is no easy answer to your question...
Changing the SANs can be "easily" achieved, but changing the control-plane address complex. Here you can find some community provided solutions https://github.com/kubernetes/kubeadm/issues/338

[2019-03-19 12:59] fabriziopandini commented on #1439
a request we have time to time: Improve support for Kubernetes on ARM (timeouts)

[2019-03-19 20:48] displague opened #1454 "print-join-command should be machine readable"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14.0-rc.1 f5ee25e22987e51192b32b0c727458809e1a767c

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.14.0-rc.1
- **Cloud provider or hardware configuration**: https://github.com/displague/terraform-linode-k8s/blob/feature/k8s-1.14/modules/masters/scripts/local/kubeadm-token.sh#L13
- **OS** (e.g. from /et

[2019-03-19 21:57] fabriziopandini commented on #1454
The PR above is fixing the main issues that is to get the output on one line again.

About the new flags proposed I'm not sure we should overcomplicate this.
My opinion is to keep the command printing the basic kubeadm join command on a single line, and the let the user simply add (concatenate) other flags if necessary

[2019-03-19 23:10] #1454 closed

[2019-03-20 03:15] #1177 closed

[2019-03-20 03:36] mengxifl commented on #998
I have same problem , and another problem
1、 [ERROR] plugin/errors: 2 2115717704248378980.1120568170924441806. HINFO: unreachable backend: read udp 10.224.0.3:57088->8.8.8.8:53: i/o timeout
........
mean i can not found dns .
my /etc/resolv.com
noly have
nameserver 172.16.254.1 #this is my dns

[2019-03-20 04:11] dungdm93 commented on #1447
@fabriziopandini actually,  `controlPlaneEndpoint` in my cluster already is `10.148.0.2:6443`. So there is no change control-plane address at all. I just wanna add extra SANs to my apiServer certificates.

[2019-03-20 08:11] neolit123 commented on #1439
there is a workaround by using phases and patching the api-server manifest, but also the idea to make liveness probes configurable was not accepted by Robert and Tim, when we first started seeing the problem happening. ARM is OK in general, but the problem only happens on Raspberry PI. unless someone debugs the actual problems there i don't think we should take action.

[2019-03-20 11:31] neolit123 commented on #1440
we have too many "test tickets".
this is already tracked with these two items here https://github.com/kubernetes/kubeadm/issues/1373

[2019-03-20 11:31] #1440 closed

[2019-03-20 13:28] chrisohaver commented on #998
@mengxifl, Those errors are significantly different than the ones reported and discussed in this issue.

Those errors mean that the CoreDNS pod (and probably all other pods) cannot reach your nameservers.  This suggests a networking problem in your cluster to the outside world.  Possibly flannel misconfiguration or firewalls.

This is also not normal.  If I understand you correctly, you are saying

[2019-03-20 15:22] hreidar commented on #1438
Hi, @CodeAholic, @fabriziopandini, I had to redo my test cluster as my setup was fubar when I got to work on Tuesday. This time around I got things to work it seems.

[code]

The only thing I did differently this time is I ran kubeadm commands using sudo instead of root. Is this something that is known to screw things up or .... ?

If so it should probably be documented somewhere.
Thanks for your

[2019-03-20 15:22] #1438 closed

[2019-03-20 17:08] frittentheke opened #1455 "Allow adding extraVolumes in ClusterConfiguration for local etcd manifests"
## What keywords did you search in kubeadm issues before filing this one?
etcd, localEtcd, extraVolumes

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c22

[2019-03-20 19:34] neolit123 commented on #1455
this seems like the first time someone requests this @frittentheke
we should probably discuss it at some point, thus i've added it to the Next milestone.

thanks

cc @kubernetes/sig-cluster-lifecycle

[2019-03-20 19:34] neolit123 commented on #1439
local etcd volumes were just requested here:
https://github.com/kubernetes/kubeadm/issues/1455

[2019-03-20 20:55] carlpett opened #1456 "Init help suggests there are feature gates but lists none"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: `kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c229191a087698aa92f0b1", GitTreeState:"clean", BuildDate:"2019-02-28T13:35:32Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}`

## What happened?
`kubeadm init --help` has this section:
[c

[2019-03-20 22:49] neolit123 commented on #1456
i don't think it's a big problem to have the flag, but possibly add a note it's description that currently no feature gates are supported.  i don't think we want to remove it, because at some point we might want to add gates, even though this is not one of my preferred feature/toggle mechanics.

@kubernetes/sig-cluster-lifecycle

[2019-03-21 05:00] marccarre opened #1460 "Add way to specify kubeadm's --ignore-preflight-errors in InitConfiguration and JoinConfiguration"
**What would you like to be added**:

A single way to configure all of `kubeadm`'s behaviour.
In particular, given `ignorePreflightErrors` and `externalcfg` are currently disjoint:

- https://github.com/kubernetes/kubernetes/blob/a887ae8344adf9739c1d156a718c05fdf95b73ab/cmd/kubeadm/app/cmd/init.go#L104-L106
- https://github.com/kubernetes/kubernetes/blob/a887ae8344adf9739c1d156a718c05fdf95b73ab/cm

[2019-03-21 05:44] Bubblemelon commented on #1456
Hello :smile: I would like to attempt this fix. It would be a good chance to try out [kind](https://github.com/kubernetes-sigs/kind) at the same time.

[2019-03-21 06:28] mengxifl commented on #998
Thank you for your reply

maybe i should put up my yaml file

I use
kubeadm init --config=config.yaml

my config.yaml content is

[code]
my fannel yaml is default

https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

`systemctl status firewalld `
ALL node say
Unit firewalld.service could not be found.

`cat /etc/sysconfig/iptables`
ALL node say
*filter
:INPUT ACC

[2019-03-21 06:47] carlpett commented on #1456
@neolit123 Completely agree that it shouldn't be removed, what I meant was it could potentially be omitted from the help output. But that also seems confusing UX-wise.
So just putting some text there about "no gates are available in this release" would be good enough.

[2019-03-21 06:59] fabriziopandini commented on #1456
@Bubblemelon thanks for volunteering!
Ideally, what we need is that the machinery that generates the help for `feature-gates`handle the case  "no gates are available in this release"

/lifecycle active

[2019-03-21 07:05] fabriziopandini commented on #1460
@marccarre fyi yesterday in the kubeadm office hours planning for v1.15 was discussed
There is a batch of changes for the config (including this), and there will be a deep dive hopefully next week. If you want to join the discussion you are more than welcome!

[2019-03-21 07:09] fabriziopandini commented on #1460
Fyi https://github.com/kubernetes/kubeadm/issues/1439#issuecomment-474728529

[2019-03-21 10:13] neolit123 commented on #1295
^ pinged people about the above PR.

[2019-03-21 16:40] fabriziopandini commented on #1447
@dungdm93
If it is only to get a certificate re-created, my first try would be
- delete the API server certificate
- recreate it using kubeadm init phase certs apiserver
- force restart the API server

(afaik kubeadm upgrade doesn't replace certificates unless they are near expiration)

[2019-03-21 19:25] linxcat commented on #1391
This issue still needs a look. The pull request is currently insufficient.

[2019-03-21 20:04] liggetm opened #1461 "Enabling kube-proxy IPVS mode prevents access to API server via service IP"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):`
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c229191a087698aa92f0b1", GitTreeState:"clean", BuildDate:"2019-02-28T13:35:32Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"
`

**Environment**:
- **Kubernetes ver

[2019-03-21 20:17] neolit123 commented on #1461
@liggetm

what happens if you try a different CNI plugin - e.g. WeaveNet?

make sure you move to v1beta1 or newer, because v1alpha3 is being removed.

[2019-03-21 20:21] liggetm commented on #1461
@neolit123 - I tried flannel but had the same result.  Although I applied it to a bootstrapped cluster.  ie; after I'd got the error with Calico.  Again the coreDNS PODs looped because they could not hit the API server (I didn't check the flannel POD itself).  I'll update my apiversions - thanks!

[2019-03-21 20:50] anitgandhi commented on #1432
I was following the discussion in #1300 and now here, just wanted to throw in my support on this - everything @danbeaulieu pointed out is something we've noticed in our cluster management. Namely, we had a situation where we had a 3-node cluster, and for whatever reason one of the nodes died. AWS ASG brought a new one up, but it hung up on the situation described above.

Our fix (in our provisione

[2019-03-21 20:53] deblasis commented on #1391
Hi @linxcat, since I am affected by the issue and I was monitoring for a
fix to be merged, I am happy to have a look into it instead. Please let me
know if I can

On Thu, 21 Mar 2019, 19:25 Connor Lavoy, <notifications@github.com> wrote:

[2019-03-21 20:54] neolit123 commented on #1461
i cannot seem to reproduce the problem with the latest 1.13.x in a 2 worker cluster with CNI from weave.

[code]

[code]

[code]

[2019-03-21 20:57] linxcat commented on #1391
@deblasis I'm not a maintainer. I'm in the same boat as you, I design architecture rather than write code. I'm hoping for this to be fixed so I'm not blocked behind a need to place the private key for a Certificate Authority on the root volume.

[2019-03-21 21:50] linxcat commented on #1391
Found [this](https://github.com/kubernetes/kubernetes/pull/75431) Which seems to indicate this is a very recent and live problem. I've referenced the author in the PR, but it looks like this could use some effort on the part of release managers in terms of backports etc. The PR I linked is tied to Milestone 1.14, but it really needs to be implemented in at least 1.13

[2019-03-21 23:08] neolit123 commented on #1391
@linxcat we didn't consider https://github.com/kubernetes/kubernetes/pull/75431 for backport to 1.13, because @fabriziopandini recently found the problem in the code. but it makes sense to me to backport.

/assign @fabriziopandini @timothysc
WDYT?

[2019-03-22 07:18] fabriziopandini commented on #1432
@danbeaulieu @anitgandhi thanks for your support!
After last changes landed in v1.14, kubeadm hopefully manages properly the controlled removal of a control-plane node (removal of the etcd member and cleanup of the ClusterConfiguration, while node deletion is still out of the radars but AFAIK this was nice to have, not blocking)

It was also agreed to to try to direct some of our bandwidth in v1.1

[2019-03-22 07:25] fabriziopandini commented on #1391
@neolit123 yes. I think that https://github.com/kubernetes/kubernetes/pull/75431 fixes the issue
Let's sync in slack about how to proceed/how to test the backport before submission

[2019-03-22 08:48] vishwakhrushi opened #1462 "Kubeadm HA cluster join - couldn't validate the identity of the API Server"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.4", GitCommit:"c27b913fddd1a6c480c229191a087698aa92f0b1", GitTreeState:"clean", BuildDate:"2019-02-28T13:35:32Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}`
**Environment**:
- **Kubernetes version** (use `kubectl version`):  `v1.13.4`
- *

[2019-03-22 09:39] neolit123 commented on #1462
could this be case where your tokens include the offending `n` character?
are these tokens generated by kubeadm or did you create them?

you can also run `kubeadm join` with e.g `-v=6` to show more details of where this happens.
sharing this output on pastebin.com or gist would be ideal.

thanks.

[2019-03-22 10:38] saravana1992 opened #1463 "coredns crashes with api timeout"
Coredns crashes with the API time out and restarts frequently

Logs of coredns:

E0322 10:27:47.898277       1 reflector.go:205] github.com/coredns/coredns/plugin/kubernetes/controller.go:355: Failed to list *v1.Namespace: Get https://10.96.0.1:443/api/v1/namespaces?limit=500&resourceVersion=0: dial tcp 10.96.0.1:443: i/o timeout
E0322 10:27:47.900119       1 reflector.go:205] github.com/coredns/c

[2019-03-22 12:22] neolit123 commented on #1463
please add details about your setup following our issue template.

[2019-03-22 15:09] rbtr commented on #1432
@fabriziopandini I think a bug still exists in the etcd preflight:
if the endpoints passed to the the [etcd client](https://github.com/kubernetes/kubernetes/blob/e739b553747940324cf4a91429aea905371f89a1/cmd/kubeadm/app/util/etcd/etcd.go#L122) are stale and contain some members that no longer exist/no longer have etcd running, there is _a chance_, due to how the etcd client works, that the call to

[2019-03-22 18:16] fabriziopandini commented on #1432
/lifecycle active

[2019-03-23 00:02] #1296 closed

[2019-03-23 02:27] vperson opened #1464 "How to update the configuration of a kubelet that is running a cluster"
Didn't find the right answer after trying Google

After running the cluster with kubeadm for a while, the node node often fails to log in remotely due to the system hang.

Later, the default resource reservation for kubelet was found to be none. Now I want to make a kubelet configuration update for an already running cluster.

The following is the configuration of my initial cluster.
[code]

After

[2019-03-23 13:17] efengx opened #1465 ""kubeadm" cannot pull the image when using the proxy, but it can be properly pulled by using "docker" in the container."
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-03-23 14:17] neolit123 commented on #1465
@efengx
hello, and thanks for the report .

the way to handle "no-internet" or proxy scenarios is to pre-pull the images. here are our docs for that:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#running-kubeadm-without-an-internet-connection

but it seems to me that this issue should be logged in the minikube issue tracker.
thanks.

/close

[2019-03-23 14:17] #1465 closed

[2019-03-23 15:42] neolit123 commented on #1464
/triage support

the `kubeadm config` command is what you can use to modify the kubeadm CluserConfiguration.

here are the official docs for this. you need the DynamicKubeletConfiguration feature:
https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/

also see this:
https://stackoverflow.com/questions/49147294/kubelet-dynamic-configuration-doesnt-work

kubeadm also has some comm

[2019-03-23 16:52] #1449 closed

[2019-03-23 16:52] neolit123 commented on #1449
we have finished this task.

[2019-03-24 02:50] vperson commented on #1464
thanks you

[2019-03-24 02:50] #1464 closed

[2019-03-24 13:43] Ashraf-Hassan commented on #1444
Yes thank you that helped.

[2019-03-24 13:43] #1444 closed

[2019-03-24 15:06] kitrap commented on #1153
I met the same issue when i upgrade k8s from 1.13.3 to 1.13.4 ...
I solve it after i edit ``` /etc/kubernetes/manifests/kube-scheduler.yaml``` . Modify the image version
```image: k8s.gcr.io/kube-scheduler:v1.13.3 ==> image: k8s.gcr.io/kube-scheduler:v1.13.4```
the same to kube-controller-manager.yaml  and kube-apiserver.yaml.

[2019-03-24 17:52] Bubblemelon opened #1466 "Update Contributing Guidelines for "Building" Section"
Under the [Building](https://github.com/kubernetes/kubeadm/blob/master/CONTRIBUTING.md#building) section of `CONTRIBUTING.md` :

There should be a new link to replace "_See ./vagrant/README.md for a quick workflow to build and test your own kubeadm binaries_"

Since all the `/vagrant` files have been removed in commit: https://github.com/kubernetes/kubeadm/commit/90a02d77e117645cd233fec3a6dcb83762

[2019-03-24 17:54] yagonobre commented on #1466
Thanks @bubblemelon for reporting this, would you want to send a pr with the fix?

[2019-03-24 18:16] Bubblemelon commented on #1466
:smile:  Checkout my pr :arrow_up:

[2019-03-24 18:24] yagonobre commented on #1466
Closed by https://github.com/kubernetes/kubeadm/pull/1467
/close

[2019-03-24 18:24] #1466 closed

[2019-03-25 13:39] liggetm commented on #1461
@neolit123 I repeated the install using weave and was able to confirm the issue.  I think there are slight differences in our setups though...
 - k8s 1.13.4 vs your 1.13.5-beta
 - single node vs 3-node/2-worker
Same commands on my system, note it takes a couple of minutes before coreDNS restarts.
[code]
[code]
[code]
[code]

[2019-03-25 17:47] neolit123 commented on #1461
not sure what is causing the problem.
might be a good idea to try 1.14 (release is later today).

[2019-03-25 23:19] rosti commented on #1461
@liggetm `controlPlaneEndpoint: "192.168.138.150:6443"` (from the kubeadm ClusterConfiguration) and `-> 192.168.138.152:6443` don't match. If it's not a copy-paste error, I would expect, that this is the cause of the problem.
Can you check what's the API server address in the config map?

[2019-03-26 03:04] dungdm93 commented on #1447
@fabriziopandini I found a way to workaround but there is something is not true.
* Before update:
[code]
* Update kubeadm config
[code]
* Re-generate apiServer certificate
[code]
As you can see from the log, certSANs are still `IPs [10.96.0.1 10.148.0.39]`. However:
[code]
This time, `kubeadm` add extra SAN into the certificate. However, in the third time, if I not specify `--config=kubeadm.yml`,

[2019-03-26 07:32] fabriziopandini commented on #1447
@dungdm93 you have to update the `kubeadm-config` ConfigMap in the namespace `kube-system` to make your change persistent (this is what kubeadm uses if you don't provide `--config` ; same goes for updates)

[2019-03-26 08:05] dungdm93 commented on #1447
@fabriziopandini In step 2 above, I already update `kubeadm-config` via
[code]

Check it:
[code]

[2019-03-26 12:40] liggetm commented on #1461
Sorry @rosti - I was working with 2 separate single-node systems (IPs 150 and 152) trying to test variations of the issue. I've inadvertently copied content from both systems when filing the bug report but the issue is reproducible.

I tried k8s 1.12.6, 1.13.3/4.  I'll try again today with 1.14.0 and report back.

Post kubeadm install, updating the kube-proxy configmap manually and restarting the

[2019-03-26 15:10] kir4h opened #1468 "Control plane nodes failing to join when specific IP Address provided in etcd.local.extraArgs"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

This issue appears to be the same as https://github.com/kubernetes/kubeadm/issues/1359 . Only found out when filling the title (sorry about that, I had looked for open issues before creating this, didn't think of look for closed ones), but in any case that issue is closed (not sure why).

On that issue, a suggestion is not to override etcd e

[2019-03-26 15:28] kir4h commented on #1468
Just noticed same issue happens with other extraArgs configurations (`bind-address` for `kube-controller-manager` and `kube-scheduler`).

For now, the workaround for all of them is to:
* set IP address to `0.0.0.0` and use an external firewall to limit access to the public interface
* for `kube-controller-manager` and `kube-scheduler` not setting those extraArgs will bind them to localhost, which

[2019-03-26 17:17] fabriziopandini commented on #1468
@kir4h thanks for the detailed report

Currently etcd settings at node level are not supported, so i'm linking this feature request to the discussion about possible config changes
/cc @rosti @neolit123

[2019-03-26 17:20] fabriziopandini commented on #1439
https://github.com/kubernetes/kubeadm/issues/1468

Etcd, controller-manager and scheduler configuration per node

[2019-03-26 20:04] tcurdt commented on #1382
Big thanks to @bart0sh. Unfortunately we could no longer reproduce it. Neither with the current version (maybe I should have done a full re-install instead of just a reset) nor with the latest master.
I hate it when bugs just "disappear" but well - closing for now.
Thanks for all the help.

[2019-03-26 20:04] #1382 closed

[2019-03-26 21:55] bobbydeveaux commented on #1390
having same issue @phanikumarp  - did you find a solution to use the external IP?

[2019-03-27 04:51] phanikumarp commented on #1390
I have solution ....for fixing this issue

On Wed, Mar 27, 2019 at 3:25 AM Bobby DeVeaux <notifications@github.com>
wrote:

[2019-03-27 10:54] terrywang opened #1469 "kubeadm upgrade plan not working for v1.13.5 to v1.14.0"
## Is this a BUG REPORT or FEATURE REQUEST?
Bug Report

## Versions

**kubeadm version** (use `kubeadm version`):
v.1.14.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.13.5

- **Cloud provider or hardware configuration**: AWS EC2

- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.6 LTS

- **Kernel** (e.g. `uname -a`): Linux k8s-node-1 4.4.0-143-generic #169-Ubuntu SMP Th

[2019-03-27 13:15] neolit123 commented on #1469
thanks for the report.
i will try to reproduce your problem.

[2019-03-27 13:45] neolit123 commented on #1469
[code]
here is what get, this is a bit of a bug on it's own because it's telling me that i'm up to date while it should be telling me to update to v1.14.0. i will log a bug about this `Awesome, you're up-to-date! Enjoy!` case.

but my etcd manifest looks like this:
[code]

did you happen to create this cluster using 1.12 before upgrading to 1.13?

i remember that we did some changes to the etcd ad

[2019-03-27 13:54] neolit123 opened #1470 "1.14: "upgrade plan" does not work correctly"
while testing in https://github.com/kubernetes/kubeadm/issues/1469 it was discovered that `upgrade plan` does not work with a kubeadm 1.14 binary over a existing 1.13.x cluster.

steps to reproduce:
- create a 1.13.5 single node cluster
- download a 1.14 kubeadm binary
- run `sudo kubeadm upgrade plan`

result is:
[code]

expected result:
- show what can be updated in the 1.13.5 cluster as in:
htt

[2019-03-27 13:57] neolit123 commented on #1469
logged:
https://github.com/kubernetes/kubeadm/issues/1470

[2019-03-27 17:35] bart0sh commented on #494
@neolit123 @fabriziopandini  I can work on this after https://github.com/kubernetes/kubernetes/pull/75633 is merged.

@tamalsaha Is it still needed for you?

[2019-03-27 17:44] tamalsaha commented on #494
Thanks for asking @bart0sh ! This will be still helpful.

[2019-03-27 17:44] neolit123 commented on #494
i think we need to draw the boundary of what is machine readable though.
so let's have some discussion before jumping into PRs...

the whole output of init, might be out of scope for now, because even if we put it in fields in a structure, the will just end up as lines of text. so this type of wrapping in a machine readable object is not needed.

however at the end of `kubeadm init` there is the j

[2019-03-27 17:50] bart0sh commented on #494
@neolit123 no, I didn't have anything in particular, but I like the overall idea to have parseable output from kubeadm commands. Why not to do 'upgrade plan' if there is a clear  interest for it?

@tamalsaha Can you show us what you'd like to see in 'upgrade plan' JSON or YAML output?

[2019-03-27 17:54] neolit123 commented on #494
`plan` is broken ATM, so i need to look at what the problem is.
but if we are doing machine readable we should support both YAML and JSON always because `kubeadm version` already does that `-o, --output string   Output format; available options are 'yaml', 'json'`

[2019-03-27 17:56] neolit123 commented on #494
@bart0sh could you please start with `kubeadm config images list` ?
so that we can define how are we going to do the utility that can marshal any object for any command..

[2019-03-27 17:58] bart0sh commented on #494
yes, the general idea is to support -o, --output yaml, json. This is what I did for 'token list'.

I'll do 'kubeadm config images list' then.

[2019-03-27 23:01] #1352 closed

[2019-03-28 00:35] mauilion opened #1471 "Upgrading a 1.12 cluster thru 1.13 to 1.14 fails."
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.13.5
- **Cloud provider or hardware configuration**: local
- **OS** (e.g. from /etc/os-release): any
- **Kernel** (e.g. `uname -a`): any
- **Others**:

## What happened?
in 1.12 we bound etcd to localhost on single master setups. We also minted certific

[2019-03-28 00:39] davidkarlsen commented on #1471
I also did:

6. reload kubelet:
[code]

so that it was all reloaded and ready

[2019-03-28 02:06] terrywang commented on #1469
@neolit123 Thanks for the comments. The cluster was initially created using kubeadm v1.9.x. Later on rebuilt, definitely used version before v.1.12.0. No wonder the etcd static pod manifest is different.

What exactly has changed for `etcd` manifest (since v1.12.0)? Tried to search for that but no luck.

I'll try to generate new static pod manifests using latest version from a different machine an

[2019-03-28 06:31] jinjin123 commented on #1153
The latest way is  add option **--image-repository registry.aliyuncs.com/google_containers** ,  my k8s verion is 1.14.0,docker   Version:          18.09.2,
 ` kubeadm init --image-repository registry.aliyuncs.com/google_containers --kubernetes-version v1.14.0 --pod-network-cidr=192.168.0.0/16
[init] Using Kubernetes version: v1.14.0
[preflight] Running pre-flight checks
	[WARNING IsDockerSystemdCh

[2019-03-28 10:41] neolit123 commented on #1469
@terrywang
it was done here so that we can properly support stacked etcd members in an HA setup:
https://github.com/kubernetes/kubernetes/pull/69486

more details here:
https://github.com/kubernetes/kubeadm/issues/1123

that said i think we had a way to handle this type of upgrade transparently between 1.12 and 1.13, so your 1.13 etcd manifest *should* have been auto-converted to use the network i

[2019-03-28 15:30] fOO223Fr commented on #1345
I am getting the same warming and its dumping my journald in v1.13.4... used kubeadm to setup the cluster. Initially i had my staticpodmanifest variable in my kubeletConfiguration but even after removing it i keep getting the dump!

[2019-03-28 15:35] krisdock opened #1472 "New experimental-upload-certs flag handling of external etcd certs"
## What keywords did you search in kubeadm issues before filing this one?
experimental
external etcd

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.14
- **Cloud provider or hardware configuration**: GCE nodes
- **OS** (e.g. from /etc/os-release

[2019-03-28 17:02] fabriziopandini commented on #1472
/assign

[2019-03-28 17:30] #1456 closed

[2019-03-28 18:29] neolit123 commented on #1471
@mauilion thanks for the detailed report.
i think this was caught here: https://github.com/kubernetes/kubeadm/issues/1469

seems like we can close 1469.

[2019-03-28 18:32] neolit123 commented on #1469
closing in favor of: https://github.com/kubernetes/kubeadm/issues/1471

[2019-03-28 18:32] #1469 closed

[2019-03-28 18:32] neolit123 commented on #1471
https://github.com/kubernetes/kubeadm/issues/1469#issuecomment-477541650

[2019-03-28 19:49] liggetm commented on #1461
I may have made some progress on this issue - it only appears to happen if the ip_vs modules (ip_vs, ip_vs_rr, ip_vs_wrr and ip_vs_sh) are loaded prior to suppling a CNI provider.  I've also noticed that the problem will reoccur after reboot (with the modules configured to auto-load).

[2019-03-28 21:01] fabriziopandini commented on #1472
/lifecycle active

[2019-03-28 21:12] de1m commented on #1359
[code]
I've  the same issue, I also use the vagrant (2 vms) to install the HA Cluster.
I think, the problem is the first nic of vagrant vm, this is a NAT nic to communicate with the host. The ip of this nic is 10.0.2.15 on both vms.
I don't understand , what mean this message. Will the kubeadm connect the first master on ip 10.0.2.15 or local ip?

[2019-03-29 09:01] proskehy commented on #1471
Experiencing the same issue as @neolit123 describes in https://github.com/kubernetes/kubeadm/issues/1469#issue-425890196.

Etcd manifests have not been manually altered, cluster was created before k8s 1.12.

[2019-03-29 09:43] bart0sh commented on #494
@neolit123 done, please review [PR 75878](https://github.com/kubernetes/kubernetes/pull/75878)

[2019-03-29 14:42] neolit123 commented on #494
posted some ideas in this comment on how we may handle this as a common utility:
https://github.com/kubernetes/kubernetes/pull/75878#discussion_r270383820

[2019-03-29 15:39] bart0sh commented on #494
I'll answer to your comment here.

Agree with this.

not sure we need this. It's better to keep this logic only in one module.

If we want to handle *all* output formats then the name should be different in my opinion.
I'd propose cmd/kubeadm/app/util/output.go

I'd propose to implement conversion from data structures to output text. The main API, let's call it ConvertToOutputFormat(data interface

[2019-03-29 16:01] neolit123 commented on #494
if we define the constants in the same file that has the utility function(s) it would be ideal.
these constants will be used in multiple files so we need them.

it's OK, outputformat.go seems a bit better.

ConvertToOutputFormat is OK  for yaml and json.
if "text" is the desired output format, how are we going to print to stdout or stderr?

i still think we need some sort of wrapper utility:
if "t

[2019-03-29 16:02] rajansandeep opened #1473 "Invalid kube-dns to CoreDNS translation"
Kube-dns now [accepts service name for stubdomain and nameserver](https://github.com/kubernetes/dns/pull/279), while CoreDNS does not support this feature.

As a result, a user having service name in stubdomains/nameserver in their kube-dns ConfigMap while migrating to CoreDNS will result in an invalid CoreDNS Config, resulting in a broken k8s cluster.

/kind bug
/area upgrades
/priority important

[2019-03-29 16:07] rosti commented on #494
@bart0sh I see where you are going with `PrintMachineReadable`. It's a good idea to have such a function.
However, I propose to start simple and if we need something along those lines, we can certainly retrofit it where it's needed.

Also, +1 for @neolit123 's proposition to start drafting ideas in a gdoc.

[2019-03-29 16:10] neolit123 commented on #1473
@rajansandeep

thanks for logging this!

could you please clarify what has to be done on the kubeadm side?
do you plan on detecting such a service name under the stubs or nameserver (e.g. "google.local") in the ConfigMap during upgrade and omitting / ignoring it until CoreDNS supports the feature.

we seem to need some CoreDNS version detection too.

@kubernetes/sig-cluster-lifecycle

[2019-03-29 16:12] bart0sh commented on #494
If they're going to be used in multiple files then we need them. However, I'm having hard time understanding why would we need them outside of outputformat.go

We're going to call ConvertToOutputFormat(&data, "text"), get the output and print it to stdout or stderr.

I'm finishing a prototype code that uses this API for 'kubeadm version', 'kubeadm token list' and 'kubeadm config images list'. I'm

[2019-03-29 16:17] bart0sh commented on #494
I already started simple (see https://github.com/kubernetes/kubernetes/pull/75633), but it didn't work out it seems.

Yes, will do.

[2019-03-29 16:18] neolit123 commented on #494
possibly so that the CLI flags can know about the same formats and so that we can perform validation if case a format is unknown.

but, for "text" we need to print immediately to the standard streams after each line and not buffer the output in the "data" object.

sounds good. thanks.

[2019-03-29 16:55] bart0sh commented on #494
We can also perform validation in the ConvertToOutputFormat and make the CLI code simply defining the flag as it does now.

that's a valid point. So far I didn't think of this API as a way to handle output of long-running processes. For 'kubeadm version', 'kubeadm token list' and 'kubeadm config images list' the difference is not even noticeable.

[2019-03-29 16:57] bart0sh commented on #494
@neolit123 'kubeadm version' has 'short' output option. Should we consider having it handled by this API as well?

[2019-03-29 17:05] neolit123 commented on #494
possibly. we want the same code to be used in `version`.

[2019-03-29 17:08] bart0sh commented on #494
@neolit123 > we want the same code to be used in version.

then we need to handle 'text', 'short', 'json' and 'yaml'
This would require implementation for 'short' output in other places('token list', 'images list' etc) as far as I understand.

[2019-03-29 17:13] bart0sh commented on #494
@neolit123 > but, for "text" we need to print immediately to the standard streams after each line and not buffer the output in the "data" object.

If we really need this, current approach (collect data to some structure and then call output API) would not work. I'd not go that far right now.

P.S. It looks like it's time to create google doc

[2019-03-29 17:15] neolit123 commented on #494
we don't want to break "version", by not supporting "short" anymore.
we can possibly treat "short"=="text" in cases where it's not supported or throw an error.

[2019-03-29 17:17] neolit123 commented on #494
we need "text" to work like that, but for other types (json,yaml) we might have to buffer and on finishing the work or on error dump the structure.

[2019-03-29 18:21] bart0sh commented on #494
Above PR is what I came up with so far. Please, review.

Now when we have a working prototype I'm going to to write a proposal.

[2019-03-29 18:36] neolit123 commented on #494
the idea in the PR will work, but we also we need to consider:

ideally the machine readable support for different commands should be separate PRs, possibly starting from "version".

[2019-03-29 19:49] rajansandeep commented on #1473
Yes, I will detect a service name and omit it while translating to the equivalent CoreDNS config.
And additionally warn the user that it has been omitted during translation since it's not supported.

[2019-03-29 19:55] neolit123 commented on #1470
fix will be available in 1.14.1 and 1.15.0.

[2019-03-29 21:35] bart0sh commented on #494
@neolit123

That would make it impossible to use the same API for text and JSON/YAML output. I need to think about it, but so far I don't know how to implement this.

[2019-03-30 03:26] gyliu513 opened #1474 "kubeadm init hang"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-03-30 04:43] jayakody commented on #203
Just ran into this in "Kubeadm 1.13". Fixed it using the following:

1) Add "--node-ip" to '/var/lib/kubelet/kubeadm-flags.env':
[code]
2) Restart Kubelet:
[code]

[2019-03-30 08:37] hidekazuna commented on #1474
@gyliu513 I successfully deployed 1.14.0 using cluster-api-provider-openstack. Could  you check kubelet working in your master node?

[2019-03-30 12:22] gyliu513 commented on #1474
@hidekazuna I found that my master node always takes a long time to restart kubelet.

[code]

Then it will hang at `pre-check` for `kubeadm init`
[code]

And check `kubelet`, it was running well:

[code]

The `kubeadm` processes are as follows:
[code]

@hidekazuna any tips for me to debug this issue? Thanks!

[2019-03-30 12:41] gyliu513 commented on #1474
Seems my `/usr/bin/kubelet --version` hang, but not clear why it hangs here. Can anyone please show some insight for this?

[code]

[2019-03-30 12:44] marc-sensenich commented on #1276
@neolit123 I've experienced this same behavior in 1.13.5 with both `apiVersion` kubeadm.k8s.io/v1alpha3 and kubeadm.k8s.io/v1beta1

[2019-03-30 15:11] fabriziopandini commented on #1472
/close
fixed on master; cherry pick for v1.14 https://github.com/kubernetes/kubernetes/pull/75851

[2019-03-30 15:11] #1472 closed

[2019-03-30 16:00] fabriziopandini commented on #1471
/assign
/lifecycle active

[2019-03-30 16:55] neolit123 commented on #1474
i unaware why would the kubelet hand while printing it's version.
i've never seen such behavior before.

[2019-03-31 09:22] gyliu513 commented on #1474
FYI @jichenjc not sure if aware of this?

[2019-03-31 16:15] lvthillo opened #1476 "nslookup kubernetes.default fails from within pods"
## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:51:21Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**: Ubuntu 18.04
- **Kubernetes version** (use `kubectl version`):
[code]
- **C

[2019-03-31 16:19] #1476 closed

[2019-04-01 00:23] afagund opened #1477 "Running pre-flight checks hang"
## What keywords did you search in kubeadm issues before filing this one?

preflight
hang
kubeadm join

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:51:21Z", GoVersion:"go1.12.1", Compiler:"gc", Pla

[2019-04-01 00:58] terrywang commented on #1469
@neolit123 Thanks again for the info. Good to know.

I've regenerated the static pod manifests using latest version of `kubeadm` to run the phase on a different VM, compared the differences and made necessary changes to the one in my cluster.

However, running `kubeadm upgrade plan` after etcd pod was started, I got the following error:

[code]

Will follow #1471 to regenerate the certificates for

[2019-04-01 02:46] hidekazuna commented on #1474
@gyliu513 How about checking executing  /usr/bin/kubelet --version manually?

[2019-04-01 02:57] gyliu513 commented on #1474
@hidekazuna You may saw the manual operation at https://github.com/kubernetes/kubeadm/issues/1474#issuecomment-478242255

I found that my kubelet is not running in the cluster, but not clear why, please check the log at https://github.com/kubernetes/kubeadm/issues/1474#issuecomment-478242255 , any comments for this? Thanks.

FYI @xunpan

[2019-04-01 03:36] afagund commented on #1477
With v10 parameter.

[root@vm03 etcd]# kubeadm join vm10.andrefagundes.org:6443 --token 07nh7g.v8p5fcs61fn3o2h4 --discovery-token-ca-cert-hash sha256:039a5f9229dafe39d4a51af6899c20adff1de5dda23f780ac9b896e95f95623a --experimental-control-plane --certificate-key cf3c8ca4f74751bfe7fc9d3e00e03a37619d36a6d6fb79fb5ba3645d74dd7bf4 -v10
I0401 00:34:08.531961   16893 join.go:367] [preflight] found NodeNam

[2019-04-01 03:41] afagund commented on #1477
Another info ... vm10.andrefagundes.org is a Haproxy in front of my control plane.

[2019-04-01 09:45] neolit123 commented on #1477
seems like a networking issue to me.
are you sure this joining node has connectivity to port 6443 on the LB and can resolve vm10.andrefagundes.org?

[2019-04-01 11:17] afagund commented on #1477
Yes, I also changed vm10 to point to control plane. I saw traffic on control plane coming in monitoring with TCDUMP.

[2019-04-01 11:19] neolit123 commented on #1477
are you seeing any outstanding errors in the kubelet logs?

[2019-04-01 11:24] rosti commented on #494
Ok, folks, I think, that we are deviating a bit from the subject at hand. Let's start from the user story and the desired UX:

1. What commands do we want to see in machine readable form and why?
1.1. If users finds that `kubeadm token list` has machine readable form, would they expect that `kubeadm token generate` has it too?
1.2. If users finds that `kubeadm token list` has machine readable form

[2019-04-01 12:55] ygalblum opened #1478 "Kubeadm: Allow overriding KubeletRunDirectory"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm, kubelet, root-dir

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

**What would I like to be added:**
Currently, the user can change kubelet's run-time directory by setting "root-dir" in the kubeletExtraArgs field of nodeRegistration object. While this flag does alter kubelet's behavior, kubeadm still

[2019-04-01 13:52] yagonobre commented on #1478
@ygalblum thanks for reporting this, I think it require changes on kubeadm config, and I'm not sure if we can add more changes to v1beta2.

/assign @rosti

[2019-04-01 14:29] bart0sh commented on #494
@rosti Thank you for your comments. I'm preparing google doc where we can discuss this further. Will share it here soon.

[2019-04-01 15:11] bart0sh commented on #494
shared with kubernetes-sig-cluster-lifecycle@googlegroups.com

[2019-04-01 16:59] pmehdinejad commented on #1162
my core-dns is on CrashLoopBackOff.
the log is:

E0401 16:54:47.487196       1 reflector.go:134] github.com/coredns/coredns/plugin/kubernetes/controller.go:317: Failed to list *v1.Endpoints: Get https://10.96.0.1:443/api/v1/endpoints?limit=500&resourceVersion=0: dial tcp 10.96.0.1:443: i/o timeout
log: exiting because of error: log: cannot create log: open /tmp/coredns.coredns-fb8b8dccf-v6wkw.unkn

[2019-04-01 17:02] chrisohaver commented on #1162
@pmehdinejad, That error means that your kubernetes API is not reachable.

[2019-04-01 17:05] pmehdinejad commented on #1162
I think that one is for before I setup flannel, the most recent error is this one:
log: exiting because of error: log: cannot create log: open /tmp/coredns.coredns-fb8b8dccf-v6wkw.unknownuser.log.ERROR.20190401-165447.1: no such file or directory

[2019-04-01 17:09] chrisohaver commented on #1162
coredns version?

[2019-04-01 17:11] pmehdinejad commented on #1162
k8s.gcr.io/coredns:1.3.1

[2019-04-01 17:34] chrisohaver commented on #1162
Try 1.4.0 to see if that behaves any differently.  Could be related to the glog/klog issue we fixed in 1.4.0.

[2019-04-01 18:56] afagund commented on #1477
There are several errors in the logs. I also tried to reinstall the cluster few times and each time I get different errors. I am giving up. We can close the case. Thanks!!

[2019-04-01 19:13] neolit123 commented on #1477
does creating a single control plane node + some worker nodes work for you or does the problem only happen when joining additional control plane nodes?

[2019-04-02 05:44] #1473 closed

[2019-04-02 07:47] Jacksonary opened #1479 "worker node can not join to cluster[kubeadm]"
## BUG REPORT

## Versions

**kubeadm version** : v1.14.0

**Environment**:
- **Kubernetes version**: v1.14.0
- **OS**: CentOS Linux release 7.6.1810
- **Kernel**: 5.0.5-1.el7.elrepo.x86_64

## What happened?

&emsp; some wrong happened, when I try to deploy worker node to my cluster whith `kubeadm join ....`，anything do follows [Creating a single master cluster with kubeadm](https://kubernetes.io

[2019-04-02 07:57] pmehdinejad commented on #1162
Can you please suggest a stable .yml file for coredns 1.4 please,
I have tried this :
https://github.com/coredns/deployment/blob/master/kubernetes/coredns.yaml.sed

after creating the pods go to CrashLoopBackOff states and their logs are saying:
/etc/coredns/Corefile:15 - Error during parsing: Unexpected EOF

[2019-04-02 08:14] MengZn opened #1480 "We need delete kubeconfig"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

Everyone knows that when we ent

[2019-04-02 08:17] pmehdinejad commented on #1162
Seems to be fixed with 1.4
Appreciate the help

[2019-04-02 08:19] pmehdinejad commented on #1162
Still getting this error:
Get https://10.96.0.1:443/api/v1/namespaces?limit=500&resourceVersion=0: dial tcp 10.96.0.1:443: i/o timeout

Weird because all other pods are running including kube-proxy , kube-apiserver, and flannel

[2019-04-02 09:48] neolit123 commented on #1479
looks like a panic in the kubelet.
we need to investigate, although our e2e tests are working so it must be something special in your case.

can you share more output from the kubelet  logs?

[2019-04-02 09:51] neolit123 commented on #1480
multiple other tools don't delete the kubeconfig and leave it to the user to clean manually.
why are you considering this being a problem?

If you can assign this task to me please.

please hold before sending PRs so that we can have discussion.
@kubernetes/sig-cluster-lifecycle

[2019-04-02 12:02] vdboor commented on #1469
Thanks terry for the info, I had the same problem. Also following #1471

My original cluster originated from Kubernetes 1.8, and rebuild during the 1.11 upgrade because broke everything. My etcd also listens to localhost only:

[code]

[2019-04-02 13:24] neolit123 commented on #1479
i tried reproducing the problem locally and 1.14 works for me:
[code]

please make sure that your kubeadm/kubelet/kubernetesVersion match or provide more details from the kubelet logs as mentioned above.

i'm looking for a line in the kubelet that triggers the panic.

[2019-04-02 13:52] chrisohaver commented on #1162
@pmehdinejad, the error means that CoreDNS cannot reach the Kubernetes API. It may be something wrong with flannel or kube-proxy (which makes the connections possible).

[2019-04-02 14:17] yagonobre commented on #1480
We don't create this file, so IMO we shouldn't delete it.

[2019-04-02 14:20] detiber commented on #1480
I agree that this seems outside the scope of `kubeadm`, since we only instruct the user how to copy the file to the default kubeconfig path and do not actually perform the copying.

[2019-04-02 14:22] yagonobre commented on #1480
We can add a warning on`kubeadm reset`

[2019-04-02 15:11] pmehdinejad commented on #1162
Yes I was doing telnet from the host, I tried to deploy a pod and run it from it's shell, but most of the images are minimal and without coredns I cannot install anything in the container.

It's weird because both flannel and proxy are working and all I can see in their logs are these:

Flannel:

I0402 14:24:26.014844       1 iptables.go:155] Adding iptables rule: -s 10.244.0.0/16 -d 10.244.0.0/16

[2019-04-02 15:28] rosti commented on #1480
I like @yagonobre 's idea. Hinting the user that "Note: You may want to revisit your $HOME/.kube/config file in order to remove the resetted cluster from there" can do the trick.

Blindly removing that file is not an option for a couple of reasons:
1. We did not create that file.
2. It can contain the info on how to connect to a multitude of clusters.

[2019-04-02 15:33] fabriziopandini commented on #1479
If it is a kubelet error, might be moving the issue in the main repo will help in getting eyes from the right people/sig node

[2019-04-02 15:35] MengZn commented on #1480
I also agree with @yagonobre your idea and let the user decide if the file should be deleted.

Can the work of prompting user information be assigned to me please?

[2019-04-02 15:42] fabriziopandini commented on #1477
Seems like kubeadm init doesn't created/configured cluster-info properly
Could you share the kubeadm init logs?

[2019-04-02 15:45] chrisohaver commented on #1162
I'm not kube-proxy expert, but I don't think those error messages are normal for kube-proxy.

[2019-04-02 16:26] rosti commented on #1480
@MengZn feel free to work on that. Ping me for a review when you have something.

[2019-04-02 17:33] MarkDeckert opened #1481 "kubeadm 1.13.5 from official yum repo installs kubelet 1.14.0 as a dependency"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.13.5

## What happened?
I was updating cluster from 1.13.3 to 1.13.5.  When I do a yum install kubeadm-1.13.5 from official yum repository it wants to install kubelet 1.14.0 as a dependency.

[code]

## What you expected to happen?
kubelet dependency should match kubeadm version at

[2019-04-02 18:18] MarkDeckert commented on #1481
Just as an extra datapoint:
[code]

[2019-04-02 18:59] neolit123 commented on #1481
/sig release
the kubeadm, kubelet, etc packages are a best effort and need a complete rewrite.

with:
[code]
it just pulls the latest kubelet.

you are going to have to use pinning and hold.

[2019-04-03 01:27] Jacksonary commented on #1479
@neolit123

Cluster and master node has been iniited successfully, as follows:

[code]

and only master node, cluster's status is ok:

[code]

my worker node is cloned from master after master node pulled docker images that kubeadm needed to init or join, as follows:

[code]

and kubeadm/kubelet/kubernetes version are:

[code]

It looks ok, and kubelet's log is (whole log is a repetitive compositi

[2019-04-03 03:53] zhang-shengping opened #1484 "kubeadm init did not install '/root/.kube/plugins/verify/verify.sh', after kubeadm reset."
Hello, I met a problem with `kubeadm init` after `kubeadm reset`, the CLI `kubectl get pods` return error: `-bash: /root/.kube/plugins/verify/verify.sh: No such file or directory`

Reproduce the error:
1. Use kubeadm `(Major:"1", Minor:"13", GitVersion:"v1.13.4")` to setup a kubernetes env.
3. Delete all deployments, and run `kubeadm reset`.
4. Follow the log of `kubeadm reset` and clean the `ipta

[2019-04-03 04:04] yagonobre commented on #1484
Hi @zhang-shengping it's not seems to be a kubeadm problem, but what os are you using?

/priority awaiting-more-evidence

[2019-04-03 04:13] zhang-shengping commented on #1484
@yagonobre

The Linux distribution:
[code]

The Keneral:
[code]

[2019-04-03 06:51] ReSearchITEng commented on #1321
Hello,
I have something very similar in the logs, and can't figure it out what is causing these messages in the apiserver logs.

Using k8s v1.12.1 in HA mode.
We have a 3 master cluster up and running. Difference from above is that we use a keepalived to move the VIP from one master to another (therefore no haproxy in front).

```E0403 06:41:59.216530       1 status.go:64] apiserver received an er

[2019-04-03 08:20] marccarre opened #1485 "kubeadm join can not mix '--config' with arguments [experimental-control-plane]"
## What keywords did you search in kubeadm issues before filing this one?

- `can not mix '--config' with arguments [experimental-control-plane]`
- `experimental`
- `certificate`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT or maybe neither and more a documentation issue?

## Versions

**kubeadm version**:

[code]

**Environment**:
- **Kubernetes version**:

[code]

- **OS** (e.g. from

[2019-04-03 10:08] neolit123 commented on #1479
@Jacksonary
so a panic in the kubelet is definitely not a kubeadm issue.
looking at the logs it's not easy to determine where the panic is happening exactly.

we need to let SIG node know about it.

please copy your last message and create a bug issue in kubernetes/kubernetes.
name it "runtime.go panic in the kubelet with 1.14" and type this command in a comment: `/sig node`

thanks
/close

[2019-04-03 10:08] #1479 closed

[2019-04-03 10:24] #1480 closed

[2019-04-03 10:31] Jacksonary opened #1486 "runtime.go panic in the kubelet with 1.14"
## BUG REPORT

## Versions

**kubeadm version** : v1.14.0

**Environment**:
- **Kubernetes version**: v1.14.0
- **OS**: CentOS Linux release 7.6.1810
- **Kernel**: 5.0.5-1.el7.elrepo.x86_64

## What happened?

&emsp; some wrong happened, when I try to deploy worker node to my cluster whith `kubeadm join ....`，anything do follows [Creating a single master cluster with kubeadm](https://kubernetes.io

[2019-04-03 10:31] Jacksonary commented on #1486
/sig node

[2019-04-03 10:34] neolit123 commented on #1486
@Jacksonary i meant this repository by saying "kubernetes/kubernetes":
https://github.com/kubernetes/kubernetes
thanks.

[2019-04-03 10:34] #1486 closed

[2019-04-03 11:03] neolit123 commented on #1485
@marccarre
`--experimental-control-plane` is CLI exclusive and cannot be part of the config.
but we are going to have to support the mixture in 1.15.

in terms of:
[code]

and

what is your use case for requiring the `--config` flag? kubeadm HA works by using a "control plane endpoint" which is the address of the load-balancer in front of your control plane nodes.

this is the address : port you s

[2019-04-03 11:25] marccarre commented on #1485
@neolit123, I currently pass the following via `--config`:

[code]
Is there a CLI equivalent to the below?
[code]
I couldn't find any in [`cmd/kubeadm/app/cmd/join.go`](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/join.go), but I might have missed something.

[2019-04-03 11:29] neolit123 commented on #1485
https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for-systemd

EnvironmentFile=-/etc/default/kubelet

although under normal circumstances you don't need to specify the `node-ip` for the kubelet.

[2019-04-03 11:33] marccarre commented on #1485
Many thanks for the pointers 👍

Unfortunately, I have abnormal circumstances 🙂

[2019-04-03 13:47] neolit123 commented on #1393
WIP google doc for ideas:
https://kubernetes.slack.com/archives/C0SJ4AFB7/p1554299162076400

[2019-04-03 14:28] tahsinrahman opened #1487 "Automatically add roles to non-controlplane nodes"
## FEATURE REQUEST
Automatically add `node-labels: "node-role.kubernetes.io/node="` to `kubeletExtraArgs `for non-controlplane nodes. So it would show role `node` instead of `<none>`

## What happened?
https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/681
https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/170

cc @detiber

[2019-04-03 14:31] detiber commented on #1487
Unless there are valid use cases for keeping the default joined nodes showing with a role of <none>, I think this is a worthwhile change.

/cc @neolit123 @fabriziopandini

[2019-04-03 14:35] neolit123 commented on #1487
i will bring this in the agenda for kubeadm office hours today.

[2019-04-03 14:45] mitchellmaler commented on #1487
Would it make more sense to label non control plane nodes as worker and not just node? I know worker is used even in the kubeadm docs when joining.

[2019-04-03 14:46] neolit123 commented on #1487
can you link to this docs page?

[2019-04-03 14:52] mitchellmaler commented on #1487
This page mentions the worker on the first line. "Initializes a kubernetes worker node"
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/

[2019-04-03 15:10] neolit123 commented on #1487
ok, i though we had instances of `node-role.kubernetes.io/worker` in the documentation.

[2019-04-03 15:20] justaugustus commented on #1487
Canonical naming (`node`) for reference: https://kubernetes.io/docs/concepts/architecture/nodes/

[2019-04-03 15:23] rosti commented on #1487
I know, that kops, for instance, uses `node` and not `worker`. Not aware of other setup tools.

[2019-04-03 22:04] jeanfabrice commented on #1469
+1
Same problem here, while trying to upgrade from 1.13.4 to 1.14.0:
[code]

[2019-04-03 22:06] neolit123 commented on #1469
fix should be up in 1.14.1
(to be released soon)

[2019-04-04 04:50] vsxen commented on #1394
why use systemd?

the kubelet default is cgroupsfs

` --cgroup-driver string                                                                                      Driver that the kubelet uses to manipulate cgroups on the host.  Possible values: 'cgroupfs', 'systemd' (default "cgroupfs")`

[2019-04-04 06:16] fabriziopandini commented on #1484
@zhang-shengping writing anything in `root/.kube/plugins/` is out of scope of kubeadm tasks, so  I agree with @yagonobre this doesn't seems a kubeadm problem

This is probably something related to kubectl plugin feature, so my suggestion is to close this PR here and reopen it in the main Kubernetes repo adding the Sig CLI label

[2019-04-04 06:18] fabriziopandini commented on #1481
:scream:

[2019-04-04 10:05] neolit123 commented on #1394
please read here:
https://github.com/kubernetes/kubeadm/issues/1394#issuecomment-462878219

[2019-04-04 10:08] neolit123 commented on #1484
/close

[2019-04-04 10:08] #1484 closed

[2019-04-04 11:24] marccarre commented on #1485
FWIW,

- not changing anything on my seed `master` node [1], and
- having the following on the 2nd `master`  node:
[code]
    to compensate for:
[code]

joining with the CLI flags [2] fails with:
[code]

[1]: where I run `kubeadm init --config /path/to/config --experimental-upload-certs`.
I didn't change anything since I used to be able to have worker nodes joining.

[2]:
[code]

[2019-04-04 11:31] marccarre commented on #1485
Out of curiosity, what is the target release date for 1.15 / this improvement?

[2019-04-04 12:02] neolit123 commented on #1485
couldn't validate the identity of the API Server:
    abort connecting to API servers after timeout of 5m0s

- what do you see if you add `--v=2` to the join command?
- make sure your token has not expired; it does so after 24h.
- do you have connectivity from this node to the controlplane apiserver on this address:port using `curl`?

1.14 was released 2 weeks ago so roughly 3 months minus 2 weeks

[2019-04-04 15:31] fabriziopandini commented on #1485
/assign

[2019-04-04 17:59] luxas commented on #1485
a) Have you used `--expermental-upload-certs` in the beginning? If no, you don't need `--certificate-key` IIUC
b) I think you need to pass `--apiserver-advertise-address=$PRIVATE_IP`. Please try that like this, and tell us if it worked:

[code]
[code]

Anyways, I think there is an issue in that the current code in `join.go` (if I read it right), doesn't allow for a config-only flow like this:
[cod

[2019-04-05 15:25] dsexton opened #1490 "Ability to add sidecar containers to static pod manifests"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

It would be helpful if kubeadm had the ability add additional containers to the generated static pod manifests. For example, adding the [aws-encryption-provider](https://github.com/kubernetes-sigs/aws-encryption-provider) to the apiserver pod.

Example:

[code]

You could have a fixed one-off just for encryption provider support, howeve

[2019-04-05 18:12] andrewrynhard commented on #1097
Is anyone actively working on this? I'd be happy to help here.

[2019-04-05 18:20] ereslibre commented on #1097
Hello @andrewrynhard! Yes, in fact I was going to look at this more in depth during this weekend, I should have something ready in the next days if everything goes fine.

[2019-04-05 18:22] andrewrynhard commented on #1097
@ereslibre Great! Any chance we would be able to cherry-pick for 1.14.1 or 1.14.2?

[2019-04-05 18:24] ereslibre commented on #1097
I don't know, we can discuss when we have the patch and evaluate intrusiveness. Theoretically 1.14 HA support is not GA, so I don't know if we could strictly backport it, but personally I think it would make sense if rules allow it.

[2019-04-06 00:45] rodrigc commented on #581
@pmcgrath Thanks for posting those steps.  I managed to follow them and renew my certificates, and get a working cluster.

[2019-04-06 21:14] ereslibre commented on #1097
I have done some preliminary work on this, and while I have it working with leader election I have some comments that maybe other can shed light on to.

1. Leader election looks more for long-living leader resolution, right? Right now I'm using a config map resource lock with a configmap named `kubeadm-config-lock`.
1. It seems that the election logic tries to `Create` the config map lock so I don

[2019-04-07 21:53] arianvp opened #1493 "Can not set --cert-dir on init phase kubelet-start"
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): NixOS
- **Kernel** (e.g. `uname -a`): 4.14

## What happened?

`kubeadm init` supports an option `--cert-d

[2019-04-08 06:04] fabriziopandini commented on #1493
/assign

[2019-04-08 11:33] neolit123 commented on #1097
added some comments on the PR.
my understanding is that we don't need a KEP for this, @fabriziopandini ?
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle

[2019-04-08 11:35] neolit123 commented on #1439
for reference the v1beta1 kep was here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/0023-kubeadm-config-v1beta1.md

[2019-04-08 12:04] PhilippeDo commented on #324
From my experience, kubeadm use the proxy defined in /etc/environment

[2019-04-08 13:21] username1366 opened #1494 "kube-controller-manager doesn't work properly in ha mode after update to v1.14"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 18.10
- **Kernel** (e.g. `uname -a`): Linux k8s-master1 4.18.0-17-generic #18-Ubuntu SMP Wed Mar 13

[2019-04-08 13:30] rosti commented on #1097
I don't think, it's a feature on its own. It should be part of some HA KEP or be made a "bug". HA cannot be deployed in a safe manner without this.

[2019-04-08 13:36] neolit123 commented on #1494
it doesn't seem like a kubeadm problem, directly.

are you waiting a few minutes before adding your secondary control plane nodes?

[2019-04-09 07:51] rojkov commented on #984
I'd like to tackle this if nobody is working on it.

[2019-04-09 11:01] mythi opened #1495 "kubeadm join fails when multiple CRI sockets exist"
## What keywords did you search in kubeadm issues before filing this one?

```kubeadm-config```

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.14.0
- **Cloud provider or hardware configuration**: baremetal
- **OS** (e.g. from /etc/os-release): Clear Linu

[2019-04-09 12:03] arianvp opened #1496 "Documentation about kubeadm systemd dropin out of date"
FEATURE REQUEST

The description of the kubeadm drop-in file is out of sync with
What the drop-in file actually contains.

See https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#kubelet-drop-in

 Vs

https://github.com/kubernetes/kubernetes/blob/master/build/debs/10-kubeadm.conf

However this part of the documentation _does_ describe the drop-in correctly. Perhaps
The docs for

[2019-04-09 13:40] fhemberger opened #1497 "`kubeadm init` fails on master: node "..." not found"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.12.5

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.12.5
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04 LTS
- **Kernel** (e.g. `uname -a`): 4.15.0-23-generic
- **Others**: Kubespray v2

[2019-04-09 15:40] ManiacDC commented on #1082
Sorry for digging up this old issue. I had this same issue. Somebody has registered localhost.<domain>.com on our domain network. Fixing that fixed the issue.

[2019-04-09 15:59] rosti commented on #1495
Hi @mythi , thank you for your bug report!
I did try to replicate this issue, but I was not able to. Can you, please, provide us with the `kubeadm join` command you used. You can mask out any sensitive information (like the token) by replacing it with something meaningless.

[2019-04-09 15:59] rosti commented on #1495
/assign

[2019-04-09 15:59] rosti commented on #1495
/priority awaiting-more-evidence

[2019-04-09 16:02] neolit123 commented on #1496
thanks for the report.
we should probably just remove this reference there and link to this one:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for-systemd

/sig cluster-lifecycle
/assign

[2019-04-09 16:13] fhemberger commented on #1497
Oh, okay missed that line. Never mind, thanks!
Should I open an issue on the Kubespray or the main Kubernetes repo for that?

[2019-04-09 16:15] neolit123 commented on #1497
ideally we should triage from the higher level up - e.g. from kubespray
but you can also open the issue in k/kubernetes and ping the kubespray maintainers and mark as `/sig openstack`

thanks.

[2019-04-09 16:15] #1497 closed

[2019-04-09 16:20] mythi commented on #1495
@rosti I tried both

[code]

and

[code]

with the information in ```kubeadm-config.yaml```

[2019-04-09 21:40] yastij opened #1498 "post upgrade fails to backup apiserver certs"
currently post-upgrades fail when kubeadm init is done cert-dir different from the default one `/etc/kubernetes/pki`. This is a common usecase (e.g. kubespray) to require a custom cert path.

This mostly due to relying on https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/postupgrade.go#L157

currently the workaround is to symlink the default cert path with the cus

[2019-04-09 21:41] yastij commented on #1498
/sig cluster-lifecycle

[2019-04-10 04:27] mythi commented on #1495
@neolit123 both master and worker nodes have

[code]

[2019-04-10 05:04] mythi commented on #1495
One more data point: after disabling docker from the system everything works OK. This only triggers when both docker and CRI-O are running.

[2019-04-10 07:33] jasonwangm commented on #1025
I also met with the same issue: "Image garbage collection failed once. Stats initialization may not have completed yet: failed to get imageFs info: unable to find data for container /"

[2019-04-10 11:31] gertvdijk commented on #1401
I'd also really like to have a way to figure out if `kubeadm init` has finished. It currently exits before things are actually ready. :disappointed:

[2019-04-11 06:03] fabriziopandini commented on #1498
/kind bug
/area upgrade

@yastij thanks for the detailed report.
If you would like to send a PR for fixing this problem, please set lifecycle active on the issue

[2019-04-11 06:04] fabriziopandini commented on #1498
/milestone v1.15

[2019-04-11 06:13] fabriziopandini commented on #1493
/milestone v1.15
Note
This problem should be investigated taking care both of three different scenarios
- the bootstrap control-plane where kubeadm does most of the work for starting kubelet
- secondary control-plane nodes, where kubelet starts via TLS bootstrap while kubeadm manages certificates
- nodes where kubelet starts via TLS bootstrap

[2019-04-11 06:16] fabriziopandini commented on #1495
/kind bug
/priority backlog
/milestone v1.15

[2019-04-11 06:52] ypsilik opened #1499 "Kubeadm upgrade 1.14.0 postupgrade addon coredns failed cause by label"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14.0
- **Kubernetes version** (use `kubectl version`): 1.13.4
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Others**: kubernetes is deployed with kubespray and kubeadm

## What happened?

Currently postupgrade failed if dns haven't `k8s-app: kube-dns` label.

[c

[2019-04-11 07:11] wnxn opened #1500 "How to set extra args for kube-proxy"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
v1.13.5

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.13.5

## What happened?

I want to create a Kubernetes v1.13 cluster by kubeadm phase and kubeadm config file.
I can set all parameters for [kube-apiserver, kube-controller-manager, kube-scheduler](htt

[2019-04-11 07:17] wnxn commented on #1500
PTAL /assign @neolit123

[2019-04-11 08:48] neolit123 commented on #1500
/triage support
/sig network

hi, kube-proxy has a KubeProxyConfiguration component config that kubeadm supports:
https://github.com/kubernetes/kube-proxy/blob/master/config/v1alpha1/types.go#L98

you can add it at the bottom of your kubeadm configuration file that you pass to kubeadm init, like so:
[code]
see here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

for more

[2019-04-11 09:08] neolit123 commented on #1499
that is true, but kubeadm decided to keep the app name kube-dns until the service name is also core-dns, in which case we can rename both the deploylment and service.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go

this is expected to fail under such conditions and we also have other immutable fields.

as far as i know kubespray uses kubeadm un

[2019-04-11 09:08] #1499 closed

[2019-04-11 09:28] neolit123 commented on #1401
this is a common design pattern in kubernetes - you can roll your own way of monitor pods by using e.g. `kubectl get po --all-namespaces -o json`

also keep in mind that installing a CNI plugin is essential for kubeadm init, but at the same time it's a step outside of kubeadm, so there is no way to tell when the pod network will be deployed.

i'm going to close this ticket as it's not a bug.

[2019-04-11 09:28] #1401 closed

[2019-04-11 10:53] earthling42 commented on #324
Yup - in my case it is also /etc/environment

[2019-04-11 13:31] neolit123 commented on #1451
/assign @Klaven
/lifecycle active
@Klaven said that he can help with this page.

[2019-04-11 14:08] rojkov commented on #1399
@vaamarnath are you still working on this issue? I have a preliminary fix and wonder if I could submit it as a PR.

[2019-04-11 14:16] #1471 closed

[2019-04-11 14:18] neolit123 commented on #1495
@rosti tested this in front of me and the bug is not reproducible.
there is something special about @mythi 's setup.

[2019-04-11 14:19] #1470 closed

[2019-04-11 14:28] neolit123 commented on #1490
- the configuration format is already locked for 1.15 (v1beta2) feature wise.
- it's already possible to do this using kubeadm phases:

[code]
- such a cluster with side cars to the CP components might be unsupported in upgrades.

@kubernetes/sig-cluster-lifecycle

[2019-04-11 14:39] NeilW opened #1501 "Chicken and egg problem changing cgroup driver"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:08:49Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes vers

[2019-04-11 14:58] neolit123 commented on #1501
it's a non-fatal preflight warning.
running with either cgroupfs or systemd on the docker side will work, but as https://kubernetes.io/docs/setup/cri/ explains it's advisable to use systemd as the manager.

having said that, we might have a bug in here, such as the kubeadm-flags.env file does not receive the `--cgroup-driver=systemd` properly after the kubeadm auto-detection of the manager:
https:

[2019-04-11 15:45] neolit123 commented on #1501
@NeilW i think i might need more details from you because i could not reproduce your steps locally.

- had docker with cgroupfs as the cgroup manager
- created cluster with 1.13.5
- modified daemon.json to systemd as the cgroup manager
- restarted docker
- the cluster came back up fine
- installed kubeadm 1.14.1
- ran kubeadm upgrade plan / apply
- the cluster came back up fine
- upgraded kubelet

[2019-04-11 15:56] fabriziopandini commented on #1490
IMO this issue should be merged with discussion on https://github.com/kubernetes/kubeadm/issues/1379
/release Next

[2019-04-11 16:04] arianvp opened #1502 "Allow multiple config files"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

The current kubeadm config file passed by `--config`
is multiple yaml documents one "file" separated by `---`.

I currently have a piece of tooling that generates kubeadm configs, but as `json` because
`json` is easier to target with our code generator.  However,  `json` has no concept of multiple
documents per file.

I was wondering if

[2019-04-11 16:06] fabriziopandini commented on #984
@rojkov great
/assign @rojkov
/lifecycle active

[2019-04-11 16:12] neolit123 commented on #1502
i think we had a ticket for this already, but i cannot find it.
there is currently a working group called "component-standard" that is working on standardizing how a component configuration is treated and i think this falls under their scope.

the model of using `---` still has to be supported, but eventually other options can be considered such as passing a folder with files, the same way kubectl

[2019-04-11 16:15] fabriziopandini commented on #1502
I agree with @neolit123 that this is something that should be standard across different components

Fyi, another option discussed in the past was to allow users to pass a folder to --config instead of files, but I'm not aware of any analysis of Pro and cons of the various approaches

[2019-04-11 16:19] NeilW commented on #1501
:/

I'm using the docker.io package from the Ubuntu archives, which is 18.09.2 I think. I'll find out why kubelet is falling over and failing to restart.

[2019-04-11 16:23] mythi commented on #1495
I wonder what that might be. I have two colleagues who have seen this too and based on their reports I tried it out and I reproduced it right away. They're all on Clear Linux but there's nothing special there as far as I can tell.

@neolit123 @rosti did you also try with CRI-O and dockerd running?

[2019-04-11 18:43] utdrmac commented on #1501
From the dockerd systemctl script:

[code]

If docker does not recommend using systemd, why is kubernetes suggesting it is preferred?

[2019-04-11 18:46] neolit123 commented on #1501
please read here: https://kubernetes.io/docs/setup/cri/

[2019-04-11 18:48] utdrmac commented on #1501
It should be noted that those instructions do not work on CentOS 7.5. Even with daemon.conf contents as exactly on those docs, dockerd does not parse it and continues to start up with cgroupfs

[2019-04-11 19:11] neolit123 commented on #1501
are you naming the file /etc/docker/daemon.json ?
if it ignores that file i would consider this a bug in the daemon.

[2019-04-11 19:27] utdrmac commented on #1501
Son of a .... sorry. I named it daemon.conf for some reason.

[2019-04-12 04:42] swapblue commented on #1390
Thank you @spockmang for the explanation. Just for the record, i faced the same issue on Openstack.

[2019-04-12 07:17] NeilW commented on #1501
Ok, I think I have it.

The process that fails is as follows

- Install a 1.13.5 cluster using the k8s Debian packages at version 1.13.5, and using the docker.io package from the Ubuntu archives
- Add in a daemon.json and restart docker - which kills all the containers in the cluster. Kubelet then starts issuing errors like this:
[code]
- Upgrade the kubeadm package to 1.14.1 *which restarts kubel

[2019-04-12 08:18] bart0sh commented on #494
@rosti, @fabriziopandini @neolit123 I need your help to proceed further with this.

Current status is: [the PR](https://github.com/kubernetes/kubernetes/pull/75894l) is stuck in the review. Discussion in the design document is not moving anywhere.

Main issue with the PR is that it doesn't implement text output immediately. However, do we really need that? I don't see any need in this in the 'kube

[2019-04-12 08:38] rosti commented on #1495
Yes, they were both running and their sockets were there and existing.
Besides this being Clear Linux, what is the Docker and CRI-O versions you are using?

[2019-04-12 09:16] fkpwolf opened #1503 "how to specify etcd prefix"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one:  FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - when deploy HA k8s cluster with external etcd, I want to specify etcd prefix so different clusters can share one etcd cluster. Currently kubeadm has no this kind of configuration. And api server has supported to accept prefix as a [parameter](https://kubernetes.io/docs/reference/com

[2019-04-12 09:23] mythi commented on #1495
Docker: ```Server Version: 18.06.2```
CRI-O:  ```crio version 1.13.1```

[2019-04-12 10:57] neolit123 commented on #1501
i can no longer reproduce my steps from yesterday:
[code]

in my testing, given the default docker manager was cgroupfs and the introduction of a daemon.json changes the manager to systemd the containers are killed and not recreated. the error i'm seeing is also similar to:

the slices are an artifact of the systemd manager.

my thinking here is the following:
- a cluster is running using cgroupfs

[2019-04-12 11:25] NeilW commented on #1501
I'd agree with that. I've been fighting this for a couple of days.

Similarly if you have live restore running in the docker daemon to avoid the problem with the system being shut down when docker has a security fix upgrade, then all the containers can end up in a different cgroup and chaos ensues.

Looks like it is a rather harder problem to solve than it first appears, without a clean restart of

[2019-04-12 11:55] neolit123 commented on #494
the design proposals should happen in the document. also you have to understand that this ticket has `priority/backlog` for 1.15 and we are allocated to different tasks.

we need to be clear that the machine readable output is a much desired, but a secondary use case.
the primary use case is incremental output, one line at a time that kubeadm performs during the runtime of it's commands. with the

[2019-04-12 12:34] neolit123 commented on #1503
kubeadm already supports this using:
[code]

see here:
https://kubernetes.io/docs/setup/independent/control-plane-flags/

pass such a file to `kubeadm init` using `--config`.

please re-open if your question is not answered.
thanks.

[2019-04-12 12:34] #1503 closed

[2019-04-12 12:34] neolit123 commented on #1500
please reopen if you question is not answered.

[2019-04-12 12:34] #1500 closed

[2019-04-12 13:25] rosti commented on #1495
Ok, I just reproduced it. It's a genuine bug and it was a peculiarity of my setup that was masking it.
I am working on a fix now.

/remove-priority backlog
/remove-priority awaiting-more-evidence
/priority critical-urgent

[2019-04-12 13:34] marccarre commented on #1485
@neolit123, @luxas  thanks for your help & suggestions!

1.  `--v=2` (thanks for the tip!) allowed me to find another issue hidden under this one: my way of using `kubeadm` was creating two `kube-system/bootstrap-token-$TOKEN_ID` `Secret`s, and the way I was programmatically reading these secrets back could end up with the incorrect bootstrap token, and eventually lead to `couldn't validate the id

[2019-04-12 15:58] rosti commented on #874
We may want to try to tackle this in 1.15.

As part of the manual testing that I did for #1495, I found out that the instructions for CRI-O on Ubuntu [here](https://kubernetes.io/docs/setup/cri/#cri-o) aren't up to date.
First, I had some problem installing the 1.11 package and I installed CRI-O 1.13 instead. In it, the cgroups driver was set to `systemd`. As kubelet is defaulted to `cgroupfs`, it

[2019-04-12 16:23] neolit123 commented on #874
the docs there say:

is this not actual?

this does not explain how to do it very well, but the link is here:
https://kubernetes.io/docs/setup/independent/#configure-cgroup-driver-used-by-kubelet-on-master-node

(not using the config).

the question is how to automatically detect it. should we parse `/etc/containerd/config.toml`?
is it safe long term?

it's rather sparse. docker defaults to cgroup

[2019-04-13 05:10] pytimer opened #1505 "Change the certificates expired time in config.yml when kubeadm init"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

Use `kubeadm init` to create the

[2019-04-13 10:51] neolit123 commented on #1505
having the certificates be valid for more than one year is considered a security issue.
i believe it was agreed that we should not make this configurable.

but you can always try to renew your certificates.

these are our official docs for certs renewal:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

the document is currently missing some detailed steps that can be see

[2019-04-13 16:49] brokenjacobs commented on #1223
kubelet TLS bootstrapping only generates client certificates for whatever reason:
```--bootstrap-kubeconfig string```
```Path to a kubeconfig file that will be used to get client certificate for kubelet. If the file specified by --kubeconfig does not exist, the bootstrap kubeconfig is used to request a client certificate from the API server. On success, a kubeconfig file referencing the generated

[2019-04-13 18:55] ReSearchITEng commented on #1361
@neolit123
Question: in 1.14 with master HA, is it enough to follow the https://github.com/kubernetes/kubeadm/issues/581#issuecomment-421477139 on a single master, or we have to rejoin the secondary masters again in order to refetch the certs?

[2019-04-13 19:14] neolit123 commented on #1361
rejoining the secondary control plane nodes, seems like a quick and viable option in 1,14.
we don't have any docs yet in terms of HA cert rotations.
(not to mention we are yet to add proper steps like https://github.com/kubernetes/kubeadm/issues/581#issuecomment-421477139 did).

[2019-04-13 22:15] neolit123 commented on #1223
lets summarize the issue:

as outlined by @anitgandhi:
https://github.com/kubernetes/kubeadm/issues/1223#issuecomment-454572577

the problem with kubeadm here is that we are not passing a couple of flags to the kubelet:
[code]

without these flags the kubelet defaults to self-signing it's serving certificate when it first runs, which can be verified with:
[code]

with a self-signed certificate ins

[2019-04-14 07:16] andrewwebber commented on #1361
Doesn't --experimental-upload-certs provide the basis for an easier solution to certificate rotation in HA?

[2019-04-14 09:37] neolit123 commented on #1361
one way to do HA cert rotation is:
- on a single control-plane node follow the above mentioned steps to update it's certs
- on the same CP node call:
[code]
store the certs key.

[code]
store the join command with the token.

rejoin the rest of the control plane nodes using the token and certs key, one by one using `--certs-key .... --experimental-join-control-plane`

for the workers: drain, rejoi

[2019-04-14 09:45] ensonic commented on #1401
`kubectl get po --all-namespaces -o json` won't wait, I'll try `kubectl wait --for=condition=ready --all`. It would be awesome if you can at least recommend a good solution in the docs if you don't feel like adding a `kubeadm wait` command or something like that.
That said I understand how kubernetes is fully async and components need to deal with unavailability all the time. We now modifies our c

[2019-04-14 14:09] JTRNEO commented on #1026
OMG,amazing command!!Thank u very much indeed!!

[2019-04-14 18:22] XavierTS commented on #1390
@phanikumarp What was the solution?

Experiencing this issue on Scaleway too.

[2019-04-14 21:30] #1495 closed

[2019-04-15 01:32] #1496 closed

[2019-04-15 03:47] pytimer commented on #1505
@neolit123  Thanks for you reply.

I know this security issue, and renew these certificates according to your links.

But if the certificate expired, in my case, i need to renew certificates, and  notify other system that out of cluster change the Kubernetes certificates. And some Kubernetes is not control by me, how to do it better?

[2019-04-15 09:28] neolit123 commented on #1505
it really depends on what communication channels you have with the other systems. if you automate the renewal of your cluster certs then you can possibly automate the notifications for the certs change too.

either way communicating the certs update should be secure too - e.g. sending client certificates over secure channels.

[2019-04-15 10:03] ReSearchITEng commented on #1361
@neolit123
In an 3 masters clusters, the moment we change the certs on the "primary" master, the etcd will stop working, as the certs are changed (and quorum has to be min 51%)? If so, maybe we have to somehow cordon the 2 secondary masters and only then change certs? Is "cordon master" possible?

[2019-04-15 10:12] ensonic commented on #776
The milestone (https://github.com/kubernetes/kubeadm/milestone/9) is close, where can I read about "promotion of phases to init"? https://github.com/kubernetes/kubeadm/tree/master/docs/design did not got an update for a while.

[2019-04-15 15:46] anitgandhi commented on #1223
I think something between options B+C should be done since a lot of the bootstrap token client cert/CSR logic kubelet+kubeadm would have common logic to this.

[2019-04-15 16:24] fabriziopandini commented on #1361
I am not an expert here, but I don't think automatic cert copy should get into this picture

Automatic copy certificates handles CA, front-proxy-CA, etcd-CA (with 10 years TTL) and SA key (without TTL)

Cert renew command touch all the other certificates (with 1 year TTL), that are different across masters.
AFAIK, currently there is nothing that handles certificates renewal for kubeconfig files

[2019-04-15 16:52] neolit123 commented on #1361
ok, i did not consider what "certs copy" actually does here.
we need to write proper cert rotate docs, either way.

[2019-04-15 17:15] fabriziopandini commented on #1505
@pytimer I would like to better understand your use case: which Kubernetes certificates are you moving around? The only certificate that should be moved IMO is the one in admin.conf (and with limited audience) while everything else is self-contained in the cluster...
Said that, I agree that the UX around certificates renewal can be improved

[2019-04-15 17:19] fabriziopandini commented on #1097
@neolit123 if I remember well the HA KEP already states that we want to support automation and parallel execution, so IMO this doesn't need a separated KEP.

[2019-04-15 17:23] neolit123 commented on #1097
thanks for confirming.

[2019-04-15 17:52] neolit123 commented on #776
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#init-phases

although there is a bug when skipping the kube-proxy addon from a CP node and then joining a worker node.

[2019-04-15 22:48] mdaniel opened #1507 "indicate which certificate or key is missing during DownloadCerts"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

_Although that kind of depends on one's perspective, as we will soon see_

## Versions

**kubeadm version** (use `kubeadm version`):

`kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:08:49Z", GoVersion:"go1.12.1",

[2019-04-15 22:56] fabriziopandini commented on #1507
/kind bug
/priority important-soon
/area HA
/milestone v1.15

[2019-04-15 22:59] fabriziopandini commented on #1507
@mdaniel thanks for the detailed report.
If you would like to send a PR with the patch above let me know that I will mark this issue as assigned to you (only use errors.Errorf instead of fmt.Errorf)

[2019-04-16 05:17] fabriziopandini commented on #1507
Thanks!
/lifecycle active

[2019-04-16 14:14] lancedang commented on #1025
does this problem have serious influence？I met this today and some other problem which together lead to that I can not stop certain container
`
E0416 20:07:05.161512   40706 kubelet.go:1261] Image garbage collection failed once. Stats initialization may not have completed yet: failed to get imageFs info: unable to find data for container /
E0416 20:07:09.815915   40706 remote_runtime.go:278] Conta

[2019-04-16 20:41] linxcat commented on #1105
I see this issue and I don't even have basic auth enabled. Just trying to join a node with a kubeadm config through a load balancer fails with this error.

[2019-04-16 22:02] linxcat commented on #1384
Updates? This seems nice to have and would remove the need to do ```sed -i "s/CACERTHASHHERE/sha256:$(openssl x509 -pubkey -in k8s-int.crt openssl rsa -pubin -outform der 2>/dev/null | openssl dgst -sha256 -hex)/g" kubeadm-config.yaml```

[2019-04-16 23:20] #1507 closed

[2019-04-17 04:33] 17billion opened #1510 "kubeadm(1.4.1) init fails on new control plane (ha cluster)"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:08:49Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}
`

**E

[2019-04-17 05:28] 17billion commented on #1510
I tried again and found the certificate key. I close this issue.
$ sudo kubeadm init phase upload-certs --experimental-upload-certs
[upload-certs] Storing the certificates in ConfigMap "kubeadm-certs" in the "kube-system" Namespace
[upload-certs] Using certificate key:
154323f8a204099bc8f85057734a87d3043....

[2019-04-17 05:28] #1510 closed

[2019-04-17 08:47] rojkov commented on #984
/assign @rojkov

[2019-04-17 11:43] yvespp opened #1511 "Kublet config upgrade with immutable infrastructure"
## What keywords did you search in kubeadm issues before filing this one?
config upgrade, immutable, kubelet-config

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.13.5 and v1.14.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.13.5 and v1.14.1
- **Cloud provider or hardware configuration**: vSphere

[2019-04-17 13:13] XavierTS commented on #1390
I found a solution.

Instead of using --apiserver-advertise-address=publicIp use --apiserver-cert-extra-sans=publicIp

Don't forget to replace the private ip for the public ip in your .kube/config if you use kubectl from remote.

[2019-04-17 15:34] willzhang commented on #1182
run the follow command,but there no apiVersion: kubeproxy.config.k8s.io/v1alpha1 option
kubeadm init --config=kubeadm-config.yaml --experimental-upload-certs
you must get from
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2019-04-17 16:21] timothysc commented on #1511
By policy you have to upgrade the control plane 1st.

[2019-04-17 16:21] #1511 closed

[2019-04-17 16:27] timothysc commented on #1505
We discussed the option, but the defaults are picked according to upstream support policy and you can always renew via command line.

/assign @kad

[2019-04-17 16:37] timothysc commented on #1494
@fabriziopandini we should eval on our current HA upgrade scenario.

/assign @yagonobre @fabriziopandini

[2019-04-17 16:41] timothysc commented on #1490
Closing and deferring to the other related issue.

[2019-04-17 16:41] #1490 closed

[2019-04-17 16:47] timothysc commented on #1478
We've decide that we don't want to allow a root level override (e.g. chroot) for now.

You could always solve this with a symlink today.

[2019-04-17 16:47] #1478 closed

[2019-04-17 16:54] timothysc commented on #1463
closing due to timeout.

[2019-04-17 16:54] #1463 closed

[2019-04-17 16:58] timothysc commented on #1455
We've decided against support of this feature, but it may be possible with future kustomize options in the future.

[2019-04-17 16:58] #1455 closed

[2019-04-17 16:59] timothysc commented on #1452
Closing due to workaround and lack of response.

[2019-04-17 16:59] #1452 closed

[2019-04-17 17:54] josdotso commented on #1502
I am in a situation which is similar to @arianvp's. `kubectl` accepts multiple `-f` statements, so there is precedent. `kind: List` is a kind of multi-"file" format that is compatible with JSON. Kubeadm should accept both the `---` YAML stream as well as the `kind:LIst`.

https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/list.yaml

https://kubernetes.io/docs/reference/kubectl/over

[2019-04-18 00:50] pytimer commented on #1505
Sorry, i have something during these days, reply late.

@neolit123 Thanks, i understand. But now we have no good channel to notify other systems, so if i renew these certificates, i need to work with other systems together.

@fabriziopandini I renew all certificates and move `admin.conf` to other nodes, but `sa.key` and `sa.pub` still using old.

@timothysc What's mean `picked according to upstrea

[2019-04-18 04:59] joejulian opened #1512 "coredns has caching plugin installed which causes non-authoritative responses most of the time"
## What keywords did you search in kubeadm issues before filing this one?
coredns cache

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:51:21Z", GoVersion:"

[2019-04-18 05:01] joejulian commented on #1512
/sig-network

[2019-04-18 07:13] rojkov commented on #1384
Isn't the `--discovery-file` option of `kubeadm join` command supposed to do just that?

[2019-04-18 09:59] stgleb commented on #1438
Got the same issue on my local setup

[2019-04-18 11:23] stgleb commented on #1486
got the same error

[2019-04-18 12:44] neolit123 commented on #1512
@joejulian

cc @chrisohaver @rajansandeep

what is your take on the `cache 30` value and this use case?

[2019-04-18 14:19] chrisohaver commented on #1512
The cache plugin in the default Corefile is used to reduce traffic to the upstream DNS.
As the default Corefile is structured, it also happens to cache k8s responses (for 5 seconds, the default TTL for the kubernetes plugin).
There is no significant performance benefit for CoreDNS caching the k8s responses because the kubernetes plugin more less keeps its own cache (part of the k8s client-go api w

[2019-04-18 14:29] alexbrand opened #1513 "Join command error message suggests the use of a flag that does not exist"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm join command error unsafeSkipCAVerification

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): `v1.14.1`
- **Cloud provider or hardware configuration**: AWS EC2
- **O

[2019-04-18 14:32] alexbrand commented on #1513
/assign

[2019-04-18 14:47] alexbrand commented on #1513
I think what is happening here is that the suggestion printed by the join command is saying to set the `unsafeSkipCAVerification` option in the config file.

Perhaps the error message should be more specific about this. The message could also inform the user about the `--discovery-token-unsafe-skip-ca-verification` flag.

[2019-04-18 14:51] linxcat commented on #1391
Is there any update on the release status of this fix in 1.14 and the backport status in 1.13?

[2019-04-18 14:54] ereslibre commented on #1097
The PR is open for review, but I wrote a comment on https://github.com/kubernetes/kubernetes/pull/76241#issuecomment-484543261 because unless I'm missing something I think we don't need configmap locks (or leader election at all) for this matter. Please, have a look and tell me if I'm missing anything. Thanks!

[2019-04-18 15:06] neolit123 commented on #1391
the fix is in `v1.15.0-alpha.1  v1.14.2-beta.0 v1.14.1 v1.14.1-beta.0 v1.14.0 v1.14.0-rc.1`
but we haven't done the 1.13 backport yet.

[2019-04-18 15:24] mattymo commented on #1498
This issue looks like it's some misconfiguration. In most areas of kubeadm it uses this logic:
[code]

In app/phases/upgrade/postupgrade.go, it uses:
[code]
That's just the default value, not the one actually set in the cfg object.

Since Kubespray backs up certs before upgrade and this error is not fatal, we can ignore it if rc=1 and this string is in the output. This file has been pointing to th

[2019-04-18 15:41] yastij commented on #1498
/lifecycle active

[2019-04-18 15:42] joejulian commented on #1512
That would be true if kubeadm allowed the Corefile to be configured, but that's been brought up before, too, and rejected as too difficult to maintain during the upgrade process.

[2019-04-18 15:45] joejulian commented on #1512
My view on this is that caching entries breaks existing user software and not caching increases latency. One's breaking the other's inconvenient. IMHO, the breakage should take precedent and optimizing for use case should be the responsibility of the cluster maintainer.

[2019-04-18 16:16] neolit123 commented on #1512
that is true, the umbrella ticket for allowing such customization of kubeadm generated manifests is here:
https://github.com/kubernetes/kubeadm/issues/1379

if the coredns maintainers give their +1 on modifying the default corefile in kubeadm we can proceed to change it, otherwise this ticket should be closed and mentioned in a comment in the above ticket - e.g. "allow customization of the CoreDNS

[2019-04-18 16:18] joejulian commented on #1512
That is our immediate workaround, yes.

[2019-04-18 16:30] yagonobre commented on #1513
Thanks for reporting it @alexbrand
/area ux
/lifecycle active

[2019-04-18 17:22] chrisohaver commented on #1512
It depends on how wide the breakage is.  I don't think it common for clients to reject non-authoritative responses - but I'm not a DNS expert.  Is this a python wide thing or is it something specific to your customer's application?

If this is something that is fairly common, then we should accommodate it in the default config.  If it turns out to be an unusual special case, then probably not.

[2019-04-18 19:38] samba commented on #1512
@chrisohaver it appears to be common to Python, via the `socket.getaddrinfo` call, if I'm reading correctly, in cases like this:
https://stackoverflow.com/questions/54778160/python-requests-library-not-resolving-non-authoritative-dns-lookups

[2019-04-18 21:11] chrisohaver commented on #1512
In CoreDNS you can disable cache so all local cluster zone responses will be authoritative.  But it wont change responses from upstream servers.  They would mostly be non-authoritative, retrieved from the cache of intermediate recursive servers.  This is normal, and thus confounding that Python should only be able to resolve names directly from authoritative servers.

I just sanity checked this on

[2019-04-18 21:41] fabriziopandini commented on #1493
@SataQiu is working on this
/lifecycle active

[2019-04-19 14:58] andrewsykim commented on #715
https://github.com/kubernetes/kubernetes/pull/75229 should help with some of the bootstrapping issues with kubeadm and external cloud providers

[2019-04-19 19:00] michaelfig commented on #1392
Has there been any work on flag config overrides?  After some evaluation, it appears that would solve my use case (and that `unschedulable: true` can easily be added with `kubectl cordon NODE` soon after joining the cluster).

[2019-04-19 19:13] neolit123 commented on #1392
there is a kubernetes working group called "component standard" that has the flag -> config overrides as a working item, but there are higher priorities for them ATM.

flags definitely have their benefits.
in case you re-consider, here is the kubeadm v1beta1 config documentation:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2019-04-20 13:23] pytimer commented on #1275
Hi, i have occur the same problem in `v1.11.6` version, i find the `kubelet` and `docker` log, there are no error logs, i don't know why. It's very strange.

[2019-04-20 14:16] fabriziopandini commented on #1505
@kad @pytimer

considering that you can already provide your own certificates, if necessary, and that as discussed in the kubeadm office hours ATM we are not extending/making configurable the certificate expire time for certificates created by kubeadm, IMO this issue can be closed

I'm also starting some work trying to simplify the certificate renewal UX in v1.15; I hope this will help as well

[2019-04-20 14:25] fabriziopandini commented on #1361
/assign
/lifecycle active

I'm starting to work on this issue.
There are different points to be addressed
- Even with Certificate Rotation enabled, kubelet.conf points to outdated certs
- Certificate Rotation does not update apiserver/etcd/front-proxy-client certs
- The Command kubeadm alpha phase certs renew all does not update KubeConfig files
- Documentation about certs renewal (with more detai

[2019-04-20 15:12] fabriziopandini opened #1518 "kubeadm alpha phase certs renew fails in case of external CA"
kubeadm alpha phase certs renew fails in case of external-ca

[code]
/kind bug
/priority important-soon
/area security
/assign
/lifecycle active
/milestone v1.15

[2019-04-20 15:47] pytimer commented on #1505
@fabriziopandini Thanks. I think this issue can be closed.  And i will learn how to use my own certificates for Kubernetes cluster.

[2019-04-20 16:16] fabriziopandini commented on #1505
/close

[2019-04-20 16:16] #1505 closed

[2019-04-20 16:40] fabriziopandini commented on #1498
@yastij
fyi, there is work ongoing around certs renewal during upgrades that will touch API servers certs renewal. See https://github.com/kubernetes/kubernetes/pull/76862

[2019-04-20 18:03] fabriziopandini commented on #1348
Config related
/assign @rosti

[2019-04-20 21:26] arianvp commented on #1384
Yes this is possible today.

You can do:

[code]

Then either:

1. copy over `discovery-config.yaml` to your worker nodes and `kubedm join --discovery-file ./discovery-config.yaml`
2. Or  put `discovery-config.yaml` on some webserver with HTTPs  and do `kubeadm join --discovery-file https://my-web-server.example/.well-known/k8s/discovery-config.yaml`

[2019-04-20 23:36] linxcat commented on #1384
The problem is when you're automating and creating your own CA (which good security dictates) and importing it. You aren't going to boot up servers on by one and export the CA from the master, they all need to know the hash at the same time. There's currently no alternative to sed'ing in the hash when you start your automation workflow.

[2019-04-21 08:54] arianvp commented on #1384
The `discovery-file` is just a CA cert wrapped in a YAML. One could generate it  out of band beforehand with just knowledge about the CA cert and the master IP. But I agree that feels a bit redundant as the master IP itself is already in the cert.

So it is possible. Just a bit cumbersome.   Would be nice if the discovery-file flag just took a cert as argument instead

[2019-04-22 00:35] #1501 closed

[2019-04-22 06:22] zhangxingdeppon opened #1520 "dial tcp 172.28.62.68:10250: connect: no route to host"
## Versions
<pre><code>[root@D21117U04-62-64 ~]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
**kubeadm version** (use `kubeadm version`):
</code><pre>

<pre><code>[root@D21117U04-62

[2019-04-22 06:25] pytimer commented on #1275
I find what's cause of the problem. My master config the `<ip> cloud.kubernetes.cluster.test.lb` in `/etc/hosts` and dns nameserver in `/etc/resolve.conf`, but this master can't ping dns nameserver, and the `kube-controller-manager` using `cloud.kubernetes.cluster.test.lb` to connect the `kube-apiserver` i/o timeout, so any pods can not created.

I remove the dns nameserver in `/etc/resolve.conf`,

[2019-04-22 11:02] neolit123 commented on #1275
thank you for getting back to this @pytimer
yeah, resolv.conf issues are mostly out of scope for kubeadm, they are part of the user setup / ecosystem.

[2019-04-22 11:20] neolit123 commented on #1520
hi, thank for the report, but this doesn't seem like a kubeadm problem.

the kubeadm team is relatively small and might not be able to respond to your question.
you might have better results if you post the question on stackoverflow or the #kubeadm slack channel.

[2019-04-22 11:26] neolit123 commented on #1204
closing this ticket as the work here is done.
leaving https://github.com/kubernetes/kubeadm/issues/1375 as as standalone ticket.

[2019-04-22 11:26] #1204 closed

[2019-04-22 13:11] bluebeach commented on #1432
Thanks, it works after remove etcd member manually

[2019-04-22 14:09] rosti commented on #1502
There are numerous workarounds for this one ATM. It's better to wait for WG component standard's solution on this for now.

[2019-04-22 21:14] ereslibre commented on #1383
/reopen

[2019-04-22 21:15] ereslibre commented on #1383
This error happened again with https://github.com/kubernetes/kubernetes/pull/74719. I will submit a PR for this.

[2019-04-23 00:38] zhangxingdeppon commented on #1520
ok，thanks for you ,LuckyI have resloved it,Lol,it must be appointed “--node-ip=”

[2019-04-23 01:02] neolit123 commented on #1520
than you for the response and confirming that it now works for you.

[2019-04-23 01:02] #1520 closed

[2019-04-23 01:04] neolit123 commented on #1383
CI seems to always run the tests as root, and does not catch such problems.

[2019-04-23 03:05] pytimer opened #1525 "kubeadm join node display error information not quite incorrect"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What

[2019-04-23 03:42] SataQiu commented on #1525
Thanks for reporting it @pytimer
/assign

[2019-04-23 03:48] SataQiu commented on #1525
/lifecycle active

[2019-04-23 08:42] terrywang commented on #1469
Update: I actually waited for kubeadm 1.14.1, it didn't fix the issue. Luckily, simply by following the steps in #1471 mentioned by @mauilion I was able to leverage kubeadm phase (`etcd-server` and `etcd`) regenerate etcd TLS certificate to cover k8s node IP, reconfigure etcd with new `listen-client-urls` and start etcd, subsequently run the `kubeadm upgrade plan`.

The reason why `kubeadm upgrade

[2019-04-23 12:42] neolit123 commented on #1469
hm, it should have. the PR that @fabriziopandini created was merged and tested by at least a couple of people.

and your existing cert was missing `192.168.100.21`?

[2019-04-23 13:02] terrywang commented on #1469
Yes, existing etcd server certificate SAN was missing `192.168.100.21`.

I may have forgotten to restore the static pod manifest for etcd (added node's private IP inside a VPC subnet to  `--listen-client-urls`  as a workaround when troubleshooting), this may be the reason why `kubeadm upgrade plan` still failed with v1.14.1.

Anyway, the problem is well solved.

Really appreciate your input and as

[2019-04-23 13:06] neolit123 commented on #1469
yes, that may be the cause.

[2019-04-23 13:51] willzhang commented on #1461
### the save error at v1.14.1
[code]
### kube-proxy
[code]
###LOG
[code]

[2019-04-23 13:53] willzhang commented on #1461
the init config
[code]

[2019-04-23 14:52] #1399 closed

[2019-04-23 19:13] fl-max commented on #1285
For those that stumble upon this and are using Kubeadm, the Kubeconfig is already generated and is mounted into the scheduler pod at `/etc/kubernetes/scheduler.conf`. You simply need to add `authentication-kubeconfig` & `authorization-kubeconfig` to your configuration like so:
[code]

[2019-04-23 22:11] drewgonzales360 commented on #732
I know this is old, but can someone explain what

Means?

[2019-04-23 22:50] #1097 closed

[2019-04-24 07:30] yvespp commented on #1511
@timothysc I'm trying to update the control plane first but in an immutable way.

Currently I would have to do this:
- Copy new/updated kubeadm and kubeadm config to old control plane node
- Run `kubeadm upgrade` on old node
  - Kubeadm will upgrade the kubeadm and kubelet config in cluster and the old control plane components on the node
- Delete the old node (delete the vm)
- Join the new contro

[2019-04-24 09:13] rojkov commented on #1350
Signing certs and trust bundles are clearly different things indeed.

So, I tried to separate one from the other in https://github.com/rojkov/kubernetes/commit/afed24fecbfa32d7c939fc86a9f0361e1677824c. Cluster creation (and node join) seems to work.
The algorithm for cert renewal is such that new CA certs are added to the bundle and get removed only after their expiration date.
I'm not sure how to

[2019-04-24 09:29] rosti opened #1531 "Make KubernetesDir a true constant"
The `KubernetesDir` constant is meant to be a constant under normal kubeadm operational circumstances, however it's a variable.

https://github.com/kubernetes/kubernetes/blob/5a790bce3b222b7fd1ef1225e3b20700c577088a/cmd/kubeadm/app/constants/constants.go#L36

The reason for this is, that it's used in many functions deep down the call stack of kubeadm and this makes code hard to test. Most notably

[2019-04-24 10:06] Michael-Rinne commented on #1478
@timothysc please reconsider your decision and reopen this issue.

We ran into the same issue, having a separate volume (/var/lib/docker) with large disk space and a very limited root volume.

We used a symbolic link before with K8s 1.7.11, but this started causing issues after upgrading to K8s 1.11.5, see issue [Pods stuck in Terminating status (UnmountVolume.TearDown failed) #65879](https://gith

[2019-04-24 11:04] #1525 closed

[2019-04-24 19:27] neolit123 commented on #1393
kubernetes/enhancements tracking issue:
https://github.com/kubernetes/enhancements/issues/995

KEP was added here:
https://github.com/kubernetes/enhancements/pull/994

[2019-04-25 00:15] yagonobre commented on #1531
/lifecycle active

[2019-04-25 00:59] ap0hpcservices opened #1534 "fcni"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-04-25 01:50] yagonobre commented on #1534
Empty issue
/close

[2019-04-25 01:50] #1534 closed

[2019-04-25 08:53] rojkov opened #1535 "Switch to generating ECDSA keys"
edit(neolit123)

#### v1beta4 tasks

- [x] add a field to ClusterConfiguration:
https://github.com/kubernetes/kubernetes/pull/120417

- [x] allow various ECDSA/RSA variations:
https://github.com/kubernetes/kubernetes/pull/123054

- [ ] add kinder e2e test (for latest only)?:
TO-BE-DECIDED, maybe we are OK with just unit tests?

~- [ ] remove the feature gate PublicKeysECDSA (same release as v1beta

[2019-04-25 08:54] rojkov commented on #984
The corresponding PR is https://github.com/kubernetes/kubernetes/pull/76390.

[2019-04-25 11:12] itpings commented on #1062
Restarting Docker did the trick...Thanks you

[2019-04-25 11:34] #1493 closed

[2019-04-25 15:48] Michael-Rinne commented on #1478
Hi @yagonobre, sorry I don't get your query.

We have a separate volume mounted on `/var/lib/docker` and we do place kubelet root dir on that volume under `/var/lib/docker/kubelet`. We used to have a symbolic link `/var/lib/kubelet` pointing to `/var/lib/docker/kubelet`, but now we are running into the reference issue where K8s is unable to unmount volumes and this block new containers from starti

[2019-04-25 16:16] ygalblum-stratoscale commented on #1478
@Michael-Rinne
For this specific issue you there are two ways you can pass parameters to kubelet before running kubeadm:
1. Using /etc/sysconfig/kubelet:
[code]
2. Via the kubeadm configuration file, by adding the section:
kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1beta1
nodeRegistration:
  kubeletExtraArgs:
    root-dir: /var/lib/docker/kubelet

The problem is that in both cases, kubead

[2019-04-26 06:10] fabriziopandini commented on #1384
/priority backlog
Considering there are at least two viable workaround (generate the CA hash, generate the kubeconfig file)

Some random thoughts about this:
I'm not sure that from an UX perspective it makes sense to allow the same flag to accept both a Kubeconfig file or a certificate file with the same flag; additionally, the Kubeconfig file carries two info (the server address and the CA file),

[2019-04-26 06:22] fabriziopandini commented on #1285
/assign

[2019-04-26 07:52] anguslees commented on #1350
Agreed.  To be clear though, the signing happens with a private key, already called out separately (`--cluster-signing-key-file`).  We just need some way to find the corresponding public key (cert).  I agree the two are conceptually separate and that the signing cert might _not_ also be in the trust bundle somewhere, but this would be odd in this situation.

(I think we should just use a separate

[2019-04-26 08:15] fabriziopandini commented on #1535
@rojkov is it possible to merge this issue with https://github.com/kubernetes/kubeadm/issues/984?

[2019-04-26 08:56] rojkov commented on #1535
@fabriziopandini I don't think it's needed as they are different issues: #984 is about kubeadm accepting pre-generated ECDSA certs (without kubeadm) and this issue is about kubeadm generating ECDSA certs itself.

[2019-04-26 10:12] fabriziopandini opened #1540 "Certificate renewal vs config changes"
As of today `kubeadm alpha certs renew` has an inconsistent behavior wrt to the usage of the kubeadm config

1. `kubeadm alpha certs renew` reads the current certificates as the authoritative source for certificates attributes
2. `kubeadm alpha certs renew --csr-only` uses the kubeadm config as the authoritative source for certificates attributes

Please note that 1. is used also during upgrades,

[2019-04-26 12:52] ryangrahamnc commented on #1447
I get this issue too.

Dump the config to a file and edit:
`kubeadm config view > /root/kubeadmconf.yml`
`vim /root/kubeadmconf.yml` to add my new hostname:
[code]

Apply the change:
`kubeadm config upload from-file --config /root/kubeadmconf.yml`

`kubectl get -n kube-system cm kubeadm-config -o yaml` shows my change

Then try to update the keys:
[code]
^ does not show my new hostname

[code]
^ d

[2019-04-26 15:03] frittentheke commented on #1384
@arianvp kubeadm does expect a join token via the CLI ... still.

[2019-04-26 15:34] arianvp commented on #1384
@frittentheke Yes. there are two tokens at play here.  One is the `--tls-bootstrap-token` which we still need.    `--discovery-file` replaces just the `--discovery-token + --discovery-token-ca-cert-hash`

By default if you specify `--token` it sets `--tls-bootstrap-token` and `--discovery-token` to the same value.

As far as I understand `--tls-bootstrap-token` can be hardcoded apriori on both the

[2019-04-26 15:51] timothysc commented on #1318
Let's discuss during the next call.
I do think we should allow folks to skip but the SLO's from kubeadm side are gone then b/c of the permutations.

[2019-04-26 17:01] dims commented on #526
/unassign

[2019-04-26 17:35] #1428 closed

[2019-04-26 17:35] timothysc commented on #1427
Closing due to timeout.

[2019-04-26 17:35] #1427 closed

[2019-04-26 17:43] neolit123 commented on #1393
update the OP with:

[2019-04-26 17:54] timothysc commented on #741
Closing due to staleness.

[2019-04-26 17:54] #741 closed

[2019-04-27 02:56] #984 closed

[2019-04-27 04:05] joshrosso opened #1541 "Do not enable static pods on non-control plane nodes by default"
## FEATURE REQUEST

Non-control plane nodes run their kubelets with static pods enabled. I _think_ this is unnecessary and may even provide a security risk. As a process or workload that gains `hostPath` access can arbitrarily place manifests in `/etc/kubernetes/manifests` and run privileged workloads.

My suggestion is to not include the following in `/var/lib/kubelet/config.yaml`.

[code]

This

[2019-04-27 07:19] fabriziopandini commented on #1518
/close

[2019-04-27 07:19] #1518 closed

[2019-04-27 12:29] neolit123 commented on #1541
static pods are still considered as an alternative way to run a workload on a node.
the user might decide to not manage it via the API server and scheduler so this does have some non-common benefits.

if we remove this capability now, we might be breaking existing workload scenarios, even if they might be rare.

such a workload would need to be privileged to write to the default manifest path. so

[2019-04-27 12:41] fabriziopandini opened #1543 "Replace kubernetes-anywhere tests with kinder tests"
Kinder test is there, so finally it is possible to get rid of tests using kubernetes-anywhere (which is not maintained anymore)

Currently there are following tests using kubernetes-anywhere:

- [ ] ci-kubernetes-e2e-kubeadm-gce-1-11
- [ ] ci-kubernetes-e2e-kubeadm-gce-1-12
- [ ] ci-kubernetes-e2e-kubeadm-gce-1-13
- [ ] ci-kubernetes-e2e-kubeadm-gce-1-14
- [ ] ci-kubernetes-e2e-kubeadm-gce-master

[2019-04-27 12:45] neolit123 commented on #1543
/assign

[2019-04-27 14:50] pytimer commented on #1541
We run ovs-agent by static pod, so the kubelet default static pod path is useful to me.If we remove this  capability, i must change other way to deploy ovs-agent.

If we remove this capability, it should support other way instead of static pod.

[2019-04-27 21:30] joshrosso commented on #1541
@pytimer: for my learning, why run ovs-agent as a static pod rather than a daemonset?

@neolit123:

I believe the exploitation scenario would only require the following.

1. Using `hostPaths` was not restricted on the workload.
1. The workload's process is allowed to run as root inside the container.

Here is my testing to prove this out. If I am misinterpreting the results, let me know.

I have c

[2019-04-28 01:15] mauilion commented on #1541
I also strongly believe that static pod manifests should not be on by defaul on non control plane nodes. This is more a "security best practice" in my mind.

Josh brings up a good point above around the behavior of things like PodSecurityPolicy and static pods.

With the ability to mount hostpath on the workers (which currently can only be limited by object quota and pod security policy) A user ca

[2019-04-28 02:27] pytimer commented on #1541
@joshrosso In my environment, every node has two network interface, one interface is internal ip and another is external ip, ovs will create a `br-ex` network interface and setting external ip on `br-ex`. Kubelet set `--node-ip=<external-ip>`, because if i use internal ip, i can't access service that running in cluster from external.

If i reboot this node when i use `Daemonset`, the ovs-agent pod

[2019-04-28 15:45] bincyber commented on #1318
There is a hackish workaround for kube-router users:

Create a kube-proxy daemonset and use `nodeAffinity` to ensure it cannot be scheduled on any node:
[code]
During the upgrade of the first Kubernetes master node, it will fail on the final [post-upgrade task](https://github.com/kubernetes/kubernetes/blob/v1.13.1/cmd/kubeadm/app/phases/upgrade/postupgrade.go#L118) in which the kube-proxy daemonse

[2019-04-28 16:59] neolit123 commented on #1541
thanks for the comments. i will add an agenda item for the kubeadm office hours meeting on wednesday.

[2019-04-28 22:13] yastij commented on #1498
/close

[2019-04-28 22:13] #1498 closed

[2019-04-28 23:12] stgleb commented on #1348
I use custom port - 443 for kube-apiserver, first node starts with correct port, but the rest of  masters gets up with port 6443

[2019-04-29 00:45] chenzhiwei commented on #1420
https://kubernetes.io/docs/concepts/services-networking/service/#externalname

[2019-04-29 04:21] dotbalo commented on #1181
My kubernetes cluster is v1.13.5 and etcd is v3.3.10.
Then I have the same error, but my etcd cluster uses an SSD hard drive. The read and write speed is as follows:
[code]

error logs:
[code]

Is my disk too slow?

[2019-04-29 13:21] yagonobre commented on #1318
We should promote upgrade to phase to allow the `--skip-phases` flag.

[2019-04-29 13:27] neolit123 commented on #1318
it's a matter of bandwidth for the release cycle and who can work on it.
currently we are fixing some aspects of upgrades related to certs renewal, so it might be a better idea to leave it for the next cycle so that we don't have conflicting PRs.
cc @fabriziopandini for an opinion.

[2019-04-29 13:32] yagonobre commented on #1318
I'll work on reset phases this week, probably I'll be able to work on reset phase next week.

[2019-04-29 13:57] timothysc commented on #1541
@mauilion @joshrosso - I'm not opposed and would consider it cleaner, but can you outline the security issue here, b/c that location is locked down.

[2019-04-29 16:24] timothysc commented on #526
I'm going to close here now as https://github.com/kubernetes/cloud-provider/issues?q=is%3Aissue+is%3Aopen+label%3AP0 is tracking their updates.

[2019-04-29 16:24] #526 closed

[2019-04-29 17:30] joshrosso commented on #1541
@timothysc : does the scenario at https://github.com/kubernetes/kubeadm/issues/1541#issuecomment-487321405 highlight it?

Can you elaborate on "locked down" ?

I'm interested in these. On the control-plane, prior to Kubernetes existing, i can see the value. But for workers, it is less clear to me.

Thanks in advanced.

[2019-04-29 19:48] juliohm1978 opened #1546 "kubeadm stuck updating kube-scheduler static pod"
## Is this a request for help? Yes

## What keywords did you search in kubeadm issues before filing this one?
kubeadm stuck Static pod

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.3", GitCommit:"435f92c719f279a3a67808c80521ea17d5715c66", GitTree

[2019-04-29 19:51] geranim0 commented on #1477
Had the same issue, turns out I had ufw enabled. Disabled it solved.

[2019-04-29 20:29] neolit123 commented on #1546
hi, do you get any hints if you increase the verbosity level with e.g `--v=4`.

i don't understand this part, could you please elaborate?
how is kubeadm upgrade used here to add extra nodes to a Kubespray cluster?

anything special about the existing scheduler pod - can you share its manifest?

[2019-04-29 21:11] fejta opened #1547 "area/kubeadm label does not exist"
/assign @timothysc @fabriziopandini @neolit123

[code]

Please remove this from the OWNERS file in this repo: https://github.com/kubernetes/kubeadm/blob/fc185e23ba206ac3b84befd6ff33e7c94f52235d/OWNERS#L25

Or create this label: https://github.com/kubernetes/test-infra/tree/master/label_sync

[2019-04-29 21:18] neolit123 commented on #1547
thanks for the heads up @fejta
i will remove the label from the owners file as it's not needed in this repo.

[2019-04-29 21:59] juliohm1978 commented on #1546
Ok, my apologies for closing this without a proper feedback. We needed to spin up this cluster as fast as possible today, so we decided to scrape it and reinstall it from scratch.

For what it's worth, kubeadm is used by Kubespray to install the cluster and add new nodes. We were just adding a new node. Things went really bad when we realized someone created the new node with an IP already used by

[2019-04-29 21:59] #1546 closed

[2019-04-29 22:11] #1547 closed

[2019-04-30 15:22] alexrashed commented on #784
Just for the record (as I've been struggling quite some time to get this running) here's my working config:
- Jetson TX2
- **Jetpack 4.2 / L4T 32.1.0 / Kernel 4.9.140** (has just recently been released)
- Kube-Proxy in iptables mode (with flannel as overlay network)

[code]

I cannot say for sure if all of those modules are necessary, my issue (non accessible services running on the same minion) h

[2019-04-30 15:40] saddique164 commented on #1031
I run this command and it solved my issue:

1. kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

This creates a file in /etc/cni/net.d directory with the name of 10-flannel.conflist. I believe that kubernetes requires a network, which is set by this package.
My cluster is in the following state:

NAME         STATUS   ROLES    AGE     VERSION

[2019-04-30 17:27] Michael-Rinne commented on #1478
@timothysc, I am still trying to dodge the symbolic links issue in kubernetes [Pods stuck in Terminating status (UnmountVolume.TearDown failed) #65879 ](https://github.com/kubernetes/kubernetes/issues/65879).

I wrote a script which drives kubeadm using phases and moves files generated by kubeadm in `/var/lib/kubelet` to `/var/lib/docker/kubelet` as follows:

1. sed -i -e '...' /etc/systemd/system

[2019-04-30 18:09] hh opened #1549 "kubeadm init --dry-run attempts to create folders"
## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.0-alpha.2.12+b5d9aa58e373b4", GitCommit:"b5d9aa58e373b4170f3218d561c5800a5ccd74a7", GitTreeState:"clean", BuildDate:"2019-04-30T18:02:08Z", GoVersion:"go1.12.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[2019-04-30 19:07] timothysc commented on #1549
@hh I don't see a tempdir as a problem to assemble the details..

[2019-04-30 19:11] timothysc commented on #1541
@joshrosso static manifests could do a bunch of initial node bootup conditions, data-integrity checks are a good example.  But there are a bunch of initial conditions that can be mitigated via static manifests before the node re-joins the cluster on startup.

[2019-04-30 20:56] PatrickLang commented on #1541
If someone can runs with `/etc/kubernetes` mapped and with privilege, they could have also chosen `/etc/defaults` or `/etc/rc*.d` or `/root/.bashrc` too. All those are reasonable startup vectors.

I'm considering using static pods for IoT scenarios on Linux where I may not have direct connectivity to the apiserver. Instead of relying on docker restart-always or another systemd entry, I'd rather ju

[2019-04-30 22:18] yagonobre commented on #1549
/cc

[2019-04-30 23:33] falken commented on #1300
Just experienced this today on 1.14.1

The instance running one of my master nodes failed which kept it from being gracefully removed. When a new node tried to come in it failed to join due to the error described in this ticket.

I had to manually remove the etcd member via etcdctl, then I could join in a new node. I also manually removed the node from the kubeadm-config ConfigMap, but I am not su

[2019-05-01 14:17] bor8 commented on #610
To disable it permanently, just insert `@reboot /sbin/swapoff -a` with a line break at the end in `sudo crontab -e`.

Tested on Ubuntu 16.04 and 18.04.

[2019-05-01 16:07] timothysc commented on #1318
Current plan is to re-evaluate execution of this item in the 1.16 timeframe.

[2019-05-01 18:49] joshrosso commented on #1541
Absolutely. The larger issue would be that one was able to create a hostPath and run as root inside their container.

But I think adding **another** start-up vector on worker nodes is still not a good idea.

Thanks for the data on static pod usage. In full transparency, I feel like these use cases are better served with config mgmt doing validation or systemd units managing lower level services. R

[2019-05-01 19:52] timothysc commented on #1541
@joshrosso we talked about it today, and there always exists the option to disable via kubelet options override today, so folks who want to can disable.

We chatted about the possible security issues but we're not overly concerned b/c if a user has access to root level locations all bets are off.

I'm not opposed to updating FAQs and guidance but given that multiple folks use the facility today, I

[2019-05-01 20:46] joshrosso commented on #1541
@timothysc: sounds good. Thanks for the consideration and follow-up.

[2019-05-01 20:54] yvespp commented on #1318
Maybe another use case for upgrade phases with immutable infrastructure to consider: https://github.com/kubernetes/kubeadm/issues/1511#issuecomment-486103732

[2019-05-01 22:10] neolit123 commented on #1541
@timothysc
as promised during the meeting today, i checked the latest CIS report that @randomvariable shared with me and this is not there (yet).

[2019-05-03 01:17] alexbrand commented on #1154
tldr: Would it make sense for kubeadm to create the `10-kubeadm.conf` file at `kubeadm init/join` time, instead of shipping the drop-in file in the kubeadm package?

---

It is somewhat unclear to me what was impossible to reproduce. With that said, I think the original issue that was brought up still stands:

I think the issue actually lies with the kubeadm package, and not necessarily with the k

[2019-05-03 04:18] tushar00jain commented on #1361
@neolit123 @fabriziopandini
are the steps you mentioned also for rotating the CA cert? Can this be documented as well? What about rotating the private keys including the one for the CA?

[2019-05-03 06:08] fabriziopandini commented on #1361
@tushar00jain rotation of CA cert is tracked in another issue https://github.com/kubernetes/kubeadm/issues/1350
This issue focus on signed certs inly

[2019-05-03 16:06] timothysc commented on #1535
@rojkov - could you please attach your PRs to this issue and what else needs to get done here?

/cc @kad

[2019-05-03 16:14] timothysc commented on #1481
Closing b/c @kubernetes/sig-release has sent out messaging on this issue.

[2019-05-03 16:14] #1481 closed

[2019-05-03 16:16] timothysc commented on #1462
Closing due to inactivity.

[2019-05-03 16:16] #1462 closed

[2019-05-03 16:19] timothysc commented on #1436
closing due to inactivity.

[2019-05-03 16:19] #1436 closed

[2019-05-03 16:23] timothysc commented on #1431
As of today we should probably just remove the commented test.

[2019-05-03 16:24] timothysc commented on #1425
/assign @yagonobre

[2019-05-03 16:27] timothysc commented on #399
/assign @Klaven

[2019-05-03 16:28] timothysc commented on #494
/cc @akutz @randomvariable @detiber

[2019-05-03 16:29] neolit123 commented on #1420
@chenzhiwei
could you explain what you are trying to say by quoting:
https://kubernetes.io/docs/concepts/services-networking/service/#externalname

[2019-05-03 16:30] neolit123 commented on #1420
the user is claiming that it used to work.

[2019-05-03 16:31] timothysc commented on #810
Closing in favor of #494 b/c changes there will overlap in this area.

[2019-05-03 16:31] #810 closed

[2019-05-03 16:34] timothysc commented on #813
Closing in favor of #1543 where the changes are being made.

[2019-05-03 16:34] #813 closed

[2019-05-03 16:39] timothysc commented on #874
IMO this should really be an output variable of cri-tools.

[2019-05-03 16:40] timothysc commented on #902
/assign @Klaven

[2019-05-03 16:40] timothysc commented on #902
please re-eval and see if this still applies.

[2019-05-03 16:41] timothysc commented on #949
Windows flag handling will overlap with this work.

[2019-05-03 16:48] timothysc commented on #965
closing stale.

[2019-05-03 16:48] #965 closed

[2019-05-03 16:51] timothysc commented on #967
Closing this should no longer apply.

[2019-05-03 16:51] #967 closed

[2019-05-03 16:54] yaegel commented on #1436
Migrating to 1.13 fixed the issue.  Thanks.

[2019-05-03 16:56] timothysc commented on #988
We should mark as deprecated and shift towards `kubeadm init phase upload-config`

[2019-05-03 20:23] neolit123 commented on #983
with kind moving to containerd, we are now going to lack dockershim tests on the kubeadm nodes.
then again, we are testing k8s + kubeadm boostrap and the CRI testing itself should be on the sig-node side.

IMO, this ticket can be soon closed.

[2019-05-03 21:50] aojea commented on #1420
@neolit123 I think that @chenzhiwei wants to quote this paragraph on that link

that honestly seems a reason to close the issue,

[2019-05-03 22:02] neolit123 commented on #1420
@aojea

ok, this makes sense.

that part that confuses me is that we defaulted CoreDNS back in kubeadm 1.11.
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md#sig-cluster-lifecycle

but i'm going to close this.
thanks for the details.

[2019-05-03 22:02] #1420 closed

[2019-05-04 19:13] #1358 closed

[2019-05-04 20:28] chrono2002 commented on #1461
same here

[2019-05-04 21:02] fabriziopandini commented on #1543
@neolit123 on slack
re: kubernetes-anywhere jobs. while we are soon to have replacements for everything, we can't remove all of them yet. only the upgrade ones.
the rest are present in the release-informing dashboard, so this requires sig-release/sig-testing discussion.

[2019-05-05 06:13] Eliefly commented on #78
In kubeadm 1.6.0 the `kubeadm token create` is not available, i run this command get the token.
`kubectl -n kube-system get secret clusterinfo -o yaml | grep token-map | awk '{print $2}' | base64 -d | awk -F\" '{print $2 "." $4}'`

[2019-05-05 08:54] fabriziopandini commented on #1543
Current status about release informing is:
- gce-master is in sig-release-master-informing
- gce-1-14 is in sig-release-1.14-all
- gce-1-13 is in sig-release-1.13-all
- gce-1-12 is in sig-release-1.12-all
- gce-1-11 is missing from sig-release-1.11-all, this seems an error
- gce-upgrade-stable-master is in sig-release-master-informing
- gce-upgrade-1-13-1-14 is in sig-release-1.14-all
- gce-upgrad

[2019-05-05 09:01] fabriziopandini commented on #1543
About run frequency:
- gce jobs every 2h for master, every 12h for an older release
- gce-upgrade jobs every 6h for master, every 12h for an older release
- gce-x-on-y jobs every 4h for master, every 12h for an older release
- [kind jobs every 1h for master, every 4h for an older release]

[2019-05-05 09:08] fabriziopandini commented on #1543
About notifications:
- gce jobs (with the exception of 1.11) send notifications after failing for 24h
- gce-upgrade jobs do not send notification
- gce-x-on-y jobs, only for stable-on-master, send notifications after failing for 24h
-[kind jobs send notifications after failing for 24h]

[2019-05-05 09:17] fabriziopandini commented on #1543
wrap up: the proposal to be discussed next kubeadm office hours is:
- gce jobs are going to be deleted in favor of kubeadm-kind* jobs
- gce-upgrade jobs are going to be deleted in favor of kubeadm-kinder-upgrade* jobs
- gce-x-on-y jobs are going to be deleted in favor of kubeadm-kinder-x-on-y* jobs
- sig release dashboard will be updated accordingly, and misconfiguration fixed
- run frequency will

[2019-05-05 11:50] neolit123 commented on #1220
/lifecycle frozen

[2019-05-05 18:07] fabriziopandini commented on #1371
/close
Due to delay on answer/inactivity
Feel free to reopen if the problem persists & required info are available

[2019-05-05 18:07] #1371 closed

[2019-05-05 19:00] fabriziopandini commented on #1447
@dungdm93
I investigated the problem a little bit
`kubeadm upgrade` does not apply changes to certificates. see https://github.com/kubernetes/kubeadm/issues/1540 for more info.

As of today the only viable way to get a SANS changed is to delete the existing api-server certificate, recreate it with `kubadm init phase certs api-server --config your-local-config.yaml`, restart the component (please a

[2019-05-05 21:10] neolit123 commented on #1379
/remove-lifecycle stale

[2019-05-06 01:01] stevenmunro commented on #1092
I'm also having this issue. what is the fix?

[2019-05-06 01:10] chenzhiwei commented on #1549
I can work on this.

[2019-05-06 01:46] chenzhiwei commented on #1549
@timothysc I changed the tmp dir from `/etc/kubernetes/tmp` to `/tmp/etc/kubernetes`, and run as non-root permission with following parameters:

[code]

Output:

[code]

[2019-05-06 06:32] omegazeng commented on #1447
same issue

kubeadm v1.14.0

* kubeadm-config.yaml
ClusterConfiguration
apiServer.certSANs add a new hostname

[code]
kubeadm config view # i see the new hostname
openssl x509 -in /etc/kubernetes/pki/apiserver.crt -noout -text # only the Validity Period has updated, certSANs no effect

[2019-05-06 12:12] fabriziopandini opened #1556 "Possible regression on upgrade on master"
I discovered a possible regression on upgrades on master:

After doing `kubeadm upgrade apply -f v1.15.0-alpha.2.272+df3e59fedc89da` on the boostrap control-plane (using kubeadm v1.15.0-alpha.2.272+df3e59fedc89da), the `kubeadm-config` map does not contain the new version as expected.

[code]

Instead, all the components are properly upgraded

[code]

[2019-05-06 12:29] fabriziopandini commented on #1556
extract from the upgrade output with --v=7
[code]

[2019-05-06 12:32] ereslibre commented on #1556
Thank you @fabriziopandini, I will have a look later today.

[2019-05-06 12:36] ereslibre commented on #1556
/lifecycle active

[2019-05-06 12:57] fabriziopandini commented on #1556
@ereslibre, I already destroyed the test cluster and I can't test ATM, but probably also `kubeadm config upload` is broken (it uses the same code path)

[2019-05-06 15:48] fabriziopandini commented on #1447
@omegazeng
Please follow instructions above (don't use upgrade/don't use certs renew)

[2019-05-07 00:18] neolit123 commented on #1543
i think i went ahead of the office hours meeting and i've sent this PR that already merged:
https://github.com/kubernetes/test-infra/pull/12493

kubeadm-gce* is no longer present in release -informing and -all dashboards.
kinder jobs are now in place of skew and upgrade jobs.

the remaining tasks here are:
- remove kubeadm-gce* from both job definitions and testgrid dashboards.
- restructure our S

[2019-05-07 09:31] woopstar opened #1557 "Using --skip-phases=addon/coredns still creates kube-dns service"
## Is this a BUG REPORT or FEATURE REQUEST?
**BUG REPORT**

If you skip the `addons/coredns` phase upon install, the `kube-dns` service is still added.

[code]

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

[2019-05-07 12:24] yagonobre commented on #1557
/assign

[2019-05-07 19:28] vtobias opened #1558 "Component Pack installation - Kubernetes failure nslookup: can't resolve 'kubernetes.default'"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

 -> Checked but no case fit the scenario:
No results matched your search.
You could search all of GitHub or try an advanced search.

## What keywords did you search in kubeadm issues before filing this one?

Connections, Pink, Component p

[2019-05-07 20:20] neolit123 commented on #1558
hi 1.11 is no longer supported.
if you are able to reproduce the problem with 1.12 or later please re-open the issue.
thanks!

[2019-05-07 20:20] #1558 closed

[2019-05-07 22:43] neolit123 commented on #1052
/lifecycle frozen

[2019-05-07 23:03] frittentheke commented on #1384
@arianvp sorry I lost track of this issue and just not got to reply to you.
You are indeed correct, there are two mechanisms here at play - the bootrapping and the config-discovery.
It's currently documented that one can simply use "token" for both - see https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/#options
And when doing so, it's possible to give kubeadm the hash via "--d

[2019-05-08 03:42] jwang11 opened #1559 "Fail to create token when multi CRI sockets exist"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.0-alpha.2.323+b3a73f761f5b67", GitCommit:"b3a73f761f5b67f783d40a8b89dce47c5a015909", GitTreeState:"clean", BuildDate:"2019-05-07T06:02:57Z", GoVersion:"go1.12.4", Compile

[2019-05-08 10:29] omegazeng commented on #1447
@fabriziopandini
Thanks! I succeed to add certSAN to apiserver.crt via
[code]
---
Details:

I have 3 master node.
copy apiserver.* to other 2 master node, then restart the 3 apiserver pods.
change ~/.kube/config cluster server domain to the new one.
kubectl succeed to connect to apiserver.

[code]
have shown new domain

Finally:
[code]
restart all k8s master node one by one (Because I am not sure

[2019-05-08 10:30] SataQiu commented on #1559
Thanks for reporting it @jwang11
/kind bug
/assign

[2019-05-08 11:25] SataQiu commented on #1559
/lifecycle active
I will try to solve this problem.

[2019-05-08 15:06] timothysc commented on #1549
Closing this issue, b/c it's a security problem and doesn't affect 99% of folks.

[2019-05-08 15:06] #1549 closed

[2019-05-08 15:11] nelodvn commented on #1092
I tried what @zt706 suggested and it works.
In my case, there wasnt a cni0 interface, just a flannel.1.
I deleted the /var/lib/cni. Worked for me. thx, @zt706

[2019-05-08 15:17] yagonobre commented on #1425
I'm out of office due a conference but I'll start to work on it tomorrow.
I created this doc to discuss about the phases split. https://docs.google.com/document/d/1r13T8X7IE-FJOnjjDP5YP6Ekbj3Q2Es3Md_gEbwyy88/edit

/lifecycle active

[2019-05-08 15:30] Klaven commented on #1451
@neolit123 this was merged and can be closed

[2019-05-08 15:30] #1451 closed

[2019-05-08 18:25] neolit123 commented on #968
adding some up to date comments:

we don't test external etcd yet.

i don't think we have to have separate tests with workloads on a single master.
this will not run conformance too.

our CP components already run in static pods.
additional static pod tests seems like something SIG node should test, IMO.

this feature is slowly being phased out of support.

soon.

[2019-05-08 18:27] rdodev commented on #968
I'm no longer allocated in this line of work, so other willing soul will have to step forward and drive this.

[2019-05-08 18:29] benmoss commented on #1393
I don't see any preflight checks that are failing or not appropriate for Windows:

[code]

[2019-05-08 18:36] neolit123 commented on #1393
@benmoss
did you start the kubelet server using the `Start-Service`frontend instead of `sc`?

[2019-05-08 18:39] neolit123 commented on #1393
also, did you had to apply the `\` -> `c:\` fix i did in `\etc\kubernetes\kubelet.conf`

[2019-05-08 18:39] ksubrmnn commented on #1393
Can you share .\winsw\join.ps1?

[2019-05-08 18:45] benmoss commented on #1393
I am using WinSW to wrap kubelet.exe as a Service. I really like WinSW as a service wrapper, it would be my vote rather than using the `--windows-service` flag.

https://github.com/benmoss/kubeadm-windows/blob/master/join.ps1
https://github.com/benmoss/kubeadm-windows/blob/master/kubelet.xml

To install the service you just need to run `kubelet.exe install` from that directory. The way WinSW works

[2019-05-08 18:49] neolit123 commented on #1393
i think it might be a case where `sc` does something differently.
i will try the different options.

[2019-05-08 18:49] benmoss commented on #1393
And no, I didn't have to fix the paths in `/etc/kubernetes/kubelet.conf`. The only path problem I'm running into is that kubelet is joining paths to `/etc/kubernetes/pki/ca.crt` incorrectly. It errors with

[code]

I have been working around that by just copying `/etc` into `/var/lib/kubelet`/ but that's obviously not right.

[2019-05-08 19:43] praseodym commented on #1208
/remove-lifecycle stale

[2019-05-09 00:15] #1556 closed

[2019-05-09 10:45] gyliu513 commented on #1474
It works well with Kubernetes 1.14.

[2019-05-09 10:45] #1474 closed

[2019-05-09 12:10] rosti commented on #1559
Hi @jwang11 and thanks for filing this issue!
One possible work around for now is to use a dummy config file just for `kubeadm token create`:

[code]

then your command would look something like:
[code]

Haven't tested that myself, but it should work for now, until we get the actual fix in.

[2019-05-09 13:27] Gangadharkandula commented on #1494
hi,
i am doing master node.i given below command
## kubeadm init --config=kubeadm-config.yaml --experimental-upload-certs
i am getting error:

[kubelet-check] Initial timeout of 40s passed.

Unfortunately, an error has occurred:
        timed out waiting for the condition

This error is likely caused by:
        - The kubelet is not running
        - The kubelet is unhealthy due to a misconfigurat

[2019-05-10 04:19] Klaven commented on #902
This is still an issue, will be submitting a PR in the future to correct.

[2019-05-10 16:09] timothysc commented on #1286
@luxas why is this not enabled by default then?

[2019-05-10 16:16] liggitt commented on #1286
The controller is only started if the `BoundServiceAccountTokenVolume` feature gate is enabled:

https://github.com/kubernetes/kubernetes/blob/21bec91e895a828ee8ed8d45a7d58279b8cae46f/cmd/kube-controller-manager/app/certificates.go#L127-L130

That feature is still in alpha:
https://github.com/kubernetes/kubernetes/blob/21bec91e895a828ee8ed8d45a7d58279b8cae46f/pkg/features/kube_features.go#L493

I

[2019-05-10 16:17] timothysc commented on #1286
thx for the update @liggitt

[2019-05-10 16:20] timothysc commented on #1363
closing.

[2019-05-10 16:20] #1363 closed

[2019-05-10 16:24] timothysc commented on #1369
@fabriziopandini is currently working on the kinder guide.

[2019-05-10 16:24] #1369 closed

[2019-05-10 16:38] timothysc commented on #1392
Closing, b/c we are not going to modify for this specific behavior when there are ways to work around this problem

[2019-05-10 16:38] #1392 closed

[2019-05-10 16:40] timothysc commented on #1412
We're blocked on kubelet changes first.

[2019-05-10 16:41] #1274 closed

[2019-05-10 16:44] timothysc commented on #1260
@yagonobre @bart0sh - could you fill out what's left todo here?

[2019-05-10 16:48] timothysc commented on #1231
I debate if this has benefit in the future.

[2019-05-10 16:54] timothysc commented on #1208
I'm struggling to understand the user story specified in this issue, for example root is required for init/join/upgrade.   If you have more details please feel free to reopen.

[2019-05-10 16:55] #1188 closed

[2019-05-10 16:56] timothysc commented on #1170
Closing this issue if you modify the nodename on a running cluster this is undefined behavior.

[2019-05-10 16:56] #1170 closed

[2019-05-10 16:58] timothysc commented on #1135
We just need to verify if this still exists.

[2019-05-10 17:02] timothysc commented on #1033
I don't believe this issue exists anymore with the latest experimental control plane join behavior.  If there is an issue please feel free to reopen.

[2019-05-10 17:02] #1033 closed

[2019-05-10 17:28] kfox1111 commented on #1208
Guessing based just on the original request, that they had setup a pod security policy and that is not allowing root by default. So its blocking kubeadm from launching stuff in kube-system namespace.

It could be argued that its a misconfiguration by the user.

It would be very handy though if kubeadm registered its own permissions that it needed for working when podsecuritypolicy is enabled thoug

[2019-05-10 17:40] neolit123 commented on #1295
@oz123 @btrepp et all, LMK if merging https://github.com/kubernetes/kubernetes/pull/73101 unblocks alpine users.

[2019-05-10 17:51] neolit123 commented on #1208
i can try sending a fix for that for 1.15, but if anyone else wants it please go ahead.

[2019-05-10 21:20] oz123 commented on #1295
@neolit123 thanks for taking care. I'm going to continue the work now. This is awesome!

[2019-05-10 21:54] neolit123 commented on #1295
@oz123 could you please outline what else has to be done?

[2019-05-10 22:08] oz123 commented on #1295
@neolit123 one needs to check that failures on OpenRC don't output the message :
[code]
see `kubeletFailTempl`.

Also, kubelet flags are written to in /etc/  places which don't make sense for OpenRC and are only relevant for systemd. So this needs to be modular too ...
I didn't I can sumbit a large merge request to solve all the issues at once. I intend to split the work in about 2 to 3 more PRs.

[2019-05-10 22:23] neolit123 commented on #1295
ok, thanks for refreshing my memory. i'm starting to remember what had to be done.

preferably the changes should be well abstracted on runtime and not very intrusive to the already existing ways of handling the init system. that's mainly due to systemd being the main target.

i'd start with an utility function that detects openrc possibly under `cmd/kubeadm/app/util/initsystem`
it should have a u

[2019-05-10 22:29] oz123 commented on #1295
@neolit123 detection of init system is done properly already in
`cmd/kubeadm/app/phases/kubelet/kubelet.go`, so I don't think there is a need for another file.

[2019-05-10 22:39] neolit123 commented on #1295
hm, it will abstract the service start/stop process, but kubeadm would still read/write some files such as the dynamic drop-in file under /etc. the rest of the code would need to know about openrc too:
e.g.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/kubelet/flags.go#L120

https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for

[2019-05-10 22:42] oz123 commented on #1295
Exactly, I said above that kubeadm writes stuff on the file system in places which are systemd relevant only.
Ok then, I will do that work needed as you suggested in `cmd/kubeadm/app/util/initsystem`.

[2019-05-10 22:46] neolit123 commented on #1295
https://github.com/oz123/kubernetes/blob/2a40ef473f906b6a165690480dc000b9e5560258/pkg/util/initsystem/initsystem.go
^ if this included a method to return the enum type of the detected init system it would have been even cleaner, but as you saw merging PRs there might take a while...

[2019-05-10 23:32] #1559 closed

[2019-05-11 14:52] ammmze commented on #253
@shinichi-hashitani any idea what version of kubernetes you were building?

I haven't had any luck getting this to build for arm v6 (hoping to run on a pi zero w).

On versions `>= 1.12.0` I get something like this...

[code]

And from `>= 1.10.0 & < 1.12.0` (`1.10.0` was the earliest i've tried so far), I get something like this...

[code]

[2019-05-11 15:02] #1531 closed

[2019-05-11 23:23] neolit123 commented on #1208
cannot be reproduced with the latest master and the given PSP:

[code]

the provided PSP is in action but the image pre-pull is not blocked.
i don't think anything changed in the related kubeadm code since 1.12.x, so maybe something else changed elsewhere.

/close

[2019-05-11 23:30] neolit123 commented on #1208
@kfox1111

i'd prefer if this is tracked in a separate issue. we haven't seen any requests about this yet.

[2019-05-12 07:54] shinichi-hashitani commented on #253
@ammmze ,

Not exactly sure what is causing issues at your end, but the below is the details on my end:
Kubernetes - 1.10.2
Go - 19.4
I used WSL (Probably Ubuntu 16.x) for cross compiling those binaries.

Again, I followed the below with some modifications:
https://povilasv.me/raspberrypi-kubelet/
You can refer to this to confirm on the steps to go through.

I have prepared my note and exact steps

[2019-05-12 15:26] sdeoras commented on #1153
Ran into same issue with kubernetes v1.14.1 and cri-o v1.14.0 on a GCP Ubuntu 18.04 VM. Things worked fine when using docker though. referencing: https://github.com/cri-o/cri-o/issues/2357

[2019-05-12 15:29] praseodym commented on #1208
@neolit123 Thanks for the reply! I'm not quite sure why you cannot reproduce the issue. Was the `PodSecurityPolicy` admission controller enabled in your cluster?

What happened in my case is that the pods got assigned the `a-restricted` PSP, which includes a `MustRunAsNonRoot` rule. The description for `RunAsNonRoot` is incorrect: having it unset is not the same as explicitly setting `false`. This

[2019-05-12 18:31] neolit123 commented on #1208
i forgot enabling the admission controller.

i can reproduce the problem, except that patching with `'{"spec":{"template":{"spec":{"securityContext":{"runAsNonRoot":false}}}}}'` does not work on my side, because the pods don't get assigned the `a-restricted` PSP.

please provide detailed reproduction steps - e.g.
- when do you add the PodSecurityPolicy controller? kubeadm by default has NodeRestri

[2019-05-12 19:10] praseodym commented on #1208
My kubeadm `ClusterConfiguration` has the following setting configured:
[code]

[First add policies, then enable the admission controller.](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#enabling-pod-security-policies)

Through [cluster roles](https://gist.github.com/praseodym/88ea84fef721f0da5ecf6b1f42ba77d7#file-psp-clusterroles-yaml) that ensure only administrator users can use

[2019-05-12 21:20] neolit123 commented on #1208
thanks for the details.

the `PodSecurityPolicy` is already enabled if present in `enable-admission-plugins`, so this happens before the PSP + authorization is applied.

if these plugins are both enabled from `kubeadm init --config...` i'm not getting any pods to start in 1.12.x and 1.14.x (which is expected).

however if i start with:

then apply `psp.yaml` and `psp-clusterroles.yaml` and then mo

[2019-05-12 21:27] neolit123 commented on #1208
ok, apparently it takes a while before the pods get created after being stuck at:
[code]

i guess your patch is viable. i will send a PR, but assign some reviewers to inspect your clusterole+psp setup to verify if this our best option.

[2019-05-13 08:09] bart0sh commented on #1260
@rosti any update on this? Should we just close this issue?

[2019-05-13 11:32] yixblog commented on #980
it works for me! thanks a lot

[2019-05-13 12:46] neolit123 commented on #1260
@yagonobre promised during office hours to add the remaining items that we need to update (some unit tests), but we are mostly done here.

[2019-05-13 13:31] rosti commented on #1425
There are a few other problems to reset too:
- Needs to be made Windows friendly (extract non-Windows code from the main logic).
- Test coverage is insufficient.
- Code needs some structure to it. Currently we have a ~80 LOC function that does most of the stuff in it.

We might consider fixing everything along with phases in some of the next cycles.

[2019-05-13 14:05] yagonobre commented on #1260
for now we have 2 tests that depends on k8s version, so if we remove old etcd versions it'll break.
For me the big problem is `TestGetAvailableUpgrades` that depends on CoreDNS version of a given kubernetes version, me propose it to transform the `CoreDNSVersion`  constant in a map like the etcd version.

[2019-05-13 15:48] rosti commented on #1135
Unmerged PR (sitting for months now) to delete kubelet's `--allow-privileged` controls is kubernetes/kubernetes#71835

If the basic idea of the PR stays the same we don't have to do anything, since kubeadm no longer supplies `--allow-privileged` to kubelet and removing the option from kubelet will preserve the current behavior.

Currently I don't think, that we need to setup any PSPs, but let's ke

[2019-05-13 17:02] fabriziopandini commented on #1543
After merging
https://github.com/kubernetes/test-infra/pull/12591
https://github.com/kubernetes/test-infra/pull/12592

/close

[2019-05-13 17:02] #1543 closed

[2019-05-13 18:04] fabriziopandini commented on #1425
@yagonobre @rosti
I think that this issue has a knob that should be considered before proceeding.
Kubeadm command (and related phases) are designed for having impact on the node where the command is executed, while the request from @miry  (if I got this right) is to run kubeadm on machine A for cleaning in etcd member created on machine B (with machine B lost).

What are the impact on UX for this

[2019-05-13 19:58] neolit123 commented on #1260
+1 for CoreDNSVersion to be come a map.
same has to happen with KubeDNSVersion

are those:
TestGetAvailableUpgrades
TestEnforceVersionPolicies
?

ideally if we remove old etcd versions (i.e. SupportedEtcdVersion map values) we should also be bumping CurrentKubernetesVersion and the other constants such as MinimumKubeletVersion, so the tests should not break.

[2019-05-13 19:59] fabriziopandini commented on #968
/assign

[2019-05-13 20:11] neolit123 commented on #1425
the reset phases should continue to operate on the same node.

[2019-05-13 20:29] yagonobre commented on #1260
@neolit123  these tests use hardcoded kubernetes version, I'll try to refactor it using a map for core/kubeDNSVersion after I finish the reset phase.

[2019-05-14 04:25] danapoklepovich opened #1562 "Passing --encryption-provider-config to kubeadm for the API server"
## Versions
kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:08:49Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}

K8s version: Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290",

[2019-05-14 06:54] fabriziopandini commented on #1562
@danapoklepovich
For advanced customizations (like setting API servers extra args or defining volume mounts) you can use the kubeadm config file. See https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

[2019-05-14 07:04] fabriziopandini commented on #1447
It seems the issue is solved now. Feel free to reopen if there are still problem
/close

NB. If you are in a HA cluster created with kubeadm join --experimental-control-plane, certificates differ from one control-plane node to another. So you have to delete recreate son each node (while uploading the config can be done on the first control-plane node only)

[2019-05-14 07:04] #1447 closed

[2019-05-14 10:12] fabriziopandini opened #1563 "Check certificate expiration"
A discussed in the kubeadm office hours April 24th, we are going to create a new command `kubeadm alpha certs check-expiration`

The proposed output for this command is
[code]

As initial proposal `SET FOR AUTOMATIC RENEWAL` will be computed considering a renewal window of 180d before expiration.

This info will be used by `kubeadm upgrade apply` in order to decide if to automatically upgrade cert

[2019-05-14 10:15] fabriziopandini commented on #1563
/lifecycle active
/assign

[2019-05-14 12:15] neolit123 commented on #1563
i've commented on the PR. operators usually wait for cert expiration until the last moment, thus i proposed a threshold of 1 month.

[2019-05-14 13:20] mxey opened #1564 "kubeadm upgrade does not apply etcd configuration changes"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):v1.14.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.14.1
- **Cloud provider or hardware configuration**: QEMU/KVM
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-957.10.1.el7.x86_64
- **Others**:

[2019-05-14 13:49] fabriziopandini commented on #1563
ok, lets continue the discussion on the PR

[2019-05-14 15:12] timothysc commented on #1562
Until component config or --kustomize overrides exist we are stuck with the current work-around.

closing.

[2019-05-14 15:12] #1562 closed

[2019-05-14 15:13] timothysc commented on #1564
/assign @fabriziopandini @rosti

We talked about this issue, but I forgot if we are addressing for 1.15?

[2019-05-14 15:35] neolit123 commented on #1564
i think this is a valid observation.

[2019-05-14 17:02] fabriziopandini commented on #1564
@timothysc @neolit123 I still don't buy in the idea to run `kubeadm upgrade` for changing flags...

However. upgrade has many implementation assumptions, and what was discussed recently is that changes to the certificates are never applied. This issue hit another upgrade Vs change the cluster "glitch"

[2019-05-14 19:37] neolit123 commented on #1564
i am also -1 on this as a use case.
but we allow that by passing `--config` on `apply`.

i need a clearer picture of all the reasons we added `--config`.

[2019-05-14 23:44] neolit123 opened #1565 "kinder upgrade and ci/latest label"
recent kinder stable->master upgrade tests are red, because the
https://storage.googleapis.com/kubernetes-release-dev/ci/latest.txt (ci/latest label)
now resolves to `v1.16.0-alpha.0.xxxx`.

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-stable-master
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-stable-master

[2019-05-15 03:19] yagonobre commented on #1557
I can't reproduce it.
[code]

[2019-05-15 03:42] SataQiu commented on #1557
I agree with @yagonobre . I also can't reproduce this probelm.
No DNS pod running.
[code]

[2019-05-15 03:49] SataQiu commented on #1513
This issue has been waiting for a long time.
Are you working on it @yagonobre ?
If you are busy, I think I can have a try.

[2019-05-15 04:48] yagonobre commented on #1513
Thanks @SataQiu, I was not working on it.

[2019-05-15 05:45] RA489 commented on #1557
@woopstar Do you mind specifying os version you are using?

[2019-05-15 06:24] woopstar commented on #1557
It's not a pod, but an svc.

[2019-05-15 06:25] woopstar commented on #1557
I tried on latest stable coreos. We have the issue at Kubespray and I seached our base code for a kube-dns svc but we don't have any. And we appli the skip phase when we init the master, yet we end up with the kube-dns svc.

[2019-05-15 06:27] SataQiu commented on #1557
@woopstar svc does not exist. :man_shrugging:

[2019-05-15 06:28] woopstar commented on #1557
I'll try investigate this further then. Thanks for checking with me

[2019-05-15 07:46] pytimer commented on #1563
I am implement a service that every 6 hours it will check the certificates expire time in Kubernetes cluster, if `kubeadm` support the check, it good for me and i can use this command instead of my logic.

[2019-05-15 07:52] mxey commented on #1564
Is there a better approach to handle configuration changes? I find it useful, because I can just run it whenever the configuration file changes, no matter what changed in it.

[2019-05-15 12:26] fabriziopandini commented on #1564
@mxey the only alternative ATM is to use phases; there was some discussion about creating a better alternative, but there is no real consensus/commitment yet

Unfortunately, that's not true (e.g. changes to certificates, but I have doubts that there also some more stop-gap wrt HA cluster). It works in some cases, but it was not designed/implemented with those use case in mind

[2019-05-15 13:04] ReSearchITEng opened #1566 "v15 masterHA with LB -> etcd tries the LB's IP instead of directly the node."
kubeadm MasterHA v15 with conf files.

Error joining the secondary-master to the control plane.
It tries to go to the LB IP (10.0.0.254) instead of going directly to the 10.0.0.[1-2]:2379.

[code]

## Versions

**kubeadm version** (use `kubeadm version`):
 kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.0-alpha.3.325+a1eaacd59bec0b", GitCommit:"a1eaacd59bec

[2019-05-15 13:12] ReSearchITEng commented on #1566
/area HA

[2019-05-15 13:47] neolit123 commented on #1566
passing local etcd configuration (and ClusterConfiguration) to the secondary control plane is normally not needed any more.

i'm a bit confused why there are separate local etcd definitions in the ClusterConfigurations that allow SANs for `- machine000x` and `- machine0002.corp.example.com`. what are these machines and why are they enabled differently on the two CP nodes?

workflow:
- `kubeadm ini

[2019-05-15 14:12] ReSearchITEng commented on #1566
correct. that's what was tried initially.
E.g.
Doing init of machine01 (primary-master), *without any definition of etcd.local.\** and looking at etcd logs, one can see:
[code]
from where it was concluded that we must ClusterConfiguration etcd.local.\* in the primary-master (machine0001 - 10.0.0.1).
The etcd.local.serverCertSANs for machine000x (dns names) - probably not required indeed. IMO shoul

[2019-05-15 14:29] ReSearchITEng commented on #1566
Just tried the suggested option, where on primary-master we define the ClusterConfiguration etcd.local.\* , but on the secondary-master, we don't define the ClusterConfiguration  at all.
Result is again: secondary master fails to join with error:
[code]

[2019-05-15 14:47] ReSearchITEng commented on #1566
LB forwards only 6443 (API), no etcd related, hence the failure.

[2019-05-15 14:55] neolit123 commented on #1566
is this a security measure?
please try allowing etcd ports.

[2019-05-15 15:00] ReSearchITEng commented on #1566
LB is for API only (6443). etcd has to be peer to peer, and must not pass through LB.
If we use VIP (instead of LB), things work (this would be equivalent of LB passing 6443).

For some reason apparently k8s is trying to use the IP address of the api server to determine the etcd peers, which IMO is not correct.

[2019-05-15 15:07] fabriziopandini opened #1567 "Tracking issue for HA to beta"
What is missing for getting HA to beta in v1.15?

- [x] “--experimental-control-plane” flag to be renamed “--control-plane”
- [x] “--experimental-upload-certs” flag to be renamed “--upload-certs”. Default to true?
- [x] https://github.com/kubernetes/kubeadm/issues/1071 “kubeadm upgrade node experimental-control-plane” to be merged into “kubeadm upgrade node”
- [punted to v1.16] https://github.com/

[2019-05-15 15:10] fabriziopandini commented on #1373
moving the remaing items to https://github.com/kubernetes/kubeadm/issues/1567
Thanks to all for helping in this effor

[2019-05-15 15:10] #1373 closed

[2019-05-15 15:29] neolit123 commented on #1566
We have checked also in OpenShift, also there, LB is for API only, not for etcd ports.

that's true.

i have no explanation why your etcd tries to contact the LB, but it seems like a miss configuration.
local etcd is supposed to talk to the local api-server.

here is a working HA example on my side:

etcd manifest for primary CP:
[code]

etcd manifest on second CP
[code]

[code]

[2019-05-15 15:38] fabriziopandini commented on #1567
@neolit123 opinions about the E2E part? the main idea behind is to not recreate a new series of job for HA, but instead, make current jobs have an additional control plane node so they are testing also HA

[2019-05-15 15:46] neolit123 commented on #1567
needs discussion with the group.

i'd be interested in how the detection will work here.

+1 on switching everything to HA.

seems good. i think we can get away without upgrade for external etcd for the beta...

[2019-05-15 15:49] neolit123 commented on #1567
also i can work on these if you'd like.

[2019-05-15 17:49] ReSearchITEng commented on #1566
got the issue, I had configuration issue.

On primary-master it should be:
InitConfiguration.localAPIEndpoint.advertiseAddress -> Should be IP of the specific master machine
ClusterConfiguration.controlPlaneEndpoint -> It be the LB (as per docs)

In my case I had InitConfiguration.localAPIEndpoint.advertiseAddress as LB.

(as InitConfiguration.localAPIEndpoint.advertiseAddress becomes the IP addre

[2019-05-15 17:54] neolit123 commented on #1566
yes, that's true.
thanks for confirming.

/close

[2019-05-15 17:54] #1566 closed

[2019-05-15 19:32] #1513 closed

[2019-05-15 22:48] outcoldman commented on #1153
My problem was with the different cgroup drivers. CRIO uses systemd by default, kubelet uses cgroupfs by default.

[code]

If that is your case, see https://kubernetes.io/docs/setup/independent/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-master-node

Just write the file

[code]

and run kubeadm init after that. Or change cgroup_manager to `cgroupfs `

[2019-05-15 22:56] neolit123 commented on #1153
unlike docker cri-o and containerd are slightly more tricky to manage in terms of cgroup driver detection, but there are some plans to support that from kubeadm.

docker is handled already.

[2019-05-16 05:28] RA489 commented on #1567
@fabriziopandini i can work on some of them.
 “--experimental-control-plane” flag to be renamed “--control-plane”
  “--experimental-upload-certs” flag to be renamed “--upload-certs”. Default to true?

[2019-05-16 10:05] ylroki commented on #1438
drop 20-etcd-service-manager.conf, it works!

[2019-05-16 11:20] ReSearchITEng commented on #1566
@neolit123
Ideally, let's have a note in the https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#JoinConfiguration
stating that the etcd peer will default to localAPIEndpoint.advertiseAddress

[2019-05-16 12:40] neolit123 commented on #1567
hi @RA489 we spoke about these during yesterday's kubeadm office hours.
the idea was to do these PR last from the list from the list above.

also i think instead of renaming `--experimental-control-plane` -> `--control-plane` it might be better to have a transitional period of supporting both frags at the same time - e.g. at least 3 months.

[2019-05-16 12:52] neolit123 commented on #1566
would you mind sending a PR to update this file?
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go

not it's v1beta2.

[2019-05-16 13:53] RA489 commented on #1567
@neolit123 thanks for the explanation. let me know if i can help with some others PR

[2019-05-16 14:00] alulu-zh commented on #1277
The same problem happened in my k8s cluster with 3 master nodes and 9 worker nodes. I resolve it by steps:
- check coreDns log, and find error log
[code]
- I can't find this ip `172.19.0.1` in my cluster, so I run `iptables-save` in one node, and find `172.19.0.1:443` will jump to 3 master nodes(`192.168.3.45:6443`,`192.168.3.46:6443`,`192.168.3.47:6443`) probability
[code]
- I run `kubectl -n kub

[2019-05-17 01:21] parkjunhyo commented on #1438
I solved this issue.

docker info | grep -i cgroup
---> It can be "systemd"

/var/lib/kubelet/config.yaml
---> cgroupDriver: cgroupfs

Because of this, I can run "kubelet". So I tried to match for this value.

In /etc/systemd/system/kubelet.service.d/
10-kubeadm.conf
20-etcd-service-manager.conf  (if you want to use external etcd, this file is located in there)

In 10-kubeadm.conf
Any added option

[2019-05-17 05:51] fabriziopandini commented on #1565
@neolit123  test job upgrade-stable on master is back on track after https://github.com/kubernetes/kubernetes/pull/77931 was merged

However I propose to keep this open and rename jobs as suggested in C because it is simpler and clean (no matter if 1.14-1.15/1.15-master should be created after release cut, not after release branch created)

I propose also those changes
- `1.14->master` to be chang

[2019-05-17 14:33] yastij commented on #1105
/assign
/lifcycle active

will get to this after kubeCon

[2019-05-17 14:35] yastij commented on #1105
/lifecycle active

[2019-05-18 14:45] fabriziopandini commented on #1071
/lifecycle active
@timothysc @neolit123 @yago @ereslibre @rosti

For upgrades on nodes now we have two commands now:
1. `kubeadm upgrade node config` to be run on all nodes
2. `kubeadm upgrade node experimental-control-plane` to be run on control-plane nodes only

My proposal is to:
a. Merge the two commands into `kubeadm upgrade node`, implementing it as a command with two phases, `kubelet-config

[2019-05-18 18:37] neolit123 commented on #1071
i was thinking that we should punt the upgrade phases work to 1.16.
but if you think otherwise, it's fine.

[2019-05-18 18:44] yagonobre commented on #1276
Thanks for verify it @marc-sensenich
/lifecycle active
/assign

[2019-05-19 02:21] shf4715 opened #1568 "centos7.6 coredns is always pending and flannel cni is running"
## What keywords did you search in kubeadm issues before filing this one?

coredns,  coredns pending, taints, node(s) had taints that the pod didn't tolerate., flannel, cni,resolve.conf

## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
kubeadm version: &version.Inf

[2019-05-19 02:33] shf4715 commented on #1568
this is my shell https://gitee.com/sunhf_git/devops.git

[2019-05-19 10:25] aojea commented on #1568
The node says `KubeletNotReady  runtime nework not ready ...` It seems you have something wrong with your CNI configuration, it´s a bit odd that you mention flannel and there are several weave pods running.
I would check why is weave running and the content of the `/etc/cni/net.d/`, you should have only the flannel conf file

[2019-05-19 10:50] shf4715 commented on #1568
It was deployed when I tried to fix coredns, and I only installed flannel

[2019-05-19 19:47] #1563 closed

[2019-05-20 01:25] mzyfree opened #1569 "Set kube-proxy bindaddress through kubeadm config file failed."
[https://github.com/kubernetes/kubernetes/issues/77876](url)
k8s version: 1.14.0
Set kube-proxy bindaddress through kubeadm kubeproxyconfiguration parameters failed.Must Set the LocalAPIEndpoint to make the kubeproxy bindAddress set to [::].
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting

[2019-05-20 03:01] SataQiu commented on #1569
Thanks for reporting it @mzyfree
Can you provide more detailed information?
Such as the configuration files and commands you used.
So we can locate the problem faster!

[2019-05-20 09:41] mzyfree commented on #1569
@SataQiu
**kubeadm config file:**

kind: ClusterConfiguration
kubernetesVersion: "v1.14.0"
controlPlaneEndpoint: "2000:1691:1111:2222:aaaa:bbbb:cccc:2000"
imageRepository: "matrix"
etcd:
external:
endpoints:
\- "http://[2000:1691:1111:2222:aaaa:bbbb:cccc:1180]:2379"
\- "http://[2000:1691:1111:2222:aaaa:bbbb:cccc:1181]:2379"
\- "http://[2000:1691:1111:2222:aaaa:bbbb:cccc:1182]:2379"
apiServer:
cert

[2019-05-20 11:32] naveen-e-git commented on #1335
kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:23:09Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeStat

[2019-05-20 18:57] astrieanna commented on #494
Could someone link to the google doc referenced in this issue? I'm having trouble finding it.

[2019-05-20 18:58] akutz commented on #494
Hi @astrieanna,

I believe you can find it from https://github.com/kubernetes/enhancements/issues/1053.

[2019-05-20 19:17] astrieanna commented on #494
Maybe the help wanted label should be removed until the KEP is implementable?
(as is, this doesn't seem to fit [the definition](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md))

[2019-05-20 19:27] astrieanna commented on #1442
Is the work to be done here:
(a) Write docs for when `--experimental-upload-certs` needs to be passed
(b) Print a warning/error when `kubeadm init phase upload-certs` is run without `--experimental-upload-certs` (but not when that phase is not explicitly called).
(c) Discuss the rules for how the knowledge of whether a phase has been run explicitly or as part of a workflow is permitted to be used.

[2019-05-20 21:43] astrieanna commented on #1381
This is marked help wanted, but I'm not sure what the needed task is. One implementation has been merged then reverted; is that expected to be merged again with more warning, for 1.15? Or is the solution to this issue an alternative implementation that supports more use-cases?

[2019-05-21 00:40] chenzhiwei commented on #1569
I just confirmed with following configuration, the kube-proxy configmap still has bindAddress `0.0.0.0`:

[code]

[2019-05-21 05:37] SataQiu commented on #1569
Thank you for your detailed description. @mzyfree
And thanks for your verification. @chenzhiwei

This could be a bug, and I'll look into it.
/kind bug
/assign

[2019-05-21 08:51] SataQiu commented on #1569
/lifecycle active

[2019-05-21 09:05] RA489 commented on #1568
@shf4715 could you please try removing weave pods and apply flannel?

[2019-05-21 11:10] RA489 commented on #1568
@shf4715 i tried this on centos coredns is in running state

[code]

[2019-05-21 17:06] dannymk commented on #1285
Hmmm... I actually resolved this issue by adding the kubernetes generated ca to the system:

sudo cp /etc/kubernetes/pki/ca.crt /usr/local/share/ca-certificates/kubernetes-local-ca.crt
sudo update-ca-certificates

That did the trick for me.

[2019-05-21 17:14] astrieanna commented on #1350
@rojkov it looks like you have already made some good changes for this issue. Are you planning to submit a PR, or interested in help testing your change?

We're interested in this feature as well and would consider working on a similar implementation and PR otherwise. Sounds like the current recommendation is to have a separate trust bundle file and keep the `ca.crt` file containing the signing cr

[2019-05-21 17:46] astrieanna commented on #1367
We're picking this up, but would like some clarification. What user/group should the processes run as instead of root? Is there an existing user/group that can be assumed to exist and be unprivileged or should this be a new configuration option?

[2019-05-22 07:26] Norskel commented on #1201
I had the same problem.
I have a proxy but docker refuse to take it so have to configure the proxy to the docker client https://www.thegeekdiary.com/how-to-configure-docker-to-use-proxy/
And it's work.

[2019-05-22 10:12] RA489 commented on #1557
@woopstar  didnot got any service running
[code]

[2019-05-22 13:47] yagonobre commented on #1557
@woopstar did you have time to confirm if it not a bug?

[2019-05-22 14:00] rojkov commented on #1350
@astrieanna I'm consumed by another project ATM, but I'll try to submit a PR by the end of this week.

[2019-05-23 03:05] endzyme commented on #1487
Should this be closed due to the decision referenced in the above-mentioned PR? https://github.com/kubernetes/kubernetes/pull/77923#pullrequestreview-237992447

[2019-05-23 08:40] rosti commented on #1569
@mzyfree @chenzhiwei can you fetch the config map of the provisioned kube-proxy?
This can be done with the following command:
[code]

[2019-05-23 08:55] chenzhiwei commented on #1569
@rosti My environment was destroyed, but I checked the configmap before, the bindAddress is always `0.0.0.0`.

It is easy to reproduce this issue:

1. export the default config

[code]

2. add kube-proxy config to default config file

[code]

3. remove kube-proxy ds and cm

3. re-add kube-proxy

[2019-05-23 08:58] SataQiu commented on #1569
Yes, I agree with @chenzhiwei .
I feel that the generation logic of kube-proxy ConfigMap is problematic.

[2019-05-23 14:43] rojkov commented on #1350
@astrieanna it seems a simple rebase is not enough now after @fabriziopandini refactored the cert renewal code. If you need to fix this issue urgently please consider submitting your own PR.

I'll get back to k8s in 2 weeks hopefully.

[2019-05-23 16:03] RA489 commented on #1567
@fabianofranz  i can look into change kind-master job (and possibly kind-1.14) to test HA

[2019-05-23 16:04] RA489 commented on #1567
@fabriziopandini I can look into change kind-master job (and possibly kind-1.14) to test HA

[2019-05-23 16:28] rhtyd commented on #1105
Thanks @yastij looking forward to a fix

[2019-05-24 00:09] nzoueidi commented on #1098
@MalloZup are you still working on this? If not, I would like to give it a try. :)

[2019-05-24 00:11] nzoueidi commented on #970
Do we still need this?

[2019-05-24 02:58] mzyfree commented on #1569
@SataQiu
Here is my cm of kube-proxy:

apiVersion: v1
data:
  config.conf: |-
    apiVersion: kubeproxy.config.k8s.io/v1alpha1
    bindAddress: '::'
    clientConnection:
      acceptContentTypes: ""
      burst: 10
      contentType: application/vnd.kubernetes.protobuf
      kubeconfig: /var/lib/kube-proxy/kubeconfig.conf
      qps: 5
    clusterCIDR: fd00:177:177::/112
    configSyncPeriod: 15m0

[2019-05-24 03:58] #1460 closed

[2019-05-24 05:41] RA489 commented on #1568
@shf4715 do you still thinks it is bug

[2019-05-24 07:24] ghouscht commented on #1439
Are there any plans to change the hanling of `extraArgs` in the `ControlPlaneComponent` with v1beta2? The current implementation is backed by a `map[string]string` type and this leads to some problems we're currently facing. For example the api-server allows some arguments multiple times (`--service-account-key-file` and `--tls-sni-cert-key`). We can't handle this with the `extraArgs` type as it i

[2019-05-24 20:36] csayler commented on #1461
@timothysc when will this be fixed ?

[2019-05-24 21:00] shahbour opened #1570 "unable to fetch the kubeadm-config ConfigMap: failed to getAPIEndpoint: failed to get APIEndpoint information for this node"
I am trying to update Kubernetes Cluster from version 13.2 to 14.2 . i started with first two master nodes and it worked . when trying on the third it is giving me error

[code]

i tried to increase the log to see where the problem stand but i could not get any hint

[code]

[2019-05-25 11:01] SataQiu commented on #1570
Thanks for reporting it @shahbour
Did you set `master03` as a control plane node correctly before upgrading?
I don't see `master03` in the log :(
Your kubeadm-config ConfigMap contains only information about `master01` and `master02`.
[code]

[2019-05-25 13:35] neolit123 commented on #1461
this is marked as `help-wanted`, which means that a community contributions are appreciated.
the problem seems related to kube-proxy and IPVS kernel modules as noted by @liggetm:

please open a new issue in the k/kubernetes repository to better outline the problem with the latest details and tag `/sig network` and `/kind bug`.
this is not caused by kubeadm.

thanks.

[2019-05-25 13:35] #1461 closed

[2019-05-25 14:29] neolit123 commented on #1439
@ghouscht
unfortunately yes, using `map[string]string` does introduce this problem. we'd need something like Java's `MultiValuedHashMap` as a backend here.
kubeadm allows the component extra args from the CLI too, where this problem also minifests.

the workaround for now is to patch the e.g kube-apiserver.yaml manifest and the kubelet will restart it.

[2019-05-25 14:36] neolit123 commented on #970
i've removed the `help-wanted` here.
this comment by @fabriziopandini still applies:
https://github.com/kubernetes/kubeadm/issues/970#issuecomment-402507153

the way `--config` for `apply` works might have to be changed.

this overlaps with the Kustomize ideas:
https://github.com/kubernetes/kubeadm/issues/1379

/lifecycle frozen

[2019-05-25 15:02] neolit123 commented on #1487
as a PSA, we decided to not do that due to:
- the change will break existing kubeadm users
- the kubelet rejects `node-role` self-assigned labels (security concerns)
- in general, we do not want to auto-assign `node-roles` - it's up to the cluster operators to do that.
possibly the Cluster API implementations, should not auto-assign either.

/close

[2019-05-25 15:02] #1487 closed

[2019-05-25 15:54] neolit123 commented on #1381
we need to promote the functionality to generate new users. currently it's under alpha, but is quite useful.
the OP outlines available options.

marked as `kind/design` - i.e. needs discussion.

[2019-05-25 15:55] neolit123 commented on #494
@astrieanna +1

[2019-05-25 16:58] neolit123 commented on #1442
mostly C. added `kind/design`
error is already printed.

[2019-05-25 17:00] neolit123 commented on #1367
everybody was at kubecon, so might have been better to not send the PR before
i've replied on the PR and assigned more reviewers.

[2019-05-26 09:12] shahbour commented on #1570
No idea how this happened , i do have master, master02 and master03 . I did fix the names with ips and now it did do the update perfectly .

(May be i did some thing wrong when I updated my cluster from one master to multiple master )

Thanks for the support

[2019-05-26 09:12] #1570 closed

[2019-05-26 14:08] nzoueidi commented on #1431
I am interested to help with this issue! If anyone have any hints from that would be much appreciated.

[2019-05-26 17:59] prakashpc opened #1572 "Setting kubelet client certificate file path through kubeadm config file failed"
## What keywords did you search in kubeadm issues before filing this one?

kubelet client certificate , kubeadm config

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

Kubernetes version: 1.14

## What happened?

I want to set kubelet clientCA file path through command:
"kubeadm init --config=./kubeadm.yml --ignore-preflight-errors all"

Genereated kubelet config file(/var/li

[2019-05-26 18:00] prakashpc commented on #1572
This issues is moved from https://github.com/kubernetes/kubernetes/issues/78075

[2019-05-26 18:04] prakashpc commented on #1572
/sig cluster-lifrcycle

[2019-05-26 21:19] neolit123 commented on #1572
the PR in flight needs discussion: https://github.com/kubernetes/kubernetes/pull/78079
i will try to bring it as a discussion topic for the next meeting.

[2019-05-26 23:40] shf4715 commented on #1568
Let me see if there's something else

[2019-05-27 12:31] desdic commented on #581
This is what I need only for 1.14.2 .. any hints on how to

I know this issue is closed but I have the same problem on 1.14.2 and the guide gives no errors but I cannot connect to the cluster and reissue the token (I get auth failed)

[2019-05-27 13:36] pawanbahuguna commented on #1000
So whats the solution?

[2019-05-28 00:25] shf4715 commented on #1568
My problem is solved. I tried to remove the $KUBELET_NETWORK_ARGS configuration from the 10-kubeadm.conf file

[2019-05-28 00:26] shf4715 commented on #1568
![image](https://user-images.githubusercontent.com/12874144/58443080-3c2d8c80-8122-11e9-8e68-701131fe7533.png)

[2019-05-28 03:17] RA489 commented on #1568
@shf4715 can we close this ticket?

[2019-05-28 03:47] yagonobre commented on #1568
The problem was solved.
/close

[2019-05-28 03:47] #1568 closed

[2019-05-28 03:49] RA489 commented on #1568
@yagonobre Thanks!

[2019-05-28 06:53] RA489 commented on #1494
@username1366 can you please restart the kubelet if not running.

[2019-05-28 07:41] Cherishty opened #1575 "10-kubeadm.conf located under different folder after upgrade to 1.14"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:20:34Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Kubernetes versio

[2019-05-28 08:52] SataQiu commented on #1575
Thanks for reporting this @Cherishty
But in my environment （ubuntu 18.04）:
`10-kubeadm.conf`  is just in the `/etc/systemd/system/kubelet.service.d` folder.
[code]

Can you paste the output of  `locate 10-kubeadm.conf` ?

[2019-05-28 09:10] bart0sh commented on #1575
According to this https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml the location was changed from /etc/systemd/system/kubelet.service.d/10-kubeadm.conf to /usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf for CentOS rpms starting from kubeadm 1.13.5

[2019-05-28 09:14] Cherishty commented on #1575
@bart0sh  much of thanks for your help
@SataQiu  Yes, **10-kubeadm.conf** keeps under `/etc` for my ubuntu os as well, but only occurs on `CentOS`

[2019-05-28 09:59] bart0sh commented on #1575
the change was introduced by this commit: https://github.com/kubernetes/release/commit/6968f3b95a57bca804b3cbd1408b8f24d846b431

/usr/lib/systemd/system/kubelet.service.d/ is a better location for systemd drop-in files in my opinion. The question is why it was not changed for Debian/Ubuntu packages.

[2019-05-28 10:29] bart0sh commented on #1575
On Debian/Ubuntu the location should be /lib/systemd/system/kubelet.service.d according to what ```man systemd.unit``` suggests:
[code]

[2019-05-28 10:59] MichaleWong commented on #240
hi,guy, although it's late for 2 years, I still encountered the problem, but I fixed it. And I think people are easy to have the problem on multiple machines.
it' s not about network, it's about time on different machine. Different time makes the [token] out of date sometimes. So, try to synchronize the time on your clusters.

[2019-05-28 11:57] #1575 closed

[2019-05-28 12:20] Cherishty opened #1576 "kubeadm init will override the kubelet config under /var/lib/kubelet/config.yaml"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:20:34Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Kubernetes versio

[2019-05-28 14:16] ASLanin commented on #1390
`--apiserver-cert-extra-sans=publicIp` do not solve the problem.
Yes, it adds public IP to the Certs, but do not affects connection procedure.
The worker nodes will look for  apiserver-advertise-address during join. So they will not connect to the ptivateIP, if no route exist.
Api-server itself have two params
`--advertise-address ip` and `--bind-address ip`. It looks reasonable. But, how can  thi

[2019-05-28 14:54] yagonobre commented on #1576
You can use the `kubelet.config.k8s.io/v1beta1` on init config.
like
[code]

/triage support

[2019-05-28 16:10] rosti commented on #902
/remove-lifecycle frozen
/lifecycle active

[2019-05-28 22:02] astrieanna commented on #1286
/remove-help since there's nothing to do

[2019-05-28 22:02] astrieanna commented on #1286
/remove-help

[2019-05-28 22:16] astrieanna commented on #1266
/remove-help

I think that this does not fit the definition of [help-wanted](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md). The task here seems to be for the community to discuss and agree on an error handling/printing strategy; the definition of help-wanted says that the task should not require further discussions in the community.

[2019-05-28 22:19] neolit123 opened #1577 "Update the 1.15 documentation"
tracking issue for 1.15 docs updates.

PRs:
- [x] setup: https://github.com/kubernetes/website/pull/14594
- [x]  tasks: https://github.com/kubernetes/website/pull/14595
- [x]  reference: https://github.com/kubernetes/website/pull/14596
- [x] v1beta2: https://github.com/kubernetes/website/pull/14607 (@rosti)
- [x] cert management: https://github.com/kubernetes/website/pull/14716 (@fabriziopandini @

[2019-05-28 22:24] neolit123 commented on #1266
@astrieanna
yet the kubeadm repo does not exactly agree with the official help-wanted rules.
the overlap between help-wanted and good-first-issue is misleading.

for example, help may be wanted from experienced contributors to kubeadm, who can help confirming a bug or sending a PR to fix it. for those cases we don't have a label...

[2019-05-28 23:06] cblecker commented on #1266
@neolit123 We need these labels to be use consistently across the project, as they are entrypoints for new contributors. We have community-wide documentation that defines what they should mean.

Happy to discuss more how to help kubeadm/cluster-lifecycle call out work that needs a more experienced contributor to lead, but these specific labels tie into both project-wide and GitHub automation.

[2019-05-28 23:07] chenzhiwei commented on #1576
@Cherishty You can add your kubelet config.yaml parameters to kubeadm init config file, so kubeadm can generate the expected config.yaml for you.

But I have a PR to automatically detect cgroup-driver and systemd-resolved during generating kubelet config.yaml, so these two parameters may be changed by kubeadm. https://github.com/kubernetes/kubernetes/pull/77059

[2019-05-28 23:59] chenzhiwei commented on #874
For CRI-O, I asked this question in crio, and I think in the meantime we can get it from `/etc/crio/crio.conf`, the section is `cgroup_manager = "systemd"`.

[2019-05-29 02:54] Cherishty commented on #1576
thanks @yagonobre  and @chenzhiwei .
Yes, I did realize kubelet params can be imgrated to kubeadm config, but the only question is: **how to do so**

For instance, I want to config the `eviction policy` and `auth mode`, but I am NOT sure how to do this in kubeadm config, since the [official doc](https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1) does **NOT** mention this par

[2019-05-29 03:14] yagonobre commented on #1576
@cherishty you can use, something like this as  you init config
[code]

[2019-05-29 03:20] yagonobre commented on #1577
@neolit123 this prs include the changes on reset phase?

[2019-05-29 03:35] Cherishty commented on #1576
sounds great, can this config be used in `kubeadm join` for worker-nodes as well?

[2019-05-29 03:39] neolit123 commented on #1577
yes

[2019-05-29 03:59] yagonobre commented on #1576
Kubeadm init will you upload the kubelet config to the cluster, and kubeadm join will get this config

[2019-05-29 05:37] baifuwa commented on #1345
I created "manifests"  ,then reloaded the  k8s servers manually ,then error stoped.

[2019-05-29 05:47] RA489 commented on #1577
@neolit123 please include me in for some of the PRs

[2019-05-29 07:13] RA489 commented on #1557
@woopstar did your issue got resolved?

[2019-05-29 07:35] Cherishty commented on #1576
@yagonobre  It works! Quite appreciate for your kindly guidance!

[2019-05-29 07:35] #1576 closed

[2019-05-29 08:13] SataQiu commented on #1577
I am happy to be involved too. :laughing:

[2019-05-29 10:10] #1425 closed

[2019-05-29 18:37] neolit123 commented on #1577
it's OK, this cycle were are pressed for time after kubecon, so we i will try managing all (most) of the doc PRs.
thanks.

[2019-05-29 19:53] dbwest opened #1579 "Can I specify a specific pod-network CIDR for flannel besides 10.244.0.0/16"
## What keywords did you search in kubeadm issues before filing this one?

cidr, flannel

## Is this a BUG REPORT or FEATURE REQUEST?

I  am talking with a networking expert and we want to specify a CIDR. Should we use a different pod network besides flannel? can I do this with flannel? Am I tied to certain CIDRs? Is this a kubeadm thing? How can I plan out the networking space we're using and hav

[2019-05-29 19:58] yagonobre commented on #1579
Hi @dbwest, you can use `--pod-network-cidr` or kubeadm config. Take a look on https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

/close

[2019-05-29 19:58] #1579 closed

[2019-05-29 21:18] astrieanna commented on #1412
/remove-help

This does not fit the [help wanted definition](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md) because:
* It seems to involve community discussion/decisions (e.g. how to distribute the binary).
* It seems to be taken already (by @rosti).
* It is blocked (by kubelet changes).

[2019-05-29 21:43] rosti commented on #1569
@mzyfree That is how things are supposed to work. You should not be setting the kube-proxy bind address yourself. kubeadm is goind to default it for you, based on the local API endpoint advertise address.

[2019-05-29 21:45] rosti commented on #1569
That may as well happen due to your local API endpoint being and IPv4 address. This could easily happen if you have an IPv4 enabled on the machine and you don't fill in the setting in InitConfiguration or JoinConfiguration.

[2019-05-29 23:12] chenzhiwei commented on #874
According to https://github.com/cri-o/cri-o/pull/2416#issuecomment-496841562

[code]

[2019-05-29 23:39] neolit123 commented on #874
@chenzhiwei
nice, this is something we can look at for 1.16.
but we shouldn't use `curl/jq` and possibly try `net.Dial("unix", " /var/run/crio/crio.sock")` + `encoding/json`
instead.

also, is there something similar for containerd?

[2019-05-29 23:48] chenzhiwei commented on #874
@neolit123 I will work on this after my PR https://github.com/kubernetes/kubernetes/pull/77059 is merged.

Will try to check with containerd team about this, I can't find it on google or containerd website.

[2019-05-30 02:30] RA489 commented on #1577
@neolit123 np, let me me if i can help with some other PRs

[2019-05-30 03:55] mzyfree commented on #1569
@rosti
Yes, that's right.
I have both ipv4 and ipv6 address in my k8s enviroment and I prefer to use ipv6 address.
what makes me confused is the bindAddress in KubeProxyConfiguration not working and I must use local API endpoint in initConfiguration to make proxy bind to [::].
So what is the meaning of existence to the bindAddress config parameter in KubeProxyConfiguration for kubeadm if it strong

[2019-05-30 04:17] mzyfree commented on #1569
In the enviroment mixed with ipv4 and ipv6 address, if I doesn't set localAPIAddress in apiserver,then it
 prefer to use ipv4 address as local API address.Then I cann't bind the kube-proxy to [::] anymore.
In this scenes, I think these two parameters should be decoupling.Beacuse kube-proxy command like iptables in ipv4 and ip6tables in ipv6 are highly dependenting on this bindAddress parameters.
B