[2017-09-26 22:12] pipejakob commented on #466
@jessicaochen The idea is that, if you happen to try using an older version of kubeadm, it likely has no idea how to install newer versions of the control plane components (which have different flags). If you run an old 1.6.3 version of kubeadm, and it defaults to just getting the latest `stable`, which may be 1.8.3 in the future, the code it has to try to configure the control plane and create th

[2017-09-26 22:16] jessicaochen commented on #466
Ah, I see. I suppose the right fix is to not resolve --kubernetes-version in kubeadm unless needed. Otherwise, the upgrade tests will break when the change is made and we will loose our validation signal for the release.

[2017-09-26 22:26] pipejakob commented on #466
Yeah, if it's an easy fix, that sounds like a good approach to me. It definitely feels wrong to resolve the flag and not even use it (unless we actually use it for version checking during this phase, but I don't think we do).

[2017-09-27 00:00] yongjianmu opened #467 "Kubeadm init version"
## Versions

**kubeadm version** (use `kubeadm version`):
1.7.5

**Environment**:
- **Kubernetes version** (use `kubectl version`):
any

- **Cloud provider or hardware configuration**:
PC x86-64

- **OS** (e.g. from /etc/os-release):
CentOS Linux release 7.2.1511 (Core)
Ubuntu 16.04

- **Kernel** (e.g. `uname -a`):
3.10.0-327.22.2.el7.x86_64
4.4.0-22-generic

- **Others**:

## What happened?
The k

[2017-09-27 00:31] pipejakob commented on #467
How are you checking the version of Kubernetes being installed, to see that it's different than your `--kubernetes-version` flag?

One of the things that I think is difficult to understand about the flow is that the name `--kubernetes-version` is a bit of a misnomer: it should really be called `--kubernetes-control-plane-version` or similar. After running `kubeadm init`, you shouldn't expect that

[2017-09-27 05:56] like-inspur opened #468 "calico node error in kubeadm environment"
[root@master1 ~]# kubectl get pods -n kube-system -o wide
NAME READY STATUS RESTARTS AGE IP NODE
calico-etcd-2p27t 1/1 Running 0 7m 10.110.17.59 master1.kubeadm
calico-node-6753t 1/2 CrashLoopBackOff 6 7m 10.110.17.59 master1.kubeadm
calico-policy-controller-336633499-dn9dp 1/1 Running 0 7m 10.110.17.59 master1.kubeadm

[root@master1 ~]# kubectl log calico-node-6753t -n kube-system calico-node
W09

[2017-09-27 10:23] luxas commented on #466
@jessicaochen Both issue 2 & 3 are expected.
2: I'd really want to populate `stable-1.8` (but not stable) when RCs are cut. That is not the case yet. Right now we have a small period of time (between RC cut and official release), where you have to set this to `latest-1.8` or something else explicitely. See: https://github.com/kubernetes/kubernetes/pull/52085

3: We deliberately chose to not be abl

[2017-09-27 14:33] #430 closed

[2017-09-27 16:13] #451 closed

[2017-09-27 17:50] pipejakob opened #469 "Add / update kubeadm upgrade instructions for 1.7 -> 1.8"
During the upgrade testing for the kubeadm 1.8 release cycle, it was discovered that the existing [1.6 -> 1.7 upgrade instructions](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-7/) don't quite work for upgrading from 1.7 -> 1.8.

This is because the existing instructions ask the user to upgrade all of the OS packages at once, which upgrades kubeadm and kubelet at the same

[2017-09-27 17:52] pipejakob commented on #469
CC @jessicaochen, who I believe has the most context on this. If anyone else wants to pick this up, please coordinate with her to review for accuracy.

[2017-09-27 18:04] luxas commented on #469
That is expected. You MUST NOT use those instructions to upgrade from v1.7 to v1.8 or your cluster will break. Using `kubeadm upgrade` is the _only_ supported way.

[2017-09-27 19:46] #384 closed

[2017-09-27 20:13] pipejakob commented on #469
I should clarify: even if you use `kubeadm upgrade`, our overall flow of when to upgrade which OS package is still broken (if you try to upgrade both kubeadm and kubelet at the same time, before running `kubeadm upgrade`, then we incorrectly have a newer version of kubelet than the control plane, and I thought that this was causing nil panics).

Regardless, it sounds like we still need to write ou

[2017-09-27 20:54] medinatiger opened #470 ""kubeadm config upload from-flags" shouldn't upload kubeadm version"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
root@k8s-m:~# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-rc.1", GitCommit:"c8a2429cb355d357d90174d3744a930dbd0bbff6", GitTreeState:"clean", BuildDate:"2017-09-23T01:24:52Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Envi

[2017-09-27 21:00] pipejakob commented on #470
This was also reported in https://github.com/kubernetes/kubeadm/issues/466.

[2017-09-27 21:00] pipejakob commented on #466
There's now an issue for (2): https://github.com/kubernetes/kubeadm/issues/470 (thanks, @medinatiger!).

[2017-09-27 21:07] medinatiger commented on #470
The following command works.

kubeadm config upload from-flags --kubernetes-version=v1.7.6

Anyway, when kubernetes-version is not specified, kubeadm should try to get cluster version rather than kubeadm version.

[2017-09-27 21:38] luxas commented on #469
That's done: https://github.com/kubernetes/kubernetes.github.io/blob/release-1.8/docs/tasks/administer-cluster/kubeadm-upgrade-1-8.md

[2017-09-27 21:40] pipejakob commented on #469
Oh, fantastic! We weren't sure if it had been documented yet, hence the issue. I'll close this, then.

[2017-09-27 21:40] #469 closed

[2017-09-28 03:53] fisherxu commented on #416
Hi, @pipejakob @luxas, As said in this issue, I think we should make  `cluster-name` and  `user-name` configurable in kubeadm , and can you give some suggestions about this? Thanks :)

[2017-09-28 20:39] taherv commented on #467
@pipejakob Thanks for the clarification about what kubernetes-version really means.

A few questions :

a. So it is implied here, that the version of kubelet running is "compatible" with the version of the control plane installed (which I chose by using the `--kubernetes-version` option) ? What happens when that compatibility breaks ? Isn't kubeadm just installing a broken cluster ? Or are there s

[2017-09-28 21:53] hickey opened #471 "kubeadm should include FQDN when creating certificates"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version**: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381", GitTreeState:"clean", BuildDate:"2017-08-17T08:30:51Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version**: 1.7.4
- **Cloud provider o

[2017-09-28 21:54] jessicaochen opened #472 "Kubeadm 1.7 -> 1.8 Upgrade Tests Fail To Generate New Config"
Looks like this line is not doing what the author intended. Instead of funneling the output to the `originalConfigPath`, it put the output on stdout and tried to read `originalConfigPath`

	// modify config with specified k8s version
	if _, _, err := RunCmd("sed",
		fmt.Sprintf(`s/kubernetes_version=.*$/kubernetes_version=%s/`, v),
		backupConfigPath, ">", originalConfigPath); err != nil {
		retur

[2017-09-28 22:02] jessicaochen commented on #472
Another interesting thing to node is the version outputted was 1.8.0-rc.1.14+3b755e43700402. The lack of a v may be an issue. Would be worth checking.

[2017-09-28 22:33] danehans opened #473 "Probes Fail for IPv6"
## What happened?
When using kubeadm to deploy Kubernetes with IPv6, LivenessProbe`s for control-plane components and etcd server pods fail. This is because probes are hardcoded to use an IPv4 loopback address (127.0.0.1).

## What you expected to happen?
Control-plane and etcd server pods to pass LivenessProbes and for the pods to run.

## How to reproduce it (as minimally and precisely as possib

[2017-09-28 23:48] taherv commented on #467
I think I have a response/workaround for my question (c).

During the "apt-get install kubeadm" step, I could install the correct versions of kubelet, kubectl **first** and then install kubeadm. That should do the trick !

[2017-09-29 17:06] krousey commented on #472
/assign krousey

[2017-09-29 19:19] danehans commented on #473
cc @leblancd @pmichali

[2017-09-29 20:37] #472 closed

[2017-09-29 21:58] luxas commented on #250
After https://github.com/kubernetes/test-infra/pull/4480, https://github.com/kubernetes/test-infra/pull/4705, https://github.com/kubernetes/test-infra/pull/4784 and some other various test-infra changes, our presubmit job finally works and is enabled :tada:

Of course there are some flakes, but those are due to flaky e2e tests: http://prow.k8s.io/?job=pull-kubernetes-e2e-kubeadm-gce

I consider th

[2017-09-29 21:58] #250 closed

[2017-09-29 22:12] luxas commented on #442
@pipejakob addressed this some days ago in https://github.com/kubernetes/release/pull/413
Closing...

[2017-09-29 22:12] #442 closed

[2017-09-29 22:13] luxas commented on #431
@jessicaochen fixed this with the linked PRs (made the kubelet version lower or equal to the API version)
Also https://github.com/kubernetes/kubernetes/pull/52246 was merged, which solved the skew panic issue

[2017-09-29 22:13] #431 closed

[2017-09-29 22:14] luxas commented on #466
This upgrade path has now been manually validated, and we have green e2es running.

[2017-09-29 22:14] #466 closed

[2017-09-29 22:16] luxas commented on #402
The upgrade tests are as green as they can be, https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-upgrade-1.7-1.8 up and running correctly.
We should figure out ways to disable statefulset upgrades and similar that use functionality that is not available later.

[2017-09-29 22:16] #402 closed

[2017-09-30 03:54] praparn commented on #335
Update this issue from my lab test with 3 difference scenario (Vbox, Google Cloud, VMWare On-Premise). We facing this problem only on oracle virtualbox only with same configuration script

[2017-10-02 10:27] ggaaooppeenngg opened #474 "Can not upgrade kube-apiserver from private registry."
I checked this issue, #71 , it seems I can not add credentials if kube-apiserver is not running, but after manually pull the private image, and restart kubelet I still get the error.

`PullImage "docker.kesci.com:5000/kube-apiserver:latest" from image service failed: rpc error: code = Unknown desc = Error response from daemon: Get https://**my.private.image.registry**/v2/kube-apiserver/manifests/l

[2017-10-02 11:35] f0 commented on #471
if you set the nodeName to the fqdn it works, nodeName defaults to the hostname

[2017-10-02 16:20] kad opened #475 "kubeadm 1.8.0 can't upgrade v1.7.x to another 1.7.x"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

Upgrading from 1.7.x to another 1.7 release using kubeadm v1.8.0 leads to errors.

## Versions

**kubeadm version** (use `kubeadm version`): 1.7.5 and 1.8.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.8.0
- **Cloud provider or hardware configuration**: none
- **OS** (e.g. from /etc/os-release): CentOS 7

## What hap

[2017-10-02 16:29] f0 opened #476 "controller-manager flex volume path is hardcoded (fails on coreos)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:46:41Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Cloud provider or ha

[2017-10-02 16:31] kad commented on #475
/assign kad

[2017-10-02 20:04] krousey opened #477 "Kubeadm 1.7 -> 1.8 Upgrade Tests generate invalid config"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-upgrade-1-7-1-8/118#master-upgrade-sig-cluster-lifecycle-master-upgrade

`error: Invalid numeric literal (while parsing '1.8.1')`

[2017-10-02 20:04] krousey commented on #477
/assign @krousey

[2017-10-03 04:43] #453 closed

[2017-10-03 14:30] joedborg opened #479 "Cannot deploy Kubernetes 1.8.0 with Kubeadm 1.8.0 on Raspberry Pi"
## Versions

**kubeadm version** (use `kubeadm version`): `1.8.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `1.8.0`
- **Cloud provider or hardware configuration**: Raspberry Pi 3s
- **OS** (e.g. from /etc/os-release): `Debian Jessie`
- **Kernel** (e.g. `uname -a`): `4.9.35-v7+`

## What happened?
Kubeadm cannot bring up master.

## What you expected to happen?
Kubeadm bri

[2017-10-03 14:38] kad commented on #479
Have you tried to disable swap or add parameter to kubelet ?

[2017-10-03 15:08] joedborg commented on #479
Hey kad, thanks for the tip - oddly preflight didn't seem to catch it, but it worked!

[2017-10-03 15:08] #479 closed

[2017-10-03 16:19] jbeda opened #480 "Individual control of preflight checks"
Many times users know better than kubeadm around preflight checks.  But currently the only way to move forward with kubeadm is to disable all preflight checks.  This is a bad pattern as it'll make it easier to miss unrelated and valid checks.

It would be great if every preflight check had a specific identifier and those identifies could be used to disable specific checks.  This would be similar,

[2017-10-03 16:21] kad commented on #479
Preflight actually produced warning about that.

[2017-10-03 16:23] joedborg commented on #479
@kad, yes you're right, sorry.  Any reason why it didn't fail like it used to?  Is that a new feature?

[2017-10-03 16:24] luxas commented on #450
Fixed with https://github.com/kubernetes/kubernetes/pull/49393

[2017-10-03 16:24] #450 closed

[2017-10-03 16:25] kad commented on #479
Idea behind warning in preflight check is such that some people can run kubelet while swap is still enabled, but that require adding extra flag in kubelet systemd drop-in.
You can see example in https://github.com/kubernetes/kubernetes/issues/53333

[2017-10-03 17:06] pipejakob opened #481 "kubeadm 1.7-blocking tests consistently failing"
These tests are consistently failing, and are blocking a patch release of 1.7 now:

https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-kubeadm-1.6-on-1.7
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-kubeadm-upgrade-1.6-1.7

[2017-10-03 17:21] pipejakob commented on #481
Pull request for fixing: https://github.com/kubernetes/test-infra/pull/4847

[2017-10-03 20:33] nathanleclaire commented on #206
It would be cool if somehow this could be configured to run automatically, via cron or something like that, like Docker Swarm mode does. Swarm mode is constantly refreshing certificates, which, to be fair, has its own set of tradeoffs (example: if a worker node panics/partitions and stops refreshing certs for a while, it's locked out of the cluster. not sure if it still happens, but that was one i

[2017-10-03 20:44] jcbsmpsn commented on #206
@nathanleclaire Not sure what you mean. When certificate rotation is [enabled](https://kubernetes.io/docs/tasks/tls/certificate-rotation/) it does rotate the certificates automatically. Currently only the certificate used by the node is done. More work to do for other certificates used by Kubernetes.

[2017-10-03 20:52] pipejakob commented on #481
I just merged the fix (fingers crossed). These jobs only trigger on new commits, so I'll see if I still have permissions to manually rerun prow jobs to kick off new runs.

[2017-10-03 20:59] nathanleclaire commented on #206
@jcbsmpsn Ah, cool. Still catching up on all the fast-moving new Kube stuff :)

[2017-10-03 21:07] ReSearchITEng commented on #480
New example in 1.8.0:
systemctl start kubelet creates key files:
[code]
triggering errors in pre-flight check.
On the other side, we don't want to disable all checks.
[code]

[2017-10-03 21:12] ReSearchITEng opened #482 "kubeadm preflight-checks on /var/lib/kubelet/"
## Is this a BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:46:41Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**kubelet** `kubelet --version
Kubernetes v1.8.0`

**Environment**:
- **K

[2017-10-03 21:58] pipejakob commented on #481
I found another error for the upgrade test, with a fix here: https://github.com/kubernetes/test-infra/pull/4858

[2017-10-03 22:54] pipejakob commented on #481
The "1.6 on 1.7" job is back to green:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-6-on-1-7/622

I still need a new run of the upgrade test to confirm its fixes.

[2017-10-04 02:45] Karunamon commented on #203
Just wanted to +1. I'm trying to run across a set of Digitalocean VMs with a private IP on all of them, yet the public facing address keeps working its way into the clutser somehow.

[2017-10-04 03:52] pipejakob commented on #481
The upgrade test is running again now, with only two failing tests:

* CustomResourceDefinition resources Simple CustomResourceDefinition creating/deleting custom resource definition objects works [Conformance]
* [k8s.io] Downward API should provide pod and host IP as an env var [Conformance]

The first failure makes sense, because this test is erroneously running newer e2e tests than the control

[2017-10-04 11:19] kad commented on #482
This will be solved once https://github.com/kubernetes/kubernetes/pull/53317 merged.

[2017-10-04 15:13] liggitt commented on #482
also discussed in https://github.com/kubernetes/kubernetes/issues/53356#issuecomment-333748618

[2017-10-04 16:40] nyaxt opened #483 ""kubeadm token create"d tokens don't belong to necessary groups to allow joining existing cluster."
## What keywords did you search in kubeadm issues before filing this one?
token create

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:46:41Z", GoVersio

[2017-10-04 18:24] pipejakob commented on #481
The second test is potentially a legitimate failure. This test does seem to exist in the `release-1.7` branch, so it should be expected to pass after upgrading a cluster from 1.6 to 1.7, but since we're erroneously running the 1.8 version of the e2e tests, it's possible that the test function itself has changed in ways that aren't expected to pass against a 1.7 control plane.

[2017-10-04 18:31] tadas-subonis opened #484 "Kubeadm fails to init a master with a cloud-config because apiserver can't read it"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

the api server fails with the
[code]

the cloud config is there on a host but it seems that container can't read it.

SELinux is off:
[code]

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g.

[2017-10-04 18:33] tadas-subonis commented on #484
the entire process was started with
[code]
but it gets stuck on
[code]
logs show errors like this

[code]
that led me to find that apiserver container is down

[code]

[2017-10-04 20:40] pmcgrath commented on #483
Seeing the same issue, using same version of kubeadm 1.8 with same git commit and k8s version

Only difference is the OS is ubuntu 16.04.2 LTS

FYI I also tried with and without the --discovery-token-ca-cert-hash flag that kubeadm init echoed on the master, made no difference (Did kubeadm reset between the 2 calls so all was clean)

[2017-10-05 04:44] pipejakob commented on #481
I don't know if this should be closed yet. There are still failures in the upgrade test that might need further triaging before the next 1.7.x release, and regardless, we would still like to fix the job to use the correct e2e tests so this job would become completely green.

[2017-10-05 08:30] tadas-subonis commented on #484
I think something like this could fix that:
https://github.com/tadas-subonis/kubernetes/commit/631dd81c7f4bbaa5ac1e0e13542b43ddeb3564d7

[2017-10-05 09:38] jstomphorst commented on #262
I repoduced it with a centos 7 and kubeadm v1.8 but kubeadm reset helps...

[2017-10-05 09:42] ggaaooppeenngg commented on #474
My solution: docker pull the image and set imagePullPolicy to Never, then restart kubelet.

[2017-10-05 19:24] jbeda opened #485 "Tokens should be stripped from `kubeadm-config` config map"
This isn't part of the persistent config for a cluster but rather a point in time thing for init.  For clarity and security this should be stripped out of the configmap.

/cc @luxas @mattmoyer

[2017-10-05 19:26] jbeda commented on #483
This looks to be high priority.

[2017-10-05 20:30] luxas commented on #483
This is "by design". You need to set the group if you want to get that behavior.

What should be fixed here though (IMO):
- Documentation in the help text about this group you might wanna use
- Better kubeadm join UX?

[2017-10-05 20:32] luxas commented on #483
cc @mattmoyer can you own this if needed please? I wouldn't set this to be urgent, but we can provide a better UX

[2017-10-05 20:33] luxas commented on #485
Yes, I agree. Let's fix this in v1.8.1 if possible, but not v1.8.1 blocking.

[2017-10-05 20:41] fabriziopandini commented on #483
@jbeda @mattmoyer @luxas  why not make the default behavior of `kubeadm create token` equal to the behaviour `kubeadm init`?

In fact this is already implemented for "usages" (in this case `kubeadm create token` assign by defaults the same usages assigned by `kubeadm inits`, that is "signing", "authentication"). IF there are no issue from a security prospective, IMO we can do the same for "groups"

[2017-10-05 20:54] fabriziopandini commented on #485
I will take a look at this tomorrow or during the week end.
What about `tokenTTL`?

[2017-10-05 21:20] jbeda commented on #484
@tadas-subonis That would work but is probably overkill and would expose some stuff into the containers that we'd not want to do.  We should probably do a directory under `/etc/kubernetes/`

The problem is that we don't have explicit support for cloud providers and so we don't know about the `cloud-config` flag (which I assume is specified in your kubeadm.conf file).

Options to make this more gen

[2017-10-05 21:31] jbeda commented on #483
Workaround is to pass `--groups system:bootstrappers:kubeadm:default-node-token` to `token create`.

I agree with @fabriziopandini that it is not a great experience.  The implication is that `kubeadm token create` will, by default, give you something equivalent to the token in `kubeadm init`.

Options:
1. Update the docs for `kubeadm create` both on k8s.io and in the help text.
2. Default to the a

[2017-10-05 21:48] jbeda commented on #485
tokenTTL is incidental and can probably be stripped too.  But the key thing is to remove secret stuff from something that isn't a secret.

[2017-10-05 21:54] jbeda commented on #484
Is this a regression from 1.7?

[2017-10-05 21:56] tadas-subonis commented on #484
I haven't tried this with 1.7

On Thu, Oct 5, 2017 at 11:54 PM, Joe Beda <notifications@github.com> wrote:

--

Kind Regards,
Tadas Šubonis

[2017-10-05 22:15] sigxcpu76 commented on #484
1.7 seems fine. The code for volumes in manifests was re-done for 1.8, I think, starting July 20th.

[2017-10-05 22:20] pmcgrath commented on #483
@jbeda Just followed your suggestion and I can confirm my node has joined the cluster

Thanks

[2017-10-06 01:29] #483 closed

[2017-10-06 12:37] jamiehannaford commented on #482
Fixed by https://github.com/kubernetes/kubernetes/pull/53317 (and cherry-picked in https://github.com/kubernetes/kubernetes/pull/53448). Probably worth waiting until 1.8.1 is cut until we close this out.

[2017-10-06 12:40] jamiehannaford commented on #481
@pipejakob Are we able to apply the correct e2e tests or is it unfixable at the moment?

[2017-10-06 12:42] jamiehannaford commented on #477
@krousey Was this fixed by https://github.com/kubernetes/kubernetes/pull/53346? If so, can we close this out?

[2017-10-06 12:50] jamiehannaford commented on #476
To make this configurable, we'd probably need to:

- Add a new config option (something like `Storage.FlexPluginsPath`)
- If defined, mount this path in the manifests
- We might also need to update kubelet's `--volume-plugin-dir` and CM's `--flex-volume-plugin-dir` flags

[2017-10-06 12:56] jamiehannaford commented on #474
How do you expect kubeadm to act in this situation? We use official images and do not support custom repos. What is your use case for using a custom image?

[2017-10-06 14:03] jamiehannaford commented on #471
@hickey What happens if you specify `apiServerCertSANs`? See [config file](https://kubernetes.io/docs/admin/kubeadm/#config-file). That will allow you to append the FQDN as a SAN.

[2017-10-06 14:08] jamiehannaford commented on #468
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/53111 and https://github.com/projectcalico/calicoctl/issues/1712.

I'm going to close this since it's better tracked by https://github.com/projectcalico/calico/issues/1139.

[2017-10-06 14:08] #468 closed

[2017-10-06 14:12] jamiehannaford commented on #467
@yongjianmu When you say "the kubernetes version number is still 1.7.0", what are you basing that on? Do you mean kubectl and kubelet are still 1.7.0, but the control panel is 1.7.6?

[2017-10-06 14:14] jamiehannaford commented on #465
@imriss I'm not exactly sure what the issue is here. Is it that you expect kubeadm to restart kubelet?

[2017-10-06 14:24] jamiehannaford commented on #459
@bboreham Is there anything which indicates this is a bug with kubeadm? Or is it more of a weave issue?

[2017-10-06 14:58] imriss commented on #465
@jamiehannaford Yes, or alternately send a notification and ask the user to manually restart kubelet.

[2017-10-06 15:05] jamiehannaford commented on #465
@imriss Why do you need to restart kubelet on a fresh VM that kubeadm has just been installed to?

Or is this for VMs that had previous clusters on? Doesn't `kubeadm reset` followed by `systemctl restart kubelet` work?

[2017-10-06 15:42] kad commented on #465
How are other components are installed ? kubeadm expects to have specific systemd service file to be used for kubelet, and if you're trying to mix components packaged in ArchLinux that have different settings, it might not work as expected.

[2017-10-06 16:34] yongjianmu commented on #467
Yes, the kubectl and kubelet version are still 1.7.0 when executing "kubeadm init  --kubernetes-version = 1.7.6". Like taherv mentioned above, is that mean kubelet is running in "compatible" mode? Not sure whether it is safe.

[2017-10-06 16:47] imriss commented on #465
@kad For installation, I am using `aur` `kubernetes` package without any modifications.

[2017-10-06 16:54] bboreham commented on #459
I disgnosed a conflict between Weave and kube-proxy, provided a fix and am waiting for Ben to say whether it worked.

[2017-10-06 17:02] BenHall commented on #459
@bboreham So far so good. It seems to have resolved the issues we were seeing. Thanks so much for the help.

[2017-10-06 17:02] #459 closed

[2017-10-06 17:36] jamiehannaford commented on #465
@imriss Yeah, so as @kad already mentioned, I think there's some inconsistency with the installation expectations across distros. When kubeadm is first installed with apt, for example, it creates a systemd drop-in that set's kubelet's `--kubeconfig`. When the file is eventually written, kubelet should dynamically pick this up without the need for a restart. However, for other Linux types that don'

[2017-10-06 17:39] jamiehannaford commented on #467
As @pipejakob already mentioned, I think `--kubernetes-version` is ambiguously named. It only refers to the version of the _control panel_ (apiserver, scheduler, controller-manager and addons), not the kubelet or kubeadm which are outside the control of kubeadm. It's recommended you upgrade these tools yourself using your method of choice.

[2017-10-06 18:06] pipejakob commented on #481
It is fixable by anyone who has the time. This is something that @jessicaochen was working on before her vacation, and I believe she'll be back next week. But, if anyone else has the bandwidth, I'm sure she would appreciate the help!

My understanding of the problem is that Jessica added new code in the e2e testing framework in Kubernetes to support testing kubeadm upgrades, and this code is now o

[2017-10-06 18:55] taherv commented on #467
I understand the current situation, and it is as you described @jamiehannaford .
But the unfortunate part is that "kubeadm" itself depends on "kubelet". So now the instructions are no longer accurate. Installing an arbitrary version of kubeadm might give you an arbitrary version of kubelet (since it installs its dependencies).

We need clear cut instructions (hopefully simple), that starts with th

[2017-10-06 20:48] luxas commented on #484
Ah, I see, this is due to that we don't mount the full `/etc/kubernetes/` hostPath dir anymore, instead files only for security. I'd be happy to recieve a bugfix in v1.7 that mounts `/etc/kubernetes/cloud-config` using hostPath if the file exists and `.cloudProvider` is set. Bear in mind that we won't expand much on the functionality here (it's in alpha); instead we're moving towards out-of-tree c

[2017-10-06 21:21] luxas commented on #471
@jbeda @mattmoyer @roberthbailey @mikedanese @kubernetes/sig-auth-feature-requests  Do you think including the FQDN in the apiserver cert by default is a good idea? I'm a bit hesitant...

[2017-10-06 21:26] luxas commented on #481
/assign @krousey @jessicaochen

Whoever of you all that get to it first can do it :)

[2017-10-06 21:31] jbeda commented on #471
Where would we get the fqdn?

Many times hosts can be reached via multiple DNS names.  The `apiServerCertSANs` option should work for now at least.

(Also, a playbook on how to add a name to the cert and swap it in might be good...)

[2017-10-06 21:35] #477 closed

[2017-10-06 21:40] krousey commented on #481
I have done some work on the upgrade framework side and fixed bugs there, but I am not familiar enough with the kubeadm upgrade flow (through kubernetes anywhere) to be able to fix the most recent bug as seen in https://k8s-testgrid.appspot.com/release-1.8-all#periodic-kubernetes-e2e-kubeadm-gce-upgrade-1-7-1-8&sort-by-failures=

It would be pointless to backport @jessicaochen's work and my fixes

[2017-10-06 21:43] mattmoyer commented on #471
I'd like to hear from @hickey but it sounds like maybe we just need better documentation for `apiServerCertSANs`. If you don't already know what a SAN is from context it might be hard to discover.

@hickey does `--apiserver-cert-extra-sans` ([documented here](https://kubernetes.io/docs/admin/kubeadm/#kubeadm-init)) work for you?

[2017-10-07 13:48] fabriziopandini commented on #474
@ggaaooppeenngg you should try this:
1. Pre pull images with docker pull
2. Use `kubeadm init --config yourconfigfile`, having care to set the `imageRepository` option in the config file

Please note that:
- you have to pre pull images, because there is no way to create an imagePullSecrets before the cluster exists 😄
- the procedure above works in kubeadm v1.8; I don't remeber if this was supporte

[2017-10-07 14:24] fabriziopandini commented on #480
What kind of UX we should provide here? I foresee two options:
1. (IMO preferred) use the existing flag `--skip-prefligh-checks` transforming it from `boolean` to `string` that can be either `true`, `false` or a comma separated list of preflight check identifiers e.g. `--skip-prefligh-checks PF1,PF2`.
2. Add a new flag

[2017-10-07 15:43] imriss commented on #465
@jamiehannaford Thanks. I set the `--kubeconfig` to ` --kubeconfig=/home/user/admin.conf` in the `/etc/kubernetes/kubelet` file. I manually copy that file from `/etc/kubernetes/admin.conf` to `$HOME`. Is there any specific time interval that kubelet looks for any change in the `--kubeconfig` file? I will also try to set the `--kubeconfig` to `/etc/kubernetes/admin.conf`, and see if it picks it up.

[2017-10-07 15:54] fabriziopandini commented on #439
@helphi kubeadm binaries are available `https://dl.k8s.io/release/{release}/bin/linux/amd64/kubeadm`
release are semantic version strings with `v` prefix e.g. ´v1.8.0` or labels like `latest`, ´stable`

[2017-10-07 17:42] andrewsykim opened #486 "kubeadm should set node role label"
## What keywords did you search in kubeadm issues before filing this one?
node role label

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE

We add a master node label to kubeadm master (node-role.kubernetes.io/master), we should add the equivalent for nodes.

Right now there is no role:
[code]

[code]

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

[2017-10-07 17:42] andrewsykim commented on #486
cc @luxas

[2017-10-08 12:35] fabriziopandini commented on #416
My comments on #52470

[2017-10-08 12:47] fabriziopandini commented on #380
There is 'kubeadm alpha phase kubeconfig user' that goes Inthis direction, even if the implementation now is pretty simple .e.g
- the client cert is generated locally (without going through car approval workflow)
- roles and roles binding are not managed yet
Might be with few changes to this subcommand we can address basic needs in this area without expanding to much the scope of kubeadm...

[2017-10-08 16:58] fabriziopandini commented on #312
Now the documentation describes this case as well.

[2017-10-08 16:58] #312 closed

[2017-10-09 00:08] anguslees commented on #413
This issue still exists in kubeadm v1.8.0, and it's worse because `kubeadm` itself now has a 1min timeout on most actions.  The 1min timeout seems to have been chosen arbitrarily, and unfortunately a) doesn't give you enough time to jump in and debug/workaround the issue (eg: sed hack above), and also b) enough time for the apiserver to start up (~90s for me), even *when* initialDelaySeconds has b

[2017-10-09 01:23] kevinhooke commented on #228
Same problem as @paulobezerr - my env: CentOS 7.4.1708 kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:46:41Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

For me this issue was not running with SELinux disabled. The clue was his steps, the comment:
# edit

[2017-10-09 02:04] #474 closed

[2017-10-09 02:09] ggaaooppeenngg commented on #474
@jamiehannaford I want to dig some performance issues, and add some tracing logs, so that I can have a check.

[2017-10-09 05:24] onorua opened #487 "Localhost is not respected by kubeadm for advertiseAddress"
### kubeadm config:
[code]

## What happened?
In case I set advertiseAddress to 127.0.0.1, it doesn't respect that value, but rather discover it automatically.
I can see that following code is doing that:
https://github.com/kubernetes/apimachinery/blob/dc1f89aff9a7509782bde3b68824c8043a3e58cc/pkg/util/net/interface.go#L384

But localhost is completely valid use case. Let me elaborate, at the momen

[2017-10-09 09:37] jamiehannaford commented on #17
@luxas Maybe we can use [@andersla's solution](https://github.com/kubernetes/kubeadm/issues/17#issuecomment-271251334) instead of a full DIND cluster? If so, would we need to host the Docker image anywhere, or just document what the Dockerfile looks like?

It'd be great if we can get a fix out for this issue for 1.9

[2017-10-09 09:39] jamiehannaford commented on #51
@luxas So this is just a case of swapping out the arch type in the URL? If so, I can have a go at this

[2017-10-09 09:40] jamiehannaford commented on #51
Oh it seems that we [already do this](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/images/images.go#L33-L38).

@errordeveloper Can I close this?

[2017-10-09 09:42] jamiehannaford commented on #61
@dmmcquay Friendly ping :) What do you think is left to do before closing this out? If we list what's left, folks can jump in to help finish the work if you're backed up.

[2017-10-09 09:53] jamiehannaford commented on #102
@bboreham

I don't think kubeadm should be spitting out OS or distro-specific configuration instructions for host networking. I think it's the responsibility of the operator to configure their host appropriately because otherwise it becomes a rabbit hole. We can certainly make it a requirement, though.

What should kubeadm expect for things to work? That if the user wants to use a non-default NIC,

[2017-10-09 09:57] jamiehannaford commented on #128
@luxas If we do add the horizontal DNS autoscaler, should it be behind a feature gate? I might have time for this in 1.9 if it's easy to implement

[2017-10-09 09:59] jamiehannaford commented on #135
@jberkus Friendly ping :) Is there anything left that kubeadm can do here?

[2017-10-09 09:59] jamiehannaford commented on #471
Related issue: https://github.com/kubernetes/kubeadm/issues/135

[2017-10-09 10:01] jamiehannaford commented on #145
@luxas Should we keep this open?

[2017-10-09 10:06] jamiehannaford commented on #179
@netroby We already specify 1GB RAM as a requirement. 1 core for the masters should also be fine. Disk space really depends on what you're deploying, so I'm not sure how much value an arbitrary figure would be in a requirements list.

Would you mind taking a look at our [requirements list](https://kubernetes.io/docs/setup/independent/install-kubeadm/#before-you-begin) and seeing if there's anythin

[2017-10-09 10:15] jamiehannaford commented on #202
@fabriziopandini Did we reach consensus on the design for this? It seems that if we add this functionality to `kubeadm join` it would either need to:

1. stay non-blocking and generate systemd drop-ins and restart the unit. What about for distros that don't use systemd?
2. wait for the node to join and then send labels to the apiserver
3. use dynamic kubelet config

so maybe this is just a case of

[2017-10-09 12:36] sea475190 opened #488 "dpkg: error processing package kubeadm (--configure): subprocess installed post-installation script returned error exit status 127"
Hi I am new to Kubernates and GitHub.
I am trying to install Kubeadm on Ububtu. I have followed Kubernates docks for installing kubeadm.
I am working in an organisation network.
While running following command: apt-get install -y kubelet kubeadm kubectl
I am getting following result:

root@sj-VirtualBox:~# apt-get install -y kubelet kubeadm kubectl
Reading package lists... Done
Building dependency

[2017-10-09 13:14] fabriziopandini commented on #265
Call for review: improve kubeadm reference docs & generate kubeadm man pages (part of “better documentation” - priority 1 task for 1.9)
Validate a possible approach, related trade-off and start addressing pending items
https://docs.google.com/document/d/1w22y-C1YD1mmqqETxrQrCLnJpzwttscanddgvfYceYY/edit?usp=sharing

[2017-10-09 13:20] fabriziopandini commented on #202
@jamiehannaford from my understanding the solution based on the drop-in file was discarded in favor to option 3, use dynamic kubelet configuration (this is why I closed #46506 back in May).

However, now that I'm going through this thread after some times, I don't se nothing against 2 as well (in fact this is what we are already doing for mark-master). WDYT?

PS. this PR overlaps with #486

[2017-10-09 13:40] jamiehannaford commented on #467
@taherv @yongjianmu I've submitted a docs PR that hopefully makes this versioning contract a bit clearer (see https://github.com/kubernetes/kubernetes.github.io/pull/5815). I'm going to close this, but if you have any further questions, or feel more needs to be done, please comment and I'll reopen.

[2017-10-09 13:40] #467 closed

[2017-10-09 13:43] jamiehannaford commented on #486
@andrewsykim Hey, thanks for submitting this issue. We already have https://github.com/kubernetes/kubeadm/issues/202 which requests the same kind of feature. Are you okay with me closing this out?

[2017-10-09 13:46] jamiehannaford commented on #202
@fabriziopandini I've added it to tomorrow's meeting notes, let's discuss with everyone then :)

[2017-10-09 14:05] andrewsykim commented on #486
ahh, missed that one, yes of course!

[2017-10-09 14:05] #486 closed

[2017-10-09 16:29] jbeda commented on #202
I think that there is work ongoing in SIG-Auth to lock this down a bit.  As a security measure, nodes may not be able to set their own labels.  This might be something we can bundle into the token but that is getting a bit messy.  I don't have all the details paged in here though.

[2017-10-09 16:30] jbeda commented on #480
I think a new flag might be safest.  Right now as a book `--skip-preflight-checks` and `--skip-preflight-checks=true` are equivalent (_I think_).  If we switch to a string then having a blank string mean that we *do* skip would be super surprising.

[2017-10-09 17:27] jberkus commented on #135
I don't think so.  Declaring closed.

[2017-10-09 17:27] #135 closed

[2017-10-09 17:54] hickey commented on #471
Good morning,

I think that part of the issue is documentation. When I first started using Kubeadm I don't really remember finding a bunch of documentation. It might also be that I was shotgunning the use of Kubeadm without fully researching the documentation (my bad).

I just found a link to the Kubeadm reference pages a bit ago and reviewed them. Yes, there are a couple of switches I wish I had

[2017-10-09 18:10] luxas commented on #312
Thanks!

[2017-10-09 18:22] jamiehannaford commented on #471
@hickey Thanks for taking the time to respond, we appreciate the feedback! So in terms of docs, we're making that a priority in v1.9. I agree that the amount of flags makes it hard to grok what does what. We're working on making our ref docs more accessible (see https://github.com/kubernetes/kubeadm/issues/265), so hopefully that should mitigate confusion in the future.

In terms of using the FQDN

[2017-10-09 21:23] arunatechtalk commented on #432
Having the same issue on Linux 7.2 version.
it is hanging in  same place with same error

[2017-10-10 09:31] jamiehannaford commented on #203
I managed to get private IPs working by running this on master:
[code]

Adding `--node-ip=<private-node-ip>` to `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`, reloading daemon, restarting kubelet, then running:

[code]

@mongrelion What type of communication between master<->node is still using public interfaces? I wasn't able to replicate this so I'd be interested to know if kubernetes

[2017-10-10 09:52] jamiehannaford commented on #206
Now that kubelet supports auto-rotation, should we enable this feature gate in 1.9? Would we also need to feature gate it? If so, maybe we can make it generic (e.g. `AllowAutoTLSRotation`) to pave the way for other components in the future.

[2017-10-10 10:32] jamiehannaford commented on #211
@gousse So setting `export NO_PROXY=$no_proxy,<node1-ip>,<node2-ip>,...` solved the issue for you?

[2017-10-10 10:35] jamiehannaford commented on #214
@luxas How feasible do you think a new `cni` phase would be? So the user could run something like `kubeadm cni weave` after init, or even have it auto-install if the user provides a new flag like `kubeadm init --cni-provider=weave`?

[2017-10-10 10:42] jamiehannaford commented on #215
@coeki Are you working on this? Would be awesome to get this fixed. We now store PKI assets as secrets for self-hosted clusters (see https://github.com/kubernetes/kubernetes/pull/50766), so hopefully that should also fix some of this.

[2017-10-10 10:58] jamiehannaford commented on #228
There seems to be a lot of (potentially orthogonal) issues at play here, so I'm keen for us to not let things diverge. So far we seem to have pinpointed 3 issues:

1. DNS fails to resolve localhost correctly on some machines. @kachkaev @paulobezerr Did you manage to fix this? I'm wondering how to make this more explicit in our requirements, any ideas?

2. Incorrect `cgroup-driver` match between ku

[2017-10-10 11:01] jamiehannaford commented on #249
@timothysc Just so I'm clear, what Dockerfile are you referring to? My understanding was that we have an issue for containerized installs (https://github.com/kubernetes/kubeadm/issues/17) but nothing exists yet.

[2017-10-10 11:06] jamiehannaford commented on #262
https://github.com/kubernetes/kubernetes/pull/53317 should also help with this (since the kubelet was saving its PKI assets in `/var/run/kubelet`). Hopefully when we have that in kubeadm, we can close this issue after a suitable waiting period (unless anybody runs into related issues).

[2017-10-10 11:12] jamiehannaford commented on #264
@pipejakob @jessicaochen Do you have bandwidth to help out with this for 1.9? I'm just wondering what such tests would look like apart from periodically performing `apt-get`

[2017-10-10 11:49] yanhongwang commented on #211
@jamiehannaford @tomdee
Yes, in my case "no_proxy" should be made before k8s cluster is setup.
And the forbidden error was solved.

[2017-10-10 14:04] mattmoyer commented on #485
Should we add a small note under [known issues](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#known-issues) that mentions the exposure in 1.8.0 clusters?

Proposed note:

[2017-10-10 14:36] Karunamon commented on #203
That did it! The combination of `--apiserver-advertise-address` to ensure the master starts in the right place, and `--node-ip` in the kubelet config was the magic combination.

[2017-10-10 15:47] mattmoyer commented on #485
Cherry pick for release-1.8 is in https://github.com/kubernetes/kubernetes/pull/53660.

[2017-10-10 16:08] jipperinbham opened #489 "RFE: backup manifest dir gets wiped after upgrade"
## What keywords did you search in kubeadm issues before filing this one?
- temp
- tmp

## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.8.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.7.6
- **Cloud provider or hardware configuration**: aws

## What happened?

While watching [TGIK](https://youtu.be/x9doB5eJWgQ?t=42m31s), @jbeda ran `sudo kubeadm

[2017-10-10 16:17] timothysc commented on #471
You could always script generate a config.

[2017-10-10 17:01] jbeda opened #490 "Support etcd upgrade in `kubeadm upgrade`"
Now that we are defaulting to a newer etcd (https://github.com/kubernetes/kubeadm/issues/450) in kubeadm we need to support upgrade in `kubeadm upgrade`.

@luxas -- is this on your radar?  I couldn't find an existing issue or PR.

[2017-10-10 17:03] jbeda commented on #489
Thanks for filing the issue!  It was on my list to follow up.

@luxas -- I think you wrote this code.  What do you think about leaving the old manifests there so that users can see what changed.  It also enables a (dangerous) rollback path.

[2017-10-10 17:35] luxas commented on #489
If you think the command should "leak" directories for the user -- feel free to change.
I thought that if the user actually wants to do that -- he/she would just do `cp -r /etc/kubernetes{,-preupgrade}` before `kubeadm upgrade`
Documentation improvement or code change?

[2017-10-10 17:41] luxas commented on #485
@mattmoyer LGTM. It might be v1.8.2 though :)

[2017-10-10 17:47] hickey commented on #471
@jamiehannaford  I would have loved to attend the meeting this morning, but mornings are many of the times are hard to get going. If I had it on my schedule, I could have streamed on the motorcycle on the way to work--I bet that would have been a first! :-)

Anyway, my first 10 second thought about getting the FQDN was to just read /etc/hostname, but that is frequently wrong--or more specifically

[2017-10-10 17:49] xiang90 commented on #490
if you do not care about rollback, it should just work. or you'd backup before doing upgrades. we are in the process of designing rollback though.

[2017-10-10 18:26] luxas commented on #490
@xiang90 Let's say we do want to backup; how do we do that in the simplest possible way?
And then upgrade; and something fails. How do we rollback to the earlier state?

[2017-10-10 18:51] jessicaochen commented on #256
From my experience, having at least the kubelet logs on the master would be helpful. Most of the opaque errors (as described in first post) that I have hit were diagnosable with those logs.

So far I have had to manually test my own cluster to get at said logs.

[2017-10-10 19:10] luxas commented on #256
@jessicaochen Yeah, we know :/ Could you please fix it?
Getting the master components' logs should be trivial (`kubectl -n kube-system logs kube-apiserver-${MASTERNAME}`), but kubelet logs is a bit harder. Getting those from the master at least as an initial step would be good.

Sorry, I'm partially OOO for some time yet.

[2017-10-10 23:04] jessicaochen commented on #256
I am motivated for a fix since it causes me pain. However, I am unsure I can promise the time to it. I will poke around a bit and if I can get some pull requests out, I will grab the issue.

[2017-10-10 23:14] jessicaochen commented on #472
@krousey Any idea if there is some process to get the fix into a released version of 1.8 (as opposed to only in ci)?

[2017-10-11 05:43] mumoshu opened #491 "Dedicated etcd nodes"
This is probably a **FEATURE REQUEST**.

---

Would it be possible to add support for dedicated etcd nodes into kubeadm?

As of today, several k8s cluster provisioners like kops, kube-aws, etc. supports the setup uses dedicated nodes for etcd - in other words, etcd nodes are separated from master/control-plane/controller nodes running apiserver, controller-manager, and so on - for extra reliabilit

[2017-10-11 07:41] luxas commented on #472
I think this is coming in v1.8.1

[2017-10-11 11:47] seslav commented on #262
I'm having the same issue and cannot start kubeadm

kubectl-1.8.0-0.x86_64
kubelet-1.8.0-0.x86_64
kubeadm-1.8.0-1.x86_64
kubernetes-cni-0.5.1-0.x86_64

Any workarounds?

[2017-10-11 11:55] seslav commented on #262
Figure it out.

So if you see the following

[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks
[preflight] WARNING: kubelet service is not enabled, please run 'systemctl enable kubelet.service'
[preflight] WARNING: firewalld is active, please ensure ports [6443 10250] are open or your cluster may not function correctly
[preflight] WARNING: Running with swap on is

[2017-10-11 12:40] seslav commented on #262
I found a solution for me. The problem was the swap
So I executed **swapoff -a** then **kubeadm reset** and finally **kubeadm init**

[2017-10-11 16:34] camflan opened #492 "Restarting kubelet leads to Node NotReady"
## What keywords did you search in kubeadm issues before filing this one?
Kubelet, NotReady

## Is this a BUG REPORT or FEATURE REQUEST?
Bug Report

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: linode
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel*

[2017-10-11 16:37] luxas commented on #256
Thank you!

[2017-10-11 16:49] blankmail opened #493 "Document replacement for KUBE_PREFIX_REPO in 1.8"
## What keywords did you search in kubeadm issues before filing this one?
KUBE_PREFIX_REPO

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST
## Versions
**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:46:41Z", GoVersi

[2017-10-11 16:50] luxas commented on #491
Provisioning etcd clusters is out of scope for kubeadm. You can provision a single-node etcd instance listening on localhost with `kubeadm alpha phase etcd local`, but we don't want to go down the route doing something more fancy just yet as there are a bazillion of ways you can set up a cluster, and that is different from provider to provider.

We do support pointing to an external etcd cluster t

[2017-10-11 16:58] luxas commented on #493
You can set `.imageRepository` in the config file, as outlined in https://kubernetes.io/docs/admin/kubeadm.

Could you please send a docs PR to make that more clear? Thanks!

[2017-10-11 16:59] luxas commented on #488
Which Ubuntu version do you have?
Only Ubuntu 16.04+ is supported.

[2017-10-11 17:20] luxas commented on #471
I just think it's cleaner to set this for the users that need FQDNs in the apiserver serving cert.
Creating "hacks" in kubeadm to determine the FQDN; with an error rate that would be pretty high (oh, I didn't expect/want that value go into the cert) -- I think too high in my opinion.

TL;DR; Computing the FQDN is hard. We would have to perform non-obvious steps to get it. Still, not all users may

[2017-10-11 18:17] timothysc commented on #490
Backup can be done many different ways, we should spell it out in the instructions and possibly a warning message.  Roll-back can be an issue.

[2017-10-11 19:05] timothysc commented on #449
I don't think they will flip the bill until kubeadm is the default.  I would bump the milestone on this.

[2017-10-11 19:43] luxas commented on #490
Is kubeadm doing that for you automatically in scope? I guess so, as we do promise a seamless experience...

[2017-10-11 19:44] luxas commented on #449
cc @roberthbailey You had some contact that gradually is moving e2e tests over to using kubeadm, right?
Does this seam feasible?

[2017-10-11 19:46] roberthbailey commented on #449
We are doing it slowly. This is in scope, but isn't likely to happen in the 1.9 timeframe unless we get a volunteer to work on it.

[2017-10-11 19:52] luxas commented on #449
Ok, let's keep it in v1.9 for now and push it out when we get closer to the dates if nobody picked it up.
Who is/are the person(s)?

[2017-10-11 20:56] jessicaochen commented on #256
/assign jessicaochen

[2017-10-12 05:14] f0 commented on #492
@camflan its a known bug  https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#known-issues

[2017-10-12 09:20] jamiehannaford commented on #490
etcd is a part of the control panel, so it should be within kubeadm's scope IMO. It'd probably be something like this:

1. snapshot etcd data dir
2. snapshot etcd manifest
3. update PodSpec of static pods to new version
4. health check
5. rollback to previous PodSpec if unhealthy or if user manually triggers

If we had the operator, however, we could do this in 1 API call and have the operator han

[2017-10-12 09:24] jamiehannaford commented on #491
Agree with @luxas. Since kubeadm deploys etcd using kubernetes, the kubelet would need to be installed on the etcd node as a minimum, which seems a bit sub-optimal IMO. We don't want to go down the path of making kubeadm deploy distro-specific configuration files like systemd either.

I would like kubeadm to support self-hosted etcd at some point, though.

[2017-10-12 09:27] jamiehannaford commented on #281
Since we now have the kubeadm adoption WG, is it better to delegate integration work there instead? I see this hasn't been updated in a while, just wondering whether we need to track that work here.

[2017-10-12 09:29] jamiehannaford commented on #282
@kfox1111 Now that we have that warning documented, are we okay to close this out? Is there anything else we can do?

[2017-10-12 14:25] dimitrijezivkovic commented on #335
Hi,
same as @praparn, I'm facing the same problem on qemu VM with kubeadm 1.8.1 and with --apiserver-advertise-address=0.0.0.0 parameter changed.

OS is CentOS 7.

[2017-10-12 15:20] #492 closed

[2017-10-12 15:24] kfox1111 commented on #282
Yup. The doc looks good. Thanks. :)

[2017-10-12 15:24] #282 closed

[2017-10-12 17:21] luxas commented on #335
@praparn @dimitrijezivkovic If you think you've found a new issue with v1.8.1, please create a new issue with more details.

[2017-10-12 18:25] liggitt commented on #482
fixed in v1.8.1

[2017-10-12 19:24] mattmoyer commented on #485
Updated known issues blurb with correct versions:

[2017-10-12 19:47] #482 closed

[2017-10-13 02:27] #342 closed

[2017-10-13 06:23] mattymo commented on #484
@luxas What about other optional mounts like for basic auth? You mentioned there was a fix, but I didn't find it yet.

[2017-10-13 07:12] P4otocol commented on #193
Thanks @frankruizhi for the info. Worked for me!! (Used docker version >1.13)

[2017-10-13 11:16] bboreham commented on #459
For the record the fix was released in Weave Net 2.0.5

[2017-10-13 13:03] jamiehannaford commented on #459
Awesome, thanks @bboreham

[2017-10-13 16:58] tamalsaha opened #494 "Machine readable output from kubeadm commands"
(original FR by tamalsaha)

[Feature Request]

We would like to compose the output from `kubeadm upgrade plan` command to our GO binary. It will be very helpful if `kubeadm upgrade` could return the output in machine readable form (json/yaml).

--------
(edits by: neolit123)

KEP:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/20190506-kubeadm-machine-out

[2017-10-13 17:08] luxas commented on #454
@fabriziopandini Can you fix the items mentioned here?

[2017-10-13 17:10] luxas commented on #448
This has now been fixed by @andrewsykim. Thanks!

[2017-10-13 17:10] #448 closed

[2017-10-13 17:10] luxas commented on #445
@andrewsykim fixed this in https://github.com/kubernetes/kubernetes/pull/53181 :tada:

[2017-10-13 17:10] #445 closed

[2017-10-13 17:11] luxas commented on #444
@ss22ever Do you need help with this task? Reach out to me on Slack in that case :)
I'm @luxas on Slack as well

[2017-10-13 17:14] luxas commented on #415
@pipejakob https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#periodic-kubeadm-gce-1.6 is completely green. Thanks all!

(However, it isn't here: https://k8s-testgrid.appspot.com/release-1.6-blocking. If that's an issue, please reopen)

[2017-10-13 17:14] #415 closed

[2017-10-13 17:18] luxas commented on #311
This work is now done. Thanks @jessicaochen!

[2017-10-13 17:18] #311 closed

[2017-10-13 17:19] luxas commented on #281
Yeah @jamiehannaford SGTM to have more specialized channels of communication

[2017-10-13 17:19] #281 closed

[2017-10-13 17:19] #161 closed

[2017-10-13 17:23] luxas commented on #447
This is still an issue. Reopening.
@kad Please fix this if you have time.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/join.go#L224

[2017-10-13 17:24] luxas commented on #342
Good first PR in https://github.com/kubernetes/kubernetes/pull/53352, but we still need to validate these values in the API validation here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/validation/validation.go

[2017-10-13 17:28] tamalsaha opened #495 "Remotely callable `kubeadm upgrade plan`"
[Feature Request]

We would like to show the tables that tells user about potential upgrade options from `kubeadm upgrade plan` command in a webpage. Currently this command needs (i guess) to be run from the master machine for the local dir checks. This means the api server backing the webpage needs to do ssh into the master.

Can a lighter version of `upgrade plan` command be supported that skips

[2017-10-13 19:12] innergy opened #496 "kubeadm init specifying a version may result in a kubelet version mismatch"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.8.1

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:57:57Z", GoVersion:"go1.8.3", Compiler:"g

[2017-10-13 21:49] kad commented on #447
@luxas have a look at PR #53917. Hopefully I've made it correctly.

[2017-10-14 04:39] vkumar2808 commented on #465
Hello,

Did it work? im having same issue

[2017-10-14 14:43] #434 closed

[2017-10-14 16:49] #447 closed

[2017-10-14 18:11] luxas opened #497 "kubeadm packages depend on cloud provider packages"
Somehow all the in-tree cloud provider packages are built into kubeadm; which is really bad.
We should rip those out as kubeadm doesn't use them in any way.

<details>

[code]

</details>

Currently we have 985 linked packages, which is horrific

The main culprit is https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/options/plugins.go
This file makes kubeadm depend on all

[2017-10-14 19:27] andrewsykim commented on #400
@luxas this seems like a good starting issuing to get some of the HA work rolling. I can look into this one soon :).

[2017-10-14 23:39] imriss commented on #465
@vkumar2808 No, it still needs `kubelet` restart the way I listed above with some changes.

**1. The changes to** `nano /etc/kubernetes/kubelet` **(relative to what is listed above):**

`KUBELET_ARGS="--pod-manifest-path=/etc/kubernetes/manifests --cgroup-driver=systemd --fail-swap-on=false --require-kubeconfig --kubeconfig=/etc/kubernetes/admin.conf"`

**2. The changes to Step 2:**
`kubelet` serv

[2017-10-15 03:31] vkumar2808 commented on #465
Thanks @imriss . Could you please send me sample of your kublet conf file?

[2017-10-15 11:45] imriss commented on #465
@vkumar2808 This is the content of `/etc/kubernetes/config` file:

[code]

[2017-10-15 12:05] imriss commented on #465
For the recommended `$HOME/.kube/config` place to put `admin.conf`, the procedure is the same. Except, setting the `$KUBECONFIG` would be optional.

[2017-10-15 14:57] WanChengHu commented on #193
I got the same problem when I use kubeadm to init a k8s v1.8 cluster with one master and one node.

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:57:57Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVers

[2017-10-15 14:57] WanChengHu commented on #193
kubectl get pod -n kube-system

NAME                            READY     STATUS             RESTARTS   AGE
etcd-redis                      1/1       Running            0          6h
kube-apiserver-redis            1/1       Running            0          6h
kube-controller-manager-redis   1/1       Running            0          6h
kube-dns-545bc4bfd4-zqv6j       2/3       CrashLoopBackOff   146

[2017-10-15 14:59] WanChengHu commented on #193
kubectl logs kube-dns-545bc4bfd4-zqv6j -n kube-system -c kubedns --previous=true
I1015 13:25:06.436183       1 dns.go:48] version: 1.14.4-2-g5584e04
I1015 13:25:06.436763       1 server.go:70] Using configuration read from directory: /kube-dns-config with period 10s
I1015 13:25:06.436807       1 server.go:113] FLAG: --alsologtostderr="false"
I1015 13:25:06.436818       1 server.go:113] FLAG: --con

[2017-10-15 15:00] WanChengHu commented on #193
kubectl logs kube-dns-545bc4bfd4-zqv6j -n kube-system -c dnsmasq --previous=true
I1015 13:25:06.494999       1 main.go:76] opts: {{/usr/sbin/dnsmasq [-k --cache-size=1000 --log-facility=- --server=/cluster.local/127.0.0.1#10053 --server=/in-addr.arpa/127.0.0.1#10053 --server=/ip6.arpa/127.0.0.1#10053] true} /etc/k8s/dns/dnsmasq-nanny 10000000000}
I1015 13:25:06.495117       1 nanny.go:86] Starting

[2017-10-15 15:03] WanChengHu commented on #193
kubectl describe pod kube-dns-545bc4bfd4-zqv6j -n kube-system
Name:           kube-dns-545bc4bfd4-zqv6j
Namespace:      kube-system
Node:           docker1/172.16.10.166
Start Time:     Sun, 15 Oct 2017 15:34:59 +0800
Labels:         k8s-app=kube-dns
                pod-template-hash=1016706980
Annotations:    kubernetes.io/created-by={"kind":"SerializedReference","apiVersion":"v1","reference":{"k

[2017-10-15 15:32] shadycuz commented on #484
@luxas

[2017-10-15 15:53] erkules commented on #211
Which components are involved doing the kubectl logs command? So does the master nodes need to have the worker nodes in there no_proxy only? Does master node means the api_server or any other controller?

[2017-10-15 15:57] liggitt commented on #211
kubectl > apiserver > node hosting the pod

[2017-10-15 16:05] erkules commented on #211
thx

[2017-10-15 17:22] dims commented on #497
fyi, we need to get cloud provider stuff out of api server too - see Issue https://github.com/kubernetes/kubernetes/issues/49402

As a first step, here's a deprecation for the cloud provider options : https://github.com/kubernetes/kubernetes/pull/53912

[2017-10-15 21:23] sigxcpu76 commented on #484
1.8.1 is releases. Is this fix included?

[2017-10-15 22:45] erkules commented on #211
Is there a way to make sure kubectl logs goes for DNS instead of IPs? Autoscaling and IPs don't work well.

[2017-10-15 22:52] liggitt commented on #211
Nodes report their network addresses in their Node API object status.

The apiserver contacts nodes using the preferred address type as determined by the --kubelet-preferred-address-types flag:

[2017-10-15 22:52] liggitt commented on #211
Not all kubelet cloud providers report dns addresses currently.

[2017-10-15 23:43] erkules commented on #211
\o/ Awesome. Saved my day thx!

[2017-10-16 01:23] vkumar2808 commented on #465
Thanks @imriss . I just deployed k8s v 1.8.1 on single server and it is seamlessly working fine. I had several sleepless night and weekend to work on it. I can seriously say that kubernetes document is lacking some important stuff. It may be because they have widen deployment for several platform.
Now Im very careful about each and every word written in kubernetes document. it has implied meaning

[2017-10-16 02:06] TracyBin commented on #193
@WanChengHu  Which version and network plugin do you deploy with? Do you use kubeadm?

[2017-10-16 03:47] frankruizhi commented on #193
You could try following method:
Modify /etc/systemd/system/kubelet.service.d/10-kubeadm.conf,
configure Environment="KUBELET_EXTRA_ARGS=--fail-swap-on=false".
Then reload the daemon,and restart docker and kubelet service.

[2017-10-16 04:43] WanChengHu commented on #193
@TracyBin flannel 0.9.0, yes I use kubeadm
@frankruizhi  let me try

[2017-10-16 05:59] WanChengHu commented on #193
@frankruizhi  doesn't work

[2017-10-16 06:15] TracyBin commented on #193
@WanChengHu Does pod bind with ip? Most of reason is iptables and flannel network.
[code]

[2017-10-16 12:01] fabriziopandini commented on #454
Ok!
However, @luxas let's agree before on the final layout of `bootstrap-token`.
Below my proposal:

[code]

NB. `kubeadm alpha phase bootstrap-token create`will support also read from config file as requested by #461

[2017-10-16 13:24] zxpower commented on #193
I have exactly the same problem - had it on K8s v1.8.0 and today I upgrade to v1.8.1 - still the same.

OS: CoreOS 1465.8.0 (with included Docker 1.12.6)
K8s: v1.8.1
Etcd: 3.0.17

[2017-10-16 20:25] praseodym opened #498 "`kubeadm upgrade plan` fails on restricted networks"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.8.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.7.8
- **Cloud provider or hardware configuration**: VMware
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): Linux 4.9.0-4-amd64 #1 SMP Debian 4.9.51-1 (2017-09-28) x86_64 GNU/Linux

## What happened?
Wh

[2017-10-16 20:53] hickey commented on #471
I can agree with you that it is less than desirable to setup an incorrect FQDN or include the FQDN into the SANS when an admin does not want it included. I am having a hard time coming up with a use case when an admin would not want the FQDN included into the SANS, but that is probably a lack of creativity on my part to envision a situation. Although there have been one or two statements that have

[2017-10-17 09:19] vglisin commented on #26
I got: 404 when I followed your link.

[2017-10-17 09:19] vglisin commented on #26
so, the problem of getting token remains?

[2017-10-17 09:30] vglisin commented on #335
Same problem with 1.8. Any possible repair with:
"ailed to connect to API Server "XXXX:6443": there is no JWS signed token in the cluster-info ConfigMap. This token id "fb0a7d" is invalid for this cluster, can't connect".
That same token was ok last week.
Any possible, logical explantion or workaround? Next year you will have this working 100%?

[2017-10-17 13:08] jamiehannaford commented on #285
I think to make this work, we'd need to support rkt as an alternative container runtime. We'd probably need a few new config flags:

[code]

`ContainerRuntimeExtraArgs` would allow users to set additional flags like `--rkt-api-endpoint`,`--rkt-path`, and `--rkt-stage1-image` on the kubelet .

We'd also need to change the preflight and teardown validation checks, as Tim mentioned, to take the diffe

[2017-10-17 13:10] jamiehannaford commented on #294
@cmluciano For now, I think a new paragraph/sentence at the end of https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network is enough. There is a plan to break up this page into smaller pages, but that's not a blocker. Do you think you'll be able to add this soon?

[2017-10-17 13:16] jamiehannaford commented on #300
@luxas Is there anything we can do for this issue, or should we close? This work could also be tracked by #17.

[2017-10-17 13:28] jamiehannaford commented on #328
@cookeem This is awesome, thanks for submitting this issue! We're making HA a priority for 1.9 and we have https://github.com/kubernetes/kubeadm/issues/261 to track that work. If it's okay with you, can we close this issue in favour of that instead? Feel free to add any missing context.

[2017-10-17 13:28] rhatdan commented on #285
Please add cri-o to the list.

[2017-10-17 13:32] jamiehannaford commented on #285
@rhatdan Yep, will do.

[2017-10-17 13:34] jamiehannaford commented on #340
@jnardiello Did you make any progress on this?

[2017-10-17 13:35] jamiehannaford commented on #358
@nat9999 If the worker node successfully registered with the master (it shows up when you run `kubectl get nodes`), that indicates networking must be working on some level. What happens when you run `kubectl describe` on the node that's not ready?

[2017-10-17 13:41] luxas commented on #285
I'm torn. I don't want to start building in "support" for all possible CRI runtimes that might exist out there.
That is just bloating the kubeadm code. The kubeadm CLI binary doesn't touch the kubelet args as of v1.8.
_Might_ change with v1.9.

Note that this is all preflight checks. If docker is not present on host, we should just ignore docker preflight checks.

The docker-check is here: https:/

[2017-10-17 13:43] jamiehannaford commented on #359
@kvaps Because this relates to a potential bug in go's internal DNS resolver, I'm not sure what kubeadm can do here. I don't think it's sensible for us to continually retry runtime errors from the language. IMO it's a fatal error that needs to be resolved externally (i.e. by flushing your DNS server). What do you think?

[2017-10-17 13:44] rhatdan commented on #285
Works for me.  We could hopefully work on that in the future.  But for now I would be happy if it does not fail if docker is not installed and running.

[2017-10-17 13:46] jamiehannaford commented on #360
@billmilligan @christopher-avila Would you mind checking this occurs on newer kubeadm versions? If so, can you follow Jakob's comment [here](https://github.com/kubernetes/kubeadm/issues/360#issuecomment-321293765) and post the output?

[2017-10-17 13:50] luxas commented on #285
Does it really fail right now? It's a warning, right? https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L100

I'm happy to make the warning-if-not-exist behavior tunable per-service, so kubeadm won't warn if the docker service doesn't exist, but it will if the kubelet service isn't present.

That is like a 5-line change I'm definitely happy with; and that cou

[2017-10-17 13:51] jamiehannaford commented on #362
Does etcd v3 support recursive deletes?

[2017-10-17 13:55] luxas commented on #335
@vglisin That is because the token has expired. We have informed about this policy already in kubeadm v1.7 CLI output, and in the release notes: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.8.md#behavioral-changes

Note that the issue you're describing is vastly different from the topic of this issue. That's why I asked you to open new issues instead of commenting on old, resol

[2017-10-17 13:56] jamiehannaford commented on #363
@surajssd What CNI plugin are you using? Previously CNI did not support hostPort, because it's recently been added (you will need the portmap plugin as described [here](https://github.com/kubernetes/kubernetes/issues/23920#issuecomment-315119176)). Here is an example to get Calico working:

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/calico-policy-controller/calico-node-dae

[2017-10-17 13:56] vglisin commented on #483
Hooray! It really works after adding group into token creation.
Finally.
Somebody needs to update documentation.

[2017-10-17 13:57] luxas commented on #362
I think we should just document this.
@jamiehannaford @aanm up for a quick PR mentioning that it's your responsibility to cleanup etcd (if needed) if you're running it externally?

[2017-10-17 14:10] jamiehannaford commented on #362
SGTM, I'll try to rustle up something this afternoon.

[2017-10-17 14:20] kad commented on #285
@luxas if kubelet available and via local API can return information about current parameters (like CRI socket location), can then kubeadm use native CRI API to list/remove all containers ? So it will be not docker specific, but any CRI API compliant ?

[2017-10-17 14:26] jamiehannaford commented on #367
@spnzig Did you install a CNI plugin?

[2017-10-17 14:28] jamiehannaford commented on #370
@pipejakob Did you end up doing this? If so, is there a recording? would like to learn about all this :)

[2017-10-17 14:29] jamiehannaford commented on #374
@ceridwen What are the apiserver logs?

[2017-10-17 14:30] jamiehannaford commented on #378
@jiangyaoguo Do the kubelets on the worker nodes have the correct apiserver IP address? Can you verify their kubeconfigs?

[2017-10-17 14:34] jamiehannaford commented on #387
I think this was because flannel didn't support the portmap CNI plugin by default until this PR https://github.com/coreos/flannel-cni/pull/5. Would you mind retrying with a newer flannel version?

[2017-10-17 14:35] jamiehannaford commented on #388
@luxas WDYT?

[2017-10-17 14:37] jamiehannaford commented on #395
ref: https://github.com/kubernetes/kubernetes/issues/47604

[2017-10-17 14:40] jamiehannaford commented on #396
@jainmnsh After changing docker's cgroup driver to systemd, did you restart both docker and kubelet? If it's still not working, can you paste the apiserver logs? You can see them by looking for the docker container: `docker ps -a | grep api`

[2017-10-17 14:50] jainmnsh commented on #396
@jamiehannaford  it worked after changed cgroup driver and restart both docker and Kubelet. thank you for your help.

[2017-10-17 15:01] jamiehannaford commented on #396
@jainmnsh Awesome. I've created [a doc for this requirement](https://github.com/kubernetes/kubernetes.github.io/pull/5937), so I'm going to go ahead and close this. If you run into any more problems, please comment and I'll reopen this thread.

[2017-10-17 15:01] #396 closed

[2017-10-18 01:10] #328 closed

[2017-10-18 03:13] surajssd commented on #363
@jamiehannaford https://github.com/weaveworks/weave/issues/3016#issuecomment-321337923 this worked for me!

I had to do it on every node to make it work, or do it on one node and cordon all other nodes so that pod is scheduled on that node which has hostport plugin enabled!

[2017-10-18 08:49] jamiehannaford commented on #363
@surajssd Awesome! We now have a PR to document this step: https://github.com/kubernetes/kubernetes.github.io/pull/5940. With that in mind, I'm going to close this because no further action needs to be taken. If you run into any further issues, please comment here and I'll reopen this thread.

[2017-10-18 08:49] #363 closed

[2017-10-18 10:15] kvaps commented on #359
I think this issue more for information than for doing something here.
If someone has same problem than me, he can find this issue.
So I'll close it, thank you.

[2017-10-18 10:15] #359 closed

[2017-10-18 19:34] michalmedvecky commented on #228
For me, i went with docker 17.06 (17.03 is recommended, but not available at docker.io) and ran in the same problem. Upgrading to 17.09 magically fixed the issue.

[2017-10-18 21:32] kargakis opened #501 "unable to load kernel module "configs""
Running on ARM
[code]
cc @luxas

[2017-10-19 01:07] WanChengHu commented on #193
@TracyBin my k8s cluster is installed in Aliyun, and they tell me that they don't support k8s 1.8
the firewalld is disabled, iptables allow all inboud and outboud traffic

[2017-10-19 03:29] TracyBin commented on #193
@WanChengHu 加我QQ看一下 641555100

[2017-10-19 08:29] jamiehannaford opened #502 "Document how to pass custom args through to control plane components"
Often folks will want to custom configure components with extra args. You can do this with the configuration file, but we should focus on how to document this use case a bit better. If I'm a user, the flag isn't documented or made very visible.

This might be superseded by #265.

/cc @ahmetb

[2017-10-19 12:49] jamiehannaford commented on #502
Agree with @jbeda,

[2017-10-19 15:49] erhudy commented on #498
Same problem here. IMO, if the version is specified in the ConfigMap, it should skip the version check.

[2017-10-19 16:53] kad commented on #480
I would also like to propose a bit change of behavior of the "skip-preflight-checks" functionality.
After 1.8.0 release I observed bunch of error reports where people are copy&pasting things that include `--skip-preflight-checks` and this actually did hide valuable information that lead to resolving issue.
So, I'd propose instead of completely skipping (not running) all or individual checks to mak

[2017-10-19 23:48] anguslees opened #503 "Suggestion: Run kubeadm from docker via a new `kubeadm --chroot=$rootfs`"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Currently most install instructions suggest to download the `kubeadm` tool onto the host filesystem either directly or via something like luxas' `kubeadm-installer` image (that just downloads a few binaries and copies them into the target filesystem).  This feels like an unnecessary step because I only need `kubeadm` briefly during node

[2017-10-20 08:19] dl00 commented on #193
I am also having this problem. Spent over 2 hours on gitter trying to resolve it with someone. No luck.

[2017-10-20 09:32] luxas commented on #501
You need to fix this:
[code]

I don't know why the other error happens, but this error originates from the System Verification Check: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/kernel_validator.go

Maybe you find the problem there, either on your machine or in the system verification check. If you do find an issue, ping sig-node and open an issue in k/k

[2017-10-20 09:32] #501 closed

[2017-10-20 09:34] luxas commented on #491
@mumoshu I'm closing this, as it is out of scope to create generic etcd clusters. We do what's needed to get a master up and running, but won't reinvent the wheel for generic clusters, there are many other good tools for that

[2017-10-20 09:34] #491 closed

[2017-10-20 09:35] luxas commented on #475
This was fixed, thanks @kad!

[2017-10-20 09:35] #475 closed

[2017-10-20 09:35] luxas commented on #488
I think you need to upgrade to Ubuntu 16.04 that has systemd installed

[2017-10-20 09:35] #488 closed

[2017-10-20 09:36] luxas commented on #493
cc @jamiehannaford this is also related to docs

[2017-10-20 09:41] luxas commented on #441
cc @andrewrynhard as your PR will fix this as well

[2017-10-20 09:42] luxas commented on #498
We'll have this fixed in an upcoming v1.8 release. Thanks for the PR, I'm looking!

[2017-10-20 09:43] mumoshu commented on #491
@luxas @jamiehannaford Thank you very much for the detailed explanations and clarifications - I now agree that kubeadm should not re-invent the wheel here.

Just curious but even after that, would the dedicated etcd node(s) support be out-of-scope?

Thanks for maintaining the great project btw! Really looking forward to utilize kubeadm in my work.

[2017-10-20 09:43] luxas commented on #494
Thanks! I'm open to reviewing a short design proposal for this if you can help making that possible. i.e. What exactly would you like to see, what's the use case, etc.

[2017-10-20 09:45] luxas commented on #495
Did you check whether this works already or not?
In case it doesn't, where is it failing. We might be able to fix this (maybe even in v1.8.x)

Please give a bit more details. Thanks!

[2017-10-20 09:46] luxas commented on #461
@fabriziopandini can I assign you this?

[2017-10-20 09:47] luxas commented on #485
Closing as fixed

[2017-10-20 09:47] #485 closed

[2017-10-20 09:48] luxas commented on #419
This seems to be fixed now. Thanks @eddytruyen for the PR :tada:!

[2017-10-20 09:48] #419 closed

[2017-10-20 09:49] luxas commented on #428
Closing this as out of scope. kubeadm will set up one etcd instance, if you want many you can just add the right parameters to the config file to point to your other etcd instance for Events

[2017-10-20 09:49] #428 closed

[2017-10-20 09:55] luxas commented on #51
This is about k8s pushing manifest lists https://github.com/docker-library/official-images/issues/2289 for all control plane images and kubeadm starting to consume them. We do the ARCH suffixing now, but that's bad. Currently this is stuck on GCR.io not supporting the Docker Registry API v2 schema 2, but hopefully they will in some month

[2017-10-20 09:57] luxas commented on #179
I think this is fine as is right now

[2017-10-20 09:57] #179 closed

[2017-10-20 09:59] luxas commented on #203
Thank you @jamiehannaford for that summary. Do we think we should document this more visibly?

[2017-10-20 10:00] luxas commented on #206
We already enable kubelet client cert autorotation. We'll enable kubelet servingcert rotation if possible in v1.9

[2017-10-20 10:01] luxas commented on #145
Ok, I think we can close this. BTW, @shashidharatd is working on spinning up federated clusters on top of kubeadm clusters.

[2017-10-20 10:01] #145 closed

[2017-10-20 10:03] luxas commented on #214
We talked about this in the SIG call, and no, I don't think we should build any 3rd-party code, not even in phases. Neither giving manifests to apply later seems to be useful to be in scope, as we're starting to mimic `kubectl apply` then (with all the relevant corner cases)
I'd just do `kubeadm init && kubectl apply -f` still here

[2017-10-20 10:03] #214 closed

[2017-10-20 10:06] luxas commented on #264
I have bandwidth to review I think. This should basically be a straightforward script verifying that all the latest 3 releases (in this case all v1.6.x, v1.7.x, v1.8.x) have corresponding debs.
e.g. it will query `dl.k8s.io/stable.txt`, `dl.k8s.io/stable-1.7.txt`, and so on, and verify all point releases are there as well.

@jamiehannaford do you have time to write such a script/go program?

[2017-10-20 10:06] luxas commented on #264
(this actually belongs more to #sig-release than kubeadm, but...)

[2017-10-20 10:07] luxas commented on #262
v1.5 isn't supported anymore. v1.8.0 had a problem with similar symptoms, but it was fixed in v1.8.1

[2017-10-20 10:07] #262 closed

[2017-10-20 10:08] luxas commented on #61
@dmmcquay If you do work on this, please reopen, ping here, open a new issue, or just file the PR.
Thank you

[2017-10-20 10:08] #61 closed

[2017-10-20 10:09] luxas commented on #211
@jamiehannaford you're working in the troubleshooting doc. Could you add this to the list?
(if `kubectl logs` don't work, check the proxy settings)

[2017-10-20 10:11] luxas commented on #481
This seems to be fixed now. Thanks!

[2017-10-20 10:11] #481 closed

[2017-10-20 10:13] luxas commented on #465
Are there action items for kubeadm here? There are no official packages for Arch Linux for kubeadm AFAIK. cc @colemickens
You basically need to install the contents of the debs (converted to tar files for instance), and add this content to your rootfs and it should work.

[2017-10-20 10:16] luxas commented on #496
@kad can you please add some preflight checks for init/join enforcing the kubelet policy?
(kubelet version can be in the `1.(X-2) - 1.X` range where X is the minor version of the API server you're deploying)

[2017-10-20 10:17] luxas commented on #454
@fabriziopandini That LGTM, please send the PR!

[2017-10-20 10:22] luxas commented on #491
Yes, dedicated etcd nodes would be out of scope still. However, there would be one etcd peer per master node, colocated with the API server

[2017-10-20 10:24] luxas commented on #193
@dl00 and others, if you do think you've found an issue, please open a new issue with actual details from your environment. Please don't comment on closed ones.

[2017-10-20 10:28] mumoshu commented on #491
@luxas I see - thanks again for the clarification 👍

[2017-10-20 10:29] luxas commented on #374
Do we think that this is a kubeadm issue or a generic Kubernetes bug?
I think the latter

[2017-10-20 11:00] luxas commented on #332
yes, that is the right way to approach the problem (and probably upgrading the SD card)

[2017-10-20 11:00] #332 closed

[2017-10-20 11:34] jamiehannaford commented on #203
@luxas Yeah I think having this use case explicitly documented would be useful

[2017-10-20 11:36] jamiehannaford commented on #264
@luxas I think I'll have some time next week to take this on

[2017-10-20 11:40] jamiehannaford commented on #374
Yeah, I'm pretty sure this belongs on https://github.com/kubernetes/kubernetes or Stack Overflow.

@ceridwen If this issue is still persisting, please open a support question there. All kubeadm does is install a cluster, it doesn't manage things beyond that point. If you've spotted a bug or problem with kubeadm itself, feel free to open an issue on this repo and we'll help out the best we can.

[2017-10-20 11:40] #374 closed

[2017-10-20 15:23] fabriziopandini commented on #461
Yes!

[2017-10-20 15:42] dl00 opened #504 "kube-dns cannot connect to apiserver"
## What keywords did you search in kubeadm issues before filing this one?

Possibly related to #193, but as one pointed out, this issue probably deserves its own thread now.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or har

[2017-10-20 18:47] jessicaochen opened #505 "kubeadm master upgrade tests for 1.6 to 1.7 should work"
Getting this to work is becoming a rabbit hole. This Issue is to keep track of the work.

Current status:
A. Need to backport test logic to 1.7 supporting kubernetes anywhere - https://github.com/kubernetes/kubernetes/pull/53996
B. To pass the kubeadm presubmit test, need to backport support for ci/someversion to kubeadm - https://github.com/kubernetes/kubernetes/pull/54173
C. To pass the kubeadm

[2017-10-20 19:23] jessicaochen commented on #505
@luxas @roberthbailey @pipejakob
How important is it to us to have automated upgrade testing for kubeadm 1.6 -> 1.7?

I have been working on it for a while and at this point the needed cherrypicking (See Issue description) is feeling like a rabbit hole (getting larger and larger as I discover more and more dependencies). At this point, I am starting to debate whether the support for the testing at

[2017-10-20 19:29] luxas commented on #505
So I think we definitely should have it (we have it), but it doesn't have to source the latest CI images. That feature didn't even exist in v1.7.

I'm fine with just using `--kubernetes-version latest` on v1.7, and `--kubernetes-version ci/latest` (which has more coverage) on v1.8.

IMO we should focus on v1.9 upgrade testing instead.

[2017-10-20 19:36] jessicaochen commented on #505
@luxas - to clarify, it is the [presubmit's test use of ci/latest ](https://github.com/kubernetes/test-infra/commit/da87693ac20a3b99342d4bad7367a396dcde8710) that is blocking. The same presubmit runs against all pull requests so there is no concept of having different settings for different versions.

[2017-10-20 20:07] pipejakob commented on #505
Ah, so it's not that our presubmit test is actually exercising the 1.6 -> 1.7 upgrade, but that we currently have the same presubmit job run both against the `master` and `release-1.7` branches, with the exact same configuration?

That feels broken to me, since the configuration of specifying `--kubernetes-version ci/latest` is really only expected to work on `master`. We shouldn't expect changes

[2017-10-20 20:14] dl00 commented on #504
Found this problem, turns out for CentOS, firewalld is completely incompatible with kubernetes. So disable and restart:
[code]

[2017-10-20 20:14] #504 closed

[2017-10-20 20:17] colemickens commented on #465
There's no official package, but I do maintain `kubeadm-bin` (`pacaur -S kubeadm-bin` or `yaourt -S kubeadm-bin`, etc). It, with a couple other packages that should be pulled in transitively, along with an actual `kubeadm init` should be about all that's needed. I would expect multi-node to be a fairly straightforward extension.

I keep some scripts around to help with destroying/recreating my sin

[2017-10-20 21:11] fejta commented on #505
What is the point of `pull-kubernetes-e2e-kubeadm-gce`?
What does `--kubernetes-version ci/latest` test?

I am worried that neither `latest` and `ci/latest` test the code actually in the PR

[2017-10-20 21:29] jessicaochen commented on #505
Synced with @fejta offline -

Options:
(A) The best/correct thing to do would be to somehow have kubeadm apply the version of kubernetes in the PR. Either push kuberentes somewhere and have kubeadm pull it down or somehow push it into the VMs and have kubeadm apply from local location.
(B) A somewhat close option is to apply the latest based on the version the PR is targeting.

Note that no matter

[2017-10-21 22:33] imriss commented on #465
Thanks all. As @colemickens mentioned there are many packages that provide `kubernetes` on `Arch Linux`. I have all the binaries installed. The purpose of this issue filing was to have a documented list of steps to bring up `k8s`, such as `cgroup`/`systemd` setting, among others. From all the comments I am learning more. Thanks again.

[2017-10-22 20:09] kargakis commented on #501
How can I set kubelet flags with kubeadm? The kernel verification error I was getting was due to missing modules.

[2017-10-22 20:45] kargakis commented on #501
`swapoff -a && rm /var/swap` did the trick.

[2017-10-23 00:07] vkumar2808 commented on #465
Hey Guys,

Use flannel. With calico you may run into issue for several setup for
multiple nodes. Flannel works for me for multi node without much work for
setup.

On Sat, Oct 21, 2017 at 6:33 PM, Reza Farrahi M <notifications@github.com>
wrote:

--
Thanks
Vijay

[2017-10-23 10:11] jamiehannaford opened #506 "Make etcd ports configurable"
Sometimes users run `kubeadm init` on hosts with pre-existing (but different) etcd clusters which are already bound to 2379/2380. Right now this will fail the preflight checks, but we should probably allow users to specify their own if necessary.

[2017-10-23 14:04] kad commented on #496
@luxas do we want to have it as warning ? in some cases e.g. 1.8 kubelet will work ok-ish with 1.7.x control plane.
Regarding `join`: I might be mistaken, but we don't have information about control plane version during join preflight checks.

[2017-10-23 15:11] mattymo commented on #441
@luxas @andrewrynhard Do you have a link to the PR?

[2017-10-24 02:32] XiLongZheng commented on #261
@luxas , just curious whether this is still targeted for 1.9?

[2017-10-24 08:40] Snipes999 commented on #211
@yanhongwang I'm hitting the same proxy issue. My cluster runs well so far but i can't retrieve logs. The no_proxy ip's are set. Do I really need to recreate my cluster? Or is there any other way to get this running?

[2017-10-24 09:12] yanhongwang commented on #211
Hi @Snipes999

My environment:
Ubuntu: 16.04 LTS
Kubernetes: 1.7.8-00
Deployment: Ansible

http_proxy, https_proxy was set by some default value in my network environment.

So I add master ip and minion ip to "no_proxy" environment variable to all kubernetes cluster machine.
And then all the machines can talk to each other without passing through proxy server in case proxy server block some kubern

[2017-10-24 10:55] smileisak opened #507 "FailedCreatePodSandBox with DNS pod"
## Is this a BUG REPORT
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

    kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.1", GitCommit:"f38e43b221d08850172a9a4ea785a86a3ffa3b3a", GitTreeState:"clean", BuildDate:"2017-10-11T23:16:41Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl

[2017-10-24 11:40] Snipes999 commented on #211
I'm using Ubuntu 17.04 and Kubernetes 1.8.1
seems to work now. I tried a couple of things, but It think the resolution was to change the no_proxy settings in the yaml files (/etc/kubernetes/manifests/...yaml) to the same as listed in current environment settings in /etc/environment

[2017-10-24 12:17] liyimeng commented on #503
+1

[2017-10-24 15:57] kad commented on #480
Proposed design for implementation:

1.  CLI flags:
introduce new flag `--ignore-check-failures=label1,label2,...labelN`
  - each `label` in comma separated list will correspond to different check type: `isroot`, `hostname`, `swap`, etc.
  - special label `all` or `*` will match all labels
  - old `--skip-preflight-checks` will become equivalent of `--ignore-check-failures=all`

2. `type Checker i

[2017-10-24 20:36] jackielii commented on #244
@rachlenko The work around IIRC is install kubelet manually probably from the proper source

[2017-10-24 20:41] dims commented on #507
@smileisak Can you please check the kubelet logs to see if you can find a clue on why FailedCreatePodSandBox occurs?

[2017-10-25 08:13] runcom opened #508 "kubeadm reset shouldn't assume docker, use crictl"
ref https://github.com/kubernetes-incubator/cri-o/issues/1057

kubeadm reset assumes docker when resetting the an host:
[code]
Since kubernetes is now using the CRI to perform containers operation, I suggest to change docker to [`crictl`](https://github.com/kubernetes-incubator/cri-tools) so that everything is cleaned up correctly even if docker isn't running (cri-o for instance)

@luxas @rhatdan

[2017-10-25 08:21] runcom commented on #508
This should be the command to be used:
[code]
The socket parameter can be easily customized at command line

Let me know how we want to handle this and I'll work on it :)

[2017-10-25 08:21] runcom commented on #508
/cc @mrunalp @vbatts (minikube as well assumes docker somewhere right?)

[2017-10-25 12:26] vbatts commented on #508
There loads of places that it is assumed. Moving to a CRI socket and crictl would be preferred

[2017-10-25 12:48] runcom commented on #508
probably kubeadm needs another flag/param/arg to support CRI sockets as well

[2017-10-26 16:05] mattmoyer opened #509 "`kubeadm init --token-ttl 0` (flag) and `tokenTTL: "0"` (config) are broken since 1.8.0"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT (copied from @rhuss's issue filed here https://github.com/kubernetes/kubernetes/issues/5363)

## Versions
1.8.0 - up to current master (2017-10-26)

## What happened?
When using kubeadm with a token generated by kubeadm token generate in advance, but also when letting kubeadm create the token, a `tokenTTL` configuration is ignored. The same is

[2017-10-26 16:05] mattmoyer commented on #509
cc @kubernetes/sig-cluster-lifecycle-bugs
/type bug

[2017-10-26 16:06] pswenson commented on #300
I'm confused on the state of this issue... sounds like it almost works but no one is actively working on making it fully supported?

[2017-10-26 19:41] rhuss commented on #509
My current workaround is to create an extra token on my own _after_ `kubeadm init`:

[code]

The later token is then used for `kubeadm join` on the nodes.

[2017-10-26 21:32] colemickens commented on #465
@imriss What other steps did you need to do? At one point I thought I'd had to tweak the cgroup driver, but I'm not setting anything in the `kubeadm` config, and the only docker config I'm providing is changing the storage driver. Right now, as far as I can tell, I'm blowing away all Kubernetes config on my system and re-deploying it with every release of Kubernetes and all of those steps are capt

[2017-10-27 16:34] luxas commented on #509
Thanks @mattmoyer for the bug fix :clap:! Approved

[2017-10-27 19:59] luxas commented on #261
@XiLongZheng Yes, we hope so. Latest design doc we'll check into Github next week: https://docs.google.com/document/d/1P3oUJ_kdaRSTlGONujadGBpYegjn4RjBNZLHZ4zU7lI/edit#

[2017-10-27 20:16] luxas commented on #276
Closing this; I think it should be working well in v1.8
If not, please reopen @JedenPies2.
Thanks!

[2017-10-27 20:16] #276 closed

[2017-10-27 20:17] luxas commented on #411
@mattmoyer can we close this?

[2017-10-27 20:18] luxas commented on #417
Great @tomciaaa, it seems like the issue got solved

[2017-10-27 20:18] #417 closed

[2017-10-27 20:20] luxas commented on #422
This is a known issue @TristanPeers. We need #28 in order for this to work automatically,  probably coming in v1.9
Until then,  you need to modify `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` manually on each node.

[2017-10-27 20:20] #422 closed

[2017-10-27 20:21] luxas commented on #443
@kad PTAL

[2017-10-27 20:22] luxas commented on #308
Closing this as solved.

[2017-10-27 20:22] #308 closed

[2017-10-27 20:24] luxas commented on #439
@helphi This is documented on the website: https://kubernetes.io/docs/admin/kubeadm/#running-kubeadm-without-an-internet-connection

[2017-10-27 20:24] #439 closed

[2017-10-27 20:29] luxas commented on #413
@anguslees We had the "wait forever" behavior earlier; but that was very sub-optimal from an UX PoV, so now we do have timeouts. We might want to increase some of those timeouts if you want.

The problem is that usage of kubeadm is two-fold. We both have users typing kubeadm interactively that want to know if something is happening or not _and_ higher-level consumers.

[2017-10-27 20:31] luxas commented on #294
I think that we can close this now that https://github.com/kubernetes/website/pull/5940 is merged

[2017-10-27 20:31] #294 closed

[2017-10-27 20:31] luxas commented on #487
Why wouldn't you like this to be a normal IP?

[2017-10-27 20:34] luxas commented on #17
I don't have cycles to work on this. If anyone else, can please do!

[2017-10-27 20:36] luxas commented on #128
@jamiehannaford Alternatively, I'm wondering whether it would make sense to use the native `autoscaling/v1` or `autoscaling/v2beta1` HPAs instead...

[2017-10-27 20:38] luxas commented on #358
I don't think this is an issue with kubeadm itself,  at least not anymore.
@nat9999 Please reopen this issue if you can provide more information about the failure with the latest kubeadm v1.8.
Thank you!

[2017-10-27 20:38] #358 closed

[2017-10-27 20:39] luxas commented on #432
Please reopen this or create a new issue with more information if you can reproduce this with kubeadm v1.8.
Thank you!

[2017-10-27 20:39] #432 closed

[2017-10-27 20:44] luxas commented on #508
I'm open to a PR here that would use `crictl` if it exists locally on a node and `docker` isn't present on the node. The CRI socket can be a parameter. WDYT?

[2017-10-27 20:45] luxas commented on #285
@rhatdan @runcom Does any of you have spare cycles to improve the situation here?

[2017-10-27 20:46] luxas commented on #249
@timothysc this doesn't seem to be a kubeadm-native issue, but more a higher-level integration issue for a third-party packaging provider. Reopen if I'm wrong.

[2017-10-27 20:46] #249 closed

[2017-10-27 20:47] luxas commented on #484
@andrewrynhard is working on a fix for this I think.

[2017-10-27 20:49] runcom commented on #508
I'm working on this then :)

[2017-10-27 20:49] runcom commented on #285
I'll start with https://github.com/kubernetes/kubeadm/issues/508 then and go from there and fixups all dockerisms :)

[2017-10-27 20:51] luxas commented on #471
I think the best we can do here is to document that if you want to make the API Server accessible via [your FQDN here]; you should use the `--api-server-extra-sans` flag.

Does that sound reasonable? Again, I'm not in favor for adding "hacks" that might or might not work for an user and has a great risk of creating a "false positive" (a SAN is added where it shouldn't have been added). WDYT?

[2017-10-27 20:52] luxas commented on #360
Closing this for now, probably fixed with v1.8.
If this wasn't fixed with v1.8, please open a new, fresh issue.
Thank you!

[2017-10-27 20:52] #360 closed

[2017-10-27 20:54] Quentin-M commented on #471
Interestingly having a somewhat related issue it seems.
- With `--cloud-provider=aws` (with custom provisioning, not **kubeadm**),
- Hostname of the instances (container linux) are set to `ip-172-16-46-149` (not fully qualified)
- So the CSRs for TLS bootstrapping are requested with `subject= /O=system:nodes/CN=system:node:ip-172-16-46-149`
- Because the controller-manager expects the hostname to

[2017-10-27 20:54] luxas commented on #367
I think the problem here is that you didn't install Weave Net, Flannel, or some other networking provider as @jamiehannaford highlighted.
Please reopen this issue if you have done all those steps and can reproduce this behavior with kubeadm v1.8.
Thank you!

[2017-10-27 20:54] #367 closed

[2017-10-27 20:56] luxas commented on #378
@jianlianggao I think the issue might be that the kubelet isn't running successfully.
You can try to run `journalctl -xeu kubelet` to troubleshoot why your kubelets aren't joining correctly.
I'm closing this now, but please reopen if this issue can be reproduced with kubeadm v1.8

[2017-10-27 20:56] #378 closed

[2017-10-27 20:58] luxas commented on #387
Yeah, I think this is a flannel issue. If you still can reproduce this, please consider opening an issue in the flannel repo instead.
Thank you!

[2017-10-27 20:58] #387 closed

[2017-10-27 20:59] luxas commented on #388
@fabriziopandini @jbeda @mattmoyer @timothysc What do you think about this?
We've dismissed the proposal some times so far, but we might be able to implement something under `kubeadm phases`?

[2017-10-27 21:02] luxas commented on #228
As this thread have got so long, and there are probably a lot of totally different issues, the most productive thing I can add besides @jamiehannaford's excellent comment is that please open new, targeted issues with all relevant logs / information in case something fails _with the newest kubeadm v1.8_, which automatically detects a faulty state much better than earlier versions. We have also impr

[2017-10-27 21:02] #228 closed

[2017-10-27 21:02] luxas commented on #264
Thanks @jamiehannaford!

[2017-10-27 21:03] luxas commented on #506
I'm not sure whether we should add that deep configurability... why not just set up etcd externally then or reuse the already-running etcd instance?

[2017-10-27 21:04] luxas commented on #211
@Snipes999 I'll close this issue as solved then. Thank you!

[2017-10-27 21:04] #211 closed

[2017-10-27 21:05] luxas commented on #480
Feel free to send such a PR @kad

[2017-10-27 21:07] luxas commented on #300
@pswenson This is a packaging effort that someone might want to do.
Basically repackaging the debs/rpms into an installer container for CoreOS.
Nobody is working on this though in favor for higher-priority tasks.

[2017-10-27 21:08] luxas commented on #441
First PR is here: https://github.com/kubernetes/kubernetes/pull/49840

[2017-10-27 21:09] luxas commented on #503
Why not do `chroot /rootfs -- kubeadm [args]`?

[2017-10-27 21:11] luxas commented on #471
@Quentin-M Using the AWS cloud provider is an edge case, as it modifies the Node API object as you've noticed. That means you need to run `kubeadm init --node-name [AWS FQDN]`, where you get the FQDN AWS wants from the internal metadata servers.

[2017-10-28 05:27] kad commented on #443
That is interesting. What does output of
`kubectl -n kube-system describe pod kube-apiserver-$master_name` and `kubectl -n kube-system logs kube-apiserver-$master_name` says ?

Anything about static manifest in kubelet log ? (e.g. if manual editing resulted with syntax errors in manifests ?

Generally, if *_proxy was set during init time, in 99% of cases you will need same settings for your contro

[2017-10-28 09:19] jamiehannaford commented on #388
We've had some users express interest in running kubeadm in envs with no connection to the public internet. Being able to list Docker images might help them prepare for that.

[2017-10-28 09:24] jamiehannaford commented on #506
@luxas To take one example, AFAIK OpenStack uses etcd for its control plane too. I don't think it's safe to have that and K8s using the same datastore due to the risk of key collisions, it also poses additional security concerns.

In terms of external etcd - sure, they could, but it's raising the barriers for entry IMO. It'd be a lot simpler if they could just use kubeadm and tweak 2 config vars.

[2017-10-28 12:51] luxas commented on #265
@fabriziopandini Is this fixed with https://github.com/kubernetes/kubernetes/pull/54616?

[2017-10-28 13:16] fabriziopandini commented on #265
@luxas no.
Reference doc and man pages are now generated, but not yet published on the respective targets.
There is still some work to be done here...

[2017-10-28 22:26] andrewrynhard commented on #476
@jamiehannaford please see https://github.com/kubernetes/kubernetes/pull/49840. Once this merged it will allow you to override the default path with something like this:
[code]

[2017-10-29 09:04] onorua commented on #487
because that is the only IP available on each and every host, this gives broad possibilities to use client side load balancers to reach API server.
You can check HA for kubeadm document, there is a definition of "well known IP", which is not defined yet, localhost is actually a well know, and makes it simple to use client side LB as well as iptables proxying.

[2017-10-29 17:35] imriss commented on #465
@colemickens sorry for the delay. One other thing is the need to offline-download the images (mentioned [here](https://github.com/kubernetes/kubernetes/issues/44694#issuecomment-340051929) and [here](https://github.com/kubernetes/kubernetes/issues/44694#issuecomment-340190991)) before `kubeadm init`.

[2017-10-29 17:47] imriss commented on #465
The command to pull the images (to have it offline before calling `kubeadm init`):
`echo "gcr.io/google_containers/etcd-amd64:3.0.17 quay.io/coreos/flannel:v0.8.0-amd64 gcr.io/google_containers/k8s-dns-sidecar-amd64:1.14.5 gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.5 gcr.io/google_containers/k8s-dns-dnsmasq-nanny-amd64:1.14.5 gcr.io/google_containers/kube-apiserver-amd64:v1.8.0 gcr.io/go

[2017-10-30 01:20] anguslees commented on #503
Because that will run `kubeadm` from `/rootfs`, which is not what we want.  We want to start the `kubeadm` binary from the docker image rootfs, and *then* chroot to the host rootfs.  The `chroot()` call must occur inside the `kubeadm` process for this to happen.

[2017-10-30 02:44] srflaxu40 commented on #484
Yah, tried this with kubeadm v1.8.0 - does not work.  @tadas-subonis Did you have a workaround for this in the time being?  I downgraded to v1.7.8 and that seems like it "may" have worked?

[2017-10-30 06:01] alexpekurovsky commented on #484
@srflaxu40 The workaround currently is to put `cloud-config` file inside `/etc/kubernetes/pki`, as this directory currently is being mounted inside both to `apiserver` and `controller manager`.
And you need to specify in `kubeadm.conf`:

[code]
P.S. Note that `/etc/kubernetes/pki` directory is cleared each time you're doing `kubeadm reset`

[2017-10-30 06:18] kad commented on #503
@anguslees why do you want to start kubeadm against docker image rootfs ? Which steps you feel kubeadm should perform on image rootfs before starting to use real rootfs?

[2017-10-30 08:32] tadas-subonis commented on #484
I moved to other means of deployment (kubespray).

On Mon, Oct 30, 2017 at 3:44 AM, John <notifications@github.com> wrote:

--

Kind Regards,
Tadas Šubonis

[2017-10-30 09:00] jianlianggao commented on #378
Thank you very much Luxas

[2017-10-30 09:14] mattymo commented on #484
@tadas-subonis Kubespray also supports kubeadm deployment (experimental). https://github.com/kubernetes/kubernetes/pull/49840 will help address this soon

[2017-10-30 13:15] tamalsaha opened #510 "Calico does not start on a uninitialized cluster"
I am trying to run DigitalOcean CCM in a Kubeadm 1.8 cluster with Ubuntu 16.04 LTS image. I have configured kubelet with `--cloud-provider=external`. Here is my startup script:
https://github.com/appscode/pharmer/blob/2840a40b50edd0f2ee258bcc06a890132c350bd6/hack/startupscripts/master-example.sh#L156

After I run `kubeadm init`, the following pods start:
[code]

The issue here is that DigitalOcean

[2017-10-30 13:20] tamalsaha commented on #510
cc: @andrewsykim @caseydavenport

[2017-10-30 13:26] Lion-Wei opened #511 "fix the realization of kube-proxy mode information ASAP"
To use kubeadm build ipvs CI test, we need pass kube-proxy mode information to kubeadm, and this should be done before v1.9, since we haven't realized use `ComponentConfig ` right now, so I chose use feature gate `SupportIPVSProxyMode`. see this pr : #53962
This is definitely a short-term solution, so we need to fix this ASAP, properly before v1.9, maybe.

## Is this a BUG REPORT or FEATURE REQUES

[2017-10-30 13:37] Lion-Wei opened #512 "modify the realization of kube-proxy mode"
We need pass kube-proxy mode information to kubeadm so that we can build ipvs CI test before v1.9, since we didn't realized use `ComponentConfig` right now, I chose use feature gate to identify ipvs proxy mode. see this pr: kubernetes/kubernetes#53962

This is definitely a short-term solution, so we need fix this ASAP, maybe before v1.9.

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUES

[2017-10-30 17:20] srflaxu40 commented on #90
I went through the documentation and tried to mix and match this to get it to work to no avail.  :/

[2017-10-30 17:52] caseydavenport commented on #510
[code]

Looks like the etcd connection is getting refused. Are you able to connect to that IP from one of the nodes, or do you see the same error?

e.g.

[code]

It looks like the etcd pod is running fine - maybe check the calico-etcd pod logs to see if there are any clues there?

[2017-10-30 18:12] andrewsykim commented on #510
@tamalsaha @caseydavenport IIRC, CCM doesn't require calico (or other networking daemons) setup to initialize nodes since it will talk directly to apiserver via the advertise addresses in the iptables rules. I think we can work around this by having DO CCM tolerate all taints. I will have an example Daemonset spec for you soon to try out :)

[2017-10-30 19:17] kingdonb commented on #90
@srflaxu40 I'm interested to help if it's broken.  How is it failing for you?  I can't get a look at it right now, but I'm happy to try spinning a node up later against the latest kubeadm.

The critical parts as I remember are:

1. `kubeadm --cloud-provider=aws`

2. `kubelet --cloud-provider=aws`

3. All resources belonging to the cluster need a `KubernetesCluster=your_cluster_name_here` tag on AW

[2017-10-30 19:42] tamalsaha commented on #510
@caseydavenport . it seems that curl is not working.

[code]

[2017-10-30 20:00] caseydavenport commented on #510
[code]

This looks wrong to me - it should be reporting the calico-etcd pod's IP address as the client IP.

Does the calico-etcd pod have an IP address?

[code]

It should also be populating the IP in this environment variable in the pod, so might want to check that it is set.

@tamalsaha Probably unrelated, but I also noticed you're using Calico v2.3, which is rather old. If possible I'd recommen

[2017-10-30 21:05] danehans opened #513 "DNS Manifests Use IPv4 Loopback in IPv6 Deployments"
## What happened?
kubeadm statically assigns an IPv4 loopback within the deployment manifest. For users that require IPv6 only deployments, use of an IPv4 address is not allowed.

## How to reproduce it (as minimally and precisely as possible)?
Deploy k8s using kubeadm and set the api-server address to an IPv6 address. After the deployment is complete, inspect the details of the dns addon deployme

[2017-10-30 21:52] tamalsaha commented on #510
With the help of @andrewsykim , I was able to get DO CCM running on uninitialized master node. We had to make 2 changes:
- Use DaemonSet instead of Deployment to run CCM (this allows us to run ccm in NotReady master node).
- Use HostNetwork: true with CCM, since CNI plugin might not be ready yet.

[2017-10-30 21:54] tamalsaha commented on #510
@caseydavenport , to answer your question, calico-etcd pod does not have an IP.

[code]

[2017-10-31 03:19] anguslees commented on #503
@kad: We need to load the actual `kubeadm` executable (and any shared libraries if we should choose to link it dynamically) from the docker image rootfs.   Being able to distribute `kubeadm` as a docker image is the point of this proposal.

[2017-10-31 06:54] luxas commented on #513
Thanks for the issue and PR @danehans; as we saw https://github.com/kubernetes/kubernetes/pull/54437 fixes this issue so I'll close it.

However, I would very much like an "umbrella" issue for tracking IPv6 support in kubeadm generally, where you link to all those related PRs so I and others can easily track the progress.
Can you do that please?

[2017-10-31 06:54] #513 closed

[2017-10-31 07:09] tamalsaha opened #514 "Kubelet does not assign Host IP for pods with HostNetwork"
I am trying to test CCM in DigitalOcean using Ubuntu 16.04 64-bit image using Kubeadm 1.8.0. I have found that Kubelet will not assign IP for pods with `HostNetwork: true`, if I start kubelet with `--cloud-provider=true`.  This breaks CNi plugins like Calico #510 .

Reproducible steps:
[code]

[code]
We are supposed to see the external IP of the Host for these pods 9except kube-dns pod).

[2017-10-31 07:09] tamalsaha commented on #514
/kind bug

[2017-10-31 07:13] tamalsaha commented on #514
cc: @andrewsykim

[2017-10-31 07:13] tamalsaha commented on #510
Closing this issue as the root issue seems to be how kubelet assigns IP when --cloud-provider=external is set.

[2017-10-31 07:13] #510 closed

[2017-10-31 07:22] kad commented on #503
@anguslees kubeadm is classical Go binary which means it has dependency only to libc.
Are you having something in your rootfs that doesn't meet that linking requirement ?

[2017-10-31 08:23] #498 closed

[2017-10-31 14:53] tomdee commented on #211
@luxas I don't think this is solved. Unless I'm not understanding this correctly...

1. A user creates a kubernetes cluster with kubeadm
2. At some point they try to use `kubectl logs ...`
3. They find it doesn't work and if they are lucky they find this issue or some troubleshooting doc with advice on needing to manually edit some files and then destroy and recreate their cluster!

Shouldn't this

[2017-11-01 00:26] anguslees commented on #503
No, this proposal is for the regular statically linked kubeadm binary.  I think I may have confused you with my description though, so let me try again:

We want the *kernel* to load the `kubeadm` executable from the image rootfs.  This means we can't chroot before the `exec()` call (this is what's wrong with luxas' suggestion above using the `chroot` tool).  We need the order to be: 1. `exec(kube

[2017-11-01 07:04] kad commented on #503
beside chroot() call, do you expect that kubeadm should handle mounting /proc and /dev/pts inside /rootfs or your container image will handle that ?

[2017-11-01 07:29] anguslees commented on #503
@kad: I don't understand...  After the chroot() to the host `/`, `kubeadm` will be able to access the "real" `/proc` and `/dev/pts` as normal.  What am I missing?

[2017-11-01 10:07] klausenbusk commented on #261
I remember a (rather complicated?) proposal for the load balancer issue, but can't find it right now. Anyone else remembering that proposal? IIRC it was something about tweaking `/etc/hosts` when bootstraping and then relaying on the `kubernetes` service.

[2017-11-01 11:48] vbmade2000 commented on #340
@luxas Is https://github.com/kubernetes/kubernetes/issues/25272 you are talking about ?

[2017-11-01 12:23] kad commented on #503
@anguslees sorry, my bad. You are correct. In case of passing real rootfs and chrooting to it, /proc, /dev will be visible.

PID namespace will be different:
[code]

Also kubeadm reset functionality would require privileged container to perform umounts, but tools like systemctl or docker executable should be working fine.

[2017-11-01 12:44] anguslees commented on #503
@kad: `docker --pid=host ...`

[2017-11-01 13:28] luxas commented on #261
@klausenbusk Yeah, but we dropped that as it actually didn't work well after some experimenting.
Now we're thinking about reusing the kube-proxy for loadbalancing to the VIP

[2017-11-01 13:31] luxas commented on #211
That can only happen under certain conditions when you're behind proxies.
The umbrella issue for making detection of front proxies better in k8s/kubeadm is https://github.com/kubernetes/kubeadm/issues/324, and @kad is owning that area. I think it gets better all the time.

[2017-11-01 13:33] luxas commented on #340
@vbmade2000 No, this is about adding _any_ kind of advanced logging solution to kubeadm, not about adding one more logging feature to kubectl.
@vbmade2000 Are you interested in contributing to this effort?

[2017-11-01 13:40] luxas commented on #511
Thanks @Lion-Wei! I'll assign you this and poke here when the parent PR is merged.

[2017-11-01 13:46] kad commented on #211
@tomdee I'm constantly hitting issues where something doesn't work if person is in isolated network behind proxies, and trying to fix as much as I can. We have several patches that are already merged into 1.9 and some even backported to 1.8.x to get it better. Some PRs are still under review, but hopefully will soon be merged in 1.9. If you hit something, please feel free to open issue and assign

[2017-11-01 14:27] vbmade2000 commented on #340
@luxas Surely I am if @jnardiello doesn't have any issue with that. Earlier I started walking through kubeadm code but due to time constraints I couldn't do much.

[2017-11-01 14:29] luxas commented on #340
@vbmade2000 will you join our meeting later today? That could be a great place for you to get some intro to what needs to be done here. @jnardiello doesn't seem to have time (and absolutely no worries for that!)

[2017-11-01 14:43] vbmade2000 commented on #340
@luxas I shall try but can't assure you. I think it is under **SIG Cluster Lifecycle**. Correct me if I am wrong. Also I believe recordings of meetings are available if I won't be able to attend.

[2017-11-01 14:57] jamiehannaford commented on #514
@tamalsaha Is this a bug with kubeadm or the kubelet itself?

[2017-11-01 15:00] jamiehannaford commented on #511
Closing this as we already have https://github.com/kubernetes/kubeadm/issues/512

[2017-11-01 15:00] #511 closed

[2017-11-01 15:03] jamiehannaford commented on #507
@smileisak Were you able to pin down what happened in the kubelet logs?

[2017-11-01 15:20] #441 closed

[2017-11-01 15:20] #484 closed

[2017-11-01 16:00] srflaxu40 commented on #484
@tadas-subonis does kubespray support singly attaching a kube-minion/slave to kube master?

[2017-11-01 17:50] krzyzacy commented on #264
@jamiehannaford I think you can add a simple script in kubeadm repo, and in prow we can have a periodic job that checks out kubeadm and runs that script.

[2017-11-01 18:01] jamiehannaford commented on #264
@krzyzacy Cool. What roughly needs to be added for prow to check out the kubeadm repo?

[2017-11-01 18:10] krzyzacy commented on #264
for instance, currently we have
[code]

you can also have
[code]

and in config.json you can run
[code]

[2017-11-01 18:22] luxas commented on #514
This _might be_ a kubelet bug with the `--cloud-provider=external` flag.
What you need to do with `--cloud-provider=external` is to deploy the external ccm; if you haven't done that, this might even be expected... If you deployed the ccm though and things didn't work as expected, there might be a kubelet bug.

However, pls reopen this in kubernetes/kubernetes, as this is not a kubeadm bug.

[2017-11-01 18:22] #514 closed

[2017-11-01 18:49] luxas commented on #476
@andrewrynhard will send one more PR for fixing this without user intervention and we'll backport to v1.8

[2017-11-01 18:59] tadas-subonis commented on #484
I believe so. You add it to node group and then apply just that node

On Nov 1, 2017 18:00, "John" <notifications@github.com> wrote:

[2017-11-01 19:34] luxas commented on #490
Talked about this in the SIG meeting today. High-level 3.0.17 -> 3.1.10 upgrade prereqs:
Basically, the `kubeadm upgrade apply` will need to do this when upgrading from `v1.8.x` to `v1.9.y`:
1) Add some kind of flag, defaulting to true, that specifies whether to upgrade etcd or not
2) Move /etc/kubernetes/manifests/etcd.yaml to the backup directory
3) Write a new etcd manifest to /etc/kubernetes/m

[2017-11-01 19:35] luxas commented on #490
meeting notes: https://docs.google.com/document/d/16CEsBSSGm3sMpvB_cFnKnqqi1OxhIcyX3lVwBpIyMHc/edit#

video will be up shortly

[2017-11-01 20:07] kad commented on #443
@lastboy1228 would you be able to update this issue with details above ?

[2017-11-01 20:13] jessicaochen commented on #457
Test is created and running. Looks like kubeadm upgrade from stable -> head fails:

Do not have the time right now to dig further.

[2017-11-01 21:48] sbezverk commented on #490
@luxas @jamiehannaford : I started looking into this and have a couple of questions.
- should new etcd image be pre pulled? if yes, should it be done unconditionally or only in the case of etcd upgrade being true?
- new version for etcd image, should it correspond to the target version of k8s or it can be independent and can be specified as one of the parameters?

[2017-11-01 21:58] #364 closed

[2017-11-02 00:38] tamalsaha commented on #514
Reopened in main repo: https://github.com/kubernetes/kubernetes/issues/54965

[2017-11-02 10:05] arunpjohny commented on #507
We are getting the same error in multiple deployments, one example is the echoheaders deployment that we are using to test ingress

**Deployment**
[code]
**kubectl -n nginx-ingress describe pods echoheaders-7pbth**
[code]
**journalctl -u kubelet | less | grep echoheaders**
[code]

### Environment
**kops version**: Version 1.7.1 (git-c69b811)
**kubectl version**:
[code]

[2017-11-02 12:41] jamiehannaford commented on #490
@sbezverk

Yes, I think so, since that's what we do for DaemonSets. I'd expect you'd run a temporary pod that would allow the kubelet to pull the image. This would only be done if the user has indicated they want to upgrade etcd.

Good question. I'd expect us to pin the etcd version depending on what the k8s release expects - we shouldn't allow arbitrary versions IMO. I'm not sure whether there's

[2017-11-02 13:47] vbmade2000 commented on #340
@luxas @mengqiy Can you provide some more detail ?

[2017-11-02 16:02] jamiehannaford commented on #117
@luxas Should we focus on this for v1.10?

[2017-11-02 16:24] kvaps opened #517 "Kubeadm can't add removed node"
# BUG REPORT

## Versions

**kubeadm version**
[code]

**Environment**:
- **Kubernetes version**:
[code]
- **Cloud provider or hardware configuration**:
- **OS**:
[code]
- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
Node is not shown in kubernetes

## What you expected to happen?
Working node in kubernetes

## How to reproduce it (as minimally and precisely as possible)?
- add node usi

[2017-11-02 16:27] kvaps commented on #517
Forgot to run
[code]
After this procedure

[2017-11-02 16:27] #517 closed

[2017-11-02 17:24] bboreham commented on #102
[Aside: it bugs me I have to read up and down and through other issues to page the context back in.  The problem people wanted resolved is *absolutely nothing* to do with the title of this issue]

In the setup docs you could say "if you have more than one network adapter, and your Kubernetes components are not reachable on the default route, we recommend you add IP route(s) so Kubernetes cluster a

[2017-11-02 20:24] jamiehannaford commented on #102
You are not the only one! 😅

Cool, I'll try to submit a docs PR for this tomorrow and close this out.

[2017-11-02 23:07] hbasappa commented on #487
hitting the same issue..would love the support for 127.0.0.1/localhost in a closed system

[2017-11-03 09:09] tamalsaha commented on #484
@jbeda , @luxas, @andrewrynhard can this be cherry-picked for 1.8.3 ? I did not see this in https://groups.google.com/forum/#!topic/kubernetes-dev-announce/EBIEGBxXhX4

[2017-11-03 12:47] gnavgire opened #518 "Kubeadm does not provide mount point for scheduler policy-config-file"
## Is this a BUG REPORT

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.8

**Environment**:
- **Kubernetes version** (use `kubectl version`):1.8
- **Cloud provider or hardware configuration**: intel nuc
- **OS** (e.g. from /etc/os-release): ubuntu-16.0.4
- **Kernel** (e.g. `uname -a`):4.10.0-37
- **Others**:

## What happened?
kubeadm init can be provided a con

[2017-11-04 14:45] wimvanleuven commented on #411
Running into this issue myself. 3 questions here:

1. Will this be enhanced in a future release?
1. What is the current workaround?
1. Can I help with fixing, documenting or testing?

[2017-11-04 21:04] #473 closed

[2017-11-04 21:49] #508 closed

[2017-11-04 22:27] 1605200517 opened #519 "Better usability for the join token"
/kind feature
@kubernetes/sig-cli
**What happened**:
I have discovered that if it is not so easy to add new machines if you do not have original joun string output from kubeadm. "Is there a way to generate the whole join command? **I feel like I have to reset the entire cluster to be able to "reach" the magic string**" (c) @alexellis

**What you expected to happen**:
Likewise in Docker Swarm, you

[2017-11-04 23:34] tamalsaha commented on #518
This issue if resolved by https://github.com/kubernetes/kubernetes

See discussion: https://github.com/kubernetes/kubeadm/issues/484

[2017-11-04 23:38] tamalsaha opened #520 "Add `.KubeProxy.Image` & `.KubeProxy.ExtraVolumes` in MasterConfiguration"
FEATURE REQUEST

Currently there is no way to configure `kube-proxy` DaemonSet using MasterConfiguration. We could probably use kubectl to patch the daemonset but supporting configuration will be handy. I think this will also require supporting extra mounts.

related: https://github.com/kubernetes/kubeadm/issues/512

[2017-11-05 10:34] #476 closed

[2017-11-05 13:11] JinsYin opened #521 "Where is the path to the certificate file and private key file referenced by the "kubernetes-admin" user?"
[code]

Where can I find the `kubernetes-admin.crt` file and `kubernetes-admin.key` file?

[2017-11-05 15:09] YueHonghui opened #522 "mount volumes of kube-apiserver.yml static pod manifest is invalid"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version**
[code]
- **Cloud provider or hardware configuration**:
Virtual Machine
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
After I create ca certs and etcd certs and then make etcd cluste

[2017-11-05 22:00] #444 closed

[2017-11-06 07:44] gnavgire commented on #518
Does it require any other config to be used in the kubeadm-config.yaml ??

[2017-11-06 07:54] gnavgire commented on #518
The scheduler container yaml still does not contain the additional volume mount:
***************************************************************
spec:
  containers:
  - command:
    - kube-scheduler
    - --policy-config-file=/opt/k8s/cfg/sched_policy.json
    - --address=127.0.0.1
    - --leader-elect=true
    - --kubeconfig=/etc/kubernetes/scheduler.conf
    env:
    image: gcr.io/google_contain

[2017-11-06 08:44] fabriziopandini commented on #203
@jamiehannaford If you want to add also this to the document reshuffle for v1.9, please send me a the paragraph to add to https://github.com/kubernetes/website/pull/6103

[2017-11-06 09:01] smileisak commented on #507
@dims && @jamiehannaford this is kubelet logs:

    Nov 06 09:58:48 s00vl9974123 kubelet[558]: E1106 09:58:48.855639     558
    kuberuntime_sandbox.go:54] CreatePodSandbox for pod "kube-dns-545bc4bfd4-mjn49_kube-
    system(2ffdece1-c2d0-11e7-98cb-005056008ce3)" failed: rpc error: code = Unknown desc = failed to
    start sandbox container for pod "kube-dns-545bc4bfd4-mjn49": Error response from

[2017-11-06 09:43] alexnuttinck opened #523 "DNS pod stuck in status ContainerCreating: Error syncing pod"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
Trying to install Kubernetes Cluster version 1.8.2 us

[2017-11-06 10:18] gnavgire commented on #518
After providing the below configuration in the kubeadm config file:
*************************************************************
schedulerExtraVolumes:
- name : "sched_policy"
  hostPath : "/opt/k8s/cfg/sched_policy.json"
  mountPath : "/opt/k8s/cfg/sched_policy.json
**************************************************************
The below kube-scheduler.yaml got created, however kubeadm is not ab

[2017-11-06 10:28] gnavgire commented on #518
Making the below changes to the kubeadm config file:
schedulerExtraVolumes:
- name : "schedpolicy"
  hostPath : "/opt/k8s/cfg/"
  mountPath : "/opt/k8s/cfg/"
**********************************************
Made the kube-scheduler to be scheduled successfully.
Thanks for the Help!!

[2017-11-06 10:28] #518 closed

[2017-11-06 11:51] jamiehannaford commented on #507
@smileisak Hmm, that's strange. Would you mind restarting docker with `systemctl restart docker` and seeing if that changes anything? xref: https://github.com/moby/moby/issues/29640

[2017-11-06 12:01] jamiehannaford commented on #203
@fabriziopandini Sure! Done

[2017-11-06 12:06] smileisak commented on #507
@jamiehannaford by restarting docker everything is working now ! but it's weird as an error

[2017-11-06 12:14] kad commented on #521
@JinsYin content of the fields `client-certificate-data` and `client-key-data` is the base64 encoded content of files you're looking for.

[2017-11-06 12:58] jamiehannaford commented on #507
@smileisak Yeah... I think this is more of a Docker issue than kubeadm. Are you okay with me closing this?

[2017-11-06 13:00] smileisak commented on #507
@jamiehannaford yes you can close this issue :smile:  thank you for your help !  :smiley:

[2017-11-06 13:02] #507 closed

[2017-11-06 13:04] jamiehannaford commented on #520
@tamalsaha What type of additional configuration would you like? Specifying extra args to the binary?

[2017-11-06 13:06] jamiehannaford commented on #521
@JinsYin You can save them to the file by doing `echo REDACTED | base64 -d > file.crt`.

[2017-11-06 13:07] tamalsaha commented on #520
Here is the list of flags that are set by GKE. https://gist.github.com/tamalsaha/9e0b637ffa536e4e91c83c71e92a81fd#file-gke-flags-L29

We want to do the same for our GCE cluster using kubeadm (not GKE). So, `--feature-gates` will be one. Also, some flags point to files (--azure-container-registry-config, --google-json-key). Need mount for those.

[2017-11-06 13:37] luxas commented on #520
We're gonna do this with kube-proxy ComponentConfig and embed the whole struct in `.KubeProxy.Config` in `MasterConfiguration`. We're avoiding the `map[string]string` as long as possible, i.e. until ComponentConfig is available.

[2017-11-06 13:57] kad commented on #522
/assign kad

[2017-11-06 14:06] kad commented on #522
@YueHonghui It would be great if you can build and try environment patch from PR https://github.com/kubernetes/kubernetes/pull/55166 to see if issue is solved and worked correctly.

[2017-11-07 01:47] sefm opened #524 "support imagePullPolicy when pulling kubeadm images"
## Is this a request for help?
Bug / Help and possibly implement a fix for the bug

similar closed issue : https://github.com/kubernetes/kubeadm/issues/34

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version = kubeadm_1.8.2-00
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: AWS in isolated vpc.
-

[2017-11-07 02:02] JinsYin commented on #521
@kad @jamiehannaford Does not kubeadm create these two files automatically?
If I accidentally modified the `~/.kube/config`  file, how should I view the `rolebinding` or `clusterrolebinding` for the `kubernetes-admin` user?

[code]

[2017-11-07 08:05] kad commented on #521
No, kubeadm does not create those files separately. They are only part of admin.conf. If you somehow lost content in your home directory, try to check on your master node `/etc/kubernetes/admin.conf`.

If you're looking for how clusterrolebinding is done, it is
[code]

[2017-11-07 14:09] JinsYin commented on #521
@kad Thanks. So the `kubernetes-admin` user belongs to the `system:masters` group?

[2017-11-07 14:59] mattmoyer commented on #509
This is fixed in `master` and should be in v1.8.3.

[2017-11-07 14:59] #509 closed

[2017-11-07 15:26] kad commented on #521
Yes, it does.

[2017-11-07 16:01] #522 closed

[2017-11-07 17:00] rushins commented on #228
i had the same issue with 1.8 in CENTOS 7 with 1.8 ? anyone had the same issue or know how to fix.

[2017-11-07 17:02] rushins commented on #353
no luck it gets hung there ..

[2017-11-07 17:44] neolit123 commented on #235
@luxas

but if kubeadm is started with "sudo", you can get the regular user who started it.
from my experience starting "kubeadm init" from a root$ terminal didn't work, if i recall correctly.
...and this raises the question why should we allow root$ to start "kubeadm init", given the config needs a regular user?

[2017-11-07 17:47] ivan4th commented on #17
@jamiehannaford problem is, much of "full" DIND cluster is dedicated to handling numerous problems that arise from "simple" DIND usage. These may be quite obscure at times, see e.g. https://github.com/Mirantis/kubeadm-dind-cluster/commit/405c8bead4fb443582328fd3c7b8f01452872438 (I think I'll need to submit a fix for k8s for this). As of [kubeadm-dind-cluster](https://github.com/Mirantis/kubeadm-di

[2017-11-07 17:47] jamiehannaford opened #525 "Provide consistent UX for installation docs"
- Do an initial run-through of our installation instructions and refactor any cruft to provide a more consistent and clear UX. Users should be able to get up and running with minimal confusion.
- Assemble a list of related tools that might help users do a thing (e.g. run kubeadm in containers with DIND, set up CNI binaries, deploy CNI plugin)
- Begin to own the "how to install Kubernetes" story in

[2017-11-07 18:51] srflaxu40 opened #526 "Tracking Issue: Concise outline for using cloud providers"
I was informed to post an issue here outlining various issues setting up kubeadm.  The underlying issue I found is not having a clear and concise document, and for those that are looking for a walk-through on enabling cloud-provider features in any cloud the task is very daunting and under-documented with the exception of one or two blog posts that are for openstack or other providers (not AWS).

[2017-11-07 20:35] arthur0 commented on #526
I think it's can be resolved soon.
The approach using config file is interesting because you can pass the `kube-api-server` and `kube-controller-manager` extra args in the yaml definition, e.g.:
[code]
Reference: https://kubernetes.io/docs/admin/kubeadm/#config-file

It's not possible to configure volumes mount for the `/etc/kubernertes/cloud.conf` file yet, however, it's already implemented here:

[2017-11-07 23:01] ieugen commented on #203
Hi,

I wish to give some feedback as well. I'm trying to use kubeadm to build a secure single node cluster.
I would like all kubernetes services to bind to localhost however that does not work.

I'm using this command and the cluster is created:
[code]
However `/etc/kubernetes/admin.conf` and friends contain the public IP address of the master.
[code]

I will try the --node approach, but I would a

[2017-11-07 23:07] tamalsaha commented on #526
@srflaxu40, have you looked into https://github.com/appscode/pharmer . These sort of issues are addressed out of the box in Pharmer.

[2017-11-08 01:20] JinsYin commented on #521
Thanks. My problem has been solved. I will close the issue.

[2017-11-08 01:20] #521 closed

[2017-11-08 03:53] srflaxu40 commented on #526
No @tamalsaha I am trying to use something under the tree at the moment, and my use-case is very specific - does pharmer allow the ability to dynamically join a mode via kubeadm without re-applying the entire cluster.

[2017-11-08 04:00] tamalsaha commented on #526
Yes.

You can check the flags that we pass around for cloud-config/provider in pharmer. Which cloud provider are you using?

[2017-11-08 04:07] srflaxu40 commented on #526
So, I can bring nodes up one at a time through their userdata?

[2017-11-08 04:13] tamalsaha commented on #526
We use a NodeGroup concept. All nodes in that group has same UserData using `LaunchConfiguration`. Then you can scale up/down that group. If you want different configuration, you will need to create a different NodeGroup.

[2017-11-08 04:14] srflaxu40 commented on #526
Here's the thing though - the key component of my use-case is it has to run in SpotInst?

[2017-11-08 04:14] tamalsaha commented on #526
ok. spot instances are not supported currently.

[2017-11-08 14:25] mattmoyer commented on #519
+1 on something like this.

Some riffs on this idea:
 - A new `kubeadm ca-cert-hash` command (name TBD) that just prints out the current CA hash. This would basically be the same thing as the `openssl` command we give in the [`kubeadm join` docs](https://kubernetes.io/docs/admin/kubeadm/#kubeadm-join).

 - Add a `--print-join-command` flag for `kubeadm token create` that prints out the whole join

[2017-11-08 15:20] alexellis commented on #519
Thanks for tagging me in this. Take a note from the UX of Docker Swarm - at any point you can type in `docker swarm join-token worker` and have a command to paste into a worker or to send over SSH. With Kubeadm it's so hard I literally tear down the cluster to add add a new node - I'm pretty confident with CLIs so I'm sure I'm not the only one.

[2017-11-08 15:46] cpuguy83 commented on #519
Also the init output is so heavy you can't really get just the join command and stash it somewhere... currently I'm resorting to `kubeadm init ... | grep 'kubeadm join --token' > /some_file`.
Would be cool to have a quiet mode where the only thing on stdout is the join command.

[2017-11-08 16:49] luxas commented on #526
@srflaxu40 Thanks for this issue. We know this is a pain point and we're in an in-between state currently, the community is in the middle of moving these cloud providers out of tree. As harsh as it may sound, it is in the end a responsibility of the cloud provider in question to provide documentation on what is needed for each case. kubeadm can't do anything for you here (e.g. setting up IAM roles

[2017-11-08 17:08] luxas commented on #117
I might be able to do something related to this already in v1.9

[2017-11-08 18:50] luxas opened #527 "Use ComponentConfig for the kube-proxy"
Important feature for v1.9; dependency for IPv6 support as well

Now that https://github.com/kubernetes/kubernetes/pull/53645 merged, we can start using the kube-proxy ComponentConfig API

Relevant PR for graduating the API group to beta: https://github.com/kubernetes/kubernetes/pull/55234
Relevant PR for kubeadm with discussion on this topic: https://github.com/kubernetes/kubernetes/pull/50929

W

[2017-11-08 19:01] luxas commented on #17
We talked about this in the SIG meeting yesterday, and we're gonna close the issue.
Developing and maintaining a full-blown DIND solution is not in scope for the core kubeadm team for a foreseeable future, if ever. We're super happy that the community provides these solutions though, like @ivan4th's hard work on the Mirantis project. If we find a good place to document the possibility to use that

[2017-11-08 19:01] #17 closed

[2017-11-08 19:08] luxas opened #528 "Use ComponentConfig for kube-scheduler"
Similar to https://github.com/kubernetes/kubeadm/issues/527 but for the scheduler

Relevant PRs: https://github.com/kubernetes/kubernetes/pull/54211 &
https://github.com/kubernetes/kubernetes/pull/52562

The type would look like this in its simplest, earliest form:

[code]

Then `cmd/kubeadm/app/utils.MarshalToYaml` will be used for serializing the object to bytes. These bytes will be written down

[2017-11-08 19:10] luxas opened #529 "Use the `--alpha-apiserver-endpoint-reconciler-type=storage` flag for HA in v1.9"
Referencing the accepted proposal: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/apiserver-count-fix.md

If the HA feature gate is enabled, this flag should be enabled as well

[2017-11-08 19:14] luxas commented on #520
@tamalsaha Repruposed this a little, and opened #527 specifically for ComponentConfig.

[2017-11-08 19:18] luxas commented on #490
It should be the validated etcd version for the right k8s version. I don't think it needs to be configurable. You can use the config file in any case if you really must override it, but then you're on your own.

[2017-11-08 19:23] luxas opened #530 "Set etcd version based on Kubernetes version"
Currently, we define `DefaultEtcdVersion` https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go#L147 as a constant, although the decision should be made based on the kubernetes version:

 - k8s v1.8 = etcd 3.0.17
 - k8s v1.9 = etcd 3.1.10

We should consume a function instead of a constant.

@fabriziopandini @timothysc @mattmoyer @kad @jamiehannaford

[2017-11-08 19:25] luxas commented on #400
@andrewsykim Any update on this?

[2017-11-08 19:31] luxas opened #531 "Show etcd version in `kubeadm upgrade plan`"
Currently,  the etcd version is not shown in `kubeadm upgrade plan`.
We should start showing a row containing the desired etcd version in v1.9.

[2017-11-08 19:33] luxas commented on #502
This is now fixed, thanks!

[2017-11-08 19:33] #502 closed

[2017-11-08 20:08] rharmse commented on #411
To confirm, I just bootstrapped a master node on a HypriotOS raspberry pi for my pi-cluster and can confirm that this is still happening on 1.8.

If you need any info from me feel free to let me know below is version info of the kubeadm used :

$ kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.2", GitCommit:"bdaeafa71f6c7c04636251031f93464384d54963", GitTreeSt

[2017-11-08 22:58] tomdee commented on #211
@luxas @kad Thanks for the replies. I think I'm always hitting this with kubeadm running under vagrant. I don't think a proxy is being used so maybe I'm hitting a different issue?

[2017-11-08 23:01] kad commented on #211
@tomdee open support issue with details about your environment (Vagrant file, network connectivity, distro, vagrant plugins installed, etc). we will see what might be an issue.

[2017-11-09 03:00] JinsYin opened #532 "Why does kubelet not run as a container?"
Why does `kubelet` not run as a container, but run `kube-proxy` as a container?

[2017-11-09 05:24] jethrogb commented on #261
I deployed this manually today and ran into the following issue when testing master failover: the IP address specified in `kubeadm join` is used only for discovery. Then, the IP address specified in the cluster-info ConfigMap is used. In my case, this contained the failed master's IP. It would be good to have a solution here.

[2017-11-09 10:11] luxas commented on #532
Running kubelet in a container is not supported by SIG Node.
There are gotchas, drawbacks and bugs.

If you do things cleverly, you might get it to work in a Docker container. You have an increased chance to get it working in an rkt container. But that requires more work than a systemd unit.

[2017-11-09 10:17] luxas commented on #446
Thanks @rajansandeep for https://github.com/kubernetes/kubernetes/pull/52501, great work so far!
The next steps are to:
 - add support for CoreDNS in `kubeadm alpha phase addons`
 - add support to upgrade to using CoreDNS. That is, I have a v1.8 cluster and want to upgrade to v1.9 with CoreDNS instead. `kubeadm upgrade plan` should support `--feature-gates` and support showing `CoreDNS` and it's v

[2017-11-09 10:21] luxas commented on #127
The add-then-kill feature is not relevant anymore and the checkpointing issue is separate (https://github.com/kubernetes/kubeadm/issues/131) so closing this as it doesn't have any action items

[2017-11-09 10:21] #127 closed

[2017-11-09 10:32] zcalusic commented on #519
Anyway, what is the way to get that ca-cert-hash right now? Of course, the `kubeadm init` output is long gone at this point... and I didn't save it expecting it would be easy to extract that info later, on demand.

I managed to get join token with `kubeadm token list` and joined another node with `kubeadm join --token`, but it is saying:
[code]
So, before it becomes error, how do I pass that param

[2017-11-09 10:32] runcom opened #533 "DockerValidator should use the CRI, not the Docker API"
The `DockerValidator` in https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/docker_validator.go which is used by kubeadm preflights checks is using the Docker API directly. With https://github.com/kubernetes/kubernetes/pull/55055 we're moving dockerisms to use `crictl` and the CRI. The `DockerValidator` should use `crictl` to gather Docker version via the CRI Version endpoin

[2017-11-09 12:12] #496 closed

[2017-11-09 13:16] luxas commented on #533
@runcom I actually think this issue would fit better in the kubernetes/kubernetes repo as this is a general improvement suggestion to the system verification check owned by sig-node and they track their issue in the main repo. WDYT? Can you reopen there possibly and tag (@)kubernetes/sig-node-bugs?

[2017-11-09 13:51] runcom commented on #533
Yup! Will do

[2017-11-09 14:08] luxas commented on #28
So we're gonna start implementing this _now_.
@xiangpengzhao has volunteered to take this task on, woot and thanks!

For reference, here are some docs we've worked on earlier:
 - https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/
 - https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/

We'll add a new feature gate to kubeadm: `DynamicKubeletConfig` which w

[2017-11-09 14:30] xiangpengzhao commented on #28
@luxas thanks for the details! Will dig into this and start working ASAP :)

[2017-11-09 14:44] #533 closed

[2017-11-09 15:35] mattmoyer commented on #519
@zcalusic the current way is to calculate the hash with OpenSSL like this (run on the master or wherever you have a copy of `/etc/kubernetes/pki/ca.crt`):
[code]

[2017-11-09 15:38] #285 closed

[2017-11-09 20:03] luxas commented on #340
Correct.

True, see our meeting notes

Details on what? This feature request?
Basically, see how kubectl does logging, and start using something like that (or start using something kubectl will eventually switch to). As long as one can set logging levels, I'm fine.
That way we'll be able to let the user see varying amounts of information as necessary.

[2017-11-09 20:06] luxas commented on #228
@rushins If you want to get help with the possible issue you're seeing, open a new issue here with sufficient details.

[2017-11-09 20:07] luxas commented on #484
@tamalsaha That PR will be backported to v1.8.x I think, yes

[2017-11-09 20:08] luxas commented on #524
This is not the case. The default `imagePullPolicy` is `IfNotPresent`, so this should work.

Can you post the relevant manifest yamls and the kubelet log when it doesn't work for you?

[2017-11-09 22:24] nitram-iz commented on #339
Followed your tips, but was still having the same issues. Realized there's minikube running, which had to be stopped since it uses the same ports, but lists the processes as "localkube".

[2017-11-09 23:24] calaniz commented on #371
So if I make the the api-server not start with a configuration change, how do we get back into k8s to change the configuration.  I ran into this today.  We might want to document a workaround.  We used to go into the manifests directory and fix that.

[2017-11-10 07:03] 1605200517 commented on #26
@vglisin  https://github.com/kubernetes/kubeadm/issues/519#issuecomment-343207374

[2017-11-10 08:04] wackxu commented on #519
Agree with `--print-join-command`

[2017-11-10 09:18] vbmade2000 commented on #340
Thanks @luxas

[2017-11-10 12:48] kad commented on #443
/close

[2017-11-10 12:48] #443 closed

[2017-11-10 14:04] luxas opened #534 "Start erroring out when CA pinning isn't used and not explicitely opted out of"
@mattmoyer added the CA pinning feature of the Bootstrap Token in the discovery phase of `kubeadm join` in v1.8
In v1.9, the plan is to start erroring out when `kubeadm join --token <token>` is used without the CA hash, unless `cfg.DiscoveryTokenUnsafeSkipCAVerification` is set.
cc @jbeda

[2017-11-10 14:21] #264 closed

[2017-11-10 15:25] jamiehannaford commented on #102
This is now documented in https://github.com/kubernetes/website/pull/6265, so I'm going to close.

This issue seems to track a few different problems at once, so if you're still running into a potential bug, please open a new issue so can better target the root cause.

[2017-11-10 15:25] #102 closed

[2017-11-10 15:31] andrewsykim commented on #400
Will try to schedule this in for this weekend. Haven't started any work here though so if anyone else is interested feel free to assign them :)

[2017-11-10 18:45] ikus060 commented on #193
Running `iptables -P FORWARD ACCEPT` on master and nodes solved the problem for me.
I was running flannel.

[2017-11-10 20:59] RothIOP opened #535 "0DOI7"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2017-11-10 20:59] #535 closed

[2017-11-10 22:39] plombardi89 commented on #532
is there anywhere these gotchas, drawbacks and bugs are documented? There's some use case for wanting to do this with Kubernetes in Kubernetes

[2017-11-10 23:01] colemickens commented on #465
I don't understand why those are necessary. `kubeadm` just instructs docker to run things which will pull on demand. Or was this specific to your use-case where you need to actually run the cluster offline after initially pulling down the container assets?

[2017-11-11 09:50] definitelyuncertain opened #536 "cni config uninitialized worker node added some time after Weave"
Update: I seem to have resolved the issue as I've posted [here](https://github.com/weaveworks/weave/issues/3167)

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:
1.8.2

**Environment**:
- Kubernetes version (use `kubectl version`): `1.8.2` on all nodes, with `kubernetes-cni 0.5.1`
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release

[2017-11-12 08:06] sefm commented on #524
@luxas : Thanks for your response . Correct . The acceptable image `imagePullPolicy` values = `Always` , `IfNotPresent` and `Never`  .  After digging more the issue seems `not related` to  imagePullPolicy . The issue was with not advertising the api server address :

Once I added --apiserver-advertise-address=10.205.78.6 it worked fine

`kubeadm init --kubernetes-version=v1.8.2 --pod-network-cidr=

[2017-11-12 10:53] fanhongli opened #537 "how to use it without internet"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2017-11-12 12:23] psyhomb opened #538 "kubeadm development"
I would like to know why development of `kubeadm` is so slow and when exactly we can expect for this tool to get multi-master support and all the other required features for provisioning production ready kubernetes cluster on bare-metal, similar to what `kops` can do on AWS?

Thanks

[2017-11-13 05:30] anguslees commented on #413
.. So what direction are we going to go here?  Currently I use a fork of `kubeadm` that has numerous timeouts cranked up 10x, and I'd like to go back to using standard `kubeadm` binaries at some point.

[2017-11-13 08:09] anguslees opened #539 "kubeadm refuses to upgrade if a node is unhealthy"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.4-beta.0.30+7c3a25cf07b734-dirty", GitCommit:"7c3a25cf07b734006bafe7267d3ca7e90d376bee", GitTreeState:"dirty", BuildDate:"2017-11-13T06:23:45Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/arm"}

**Environ

[2017-11-13 10:16] vbmade2000 commented on #340
@luxas Just to inform about my approach, I was thinking about adding a Persistent flag `v` to root command of kubeadm created in this [here](https://github.com/kubernetes/kubernetes/blob/20fd96a161b88acf98ca6a7739606879658d42b2/cmd/kubeadm/app/kubeadm.go#L34) code.

[2017-11-13 11:37] luxas commented on #340
@vbmade2000 As we do this gradually, I'd recommend starting with adding the `--v` flag per command that supports it. e.g. start with `kubeadm init`, and then implement support for extended logging for the other commands as we go.

cc @thockin @ncdc @jbeda that have been talking about doing things "the right way" on Twitter IIRC :smile:. We're starting "clean" here so should we do the fancy thing (

[2017-11-13 11:52] fabriziopandini commented on #529
@luxas I guess we can close this issue now

[2017-11-13 11:52] luxas commented on #529
Yeah, thanks!

[2017-11-13 11:52] #529 closed

[2017-11-13 12:38] luxas commented on #395
ref: https://github.com/kubernetes/features/issues/268 & https://github.com/kubernetes/kubernetes/issues/47604, not gonna make it to beta in v1.9, bumping

[2017-11-13 13:06] luxas commented on #539
If we meet in the middle, would you be happy with making the health checks skippable with `-f` @anguslees?
I don't want to remove this completely

[2017-11-13 13:07] luxas commented on #362
This is fixed now, thanks @jamiehannaford!

[2017-11-13 13:07] #362 closed

[2017-11-13 13:18] luxas commented on #404
@pipejakob any updates on this?

[2017-11-13 13:59] sebastien-prudhomme opened #540 "imageRepository option not taken into account for the pause image"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.8.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.8.3
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): CentOS 7.4
- **Kernel** (e.g. `uname -a`): 3.10.0-693.5.2.el7.x86_64
- **Others**:

## What happened?

When using a config file with imageRepository set to other

[2017-11-13 14:36] vbmade2000 commented on #340
@luxas Ok. I'll work on that. Thanks :)

[2017-11-13 21:24] anguslees commented on #539
Ye happy to do so.  So I know what warning to give, can you outline an issue that this health check protects us from?

[2017-11-14 09:55] jnardiello commented on #340
Ehi @luxas absolutely no issue here, as you pointed out I've no time :( I shall try to dedicate more time on the SIG group in the future.

@vbmade2000 I absolutely encourage you to contribute on this and join @luxas in the SIG Cluster Lifecycle group.

[2017-11-14 12:47] kad commented on #539
side suggestion: maybe make this check compatible with interfaces of preflight checks, so it can be run with RunChecks() ? this will allow later on (soonish...) to unify mechanism of individual control of the checks.

[2017-11-14 15:59] luxas commented on #539
@kad sounds reasonable to me; but doesn't have to be done in the same PR.
@anguslees I'm happy to see a PR to make it skippable with `-f`

We currently have the following checks:
 - Make sure the API Server answers `ok` on `/healthz` -- kinda required
 - Make sure all nodes are `Ready`; we shouldn't upgrade for example, a cluster where the master is unhealthy; instead let the admin fix the problem

[2017-11-14 16:19] jbeda commented on #538
PRs accepted.  Feel free to chip in.

https://github.com/kubernetes/community/tree/master/sig-cluster-lifecycle

[2017-11-14 16:19] #538 closed

[2017-11-14 21:00] luxas commented on #519
We concluded in the SIG meeting that we're gonna proceed with both https://github.com/kubernetes/kubernetes/pull/55468 _and_ this feature addition.
We'll see in what form exactly in a bit

[2017-11-15 02:22] teeram opened #541 "Kubeadm does not retain changes to kube-apiserver manifest on upgrade"
# Bug Report

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.3", GitCommit:"f0efb3cb883751c5ffdbe6d515f3cb4fbe7b7acd", GitTreeState:"clean", BuildDate:"2017-11-08T18:27:48Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`): **POST UPGRADE*

[2017-11-15 04:21] anguslees commented on #539
Isn't this (better) covered by the other apiserver /healthz check?

This is what I'm trying to get at: I can trivially construct hypothetical situations where _every_ worker node is down, and - assuming the admin is otherwise ok with this situation - there's no reason for kubeadm to prevent upgrading the control plane.  For master nodes themselves, I can similarly easily construct situations where

[2017-11-15 04:54] anguslees commented on #300
Is this covered by #503?  More specifically, what is required here _beyond_ just getting the kubeadm binary on disk?

[2017-11-15 08:56] kad commented on #539
@anguslees before start introducing new flags, please wait couple of days for me to finalize solution for #480 We will have flag that initially supposed to cover pre-flight checks, but if in all other places we will be using same interface for all kind of checks, it will be possible to fine-control even in situations like this.

[2017-11-15 10:22] vbmade2000 commented on #340
Sure @jnardiello . I'll try to spend more time for SIG Cluster Lifecycle.

[2017-11-15 18:27] sumesh83 opened #542 "kubdeadm init operation: created API client, waiting for the control plane to become ready"
On my RHEL 7.3 server, I have successfully installed Kubernetes using the below command

Installed:
  kubeadm.x86_64 0:1.5.0-0.alpha.1.409.714f816a349e79             kubectl.x86_64 0:1.4.1-0             kubelet.x86_64 0:1.4.1-0

Dependency Installed:
  kubernetes-cni.x86_64 0:0.3.0.1-0.07a8a2                                    socat.x86_64 0:1.7.3.2-2.el7

Complete!

Now, I am trying to Initialize

[2017-11-15 18:34] dalu opened #543 "What good is kubeadm when you're locked out from doing anything?"
I'm sorry but I have wasted like 2 weeks on kubernetes already and I'm not getting anywhere.

I have again used kubeadm to setup a 3 node test cluster.
The first time I couldn't log into dashboard and after 4 days of psychodrain I ragequit.
And I'm not paying 3000€ / month for a lousy 8 vpcu 30GB RAM VM on GCE with a reasonable amount of traffic (30TB)

So far this kubernetes thing was nothing but

[2017-11-15 20:03] jbeda commented on #543
Hi @dalu.  I think you are confused with the nature of Kubernetes.  You refer to "your company" but Kubernetes isn't a company so I'm not sure who you are paying.

Regardless, we are a set of community members that are coming together to try and make something work.  I'm sorry that you didn't have a good experience. At this point your choices are (a) help fix it, (b) pay someone explicitly to help

[2017-11-15 20:03] #543 closed

[2017-11-15 20:51] rajansandeep commented on #446
@luxas the e2e tests, you mean the ones which are associated with kube-up?

[2017-11-15 22:16] luxas commented on #446
@rajansandeep No (but that would probably not hurt), I was thinking about adding coverage for using CoreDNS here: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce

[2017-11-16 04:48] anguslees commented on #539
@kad: hah, that's basically exactly what I implemented yesterday, only I added it just for the healthChecks in health.go.  I'll hold off on sending the PR for a few days.

[2017-11-16 06:16] #534 closed

[2017-11-16 07:41] tobad357 opened #544 "Feature: allow custom storage for etcd"
## Is this a request for help? No
## What keywords did you search in kubeadm issues before filing this one? storage, iscsi

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Currently when installing etcd via kubeadm local storage will always be used.
We would like a feature where we can pass in type of storage iscsi, ebs etc and the config for it
This way they kubelet on master can co

[2017-11-16 09:13] KeithTt commented on #261
hope for this feature for a long time...

[2017-11-16 11:11] kumarganesh2814 commented on #328
@cookeem
Hi

I am also strugeeling to create HA Cluster for Centos

I setup my cluster as below attached file, Can you please advise how I can modify current cluster now?

I want 2 Master and 1 Worker just to showcase to management to get approval and get kubernetes as standard to replace docker.

Please help me

Best Regards
Ganesh

[2017-11-16 11:11] kumarganesh2814 commented on #328
[How to Install Kubernetes (k8s) 1.8 on centos 7.txt](https://github.com/kubernetes/kubeadm/files/1478307/How.to.Install.Kubernetes.k8s.1.8.on.centos.7.txt)

[2017-11-16 11:43] kumarganesh2814 opened #545 "How to Create HA setup for Centos using kubeadm"
## Is this a request for help?
yes
If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?
setup HA cluster using kubeadm

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUE

[2017-11-16 11:45] kumarganesh2814 commented on #545
https://github.com/kubernetes/website/issues/6295

Submitted another issue which is closed tried slack to get answer but nothing helpful yet

[2017-11-16 16:54] mbert opened #546 "Workarounds for the time before kubeadm HA becomes available"
The planned HA features in kubeadm are not going to make it into v1.9 (see #261). So what can be done to make a cluster setup by kubeadm sufficiently HA?

This is what it looks like now:
- Worker nodes can be scaled up to achieve acceptable redundance.
- Without a working active/active or at least active/passive master setup, master failures are likely to cause significant disruptions.

Hence an a

[2017-11-17 01:01] cookeem commented on #328
@kumarganesh2814 you can follow my instruction:
https://github.com/cookeem/kubeadm-ha

But I think 2 master nodes is not a good idea, master nodes number should be odd and greater than 1, for example 3 master nodes.

[2017-11-17 01:09] abrarshivani opened #547 "apiserver and controller manager pod doesn't start with Kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Launched Kubernetes cluster using kubeadm. But, apiserver and controller manager pod doesn't start
**What you expected to happen**:
apiserver and controller manager should start
**How to reproduce it (as minimally and precisely as possible)**:
Run kubeadm:
```kubeadm init --config config1 --skip-preflight-checks```
config1

[2017-11-17 02:18] kumarganesh2814 commented on #328
@cookeem
Sure let me try this thanks for guidance

[2017-11-17 09:11] mbert commented on #546
See also https://github.com/cookeem/kubeadm-ha - this seems to cover what I want to achieve here.

[2017-11-17 09:34] elaron commented on #226
I meet a problem of kubelet confuse with different NIC interface.

I have two NIC interface on my VM.

    link/ether 08:00:27:19:83:14 brd ff:ff:ff:ff:ff:ff
    inet **10.0.2.15**/24 brd 10.0.2.255 scope global dynamic enp0s3
       valid_lft 74933sec preferred_lft 74933sec
    inet6 fe80::a00:27ff:fe19:8314/64 scope link
       valid_lft forever preferred_lft forever
3: enp0s8: <BROADCAST,MULTIC

[2017-11-17 09:36] elaron commented on #226
@bboreham Can you help me with the kubelet confusing NIC interface problem? Thanks

[2017-11-17 11:37] stewart-yu commented on #542
you should checkout the cgroupfs parameter between docker  and kubelet, may refer to [this PR](https://github.com/kubernetes/website/pull/6309)

[2017-11-17 12:45] fturib commented on #446
What we expect to do is:

Ensure that all usual e2e tests are evaluated against a k8s cluster that is configured with CoreDNS as the default DNS Server.

I took a day to investigate how the e2e testing was organized.
I think I found the steps for add the e2e for coreDNS - in the 3 steps below (will need 2 PRs)

**1- Ability to deploy coredns in k8s for e2e**:
In `kubernetes/kubernetes-anywhere/pha

[2017-11-17 16:38] luxas commented on #446
Yes, that is what I expect @fturib. Thanks for investigating and contributing to that!

[2017-11-17 16:41] luxas commented on #546
@mbert we started implementing the HA features and chopped wood on the underlying dependency stack now in v1.9, but it's a short cycle for a big task, so the work will continue in v1.10 as you pointed out.

For v1.9, we will document what you're describing here in the official docs though; how to achieve HA with external deps like setting up a LB

[2017-11-17 17:18] mbert commented on #546
Excellent. I am digging through all this right now. I am currently stuck at bootstrapping master 2 and 3, in particular how to configure kubelet and apiserver (how much can I reuse from master 1?) and etcd (I am thinking of using a bootstrap etc on a separate machine for discovery). The guide from the docs is a bit terse when it comes to this.

[2017-11-17 18:34] kcao3 commented on #546
@mbert I have been following your comments here and I just want to let you know I followed the guide in docs and was able to stand up a working HA k8s cluster using kubeadm (v1.8.x).

If you are following this setup and you need to bootstrap master 2 and 3, you can reuse almost everything from the first master. You then need to fix up the following configuration files on master 2 and 3 to reflect

[2017-11-17 18:35] srflaxu40 commented on #546
This is great - definitely need this as I am sure 99% of kubeadm users have a nagging paranoia in the back of their heads about ha of their master(s).

[2017-11-17 18:54] mbert commented on #546
@kcao3 thank you. I will look into this all on coming Monday. So I understand that it is OK to use identical certificates on all three masters?

If yes, I assume that next I'll try will be bring up kubelet and apiserver on master 2 and 3 using the configuration from master 1 (with modified IPs and host names in there of course) and then bootstrap the etcd cluster by putting a modified etcd.yaml in

[2017-11-17 18:56] mbert commented on #546
@srflaxu40 yep, and in particular if you have an application that indirectly requires apiserver at runtime (legacy application and service discovery in my case) you cannot afford to lose the only master at any time.

[2017-11-17 23:55] luxas commented on #545
I hope you'll find the right information from this issue: https://github.com/kubernetes/kubeadm/issues/546

[2017-11-17 23:55] #545 closed

[2017-11-18 00:00] luxas opened #548 "Regenerate API server serving certificates when upgrading to v1.9"
As kubeadm went beta in v1.6 (March 2016), we have supported upgrading clusters since, and the API server serving certs are valid for one year, we now have to add support for refreshing the API server serving certs when upgrading.
Otherwise we risk having invalid certs at the time v1.10 is released (might be before or after, and consumers might take some time to upgrade to v1.10)

What we basicall

[2017-11-18 00:15] satyamsah commented on #299
@Steffen911 . I am getting the same issue. Could you please let me know what does no_proxy=IP_ADDRESS means. which IP_ADDRESS you are taling about?

Below the output of `netstat -tulnp | grep 6443` :
`tcp6       0      0 :::6443                 :::*                    LISTEN      12181/kube-apiserve`

[2017-11-18 00:53] abrarshivani commented on #547
cc @luxas

[2017-11-18 07:56] Steffen911 commented on #299
@satyamsah If you see this problem it most likely means that you are behind a proxy that blocks connections to your k8s-master.
If you set no_proxy=IP_ADDRESS where IP_ADDRESS is the public IP of your k8s-master-node it ignores your proxy settings for this call.

[2017-11-18 14:02] luxas commented on #480
@kad status update on this?

[2017-11-18 14:03] luxas commented on #495
Moving out of v1.9 milestone, please provide more information here @tamalsaha

[2017-11-18 14:04] luxas commented on #494
Moving out of the v1.9 milestone, as it won't fit into the release anymore at this point
@tamalsaha can you provide a short status update on where we are with this feature?

[2017-11-18 14:05] luxas commented on #256
@dims I remember you worked on this for some time. Did you ever finish the work or :grin:?

[2017-11-18 14:06] luxas commented on #263
@jamiehannaford this is working for debs now and rpms still to be done, right?

[2017-11-18 14:08] luxas commented on #420
Not sure there are enough action items here to do something for v1.9, but we'll hopefully start supporting downgrades in v1.9, see https://github.com/kubernetes/kubeadm/issues/452

[2017-11-18 14:09] luxas commented on #528
This will most likely not make v1.9, bumping to v1.10

[2017-11-18 15:16] dims commented on #256
/assign @dims

Hey Lucas, i'll check what we ended up with and my older experiments

[2017-11-18 15:40] luxas commented on #539
@anguslees Would you be ok with converting this to a preflight check, having it skippable with using @kad's ignore-specific-preflight-check, and only requiring that the **_master_** nodes are healthy?

[2017-11-18 15:40] luxas commented on #256
Thanks @dims!!

[2017-11-18 15:45] luxas opened #549 "Improve `kubeadm upgrade apply` error logging style"
When not all requirements for upgrading are met, the error may look like this:

[code]

which is not the prettiest thing I've ever seen.
We could make it look like this instead:

[code]

[2017-11-18 15:45] luxas commented on #549
cc @wackxu Do you want to help with this?

[2017-11-18 17:23] KeithTt opened #550 "How to change the serverAdress after the cluster is running?"
kube version: 1.8.2
etcd version: 3.29
OS version: debian stretch

I user `kubeadm init --config=kubeadm-config.yml`start the master, there are two network adapters on the master:

[code]

I use a config file like this:

[code]

I have set the `advertiseAddress` to the inner IP, but it seems not take effect, when I access the api it still return externel IP:

[code]

I use `keepalived` start a VIP

[2017-11-18 17:30] KeithTt commented on #550
/kind support

[2017-11-18 18:10] jamiehannaford commented on #263
@luxas Yep. I'll try to create a script for rpms next week

[2017-11-18 19:15] KeithTt opened #551 "How to set "tokenTTL: <time duration>" in the kubeadm config file, num 0 do not permit?"
I followed these two pages:

https://kubernetes.io/docs/reference/generated/kubeadm/#config-file

https://kubernetes.io/docs/reference/generated/kubeadm/#manage-tokens

[code]

Here is my configuration:
[code]

[2017-11-18 19:16] KeithTt commented on #551
/kind support

[2017-11-18 20:34] kad commented on #480
I have draft implementation, maybe day or two to polish it to the state of submitting PR.

[2017-11-18 20:40] luxas commented on #551
This seems to be related to https://github.com/kubernetes/kubeadm/issues/509
I guess `0s` should cut it for you

[2017-11-18 20:40] #551 closed

[2017-11-18 20:48] loganasherjones opened #552 "Specify address for kube-controller-manager and kube-scheduler"
## Is this a BUG REPORT or FEATURE REQUEST?

Feature Request.

Hello, thanks so much for the code, I've found it very helpful in standing up a kubernetes cluster. I'd like to request (and hopefully contribute if you're open to the feature) the ability to set the `address` for both `kube-controller-manager` and `kube-scheduler` to something like `address=0.0.0.0` during the `kubeadm init` command.

[2017-11-18 21:04] luxas commented on #552
You can already do this with the config file: https://kubernetes.io/docs/reference/generated/kubeadm/#config-file

Cheers!

[2017-11-18 21:04] #552 closed

[2017-11-18 21:12] luxas commented on #206
Not possible yet AFAIK.

In the interim we'll do #548

[2017-11-18 21:13] loganasherjones commented on #552
Oh, woops thanks!

[2017-11-18 21:14] luxas commented on #117
This depends on ComponentConfig being ready for all components, which is gonna take quite some time.
We're tracking component-by-component progress in individual issues like #527 #528 and implementing ASAP in the meantime.

[2017-11-19 04:41] KeithTt commented on #551
@luxas thanx!!

[2017-11-19 04:56] stewart-yu commented on #549
can i help you? @luxas

[2017-11-19 06:39] wackxu commented on #549
@luxas Very glad to do this, Will commit a PR ASAP

[2017-11-19 08:04] xiangpengzhao opened #553 "Panic when DynamicKubeletConfig is enabled."
Feedback from @luxas on slack.

<details>

[code]

</details>

[2017-11-19 09:18] luxas commented on #28
We have some things to fix up yet:
1. Fix a panic https://github.com/kubernetes/kubeadm/issues/553 (https://github.com/kubernetes/kubernetes/pull/56008)
2. ClusterDNS should be set conditionally based on `cfg.Networking.ServiceSubnet` (https://github.com/kubernetes/kubernetes/pull/56013)
3. Re-engineer the `kubeadm join` logic to wait for the kubelet to create `/etc/kubernetes/kubelet.conf` and us

[2017-11-19 09:47] luxas opened #554 "Make some feature gates require and opt-in to others"
There will be a dependency chain between our feature gates. In order to provide a consistent and good UX, kubeadm needs to automatically opt into dependent feature gates of a chosen one.

Example dependencies:
`HighAvailability` depends on `StoreCertsInSecrets` and `SelfHosting`
`StoreCertsInSecrets` depends on `SelfHosting`

Use case: I, as an user, want to enable the HA feature gate and run:
[co

[2017-11-19 09:52] stewart-yu commented on #554
Yes, i'm glad to it. @luxas

[2017-11-19 10:19] luxas commented on #549
@wackxu Please send a PR yes ASAP
@stewart-yu you can take care of https://github.com/kubernetes/kubeadm/issues/554 instead :smile:

[2017-11-19 10:20] luxas commented on #554
Thank you @stewart-yu! Feel free to ask here in case you need something, otherwise just go ahead and cc me on the PR :+1:

[2017-11-19 10:33] #553 closed

[2017-11-19 16:36] KeithTt commented on #550
I check the official guide, it will be the address of the first available network adapter if `--apiserver-advertise-address` was set to `0.0.0.0`. Close it.

Reference: https://kubernetes.io/docs/reference/generated/kubeadm/#kubeadm-init

[2017-11-19 16:36] #550 closed

[2017-11-19 19:51] dims commented on #256
@luxas looks like https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/ has been red since https://github.com/kubernetes/kubernetes/pull/55468 merged. There was enough info in the logs to see the problem, example for the log that shows why we are failing:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/8748/artifacts/

[2017-11-19 23:23] anguslees commented on #539
@luxas yep, sure.

Just to continue beating this dead horse, however: If the apiserver is responding healthy, does it matter whether all nodes tagged with the "master" role are healthy?

I suspect the _actual_ requirement is that we don't take the masters below a majority quorum (assuming we're in some future kubeadm-HA world).  I presume the size of etcd cluster is (going to be) stored in the kub

[2017-11-20 03:26] mtaufen commented on #28
FYI `--init-config-dir` is likely to change a bit, wrt this thread: https://github.com/kubernetes/kubernetes/pull/55718#discussion_r151893476

[2017-11-20 07:26] stewart-yu commented on #554
Have others dependencies expect for two in example? If have, i think should better construct a struct to store dependencies chain; if not, hardcode just well. @luxas

[2017-11-20 08:09] luxas commented on #554
@stewart-yu I think it is only those two features with dependencies right now

[2017-11-20 10:01] shashidharatd opened #555 "controller-manager panics when configured to use gce cloud-provider"
## Is this a BUG REPORT or FEATURE REQUEST?
/kind bug

## Versions

**kubeadm version** (use `kubeadm version`): stable

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.10.0-alpha.0
- **Cloud provider or hardware configuration**: gce

## What happened?
When configured with gce cloud-provider kube-controller-manager panics while creating a loadbalancer service

## What you exp

[2017-11-20 10:05] kad commented on #530
Resolved in kubernetes/kubernetes#55010

[2017-11-20 12:00] shashidharatd commented on #555
/cc @kubernetes/sig-multicluster-bugs

[2017-11-20 12:04] wackxu commented on #555
Perhaps https://github.com/kubernetes/kubernetes/pull/56021 is to resolve it.

[2017-11-20 13:27] kumarganesh2814 commented on #545
@luxas

Hi

Today I followed instruction and created setup but somehow nodes are coming up fine

# kubectl get nodes
NAME             STATUS     AGE       VERSION
kuber-poc-app1   Ready      2h        v1.8.3
kuber-poc-app2   NotReady   40m       v1.8.3
kuber-poc-app3   NotReady   57m       v1.8.3

Nov 20 05:21:17 kuber-poc-app2 systemd[1]: Created slice libcontainer_60557_systemd_test_default.slic

[2017-11-20 16:33] mbert commented on #546
### Convert the single-instance _etcd_ to a cluster

I have been able to get replacing the single _etcd_ instance by a cluster in a fresh K8s cluster. The steps are roughly these:
1. Set up a separate _etcd_ server. This _etcd_ instance is only needed for bootstrapping the cluster. Generate a discovery URL for 3 nodes on it (see https://coreos.com/etcd/docs/latest/op-guide/clustering.html#etcd-dis

[2017-11-20 17:00] kad commented on #480
Currently implemented UX is like this:

[code]

[2017-11-20 17:06] xiangpengzhao commented on #555
yeah I think this issue is the same with https://github.com/kubernetes/kubernetes/issues/56009 which would be fixed by https://github.com/kubernetes/kubernetes/pull/56021.

[2017-11-20 17:07] xiangpengzhao commented on #555
/assign

[2017-11-20 17:10] xiangpengzhao commented on #400
ping :)

[2017-11-20 17:37] kumarganesh2814 commented on #545
@luxas

Cluster came up after several bounces now when I am running  scale up for kube-dns,heapster  and dashboard I see errors

Nov 20 09:32:59 kuber-poc-app2 kubelet[59242]: E1120 09:32:59.309467   59242 pod_workers.go:182] Error syncing pod 2d6a23ad-ce16-11e7-9b42-00505601302d ("monitoring-influxdb-67f8d587dd-9pgkd_kube-system(2d6a23ad-ce16-11e7-9b42-00505601302d)"), skipping: failed to "Create

[2017-11-20 18:50] andrewsykim commented on #400
@luxas @xiangpengzhao here it is https://github.com/kubernetes/kubernetes/pull/56084, sorry it took so long, haven't had too much time lately to work on Kubernetes, should have more time during holidays :)

[2017-11-20 19:16] fturib commented on #446
@luxas: @rajansandeep and myself are pushing the PR for:

PR #55952
- add support for CoreDNS in kubeadm alpha phase addons
- add support to upgrade to using CoreDNS

PR test-infra : https://github.com/kubernetes/test-infra/pull/5601
PR kubernetes-anywhere : https://github.com/kubernetes/kubernetes-anywhere/pull/486
- e2e testing for coredns

## IMPORTANT:
The kubeadm upgrade was expected for BETA

[2017-11-20 19:27] luxas commented on #446
I don't see why that would be that hard to do. As commented in the PR:
 - Run the func installing CoreDNS as ususal
 - Check that CoreDNS starts correctly, and remove the kube-dns Deployment

Voilá :)

[2017-11-20 19:33] #490 closed

[2017-11-20 19:48] johnbelamaric commented on #446
Francois is talking about the translation of the kube-dns ConfigMap into a Corefile that will implement the same features. I believe you can control the "stub zones" and federation configurations via that ConfigMap.

It's not hard but we are short on time.

[2017-11-20 19:51] luxas commented on #446
Ah, ok. kubeadm clusters aren't using that feature, so no worries. You don't have to care about that in this case :smile:. Doing that migration generally sounds like a perfect thing for v1.10 and beta, but that's not needed for me right now.
Makes sense?

[2017-11-20 19:54] bitgandtter commented on #261
is this feature going to make it to 1.9?

[2017-11-20 19:54] johnbelamaric commented on #446
Yep, thanks.

[2017-11-20 20:05] luxas commented on #261
No, not in its entirety. We have some work in progress, but due to the really tight schedule it's not gonna make alpha in v1.9. Instead we'll focus on documenting how to do HA "manually" https://github.com/kubernetes/kubeadm/issues/546

[2017-11-20 21:54] #530 closed

[2017-11-20 21:58] luxas commented on #539
We need the master to be `Ready` so we know the CNI network is set up there. Otherwise we can't assume normal functionality in the cluster to rely on when upgrading. Especially when self-hosting comes around we need this requirement.

[2017-11-20 22:01] luxas commented on #497
Bumping to v1.10

[2017-11-20 22:02] luxas commented on #454
Work on this has been done in v1.9, but it won't make beta quite yet

[2017-11-20 22:03] luxas commented on #371
Bumping to v1.10

[2017-11-20 22:04] luxas commented on #371
Bumping to v1.10. Self-hosting will be beta in v1.10 but not enabled by default

[2017-11-20 22:05] luxas commented on #277
Moving milestone for this to v1.10 as we depend on changes being made to the operator before we can use it and the code freeze is coming up.

[2017-11-21 01:53] gyliu513 opened #556 "kubeadm install failed due to no valid OpenPGP data found."
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2017-11-21 01:58] gyliu513 commented on #556
My bad, it is a proxy issue, the behind proxy is not working, after update the proxy, works fine.

[2017-11-21 01:58] #556 closed

[2017-11-21 03:57] sachinar opened #557 "kubeadm doesn't start"
I am  facing  issue with kubelet on centos7

[root@master1 ~]# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
Drop-In: /etc/systemd/system/kubelet.service.d
└─10-kubeadm.conf
Active: activating (auto-restart) (Result: exit-code) since Thu 2017-11-16 08:29:00 UTC; 3s ago
Docs: htt

[2017-11-21 06:19] anguslees commented on #539
ok, rewritten on top of @kad's (unmerged) ignore-specific-preflight-check PR, and only requires master nodes to be Ready.

[2017-11-21 06:32] gyliu513 opened #558 "kubeadm failed when `apt-get update`"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2017-11-21 07:02] KeithTt commented on #546
@mbert Why do not you use a independent ETCD cluster instead of creating in the k8s?

[2017-11-21 07:49] petergardfjall commented on #330
I ran into this issue also and got it to work by updating the hostname of my EC2 instance to match that of the EC2 metadata service. On Ubuntu Xenial I added the following steps to my master bootscript:

[code]

[2017-11-21 09:28] mbert commented on #546
@KeithTt Thank you for your feedback. I was thinking about these here:
1. Not to use any data.
2. Stay as close to kubeadm's setup as possible.
3. Have it supervised by K8s and integrated in whatever monitoring I set up for my system.
4. Keep the number of services running on the OS low.
5. It wouldn't make things easier since I'd still have to deal with (4) above.

If an independent etcd cluster'

[2017-11-21 15:45] luxas commented on #28
Yeah, we'll accommodate accordingly when we move out of alpha with this on the kubeadm side.
Thanks for keeping us updated @mtaufen

[2017-11-21 15:47] luxas commented on #549
Fixed thanks to @wackxu's PR :smile: https://github.com/kubernetes/kubernetes/pull/56029

[2017-11-21 15:47] #549 closed

[2017-11-21 15:53] luxas commented on #546
@mbert Please make sure you sync with @jamiehannaford on this effort, he's also working on this / committed to making these docs a thing in v1.9

@mbert are you available to join our SIG meeting today 9PT or the kubeadm implementation PR tomorrow 9PT? I'd love to discuss this with you :+1:

[2017-11-21 15:58] mbert commented on #546
@luxas actually it was @jamiehannaford  who asked me to open this issue. Once I have got things running and documented I hope to get lots of feedback from him.
9PT, that's in an hour, right? That would be fine. Just let me know how to connect with you.

[2017-11-21 16:56] kumarganesh2814 commented on #328
@cookeem
Hi
I am facing many issue while setting up this HA cluster using the instruction which you provided on
https://github.com/cookeem/kubeadm-ha

Earlier I was able to make HA cluster up  some how while scaling any app or deplying was getting errors

Issues Such as

[code]

[2017-11-21 17:00] kumarganesh2814 commented on #328
Now I started this setup yet again and now I see after many hours node still not joined

[code]

[2017-11-21 17:44] vielmetti commented on #519
This was discussed on the November 21, 2017 zoom call; minutes for that call are at https://docs.google.com/document/d/1deJYPIF4LmhGjDVaqrswErIrV7mtwJgovtLnPCDxP7U/edit#

[2017-11-21 18:01] xiangpengzhao commented on #519
I just had a quick look on this but haven't worked on it yet.

If we prefer this one, I think there is already the same logic in [bootstrap token create](https://github.com/kubernetes/kubernetes/pull/56025/files#diff-5e955aa2c2f0ab5a527686118d0e0d5cR355). We can use that here.

I prefer this one personally. But seems like both the two ideas need more context when implementing, e.g., we need Master

[2017-11-21 19:19] kumarganesh2814 commented on #328
@cookeem
Any Idea for this error

[code]

[2017-11-21 20:13] vielmetti opened #560 "Changelog out of date"
## What happened?

Looked at CHANGELOG https://github.com/kubernetes/kubeadm/blob/master/CHANGELOG.md to see what was added in the latest release. It has not been updated in about a year.

## What you expected to happen?

CHANGELOG up to date, or moved to a less prominent place in the distribution.

## Anything else we need to know?

#258 #81 #88 are all previous CHANGELOG issues.

[2017-11-21 22:25] luxas commented on #560
we should just remove this file at this moment I think. Our changelog was aligned with k8s' in v1.6, and support for v1.5 has already been dropped k8s-wide in the ecosystem
@fabriziopandini can you delete it?

[2017-11-22 01:16] cookeem commented on #328
@kumarganesh2814 It seems there is something wrong with the certificates. Before setup again, do you tear down your cluster first?

[2017-11-22 03:49] #480 closed

[2017-11-22 04:25] mattmoyer commented on #519
I implemented just the first idea in https://github.com/kubernetes/kubernetes/pull/56185. I'm not opposed to implementing the `kubeadm get` idea also, but we're short on time.

[2017-11-22 06:45] kumarganesh2814 commented on #328
@cookeem

Hi

Yes I removed all and reset using kubeadm reset

on all 3 master
rm -rf /var/lib/cni
rm -rf /run/flannel
rm -rf /etc/cni
ifconfig cni0 down
brctl delbr cni0

But again after reboot of VM and cleaning some files I am able to get back CLuster Now. Thanks you very much for your Help till now. Having few issue on VIP
[code]

[2017-11-22 06:49] kumarganesh2814 commented on #328
[code]

[2017-11-22 06:52] kumarganesh2814 commented on #328
@cookeem
Can you please suggest me How this VIP need to be created, I requested our loadbalancer team to create a VIP pointed to 3 IP of Master but they say its passing the healthCheck. What IP and Port i can give them?

Best Regards
Ganesh

[2017-11-22 07:40] kumarganesh2814 commented on #328
[code]

[2017-11-22 07:41] kumarganesh2814 commented on #328
[code]

[2017-11-22 07:42] kumarganesh2814 commented on #328
``a97be84aac4e        nginx                                                    "nginx -g 'daemon of…"   24 hours ago        Up 15 hours                 80/tcp, 0.0.0.0:8443->8443/tcp                                       nginx-lb``

[2017-11-22 08:17] fabriziopandini commented on #519
Instead of `kubeadm get`, IMO we should print the hash/the kubeadm join statement at the end of the already existing `kubeadm token list`.

[2017-11-22 11:43] #548 closed

[2017-11-22 12:30] bitgandtter commented on #546
Following guides here and there i manage to do it here is my [final steps](https://gist.github.com/bitgandtter/a0c1324b132878633773af00f0531df2)

[2017-11-22 14:43] #531 closed

[2017-11-22 17:52] timothysc commented on #546
/cc @craigtracey

[2017-11-22 18:14] luxas commented on #28
FYI @timothysc ^
We'll do a revised version of https://github.com/kubernetes/kubeadm/blob/master/docs/design/design_v1.8.md soon-ish (with @fabriziopandini?) and include this in there.
Everything here is alpha gated in v1.9, planned for beta in v1.10

[2017-11-22 18:15] luxas commented on #554
PR https://github.com/kubernetes/kubernetes/pull/56042 from @stewart-yu has fixed this issue. Thank you!

[2017-11-22 18:15] #554 closed

[2017-11-22 18:16] luxas commented on #131
@timothysc we need to annotate the control plane manifests with the magic annotation if the feature gate is set now, right?

[2017-11-22 18:17] timothysc commented on #131
yes, add `node.kubernetes.io/bootstrap-checkpoint=true`

[2017-11-22 18:18] timothysc commented on #131
complete details are here - https://github.com/kubernetes/community/pull/1241/files

[2017-11-22 18:32] luxas opened #563 "Update design doc for v1.9"
We should write a similar version of https://github.com/kubernetes/kubeadm/blob/master/docs/design/design_v1.8.md for the v1.9 release

Also, this document should make it to the official kubernetes.io docs this release

@fabriziopandini are you available to help with this for this release as well?

[2017-11-22 18:33] luxas commented on #558
This is not related to the kubernetes repos, but docker's deb repos:
[code]

[2017-11-22 18:33] #558 closed

[2017-11-22 18:34] luxas commented on #525
@jamiehannaford is this targeted for v1.9 or v1.10?

[2017-11-22 18:39] luxas commented on #557
is swap enabled on your node?
What does `journalctl -xeu kubelet` say?

[2017-11-22 18:40] luxas commented on #555
This seems to be fixed now, closing.
Thanks @xiangpengzhao!

[2017-11-22 18:40] #555 closed

[2017-11-22 18:41] luxas commented on #544
You can set up etcd externally to kubeadm. That is the other option we're giving you for further customization. You can also use the configuration file to customize a couple of parameters. Otherwise you can just rewrite `/etc/kubernetes/manifests/etcd.yaml` instead.

https://kubernetes.io/docs/reference/generated/kubeadm/

[2017-11-22 18:41] #544 closed

[2017-11-22 19:59] luxas commented on #539
@kad's PR is now merged :)

[2017-11-22 20:06] luxas commented on #519
I think `kubeadm token list --print-join-command` would be great!

[2017-11-22 20:23] #560 closed

[2017-11-22 20:27] alexellis commented on #519
I like that ideas @luxas. I think we could make it less verbose, I find I'm typing very long flags `kubeadm` compared to the `docker` CLI.

`kubeadm token list --verbose`

`kubeadm token list --tokens`

`kubeadm token list --join-token`

[2017-11-22 20:37] luxas commented on #519
`kubeadm token list --verbose|-v` works for me as well

[2017-11-22 22:32] ieugen opened #564 "kubeadm single node - kubelet, apiserver bind to localhost but mixed ipv4 and ipv6"
Hi,

This is a BUG REPORT

## Versions

**kubeadm version**
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Baremetal, hetzner server EX-60 line

- **OS** (e.g. from /etc/os-release): PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

I've installed a

[2017-11-22 23:20] ieugen commented on #564
Restarting docker service changes the ip addresses that the components are bound so I went and disabled ipv6 for docker as per instructions [1] .

Added `  "ipv6": false,` to `/etc/docker/daemon.json` .
Now I'm looking to bind kubelet service to ipv4 only as well.

[1] https://docs.docker.com/engine/reference/commandline/dockerd/

[2017-11-23 00:52] #519 closed

[2017-11-23 01:55] gyliu513 commented on #558
@luxas any comments for how to workaround this?

[2017-11-23 02:07] anguslees commented on #564
I don't think this is the source of your problem (whatever the problem is).

What you're seeing here is some processes listening on ports on (ipv4) localhost explicitly, and some listening on ports on any address (all-zeros, aka `0.0.0.0` or `::` in IPv6-speak.  Note this is _not_ IPv6 localhost `::1`).

In particular, those entries like `:::6443` are _also_ listening on IPv4 on the same port - th

[2017-11-23 05:23] sachinar commented on #557
swap is off

[2017-11-23 05:48] #446 closed

[2017-11-23 06:23] cookeem commented on #328
@kumarganesh2814 Sorry for reply late. So your problem is how to use keepalived to create a VIP right? If your cluster is publish in internet, I think each host has two ip address(one is internet IP address, the other is ethernet IP address for cluster communication), so you should make a new ethernet IP address for keepalived VIP first, and make sure this VIP can access by each nodes.

[2017-11-23 06:30] kumarganesh2814 commented on #328
@cookeem
Thanks A lot Sir.....
My Cluster is internal to Compay.(Baremetal CentOS VM)

I will try to follow info, you been kind enough to answer all my qyeries really appericiate this.

Best Regards
Ganesh Kumar

[2017-11-23 06:30] kumarganesh2814 commented on #328
``ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN qlen 1
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: ens192: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq state UP qlen 1000
    link/ether 00:50

[2017-11-23 06:30] kumarganesh2814 commented on #328
[code]

[2017-11-23 07:09] #564 closed

[2017-11-23 07:35] kumarganesh2814 commented on #328
@cookeem

Can you please also advise on which all port I should ask my network team to open for this VIP>

Best Regards
Ganesh

[2017-11-23 11:48] kumarganesh2814 commented on #328
@cookeem
Hi

I have chaged port from 8443 to 8080 for nginx continer and then joined 3 nodes worked fine and now I see app is accessible from all 3 Master IP

Thanks for your support cook you Rock !!!

Best Regards
Ganesh Kumar

[2017-11-23 11:54] dimitrijezivkovic commented on #546
@mbert

Created - not converted - **3 master-node cluster** using **kubeadm** with **3 node etcd cluster** deployed on kubernetes

Here's what I needed to do:
1. Create 3 master node cluster using kubeadm on barebone servers
2. Deploy etcd cluster on 3 master nodes using kubeadm
3. Use non-default pod-network cidr /27

Problems:
1. Using non-default pod-network cidr is impossible to setup using _k

[2017-11-23 13:19] fabriziopandini opened #565 "Add CoreDNS to kubeadm phase addons"
FEATURE REQUEST

`kubeadm alpha phase addon all` should install CoreDNS instead of kube-proxy when invoked with `--feature-gates=CoreDNS`.

and

`kubeadm alpha phase addon coredns` subcommand should be created

[2017-11-23 13:22] fabriziopandini commented on #493
done in https://github.com/kubernetes/website/pull/6103

[2017-11-23 13:31] fabriziopandini opened #566 "Add token usages and groups in MasterConfiguration"
FEATURE REQUEST

Enhance MasterConfiguration file allowing to setup token `usages` and `groups` (and eventually also the token `description`).

Modify `kubeadm init`, `kubeadm token *`, `kubeadm phase bootstrap-token *`, for using the above configuration options.

[2017-11-23 13:36] fabriziopandini opened #567 "Code cleanup for Token Create, pubkey hash and print join command"
Token create is implemented in three different points:
- `kubeadm init`
- `kubeadm token *`
- `kubeadm phase bootstrap-token create`

There is room form cleaning up the code moving common code in a package; the same applies to the generation of pubkey hash and to the generation of the join command to be used for joining nodes.

[2017-11-23 18:40] nelsonfassis commented on #335
That was my problem @luxas , I missed this part of information and was trying to join with an expired token. Thank you :)

[2017-11-23 18:53] mbert commented on #546
@dimitrijezivkovic thank you for your comment. I think it would make sense to put all the relevant information together so that one piece of documentation comes out.

I plan to set up a google docs document and start documenting what I did (which is pretty bare-bones). I would then invite others to join and write extensions, corrections, comments?