[2019-05-30 10:12] rkm1990 commented on #761
in my case it was issue with change in hostname.
I changed my hostname after installation.This could have caused the issue.
Hence I removed and installed kuberadm and the issue was fixed.

[2019-05-30 15:48] rosti commented on #1569
@mzyfree kubeadm deploys kube-proxy as a daemon set. This makes using any other value, than `0.0.0.0` or `::` for bind address useless (unless in the single node cluster case). That happens, because the same value is going to be propagated to all kube-proxy instances (one for each node) on the cluster.
Thus, it's best to just leave kubeadm decide whether to choose between `0.0.0.0` or `::` based o

[2019-05-30 16:40] DanyC97 opened #1581 "RFE: change cluster config as day 2 operation"
## MOVED

### "change the cluster" is now tracked in:
https://github.com/kubernetes/kubeadm/issues/970

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

## Feature description

Following a deployment a K8s cluster using `kubeadm` on a cloud and/or on-prem environement, i'd like to be able to change the default values for K8s core components (scheduler, api, kube-prox, cont

[2019-05-30 17:22] neolit123 opened #1582 "kubelet-config-x.y ConfigMap logic improvements"
tracking issue in k/e + KEP: https://github.com/kubernetes/enhancements/issues/2915

1.23 Alpha:
- [x] deprecate the old format and introduce the new one controlled by UnversionedKubeletConfigMap:
https://github.com/kubernetes/kubernetes/pull/105741
- [x] add e2e tests in k/kubeadm:
https://github.com/kubernetes/kubeadm/pull/2601

1.24 Beta:
- [x] update KEP:
https://github.com/kubernetes/enhancem

[2019-05-30 18:23] astrieanna commented on #1384
/remove-help
I believe that this issue does not fit the [definition of `help wanted`](https://github.com/kubernetes/community/blob/master/contributors/guide/help-wanted.md) because it does not have a clearly defined, agreed upon task.

[2019-05-30 23:28] gurudattest commented on #1360
Is this fix out  ? I have a cluster with Kubernetes version 1.14.1. The version of the coredns is 1.3.1 which is documented to have 9153 as metrics port exposed for the coredns service. But I don't see it.

[2019-05-30 23:31] rajansandeep commented on #1360
@gurudattest Yes, the fix was done in https://github.com/kubernetes/kubernetes/pull/73302

[2019-05-30 23:38] gurudattest commented on #1360
Thanks :) How can we check which exact version of kubernetes , this fix goes in.
I'm using "orchestratorVersion":"1.14.1", and I don't see it yet.

[2019-05-30 23:42] rajansandeep commented on #1360
If I'm not mistaken, this should have gone out in k8s 1.14.

[2019-05-31 00:52] gurudattest commented on #1360
I have 1.14.1, I don't understand why I don't see the metrics port on the coredns service. I use aks-engine to deploy my cluster. Any idea what might be going on ?

[2019-05-31 04:04] mzyfree commented on #1569
@rosti
Of course the kube-proxy address must be 0.0.0.0 or [::] in cluster deployment env.
That's your choice to sacrifice user's config bindAddress ability to make sure the local apiserver and kube-proxy daemonset use same ip address protocol in kubeadm.
It's all right if you think kubeadm has the responsibility to make sure that kube-proxy bindaddress and the local API address must use the same

[2019-05-31 07:03] gurudattest commented on #1360
Here is what kubectl get svc kube-dns shows

Name:              kube-dns
Namespace:         kube-system
Labels:            addonmanager.kubernetes.io/mode=Reconcile
                   k8s-app=kube-dns
                   kubernetes.io/cluster-service=true
                   kubernetes.io/name=CoreDNS
Annotations:       kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"v1","kind":"Serv

[2019-05-31 09:10] meowlomoDevelopment commented on #1477
I have the same error after i executed the command 'kubeadm join ...' : Running pre-flight checks stuck. I have no idea to handle it.

[2019-05-31 10:04] SataQiu commented on #1582
Maybe we can get the cluster version through `kubeadm-config` ConfigMap when joining new work node.

[code]

The `ClusterConfiguration` contains `kubernetesVersion: v1.13.0`.

[2019-05-31 12:06] neolit123 commented on #1582
@SataQiu
the PR you sent is something we've discussed yesterday - use `kubernetesVersion`.
so maybe we can merge that as a start in 1.16.

but the issue has deeper roots and we possibly need to discuss all the implications here.
e.g. versioning the kubelet-config CM, the usage of internal types and the component skew as a whole.

[2019-05-31 12:11] neolit123 commented on #1413
/lifecycle frozen

[2019-05-31 12:11] rosti commented on #1582
kubelet's component config is a versioned API. It is at beta level now and I don't expect catastrophic incompatibility issues between a couple of consecutive kubelet versions, especially on join.
So I am all in for having equivalent behavior between the different kubeadm sub-commands.

[2019-05-31 16:53] astrieanna commented on #1295
Should this be marked `lifecycle/active` or unmarked `help wanted`? It doesn't seem ready for anyone to pick up, since it's already being worked on.

[2019-05-31 17:10] astrieanna commented on #1431
@nzoueidi My interpretation of this issue is that [this commented out code](https://github.com/fabriziopandini/kubernetes/blob/9577cbfb9fd607d3698e1f2440f5875c85eca384/cmd/kubeadm/app/util/config/initconfiguration_test.go#L127-L200) needs to be removed.

[2019-05-31 17:24] astrieanna commented on #1367
On our PR that made UID/GID configurable, @rosti said:

In this case, what UID/GID should the processes be run as by default?

[2019-05-31 17:30] neolit123 commented on #1295
marked as active as @oz123 mentioned that he can look at followup changes.

[2019-05-31 17:58] gurudattest commented on #1360
https://github.com/kubernetes/kubernetes/commit/d54716338af0b7a1c874c1898fa3e4c29160cabb

Here, it says
 master (#73302)  v1.16.0-alpha.0 … v1.14.0-alpha.2

Does that mean it goes to kuberenetes v.1.16 ? I cannot find it in kuberentes v1.14 changelogs as well https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.14.md

[2019-05-31 18:19] astrieanna commented on #1378
Looking to contribute to this issue, but have a couple clarifying questions. First, I want to make sure I understand the goal.

**Current Behavior**:
When I set an option in kubelet config that has a required default in kubeadm, kubeadm will silently override the value.

**Desired Behavior**:
When I set an option in kubelet config that has a required default in kubeadm, kubeadm will _____.
a) warn

[2019-05-31 18:32] Ankit-rana opened #1587 "Kubeadm init fails with "Error writing Crisocket information for the control-plane node: timed out waiting for the condition""
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): sudo kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.2", GitCommit:"cff46ab41ff0bb44d8584413b598ad8360ec1def", GitTreeState:"clean", BuildDate:"2019-01-29T12:00:00Z", GoVersion:"go1.11.10", Compiler:"gc", Platform:"linux/amd64"}

**Environment**

[2019-05-31 18:48] luxas opened #1588 "Create a kubeadm logo"
@dankohn offered CNCF help (in https://github.com/cncf/k8s-conformance/pull/592) with creating a kubeadm logo. That's awesome!

@alexcontini will create and post the logos here for the community to vote on.
Many thanks in beforehand :clap: :rocket: :smile:!

cc @timothysc @justinsb

[2019-05-31 18:56] astrieanna commented on #1052
I'm interested in picking this up. To make sure I've understood the issue correctly, I'll start by summarizing the current state:

It looks like this issue had two parts: checking the number of CPUs/cores and checking the amount of RAM. These checks need to work across platforms, including both Linux and Windows. The first part has already been [merged](https://github.com/kubernetes/kubernetes/pul

[2019-05-31 18:57] dankohn commented on #1588
This group first needs to suggest several bullet points of ideas for a logo. I presume you'll want it to look different from the other installers in the project: https://landscape.cncf.io/category=certified-kubernetes-installer&format=card-mode&grouping=category&organization=cloud-native-computing-foundation-cncf

[2019-05-31 19:37] luxas commented on #1588
Ok, we'll discuss that during next week's SIG meeting on Tuesday.
FWIW we're not in a rush.

[2019-05-31 22:48] astrieanna commented on #1052
@dpb587-pivotal and I have implemented this check using the pbnjay/memory library suggested earlier in this issue. [You can see the changes here](https://github.com/kubernetes/kubernetes/compare/kubernetes:master...pivotal-k8s:kubeadm1052-pbnjay). We have not made a PR yet to avoid splitting the discussion, since there is still discussion to be had on the approach to take (vendoring this new libra

[2019-06-01 01:44] neolit123 commented on #1587
do you see anything suspicions in the kubelet logs?
this might be an issue that has to be moved to k/k instead of k/kubeadm.

[2019-06-01 17:29] Arvinderpal opened #1591 "kubeadm does not pass '--service-cluster-ip-rage' argument to kube-controller-manager"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.14.0-alpha.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.14.0-alpha.2
- **Cloud provider or hardware configuration**: local vagrant VM cluster
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`): 4.19.7
- **Others**:

## What

[2019-06-02 06:45] Ankit-rana commented on #1587
`~> sudo systemctl status kubelet
● kubelet.service - Kubernetes Kubelet Server
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
   Active: active (running) since Sun 2019-06-02 06:30:57 UTC; 8min ago
     Docs: https://github.com/GoogleCloudPlatform/kubernetes
 Main PID: 14593 (hyperkube)
    Tasks: 16 (limit: 131072)
   Memory: 110.2M
      CPU: 14.66

[2019-06-03 01:46] #1569 closed

[2019-06-03 08:45] DanyC97 commented on #1581
so here are some use cases i do see

@anguslees maybe you want to chime in and add your thoughts / use cases ?

* User wants to modify K8s core components flags and perform a "reload" w/o having to "replace" (scale up) the control plane node
* User wants to modify the cluster addon installed by kubeadm and perform a "reload"

@neolit123 i've deliberately avoided providing specific _flags_  as is v

[2019-06-03 17:49] DanyC97 commented on #279
@timothysc do you know if this work was / is scheduled for 1.15 cycle ?

[2019-06-03 17:52] yagonobre commented on #279
@DanyC97 it's not

[2019-06-03 22:22] neolit123 opened #1592 "have e2e jobs that use docker once we move kinder to latest kind"
upstream kind has moved to crictl and containerd on the k8s nodes it creates.
given we are using kind/kinder for all tests we need to be able to test docker on k8s nodes too.

currently kinder is not using the latest kind, but once it does we need to think of having docker jobs.

[2019-06-03 22:22] neolit123 commented on #983
upstream kind (used in the kubeadm-kind, not kinder jobs) is already using crictl.
logged issue for docker e2e jobs: https://github.com/kubernetes/kubeadm/issues/1592

[2019-06-03 22:22] #983 closed

[2019-06-03 23:21] janitha09 opened #1593 "generate token doesn't print the contol-plane join command"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

`kubeadm token create --print-joi

[2019-06-04 06:36] DanyC97 commented on #1223
great summary @neolit123 . Do you know if this will slip onto next cycle or work in progress as we speak ? Asking mainly because of the metrics-server which imo every deployment wants to have it ;)

[2019-06-04 10:54] neolit123 commented on #1223
@randomvariable  mentioned that there is another workaround for that.
from the discussions thus far, we are hesitant about signing the kubelet-serving cert with the cluster CA. this topic needs further discussion.

[2019-06-04 16:36] neolit123 commented on #1588
created a google doc with some ideas:
https://docs.google.com/document/d/1oAzGFaUPdZSDwsFsSzK1WMy8rfUoj6GE2JlN3Yv02G0/edit

quite empty ATM.

[2019-06-04 18:20] astrieanna commented on #1223
/remove-help because the solution to implement has not been chosen yet.

[2019-06-04 20:56] astrieanna commented on #1223
/remove-help

because the solution to implement has not been chosen yet.

[2019-06-04 22:05] gurudattest commented on #1360
@rajansandeep  Any idea what might be going on?

Kubectl version command on the master node shows
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-08T17:02:58Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVe

[2019-06-05 03:29] omegazeng opened #1596 "kubeadm join failed: unable to fetch the kubeadm-config ConfigMap"
## Is this a request for help?
yes

## What keywords did you search in kubeadm issues before filing this one?
kubeadm join
unable to fetch the kubeadm-config ConfigMap
controlPlaneEndpoint

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud prov

[2019-06-05 06:44] SataQiu commented on #1596
Thanks for reporting it @omegazeng
Could you provide more information about this issue ?
What is the output of  `kubectl get cm cluster-info -oyaml -n kube-public` ?
And how did you change controlPlaneEndpoint "master.HIDE.xyz" to "k8s-master.HIDE.xyz" ?

[2019-06-05 09:03] omegazeng commented on #1596
@SataQiu
Thank you!
[code]
[code]
I found
server: https://master.HIDE.xyz:6443
Is safe to edit cm cluster-info directly?

---
And how did you change controlPlaneEndpoint "master.HIDE.xyz" to "k8s-master.HIDE.xyz" ?

update kubeadm-config.yaml
[code]
[code]
detail:
https://github.com/kubernetes/kubeadm/issues/1447#issuecomment-489513430
https://github.com/kubernetes/kubeadm/issues/1447#issuecomment

[2019-06-05 09:11] SataQiu commented on #1596
As far as I know, kubeadm will use `cluster-info` ConfigMap as the cluster configuration.
This problem may be due to incomplete modifications.
I think you can try to edit `cluster-info` ConfigMap directly.

[2019-06-05 09:31] omegazeng commented on #1596
Rerun kubeadm join
[code]

[code]
Thank you again!

I think "kubadm upgrade" should sync update ConfigMap cluster-info.

[2019-06-05 09:36] SataQiu commented on #1596
You are welcome!  :blush:

[2019-06-05 09:37] #1596 closed

[2019-06-05 12:34] neolit123 commented on #1535
xref https://github.com/kubernetes/kubernetes/pull/76390

[2019-06-05 21:11] astrieanna commented on #1231
/remove-help

because it sounds as if there's some disagreement on whether this should be implemented.

[2019-06-06 05:50] Gangadharkandula commented on #1494
hi,

kublete is already running.....still we are getting same errror.

[2019-06-06 07:23] RA489 commented on #1593
@janitha09 i tried it and got the below output:

[code]

[2019-06-06 11:44] pankajcheema commented on #1390
I am trying on different cloud provider but no luck . Any suggestion or solution  ?

[2019-06-06 16:18] yagonobre commented on #1593
Due we don't store the certificate key we can't print the join command with the `--certificate-key`

[2019-06-06 16:59] fabriziopandini commented on #1593
@janitha09
As @yagonobre is suggesting it is not possible to print the control-plane join any time after init because the certificates-key is intentionally not stored in the cluster due to security reasons.

The effort for implementing machine readable output instead is tracked in https://github.com/kubernetes/kubeadm/issues/494

@neolit123 considering ^^ I'm for closing this issue. wdyt?

[2019-06-06 17:07] fabriziopandini commented on #1231
/close
While i'm still convinced it is nice to have, currently there is no concrete use case for having those annotation. The ticket can always be re-opened/re-created if necessary

[2019-06-06 17:07] #1231 closed

[2019-06-06 17:18] fabriziopandini commented on #1592
/lifecycle active

[2019-06-06 22:34] neolit123 commented on #683
/assign @yastij

[2019-06-06 22:35] neolit123 commented on #683
spoke with @yastij on zoom and we might get this enabled in testgrid/prow in the near future.

[2019-06-06 23:20] neolit123 commented on #1593
SGTM

[2019-06-06 23:20] #1593 closed

[2019-06-06 23:22] neolit123 commented on #1231
SGTM. its a "nice-to-have safeguard" - viable if we reach another case where we have to mutate the manifests by knowning which version they were created with. hopefully not.

[2019-06-06 23:23] neolit123 commented on #1592
@fabriziopandini BTW, currently the kubeadm-kind jobs are pinned to kind 0.2.0 which uses docker, due to HA problems. the bump to e.g. 0.4.0 might happen post 1.16.

[2019-06-07 05:48] fabriziopandini commented on #1592
@neolit123 agree; the change in kinder will be invasive, so I'm 💯 ok with waiting post release

[2019-06-07 05:52] fabriziopandini commented on #683
@neolit123 @yastij I'm happy to help in setting up test machinery (hopefully re-using kinder)

[2019-06-07 17:40] fabriziopandini commented on #1375
/close
With https://github.com/kubernetes/kubernetes/pull/77400 we already did what is possible within the scope of kubeadm.
Potential conflict between args and subcommands are intrinsic in cobra design, but in our specific use case, one probability of conflict between <API server address> arg and the "phase" subcommand are low; in case of conflict, as a workaround, the user can add https:// prefi

[2019-06-07 17:40] #1375 closed

[2019-06-08 13:17] LucaLanziani opened #1598 "Invalid etcd config generated when using DNS discovery approach"
## Is this a BUG REPORT

## Versions

**kubeadm version**:

[code]

**Environment**:
- **Kubernetes version**:
[code]
- **Cloud provider or hardware configuration**: AWS
- **OS**: Ubuntu 18.04
- **Kernel**: Linux 4.15.0-1040-aws

## What happened?

When using `kubeadm init phase etcd local --config=/root/kubeadmcfg.yaml` with the config file containing the following extra argument:

[code]
an inva

[2019-06-09 08:18] SataQiu commented on #1598
Thanks for reporting this @LucaLanziani :+1:
kubeadm does not provide support for `discovery-srv` or `discovery` mode at present.
Maybe because this https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/etcd/local.go#L212. The code does not handle potentially conflicting parameters for etcd.
Local etcd completes cluster discovery based on `init-cluster`.
What are your usage s

[2019-06-09 10:35] LucaLanziani commented on #1598
Hello @saad-ali :wave:
Right now I'm solving this with an hacky workaround, setting `init-cluster` to `null` in the extraArgs.

What I'm trying to do is to migrate the [monzo implementation](https://github.com/monzo/etcd3-terraform) of etcd to kubeadm.
The etcd nodes case are in multiple autoscaling groups and for the discovery they use a SRV dns record that lists all the etcd peers, the process d

[2019-06-09 15:16] neolit123 commented on #1598
@LucaLanziani thanks for the issue report.
for local etcd, kubeadm tries to provide a common use case that works for most users.
arguably `discovery-srv` enables a use case that is less common.

this actually seems like a pretty viable workaround for now.

in terms of etcd config UX improvements in kubeadm, it's important to note that we do planning on config changes at the beginning of the k8s re

[2019-06-10 02:33] athir1234 commented on #1031
Hi All,

I have 1 master and 2 nodes. 2nd node is in not ready state.

root@kube1:~# kubectl get nodes
NAME         STATUS     ROLES    AGE     VERSION
dockerlab1   Ready      <none>   3h57m   v1.14.3
kube1        Ready      master   4h12m   v1.14.3
labserver1   NotReady   <none>   22m     v1.14.3

------------------------------------
root@kube1:~# kubectl get pods --all-namespaces
NAMESPACE     N

[2019-06-10 05:35] fabriziopandini commented on #1598
@LucaLanziani
Happy to hear new kubeadm users from Italy !
Before expressing an opinion, I would like to better understand your use case.
If I got this right you are using an terraform recipe to create an etcd cluster on aws, is that right? And if this is the case, why are you using local etcd instead of external etcd when bootstrapping K8s with kubeadm?

[2019-06-10 07:24] LucaLanziani commented on #1598
@neolit123 thanks a lot for the feedback.
I agree on the fact that starting an etcd cluster without a discovery mechanism seems to be common.

My idea was to add the `discovery-srv` behaviour wrapping those lines https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/etcd/local.go#L198-L209 in something like:

[code]

and this would not impact the the current behaviour anyhow

[2019-06-10 07:35] LucaLanziani commented on #1598
Hello @fabriziopandini .
I'm starting now on k8s in general and I quite a noob, I'll do my best not to make Italy look bad here ;).

Ok as I pre-announced above I'm still a noob so let me try to see if I got your question right.

That's right.

The idea is to use an external etcd, what I'm doing now is spinning up 3 aws instances and starting just etcd there using:

[code]

The next step is to sta

[2019-06-10 07:43] fabriziopandini commented on #1565
Some notes:
- this is a cleanup that should land on after v1.15 is cut
- we want to replace stable with a proper release number
- old v1.11 jobs should be deleted and new v1.15 jobs should be created (new point)
- the version we are testing should be made consistent (see TODOs in  https://github.com/kubernetes/kubeadm/blob/master/kinder/ci/kubeadm-periodic.tests.md)
- https://github.com/kubernetes

[2019-06-10 12:01] neolit123 commented on #1565
ack, changed priority and moved to 1.16 milestone.

[2019-06-10 12:10] neolit123 commented on #1439
@rosti i'm closing this as v1beta2 was added successfully.
@ghouscht please file a separate ticket that outlines the problem in https://github.com/kubernetes/kubeadm/issues/1439#issuecomment-495502283
if you wish.

[2019-06-10 12:10] #1439 closed

[2019-06-10 12:58] neolit123 commented on #1361
@fabriziopandini i was looking at closing this ticket today as you were able to send PRs for the renewal parts. should the ticket be closed?

yes this is tracked in a separate issue, possibly needs discussion/docs  in terms of what workarounds we should provide.

the 3 above should be done.

[2019-06-10 13:00] neolit123 commented on #1572
moving to 1.16 as we were not able to get a definitive answer to the questions in https://github.com/kubernetes/kubernetes/issues/78075

[2019-06-10 13:06] neolit123 commented on #1276
we need verification for 1.14 and 1.15.
with the addition of the external etcd kinder workflows it might be easier to reproduce:
https://github.com/kubernetes/kubeadm/blob/master/kinder/ci/workflows/external-etcd-master.yaml

cc @ereslibre

[2019-06-10 13:10] neolit123 commented on #1290
this is done now.

i will close this ticket and create a new one that only tracks the above items.
they need by-in by sig-release and sig-testing.

probably should be tracked in the CAPA provider.

[2019-06-10 13:10] #1290 closed

[2019-06-10 13:24] neolit123 opened #1599 "kinder jobs as PR and release blocking"
Tracking issue for a couple items moved from:
https://github.com/kubernetes/kubeadm/issues/1290

- [ ] currently kinder jobs are not release blocking
  - we have kinder jobs in `master-informing` and `x.yy-all` dashboards, but not in the `*-blocking` dashboards
https://k8s-testgrid.appspot.com/sig-release-master-informing
https://k8s-testgrid.appspot.com/sig-release-1.14-all

  - promoting kind(er

[2019-06-10 13:24] neolit123 commented on #1290
moved to https://github.com/kubernetes/kubeadm/issues/1599

[2019-06-10 13:37] neolit123 commented on #1485
thanks for the feedback @marccarre
FYI in 1.15:
- we added the support to have certificateKey as part of the kubeadm JoinConfiguration
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#JoinControlPlane
- the flag `--experimental-control-plane` is deprecated in favor of `--control-plane`.
- the mixture o

[2019-06-10 13:37] #1485 closed

[2019-06-10 13:45] neolit123 commented on #1208
there is discussion in the PR in flight.
moving ticket to 1.16 milestone.

[2019-06-10 14:00] neolit123 commented on #1540
moving to 1.16.

[2019-06-10 14:13] neolit123 commented on #1391
given the size of the change, we are probably going to hold on the 1.13 backport.
please upgrade to 1.14+.

[2019-06-10 14:13] #1391 closed

[2019-06-10 14:16] neolit123 commented on #1535
moving to melestone Next.

https://github.com/kubernetes/kubernetes/pull/76390
added support for user generated ECDSA.

this ticket tracks the generation of ECDSA by kubeadm.

we probably should define when this transition is going to happen.

[2019-06-10 14:26] neolit123 commented on #1567
this is the only remaining item - PR is in flight waits on test-grid merge approval:
https://github.com/kubernetes/test-infra/pull/12906

this is a nice to have marked as `priority/backlog` and can be a post-beta improvement.

[2019-06-10 14:27] neolit123 commented on #1588
the google doc for ideas collected 5, thus far.

[2019-06-10 14:36] neolit123 commented on #1494
we have upgrade CI test signal where 1.13->1.14 HA upgrades work:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1.13-1.14

to me this seems related to https://github.com/kubernetes/kubernetes/issues/78633 and possibly a kubeernetes bug (not kubeadm). please re-open if needed.

this seems like a separate issue.

[2019-06-10 14:36] #1494 closed

[2019-06-10 14:45] neolit123 commented on #1393
updated OP with latest PRs merged.
for 1.15 (alpha) remaining items are install script and docs.

[2019-06-10 15:25] rosti commented on #1598
@LucaLanziani if I understand correctly, you want to have your control plane and etcd cluster on different machines.
kubeadm is designed for Kubernetes cluster deployment and etcd is not its specialty. It can deploy "local" or "stacked" etcd clusters in an opinionated way (designed to have an instance on each control plane node, no discovery, ...).
I would recommend you to use other tools to setup

[2019-06-10 16:57] astrieanna commented on #1205
/remove-help

because it isn't clear from the comments here if there is consensus or exactly what that consensus is.

[2019-06-10 17:00] astrieanna commented on #1208
/remove-help

because there's a PR in flight.

[2019-06-10 18:32] fabriziopandini commented on #1598
@LucaLanziani i Will divide your problem in two parts
1) create an external etcd cluster
2) use kubeadm to create an K8s cluster that uses the external etcd cluster

For 1) you can use terraform/Monzo or whatever solution you prefer. If you want to use kubeadm also for this task, you can follow instructions @ https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/ , but please be

[2019-06-10 18:48] timothysc opened #1600 "Refactor: Setup import boss to decrease deps on k/k packages not in staging."
## This a FEATURE REQUEST

In the fullness of time we would like to move kubeadm out of the k/k repository, but in order to make that possible we need to make certain we are only importing libraries from published sources, e.g. staging.

This issue to track the progress of decreasing those dependencies and setting up import boss.

[lubomir]
i have created a google doc to list all the kubeadm deps

[2019-06-10 19:07] fabriziopandini commented on #1540
@neolit123 the part about certificate renewal is now consistent and documented, even if it still uses certificates as authoritative source for renewal.

The part relative to change the cluster is now tracked in https://github.com/kubernetes/kubeadm/issues/1581

So I'm ok in closing this (eventually in future we should reconsider the part relative to the authoritative source in a separated PR)

[2019-06-10 19:08] fabriziopandini commented on #1540
/close

[2019-06-10 19:08] #1540 closed

[2019-06-10 20:43] yagonobre commented on #1600
I can work on it in the next cycle

[2019-06-11 04:30] saddique164 commented on #1031
Hi Athir,

             Please check out logs in /var/logs/messages section of your Master node. You can find an actual error in those logs. But here are some general tips.

i. Always concentrate on your Master node first.
ii. Install docker engine on it and fetch all images which are being used for kubernetes. When everything will be in running form, then add nodes to the master. it will solve al

[2019-06-11 04:34] SataQiu commented on #1600
I hope I can help with this. @yagonobre

[2019-06-11 04:39] athir1234 commented on #1031
Hi saddique164, Thanks for your suggestions. Yeah as you said I deployed another new slave node yesterday and was able to join the Master without any issues.

[2019-06-11 05:17] LucaLanziani commented on #1598
Hi @rosti you are correct, I have a set of instances running etcd and another set running

[code]

I understand what you are saying regarding kubeadm and I'm also understand the reasons behind the decision of keeping it simple and opinionated.

It's also true that it can load config from an external file using `--config`.
This leaves space to more complex configurations without changing a single l

[2019-06-11 05:26] LucaLanziani commented on #1598
Thanks a lot @fabriziopandini for the detailed explanation.

I'll re-read those pages for sure and try to get the best out of them.

Yes, I have etcd up and running at the moment, including the discovery part, I'll play with it for a little bit and I'll then decide if the static configuration could be a better option.

Yes I'm setting up the master nodes at the moment and in this case I've already

[2019-06-11 06:50] ghouscht opened #1601 "handling of extraArgs which are allowed multiple times"
The current implementation of `extraArgs` in the `ControlPlaneComponent` is backed by a `map[string]string` type and this leads to some problems we're currently facing. For example the api-server allows some arguments multiple times (`--service-account-key-file` and `--tls-sni-cert-key`). We can't handle this with the `extraArgs` type as it is a map which of course does not allow the same key twic

[2019-06-11 11:26] woopstar commented on #1557
Sorry for the delay. Was unable to look into it, but I will have time now.

I think the error might be a logic result in Kubernetes. I waiting for https://github.com/kubernetes-sigs/kubespray/pull/4867/files to get merged and see if that actually fixes the problem.

[2019-06-11 12:13] neolit123 commented on #1577
all documentation PRs have merged.
will keep this open until release.

[2019-06-11 12:14] neolit123 commented on #1567
only remaining item is:

https://github.com/kubernetes/test-infra/pull/12906

and this issue can be closed :tada:

[2019-06-11 12:37] woopstar commented on #1557
Looks like this fixed the error. Doing a vagrant up after this PR got merged results in:

[code]

[2019-06-11 12:37] #1557 closed

[2019-06-11 12:48] neolit123 opened #1602 "provide workarounds for the kubelet self-signed serving certificate"
TL;DR kubeadm manages a kubelet that self-signs it's serving certificate. this creates a blocker for metric server users that wish to scrape the kubelet as a server.

related issue:
https://github.com/kubernetes/kubeadm/issues/1223

related enhancement:
https://github.com/kubernetes/enhancements/issues/267

official docs:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tl

[2019-06-11 13:51] wToad commented on #1546
Hello, I have the same issue, I wanted to upgrade my cluster with Kubespray, but some errors occured. I decided to do it on my own with kubeadm (even if kubeadm was disable on the kubespray cluster deployment).

- Kubernetes version:
[code]
- Cloud provider:
[code]
- OS:
[code]
- Kernel:
[code]

### What happened?

I use the simplest upgrade commands:
[code]

@neolit123
when I use the verbosity le

[2019-06-11 14:24] wToad opened #1603 "kubeadm timeout updating kube-scheduler static pod"
## What keywords did you search in kubeadm issues before filing this one?

[code]

## This is a BUG REPORT

## Versions
- Kubeadm version:
[code]
- Kubernetes version:
[code]
- Cloud provider:
[code]
- OS:
[code]
- Kernel:
[code]
## What happened?

I wanted to upgrade my cluster with Kubespray, but some errors occured. I decided to do it with kubeadm (even if kubeadm was disable on the kubespray c

[2019-06-11 14:25] neolit123 commented on #1546
we have clean e2e test signal for the non-cloud-provider use case (self provisioning nodes): https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1.11-1.12

so it must be something setup related. what is your kubeadm configuration file?

[2019-06-11 14:36] wToad commented on #1546
Thank you for answering, I am not familiar with the interface of the link you provided but I will try to check. Here are my files:

[code]

[code]

[2019-06-11 15:04] neolit123 commented on #1546
its an e2e test result histogram for the kubeadm 11->12 upgrade. green means pass, red means failure.

i can't seem to find anything out of order with this config, but it would be great if you can narrow it down to a kubeadm specific field that is problematic.

also would be great to examine the logs of the `kube-scheduler-openpaas-preprod-linagora-k8s-master0` pod to see if it reports any errors.

[2019-06-11 15:05] wToad commented on #1546
I was thinking about it, and I found errors in the container:
[code]
There are a lot of errors mentionning this certificate issue

[2019-06-11 15:25] neolit123 commented on #1546
not sure what may cause that.
the kube-scheduler is signed with the cluster CA and kubeadm 1.12 does not touch it during upgrade.

[2019-06-11 15:28] wToad commented on #1546
kubeadm does not, but I had many troubles using Kubespray before kubeadm, and since that, I met few issues according CA. So I think because of Kubespray I should manage it now, do you know the order of actions I should do to deploy again the last generated CA?

[2019-06-11 15:42] neolit123 commented on #1546
unfortunately i have close to no experience with kubespray so i cannot comment much on it's interactions with kubeadm as the boostrapper.

not sure what the problem related to CA might be here - i don't think it should be blocking upgrade. is it a case where kubespray provides a custom CA for kubeadm to use? does kubespray manage other certs for kubeadm?

`kubeadm init` should use existing `/etc/k

[2019-06-11 15:51] wToad commented on #1546
Kubespray is creating a new CA if it doesn't find any previous one, and since I have an error on a previous upgrade with it, I believe he did generate a new CA, but some containers kept the previous one. I will look more precisely about how is it managed, and will try to fix it. Otherwise, I will check more about `kubeadm init`

[2019-06-12 15:09] neolit123 commented on #1603
you mentioned in the other issue (https://github.com/kubernetes/kubeadm/issues/1546) that you hand problems (possibly corruption) with the cluster CA.

could you please copy / add the same comments here?

on the side of kubeadm we have a problem that our errors are not good - i.e. it's not clear what the problem is.
but it feels to me that we have a case of a unsupported cluster where something is

[2019-06-12 15:53] neolit123 opened #1606 "evaluate the retry logic for API calls"
with the merge of PR:
https://github.com/kubernetes/kubernetes/pull/78915

we added retry logic to kubeadm when fetching ConfigMaps.

The PR also added a TODO to evaluate if this can be done better.
This work should happen in the 1.16 cycle.

----
update:

we are seeing users having random API server downtime which trips our API calls without retry, such as the ones in uplaod-certs phase of init:

[2019-06-12 16:42] chuckha opened #1607 "certificate-key could have better messaging"
## Is this a BUG REPORT or FEATURE REQUEST?

 FEATURE REQUEST
## Versions

**kubeadm version** (use `kubeadm version`): 1.14.2

## What happened?
I tried to use the `--experimental-cert-upload` flag with `--certificate-key` but passed in a key that was an invalid size. It told me the size was 2 but did not tell me what a valid size is. I also did not see how to generate a key in documentation.

/k

[2019-06-12 16:44] yagonobre commented on #1600
@SataQiu please sync with people before starting to working on issues, so we can avoid rework.

[2019-06-12 16:49] yagonobre commented on #1607
on 1.15 you can use `kubeadm alpha certs certificate-key` to generate a key

[2019-06-12 20:15] janitha09 commented on #1593
How could one go about adding a control plane node after the initial token goes away (2h I think)?

[2019-06-12 20:54] neolit123 commented on #1593
1. `kubeadm token create` to create a new token that you pass to `join` also see the `--print-join-command` flag. these tokens expires in 24h.
2. `kubeadm init phase upload-certs --experimental-upload-certs` to re-upload the control-plane certificates in a new secret and give a decryption key for the secret. this secret expires in 2h.

[2019-06-12 21:16] alexcontini commented on #1588
Hi! I have attached a board of some rough logo concepts. I tried to incorporate all the suggestions but let me know if this isn't what you were thinking.

I am not sure if I should email instead of posting here but I thought I would attach here first -

[kubeadm_logo_v1.pdf](https://github.com/kubernetes/kubeadm/files/3283170/kubeadm_logo_v1.pdf)

[2019-06-12 21:26] neolit123 commented on #1588
awesome, thanks a lot @alexcontini !

i'm going to create a poll so that people can vote on their favorite design and we can possibly bikeshed on the best votes during the next kubeadm office hours meeting (wednesday - 20th).

these look great! :tada: :tada: :tada:

[2019-06-12 21:55] neolit123 commented on #1588
poll link
https://forms.gle/HqL4FJU2SbC8yUmb7

[2019-06-12 22:41] neolit123 commented on #1607
hm, where is the size 2 coming from?
the size is 32 bytes.

in 1.14 one can only generate a new key when you call `kubeadm init phase upload-certs --experimental-upload-certs`.

[2019-06-13 02:47] SataQiu commented on #1600
@yagonobre  Thanks for your reminding. I'm sorry, but how can I sync with other people ?
Do we need to create a umbrella issue for this ?

[2019-06-13 04:05] fabriziopandini commented on #1567
/close
As per comment above the latest open issue be a post-beta improvement and it is already tracked in #1432

[2019-06-13 04:05] #1567 closed

[2019-06-13 13:31] neolit123 commented on #1600
/lifecycle active

[2019-06-13 13:31] neolit123 commented on #1600
one way is to mention which import-boss related items you have picked in a comment here.

[2019-06-13 15:09] Ramane19 commented on #1128
[ERROR DirAvailable--etc-kubernetes-manifests]: /etc/kubernetes/manifests is not empty
	[ERROR FileAvailable--etc-kubernetes-kubelet.conf]: /etc/kubernetes/kubelet.conf already exists
	[ERROR FileAvailable--etc-kubernetes-pki-ca.crt]: /etc/kubernetes/pki/ca.crt already exists
[preflight] If you know what you are doing, you can make a check non-fatal with `--ignore-preflight-errors=...

How can I f

[2019-06-13 16:55] astrieanna commented on #1011
/remove-help

because the way to handle the check still hasn't been decided (or hasn't been documented on this issue).

[2019-06-13 19:10] Ramane19 opened #1609 "Network Pods"
After doing the kubeadm init and setting up the network pod with weave, I get the following error while looking at the pods

@k8s-sig-openstack-test-failures

kubectl get pods --all-namespaces
NAMESPACE     NAME                            READY                STATUS                           RESTARTS   AGE
kube-system   coredns-fb8b8dccf-d9pp8                   0/1     CrashLoopBackOff   6

[2019-06-13 19:23] Ramane19 commented on #1609
@christopherhein

[2019-06-13 19:54] adobo76 commented on #1062
I second adding this information to the setup page. I was seeing this error and it caused me at least 20 min of pain until I came across this thread.  Thank you for sharing the solution.

[2019-06-13 20:55] yastij commented on #1600
any context on why we're using internal types in kubeadm ?

[code]

[2019-06-13 21:45] neolit123 commented on #1609
you can try the suggestions in https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/ about coredns crashloop.

[2019-06-14 01:54] kigawas opened #1610 "Kubeadm will do preflight check over wrong pod-infra-container-image registry"
TL;DR: You can work it around by `kubeadm init --config /tmp/kubeadm.yml --ignore-preflight-errors ImagePull`

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:41:54Z", GoVersion:"go1.12.5", Compiler:"gc", Platfor

[2019-06-14 03:17] neolit123 commented on #1610
this is by design.
if you are using a private registry kubeadm assumes that you have also uploaded the pause image to it.

to prevent the kubelet from downloading the pause image from `k8s.gcr.io/pause:3.1` which is the default value, you should do:

[2019-06-14 04:04] kigawas commented on #1610
@neolit123
Thanks.
In my case, I do **not** want it to be download from PRIVATE_REGISTRY. I want it to be downloaded from `k8s.gcr.io`.

[2019-06-14 04:08] SataQiu commented on #1600
@yastij That's what bothers me too.
How to deal with `k8s.io/kubernetes/pkg/kubelet/apis/config/validation` , as it is not exported to `k8s.io/kubelet/config`.
@neolit123 @yagonobre Any suggestions?

[2019-06-14 04:23] neolit123 commented on #1610
normally users of airgapped environments upload the pause image to the same private registry to manage a pre-pull and don't rely on pulling from the internet.

an immediate workaround is to add any pause image to your private registry to satisfy the kubeadm preflight, but pass a different one in the kubelet config.

another issue here is that the `pod-infra-container-image` field is dockershim spe

[2019-06-14 04:31] kigawas commented on #1610
This is what I'm doing, but it's kinda weird that it check against one registry and download from another, in my opinion.

No op in the future is another story. I'm afraid now there are not a few users encountering with this gotcha.

[2019-06-14 07:34] wToad commented on #1603
sure, so I checked the logs of the container:
[code]
There are a lot of errors mentionning this certificate issue. I had many troubles using Kubespray before kubeadm, and since that, I met few issues according CA. So I think because of Kubespray I should manage it now

I'm still stuck on this but I'm not working on it right now, I'm having a break and do other stuff so I don't have more clue right

[2019-06-14 09:23] rosti commented on #1600
For `k8s.io/kubernetes/pkg/kubelet/apis/config/validation` we have a couple of interesting deps:

- `k8s.io/kubernetes/pkg/apis/core/validation`. This is required for `ValidateDNS1123Subdomain` which is a simple sub-domain validation func.

- `k8s.io/kubernetes/pkg/registry/core/service/ipallocator`. Imported for another utility func `RangeSize`, which returns the number of IPs in a CIDR.

Some of

[2019-06-14 10:44] rosti commented on #1600
/assign

[2019-06-14 11:03] cailiangliang765 opened #1611 "join a remote node by ddns"
I have created a kubernetes cluster where I have k8smaster1 and k8snode1. I initialised master node using below command

sudo kubeadm init --kubernetes-version=1.14.3 \
--apiserver-advertise-address=192.168.88.131 \
--image-repository registry.aliyuncs.com/google_containers \
--service-cidr=10.1.0.0/16 \
--pod-network-cidr=10.244.0.0/16

192.168.88.131 is the ip address of master node. Then I used

[2019-06-14 13:00] neolit123 commented on #1611
is it stopping at?

try passing `--v=3` to `kubeadm join`

[2019-06-14 13:18] neolit123 commented on #1600
folks if you have a PR that removes deps please mark/remove entries in https://docs.google.com/document/d/1oDp7fXhGHA66cpaKE7Sm4eF3w4G4uZrq8EhtSWBxfus/edit

[2019-06-14 13:47] Arvinderpal opened #1612 "Dual-Stack support for Kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

In order to support the forthcoming dual-stack work, certain changes must be made to kubeadm so that it can create dual-stack clusters. The dual-stack KEP (https://github.com/kubernetes/enhancements/pull/808) has a section on changes required in kubeadm.

Phase-1 Tasks:

- [x] kubeadm feature-gate https://github.com/kubernetes/kubernete

[2019-06-14 13:51] cailiangliang765 commented on #1611
@neolit123 Many thanks for your reply ! It stop at [preflight] Running pre-flight checks for one hour so i have to terminate it. I add --v=3 to kubeadm join as you say.

[root@k8snode1 ~]# kubeadm join weinformatics.vicp.io:36791 --v=3 --token idiny6.30idongoafemg1bp \

I0613 23:09:05.554492   22036 join.go:367] [preflight] found NodeName empty; using OS hostname as NodeName
I0613 23:09:05.554571

[2019-06-14 14:07] yastij commented on #1600
/assign

[2019-06-14 14:13] neolit123 commented on #1611
thanks for the log.

a bug on the kubeadm is that we should timeout and not wait for an hour.
i will file a separate issue for that.

------

the problem here is that you are not adding `weinformatics.vicp.io` to the known domains in your API server certificate.

see these docs on how to pass your domian under `apiServer/certSANS` in the kubeadm v1beta1 config:

https://kubernetes.io/docs/setup/pr

[2019-06-14 14:16] yastij commented on #1600
[code]

these can be avoided by either pulling these consts too or by duplicating (I'm not in favor of duplicating as we'd need to update things at multiple location)

cc @neolit123 @timothysc

[2019-06-14 14:19] cailiangliang765 commented on #1611
I will need some time to finish this. Thank you !

[2019-06-14 14:20] cailiangliang765 commented on #1611
@neolit123 I will need some time to finish this. Thank you !

[2019-06-14 14:21] neolit123 opened #1613 "don't retry indefinitely to fetch cluster-info if a domain is not in the certs SANs"
a user reported [here](https://github.com/kubernetes/kubeadm/issues/1611#issuecomment-502117234) that if they pass a domain to `kubeadm join` and this domain is not in the known certs SANs for the api server, our token discovery re-tries indefinitely.

ideally we need a timeout that makes sense - e.g. 60 seconds.

@astrieanna has been cleaning a lot of our `help-wanted` labels recently :), so i'm

[2019-06-14 14:41] neolit123 commented on #1600
i'm not sure i understand the difference between pulling and duplicating. could you please clarify with minor examples?

[2019-06-14 14:46] neolit123 commented on #1612
thanks for logging the ticket @Arvinderpal
@aojea has been interested in implementing IPV6 support in [kind](https://github.com/kubernetes-sigs/kind), which uses kubeadm under the hood and adding testing signal for that.

@aojea please take a look and communicate with @Arvinderpal who wishes to add dual stack support in kubeadm.

/assign @aojea @Arvinderpal

[2019-06-14 14:48] yastij commented on #1600
should consts like annotation, default values etc.. that are used in multiple location be one repo (e.g. one under staging) This way we don't need to duplicate it (and avoid to change it in multiple locations).

I guess that for now it's fine to duplicate as it's only these two imports. But once we start putting things out of k/k we should think about it, otherwise to change a port we'd need to up

[2019-06-14 14:52] neolit123 commented on #1600
moving things to staging can take *a while*, duplicating SGTM for now.

[2019-06-14 14:59] yastij commented on #1600
I'll send a PR to remove dep to `k8s.io/kubernetes/pkg/controller/bootstrap`

[2019-06-14 15:04] timothysc commented on #1011
@astrieanna - unless you are actively engaging with the subproject on helping to triage the backlog with that team I'm going to politely ask you to stop.  Contribex are guidelines, not policy.  `help wanted` is used to indicate to external contributors that we are not actively working on it, and if they are interested they may need to investigate to find an optimal path and work with the team.

[2019-06-14 15:36] pperiyasamy opened #1614 "cpumanager is not set with static policy"
BUG REPORT

cpumanager is not set with `static` policy.

I'm trying to create single node k8s cluster with kubeadm init, but it looks like kubelet's cpumanager is not initialized with `static` policy.

Here is the snippet of kubelet configuration in kubeadm init yaml file:

[code]

## Versions

**kubeadm version**:
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitComm

[2019-06-14 16:51] astrieanna commented on #1613
🤦‍♀ This sounds like a really specific fix and a good fit for `help wanted` (as long as a constant 60 seconds is agreed on as the appropriate timeout). If you included where the timeout needs to be changed or referenced a similar code change to model this one on, it could even be a `good first issue`.

[2019-06-14 18:52] #1591 closed

[2019-06-14 21:46] neolit123 commented on #1614
my immediate comment, is that i don't think we should enable the "static" policy by default or at least there has to be a really good reason to do so.

if sig-node have plans for the kubelet to switch away from the default affinity (policy=none), kubeadm will follow. until then i think this falls under customizations that the user should apply on demand for certain nodes only.

@kubernetes/sig-clu

[2019-06-14 23:31] yagonobre commented on #1614
I agree with @neolit123, I use static policy in some clusters, but it's more an exception than the normal case of use.

[2019-06-15 06:16] OmarAkram10 opened #1616 "[ERROR FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml]: /etc/kubernetes/manifests/kube-apiserver.yaml already exists"
After changing my cgroup drivers,which was cgroupfs, of docker and kubernetes to systemd,I'm getting this error:

$ sudo kubeadm init
[init] Using Kubernetes version: v1.14.3
[preflight] Running pre-flight checks
error execution phase preflight: [preflight] Some fatal errors occurred:
        [ERROR FileAvailable--etc-kubernetes-manifests-kube-apiserver.yaml]: /etc/kubernetes/manifests/kube-apiser

[2019-06-15 12:01] neolit123 commented on #1616
`ERROR FileAvailable` usually means that `kubeadm reset` is not being called on a node before `init` or `join`.

cgroup drivers seem unrelated to the errors you are getting.

this a issue tracker, so for user support please try reddit, stackoverflow or the #kubeadm slack channel.
thanks

[2019-06-15 12:01] #1616 closed

[2019-06-15 14:53] cailiangliang765 commented on #1611
@neolit123 I met a new problem as follows:
[root@k8snode1 ~]# kubeadm join weinformatics.uicp.io:50437 --v=3 --token 5q0zal.g0vv13dwkovjconj \

I0615 10:50:47.267559   21771 join.go:367] [preflight] found NodeName empty; using OS hostname as NodeName
I0615 10:50:47.267636   21771 initconfiguration.go:105] detected and using CRI socket: /var/run/dockershim.sock
[preflight] Running pre-flight checks

[2019-06-15 15:32] cailiangliang765 commented on #1611
@neolit123 Hi, I add the apiServer/certSANS and update the as your refer sites, it works for me.
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: v1.14.3
apiServer:
  certSANs:
  - "weinformatics.uicp.io"
networking:
  dnsDomain: cluster.local
  podSubnet: 10.244.0.0/16
  serviceSubnet: 10.1.0.0/16

but another problems occurs, I known the reason was i can not use i

[2019-06-17 06:04] fabriziopandini commented on #1361
/close
As per comment above most of the work is already completed; the missing bit is tracked in a separate/dedicated issue

[2019-06-17 06:04] #1361 closed

[2019-06-17 06:21] alekdu commented on #240
Thanks @MichaleWong ! That's the right answer for my failing case. Clock need to be synchronized before joining.

[2019-06-17 06:27] SataQiu commented on #1613
The default discovery timeout is 5 minutes.
See:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/discovery/token/token.go#L214
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta2/defaults.go#L55

[2019-06-17 07:19] pperiyasamy commented on #1614
@neolit123 @yagonobre Thanks for your response. I'm not asking to make cpu manager policy as static by default. I'm trying to set the kubelet with static policy explicitly via kubeadm init yaml file, but it isn't set actually.

I can also see the cpuManagerPolicy set as static in the kubelet-config-1.13 configMap.

[code]

[2019-06-17 08:57] kigawas commented on #210
Excuse me, how can I set tag? Is it this?

https://cloud.google.com/vpc/docs/add-remove-network-tags

[2019-06-17 09:09] neolit123 commented on #1614
`cpuManagerPolicy: static` is set correctly in the KubeletConfiguration.

to use "static", make sure your pods get assigned the "Guaranteed" QoS class.
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/
https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/

[2019-06-17 09:17] neolit123 commented on #1613
@cailiangliang765

can you please confirm again that it runs longer than 5 minutes?
you've mentioned "one hour" in this comment:

https://github.com/kubernetes/kubeadm/issues/1611#issuecomment-502117234

[2019-06-17 09:35] cailiangliang765 commented on #1613
@neolit123 Thanks for your further investigation. I try again and this time it runs less in 5 minutes. I use vscode tool to connect the master node and perhaps it was hunging up. Thanks.
[code]

[2019-06-17 09:39] neolit123 commented on #1613
the 5 minute timeout in general should always work.
thank you for checking.

[2019-06-17 09:39] #1613 closed

[2019-06-17 09:42] neolit123 commented on #1611
- do you have connectivity from the worker node the control-plane node?
- are you joining immediately after init - e.g. way too fast?

[2019-06-17 09:57] cailiangliang765 commented on #1611
1. In my master node, the weinformatics.uicp.io:50437 = 192.168.220.132:6443 by ddns service. The log shows I0615 11:17:52.404061 26944 token.go:206] [discovery] Successfully established connection with API Server "weinformatics.uicp.io:50437".  I do not know how to test the connectivity from the worker node the control-plane node.
2. I have three nodes: master node, worker node A are in the same

[2019-06-17 10:13] neolit123 commented on #1611
not sure what the issue is here.

suggests connectivity problems from the joining worker.

if B is a remote worker, why does it try to connect to a local address?
for the worker node "weinformatics.uicp.io:50437" should resolve to a remote address.

[2019-06-17 10:20] cailiangliang765 commented on #1611
master node (192.168.220.132), worker node A (192.168.220.140) and B (192.168.88.132) That was also my confuse. I do not know which parameter on master or worker B node I need to edit to let dial tcp 192.168.220.132:6443: i/o timeout change to dial tcp weinformatics.uicp.io:50437: i/o timeout.

[2019-06-17 11:33] pperiyasamy commented on #1614
Yes, I can see QoS class set as "Guaranteed" for the Pod as its created with cpu requests/limits both set with 2.  But I don't see which are the cpu cores isolated for the Pod so that dpdk application can be run on those specific cores.

[code]

[2019-06-17 11:42] neolit123 commented on #1614
you can try the k8s support channels like reddit or stackoverflow:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

if you discover a kubelet related bug, please log an issue in kuberentes/kubernetes and tag `/sig node`.

thanks.

[2019-06-17 11:42] #1614 closed

[2019-06-17 15:08] rosti commented on #1600
One of the biggest refactorings I see here are around the component configs. We use the "internal" types of component configs, which are backed by k/k along side with their default and validation operations. Hence:
1. We cannot default the component configs.
2. We cannot validate the component configs.
3. We should switch to using the versioned types.

1 & 3 are OK for me, but 2 is kind of controv

[2019-06-17 15:55] fiware-austria opened #1617 "After "successful" update from 1.13.3 -> 1.14.3 server still at version 1.13.3"
**This is a Bug Report**

**Problem:**

I strictly followed the upgrade procedure. The first attempt failed, since I apparently ran in a time-out while upgrading the api-server:

[code]
After this I started the upgrade again. This time I got the following error:

[code]

Tried again after this, but the api-server was already down:

[code]

Thus, what I did was restarting the `kubelet` using `sudo

[2019-06-17 16:05] zhiwen-kooboo opened #1618 "Show "Failed to request cluster info, will try again" when kubeadm join"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):

Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:36:19Z", GoVersion:"go1.12.5", Compiler:"

[2019-06-17 17:43] Ramane19 commented on #1292
I had this same issue after deleting the loop.

Can someone help me with this?

kubectl logs coredns-fb8b8dccf-j6mjl -n kube-system
Error from server (BadRequest): container "coredns" in pod "coredns-fb8b8dccf-j6mjl" is waiting to start: ContainerCreating
master@master:~$ sudo kubectl get pods --all-namespacesNAMESPACE NAME READY STATUS RESTARTS AGE
kube-system coredns-fb8b8dccf-j6mjl 0/1 Containe

[2019-06-17 17:55] chrisohaver commented on #1292
@Ramane19, your pods are stuck in "ContainerCreating", which is a different issue.

[2019-06-17 18:14] Laith-Alobaidy commented on #1153
So apparently there is no solution but reseting the cluster $(yes | kubeadm reset), which is not a solution in my opinion!

[2019-06-17 18:26] Ramane19 commented on #1292
Before it showing pending, after I deleted the loop it showed creating container?

Is there any other way i can resolve this issue?

[2019-06-17 18:39] joerocklin opened #1619 "kubeadm join does not apply taints"
## BUG REPORT

## Versions

**kubeadm version**: v1.12.9

**Environment**:
- **Kubernetes version**: v1.12.9
- **Cloud provider or hardware configuration**: AWS
- **OS**: Amazon Linux 2
- **Kernel**: 4.14.121-109.96.amzn2.x86_64

## What happened?

When trying to join a new worker node with taints using `kubeadm join` the taints were not applied.

## What you expected to happen?

The taints to be

[2019-06-17 18:44] chrisohaver commented on #1292
@Ramane19, Have you read https://github.com/coredns/coredns/tree/master/plugin/loop#troubleshooting

[2019-06-17 18:49] Ramane19 commented on #1292
I did, it talks about the looping issue, not the creation of the containers

[2019-06-17 18:51] chrisohaver commented on #1292
OK, then it seems to be unrelated to this issue - i.e. off topic.

[2019-06-17 19:42] neolit123 commented on #1600
We do have strict unmarhal warnings for the component configs, at least.
On Jun 17, 2019 18:08, "Rostislav M. Georgiev" <notifications@github.com>
wrote:

[2019-06-17 20:33] neolit123 commented on #1600
Feels to me defaulting should have been on the side of versioned types.
On Jun 17, 2019 22:42, "Lubomir I. Ivanov" <neolit123@gmail.com> wrote:

[2019-06-17 21:26] oaudry opened #1620 "advertise-address"
BUG REPORT

advertise-address is not applied when used with kubeadm init

## Versions

kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:41:54Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- kubectl version
Client Version

[2019-06-18 00:18] timothysc commented on #1619
/assign @fabriziopandini

[2019-06-18 00:56] oudream commented on #761
apt-get update && apt-get install -y apt-transport-https curl
curl -s https://packages.cloud.google.com/apt/doc/apt-key.gpg | apt-key add -
cat <<EOF >/etc/apt/sources.list.d/kubernetes.list
deb https://apt.kubernetes.io/ kubernetes-xenial main
EOF
apt-get update
# kubeadm init error The kubelet is not running
# install kubelet.service
apt-get install -y kubelet kubeadm kubectl
apt-mark hold kubel

[2019-06-18 00:56] oudream commented on #761
# Note: This dropin only works with kubeadm and kubelet v1.11+
[Service]
Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf"
Environment="KUBELET_CONFIG_ARGS=--config=/var/lib/kubelet/config.yaml"
# This is a file that "kubeadm init" and "kubeadm join" generates at runtime, populating the KUBELET_KUBEADM_ARGS

[2019-06-18 04:14] ChuckyThh commented on #1047
I have the same problem.
when I upgrading kubeadm clusters from v1.11 to v1.12 .
According to the course：
[https://v1-12.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-12/](url)
when I run `systemctl restart kubelet`，apiserver will be shutting down and I find same problem.
I try to change parameter `--endpoint-reconciler-type=none` but It doesn't work.
I don't why ...

[2019-06-18 06:12] fabriziopandini commented on #1619
@joerocklin Thanks for your detailed analysis on this issue.
Looking forward for your PR (it should target release-1.12 branch; if you need help feel free to contact me here or on slack)
/lifecycle active

[2019-06-18 09:49] joerocklin commented on #1619
@fabriziopandini PR Submitted here: https://github.com/kubernetes/kubernetes/pull/79107

[2019-06-18 11:05] luxas commented on #1588
Hi all, the community has voted, and the winner is option 2 :tada: :rocket:
The three top votes:
 - Option 2: 17.4% (67 votes)
 - Option 17: 12.4%
 - Option 9: 10.6%

![kubeadm-logos](https://user-images.githubusercontent.com/5442475/59677283-2451a180-91d2-11e9-958d-5a9fc4ab3ff5.png)

The total amount of votes during this week was 386, so I'd argue that we have critical mass.

[2019-06-18 11:07] luxas commented on #1588
@alexcontini Can you please send a PR to this repo with Option 2 files in a new folder called simply `logo`? Thank you again :clap:

[2019-06-18 11:20] neolit123 commented on #1617
thanks for the report.
this is odd and i have no immediate answer on why this is happening.

for reference here is our existing 13->14 upgrade test signal
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1.13-1.14
which is currently green.

[2019-06-18 11:35] neolit123 commented on #1618
this seems like a networking issue and not kubeadm's fault.
my explanation is that this worker does not have connectivity to the api server (172.19.138.68:6443)

[2019-06-18 11:37] neolit123 commented on #1620
please use:
[code]

from InitConfiguration:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2019-06-18 11:41] cailiangliang765 commented on #1618
I have a similar issue as you in #1611

[2019-06-18 13:00] yelongyu commented on #1438
Got the same issue on my external setup:

[code]

[2019-06-18 13:07] #1618 closed

[2019-06-18 13:21] neolit123 commented on #1618
@zhiwen-kooboo did you solve it?
please explain what the problem was.

[2019-06-18 13:21] yelongyu commented on #1587
Got the same issue:

[code]

[2019-06-18 14:50] zhiwen-kooboo commented on #1618
@neolit123  Yes, it is solved. Because my 2 cloud servers are not in an intranet, and the public network ips of these two are not written on the network card, they cannot be directly bound through the public network. I found a post that provides the following solutions, use "iptables", redirect the intranet ip to the master's external network ip：

[2019-06-19 08:49] AnneMarijke commented on #1477
I had the same issue. I needed to reboot the master and after that executing the 'kubeadm join ...' command again on the nodes worked for me.

[2019-06-19 14:36] yagonobre opened #1621 "Move Control Planes taint to kubelet config instead of markcontrolplane phase"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## What happened?
Due we apply the control plane taint after the control plane comes up, on a multi-control plane case we can have pod scheduled to this control plane.

## What you expected to happen?
Use the kubelet --register-with-taints config instead of handler it on a separate phase.

## How to reproduce it (as minimally and

[2019-06-19 15:16] neolit123 commented on #1621
i guess this can be a real problem. thanks for the report @yagonobre

does the kubelet allow self-taints with node roles such as  `node-role.kubernetes.io/master=:NoSchedule`?
(it certainly does not for labels https://github.com/kubernetes/kubernetes/issues/45361)

[2019-06-19 16:00] yagonobre commented on #1621
Yes, probably we can keep the phase to add the label

[2019-06-19 20:26] neolit123 opened #1622 "host a kubeadm meeting in a Chinese friendly time"
during the kubeadm 1.16 planning meeting of June 19th we discussed the potential of having a separate kubeadm office hours meeting in a Chinese friendly time. the idea is to host this meeting bi-weekly.

before we begin we need to discuss a couple of topics:
- who can sign up to host the meeting?
we have a couple of regular contributors from China at the moment: @dixudx @SataQiu
given @dixudx has

[2019-06-20 02:40] SataQiu commented on #1622
That's Great!
@dixudx In view of your experience, I propose that you chair the meeting! WDYT?

[2019-06-20 03:03] SataQiu commented on #1622
Google Docs alternative in China:
- https://shimo.im
- https://www.yuque.com

[2019-06-20 03:55] dixudx commented on #1622
Thanks for all your supports.

@kad  We could do a test in KubeCon China next week.

[2019-06-20 06:41] tovbinm commented on #1588
Nice looking logos! I would go with 17 or some modification of 18.

We also need one for TransmogrifAI library - https://github.com/salesforce/TransmogrifAI

@dankohn interested? :wink:

[2019-06-20 08:12] neolit123 commented on #1622
ok, guys. please go ahead and organize the meeting + sending the time and invites.
let us know of the outcome.

if this is a success we can continue doing it.
thank you!

[2019-06-20 09:14] dixudx commented on #1622
@neolit123 I will collect some feedbacks from Kubecon next week. And later send out a time and invitations.

@SataQiu Would you please have a try on the google doc alternatives and select a better one?

Thanks all.

[2019-06-20 09:19] SataQiu commented on #1622
@dixudx Yes, I'm glad to do this.

[2019-06-20 09:25] luxas commented on #1588
As reported above, this poll is now closed. It had been up for a week, got 380+ votes, and the announced result is Option 2.

Also see: https://kubernetes.io/blog/2019/06/19/kubernetes-1-15-release-announcement/

This does not belong to this thread.
Please handle this discussion (if applicable) in some other thread.

[2019-06-20 10:49] exiaohao opened #1624 "Error execution phase kubelet-start when join cluster"
**Problem:**
Can't add a new node to existed cluster.

I have a cluster running Kubernetes 1.14, when I add a new node by:
[code]
It returns
[code]

---
**Master Node:**
OS: Ubuntu 18.04 4.15.0-30-generic
kubeadm version: `kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.3", GitCommit:"5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0", GitTreeState:"clean", BuildDate:"2019-06-06T01:

[2019-06-20 11:11] neolit123 commented on #1624
this means you are trying to join a kubelet that is 1.15 to a cluster that only has the kubelet-config-1.14 config map.
this is currently unsupported and you need to join a 1.14 kubelet.
see this issues for more details:
https://github.com/kubernetes/kubeadm/issues/1582

we have plans to improve this in the 1.16 release.
thanks.

[2019-06-20 11:11] #1624 closed

[2019-06-20 11:12] neolit123 commented on #1624
if your problem is caused by something else please re-open the issue.

[2019-06-20 11:15] exiaohao commented on #1624
@neolit123 I've specified `kubeadm=1.14.3-00` but kubectl and kubelet has installed `1.15.0-00` because 1.15 is released today.

After get all kube related packages
[code]
I found that `kubectl` and `kubelet` has different minor version. after downgrade kubelet and kubectl to 1.14.3-00, everything is well

[2019-06-20 11:45] neolit123 commented on #1624
thanks for confirming.

[2019-06-20 12:03] luxas opened #1625 "kubeadm should allow specifying `--control-plane-endpoint`"
For the options that make sense, we should provide CLI flags. I argue that it makes sense to add a flag for `controlPlaneEndpoint` ASAP, to not have to force the user to create a config file just for running the automated HA flow. This will reduce the burden on first-time users significantly IMO.

I think we should consider backporting such a change to v1.15.1.
(I realized this when writing the v1

[2019-06-20 12:08] luxas opened #1626 "`kubeadm init phase upload-certs --upload-certs` is redundant"
The flag should not be required, but automatically set. After all, that's why the user runs the command ;)

@neolit123 @fabriziopandini

[2019-06-20 12:17] luxas opened #1627 "`kubeadm init` output refers to `--experimental-control-plane`"
See: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/util/join.go#L35

We should fix this in a follow-up, in v1.15.1 or similar

/kind bug

@neolit123 @fabriziopandini

[2019-06-20 13:26] dankohn commented on #1588
Please review https://github.com/cncf/landscape/pull/1283

[2019-06-20 14:02] neolit123 commented on #1626
there is a complication between  running individual phases and the whole
init
The is an issue for this already. Cant find it on the phone.
On Jun 20, 2019 15:08, "Lucas Käldström" <notifications@github.com> wrote:

[2019-06-20 14:22] timothysc commented on #1622
/assign @timothysc

Just let me know the time folks want and I can update the community deets.

[2019-06-21 00:38] afagund opened #1629 "Kubelet service wont start"
## Is this a BUG REPORT or FEATURE REQUEST?

Bug report

## Versions
**kubeadm version** (use `kubeadm version`):
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version*

[2019-06-21 02:27] pytimer commented on #1627
If no one works it, i can take.

[2019-06-21 02:33] dixudx commented on #1622
Sure. @timothysc

[2019-06-21 02:56] riverzhang commented on #1622
+1
That's Great! I also look forward to attending.

[2019-06-21 03:06] pytimer commented on #1622
+1
Awesome! Looking forward to attending.

[2019-06-21 03:30] pytimer opened #1630 "kubelet remove --allow-privileged flag in setup etcd cluster document"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
`Kubernetes v1.15.0`
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

[Set up a High Availability etcd clu

[2019-06-21 03:31] pytimer commented on #1629
@afagund You can try to remove the `--allow-privileged` in /etc/systemd/system/kubelet.service.d/20-etcd-service-manager.conf, because the Kubernetes v1.15.0 remove this flag. I remove this flag, kubelet is running.

[2019-06-21 03:34] afagund commented on #1629
I removed the flag and placed all parameters in a config file, however, I am seeing the following:

Jun 20 19:26:22 etcd1 systemd: Started kubelet: The Kubernetes Node Agent.
Jun 20 19:26:23 etcd1 systemd: Started Kubernetes systemd probe.
Jun 20 19:26:23 etcd1 kubelet: I0620 19:26:23.038340 15772 server.go:425] Version: v1.15.0
Jun 20 19:26:23 etcd1 kubelet: I0620 19:26:23.038558 15772 plugins.go

[2019-06-21 03:39] pytimer commented on #1629
You execute `systemctl daemon-reload` and restart kubelet, this problem still exists?

[2019-06-21 03:39] afagund commented on #1629
Yes, same issue.

[2019-06-21 03:46] pytimer commented on #1629
This is my kubelet systemd file:

[code]

[code]

You can compare your kubelet file.

[2019-06-21 03:47] afagund commented on #1629
Are you sure you are running kubernetes 1.15? Because its does not support the parameters you have specified for kubelet, they have been deprecated.

[2019-06-21 03:51] pytimer commented on #1629
Yes, i'm sure.

[code]

this paramters have been deprecated, but the `--allow-privileged` flag is removed, so kubelet can not started. You should remove this flag in your kubelet service.

I think maybe you not remove `--allow-privileged` flag, because your log also show this flag error.

[2019-06-21 07:43] SataQiu commented on #1630
Thanks for reporting this  @pytimer
Please change it at : https://github.com/kubernetes/website/edit/master/content/en/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm.md

[2019-06-21 08:26] pytimer commented on #1630
@SataQiu Thanks for your reply.

I submit a PR to fix it. If you have time, you can review it.

[2019-06-21 10:23] dixudx commented on #1627
/assign @SataQiu

[2019-06-21 12:36] moshloop opened #1631 "Kubeadm "init" via a Root CA"
/kind feature request

The new `--upload-certs` option is great for joining additional control plane nodes, but it doesn't solve the problem of securely distributing certificates for use cases like Cluster API.

I think this could be solved by turning the problem around, and rather than distributing certificates followed a typical CSR model.

1. CAPI generates a new root CA for a child cluster
2.

[2019-06-21 14:53] neolit123 commented on #1631
the problem needs a better definition. could you provide more detail?

what prevents CAPI to copy the root CA to the primary `kubeadm init` node, treat it as external CA (kubeadm supports that) and let the other CP nodes to join using `--certificate-key`?

this change in the in-tree controller might not make it in, or it might after 1-2 years of discussion.

/assign @detiber @vincepri
cc @fabrizio

[2019-06-21 15:02] chuckha opened #1632 "Modifying a multi-node control-plane can result in a control plane failing to join the cluster"
## Is this a BUG REPORT or FEATURE REQUEST?
/kind bug

kubeadm v1.14.2, but I believe this has been an issue for a while and continues to be so.

## What happened?
I had a 3 node stacked control plane, cp1, cp2, cp3
I created a new node and added it to the control plane., cp4
I removed etcd running on cp1 from the etcd cluster.
I removed cp1 as a kubernetes node. I deleted the backing infrastructu

[2019-06-21 15:15] neolit123 commented on #1626
already logged as:
https://github.com/kubernetes/kubeadm/issues/1442

[2019-06-21 15:15] #1626 closed

[2019-06-21 16:15] neolit123 commented on #1632
I created a new node and added it to the control plane., cp4
I removed etcd running on cp1 from the etcd cluster.
I removed cp1 as a kubernetes node. I deleted the backing infrastructure.

is removing the node done with `kubeadm reset`?
are you seeing ClusterStatus being correctly updated after that?
is it possibly to narrow this down with with less steps?

`join` here instead of `init`?

one of .

[2019-06-21 16:17] chuckha commented on #1632
This is not done with kubeadm reset. I was under the impression that was a developer tool and not for use in a production cluster, but perhaps what I'm trying to do isn't generally supported by kubernetes?

You are right, that was supposed to be join, I will update that. Thank you for catching it.

[2019-06-21 16:18] chuckha commented on #1632
I think it's possible to reproduce the behavior of clusterStatus not getting modified by removing any control plane without using kubeadm reset.

1. Create a control plane
2. Join a second control plane
3. Remove the control plane  (first remove the etcd member then remove the node)
4. Look at the clusterStatus

[2019-06-21 16:20] neolit123 commented on #1632
i think `kubeadm reset` is a must at this point because it has a phase that removes the entry from the ClusterStatus. 1.15 also broke reset into phases.

[2019-06-21 16:22] neolit123 commented on #1632
- could you please try with `kubeadm reset`?
- is something preventing you from doing that?

[2019-06-21 16:28] chuckha commented on #1632
1.15 looks *awesome*. I'm using 1.14, but I think kubeadm reset will work for me, I'll give it a shot and let you know! Y'all have made some amazing progress while I wasn't looking 😄

[2019-06-21 16:48] neolit123 commented on #1577
we are done here.

[2019-06-21 16:48] #1577 closed

[2019-06-21 16:58] neolit123 commented on #968
the ticket is out of date so i'm going to close it.

external etcd is already being tested. this is tracked in the HA to beta support ticket.
internal etcd is tested by default.

single master can be tested with the conformance suite but only in parallel mode. serial mode would fail. given this complication i would prefer if we don't have a test that has workloads on a single cp node.
let's open a

[2019-06-21 16:58] #968 closed

[2019-06-21 17:27] neolit123 opened #1633 "include e2e tests for (concurrently) joining CP nodes and removing them"
with HA to beta we lack e2e tests that exercises the following scenarios:
- [ ] concurrently join and or remove CP nodes
- [ ] make sure that `kubeadm reset` removes CP nodes from the `ClusterStatus` so that the same CP nodes can rejoin with the same endpoint

this requires kinder modifications that i can help with.
cc @fabriziopandini

[2019-06-21 17:45] chuckha commented on #1632
@neolit123 it doesn't seem like `kubeadm reset` is cleaning up ClusterStatus as of v1.14.1. I can read through the code real quick to see if I'm doing it wrong though

[2019-06-21 17:49] chuckha commented on #1632
ok, looks like it *should* be cleaning up cluster status, I'll keep playing.

Closing because from what I can tell, this *is* a supported workflow.

[2019-06-21 17:49] #1632 closed

[2019-06-21 17:53] neolit123 commented on #1588
this is complete now, thanks everyone.

[2019-06-21 17:53] #1588 closed

[2019-06-21 17:55] neolit123 commented on #1632
thanks for testing. let me know if you find a bug.

i logged this ticket to track having more HA e2e tests:
https://github.com/kubernetes/kubeadm/issues/1633

[2019-06-21 18:34] chuckha commented on #1632
a bug in my code. Works as expected. Thank you!

[2019-06-21 18:56] fabriziopandini commented on #1577
@neolit123 thanks for coordinating this effort

[2019-06-21 21:33] neolit123 commented on #1612
the IPV6 PRs merged in kind.
https://github.com/kubernetes-sigs/kind/pull/636
also for test signal:
https://github.com/kubernetes/test-infra/pull/13123

[2019-06-22 01:18] BenTheElder commented on #1612
been keeping an eye on the dual stack work for exactly this @neolit123 👀

[2019-06-22 01:53] pytimer commented on #1630
Now the PR merged, so i close this issue.
If something i missing, i will reopen it.

[2019-06-22 01:53] #1630 closed

[2019-06-22 12:56] neolit123 commented on #1617
we need to understand more about the first error:

- are you able to consistently reproduce it?
- was the api server healthy before the first upgrade attempt started?
- are you using a kubeadm config file? can you share it?

you'd need to look at etc/kuberentes/manifests/kube-apiserver.yaml
and double check the version of the api server image. a quick fix might be to simply bump the image version.

[2019-06-22 17:34] moshloop commented on #1631
Copying the certificates to the primary nodes is what CAPA/CAPV does currently, however, the method used to get the keys on the host is insecure (user-data) and starts creating other issues around user-data size limitations (https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/847#issuecomment-504101639)

This doesn't strictly need to be done in kubeadm, it could be implemented in a

[2019-06-22 18:03] neolit123 commented on #1631
it does seem like a problem that can be resolved higher up the stack.

[2019-06-24 03:36] wotmshuaisi commented on #1477
i had same issues with `kubeadm v1.15`, reboot master doesn't works for me

[2019-06-24 04:08] wotmshuaisi commented on #1477
fall back to kubelet & kubeadm v1.13.1 fixed this issues

[2019-06-24 04:45] mludvig commented on #584
So how do I do that on AWS?

I'm getting heps of these in `journalctl -xeu kubelet`:

    kubelet[25235]: E0624 16:42:31.041372   25235 kubelet.go:2244] node "ip-192-168-144-98.ap-southeast-2.compute.internal" not found

However it can be resolved, not sure why kubelet says it can't:

    [root@kube2 ~]# host ip-192-168-144-98.ap-southeast-2.compute.internal
    ip-192-168-144-98.ap-southeast-2.co

[2019-06-24 11:59] fiware-austria commented on #1617
I managed to find a "solution" to my problem!

Firstly I checked the log output an came across these lines:

[code]

Next I modified the relevant files by adding an additional label. After this I started the upgrade procedure again and it started to do some more things than before. Actually it seemed to hang at the exact same step (`Static pod: kube-apiserver-cupertino hash: fcabf....`) as during

[2019-06-24 13:30] neolit123 commented on #1477
make sure you call `kubeadm init/join` with e.g. `--v=2` to have more details on what's going on.

[2019-06-24 13:34] neolit123 commented on #1617
by "upgrade script" do you mean the steps that `kubeadm upgrade` executes, or is this a script that you use to upgrade all your kubeadm nodes in the cluster?

[2019-06-24 14:19] neolit123 commented on #584
you can try asking in the #sig-aws or #sig-cloud-provider channel on the k8s slack.
sig-aws will soon fold in sig-cloud-provider.

[2019-06-24 18:49] munai-das opened #1635 "Adding Kubelet Serving Certificate using serverTLSBootstrap: true"
## What keywords did you search in kubeadm issues before filing this one?

## Versions

**kubeadm version** (use `kubeadm version`): v1beta1

**Environment**:
- **Kubernetes version** (use `kubectl version`):  kubernetes 1.14.1
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-957.21.3.el7.x86_64
-

[2019-06-24 19:42] neolit123 commented on #1635
/triage support
/area security

hi, this doesn't look like a kubeadm problem, per se.
kubeadm already provides you with all the settings to use the RotateKubeletServerCertificate feature.

have you looked at the kubelet logs for any errors.

[2019-06-24 19:47] neolit123 commented on #1635
i think the CSR is not being issue because the certificate is still being self-signed:
https://godoc.org/k8s.io/kubelet/config/v1beta1#KubeletConfiguration

[code]

try passing those settings too.
i haven't played with `serverTLSBootstrap`.

[2019-06-24 20:44] luxas commented on #1627
This is not fixed yet, in v1.15. That change should be purely changing the line https://github.com/kubernetes/kubernetes/blob/release-1.15/cmd/kubeadm/app/cmd/util/join.go#L35, and nothing else. @SataQiu can you please fix that too, for the `release-1.15` branch?

[2019-06-24 20:45] luxas commented on #1625
@neolit123 I think we could maybe backport this to v1.15
cc @timothysc @fabriziopandini @SataQiu

[2019-06-24 20:48] munai-das commented on #1635
Thanks for the comment. I will check this.

[2019-06-24 20:48] neolit123 commented on #1625
we started to vote on backports as everybody has a different opinion most of the time.
e.g. Tim is mostly -1 on most things that are non-blocking.

[2019-06-25 06:03] fiware-austria commented on #1617
Yes

[2019-06-25 09:39] KptnKMan commented on #1128
I'm also trying to understand the same issue.
I checked the [documentation](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#options) and made this string that works for me:

`--ignore-preflight-errors='DirAvailable--etc-kubernetes-manifests,FileAvailable--etc-kubernetes-kubelet.conf,Port-10250,FileAvailable--etc-kubernetes-pki-ca.crt'`

[2019-06-25 13:45] SataQiu commented on #1627
@luxas Thank you for reminding me. I'm glad to fix it!

[2019-06-25 19:37] munai-das commented on #905
@seh I followed your steps in v1beta1 kubeadm for kubernetes 1.14.1
It fails with the error
```F0625 19:33:36.516452       1 server.go:463] failed complete: no kind "Config" is registered for version "v1" in scheme "k8s.io/kubernetes/pkg/proxy/apis/config/scheme/scheme.go:29"```

Did you encounter this issue?

[2019-06-25 21:46] BenTheElder commented on #1381
The `users[].name` key being identical in kubeconfigs for different clusters has been a bit of a thorn for kind, we'll probably just fix that ourselves but it would be much easier to work with multiple clusters if one of the following were true:
- this was configurable in some way
- it by default included the cluster name and/or was otherwise mangled to make it somewhat unique between clusters
- r

[2019-06-26 02:28] munai-das commented on #905
Found the issue. I was passing the kubeconfig instead of kube-proxy config to kube-proxy.
I will let it  be here for anyone doing the same mistake.

[2019-06-26 16:13] hectorj2f opened #1637 "Add a new property to the API Server 'ClusterConfiguration' to define the dns policy"
Choose one:  FEATURE REQUEST

In the past kubeadm set the dns policy to a specific type for the control plane pods. However that might not fit to all the scenarios or environments, so that change got reverted. In order to be able to still define that property value, we consider there should be a new flag and configuration property for `kubeadm` `ClusterConfiguration` to set the DNS policy for the

[2019-06-26 17:48] neolit123 commented on #1637
thanks for logging the issue, if you want this discussed live, please add it as an agenda item for the zoom  meeting.

we can technically expose a v1.Pod-like object per component and merge some of those settings that end up in the actual v1.Pod that we write in the manifests for static pods. this however also needs discussion.

[2019-06-26 18:11] neolit123 opened #1638 "resolve the cmd/kubeadm/app/util/system dependecy problems"
this is part of the kubeadm dep cleanup.
xref https://github.com/kubernetes/kubeadm/issues/1600

**item 1:** (RESOLVED)

PRs: https://github.com/kubernetes/kubernetes/pull/79449

in `app/util/system/docker_validator.go` we depend on the docker API and client to do some checks.

for kubeadm we don't really need to make this client call because we can use `docker info` instead.
if e2e_node are happy

[2019-06-26 18:12] neolit123 commented on #1638
i will send a PR for problem2 and ping sig-node for review.

[2019-06-26 18:14] neolit123 commented on #1638
cc @dims

[2019-06-26 18:51] timothysc commented on #1637
It's a little unusual to setup DNS policy as ClusterFirst, so I'm not crazy about plumbing this through the main types, however this would definitely fit under the kustomize umbrella for a given provider.

/assign @fabriziopandini

[2019-06-26 21:50] stealthybox commented on #1383
I believe the proper approach here is to create a tmpDir and configure etcd to use that

[2019-06-27 02:46] dkoshkin opened #1639 "Kubeadm reset with Calico and Containerd"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
Linux ip-10-0-192-121.us-west-2.compute.internal 3.10.0-957.1.3.el7.x86_64

[2019-06-27 08:09] cloudoutloud commented on #1153
Changing image repo worked for me, but this is not a great fix.
 --image-repository registry.aliyuncs.com/google_containers

[2019-06-27 08:40] hectorj2f commented on #1637
@timothysc The intention is to be able to set the dns policy to the API Server to `ClusterFirstWithHostNet` instead of `ClusterFirst`. Also, I remember reading that ClusterFirst is the default dns policy set to pods, if none was defined, as far as I know :).

I started a PR https://github.com/kubernetes/kubernetes/pull/79379 but @neolit123 told me that `v1beta1` and `v1beta2` types are locked.

I

[2019-06-27 09:03] RainbowMango commented on #1622
Great!

[2019-06-27 13:01] neolit123 commented on #1639
/assign @bart0sh
could you please take a look.

[2019-06-27 13:26] fabriziopandini commented on #1622
+1 if we can setup a time that works also for EU, I will be happy to attend and help communication across meetings/timezones

[2019-06-27 15:53] timothysc commented on #1639
/cc @vincepri @chuckha @detiber  - b/c it could affect CAPA.

[2019-06-27 18:30] dkoshkin opened #1640 "Kubeadm reset v1.15 crictl error"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:
[code]

## What happened?
Created a cluster with conta

[2019-06-27 20:16] qw1mb0 opened #1641 "service-account-token rotation on upgrade"
## Is this a request for help?
yes

## What keywords did you search in kubeadm issues before filing this one?
service-account-token, certificate, tls, expire, upgrade

## Versions

**kubeadm version** (use `kubeadm version`): 1.15.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.0
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu

[2019-06-27 21:20] dkoshkin commented on #1640
I also just noticed that when `kubeadm reset` is run, none of the etcd cleanup happens.
This leads to:
[code]
And the etcd member not being removed from the etcd cluster.

[2019-06-27 22:29] neolit123 commented on #1641
hi, i'm going to attempt to respond to your questions, but will ping some folks who have more knowledge than me to provide extra feedback if needed.

cc @alexbrand @mauilion

i'm not sure i understand this question exactly, but bearer tokens are signed by the service-account-controller with a `service-account-token` named service-account-controller-token-xxxxx.

if you don't pass the service accou

[2019-06-28 01:49] SataQiu commented on #1640
This issue has been fixed https://github.com/kubernetes/kubernetes/pull/79331

[2019-06-28 02:14] SataQiu commented on #1640
/assign

[2019-06-28 06:17] RainbowMango commented on #1600
I hope i can help with this.

@SataQiu @neolit123

[2019-06-28 07:12] qw1mb0 commented on #1641
I found a function that generates sa files: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/certs/certs.go#L67-L96
https://github.com/kubernetes/kubernetes/blob/master//cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L548:6

Apparently this is the usual RSA keys. Not related to rootCa, right?

It turns out that when a request from ServiceAccount goes to the API server, root

[2019-06-28 09:30] SataQiu commented on #1600
Welcome! @RainbowMango

[2019-06-28 12:30] neolit123 commented on #1641
yes, it's a private / public RSA key pair generated using the golang standard library -> sa.pub, sa.key.

we do not re-generate sa.pub, sa.key on upgrade. we also don't re-generate the CA.

[2019-06-28 12:35] qw1mb0 commented on #1641
thanks!

[2019-06-28 12:35] #1641 closed

[2019-06-28 17:21] dkoshkin commented on #1639
It would also be great to get the perspective from the Calico team /cc @caseydavenport

[2019-06-28 17:58] caseydavenport commented on #1639
Ah, looks to me like the Calico CNI plugin is trying to access the apiserver and failing. It does this as part of tearing down networking for pods.

This might be because the kube-proxy has been removed, and the iptables cleared out? That will cut anyone off trying to access the apiserver via the Service.

[2019-06-28 20:35] vkovelkar commented on #1153
my case its worked  with this

sed -i 's/cgroup-driver=systemd/cgroup-driver=cgroupfs/g' /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

[2019-06-29 01:20] dkoshkin commented on #1639
@caseydavenport right in this case its actually the api-server being stopped before other pods and the Calico CNI won't ever be able to get that CRD.

This behavior makes sense during normal execution when the del command comes from the Kubelet, but in this case when a user is trying to clean up a node with `kubeadm reset` (or using `crictl stopp`) it won't be possible to stop that pod.

Looking a

[2019-06-29 13:05] platy commented on #1609
I'm having this issue too. The troubleshooting section suggests 2 things that could be the problem :
- an issue between older docker versions and SELinux
- a DNS lookup loop which could be caused by having systemd-resolved on the host

I confirmed that I did have the systemd-resolved issue and fixed using the suggestion to add `resolvConf: /run/systemd/resolve/resolv.conf` to `/var/lib/kubelet/con

[2019-06-29 15:54] staticdev opened #1642 "Kubeadm init v1.15 etcd preflight error on Ubuntu"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.15.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.0
- **Cloud provider or hardware configuration**: On-prem
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.2 LTS
- **Kernel** (e.g. `uname -a`): 4.15.0-51-generic
- **Others**:

## What happened?

I've created a single node, deleted it and recre

[2019-06-30 03:25] SataQiu commented on #1642
Thanks for reporting it @staticdev
It is a bug of `kubeadm reset`.
It has been addressed by PR kubernetes/kubernetes#79331 kubernetes/kubernetes#79326

[2019-06-30 03:30] SataQiu commented on #1642
/assign

[2019-06-30 13:26] staticdev commented on #1642
@SataQiu what should I do for now? Skip preflight checks? Remove this etcd folder?

[2019-06-30 13:46] draveness commented on #1642
It would be fixed with 1.15.1 https://github.com/kubernetes/sig-release/blob/3a3c9f92ef484656f0cb4867f32491777d629952/releases/patch-releases.md#115

[2019-06-30 14:44] SataQiu commented on #1642
@staticdev
For now, you can try to manually remove this etcd folder before `kubeadm init`, it should work.

[2019-06-30 17:53] neolit123 commented on #1642
@staticdev
please re-open if 1.15.1 does not fix this for you (once it's out).

[2019-06-30 17:53] #1642 closed

[2019-07-01 13:09] #1640 closed

[2019-07-01 16:51] timothysc commented on #1220
IMO we should make this the default for 1.16 and update the deployment.

[2019-07-01 17:24] caseydavenport commented on #1639
I will think it through. At first glance, I'm worried that we'd be sacrificing the mainline case to cover for an exceptional one. But, there may be ways to safely remove that dependency.

What options do we have on the kubeadm side? Could we make sure the apiserver is the last resource to be destroyed?

[2019-07-02 01:38] atshakil commented on #1390
@x22n Your solution results in a verification error.

[code]

[2019-07-02 11:01] #1208 closed

[2019-07-02 11:27] dparalen commented on #1348
...I've just hit the same...
IMO the issue here is at least three-fold:
* the inability of `kubeadm` to configure custom API bind-address per each master node (service) instance which also has security implications; `0.0.0.0` is a reasonable _default_ bind address
* poor UX having to resort to post-process the generated API service configuration due to the previous shortcoming esp. considering HA

[2019-07-02 13:57] detiber commented on #1348
@dparalen if ControlPlaneEndpoint is not an external facility (DNS, virtual IP, load balancer), then how are you configuring the kubelets in the cluster to talk to the API server?

[2019-07-02 15:17] dparalen commented on #1348
@detiber in the context of this bug, I'd like to use the floating VIP, the address that HAProxy binds to, on any of the master nodes. That's why folks are working around the `0.0.0.0` being the default K8s API bind address.

[2019-07-02 15:22] detiber commented on #1348
@dparalen If you could specify a separate bind address per control plane instance, is there anything that would prevent you from using the floating VIP as the ControlPlaneEndpoint?

[2019-07-02 15:25] dparalen commented on #1348
@detiber I hope not, I'm still in the process of working around this in my env.

[2019-07-02 19:22] RotemEmergi opened #1645 "Recover a Self-hosted Kubeadm Kubernetes Cluster After Reboot -V1.15"
Hi ,

I am using -

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:40:16Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

I created a  self-hosted cluster that all the servers was shutdown after power outage and the cluster doesn't recover from that .

The

[2019-07-02 20:28] neolit123 commented on #1645
hello, i personally have not tried self-hosting at all.
self-hosting in kubeadm is deprecated and unsupported.

this it the only remaining docs we have on this subject:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/self-hosting/

this feature gate no longer exists.

the feature can be enabled by "pivoting" an existing cluster using the `kubeadm alpha selfhosting` command.
h

[2019-07-02 20:54] neolit123 commented on #1638
https://github.com/kubernetes/kubernetes/pull/79449 merged so this is fixed.

[2019-07-02 21:35] neolit123 commented on #683
added P0 prio as per the 1.16 planning.

[2019-07-03 00:24] neolit123 opened #1646 "implement support for concurrent join of etcd members"
this GIST was created with the purpose of testing concurrent join of stacked etcd members using `kubeadm join --control-plane` and tools like kind(er):
https://gist.github.com/neolit123/4ecd657175f17df0a8207e7ffb2c0ec4

running a lot experiments suggests that the concurrent join can flake with;
`error execution phase control-plane-join/etcd: error creating local etcd static pod manifest file: etcd

[2019-07-03 09:04] dparalen commented on #1348
@detiber actually, there's one more thing I'm facing in the context of this bug, the `port_6443` preflight check has been failing for me; having ignored the preflight check, the `netstat` is:
[code]

[2019-07-03 11:15] qw1mb0 opened #1647 "Multi master and private network"
## Is this a request for help?
Yes

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

## What keywords did you search in kubeadm issues before filing this one?
kubeadm private network, multi master specific network interface

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kuberne

[2019-07-03 11:21] randomvariable opened #1648 "Update CIS Benchmark tests for Kubelet ComponentConfig"
/kind feature

Part of #683

CIS Benchmark for Kubernetes currently has tests for kubelet checking environment variables and command line flags. These report false positives in test suites that apply the tests from the documentation as kubeadm uses ComponentConfig.

We need to supply to the next version of the documentation tests that satisfactorily pass on kubelet component configuration.

This c

[2019-07-03 11:22] randomvariable commented on #1648
/assign randomvariable

[2019-07-03 11:23] randomvariable commented on #1648
/priority critical-urgent
/milestone v1.16
/area security

[2019-07-03 11:49] randomvariable opened #1649 "Produce documentation for running a CIS compliant cluster with kubeadm"
/kind feature
/assign randomvariable
/priority critical-urgent
/milestone v1.16

Part of #683

Produce documentation on k8s.io for how to achieve CIS compliance with kubeadm

cc @liztio @neolit123

## Versions

**kubeadm version** (use `kubeadm version`): 1.16

[2019-07-03 11:50] randomvariable commented on #1649
/area security
/area documentation

[2019-07-03 11:51] randomvariable commented on #1649
/remove-kind feature
/kind documentation

[2019-07-03 11:54] randomvariable opened #1650 "e2e tests for CIS compliance on kubeadm"
Part of #683

/kind feature
/area security
/area testing
/milestone v1.16
/assign @yastij

Given updated tests in #1648, produce an e2e suite for CIS compliance that vendors can re-use for compliance.

[2019-07-03 11:57] randomvariable commented on #1379
This is also potentially part of #683 if CIS Docker Benchmarks are also considered.

[2019-07-03 12:17] randomvariable commented on #1648
/lifecycle active

[2019-07-03 12:45] neolit123 commented on #1105
moved to the 1.16 milestone as per @yastij  's comment.
i'm still not convinced basic auth support is something we want to add to kubeadm.

[2019-07-03 13:18] rhtyd commented on #1105
'We' the users would want simplicity of deployment and usage. If Google and partners have decided basic auth won't be supported then why move the milestone, just close the issue as won't fix.

[2019-07-03 13:22] neolit123 commented on #1105
`--anonymous-auth=true` is not exactly insecure, so if someone is setting `--anonymous-auth=false` they have to understand the implications.

[2019-07-03 13:39] RandyBetancourt opened #1651 "failure loading apiserver-etcd-client certificate: the certificate has expired"
## Is this a BUG REPORT or FEATURE REQUEST?
Bug

## Versions

**kubeadm version** (use `kubeadm version`):
&version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.5", GitCommit:"32ac1c9073b132b8ba18aa830f46b77dcceb0723", GitTreeState:"clean", BuildDate:"2018-06-21T11:34:22Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version

[2019-07-03 13:40] fabriziopandini commented on #1105
AFAIK joining a cluster with `--anonymous-auth=false` should already work in combination with file/HTTP discovery. If not, IMO this a regression and should be fixed

With regards to adding a new join discovery method that should prompt for the basic auth username/password, I'm -1 too because "_currently, the basic auth credentials last indefinitely, and the password cannot be changed without resta

[2019-07-03 13:46] rhtyd commented on #1105
Kindly discuss and close if basic auth is no longer going to be supported. I see in GKE that it notes that with v1.12+ it will be deprecated and no longer encouraged.

[2019-07-03 14:13] RandyBetancourt commented on #1651
Adding status from systemd for kubelet:
[code]

[2019-07-03 14:40] timothysc commented on #1645
This has been a known deficiency of self hosting for a long time and part of the reason this path was abandoned.

Closing due to support policy.

[2019-07-03 14:40] #1645 closed

[2019-07-03 14:42] neolit123 commented on #1651
/triage support

see https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-certs-renew

[2019-07-03 14:48] neolit123 commented on #1651
1.10 is not longer supported by the kubeadm team.

please note that you'd have to upgrade from 1.10->1.11->...1.14 and you cannot upgrade directly.
my recommendation is to just re-recreate the cluster at this point.

[2019-07-03 14:48] #1651 closed

[2019-07-03 14:50] #1625 closed

[2019-07-03 15:33] eskuai commented on #1464
i wanna upgrade all kubelet the following options
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serializeImagePulls: true
taintBasedEvictions=true
	  --image-pull-progress-deadline  5m0s   duration

how can i change and upgrade?
i cannot get nothing about   --image-pull-progress-deadline

[2019-07-03 16:11] neolit123 opened #1652 "remove kinder and potentially move it's features in kind"
investigate if we can one day remove kinder and have it's features under kind.

[2019-07-03 16:32] randomvariable commented on #1650
This ticket should be moved to to k/k

[2019-07-03 16:53] randomvariable commented on #1367
This will be needed to complete the work https://github.com/kubernetes/kubernetes/pull/79722

[2019-07-03 16:55] neolit123 commented on #1378
in today's kubeadm office hours we decided that kubeadm should not stomp the settings and we should allow the user configuration.
possibly add warnings if they are different from the defaults.

[2019-07-03 17:10] neolit123 commented on #1378
@bart0sh feel free to work on this if you have the bandwidth...
we finally settled that it's OK to allow user values...

[2019-07-03 17:56] neolit123 commented on #1647
kubeadm is supposed to use the filed ControlPlaneEndpoint in ClusterConfiguration which should be a load balancer in front of your API servers.

by hardcoding a bind address in the ClusterConfiguration you will get
[code]
on the secondary CP nodes, because they will try to bind to the same address as the already existing control plane node.

what value do you replace it to before joining the secon

[2019-07-04 04:19] SataQiu commented on #1647
If you want to specify the bind-address of the newly added control-plane node, you can try `kubeadm join --config <KUBEADM-CONFIG FILE>`. @qw1mb0

Maybe we should ignore the bind-address information in `kubeadm-config` ConfigMap for new joined control-plane node ? @neolit123
Like this :
[code]
What do you think about it?

[2019-07-04 04:19] SataQiu commented on #1647
/assign

[2019-07-04 04:36] graykode commented on #659
This is not recommend but, In https://github.com/cablespaghetti/kubeadm-aws/blob/master/worker.sh#L45 `--discovery-token-unsafe-skip-ca-verification` also work

[2019-07-04 05:19] songchuangyuan opened #1653 "How to update expired certificates in version 1.6.2 of kubeadm"
There are no commands to regenerate certificates, such as "kubeadm alpha phase certs".only this：
![image](https://user-images.githubusercontent.com/46445562/60641287-c40f6080-9e5d-11e9-8cd3-8b709656082d.png)
But make a mistake，like this：
[certificates] Generated CA certificate and key.
failure while creating API server key and certificate [unable to sign certificate [x509: cannot parse IP address

[2019-07-04 06:29] qw1mb0 commented on #1647
I replaced the addresses of the first master with the address of the second master

Do we have an example of a config for a join control plane?

This is a good idea.

[2019-07-04 06:51] dixudx commented on #1627
Got fixed in kubernetes/kubernetes#79369.

/close

[2019-07-04 06:51] #1627 closed

[2019-07-04 10:26] SataQiu commented on #1622
For Google Docs alternative in China, I personally prefer to https://shimo.im.
An example document (editable): https://shimo.im/docs/YcoaYlvRmIYcrwnd/
More Suggestions are welcome!

[2019-07-04 11:40] neolit123 commented on #1647
you still have to use a load-balancer.
please have a look here https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/

[2019-07-04 11:44] neolit123 commented on #1647
perhaps, but i don't think we should `delete`. commented on the PR.

[2019-07-04 12:30] rcythr opened #1654 "kubeadm and selinux"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:37:41Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version:

[2019-07-04 12:38] munai-das commented on #1635
The issue was --node-ip not getting added to two of the masters. As it is not possible to add via KubeletConfiguration, I added it using sed. Closing the issue.

[2019-07-04 12:38] #1635 closed

[2019-07-04 12:44] #1646 closed

[2019-07-04 13:02] rcythr commented on #1654
Looking at the kube-apiserver.yaml manifest, I'm now wondering if this solution is fully generalizable given that the kube-apiserver also mounts the **/etc/ssl/certs** and **/etc/pki** directories.

[2019-07-04 13:08] chrischdi opened #1655 "kubeadm join fails configuring taints with empty value"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `v1.15.0`

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.14.3
- **Cloud provider or hardware configuration**: Openstack
- **OS** (e.g. from /etc/os-release): `Container Linux by CoreOS 2023.5.0 (Rhyolite)`
- **Kernel** (e.g. `uname -a`): `Linux os1pi014-kube-master01 4.19.25-coreos #1 SMP Sat Mar 9 01:

[2019-07-04 13:38] neolit123 commented on #1655
@chrischdi
what is your kubelet version?

the parsing on the kubelet 1.15 side:
https://github.com/kubernetes/kubernetes/blob/release-1.15/pkg/util/taints/taints.go#L38-L81
(cc @dlipovetsky )

for the 1.14 kubelet:
https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/util/taints/taints.go#L39-L63

if you pass this:
`--register-with-taint=node.kubernetes.io/not-ready:NoExecute`

it should

[2019-07-04 13:40] rosti commented on #1654
Thank you very much @rcythr !
That's a very important discovery! I'll be glad to review a PR for SELinux enablement.

/priority important-longterm
/area security

[2019-07-04 13:42] chrischdi commented on #1655
Hi neolit123: right, I'm using v1.14.3 kubelet. So it's just not backward compatible I guess?
:+1:

[2019-07-04 13:43] chrischdi commented on #1655
I think I could workaround by passing `register-with-taint` as `kubeletExtraArgs`

[2019-07-04 13:47] neolit123 commented on #1655
yes, the `key:effect` parsing support was introduced in kubelet 1.15.
but your kubelet version has to be equal or older compared to the control-plane components.

yes.

[2019-07-04 13:49] neolit123 commented on #1655
/remove priority-important-longterm

[2019-07-04 13:49] neolit123 commented on #1655
/remove-priority important-longterm

[2019-07-04 13:54] neolit123 commented on #1654
possibly.

i think i'm seeing us documenting this in our Kubeadm Troubleshooting guide instead of enabling this from kubeadm WRT to directory manipulation using `chcon`.

cc @detiber

[2019-07-04 14:00] chrischdi commented on #1655
Ok, I got it :-)

Sure, I'm setting up a whole v1.14.3 cluster but am using v1.15 kubeadm, because we've got clusters we want first lift (from `v1.13`) to `v1.14`.

So regarding this bug: should I close this issue or is it maybe wanted to check this in preflight that there are no taints set via `nodeRegistration.taints` when using kubelets < `v1.15` (If I'm right the kubelet version get's also che

[2019-07-04 14:01] neolit123 commented on #1654
kubeadm requires root and not sure we should set SELinux labels without the consent of the user.
what is the standard practice in the ecosystem?

[2019-07-04 14:17] rcythr commented on #1654
In my case at least the **/var/lib/etcd** and **/etc/kubernetes/pki/** directories were created by kubeadm, so kubeadm can set whatever context is required to make it _work_ with the processes that need to read the directories. That said,  **/etc/ssl/certs** or **/etc/pki** are more problematic as we definitely should not relabel those.

In this case the kube-apiserver and etcd processes created a

[2019-07-04 14:19] neolit123 commented on #1655
let's keep this issue open for visibility and take action if there are more reports.

[2019-07-04 15:05] rcythr commented on #1654
So rather than stop at the 4 command workaround above, but I'd really like to run this all the way to ground. In order to do that, I need to figure out what files/directories are needed by each component, and whether it's read/write or read only access. The manifests don't specify, but I suspect that write is not required for most.

Here is what I was able to gather so far, someone please correct

[2019-07-04 15:22] sabour commented on #1642
you have to delete /var/lib/etcd

[2019-07-04 15:27] neolit123 commented on #1654
this is one is created by the kubelet and is should be RW for it.
the kubelet also has a number of other paths that the user can configure:
[code]

one problem is that the each component allows some many different paths for certs, logs and so on. the user can pick custom paths from the kubeadm config and selinux might block it.

also we have long term plans to make etc/kubernetes configurable from

[2019-07-04 16:03] rcythr commented on #1654
Understood. Given the amount of configurability the ideal change, if any, would need to be very flexible about all the paths.

I'm less concerned about the kubelet right now because the kubelet runs as **unconfined_t** which is why it works fine without any additional pain and suffering. The other services are running inside containers so they are given **container_t** which is a lot more restrict

[2019-07-04 16:27] neolit123 commented on #1653
hi. i'm sorry but 1.6 is not supported for a long time.
you can try stackoverflow or reddit for support on this problem.

/close

[2019-07-04 16:27] #1653 closed

[2019-07-04 16:52] neolit123 commented on #1654
closing in favor of https://github.com/kubernetes/kubeadm/issues/279
which is a much older issue. let's continue the discussion there.

[2019-07-04 16:52] #1654 closed

[2019-07-04 16:53] neolit123 commented on #279
@rcythr made some recent discoveries WRT to selinux support here:
https://github.com/kubernetes/kubeadm/issues/1654

we are leaning towards documenting ways of how to enable selinux in our setup docs.

[2019-07-04 17:24] staticdev commented on #1642
@sabour Deleting is the workaround to go. I will try 1.15.1 ASAP @neolit123 .

[2019-07-04 21:59] rcythr commented on #279
**Brief summary of the problem:**

On selinux systems all files and processes are marked with an selinux label, and policies are installed to determine which label types can interact with one another. Docker and other runtimes which support selinux invoke their containers with a context like **system_u:system_r:container_t:s0:..**. There are certain rules about what a container_t process can do, a

[2019-07-04 22:09] neolit123 commented on #279
thanks for the detailed investigation @rcythr

it's still much better than turning off selinux for the node completely.
this solution allows us to allow the control-plane and etcd to deploy with selinux not interfering with their operation, however what about user workloads?

i guess we'd still need to document the `securityContext` additions.

@detiber @rosti PTAL.

[2019-07-04 22:18] rcythr commented on #279
User workloads will get the usual type **system_u:system_r:container_t:s0:...**.

The most notable gotcha I'm aware of right now is that in my experience some of the pod network plugins will fall flat on their face the moment they try to start with selinux enabled. I have a similar issue open with calico to resolve this problem (in a rather brute force way that doesn't reduce security, but works f

[2019-07-04 22:42] neolit123 commented on #279
CNI plugins failing can be a problem. the most popular ones we got from a survey were Flannel, Calico, Weave and the rest of the results were quite spread.

have you tried weave or flannel with selinux?

but in any case, we have to document the selinux case for both user workloads and CNI.

going back to the proposal for the kubeadm manifests.
i forgot to mention that we have plans to run these co

[2019-07-04 22:59] rcythr commented on #279
No, but I will give it a try and see whether it works or not.

Agreed. A warning about what might happen if it's left in enforcing is certainly helpful. Users who want to keep it in enforcing probably won't care if some userspace applications fail -- this is most likely the same group that will require non-root containers (myself included). CNI is more problematic, but I suspect most CNI plugins w

[2019-07-04 23:06] neolit123 commented on #279
ok, thanks. that's good to know.

[2019-07-05 03:53] rcythr commented on #279
Here's the patch I cooked up so far. Seems to generate the right manifests.  https://github.com/rcythr/kubernetes/commit/fb6c0248488af2b3a54ceb638e29db84ae0530bf

I'll create a PR once I've tested a couple other things and I've signed the CLA -- I currently have a support ticket in with CNCF due to a mail issue.

The three things I'm currently wanting to test:
1. I want to look into incorporating

[2019-07-05 07:48] randomvariable commented on #279
Thanks for taking this on @rcythr .

Could be wrong, but I don't think I've had issues with CNIs once they've had the privileged flag on.

Just as a dump of stuff I've had to do at least for Fedora 28, so maybe these are now incorporated into container-selinux:

## Create the following modules:

### Allows Cilium and Weave Scope to work
[code]

### Allow containers to load certificates
[code]

[2019-07-05 08:46] rosti commented on #279
The thing, that I am concerned the most is the testing situation here. Currently we have no way to automatically perform a smoke test of SELinux support with kubeadm and k8s as a whole. kind/kinder base their node images on ubuntu 19.04. This, of course, does not have SELinux enabled in it by default.
We need to have an ability to spin up a testing cluster with kinder on a Fedora/CentOS base node

[2019-07-05 09:59] odeng888 opened #1656 "run kubeadm join phase control-plane-prepare all No response"
[root@dev-node2 data]# kubeadm join phase control-plane-prepare all 192.168.1.51:6443 --discovery-token abcdef.0123456789abcdef --token 6cd86e.621e41898f4050da --discovery-token-ca-cert-hash sha256:ab2224355ec9bcee4aa7400b912bf0ffe8c09c095bb3e562d4df9b92ff21e0f1  --node-name dev-node2
[root@dev-node2 data]#

what happen?
No output

[2019-07-05 10:04] stgleb commented on #1656
What output do you expect from this step? AFAIK this step creates yaml files for control plane components.

[2019-07-05 10:07] odeng888 commented on #1656
I want to add a new control node
 apiserver  etcd...

[2019-07-05 10:07] randomvariable commented on #279
100% agreed.

I'm tempted to say we hold off until CentOS 8 goes GA so we have a consistent baseline wrt to the kernel version across distros.

[2019-07-05 10:08] stgleb commented on #1656
In that case you don't have to run single phase, to add new node you just run

[code]

[2019-07-05 10:13] odeng888 commented on #1656
Error: accepts at most 1 arg(s), received 2
Usage:
  kubeadm join [api-server-endpoint] [flags]
  kubeadm join [command]

Available Commands:
  phase       Use this command to invoke single phase of the join workflow

Flags:
      --apiserver-advertise-address string            If the node should host a new control plane instance, the IP address the API Server will advertise it's listening on. If

[2019-07-05 10:17] odeng888 commented on #1656
One more all parameter
I'll try again.

[2019-07-05 10:23] stgleb commented on #1656
Sorry, I did not remove `all` subcommand
that must work for kubeadm 1.15

[code]

[2019-07-05 10:24] neolit123 commented on #279
if selinux is something that **strictly** requires e2e tests, we cannot support it today.

problem is that the ecosystem has some many distros and flavors that we cannot test them all.
if we don't want to maintain code for selinux in kubeadm, we can still have a guide in our setup with a disclaimer "may not work" and this was my initial proposal.

[2019-07-05 11:38] randomvariable commented on #279
If we sort out #1179, this would take us a long way towards enabling users who want to have a stricter SELinux setup.

I will gather instructions on how you can do SELinux in an unsupported fashion today - either as a blogpost or a doc that can go on docs.k8s.io.

Additionally, @TheFoxAtWork did raise SELinux at CNCF SIG Security this week, so wondering if there's broader interest in getting this

[2019-07-05 11:43] stgleb commented on #1656
@odeng888 don't hesitate to ping me if it doesn't work for you

[2019-07-05 11:49] randomvariable commented on #279
One thing that helps here is that the container-selinux package is shared across all of the distros, so maybe ok to add only one. Suggestion is to add CentOS 8 because it'll be on Linux 4.18, which is slightly ahead of Ubuntu 18.04 but not massive enough to start exhibiting other bugs. Amazon Linux 2 is also an option if we're testing on it elsewhere.

[2019-07-05 12:50] neolit123 commented on #279
i guess my point was more about the fact that selinux is not something that is really supported on Ubuntu and AppArmor is the alternative for it.

https://security.stackexchange.com/a/141716

this is the distro flavor mess that i don't want to get kubeadm into.

the kubeadm survey told us that 65% of our users Ubuntu, so technically we should be prioritizing apparmor. has anyone tried kubeadm with

[2019-07-05 13:08] terrywang commented on #581
A k8s cluster created using `kubeadm` v1.9.x experienced the same issue (`apiserver-kubelet-client.crt` expired on 2 July) at the age of `v1.14.1` lol

I had to refer to 4 different sources to renew the certificates, regenerate the configuration files and bring the simple 3 node cluster back.

@danroliver gave very good and structured instructions, very close to the below guide from IBM.
[Renewing

[2019-07-05 13:12] randomvariable commented on #279
AppArmor is much more lightweight than SELinux and has a different security model. It's pretty much on by default these days for Docker on Ubuntu.

[2019-07-05 13:25] neolit123 commented on #581
in 1.15 we have added better documentation for certificate renewal:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

also, after 1.15 `kubeadm upgrade` automatically will renewal the certificates for you!

versions older than 1.13 are already unsupported.
we strongly encourage the users to keep up with this fast moving project.

currently there are discussions going on b

[2019-07-05 13:27] rcythr commented on #279
I definitely understand the desire to not get into the mess of distros and options -- it's a combinatorial explosion of test configurations. Personally, I believe if kubeadm was at least _compatible_ with selinux it would have a larger share of non-ubuntu users, but I have no proof of that beyond the fact I'm one of those people. However, If the only distro/cri combination that's tested is ubuntu

[2019-07-05 13:39] neolit123 commented on #279
@randomvariable

actually, i *think* it's already running in the prow/kubekins image.

@rcythr

currently we are testing containerd and docker on Ubuntu.

we need help with the selinux details. we already tell "CentOS, RHEL or Fedora" users to disable selinux completely:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/install-kubeadm.md#

[2019-07-05 14:11] randomvariable commented on #279
Filed https://github.com/containerd/cri/issues/1195 to log the fact that there's still work to be done to complete SELinux support in ContainerD.

[2019-07-06 11:51] yann-soubeyrand commented on #279
Not using system directories or creating custom types for components needing access to these system directories would allow us to further tighten the various components and avoid using spc_t type completely. This is clearly the best solution IMHO.

[2019-07-06 12:11] rcythr commented on #279
I agree. That's why I wanted to test it out and get it working.

Based on feedback from @neolit123, however, I doubt we'll see built-in changes to the code to automatically handle selinux compatibility anytime soon. Instead I'm going to make a doc page that describes how to use kubeadm on systems with selinux. It'll be a few steps longer than the usual kubeadm init process, but it should help anyo

[2019-07-06 23:51] yhfudev commented on #1162
I met similar problem. The coredns crashloop and also caused dashboard crashloop. It works after I set the network to flannel, and all of the PC hostname in /etc/hosts.

I have 3 PCs and I configured all three PCs as both master and node. One PC is behind my home gateway, another two behind corp firewall. All three PC are connected within a VPN. If the default network setting were used by kubespra

[2019-07-07 21:52] smekkley commented on #1283
I'm not convinced that it is a good idea. Kubeadm is free to remove from the default but saying it's deprecated gives a totally a wrong impression.
Listening to only localhost for http is one of the valid use case.

[2019-07-08 02:35] odeng888 commented on #1656
[root@dev-node5 data]# kubeadm join --control-plane 192.168.1.51:6443 --token 6cd86e.621e41898f4050da --discovery-token-ca-cert-hash sha256:ab2224355ec9bcee4aa7400b912bf0ffe8c09c095bb3e562d4df9b92ff21e0f1 --node-name dev-node5
[preflight] Running pre-flight checks
[preflight] Reading configuration from the cluster...
[preflight] FYI: You can look at this config file with 'kubectl -n kube-system ge

[2019-07-08 04:36] RA489 commented on #1656
@odeng888 could you please provide the environment on which you executed these commands.

[2019-07-08 09:54] ykfq commented on #581
Greate, works for kube version 1.13.6

[2019-07-08 14:48] dixudx commented on #1622
The feedbacks that I've collected are that quite a few people show their interests in this bi-weekly meeting. The preferred time slot is 8pm-8:30pm in China Standard Time.

Well, it is still open for any suggestions. Don't be hesitate to get involved in.

[2019-07-08 14:52] neolit123 commented on #1622
@dixudx if you have you have found a good time and week day for the meeting just poke the sig-chairs to get hosting credentials.

[2019-07-08 15:01] dixudx commented on #1622
Sure. Will do that.

[2019-07-08 19:46] #1565 closed

[2019-07-08 20:02] wernerb commented on #1105
Is it an option to sovle the the auth with client certificates? You can even issue new ones that have a short expiry date to get a role to access the cluster info configmap.

[2019-07-08 20:41] neolit123 commented on #1105
we had a talk about `--anonymous-auth=false` during the kubeadm office hours meeting last week
VOD/timestamp is here: https://youtu.be/XNOQS8JByxM?t=1840

and we realized that it's pretty much unsupported and even if we add basic auth your cluster will start failing liveness probe checks. it's a design problem in k8s, see:
https://github.com/kubernetes/kubeadm/issues/798#issuecomment-470579937

so

[2019-07-08 20:41] #1105 closed

[2019-07-09 00:07] funkypenguin commented on #1635
@munai-das I'm trying to do the same thing - can you share your changes to kapprovers?

[2019-07-09 07:08] munai-das commented on #1635
I have internally refactored the kapprovers piece. I will ask the concerned person in the office and open source it.

[2019-07-09 07:10] rhtyd commented on #1105
I personally don't think that the default `--anonymous-auth=true` is secure. People host/use kubernetes cluster on publicly hosted cloud providers, many of such k8s apiservers are accessible over the public IP by default. The default allows anyone with the knowledge of the public IP address of such a k8s cluster to find the version and other details that I may not want to expose, at the same time

[2019-07-09 07:41] chrischdi commented on #1378
Hi,
we also have interest in implementing this. Our use-case is regarding the `externalkubeletcfg.Authorization.Mode` parameter.

We configure `authorization-mode: "Node,Webhook,RBAC"` as apiserver extra arg.
Kubeadm enforces `Node,RBAC,Webhook` instead in the pod-manifest

**Use case:**
We are using OPA and the policy-controller (now gatekeeper) as webhook here to block additional requests which

[2019-07-09 09:09] funkypenguin commented on #1635
Thanks, but I sorted it with https://github.com/kontena/kubelet-rubber-stamp
 ;)

Cheers!
D

On 9 July 2019 at 19:08:38, Munai Das Udasin (notifications@github.com)
wrote:

I have internally refactored the kapprovers piece. I will ask the concerned
person in the office and open source it.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://gith

[2019-07-09 10:48] NeilW opened #1657 "DNS service runs entirely on a single node"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
$ kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:37:41Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`

[2019-07-09 10:50] NeilW commented on #1657
I've looked at the other tickets on this and the problems with anti-affinity and the like, and I'd suggest that perhaps something as simple as kubeadm looking at the pod list on critical services after a join and kicking a pod out if it sees them all on the same node would do the trick.

[2019-07-09 11:04] NeilW commented on #1657
`kubectl -n kube-system rollout restart deployment coredns` seems to do the trick

[2019-07-09 11:46] lukaszgryglicki commented on #1031
Sorry, I cannot help, I don't have ARM64 nodes anymore, now I have a 4 node AMD64 bare-metal cluster.

[2019-07-09 12:08] neolit123 commented on #1378
@chrischdi hi, if you are willing to work on this please go ahead.

a single PR can be scoped in the following way:
- create an utility function that accepts a parameter name/location (e.g. authorization-mode) and prints a warning (using klog.Warningf) in the lines of:

- COMPONENT-NAME can be kube-apiserver, kubelet, etc.
- possibly place this function under /utils.
- don't override user values f

[2019-07-09 12:21] neolit123 commented on #1602
someone shared this operator:
https://github.com/kubernetes/kubeadm/issues/1635#issuecomment-509559813

[2019-07-09 12:35] neolit123 commented on #1105
@rhtyd

if you wish to have a public discussion about this with the owners of this area, you can log a ticket in kubernetes/kubernetes and tag it with `/sig auth`. SIG Auth will get to it after they do their triage.

yes, technically they will be able to find the server version and exploit a vulnerability in it.
then again, your server can be behind a firewall that accepts traffic only from truste

[2019-07-09 15:24] neolit123 commented on #1657
i just tested this with a couple of scenarios using k8s 1.16.0-alpha (i don't think anything related changed between 1.15 and this version):

A) on a cluster with 3 CP / 3 worker nodes:

the coredns pods got deployed on different workers.
force removing one of the worker nodes resulted in a coredns pod being created on another worker immediately.

B) on a cluster with a 3 CP nodes without workers:

[2019-07-09 16:49] NeilW commented on #1657
I bring up the master first, then adding worker nodes, then adding master CP replicas. The CoreDNS replicas get scheduled on the initial master as it is being configured.

I'm pulling down the brightbox cloud-controller and running that deployment prior to joining the worker nodes, so it's possible that --cloud-provider=external is interfering given the delay in the worker nodes being marked as re

[2019-07-09 17:08] neolit123 commented on #1657
@kubernetes/sig-cluster-lifecycle

technically if you just have the single primary CP for a while, both coredns pods will just land on it.
i'm not aware of a k8s mechanic that will allow, say, one of the coredns pods to auto-move to another node once more nodes are up. maybe some clever play with taints/tolerations can be done.

you can technically just remove those pods and the replication contro

[2019-07-09 17:23] NeilW commented on #1657
The DNS service remains up, but it fails to work

[code]

[2019-07-09 17:32] neolit123 commented on #1657
are the coredns pods reporting errors?

i don't see how this relates to:

[2019-07-09 18:08] NeilW commented on #1657
When the control plane node with both coredns pods on it goes down, the coredns service is rendered unusable until the other two control plane nodes decide to terminate the pods and restart the deployment - seemingly after the pod eviction timeout expires.

If one of the pods is reallocated away from the control plane node (I'm using the rollout restart as above), then of course the coredns servic

[2019-07-09 19:19] neolit123 commented on #1657
are you sure this command is working before the primary CP node is removed?

locally i cannot get the same command to work on a brand new cluster. see:
https://github.com/kubernetes/kubernetes/issues/66924#issuecomment-411804435

busybox is known to use the "wrong" DNS system library.

[2019-07-09 19:34] neolit123 commented on #1657
nope, cannot reproduce this.

- created a single CP node cluster
- coredns pods are scheduled on primary CP node
- add more CP and worker nodes
- deleted primary CP node
- coredns pods land on workers
- dns resolve continues to work

[code]

note: `debian-stretch` needs `dnsutils`

[2019-07-09 23:49] johnharris85 opened #1658 "Support upgrading an external, static-pod etcd cluster using `kubeadm upgrade`"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

Kubeadm currently supports upgrading Kubernetes clusters with either local (stacked) or external etcd clusters. In the latter case, kubeadm detects that etcd is external and the onus is on the operator to pre-upgrade etcd. In the former case, kubeadm exercises specific etcd upgrade logic (involving the backup of etcd data, a

[2019-07-10 01:23] asymness commented on #1390
I solved this problem by forwarding the private IP of the master node to the public IP of the master node on the worker node. Specifically, this was the command that I ran on worker node before running `kubeadm join`:
`sudo iptables -t nat -A OUTPUT -d <Private IP of master node> -j DNAT --to-destination <Public IP of master node>`

[2019-07-10 02:52] NeilW commented on #1657
The command is working. Before and after is as follows

[code]

[2019-07-10 03:02] NeilW commented on #1657
If your setup is rescheduling coredns instantly, then that's the difference.
After I kill the node (ie simulate a hard crash on the master node running the coredns pods) I get

[code]
for several minutes.

So this is some sort of re-scheduling issue.

Is the setup you are running zone aware from the cloud provider labels (beta.kubernetes.io/instance-type, failure-domain.beta.kubernetes.io/region,

[2019-07-10 06:48] NeilW commented on #1657
The kube-controller that takes over once a node is killed logs the following

[code]
This fits with the tolerations on the core-dns pods

[code]

So I'm now not sure why your core-dns pods are being evicted.

[2019-07-10 08:58] qpehedm commented on #279
Hi, just wanted to comment that we have been running with selinux enabled for almost a year together with kubeadm and kubernetes+docker+calico on Centos7. Most workloads has no issues, had some issues with concourse only that i can recall.

However we would like to do better enforcement though at some point, currently we run with
'chcon -Rt container_file_t' on below directories and make sure they

[2019-07-10 10:03] yastij commented on #1657
@NeilW - my guess is that pods are evicted due to `tolerationSeconds: 300`

[2019-07-10 12:16] randomvariable commented on #279
@qpehedm If you could apply a JSONPatch to the static pod manifests, and also make sure kubeadm runs `restorecon` for each file/directory it writes, would that be sufficient to allow you to set stricter confinement?

[2019-07-10 12:33] neolit123 commented on #1657
indeed.

it's a local cluster running the nodes as docker containers (see /kinder in this repo).

[2019-07-10 12:49] yastij commented on #1638
@sig-node-proposals

[2019-07-10 12:51] yastij commented on #1638
@kubernetes/sig-node-proposals - this is blocking #1600 thoughts on moving this under a new repo `k8s.io/system-validators`

[2019-07-10 15:07] neolit123 commented on #1367
the usage of `hostPath` for root owned paths is creating a complication with this feature request.

here is a dump of the kubeadm static pods.
it shows all the paths we currently mount by default.

- we need to examine these paths and see what is owned by kubeadm.
- existing user mounts can potentially break if the users expect root.
- upgrades from root -> non-root Pods have to be tested.

[code]

[2019-07-10 15:47] neolit123 commented on #1658
hi, external etcd upgrades are out of scope for kubeadm, because there are a number of ways to provision them. some use kubelet + static pods, some use systemd, some don't even use an init system.

there is currently a tool in the works called http://github.com/kubernetes-sigs/etcdadm and it per node etcd upgrades in scope. but to my knowledge even etcdadm will not cover all possibilities.

one da

[2019-07-10 15:54] johnharris85 commented on #1658
Thanks @neolit123, broadly upgrading external etcd being out of scope makes sense for sure, but in this case where it's kubeadm that been used to stand up the etcd cluster as static pods, it should be able to upgrade it also. I chatted briefly with the etcdadm folks on Monday but right now that tool doesn't support etcd as static pods. I have opened an issue on that [over there](https://github.com

[2019-07-10 15:58] neolit123 commented on #1658
this might be possible once `kubeadm upgrade apply` phases are supported.
https://github.com/kubernetes/kubeadm/issues/1318

we might have to tolerate this as a trade off until etcdadm/kubeadm-upgrade-apply-phases are ready.

[2019-07-10 18:11] manulqwerty opened #1659 "Pods can't resolve using CoreDNS"
## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
`Debian 9 VM (4 GB RAM - 4 Cores)`
- **OS** (e.g. from /etc/os-release):
`Debian GNU/Linux 9 (stretch)`
- **Kernel** (e.g. `uname -a`):
`Linux kmaster 4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u3 (2019-06-16) x86_

[2019-07-10 18:59] neolit123 commented on #1659
also, what distros are Casandra and busybox based on?

see
https://github.com/kubernetes/kubeadm/issues/1657#issuecomment-509772693
yesterday i tried playing with a busybox Pod to `nslookup` a domain and i noticed that it simply doesn't work, while a the DNS resolve from Pod with a debian stretch based container worked fine.

please try something like that and report back.

cc @chrisohaver @rajans

[2019-07-10 19:06] chrisohaver commented on #1659
Busybox's nslookup doesn't use the search domains defined in `/etc/resolv.conf`.
AFAIK, all versions of busybox after 1.28 are affected.

[2019-07-10 19:30] chrisohaver commented on #1659
Please enable logging in CoreDNS, so we can see what queries are reaching it, and what they look like (e.g. what the cassandra queries look like).
From the naming of the Cassandra pods, the look like they are a stateful set.  Which means to be able to access them via a DNS name, you'll need to expose them via a headless service that targets the pods in the stateful set.  Each member of the statefu

[2019-07-10 22:07] manulqwerty commented on #1659
Thank you for replying.
- Enable login in CoreDNS: `kubectl -n kube-system edit configmap coredns`
## Cassandra Cluster
I've found a cassandra cluster with the next yamsl and it seems to work. I don't know why the busybox doesn't resolve the DNS.
### Create a Cassandra Headless Service
`kubectl create -f cassandra-service.yaml`
[code]
`kubectl create -f local-volumes.yaml`
[code]
`kubectl create -

[2019-07-10 22:08] #1659 closed

[2019-07-10 22:37] neolit123 opened #1661 "kinder: create test jobs for node add and removal"
as discussed with @fabriziopandini we should add jobs that test changing cluster topology
e.g. single CP -> HA and removing CP nodes.

[2019-07-11 00:32] neolit123 commented on #1657
very odd because someone just confirmed that busybox does not work for them at all.
https://github.com/kubernetes/kubeadm/issues/1659

did you try a different image (not busybox) just as a sanity check for the before and after?

[2019-07-11 03:17] leakingtapan opened #1662 "kubeadm doesn't fallback to client version when there is 502 Bad Gateway"
**What happened**:
I was using kubeadm to generate cluster ca:

[code]

The CA generation failed because of 502 bad gateway returned and the response body isn't empty when it's trying to fetch stable version from internet. In this case, the `KubernetesReleaseVersion` function returns error instead of falling back to local client version:

[code]

[here](https://github.com/kubernetes/kubernetes/blo

[2019-07-11 03:48] RainbowMango commented on #1662
/assign

[2019-07-11 07:24] NeilW commented on #1657
Running

[code]

before crashing the master node gives

[code]

and after you get

[code]

If you run the `rollout restart` then it goes back to normal.

Remember that I'm crashing the master node here, not deleting it. It remains in the node list and goes to 'Not Ready'.

[2019-07-11 08:02] hyahm commented on #1662
how to solve this issue

[2019-07-11 08:13] RainbowMango commented on #1662
@hyahm
These two issues sound very similar, and yet, they are not the same. There is a subtle difference.

Your problem is the connection cannot be set up then fall back to the client version, it is the expected behavior I think.

[2019-07-11 08:23] hyahm commented on #1662
in china ,  i can't open this url

[2019-07-11 09:25] fabriziopandini commented on #1661
when https://github.com/kubernetes/kubeadm/pull/1660 this should become much more easy to achieve with kinder

[2019-07-11 09:31] RainbowMango commented on #1662
I can't figure out how serious for a user who can only use the local version.

Just a guess, your problem seems certificate file missing from "/etc/kubernetes/pki/apiserver.crt".
How about trying this command.
`kubeadm init phase certs ca --cert-dir /etc/kubernetes/pki/apiserver.crt`

[2019-07-11 10:00] fabriziopandini commented on #1318
Rif https://github.com/kubernetes/kubeadm/issues/1658, we should ensure that kubeadm-upgrade phases should allow atomic upgrade of etcd

[2019-07-11 10:46] fabriziopandini commented on #1658
@johnharris85
AFAIK, for SCL the target solution for etcd management (including upgrades) should be etcdadmin, not kubeadm. So:
- I gave +1 to https://github.com/kubernetes-sigs/etcdadm/issues/117 (thanks for opening this issue @johnharris85); I will try to sync to the etcdadmin team as well
- I updated https://github.com/kubernetes/kubeadm/issues/1318 to take track of the "allow atomic upgrade of

[2019-07-11 15:13] qpehedm commented on #279
@randomvariable Yes to add securitycontext with the spc_t for the k8s static pods as suggested is likely better than our current solution. I suppose the same needs to be done for CNI plugins or other infrastructure containers. Even better would be dedicated labels for this purpose, so that they only get permissions for the specific files needed?

[2019-07-11 17:36] neolit123 commented on #1662
thanks for moving the issue @leakingtapan

[2019-07-11 17:49] neolit123 commented on #1657
what exact method are using to crash the node?
i just "shut down" the node and then did a `kubectl delete no`, right after.

actually does `kubectl delete no` affect the situation in your case?

[2019-07-11 18:15] NeilW commented on #1657
I don't delete the node. I'm testing resilience in the face of a failure zone crash and subsequent recovery.

If you redeploy the core-dns service after workers have been added into the cluster there is no interruption when the node is crashed, as the standard zone aware anti-affinity process moves them to two separate nodes.

The way we build clusters with kubeadm (by joining in new nodes to an i

[2019-07-11 18:27] chuckha opened #1663 "Not all api types have a json struct tag"
All api types should have a json struct tag, but BootstrapTokenString does not define any for the fields `ID` and `Secret`.

## Versions
All versions with BootstrapTokenString

I would like to embed the InitConfiguration type into a CRD and use controller-gen v0.2 on that CRD. However, there is a new hard requirement (the requirement has always existed, but it is now an error) that every struct fi

[2019-07-11 20:19] neolit123 opened #1664 "recommend using CNAME DNS with controlPlaneEndpoint"
our guide for single CP should recommend using CNAME DNS with controlPlaneEndpoint instead of advertise address.

this greatly simplifies the use case from moving from single CP to HA.

[2019-07-11 20:33] dashpole commented on #1638
/cc

[2019-07-12 02:53] neolit123 commented on #964
given we cannot move BoostrapTokenString in 1.16 (v1beta3 will come in 1.17), moving to the 1.17 milestone.

[2019-07-12 02:56] neolit123 commented on #1663
we need to fix this in beta3, possibly by also moving BTS to cluster-bootstrap. :(

[2019-07-12 03:03] neolit123 commented on #1071
this seems to be done. upgrade phases for "apply" has a separate ticket.
please reopen if needed.

[2019-07-12 03:03] #1071 closed

[2019-07-12 03:06] neolit123 commented on #1581
@fabriziopandini
this issue can be reused for the 1.16 "change the cluster" / reconf ideas.

[2019-07-12 03:11] neolit123 commented on #1619
the PR merged.

[2019-07-12 03:11] #1619 closed

[2019-07-12 12:17] randomvariable opened #1665 "caCertsExtraVolumePaths should point to the correct distro paths"
/kind bug
/area security
/sig cluster-lifecycle

## Versions

**kubeadm version** (use `kubeadm version`): 1.15

## What happened?

In https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/volumes.go#L42, caCertsExtraVolumePaths is an array of common system CA certificate paths. However, for RHEL/Fedora-based systems, the definition of `/etc/pki` is a higher leve

[2019-07-12 12:20] randomvariable commented on #1665
/good-first-issue
/help-wanted

[2019-07-12 12:44] neolit123 commented on #1665
@randomvariable how should we solve this problem.
handling distro specific is not preferred.

[2019-07-12 13:32] randomvariable commented on #1665
More can of worms:
All the distros support `/etc/ssl/certs`, but in most cases, they're symlinks to elsewhere.

So far we have:

OpenSUSE derivatives (OpenSUSE): `/var/lib/ca-certificates/pem`
Debian derivatives (Ubuntu) : `/etc/ssl/certs`
Fedora derivatives (RHEL, CentOS, Oracle, Amazon): /etc/pki/ca-trust/extracted/pem/`
Arch derivatives: `/etc/ca-certificates/extracted/cadir/`
Gentoo: `/etc/ssl

[2019-07-12 13:43] randomvariable commented on #1665
Additionally, all of these distros do have `/etc/ssl/certs`. it's just that they're symlinked in different ways, sometimes multiply so.

For Fedora derivatives, for example, `/etc/ssl/certs` will resolve to `/etc/pki/tls/certs`. This will have a concatenated bundle of certs, but this is being symlinked from `/etc/pki/ca-trust/extracted/pem/`. I think we'll need to have these stored in the array, p

[2019-07-12 17:13] jayunit100 commented on #107
Im running with `Enforcing` and having no issues with flannel, FYI.  Im wondering if specific SELinux configurations break it and others dont?  Not an SELinux expert btw.

[2019-07-12 21:23] zgfh opened #1666 "how to get all config like kubectl explain"
how to get all config of kubeadm like kubectl explain xxx?
becase `kubeadm config print init-defaults` not print all config any more

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
1.15.0
**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.0
- **Cloud provider or hardware configuration**:
- **OS** (e.g. fr

[2019-07-12 23:33] neolit123 commented on #1666
this command just prints the defaults.
to see all possible options you need to visit godocs:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

/triage support
cc @rosti

[2019-07-13 08:54] kadalarasan opened #1667 "Failed create pod sandbox: rpc error: code = Unknown desc = [failed to set up sandbox container"
I have configured k8s Cluster one master and two Worker Nodes.
My Master and Nodes are in ready state. But when i try to create new Pod, its unable to complete and getting below error.

[root@master01 ~]# kubectl get no
NAME       STATUS     ROLES    AGE     VERSION
master01   Ready      master   3h13m   v1.15.0
node01     Ready      <none>   3h3m    v1.15.0
node02     NotReady   <none>   178m

[2019-07-13 19:29] ereslibre opened #1668 "combine the "kubeadm upgrade apply/node" commands"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## What happened?

`kubeadm upgrade` UX got simplified in the `1.15` release after https://github.com/kubernetes/kubernetes/pull/78408 merged. Right now, the upgrade UX looks like:

* Run `kubeadm upgrade apply` on the first control plane of the cluster
  * Either pass the new version as a positional argument (e.g. `v1.15.0`)
  * Pass a

[2019-07-13 19:29] ereslibre commented on #1668
/assign

[2019-07-14 04:16] zgfh commented on #1666
thanks to reply, I think add a `kubeadm config print init-defaults -a` or `kubeadm explain InitConfiguration` will more easy to use and  edit

[2019-07-14 13:20] Nurlan199206 commented on #1300
@Halytskyi Thank you etcdctl section helped for me.....

[2019-07-14 19:53] ereslibre commented on #1668
As an aside, I think it's worth noting that the way we are upgrading HA clusters is not safe according to the skew policy. Please, point out if I'm missing something, but in an HA cluster, assuming 3 control plane nodes, after one control plane upgraded:

- CP0: control plane components: `1.15.0`, kubelet: `1.15.0`
- CP1: control plane components: `1.14.1`, kubelet: `1.14.1`
- CP2: control plane c

[2019-07-14 20:21] neolit123 commented on #1666
the kubeadm binary does not compile information on the API types.
i think we just need to link from our command line flag descriptions to godocs in some places and users will be just able to open the URL.

[2019-07-15 07:45] fabriziopandini commented on #1668
@ereslibre

If I got this right, this change introduces only a different semantic for upgrading all the nodes after the first, but the difference between the first and the following still remain.
Is that right? in this case, what are the expected benefits

Originally kubelet on control plane-nodes was talking only on the local api server, and in this case we are safe. I should check if it is still

[2019-07-15 09:40] fabriziopandini opened #1669 "Kubeadm bazel build does not respect hack/print-workspace-status.sh anymore"
## Is this a BUG REPORT or FEATURE REQUEST?
/kind bug

## Versions
onmaster

## What happened?
I'm trying to compile kubeadm on master, and the kubeadm binary does not get the version as usual but instead gots a wrong GitVersion:"v0.0.0-master+$Format:%h$"
[code]

## What you expected to happen?
kubeadm get the expected version, consistent with hack/print-workspace-status.sh

## How to reproduce i

[2019-07-15 09:50] SataQiu commented on #1669
Thanks @fabriziopandini
`make all WHAT=cmd/kubeadm` can work well.
I'll see if `bazel build //cmd/kubeadm` can work.

[2019-07-15 11:10] zbindenren commented on #1601
How about the following structure:

[code]

[2019-07-15 17:13] hickeng opened #1670 "Failure to find certificate authority in kubectl generated config due to relative path"
## What keywords did you search in kubeadm issues before filing this one?
relative path
pki/ca.crt no such file or directory
kubeconfig

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**:
[code]

**Environment**:
- **Kubernetes version**:
[code]
- **Cloud provider or hardware configuration**: `n/a`
- **OS**: `VMware Photon OS 3.0`
- **Kernel**: `4.19.52-2.ph3

[2019-07-15 17:25] kfox1111 commented on #1471
I just upgraded a cluster through 1.13.x and 1.14.4. Worked ok. I then tried to upgrade to 1.15.0 and it failed:
[root@evan3 ~]# kubeadm upgrade plan
[upgrade/config] Making sure the configuration is correct:
[upgrade/config] Reading configuration from the cluster...
[upgrade/config] FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -oyaml'
[preflight] Runnin

[2019-07-15 17:29] kfox1111 commented on #1471
Should I just update all references to 127.0.0.1 to the external address in /etc/kubernetes/manifests/etcd.yaml or is there more to it?

[2019-07-15 17:54] neolit123 commented on #1471
try patching it manually. this should not have happened as we had a special case to handle the etcd upgrade not being localhost.

[2019-07-15 23:20] neolit123 commented on #1670
hi,

the cert authority resulting in a relative path such as:

is not a kubeadm problem and a problem in client-go/kubectl:

one option is to re-open https://github.com/kubernetes/kubernetes/issues/75552 using `/reopen` and request documentation using `/kind documentation`. i'm not sure of the best location for this.

on the kubeadm side:
- could you briefly explain the use case of modifying `cert

[2019-07-16 03:25] mdaniel commented on #591
I can [reproduce this at will](https://gist.github.com/mdaniel/7cc6bff4863153112a508a9ee7fe0d8c) with `kubeadm` v1.15.0 by including `serverTLSBootstrap: true` in the config file passed into `kubeadm init`; does that make it a `kubeadm` bug or it should be reported against `kubelet`?

As best I can tell, there is some kind of race condition that is causing `kubelet`(?) to make two CSRs within what

[2019-07-16 08:48] RainbowMango commented on #1665
Do you mean there is a risk of read-write conflict between those daemons and container, in scenario of mount `/etc/pki` to containers?

[2019-07-16 09:39] #1663 closed

[2019-07-16 10:55] #1669 closed

[2019-07-16 14:14] wernerb commented on #1105
@neolit123 I'm pretty sure I tested the filebased discovery but still got the same error with anonymous=false.

[2019-07-16 14:19] neolit123 commented on #1105
as commented above `--anonymous-auth=false` is unsupported by kubeadm.

[2019-07-16 16:14] neolit123 commented on #1668
discussed this with @fabriziopandini and i will send PR to update the HA upgrade docs.
/kind documentation
/priority important-longterm
/assign

[2019-07-16 18:37] rmb938 opened #1672 "Create a PodDisruptionBudget for CoreDNS"
## What keywords did you search in kubeadm issues before filing this one?

coredns disruption budget

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Currently when a kubeadm cluster is created there is no PodDisruptionBudget created for CoreDNS. If multiple nodes are drained at the same time this may cause a DNS outage before the CoreDNS pods are restarted.

A PodDisruptionBudget co

[2019-07-16 20:20] neolit123 commented on #1668
1.15 doc updated with this PR:
https://github.com/kubernetes/website/pull/15452

[2019-07-16 20:40] neolit123 commented on #1668
@ereslibre
thank you for bringing the upgrade order problem up!

with the current upgrade docs (without my PR above), a newer kubelet in the cluster can technically reach an api-server that is older, but i do not believe this will cause a catastrophic failure unless they are on the same node(?).

i read a recent discussion somewhere that while this is the case, in theory a kubelet can be X+1 compa

[2019-07-16 20:53] neolit123 commented on #1672
with the current tollerations, the coredns pods will prefer the worker nodes, but can still schedule on a control-plane node if no other nodes are available.

were you able to see a case were the above does not work and coredns pods do not schedule at all after worker drain?

to me PDB and PSP fall under the same bucket of higher level customization that i'm really hesitant about enabling by defau

[2019-07-16 23:13] rmb938 commented on #1672
So it's more along the lines of if I have a CoreDNS deployment of 2 pods and I drain the 2 nodes they are on at the same time. Without a PDB they might be killed at the same time and cluster dns may be broken in the half second or so it will take to start on another node.

If we want this to be under the bucket of higher level customization I am perfectly fine with that as well.

[2019-07-17 08:02] smaillns opened #1674 "Recreate the cluster after reseting it"
I have executed `kubeadm reset` on the master node, I've got this error while trying to recreate the cluster

[preflight] If you know what you are doing, you can make a check non-fatal with `--ignore-preflight-errors=...`

I tried to delete the config file in `$HOME/.kube/config` but still having the same error

NB: I don't want to use `--ignore-preflight-errors=All` in order to avoid possible pro

[2019-07-17 08:30] SataQiu commented on #1670
[code]
It works well!

[code]

[2019-07-17 08:49] SataQiu commented on #1674
Thanks @smaillns
It is a bug! And it has been fixed by kubernetes/kubernetes#79331
Ref: #1642

[2019-07-17 09:31] smaillns commented on #1674
How can I remove all kubeadm configuration files including token list ?

[2019-07-17 14:11] neolit123 commented on #1670
@hickeng i'm going to close this issue as it's not a kubeadm bug.
but we can continue the discussion.

[2019-07-17 14:11] #1670 closed

[2019-07-17 14:39] sysrich opened #1675 "Improve customisation of kubeadm pause container"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.1", GitCommit:"b7394102d6ef778017f2ca4046abbaa23b88c290", GitTreeState:"clean", BuildDate:"2019-04-23T12:00:00Z", GoVersion:"go1.12.6", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versi

[2019-07-17 16:07] zgfh commented on #1666
thanks to reply
should I make a PR to add a link in the long message of `kubeadm config print`, make it easy find out ?

[2019-07-17 17:29] neolit123 commented on #1666
i'm a tentative +1 but let's get more votes.
@fabriziopandini @rosti ?

[2019-07-17 21:45] neolit123 commented on #1675
hm, what version does it have? is it a custom build or possibly based on https://github.com/kubernetes/kubernetes/tree/master/build/pause but with modifications?
why not use the k8s pause:3.1?

kubeadm expects the pause container that the Kubernetes project maintains, you just have the alternative to host it in a repository of your choice.

that's actually a very viable solution, because as mentio

[2019-07-18 01:59] SataQiu commented on #1674
Remove the etcd folder (`/var/lib/etcd`) before run `kubeadm init`

[2019-07-18 14:13] sysrich commented on #1675
@neolit123 thanks for the explanations and clarifications :) based on what we've now learned, we're actually going to be producing 'not fake' version 3.1'd versioned pause containers

Somewhere along the line we'd introduced our own versioning thinking we were using different sources than the pause.c from gh/k8s/k8s..but on analysis we're more aligned with upstream than we thought..and that's just

[2019-07-18 14:13] #1675 closed

[2019-07-18 15:55] neolit123 commented on #1675
no problem. thanks for confirming!

[2019-07-18 23:32] neolit123 commented on #1674
closing as fixed for 1.15.x in kubernetes/kubernetes#79331
please feel free to continue the discussion.

+1.

[2019-07-18 23:32] #1674 closed

[2019-07-19 06:14] jfbai opened #1676 "Support customize object metadata in ClusterConfiguration"
## What keywords did you search in kubeadm issues before filing this one?

ObjectMeta, annotation, label

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## In Details

Currently, kubeadm does not support add customized labels or annotations into control-plane components ( I don't know if it is by design not to support such a feature). It would be better to add object metadata in the

[2019-07-19 14:26] neolit123 commented on #1676
hi, we are already working on this:
see https://github.com/kubernetes/kubeadm/issues/1379

closing in favor of that ticket.

[2019-07-19 14:26] #1676 closed

[2019-07-19 15:06] dolphyvn commented on #1463
I having same issue when setup cluster with kubeadm (1.15.0 )
One cluster works, other not. Using same network configuration, same ansible playbook.
On the cluster where coredns crash due to can not connect to 10.96.0.1. Ican curl https://10.96.0.1 if I stand on the node or pods that run with hostnetwork mode ( like calico pods )

[2019-07-19 21:25] #1662 closed

[2019-07-19 22:46] vorburger opened #1677 "kubeadm on Fedora 30 with containerd and flannel is (surprisingly badly) broken"
kubeadm on Fedora 30 with containerd and Flannel doesn't work, and is (surprisingly badly) broken.

I've done some investigation, and found at least two separate major issues:

1. Pointing to https://bugzilla.redhat.com/show_bug.cgi?id=1731597 re. /opt/cni/bin VS /usr/libexec/cni/bridge disprecancy in Fedora's containerd and containernetworking-plugins packages.

2. Pointing to https://github.com/

[2019-07-20 00:49] williamstein commented on #581
Just a comment and feature request:   This cert expiration hit us in production on our Kubernetes 1.11.x cluster this morning.   We tried everything above (and to links), but hit numerous errors, gave up after a few hours getting completely stuck with a large hosed cluster.   Fortunately, we were about 2 weeks away from upgrading to Kubernetes 1.15 (and building a new cluster) so we ended up just

[2019-07-20 01:41] neolit123 commented on #581
Sorry for your troubles. Normally it is the responsibility of the operator
to monitor the certs on disk for expiration. But i do agree that the lack
of easy monitoring can cause trouble. That is one of the reasons we added a
command to check cert expiration in kubeadm. See
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

Also please note that after 1.15 kubeadm will auto

[2019-07-20 04:43] williamstein commented on #581
@neolit123 Thanks; we will add something to our own monitoring infrastructure to periodically check for  upcoming cert issues, as explained in your comment.

[2019-07-20 05:28] dkoshkin commented on #1639
Ok so some more info:
Deleting the `kube-apiserver` last did not always work. When resetting control-plane nodes in an HA setup, etcd will lose quorum and the api-server will stop responding on whatever the last control-plane node is leaving, some pods behind.
Deleting all workload pods first, then the api-servers, then the etcd seems to be properly cleaning up the pods more consistently.

Please

[2019-07-20 05:37] jfbai commented on #1379
Is there any design proposal or PR for this feature request?

[2019-07-20 13:40] Noobgam commented on #1390
Thanks a lot, solved issue for me. But keep in mind that you'll also have to forward worker private ips the same way on the master node to make everything work correctly (if they suffer from the same issue of being covered by cloud provider NAT)

[2019-07-20 19:16] staticdev commented on #1642
@SataQiu @neolit123 the problem does not occur in 1.15.1 =)

[2019-07-20 21:54] aojea commented on #1612
/cc

[2019-07-21 06:27] RainingSince opened #1678 "kubeadm join fail with preflight running pre-filght checks"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-07-21 06:30] RainingSince commented on #1678
journalctl --unit=kubelet -n 100 --no-pager

failed to load kubelet config file

[2019-07-21 12:57] rcythr opened #1679 "Only create manifest files if they do not already exist"
FEATURE REQUEST

Currently the **certs** and **kubeconfig** phases will skip creation of files if they already exist, preserving user changes; however, **control-plane** and **etcd** phases always recreate the manifest files.

This creates problems for my workflow because I'm currently manually patching the generated manifests in order to fix the securityContext for selinux. I can skip the preflig

[2019-07-21 13:10] rcythr commented on #1679
This was a pretty quick change to make, I did it on my fork here (https://github.com/rcythr/kubernetes/compare/master...rcythr:dont_clobber_manifests)

If the maintainers like this change I'll open a PR for it.

[2019-07-22 02:39] SataQiu commented on #1678
Thanks @RainingSince
Can you provide more details? So that we can locate the problem.
/priority awaiting-more-evidence

[2019-07-22 03:00] SataQiu commented on #1679
/lifecycle active

[2019-07-22 03:40] neolit123 commented on #1679
+1

[2019-07-22 03:45] neolit123 commented on #1679
just like to point out that calling the manifest/etcd phase, patching manifests and then calling init by skipping these phases is still a valid workflow. but consistency of skipping already present files SGTM.

[2019-07-22 07:38] fabriziopandini commented on #1379
initial design proposal. https://docs.google.com/document/d/1SfZlCabOtu8BIzP_Q5sd5s8BhC75L8Wvz7aL-ce1Jhw/edit?usp=sharing
NB. this will be transformed in a KEP PR on k/enhancements in one or two days

[2019-07-22 07:40] fabriziopandini commented on #1679
I'm not sure this is the right way to proceed, or at least I need to better understand how this will impact on upgrades (see comments on the PR)
Instead, IMO, we should proceed with https://github.com/kubernetes/kubeadm/issues/1379 for providing better support around user changes on manifests

[2019-07-22 08:06] fabriziopandini commented on #1666
I'm +1. thanks @zgfh

[2019-07-22 12:22] rcythr commented on #1679
@fabriziopandini #1379 would be great! I agree it's a more strategic way to solve this problem.

Perhaps instead of preventing the recreation of manifests we should simply back them up? This would still be inconsistent with the other phases, but would be consistent with how the upgrade process handles the manifests.

[2019-07-22 12:33] fabriziopandini opened #1681 "Define upgrade path for ComponentConfig"
kubeadm allow usage of component config for defining settings for kubelet and kube-proxy; component configs are stored in ConfigMaps and reused when joining nodes or doing upgrades.

However, as of today kubeadm does not yet define a procedure for upgrading component configs in the case such API change format e.g. change from `kube-proxy/config/v1alpha1` to `kube-proxy/config/v1alpha2`.

As an ini

[2019-07-22 12:36] dolphyvn commented on #1264
I did the same. But still not solved. The odds things is I have two clusters with same configuration. Same ansible-playbook with kubeadm to spin up the cluster, but one works, one doesn't

[2019-07-22 12:44] fabriziopandini commented on #1677
@vorburger thanks for this issue.
Are you installing official kubernetes-cni package? as far as I understand the root of your problems is the CNI stuffs are not getting installed in the right place...

[2019-07-22 12:55] fabriziopandini commented on #1592
This was implemented with https://github.com/kubernetes/kubeadm/pull/1660
/close

[2019-07-22 12:55] #1592 closed

[2019-07-22 12:57] fabriziopandini commented on #1668
focusing back on UX, after fix for the upgrade workflow

If I got this right, this change introduces only a different semantic for upgrading all the nodes after the first, but the difference between the first and the following still remain.
Is that right? in this case, what are the expected benefits @ereslibre?

[2019-07-22 12:59] fabriziopandini commented on #1661
As for kubeadm office hour discussion, we should consider also if to add E2E tests for joining nodes using a discovery file instead of tokens

[2019-07-22 13:26] songjiyang commented on #1153
I hava the same issue. I use `kubeadm init --config=init-config.yaml` and failed,  this file generated by kubeadm. there is a field advertiseAddress default is 1.2.3.4 in file , which make etcd contianer start fail. when I change to 127.0.0.1,  etcd contianer start successfully and kubeadm init success

  to solve this problem,  use `docker ps -a` list all container check if some of them exited,

[2019-07-22 14:32] jackadam1981 commented on #1677
[ERROR SystemVerification]: unsupported kernel release: 5.0.9-301.fc30.x86_64

[root@localhost ~]# kubeadm init
I0722 22:30:54.123100    1286 version.go:94] could not fetch a Kubernetes versio                                                                                                                                                             n from the internet: unable to get URL "https://dl.

[2019-07-22 14:53] zgfh commented on #1666
PR: https://github.com/kubernetes/kubernetes/pull/80433

[2019-07-22 15:15] fabriziopandini opened #1682 "Allow usage of KubeletConfiguration next to JoinConfiguration on kubeadm join"
as per @neolit123  [comment](https://github.com/kubernetes/enhancements/pull/1159#discussion_r305806740)

last time i checked we weren't.

related to this KEP:
https://github.com/kubernetes/enhancements/pull/1439

---------
1.25 tracking of kubeadm patch support for kubeletconfiguration:

- [x] KEP update
https://github.com/kubernetes/enhancements/pull/3312
- [x] k/k code PRs:
https://github.com/k

[2019-07-22 15:16] fabriziopandini commented on #1682
the tricky part here is how to preserve node-specific settings during upgrades...

[2019-07-22 15:58] rosti commented on #1682
Allowing for customization on a per-node basis - yes, allowing for a replacement - probably no.
Component configs are shared on a per-cluster basis and are stored in config maps.
Allowing for them to be patched with node-local settings is a must have, but allowing for their total replacement is probably not desired.

[2019-07-22 16:09] fabriziopandini commented on #1682
I'm +1 to merge this with the "Advanced configurations with kubeadm (Kustomize)" effort (customization on a per-node basis)

[2019-07-22 21:51] ereslibre commented on #1668
The idea is to improve user upgrade UX by reducing the upgrade to the same command on every node. The flow would look like:

1. User runs `kubeadm upgrade apply vX.Y` on the first control plane
2. User runs `kubeadm upgrade apply (v.X.Y) [optional]` on the rest of control planes and on workers

The idea is that if we want to go down that route, on the first step we could perform several extra chec

[2019-07-23 06:58] RainingSince commented on #1678
Thanks @SataQiu I've found problems in my configuration，He's working now.

[2019-07-23 06:58] #1678 closed

[2019-07-23 11:32] #1666 closed

[2019-07-23 11:48] neolit123 commented on #1677
this was fixed in 1.14:
https://github.com/kubernetes/kubernetes/commit/148b222d97e1ef8b1cc45bc2dbcb04014c0783c0

for 1.13 you need `--ignore-preflight-errors=` for this error.

[2019-07-23 12:00] neolit123 commented on #1677
seems like something Fedora package maintainers should fix.

the official k8s Fedora/CentOS packages:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl
use /opt/cni/bin.

if you think the official k8s package have a problem please file an issue in the kubernetes/release repository.

here is the spec:
https://github.com/kub

[2019-07-23 12:37] neolit123 commented on #1356
/remove-lifecycle stale

[2019-07-23 13:13] rosti commented on #1681
I was actually raising this exact question in the past few weeks with WG Component Standard, but so far no concrete decisions have been taken.
This same problem is faced, not only by kubeadm, but by other cluster provisioning tools too (like kops for instance). So I suppose that we need a broader WG Component Standard meeting with kubeadm and other cluster provisioning tools on that matter.
@mtauf

[2019-07-23 23:13] staticdev opened #1683 "Single-node kubeadm lost after machine shutdown (bare-metal)"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18e6bcfe9f1e4d970a529", GitTreeState:"clean", BuildDate:"2019-06-19T16:37:41Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kube

[2019-07-24 05:34] randomvariable commented on #1665
Nope. A compromise of say kube-controller-manager by some mechanism shouldn't grant an attacker access to the private keys for a colocated haproxy load balancer, which it might be if `/etc/pki` is mounted instead of the directory that's purely for publishing CAs.

[2019-07-24 12:18] fabriziopandini commented on #1652
https://github.com/kubernetes/kubeadm/pull/1684 documents kind/kinder differences

[2019-07-24 12:52] rosti commented on #1683
Hi @staticdev and thank you for filing this issue!

Can you check that kubelet is running on your system and if it has error messages in its log?
Also, can you verify, that you have a `k8s_` prefixed containers running?
Last, but not least, are you sure, that your machine did not have its IP changed?

/priority awaiting-more-evidence

[2019-07-24 13:03] rosti commented on #1682
My bet is to push in the Kustomize direction. I don't think, that there are many users who push for such kind of feature and, therefore, having the delay (necessary for Kustomize) is acceptable.

[2019-07-24 19:25] timothysc commented on #1683
Please run:
`sudo systemctl enable kubelet`

I suspect you have no enabled all your system services needed.

[2019-07-24 19:25] timothysc commented on #1683
Also in order for you to be able to run init again you need to run

`kubeadm reset`

[2019-07-24 20:57] Baykonur commented on #591
I have the same issue (serverTLSBootstrap: true), if I upgrade from v1.14.X to v1.15.0, everything continues working till I deleted the serving certificate of the master node's kubelet (for testing something else) and I have this error.
Then I decided to destroy the existing cluster and bootstrap a fresh v1.15.0, I have exactly the same situation as @mdaniel; 2 system:node:<master-node> CSRs with

[2019-07-25 00:22] pytimer commented on #1683
Did you enabled the swap?

[2019-07-25 02:41] neolit123 opened #1685 "HA: improvements to the load balancer documentation"
i'm starting to see more reports of people having issues with setting up LB in a cloud provider, see:
https://github.com/kubernetes/website/issues/14258
https://stackoverflow.com/questions/56768956/how-to-use-kubeadm-init-configuration-parameter-controlplaneendpoint/57121454#57121454
i also saw a report on the VMware internal slack the other day.

the common problems are:
- confusion about L4 vs L

[2019-07-25 02:49] rcythr commented on #1685
I've seen several people discussing this on slack over the last few days. The problem seems to primarily be lack of hairpin routing on Azure.

Its not the most elegant solution, but I wonder if a piece of networking duct tape ( I.e. an iptables rule ) could help people avoid setting up their own load balancer on Azure.

[2019-07-25 03:58] rcythr commented on #1685
It looks like this isnt just a problem with Azure. From AWS "Internal load balancers do not support hairpinning or loopback. When you register targets by instance ID, the source IP addresses of clients are preserved. If an instance is a client of an internal load balancer that it's registered with by instance ID, the connection succeeds only if the request is routed to a different instance. Otherw

[2019-07-25 04:59] neolit123 commented on #1685
we have both azure and aws experts in k8s land, so we might be able to get more feedback on this.

[2019-07-25 05:22] SataQiu commented on #1683
@staticdev
In my view, you should turn the swap off :
[code]
Ref: https://www.tecmint.com/disable-swap-partition-in-centos-ubuntu/

[2019-07-25 08:16] fiware-austria commented on #1617
Hi!

I'm now experiencing something similar when trying to upgrade from 1.14.3 to 1.14.4 (since I currently do not dare to upgrade to 1.15.1).

I firstly upgrade `kubeadm`:
[code]

When I create/check an upgrade plan, I get the following result:

[code]

When I run the actual upgrade command it takes some while and produces the following output:

[code]

However, testing for the current version co

[2019-07-25 08:40] #1415 closed

[2019-07-25 08:41] Baykonur commented on #591
/area prow

[2019-07-25 12:16] neolit123 commented on #1617
what happens if you :
1) you restart the kubelet
`sudo sustemctl restart kubelet`

2) or temporary rename the apiserver manifest on disk and rename it back to it's original name.

your are essentially killing a mirror pod of the static pod, thus it probably just gets reconciled.
https://kubernetes.io/docs/tasks/administer-cluster/static-pod/

`kubeadm upgrade apply` cannot be broken down into phas

[2019-07-25 12:29] seh commented on #1685
To clarify, AWS EC2 NLBs do support hairpin connections provided that the targets are registered by IP address, as opposed to by instance ID.

The documentation quoted above doesn’t say that explicitly, but I can confirm that it works.

[2019-07-25 12:39] fiware-austria commented on #1617
I updated  `kubelet` to version 1.14.4 and restarted => no apparent effect

Did this too (consider it an act of desperation) and the apiserver pod get restarted. Here's the output of `kubectel get pod -n kube-system -o wide -w` while/after doing this:

[code]

The `kube-apiserver-cupertino` pod is still on image version 1.14.3

Here's the result:

[code]
Running `kubectl version` returns:

[code]

[2019-07-25 13:00] detiber commented on #1685
For AWS:
- AWS Classic ELBs work regardless of Public/Private networking.
- NLBs have the limitation mentioned above by @seh.
- ALBs should be avoided, since the admin kubeconfig relies on client tls cert authentication

@justaugustus should be able to provide some more detail on Azure based on his work with the Azure provider for Cluster API

[2019-07-25 13:12] neolit123 commented on #1617
this output shows an intermediate state.
such terminating pods should go away:
[code]

do you get to a state where there is a single `kube-apiserver...` pod?

what do you see if you do:
[code]

there is no special magic around static pods, unlike other types of deployments.
if there is only one manifest on disk for the api server (`/etc/kubernetes/manifests/kube-apiserver.yaml`) that has a 1.14.4

[2019-07-25 14:11] bart0sh commented on #1639
I can't reproduce this. Here is what I did:

1. Installed containerd
2. Created new cluster: sudo -E ./kubeadm init --cri-socket unix:///run/containerd/containerd.sock --pod-network-cidr=192.168.0.0/16
3. copied config: sudo cp  /etc/kubernetes/admin.conf $HOME/.kube/config && sudo chown $(id -u):$(id -g) $HOME/.kube/config
4. installed calico as suggested above: kubectl apply -f https://docs.proj

[2019-07-25 14:22] Arvinderpal opened #1686 "[kubeadm] Network Config E2E Tests"
FEATURE REQUEST

Kubeadm e2e tests currently do not test that network configuration values specified by the user are correctly configured in the cluster.

This is a tracker issue for the tests that check the following config parameters in kubeadm:

- [x] `pod-network-cidr` PR: https://github.com/kubernetes/kubernetes/pull/80259
- [x] `service-cluster-ip-range` PR: https://github.com/kubernetes/kub

[2019-07-25 15:17] neolit123 commented on #1432
this is hopefully going to be fixed in 1.16
xref https://github.com/kubernetes/kubernetes/issues/72102

[2019-07-25 15:27] neolit123 commented on #1572
this is the cluster CA, not the kubelet client cert.
currently it's hardcoded in kubeadm and it's not supported to change the location.

[2019-07-25 15:27] neolit123 commented on #1572
why are you not using the default place for ca.crt?

[2019-07-25 15:34] neolit123 commented on #1598
`discovery-srv` is not supported for stacked etcd, so we are closing this.
please reopen if the issue is still viable.

[2019-07-25 15:34] #1598 closed

[2019-07-25 15:37] neolit123 commented on #1468
so this is tracked by this issue about kustomization:
https://github.com/kubernetes/kubeadm/issues/1379

this will be possible when kustomization merges, but the resulting cluster will not be supported.

/close

[2019-07-25 15:37] #1468 closed

[2019-07-25 15:58] neolit123 commented on #949
/close
duplicate of https://github.com/kubernetes/kubeadm/issues/1135

[2019-07-25 16:05] neolit123 commented on #949
erm actually i'm just going to rename 1135 as it's about --allow-privileged

[2019-07-25 16:06] neolit123 commented on #1135
renamed the ticket to better explain the issue.

[2019-07-25 16:27] hickeng opened #1687 "Utilize client credentials from discovery file if present during join"
## What keywords did you search in kubeadm issues before filing this one?
file-discovery
anonymous
bootstrap

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

During file-discovery based join workflow, allow use of client credentials from the discovery file in place of the bootstrap token.

This is in support of environments where a secure means of providing client certificate to candi

[2019-07-25 17:16] dkoshkin commented on #1639
@bart0sh please try deploying a bunch of other non static pods, lets assume nginx for now, depending on the order of the pods being deleted if kube-apiserver or etcd pods are stopped first the other nginx pods wont be able to be stopped.

You can also reproduce this with `crictl` directly by stopping the kubelet (so it doesnt restart the pods) deleting the api-server pod first and then trying to d

[2019-07-25 17:48] caseydavenport commented on #1639
I've thought about this a little bit more and I'm worried it's a bit deeper than just the bit of code linked above. Even if we stop checking that CRD, fundamentally Calico uses the apiserver to store information about pods it has networked in the apiserver, and on delete it needs to clean that up. For this scenario, obviously the apiserver is not coming back, but in normal operation you can experi

[2019-07-25 19:10] dsexton commented on #1685
It is important to note that autoscaling groups register by instance id. We transitioned from NLBs to ELBs because of this.

[2019-07-25 19:15] seh commented on #1685
They do if you tell them to. We use ASGs, but we run an initialization procedure that registers the instance by its IP address with a discoverable target group, and unregisters it as the machine shuts down (sometimes inconvenient when rebooting).

[2019-07-25 20:09] staticdev commented on #1683
@rosti my containers from k8s weren't running.

@timothysc  systemctl kubelet service wasn't indeed enabled, the [documentation](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/) didn't tell I had to enable that, it would be a nice note addition.

@SataQiu after I enabled kubelet I realized there were an error in the service related to this pre-flight-c

[2019-07-25 20:37] gavD commented on #1380
I am so unbelievably grateful for this thread - thank you @neolit123 and everyone else involved - I finally got a Raspberry Pi 3 B to run a K8s master after three SOLID days of trying!

What's weird is, the very first time I tried, I [followed this tutorial and it worked great](https://medium.com/nycdev/k8s-on-pi-9cc14843d43), I set up a 3 node cluster, no problem. I shut it down at night, the nex

[2019-07-26 02:37] neolit123 commented on #1683
kubelet setup is part of installing kubeadm:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/

swap can be distro specific.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
has:

thanks.
/close

[2019-07-26 02:37] #1683 closed

[2019-07-26 04:37] anushakamath97 opened #1688 "Coredns pods on master are in CrashLoopBackOff after setting up pod networking"
## Is this a request for help?

Yes, have tried most of the troubleshooting but nothing seems to work.

## What keywords did you search in kubeadm issues before filing this one?

CrashLoopBackOff, Coredns, pod networking.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubect

[2019-07-26 04:56] neolit123 commented on #1687
thanks for logging this ticket.
(i was going back and forth with the labels, but now i have a clearer picture).

there are a couple of items here:

1) we have a bug in our file discovery; i know what is going on here and i can send a fix, but it's a bit tricky.

/kind bug
/remove-priority awaiting-more-evidence
/priority important-soon
/lifecycle active

2) a feature request to fetch the client cr

[2019-07-26 05:17] SataQiu commented on #1688
Thanks @anushakamath97
I guess you've encountered a bug with CoreDNS on ubuntu.
[code]
You need to manually edit CoreDNS ConfigMap:
[code]
![图片](https://user-images.githubusercontent.com/9354727/61927286-d71dd800-afa6-11e9-8c23-fd50c521f665.png)

Then CoreDNS Pod should can work when it restarts.

[2019-07-26 05:33] anushakamath97 commented on #1688
Thank you @SataQiu
I have tried this and removed loop from the configmap. The problem still persists.

Here is the configmap of coredns
[code]

[2019-07-26 05:51] SataQiu commented on #1688
Can you paste the log of CoreDNS Pod?

[2019-07-26 06:12] anushakamath97 commented on #1688
Coredns pod log

[code]

[2019-07-26 06:45] SataQiu commented on #1688
Hmm... This seems to be a network problem.
You can try:
[code]

[2019-07-26 06:50] SataQiu commented on #1688
/assign

[2019-07-26 11:59] fabriziopandini commented on #1687
@hickeng @neolit123
it seems that the implementation already deviated from the original design (without updating any doc :neutral_face:). See https://github.com/kubernetes/kubernetes/pull/66482
However, looking at the code, this works only if the user credentials are provided via Client Certificates....

[2019-07-26 15:25] vmendi commented on #1685
Hi! I'm the original poster from Stackoverflow. We abandoned the iptables hack and went for HAProxy.  We are still working on it thought. It complicates everything, and this is our first time having to configure such a piece of software (how do we add and remove nodes? autoscaling? VRRP?). For us it feels like we are in "Kubernetes the hard way" land, even if Kubeadm tries its best to help :)

We

[2019-07-26 21:11] hickeng commented on #1687
@neolit123

Yes - but currently you cannot use that kubeconfig with client-cert/key for `join control-plane`. Re-phrasing the ask for clarity - I want to be able to use a client-cert/key with kubeadm to perform a control-plane prepare/join, including /download-certs. I don't care about worker nodes at this time.

Getting a client cert into place via a CSR workflow is much less fraught than copying

[2019-07-26 21:31] ereslibre commented on #1685
A L4 load balancer should be sufficient in most cases, but since there is no heartbeat or activity sent at all during `kubectl logs` and `kubectl exec`, the LB will close the connection after a default or configured timeout (usually client or server timeout, if using `haproxy`). This is how it looks, just tried using `kind`:

[code]

[code]

To reproduce, the only thing needed is to create an HA c

[2019-07-26 22:45] aojea commented on #1685
who is closing the connection? you can always set keepalives to keep the connection up
or is the problem that it balances the connection to another backend? then we should sticky sessions

[2019-07-27 11:03] ereslibre commented on #1685
HAProxy is closing it.

There's no need, you can reach any apiserver safely, as far as I can tell.

[2019-07-27 14:25] hernando-garcia commented on #1477
Bumped into the same issue but the problem was traced down to network connectivity my side with my keepalived and haproxy daemons that were configured wrongly preventing the hang master node to join the cluster via the API service VIP

[2019-07-27 14:38] aojea commented on #1685
have you considered the "option clitcpka" and "option srvtcpka" on haproxy?

[2019-07-27 14:54] ereslibre commented on #1685
Really worth taking a look (and maybe add them as default in the haproxy created by kind?). If this works as expected we could as well document this on `kubeadm` if the user wants to use `haproxy`.

I will have a look and report back, thanks @aojea!

[2019-07-27 17:24] anushakamath97 commented on #1688
Thanks @SataQiu.
The coredns pods show running but there is Readiness probe failure error in the pod. I am running a predator application as well.
[code]
Coredns pod describe

[code]

[2019-07-27 17:26] fabriziopandini opened #1689 "Delete bootstrap-kubelet.conf after TLS bootstrap"
when doing `kubeadm join`, kubeadm creates the `bootstrap-kubelet.conf` for kubelet start the TLS bootstrap process.
After completing the TLS bootstrap process kubelet switches to use the `kubelet.conf`, but the `bootstrap-kubelet.conf` remains on disk even if not necessary anymore.

Considering that `bootstrap-kubelet.conf` contains authorization credentials that kubeadm generates (tokens) or the

[2019-07-27 21:56] ereslibre commented on #1685
No luck, `tcpka` or `clitcpka` and `srvtcpka` still leads to the same behavior, `haproxy` closing the connection after the default 50s configured by `kind`. I think we should investigate this a little deeper. Increasing timeouts is always an option, but there's never a timeout that will fit everyone.

[2019-07-27 21:57] mrueg commented on #1295
Since above PR mentions partial support, what is currently missing for full support @oz123 ?

[2019-07-27 22:17] aojea commented on #1685
nice explanation about haproxy here https://stackoverflow.com/a/32635324/7794348

[2019-07-27 23:04] olivierlemasle opened #1690 "kubeadm should warn about invalid api-server extra args"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

    kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.1", GitCommit:"4485c6f18cee9a5d3c3b4e523bd27972b1b53892", GitTreeState:"clean", BuildDate:"2019-07-18T09:15:32Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes

[2019-07-28 04:10] rcythr opened #1691 "PKI Directory should follow principle of least privilege"
**FEATURE REQUEST**

_Problem_
Currently kube-apiserver, kube-controller-manager, and etcd all mount in more of the files from /etc/kubernetes/pki than they need to perform their job. This is a violation of the principle of least privilege.

_Proposed Fix_
The certificates generation process should be adjusted to create separate directories for each combination of services which require files. An

[2019-07-28 04:13] oz123 commented on #1295
@mrueg what's missing is almost everything we discussed in this thread. I currently lack the time to complete the work, if someone would like to sponsor it feel free to contact me. If another person wants to take over this work I am also fine with that.

[2019-07-28 16:41] crenique commented on #1685
For this Azure Application Gateway (L7) topic,
we'd like to see whether the application gateway (with internal frontend private ip)  can be used as a control-plane endpoint instead of HAProxy.

**1) HAProxy approach**
We tried this 3 layers setup to make HA multi-master control-plane work on azure.
[code]

Azure doesn't seem supporting VRRP floatip ip. so had to create redundant HAProxy nodes unde

[2019-07-28 19:54] neolit123 commented on #1685
thanks for the comments and discussion on this,
please have a look at this pending PR, so that we can consolidate the kubeadm HA LB information that users should know about.

https://github.com/kubernetes/website/pull/15411

WRT Azure LBs it seems that the cloud provider needs to make some adjustments to make it easier for users.

[2019-07-28 21:10] neolit123 commented on #1689
@akekorrakot you reacted with a :confused: emoji on the ticket description.
do you have feedback for us?

[2019-07-28 22:37] neolit123 commented on #1691
thanks for logging @rcythr

i agree with the problem statement.

can symlinks be used instead of duplicating files for the separate directories?

cc @fabriziopandini @randomvariable

[2019-07-28 22:43] neolit123 commented on #1690
hello and thanks for logging the ticket.

unfortunately this is currently not possible.

there is a working group in kubernetes called "WG Component Standard" that this issue falls under.
once the API server supports a configuration file with validation this will become possible.

until then there is no good way to validate the unversioned apiserver CLI flags/arguments on the kubeadm side. one pos

[2019-07-28 22:43] #1690 closed

[2019-07-28 22:43] rcythr commented on #1691
I was thinking of making subdirectories called

/etc/kubernetes/pki/etcd/
/etc/kubernetes/pki/apiserver/
/etc/kubernetes/pki/controller-manager/
/etc/kubernetes/pki/apiserver_controller-manager/

That way no files need to be duplicated, they just exist in a directory mounted by both pods.

[2019-07-28 22:47] rcythr commented on #1691
/assign
/lifecycle active

[2019-07-28 22:54] neolit123 commented on #1691
if these directories are on the host, wouldn't there will be duplication of `/etc/kubernetes/pki/ca.crt` between `/etc/kubernetes/pki/apiserver/` and `/etc/kubernetes/pki/apiserver_controller-manager/`?

i think it might be better to simply mount only the required files in the Pods and keep the existing structure that we have.

xref for a list of mounts the Pods are doing right now:
https://github

[2019-07-28 23:32] rcythr commented on #1691
I was thinking of modifying the structure so ca.crt would be moved into apiserver_controller-manager/. This keeps the number of mounts at a minimum. If keeping the structure the same is required it can be done, but the number of mounts will be larger.

I’m happy to try it the the way which involves no file reorganization first. Once we see the code and results we can revector a bit if we want/need

[2019-07-28 23:34] neolit123 commented on #1691
i have concerns of introducing directory structure changes on the host, which might break a lot of setups.

thanks. i'd prefer to see feedback from @fabriziopandini @randomvariable too, before proceeding with an implementation.

[2019-07-28 23:37] rcythr commented on #1691
Understood, it definitely creates a breaking change or a very complicated upgrade procedure.

Understood, I won't be able to work on it for a day or two anyway. I'll standby until we reach a consensus.

[2019-07-29 01:41] rcythr opened #1692 "Stop using system-level certificates directories (i.e. /etc/pki, /etc/ssl/certs, and /etc/ca-certificates directories)"
I posted in slack the following suggestion; @neolit123 suggested we log an issue to track/discuss it here instead:

Issues #279 , #1367, and #1665 all share a common theme regarding the troublesome /etc/pki, /etc/ssl/certs, and /etc/ca-certificates directories.

I suggested in the sig-cluster-lifecycle slack of moving the ca certificates directory which kubeadm uses to something which kubeadm cont

[2019-07-29 04:35] SataQiu commented on #1688
What error does the coredns pod log prompt? @anushakamath97

[2019-07-29 09:00] fabriziopandini opened #1693 "Make discovery wait for a finite time"
Follow up of https://github.com/kubernetes/kubernetes/pull/80675#discussion_r308016782

Currently the discovery logic runs indefinitely and we should change this to fail after a while.
I'd say 10 retries * 5 seconds (DiscoveryRetryInterval) should be enough.

[2019-07-29 09:01] fabriziopandini commented on #1693
We should be aware that this wait cycle is fundamental for worker nodes waiting for control-plane nodes in case of parallel provisioning, so I think that in this case, we should wait for some minutes (5 minutes might be)

[2019-07-29 09:29] olivierlemasle commented on #1693
I'd like to work on this.

/assign

[2019-07-29 12:19] fiware-austria commented on #1617
Hi again!

Thanks for your support. I should have read the link about static pods in more detail before.
Apparently the following was the problem:

Inside my manifest folder (`/etc/kubernetes/manifest`) were several backup files (e.g. kube-apiserver.yaml.6371.2019-02-26@15:50:57~). Since `kubelet` uses every file in this folder one of the older ones must have been the winner when starting the pod.

[2019-07-29 13:07] neolit123 commented on #1617
thanks for getting back to us about finding the actual problem.

the backup folder method is used in case of error in the upgrade process, but:
- we don't have documentation that explains the backup.
- i don't think we have good test cases for upgrades that fallback to the backup folder.

i will log a ticket to try to cover these items.

[2019-07-29 13:11] neolit123 opened #1694 "include more details about the kubeadm upgrade backup process"
during upgrade if the process fails on static pods, kubeadm writes a folder called `/etc/kubernetes/backup`.

currently we do not:
- document how this folder works. **WIP**
- have test coverage when kubeadm falls back to a manifest in the backup folder. **EDIT: we have some unit tests for this.**

xref: https://github.com/kubernetes/kubeadm/issues/1617#issuecomment-515967794

[2019-07-29 13:11] neolit123 commented on #1617
logged https://github.com/kubernetes/kubeadm/issues/1694

[2019-07-29 13:11] #1617 closed

[2019-07-29 14:46] fabriziopandini commented on #1687
@hickeng a fix is merging that address the problem without changes to the UX

[2019-07-29 14:59] svitlychnyi commented on #581
@danroliver Thx a lot for your reply. It saved lots of time for me.
One point worth mentioning is the "etcd" related certificates, which should be renewed in the same way. There is no need for configuration reloading since it is used in metadata YAML files as references.

[2019-07-29 16:25] neolit123 commented on #1349
we decided to close my PR here as it's far from ideal:
https://github.com/kubernetes/kubernetes/pull/77744

and punt this issue to the `kubeadm upgrade apply` phase support.
this is already covered in the OP here:
https://github.com/kubernetes/kubeadm/issues/1318

[2019-07-29 16:25] #1349 closed

[2019-07-29 17:09] MateusMac commented on #1153
Hey everyone, does anyone have a solution? Same problem here, but using the **k3s**.

[2019-07-29 17:10] dims commented on #1153
@MateusMac you should probably open a bug report against k3s as well.

[2019-07-29 21:29] sftim commented on #1692
It sounds good. I don't know enough about this topic to really get my head around the suggestion though.

At the moment you can have a [single root CA](https://kubernetes.io/docs/setup/best-practices/certificates/#single-root-ca), even managed outside the cluster, with the root CA published to the system CA certificate store on machines that care about such things.

It sounds like this change stil

[2019-07-29 22:08] chases2 opened #1695 "E2E Testing Documentation has been invalidated by Testgrid Updates"
The documentation on [managing end-to-end tests](https://github.com/kubernetes/kubeadm/blob/master/docs/managing-e2e-tests.md) in this repository has grown stale as Testgrid has been enhanced.

Specifically:
- "config.yaml" no longer exists; testgrid configurations live in their [own directory](https://github.com/kubernetes/test-infra/tree/master/config/testgrids). Those links are broken.
- Many o