[2017-04-06 15:50] ahawkins commented on #225
@luxas Yes the 1.5 flavors are available, but not for `kubeadm`. The repo includes `kubectl` and `kubelet`, but not `kubeadm`.

[2017-04-06 16:13] v1k0d3n commented on #225
@luxas i have a lot of concern over this. our project (a large effort with Openstack) is based on 1.5 and 1.6, being extremely fresh, requires a lot of planning for this effort.

[2017-04-06 17:09] jbeda commented on #220
Dupe of https://github.com/kubernetes/release/issues/234.  Hard to keep old versions but i'm documenting instructions here: https://github.com/kubernetes/kubernetes.github.io/issues/3127

[2017-04-06 17:09] #220 closed

[2017-04-06 17:32] luxas commented on #225
@ahawkins @v1k0d3n You should really be aware of the security concerns then if you insist to use kubeadm for v1.5. Are you?

BTW; I have no access to these repos. @mikedanese has and might add the kubeadm v1.5 stable version back if you have a lot of concerns if you talk kindly to him. However, please please be aware of that kubeadm v1.5 is marked alpha for a reason. We're constantly improving it,

[2017-04-06 18:00] intlabs commented on #225
@luxas I'm aware of many of the concerns, though quite possibly not all. Kubeadm is important for us, not for use anywhere near production, but just because it helps us get a development k8s cluster up and running easily - the perfect use case for an alpha insecure tool :)

[2017-04-06 20:39] rushabh268 opened #228 "kubeadm init waiting for the control plane to become ready on CentOS 7.2 with kubeadm 1.6.1"
After downloading kubeadm 1.6.1 and starting kubeadm init, it gets stuck at [apiclient] Created API client, waiting for the control plane to become ready

[code]

I have the following 10-kubeadm.conf

[code]
So, its no longer a cgroup issue. Also, I have flushed the iptables rules and disabled selinux. I have also specified the IP address of the interface which I want to use for my master but it s

[2017-04-07 09:24] sachinna commented on #226
I am also facing same issue on Centos 7.3 with kubernetes 1.6 and 1.6.1

[2017-04-07 12:49] jistr commented on #133
A config example has been added to the docs here:

https://kubernetes.io/docs/admin/kubeadm/#config-file

[2017-04-07 13:17] KubernetesIntership commented on #226
The temporary fix is that you should use only 1 network interface that is connected to the internet.

[2017-04-07 14:52] luxas commented on #226
Generally, I think kubernetes assumes some things about networking interfaces that don't always play well with reality when using multiple NICs.

Maybe @thockin, @bboreham, @jbeda or @errordeveloper know more about what we could do to better support multiple NICs

[2017-04-07 15:30] bboreham commented on #226
Per the kubeadm docs the flag is `--api-advertise-address`

[2017-04-07 15:49] bboreham commented on #226
But see also https://github.com/kubernetes/kubeadm/issues/102, wherein Linux needs guidance to pick the right source address.

[2017-04-07 19:44] #177 closed

[2017-04-07 22:14] kargakis opened #229 "Can't find self-hosted option in kubeadm v1.6.1"
[code]

[2017-04-08 10:44] Yengas commented on #228
I'm having the same issue. I also tried removing the Network ARGS as suggested on another issue. It still hangs at `waiting for control plane to be ready`.

[2017-04-08 14:12] kargakis commented on #229
Just found https://github.com/kubernetes/kubernetes/issues/43949, sorry for the noise

[2017-04-08 14:12] #229 closed

[2017-04-08 14:25] v1k0d3n commented on #225
@luxas "You should really be aware of the security concerns then if you insist to use kubeadm for v1.5. Are you?"

definitely aware of it. it makes me hurt a little on the inside to accept this "as is" right now, but our current CI...and even our instructions for demonstrations are drafted for 1.5.x deb-based kubeadm installs *for now*. it will take a little bit to bring everything in line with 1.

[2017-04-08 18:51] KubernetesIntership commented on #226
I have used the flag, but the apiserver still uses the wrong interface. Is there another way to tell the apiserver what interface to use?

[2017-04-08 21:19] githubvick commented on #228
Did you reload Daemon and restart kubelet service after making the changes. It worked after changing the driver and commenting network. It takes 10 to 11 minutes for the control plane to get ready for the first time for me, I would suggest leaving it for 15 minutes for the first time.

[2017-04-08 21:28] rushabh268 commented on #228
I did reload the daemon and restarted the kubelet service every single time. I have even left the setup undisturbed for entire night but it was still waiting for the control plane.

[2017-04-08 22:09] Yengas commented on #228
I've reloaded daemon (`systemctl daemon-reload`) and restarted kubelet aswell. I run `kubeadm reset`, edit the service configuration, then run the`kubeadm init`.

Apiserver and etcd docker containers fail to run after commenting out the networking options. I also tried installing weave-net manually so the cni config directory would be populated, but that didn't work neither. To do this i installed

[2017-04-09 03:21] phagunbaya commented on #228
There is some issue guys in the setup. Are you guys setting up kubernetes 1.5.x ?

[2017-04-09 03:23] phagunbaya commented on #228
Looks like kubelet cannot reach kube api server.

[2017-04-09 06:30] Yengas commented on #228
I noticed that etcd wasn't able to listen on port 2380, i've followed these steps again and my cluster started up:

- Run `kubeadm reset` to remove any changes made to the server.
- Get back the machine to initial state. By re installing kubeadm(to get back the original config files).
- Remove docker containers related to kubernetes if there are any.
- Get and install weave. Don't run it.
- Reboot

[2017-04-09 15:05] kargakis opened #230 "kubelet restarts every ~3m"
Running a self-hosted installation and once I joined a second node, I noticed that the first one is restarting almost every 3m.
[code]
node info:
[code]
[code]
kubectl get events: https://pastebin.com/iwdKjkLF

Attaching the kubelet logs
[kubelet.txt](https://github.com/kubernetes/kubeadm/files/908263/kubelet.txt)

[2017-04-09 18:00] githubvick opened #231 "kubeadm init preflight check error - cannot unmarshal number into Go value of type bool"
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:33:27Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version*

[2017-04-09 20:16] eremid commented on #230
Same problem on my cluster since I upgraded from 1.5 to 1.6.1.

[2017-04-09 21:55] cgilmour commented on #216
This version isn't available via the repos anymore, so I'll just close this issue.

[2017-04-09 21:55] #216 closed

[2017-04-10 00:13] jruels commented on #228
@Yengas Can you please provide more details on the weave steps? Did you run them on all nodes, or just the master?

[2017-04-10 00:49] ajayaram1 commented on #226
any workaround? @KubernetesIntership you mentioned abt temp fi with single interface what did you mean? can you elaborate?

[2017-04-10 01:16] Yengas commented on #228
@jruels just the master node. Weave is just a single binary. The setup command without any args, downloads weave docker images and creates the CNI config. The launch command without any args starts the weave containers on host only.

[2017-04-10 02:56] chey commented on #231
If it helps. I can confirm this is happening. I have also confirmed your fix of adding `--cgroup-driver=systemd` to:
/etc/systemd/system/kubelet.service.d/10-kubeadm.conf

[2017-04-10 06:41] bboreham commented on #226
Can you post a transcript of it going wrong, including evidence that the correct flag was used.

[2017-04-10 09:32] buddy-yao commented on #225
I need kubeadm v1.5 !!! because i need use helm.

[2017-04-10 09:37] pichouk commented on #225
One use case where it is useful to still have access to `kubeadm` version `1.5.6` : test upgrade to `1.6.0`.
I currently have a `1.5.6` Kubernetes cluster in production and I want to test the upgrade an upgrade from `1.5` to `1.6` before upgrading production environment. So I need the `1.5.6` version of `kubeadm` to easily reproduce my actual environnement.

[2017-04-10 09:58] ahawkins commented on #225
@luxas Thanks for clarifying this. This is a good news going forward.

[2017-04-10 14:00] errordeveloper opened #232 "it should be trivial to se set alternative config path (not /etc/kubernetes)"
I'm using `kubeadm` on system where `/etc` is mounted read-only, and it was non-trivial to set alternative config path.

Namely, I had to do this:
[code]
It should be just one argument. The main question is – why do we have separate `--cert-dir` flag?

There other good reasons why someone may wish to configure alternative path for configuration.

[2017-04-10 14:02] errordeveloper opened #233 "kubeadm version 1.6.1 pull control plane version 1.6.0"
[code]

[2017-04-10 14:53] errordeveloper opened #234 "alternative config path is broken"
Having set alternative config path (e.g. `env KUBE_KUBERNETES_DIR=/var/lib/kubeadm kubeadm init --skip-preflight-checks --kubernetes-version v1.6.1 --cert-dir /var/lib/kubeadm/pki`), static pods get mounts with destination `/etc/kubernetes`, but flags are pointed at the alternative path.

Here is how `kube-controller-manager` container gets defined (shortened):
[code]

Either flags or mount destin

[2017-04-10 16:17] gtirloni opened #235 "kubeadm should look for kubeconfig in pre-defined places"
**FEATURE REQUEST**

kubeadm should look for kubeconfig file in pre-defined locations and `kubeadm init` should copy admin.conf to one of these locations after cluster setup.

**DETAILS**

After creating a new cluster with kubeadm, one has to remember to follow these steps:

[code]
It's also necessary to ensure KUBECONFIG will be defined in the next login (or if the server is rebooted).

This extr

[2017-04-10 23:21] rushabh268 commented on #228
@Yengas Still not sure, what you mean by - "get and install weave. Don't run it" I cannot obviously do kubectl apply -f https://git.io/weave-kube-1.6 so how do I install weave?

[2017-04-10 23:48] pipejakob commented on #219
One suggestion from @mikedanese  was to always force logging in as `kubernetes@<master>` instead of leaving the username blank or forcing `ubuntu@<master>`. The Ubuntu image seems to detect when you're logging in as any unrecognized user and decides to log you in as `ubuntu` instead. Since the kubeadm implementation of phase2 in kubernetes-anywhere only supports `.deb`s, it's currently only expect

[2017-04-11 00:01] mikedanese commented on #228
What do the apiserver logs say?

[2017-04-11 00:13] jruels commented on #228
@rushabh268
To install weave run the following on the master
`sudo curl -L git.io/weave -o /usr/local/bin/weave && chmod a+x /usr/local/bin/weave`
Then run
`weave setup`
When that completes run
`weave launch`

[2017-04-11 00:14] mikedanese commented on #228
you don't need to do that. kubectl apply -f https://git.io/weave-kube-1.6  should be sufficient.

[2017-04-11 02:39] rushabh268 commented on #228
The API server logs say the exact same as I mentioned in the bug. Also, I cannot do kubectl because the Kubernetes is not installed

[2017-04-11 02:43] rushabh268 commented on #228
@jruels I'll try it out and update this thread!

[2017-04-11 10:22] KubernetesIntership commented on #226
@ajayaram1 well I was testing it with virtualbox, I have removed the host-only network and I port forwarded the nat-network, so I could reach the dashboard.

[2017-04-11 10:25] KubernetesIntership commented on #226
@bboreham I have normally put everything in my post. The command I have used is at anything else we should know and I have posted all the logs. If you need something, let me know.

[2017-04-11 10:32] bboreham commented on #226
@KubernetesIntership I am asking for a full transcript because your original post describes a number of attempts and different options, and it is much easier to debug from one single run.
Do `kubeadm reset` then start from the top, with the correct 'advertise' option (it changed name between versions of kubeadm)

[2017-04-11 18:09] githubvick commented on #231
I was able to workaround this by installing the below docker version and running yum install kubelet kubeadm kubectl kubernetes-cni

[code]

[2017-04-11 18:44] mikedanese commented on #228
In the bug description there are kubeadm logs and kubelet logs. There are no apiserver logs.

[2017-04-11 21:11] pipejakob opened #237 "Release branches e2e's should use k8s from release branches"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT (of e2e test)

Our kubeadm e2e test that runs against the release-1.6 branch currently specifies `--kubernetes-version latest` when initializing the cluster. This is probably the correct behavior for our tests against the `master` branch, but this should really be `latest-1.6` for the release-1.6 job, which will require new plumbing to kubete

[2017-04-11 21:15] pipejakob opened #238 "Allow e2e tests to use CI builds of control plane images"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST (of e2es)

When our e2e tests are run, they pass a parameter to `kubeadm init` to specify the release of Kubernetes to use for the control plane images (i.e. `--kubernetes-version latest`). This means that there can be lag between a bug being merged to kubernetes/master and exercising of that code in a kubeadm e2e, since our e2e infrastr

[2017-04-11 21:56] rushabh268 commented on #228
@mikedanese How do I get the apiserver logs?
@jruels I am able to bring up weave
@Yengas Even after following your steps, I see the following error in the kubelet logs:
[code]

[2017-04-12 01:36] WIZARD-CXY commented on #133
@jistr follow your upper link, I used the below yaml file
[code]
as config file but it does not reflect the etcd Endpoint(still nil).
[code]
I wonder where I maybe made a mistake or is it a code bug?

[2017-04-12 02:19] acloudiator commented on #228
I'm having the same issue reported here.
Snip from my system messages (Master Node) while it was stuck, just in case, it points something. Btw, I am performing this on Linode.
------------------------------------

Apr 12 02:10:00 localhost audit: SERVICE_START pid=1 uid=0 auid=4294967295 ses=4294967295 msg='unit=kubelet comm="systemd" exe="/usr/lib/systemd/systemd" hostname=? addr=? terminal=? res

[2017-04-12 02:36] phagunbaya commented on #228
@acloudiator I think you need to set cgroup-driver in kubeadm config.

[code]

[2017-04-12 03:13] calvix opened #239 "kubeadm should allow using custom certificates"
## FEATURE REQUEST

Hello,

`kubeadm` is managing certificate generation for you but this should be optional and not enforced.
In some cases you already have some service for certificate management (vault, AWS Certificate Manager ...) and you want issue certificate from that.

So the feature request is additional option which allow you specify path to your own certificates.

This could apply to bo

[2017-04-12 03:24] pswenson opened #240 "kubeadm 1.6.1 worker hangs on join"
BUG REPORT:
## Versions

**kubeadm version** (use `kubeadm version`):
1.6.1
**Environment**:
ubuntu
- **Kubernetes version** (use `kubectl version`):
1.6.1
- **Cloud provider or hardware configuration**:

- **OS** (e.g. from /etc/os-release):
[code]

## What happened?
when joining the cluster via `kubeadm join --token d77f50.ccc501bafbaa4179 myip.118.240.130:6443` on a kube worker I get this messa

[2017-04-12 05:44] blackstar257 opened #241 "docker-ce"
[preflight] WARNING: docker version is greater than the most recently validated version. Docker version: 17.03.1-ce. Max validated version: 1.12
[preflight] Some fatal errors occurred:
	missing cgroups: memory
	Port 10250 is in use
	/etc/kubernetes/manifests is not empty
	/var/lib/kubelet is not empty
[preflight] If you know what you are doing, you can skip pre-flight checks with `--skip-preflight

[2017-04-12 07:44] juancarloscruz commented on #228
It would be great if kubeadm could deal in some way with the cgroup configuration issue.
Ideas:
- Aborting initialization in case of misconfiguration
- Check Docker's settings beforehand and use what Docker is using (not sure about any implications here)

[2017-04-12 14:03] hustljl opened #242 "Failed to create SubnetManager: error retrieving pod spec for 'kube-system/kube-flannel-ds-sb3k4': the server does not allow access to the requested resource"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2017-04-12 14:25] James-Dao opened #243 "how to use external etcd within kubeadm 1.6.1?"
hi
How to use external etcd within kubeadm 1.6.1?  I found one flag within 1.5.

[2017-04-12 15:46] jackielii opened #244 "add preflight check for kubelet"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm stuck at wait for control plane

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-

[2017-04-12 17:01] errordeveloper commented on #241
I've been using it with `--skip-preflight-checks` and haven't encountered any issues so far.

[2017-04-12 17:02] errordeveloper commented on #193
Also killing DNS pod seems to resolve this for me...

[2017-04-12 17:05] errordeveloper commented on #193
I am not entierly sure this has to do with #196, I think there is a race condition elsewhere. I've just hit this in something I'm working on at the moment, I will update if I figure out what causes it, as  seem to have a way of reproducing is reliably.

[2017-04-12 19:17] Reifier opened #245 "kube-api pod crashes after a change in --insecure-bind-address="
## What keywords did you search in kubeadm issues before filing this one?

api crashes

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
 `version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.0-alpha.0.2074+a092d8e0f95f52", GitCommit:"a092d8e0f95f5200f7ae2cba45c75ab42da36537", GitTreeState:"clean", BuildDate:"2016-12-13T17:03:18Z", GoVersion:"go1.7.4", Compiler:"gc

[2017-04-13 09:29] sdurrheimer commented on #226
@bboreham I'm also facing the same issue. Would my transcript help you ?

[2017-04-13 09:44] bboreham commented on #226
@sdurrheimer sure

[2017-04-13 09:57] sdurrheimer commented on #226
**Setup**

- 1 physical server with ESXI 6.5
- 4 virtual machines with ubuntu 16.04
  - 1 master
  - 3 worker
- each VM has 3 network interfaces
  - docker bridge
  - public ip with external connectivity
  - private network for internal connectivity between the 4 VMs
- docker `1.12.6-0~ubuntu-xenial`
- kubeadm/kubectl/kubelet `1.6.1-00`

**kubeadm init**

[code]
** apiserver logs
[code]

[2017-04-13 19:34] ReSearchITEng commented on #212
@eastcirclek - followed the steps, but for some reason the nodes are not able to install flannel properly.
(Note: on master everything is smooth.)

Apr 13 22:31:11 node2 kubelet[22893]: I0413 22:31:11.666206   22893 kuberuntime_manager.go:458] Container {Name:install-cni Image:quay.io/coreos/flannel:v0.7.0-amd64 Command:[/bin/sh -c set -e -x; cp -f /etc/kube-flannel/cni-conf.json /etc/cni/net.d/10

[2017-04-13 21:22] ChipmunkV commented on #34
I think that it would be useful to know what images the new config needs, not the current one. The process of the software update is as follows:
* determine which images will be needed (currently, by grepping through yaml)
* pre-pull these images
* good luck, everybody
* `kubectl apply`
* things calm down
* done

[2017-04-14 09:23] TracyBin commented on #193
I setup a single-machine Kubernetes cluster for development and faced the same problem.But modifying the port does not solve the problem

[2017-04-14 09:34] TracyBin commented on #245
Maybe restart kubelet could resolve this problem

[2017-04-14 09:35] TracyBin commented on #242
This [issue](https://github.com/kubernetes/kubernetes/issues/44029) can help you

[2017-04-14 15:58] luckyfengyong commented on #212
Just share my workaround method. Firstly $KUBELET_NETWORK_ARGS is required, otherwise CNI is not enabled/configured. Removing and then restoring $KUBELET_NETWORK_ARGS seems too complicated.
When kubeadm init shows "[apiclient] First node has registered, but is not ready yet", the k8s cluster actually is ready to serve request. At that time, user could simply move to step 3/4 of https://kubernetes.

[2017-04-14 16:53] kargakis commented on #212
There is https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml already

[2017-04-14 19:53] mikedanese commented on #242
Need rbac rules. Dup of https://github.com/kubernetes/kubernetes/issues/44029

[2017-04-14 19:53] #242 closed

[2017-04-14 20:10] ReSearchITEng commented on #212
Thanks all for help.
Finally fully working k8s 1.6.1 with flannel. Everything is now in ansible playbooks.
Tested on Centos/RHEL. Preparations started for Debian based also (e.g. Ubuntu), but there might needs some refining.

https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/README.md

PS: work based on sjenning/kubeadm-playbook - Many thanks @sjenning

[2017-04-14 22:38] #241 closed

[2017-04-14 23:32] #244 closed

[2017-04-14 23:33] mikedanese commented on #244
Should be fixed.

[2017-04-16 20:20] luxas commented on #238
See also: https://github.com/kubernetes/test-infra/issues/1400 https://github.com/kubernetes/kubeadm/issues/101

Maybe you @pipejakob could take ownership over https://github.com/kubernetes/test-infra/issues/1400?
That would be great and seems to be in line with the v1.7 goals

[2017-04-17 19:47] Reifier commented on #245
First thing I've tried. The issue remains.

[2017-04-17 22:24] cheinig commented on #226
I had the same problem in my environment.
The problem was, that "localhost" had not been resolved to the loopback address 127.0.0.1 by the nameserver, but to a different one. This was checked with "nslookup localhost".
In my case, the root cause was a wrong "search" entry in my /etc/resolv.conf file. This added the wrong domainname to my localhost name entry (eg. localhost.powersrv.de) which resul

[2017-04-17 22:54] cheinig commented on #71
I managed my connection to Nexus 3 with ImagePullSecrets and adding it to the service account, so that it will automatically be added to all deployed pods.

Configure ImagePullSecret with the docker config
https://kubernetes.io/docs/concepts/containers/images/#specifying-imagepullsecrets-on-a-pod

Instead of adding the imagePullSecrets to every pod, i have added it to the service account which is

[2017-04-17 23:00] rushabh268 commented on #228
Just an update, whatever workaround I tried didn't work. So I moved to CentOS 7.3 and it works like a charm!

[2017-04-18 03:56] carldanley opened #246 "Add support for Authentication & Authorization webhooks"
## What keywords did you search in kubeadm issues before filing this one?

"webhooks"

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

I've looked through the configuration file AND the supported flags in the documentation and was unable to find support for the following flags:

1. `--authentication-token-webhook-config-file`
1. `--authentication-token-webhook-cache-ttl`
1. `--author

[2017-04-18 06:09] yuvipanda commented on #182
Should this issue be closed now?

[2017-04-18 07:10] sdurrheimer commented on #226
@cheinig Thank you, that was exactly the issue !

[2017-04-18 08:22] resouer opened #247 "kubeadm should support configurable addons"
This is a feature request collected from users.

Now the build-in addons like kubedns is using a hard coded [yaml template](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/manifests.go), makes is impossible to configure it easily (correct me if I'm wrong).

We should consider make it configurable somehow. The most frequently requested feature is modifying resourc

[2017-04-18 09:11] Dmitry1987 commented on #243
Hi @James-Dao ,  use a config file like this one for example:

[code]

[2017-04-18 09:12] Dmitry1987 commented on #243
though the kubeadm seems broken :(  , it doesn't create a healthy master node, on aws at least.

[2017-04-18 09:21] #182 closed

[2017-04-18 09:22] netroby commented on #182
closed

[2017-04-18 20:15] timothysc commented on #215
/cc @dgoodwin @pmorie

[2017-04-19 08:40] resouer commented on #247
cc @luxas any thoughts?

[2017-04-19 11:37] sebgoa opened #248 "Heapster default deployment does not support RBAC in v1.6.0 setup"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG I suppose

## What happened?

The default Heapster manifests available at:
https://github.com/kubernetes/heapster/tree/master/deploy/kube-config/influxdb

Are not supported for an RBAC setup, the heapster pod does not have access to read the metrics:

[code]

## What you expected to happen?

that it worked out of the box by following the heapster de

[2017-04-19 11:55] sebgoa commented on #248
it is an RBAC issue.
Working manifest at:
https://github.com/luxas/kubeadm-workshop/blob/master/demos/monitoring/heapster.yaml

but we need to have the default manifest updated and documented...

[2017-04-19 13:06] dgoodwin commented on #215
Not able to reproduce immediately with a fully up to date CentOS 7 vm, how does this compare to your environment @coeki?

[code]

kubeadm init completed successfully for me and no denials in audit.log.

[2017-04-19 15:24] coeki commented on #215
@dgoodwin Sorry, since I use vagrant, and some ansible, that particular environment is long gone, which was based on the just released kubeadm/kubernetes 1.6.0 (not alpha).
But I set my ansible script to just ```setenforce 0```, since I thought it was broken, haven't tested it proper again.

I have tested it just now with a fresh environment, an updated centos7, and kubeadm/kubernetes 1.6.1, and c

[2017-04-19 17:28] jbeda commented on #23
@vhosakot It looks like that was likely due to no rbac roles for the dashboard.  Looks to be updated now.  Try https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/kubernetes-dashboard.yaml.

[2017-04-19 18:12] kargakis commented on #230
And the config I used:
[code]
May this be related to the fact that I didn't explicitly specify the controllers I want to run, so the bootstrapsigner and tokencleaner controllers never run?

[2017-04-19 20:19] praseodym commented on #71
In my experience, adding an ImagePullSecret to the kube-system service account works for most but not all images: CNI (Weave/Flannel/etc.) and kube-proxy images still need to be pre-pulled on worker nodes. On the master node, all images must be pre-pulled because there is no way to specify an ImagePullSecret before the master node is fully ready.

[2017-04-19 22:39] timothysc opened #249 "RFE: Update Dockerfile to support atomic install"
The initial instructions call out setting up a private repo whose packages can only be created by a few.  I'd like to update the Dockerfile(s) that we create to have enough meta-data to support the atomic install of the kubernetes that we create for EL/fedora variants.

This will allow anyone to create a container that can install the containerize kubelet.service as the 1st part of the installatio

[2017-04-19 23:46] coeki commented on #240
@pswenson Couple of things to check: What pod networking provider and what version are you using?

[2017-04-20 09:34] xilabao commented on #248
cc @luxas

[2017-04-20 13:04] Vasista81 commented on #71
I've my setting in /etc/kubernetes/apiserver on MASTER NODE like this :

# default admission control policies
KUBE_ADMISSION_CONTROL="--admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,ResourceQuota"

Is this fine?
I had to remove ServiceAccount & SecurityContextDeny from the list as per
the installation guide in the kubernetes master node's apiserver config

Please let me know if

[2017-04-20 13:11] Vasista81 commented on #71
BTW, I'm using flannel.

[2017-04-20 13:43] pswenson commented on #240
flannel via ```kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml```

which has:  `quay.io/coreos/flannel:v0.7.1-amd64`

[2017-04-20 14:06] coeki commented on #240
Looks like kube-dns is not running. What is the output of `kubectl get pods -n kube-system --kubeconfig ./admin.conf`?

[2017-04-20 14:38] Vasista81 commented on #71
I managed to successfully login to the Nexus 3 Repository using ImagePullSecrets/ServiceAccounts but it failed further down there by failing to start the container:

Status for PODS are set to CrashLoopBackOff .
[root@master ~]# kubectl get pods
NAME                                                READY     STATUS             RESTARTS   AGE
ipf-deployment-2355814806-8re95   0/1       CrashLoopBackO

[2017-04-20 14:51] errordeveloper commented on #240
Well, `kube-dns` won't run until network is ready. That flannel manifest is not the one you should use with 1.6, but I don't know where the 1.6 manifest is for flannel, you can get Weave Net with `kubectl apply -f https://git.io/weave-kube-1.6`.

[2017-04-20 16:54] coeki commented on #240
looks like you need a separate file to handle RBAC, `https://github.com/tomdee/flannel/blob/743bafee48b69a3a3f79e37bc806d741715f1dd2/Documentation/kube-flannel-rbac.yml`

[2017-04-20 17:56] pipejakob opened #250 "Create kubeadm presubmit e2e job"
kubeadm should have end-to-end tests that run against open pull requests and report success or failure before changes are merged. There's been pushback against creating new PR-blocking jobs given the current state of the world, but we should be able to at least auto-run against pull requests that change anything in `cmd/kubeadm/*`, and report the results so that honest contributors can catch and f

[2017-04-20 17:58] pipejakob commented on #250
Status: this job was created a while ago for experimentation [pull-kubernetes-e2e-kubeadm-gce.sh](https://github.com/kubernetes/test-infra/blob/master/jobs/pull-kubernetes-e2e-kubeadm-gce.sh), and there's a pending PR to fix a critical flaw in its prow pipeline: https://github.com/kubernetes/test-infra/pull/2509.

[2017-04-20 18:13] pipejakob opened #251 "Create process for triaging/fixing kubeadm test failures"
Now that we have continuously running [end-to-end tests](https://k8s-testgrid.appspot.com/google-gce#gce-kubeadm), and the desire to [add more](https://github.com/kubernetes/kubeadm/issues/190), we should create a shared process that sets expectations for community members around who should triage and fix kubeadm, or the tests themselves, when they start failing.

Here are some of the scenarios th

[2017-04-20 18:27] pipejakob opened #252 "Create kubeadm release process / checklist"
Now that kubeadm is Beta, and users generally expect quality releases, forwards-compatibility, etc., it's probably time to formalize and document the steps that our SIG needs to take for every release.

Here are some ideas, but they are by no means complete or agreed on yet:
- Clone existing release-branch end-to-end tests to run against the new release branch
  - Manually test against any support

[2017-04-20 20:51] dmmcquay commented on #250
@pipejakob let me know how I can help.

[2017-04-20 21:22] spdeshpande commented on #134
@shenshouer how did you resolve this? I am facing the same issue. kubeadm version is 1.6.1

[2017-04-21 04:42] sudhagarc commented on #163
+1

Looks like support for this issue is pushed out of 1.6 version. Is there any update on this issue? If anyone has solved it manually, that works for me.

[2017-04-21 11:52] coeki commented on #240
@pswenson Did that work for you?

[2017-04-21 12:31] coeki commented on #250
@pipejakob Not sure if this is the right place to say something, but most ppl follow the install doc, using apt-get or rpm's. This was a huge problem with the release (and still is, 1.6.2 is released, but no packages in the repo's, although one older release is, it should be all), the old, known working packages were not there. So ppl could not go back to what they knew was working. So testing e2e

[2017-04-21 19:58] pswenson commented on #240
@coeki Trying with weave first...  @errordeveloper  I still have the same issue with weave

this is a curl to the master from the worker
[code]
curl -v --insecure  https://MYIP.118.240.157:6443
* Rebuilt URL to: https://MYIP.118.240.157:6443/
*   Trying MYIP.118.240.157...
* Connected to MYIP.118.240.157 (MYIP.118.240.157) port 6443 (#0)
* found 173 certificates in /etc/ssl/certs/ca-certificates.c

[2017-04-21 20:03] pswenson commented on #240
@coeki I had same result with your suggestions... Is the pod network even needed to get past this step?

[code]

[2017-04-21 20:29] pswenson commented on #240
Update:  I just tested kubeadm with weave net on our old openstack env, which is configured with the exact same network configuration.  It works fine.

So there is something non-obvious  that is different about this new environment.  My problem is I don't see a way to debug this.....

[2017-04-21 23:06] buccella commented on #233
Looks like a duplicate of #224

[2017-04-22 02:13] sudhagarc commented on #51
I'm new to k8 & stuck/blocked by this issue. I'm using kubeadm v1.6.1. Is the issue addressed post that? Alternatively, if there is a manual way to solve it, I appreciate the instructions.

[2017-04-22 04:48] sudhagarc commented on #163
Found a hack/workaround for this issue:

Before running kubeadm join from node with different architecture, I pulled the correct docker image for the architecture and renamed (re-tagged) it to match the master's architecture. Then the kube-proxy container started fine.

E.g., In my case, node is raspberry pi 3 (arm) and my master is x86 (amd64). I executed the following command on my node, before

[2017-04-22 16:55] cmluciano commented on #218
I have been working on a reliable way of performing these e2e bring-ups  with several cni plugins on openstack.

I would love to contribute this work upstream in support of this issue.

###Open questions from my side

- Are the kubeadm e2e tests sufficient to verify the correctness of any particular cni plugin?
- Should they test only the latest tagged release of the cni plugin?
- Can kubeadm inst

[2017-04-23 05:50] mitchhh22 opened #253 "Kubeadm broken on armv6l"
I tried to install kubeadm on my raspberry pi zero W, but get an "Illegal Instruction"
On a raspberry pi 3 (armv7) it works just fine.

[2017-04-23 20:29] clabu commented on #253
I am facing the same issue with a Raspberry Pi Model B+, also armv6.
[code]

[2017-04-23 20:37] clabu commented on #253
I downgraded to kubeadm 1.5.6 and it works. 1.6.0 gives the same error as 1.6.1.

[2017-04-24 01:35] mitchhh22 commented on #253
@clabu yeah downgrading to 1.5.6 works but can't join a 1.6+ cluster.

[2017-04-24 12:54] dsalin commented on #130
Good afternoon,
I'm having the same issue with `Setting node annotation to enable volume controller attach/detach` repeating forever.

Did you manage to solve it somehow?
Thanks.

[2017-04-24 14:25] shenshouer commented on #134
@spdeshpande  The range of 10.100.0.0/12 is start at 10.96.0.1

[2017-04-24 16:03] timothysc opened #254 "RFE: Boot-strapping etcd cluster + operator"
## FEATURE REQUEST

This is one of several changes I'm proposing regarding kubeadm support for HA and I will cross link with the draft-doc I'd like to share tomorrow, which highlights the details, right now this is a placeholder to be cross-linked.

## Versions

All

/cc @kubernetes/sig-cluster-lifecycle-feature-requests

[2017-04-24 16:25] luxas commented on #246
Hi, you can set whatever API Server flag you like with `apiServerExtraArgs` like this:

[code]

[2017-04-24 16:25] #246 closed

[2017-04-24 16:48] luxas commented on #253
This is a known issue; it was discussed in https://github.com/kubernetes/kubernetes/issues/38067 and we dropped armel support (which part of RPi 1 uses when cross-compiling).

Basically armhf (GOARM=7) can't run on the Pi 1, so we used armel with GOARM=6 in -v1.5 to support RPi 1. However, we went all armhf in v1.6, hence it's not working on the Pi 1.

For example, https://hub.docker.com/r/armel/d

[2017-04-24 16:48] #253 closed

[2017-04-24 17:03] luxas commented on #243
@Dmitry1987 On AWS, different rules apply for Kubernetes.
cc @jbeda @justinsb can you help him out?

[2017-04-24 17:03] luxas commented on #243
Probably should be an other issue though...

@James-Dao @Dmitry1987's solution should work :+1:

[2017-04-24 17:03] #243 closed

[2017-04-24 17:05] luxas commented on #239
You can generate whatever cert kubeadm would normally produce in beforehand and kubeadm will use it, so this works already.

We should probably document this better though...

[2017-04-24 20:12] cheburakshu opened #255 "(Weave) Kubeadm reset on node not restoring initial state."
I used kubeadm join with token and ip address of master.
Immediately I had to reset it.
But, kubeadm does not delete the weave network.

FYI - I did not install weave on node. I installed only on master as per the kubeadm install guide.

How to recover the node?

[code]

[2017-04-24 20:22] solsson commented on #164
Same for me, with 1.6.1, Ubuntu 16.04.2 x64:

[code]

Docker indeed uses btrfs:
[code]

[2017-04-25 02:28] jeffchanjunwei commented on #193
Hi @TracyBin, how do you solve this problem at last?

[2017-04-25 02:32] TracyBin commented on #193
@jeffchanjunwei  It is the problem of iptables

[2017-04-25 02:52] jeffchanjunwei commented on #193
@TracyBin It doesn't work. kubedns-amd64:1.9 images still can not start. Errors as follows:

_kubectl describe pod kubedns_
`<invalid>    <invalid>    1    {kubelet k8sminion1}    spec.containers{kubedns}    Warning        Unhealthy    Readiness probe failed: Get http://10.233.124.95:8081/readiness: dial tcp 10.233.124.95:8081: getsockopt: connection refused`

_docker logs kubedns-amd_
E0425 02:28

[2017-04-25 16:23] xiang90 commented on #254
/cc @hongchaodeng

[2017-04-25 16:31] timothysc commented on #254
xref: https://docs.google.com/document/d/1lH9OKkFZMSqXCApmSXemEDuy9qlINdm5MfWWGrK3JYc/edit#

[2017-04-25 17:09] coeki commented on #255
@cheburakshu you can just clean up the docker instances eg `docker rm $(docker ps -a -q)`

But ideally before you reset, you would delete all deployments. But even then, probably still some traces will linger around in mount points on the host (eg `/etc/, /var/lib/` depending on the specific deployment).

A bug related to this was opened https://github.com/kubernetes/kubernetes/issues/44911

[2017-04-25 20:26] carlosedp commented on #248
Another option is adding a clusterrolebinding for the heapster account to have the cluster-admin role:

[code]

[2017-04-25 20:39] luxas commented on #248
Sorry @carlosedp, but that will give all kube-system Pods root access to the cluster which is nearly as turning of RBAC completely which is _extremely_ discouraged.

cc @liggitt @jbeda

The real fix for this problem is to create a ServiceAccount for heapster and grant the `system:heapster` ClusterRole to that ServiceAccount with a ClusterRoleBinding.

Please see: https://github.com/kubernetes/heap

[2017-04-25 21:13] carlosedp commented on #248
Added a comment to my original one regarding this. This solution was added to the RBAC documentation as a temporary fix while migrating to RBAC.

[2017-04-25 21:34] #234 closed

[2017-04-25 23:49] cheburakshu commented on #42
@luxas `kubeadm reset` does not delete the network interfaces. It does delete the /etc/cni/net.d though. Should it not do a complete reset? I did raise an issue with weavenet [here](https://github.com/weaveworks/weave/issues/2911), but it is more of a kubeadm cleanup issue.

[2017-04-25 23:53] cheburakshu commented on #255
@coeki I raised a bug on weavenet for which he opened it on kubernetes. Please see - https://github.com/weaveworks/weave/issues/2911 referenced in #44911.

[2017-04-26 07:01] rachlenko commented on #244
Same problem here. Could you explain what is a workaround?
Here my env:
CentOS Linux release 7.2.1511 (Core)
Kubernetes v1.6.1

[2017-04-27 13:54] coeki commented on #255
@cheburakshu My bad, didn't read the issue 44911 well.

But after reading a bit through that issue, and related issues, the question arises if this is a `kubeadm reset` related issue. Cause it seems that it's more a general problem of kubernetes, in handling a graceful shutdown/delete/error of pods and/or nodes/deployments, and what they are doing to a node/host.

As @bboreham pointed out, there's

[2017-04-27 23:39] pipejakob opened #256 "kubeadm e2e tests should upload relevant master/node logs"
When initialization of a cluster fails, our kubeadm e2e tests have an opaque error in the build log about not being able to fetch the `admin.conf` kubeconfig file from the master.

Here is one such instance:

    W0427 22:38:47.813] +(./do:60): fetch_kubeconfig(): sleep 5
    W0427 22:38:52.814] +(./do:64): fetch_kubeconfig(): echo Exhausted attempts to fetch kubeconfig.
    W0427 22:38:52.815] Ex

[2017-04-28 09:12] 4admin2root opened #257 "with KUBE_REPO_PREFIX, but the kubeadm is using "gcr.io/google_containers/pause-amd64""
## What keywords did you search in kubeadm issues before filing this one?
KUBE_REPO_PREFIX

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.6.1
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:3

[2017-04-28 13:02] luxas commented on #42
@cheburakshu Cleaning up the network is hard; you're free to install whatever networking solution you want, so therefore kubeadm can't know how to cleanup something it hasn't installed.

Unfortunately this is out of scope for kubeadm, we can't build in cleanup solutions for every single network provider.

[2017-04-28 13:08] luxas commented on #248
@sebgoa I fixed the heapster manifests: https://github.com/kubernetes/heapster/issues/1612

@carlosedp Thanks for editing the comment to say "test env only". The problem is that dev/test methods are sometimes likely to slip into production, therefore my relatively strong statement.

I hope you understand, I know the RBAC change is hard and kind of disruptive for apps since we're basically going fr

[2017-04-28 13:08] #248 closed

[2017-04-28 14:09] luxas commented on #257
This is due that kubelet operates independently of kubeadm. You have to edit the kubelet's manifest separately on all nodes in order to set `--pod-infra-container-image` which is the pause image.

kubeadm does never touch this part of the system.
You could probably fix it this way though:
[code]

[2017-04-28 14:10] #222 closed

[2017-04-28 14:22] traustitj commented on #239
Is there any info on this anywhere ?

[2017-04-28 20:23] zhuroy commented on #248
your version was working as it had ClusterRoleBinding, the official fix still complains
[code]

[2017-04-28 20:55] luxas commented on #248
@zhuroy It's expected that you apply both heapster.yaml and heapster-rbac.yaml if you use RBAC

[2017-04-28 21:30] hacktastic commented on #239
I would also like to know how this can be accomplished.

[2017-04-30 00:14] coeki commented on #215
Hi @dgoodwin So I refactored my vagrant dev pipeline, and it broke on fedora 25 (updated specs below), which is weird since the rpm's are build on fedora.

centos/7 (updated):

[code]

fedora 25 (updated):
[code]
docker inspect on Centos/7:
[code]
on fedora:

[2017-04-30 08:03] luxas commented on #239
Whatever cert that exist and is valid will just be used by kubeadm instead of generated.
The most common use case will be: put your CA cert and key in `/etc/kubernetes/pki/ca.{crt,key` and kubeadm will use that CA to sign the rest of the certs.

More information here: https://github.com/kubernetes/kubeadm/pull/156

[2017-05-01 11:12] P4z commented on #241
From a user point of view the error message clearly states that this is a serious (fatal) problem resulting in cluster initialization failure. This is my very first attempt to try the kubernetes and I have no idea about the impact of ```missing cgroups: memory``` on the setup. I will risk switching ```--skip-preflight-checks``` on this Jessie box equipped with Xenial repository for kubernetes but

[2017-05-01 13:08] dgoodwin commented on #215
I can understand the frustration as this has seemingly broke out from underneath us several times now, but first lets clarify exactly what broke? Are there denials in /var/log/audit/audit.log? Are there any other errors in docker's journald? What containers were running at the time? (docker ps) Were any containers failing, (docker ps -a) and if so, what was in their docker logs?

I tried to reprod

[2017-05-01 21:42] pipejakob commented on #250
@coeki I think I follow. So, right now, our end-to-end tests build a fresh set of `.deb`s as part of the CI process, and do `dpkg -i *.deb` to install them. It sounds like part of what you're suggesting is to at least have end-to-end tests that instead do `apt-get install kubeadm` to test the latest `stable`/`unstable` offerings, like users actually do while installing (and likely the equivalent `

[2017-05-01 22:34] coeki commented on #215
@dgoodwin, I'm sorry for my rant, I admit I was frustrated, cause last time I tested it on fedora/25-cloud-base, it seemed to work. But this was in one of the 1.6.alpha releases, where I build the binaries myself.

I know Fedora is officially not supported, but well centos and fedora having worked smiliar in the past, I still run it.

Probably something changed policy wise, at least the selinux la

[2017-05-01 23:59] Rev1408 commented on #257
how to fix this on minikube, there is no kubelet on minikube

Thanks

[2017-05-02 06:13] 4admin2root commented on #257
@luxas thank you very much. it works
[root@cloud4ourself-kubetest manifests]# cat /etc/systemd/system/kubelet.service
[Unit]
Description=kubelet: The Kubernetes Node Agent
Documentation=http://kubernetes.io/docs/

[Service]
Environment="KUBELET_EXTRA_ARGS=--pod-infra-container-image=reg-i.testpay.com/google_containers/pause-amd64:3.0"
ExecStart=/usr/bin/kubelet
Restart=always
StartLimitInterval=0

[2017-05-02 07:44] calvix commented on #239
@luxas  But this means that i have to put `ca.key` on the filesystem? This does not seem very secure.

The main issue is that cert management is enforced by `kubeadm`, I would rather like to manage whole cert process by myself (meaning by some other service) and just give the `kubeadm` path to cert it should use.

[2017-05-02 07:52] calvix commented on #239
I just read whole `phase` document, if i skip `cert` phase i should be able to  provide my own certs without need of providing `ca.key`

Questionis if there is some other step somewhere else which would break this. (maybe when running `kubeadm join` ?)

[2017-05-02 12:10] lukemarsden opened #258 "Changelog out of date"
The kubeadm guide (https://kubernetes.io/docs/getting-started-guides/kubeadm/) links to https://github.com/kubernetes/kubeadm/blob/master/CHANGELOG.md, but that doesn’t refer to any release that installs kube 1.6.

[2017-05-02 12:13] lukemarsden opened #259 "Reference to "old kubeadm" is broken link"
At https://kubernetes.io/docs/getting-started-guides/kubeadm/, the docs say:

The "See below" link (https://kubernetes.io/docs/getting-started-guides/kubeadm/#old-kubeadm) is broken.

[2017-05-02 12:20] lukemarsden opened #260 ""Master images" is out of date"
There's a table called "Master Images" at https://kubernetes.io/docs/getting-started-guides/kubeadm/ which is out of date, since it says 1.6.0 but clearly the latest version at time of writing installs 1.6.2.

[2017-05-02 12:25] dgoodwin commented on #215
Not a problem, it is frustrating keeping this functional. I'm not great with selinux but this is good info above, I will try to find some time to debug soon. We could perhaps just go spc_t for the apiserver it's just unfortuante to have to open that one up as well. (we do this for etcd so it can write to host disk, but thus far that was it)

[2017-05-02 14:45] timothysc opened #261 "Kubeadm HA ( high availability ) checklist"
The following is a checklist for kubeadm support for deploying HA-clusters.  This a distillation of action items from:
https://docs.google.com/document/d/1lH9OKkFZMSqXCApmSXemEDuy9qlINdm5MfWWGrK3JYc/edit#heading=h.8hdxw3quu67g

but there may be more.

New Features:
- [x] Option enable active<>passive locking via ConfigMaps https://github.com/kubernetes/kubernetes/issues/44857
PR: https://github.co

[2017-05-02 15:05] mikedanese commented on #260
Can we delete that? There's no way we will ever be able to keep that up to date.

[2017-05-02 15:47] lukemarsden commented on #260
I think someone in China wanted to have the list so that they can sideload the images avoiding the great firewall.

[2017-05-02 16:16] justinsb commented on #254
Tracking some issues here: https://github.com/coreos/tectonic-installer/issues/257

[2017-05-03 04:52] ozdanborne opened #262 "fresh kubeadm 1.5 install fails due to existing /var/lib/kubelet"
If you follow the kubeadm 1.5 install instructions to the T your master won't succesfully init because `/var/lib/kubelet` already exists. seems `/var/lib/kubelet` is created when installing kubelet in this line

[code]

So users will need to `kubeadm reset` before their first  `kubeadm init`.

[2017-05-03 09:23] ShahNawazKhan commented on #51
Hi all,
Any updates on this? My cluster (Linux hosts & VMs) works fine till I try to join a Pi3 in the mix. The issue is that the Master (Ubuntu) downloads amd64 images for kube-proxy and weave net. I thought this shouldn't happen as the master labels the node as arm architecture.

[2017-05-03 10:04] ShahNawazKhan commented on #163
@sudhagarc Is the hack still working for you? The false tagging on Pi3 does not work for me as the proxy and weave net pods go into crashloopbackoff.

[2017-05-03 13:17] jamiehannaford opened #263 "Verify apt-get and yum package managers in e2e tests"
In https://github.com/kubernetes/kubeadm/issues/250#issuecomment-296178197, one user suggested that the e2e tests should verify kubeadm works using other linux distro package managers:

It doesn't seem that our e2e tests are catching regressions at the package level:

[2017-05-03 13:19] jamiehannaford opened #264 "Test pinned releases are still accessible"
In https://github.com/kubernetes/kubeadm/issues/250#issuecomment-296178197, a user suggested adding tests to verify that historic releases are still accessible in package managers.

This could be a corollary of #263.

[2017-05-03 13:23] jamiehannaford commented on #250
@coeki @pipejakob I created those issues (https://github.com/kubernetes/kubeadm/issues/263, https://github.com/kubernetes/kubeadm/issues/264)

[2017-05-03 13:24] aitorhh commented on #163
I can summarize the problems and how I solved to have the multi-platform cluster:
* architecture of images (kube-proxy) is set based on the master node (cmd/kubeadm/app/images/images.go)
* multi-images not supported by docker yet but available in registry

So, to solve the multi-platform with kubeadm:
* use manifest tool to support docker images with schema V2. [prototype tool available here](http

[2017-05-03 13:42] jamiehannaford commented on #251
I think 1 will tie into the usual feedback cycle for PRs: if a PR build fails, the contributor can incorporate changes to get the e2e tests to pass again. That's their prerogative.

For 2 I agree that it's the contributor who should take primary responsibility for calibrating their code with the existing suite of tests, regardless of whether they're unit or e2e, and making sure they verify the (ne

[2017-05-03 19:12] coeki commented on #250
@pipejakob That was what I meant, yes.

@jamiehannaford Thanks for creating those issues.

[2017-05-03 20:17] pswenson commented on #240
Closing.. .turned out the the MUT was setup inconsistently in our openstack.  so the api join packet was being dropped.  kubeadm had nothing to do with the prob

[2017-05-03 20:17] #240 closed

[2017-05-05 10:46] mongrelion commented on #203
I'm currently having issues setting up a Kubernetes cluster in DigitalOcean because of this. By default, kubelet will bind and expose/broadcast the ip of the default gateway, which in these cases is the public IP facing Internet traffic. Then when getting to the point of setting up a pod networking add-on (like Weave) the whole hell breaks loose because the master's advertise IP is the internal ne

[2017-05-05 14:41] jamiehannaford commented on #254
Unless someone else has claimed it, I'd like to work on this feature if that's okay

[2017-05-05 15:29] timothysc commented on #254
@jamiehannaford go for it.  I'd be happy to help it along where I can.

[2017-05-06 14:16] timothysc opened #265 "RFE: Create a kubeadm man page"
We're missing a man page and TBH I think

https://kubernetes.io/docs/admin/kubeadm/

should be just be a reference to it.

/cc @kubernetes/sig-cluster-lifecycle-bugs

[2017-05-08 09:20] Slahser opened #266 "kubeadm v1.6.0 daemonset empty"
thx for your works first.

![screen shot 2017-05-08 at 17 17 59](https://cloud.githubusercontent.com/assets/3760744/25798091/63cf698e-3412-11e7-8a25-880cdc2c5109.png)

kubernetes v1.6.2
kubeadm v1.6.0

I think this is  a serious bug ....

will we have a v1.6.1 to fix this someday?

[2017-05-08 11:46] luxas commented on #266
Hmm, how is this related to kubeadm?
None of these DaemonSets are deployed by default and shouldn't be...

How many nodes do you have in your cluster? Only one master or...?

[2017-05-08 11:49] Slahser commented on #266
I saw a same issue before but forget the keyword...

[code]

![screen shot 2017-05-08 at 19 48 41](https://cloud.githubusercontent.com/assets/3760744/25802967/6368b7e2-3427-11e7-9666-a7cc55e1accd.png)

[2017-05-08 11:51] Slahser commented on #266
hah,i put this in a  wrong place ...sorry

close it

[2017-05-08 11:51] #266 closed

[2017-05-08 15:47] mongrelion commented on #203
I just wanted to confirm that adding the `--node-ip=<private-worker-ip>` option to the settings in the `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` file won't fix this issue for the setup that I explained before. Even though the nodes are listening on this interface Kubernetes keeps on using the default gateway to communicate between nodes, which in this case is the public IP address.

[2017-05-08 20:58] fabriziopandini opened #267 "Kubeadm phase implementation checklist"
This checklist tracks action items for implementing phases in kubeadm, addressing @luxas [proposal](https://github.com/kubernetes/kubeadm/pull/156/files) and related comments.

Common implementation guidelines and principles for all phases are defined [here](https://docs.google.com/document/d/1VQMyFIVMfRGQPP3oCUpfjiWtOr3pLxp4g7cP-hXQFXc/edit?usp=sharing)

**Core activities**
- [x] kubeadm phase ce

[2017-05-09 21:53] coeki commented on #215
@dgoodwin I found the root cause in Fedora 25, it's the fact that process type `container_t`, can't read a file that is not labeled type `container_file_t` or `container_ro_file_t`, which clashes, as the certs created on the host are labeled `cert_t`.

This post from @rhatdan explains a tightening of the container_selinux policy:
http://www.projectatomic.io/blog/2017/02/selinux-policy-containers/

[2017-05-09 23:35] vikashrepo commented on #239
@calvix @luxas
How can I skip the kubeadm phase certs selfsign ?
And are there any implications ?

[2017-05-10 08:13] gousse commented on #211
same issue here
cluster installation done with kubeadm

**$ kubeadm version**
[code]
**$ kubectl version**
[code]

**list pods runnings:**
[code]

**Logs from a pod running on the master:**
[code]

**try to get logs for a pod running on a node**
[code]

[2017-05-10 11:56] rhatdan commented on #215
container_auth_t is a context assigned to docker authorization plugins, not to container processes.

[2017-05-10 11:57] rhatdan commented on #215
Simplest case is to run as spc_t, but we need to make it easier to extend the SELinux policy for container processes to add these types of rules.  I will take a quick look at doing this.

[2017-05-10 18:56] luxas commented on #239
You can generate all files kubeadm normally creates on beforehand and kubeadm will automatically skip the self-signing of the cert.

And yes, the ca.key has to exist on disk, the controller-manager is using/consuming it from there for TLS bootstrap signing of new node certs.

However if you want to make things more secure you can chain different CAs for different levels of trust...

[2017-05-10 19:13] ilackarms commented on #34
just to clarify; has this feature been implemented and is awaiting documentation? or it has not been implemented? what's the workflow to pre-pull an image? if not, do you need help to move this along?

[2017-05-10 19:45] AlainRoy commented on #239
@luxas: I wonder if you can explain a bit further. I'm not sure if this is an architectural decision or a temporary limitation while kubeadm is being developed.

We would like to deploy Kubernetes in a way that is as standard as possible. My preference is to use kubeadm (I know it's not stable yet--that's okay, because it's getting there), but I want to provide all the certificates. My CA is a rea

[2017-05-10 19:59] luxas commented on #239
@AlainRoy Requiring a valid/usable CA key is not a kubeadm limitation/requirement, it's a Kubernetes generic one. See https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-tls-bootstrap.md for an introduction to TLS bootstrapping which is heavily used in clusters.

However, why not try to get a Kubernetes-specific CA (with access to both cert and key) signed by

[2017-05-10 21:42] fabriziopandini commented on #267
Create PR [Implementing phases in kubeadm - step 1: phase certs #45617](https://github.com/kubernetes/kubernetes/pull/45617)

[2017-05-10 22:09] joelbirchler commented on #260
It's also useful information for anyone in a more restricted enterprise environment. I don't know that it needs to be tracked on the guide though. Is there a configuration file that lists the images and versions instead?

(Note: It's 1.6.3 now).

[2017-05-11 08:31] #226 closed

[2017-05-11 16:29] AlainRoy commented on #239
I'm confused, but maybe I'm just not reading the proposal correctly. It looks like a CA key is not required, but is optional:

Am I mis-reading it?

[2017-05-11 18:05] gousse commented on #211
I found the reason.
Its the no_proxy that must be set to include all nodes ip
otherwise it try to use the proxy, and thats the proxy which answer Forbiden

[2017-05-11 18:08] mikedanese commented on #239
Kubernetes system component auth (for kubeadm and other deployment automation) is being developed around the certificates API. To use it, you need a functional certificates API. Alternatively you can opt out and roll your own.

Functional certificates API != CA keys stored on the master. All it means is that something is servicing certificate signing requests. This could be a shim between your CA

[2017-05-11 20:29] fabriziopandini commented on #267
Verifying if (fix cert dir in kubeadm #45008)[https://github.com/kubernetes/kubernetes/pull/45008 address] addresses "Fix behaviour of parameters insensible to KUBE_KUBERNETES_DIR env var"

[2017-05-11 21:20] fabriziopandini commented on #267
Follow discussion about [fix kubeadm args #43558](https://github.com/kubernetes/kubernetes/pull/43558); it could address or drop "Review priority for settings flags: command line flags > config file > ENV vars > defaults (to be confirmed)"

[2017-05-11 22:16] klizhentas commented on #190
@pipejakob I'm working on the issue #218  and was digging into current test infra for kubeadm. As a result I wrote this guide, can put it to the right place once I figure out where to put it. Comments are appreciated :)

# Hacking on Kubeadm e2e tests

## Set up Tools

**GOPATH**

This guide is using GOPATH, but you are welcome to switch it to any other directory

Set up gopath here:

https://gola

[2017-05-11 22:18] klizhentas commented on #190
I'm also getting error running weave tests btw:

[code]

[2017-05-11 23:38] pipejakob opened #268 "Start kubelet in e2e tests"
Apparently, our kubeadm e2e tests were relying on buggy behavior that was recently fixed (https://github.com/kubernetes/kubernetes/pull/45231), which was causing `kubeadm init` and `kubeadm join` to start the `kubelet` service, even though preflight checks were disabled. Now that this behavior has changed, our e2es are failing (in part) because `kubelet` never starts. Unlike our release .debs, the

[2017-05-12 00:07] mikedanese commented on #268
I like 1.

[2017-05-12 00:12] mikedanese commented on #268
I like 1. For 2, I think that it's best practice for packages to default to "don't enable" but obey systemd-preset (which we don't do). 3 sounds ok as well.

https://www.freedesktop.org/software/systemd/man/systemd.preset.html

[2017-05-12 01:33] juntaoXie commented on #228
@rushabh268 hi, I have the same issue on Redhat Linux 7.2. After updating the systemd, this problem is solved. You can try to update systemd before installation.
`yum update -y systemd`

[2017-05-12 09:07] mikesimons opened #269 "etcd pause container fails to start due to SELinux error on CoreOS"
## Versions

**kubeadm version**:
[code]

**Environment**:
- **Kubernetes version**:
[code]
- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

- **Other**:
[code]

## What happened?
Attempting `kubeadm init` the process stalls at `waiting for the control plane to become ready`. The etcd pause container is cras

[2017-05-12 09:33] luxas commented on #260
It should just be moved to the kubeadm reference page and specify things on a release branch level.
That is, leave it as `1.6.x`

Anyone wanna pick that up here?

[2017-05-12 09:35] luxas commented on #211
@gousse Could you document that on the kubeadm reference page, please?

[2017-05-12 09:37] luxas commented on #190
@klizhentas You should use `git.io/weave-kube` for v1.5 and `git.io/weave-kube-1.6` for v1.6

[2017-05-12 09:38] luxas commented on #269
Is this a dupe of https://github.com/kubernetes/kubeadm/issues/215?

[2017-05-12 09:39] luxas commented on #269
Currently we say that you should do `setenforce 0` until that issue is fixed

[2017-05-12 10:58] mikesimons commented on #269
@luxas Nope. This happens even when you use `setenforce 0`.

[2017-05-12 11:03] mikesimons commented on #269
[code]

[2017-05-12 11:24] pineking commented on #193
@jeffchanjunwei  do you solve this problem?

[2017-05-12 13:21] mikesimons commented on #269
Related? https://github.com/coreos/bugs/issues/1580

I'm not sure if the SELinux error that I observed is the cause of the pause container failure or just coincidental.

[2017-05-12 13:24] mikesimons commented on #269
And one more... https://github.com/moby/moby/issues/20798

[2017-05-12 17:41] AlainRoy commented on #239
Thanks, I've been doing some background reading based on your responses, and it's fitting together. I had some concerns about the idea of putting my CA private key on the Kubernetes master, but it's clear that we could implement an alternative CSR controller that would meet our security requirements.

Thanks!

[2017-05-12 18:19] mikedanese commented on #239
We do this in GKE if you want to take a look at the sample code:

https://github.com/kubernetes/kubernetes/tree/master/cmd/gke-certificates-controller

[2017-05-12 20:27] timothysc commented on #261
/assign timothysc jamiehannaford

[2017-05-12 21:07] klizhentas commented on #190
@luxas that's actually because my host local kubectl is not the same version as the tested host

[2017-05-13 14:07] kartoch commented on #262
Problem still present in 1.6.3.

[2017-05-15 02:16] jeffchanjunwei commented on #193
@pineking yes. It is the cause of network that results into the problem.

[2017-05-15 04:26] AlainRoy commented on #239
Thanks @mikedanese, that's very helpful.

[2017-05-16 08:30] frankruizhi commented on #193
I got the same issue,my kubedns log :

[root@k8s ~]# kubectl logs --namespace=kube-system $(kubectl get pods --namespace=kube-system -l k8s-app=kube-dns -o name) -c kubedns
I0516 07:38:31.041503       1 dns.go:42] version: v1.6.0-alpha.0.680+3872cb93abf948-dirty
I0516 07:38:31.042564       1 server.go:107] Using https://10.254.0.1:443 for kubernetes master, kubernetes API: <nil>
I0516 07:38:31.043

[2017-05-16 21:49] tomdee commented on #211
I'm hitting this at the moment - a work around would be great!

[2017-05-17 06:39] akarasik commented on #133
Hello,

We are having the same issue as @WIZARD-CXY.
Is there any update regarding this?

Thanks!

[2017-05-17 10:51] luxas commented on #133
cc @jamiehannaford
Maybe you could take a look and see if the etcd slice doesn't get parsed correctly?

[2017-05-17 11:07] luxas opened #271 "Add option to opt out of using a token **for discovery**"
Possible ways to do this:
a) Add a new flag (`discovery-(mode|type)` for instance) along with a config option
b) Config option only
c) Allow a "magic-value" of `--token` in `kubeadm init`
d) ...

I think a) would be the best option.

Why? Because folks will have other ways to move around the cluster information (masters, CA certs, auth token etc.)

@justinsb This one is for you ;)
Everyone doesn't

[2017-05-17 12:20] erikbgithub opened #272 "No service for endpoints"
## What keywords did you search in kubeadm issues before filing this one?
"service"

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:38:08Z", GoVersion:"go1.7.5

[2017-05-17 12:22] jamiehannaford commented on #133
@WIZARD-CXY @akarasik What version of `kubeadm` and `etcd` are you using? I've just tried with the following and it worked for me:

[code]
Also where did you access the `kubeadm.MasterConfiguration` struct? Was it dumped out automatically or did you add debug logic to a file?

[2017-05-17 15:14] tomdee commented on #211
I spent a while trying to use `no_proxy` both with `*` and with the IP addresses of all the nodes, but it still still resolve the problem. Any specific guidance would be really useful

[2017-05-17 18:16] ozdanborne commented on #218
I am going to get started adding Calico as an option to kubernetes-anywhere.

I noticed there is a PR open to add Flannel as well: https://github.com/kubernetes/kubernetes-anywhere/pull/390

[2017-05-17 22:48] pipejakob commented on #218
@cmluciano I'll do my best to answer your questions:

Probably not, but a great start. The kubeadm e2e tests just initialize a Kubernetes cluster using kubeadm, and then run the Kubernetes Conformance tests against it. These are aimed at testing the correctness of a cluster, but I don't think are guaranteed to trigger every networking edge case (especially the more interesting/hairy ones like fail

[2017-05-18 01:19] WIZARD-CXY commented on #133
@jamiehannaford kubeadm 1.6.1 etcd 3.0.17
I got kubeadm.MasterConfiguration struct though a simple debug print .Maybe I will upgrade kubeadm and try it again today and I will update the result here. Thanks for your help

[2017-05-18 02:49] WIZARD-CXY commented on #133
@jamiehannaford kubeadm 1.6.3 works like a charm.

[2017-05-18 09:18] jamiehannaford commented on #133
@Lokicity Are you still encountering problems with newer versions of kubeadm?

[2017-05-19 01:39] frankruizhi commented on #193
I have found the solution to my problem:
1.First,we should make sure the ip-forward enabled on the linux kernel of every node.Just execute command:
sysctl net.ipv4.conf.all.forwarding = 1
2.Secondly,if your docker's version >=1.13,the default FORWARD chain policy was DROP,you should set default policy of the FORWARD chain to ACCEPT:$ sudo iptables -P FORWARD ACCEPT.
3.Then the configuration of the

[2017-05-19 14:43] gjcarneiro opened #273 "Install on a system using `systemd-resolved` leads to broken DNS"
## What keywords did you search in kubeadm issues before filing this one?
systemd resolved dns

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.6.3
**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.6.3
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 17.0

[2017-05-20 05:26] warmchang opened #274 "kubeadm returned "Illegal instruction" on Raspberry Pi Model B+ device."
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

https://github.com/kubernetes/kubernetes/issues/45785 , move the issur from kubernetes repo to kubeadm by @grodrigues3 's advice.

**Kubernetes version** (use `kubectl version`):
kubernetes-cni (0.5.1-00)
socat (1.7.2.4-2)
kubelet (1.6.3-00)
kubectl (1.6.3-00)
kubeadm (1.6.3-00)

**Environment**:
- **Cloud provider or hardware

[2017-05-20 22:16] fabriziopandini commented on #202
I'm working on a PR on this and #209

[2017-05-20 22:16] fabriziopandini commented on #209
I'm working on a PR on this and #202

[2017-05-20 22:24] mcapuccini commented on #202
Nice!! We are working it around in KubeNow at the moment https://github.com/kubenow/KubeNow/blob/master/bootstrap/node.sh

[2017-05-21 11:05] luxas commented on #202
@fabriziopandini How do you envision fixing this?

We have to take authorization/authentication aspects into account, and they will be/are very tricky.

I'd just say that still the best approach:
[code]

Also, right now, `kubeadm join` is unblocking (just creates the credentials for the kubelet and writes to a file). This would be a major change in behavior since it would make `kubeadm join` block

[2017-05-21 11:06] luxas commented on #209
See my comment: https://github.com/kubernetes/kubeadm/issues/202#issuecomment-302929790

[2017-05-21 17:58] fabriziopandini commented on #202
@luxas, I started to explore an approach similar to taint and labeling for master nodes, but of course I can switch to the drop-in approach if the second one is preferred.

Apart from athentication and authorizatio, another potentially tricky area I see so far is the idenfication of the node name picked up by kubelet...

[2017-05-22 05:11] leah03 opened #275 "Make it possible to use admin.conf for input to kubeadm init?"
Can I just use my own admin.conf before kubeadm init and after that kubeadm will use the file for authorization? This will be really convenient for accessing this cluster outside it because I don't need to process the certs and keys each time.

[2017-05-22 10:15] ZongqiangZhang commented on #228
I hit this issue on CentOS 7.3. The problem is gone after I uninstall docker-ce and then install docker-io.
I am not sure if it's the root cause. Anyway, you can have a try if above methods do not work.

[2017-05-23 07:57] fabriziopandini commented on #202
@luxas, I'm checking the drop-in option, and it seems that label and taints created by kubelet are applied only at node join (and thus not enforced at every node/kubelet restart). This behaviour is more than fine for me. what do you think about?

The last point to be verified on this approach is how to issue a systemctl daemon-reload command if the kubelet service is already running. Any suggestio

[2017-05-23 10:29] jamiehannaford commented on #261
@timothysc In order to do `Enable support to ComponentsConfigs to be loaded from ConfigMaps`, doesn't both the controller-manager and scheduler need to be able to boot their config from a configmap first? Or is the plan just to add in the configmap manifests to kubeadm so that we can use the new leadership election feature, and pave the way for future configmap use as and when it's implemented?

[2017-05-23 11:18] JedenPies2 opened #276 "kube-proxy is not proxying"
**kubeadm version** (use `kubeadm version`): kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.3", GitCommit:"0480917b552be33e2dba47386e51decb1a211df6", GitTreeState:"clean", BuildDate:"2017-05-10T15:38:08Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):Client Version: version.Info{Major:"1", Minor

[2017-05-23 14:54] jazemzer commented on #231
I'm facing the exact same issue:

[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.6.4
[init] Using Authorization mode: RBAC
[preflight] Running pre-flight checks
[preflight] The system verification failed. Printing the output from the verification:
OS: Linux
KERNEL_VERSION: 3.10.0-514.6.1.el7.x86_64
CONFIG_NAMESPACES: enabled

[2017-05-23 14:55] jazemzer commented on #231
I'm facing the exact same issue

[2017-05-23 15:17] timothysc commented on #276
Did you check your firewall settings?

[2017-05-23 15:21] timothysc commented on #261
@jamiehannaford There are 2 parts.

1. Part is to just load Controller Manager and Scheduler from a file.  The plan of record is to use a serialized ComponentConfig object for this.  Once that work is done.. ~ 1.8 @mikedanese ?

2. From there just volume mounting a ConfigMap will allow this load and also provide the locking location.

[2017-05-23 15:27] ncdc commented on #261
I do hope to have time to work on ComponentConfig for all the remaining components over the next couple of releases.

[2017-05-24 01:22] pipejakob commented on #274
Unfortunately, support for the first generation Raspberry Pi was dropped in the 1.6.0 release and onward (see https://github.com/kubernetes/kubeadm/issues/253#issuecomment-296738890 for greater detail). If you're just looking to experiment with Kubernetes using kubeadm and you don't care about security, I believe you should still be able to be use 1.5.x releases (the newest of which is 1.5.7). You

[2017-05-24 01:34] timothysc commented on #120
@harsha544 is this still an issue or can we close now?

[2017-05-24 01:53] warmchang commented on #274
@pipejakob thank you for your advice! I'll try the 1.5.x releases.

[2017-05-24 01:55] timothysc commented on #255
/cc @klizhentas

[2017-05-24 02:14] timothysc commented on #231
I do not see this running 1.6.4 on CentOS 7.3 with Docker 1.12.6

Can you repro on this stack ^ ?

[2017-05-24 03:31] harsha544 commented on #120
I'll mark as as close. I'll work with Manju incase i find any difficulties.

[2017-05-24 03:31] #120 closed

[2017-05-24 09:26] jamiehannaford opened #277 "Finding a solution for etcd"
A few weeks a go some folks on Slack brought up the idea of defining requirements for highly available etcd on kubeadm-provisioned clusters. The idea was to define requirements before the implementation of any solution. This discussion was continued in the sig-cluster-lifecycle meeting on [May 16th 2017](https://docs.google.com/document/d/1deJYPIF4LmhGjDVaqrswErIrV7mtwJgovtLnPCDxP7U/edit#heading=h

[2017-05-24 09:43] jamiehannaford commented on #277
My proposed solution is the [etcd-operator](https://github.com/coreos/etcd-operator), since it provides nearly all criteria out of the box:

- High availability
  - [x] Recovers from member failure (see [here](https://github.com/coreos/etcd-operator#member-recovery))
  - [x] Recovers from quorum loss (see [here](https://github.com/coreos/etcd-operator#disaster-recovery))
  - [x] Recovery from full

[2017-05-24 16:04] xiang90 commented on #277
see https://github.com/kubernetes-incubator/bootkube/pull/528

[2017-05-24 21:46] timothysc commented on #274
Closing, please reopen if there is still an issue.

[2017-05-24 21:46] #274 closed

[2017-05-24 22:19] timothysc commented on #202
@fabianofranz Is there a PR that you wanted to get for 1.7?

[2017-05-24 22:20] timothysc commented on #277
@jamiehannaford if there is a branch you would like reviewed I'd be happy to go through it now.

[2017-05-24 22:32] timothysc commented on #255
xref: https://github.com/kubernetes/community/pull/483/files seems like the proper way the system should behave and it's not a kubeadm issue, but we should definitely document the cleanup process.

[2017-05-25 02:55] mikedanese opened #278 "document how to upgrade a non-selfhosted kubeadm cluster"
Since kubeadm was promoted to Beta in 1.6, which implies forwards-compatibility, we need a plan for cluster owners to be able to upgrade their 1.6.x kubeadm clusters to 1.7.x (and ideally, to other 1.6.x releases) for the 1.7.0 release.

There is a separate effort for supporting a `kubeadm upgrade` subcommand that relies on self-hosted clusters, but self-hosting was not the default in 1.6, and imp

[2017-05-25 07:48] renhuailin commented on #226
@cheinig  Thank you,  I  had the same problem.    and I installed the dnsmasq ,then add `127.0.0.1` to '/etc/resolv.conf', now it works.

[code]

My '/etc/resolv.conf':

[code]

[2017-05-25 08:55] bboreham commented on #255
FWIW, I believe https://github.com/kubernetes/community/pull/541 is a better match for 98% of the problem wrt Weave Net: we can clean up in `preStop` if we know it's forever.

The other 2% of the problem is things like "the pod already died when you're trying to delete it", and I'm not sure there is any complete solution in that scenario.

[2017-05-25 12:53] jamiehannaford commented on #277
@xiang90 Awesome. So if a failed upgrade occurs, the user can manual restore from a backup file. Is there a way that etcd can automatically check specific locations (like local FS, S3) for backups without the user needing to specify one manually?

For example, assume that the etcd-operator has been backing stuff up to a S3 container. When it initialises it checks the same bucket and boots from the

[2017-05-25 12:55] jamiehannaford commented on #277
@timothysc Thanks! The only branch I have is the one I submitted in [my PR](https://github.com/kubernetes/kubernetes/pull/45665) (on hold until we agree on a next step forward). I think you've already gone through this though. Unless you meant something else?

[2017-05-25 17:25] lukemarsden commented on #278
@mikedanese do you think you would be able to write up some notes on this? I'm happy to turn rough notes into a docs PR if that helps.

[2017-05-25 19:41] timothysc commented on #273
So kubeadm doesn't lay down the kubelet startup, that's done in the system unit file, which is done here: https://github.com/kubernetes/release

/cc @marcoceppi @castrojo  - this appears to be an ubuntu default for desktop setups.

[2017-05-25 19:47] timothysc commented on #225
@mikedanese how are you guys managing your repos?  Sounds like we need a repo per version similar to how OS's distribute.  1.5.x, 1.6.x, -testing

[2017-05-25 20:14] mikedanese commented on #225
This is already done:
https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-amd64/Packages

[2017-05-25 20:14] #225 closed

[2017-05-25 20:18] timothysc commented on #250
@kubernetes/sig-testing-feature-requests I'd really like to get this into the merge blocking test suite.  I mean if kops can, this should.  /cc @spiffxp @fejta

[2017-05-25 20:23] timothysc commented on #217
Could you re-try with the latest 1.6.4 versions.  It looks from you command line output that you had a mismatch on tool versions a mix of 1.5 and 1.6.

[2017-05-25 20:26] timothysc commented on #192
@ivan4th did you have a PR planned or in flight?

[2017-05-25 20:33] timothysc commented on #210
@edenxia

Yes please, but I don't know exactly where to add it under https://github.com/kubernetes/kubernetes.github.io

[2017-05-25 20:49] timothysc commented on #269
You'd likely need to update selinux policy...
@philips is there someone that could investigate selinux policy on your end?

[2017-05-25 20:59] rushabh268 commented on #228
@ZongqiangZhang  I have docker 1.12.6 installed on my nodes. @juntaoXie I tried updating systemd as well and its still stuck

[2017-05-25 21:17] timothysc commented on #228
So I've been running Centos 7.3 w/1.6.4 without issue on a number of machines.

Did you make certain you disabled selinux?

[2017-05-25 21:46] timothysc commented on #255
So I'm going to close this one as it's not really kubeadm so much as the kubelet and weave.

[2017-05-25 21:46] #255 closed

[2017-05-25 21:49] timothysc commented on #263
I'd like to make a -testing repo so we can make a merge blocking job.

[2017-05-25 22:16] ivan4th commented on #192
@timothysc as of the Go rewrite, not yet. Original [kubeadm-dind-cluster](https://github.com/Mirantis/kubeadm-dind-cluster) project has already gained the features described in "coming update" section here though. For the rewrite there's now community proposal: kubernetes/community#629

I'd love to move quicker but unfortunately that's not the only project I'm working on.

Closing this PR in favor

[2017-05-25 22:16] #192 closed

[2017-05-25 22:54] rushabh268 commented on #228
@timothysc I have CentOS 7.2 and not CentOS 7.3

[2017-05-26 01:25] fejta commented on #250
First step is to ensure it runs on every PR with reporting enabled. I think reporting is disabled?

After that then ensure it flakes less than others: http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2017-05-26 06:11] kargakis commented on #250
Consider enabling the kubeadm self-hosted mode in the job.

[2017-05-26 15:11] timothysc commented on #250
'self-hosted' imo is not ready for prime time.   full-stop.

[2017-05-26 17:10] fabriziopandini commented on #275
Might be I can help here

If you can copy a ca.key and a ca.crt used to sign your admin.conf file under /etc/kubernetes/pki before running kubeadm, kubeadm won't generate a new ca, an thus your admin.conf will work also on the new cluster

[2017-05-26 18:38] agsergi commented on #203
I'm having the same problem. I tried your method and it didn't work for me either. Did you manage to make it work?

[2017-05-26 22:26] timothysc commented on #278
Don't we need to jig some form --upgrade of basic manifest drop from kubeadm, otherwise it's a hodge-podgery of downloading YAMLs.

So here is how I upgraded.
1. yum/apt-get update kubelet kubernetes-cni ...
2. I created a new machine with a new manifests for v1.7.0-alpha.4
3. systemctl restart kubelet  (worked fine no issue)
4. Copied over the new manifests - system updated properly

What was con

[2017-05-26 22:31] mikedanese commented on #278
How did you generate new manifests?

[2017-05-26 22:48] timothysc commented on #278
ran my hijacked `kubeadm init` on a clean machine.

[2017-05-26 22:57] mikedanese commented on #278
hmm. we might be able to make that cleaner. What if we had a kubeadm reset --partial which didn't delete the certs or etcd data?

[2017-05-26 23:07] timothysc commented on #278
Why not just copy the reset cmd, trim it down, and rename it to update/upgrade?

[2017-05-27 10:00] heartarea commented on #103
run  `journalctl -xeu kubelet`  then see logs
'error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs
systemd[1]: kubelet.service: main process exited, code=exited, status=1/FAILURE
systemd[1]: Unit kubelet.service entered failed state.
systemd[1]: kubelet.service failed.'

kubelet's  cgroup drive

[2017-05-28 20:21] johnharris85 commented on #66
Was this fixed? I still get the CrashLookBackOff on non-master nodes until I manually add the route (clean / up-to-date install of kubeadm etc...).

[2017-05-29 06:12] fabriziopandini commented on #202
@timothysc this PR  for me is eligible for 1.7, but it mostly depends by the agreement on the discussion above (I implemented @luxas suggested approach,  but I'm not sure ifor there is convergence on it)

[2017-05-29 13:01] luxas commented on #278
What's the plan here @timothysc @mikedanese @pipejakob?

[2017-05-29 13:04] luxas commented on #277
@jamiehannaford Feel free to. I'm gonna try to look at the TLS Secrets PR this week so it might yet change (@andrewrynhard), but I don't expect it to be part of v1.7 to give us a little more time to think about it until v1.8

[2017-05-29 13:18] luxas commented on #275
It's very hard to do this because the CA private key is not in the admin.conf file, so it can't be extracted just like that. You will have to touch certs in any case.

@leah03 Can you provide more information about your use-case please?

[2017-05-29 13:20] luxas commented on #273
@timothysc @marcoceppi @castrojo Critical for v1.7?

[2017-05-29 13:21] luxas commented on #272
@timothysc Dupe of #273?

[2017-05-29 13:29] luxas opened #279 "Document kubeadm usage with SELinux"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

COMMUNITY REQUEST

## Versions
All

We need e2e tests that ensure kubeadm works with SELinux on CentOS/Fedora (https://github.com/kubernetes/kubeadm/issues/215) and CoreOS (https://github.com/kubernetes/kubeadm/issues/269)

We might be able to add a job for it on kubernetes-anywhere @pipejakob ?

IIUC kubeadm i

[2017-05-29 13:31] luxas commented on #279
@pipejakob I added the `kind/postmortem` label as it's in the same theme, we broke SELinux users again without noticing it...

[2017-05-29 13:32] luxas commented on #215
@rhatdan @coeki @dgoodwin I'd love to proceed on this (see https://github.com/kubernetes/kubeadm/issues/279)

Can I assign this to any of you?

[2017-05-29 13:33] luxas commented on #268
@pipejakob What's the status of this issue?
Which option did you choose?

[2017-05-29 13:35] luxas commented on #267
I'm gonna incorporate this into my proposal (#156) in the next coming days...
Thanks!

[2017-05-29 13:39] luxas commented on #265
@timothysc Is the new title correct?

Are you envisioning to work on this for v1.8?
Maybe @fabriziopandini can work on these man pages in the meantime?

[2017-05-29 13:40] luxas commented on #264
cc @mikedanese @pipejakob who own the apt/yum repos

@jamiehannaford What should this test look like? Where would it live?
Do you see yourself working on it ;)?

[2017-05-29 13:42] luxas commented on #262
@dgoodwin Did you ever find out why this race condition exists?

@timothysc Have you seen/looked into this?

[2017-05-29 13:43] luxas commented on #260
@lukemarsden Can you take ownership of this?

[2017-05-29 13:44] luxas commented on #258
I'll go ahead and fix this

[2017-05-29 13:44] #257 closed

[2017-05-29 13:45] luxas commented on #254
@timothysc @jamiehannaford Is this tracking issue needed when we have https://github.com/kubernetes/kubeadm/issues/261?

[2017-05-29 13:47] luxas commented on #252
@pipejakob @mikedanese any of you can take ownership over this for v1.7?
I might be able to help as well

[2017-05-29 13:48] luxas commented on #251
@pipejakob @jamiehannaford Sounds like we should create a document about this process...
Also very tightly related to #252

Are one of you up to doing that?

[2017-05-29 13:52] luxas commented on #250
@fejta A consistency of 98.9% is good IMO. I saw some blocking tests are around 91% so...

@pipejakob @mikedanese @timothysc Will you do the switch in the test-infra repo or should I?

[2017-05-29 13:52] luxas commented on #249
@timothysc Something like https://github.com/luxas/kubeadm-installer?

[2017-05-29 13:53] luxas commented on #247
@resouer This will be kind of incorporated in #156

ping @justinsb how's the addon management proposal proceeding?

[2017-05-29 13:57] luxas commented on #245
@Reifier You can't bind to 10.0.x.x addresses
You can basically only bind to a valid IP address if a physical net interface or 127.0.0.1 or 0.0.0.0 (all interfaces).

So this is working as it should.

You can access the dashboard by running `kubectl proxy` and accessing the UI on port 8080 though.

[2017-05-29 13:57] #245 closed

[2017-05-29 13:59] luxas commented on #238
@mikedanese @pipejakob @ixdy Did the pushing of master images to gcr.io ever happen or is it yet to be done?

[2017-05-29 13:59] luxas commented on #237
@pipejakob This is fixed, right?

[2017-05-29 14:00] #233 closed

[2017-05-29 14:01] luxas commented on #224
This was fixed by @mikedanese AFAIK

[2017-05-29 14:01] #224 closed

[2017-05-29 14:06] luxas commented on #230
@kargakis Did you ever find out what the issue was?

[2017-05-29 14:07] luxas commented on #219
@pipejakob Can you provide the current status of this issue?
I guess it's fixed but...

[2017-05-29 14:08] luxas commented on #218
I think we need an owner for this for v1.7

cc @timothysc @caseydavenport @bboreham @tomdee

[2017-05-29 14:12] luxas commented on #217
Yes, the problem here was that you used v1.5 for `kubeadm join` and tried to join a `v1.6` master.
That's not supported as highlighted in the release notes.

Please use v1.6.x consistently

[2017-05-29 14:12] #217 closed

[2017-05-29 14:15] luxas commented on #208
@justinsb I'm gonna work on cleaning this mess up ;)
Also I can take on rebasing kops on those changes as well if you want me to

[2017-05-29 14:16] luxas commented on #207
Same as https://github.com/kubernetes/kubeadm/issues/208#issuecomment-304671012

[2017-05-29 14:18] luxas commented on #206
@timothysc @pipejakob @mikedanese @jcbsmpsn @jbeda
Should we make this a goal for v1.8 with self-hosting and rotateable kubelet certs?

[2017-05-29 14:20] luxas commented on #200
See the following warning:

        (/etc/systemd/system/kubelet.service.d/10-kubeadm.conf should be edited for this purpose)

You have to change kubelet's args for this to work

[2017-05-29 14:20] #200 closed

[2017-05-29 14:21] luxas commented on #199
This was fixed with v1.6

[2017-05-29 14:21] #199 closed

[2017-05-29 14:21] luxas commented on #199
You can simply use `--token` as the examples show

[2017-05-29 14:22] luxas commented on #195
Not enough information provided, closing...

[2017-05-29 14:22] #195 closed

[2017-05-29 14:22] luxas commented on #195
Try to reproduce with v1.6.4

[2017-05-29 14:24] luxas commented on #193
Closing this as fixed with v1.6

[2017-05-29 14:24] #193 closed

[2017-05-29 14:25] luxas commented on #191
@pipejakob What's the status of this issue?
I _think_ I heard this was the case now, so this maybe can be closed...

[2017-05-29 14:26] luxas commented on #190
@klizhentas @pipejakob Do you have an status update of this issue?

[2017-05-29 14:29] luxas commented on #185
Something we need to do for v1.7/v1.8 re this?

[2017-05-29 14:30] luxas commented on #184
Provisioning physical or virtual nodes is out of scope for kubeadm.
Have you taken a look at kops? It's in scope for kops though...

[2017-05-29 14:30] #184 closed

[2017-05-29 14:31] luxas commented on #178
Fixed already in v1.6 :tada:

[2017-05-29 14:31] #178 closed

[2017-05-29 14:31] luxas commented on #175
Please use kubeadm v1.6, that will probably solve this issue

[2017-05-29 14:31] #175 closed

[2017-05-29 14:32] luxas commented on #173
Delegating the TLS bootstrap flow to the kubelet is a goal for v1.8

cc @mikedanese @jcbsmpsn @aaronlevy @liggitt

[2017-05-29 14:34] luxas commented on #164
This is due to that the node team hasn't officially validated the overlay2 driver, this is working as-is with the warning in place. I think overlay2 should work just fine though...

[2017-05-29 14:34] #164 closed

[2017-05-29 14:36] luxas commented on #161
@naisanza Did you ever figure out the root cause of this?
Did it get fixed with v1.6?

[2017-05-29 14:37] luxas commented on #160
Fixed with https://github.com/kubernetes/kubernetes/issues/44588

[2017-05-29 14:37] #160 closed

[2017-05-29 14:38] luxas commented on #148
Basic implementation in v1.6, more advanced implementation will exist in v1.8

[2017-05-29 14:39] luxas commented on #145
@kubernetes/sig-federation-feature-requests Is it possible to run kubefed on bare metal yet?
Can we do something to make sure it works with kubeadm clusters easily?

[2017-05-29 14:40] luxas commented on #143
This has been fixed, closing...

[2017-05-29 14:40] #143 closed

[2017-05-29 14:42] luxas commented on #138
Currently kubeadm is never really using a cloud provider so this isn't an issue we have to fix.
kubeadm will only support out-of-core cloud providers: https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloud-provider-refactoring.md

[2017-05-29 14:42] #138 closed

[2017-05-29 14:43] luxas commented on #163
Please see: https://github.com/luxas/kubeadm-workshop.
There's a lot of information about this there.

Also see #51 that's tracking the multi-platform support for kubeadm

[2017-05-29 14:43] #163 closed

[2017-05-29 14:44] luxas commented on #135
@jberkus Any update on this? Do you want to improve something more in kubeadm regarding this?

[2017-05-29 14:44] luxas commented on #133
Closing as fixed... :+1:

[2017-05-29 14:44] #133 closed

[2017-05-29 14:46] luxas commented on #130
Please reopen if this also occurs with kubeadm v1.6...

[2017-05-29 14:46] #130 closed

[2017-05-29 14:47] luxas commented on #128
@kargakis could I assign you this issue?

[2017-05-29 14:48] luxas commented on #126
@jbeda @timothysc @mikedanese Do you think we're good as is or have to change something here?

[2017-05-29 14:50] luxas commented on #122
You can do this with the config file, see: https://kubernetes.io/docs/admin/kubeadm/

[2017-05-29 14:50] #122 closed

[2017-05-29 14:51] luxas commented on #108
@fabriziopandini Could you send a PR that changes all uses of `path.Join` to `filepath.Join`?

[2017-05-29 14:52] luxas commented on #106
Please reopen if this happens with v1.6 as well

[2017-05-29 14:52] #106 closed

[2017-05-29 14:53] luxas commented on #102
@bboreham @thockin Anything we can do here or can I go ahead and close this?
It's possible to set `--cluster-cidr` on kube-proxy by passing `--pod-network-cidr` to `kubeadm init`

[2017-05-29 14:54] luxas commented on #101
Closing in favor for https://github.com/kubernetes/kubeadm/issues/238 which will be the real solution

[2017-05-29 14:54] #101 closed

[2017-05-29 14:55] luxas commented on #113
@criloz Does this happen in v1.6 as well?

[2017-05-29 14:55] #96 closed

[2017-05-29 14:56] luxas commented on #90
@jbeda has documented how to use the AWS cloud provider here: https://docs.google.com/document/d/17d4qinC_HnIwrK0GHnRlD1FKkTNdN__VO4TH9-EzbIY/edit

Also, please use v1.6 and try to reproduce...

[2017-05-29 14:56] #90 closed

[2017-05-29 14:58] luxas commented on #82
How easy/hard is it to use rkt with kubelet? Just setting `--container-runtime=rkt`?
@kubernetes/sig-node-feature-requests

[2017-05-29 14:59] luxas commented on #82
@khaije1 Would you be interested in providing a sample `.service` file for making kubelet use rkt instead of docker?

cc @aaronlevy @philips

[2017-05-29 14:59] #79 closed

[2017-05-29 15:00] luxas commented on #77
That's expected. Read the warning that kubeadm init outputs. You have to copy the cloud config file yourself.

[2017-05-29 15:00] #77 closed

[2017-05-29 15:02] luxas commented on #73
@TamalSaha We're gonna implement `kubeadm phases` in more detail in time for v1.8.
That's the expected mechanism to use for extending kubeadm...

See: #156

[2017-05-29 15:02] #73 closed

[2017-05-29 15:02] luxas commented on #71
Closing as not related to kubeadm. Please reopen if you think it is and can reproduce with v1.6

[2017-05-29 15:02] #71 closed

[2017-05-29 15:03] luxas commented on #68
Fixed with v1.6

[2017-05-29 15:03] #68 closed

[2017-05-29 15:03] luxas commented on #64
@justinsb could you explain a little more why this is the case in AWS?

[2017-05-29 15:04] luxas commented on #64
...and what we need to do more concretely for it to work

[2017-05-29 15:04] luxas commented on #61
@dmmcquay do you consider this work done?

[2017-05-29 15:06] luxas commented on #41
@mikedanese @jbeda @timothysc @kelseyhightower Do we consider the current output beautiful enough? :)

[2017-05-29 15:07] luxas commented on #40
Please try v1.6 and open a new issue if this error can be reproduced then...

[2017-05-29 15:07] #40 closed

[2017-05-29 15:07] luxas commented on #39
Please try v1.6 and open a new issue if this error can be reproduced...

[2017-05-29 15:07] #39 closed

[2017-05-29 15:09] luxas commented on #33
@kubernetes/sig-auth-feature-requests is there some action item we can extract from this issue or is the answer just "build your own certificates controller and run that"?

[2017-05-29 15:10] luxas commented on #24
We won't do this per se, but https://github.com/kubernetes/community/pull/662 is highly relevant

[2017-05-29 15:10] #24 closed

[2017-05-29 15:11] luxas commented on #23
@jbeda do you plan to work on this in time for v1.8? What do you envision us doing?

[2017-05-29 15:12] luxas commented on #22
This is implemented with `kubeadm phases`, closing in favor for the other issues we have for that command...

[2017-05-29 15:12] #22 closed

[2017-05-29 15:12] klizhentas commented on #190
I believe

* https://github.com/kubernetes/kubernetes-anywhere/pull/390
and
* https://github.com/kubernetes/test-infra/pull/2771

are good to go, the last bit is to add actual Jenkins test

[2017-05-29 15:13] luxas commented on #14
@ekozan Yes, see: https://github.com/kubernetes/features/issues/296

[2017-05-29 15:14] luxas commented on #13
Closing as this issue is outdated

[2017-05-29 15:14] #13 closed

[2017-05-29 15:15] #5 closed

[2017-05-29 15:15] luxas commented on #2
Closing as outdated...

[2017-05-29 15:15] #2 closed

[2017-05-29 15:17] resouer commented on #82
@luxas You are right, CRI is always the first priority now.

Since we have CRI, using kubeadm with other CRI runtimes is super super easy, for example, hyper runtime: https://github.com/kubernetes/frakti/blob/master/docs/deploy.md

I really don't think it requires extra efforts or patches on kubeadm side.

[2017-05-29 15:18] luxas commented on #3
You can use Mirantis project for this: https://github.com/Mirantis/kubeadm-dind-cluster
Or use my script

Or https://github.com/kubernetes/kubeadm/issues/237 will fix this...

[2017-05-29 15:18] #3 closed

[2017-05-29 15:22] luxas commented on #82
@resouer No, no patches are needed on the kubeadm side, but I'd like more docs.

Awesome guide you have there!! :boom:
Could you please update https://kubernetes.io/docs/admin/kubeadm/ to talk a little about how to enable rkt for example and reference that guide :smile:?

[2017-05-29 15:24] luxas commented on #66
@johnharris85 Please open a new issue in that case with more details...

[2017-05-29 15:27] resouer commented on #82
@luxas Yes, sure, I can add a sth like `use kubeadm with other CRI runtimes` part in the doc, please assign to me.

[2017-05-29 15:27] luxas commented on #23
@liggitt Totally agree with you. I asked since I don't know if there really is something we should do here. Of course it is possible to tweak the API Server's args to include a basic auth file for it, but I wouldn't recommend it either.

@kelseyhightower did you have something in mind for this when opening the issue? I think the Ingress route is the best one for sure.

[2017-05-29 15:28] luxas commented on #82
@resouer Thank you! Ping me on the PR and I'll review :+1:

[2017-05-29 15:36] cmluciano commented on #218
@ozdanborne Would you like me to take over the calico work?

[2017-05-29 15:38] luxas commented on #218
@cmluciano Feel free to from my side at least.
This is very related to https://github.com/kubernetes/kubeadm/issues/190, you can find some more information about how to do it in practice there

[2017-05-29 17:24] justinsb commented on #64
Absolutely: there is no reason to think that `hostname` should have anything to do with the Node metadata.name field :-)  There is now the option to put the hostname into the addresses if you want to.

For kubeadm: You need to take a parameter like `--node-name` to specify the node name, if you need it and can't derive it by other means (e.g. by comparing the node system ids or ip addresses).  We'

[2017-05-29 17:26] justinsb commented on #64
Oh - and we created a NodeName type, so whenever you're casting a string to NodeName or vice-versa, a little flag of alarm should go off.  Sadly there's no choice when first reading the Name from a Node, because of go's lack of generics, but that _should_ be the only place (?)

[2017-05-29 17:28] jazemzer commented on #231
I switched to Docker 1.12.6 as mentioned and got rid of preflight check

[code]
and I'm running the following kubelet and Linux version
[code]

[code]
But now its stuck at 'control plane to become ready.
[code]
and I'm certain that I've disabled selinux

[2017-05-29 18:13] fabriziopandini commented on #202
I was informed about a new PER dynamic kubelet configuration, currently in alpha - rif #46254. This will provide a cleaner solution than relying on file system/dropins. I will have a look and this and discuss the proposal in sig meetings

[2017-05-29 19:03] naisanza commented on #161
@luxas : @maciaszczykm closed https://github.com/kubernetes/dashboard/issues/1628 and said it was a "cluster-related issue"

Is there a way to check where in the cluster code this was happening in?

[2017-05-29 20:22] maciaszczykm commented on #161
@naisanza Yes, I marked it as cluster-related issue, because zeros are displayed not only in the Dashboard but also in `kubectl describe node ...` output, that you have provided in https://github.com/kubernetes/dashboard/issues/1628.

In Dashboard we display info coming from cluster. Well, sometimes we calculate something, but always we are basing on data coming from the cluster. In this case Dash

[2017-05-30 04:38] ozdanborne commented on #218
@cmluciano That would be awesome, I've got a lot on my plate atm so happy to hand this over.

I added the Calico manifests as well as the options to apply them but the scripts just wouldn't apply them. I tried rebasing off the flannel PR's and still no dice. That's as far as I got. Here's the WIP:

https://github.com/kubernetes/kubernetes-anywhere/compare/master...ozdanborne:calico

[2017-05-30 05:40] luxas commented on #231
@jazemzer That seems like a (separate) proxy issue. Please open a new issue and give more details.
I think your proxy is somehow mis-configured so that kubelet can't pull the right images or something.

I think this is a docker issue, maybe specific to v1.12.2?

[2017-05-30 07:13] luxas commented on #108
Fixed with https://github.com/kubernetes/kubernetes/pull/46600 by @fabriziopandini :+1:

[2017-05-30 07:13] #108 closed

[2017-05-30 09:48] rhatdan commented on #279
I don't work with kubadmin but would be very willing to help whoever takes this on.

[2017-05-30 11:22] dgoodwin commented on #262
I did not but there is some analysis in https://github.com/kubernetes/release/issues/171#issuecomment-270334974 and an open PR in https://github.com/kubernetes/release/pull/256

[2017-05-30 11:35] luxas commented on #279
@rhatdan Great! What I'm looking for is persons that are familiar with SELinux and willing to help.
I might be able to coordinate the work though.

A rough todo list would look like:
 - Make kubeadm work with SELinux enabled in v1.7
 - Make an e2e suite of CentOS/Fedora nodes that will notify us if there is a regression.
 - Look into the CoreOS issue and how the SELinux setup between CentOS and Co

[2017-05-30 12:05] luxas opened #280 "Make it easy to run an other certificates controller"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

FEATURE REQUEST

It would be nice if we made it easy to deploy your own certificates controller instead of relying on the one that's built-in into the core controller-manager.

If the user opts in to running a separate certificates signing controller, the availability of `ca.key` on disk will be optional _if an

[2017-05-30 14:07] luxas opened #281 "kops integration tracking issue"
Hi @justinsb @kris-nova @chrislovecnm!

What do you want to see from the kops side for the kubeadm integration?
I'm gonna update the phases doc (#156) soon with more details and new ideas.

It would also be interesting to hear your story how you bring up k8s after provisioning the masters and nodes.

[2017-05-30 14:23] rhatdan commented on #269
Most likely the container platform does not understand what an spc_t type is, or something along those lines.

If this system has audit running see if you can get this output.

grep spc_t /var/log/audit/audit.log*

Otherwise look for it in /var/log/messages or dmesg

dmesg | grep spc_t

[2017-05-30 15:49] kfox1111 opened #282 "kubeadm cluster dns"
kubeadm version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0.1534+cf7301f16c0363-dirty", GitCommit:"cf7301f16c036363c4fdcb5d4d0c867720214598", GitTreeState:"dirty", BuildDate:"2016-09-27T18:10:39Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

What happened:

I ran:
sudo kubeadm init --service-cidr 172.16.128.0/24

The kube-dns service picks 172.16.128.10 and fun

[2017-05-30 15:49] kfox1111 commented on #282
This is moved from https://github.com/kubernetes/kubernetes/issues/33881

[2017-05-30 15:55] criloz commented on #113
@luxas not,

I ended fixing my issues with

1. running kube-dns as daemon-set in each node
2. disabling the cni plugin with a systemd drop-in config file
3. run the kube-controller-manager with systemd, instead as docker container [default kubeadm installation] this in order to use `ceph`.

that was that I did, then I could successfully run  kubeadm 1.5 with ceph, add/delete nodes from any cloud p

[2017-05-30 15:57] luxas commented on #282
@kfox1111 Thanks for moving! Can you reproduce on kubeadm v1.6 (what we support at the moment)?

[2017-05-30 16:06] timothysc commented on #278
So here are my thoughts:

1. Create an upgrade instruction that includes the yum-update
2. Add a command, or sub-command as @mikedanese mentioned above, which simply baks up existing manifests and drops latest
3. Outline pointers for where to do other upgrades e.g. the actual cni-plugins themselves.

[2017-05-30 16:16] klizhentas commented on #218
Update on the issue:

I think
https://github.com/kubernetes/kubernetes-anywhere/pull/390
and
https://github.com/kubernetes/test-infra/pull/2771
are good to go, I've manually tested both backwards compatibility and with flannel and weave using new flag, clusters start up fine.

This week I'm going to add more Jenkins jobs to the kubernetes-anywhere repository.

@cmluciano if you will be working on

[2017-05-30 16:56] roberthbailey commented on #279
@timothysc

[2017-05-30 17:32] cmluciano commented on #218
ack, I'll take a look

[2017-05-30 17:32] cmluciano commented on #218
/ assign

[2017-05-30 17:33] cmluciano commented on #218
/assign

[2017-05-30 17:55] mikedanese commented on #280
Can we implement this in phases and not as part of the bundled install? Also which certificates controller are you talking about? There are two now.

[2017-05-30 17:57] mikedanese commented on #33
The answer is bring your own PKI. There doesn't seem to be anything actionable here.

[2017-05-30 17:57] #33 closed

[2017-05-30 17:58] coeki commented on #215
As it stands this only affects Fedora25, but as we seen before, it could trickle down to Centos7.
@rhatdan might know better if this will be so?

The fix should be trivial, as we just need to add `spc_t` to the static pod specs of the `kube-apiserver` and I think the `kube-controller`, so any pod that even wants to read `/etc/kubernetes/pki`.

I would like to try and see if I can make a PR, but si

[2017-05-30 18:11] luxas commented on #215
@coeki A PR from you fixing that would be awesome! Contact me privately on Slack in case you run into errors when creating your dev env.
Might be of interest: https://github.com/kubernetes/community/tree/master/contributors/devel

[2017-05-30 18:33] jcbsmpsn commented on #206
I think there are still a few steps left to accomplishing this:

- https://github.com/kubernetes/kubernetes/pull/41912 and https://github.com/kubernetes/kubernetes/pull/45059 should give support for certificate rotation of kubelet certificates. Out for review now, hopefully they will make 1.7 behind a feature gate, then GA in 1.8.

Remaining:
- When the kubelet boots on a master, and doesn't point

[2017-05-30 18:34] jcbsmpsn commented on #206
/assign @jcbsmpsn

[2017-05-30 19:52] cdrage opened #283 "Making binaries available?"
Only two places I can find kubeadm, either CentOS or Ubuntu.

I'm testing kubeadm on Debian unstable and I cannot find where any of the binaries are located for kubeadm. I've checked the Kubernetes release page, docs, etc. But no where to be seen.

[2017-05-30 21:29] ixdy commented on #238
still tbd.

[2017-05-30 22:59] pipejakob commented on #278
Not sure I follow the question. Are you asking if we have any automated e2e tests for 1.7, or if I was using 1.7 when I tested a self-hosted kubeadm initialization (which I mentioned in Slack)?

For the former, we have CI tests that always check out `master` for kubeadm and use `latest` for the control plane images (which now would be v1.7.0-alpha.4).

For the latter, I was using the latest stable

[2017-05-30 23:19] ozdanborne commented on #283
I very recently found them in the "Server Binaries" tar for the desired release: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v164

[2017-05-30 23:32] pipejakob commented on #278
The thing that I don't particularly like about doing upgrades via a partial reset + init is that users have to remember all of the init flags they used the first time around if they want their cluster to remain the same (but upgraded). As a user, I would much prefer the UX in line with @lukemarsden's original proposal of `kubeadm upgrade` that retains all of the existing configuration.

Of course,

[2017-05-31 01:00] fejta commented on #250
Yeah, flakiness right now is good (~99% consistent) however it only runs on ~200 commits vs 1200 for others: http://storage.googleapis.com/k8s-metrics/job-flakes-latest.json

[2017-05-31 02:04] mikedanese commented on #283
Yes. They are in the full release in the main repo.

[2017-05-31 02:04] #283 closed

[2017-05-31 08:23] fabriziopandini commented on #278
In my opinion having a `kubeadm init --only-manifests` - or kubeadm upgrade manifests' or something similar - will avoid the needs of a new machine and reset, and simplify all upgrade  procedure ...
(this could be a quick PR to be included in the 1.7 timeframe that can supports this procedure)

[2017-05-31 13:20] truncj opened #284 "Kubeadm refuses to enable ABAC for the cluster"
Using Kubeadm v1.6.4, I pass it a config of the following:
[code]
Then in /etc/kubernetes/abac_policy.json, I have the following:
`admin,admin,1,"system:masters"`

After running "kubeadm init --config ./config.yaml --skip-preflight-checks", it ignores my request to use ABAC (ie. "[init] Using Authorization mode: RBAC").

Wondering if this is a bug or if I've missed something else.

Thanks,
-Joe

[2017-05-31 16:17] pipejakob commented on #278
I'm jumping on this today. Please let me know if there are any parallel efforts.

My first goal is to run through the kubeadm code and attempt manual upgrades to make sure I understand all of the moving parts before chiming in on which of the different approaches seems the most palatable. At first glance, if we're going with an approach of "just run kubeadm init again," then it seems like we need

[2017-05-31 16:19] pipejakob commented on #250
@luxas I'm going to try to tackle https://github.com/kubernetes/kubeadm/issues/278 first, but then I should be able to get to this. If anyone else has the time, feel free (and assign me to the PR)!

[2017-05-31 16:31] pipejakob commented on #278
(Though I suppose if you specify an alternate `--apiserver-advertise-address` or `--apiserver-bind-port` that you'll need to re-run `kubeadm join` on the nodes, too, in order to update their kubeconfigs. This is why I'm hoping to avoid having to `kubeadm init` again at all and be able to ignore the usecase of changing flags.)

[2017-05-31 16:48] pipejakob commented on #278
As long as the apiserver address/port don't change, I've so far had good luck with this approach (which doesn't require using a separate, clean host to generate manifests that need to be manually copied over):

    $ <upgrade kubelet/kubeadm/kubectl via OS packages>
    $ rm /etc/kubernetes/manifests/*
    $ kubeadm init --kubernetes-version v1.7.0-alpha.4 --skip-preflight-checks

The `--skip-pref

[2017-05-31 16:56] coeki commented on #278
Mmm, @pipejakob, why would you change that, if you upgrading? If we go through all the possible things that can change, we might just say, deploy a new cluster, move your jobs, and done.

Maybe that raises a point, especially with major changes, like in 1.6, RBAC, what is an upgrade?

- Control  plane as in etcd/kubernetes (sorry again) core components (kube-{apiserver, controller, scheduler, dns,

[2017-05-31 17:08] bboreham commented on #102
As I have already described, setting `--cluster-cidr` is not a valid response to the issue [originally reported in a comment on #74](https://github.com/kubernetes/kubeadm/issues/74#issuecomment-269870039). (Although it happens to make the problem go away).

The title here is unhelpful; it relates to a warning message that has absolutely nothing to do with the underlying problem.

I don't really kn

[2017-05-31 17:11] pipejakob commented on #278
@coeki My point isn't that I expect cluster owners to want to change it, but quite the opposite. My point is that they may have initialized their cluster long enough ago that they have forgotten exactly what flags they used in order to get running in the first place. They might have had a special need to not use the default IP address detected, or to use a different port, etc. Now that they're rea

[2017-05-31 17:33] pipejakob commented on #278
Actually, I can't think of a great reason for removing the original manifests before upgrading. There *may* be an edge case we want to avoid where kubelet wouldn't notice that the manifests had changed without a full removal and recreation, but I don't think that's the case (do we support OSes where you could potentially disable mtime on the hosting filesystem?). I'd like to believe that kubelet i

[2017-05-31 17:42] thockin commented on #102
I just had a look at the clusterCIDR logic in kube-proxy, and I agree that is a weird corner case.

I agree the static route is appropriate for the 2nd interface, but it's unfortunate.  It feels like the kernel should be smarter than that.

[2017-05-31 17:51] coeki commented on #278
@pipejakob ok, I see, reusing kubeadm init, with having no manifests what so ever, but generating new ones with specifying a newer version of kubeadm. Probably in most cases the manifest won't change much, and get over written and none the wiser (well possibly a `systemctl kubelet restart`).

But we need to backup the old ones first (so no `rm but cp /tmp/kube-backup`) or something.

What I probab

[2017-05-31 18:01] pipejakob commented on #278
That's a good point about backups. I haven't thoroughly tested, but I believe a prestep of:

    cp /etc/kubernetes/manifests/* <backup-path>/manifests-1.6/

and a rollback plan of:

    cp <backup-path>/manifests-1.6/* /etc/kubernetes/manifests/

might be all we need (although a more inclusive copy of all of `/etc/kubernetes` is probably a good idea).

[2017-05-31 19:05] luxas commented on #284
Thanks for the report!
On the v1.6 branch there only is

[code]

So basically kubeadm doesn't pick up `authorizationModes` since it's unknown.
Anyway, at HEAD there is

[code]

which will come in v1.7.

You should be able to do ABAC right now though by doing this:
[code]

since kubeadm will always enable RBAC in any case.

Hope it helps!

[2017-05-31 19:05] runcom opened #285 "kubeadm assumes docker in its pre-flight checks"
`kubeadm` assumes `docker` in its pre-flight checks but we're currently working on integrating CRI-O in `kubeadm init`. I'd like to have an option to choose which container runtime to check against.
Idea? /cc @luxas

[2017-05-31 20:32] luxas commented on #250
@pipejakob Perfect, thank you!

[2017-05-31 20:36] luxas commented on #285
@runcom This is very hard, I know. I've been thinking a little how to deal with this, but haven't proposed something really.

What I'd like to see is a way to do lifecycle tasks _in CRI_, and just let kubeadm delegate to that (auto-detect or not TBD). I don't see us building in specific assumptions for every possible provider, docker is still an exception generally in Kubernetes. I guess that will

[2017-05-31 21:34] coeki commented on #279
I will take for now, since I raised it. I'll have some updates soon, @rhatdan, please advise me ;)

[2017-05-31 23:20] jberkus commented on #135
Oh, oops, forgot about this issue.  Will test as soon as I'm back from CoreOSFest.

[2017-06-01 13:02] jamiehannaford commented on #251
I can have a go at writing this

[2017-06-01 13:06] jamiehannaford commented on #254
I think we can close this since it's covered by https://github.com/kubernetes/kubeadm/issues/261 and https://github.com/kubernetes/kubeadm/issues/277

[2017-06-01 16:23] luxas commented on #254
Ok, thanks @jamiehannaford

[2017-06-01 16:23] #254 closed

[2017-06-01 16:25] luxas commented on #251
Awesome @jamiehannaford!
Seems like I can't technically assign this to you, but feel free to have a go at it

[2017-06-01 19:26] pipejakob commented on #278
My [PR](https://github.com/kubernetes/kubernetes/pull/46745) to not duplicate taints is LGTMed and sitting in the submit-queue. I'm going to put together a quick-and-dirty draft of the upgrade steps so that anyone interested in helping can test them out.

[2017-06-01 19:36] luxas commented on #278
@pipejakob Another concern of mine is [this line](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/addons.go#L128). Have you tested that it works?

Basically I had time to make the certs and kubeconfig phases idempotent, but not the rest.
Seems like it's not a big deal the third phase (control plane manifests) overwrites the files, so that's ok for now.

The fourt

[2017-06-01 19:40] timothysc commented on #278
Sadly I'm out-of-pocket atm so I'm not going to have time to really dig in for a couple of days but I can review the instructions a little later.

[2017-06-01 21:33] pipejakob commented on #278
@luxas Good catch, you're totally right. I *had* been doing full testing, but didn't pay attention to the exit code, and the last line printed had seemed innocent enough:

    configmaps "cluster-info" already exists

I had originally interpreted it as "I'm skipping this step because it already exists," but the process returns 1, so it's clearly an error (and should probably indicate so in the mes

[2017-06-02 09:19] luxas commented on #278
@pipejakob https://github.com/kubernetes/kubernetes/issues/46819 is a step forward, but doesn't solve all the problems. Since the bootstrap configmap is created before the addons are applied, the addons weren't updated.

We still have to make the following lines idempotent: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/init.go#L250-L269 (and https://github.com/kubernetes

[2017-06-02 12:11] jamiehannaford commented on #264
@mikedanese @pipejakob Is it possible to add a new job to [`prow/config`](https://github.com/kubernetes/test-infra/blob/master/prow/config.yaml) which periodically runs apt/yum commands in distro containers against versioned kubeadm targets?

Something like:

[code]

(just an idea, not sure how feasible)

[2017-06-02 13:52] kargakis commented on #250
Are you guys expecting to start testing it after you deem it 'ready for prime-time'? I would expect it to be the other way around. A non-blocking job that proves it works is better than nothing.

[2017-06-02 13:57] truncj commented on #284
Thanks for the suggestion! I needed the apiServerExtraArgs in the config it looks like I had a couple of other things wrong.

The working configuration is below:

- ./config.yaml
[code]

- /etc/kubernetes/abac_policy.json
[code]

- /etc/kubernetes/basic_auth.csv
`admin,admin,1,"system:masters"`

[2017-06-02 14:47] luxas commented on #284
Cool that it got solved @truncj!

I'd be **VERY** careful with `admin,admin,1,"system:masters"` though... ;)

[2017-06-02 14:47] #284 closed

[2017-06-02 16:18] kargakis commented on #128
Technically you can, I am not sure when I'll get to this though:)

[2017-06-02 17:18] pipejakob commented on #278
@luxas Totally agreed that this doesn't fully fix everything yet. I'm still working on a few more PRs to address the other steps that aren't idempotent yet (writing unit tests is taking the longest because most of this code completely lacks them).

Does the plan to make all of these steps idempotent sound solid? Do any of the steps (besides addons like you mentioned) need to have the behavior of C

[2017-06-02 17:52] luxas commented on #278
@pipejakob I'll have three PRs up for review soon... stay tuned
1. Fix CSR groupapprover regression when deploying a v1.6.x control plane
2. Enable the Node Authorizer on v1.7 upgrade
3. Make the [remaining operations](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/init.go#L250-L269) idempotent

I have things locally in one dirty tree, now working on cleaning up, writing

[2017-06-02 17:53] luxas commented on #128
@kargakis Haha I see. Assigned to us both, and whoever gets to it first may do it ;)

[2017-06-03 00:29] optlin commented on #226
@cheinig @renhuailin Thank you for the notes. I had exact same problem and resolved it after fixing /etc/resolv.conf file.

[2017-06-04 18:17] kargakis commented on #230
Nope, today I was trying to setup a self-hosted cluster once again but I stumbled across https://github.com/kubernetes/kubernetes/issues/39701.

[2017-06-04 18:27] kargakis opened #287 "flannel does not seem to work on a self-hosted cluster"
Same issue as https://github.com/kubernetes/kubernetes/issues/39701

I end up hardcoding the IP of the host and flannel breaks a bit further down the road
[code]
Since flannel is the only plugin that works on ARM, that means self-hosting is broken on ARM.

I am using 1.6.4

@kubernetes/sig-cluster-lifecycle-bugs

[2017-06-04 18:40] kargakis commented on #287
Hrm, the pod is Running but DNS is not coming up for some reason and the node is flipping between Ready and NotReady every 4m (https://github.com/kubernetes/kubeadm/issues/230)

[2017-06-04 19:21] luxas commented on #287
@kargakis Weave do too, since v1.9: https://www.weave.works/blog/weave-net-1-9-released-encrypted-fast-datapath-arm/ (I helped implement that)

cc @aaronlevy on the flannel issue, what do we think the problem might be?

[2017-06-04 21:42] #232 closed

[2017-06-05 15:38] ericchiang commented on #287
Is this an issue for all architectures or just ARM?

[2017-06-05 15:40] kargakis commented on #287
@ericchiang the report in https://github.com/kubernetes/kubernetes/issues/39701 is not using ARM.

[2017-06-05 15:49] ericchiang commented on #287
Ah, would a better issue title be "flannel does not use iface parameter to contact the API server"?

[2017-06-05 16:16] mikedanese commented on #287
@tomdee

[2017-06-06 02:11] timothysc commented on #273
@luxas no.

[2017-06-06 02:12] timothysc commented on #272
Very similar closing.

[2017-06-06 02:15] timothysc commented on #249
@luxas no.  I believe @jasonbrooks has something.

[2017-06-06 04:06] luxas opened #288 "Make all kubeadm post-install tasks idempotent"
Currently there are tasks in kubeadm that aren't idempotent after the control plane is up.
For example, nearly all code that creates resources will fail if there already is such a resource (very common when upgrading for instance.

In order to unblock upgrades; we need to make these tasks idempotent. I and @pipejakob are working on that and have PRs in flight to fix this.

I now spawned this as a

[2017-06-06 06:04] luxas opened #289 "Deploying v1.6 clusters with kubeadm at HEAD is broken"
https://github.com/kubernetes/kubernetes/pull/45619 completely removed the flag we used for auto-approval in v1.6 (`--insecure-experimental-approve-all-kubelet-csrs-for-group=system:bootstrappers`)

This "broke" deploying v1.6 clusters with kubeadm in the sense that `kubeadm join` will wait until you manually approve the CSR as there is no autoapprover configured.

The fix is pretty simple, we jus

[2017-06-06 11:40] jamiehannaford commented on #261
@ncdc @timothysc Is there a wider epic issue for the componentconfig stuff?

[2017-06-06 12:14] jamiehannaford opened #290 "Reduce user participation steps to zero after kubeadm finishes"
When kubeadm finishes installing the user is recommended to do the following:

[code]

which is fine, but having to copy/paste three lines is suboptimal if we can do it in fewer.

Could we instead have kubeadm automatically copy `/etc/kubernetes/admin.conf` to `$HOME/.kubeconfig`? I assume that would cover 90% of use cases and the user would need to do nothing after kubeadm finishes.

[2017-06-06 16:45] erikbgithub commented on #272
Can't reproduce the proposed solution from #273. Ubuntu 16.04 doesn't use `systemd-resolved` yet and 16.04's resolv.conf doesn't contain `127.0.0.35`.

[code]

[2017-06-06 20:25] bamb00 commented on #102
I'm running v1.6.1 and thought the error "clusterCIDR not specified, unable to distinguish between internal and external traffic" would be address.

2017-06-06T17:49:17.113224501Z I0606 17:49:17.112870       1 server.go:225] Using iptables Proxier.
2017-06-06T17:49:17.139584294Z W0606 17:49:17.139190       1 proxier.go:309] clusterCIDR not specified, unable to distinguish between internal and exte

[2017-06-06 21:31] paulobezerr commented on #228
I have an CentOS Linux release 7.3.1611 (Core) and KubeAdm 1.6.4 does not work.

[code]

Output:

[code]

[code]

[2017-06-06 23:03] tomdee commented on #287
@kargakis  Could you try running with an actual flannel release? It looks like you're running a random git commit `image: quay.io/coreos/flannel-git:v0.6.1-28-g5dde68d-amd64`

[2017-06-07 06:14] erikbgithub commented on #273
Sorry, not sure if anybody will still look at closed issues. #272 is [not resolved](https://github.com/kubernetes/kubeadm/issues/272#issuecomment-306546756) by the solution suggested here.

[2017-06-07 08:10] kargakis commented on #287
@tomdee pretty sure I was using the manifest from https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml and was switching amd64 to arm. Not sure where did you get that image from? I will try once more this weekend.

[2017-06-07 08:49] kachkaev commented on #228
@paulobezerr can you share a bit more of `kube-apiserver` logs? (those in the end of your comment)

Do the rows above what you've already included mention the same ip address? I tried running k8s on two new KVMs recently, one with Ubuntu 16.04 and one with CentOS 7.3. Both gave this:

[code]

Note that first the ip address mentioned is `x.x.x.x`, but then localhost is resolved to `y.y.y.y`. I coul

[2017-06-07 13:54] timothysc commented on #261
@jamiehannaford Yes - https://docs.google.com/document/d/1arP4T9Qkp2SovlJZ_y790sBeiWXDO6SG10pZ_UUU-Lc/edit?ts=59110d75#heading=h.xgjl2srtytjt

[2017-06-07 19:23] fabriziopandini commented on #148
Duplicate of #267; I suggest to merge and keep only one as soon as we review proposal document for 1.8

[2017-06-07 19:36] fabriziopandini commented on #147
This topic is related also to kubeadm #45008 https://github.com/kubernetes/kubernetes/pull/45008 addresses "Fix behaviour of parameters insensible to KUBE_KUBERNETES_DIR env var"

[2017-06-08 10:19] #288 closed

[2017-06-08 12:29] mikesimons commented on #269
@rhatdan I can't get coreos to give me an audit log but there are some audit related things in journalctl. I can find no logs containing spc_t at all.

[code]

[2017-06-08 13:45] rhatdan commented on #269
This looks like the command is trying to execute containers as "\n", and this is not a valid label.  I have no idea how good CoreOS is at supporting SELinux.  So I am not really able to help.

[2017-06-08 14:51] albpal commented on #228
I have te same problem as @paulobezerr.

**## Versions**:
kubelet-1.6.4-0.x86_64
kubernetes-cni-0.5.1-0.x86_64
kubectl-1.6.4-0.x86_64
kubeadm-1.6.4-0.x86_64
docker-client-1.12.6-28.git1398f24.el7.centos.x86_64
docker-common-1.12.6-28.git1398f24.el7.centos.x86_64
docker-1.12.6-28.git1398f24.el7.centos.x86_64

SO
	uname -r > 3.10.0-229.1.2.el7.x86_64
	cat /etc/redhat-release > CentOS Linux release 7

[2017-06-08 15:15] kachkaev commented on #228
@albpal I had exactly the same issue two weeks ago: ` dial tcp X.X.X.X` was showing an odd IP an odd IP address and I could not solve this. Just for curiosity: can you check if that wrong IP address in the the same data center than your VM? In my case it was referring to another KVM on the same physical server. Can be something to do with DNS on a physical machine, which may require a workaround i

[2017-06-08 15:19] luxas commented on #228
@albpal Please open a new issue, what you described and what this issue is about are separate issues

[2017-06-08 16:00] albpal commented on #228
@kachkaev I have just checked what you suggested.

I found that the wrong IP ends at a CPANEL: vps-1054290-4055.manage.myhosting.com.

In the other hand, my VPS's public IP is from Italy and this odd IP is from USA... so despite the fact that the wrong IP has something related with hosting (CPANEL) I  don't seem to be referring to another KVM on the same physical server.

Was you able to install k

[2017-06-08 16:35] kachkaev commented on #228
@albpal so your VM and that second machine are both on CPANEL? Good sign, because then my case is the same! The fact that it's the same physical machine can be just a co-incident.

I used two KVMs in my experiments, one with Ubuntu 16.04 and another with CentOS 7.3 Both had the same `dial tcp` IP address issue. I was able to start kubeadm on Ubuntu in the end by getting rid of my provider's DNS se

[2017-06-08 17:20] albpal commented on #228
Thanks @kachkaev ! I will try it tomorrow

[2017-06-08 17:26] luxas commented on #228
cc @kubernetes/sig-network-bugs Do you have an idea of why the DNS resolution fails above?

Thanks @kachkaev we'll try to look into it. I don't think it's really kubeadm's fault per se, but if many users are stuck on the same misconfiguration we might add it to troubleshooting docs or so...

[2017-06-08 18:18] paulobezerr commented on #228
My logs are very likely to @albpal logs.
But I'll try the dnsmasq. Thank you all!

[2017-06-08 20:09] carlosedp opened #291 "Deploying K8s 1.7 with kubeadm freezes on node join"
BUG REPORT

While deploying a K8s 1.7.0-beta.1 with kubeadm (I use ansible scripts from https://github.com/ReSearchITEng/kubeadm-playbook), the master node is correctly created but the nodes freeze on join. I tried to manually join but same happens.

**Master:**

[code]

**Node:**

[code]

## Versions

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.7.0-beta.1
- **Cloud provid

[2017-06-08 21:50] timothysc commented on #237
@pipejakob ping.

[2017-06-08 21:53] timothysc commented on #289
This merged, so I'm assuming it's all good?

[2017-06-08 21:54] timothysc commented on #252
@pipejakob ping.

[2017-06-08 22:05] paulobezerr commented on #228
@kachkaev, it does not work. Same problem 😢
The complete log is attached.

[log.txt](https://github.com/kubernetes/kubeadm/files/1062535/log.txt)

[2017-06-08 22:12] ianvernon commented on #262
I'm hitting this in the 1.6.4 version of kubeadm as well.

[2017-06-09 05:29] timchenxiaoyu commented on #102
how to define the internal and external traffic ?

[2017-06-09 05:39] thockin commented on #102
This error specifically refers to anything outside the clusters Pod IPs.

On Thu, Jun 8, 2017 at 10:29 PM, timchenxiaoyu <notifications@github.com>
wrote:

[2017-06-09 05:44] luxas commented on #289
Yup, now the second required PR merged as well so now it's working

[2017-06-09 05:44] #289 closed

[2017-06-09 08:55] rschoultz opened #292 ""kubeadm init" not possible on restricted network"
**This is a...**

- [ ] Feature Request
- [x] Bug Report

**Problem:**
Starting in version 1.6.x, it is not possible to run "kubeadm init" from a private network, i.e. where the host is not allowed to access Internet, as kubeadm get stuck on trying to retrieve a stable-1.6.txt file:

    # kubeadm init
    [kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
    una

[2017-06-09 10:25] albpal commented on #228
I have been able to fix it!! Thanks so much @kachkaev for your hints!

I think the problem was:

**### Scenario:**
A VPS with the following configuration schema:

**resolv.conf**
[root@apalau ~]# cat resolv.conf
nameserver 8.8.8.8
nameserver 8.8.4.4
nameserver 2001:4860:4860::8888
nameserver 2001:4860:4860::8844

There is not any searchdomain!

**hosts**
[root@apalau ~]# cat /etc/hosts
127.0.0.1

[2017-06-09 12:22] luxas commented on #291
@carlosedp Known issue, due to a deprecation of a flag in v1.7, kubeadm client v1.6 can't deploy v1.7 clusters.

We support the other way round though, kubeadm v1.7 can deploy both v1.6 and v1.7 clusters.

If you build kubeadm from master today or wait to the v1.7.0-beta.2 release, you can deploy a v1.7.0-like cluster right now.

Thanks for testing newer versions out @carlosedp, much appreciated.

[2017-06-09 12:22] #291 closed

[2017-06-09 12:48] luxas commented on #292
Hi @rschoultz!

It is possible to deploy kubeadm without internet. You have to prepull the required master images for the version of choice in beforehand though.

Sorry that the `--kubernetes-version` flag caused you trouble. For convenience, it tries to get the latest stable version from the internet (and we don't have to hard-code such a value, which would be bad), and consequently fails when th

[2017-06-09 13:00] rschoultz commented on #292
OK, yes, I had tried the --kubernetes-version flag as well, I thought, but I did not supply it correctly, as I had indicated "1.6.4" and not "v1.6.4".

The reason for using --skip-preflight-checks was just for trying out various potential options for working around the problem.

[2017-06-09 13:29] mongrelion commented on #203
@agsergi I was trying to setup a k8s cluster in DigitalOcean with the **Private Networking** option enabled, which lead me to this issue. Disabling that feature did it for me but I'm not sure if you're on the same boat.

I guess this issue will still be present if you have more than two NICs attached to the machine.

[2017-06-09 13:39] kachkaev commented on #228
Glad to hear that @albpal! I went through your steps before `kubeadm init` and the cluster finally initialised inside my test FirstVDS KVM with CentOS 7.3! The only extra thing I had to do was to stop and disable firewalld as it was blocking external connections to port 6443:

[code]
_I do not recommend doing this because I'm not aware of the consequences ­­- this just helped me to complete a test

[2017-06-09 13:49] kachkaev commented on #228
@paulobezerr what what I see in your attachment I believe that your problem is slightly different. My kubeapi logs contain something like

[code]
while your say:
[code]
(in the first case it is `localhost` / `RANDOM_IP`, while in the second case it is always `10.X.X.X`)

Unfortunately, I do not know what to advice except trying various `--apiserver-advertise-address=???` when you `kubeadm init` (s

[2017-06-09 13:52] vascofg commented on #226
Bump, this seems like a bug to me...
curl localhost -v shows it trying to connect to 127.0.0.1 but kubernetes fails to start because localhost.mylocaldomain.com is mapped to a machine on the network.
Maybe in the way that kubernetes opens sockets that's using DNS server directly, ignoring prority in /etc/nsswitch.conf

[2017-06-09 15:28] albpal commented on #228
@kachkaev I forget to  mention I've applied the following firewall rule:

$ firewall-cmd --zone=public --add-port=6443/tcp --permanent && sudo firewall-cmd --zone=public --add-port=10250/tcp --permanent  && sudo systemctl restart firewalld

It works fine on my environment when applied this rule without deactivating the firewall. I'll add it to my previous comment to collect all the needed steps.

[2017-06-09 17:56] tomdee commented on #287
I think I got that version from one of the linked issues. It looks to me from the logging that you're using an order version. Either way, it would be helpful for me to know the exact version to help me diagnose it.

[2017-06-10 20:31] asac opened #293 "1.7.0-beta.1 kubeadm master node setup fails because of non-existing "Initializers" admission-control"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-beta.1", GitCommit:"dfaba882698e26a47fb769be45fe5c048a9fe4ad", GitTreeState:"clean", BuildDate:"2017-06-08T01:43:08Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/arm"}

**Environment**:
- **Kubernetes version**:
[code]

[2017-06-10 21:17] ReSearchITEng commented on #292
facing the same issue, in envs with proxy:
kubeadm starting 1.6.4 tries to connect to
[code]

If I set the proxy, it fails later on, because when it's trying to connect to itself, it's using **ip** address (as opposite to hostname with fqdn), and the no_proxy does not catch this exception.
[code]
In the hope that it won't use IP address, but hostnames, I tried the below, but for some reason it's s

[2017-06-11 14:44] luxas commented on #293
Many thanks for this bug report! Awesome catch!

I filed https://github.com/kubernetes/kubernetes/issues/47307 for that images for arm just exist up to alpha.2

This was a regression indeed, but I fixed it in https://github.com/kubernetes/kubernetes/pull/46879

So beta.2 will publish arm control plane images (by fixing https://github.com/kubernetes/kubernetes/issues/47307) and since https://github

[2017-06-11 14:52] luxas commented on #292
@ReSearchITEng

You can set `--kubernetes-version v1.6.4` to skip that fetch from the internet.

cc @kad

[2017-06-11 20:41] ekozan opened #294 "Document how to setup HostPort #47310"
Now cni have the "portmap" plugin who fix the bug on hostport of kubernetes ... maybe we can have a small documentation how to set it up in kubeadm cluster

[2017-06-12 06:10] JoshuaAndrew opened #295 "Extract the kubeadm source code from the k8s as a separate repo?"
Hi All:
Extract the kubeadm source code from the k8s as a separate repository ?
any ideas?

[2017-06-12 07:42] ReSearchITEng commented on #292
@luxas incorrect, even if --kubernetes-version is set, it's still trying to connect to the internet.
This issue appeared in v1.6.4, probably some bug introduced now.

[2017-06-12 08:09] ReSearchITEng commented on #292
Digging further, it seems the issue comes from `--config=/etc/kubernetes/kubeadm.conf`
Meaning, if `--config` is defined, it will ignore all the command line arguments, not merge them with the defaults in conf file...
Was this intended?

[2017-06-12 10:19] lbudai74 commented on #248
Hello,

using the suggested heapster.yaml file fixes the data collection in the dashboard, but it's not working with the horizontal pod autoscaler.
When I'm checking the HPA resource I'm getting this:
<pre>
Events:
  FirstSeen	LastSeen	Count	From				SubObjectPath	Type		Reason				Message
  ---------	--------	-----	----				-------------	--------	------				-------
  34m		7s		70	horizontal-pod-autosca

[2017-06-12 11:30] luxas commented on #295
We've thought a lot about this and are planning to do it, however there's _a lot_ of very hard problems to solve (releasing, CI, API machinery, automation, godeps, ...)

So the plan is to let kubectl move to its own repo first, because that is an even bigger binary in terms of deps, complexity, support level (GA since v1.0.1), etc. and then kubeadm will follow in its footsteps.

We have an issue t

[2017-06-12 11:30] #295 closed

[2017-06-12 13:34] jamiehannaford commented on #261
@timothysc I've seen the Google doc, I meant a Github issue for tracking work across different components

[2017-06-12 20:30] luxas commented on #292
@ReSearchITEng `--config` always takes priority over CLI flags. In v1.7, kubeadm will error out if you try such an invalid set of params. v1.6.x unfortunately doesn't

[2017-06-12 22:26] gtaylor commented on #71
I too am running into the same symptom with a Quay.io repo. I've seen this work before on non-kubeadm clusters. That doesn't mean that this is kubeadm-specific, though.

[2017-06-13 02:35] chrislovecnm commented on #281
@justinsb what do you think about cert management? You understand kubeadm better than I do.

[2017-06-13 08:21] luxas commented on #71
@gtaylor If you think you found something that may be kubeadm-related, please open an issue with relevant details so that we can understand what the problem might be. It might as well be something that other solutions set up for you that's out-of-scope for kubeadm. In that case we should document it instead.

[2017-06-13 09:54] GheRivero opened #296 "improve user experience about CNI errors"
FEATURE REQUEST
One of the most common questions in the kubeadm channel is about "errors" with the CNI plugin. Before deploying any network addon, people take a look at the cluster status and see errors in the DNS "Pending" pod the main node in a NotReady status (runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config unini

[2017-06-13 12:34] vascofg opened #297 "Cluster won't start when localhost entry exists on DNS"
## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.6.4
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): centos 7
- **Kernel** (e.g. `uname -a`): 3.10.0-514.21.1.el7.x86_64

## What happened?
On my company's local network there is a machine called localhost.
If this en

[2017-06-13 13:14] luxas commented on #219
ping @pipejakob

[2017-06-13 13:18] luxas commented on #237
@pipejakob ping

[2017-06-13 13:55] ReSearchITEng commented on #292
@luxas Taking priority would be ok, but it's completely ignoring the cli arguments.
My situation was: I added in file config only one parameter (which does not exist as cli), and kept the rest as cli.
To my surprise it did not merge them, it simply discarded all the cli arguments.

[2017-06-13 14:05] luxas commented on #292
@ReSearchITEng That's due how to the API machinery in Kubernetes works, I'm sorry. Therefore, we've added better validations for such cases in v1.7

[2017-06-13 15:57] pipejakob commented on #237
This will be fixed by https://github.com/kubernetes/test-infra/pull/2761. The reviewer requested some changes that I haven't had time to address yet. It's definitely in my queue.

[2017-06-13 16:08] lukemarsden commented on #278
https://github.com/kubernetes/kubernetes.github.io/pull/3999

[2017-06-13 16:21] cmluciano opened #298 "Change kube-proxy xtables container to use a file type mount"
## Versions

**kubeadm version** (use `kubeadm version`):
master

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.7

At the moment we rely on kubernetes/kubernetes#47212 to create the xtables file upon kubelet startup. This means that we don't need anymore prep when mounting the xtables path into the kube-proxy. Since kubernetes/kubernetes#47212 has a TODO about fixing init-co

[2017-06-13 16:22] cmluciano commented on #298
/assign

[2017-06-13 16:32] Steffen911 opened #299 "kubeadm join fails to request cluster info (forbidden)"
## What keywords did you search in kubeadm issues before filing this one?

Related to https://github.com/kubernetes/kubeadm/issues/223 , but the proposed solution doesn't fix the problem.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
master: ```kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d

[2017-06-13 17:06] gtaylor commented on #71
I don't think this is kubeadm-specific, but we may not be doing what we can to resolve the issue with kubeadm setups. The cwd of my kubelet process is `/`. I don't know whether that is something that kubeadm could/should be involved with fixing.

People with non-kubeadm'd clusters are seeing this as well, so it's not _caused_ by kubeadm.

[2017-06-13 17:42] luxas opened #300 "Create a kubeadm installer container for CoreOS"
Choose one: BUG REPORT or FEATURE REQUEST
FEATURE REQUEST

And other platforms that may not have deb/rpm installation support

Moved from: https://github.com/kubernetes/kubernetes/issues/34134

[2017-06-13 17:48] luxas commented on #237
@pipejakob I updated the issue description to count both for v1.6 and v1.7

[2017-06-13 17:51] luxas opened #301 "kubeadm e2e's should exist for both supported minor versions"
Since we support v1.6 and v1.7 API servers for kubeadm CLI v1.7, we should run e2e tests for both control plane versions, so we can be sure both v1.6 and v1.7 (as the example) works at any given time.

This was discussed today in the SIG meeting where we agreed that this is a thing we should implement ASAP

[2017-06-13 21:57] pipejakob commented on #252
I don't think I'll have enough bandwidth to take this on in the 1.7 timeframe, but I am happy to contribute to a subsection about the e2e requirements for each release.

[2017-06-13 22:18] pipejakob commented on #264
It's certainly possible with some extra work. :-) If anyone is eager to take this on, I'll do my best to help introduce and guide through the test-infra layers, but I don't have bandwidth for this in the near term.

[2017-06-13 22:54] drajen opened #302 "Having 'localhost' as a registered hostname in your DNS domain upsets your 'kubeadm init'"
## What keywords did you search in kubeadm issues before filing this one?
`[apiclient] Created API client, waiting for the control plane to become ready`

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
O

[2017-06-14 01:24] gtirloni opened #303 "kubeadm token list - failed to load admin kubeconfig"
BUG REPORT

## Versions

**kubeadm version**: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:33:17Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}

**Kubernetes version**: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66

[2017-06-14 02:37] shekharupland commented on #282
I am able to see this issue with the fresh install :
kubectl exec -ti busybox -- nslookup kubernetes.default
Server:    10.96.0.10
Address 1: 10.96.0.10

nslookup: can't resolve 'kubernetes.default'

kubeadm version
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.4", GitCommit:"d6f433224538d4f9ca2f7ae19b252e6fcb66a3ae", GitTreeState:"clean", BuildDate:"2017-05-19T18:33:17Z", G

[2017-06-14 02:53] pipejakob commented on #303
Our documentation and error messages could definitely be improved, but this is the expected behavior.

`kubeadm token generate` just generates a random token and prints it out, but doesn't attempt to persist it anywhere. It is stateless, and can be run at any point in time (even before `kubeadm init`). `kubeadm token create` is likely the functionality you're looking for, but it's meant to be used

[2017-06-14 06:29] gtirloni commented on #303
Thanks, that makes sense. I somehow assumed it was decoupled from the unit phase.

[2017-06-14 06:29] #303 closed

[2017-06-14 06:36] Steffen911 commented on #299
If I pass a Hostname instead of an IP to the join operation it fails in the second step:

[code]

On the check of the server version it falls back to IP address though. Is this a configuration issue? Is it possible to initialize the root with a hostname instead of its IP address?

[2017-06-14 08:34] kachkaev commented on #302
I confirm this issue – faced it on three FirstVDS.ru KVMs (two with Ubuntu 16.04 and one with CentOS 7.3). Also @albpal had this on myhosting.com. We got the issue fixed by removing the provider's DNS servers and installing dnsmasq. More details in https://github.com/kubernetes/kubeadm/issues/228#issuecomment-307158412 and the following comments.

Hope there is a fix on the kubeadm side, because s

[2017-06-14 10:31] gtirloni opened #304 "Feature Request - status command"
It would be nice to have a `kubeadm status` command that can be used to check if a host has been initialized already.

It seems the only way to do that right now is to run `kubeadm init` and let it fail in the pre-flight checks.

[2017-06-14 11:50] luxas commented on #302
@kachkaev I'm thinking of adding a preflight check for this, i.e. fail fast if
`nslookup localhost`, `nslookup localhost.$(hostname -d)` or `nslookup $(hostname)` returns a non-loopback or address that doesn't exist in `ip addr`.

How does that sound to you?

[2017-06-14 11:50] luxas commented on #302
Thanks to chatting with @drajen I now have a clearer understanding of the problem domain, I had never encountered such a setup myself before.

[2017-06-14 12:58] Steffen911 commented on #299
Solution: Execute join command with no_proxy: `no_proxy=IP_ADDRESS kubeadm join [...]`

[2017-06-14 12:58] #299 closed

[2017-06-14 13:32] kachkaev commented on #302
@luxas my k8s experience is only a couple of weeks, so I'm not sure I can be a good adviser here. But I agree that running a preflight check would be a good start! It's also important to point people who fail the check to some good explanation of what's happening so that they could either install dnsmaq (like I did) of configure their DNS server (if they have access to it).

If you're fancy to exp

[2017-06-14 15:44] kfox1111 commented on #282
@shekharupland usually thats an issue with kube-dns, your sdn, or settings if you changed the pod/service network. generally I've found it to be the sdn though. Would try there first.

[2017-06-14 18:06] pipejakob commented on #304
Do you have a usecase for doing this programmatically? Or is it just for human interactions, where you might be playing around and forget the state of a machine?

One thing you can do today is test the cluster health using `kubectl` instead of `kubeadm` (since `kubeadm` is only targeting initialization of master and nodes):

    $ kubectl get componentstatuses
    NAME                 STATUS    ME

[2017-06-14 18:13] gtirloni commented on #304
I was creating an Ansible playbook and at some point wanted to confirm that the host was 'clean' before proceeding with `kubeadm init`, just as a safety measure.

I think `kubectl get componentstatuses` could work in that case, thanks for the idea. For my use case, that should be enough.

[2017-06-14 18:19] yuvipanda opened #305 "api-server tries to talk to a random IP address instead of itself"
## What keywords did you search in kubeadm issues before filing this one?

`bind-address`

## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`): (1.6.4, but not succeeding in setting it up
- **Cloud provider or hardware configuration**: Bare metal hardware
- **OS*

[2017-06-14 18:36] yuvipanda commented on #305
I also needed to change the host of the health check from `127.0.0.1` to the bind-address, otherwise apiserver just went into a crash loop

[2017-06-14 23:02] yuvipanda commented on #305
Sorry, this ended up being a terribly misconfigured DNS server on our end.

[2017-06-14 23:02] #305 closed

[2017-06-15 07:03] #251 closed

[2017-06-15 07:08] luxas commented on #304
Closing for now, we may want to revisit it at some point in the future, but I think for now `kubectl get cs` is good enough.

[2017-06-15 07:08] #304 closed

[2017-06-15 07:09] luxas commented on #282
@shekharupland Which CNI network plugin are you using? Weave, flannel, calico, canal?

[2017-06-15 10:24] jamiehannaford commented on #264
@pipejakob I can take this on after v1.7 is released

[2017-06-15 15:15] luxas opened #306 "kube-proxy isn't run with `privileged: true` at HEAD"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): HEAD

https://github.com/kubernetes/kubernetes/issues/46372 introduced a regression; it moved `privileged: true` from Container to Pod level SecurityContext, but there isn't a `privileged` option on [PodSecurityContext](https://kubernetes.io/docs/api-reference/v1.6/#podsecuritycontext

[2017-06-15 15:16] luxas commented on #298
Fixed the original issue but introduced a new one: https://github.com/kubernetes/kubeadm/issues/306

[2017-06-15 18:06] cmluciano commented on #298
/reopen

this is for tracking a file based mount once https://github.com/kubernetes/kubernetes/pull/46597 is merged

[2017-06-15 18:19] luxas commented on #298
Ah, yeah, ok

[2017-06-16 01:41] pipejakob commented on #268
I went with option 1: https://github.com/kubernetes/kubernetes-anywhere/commit/bb7dc09e518001cc66f483f624838b143f193912

[2017-06-16 01:41] #268 closed

[2017-06-16 01:52] pipejakob opened #307 "kubeadm should enforce maximum supported Kubernetes version"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

When running `kubeadm init`, it checks to see if the option `--kubernetes-version <version>` specifies a version that is too old, but not if it is too new.

For instance, if you have version `1.6.5` of kubeadm, and run:

    kubeadm init --kubernetes-version latest

it currently finds that the latest version is `1.8.0-alpha.0` and tries to i

[2017-06-16 05:08] asatsi opened #308 "kubeadm init hangs CentOS 7 kubeadm 1.6"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm centos hang
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

This was referenced here to be fixed and to create a new bug if its not fixed. https://github.com/kubernetes/kubeadm/issues/39
Details of my environment:
$ uname -a
Linux stevevai 3.10.0-514.16.1.el7.x86_64 #1 SMP Wed Apr 12 15:04:24 UTC 2017 x86_64

[2017-06-16 11:48] jamiehannaford commented on #82
@luxas Since https://github.com/kubernetes/kubernetes.github.io/pull/3941 is merged, can we close this?

[2017-06-16 12:01] jamiehannaford commented on #210
@edenxia What tag are you referring to? Can you explain how you resolved this issue?

[2017-06-16 12:16] jamiehannaford commented on #265
Would this just exist as a static doc?

In the past I've written a [man page generator](https://github.com/rackspace/rack/blob/master/man.go), which would allow us to dynamically generate docs based off specific kubeadm commands as they exist in the codebase. WDYT?

[2017-06-16 12:18] jamiehannaford commented on #14
I imagine when self-hosting becomes more stable (hopefully completed by v1.8), this will just be a matter of documentation. I'll add it to our v1.8 goals.

[2017-06-16 12:29] jamiehannaford commented on #28
This might be possible for v1.8.
Feature issue: https://github.com/kubernetes/features/issues/281
alpha PR in review: https://github.com/kubernetes/kubernetes/pull/46254

[2017-06-16 12:34] jamiehannaford commented on #31
I think all we can do from a kubeadm perspective is document unique product UUIDs as a potential requirement. I imagine there are so many different ways to resolving this per OS, we can't really suggest a specific one.

[2017-06-16 18:57] #306 closed

[2017-06-16 22:59] pipejakob commented on #308
Were the preflight checks not passing for you? What happens if you try `kubeadm init` without skipping them?

[2017-06-17 01:04] pipejakob commented on #237
https://github.com/kubernetes/test-infra/pull/2761 has been merged, and our `release-1.6` and `release-1.7` jobs are back to green:

https://k8s-testgrid.appspot.com/google-gce#gce-kubeadm-1.6
https://k8s-testgrid.appspot.com/google-gce#gce-kubeadm-1.7

[2017-06-17 01:04] #237 closed

[2017-06-17 01:26] pipejakob commented on #301
PR opened: https://github.com/kubernetes/test-infra/pull/3104

[2017-06-17 02:30] pipejakob commented on #250
I forgot to link it here, but I have an open PR for whenever our `master` CI goes back to green: https://github.com/kubernetes/test-infra/pull/2976

Hopefully, this should happen with the release of `1.8.0-alpha.1` on Monday.

[2017-06-17 07:00] luxas commented on #237
Thank you a lot @pipejakob for fixing that!

[2017-06-17 11:54] luxas commented on #28
@mtaufen Will the alpha version of Kubelet Dynamic Configuration be easily upgradeable?
I mean, will it be of beta quality but alpha just because of the ladder and policy to not just enable things by default?

kubeadm could be a good way to test these things out on real clusters during the cycle and then we can decide whether we want to enable it or not in v1.8

[2017-06-17 12:02] luxas commented on #82
@jamiehannaford Yes, I think so. If rkt folks want to document something specific to rkt, they can in the docs, but I think using CRI+rktlet will be fine for now. No changes needed to kubeadm at least

[2017-06-17 12:02] #82 closed

[2017-06-17 12:03] luxas commented on #307
I would prefer a preflight check warning only

[2017-06-17 12:04] luxas commented on #210
And at the same time, please document it in the https://github.com/kubernetes/kubernetes.github.io repo

[2017-06-17 12:06] luxas commented on #265
I think it's possible to create a man page for kubeadm commands directly from cobra, cc @kubernetes/sig-cli-misc, right?
I think kubectl has that already.

Then we might want to add some more (custom) information as well, but I think that's the second, not primary task of this issue

[2017-06-17 12:07] luxas commented on #14
Yes, this is definitely a v1.8 goal

[2017-06-17 12:09] luxas commented on #31
Agreed @jamiehannaford, we should just list this as a requirement for everything running smoothly.
Kubernetes and things running on top might require/assume that
a) The product_uuid is unique
b) The MAC address is unique
for every node.

@jamiehannaford Can you document that please?

[2017-06-17 12:11] luxas commented on #308
@asatsi Is it possible that you could use docker 1.12 that is the supported version?

[2017-06-17 12:42] luxas opened #309 "kubeadm e2e targeted at HEAD should use control plane images from master"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

TESTING REQUEST

Using something as simple as https://gist.github.com/luxas/7515d1e1fb94cff1327b83ae4affd7a4, it's possible to download and `docker load` images from the latest CI builds.

We should use this instead of relying on `dl.k8s.io/release/latest.txt`, which has been a major obstacle for us in the v1.7

[2017-06-17 13:59] luxas opened #310 "Verify that the Node Authorizer is enabled and working on kubeadm 1.7.x+ clusters"
How to implement: https://github.com/kubernetes/kubernetes/issues/47174#issue-234494786

Basically the only thing we have to do is to run an extra bash script on kubeadm v1.7.x+ clusters, until the linked issue is fixed and we can `ginkgo.focus` it.

@pipejakob Should you or I take this on?

[2017-06-17 14:00] luxas opened #311 "e2e test the kubeadm v1.6->v1.7 upgrade route"
The title says it all.
This is probably a little harder one to figure out with kubernetes-anywhere, but I'd love to get it sorted out.

1. Spawn a release-1.6 cluster
2. Make sure all nodes joined correctly (all nodes in the Ready state)
3. Upgrade to release-1.7
4. Bonus: Test out `kubeadm join` again if we can
5. Run all e2e tests
6. Verify that the Node Authorizer is working after upgrade as we

[2017-06-17 14:02] luxas commented on #219
friendly ping @pipejakob ;)
Can I close this?

[2017-06-17 14:04] luxas commented on #191
friendly ping @pipejakob

[2017-06-17 15:01] fabriziopandini opened #312 "improve kubeadm preflight message for bridge-nf-call-iptables"
## Is this a BUG REPORT or FEATURE REQUEST?
A request for improvement of documentation/UX experience

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.5", GitCommit:"490c6f13df1cb6612e0993c4c14f2ff90f8cdbf3", GitTreeState:"clean", BuildDate:"2017-06-14T20:03:38Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64

[2017-06-17 15:02] fabriziopandini commented on #308
I managed to reproduce the error, and it seems that `kubeadm init` hangs with docker 17.03.1-ce, while it works with docker 1.12

I also opened #312 to track the problem related to the preflight checks not passing

[2017-06-17 16:22] jamiehannaford commented on #31
@luxas Sure, I'll get to it next week

[2017-06-17 19:13] luxas commented on #31
Perfect, thank you!

[2017-06-17 22:13] vascofg commented on #297
Closing as duplicate of #302

[2017-06-17 22:13] #297 closed

[2017-06-17 22:14] vascofg commented on #302
Bump, also experiencing this.
Also, if 'localhost' appears on DNS after kubeadm has initted, the cluster has unexpected behaviour in communication between hosts.

[2017-06-19 06:10] dalenoe commented on #302
I ran into this. I am using ubuntu though.. but pretty much the same problem.

[2017-06-19 07:10] luxas commented on #302
One thing maybe worth pointing out is that it's not kubeadm that's failing per se, but this seems to be a Kubernetes-in-general thing. I'm not even sure if it even is a bug in the API server, since it just uses the normal golang resolver which takes (and should take indeed) `/etc/resolv.conf` into account.
If you have something invalid in there it will obviously fail.

However, kubeadm could be mo

[2017-06-19 11:17] luxas commented on #127
**EDIT: New list as of 19th June**
 - [ ] Make self-hosting work, split out to phase, use DaemonSets: https://github.com/kubernetes/kubernetes/pull/47435
 - [ ] Upload certificates to the API using Secrets: https://github.com/kubernetes/kubernetes/pull/42548
 - [ ] Propose a create-first-then-delete DaemonSetUpdateStrategy and consume for the controller-manager and scheduler
 - [ ] Write a kubelet

[2017-06-19 13:27] vascofg commented on #302
@luxas is there any open issue that you know of on the Kubernetes side?

[2017-06-19 13:33] luxas commented on #302
@vascofg Not anyone I know about, but there might be.
You can ask in #sig-api-machinery on Slack...

[2017-06-19 14:52] mtaufen commented on #28
It depends on how confident we are that the API types for the Kubelet won't change after 1.8. It's too early to say right now.

[2017-06-19 15:02] gtirloni commented on #267
It'd be interesting for cfg mgmt tools if the pre-flight checks could also be initiated separately.

[2017-06-19 15:31] mogaal commented on #308
I got the same problem and it was because I was using the kernel vmlinuz-4.11.2-1.el7.elrepo.x86_64. I changed to vmlinuz-3.10.0-514.16.1.el7.x86_64 and it was sorted.

[2017-06-19 15:37] luxas commented on #267
@gtirloni Sounds like a good improvement, can you spawn a separate issue for that?
Also, feel free to implement it ;)

[2017-06-19 15:39] luxas commented on #308
@mogaal Interesting. How did the kubelet react/behave on 4.11?

[2017-06-19 15:50] luxas opened #313 "Create a `kubeadm validate` command"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

FEATURE REQUEST

It would be really cool to have a `kubeadm validate` command!
This has been discussed a few times, but never brought to life.

Example commands/usage:
 - `kubeadm validate network`: Would spin up an nginx Deployment or so to serve on port 80, then spin up an other busybox Pod to `nslookup nginx

[2017-06-19 15:51] luxas commented on #313
cc @kubernetes/sig-testing-feature-requests Do you have any cool ideas or thoughts?

[2017-06-19 15:54] gtirloni opened #314 "Feature Request - pre-flight command"
In light of the work on supporting phases in kubeadm (#267) it would also be interesting to have the pre-flight checks be available as a phase and accessible through a specific command.

This would be useful to configuration management tools that want to first make sure everything is fine before continuing with the next phases.

[2017-06-19 15:55] gtirloni commented on #267
Thanks for reviewing the idea. I'll try to learn more about the work that is being done with the phases and see if I can implement something without breaking the whole world :)

[2017-06-19 16:15] luxas commented on #314
Thanks for the issue @gtirloni! Sounds very good to me, do you want to contribute that change :smile:?
I can guide you if you want...

[2017-06-19 16:18] luxas commented on #235
This was fixed with: https://github.com/kubernetes/kubernetes/pull/44125

[2017-06-19 16:35] fabriziopandini commented on #307
Ok @luxas, i'm going to change the PR asap

[2017-06-19 16:57] gtirloni commented on #314
@luxas definitely want to work on this if you're willing to tolerate newcommer mistakes :)

Would it be okay if I add this under `kubeadm alpha phase preflight` ?

[2017-06-19 19:15] mrichins commented on #312
I had this issue as well, if you want a quick fix, provision your boxes with the following command:
[code]
Basically you need to set your ip tables in CentOS (and other redhat family OSs I assume?)

[2017-06-19 20:28] surlypants commented on #226
encountered same issue.

applications should observe /etc/nsswitch (and subsequently /etc/hosts). a broken upstream nameserver shouldn't bring an application to its knees.

[2017-06-19 22:38] fabriziopandini commented on #307
Done!
Please note that:
- The check gives a warning whenever the version of kubernetes his higher then the version of kubeadm, thus identifying "users accidentally trying to perform an upgrade without first upgrading kubeadm itself". Agreement here?
- fixed package BUILD file (please check because I have little experience in Bazel) and noticed that there is a dependency toward //test/e2e_node/syst

[2017-06-19 22:46] bboreham commented on #226
Since you are commenting on a closed issue, and the last few comments are all talking about resolving localhost which is a different subject to this issue, I suggest you open a new issue.

[2017-06-20 07:03] roberthbailey commented on #309
Docker load is a pretty ugly hack. While we might want to support it in the short term, we should really be making each of the CI builds push images into gcr (in a different bucket from the release images).

@ixdy

[2017-06-20 07:11] roberthbailey commented on #311
There are a wide variety of upgrade test suites: some upgrade just the master and run e2es, some run new e2es against old clusters (to verify compatibility), some run old e2es against newer clusters (testing compatibility in the other direction), and the newest ones (that @krousey added) run tests while upgrading the cluster.

I think that the last set will be the most difficult to port to kuberne

[2017-06-20 09:38] luxas commented on #314
I'd love to see a PR from you that fixes this! If there's something you struggle with, we know what to improve on our SIG's contribex side, and that's truly helpful information. We want the contributor experience to be really smooth, so tell me if you see something that looks strange, there surely are things that we can improve ;)

Sounds very good to me!

[2017-06-20 10:03] luxas commented on #226
@surlypants Please comment on the issues that are relevant to what you're describing... there are a couple that touch DNS misconfigurations which makes Kubernetes fail. As an aside, I don't think Kubernetes is responsible for fixing invalid `/etc/hosts` and `/etc/resolv.conf` files.

[2017-06-20 10:14] luxas commented on #309
I agree that it's kind of ugly, but I can't convince Google to pay for uploading the CI images from the crossbuild to `gcr.io/kubernetes-release-dev` or the like...
Spawned https://github.com/kubernetes/test-infra/issues/1400 some time ago for this...

[2017-06-20 10:27] erikbgithub commented on #273
Please reopen #272 or start working on this issue considering the other context as well.

[2017-06-20 10:57] luxas commented on #272
@erikbgithub Can you give more information?
To me it seems like `Maximum number of concurrent DNS queries reached (max: 150)` is the issue.

What weave manifest are you using?
What do `/etc/{nsswitch.conf,hosts}` contain?
What does `nslookup $(hostname)`, `nslookup localhost.$(hostname -d)` and `nslookup localhost` output?

[2017-06-20 13:40] luxas commented on #302
This will be fixed in v1.7 thanks to https://github.com/kubernetes/kubernetes/pull/46772 :tada:

[2017-06-20 14:15] roberthbailey commented on #309
I don't think it's a cost issue.... we are already pushing the tarballs to GCS and storing the docker images in gcr.io (which is backed by GCS). And @ixdy commented on the linked issue that "we'd like to start doing this." I think it's more a matter of getting it set up.

[2017-06-20 15:13] luxas commented on #309
@roberthbailey Ok, great, thanks for clarifying.
Would we all agree on having the cross-build CI job do this?
Could we agree on `gcr.io/kubernetes-release-dev/` or `gcr.io/kubernetes-ci-cross/` or the like?

I'm not actually sure how hard it would be to implement, I'm not familiar with how to get the credentials to gcr.io etc for such a job

[2017-06-20 16:14] roberthbailey commented on #310
/cc @ericchiang

[2017-06-20 16:39] timothysc commented on #314
It might also be worth while to rationalize a portion of the "node conformance" tests into the preflight checks.

[2017-06-20 16:49] cheld commented on #313
in dashboard we get many issues that users cannot access dashboard, but actually the cluster setup or their environment is the cause.

@kubernetes/dashboard-maintainers do we have any additional ideas?

[2017-06-20 17:08] krousey commented on #311
@roberthbailey The testing logic that relies on draining is guarded by cloud provider. That is, it's only enabled for GKE and GCE right now.

[2017-06-20 17:08] luxas commented on #314
@timothysc Can you create a new issue for that?

[2017-06-20 17:40] roberthbailey commented on #311
Do the tests run and/or pass on other cloud providers? I'm guessing that we implicitly rely on the draining behavior for successful test runs.

[2017-06-20 17:44] krousey commented on #311
I can't speak for how else we rely on GKE or GCE in the upgrade tests, but the upgrade tests do have a mode where they can run on a cluster upgrade that doesn't drain nodes.

[2017-06-20 18:16] spxtr commented on #313
Why `kubeadm` instead of `kubectl` or some other tool?

[2017-06-20 18:19] luxas commented on #313
@spxtr `kubectl` is a tool to manage the API resources, etc.
`kubeadm` is more a tool to manage your cluster

[2017-06-20 21:18] ixdy commented on #309
I agree with @roberthbailey. I want to get rid of sideloading entirely. All that we really need to fix kubernetes/test-infra#1400 is to figure out which project to upload to. We could use `kubernetes-jenkins`, or we could create a new one.

[2017-06-20 21:54] roberthbailey commented on #309
I like the idea of creating a new project for the sole use of storing these CI images. @luxas proposed two names [above](https://github.com/kubernetes/kubeadm/issues/309#issuecomment-309790840). I think we should go with `kubernetes-ci-cross` or even `kubernetes-ci-images` to be explicit about exactly what we are storing in the gcr repository.

[2017-06-20 22:14] ixdy commented on #309
+1 `kubernetes-ci-images`.

[2017-06-21 00:44] pipejakob commented on #191
It is currently functionally pinned because it's cloning my private fork of the repository (with custom fixes for our e2es). I've been working to get those fixes upstreamed, but when I ultimately flip back to using the real kubernetes-anywhere, I'll also add the commit pinning.

[2017-06-21 00:44] #191 closed

[2017-06-21 03:20] madorn commented on #262
same here.

[2017-06-21 12:28] gtirloni commented on #312
This is documented here: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#limitations

Having kubeadm deal with these OS specifics would certainly be interesting but might increase the scope of the tool too much right now.

[2017-06-21 12:36] gtirloni commented on #290
Relevant discussion https://groups.google.com/d/topic/kubernetes-sig-cluster-lifecycle/xluhdEaawsM/discussion

[2017-06-21 15:42] craigtracey commented on #302
Happy to pick this one up.

[2017-06-21 15:53] #301 closed

[2017-06-21 16:00] fabriziopandini commented on #312
@gtirloni. Many thanks for pointing this out.
Changed the Issue in order from bug to request to improve the UX experience/improve the documentation

[2017-06-21 17:03] ozdanborne commented on #313
I agree with @spxtr. This sounds like an incredibly useful tool for any Kubernetes clusters - not just ones created by `kubeadm`.

Question @luxas: is `kubeadm` only meant to manage clusters it created?

[2017-06-21 17:04] farcaller opened #315 "KUBELET_DNS_ARGS isn't reflecting the kubeadm init command line flags"
## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.5", GitCommit:"490c6f13df1cb6612e0993c4c14f2ff90f8cdbf3", GitTreeState:"clean", BuildDate:"2017-06-14T20:03:38Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `Client Version: version.Info

[2017-06-21 17:17] pipejakob commented on #310
I'm already very oversubscribed for this release cycle, so if you're capable, go for it, @luxas! I'll try to offer help/pointers as much as possible, but I don't think I can take this on.

[2017-06-21 17:23] luxas commented on #312
@fabriziopandini Feel free to improve the preflight checks

[2017-06-21 17:23] pipejakob commented on #311
I can certainly think of dirty ways to implement this in kubernetes-anywhere, but nothing particularly elegant comes to mind. The most flexible thing I can think of is adding a pseudo-phase or subcommand that is capable of running arbitrary commands on the master or nodes, which would have different implementations based on the phase1 provider. For GCE (the only cloud provider used by our current

[2017-06-21 17:28] luxas commented on #313
@ozdanborne Not necessarily. `kubeadm token` can talk to any cluster. Generic functions like that work on any cluster.

But I still think there would be pushback to add such a command to `kubectl`, it really doesn't feel client-y enough to me. This is more a high-level feature than a client-thing. `kubeadm` is the higher-level tool here indeed and `kubectl` is the client that shouldn't build in su

[2017-06-21 17:28] pipejakob commented on #219
Yes. It's patched in my fork (which is used by the e2e tests now), but not upstream. I'll still reference this issue when patching upstream, but this isn't actively affecting our e2es now. Closing.

[2017-06-21 17:28] #219 closed

[2017-06-21 17:34] luxas commented on #315
We are very well aware of this issue and are keeping #28 open for this issue.

@farcaller or @jamiehannaford could you take on documenting this behavior though?

[2017-06-21 17:58] pipejakob commented on #293
@asac Were you able to test using 1.7.0-beta.2 to see if this issue was resolved?

[2017-06-21 18:39] jamiehannaford commented on #315
@luxas Sure I'll send a PR tomorrow or Friday

[2017-06-21 18:49] luxas commented on #315
Thanks @jamiehannaford!

[2017-06-21 18:52] luxas commented on #311
@pipejakob Agreed that we might want to target v1.8
Do we have docs on how GCE/GKE does this?

[2017-06-21 21:17] asac commented on #293
Hi,

unfortunately, I can't reset my cluster to scratch right now, but a quick try running kubeadm (to create master node) for arm on a test node shows that it now successfully finishes installs and kublet service can be started. Also, control panel components are available for the beta.2 version.

So, very nice and thanks for making kube!

[2017-06-21 21:19] pipejakob commented on #293
Fantastic. I'm going to close this for now, but feel free to reopen if future testing reveals this wasn't actually fixed.

[2017-06-21 21:19] #293 closed

[2017-06-22 05:48] roberthbailey commented on #311
GCE does it via [upgrade.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh). GKE does something similar (but probably more resilient to failures in GCE API calls failing).

[2017-06-22 06:08] cheld commented on #313
If feasible, I would suggest to leave the validation in kubeadm, but have an option to execute against any cluster. I would reference this tool then from the setup or trouble-shooting guides in Dashboa

[2017-06-22 06:53] straticsryan commented on #272
I think I just ran into this issue as well.

My private network is 10.X.X.X and so I changed the `service-cidr` and `pod-network-cidr` to 172.30.X.X. I'm using weave as well, so I had to modify weave's yml to add the IPALLOC_RANGE env variable to match the cidr's.

Once I got this going I finally was able to get application pods installed and everything working -- except pod dns.

Using the sock-s

[2017-06-22 07:20] straticsryan commented on #282
I ran and reproduced this issue using 1.6 as well.

I'm using weave as a cni-plugin (I had to edit the IPALLOC_RANGE in weave's plugin yml to also correspond to the netmask used in by `service-cidr` and `pod-network-cidr`).

[2017-06-22 07:51] straticsryan commented on #282
Is there a known way to update the cluster dns setting after `kubeadm init` has been run? maybe a systemd setting?

[2017-06-22 09:49] jamiehannaford commented on #235
@luxas Should this be closed? Although kubernetes/kubernetes#44125 clarified some of the language in the docs, I think this issue is more about whether `kubeadm init` can just copy kubeconfig to a set location like `~/.kube/config`, so the user doesn't have to run anything after.

I also filed something similar recently https://github.com/kubernetes/kubeadm/issues/290.

[2017-06-22 09:49] jamiehannaford commented on #290
Closing in favour of https://github.com/kubernetes/kubeadm/issues/235.

[2017-06-22 09:49] #290 closed

[2017-06-22 10:19] jamiehannaford commented on #265
Yeah, [you can](https://github.com/spf13/cobra/blob/f95d58bdf33e9ff7b9db528dee4966359d6bbe8d/doc/man_docs.md) @luxas, although I couldn't find any refs to it in the kubectl codebase. So if we go ahead with the cobra thing

1. where/when should the manpage be generated? The easiest option is adding it as a new command, so the user can generate locally. This wouldn't be hosted as docs though
2. if w

[2017-06-22 10:21] jamiehannaford commented on #210
TBH I don't think this is a kubeadm failure, but rather some kind of cloud provider/node issue. Due to the lack of details saying otherwise, can we go ahead and close this? We can reopen if the OP provides more info.

[2017-06-22 18:02] straticsryan commented on #282
not sure if this helps, but I found out that `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` had dns settings that weren't getting cleared by `kubeadm reset` (aka the file still exists after a reset).

I imagine that file gets created the first time `kubeadm init` gets ran and then never gets overwritten? If so, then that explains why I ran into this issue because my first `kubeadm init` d

[2017-06-22 18:05] kfox1111 commented on #282
its owned by the rpm and I don't think its touched by kubeadm. which seems very wrong.

[2017-06-22 18:13] straticsryan commented on #282
gotcha. I'm trying to figure out how I can adjust my setup now to get dns working now and found that as it has the same cluster-dns ip as the /etc/resolv.conf file on one of my app containers.

[2017-06-22 19:49] gtirloni opened #317 "Docker is not detected if running with different service name"
With the introduction of [docker-latest](https://access.redhat.com/articles/2317361) by Red Hat, the test partially fails because the systemd unit is called "docker-latest" and kubeadm is looking for "docker".

Would actually trying to use Docker be a better test (e.g. `docker info|ps|version`)?

[code]

## Versions

**kubeadm version**: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.5", GitC

[2017-06-22 20:18] gtirloni commented on #317
Related https://github.com/kubernetes/kubernetes/issues/26259

[2017-06-22 21:10] pipejakob commented on #309
I unassigned myself as I don't have bandwidth for this right now (and didn't want to dissuade anyone else from picking it up). I am interested in following the progress of https://github.com/kubernetes/test-infra/issues/1400, and will take another look at this once the CI images are automatically pushed.

[2017-06-22 21:32] pipejakob commented on #301
To close the loop on this, the new test is part of the sig-cluster-lifecycle testgrid tab, and its first run was a success:

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.6-on-1.7

[2017-06-23 00:06] aanm opened #318 "automatically mount etcd certs volumes on k8s-apiserver container if set in MasterConfiguration file"
In MasterConfiguration file the user can set the ca/cert/key Files for etcd. There are no indication if the paths are host paths or containers paths.
[code]

I suggest the ca/cert/key File paths would point to the host paths and they would be atomically mounted to the k8s api-server container as well the appropriate flags for the k8s-apiserver to point to the mounted paths.

[2017-06-23 04:01] roberthbailey commented on #278
Fixed by https://github.com/kubernetes/kubernetes.github.io/pull/3999.

[2017-06-23 04:01] #278 closed

[2017-06-23 05:03] shavo007 commented on #183
this caught me out when following the tutorial on aws using ubuntu. what security group entries do I need for the master node?

[2017-06-23 17:45] #314 closed

[2017-06-23 22:39] evocage commented on #203
Guys,
I have two interfaces on my VM one is for NAT and second one if for hostonly-adaptor. By default it kubeadmin was taking the default interface IP(NAT in my case) if you want to use other interface then use :
$ sudo kubeadm init --apiserver-advertise-address=<host_only_adaptop_IP (in my case)>

And it worked for me.

[2017-06-23 23:49] pipejakob commented on #309
I think this duplicates https://github.com/kubernetes/kubeadm/issues/238, but I'll let @luxas confirm and close in case I missed a subtle difference.

[2017-06-24 00:10] pipejakob commented on #208
This was fixed as part of https://github.com/kubernetes/kubernetes/pull/46875. The new signature is:

    func CreateServiceAccounts(clientset "k8s.io/client-go/kubernetes".Interface) error

https://github.com/kubernetes/kubernetes/blob/e554dd6d3d334fdd8054c8e9df39fa4b35b283f6/cmd/kubeadm/app/phases/apiconfig/clusterroles.go#L53

[2017-06-24 00:10] #208 closed

[2017-06-24 00:13] pipejakob commented on #207
I believe this was fixed as part of https://github.com/kubernetes/kubernetes/pull/46875, as the code now ignores AlreadyExists errors. Are there other errors you would expect to either be ignored or automatically retried, or is it enough to redrive from the caller now that we ignore AlreadyExists?

[2017-06-24 00:27] pipejakob commented on #179
What's difficult about this request is that unless you completely run out of memory, or the kubelet starts evicting critical pods, I don't know if it makes sense to claim "minimum requirements" without your specific SLOs. Having some or all operations run slowly could be perfectly fine for some cluster owners, if they're deliberately running on low-cost platforms.

That said, I think the Scalabili

[2017-06-24 00:37] pipejakob commented on #147
It looks like the const exists now, but is it still desirable to completely kill the ability to override it? https://github.com/kubernetes/kubeadm/issues/232 seems to be a valid usecase for wanting to write files elsewhere, if the user really knows what they're doing.

[2017-06-24 00:43] pipejakob commented on #145
@bruceauyeung Can you describe what breaks when you try to use kubefed on a kubeadm-initialized cluster (other than the context issue, which I believe should be solved by @luxas's suggestion to use the correct kubeconfig file)? Or were you hoping that kubeadm's CLI would provide additional options to automatically set up Federation?

[2017-06-24 00:50] pipejakob commented on #135
@jberkus Friendly ping. Especially with https://github.com/kubernetes/kubernetes/pull/46772 merged, I'm curious if there are any more DNS-related issues left to fix. Are you able to test the newest 1.7 beta?

[2017-06-24 01:08] pipejakob commented on #61
Friendly ping, @dmmcquay. Is there more left to do in this issue? Are you still owning its completion?

[2017-06-24 08:07] luxas commented on #309
Actually kind of a dupe, yes
Closing...

[2017-06-24 08:07] #309 closed

[2017-06-24 08:07] luxas commented on #238
Work being done now in: https://github.com/kubernetes/test-infra/issues/1400

[2017-06-24 08:08] luxas commented on #183
cc @jbeda @justinsb @chrislovecnm ^

[2017-06-24 08:10] luxas commented on #317
Sure! Propose a PR if you come up with some clever way to solve this :)

[2017-06-24 08:11] luxas commented on #207
I think what @justinsb meant was that the function should be idempotent, and now it is.
Closing, and we can open more targeted issues later if needed...

[2017-06-24 08:11] #207 closed

[2017-06-24 08:16] luxas commented on #147
@pipejakob @errordeveloper How common is it to have `/etc` ro-mounted? Is it possible to `ln -s` in some way to workaround that while keeping `/etc/kubernetes` a constant in kubeadm.
I want to minimize complexity inside of the tool and I think having the manifests in different places may mostly lead to confusion... as noted in the design proposal

[2017-06-24 08:18] luxas commented on #145
@kubernetes/sig-federation-feature-requests PTAL
Do we have a story for easy federation on bare metal yet?
In that case, can we have tests so kubeadm clusters are easily kubefed-able afterwards?

[2017-06-24 08:20] luxas commented on #318
@aanm Want to contribute? :)

[2017-06-24 08:49] luxas commented on #282
@kfox1111 Touching that file would be wrong by kubeadm; unfortunately we haven't got #28 yet, but that will get into v1.8...

[2017-06-24 08:50] luxas commented on #210
@edenxia Please give us more information; are you running on GCE for example?
Until that, we'll have this issue closed.

[2017-06-24 08:50] #210 closed

[2017-06-24 08:53] luxas commented on #235
@jamiehannaford I'm a bit (read: very) hesitant to/scared of adding functionality that just overwrites things you have globally in `.kube/config`.
Willing to have the discussion but...

[2017-06-24 14:57] luxas commented on #272
@straticsryan Did you change them to _the same CIDR_?
Then I totally understand why it didn't work, as kube-proxy, the kubelet and Weave will fight against each other... The service-cidr and pod-network-cidr must not overlap.

[2017-06-24 19:38] madhusudancs commented on #145
@luxas

There is. `kubefed` should work on bare-metal clusters.

Please file an issue for it. I will be happy to help/mentor anyone who is willing to set this up.

[2017-06-25 18:38] chenopis commented on #265
Well, technically not manpages, but we do have autogenerated docs for [kubectl](https://kubernetes.io/docs/user-guide/kubectl-overview/) and the config references: [kubelet](https://kubernetes.io/docs/admin/kubelet/), [kube-apiserver](https://kubernetes.io/docs/admin/kube-apiserver/), [kube-control-manager](https://kubernetes.io/docs/admin/kube-controller-manager/), etc. Also, I think someone is w

[2017-06-26 00:53] jberkus commented on #135
It solves one case. I'll retest with the beta.

[2017-06-26 09:14] jamiehannaford commented on #239
This now [documented](https://github.com/kubernetes/kubernetes.github.io/pull/4113), so we can close 🎉

[2017-06-26 09:14] jamiehannaford commented on #31
This now [documented](https://github.com/kubernetes/kubernetes.github.io/pull/4165), so we can close 🎉

[2017-06-26 09:22] jamiehannaford commented on #19
Since https://github.com/kubernetes/kubernetes.github.io/pull/4112 has been merged, we can go ahead and close this 🎆

[2017-06-26 09:25] luxas commented on #239
Yayy :tada:

[2017-06-26 09:25] #239 closed

[2017-06-26 09:25] luxas commented on #31
Yayy :tada:

[2017-06-26 09:25] #31 closed

[2017-06-26 09:25] luxas commented on #19
Thanks for helping out on this one :+1:

[2017-06-26 09:25] #19 closed

[2017-06-26 09:30] jamiehannaford commented on #265
Perhaps we should change the scope of this issue then to generating docs for kubeadm, similar to how kubectl et al. does it

[2017-06-26 09:33] jamiehannaford commented on #235
@luxas Yeah it definitely needs thinking about. TBH my goal is just to reduce or minimize the amount of steps before a user can interact with their cluster. Another option could be saving kubeconfig to `~/.kube/kubeadm.conf` or something (with all the correct permissions), so we don't clobber any other configs and the user just needs to run `export KUBECONFIG=...`.

Maybe we can briefly bring it u

[2017-06-26 09:35] luxas commented on #235
@jamiehannaford Feel free to add it to the agenda

[2017-06-26 10:00] luxas opened #319 "The kube-proxy DaemonSet spec should be rolling-upgradeable"
There is not much else to say, let's take advantage of cool features :)
Also will make things easier when upgrading
cc @pipejakob

[2017-06-26 10:01] luxas opened #320 "Only the cluster-info ConfigMap should be exposed in the kube-public namespace"
Currently it seems like all ConfigMaps in the kube-public namespace are, which is sub-optimal
This can and should be cherrypicked into the v1.6 and v1.7 releases.
PR: https://github.com/kubernetes/kubernetes/pull/48050

[2017-06-26 10:03] luxas opened #321 "cAdvisor shouldn't be publicly exposed by default"
More information in: https://github.com/kubernetes/release/pull/356 and https://github.com/kubernetes/kubernetes/pull/48042

[2017-06-26 16:15] kfox1111 commented on #282
then why is it called 10-kubeadm.conf ?

[2017-06-26 16:30] luxas commented on #282
@kfox1111 What would it be called instead?
Clarification:
kubeadm **the binary** should never touch anything systemd-related
kubeadm **the deb/rpm package** may bring options that we know work well with kubeadm the binary

[2017-06-26 16:50] kfox1111 commented on #282
ah. ok. I thought it was owned by the kubelet package not the kubeadm package.

That makes a bit more sense, but still is a usability issue. the user changes the service network and then things break unless they know every place to update the config file. Maybe if nothing else, a warning to the user on the kubeadm binary when the user switches the service network telling the user what to fix, unti

[2017-06-26 16:56] luxas commented on #282
@kfox1111 Feel free to add that warning if you want. The documentation PR just landed: https://github.com/kubernetes/kubernetes.github.io/pull/4164#event-1138949384

[2017-06-26 16:56] luxas commented on #315
PR is merged :+1:

[2017-06-26 16:56] #315 closed

[2017-06-26 21:31] Reifier commented on #245
Why can't I bind to my static IP instead of 127.0.0.1 or 0.0.0.0?

[2017-06-27 09:02] luxas commented on #245
@Reifier Open a new issue with your question along with more details and I can answer

[2017-06-27 14:24] dmmcquay commented on #61
I believe there is still more to do on this. I would be happy to still own its completion.

[2017-06-27 17:39] luxas commented on #61
@dmmcquay Absolutely, feel free to go for it ;)

[2017-06-27 17:50] #319 closed

[2017-06-28 11:54] luxas opened #322 "Review how kubeadm parses yaml and converts resources to internal API objects"
Caught in https://github.com/kubernetes/kubernetes/pull/47346

@caesarxuchao noted that the way kubeadm decodes resources is kind of strange.
Let me show here in this issue what code we are using (what actually works, but might use some hidden knobs we didn't know about)

Parsing the MasterConfiguration object in the kubeadm API group:
[code]

Now that I started thinking about this; I'm unsure of

[2017-06-28 11:56] luxas opened #323 "Add --feature-flags to kubeadm"
We should use the same mechanism as the rest of k8s to enable/disable new features.

[2017-06-28 13:05] deads2k commented on #322
A universal decoder will perform a conversion to get you to internal if it needs to.

[2017-06-28 14:21] luxas commented on #322
So the question here is -- is it okay to do this (using the universal decoder, which works) or should we somehow change the way we parse/decode/convert?

[2017-06-28 14:24] deads2k commented on #322
The universal decoder seems reasonable.  I'd like to see you create your own scheme though to avoid re-using a "private" kube one that everyone shares.

[2017-06-28 14:50] luxas commented on #322
Ok, thanks for confirming.

@deads2k Can you elaborate on that?

Code in `register.go` for the versioned group currently:
[code]

What would you like to change (other than the TODO)?

[2017-06-28 15:28] deads2k commented on #322
The code you pasted into the description references `api.Codecs` and `api.Scheme` from `"k8s.io/kubernetes/pkg/api"`.  Can you make your own CodecFactory like `api.Codecs` based on your scheme?

[2017-06-28 15:52] luxas commented on #322
@deads2k Ah, you mean that way. Sure, but that would work only when deserializing the kubeadm-specifc types (case one), not when deserializing ConfigMaps, Deployments, etc, right?
We'd still have to use `pkg/api` there or would the UniversalDecoder work in any case?

[code]

Also I'm wondering what that comment on Scheme implicates in this scenario...

[2017-06-28 16:09] erikbgithub opened #324 "Where does kubeadm take the proxy settings from?"
It's not /etc/environment, it's not the current bash session that kubeadm is running in, it's not docker or kubelet environment. I verified this by setting `no_proxy` to a different value in all these instances. And for some reason after a `kubeadm init` it still continues to set another value for `no_proxy`. Restart, daemon-reload, restarting the services all doesn't change that fact.

Honestly i

[2017-06-28 17:20] deads2k commented on #322
Given a goal of decoupling types from their usage, its more proper to either allow the client to do it for you (which it already does in its own scheme) or install the particular APIs you need into your scheme.  `install.Install(your registry, metasomething, scheme)`

It means that your API types themselves don't have a scheme, but your process should have a scheme.  Your types need to be installa

[2017-06-28 19:02] zilman opened #325 "kubeadm init --token is only respected if its the sole flag"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

kubeadm version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.6", GitCommit:"7fa1c1756d8bc963f1a389f4a6937dc71f08ada2", GitTreeState:"clean", BuildDate:"2017-06-16T18:21:54Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: ver

[2017-06-29 07:17] mikedanese commented on #322
I'm confused as to why this wouldn't work... We import `"k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/install"` which install the apigroup in the default Scheme.

[2017-06-29 07:19] mikedanese commented on #322
We should try to match what the kube-proxy does https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go

[2017-06-29 07:27] luxas commented on #322
So it works fine, but I got asked whether we could move out of the default Scheme I think and make a kubeadm-specific one. Not sure how important doing that is though...

[2017-06-29 08:02] mikedanese commented on #322
It's tech debt. That is what kube-proxy does:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L172

[2017-06-29 10:33] #320 closed

[2017-06-29 10:34] luxas commented on #258
Fixed with: https://github.com/kubernetes/kubernetes.github.io/pull/4018

[2017-06-29 10:34] #258 closed

[2017-06-29 10:35] luxas commented on #260
Fixed with: https://github.com/kubernetes/kubernetes.github.io/pull/4018

[2017-06-29 10:35] #260 closed

[2017-06-29 10:35] luxas commented on #259
Fixed with: https://github.com/kubernetes/kubernetes.github.io/pull/4018

[2017-06-29 10:35] #259 closed

[2017-06-29 10:38] luxas commented on #235
We covered this during the meeting and concluded that there is nothing more we can do here unfortunately.
The best we can do is to inform the user how to copy the kubeconfig file to `.kube/config` so that it always is available. This is what kubeadm prints out in v1.7:

[code]

We can't automate this as we don't know who the user is (since kubeadm is run as root)

[2017-06-29 10:38] #235 closed

[2017-06-29 10:40] luxas commented on #230
@kargakis If you can reproduce this, please reopen this in the main repo.
If there's something wrong here it's probably a pure kubelet issue.
That said, self-hosting is for real is on it's way into v1.8... :)

[2017-06-29 10:40] #230 closed

[2017-06-29 10:41] luxas commented on #126
ping @timothysc I think we're in a good position, can we close this?

[2017-06-29 10:43] luxas commented on #50
@jbeda Is this something your new proposal will address? I guess so...

[2017-06-29 10:45] luxas commented on #41
I think this is fixed, looks much nicer with v1.5+. Example v1.7 output
[code]

[2017-06-29 10:45] #41 closed

[2017-06-29 10:46] luxas commented on #14
This is happening for v1.8, if you're interested, take a look at this google doc that I just updated with new info:
https://docs.google.com/document/d/1PRrC2tvB-p7sotIA5rnHy5WAOGdJJOIXPPv23hUFGrY/edit

[2017-06-29 10:50] luxas commented on #57
Closing this, as we won't investigate this for a very long time.
Kubernetes acts as root, and so does kubeadm, and actually kubeadm should be root, since it writes CA/serving certs, etc. to disk.

[2017-06-29 10:50] #57 closed

[2017-06-29 10:52] luxas commented on #63
I think we cover this in the features issues we've spawned, so this doesn't make as much sense anymore as it did early on. Closing...

[2017-06-29 10:52] #63 closed

[2017-06-29 11:25] luxas commented on #321
Required changes have merged.
Docs: https://github.com/kubernetes/kubernetes.github.io/pull/4229
Release note: https://github.com/kubernetes/features/pull/320

[2017-06-29 11:25] #321 closed

[2017-06-29 17:19] UmarSaeed11 commented on #39
I am having the same problem. I have installed 3 Centos 7 machines on virtualbox and had made one of them as master by following " https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ " guide. Now when I hit " kubeadm init ", the process stucks at "  Created API client, waiting for the control plane to become ready ".

Kindly help me out as I am new to kubernetes and have to deploy