[2020-04-08 13:35] neolit123 commented on #1353
we saw a number of issues related to flannel in recent k8s versions.

[2020-04-08 17:57] zedtux commented on #1353
Oh, okay, then I will give a try to Calico 😃

[2020-04-08 23:39] neolit123 commented on #2017
looks like the cncf PRs merged.
awesome.

/close

[2020-04-08 23:40] #2017 closed

[2020-04-09 00:56] vijayk13 commented on #1353
I am seeing the same issue as reported by @oneoneonepig and @zedtux on fresh cluster installs on Ubuntu 18.04 machines with both v1.18.0 and v1.18.1. Have tried with both Weave and Calico ...

I am following the instructions at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

I am using a "stacked control plane and etcd node" setup, and HAProxy as my load b

[2020-04-09 00:58] vijayk13 commented on #1353
Am wondering if a new issue should be opened for these recent problems, given that this issue is in "Closed" state?

[2020-04-09 01:43] neolit123 commented on #1353
we have e2e tests using HAProxy as the LB and we are not seeing issues, so it must be specific to your setup:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-18

a bit hard to advise on how to resolve it, as kubeadm is LB agnostic.

i think solving this new issue may resolve the issues that you are seeing:
https://github.com/kubernetes/kubeadm/issues/2092

is this p

[2020-04-09 01:51] vijayk13 commented on #1353
Wanted to clarify that I was not changing the HAProxy configuration midstream ... in one experiment, I had listed both the control plane nodes as my backend servers, and in the other, just the first node.

Is there a timeline for #2092?

Also, in your e2e tests, are you using a physical cluster (with potentially additional network delays between the components), or a single host setup with multipl

[2020-04-09 02:04] neolit123 commented on #1353
should be fixed in 1.19 and backported to 1.18, 1.17...hopefully.

it's a docker in docker setup, so yes the nodes are local containers and we don't simulate network latency.

yet the issue that is being discussed in this thread is apparently very rare. are the networking delays significant on your side? and are the control plane machines spec-ed well on CPU/RAM?

@zedtux 's logs are missing for `

[2020-04-09 03:39] vijayk13 commented on #1353
The control plane nodes are KVM VMs on Ubuntu hosts. Each control plane node VM is provisioned with 4 CPUs and 8 GB of DRAM. The inter-VM latencies don't show anything out of place.

I have repeated the experiment starting from a clean install and will share the following logs below:

- The output of `kubeadm init --v=5` on the first control node (k8s-master1)
- The output of several `kubectl` com

[2020-04-09 08:03] SataQiu opened #2103 "If possible, commands like 'kubeadm init phase' prefer to use the configuration stored in kube-system/kubeadm-config ConfigMap first"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

I created a cluster using `kubeadm init --image-repository=registry.aliyuncs.com/google_containers`.
For some reason, I mistakenly deleted `kube-proxy` DaemonSet.
So I redeployed the `kube-proxy` DaemonSet using `kubeadm init phase addon kube-proxy`.
However, the new `kube-proxy` DaemonSet does not use the previous image repository(`reg

[2020-04-09 08:03] SataQiu commented on #2103
/kind feature

[2020-04-09 08:05] zedtux commented on #1353
Here are the commands output with `--v=5`:

## kubeadm init (first control plane)

[code]

## Worker join

[code]

## kubeadm init (second control plane)

[code]

[2020-04-09 11:55] #1383 closed

[2020-04-09 12:19] neolit123 commented on #1353
@zedtux i'm not seeing errors when your worker and control-plane nodes are joining.
am i missing something?

@vijayk13

 i think you might be facing this same etcd bug:
https://github.com/kubernetes/kubernetes/issues/88111#issuecomment-595191235

not directly related to RAID, but my understanding there is that etcd does not tolerate slow disks.
i think i've seen multiple reports about this already

[2020-04-09 12:39] neolit123 commented on #2103
we had a similar request for `kubeadm config image list`.
https://github.com/kubernetes/kubeadm/issues/1842

- on the CLI we have flags, we in the long-term we should maybe deprecate (at least the kubelet is doing that).
- users should execute `--config` with a config file on disk for all use cases.
- a kubeadm "config" file for "init" can contain multiple config types initconfiguration, clusterco

[2020-04-09 13:16] artisticcheese commented on #2035
Can somebody sum up what one need to do when you get in this situation. Trying to upgrade 1.17.4 -> 1.18.1 and it hangs at this step.

[2020-04-09 13:23] neolit123 commented on #2035
@artisticcheese this should have been fixed in 18.1.
can you provide logs using at least -v=5?

one option is to just delete the coredns deployment and reapply it using the 18.1 kubeadm binary using `kubeadm init phase addons dns`, which should make the `upgrade apply` then pass, in theory..

[2020-04-09 13:25] artisticcheese commented on #2035
Here is log
[code]
I'm not sure I understand what I shall do in the meantime

[2020-04-09 13:29] neolit123 commented on #2035
as i said you can:
- ctrl+c
- delete coredns deployment
- `kubeadm init phase addons dns --config myconfig.yaml`
- call upgrade again

[2020-04-09 13:34] artisticcheese commented on #2035
I assume `config.yaml` is created by `kubectl get deployment -n kube-system -o yaml` ?

[2020-04-09 13:42] neolit123 commented on #2035
`--config` should point to the config file you used for `--config` when you called `kubeadm init`.
you can download the clusterconfiguration like so:
[code]
and then use `config.yaml` with `...addons dns`.

[2020-04-09 13:55] artisticcheese commented on #2035
Command for `kubeadm` is not correct. It does not like `--config`

[code]

[2020-04-09 14:28] neolit123 commented on #2035
my mistake, next to `get cm` you needed also to also extract only the clusterconfiguration part from the configmap.

just try copy pasting this in a file
[code]

then use it with `kubeadm init phase addon coredns --config clusterconfig.yaml`

the purpose of passing a config is to preserve the setup you used on `kubeadm init` originally...

[2020-04-09 14:35] artisticcheese commented on #2035
Not sure why this is marked as fixed since it actually requires `ALL` nodes to be drained not control plane only. That's what hangs process on single node control plane. I have worker node still schedulable and hence I guess original fix was never run.
This fixed it https://github.com/kubernetes/kubeadm/issues/2035#issuecomment-607330985

[2020-04-09 14:39] pytimer opened #2104 "Allow overwrite KubeletRunDirectory when init/join"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.17.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.17.2
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

I want to change the kubelet run directory w

[2020-04-09 15:00] neolit123 commented on #2035
well, this is what the kubeadm upgrade guide requires:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

cc @rajansandeep perhaps you have a better idea what is going on here?

[2020-04-09 15:05] neolit123 commented on #2104
see here:
https://github.com/kubernetes/kubeadm/issues/1478#issuecomment-484170978

you can solve this with a symlink.
last time we spoke about this we didn't want to enable the override on the side of kubeadm.

/priority awaiting-more-evidence
/kind feature

[2020-04-09 15:23] rajansandeep commented on #2035
Yes, let me take a look.
I'd like to try and reproduce this first.

[2020-04-09 15:25] artisticcheese commented on #2035
For me it was single node control plan with single node windows worker created on 1.17.4 originally and trying to upgrade it to 1.18.1

[2020-04-09 15:39] vijayk13 commented on #1353
@neolit123 - thanks for the etcd slow disk issue pointer.
Will change my configuration, run some experiments and report back.

[2020-04-10 00:08] vijayk13 commented on #1353
Okay, checked my configuration and ran fio-based tests to see if the disk fdatasync latency is the issue ... It does not appear to be.

I followed the guidance in:
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/hardware.md, and
https://www.ibm.com/cloud/blog/using-fio-to-tell-whether-your-storage-is-fast-enough-for-etcd

For the suggested fio command (--ioengine=sync --fdatasyn

[2020-04-10 00:47] pytimer commented on #2104
@neolit123 Thanks for reply.

Use symlink can solve my problem. But in my case, i use ansible to deploy some clusters, some of them use `/var/lib/kubelet`, but another use other directory, if use symlink, i should compare with custom kubelet run directory and `/var/lib/kubelet`, and decide wether use symlink. This adds a little complexity, so if kubeadm support, it make me easy to do it.

[2020-04-10 01:08] #2058 closed

[2020-04-10 01:47] neolit123 commented on #1353
we have no solution for this on the kubeadm side. current indicators point towards an etcd issue.

we are primary testing stacked etcd, but also have some tests for external.

[2020-04-10 01:56] neolit123 commented on #2104
potentially, instead of writing the config always to the default kubelet directory, we can check if the user has passed a KubeletConfiguration and use the value from there.
unfortunately this means on joining nodes we have to use flags only as `kubeadm join` currently [does not support KubeletConfiguration](https://github.com/kubernetes/kubeadm/issues/1682).
so that's a much larger complexity on t

[2020-04-10 01:57] neolit123 commented on #2104
/kind design

[2020-04-10 02:59] SataQiu commented on #2103
Admittedly, this will add to the complexity of maintenance for us :(
To keep things simple, we do need to sacrifice something.

[2020-04-10 05:56] zedtux commented on #1353
@neolit123 the issue is not when the worker joins the first control plane, it's when the second control plane tries to join the first one.

[2020-04-10 06:57] fabriziopandini commented on #2103
I totally agree with @neolit123 point
Adding --config to all your calls is a reasonable price also considering that explicit should be always preferred to implicit

[2020-04-10 07:09] fabriziopandini commented on #2104
I'm +1 to defer this to when the design for node specific settings in component config is complete.
We are trying to avoid to create/maintain knobs for specific flags

[2020-04-10 07:14] fabriziopandini commented on #1383
@neolit123 thanks for solving this issue!

[2020-04-10 07:21] fabriziopandini commented on #1599
@tpepper @neolit123 I can help in getting rid of flakes (most of the work should be completed now)

[2020-04-10 07:29] fabriziopandini commented on #2081
IMO kubeadm HA
- should be agnostic to lb solutions (integrated lb should not be a GA criteria)
- should not be linked to the node specific/component config discussions (this should not be a graduation criteria)

Instead I think that GA criteria should be related to robustness and flexibility. WRT to this on top of my mind the etcd learner feature can be used both for improving robustness and as a

[2020-04-10 14:09] neolit123 commented on #1353
@zedtux

your logs show:

...

so it says it passed.

[2020-04-10 14:11] neolit123 commented on #1599
ack, i should be able to find more time for debugging this too.

[2020-04-10 18:11] zedtux commented on #1353
Oh, actually you are right, I was focusing on the following line:

[code]

But then there are those lines:

[code]

So you are right, it works. 🤔.

I'll review my test suite.

[2020-04-11 13:39] heangratha commented on #1390
Hi,
I have tried this on AWS EC2
1. on master:
`iptables -t nat -A OUTPUT -d <Private IP of node> -j DNAT --to-destination <Public IP of node>`
2. on node:
`iptables -t nat -A OUTPUT -d <Private IP of master> -j DNAT --to-destination <Public IP of master>`
3. kube join
Everything working well I can see master and node

[code]

But when I install calico and ingress, both STATUS `ContainerCreating`

[2020-04-12 15:39] anjibabueluri commented on #2035
I am also getting the error, When running a single control plane cluster, `kubeadm upgrade` hangs after printing `[addons] Applied essential addon: CoreDNS`.I am trying to upgrade  from v1.17.2 to v1.17.4.

[2020-04-12 16:59] vijayk13 commented on #1353
@neolit123 - Wanted to provide an update ...

After a few days of debugging, managed to root cause and fix the issue. My setup had a misconfiguration, where the control-plane Linux hosts had the network interface MTU set to the wrong value. Fixing the MTU enabled the control-plane cluster setup to work as intended.

What I did not anticipate, and why it took a while to debug is the following:
- Th

[2020-04-13 08:01] pytimer commented on #1682
I use a configmap named kubelet-config-<nodename> as kubelet `spec.configSource.configMap` for every node, because every node maybe have different configuration in my cluster. I'm not sure if kubeadm can create a configmap that include `KubeletConfiguration` and custom other kubelet configuration for each node, is it ok?

[2020-04-13 08:04] pytimer commented on #2104
If the issue https://github.com/kubernetes/kubeadm/issues/1682 solved, i think this issue also solved.

[2020-04-13 11:52] neolit123 commented on #1682
@pytimer have a read at this proposal too:
https://github.com/kubernetes/enhancements/pull/1439

[2020-04-13 12:03] kymcaris commented on #1978
hello, i am also experiencing the same issue^

[2020-04-13 12:25] neolit123 commented on #1353
what value did you set?

there are 100s of different things that can wrong with the networking of a Node, so i don't think kubeadm should document all of them.

(from a previous post)

this is the first case i've seen a user report MTU issues.
instead of documenting such problems users should be able to just download k8s-ready OS images.
...yet the k8s project does not maintain such.

[2020-04-14 12:28] neolit123 commented on #2094
/assign

[2020-04-14 14:48] neolit123 commented on #2094
@fabriziopandini what timeouts are we talking about?

current backoff for add member is:
[code]
~53 sec

https://github.com/kubernetes/kubernetes/blob/8a4bf398840f1298edaca40b76bee2ace2733d12/cmd/kubeadm/app/util/etcd/etcd.go#L370-L383

also are you sure this is a AddMember issue or an issue and not an issue with the client dial?
https://github.com/kubernetes/kubernetes/blob/8a4bf398840f1298edaca4

[2020-04-14 18:36] neolit123 commented on #2103
closing due to consensus. thanks.
/close

[2020-04-14 18:37] #2103 closed

[2020-04-15 06:08] Zhangxiancheng63 opened #2106 "swap"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-04-15 06:08] #2106 closed

[2020-04-15 12:06] fabriziopandini commented on #2094
@neolit123 I was thinking that we can raise this timeout up to 2 minutes (or even more)
Also, as you are pointing out, for better robustness, we can move the client dial step into the retry loop

[2020-04-15 16:44] neolit123 commented on #2104
related KEP https://github.com/kubernetes/enhancements/pull/1439

[2020-04-16 02:53] takakawa commented on #1025
I have the same error.kubeadm init failed because of a kubelet failure.

[2020-04-16 17:58] mushdavtyan commented on #1153
same issue

[2020-04-17 21:26] rajansandeep commented on #2035
I was unable to reproduce the issue:

I tried kubeadm upgrade from 1.17.4->1.18.1 following the instructions from https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/ with 2 scenarios:
One with single node control plan with single node worker
and the second with just a single node.

In both cases, I was successfully able to upgrade kubeadm with no hang issues.

Note that th

[2020-04-17 21:52] allir commented on #1223
Running into this exact issue creating v1.18.2 cluster with kubeadm.

When setting up metrics-server it doesn't work without either setting it's `kubelet-insecure-tls` flag OR issue certificates for kublet "out of band", signing it with the kubernetes CA.

I thought about re-using the kubelet client certificate but that's of course issued to "CN = system:node:nodename" and no SANs. And I did test

[2020-04-17 22:00] raravena80 commented on #1223
/remove-lifecycle frozen

[2020-04-17 23:02] neolit123 commented on #1223
/lifecycle frozen

it's frozen so that the bots don't close the issue.

[2020-04-17 23:44] neolit123 commented on #1223
in theory and unless the kubelet validates them - e.g. "client cert should not have SANs".

it is the common practice to use them separate even in cases where it seems avoidable. it's unlikely that the kubelet/auth{z|n} maintainers would change this detail.

[2020-04-18 16:10] fabriziopandini commented on #1612
@aojea are you planning to get dual-stack support in kind?

[2020-04-18 16:16] fabriziopandini commented on #2091
@rosti I think we are good for patch node (even if 500ms is somehow aggressive)
Instead ClientSetFromFile is not retried.
If this call is not affected by temporary connection problems, we are fine. Otherwise, this call should be retried as well

[2020-04-18 16:24] fabriziopandini commented on #1829
@neolit123 this is converging to the instance-specific component config. As soon as we figure out how kubeadm handles those values, we should also take care of make them discoverable.
Ideally, the components itself should start exposing some endpoints to get the current config, but this can potentially introduce a certificate nighmare as well if we should provide serving certs for all components..

[2020-04-18 17:06] fabriziopandini commented on #1835
@neolit123 is this something we should work on for v1.19?

[2020-04-18 17:16] aojea commented on #1612
absolutely, I have also a PR working https://github.com/kubernetes-sigs/kind/pull/692, but we've decided to hold until the dual-stack feature is more stable. There are still lots of things to solve in the dual-stack area ...

[2020-04-18 17:16] neolit123 commented on #1835
depends if https://github.com/kubernetes/enhancements/issues/1314 is worked on for 1.19.

[2020-04-18 17:23] neolit123 commented on #1829
core k8s components currently also lack this (e.g. scheduler), so it seems to me a new KEP will be needed at some point.

but kubeadm is not a daemon, so it cannot serve it's configuration. potentially it needs to start storing the instance specific config in ConfigMaps too.

[2020-04-19 17:35] allir commented on #1223
Hey. Did a little more diggin. Kubelet configuration option `serverTLSBootstrap: true` can actually create a CSR for the serving certificate. But it leaves it unapproved. Which may be ok?

Setting both `rotateCertificates: true` and `serverTLSBootsrap: true` and then approving the CSR for the serving certificate seem like the easiest way to go here. The serving certificate that is reqested/issued

[2020-04-19 17:39] nijave commented on #1223
Not sure the security implementations but you can combine `serverTLSBootstrap` with this operator to auto-approve the CSRs https://github.com/kontena/kubelet-rubber-stamp

[2020-04-19 17:54] neolit123 commented on #1223
kubeadm cannot do the approval because kubeadm is not a daemon. it has to deploy a controller / operator that manages that for the user. maybe in the future.

the certificates API should go GA soon and hopefully we are going to have a better way to manage this in k8s. please watch:
https://github.com/kubernetes/enhancements/issues/267
(yet unclear to me what we are going to end up with...)

we als

[2020-04-19 18:55] allir commented on #1223
@neolit123 I at least started looking into it when trying to stand up metrics server on kubeadm and "the hard way" clusters for learning experience. Easiest way there was of course to flag MS with `--kubelet-insecure-tls`, but I really wanted to see how to fix it in a secure way and then just got interested in the issue. 🙂

For now it's easy enough for me to add the `serverTLSbootstrap` flag to th

[2020-04-20 01:41] neolit123 commented on #1723
/remove-lifecycle stale

[2020-04-20 01:41] neolit123 commented on #1601
/remove-lifecycle stale

[2020-04-20 04:49] s977120 opened #2107 "0.0.0.0"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-04-20 04:49] #2107 closed

[2020-04-20 10:47] s977120 commented on #1390
Please reopen this issue, binding to public ip is not a kubeadm problem, But there is still a problem with binding to 0.0.0.0.
Perhaps by adding new options, distinguish between bind ip and advertise ip

[2020-04-20 17:09] mikesparr commented on #2027
I experienced this recently with a client who was locked out of their cluster despite expecting all certs to renew. They were able to get back in by using the `/etc/kubernetes/admin.conf` which was updated by the command. Hope that helps if anyone in dire need until they can regenerate (manually it seems).

[2020-04-21 01:19] neolit123 opened #2109 "upgrade-apply: fix go routine logic around "image-pull-timeout""
[This change](https://github.com/kubernetes/kubernetes/pull/90320) revealed some interesting details.

The usage of "sleep 3600" seems to be there to let WaitForPodsWithLabel()
have time to discover this Pod as Running, yet the value
seems arbitrary. The command could have been "sleep infinity"
with similar results. WaitForPodsWithLabel() has a timeout of
"UpgradeManifestTimeout = 5 * time.Minute"

[2020-04-21 01:41] neolit123 commented on #1862
my PR that replaces /bin/sleep is here:
https://github.com/kubernetes/kubernetes/pull/90320

@rosti

i tend to agree. pre-pulling control-plane images for all control-plane nodes using a daemon set seems convenient in terms of performing one action for multiple targets, but other than that it's inconsistent with ImagePullCheck.

@fabriziopandini

for upgrade e2e, kinder node images should contain

[2020-04-21 03:09] charanreddy18-vk commented on #299
@Steffen911 I tried with no_proxy..... still receive the same error

[2020-04-21 08:19] SataQiu commented on #2109
/assign

[2020-04-21 14:28] yuripastushenko opened #2110 "Add ability to specify resources and replicas count for dns pods"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

We want to use QoS guaranteed for coreDNS pods.
We would like to specify resources (_limits/requests_) for dns (_coreDNS_) when we initialize or upgrade the cluster.
I had seen that in the kubeadm repository those values are hardcoded in [manifest file](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dn

[2020-04-21 14:42] neolit123 commented on #2110
hi, long term we are moving towards decoupling kube-proxy and coredns from kubeadm (including from the clusterconfiguration). these addons will hopefully move to operators that are not managed by the kubeadm maintainers.

in terms of what should kubeadm do by default for replica count, we are blocked on the redesign:
https://github.com/kubernetes/kubeadm/issues/1931
please follow that ticket

but

[2020-04-21 14:43] #2110 closed

[2020-04-21 14:48] yuripastushenko commented on #2110
Ok, but can we make a merge request and change defaults for resources (for enabling QoS Guaranteed)?
In the repository i found a [todo](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go#L54) about this.

[2020-04-21 14:57] neolit123 commented on #2110
as in add `cpu: 100m` for `limits` as well?

such a PR removing the TODO seems fine to me, but i would defer its review to the coredns maintainers. please ping me on it.

[2020-04-21 15:17] yuripastushenko commented on #2110
Adding the limits will probably cause throttling if there will be high number of requests to coreDNS.
I don't think that this solution is applicable to everyone.
I think we can start with equaling memory requests and memory limits (made them both equal to 170Mi).
Also i will ask this question (about QoS and cpu limits and requests ) to coreDNS maintainers.

[2020-04-21 15:21] yuripastushenko commented on #2110
I our cluster we specify same memory limits and requests for pods, because the memory can't be throttled, and there are situations when the pod can be killed by oom killer, but its memory usage on that moment is lower then specified limits.
For example - when there is not enough memory on the node...

[2020-04-22 00:32] hickeng opened #2111 "resolvConf value ignored if systemd-resolved active - override value exhibits race condition between kubelet and systemd-networkd"
## What keywords did you search in kubeadm issues before filing this one?
resolvConf, resolv-conf, resolved, dns

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g. from /etc/os-release

[2020-04-22 05:11] renukamanavalan opened #2112 "Consultation request: kubeadm join fails with conntract not found when run as cron job"
This is *not* kubeadm bug.

I run a wrapper script that calls 'kubeadm join ...".
As master may not be available at that point (say, network issues), I write a cron job that invokes this script periodically until it succeeds.

When  I run the script manually, "kubeadm join ..." succeeds.
But when run as cron job, it fails with

[code]

Any tips can be extremely helpful.

[2020-04-22 06:40] BenTheElder commented on #2020
Is there any way today to tell kubeadm today "hey actually I'm using this pause image"?

While I don't need kubeadm to configure the CRI I'm aware of what image the CRI implementation is using and I'd like kubelet flag and the image pull to match (or just no image pulling, which seems to be possible in 1.13+ with `--skip-phases=preflight`).

Not configuring this properly in kubeadm indeed breaks a

[2020-04-22 06:40] SataQiu commented on #949
/cc

[2020-04-22 06:43] BenTheElder commented on #2020
TBD, though there is provisional support now for building kubelet w/o dockershim, I think eventually it will move out.

IMHO it's mildly useful to make sure the flag aligns, but it would be just as good for kind at least to just not have kubeadm manage the pause image at all and leave us to supply this flag.

Probably the main reason this is a thing is for people configuring `ImageRepository` to u

[2020-04-22 06:47] BenTheElder commented on #2020
The other problem with NOT having a structured field for this in kubeadm config is that kubeadm also doesn't have a structured way to discover what will be used, so you can't automate aligning these cleanly when using a CRI.

At best you can do `kubeadm config images list | grep pause` and then insert that into the relevant implementation config which is pretty gross and assumes that we'll always

[2020-04-22 08:48] SataQiu commented on #2111
/assign

[2020-04-22 09:29] rosti commented on #2111
Indeed. The original logic, however, still needs to be kept the same. That is trying to set `resolvConf` in the config to `/run/systemd/resolve/resolv.conf` **but only if that's not already set by users**.

However, if no stub overwrite is provided, the original race between the kubelet and systemd-resolved would still remain.

[2020-04-22 09:58] rosti commented on #2111
So it seems that we are missing these from the systemd service file for the kubelet.
[code]

[2020-04-22 13:02] neolit123 commented on #2020
users (especially in China) have air-gap local registries where they rely on `kubeadm config images` to tell them what they need to prepull for a working cluster. by doing that they are also prepulling the sandbox container.

from there CR docs need to tell them where to apply this image in the CR config. from my outdated investigation this is not exactly well documented by the CRI providers.

70%

[2020-04-22 13:28] neolit123 commented on #2112
/triage support
you can try skipping the relevant preflight with `kubeadm join ... --ignore-preflight-errors=FileExisting-ebtables,FileExisting-conntrack,...` but it would be better if you add these utils to the OS where you run kubeadm.

[2020-04-22 13:47] BenTheElder commented on #2020
... precisely? but only if kubeadm *is* managing this image / flag. Do you have any *additional* reasons for managing this image in kubeadm?

It is abnormal to override this in a container runtime implementing pods because the sandbox image is part of the pods. However it's not difficult to find the pod sandbox image option in containerd CRI plugin config, it's no less well documented than anythin

[2020-04-22 14:22] renukamanavalan commented on #2112
Thank you for the response. But these modules must be there, as I have *no* issue running it manually. The same command when executed via cron job, has the failure stated above.

[code]

This implies that the system has all the required modules installed. Just when run as CRON job, it has some issues.

Anyone has any tips ?

[2020-04-22 15:03] neolit123 commented on #2112
how are you setting the cron jobs; can you show the configuration?

could be an issue with paths.

[2020-04-22 15:23] neolit123 commented on #2020
only prepull / air-gap, i'd say.

is the request on the kind side related to?
https://github.com/kubernetes-sigs/kind/issues/1471#issuecomment-617795165

isn't `--ignore-preflight-errors=all` (which kind is doing AFAIK) sufficient to stop kubeadm from pulling any images during init/join?

that is a side effect, but we may have to tolerate this.

[2020-04-22 15:29] neolit123 commented on #2020
if we end up adding https://github.com/kubernetes/kubeadm/issues/524 with support for a pull-policy of `Never` this can also skip pre-pull completely, but this will not align it with the k8s pull polices.

alternatively we can break down preflight into sub-phases and this way one can skip `..=preflight/prepull`

[2020-04-22 15:48] renukamanavalan commented on #2112
Yep. That fixed it. I should have tried, before creating noise. Sorry.

For others, who may encounter, "run sudo env" to get info and run it under cron, to see the diff. Look at the diff, make changes as needed.

For me,  I added "`export PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin`" in my script, that fixed it.

[2020-04-22 15:48] #2112 closed

[2020-04-22 15:50] neolit123 commented on #2112
thank you for confirming it was a PATH issue.

[2020-04-22 19:13] BenTheElder commented on #2020
the kind issue is just what brought me here, we'll need to employ workarounds for older k8s versions anyhow, but I dont think this is a good state to be in going forward with CRI becoming more common (e.g. CAP*)

yeah, which sadly 1.11 / 1.12 don't appear to have.

that still leaves us doing substring matches on the images which I guess works but feels wrong.

yeah, again I might suggest documenti

[2020-04-22 19:34] neolit123 commented on #2020
it's hard to maintain such a big skew. i'd drop support for these older versions at this point.
with the current skew (without LTS KEPs etc) we try to close <1.16 tickets in k/k and k/kubeadm unless the user wants to confirm the bug is present in the skew or if a developer has the time to check.

related issue to the kind issue, that was logged today; the user is asking why they have two phase ima

[2020-04-23 14:52] davesargrad opened #2114 "How do I pass changes to my corporate proxy into the kube-apiserver"
Using istio, I've had [problems with webhook creation](https://github.com/istio/istio/issues/23153). I found a [jetstack issue](https://github.com/jetstack/cert-manager/issues/2640) that suggested this required a change to no_proxy.

I verified with our corporate IT department that the node that kube-apiserver is running on is attempting to hit the proxy.

I used kubeadm to setup our cluster in th

[2020-04-23 15:16] davesargrad commented on #2114
The answer is that modifications to kubernetes manifests are automatically relayed to the 3 critical pods: kube-apiserver, kube-controller-manager, kube-scheduler

![image](https://user-images.githubusercontent.com/48793689/80116338-da54ed00-8553-11ea-802a-bcf7d1d38f70.png)

[2020-04-23 15:20] #2114 closed

[2020-04-23 15:43] rosti commented on #2111
@hickeng about the race between kubelet and systemd-resolved, PhotonOS 3.0 uses systemd v239. Digging through the source code of that version of systemd, I came to the conclusion that it's unlikely for a partial `/run/systemd/resolve/resolv.conf` to be visible.
They seem to be composing that file and flushing it out into a temporary file, which they then rename into the old one.
What I am thinking

[2020-04-23 15:51] #2109 closed

[2020-04-23 15:51] #2111 closed

[2020-04-23 19:32] #1862 closed

[2020-04-24 01:08] vainkop commented on #1223
That's really sad that with kubeadm which seems mature enough the out of the box result for kubeletet cert is to be self signed & many people choose `kubelet-insecure-tls` for metrics server instead of doing things properly & etc :(

[2020-04-24 01:11] neolit123 commented on #1223
it's a complicated problem.

please try:
https://github.com/kontena/kubelet-rubber-stamp
or
https://github.com/brancz/kube-rbac-proxy
as workarounds

[2020-04-24 12:20] vainkop commented on #1223
Actually https://github.com/kontena/kubelet-rubber-stamp works pretty good & imo seems to be a more correct solution instead of proxy.

**Step 1:**
Add
`serverTLSBootstrap: true` to the end of every `/var/lib/kubelet/config.yaml` for kubelets reconfiguration & don't forget to apply config (or just reboot them)

**Step 2:**
Deploy [kubelet-rubber-stamp](https://github.com/kontena/kubelet-rubber-sta

[2020-04-24 14:26] allir commented on #1223
Hey, just to add to that @vainkop
During your initial `kubeadm init` to create the cluster you should also be able to pass in a KubeletConfiguration API object file to set the `serverTLSBootstrap`

[code]

`kubeadm init --config=kubeadm-config.yaml`

Then all kubelet's will automatically be set up using the `serverTLSBootstrap` flag.

To get the CSRs
[code]

Then either approve them manually or I

[2020-04-24 15:09] equinox0815 commented on #1223
@allir, @vainkop  as far is i can see the kubelet-rubber-stamp does only verify if the common name of the CSR matches the requester name but does not verify whether the additional hostnames and IP Addresses requested by the kubelet are valid. This means an attacker that has access to the kubelet client certificate can create certificates for basically any domain name or IP address. All clients tha

[2020-04-25 01:07] prashantpsr24 commented on #1601
Facing the same issue with kubeadm

[2020-04-25 01:40] neolit123 commented on #1601
for now you have to patch your YAML manually or it should be possible with the --exterimental-kustomize=` feature too, currently.

[2020-04-25 22:59] vainkop commented on #1223
Or for an existing K8s setup using Ansible it can be:
[code]
+restart kubelets

[2020-04-25 23:16] prasadkatti opened #2116 "Bad default value for `--image` on `kinder create cluster` cmd"
## What keywords did you search in kubeadm issues before filing this one?
image, latest

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST
The `kinder create cluster` command uses `kindest/node:latest` as the default image. But it looks like there is no `kindest/node` with `latest` tag on Docker hub.
Maybe `--image` should be a required flag.

## Versions

**kubeadm version** (use `kube

[2020-04-26 03:21] SataQiu commented on #2116
Thank you for reporting this @prasadkatti .
/cc @neolit123

In fact, You can build the image locally.

- ensure that Kubernetes is cloned in `$(go env GOPATH)/src/k8s.io/kubernetes`
- build a node image and create a cluster with:
[code]

But it is really a bad user experience that the deault image can not be pulled. 😟

[2020-04-26 05:55] BenTheElder commented on #2081
/subscribe 🙃

[2020-04-26 06:18] BenTheElder commented on #2046
I think @neolit123 is already quite familiar with this but for others I want to add a little context regarding kind's move FWIW:

kind moved off of kustomize both to make it cheaper for projects like cluster-api to embed kind (need to follow up on that) ... it seriously dropped the binary weight of `kind` (down to around 9MB total) and avoids issues like the "k8sdep" packages that have the kuberne

[2020-04-26 06:20] BenTheElder commented on #2039
AIUI most kubernetes tools will override the config field with the CLI flag if set, what prevents us from doing this here?

[2020-04-26 06:26] BenTheElder commented on #2020
er, the pause image is not kubernetes version specific unless we're talking about dockershim because that is itself a partial container runtime. containerd, cri-o etc. should use whatever pod sandbox image meets their needs.

for example, using the latest containerd with any kubernetes version works fine, but will use the 3.2 image, while older kubeadm will assume the 3.1 image.

you *can* make co

[2020-04-26 06:29] BenTheElder commented on #1943
I wonder if we can update `kubectl cluster-info` to say something like `DNS is running at ...` and prefer some annotated service entry or something like that.

doesn't seem _super_ important, but I could certainly see users being confused about "KubeDNS is running at" when we're not using kubedns...

[2020-04-26 06:30] BenTheElder commented on #1943
Has https://github.com/kubernetes/kubeadm/issues/1943#issuecomment-578508089 been raised to SIG Network?

[2020-04-26 06:33] BenTheElder commented on #524
The `Never` case is correct for `kind` FWIW, though I think we're going to just start skipping preflight entirely (we typically fail and ignore most of the checks anyhow... 🙃  e.g. swap).

[2020-04-26 11:36] agreddyapps commented on #1795
I was scratching my head over this issue for quite sometime and figured it was an upstream flannel change and you step 3 worked like charm

[2020-04-26 14:49] muratcankarakurt commented on #1359
If you used the same configuration with https://github.com/mmumshad/kubernetes-the-hard-way add the advertise address to both kubeadm init and kubeadm join commands like this:

sudo kubeadm init --control-plane-endpoint=192.168.5.11:6443 --upload-certs --apiserver-advertise-address=192.168.5.11

sudo kubeadm join 192.168.5.11:6443 --token XXXXX --discovery-token-ca-cert-hash sha256:XXXXX --control

[2020-04-26 17:24] fabriziopandini commented on #524
@neolit123 is this still a problem?
AFAIK kubeadm works in air gapped environment if the image exists locally; users also have options to influence image name (via image repository/image tag fields)

As far as I understand the problem, image pull policy should not add much to what described above..

[2020-04-26 18:19] fabriziopandini commented on #2039
ATM in kubeadm --config and flags touching component config fields are exclusive in all the kubeadm commands.
The main reason behind this choice is to avoid to hard code flags/component config preference rules for the 3 different component config API types file managed today and for all their supported versions (potentially more than 1).

This problem is in the scope of the component config WG, bu

[2020-04-26 18:21] fabriziopandini commented on #2116
I don't have strong preference here.
We can either remove the default or default to a specific version; the latter introduce a little maintenance burden

[2020-04-26 20:24] BenTheElder commented on #524
It doesn't work when e.g. it's trying to pull an unnecessary pause image
and failing 🙃

On Sun, Apr 26, 2020, 10:24 Fabrizio Pandini <notifications@github.com>
wrote:

[2020-04-26 20:32] BenTheElder commented on #2039
The flags should always take precedence and override / push down to
everything else?

"Hard Coding" -- er sure, flags have to be handled with code for each flag,
this is already the case?

I'm not sure I understand why we think this is too challenging. Not
handling this is surprising versus other tools in the space .. even kubectl
does this pretty extensively and users are going to be used to that

[2020-04-26 23:44] prasadkatti opened #2117 "`kinder do smoke-test` fails"
## What keywords did you search in kubeadm issues before filing this one?
smoke

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T20:54:24Z", GoVersion:"go1.13.

[2020-04-26 23:49] prasadkatti commented on #2117
Looks like it is related to this - https://github.com/kubernetes/kubernetes/pull/87077 - (Remove kubectl run generators)

[2020-04-26 23:51] prasadkatti commented on #2117
I can work on a PR for fixing this.
/assign

[2020-04-27 08:26] fabriziopandini commented on #2117
thanks @prasadkatti

[2020-04-27 11:20] Milozpp opened #2119 "docker service is not active, please run 'systemctl start docker.service'"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-04-27 15:19] fabriziopandini commented on #2119
this seems the copy of the issue template without any additional detail...
/close

[2020-04-27 15:42] neolit123 commented on #1943
cc @johnbelamaric @chrisohaver
do you have comments about?

[2020-04-27 15:46] neolit123 commented on #2116
+1 on making the flag required and making the default "".

[2020-04-27 15:55] chrisohaver commented on #1943
I have been referring to the cluster service discovery DNS service in Kubernetes as "Cluster DNS", to distinguish it from other DNS services in the K8s equation... (Upstream DNS, Node Local Caching DNS).

[2020-04-27 15:55] neolit123 commented on #524
@fabriziopandini

it was recently requested by @ncdc for CAPI use too.
our kubeadm logic currently always does a "IfNotPresent":
https://github.com/kubernetes/kubernetes/blob/0acf2f0983d1491caf60367f12c1bd76651209cc/cmd/kubeadm/app/preflight/checks.go#L835-L851

and with a policy of "Never" it will never pull and "Always" would always pull, which will actually run faster than "IfNotPresent" if the

[2020-04-27 15:59] neolit123 commented on #2039
kube-proxy is doing it backwards, kubeadm too in some places.
kubelet is deprecating *all* flags.

i'm +1 on starting to slowly remove some flags in kubeadm that overlap with config and not adding new ones.

[2020-04-27 16:12] ncdc commented on #524
@neolit123 I think you're referring to the regression in kubeadm that always pulled instead of doing IfNotPresent? I don't think CAPI needs anything now that the regression has been fixed.

[2020-04-27 16:16] fabriziopandini commented on #2116
@prasadkatti do you want to give a try to this one?

[2020-04-27 16:17] neolit123 commented on #524
ok, so i had to refresh my memory about that bug:
https://kubernetes.slack.com/archives/C2P1JHS2E/p1575565526161900

we did fix a regression.
there is still the use case for pullPolicy = Never or allowing users skip prepull if we exposed it as a sub-phase of preflight.

[2020-04-27 16:35] johnbelamaric commented on #1943
I don't think we should change the service name, as pointed out it will break stuff (which is why we didn't do it before). The "KubeDNS" I believe comes from an annotation, that could be change, I would think. It could vary based on which DNS provider is installed. Or it could just read "Cluster DNS" as Chris suggests.

[2020-04-27 18:08] prasadkatti commented on #2116
Sure. I will try to create to a PR for this.

[2020-04-28 02:58] #2116 closed

[2020-04-28 06:28] BenTheElder commented on #524
+1 @neolit123  xref https://github.com/kubernetes/kubernetes/issues/90326

Elaborating a little ...

This is not sufficient, you cannot currently configure the pause image to match your CRI. In an airgapped environment this leads to: https://github.com/kubernetes/kubernetes/issues/90326

https://github.com/kubernetes/kubeadm/issues/2020 would be one way to fix that, but alternatively in an airgapp

[2020-04-28 08:40] BenTheElder commented on #1829
seems like you could get _pretty far_ without a lot of effort by {de,}serializing somewhere on each instance's disk.

[2020-04-28 09:23] xlgao-zju opened #2122 "Use deploy(with node selector) to prepull the images"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

If this is a FEATURE REQUEST, please:

When I upgrade a cluster with 3 masters, we will create 3 pre-puller daemonsets to pull the master images.  And when I upgrade master 1, we will get 9 pre-puller pods. The 9 pre-puller pods will run on all masters, and pull the images. But when I grade master 2, there will be another 9 pre-puller p

[2020-04-28 09:25] xlgao-zju commented on #2122
/assign

[2020-04-28 09:49] xlgao-zju commented on #2092
I'd like to help with this.
/assign

[2020-04-28 14:08] neolit123 commented on #2122
hi @xlgao-zju

`kubeadm upgrade apply ...` pulls images using a daemonset, but you are supposed to call this only on a single node. for the rest of the nodes you should call `kubeadm upgrade node ...`.

we have plans to not use kubernetes constructs (DaemonSet, Deployment...etc) and instead use per-node prepull during preflight:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app

[2020-04-28 15:36] xlgao-zju commented on #2122
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L835-L848
this is out of scope for 1.19, or at least we haven't planned it for this cycle.

@neolit123 thank you for information. this plan is cool! and feel free to ping me, if there is anything I can help 😆

[2020-04-28 15:41] neolit123 opened #2123 "investigate if we should stop using a DaemonSet for upgrade prepull"
investigate if we should stop using a DaemonSet for upgrade prepull.

@rosti brought the idea that we might want to maintain a single peace of code for doing prepull during init/join/upgrade.

upgrade currently uses a separate method - a DS.

see the discussion here:
https://github.com/kubernetes/kubeadm/issues/1862#issuecomment-616899539

/kind feature
/kind design
/priority backlog

[2020-04-28 15:41] neolit123 commented on #2122
ok, i'm going to close this ticket.
please follow https://github.com/kubernetes/kubeadm/issues/2123

[2020-04-28 15:41] #2122 closed

[2020-04-28 16:27] xlgao-zju commented on #2123
I'd like to hear the opinion of everyone. And I'd like to help, if there is anything help wanted.

[2020-04-28 19:45] fabriziopandini commented on #2123
If we mange to remove pre-pull DS this will be a nice clean up for the upgrade logic.
 +1 for me

[2020-04-29 07:06] xlgao-zju commented on #2123
@fabianofranz @neolit123 Since we have already pulled images in the preflight:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks.go#L835-L848

I'd like to file a RP to remove pre-pull DS, WDYT?

[2020-04-29 12:24] neolit123 commented on #2123
on paper it's simple enough, but i'm hesitant about doing that for 1.19 as it was not discussed in our planning session as a feature change / redesign.
@rosti @fabriziopandini thoughts?

[2020-04-29 17:42] #2117 closed

[2020-04-29 19:48] fabriziopandini commented on #2123
Let's wait for @xlgao-zju providing some feedback on how complex this change is; If the implementation is straight forward, IMO we can consider this as a running task.

[2020-04-30 15:54] venkatakrishna-biarca commented on #1893
That must be kubeadm reset not kubectl reset

[2020-04-30 15:56] venkatakrishna-biarca commented on #1893
**That must be kubeadm reset  but not kubectl reset**

[2020-05-01 07:40] #949 closed

[2020-05-01 15:09] bagnaram opened #2127 "Kubeadm DirAvailableCheck Should Ignore lost+found"
## BUG REPORT

`DirAvailableCheck should ignore Linux `lost+found` directories.
## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**: CAPA
- **OS** CentOS Linux release 7.7.1908 (Core)
- **Kernel** `Linux ip-10-0-0-33.us-west-1.compute.internal 3.10.0-1062.12.1.el7.x86_64 #1 SMP

[2020-05-01 17:38] neolit123 commented on #2127
/assign @rosti @ereslibre

what do you think about this?

i'm not familiar with `lost+found`

[2020-05-01 18:13] prasadkatti opened #2128 "Add a test to check if all control-plane Pods use the "system-node-critical" priority class"
Hi. I am looking to contribute with kubeadm tests. I came across the tests here - https://github.com/kubernetes/kubernetes/tree/master/test/e2e_kubeadm. So I was trying to see if there are any tests that I could add and I believe I have found some. But before I start working on it I wanted to check in here.

In 1.19 we have this new change `All static Pods use the system-node-critical priority cla

[2020-05-01 18:22] CecileRobertMichon commented on #2127
+1

I'm also running into this

[2020-05-01 18:39] neolit123 commented on #2128
it's not really needed but a nice to have, i guess.
so you can send it and see if someone disagrees on the PR.

our static pods are quite fixed in this regard and unlikely to change, after we moved to "node-critical".
our unit tests on the other hand guard potential drift in the source code.

SIG scheduling on the other hand already should have the test which is actually the important one - making

[2020-05-01 18:41] neolit123 commented on #2128
suggesting minor change in the name:

[2020-05-01 22:04] rmja commented on #1712
I belive that I have found the issue to this.

When observing `/etc/kubernetes/manifests/etcd.yaml` on the backup master that is trying to join, you will see that it advertises on a different IP range than the primary master.

To avoid this, you must specify the advertise address manually when joining:

[code]

Where `<ip>` is an address in the same subnet as the control plane.

[2020-05-02 09:13] fabriziopandini commented on #2128
I'm +1 to get this as a unit test (not as e2e/smoke test)

[2020-05-02 09:15] fabriziopandini commented on #2127
If the fix is small enough, IMO this is a candidate for backport

[2020-05-04 00:08] prasadkatti commented on #2128
Looks like the unit tests for [ComponentPod](https://github.com/kubernetes/kubernetes/blob/83a59c02f9b6fa29a352043509fca076c05bdb0e/cmd/kubeadm/app/util/staticpod/utils.go#L49) already test for the "system-node-critical" priority class.

[2020-05-04 03:58] yipulash commented on #479
@joedborg Has this problem been solved? I encountered the same problem

[2020-05-04 07:36] fabriziopandini commented on #2128
Great! thanks for checking!
/close

[2020-05-04 07:36] #2128 closed

[2020-05-04 13:36] neolit123 commented on #2127
instead of mounting /var/lib/etcd to be the root of the external volume, why not mount the volume and sym-link a sub-folder as /var/lib/etcd? my understanding is that this solves the problem.

also kubeadm allows you to ignore preflight checks for `DirAvailableCheck` on per-directory granularity, except that Cluster API does not allow the kubeadm `--ignore-preflight-errors` flag and also it uses k

[2020-05-04 13:46] bagnaram commented on #2127
Although this can be solved using the directory hierarchy mentioned above, it doesn't seem to be a clean solution. Instead of checking for the existence of an empty directory during `DirAvailableCheck` what about only checking the contents of `/var/lib/etcd` that may collide or conflict during installation?

[2020-05-04 14:24] neolit123 commented on #2127
granular conflict detection requires binding to directory structures that may be version specific or change in the future (e.g. etcd5 might change it's snapshot model completely).

if `list+found` is ignored by `DirAvailableCheck` this should apply to the check as a whole and for all directories that are checked with it.

[2020-05-06 07:59] xlgao-zju commented on #2123
@neolit123 @fabriziopandini PR is filed, PTAL

https://github.com/kubernetes/kubernetes/pull/90788

[2020-05-06 19:15] petertsu commented on #2077
@cjreyn  Did you solve the issue ? I have it on CentOS 7

[2020-05-06 19:31] cjreyn commented on #2077
Yes, I put the following in the file /usr/lib/systemd/system/kubelet.service.d/11-kubeadm.conf

[code]

In theory, adding just the "After=docker.service" should be enough, but in my testing it also needed the sleep.

[2020-05-07 12:05] rosti commented on #2127
In general, using the root directory of a particular volume is not a good idea. Furthermore, this is `lost+found` now. In the future we might discover some other similar instances (especially if this turns out to be a volume backed by Windows).

For now symlinking or bind mounting to a sub-directory should do the trick. You can also ignore the pre-flight check error.
We might try to specifically l

[2020-05-07 13:31] NeilW commented on #695
/reopen

[2020-05-07 13:43] NeilW opened #2132 "document the usage of --service-cidr and improve validation"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:54:15Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version:

[2020-05-07 14:00] neolit123 commented on #2132
hello,

@NeilW
i'm personally against adding a preflight check for this in kubeadm for now, because i'm seeing the underlying cidr / ipam space of k8s in being partially in flux and not really well documented for ipv6 (e.g. "what ranges we support for ipv6 and why is that the case")

cc @Arvinderpal @aojea
WDYT?

related to:
https://github.com/kubernetes/kubernetes/pull/90184#issuecomment-61622983

[2020-05-07 15:05] NeilW commented on #2132
Ideally we should be calling a "Is this a valid service CIDR" from a utility package somewhere we can pull in.

As you say, no point doing it in two places. But it'd be nice to know at some point before the api-server goes over with no warning.

[2020-05-07 15:17] aojea commented on #2132
It seems that current validations of the apiserver CIDRs are not being exported.

Validating at this point is not ideal for the reasons @neolit123 is pointing out, just check this PR trying to change the service CIDR size for the context

xref https://github.com/kubernetes/kubernetes/pull/90115

... I'm afraid that we should go with documentation until this settles :smile:

[2020-05-08 10:32] xphoniex commented on #1295
I managed to start a cluster the other day with some help from @neolit123 .

- This PR https://github.com/kubernetes/kubernetes/pull/90892 fixes kubeadm getting stuck
- There was another issue with `resolv-conf` defaulting to `/run/systemd/resolve/resolv.conf`, I'd prepared another commit as I was behind the master but apparently this has been fixed in https://github.com/kubernetes/kubernetes/comm

[2020-05-08 10:45] fcolista commented on #1295
@xphoniex I'm avail to help.
I prefer that your patch is applied upstream...at the moment Alpine version is stucked at 1.17.3, since 1.18 does not build with go 1.13.
Let me know what kind of help/cooperation you need from my side.
Thanks!

[2020-05-08 14:11] xphoniex commented on #1295
These PRs on alpine side are needed, leaving them here for reference:

- [add pidfile to docker.initd and create its folder](https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/7681)

- [fix kubelet service issue on start, add support for kubeadm](https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/7678)

- ~~[change location of binaries and license of cni-plugins](https://gitl

[2020-05-08 21:09] fcolista commented on #1295
@xphoniex they have been merged
.: Francesco

[2020-05-09 03:20] amadav commented on #1300
Is there any way to automate this fail-over if kubeadm reset cannot be run?

[2020-05-10 08:59] bhardwahnitish19 commented on #787
I am still facing this issue with minikube 1.9.2, k8s v1.15.12 and ubuntu 18.04.4. Tried the mentioned work around but it didn't work. Could you please suggest something?

I am trying to access a service exposed as NodePort. Things used to work perfectly until my system crashed and I had to re-install Ubuntu and minikube. Facing this issue since 2 days.

I would really appreciate any help.

Thanks

[2020-05-11 06:32] ohmyhusky commented on #2035
I got the same issue when trying to upgrade from 1.16 to 1.17. Single master with only one node.
It doesn't happen to me when upgrading from 1.15 to 1.16. However, I got `[ERROR CoreDNSUnsupportedPlugins]: there are unsupported plugins in the CoreDNS` like https://github.com/kubernetes/kubernetes/issues/82889, and  I used `--ignore-preflight-errors=CoreDNSUnsupportedPlugins` flag to ignore that er

[2020-05-11 15:44] neolit123 commented on #1582
/remove-lifecycle stale

[2020-05-11 15:49] neolit123 commented on #1582
/lifecycle frozen

[2020-05-11 17:58] hickeng commented on #2111
Completely agree - this isn’t a partially written file being accessed, it’s a file with contents that are not what we expect.

I don’t think it’s that it cannot detect DNS, but that it clears the DNS and reapplies them. Quite possible this window doesn’t exist with a static IP/DNS config.
It is likely waiting until the DHCP lease is renewed before adding in DNS derived entries. This is completely

[2020-05-12 00:10] neolit123 opened #2135 "remove usage of flexvolume in kubeadm"
distroless effort:
https://github.com/kubernetes/kubernetes/issues/70249

see this message from sig-storage https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/zC8jCLg142w/2P3BN5oTAgAJ

kube-apiserver and kube-scheduler [already moved to distroless](https://github.com/kubernetes/kubernetes/pull/90674), but the kube-controller-manager was blocked. kube-proxy is y

[2020-05-12 02:22] ssup2 commented on #1394
@mauilion Thank for the information about cgroup driver. But i have question about your mention " We have seen cases in the field where nodes that are configured to use cgroupfs for kubelet and docker and systemd for the rest can become unstable under resource pressure."

Why using both are unstable?? I think that, from the kernel's point of view, it looks the same as a cgroup created using cgroup

[2020-05-12 18:01] neolit123 opened #2137 "add startup probes to kubeadm static Pods"
see discussion here:

https://github.com/kubernetes/kubernetes/pull/90970#issuecomment-627229271

instructions for the values are here:
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

[2020-05-12 19:08] #2123 closed

[2020-05-12 23:42] MikaelSmith commented on #2095
I've encountered this and the only step that caused problems for me was etcd. If I aborted a prior attempt while etcd was waiting to connect, it connects, then go to re-run `kubeadm join` I get:
[code]

I've worked around this by manually running the final steps:
[code]

For context, how I've run into this: etcd failed on the host and was automatically removed from the member list. I went to re-ad

[2020-05-13 01:08] neolit123 commented on #2095
hi, @MikaelSmith

did you use `--ignore-preflight-errors=all` when calling `kubeadm join`?
normally kubeadm will fail if this directory is not empty.

i don't think etcd local storage is something we considered in terms of idempotency, so we might have to revise here.

to clarify, you got the error from join even after clearing the data directory?

[2020-05-13 02:19] grahamoptibrium opened #2138 "No way to recover failed master node"
## What keywords did you search in kubeadm issues before filing this one?

HA ETCd join rejoin control-plane [master node failure] [master node recreation]

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**

[2020-05-13 06:48] johscheuer opened #2139 "Probes should be configurable"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

During the discussions in https://github.com/kubernetes/kubernetes/pull/90970 I noticed that the values for the probes currently hardcoded (e.g. timeouts, failures etc.). I believe that it's impossible to set these values to "one size fits hem all". One solution would be to set these values to some sane values like defined in https://gi

[2020-05-13 07:56] Seb0042 opened #2140 "Add more information when missing config element"
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.18.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.18.2
- **Cloud provider or hardware configuration**: VM (Vmware)
- **OS** (e.g. from /etc/os-release): CentOS
- **Kernel** (e.g. `uname -a`): 5.6.10-1.el7.elrepo.x86_64
- **Others**:

## What happened?
"kubeadm upgrade plan" gives an error messag

[2020-05-13 08:41] fabriziopandini commented on #2140
/help
/kind bug
/area upgrade
/priority backlog

given that this error is due to a user misconfiguration and that AFAIL this is the first report of this type

[2020-05-13 08:50] fabriziopandini commented on #2139
@johscheuer in kubeadm we are using flags and config options to address the most common use cases, while the experimental kustomize patches for static pod manifests can be used for the remaining use cases.

So far, the need for changing probes values was reported only for old models of raspberry PI, so IMO, this fits under the less frequent use case category that is already covered by kustomize pa

[2020-05-13 08:59] fabriziopandini commented on #2138
/triage support
@grahamoptibrium when you lose a master node, usually you should manually perform the following actions to re-align the state to the new situation:
- manually clean up the list of endpoints in the kubeadm-config map.
- remove the etcd member from etcd
After that, you can re-join a new master node

[2020-05-13 09:17] lcavajani commented on #982
I'm a bit late for the party but just in case somebody stumble upon this, there can be cases where `169.254.*` is used as the default route. This the case for example with the `routed` nic type in `LXD`:

https://linuxcontainers.org/lxd/docs/master/instances#nictype-routed

[2020-05-13 09:37] SataQiu commented on #2140
/assign

[2020-05-13 11:28] grahamoptibrium commented on #2138
@fabriziopandini Thank you for your reply.

This allows me to recover the cluster manually. I additionally found that for an update in place, editing the configmap was not needed. I need only remove the ETCd member before running the join command again.

I would however have naively expected kubeadm join, when run again with the same node name (and possibly IP), to replace the etcd instance...

[2020-05-13 12:32] saraAlizadeh commented on #193
I had this issue with Kubernetes 1.18 and docker 19
my cluster was working perfectly earlier. and there was nothing unusual like upgrading or else.
restarting docker solved it.

[2020-05-13 13:00] neolit123 commented on #2139
a proposal to expose probe or other static Pod configuration in the kubeadm API was discussed multiple times in the past, with an outcome that we don't want to do that.

kubeadm already allows you do to the following:
- `--experimental-kusomize` to patch your probes.
- use kubeadm init / join phases (does not work for upgrades though).

thanks
/close

[2020-05-13 13:00] #2139 closed

[2020-05-13 13:14] neolit123 commented on #2138
this opens the question whether kubeadm should remove existing eetcd members with the same URL in the etcd cluster. my initial reaction would be no.

similarly, later versions of kubeadm do not allow you to join a k8s node with the same name as this is disruptive to the existing cluster.

the etcdctl maintenance / interaction here seems appropriate for removal of the existing etcd member, but i'd

[2020-05-13 16:34] MikaelSmith commented on #2095
I did use `--ignore-preflight-errors=all` with the first call to `kubeadm join' (it's part of a script from https://kurl.sh, so I can go back to them about why they ignore them).

Yes, I got the error even after clearing the data directory, I think because the etcd pod still existed from the prior run and succeeded in joining the cluster before I re-ran `kubeadm join`.

[2020-05-13 16:54] akshaysharama commented on #338
@bboreham
I've followed the steps mentioned by @patricklucas
as you mentioned in step 4 need to do some configuration in /etc/hosts because IP has already changed and cannot connect to api-server.

i've changed in /etc/hosts
<new-ip> <hostname>

and tried kubectl --server=https://<hostname>:6443 still not working :(

any specific configuration need to do in /etc/hosts??

[2020-05-13 17:27] neolit123 commented on #2095
i see that this is a core principle of the service:
`curl https://kurl.sh/latest | sudo bash`

but overall not a recommended security practice.

the idea of "join" for control-plane being idempotent i tricky, if you did a `kubeadm reset` on that node, the subsequent join would have worked i assume.

[2020-05-13 21:12] grahamoptibrium commented on #2138
@neolit123 if I may add "manual intervention sucks!" to the discussion...

(Then I will be quiet and let others weigh in!)

[2020-05-13 21:39] neolit123 commented on #2138
@grahamhayes

hi, how are you destroying the second master to simulate node failure?
`kubectl delete node master2` is not exactly a node failure, this is deleting an API object managed by the api-server. a node failure puts the node in a NotReady state, which you can simulate by a node shutdown.

[2020-05-13 21:49] grahamoptibrium commented on #2138
@neolit123 I have created all three nodes in a single multi-box Vagrantfile.

Destruction of the box was done with the command `vagrant destroy master2`, which performs an immediate power-off of the virtual machine and deletes its hard disks.

When the machine is recreated with the command `vagrant up master2`, it automatically runs my shell/ansible provisioner, which will install packages like Ku

[2020-05-13 22:24] neolit123 commented on #2138
understood,

[1] if the node is wiped completely, `kubectl delete node` is a already a *mandatory manual step* as `kubeadm join` will fail saying that a node with the same name already exists. this is a precaution for users shooting them self in the foot and bringing their control-plane down due to a race in etcd.

this log line is not relevant as later `kubeadm join` should fetch the contents of

[2020-05-13 22:24] #2138 closed

[2020-05-13 23:19] grahamoptibrium commented on #2138
@neolit123 Thank you for taking the time to address this one!

I apologize: I definitely do not wish to appear contradictory, but I shall mention this only in the spirit of being a good tester ^_^

If this is the expected behaviour, then it is functioning incorrectly. I am able to rejoin a completely new node with the same name and IP without touching `kubectl`. The only seemingly required step is

[2020-05-13 23:24] neolit123 commented on #2138
what is the full output of `kubeadm join .... --v=1`?

related to the etcd idempotency topic, please make your proposals to the issue that i linked, so that others can see it too.

it is out of scope for a kubeadm command to delete the Node object.

[2020-05-13 23:46] grahamoptibrium commented on #2138
The replacement node is called `master2.vagrant`.
[code]

I have included it in the following [pastebin](https://pastebin.com/yziNcjZD)

[2020-05-13 23:56] neolit123 commented on #2138
ok, so i forgot an important detail:

it only fails if the existing node is Ready, so in your case this is working as expected for the node "master2.vagrant". the idea is to not break existing Ready (working) nodes with "join".

[2020-05-14 03:20] neolit123 opened #2142 "1.19: kinder: fix failing e2e tests"
this change broke e2e tests:
https://github.com/kubernetes/kubeadm/pull/2133

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-master
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1260480951998222336/artifacts/task-01-add-kubernetes-versions-log.txt

it says that it detected containerd in the base image.
so this might be

[2020-05-14 03:23] neolit123 commented on #2142
yes so the jobs are using different base images:
https://github.com/kubernetes/kubeadm/blob/master/kinder/ci/workflows/regular-tasks.yaml#L12
https://github.com/kubernetes/kubeadm/blob/master/kinder/ci/workflows/presubmit-upgrade-master.yaml#L11

i assume `kindest/base:v20190403-1ebf15f` has docker too and that's why we didn't catch the problem.

[2020-05-14 07:00] fabriziopandini commented on #2142
So, if I got this right, regular test is failing, and this is the only test using an image based on containerd
I think that is important for us to get this working with containerd, because the adoption is growing (e.g. Cluster API)
However from the logs I can't spot the problem, because the runtime detection works well but at a certain point it fails to create a folder... Any clue on what is going

[2020-05-14 13:50] neolit123 commented on #2142
i could not reproduce the problem locally, but will try again because i think i was testing with the image that also has docker. in that image docker is detected as the CR, but i overwrote that to containerd (as it also has containerd) to be able to test my change.

something to note is that e2e test on k/k (via kind) and k/cluster-api-* are all containerd, so kuibeadm e2e and maybe some sig-node

[2020-05-14 14:36] hasheddan commented on #2142
/cc @kubernetes/ci-signal

[2020-05-14 20:32] #2142 closed

[2020-05-14 20:48] neolit123 commented on #2142
hi, @hasheddan and @kubernetes/ci-signal https://github.com/kubernetes/kubeadm/pull/2143 is a potential fix for an actual bug in our e2e test tools that was introduced recently.

but me and @fabriziopandini had a discussion today and we are seeing a lot more flakes for certain tasks in our jobs. something that normally takes 2 minutes, would sometimes take 10minutes+, which implies network+CPU res

[2020-05-14 20:56] hasheddan commented on #2142
@neolit123 understood, thanks for letting us know! This might be something we need to address with test-infra and see if the infra these tests are running on needs to be adjusted

@spiffxp do you have any initial thoughts here?

[2020-05-15 09:49] #2140 closed

[2020-05-15 14:47] rosti opened #2144 "kubeadm reset takes more than 50 seconds to retry deleting the last etcd member"
Moving kubernetes/kubernetes#91143 over here:

Original issue by @tnqn :

[2020-05-15 15:03] neolit123 commented on #2144
this started happening after we updated etcd; member removal used to take ~5 seconds.

this is a valid point for a single stacked etcd member, kubeadm does not have to do that and it can just skip the etcd member removal phase on "reset"

but for multiple etcd members kubeadm has to do that and this seems like an issue in etcd. my vote goes to not add workarounds - e.g. shortening timeouts.

[2020-05-15 15:04] tnqn commented on #2144
Thanks @rosti for moving it the right place.
@neolit123 I created https://github.com/kubernetes/kubernetes/pull/91145 for the fix, which skips removing local member from etcd cluster only if it's the only member. Could you help review and see if it makes sense? Do I need to create a PR to kubeadm directly?

[2020-05-15 15:06] tnqn commented on #2144
I tested with multiple control-plane nodes, it can continue removing etcd members until the last control-plane node.

[2020-05-16 05:33] thyn commented on #193
fresh installation of 1.18.2 - same problem. Network cilium, OS- Debian 10

`E0516 05:33:20.574356       1 reflector.go:153] pkg/mod/k8s.io/client-go@v0.17.2/tools/cache/reflector.go:105: Failed to list *v1.Namespace: Get https://10.96.0.1:443/api/v1/namespaces?limit=500&resourceVersion=0: dial tcp 10.96.0.1:443: connect: connection refused
[INFO] plugin/ready: Still waiting on: "kubernetes"`

[2020-05-16 10:00] SataQiu commented on #2137
/assign

[2020-05-16 19:06] harish-singh01 commented on #1477
I find traffic was not allowed to connect master node.

adding rules in sg solved my problem

[2020-05-17 16:56] itkroplis commented on #1394
And how are steps for Ubuntu 20? I watch this page but anything I do doesn't work for me.

[2020-05-18 08:13] xiaooloong commented on #2071
exactly the same issues

[2020-05-18 09:50] Sakha8990 opened #2145 "Node is not joining with K8's master as it has proxy settings for internet access though i have configured no_proxy on master"
Content of '/etc/environment'

http_proxy=http://10.93.31.29:8080
https_proxy=http://10.93.31.29:8080
no_proxy="192.168.133.138,192.168.133.139"

When i gave 'kubeadm join" command on node

"  kubeadm join 192.168.133.138:6443 --token 5jcnt9.iiu50gqsbdak7h5o --discovery-token-ca-cert-hash sha256:6bc54f99b7a6ef72e596c3b6ae64bf92556a78bdca997dea386135c3290e380c
W0518 05:43:03.202525   22425 join.go:

[2020-05-18 10:27] fabriziopandini commented on #2145
This is a kubeadm preflight check failing.
If I'm not wrong you have to add to no proxy all the PODS/Service CIDRs to get your cluster working

[2020-05-18 10:27] fabriziopandini commented on #2145
/triage support
/area bootstrap

[2020-05-18 10:29] fabriziopandini commented on #2145
btw. no proxy should be set on all nodes

[2020-05-18 15:48] neolit123 commented on #2145
hi, i'm sorry but i cannot reproduce the problem you are describing.
the API client that kubeadm creates does use the *proxy env. variables.

here is my test:
[code]

- `172.17.0.21:6443` is the api-server endpoint
- `HTTPS_PROXY=test` sets a fake proxy that will not let any HTTPS connections pass
- `NO_PROXY=172.17.0.21` allows a connection to this address

the command passes for me:
[code]

if i

[2020-05-18 15:48] #2145 closed

[2020-05-18 16:48] Asem-AK opened #2146 "Ich habe ein Problem mit dem Port. Kann mir einer von Ihnen sagen, was ich tun soll, um den Port zu ändern?"
W0518 16:29:26.022649  126934 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
[init] Using Kubernetes version: v1.18.2
[preflight] Running pre-flight checks
	[WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kuber

[2020-05-18 16:52] neolit123 commented on #2146
hi, this tells me that maybe kubeadm was already run on this node before:

always run `kubeadm reset` before running `kubeadm init/join`.

given this is a support ticket i'm going to close it.
please use the support channels or #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/triage support
/close

[2020-05-18 16:52] #2146 closed

[2020-05-18 18:01] neolit123 commented on #1918
we might as well just retry the writing of node-settings.yaml/cluster-settings.yaml for e.g. 10 seconds.

[2020-05-19 02:47] neolit123 commented on #1898
/remove-lifecycle stale
looking at the WIP PR for distorless etcd image, it seems that the etcdctl is preserved and etcd is not the only binary. will continue tracking this issue until the work there is complete.

[2020-05-19 10:37] Asem-AK commented on #2146
Jedes Mal gibt es eine neue Nachricht ?
W0519 10:33:21.113583 1286779 join.go:346] [preflight] WARNING: JoinControlPane.controlPlane settings will be ignored when control-plane flag is not set.
Found multiple CRI sockets, please use --cri-socket to select one: /var/run/dockershim.sock, /var/run/crio/crio.sock
To see the stack trace of this error execute with --v=5 or higher

[2020-05-19 15:22] neolit123 commented on #2094
all cherry picks are about to merge, but we should keep this open to refactor the etcd client management in a similar way in mater. e.g. https://github.com/kubernetes/kubernetes/pull/90645 made it so MemberAdd behaves differently than MemberRemove

[2020-05-19 15:30] neolit123 commented on #2093
@RA489 i'm going to take this ticket as i have some time later today and tomorrow.
/assign

[2020-05-19 23:32] #1986 closed

[2020-05-20 06:38] xphoniex commented on #1295
we can close this too now that https://github.com/kubernetes/kubernetes/pull/90892 is merged @neolit123 , yes?

[2020-05-20 11:49] neolit123 commented on #1295
i think this is the final remaining item:
https://github.com/kubernetes/kubeadm/issues/1295#issuecomment-491446853

[2020-05-20 12:11] xphoniex commented on #1295
Alpine already uses `/etc/` for services, so we kept the config files there too.

We only had to update the flags in `kubelet.confd` and `kubelet.initd` for kubernetes package to let OpenRC know where the rest of config files were, you can see the diff [here](https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/7678/diffs).

Notice for example that we made `--cni-bin-dir=/usr/share/cni-pl

[2020-05-20 13:17] neolit123 commented on #1295
understood, this is great news and i'm going to close this ticket (finally).
/close

a couple of FYI WRT service files:

- update to the [10-kubeadm.conf file](https://github.com/kubernetes/release/blob/master/cmd/kubepkg/templates/latest/deb/kubeadm/10-kubeadm.conf) is imminent at this point, yet not clear *when*, maybe in +3, maybe +5 releases.
the kubelet is removing all it's flags in favor of

[2020-05-20 13:17] #1295 closed

[2020-05-20 16:30] pdkkid commented on #253
Any movement on adding back armel support for pi zero’s? I have quite a few laying around and would love to make a low cost/power cluster for demo purposes

[2020-05-20 17:39] neolit123 commented on #253
hi, as you can see in the discussion above, core Kubernetes dropped support for armv6l.
so i don't think there is a chance this support will be re-added.

if you want to use k8s / kubeadm on armv6l you must recompile everything (including CNI images).

[2020-05-22 19:59] erhan- opened #2149 "Documentation: kubeadm install manual converts two dashes to one"
In the official documentation [1] for the installation of kubeadm, there is the part where you install kubeadm on CentOS. The repo configuration excludes kubeadm and during install `--disableexcludes=kubernetes` argument is used.

The problem is that markdown converts two dashes to one or one is missing in the command. It should be two.

You will get errors like:
[code]

Same problem with the comm

[2020-05-22 20:50] neolit123 commented on #2149
hi, this is a problem in the website markdown processor and is quite unfortunate, as i think we already got near 10 reports in various repositories.

in any case, this is now tracked here:
https://github.com/kubernetes/website/issues/20915

thanks
/close

[2020-05-22 20:51] #2149 closed

[2020-05-22 23:21] thyn commented on #1300
Same problems on 1.9. Thanks for solutions.

[2020-05-23 06:09] ajizkai opened #2150 "etcd static pod restart make kube-apiserver crash"
## Versions

**kubeadm version** (use `kubeadm version`): v 1.16.10-00

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.16.10-00
- **Cloud provider or hardware configuration**: openstack instance over juju and maas
- **OS** (e.g. from /etc/os-release): ubuntu xenial
- **Kernel** (e.g. `uname -a`): Linux devops-node 4.4.0-140-generic #166-Ubuntu SMP Wed Nov 14 20:09:47 UTC 2018

[2020-05-23 13:19] neolit123 commented on #2150
hi,

does this mean that you have external etcd cluster - i.e. etcd pods don't run on the master nodes where the api-server pods are?

[2020-05-23 16:07] ajizkai commented on #2150
Yes, etcd and kube-apiserver running on difference node

Yes, its same issue

[2020-05-23 18:40] neolit123 commented on #2150
ok, i don't think this is a kubeadm problem.

please comment on the https://github.com/kubernetes/kubernetes/issues/65062 issue and let's see what the k8s/etcd maintainers think about the problem.

thanks
/close

[2020-05-23 18:40] #2150 closed

[2020-05-23 22:17] neolit123 opened #2151 "kinder: fix occasional fail of image preload"
for containerd jobs there are occasional failures when preloading images:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1264165005473878016/artifacts/task-02-create-cluster-log.txt

later the following is observed:

the "pulling..." lines indicate that some images did not preload correctly.

and due to image tag formatting this ends up in an error:

[2020-05-24 03:27] zerkms opened #2152 "`serve_stale` option for coredns' cache"
## What keywords did you search in kubeadm issues before filing this one?
cache, coredns, serve_stale

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

Choose one: BUG REPORT or FEATURE REQUEST

Can we please add `serve_stale` so that if there is intermittent kubernetes api unavailable coredns at least served the latest known ip.

Details: https://github.com/coredns/coredns/tree/master

[2020-05-24 18:56] neolit123 commented on #2152
hello,

thank you for logging this feature request @zerkms

@chrisohaver @rajansandeep do you think this addition makes sense?

/kind feature
/priority awaiting-more-evidence

[2020-05-24 19:03] chrisohaver commented on #2152
Serving stale cache was added as an option in coredns 1.6.6. There was a bug fix affective the serve_stale option in 1.6.9.

[2020-05-24 19:06] chrisohaver commented on #2152
Ah I see. This is a request to add it to the default kubeadm coredns corefile...

[2020-05-24 19:27] chrisohaver commented on #2152
serve_stale does have a performance-optimized behavior that some might find confusing. It always responds with a stale (possibly wrong) answer if it exists in cache. After responding to the client, it refreshes the cache entry.

[2020-05-25 05:31] zerkms commented on #2152
It's the case with any cache - the current config already enables the `cache` plugin and it already may serve possible wrong answers.

But indeed, having `serve_stale` would increase the window of opportunity for rarely requested dns RRs (the frequently requested ones would stay the same though).

[2020-05-25 06:23] maxweisspoker commented on #253
I'm just chiming in to say that I have successfully compiled K8s 1.18.3 from source by compiling it in the golang:1.13-alpine docker image, which is a multi-arch image and includes a armv6. (I have Docker configred to use QEMU for emulation and can run containers for other architectures.)

By merely cloning the git repo, and following the 4-step make process on the readme page (i.e. just do make a

[2020-05-25 07:16] mikechen66 commented on #1031
The quickest way is to add Flannel into the Kubernetes on either AMD64 Architecture.

1. Update kube-flannel.yaml

$ curl https://rawgit.com/coreos/flannel/master/Documentation/kube-flannel.yml \

2. Complete Flannel network setup

$ kubectl apply -f kube-flannel.yaml

[2020-05-26 13:25] chrisohaver commented on #2152
@zerkms, IIUC, during a failover, `serve_stale` will serve a stale response to the first client that requests it, but then immediately refresh the cache and start serving that new answer (which is NXDOMAIN according to your description).  So, I think you'd need disable negative caching for it to work the way you intend.

CoreDNS should probably be replying with SERVFAIL (or some other uncache-able

[2020-05-26 21:07] zerkms commented on #2152
that would be not helpful (and to be honest - if it's the case, then `serve_stale` looks like a useless feature overall).

In any case - it was just a suggestion, would we close it now?

[2020-05-26 21:29] chrisohaver commented on #2152
I just got done verifying that forcefully interrupting the API connection (in a non-HA system), does not cause NXDOMAIN responses.  It actually continues to reply with the last known values in the API client's informer store.  Perhaps in an HA setup this behaves differently - maybe when the API shuts down gracefully it causes the api clients to flush their stores?  In the case where you saw NXDOMA

[2020-05-26 22:04] zerkms commented on #2152
You're absolutely right.

After more thorough research I have found that it's actually `kube-router` that creates problems when API is not available for "too long", not coredns.

My apologies.

[2020-05-26 22:04] #2152 closed

[2020-05-27 00:04] renukamanavalan opened #2153 "Establishing control plane cluster using a VIP fails, when VIP is only for client access"
## Request for help

I am trying to establish a multi-master control plane cluster behind a Load-balancer.

- Use multiple Kubernetes masters behind the Load-balancer as pool-members
- The load balancer provides a VIP and route the connections from external clients to any active pool-member.
- Create a kubernetes control-plane cluster of all masters, so they have their etcd synced at all times.
-

[2020-05-27 02:55] SataQiu commented on #2153
What load balancer are you using?
How about executing `kubeadm join` before adding the second control-plane into the load balancer pool?

[2020-05-27 04:20] renukamanavalan commented on #2153
We use "SLB", but it does not change destination address when sending traffic to DIP.

Your proposal could be done. But there is a catch

Say upon joining (`kubeadm join ...`), I add the second master into pool.

It would need to connect to the other master using Load-Balancer VIP, which is not possible.

I have a basic question:
Say there are 3 k8s servers behind a LB. Each of the server need to

[2020-05-27 07:13] fabriziopandini commented on #2153
AFAIK an HÀ configuration requires a VIP that the workers should use to communicate to the control plane, and a load balancer that handle the routing from this VIP to the underlying API server instances.
Please note that this doesn't mean that the internal VIP must be the same VIP used outside of the clusters (for clients), but an internal VIP is required. This document provides additional info on

[2020-05-27 07:14] fabriziopandini commented on #2153
/triage support

[2020-05-27 15:10] renukamanavalan commented on #2153
Thank you! Let me read the doc.

[2020-05-27 15:58] renukamanavalan commented on #2153
This doc is an essential one to help establish a control plane cluster. Can you please mention this in the main doc on

[2020-05-27 18:32] renukamanavalan commented on #2153
The one limitation [here](https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md#kube-vip) is

Would it be feasible to create a pool of reachable servers, that each can connect to every other, hence creating full mesh, run k8s master in each and create control plane cluster among them ?

**The main requirement for clustering**:

If only we can configure each master with a set

[2020-05-27 21:08] neolit123 commented on #2153
cc @mbert this is something we should do.
potentially replace the line "HAProxy can be used as a load balancer." here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#first-steps-for-both-methods
with something like "See [this guide](https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md) for examples on setting up a load balancer"

[2020-05-27 21:12] renukamanavalan commented on #2153
Thanks!

Do we have a solution for k8s masters that can connect to each other but not in the same subnet, to form a control plane cluster?

[2020-05-27 22:04] #2144 closed

[2020-05-28 03:57] rockxsj opened #2154 "upgrade from v1.18.2 to v1.18.3 failed"
## Is this a request for help?

`sudo kubeadm upgrade apply v1.18.3 --etcd-upgrade=false --v=8`

## What keywords did you search in kubeadm issues before filing this one?

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
kubeadm version: &version.Info{Major:"1", Mino

[2020-05-28 04:11] renukamanavalan commented on #2153
I realize what I need is

I would like to get some doc on how to set that up.
Let me close this request.

[2020-05-28 04:21] renukamanavalan opened #2155 "Request for doc on how to setup "stacked etcd topology""
**Request for info:**

The link for "[stacked etcd topology](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/)" does not say how ?

It says

But I don't know how to configure the etcd with direct IP addresses of the other masters in the cluster.

Please NOTE: My Load balancer does not allow the backend members to talk to each other using VIP. The VIP is only for e

[2020-05-28 07:00] fabriziopandini commented on #2155
/triage support

[2020-05-28 07:05] fabriziopandini commented on #2155
@renukamanavalan
Etcd automatically gets the IP of the machine where the controlplane node is created.
Howeve, as already discussed in another issue, you need a VIP acting as a controlplane endpoint that can be reached by all the nodes

[2020-05-28 07:05] fabriziopandini commented on #2155
/re-open

[2020-05-28 07:08] fabriziopandini commented on #2155
/reopen
Sorry I messed up answering from mobile

[2020-05-28 09:28] #2154 closed

[2020-05-28 13:47] neolit123 opened #2156 "remove kube-apiserver --insecure-port usage"
the flag is being removed after a long deprecation period:
https://github.com/kubernetes/kubernetes/issues/91506

in kubeadm we are passing:
`--insecure-port=0` in the api server static pod.

**the flag became a no-op in 1.20**:
https://github.com/kubernetes/kubernetes/pull/95856

it will be removed in 1.24:
https://github.com/kubernetes/kubernetes/pull/95856/files#diff-3149c6ede53e3a658bbcf11f145

[2020-05-28 14:01] neolit123 commented on #2153
stacked/local etcd is the default mode documented here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

external etcd requires extra steps:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/

[2020-05-28 14:53] renukamanavalan commented on #2155
THANK YOU! This is a great point and pretty helpful. Let me try.

[2020-05-28 15:00] mbert commented on #2153
I would not go as far as stating that generally VIPs can be used only within the same subnet. However most technologies used for implementing VIPs have this constraint due to the way they are implemented. The two examples from the document do have this limitation, but I see no reason why e.g. a virtual address based on DNS names should not be implementable for routed networks, and I would not be t

[2020-05-28 17:11] renukamanavalan commented on #2153
Thanks Martin! Here is my issue with following guidelines as [here](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/).

When I run
`sudo kubeadm init --control-plane-endpoint "LOAD_BALANCER_DNS:LOAD_BALANCER_PORT" --upload-certs ...`

It provides me a join command as
`sudo kubeadm join LOAD_BALANCER_DNS:LOAD_BALANCER_PORT --token ...`

Now the second master

[2020-05-28 17:21] mbert commented on #2153
Not sure whether I understand you correctly here: is that because you want it that way?
Usually there would be no distinction - your `LOAD_BALANCER_PORT` is simply the entry to your load balancer which then will direct your request  to any of the control plane nodes which are up. Hence your VIP/LB-Port can be used by both, control plane and worker nodes.

Maybe I misunderstand you completely, plea

[2020-05-28 17:43] renukamanavalan commented on #2153
Here is my setup:

1)  I have SLB Load balancer that provides a VIP with the following characteristics:

    1.a) It accepts traffic on VIP:Port from client/worker-node and pass to a k8s-server/pool-member behind

    1.b) It does **not do NATing**, so k8s server receive traffic with destination IP == VIP
              Implying, the API server running in each control-plane-node should listen to th

[2020-05-28 17:53] mbert commented on #2153
OK, now I understand your setup better. I agree that a second, internal VIP looks like the way to go. I am putting this into cautious wording however because I am not too familiar with the way the configuration is handled internally, because you would then have to configure all the control plane nodes for the internal and the worker nodes for the external VIP. If the connection information for the

[2020-05-28 18:40] renukamanavalan commented on #2153
Thanks Martin! I am not sure too.

Here is another way. Please share your comments.

1) Add only first master to the Load-Balancer as the only pool-member
2) Run kubeadm init <Load balancer IP>:<port> ...
3) Run "kubeadm join <Load balancer IP>:<port>..." from the second master. As the second mster  is not yet behind  Load balancer, it would succeed
4) Now put the second master under the Load bala

[2020-05-28 18:43] mbert commented on #2153
In the end it all boils down to trying things out.
Is there any particular reason why you don't want to allow workers, but not the control plane nodes to use the VIP/LB? I mean, if you used the same VIP/LB fo both, things would look far simpler.

[2020-05-28 18:46] renukamanavalan commented on #2155
Thanks Fabrizio!

Martin has provided some invaluable tips in the [other issue](https://github.com/kubernetes/kubeadm/issues/2153). So  I re-opened it.

Can you please help  review the following comments ?
[comment 1](https://github.com/kubernetes/kubeadm/issues/2153#issuecomment-635496555)
[comment 2](https://github.com/kubernetes/kubeadm/issues/2153#issuecomment-635526196)

[2020-05-28 18:47] baduba commented on #1471
Preciso subir a versao do eks do 1.12 pra 1.14
alguem pode me orientar o melhor como devo fazer

[2020-05-28 18:47] renukamanavalan commented on #2153
"Back end server/pool-members can't use VIP for inter-connectivity" is the limitation, I have to play with.

[2020-05-28 18:51] mbert commented on #2153
But don't fall worker nodes into the same category?

[2020-05-28 18:56] fabriziopandini commented on #2155
@renukamanavalan if the two issues are tackling the same problem, please de-dup

[2020-05-28 20:25] renukamanavalan commented on #2153
Worker nodes are clients for the Load balancer.  They are not behind the load balancer. So they are good.

[2020-05-28 20:26] renukamanavalan commented on #2155
This is the dup of https://github.com/kubernetes/kubeadm/issues/2153

[2020-05-28 20:26] #2155 closed

[2020-05-28 20:31] renukamanavalan commented on #2153
If anyone has any tips/points w.r.t the following two ways, please respond. If you have other better way(s), please suggest.

**My setup:** Described in[ comment above](https://github.com/kubernetes/kubeadm/issues/2153#issuecomment-635496555)

**Way 1**: Described in the [same comment ](https://github.com/kubernetes/kubeadm/issues/2153#issuecomment-635496555)after the setup description.

**Way 2**

[2020-05-28 22:24] jeanluclariviere opened #2157 "kubeadm upgrade resets /etc/kubernetes/manifests and causes us to lose custom settings"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm upgrade delete kube-apiserver

## Is this a BUG REPORT or FEATURE REQUEST?
bug

## Versions
1.16.7 --> 1.17.5

**kubeadm version** (use `kubeadm version`):
kubeadm 1.16.7 --> 1.17.5

**Environment**:
- **Kubernetes version** (use `kubectl version`):
kubectl 1.16.7 --> 1.17.5

- **Cloud provider or hardware configurat

[2020-05-28 22:30] neolit123 commented on #2157
hi, this is by design. kubeadm re-generates the manifests on upgrade.

you must maintain your custom changes in patches.
currently this is possible with the --experimental-kustomize feature.
but we have plans to replace this feature with raw patches in 1.19.

/triage support
/close

[2020-05-28 22:30] #2157 closed

[2020-05-29 07:25] HankTheCrank commented on #1593
Just in case it helps someone else:

I have an external etcd cluster so I need to pass the kube-config.yaml so kubeadm has the information about the etcd cluster certificates to put them into the new secret, which is where the new control plane node get them from.

kubeadm init phase upload-certs --upload-certs --config kubeadm-config.yaml

[2020-05-29 10:23] fabriziopandini commented on #2153
As far as I understand the problem here, this is not a kubeadm problem, but more a request about how to configure AWS networking. I'm not sure this is the right repo for getting this answer, so my suggestions:
- https://github.com/kubernetes-sigs/cluster-api-provider-aws runs a kubeadm based solution on AWS
- other projects deploying on AWS are
   - https://github.com/kubernetes-sigs/kubespray

[2020-05-29 10:24] fabriziopandini commented on #2157
to add a small note here, a set of api configurations could be maintained in the kubeadm config as well

[2020-05-29 11:07] RA489 commented on #2156
/assign

[2020-05-29 15:06] renukamanavalan commented on #2153
Sounds right!

We all agree, that when it comes to Networking, there are multiple scenarios and multiple solutions. As a user of kubernetes, what I lacked is some insight w.r.t, how the clustering happened. A basic knowledge on "how" would help us understand the key requirements to meet for successful clustering.

There is very likely such a doc exists. But I am unable to find it yet and still loo

[2020-05-29 16:35] jeanluclariviere commented on #2157
@fabriziopandini Thanks for this, I was actually wondering if that was the case. Presumably you would do this using the legacy --config flag? Passing the kubeadm-config with the kube-apiserver extraArgs?

There is a note in the documentation sort of warning against this though:
[code]

@neolit123 Would you be able to provide an example of raw patch for the kube-apiserver command arguments? the yam

[2020-05-29 16:57] neolit123 commented on #2153
the short answer is: depends on the topology.
you can setup k8s in a variety of different ways.

kubeadm supports two topologies outlined here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/
and the diagram arrows make the k8s node / etcd node connectivity requirements quite obvious.

other solutions out there setup the control-plane differently, for example run

[2020-05-29 17:07] neolit123 commented on #2157
i guess the config can be used for that, yes.

for PSP you can pass `enable-admission-plugins: NodeRestriction,PodSecurityPolicty`
as documented here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#apiserver-flags

instead of using `kubeadm upgrade ....--config`, you should `kubectl edit...` the ClusterConfiguration stored in the ConfigMap `kubeadm-confi

[2020-05-29 18:10] liggitt commented on #2156
critically, kubeadm should not stop setting this flag until a kubernetes version that removes insecure serving ability... in all currently released versions, not specifying the flag accepts the default behavior of *enabling* the insecure port

[2020-05-29 18:35] jeanluclariviere commented on #2157
From my experience, updating the kubeadm configmap doesn't reload the kube-apiserver. Presumably we would have to update this in both places then, at least until the next upgrade. The kubeapi-server.yaml to enable it, and then kubeadm-config to persist upgrades?

I didn't realize PSP were being removed actually - thanks for this actually.  Though we've added quite a few configurations so it's stil

[2020-05-29 18:40] neolit123 commented on #2157
that is correct.

[2020-05-29 19:03] jeanluclariviere commented on #2157
Thanks for your help, I realize this isn't the place for asking support type questions, sorry about that. I appreciate you taking the time to get back to me.

[2020-05-29 21:16] renukamanavalan commented on #2153
Thanks a lot for the very detailed  explanation and the links. Let me go through them to help me understand better.

[2020-05-29 21:32] Arvinderpal commented on #2132
We also came across this problem.
In the api-server, there is a 20-bit limit on the block size and given the way the allocator stores records in etcd, having larger blocks seems problematic:
https://github.com/kubernetes/kubernetes/blob/04deee94a8b70a214dd52e02b6ddf5b0f505c646/cmd/kube-apiserver/app/options/validation.go#L86

I don't think this will be "fixed" anytime soon. IMO, we should document

[2020-05-29 21:41] neolit123 commented on #2153
i have sent a couple of minor updates for the HA docs here:
https://github.com/kubernetes/website/pull/21295

[2020-05-29 21:49] neolit123 commented on #2132
agreed, on the flag docs update. i guess for kubeadm we also need to validate the config (`serviceSubnet`)

PRs welcome.

[2020-05-30 00:15] neolit123 commented on #2059
the doc PR has merged.
let's gather feedback in dedicated issues / topics.
/close

[2020-05-30 00:15] #2059 closed

[2020-05-30 00:23] neolit123 commented on #1685
so this issue ended up accumulating a collection of different LB related problems including lack of hairpin in Azure (maybe this works nowadays), issues in haproxy, improvements in golang with respect to sending ping frames for http2 (this seems to have merged), and potential improvement of exposing the ping interval in client-go (https://github.com/kubernetes/kubernetes/pull/81179#issuecomment-53

[2020-05-30 00:23] #1685 closed

[2020-05-30 00:39] neolit123 commented on #1052
this fell of my radar completely, but to answer the above query:

this seems like the right approach, so if someone wants to send a PR we might get acceptance for it.

we should definitely not use kubelet/cadvisor given kubeadm is moving away from k/k and the kubelet is trying to decouple from cadvisor.

PRs welcome.

[2020-05-30 00:46] neolit123 commented on #2039
/remove-lifecycle active
please re-set if needed.

[2020-05-30 00:55] neolit123 commented on #1283
forgot that we had this ticket already.
logged https://github.com/kubernetes/kubeadm/issues/2156
which links to the new k/k tracking issue.

/close

[2020-05-30 00:55] #1283 closed

[2020-05-30 04:09] #2153 closed

[2020-05-30 15:30] SergeyMuha opened #2158 "adding control-plane master node failed discovery.bootstrapToken.token: Invalid value"
## What keywords did you search in kubeadm issues before filing this one?

discovery.bootstrapToken.token: Invalid value

## Versions

**kubeadm version** (use `kubeadm version`):
 kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:54:15Z", GoVersion:"go1.13

[2020-05-30 21:32] neolit123 commented on #2158
hello, your JoinConfiguration is not correct.

try this:
[code]

with just `sudo kubeadm join --config myconfig.yaml`

notes:
- the documentation is here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#JoinConfiguration
- passing both a discovery file and a bootstrap token in `JoinConfiguration` doesn't make sense
- you seem to be passing `unsafeSkipCAVerification` in a c

[2020-05-31 08:24] chief93 opened #2159 "Systemd "After" rules for correct node starting"
## FEATURE REQUEST

Hi everyone! Following by [this issue](https://github.com/kubernetes/kubernetes/issues/90594), where I've found a potential root cause of start-up misconfiguration, I propose to include the following instructions to the beginning of the `kubeadm` `systemd` service in the official `kubeadm` packages like `.deb`, `.rpm` and other:

[code]

In mentioned issue I encountered many we

[2020-05-31 14:08] neolit123 commented on #2159
hello,

when the kubelet DEB/RPM service is deployed on the user host it starts crashlooping because it's missing a --config file. kubeadm join/init writes the file and restarts the kubelet service, at which point the kubelet should be able to pick the right interface too.

so from my above comment, i'm confused why waiting for syslog.target and network.target is required, given if the initial kub

[2020-05-31 19:51] chief93 commented on #2159
@neolit123 first of all - thanks for reply!

About your questions - yes, you miss the idea that the LXC itself IS NOT THE CAUSE OF THIS PROBLEM EITHER! The main cause is, as I mentioned it here and in attached issue, is the ORDER OF STARTING of the `kubelet` `systemd` service! The proposed solution is quite simple and is absolutely required for any software that uses the networking, obviously.

As

[2020-05-31 20:05] chief93 commented on #2159
If anybody can't understand how such can happen, let me describe this process:
1. `lxc-start node1`
---inside node1---
2. emulation of the OS boot
3. previous step require the starting of the `systemd` and all it's inheritors
4. [my case] node1 send DHCP request
5. [my case] waiting for the DHCP response
6. [my case] finishing starting up of `kubelet` **(UNEXPECTED BEHAVIOR: primary network interf

[2020-05-31 22:29] neolit123 commented on #2159
at "kubeadm init/join" invocation time this does not make sense as explained above, unless your `eth0` is not configured yet at that point, which is bad and can cause issues with kubeadm control-plane nodes, as they also probe the primary interface outside of the kubelet logic.

now, if a node configured by kubeadm is restarted, it is true that the kubelet needs an IP from the primary interface be

[2020-06-01 02:55] fishhead2zju commented on #1026
u may need to change the rules of iptables.
run CMD:iptables -L --line-numbers  to find the reject-with icmp-host-prohibited
then，ptables -D INPUT 153 ，delete it #153 means line-number
at last，restart kubelet

[2020-06-01 08:03] chief93 commented on #2159
@neolit123 It's a nonsense to rely on the "IP hat cwill not change". In real world you can not rely on this in any situation!

About your notes:
1. It seems like you don't fully read of the cite, that you provided: there is also the `network-online.target`, that do exactly what you "doubt in" for a regular `network.target`. I said, that in my case the regular `network.target` worked perfectly. Mor

[2020-06-01 10:31] rosti commented on #2159
I think that you are both talking for different scenarios here. One thing needs to be made clear here. The kubeadm maintainers don't maintain the kubelet packaging and systemd service file (although we can and do send PRs from time to time to update them).

The case which @neolit123 is mentioning is the `kubeadm init/join/upgrade` one. kubeadm itself is not designed to be invoked during system sta

[2020-06-01 11:00] agowa338 commented on #2132
Is there already an issue for this on the api server side? Could somebody please link the tickets?

I don't think it's good to "just add it to the docs for now" without addressing the underlaying issue (or at least creating the GitHub issue for that).

[2020-06-01 11:43] neolit123 commented on #2159
@chief93

i did read about `network-online.target`, but was asking why you are proposing `network.target` instead.

@rosti

i forgot this change is there already:
https://github.com/kubernetes/release/blob/master/cmd/kubepkg/templates/latest/rpm/kubelet/kubelet.service#L5

with `syslog.target` deprecated i don't think there are remaining actions for this ticket.
the `network-online.target` change

[2020-06-01 11:43] #2159 closed

[2020-06-01 12:00] SergeyMuha commented on #2158
I regenerated certs with #sudo kubeadm init phase upload-certs --upload-certs
on first master vm
then
[sergey@k8s-master istio-1.6.0]$ kubectl describe secrets -n kube-system kubeadm-certs
Name:         kubeadm-certs
Namespace:    kube-system
Labels:       <none>
Annotations:  <none>

Type:  Opaque

Data
====
front-proxy-ca.crt:  1066 bytes
front-proxy-ca.key:  1703 bytes
sa.key:              1707

[2020-06-01 12:12] chief93 commented on #2159
@rosti thank you very much for reply! As you correctly mentioned, I am talking about the `kubelet` startup procedure.

About the DCHP static leases - that's exactly my setup - Kubenetes nodes, and even LXC hypervsior, obtain their static assigned addresses by DHCP leasings.

And thank you about mentioning of the `syslog.target` deprecation - I just used this for few years in my apps, so even didn'

[2020-06-01 12:16] neolit123 commented on #2158
i'm going to close this ticket until we config there is a kubeadm bug.
we rarely provide support in this issue tracker.
/close

the idea of `--certificate-key` is to provide a certificate key that is used to copy certificates from the primary control-plane.

so you do `kubeadm init ... --upload-certs` on the first control-plane and then `kubeadm join .... --control-plane --certificate-key <key>` o

[2020-06-01 12:16] #2158 closed

[2020-06-01 12:28] SergeyMuha commented on #2158
Thanks. Now it is working.

[2020-06-02 19:55] neolit123 opened #2160 "update kubeadm-kubelet documentation to reflect CNI package change"
the kubernetes-cni contents (plugins) will now be bundled as part of the kubelet package:
https://github.com/kubernetes/release/pull/1330
the kubernetes-cni package will be removed.

the action item here is to remove:

from this list:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/#kubernetes-binaries-and-package-contents

and update the item:

to have th

[2020-06-02 21:31] neolit123 commented on #2093
@fabriziopandini

`kubeadm join --control-plane` calls `MarkControlPlane()`:
https://github.com/kubernetes/kubernetes/blob/1dc5235d0a93f4594402dfc0d7bcd5db88b3b4be/cmd/kubeadm/app/phases/markcontrolplane/markcontrolplane.go#L28-L44

`PatchNode()` already has retries:
https://github.com/kubernetes/kubernetes/blob/5708511499fe500ae3b4bbd40204cef382f652e8/cmd/kubeadm/app/util/apiclient/idempotency.go

[2020-06-02 21:49] neolit123 commented on #2092
@xlgao-zju hi, code freeze for 1.19 is June 25th.
would you be able to send a PR before that?

[2020-06-03 01:10] #2137 closed

[2020-06-03 02:50] xlgao-zju commented on #2092
will send the PR before June 15th, os that you reviewers will enough time to review the PR.

[2020-06-03 10:18] saarram commented on #1390
@phanikumarp - What's the solution you found for this problem ? We are facing same issue and need a way to advertise external IP for kube-api server.

[2020-06-03 10:23] ashleyschuett opened #2161 "Adding KubeVirt as an addon"
## FEATURE REQUEST

Allow users to easily provision a cluster with KubeVirt enabled. This would allow users provisioning there clusters with kubeadm who need to run VMs in containers and easy way to set up their cluster and be able to run their applications from day 1.

example:
[code]

The default value would be `false`.

If the user sets the value to true, the plugin would then deploy the manife

[2020-06-03 11:24] fabriziopandini commented on #2093
@neolit123 thanks for pointing this out.
I think that two minutes are ok unless we get some more reports about failures
/close

[2020-06-03 11:25] #2093 closed

[2020-06-03 11:28] fabriziopandini commented on #2161
IMO this falls in the scope of https://github.com/kubernetes/enhancements/pull/1308 (and hopefully it can give additional support to this activity)

[2020-06-03 14:36] NeilW opened #2162 "Move resolve.conf setting to Kubelet config file"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Brightbox
- **OS** (e.g. from /etc/os-release)::
Ubuntu 20.04
- **Kernel** (e.g. `uname -a`):
inux srv-c3x7t 5.4.0-33-generic #37-Ubuntu SMP Thu May 21 12:53:59 UTC 2020 x86_64 x86_64 x86_64 GNU/Li

[2020-06-03 15:38] ashleyschuett commented on #2161
@fabiand this seems like the direction we where thinking?

@fabriziopandini is there anyway I can help assist with the KEP or getting this feature in?

[2020-06-04 00:34] ZhiFeng1993 commented on #2160
/assign

[2020-06-04 08:24] fabiand commented on #2161
@ashleyschuett Yup, I think that's really everything that is needed.

[2020-06-04 09:28] wallrj opened #2163 "add "kubeadm alpha certs generate-csr" and deprecate/remove "--csr-*" flags for kubeadm init"
EDIT: neolit123

- [x] (1.19, @wallrj) PR that deprecates --csr-* flags for "kubeadm init phase certs" and adds the generate-csr command
https://github.com/kubernetes/kubernetes/pull/92183

- [x] (1.22) remove the --csr-* flags for "kubeadm init phase certs"
https://github.com/kubernetes/kubernetes/pull/102108

- [x] (1.23 or later, TODO) remove the --csr* flags from "kubeadm certs renew".
https:/

[2020-06-04 09:56] neolit123 commented on #2161
hello, yes we have plans to support more configurable addons, but this is in scope of the cluster-addons  sub-project of sig-cluster-lifecycle. our general idea is that the existing addons such as kube-proxy, coredns should move outside of kubeadm and kubeadm should not hardcode more addons, instead they will be maintained by another tool/library.

if you'd like please log this ticket in:
https://

[2020-06-04 09:56] #2161 closed

[2020-06-04 10:11] neolit123 commented on #2161
also as @fabriziopandini mentioned the cluster-addon sub-project needs more participants / folks to help with the work.

[2020-06-04 14:21] neolit123 commented on #2162
hello, this seems already resolved by:
https://github.com/kubernetes/kubernetes/pull/90394
?

xref https://github.com/kubernetes/kubeadm/issues/2111

/kind feature
/priority awaiting-more-evidence

[2020-06-04 14:22] neolit123 commented on #2162
^ also note for 1.18 we have "action required" for users to manually remove the flag from existing files.

[2020-06-04 15:04] NeilW commented on #2162
Doesn't appear to be. This is the result of  a fresh 1.18 install.

[code]

[code]

[2020-06-04 15:11] neolit123 commented on #2162
@NeilW the fix will be in 1.19 and we cannot backport to 1.18.

[2020-06-04 15:21] NeilW commented on #2162
ok

[2020-06-04 17:08] wallrj commented on #2163
BTW, the context is that I have been trying to work through the process of creating a Kubernetes cluster where control-plane certificates are signed by an external CA. See https://github.com/cert-manager/signer-venafi/pull/5/files#diff-b277fd0b5dd1d9f490593d94594b6e30

[2020-06-04 22:36] justaugustus commented on #2160
FYI, changes should only be staged, and not merged until after the next set of patch releases goes out: https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md

[2020-06-05 07:15] pmbibe opened #2164 "Cannot create cluster networking: Flannel. ------------ Flannel pod --- Status: CrashLoopBackOff"
Hi all, I am trying to create multiple master node by using external etcd cluster (not manage by k8s). But when I apply Flannel network on my cluster, it failed.

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d64eec7fe40", GitTreeState:"clean", BuildDate:"2020-05-20T12:49

[2020-06-05 07:25] dbaumgarten commented on #1478
I found a way to move the kubelet root-dir that seems to work fine with kubeadm.

- Set the new root-dir via kubeletExtraArgs in InitConfiguration and JoinConfiguration
- Create a symlink from /var/lib/kubelet to your new root-dir
- Run kubeadm as usual

This way kubeadm hits the symlink when writing the config-files and they end up in the right location.

The Kubelet does a lot of mount-juggeling

[2020-06-05 12:31] veera2019 opened #2165 "kubeadm init getting error"
os- RHEL 7.5
Server- on-prem server
docker version-  19.03.11
kube version- v1.18.3"

kubelet service not running and if i run kubeadm init i am getting below error

** WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]
[init] Using Kubernetes version: v1.18.3
[preflight] Running pre-flight checks
        [WARNING Hostname]: hostname "

[2020-06-05 12:41] neolit123 commented on #2163
thanks for the additional context, i will only be able to have a look early next week.
but maybe someone can do that before me.

in any case this does seem like a bug that has to be fixed with a PR in the kubernetes/kubernetes repository. why did you close ttps://github.com/kubernetes/kubernetes/pull/91781/files BTW?

[2020-06-05 12:45] neolit123 commented on #2165
hi, please use the support channels instead of this issue tracker for help and support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

also use the k8s slack #kubeadm channel.

thank you
/triage support
/close

[2020-06-05 12:45] #2165 closed

[2020-06-05 12:46] neolit123 commented on #2164
the kubeadm team no longer endorses flannel as a CNI plugin because it has too many bugs, but you might be able to get it to work. instead you can try Calico, Cilium, WeaveNet.

also please use the support channels instead of this issue tracker for help and support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

also use the k8s slack #kubeadm channel.

thank you
/triag

[2020-06-05 12:46] #2164 closed

[2020-06-05 13:23] neolit123 commented on #2094
cherry picks merged. lowering priority as the remaining refactor is not mandatory for 1.19.

[2020-06-05 13:23] neolit123 commented on #2091
@fabriziopandini @rosti

did we:
- merge all required PRs for 1.19?
- backport for 1.18 and 1.17?

let me know how i can help.

[2020-06-05 13:28] neolit123 commented on #2095
@fabriziopandini
i don't think this is feasible for 1.19, since it's unclear to me how we are planning to reuse existing etcd member snapshots. also preflight checks throw errors for a number of existing folders, so does this mean to make the join action idempotent one has to skip these checks?

[2020-06-06 20:30] liangguohun opened #2166 "kubelet.go:2267] node "master" not found"
## Versions

kubeadm v1.18.2
linux/amd64
kernal 3.10.0-514.el7.x86_64
local docker
 Version:           19.03.11
 API version:       1.40
 Go version:        go1.13.10

## What happened?
[code]

## What you expected to happen?
the master can't find itself ,it can run well before.

[code]

## How to reproduce it (as minimally and precisely as possible)?
test etcd is well
just one master in local net

[2020-06-07 05:13] warmchang commented on #2000
/remove-lifecycle stale

[2020-06-07 06:30] liangguohun commented on #2166
i found that in my master the docker images always be remove by kubelet
[code]

[2020-06-07 06:35] liangguohun commented on #2166
i know is **Eviction Policy**

[2020-06-07 06:35] #2166 closed

[2020-06-07 09:05] lovexiongmao opened #2167 "can't get the controlPlaneEndPoint info"
BUG REPORT

## Versions
kubeadm 1.18

**Environment**:
- **Kubernetes version** (use `kubectl version`):
kubernetes  1.18
- **Cloud provider or hardware configuration**:
3U4G
- **OS** (e.g. from /etc/os-release):
centos 7
- **Kernel** (e.g. `uname -a`):
3.10.0-1127.el7.x86_64 #1 SMP Tue Mar 31 23:36:51 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux
- **Others**:
my cluster is  setup on bare metal.

## Wh

[2020-06-07 14:15] fabriziopandini opened #2169 "[kinder] add --with-file option to kinder build node-image-variant"
We would like to add new `--with-file sourcepath:destPath` option to `kinder build  node-image-variant`  so the user can add a new file to the image.

In order to do so:
- a new flag should be added [here](https://github.com/kubernetes/kubeadm/blob/master/kinder/cmd/kinder/build/nodevariant/nodevariant.go)
- a new option should be added [here](https://github.com/kubernetes/kubeadm/blob/master/kind

[2020-06-07 14:18] fabriziopandini opened #2170 "[kinder] add --with-kubeadm-additional-images option to kinder build node-image-variant"
We would like to add new --with-kubeadm-additional-images option to kinder build node-image-variant so the user can specify if kubeadm additional images should be pre-pulled or not

In order to do so:

- a new flag should be added [here](https://github.com/kubernetes/kubeadm/blob/master/kinder/cmd/kinder/build/nodevariant/nodevariant.go)
- a new option should be added [here](https://github.com/kub

[2020-06-07 14:24] fabriziopandini opened #2171 "kinder: support testing of custom image repositories"
As of today when kinder loads images uses `ctr --namespace=k8s.io images import ...`.
We should investigate if `--namespace=k8s.io` can be safely removed so we can then move forward in using kinder for testing kubeadm image repository flags

fabriziopandini :

[2020-06-07 16:33] neolit123 commented on #2167
hi, are you sure you didn't delete the field `controlPlaneEndPoint` from the configmap?
as you can see in the kubeadm source code it takes the ClusterConfiguration as YAML and writes to in the config map:
https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go#L105

/priority awaiting-more-evidence

[2020-06-07 16:38] lovexiongmao commented on #2167
yes，i'm pretty sure. does somewhere has log the see what going on when it write configuration to the configmap. Maybe is there some reason to make it skip the field

[2020-06-07 16:55] neolit123 commented on #2167
no, kubeadm just writes the whole ClusterConfiguration.
are you sure you are using a --config file that has the field?

[2020-06-07 17:00] fabriziopandini commented on #2095
@neolit123 my idea was to simply check if the etcd member does not already exist before adding the member, so if the command is executed again the operations become a NOP
WDYT about this solution?

[2020-06-07 17:06] lovexiongmao commented on #2167
@neolit123  yes, you can see that by the attached file.  by the way, at the firstly, when I use the command "kubeadm config print init-defaults > kubeadm-config.yaml"  to generate the kubeadm-config.yaml. there is no `controlPlaneEndPoint` in the file. I added this field manually later.

[2020-06-07 18:11] neolit123 commented on #2021
/remove-lifecycle stale

[2020-06-07 18:13] neolit123 commented on #1954
let's log separate tickets for extra options that should persists.
/close

[2020-06-07 18:13] #1954 closed

[2020-06-07 18:13] neolit123 commented on #1931
/remove-lifecycle stale

[2020-06-07 18:14] neolit123 commented on #1621
/remove-lifecycle stale

[2020-06-07 18:15] neolit123 commented on #1686
/remove-lifecycle stale

[2020-06-07 18:16] neolit123 commented on #1913
/remove-lifecycle stale

[2020-06-07 18:16] neolit123 commented on #1940
/remove-lifecycle stale

[2020-06-07 19:09] prasadkatti commented on #2169
/assign

[2020-06-08 06:34] SataQiu commented on #2170
/assign

[2020-06-08 12:19] #2170 closed

[2020-06-08 12:25] neolit123 commented on #2095
ok, makes sense. i will rename this ticket slightly

/retitle kubeadm-join: don't re-add etcd member if it already exists

[2020-06-08 12:43] neolit123 commented on #2132
i leave this to sig-network / sig-api-machinery maintainers.

/retitle document the usage of --service-cidr and improve validation

[2020-06-08 14:55] neolit123 commented on #2167
@lovexiongmao

that is because the `print init-defaults` commands prints default values and the default value for the control plane endpoint is `""`.

i tried reproducing the bug:

config:
[code]

command:
[code]

[code]

as you can see `controlPlaneEndpoint: localhost:6443` is present and i don't see a reason why it should not be there.

please verify your setup and let me know if  you have more

[2020-06-08 14:55] #2167 closed

[2020-06-08 15:00] neolit123 opened #2174 "add integration / e2e tests for external CA mode"
we had similar tickets to https://github.com/kubernetes/kubeadm/issues/2163 in the past.

users are facing issues around external CA usage that we have documented very briefly here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#external-ca-mode

but we have no way to verify some of these issues.

maybe such a test should utilize `--csr-only`.

[2020-06-08 16:28] lovexiongmao commented on #2167
@neolit123  I uploaded an operate [video ](https://www.youtube.com/watch?v=4GGpf9Tfacs)to YouTube, and in this video you can see that there is really  no controlPlaneEndpoint field.

[2020-06-08 17:29] neolit123 commented on #2167
@lovexiongmao thanks for the video. i noticed that you are using `controlPlaneEndPoint` and not `controlPlaneEndpoint`, this should fix the problem for you.,

we used to have warnings printed to the user if one of the YAML fields is unknown / malformed but it seems we have a bug that these warnings are no longer printed.

i will log a separate ticket for that.

[2020-06-08 18:00] neolit123 commented on #2167
so the issue is already logged and it's in the yaml library that we use:
https://github.com/kubernetes-sigs/yaml/issues/15

[2020-06-08 19:22] neolit123 commented on #2163
hello @wallrj
i did some tests locally to reproduce this problem.

this is actually a bit complicated to refactor into kubeadm today.

to summarize:

- the failure you are seeing comes from here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/init.go#L369
`kubeadm init` invocation calls the above code regardless of the "init phase" that is called.
- the "certs" phase has

[2020-06-09 01:35] mikechen66 commented on #1145
neolit123

After executing the following commands that you mentioned, it still has one of the worker nodes NotReady. It is marked with ContainerCreating.

[code]

While I tried to configure rbac, it reminds me of the error of 404.
`
kubectl create -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel-rbac.yml
`

error: unable to read URL "https://raw.githubuserconte

[2020-06-09 01:37] neolit123 commented on #1145
hi, flannel is pretty much unsupported by the kubeadm team at this point due to a number of bugs.
you can try another CNI plugin.

[2020-06-09 01:43] mikechen66 commented on #1145
Hi neolit123

How to install CNI for Flannel?

I see the following commands recommended by someone. But I could not execute it.

[code]

I am in the Nvidia Jetson AI Dev Environment that enable Docker.  But Jetson is pre-install Ubuntu 18.04. At present, I operate it in the Command Line interface of Jetson.

Please indicate how to install the CNI for Flannel.

Best regards

[2020-06-09 01:56] lovexiongmao commented on #2167
@neolit123 thank you very much, it work now!

[2020-06-09 03:10] neolit123 commented on #1145
i haven't tried flannel in a while.
you can try asking in the support channels, such as #kubeadm on k8s slack.

[2020-06-09 12:46] xlgao-zju commented on #1606
I'd like to help this. cloud I assign?

[2020-06-09 12:48] neolit123 commented on #1606
i think @rosti was working on an idea on how to create a generic retry client.

[2020-06-09 12:51] xlgao-zju commented on #1606
that sounds cool, ping me if you @rosti need help.

[2020-06-09 13:00] mikechen66 commented on #1145
Hi neoit123

Flannel is recommended by Joe Beda and Brendan Burns, Google Kubernetes co-creators. They have published Kubernetes: Up & Running, a classical book on Kubernetes.  But they just has a quite short description on Flannel. Please see the go installation guide in the following go weblink.

**1. Prerequisite**

Install go on Ubuntu 18.04

1). create go file and enter into it

[code]

2). D

[2020-06-10 00:19] mikechen66 commented on #1145
Following the late-shared go installation, I have solved the issue with the following setup of cluster network.

**1. Configure the Flannel with sed**

_For ARM64 Architecture_

[code]

**Or**

_For AMD64 Architecture_

[code]

**2. Apply Flannel and Check the Configuration**

**1). Apply Flannel**

[code]

**2). Check the Configuration**

_Check kube-flannel-cfg_

[code]

_For ARM64 Architecture_

[2020-06-10 03:22] QianChenglong opened #2175 "kubeadm upgrade does not follow the addon version specified at creation"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-06-10 07:50] SataQiu commented on #2175
Maybe we can check the version like this?
[code]

[2020-06-10 11:43] NeilW opened #2176 "kubeadm (<= 1.18) join fails to run with a controlPlan entry in the config file"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d64eec7fe40", GitTreeState:"clean", BuildDate:"2020-05-20T12:49:29Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Versio

[2020-06-10 17:33] preetisimeio opened #2177 "x509: certificate has expired or is not yet valid"
Getting issue

kubectl get cs
NAME                 STATUS      MESSAGE                                                                                ERROR
controller-manager   Healthy     ok
scheduler            Healthy     ok
etcd-0               Unhealthy   Get https://127.0.0.1:4001/health: x509: certificate has expired or is not yet valid
etcd-1               Unhealthy   Get https://127.0.0.1

[2020-06-10 17:40] #2177 closed, assigned to nobody

[2020-06-10 20:52] neolit123 opened #2178 "change the kubelet service crash loop behavior"
over time we have seen a number of complains related to the crash loop of the kubelet service in the DEB/RPMs. when the kubelet is installed, the service is enabled but it would fail because it's missing its config.yaml (KubeletConfiguration), unless something like kubeadm creates one for it.

this has caused problems for:
- Windows support
- supporting other service manager like OpenRC

after a d

[2020-06-11 01:36] neolit123 opened #2179 "kinder: containerd nodes prepull etcd and extra images"
@fabriziopandini
https://github.com/kubernetes/kubeadm/pull/2168

it seems the above PR was a regression in terms of the the image prepull as etcd, coredns, pause are now again pulned N times for N nodes + N times for upgrade.

overall i did not understood the benefit of the PR, other than reducing the complexity on runtime for containerd.

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-ku

[2020-06-11 05:43] #2092 closed

[2020-06-11 08:29] fabriziopandini commented on #2179
I will check why this is happening.
But the code for fetching extra image was not changed by this PR...

However, I see several benefits in having preloaded images in the node variant, increasing the node startup speed for each node we are spinning up as first, maintaining a minimal consistency with kind as the second.

[2020-06-11 08:29] fabriziopandini commented on #2179
/assign

[2020-06-11 09:12] #2169 closed

[2020-06-11 09:30] rosti commented on #2178
The necessary modifications here are:
1. Remove the kubelet service running check (from [here](https://github.com/kubernetes/kubernetes/blob/a8e43038a430aad2878cdfff17a5702dbcec1b73/cmd/kubeadm/app/preflight/checks.go#L1036))
2. Enable the service during init and join. One way is to add the enabling code where the `TryStartKubelet` calls are. A safer and somewhat backwards compatible alternative i

[2020-06-11 10:19] vasanthakumars98 opened #2180 "Kubernetes Apiserver status repeatedly faling error"
vasanthakumar@vasanth:~/Desktop/kubernetes/smef$ minikube status
E0611 15:28:09.877660    6252 status.go:256] Error apiserver status: https://192.168.99.102:8443/healthz returned error 403:
{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"forbidden: User \"system:anonymous\" cannot get path \"/healthz\"","reason":"Forbidden","details":{},"code":403}

minikube
type: Co

[2020-06-11 13:10] neolit123 commented on #2178
your proposed plan for kubeadm seems fine to me.

so i think ideally we should be making this change only for the latest MINOR.
but in https://github.com/kubernetes/release/pull/1352 we are also discussing the fact that currently such changes are applied to all PATCH release of k8s packages.

currently the kubeadm package has the kubelet package as a dependency (there were discussions to change th

[2020-06-11 13:35] neolit123 commented on #2179
i remember the etcd prepull worked after my changes for both docker and containerd, but i could have messed something up.

this is good for local testing too...the Prow / GCP internet is very fast, but i get timeouts most of the time if i have to test a full workflow locally due to the etcd pull N times.

true.

[2020-06-11 13:38] neolit123 commented on #2180
please use the minikube issue tracker
https://github.com/kubernetes/minikube

or the k8s support channels for this.
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-06-11 13:38] neolit123 commented on #2180
/triage support

[2020-06-11 13:38] #2180 closed

[2020-06-11 15:51] xlgao-zju commented on #2135
@neolit123  Since https://github.com/kubernetes/kubernetes/pull/91329 has been merged, shall we remove the mount of flexvolume-dir now?

[2020-06-11 16:13] neolit123 commented on #2135
so my understanding is that flex volume support does not work with the distroless image for the KCM that k8s ships by default now. however, someone might decide to build their own image and override the one that kubeadm uses from k8s.gcr.io.

this leads me to believe that instead of removing the kubeadm support for flex volume today, we should wait until flex volume is completely removed.

cc @dim

[2020-06-11 17:17] dims commented on #2135
yep well said @neolit123

[2020-06-11 20:15] neolit123 commented on #2094
actually let me log a new ticket

[2020-06-11 20:15] #2094 closed

[2020-06-11 20:18] neolit123 opened #2181 "make the etcd client retry logic consistent"
after this merged:
https://github.com/kubernetes/kubernetes/pull/90645

we made the MemberAdd retry logic a bit different in terms of retries.

- make etcd client logic consistent for all methods, by wrapping both client dial and client operation
- use the same timeouts / exp-backoff everywhere.

/priority important-longterm
/kind cleanup

[2020-06-11 20:20] neolit123 commented on #2095
/lifecycle active

[2020-06-12 11:18] grahamoptibrium opened #2182 "Can not start cluster with IPv6 advertise address."
## What keywords did you search in kubeadm issues before filing this one?

IPv6

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:

**kubeadm version** (use `kubeadm version`):
[code]
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g.

[2020-06-12 13:33] neolit123 commented on #2182
these seems like a misconfiguration.

please try asking in the #sig-network or #kubeadm channels on k8s slack.
also he have these other support methods:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close
/triage support

[2020-06-12 13:34] #2182 closed

[2020-06-13 13:12] fabriziopandini commented on #2179
/lifecycle active

[2020-06-13 19:04] neolit123 commented on #2091
cherry picks:
https://github.com/kubernetes/kubernetes/pull/92117
https://github.com/kubernetes/kubernetes/pull/92116

[2020-06-13 19:45] neolit123 commented on #2095
@fabriziopandini
PR is here:
https://github.com/kubernetes/kubernetes/pull/92118

i have not tested if this idea works...

if the member is in the cluster already, the new code should detect that. but my assumption here is that existing member would be unhealthy. so, i don't know if just creating this new server instance, without re-adding the member would make the existing member healthy.

if you

[2020-06-14 12:23] #2179 closed

[2020-06-15 02:03] SataQiu commented on #2181
/assign

[2020-06-15 16:31] jeanluclariviere opened #2185 "--certificate-renewal true doesn't renew kubelet.conf"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm kubelet certificate renewal
If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?
Bug report

## Versions

**kubeadm version** (use `kubeadm version`):
1.16.7 > 1.17

[2020-06-15 16:44] neolit123 commented on #2185
hello, the kubelet.conf used to include embedded client certificates that kubeadm's certificate renewal did not manage.

after 1.17 kubeadm started writing kubelet.conf to point to the client cert files that are automatically managed / rotated by the kubelet.

see the note: "On nodes created with kubeadm init, prior to kubeadm version 1.17..." here

https://kubernetes.io/docs/tasks/administer-clus

[2020-06-15 17:08] jeanluclariviere commented on #2185
Thanks for the prompt response - I understand that, according to that warning, we should modify our kubelet.conf to point to the following certificates instead:

[code]

But after upgrading from 1.17 to 1.18, `kubelet-client-current.pem` does not appear to have been renewed. If I inspect the cert, it still contains the old expiration date - even though the renewal date when listing the certificate

[2020-06-15 17:13] neolit123 commented on #2185
the kubelet will decide when to rotate its certificates as long as client certificate rotation is enabled. `kubeadm upgrade` does not trigger the rotation.

[2020-06-15 17:26] jeanluclariviere commented on #2185
Understood - thanks for the clarification!

[2020-06-15 17:26] #2185 closed

[2020-06-16 13:52] neolit123 commented on #2151
we changed kinder to preload on build time for containerd, lowering prioirty:
/remove-priority important-soon
/priority awaiting-more-evidence

[2020-06-16 13:55] neolit123 commented on #2091
closing as cherry picks are LGTM/approved
/close

[2020-06-16 13:56] #2091 closed

[2020-06-16 14:05] neolit123 commented on #2132
/kind documentation
/remove-priority awaiting-more-evidence
/priority backlog

[2020-06-17 12:02] rdxmb opened #2186 "/var/lib/kubelet/pki/kubelet.crt not renewed with `kubeadm alpha certs renew all`"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:12:12Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
kubectl versi

[2020-06-17 12:51] neolit123 commented on #2186
hello,

please see https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

this certificate is rotated out of band and automatically by the kubelet process. i believe it should happen around 80% of the total cert validity duration.

also see this issue that we closed a couple of days ago:
https://github.com/kubernetes/kubeadm/issues/2185

i'm going to close this but let me know

[2020-06-17 12:51] #2186 closed

[2020-06-17 19:57] neolit123 commented on #2095
cherry picks:
https://github.com/kubernetes/kubernetes/pull/92236
https://github.com/kubernetes/kubernetes/pull/92235

[2020-06-18 08:05] xlgao-zju commented on #524
@neolit123 shall add a flag (maybe `pullPolicy `) to control the behavior of prepulls in pre-flight? os, users can skip the prepulls in flight, instead of just skipping the pre-flight.

[2020-06-18 08:24] xlgao-zju commented on #988
so, we gonna remove `kubeadm config upload/view`, right?

[2020-06-18 09:06] rosti commented on #988
`kubeadm config upload` is functional, but deprecated. I don't think we have made any concrete plans for the deprecation of `kubeadm config view`.

For ClusterConfiguration, it might be OK to allow users to use the config map directly. The only thing stopping us from doing it ATM is the cluster status that is still present in that config map.

[2020-06-18 09:34] rosti commented on #524
@xlgao-zju thanks for your help!

This is on hold now. No new command line flags should be added. The change needs to be part of a new kubeadm config version if done.
But, frankly, we haven't reached a decision if this actually needs to be done or not.

[2020-06-18 12:20] ping2alexander opened #2187 "error execution phase upload-config/kubelet: Error writing Crisocket information for the control-plane node: timed out waiting for the condition"
I am hitting the following error when starting kubeadm init.  Please help me on this.

[certs] Generating "etcd/healthcheck-client" certificate and key
[certs] Generating "apiserver-etcd-client" certificate and key
[certs] Generating "sa" key and public key
[kubeconfig] Using kubeconfig folder "/etc/kubernetes"
[kubeconfig] Writing "admin.conf" kubeconfig file
[kubeconfig] Writing "kubelet.conf" k

[2020-06-18 12:46] xlgao-zju commented on #1098
what if the user do not use the kubelet component config...

[2020-06-18 13:34] neolit123 commented on #1098
kubeadm always writes the config file.
in the future the kubelet will only remain with a `--config` flag and all other flags will be removed, so even users outside kubeadm will be forced to use the config.

[2020-06-18 13:40] neolit123 commented on #988
with the fact that admins can call `kubectl get cm -n kube-system kubeadm-config -o yaml`, i'd say the benefits of us maintaining the `view` command are minimal.

[2020-06-18 14:51] neolit123 commented on #2187
/triage support

hello,

so this means that the control plane and kubelet are working fine at this point in time.

this can happen if something killed your apiserver right after it started.

- can you reproduce the issue consistently?
- what is your host OS?
- do you see your control-plane pods running if in a separate terminal you do `sudo KUBECONFIG=/etc/kubernetes/admin.conf kubectl get po -A`,

[2020-06-18 15:56] rosti commented on #988
@neolit123 indeed in its current form it's not very useful. It just does what the kubectl command you have does.
In that essence, we can deprecate and delete it.

It might be useful to have a separate `kubeadm config` command (probably under `print`) that would display the active config in its entirety - that is `ClusterConfiguration` plus component configs. That can be useful to replicate cluster

[2020-06-18 16:04] neolit123 commented on #988
if the command is moved to a new location under print and extend to print component config too, i guess this means we need to concat parts of these ConfigMaps kubeadm-config, kube-proxy and kubelet-config-VER?

[2020-06-18 17:05] ping2alexander commented on #2187
Hi,

Please find the requested information.

Host OS
========
Fedora release 30 (Thirty)
NAME=Fedora
VERSION="30 (Server Edition)"
ID=fedora
VERSION_ID=30

System Info :
============

[root@dns2 ~]# lscpu
Architecture:        x86_64
CPU op-mode(s):      32-bit, 64-bit
Byte Order:          Little Endian
Address sizes:       36 bits physical, 48 bits virtual
CPU(s):              8
On-line CPU(s) lis

[2020-06-18 17:26] neolit123 commented on #2187
something is not right with your Node object `dns2.winterfell`.

- what is your kubelet version?
- did you set this node Name manually or is this the name of the host?

[2020-06-19 00:37] #1649 closed

[2020-06-19 04:36] ping2alexander commented on #2187
I have changed the hostname  and ran kubeadm init. Still issue is observed.

[root@Master kubernetes]#
[root@Master kubernetes]# kubelet --version
Kubernetes v1.18.4
[root@Master kubernetes]# docker images
REPOSITORY                           TAG                 IMAGE ID            CREATED             SIZE
k8s.gcr.io/kube-proxy                v1.18.4             718fa77019f2        40 hours ago

[2020-06-19 09:44] xlgao-zju commented on #1098
@neolit123 is there any roadmap of this?

[2020-06-19 12:53] neolit123 commented on #2187
this seems to be some sort of an error particular to your setup.
we don't see this problem in our CI.

please show the kubelet logs using `journalctl -xeu kubelet` right after `kubeadm init` gives you the error. the kubelet logs must start with the flags the kubelet received.

you can use pastebin.com for longer logs.

- if you don't pass `--apiserver-advertise-address=10.127.10.244` does it work?

[2020-06-19 12:55] neolit123 commented on #1098
there is this tracking issue:
https://github.com/kubernetes/kubernetes/issues/86843

[2020-06-19 13:31] neolit123 commented on #2187
note that in some cases you need to be explicit about the Node IP.

this is done by passing `--node-ip` to the kubelet, or using the kubeadm configuration file `...init --config somefile.yaml`

so this might work for you:
[code]

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2
https://godoc.org/k8s.io/kubelet/config/v1beta1

also read this about controlPlaneEndpoint:
https

[2020-06-19 16:12] ping2alexander commented on #2187
Hi,
It is started working after executing following commands.

swapoff -a
kubeadm reset
systemctl daemon-reload
systemctl restart kubelet
iptables -F && iptables -t nat -F && iptables -t mangle -F && iptables -X

[root@Master ~]# kubectl get nodes
NAME             STATUS   ROLES    AGE     VERSION
master           Ready    master   8h      v1.18.4
worker-node-01   Ready    <none>   7h58m   v1.18.4

[2020-06-19 20:23] neolit123 commented on #2187
thanks for the update.

to me this looks like you had stale iptable rules.
`kubeadm reset` instructs you to do such a cleanup if / when needed.

[2020-06-19 20:23] #2187 closed

[2020-06-20 06:05] Sjnahak opened #2188 "Is it the Expected Behaviour when we take 2 kubernetes master node down out of 3"
## Versions

**kubeadm version** (use `kubeadm version`):  v1.18.0
Kubeadm Config file:
[code]

**Environment**:
- **Kubernetes version: v1.18.0
- **Cloud provider or hardware configuration**: VM's with 16 GB RAM and 4 VCPU each
- **OS** (e.g. from /etc/os-release): Rhel 7

## What happened?
I had set up 3 masters with 2 worker nodes kubernetes cluster For HA using kubeadm.(Stacked topology)

When

[2020-06-20 20:08] neolit123 commented on #2188
/triage support

hi,

did you use this guide to setup the HA cluster?
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

no, it is not.

this seems like an issue with your loadbalancer or general network setup.

once you stop the 2 extra control-plane nodes, you can go on the remaining CP node and see what the logs for the etcd and kube-apiserver containers s

[2020-06-21 06:17] Sjnahak commented on #2188
Yes i used https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/ for setting up the cluster.

Please find fresh logs as i recreated by taking down 2 control plane  nodes.

Logs of the only one control lane running:

etcd Logs:
[code]

Kubeapi-server Logs:
[code]
[root@Contolplane-1 containers]# journalctl -fu kubelet
-- Logs begin at Wed 2020-06-17 13:44:57 UTC.

[2020-06-21 13:29] neolit123 commented on #2188
note, we also have this guide for settuping a load-balancer:
https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md

this tells me that one of your kube-apiservers is failing to start.

- when all 3 CP nodes are running:
  - can you show the output of `kubectl get po -A`?
  - can you go on all nodes and try to CURL to the local API server on port 6443?

[2020-06-21 14:28] #2160 closed

[2020-06-21 17:03] mstoetzer opened #2189 "Kubeadm HA control plane guide - missing keepalived health check script file"
## What keywords did you search in kubeadm issues before filing this one?

- `kubeadm check_apiserver.sh missing`
- `kubeadm check_apiserver.sh`
- `kubeadm keepalived healthcheck`

## (not really a) BUG REPORT

Please see: [kubeadm docs - ha-considerations.md](https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md#keepalived-configuration)

The code snipped for the keepalived

[2020-06-21 18:52] neolit123 commented on #1393
/remove-lifecycle stale

[2020-06-21 20:00] nelsonyaccuzzi commented on #413
Hi! this issue was of much help

I found a fancy way to resolve this using kustomize

[code]

[2020-06-22 05:42] Sjnahak commented on #2188
@neolit123   Yes my issue is related to kubeapiserver stops it's process when i take down 2 controlplane node out of 3.

Here is the output you requested when all controlplane nodes are running.

[code]
CURL OUTPUT
[code]

[2020-06-22 07:01] fabriziopandini commented on #2188
WRT to API server not responding most of the problem I have faced in the past are due to load balancer not kicking out failed instances from the pool timely. This usually depends by liveness problem configuration.

Also, If you take down 2 masters out out of three you most probably loose quorum and etcd goes in ready mode

[2020-06-22 12:29] ShilpaMerinMathew commented on #210
Is there any update on how to give a tag for the nodes so that the load balancer is allocated properly. I am having this issue. Can somebody help me ?

[2020-06-22 14:45] brianpursley opened #2190 "kubeadm init should not set --allow-privileges=true in the default generated kube-apiserver.yaml manifest"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: on-prem cluster
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?
I created a cluste

[2020-06-22 14:46] neolit123 commented on #2188
what do you see in the container logs (e.g. `docker logs...`) for apiserver and etcd on the only remaining master?

[2020-06-22 14:50] neolit123 commented on #2190
/priority awaiting-more-evidence
/kind feature

@brianpursley as mentioned on slack, i'd like to understand all the side-effects of `--allow-privileged=false`

as can be seen here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L82-L83

kubeadm deploys the kube-proxy containers as priviliged. does this mean that kube-proxy will no longer work

[2020-06-22 14:53] neolit123 commented on #2189
@mbert hello, do you think this is something we should include in the guide?

[2020-06-22 15:06] Sjnahak commented on #2188
@neolit123  I have shared earlier in my previous  comments  , Starting with "Yes i used ........"

[2020-06-22 15:17] brianpursley commented on #2190
OK. From what I know, this controls whether or not you are allowed to use `securityContext.privileged: true` in pod manifests.

I don't know if it has any effects internally. If changing this setting breaks the system, then I think maybe I will end up creating a different issue to remove the setting from apiserver :grin:

[2020-06-22 15:28] neolit123 commented on #2190
yes, my understanding as well. which means that toggling this to false, breaks the kubeadm control-plane and kube-proxy deployment.

if someone can manage to get their cluster to run with this option set to `=false` that is fine, but it seems to me kubeadm components still need it.

here we explored the complexity of not running the control-plane as priviliged and we faced a number of blockers:
ht

[2020-06-22 15:33] brianpursley commented on #2190
OK I see what you're saying.  when I look at one of my kube proxies, it has this in it:
[code]

That does seem to make it more complicated to turn off.

[2020-06-22 15:49] neolit123 commented on #2188
^ so i like to correct myself here. it is in fact expected behavior, sorry for misreading the overall problem.

if you:
- create 3 CP x 2 worker cluster
- shut down 2 of the CP nodes
- the remaining CP node is unusable
- this is caused by etcd losing quorum like @fabriziopandini mentioned.
- the remaining etcd member will fail to reach the 2 missing members and it will crashloop, causing the apise

[2020-06-22 16:01] Sjnahak commented on #2188
@neolit123  thanks for confirmation. I just wanted to be double sure .
Closing the Issue.

[2020-06-22 16:01] #2188 closed

[2020-06-22 16:05] zgfh opened #2191 "kubeadm:need a way to config the memory of coredns"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.15.4

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**: k8s: 1.15.4
- **OS** (e.g. from /etc/os-release): centos
- **Kernel** (e.g. `uname -a`): 3.10
- **Others**: k8s: 1.15.4

## What happened?
in my cluster ,cor

[2020-06-22 16:15] mbert commented on #2189
Yes, I think so. So it looks like I forgot including this? I'll prepare another PR.

[2020-06-22 16:34] mbert commented on #2189
https://github.com/kubernetes/kubeadm/pull/2192

[2020-06-22 16:42] #2189 closed

[2020-06-22 16:45] neolit123 commented on #2191
hello,
we have no plans to make the coredns Deployment object patchable / customizable on that level for the time being. also there are plans to move the coredns logic outside of kubeadm so that it's managed by an operator.

for now you have to use `kubectl edit/patch`.

thanks
/close

[2020-06-22 16:45] #2191 closed

[2020-06-22 22:34] zgfh commented on #2191
thanks

[2020-06-23 01:18] xuxiaowei0512 opened #2194 "A broken when kubadm config"
root@ubuntu20:/home/ubuntu# kubeadm config --v=5
missing subcommand; "config" is not meant to be run on its own
k8s.io/kubernetes/cmd/kubeadm/app/cmd/util.SubCmdRunE.func1
        /workspace/anago-v1.18.4-rc.0.49+d809d9abe5c1e3/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/cmd/kubeadm/app/cmd/util/cmdutil.go:38
k8s.io/kubernetes/vendor/github.com/spf13/cobra.(*Command).execute

[2020-06-23 10:48] bboreham opened #2195 "etcd pod spec should include requests for memory, cpu, etc"
## FEATURE REQUEST

The pod spec for etcd does not include any `requests`:

https://github.com/kubernetes/kubernetes/blob/db8a88721e587cbc54e7081cb88374e253cde4ed/cmd/kubeadm/app/phases/etcd/local.go#L222-L232

This has the following consequences:
 * etcd is not included in kubelet's bookkeeping of how much should run on this node
 * when machine CPU is at 100%, etcd will be throttled to maximum 0

[2020-06-23 10:55] luxas commented on #2195
Thanks for noticing. I think we could set it to something sensible by default, that would fit on a default single-master install of 2 (v)CPUs.

WDYT @fabriziopandini @neolit123?

[2020-06-23 12:30] xlgao-zju commented on #1098
I think we need to know the node name at first, then we can amend the copy of kubelet component config with the node name... os, it seems we can not get the node name form kubelet component config, am I right?

[2020-06-23 12:44] neolit123 commented on #1098
i'd agree.

[2020-06-23 12:57] neolit123 commented on #2195
what values are you proposing?

even with a `system-node-critical` priority class which is the default in 1.18?

[2020-06-23 13:14] neolit123 commented on #2194
when you add `--v=5` it prints a backtrace.

you should use `kubeadm config` subcommands like `kubeadm config images list`.
`kubeadm config` alone would give you the error.

/triage support
/close

[2020-06-23 13:15] #2194 closed

[2020-06-24 07:44] xlgao-zju commented on #1098
this func ( https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/cluster.go#L136 ) is mainly used by https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/cluster.go#L64，and this func will build the `NodeRegistration`, and will get the name of node from kubelet.config.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/p

[2020-06-24 09:29] bboreham commented on #2195
I confess I had missed that (still can't see it in the code, but I'm sure you're right).

And you're also right that critical pods bypass the effect of `requests`:
https://github.com/kubernetes/kubernetes/blob/da37fcd02d802cd348e68a84e16e254e7d9f3f12/pkg/kubelet/qos/policy.go#L41-L44

Edited description.

[2020-06-24 11:19] gudipudipradeep opened #2196 "Create own token using command line"
is it possible to configure our own token using kubeadm token create:
           kubeadm token create --token xxxx.zzzzzzzz --print-join-command
           or
            any other way to create inside the "etcd document database" with token
            etcdctl put token xxxx.zzzzzzzze

Where this token will be saved inside the cluster..?

[2020-06-24 15:07] neolit123 commented on #1098
the sequence of events feels wrong in the existing kubeadm logic.

i think the key here is that we need to construct a NodeRegistrationOptions object during upgrades:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/cluster.go#L109-L110

kubeadm upgrade should not be doing that.
but i lack the full context here.

[2020-06-24 15:18] neolit123 commented on #2195
actually, i'm mistaken. it is only in master (1.19):
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/staticpod/utils.go#L67
it was agreed that we can backport this to older versions if we see user requests.
so let me know if you'd like to see it in older versions.

these depend on the cluster size, but i think we can at least set the CPU request for the pod to something l

[2020-06-24 18:03] neolit123 opened #2197 "slow running tests in cmd/kubeadm/test/cmd"
there was a report in k/k that the tests in cmd/kubeadm/test/cmd are running for a long time:
https://github.com/kubernetes/kubernetes/pull/91366#issuecomment-648956868

/area test
/kind bug
/priority important-soon
/help

[2020-06-24 18:19] neolit123 commented on #2196
/triage support

you can use something like:
`kubeadm token create 8ey2cb.nrqrw0t7t7qmd43k`

which will create the token `8ey2cb.nrqrw0t7t7qmd43k` for you.
the token format must match `\\A([a-z0-9]{6})\\.([a-z0-9]{16})\\z`

you can also generate a token with:
`kubeadm token generate`

etcdctl put token xxxx.zzzzzzzze

kubeadm tokens are not the same as etcd tokens.
the kubeadm tokens are used for

[2020-06-24 18:19] #2196 closed

[2020-06-24 18:39] neolit123 commented on #2190
@brianpursley i'm going to close this because we don't have a clear proposal in place.
today users might be able to hack around it, by e.g. skipping kube-proxy, but this is is out of scope for kubeadm for the time being.

thanks.

[2020-06-24 18:39] #2190 closed

[2020-06-24 18:43] chaosaffe opened #2198 "kube-apiserver crashloops when using alternate secure port"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
Bare metal machines
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:
kubeadm config
[code]

## What happene

[2020-06-24 18:58] neolit123 commented on #2198
hi, i think we had a similar report about this before.

that is not a valid way to to propagate the 443 port everywhere.

please try:
[code]

xref: https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2
/triage support

[2020-06-24 19:00] neolit123 commented on #2198
it's also supported for joining control-plane nodes:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#JoinConfiguration
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#JoinControlPlane

[2020-06-24 20:09] brianpursley commented on #2190
@neolit123 no problem, I understand. Thanks for explaining to me about kube-proxy

[2020-06-25 13:30] johscheuer opened #2199 "etcd metrics endpoint should listen on advertise address"
## What keywords did you search in kubeadm issues before filing this one?

`etcd`, `etcd metrics`

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

I would propose to change the current default for the etcd `--li

[2020-06-25 13:43] neolit123 opened #2200 "rename "node-role.kubernetes.io/master""
KEP: http://git.k8s.io/enhancements/keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/README.md
https://github.com/kubernetes/enhancements/issues/2067

[code]

---------

1.20

- [x] KEP draft:
https://docs.google.com/document/d/1kPs_zFconMU83LCOfBr_xKXfghn3y9VLLrTUSlCAf4s/edit#
- [x] write KEP / create issue in k/enhancements
http://git.k8s.io/enhancements/keps/sig-cluster-lifecyc

[2020-06-25 14:54] neolit123 opened #2201 "update the kubeadm "create" docs with the right steps for node deletion"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#remove-the-node

^this section should have `kubectl delete node` as the last step after `kubeadm reset`
otherwise the following happens:

[code]

a PR for this file is required:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/create-cluster-kube

[2020-06-25 14:55] neolit123 commented on #2201
/priority backlog
/kind documentation
/milestone v1.19
/help

[2020-06-25 15:16] neolit123 commented on #2199
hello, @johscheuer

i disagree with this assessment, at least not by default.
by doing that your are exposing an unsecure (HTTP) etcd metrics endpoint on a public IP address.

we closed a similar PR recently:
https://github.com/kubernetes/kubernetes/pull/90954
please have a look at the comments there.

instead of doing that by default in kubeadm, you should edit/patch your etcd.yaml.

[2020-06-25 15:28] neolit123 commented on #2199
in particular this comment: https://github.com/kubernetes/kubernetes/pull/90954#discussion_r422998704
explains that the metrics are already exposed publicly, but require HTTPS.

[2020-06-25 16:13] johscheuer commented on #2199
Thanks for the pointe somehow I didn't find this pr in my search. Sorry for the inconvenience.

[2020-06-25 16:13] #2199 closed

[2020-06-25 16:23] neolit123 commented on #2199
no worries.

[2020-06-25 20:23] MirzaSikander commented on #1931
Isn't there a simpler option to just have some separate configuration for CoreDNS that toggles the toleration so that the pods don't actually get scheduled on the control plane? By default we should keep the current behavior where the pods are scheduled on the control plane. Patching coredns deployment everytime seems painful.

[2020-06-25 20:40] neolit123 commented on #1931
running coredns on worker nodes is not a good practice, because is some cases the workers are ephemeral.

kubeadm has plans to move the coredns deployment to be managed by an operator, so potentially this can be made configurable in that process, but we are facing some different complexities there.

in the meantime there are two options:
- patch the Deployment that kubeadm installs (which most peo

[2020-06-25 20:53] MirzaSikander commented on #1931
Okay thanks for the quick response. Just wanted to add that even in the case where workers are ephemeral having 2 or more replicas should prevent any loss of DNS resolution. Also this really just depends upon the circumstances so having it configurable helps.

[2020-06-26 00:07] vinu2003 commented on #2201
Hey @neolit123, this can be a good first issue right ? I can pick this up.

[2020-06-26 00:07] vinu2003 commented on #2201
/assign @vinu2003

[2020-06-26 00:14] neolit123 commented on #2201
sure, go ahead @vinu2003

[2020-06-26 20:09] sftim commented on #2200
How about adding the _new_ label to https://kubernetes.io/docs/reference/kubernetes-api/labels-annotations-taints/ ?

[2020-06-26 23:40] neolit123 commented on #2200
not long ago these labels were made deployer specific and we cannot add them as part of the core API docs:
https://github.com/kubernetes/enhancements/blob/143c03f0af52c47eab48ec54144dab6bcc86c98d/keps/sig-architecture/2019-07-16-node-role-label-use.md#use-of-node-rolekubernetesio-labels

[2020-06-26 23:44] #2201 closed

[2020-06-26 23:45] sftim commented on #2200
The website documents more than the core API, and the point of the language seems like a good point to reconsider what's documented.

As I understand it, that KEP strongly advocated for writing sample manifests and other documentation that relies on these labels being used. I'd that documenting the existence of that label, with caveats, could be OK. Anyway, I'm happy to revisit this after this iss

[2020-06-27 11:13] kaushalendrakumar commented on #761
I also faced this issu. solved using https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2020-06-28 11:09] mstoetzer commented on #2189
Thank you for the fast fix!

[2020-06-29 04:17] neolit123 opened #2202 "kubeadm serves kube-scheduler and kube-controller metrics insecurely"
kubeadm serves kube-scheduler and kube-controller manager metrics insecurely outside of localhost, as reported here:
https://kubernetes.slack.com/archives/C2P1JHS2E/p1593237397449300

i need to double check this myself, but it feels like our --bind-address=127.0.0.1 is not sufficient to disable that.

for example:
`curl http://public-ip:10252/metrics`

flag refs:
https://kubernetes.io/docs/referen

[2020-06-29 04:22] neolit123 commented on #2202
seems related: https://github.com/kubernetes/kubernetes/issues/65869#issuecomment-402883069

[2020-06-29 04:35] neolit123 commented on #2202
the KCM docs are lacking some flags:
[code]
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

kubeadm has a couple of options to disable public metrics:
- pass `--port=0`
- pass `--address=127.0.0.1`

once these flags are removed, it's not clear how insecure metrics will be possible.

[2020-06-29 06:59] KeyToon9 commented on #1978
same problem. Have you solved it?

[2020-06-29 07:23] xlgao-zju commented on #1098
seems this is used in other cases too, besides kubeadm upgrade:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/cluster.go#L64

maybe we should store the node name somewhere. then when we need the node name, we get it directly.

[2020-06-29 08:36] kochetovd commented on #31
Hi, @errordeveloper
Can you please give a patch for wave-kube to install weave with non-unique product_uuid?

[2020-06-29 14:30] neolit123 commented on #1098
our logic around node name still feels wrong, because if a "configuration" is fetched from the cluster, then this should be the ClusterConfiguration object (not InitConfiguration), which does not include the node name.

one way of doing that would be for kubeadm to write the node name in a file once init / join finishes, but this adds more disk state which is overall undesired.

instead of adding

[2020-06-29 16:24] rosti opened #2203 "kubeadm config view replacement"
`kubeadm config view` (as @neolit123 pointed out) is an unnecessary command because of the following:

- It is a shorthand for `kubectl get cm -o yaml -n kube-system kubeadm-config` that displays just the `ClusterConfiguration` portion of the config map.
- Users (including me) tend to use `kubectl` much more often as it can be executed from outside the cluster as well (provided that you have a pro

[2020-06-29 16:37] neolit123 commented on #2203
my vote goes for pointing users towards `kubectl get cm` in our documentation.

[2020-06-30 00:09] ronaldpetty commented on #556
Similar issue, across different networks, still looking.

[2020-06-30 01:35] #988 closed

[2020-06-30 09:31] SataQiu commented on #2203
/cc

[2020-06-30 09:51] timyl opened #2205 "kubernetes kube-proxy mode ipvs, nodeport missed"
## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version**  v1.18.3
- **Cloud provider or hardware configuration**: local
- **OS** (e.g. from /etc/os-release):  centos7 1908
- **Kernel** (e.g. `uname -a`): 4.4.228-2.el7.elrepo.x86_64
- **Others**: calico version: v3.13.3

## What happened?
I am testing dual stack kubernetes, and found that the node port wi

[2020-06-30 11:47] rosti commented on #2205
Thanks for filing this issue @timyl !
What steps do you use to change to and from IPVS mode on the fly? Can you supply the kube-proxy config map contents (via `kubectl get cm -o yaml -n kube-system kube-proxy`)?
If this is a kube-proxy issue we may not be able to help directly here.

[2020-06-30 11:58] neolit123 commented on #1953
we will possibly omit further patches for --experimental-kustomize due to:
https://github.com/kubernetes/kubeadm/issues/2046

[2020-06-30 12:07] neolit123 commented on #2205
this doesn't seem like a kubeadm problem. NodePort is a feature maintained by SIG Node/SIG Network, kube-proxy is maintained by SIG Network. the ticket should be logged in the kubernetes/kubernetes repo.

[2020-06-30 13:49] timyl commented on #2205
@rosti  I change the mode by updating kube-proxy config-map as you mentioned, and then restart all kube-proxy pod, below is the  kube-proxy cm configuration
------------------
[root@k8s-master-01 ~]# kubectl -n kube-system get cm kube-proxy -oyaml
apiVersion: v1
data:
  config.conf: |-
    apiVersion: kubeproxy.config.k8s.io/v1alpha1
    bindAddress: 0.0.0.0
    clientConnection:
      acceptConte

[2020-06-30 17:50] neolit123 commented on #1698
/remove-lifecycle stale

[2020-06-30 17:50] neolit123 commented on #1793
/remove-lifecycle stale

[2020-06-30 19:59] neolit123 commented on #2198
please let me know if you have questions about the above
thanks

/close

[2020-06-30 20:00] #2198 closed

[2020-07-01 06:52] xlgao-zju commented on #1052
@neolit123 I'd like to pick this up. And will use https://github.com/pbnjay/memory to check the memory.

/assign

[2020-07-01 07:06] #2181 closed

[2020-07-01 07:58] xlgao-zju commented on #2178
Tested `systemctl enable kubelet.service` on a service that is already enabled, and get exit code = 0.

I think @rosti 's plan is fine, and I'd like to help with this.

[2020-07-01 11:20] thanos1983 opened #2206 "kubeadm v1.18.2 with crio version 1.18.2 failing to start master node from private repo on Centos7 / RH7"
## This a BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**LinuxOS Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Barebone node

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

**Description**

I am relatively new to kubernetes. I can run my cluster when u

[2020-07-01 12:10] xlgao-zju commented on #1582
@neolit123  I am think about after user change the config in cm kubelet-config-X.Y, is there anyway to keep the change and put the change into cm kubelet-config-X.Y+1, when he to upgrade his cluster.

[2020-07-01 12:27] xlgao-zju commented on #1601
@neolit123 any plan to change the `ExtraArgs ` to other form? Like

[code]

instead of map[string][string]

[2020-07-01 13:30] neolit123 commented on #1601
we haven't made this fix because it also has to change in the latest API v1beta3.
but a multi-map of sorts would work too:
https://stackoverflow.com/a/19519386

[2020-07-01 13:34] neolit123 commented on #1582
^ cc @rosti

if the user creates `kubelet-config-X.Y+1` in advance before upgrade, kubeadm will just fail, AFAIK.
if they create `kubelet-config-X.Y+1` after upgrade it will not be used.

also, as far as i know about the latest state of component config, kubeadm would not be able to automatically preserve upgrades if kubeletconfiguration changes to e.g. v1beta2, so the users will have to up-conver

[2020-07-01 13:37] neolit123 commented on #1052
@xlgao-zju thanks. we might want to make this change for 1.20, because it's too close to feature-freeze (9th of July).

[2020-07-01 13:53] neolit123 commented on #2206
hello and thank you for logging this ticket.
unfortunately, after kubeadm passes the CRI socket to the kubelet, what happens between the CRI and kubelet is outside of kubeadm's control.

if your container runtime / kubelet is not configured properly kubeadm will fail at the phase where it looks for a healthy kubelet.

can you please show the full output of `journalctl -xeu kubelet` instead?

/tria

[2020-07-01 15:28] thanos1983 commented on #2206
Hello @neolit123,

Thank you for your time and effort reading and replying to my question.

I run it again with verbose 5 flag -v=5 and it seems that is trying to pull from the default repo (see logs below):

[code]

Any ideas how can I get more information on this?

BR / Thanos

[2020-07-01 15:41] rosti commented on #2206
@thanos1983 kubeadm deals with the pause image only in the Docker case. With CRI-O (or any other CRI based runtime) it's the responsibility of the runtime (CRI-O) to fetch and use the correct image.

In your case, it appears that your private repo has the correct pause version (kubeadm logs show that), however CRI-O is not configured to use it. To change the image see [the crio.conf documentation]

[2020-07-01 15:50] thanos1983 commented on #2206
Hello @rosti,

Thank you for your time and effort reading and replying to my question.

I have added the configurations already in my crio.conf file and still it get's ignored (sample of file below):

[code]

Can you spot something that I might have missed? I am new to  kubernetes and crio so maybe I missed something.

BR / Thanos

[2020-07-01 15:53] rosti commented on #1582
@xlgao-zju

As long as there is no kubelet config API version change involved (e.g. `v1beta1` to say `v1beta2`), this should be done automatically by kubeadm. There's no need to manually change the kubelet-config-X.Y+1 CM. Your changes should be there.

If a version change is required, you should create kubelet config in the new format and pass it to `kubeadm upgrade apply` with the `--config` opt

[2020-07-01 16:16] neolit123 commented on #2202
xref https://github.com/kubernetes/kubernetes/issues/91506

[2020-07-01 19:17] neolit123 opened #2207 "remove --port from kube-controller-manager and kube-scheduler"
the flag is deprecated, but it prevents the components to serve insecurely.
remove the flag from kubeadm manifests once it's removed.

files:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests.go
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests_test.go

PR that added the flag in 1.19:
https://github.c

[2020-07-01 19:17] neolit123 commented on #2207
/milestone Next
/kind deprecation

[2020-07-01 19:22] neolit123 commented on #2207
/priority important-longterm

[2020-07-01 19:42] neolit123 commented on #2202
PRs for master (1.19) and branches in the support skew:
https://github.com/kubernetes/kubernetes/pull/92720
https://github.com/kubernetes/kubernetes/pull/92723
https://github.com/kubernetes/kubernetes/pull/92725
https://github.com/kubernetes/kubernetes/pull/92726

[2020-07-01 23:49] justaugustus commented on #2200
/wg naming

[2020-07-02 02:29] pytimer opened #2208 "Support add extra certificates sans when join control plane"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.17.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.17.2
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
`Linux master1 3.10.0-957.12.2.el7.x86_64 #1 SMP Mon May 20 08:41:20 ED

[2020-07-02 07:31] xlgao-zju commented on #1714
/cc

[2020-07-02 09:35] andy-wolf168 opened #2209 "taints [node-role.kubernetes.io/master:NoSchedule] is lost after kubeadm init"
BUG REPORT
## Versions
[root@node1 k8s]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.6", GitCommit:"7015f71e75f670eb9e7ebd4b5749639d42e20079", GitTreeState:"archive", BuildDate:"2019-12-14T16:09:15Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
[root@node1 k8s]# kubectl get node
NAME    STATUS   ROLES    AGE    VERSION

[2020-07-02 09:36] hpapaxen opened #2210 "Issue with kubeadm init: Error writing Crisocket information for the control-plane node: timed out waiting for the condition"
## What keywords did you search in kubeadm issues before filing this one?
I've searched on google and looked up all the links with the following:

* "Uploading the CRI Socket information to the Node API object"
* "Error writing Crisocket information for the control-plane node"
* network not ready: NetworkReady=false reason:NetworkPluginNotReady message:Network
* containerd "message": "Network plug

[2020-07-02 09:45] RA489 commented on #2207
/assign

[2020-07-02 09:59] jotrobin commented on #1031
I am using the kubernetes 1.18 version.

I used this: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

There was no file created under /etc/cni/net.d
The master node is NotReady whereas slaves are in Ready state

[2020-07-02 10:05] thanos1983 commented on #2206
Hello @rosti,

You are absolutely right.

I tried to debug the node again and it is clear to me at least that although I have set the `pause_image = ` parameter in the crio.conf file it gets ignored.

[code]

Below is the log from the node where is trying to pull from default repo k8s.io:

[code]

I have already raised a ticket with the crio team [3915](https://github.com/cri-o/cri-o/issues/3915)

[2020-07-02 10:05] #2206 closed

[2020-07-02 10:11] saddique164 commented on #1031
1. can you run kubectl command on master?
2. can you check your kubelet is running on master? or run this : systemctl restart kubelet.
3. if kubelet is restarting or auto-restart, then run journal -u kubelet and check the logs. You will find the error.

NOTE: This seems to be kubelet issue.

[2020-07-02 10:17] jotrobin commented on #1031
1.  Yes I can run  kubectl commands.
2.  Kubectl runs and then fails.
3.  This is what I see in the errors from journactl -u kubelet:

[code]

[2020-07-02 10:29] saddique164 commented on #1031
try this on master:

sed -i 's/cgroup-driver=systemd/cgroup-driver=cgroupfs/g' /usr/lib/systemd/system/kubelet.service.d/10-kubeadm.conf

[2020-07-02 10:38] jotrobin commented on #1031
It starts and then fails again.

[code]

[2020-07-02 10:41] saddique164 commented on #1031
If you see it is saying no network is found.  Run this command and share the result.

Kubectl get pods -n kube-system

[2020-07-02 10:42] jotrobin commented on #1031
NAME                          READY   STATUS        RESTARTS   AGE
coredns-75f8564758-92ws7      1/1     Running       0          25h
coredns-75f8564758-z9xn8      1/1     Running       0          25h
kube-flannel-ds-amd64-2j4mw   1/1     Running       0          25h
kube-flannel-ds-amd64-5tmhp   0/1     Pending       0          25h
kube-flannel-ds-amd64-rqwmz   1/1     Running       0          25

[2020-07-02 10:44] saddique164 commented on #1031
run this
kubectl logs kube-flannel-ds-amd64-5tmhp -n kube-system

[2020-07-02 10:46] saddique164 commented on #1031
if nothing comes then run this one:
kubectl describe pod kube-flannel-ds-amd64-5tmhp -n kube-system

[2020-07-02 11:12] jotrobin commented on #1031
Error from server: Get https://10.75.214.124:10250/containerLogs/kube-system/kube-flannel-ds-amd64-5tmhp/kube-flannel: dial tcp 10.75.214.124:10250: connect: connection refused

[2020-07-02 11:22] saddique164 commented on #1031
How many nodes are running for you? IN the cluster? one node is doing this problem. This is called daemonset. They run on every node. Your control plan is not accepting the request from it. So i will suggest you to follow the following steps.
1. first drain the worker nodes one by one.
Kubectl drain nodename
2. then delete them.
kubectl delete node nodename
3. wait for the master node to come read

[2020-07-02 12:06] jotrobin commented on #1031
kubectl get nodes:

[code]

[2020-07-02 12:14] jotrobin commented on #1031
I tried the steps you mentioned:

This is what I get.

[code]

[2020-07-02 12:30] saddique164 commented on #1031
drain all the nodes except master and concentrate on that. When it will be ready then go to add others.

[2020-07-02 12:39] saddique164 commented on #1031
I would need to take access your system to resolve it. my email is saddique_uet@yahoo.com

[2020-07-02 12:48] neolit123 commented on #2207
@RA489
let's leave this unassigned for now, we don't know when the work is going to happen.

[2020-07-02 12:50] xlgao-zju commented on #1943
I'd like to help with this.

[2020-07-02 12:51] xlgao-zju commented on #1949
/cc

[2020-07-02 12:53] xlgao-zju commented on #2178
/assign

[2020-07-02 13:01] xlgao-zju commented on #1582
thanks @neolit123 @rosti

will we support this convert in kubeadm (and maybe keep the changes user made)? so that `kubeadm upgrade` can work more smoothly with the pipelines.

[2020-07-02 13:10] neolit123 commented on #1582
only if the kubelet exposes a way to upconvert from it's CLI e.g. `kubelet --convert`

[2020-07-02 13:44] neolit123 commented on #2210
/triage support

please have a look at this recent ticket:
https://github.com/kubernetes/kubeadm/issues/2187#issuecomment-646723526

[2020-07-02 14:00] neolit123 commented on #2209
thank you for debugging this problem.

this is odd...we have kubeadm specific e2e tests that ensure that the node is always tainted:
https://github.com/kubernetes/kubernetes/blob/dde6e8e7465468c32642659cb708a5cc922add64/test/e2e_kubeadm/controlplane_nodes_test.go#L57

we run the same e2e test at least every two hours:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-ma

[2020-07-02 14:11] hpapaxen commented on #2210
I've tried it already but unfortunately, it didn't work as expected. I think it has to do with some type of authentication failure in the kube nodes during the initial setup but after the control plane is up and running.

[2020-07-02 14:41] neolit123 commented on #2210
is the issue reproducible all the time?

Jul  2 02:31:38 my-host kubelet: E0702 02:31:38.917397   16845 kubelet_node_status.go:92] Unable to register node "my-host" with API server: Post https://10.41.11.150:6443/api/v1/nodes: Forbidden

the kubelet is having troubles contacting the API server at 10.41.11.150:6443, yet the kubelet should have the right credentials at this point.
in any case this i

[2020-07-02 14:47] neolit123 commented on #2208
we should mark  --apiserver-cert-extra-sans as deprecated and remove it eventually. it duplicates functionality that is already in  --config.

when you call `kubeadm init`, if you add all the IPs as part of the ClusterConfiguration - apiServer ->certSans https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

doesn't that work for you? when calling `kubeadm join` the new control-

[2020-07-02 14:47] neolit123 commented on #2208
/kind feature

[2020-07-02 15:00] hpapaxen commented on #2210
Yup. I've tried `kubeadm reset` and `kubeadm init` many times (in various forms and with various arguments).

OK - I can follow up with in kubelet project

Not really sure. This is what I get:

[code]

[2020-07-02 15:20] kad commented on #2210
Do you have 10.0.0.0/8 in you no_proxy env?
Verify that it is set in manifests for kube components? This might explain forbidden error

[2020-07-02 15:21] rdxmb commented on #2186
@neolit123 Thanks for your answer!

Does that mean, if I changed the `kubelet.conf` like described in the docs, `/var/lib/kubelet/pki/kubelet.crt` and ` /var/lib/kubelet/pki/kubelet.key` can be deleted?

[2020-07-02 16:24] neolit123 commented on #2186
that is not what the docs describe.

depends on what you want to change, but the docs instruct you to link your kubelet.conf to the `kubelet-client-current.pem` file in that folder.

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

[2020-07-02 16:28] neolit123 commented on #2210
yes, this could be node network setup related.

you can also ask in the support channels or #kubeadm at k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-07-02 16:44] hpapaxen commented on #2210
Yup I have it but no dice. I've tried running with taking all the proxy environmental variables out too. Also tried with docker, containerd and crio but still didn't work. Also tried changing the  serviceSubnet to 11.96.0.0/12 and setting Cluster authorization to None. Still didn't work.

Will do. Thanks.

[2020-07-02 17:02] neolit123 opened #2211 "cleanup the code in the kubelet for bootstrap checkpointing"
this is a ticket for tracking this k/k ticket. so that we don't lose it:
https://github.com/kubernetes/kubernetes/issues/92763

[2020-07-02 17:02] neolit123 commented on #2211
/kind cleanup
/milestone next

[2020-07-02 17:10] neolit123 commented on #2211
looks like there is already a PR for this:
https://github.com/kubernetes/kubernetes/pull/91577

so closing
/close

[2020-07-02 17:10] #2211 closed

[2020-07-03 03:02] xlgao-zju commented on #1582
@neolit123 I see... kubelet config convert is out of kubeadm scope. we will not have command like `kubeadm config migration` to migrate the kubelet config.

[2020-07-03 03:39] xlgao-zju commented on #1681
like what we discussed in https://github.com/kubernetes/kubeadm/issues/1582
seems up-convert these component configs is out of kubeadm's scope...?

[2020-07-03 04:12] maxisam commented on #2205
is this the reason  k8s_nginx-proxy_nginx-proxy pod is missing?

https://kubespray.io/#/docs/nodes?id=_3-restart-kube-systemnginx-proxy

[2020-07-03 04:54] pytimer commented on #2208
Thanks @neolit123

This way can't work for me, because my cluster maybe remove a control plane node  and join new control plane node, but the `ClusterConfiguration`  no this new external ip, so certSans have no this external ip, only have internal ip.

I use `cfssl` create certificate before, it not support `10.10.*.*`, it support dns domain. So i will try this way via kubeadm.
If this way works,

[2020-07-03 07:18] rdxmb commented on #2186
yes, I got it. Just put the `kubelet-client-current.pem` to my monitoring and removed the others from the monitoring. I guess they are obsolete.

The link in kubelet.conf is added since the changelog described that ;)

Thanks again.

[2020-07-03 07:31] ranasheel2000 commented on #2205
@timyl Kindly share your "ip -6 r" output as well on master and worker node.

[2020-07-03 07:39] andy-wolf168 commented on #2209
I went to see  APIServer's log，it shows kube-controller-manager get node object before kubeadm's PATCH
[code]
controller_manager log
[code]

[2020-07-03 12:03] #2202 closed

[2020-07-03 13:23] neolit123 commented on #2208
well, before joining a new CP node, you can patch the ClusterConfiguration to make sure it fits the needs of this particular CP node. you can then restore the ClusterConfiguration to what i was.

If this way works, it can solve some of my problems. but if support set certificate sans when join, it maybe adapt to many case, because i am not sure about the situation of network in different user envi

[2020-07-03 13:47] neolit123 commented on #2209
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.6",

i realized this is an unsupported version of k8s / kubeadm.

can you reproduce the same problem with 1.16? if not we may have to close this ticket as we follow a support skew policy.
also 1.16 will be out-of-support with the release of 1.19 in August, so you have to upgrade to 1.17 soon.

[2020-07-03 13:49] neolit123 commented on #1681
yes, unless the component start exposing a conversion path for their managed ComponentConfig API / types.

[2020-07-04 00:05] timyl commented on #2205
@ranasheel2000
**show from worker-node where pod is running**
[root@k8s-worker-01 ~]# ip -6 r
unreachable ::/96 dev lo metric 1024 error -113 pref medium
unreachable ::ffff:0.0.0.0/96 dev lo metric 1024 error -113 pref medium
unreachable 2002:a00::/24 dev lo metric 1024 error -113 pref medium
unreachable 2002:7f00::/24 dev lo metric 1024 error -113 pref medium
unreachable 2002:a9fe::/32 dev lo met

[2020-07-04 02:10] neolit123 commented on #2205
hi, this doesn't feel like a kubeadm issue, so i'm going to close it but please continue the discussion or open a new one in the kubernetes/kubernetes repository and tag it with `/sig network`

/sig network
/close

[2020-07-04 02:10] #2205 closed

[2020-07-04 02:13] neolit123 commented on #2205
/triage support

[2020-07-04 10:55] msadofschi opened #2212 "Not able to upgrade from 1.16.3 to 1.17.7 on CoreOS/FedoraCoreOS"
## What keywords did you search in kubeadm issues before filing this one?

upgrade 1.17 coreos FedoraCoreOS

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

`kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.3", GitCommit:"b3cbbae08ec52a7fc73d334838e18d17e8512749", GitTreeState:"clean", BuildDate:"2019-11-13T

[2020-07-04 19:25] suryachaganti9 opened #2213 "podSubnet: Invalid value: "192.168.0.0./16": couldn't parse subnet"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.
Yes , I did not find any relevant answer for my issue .
If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

individual keywords for this error string "podSubnet: Invalid v

[2020-07-04 19:36] suryachaganti9 commented on #2213
its syntax error and able to correct and complete

[2020-07-04 19:36] #2213 closed

[2020-07-05 11:02] ranasheel2000 commented on #2205
Thank you for sharing details.

I am a bit curious about blackhole route with "error -22" in "ip -6 r s".

[IPVS/dualStack follow up issue](https://github.com/kubernetes/kubernetes/issues/92412).

[2020-07-05 12:07] geetrawat opened #2214 "--config"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-07-06 03:31] ethernoy commented on #2035
I reproduced this using a single node k8s (one node serves as both control plane and worker) when upgrading from v1.15.0 to v1.16.12. I applied the following command to apply upgrade:

`apt-get update && \`
`apt-get install -y --allow-change-held-packages kubeadm=1.16.12-00`
`kubeadm upgrade plan`
`kubectl drain test-node --ignore-daemonsets --delete-local-data`
`kubeadm upgrade apply v1.16.12`

A

[2020-07-06 04:27] RA489 commented on #2207
+1. Thanks.

[2020-07-06 06:42] RA489 commented on #2195
I would like to propose CPU request for the pod to atleast 200m and memory to 100Mi.
@neolit123 wdyt?

[2020-07-06 06:45] jotrobin commented on #1031
Draining nodes and then kubeadm reset and init doesn't help. The cluster is not initialized afterward.

[2020-07-06 08:28] fabriziopandini commented on #2214
/close
this seems an incomplete report :-(

[2020-07-06 08:28] #2214 closed

[2020-07-06 14:07] ranasheel2000 commented on #2205
I know this bug is closed but still sharing information in case someone else face this issue and search in kubeadm for it.

Dear @timyl,
Please update kernel version, it will work fine.
Checked on our end, its good to go with IPV6 dual stack with IPVS after updating kernel version.
All thanks to [uablrek](https://github.com/uablrek).

[2020-07-06 15:06] neolit123 commented on #2195
for CPU 200m seems OK, but for memory and storage i think we should leave it to the user to customize.

[2020-07-06 15:16] neolit123 commented on #2212
hello,

i recall issues in this issue tracker were users report the same problem.

we decided that kubeadm should not be in the business of tracking the underlying OS. /usr is the default value in the controller-manager too as can be seen here:
`--flex-volume-plugin-dir string     Default: "/usr/libexec/kubernetes/kubelet-plugins/volume/exec/"`

https://kubernetes.io/docs/reference/command-line-to

[2020-07-06 15:16] #2212 closed

[2020-07-06 15:19] neolit123 commented on #2210
this doesn't feel like a kubeadm bug, per se.
please continue the discussion if needed.

thanks
/close

[2020-07-06 15:19] #2210 closed

[2020-07-06 16:27] bboreham commented on #2195
Fine that the user can change the setting, but it's sensible to start with some non-zero value.

I would go with 100Mi memory and 100Mi disk.
20% of a CPU seems a lot - in a couple of active clusters I own, etcd CPU is around 3%.  But it will vary with what you do.
Say 100m cpu?

[2020-07-06 18:34] jseguillon commented on #1698
Would love this operator with this Story :
As a Kubernetes Operator, I can declare new hosts where kubeadm is applied

Background :
With ssh access, create kubeadm templates, get tokens and run joins

[2020-07-06 18:57] fabriziopandini commented on #1698
@jseguillon
IMO bootstrapping a new node is out of scope of the kubeadm operator.
Also, I strongly believe that kubeadm is and should be a low-level tool that can be used by Cluster API or by other tools, not a Cluster API implementation

[2020-07-06 19:00] neolit123 commented on #2195
one option is to gather more comments either from a SIG mailing list discussion and / or during the next SIG CL meeting.
(given other projects, consume kubeadm too).

@kubernetes/sig-cluster-lifecycle

[2020-07-06 19:55] neolit123 commented on #2209
any updates on this @andy-wolf168 ?

also what are the contents of your `--config=./kubeadm_config.yml`?

[2020-07-07 01:54] pytimer commented on #2208
@neolit123 I use kubeadm like below configuration, it init failed.

[code]

The error log shows certSANs can not support `10.33.*.*`, so this way not works for me.

[code]

[2020-07-07 02:00] neolit123 commented on #2208
looks like we didn't support wildcards for IPs only DNS names.

also as i've mentioned you have these options:

you can pass a custom ClusterConfiguration to the above command, but remember that you have to use the same CA.

[2020-07-07 03:25] pytimer commented on #2208
you can pass a custom ClusterConfiguration to the above command, but remember that you have to use the same CA.

This way works, but if we use `upload-certs` when init, and don't copy CA to other control plane node before join, the `kubeadm init phase certs` have no effect. I use ansible+kubeadm to deploy Kubernetes cluster, the workflow will be easily if kubeadm support extra certSans when join,

[2020-07-07 03:56] neolit123 commented on #2208
do you mean forking kubeadm to add this option?

[2020-07-07 05:53] pytimer commented on #2208
Because the cluster maybe add new control plane node after cluster created. This node information can not be determined when creating the cluster.

Yeah, i want to try it. If kubeadm support, i don't need to do more things with other tools.

[2020-07-07 12:50] neolit123 commented on #2208
i must admit that overall this is a rather strange use case.

could you explain why do you actually need to include extra SANs on joining nodes. the api-server certificate includes localhost and the address  or DNS name of the load-balancer automatically.

are you not using a load-balancer?

why do you need to include more IPs in the certificate?
https://github.com/kubernetes/kubeadm/issues/2208#i

[2020-07-07 14:55] neolit123 opened #2216 "deprecate and remove the experimental DynamicKubeletConfiguration support"
deprecate and remove the DynamicKubeletConfiguration support in kubeadm.
as noted in a recent SIG Arch meeting the feature did not end up as planned and it is not clear if it will ever graduate to GA (currently the FeatureGate is beta).

currently kubeadm no longer exposes the feature gate, but rather it allows pinning with an extra command:
https://github.com/kubernetes/kubernetes/blob/master/cmd

[2020-07-07 14:56] neolit123 commented on #2216
/assign
/kind deprecation
/priority important-longterm
/milestone v1.19

[2020-07-07 16:48] fabriziopandini commented on #2208
to echo what @neolit123 what will happen when different APIServer support different SANS?

[2020-07-08 06:33] pytimer commented on #2208
My nodes have two network interface, one of network interface have internal ip before create cluster, but another network interface allocate external ip after cluster created. A monitor system running outside the k8s cluster, and it will access every control plane to fetch kube-apiserver metrics via external ip, but the certificates sans only have internal ip, not external ip, so connection failed

[2020-07-08 10:08] andy-wolf168 commented on #2209
thanks for taking the time to respond @neolit123
I compared the master code of kubeadm with the code of version 1.15.6. There is no difference between the two for the add taint process. In my opinion, the problem described above will also occur in the latest version, that is, concurrent addition of tainted operations causes taint coverage.

[root@node40]# cat kubeadm_config.yml
apiVersion: kubeadm

[2020-07-08 10:33] Anushamobis commented on #733
sudo kubeadm init --ignore-preflight-errors=all
 worked for me

[2020-07-08 13:39] fabriziopandini commented on #2208
Thanks for the explanation
Currently, kubeadm does not support node-specific info (sans in this case), and to implement such a change - considering all the implications for upgrades -, IMO it is required a KEP.
Have you considered to add the second IP to the global list of SANS before joining a new node?

[2020-07-08 13:59] pytimer commented on #2208
Did you mean that patch the ClusterConfiguration before join node?

[2020-07-08 14:07] neolit123 commented on #2209
thank you for the kubeadm config, it looks fine.

kubeadm source code is not the only code that can affect this. so please try a newer version of k8s + kubeadm.
as i mentioned, we are not seeing this in CI and **all of our e2e test jobs** run a test for the existence of the master taint:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm

i have not seen other user reports about this a

[2020-07-08 14:28] neolit123 commented on #2208
is it not possible to know all the node IPs in advance from ansible?

[2020-07-08 15:06] pytimer commented on #2208
Ansible can get all the node IPs, but when join a new node, the external ip of new node not in the  ClusterConfiguration.

[2020-07-08 15:46] neolit123 commented on #2208
ok, my conclusion here is that this can be partially considered a limitation of the Ansible setup.
this is a common problem encountered in the wild -> "how do i include all my IPs in the certificate SANs"

you might also have the option to use DNS name wildcards and map your IPs to DNS names. this will allow you to not have to include all the certs SANs for all your IPs.

as Fabrizio explained - t