[2018-10-11 15:12] craigtracey commented on #1154
This behavior is currently breaking a number of downstream config management tools. I haven't determined exactly how yet, but will update this issue when I have more details.

[2018-10-11 15:15] dims commented on #1154
cc @randomvariable

[2018-10-11 15:38] timothysc commented on #1156
/cc @rdodev  - regarding cli-arg issue(s).

[2018-10-11 15:42] timothysc commented on #1163
This looks good, but I think we might want to change some of the names, and obviously move selfhosting into it's own space.

[2018-10-11 16:41] timothysc commented on #1040
/assign @rdodev @timothysc
/unassign @liztio

[2018-10-11 16:51] timothysc commented on #614
Closing this issue in favor of the 1/2 dozen others around promoting phases and current ongoing efforts.

[2018-10-11 16:51] #614 closed

[2018-10-11 16:59] #635 closed

[2018-10-11 17:07] timothysc commented on #664
/assign @rdodev

could you verify that this still exists for 1.12 and assign 1.13 milestone if you can repro given all our shuffling

/king bug

[2018-10-11 17:13] timothysc commented on #689
/assign @timothysc @liztio @rosti
/cc @rdodev @neolit123

[2018-10-11 17:15] timothysc commented on #701
@kad do you plan to address in 1.13?

[2018-10-11 17:17] timothysc commented on #772
I'm going to close this issue due to staleness.  Basically walking our documentation now has become the manual test plan.  Ideally, as we formalize tests we get them added to the kubeadm.test utilities.

[2018-10-11 17:17] #772 closed

[2018-10-11 17:18] timothysc commented on #776
I'm going to close this issue for 1.13 b/c we are addressing this via our promotion of phases to init.

This will allow folks to skip specific phases.
/cc @fabriziopandini

[2018-10-11 17:18] #776 closed

[2018-10-11 17:22] timothysc commented on #808
/cc @fabriziopandini

[2018-10-11 17:57] chrisohaver commented on #1162
FWIW (late to conversation, commenting on a closed issue), In CoreDNS this error is expected when a loop is detected... and the behavior is, as designed, to exit when this happens.  K8s detects this as a "crash".

[code]

CoreDNS cannot automatically resolve a badly configured environment.  So, the issue lies with whatever/whomever is responsible for configuring things.

[2018-10-11 18:06] #1166 closed

[2018-10-11 18:29] timothysc commented on #839
@rosti - keep this open, or close?

[2018-10-11 18:29] timothysc commented on #817
@caseydavenport any insight?

[2018-10-11 18:30] timothysc commented on #854
closing this in favor for tracking in #839

[2018-10-11 18:34] bowei commented on #817
cc: @Lion-Wei

[2018-10-11 18:35] timothysc commented on #874
@neolit123 @kad  - any update on this one ?
If @rosti is updating the CRI detection we should address this as well for 1.13.
Thoughts?

[2018-10-11 18:39] timothysc commented on #939
@neolit123 - close now?

[2018-10-11 18:44] timothysc commented on #952
/assign @liztio

It really seems the cert + token tests are indeed slow.

[2018-10-11 18:46] timothysc commented on #964
/assign @fabriziopandini

for cross coverage on token shuffling config work.

[2018-10-11 18:48] timothysc commented on #967
/assign @timothysc

[2018-10-11 19:01] timothysc commented on #968
@rdodev  this is still all manual and we should help make this automated now.

[2018-10-11 19:27] timothysc commented on #991
/assign @stealthybox

Is this still an issue?

[2018-10-11 19:29] timothysc commented on #1003
/assign @timothysc

[2018-10-11 19:30] timothysc commented on #1006
closing in preference for kubespray integration which is currently ongoing.

[2018-10-11 19:30] #1006 closed

[2018-10-11 19:31] timothysc commented on #997
/assign @timothysc

[2018-10-11 19:33] timothysc commented on #1027
/cc @kubernetes/sig-scheduling-bugs

[2018-10-11 19:35] timothysc commented on #1047
I'm going to close this issue and if folks want to please open an issue in the main repo.

[2018-10-11 19:35] #1047 closed

[2018-10-11 19:39] timothysc commented on #1050
For stuff like this, please just submit PRs and they will be routed and auto-assigned.

[2018-10-11 19:39] #1050 closed

[2018-10-11 19:42] timothysc commented on #1054
/assign @timothysc
/cc @rdodev

[2018-10-11 19:57] timothysc commented on #1056
There were a number of conflating issues on coreDNS that have since been resolved.  Given the overloaded set of issues I'm going to close this one.

If there are specific repro's on 1.12+ feel free to open and we'll address ASAP.

[2018-10-11 19:57] #1056 closed

[2018-10-11 19:58] timothysc commented on #1061
@stealthybox - done.

[2018-10-11 21:20] caseydavenport commented on #817
IPVS kube-proxy went GA in v1.11 - https://github.com/kubernetes/features/issues/265

However, there seem to be a few issues open affecting IPVS mode re: the version of iptables/ipset shipped in the kube-proxy container image that might inhibit its adoption in kubeadm, that we'll need to sort out first.

- https://github.com/kubernetes/kubernetes/issues/68974
- https://github.com/kubernetes/kubern

[2018-10-11 21:41] neolit123 commented on #1003
i need to revisit that PR:
https://github.com/kubernetes/kubernetes/pull/66798

there is one use case that cannot be solved because image repository is part of cluster configuration.
so we might have to compromise.

[2018-10-11 21:46] bart0sh commented on #589
I'm ok with it.

[2018-10-11 22:02] neolit123 commented on #874
AFAIK, it's not possible to detect a cgroup driver using crictl, yet.

for docker we probe the output of the CLI. other CRIs don't allow that TMK and we need to parse configs.

ideally this should be in the kubelet:
https://github.com/filbranden/kubernetes-community/blob/009f067c6bc106d062a416d0a1537de5ffa8c023/contributors/design-proposals/node/cgroup-driver-kubelet-and-runtime.md

cc @Random-Liu

[2018-10-11 22:55] kad commented on #701
Yes, I'll add more checks in 1.13 for corner cases we identified.

[2018-10-12 00:30] bsalamat commented on #1027
I believe this issue happened at the time that kube-proxy (which is a Daemon) was being scheduled by DaemonSet controller. I wonder if the same issue exists now (k8s 1.12+) when Daemons are scheduled by the default scheduler.

[2018-10-12 01:34] Lion-Wei commented on #817
Thanks, @bowei
@caseydavenport , I think both those issue are solved in master, maybe need cherry-pick to 1.11/1.10 to make all version work.
xref:
https://github.com/kubernetes/kubernetes/issues/68974#issuecomment-424315216
https://github.com/kubernetes/kubernetes/issues/68703#issuecomment-426102874
I'll trace those issues to make sure they all completely solved.

[2018-10-12 05:54] m1093782566 commented on #817
@caseydavenport

These issues you mentioned has already been fixed and we only need to cherry-pick the fixes.

[2018-10-12 07:49] AndreaCardamone commented on #998
you solved my problem, thanks a lot|

[2018-10-12 12:53] rosti commented on #839
I'll try to redo the tracking of dependencies some time later in this cycle and see how realistic this is. If it's not we can close it.

[2018-10-12 13:02] bart0sh commented on #983
Can anybody point me to the testing code where crictl tests should be implemented?

[2018-10-12 14:38] NeilW commented on #1027
Same problem
[code]

[2018-10-12 14:50] NeilW commented on #1027
The patch I use to workaround the issue is

[code]

[2018-10-12 15:50] craigtracey commented on #1154
This is listed as a feature request, but I think this should be considered a bug.  The problem here is that the 10-kubeadm.conf drop-in unit file (that comes from installing the `kubeadm` package), makes the assumption that the kubelet will eventually use `/var/lib/kubelet/config.yaml` config file at some point in the future.  If the file does not exist (it doesn't until a `kubeadm` run), the kube

[2018-10-12 16:11] randomvariable commented on #1154
starting a straw person doc here https://docs.google.com/document/d/1VSgzz5yXPsOPPp0ZB_UJkbes0TNtRltuBSo-HezBjJ4/edit#

[2018-10-12 16:19] kad commented on #874
I agree with @neolit123 here. There is no at the moment good way to reliably detect correct driver.
I would probably go the way of parsing `cgroupfs` and trying to guess based on slice names... but that will be just good enough guess and not a 100% solution.

[2018-10-12 17:41] soggiest opened #1168 "Add timeout value to configure how long kubeadm init takes to timeout"
FEATURE REQUEST

Add a KubeADM configuration option or CLI flag that determines how long `kubeadm init` takes to timeout. Cloud-based installations have a chance to fail if the API Server's load balancer takes too long to recognize an instance is listening on the appropriate port. This can potentially be mitigated by modifying the load balancer's health checks however and option to extend the `kub

[2018-10-12 18:48] mauilion commented on #1154
looks like the line that introduces the problem is here:
https://github.com/kubernetes/kubernetes/blob/master/build/debs/postinst#L13

The way things work currently we arguably do not want postinst to restart kubelet. The reload is fine tho.
If postinst restarts kubelet before the config is layed down it leads to a bad ux as described by @craigtracey

[2018-10-12 18:51] randomvariable commented on #1154
And the release version is in https://github.com/kubernetes/release/blob/master/debian/xenial/kubeadm/debian/postinst#L26

[2018-10-13 13:29] neolit123 commented on #1168
i agree with this.

/kind feature
/cc @kubernetes/sig-cluster-lifecycle

[2018-10-13 15:13] fabriziopandini commented on #1168
@timothysc opinions?

[2018-10-14 03:37] stealthybox commented on #1061
@timothysc results submitted :+1:

[2018-10-14 16:00] peterableda opened #1169 "kubeadm reset doesn't clean up custom etcd datadir"
## Versions
**kubeadm version** (use `kubeadm version`):
[root@myk8s ~]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

## What happened?
Tried to init-reset-init which failed with th

[2018-10-14 22:35] neolit123 commented on #1169
thanks @yagonobre

[2018-10-15 11:02] tombotch opened #1170 "kubeadm upgrade fails when hostname != node name"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:43:08Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versi

[2018-10-15 11:44] neolit123 opened #1171 "1.12: missleading errors when passing --config"
**NOTE:** this page needs an update:
https://kubernetes.io/docs/setup/independent/high-availability/

ref: https://github.com/kubernetes/website/issues/10450

users of kubeadm 1.12.x are reporting that they see errors when they do actions like:
[code]
[code]

this is due to the fact that they are passing only ClusterConfiguration and not combining with InitConfiguration:

[code]

/kind bug
/priori

[2018-10-15 11:52] neolit123 commented on #589
ok, let's open a new one.

[2018-10-15 11:52] #589 closed

[2018-10-15 12:14] paolopal commented on #312
To make it persistent it is better to change the sysctl configuration.
For example in Centos 7 you have to change /usr/lib/sysctl.d/00-system.conf file according to:

[code]

[2018-10-15 12:44] dixudx commented on #1168
I'd love to add this. +1.

[2018-10-15 16:56] timothysc commented on #1154
/assign @timothysc @chuckha

[2018-10-15 18:12] mauilion commented on #1081
I am closing this issue. The tooling does what is needed to make this work.

[2018-10-15 18:12] #1081 closed

[2018-10-15 18:18] stealthybox commented on #1061
k8s v1.12.0 passed and merged with the v1.12.1 conformance test suite.
The CNCF has verified the results.

/close

[2018-10-15 18:18] #1061 closed

[2018-10-15 21:02] timothysc commented on #1154
@chuckha - priority invert.  This is p0.

[2018-10-16 11:14] fabriziopandini commented on #1163
@neolit123 could you kindly change this issues into a tracking issue /help-wanted that we can use to assign part of this effort to volunteers...

I think that @ereslibre, @RA489, @Klaven can help on this effort once the PR with the first phase implementation merges; ideally who takes in charge a phase should implement related subphases as well

[2018-10-16 11:17] neolit123 commented on #1163
@fabriziopandini
done.

[2018-10-16 11:18] neolit123 commented on #1163
are we going to discuss the list of phases this wekks kubeadm office hour?. we need a solid list...

[2018-10-16 17:06] timothysc commented on #1168
This has been requested a number of times, but the use case was on the other end of the apectrum.

@fabriziopandini could we roll this into the v1beta1 component(apiserver) migration work?

[2018-10-16 17:07] timothysc commented on #1168
/assign @soggiest
/assign @fabriziopandini
/assign @timothysc

[2018-10-16 19:15] fabriziopandini commented on #1168
@timothysc ok
Just to set expectations: I'm going to propose a generic solution for defining timeouts in the kubeadm config API (not in flags) and use the new settings for making configurable only the timeout above + eventually the same timeout in the kubeadm --join-workflow (not all the timeouts in kubeadm).

[2018-10-16 19:41] fabriziopandini commented on #1171
/unassign
Sorry but I don't have cycles to look into this in the short term + alpha phase are going to be removed

[2018-10-16 19:53] neolit123 commented on #1171
i will see what can be done here in terms of error messages.

[2018-10-16 19:54] jwatte commented on #1162
FWIW, I get this exact same problem trying to create a kube master with kubeadm init on ubuntu 18.04.
If it is, indeed, systemd dns getting in the way, then that still needs some kind of work-around...

[2018-10-16 20:09] bart0sh commented on #1162
@jwatte unfortunately we weren't able to reproduce the problem. If you can show us logs of core-dns pod I'd be happy to go further with this issue.

[2018-10-16 20:44] chrisohaver commented on #1162
@jwatte, Assuming you see the "loop detected" error in the logs, kubeadm should automatically detect the `systemd-resolved` issue, and set kubelet up with the right `resolv.conf` file.  If it's not, you can try one of the manual work-arounds listed in CoreDNS [loop plugin docs](https://github.com/coredns/coredns/tree/master/plugin/loop#troubleshooting).

[2018-10-16 20:49] rdodev commented on #664
Finally getting around this.

/lifecycle active

[2018-10-16 20:59] bart0sh commented on #1162
@jwatte

this is [already done](https://github.com/kubernetes/kubeadm/issues/1162#issuecomment-428159476)

Please, check if it's done in your setup. btw, which kubeadm version do you use?

[2018-10-16 22:38] rdodev commented on #664
@timothysc was unable to replicate in 1.12
[code]

[2018-10-16 22:49] jethrogb commented on #664
@rdodev I reproduced it last week on 1.12. Why do you think kubeadm is actually connecting to `10.0.0.106:6000`?

[2018-10-16 22:59] rdodev commented on #664
@jethrogb firewall rules. In the repro steps you linked they're forcing via iptables.

[2018-10-16 23:05] rdodev commented on #664
@jethrogb
[code]

[2018-10-16 23:16] jethrogb commented on #664
[code]

[2018-10-16 23:17] jethrogb commented on #664
On the master:
[code]

[2018-10-17 00:39] rdodev commented on #664
@jethrogb don't know what to tell you. This is a mint fresh install on fresh infra.

[code]

[2018-10-17 00:43] jethrogb commented on #664
@rdodev That `cluster-info` looks like it was modified from the default. Using it will not reproduce the issue. What was your kubeadm init command?

[2018-10-17 00:53] rdodev commented on #664
`kubeadm init --config kudeadm.yaml`

[code]

[2018-10-17 00:58] jethrogb commented on #664
So you're initializing it with port 6000. That's not going to help reproducing this issue. This issue is about not being able to join with a master at an address/port that's different than what the master was originally configured with.

[2018-10-17 01:04] rdodev commented on #664
@jethrogb what's the use case, please. Why would you want to join a master at a different address/port than what the control plane was brought online with?

[2018-10-17 01:10] jethrogb commented on #664
Here's a couple...

1. Master changed IP address.
2. Used to have single master, but now changed master to be HA. Future joins will want to use LB IP address.
3. Master is behind a NAT, not all nodes use the same IP to connect to the master.

[2018-10-17 01:17] rdodev commented on #664
@jethrogb

In case 1) you need to re-issue the certs no other way around it. Certs are generated for the host name and ip address of the control plane upon init. Can be mitigated by issuing certs to a DNS name on init.

In case 2) the process of going from single-control plane to HA requires you to re-issue all relevant certs (specially to add the LB dns name)

I'm not sure 3) is a supported confi

[2018-10-17 01:32] rdodev commented on #664
@jethrogb first, even if you could connect (somehow), it would fail on certificate mismatch as explained above.

Secondly, it's not really a bug as this isn't a supported use case. AFICT it's not that it was once working and now isn't. It just not a feature that exists and is broken.

[2018-10-17 01:42] rdodev commented on #664
@timstclair I don't think this item and #598 are the same/dupes. This one (#664) we know it works because that's how we tested HA in 1.11 and 1.12

#598 deserves a look as a feature request.

[2018-10-17 01:47] jwatte commented on #1162
I'm using the current released version of today for everything.
kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:43:08Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}

However, the special thing I do is edit the kubelet start-up commands to use kubenet ins

[2018-10-17 02:33] tallclair commented on #664
@timothysc ^^

[2018-10-17 04:07] jethrogb commented on #664
This has nothing to do with certificates. Even if the certificate presented by the API server at the address that the user specified in `kubeadm join` checks out, `kubeadm join` will then (contrary to its claims on the terminal) connect to a totally different address for the last step of the join procedure.

I'm not sure I understand what you're saying. Are you saying that a tool messaging to the

[2018-10-17 05:06] craigtracey commented on #1154
The issue here centers around the drop-in unit files that kubeadm introduces upon install.  The kubeadm package will add the 10-kubeadm.conf drop-in which includes references to files that do not exist on disk:
[code]
Specifically, these are `config.yaml` and `bootstrap-kubelet.conf`.

The installation of kubeadm not only writes these files, but then restarts the kubelet process.  With these files

[2018-10-17 07:30] fabriziopandini commented on #857
@timothysc
how this new flag can set via kubeadm?

[2018-10-17 08:09] bart0sh commented on #1054
@xiangpengzhao Thanks for the review. done.

[2018-10-17 12:52] rdodev commented on #664
To explain why certificates matter, let's see in the case that the ip of the control plane changes, this happens:

[code]
Same would apply to case 2) if you're going from single control plane to HA. Simply trying to point out those use cases you mentioned above aren't supported by kubeadm w/o re-generating/swizzling certs in the control plane nodes. So the scope here is only to port forwarding.

I

[2018-10-17 12:56] rdodev commented on #1054
Hey @ArchiFleKs (and others in this thread) I want to replicate this as close as possible. Would you folks mind sharing the config and the flags you attempted to change?

[2018-10-17 14:04] ttarczynski commented on #1054
@rdodev I'm hitting this bug when I do the following:
* have a cluster running with configuration from `/etc/kubeadm.yaml`
* then I change only some `kubeletConfiguration` option in `/etc/kubeadm.yaml`
  * so there are no changes in `kubernetesVersion`
  * nor in any cluster configuration
* then I run `kubeadm upgrade apply --config /etc/kubeadm.yaml`
* the **expected result** is:
  * no changes i

[2018-10-17 14:20] bart0sh commented on #1162
I'm usually using Weave Net in my development setup and it works just fine. When I switched to calico to reproduce this bug core-dns pod started crashlooping because of loop detection.  Removing one of name servers from resolv.conf fixed the issue for me.

So, my point is: until we're able to reproduce this and understand how to fix it I don't think we can go further with this. I'm still under imp

[2018-10-17 15:48] neolit123 commented on #1171
i think the bigger question here is why we need InitConfiguration for `phase kubelet write-env-file`

[2018-10-17 16:31] jwatte commented on #1162
My take is that it is somewhere in the "documentation" and "diagnosability" section, which could be solved by kubernetes. When I get this error: Then what? What causes it? What are common problems? What can I do to gain further insight into the causes of this problem? Googling the error message and getting this thread as the main reference shows that that need is not yet solved by the kubernetes o

[2018-10-17 17:15] neolit123 commented on #1163
now that we have the list of phases i will update this tracking issue tomorrow.

[2018-10-17 18:13] craigtracey commented on #1154
Both kubespray in kubeadm mode and wardroom will fail on this bug.  I do not have current reproductions, but this is easily obtained by running either of these tools and indicating a version >= 1.11.

[2018-10-17 18:44] andrewsykim commented on #526
@timothysc sorry for the late response, was out last week on a company offsite.

We're still executing KEP-0019 and tracking progress of docs from each provider in the [Cloud Provider Tracking Sheet](https://docs.google.com/spreadsheets/d/1zqqh_S8qZBJx6DPTXrjElN1RJXiQGnIymPuVL4PUczo/edit#gid=0) (need to be in kubernetes-sig-cloud-provider mailing list to access). As for consolidating the docs toge

[2018-10-17 19:19] rdodev commented on #1054
@ttarczynski great. Thanks for that. I think we found a different regression because of this :)

[2018-10-17 19:27] rdodev opened #1174 "kubeadm config view (potential regression)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.12.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.12.1
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`): Linux 4.4.0-1069-aws #79-Ubuntu SMP Mon Sep 24 15:01:41 UTC 2018 x8

[2018-10-17 19:52] ulm0 commented on #413
is there a way to pass such settings in kubeadm init file? maybe in `apiServerExtraArgs`? it's a pain to be watching files for patching them, kinda hard to automate.

[2018-10-17 21:53] fntlnz commented on #1170
I hit this today on multiple clusters.
After digging a bit I noted that you need to pass the `kube-apiserver-HOSTNAME` to the `InitConfiguration` of your kubeadm config, reusing the old configuration will not work and doing a `kubeadm config view` seems to be broken in this version as per #1174 .

Here's the configuration I'm using to have this working:
[code]

The code referring to this is here:

[2018-10-17 22:12] rdodev commented on #1174
Interestingly, the data is being retrieved correctly:
[code]
However, it's not being printed. Logic seems to be very straight forward:

https://github.com/kubernetes/kubernetes/blob/bc79dcfd05d97663748d01264829fbbbfb8b62f9/cmd/kubeadm/app/cmd/config.go#L381-L392

[2018-10-17 22:31] joejulian commented on #413
There is not. Perhaps that would be a good feature to add.

Later updates have added even more things to check and the extended timeout my PR provided was no longer sufficient. I've given up on managing the timeout. The solution for me was to use ecdsa certificates.

Additionally the controller services including etcd take up more ram, now, than a Raspberry Pi has so rather than double the number

[2018-10-18 03:18] yagonobre commented on #1169
@neolit123 is it better to get the etcd dataDir from a config flag or from the kubeadm-config configmap?

[2018-10-18 08:06] bart0sh commented on #1162
There were 3 name servers in my resolv.conf. Removing one particular server solved the issue. Removing any other didn't. So, I decided that the loop was somehow created by that server.

[2018-10-18 08:55] bart0sh commented on #1054
@ttarczynski can you try if [this PR](https://github.com/kubernetes/kubernetes/pull/69886) solves the issue for you?

[2018-10-18 09:06] ttarczynski commented on #1054
@bart0sh yes I can try it, but don't know how to get the binary with this patch applied.
Is it something I can get easily done if I've never built kubernetes/kubeadm from source?

[2018-10-18 10:01] neolit123 commented on #1169
@yagonobre
i think for this case we should respect the local config.

[2018-10-18 10:03] neolit123 commented on #1174
@rdodev
for the 1.12 branch we are still using the Init config constant:
https://github.com/kubernetes/kubernetes/blob/release-1.12/cmd/kubeadm/app/cmd/config.go#L374-L385

i will send a PR for the 1.12 branch in a bit.
/lifecycle active

[2018-10-18 11:14] bloodstars commented on #1171
---
kind: InitConfiguration
apiVersion: kubeadm.k8s.io/v1alpha3

worked for me....

[2018-10-18 11:37] rosti commented on #1171
Having only `ClusterConfiguration` should work with `kubeadm init`. Here is the responsible snippet for 1.12.1:
https://github.com/kubernetes/kubernetes/blob/4ed3216f3ec431b140b1d899130a69fc671678f4/cmd/kubeadm/app/util/config/masterconfig.go#L255

Unfortunately, `AnyConfigFileAndDefaultsToInternal` does not handle that and this function is used in several spots in the code (`kubeadm config migrat

[2018-10-18 11:43] rosti commented on #1171
@neolit123 We need `InitConfiguration` or `JoinConfiguration` for `phase kubelet write-env-file`, because we don't have `NodeRegistrationOptions` in `ClusterConfiguration`. See here:
https://github.com/kubernetes/kubernetes/blob/4ed3216f3ec431b140b1d899130a69fc671678f4/cmd/kubeadm/app/cmd/phases/kubelet.go#L152

[2018-10-18 12:30] kvaps commented on #975
Hi, I have the same problem with my `4.15.18-7-pve` kernel.

Modules existing, loaded and working fine:
[code]

even after that I have this warning:
[code]
`kube-proxy` uses iptables mode by default, but if I forcefully set parameter `mode: "ipvs"` in it's configmap it is start using ipvs without any problems.

According [this PR](https://github.com/kubernetes/kubernetes/pull/63850/files) I found

[2018-10-18 13:29] chrisohaver commented on #1162
There is [this](https://coredns.io/plugins/loop/#troubleshooting) ... a recently added section on troubleshooting in loop plugin.  The latest version of CoreDNS points to this in the error message.

[2018-10-18 13:33] chrisohaver commented on #1162
I just noticed that our README.md -> webpage.html conversion process is buggy, so some of the formatting is botched up on the coredns.io version.  The original is here... https://github.com/coredns/coredns/blob/master/plugin/loop/README.md

[2018-10-18 13:55] rdodev commented on #1174
Thanks for getting on this @neolit123

PR looks good.

[2018-10-18 17:40] mattymo opened #1175 "Disabling CoreDNS featuregate does not disable postupgrade task"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Majo

[2018-10-18 19:38] fabriziopandini commented on #1163
@neolit123 thanks for this write-up. It is great starting point
@ereslibre, @RA489, @Klaven time for volunteering!

[2018-10-18 19:50] neolit123 commented on #1163
a couple of requests for volunteers :)
- please, don't mention this issue in commit messages, because it will spam it on commit rebases.
- in PR descriptions use, `Ref #this-issue` instead of `Fixes #this-issue-num`, so that we don't close it on merge.

thanks.

[2018-10-18 20:12] ChiefAlexander opened #1176 "During Kubelet startup on node reboot, docker cri networking is used"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `v1.11.3`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `1.11.3`
- **Cloud provider or hardware configuration**: `Openstack`
- **OS** (e.g. from /etc/os-release): `OEL 7.5`
- **Kernel** (e.g. `uname -a`): `3.10.0-862.14.4.el7.x86_64 #1 SMP Tue Sep 25

[2018-10-18 20:36] chuckha opened #1177 "Refactor directory fetching code"
FEATURE REQUEST
There are several places in the code where we need to get a directory to write files to. In some cases we use a dry-run env to indicate if we should create a temp directory or if we should return the real thing.

For example (not limited to these):

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/init.go#L329
https://github.com/kubernetes/kubernetes/blob/ma

[2018-10-18 22:51] nkinkade opened #1178 "Bad reference to controlManagerExtraArgs in v1alpha3 documentation"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

/kind documentation

## Versions

**kubeadm version** (use `kubeadm version`): N/A

**Environment**:
- **Kubernetes version** (use `kubectl version`): N/A
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Others**: N/A

## What happened?

The [documentation f

[2018-10-18 22:57] neolit123 commented on #1178
@nkinkade thanks good catch...
if anyone wants to fix this it would be a matter of modifying the mentioned locations:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta1/doc.go#L205
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha3/doc.go#L213

but we also have the typo in the release-1.12 branch:
https://github.com/kub

[2018-10-19 01:43] yuexiao-wang commented on #1178
I would like to fix it.
/assign

[2018-10-19 01:45] yuexiao-wang commented on #1178
@neolit123  please assign it to me. thanks

[2018-10-19 08:52] neolit123 commented on #1178
@yuexiao-wang
sure, noted. just send the PRs when you are ready and reference this issue.
thanks.

/lifecycle active

[2018-10-19 10:34] neolit123 commented on #1170
hi @yagonobre

https://github.com/kubernetes/kubernetes/issues/61664
the --hostname-override flag for the kubelet is going away eventually so we don't want look it up in /var/lib/kubelet/kubeadm-flags.env and don't want to bind more logic to that file.

1) one way to do this, is to query the kubelet.conf file in "etc/kubernetes" which is a Config type and from there look at the users and contexts.

[2018-10-19 10:38] MohanNagendraKumar opened #1179 "i am unable to get all my pods in running state"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-10-19 10:41] MohanNagendraKumar commented on #1179
[root@cssosbe03-b02-master ~]# kubectl get pod --all-namespaces
NAMESPACE     NAME                                           READY   STATUS              RESTARTS   AGE
kube-system   coredns-576cbf47c7-562c9                       0/1     ContainerCreating   0          3d5h
kube-system   coredns-576cbf47c7-g659k                       0/1     ContainerCreating   0          3d5h
kube-system   etcd-css

[2018-10-19 10:46] neolit123 commented on #1179
try weave instead of flannel as CNI plugin.
also please provide more details about your setup - k8s version, OS, architecture etc.
thanks.

/priority awaiting-more-evidence

[2018-10-19 10:55] MohanNagendraKumar commented on #1179
[root@cssosbe03-b02-master ~]# cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT="

[2018-10-19 11:02] MohanNagendraKumar commented on #1179
Environment(kubectl version)
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:46:06Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4"

[2018-10-19 11:07] neolit123 commented on #1179
what is your command line to install the flannel CNI?

also please try weavenet as already mentioned.
thanks.

[2018-10-19 11:11] MohanNagendraKumar commented on #1179
kubectl apply -f
 https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

[2018-10-19 12:39] neolit123 commented on #1179
what is the state of your pods after using:
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml

[code]

also some questions:
- in the case of flannel did you pass -pod-network-cidr=10.244.0.0/16 to kubeadm?
- did you try weavenet.

[2018-10-19 12:43] MohanNagendraKumar commented on #1179
after using
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml

kube-system   coredns-576cbf47c7-7sxxp                       0/1     ContainerCreating   0          17m
kube-system   coredns-576cbf47c7-jgbxt                       0/1     ContainerCreating   0          17m
kube-system   etcd-cssosbe03-b02-master

[2018-10-19 12:46] neolit123 commented on #1179
i'm going to ask you again to try weavenet instead of flannel....

[2018-10-19 12:47] MohanNagendraKumar commented on #1179
kk i will go with weave network

[2018-10-19 14:06] neolit123 commented on #1163
@fabriziopandini
btw i'm not exactly sure how we can sync the work here, unless phases are implemented in the presented order. the code in runInit() would still have to be present and we have to hold PRs that implement say mark-control-plane in the new fashion. otherwise we are going to break master.

[2018-10-19 14:34] fabriziopandini commented on #1163
@neolit123 I'm confident we can sync via slack/this issue

BTW, I'm taking phase kubelet-start

[2018-10-19 15:40] bart0sh commented on #1054
@ArchiFleKs

This should be fixed by [this PR](
https://github.com/kubernetes/kubernetes/pull/70027)

[2018-10-19 20:11] jimangel commented on #439
If anyone comes across this post, looks like the link changed: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#running-kubeadm-without-an-internet-connection

[2018-10-19 21:52] #1054 closed

[2018-10-20 06:08] yuexiao-wang commented on #1178
The typo of master is merged and the release-1.12 is updated.

[2018-10-20 07:15] fabriziopandini commented on #1178
/close

[2018-10-20 07:15] #1178 closed

[2018-10-20 09:47] bart0sh commented on #1052
@neolit123, @timothysc what do you think about using something like this: https://github.com/pbnjay/memory to get total memory?

According to this issue https://github.com/golang/go/issues/21816 this kind of API doesn't have a lot of chances to go to standard library, so we probably should come up with something similar to above package.

After all we need just a several lines of code for windows

[2018-10-20 12:05] bart0sh commented on #1052
Implemented check for number of CPUs on master, please review: https://github.com/kubernetes/kubernetes/pull/70048

[2018-10-20 12:07] bart0sh commented on #1052
@neolit123 as vendoring can be a problem can we just write our own similar code?

[2018-10-20 18:14] bart0sh commented on #975
Please, review my attempt to fix this issue: using 'modinfo <module>' to check if required module is installed.

[2018-10-20 18:34] roufique7 opened #1180 "rtacloud kubernete"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-10-21 12:30] bart0sh commented on #1175
@mattymo kubeadm skips applying CoreDNS add-on if it's run with --feature-gates=CoreDNS=false. It applies kube-dns add-on instead. In your case it fails, but it's not related to CoreDNS as far as I can see.

P.S. I wasn't able to reproduce this issue with the latest kubeadm from master.
[code]

Can you  explain how did you generate /etc/kubernetes/kubeadm-config.v1alpha3.yaml?
I've generated my co

[2018-10-21 12:58] bart0sh commented on #1175
/priority awaiting-more-evidence

[2018-10-21 14:12] neolit123 commented on #1180
please fill the issue template and re-open if needed.

[2018-10-21 14:12] #1180 closed

[2018-10-21 21:00] ulm0 commented on #1152
@neolit123 quick question is it possible to pass `kubeletExtraArgs` as well? should they also be part of `ClusterConfiguration` or `KubeletConfiguration`? I'm trying to pass

[code]

within the `KubeletConfiguration` but it doesn't make any effect on kubelet.

[2018-10-21 21:27] neolit123 commented on #1152
we have a full example here @ulm0
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

search for `kubeletExtraArgs`.
both the init and join configuration have a sub object called NodeRegistrationOptions.

try passing at least --v=1 to `kubeadm init` and look for the string `feature gates: `.... showing the list of enabled gates.

[2018-10-22 05:33] ivan4th commented on #581
@danroliver Thanks! Just tried it on an old single-node cluster, so did steps up to 7. It worked.

[2018-10-22 05:34] ivan4th commented on #581
@danroliver Thanks! Just tried it on an old single-node cluster, so did steps up to 7. It worked.

[2018-10-22 11:38] ArchiFleKs opened #1181 "etcdserver: read-only range request took too long with etcd 3.2.24"
## What keywords did you search in kubeadm issues before filing this one?

ETCD

## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.12.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v.1.12.1
- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release): Coreos 1855.4.0
- **Kernel** (e.g. `uname -a`): `Linux ip-10-0-3-11.eu-

[2018-10-22 11:51] fabriziopandini commented on #1163
taking kubeconfig

[2018-10-22 12:03] neolit123 commented on #1181
@ArchiFleKs
this seems like a issue for the kuberenetes / kuberenetes repo.

please create an issue there and type `/sig api-machinery` and `/kind bug`.
possibly also notify about this in the #sig-api-machinery slack channel.

thanks.
/close

[2018-10-22 12:04] #1181 closed

[2018-10-22 12:36] neolit123 commented on #1163
taking control-plane but really want the PR that removes placeholder docs merged...

[2018-10-22 18:19] #1136 closed

[2018-10-22 20:14] dmellstrom commented on #581
@danroliver Worked for me. Thank you.

[2018-10-22 20:45] jek-a opened #1182 "'kubeadm init --config <file>' does not apply 'mode: "ipvs"'"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
[code]
creates configmap for 'kube-proxy' with **mode: " "** instead of **mode: "ipvs"** when you in

[2018-10-22 21:06] neolit123 commented on #1182
[code]

^this looks to me like the old config.
are you using v1alpha3 in 1.12.x?
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

[2018-10-22 21:28] jek-a commented on #1182
I copied this example from https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/ipvs only for bug report.
Here is my actual config file snippet (partial):
[code]
Unfortunately I cannot pull config file from k8s, because of this bug:
https://github.com/kubernetes/kubeadm/issues/1174

[2018-10-22 21:35] jek-a commented on #1182
@neolit123 Thank you for the docs. Let me try KubeProxyConfiguration instead of kubeProxy.
I was not able to see what changed in config (v1alpha3), because of the bug above.

[2018-10-22 23:03] jek-a commented on #1182
@neolit123 Thank you again! The Go docs is super helpful! Will use it to re-write k8s config file. It works as expected:
[code]
The kube-proxy log:
[code]

[2018-10-22 23:03] #1182 closed

[2018-10-23 03:49] islinwb commented on #975
@kvaps
https://github.com/kubernetes/kubernetes/pull/63850 fixes https://github.com/kubernetes/kubernetes/issues/63801. This check is just an `OR` operation. Where the modules are placed varies on operation systems and releases. I suggest you to read the code.

The `kube-proxy` works fine on this check.

[2018-10-23 07:36] kvaps commented on #975
@islinwb, seems there is same problem, it's checking modules only inside `modules.builtin` file, and this check is not working in my case .

[2018-10-23 08:07] fabriziopandini opened #1183 "Switch to github.com/pkg/errors"
Currently kubeadm code base uses `fmt.Errorf` both for wrapping errors and for creating new errors, but there is a general consensus on moving toward `github.com/pkg/errors`

e.g.
[code]

@timothysc @rosti @neolit123 @chuckha @detiber @liztio
If there is consensus, this is a good issue for new contributors that can do this package by packages (or grouping packages)

[2018-10-23 08:12] stewart-yu commented on #975
@kvaps
run
[code]
in your machine have a try?

[2018-10-23 08:19] bart0sh commented on #975
@kvaps, Can anybody check if [this PR](https://github.com/kubernetes/kubernetes/pull/70051) fixes the issue?

[2018-10-23 08:19] kvaps commented on #975
@stewart-yu , sure

[code]

[2018-10-23 08:29] kvaps commented on #975
It's not missing:
[code]

[2018-10-23 08:31] kvaps commented on #975
I'm working on that

[2018-10-23 08:32] islinwb commented on #975
What happened is clear:
1. `kubeadm` first checks the _loaded_ modules;
	and if ipvs modules are not all loaded, it will check the builtin modules;
2. `kube-proxy` checks builtin modules;
	and also loads modules, then check if they are loaded.

The kubeadm doesn't automatically load these modules.
If you load these modules manually, then the `kubeadm` check should pass.

[2018-10-23 08:33] stewart-yu commented on #975
From your waring describe in https://github.com/kubernetes/kubeadm/issues/975#issuecomment-430990149,  all kernel module missing (the second line)
[code]
But you install all `kernel module` first, so strange

[2018-10-23 08:34] stewart-yu commented on #975
sorry, my default

[2018-10-23 08:39] bart0sh commented on #975
Here is my take on it:
Current code of RequiredIPVSKernelModulesAvailable check doesn't check if modules are installed. It only checks if they're loaded or builtin. This confuses users as even if modules are not loaded and not builtin kube-proxy can load them if they are installed. The check forces users to manually load modules, which is not needed as kube-proxy can do it.

[2018-10-23 08:43] stewart-yu commented on #975
yes, you are right :+1:

[2018-10-23 08:55] kvaps commented on #975
My bad, I was loading modules as
[code]
this is wrong, because in this case `modprobe` reads only first argument, and return no errors. This behavior is different unlike `rmmod` which removes all modules from it's arguments.

If I do:
[code]
all modules are loaded fine, and there is no warning from kubeadm, but after join kube-proxy, still not uses ipvs by default:

[code]

my kube-proxy config re

[2018-10-23 08:59] m1093782566 commented on #975
@kvaps

Seems you got the key :)

Please keep in mind that ipvs mode is still not the default although it's already GA. So, you should specify the "ipvs" mode in your kube-proxy config file.

[2018-10-23 10:04] kvaps commented on #975
@bart0sh I've tried your patch, it's working fine for me, no warning in kubeadm even if modules unloaded in my system. Cheers!

[2018-10-23 10:43] davidcomeyne commented on #581
Did not work for me, had to set up a new cluster. But glad it helped others!

[2018-10-23 12:03] yuexiao-wang commented on #1183
If there is consensus on this issue , I would like to work on it
I prefer to use errors.Wrap() and errors.New()

[2018-10-23 12:06] neolit123 commented on #1183
@yuexiao-wang hi, we should use errors.Wrap() and errors.New().

thanks a lot for the help.
/lifecycle active

[2018-10-23 12:10] yuexiao-wang commented on #1183
@neolit123  thanks, i am ready to go

[2018-10-23 13:49] veyselsahin commented on #287
Thank you!

[2018-10-23 15:51] neolit123 commented on #1163
taking etcd

[2018-10-23 19:32] chuckha commented on #1154
@craigtracey I'm unable to reproduce this failure. I used a fork of ansible (https://github.com/kubernetes-incubator/kubespray/pull/3486) to fix a recent issue that cropped up, but after that 1.12.1 came up no problems.

Do you have any steps to reproduce the cluster create issue?

[2018-10-23 20:12] padlar commented on #1177
@chuckha i think i have a patch for this, can i create PR for this?

[2018-10-23 20:39] kumarganesh2814 commented on #1179
Hi,
I had similar Issue got it resolved by using weave network. Also one thing to keep in mind dont join the nodes untill coredns pods comes up. i.e. After Cluster creation immediately create network add on such weave.
Best Regards
Ganesh Kumar

[2018-10-23 20:43] neolit123 commented on #1179
@kumarganesh2814 thanks for letting us know!
@MohanNagendraKumar did you resolve your issue?

[2018-10-24 01:41] timothysc commented on #1158
@vincepri here is a good first issue.

[2018-10-24 06:55] daixiang0 opened #1184 "--cluster-dns do check invalid network"
when i do below config:
[code]
The kube-dns auto change to
[code]
While i still use 10.53.0.* to config the clusterIP for my service.

Obviously, it can not intercommunicate.

The kube-dns can auto change to valid network is a great feather, but it do not make any warning which make me spend too much time debug why my service do not work.

Maybe check and add a waning here is better.

[code]

[2018-10-24 15:56] yagonobre commented on #1176
I guess that it's not a kubeadm issue, so we can close it.

[2018-10-24 21:14] andrevtg opened #1185 "Calico and podsubnet CIDR docs for kubeadm install need updating"
/kind bug

It seems to me that pod subnets in kubernetes 1.12 must be /24 (and not /16). Subnets are defined by "--pod-network-cidr" argument in kubeadm *OR* by a config file such as below:

[code]

This behaviour also breaks calico setup even if you follow the docs for kubeadm setup.

I had to change CALICO_IPV4POOL_CIDR in "calico.yaml" to "192.168.0.0/24" and things worked fine.

**Environment*

[2018-10-25 13:18] Joerg-L opened #1186 "cluster setup downloads pause image two times"
## Versions
**kubeadm version**: v1.12.1

**Environment**:
- **Kubernetes version** : v1.12.1
- **Cloud provider or hardware configuration**: on-premis, vmware machine
- **OS** :  CentOS Linux release 7.5.1804 (Core)
- **Kernel** : 3.10.0-862.14.4.el7.x86_64
- **Others**:

## What happened?
We are using Artifactory to proxy any external repository (Docker, RPM, etc) because normally our servers ar

[2018-10-25 14:05] neolit123 commented on #1186
@Joerg-L thanks for the report.
first, please migrate to v1alpha3 if you are using 1.12.x  because the older config is no longer supported:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

in the release-1.12 branch of k8s kubeadm is using the image repo from the config:
https://github.com/kubernetes/kubernetes/blob/release-1.12/cmd/kubeadm/app/images/images.go#L65

that

[2018-10-25 14:08] bart0sh commented on #1052
/assign @timothysc

[2018-10-25 14:22] Joerg-L commented on #1186
@neolit123 thanks for the first feedback.
I will change the setting in config right now and come back to you

In the meantime, hiere is the output of the command

k8s.gcr.io/kube-apiserver:v1.12.1
k8s.gcr.io/kube-controller-manager:v1.12.1
k8s.gcr.io/kube-scheduler:v1.12.1
k8s.gcr.io/kube-proxy:v1.12.1
k8s.gcr.io/pause:3.1
k8s.gcr.io/etcd:3.2.24
k8s.gcr.io/coredns:1.2.2

[2018-10-25 14:33] Joerg-L commented on #1186
@neolit123
I have
- reset cofniguration with kubeadm reset
- delete all images with docker rmi imagename
so I'm starting completely fresh.

I have change my config file as follow

kind: ClusterConfiguration
imageRepository: google-containers
apiserver-advertise-address: 172.28.16.82
pod-network-cidr: 10.244.0.0/16
kubernetes-version: v1.12.1

And run kubeadmin init again
`[root@vmkubei02 ~]# kubea

[2018-10-25 14:36] neolit123 commented on #1186
try removing this line and report back.

[2018-10-25 14:44] Joerg-L commented on #1186
I have done this now.
As we see now on docker images

are pulled from external.
As normally the servers will have no internet access, this will not work in future.

With the line

in the config, we see that 6 from 7 images are correctly pulled from Artifactory.
Also as mentiond we see that pause image is also pulled from Artifactory but it's also pulled a second time from k8s.gcr.io

[2018-10-25 14:48] dims commented on #1186
@Joerg-L Do you have logs from kubelet around the time the of the second pull?

[2018-10-25 15:01] Joerg-L commented on #1186
@dims
this is the log from the whole kubeadm init run
[kubelet_log.txt](https://github.com/kubernetes/kubeadm/files/2515519/kubelet_log.txt)

[2018-10-25 15:10] neolit123 commented on #1186
its the kubelet that is pulling this image, not kubeadm.
you should be able to override this from the config. let me create you an example...

[2018-10-25 15:20] timothysc commented on #857
I'm re-opening b/c we will need to update docs and other details on our side.

[2018-10-25 17:30] neolit123 commented on #1186
set the value for pod-infra-container-image and see how that goes.

have a look here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

this example combines cluster and init configs:
[code]

[2018-10-25 20:51] ashwanikhemani commented on #1012
Is anyone working on this? If not, I would like to work on this.

[2018-10-25 20:59] neolit123 commented on #1012
@ashwanikhemani
sure, go ahead!

/lifecycle active

[2018-10-25 21:01] caseydavenport commented on #1185
Something seems wrong here - this value shouldn't be set to a /24 - it's meant to include the entire cluster's pod IP range, and a /24 is typically not large enough.

What makes you say this? I'm not aware of this changing.

[2018-10-26 06:50] joshuarubin commented on #1183
I've started picking off a few packages for this (see kubernetes/kubernetes#70272).

[2018-10-26 09:08] Joerg-L commented on #1186
@neolit123 greate stuff. thank you.

I have change the config file, reset kubeadm and delete all images and now every image in docker is from "google-containers", so no external pull anymore.

Currently my firewall admins are not available but I will retest the setup after the server was disconnected from internet to ensure that the setup can now run offline.

I'm still wondering why a second pull

[2018-10-26 09:36] yuexiao-wang commented on #1183
@joshuarubin You maybe do some repeated work？ I have modify almost packages for this issue.
Please check your PR.

[2018-10-26 11:01] neolit123 commented on #1183
folks please observe if a help-wanted issue has a `/lifecycle active` label, which means that someone is already working on it. e.g. https://github.com/kubernetes/kubeadm/issues/1183#issuecomment-432219437

[2018-10-26 11:52] yuexiao-wang commented on #1163
taking certs/pkiutil

[2018-10-26 11:56] neolit123 commented on #1186
if the flag pod-infra-container-image is left empty, it defaults to k8s.gcr.io/pause:3.1 and the kubelet goes for pulling the image from that location as this  image is mandatory for the kubelet to work.

but you are asking a good question. ideally kubeadm should be pulling all the images that the cluster needs and the kubelet should not be pulling any. one problem is that this cannot be disabled.

[2018-10-26 11:56] #1186 closed

[2018-10-26 17:21] joshuarubin commented on #1183
Ah! Sorry about that! I'm new to the project and wasn't familiar with what `/lifecycle active` meant. Feel free to take any of my work if there's anything you haven't yet done. I'll stand down on this.

[2018-10-26 17:30] yagonobre commented on #1095
Can we configure hpa to coredns deployment?

[2018-10-26 18:11] timothysc commented on #969
This will likely be blocked until the @kubernetes/k8s-infra-team has a hosting plan.

[2018-10-26 18:50] yagonobre opened #1188 "Change FetchConfigFromFileOrCluster parameters to improve cmd upgrade, join and reset tests"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST
## What happened?
`configutil.FetchConfigFromFileOrCluster` and `configutil.loadInitConfigurationFromFile`use the `constants.KubernetesDir`

## What you expected to happen?
Make `KubernetesDir` a parameter in both so we can mock this on upgrade, join ad reset command tests.

[2018-10-26 19:30] timothysc commented on #1078
Closing, this seems like a CIDR-range setup issue, not kubeadm.

[2018-10-26 19:30] #1078 closed

[2018-10-26 19:35] timothysc commented on #808
We've decided against this.
closing.

[2018-10-26 19:35] #808 closed

[2018-10-26 19:41] timothysc commented on #619
I'm a meh on doing hard validation checks, I'm closing this.

If we decide otherwise for a specific reason we can do reopen this or another issue.

[2018-10-26 19:41] #619 closed

[2018-10-26 19:45] #854 closed

[2018-10-26 20:03] timothysc commented on #1092
We are adding a separate timeout to the config in 1.13.
Closing this issue.

[2018-10-26 20:03] #1092 closed

[2018-10-26 20:05] timothysc commented on #1095
I'm going to use this issue to adjust priority, but perhaps there should be a ImageMeta @fabriziopandini ?

[2018-10-26 20:07] timothysc commented on #1103
@detiber - can we close this now?

[2018-10-26 20:09] #1129 closed

[2018-10-26 20:15] #1174 closed

[2018-10-26 20:17] #1179 closed

[2018-10-26 20:19] timothysc commented on #1184
@daixiang0 I'm confused by what you're requesting, this doesn't appear to be a kubeadm issue.

[2018-10-26 20:30] yagonobre commented on #1188
@timothysc I'll work on that

[2018-10-26 20:57] neolit123 commented on #1188
/lifecycle active

[2018-10-27 02:14] daixiang0 commented on #1184
Sorry, since the config named as `10-kubeadm.conf`

[2018-10-27 04:15] qingsenLi commented on #1183
@yuexiao-wang I add other packages in /kubeadm/app/ as follows:
cmd/kubeadm/app/constants
cmd/kubeadm/app/features
cmd/kubeadm/app/preflight

[2018-10-28 01:02] ereslibre commented on #1163
@fabriziopandini @neolit123 Started https://github.com/kubernetes/kubernetes/pull/70331, still in `WIP`, but you can modify the comment linking to this PR, thanks!

[2018-10-28 01:08] yuexiao-wang commented on #1183
ok.
the rest of kubeadm packeages will be appended into my PR https://github.com/kubernetes/kubernetes/pull/70271

[2018-10-28 02:01] kennethredler opened #1189 "kubeadm join for worker should not require identifying a bind address"
BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`): 1.12.1

**Environment**:
- **Kubernetes version** : 1.12.1
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): CentOS 7

## What happened?
When attempting to join a worker node that lacks a default route to an existing cluster by executing the `kubeadm join ...` command output from `ku

[2018-10-28 02:06] kennethredler commented on #1189
/kind bug

[2018-10-28 02:16] yagonobre commented on #1189
@kennethredler are you working on this issue?

[2018-10-28 07:11] fabriziopandini opened #1190 "certs renew all panics"
## Versions

v1.12.0 and master

## What happened?

run `sudo kubeadm alpha phase certs renew all --use-api=false` and then kubeadm panics

/kind bug
/priority critical-urgent
/area ux

[2018-10-28 07:58] kennethredler commented on #1189
@yagonobre I'm not yet able to contribute. Feel free to take this.

[2018-10-28 15:41] yuexiao-wang commented on #1163
@neolit123 my task has done in https://github.com/kubernetes/kubernetes/pull/70336.
where is certs/upgrade which i cannot find?

[2018-10-28 17:20] neolit123 commented on #1163
@yuexiao-wang

will review it next week. thanks.

https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm/app/phases/upgrade

[2018-10-28 20:22] neolit123 opened #1191 "write "Kubernetes" consistently in cmd/kubeadm"
the cmd/kubeadm package contains some spellings of Kubernetes which is either lowercase (kubernetes) or have a typo e.g. ([kuberenets](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/certs/certlist.go#L239)) in messages written to the user.

we need to create a PR to clean these typos and spellings.

[2018-10-28 21:04] joshuarubin commented on #1177
Looks like this should probably be marked as active thanks to @padlar's work?

[2018-10-28 21:18] yagonobre commented on #1191
I'm working on that

[2018-10-28 21:33] neolit123 commented on #1191
thanks
/lifecycle active

[2018-10-28 21:45] yagonobre commented on #1191
I'm also making `KubeConfig`consistently

[2018-10-29 00:52] yuexiao-wang commented on #1163
@neolit123 thanks
taking app/phases/upgrade

[2018-10-29 01:03] yagonobre commented on #1163
I can take `alpha phase certs renew`

[2018-10-29 01:48] yuexiao-wang commented on #1163
taking  printing the join command

[2018-10-29 03:03] yagonobre commented on #1163
`alpha phase certs renew` was done in https://github.com/kubernetes/kubernetes/pull/70333, I can take `bootstrap-token` and `addons`.

[2018-10-29 06:19] xingjinglu commented on #193
Hi, How did you solve the problem? I encounter the same issue too.

[2018-10-29 06:53] EricBatty opened #1192 "Using kubeadm to create kuernetes unauthorized problem"
The following is the console output information
[root@node2 ~]# kubeadm join 192.168.0.112:6443 --token oq9l8k.dxw47f2f1w2lrkix  --discovery-token-ca-cert-hash sha256:b33963fc744e484df6198a88fa5c4a0ecc370ecb3aa07acc31aa43030a5b2465 --ignore-preflight-errors=Swap
[preflight] running pre-flight checks
	[WARNING RequiredIPVSKernelModulesAvailable]: the IPVS proxier will not be used, because the follo

[2018-10-29 10:53] drigz opened #1194 "`kubeadm reset` doesn't disable/remove `kubelet`"
## BUG REPORT

Originally reported at https://github.com/kubernetes/kubernetes/issues/65165 but closed due to inactivity.

## Versions

**kubeadm version**: v1.12.2

**Environment**:
- **Kubernetes version**:  v1.12.2
- **Hardware configuration**:  amd64
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04

## What happened?

`kubeadm reset` stops the `kubelet` service, but doesn't disable or remove

[2018-10-29 11:06] drigz commented on #1194
Hmm, on second thoughts I filed this too soon. I believe the `kubelet` service is created (and possibly enabled) by `apt install kubelet`.

[2018-10-29 11:32] neolit123 commented on #1194
yes, thats true.
kubeadm reset will stop the server but will not uninstall it!

we have plans to make the kubelet to not fail without being started from kubeadm.
cc @chuckha

[2018-10-29 11:32] #1194 closed

[2018-10-29 14:19] sgmiller opened #1196 "Kubeadm fails to add volumeMounts for all volumes"
What happened:
We have an autoscaling group of K8S masters which when coming up use kubeadm init to initialize. The kube-apiserver.yaml manifest intermittently (but quite often) comes up with all the correct volumes defined, but some mounts missing, typically the OS certs and kubernetes/pki directories.  This prevents the apiserver from starting obviously. Hand editing the mounts back in fixes the

[2018-10-29 14:53] yagonobre commented on #1196
How we can reproduce this?

[2018-10-29 14:57] sgmiller commented on #1196
Unfortunately, in my setup, merely setting up a master config and
running kubeadm exhibits the bug something like 70% of the time.  Here
is my config:

apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
kubernetesVersion: v1.11.3
tokenTTL: "0s"
api:
  bindPort: 443
#  advertiseAddress: kube-apiserver.production.int.redacted.com
apiServerCertSANs:
  - kubernetes.production.int.redacted.c

[2018-10-29 14:59] jarrpa opened #1197 "kubeadm return codes not documented"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.5", GitCommit:"5a0a696437ad35c133c0c8493f7e9d22b0f9b81b", GitTreeState:"clean", BuildDate:"2016-10-29T01:38:40Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2018-10-29 15:04] neolit123 commented on #1197
@kubernetes/sig-cluster-lifecycle
opinions if the kubeadm help text should have documentation for the different error codes:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/error.go#L27-L33

?

[2018-10-29 15:12] neolit123 commented on #1192
best to make sure that your kubelet, kubeadm and control plane versions match - e.g. 1.12.

[2018-10-29 15:52] drigz commented on #1194
Thanks! The problem I was worried about (Port-10250 failing) doesn't occur because kubelet immediately fails with `failed to load Kubelet config file`, so this is not a problem for me. Sorry for the noise!

[2018-10-29 20:22] neolit123 commented on #1189
@kennethredler i think a good question here is why is the worker node not having a default route?

digging a bit here, we seem to execute the same logic for both control-plane nodes joining a cluster and regular nodes:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/joinconfiguration.go#L41

we might have to decouple that and also branch out some of the calls in:
h

[2018-10-29 20:43] kennethredler commented on #1189
Defense in depth. Only routing packets explicitly as intended.
Minimum network routing configuration considered most secure.

[2018-10-29 21:16] bart0sh commented on #1163
I can take this: "app/phases/upgrade needs to be moved to generic kubeadm utils (not a phase)"

[2018-10-29 21:30] bart0sh commented on #1163
@yagonobre thanks for pointing it out. won't take it then. I thought it's not assigned:
[code]

[2018-10-29 21:32] neolit123 commented on #1163
sorry, just updated it.

[2018-10-29 21:38] #1169 closed

[2018-10-30 03:38] yagonobre commented on #1163
What is the expected subphases on `bootstrap-token`? I'm taking `upload-config` in the meantime.

[2018-10-30 05:52] hellolijj commented on #1153
I am experiencing the same problem， because the core of cup is less than 2

[2018-10-30 09:39] fovecifer commented on #581
thank you @danroliver .  it works for me
and my kubeadm version is 1.8.5

[2018-10-30 11:17] mlgibbons opened #1198 ""kubeadm init" fails when run offline due to "kubadm config images list" returning an incorrect list of images"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version**
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version**:
Client

[2018-10-30 11:45] RockyFu267 opened #1199 "Can't get kubeadm-config -o jsonpath={.data.MasterConfiguration}"
**What happened**:
when upgraded from 1.11.3 to 1.12.1, the order cannot show any result, and it's an empty file.

`kubectl get configmap -n kube-system kubeadm-config -o jsonpath={.data.MasterConfiguration} > kubeadm-config.yaml`

How can I fix it？
PS: when upgraded from 10.5 to 11.3, the order can be used normally.

**What you expected to happen**:
I am unable to export cluster info-{.data.Maste

[2018-10-30 14:15] yagonobre commented on #1198
This was fixed on kubeadm 1.12

[code]

[code]

[2018-10-30 14:23] neolit123 commented on #1163
@yagonobre

as commented there, the listed sub-phases should be just collapsed in a single phase.

[2018-10-30 14:29] yagonobre commented on #1163
ok, taking `bootstrap-token` again

[2018-10-30 15:29] neolit123 commented on #1192
thanks for the confirmation.

[2018-10-30 15:29] #1192 closed

[2018-10-30 16:05] neolit123 commented on #1198
yes, we also fixed a number of bugs.
please consider upgrading! thanks.

[2018-10-30 16:05] #1198 closed

[2018-10-30 16:13] #1103 closed

[2018-10-30 16:17] neolit123 commented on #1199
hi, please try `.data.ClusterConfiguration` and report back.

[2018-10-30 17:17] tejp1002 commented on #684
+1

[2018-10-30 18:06] fabriziopandini commented on #1163
@neolit123 annotateCRI IMO doesn't deserve a first level phase because it ideally should go away as soon as possible.. What about having annotateCRI as part of the upload kubelet config subphases? (Run Upload kubelet config writes the config map and annotates CRI)
@yagonobre wdyt?

[2018-10-30 18:06] neolit123 commented on #1163
added missing phases:
- wait-for-control-plane (i'm taking this one)
- annotate-cri-socket (anyone can take)

[2018-10-30 18:07] neolit123 commented on #1163
@fabriziopandini
SGTM, i will update the list.

[2018-10-30 18:50] timothysc opened #1200 "RFE: Optionally Encrypt Certs as Secrets on `init` use token on `join`"
edit(neolit123): google doc link for the proposals:
https://docs.google.com/document/d/1XkByzeehah20CgNY47NUMr2VAz-D_ok-GqRX5YRQH0o/edit?usp=sharing

---

The general UX for standing up an HA control plane is a bit manual for most consumers.  There has been a desire for folks to be able to store control plane certs as secrets but there is a broader security concern that these secrets are not encry

[2018-10-30 19:09] timothysc commented on #1200
/assign @fabriziopandini @timothysc
/cc @mattmoyer

[2018-10-30 19:39] timothysc commented on #664
@jethrogb So if I'm reading this correctly you changed the ip:port after the initial init, but the join is not using the command line override, it's using what was stored in the kubeadm conf which is stored on cluster.

It's a weird use case, but the cmd line args appear to not be overriding @rdodev in this use case.   It appears to check 80-90% of the way, then use the config for connection.

[2018-10-30 19:43] inercia commented on #1200
@timothysc When you say _"Output a token/key (file or command line)"_ you  mean another token? couldn't we use the same token used for joining the cluster? otherwise we would be moving from a _"how to distribute certs in the cluster"_ problem to a _"how to distribute a token"_ problem... :-/

[2018-10-30 19:43] timothysc commented on #952
@liztio - This crosses over https://github.com/kubernetes/kubernetes/issues/64625 and is visible on own CI.

Bumping priority.

[2018-10-30 19:45] ncdc commented on #952
@timothysc I don't see `//cmd/kubeadm/app/cmd` in the list at the top (which is where `TestRunListTokens` lives), so it might not be 100% related, but thanks for the cc!

[2018-10-30 19:52] jethrogb commented on #664
Yeah that's accurate

[2018-10-30 19:56] neolit123 commented on #952
`TestRunListTokens` is for me to blame and yes i saw the flakyness at some point....
running a server to test token CLI is really a bad ideas in the first place and we should probably just nuke it or move to integration tests.

[2018-10-30 19:57] neolit123 commented on #952
@bart0sh please, don't reference issues in commit bodies as this can spam a bit.

[2018-10-30 19:59] ncdc commented on #952
@neolit123 I've been looking into it and when I see the 5 minute timeout, it's in this block of code: https://github.com/kubernetes/kubernetes/blob/17c77c7898218073f14c8d573582e8d2313dc740/cmd/kubeadm/app/cmd/token_test.go#L448-L476.

Here is the output from the test run:
[code]

Looking at the running goroutines, it looks like it’s only made it to test case 0, and is somehow stuck in that for loo

[2018-10-30 20:05] neolit123 commented on #952
it's odd, i need to debug it and found the reason.
just ran the test 3 times in a row without a problem.

[2018-10-30 20:06] ncdc commented on #952
Yeah, I can run it by itself hundreds of times without issue. I think it must be contention when you run `make test`, which compiles/links/tests in parallel up to the # of cpus you have.

[2018-10-30 20:09] neolit123 commented on #952
concurrency might be an issue here, but also this:
[code]
that's a pretty explicit handler.

[2018-10-30 20:13] ncdc commented on #952
Right - I am talking about concurrency with other go packages in kubernetes, as they're tested in parallel.

[2018-10-30 20:36] neolit123 commented on #952
it's odd. i cannot reproduce this with `go test` or `make test`, but i have definitely seen this on this machine.

my goto idea at this point is just to remove the test based on these points:
- it's not a CLI unit test.
- it's testing API objects using a fake API server which is a bad hack...
- existing e2e tests already provide coverage for all the `expectedError: false` cases.

filing a PR later

[2018-10-30 20:41] ncdc commented on #952
FYI I've seen it somewhat frequently in AWS on an `m5.xlarge` instance. 👍 to removing it though 😄

[2018-10-30 20:48] liztio commented on #952
I can't repro the flakes. Running with `--runs_per_test 10` produces no failures.

My slowest tests were:

[code]

[2018-10-30 20:51] neolit123 commented on #952
PR to remove TestRunListTokens sent :+1:
https://github.com/kubernetes/kubernetes/pull/70452

this tracking issue is about overall slow running unit tests in kubeadm.

[2018-10-30 21:18] fabriziopandini commented on #1200
@timothysc
This is a possible solution but I what concerns me is that encrypted secrets are another bit of cluster settings that we are duplicating from its "source of through" and that we should manage acróss upgrades.

what  if kubeadm join
- creates a temporary encryption key
- runs a Jub/pod  on one existing master that grabs secrets from file system  and  save to an encryped config map
- Read

[2018-10-31 11:02] ocofaigh opened #1201 "[Kubeadm] Failing to pull images"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version**: v1.11.* (reproduced on all v1.11 and v1.12 releases)

**Environment**:
- **Kubernetes version** : v1.11.* (reproduced on all v1.11 and v1.12 releases)
- **OS**: RHEL 7.5
- **Kernel**: 3.10.0-862.11.6.el7.x86_64

## What happened?
When running `kubeadm init` the images fail to be pulled:
[code]

#

[2018-10-31 11:20] #1199 closed

[2018-10-31 11:23] neolit123 commented on #1201
seems that you don't have internet.
if that's an issue for you you can pull the images, place them in a local container registry and then use the "imageRepository" field of the v1alpha3 config in version 1.12.x
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

for more questions please try the support channels:
https://github.com/kubernetes/community/blob/master/contributo

[2018-10-31 11:23] #1201 closed

[2018-10-31 11:30] ocofaigh commented on #1201
@neolit123 I have been using kubeadm on this machine for months without issues. It definitely has internet access. I have also reproduced on other machines too. Has anyone else reported such an issue? was working fine on Friday.

[2018-10-31 11:32] neolit123 commented on #1201
works fine for me at them moment with 1.12.x.

[2018-10-31 11:48] ocofaigh commented on #1201
Any suggestions on how to debug? Here is what I get when I try to deploy the latest 1.12.x:

[code]

[2018-10-31 11:59] charles820 commented on #193
kubectl delete svc kubernetes

[2018-10-31 12:02] neolit123 commented on #1201
can you pull the images using the docker CLI:
`docker pull ....`
?

[2018-10-31 12:21] RockyFu267 commented on #1199
@neolit123 Does this mean that I will use this command to upgrade in the future?

[2018-10-31 12:34] neolit123 commented on #1199
this is the ClusterConfiguration. we are no longer storing the whole "MasterConfiguration" in the config map.

details on the config changes:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

i think you are doing some sort of a manual upgrade?
have you looked at ths `kubeadm upgrade` [link](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/)?

you n

[2018-10-31 13:07] ocofaigh commented on #1201
@neolit123 Nope:

[code]

[2018-10-31 13:12] neolit123 commented on #1201
@ocofaigh
you seem to have a connectivity issue unrelated to kubeadm.
[code]
please try resolving it and try again.

[2018-10-31 14:27] ocofaigh commented on #1201
A third person has just reported the same issue to me. He said:

[2018-10-31 14:35] yagonobre commented on #1201
I'm with the same problem, but it's not related with kubeadm.

[2018-10-31 14:39] neolit123 commented on #1201
@ocofaigh i suggested this earlier, but try pulling the kubeadm required images on a machine that has connectivity and upload them to a private container registry somewhere.
then using "imageRepository" in the 1.12 kubeadm config you can pull images from the private repo:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

[2018-10-31 14:40] yagonobre commented on #1201
UPDATE: its seems intermittent

[2018-10-31 15:04] ocofaigh commented on #1201
@neolit123 The problem is I cannot pull the images from any machine. Tried 5 times and got different errors each time:

[code]

[2018-10-31 15:11] neolit123 commented on #1201
there could be connectivity issues from your network to k8s.gcr.io.
GCR has separate regions so it might be a case where some of the regional servers are currently down.

but again, not an issue for the kubeadm issue tracker.

[2018-10-31 15:21] ocofaigh commented on #1201
@neolit123 Thanks for the info. Wonder if there is any way to confirm this. I'll try again tomorrow anyway

[2018-10-31 15:27] neolit123 commented on #1201
try posting in the #kubeadm channel of the k8s slack.
this might provide some reports if other users are experiecing the same problem.

[2018-10-31 16:06] neolit123 commented on #1189
/kind feature
/remove-kind bug

[2018-10-31 16:09] neolit123 commented on #1189
in the kubeadm office hours it was decided that this can go in k8s 1.14. contributions are welcome!
(added help-wanted label), instructions [here](https://github.com/kubernetes/kubeadm/issues/1189#issuecomment-434064769))

[2018-10-31 17:38] yagonobre commented on #1189
I'll work on it

[2018-10-31 18:52] neolit123 commented on #1168
xref https://github.com/kubernetes/kubernetes/pull/70480

[2018-10-31 18:52] Klaven commented on #857
I will pick this up.

[2018-10-31 19:12] iamthecloudguy commented on #1037
i was facing the same issue since last 2 days, i created 6 vms to resolve this issue.  :) .
 i tried Ubuntu 16.04.1 & 18.4 with kubernetes  **v1.12.2**
. i notice that with combination of v1.12.2 +  Ubuntu 18.4 version we dont need to **/var/lib/kubelet/kubeadm-flags.env**  update this file , this is already updated with --resolv-conf=<path>.  in my case the issue with CIDR value ..so i was using

[2018-10-31 19:20] neolit123 commented on #1189
@yagonobre thanks, noted!
my suggestion would be to file the PR later in the 1.13 cycle so that you don't have to rebase multiple times.

/lifecycle active

[2018-10-31 19:22] neolit123 commented on #857
@Klaven thanks
/kind documentation
^ adding this kind too.

[2018-10-31 19:56] timothysc commented on #526
/assign @dims

dragging you in ;-)

[2018-10-31 19:57] timothysc commented on #526
@andrewsykim @chenopis  - Where do the docs stand for 1.13?

[2018-10-31 20:06] dims commented on #526
@timothysc Boo! :)

[2018-10-31 20:55] hogepodge commented on #526
@timstclair Rounding up the state of documentation for all the providers. Looking to make this consistent across all the providers.

https://docs.google.com/document/d/1yj8z2ctFZKqUGF40U_MB_7VZD8VuEz0eLFVg_CQYvzI/edit?usp=sharing

[2018-10-31 20:57] joshuacox opened #1202 "kubelet.service: Service has more than one ExecStart= setting"
## What keywords did you search in kubeadm issues before filing this one?
`ExecStart`

## Is this a BUG REPORT or FEATURE REQUEST?
/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):
v1.12.2

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
bare metal hosts running KVM
- **OS** (e.g. from /etc/os-release):
ub

[2018-10-31 21:00] yagonobre commented on #1202
Please create a issue in https://github.com/kubash/kubash

[2018-10-31 21:03] joshuacox commented on #1202
@yagonobre  I am the author of kubash, and the issue is with this file:

https://raw.githubusercontent.com/kubernetes/kubernetes/v1.12.2/build/debs/10-kubeadm.conf

not a part of kubash

[2018-10-31 21:03] neolit123 commented on #1163
@RA489 hi, do you have a PR in the works for mark-control-plane?
we might be able to merge it this week if so.

[2018-10-31 21:17] yagonobre commented on #1202
@joshuacox you opened a pr in your own repository.
Also you have any `ExecStart` on `20-etcd-service-manager.conf`, I guess that a empty `ExecStart` is not a problem

[2018-10-31 21:17] neolit123 commented on #1202
an empty `ExecStart=` clears settings of a previous `ExecStart`.

[2018-10-31 21:21] neolit123 commented on #1202
you 20-etcd-service-manager.conf should look like this:
https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/#setting-up-the-cluster

`20-` implies higher precedence and it also contains `ExecStart=`

[2018-10-31 21:41] fabriziopandini opened #1203 "Missing validation of kubeconfig files in case of external CA mode"
As per comment https://github.com/kubernetes/kubernetes/pull/70098#discussion_r229320061

## What you expected to happen?

External CA mode requires that the uses provides all the certs - except certificate authorithy keys - and all the kubeconfig files.

However, the check for External CA mode validates certs (existance and validity) but does not validates kubeconfig files (nether existance nor v

[2018-10-31 21:45] yagonobre commented on #1203
I can work on this tomorrow

[2018-10-31 21:46] fenwk0 commented on #684
Tried the standard way letting k8sadmin pull the images down, tried many time then Pulled the images, reset, tried to ignore the errors, always fails.

pi@master-node-001:~ $ sudo kubeadm reset
[reset] WARNING: changes made to this host by 'kubeadm init' or 'kubeadm join' will be reverted.
[reset] are you sure you want to proceed? [y/N]: y
[preflight] running pre-flight checks
[reset] stopping the

[2018-10-31 21:48] fenwk0 commented on #684
13  sudo kubeadm init --token-ttl=0
   14  kubectl get pods -o wide
   15  sudo kubeadm reset
   16  sudo kubeadm init --token-ttl=0
   17  docker ps -a | grep kube | grep -v pause
   18  kubeadm config images pull --kubernetes-version=v1.11.0
   19  sudo kubeadm reset
   20  history > notes.txt
   21  more notes.txt
   22  sudo reboot
   23  kubeadm config images list
   24  kubeadm config images

[2018-10-31 21:52] fabriziopandini opened #1204 "Expose the kubeadm join workflow as phases"
as per comment https://github.com/kubernetes/kubernetes/pull/70333#discussion_r229811268

in v1.12 we are exposing the kubeadm init workflow as phases, and moving all the other commands formerly hoster under `kubeadm alpha phase` to `kubeadm alpha` (without phases).
This re-shuffle includes also subcommands that are part of the kubeadm join workflow (e.g. `preflight node`, `kubelet config download

[2018-10-31 22:21] fabriziopandini opened #1205 "Review kubeadm package layout"
as per comment https://github.com/kubernetes/kubernetes/pull/70346#issuecomment-433856703 and https://github.com/kubernetes/kubernetes/pull/70333#discussion_r228758810

If there is consensus, kubeadm package layout should be aligned with other Kubernetes commands.

- `cmd/kubeadm` should be used only for the UX
- `pkg/kubeadm` should be introduces and host `apis` and all the other kubeadm packages

[2018-10-31 23:54] sgmiller commented on #1196
I've been trying to debug it as well, I've built a custom kubeadm binary
with extra logging and hope to use it next time I see a new node join in
this way.

On Wed, Oct 31, 2018 at 4:27 PM Yago Nobre <notifications@github.com> wrote:

[2018-11-01 04:29] RA489 commented on #1163
@neolit123 WIP

[2018-11-01 09:02] NeilW commented on #526
@hogepodge

The [Brightbox](https://www.brightbox.com) cloud-controller-provider documentation is here.

Design and development: https://github.com/brightbox/brightbox-cloud-controller-manager/blob/master/README.md

Installation and configuration: https://github.com/brightbox/brightbox-cloud-controller-manager/blob/master/config/README.md

if you want to add that into the list. Once there is a tem

[2018-11-01 11:31] RockyFu267 commented on #1199
This order can display all the information before.
`kubeadm upgrade plan`
This order can see the version information of each node and component before the upgrade.
But now there is no information output.
I don't know if it will affect the upgrade.
I don't mind if it doesn't affect the upgrade.
Thanks so much.

[2018-11-01 13:51] irlevesque commented on #1170
What is the recommended workaround for people affected by this bug?

[2018-11-01 14:42] kasim457 commented on #742
@Geostant, how you were able bypass the local host.

I'm happy to inform that kubernetes cluster works great
After bypassing the localhost dns issue I had still the issue of
container_linux.go:247: starting container process caused "exec: \"kube-apiserver\": executable file not found in $PATH"

[2018-11-01 14:43] kasim457 commented on #742
@Geostant, how you were able bypass the local host.

I'm happy to inform that kubernetes cluster works great
After bypassing the localhost dns issue I had still the issue of
container_linux.go:247: starting container process caused "exec: \"kube-apiserver\": executable file not found in $PATH"

[2018-11-01 14:46] kasim457 commented on #742
Worker mode not able to launch weave-net and kuBe-proxy daemonsets on worker node.  Nodes tries to pull image from internet ( gcr.io). How to bypass the request. I have all images locally available and also created internal registry service as cotrainer.

[2018-11-01 15:15] yagonobre commented on #1196
What kubeadm version are you using?

[2018-11-01 15:34] sgmiller commented on #1196
1.11.3 as well.

On Thu, Nov 1, 2018 at 10:32 AM, Yago Nobre <notifications@github.com>
wrote:

[2018-11-01 15:47] yagonobre commented on #1158
Can't reproduce in `1.11`, `1.12` and master.

[2018-11-01 16:03] neolit123 commented on #1196
kubeadm having a non-deterministic write to a manifest file is puzzling to say the least.
we don't have fancy logic that writes files concurrently and similar so i'm really not sure what the cause here might be.

please provide the two outcomes as file attachements:
- valid api-server manifest.
- invalid api-server manifest with missing volumes.

[2018-11-01 16:04] neolit123 commented on #1196
also please try reproducing with latest stable - 1.12.x.

[2018-11-01 16:19] sgmiller commented on #1196
Sure.  My theory is that somehow the volumeMount slice gets overwritten
or recreated during the gathering phase.  But I can't find an obvious
spot in the code where that would happen.  Let me get those
attachments...

On Thu, Nov 1, 2018 at 11:18 AM, Lubomir I. Ivanov
<notifications@github.com> wrote:

[2018-11-01 16:30] sgmiller commented on #1196
Okay, I think I have the problem.  We post process the yaml file to get around the bug where you could only have readOnly mounts in kubeadm (https://github.com/kubernetes/kubeadm/issues/628).  We would sed out the readOnly statement using a multi-line regex.  Due to the non-deterministic order of maps, if that mount occurred anywhere but last and another readOnly mount followed, the regex is swall

[2018-11-01 16:34] neolit123 commented on #1196
we are also sorting volumes in 1.13:
https://github.com/kubernetes/kubernetes/pull/70027

[2018-11-01 16:53] sgmiller commented on #1196
Yep, that was it.  Sorry for the confusion.

[2018-11-01 16:53] #1196 closed

[2018-11-01 17:01] neolit123 commented on #1196
no problem, glad it worked!

[2018-11-01 17:06] seanhig commented on #1158
I will see if I can re-produce it, but the versions have since been updated, and 1.12.1 is now the current version I’ve been working with, so I would have to spin up a new environment and revert to 1.12.0.  I’ll have a look this weekend.

[2018-11-01 21:02] rdodev commented on #1034
/lifecycle-active

[2018-11-01 21:09] fabiand commented on #1179
I encountered this as well, and I actually think this is some issue somewhere.

IIUIC then we have the following situation:

- coredns does not come up, because networking is not configured (will be done by flannel)
- flannel does not come up because it can't pull images, because DNS is broken

It turns out that kubeadm or some component changes iptables and DNS does not work afterwards anymore.

[2018-11-01 21:11] fabiand commented on #1179
It's pretty much this configuration:

[code]

Thus `resolv.conf` points to 10.96.0.10, but the first rule in the KUBE-SERVICES chain is rejecting these requests.

[2018-11-01 21:15] neolit123 commented on #1179
@fabiand
please try weavenet as CNI plugin, to eliminate the CNI plugin factor.

[2018-11-01 21:16] fabiand commented on #1179
I was about to add this :)
I'm now trying weave - still I wonder why flannel shouldn't get fixed.

Is flannel getting deprecated?

[2018-11-01 21:17] neolit123 commented on #1179
it's just less maintained compared to weave.

[2018-11-01 21:20] fabiand commented on #1179
It was so nice because so simple ... But understood. Maybe worth highlighting that in the docs?

[2018-11-01 21:30] fabiand commented on #1179
So, I just finished, but have the same behavior, it looks like DNS requests are blocked by iptables, which prevents the weave image to be pulled.

I am not sure who does the iptables setup.

[2018-11-01 21:37] fabiand commented on #1179
My flow is pretty much this:

[code]

The result is as described abvoe https://github.com/kubernetes/kubeadm/issues/1179#issuecomment-435188800.

[2018-11-01 21:46] fabiand commented on #1179
Using

[code]

fixes the issue (which confirms that it's a firewall issue. I just don't know why.

[2018-11-01 21:48] neolit123 commented on #1179
not sure either.
you also try kubedns, to confirm it's not coredns specific (unlikely?)

[2018-11-01 21:49] fabiand commented on #1179
I will.

So, one note, I see the following iptables comment (also in the past further above):
[code]

To me this (`dns has no endpoints`) is a hint that it might be a bug. The logic is: As there is no DNS endpoint, we block all incoming/outgoing DNS traffic.

Just a geuss tho.

[2018-11-02 07:02] #1184 closed

[2018-11-02 07:10] Nosmoht commented on #1171
When using `JoinConfiguration` with 1.12.2 i get the following error while adding the second node:

[code]

It only works with `InitConfiguration`.

[2018-11-02 07:12] fabriziopandini commented on #1123
/close

[2018-11-02 07:12] #1123 closed

[2018-11-02 15:51] chuckha commented on #1034
Regarding this issue being [discussed in slack](https://kubernetes.slack.com/archives/C13J86Z63/p1541173767169200)

One approach here might be to look at the kubelet and figure out the assumptions it makes and then do some preflight kubelet checks to make sure it can likely succeed. Unfortunately the way we've decoupled kubeadm and kubelet this style of logging is not going to be possible without

[2018-11-02 16:03] rdodev commented on #1034
@mauilion given this ^ at the moment we can't get the desired level of output requested. We could do some naive file system check, but once we pass the witness to the kubelet, it's blackbox-ish to kubeadm side. Would these naive file system checks be sufficient?

[2018-11-02 16:11] fabriziopandini opened #1206 "Improve flag management for kubedm phases"
as per comment https://github.com/kubernetes/kubernetes/pull/70405#discussion_r229397171

Currently flags management for phases is very simple: all autogenerated command for phases will get the same flags of the parent phase.

It is necessary to improve flags management supporting:
- the option to add flags that applies only to autogenerated command for phases (not to the parent command)
- the opt

[2018-11-02 18:38] neolit123 commented on #1171
added comment in op that this page needs an update:
https://kubernetes.io/docs/setup/independent/high-availability/

[2018-11-02 18:41] rdodev commented on #1034
Upon closer inspection, the file system checks would be in the control plane node(s), not in the would-be worker nodes and presently there's no good way to accomplish that from a remote machine.

[2018-11-02 19:18] rdodev commented on #1015
On it.

[2018-11-02 20:16] rdodev opened #1207 "`'kubeadm upgrade' (possibly) losing config options during upgrade"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`): 1.10 -> 1.11

**Environment**:

All pertinent info can be found on #1015

## Anything else we need to know?

This could potentially be two different and urelated issues:

* An issue with the way the diff is displayed
* An issue with the upgrade process itself

This placehol

[2018-11-02 20:35] praseodym opened #1208 "Image prepull fails with PodSecurityPolicy present"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.12.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.12.2
- **Cloud provider or hardware configuration**: VMware vSphere
- **OS** (e.g. from /etc/os-release): Debian 9 (Stretch)
- **Kernel** (e.g. `uname -a`): `Linux 4.9.0-8-amd64 #1 SMP Debian 4.9.110-3+deb9

[2018-11-02 20:59] neolit123 commented on #1208
/kind bug
/priority important-soon
/area upgrade

/assign @timothysc @fabriziopandini

[2018-11-02 21:00] chuckha opened #1209 "boolean parameter clean up"
## Is this a BUG REPORT or FEATURE REQUEST?
/kind cleanup

Weaving this boolean parameter through is misleading:

https://github.com/kubernetes/kubernetes/blob/69f5f5eff2803317c794bb545705185fed74c201/cmd/kubeadm/app/util/config/cluster.go#L44

The fact that `newControlPlane` dictates behavior of this code is a problem because this is an assumption the implementation is making for the caller.

Con

[2018-11-03 02:40] juicemia opened #1210 "kubeadm swallows errors when CA key isn't in RSA format"
**What happened**: When trying to deploy Kubernetes using kubeadm v1.12.1, kubeadm failed to generate certificates, causing it to fail at a later step.

After passing `-v10` to get all the logs I could I found that it was expecting _all_ the certificates to have been pre-made, even though I only added the certificate and key for the certificate authority. So I dug into the code, and in `pkiutil.Tr

[2018-11-03 03:19] yagonobre commented on #1210
I'll take a look on this tomorrow.

[2018-11-03 04:48] yagonobre commented on #1210
@juicemia thanks for create the issue on the right repo, can you close the https://github.com/kubernetes/kubernetes/issues/70594?

I'm working in a fix.

[2018-11-03 06:35] yagonobre commented on #1210
This was fixed on https://github.com/kubernetes/kubernetes/pull/70331, but due to a wrong error wrap on pkihelper if you try to create a cluster with invalida ca format it will result in a panic.
/priority important-soon

[2018-11-03 12:29] neolit123 commented on #1210
the fix from @yagonobre seems good.

ECDSA isn't supported by kubeadm yet, here is the tracking issue:
https://github.com/kubernetes/kubeadm/issues/984

[2018-11-03 16:15] pytimer opened #1211 "Kubeadm reset command whether remove etcd member on the master"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm master branch

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
`Linux master1 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:27 U

[2018-11-03 18:05] #1210 closed

[2018-11-03 18:08] ereslibre commented on #937
I think this issue is not related to the original reported error: `Jun 14 17:38:29 localhost cloud-init: error marking master: etcdserver: request timed out`. In https://github.com/kubernetes/kubeadm/issues/937#issuecomment-416567924 I think the issue is that the Kubelet never registered so `k8s-acc-api01` is not found. Since all errors are being ignored with `--ignore-preflight-errors=all` we are

[2018-11-04 21:10] neolit123 opened #1212 "kubeadm init failing for IPv6-only configuration"
reported by @leblancd here:
https://github.com/kubernetes/kubernetes/issues/70617

------

**What happened**:
If you run 'kubeadm init ...' with an IPv6-only configuration, kubeadm will keep hanging and timing out here:

[code]
Looking at the state of kubernetes system pods, both etcd and API controller pods are crashing.
Looking at the etcd server docker container logs, you'll find:

[code]
The i

[2018-11-04 21:11] neolit123 commented on #1212
ongoing KEP for dual stack ipv4/6 support:
https://github.com/kubernetes/community/pull/2254

[2018-11-05 00:46] davejrt opened #1213 "1.12.1 advertise address not applied in config.yaml"
## What keywords did you search in kubeadm issues before filing this one?
config.yaml
advertiseaddress

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:43:

[2018-11-05 03:19] #1206 closed

[2018-11-05 04:48] anguslees commented on #857
I think kubernetes/kubernetes#69340 makes the `--hostname-override` flag "undeprecated" again.  This makes this bug super-easy to fix from kubeadm's pov:

**we should _always_ set kube-proxy's `--hostname-override` to `status.nodeName`** (via downward API)

ie: we should drop "in some environments" from this bug description.  On older versions (before 69340 gets rolled out), the override flag is i

[2018-11-05 07:00] fabriziopandini commented on #1213
@davejrt if I got your problem right the advertise address should be set using InitConfiguration, not in ClusterConfiguration.
See https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3 for more detail

[2018-11-05 07:09] fabriziopandini commented on #1211
@pytimer could you kindly provide more info about your cluster (how it was created, the kubeadm-gce-master.yaml)

[2018-11-05 07:16] youyongsong opened #1214 "kubeadm upgrade will still pre-pull etcd image when specified --etcd-upgrade=false"
## Versions

**kubeadm version** (use `kubeadm version`): v1.12.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.2
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
When I run `kubeadm upgrade apply v1.12.1 --config <config_path> --etcd-upgrade=false` command to upgrade m

[2018-11-05 08:55] fabriziopandini commented on #1209
@chuckha
After thinking a bit about this IMO fetch init configuration should be limited to the kubeadm init method, while in all the other place of the code we should fetch only ClusterConfiguration

[2018-11-05 11:35] rcmorano commented on #610
Just for the record, at least in an ubuntu-based system, I guess the place to add the _--fail-swap-on=false_ flag is in _/etc/default/kubelet_ file; not in the _systemd_ conf file itself.

[2018-11-05 12:51] inercia opened #1215 "Provide a basic API"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Description

The only API currently provided by `kubeadm` is a _command line_ API. So users interested in using `kubeadm` from higher-level tools have to shell out `kubeadm` calls, and the only option for customizing its behaviour is by using flags, writting a config file and/or using kubeadm's `phases`.

Developers could be interest

[2018-11-05 13:06] neolit123 commented on #610
for 1.11+ this is true.

[2018-11-05 15:32] chuckha commented on #1209
What you are suggesting sounds like a bigger refactor, perhaps worthy of its own ticket. This ticket is to address the difficulties around using boolean parameters in functions. Perhaps you meant to comment on https://github.com/kubernetes/kubernetes/pull/69662 ? That is fetching InitConfiguration during a Join.

[2018-11-05 18:57] deknos commented on #1052
The check for number of CPUs on master looks good! but i do not really know to formally review it other than testing it in a VM? Shall i do that?

[2018-11-05 19:10] neolit123 commented on #1052
we have not decided yet if the the memory check library is going to be used.
the CPU check is all we are going to have for k8s 1.13.

[2018-11-05 20:55] deknos commented on #1052
Yeah, i wanted to know if i could do anything to help. reviewing code or testing with a too small installation for example? :)

[2018-11-05 22:20] #1203 closed

[2018-11-05 22:45] #1191 closed

[2018-11-05 22:46] eliasp commented on #1190
Is there a workaround to this?

[2018-11-05 23:11] neolit123 commented on #1190
@eliasp
i don't think so.

@liztio @fabriziopandini @timothysc
given there is a panic in 1.12, arguably we need to backport a fix.

/priority critical-urgent

[2018-11-05 23:14] eliasp commented on #1190
When running `kubeadm alpha phase certs renew apiserver --use-api` I just get this:
[code]

Is this related or worthy of another bugreport?

[2018-11-05 23:53] neolit123 commented on #1190
@eliasp

yes, this is a separate issue.

on a quick look, we need to use this:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/util/cert/csr.go

instead of:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/certs/renewal/certsapi.go#L73

otherwise the byte signature would fail here:
https://github.com/kubernetes/client-go/blob/master/util

[2018-11-06 08:48] geoffgarside commented on #984
Looks like the `certutil.NewSignedCert` functions have been updated to use `crypto.Signer` as of https://github.com/kubernetes/client-go/commit/30575d7a9fdb0e1f9014cf1b6c453f34d2cfe87f

[2018-11-06 08:49] fabriziopandini commented on #1214
+ etcd image should not be pre-pulled when external etcd is used (should be already the case, but worth a double check)

[2018-11-06 09:03] bart0sh commented on #1052
@timothsc wdyt?

[2018-11-06 09:12] bart0sh commented on #1214
/assign

[2018-11-06 09:50] eliasp opened #1216 "`... certs renew apiserver --use-api` fails: `PEM block type must be CERTIFICATE REQUEST`"
## What keywords did you search in kubeadm issues before filing this one?
`certs renew`

Found #1190 which is related, but no duplicate.

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

`v1.12.2`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `v1.12.2`
- **Cloud provider or hardware configuration**: HetznerClou

[2018-11-06 13:35] yagonobre commented on #1216
@neolit123 are you working on it?

[2018-11-06 15:13] neolit123 commented on #1216
@yagonobre
no, i wanted to get some feedback first of what should be done, but if you want you can start with a POC PR.

cc @liztio @timothysc

[2018-11-06 16:38] neolit123 commented on #1213
/close
@davejrt please re-open if the above solution does not work for you.

[2018-11-06 16:38] #1213 closed

[2018-11-06 16:41] inercia opened #1217 "kubeadm reset is not idempotent"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

1.13.alpha.3, at cfd53d6dae55d8663b082ba5ab2bd6a6dc01b24f

**Environment**:
- **Kubernetes version**: 1.12.2
- **OS**: openSUSE/Leap
- **Kernel**: Linux laxe 4.12.14-lp150.12.22-default #1 SMP Sat Oct 13 05:05:16 UTC 2018 (09415e8) x86_64 x86_64 x86_64 GNU/Linux

## What happened?

I did `kubeadm reset --cri-socket=...` for `cri

[2018-11-06 16:52] fabriziopandini commented on #1209
@chuckha +1 on doing small improvements.

Sorry I skipped some detail in my comment, but if I remember well the boolean flag we are discussing on was implemented when kubeadm started to fetch init configuration in the context of the kubeadm join --control-plane workflow (and this should be probably fixed by fetching ClusterConfiguration only).

[2018-11-06 17:39] yagonobre commented on #1217
I can work on it

[2018-11-06 18:07] ereslibre commented on #1088
I can have a look at this issue; however I might need to clarify the scope of this issue since it can get very broad and generic.

[2018-11-06 18:46] neolit123 commented on #1216
@yagonobre i will experiment with a solution here.
you can work on "kubeadm reset is not idempotent" in the meantime if you want.
thanks.

[2018-11-07 04:46] davejrt commented on #1213
Just wanted to say thanks for pointing this out. Helped a lot @fabianofranz

[2018-11-07 05:42] oz123 commented on #907
@drewwells I have encountered the same problem as you did. I am running the phases individually, and there are no config mpas.
[code]

 Have you found the solution?

[2018-11-07 08:18] yx1989 commented on #110
I use `sudo swapoff -a` when I init k8s with kubeadm, then when I robot k8s hasn't started up.

 journalctl -xeu kubelet shows some error when startup.

After `sudo swapoff -a` , I try `systemctl enable kubelet` again.

Everything going well now.

[2018-11-07 10:35] andrelop opened #1218 "kubeadm/HA - Joining a second master the cluster fails while trying to annotate-cri"
Choose one: **BUG REPORT**

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:

[code]

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Others**:

[code]

## What happened?

I'm trying to use the instructions given at https://kub

[2018-11-07 15:11] yagonobre commented on #110
Have you removed the swap entry from `/etc/fstab`?

[2018-11-07 15:31] xdk-rachel opened #1219 "Error When I kubeadm init --token-ttl=0"
Hi everone,
When I run sudo kubeadm init --token-ttl=0, I get error like this:
[init] waiting for the kubelet to boot up the control plane as Static Pods from directory "/etc/kubernetes/manifests"
[init] this might take a minute or longer if the control plane images have to be pulled

Unfortunately, an error has occurred:
	timed out waiting for the condition

This error is likely caused by:
	- The

[2018-11-07 16:36] timothysc opened #1220 "RFE Feature Gate Enable DNS CACHE"
Tracking Issue https://github.com/kubernetes/kubernetes/issues/70707

What would you like to be added:
Support to run nodelocaldns addon

Why is this needed:
The feature runs a local dns cache on all cluster nodes to help with dns latency. Initial PR adds support on e2e/gce scripts. We want to extend this to other cluster creation tools.
#70555

This is the KEP: https://github.com/kubernetes/commu

[2018-11-07 18:45] neolit123 commented on #949
^ changing milestone again. we don't have bandwidth to move away from the kubelet deprecated flags this cycle. also it was discussed today that these flags might stay in the kubelet for a while before being removed.

[2018-11-07 18:46] neolit123 commented on #1156
related PR for this is in flight by @kad but reviews are pending:
https://github.com/kubernetes/kubernetes/pull/69578

[2018-11-07 19:39] andrelop commented on #1218
One more info :

[code]
[code]
[code]

Notice that only ```kubelet``` on ```master01``` is running with ```--cgroup-driver=systemd``` (despite having ```cgroupDriver``` set to ```cgroupsfs``` on ```/var/lib/kubelet/config.yaml``` ). The others masters (```master02``` and ```master03```) are all running **without** a ```--cgroup-driver=systemd``` config option set (probably now reading it from thei

[2018-11-07 20:02] Klaven opened #1221 "Remove AuditPolicyConfiguration from config"
Per kubeadm office hours on 11.07.2018 we need to remove AuditPolicyConfiguration from config and from the code.

## Is this a BUG REPORT or FEATURE REQUEST?
neither
/kind cleanup

## Versions
current master

## What happened?
It exists

## What you expected to happen?
It should not exist

[2018-11-07 20:04] Klaven commented on #1221
@chuckha per office hours.

[2018-11-07 20:04] Klaven commented on #1221
I will be doing this.

[2018-11-07 20:05] chuckha commented on #1221
@k8k

[2018-11-07 20:06] chuckha commented on #1221
My understanding from the office hours was that this also included setting the correct flags for the dynamic audit policy on the kube apiserver or is that a different ticket?

[2018-11-07 20:07] Klaven commented on #1221
I thought that was a different ticket. I will verify though.

[2018-11-07 20:09] Klaven commented on #1221
@chuckha I don't see mention of that, but it would make since too. @fabriziopandini.

[2018-11-07 20:37] chuckha commented on #1221
the user will be able to specify the flag in the kubeapiserver extra args configuration section

[2018-11-07 20:37] chuckha commented on #1221
so this is totally a removal ticket

[2018-11-07 20:37] Klaven commented on #1221
I will leave the ticket as is then.

[2018-11-07 21:15] chuckha commented on #1115
taking this one over

[2018-11-07 23:04] chuckha commented on #1115
/lifecycle active

[2018-11-07 23:05] timothysc commented on #1190
I'll close for 1.13 now that the cherry-pick is up and approved.

[2018-11-07 23:05] #1190 closed

[2018-11-07 23:06] timothysc commented on #952
Critical one is merged punting the rest to 1.14

[2018-11-07 23:10] timothysc commented on #1154
@rosskukulinski  - were you able to repro?

[2018-11-08 03:18] neolit123 commented on #1072
closed by:
https://github.com/kubernetes/kubernetes/pull/69878

[2018-11-08 03:18] neolit123 commented on #1093
closed by:
kubernetes/kubernetes#69878

[2018-11-08 03:19] #1093 closed

[2018-11-08 13:51] krisdock opened #1222 "CoreDNS 1.1.3 not resolving ExternalName services"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.11.4

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11.4
- **Others**: CoreDNS 1.1.3

## What happened?

ExternalName services fail to resolve.

## What you expected to happen?

ExternalName services to resolve without the need to manually update t

[2018-11-08 13:55] yagonobre commented on #1222
@krisdock please update the kubeadm

[2018-11-08 14:49] chrisohaver commented on #1222
@krisdock, Was the ExternalName you tested pointing to an in-cluster name? e.g.
`myexternalservice.default.svc.cluster.local -> someotherservice.default.svc.cluster.local`

coredns/coredns#2040

[2018-11-08 16:35] chuckha commented on #937
Regarding retries: there [are](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/apiclient/idempotency.go#L198) (and [were in 1.9.7](https://github.com/kubernetes/kubernetes/blob/v1.9.7/cmd/kubeadm/app/phases/markmaster/markmaster.go#L39)) retries built in to the code. However, there is what I believe to be a bug. If the connection to the API server returns an error, includ

[2018-11-08 16:40] neolit123 commented on #1222
@krisdock

+1 to this.
kubeadm (and k8s) 1.12 will pull coredns 1.2.x for you.

this is not a bug for the kubeadm tracker.
and we cannot backport the change to kubeadm 1.11.

you can still respond to @chrisohaver 's question though.

/close

[2018-11-08 16:40] #1222 closed

[2018-11-08 16:45] neolit123 commented on #1219
hi, this is more of a request for support and is not a bug.

it would be better for you to try stackoveflow or the #kubeadm channel on slack.
make sure you include your OS and kubeadm versions in your reports.

https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example
thank you

/close

[2018-11-08 16:45] #1219 closed

[2018-11-08 17:35] threesquared commented on #881
I had the same issue. I could see `panic: invalid freelist page: 0, page type is unknown` in the etcd container logs. However resetting my hostname back and then running init again fixed it...

[2018-11-08 19:50] neolit123 commented on #911
@rosti and @fabriziopandini
please babysit this issue when we are done to close it!

[2018-11-08 20:11] detiber commented on #1097
There are a few hurdles that need to be handled before this can proceed.

- Currently configmap locking is only exposed through leader election and the leader election interface doesn't expose a way to run a method that returns an error.
- Creating a new configmap lock where the annotation does not already exist causes the configmap Data to be clobbered.
- Currently when we update the kubeadm-conf

[2018-11-08 20:48] rdodev commented on #689
@timothysc @chuckha @neolit123 after inspection and consulting with other contributors, I have come up with the following options which I would like asking for preference before implementing:

1. We could duplicate the code to replicate functionality kubeadm-side inhttps://github.com/kubernetes/kubernetes/blob/91d6d7530382bf120a1575bae72ca36a33842e95/cmd/kube-proxy/app/server.go#L466-L473 (we coul

[2018-11-09 00:13] timothysc commented on #1156
/assign @rdodev

Lets chat in the morning on this one.

[2018-11-09 01:37] raravena80 opened #1223 "kubeadm generate kubelet certs with master(s) CA"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind bug

Opening the `kubeadm` side for [this issue](https://github.com/kubernetes-incubator/metrics-server/issues/130) on the metrics-server

## Versions
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:
Any
- **OS** (e.g. from /etc/os-release):
Any
- **Kernel** (e.g. `

[2018-11-09 01:39] stewart-yu commented on #975
i'm afraid some error in here https://github.com/kubernetes/kubernetes/blob/master/pkg/util/ipvs/kernelcheck_linux.go#L53 will verify ASAP

[2018-11-09 02:01] stewart-yu commented on #975
`ipvs` kube-proxy is not default model. so the behavior  using iptables is normally

[2018-11-09 02:07] stewart-yu commented on #975
IMO, the warning messages not confused, just throw warning, and not auto-installed modules for user. That's OK now.
If `ipvs` became default kube-proxy model someday, we can add code about `auto-installed modules`.
BTW, some disscuss in the issuse, may just related to local ENV, not about `RequiredIPVSKernelModulesAvailable` :slightly_smiling_face:

[2018-11-09 04:45] yagonobre commented on #1217
I can't reproduce that, also looking to the code the bug not seems to exist.
The first `reset` remove the files and the second just remove the containers.

[code]

[2018-11-09 04:56] yagonobre commented on #1185
@andrevtg can you share the calico log when you try to use `192.168.0.0/24`, a `/24` is not enough for the pod cidr.

[2018-11-09 06:41] fabriziopandini commented on #1223
@raravena80 I'm not aware of any certificate created by kubeadm under `/var/lib/kubelet/pki/`.. could you kindly provide more info? e.g kubeadm config files, steps to create the cluster

[2018-11-09 09:02] #1183 closed

[2018-11-09 09:38] fabriziopandini opened #1224 "Regression on Upgrade"
Kubedam v1.13 raise an error on the upgrade of clusters created with kubeadm v1.12.

The error happens when connecting to etcd, and this regression was introduced by stacked etcd change.

kubeadm v1.12 cluster are deployed with etcd listening on localhost only, while kubeadm v1.13 assumes etcd is listening both on localhost and on the advertising address.

I have a fix in flight, but we should als

[2018-11-09 11:39] fattybenji opened #1225 "KubeletConfiguration : no overload of CA file location"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `v1.12.2`

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: VMWare
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.1 LTS
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**: N/A

## What happened?

Ini

[2018-11-09 11:55] inercia commented on #1217
Maybe it is finding a valid `kubeconfig` anyway. I'm getting:

[code]
So maybe `/etc/kubernetes/admin.conf ` is being deleted on the first run but next runs are happy because a `/root/.kube/config` exists...

[2018-11-09 14:12] toraxe commented on #1026
Maybe you forgot to run this  after install @PierrickI3 :

sudo cp /etc/kubernetes/admin.conf $HOME/
sudo chown $(id -u):$(id -g) $HOME/admin.conf
export KUBECONFIG=$HOME/admin.conf

[2018-11-09 15:06] rdodev commented on #689
The more I've mulled this over, the more I think @chuckha 's suggestion to print the command the user should run if they want to drop iptables rules is the saner of all options, given the highly decoupled kubeadm is from cluster components.

[2018-11-09 15:58] timothysc commented on #1063
The documentation states "In a cloud environment you should place your control plane nodes behind a TCP forwarding load balancer."

SSL termination has to occur at the apiserver endpoints.

[2018-11-09 15:58] #1063 closed

[2018-11-09 16:06] timothysc commented on #1034
This particular issue is really thorny from a layer violation perspective.  Kubeadm can only check what it knows about and crossing those lines get's into a weird space that will force us to subsume a class of problems that I don't think we want to get into.  I think it may make more sense to have a set of control plane check that can be accessed via monitoring as part of initial bootstrap.

If yo

[2018-11-09 16:06] #1034 closed

[2018-11-09 16:52] yagonobre commented on #1217
Thanks for the report, I find the bug, I'll send a pr soon

[2018-11-09 21:20] rdodev commented on #1156
In terms of cli this has already been taken care of @timothysc

https://github.com/kubernetes-csi/driver-registrar/blob/87d0059110a8b4a90a6d2b5a8702dd7f3f270b80/vendor/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/validation/validation.go#L375

[2018-11-09 22:28] neolit123 commented on #1224
seems that our upgrade tests `master-upgrade` have been failing for other reasons:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-upgrade-stable-master/2819/build-log.txt
[code]

i tried reproducing with k-a locally but failed, because k-a works for me only "sometimes".

also, i think i need to apply this patch to the older branches we support:
https://github.

[2018-11-10 08:53] fabriziopandini opened #1226 "Give warning for deprecated featureGate flags"
As per Lucas comment https://github.com/kubernetes/kubernetes/pull/70024#pullrequestreview-173179342 and for discussion on https://github.com/kubernetes/kubernetes/pull/70849 we should provide proper handling for deprecate feature flags

The situation at the beginning of this cycle was not fully in line with the [official deprecation policy](https://github.com/kubernetes/website/blob/master/conten

[2018-11-11 20:45] joshuacox opened #1227 "Marking the master by adding the taints 'error marking master: timed out waiting for the condition'"
## What keywords did you search in kubeadm issues before filing this one?

`error marking master: timed out waiting for the condition`

https://github.com/kubernetes/kubeadm/issues/1092

https://github.com/kubernetes/kubeadm/issues/937

https://github.com/kubernetes/kubeadm/issues/1087

https://github.com/kubernetes/kubeadm/issues/715

https://github.com/kubernetes/kubernetes/issues/45727

## Is t

[2018-11-11 20:59] seh commented on #857
It would also be nice if it were possible to set the node name during _kubeadm join_ with less hassle. There's the `--node-name` flag, but [_kubeadm join_ ignores it silently](https://kubernetes.slack.com/archives/C2P1JHS2E/p1541610023129300) if also supplied with a `--config` flag. (@SataQiu [further documented this behavior](https://github.com/kubernetes/kubernetes/commit/d32526fba425e28530ff40c

[2018-11-12 00:54] neolit123 opened #1228 "v1beta1: update and verify the godocs page"
we need to update and verify the godocs page once all our refactoring is in place.

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta1/doc.go
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go

xref https://github.com/kubernetes/kubeadm/iss

[2018-11-12 02:11] timothysc commented on #1218
/assign @detiber @chuckha

[2018-11-12 02:18] timothysc commented on #1225
Closing as another manifestation of #1217

[2018-11-12 02:18] #1225 closed

[2018-11-12 02:39] timothysc commented on #1227
/assign @timothysc

[2018-11-12 02:40] timothysc commented on #1227
/assign @rdodev @liztio

[2018-11-12 03:07] #1214 closed

[2018-11-12 13:38] joshuacox commented on #1227
not to be distracting but there is a page full of rabbit holes as well [here](https://github.com/kubernetes/website/issues/10808)

eventually if I can get it all figured out I'd like to rewrite a bit of the scripts and docs on this [page](https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/) and this [one](https://kubernetes.io/docs/setup/independent/high-availability/#external

[2018-11-12 13:59] andrelop commented on #1218
One more issue related to this issue :

When trying to schedule pods on master02 or master03 (ie: kubernetes-dashboard) I noticed that pods were using IPs from the docker daemon IP range (172.17.0.0/16) instead of IPs from the Pod's CIDR range.

I noticed that this was due to the fact that on master02 and master03 the ```/var/lib/kubelet/kubeadm-flags.env``` file was **NOT** being created (on mast

[2018-11-12 15:10] MrD2 commented on #1102
I'm trying to update dynamic kubelet configSource from a cURL command from each minion after initialization and this error happens.

`until curl -vvv\
  --request PATCH --cacert ${CERT_DIR}/ca.crt \
  --cert ${CERT_DIR}/kubelet.crt --key ${CERT_DIR}/kubelet.key \
  -H 'Content-Type: application/json-patch+json' \
  -H 'Accept: application/json' \
  --data '[ {
          "op": "add",
          "pat

[2018-11-12 15:32] neolit123 opened #1230 "Fix the kubeadm upgrade test jobs"
The upgrade tests are facing a multitude of problems.
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all

1 ginkgo is not skipping 3 tests that we want skipped:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm-upgrade.yaml#L157

can't tell if this is a kube-test vs ginkgo vs e2e framework bug.

2 kubernetes-anywhere 's paths in the e

[2018-11-12 16:38] AishSundar commented on #1224
@nikopen @thanasisk as FYI

We should track it for 1.13 k8s cycle.

[2018-11-12 17:18] fabriziopandini commented on #1223
@raravena80 thanks for the clarification
Probably I don't have the full context here so I leave room to others for answering.

Only one side note (might be it can help)
Kubeadm already creates a certificate named `apiserver-kubelet-client` for letting the api server talking securely with the kubelets; it is signed by ca and bound to necessary RBAC rules.

[2018-11-12 19:31] neolit123 opened #1231 "Consider having kubeadm version annotations for Pod objects"
as per the discussion here:
https://github.com/kubernetes/kubernetes/pull/70893#pullrequestreview-173625872

the alternative to Pod metadata is to have comments in manifest files, but these have to be parsed.

cc @fabriziopandini @luxas @rosti
/kind design
/priority important-longterm

[2018-11-12 23:43] #1221 closed

[2018-11-13 03:15] joshuacox opened #1232 "kubeadm controller-manager.conf files appear to be blank following stacked etcd official docs?"
## What keywords did you search in kubeadm issues before filing this one?

controller-manager.conf
scheduler.conf

## Is this a BUG REPORT or FEATURE REQUEST?

/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:

ubuntu xenial on  baremetal

- **OS**

[2018-11-13 07:56] #1217 closed

[2018-11-13 08:35] omegazeng commented on #1227
i have fixed this problem by disable etcd tls.
cat kubeadm-config.yaml
[code]

apiserver log
[code]
docker 18.06.1-ce
k8s v1.12.2

[2018-11-13 11:10] yuexiao-wang opened #1233 "KubeConfigPath get a wrong path when we are dry-running"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.0-alpha.0.162+a40647a42ab30d-dirty", GitCommit:"a40647a42ab30d983e514f2cf2a2893613b841cd", GitTreeState:"dirty", BuildDate:"2018-11-13T11:02:56Z", GoVersion:"go1.11.1", Compiler:"gc", Platform:"linux/amd64"}

**E

[2018-11-13 11:12] yuexiao-wang commented on #1233
I have send a PR to fix it

[2018-11-13 12:06] neolit123 commented on #1233
i'm going to close this now as the fix is in place
thanks!

[2018-11-13 12:06] #1233 closed

[2018-11-13 13:38] yuripastushenko opened #1234 "Kubeadm use deprecated controller-manager and scheduller flags"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
**kubeadm version** v1.12.2

## What happened?
When I run `kubeadm init` without any parameters -  one of steps is generating manifests for kube-scheduller (/etc/kubernetes/manifests/kube-scheduler.yaml) and kube-controller-manager (/etc/kubernetes/manifests/kube-controller-manager.yaml).
In both manifests, one of the flags that i

[2018-11-13 13:57] neolit123 commented on #1234
marking this is a good first issue.

a change has to be made here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests.go#L254
and here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests.go#L298

and in the file with the unit tests too:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/ap

[2018-11-13 14:12] neolit123 commented on #1162
also as a reference (if not posted already)

the kubeadm troubleshooting page has a section related to CrashLoopBackoff of CoreDNS caused by SELinux:
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#coredns-pods-have-crashloopbackoff-or-error-state

[2018-11-13 14:16] yuripastushenko opened #1235 "Kubeadm init changes default behaviour of controller manager and scheduler (bind address)"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

There is a option in kube-scheduler [documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/#options):
`--bind-address` (`--address` in old version) - The IP address on which to listen for the --secure-port port. .
This option have default value - `0.0.0.0`.
When I run `kubeadm init --dry-run`, I see t

[2018-11-13 14:39] rdodev commented on #1227
@joshuacox a long shot, but can you try explicitly adding the port to the end point in the ClusterConfig?

`controlPlaneEndpoint: "10.0.0.9:PORT"

Or alternatively if you're using 1.12 try InitConfig+ClusterConfig? For example:

[code]

[2018-11-13 14:40] neolit123 commented on #1234
@kubernetes/sig-cluster-lifecycle

[2018-11-13 14:46] timothysc commented on #817
@caseydavenport @Lion-Wei @m1093782566 - Is there any reason for it to not be the default for all deployments?

[2018-11-13 14:47] timothysc commented on #839
booting to 1.14

[2018-11-13 15:20] neolit123 commented on #817
as a side note, our e2e by default does iptables currently.

[2018-11-13 15:31] yagonobre commented on #1232
You need to use `kubeadm join`

[2018-11-13 15:53] colegatron commented on #202
@cjbottaro
For AWS EKS image kubelet-extra-args you just need to add them into the eks bootstrap.sh.
Important; remember to use single quotes to surround the args

`#!/bin/bash
set -o xtrace
/etc/eks/bootstrap.sh --use-max-pods false --kubelet-extra-args '--node-labels=kubernetes.io/trovimap-nodename=${NODENAME}-${CLUSTER_NAME}-Node' ${CLUSTER_NAME}
systemctl enable kubelet
systemctl start kubelet

[2018-11-13 17:47] timothysc commented on #1230
I want to push this onto cluster-api implementations TBH.

/assign @detiber @chuckha

[2018-11-13 17:52] timothysc commented on #1232
@joshuacox Are you following the upstream HA docs?  https://kubernetes.io/docs/setup/independent/high-availability/  + https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/

[2018-11-13 18:06] joshuacox commented on #1232
@yagonobre the docs are quite clear in using the `kubeadm exec` line, at the [bottom](https://kubernetes.io/docs/setup/independent/high-availability/#install-workers) of that page it does mention:`

which indeed are `kubeadm join` commands, but those are for the worker nodes not the other masters.

@timothysc

^the quote stripped the link but it indeed is https://kubernetes.io/docs/setup/independe

[2018-11-13 18:34] liztio commented on #1057
This value is kind of overloaded, unfortunately. Both the apiserver and the controller-manager assume that this value is an IP in their configuration. I'm not entirely sure why, but given Chesterton's fence I'm wary of trying to change that.

What is required here, @mauilion? Do you just want to change the value in the kubeconfig? or is the idea to place apiserver behind an LB for the entire clust

[2018-11-13 18:42] joshuacox commented on #1227
@rdodev which port? 6443?

And on the InitConfig+ClusterConfig is that all in one file e.g. `/etc/kubernetes/kubeadmcfg.yaml`?  And does that go on masters or etcd hosts?  Or perhaps just the initial master?

[2018-11-13 18:43] neolit123 commented on #1232
for joining control plane nodes there is an extra flag:

are you adding this flag?

[2018-11-13 18:45] rdodev commented on #1227
Hey @joshuacox

Yes, first to triage with minimal changes, just add the 6643 to that config param and run `kubeadm init`.

If that still doesn't work, then yes, take that snippet, and replace with pertinent variables all in one kubeadm-config.yaml then `kubeadm initi --config` pointing to it

[2018-11-13 19:13] joshuacox commented on #1227
while I haven't duplicated the entire run from baremetal yet, I can quickly provision a new cluster on KVM hosts.

[code]

[code]

I'll try with the init_cluster stuff next.

[2018-11-13 19:24] joshuacox commented on #1232
@neolit123 that is in the external etcd section, there is no kubeadm join command mentioned in the [stacked](https://kubernetes.io/docs/setup/independent/high-availability/#stacked-control-plane-nodes) section only `kubeadm exec` command.

[2018-11-13 19:30] chuckha commented on #1154
@rosskukulinski @craigtracey Any updates on this? We are looking to finalize the last few 1.13 tickets as we are now in slush and will either punt this to 1.14 if it ends up being a feature fix or we will keep it open for 1.13 if it's a reproducible bug.

[2018-11-13 19:52] mauilion opened #1236 "kubeadm: Control Plane with "ClusterFirstWithHostNet" is a circular dependency."
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.13

## What happened?
I was looking through the changelog for 1.13 and noticed:
https://github.com/kubernetes/kubernetes/pull/68890

With this change the apiserver will not be able to resolv dns names until kube-proxy and kube-dns are started
.
The resolv.conf of the apiserver when ClusterFirstWithHostNet is set:
[code]
This i

[2018-11-13 19:52] mauilion commented on #1236
/assign @chuckha
/priority critical
@timothysc

[2018-11-13 19:57] joshuacox commented on #1227
same results with the init_cluster config

[code]

[code]

[2018-11-13 20:05] neolit123 commented on #1163
the work here is done!

the only remaining items are these, but we can track then individually:
https://github.com/kubernetes/kubernetes/pull/70346
https://github.com/kubernetes/kubernetes/pull/69979

we did a pretty nice organization here and managed to tackle the list of tasks pretty well!!
thank you @fabriziopandini @yagonobre  @yuexiao-wang @ereslibre @RA489

i will also send a shoutout to eve

[2018-11-13 20:05] #1163 closed

[2018-11-13 20:05] rdodev commented on #1227
@joshuacox however the warning do reveal

[code]

Which would explain inability to bootstrap the master.

[2018-11-13 20:08] rdodev commented on #1236
Hmmmm 👁

[2018-11-13 20:32] joshuacox commented on #1227
@rdodev that is new with the init cluster config, but might explain some of the successful clusters in the past.  i.e. my google fiber router learns the names of the VMs eventually and will return DNS if the VMs have been around long enough for whatever event happens that triggers the router to learn the name of that particular MAC address.  Spawning a fresh cluster exposes that problem.  I was un

[2018-11-13 20:33] neolit123 commented on #1234
/assign @yagonobre
/lifecycle active

i wanted to see comments about these address fields as we have them in the kubeadm design document as 127.0.0.1.
`0` or  `::` means default network interface, so i don't think we should remove them.
cc @luxas @kad

[2018-11-13 20:34] neolit123 commented on #1235
/priority needs-more-evidence
/assign @timothysc @luxas @kad

[2018-11-13 20:40] codesqueak commented on #413
I've just been trying to do an install on a Raspberry Pi 3+ and can confirm that the install does indeed fail.  Using the 'watch' trick on the kube-apiserver.yaml listed above does seem to work consistently ... but only if I change the initialDelaySeconds to 360.  The suggested value of 180 seems marginal on my machines.

Just when things where getting too easy, kubeadm is now complaining that the

[2018-11-13 20:44] neolit123 commented on #413
in kubeadm 1.13 we are adding configuration flag under ClusterConfig->ApiServer that can control the api server timeout.
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1
`timeoutForControlPlane`

[2018-11-13 20:46] rdodev commented on #1227
@joshuacox to clarify: so is the master in your home network and the etcd servers elsewhere? Perhaps I misunderstood the scenario.

[2018-11-13 21:00] joshuacox commented on #1227
@rdodev they are all VMs on my home network, and can communicate with each other just fine, still waiting on the google router to learn the hostnames.  I guess I need to setup an internal DNS server, or assign them publicly available hostnames that resolve to internal addresses. But that seems excessive for just a test cluster.

[2018-11-13 21:03] rdodev commented on #1227
@joshuacox instead of dns for the etcd cluster, can you just use ips?

[2018-11-13 21:09] chuckha opened #1237 "Documentation must be updated for 1.13"
https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/

the phases have all changed and need to be validated. At the very least `kubeadm alpha phase certs etcd-ca` does not exist any more.

[2018-11-13 21:10] joshuacox commented on #1227
@rdodev I'm not really certain where that is set?  is it the name: line in the init cluster stuff?

[2018-11-13 21:14] chuckha commented on #1237
ah, moved to `kubeadm init phase certs etcd-ca`

[2018-11-13 21:15] neolit123 commented on #1237
@chuckha i have a PR planned for all cmd renames here:
https://github.com/kubernetes/website/pull/10960

i will start on that tomorrow. any remaining changes will go on top as separate PR.

docs / website tracking issue:
https://github.com/kubernetes/website/issues/10937

[2018-11-13 21:16] neolit123 commented on #1237
added small PR with bugfixes related to v1beta1:
https://github.com/kubernetes/website/pull/10988

[2018-11-13 21:19] timothysc commented on #1235
This is very similar to https://github.com/kubernetes/kubeadm/issues/1234 , I think we should just close this one as a dupe and fix the overall behavior for one.

[2018-11-13 21:19] #1235 closed

[2018-11-13 21:45] #1003 closed

[2018-11-13 21:45] joshuacox commented on #1227
@rdodev  that was a mistake, that indeed was not `extetcdetcd1` but actually `extetcdmaster1`, correcting that still leads to the taint failing:

[code]

[2018-11-13 21:48] rdodev commented on #1227
@joshuacox isn't clear to me from your original post, did you set up the external cluster using these instructions? https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/

[2018-11-13 22:03] mruepp commented on #1003
Thx guys

[2018-11-13 22:09] neolit123 commented on #1177
so init.go saw a heavy refactor and such an utility is not longer needed there IMO.
for upgrades it seems that we still need it.

@padlar your PR was only against init.go, you can send a separate PR for upgrades if you want.

/remove-lifecycle active

[2018-11-13 22:16] chuckha commented on #1236
I reproduced both the failure using the release-1.13 release branch and the the successful case using release-1.12.

[2018-11-13 22:17] joshuacox commented on #1227
yes I converted them into a single script:

https://gist.github.com/joshuacox/4505fbeceb2e394900a24c3cae14131c

in addition to that I am integrating them into [kubash](https://kubash.org/) of which I have a branch [here](https://github.com/joshuacox/kubash/tree/1.12.2)

Both of which allow me to repeat the entire procedure pretty quickly with something like:

[code]

or instead of the last step, u

[2018-11-13 23:13] liztio commented on #1057
Some experimentation notes:
If you provide a completely invalid `--apiserver-advertise-address`, `kubeadm init` fails entirely. However, if you provide a valid, alternate address (I used `127.1.2.3`), the node's eth0 ip is what ends up in the kubeconfig. In fact, the specified IP appears nowhere in any of the configmaps or files in `/etc/kubernetes`. This makes me think this value is only ever use

[2018-11-13 23:21] liztio commented on #1057
Code archaeology: The changelog for k8s 1.10 mentions a `--apiserver-advertise-dns-address`, but the PR referenced ultimately rejected that flag in favour of a config object change: https://github.com/kubernetes/kubernetes/pull/59288#issuecomment-363522776

[2018-11-13 23:35] liztio commented on #1057
The config file works. @mauilion:

[code]
invoked with:

[code]

Should produce the kubeconfig you expect:

[code]

I think that resolves the mentioned issue.  Please re-open if it doesn't!

[2018-11-13 23:56] liztio opened #1238 "--apiserver-advertise-address not persisted"
## What keywords did you search in kubeadm issues before filing this one

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

If you set `--apiserver-advertise-address` during `kubeadm init`, the address is checked and required to be valid during the setup process, otherwise `init` fails. . However, after set up, that address appears to be discared:

[code]
## Versions

**kubeadm version** (u

[2018-11-14 00:11] liztio commented on #1238
Possibly related: #582

[2018-11-14 00:14] #689 closed

[2018-11-14 00:31] joejulian commented on #413
That's an excellent point and I wholeheartedly agree.

[2018-11-14 01:41] yagonobre commented on #1204
I can work on it in the next cycle
/assign @yagonobre
/lifecycle active

[2018-11-14 01:48] neolit123 commented on #413
yes, there are no plans to modify the liveness probes from kubeadm, yet.

this rpi issue was qualified at a sig-cluster-cluster meeting as "something that should not happen", "seems almost like a race condition in the kubelet", "why does it only happen on rpi and not on slow devices". i have to admit i haven't tested slow devices myself.

i.e. there was an agreement that increasing this value:
htt

[2018-11-14 02:07] #1236 closed

[2018-11-14 02:49] neolit123 commented on #413
it is a small change, but it was agreed to not add this increase because it will also apply to systems that don't exercise the problem.

facing the end user is a goal for kubeadm, that's true.
but again it's only a report for rpis and the actual bug should be escalated to sig-api-machinery (api server) and sig-node (kubelet) and possibly reproduced outside of kubeadm.

you don't have to patch kube

[2018-11-14 05:40] khteh opened #1239 "kubeadm v1.12.2 startup errors"
## Is this a request for help?
Yes.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.12.2
**En

[2018-11-14 06:12] anguslees commented on #413
So .. what's wrong with that?  Anywhere we have timeouts, we're going to need to tune them for our slowest-ever system, not just some subset of our environments, no?

Another angle on this is that as an ops guy, I'm terrified of cascading failures in overload situations, particularly with the apiserver itself.   Afaics, the livenessprobe timeout **should only ever trigger when things have clearly

[2018-11-14 14:00] nikopen commented on #1224
as https://github.com/kubernetes/kubernetes/pull/70893 got merged, I assume this is now fixed. @neolit123 @fabriziopandini feel free to close if that's the case.

[2018-11-14 14:00] nikopen commented on #1224
/close

[2018-11-14 14:00] #1224 closed

[2018-11-14 14:30] neolit123 commented on #1239
this is a known problem as is already tracked in this repo.
also the flags are not going away soon.

[2018-11-14 14:30] #1239 closed

[2018-11-14 15:11] neolit123 commented on #413
adding a kubeadm configuration option for this is unlikely at this point.

i'm trying to explain that this is already doable with 3 commands:
[code]

[2018-11-14 16:21] borispf commented on #581
Thanks @danroliver! Only my single-node cluster it was enough to follow steps 1-6 (no reboot) then send a `SIGHUP` to `kube-apiserver`. Just found the container id with `docker ps` and set the signal with `docker kill -s HUP <container id>`.

[2018-11-14 16:33] neolit123 opened #1240 "document "init phase" at k/website"
should go under the reference docs for "kubeadm init" as authored content / section.

- give examples and explanation what phases do
- only one phase can be run at a time
- all flags should be at the end of command line (bug?)

i can do that here:
https://github.com/kubernetes/website/pull/10960

cc @timothysc @fabriziopandini
/assign
/kind documentation
/priority important-soon

[2018-11-14 16:37] timothysc opened #1241 "kubeadm subcommand behavior and sudo."
$ kubeadm init --apiserver-advertise-address="127.0.0.1" phase control-plane
[control-plane] Using manifest folder "/etc/kubernetes/manifests"
[control-plane] Creating static Pod manifest for "kube-apiserver"
error execution phase control-plane/apiserver: failed to create static pod manifest file for "kube-apiserver": failed to write static pod manifest file for "kube-apiserver" ("/etc/kubernetes/

[2018-11-14 17:34] GregSilverman commented on #1026
We're having the exact same issues on RHEL 7. This just stopped working out of the blue, too. This is critical for us.

[2018-11-14 17:44] #1237 closed

[2018-11-14 17:48] timothysc commented on #1175
I don't think this exists anymore could you verify.

[2018-11-14 17:51] #1125 closed

[2018-11-14 17:52] timothysc commented on #1102
This is only accessible via alpha command in 1.13

[2018-11-14 17:52] #1102 closed

[2018-11-14 17:56] timothysc commented on #971
closing due to other issues for tracking and other PRs are already in for 1.13

[2018-11-14 17:56] #971 closed

[2018-11-14 17:59] timothysc commented on #966
Focus on etcd upgrade docs

[2018-11-14 18:00] timothysc commented on #911
Closing.

[2018-11-14 18:00] #911 closed

[2018-11-14 18:06] mcastelino commented on #1227
Not sure if this is helpful or related. But I ran into this same issue when using kubernetes on Clearlinux when I was using VM's created using virt-manager. The issue was that the hostname was not resolving.

`nslookup myhostname` would not resolve.

Adding the hosts to /etc/hosts and ensuring nsswitch.conf uses it did not help.

The dns server (dnsmasq) that handles the VMs had to provide the res

[2018-11-14 19:04] neolit123 commented on #1026
i was never able to reproduce this problem, the cluster just comes back up fine after 2-3 minutes post reboot.
must be something related to individual setups.

[2018-11-14 19:32] GregSilverman commented on #1026
It seems as if my API server is no longer running. I've tried restarting kubelet several times, all to no avail. Funny thing is that this had been working and I haven't touched anything on it till yesterday when I was going to add more docker images for our cluster.

[2018-11-14 20:05] timothysc commented on #1241
Closing, this is something about my local overrides that are hitting the installed kubeadm version.  I've never seen this behavior before but when I full path it works properly.

[2018-11-14 20:05] #1241 closed

[2018-11-14 20:10] GregSilverman commented on #1026
I figured out what was going on. The `/var` directory had become full. It's now working as expected.

[2018-11-14 21:04] timothysc commented on #1226
Per conversation today, I think it's totally fine to outright remove some of the deprecated feature gates.

[2018-11-14 21:16] #1228 closed

[2018-11-14 22:23] liztio opened #1242 "Documentation for `certs renew --use-api`"
The `--use-api` version of renewal works a little different than the standalone version. Documentation should be added that explains:

* certificates may need to be [manually approved][manual]
* the certificate signer is not available [by default][signer]

Possibly just linking to the above articles is sufficient

[manual]: https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#approving-

[2018-11-14 22:46] timothysc opened #1243 "phase flags that don't make sense"
Currently global init flags show up on some phase sub-commands where they don't apply or make any sense.

in the example below:
[code]

Don't make sense in the context of the phase.

[code]

/assign @fabriziopandini @neolit123  @timothysc
/cc @rdodev

[2018-11-14 23:10] fabriziopandini commented on #1243
@timothysc
` kubeadm init phase addon` == ` kubeadm init phase addon kube-proxy` + ` kubeadm init phase addon coredns`, so it is implemented for getting the union of the flags of the two sub commands.
Rif https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/addons.go#L52

[2018-11-14 23:30] fabriziopandini opened #1244 "ValidateMixedArgs doesn't works in phases"
validate mixed flags doesn't work with phases, but in kubeadm init yes

the problem is here:
https://github.com/kubernetes/kubernetes/blob/0df79e4daa62dc91462061c4b0d4b76e6333da41/cmd/kubeadm/app/cmd/init.go#L182
because it creates closure on cmd (that is kubeadm init) instead of using the cmd is actually invoked.

to fix this the phase runner should be made aware of the command is running it

[2018-11-14 23:30] yagonobre opened #1245 "Missing flags on kubeadm init phase upload-config"
Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.0-alpha.0.104+e133ab274d17c6-dirty", GitCommit:"e133ab274d17c65efab05852eec50c511428b6a4", GitTreeState:"dirty", BuildDate:"2018-11-09T17:28:36Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}`

## What happened?
`kubeadm init ph

[2018-11-15 00:38] timothysc commented on #1243
Should we just hide the flags for the layer where you can't even use them? b/c from a UX perspective it's super weird.

We can only really use the last flags for the phase that it applies to.

`kubeadm init phase addon --apiserver-advertise-address coredns` for the users perspective looks like valid syntax.

I'm starting to lean towards hiding flags for sub-commands until you hit the leaves of the

[2018-11-15 01:29] anguslees commented on #413
I don't want an option, I'm trying to say the current value (15) should be changed unilaterally.

.. But I don't want to drag this out any further.  It's clear that the decision is to stick with the current value, so I will withdraw defeated.   Thanks for your patience :)

[2018-11-15 06:59] fabriziopandini commented on #1243
@timothysc
If we do as you suggest we are loosing the chance to invoke all the subcommands in one shot, that is something useful.

Possible way out:: automagically generate "all" subcommands at leaves level (certs all, contr-plane all) etc.

[2018-11-15 08:30] Lion-Wei commented on #817
Hi, @timothysc , I think there still an issue https://github.com/kubernetes/kubernetes/issues/70747 we should pay attention.

[2018-11-15 08:37] fabriziopandini commented on #1244
/lifecycle active

[2018-11-15 09:44] Arslanbekov commented on #1234
Hello!
We have the same issue like [#1235](https://github.com/kubernetes/kubeadm/issues/1235).
Any suggestions guys?

[2018-11-15 10:00] reddysandeep opened #1247 "Kubernetes Dashboard issue while login. #help wanted"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-11-15 10:04] reddysandeep commented on #1247
Versions
kubeadm version (use kubeadm version):

Environment:

Kubernetes version : v1.12.2
Cloud provider or hardware configuration: AWS
OS (e.g. from /etc/os-release):Ubuntu 16.04.5 LTS
Kernel (e.g. uname -a): 4.4.0-1067-aws
Others:

[2018-11-15 14:03] mariantalla opened #1248 "Failing test: kubeadm-gce-master on master-blocking"
**Which jobs are failing**:
[sig-release-master-blocking#kubeadm-gce-master](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-master)

**Since when has it been failing**:
2018-11-14. [843a67b21 in k/k](https://github.com/kubernetes/kubernetes/commit/843a67b215dcfa1781820a797c4c759e42e81d3a), [7d7a939a8 in k/test-infra](https://github.com/kubernetes/test-infra/commit/7d7a939

[2018-11-15 14:04] mariantalla commented on #1248
/kind failing-test

[2018-11-15 14:40] AishSundar commented on #1248
/assign @cjwagner @amwat
/sig testing
/priority important-soon
/milestone v1.13

This job passes fine on 1.13 branch. Can we look into what could be causing this? Thanks

[2018-11-15 15:01] AishSundar commented on #1248
This seems to be related to https://github.com/kubernetes/kubectl/issues/562

[2018-11-15 16:21] timothysc commented on #1248
Closing!

This is not out fault.

[2018-11-15 16:21] #1248 closed

[2018-11-15 16:49] rosti commented on #1238
The IP gets silently changed by the call to `netutil.ChooseBindAddress`. It's done because it's detected as a loopback address by `IsLoopback`. It actually checks only if the IP starts with 127.
https://github.com/kubernetes/kubernetes/blob/076adbf4a2a4675efa040a6a03657d216755001a/cmd/kubeadm/app/util/config/common.go#L166
https://github.com/kubernetes/kubernetes/blob/076adbf4a2a4675efa040a6a03657

[2018-11-15 18:13] mauilion opened #1249 "kubeadm should use advertise url when configuring the kube-apiserver etcd url."
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.0-alpha.0.300+12402742041386", GitCommit:"12402742041386b82c89b1c64cb855bdc1691928", GitTreeState:"clean", BuildDate:"2018-11-15T00:28:19Z", GoVersion:"go1.11.1", Compiler:"gc", Platform:"linux/amd64"

[2018-11-15 18:29] timothysc commented on #1249
@mauilion - does https://github.com/kubernetes/kubernetes/pull/69827/files solve this?

[2018-11-15 18:45] timothysc commented on #1249
Closing, b/c  https://github.com/kubernetes/kubernetes/pull/69827/files is going to merge soon and solves this.

Thx for filing @mauilion !

[2018-11-15 18:45] #1249 closed

[2018-11-15 18:50] seh commented on #918
Trying this with version "v1.13-beta.0," I see the following:
[code]
Here are the set of files:
[code]
Note that the _front-proxy-ca.crt_ file is there, and the certificate in _front-proxy-client.crt_ has its companion key in _front-proxy-client.key_.

[2018-11-15 19:16] mariantalla commented on #1248
Sorry, my bad! I unintentionally abused my power.

[2018-11-15 22:37] timothysc commented on #1154
Tim has expired freeze is tomorrow, if we have a repro we can try to backport where necessary.  Punting to 1.14.

[2018-11-15 22:50] timothysc commented on #1071
@fabriziopandini can we close?

[2018-11-15 22:52] timothysc commented on #1115
Closing on last merge.

[2018-11-15 22:52] #1115 closed

[2018-11-16 00:44] liztio commented on #1170
I'm noticing this warning in v1.13.0-alpha.3:

[code]

this makes me wonder if this is a thing we want to even support.

[2018-11-16 00:48] liztio commented on #1170
Some other error messages I've noticed: For me the error didn't happen inside curl, but when trying to create the prepull pods. upgrade-prepull-* all had errors like:

[code]

[2018-11-16 00:51] liztio commented on #1170
The logs are also full of noPodCidr for node master (master was the name I chose, the hostname was a typical aws ip-172-something-something-something

[2018-11-16 00:52] liztio commented on #1170
Unfortunately we're coming up to the deadline for v1.13, so we're going to have to punt this out. I suspect there's deeper issues here and I think the `advertiseAddress` workaround should work for now.

[2018-11-16 00:53] rdodev commented on #1170
I'm pretty sure I saw the same. I unfortunately tore down that cluster already.

I don't know if it's even a work-around rather than it being the happy path :)

[2018-11-16 07:52] #1066 closed

[2018-11-16 08:39] justlooks commented on #1056
great, and i use calico which clusterDNS address i should set ?

[2018-11-16 09:53] #1216 closed

[2018-11-16 10:36] neolit123 commented on #1066
@bradfitz
kubeadm 1.13 has warnings that use a fork of https://github.com/ghodss/yaml + https://golang.org/pkg/encoding/json/#Decoder.DisallowUnknownFields as a backend.

[2018-11-16 11:57] #1244 closed

[2018-11-16 15:02] seh commented on #918
Here we can see that the client certificate is signed by the CA, and that the private key matches the certificate:
[code]
What else would you suggest that I investigate here?

[2018-11-16 15:14] rosti commented on #1185
I can confirm this. My test setup features stock CentOS 7.5.1804 with k8s 1.12.2.
If I install Calico with `192.168.0.0/24` everything works like a charm. If I use the normal `192.168.0.0/16` it appears that pods don't have connectivity outside this range.
I'll investigate on this further.

An interesting thing is also that CoreDNS 1.2.2 crashes when using `/16` with the familiar loop detected mes

[2018-11-16 16:09] joshuacox commented on #1227
@mcastelino not entirely unrelated especially with the discussion about hostname stuff.  Of note, here in my situation I am using bridged networking and it is the router providing resolution here in my home setup and not dnsmasq from KVM/libvirt/virt-manager.

[2018-11-16 16:40] pperiyasamy opened #1250 "kubeadm init does't support feature-gates "HugePages=true""
BUG REPORT

When I run kubeadm init with --feature-gates="HugePages=true" option, it fails with unrecognized feature-gate key: HugePages error.

root@ubuntu:~/pods# kubeadm init --pod-network-cidr=193.168.0.0/16 --ignore-preflight-errors Swap --feature-gates="HugePages=true"
unrecognized feature-gate key: HugePages

## Versions

kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.

[2018-11-16 17:20] caseydavenport commented on #1185
@rosti I've seen the CoreDNS errors as a result of running network manager on the host - if that is running could you disable that and see if it fixes the issue?

[2018-11-16 18:54] timothysc commented on #1234
We are out of time, punt to 1.14

[2018-11-16 19:59] joshuacox commented on #1232
I think copying those files from the primary master and then sedding the address seems to be the way to fix this.

e.g.

`sed -i 's/10\.0\.0\.6/10.0.0.7/g' admin.conf`

`sed -i 's/10\.0\.0\.6/10.0.0.7/g' scheduler.conf`

`sed -i 's/10\.0\.0\.6/10.0.0.7/g' controller-manager.conf`

but then it ends with

[code]

[code]

[2018-11-16 20:05] timothysc commented on #1226
@fabriziopandini - close?

[2018-11-16 20:07] seh commented on #918
Pertinent discussion in the "kubeadm" channel of the "Kubernetes" Slack team:
- [Discussing call path to error](https://kubernetes.slack.com/archives/C2P1JHS2E/p1542395346261400)
- [Reproducing the failure, and noting the regression](https://kubernetes.slack.com/archives/C13J86Z63/p1542396824000800)

[2018-11-16 20:34] timothysc commented on #1156
gr8!

[2018-11-16 20:34] #1156 closed

[2018-11-16 20:47] dannymk commented on #584
Check:  https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3
specifically the field:  "apiServerCertSANs:"

[2018-11-16 22:42] rosti commented on #1185
Network Manager and firewalld are disabled. SELinux in permissive mode.
Rebuilding the cluster with Calico 3.2 didn't change anything either.

/assign

[2018-11-16 23:17] #1243 closed

[2018-11-17 00:03] guyplusplus commented on #1119
On k8s 1.7 I faced a similar problem (x509 error included inside /var/log/kube-apiserver.log) and could not find any certificate expired. We decided to restart the apiserver docker on the master node. It resolved the problem.

$ sudo docker ps -a | grep apiserver
af99f816c7ec        gcr.io/google_containers/kube-apiserver@sha256:53b987e5a2932bdaff88497081b488e3b56af5b6a14891895b08703129477d85

[2018-11-17 04:43] neolit123 commented on #1250
hi, kubeadm supports different feature gates compared to core k8s.
if you want to enable HugePages you need to pass this gate to the kubelet.

this can be done with the kubeadm v1alpha3 config.
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

create a file called `config.yaml` and write something like this to the file:
[code]

then call it with:
[code]

hope that helps.

[2018-11-17 04:43] #1250 closed

[2018-11-17 13:04] Joerg-L opened #1251 "Kubeadm flag —experimental-control-plane in Config file"
How can the flag  `- -experimental-control-plane ` for kubeadm join being set to the Configfile?

[2018-11-17 17:51] tannh commented on #1171
When kubernetes v1.13 is release ?

[2018-11-17 18:09] neolit123 commented on #1171
@tannh 3rd December.

[2018-11-17 18:17] tannh commented on #1171
https://kubernetes.io/docs/setup/independent/high-availability/
so with v1.12.2 stable, cannot creating HA cluster with kubadm.

[2018-11-17 18:20] neolit123 commented on #1171
you can create HA with 1.12.

[2018-11-17 18:29] tannh commented on #1171
This config below:
apiVersion: kubeadm.k8s.io/v1alpha3
kind: InitConfiguration
is for all nodes master, right?

[2018-11-17 18:32] neolit123 commented on #1171
it should not be giving you this error.
try combining the two configs in the same file like so:
[code]

[2018-11-17 18:52] neolit123 commented on #1251
i'm assuming you are using 1.13-beta?

this is example config to use on the joining control plane node.
[code]
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm#JoinControlPlane

[2018-11-17 19:29] Joerg-L commented on #1251
I’m just following this guide
https://kubernetes.io/docs/setup/independent/high-availability/#external-etcd

I’m at the step `Run the copied kubeadm join command from above. Add the flag “–experimental-control-plane”` for adding an additional master.

As I need to set pod-infra-container-image, reference this [post](url
https://github.com/kubernetes/kubeadm/issues/1186#issuecomment-433138705), I’

[2018-11-17 19:34] neolit123 commented on #1251
this tutorial is for 1.12.
so you need `apiVersion: kubeadm.k8s.io/v1alpha3`.

try:
[code]

[2018-11-17 19:51] Joerg-L commented on #1251
And where do I put the token and token hash in?

[2018-11-17 19:53] neolit123 commented on #1251
please read:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3#JoinConfiguration

[2018-11-17 19:56] Joerg-L commented on #1251
Or do I have the chance to pass the „pod-infra-container-image“ as flag to kubeadm join?

[2018-11-17 20:04] neolit123 opened #1252 "1.14-alpha.0: value in KubeletConfiguration is not written to disk."
latest 1.14-alpha master.

passing this config to `kubeadm init`:
[code]

and allowing init to finish, then doing:
[code]
shows:
[code]

Q:
- do we actually have an override for this value anywhere?
- why are we not allowing it?

[2018-11-18 00:07] etheleon commented on #1153
same issue

[2018-11-18 04:55] joshuacox commented on #1232
scratch the sed stuff, that was the insane part, sometime long ago while trouble shooting this I changed the url in admin.conf, that was where I went wrong. Everything after that killed the second master kubectl commands from working properly.

[2018-11-18 04:55] #1232 closed

[2018-11-18 05:13] joshuacox commented on #1227
just thought I'd make sure that all certs worked and networking was good so I ran the docker test command from the primary master that failed to mark

[code]

[2018-11-18 15:39] joshuacox commented on #1227
looks like maybe a permission issue?  here are the logs from an api container running on a master instance after it fails to mark itself master:

[code]

[2018-11-18 16:12] neolit123 commented on #1069
/lifecycle frozen
0.11 is not out yet:
https://github.com/coreos/flannel/releases

[2018-11-18 16:33] tannh commented on #1171
@neolit123
Thanks. My issue is solved. 👍

[2018-11-19 01:49] etheleon commented on #1153
@javacppc how did you solve this? When I ran systemctl start kubelet I get `error code`

[2018-11-19 02:27] venkatasykam opened #1253 "How to access the Dashboard?"
## Is this a request for help?: Yes

## What keywords did you search in kubeadm issues before filing this one? : **Dashboard**

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?: May be Feature

Choose one: BUG REPORT or FEATURE REQUEST

## Ve

[2018-11-19 03:29] neolit123 commented on #1253
hi, please try the support channels like stackoverflow:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

[2018-11-19 03:29] #1253 closed

[2018-11-19 08:13] bruceauyeung opened #1254 "failSwapOn in kubeadm-config file does not work"
/bug

[root@host-10-10-10-33 ~]# cat /tmp/kubeadm-config.yml
[code]

[root@host-10-10-10-33 ~]# kubeadm init --config=/tmp/kubeadm-config.yml

[preflight] running pre-flight checks
[preflight] Some fatal errors occurred:
        [ERROR Swap]: running with swap on is not supported. Please disable swap
[preflight] If you know what you are doing, you can make a check non-fatal with `--ignore-prefligh

[2018-11-19 09:41] pperiyasamy commented on #1250
hi, I have tried featureGates "HugePages=true" option with config.yaml, but still kubelet is not started and fails with the same error "server.go:148] unknown flag: --featureGates"

As per this [1] link, HugePages option is available only in Beta version from 1.10 and not in Alpha.
But when I try with the content for config.yaml file like below:

[code]

It fails with the error no kind "InitConfig

[2018-11-19 09:47] fabriziopandini commented on #1250
If I'm not wrong `ExtraArgs` is `map[string]string`so expected syntax is
[code]

[2018-11-19 09:53] fabriziopandini commented on #1226
@timothysc, IMO yes, but I leave final word on @neolit123 and/or @luxas cos this issue is a follow up from their comments

[2018-11-19 10:12] pperiyasamy commented on #1250
The above option throws the below error:

`v1alpha3.InitConfiguration.NodeRegistration: v1alpha3.NodeRegistrationOptions.KubeletExtraArgs: ReadString: expects " or n, but found {, error found in #10 byte of ...|reGates":{"HugePages|..., bigger context ...|egistration":{"kubeletExtraArgs":{"featureGates":{"HugePages":true}}}}|...`

[2018-11-19 10:32] fabriziopandini commented on #1250
@pperiyasamy
ohh sorry! If I have time I will try to test a possible way forward.
did you considered to use KubeletConfiguration to configure kubelet instead of going through NodeRegistration?

[2018-11-19 11:52] inercia opened #1255 "kubeadm ignores the etcd.local.image configuration parameter"
## What keywords did you search in kubeadm issues before filing this one?

`etcd`, `image`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:

[code]

## What happened?

When specifying an etcd image different than `k8s.gcr.io/etcd`, `kubeadm` seems to ignore it and use `k8s.gcr.io/etcd` anyway. (See the configuration file used at the bottom).

[code]

## W

[2018-11-19 12:09] Joerg-L commented on #1251
@neolit123 greate, your solution from https://github.com/kubernetes/kubeadm/issues/1251#issuecomment-439641887 works fine.
3 Masters are comming up
5 workes comming up
Kubernetes Dashboard can be deployed and is accessible.

Thanks for you help

[2018-11-19 12:09] #1251 closed

[2018-11-19 12:17] rosti commented on #1255
@inercia thanks for filing this issue!

A couple of things here. First, the kubeadm version looks wrong here (v1.6). Probably this was a different version.
Second, as of `v1beta1` in order to allow for upgrades in the most common cases of custom image overrides, the `image` field (from `v1alpha3`) was replaced by a couple of fields - `imageRepository` and `imageTag`. In your case your config shoul

[2018-11-19 12:19] rosti commented on #1255
/area UX
/kind documentation

[2018-11-19 12:30] neolit123 commented on #1226
i will monitor the issue tracker for user complains.

[2018-11-19 12:30] #1226 closed

[2018-11-19 12:41] pperiyasamy commented on #1250
@fabriziopandini , Thanks. Now I'm trying with adding HugePages option in the KubeletConfiguration.
Here are the steps I have followed:
1. kubeadm config print-default > config.yml
2. Add "193.168.0.0/16" for podSubnet
2. Append the HugePages configuration under KubeletConfigration in the config.yml file.
[code]
3. Run kubeadm init --v=1 --ignore-preflight-errors=Swap --config=config.yaml

But kub

[2018-11-19 13:47] bart0sh commented on #1252
/assign

[2018-11-19 14:10] lancedang commented on #1189
With the same kubeadm version, I have this question too. Is this the right flannel.yml I applyed url:
`https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml`
 I remember making it right not long ago, but I repeat today ,it goes wrong.

[2018-11-19 14:18] neolit123 commented on #1189
@lancedang
no it has a bug, use the steps here:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/
(search for flannel)

[2018-11-19 15:35] neolit123 commented on #1254
hello @bruceauyeung

this is failing because we have a kubeadm preflight check unrelated to the kubelet `failSwapOn` flag.
you need to pass `--ignore-preflight-errors=Swap` to make the check pass.

what can be done here is after reading the passed config file check if there is a kubelet configuration and if it has `failSwapOn` and if it is set to `false` skip the preflight check for swap.

[2018-11-19 15:51] bart0sh commented on #1254
As I'm currently looking at this area I'd take if if you don't mind
/assign

[2018-11-19 15:52] neolit123 commented on #1254
thanks @bart0sh

[2018-11-19 15:53] pperiyasamy commented on #1250
@fabriziopandini As you suggested, I have tried with KubeletConfiguration (below) and HugePage allocation works in the PODs.
[code]
@neolit123 sure, I will try this option too and let you know.

[2018-11-19 16:41] fabriziopandini commented on #1204
@yagonobre great!
Looking forward for the draft of the list of phases to be implemented!

[2018-11-19 17:03] fabriziopandini commented on #1071
No. Users are still required to do two actions for upgrading control-plane nodes ATM

[2018-11-19 17:08] neolit123 commented on #857
@seh that's a valid observation for a UX problem.

we should have node-name overriding the config, but i don't think we can do that for 1.13.
there is an issue in the k/kubeadm repo (don't remember the name) about the "meta-problem" of flag overrides, but we don't have good universal solutions yet.

[2018-11-19 17:13] seh commented on #857
Understood. Thank you for acknowledging the pain. Dealing with the current situation is possible with shell script facilities, but it would have been much easier to resolve had it been more obvious how the flag and the configuration file's presence interact. Documenting the current behavior—even if undesirable in the long term—would save a lot of confusion and frustration.

[2018-11-19 17:18] #1245 closed

[2018-11-19 19:31] chuckha opened #1256 "kubeadm fails to recognize etcd version for v1.1.3"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
[code]

## What you expected to happen?
I expe

[2018-11-19 19:46] chuckha commented on #1256
upgrade actually seems to fail entirely due to this bug:

`[upgrade/apply] FATAL: failed to retrieve an etcd version for the target Kubernetes version: Unsupported or unknown Kubernetes version(1.13.0)`

[2018-11-19 20:00] rdodev commented on #1256
+1 to this bug. Just replicated it twice.

[2018-11-19 21:03] #1255 closed

[2018-11-19 21:58] liztio opened #1257 "Move test utilites out of /test"
Currently we have a set of harnesses and utilities placed in kubeadm/test:
https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm/test/certs

This causes `workflow` to have a dependency on `test/`. Because we want the workflow portion of kubeadm to be vendorable, we should not be depending on the test/ package at all. These utilities should be moved somewhere else.

[2018-11-19 21:59] liztio commented on #1257
cc @neolit123

[2018-11-19 22:11] fabriziopandini opened #1258 "Cleanup external CA mode"
While testing v1.13 we discovered a regression in certs phases for sparse CA that was fixed by https://github.com/kubernetes/kubernetes/pull/71232

However, there is room for improving the current implementation as per comment https://github.com/kubernetes/kubernetes/pull/71232#pullrequestreview-176519779, but this requires a little bit of more thinking.

[2018-11-19 22:58] neolit123 commented on #1256
this is from last week. i patched it locally while testing.
we just need to bump some versions across kubeadm.

[2018-11-19 23:02] neolit123 commented on #1215
hi, no i don't think anyone is.
we should first do some decision making on how to proceed about it.

currently not a critical priority for 1.13.

[2018-11-19 23:34] AishSundar commented on #1256
@neolit123 is this the related PR? https://github.com/kubernetes/kubernetes/pull/71229

[2018-11-19 23:46] dannymk opened #1259 "Flannel installed however coredns errros with check that the calico/node container is running and has mounted /var/lib/calico/"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

Following the instructions at:  https:/

[2018-11-19 23:54] neolit123 commented on #1256
@AishSundar yes

[2018-11-20 00:39] dannymk commented on #1259
Well, weavnet produces the same error:

[code]

kubectl -n kube-system get pods
[code]

By the way, I had to add the same variables to the Weavenet yaml file:

[code]

[2018-11-20 01:07] neolit123 commented on #1259
i'm confused why this is happening.
`/var/lib/calico/nodename` is something that calico defines.

https://github.com/projectcalico/calico/search?q=%22%2Fvar%2Flib%2Fcalico%2F%22&unscoped_q=%22%2Fvar%2Flib%2Fcalico%2F%22

try removing any existing calico images / containers.

[2018-11-20 02:59] dannymk commented on #1259
Believe it or not I went into all three hosts and removed all docker images that had anything to do with Calico.  I also rebooted each system and I am still getting the same error.  I am confused myself.

[code]

[2018-11-20 03:20] neolit123 commented on #1259
could you please file a separate issue.

callico by default does depend on etcd:
https://github.com/projectcalico/calico/blob/master/v2.6/getting-started/kubernetes/installation/integration.md

did you try callico on the exact same running cluster before installing the other CNI plugins?

if you are willing to bring the etcd cluster down you can do this:
https://kubernetes.io/docs/tasks/administer

[2018-11-20 04:34] bradfitz commented on #1066
@neolit123, great, thanks for the update!

[2018-11-20 11:33] bart0sh commented on #1158
@timothysc This can be closed, I believe. I hardly imaging that this kind of error would be possible with the file that doesn't exist.

[2018-11-20 12:04] bart0sh commented on #1028
I don't see why we shouldn't allow user to explicitly override parameters in the user config and expecting them to take effect. Current approach looks like kubeadm silently ignores part of the user config, which doesn't look very user friendly to me.

Thoughts?

[2018-11-20 13:05] neolit123 commented on #1252
closing in favor of: https://github.com/kubernetes/kubeadm/issues/1028

[2018-11-20 13:05] #1252 closed

[2018-11-20 13:09] neolit123 commented on #1028
i released that if we allow the user to set some of these values it can introduce a security problem in kubeadm. the recent rotateCertificates PR https://github.com/kubernetes/kubernetes/pull/71221
is related to this.

options:
- A allow changes by the user but show warnings for deviations from the defaults.
- B always override with the security defaults, but document it.

A seems better to me, be

[2018-11-20 13:10] neolit123 commented on #1028
/priority backlog

[2018-11-20 13:11] bart0sh commented on #1028
A looks OK to me.

[2018-11-20 13:12] neolit123 commented on #1028
C always override but show a warning "[kubelet] Applying kubeadm security defaults."
these can be discussed in a kubeadm office hours meeting.

[2018-11-20 13:38] rosti opened #1260 "Simplify kubeadm minimum Kubernetes version bumps"
At the end of every release cycle the minimum supported Kubernetes version must be bumped.
The number of touched files and changes overall is large for something, that happens late into the release cycle. The process needs to be simplified, possibly by using more consts and/or helper functions. Not doing so risks breakages late in the release cycle.

The idea behind all of those PRs is to bump up

[2018-11-20 13:51] neolit123 commented on #1158
+1.

[2018-11-20 13:51] #1158 closed

[2018-11-20 14:36] bart0sh commented on #857
@seh, @neolit123, @timothysc here is a possible fix for this. Please, review.

[2018-11-20 15:16] chuckha opened #1261 "upgrade docs 1.12 => 1.13 (multi-control-plane and single control plane)"
We need to add a new document for upgrading from 1.12 to 1.13.

xref: https://github.com/kubernetes/website/issues/10937

- [x] single control plane (@chuckha)
- [x] multi control plane (@rdodev)

We will be pushing to https://github.com/kubernetes/website/pull/11094 PR

[2018-11-20 16:18] rosti opened #1262 "kubeadm config migrate v1alpha3 -> v1beta1 bugs"
kubeadm version (latest master):
[code]

1. Cannot migrate a file having only `ClusterConfiguration`.
[code]

2. Cluster + Join Configurations in the same file. Only `JoinConfiguration` is migrated.
[code]

3. Init + Cluster + Join Configurations. Only Init and Cluster configs are migrated. JoinConfiguration is ignored.
[code]

All of the supplied config combos can be used to init/join cluster wit

[2018-11-20 16:24] chuckha opened #1263 "Restarting kubelet restarted control plane components"
This might not be a kubeadm bug.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT
/kind bug

## Versions

**kubeadm version** (use `kubeadm version`): 1.13.0 (built from a recent commit after 1.13.0-beta.1

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release):
[code]
- **Kerne

[2018-11-20 16:40] chuckha commented on #1263
I think not updating the kubelet config before restarting causes this

[2018-11-20 16:47] neolit123 commented on #1263
AFAIK a new kubelet is not supposed to work with an old control plane. i had experience with random breakages doing that and also was confirmed to me the other they that this is not supported.

here is the discussion on upgrade patterns and support skew:
https://github.com/kubernetes/website/pull/11060

has this been working in past instances?

IMO we should be doing:

- have a running 1.12 cluste

[2018-11-20 16:57] neolit123 commented on #1261
/sig cluster-lifecycle
/priority critical-urgent
@kubernetes/sig-cluster-lifecycle-pr-reviews
/assign @tfogo @fabriziopandini
/cc

[2018-11-20 16:57] dannymk opened #1264 "coredns fails with invalid kube-api endpoint"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.2", GitCommit:"17c77c7898218073f14c8d573582e8d2313dc740", GitTreeState:"clean", BuildDate:"2018-10-24T06:51:33Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versi

[2018-11-20 16:59] dannymk commented on #1259
OK, this is what I did.  On a hunch I started from scratch and got it to work out of the box with one modification of the flannel pod network configuration before being applied to the cluster.  See issue #1264

[2018-11-20 17:04] neolit123 commented on #1259
@dannymk thanks for logging the other issue. can we close this, assuming it's not kubeadm related?

[2018-11-20 17:09] dannymk commented on #1259
Can we augment the instructions on the HA cluster to include these two variables in some way?  It could definitely save someone else days of work.

[2018-11-20 17:10] dannymk commented on #1259
Rebuild of master cluster with external ha worked as expected once we started with a clean slate.  Make sure you start from scratch so there are no lingering pods/images/instances.

[2018-11-20 17:10] #1259 closed

[2018-11-20 17:53] neolit123 commented on #1259
just want to ask for a second opinion.
but yes, i will be editing the HA docs the following days and we can add it.

[2018-11-20 18:23] #1263 closed, assigned to nobody

[2018-11-20 18:46] neolit123 commented on #1264
@dannymk
hm, it's the same issue as the issue we are currently typing in.

[2018-11-20 18:52] neolit123 commented on #1264
https://github.com/kubernetes/kubeadm/issues/193#issuecomment-434660423
is this the one?

[2018-11-20 19:19] rdodev commented on #1261
Splitting off HA section, so that doesn't block this PR or issue.

[2018-11-20 19:25] rdodev opened #1265 "Upgrade docs 1.12 => 1.13 (multi-control-plane)"
Documenting upgrade for highly-available control planes.

 - [x] external HA etcd
 - [ ] 3 control planes (fronted by an LB)
 - [ ] 1 worker node

[2018-11-20 19:30] rdodev commented on #1265
/assign @neolit123
/milestone 1.13

[2018-11-20 19:38] dannymk commented on #1264
Sorry, yes, that was the one that fixed the initial problem.   Celebrated too soon, I was kind of excited to see it go into service only to fail its liveness probe.  I think I saw an issue on this:

$ kubectl -n kube-system describe pod/coredns-576cbf47c7-4gdnc
[code]

I also notice:

$ kubectl -n kube-system logs coredns-576cbf47c7-4gdnc
[code]
Which may have to do with the svc being created in t

[2018-11-20 19:48] dannymk commented on #1264
Can https://github.com/apprenda/kismatic/issues/408 have something to do with this?

[2018-11-20 19:57] neolit123 commented on #1264
not sure, i asked if someone have seen something like that on slack and they said no.
we are currently busy with some 1.13 items.

[2018-11-20 20:02] dannymk commented on #1264
You know, maybe it is a good idea to post my initialization file:

[code]

[2018-11-20 20:06] luxas commented on #1215
You can use the `app/phases/*` packages today, which are aimed to be more "vendorable" than other code in kubeadm. We don't provide any guarantees for code stability though.
Implementing this kind of issue requires a full code review and written proposal.

[2018-11-20 20:12] neolit123 commented on #1215
there is also a minor problem at the moment where `kubeadm/app/phases` imports `kubeadm/test`, which holds integration tests and utils.
this has to be fixed once we claim a backend vendorable.

[2018-11-20 20:29] dannymk commented on #1264
Hmmm... I have a nagging suspicion that is I modify the kubernetes service to reflect the external load balancer instead of a clusterIP things would work.

[2018-11-20 21:15] chuckha opened #1266 "Improve error handling"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

Kubeadm handles errors in a somewhat hard to use and error prone way.

We spend too much time wrapping errors unnecessarily. What we want to be doing is wrapping errors with stack traces that don't already have stack traces. So anytime we call an external library (standard library included) we should be wrapping the error with errors.Wra

[2018-11-20 21:35] chuckha commented on #1266
True. This might also requires discussion of some kind as well. I'm out tomorrow but can bring it up the following week.

[2018-11-20 23:34] #1212 closed

[2018-11-21 01:31] #857 closed

[2018-11-21 05:09] joshuacox commented on #1227
finally have a successful method here:

prep the etcd nodes by running this script on the primary etcd node:

https://gist.github.com/joshuacox/9df2a029b04e63443b62c2824cf5fb95

[code]

and then initialize a master, this script can be ran on any host that has been keyed for ssh access to both the master and the primary etcd node

https://gist.github.com/joshuacox/f0f0b25e51df5638f3778d80d4af8c63

[2018-11-21 08:48] bart0sh commented on #975
the warnings message says "the IPVS proxier will not be used", which is 100% incorrect. It can be used as you've just pointed out. It is confusing.

[2018-11-21 09:13] youyongsong commented on #1116
@neolit123 I have tried kubeadm v1.12.2, the problem is resolved. I will close this issue.

[2018-11-21 09:13] #1116 closed

[2018-11-21 16:04] dbwest commented on #253
Did you use `make all KUBE_BUILD_PLATFORMS=linux/arm` to build it?

[2018-11-21 16:14] mkretzer commented on #1015
That helped, thank you very much! For all our clusters: Its upgrade time! :-)

[2018-11-21 16:21] dannymk commented on #1264
newlit123  What creates the kubernetes service in the default namespace?
[code]

[2018-11-21 16:58] seh commented on #1027
Has anyone considered adding a "daemonTaints" field to _kubeadm_'s `ClusterConfiguration` type that would allow operators to define locally-known taints that all system daemons like kube-proxy should tolerate? An example from my world: "nvidia.com/gpu" with the "NoSchedule" effect. I don't expect _kubeadm_ to know about that, but it would be nice if there was a common, structured way to tell it ab

[2018-11-21 17:56] neolit123 commented on #1027
so one of the reasons we didn't expose full control of the addon manifests in the latest iteration of the config was because we then lose some of the control when we do upgrades.

so by planning a field such as `"daemonTaints"` we need to evaluate upgrade scenarios too.

overall this falls in the the bucket of customization the we currently simply do not allow and users need to patch.

[2018-11-21 17:56] asantos2000 commented on #1153
same issue

[2018-11-21 17:57] neolit123 commented on #1027
this idea here is mostly outdated (and not approved) but it spawned a bit of a discussion about the problems at hand: https://github.com/kubernetes/kubeadm/issues/1091

[2018-11-21 18:03] seh commented on #857
It looks like [_kubeadm init_ still ignores the `--node-name` flag](https://github.com/kubernetes/kubernetes/pull/71270#issuecomment-440756099) when using a configuration file. So close...

[2018-11-21 18:17] #1227 closed

[2018-11-21 18:18] joshuacox commented on #1227
I've repeated this a few times now on bare metal and in VMs

[2018-11-21 18:18] seh commented on #1027
Thanks for the background.

Instead of "daemonTaints," I should have said "daemonTolerations," but you get the idea.

[2018-11-21 18:31] neolit123 commented on #1227
we have plans to improve both the way etcd is handled and a HA setup is created, removing some of the manual steps. this is in the roadmap for future releases.

[2018-11-21 21:29] atoato88 opened #1267 "Fix some names of tests in phases/controlplane/manifests_test.go"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
I found this in code reading on k/k master. So I don't use any kubeadm binary.

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## Wh

[2018-11-21 21:49] neolit123 commented on #1185
`/16` seems to be working for me using their 3.1 and 3.3 yams with a 1.13 control plane on Ubuntu 17.10:

marking this as `kind/ecosystem`.

@andrevtg please report this to the calico developers as this is not a kubeadm problem and also `/24` does not make sense as that is a very small range of addresses. well, it can work for some use cases  but we cannot have that in the kubeadm docs.

this is a

[2018-11-21 21:55] rdodev commented on #1185
@neolit123 I just did 2 different HA control plane with 1.12.2 using 192.168.0.0/16 for calico and didn't run into any issues. So perhaps a fluke?

All conformance passing: https://scanner.heptio.com/3a9be7cb7e2457c4654e1fb3e8f6dbaf/diagnostics/

[2018-11-21 22:14] neolit123 commented on #1264
a controller manager.

[2018-11-21 22:17] neolit123 commented on #1185
@rdodev

given @rosti reproduced as well this could be an issue on cent OS.
what distro are your running on the Heptio setup?

[2018-11-21 22:18] neolit123 commented on #1185
i'm seeing `Ubuntu 18.04.1 LTS` in the logs.

[2018-11-21 22:35] neolit123 commented on #1267
i don't think this is that much of an error, because the CP can be using a custom CIDR too.
but if someone want's to fix please send a PR.

please mind that i can be merged only after the release of 1.13. thanks.

[2018-11-21 22:59] jimcm commented on #1111
I am seeing the same problem. Details:

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.4", GitCommit:"bf9a868e8ea3d3a8fa53cbb22f566771b3f8068b", GitTreeState:"clean", BuildDate:"2018-10-25T19:13:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubec

[2018-11-22 01:07] liaoqiArno commented on #1111
yes, I use kubeadm1.12.2

[2018-11-22 03:34] joshuacox opened #1268 "kubeadm join labels node as master"
## What keywords did you search in kubeadm issues before filing this one?

node label kubeadm join

this one is similar:
https://github.com/kubernetes/kubeadm/issues/202

and I've been subscribed to that for a very long time, but this is unique to the external etcd method

Choose one: BUG REPORT or FEATURE REQUEST

/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Env

[2018-11-22 06:36] yuexiao-wang commented on #1267
I will work on it

[2018-11-22 08:42] liaoqiArno commented on #1264
I meet the same error!!
who can resolve it........

[2018-11-22 11:36] dannymk commented on #1264
Hmmm... I noticed this in all the kube-proxy pods:

[code]

[2018-11-22 13:55] fabriziopandini opened #1269 "join --experimental-master fails on clusters created with v1.12"
## Is this a BUG REPORT or FEATURE REQUEST?
/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):
v1.13.0-beta.1

## What happened?

`join --control-plane` failed with `` on a cluster created with v1.12 and then updated to v1.13.0-beta.1

## What you expected to happen?
`join --control-plane` pass

## How to reproduce it (as minimally and precisely as possible)?
create a cluster wit

[2018-11-22 13:58] fabriziopandini commented on #1269
This can be fixed by forcing etcd upgrade during v1.12 --> v1.13, but this brings some risks
So my proposal (already briefly discussed with @luxas) is to document this issue in release notes/ha upgrade document

@timothysc @neolit123  opinions?

[2018-11-22 14:03] neolit123 commented on #1269
by documenting it would we provide a workaround in the HA-upgrade doc?
given the etcd version remained the same between 1.12 and 1.13 AFAIK, what risk do we have by forcing the upgrade?

[2018-11-22 14:15] fabriziopandini commented on #1269
No, only tell the user that this alpha feature has a known problem in this scenario

Etcd "upgrade" imply some machinery to be executed, and that's implicitily brings some extra risk, that I'm not sure we want take at this stage of the cycle/for an alpha fefature/for a very specific use case

[2018-11-22 14:21] neolit123 commented on #1269
@rdodev  has promised to update the HA upgrade docs. we can discuss the exact phrasing here.
so isn't patching the etcd listening addresses in the manifest for this node before calling `join --experimental-control-plane` a workaround?

ok, that's true.
we did patch last minute problems in the alpha config, but there was less risk, so i agree.

[2018-11-22 14:29] fabriziopandini commented on #1269
manual patching can be a workaround. you are right
probably also calling `kubeadm phase etcd` with the right config will do the trick ...
I need to check this

[2018-11-22 15:37] ChangjunZhao commented on #193
For flannel network add-on to work correctly, you must pass --pod-network-cidr=10.244.0.0/16 to kubeadm init

[2018-11-22 15:45] luxas commented on #1269
Yeah, not worth it to do a potentially risky upgrade for no significant benefit for an alpha feature.
:+1: to do fix this as a "side-effect" of bumping etcd version in the next version, and documenting meanwhile.

[2018-11-22 15:49] fasaxc commented on #1185
How is core DNS configured, what upstream DNS servers is it using?  Has it somehow pulled in a resolv.conf that loops back to 127.x.x.x or its own service IP?  Saw that with kube-dns on Ubuntu at one point when they switched to using a local DNS proxy on 127.0.0.10, which of course resolved back to kube-dns when attempted inside the kube-dns pod.

[2018-11-22 16:01] joshuacox commented on #1268
as an aside note, the apiserver fails with this:

[code]

which is most likely not required once I get rid of the master label on the node, however, I did have to copy a number of certs before kubeadm successfully completed its join.  I've got a WIP script which combines it all here:

https://github.com/joshuacox/kubash/blob/1.12.2/scripts/final_node.sh

[2018-11-22 16:19] joshuacox commented on #1268
[code]

[2018-11-22 16:23] fabriziopandini opened #1270 "Error in join --control-plane"
Kubedam v1.13 raise an error joining a control plane node.

The error happens when connecting to etcd, and this problem is similar to what fixed by https://github.com/kubernetes/kubernetes/pull/70893 but gets triggered only during join control plane worflow

I have a fix in flight

[2018-11-22 17:55] sanattalwar1994 commented on #1056
I did same but facing same error my coredns pods not starting giving error state

[2018-11-22 17:56] sanattalwar1994 commented on #1056
I changed my ClusterDNS but still no effect  @justlooks

[2018-11-22 18:02] luxas opened #1271 "Merge flags and config correctly"
As discussed in e.g. https://github.com/kubernetes/kubernetes/pull/71323
related to #906 and a lot of other issues and pulls. e.g. @rosti had a PR that stalled.
The way we're gonna attack this issue is to solve it generically for k8s first with a `k8s.io/component` repo, and then start using the common code in kubeadm. Targeted for v1.14

KEP draft for `k8s.io/component` https://docs.google.com/do

[2018-11-22 18:02] luxas commented on #1271
cc @neolit123 @bart0sh @fabriziopandini @timothysc

[2018-11-22 18:09] luxas commented on #1028
I haven't had time to think though all aspects of a "security profiles" feature of kubeadm, but that'd be my requirement for the user to be able to start fiddling with enforced features. If we can warn the user easily we could always do that shorter-term, but it is intentional to not let the user use known "unsafe" features, so kubeadm always has a baseline of security stuff. The user can always m

[2018-11-22 18:19] dannymk commented on #1264
[code]

[2018-11-22 18:59] joshuacox commented on #1268
ok one note, do not add --experimental-control-plane to the node join but do add:

--ignore-preflight-errors=FileAvailable--etc-kubernetes-pki-ca.crt

and copy all the certs as I have done in those scripts, then run the joins and afterwards label the node as node.

[2018-11-22 20:18] luxas commented on #1268
@fabriziopandini bugfix needed for v1.13?

[2018-11-22 20:18] luxas commented on #1270
Fixed with https://github.com/kubernetes/kubernetes/pull/71360 :+1:

[2018-11-22 20:18] #1270 closed

[2018-11-22 20:33] fabriziopandini commented on #1269
@neolit123 @rdodev this workaround worked for me
[code]

[2018-11-22 22:40] dannymk commented on #1264
OK, for those of you that get to this point and are frustrated TRUST ME when I tell you that is is easier to destroy the etcd cluster and start from scratch than try to figure out this network issue.  After three days I got tired of debugging and troubleshooting and just decided to start from scratch which I had done a few times with the masters and the nodes however I left the etcd cluster intact

[2018-11-22 22:40] #1264 closed

[2018-11-22 23:06] neolit123 commented on #1264
sorry for your troubles. i think your database got in a corrupted state for some reason and keeping it around was probably not a good idea. also this is hard to debug...

there are already ways to reset etcd:
https://groups.google.com/forum/#!topic/coreos-user/qcwLNqou4qQ

also sig-cluster-lifecycle (the maintainers of kubeadm)
are working of a tool called: etcadm that will most likely have this f

[2018-11-23 00:40] joshuacox commented on #1268
I think its more of a doc fix.  Or get kubeadm join to ignore the ca.crt existing beforehand.

[2018-11-23 02:35] hongjyan commented on #433
Hi,
this problem should be fix but still i encountered.
[code]

with kubeadm init --config kubeadm-config.yaml
[code]
I tried removed serviceSubnet: 10.254.0.0/16 from config file, then do "kubectl get svc kube-dns -n kube-system -o yaml > kube-dns.yaml", then change it spec.clusterIP to 10.254.0.10, then apply this file, but immutable error throw out still.
[code]
I am entangled here about 1 day,

[2018-11-23 03:03] liaoqiArno commented on #1264
haha! I know which the problem occured!

ube-system   calico-etcd-h8h46                          1/1     Running   1          17h
kube-system   calico-kube-controllers-85cf9c8b79-q78b2   1/1     Running   2          17h
kube-system   calico-node-5pvsw                          2/2     Running   2          17h
kube-system   calico-node-7xvn9                          2/2     Running   2          17h

[2018-11-23 03:10] danderson opened #1272 "kubeadm init refuses to use link-local unicast IPs as --apiserver-advertise-address"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):

v1.12.2

## What happened?

I'm setting up a VM-based test harness that uses kubeadm to set up a small k8s cluster. The VMs are configured to set up IPv4 link-local addresses and use multicast DNS to find each other. Because of the way the VMs are set up, I have to override --apiserve

[2018-11-23 04:10] neolit123 commented on #1272
/remove-kind bug
/kind feature
/sig node
/priority backlog
/assign @kad
cc @rosti

@danderson
this is by design. our validation is only a sanity check, because the kubelet also ignores address in the host interface that are not global unicast:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/net/interface.go#L305-L308

loopbacks are also overriden:
http

[2018-11-23 05:19] neolit123 commented on #1200
/assign

[2018-11-23 07:11] fabriziopandini commented on #1260
@rosti thanks for filling this issue.
What about adding few more details so this can qualify as good first issue?

[2018-11-23 11:17] rosti commented on #1260
/unassign
/good-first-issue

[2018-11-23 12:13] fabriziopandini opened #1273 "kubeadm reset fails in case of external etcd"
kubeadm (v1.13.0-beta.2) reset fail in case of external etcd

[code]

[2018-11-23 13:49] jpedro1992 opened #1274 "Multi-scheduler example fails in Kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):

* **Cloud provider or hardware configuration**: Bare metal
* **OS** (e.g. from /etc/os-release):

* **Kernel** (e.g. `uname -a`):

## What happened?

I am following the multi-scheduler example to deploy a new schedul

[2018-11-23 14:15] rosti commented on #1185
Coming after a week back to this issue. I checked the routing table of my test machine. It turned out, that one of the network interfaces had an IP in `192.168.217.0/24`. Worse still, the gateway in that network was the default gateway. This explained why PODs with Calico CIDR IPs could not connect to the outside world and why the `192.168.0.0/24` CIDR worked for some users.
Changing the Calico CI

[2018-11-23 14:20] seh commented on #918
Trying release v1.13.0-beta.2 this morning, I see this new problem, which may be related to the reworking of the certificate phases:
[code]
I've never needed the _etcd_ CA certificate at that location before, given that my _etcd_ is hosted externally. The API server _etcd_ client files are there, as always:
[code]
If I copy the _etcd-ca.crt_ file to _etcd/ca.crt_, then _kubeadm init_ succeeds. If

[2018-11-23 14:33] seh commented on #918
Oh, I see what's going on: _kubeadm init_ now wants to find the _etcd_ CA certificate file at _etcd/ca.crt_, but in my _ClusterConfiguration_ file supplied to _kubeadm init_, the "etcd.external.caFile" field still mentions the previous _etcd-ca.crt_ file. It looks like I have to migrate both of these together. I'll try that now and report back on how I fare.

[2018-11-23 14:40] bart0sh commented on #1175
@timothysc I think it's safe to close it.

[2018-11-23 14:45] rosti commented on #1185
@neolit123 what is the best place to document that? Is the troubleshooting guide, the network plugin section in the "create cluster with kubeadm" page or the network plugin requirements page?

[2018-11-23 14:50] rdodev commented on #1185
@rosti fwiw, I think these belong to in the latter. I'm getting the sense we're overloading the kubeadm guide with all sorts caveats and tips -- while useful they tend to distract from the "happy path" steps we provide in the guide.

[2018-11-23 14:52] neolit123 commented on #1185
i think we should add this in the CNI->Calico section as a short paragraph.
the plugin is still widely used and this need to be seen by those who install it.

[2018-11-23 15:03] neolit123 commented on #1274
hello and thanks for the report. this seems more like a question for sig-scheduling /sig-auth in an issue to be added in the kubernetes/kubernetes issue tracker. but we usually recommend stackoverflow too as this doesn't seem like a bug.

if you got a running cluster using kubeadm, at that point interactions with the cluster that are not covered in the kubeadm guides are hard to be monitored and s

[2018-11-23 15:04] seh commented on #918
Well, fixing up that path now leads to this problem:
[code]
I confirmed that the _etcd_ CA certificate file on this master matches the CA certificate on all the _etcd_ servers, and that the API server _etcd_ client certificate is indeed signed with this CA certificate. Using these files with _etcdctl_ works just fine.

[2018-11-23 15:11] neolit123 commented on #1260
from my experience thus far, good-first-issue only qualifies for change requests that are **super simple**. :[
i will remove the good-first-issue and see if someone takes it as help-wanted.

[2018-11-23 15:18] neolit123 commented on #1273
the problem is here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/reset.go#L64-L67
cc @yagonobre

i can send a patch for this after 8 PM UTC.

[2018-11-23 15:40] rosti commented on #1185
I'd probably place it in the CNI paragraph directly, since all of the plugins can suffer from this (despite the fact, that Calico is most likely since it's using the 192.168.0.0/16 CIDR).

[2018-11-23 16:48] fabriziopandini commented on #1268
@luxas
I'm just finished tests on v1.13.0-beta.2 without noticing nodes with wrong labels. I will double check

@joshuacox

When joining a secondary control-plane you should add `--experimental-control-plane` (and ca.crt check will be skipped automatically)
When joining a worker node you should omit `--experimental-control-plane`  and ca.crt should not exist

[2018-11-23 17:43] yagonobre commented on #1273
@neolit123 I guess that the problem is on https://github.com/kubernetes/kubernetes/blob/94759c165f2320b6bca8ff43a40728c357d3afd7/cmd/kubeadm/app/cmd/reset.go#L210

We need `if err == nil  && cfg.Etcd.Local != nil`, I'm creating a etcd cluster to validate the fix

[2018-11-23 18:20] yagonobre commented on #1273
I teste with `if err == nil && cfg.Etcd.Local != nil` and this work!

[2018-11-23 18:44] yagonobre commented on #1254
/lifecycle active

[2018-11-24 05:24] pytimer opened #1275 "Kubeadm init successfully but kube-proxy and coredns pods not create"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:  virtual machine
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

kubeadm.yaml:
[code]

/etc/hosts:
[cod