[2018-08-18 19:18] MattiasGees commented on #949
I think this also causes problems on Ubuntu 18.04. I just did a clean setup of Kubernetes with `kubeadm 1.11.2` and both are set.

My `/var/lib/kubelet/config.yaml` points to `resolvConf: /etc/resolv.conf`, while `/var/lib/kubelet/kubeadm-flags.env` points to `/run/systemd/resolve/resolv.conf`. I think Kubelet was using `/etc/resolv.conf`. From the moment I copied my `resolv.conf ` from `/run/syst

[2018-08-18 22:33] stealthybox commented on #1063
One way to address this would be to add your APIServer LB certificate to the trusted certificates store on all of your Nodes.

I believe we mount these directories into all kubernetes components, and the kubelet typically runs as a systemd unit, so it definitely will use the host's cert-store

[2018-08-18 22:48] stealthybox commented on #1063
@motek80, if you want NGINX to perform TLS termination at L7, you'll need to deploy `/etc/kubernetes/pki/apiserver.{crt,key}` to your NGINX machine so that the APIServer identity is consistent with how the kubelet and other kubernetes components are configured.

These certificates are generated by kubeadm for you and are self-signed by default.
You can also use kubeadm in external-ca mode if you w

[2018-08-20 08:32] fanux commented on #1025
[code]

kubelet runonce can't start static pod..

[2018-08-20 10:13] kad commented on #1065
I'd like to remind about #939 :)

[2018-08-20 10:59] abha10 commented on #1047
silly check but have you set setenforce=0 ??

[2018-08-20 12:01] neolit123 commented on #949
@MattiasGees
`/etc/resolv.conf` is the default value in the kubelet. not sure how that would happen since the kubelet CLI flags always override the config and whats inside `/var/lib/kubelet/kubeadm-flags.env` is passed as a CLI flag.

[2018-08-20 13:07] deknos commented on #1053
this is not a ansible problem. that will be every time a problem, when a executed command does not support more environment variables. neither via export nor via shell variable. this should be a global parameter, which
* can be set
* perhaps set even persistently, so that after the first init, it is written into the config.

[2018-08-20 13:15] deknos commented on #1052
Would be even easier to do preflight checks within a docker container than in kubeadm itself. since containers have to adhere to linux environments, /proc/{cpuinfo,meminfo} could be parsed and you wouldnt have to worry about other environments? :-)

Better than nothing, i'll take it. Though i do not understand why you couldnt do the other thing (docker preflight check) in the long term :-)

[2018-08-20 13:33] neolit123 commented on #1053
if you are not using ansible this works fine:
[code]
if you are using ansible and `environment` field does not work, then this is a ansible bug.

AFAIK, this is the first time someone requests this feature.
but it has to be moved to the backlog because it's relatively low priority.

contributions are always welcome too!

[2018-08-20 13:36] neolit123 commented on #716
/close
https://github.com/kubernetes/kubeadm/issues/1041 is the tracking issue for air-gapped

[2018-08-20 13:36] #716 closed

[2018-08-20 13:49] neolit123 commented on #960
tracking issue for air-gapped support:
https://github.com/kubernetes/kubeadm/issues/1041

/close

[2018-08-20 13:49] #960 closed

[2018-08-20 15:55] neolit123 opened #1069 "remove SHA from flannel CNI instructions once 0.11 is released"
we are using a fixed SHA in the flannel instructions:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/independent/create-cluster-kubeadm.md

fix that to a version TAG once flannel 0.11 is released.

[2018-08-21 13:56] rosti opened #1070 "Re-enable fuzzer round trip tests"
With the merger of kubernetes/kubernetes#67441 fuzzer round trip tests will be disabled because v1alpha2 <-> v1alpha3 conversion is no longer lossless (see comment in `fuzzer_test.go`).

These tests need to be re-enabled when v1alpha2 gets deleted.

/kind failing-test
/area test

[2018-08-21 15:33] #905 closed

[2018-08-21 15:45] #638 closed

[2018-08-21 15:52] timothysc commented on #948
/assign @fabriziopandini

[2018-08-21 17:05] timothysc commented on #1040
cc @sysrich

[2018-08-21 21:50] timothysc commented on #936
/assign @liztio

I'm not certain this still is an issue anymore.

[2018-08-22 10:09] fabriziopandini commented on #1058
As for SIG discussion (see meeting notes - August 21 - 2018) we are going to block usage of feature gates and block updates on existing clusters in V1.12

[2018-08-22 12:48] fabriziopandini commented on #1058
/lifecycle active

[2018-08-22 14:27] MattiasGees commented on #949
What takes precedence in the kubelet in `1.11`? A cli flag or the config in `/var/lib/kubelet/config.yaml`? From my testing it seems to be `/var/lib/kubelet/config.yaml`.

[2018-08-22 14:31] sysrich commented on #1040
Indeed, and I fear I'm about to add another layer of complexity to the problem, but I hope in doing so we end up with a comprehensive solution

I think there are actually 3 classes or tiers of "configuration", and we need to deal with them in a structured and consistent way.

I'd describe the two being discussed so far are "user supplied config files" and "user supplied commandline flags"

My stro

[2018-08-22 14:38] neolit123 commented on #949
@MattiasGees
https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/#start-a-kubelet-process-configured-via-the-config-file

[2018-08-22 15:13] Klaven commented on #883
can I take this one?

[2018-08-22 15:33] neolit123 commented on #1040
i would like to bring Windows in the mix, because kubeadm has plans to support the OS.

and i would leave it others to comment more on the default configs in `/usr` and `/etc`, but something to note here is that while Linux has a **very unclear** definition of where applications should store their data, Windows often lacks corresponding folders.

the only thing that maps well is:
- `/home/user-nam

[2018-08-22 17:53] fabriziopandini commented on #948
@timothysc @rdodev
If I got this right an upgrade path for stacked etcd is required only if etch version changes. I'm right?
Is this use case expected with v1.12?

[2018-08-22 18:50] neolit123 commented on #1042
the role board is now open :tada:
https://discuss.kubernetes.io/c/contributors/role-board

@kubernetes/sig-cluster-lifecycle

we only have one entry in our [gdoc](https://docs.google.com/document/d/1iQ_Lola1s9_ilqbKLtZChDnbkqNt9uq1p6S1PbOkXCM/edit?usp=sharing) for now, but hopefully in time we can add more and post them at the board.

[2018-08-22 20:30] #998 closed

[2018-08-22 21:31] fabriziopandini opened #1071 "Improve UX for upgrade node experimental-control-plane"
https://github.com/kubernetes/kubernetes/pull/66973 implemented upgrade for secondary instances of the control plane via the new command `kubeadm upgrade node experimental-control-plane`.

This approach isolates the alpha feature from the main kubeadm workflows, but gives extra works to the users.

Once `join --control-plane` became not experimental we should review the approach to upgrades as wel

[2018-08-22 23:15] timothysc commented on #1071
/assign @liztio

[2018-08-22 23:16] timothysc commented on #1071
Thanks for filing @fabriziopandini

[2018-08-23 02:33] dixudx commented on #1042
Wow, good news! We can have more volunteers to help us.

[2018-08-23 16:38] yanhongwang commented on #122
Same with @rrichardson

[2018-08-23 22:02] fabriziopandini opened #1072 "Cleanup code for feature-gates HighAvailability, SelfHosting, CertsInSecrets"
https://github.com/kubernetes/kubernetes/pull/67786 deprecated feature-gates HighAvailability, SelfHosting, CertsInSecrets in v1.12, so in v1.13 cycle we could cleanup code from HighAvailability, SelfHosting, CertsInSecrets implementation.

As discussed in kubeadm office hours the 22 August 2018, we should consider if to preserve the pivoting logic (currently still accessible as `kubeadm alpha pha

[2018-08-24 07:42] zerkms commented on #28
@bronger have you reported one? could you refer to it please, I can confirm on a latest stable kubeadm `kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}` the problem still is reproducible.

[2018-08-24 08:21] zerkms opened #1074 "kubeadm v1.11.2 does not set service dns domain"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version

[2018-08-24 08:33] bronger commented on #28
No, I haven't so far.  Long vacation and business trip came into way.  @luxas Does it may sense to just re-open https://github.com/kubernetes/kubeadm/issues/83?

[2018-08-24 08:35] zerkms commented on #28
I think #83 perfectly fits, the new one would be identical

[2018-08-24 08:58] rosti commented on #1040
I think, that there are a few more things to consider here on those grounds:

- Yes, Windows and macOS are viable options for running kubeadm, but I don't think anyone is going to actually run it in production environments on those systems. So we must think Linux first, however...

- kubeadm is mostly executed by some sort of cluster deployment system - Ansible, Terraform, Vagrant, Cluster API, et

[2018-08-24 09:44] sysrich commented on #1040
That might be true for some aspects for some aspects of the configuration files, but I'd describe things like deciding which CRI runtime is being used by kubelet as far more foundational. `kubeadm reset` won't even work right unless it knows which runtime to reset.

I might be able to agree with your points for some aspects of the configuration, but at the very least for those related to the choic

[2018-08-24 11:47] rosti commented on #1040
I can agree on the CRI part, but even that can be viewed as part of the deployment recipe - one can wish to deploy a machine as part of one cluster with CRI-O and then decide to reset it and join to another cluster with Docker.

The thing that bothers me in that model is that it may now be `/etc` and `/usr`. Next, some other distro folks will ask, say "we don't like `/etc`, we want `/var`", then s

[2018-08-24 12:39] sysrich commented on #1040
But the `/usr` and `/etc` split mirrors exactly what is done by systemd, which is used as the default init system by the vast majority of distributions out there.

I'm not saying my proposed way is the only way forward, but we need forward and I strongly disagree with your implications that the status quo is acceptable.

If Kubernetes doesn't have sensible, standardised, consistent models that all

[2018-08-24 13:53] rosti commented on #1040
@sysrich thanks for the clarification. I agree with the expressed opinion. As long as all (or at least most of the) distros agree on the selected locations for default config files, I am perfectly fine with this.

[2018-08-24 14:44] neolit123 commented on #1074
once you call `kubeadm init`, what are the contents of?
`/var/lib/kubelet/kubeadm-flags.env`

do you have `systemd-resolved` enabled on your system?
AFAIK, Bionic is using `systemd-resolved` by default and the `--resolv-conf` for the kubelet should be automatically set to `/run/systemd/resolve/resolv.conf` by kubeadm.

[2018-08-24 21:35] zerkms commented on #1074
[code]

yes, it's a default ubuntu bionic installation

[code]

[code]

[2018-08-24 21:38] #528 closed

[2018-08-24 21:40] zerkms commented on #1074
I can share the complete script for vagrant and the rest so that anybody could reproduce it on their machines:

[code]

[code]

[2018-08-24 21:50] neolit123 commented on #1074
this is odd.

what happens if you temporary disable systemd-resolved (for testing only):
https://askubuntu.com/questions/907246/how-to-disable-systemd-resolved-in-ubuntu

and try `kubeadm init` again.
is `search` valid in `/etc/resolv.conf` and does `/var/lib/kubelet/kubeadm-flags.env` contain `--resolv-conf=/etc/resolv.conf`

sadly, i don't have experience with the vagrant-kubeadm setup yet.

[2018-08-24 22:01] zerkms commented on #1074
what is odd? It's a default search domain on the host machine. It might be anything here.

there is no `vagrant-kubeadm` there: it's a vagrant that sets up naked ubuntu bionic (for convenience), then I install kubernetes inside as usually on any other machine.

Do you really think I need to disable systemd-resolver, given it's a problem with container dns/coredns, not with the dns on the host mach

[2018-08-24 22:44] zerkms commented on #1074
Wait a second, did you mean that `kubeadm` should modify the host's `resolv.conf`?

[2018-08-24 22:55] zerkms commented on #1074
I disabled `systemd-resolved` and re-run `kubeadm` again (after a `reset`).

Results:

[code]
[code]

[2018-08-24 23:30] neolit123 commented on #1074
i just meant that i have never tried kubeadm with vagrant.
we do have this playground though:
https://github.com/kubernetes/kubeadm/tree/master/vagrant

going back to the first post:
[code]
the dns you pass on the command line is written correctly in the coredns Corefile.

kubeadm or the kubelet would not write resolv.conf files, managed by `systemd-resolved` or not.

perhaps i'm missing something

[2018-08-25 05:25] talktolanka opened #1076 "kube-dns CrashLoopBackOff"
I am following the  https://github.com/kelseyhightower/kubernetes-the-hard-way

After completing the installation getting following issue

**kubectl get po —all-namespaces**

kube-system kube-dns-598d7bf7d4-xfgfw 2/3 CrashLoopBackOff 10914 19d

**kubectl logs -n kube-system kube-dns-598d7bf7d4-xfgfw -c kubedns**

I0825 04:35:04.772663 1 dns.go:173] Waiting for services and endpoints to be initiali

[2018-08-25 06:16] zerkms commented on #1074
kubeadm generates slightly invalid kubelet config:

[code]
while it should be:
[code]

[2018-08-25 08:49] ewanbarr opened #1077 "MasterConfiguration parameters not propagated to /var/lib/kubelet/config.yaml"
## What keywords did you search in kubeadm issues before filing this one?

"MasterConfiguration", "swap", "KubeletConfiguration"

This may be related to #1028 and #1066 although in both those cases there is an explanation provided for the non-overrides (security enforced defaults and typo, respectively).

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (us

[2018-08-25 09:17] nielsole commented on #1054
https://github.com/kubernetes/kubernetes/issues/65071

[2018-08-25 09:17] nielsole commented on #1054
Just adding the link without typo again, so that github can link the issues: https://github.com/kubernetes/kubernetes/issues/65071

[2018-08-25 14:36] liheyuan commented on #1037
@chrisohaver Sorry for my late reply.

I'm setting the k8s cluster as an test env, so the QPS of dns is very low, around ~2 / sec.

[2018-08-25 23:31] timothysc commented on #906
I'm going to close this one in favor of the unification on handling issue.

[2018-08-25 23:31] #906 closed

[2018-08-25 23:32] timothysc commented on #911
Pushing to 1.13

[2018-08-25 23:32] timothysc commented on #923
Marked as deprecated in 1.12

[2018-08-25 23:32] #923 closed

[2018-08-25 23:34] timothysc commented on #936
@liz I'd use this issue to verify upgrade process.

[2018-08-25 23:35] timothysc commented on #941
Closing due to timeout on a response.

[2018-08-25 23:35] #941 closed

[2018-08-25 23:36] timothysc commented on #944
Closing PR merged a while back.

[2018-08-25 23:36] #944 closed

[2018-08-26 04:53] anupam4881 opened #1078 "Kubectl DeadlineExceeded/ NetworkPlugin cni failed : Unable to access services(NodePort) via Master Node"
[root@TPSERVER195 ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:13:03Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.6", GitCommit:"a21fdbd78dde8f5447f5f6c331f7eb6f8

[2018-08-27 09:20] nguyenlamlll opened #1079 "kubeadm join requires cri-socket parameter on Windows Server 2016"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Windows Server 2016 (run as a VM on Hyper-V)
- **Kernel** (e.g. `uname -a`): Windows NT
- **Others**: I have installed Docker EE on this m

[2018-08-27 09:33] kesterriley commented on #1076
I also get this, and am really struggling to resolve the issue.  I have rebuilt many times, and am going to have to give up soon.

https://stackoverflow.com/questions/52029987/building-a-bare-metal-kubernetes-cluster-with-kubeadm

[2018-08-27 09:36] anupam4881 commented on #1078
This problem-2 solved
Not able to telnet once we run ipam commond from masterIP:NodePort

cat <<EOF >  /etc/sysctl.d/k8s.conf
net.bridge.bridge-nf-call-ip6tables = 1
net.bridge.bridge-nf-call-iptables = 1
EOF
sysctl --system

But main case is still not fixed.

Kindly help

Regards
Anupam

[2018-08-27 11:17] bart0sh commented on #1079
@nguyenlamlll
In theory it can be fixed in master by [this PR](https://github.com/kubernetes/kubernetes/pull/65900)
However, nobody tested it on Windows I believe.

Did you build kubernetes for windows yourself? If so, can you build master binaries and verify they work for you?

[2018-08-27 11:26] bart0sh commented on #1079
you can also use pre-built windows binaries from here https://storage.googleapis.com/kubernetes-release/release/v1.12.0-beta.0/kubernetes-node-windows-amd64.tar.gz

[2018-08-27 12:11] neolit123 commented on #1077
hi, you should be using `kubeadm.k8s.io/v1alpha2` with 1.11.x

there are multiple ways to disable the swap fail:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for-systemd
in `/etc/default/kubelet`

or from the `v1alpha2` config:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

please re-open if the issue persists.
/close

[2018-08-27 12:11] #1077 closed

[2018-08-27 12:33] rosti commented on #1078
Hi @anupam4881, thanks for filing this issue!

Can you check which of the required `kube-system` pods are running?

[code]

[2018-08-27 12:36] neolit123 commented on #1074
we should probably set `clusterDomain` automatically for the kubelet based on `--service-dns-domain` in 1.12?
what do others think @kubernetes/sig-cluster-lifecycle

@zerkms as a workaround in 1.11.x you can pass a custom kubeadm config to `kubeadm init --config <kubeadm-config>` and in there include a `kubeletConfiguration` with `clusterDomain` field:
https://kubernetes.io/docs/reference/setup-to

[2018-08-27 12:42] neolit123 commented on #1076
@talktolanka

Kelsey Hightower's tutorial uses a slightly different approach to how kubeadm works.
we cannot provide support for that at the kubeadm issue tracker. you can try loggin an issue in the `kubernetes/kubernetes` repository or the `kubernetes-the-hard-way` repository . :)

@kesterriley

please open a new issue and follow the issue template.
thanks.

/close

[2018-08-27 12:42] #1076 closed

[2018-08-27 12:45] neolit123 commented on #1079
we also have this PR for the socket path on Windows:
https://github.com/kubernetes/kubernetes/pull/67447

it's not merged yet.

[2018-08-27 12:47] neolit123 commented on #1079
when you install docker on Windows you should open this socket/port:
`tcp://localhost:2375`

[2018-08-27 13:52] ewanbarr commented on #1077
Thanks, issue resolved. For posterity the following worked:

[code]

[2018-08-27 15:30] lzecca78 commented on #1054
Same issue here with single master solution. Current kubernetes version: 1.11.2 . We are just trying to add flags and the kubeadm upgrade process keep being stucked on scheduler in the same way.

[2018-08-27 15:56] weisjohn commented on #1056
I'm having the same issue as OP, and the description and use-case is just about the same: `kubeadm` on Centos 7.5 with one master that is operating as the worker node as well. I have the same issue and I the service DOES exist:

[code]

From the CoreDNS pods, I can't seem to do lookups out to the outside world, which seems strange:

[code]

To me, this means the CoreDNS pod can't see it's upstream

[2018-08-27 16:06] weisjohn commented on #1056
But, what's even stranger, is that a pod running on that master node CAN reach that IP address just fine:

[code]

[2018-08-27 18:27] weisjohn commented on #1056
Thanks again to @mauilion for spending so much time helping me diagnose this issue today!

My solution (albeit it quite terrible for now) was just to disable the `firewalld` service on my host OS:

[code]

Keep in mind what that command is actually doing ^. Do so at your own risk.

[2018-08-27 18:37] timothysc commented on #995
@MrHohn - originally I requested anti-affinity, then it was removed by the coreDNS folks.  I'm not certain why this was done.

/cc @kubernetes/sig-network-bugs

[2018-08-27 18:40] timothysc commented on #1038
This should be fixed for 1.11+

[2018-08-27 18:40] #1038 closed

[2018-08-27 19:09] chrisohaver commented on #995
[performance reasons](https://github.com/kubernetes/kubeadm/issues/995#issuecomment-408402033).  kube-dns did the same.

[2018-08-27 19:13] MrHohn commented on #995
Yep as @chrisohaver said it is mainly for performance reason. Ref the PR that reverted it: https://github.com/kubernetes/kubernetes/pull/60642.

[2018-08-27 20:08] timothysc commented on #1037
Hey folks, do we have a canonical repo setup?  I'm seeing a lot of anecdotal details, but not a 100% consistent reproducer...

[2018-08-27 20:42] timothysc commented on #1053
I'm going to close this one, b/c behavior exists today that allows folks todo what is being asked for.  If you have a proposed PR we'd happily review.

[2018-08-27 20:42] #1053 closed

[2018-08-27 20:44] timothysc commented on #1052
Perhaps we just update the docs to run the node e2e test suite prior to setup.

[2018-08-27 20:47] timothysc commented on #1058
Closing, the deprecation PR has merged.

[2018-08-27 20:47] #1058 closed

[2018-08-27 20:49] timothysc commented on #1066
/assign @liztio @timothysc

[2018-08-27 20:49] timothysc commented on #1066
I'm ok with just a simple error message that makes it easy to grok.

[2018-08-27 20:53] timothysc commented on #1074
@fabriziopandini - for 1.13 we should probably have a config param to cleanup the UX across components before we hit beta.

[2018-08-27 20:54] timothysc commented on #1079
closing b/c kubernetes/kubernetes#67447 has merged.

[2018-08-27 20:54] #1079 closed

[2018-08-27 21:02] chuckha commented on #928
this got fixed in referenced PRs

[2018-08-27 21:02] #928 closed

[2018-08-27 21:18] timothysc commented on #1061
/assign @stealthybox

[2018-08-27 21:20] timothysc commented on #526
@andrewsykim @d-nishi - are PRs up for cleaner cloud-provider integration now?

/cc @Bradamant3

[2018-08-27 22:35] neolit123 commented on #1052
@timothysc

we can do that.

however, @deknos noted that the users are going to miss the [system requirements](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#before-you-begin) notes and start a cluster anyway, which we don't handle correctly and it results in unexpected behavior:

given this is node specific it seems to me that this should be on the kubelet side.

what we can

[2018-08-27 23:27] #1051 closed

[2018-08-28 03:56] geauxvirtual commented on #1056
I ran into the same issue with kubernetes 1.11.2 and flannel 0.10.0 deployed to a CentOS 7 VM via kubeadm with a kube-proxy configured to use iptables. What I noticed is that I had no pod to pod or pod to service communications after initial deployment. Looking at the FORWARD chain on iptables, kube-proxy set up a KUBE-FORWARD chain as the first rule which should, upon inspection, handle all the t

[2018-08-28 12:38] verwilst commented on #937
I'm also running into this, while running kubespray with kubeadm enabled. I have 3 separate etcd nodes.

# /opt/bin/kubeadm init --config=/etc/kubernetes/kubeadm-config.v1alpha2.yaml --ignore-preflight-errors=all -v256

-- SNIP --

[markmaster] Marking the node k8s-acc-api01 as master by adding the label "node-role.kubernetes.io/master=''"
[markmaster] Marking the node k8s-acc-api01 as master by a

[2018-08-28 12:39] verwilst commented on #937
Using Kubernetes/kubeadm 1.11.2 on CoreOS.

[2018-08-28 15:59] riverzhang opened #1080 "Add other log backend for audit policy"
## What happened?
kubeadm audit featuregates  not support log-maxbackup and audit-log-maxsize
## What you expected to happen?
auditPolicy:
  logDir: /var/log/audit/kube-apiserver-audit.log
  logMaxAge: 30
  logMaxBackup: 2
  logMaxSize: 100
  path: /etc/kubernetes/audit-policy/apiserver-audit-policy.yaml

and apiserver command args:
    - --audit-log-maxage=30
    - --audit-log-maxbackup=2
    - -

[2018-08-28 16:38] riverzhang commented on #1080
/assign @fabriziopandini @timothysc

[2018-08-28 16:39] maheshmahadevan commented on #1026
Why is this closed ? I am facing similar issue on my VirtualBox VM with Centos 7..
So the only solution was to create a new box altogether ???

[2018-08-28 17:03] timothysc commented on #1080
The tentative plan from the community is to support the dynamic audit web-hooks.  We don't want to own the configuration for this feature other than to allow folks to pass it through via extra args.

[2018-08-28 17:03] #1080 closed

[2018-08-28 18:58] jnance86 commented on #1054
Exact same issue. 1.11.2 single master. Trying to upgrade apply --config flags.yaml and getting stuck at  api and then scheduler restarting.

[2018-08-28 19:50] praseodym commented on #1038
Does this mean Kubernetes ≥1.10.6, <1.11 is not supported by kubeadm any more?

[2018-08-28 23:00] mauilion opened #1081 "Kubeadm should preflight check on init and join if /etc/resolv.conf is pointed at 127.0.0.x"
## What keywords did you search in kubeadm issues before filing this one?
127.0.0.1 preflight

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): all

**Environment**:

[2018-08-29 02:35] neolit123 commented on #946
fixed by:
https://github.com/kubernetes/kubernetes/pull/67208
/close

[2018-08-29 04:39] anupam4881 commented on #1078
Hi
Please find the current status.

[root@TPSERVER195 ~]# kubectl get pods --namespace=kube-system
NAME                                    READY     STATUS      RESTARTS   AGE
backup-1535112600-2bct9                 0/1       Completed   0          4d
backup-1535371800-j9n6t                 0/1       Completed   0          1d
backup-1535458200-q8xwz                 0/1       Completed   0

[2018-08-29 04:42] anupam4881 commented on #1078
rub below command to release few ip
[root@TPSERVER195 ~]# kubectl exec -n kube-system  weave-net-bc2lb  -c weave -- /home/weave/weave --local rmpeer tpserver102
128 IPs taken over from tpserver102
[root@TPSERVER195 ~]# kubectl exec -n kube-system  weave-net-x2smj   -c weave -- /home/weave/weave --local rmpeer tpserver169
192 IPs taken over from tpserver169
[root@TPSERVER195 ~]#

[2018-08-29 05:02] maheshmahadevan opened #1082 "kubelet won't restart after reboot - Unable to register node with API server: connection refused"
## Is this a request for help?
Yes , I am opening a new issue since the https://github.com/kubernetes/kubeadm/issues/1026 issue was closed , but it still seems to affect a lot more people

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in k

[2018-08-29 06:36] motek80 opened #1083 "KubeADM HA setup with Nginx TCP forwarding cannot success"
## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.In

[2018-08-29 08:54] rosti opened #1084 "Narrow down the usage of InitConfiguration throughout the code base"
With the push towards `v1beta1` config, a lot of the internal structures got split and narrowed in scope.
However, the `InitConfiguration` is still the most widely spread type in the entire kubeadm code base. This was fine with the old `MasterConfiguration` since it was stored as is in a config map, but currently it's inadequate for a number of reasons:

- InitConfiguration is no longer stored in

[2018-08-29 11:52] rosti commented on #1083
Hi @motek80 and thanks for filing this issue!

Seems that the etcd container cannot start. Can you verify that you have fetched the required images using:

[code]

[2018-08-29 12:11] rosti commented on #1082
Hi @maheshmahadevan and thanks for filing this issue.

Can you check if the bridge traffic is flowing through the firewall?

[code]

[2018-08-29 12:34] maheshmahadevan commented on #1082
Here is the output from both the commands you requested

[code]

[2018-08-29 12:50] motek80 commented on #1083
@rosti: seems good

[code]

[2018-08-29 13:49] rosti commented on #1083
@motek80 does kubeadm init work now for you (after pulling the images) or the problem persists?

[2018-08-29 14:04] neolit123 commented on #1082
please post logs from the kubelet to verify that this is the same as:
#1026

[code]

#1026 was unresolved, so we cannot help much based on that.

something else to not is that after a reboot it might take a few minutes before a cluster can come back up.
`watch kubectl get nodes`

[2018-08-29 14:47] neolit123 commented on #1037
fixed in the latest coredns as outlined in:
https://github.com/kubernetes/kubernetes/pull/67392#issuecomment-416977715

[2018-08-29 15:14] rosti commented on #1082
Managed to reproduce the issue on a local CentOS VM following the guide. It appears that after restart SELinux is activated and it messes up the container mounts.

The exact cause of failure is an error in the API server:

[code]

The certs, static PODs and mounts in the actual containers were OK, but the API server was unable to access the file.

The issue is resolved by permanently disabling SEL

[2018-08-29 15:18] chrisohaver commented on #1037
@liheyuan  how often is CoreDNS OOM restarting.  If we assume the root cause was the recently fixed cache issue: At your cluster's 2 QPS (as you say above),  it would take at minimum about 24 hours for cache to exaust... and even then, only if every query made is unique (~230000 unique dns names), which is extremely unusual.

[2018-08-29 15:27] timothysc commented on #1081
/assign @detiber

[2018-08-29 15:45] timothysc commented on #706
/assign @detiber @chuckha @rdodev

We need to go through an update to the docs using the control-plane-join

[2018-08-29 15:50] timothysc commented on #1037
I'm reopening as we need a PR to update the CoreDNS image version to 1.2.2 and PR to update the image in gcr.io

[2018-08-29 15:56] rajansandeep commented on #1037
Yes, @timothysc I will be pushing the PR once the CoreDNS image is available in gcr.io

[2018-08-29 16:38] chrisohaver commented on #1081
Largely redundant with kubernetes/kubernetes#64665, which automatically detects the presence of systemd-resolved and adjusts kubelet flags.  Note that the PR also removed similar redundant pre-flight checks that were added earlier.

If we _do_ want this check (for general case when systemd-resolved is not involved), then it needs to be aware of systemd-resolved so it doesn't falsely trigger.

[2018-08-29 16:40] chrisohaver commented on #1081
That said, if kubernetes/kubernetes#64665 is failing to detect the `systemd-resolved` case, then that is a bug.

[2018-08-29 16:58] rosti commented on #1082
/assign

[2018-08-29 17:51] timothysc commented on #1037
xref - https://github.com/kubernetes/kubernetes/issues/68020

[2018-08-29 17:53] rajansandeep commented on #1037
@timothysc you mean update CoreDNS to v1.2.2?

[2018-08-29 17:58] timothysc commented on #526
xref - https://github.com/kubernetes/community/blob/master/keps/sig-cloud-provider/0019-cloud-provider-documentation.md

[2018-08-29 18:06] timothysc opened #1085 "GoDoc types and config"
Ideally, we maintain our examples in GoDoc that is updated with the code.

The init examples should then point to this GoDoc reference.

/assign @neolit123 @liztio

[2018-08-29 18:12] timothysc commented on #454
/assign @neolit123

[2018-08-29 18:15] neolit123 commented on #1081
@mauilion
what are the contents of `/var/lib/kubelet/kubeadm-flags.env` does it point to?:
`/run/systemd/resolve/resolv.conf`
if yes, then kubeadm detects `systemd-resolved` correctly.

Should the preflight check fail the user can provide a different resolv.conf to the kubelet with the --resolv.conf flag.

a couple of things:
- like @chrisohaver mentioned kubeadm automatically falls to a different

[2018-08-29 18:32] chrisohaver commented on #1037
@timothysc, This issue is in a test environment with 2 QPS.  I really don't think it's related to the cache issue fixed in CoreDNS 1.2.2 at all (which requires high QPS to manifest).

This could instead be a case of kubernetes/kubernetes#64665 failing to detect systemd-resolved, and adjust kubelet flags... or perhaps systemd-resolved failed and left the system in a bad state (e.g. /etc/resolv.conf

[2018-08-29 18:46] timothysc opened #1086 "CRI Installation Instructions"
We need a canonical doc that sig-node maintains - https://github.com/kubernetes/website/issues/9692

/assign @neolit123 @kad

[2018-08-29 19:03] chrisohaver commented on #1081
Well - this is a feature request - and the feature already essentially exists.  Sort of...

This may be new issue.  I was looking into systemd-resolved, and according to a (slightly old) discussion, when you stop it (via `systemctl`), it can leave /etc/resolv.conf in a bad state.  https://askubuntu.com/questions/907246/how-to-disable-systemd-resolved-in-ubuntu

kubernetes/kubernetes#64665 only det

[2018-08-29 19:18] timothysc commented on #726
I'm closing this one as the other PRs are up regarding clusterstatus and controlplane endpoint has moved.

[2018-08-29 19:18] #726 closed

[2018-08-29 19:26] timothysc commented on #1060
in 1.12 you can provide an initial taint on join and control-plane-join

[2018-08-29 19:26] #1060 closed

[2018-08-29 19:29] neolit123 commented on #1081
thanks for the explanation.
yes, if the 127.0.0.x check is added it has to be done over the file that the kubelet uses and not always over the `/etc/resolv.conf` file.

still waiting on @mauilion to indicate if systemd-resolved is detected as per the `/var/lib/kubelet/kubeadm-flags.env` file.

cc @kad for comments.

[2018-08-29 19:31] neolit123 commented on #863
today we had a discussion about what old kubeadm jobs to remove.
i will file a PR for this later today or tomorrow.

[2018-08-29 19:47] timothysc commented on #837
So 1.9->1.10 HA upgrade was not a supported or vetted path.

We are currently in progress on updating our maintain our docs for 1.11->1.12 which we do plan to maintain going forwards.

[2018-08-29 19:47] #837 closed

[2018-08-29 19:59] timothysc commented on #1044
xref - https://github.com/kubernetes/kubeadm/issues/706

[2018-08-29 20:55] kad commented on #1086
cc @bart0sh

[2018-08-29 21:54] sebt3 opened #1087 "error marking master: timed out waiting for the condition"
## What keywords did you search in kubeadm issues before filing this one?
The exact same message as in title

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23

[2018-08-29 22:30] neolit123 commented on #883
@Klaven is working on this. :tada:

please ask questions that you may have to me or @chuckha about this.
thanks.

[2018-08-30 05:31] liheyuan commented on #1037
@chrisohaver Just as the first topic, It keeps restart, which means it crash -> restart , when I use dns to ping a cluster service , it crash again.

No DNS query, no crash.

After a query, it then crash.

[2018-08-30 06:29] maheshmahadevan commented on #1082
Unfourtunately the above change did not work for me, attaching the selinux config.

[code]

I tried kubeadm reset and kubeadm init several times and still get same results

[code]
Kubelet journalctl entries , the last few lines are just repeated.

[code]

I do see that there seems to be an issue with container network not being ready . I also observered that there are no configuration entries in /

[2018-08-30 06:59] motek80 commented on #1083
@rosti : the problem persists

[2018-08-30 08:13] rosti commented on #1082
@maheshmahadevan It appears, that the API server is not running properly. Can you check if there is a running API server and see its logs. You can also fetch the logs of an instance that died recently.

[code]

After doing this, get the container ID (the first column) and use `docker logs <container-id>` to fetch the logs.

This can still be due to the above mentioned issue with SELinux if you hav

[2018-08-30 08:28] bart0sh commented on #1086
I used information from http://cri-o.io and https://github.com/kubernetes-incubator/cri-o when configuring CRI-O.
For containerd this can help I guess: https://github.com/containerd/cri

[2018-08-30 08:28] maheshmahadevan commented on #1082
Hi, You are right  that the api server is not running properly , but that was the case since the issue started . All the kube pods go into crash loop and then are stuck in pause mode. Here are the logs from the killed container
[code]

I had done couple of restarts of machine post setting SELinux and when it did not work also done a ```setencforce 0``` to debug the problem. Anything else you want

[2018-08-30 08:29] bart0sh commented on #1086
Any other CRI implementations to cover in the doc?

[2018-08-30 08:35] rosti commented on #1082
@maheshmahadevan the API server can't connect to etcd for some reason. Can you fetch the logs of the etcd container via the above mentioned procedure? Just replace `k8s_kube-apiserver` with `k8s_etcd`.

[2018-08-30 08:48] maheshmahadevan commented on #1082
I had checked them before , they don't print anything. Here is the output from all possible present etcd containers on my env.
[code]

[2018-08-30 10:50] rosti commented on #1082
The etcd container gets killed quite early in its life with SIGSEGV. This is quite odd. You may try to add debug level logging to see if that gives any clue what's happening.

To do that, edit `/etc/kubernetes/manifests/etcd.yaml` and add `--debug=true` option to the etcd command line. Then restart the kubelet service and look at the etcd logs.

[2018-08-30 10:54] motek80 commented on #1083
Here they are:

[code]

[2018-08-30 11:34] rosti commented on #279
ref #1026 #1082

While trying to reproduce the issues with latest CentOS I noticed that the API server cannot load its certificate if SELinux is set in enforcing mode.

Here is my comment:
https://github.com/kubernetes/kubeadm/issues/1082#issuecomment-416991032

[2018-08-30 11:35] motek80 commented on #1083
Alleluia!

Init operation succeeded with [name: "ip-172-31-26-63.eu-central-1.compute.internal"] added.

Why that actually required? I followed the official guide and I believe my deployment is standard.

BTW - setup prints me this warning:

Shall I do anything about this?

[2018-08-30 12:01] rosti commented on #1083
The guide is OK (sort of). It was just not meant to have a host name supplied to `--initial-cluster` as FQDN. etcd just checks if the value supplied to `--name` on the command line is matched as any of the keys supplied with `--initial-cluster`. etcd will refuse to start if it cannot find it there.

In the normal case (and as intended in the tutorial), they would match. Usually `--name` is supplie

[2018-08-30 12:04] motek80 commented on #1083
Thank you rosti for your help! I was struggling with this for a while...

[2018-08-30 12:11] rosti commented on #1083
@motek80 Can you close the issue once you get a running cluster and you feel like the advise here worked? Thanks!

[2018-08-30 12:33] maheshmahadevan commented on #1082
I set etcd command to --debug=true and still dont see any logs , i confirmed it was set to true by checking the kubelet journal entries. The VM has enough memory ~6GB left.

[2018-08-30 12:39] chrisohaver commented on #1081
Another thought about kubernetes/kubernetes#64665...

I think it only checks at init time.   It also needs to check at node join time, in the event that some nodes have `systemd-resolved` enabled, but the master (the one where `kubeadm init` was executed), was not running `systemd-resolved`.  I believe that `kubelet` passes `resolv.conf` from the local node it's running on to pods in "default" dns

[2018-08-30 13:13] bart0sh commented on #1086
I wasn't able to figure out which page to put this information in. I'd propose this one: https://kubernetes.io/docs/setup/independent/install-kubeadm/ We can rename "Installing Docker" to "Installing Runtime" and have 3 tabs there: Docker, CRI-O and Containerd.

[2018-08-30 13:25] neolit123 commented on #1082
@maheshmahadevan just to make sure.
does you VM has more than one CPU core allocated?

[2018-08-30 13:34] neolit123 commented on #1081
@chrisohaver the "kubelet phase" in kubeadm applies to both init and join time.
an ENV file that holds the resolv.conf param for the kubelet should be written for both cases.

[2018-08-30 13:49] rosti commented on #1083
Usually those get deployed as daemon sets, so I presume no. But it also depends on the network plugin of choice.

[2018-08-30 14:31] neolit123 commented on #1086
/assign @bart0sh

[2018-08-30 14:55] neolit123 opened #1088 "FeatureGates in both the ClusterConfiguration and in the JoinConfiguration"
as discussed in the kubeadm office hours on 29th August 2018, it was noted that we have feature gates  in both the ClusterConfiguration and in the JoinConfiguration for v1alpha3.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha3/types.go#L307

we need to figure out if there are use cases that make the feature gates in the JoinConfiguration required. otherw

[2018-08-30 15:05] timothysc commented on #1085
@mauilion @hhoover do you have concrete examples for the config that you would like to see.

I'll drop a link to the current example which we can port and cleanup.

[2018-08-30 15:10] neolit123 commented on #1086
@timothysc

not sure if that maps well with using https://kubernetes.io/docs/setup/independent/install-kubeadm/ though. we can potentially link to a new page from our page, except that i don't know where that new page should be.

possibly under https://kubernetes.io/docs/setup, but this should be coordinated with sig-node / sig-docs...

[2018-08-30 16:00] timothysc commented on #794
We're going to have to punt this to 1.13 due to code freeze.

[2018-08-30 16:05] timothysc commented on #920
@maheshmadpathi  - closing due to lack of response.  Please feel free to reopen if you believe there is an issue with the documentation outlined here - https://kubernetes.io/docs/setup/certificates/

[2018-08-30 16:05] #920 closed

[2018-08-30 16:10] timothysc commented on #947
Closing this issue due to lack of solid reproducer instructions.
Please reopen if there is still an issue.

[2018-08-30 16:10] #947 closed

[2018-08-30 17:03] rhatdan commented on #279
AVC Messages?

ausearch -m avc -ts recent

[2018-08-30 17:14] maheshmahadevan commented on #1082
@neolit123 Yes , VM has 2 cores

[2018-08-31 01:13] mauilion commented on #1057
No it needs to be the fqdn as the kubeconfig it mints needs to point at the fqdn of the lb.

[2018-08-31 01:16] mauilion commented on #1081
I will take a shot at reproducing this

[2018-08-31 02:55] Coolfeather2 commented on #106
Running Kubernetes 1.11
modifying kube-apiserver.yaml manifest to have for OIDC and the container won't come up - nothing logged about creating the container in the kubelet
modified the command section to include:
[code]

kubelet log:
[code]
container `"startedAt": "2018-08-30T07:31:11Z"`
the pod exists but its not bringing up the api container in docker
[code]

[2018-08-31 04:52] maheshmahadevan commented on #1082
Hi, made some progress possibly with regards to the issue. I tried to spin off a new etcd container and run the command on the shell inside container. All i could get was a Segmentation fault.. Please note the error is same with or without the cmd line args. Does this help ?
[code]

[2018-08-31 07:35] pkeuter commented on #1056
Please check the `clusterDNS` variable in `/var/lib/kubelet/config.yaml` . For our configuration this was set (incorrectly) to `10.96.0.10` whereas it should have been `10.244.240.10` (that's what we've bootstrapped our cluster with) . Changing this and restarting kubelet fixed the issue for us. Your mileage may vary though.

[2018-08-31 08:54] rosti commented on #1082
@maheshmahadevan this seems like a problem with etcd itself. Could be that your CPU is too old, there is a problem with your hypervisor, a memory issue, etc. You can checkout with the etcd issue tracker and see if someone can help you there.

https://github.com/etcd-io/etcd/issues

[2018-08-31 08:58] rosti commented on #279
@rhatdan

[code]

[2018-08-31 09:18] maheshmahadevan commented on #1082
@rosti Thanks , i will try to check with etcd issue tracker , but the strange thing is that I ran the cluster for whole 2 days without any issues , the issue came up only after a reboot of the VM.

[2018-08-31 12:07] rosti commented on #1088
From the code base I can deduce, that only `DynamicKubeletConfig` is used from the JoinConfiguration. It's basically used in the same way from the InitConfiguration too. So I presume, that it will be a good thing to have this feature gate fetched from the ClusterConfiguration stored in the config map. That way we can have uniform configuration for the kubelet across an entire cluster.

[2018-08-31 12:26] rhatdan commented on #279
You are volume mounting some content in /etc/pki into the container?

[2018-08-31 12:34] kad commented on #1081
I think creating new check that will parse supplied (or default) `resolv.conf` and produce warning if it has no usable external dns servers specified will be ok-ish solution.

[2018-08-31 12:36] kad commented on #1012
/assign

[2018-08-31 12:43] rhatdan commented on #279
If no other confined processes are reading these files other then containers, then you could mount it using :z, or chcon -t container_share_t -R /etc/kubernetes/pki

[2018-08-31 12:44] kad commented on #701
/assign @kad

Passing proxy variables to control plane by kubeadm was a resolution to earlier issues. Some users have that unusual setup.

We nowadays have checks that validate that internal traffic for cluster CIDR ranges is included in `no_proxy` settings. However, we recently found few other corner cases which cluster administrator can forget to specify. I'm planning to look how to add checks f

[2018-08-31 13:00] rosti commented on #971
There are some `kubeadm reset` related issues:

- [ ] #689
- [ ] #932

[2018-08-31 13:08] chrisohaver commented on #1056
@pkeuter, 10.244.0.0/16 is the default the _pod_ cidr for flannel.  If that's so in your case, then `10.244.240.10` would be a pod IP, which you shouldn't use as your cluster-dns ip setting (re: it could change, no load balancing).

[2018-08-31 13:49] timothysc commented on #971
@rosti The general theme is kubeadm reset is not consistent on the cleanup.

1 - issue WRT iptables rules imo is outside the scope of kubeadm and falls on the proxy.  But that doesn't mean that the proxy shouldn't support a cleanup option that kubeadm can call.

the other CRI cleanup issues definitely is in our wheelhouse.

[2018-08-31 13:59] liztio commented on #1066
sig-api-machinery is working on this:

kubernetes/kubernetes#67477
kubernetes/kubernetes#67594

unfortunately it looks like the PR to double-upstream (ghodss/yaml) got rejected, so they're not targeting v1.12 anymore.

I could write my own workaround, using `reflect` and a map, but we may just want to wait on k/k to merge the proper solution (especially since this is still alpha in v1.12)

[2018-08-31 14:00] dims commented on #1037
@timothysc fyi CoreDNS version 1.2.2 is now available on gcr.io

[2018-08-31 14:10] timothysc commented on #971
/assign @rosti
/unassign @timothysc

[2018-08-31 14:13] liztio commented on #1066
@dims is trying again with ghodss/yaml#38, gonna call this blocked on that.

[2018-08-31 14:34] pkeuter commented on #1056
It is not:
![image](https://user-images.githubusercontent.com/433441/44918579-9f2cf700-ad3b-11e8-8323-81a0451ddf6a.png)

[2018-08-31 14:37] rosti commented on #279
Thanks @rhatdan I'll try that next week.

[2018-08-31 14:43] rosti commented on #1082
@maheshmahadevan yes, that looks really strange. Could be on disk data corruption. You can try to `docker rm` the etcd image and then `docker pull` it again.

[2018-08-31 14:44] timothysc commented on #1066
We're going to have to punt this to 1.13 due to the dependency chain and 1.12 freeze.

[2018-08-31 16:16] riverzhang opened #1089 "how to use ipvs mode for kube-proxy by kubeadm"
how to use kube-proxy's ipvs mode. Kubeadm does not have an introduction document, and users don,t know which ones need to be manually operated.Such as loading the kernel, etc.

[2018-08-31 16:19] mauilion commented on #1081
Agreed at least we should complain at join/init time that we are doing this magic for you :)

[2018-08-31 21:52] timothysc commented on #1089
/assign @neolit123

Lubomir can you see this one through.

[2018-08-31 23:46] #206 closed

[2018-09-01 12:10] sebt3 commented on #1087
Since I've seen i'm not the only one having the kubelet registration issue (see #1026), I've decided to dig at which versions the issue start apearing. I first tried 1.10.4, since it was the last 1.10 I used successfully. And kubeadm finish succesfully. That test excluded my network configuration changes and hardware changes. So I tried 1.10.7, and it worked like a charm too.
Then I tried 1.11.0.

[2018-09-01 12:12] sebt3 commented on #1026
Using version 1.11.2 and you would fail in my own issue (#1087). Using version 1.11.0 would fail the exact same way.
The last working version is 1.10.7.

[2018-09-02 01:16] sebt3 commented on #1087
I now fail to reproduce the issue...

[2018-09-02 01:16] #1087 closed

[2018-09-02 11:05] fabriziopandini commented on #1088
+1 on cleaning up.

IMO this should be generalized as a design principle and applied to other fields as well (e.g. `JoinConfiguration.ClusterName`)
- All cluster-wide settings should be fetched form `kubeadm-config` ConfigMap only; if there are `kubeadm join` flags and/or entries in the `JoinConfiguration` struct for cluster-wide settings, those flags/entries should be removed
-  All node specific

[2018-09-02 11:13] fabriziopandini commented on #706
@timothysc IMO this issue should be closed as soon as https://github.com/kubernetes/kubernetes/pull/67944 merges

[2018-09-02 22:44] outcoldman commented on #1062
Does not feel like a product bug, but documentation bug (just a missing manual). Current we have only pages on how to install kubernetes with kubeadm with docker as container runtime, we should have another one for cri-o.

[2018-09-03 04:50] anupam4881 commented on #1078
Any update one same, today we again hit by same problem , now we run rmpeer every time and restart pod to fix this temp.

Regards
Anupam

[2018-09-03 07:07] maheshmahadevan commented on #1082
I somehow managed to get the cluster up and running by following the instructions in https://github.com/kubernetes/kubeadm/issues/881#issuecomment-396638808
i changed the hostname to localhost . I am also not sure what caused to fix my issue though.

I suspect it has something to do with etcd not able to resolve my localhost correctly

[2018-09-03 08:34] #1082 closed

[2018-09-03 09:03] rosti commented on #1078
Hi @anupam4881 seems that your cluster runs out of IPs. Can you use `weave ps` to check the status of allocated IPs?

[2018-09-03 12:14] pablodav opened #1090 "kubeadm nodeselector for kube-proxy"
## What keywords did you search in kubeadm issues before filing this one?
windows
nodeselector

## Is a FEATURE REQUEST

## What happened?

kubeadm initializes kube-proxy without nodeselector

## What you expected to happen?

kubeadm initialize kube-proxy with `nodeselector: beta.kubernetes.io/os: linux`

## Anything else we need to know?

As discussed in: https://github.com/kubernetes-incubator/k

[2018-09-03 12:57] neolit123 commented on #1090
currently, in kubeadm, kube-proxy pods can be scheduled on any node, because there are cases where users want to run the addon on worker nodes too.

in the future, there is potential for exposing the addon manifests that kubeadm uses for better control of what node restrictions apply to the addons.

also, it becomes a question if kube-proxy works OK on windows.
if not you need to apply the `nodeSe

[2018-09-03 13:19] neolit123 opened #1091 "Improvements to the handling of cluster addons"
this is a tracking issue for addon improvements.
it has a proposal that possibly needs discussion.

a couple of problems:
1) addons rely on the same image repository as the control plane images.

addons don't follow the k8s versioning and the users don't have control of what version of an addon is pulled.

2) addon manifests are hardcoded in kubeadm and the users need to patch the cluster if they

[2018-09-03 14:03] rosti commented on #1091
I like the idea. A couple of notes though:

- `image` should probably be `images` and have an array of images. This covers the `kube-dns` case where 3 images are needed.
- Stuff stored in the manifest files should be templated. A standard structure for addon templates should be created (probably containing stuff like the images, addon name, ClusterConfiguration, node stuff). This way we can standa

[2018-09-03 15:32] neolit123 commented on #1041
https://github.com/kubernetes/kubernetes/pull/67397
got merged

[2018-09-03 15:32] #1041 closed

[2018-09-03 16:17] pablodav commented on #1090
Thanks!

[2018-09-03 16:27] neolit123 commented on #399
/remove-lifecycle stale

[2018-09-04 02:46] #495 closed

[2018-09-04 07:34] heng-Yuan opened #1092 "kubeadm init error marking master: timed out waiting for the condition"
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:50:16Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Inf

[2018-09-04 08:05] rosti commented on #1083
@motek80 can we close this issue now? Did you get a working cluster?

[2018-09-04 08:47] rosti commented on #1092
Hi @heng-Yuan and thanks for filing this issue!

Can you check the state and logs of kubelet and the API server container (of course you can filter out any information you deem sensitive):

[code]

Note that `ebeae2ea255b` is your API server container ID.

[2018-09-04 10:32] motek80 commented on #1083
@rosti Yes, I it works. I closing this issue. Thank you

[2018-09-04 10:32] #1083 closed

[2018-09-04 10:58] wachuwach commented on #1079
Hi,

When can I expect binaries with fixed this issue? Any other (which) versions doesn't have this issue?
https://github.com/kubernetes/kubernetes/releases/

[2018-09-04 10:59] neolit123 commented on #1079
@wachuwach

1.12 - to be released late September.

[2018-09-04 13:37] chuckha commented on #1091
Should the images/repository field go in the manifest file instead of outside the custom configurations? If not, what makes the images/repository more special than the configuration of the plugin?

[2018-09-04 13:44] rosti commented on #1091
If we use an array of images, we can handle the case with non-obvious dependencies (like in the kube-dns case) and still have a fully functional image pre-pulling. However, if we can use only a single image there, then I agree with you, that this is pointless.

[2018-09-04 13:46] neolit123 commented on #1091
currently the manifests include types like `DeamonSet`, `Service`, `Deployment`, which are API types.
if we want the image list to be defined in a file, then we need to define a custom structure.

[2018-09-04 14:09] neolit123 opened #1093 "tracking issue for self-hosting solutions and proposals"
tracking issue for self-hosting solutions and proposals.

related to:
https://github.com/kubernetes/kubeadm/issues/1072

the `SelfHosting` alpha feature gate is being deprecated in 1.12 and removed in 1.13 for a couple of main reasons:
- the feature can be qualified as difficult to maintain in it's current form
- no feedback or support from the community for this alpha feature

in more than one SI

[2018-09-04 16:11] fabriziopandini commented on #1091
@neolit123 thanks for putting this together
Some personal thoughts about this thread
- kubeadm should manage only two addons: a proxy and a dns (currently in two variants). For all the other addons there are already plenty of alternatives kubectl apply, helm, kustomize etc
- kubeadm should support add-on customizations up to a certain limits (e.g images, cluster wide component config + eventually

[2018-09-04 16:16] neolit123 commented on #1091
ok, these two are some good points.

this also makes perfect sense, except all the reports i've seen about this feature were about using custom changes in addon manifests with `kubeadm init`. phases are powerful, but it seems that the users want this from `kubeadm init`, because it's the simpler UX.

[2018-09-04 16:32] stealthybox commented on #1093
Discussed during [kubeadm office hours - Wed, Aug 22](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.q37534uzvg06)

Thanks @mikebryant for much-needed user feedback

[2018-09-04 17:50] neolit123 commented on #868
/lifecycle active

i have a doc in the works for this.
will update once we have this PR merged:
https://github.com/kubernetes/test-infra/pull/9219

[2018-09-04 20:46] neolit123 commented on #1064
/close

in favor of:
https://github.com/kubernetes/kubeadm/issues/1091

[2018-09-04 20:46] #1064 closed

[2018-09-04 20:53] liztio commented on #918
Verified. Quick and easy repro:

[code]

[2018-09-04 22:30] Klaven commented on #883
@neolit123 or @chuckha
There are other cases of glog being used in kubeadm like the one here:
https://github.com/kubernetes/kubernetes/blob/be11540775e36b1f1acdd6cb43500c1717af0ad4/cmd/kubeadm/app/util/system/kernel_validator.go#L255

Do you want me to try and fix as many as I can find? or just the ones that log improperly on init during a "standard"/"successful" init?

Is `[kernelvalidator]` or `

[2018-09-05 01:37] heng-Yuan commented on #1092
@rosti Thanks for your reply sincerely.  I have reseted the master using `kubeadm reset`, and reinitialized it. Nevertheless it still had above errors . And I had checked the state and logs as you methioned.
[code]
docker logs API server output lots of `TLS handshake error`like this:
[code]
`172.16.6.64 ` is where I execute the command of `kubeadm init` server, and `172.16.6.65` is another server

[2018-09-05 02:28] neolit123 commented on #1092
best to also include:
`journalctl -xeu kubelet`

[2018-09-05 02:34] heng-Yuan commented on #1092
@neolit123 Thanks . As shown above of `systemctl status kubelet.service -l` , `journalctl -xeu kubelet` output  `Setting node annotation to enable volume controller attach/detach` all the time .
[code]

[2018-09-05 02:47] neolit123 commented on #1092
are you sure you can server the API server on `172.16.6.64`?
please check the connectivity to the address.

[code]
these seem to be logs from another time.

[2018-09-05 03:00] heng-Yuan commented on #1092
@neolit123 Yes, I can connect to this address from another node(172.16.6.65).
[code]
And this `TLS handshake error` output all the time after apiserver container created.

[2018-09-05 03:28] xlgao-zju commented on #1037
@neolit123 Can we set the CoreDNS version(expect modifying the hard-coded CoreDNS version), when we run `kubeadm init`? For now, the default version of CoreDNS is 1.1.3 in kubeadm v1.11.2. I want to use CoreDNS 1.2.2.

[2018-09-05 03:57] heng-Yuan commented on #1092
@neolit123 Hi neolit, I use this server(172.16.6.64) as a worker node, to join into the master , it also output an error `timed out waiting for the condition` .
[code]
And ,the  kubelet logs showing:
[code]

[2018-09-05 06:36] fabriziopandini commented on #1091
That's true and I'm fine in pushing the limit of kubeadm supported configurations as far as we can follow with a good test grid coverage and/or we can reasonably ensure stable and predictable workflows.

[2018-09-05 06:55] xlgao-zju commented on #1091
@neolit123 I think we should support customization of add-on version to let users use the version which they want. This is useful and simple...

[2018-09-05 09:36] rosti commented on #1092
Hi @heng-Yuan , I think, that the TLS handshake error is caused by the use of FQDN for the `--node-name` parameter to `kubeadm init`. Can you reset your cluster and try to specify a simple host name to that?

You can also try to supply the host name via `--apiserver-cert-extra-sans` if you want to try to keep the FQDN for `--node-name`.

[2018-09-05 09:44] heng-Yuan commented on #1092
@rosti , I have noticed this issue , and have used simple host name to init the master, but it's also had this problem .

[2018-09-05 10:10] rosti commented on #1092
@heng-Yuan can you verify that you have forwarding enabled?

[code]

[2018-09-05 12:54] neolit123 commented on #1017
FYI this ticket is a subset of the following addon improvements tracking issue:
https://github.com/kubernetes/kubeadm/issues
(where also some discussion started happening)

please re-open if closing this seems out of order.
/close

[2018-09-05 12:54] #1017 closed

[2018-09-05 13:02] chrisohaver commented on #1091
A caveat with version selection: CoreDNS for example typically has a new default configuration with every release.  This configuration is not built in the binary - it's essentially hard coded in kubeadm. Therefore when installing CoreDNS 1.2.2 with kubeadm 1.11, you'd get the CoreDNS 1.1.3 default k8s deployment configuration. So this would be a "use at your own risk" option.

[2018-09-05 13:31] ncdc commented on #1017
@neolit123 which issue are you referring to - #1091?

[2018-09-05 13:36] neolit123 commented on #1017
@ncdc
copy-paste error, sorry.
yes, that one.

[2018-09-05 13:40] neolit123 commented on #1037
@xlgao-zju as outlined here we have a bit of an issue with allowing only the custom coredns image/version:
https://github.com/kubernetes/kubeadm/issues/1091#issuecomment-418722140
which means that we also need to allow custom addon configs (in this case a Corefile).

[2018-09-05 14:09] rosti commented on #1091
We should also consider, that allowing the user to have a custom config map (for example), might make upgrade impossible, to the point of breaking it.

The user may be required to do manual upgrade of the addons if he/she used some config map option, that was changed and could not be upgraded automatically by kubeadm.

On the other hand, allowing the use of the latest patch release might be desira

[2018-09-05 14:49] neolit123 commented on #1091
i can definitely see the complication with upgrades, but again the users are on their own if they modify something beyond recognition. this is the case in most software upgrade scenarios.

we can potentially `diff` out deviations from the default addon manifests, print them out, but leave it to the users to manually patch.

[2018-09-05 14:57] neolit123 commented on #1091
@chrisohaver

as in my previous comment:

my initial idea for this would be to tell the user something in the lines of "hey, we see that you have deviated your addon configuration from the default one like so..." and pretty much `diff` it.

on upgrades we show this message "kubadm is now upgrading addon X to the default configuration
for this new version and you need to perform manual actions to p

[2018-09-05 15:01] rajansandeep commented on #1091
@chrisohaver @neolit123

Currently, the corefile/configmap remains untouched during an upgrade if an existing coredns configmap is detected.

[2018-09-05 15:03] chrisohaver commented on #1091
@rajansandeep thanks, thats what I was asking.

So, if left unaddressed, we will eventually have issues of config incompatibles during normal upgrades, where users never change their config from the default.

[2018-09-05 15:32] neolit123 commented on #1091
@chrisohaver @rajansandeep
sorry, i've missed the context of the off-topic.

the current handling is not optimal (AKA missing).

i may have missed these discussions.
this should be per `addon` configuration and not only for coredns, it seems.

proposal:
- by default always hard-replace the old config with the new default?
`restore-default-at-upgrade=false` is a possible knob here.
- look for devia

[2018-09-05 15:50] fabriziopandini commented on #1091
@chrisohaver @rajansandeep
For kubelet and kube-prkxy kubeadm relies on component config for having a clean migration path for configuration files. This assumes that the owner of the config file, e.g. the. kubelet team, provides conversion functions from config vX to config vY
Are you aware of any config conversion functions provided by the coreDNS team?

[2018-09-05 16:20] timothysc commented on #883
/assign @neolit123

[2018-09-05 16:32] timothysc commented on #1040
/assign @neolit123

[2018-09-05 16:34] fabriziopandini commented on #971
Orthogonal to container cleanup we can improve kubeadm reset us by reading the crisocket from the node (instead of forcing the user to the user to re-pass the --criSocket flag)

[2018-09-05 16:39] timothysc commented on #924
@fabriziopandini could you post an update on this please.

[2018-09-05 16:40] timothysc commented on #863
closing

[2018-09-05 16:40] #863 closed

[2018-09-05 16:47] rosti commented on #971
As this is moved to 1.13 we can improve a lot. There is some Linux specific stuff, some hard coded paths, etc. which could not be addressed for 1.12 since they were not bugs (leftovers from reset).

[2018-09-05 17:38] neolit123 commented on #1040
as discussed in today's kubeadm office hours i have created a KEP doc for this
but it's empty ATM:
https://docs.google.com/document/d/1LSb2Ieb4XrxQ3cG6AEkwpfN1hb1L6pJdb0vMo10F41U/edit?usp=sharing

this feature is outside of the 1.12 scope, but we can try to finish the KEP soon.

one big preliminary `?` here is Viper. if want to fork Viper in k8s at that point we can have it do what we want and pos

[2018-09-05 17:51] chrisohaver commented on #1091
This doesn't exist yet.  The complexity/flexibility of the CoreDNS config makes this challenging to do 100% cleanly.

We had some discussions about this a few months ago, and recently starting talking about it again.

[2018-09-05 18:00] bart0sh commented on #1086
I consider [this PR](
https://github.com/kubernetes/website/pull/10186) as a partial fix for this. I'm going to add CRI-O instructions the same way.

Any objections?

[2018-09-05 19:17] fabriziopandini commented on #1091
@chrisohaver ack.If there is a issue to follow such discussion I will add some comments about how to make this usable from kubeadm.

[2018-09-05 21:00] weisjohn commented on #338
@patricklucas seriously, thank you for that write-up. It saved my life.

For those looking for even more clarity, here were my experiences:

1. replace the IP address in all config files in `/etc/kubernetes`
[code]
2. backing up `/etc/kubernetes/pki`
[code]
3. identifying certs in `/etc/kubernetes/pki` that have the old IP address as an alt name (this could be cleaned up)
[code]
4. identify config

[2018-09-05 21:05] weisjohn commented on #338
another thing to note, changing the certs was possible in offline mode: https://github.com/kubernetes/kubernetes/issues/54188#issuecomment-418880831

[2018-09-05 22:10] neolit123 commented on #883
@Klaven
sorry for the delay. too many things.

i'm currently investigating what is best to do here.

[2018-09-05 22:39] neolit123 commented on #883
@Klaven
so digging a little i find only a couple of potential issues:

[code]

the original links in the OP seem out of date.
the idea would be to only remove `glog.Info` or `glog.Infof` calls because these mix with our standard output.

1) please start as a PR changing the above two calls to `fmt.Println` / `fmt.Printf`.
2) start `kubeadm init` and see if you get output such as:
[code]
for non-er

[2018-09-05 22:58] neolit123 commented on #1091
in the meantime, if the proposal for addon customization is integrated in kubeadm before coredns gets the conversation and validation code in place we might have to go with the approach of instructing the users to do manual patching. this is extra handling, but it might be a good idea to diff the user deviations for addons regardless.

i would like to remind that the demand for this feature seems

[2018-09-05 23:43] #990 closed

[2018-09-06 01:10] heng-Yuan commented on #1092
@rosti Yes, I have checked it ,and forwarding has already enabled .
[code]

@timothysc Also, SElinux is disabled .
[code]

[2018-09-06 01:13] chrisohaver commented on #1037
@liheyuan, is your issue resolved?

[2018-09-06 08:57] riverzhang opened #1094 "kubeadm token list"
Adjust the output of the kubeadm token list.
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[root@node1 kubernetes]# kubeadm  version
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", Buil

[2018-09-06 09:36] swathichittajallu commented on #1037
Hi. I'm facing same issue with coredns and I see the issue is due to the memory limit of 170Mi. Can someone suggest as to how I can update my coredns deployment to 1.2.2 or how to increase the memory limit of coredns deployment. I am using k8s version-1.11.2.

[2018-09-06 11:29] peterableda opened #1095 "kubeadm should configure resource request for critical kube-system component"
## Versions

**kubeadm version**:
[code]

## What happened?
Connections to etcd are timing out on my heavy loaded machines. My suspicion is that this happens due to not reserving a minimum amount of CPU time for the service.

I checked the `kubectl describe node` output for the resource requests:
[code]

## What you expected to happen?
The request here is to configure some amount of CPU requests f

[2018-09-06 11:35] riverzhang commented on #1094
/assign @neolit123 @timothysc

[2018-09-06 12:00] fabriziopandini opened #1096 "Cleanup - Rename the constant that refers to the `kubeadm-config` ConfigMap"
https://github.com/kubernetes/kubernetes/pull/67944 changed how kubeadm uses the `kubeadm-config`ConfigMap, that now stores only the `ClusterConfiguration` and the `ClusterStatus`.

We should now rename the constant that refers to the `kubeadm-config` from `InitConfigurationConfigMap` to something more generic like e.g. `KubeadmConfigConfigMap`

rif [code](
https://github.com/kubernetes/kubernetes

[2018-09-06 12:09] fabriziopandini opened #1097 "Use configmap locks on kubeadm-config before the update."
https://github.com/kubernetes/kubernetes/pull/67944 changed how kubeadm uses the `kubeadm-config`ConfigMap, that now gets updated at every `kubeadm join --control-plane`.

Therefore we should now implement configmap locks on kubeadm-config before the update.

rif [code](
https://github.com/kubernetes/kubernetes/blob/e5f55dd9d0969af3a37e7880d9b88c9aef8c654d/cmd/kubeadm/app/phases/uploadconfig/uploa

[2018-09-06 12:11] fabriziopandini commented on #1097
/cc @liztio
and assigned to v1.12 milestone as per @timothysc [comment](https://github.com/kubernetes/kubernetes/pull/67944#discussion_r214525617)

[2018-09-06 12:27] fabriziopandini opened #1098 "Implement a canonical way for getting the node name"
After https://github.com/kubernetes/kubernetes/pull/67944 kubeadm retrives `NodeRegistration` attributes directly from the node.

The solution implemented for getting the node name uses the authentication info contained in the `kubelet.conf` file; however in future we want to switch to a more canonical way for doing this e.g. by reading those information from the local copy of the kubelet componen

[2018-09-06 12:41] chrisohaver commented on #1037
Sometimes this is the reason, but not always.  Continuous Pod restarts can be caused by any error that causes a container in a Pod to exit (e.g. by crash, or by fatal error, or by being killed by another process).

You can edit the `coredns` Deployment... `kubectl -n kube-system edit deployment coredns`.  In that yaml definition, you can either change the memory limit "170Mi" to a higher number, o

[2018-09-06 13:55] davidcomeyne commented on #581
@kachkaev Did you have any luck on renewing the certs without resetting the kubeadm?
If so, please share, I'm having the same issue here with k8s 1.7.4. And I can't seem to upgrade ($ kubeadm upgrade plan) because the error pops up again telling me the the certificate has expired and that it cannot list the masters in my cluster:

[code]

[2018-09-06 14:22] kachkaev commented on #581
Unfortunately, I gave up in the end. The solution was to create a new cluster, restore all the payload on it, switch DNS records and finally delete the original cluster 😭 At least there was no downtime because I was lucky enough to have healthy pods on the old k8s during the transition.

[2018-09-06 14:41] davidcomeyne commented on #581
Thanks @kachkaev for responding. I will nonetheless give it another try.
If I find something I will make sure to post it here...

[2018-09-06 15:47] smenon78 opened #1099 "Kubeadm HA documenation for 1.11 is completely different from 1.9.5/1.10.11"
Kubeadm HA cluster documentation is completely different in 1.11 from the steps in 1.9/1.10. I want to reuse the automated steps which was already done for 1.9.5. Will it still work for 1.11? Or can I make it work with minimal changes?
It becomes extremely difficult to automate when steps are significantly different from version to version.

Documentation for k8s 1.9/1.10
https://v1-10.docs.kubern

[2018-09-06 16:52] neolit123 commented on #1099
@smenon78
i wouldn't say the new documentation is completely different, it's similar.
the new documentation also separates the HA etcd into a separate page.
https://kubernetes.io/docs/setup/independent/setup-ha-etcd-with-kubeadm/

but also it's improved and adapted to 1.11 as 1.11 saw a number of changes.
it's **highly** recommended to use the new documentation if you want to create a 1.11 cluster

[2018-09-06 18:03] neolit123 commented on #1095
i think this might be outside of the scope of the `kubernetes/kubeadm` tracker.
please file the issue in `kubernetes/kubernetes`

possibly tag `/sig node` and `/sig architecture` for feedback.

thank you
/close

[2018-09-06 18:04] neolit123 commented on #1095
actually, i've missed the title.

@peterableda do you have a proposal for how should kubeadm do that?

[2018-09-06 20:14] #1099 closed

[2018-09-07 00:26] seh commented on #918
Thank you, @liztio! I look forward to this in the next release.

[2018-09-07 04:53] geerlingguy commented on #203
@jazoom - Thanks for your comment, it finally led me to read the systemd unit file more closely. I thought I was going crazy as I could bring up the same config in 1.10, and everything worked... bring up the config in 1.11 and the custom `--node-ip` I was setting was not applying at all. Switching to adding the extra args in `/etc/default/kubelet` fixed the issue for me.

[2018-09-07 05:00] jazoom commented on #203
@geerlingguy You're welcome.

At least it wasn't a case of "it works every second time I bring up a 1.11 cluster". Those irreproducible issues will really make you go crazy.

[2018-09-07 08:37] randomvariable commented on #279
We also have kubelet itself reading certs, which isn't containerised. Anything else needed for that @rhatdan?

[2018-09-07 10:18] swathichittajallu commented on #1037
@chrisohaver Thanks a lot :) It worked. core dns pods are consuming close to 478Mi. So, it worked with memory limit=512Mi

[2018-09-07 12:35] kcao3 opened #1100 "/proc/sys/net/ipv6/conf/eth0/accept_dad: no such file or directory in Kubernetes 1.11.2 when ipv6 disabled on hosts"
Hello,
I am using kubeadm v1.11.2, with CNI plugins version v0.6.0 as indicated from this
link: https://github.com/kubernetes/kubernetes/blob/v1.11.2/build/rpms/kubernetes-cni.spec.

Currently I am having an issue when IPv6 is disabled on my hosts. For some reason,
the pods failed to start on hosts and I see some error messages from kubelet
indicating the file /proc/sys/net/ipv6/conf/eth0/accept_d

[2018-09-07 13:08] mlushpenko opened #1101 "Failed to retrieve node info: Unauthorized"
## What keywords did you search in kubeadm issues before filing this one?
kube-proxy
Failed to retrieve node info

## BUG REPORT

## Versions

**kubeadm version**:
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"lin

[2018-09-07 14:04] rhatdan commented on #279
What label does the kublet run with?

ps -eZ | grep kublet

[2018-09-07 14:57] randomvariable commented on #279
`system_u:system_r:unconfined_service_t:s0 31110 ? 00:00:01 kubelet`

Ah, ok this makes sense now. Also linking https://bugzilla.redhat.com/show_bug.cgi?id=1546160 for other travellers.

Thanks.

[2018-09-07 15:11] fabriziopandini commented on #924
@timothysc the error is confirmed i v1.12.0-beta.1 as well (even if slightly changed)

[code]

[2018-09-07 17:27] liztio commented on #936
[code]

Looks like this is fixed in v1.12

[2018-09-07 17:27] #936 closed

[2018-09-07 20:56] liztio commented on #1015
Can still reproduce this in the latest v1.12.0 alpha. Gonna see if I can if I can't sort this out for the code freeze.

[2018-09-07 23:13] neolit123 commented on #1100
hi, this issue seems outside of scope of kubeadm even if you are using kubeadm for the deployment.
might be a better idea to file an issue in `kubernetes/kubernetes` instead and tag `sig-network` (example bellow).

/sig network
/priority awaiting-more-evidence

[2018-09-08 10:31] rhatdan commented on #279
Since it is running as an unconfined service, then it would not have any issue reading the labels on content if it was labeled container_file_t.

[2018-09-09 04:05] stealthybox commented on #1095
Could you please tell us more about your control-plane node?
How much CPU and memory does it have?
Are you using an HDD or an SSD?
Are you scheduling other Pods to it?

We might look to dig up some docs about what a reasonable CPU request could be for etcd and kube-proxy, but these components should be stable with the current defaults, even without ResourceRequirements.

[2018-09-09 07:49] fabriziopandini commented on #925
In v1.12, after the changing how kubeadm-config upload/fetch, `AnnotateCRISocket` becomes a necessary for getting a cluster that can be upgraded using phases. I see two options
- add the `AnnotateCRISocket` step to the existing `alpha phase kubelet config upload` subcommand
- add a new subcommand `alpha phase kubelet config annotateCRI` or something else
Opinions?

[2018-09-09 09:09] fabriziopandini opened #1102 "Dynamic Kubelet Config broken in v1.12.0-beta.1"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**

kubeadm v1.12.0-beta.1

## What happened?

When executing `kubeadm join` with `featureGates: DynamicKubeletConfig: true` the following error is returned:
[code]

## What you expected to happen?
To join a node with `featureGates: DynamicKubeletConfig: true` without errors

## How to reproduce it (as minimally

[2018-09-09 09:10] fabriziopandini commented on #1102
/cc @mtaufen
Any suggestion about how this can be fixed?

[2018-09-09 12:54] neolit123 commented on #925
hi @fabriziopandini
i think `alpha phase kubelet config annotateCRI` might be better.

[2018-09-09 14:59] neolit123 commented on #924
/assign @neolit123
/lifecycle active

[2018-09-09 19:29] timothysc commented on #925
@fabriziopandini - I'd vote for `alpha phase kubelet config annotateCRI` as well.

[2018-09-09 19:34] dims commented on #925
a mixed case command line looks a bit odd ..

[2018-09-09 19:49] timothysc commented on #925
I think `config cri` would possibly suffice .

[2018-09-09 19:57] neolit123 commented on #925
`annotate-cri` alternatively.
sub-command are lowercase with `-`.
e.g.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-phase-addon

[2018-09-09 20:02] fabriziopandini commented on #925
/assign @fabriziopandini
/lifecycle active

[2018-09-09 20:56] #1085 closed

[2018-09-10 01:39] mauilion commented on #1085
I've seen quite a few requests for examples of setting node name and cloud provider lately (for aws to work correctly etc)

[2018-09-10 01:39] mauilion commented on #1085
/reopen

[2018-09-10 04:16] Klaven commented on #883
@neolit123 I think I have done everything needed for the above. Please let me know if there is more I need to do! Please let me know if I missed any step.
https://github.com/kubernetes/kubernetes/pull/68455
I tried to assign it too you :) but I don't think it lets me.
Thanks for your help getting me into the project!

[2018-09-10 09:47] mlushpenko commented on #1101
Some investigation, maybe you can dive deeper:

It fails to get nodeIP [here](https://github.com/Lion-Wei/kubernetes/blob/master/cmd/kube-proxy/app/server_others.go#L142 )

Which produces our error from [getNodeIP](https://github.com/Lion-Wei/kubernetes/blob/master/cmd/kube-proxy/app/server.go#L605) function

Function takes [`client`](https://github.com/Lion-Wei/kubernetes/blob/master/cmd/kube-pro

[2018-09-10 10:49] mlushpenko commented on #1101
I tried to add `hostnameOverride` with host dns and with host IP (two tests) to the kube-proxy configMap, then delete kube-proxy pod on that node and still got the same error, so probably it's something different

[2018-09-10 11:36] fabriziopandini commented on #1096
/assign @RA489
/lifecycle active

[2018-09-10 12:09] fatrix commented on #122
Had the same behaviour like @rrichardson. I added the line manually in /etc/kubernetes/manifests/kube-apiserver.yaml on the master and deleted the apiserver pod. Now I can use NodePort on port 80 and above.

[2018-09-10 13:03] rosti commented on #1040
@neolit123 I don't think, that forking Viper is the best approach here. We should probably try contributing patches upstream to Viper first.

@fabriziopandini @sysrich merging configs from different locations seems like a bad idea to me. There are so many things that could go wrong and hard to find bugs just waiting to happen. If we have multiple configuration files, we should probably just search

[2018-09-10 13:12] neolit123 commented on #1040
viper is largely unmaintained, the idea of homebrewing an alternative received some +1 at sig-architecture.

[2018-09-10 14:06] detiber opened #1103 "kube-controller-manager broken on HA upgrades from v1.11 to v1.12"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

v1.12-beta.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.12-beta.1

## What happened?

After performing an upgrade from v1.11 to v1.12-beta.1 on an HA environment kube-controller-manager is crashlooping.

## What you expected to happen?

kube-controller-man

[2018-09-10 14:06] detiber commented on #1103
/assign
/lifecycle active

[2018-09-10 14:11] detiber commented on #1103
/kind bug
/priority critical-urgent

[2018-09-10 14:13] Elettronik commented on #1101
Same issue here, just one point: if I do a kubeadm reset and then redo the init, the kube-proxy pod seems to work correctly

[2018-09-10 14:18] rhatdan commented on #279
[code]
It would probably be best to get them into container-selinux, to at least have me review them.
[code]
Yes that would be best, although if everyone agrees on this, we could get them into the upstream package.  Should these files be shared read/only or Read/write?

[code]
I have no idea.
[code]
container_t process should be able to read/execute the default label on these files/directories, Do

[2018-09-10 14:33] peterableda commented on #1095
Yes, we removed the NoSchedule taint from the control-plane node and run potentially CPU intensive pods on it. We are aware of the root cause and understand that this might not be a good practice but we need to do this for our use-case. Reserving a small amount of CPU time for the etcd component would solve the issue for us.

[2018-09-10 14:38] neolit123 commented on #1095
a question, how would you configure these parameters in case you are using another bootstrapping tool instead of kubeadm?

[2018-09-10 14:56] peterableda commented on #1095
I would do this on the kubernetes level, like adding resource requests for etcd (we are doing this for the apiserver or scheduler also):
[code]

[2018-09-10 15:28] neolit123 commented on #1095
understood, thanks.

as per the OP request:

hardcoded values would have to be added, here for the kube-proxy daemon-set
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L54
.
and for the etcd static pod manifest:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/etcd/local.go#L54

we already do this for the control pla

[2018-09-10 16:50] sysrich commented on #1040
(sorry for the delay replying, was on vacation)
@rosti @fabianofranz - I agree, which is why my proposal is one of precedence, not merging - merging would require a systemd-like drop-in feature (which would allow the selective replacement of specific parameters within an existing configuration file)
This would require configuration files to be far more structured than I believe them to be right no

[2018-09-10 18:33] mauilion commented on #1085
@timothysc ^^

[2018-09-10 20:09] detiber opened #1104 "kubeadm upgrades from v1.11 to v1.12 broken on etcd cert generation"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z",GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl

[2018-09-10 20:11] detiber commented on #1104
/assign @detiber
/lifecycle active
/priority critical-urgent

[2018-09-10 20:36] rhtyd opened #1105 "Node fails to join if master's kube-apiserver has --anonymous-auth=false and basic auth"
## Is this a request for help?
No

## What keywords did you search in kubeadm issues before filing this one?

Yes, could not find anything related to passing username/password for kube-apiserver

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.11.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.11.3
- **C

[2018-09-10 22:03] #924 closed

[2018-09-11 00:31] neolit123 commented on #1105
@rhtyd
you need to mount your basic auth file in the api server container.

ref:
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#static-password-file

from kubeadm config this is doable with
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha2/types.go#L79
and
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kub

[2018-09-11 00:39] rhtyd commented on #1105
@neolit123 the auth csv is indeed mounted, that's not the issue. You missed the issue by a mile, let me try again: Using kubectl -s https://user:pass@ip:6443 works for me. The issue is that when I try to join a node to the master using kubeadm join command, it fails because there is no (documented) way to provide/pass basic auth information to it. I see it fail with unauthorized 401 error. IMO, it

[2018-09-11 01:16] neolit123 commented on #1105
@kad do you have any comments on this?

@rhtyd
here is a discussion that briefly mentioned the idea of having the basic auth as part of `kubeadm join` and it was not addressed as an implementation:
https://github.com/kubernetes/kubeadm/issues/23#issuecomment-262316955

also contributions to kubeadm are welcome.

/remove-priority awaiting-more-evidence
/priority backlog

[2018-09-11 06:16] randomvariable commented on #279
Thanks. I'll have a look at what to do for container-selinux next week.

Unfortunately, yes. The way most CNI plugins work now in their default manifests, they use an init container to download their CNI plugin and store it in `/opt/cni/bin` for kubelet to then use, even though our CNI RPM may already have them so that they can match the CNI plugin version being used with the rest of their control

[2018-09-11 08:57] fabriziopandini commented on #925
/close
because #68449 merged

[2018-09-11 08:57] #925 closed

[2018-09-11 09:37] pytimer opened #1107 "Run kubeadm init command on the host that already create etcd with kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

`kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
`

**Environment**:
- **Kuberne

[2018-09-11 12:21] ep4eg opened #1108 "Node can't join to cluster"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Server Version:

[2018-09-11 12:47] bart0sh commented on #1108
How about to create new token on master? Current one seems expired.

[2018-09-11 13:10] ep4eg commented on #1108
I want to emphasize the token's generated with ttl 0 and can't be expired.

[2018-09-11 14:05] ep4eg commented on #1108
The reason was 'Controller: Invalid --cluster-cidr, mask size of cluster CIDR must be less than --node-cidr-mask-size'

[2018-09-11 14:05] #1108 closed

[2018-09-11 14:43] liztio commented on #1085
@mauilion could you file a separate issue with exactly what examples you want?

[2018-09-11 17:29] mark-casey commented on #118
@liggitt @luxas  Once "serving certificate requests" are available... Would approval of CSR[s] for Kubelet serving certs be a kubeadm phase? Or in other words, would the "CSR approver" be a person or some future functionality?

[2018-09-11 17:34] liggitt commented on #118
since kubelets can request new certs in response to IP changes or cert expiration, an approval process should not be limited to cluster setup. Currently, each deployment method would be required to set up an approver. For example, a cloud provider could set up an approver controller that approves requests for serving certificates for nodes if they are limited to the addresses (hostnames and IPs) a

[2018-09-11 21:16] fabriziopandini commented on #1107
@chuckha could you kindly take a look at this?

[2018-09-11 21:30] fabriziopandini commented on #1105
@rhtyd afaik kubeadm join with tokens/https discovery needs anonymous authentication for getting cluster-info ConfigMap
I'm pretty sure cluster-info con be passed via file,  most probably removing the need of anonymous authentication, but never tested personally

[2018-09-11 21:49] neolit123 commented on #1107
i think it makes sense:

if the etcd certs were already created and if the config is setup for a remote etcd, we probably shouldn't fail on that file check. then again the remote/local context is kind of misleading here, because the etcd is local to this VM yet external to that particular kubeadm init invocation. :thinking:

[2018-09-12 00:57] neolit123 opened #1109 "failing test: kubeadm-gce-stable-on-master"
while `kubadm-gce-master` went green we did break [kubeadm-gce-stable-on-master](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-stable-on-master) earlier it seems, in one of these 10th september commits:
https://github.com/kubernetes/kubernetes/compare/25cbd1c75...36877dafe

on a first glance the worker nodes cannot join the control plane:

i can have a more detailed look t

[2018-09-12 01:17] pytimer commented on #1107
i think this check maybe not necessary, because if use external etcd, vm not create etcd static pod.

[2018-09-12 03:36] yeliuang commented on #784
hi  buddy!  Have you made any progress on getting the GPU capabilities visible on the node within the cluster from the TX2? Beacause of  the lack of official support ,I think it is a hard work to manage the GPU on TX2 nodes by k8s master. I am getting stuck in , do you mind giving me some instructions ?

[2018-09-12 03:36] yeliuang commented on #784
hi buddy! Have you made any progress on getting the GPU capabilities visible on the node within the cluster from the TX2? Beacause of the lack of official support ,I think it is a hard work to manage the GPU on TX2 nodes by k8s master. I am getting stuck in , do you mind giving me some instructions ?

[2018-09-12 06:55] Vogtinator commented on #1062
IMO kubeadm should at least do the modprobe itself. Whether it's the case for `ip_forward` as well is debatable as that is system configuration and up to the admin.

[2018-09-12 08:30] sysrich commented on #1062
@vrothberg - what do you think? Should the above 2 conditions (modprobe and sysctl) be rectified automatically by kubeadm, or do you think this is something better handled in CRI-O?

Docker does both automagically itself

And if you think CRI-O proper shouldn't take care, where do you think the dirty hack should be carried in openSUSE? in the cri-o package or in the kubeadm package? ;)

[2018-09-12 08:47] vrothberg commented on #1062
I think that’s something kubeadm package should do. After that, we can
check if that’s really an error or if it can be demoted to an info log.
Many things in K8s are still built around how Docker does things but
they’re not always necessary.

I am on vacation at the moment but will check mails here and then. Thanks
for the ping.

On Wed 12. Sep 2018 at 10:30, Richard Brown <notifications@github.co

[2018-09-12 09:59] zt706 commented on #1092
$ kubeadm reset
$ ifconfig cni0 down && ip link delete cni0
$ ifconfig flannel.1 down && ip link delete flannel.1
$ rm -rf /var/lib/cni/

good luck!

[2018-09-12 10:05] stepin opened #1110 "failed to create cluster with SCTPSupport=true"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-09-12 12:01] motek80 commented on #1063
@liztio : If you following an official guide for setting up a HA cluster (using KubeAdm), you have to configure Load Balancer _before_ setting up any of K8ss Masters. So, at that point you have no kubernetes generated certificate yet - it created later, during Master setup. Therefore, you have to use something else for Load Balancer...

[2018-09-12 13:36] rosti commented on #1110
Hi @stepin and thank you for submitting this issue!

Unfortunately, this feature gate is not supported directly by kubeadm.
The feature gate in question is used with pod specs. I think, that you can get more info on how it's meant to be used at SIG-node's slack channel.

[2018-09-12 13:40] neolit123 commented on #1109
related:
https://github.com/kubernetes/kubernetes/issues/68537

@detiber
it might be this commit:
https://github.com/kubernetes/kubernetes/commit/a0d7a76ea8eba0631ddf5a5435f19449ddf3398a

i will verify later.

[2018-09-12 13:45] stepin commented on #1110
As I understand, it's not about feature gate internals: it just says that kubeadm don't know about this gate. So, my idea was that kubeadm uses some other (or outdated on build servers) list of feature gates.

PS. I'm used other feature gates and looks like syntax is ok. Or it's special for alpha features?

[2018-09-12 14:01] rosti commented on #1110
Yes, kubeadm has its own list of supported feature gates. To make things slightly more complex, different subcommands may support different subsets of these feature gates. To be sure what is supported and where, you can use the command line help. So, for example, for `kubeadm init` you get:

[code]

[2018-09-12 14:31] janosi commented on #1110
Hello, Indeed, the SCTPSupport feature gate was not introduced for kubeadm with the SCTP PR. In order to take the feature into use this feature gate has to be configured with "true" value for the kube-apiserver.

[2018-09-12 16:38] stealthybox commented on #1011
bump @xlgao-zju -- are you still working on this? :)
cheers!

[2018-09-12 20:14] fabriziopandini commented on #1110
@stepin if you want to enable kube-apiserver features gate you can do this using the kubeadm config file and assigning extra args to the API server component

[2018-09-12 23:13] neolit123 commented on #1110
@stepin
as @fabriziopandini noted,

write the following in a `config.yaml` file:
[code]

start `kubeadm init` with:
[code]

we are in the process of updating the documentation for this in 1.12.

please, re-open for more questions.

[2018-09-12 23:13] #1110 closed

[2018-09-13 02:00] xlgao-zju commented on #1011
@stealthybox Sorry for the delay. I had some personal stuff... I will fix this issue ASAP.
And as I asked should we just print a warning or fail the init, when the podSubnet/serviceSubnet is missing? WDYT?
cc @neolit123

[2018-09-13 02:07] neolit123 commented on #1011
@xlgao-zju
i haven't looked at this. possibly @NeilW or @stealthybox can provide the right details required by the `good first issue` label.

[2018-09-13 03:49] liaoqiArno opened #1111 "kube-dns can't READY"
OS: centos7
docker: 17.03
k8s:1.10

[root@k8s-node1 manifests]#  kubectl get all --all-namespaces
NAMESPACE     NAME                                       READY     STATUS             RESTARTS   AGE
kube-system   calico-etcd-2qwx9                          1/1       Running            0          1h
kube-system   calico-kube-controllers-5c949c46bf-v5r96   1/1       Running            0          1h
k

[2018-09-13 03:51] neolit123 commented on #1111
@liaoqiArno hello, are you using kubeadm?

[2018-09-13 04:00] liaoqiArno commented on #381
nameserver  xxxxx,what is the IP?

[2018-09-13 04:08] liaoqiArno commented on #1111
yes，I used kubeadm.

[2018-09-13 04:08] liaoqiArno commented on #1111
yes，I used kubeadm.

[2018-09-13 05:11] stealthybox commented on #1063
@motek80

https://kubernetes.io/docs/setup/independent/high-availability/#create-load-balancer-for-kube-apiserver
With this setup, the TLS handshakes happen with the APIServer Pods directly, meaning you would not need to manage your certificates on your loadbalancer.

If you insist on setting up an L7 LB with TLS termination, you will need to either use a kubeadm generated CA or manage your own.

[2018-09-13 05:50] jstangroome commented on #945
I just tried to use `kubeadm join --discovery-file X` where the file contains a pre-generated client certificate already signed by the master CA cert as per the work completed in the PR mentioned above:
https://github.com/kubernetes/kubernetes/pull/66482

However, `kubeadm join` failing and insisting on a bootstrap token which would appear to defeat the purpose of this feature:
```tlsBootstrapToke

[2018-09-13 09:13] kheirp commented on #1026
@PierrickI3  I am having the same exact problem and most of the logs are similar. Did you reach a solution or workaround ??

[2018-09-13 09:43] PierrickI3 commented on #1026
@kheirp unfortunately not. I gave up and moved back to minikube for dev purposes. But I'd love to get back to kubeadm if a solution is found.

[2018-09-13 09:51] kheirp commented on #1026
@PierrickI3  ok .. when I reach something then I will let u know

[2018-09-13 14:06] fanux opened #1112 "kubeadm 1.11.3 install kubernetes v1.11.3 but image is v1.11.1"
BUG:

[code]
kubeadm config:
[code]
docker images:
[code]
images are v1.11.1

[2018-09-13 14:58] neolit123 commented on #1112
hello,
this should not happen, but mind that in 1.12 we improved the image handling a lot.

- what image list do you get if you list them with `kubeadm config images list --kubernetesVersion v1.11.3`?

can you confirm that the v1.11.3 images are there too?

/priority awaiting-more-evidence

[2018-09-13 15:28] sysrich commented on #1062
This issue will be handled in openSUSE with the following changes: https://build.opensuse.org/package/rdiff/devel:kubic/kubernetes?linkrev=base&rev=9

I'm planning on submitting something similar in the upstream rpm packaging promptly

[2018-09-13 15:59] oisis opened #1113 "Kubeadm upgrade and ETCd certificates location"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/sig wg-kubeadm-adoption

**What happened**:

 I guess i found bug in kubeadm upgrade command. I want to put SSL certs for ETCd in different location than default one. Kubeadm looks for ETCd certs in /etc/kubernetes/pki/etcd but in my kubeadm config file i setup different location: /etc/kubernetes/etcd/ because i do not want to loose certs when run co

[2018-09-13 17:14] fabiand commented on #1102
Could this be the same as https://github.com/kubernetes/kubernetes/issues/68620#issue-359867124 ?

[2018-09-13 17:36] neolit123 commented on #1109
fix was merged https://github.com/kubernetes/kubernetes/pull/68534
waiting on test grid results.
/lifecycle active

[2018-09-13 19:05] kfox1111 opened #1114 "Provide some reference Pod Security Policies"
If pod security policies are best practices, we probably should provide some.

[2018-09-13 19:58] Nitecon opened #1115 "kubeadm init api-server ignores etcd-cafile etcd-certfile etcd-keyfile during manifest write."
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version:

[2018-09-13 20:13] neolit123 commented on #1114
@kfox1111

could you please elaborate on your request?

do you mean extending the existing kubeadm documentation or the CLI in some way, because currently kubeadm users can following the [pod security document](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) and use kubectl to extend the security of their pods.

/priority awaiting-more-evidence

[2018-09-13 20:18] neolit123 commented on #1115
@Nitecon
thanks for the issue report.

[code]
^ as a side node, make sure you have `apiVersion: kubeadm.k8s.io/v1alpha2` in your config.
i will verify what is the state for this in 1.11 and 1.12 and reply a bit later.

[2018-09-13 20:19] Nitecon commented on #1115
Sounds good I pulled that off the latest docs from kubernetes HA, beyond the apiserver issue everything else seems to function fine.

[2018-09-13 20:39] neolit123 commented on #1115
@Nitecon

the code between 1.11 and current master hasn't changed for this:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests.go#L173-L179
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests.go#L173-L179

the way for the api-server flags to be applied is if the user explicitly defines the certs under: `

[2018-09-13 20:42] neolit123 commented on #1115
ack, thanks. i just verified the same myself.

[2018-09-13 22:39] kfox1111 commented on #1114
I mean, if you stand up a new kubeadm based cluster, you get a bunch of rbac roles already predefined with best practice entries in them. I'm suggesting maybe we should do the same with some best practice pod security policies pre-installed? Users would be free not to use them. But wouldn't have to jump through as many hoops if they did want to use them.

[2018-09-13 23:43] neolit123 commented on #1109
resolved:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-stable-on-master

[2018-09-13 23:43] #1109 closed

[2018-09-14 00:40] Nitecon commented on #1115
I'll double check tomorrow regarding the external settings for etcd certs and if that works we can just set this as a bug in documentation as I would expect consistent behavior throughout all the components, especially with something like kube-apiserver which is generally run inside a container and doesn't provide any logs when a failure like this usually occurs.

[2018-09-14 01:10] fanux commented on #1112
Oh, sorry is my fault，  I used the wrong kubeadm config....

[2018-09-14 01:10] #1112 closed

[2018-09-14 10:03] youyongsong opened #1116 "The kubeadm-config configmap which kubeadm uploaded is not raw."
## Versions

**kubeadm version** (use `kubeadm version`): `v1.11.3`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `v1.11.3`
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e.g. `uname -a`): `4.4.0-130-generic`
- **Others**:

## What happened?
The `kubeadm-config` configmap kubeadm uploaded is not the same as I p

[2018-09-14 13:28] rosti commented on #1116
Hi @youyongsong and thanks for filing this issue!

Have you experienced any particular problems with this?

For the `api.advertiseAddress` this is actually fixed in the upcoming 1.12 release (as there is a map containing all available API server endpoints).
Also, expanding any unset fields to their defaulted values is preferred to be done before upload of the configuration. This is done in order t

[2018-09-14 13:42] rosti opened #1117 "Auto detect CRI"
With CRIs different than Docker gaining more and more popularity, we need to improve the user experience of kubeadm by not having to supply `--cri-socket` on every command if something different than Docker is used.

Most of the other CRIs have well known default paths for Unix domain sockets, thus detecting the default installations of CRIs on the local machine should not be too difficult.

Curre

[2018-09-14 13:49] stepin commented on #1110
Thanks a lot to all.

It was confusing that feature gates are enabled on per component basis. For example, this page https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/ has list of feature gates (for stable release) but it don't specify what components should be configured to enable particular feature. Maybe adding extra column with components list (and kubeadm key lik

[2018-09-14 13:49] neolit123 commented on #1116
@rosti

yes, absolutely.

@youyongsong

hm, i don't think so. we do have multi master setups guidelines in the docs and they work fine.
if you want to see config map improvements you should try 1.12 towards the end of the month.

until then i'm tempted to close this issue.
any objections?

/priority awaiting-more-evidence

[2018-09-14 13:50] neolit123 commented on #1115
/priority awaiting-more-evidence

[2018-09-14 13:52] rosti commented on #1117
/assign

[2018-09-14 13:55] youyongsong commented on #1116
Hello @rosti  , I experienced a problem caused by the expanded `api.advertiseAddress` field:
I use kubeadm to set up a ha k8s cluster, I create a kubeadm-config file on the first master and run `kubeadm init --config <kubeadm-config-file>`, then on other 2 masters I download the kubeadm-config file from configmap and use it to generate certs manifests and join current node as master.
The cluster l

[2018-09-14 13:58] neolit123 commented on #1110
@stepin
i'm sorry for the confusion, we do have documentation about passing custom flag to control plane components from kubeadm:
https://kubernetes.io/docs/setup/independent/control-plane-flags/

but we do not cover, say how to pass a feature gate to the api server explicitly.

on the other hand, feature gates are also exposed as command line flags and they are available in the CLI reference too:

[2018-09-14 14:01] youyongsong commented on #1116
@neolit123 thanks.

It works fine with the official docs. I encountered this problem when I setup automation tools using the flow mentioned in [kep-0015(kubeadm join --control-plane workflow)](https://github.com/kubernetes/community/blob/master/keps/sig-cluster-lifecycle/0015-kubeadm-join-control-plane.md).

[2018-09-14 14:06] neolit123 commented on #1116
@youyongsong

it should update to the local bind address. you mention v1.11.3, so that could be an old bug.

hm, but this is something that is coming in 1.12 are you testing the current kubernetes master branch with `kubeadm join --control-plane` workflow?

/assign @fabriziopandini
for feedback on `--join control-plane`.

[2018-09-14 14:08] mtaufen commented on #1102
Nodes are not allowed to set their own config source to non-nil values, as this could allow a node to escalate privilege (e.g. by reading ConfigMaps it was not originally configured to have access to).

Since this is about kubeadm join, is it safe to assume that kubeadm has the same identity as the node when it tries to set the config source?
Are you identified as the node you are trying to patch

[2018-09-14 14:08] neolit123 commented on #1114
we do treat kubeadm as a tool that deploys minimal viable clusters.

custom RBAC semantics or pod security policies are arguably out of scope for the project.
what we want to do is allow the user to customize the control plane from kubeadm and possibly document that as an advanced user-case, but not expand on specifics.

/assign @timothysc
for opinion on the subjectt

[2018-09-14 14:09] mtaufen commented on #1102
@luxas wrt kubeadm implementation

[2018-09-14 14:14] youyongsong commented on #1116
@neolit123

No, I'm using kubernetes v1.11.3, I have an ansible project that wraps kubeadm, and I implemented the flow described in kep-0015 using ansible module.

[2018-09-14 14:16] neolit123 commented on #1102
^ @fabriziopandini

[2018-09-14 14:43] neolit123 commented on #945
@jstangroome
yes, please file a new issue so that we can track this.

[2018-09-14 14:45] neolit123 commented on #1113
@oisis
please take a look at this comment:
https://github.com/kubernetes/kubeadm/issues/1115#issuecomment-421145459

and the related issue.
and test you can provide the custom locations for external etcd.

/priority awaiting-more-evidence

[2018-09-14 15:28] Nitecon commented on #1115
Updated Kubeadm config file looks like this now:

[code]

With it set in that way the init completed successfully and apiserver config is set up correctly.  We do need to make sure this information is in documentation and perhaps also fix the execution so it's consistent with all the other components.

[2018-09-14 15:44] neolit123 commented on #1115
thanks for testing @Nitecon

@chuckha is currently refactoring a related document.
Chuck, do you know what would be the best place to include this addition for external etcd:
[code]

[2018-09-14 20:35] danroliver commented on #581
If you are using a version of kubeadm prior to 1.8, where I understand certificate rotation #206 was put into place (as a [beta feature](https://kubernetes.io/docs/tasks/tls/certificate-rotation/)) or your certs already expired, then you will need to manually update your certs (or recreate your cluster which it appears some (not just @kachkaev) end up resorting to).

You will need to SSH into your

[2018-09-14 21:08] neolit123 commented on #1011
/lifecycle active

[2018-09-14 22:02] neolit123 commented on #798
@yagonobre @Evalle have you experienced this in newer k8s/kubeadm versions?
we might have fixed this already, but i haven't checked.

[2018-09-15 03:31] neolit123 opened #1118 "write 1.12 themes and update the release notes"
the release notes doc is WIP for 1.12:
https://docs.google.com/document/d/1ZZkcIqDwUZiC77rhjA_XUGGsmAa9hyQ6nc5PXSX3LGI/edit

we need to add themes and verify / edit if the PR list is OK.

SIG WIP doc:
https://docs.google.com/document/d/1rbSO3_WpfcFoNqNvsuXl3y4Gkfhpdd2pOYC6YopVzBM/edit?usp=sharing

/kind documentation
/priority critical-urgent
/cc @kubernetes/sig-cluster-lifecycle

[2018-09-15 04:39] NeilW commented on #1011
Given it produces unworkable configs, I would fail the init if it is not specified.

[2018-09-15 07:09] davidcomeyne commented on #581
Thanks a bunch @danroliver !
I will definitely try that and post my findings here.

[2018-09-15 08:13] oisis commented on #1113
@neolit123

I do not get it. Do you mean different order, first certs then endpoints? My configuration is exactly the same except order.

[2018-09-15 13:51] fatrix commented on #122
I had some troubes again after recreating the cluster. This time following worked:

    mv /etc/kubernetes/manifests/kube-apiserver.yaml /tmp
    vi /tmp/kube-apiserver.yaml
    kubectl delete pod -l component=kube-apiserver --namespace kube-system
    sleep 10
    mv /tmp/kube-apiserver.yaml /etc/kubernetes/manifests
    kubectl get pod -l component=kube-apiserver --namespace kube-system
    ps -

[2018-09-15 13:56] neolit123 commented on #1113
@oisis
the order doesn't matter.
please verify that you have the following `/etc/kubernetes/manifests/kube-apiserver.yaml`:
[code]
after the manifests are written.

if not, something is wrong with the etcd config.

if yes, please give `kubeadm upgrade diff .... --etcd-upgrade --dry-run` a try
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-upgrade/#cmd-upgrade-plan

there might be

[2018-09-15 15:01] jackzhou121 commented on #738
HI @dkirrane I got the same problem too...
Have you find any solution to fix it ?

[2018-09-15 16:38] oisis commented on #1113
@neolit123

The problem is with upgrade, when I am trying to run it out this:
[code]
kubeadm doesn't see certs in different location than:
/etc/kubernetes/pki/etcd/*
But when I run:
[code]
Everything is fine. In both situations etcd certs are in /etc/kubernetes/etcd.
I do not get it why with init is ok but not when I run upgrade.
I do not want to keep ETCd in pki directory because with kubeadm res

[2018-09-15 17:52] Allenhaozi opened #1119 "version 1.7.2 x509: certificate has expired"
kubeadm version 1.7.2
kubernetes version 1.7.2

apiserver.crt x509: certificate has expired

how to update master and node cerfificates

[2018-09-15 17:54] fabriziopandini commented on #1117
+1
Work was done in the past two cycles for laying foundations for implementing what youmare suggesting (the criteria annotation on nodes). We can start from this and fix other commands

[2018-09-16 07:02] dixudx commented on #1118
An updated version has been moved to https://docs.google.com/document/d/1ZZkcIqDwUZiC77rhjA_XUGGsmAa9hyQ6nc5PXSX3LGI/edit.

[2018-09-16 13:06] dixudx commented on #945
@jstangroome I think you should remove field `tlsBootstrapToken` from your discovery file. I don't think this is a bug brought by kubernetes/kubernetes#66482.

[2018-09-17 08:01] bart0sh commented on #1117
@rosti

How automatic detection of CRI runtime will help to solve this? If we have docker and CRI runtimes running and kubeadm detects CRI runtime it still has to decide which one to use.

Currently --cri-socket is an explicit way to point out that user wants to use CRI runtime. If we remove this we'll have to set clear priorities and let the user know about them somehow. Otherwise it would create

[2018-09-17 08:17] rosti commented on #1117
@bart0sh I think of a more simple approach on that. Something along the lines of:

1. Detect all possible CRIs we can use.
2. If precisely one is found, use that one, else bail out, asking for `--cri-socket` to be supplied.

The idea is not to cover all cases, but only the major case, where only one CRI is installed and that's not Docker.
Covering the case, where more than one CRI is installed and

[2018-09-17 09:01] bart0sh commented on #1117
@rosti thanks for the explanations. That makes sense to do, agree.

In case more than one runtime is detected kubeadm can either bail out or simply ask user which one to use.

[2018-09-17 13:59] chuckha commented on #1107
@pytimer it sounds like you're trying to do stacked control plane & etcd. We've got special instructions for that: https://kubernetes.io/docs/setup/independent/high-availability/#stacked-control-plane-nodes

[2018-09-17 14:57] chuckha opened #1121 "Typo in v1alpha3 example doc"
ControlPlaneEndpoint => controlPlaneEndpoint.

https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3

[2018-09-17 15:03] fabriziopandini commented on #1102
@mtaufen
yes, kubeadm join uses kubelet identity, and if I got your answer right, with this identity dynamic kubelet config can't be initialised. Is that right?

If yes:
1) The fact is kubeadm using kubelet identity was not changed in this release, so however I don't understand how former release of kubeadm could work.... @luxas suggestions here?
2) And moving forward, how this can be fixed? the o

[2018-09-17 15:19] chuckha commented on #1115
@neolit123 I don't quite understand the question, can you rephrase?

This information is already part of the HA-external etcd setup instructions: https://kubernetes.io/docs/setup/independent/high-availability/#set-up-the-first-control-plane-node. But if there is something lacking I'd be happy to add it.

I'm starting to think we need different pages for external vs stacked...

[2018-09-17 16:27] kfox1111 commented on #1114
I never created any of the attached list. they came out of the box.

kubeadm also strives to be a good reference implementation. having a few policies predefined but not used so users can optionally use them without needing to create them still feels inline with kubeadm's stated mission?

[code]

[2018-09-17 17:30] stealthybox commented on #1011
commented on PR:https://github.com/kubernetes/kubernetes/pull/68682#issuecomment-422102727

[2018-09-17 18:02] danroliver commented on #1119
I had this issue as well. Did you try the steps that I laid out here: https://github.com/kubernetes/kubeadm/issues/581#issuecomment-421477139

Where did it go wrong for you?

[2018-09-17 18:04] NeilW commented on #1011
I don't I'm afraid. I've only used this on the 1.11 cycle

[2018-09-17 18:14] neolit123 commented on #1115
@chuckha

we seem to be lacking explanation that these additions:
[code]
are required in a case where an external etcd server i used.

as @Nitecon wrote:

so we either want to document this or investigate if this is a case where we should be populating the default cert values under `external:`.

[2018-09-17 18:22] neolit123 commented on #1113
/cc @fabriziopandini @stealthybox

[2018-09-17 18:29] neolit123 commented on #1115
/assing

[2018-09-17 19:14] neolit123 commented on #1119
hi,
1.7.x is outside of the supported version range and the kubeadm team doesn't have the bandwidth to support these old versions.

the tutorial that @danroliver posted here https://github.com/kubernetes/kubeadm/issues/581#issuecomment-421477139
should be sufficient to perform the rotation.

/close

please also feel free to continue your discussion in the closed issues.
thanks for understanding.

[2018-09-17 19:14] #1119 closed

[2018-09-17 20:02] chuckha commented on #1115
ohh, I see what you're saying. Thanks for the clarification @neolit123, much appreciated.

Yes, we need a validation check. If we're using an https connection to etcd in the external case, we need those files. If we are using an insecure connection then we don't need them. I think this is a bug.

Let's pick this default in the case no value is supplied when using a secure connection.
[code]

[2018-09-17 20:07] #1121 closed

[2018-09-17 20:50] neolit123 commented on #939
+1 for this.

[2018-09-17 20:50] neolit123 commented on #1065
@kad @timothysc
my recent PR about version bumps didn't bump these two:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha3/defaults.go#L36
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha2/defaults.go#L41

i like @kad 's idea here:
https://github.com/kubernetes/kubeadm/issues/939

and i think the two above should be c

[2018-09-17 20:55] timothysc commented on #1104
/assign @liztio

[2018-09-17 21:15] neolit123 commented on #1089
this is waiting on a sig-docs merge:
https://github.com/kubernetes/website/pull/10162

[2018-09-17 21:18] neolit123 commented on #949
for the next cycle we need to start thinking about deprecating the usage of CLI flags passed to the kubelet, because the flags are going away. i've asked sig-node a couple of times when the flags are going away but got no response.

changing milestone

[2018-09-17 21:28] neolit123 commented on #995
closing in favor of the tracking issue for customizing kubeadm addons:
https://github.com/kubernetes/kubeadm/issues/1091

/close

[2018-09-17 21:28] #995 closed

[2018-09-17 21:33] neolit123 commented on #966
this has to move for 1.13.
we are too late in the 1.12 cycle.

[2018-09-17 21:42] neolit123 commented on #1061
@stealthybox both PRs in the OP seem merged.

can this be closed?

[2018-09-17 21:44] timothysc commented on #1118
I'm going to run through this tonight or tomorrow.

[2018-09-17 21:44] neolit123 commented on #970
/kind feature
too late for 1.12, can be addressed in 1.13.

[2018-09-17 21:48] neolit123 commented on #964
moved to 1.13 according to the release team:
https://github.com/kubernetes/kubernetes/pull/67356#issuecomment-421860750

[2018-09-17 21:49] neolit123 commented on #706
pinging @fabriziopandini and @timothysc for status.

[2018-09-18 00:47] pytimer commented on #1107
@chuckha Thank for you reply. I see this doc for create HA cluster, but `kubeadm init` always check etcd static pod file when i use external etcd. Because i run `kubeadm init` on the host that already install etcd with kubeadm, so preflight check failed.

[2018-09-18 01:13] #706 closed

[2018-09-18 01:15] timothysc commented on #751
/assign @chuckha

Once the HA doc references we can close this issue.

[2018-09-18 01:15] timothysc commented on #857
Sadly we are way to late in the cycle to make this change.

[2018-09-18 01:47] timothysc commented on #526
@neolit123 We simply need to point to a page.
 Ideally, it would be a post-deployment step similar to CNI but for out-of-tree cloud providers. https://docs.google.com/spreadsheets/d/1zqqh_S8qZBJx6DPTXrjElN1RJXiQGnIymPuVL4PUczo/edit#gid=0

[2018-09-18 01:56] neolit123 commented on #526
@timothysc
understood, once the `k/website` (?) page is created we are going to link to it.

[2018-09-18 01:58] timothysc commented on #526
Yes.

[2018-09-18 02:03] timothysc commented on #751
I'm actually going to close this in favor of #1044 doc update as the last step.

[2018-09-18 02:03] #751 closed

[2018-09-18 06:54] ygqygq2 opened #1122 "How to change certificates?"
The master ca certificate is only for one year.
How can I change my certificate? Or increase the certificate time when `kubeadm init`.

[2018-09-18 08:33] ieugen commented on #1015
Some updates,

I've made the upgrade to 1.11.2 and 1.11.3 without any issue. Every time I performed the upgrade the diff showed it was dropping the information however that does not seem to happen. At this point I believe it is bad reporting.

[2018-09-18 08:39] mkretzer commented on #1015
@ieugen Minor Upgrades were also not affected here, but every major upgrade (1.10.x -> 1.11.x) was!

[2018-09-18 09:52] fabriziopandini opened #1123 "Automate stacked etcd into kubeadm join --control-plane workflow"
Stacked etcd is as a manual procedure described in https://kubernetes.io/docs/setup/independent/high-availability/.

However, kubeadm could automate the stacked etcd procedure as new step of the `kubeadm join --control-plane workflow`.

Some design decision should be taken before implementing.

- A) Stacked etcd should be a “trasparent” evolution of current local etcd mode or B) users will be requ

[2018-09-18 09:54] fabriziopandini commented on #751
Thanks @timothysc . it was on my list to update this tracking issue (done) and close in favour of more actionable tickets; added https://github.com/kubernetes/kubeadm/issues/1123 as well

[2018-09-18 12:08] poobalan-arumugam opened #1124 "kubeadm blocks on "waiting for the kubelet to boot up the control plane..." resolved in this instance by symlinking /run/resolvconf to /run/systemd/resolve"
## What keywords did you search in kubeadm issues before filing this one?

- boot up the control plane
- kubeadm init timeout
- kubeadm resolve.conf
- kubeadm dns

I did find other similar sounding issues but none resolved my issue (excuse the pun).

BUG REPORT

## Versions

**kubeadm version**: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c21224b3d52edfe0ea91

[2018-09-18 13:12] neolit123 commented on #1124
thanks for the report,

this is really outside of the scope of kubeadm.
the symlink is something distro specific and relates to systemd-resolved.

[2018-09-18 13:12] #1124 closed

[2018-09-18 13:13] neolit123 commented on #1124
^ @kubernetes/sig-cluster-lifecycle
if anyone has objections.

[2018-09-18 13:15] neolit123 commented on #1118
since the official doc does not allow direct edits (only suggestions) here is our own WIP doc:
https://docs.google.com/document/d/1rbSO3_WpfcFoNqNvsuXl3y4Gkfhpdd2pOYC6YopVzBM/edit?usp=sharing

[2018-09-18 13:28] fabriziopandini opened #1125 "Cleanup `util/config` packages; filenames and methods should be updated to use new names"
Package `k8s.io/kubernetes/cmd/kubeadm/app/util/config/` contains a set of function for dealing with kubeadm config files.

Filenames and methods name should be now updated to use new names of the kubeadm config types. e.g.:
MasterConfiguration --> InitConfiguration
NodeConfiguration --> JoinConfiguration

[2018-09-18 13:29] fabriziopandini opened #1126 "Add support for `kubeadm config print-defaults --api-objects {componentConfig}`"
`kubeadm config print-defaults` command lets user to get a defaulted config file.

The command supports a `--api-objects` flag that allows to filter the api objects that will be included in the output. Currently value supported by this flag are only `InitConfiguration`, `ClusterConfiguration` and `JoinConfiguration`.

Since in v1.12 component config were moved out from `ClusterConfiguration`, now

[2018-09-18 13:30] Klaven commented on #1096
@fabriziopandini I can pick this up if you want.

[2018-09-18 13:34] fabriziopandini commented on #963
@timothysc @neolit123
I propose to close this one.
All the open points are tracked into separated, more actionable tickets, with exception of two points where I'm not sure if there is consensus or not, which are tracked on the original umbrella issue #911
WDYT?

[2018-09-18 13:39] fabriziopandini commented on #911
After v1.12 the remaining activities are:
[ ] - create v1beta1 (and delete v1Alpha2)
[ ] - Improve controlplane configuration by using substructs
[ ] - Refactor the Discovery joining API types by using substructs
[ ] - Addons configuration (tracked in #1091)
[ ] - Make flags override config values (tracked in #1040)
[ ] - Stacked etcd (tracked in #1123)
[ ] - Move out BootstrapToken (https://githu

[2018-09-18 13:39] neolit123 commented on #963
+1
tracking issues should contain a smaller number of items, ideally.

[2018-09-18 13:58] fabriziopandini opened #1127 "Fix panic on "kubeadm alpha phase etcd" when invoked (improperly) with External Etcd"
`kubeadm alpha phase etcd` subcommand allows to invoke the generation of the static pod manifest for etcd.

This phase during the `kubeadm init` workflow is invoked only in clusters using a local etcd; however currently there is no such a filter in the `alpha phase etcd` subcommand, and when a user by mistake invokes this phase with a cluster configuration using external etcd instead, the command

[2018-09-18 14:05] fabriziopandini opened #1128 "Improve kubeadm join preflight"
Currently kubeadm join preflight checks are executed without considering the `ClusterConfiguration`, and the IPVS check is always executed, no matter if the cluster uses IPVS or not.

Kubeadm join preflight checks should be improved by considering the `ClusterConfiguration` in place.

[2018-09-18 14:12] Klaven commented on #1126
I will take this issue.

[2018-09-18 14:12] Klaven commented on #1126
/lifecycle active

[2018-09-18 14:40] chuckha commented on #1107
local etcd was designed to do exactly what you're trying to do. I don't think we are going to support using a colocated etcd with the external configuration. Is there some use case we might be missing that would require the use of external with a colocated control plane / etcd?

[2018-09-18 15:05] chuckha commented on #1123
C seems like the simplest solution, but I'd love to hear more about A. I think we've really got a couple of use cases, stacked control plane nodes scale out to some number n nodes before etcd needs to have dedicated hosts, then it would be great if we had a path to get switch to external/dedicated hosts.

I'd rule out B and D for now unless there is a compelling reason to add that complexity.

[2018-09-18 15:14] ereslibre commented on #1093
At SUSE we are interested in this feature for the [kubic project](https://kubic.opensuse.org/), but I think it would be good to understand the full context of why this feature is being deprecated and removed (to understand the root causes of the complexities that it introduces), because we are starting to use `kubeadm` as the main way of deploying and mantaining a Kubernetes cluster. We don't real

[2018-09-18 16:02] fabriziopandini commented on #1123
@chuckha

From what I understand stacked etcd is an etcd instance like local etcd, with the difference that it listen on a public IP instead of 127.0.0.1 and it has a bunch of additional flags/certificate sans .
Why not changing local etcd static pod manifest to be equal to stacked etcd manifest?
- in case of  new cluster, the the "**new** local etcd" will work with a single etcd member, like "**o

[2018-09-18 16:05] timothysc opened #1129 "[Docs] v1.11.x -> v1.12.y upgrade docs"
This is pretty self-explanatory

/assign @liztio
/cc @neolit123

[2018-09-18 16:11] timothysc commented on #1129
/cc @Bradamant3

[2018-09-18 16:40] timothysc commented on #1122
Closing this issue, as it's been addressed in v1.12 and supported upgrade cycles.

/cc @liztio

[2018-09-18 16:40] #1122 closed

[2018-09-18 17:11] #1104 closed

[2018-09-18 18:59] neolit123 commented on #1118
i have updated the list of PRs, removing duplicates.
also the WIP gdoc now has some ideas for the themes writeup.

[2018-09-18 19:32] fabriziopandini commented on #970
@neolit123 I have a KEP in flight for this

[2018-09-18 21:31] neolit123 commented on #1118
the PR list has been cleaned up, as much as we can.
the themes have been added in the form of a couple of sentences and a list of kubeadm features bellow.

[2018-09-18 21:57] timothysc commented on #1118
closing, this is done.

[2018-09-18 21:57] #1118 closed

[2018-09-19 00:16] mtaufen commented on #1102
Yes, that's correct.

Is there a doc with the reason behind this workflow that I can read to understand more?

Typically a controller (e.g. machine controller in Cluster API) or admin (e.g. via a rollout script) would set the dynamic config after the node was registered.

[2018-09-19 00:58] pytimer commented on #1107
When the small number of virtual machines, install etcd and control plane on the same host. And the other case, there are more vms,  install etcd and control plane on the different hosts. I hope that two case, the installation method is consistent, and connection etcd by vip.

Is this idea correct? Or have other soluation to do it.

[2018-09-19 07:30] SataQiu opened #1130 "kubeadm lacks of node hostname duplicate check"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

In my experimental environment，the master and node have the same hostname.
When I initialize the cluster using `kubeadm init` and add the node to the cluster using `kubeadm join`, everything looks well. But I can only get one record when I query the nodes in the cluster through `kubectl get nodes` command.
I think the kubeadm may lack the ch

[2018-09-19 08:36] Evalle commented on #798
@neolit123 I've tested v.1.10.x a couple of minutes ago - the same issue.

[2018-09-19 12:31] neolit123 commented on #798
@Evalle we have a small team and therefor have bandwidth issues testing 1.10 near the release of 1.12.
does v1.11 or the v1.12 beta/RC work?

[2018-09-19 12:31] neolit123 commented on #798
/remove-lifecycle stale

[2018-09-19 13:35] mseddon-cc commented on #1056
Thank you for this - it helped me track down why my internal DNS requests were not resolving.

For reference, I had to set my clusterDNS value to 192.168.0.10 as I init kubeadm with --service-cidr=192.168.0.0/16 and my kube-dns service has that as its external IP.

[2018-09-19 13:49] chuckha opened #1131 "Warning on docker version during preflights is wrong"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.12.0-rc.1

docker version: 17.03.3-ce

## What happened?
When running kubeadm init the preflight check says:

[code]

## What you expected to happen?
I expected it to to not warn or to tell me it's *less than* the most recently validated version, not greater than.

## How to reprod

[2018-09-19 13:51] dims commented on #1131
/good-first-issue

[2018-09-19 14:55] mgoodness commented on #1040
As a user, I need a way to override certain values in my kubeadm config file. Node name is the most critical today, but I also look forward to setting `cluster-dns` on each node once it's part of kubelet componentconfig.

FWIW, I really like the way viper handles precedence: flag > env var > config file.

[2018-09-19 15:15] chuckha opened #1132 "Restructure v1alpha3 godoc example"
Updating the example is all that is required here

[2018-09-19 15:29] xmik commented on #798
I think this won't be resolved until the idea from [this comment](https://github.com/kubernetes/kubernetes/issues/51076#issuecomment-413261446) is implemented.

[2018-09-19 16:58] fabriziopandini commented on #1102
@mtaufen thanks for your answer.
I'm not aware of documents with rationals behind this, but I will dig a little more.

We should discuss at sig level how to remove the dynamic config step from the `kubeadm join` workflow and how to bring back this action to the controller/the admin.

/cc @timothysc

[2018-09-19 17:13] timothysc commented on #1086
Doc has merged, closing this issue.

[2018-09-19 17:13] #1086 closed

[2018-09-20 05:32] fabriziopandini commented on #1113
@oisis @neolit123 I will give it a test as soon as possible (after release cut)
Btw certs management in kubeadm was refactored in v1.12, so might be things are already ok

[2018-09-20 07:13] fabriziopandini commented on #1125
/lifecycle active
/assign @RA489

[2018-09-20 07:15] RA489 commented on #1125
@fabriziopandini I want to take this.

[2018-09-20 10:22] bart0sh commented on #1117
@rosti Another suggestion is to avoid using crictl when detecting CRI. Using CRI API call[s] would be better in my opinion. It will keep kubeadm independent of crictl when using default (Docker) runtime.

[2018-09-20 10:45] rosti commented on #1117
@bart0sh I have done some work on it and I'll soon be ready to PR it (just needs tests written). It's on the above points and simply checks for the existence of several well known domain sockets. It doesn't check the `docker` or `crictl` executables.
I'll ping you for a review when this is ready.

[2018-09-20 11:47] bart0sh commented on #1117
@rosti sure. one note here. You should probably consider checking if CRI API is accessible through the socket. Checking file existence is not enough from my point of view.

[2018-09-20 12:47] fabriziopandini commented on #963
closing with lazy consensus 😉

[2018-09-20 12:47] #963 closed

[2018-09-20 14:34] detiber commented on #1123
If I'm understanding this option, it would basically just extend the existing local etcd mode to support the additional flags, SANs, etc that the stacked deployment currently uses and is mainly about providing an upgrade path for existing local etcd-based deployments rather than providing HA support itself. Is that correct?

That said, it would require config changes to make work, since we would n

[2018-09-20 15:57] lovebaicai opened #1133 "kubeadm config add apiServerExtraVolumes parameter,unable to initialize cluster."
#### kubeadm && kubernetes version: v1.10.0
#### The problem describe：
- use kubeadm initialize cluster,if add ```apiServerExtraVolumes``` parameter, process stuck at ```[init] This might take a minute or longer if the control plane images have to be pulled.```,cluster  initialize failed.
- delete ```apiServerExtraVolumes``` parameter, cluster initialize succeed.
- I guess add ```apiServerExtraVol

[2018-09-20 16:31] fabriziopandini commented on #1123
@detiber happy to see we are on that same page here!

Yes, but with the addition than when before adding etcd members we are going to call `etcdctl member add` on one of the existing members.

This will increase HA of the cluster, with the caveat that each API server use only the etcd endpoint of its own local etcd (instead of the list of etcd endpoints). So if an etcd member fails, all the contro

[2018-09-20 16:53] fabriziopandini commented on #1107
@pytimer  you can install etcd on the same machines of the control plane, but in that case my personal raccomandation is to install etcd without using kubeadm.

The reason behind this is that you are using kubeadm for two different scopes on the same machine (install etcd external cluster and install kubernetes using the external cluster), but this is basically obscure to kubeadm itself. As a cons

[2018-09-20 17:03] fabriziopandini commented on #1107
Fyi we are working to a different solution that doesn't use the concept of external etcd but extends the current local etcd https://github.com/kubernetes/kubeadm/issues/1123

[2018-09-20 17:30] timothysc commented on #948
https://github.com/kubernetes/website/pull/10264 Fixes and deduping with https://github.com/kubernetes/kubeadm/issues/1044

[2018-09-20 17:30] #948 closed

[2018-09-20 17:31] timothysc commented on #526
It doesn't look like we can link out until 1.13 at this point.

[2018-09-20 17:40] chuckha commented on #1033
Can we punt this out of the milestone? I don't have the bandwidth at the moment. If someone else wants to make the suggested changes though that would be 👍

[2018-09-20 17:46] detiber commented on #1123
@fabriziopandini For the issue with the control plane being fully dependent on the local etcd, there is an issue to track the lack of etcd auto sync support within Kubernetes itself: https://github.com/kubernetes/kubernetes/issues/64742

[2018-09-20 18:30] andrewsykim commented on #526
Apologies for not getting this completed in time for v1.12.

[2018-09-20 20:26] andrewsykim commented on #526
As we work through docs in the next release, if you have anything _specific_ you want included as part of provider docs (i.e. steps for kubeadm install) please propose those in https://github.com/kubernetes/community/blob/master/keps/sig-cloud-provider/0019-cloud-provider-documentation.md

[2018-09-20 20:36] stealthybox commented on #1033
So it seems the actionable item is to update https://kubernetes.io/docs/setup/independent/high-availability/#external-etcd to generate a unique cert&key per node.

[2018-09-20 22:06] timothysc commented on #1044
kubernetes/website#10264  is merged, closing.

[2018-09-20 22:06] #1044 closed

[2018-09-21 02:01] pytimer commented on #1107
@fabianofranz

I create etcd HA cluster with kubeadm, and then init kubernetes HA cluster with kubeadm.

- use `kubeadm alpha phase certs xxx` to create control plane ca certs.
- use `kubeadm alpha phase certs xxx` to create control plane certs.
- use `kubeadm init` command and skip preflight check.

I run `kubectl` on the one of master hosts.
[code]

But like you said, when i run `kubeadm reset`,

[2018-09-21 08:56] NeilW opened #1134 "kubeadm config print-default display incorrect version number"
# BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.0-rc.1", GitCommit:"3e4aee86dfaf933f03e052859c0a1f52704d4fef", GitTreeState:"clean", BuildDate:"2018-09-18T21:04:47Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl ve

[2018-09-21 15:14] chuckha opened #1135 "remove the usage of the --allow-privileged flag in kubeadm"
Anything that relies on the kubelet's `--allow-privileged=true` flag will need to be replaced with a PodSecurityPolicy in future. So far I'm aware that this affects the guide to installing etcd with kubeadm but I'm guessing there are other docs this will affect. We will probably have to generate PSPs with kubeadm

This is important soon because `--allow-privileged` is probably going away in 1.13.

[2018-09-21 15:47] PI-Victor commented on #1134
i can confirm thi

[code]

[2018-09-21 19:33] chuckha opened #1136 "kubeadm upgrade has a few minor problems"
during a kubeadm upgrade from 1.11.3 to 1.12.0-rc.1 I encountered some strange behavior.

1. I used an external etcd, it let me know I had to manually update etcd which is 👍, however it still prepulled the etcd image.
2. Typo. `[upgrade/staticpods] This might take a minute or longer depending on the component/version gap (timeout 5m0s` No final `)`.

[2018-09-21 20:06] timothysc commented on #1133
This is unlikely a kubeadm issue vs. an api-server + arg passing problem.

In order to diagnose the problem, we would need the api-server pod logs which can be obtained via `docker logs`

[2018-09-21 20:08] timothysc commented on #1134
Until the release is cut you will need to pass `--kubernetes-version v1.12.0-rc.X` where `X=1,2`

2 will be cut later this afternoon.

[2018-09-21 20:08] #1134 closed

[2018-09-21 20:10] timothysc commented on #1131
@neolit123 does this even exist now with your last PR fix for 18.06?

[2018-09-21 20:20] neolit123 commented on #1131
@timothysc
yep, i modified the message as it was incorrect.

right now it indicates that the tested version is not in the list of versions that are known to work:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/system/docker_validator.go#L81-L83

/close

[2018-09-21 20:20] #1131 closed

[2018-09-21 20:21] neolit123 commented on #1131
@carlisia, @chuckha sorry we had to fix that as it was urgent for 1.12. :)

[2018-09-21 20:34] neolit123 opened #1137 "move the pause image version to a new constant"
this is very a small cleanup we want for k8s 1.13.
the pause image version is the only version not defined using a constant.

mini-guide:

the `3.1` here has to be replaced with a constant - `constants.PauseVersion`:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/images/images.go#L65

the constant should be added here and should have the value of `"3.1"`:
https://github.com/k

[2018-09-21 22:26] neolit123 commented on #1135
i asked sig node a couple of times, about the roadmap for removing some other deprecated flags post the KubeletConfigtain changes and got no response.

while some of the flags do have a TODO:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go

i'm hoping that we are not hit by a surprise WRT to:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/a

[2018-09-24 09:20] johnmiroki commented on #1026
same problem running Ubuntu 16 on VMWare.

[2018-09-24 18:42] neolit123 opened #1141 "handle version skew scenarios due to `stable-1`"
with the merge of https://github.com/kubernetes/kubernetes/pull/68789 where `stable-1` is used in kubeadm, a couple of problems are solved:

- kubeadm reference docs were always generated before a PR like the above is merged which populated the kubeadm docs with outdated version next to all commands that have `--kubernetes-version` flags!
(this still has to be fixed in this version, because the do

[2018-09-24 22:31] jstangroome opened #1142 "kubeadm join with pre-existing client certificate still prompts for bootstrap token"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Generic VM hosting, 8 core, 32GiB ram
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.5 LTS
- **Kernel** (e.g. `uname -a`): `Linux test-jason-1 4.4.0-135-generic #161-Ubuntu SMP Mon Aug 27 10:45:01 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux`

## What hap

[2018-09-24 22:44] ivan-section-io commented on #1142
As the original reporter of #945, I've gotten feedback saying v1.12 won't work with our super-simple (drop the certs on-box) approach.

We'd planned to switch to `kubeadm join` (for the "extra" features & simpler approach), but it sounds like #66482 regressed/bugged out.

I haven't had a chance to repro myself - but it'll be important to me shortly.

[2018-09-25 02:57] neolit123 commented on #1142
/help
/priority awaiting-more-evidence

cc @dixudx
as per https://github.com/kubernetes/kubernetes/pull/66482

[2018-09-25 02:58] neolit123 commented on #1142
thanks for filing the issue @jstangroome
we can try looking at this once the release of 1.12 is cut.

[2018-09-25 03:14] lovebaicai commented on #1133
@timothysc
- initialize cluster,unable to create api-server container, can't observe docker logs.
- all docker container,there is no api-server container,and have kube-scheduler & kube-controller-manager,because these two pod not add parameter.

[code]
- docker process logs
[code]
- kubelet log
[code]
- Thanks.

[2018-09-26 00:00] #1062 closed

[2018-09-26 01:18] timothysc commented on #1142
/assign @liztio

[2018-09-26 05:34] antihacker81 opened #1145 "Problem with Init pod"
Hi all ! I have problem with execute command

uadmin@kubernetes-master:~$ sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --kubernetes-version v1.12.0
[sudo] password for uadmin:
[init] using Kubernetes version: v1.12.0
[preflight] running pre-flight checks
        [WARNING KubernetesVersion]: kubernetes version is greater than kubeadm version. Please consider to upgrade kubeadm. kubernetes ver

[2018-09-26 05:42] neolit123 commented on #1145
@antihacker81

try calling `kubeadm reset` first.
it seems like `kubeadm init` was already called on this node.

/priority awaiting-more-evidence

[2018-09-26 05:54] antihacker81 commented on #1145
Thanks ! It help !  But with errors

uadmin@kubernetes-master:~$ sudo kubeadm init --pod-network-cidr=10.244.0.0/16 --kubernetes-version v1.12.0
[init] using Kubernetes version: v1.12.0
[preflight] running pre-flight checks
        [WARNING KubernetesVersion]: kubernetes version is greater than kubeadm version. Please consider to upgrade kubeadm. kubernetes version: 1.12.0. Kubeadm version: 1.11.x

[2018-09-26 06:02] neolit123 commented on #1145
you are using kubeadm 1.11 so you should use this:
[code]

without `--kubernetes-version=1.12.0`.
1.12.0 is not release yet.

you don't seem to have internet access.
you can download the images when you have internet and try again.

/close

[2018-09-26 06:02] #1145 closed

[2018-09-26 06:29] antihacker81 commented on #1145
Hmm, very  interesting. I have stable internet connection. Ok. I will try later.

[2018-09-26 11:36] rosti opened #1146 "Enable br_filter & ip_forward for Debian packages"
With the merger of kubernetes/kubernetes#68624 RPMs and DEB packages deviated a little in that br_filter module is loaded and IP forwarding is enabled upon system startup. The same functionality needs to be replicated in DEB packages too. If this is not done, DEBs will still suffer from #1062 .

/area UX
/area ecosystem
/kind bug
/good-first-issue

[2018-09-26 15:21] canghai908 opened #1147 "kubeadm join error！ x509: certificate signed by unknown authority"
## kubeadm version 1.7.4

ubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381", GitTreeState:"clean", BuildDate:"2017-08-17T08:30:51Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes1.7.4**
- **8vcpu/16G/200G**
- **Centos 7.4 x64**
- **3.10.0-514.26.2.el7.x86_64**

## Kubeadm init

[2018-09-26 15:48] ashwanikhemani commented on #1146
I would like to work on this issue.

[2018-09-26 17:51] neolit123 commented on #1147
hello, i'm very sorry, but the kubeadm dev team cannot support a version this old.
1.12 is being released tomorrow (hopefully) and this means that the last version we can provide feedback for is 1.10.

please make sure to update soon and let us know if you are still having issues.
thanks.

/close

[2018-09-26 17:51] #1147 closed

[2018-09-26 17:53] neolit123 commented on #1146
@ashwanikhemani

please go ahead, and make sure you post a message in the #sig-cluster-lifecycle slack channel, once your PR is ready.

/lifecycle active

[2018-09-27 10:42] #868 closed

[2018-09-27 11:49] #1137 closed

[2018-09-27 15:52] selmison commented on #909
@Arnavion
This issue is being addressed by PR kubernetes/kubernetes#66968

[2018-09-27 16:27] Arnavion commented on #909
@selmison Your PR doesn't help with https://github.com/kubernetes/kubernetes/issues/57709 which is what my comment was about.

[2018-09-27 20:43] neolit123 commented on #959
/remove-lifecycle stale

[2018-09-28 01:20] neolit123 opened #1150 "kubeadm cannot use control plane images that are built locally"
steps to reproduce:
- build the control plane images locally and double check if they are tagged correctly - e.g. `v1.13.0-alpha.0.....`.
- start kubeadm and specify the same version.
- kubeadm fails because it wants to pull these images from the GCR bucket.

feature:
- make it possible for kubeadm to use images that are tagged locally.

i might be missing a trick on how this is possible without h

[2018-09-28 01:56] BenTheElder commented on #1150
what I've done so far that works fine is:
- docker load the images
- don't use `kubeadm config images pull`, instead you can do `kubeadm config images list` then selectively pull images that are not `.*kube-.*`

[2018-09-28 12:48] calder commented on #738
I'm also seeing this intermittently on Kubernetes v1.10.3 and Docker v18.3.1.

[2018-09-28 12:53] calder commented on #738
Possibly related: https://github.com/docker/for-mac/issues/1396

[2018-09-28 14:59] bart0sh commented on #1142
I've seen this issue some time ago. This simple change should at least allow to get one step further:

[code]
@jstangroome can you check if this works for you?

[2018-09-28 15:43] fabriziopandini commented on #1150
Same here....

[2018-09-29 02:11] stealthybox commented on #1061
@neolit123, no those PR's are examples of what we need to do for the 1.12 release.

[2018-09-29 07:49] easylei commented on #1001
is there any way i can config it to pull from other docker repository.
i'm a poor guy in china. behind the GFW . no way to access k8s.gcr.io

[2018-09-29 20:40] neolit123 commented on #1001
@easylei if you are using version 1.12 you can have a look at this example config:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha3/doc.go#L117

imageRepository can be changed to something else.
you can pass the config using `--config=filename`

[2018-09-30 16:19] Brightside56 commented on #1015
In my case worker nodes kubelet looses its network parameters during upgrades, my personal fix is
`
echo "KUBELET_KUBEADM_ARGS=--cgroup-driver=cgroupfs --network-plugin=cni" > /var/lib/kubelet/kubeadm-flags.env`

[2018-09-30 16:36] Brightside56 commented on #1129
Also what about 1.10 -> 1.11 HA upgrade docs? Or do you think noone need to upgrade their 1.10 clusters? 👍

[2018-09-30 16:39] neolit123 commented on #1015
since 1.11, `/var/lib/kubelet/kubeadm-flags.env` is a file that `kubeadm init` and `join` generate automatically on runtime each time:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for-systemd

if you write it:
- before `init/join`, kubeadm will overwrite it and discard it's contents.
- after `init/join`, kubeadm or the kubelet will not use it.

[2018-09-30 16:51] Brightside56 commented on #1015
It's great, but kubeadm init/join wasn't run during cluster upgrade and cgroup/cni args were lost, that's why pods had 172.0.0.x IPs

[2018-09-30 17:02] neolit123 commented on #1015
that makes the issue valid.

[2018-09-30 22:18] dims commented on #1001
@easylei there are some good helpful suggestions in https://github.com/kubernetes/kubernetes/issues/56038

[2018-09-30 22:42] neolit123 opened #1151 "update kubernetes-anywhere to support only v1alpha3 post v1.12.0"
v1alpha2 was removed in master and this broke our k-a based tests, as expected.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-master/263

https://github.com/kubernetes/kubernetes/commit/bb8eec49345acc6084eab40b874e6263c4cd74c1

/assign @neolit123
/cc @fabriziopandini
/priority critical-urgent
/kind failing-test

[2018-10-01 06:51] fabriziopandini commented on #1151
Ideally we should consider v1beta1 as well

[2018-10-01 09:04] anupam4881 commented on #1078
Apologize for delay response.  Yes cluster  seems running out of ip. but how to fix it ? , we are releasing IP on daily basis.
[root@TPSERVER195 ~]# weave  ps
weave:expose ca:04:64:81:b4:09 10.35.248.2/12
1087c2d2241e ea:35:5c:5a:88:68 10.32.4.1/12
fc0b7e76a233 ea:35:5c:5a:88:68 10.32.4.1/12
cb239d42514e ce:a2:63:be:8a:e5 10.32.4.0/12
1dc1853eb0c1 ea:35:5c:5a:88:68 10.32.4.1/12
72160a0f4afb ea:35:

[2018-10-01 13:21] #1096 closed

[2018-10-01 13:31] neolit123 commented on #1151
the v1beta1 config can be pre-added this time in k-a so that we don't break CI in early 1.13.

[2018-10-01 14:58] Klaven commented on #1126
@fabriziopandini Quick question, I saw some `TODO`'s in the code that is related to this ticket. do you all want me to include the todo's in the PR?

An example of this would be found here: https://github.com/kubernetes/kubernetes/blob/e9a3aaa44b0655e0ca67be6d460a4ef0774e0648/cmd/kubeadm/app/cmd/config.go#L175

Anyhow. I'm still working on this, just wanted to know if you all would like me to clea

[2018-10-01 17:59] #1142 closed

[2018-10-01 18:42] timothysc commented on #1150
There are multiple ways to get around this fwiw.  I have my own local registry.

[2018-10-01 20:15] jethrogb commented on #664
/remove-lifecycle stale

[2018-10-01 21:28] neolit123 commented on #874
/lifecycle frozen
until there is a way to ingrate detection for other CRI.

[2018-10-01 21:29] neolit123 commented on #614
/lifecycle frozen

[2018-10-01 21:31] neolit123 commented on #494
/lifecycle frozen

[2018-10-01 21:35] neolit123 commented on #487
127.0.0.1 should probably not be allowed for an advert. address for the api-server.

i concur with the associated PR being closed:
https://github.com/kubernetes/kubernetes/pull/57607

[2018-10-01 22:56] neolit123 commented on #1151
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-master
is back to green now, the rest of e2e should follow.

/close

[2018-10-01 22:56] #1151 closed

[2018-10-02 01:04] #1070 closed

[2018-10-02 01:06] ulm0 opened #1152 "the v1alpha3 usage is unclear: Unable to init kubeadm 1.12 with config file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig release
/sig cluster-lifecycle

reported in https://github.com/kubernetes/kubernetes/issues/69242

**What happened**:

According to [changelog](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#sig-cluster-lifecycle):

Printed the new config format (`kubeadm config print-default`) to see what changes i need to make

[2018-10-02 02:50] neolit123 commented on #1152
hi, you should not pass `kind: JoinConfiguration` to `init`.
just remove that whole section from the yaml and try again.

[2018-10-02 04:45] yeison commented on #610
I turned my swap off but I'm still getting this error.

[2018-10-02 07:34] #487 closed

[2018-10-02 09:37] fabriziopandini commented on #1127
Adding more context info for helping candidate first-time contributors:

kubeadm supports two types of etcd configurations, local etcd and external ectd.

Local etcd is the default configuration used by kubeadm, and consists on an etcd deployed as a static pod. The `kubeadm alpha phase etcd` allows to generate such static pod manifest (out of the kubeadm init workflow)

External etcd is an additio

[2018-10-02 09:43] fabriziopandini commented on #1126
@Klaven
The two changes are un-related, even if impacting the same source file, so IMO it will be better to make a separated PR

[2018-10-02 09:56] ReSearchITEng commented on #1152
Hello,
While trying the new config ymls of kubeadm 12, it was noticed:
1. the generated yml keeps, in the apiEndpoint.advertiseAddress, the dummy "1.2.3.4" address instead of defaulting to the default one of the machine (e.g. the one returned by `hostname -i` )
2. There are 5 kinds of configs, but not very clear which is for what:
- kind: InitConfiguration
- kind: JoinConfiguration
- kind: Cluster

[2018-10-02 11:46] neolit123 commented on #1152
your cgroupfs driver and network address will be detected at runtime.
we don't want to write these as dynamic defaults for now.
but we might do that eventually.

i agree.

best information can be found in our reference docs and source code:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/typ

[2018-10-02 13:49] ReSearchITEng commented on #1152
@neolit123
Thanks for the great link.
As per the 1st link (https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3), at init we should put in the same file init and cluster.
1. What about kubeProxy and Kubelet? If we add them there, will it read those params?
2. BTW, I could not find a similar documentation link like the above for kubeproxy and kubelet
(there is no: https://godoc

[2018-10-02 13:51] ereslibre commented on #1127
I'll take this one if nobody else is working on it :)

[2018-10-02 13:56] neolit123 commented on #1152
1. yes.
2. they are not that easy to find in gdocs sadly, we need to address that too:
https://godoc.org/k8s.io/kube-proxy/config/v1alpha1#KubeProxyConfiguration
https://godoc.org/k8s.io/kubernetes/pkg/kubelet/apis/config#KubeletConfiguration

[2018-10-02 13:57] neolit123 commented on #1152
/lifecycle active

[2018-10-02 14:03] neolit123 commented on #1127
@ereslibre
sure! please go ahead.
you can add questions in this issue if you have any.

also @ -ping us on the PR once submitted.

thanks.

[2018-10-02 14:04] neolit123 commented on #1127
/lifecycle active

[2018-10-02 14:39] timothysc commented on #1152
We should split the default print (init,join) so it's clear.

FWIW I don't think we should fail on the other data though too.  We should just warn and ignore.
/cc @chuckha @liztio

[2018-10-02 14:40] timothysc commented on #1152
Given that this is regressive behavior, we can cherry-pick certain changes.

[2018-10-02 15:06] neolit123 commented on #1152
@ReSearchITEng

yes.

[2018-10-02 15:15] fabriziopandini commented on #1152
@ReSearchITEng @neolit123
Little clarification here:

If you leave field empty, kubeadm will keep values in sync among different components, if you specify values in the kubeproxy config, this value will be preserved (up to you to keep things in sync)

relevant code here:
https://github.com/kubernetes/kubernetes/blob/59957af12529c0cb84f43b2117f115387b49202d/cmd/kubeadm/app/componentconfigs/default

[2018-10-02 17:09] stealthybox commented on #1061
Blocked by https://github.com/kubernetes/kubernetes/issues/69234

[2018-10-02 18:39] neolit123 commented on #1152
@fabriziopandini @timothysc
this PR merged:
https://github.com/kubernetes/kubernetes/pull/69332
but we want to make it easy for for the 1.12 users to find v1alpha3 docs from the CLI it has to be cherry picked, or at least this hunk:
https://github.com/kubernetes/kubernetes/pull/69332/files#diff-67bf720df6e731a5f9313508a568856fR104

[2018-10-02 20:42] Klaven commented on #1126
This ticket looks to be working on current master. @fabriziopandini can confirm. ticket should be closed.

[2018-10-02 20:57] fabriziopandini commented on #1126
/close
many many thanks to @Klaven for help on investigating this ticket

[2018-10-02 20:57] #1126 closed

[2018-10-02 20:58] fabriziopandini commented on #1072
/lifecycle active
/assign @Klaven

[2018-10-02 21:52] timothysc commented on #1152
We need more than a work-around imo.  Let's discuss tomorrow on the call.

[2018-10-03 02:26] Javacppc opened #1153 "Using kubeadm to init kubernetes 1.12.0 falied:node “xxx” not found"
My environment:

CentOS7 linux

/etc/hosts:

192.168.0.106 master01

192.168.0.107 node02

192.168.0.108 node01

On master01 machine:

/etc/hostname:

master01

On master01 machine I execute commands as follows:

1)yum install docker-ce kubelet kubeadm kubectl

2)systemctl start docker.service

3)vim /etc/sysconfig/kubelet

EDIT the file:

KUBELET_EXTRA_ARGS="--fail-swap-on=false"

4)systemctl ena

[2018-10-03 02:51] Javacppc commented on #1153
The first error message: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory

[2018-10-03 02:51] Javacppc commented on #1153
The first error message: unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory

[2018-10-03 11:29] #1153 closed

[2018-10-03 11:29] Javacppc commented on #1153
need to execute systemctl start kubelet before kubeadm init

[2018-10-03 12:33] fabriziopandini commented on #1123
/lifecycle active

@detiber @chuckha @timothysc
I have a working prototype of the approach discussed above 😃

1. `kubeadm init` > creates a local etcd instance similar to the one described [here](https://kubernetes.io/docs/setup/independent/high-availability/#bootstrap-the-first-stacked-control-plane-node). The main difference vs now is that it uses another IP address instead of 127.0.0.1
[code]
2

[2018-10-03 12:54] fabriziopandini commented on #1123
@detiber @chuckha @timothysc
from coreos doc

so it doesn't matter which values I assign to `--initial-cluster` and `--initial-cluster-state`.

Considering this my idea is to keep upgrade workflow "simple"  and generate the new etcd manifest without compiling the `--initial-cluster` with the full list of etcd members.

Opinions?

[2018-10-03 13:06] Klaven commented on #883
I am not sure if I screwed this up linking it, but this ticket still says it is open, and the PR was merged.
Here is the link to the PR:
https://github.com/kubernetes/kubernetes/pull/68455
Thanks!

[2018-10-03 14:55] neolit123 commented on #805
/close

[2018-10-03 14:55] #805 closed

[2018-10-03 14:56] neolit123 commented on #883
thanks
/close

[2018-10-03 14:56] #883 closed

[2018-10-03 15:09] rosti commented on #1152
I can tackle the long term solution, once we have a clear understanding what's needed.

/assign

[2018-10-03 16:00] NeilW commented on #1054
Still an issue on 1.12.0. Docs mention that `kubeadm upgrade apply` is supposed to be idempotent.

[2018-10-03 17:03] fabriziopandini commented on #1123
Last bit:
What IP address should we use for etcd? if we are going to use the API server advertise address for etcd as well this will simplify things a lot...

[2018-10-03 17:17] Klaven commented on #1072
Talked about this in the kubeadm office hours on Wed 3 Oct 2018. the high level overview of the work that should be done is as follows:
We will not remove the feature, instead we will move it too it's own command and add a warning about it's limitations and restrictions.

[2018-10-03 19:25] chuckha opened #1154 "Improve the UX on packages"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions
All known versions of kubernetes

Installing kubelet through packages is a bad experience. We say explicitly that it will be failing after it is installed.

After a conversation with @craigtracey, I propose that we change the packaging around kubelet and kubeadm. Installing the kubelet should result in a *functioning* standa

[2018-10-03 19:33] mauilion opened #1155 "kubeadm is inconsistent in the way that it generates manifests."
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-10-03 19:36] neolit123 commented on #1152
sadly i missed the start of the meeting:

the is fine as long as we don't expect configuration objects that are not bound to either init or join, but rather bound to another hypothetical workflow that we don't yet have.

i must admit i preferred the old `print-default --join / --init` idea better.

but also #ETOOMANYSUBCOMMANDS
with `kubeadm config print` can `init / join` be flags instead?

[2018-10-03 19:42] #1155 closed

[2018-10-03 20:59] scheuk opened #1156 "kubeadm fails with no ipv4 address on the network interface with defaultroute"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:14:39Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Ku

[2018-10-04 13:34] bw2 commented on #1037
Another way to update the coredns version and raise the memory limit:

[code]

[2018-10-04 14:43] timothysc commented on #1156
@bart0sh @kad - Do you have any network setups that are similar to this?

[2018-10-04 14:49] timothysc commented on #1156
@scheuk what's the local resolvable IPv4 address for that host?
Can you add it to /etc/hosts, and specify to kubeadm config?

/cc @kubernetes/sig-network-bugs

[2018-10-04 14:50] rosskukulinski commented on #1156
@timothysc do we know if the api-server will work with this kind of environment?  I'm just wondering if we get kubeadm to work in this network setup, are we going to run into more problems down the road?

[2018-10-04 14:52] timothysc commented on #1156
If you have a specific ethernet adaptor that wraps the details and you can bind to, or /etc/hosts override I would think it should "just work".

[2018-10-04 15:15] scheuk commented on #1156
@timothysc
my local host IP sits on lo0:
[code]
the `10.101.228.11` ip address

I've spent the morning making`kubeadm init` work.
I was able to add this to the config and init worked like a charm.
[code]

However I'm still stuck needing a route to perform both the `kubeadm config images pull` command
as well as `kubeadm token create --print-join-command` to get the join command to add worker nodes

[2018-10-04 15:42] scheuk commented on #1156
@timothysc
Can you explain the /etc/hosts override?

I just attempted to add `10.101.228.11	hostname` to /etc/hosts.
but kubeadm is still looking at the interface with the route.

[2018-10-04 15:46] timothysc commented on #1156
So this has todo with the specifics of your networking configuration, coupled with the default behavior of the system.

I'm fairly certain if you were to make a bridged adapter to bind the IPv4 address to, vs. being bound to loopback, it would detect properly.

I'm digging right now to see if there is a global override for the nic that works across *.

[2018-10-04 15:50] timothysc commented on #1156
So it would be a combination of --api-advertise-addresses and --hostname-override , I'm not certain all those options percolate to all the subcommands, still digging.

[2018-10-04 15:54] timothysc commented on #1156
@scheuk could you run

`kubeadm config images pull --config yourconfig.yaml`

with your config file specifying: advertiseAddress

[2018-10-04 16:00] timothysc commented on #1156
You may need to pass in `--config` for every sub-command b/c the way your network is set up.

[2018-10-04 16:47] mauilion commented on #1156
you can run `kubeadm token create --print-join-command` from any host with the `--kubeconfig` flag.

[2018-10-04 16:59] scheuk commented on #1156
@timothysc @mauilion

No go on --kubeconfig:
[code]

also if I try with --config it says you can't combine those two:
[code]

This worked, I'll update my deployment to do this
[code]

[2018-10-04 17:45] mauilion commented on #1156
I mean that you can use `kubeadm token create from a machine with a default route like your laptop as long as it has access to the running apiserver and an admin level kubeconfig

[2018-10-04 17:46] timothysc commented on #1156
@scheuk

[code]

is a minor bug that we can fix in 1.13

Are you still blocked?

[2018-10-04 17:53] scheuk commented on #1156
@timothysc

I am still blocked.
We use ansible to perform all these steps and I currently execute
`kubeadm token create --print-join-command` on the first master to get the command to join the worker nodes to the cluster. However I may be able to temporarily unblock myself by doing what @mauilion says, and setup kubeadm locally (where ansible is run from) to perform that action.

Thanks for all th

[2018-10-04 17:55] timothysc commented on #1156
kubeadm token create --print-join-command on the first master to get the command to join the worker nodes to the cluster.

The output of `init` contains the command you should execute on the other nodes.

[2018-10-04 17:56] git2g commented on #1026
same problem running on RHEL 7.5

[2018-10-04 17:57] mauilion commented on #1156
This normally done in ansible as the token is short lived and it's easier to capture the join command output from token create rather than init.

[2018-10-04 17:58] scheuk commented on #1156
Also it's a little bit harder to parse with all the other output and spacing ;)

[2018-10-04 18:00] timothysc commented on #1156
I've done so much sed & awk in my life I'm probably too desensitized.

[2018-10-04 18:09] scheuk commented on #1156
So my localhost where I would run kubeadm from ansible is a mac.
From the kubeadm install page, it doesn't support mac os x.

[2018-10-04 18:34] rhtyd commented on #1105
I tried all options, including a manually created cluster-info file and they all don't work for me if the kube-apiserver is configured to use authorization=AlwaysAllow. The kubeadm join always fails due to missing basic auth.

[2018-10-04 19:07] mauilion commented on #1156
[code]
:)

[2018-10-04 19:10] scheuk commented on #1156
@mauilion duh! but That's awesome you have a kubeadm conatiner   :)

[2018-10-04 21:43] scheuk commented on #1156
Yes I am unblocked now! Thanks for all the help!

[2018-10-05 07:55] fabriziopandini commented on #1152
@seanhig
Thanks for your feedback
We are commited to move kubeadm config from alpha to beta, and this includes improving UX and as well adding some features.

Along this way user any user feedback is really valuable and we are taking them really seriously as you can see from this thread that already generated 3 PRs.
I'm moving your comments above to separated issues for ensuring better traceabilit

[2018-10-05 07:56] fabriziopandini opened #1158 "Kubeadm does not provide meaniful error if config file did not even exist"
From  @seanhig  [comment](https://github.com/kubernetes/kubeadm/issues/1152#issuecomment-427017561) on #1152

kubeadm returns

[code]

When invoked with the kube-adm.yml file did not even exist.

[2018-10-05 07:59] fabriziopandini commented on #1158
@seanhig
I tried to reproduce this use case, but when I pass a non existing file to kubeadm I got:

[code]

Could you kindly support me in reproducing your problem?

[2018-10-05 08:03] fabriziopandini opened #1159 "Kubeadm does not provide helpful error messages when config validation fails"
From  @seanhig  [comment](https://github.com/kubernetes/kubeadm/issues/1152#issuecomment-427017561) on #1152

kubeadm returns

[code]

When an unnecessary "http://" prefix in my template triggered the parse error

[2018-10-05 08:06] fabriziopandini commented on #1159
@seanhig
I tried to reproduce this use case adding "http://" prefix to the api server advertise address, and the result is:

[code]

Could you kindly support me in reproducing your problem?

[2018-10-05 10:37] bart0sh commented on #589
I faced another issue trying to reproduce this bug with kubeadm 1.12. I setup 2 nodes('master' and 'worker') cluster using kubeadm, added --anonymous-auth=false to the kube-apiserver.yaml and kubelet started producing errors like these on master:
[code]

and similar messages on the worker node:
[code]

I've also noticed that username is system:node:master in /etc/kubernetes/kubelet.conf on master,

[2018-10-05 10:59] kad commented on #1156
We don't have exactly like that, but I think we can simulate simpler but close to that setup.

[2018-10-05 12:01] danielsand commented on #973
just as reference - open a bug in SIG-AWS GH
https://github.com/kubernetes/cloud-provider-aws/issues/14

hit the same problem since kubernetes 1.11 =>

[2018-10-05 14:54] kad commented on #1156
@scheuk can you show examples what do you have in your ipv6 routing table and what type of ipv4/ipv6 addresses you have on your em* interfaces ? (no need to show real IPs, you can obfuscate, just would like to see what kind of unicast addresses might be present on your setup, beside link-local addresses).

[2018-10-05 15:07] scheuk commented on #1156
@kad our network team has quite moved to ipv6 yet, but they have bought into cumulus linux routing on the host using the ipv6 link local addresses and the RFC mentioned above.
here a link to how it works: https://docs.cumulusnetworks.com/display/ROH/Routing+on+the+Host
under the **BGP and OSPF Unnumbered Interfaces** section.

Attached here is the output if my ipv6 routing table and interfaces:

[

[2018-10-05 15:08] schwankner commented on #1037
I have kubeadm v1.12.0 on debian 9 and solved this issue by switching from calico to weave.

[2018-10-05 17:55] #1127 closed

[2018-10-06 09:36] lijiaocn commented on #1047
i have the same problem.

$ kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:43:08Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}

[2018-10-06 09:51] alvaroaleman opened #1160 "Kubeadm 1.12.0 package not available anymore in the ubuntu repo"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

The kubeadm 1.12.0-00 package is not available anymore in the ubuntu repo (`deb http://apt.kubernetes.io/ kubernetes-xenial main`), breaking all scripts that relied on installing that specific version. The only available package now is `1.12.1`:

[code]
For comparisons, on other major releases the patch version of packages did not get remove

[2018-10-06 10:47] lijiaocn commented on #1047
I just add a config line in "/etc/kubernetes/manifests/kube-apiserver.yaml":

the problem disappeared.

default value for --endpoint-reconciler-type is lease.  there may be a bug in  apiserver when use the default config.

[2018-10-06 12:53] timothysc commented on #1160
@alvaroaleman  - We don't own the release channels that's sig-release, but I'll happily route traffic.

/cc @kubernetes/sig-release-bugs @calebamiles ?

[2018-10-06 13:30] ulm0 commented on #1152
Well, after some days i've been able to test the suggestions, it worked, though as stated by other folks here the new format is a bit confusing

[2018-10-06 13:48] timothysc commented on #51
This is done!

[2018-10-06 13:48] #51 closed

[2018-10-06 13:50] timothysc commented on #296
I no longer see this being reported.  Closing.
If you feel otherwise and have reproduction information please re-open.

[2018-10-06 13:50] #296 closed

[2018-10-06 13:53] timothysc commented on #494
/assign @detiber

This will likely dovetail with cluster-api work
Ideally we will start to refactor the code to be more consumable from an import perspective.  This is very similar to other work we had done on sonobuoy.

/cc @chuckha @vincepri

[2018-10-06 15:18] bladedoyle commented on #603
That issue has been closed, yet the problem continues to exist.

[2018-10-06 16:08] neolit123 commented on #1160
the `-02` bit seems to be also failing for `kubernetes-cni` in one of our e2e test (stable-on-master).
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-stable-on-master
[code]

[2018-10-06 17:43] alvaroaleman commented on #1160
Created https://github.com/kubernetes/kubernetes/issues/69497 over at k/k to supersede this, as people are more likely to search there.

@neolit123 What you see there is kubernetes/kubernetes#69489

[2018-10-06 17:43] #1160 closed

[2018-10-07 18:33] sujithbhaskaran opened #1161 ""kubeadm join" fails as part of the token is emitted by kubeadm"
## Is this a request for help? NO

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST? BUG REPORT

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.12

**Environment**:
- **Kubern

[2018-10-08 04:50] bravinash opened #1162 "CoreDNS Crashloop Error - 1.12.1"
## Is this a BUG REPORT or FEATURE REQUEST?
yes, BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.12.1

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.12.1
- **Cloud provider or hardware configuration**: Local Laptop
- **OS** (e.g. from /etc/os-release): Ubutnu 18.04
- **Kernel** (e.g. `uname -a`):  4.15.0-36-generic
- **Others**:

## What happened?
 Af

[2018-10-08 09:02] bart0sh commented on #1161
@sujithbhaskaran according to the code first part of the token is a token id, second part is a secret. When kubeadm tries to connect to API server it uses full token. However, when it fails to connect to API server it reports only token id.

Could it be that your token expired? Can you try to follow kubeadm suggestion and create new token?

[2018-10-08 12:18] kad commented on #1156
@scheuk thanks for clarifications. So, to summarize whole picture (to see, if I comprehend your setup completely):
- your host has on `lo` interface one (or more?) /32 ipv4 addresses.
- you don't have unicast ipv6 /128 addresses on `lo` (similar as for ipv4 scenarios)
- network interfaces use link-locals on bofh ipv4/ipv6.
- ospf/bgp used to announce real routes to host and host's /32 or /128 are

[2018-10-08 14:29] rajansandeep commented on #1162
@bravinash What is the output of `kubectl -n kube-system describe pod <coredns-pod-name>`?

[2018-10-08 15:10] neolit123 commented on #1162
i will try this later today, myself.

[2018-10-08 17:02] neolit123 opened #1163 "tracking issue for kubeadm init phases"
this tracking issue **goes outside of the scope for 1.13** AKA we have items for post 1.13.

this post will summarize the work that has to be done to graduate the kubeadm phases to beta (ga?).
the issue will track PRs, assignees, but also have extra actions that have to be handled.
if you wish to work on a certain item please add a comment about it.

discussion happened around this gdoc in the 17o

[2018-10-08 18:57] dczombera commented on #1146
@ashwanikhemani Are you still working on it?
If not, I'd like to take over. :)

[2018-10-08 19:49] ashwanikhemani commented on #1146
I have done the changes, would be raising a PR.

[2018-10-08 22:28] neolit123 commented on #1162
@bravinash i cannot confirm the issue:
[code]

everything is 1.12.1, control-plane, kubeadm, kubelet.
please provide more details about your setup.

/priority awaiting-more-evidence

[2018-10-08 22:31] neolit123 commented on #1161
/priority awaiting-more-evidence

[2018-10-08 22:43] sujithbhaskaran commented on #1161
I tried with the new token but the same issue.

[2018-10-08 22:58] neolit123 commented on #1161
what happens if you use the real IP of the master node?

[2018-10-09 10:02] bart0sh commented on #1162
@bravinash can you show the log of the crashlooping pod: ```kubectl logs -n kube-system <coredns pod name>```.
You can see core-dns pods this way: ```kubectl get pods -n kube-system |grep coredns```

[2018-10-09 11:05] bart0sh commented on #1162
Reproduced it:
[code]

[2018-10-09 11:07] bart0sh commented on #1162
it looks like it's caused by systems-resolved:
[code]

[2018-10-09 11:32] bart0sh commented on #1162
@bravinash please, confirm that the issue is the same on your setup.

If it's the same than you can try to point kubelet to the original resolv.conf this way:
[code]
and remove coredns pods:
[code]

Kubelet will start them again with new configuration.

At least this fixed the issue in my setup:
[code]

[2018-10-09 11:38] neolit123 commented on #1162
hi, @bart0sh
isn't `--resolv-conf=/run/systemd/resolve/resolv.conf` populated correctly on `kubeadm init` in `/var/lib/kubelet/kubeadm-flags.env`?

https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for-systemd

[2018-10-09 11:41] bart0sh commented on #1162
/remove-priority awaiting-more-evidence

[2018-10-09 11:44] bart0sh commented on #1162
@neolit123 it is:
[code]

Thanks for pointing that out to me. It could be that the issue is different or original resolv.conf also triggers it.

[2018-10-09 11:50] neolit123 commented on #1162
strange, it works fine on my VM - it's a Ubuntu 17.10 and also has systemd-resolved.

[2018-10-09 11:56] bart0sh commented on #1162
On my system original resolv.conf also triggered the same issue. It started to work after copying it to another file, removing one of 3 nameserver lines from it and changing --resolv-conf option in /var/lib/kubelet/kubeadm-flags.env

Anyway, we need confirmation from @bravinash that the issue is the same.
It doesn't look like Kubeadm issue for me.

[2018-10-09 12:32] neolit123 commented on #1162
`/var/lib/kubelet/kubeadm-flags.env` is re-written each time `kubeadm init` runs, btw.
that was my point from earlier.

[2018-10-09 13:43] pmichali opened #1164 "token changing when using v1alpha2 API"
## What keywords did you search in kubeadm issues before filing this one? v1alpha2 token

## Is this a BUG REPORT or FEATURE REQUEST? BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:

[2018-10-09 15:21] neolit123 commented on #1162
/kind bug
/sig network
/area ecosystem

[2018-10-09 15:30] bravinash commented on #1162
This is very strange, I was consistently able reproduce this issue until now. I redeployed my Ubutnu 18.04 with 1.12.1 (kubelet kubeadm kubectl)
Now this is working..

root@k8s-1121:~# cat /etc/resolv.conf
# This file is managed by man:systemd-resolved(8). Do not edit.
#
# This is a dynamic resolv.conf file for connecting local clients to the
# internal DNS stub resolver of systemd-resolved. This

[2018-10-09 15:33] neolit123 commented on #1164
i don't think that's the autogenerated file from `print-default` in 1.11. i just verified that.
it looks like the v1alpha1 config.

alpha2 accepts a list of bootstrap tokens:
https://github.com/kubernetes/kubernetes/blob/release-1.11/cmd/kubeadm/app/apis/kubeadm/v1alpha2/types.go#L39

so it should look like:

[code]

try running `kubeadm config migrate` on your file and using the output of that fo

[2018-10-09 16:09] bart0sh commented on #1162
I'd propose to close this issue for 2 reasons:
- it's more coredns than Kubeadm issue
- it's not reproducible anymore

 @bravinash you can reopen this issue if you see it again

[2018-10-09 16:37] bravinash commented on #1162
I will close this issue for now as this is not reproducible anymore.

[2018-10-09 16:37] #1162 closed

[2018-10-09 17:09] pmichali commented on #1164
Yes, this was an older 1.10 style config (with minimum info) that was used in 1.11 (as-is), and then I tried to modify to use v1alpha2 API.

I just tried the migrate script, and then used that and it seems to work, so this looks like an issue with the config file modifications.

Question: Is there a way to have the migration only the items that are specified and not provide all the default setting

[2018-10-09 17:21] neolit123 commented on #1164
i think that's a side-effect of migrate and possibly we can have a separate feature request issue logged.
one problem here is that such a feature would be really low-priority for us as the migrate tool is really just a workaround until we get the config to GA (v1) - migrating from one pre-GA config to another.

after generating a default, you can technically omit any default settings manually and

[2018-10-09 17:21] #1164 closed

[2018-10-09 18:23] neolit123 commented on #974
/lifecycle frozen

[2018-10-09 18:32] neolit123 commented on #1152
^ ClusterConfiguration

[2018-10-09 19:44] scheuk commented on #1156
@kad your understanding of our setup is correct.
BGP does announce other routes as well, it's configured to pick up local blackhole routes and announce them, but that is for POD connectivity vs host connectivity.

Here's the output of `ip ro get`:
[code]

[2018-10-09 19:55] scheuk commented on #1156
@kad can you send me a binary, might take less time then me setting up go/figuring how to add a patch :)

[2018-10-09 20:30] michaelfig commented on #338
@weisjohn Could you also please update your comment by noting that:
[code]
is also needed for kubeadm?

Otherwise, my kubeadm join commands keep failing by using the old/wrong apiserver IP halfway through the process.

Thanks!

[2018-10-09 20:51] kad commented on #1156
try http://orava.kad.name/kubeadm/kubeadm-69578
This kubeadm is built out of master branch. but minimally it should be ok for trying in your setup.

[2018-10-09 20:55] relaut opened #1165 ".."
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-10-09 21:07] timothysc commented on #526
@andrewsykim what's the state of this for 1.13?

[2018-10-09 21:54] scheuk commented on #1156
@kad looking good:
[code]

[2018-10-09 21:55] kad commented on #1156
good. so, please comment on PR :)

[2018-10-09 22:52] #1165 closed

[2018-10-10 07:31] ReSearchITEng commented on #1161
fyi, I tested (and automated it), and works as expected.
generate token and hash:
https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/roles/master/tasks/main.yml
consume them (join):
https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/roles/node/tasks/main.yml

[2018-10-10 07:50] ReSearchITEng opened #1166 "kubeadm token create mix: --print-join-command and --config"
## Is this a BUG REPORT

## Versions
**kubeadm version** (use `kubeadm version`):
1.12.0 / 1.12.1
**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
[code]
Error:  **can not mix '--config' with arguments [print-join-command]**

compl

[2018-10-10 07:52] ReSearchITEng commented on #1152
Hi,
could not find which config to use when running: "kubeadm token create --config XXXX".
I am interested to add the usual: k8s version, ttl, description.
As for mixing action (--print-join-command) with --config, I have opened #1166 . Please close if not valid.

[2018-10-10 10:18] wgliang opened #1167 "Kubeadm can not start etcd scheduler and apiserver"
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.3", GitCommit:"a4529464e4629c21224b3d52edfe0ea91b072862", GitTreeState:"clean", BuildDate:"2018-09-09T17:59:42Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Inf

[2018-10-10 11:01] wgliang commented on #1167
@bartosh Thanks for the reply, but the kubctl command is not available.Will the network affect kubeadm to start etcd and scheduler?

[2018-10-10 11:51] bart0sh commented on #1167
@wgliang If it's not available you should probably start from here: https://kubernetes.io/docs/setup/independent/install-kubeadm

Anyway you'll need kubectl to investigate to see the logs, pod status etc.

As far as I know it's not. However, it will definitely affect coredns.

[2018-10-10 12:38] bart0sh commented on #1167
@wgliang

...

You probably mistyped kubectl.

[2018-10-10 12:44] bart0sh commented on #1166
/assign

[2018-10-10 13:47] neolit123 commented on #1152
@ReSearchITEng
it's all in the link already posted earlier:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1alpha3
which is now improved, too.

the way you do it is you look for the fields that you need, you place them in XXXXXConfig structs based on the specification and separate the structs with --- if they are more than one.

[code]

hope that helps.

[2018-10-10 13:48] wgliang commented on #1167
@bart0sh Thanks for your advice. I've solved the issue. Maybe it is net.bridge.bridge-nf-call-iptables problem.
/close

[2018-10-10 13:48] #1167 closed

[2018-10-10 13:57] bart0sh commented on #932
Closing. The issue was caused by incorrectly working crictl or kata runtime.
/close

[2018-10-10 13:57] #932 closed

[2018-10-10 15:14] ReSearchITEng commented on #1152
@neolit123
I only need to create a token.
So I need to build a file with both  InitConfiguration (which holds bootstrapTokens) as well as ClusterConfiguration (which holds kubernetesVersion ) ?

[2018-10-10 15:21] neolit123 commented on #1152
should also work if you pass InitConfiguration from a file and `--kubernetes-version` as flag for the version.

[2018-10-10 15:23] rosti commented on #1152
No, that won't work currently, but it's on the road map for 1.13.
@ReSearchITEng you need both InitConfiguration and ClusterConfiguration in a single YAML file supplied via `--config` to `kubeadm init`.

[2018-10-10 15:50] chrisohaver commented on #1111
@bart0sh, It's hard to read, because the output is not enclosed in backticks (```) ... but it looks to be a kube-dns deployment, not coredns `kube-system kube-dns-86f4d74b45-s9n5s 1/3 CrashLoopBackOff 20 21m`

[2018-10-10 16:08] neolit123 commented on #1166
this should have been fixed before 1.12 was released.
checking...

[2018-10-10 16:15] neolit123 commented on #1166
yes so the above is not exactly true in 1.12.x.

[code]

note the:
`falling back to the local client version: v1.12.1` part...
so our fallback works.

@bart0sh
the PR is a workaround, but the original issue should not exists in the first place and we need to invetigate.

@ReSearchITEng

could you add `-v=4` and show the output you get.

[2018-10-10 17:53] bart0sh commented on #1166
@neolit123 I'm not sure I understand why is it workaround. --print-join-command can't be put into the config, so ValidateMixedArguments will not allow to use it with --config. The PR fixes this the same way as it's fixed for similar cases: --ignore-preflight-errors --dry-run etc.

[2018-10-10 18:47] neolit123 commented on #1166
@bart0sh

i think the question here is why does one need to provide `--config` to the `kubeadm token create`?

i'm looking at the issue description and i'm a bit confused as well:
@ReSearchITEng please clarify on these points.

no, do you need the config from anything else other than kuberentesVersion?

i cannot reproduce that in 1.12, we had a patch that explicitly fixes that after a few dozen of

[2018-10-10 19:01] #1141 closed

[2018-10-10 19:09] ReSearchITEng commented on #1166
@neolit123
The only reason I need --config is to specify the k8s version, because:
[code]
From https://github.com/kubernetes/kubeadm/issues/1152#issuecomment-428616112 I understand it won't be required in 1.13, when we'll be able to specify `--kubernetes-version` in more cases (**I guess** also when generating the token).

[2018-10-10 19:16] neolit123 commented on #1166
understood, but why do you need to provide a version to `kubeadm token create`?

i'm assuming this gets us into this topic:

[2018-10-10 19:16] ReSearchITEng commented on #1152
@rosti
in 1.13, will it be possible to use --kubernetes-version in all cases (e.g. token create)?
Currently:
[code]
(tracked here: https://github.com/kubernetes/kubeadm/issues/1166#issuecomment-428695144)

[2018-10-10 20:15] fabriziopandini commented on #1128
/lifecycle active
Thanks @ereslibre. Please note that the problem here is not the IPVS check, but the fact that the check is always executed. To better understand this you can check the differences between master preflight check, that runs IPVS check only if IPVS is used, and node preflight check

[2018-10-10 22:20] rosti commented on #1152
@ReSearchITEng no, at this point you should have a running cluster and its version stored in its config map. Therefore, you don't need to specify the K8s version in any way (neither from command line, nor from config file).
If there is an issue with this in 1.12, please, file it here so we can have a look at it.

[2018-10-11 07:36] bart0sh commented on #1166
@neolit123

I believe there are a lot of cases when it's much more convenient to put TTL, usages, groups and other token parameter into the config file than to specify them in the command line. Especially when kubeadm is called from other tools.

After all this was implemented for some reason, reviewed and merged, so people was able to see some value in it.

[2018-10-11 08:45] ereslibre commented on #1128
@fabriziopandini Here's an approach: https://github.com/kubernetes/kubernetes/pull/69662; in particular I don't know if `preflight/checks.go` is the right place for `InitConfigurationFromJoinConfiguration` and `FetchInitConfiguration`. The whole idea is to discover the `InitConfiguration` from the cluster based on the `JoinConfiguration` when we perform the preflight checks, so it's possible to mo

[2018-10-11 08:56] bart0sh commented on #1111
@chrisohaver True, it's kube-dns deployment. Thanks for pointing this out to me.

@liaoqiArno can you show the log of crashlooping kube-dns pod please?
you can do it by running kubectl logs -n kube-system <kube-dns pod name>

[2018-10-11 11:17] ereslibre commented on #1128
With this approach I'm hitting: `Unable to fetch the kubeadm-config ConfigMap: configmaps "kubeadm-config" is forbidden: User "system:bootstrap:oe5abl" cannot get configmaps in the namespace "kube-system"`

[2018-10-11 12:13] ereslibre commented on #1128
I created the first node with an older version of `kubeadm` (missed that), that was my fault. Now the join output looks like:

[code]

My patch is on top of 8012b9583e5301c2f66db4118b38433d035b87c4, I wonder if I'm doing something wrong during the join.

[2018-10-11 12:19] bart0sh commented on #1128
This looks suspicious. Do you want to use pre-created certificates or those are just leftovers from your previous installation?

It looks like --ignore-preflight-errors=all becomes common way to run kubeadm, which is quite dangerous sign from my point of view. May I ask what was the reason of using this option?

[2018-10-11 12:38] ereslibre commented on #1128
@bart0sh I ran this on a VM based cluster just to test my PR. It was a re-run of the `join`, since certificates were there already I added `ignore-preflight-errors=all` because I just wanted to get the part that I was interested in (that the `kubeadm-config` configmap could be downloaded). It's not something we are doing in "real life" environments at all. This was just in the context of trying th

[2018-10-11 12:45] bart0sh commented on #1128
@ereslibre do you have client certificates in /etc/kubernetes/pki? If you do, can you look which CN is in those certificates? I suspect that system:bootstrap:mga0vo comes from there. If using pre-created certs is not important for you you can remove them. This could help to join the cluster.

[2018-10-11 12:47] ereslibre commented on #1128
@bart0sh Thanks for your help. I already destroyed the cluster and I won't be able to retry for some hours. I'll get back to this later today.

[2018-10-11 12:53] neolit123 commented on #1166
yes, agreed. i was asking if there is a reason other than passing kubernetesVersion from the config as that was an air-gapped workaround.

[2018-10-11 13:56] neolit123 commented on #589
hm, i guess this needs invetigation:

i can try reproducing later today or tomorrow, but i'm going to have limited time due to travelling.
what we can do about this issue is close it and log a new one if the others are OK with that?

[2018-10-11 14:01] ReSearchITEng commented on #1152
@rosti
Cluster is installed with kubeadm 12.1, and by default it adds the cm:
[code]
Still, it's querying the internet. I guess @neolit123 's PR will remove the need for querying the version for activities like token creation.

[2018-10-11 14:05] timothysc commented on #1091
In the office hours yesterday we discussed need to figure out the balance here with bundles.   https://github.com/GoogleCloudPlatform/k8s-cluster-bundle

I don't want to overfit the config, only to change it at a later date.

[2018-10-11 14:31] neolit123 commented on #1091
sorry for not attending - meetings and travel this week.

what we know about bundles at the moment is only the theory.
we can only have an estimate that they suit our needs once we test them.

i'm considering doing that, but the project doesn't have documentation and examples:
https://github.com/GoogleCloudPlatform/k8s-cluster-bundle
or at least i cannot find them.

@roberthbailey @justinsb do you