[2020-10-23 07:46] weichenqi opened #2332 "could not initialize etcdv3 client"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-10-23 08:31] fabriziopandini commented on #2332
/close
this seems an involuntary submit without all the required information

[2020-10-23 08:31] #2332 closed

[2020-10-23 09:33] fabriziopandini commented on #2331
/priority awaiting-more-evidence

kubeadm init should set up tokens for you; this document is quite old, but you can find some additional info on how this is implemented https://github.com/kubernetes/kubeadm/blob/master/docs/design/design_v1.9.md

If in your setup kubeadm reset is not working, please provide more info about how your cluster is configured.

[2020-10-23 14:16] jayunit100 commented on #2330
were following on in #1393 on this

[2020-10-23 18:19] distortedsignal commented on #2331
Hey @fabriziopandini - I'm not 100% sure what information would be relevant in this case. Are there any specific resources or OS configurations that you would like to see?

Here are the resources (I consider) relevant to this issue:

Command used to run `kubeadm`:

[code]

Here's the `/tmp/kubeadm-config.yaml` file:

[code]

The two files from here that I could see being important are `/etc/kubern

[2020-10-24 09:02] RA489 commented on #2324
/assign

[2020-10-24 13:17] FireDrunk opened #2334 "fix some issues in the kubeadm HA etcd documentation"
EDIT by neolit123

see this for `help-wanted` on updating the kubeadm HA docs:
https://github.com/kubernetes/kubeadm/issues/2334#issuecomment-868025463
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/

(original issue report below)

-------------

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm

[2020-10-25 14:31] FireDrunk commented on #2334
After moving the ca.key & ca.cert files to the nodes and generating the certifcates on the nodes themselfes, the Etcd cluster comes online perfectly.

Upon following the guide, (i've created the cluster configuration).
`kubeadm init --config kubeadm-config.yaml --upload-certs` gives me errors regarding an already existing manifest for etcd, which is correct, since I created it in the previous step

[2020-10-25 19:30] neolit123 commented on #2132
/remove-lifecycle stale

[2020-10-25 19:30] neolit123 commented on #1835
/remove-lifecycle stale

[2020-10-25 19:31] neolit123 commented on #1940
/remove-lifecycle stale

[2020-10-25 19:31] neolit123 commented on #1913
/remove-lifecycle stale

[2020-10-25 19:31] neolit123 commented on #1918
/remove-lifecycle stale

[2020-10-25 19:32] neolit123 commented on #1918
i think this is still failing in other areas of node write access occasionally...

[2020-10-25 19:32] neolit123 commented on #1793
/remove-lifecycle stale

[2020-10-25 19:32] neolit123 commented on #1686
/remove-lifecycle stale

[2020-10-25 19:32] neolit123 commented on #1759
/remove-lifecycle stale

[2020-10-25 19:33] neolit123 commented on #494
/remove-lifecycle stale

[2020-10-25 19:33] neolit123 commented on #1621
/remove-lifecycle stale

[2020-10-25 19:33] neolit123 commented on #1682
/remove-lifecycle stale

[2020-10-26 16:38] neolit123 commented on #2331
hi, do you have any relevant log errors from the kube-apiserver or kube-controller-manager after a bootstrap-token is created but fails to be added to cluster-info?
you could enable higher verbosity with `--v=X` for these components.

this does not look like a problem in kubeadm (unless it's missing some new RBAC?), but we need to figure out what is blocking it exactly.

@kubernetes/sig-auth-bugs

[2020-10-26 16:43] neolit123 commented on #2331
you could help us to narrow down which extensions you applied that differ from the kubeadm defaults cause this problem.
but quite possibly we may close this ticket and move your discussion to #sig-auth on k8s slack to see if you can get support there, or maybe a kubernetes/kubernetes ticket with `/kind support`.

[2020-10-26 16:46] distortedsignal commented on #2331
Could you help me out with what you mean by "extensions"? I understood that providing the full `kubeadm-conf.yaml` should be enough to fully define this system.

[2020-10-26 16:53] neolit123 commented on #2334
could you please clarify what do you mean by "proper name" here?
why do you think that adding the node name to the SANs is a problem?

uploading the control-plane certificates (--upload certs) during the creation of etcd server instances in an HA etcd setup, should not be done.
it's not in this guide:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/

[2020-10-26 16:56] neolit123 commented on #2331
by extensions i meant functionality that extends the kubeadm defaults for the core components. here are the kubeadm defaults for the api-server and KCM:

[code]

[2020-10-26 17:09] distortedsignal commented on #2331
Ok, thanks for helping me understand the "extensions" part. Here's what (I think) you're looking for:

<details>
<summary>API Server Pod Definition File</summary>

[code]

</details>

<details>
<summary>Controller Manager Pod Definition File</summary>

[code]

</details>

Is there anything in here that you would like to see further?

[2020-10-26 17:12] neolit123 commented on #2331
i'm asking you to help us narrow down which additional flags (extensions) cause the problem. :)
looking at your manifests, they look fine, but you seem to have a misconfiguration somewhere that breaks bootstrap-tokens.

also:

you could enable higher verbosity with --v=X for these components.

[2020-10-26 17:12] distortedsignal commented on #2331
Logs are coming next. I know that's critical.

[2020-10-26 17:38] kallisti5 opened #2335 "Check for /sys/fs/cgroup/cpu/cpu.cfs_quota_us / config_cfs_bandwith on init"
## What keywords did you search in kubeadm issues before filing this one?

cfs_quota_us aarch64 centos8 cri-o crio

[code]

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

As seen in:
https://github.com/cri-o/cri-o/issues/4307
https://bugs.centos.org/view.php?id=17813

kubeadm should check for the existance of /sys/fs/cgroup/cpu/cpu.cfs_quota_us.  It missing is a sign of the kernel b

[2020-10-26 17:55] distortedsignal commented on #2331
Ok, so the API server logs (with `-v=5`) looked like this during/after the token creation attempt:

<details>
<summary>Logs</summary>

[code]

</details>

I don't see any obvious errors/warnings, so I guess that points to the controller manager? I'll see what I can do about getting those logs.

[2020-10-26 18:05] neolit123 commented on #2335
kubeadm's system validators reside here:
https://github.com/kubernetes/system-validators/

@SergeyKanzhelev @KentaTada @odinuge
what do you think?

/sig node
/priority awaiting-more-evidence

[2020-10-26 18:09] distortedsignal commented on #2331
Hmmm... this is weird.

It looks like my K8s cluster doesn't have a controller manager pod?

[code]

Shouldn't I be seeing a `controller-manager` pod in that `kube-system` namespace?

[2020-10-26 18:12] distortedsignal commented on #2331
It is, perhaps, the case that this cluster is not as healthy as I expected it to be.

[2020-10-26 18:13] neolit123 commented on #2331
yes, but your kube-controller-manager Pod could be blocked by PSP.

as in:

also check `docker ps` / `docker logs` to see if the container for the KCM is even starting.

[2020-10-26 18:37] distortedsignal commented on #2331
It doesn't look like that container is being scheduled in docker. As you can see above, my that cluster was running for 3 days, and docker didn't know anything about it as a container. I'm re-creating the cluster thinking that the container was created and then deleted, but it looks like there are no containers with the name "controller manager" (or anything like that) that are being scheduled.

[2020-10-26 18:46] neolit123 commented on #2331
do you see the `/etc/kubernetes/manifests/controller-manager.yaml` file writen by kubeadm?

what happens if you remove the `PodSecurityPolicy` plugin and don't apply the related PSP rules?

[2020-10-26 19:08] distortedsignal commented on #2331
I see a file at `/etc/kubernetes/manifests/kube-controller-manager.yaml`. The contents are similar to what has been posted upthread.

I'll try re-creating the cluster without the PSP plugin.

[2020-10-26 19:47] distortedsignal commented on #2331
Recreating the cluster with this change to the controller manager *.yaml file has no effect. I'll try also removing the *-psp.yaml files and see if that does anything.

[code]

[2020-10-26 20:13] FireDrunk commented on #2334
In previous attempts, joining the second node resulted in both nodes spewing errors regarding the incoming and outgoing connection certificate name not being nuc1 (when the nuc2 was the joining node). It looked like it was expecting it's own certificate instead of one signed by the ca. This went away wen generating the certificate on the second node (which caused it to have nuc2 as it's first 'nam

[2020-10-26 20:57] neolit123 commented on #2334
as in not passing `etcd.external` in the kubeadm config?

i don't believe any of the kubeadm maintainers have tried that.
from a a high-availability stand point it gains you no benefits over using the kubeadm stacked etcd (i.e. not passing `etcd.external` in the config, but either passing or omitting `etcd.local`)

sadly, the node-not-found problem is not very descriptive and can be caused by a nu

[2020-10-26 21:06] distortedsignal commented on #2331
Hmmm... even after removing all the PSPs from the cluster, the controller manager fails to be allocated in the docker engine.

[2020-10-26 21:08] neolit123 commented on #2331
did you try re-recreating the cluster from scratch?
anything interesting in the kubelet logs about the KCM container?

[2020-10-26 21:16] FireDrunk commented on #2334
After a s**tload of debugging and some cursing later, I found out there was a second systemd override file in /etc/systemd/system/kubelet.service.d/ directory which interfered with the kubelet configuration generated by the kubeadm installation.

Removing the file fixed everything since the kubelet now bootstrapped correctly.

Thanks all for the help.

[2020-10-26 21:46] distortedsignal commented on #2331
All of the tests that I have been doing have been from scratch.

I'll try one more with more logging from kubelet. I'll probably post results around noon pacific time tomorrow.

[2020-10-27 05:21] KentaTada commented on #2335
I think we should add `CONFIG_CFS_BANDWIDTH` and `CONFIG_FAIR_GROUP_SCHED` as the **optional** kernel configs in https://github.com/kubernetes/system-validators/blob/6069d2dca63940eeee5482fa739ee3806d77b896/validators/types_unix.go#L52.

The above error is caused by runc because runc does not check for the existence of `/sys/fs/cgroup/cpu/cpu.cfs_quota_us`.

As the runc's requirement, `CONFIG_CFS_

[2020-10-27 13:00] neolit123 commented on #2335
Thanks @KentaTada! I do agree with both proposed changes. I am surprised that runc is not checking for something under /cpu before writing to it. This could be fixed in a newer version of runc.

With respect to the optional config in system-validators, i am more tentative about the change because i think it can be avoided and just rely on runc to fail on runtime? But if you send the pr i will ask

[2020-10-27 17:35] neolit123 commented on #2203
/remove-lifecycle stale

[2020-10-27 23:07] distortedsignal commented on #2331
Well that time came and went. Maybe tomorrow?

[2020-10-27 23:07] distortedsignal commented on #2331
Again, I need to take action, y'all are good.

[2020-10-28 00:00] Geronium opened #2336 "Kubeadm init proxy and dns"
Hello,

i have a bug with kubeadm, i'm trying to make the init and kubeadm doesn't use the proxy,
he directly tries to solve by going through the dns server, which replies to him that he does not know the host.

and with a curl the repository is easily reachable

-(mar. oct. 27 19:56:58)--(kubernetes-master:~)-
[root] # curl https://k8s.gcr.io/v2/
{"errors":[{"code":"UNAUTHORIZED","message":"Unaut

[2020-10-28 05:45] KentaTada commented on #2335
@neolit123
I think that we should update the checklist of system-validators because users can gather information of the error in advance. Especially, it helps them when using a new immature container runtime.
So, I'll create the PR for system-validators after I consider what checks are needed.
Could you review it?

Thanks!

[2020-10-28 06:37] odinuge commented on #2335
I agree that we should check those kernel configs. They are currently required in order to run Kubernetes with default config, but it can be disabled by the kubelet flag `--cpu-cfs-quota=false`. Have you tried running with that @kallisti5? From the back of my head I think we still write/try to write cpu-quota to the pod level no matter what the flag is set to, and in that case we should probably f

[2020-10-28 09:32] cyphar commented on #2335
I commented in the linked runc issue, but yes our stance is generally speaking we don't silently ignore settings because basically all container runtime settings are related to security in some form and ignoring explicit requests from a user is not a good idea. As far as I can see, Kubelet seems to have some default cpu cgroup settings which runc is trying to faithfully apply and maybe the auto-de

[2020-10-28 09:46] odinuge commented on #2335
Yeah, that sounds correct @cyphar. If the node doesn't support cfs I think we should do the discovery and changes in Kubernetes to avoid the problem all together. And yeah, kubelet will set cfs settings (and try to apply them) for ~all pods via libcontainer and for all containers via cri/dockershim.

The question is probably then if we want to discover it and silently disable cfs quotas, or if we

[2020-10-28 11:52] fabriziopandini commented on #2336
/kind support
kubeadm relies on the CRI engine (docker or containerd), so, if you are behind proxy, you should make sure to configure proxy in your CRI engine too.

[2020-10-28 14:06] neolit123 commented on #2335
@KentaTada

So, I'll create the PR for system-validators after I consider what checks are needed.

SGTM, please make it `close...` this issue.

sure.

[2020-10-28 14:14] neolit123 commented on #2335
@odinuge

if swap is enabled on a node where the kubelet runs, it fails fast and provides a somewhat descriptive message for a user action.
i think we should do the same for this case..based on the logs by @kallisti5 it doesn't seem the kubelet is doing that today.

@odinuge would you like to help logging an issue in kubernetes/kubernetes and a `/sig node` tag? i could, but i don't think i underst

[2020-10-28 14:45] neolit123 commented on #2336
is that the actual value, or did you hide it down with `----`? the HTTP*_PROXY values should be for an actual working proxy.

that is expected, because you cannot access the parent /v2 folder.

as @fabriziopandini mentioned you must configure the CR (e.g. docker) to use the proxy too.
https://docs.docker.com/network/proxy/

once you have that working you can do:
`kubeadm config images list`

and p

[2020-10-28 14:45] #2336 closed

[2020-10-28 15:06] odinuge commented on #2335
i think we should do the same for this case..based on the logs by @kallisti5 it doesn't seem the kubelet is doing that today.

I agree that it would be the best approach, so that sounds good!

Yeah, I can make a sig-node issue about the details around `--cpu-cfs-quota` in case in behaves unexpected, and the fact that we should/can verify it and fail fast with a warning if things are in a bad state

[2020-10-28 17:21] challapradyumna commented on #2329
Just for people who might be trying something on the same lines of upgrading clusters. The issue was that Kubernetes selects one of the available controller-manager's to run the control loops for the cluster. This is the leader. You can find out which node is the current leader for cloud-controller using `kubectl get endpoints kube-controller-manager -o yaml` . The goal is to make the kubeadm node

[2020-10-28 17:43] neolit123 commented on #2329
@challapradyumna i'm quite surprised leader election was the cause for this. but if you had KCMs in the cluster that did not have the bootstrap / token controllers it makes sense.

thank you for the update!

[2020-10-28 20:04] neolit123 commented on #2081
/remove-lifecycle stale

[2020-10-29 13:39] orlakwahr opened #2338 "kubeadm init fails on It seems like the kubelet isn't running or healthy."
BUG REPORT

## Versions

kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:47:53Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb291

[2020-10-29 14:44] neolit123 commented on #2338
hi, this usually indicates problems with the container runtime and kubeadm cannot do much about it.
you could try getting help at #kubeadm on k8s slack and our support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

you should also check the kubelet logs to see what is happening there.

thanks
/close
/kind support

[2020-10-29 14:44] #2338 closed

[2020-10-30 12:54] orlakwahr commented on #2338
well actually this one is a bug. I have done  mount --bind /var/lib/kubelet /var/lib/kubelet and all started to work.

[2020-10-30 13:43] neolit123 commented on #2338
i don't think this is a bug from kubeadm's perspective, at least. kubeadm just creates the folder /var/lib/kubelet if it doesn't exist before it starts the kubelet.
however, if the kubelet is not happy with the underlying filesystem or something similar then this could be a kubelet bug.

you could try logging a ticket in kubernetes/kubernetes and tagging it with `/sig node`.

[2020-10-30 13:47] orlakwahr commented on #2338
well I have checked it does not happen on ext4 and does happen on btrfs so it is connected to btrfs somehow.

[2020-10-30 13:49] neolit123 commented on #2338
this search reveals a number of logged issues:
https://github.com/kubernetes/kubernetes/search?q=btrfs+kubelet&type=issues

[2020-10-30 21:03] caboteria commented on #416
Hi! I just bumped into this issue when I tried to do the same thing as OP, i.e., build two clusters with kubeadm then configure kubectl to control both of them. When you provide both config files to kubectl (for example, by putting both in $KUBECONFIG) it can distinguish between both clusters because they can have different names, but because both admin users have the same name kubectl picks only

[2020-10-30 23:20] neolit123 commented on #416
@caboteria

hi, in kubeadm 1.20 (to be released) we extended the command `kubeadm alpha kubeconfig` to accept the ClusterConfiguration object:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

this allows you to generate kubeconfig files for different clusters / users / orgs.

we cannot backport this extension to older releases, but technically you could use the 1.20 binary

[2020-10-31 02:47] caboteria commented on #416
hi @neolit123 , thanks for the info! That looks like an improvement but I don't see anything about setting the admin user name. I'm still learning my way around k8s, am I missing something? It looks like I'll still be unable to init a cluster with an admin user named anything but `kubernetes-admin`.

Thanks again!

[2020-10-31 03:02] neolit123 commented on #416
the new command allows `--client-name`:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/alpha/kubeconfig.go#L97

[2020-11-01 13:52] gseidel commented on #2035
Same here. I try to upgrade from ```v1.18.5``` to ```v1.19.3``` but get stucked with a timeout on
```[addons] Applied essential addon: kube-proxy```

Helps also for me here.

[2020-11-01 17:15] caboteria commented on #416
Thank you @neolit123, that works!

Back to https://github.com/kubernetes/kubeadm/issues/416#issuecomment-719798555 :

I think it would be a better user experience to specify the default admin user name (like we can specify the cluster name) instead of having to create a second user.

Another potential approach would be to have the default admin name be based on the cluster name, e.g.,  clusterName

[2020-11-03 04:26] BenTheElder commented on #1601
the kustomize answer doesn't seem very great because you need to know the original flag value and include it in the new flag ?
repeated flags / a list like pod env seems like a workable approach though, is kubeadm planning to create a new API version?

[2020-11-03 12:35] neolit123 commented on #2331
hello, @distortedsignal
let's close this until we confirm bugs in kubeadm or core k8s.
but in any case, please feel free to report the reason for the problem if you find it.

thanks

[2020-11-03 12:35] #2331 closed

[2020-11-03 12:46] neolit123 commented on #1601
yes - v1beta3, although when that will happen is unclear:
https://github.com/kubernetes/kubeadm/issues?q=is%3Aissue+is%3Aopen+label%3Akind%2Fapi-change

[2020-11-03 13:06] neolit123 opened #2339 "add datapolicy tags to v1beta3 token/key fields"
see the following KEPs:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1753-logs-sanitization
https://github.com/kubernetes/enhancements/tree/master/keps/sig-instrumentation/1933-secret-logging-static-analysis

this PR showcases some tags that we should add to v1beta3 fields that include keys/tokens:
https://github.com/kubernetes/kubernetes/pull/95991

[2020-11-03 13:13] neolit123 commented on #416
this idea was rejected before, but if you feel strongly about it, please log a new issue with a detailed description and link to this old ticket. it can be discussed for v1beta3. thanks.

[2020-11-03 13:16] neolit123 commented on #2035
oddly we do not see this problem in CI / e2e.

but we have minor pending changes to the upgrade docs around `drain` and `apply`:
https://github.com/kubernetes/website/pull/24704

[2020-11-04 22:45] neolit123 commented on #2000
FWIW, Rancher's kine project (which is a shim for the etcd API) now includes an example of how to setup kubeadm with external etcd mode and use mysql as the storage backend:
https://github.com/rancher/kine/blob/master/examples/minimal.md#using-with-kubeadm

[2020-11-05 06:00] KentaTada commented on #2335
@kallisti5
I think we could resolve this issue in https://github.com/kubernetes/system-validators/pull/19.
Could you close this ticket if you don't have any questions?

[2020-11-05 08:44] pmmalinov01 commented on #2186
@blepoutr  Thank for explaining about /var/lib/kubelet/pki/kubelet.crt, Can you just verify that the kubelet.crt is not used by the kubelet to talk to the API server, but used when metrics are served? Is there documentation?

[2020-11-05 11:31] ravirajshankarl commented on #2027
Hi @neolit123 @abhiTamrakar

Following steps to CA rotation, I have create new CA and at this step "Run kubeadm alpha certs renew <item> one by one for all certificates and conf files with the new CA along with --cert-dir=< temp dir >."

I'm running this command  like **kubeadm alpha certs renew apiserver --cert-dir = /tmp/pki/** to create  apiserver certificate. But certificate is not generating

[2020-11-05 12:15] blepoutr commented on #2186
@pmmalinov01,
I don't know if api server is calling kubelet service ( and so is also concerned by checking the self signed certificate serving the kubelet api content). What I know is that I had the bug when metrics-server tries to consume kubelet Api content.

I solved my issue, by forcing kubelet not to use selfsigned certificate as Serving Certificate  (as per doc : https://kubernetes.io/docs/r

[2020-11-05 12:55] abhiTamrakar commented on #2027
@ravirajshankarl kubeadm uses existing ca certificates to sign underlying certs, which is why you are seeing certs signed by old CA.
If you want to sign using new CA, the catch is to replace existing old ca,  with new one but before doing that you might want to take all necessary backup and confirm control plane components are running as static pod.
Please note CA rotation is a tedious process, do

[2020-11-05 14:16] neolit123 commented on #2335
if want to make the changes apply in 1.20 we still have push a new release / tag of the system-validators library and re-vendor it in kubernetes/kubernetes.

@KentaTada i see you sent another PR that adds `CGROUP_PIDS` as required and `CGROUP_HUGETLB` as optional:
https://github.com/kubernetes/system-validators/pull/20
that SGTM; @odinuge do you agree?

both these PRs introduce new required config

[2020-11-05 14:34] ravirajshankarl commented on #2027
@abhiTamrakar
Thank you very much for response. I got confusion with your response
"If you want to sign using new CA, the catch is to replace existing old ca, with new one"

I have create newCA and placed it in tmp folder to generate certificates. Do I need to keep newCA in /etc/kubernetes/pki folder also?
And also my signed certificates are not going to mentioned folder(/tmp/pki)  **kubeadm alpha

[2020-11-05 20:37] kvaps commented on #1223
Wow I'm so glad that I found this issue, and that I'm not alone who wants to make this proper way. :)

Now let me share my thoughts on this issue (pleas correct me if I'm somewhere wrong):

**First my vision of the original problem:**
Currently kubeadm enables webhook authentication for all kubelets by default, so kubelet is validating client certificates for incoming connections with no problem e

[2020-11-05 22:10] kvaps commented on #1223
To answer this question I can quote @luxas from https://github.com/kubernetes/kubeadm/issues/118#issuecomment-407498529:

[2020-11-07 16:05] fabriziopandini opened #2344 "Drop kustomize dependency in kinder"
Kustomize dependency in kinder is difficult to upgrade given the indirect dependency with Kubernetes libraries that are reference directly by kinder or indirectly by kind.

Given that kustomize is used only in a single point in the kinder codebase (pkg/kubeadm), I'm proposing to replace it with standard json patches to greatly simplify our dependency tree.

/cc @neolit123

[2020-11-07 18:20] neolit123 commented on #2344
we could replace with the "patches" package from k/k/cmd/kubeadm if that is moved to a the kubeadm library.

/area kinder
/kind design cleanup
/priority backlog

[2020-11-08 20:03] fabriziopandini commented on #2344
/help

[2020-11-09 11:11] odinuge commented on #2335
Nice! Would be nice to get them into v1.20!

It has never been supported (or been working) running with a configuration that fails with the new validation, so I think it should be good to go. The only places they might be disabled, from my experience, are raspberry-pi like devices used for prototyping.

[2020-11-09 12:56] neolit123 commented on #2335
Kubeadm actually has a fair number of RPI users. Still, it feels right to include these in the kernel validation. Thanks for confirming.

I will send the vendor update later today.

[2020-11-09 16:14] neolit123 commented on #2335
PR for the vendor update for 1.20 is here:
https://github.com/kubernetes/kubernetes/pull/96378

[2020-11-09 18:42] robscott commented on #2271
@neolit123 This issue came up as I'm working on graduating the EndpointSlice API to GA (https://github.com/kubernetes/kubernetes/pull/96318). I'm trying to determine if it's safe to also upgrade consumers like kube-proxy or kube-controller-manager to also use the v1 API in the same release. If I'm understanding this issue correctly, making that change in upstream could potentially result in issues

[2020-11-09 18:56] neolit123 commented on #2271
@robscott i will comment on https://github.com/kubernetes/kubernetes/pull/96318

[2020-11-09 20:12] neolit123 opened #2346 "mutable upgrades: upgrade the kube-proxy DS after all control-plane components"
during mutable upgrades, upgrade kube-proxy only after the kube-apiserver on all nodes have been upgraded.

currently kubeadm does the following:
- upgrades the control-plane on one node (via "apply")
- upgrades kube-proxy and coredns
- upgrades the rest of the control-plane nodes and worker nodes
- upgrades kubelets everywhere

the problem with that is that it can create issues for a period of ti

[2020-11-09 20:23] neolit123 commented on #2346
cc @fabriziopandini

[2020-11-09 21:53] yvespp commented on #2346
Don't know how hard it would be but could the proxy maybe be converted to a static pod manifest to solve this?
The update of it could then be moved from `kubeadm upgrade apply <vesions>` on the master to `kubeadm upgrade node`.
1. Remove manifest of proxy to stop it
1. Stop kubelet
1. Update config and manifest
1. Start kubelet

This should also play nicely with immutable nodes.

[2020-11-09 23:03] neolit123 commented on #2346
having kube-proxy as a static pod would definitely help around the fact kubelet and kube-proxy versions need to be in sync during upgrade.

there are pros on cons of both DS vs static pods. in general we are likely to see users preferring to run replicas of kube-proxy on all nodes (ala DS), and for multi-platform support variants of the DS can be deployed, which is what the kubeadm for Windows dep

[2020-11-10 06:51] misteruly opened #2348 "kubeadm init How do I choose a container engine??"
I want to use the ISula container engine

执行shell

kubeadm init --kubernetes-version=v1.17.9 --pod-network-cidr=10.244.0.0/16 --service-cidr=10.1.0.0/16  --apiserver-advertise-address=172.169.102.249
W1110 14:39:59.773789  334131 validation.go:28] Cannot validate kube-proxy config - no validator is available
W1110 14:39:59.773831  334131 validation.go:28] Cannot validate kubelet config - no valida

[2020-11-10 10:51] fabriziopandini commented on #2346
@neolit123 thanks for raising this point.
I think that we should focus on solutions that are not making the user experience more complex, by adding more steps to the upgrade sequence.

If I got this right v of kube-proxy is `f(v of API server, v of Kubelet on the node)`, and so I'm kind of intrigued about the idea of transforming kube-proxy into a node-specific manifest because:
- This allows havi

[2020-11-10 11:44] fabriziopandini commented on #2348
/kind support
You can use the --cri-socket flag or the corresponding field in the kubeadm configuration file

[2020-11-10 12:12] neolit123 commented on #2346
Ok given there is interest in the ststic pod approach we should raise it
for discussion in the next sig meeting. Its tuesday next week.

[2020-11-10 12:13] neolit123 commented on #2249
/remove-lifecycle stale

[2020-11-10 12:30] neolit123 commented on #2348
You can also ask for help on the k8s slack channel #kubeadm
/close

[2020-11-10 12:30] #2348 closed

[2020-11-10 15:05] neolit123 commented on #2244
/remove-lifecycle stale

[2020-11-11 12:55] neolit123 commented on #2200
this is merging.

[2020-11-11 15:13] neolit123 commented on #2305
merging into https://github.com/kubernetes/kubeadm/issues/2328 as an optional item.

[2020-11-11 15:13] #2305 closed

[2020-11-11 16:10] neolit123 commented on #1918
confirmed here:
[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-latest/1326459301883023360

[2020-11-11 16:36] fabriziopandini commented on #1918
Uhhmm, why it is writing files when the container is deleted?

[2020-11-11 16:43] neolit123 commented on #1918
i think the node preparation was done concurrently:

and then if that failed the message:

is out of sync in the logs, but the `mkdir -p /kinder` operation itself failed.

[2020-11-11 17:02] fabriziopandini commented on #1918
might be I'm confused, but if a look at the logs this is what I get
- we were running kinder create cluster
- at some point, all the pods got deleted
- then writing on the pod failed

so, what I don't understand is:
- why container got deleted during kinder create
- why it is trying to write after container got deleted

[2020-11-11 18:32] neolit123 commented on #1918
i think the log message is just delayed in the output, due to the concurrency.

[2020-11-13 12:51] abhiTamrakar commented on #2027
Yes.

I do not remember this being an issue. Might have to try it. If you think it is an issue you might want to open one.

Hi, sorry for being late. Answered inline.

[2020-11-13 15:23] a-hodgson opened #2349 "Kubeadm does not seem to allow --resolv-conf to be set although it is referenced in the docs."
Kubeadm version: 1.19
OS: Ubuntu 20.04.1
Kernel: Linux 5.4.0-53-generic

I am trying to set the kubelet resolv-conf to /run/systemd/resolve/resolv.conf as stated on [this Kubernetes documentation page](https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/#known-issues) as I am using Ubuntu.

The page states this can be done using kubelet's --resolv-conf flag. This does not

[2020-11-13 18:18] baronvv commented on #1153
i  fix my same problem ```node "xxxx" not found``` ， try to see the container log  use **docker logs  container_id** , then I see apiserver  try to connect 127.0.0.1:2379  ,   edit file ·**/etc/kubernetes/manifests/etcd.yaml**  .

[2020-11-13 19:03] neolit123 commented on #2349
Passing a KubeletConfiguration next in 'kubeadm init --config ...' will allow you to do that. Ig has a ResolverConf field.

Please see:
https://godoc.org/k8s.io/kubelet/config/v1beta1#KubeletConfiguration
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

These documents are linked from the kubeadm pages at k8s.io

/kind support
/close

[2020-11-13 19:04] #2349 closed

[2020-11-14 13:08] fabriziopandini commented on #2344
/assign
/lifecycle active

[2020-11-15 14:47] fabriziopandini commented on #2254
/remove-lifecycle stale

[2020-11-15 14:47] fabriziopandini commented on #1898
/remove-lifecycle stale

[2020-11-16 07:17] chengfq5 commented on #193
just the some,  want to know what happened before encounter this problem and how to prevent it

[2020-11-16 08:16] muntakim1 commented on #339
` sudo kubeadm reset`

solved mine also

[2020-11-16 10:25] ttrumm opened #2352 "Kubeadm 1.15.2 upgrade fails"
## What keywords did you search in kubeadm issues before filing this one?
nodes "kube-apiserver-kubelet-client" not found
[upgrade/config] FATAL: failed to get node registration: failed to get corresponding node: nodes "kube-apiserver-kubelet-client" not found

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this s

[2020-11-16 12:09] cveld opened #2353 "Kubeadm idempotency for creating a kubernetes cluster"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Kubeadm should provide an idempotent way of initializing a kubernetes cluster.

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T13:38:53Z", GoVersion:"go1

[2020-11-16 12:35] ttrumm commented on #2352
New reproduce with kubeadm 1.16
Kubeadm  1.16.15-0

Create cluster

[code]

Get current date

[code]

Lets go 11 months inyo future

[code]

Renew Certificates in future

[code]

Lets go more into future

[code]

Fix kubelet.conf
[code]

[2020-11-16 12:53] ttrumm commented on #2352
With 1.17 kubeadm it is ok. From 1.17 kubeadm alpha cert renew upgrades kubelet.conf itself. https://github.com/kubernetes/kubeadm/issues/1753

[code]

[2020-11-16 15:43] neolit123 commented on #2352
hello, first of all older versions than 1.17 are already out of support, and 1.17 will be out of support soon with the release of 1.20.
we cannot backport fixes for versions older than 1.17 because they are no longer released!

a couple of points:

kubeadm renew does not touch kubelet.conf, it is the responsibility of "kubeadm init" to prepare kubelet.conf to point to cert files instead of embeddi

[2020-11-16 15:44] #2352 closed

[2020-11-16 16:28] neolit123 commented on #2353
hello, i believe this is a topic that we discussed before.
if you skip preflight checks `kubeadm init` is an idempotent command.

but i think we should still exit with error if the ports / files are present, because they could be residual from a previous cluster setup. with the old files present you could overlap configuration between new / old cluster and this is not desired.

to skip you can cal

[2020-11-17 16:51] neolit123 commented on #2335
kubernetes/kubernetes#96378

didn't get approved in time for 1.20, so it has to be moved to 1.21.

[2020-11-17 19:13] mlbiam opened #2354 "kubeadm upgrade plan looks for node kubernetes-admin, which doesn't exist"
## Is this a request for help?

yes

## What keywords did you search in kubeadm issues before filing this one?

`FATAL: the ConfigMap "kubeadm-config" in the kube-system namespace used for getting configuration information was not found`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG

## Versions

**kubeadm version** (use `kubeadm version`):

`kubeadm version: &version.Info{Major:"1", Minor:"19

[2020-11-17 19:30] neolit123 commented on #2354
odd, are you sure that the `/etc/kubernetes/admin.conf` file used by `kubeadm upgrade plan` to construct a client is connecting to a cluster that does not have the Node object called `kubernetes-admin`?

this can be verified with this on the same host:
`kubectl get nodes --kubeconfig=/etc/kubernetes/admin.conf`

/kind support

[2020-11-17 19:36] mlbiam commented on #2354
The only thing i see thats `kubernetes-admin` in the config is the user:

[code]

kubectl get nodes --kubeconfig=/etc/kubernetes/admin.conf

[code]

[2020-11-17 19:58] neolit123 commented on #2354
I1117 14:11:11.002932   19193 round_trippers.go:443] GET https://192.168.2.109:6443/apis/apps/v1/namespaces/kube-system/daemonsets/self-hosted-kube-apiserver?timeout=10s 404 Not Found in 17 milliseconds

it seems like you are running the kube-apiserver as a daemon-set.
was this created with the experimental self-hosting support of kubeadm under `kubeadm alpha ...`?

normally `upgrade plan` should

[2020-11-17 20:04] mlbiam commented on #2354
no

using the basic instructions from 1.16.  We've upgraded each major version as it's come out (1.16 -> 1.17, 1.17->1.18)

[2020-11-17 20:15] neolit123 commented on #2354
this still indicates that there is an api-server running as DS, which unsupported by "upgrade plan".

i'm surprised upgrades passed for older versions.

there is certainly no logic in kubeadm to fetch a node named after a user in a kubeconfig file.
so something else is going on here.

[2020-11-17 20:19] mlbiam commented on #2354
There's no DS for the api server:

[code]

to be clear, these were upgraded over time.  So the original version was 1.16.  When 1.17 came out we upgraded to 1.17.  When 1.18 came out we upgraded to 1.18.

[2020-11-17 20:52] neolit123 commented on #2354
yes, i corrected myself as i was misreading the logs:

@mlbiam can you share your exact `/etc/kuberentes/kubelet.conf`m only  omitting secrets?

i think i'm seeing a potential bug here:
https://github.com/kubernetes/kubernetes/blob/e1fd2d7ff57af153023347d72d17226effd917c8/cmd/kubeadm/app/util/config/cluster.go#L165

we have a long standing issue to stop fetching a node name from a kubeconfig file,

[2020-11-17 21:10] neolit123 commented on #2354
the same logic that we want to replace fetches the common name from the kubelet client certificate to determine the node name.
normally it should look like `CN=system:node:mynode`. by trimming the node prefix it obtains `mynode`.

so for your case you need to check what is the common name in the kubelet.conf (either embedded or linked to `/var/lib/kubelet/pki/kubelet-client-current.pem`).

somethi

[2020-11-17 21:11] mlbiam commented on #2354
[code]

[2020-11-17 21:12] neolit123 commented on #2354
the user seems fine, but as pointed above the CN/O in the certificate are likely `kubernetes-admin/system:masters` which trips kubeadm's defaulting.

[2020-11-17 21:12] mlbiam commented on #2354
yep, seems to be where it's getting it:

[code]

So do i have to re-key to do an upgrade?

[2020-11-17 21:16] neolit123 commented on #2354
yes, such a CN/O is not supported in general - it must be `system:node:mynode/system:nodes`
also this is certainly not a change that happened in kubeadm 1.19, so something must have fed the custom cert.

could you explain why you are granting the kubelet client admin access?

[2020-11-17 21:23] mlbiam commented on #2354
Looks like at one point i over-wrote kubelet.conf with admin.conf, probably when i re-keyed the cluster when certs expired.  guess i'll need to revert back to the old one and re-key everything?

[2020-11-17 21:34] neolit123 commented on #2354
ok, so i think you can just do the following but please backup `/etc/kubernetes` before that:

[code]

[2020-11-17 21:37] neolit123 commented on #2354
i'm going to close this as unsupported scenario, but please ask if you have any further questions.
happy to help.

[2020-11-17 21:37] #2354 closed

[2020-11-17 23:18] mlbiam commented on #2354
@neolit123 this worked perfectly.  thanks!

[2020-11-19 13:34] #2344 closed

[2020-11-20 08:41] willzhang commented on #1223
hope it can be resolved
[code]

[2020-11-22 15:38] leh327 commented on #581
When first master node's kubelet down (systemctl stop kubelet), other master nodes can't contact CA on the first master node.  This resulting in the following message until kubelet on original master node brought back online:

kubectl get nodes
Error from server (InternalError): an error on the server ("") has prevented the request from succeeding (get nodes)

Is there a way to have CA role transf

[2020-11-23 12:12] anguslees commented on #1350
/remove-lifecycle stale

[2020-11-24 21:35] rawkode commented on #2261
/remove-lifecycle stale

[2020-11-25 08:41] fabriziopandini commented on #2020
/remove-lifecycle stale

[2020-11-25 13:15] alexcpn commented on #1899
Thanks ;
If you want to pass some other config
[code]

[2020-11-26 06:52] kandyp commented on #1026
Had similar issue, its not resolved for me yet but the issue occurred due to docker getting upgraded to an incompatible version. Just check of your docker service is running or not.

[2020-11-30 09:47] fabriziopandini commented on #1318
/remove-lifecycle stale

[2020-11-30 09:47] fabriziopandini commented on #1727
/remove-lifecycle stale

[2020-11-30 09:47] fabriziopandini commented on #1796
/remove-lifecycle stale

[2020-11-30 09:47] fabriziopandini commented on #1932
/remove-lifecycle stale

[2020-11-30 16:40] neolit123 opened #2355 "kinder: migrate away from gs://kubernetes-release-dev"
see:
https://github.com/kubernetes/test-infra/issues/19483#issuecomment-735899029

TL;DR, there are pending changes in GS / GCR buckets URLs for CI artifacts.

kinder currently downloads from - e.g.:
https://storage.googleapis.com/kubernetes-release-dev/ci/v1.20.0-beta.2.88+e3de62298a7304/bin/linux/amd64/kube-apiserver.tar\n"

the replacement bucket is gs://k8s-release-dev, but this is still pendi

[2020-11-30 16:42] neolit123 opened #2356 "kubeadm: change the default imageRepository value for CI images"
see https://github.com/kubernetes/test-infra/issues/19483#issuecomment-733258839
and https://github.com/kubernetes/test-infra/issues/19483#issuecomment-735899029

TL;DR if the kubeadm user passes a version that starts with `ci*` the image repository is defaulted to `gcr.io/kubernetes-ci-images`

this repository is being phased out in favor of `gcr.io/k8-staging-ci-images`

instead of making this a

[2020-11-30 18:15] neolit123 commented on #2353
closing. skipping preflight makes the command idempotent, but instead `reset` should be used.

/close

[2020-11-30 18:15] #2353 closed

[2020-12-01 08:49] fabriziopandini commented on #2356
I think it is ok to change the default, given that we are just adapting to a change of URL in test infra

[2020-12-01 18:27] celestehorgan commented on #2200
@neolit123 I believe all your sub-items on this task are done. Is this issue ready to be closed? :)

[2020-12-01 18:30] rdxmb commented on #1931
/remove-lifecycle stale

[2020-12-01 18:38] neolit123 commented on #2200
@celestehorgan hi, we should keep this open until the transition from master -> control-plane has fully completed in future releases.
if you'd like we can be removed the WG Naming label via `/remove-wg naming` or just remove it from the WG Naming GitHub project tracking?

[2020-12-02 15:48] neolit123 commented on #1606
/remove-lifecycle stale

[2020-12-02 15:48] neolit123 commented on #2171
/remove-lifecycle stale

[2020-12-02 16:40] #1915 closed

[2020-12-02 18:44] vipulJain05 commented on #1616
use "kubeadm reset" and reinitialize the kubeadm using "kubeadm init"

[2020-12-03 08:55] VannTen opened #2358 "[upgrade/postupgrade] FATAL post-upgrade error: unable to create/update the DNS service: services "kube-dns" not found (using coredns)"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.11", GitCommit:"d94a81c724ea8e1ccc9002d89b7fe81d58f89ede", GitTreeState:"clean", BuildDate:"2020-03-12T21:06:11Z", GoVersion:"go1.12.17", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versi

[2020-12-03 16:35] arrcher opened #2359 "Fail to init aws cluster with the message "could not init cloud provider "aws": error finding instance ... timeout"
## What keywords did you search in kubeadm issues before filing this one?

could not init cloud provider

kubeadm init --cloud-provider aws

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**: v1.19.4

**Environment**:
- **Kubernetes version**: v1.19.4
- **Cloud provider or hardware configuration**: aws
- **OS**: Red Hat Enterprise Linux, 8.3 (Ootpa)
- **Kern

[2020-12-03 16:53] neolit123 commented on #2359
hello,

kubeadm seems to be doing its job to pass the flags to the components that need them, so this doesn't look like a kubeadm issue. also note that the kubeadm team does not have e2e signal for any of the legacy (non-`external`) cloud providers in kubernetes and we do not know if they are working as expected.

this guide on the web seem to suggest that what you are doing is valid for AWS:
http

[2020-12-03 16:53] #2359 closed

[2020-12-03 18:42] neolit123 commented on #2358
hi,

the service that coredns uses is also called kube-dns, because that was part of the original transition plan in k8s from kube-dns to coredns. #sig-network on k8s slack know more about this topic.

the coredns / kube-dns manifests are here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go

this version is not supported. you'd have to be at 1.1

[2020-12-03 18:42] #2358 closed

[2020-12-03 18:46] neolit123 commented on #2358
btw, the error is coming from here:
https://github.com/kubernetes/kubernetes/blob/98bc258bf5516b6c60860e06845b899eab29825d/cmd/kubeadm/app/phases/addons/dns/dns.go#L363-L365

the hard to reproduce aspect here only means that somehow the service is not available at that particular moment, which is bad.
we could make some of the operations in the function to be retried, but instead it feels like the

[2020-12-06 05:27] SataQiu commented on #2356
/assign

[2020-12-06 18:12] thulasikumar729 commented on #1438
[kubelet-check] Initial timeout of 40s passed.
error execution phase kubelet-start: error uploading crisocket: timed out waiting for the condition

[2020-12-06 18:13] thulasikumar729 commented on #1438
How to resloved this issue

[2020-12-07 03:16] villasenor commented on #874
Now that we are [encouraging the use of fully CRI-compliant runtimes](https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/), it might be time to implement this. Even if the Dockershim is maintained and provides a CRI-compliant interface, making it easy to use CRI-O or containerd during `kubeadm init` should be a priority. The current documentation on setting the cgroupDriver dur

[2020-12-07 10:50] robbiemcmichael opened #2360 "Support two-tier CA configuration"
### Context

We're trying to use kubeadm in external CA mode with a two-tier CA configuration. This is done to improve security through shorter expiries while giving us an easy way to rotate the signing CA. We have this setup for each of the required CAs:

- Root CA
- Intermediate CA (issued by Root CA)

We use the `kubeadm certs generate-csr` command to generate CSRs and issue all of the certific

[2020-12-07 10:57] robbiemcmichael commented on #2360
The above could be considered a bug so I'm most interested in addressing that first as it prevents a two-tier CA from being used even in external CA mode. There are however two further areas where the project lacks the proper support for intermediate CAs.

### The `csrsigning` controller

This controller currently doesn't support intermediate CAs: https://github.com/kubernetes/kubernetes/pull/8874

[2020-12-07 13:53] neolit123 commented on #2360
hi,

please post your comments to this existing issue about supporting CA bundles:
https://github.com/kubernetes/kubeadm/issues/1723

i'm personally not in favor of having separate files WRT intermediate / root CA. instead kubeadm can verify that a certificate is singed by one of the CAs in the bundle.

the rest of kubernetes supports bundles with a few minor exceptions.

are you sure? kubeadm pas

[2020-12-07 14:21] neolit123 commented on #874
this is still problematic - doable but not maintainable as a layer in kubeadm. different container runtimes place their configuration in different locations, behind different tools and endpoints. so unless we have something consistent like `curl -s --unix-socket <some socket> http://localhost/info` i'm leaning towards not managing this in kubeadm.

`crictl info` exists nowadays https://github.com/

[2020-12-07 14:43] robbiemcmichael commented on #2360
Hi @neolit123, I did come across issue #1723 while searching to see if this issue had been discussed before, but I believe we are talking about two separate things. #1723 appears to be talking about CA bundles (i.e. more than one CA certificate in a bundle of trusted CAs, any of which can be used to verify a certificate) whereas I'm talking about support for certificate chains (i.e. a leaf certifi

[2020-12-07 14:45] neolit123 commented on #2356
@SataQiu
i can see you sent the PR for k/k master already.
the change must be backported to all versions in the support skew (back to release-1.17) and release-1.20 as well.

@spiffxp should we execute on this now?

[2020-12-07 14:57] neolit123 commented on #2360
this still falls under https://github.com/kubernetes/kubeadm/issues/1723 as a supported scenario of a bundle.

we may have missed a patch for that in the KCM, since if one's `ca.crt` contains (as noted) more than one PEM object it used to just fail.

chains and bundles are semantically different, yes, but from kubeadm's POV it does not matter and we just called it a bundle in #1723. what we need t

[2020-12-07 15:29] robbiemcmichael commented on #2360
I think this is where the confusion lies, I'm not talking about a `ca.crt` file that contains more than one CA object in this issue. I'll be more explicit about the files to try to highlight the difference.

#### CA bundles

#1723 talks about CA bundles, which means these files would need to contain multiple CA certificates:

[code]

All of the other certificates files would contain a single leaf

[2020-12-07 16:21] neolit123 commented on #2360
looks like i'm guilty of not reading the OP thoroughly.

#1723 is indeed different.

what you are proposing is to have files such as `apiserver.crt` contain the following ordered contents:

- apiserver serving certificate
- intermediate CA
- (optionally root CA)

is that true?

currently, when kubeadm loads a certificate file it uses only the first PEM object, it then validates it against the firs

[2020-12-07 20:06] villasenor commented on #874
@neolit123 I agree, pushing for the default to be `systemd` for the cgroupDriver in the kubelet and kubeadm, adding an optional flag/struct option for override to `cgroupfs` in kubeadm, and adding a pre-flight check during `kubeadm init` (if override isn't set) might be the best solution here. What are the next steps to get this going?

[2020-12-07 21:03] neolit123 commented on #874
this is already possible via the KubeletConfiguration field during "kubeadm init".

a preflight check to tell the user that "cgroupfs" is not recommended if they used the override?

1.20 is in code freeze, but we can try making these changes in 1.21.

[2020-12-07 21:52] BenTheElder commented on #1412
Should cri-dockerd now be distributed by mirantis etc. downstream just as docker and containerd etc. are handled by their vendor(s) / distros? (given that the kubernetes project is not going to own this binary)

[2020-12-08 01:25] villasenor commented on #874
Sorry, new to this and probably could have been more clear!

Right, yes!

No, I meant a pre-flight check that ensures users are using `systemd`. If the user is not using `systemd`, we can say something like "It looks like you're not using the systemd cgroupDriver (default). Please switch to using systemd as your cgroupDriver, or override with a KubeletConfiguration field to use cgroupfs"

Sounds g

[2020-12-08 01:29] robbiemcmichael commented on #2360
Yep, that's exactly what I'm doing.

I would argue that `ca.crt` should only contain the root CA certificate. If this file contains the intermediate CA certificate then, taking the API server verifying client connections as an example, the API server will only accept connects from client certificates issued by this exact intermediate CA. The goal is to be able to sign certificates from a new inter

[2020-12-08 15:19] neolit123 commented on #1412
my vote goes for not releasing cri-dockerd as part of the k8s release packages, though this is up to sig-release to decide.
we should probably stop doing the same for crictl too. the current version is outdated but our packages depend on it:
https://github.com/kubernetes/release/issues/1636
and a wild guess is that if we change this it will break apt/rpm users.

on the kubeadm side, my prior propo

[2020-12-08 15:37] neolit123 commented on #2360
i think your comments here are worthy of opening a wider discussion with SIG Auth which is the group the approved our current manual CA rotation documentation:
https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/
and essentially the process which you are trying to improve.

their contact details slack / mailing are here:
https://github.com/kubernetes/community/tree/master/sig-a

[2020-12-08 16:17] jmbeach commented on #1031
My problem was that I was updating the hostname after the cluster was created. By doing that, it's like the master didn't know it was the master.

I am still running:

`sudo hostname $(curl 169.254.169.254/latest/meta-data/hostname)`

but now I run it **before** the cluster initialization

[2020-12-08 22:39] lainosantos commented on #1461
Same issue in k8s 1.19.4 with calico 3.17.0. Any fix?

[2020-12-09 03:23] lainosantos commented on #1461
In my case, the firewalld was rejecting packets for port 443 of the ip of the api server service. Port 6443 was open, but the package came from the interface of calico destined for the virtual ip of the service and with the port mapped in the service (443).

[2020-12-09 15:25] robbiemcmichael commented on #2360
Thanks for the suggestion @neolit123, I'll try to bring this up with SIG Auth at some point to get some feedback from them.

[2020-12-09 18:03] rawkode opened #2361 "Docker 20.10 Not Currently Supported"
## What keywords did you search in kubeadm issues before filing this one?

Searched for "20.10" and "Docker". Nothing found related.

## Is this a BUG REPORT or FEATURE REQUEST?

BIG REPORT

`docker info` with Docker 20.10 JSON isn't parsable by `kubeadm` anymore.

## Versions

**kubeadm version** (use `kubeadm version`): 1.19.4

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1

[2020-12-10 11:26] HemantNegi commented on #2361
Facing the same issue while doing `kubeadm init`

docker version
[code]

Kubernetes version: 1.19.5

error:
[code]

[2020-12-10 12:24] HemantNegi commented on #2361
Ok we found a fix to our issue.  We were running kubeadm init from cloud-init and we observed that $HOME was not set at that time. So `docker info --format '{{json .}}'` was throwing a warning ie.
[code]

Setting $HOME before running kubeadm init worked just fine.

We just did `export HOME=/root` before calling `kubeadm`

[2020-12-10 13:09] sumitKash commented on #581
Hi, i have done this task but not on 1.13 version. May i ask few things if you have done this already?
So basically i will be doing:
kubeadm alpha certs renew all (which updates the control plane cert uber pki/ folder on Masters).
kubeadm init phase kubeconfig to update the kube config files. (On Master and worker).
Restart kubelet on all nodes.

Do i still need to create a token and run join on w

[2020-12-10 16:21] neolit123 commented on #2361
as @HemantNegi mentioned this error:

meand that you haven't setup `docker info` to work properly. once you resolve it kubeadm should properly validate your docker version.

kubernetes has not moved to using 20.x yet:
https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml#L68-L73

once the setup for 20.x is in place, kubeadm will also start accepting docker 20.x without prefl

[2020-12-10 16:21] neolit123 commented on #2361
/kind support

[2020-12-10 16:21] #2361 closed

[2020-12-11 21:20] jayunit100 commented on #1978
why is this closed?

[2020-12-11 21:21] jayunit100 commented on #1978
Fix would be - if they send in a bunk join token, just print that it should be correct ? agree this is tricky because unless you run w/ log level 5 you dont see it..

[code]

[2020-12-11 21:35] jayunit100 commented on #1978
/reopen

[2020-12-11 21:36] jayunit100 commented on #1978
in general, i reopened because i dont think we fixed this: the kubeadm join token being incorrect should be clearly explained at a high logging level .

[2020-12-14 08:34] fabriziopandini commented on #1943
/remove-lifecycle stale

[2020-12-14 12:41] chanhz commented on #1712
It works! You save my life! tks so much.

[2020-12-14 18:18] neolit123 commented on #1978
requiring a fix for this is valid. PR is here, but it will only be available in 1.21:
https://github.com/kubernetes/kubernetes/pull/97290

the error messages for bad token are fine:
`Invalid value: "anng.2059h34kq4jt7vxr": the bootstrap token is invalid`

this is about the discovery token CA cert hash.

after the above PR, it should look like this:

[code]

[2020-12-14 18:54] justaugustus commented on #2322
@neolit123 -- do we have any updates on this one?

[2020-12-14 19:05] neolit123 commented on #2360
let's re-open this until more people comment and since i closed it without understanding the OP.

/kind feature
/reopen
/area security

[2020-12-14 19:13] neolit123 commented on #2322
@justaugustus
no, this one is on sig-auth.

[2020-12-14 23:36] neolit123 opened #2362 "1.21: housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.
**It tracks the upcoming release of Kubernetes 1.21 (1.x)**

same issue for 1.20 (see example PRs):
https://github.com/kubernetes/kubeadm/issues/2277

_When 1.x-1.1 patch version is created_
- [x] Drop kinder support for 1.x-4 and older
(not needed since 1.16 support was already removed previously)
- [x] Cleanu

[2020-12-14 23:52] neolit123 commented on #2277
this is done.
1.21 ticket is here: https://github.com/kubernetes/kubeadm/issues/2362

[2020-12-14 23:52] #2277 closed

[2020-12-15 01:05] brianmay opened #2364 "docker is required for container runtime even though I am using containerd"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

root@kube-master:~# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clean", BuildDate:"2020-12-08T17:57:36Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"lin

[2020-12-15 01:30] neolit123 commented on #2290
/remove-lifecycle stale

[2020-12-15 01:50] neolit123 commented on #2364
i just tried removing the docker binary and this command fails for me too.
`kubeadm config images pull` has no logic to detect if you wish to use `crictl` (containerd) unless you pass `--config` (with the socket value) or `--cri-socket`

[2020-12-15 01:59] neolit123 commented on #2364
we did remove the `--cri-socket` flag for `upgrade apply` with the argument it should be fetched from the cluster:
https://github.com/kubernetes/kubernetes/pull/85044
https://github.com/kubernetes/kubeadm/issues/1356

so it seems appropriate to fetch it from the Node object.

cc @fabriziopandini @SataQiu WDYT?

/kind feature
/area ux

[2020-12-15 02:02] neolit123 commented on #2364
@brianmay i'd assume this is a problem for `upgrade apply` too?

[2020-12-15 03:30] brianmay commented on #2364
Yes, this is on upgrades. As above,  looks like there might be a work around via the --config parameter. Will try asap.

[2020-12-15 03:44] brianmay commented on #2364
Sorry, ignore my previous response. I was getting confused.

What is the difference between "upgrade apply" and "upgrade node"? Can I pass a config file that only sets `CRISocket` or do I need to set all the other values too?

[2020-12-15 16:04] randomvariable commented on #2360
The use case makes sense, as long as the caveats are understood about not using enterprise root CAs, but you could and maybe would want to do this using Vault for example.

I belive the verification issue is valid, kubeadm should be checking the chain. I'll check the PR.

[2020-12-15 16:44] neolit123 commented on #2163
/remove-lifecycle stale

[2020-12-15 20:19] rajansandeep commented on #1943
@neolit123, I can handle the actions for 1.21
[code]
/assign

[2020-12-15 21:02] neolit123 commented on #1943
thank you @rajansandeep !

[2020-12-16 11:42] RA489 commented on #2362
taking Cleanup E2E jobs and Bump minimum supported versions

[2020-12-16 11:42] RA489 commented on #2362
/assign

[2020-12-16 14:24] abelbarrera15 opened #2365 "Kubeadm init 1700MB limit bug"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clean", BuildDate:"2020-12-08T17:57:36Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/arm"}

**Environment**:

- **Kubernetes versi

[2020-12-16 17:25] neolit123 commented on #2365
at least you can skip the check, which is good.

i cannot reproduce this problem on:

[code]

our code uses the Golang standard library to detect memory, which is calling the Linux `sysinfo` (syscall).
i suspect a bug in Golang here, alternatively if sysinfo is returning wrong values on this Linux distribution that can be quite bad for other applications too.

note this is the first report we get

[2020-12-16 18:44] abelbarrera15 commented on #2365
Output of A)

actual MB: 1, bytes: 2016237

Output of B)

totalram (bytes): 2016237

[2020-12-16 19:12] neolit123 commented on #2365
thanks for running the apps.

this is not great as the Linux kernel is reporting that you only have 2 million bytes of RAM or slightly more than 2 MB.

i don't know what `free -h` is using but the `sysinfo` call (example in C above) should be returning the correct memory of the system. you can try contacting Raspbian showing them the C code above and see what they think about this problem:
https:/

[2020-12-16 19:13] neolit123 commented on #2286
/remove-lifecycle stale

[2020-12-16 19:15] neolit123 commented on #2365
i've also pinged the kubernetes slack channel #arm64 to see if someone has see this.

[2020-12-17 10:11] wuchenyanghaoshuai opened #2366 "kubeadm init phase upload-certs --experimental-upload-certs can't be uesd"
error: unknown flag: --experimental-upload-certs
my kubeadm version was v1.13.0
i want my new two nodes join in my cluster as master
but this cmmand can't be used

[2020-12-17 14:12] abelbarrera15 commented on #2365
@neolit123 , I'll go ahead and share w/ raspbian etc -- thanks for the help.

[2020-12-17 15:02] ekunnikov commented on #2358
@neolit123 I have faced exactly the same issue during cluster upgrade from 1.16.3 to 1.17.11 version.
kubespray v2.14 was used for cluster upgrade, kubeadm command and output are the following:
"module_args":

{ "_raw_params": "timeout -k 600s 600s /usr/local/bin/kubeadm upgrade apply -y v1.17.11 --config=/etc/kubernetes/kubeadm-config.yaml --ignore-preflight-errors=all --allow-experimental-upgrad

[2020-12-17 15:27] fabriziopandini commented on #2366
Upload cert was added in v1.14, and according to Kubernetes policy new features are not backported.
Also, v1.13 is out of the support window as defined in https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions, so I'm leaning toward closing this issue

@neolit123 opinions?

[2020-12-17 15:31] fabriziopandini commented on #2286
We should check again this at the SCL level, especially WRT to CAPI v1alpha4 progress

[2020-12-17 15:57] neolit123 commented on #2366
yes, you should use 1.14 for --experimental-upload-certs.
the flag is --upload-certs in newer versions.

instead of creating a 1.14 cluster use 1.18 or newer, which is supported.

/close
/kind support

[2020-12-17 15:57] #2366 closed

[2020-12-17 16:06] neolit123 commented on #2358
my understanding of this problem:
- you have 1.16 and try to upgrade to 1.17
- your 1.16 cluster has a coredns version that is not supported by the upgrade tooling that is included in 1.17.
- 1.16 -> 1.17 upgrade fails.

you can try editing the CoreDNS config map to use 1.6.2:
https://github.com/kubernetes/kubernetes/blob/release-1.16/cmd/kubeadm/app/constants/constants.go#L336

if 1.6.7 is someth

[2020-12-18 08:52] fabriziopandini opened #2367 "[Roadmap] Support node specific configuration"
Kubeadm as of today does not provide a first-class support node-specific configuration.

There are ways to achieve this, like using patches, or for kubelet only, by providing node-specific extrargs, but in the end, the UX is not ideal and we are not covering all the use cases.

As a consequence, I'm proposing to include in the discussions for the next kubeadm roadmap also a definition of proper su

[2020-12-18 08:53] fabriziopandini commented on #2315
Support node-specific configurations https://github.com/kubernetes/kubeadm/issues/2367

[2020-12-18 09:00] ekunnikov commented on #2358
Thank you for update, the funny thing is that even if upgrade process fails - coredns 1.6.7 is installed (there is 2 replicasets, one is failing with corefile-backup configmap, and one is working fine).
I have upgraded another cluster with the same kubespray version and coredns 1.6.7 (also 1.16->1.17) and it finished successfully.
I don't think its an option for me to downgrade coredns version if

[2020-12-18 13:56] sunshone opened #2368 "I use kubeadm to build k8s,but I found this problem the Scheduler and controllerManager is unhealthy"
I want to add --port=10251 and --port=10252 to overide the --port=0,but kubeadm cannot to build it .
I try to add --secure-port=10259 and --secure-port=10257 but kubeadm cannot to build it too.
![image](https://user-images.githubusercontent.com/69560953/102622307-c9f52080-417b-11eb-8219-666736dac4fa.png)

[2020-12-18 14:30] smoshiur1237 opened #2369 "Kubeadm init is failing with the latest version of docker 20.10.1"
BUG REPORT

During the provisioning of control plane machine, the kubeadm init  fails in the following section with the new docker release 20.10.1.
Error logs:
[code]
**Environment**:
- **OS distro**: Ubuntu 20.04
- **Kubernetes version** :v1.19.5
- **Container Runtime**: Docker
- **Docker Version**: 20.10.1

## What happened?
Kubeadm init is failing to initialize the cluster.

## What you expecte

[2020-12-18 14:39] smoshiur1237 commented on #2369
This issue can be solved by installing conntract

[2020-12-18 14:40] #2369 closed

[2020-12-18 16:05] aojea commented on #253
I have binaries for old raspberries models published here https://github.com/aojea/kubernetes-raspi-binaries
They are created with a github actions job, so feel free to reuse it

[2020-12-19 14:23] plugwash commented on #2365
According to https://man7.org/linux/man-pages/man2/sysinfo.2.html

"In the above structure, sizes of the memory and swap fields are given as multiples of mem_unit bytes."

So it seems to get the total memory in bytes, you need to multiply totalram by mem_unit.

[2020-12-19 14:43] neolit123 commented on #2365
What units do you get in your case? Please see the updated C code above,
recompile it with gcc and show the output.

[2020-12-19 14:47] plugwash commented on #2365
Just done some testing to confirm this.

On a 4GB Pi4 I get

mem_unit (bytes): 1, totalram: 3982721024

But on an 8GB Pi4 I get

mem_unit (bytes): 4096, totalram: 2000948

So it looks to me like Linux switches memory units when it needs to do so to avoid overflow, i.e. on 32-bit systems with more than 4GB of ram.

[2020-12-19 14:59] neolit123 commented on #2365
Thanks for the details. I actually found about this field after my initial
tests above, but it was 1 and i did not think about overflow.

Looks like we need to multiply by mem units regardless and hopefully the
golang field Unit is populated correctly.

If anyone wishes to send a pr for that in kubeadm please go ahead.

/reopen

[2020-12-19 15:03] neolit123 commented on #2368
Hi, please try posting on the support channels like #kubeadm or
discuss.k8s.io first.

/close
/kind support
On Dec 18, 2020 15:58, "sunshone" <notifications@github.com> wrote:

[2020-12-19 15:03] #2368 closed

[2020-12-19 15:15] plugwash commented on #2365
It looks like the offending code is in https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/cmd/kubeadm/app/preflight/checks_linux.go

"actual := uint64(info.Totalram) / 1024 / 1024"

I believe should be changed to

"actual := uint64(info.Totalram) * info.Unit / 1024 / 1024"

I'm not a kubernates user or developer though (I was just alerted to this issue through t

[2020-12-19 15:20] abelbarrera15 commented on #2365
@plugwash , @neolit123  -- thanks. I follow. Let me try to test and put a PR in today :)

[2020-12-21 09:31] b10s commented on #1501
@neolit123

But I think should be a fatal: https://systemd.io/CGROUP_DELEGATION/
and probably related issue: https://github.com/kubernetes/kubernetes/issues/95488

[2020-12-21 12:46] b10s commented on #1394
@mauilion great explanation! All seems to be correct except the `view` in the following part:

If we replace `view` with `read` it will be more clear why it's not fully correct.

The problem is because the cgroups manager is not only a ~~viewer~~ reader but also a writer.
If my understanding is correct : )

By writing to `/sys/fs/cgroup/systemd/` such cgroup as `kubepods` we do [confuse systemd](h

[2020-12-21 19:06] #2365 closed

[2020-12-22 07:11] zedtux commented on #2035
I'm reproducing that issue from my chef cookbook when trying to upgrade from 1.16 to 1.17 on Debian Buster (while the same passes on Debian Stretch).

Someone on SO said that [the `nodeRegistration.name` needs to be the same as the machine's hostname](https://stackoverflow.com/a/57774789/1996540). I don't have any output from the command `kubectl -n kube-system get cm kubeadm-config -o jsonpath={.

[2020-12-22 18:21] neolit123 commented on #2035
.name is passed to the kubelet and that is how the node is registered.
so it's equivalent to the node name.

[2020-12-23 06:48] zedtux commented on #2035
Thank you @neolit123 for your comment.

On my side, I've finished to test each version of Kubernetes (from 1.15 to 1.20) and 1.17, 1.19 and 1.20 are failing on Debian Buster. On Stretch all are passing.

I will now test the same but with Ubuntu 18.04.

[2020-12-24 13:52] bbellrose1 opened #2370 "kubeadm init fails with node not found"
I am trying to initialize the cluster for the first time. Seems to go fine until it tries to boot kubelet. Then it gets a node not found...

$ kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.1", GitCommit:"c4d752765b3bbac2237bf87cf0b1c2e307844666", GitTreeState:"clean", BuildDate:"2020-12-18T12:07:13Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/am

[2020-12-24 16:28] neolit123 commented on #2370
node not found is a misleading error by the kubelet. at this point it means that the kubelet was unable to register a Node object with the api server.

this means that the api server is cannot be connected. could be caused by a number of things.

please try the support channels before logging a ticket in kubernetes/kubeadm:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/c

[2020-12-24 16:28] neolit123 commented on #2370
/kind support

[2020-12-24 16:28] #2370 closed

[2020-12-25 21:11] ofen commented on #1564
Faced the same issue with etcd **listen-metrics-urls** argument (to bypass client certificate flow for Prometheus metrics). Successfully patched via kubeadm (in running cluster).

Added following lines to kubeadm-config configmap in kube-system namespace:
[code]

And applied patch via `kubeadm init phase etcd local --config <(kubeadm config view)` (on each master)

[2020-12-28 12:53] bbellrose1 commented on #2370
So how do you know this is not an issue? Firewall is disabled so the first assumption that it could be firewall is incorrect. I added a post to support forum. So far nothing has come of that.

[2020-12-29 16:35] neolit123 commented on #2370
from what i see kubeadm init passes, but the api server cannot be reached. there are a number things that can cause this.
you need to closely inspect the kubelet logs.

"node x not found" is usually not relevant:
https://github.com/kubernetes/kubernetes/issues/90637
https://github.com/kubernetes/kubeadm/issues/1153
https://github.com/cri-o/cri-o/issues/2357

you can also try getting help from the

[2020-12-29 16:38] neolit123 commented on #2299
/remove-lifecycle stale

[2020-12-29 17:43] bbellrose1 commented on #2370
It was related to a parameter I had in my config file… I was passing anonymous-auth and that was the cause. Not sure why that would result in a node not found. Seems like Kubernetes has a lot to be desired in regards to error logging. This can be closed as I found the resolution.

Brian

From: Lubomir I. Ivanov <notifications@github.com>
Sent: Tuesday, December 29, 2020 11:36 AM
To: kubernetes/kub

[2020-12-29 19:47] #2335 closed

[2020-12-29 21:16] rsoika commented on #2364
I have the same issue when calling the print-join-command.
I installed kubernetes v1.20.1  on Debian with containerd. THe master and worker nodes work.
But if i call on the master node:

    kubeadm token create --print-join-command

I got:

[code]

I did not really understand all the discussion about this warning. Should we ignore this? Joining a worker node to the master is working fine - even w

[2020-12-30 01:41] brianmay commented on #2364
@rsoika I believe that warning can be ignored. It is the hard error I was getting that cannot be ignored.

I am hoping I might be able to resolve this without converting my cluster back to docker... But so far everyone seems to be rather quiet on the subject of a solution or even a workaround.

Unless of course kubeadm 0.20.1 has made any changes to fix this?

[2020-12-30 03:24] knight42 commented on #2292
@neolit123 I have filed kubernetes/kubernetes#97583 to graduate the command.

[2020-12-30 18:20] neolit123 commented on #2364
we should fix this after the holidays.

[2020-12-30 19:39] neolit123 opened #2371 "CoreDNS will not be upgraded: cannot migrate up to 'v1.8.0' from '1.7.0'"
after merging the PR to update coredns to v1.8.0 in 1.21 our CI cough a problem:
https://github.com/kubernetes/kubernetes/pull/96429

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-20-latest
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-20-latest/1344068108867866624/artifacts/task-06-upgrade-log.txt

[code

[2020-12-30 19:39] neolit123 commented on #2371
/assign @rajansandeep
cc @chrisohaver

[2020-12-30 23:13] brianmay commented on #2364
@neolit123 Great news, thanks.

[2020-12-31 01:37] John402-cloud opened #2372 "deploy redis-cluster(6.0.0) with statefulset in K8s-3master results an error /var/lib/redis/nodes.conf is already used"
## Is this a request for help?
yes

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## Versions

**kubeadm version** (use `kubeadm version`):
v1.17.4
**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.17.4
- **Cloud provider or hardware configuration**:

[2020-12-31 01:53] neolit123 commented on #2372
hello, this seems to originate from Redis and doesn't seem like a kubeadm problem.
try logging the issue in the redis issue tracker.

/close

[2020-12-31 01:53] #2372 closed

[2020-12-31 02:52] knight42 commented on #2299
@neolit123 Is it okay to remove this command now? If yes, I would like to submit a PR to do that.

[2020-12-31 03:06] pacoxu commented on #2364
after I remove /var/run/docker-shim.sock and /var/run/docker.sock, the command works.

[2020-12-31 03:07] neolit123 commented on #2299
yes, this is scheduled for removal in 1.21.

[2020-12-31 03:09] neolit123 commented on #2364
removing /var/run/docker*.sock is actually a good solution because the way kubeadm defaults it's configuration (when no config file is passed to a command) means that it would default to the docker socket.

[2020-12-31 04:56] knight42 commented on #2299
@neolit123 Hi! I have filed kubernetes/kubernetes#97627 to remove this deprecated command.

[2020-12-31 10:15] brianmay commented on #2364
In my case I don't have anything that matches `/var/run/docker*`, or anything that looks like these sock files. I think I might have deleted them already.

I do have a `/var/lib/docker` and a `/var/lib/dockershim/` (it is safe to delete these??)  but I am a little bit skeptical these directories are confusing kubeadm.

[2021-01-01 19:26] srahulkumar84 commented on #1931
Coredns gets scheduled in workernode after one of control plane node comes down, although it doesnt get ready in the worker node. to fix that it has to be manually cordoned off the worker node which shouldn't be an ideal scenario. it should be ideally not attempted to be schedule in non control plane nodes.

[2021-01-04 00:56] AleksandrNull commented on #2364
Here is a KISS workaround:
`echo "#!/bin/sh" > /sbin/docker && chmod 0100 /sbin/docker`
and run `kubeadm upgrade apply` or `kubeadm upgrade node` command. Don't forget to delete /sbin/docker after upgrade was completed :)

[2021-01-04 11:51] neolit123 commented on #1931
Scheduling on worker nodes works fine.

Depends. Targetting only Cp nodes was discussed as not ideal either. For
customizing that, you could patch the coredns deployment or skip kubeadm
deploying corends and do that yourself.

[2021-01-04 12:31] fabriziopandini commented on #2046
/remove-lifecycle stale

[2021-01-04 12:32] fabriziopandini commented on #2250
/remove-lifecycle stale

[2021-01-04 13:14] chrisohaver commented on #2371
The `v` needs to be stripped off when calling `Migrate()` ...

[2021-01-04 15:11] neolit123 commented on #1949
/remove-lifecycle stale

[2021-01-04 16:54] neolit123 commented on #2254
i had another look at this ticket.
the use case in the broader kubeadm user base would be minimal and generating the certificate manually is the way to go.

/close

[2021-01-04 16:54] #2254 closed

[2021-01-04 21:48] brianmay commented on #2364
@AleksandrNull So I guess this means that the docker call's aren't actually required for the upgrade to work? If so, good to know.

[2021-01-04 22:11] jeanluclariviere commented on #2364
I was hitting this exact error when trying to use kubeadm upgrade apply. @AleksandrNull solution worked perfectly and I was able to upgrade my dev cluster to 1.19.5 this morning.

[2021-01-05 06:56] #1978 closed

[2021-01-05 15:26] AleksandrNull commented on #2364
@brianmay That's correct. It basically checks docker binary and trying to pre-pull images. Pulling images (using docker) is absolutely useless with containerd runtime as default so this "mock" does no harm.

[2021-01-06 03:46] neolit123 commented on #1723
/remove-lifecycle stale

[2021-01-06 09:48] liyongxin opened #2373 "deleting the built-in cluster admin clusterrole does not seem to have any impact on authentication and authorization"
## Versions

**kubeadm version** (use `kubeadm version`):
v1.19.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:"e19964183377d0ec2052d1f1fa930c4d7575bd50", GitTreeState:"clean", BuildDate:"2020-08-26T14:30:33Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}
- **Cloud provider or h

[2021-01-06 10:32] neolit123 commented on #2373
i can confirm what you are seeing, but that's not a kubeadm problem.

kubeadm signs the following admin certificate:
[code]

`system:masters` is bound in the `cluster-admin` ClusterRoleBinding.
[code]

please log this ticket in the kubernetes/kubernetes repository and:
- ping me on it.
- add this command on a new line `/sig auth`
- link to this issue.

[2021-01-06 10:32] #2373 closed

[2021-01-06 13:26] neolit123 commented on #2373
@liyongxin

to clarify the response here a little:
https://github.com/kubernetes/kubernetes/issues/97758#issuecomment-755295241

kubeadm creates a kubeconfig with a super user admin account.
you cannot remove the admin access to this account even if RBAC is disabled.

if you want to create separate administrator users check `kubeadm kubeconfig user`.
- don't share the super user admin account.
- c

[2021-01-06 15:29] oldthreefeng opened #2374 "kubeadm join/init [WARNING IsDockerSystemdCheck] , when Use containerd."
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: 4C4G , vmware.
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

 kubeadm init --con

[2021-01-06 15:35] neolit123 commented on #2374
duplicate of https://github.com/kubernetes/kubeadm/issues/2364

[2021-01-06 15:35] #2374 closed

[2021-01-06 16:22] neolit123 opened #2375 "add the node.kubernetes.io/exclude-from-external-load-balancers label to kubeadm CP nodes"
this PR made it so that nodes labeled with `master` will no longer be excluded from Cluster scoped LoadBalancers:
https://github.com/kubernetes/kubernetes/pull/97543

to preserve backwards compatibility we way want to add a new label on CP nodes `node.kubernetes.io/exclude-from-external-load-balancers` that now handles the exclusion.

1.21:
- [x] add the label for init, join, upgrade
https://githu

[2021-01-06 16:23] neolit123 commented on #2375
please don't send a PR for this yet. we are tracking this for 1.21 but need some more discussion with SIG Network.

[2021-01-07 02:33] pacoxu commented on #2375
need we add it to upgrade check or add the label during cluster upgrade?

[2021-01-07 03:08] neolit123 commented on #2375
yes, during upgrade we'd need to have `upgrade apply` applying the label to all CP nodes if it's not present.

[2021-01-08 12:17] neolit123 commented on #2364
@brianmay i tested and looked at the code today.

my guess is that you switched to containerd but the CRI socket on that Node object remains for docker.
what is the output of this command on that particular Node?

[code]

if you patch/edit the kubeadm.alpha.kubernetes.io/cri-socket value the kubeadm command should work.

kubeadm does not really support switching container runtimes on the fly or si

[2021-01-08 12:23] neolit123 commented on #874
changing OP and description

/retitle remove the docker cgroup driver detection

[2021-01-08 12:25] neolit123 commented on #2364
this PR should make all commands that don't need the container runtime to not check for running docker or crtctl:
https://github.com/kubernetes/kubernetes/pull/97625

[2021-01-08 12:25] neolit123 commented on #2374
@oldthreefeng ok, so this issue, is not a duplicate of https://github.com/kubernetes/kubeadm/issues/2364

we have plans to remove the cgroupdriver detection completely for docker:
https://github.com/kubernetes/kubeadm/issues/874

for now you can just ignore the warning.

[2021-01-08 12:28] neolit123 commented on #874
the OP now includes details on how you can help us with removing this detection.

[2021-01-08 12:32] neolit123 commented on #2364
@pacoxu would you have time to backport your PR to 1.20?

[2021-01-08 12:38] pacoxu commented on #2364
@neolit123 ok let me do it

[2021-01-08 14:24] oldthreefeng commented on #2374
@neolit123  ok. thanks alot

[2021-01-08 22:56] brianmay commented on #2364
So for every control plane node I get:

[code]

Can I confirm that this - or similar- is the correct command to fix (for every control plane node):

[code]

If I had known that you were still writing migration documentation, I might have waited. It is perhaps unfortunate that docker-shim was announced as deprecated, you should migrate over, etc, before the documentation was complete. And often pro

[2021-01-09 00:15] neolit123 commented on #2364
i warned about this on the deprecation PR:
https://github.com/kubernetes/kubernetes/pull/94624#issuecomment-689562610

[2021-01-09 00:22] neolit123 commented on #2364
we should include this in the migration guide (TBD).

i didn't have to do this when i tried migrating docker -> containerd but it was a single stack v4.
we can consult with SIG Network if this becomes a common issue.

closing as the main issue is explained and the side issues were addressed by PR.
/close

[2021-01-09 00:22] #2364 closed

[2021-01-09 00:51] brianmay commented on #2364
Revised the above command:

[code]

It looks good now.

[2021-01-09 22:04] AleksZimin commented on #210
You can see this issue:
https://github.com/kubernetes/ingress-nginx/issues/462

Or this doc:
https://github.com/brightzheng100/kubernetes-the-kubeadm-way/blob/master/docs/10-faq.md#error-failed-to-ensure-load-balancer-in-kubernetes-on-gce

[2021-01-11 12:29] neolit123 commented on #2371
/reopen

this still seems to be broken when trying to run `kubeadm upgrade apply` on a single CP node where there is already coredns `v1.8.0` installed.

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-patches-latest
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-patches-latest/1348594819701673984/build-log.txt

v1.8.0 -> v1.8.

[2021-01-11 13:11] neolit123 commented on #2371
a naive fix here would be in the lines of:

[code]
https://github.com/kubernetes/kubernetes/pull/97620/files#diff-b15061fc6de5ba90bf53e91855f1a4b752bc7e382aed6f5691265e86001f2b03R119-R125

[2021-01-11 14:54] randomvariable commented on #2346
Just to return to this, have been reviewing the [Draft STIG for Kubernetes](https://public.cyber.mil/announcement/request-for-comments-disa-has-released-the-draft-kubernetes-stig-for-review/), and CNTR-K8-000440 states the following:

with check content:

FWIW, I have requested that we give feedback for the following:

1. Change the offensive language
2. Add a kubeadm compatible check that greps t

[2021-01-11 15:10] neolit123 commented on #2346
not enabling static pods at all, is disagreement with the project maintainers basically.
i'm not familiar with this website and their work.

are these requested changes for them to do?

i don't like kube-proxy as a static pod mainly because it imposes tight coupling with the kubeadm binary. i.e. it get's promoted from a optional addon that may eventually get applied via kubectl and templated manif

[2021-01-11 15:37] randomvariable commented on #2346
It's part of the the US DOD

Yes, I've requested the changes on behalf of VMware.

Ah, ok. I thought that maybe work had started on converting it to a static pod.

[2021-01-11 16:24] neolit123 commented on #2371
PR:
https://github.com/kubernetes/kubernetes/pull/97919

[2021-01-11 18:12] fabriziopandini commented on #2207
/remove-lifecycle stale

[2021-01-12 11:40] ArunaLakmal commented on #1056
Thanks @pkeuter , It fixed the issue and I had to delete the coredns pods and let them to recreate it.

[2021-01-12 12:54] neolit123 commented on #2299
this is done!
/close

[2021-01-12 12:54] #2299 closed

[2021-01-12 14:12] #2371 closed

[2021-01-13 01:43] pacoxu commented on #2362
taking ` [TODO] Drop kinder support for 1.x-4 and older`
/assign

[2021-01-13 17:49] neolit123 opened #2376 "default the "cgroupDriver" setting of the kubelet to "systemd""
the kubelet from the official k8s package is run using systemd (as the serv manager) and kubeadm depends on this assumption.
the drivers between the kubelet and the runtime should match and if the kubelet is run using systemd the driver should be "systemd":
https://kubernetes.io/docs/setup/production-environment/container-runtimes/

for Docker there is auto-detection of cgroup drivers, which we ma

[2021-01-13 17:50] neolit123 commented on #2376
@BenTheElder (kind) @afbjorklund (minikube) @randomvariable @fabriziopandini (cluster api)

[2021-01-13 17:57] neolit123 commented on #2376
@floryut (kubespray)

[2021-01-13 18:03] champtar commented on #2376
kubespray force the configuration I think, for docker it's systemd, and for containerd it's still cgroupfs but should change soon

[2021-01-13 18:07] aojea commented on #2376
ping @saschagrunert for crio feedback

[2021-01-13 18:11] neolit123 commented on #2376
i've noticed we are missing the `cgroup_manger: systemd` in our cri-o config / install instructions BTW:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/

this is something i can update this cycle.

[2021-01-13 19:04] afbjorklund commented on #2376
the docs say that you should use systemd as the driver, **if** your system is using systemd...

the emphasis is on that you shouldn't have different drivers, not that you _must_ use systemd ?

---

minikube does some detection of what the host is using, and sets `cgroupDriver` to match

~~https://github.com/kubernetes/minikube/issues/4172~~ (PR https://github.com/kubernetes/minikube/pull/6287)

ho

[2021-01-13 19:11] afbjorklund commented on #2376
@neolit123

the cri-o default changed in version 1.18, so most users would have systemd (by default)

https://github.com/cri-o/cri-o/commit/9ec532c7f47911475004671d9fdabc2cf4351d86

https://github.com/cri-o/cri-o/issues/3719

but it would be good to have it documented, since cgroupfs was the default for cri-o 1.17

[2021-01-13 19:28] neolit123 commented on #2376
that is true, of course. but the official kubelet package uses systemd to manage the kubelet.

[2021-01-13 19:31] neolit123 commented on #2376
thanks for the details on minikube

indeed, we have explained to users that they should use the "systemd" driver for a number of releases (outside of the support skew).
if someone is using the official kubeadm / kubelet packages it makes sense for the driver to be defaulted to "systemd" on both CR and kubelet sides.

[2021-01-14 08:10] saschagrunert commented on #2376
@neolit123 @afbjorklund I can give the CRI-O docs an update this cycle and mention the driver. :+1:

[2021-01-14 10:30] maxclac commented on #1223
No news from this issue? I would be interested to have a solution for this as well.

[2021-01-14 12:04] neolit123 commented on #2376
thanks @saschagrunert

[2021-01-14 15:04] ratulb commented on #335
gnature for token ID "w30hqq", will try again
I0114 15:02:45.146194    5300 round_trippers.go:445] GET https://10.128.0.57:80/api/v1/namespaces/kube-public/co
nfigmaps/cluster-info?timeout=10s 200 OK in 7 milliseconds
I0114 15:02:45.146496    5300 token.go:221] [discovery] The cluster-info ConfigMap does not yet contain a JWS si
gnature for token ID "w30hqq", will try again
I0114 15:02:51.009632

[2021-01-14 15:05] ratulb commented on #335
kubeadm init --token-ttl 0 - has no effect.

[2021-01-14 15:18] ratulb commented on #335
I am facing this issue intermittently. While joining multiple control-plane nodes - facing this for one or two - while others succeed. This is done in a loop.

 I am on cri-containerd-cni 1.3.4.

[2021-01-14 15:24] neolit123 commented on #335
gnature for token ID "w30hqq", will try again

there is a controller that is responsible for adding the bootstrap tokens in "cluster-info". kubeadm waits for that to happen for a while. if the token is never added, there must be a problem elsewhere - e.g. controller in question or the controller-manager.

[2021-01-14 16:55] #2356 closed

[2021-01-15 05:49] yborges commented on #122
Your comment about the documentation is important. For example, Ingress Nginx has a whole tutorial on how to use in on bare metal with service type NodePort. It's a one-line code to install it. However, it cannot work without tweaking the standard settings for kubeadm init and they don't mention that anywhere. I've been struggling with ports and ip's for 3 days now because of this.

[2021-01-16 12:23] oldthreefeng commented on #2376
so Is there any docs for containerd change is default cgroup driver to systemd?  @champtar

[2021-01-16 12:31] floryut commented on #2376
There is no doc at the moment, but we plan to default containerd (as the CR) in the next kubespray release, and while we do that we plan to move the cgroup driver to systemd.

[2021-01-17 18:49] neolit123 commented on #2104
/remove-lifecycle stale

[2021-01-18 03:24] oldthreefeng commented on #2376
i think there must be a common method to check cri cgroup driver， so during kubeadm init ， if kubeletconfig. groupDirver is blank, we check the cri cgroup driver by the commom method.  this checking is default by using docker now ? but missing for container/cri-o?

[2021-01-18 06:43] afbjorklund commented on #2376
It was discussed in ~~#844~~, when doing the current `docker info -f "{{.CgroupDriver}}"` hack

[2021-01-18 13:19] neolit123 commented on #2376
this is currently not possible. some time ago, someone invested a lot of time investigating how to place cgroup driver detection inside the kublet for all container runtimes but it never happened.

[2021-01-19 09:57] fabriziopandini commented on #2376
@neolit123 I have some concern about changing the default mostly for upgrade workflow:

In the case of kubeadm upgrades (in-place upgrades):
I should double check if changing the default for cgroup impacts upgrades on an existing node; assuming the worst case (it impacts), this could lead to problems as documented [here](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#c

[2021-01-19 10:48] afbjorklund commented on #2376
We had some "interesting" issues in minikube, that turned out to be Docker configuration (or handling):

[code]

The moral of the story is to _always_ check the daemon status, before trying to look at server details...

[2021-01-19 12:57] neolit123 commented on #2376
@fabriziopandini

this will not be a problem for the kubeadm mutable upgrades as kubeadm no longer upgrades the KubeletConfiguration (part of Rosti's work). so the shared KubeletConfiguration for all nodes will remain on "cgroupfs" if the user did not set it.
for new clusters however (via init), kubeadm will default it to "systemd" which will then require all nodes to have the CR set to "systemd"

[2021-01-19 12:59] neolit123 commented on #2376
@afbjorklund

this seems like something that can be avoided even if the server is not running.

[2021-01-19 13:06] afbjorklund commented on #2376
Indeed, but haven't opened a bug with docker (or moby?) yet. Still happens, though.

[2021-01-19 22:23] ksa-real commented on #2244
I was trying to set up metrics scraping with Prometheus and am pretty confused about the current state of things. Is there a recommended way to monitor kube-scheduler (S) and kube-controller-manager (CM) metrics?

https://github.com/prometheus-operator/kube-prometheus/issues/718

Prometheus is running on the node, different from a master node, and is expected to scrape S/CM metrics from multiple m

[2021-01-19 22:48] neolit123 commented on #2244
you can sign certficates for a user that is authorized to access /metrics endpoints.
e.g.
[code]
https://kubernetes.io/docs/reference/access-authn-authz/rbac/

creating certificates:
https://kubernetes.io/docs/concepts/cluster-administration/certificates/

you can then feed such to a TLS client that tries to access the endpoint.
can be verified locally with curl too.

alternatively for the legacy

[2021-01-20 02:59] ksa-real commented on #2244
I think you didn't understand me. To access the metrics endpoint 3 things must happen:
1. Port must be accessible.
2. Assuming this is https, the client must trust the server.
3. The server must trust the client.

You are talking about (3), but this is the only part that works. Parts (1) and (2) are broken.
1. Prometheus is executed on some node (probably non-master), e.g. 10.1.1.4. Even if it is

[2021-01-20 06:12] pkpfr commented on #2028
Add the arg `--kubelet-insecure-tls` to the metrics server container.

[2021-01-20 06:16] pkpfr commented on #2028
Set the arg `--kubelet-insecure-tls` on the metrics server container.

[2021-01-20 11:17] ksa-real commented on #2244
My current workaround is to apply the firewall rules on every node BEFORE applying the above steps. Replace the 10.1.1.1 with the node IP:
[code]

[2021-01-20 13:00] neolit123 commented on #2244
we don't really provide support on prometheus in the kubeadm issue tracker. what i'm seeing here can fail for other deployers and not only for kubeadm.

you can ask in #kubeadm on k8s slack, [support channels](https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md) or the prometheus issue tracker because likely there are other users already doing what you are trying to do.

[2021-01-20 14:07] ksa-real commented on #2244
The issue is NOT specific to Prometheus. This is specific to `kubeadm`. The way kubeadm sets up scheduler and controller-manager unless the metrics collector is deployed on every master node, any pull-based central metrics scraper
- cannot read metrics from these components
- cannot trust the certificates, provided by these components

What is the point in providing metrics endpoint if it cannot b

[2021-01-20 14:25] neolit123 commented on #2244
yes, because it feels like an extension and not something that all users would need.

the discussion above had the following:

https://github.com/kubernetes/kubeadm/issues/2244#issuecomment-668646073

so technically you should be able to pass extra flags to the components and set them up.

[2021-01-20 15:49] neolit123 commented on #2324
docs PR merged.
/close

[2021-01-20 15:49] #2324 closed

[2021-01-20 19:16] detiber commented on #2376
I don't think that kubeadm should be modifying the configuration for the container runtime. It looks like `crictl` from [cri-tools](https://github.com/kubernetes-sigs/cri-tools/blob/master/docs/crictl.md) already supports exposing this information and is already being used by kubeadm, it seems like it would be a good choice to use for this purpose as well.

output from running `crictl info` within

[2021-01-20 19:58] neolit123 commented on #2376
@detiber

do you mean, don't modify the CR configuration on disk, or the KubeletConfiguration that kubeadm generates WRT the cgroup driver too?

i was monitoring this effort and hoped it will work at some point.

for dockershim at least it returns only the list of conditions (for this we can continue using "docker info").
the crio socket gave me the same result.

IMO, ideally the cgroupDriver sett

[2021-01-21 11:16] fabriziopandini commented on #2376
This issue was discussed during CAPI office hours on the 20th of January, and the outcomes of the discussion are captured in https://github.com/kubernetes/kubeadm/issues/2376.

TL;DR; in order to coordinate the change among all the involved parties and to provide a clean upgrade path for the users/for immutable upgrades, we should ensure that kubeadm configures kubelet for using the systemd cgroup

[2021-01-21 15:34] neolit123 commented on #2375
/assign
will draft a PR today.

[2021-01-21 15:35] andy-ning commented on #2186
I feel like people are talking about two different certificates in /var/lib/kubelet/pki directory. In my 1.18 k8s system I have the following in that directory:

ll /var/lib/kubelet/pki/
total 12
-rw------- 1 root root 2765 Jan 19 19:51 kubelet-client-2021-01-19-19-51-34.pem
lrwxrwxrwx 1 root root   59 Jan 19 19:51 kubelet-client-current.pem -> /var/lib/kubelet/pki/kubelet-client-2021-01-19-19-51-

[2021-01-21 16:13] neolit123 commented on #2186
kubelet.* is the kubelet serving cert and it's self-signed.

it's not managed by kubeadm:
https://github.com/kubernetes/kubeadm/issues/1223
https://github.com/kubernetes/kubeadm/issues/1602

[2021-01-21 16:17] andy-ning commented on #2186
Dig a little bit more ... kubelet-client-current.pem contains a client cert, seems to be used for kubelet to securely connect to apiserver etc.  kubelet.crt is a server cert, seems to be for components that try to securely connect to kubelet to verify kubelet's identity. So they are for different purposes. In my system, there seems to be no components are talking to kubelet (only kubelet talks to

[2021-01-21 16:25] andy-ning commented on #2186
Thanks.  So kubelet.crt/key is the one that will be automatically rotated by kubelet if configured so? What about kubelet-client-current.pem? Is it managed by kubeadm and will be renewed by "kubectl certs renew"?

[2021-01-21 16:28] neolit123 commented on #2186
both the kublet serving and client certs can be auto-rotated.
the client cert rotation is currently enabled by default in 1.20.
the serving cert is not and the above issues try to explain why.

for more info:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#client-and-serving-certificates

[2021-01-21 16:51] randomvariable commented on #1602
The situation has changed somewhat since this was opened.

The current state is that cloud providers are or are going to implement CSR signers that verify the identity of the node via an out of band mechanism, and that would provide a stronger guarantee than the rubber stamp controller alone.

We should probably direct users to look at the relevant cloud provider docs to see what their options are

[2021-01-21 16:58] neolit123 commented on #1602
i can summarize the state in the docs this cycle.

[2021-01-21 20:29] neolit123 commented on #2356
so given the change will become global in 1.21 we might want to backport this to the support skew:
https://github.com/kubernetes/kubernetes/pull/97087

will send backports in a bit.

[2021-01-21 20:37] #2355 closed

[2021-01-23 01:33] neolit123 opened #2380 "kubeadm: fix broken e2e tests for 1.21"
we have a couple of failing jobs, which i think happened after the version bumps for 1.21:
https://github.com/kubernetes/kubernetes/commit/7791bbe978d4dbcbb5694565c4a1c856bca48223

- skew latest on 1.20

https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-latest-on-1-20

this i failing in kubeadm init under kinder when the `kubeadm config images list` is called. i tried the isolat

[2021-01-24 17:47] neolit123 commented on #2380
looks like the problem here is that https://console.cloud.google.com/storage/browser/_details/k8s-release-dev/ci/latest-1.20.txt which kinder uses to resolve e.g. `ci/latest-1.20` to `v1.20.0-beta.2.96+98bc258bf5516b`

the new bucket we switched to [here](https://github.com/kubernetes/kubeadm/pull/2379) does not have the latest versions:

the latest version reported by https://dl.k8s.io/ci/latest-

[2021-01-24 20:49] neolit123 commented on #1393
/remove-lifecycle stale

[2021-01-25 08:35] RA489 commented on #2362
taking Create E2E jobs for 1.x once 1.x branch is created.

[2021-01-25 18:01] neolit123 commented on #2203
/remove-lifecycle stale

[2021-01-26 06:32] hey-zhangxu commented on #1886
using kubeadm init phase upload-certs --upload-certs --config kubeadm-config.yaml.  I solved the problem！！thanks ！！

[2021-01-26 20:21] neolit123 commented on #2081
/remove-lifecycle stale

[2021-01-27 13:57] neolit123 commented on #2380
lets keep this open until the tests become green:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-20-latest

checking https://console.cloud.google.com/storage/browser/_details/k8s-release-dev/ci/latest-1.20.txt still points to an old tag.

[2021-01-27 15:52] neolit123 commented on #2271
/remove-kind bug
/kind feature design

[2021-01-27 15:56] neolit123 opened #2381 ""kinder delete cluster" is not working"
steps to reproduce:
[code]

it says `Deleting "foo"...` but the containers (nodes) remain running which can be confirmed with `docker ps -a`

[2021-01-27 15:56] neolit123 commented on #2381
/kind bug
/area kinder
/milestone v1.21
/priority important-longterm

[2021-01-27 17:33] hamzacolumbus opened #2382 "kubelet timeout during kubeadm init with conatinerd as CR"
`[kubeconfig] Using kubeconfig folder "/etc/kubernetes"
[kubeconfig] Writing "admin.conf" kubeconfig file
[kubeconfig] Writing "kubelet.conf" kubeconfig file
[kubeconfig] Writing "controller-manager.conf" kubeconfig file
[kubeconfig] Writing "scheduler.conf" kubeconfig file
[control-plane] Using manifest folder "/etc/kubernetes/manifests"
[control-plane] Creating static Pod manifest for "kube-apis

[2021-01-27 17:59] neolit123 commented on #2382
we have containerd as the runtime in e2e tests so it definitely works.
please use the support forums for this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

also make sure you have matching cgroup drivers:
https://kubernetes.io/docs/setup/production-environment/container-runtimes/
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kube

[2021-01-27 18:00] #2382 closed

[2021-01-28 06:33] cr6588 commented on #1026
Thanks.My machine has been unable to connect after restarting. After checking the certificate, it was found that 3 certificates had expired.

[code]
So renew the certificate
[code]

Restart service
systemctl daemon-reload
systemctl restart kubelet
systemctl restart docker

It works fine

[2021-01-28 15:59] SataQiu commented on #2380
It seems that the job did not execute successfully.
https://testgrid.k8s.io/sig-release-1.20-blocking#build-1.20

[2021-01-28 16:07] neolit123 commented on #2380
looking at the logs i don't understand why it's failing. i see this:

[2021-01-28 17:30] spiffxp commented on #2380
I opened a fix for this yesterday but test-infra is having merging issues (ref: https://github.com/kubernetes/test-infra/pull/20586#issuecomment-769248541)

[2021-01-28 17:32] neolit123 commented on #2380
thanks @spiffxp

[2021-01-28 22:36] neolit123 commented on #2380
https://github.com/kubernetes/test-infra/pull/20624 indeed fixed the 2 failing tests :tada:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm

/close

[2021-01-28 22:36] #2380 closed

[2021-01-30 14:34] SataQiu commented on #2381
/assign

[2021-01-31 22:21] dancarneiro commented on #1156
Just put the master's ip in place of $ (hostname -i)
For exemple:
kubeadm init --apiserver-advertise-address 192.168.1.2

[2021-02-01 03:47] denghuancong opened #2384 "how to add more controlPlaneEndpoint using kubeadm ?"
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:25:59Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):v1.20.2
- **Cloud provider o

[2021-02-01 15:38] neolit123 commented on #2339
/remove-lifecycle stale

[2021-02-01 15:38] neolit123 commented on #1601
/remove-lifecycle stale

[2021-02-01 18:49] #2381 closed

[2021-02-01 19:47] summerisc opened #2385 "Create extra new containers after every reboot"
BUG REPORT

## Versions

**kubeadm version**:
{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:25:59Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- {Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb19681

[2021-02-01 20:10] neolit123 commented on #2385
hi, please log this ticket in the kubernetes/kubernetes repository.
kubeadm does not manage the containers and it's the kubelet that's doing that.

tag the ticket with these commands: `/sig node` and `/area kubelet` and ping me @neolit123 on it.

thanks.

/close
/sig node

[2021-02-01 20:10] #2385 closed

[2021-02-01 20:12] neolit123 commented on #2385
though looking at your logs....

the pause container is duplicated by design. it acts like a sandbox - [read more here](https://www.ianlewis.org/en/almighty-pause-container).

the old containers i see exited.
is something else duplicated that you worry about?

[2021-02-01 20:20] summerisc commented on #2385
Hi, Thanks for the prompt reply. I will add this to k8s repo. To fill in a little bit more info here though, totally understand pause container duplication. While as you can see old containers all exited and after every reboot, it will create all new containers again, so if a server reboot a few times, it will have lots of exited unused containers for k8s, is this also by design?

[2021-02-01 20:38] neolit123 commented on #2385
its the responsibility of the kubelet to GC old containers:
https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/#container-collection
https://kubernetes.io/docs/concepts/cluster-administration/kubelet-garbage-collection/#user-configuration

you can experiment with the flags, but if you are seeing these containers stay "exited" indefinitely you can file the bug in

[2021-02-01 20:41] neolit123 commented on #2384
hi, kubeadm has no plans to enable multiple control-plane endpoints.

you can achieve what you want with iptables routing:
https://unix.stackexchange.com/questions/156151/iptables-routing-incoming-ip-to-another-destination-ip-question

for other tricks you can ask in #kubeadm on k8s slack or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-02-01 20:42] #2384 closed

[2021-02-01 23:29] neolit123 commented on #2271
re:

i experimented with this and couldn't get it to work under normal conditions with a patched kubeadm binary.

procedure:

- create primary CP node

on the second CP node (note: phases are re-ordered here):

- prepare the static pods
- add etcd member
- write a bootstrap-kubelet.conf that points to local second node API server
- start kubelet (starts static pods too)

TLS bootstrap fails and th

[2021-02-02 11:51] vbouchaud opened #2386 "Cannot join control plane to existing cluster with automatic copy of certificates (1.18)"
## What keywords did you search in kubeadm issues before filing this one?
`join` `control plane` `cert` `certificate` `automatic`

Multiple combinations of the above keywords.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardw

[2021-02-02 12:18] stmcginnis commented on #2311
Still working on this @prabhu43 ? Otherwise I could pick this up.

[2021-02-02 13:19] neolit123 commented on #2386
secrets "kubeadm-certs" is forbidden: User "system:bootstrap:ja3yw2" cannot get resource "secrets" in API group "" in the namespace "kube-system"
error downloading the secret
k8s.io/kubernetes/cmd/kubeadm/app/phases/copycerts.DownloadCerts
	/root/rpmbuild/BUILD/kubernetes-1.18.10/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/cmd/kubeadm/app/phases/copycerts/copycerts.go:228

as you

[2021-02-02 13:40] neolit123 commented on #2386
i cannot see anything wrong in your steps. make sure that you are not joining the node to a different cluster e.g. a cluster not created by kubeadm.

i tried reproducing your problem with the exact steps here https://www.katacoda.com/courses/kubernetes/playground (1.18) and it worked fine. closing as we usually don't provide support in this issue tracker, but feel free to update here with your fin

[2021-02-02 13:40] #2386 closed

[2021-02-02 13:56] vbouchaud commented on #2386
Thank you for your answer.

I'm 100% positive this is not what happens since the VM I use to make my tests have a short span of life and there isn't anything beside them in the environment they are created.

I did not skip any phase intentionally. The command my ansible role is using is exactly `kubeadm init --config="init.yaml"` with the configuration file I provided.

Is it possible the configur

[2021-02-02 14:04] neolit123 commented on #2386
skipping phases via the config is not supported yet:
https://github.com/kubernetes/kubeadm/issues/2261

given you have:

it should call the "upload-certs" phase.
look at the output of "kubeadm init" for lines such as this:
https://github.com/kubernetes/kubernetes/blob/release-1.18/cmd/kubeadm/app/phases/copycerts/copycerts.go#L89

[2021-02-02 15:00] neolit123 commented on #2328
this PR reduced the unit test overhead by using static defaults (instead of dynamic) in most places:
https://github.com/kubernetes/kubernetes/pull/98638

[2021-02-02 15:29] vbouchaud commented on #2386
I ran the same command again on a new VM only to find in the logs
[code]

I created a new VM to try `kubeadm init --config="/etc/kubernetes/.init.yaml" --upload-certs` and it did upload the certificates to the cluster.
[code]

My bad, I guess this is the intended behavior and I feel stupid for overlooking this.

Thanks again for your time.

[2021-02-02 15:44] neolit123 commented on #2386
no problem.
the intended behavior is to not upload the certs for clusters that don't needed it e.g. clusters that have only one CP node.

one potential improvement would be on this line:
https://github.com/kubernetes/kubernetes/blob/1119a505aca14467accedf850daf30aa9c532ef2/cmd/kubeadm/app/cmd/init.go#L401

to add the following:
[code]

and the user would not have to pass the `--upload-certs` flag

[2021-02-02 17:25] prabhu43 commented on #2311
@stmcginnis Feel free to pick this up

[2021-02-03 13:11] #2250 closed

[2021-02-03 13:32] bboreham commented on #2020
Related: https://github.com/aws/eks-distro/issues/140

[2021-02-03 14:34] neolit123 commented on #2020
minor update here.

with the dockershim extraction supposedly happening in the next few releases, kubeadm no longer has to manage pause.
we are going to stop passing --pod-infra-container-image to the kubelet (dockershim).

but kubeadm continuing to manage the pause image will allow users to see the default pause bundled with a k8s version. this is a good idea in general, related to security fixes

[2021-02-03 14:42] neolit123 commented on #2327
this was fixed in https://github.com/kubernetes/kubernetes/commit/8b52995d328a50169924eb27d8d03cb47a9ceac6#diff-d870edeb820f49abf2f52cd357a8a5396c7cd1a36e024d339146e512186c7297

1.20 and newer and cannot be backported.

[2021-02-03 15:15] aojea commented on #1612
so,

These are being tested implicitly with the presubmit and periodic jobs https://testgrid.k8s.io/sig-network-kind#sig-network-kind,%20dual,%20master

This seems the only part missing

Sig network started to discuss it recently ... that is not going to be resolved soon and is not clear how to move forward

[2021-02-03 15:51] aojea commented on #1612
/assign
so I don´t forget,
 I will be the backup if nobody picks it

[2021-02-03 18:02] #2311 closed

[2021-02-03 18:15] BenTheElder commented on #2020
One side effect of this flag is kubelet will never try to GC this image ever (and only this image), which may be desirable.

Kind now avoids the preflight / pull, but I still think it makes sense for other users.

I've also seen chitchat about CRI implemented without the pause image entirely / your CRI implementation will have a tested default independent of the Kubernetes release cycle, so it may

[2021-02-03 18:41] neolit123 commented on #2020
that's a good point. if the kubelet actually guarantees that via this flag we should be passing it from kubeadm for all CRs.
this reminded me of this bug:
"Kubelet garbage-collects the pause image, which might be unpullable in ContainerD"
https://github.com/kubernetes/kubernetes/issues/81756

[2021-02-04 00:45] pacoxu commented on #1612
I can pick it. 😄 @aojea

I have done a similar thing before on dual-stack 1.18 which is a little differeny.

[2021-02-04 03:45] BenTheElder commented on #2020
Yeah that's it exactly, I investigated the sources previously and found the behavior described in that issue: the flag is not gated only to dockershim as documented and imageGC at least will skip this image. It also has a default.

I think the better approach would be a way to tell kubelet "don't ever delete these images" but I don't know if anyone has the bandwidth to get something like that thro

[2021-02-04 03:52] pacoxu commented on #2020
In https://github.com/kubernetes/kubernetes/issues/97438#issuecomment-749421571, containerd uses its configuration in `/etc/containerd/config.toml` of `sandbox_image `. Should we check it during installation or before GC the pause image.

[2021-02-04 07:01] aojea commented on #1612
/unassign
/assign @pacoxu
Appreciate it,
Thanks

[2021-02-04 13:35] dims commented on #2020
cc @adisky

[2021-02-04 13:57] adisky commented on #2020
There are two things here

[2021-02-04 13:58] adisky commented on #2020
There are Two things here

[2021-02-04 14:10] adisky commented on #2020
As I can understand there are two things here -- for which same flag `pod-infra-container-image` is used
1. Overriding the pause image for container runtime with the kubelet flag
2. Skipping Eviction of pause image by kubelet GC.

[1] applies only to docker-shim, [2] applies to all container runtimes. (possibly missed/side-effect)
first question is do we want

I am not sure but AFAIK we do not wan

[2021-02-04 14:31] neolit123 commented on #2020
@pacoxu

i don't think the kubelet would like to check the config.toml.

[2021-02-04 14:34] neolit123 commented on #2020
@adisky @BenTheElder

similar to the cgroup driver problem, instead of passing a flag to the kubelet for feature X, the kubelet should be able to ask about the configuration at the CRI socket.

i can see that `crictl info` already shows the full config for containerd (inc cgroup driver and sandbox_image), but that doesn't work for cri-o and dockershim.

[2021-02-04 15:07] adisky commented on #2020
@neolit123 Thanks for the pointer, I too tried containerd returns "sandboxImage":"k8s.gcr.io/pause:3.2" in `Info` of `StatusResponse` https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1/api.pb.go#L6054, which is not a standard. How kubelet will know in what parameter container runtime is passing the pause image info?

[2021-02-04 15:16] neolit123 commented on #2020
it has to be standardized eventually, until then the kubelet may have to accept the image to not be GCed.

[2021-02-05 09:22] pacoxu commented on #1612
Action Items in 1.21：

- [ ] feature gate alpha to beta [cmd/kubeadm/app/features/features.go](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/features/features.go#L39), it need wait for [pkg/features/kube_features.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/features/kube_features.go#L747) change.
- [ ] Documentation: Add documentation on enabling dual-stack v

[2021-02-05 13:57] pacoxu commented on #1931
Does [descheduler](https://github.com/kubernetes-sigs/descheduler) make sense in this case ?

[2021-02-05 14:28] neolit123 commented on #1931
i think we should move the coredns deployment to the addon operator eventually:
https://github.com/kubernetes-sigs/cluster-addons/tree/master/coredns

kops is in the process of implementing it. after that we can investigate for kubeadm.

[2021-02-05 14:38] neolit123 commented on #1612
that's it. my understanding is that `apiserver-advertise-address` is not going to happen in 1.21.

[2021-02-05 19:18] hajedkh opened #2387 "ar"

[2021-02-05 19:20] #2387 closed

[2021-02-07 20:18] ksa-real opened #2388 "Bind controller-manager and scheduler to node ip address to expose `/metrics` endpoint"
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.20.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.20.2
- **Cloud provider or hardware configuration**: Bare-metal
- **OS** (e.g. from /etc/os-release): Gentoo 2.7
- **Kernel** (e.g. `uname -a`): 5.10.4-gentoo
- **Others**:

## What happened?
TL;DR Controller manager and scheduler's metrics endpoi

[2021-02-08 00:10] neolit123 commented on #2388
binding to the node IP is intuitive, but here is my argument against this:
- kubeadm users that care about metrics are not a majority.
- this goes against security hardening. if a component doesn't have to be served on a non-loopback by default then it shouldn't be.

these options are unlikely going to happen, given there exist a number of workarounds including phases and patches.

the positional

[2021-02-08 14:06] yashvardhan-kukreja commented on #2251
/assign

[2021-02-08 17:13] neolit123 commented on #2132
1.20 has the validation.
in terms of documentation usage we have plans to add them as part of the dual-stack efforts.

[2021-02-08 17:13] #2132 closed

[2021-02-08 17:14] neolit123 commented on #2132
this PR is for core components and needs to be amended:
https://github.com/kubernetes/kubernetes/pull/91875

the kubeadm part is done.

[2021-02-08 17:16] neolit123 commented on #2291
this is done

[2021-02-08 17:16] #2291 closed

[2021-02-08 18:57] justaugustus commented on #2322
Ping @kubernetes/sig-auth-feature-requests

[2021-02-08 19:55] ksa-real commented on #2388
Thanks. Confirmed the suggested kubeadm patches work. My slightly modified version:
[code]

My small concern about patches was that they are applied to manifests. If manifests structure stability is not guaranteed, then  patches may become wrong or non-applicable. However, in this particular case a breakage is unlikely, so patches are good enough for me.

[2021-02-08 22:12] itarch opened #2389 "kubeadm upgrade apply 1.20.2 complain kubelet version too old (v1.18.3)"
## Is this a BUG REPORT ?

Based on the Kubernetes documentation when upgrading cluster to 1.20.2, kubelet can be 2 minor versions behind. In my case kubelet(s) are of version 1.18.3, however, kubeadm upgrade in this case complains "kubelets in this cluster are too old"

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl versio

[2021-02-08 22:22] neolit123 commented on #2389
this is by design, while the apiserver / kubelet skew is [N-2](https://kubernetes.io/docs/setup/release/version-skew-policy/#kubelet), kubeadm / kubelet policy is [N-1] - as in, kubeadm cannot manage a kubelet that is N-2.

if you wish to ignore the warning use --force, or just upgrade the kubelet before running kubeadm upgrade apply.

/kind support
/close

[2021-02-08 22:22] #2389 closed

[2021-02-08 22:49] itarch commented on #2389
Thank you!

[2021-02-09 10:29] BenTheElder commented on #2135
kube-proxy distroless would require us to do the iptables bits so I'm not sure if anyone will pick that up but is maybe still a good idea.

flex volume seems problematic in general, because e.g. updating the userspace in this distroful images is also technically perhaps a breaking change...

But it still needs an official timeline.

[2021-02-09 16:41] neolit123 commented on #2388
i brought this topic for discussion in the SIG Cluster Lifecycle meeting today and we agreed that this change not something we see as necessary, since the user base of consuming metrics for these components is not big and it's a topology change.

some discussed alternatives:
- use a proxy (apparently kops already has something like that)
- use deamonset that scrapes on localhost
- use the kubeadm

[2021-02-09 16:41] #2388 closed

[2021-02-10 22:16] rsparulek opened #2391 "IPv6 installation using kubeadm fails if podCIDR value > 64 with K8S version 1.20.1"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
IPv6 installation using kubeadm fails if podCIDR value > 64 with K8S version 1.20.1. Here is the s

[2021-02-10 22:17] aojea commented on #2391
/assign

[2021-02-11 08:43] aojea commented on #2391
/unassign
/assign @SataQiu
Thanks for taking it, appreciate it :medal_sports:

[2021-02-11 09:33] chenysr opened #2392 "Master HA in IPV6 environment"
Does Kubeadm support Kubernetes Master High availability on IPV6 environment ?
If it is supported, Could you please share me the inputs on the sample kubeadm configuration to bring up the cluster on IPV6?
Any support document is also helpful.

Thanks in advance.

[2021-02-11 15:40] neolit123 commented on #2392
hi, it does.
but please note that the general ipv6 support in k8s is not GA yet.

for more questions you can ask in #kubeadm on k8s slack.

/close
/kind support

[2021-02-11 15:40] #2392 closed

[2021-02-13 15:09] neolit123 commented on #1898
/remove-lifecycle stale

[2021-02-14 01:09] asdlif opened #2393 "kubeadm init failed, control plane components cannot be created."
version:
OS: CentOS Linux release 7.6.1810 (Core)  3.10.0-957.1.3.el7.x86_64
hardware: vmware 8C 32G
docker: 19.03.8
kubeadm: v1.20.2

#############kubeadm init logs ##############
[root@master01 ~]# kubeadm  init
W0214 08:58:05.787128   60348 version.go:101] could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable-1.txt": Get "https://dl.k8s.io/r

[2021-02-14 17:32] neolit123 commented on #2393
hi, you need to look at the kubelet logs like kubeadm instructs you to do when kubeadm init fails.
for more questions you can ask in #kubeadm on k8s slack.

this could be due to a number of issues including a cgroup driver mismatch.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

/kind support

[2021-02-14 17:32] #2393 closed

[2021-02-15 00:39] asdlif commented on #2393
Thank you very much.

[2021-02-15 10:35] fabriziopandini commented on #2392
@chenysr this would be a great opportunity to contribute such a doc either in the K8s WebSite or in the kubeadm repo docs, such document could be really useful for other users as well 😉

[2021-02-15 13:31] neolit123 commented on #2392
as one of the items here https://github.com/kubernetes/kubeadm/issues/1612 we have writing docs for dual stack usage with kubeadm.

[2021-02-18 10:45] leo-baltus commented on #2203
I just stumbled over this deprecation warning. Would it not make sense to first provide an alternative command before deprecating `view`. E.g. the `config migrate` and `upgrade` take a `ClusterConfiguration` not a `ConfigMap`.

[2021-02-18 15:33] neolit123 commented on #2203
the exact command is `kubectl get cm -n kube-system kubeadm-config -o=jsonpath="{.data.ClusterConfiguration}"` it will return the ClusterConfiguration as yaml.
i will add it to the issue description here.

given kubectl supports this, there is no need for the `view` command.

[2021-02-19 19:09] syn-ua opened #2394 "BUG [token] creating token : timed out waiting for the condition"
I was trying to install Kubernetes cluster use Kubspray and get an  error timed out waiting for the condition on the stet create a token

FAILED - RETRYING: Create kubeadm token for joining nodes with 24h expiration (default) (5 retries left).
FAILED - RETRYING: Create kubeadm token for joining nodes with 24h expiration (default) (5 retries left).
FAILED - RETRYING: Create kubeadm token for joinin

[2021-02-19 21:27] neolit123 commented on #2394
we have e2e tests and production uses for tokens, to ensure they can be created and work.
please open with the kubespray project first and see what they think.

/kind support

[2021-02-19 21:27] #2394 closed

[2021-02-20 11:12] syn-ua commented on #2394
@neolit123

Found a solution.
Need to add
[code]
to a file : /boot/firmware/cmdline.txt
and then
[code]
And after restart all working

[2021-02-20 23:52] medyagh opened #2395 "1 minute slower since kubernets version 1.20.3 - [kubelet-check] Initial timeout of 40s passed."
Hello, on minikube we updated our default kubernetes to v1.20.4 and we noticed bumping from v1.20.2 to v1.20.3 causes 1 minute slow down on miikube which the logs shows it is in kubeadm init
https://github.com/kubernetes/minikube/issues/10545

[code]

is there a new config or somethign that we are missing out int he  v1.20.3 that is adding an additional check that causes 1 minute tax ?

## screens

[2021-02-21 01:20] neolit123 commented on #2395
hi, @medyagh

this indicates the kubelet takes a while to become ready.

i don't think we have anything on the kubeadm side that can cause it, so it might be a core issue.
i will investigate.

[2021-02-21 01:54] neolit123 commented on #2395
i can confirm the problem in our CI (kind(er) based doing containerd-in-docker in a prow pod):

this is using a 1.20.4 kubeadm with a 1.20.4 kubelet.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-1-20/1363170590768238592/build-log.txt

this is the whole diff of k/k between 1.20.2  and 1.20.3:
https://github.com/kubernetes/kubernetes/compare/v1.20.2...v1.2

[2021-02-21 02:06] neolit123 commented on #2395
this is also a problem in the tip of 1.21 and 1.19:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-latest/1363270239839588352/build-log.txt

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-1-19/1363254137684234240/build-log.txt

so we must have backported something that causes this.

looking at logs and diffs this st

[2021-02-21 02:26] dims commented on #2395
@SergeyKanzhelev @ehashman please see a possible regression

[2021-02-21 02:31] neolit123 commented on #2395
before https://github.com/kubernetes/kubernetes/commit/88ee6d777fa343bfeec0cf5b7b0e83ef0bd8321d

after:

the PR that did this is:
https://github.com/kubernetes/kubernetes/pull/94087

so i can see this wait making sense, but it should bail out if this is the first node and there is no API server yet.

[2021-02-21 02:33] neolit123 commented on #2395
cc @BenTheElder for kind

[2021-02-21 02:58] neolit123 commented on #2395
i have commented on the original PR.

[2021-02-21 14:48] neolit123 commented on #1350
/remove-lifecycle stale

[2021-02-22 12:33] VannTen commented on #2358
I encountered the same issue (with the same cluster) upgrading from 1.17.12 to 1.18.10, using kubespray v2.14.2.
The workaround was to create a copy of the coredns svc named kube-dns, and free the 10.x.0.10 service address (it was used by another service).

[2021-02-22 20:04] jefflill commented on #1062
I probably need to rebuild my local Hyper-V node images.

[2021-02-22 20:49] liggitt commented on #2395
for a self-hosting kubelet, informer sync will fail until the API server is available. Does the delay mean that it takes 40 seconds to start the self-hosted API server? or does it mean that GetNode() is called 4 times and times out in the process of starting static pods?

[2021-02-22 21:20] neolit123 commented on #2395
i suspect that something like that is happening.

the base of the time comparison is a check in kubeadm where it asks both the kubelet and the apiserver to report 200 on their `/healthz`.
normally the kubelet readies up within seconds and then it starts the apiserver pod.
before the change, this completes in ~26 seconds.

after this change the kubelet `/healthz` takes more than 40 seconds to 200 a

[2021-02-22 21:48] brandond commented on #2395
So just to be clear, the apiserver still starts up just as quickly, it's just that the kubelet now does not return 200 on healthz until the apiserver is also up?

[2021-02-22 22:12] neolit123 commented on #2395
seems not, both kubelet and api-server healthz are delayed.

logs:

[code]

- kubelet starts around 17:00:34.
- `[kubelet-check] Initial timeout of 40s passed.` means that the kubelet healthz is not 200 after 40 seconds.
- API server reports 200 at 17:01:43.
- we don't log the kubelet 200, but it must have happend at some point.

[2021-02-23 00:41] neolit123 commented on #2395
i have a WIP proposal fix for the kubelet.
will try to send later.

[2021-02-23 00:45] dims commented on #2395
cc @adisky

[2021-02-23 01:10] ehashman commented on #2395
I haven't noticed any substantial delays in cluster creation on Kubernetes since this patch went in, is it possible this is minikube-specific and should be fixed on minikube bootstrap?

The patch in https://github.com/kubernetes/kubernetes/pull/94087 is a correctness fix to avoid nodes admitting pods before they have fully synced pod state. We've seen many issues with pods getting stuck in NodeAff

[2021-02-23 01:31] neolit123 commented on #2395
what cluster creation tooling / e2e test jobs are you checking this against?

this patch definitely creates a problem if the api-server is managed as a static pod.
so it's not only kubeadm specific (or for anything that uses kubeadm such as minikube)

i do not disagree with the intent, i just think the implementation can be improved.

[2021-02-23 02:30] neolit123 commented on #2395
fix attempt at:
https://github.com/kubernetes/kubernetes/pull/99336

[2021-02-24 00:12] ehashman commented on #2395
What I'm confused by is why this would affect bootstrap at all. For a standalone kubelet, the checks are always bypassed: https://github.com/kubernetes/kubernetes/pull/94087/files#diff-67dd9e8f3ee257072765326cb4f242852554a2c0753563fa51e292c0a63a7b94R455-R460

OpenShift and upstream Kubernetes. I don't have specific jobs to point you to though, idk if there's an easy way to gather stats on cluster

[2021-02-24 00:15] liggitt commented on #2395
"self hosted" is not always standalone. kubeadm sets up a kubelet which runs the apiserver and the registers itself as a node to the API server it started

[2021-02-24 00:38] BenTheElder commented on #2395
In particular for development clusters like kind/minikube etc. using `kubeadm` it's common to have:
- one node
- running self-hosted api-server static pod
- registered kubelet (and control-plane node taint dropped so workloads can schedule)

But as Jordan mentioned even kubeadm clusters with N nodes have static pod apiserver on certain nodes + registered kubelets for all nodes. This will slow down

[2021-02-24 02:00] brandond commented on #2395
Our RKE2 project does the same thing. Runs etcd plus apiserver and sundry as static pods; the kubelet registers to the local apiserver once it's up.

[2021-02-24 14:42] fabriziopandini commented on #2395
FYI, got pinged about this issue by some Cluster API users...

[2021-02-25 08:10] thomastvedt commented on #1424
Just as a reference for the future me;
In my case it helped to just delete the two dns pods. When Kubernetes re-created them, dns was working again.

The error occurred when removing an app from "namespaceA", and then reinstalling it in "namespaceB".

[2021-02-25 09:24] pacoxu commented on #1612
@neolit123  @aojea
Should we support multi node IPs in `kubeadm init` and `join`?
- auto-detect or with a flag `--node-ips`
- if dual-stack is true, detect both; if single-stack, prefer ipv4 or detect from pod-cidr first.

[2021-02-25 11:00] aojea commented on #1612
I think so, or your hostnetwork pods will be single-stack, that can be a problem ...

[2021-02-25 13:40] neolit123 commented on #1612
well, given kubeadm already supports passing kubelet config / flags we should just document how users can do that.
i don't think we should expose this is a wrapper in the kubeadm config or kubeadm flags.

arguably the kubeadm flag --node-name should not exist for similar reasons, but it's already there.

[2021-02-25 16:23] neolit123 commented on #2020
any objections to starting to pass --pod-infra-container-image to all container runtimes (not only docker) in 1.21?

as discussed above this flag tells the kubelet image GC to not remove it.

code is here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/kubelet/flags.go#L82-L83

[2021-02-25 16:37] aojea commented on #1612
documentation is fine, I didn't want to mean to create a new option

[2021-02-25 18:03] BenTheElder commented on #2020
I still think there should be a more flexible way to not evict critical images, but short of that any configured "don't evict this pause image" autodetected from CRI SGTM.

The desync between dockershim's / kubeadm's preferred pause image and CRI has caused us to avoid preflight entirely (so as not to break airgapping). GC we have to blanket disable for now anyhow though.

[2021-02-25 18:58] neolit123 commented on #2376
i saw no objections to the kubeadm change so i will send a WIP PR for this today to get some feedback.
code freeze for 1.21 is the 9th of March.

[2021-02-25 20:20] neolit123 commented on #2376
i've sent the PR for moving to systemd in kubeadm 1.21:
https://github.com/kubernetes/kubernetes/pull/99471

[2021-02-25 20:27] neolit123 commented on #2376
cc @xphoniex @fcolista @oz123 for feedback on Alpine / OpenRC.

- would this change be problematic for OpenRC?
- my assumption is that Alpine container runtimes are defaulted to the "cgroupfs" driver?
- are there plans for cgroupv2 support under Alpine which would need the "systemd" driver IIUC?

alternatively in the [pending PR](https://github.com/kubernetes/kubernetes/pull/99471) change we could

[2021-02-26 00:50] neolit123 commented on #2020
here is the PR:
https://github.com/kubernetes/kubernetes/pull/99476

[2021-02-26 03:49] pacoxu commented on #2376
/cc

[2021-02-26 05:42] rrana2208 commented on #1026
Hi,
Please try to see if you have swap enable on the master and worker node. Please disable it and the restart service.

[2021-02-26 07:22] oz123 commented on #2376
I can't speak for alpine. However, I am fine if this can be changed with a configuration (as this is the case).

[2021-02-26 08:21] pacoxu commented on #1612
@neolit123  node-ips auto detect should be a kubelet feature in my mind.
Currently, we can add it to the docs for reminding users.

[2021-02-26 09:55] aojea commented on #1612
the user has to specify the IP addresses of each family, separated by comma, there is no autodetect for dual-stack

[2021-02-27 21:37] supra08 commented on #1318
Hi @neolit123, I would like to try out this issue.
Reading through the comments, the final goals and deliverables for this are quite evident. I would like to ask about the current status of its implementation. I mean, is there some existing work that I need to follow up or it still needs to be worked on from ground zero?

I've also applied to LFX mentorship on this project and hope to get selected

[2021-03-01 07:58] pacoxu commented on #2286
@neolit123  will this happen in 1.21?

If so, I will work on it this week.

[2021-03-01 09:25] fabriziopandini commented on #2286
Work I CAPI is happening right now, but we should check how the release schedule fits together in order to avoid problems to the users. Let's discuss this in the CAPI meeting again before green lighting removal

[2021-03-01 09:34] pacoxu commented on #2286
@fabriziopandini OK.

[2021-03-01 10:47] pacoxu commented on #2346
How about creating a job to do the upgrade of kube-proxy?

The job will wait for all apiserver versions to the newer one, and then upgrade kube-proxy.

We have used similar logic in some cluster installation for special components like cni initial and storage components.

[2021-03-01 11:06] fabriziopandini commented on #2317
Draft KEP https://docs.google.com/document/d/14Cb2fQfRVpPSQuNz0MYbtGmO63xBglT7x7h57ZeK5PI/edit?usp=sharing

[2021-03-01 14:30] neolit123 commented on #2346
but that would still happen before the kubelet upgrade on the node?
according to the policy the versions of kube-proxy and kubelet should match.

at this point i'm -1 on moving kube-proxy to a static pod.
perhaps an external kube-proxy operator can manage kube-proxy running as a static pod and also manage it's upgrade properly.

the k-sigs/cluster-addons had some ideas around a kube-proxy operator

[2021-03-01 15:41] neolit123 commented on #1318
hi @supra08 i have added more details under `SUMMARY:` in the issue description here.

[2021-03-01 16:50] jhughes2112 commented on #2317
Interesting proposal.  What I've struggled with over the past year using kubeadm is specifically what I addressed with my own scripts that (procedurally) builds clusters (on github: [k8smaker](https://github.com/jhughes2112/k8smaker)).  The best practices for configuring a bare metal cluster is pretty complex.  Doing so with AWS is too.  The preconditioning script depends strongly on the underlyin

[2021-03-01 17:18] neolit123 commented on #2317
i think no matter what we do with kubernetes  upgrades we will not be able to fully guarantee zero failures to the users, unless this is fully managed by some high level tooling that understand everything that the user has and wants - including node host details, infrastructure availability and all caveats of the current and next k8s version.

kubeadm or the operator can encode some details about

[2021-03-01 20:30] neolit123 commented on #2376
after some discussion on the PR the latest proposal is the following:
- in 1.21 "kubeadm init" will start applying the "systemd" driver by default unless the user is explicit in the KubeletConfiguration, but it will not do that for other commands like "kubeadm upgrade".
- we keep this issue open and in 1.22 all kubeadm commands will default to the "systemd" driver unless the user was explicit abou

[2021-03-01 22:22] neolit123 commented on #2376
website guide PR: https://github.com/kubernetes/website/pull/26786

[2021-03-02 10:27] supra08 commented on #1318
Thanks, that clarifies!

[2021-03-02 13:20] Tcarters commented on #1587
Hi Please the issue is resolved???
I have the same here when launching with the command:  **"kubeadm init --pod-network-cidr=10.244.0.0/16 --ignore-preflight-errors=NumCPU --ignore-preflight-errors=Mem --node-name=Master"**

[kubelet] Creating a ConfigMap "kubelet-config-1.20" in namespace kube-system with the configuration for the kubelets in the cluster error execution phase upload-config/kubele

[2021-03-02 13:35] neolit123 commented on #1587
for questions please use #kubeadm and the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-03-02 13:46] Tcarters commented on #1587
I am not asking a question i have issue with kubeadm init ...can you check the error for how to resolve it ?

[2021-03-02 13:55] neolit123 commented on #1587
the links i gave are the place to ask for support too.

[2021-03-02 17:23] neolit123 commented on #1932
/remove-lifecycle stale

[2021-03-02 17:23] neolit123 commented on #1913
/remove-lifecycle stale

[2021-03-02 17:23] neolit123 commented on #1918
/remove-lifecycle stale

[2021-03-02 17:23] neolit123 commented on #1796
/remove-lifecycle stale

[2021-03-02 17:23] neolit123 commented on #1621
/remove-lifecycle stale

[2021-03-02 17:23] neolit123 commented on #1835
/remove-lifecycle stale

[2021-03-02 17:23] neolit123 commented on #1759
/remove-lifecycle stale

[2021-03-02 17:23] neolit123 commented on #2171
/remove-lifecycle stale

[2021-03-02 17:54] neolit123 commented on #2249
/remove-lifecycle stale

[2021-03-02 17:54] neolit123 commented on #1940
/remove-lifecycle stale

[2021-03-04 02:15] neolit123 opened #2398 "remove ClusterConfiguration.DNS.Type"
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#DNS

with the removal of kube-dns:
https://github.com/kubernetes/kubernetes/pull/99646

kubeadm no longer supports multiple DNS types:
this is scheduled for v1beta3.

[2021-03-04 05:09] pacoxu commented on #2398
Is there a plan to install node-local-dns in `kubeadm init`. It was GAed in kubernetes for monthes.

[2021-03-04 12:25] ingobecker opened #2400 "Service DNS broken due to wrong CoreDNS IP addresses"
# Bugreport

## Versions

**kubeadm version**:
`kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:09:38Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version**: `Client Version: version.Info{Major:"1", Minor:"20", GitVers

[2021-03-04 13:13] neolit123 commented on #2047
looks like we missed updating the docs for the flag removal:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#create-certificate-signing-requests-csr

[2021-03-04 13:17] neolit123 commented on #2398
we had an issue for this is k/kubeadm:
https://github.com/kubernetes/kubeadm/issues/1220

we voted to have this as an addon / operator and not be part of kubeadm.

see:
https://github.com/kubernetes/kubeadm/issues/1220#issuecomment-553530193
https://github.com/kubernetes-sigs/cluster-addons/issues/34

[2021-03-04 15:27] neolit123 commented on #2400
you must pass `--pod-network-cidr=10.244.0.0/16` to kubeadm init, for flannel to work?
in general the kubeadm team does not support flannel since it has way too many problems in other areas too...
we recommend other CNIs like Calico. newer Calico versions doesn't to be explicit about the POD CIDR since it has it's own IPAM.

for more questions please use #kubeadm on k8s slack.

/close
/kind suppor

[2021-03-04 15:27] #2400 closed

[2021-03-04 16:01] ingobecker commented on #2400
Thanks for the reply. I supplied a pod cidr using a `ClusterConfiguration`s `podSubnet` set to subnet mentioned. I think using a different CNI won't change the problem. If i don't skip the `addon coredns` phase and defer it until a CNI is in place, the CoreDNS pods will be started with the wrong IP range nonetheless. So is skipping the CoreDNS phase recommended to avoid this?

[2021-03-04 16:17] neolit123 commented on #2400
i don't see this problem in my setup or in the kubeadm e2e tests.

[2021-03-04 17:58] mohak-aws commented on #1477
Did you find any solution?

[2021-03-04 17:59] mohak-aws commented on #1477
what inbound port you allowed?

[2021-03-04 22:41] #1943 closed

[2021-03-05 04:04] Huangsh17 commented on #2166
How to solve it？

[2021-03-07 04:35] #1723 closed

[2021-03-09 09:20] chenhong0129 opened #2401 "kubeadm init failed, scheduler.conf file is not exist"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2021-03-09 13:04] neolit123 commented on #2401
this panic was fixed some time ago.
please try 1.18+ and verify if the same problem happens.

until then i'm going to close this.
thank
/close

[2021-03-09 14:52] neolit123 commented on #2346
i'm going to go ahead and close this after the discussion here.

- once we support the `kubeadm upgrade apply` phases we can break down the upgrade process of doing CP upgrade first and then doing  something like `upgrade apply phase kube-proxy` potentially.
https://github.com/kubernetes/kubeadm/issues/1318
- the operator can handle this better that the step-by-step docs.
https://github.com/kubern

[2021-03-09 14:58] neolit123 commented on #2346
@pacoxu

that is not a bad idea.
are you willing to draft this is a small proposal in a MD / Doc  file so that we can review it?

we need to investigate the corner cases around it and how to detect the apiserver versions.

to me this feels safer:

[2021-03-10 02:43] chenhong0129 commented on #2401
Could you please provide the issueID of this panic? I need to report it to my leader. Thank you very much.

[2021-03-10 02:49] neolit123 commented on #2401
i think this was the fix:
https://github.com/kubernetes/kubernetes/pull/79165
it was added in 1.16.

[2021-03-10 03:13] chenhong0129 commented on #2401
Thanks!

[2021-03-10 05:39] pacoxu commented on #2346
Is this target of 1.22？

Add to my TODO list then. I'd like to write it next week.

[2021-03-10 08:45] tonglin96 opened #2404 "kubeadm join master node failed, how to change cluster-info configmap in kube-public"
## Is this a request for help?
yes

## What keywords did you search in kubeadm issues before filing this one?
kubeadm join
unable to fetch the kubeadm-config ConfigMap
controlPlaneEndpoint

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

`kubeadm version: &version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.6-aliyun.1", GitComm

[2021-03-10 14:22] neolit123 commented on #2346
given we haven't seen actual problems due to the proxy / server skew during upgrade it's not urgent.
you can write your proposal later if you'd like.

ok, i'm going to re-open this and tag with 1.22 milestone.

[2021-03-10 14:34] #2404 closed, assigned to nobody

[2021-03-11 08:30] bluefriday opened #2406 "Join failed with "path is not absolute" for containerd"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.19.6
- **Cloud provider or hardware configuration**: Intel(R) Xeon(R)
- **OS** (e.g. from /etc/os-release): Windows Server 2019 Datacenter (version 1809) (run as a VM)
- **Kernel** (e.g. `uname -a`): OS build

[2021-03-11 08:33] bluefriday commented on #2406
I think this is similar to the docker issue(https://github.com/kubernetes/kubeadm/issues/1079) , but I haven't found the case for containerd.

[2021-03-11 13:31] neolit123 commented on #2406
please try:
[code]

this is already in the kubeadm scripts for Win / k8s:
https://github.com/kubernetes-sigs/sig-windows-tools/blob/afc5781f1ae8a72216013a0ac2192a26353d7278/kubeadm/scripts/Install-Containerd.ps1#L167

[2021-03-12 03:53] vacheli opened #2407 "how to convert --control-plane-endpoint and --upload-certs to kubeadm config format"
kubeadm.k8s.io/v1beta2

kubeadm 1.20.4

how to convert --control-plane-endpoint and --upload-certs to kubeadm config format

[2021-03-12 06:12] bluefriday commented on #2406
@neolit123 It works. Thanks :D

[2021-03-12 11:23] fabriziopandini commented on #2406
/close
Given that the problem seems fixed

[2021-03-12 11:23] #2406 closed

[2021-03-12 11:28] fabriziopandini commented on #2407
@vacheli could you provide more info about your problem?
Also, might be this request should be directed to stack overflow given that it seems more a support request than a product issue/new feature request

[2021-03-12 22:26] medyagh opened #2408 "FR: provide a flag to choose CNI during kubeadm init"
not sure if this should be a kubelet issue or kubeadm, please advice I will move to the right repo,
based on this comment
https://github.com/kubernetes/minikube/issues/10788#issuecomment-797289498

in minikube we noticed that during kubeadm init, kuberentes picks up the first alphabetical CNI that could cause some unexpected issues.

[code]

would it be possible to have a flag to pass to kubeadm i

[2021-03-13 04:29] geotransformer opened #2409 "Is there really a need to restart the control plane components after kubeadm cert renew?"
## What keywords did you search in kubeadm issues before filing this one?
certs renew

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):  v1.20.0
**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.20.0
- **Cloud provider or hardware configuration**: vsphere
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
-

[2021-03-13 16:21] neolit123 commented on #2409
you need to check if all components are now using the new certs.

AFAIK, the automatic reload of certificates from disk for the control-plane components is something that is work in progress, but i can't find the tracking issue.

until we get confirmation that restart is no longer needed, we are going to keep this message and recommend it to users.

/kind support
/close

[2021-03-13 16:21] #2409 closed

[2021-03-13 16:23] neolit123 commented on #2408
@medyagh kubeadm allows the users to configure the kubelet via KubeletConfiguration.
AFAIK the field to control this CNI related behavior is missing there, so that is a kubelet issue.

you can log a ticket for this in k/k and ping me on it, but it's for `/sig node` and `/area kubelet`.

thanks
/close

[2021-03-13 16:23] neolit123 commented on #2408
/sig node

[2021-03-13 16:23] #2408 closed

[2021-03-13 16:37] neolit123 opened #2410 "support kube-proxy as non-root"
this is a tracking issue for supporting kubeadm to deploy a non-root kube-proxy on Linux.
there might be a good idea to log a k/k issue as well.

note, currently this is not possible due what kube-proxy is doing with the host.
we want to limit it to NET_ADMIN, but currently it requires SYS_ADMIN due to some values under /proc, so unless this is hackable in some way it feels like we need a kernel w

[2021-03-13 16:49] neolit123 commented on #2407
this is not-so obvious but if you carefully read this kubeadm API page:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2
(this page is linked in our docs at k8s.io)

you will find that there is a controlPlaneEndpoint field under ClusterConfiguration

and certificateKey under InitConfiguration.

it means you then have to pass:

[code]

to kubeadm init.

[2021-03-13 16:49] #2407 closed

[2021-03-13 17:15] geotransformer commented on #2409
Thanks for the prompt reply. Would you please follow up this issue so that we can get it confirmed? This is a critical issue in production env.

[2021-03-13 17:24] neolit123 commented on #2409
this might take years.

dynamic reload of certificates from disk is added for one flag at a time and there is no parent tracking issue, that i can find...

therefore, you must restart the components.

if you look at our guide for rotating cluster CA, component restart is required after almost every change for a certificate on disk:
https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certifi

[2021-03-14 22:37] geotransformer commented on #2409
Thanks
Also found these two issue relevant
https://github.com/kubernetes/kubernetes/pull/84200
https://github.com/kubernetes/kubernetes/pull/84303

[2021-03-15 09:30] fabriziopandini commented on #2290
/remove-lifecycle stale

[2021-03-15 17:58] alex-vmw commented on #1318
In case anyone needs a workaround for skipping CoreDNS installation during k8s upgrade, here is what has worked for me:
1. Make sure that your non-kubeadm deployed CoreDNS does NOT use a default configmap named `coredns`.
2. Delete the configmap named `coredns` prior to running k8s upgrade.
3. Ignore CoreDNS preflight warnings during k8s upgrade by using `--ignore-preflight-errors=CoreDNSUnsupport

[2021-03-15 20:22] neolit123 commented on #1602
opened PR for the kubeadm docs:
https://github.com/kubernetes/website/pull/27071

[2021-03-15 20:30] neolit123 commented on #1223
we are documenting workarounds here:
https://github.com/kubernetes/website/pull/27071
https://github.com/kubernetes/kubeadm/issues/1602

we can keep this issue open, but due to the complexities of requiring to deploy a signer with kubeadm by default, it's unlikely that we are going to make this change anytime soon.

[2021-03-16 01:39] chymy opened #2411 "Support custom images for k8s components"
Sometimes users want to compile k8s components and build customized k8s component images, push them to a private
 repository. When installing k8s with kubedm, customized k8s image tags need to be specified, so this may be a good feature to support custom images for k8s components.

Sometimes, we also use _Cluster API_ to create k8s cluster.

related to: https://github.com/kubernetes/kubernetes/iss

[2021-03-16 01:41] chymy commented on #2411
/kind feature

[2021-03-16 01:44] chymy commented on #2411
/priority backlog

[2021-03-17 20:23] #2047 closed

[2021-03-18 09:53] fabriziopandini commented on #2411
As per discussion in yesterday's office hours, this could be trickier than expected, because by allowing user to set image tags then we are compromising kubeadm capability to upgrade such images (*)
FYI many companies are solving a similar problem by having images tags equal to kubernetes version, where this could include metadata about the internal build; this has several advantages:
- it allows

[2021-03-18 11:26] robbiemcmichael opened #2413 "generate-csr should support worker nodes"
## Summary
This is a summary of the feature request after some design discussion in the comments below.

External CA mode could be better supported for worker nodes by changing the `generate-csr` command to support the following modes:

[code]

The name for the sub-command could be either `kubelet` or `kubelet.conf`. To me it seems that `kubelet` is more consistent with the existing `kubeadm init

[2021-03-18 18:14] neolit123 commented on #2413
yes, basically kubeadm certificates are managed on the `init` node and that's what certificate / CSR commands are targetting. the UX on joining nodes is oriented towards using a simple configuration / keys / tokens. this is by design and it satisfies the majority of use cases.

note, currently we don't support KubeletConfiguration on `join` but we might be adding it soon.
https://github.com/kubern

[2021-03-18 18:15] neolit123 commented on #2413
cc @fabriziopandini @wallrj

[2021-03-19 01:57] robbiemcmichael commented on #2413
Thanks for the detailed reply @neolit123.

I just gave this a shot and using the flags does seem to resolve the need for a config file. However, I encountered an error because it tries to load the API server certificate which doesn't exist on a worker node:

[code]

Stack trace:

[code]

Quick links to what I think are the relevant lines from the stack trace:

https://github.com/kubernetes/kuberne

[2021-03-19 02:09] neolit123 commented on #2413
it shouldn't happen if you have both the ca.key and ca.crt on the worker.
then again...having the ca.key on worker nodes even if temporarily may be a bad idea depending of how they are provisioned.

you could instead create the kubelet.conf for workers on a trusted node (e.g. the one that does "init") and not move the ca.key to workers.

[2021-03-19 03:38] robbiemcmichael commented on #2413
We're using external CA mode so `ca.key` isn't present on the control plane nodes either.

Are you open to changes that would allow `kubeadm init phase kubeconfig kubelet --control-plane-endpoint=%s` to be executed on a worker node as long as it doesn't remove any of the validations for control plane nodes?

[2021-03-19 04:09] neolit123 commented on #2413
the kubeadm binary can be executed on out-of-cluster machines where the CA key is present and the kubelet.conf files for different nodes to join can be prepared there.

signing a client certificate and key (e.g. like those present in the kubelet.conf) requires a CA key, so even if we remove the validation when this command is run on worker nodes, there is no private key to sign the client pair.

-

[2021-03-19 04:38] robbiemcmichael commented on #2413
We're using the PKI engine in Vault which [doesn't allow the private key to be exported](https://www.vaultproject.io/docs/secrets/pki#be-careful-with-root-cas) (except at generation, but we intentionally don't export it at that point for security reasons) so unfortunately we can't do this either.

Our nodes have the ability to issue client certificates for their own identity, so we can get a clien

[2021-03-19 13:55] neolit123 commented on #2413
understood, there are a number of ways to keep the CA not present on the nodes.

that is true. it is an internal phase used for setuping the primary node kubelet only if the CA cert/key are present on the node.
if the CA is not present there, the user must sign the client cert/key for a kubelet.conf using an external process.

going back to the CSR idea seems better. generating just the CSR for th

[2021-03-19 15:15] raesene opened #2414 "Feature Reqest: Don't bind the admin.conf user to system:masters"
At the moment, when a new Kubeadm cluster is created, the default credential that is provided for cluster operators to use has a subject group of `system:masters`. e.g.

[code]

This is a special group for which `cluster-admin` rights are hardcoded into the Kubernetes API server source code (https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/rbac/escalation_check.go#L38).

As a resu

[2021-03-19 15:26] neolit123 commented on #2414
the admin.conf is like a root password...it must not be shared.
given i've seen a few cases where users share the file, i'm going to create a PR to make this very clear in https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/.

it makes perfect sense for a deployer on cluster creation to sign break-glass credentials and that is what the admin.conf is.

shari

[2021-03-19 15:29] raesene commented on #2414
With the lifetime on the certificate being a year, it seems likely that in many cases users who had valid access to the credential when the cluster was created, may no longer need access during that period.

I'd agree that admin.conf should be a break-glass credential, but it may benefit cluster operators to provide a mechanism for that credential to be revoked, given its lifetime.

[2021-03-19 15:31] neolit123 commented on #2414
you can also rotate the cluster CA, which will invalidate the system:master credentials.
https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/

that is a kubernetes problem, since revocation is not supported in core.
https://github.com/kubernetes/kubernetes/issues/18982

something that we can improve with respect to kubeadm admin credentials is to sign two files:
- admin.conf: d

[2021-03-19 15:32] neolit123 commented on #2414
/assign
assigning myself to make it very clear what admin.conf is in https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

[2021-03-19 15:50] neolit123 commented on #2414
@raesene please add LGTM to this PR:
https://github.com/kubernetes/website/pull/27141

[2021-03-20 15:56] robbiemcmichael commented on #2413
Thanks for all the advice @neolit123. Since this feature request would require a breaking change to the `generate-csr` command, I think it might be best to park this until there are enough people asking for the feature to justify the breaking change. I'll continue with my workaround for the time being.

[2021-03-20 16:22] velcrine opened #2415 "Add global CA_BUNDLE to a cluster"
Kind: FEATURE REQUEST

This is a feature in OpenShift: https://docs.openshift.com/container-platform/4.3/networking/configuring-a-custom-pki.html#configuring-a-custom-pki
It gives functionality to add cluster-wide trust bundle

I am using admissionControllers, which are restricted to only allow TLS.
In case of providing the "request endpoint", for kubernetes service resource there is a field to pr

[2021-03-20 18:21] neolit123 commented on #2415
Hi. This is not a kubeadm feature request. If you want to add a CA bundle
to admission controllers / webhooks this is not something kubeadm can do
for you.

For questions on how to set this up properly try asking in #sig-auth on k8s
slack.

/close
/kind support

[2021-03-21 02:46] velcrine commented on #2415
@neolit123 this is not about admission controller, but admission controller is just an application of it. I want to add CA_bundle globally in kuberntes. Kubernetes must be using a list of Known CAs. I want to add my CA's root certificate to that as we can do in operating systems.
Pls reopen.

[2021-03-21 02:46] velcrine commented on #2415
/reopen

[2021-03-21 02:55] neolit123 commented on #2415
again, this is not a kubeadm issue. if something is missing in core kubernetes, log a ticket in the kubernetes/kubernetes repository and/or ask in #sig-auth.

kubeadm allows you to configure the core k8s components.

the kube-apiserver and kube-controller manager mount and use the following folders:
/usr/local/share/ca-certificates
/etc/ssl/certs
/etc/ca-certificates

/sig auth

[2021-03-21 02:55] #2415 closed

[2021-03-21 02:57] velcrine commented on #2415
Thanks neolit123 for this information

[2021-03-21 03:02] velcrine commented on #2415
so If I add a ca.pem in /etc/ssl/certs . Would it be honoured and accepted by kubernetes too?

[2021-03-21 10:58] mlkmhd commented on #1704
none of the above solutions didn't worked for me.
I found out that my server does not have default route!

[code]

so I added the default gateway by the following command:
[code]

right now the `iptables` works fine

[2021-03-21 13:36] SataQiu commented on #2410
/cc

[2021-03-22 16:32] raesene commented on #2414
done :)

[2021-03-22 19:27] geotransformer commented on #2409
Seems no need to to restart etcd
Found this in security guide
https://etcd.io/docs/v3.4.0/op-guide/security/

Notes for TLS authentication
Since v3.2.0, TLS certificates get reloaded on every client connection. This is useful when replacing expiry certs without stopping etcd servers; it can be done by overwriting old certs with new ones. Refreshing certs for every connection should not have too mu

[2021-03-24 11:35] chrisliu1995 commented on #1438
too few information

[2021-03-24 13:52] neolit123 commented on #1438
try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if a client cannot write information to a Node object (such as the CRI socket information) due to timeout, then something is not OK with the api-server in the cluster.

[2021-03-25 10:06] mrksngl opened #2418 "kubeadm join uses wrong ip"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.20

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.20
- **Cloud provider or hardware configuration**: VirtualBox provided by vagrant with image ubuntu/bionic64 (virtualbox, 20210319.0.0)
- **OS** (e.g. from /etc/os-release): 18.04.5 LTS (Bionic Beaver)
- *

[2021-03-25 15:37] neolit123 commented on #2418
hi, trying to figure out what may be the cause for this i noticed:
[code]

sadly, the sigs.k8s.io/yaml library that kubeadm and a number of other k8s components use has a bug (or a lack of a feature) where it ignores case sensitivity of fields even if string unmarshaling mode is enabled (kubeadm has warnings, not errors in strict mode).

https://github.com/kubernetes-sigs/yaml/issues/15

the corre

[2021-03-25 16:41] neolit123 opened #2419 "windows: absolute paths do not work properly in config files"
on Windows there is a problem with the go standard library where the filepath.Abs() function
https://golang.org/pkg/path/filepath/#IsAbs

would return false for a path `/foo/bar`. this is by-design and is in a way correct, since absolute paths on Windows would normally need a drive letter - e.g. `c:/foo/bar`. (note: \ vs / are interchangeable)
yet, a path without a drive letter can still be consid

[2021-03-25 16:43] neolit123 commented on #2419
/area windows
/priority important-longterm

[2021-03-25 17:15] neolit123 opened #2420 "kinder: switch to a newer CNI"
we pinned the Calico (CNI) version to avoid downloading the latest version.
our old version of calico is using deprecated APIs (i think it was CRD v1beta1 and it will be removed in 1.22), so we should switch to the latest.

the latest Calico install includes an operator and have two manifests:
[code]
https://docs.projectcalico.org/getting-started/kubernetes/quickstart

the last time i checked this

[2021-03-25 17:16] mrksngl commented on #2418
Ah ok, thanks, I didn't know it was case sensitve.
I actually used the links you posted as a reference, but since each key in the yaml file begins lowercase (whereas they don't in the go structs) I somehow assumed it was case insensitive all the way.

Now that actually kind-of did the trick:
 - certificates are created as they should
 - all files point to the internal ip address

The only thing le

[2021-03-25 17:30] neolit123 commented on #2418
glad it worked.

Instead, it comes up with manifest which is pretty much the same as on my first machine, i.e. it even tries to listen on the address of that machine. I changed the manifest by hand, waiting for etcd to come up, then everything worked so far.

clusterconfiguration is cluster wide. joinconfiguration does not support modifying the local etcd member flags, but if you'd like to see tha

[2021-03-25 17:30] #2418 closed

[2021-03-25 22:23] mrksngl commented on #2418
Works with a patch, thanks for the hint.

I'm even a bit grateful it didn't work out of the box (for me), because it forced me to go through a lot of painful lessons ;)

[2021-03-25 22:31] neolit123 commented on #2418
kubeadm can do a lot in the expense of not being a turn-key solution.
as far as the YAML bug goes, that's just bad, but it requires breaking changes to a lot of consumers of that library so there are trade offs.

[2021-03-26 07:16] xlgao-zju commented on #1412
@neolit123 if the docker-shim is remove by kubelet, how will we handle the upgrade of control-plane which is using docker as runtime?

[2021-03-26 12:38] neolit123 commented on #1412
The plan is for dockershim to be a separete binary downloaded from a third
party location. It would become the responsibility of the cluster admin to
install / configure / upgrade it.

[2021-03-26 12:53] dims commented on #1412
please see https://github.com/Mirantis/cri-dockerd

[2021-03-26 13:42] fabriziopandini commented on #2420
Why not switching to kindness? we are using it in CAPD now https://github.com/kubernetes-sigs/cluster-api/blob/master/test/e2e/data/cni/kindnet/kindnet.yaml

[2021-03-26 13:58] neolit123 commented on #2420
I have not tried it. Is it production ready?

One downside is that it is not something that users commonly use in
production. So i cannot tell them 'Try kindnet. We know it works in our CI'.

[2021-03-26 15:19] neolit123 commented on #2420
got Calico working, but only with ClusterConfiguration->networking->podSubnet: 192.168.0.0/16
Calico at one point supported custom CIDR allocation and this was not needed...

i'm realizing that CNI plugins have become *huge* and slow to start due to their operators and other bits:
[code]

[code]

so it it feels like prepull in the nodeimage must be done here...

then again, we don't really need th

[2021-03-26 21:42] aojea commented on #2420
the good thing of kubernetes is that CNI must just work, so it is relatively safe to use the one that you wants
The image that you show is from my own repo,  you should use the one from kind
https://github.com/kubernetes-sigs/kind/blob/bcfa8dedde8fc0b9608fefb14cce40ae3c057c88/pkg/build/nodeimage/const_cni.go#L23

[2021-03-27 02:59] anguslees commented on #2305
Right.  I don't think it's relevant _how_ it fails, or what I can do to make it succeed.  The point of this bug report is that it shouldn't happen at all.

[2021-03-27 03:18] anguslees commented on #2305
Oh, and since I just need to try again.  kubeadm 1.19.9 fails with:
[code]

[2021-03-27 03:26] anguslees commented on #2305
Fwiw, tried the same `join` command with kubeadm v1.20.5.  Same output (and error).  Afaics, I need to continue using kubeadm 1.12 :/

[2021-03-27 03:29] neolit123 commented on #2305
"kubelet-config-1.0" is a very oddly versioned.
the name of this CM should be "kubelet-config-1.19" for a 1.19 cluster.

but while kube-proxy access for the bootstrap token is not needed, access to the kubelet config CM is mandatory.

[2021-03-27 03:34] anguslees commented on #2305
Oh interesting.  It's highly likely that my `kube-system.kubeadm-config` is ancient, since I don't use kubeadm to manage cluster upgrades.

`kubectl get cm kubeadm-config` output:
[code]

Oh.  I don't use kubelet configs at all, and don't have any such configmaps :(

[2021-03-27 03:38] neolit123 commented on #2305
this is breaking some kubeadm assumptions, so join and other operations will fail.

you can create a test kubeadm clusters with a newer version to see what config-maps are written and migrate this old cluster somehow.

joining worker and control-plane download a kubelet configuration from the cluster.

[2021-03-27 03:39] anguslees commented on #2305
Ack.  So it's possible this bug is really a feature request for a "just join" subcommand.

[2021-03-27 23:50] HankTheCrank opened #2423 "kubeadm init errors out kubeadm/app/phases/addons/dns/dns.go"
## Is this a request for help?

Not sure.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f", GitTreeState:"clean", BuildDate:"2021-03-18T01:08:27Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/am

[2021-03-28 00:24] neolit123 commented on #2423
hi,

this is the output of the `kubeadm upgrade apply` command, not `kubeadm init`.

`kubeadm init` for a kubeadm binary that is 1.20 would install coredns 1.7.0 as can be seen here:
https://github.com/kubernetes/kubernetes/blob/release-1.20/cmd/kubeadm/app/constants/constants.go#L353

docker pull coredns/coredns:1.8.3
and reran the init (after a reset), and it worked!

downloading the coredns con

[2021-03-28 00:29] neolit123 commented on #2423
i think something else is going on in your setup.
there is no code in kubeadm 1.20 to download coredns 1.8.3.

[2021-03-28 12:39] SataQiu commented on #2420
/cc

[2021-03-29 04:02] pacoxu commented on #2423
https://github.com/kubernetes/kubernetes/blob/v1.20.5/cmd/kubeadm/app/phases/addons/dns/dns.go#L385-L388

If user upgrades dns to v1.8.0 before `kubeadm upgrade`, they may encounter this problem.
It is fixed in 97919, should we back port it to 1.20 ?

[2021-03-29 08:30] pacoxu commented on #2362
Forget to handle this one in 1.21 😅

[2021-03-29 10:11] fabriziopandini commented on #2420
A possible middle ground is to use kindnet for the majority of our tests (where the focus is on other things), and eventually add dedicated tests validating kubeadm working with CNI providers.
However, this makes really sense if we get help for the CNI maintainers in keeping those tests up to date...

[2021-03-29 10:18] aojea commented on #2420
most CNI plugins use KIND in their CIs, that is indirectly validating kubeadm and the CNI ... I can't provide you an official list but ovn-kubernetes, anthrea, calico, ... use KIND

[2021-03-29 13:10] neolit123 commented on #2423
from my understanding, the user manually setting coredns to v1.8.0 in an old cluster, then running kubeadm upgrade that cannot use v1.8.0 as the base coredns version will fail.

the reason for that is that the coredns migration library for 1.20 would not recognize 1.8.x as the base version - therefore cannot migrate it.

not sure if this is the same as the `v` problem.
waiting for response from th

[2021-03-29 19:56] fabriziopandini commented on #2420
Thanks @aojea !
It makes really sense to me if CNI projects are maintaining their own validation against kind/kubeadm

[2021-03-30 03:37] BenTheElder commented on #2420
AIUI cillium does some testing on kind as well.

I think the major kindnetd limitations currently are:
- still requires basic CNI binaries (lo, portmap, ptp, ...) to be preinstalled on the node (most other CNI manifests copy this in from the image, we don't currently since we control the node as well)
- requires patching to pass CIDRs (more reliable than trying to detect from the cluster ...) exce

[2021-03-30 03:48] BenTheElder commented on #2420
FWIW kindnetd is aiming to be the simplest workable CNI option. It's very similar to what kube-up and pre-cillium GKE configure on the CNI json side, but the daemonset bundles in IP masquerade and does the node to node pod routes with netlink instead of programming a cloud network or similar.

It would probably be relatively fine on a real small cluster with equal cost node to node links (like pre

[2021-03-31 04:03] RA489 commented on #2362
@pacoxu not needed in this cycle since 1.16 support was already removed previously

[2021-03-31 13:32] neolit123 opened #2426 "migrate users away from CRI socket paths that don't have URL scheme"
summary of the problem:
- the kubeadm default socket paths on Linux don't have the unix:// prefix.
- kubeadm socket detection checks files on disk and does not dial a socket and does not prepend unix://
- the kubelet has long deprecated paths without unix:// and it might stop supporting them in the future

what we should do:
- we should tell the user that paths without unix:// are deprecated and w

[2021-04-01 00:00] neolit123 opened #2427 "api: output/v1alpha1 depends on kubeadm/v1beta2"
preparing some of the changes for v1beta3, i realized that we have a problematic dependency that have slipped trough review:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/output/v1alpha1/types.go#L32

context: kubeadm has two API groups ATM - output (for machine readable output) and kubeadm (for the kubeadm config API).

embedding of a WIP API in another WIP API is alwa

[2021-04-01 00:14] kris-nova commented on #312
Adding some context here for our archlinux friends 😸 and to help with search

if you see this error with `kubeadm init` or in my case while installing without `kube-proxy` for cilium

[code]
and you are hitting the following netfilter bridge error:

[code]

i was able to check in the `br_netfilter` kernel module was loaded on my system (provided by `iptables-nft` in arch) using

[code]

and then f

[2021-04-01 00:15] neolit123 opened #2428 "kinder: update to support v1beta3 and remove v1beta1"
with the addition of kubeadm/v1beta3 and removal of v1beta1 we should update kinder to test v1beta3 by default.
https://github.com/kubernetes/kubeadm/search?q=v1beta1

we might also want to action on:
https://github.com/kubernetes/kubeadm/issues/2249
and add one extra job to test kinder with v1beta2 and "regular" cluster creation.

proposal:
- drop v1beta1
- enable v1beta3 by default
- pass the [n

[2021-04-01 02:55] pacoxu commented on #2426
kubernetes/kubernetes#100578 is not handling the `upgrade` case.

[2021-04-01 13:09] neolit123 opened #2430 "kinder: write a tool to automate e2e test updates"
as part of kubeadm's housekeeping we update our e2e test workflows every release manually.

example PRs:
https://github.com/kubernetes/kubeadm/pull/2412
https://github.com/kubernetes/test-infra/pull/21390

with the increased number of jobs to update and some of the skew jobs being tricky (e.g. kubelet skew), we should write a small tool that automates the process.

## ideas for the tool
- host the

[2021-04-01 15:29] neolit123 commented on #2413
let's close this and create a new issue with exact details if users request this breaking change in the future:

[2021-04-01 15:29] #2413 closed

[2021-04-01 15:33] neolit123 commented on #2360
@robbiemcmichael given https://github.com/kubernetes/kubernetes/pull/97266 merged, please break down the exact details of what else do you want changed in a new issue and cross-reference to this discussion.

[2021-04-01 15:33] #2360 closed

[2021-04-02 13:30] hasheddan commented on #1599
@neolit123 is this issue being wrapped up blocked by the move to k/kubeadm? If so, should we re-scope or consider it resolved for the time-being?

[2021-04-02 13:52] neolit123 commented on #1599
the kubeadm/kinder jobs can flake due to resource limits, which has prevented us to promoting them to release blocking.

if SIG testing give their approval for moving the current "kinder" release informing jobs to the a designated cluster with guaranteed resources.
cc @spiffxp @BenTheElder
(also please specify what `cluster: ...` value we should set?)

then perhaps SIG release would agree to gradu

[2021-04-03 18:25] dseomn opened #2432 "Add a validity period or expiration flag to `kubeadm alpha kubeconfig user`"
## What keywords did you search in kubeadm issues before filing this one?

* kubeconfig expiration
* kubeconfig expire
* kubeconfig lifetime

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Would it be possible to get a new flag to `kubeadm alpha kubeconfig user` to specify the expiration date (ideally as an offset from the current time) for the new client certificate? I'd like to be

[2021-04-03 18:51] neolit123 commented on #2432
note the command is moving / graduating to `kubeadm kubeconfig user` in 1.21 and will be removed from `alpha` in 1.22.

we have seen this request a few times in the past and it has rejected due to the potential of allowing users to sign credentials for very long periods of time.

but i can see the use case of producing short lived credentials using the `user` command.
i think a good compromise wou

[2021-04-04 15:44] neolit123 commented on #1949
/remove-lifecycle stale

[2021-04-05 20:24] chittu11 opened #2433 "Needs to renew cluster K8 certificates for multiple years"
I need to renew Kubernetes certs in our environment. Now I want to renew the certs for multiple year instead default one year. Can someone point me how can I achieve it?

I renewed certs to 1 year by using the below command. is there anyway I can include the expiry time in this command?

`#kubeadm alpha certs renew all `

We are using 1.18.1 version

[code]

Thank you
CS

[2021-04-05 20:32] neolit123 commented on #2433
hi, the 1 year expiration is hardcoded in kubeadm intentionally.
cluster certificates with expiration more than 1 year are insecure and it is not likely that this will change anytime soon.

kubeadm allows you to pass external CA and certificates which can be for any period.
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#external-ca-mode

alternatively you can create a C

[2021-04-05 20:32] #2433 closed

[2021-04-06 15:17] xmudrii commented on #1599
/priority awaiting-more-evidence

[2021-04-06 15:18] xmudrii commented on #1599
As discussed at the SIG Release meeting today (4/6), there's still some work needed to define the criteria and policy for promoting jobs to the release-blocking.

[2021-04-06 23:38] neolit123 commented on #2362
created a tool for automating the e2e test setup.
this can be reviewed and potentially merge for 1.22:
https://github.com/kubernetes/kubeadm/pull/2434

[2021-04-06 23:58] neolit123 commented on #2430
PR is here:
https://github.com/kubernetes/kubeadm/pull/2434

the CLI ended up slightly different than planned, but the main config / template idea is the same.

[2021-04-07 13:49] neolit123 opened #2435 "inconsistent usage for --experimental-patches in join phases"
as discovered in https://github.com/kubernetes/kubernetes/issues/100869

the `--experimental-patches` flag can be used with:
`kubeadm join phase control-plane-prepare all`

but not with:
`kubeadm join phase control-plane-join all`
it can only be passed explicitly to the sub-phase `etcd` like so:
`kubeadm join phase control-plane-join etcd --experimental-patches`

ref list of phases for join:
https

[2021-04-07 19:50] rex commented on #578
For any future adventurers, I **strongly suggest** you start with this step. Restarting `kubelet` is a non-destructive operation that has proven (in my experience, YMMV) to resolve many an odd issue. I also **strongly suggest** you not delete any network configuration files unless you know what you're doing, as you might inadvertently cause potentially larger and even stranger issues.

When in dou

[2021-04-07 22:12] avoidik opened #2436 "Unable to start kubeadm - GracefulNodeShutdown is not a valid feature name"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

Getting `GracefulNodeShutdown is not a valid feature name` error

[code]

[code]

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): `v1.20.5`
- **Cloud provider or hardware configuration**: `virtualbox`
- **OS** (e.g. from /etc/os-release): `ubunt

[2021-04-07 23:56] neolit123 commented on #2436
hi, kubeadm feature gates are unique for kubeadm and can be seen under the `--feature-gates` flag.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
(there are only 2 right now)

these are not the same as k8s feature gates...

to configure feature gates for control-plane components you can pass them as flags:
https://kubernetes.io/docs/setup/production-environment/tools/kubead

[2021-04-07 23:57] #2436 closed

[2021-04-08 06:03] SataQiu commented on #2432
/assign

[2021-04-08 11:45] challapradyumna opened #2437 "kubeadm upgrade apply fails"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.17.17 / 1.17.9

**Environment**:
- **Kubernetes version** (use `kubectl version`):1.17.9
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
Upgrading from 1.17.9 to 1.17.17 . There is an already existing kube-dns serv

[2021-04-08 14:07] lisenet commented on #581
@pmcgrath thanks a bunch for your comment, I used the instructions to update certificates on my Kubernetes 1.13 cluster.

[2021-04-08 15:15] neolit123 commented on #2437
1.17 is no longer in support.
you might have patch kubeadm locally and use a modified binary to be able to upgrade.

this is not possible currently in kubeadm. we want to be able to support phases for `kubeadm upgrade apply` which will allow --skip-phases.

i don't understand this option. are you suggesting that upgrade should be skipped if the user already did it manually?

in newer versions of k

[2021-04-09 08:10] atline commented on #122
So, is it possible?

[2021-04-09 10:12] APoniatowski commented on #1712
I can confirm this

I created a cluster on centos 8 stream (fully updated as of today, including k8s) and when I added slave/worker nodes... they were added instantly/quickly. But adding another master (via load balancer):

[code]

this took anywhere between an hour or 2 (started it at 5pm CET and checked back at 9PM CET and saw it was fine/up and running)

So when adding another control-plane/mas

[2021-04-09 19:02] challapradyumna commented on #2437
Yes, if there service already exists with a version of Compatible CoreDNS. Update could be skipped.

A possible solution that I've arrived at for upgrading production clusters with 0 downtime (Little long but works) :

* Create a new service with a different name and with ClusterIP address other than `10.9.0.10`
* Update the ClusterIP for the above-created service into kubelet-1.x ConfigMap in kub

[2021-04-10 03:47] neolit123 commented on #2437
hi, your solution does seems like something that would work.

you can also try this, which is simpler:

^ i'm going to close this ticket given we are already planning to support skipping upgrade via phases.
https://github.com/kubernetes/kubeadm/issues/1318

this effort is unstaffed ATM, though - i.e. help is wanted.

[2021-04-10 03:47] #2437 closed

[2021-04-10 04:34] rajansandeep commented on #2437
@neolit123 if there is no one taking on this effort, I can help in completing the task.

[2021-04-10 20:50] neolit123 commented on #2437
@rajansandeep sure! note that it requires some refactoring before it can be done.
https://github.com/kubernetes/kubeadm/issues/1318 has the details.

[2021-04-11 03:07] HankTheCrank commented on #2423
Sorry for the delay, got busy.

This is an init for an HA install with and external ETCD on a freshly installed bare metal Centos 7. Not an upgrade.

When the error occurs there is an API call. One interesting point is:

\"containers\":[{
\"args\":[\"-conf\",\"/etc/coredns/Corefile\"],\"image\":\"coredns/coredns:1.8.3\",\"imagePullPolicy\":\"IfNotPresent\"

The full text:

I0410 22:44:26.253319

[2021-04-11 03:31] neolit123 commented on #2423
+

kubeadm 1.20.x does not support 1.8.3.

what is your configuration file that you pass to `kubeadm init`?

[2021-04-11 03:34] neolit123 commented on #2423
looking at your logs seems to be the case..
you should not be setting coredns 1.8.x with this older version of kubeadm.

if you strictly want coredns 1.8.3, use kubeadm 1.21.

[2021-04-11 03:34] #2423 closed

[2021-04-11 03:55] HankTheCrank commented on #2423
kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:30:03Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}

kubeadm init --config /kubernetes/01.kubeadm-config.yaml --upload-certs --v=10

apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfigur

[2021-04-11 04:16] neolit123 commented on #2423
we are not seeing problems with coredns 1.8.3 and kubeadm 1.21 in our CI.

are you seeing this same replicaset problem with kubeadm 1.21?
if yes, try:
[code]

and try to understand more about your problem.

[2021-04-11 04:42] HankTheCrank commented on #2423
okay, that's interesting. When the init had the error I thought there was no master node install done. After trying your suggested command, I looked at the running config and I see pods that were not installed as part of this install. What I think is happening is the installation is getting config information from the etcd. The external etcd is one that I am reusing from a previous cluster install

[2021-04-11 05:03] HankTheCrank commented on #2423
Flushing the data out of the etcd solved it. I manually deleted everything using kubectl to clear out etcd.

Thanks again!

[2021-04-11 18:39] neolit123 commented on #2207
/remove-lifecycle stale

[2021-04-11 18:39] neolit123 commented on #2207
/remove-lifecycle stale

[2021-04-12 03:31] #2420 closed

[2021-04-12 18:57] JukkaKeisala opened #2438 "kubeadm kubeconfig user raises error for 1.20 and higher"
## Is this a request for help?

Yes,

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**: v1.21.0 and v1.20.0

**Environment**:
- **Kubernetes version**: Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:31:21Z", GoVersion:"go1.16.1", C

[2021-04-12 19:41] neolit123 commented on #2438
for --config you should be passing kubeadm configuration:

i think the minimal config that works is:
[code]

you might want to set `controlPlaneEndpoint` and `clusterName` in there:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

/kind support

[2021-04-12 19:41] #2438 closed

[2021-04-12 20:07] JukkaKeisala commented on #2438
Thanks, didn't really understand what was a kubeadm config file but of course that can be exported from configmap.

[2021-04-12 20:23] neolit123 commented on #2376
added a new item for 1.22 to pin the cgroup drivers in kinder to "systemd", see this in the OP:

[2021-04-12 23:37] neolit123 opened #2440 "1.22: housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.
**It tracks the upcoming release of Kubernetes 1.22 (1.x)**

Note: make sure you reference this issue in PRs.

same issue for 1.21 (see example PRs):
https://github.com/kubernetes/kubeadm/issues/2362

_When the last 1.x-4 patch version is released_
- [x] [@CaoDonghui123] Drop kinder support for 1.x-4 and older

[2021-04-12 23:37] neolit123 commented on #2362
1.22 issue is here:
https://github.com/kubernetes/kubeadm/issues/2440

[2021-04-12 23:37] #2362 closed

[2021-04-13 06:40] #2432 closed

[2021-04-13 10:16] RA489 commented on #2440
/assign

[2021-04-13 18:47] neolit123 opened #2441 "kinder build at CI is failing"
[code]

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-1-20-on-1-19/1381494534843666432/build-log.txt

all non-1.21 kinder jobs are broken:
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm

[2021-04-13 18:52] neolit123 commented on #2441
@SataQiu this is a < go 1.16 problem

https://github.com/kubernetes/kubeadm/pull/2424
https://github.com/kubernetes/kubeadm/blob/master/kinder/pkg/cluster/manager/actions/kubeadm-init.go#L21

we cannot use go:embed, because for the older kinder jobs the go version is older too.
so we have to embed the kindnet manifest in source code for the time being.

[2021-04-13 19:02] fabriziopandini commented on #2441
should we update the go version/the image used istead? AFAIK I'm remembering we are only building kinder and we are always using kinder from master...

[2021-04-13 19:06] neolit123 commented on #2441
kubekins is versioned and the go version is older than 1.16 on kubekins versions < 1.21.
fix PR is here https://github.com/kubernetes/kubeadm/pull/2442

[2021-04-13 21:55] #2441 closed

[2021-04-14 09:53] niulechuan commented on #2440
/assign
I will take ` [TODO] Bump minimum supported versions and add etcd version for 1.x and placeholder for 1.x+1`

[2021-04-14 15:15] NeilW opened #2443 "Spurious kubelet warning on upgrade from 1.20 to 1.21"
## Versions

**kubeadm version** (use `kubeadm version`):
ubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:30:03Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
$ kubectl version
Client Ver

[2021-04-14 15:28] neolit123 commented on #2443
this is a bug due to the reasons you outlined, but fixing it might be a bit difficult given how the kubeadm component configs are propagated in the code base. to clarify, the logic where the warning happens is not aware whether the user fed a kubelet config or a kubelet config was created based on defaults.

also in 1.22 we have plans to remove this warning:
https://github.com/kubernetes/kubeadm/i

[2021-04-14 17:33] neolit123 opened #2444 "kubeadm-kinder-no-addons-latest is failing"
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-no-addons-latest

the test does the following trying to ensure that join and upgrade work without addons:
- calls init
- deletes the kube-proxy and coredns configmaps
- calls join
- checks if the joining node is ready

at this point the test fails, since something changed in the kubelet and the kube-proxy pod on that nod

[2021-04-15 02:36] CaoDonghui123 commented on #2440
/assign
I will work for [TODO] Cleanup E2E jobs for 1.x-4

[2021-04-15 03:19] neolit123 commented on #2440
@CaoDonghui123

please hold on this work until https://github.com/kubernetes/kubeadm/pull/2434 is merged.
it adds a tool to help with the test jobs updates.

[2021-04-15 03:32] CaoDonghui123 commented on #2440
All right. I notice that update-workflow.sh does not exist.
I will check it.

[2021-04-15 10:59] pacoxu commented on #2039
Update the comment links.
/assign kofClubs

[2021-04-15 14:23] dmitry-irtegov opened #2449 "kubeadm fails preflight check with customized /etc/containerd/config.toml"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:30:03Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version** (use `kubectl version`): Bug hits befo

[2021-04-15 16:05] wangyysde commented on #2449
@dmitry-irtegov Maybe you should disable firewall,enable kubelet service and disalbe selinux.

[2021-04-15 17:12] neolit123 commented on #2449
for containerd kubeadm runs this check
[code]
and if the command fails kubeadm will show whatever the command error output is.
you should debug why this fails.

crictl is automatically installed for you if you use deb/rpms and you must install it manually if you are not using packages.

it is outside of the scope of kubeadm to setup the container runtime for the user.
you must do this following th

[2021-04-15 17:12] #2449 closed

[2021-04-15 17:14] neolit123 commented on #2449
i suspect that containerd is simply not happy with this import.
you can try instead adding the cgroup driver change inside the main config.toml.

[2021-04-15 17:24] neolit123 commented on #2444
this is fixed https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-no-addons-latest

[2021-04-15 17:24] #2444 closed

[2021-04-15 18:37] dmitry-irtegov commented on #2449
[code]
Similar error occurs with other commands, like stats, pull...

It seems to really be a containerd configuration issue.  I've found this in containerd logs:

`апр 15 09:47:24 osboxes.org containerd[15482]: time="2021-04-15T09:47:24.760703175-04:00" level=warning msg="failed to load plugin io.containerd.grpc.v1.cri" error="invalid plugin config: `systemd_cgroup` only works for runtime io.cont

[2021-04-15 18:56] dmitry-irtegov commented on #2449
The output of systemd_cgroup parameter in 1.3+ is a known bug in containerd, see https://github.com/containerd/containerd/issues/4574

The snippet in https://github.com/containerd/containerd/issues/4203#issuecomment-651532765 at least allows cri plugin to start.  However I've yet to test if cgroups are working properly.

[2021-04-16 10:22] #2435 closed

[2021-04-16 22:59] jackfrancis opened #2450 "kubeadm join on control plane node failing: timeout waiting for etcd"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f", GitTreeState:"clean", BuildDate:"2021-03-18T01:08:27Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}

**Environment**: