[2019-10-15 00:14] dlipovetsky commented on #1829
Thanks for looking at this issue! I hope you aren't objecting to making it easy to get the actual configuration; I think it's a lot easier for kubeadm to generate it than it is for the user to query multiple sources.

[2019-10-15 03:08] Davidrjx commented on #1251
@neolit123

no matched doc found

[2019-10-15 03:22] neolit123 commented on #1251
the docs for v1alpha3 were removed.
you can try v1beta1 which is very close to v1beta3:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1#JoinConfiguration

[2019-10-15 21:14] neolit123 opened #1835 "annotate the kube-system namespace to allow kubeadm managed static Pod labels"
update for the 1.23 cycle:
https://github.com/kubernetes/enhancements/issues/1314#issuecomment-902256245
looks like the design is going in a different direction. i have closed the PR to change kubeadm that follows it, but we should keep this issue open until a KEP update follows related to https://github.com/kubernetes/enhancements/issues/1314

--------

annotate the kube-system namespace to allow

[2019-10-15 21:16] neolit123 commented on #1835
it's not a high priority for this cycle, but i have a WIP PR for this.
one decision we have to make is in which "kubeadm init" phase we want this annotation to happen.
my vote is the "control-plane" phase.

[2019-10-16 09:10] madhu964 commented on #574
I am trying to execute kubeadm join master-ip:6443 command on the new worker node I want to join to the existing kubernetes cluster

But there is no connectivity between the master and new worker node I am trying join.

I want to know on which source and destination ports I need to raise the fireflow connectivity.

Is it from source: master-Ip:6443 to destination: workernode-Ip:6443

Do i need to

[2019-10-16 16:21] ereslibre commented on #1835
/cc

[2019-10-16 17:49] neolit123 commented on #1753
we reverted the PR that merged for this:
https://github.com/kubernetes/kubernetes/pull/84012
i will send a new PR when i have the time.

[2019-10-16 19:29] AlexMorreale commented on #1264
@matthewygf same. I'm running with an HA etcd setup for kubeadm. first master comes up fine but as i add masters, my node networking pods (calico-node) dont come up and the kube-proxy starts spitting out the cant list endpoints. I feel like i am missing some configuration somewhere.

[2019-10-16 20:33] matthewygf commented on #1264
@AlexMorreale we ended up bouncing the coredns pods to another node and it worked.
one other thing we changed, not sure whether it made an impact was, we found out our apiserver pod was on hostNetwork, but dnsConfig was not *ClusterFirstWithHostNet*.

[2019-10-16 20:35] mobby1984 commented on #1359
@de1m Were you able to ever fix or address this issue? Apparently, I ran into the same issue not too long ago.

[2019-10-16 22:14] AlexMorreale commented on #1264
@matthewygf thanks for pinging me back. ill try some of that stuff. i think have a lead otherwise but that is very helpful. Thanks!!!!!

[2019-10-17 04:07] SataQiu commented on #1835
/cc

[2019-10-17 09:16] jfbai commented on #1753
@neolit123 May I take this task?

[2019-10-17 10:19] #1822 closed

[2019-10-17 11:46] neolit123 commented on #1753
@jfbai this one is tricky and needs a lot of discussion.
please take a look at some of your help-wanted tickets.

[2019-10-17 12:08] VineethaRachamallu opened #1839 "[Kubeadm][Weave]DNS resolution inside pods failing"
**Environment**:
Kubernetes version - 1.15.4
- OS - Ubuntu 16.04.3

After a successful cluster setup using kubeadm and weave-net, observed that all nodes are in "Ready" state. It is observed that DNS name resolution is failing from inside the pod but is working fine from the host machine.
Workaround: Disabling firewall
Fix: Opening ports 6784 and 6784 in tcp and udp.

Please add documentation to o

[2019-10-17 12:24] jfbai commented on #1753
IC, thanks a lot.

[2019-10-17 13:21] Klaven commented on #1318
@neolit123 @rosti
here is the initial document i'm working on. will continue to work on it. I will at some point try to draw a dependency graph out for each phase.

https://docs.google.com/document/d/1Nicy27rt9jm9tOzZ_MEcQsnmyOFl2ZB6k110aRblv2M/edit?usp=sharing

[2019-10-17 13:24] neolit123 commented on #1318
thanks @Klaven i will have a look.
we should probably comment on the doc and get agreement / voting on the phase separation during a kubeadm office hours.

[2019-10-17 15:21] #1839 closed

[2019-10-18 06:51] ranjithssipl opened #1841 "coredns CrashLoopBackOff"
kubectl logs -f coredns-bdffbc666-fvz76 -n kube-system
E1018 06:39:54.604839       1 reflector.go:134] github.com/coredns/coredns/plugin/kubernetes/controller.go:315: Failed to list *v1.Service: Get https://10.43.0.1:443/api/v1/services?limit=500&resourceVersion=0: dial tcp 10.43.0.1:443: connect: no route to host
E1018 06:39:54.604839       1 reflector.go:134] github.com/coredns/coredns/plugin/ku

[2019-10-18 11:53] neolit123 commented on #1841
hi, there are a variety of reasons of why this can happen.
please have a look at :
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#coredns-pods-have-crashloopbackoff-or-error-state

if you can't solve that try asking in #kubeadm on slack.

also best to specify your k8s version in your reports.
if you have the option please try 1.16.

i have no informa

[2019-10-18 11:53] #1841 closed

[2019-10-18 16:16] bartwensley opened #1842 ""kubeadm config images pull" should not pull etcd image if external etcd configured"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.16.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.16.0
- **Cloud provider or hardware configuration**: hardware
- **OS** (e.g. from /etc/os-release): CentOS Linux 7
- **Kernel** (e.g. `uname -a`): 3.10.0-957.21.3
- **Others**:

## What happened?

A v1.16.0

[2019-10-18 16:26] rrichardson opened #1843 "v1.16 - HA master join failure - etcdserver: leader changed"
BUG REPORT
## Versions

**kubeadm version**:
[code]

**Environment**:
- **Kubernetes version**:
[code]

- **Cloud provider or hardware configuration**:
In a VirtualBox VM network.   6 VMS.  3 masters, 3 workers.

- **OS** (e.g. from /etc/os-release):
`Ubuntu 16.04`

- **Kernel** (e.g. `uname -a`):
`Linux 192-168-123-102 4.15.0-65-generic #74~16.04.1-Ubuntu SMP Wed Sep 18 09:51:44 UTC 2019 x86_64 x

[2019-10-18 18:04] chuckha opened #1844 "Retries for init images"
/kind bug

I believe it is a bug that kubeadm init does not retry image pulling on a failed connection. Recently we ran a test, specifically @vivgoyal did that created 200 cluster-api clusters bootstrapped with kubeadm. 1% (2) of the clusters failed to `kubeadm init` during the image pull stage. A retry would likely have eliminated this failure case.

## Versions

I believe this affects all versio

[2019-10-18 22:40] neolit123 commented on #1843
hi, we are seeing flakes when trying to join parallel CP nodes to the cluster.
this is problematic and until etcd releases a new version we won't be able to solve it correctly.

we did claim that kubeadm has this working properly in 1.15/16, but unfortunately it does not work as expected.

i don't see how it would have worked in 1.14, as the etcd member join logic had no retries.

i actually haven

[2019-10-18 22:54] neolit123 commented on #1842
i think etcd should not be pulled during `init`, `join` and `upgrade` commands if external etcd is used?
isn't kubeadm already skipping it in that case?

i personally think this command is a best effort to prepull *all* required images.
if you wish to pull only the ones you need, that would be a job for:
[code]

kubeadm 1.17 will also have JSON/YAML format for `list`.

[2019-10-18 22:58] neolit123 commented on #1844
there is also the option that for stability the images can be pre-pulled and distributed to all nodes?

/help
/priority backlog
/remove-kind bug
/kind feature

if we consider this as a viable feature request, these functions have to be extended to support a retry mechanic:
https://github.com/kubernetes/kubernetes/blob/a5e3d7469149c704e32a9fd858be2a25c4ca9a2c/cmd/kubeadm/app/util/runtime/runtime.go

[2019-10-19 11:08] bartwensley commented on #1842
Yes - kubeadm init/join/upgrade skip the etcd image in that case.

My complaint is that this command will skip the etcd image if the --config option is used, but will not skip the image if the --config option is not used. That is inconsistent. If the kubeadm-config config map exists, this command should be able to use it to determine whether external etcd is configured.

[2019-10-19 11:32] neolit123 commented on #1842
ok, so if --config is used kubeadm behaves correctly on prepull.

using the config map would be a bit odd, because we currently assume from the operator that they prepulled required images before the cluster was already. i.e. the workflow is: prepull images once, distribute images to nodes, create cluster. instead of, create primary control-plane pull images again and distribute images.

if this c

[2019-10-19 14:25] bartwensley commented on #1842
I'm doing this as part of a kubeadm upgrade. The reason here is that (to my knowledge) the "kubeadm upgrade apply" command does not support pulling images from an authenticated registry. So before doing the "kubeadm upgrade apply", I'd like to use "kubeadm config images pull --version" to pull the images from an authenticated registry (after doing a "docker login" of course). That workflow doesn't

[2019-10-19 14:55] neolit123 commented on #1842
in all cases kubeadm just calls `docker pull` (or crictl), yet you can login into a private registry using `docker login` beforehand or use `~/.docker/config.json` to store the credentials.

the custom registry can be specified in the ClusterConfiguration of kubeadm.

once you are authenticated, `kubeadm upgrade` should pull from the private registry.

if you find a bug related to this workflow pl

[2019-10-19 23:31] Klaven commented on #1844
I'll take this and bring a plan for it to Wednesday's meeting. I think that some sane amount of retries would be good from a user experience.

[2019-10-21 03:20] SataQiu commented on #1844
/cc

[2019-10-21 08:48] SataQiu commented on #1784
Emm... I wonder if we also need to check the expiration of `kubelet.conf`, since it is not managed by kubeadm but kubelet. If there is no need to manage kubelet certificates, I think this issue can be closed now. @neolit123 @NeilW

[2019-10-21 09:45] houcong opened #1846 "kubeadmin join cluster issue"
Envrionment is below:
CentOS： 7.6
Docker： 18.06.1-ce
Kubernetes： 1.13.4
Kuberadm： 1.13.4
Kuberlet： 1.13.4
Kuberctl： 1.13.4

I have already deployed a master node with 192.168.2.11 and then add another master node 192.168.2.13 to the cluster it goes wrong! Error is below

error creating local etcd static pod manifest file: etcdserver: re-configuration failed due to not enough started members

Anyon

[2019-10-21 09:45] houcong commented on #1846
Whole page is :
[patchnode] Uploading the CRI Socket information "/var/run/dockershim.sock" to the Node API object "k8s-master-03" as an annotation
I1021 17:31:18.098432   29097 join.go:566] [join] adding etcd
I1021 17:31:18.098446   29097 local.go:89] creating etcd client that connects to etcd pods
I1021 17:31:18.098451   29097 etcd.go:135] checking etcd manifest
I1021 17:31:18.103325   29097 etc

[2019-10-21 10:06] tanjunchen opened #1847 "update golang to 1.12.10.There is a CVE for Go and this vulnerability is fixed in 1.12.10"
## What keywords did you search in kubeadm issues before filing this one?

## Is this a BUG REPORT or FEATURE REQUEST?
https://groups.google.com/forum/#!msg/golang-announce/lVEm7llp0w0/VbafyRkgCgAJ

There is a CVE for Go and this vulnerability is fixed in 1.12.10. We should update it.
See: https://nvd.nist.gov/vuln/detail/CVE-2019-16276

See issue golang/go#34540
Seems this is fixed in 1.12.10. I

[2019-10-21 10:08] tanjunchen commented on #1847
@ereslibre  should we update the golang version?

[2019-10-21 12:04] pstrive commented on #1264
I have checked my env and figure it out. It is because the node  which the unavailable coredns service works on doesn't have the route to 10.233.0.1(apiserver svc ip addr in my env). It worked fine when i add a static route on this node. But the root cause i think is the ipvs module that works unproperly. Hope help others.

[2019-10-21 16:18] tpepper commented on #1599
Is there anything remaining to be done on this?  I see release-master-blocking on testgrid has KinD, there's config/jobs/kubernetes-sigs/kind/kind-presubmits.yaml presubmits.

[2019-10-21 19:26] neolit123 commented on #1784
I will defer to @fabriziopandini. My take is that users probably want all
expirations of certs created using the the kubeadm ca.

[2019-10-21 20:34] neolit123 commented on #1847
Hi this is not an issue for the kubeadm tracker. Kubeadm is still built as part of k8s release.

[2019-10-21 20:34] #1847 closed

[2019-10-21 20:36] neolit123 commented on #1846
/triage support
Is the etcd member on the primary node healthy?

[2019-10-22 01:24] houcong commented on #1846
Yes The etcd pod is ready status.
BTW the wrong one is my third node to add to the cluster the second is smoothly joined!

[root@k8s-master-01 etcd]# kubectl get pods --namespace=kube-system -o wide
NAME                                    READY   STATUS             RESTARTS   AGE     IP             NODE            NOMINATED NODE   READINESS GATES
coredns-78d4cf999f-5jp2b                1/1     Run

[2019-10-22 03:11] pstrive commented on #1264
I have figured it out. It is because kube-proxy(ipvs) requests data from apiserver(127.0.0.1:6443)，but the node is not a master node it does not listen the 6443 http port. I fix it by replacing 127.0.0.1:6443 with 10.233.0.1(apiserver svc ip addr in my env) and rescheduling the kube-proxy pod.

[2019-10-22 09:54] redbaron commented on #1105
HTTP Probe supports arbitrary headers, what  if kubeadm adds static token with `system:discovery` clusterrole binding and uses it in liveness probes?

[2019-10-22 13:41] LSmyrnaios opened #1849 ""kubeadm init" fails: kubelet reports "connect: connection refused""
## What keywords did you search in kubeadm issues before filing this one?
kubeadm init fails

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:15:39Z", GoVersion:"go1.12.10",

[2019-10-22 15:50] neolit123 commented on #1599
there are no e.g. kinder upgrade jobs in release blocking.
i think both points need some work still.

[2019-10-22 16:11] neolit123 commented on #1652
/lifecycle frozen

[2019-10-22 16:24] neolit123 commented on #1846
are the second and third nodes joined serially or in parallel?
we recommend serial, due to etcd issues.

[2019-10-22 16:42] neolit123 commented on #1105
should be supported in 1.16+ if one is using file discovery with client cert and key instead of token.

@redbaron

are you referring to?
https://kubernetes.io/docs/reference/access-authn-authz/authentication/#putting-a-bearer-token-in-a-request
i'm aware of at least one user of HTTP probes + tokens.

i think ideally k8s HTTPS probes need TLS support, by using certificates mounted in volumes.

[2019-10-22 17:02] neolit123 commented on #1849
after running the above command what did you see?
did you see an error that the kubelet is unhealthy?

v1beta1 is the latest version of runtimeclass:
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/client-go/kubernetes/typed/node/v1beta1

so this request seems fine.

this seems like the api server is not running.
you can try inspecting the Pod / container logs for it.

[2019-10-22 17:36] krisdock opened #1850 "Add a flag to allow check-expiration command in external etcd setups"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

The `kubeadm alpha certs check-expiration` command fails when running a k8s cluster with an external etcd cluster since some of the expected certs don't live on the control plane node. It would be helpful to have one of the two

[2019-10-22 17:53] neolit123 commented on #1850
/assign @fabriziopandini
cc @dlipovetsky

i think i'm not in favor of adding such functionality, because the external etcd is manged completely outside of the knowledge of kubeadm.

[2019-10-22 18:23] alex-vmw commented on #1850
As a customer that experienced this issue I can tell you that we are using kubeadm to setup/manage external etcd and we find it extremely disappointing that `kubeadm alpha certs check-expiration` fails miserably on the etcd nodes and on the master nodes.

[2019-10-22 18:45] neolit123 commented on #1850
we seem to have a couple items here:
- a bug: that the command fails for external etcd - it should just skip the check for etcd certs in that case.
- a feature request: enable the command to check external etcd certs. this is not trivial as the external etcd certs can be a subject of third party tooling.

/kind bug
/kind feature

[2019-10-22 18:49] fabriziopandini commented on #1850
I'm +1 to get the bug fixed asap (check config map, skip in case of external etcd)
WRT to supporting external etcd my proposal is to try to get an agreement on go/no go tomorrow during office hours

[2019-10-22 19:20] LSmyrnaios commented on #1849
I saw the following output:
[code]

Oh ok, I had read that kubernetes v.1.16 was moving to the stable API-version  **v1**

Where can I find those logs?

[2019-10-22 19:23] neolit123 commented on #1849
try starting `kubeadm init...` again and once it fails check:
see `journal -xeu kublet` and share the results.

also look at the containers running:
`docker ps -a`, look for `kube-apiserver....` and share the output of `docker logs kube-apiserver...` if present.

[2019-10-22 19:56] chuckha opened #1851 "kubeadm init fails with no error and hangs forever"
/kind bug

**kubeadm version** (use `kubeadm version`): 1.15.3

## What happened?
@vivgoyal recently spun up a lot of clusters (200) and 5% failed during kubeadm init. There were logs indicating kubeadm init started but then they hung forever and the process never finished. There were no logs and no timeout whatsoever. The environment was AWS.

Is there some code here that doesn't use context corr

[2019-10-22 20:11] neolit123 commented on #1851
we are creating more clusters in our CI and we haven't seen such a problem.

[2019-10-22 20:19] neolit123 commented on #1851
if kubeadm fails to find a healthy kubelet and/or api-server it should timeout in 4 minutes:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go#L188
https://github.com/kubernetes/kubernetes/blob/1dc5235d0a93f4594402dfc0d7bcd5db88b3b4be/cmd/kubeadm/app/cmd/phases/init/waitcontrolplane.go#L95

[2019-10-23 07:32] fabriziopandini commented on #1784
TBH I don't see much value in showing expiration for certificates that can't be renewed.

But I won't block on @neolit123 idea that the user might find useful a unique summary about all the certificates.

My only concern is that, also in this case the certificate should be kept separated from the others and it should be made clear to the users that this canìt be renewed by kubeadm.
Instead, it sho

[2019-10-23 08:04] aayushdgkd opened #1852 "kubeadm join fails wth Get https://localhost:8443/api/v1/namespaces/kube-system/configmaps/kubeadm-config: dial tcp 127.0.0.1:8443: connect: connection refused failed to get config map"
## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT o

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:15:39Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
#

**Environment**:
- **Kubernetes

[2019-10-23 08:23] aayushdgkd commented on #1852
/assign

[2019-10-23 09:00] #1852 closed

[2019-10-23 13:11] bart0sh opened #1853 "Unwanted console output in the versiongetter API"
API to get version information(ClusterVersion, KubeadmVersion and VersionFromCILabel) contain unwanted calls of fmt.*Print* functions:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/versiongetter.go#L66
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/versiongetter.go#L78
https://github.com/kubernetes/kubernetes/blob/master/c

[2019-10-23 13:13] bart0sh commented on #1853
/good-first-issue

[2019-10-23 13:28] LSmyrnaios commented on #1849
I do call `kubeadm reset...` before `init`. (In this case I don't use `join`)
You can find the results produced by `journalctl -xeu kubelet`, here:
https://gist.github.com/LSmyrnaios/482ce7831092a50d5d3df7124cf6b779

I find a kube-aipserver with `docker ps -a` but there is no output produced by `docker logs <kube-apiserver-NAME>`.

[2019-10-23 13:49] bartwensley commented on #1842
I just re-tested this and confirmed that the "kubeadm upgrade apply" does NOT support pulling images from an authenticated registry. Doing the "docker login" before running "kubeadm upgrade apply" makes no difference - I suspect this is because a set of pods (e.g. upgrade-prepull-kube-apiserver-xxxxx) are being created to do the pulls and these pods will not have the docker credentials.

I have no

[2019-10-23 14:08] bartwensley commented on #1842
Forgot to mention one thing. I believe there is a bug in "kubeadm upgrade apply". In the case where the  control plane images cannot be pulled due to authentication failure. The apply incorrectly says the image pull was successful and then fails to upgrade the control plane pods:

[code]
Here is what kubelet reports:
`2019-10-23T13:26:04.606 controller-0 kubelet[90588]: info E1023 13:26:04.606003

[2019-10-23 16:04] chuckha commented on #1851
yeah, i suspected we would need more verbose logging. Alrighty, thank you @neolit123 !

[2019-10-23 16:21] neolit123 commented on #1442
/lifecycle frozen

[2019-10-23 16:47] timothysc commented on #1846
Please provide the exact steps you followed in order to reproduce this error.

[2019-10-23 16:52] fabriziopandini commented on #1842
/assign

[2019-10-23 17:06] neolit123 commented on #1784
i'm not sure how would it be possible (or easy) to find when the kubelet is going to rotate the certificate.
i think the kubelet cert manager used a constant from client-go for that, so it was roughly 2-3 months before expiration, but this requires us to hardcode the expiration assumption to 1 year.

[2019-10-23 17:06] fabriziopandini commented on #1850
After a second thought, reading from a config map can lead to a corner case where you need to the cluster for renewing certificates but your certificates are actually expired
So, probably it is necessary some more design here

[2019-10-23 17:27] patsadow2 opened #1854 "Kubeadm v1.16.0 doesn't show other kinds of custom resources"
BUG REPORT

Kubeadm v1.16.0 doesn't show other kinds of custom resources

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.16
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
When input for example custom r

[2019-10-23 17:43] ereslibre commented on #1849
@LSmyrnaios the output you provided contains lines like `Get https://<IP>:6443/apis/storage.k8s.io/v1beta1/csidrivers?limit=500&resourceVersion=0`, here you didn't replace `<IP>`, hence the failures.

Please, provide a new log that can help us understand the problem you are facing. Thank you!

[2019-10-23 18:14] neolit123 commented on #1842
@bartwensley

for upgrade kubeadm does use a DaemonSet for the prepull and not a `docker pull`.

the kubelet on that node needs to have the credentials stored in the docker config file.
did you follow the steps here?
https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/

true, but in case `kubeadm config images *` is used without a cluster is running, kubeadm has to

[2019-10-23 18:17] neolit123 commented on #964
/lifecycle frozen
this move is seeing objection here:
https://github.com/kubernetes/kubernetes/pull/77669#pullrequestreview-306041423

[2019-10-23 18:22] fabriziopandini commented on #1842
If we are going to implement this, we should carefully design it in order to not prevent the users to run image pull before a cluster exists.
Also, we should make sure to be consistent with the UX of other commands

[2019-10-23 18:27] fabriziopandini commented on #1850
In the office our we decided to not the support certificate checks on machines which are not kubernetes node because there is no convention we can leverage to for discovering certificates locations

[2019-10-23 18:39] neolit123 commented on #1854
hi, this is not a kubeadm bug, per se.
it seems that something is wrong with your deployment of custom resources.

you can try logging a kubernetes/kubernetes issue or asking on the support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

thanks
/close

[2019-10-23 19:06] bartwensley commented on #1842
@neolit123 - I appreciate your help.

I don't think that is the page you meant to reference. That page refers to creating a secret and referencing that in the imagePullSecrets in the pod spec. That approach works for me with "regular" pods, but doesn't work for control plane pods because they use static manifests created by kubeadm and do not contain imagePullSecrets.

Were you meaning to refer to

[2019-10-23 19:33] neolit123 commented on #1842
https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry

yes, that is the page i was referring to.

thanks.

that part does sound like a bug.

[2019-10-23 20:02] neolit123 commented on #1853
@bart0sh please link to code examples for such fmt.Print* calls.

[2019-10-23 21:10] dannymk opened #1855 "Node becomes unstable and needs reboot"
## What keywords did you search in kubeadm issues before filing this one?
node delete pod stuck deleted

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):  version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:15:39Z",

[2019-10-23 21:54] neolit123 commented on #1850
@fabriziopandini

@alex-vmw raises an interesting point. if the `check-expiration` command fails to find some certificates, my guess is that currently it errors out.

should it instead show the full table, but have MISSING next to some certificates and only show expiration for those that are present on the machine?

[2019-10-23 22:01] alex-vmw commented on #1850
@neolit123
On an external etcd node (deployed via kubeadm) we get this error:
`Error checking external CA condition for ca certificate authority: failure loading certificate for CA: couldn't load the certificate file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory`

On a master node (deployed via kubeadm) we get this error:
`failed to load existing certificat

[2019-10-23 22:37] neolit123 commented on #1850
Error checking external CA condition for ca certificate authority: failure loading certificate for CA: couldn't load the certificate file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory

this is problematic. currently the command in question needs to know if a certificate is created using an external CA. the same logic is used for certificate renewal.

if the

[2019-10-23 22:41] neolit123 commented on #1855
@dannymk thanks for the report. this is concerning, but not a kubeadm issue.

i think after the `:` it should include more details for the reason.

please copy the contents of you report and log a kubernetes/kubernetes issue, instead.

also add the following as a comment:
[code]
thanks.
/close

[2019-10-23 22:41] #1855 closed

[2019-10-23 22:56] neolit123 commented on #1821
PSA (recent change): kubekins / test-infra is using 19* now:
https://github.com/kubernetes/test-infra/blob/29b34a06d716841dc1f4f2eb7ab0a80cc598be27/images/bootstrap/Dockerfile#L101

[2019-10-24 00:01] LSmyrnaios commented on #1849
@ereslibre I anonymized the logs for privacy.
The original ones do include valid <IP>-addresses as well as valid <hostName> and <userName>.
The <IP> is a Static IP.

[2019-10-24 00:24] alex-vmw commented on #1850
On external etcd nodes kubeadm creates the CA cert in `etcd` subdir (`/etc/kubernetes/pki/etcd/ca.crt`), so looking for `/etc/kubernetes/pki/ca.crt` on external etcd nodes is useless. Kubeadm just needs to realize it is running on an external etcd node and look for the file in the correct path.

Here is how how the kubeadm created pki dir structure looks like on an external etcd node:
[code]

[2019-10-24 00:43] neolit123 commented on #1850
kubeadm uses the root CA to determine external CA usage, not the etcd CA.

[2019-10-24 01:38] alex-vmw commented on #1850
@neolit123

kubeadm is just looking for `/etc/kubernetes/pki/ca.crt` file and has no idea what CA cert is in it (external or self-signed). On external etcd node created by kubeadm the `/etc/kubernetes/pki/ca.crt` file would/should never exist. On a master node `/etc/kubernetes/pki/ca.crt` would/should exist and can be an external root CA or it can just be self-signed CA created by kubeadm itself.

[2019-10-24 04:06] rnsv commented on #857
I was able to workaround this issue as follows

[code]

[2019-10-24 07:27] SataQiu commented on #1853
/cc

[2019-10-24 08:37] ereslibre commented on #1849
Thank you @LSmyrnaios.

When you confirm that if you run a simple http server with python on 6443 port, that you can curl it from the machine where you are running kubeadm using <IP>:6443?

[2019-10-24 11:24] yastij commented on #1821
/assign

[2019-10-24 16:05] redbaron commented on #1105
@neolit123 ,

yes, I implemented this approach by creating a static token and changing apiserever manifests to do healtchecks with them, works like a charm, would be nice if kubeadm did it for me though.

[2019-10-24 16:12] LSmyrnaios commented on #1849
I do confirm it.

[2019-10-24 16:18] ereslibre commented on #1849
Please, provide all `journalctl -u kubelet` during the join process. Can you also increase the kubelet verbosity to 5, and attach a `watch docker ps -a` during the init process, and in case the apiserver cannot start, its logs as well. Also, please, run `kubeadm` with a verbosity level of 9 and attach that output as well. In general, the more information you can provide, the better. Thanks.

[2019-10-24 18:05] neolit123 commented on #1105
i'm sure the kubadm team wouldn't mind examining a detailed proposal e.g. in a google doc.

[2019-10-24 20:03] hypnoglow commented on #1431
/assign

[2019-10-25 00:30] LSmyrnaios commented on #1849
You mean `init`-process, not `join`, right? I am only trying ti initialize kubernetes.
The logs from `journalctl -u kubelet` are huge and it's difficult the retrieve manually only the ones produced by the last `kubeadm init`.

I am not sure how to do those.

https://gist.github.com/LSmyrnaios/a98828d9569efdbb1de905d0c653ffe6

[2019-10-25 12:13] ereslibre commented on #1849
Yes, sorry.

You could filter them by knowing when you started the `kubeadm init` process with `journalctl`: `journalctl -u kubelet --since "5 minutes ago"`, or using a timestamp. It would be great if you could also increase the default verbosity of the `kubelet` to have more information before you provide the logs as well.

Based on the logs you provided, and to make sure, can you please stop the

[2019-10-25 20:03] #1431 closed

[2019-10-25 22:37] gitplyx opened #1856 "kubeadm init falitd"
[kubelet-check] Initial timeout of 40s passed.

Unfortunately, an error has occurred:
	timed out waiting for the condition

[2019-10-25 22:45] neolit123 commented on #1856
hi, this is the kubeadm bug tracker. this is a common message that can be resulted by incorrect setup. try asking in the #kubeadm channel on slack and provide more details about your setup and possibly logs from the kubelet using `journalctl -xeu kubelet`.

if you find a bug feel free to open a ticket here.

thanks

[2019-10-25 22:45] #1856 closed

[2019-10-25 22:48] neolit123 commented on #1843
/close
folding into https://github.com/kubernetes/kubeadm/issues/1793
which should hopefully solve the concurrent join problems.

[2019-10-25 22:48] #1843 closed

[2019-10-25 22:51] neolit123 commented on #1792
@fabriziopandini it might be better to have a umbrella issue in k/kubeadm for kubeadm moving out and this could be part of the discussion there.

[2019-10-25 23:01] neolit123 commented on #1638
code freeze is around the corner again.
all that is left here is `**item 4:** TODO`.

as discussed on slack (somewhere in this thread) the validator repo should be tagged as `1.0` as the initial version.
https://kubernetes.slack.com/archives/C2C40FMNF/p1566414724378100?thread_ts=1566411984.368700&cid=C2C40FMNF

[2019-10-25 23:07] neolit123 commented on #964
updated OP with documentation update items.
also added help-wanted as these cleanups are trivial.

[2019-10-26 07:46] patsadow2 opened #1857 "Kubeadm v1.16.2 - cannot get https (dial tcp: i/o timeout ErrRegisterACMEAccount)"
FROM: https://github.com/jetstack/cert-manager/issues/2279

I spent 2 days trying to make it run with no effects :(

**Describe the bug**:
I cannot get cert for https

Failed to verify ACME account: Get https://acme-staging-v02.api.letsencrypt.org/directory: dial tcp: i/o timeout
ErrRegisterACMEAccount

- i am able to curl "https://acme-staging-v02.api.letsencrypt.org/directory" from cluster and p

[2019-10-26 18:54] neolit123 commented on #1857
/remove-kind bug
/triage support

hi,

xref https://github.com/jetstack/cert-manager/issues/2279#issuecomment-546283861

i have no information where this error is coming from, but this is not a kubeadm bug either. try asking on slack or stackoverflow.

thanks.
/close

[2019-10-26 18:54] #1857 closed

[2019-10-27 12:40] fabriziopandini commented on #1792
@neolit123 fine for me!

[2019-10-28 02:48] jfbai commented on #1853
I can help fix this.

@bart0sh @neolit123 Move them to caller side?

/assign

[2019-10-28 08:52] bart0sh commented on #1853
@jfbai Yes, that's pretty much what needs to be done. However, it should be done carefully to make sure user visible output doesn't change.

[2019-10-28 12:25] aravindgv commented on #339
kubeadm reset
fixed issue for me too

[2019-10-28 14:07] krisdock opened #1858 "Possible flex volume implementation issue"
Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.15.4

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.4
- **Cloud provider or hardware configuration**: vSphere
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.3 LTS
- **Kernel** (e.g. `uname -a`): 4.15.0-65-generic #74-Ubuntu

## What happened?

[2019-10-28 17:02] neolit123 commented on #1858
this folder is created async by the kubelet.

you can verify that be removing the folder and doing:
`kubeadm init phase kubelet-start`

so yes, the directory might get created before or after we write the static pod manifests to disk.

this use case is not clear to me.
if you have called `kubeadm init` this already includes the `control-plane` phase, so you are executing the phase twice. could you

[2019-10-28 17:07] neolit123 commented on #1858
@ereslibre @yastij
WDYT?

[2019-10-28 18:16] patsadow2 opened #1859 "CoreDNS KubeAdm v1.15.4 Linux 16.04"
Pods cannot access coreDNS ;(
![image](https://user-images.githubusercontent.com/19226186/67705425-41d01c80-f9b7-11e9-8ec5-c61a5294e35d.png)

## Anything else we need to know?

Access to coreDNS ? I am wondering if it can be problem with namespaces ?

[2019-10-28 18:27] neolit123 commented on #1858
/lifecycle active
the fix is here: https://github.com/kubernetes/kubernetes/pull/84468

[2019-10-28 18:34] neolit123 commented on #1859
hi, this is not a kubeadm bug.
kubeadm is just a user of coredns.

also please note that busy-box is known to be problematic with respect to DNS.
try using another image for nslookup, such as `debian:...`.

/triage support
/close

[2019-10-28 18:34] #1859 closed

[2019-10-28 20:20] alex-vmw commented on #1858
@neolit123 It isn't so weird if you consider the use case. :)
Since this Bug was filed on my behalf, I can try to shed some light on how it was discovered. (1) We were already running a Kubernetes Cluster for some time. (2) At some point we got a new requirement for enabling kube-apiserver audit logs, which required updating the original kubeadm config file and re-running `kubeadm init phase contr

[2019-10-28 20:31] neolit123 commented on #1858
@alex-vmw ideally we would like to implement alternative methods for modifying a running cluster and it's components (perhaps something with better UX), but for now this is a viable use of the control-plane phase.

[2019-10-28 21:09] #1858 closed

[2019-10-28 21:20] buccella commented on #1849
Possible that this was previously reported as kubernetes/kubernetes#70334

[2019-10-28 21:26] neolit123 commented on #1849
did you try a different CNI plugin, like weavenet?

[2019-10-29 00:49] #1821 closed

[2019-10-29 14:46] mrbobbytables opened #1860 "Clean up outside collaborators"
Hey there @kubernetes/kubeadm-admins,

One of the github-admins here. -- We have a [longstanding issue] on cleaning up outside collaborators, and are now actively planning on removing them on December 1st.

At this point, people that are actively contributing to the Kubernetes project should be promoted to [org members][mem], and any repo specific permissions should be managed through their associ

[2019-10-29 15:12] timothysc commented on #1860
@mrbobbytables - removed

[2019-10-29 15:12] #1860 closed

[2019-10-30 06:07] AndrewSav commented on #1361
Can someone please explain to me how was the "Even with Certificate Rotation enabled, kubelet.conf points to outdated certs" part addressed? The only issue linked that mentions this explicitly closed in favour of another issues which is closed with "I'm not sure if this an issue so open a new ticket if it is".
I'm on 1.16 do not see any renewal happening at `kubelet.conf` with `sudo kubeadm alpha

[2019-10-30 08:20] fabriziopandini commented on #1361
a quick recap of a very very long discussion.
1. certificate rotation for all the certs but kubelet.conf are now managed by kubeadm alpha cert renew.
2. certificate rotation for kubelet.conf will be managed by kubelet itself (unless the user opts out from automatic certificate rotation)

1. Is ok sine 1 or two releases (I don't remember on top of my head) 2. already works for all the nodes except

[2019-10-30 12:17] zakkg3 commented on #1300
Experienced this today in 1.15.5

In my case I joined the cluster but with 1.16 version. then deleted this node `kubectl delete node`, downgrade to 15.5.5 and try to rejoin (same ip, same hostname, different version) and got the etcd unhelty error.

Solved by (based on @Halytskyi answer:

* Delete the node form the kubeadm-config configmap

[code]

* kubeadm reset -f in the problematic node

* del

[2019-10-30 12:27] neolit123 commented on #1300
this can happen if `kubeadm reset` is interrupted and couldn't delete the node from the kubeadm CM.
in such a case you need to manually delete it from the kubeadm CM.

[2019-10-30 13:18] neolit123 commented on #1846
closing due to no response.

[2019-10-30 13:18] #1846 closed

[2019-10-30 13:24] neolit123 opened #1862 "stop calling /bin/sleep during upgrade prepull"
with all control-plane images going for distroless, see:
https://github.com/kubernetes/kubernetes/issues/70249

we need to stop executing arbitrary commands on the containers we create during prepull.
such a command is "sleep":
https://github.com/kubernetes/kubernetes/blob/3758426884e3c82cbd99c72e8015f4396f21fde2/cmd/kubeadm/app/phases/upgrade/prepull.go#L182

ideally the prepull DaemonSets should

[2019-10-30 13:30] yastij commented on #1862
/assign

[2019-10-30 13:47] yastij commented on #1862
/remove help-wanted

[2019-10-30 13:51] yastij commented on #1862
/remove-help

[2019-10-30 14:14] alexbrand opened #1863 "http_proxy environment variables are not set in kube_proxy daemonset"
## What keywords did you search in kubeadm issues before filing this one?
kube-proxy http_proxy https_proxy environment variable

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

## What happened?
I exported the `HTTP_PROXY`, `HTTPS_PROXY` and `NO_PROXY` environment variables before running kubeadm. The proxy env

[2019-10-31 01:16] hickeng commented on #1601
@neolit123 I'm seeing the same issue with `kustomize` dropping all but the last value when run against a `kubeadm.yaml` that has two similarly named extraArgs present (`tls-sni-cert-key` in this specific case).

I'm not clear how patching afterwards using `kustomize` is expected to improve this.
Please note this is using `kustomize` binary and NOT the kustomize integrated into kubeadm.

[2019-10-31 07:46] fabriziopandini commented on #1601
@hickeng
The `ExtraArgs` field in the kubeadm config file is a `map[string]string`, so it does not support duplicated key no matter if you pass them manually or if you try to add them with kustomize.
Instead, If I got it right, what @neolit123 is suggesting is to use kustomize to patch the generated API server Pod manifest changing the `args` list directly

[2019-10-31 08:28] fabriziopandini opened #1864 "E2E kubeadm upgrade 1-16 master failing"
This test is failing in the step task-08-cluster-info-after due to a change in etcd:

[code]

[2019-10-31 09:05] fabriziopandini opened #1866 "Kinder: cleanup support for v1.11 and v1.12 Kubernetes releases"
kinder is a tools used for kubeadm E2E tests and can be run locally. see https://github.com/kubernetes/kubeadm/tree/master/kinder

Considering that in kubeadm E2E we are not testing anymore v1.11 and v1.12 Kubernetes releases, it is now possible to clean up the kinder codebase from support for those releases:

**remove V1_11 and v1_12 constants here:**

https://github.com/kubernetes/kubeadm/blob/0

[2019-10-31 10:27] #1864 closed

[2019-10-31 11:15] #1863 closed

[2019-10-31 13:12] jfbai commented on #1853
I have an idea about move them to caller side, something like this:
[code]

Could this be fine?

[2019-10-31 14:54] fabriziopandini opened #1867 "operator: organize imports"
As per comment [here](https://github.com/kubernetes/kubeadm/pull/1861#discussion_r341181565) we would like to change import organization from

two groups
- import from the standard library
- everything else

to three groups
- everything else
- k8s.io sigs.k8s.io  imports
- kubeadm/operator imports.

this should be done on all the files under /operator folder

[2019-10-31 15:01] fabriziopandini opened #1868 "Change notification settings for E2E jobs"
We would like to change the `testgrid-num-failures-to-alert` notification setting for kubeadm E2E jobs

- from 4 to 8 for jobs running every 2 hours (alert if it is failing by 16h)
- from 2 to 4 for jobs running every 12 hours (alert if it is failing by 48h)

kubeadm e2e jobs are defined [here](https://github.com/kubernetes/test-infra/tree/master/config/jobs/kubernetes/sig-cluster-lifecycle), so i

[2019-10-31 15:28] neolit123 commented on #1300
"kubeadm reset" should delete it from the kubeadm CM, but calling "kubectl delete node" is also needed which deletes the Node API object.

[2019-10-31 15:45] neolit123 commented on #1300
kubeadm reset should also remove the etcd member from the etcd cluster.
try executing it with e.g. --v=5 and see what it does.

however keep in mind that kubeadm reset is a best effort command so if it fails for some reason it might only print a warning.

[2019-10-31 16:07] rosti commented on #1327
#1285 was about enabling secure serving, this is about redirecting the liveness probes to the secure ports. As of today, everything in #1285 is done, but the liveness probes are still working with HTTP.
/reopen

[2019-10-31 16:12] zakkg3 commented on #1300
so `kubectl delete node` does not delete it from etcd. Instead, running in the node `kubeadm reset` does it.
sounds broken to me, I think `kubectl delete node` should delete it form etcd also. Or am I missing an obvious use case?
maybe asking if it should be also deleted from there?
Anyway thanks for the clarification @neolit123, I first delete it from the control plane and then did a reset, guess

[2019-10-31 18:07] yastij commented on #1327
/assign
/remove-help

[2019-10-31 19:52] hypnoglow commented on #1866
/assign

[2019-10-31 20:13] hypnoglow commented on #1866
Hi,

I noticed there are other places where older versions of kubeadm config are supported in one way or another, for example:

Patches, e.g. for Calico:

https://github.com/kubernetes/kubeadm/blob/fe0d2ce5a6701c2559969c363a909fdad18b761b/kinder/pkg/kubeadm/calicopatch.go#L44-L46

References to **MasterConfiguration** which was renamed to **InitConfiguration** in v1alpha3:

https://github.com/kube

[2019-10-31 20:26] hypnoglow commented on #1867
To which one of three groups should third-party imports (like `github.com/pkg/errors`) go? I guess the second group?

[2019-10-31 20:27] hypnoglow commented on #1867
/assign

[2019-10-31 20:30] neolit123 commented on #1300
so there are different responsibilities.
kubectl delete node, deletes the Node API object - you should do this when you are really sure that you no longer want the node around,
before that you should call kubeadm reset on that node. what i does is it cleans the state on disk and also removes the etcd member (if this is a control-plane node and if you are using the default option where etcd instanc

[2019-10-31 20:43] Mikulas commented on #1300
Regarding this: when the `kubeadm reset` fails to complete for whatever reason (including a hard fail of the underlying server so that kubeadm reset is never executed in the first place) are there any options to manually reconcile the state beside manually editing the kubeadm-config configmap object and removing the node?

[2019-10-31 21:06] hypnoglow commented on #1868
/assign

[2019-10-31 21:09] neolit123 commented on #1300
if the node is hard failed and you cannot call kubeadm reset on it, it requires manual steps. you'd have to :
1) remove the control-plane IP from the kubeadm-config CM ClusterStatus
2) remove the etcd member using etcdctl
3) delete the Node object using kubectl (if you don't want the Node around anymore)

1 and 2 apply only to control-plane nodes.

[2019-11-01 02:17] jfbai commented on #1853
@bart0sh My mistake.

IMO, your idea makes sense and I will implement in this way.

[2019-11-01 08:45] fabriziopandini opened #1871 "Create E2E jobs for 1.17"
This is part of https://github.com/kubernetes/kubeadm/issues/1807

Create E2E jobs for 1.17 and change master jobs to use v1.17 instead of v1.16

Below the list of things to be done; it is also possible to break this down in more PRs.

**Create jobs workflows at in kubeadm**
Example PRs v1.16 https://github.com/kubernetes/kubeadm/pull/1744

Following test should be changed to use v1.17 instead of

[2019-11-01 09:17] fabriziopandini commented on #1868
/lifecycle active

[2019-11-01 09:30] fabriziopandini commented on #1867
/lifecycle active

[2019-11-01 09:59] fabriziopandini commented on #1866
@hypnoglow thanks for noticing this! really appreciated!
reference to "v1alpha2" should go away; same for references to "MasterConfiguration"

[2019-11-01 12:27] TheLastProject opened #1872 "Export join command for new master"
*This is meant to be discussed on the upcoming kubeadm office hours meeting on 2019-11-6*

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Currently, kubeadm has the `token create --print-join-command` command, to show the command to let a new worker node to join your cluster. There is however no way to directly export the join command for letting a new master node join your cluster.

[2019-11-01 13:06] neolit123 commented on #1872
thanks for logging the issue.

[2019-11-01 13:35] neolit123 commented on #1805
i brought a laptop to another network and was able to reproduce the problem again.
the local node IP changed.

i think what we can do is instead of going for the API Get call for the ConfigMap is we can try generic connectivity to the endpoint first.

[2019-11-01 14:24] neolit123 commented on #1805
sent experimental PR here https://github.com/kubernetes/kubernetes/pull/84648

[2019-11-01 22:44] neolit123 commented on #1381
/lifecycle frozen

[2019-11-02 04:32] AndrewSav commented on #1361
@fabriziopandini Thank you for this, it makes sense.

For anyone else facing the issue of the certs in kubelte.conf being out of date between now and when the above is fixed I found this article helpful:

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration

[code]

[2019-11-02 18:12] neolit123 opened #1877 "enable the TaintNodesByCondition admission controller"
recently a bug was discovered and it was suggested that kubeadm enables this controller.
a PR for kube-up is already here and it also provides some context on why this is needed.

https://github.com/kubernetes/kubernetes/pull/84665

the required change is on this line:
https://github.com/kubernetes/kubernetes/blob/c4419bd50e17d0c14c356f33b914fe4baed61d8e/cmd/kubeadm/app/phases/controlplane/manifes

[2019-11-03 12:49] vamossagar12 commented on #1877
/assign

[2019-11-03 13:44] fabriziopandini commented on #1867
/close
via https://github.com/kubernetes/kubeadm/pull/1869

[2019-11-03 13:44] #1867 closed

[2019-11-03 13:44] fabriziopandini commented on #1868
/close
via https://github.com/kubernetes/test-infra/pull/15051

[2019-11-03 13:44] #1868 closed

[2019-11-03 14:20] fabriziopandini commented on #1866
/close
via https://github.com/kubernetes/kubeadm/pull/1870

[2019-11-03 14:20] #1866 closed

[2019-11-03 20:17] hypnoglow commented on #1871
/assign

[2019-11-04 07:51] fabriziopandini opened #1881 "RFE: Make kubeadm Config easy to consume"
Kubeadm config should be more easy to consume for higher-level tools like CAPI.

The v1beta3 is going to fix inconsistencies on omitempty/+optional and the lack of ObjectMeta, but still, the fact that there are multiple versions of the Kubeadm config is a problem for higher-level tools like CAPI.

How can we make the Kubeadm config more easy to consume?

[2019-11-04 09:04] christian-2 commented on #1712
I am facing the same issue when attempting to add a second master to a v1.15.2 cluster with `kubeadm join ...`. An etcd snapshot taken on the first master is 19M in size. `kubelet.service` and the static pods (`etcd`, `kube-apiserver`, `kube-controller-manager`, `kube-scheduler`) came up on the second master, and an etcd snaptshot taken on the second master is also 19M in size. (So maybe the error

[2019-11-04 15:50] NeilW commented on #1223
Any movement on this? I'm running up against it to support autoscaling features within a kubeadm deployed cluster.

Current workaround is to turn of CA checking of the kubelet certificate.

[code]

[2019-11-04 15:52] NeilW commented on #1602
Helm workaround is to turn off TLS checking off the metrics server

[code]

[2019-11-04 15:53] neolit123 commented on #1223
not really, it's blocked on design proposals.
there are a number of workarounds but the work of documenting those stalled:
https://github.com/kubernetes/kubeadm/issues/1602

this might not be ideal for all users.

[2019-11-04 16:04] neolit123 commented on #1712
hi, are you also getting:

?

[2019-11-04 16:12] neolit123 commented on #1881
expose converters on the side of public types and don't use internal types as a stepping stone for conversion.

which roughly translates to A) don't use api-machinery B) redesign api-machinery.

[2019-11-04 16:39] neolit123 commented on #1881
@fabriziopandini @timothysc @ncdc
as @rosti attempted to explain this is not a kubeadm <-> capi only problem.

this is a problem for:
/wg component-standard

kubeadm has the same problem of consuming the kubelet config. if v1beta1 is gone but the users still use it it should just fail. then it's the responsibility of the user to convert to the new preferred type.

discussions about making all comp

[2019-11-04 16:42] detiber commented on #1881
So controller-runtime has built some tooling around conversions using only external types. I don't know how re-usable it might be for the purposes of kubeadm, and the dependency tree could present quite a few issues at least until kubeadm moves out of tree.

[2019-11-04 20:38] fabriziopandini commented on #1871
@hypnoglow many thanks for helping with this effort!
/close

[2019-11-04 20:38] #1871 closed

[2019-11-04 20:44] neolit123 opened #1884 "extarnal-ca: user signed api-server certificate fails during control-plane join"
originally reported here by @willzhang:
https://github.com/kubernetes/kubernetes/issues/84644

custom apiserver cert
[code]

[code]

[code]

i'm going to assume that this is a problem present in latest master still.

the problem is here:
https://github.com/kubernetes/kubernetes/blob/34db8e08c194d8bd35fbed7778c6cb8f8bb47273/cmd/kubeadm/app/phases/certs/certs.go#L234

kubeadm tries to validate if th

[2019-11-04 20:53] danbeaulieu commented on #1432
@neolit123 I don't believe this is fixed in 1.16.2.

[code]

[code]

To test, I created a 2 node HA cluster, then modified the ClusterStatus in kubeadm-config map to add in 3 bogus nodes `https://10.97.129.1:2379,https://10.97.129.2:2379,https://10.97.129.3:2379` and then ran kubeadm join.

Current work around is to edit the kubeadm-config configmap to remove any "bad" nodes before running `join .

[2019-11-04 21:11] neolit123 commented on #1881
reducing the priority as this is currently non-blocking, given v1beta1 is going to be available until 1.20.

[2019-11-04 21:27] neolit123 commented on #1432
@danbeaulieu
what happens if you deploy kubeadm 1.16 with etcd `3.3.17-0` as the image tag (this is possible using the kubeadm config).

as you can see we already switched 1.17 to this version, but such backports (e.g. for 1.16) are tricky:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go#L427

[2019-11-04 21:33] danbeaulieu commented on #1432
I don't believe this is an etcd server version issue, I think it is an etcd client version issue used by kubeadm. The client is not fault tolerant to bad endpoints in the endpoint list if the first endpoint is bad.

There are a lot of k/k and etcd related PRs and issues related to this bug but it isn't clear if this was ever actually fixed in 1.16 kubeadm.

[2019-11-04 21:38] neolit123 commented on #1432
i don't think that folks ouside of the etcd maintainers understand this.

we updated the client in master / 1.17 too.
you could build kubeadm from source and try again?

[code]

[2019-11-04 22:30] rbtr commented on #1432
@danbeaulieu this should be fixed by using the client in [etcd versions > 3.3.14](https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.3.md#breaking-changes-1)
@neolit123 it's unclear to me which version of the etcd client that kubeadm is actually using as k/k has 3.3.10 and 3.4 in the go.mod. i'm going to see if i can pin that down and might open another issue/PR once i have figured it out

[2019-11-04 22:44] neolit123 commented on #1432
the etcd client version used in the latest 1.16 is v3.3.17:
https://github.com/kubernetes/kubernetes/blob/release-1.16/go.mod#L41

but latest 1.16 does not mean latest stable 1.16.

[the SHA](https://github.com/kubernetes/kubernetes/releases/tag/v1.16.2) for the v1.16.2 tag tells me that the etcd client is at v3.3.15 there:
https://github.com/kubernetes/kubernetes/blob/c97fe5036ef3df2967d086711e6c

[2019-11-04 22:51] rbtr commented on #1432
etcd v3.3.15 release notes specifical reference that it fixes [this issue](https://github.com/kubernetes/kubernetes/issues/72102)...
regardless, as of [this commit](https://github.com/kubernetes/kubernetes/commit/3b274fad2a719dc1fd0eaef6c55a0d344db10242) kubeadm should be using the same 3.4 version as the rest of k/k so it should _actually_ be fixed in master regardless of what 3.3.x revision the

[2019-11-04 23:08] neolit123 commented on #1432
^ @danbeaulieu

yes, for 1.17 and master kubeadm and k8s is now using the 3.4 client.
the go.mod and import changes made this more difficult to see because the new etcd repository has no tags.

[2019-11-05 05:47] christian-2 commented on #1712
@neolit123 Yes, exactly.

[2019-11-05 07:21] liutao6869 opened #1885 "kubeadm managed kubelet fails when using cri-o socket"
## Versions
kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:15:39Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2"

[2019-11-05 08:23] SataQiu commented on #1885
Thanks for reporting this @liutao6869
I think you can try to use your repository by `--image-repository` flag.
[code]

[2019-11-05 08:43] SataQiu commented on #1884
/assign

[2019-11-05 09:47] liutao6869 commented on #1885
Thank you very much,  I had downloaded images but another error occurred:
[code]

My docker image has the both.

[2019-11-05 09:53] SataQiu commented on #1884
AFAIK, this may require manually specifying the listening address of the newly added control-plane.

Have you tried this command?
[code]

ref: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L352

[2019-11-05 09:57] SataQiu commented on #1872
/assign

[2019-11-05 09:57] liutao6869 commented on #1885
Execute `sudo systemctl status -l  kubelet` shows:
[code]

[2019-11-05 10:00] SataQiu commented on #1872
/unassign

[2019-11-05 10:02] SataQiu commented on #1872
I'm also very supportive of adding this feature！

[2019-11-05 10:11] SataQiu commented on #1885
It looks like your `kubelet` startup failed.
You can try the following command to see more kubelet error messages:
[code]

[2019-11-05 12:04] liutao6869 commented on #1885
`journalctl -xeu kubelet` Output :
[code]

[2019-11-05 14:45] neolit123 commented on #1712
could it be that the retry of ~12 seconds between joining the second and third etcd member is not enough in your case?

[2019-11-05 14:49] neolit123 commented on #1885
/triage support

[2019-11-05 14:51] neolit123 commented on #1885
on a quick look, i suspect this is related to your `/var/run/crio/crio.sock`.

is this is valid socket path - what created it?
you should be using `unix:///var/run/crio/crio.sock`. also kubeadm has autodetection for CRI sockets, so you can try removing the flag `--cri-socket /var/run/crio/crio.sock` from `kubeadm init ...`

[2019-11-05 16:16] christian-2 commented on #1712
There is currently no third etcd member in my setup. The issue already occurs when I try adding a second master node (with stacked control plane nodes) to an existing single-master cluster.

Where do the 12 seconds that you cite come from? Is this a configurable timeout that I could increase?

[2019-11-05 16:45] Joseph94m opened #1886 "Control plane certs not working with external etcd"
## What keywords did you search in kubeadm issues before filing this one?
upload-certs
kubeadm join
control plane
master join
certificate

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):1.15

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.5
- **Cloud provider or hardware configuration**: physical machines
-

[2019-11-05 16:46] neolit123 commented on #1712
you can try building kubeadm from source:
[code]

the timeout is here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/etcd/etcd.go#L41-L48

but i don't think this will solve the problem. seems to me something else is at play.

do you have the option to try 1.16.2?

[2019-11-05 17:04] neolit123 commented on #1886
i'm pretty sure you need to pass the --config to the phase command too.
please try that.

[2019-11-05 17:05] neolit123 commented on #1886
an issue like that was logged in kubernetes/kubernetes the other day.

[2019-11-05 17:33] neolit123 commented on #1872
i have added this as an agenda item for the meeting on wednesday.
https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit

[2019-11-05 18:24] jobin-AT commented on #1423
if you are running on openstack or any cloud please make sure to allow the ports in security groups
in my case this was the error

[2019-11-06 02:23] liutao6869 commented on #1885
Yes, It is. I install CRI-O as runtime for Kubernetes.

When I execute `kubeadm init `,  it output:
[code]

[2019-11-06 02:41] neolit123 commented on #1885
does it work with docker as the --cri-socket?

[2019-11-06 03:17] liutao6869 commented on #1885
Result as below:
[code]

[2019-11-06 03:26] neolit123 commented on #1885
what happens if you try crictl standalone without kubeadm?
does it still get this error?

you seem to have multiple container runtimes installed, which confuses kubeadm and the probably the kubelet too. but i suspect there is also something else wrong with your setup.

try installing a single container runtime if you want a cleaner user experience..

/assign @bart0sh @rosti
who know more about thi

[2019-11-06 05:41] liutao6869 commented on #1885
Sorry, I don't known how to use `crictl`.

Yes, I had installed docker-ce, CRI-O, I mistakenly think k8s need both of them.

 I remove docker-ce, CRI-O and just install docker-ce,  then it's ok. Thank you verymuch.

[2019-11-06 07:49] christian-2 commented on #1712
@neolit123 Thx for the exact pointer into source code.

Yes, the option exists. I anticipate upgrading the cluster to v1.16.2 and then adding a third master/etcd. (Other tasks first on my list, though.)

[2019-11-06 09:33] bart0sh commented on #1885
@liutao6869

This looks like a networking issue to me. Are you behind a http proxy?  If so did you set *PROXY environment variables correctly?

[2019-11-06 09:43] Joseph94m commented on #1886
Hello, thank you for your advice.
In fact using ` sudo kubeadm init phase upload-certs --upload-certs --config kubeadm-config.yaml` did fix our issue. Can't believe it was that easy.
In our defense, the official doc does not explicit it: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#uploading-control-plane-certificates-to-the-cluster

Is this the appropriate issue to ask f

[2019-11-06 11:22] Davidrjx commented on #1688
@djbooya now i am facing another problem, though coredns shows running, it can not work as domain resolution failure.

[2019-11-06 12:14] neolit123 commented on #1886
yes, definitely.

please log an issue in kubernetes/website and ping me on it., also if you send the PR yourself it would be much appreciated!

[2019-11-06 12:14] #1886 closed

[2019-11-06 13:10] neolit123 commented on #1885
+1

i've noticed:

W1106 11:14:51.894783   47170 version.go:102] falling back to the local client version: v1.16.2

which probably means the is no connectivity to google GCR / GCS.
your are going to have to use a custom registry using kubeadm's --image-repository flag, but also setup CRI-O to pull the pause image from this custom registry.

i'm going to close this as not a kubeadm bug, please cont

[2019-11-06 13:10] #1885 closed

[2019-11-06 14:43] bart0sh commented on #1885
Considering that docker is able to download images I tend to suspect incorrect proxy configuration. It's probably configured correctly for docker, but not for CRI-O and kubeadm.

[2019-11-06 18:02] neolit123 commented on #1872
@TheLastProject
we had a discussion about this during the office hours and @fabriziopandini proposed that instead we add a `--certificate-key` as a flag to `kubeadm create token` command next to the `--print-join-command` flag. this will allow users see:
[code]

i'm not a big fan of this solution, but probably we can go for it.
if you want to update your PR, the deadline for non-bug fixes in 1.17

[2019-11-06 18:05] TheLastProject commented on #1872
Not a huge fan of that solution either (sadly wasn't able to join in because Zoom bugged out and insisted I waited for the host to start the meeting even though that apparently already happened...) but it's better than nothing, I'll implement that.

[2019-11-06 18:16] neolit123 opened #1889 "decide how to handle the change of hyperkube becoming third-party"
this was discussed during the kubeadm office hours of 6th Nov.

TL;DR hyperkube will become community maintained and it is not clear if we should continue to support it in kubeadm.

its version might not follow the k8s version and also with the current v1beta2 `useHyperKubeImage` flag one would need to upload the rest of the images like etcd and coredns to their custom repository. they might also

[2019-11-06 18:17] neolit123 commented on #1872
ok, sounds good.

[2019-11-06 20:11] #1801 closed

[2019-11-06 20:46] fabriziopandini commented on #1889
Pending feedback from the community,
I'm +1 for deprecating/removing the useHyperKubeImage flag in v1beta3 because I don't see how we can provide guarantee about this feature w/o a clear roadmap and a consolidate release strategy for the hyperkube project. Kustomize can be a good replacement and it is for sure best suited to follow possible evolutions of the hyperkube project.

[2019-11-06 21:15] neolit123 commented on #1877
apparently the controller is already enabled by default, so no need for kubeadm changes:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubeapiserver/options/plugins.go#L143

[2019-11-06 21:15] #1877 closed

[2019-11-06 22:14] tokiwinter opened #1890 "kubeadm init times out with custom config file"
## Versions

**kubeadm version** (use `kubeadm version: &version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"c97fe5036ef3df2967d086711e6c0c405941e14b", GitTreeState:"clean", BuildDate:"2019-10-15T19:15:39Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}`):

**Environment**:
- **Kubernetes version** ```Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"

[2019-11-06 22:18] tokiwinter commented on #1890
It seems to be an issue connecting to etcd
[code]
Which is binding to an invalid address
[code]

[2019-11-06 22:19] luxas commented on #1890
Does it work if you _only_ specify the kubeproxy YAML document, omitting all other kubeadm-specific YAML? Then everything kubeadm-related will use the defaults, which are dynamically detected.
`kubeadm config print init-defaults` should only be used for advisory cases, not programmatically.

[2019-11-06 22:26] tokiwinter commented on #1890
If I do that, I receive:

[code]

[2019-11-06 22:30] tokiwinter commented on #1890
I can get things to work by modifying the generated YAML config and setting:
[code]
To the correct master IP of the node, though I'm sure this is not the correct way of doing things.

[2019-11-07 00:11] neolit123 commented on #1890
+1

it defaults an address to `1.2.3.4` which should not be used:
[code]

i think the minimal configuration you want to use is:
[code]

[2019-11-07 00:21] neolit123 opened #1891 "potential regression related to kube-proxy and downward API"
i can confirm this both locally and by checking this test job:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-17-on-1-16

[code]

after deployment the kube-proxy pod starts occasionally restarting.

steps to reproduce:
- use kubeadm at 1.17 with kubernetes 1.16
- kubelet 1.17 or 1.16 doesn't seem to matter (in any case the skew should be supported)
- call `sudo kub

[2019-11-07 00:24] neolit123 commented on #1891
this tells me that the downward API action we do here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L81
no longer works.

[2019-11-07 00:31] neolit123 commented on #1891
i cannot reproduce the problem if using kubeadm 1.16 with k8s 1.16.

[2019-11-07 00:49] neolit123 commented on #1891
looks like the problem is here:
https://github.com/kubernetes/kubernetes/commit/3993c42431a622fd5df44c63d2d6d8192be4b4f0#diff-3fe8f86ea86b2e19191e87cce4e90cc9

we are stomping the kube-proxy env-vars with the *_PROXY host env-vars.
cc @yastij

/assign
/lifecycle active

[2019-11-07 02:44] tokiwinter commented on #1890
This works, thank you

[2019-11-07 03:31] neolit123 commented on #1890
thanks for confirming.

[2019-11-07 03:31] #1890 closed

[2019-11-07 06:32] ereslibre commented on #1889
+1 for deprecation/removal on v1beta3. I can take ownership of that.

I don't understand this statement @neolit123, can you elaborate?

[2019-11-07 08:20] SataQiu commented on #1889
also +1 for deprecation/removal on v1beta3
Since `hyperkube` will be moved out from k/k, if we continue to support it, this will increase the complexity of `kubeadm`, and we may not benefit from it.

[2019-11-07 10:23] ejaivar commented on #1153
I was getting below error while running kubeadm init i.e. nodexx not found..

[root@node01 ~]# journalctl -xeu kubelet
Nov 07 10:34:02 node01 kubelet[2968]: E1107 10:34:02.682095    2968 kubelet.go:2267] node "node01" not found
Nov 07 10:34:02 node01 kubelet[2968]: E1107 10:34:02.782554    2968 kubelet.go:2267] node "node01" not found
Nov 07 10:34:02 node01 kubelet[2968]: E1107 10:34:02.829142

[2019-11-07 12:02] veera2019 opened #1893 "The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp [::1]:10248: connect: connection refused."
i have installed kubernetes on rhel7.4
when i run kubeadm init i am getting error like
 **The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp [::1]:10248: connect: connection refused.**

Unfortunately, an error has occurred:
        timed out waiting for the condition

This error is likely caused by:
        - The kubele

[2019-11-07 12:37] #1891 closed

[2019-11-07 14:09] neolit123 commented on #1889
given hyperkube is not longer at GCR, one needs to upload it to a custom registry and set imageRepository to a custom value, this however means other required images need to be uploaded there too.

[2019-11-07 18:39] neolit123 commented on #1893
try calling kubeadm reset, then kubeadm init again and look at the kubelet log right after this happens using `journalctl -xeu kubelet` and share them here.

/triage support

[2019-11-07 18:39] neolit123 commented on #1805
/assign
/lifecycle active
/remove help

[2019-11-07 18:43] rajibmitra commented on #1844
/assign rajibmitra

[2019-11-07 18:45] neolit123 commented on #1844
hi, @Klaven
@rajibmitra wanted to take a shot at this problem and get more familiar with the kubeadm development.

[2019-11-07 19:13] neolit123 commented on #1889
looks like it was decided to continue publish the image to GCR for a few more release, but its refactored and will be much bigger in size, which defeats the purpose of the image.

[2019-11-07 21:39] danbeaulieu commented on #1432
@neolit123 do you see any thing that could explain why this doesn't seem to be fixed in 1.16.2 (v3.3.15 client) according to my reproduction steps? Is anyone able to reproduce?

[2019-11-07 21:43] neolit123 commented on #1432
nothing on the kubeadm side at least. we are planning to add e2e tests for removing and re-adding nodes eventually, but everyone is out of bandwidth ATM:
https://github.com/kubernetes/kubeadm/issues/1661

please try 1.17 as well - there are already pre-releases with images out. as mentioned above, it bundles etcd 3.4 server and a newer client.

[2019-11-08 03:53] alex-vmw commented on #1850
@neolit123  Can we make progress on this ticket in the 1.17 timeframe? Thanks.

[2019-11-08 03:55] neolit123 commented on #1850
waiting on feedback from @fabriziopandini

[2019-11-08 04:24] veera2019 commented on #1893
Thanks i have done kubectl reset and i have increased the memory size and it's running fine.
can you tell me how to make single master node cluster i want to set up in one instance only master and node how can we do this

[2019-11-08 04:33] neolit123 commented on #1893
thanks for confirming that it works.

calling `kubeadm init` on one machine will give you a single control-plane instance (one master). then you can join workers to it. if you don't join any new control-planes using `kubeadm join control-plane...` you will remain with a single control-plane.

[2019-11-08 04:33] #1893 closed

[2019-11-08 08:06] djbooya commented on #1688
@Davidrjx - not sure what that issue is.

[2019-11-08 08:18] Davidrjx commented on #1688
@djbooya in ha kubernetes v1.16.0 cluster, coredns can not resolve domain, until now not clear why

[2019-11-08 10:08] cfreebuf commented on #1092
thanks,worked for me!

[2019-11-08 11:41] neolit123 commented on #1688
did you try these? https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#coredns-pods-have-crashloopbackoff-or-error-state

[2019-11-08 20:28] neolit123 commented on #1872
https://github.com/kubernetes/kubernetes/pull/84591 is merging.
thanks @TheLastProject

LMK if you want to help with other areas of kubeasm. we have a number of help-wanted ticktes,

[2019-11-08 20:28] #1872 closed

[2019-11-09 19:12] neolit123 opened #1898 "kinder: stop calling etcdctl from within the etcd containers"
with all control-plane images and etcd going for distroless, see:
kubernetes/kubernetes#70249

we need to stop executing `etcdctl` from within the etcd containers in kinder.

potential solution is to get the etcdctl version that we want from the etcd tarballs and execute it from a temporary directory:
https://github.com/etcd-io/etcd/releases

cc @fabriziopandini

[2019-11-09 20:11] neolit123 commented on #1694
adding help-wanted to see if someone wants to take this one.
/help

[2019-11-09 20:13] neolit123 commented on #1849
please re-open if needed.

[2019-11-09 20:13] #1849 closed

[2019-11-09 20:17] neolit123 commented on #1350
this is too late for 1.17.
/milestone v1.18
also if someone has the time please create a proposal, ideally in google doc and let's discuss it.
/help

[2019-11-09 20:18] neolit123 commented on #1672
moving to Next milestone.

[2019-11-09 20:19] neolit123 commented on #1756
this will be resolved once https://github.com/kubernetes/kubeadm/issues/1318 is resolved.
please watch that ticket.

[2019-11-09 20:19] #1756 closed

[2019-11-09 20:25] tokiwinter opened #1899 "How to pass --pod-network-cidr via config"
I am stuck trying to initialise a `kubeadm`-based master.

I am currently mixing command line params as well as a config file, which it would appear is not allowed, although the guide shows the passing of the `--pod-network-cidr` flag when installing a particular network overlay such as flannel. I have a config file for `kube-proxy` to work properly.

[code]
Would appreciate assistance on how to g

[2019-11-09 20:33] neolit123 commented on #1899
/triage support

flag and config mixtures are problematic in k8s components and we are working on creating a standard policy. until then please use config only for options present in both locations.

see
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

Would appreciate assistance on how to get --pod-network-cidr into my config file which currently looks like this:
[code]

[2019-11-09 20:33] #1899 closed

[2019-11-09 20:35] tokiwinter commented on #1899
Thanks much

[2019-11-09 21:03] neolit123 commented on #1327
@yastij i've sent a PR for this https://github.com/kubernetes/kubernetes/pull/85043

[2019-11-09 21:38] neolit123 commented on #1356
sent PR here: https://github.com/kubernetes/kubernetes/pull/85044

[2019-11-10 10:14] fabriziopandini opened #1900 "kinder: stop caching kubeadmVersion"
In kinder, we are caching some info at node level, but this created some problems when those info changes during the node lifecycle, e.g. due to upgrade.

So we want to make sure to remove caching of all the information that might change.

This issue is about removing caching for the `kubeadmVersion`, and this requires to:
- Remove the variable `kubeadmVersion ` from [here](https://github.com/kube

[2019-11-10 10:18] fabriziopandini commented on #1898
Another option is described here https://mauilion.dev/posts/etcdclient/

[2019-11-10 12:25] #1805 closed

[2019-11-10 13:40] fabriziopandini opened #1902 "kinder: remove few kind dependencies"
As part of a broader effort for simplifying the upgrade of kind dependency inside kinder, we should remove following dependencies with calls to kinder methods that provide similar features.

https://github.com/kubernetes/kubeadm/blob/1d66b0bda0976526ec169988a9d5d6109e6ca120/kinder/cmd/kinder/get/get.go#L23-L25

I'm going to update details as soon as https://github.com/kubernetes/kubeadm/pull/1901

[2019-11-10 15:51] neolit123 commented on #1898
this would require us to build our own image that has etcdctl,
the `k8s.gcr.io/etcd:VERSION` image will not have it at some point.

[2019-11-10 21:27] #1327 closed

[2019-11-11 02:05] Davidrjx commented on #1688
docker version is officially recommended , selinux is not installed in debian distribution but "Modify the coredns deployment to set allowPrivilegeEscalation to true" indeed not applied

[2019-11-11 02:29] SataQiu commented on #1900
/assign
/remove-help

[2019-11-11 02:59] SataQiu commented on #1902
/assign

[2019-11-11 04:43] anguslees commented on #1535
ECDSA keys are *significantly* faster fwiw, particularly on arm32.  I could not enable TLS peering certs on my rPi2 cluster and have the health checks (TLS handshakes) complete in less than the etcd hard-coded connect timeout with RSA keys - ECDSA keys work fine.

[2019-11-11 09:48] fabriziopandini commented on #1898
pro and cons.
considering the latest breaking changes in etcd, I would prefer to not rely on etcd tarballs...

[2019-11-11 09:54] fabriziopandini commented on #1535
@rojkov thanks for the feedback.
@neolit123 @timothysc we should start to consider if/how to make ECDSA became the kubeadm default

[2019-11-11 12:13] fabriziopandini commented on #1850
This works already if passing the kubeadm config file e.g.

[code]
I'm considering to send a PR making kubeadm to read the config from the cluster, failing back to current behavior if the cluster is not available or the read fails.

[2019-11-11 13:47] oneslideicywater opened #1906 "coredns is always pending after apply flannel.yml"
## What keywords did you search in kubeadm issues before filing this one?

I have view [issues#1178](https://github.com/coreos/flannel/issues/1178),it doesn't work

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**

[2019-11-11 14:50] fabriziopandini commented on #1850
I consider etcd cert renew a command that should work at best effort (do whatever is possible), so I don’t see problems in sending such a patch.

However, according to my knowledge about ongoing discussions on etcd management at SCL level, we should make clear here (and possibly also on https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/) that the targ

[2019-11-11 15:32] ereslibre commented on #1889
Yes, thanks for elaborating.

I think it would make sense for us to deprecate and remove the `useHyperKubeImage` boolean.

If we want to provide a similar feature (not tied to `hyperkube` functionality though), then we can think about adding `ImageName` attribute that we have as `TODO` in [all our types](https://github.com/kubernetes/kubernetes/blob/36acfecd4bdf8ed18d494878563e1c0c6e4d96c1/cmd/kub

[2019-11-11 15:33] rosti commented on #1889
/assign

[2019-11-11 15:43] rosti commented on #1889
We used to have that in the old days and we replaced it with the bool. The reason was, that the bool was easier to manage and folks used it only for the hyperkube image.
With the advent of advanced configurations, the image of the static pod backed components can be changed. The only slightly more problematic thing would be kube-proxy, but then using hyperkube for it has never been a good idea. Pl

[2019-11-11 16:05] neolit123 commented on #1535
@anguslees

i think i've seen related issues before.
the workaround until now was patching the timeouts to be longer.

but isn't 15 seconds a bit too much even for rpi?

people were considering race conditions at some point on ARM...
also the kubeadm kubeconfig logic randomly panic-ed for a rpi2 certain user and that did not make any sense (possible compiler bugs).

rpi in general is not supported

[2019-11-11 16:26] rojkov commented on #1535
I might get back to this. Will update tomorrow or on this Wednesday.

[2019-11-11 19:52] neolit123 commented on #1906
/triage support

try another CNI plugin, please.
flannel is not as well maintained as Calico or WeaveNet.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

also what logs are you getting from the coredns pods?

[2019-11-11 20:32] neolit123 opened #1907 "clarify the usage of kubeadm commands in our external etcd guide"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/

currently this page contains management of external etcd using kubeadm commands.
the plan for the future is that [etcdadm](https://github.com/kubernetes-sigs/etcdadm) will be responsible for this.

we want to make it clear to the users that management of certficates and upgrades for external etcd nod

[2019-11-11 20:56] #1356 closed

[2019-11-11 22:46] #1850 closed

[2019-11-12 01:36] oneslideicywater commented on #1906
@neolit123

I don't want alternatives,just provide some work around about that.bro

I don't have log about pods that run `coreDNS`. but some more information here when diving in documents a little bit
[code]
and

[code]
but I got nothing when
[code]
in either pod
[code]
I wonder
- whether coredns is not allowed run on a master?

[2019-11-12 01:41] oneslideicywater commented on #1906
I got more information about my situation:
[code]

[2019-11-12 01:46] SataQiu commented on #1900
/close

[2019-11-12 01:46] #1900 closed

[2019-11-12 01:47] oneslideicywater commented on #1906
my flannel config file when use `kubectl apply -f` ,I download it and modify it,here's the snippet
[code]

[2019-11-12 01:49] SataQiu commented on #1907
/assign
/remove-help

[2019-11-12 01:54] neolit123 commented on #1906
looks like the flannel image cannot be pulled.
you can try downloading the image and uploading it to registry that the kubelet can pull from - e.g. a local one.

i'm sorry but this is not a kubeadm issue.

[2019-11-12 01:54] #1906 closed

[2019-11-12 02:10] Davidrjx opened #1908 "Kubeadm init phase: kubelet-start failed"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.5", GitCommit:"20c265fef0741dd71a66480e35bd69f18351daea", GitTreeState:"clean", BuildDate:"2019-10-15T19:14:19Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Kubernetes versi

[2019-11-12 02:48] neolit123 commented on #1908
/triage support
please provide the whole list and exact commands you are executing.

[2019-11-12 02:53] Davidrjx commented on #1908
@neolit123 ok
kubeadm init config file looks like
[code]
and exec `sudo kubeadm init --config kubeadm-config-v1.15.5.yaml --upload-certs`

[2019-11-12 02:59] Davidrjx commented on #1251
@neolit123 great thanks

[2019-11-12 03:03] neolit123 commented on #1908
is the 1 before 6443 intentional?

[2019-11-12 03:05] Davidrjx commented on #1908
yes, just to distinguish

[2019-11-12 03:12] neolit123 commented on #1908
in that case:

the port here has to match too.

[2019-11-12 03:23] Davidrjx commented on #1908
@neolit123 16443 is LB listen port. what you said means that controlplane port should be consistent with LB one?

[2019-11-12 03:31] neolit123 commented on #1908
i''m pretty sure that's the case, yes.

[2019-11-12 03:34] Davidrjx commented on #1908
@neolit123 ok ,that is very great and i will have a try. in my case, i need to reserve localAPIEndpoint because of internal IP binding as default.

[2019-11-12 03:45] Davidrjx commented on #1908
@neolit123 that seems wrong, reporting port in use if localAPIEndpoint same with LB

[2019-11-12 04:01] neolit123 commented on #1908
this should not happen.
something else is wrong in your setup.

try removing this completely:
[code]
and let kubeadm bind.

[2019-11-12 04:02] anguslees commented on #1501
@neolit123 (or others?) There was a question on #kubernetes-dev today regarding the note you added to the docs, and I was unable to answer it :)   Can you describe further why a node *re-join* is necessary here?

My rudimentary understanding suggests a node **reboot** would be sufficient to trigger systemd/dockerd/kubelet to recreate the podsandboxes correctly under the new regime.  (Specifically:

[2019-11-12 04:20] neolit123 commented on #1501
join is the easier option for users.

on theory yes, if there are no pods to sandbox, then switching the cgroup driver might just work. i have not tried. if you have the time, please try this and if it works, feel free to PR the note for k/website.

probably someone at #sig-node is more competent on such topics.
in any case i doubt they recommend switching drivers too.

[2019-11-12 04:54] Davidrjx commented on #1908
in that case, how to bind internal or specific address?

[2019-11-12 05:03] Davidrjx commented on #1908
@neolit123 otherwise, on controlplane nodes, i start nginx as LB whose port is same with controlPlaneEndpoint

[2019-11-12 14:18] neolit123 commented on #1908
ok, in that case you need to specify the bind address and port.

it means that kubeadm assigns an address that you don't want from your default network interface.
it's ok to use `localAPIEndpoint` for `kubeadm init` and `join`.

i think you need to share logs from the kubelet and api-server.

your LB is set to listen on 6443, make sure this is the same as the port in `controlPlaneEndpoint`.

i'm g

[2019-11-12 14:18] #1908 closed

[2019-11-12 19:57] neolit123 commented on #1638
this work is done. thanks @yastij !! :tada:
/close

[2019-11-12 19:57] #1638 closed

[2019-11-12 21:15] chuckha commented on #1851
I believe I found the issue.

Let's start [here][beginning].

This is a fairly straight forward pattern.

* [Start a long-running go routine][start].
* [Wait for a timeout][wait] then return.

But here's the gotcha, a [wait group][wg].

We are [waiting][waiting] for the wait group to return *after* the [timeout][timeout].

This is fine if the wait group ever returns, but the wait group only finish

[2019-11-12 21:44] neolit123 commented on #1851
great investigation @chuckha
please do send a fix if you want. code freeze is Thursday EOD pacific time

ideally we shouldn't use context here for now, as it is a much larger refactor.

IMO we should stop doing PollImmediateInfinite in discovery and do PollImmediate with a sensible timeout of something like 2 minutes.

[2019-11-12 22:22] xsaardo commented on #1587
Kubernetes version
[code]
Kubeadm version
[code]
Kubectl get pods:
[code]
kubectl get nodes -o wide
[code]
We have been trying to add an additional fourth node to the cluster using kubeadm join command
`kubeadm join 192.168.142.101:6443 --token rp0dqg.t7jdtltndurri2hh     --discovery-token-ca-cert-hash sha256:b740086b5dfba97b4e416a95816b19383181b5785b9bc0b2480c43c4dfd5b1d7 -v 256`
with the followi

[2019-11-12 22:46] neolit123 commented on #1587
could this be a case where the bootstrap token used for join is expired?

[2019-11-12 23:10] xsaardo commented on #1587
@neolist123 we have tried recreating the token so it should still be valid

[2019-11-12 23:22] neolit123 commented on #1587
try enabling --v=10 for "join" and observe the API call failures.
this might give a better indication of what is going on.

[2019-11-12 23:41] xsaardo commented on #1587
Here's the log from the `kubeadm join` command
[cuong-e4n1.log](https://github.com/kubernetes/kubeadm/files/3838691/cuong-e4n1.log)

[2019-11-12 23:44] xsaardo commented on #1587
Here's the output of `kubeadm join`
[kubeadm-join.log](https://github.com/kubernetes/kubeadm/files/3838703/kubeadm-join.log)

[2019-11-12 23:58] neolit123 commented on #1587
the --v=10 logs just confirm that it's retrying.
right after this happens can you dump a kubelet log using `journalctl -xeu kubelet` too?

what is different about this node?
what other nodes do you have in the cluster?

[2019-11-13 02:03] Davidrjx commented on #1908
@neolit123 thanks, again i will make some verification

[2019-11-13 06:53] Inv0k-er commented on #1688
Hello. Sorry but how to fix that issue ?   I have a similar problem.

[2019-11-13 07:43] Davidrjx commented on #1688
@neolit123 i have tried https://github.com/kubernetes/kubeadm/issues/1688#issuecomment-551641881, but still not work

[2019-11-13 07:45] Davidrjx commented on #1688
@Inv0k-er currently, also i have not fixed it in kube v1.15. but kube v1.16 not this error

[2019-11-13 08:16] djbooya commented on #1688
BTW: I am running on CentOS 7.  Not sure if that makes any difference for you folks having issues with Ubuntu.  We have SELinux disabled in our deployment.

[2019-11-13 08:43] #1907 closed

[2019-11-13 10:46] fabriziopandini opened #1912 "Add retries to all the etcd calls"
As we are running kubeadm with more master nodes and in environments with different network performances, like the clouds, all the interactions between kubeadm and etcd are becoming a potential source of flakes that impacts both `join --control-plane` and `kubeadm upgrade`.

In order to make kubeadm more resilient to network problems/temporary etcd slowdowns, we should extend the implementation of

[2019-11-13 12:52] fabriziopandini opened #1913 "Fix log entries in the kubeadm output"
In the kubeadm output there are some logs entry that should be fixed:

[code]

Logs should be linked to a log level or converted into fmt.Printf similar to other outputs

/cc @neolit123 @rosti

[2019-11-13 13:26] neolit123 commented on #1688
we are not seeing problems in our CI signal that uses Ubuntu nodes, so it must setup specific.

[2019-11-13 14:31] vikramkhatri commented on #1587
@neolit123 - Here is the output.
[code]

I appreciate your help. We have searched all possible google suggestions but unable to resolve this. This started when we did `kubeadm reset` to rebuild the cluster. This node was the part of the cluster before but after the last reset - something is preventing it to join. Your insight will be very helpful. I

[2019-11-13 15:28] vikramkhatri commented on #1587
Ok - Finally, this is solved. The issue was this.

When we did `kubeadm reset` and it worked. It said that it deleted the directory.
[code]
And we assumed that it did what it said. When I checked `/var/lib/kubelet` - it was still there. I tried deleting this manually, and it failed for the `pods` directory that was there from previous Kubernetes installation. The reason - it was not able to delete

[2019-11-13 15:52] neolit123 commented on #1587
what is your kubeadm version?

ultimately kubeadm reset is a best effort command and if something is protected we don't want to touch it. what we can fix here is giving a better indication if a delete failed.

[2019-11-13 16:08] vikramkhatri commented on #1587
Thank you as that will be very helpful to know that something did not go right.

[code]

[2019-11-13 16:14] neolit123 commented on #1587
i should have asked for the output from `reset` too.
did it not show a warning at least?

we did some refactoring for reset in 1.16 and it's not clear to me whether this is already fixed or not.

[2019-11-13 16:21] vikramkhatri commented on #1587
I was able to scroll up and get the output for `kubeadm reset` when this directory was there. It did not show a warning for not able to delete a file or a directory.
[code]

After above:
[code]

[2019-11-13 16:28] neolit123 commented on #1587
i will log an issue with your details and investigate if this is fixed in 1.16
thanks.

[2019-11-13 16:31] neolit123 opened #1914 "kubeadm reset does not warn if it cannot delete folders"
as per @vikramkhatri's comment it seems if `kubelet reset` cannot delete a folder it does not show any warnings about that and can create complications for the user setup.

this is confirmed as a problem in 1.15, but we need to check what is the state in later versions.

https://github.com/kubernetes/kubeadm/issues/1587#issuecomment-553477131

[2019-11-13 17:25] #1753 closed

[2019-11-13 17:50] neolit123 commented on #1600
the work here is done kubeadm no longer depends on k/k

[2019-11-13 17:50] #1600 closed

[2019-11-13 18:07] stealthybox commented on #1220
We aspire to enable users to do this with an addon operator + the upcoming kubeadm addon-installer library/component-config integration.

See https://github.com/kubernetes-sigs/addon-operators/issues/34

Closing in favor of that approach.
( +3 from [kubeadm office hours - Nov13](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.xb857zog4kub) attendees )

[2019-11-13 18:07] #1220 closed

[2019-11-13 19:43] neolit123 opened #1915 "create new survey for KubeCon EU 2020"
old survey was here:
https://docs.google.com/forms/d/1A855D054FZfdvNbx6mAa54tcZ204GmPCIhxe1UrXKd8/edit#responses

we can recycle some of the old questions but think of what else we can add.

WIP doc:
https://docs.google.com/document/d/1OokYTBOk61yWIoDzNnTDNvDfuoUswgyO8P2wzfCY4WY/edit#heading=h.4rulgguq5155

form:
https://forms.gle/WVBH3J2sTt4zvt2e9

[2019-11-13 21:04] #1851 closed

[2019-11-13 21:31] neolit123 commented on #1881
some of the complexities were discussed in today's cluster-api meeting.
https://youtu.be/NFyYd-vuB30

#### mitigating the lack of feedback from cloud init on verification:

the CABPK configuration object is user created, or at least the user maintains the part about the kubeadm config. this also means the kubeadm config can be verified on the user side.

prior a CAPI deployment that uses CABPK, ca

[2019-11-13 22:05] harshita-chaudhary commented on #1520
@zhangxingdeppon I'm facing the same issue. Could you please tell me how you resolved this?
Thanks in advance.

[2019-11-14 01:57] Davidrjx commented on #1688
in ipvs proxy mode, node iptables need turn on 443 where coredns can work

[2019-11-14 02:55] neolit123 commented on #1842
@bartwensley
did you manage to get the private registry setup working?

[2019-11-14 07:27] SataQiu commented on #1914
/assign
/remove-help

[2019-11-14 08:26] SataQiu commented on #1913
/assign

[2019-11-14 08:58] zhaoguangqiang commented on #1846
I have a problem like this.
My environment is VIP and 3 masters
I create the first master by a InitConfiguration.
Then i join the second/third master to cluster.
It can also successful join to the cluster after i reset the second master or third master.
But the first master cannot join to the cluster after i reset it.
The error message is "[kubelet-start] Waiting for the kubelet to perform the TLS

[2019-11-14 09:50] zhaoguangqiang commented on #1846
I have a problem like this.
My environment is VIP and 3 masters
I create the first master by a InitConfiguration.
Then i join the second/third master to cluster.
It can also successful join to the cluster after i reset the second master or third master.
But the first master cannot join to the cluster after i reset it.
The error message is "[kubelet-start] Waiting for the kubelet to perform the TLS

[2019-11-14 09:51] zhaoguangqiang commented on #1846
@neolit123
I have a problem like this.
My environment is VIP and 3 masters
I create the first master by a InitConfiguration.
Then i join the second/third master to cluster.
It can also successful join to the cluster after i reset the second master or third master.
But the first master cannot join to the cluster after i reset it.
The error message is "[kubelet-start] Waiting for the kubelet to perf

[2019-11-14 09:53] rosti commented on #1913
In klog, log levels exist and are applicable only to the "info" severity. Hence I presume, that you want to narrow down klog usage to the info severity and remove errors and warnings completely. Is that the case?

I do agree, that we need a more clearly defined policy in the use of klog and printfs. We have to take into account, that kubeadm is used by automated tools and end users alike. Swinging

[2019-11-14 12:36] fabriziopandini commented on #1784
This was fixed upstream by https://github.com/kubernetes/kubernetes/pull/83932
/close

feel free to reopen if I'm missing something from this thread

[2019-11-14 12:36] #1784 closed

[2019-11-14 14:06] neolit123 commented on #1913
klog.Error and klog.Warning are parts of the klog logger and are used widely in k8s.

if kubeadm decides to not use anything but klog.V(x).Info that is fine, and it has the freedom to do so. but my suggestion is to do that in one PR that swipes them all.

changed the title to reflect that we are having a discussion.

also noting that users that are annoyed by klog output can always pipe stderr to

[2019-11-14 14:27] neolit123 commented on #1846
when you reset the first master and try to re-join it, how many etcd members does the cluster have.
try downloading etcdctl and debug the problem (you need to learn how to use it).

using etcdctl you can inspect the health of the etcd cluster!

[2019-11-14 15:07] #1912 closed

[2019-11-14 15:43] rojkov commented on #1535
I need to finalize one my PR to Envoy's main repo and one more PR to the OpenSSL extension to Envoy first. They take all my time budget allowed for open source contributions. Then I can continue with ECDSA keys.

[2019-11-14 15:52] neolit123 commented on #1535
thanks @rojkov

[2019-11-14 15:59] ereslibre opened #1916 "Write kubelet env file on `kubeadm upgrade node`"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## What happened?

Since https://github.com/kubernetes/kubernetes/commit/df477a960fbf316c730a5974971ae886acc9d96e, `kubeadm upgrade apply` is writing the kubelet environment file if it does not exist, but `kubeadm upgrade node` is not.

The code path https://github.com/kubernetes/kubernetes/blob/d1e8702d36947ccc23ad820eaae7f4afbaf0b058/cmd/k

[2019-11-14 16:03] neolit123 opened #1917 "refactor discovery/token/token.go"
this PR fixed an issue where token based join can block indefinitely if the server is not reachable:
https://github.com/kubernetes/kubernetes/pull/85156

the logic in the file can be simplified a lot and the wait group is not needed.
WIP: https://github.com/neolit123/kubernetes/commit/bbbc467e7897c20bed3a3053790d1f87fa891ba9

[2019-11-14 16:04] ereslibre commented on #1916
/priority important-longterm
/assign

[2019-11-14 19:47] neolit123 opened #1918 "kinder: investigate flakes related to /kinder/cluster-settings.yaml"
kinder writes the file /kinder/cluster-settings.yaml on nodes and it contains cluster settings.
we are seeing flakes related to that with no useful error output:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1195019721611677696

[code]

/kind flake
/assign
/priority important-longterm

[2019-11-15 01:54] zhaoguangqiang commented on #1846
Yes, i try it by etcdctl and i found a unreachable etcd member with the VIP ip address .
The first master can be re-join it after delete it from etcd cluster.
Thanks a lot! @neolit123

[2019-11-15 07:54] fabriziopandini opened #1920 "RFE: Help implementing unit tests for the operator"
The skelethon for the kubeadm operator is there, but it is now necessary to write a bunch of unit test to ensure it works and avoid regressions

https://github.com/kubernetes/kubeadm/pull/1919 adds the first set of unit tests; some of them have to be repeated for other controllers, and this issue is seeking for volunteers to pick up this work (as a whole or in small parts)

- [x] implement `operat

[2019-11-16 12:08] tanjunchen opened #1921 "404 invalid urls"
/bug
There are some 404 urls in Docs.

kubeadm\CONTRIBUTING.md https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#godep-and-dependency-management
kubeadm\CONTRIBUTING.md https://github.com/kubernetes/community/blob/master/contributors/devel/testing.md
kubeadm\docs\managing-e2e-tests.md https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-clust

[2019-11-16 14:56] SataQiu commented on #1920
/assign

[2019-11-16 18:14] neolit123 commented on #1921
fixed in https://github.com/kubernetes/kubeadm/pull/1922

[2019-11-16 18:14] #1921 closed

[2019-11-16 18:31] neolit123 commented on #1913
@SataQiu
looks like you sent https://github.com/kubernetes/kubernetes/pull/85382
but we haven't decided how to proceed yet. :)

[2019-11-17 04:36] SataQiu commented on #1913
Yes @neolit123 Just have a try!

[2019-11-18 03:51] tannh commented on #1361
@AndrewSav Thank you for this. I have used the promethes operator to monitor the cluster. I recently received an alert "Kubernetes API certificate is expiring in less than 7 days", I think it is related to this issue. I have updated the content of kubelet.conf on the master nodes. But I still get the alert. Do you have any suggestions? Tks.

[2019-11-18 10:11] ereslibre commented on #1916
/lifecycle active

[2019-11-18 10:11] ereslibre commented on #1916
PR: https://github.com/kubernetes/kubernetes/pull/85412

[2019-11-18 12:11] ereslibre opened #1924 "do not annotate the Node CRI socket in the "init upload-config" phase"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Context

During Kubernetes upgrades using `kubeadm` we have the desire to patch the Kubelet configuration. While we could write some flags on a `systemd` unit to override some flags, the Kubelet flags are deprecated (at least the ones relevant to us at this point) and they will be gone in favour of configuration-only anytime soon.

The pr

[2019-11-18 12:12] ereslibre commented on #1924
/priority important-longterm
/kind bug

Added the bug kind, but at this stage this is mostly a question to understand whether this is a bug or just something we can improve.

[2019-11-18 12:14] ereslibre commented on #1924
/assign @neolit123 @fabriziopandini @rosti @yastij

[2019-11-18 12:26] bart0sh commented on #1913
Just wondering would it make sense to use cmd/kubeadm/app/util/output API to solve this? It would also help to unify output and implement structured output.

[2019-11-18 14:21] ereslibre commented on #1924
Submitted https://github.com/kubernetes/kubernetes/pull/85419 for feedback.

/lifecycle active

[2019-11-18 15:43] neolit123 commented on #1913
@bart0sh i'm +1 to use any unified backend.
but there are some decisions to make regarding stdout vs stderr and whether we want to continue using klog.

[2019-11-18 15:43] neolit123 commented on #1913
i'm going to investigate:

[2019-11-18 18:58] AndrewSav commented on #1361
@tannh if you installed the cluster with kubeadm, use kubeadm to check the certs experation. Otherwise your issue is probably not related.

[2019-11-18 19:01] neolit123 commented on #1361
this will also be in the release notes for 1.17.

[2019-11-18 20:30] bartwensley commented on #1842
@neolit123
The instructions at https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry don't work for me at all. I followed the instructions to create the docker config file with the credentials for my private registry and copied the file to the search path(s) that kubelet is supposed to use to find this file. I also restarted kubelet in the h

[2019-11-18 20:40] neolit123 commented on #1842
ok, i see. please log the above comment as an issue in the kubernetes/kubernetes repository.
and tag it with `/sig node`.

this issue is tracking your feature request for `config images`.
i'm personally -1 on adding cluster checks for `config images` because most of it's use cases are before the cluster is created. but deferring to @fabriziopandini as per his comment here:
https://github.com/kuber

[2019-11-18 20:41] neolit123 commented on #1842
/assign @fabriziopandini

[2019-11-19 03:28] Davidrjx commented on #1461
https://github.com/kubernetes/kubeadm/issues/1461#issuecomment-489362994 hi, which subnet did you specify, pod or service?

[2019-11-19 10:50] rosti opened #1925 "Re-enable kubelet version check tests"
In kubernetes/kubernetes#85351 a couple of tests that checked the code of [GetKubeletVersion](https://github.com/kubernetes/kubernetes/blob/81af5baff8e958dc8817913ec3c4172028f30122/cmd/kubeadm/app/preflight/utils.go#L30) and the [Kubelet version check](https://github.com/kubernetes/kubernetes/blob/81af5baff8e958dc8817913ec3c4172028f30122/cmd/kubeadm/app/preflight/checks.go#L617) were disabled. Tho

[2019-11-19 18:46] valumar opened #1926 "Kubeadm possible uses wrong image for kube-controller-manager"
The page related to [Storage classes](https://kubernetes.io/docs/concepts/storage/storage-classes/#provisioner) tells us that RBD Plugin realized as an Internal provisioner but it's not true since kubeadm uses `image: k8s.gcr.io/kube-controller-manager` which doesn't have rbd on board. If you try to create PVC with kubeadm provisioned cluster you get the message:
[code]
But changing the image for

[2019-11-19 19:22] neolit123 commented on #1926
hello, hyperkube is being deprecated in kubeadm and the support will be removed in the next releases.
this is tracked here:
https://github.com/kubernetes/kubeadm/issues/1889

in terms of the problems related to RBD, this is not a kubeadm issue. i see you logged https://github.com/kubernetes/kubernetes/issues/85454 but i think an issue about that existed already and it had many comments in kubernet

[2019-11-19 19:22] #1926 closed

[2019-11-19 19:41] neolit123 commented on #1318
shifted the milestone to 1.18.

[2019-11-20 01:51] Davidrjx commented on #1461
https://github.com/kubernetes/kubeadm/issues/1461#issuecomment-477745602 @liggetm hi, how to make sure ipvs related moduled are loaded not prior to CNI plugin? as kubernetes service is up along with cluster bootstrapping and at this moment ipvs module already loaded, seems no way to satisfy condition above.

[2019-11-20 02:59] Davidrjx commented on #1688
so i think node iptables rules may be root cause

[2019-11-20 04:33] pickledrick opened #1927 "/var/lib/kubelet/kubeadm-flags.env not updated during kubeadm upgrade"
#1247  What keywords did you search in kubeadm issues before filing this one?

- kubeadm-flags.env
- upgrade

FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - The request is for /var/lib/kubelet/kubeadm-flags.env to be updated during `kubeadm upgrade`. An example of how we found this was during an upgrade. We were renaming an image repository, for example, `vmware/pause:3.1` to `vmware.i

[2019-11-20 05:03] pickledrick commented on #1927
duplicates https://github.com/kubernetes/kubeadm/issues/1916

[2019-11-20 05:03] #1927 closed

[2019-11-20 12:26] neolit123 commented on #1916
@pickledrick hi, i saw your ticket here:
https://github.com/kubernetes/kubeadm/issues/1927

as we are discussing on the PR, cluster reconf and upgrades are two separate actions that should not be mixed:
https://github.com/kubernetes/kubernetes/pull/85412
kubeadm is moving away from allowing reconf during upgrade.

[2019-11-20 23:16] neolit123 commented on #1898
the breaking changes manifested without relying on tarballs.

if we start pulling tarbals to execute etcdctl we still need the different CA flags for etcdctl.
same goes if we start maintaining an etcdctl image - it still needs different CA flags.

i'd prefer the tarballs, but ideally the etcd and etcdctl binaries should be hosted in a separate tarballs.

[2019-11-21 01:45] zerkms opened #1928 "Etcd (on "secondary" master nodes) has not been upgraded during 1.15.x -> 1.16.0 upgrade"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): ubuntu 18.04
- **Kernel** (e.g. `uname -a`):  `4.15.0-70-generic #79-Ubunt

[2019-11-21 01:54] zerkms commented on #1928
Ok, I see I should have used `kubeadm upgrade node --etcd-upgrade`

[2019-11-21 01:54] #1928 closed

[2019-11-21 09:06] SataQiu commented on #1925
/assign

[2019-11-21 13:41] neolit123 commented on #1917
proposal for the refactor in https://github.com/kubernetes/kubernetes/pull/85468
https://docs.google.com/document/d/1lf-DsWoJiZAXm9iVeO4MoP0ku0z8S30Izm9uLYigaUw/edit#

[2019-11-21 19:50] Mounika666 commented on #733
kubeadm init   --ignore-preflight-errors=all

[2019-11-22 04:44] Arvinderpal opened #1929 "panic: assignment to entry in nil map in KubeProxy FeatureGate Configuration"
BUG REPORT

**kubeadm version** (use `kubeadm version`):
v1.18.0-alpha.0.1110+3c5dad61f72cc0

## What happened?

[code]

## How to reproduce it (as minimally and precisely as possible)?

Specify KubeProxyConfiguration below as part of the init configuration. Note that feature-gate field is not present and is only set in the ClusterConfiguration
[code]
[code]
## Anything else we need to know?

The

[2019-11-22 08:03] bbqrob opened #1930 ""kubeadm init" fails on setting up HA cluster"
## Is this a request for help?

Yes.

## What keywords did you search in kubeadm issues before filing this one?

* kubeadm init
* kubeadm 404
* kubeadm haproxy

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):

kubeadm version: &version.Info{Major:"1", Minor:"16", G

[2019-11-22 08:42] haanyip commented on #1477
systemctl stop firewalld

[2019-11-22 09:38] rosti commented on #1929
Thanks for filing this @Arvinderpal !
/kind bug

[2019-11-22 09:39] rosti commented on #1929
/lifecycle active

[2019-11-22 13:29] neolit123 commented on #1930
/triage support
hi, looking at the logs:

the control-plane is healthy:

RBAC is being set:

but then patching the Node object fails:

I1120 12:36:40.787334   14008 round_trippers.go:443] GET https://haproxy.my.lan:6443/api/v1/nodes/master0 404 Not Found in 2 milliseconds

it's really odd that only the Node patching fails.

you can look at the kubelet logs:

and check what happens right after `[ap

[2019-11-22 15:02] rob-heine commented on #1930
Hi,

You suggest resetting the node and start over again?

I guess so, running  `docker ps -a` on master0 gives:
[code]
`kubeadm version` gives:
[code]

`kubectl version` gives:
[code]

[2019-11-22 15:21] neolit123 commented on #1930
yes.

[2019-11-22 16:27] #1929 closed

[2019-11-22 16:33] ereslibre opened #1931 "CoreDNS pods scheduled on the control plane node"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind feature

## What happened?

When deploying a Kubernetes cluster using `kubeadm` we are creating CoreDNS with a [default replica of 2](https://github.com/kubernetes/kubernetes/blob/d87c921a516a5b0387269910cef8551fae62de7f/cmd/kubeadm/app/phases/addons/dns/manifests.go#L226).

When performing the `kubeadm init` execution, the CoreDNS deployment will

[2019-11-22 16:33] ereslibre commented on #1931
/priority backlog

[2019-11-22 16:37] neolit123 commented on #1931
@ereslibre this is a duplicate of:
https://github.com/kubernetes/kubeadm/issues/1657

please read the whole discussion there.

this is problematic because it would leave the second replica as pending.
if someone is running the e2e test suite on a single CP node cluster it will fail.

[2019-11-22 16:39] ereslibre commented on #1931
This should not happen with `preferredDuringSchedulingIgnoredDuringExecution`, but with `requiredDuringSchedulingIgnoredDuringExecution`. I can check though, but I'm fairly sure with `preferred` it will just work even with a single node.

[2019-11-22 16:40] neolit123 commented on #1931
both replicas will land on the same CP node in the begging and then then the "join" process has to amend the Deployment?

[2019-11-22 16:41] ereslibre commented on #1931
Yes, the `join` process would `kubectl delete` one of the pods through the API, I specify the details on the body of the issue.

[2019-11-22 16:42] neolit123 commented on #1931
please add this as agenda for next week.
the future coredns operator (as kubeadm will no longer include coredns in the future, by default) will run it as a DaemonSet.

i'm really in favor of breaking the users now and deploying it as DS and adding an action required in the release notes.

[2019-11-22 16:49] neolit123 opened #1932 "the dynamic dryrun client in kubeadm only supports the core/v1 GroupVersion"
if one tries to use the dry-run client with something like batch/v1, the object will be created
but then it will fail GET calls here:

https://github.com/kubernetes/kubernetes/blob/fa1ca34550b70b017234099a5d469fd99e7eed0d/cmd/kubeadm/app/util/apiclient/clientbacked_dryrun.go#L77

ideally we want to refactor this area to support any API object.
potentially not using a dynamic client.

/kind design

[2019-11-22 22:09] rajansandeep commented on #1931
/assign

[2019-11-22 22:41] neolit123 commented on #1931
@rajansandeep i proposed that we should chat about this in the next office hours on Wednesday.
potentially decide if we want to proceed with changes for 1.18.

[2019-11-22 23:13] rajansandeep commented on #1931
@neolit123 Yes, I agree. Would like to discuss what would be the potential direction for this.

[2019-11-23 01:30] #1914 closed

[2019-11-23 02:39] YanzheL opened #1933 "Support DNS SRV for external etcd endpoints discovery"
## Is this a request for help?

no

## What keywords did you search in kubeadm issues before filing this one?
external etcd, DNS SRV

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.16.3

**Environment**:
- **Kubernetes version** (use `kubectl version`):  1.16.3

## What happened?
Currently, we can configure external etcd en

[2019-11-23 03:07] neolit123 commented on #1933
hi, this request is related to:
https://github.com/kubernetes/kubeadm/issues/1598
but for external etcd.

you can also put your external etcd nodes behind a load balancer and only list the LB endpoint instead of all the members.

[code]

this will not work, because in the case of external etcd the list of endpoints (or a single LB) are simply passed on the kube-apiserver with (TLS ensured). for ex

[2019-11-23 04:52] juliohm1978 commented on #1447
This is isn't working for me. I ran the commands given by @maxdebayser, but the same error keeps hitting me. New certs are created and the apiserver is using them.

[code]

[code]

What am I missing here?

[2019-11-23 05:53] juliohm1978 commented on #1447
Ok, I managed to get around it.

The same error message appears if your *apiserver-kubelet-client* certificate is also messed up. So, recreating that cert helped.

However, the error message comes back for the *front-proxy-client* cert.

[code]

At this point, I backed up and recreated all certs.

[code]

After that, I was able to upgrade the cluster

[2019-11-23 16:36] YanzheL commented on #1933
Thanks.
I understand I can use load balancer, but it brings more complexity to setup a LB.

In a simple case without load balancer, it'd be better if we can just use DNS discovery, so we don't need to change the kubeadm config every time when a new etcd member joins the cluster.
The member change in etcd cluster shouldn't affect the kubeadm config.

[2019-11-23 18:28] neolit123 commented on #1933
The dns srv must be passed to the kube-apiserver and i dont think it
supports it currently.

[2019-11-23 18:58] neolit123 commented on #1933
supports it currently.

to confirm that you can go to the k8s slack channel #sig-api-machinery and ask there if the kube-apiserver supports this. i don't think it does, which means that we can't do much on the kubeadm side as the api server still needs a list of etcd members URLs.

[2019-11-24 01:36] neolit123 commented on #1931
today i played with deploying CoreDNS as a DS with this manifest (based on the existing Deployment manifest). it works fine and targets CP nodes only.

<details>

[code]

</details>

i think it's also time to deprecate kube-dns in 1.18 and apply a 3 cycle deprecation policy to it, unless we switch to an addon installer sooner than that.

[2019-11-24 03:49] jfbai commented on #1932
@neolit123 I'd like to take this.

/assign

[2019-11-24 04:11] neolit123 commented on #1932
@jfbai could you please outline here what approach do you want to take before sending a PR?
i also wanted to discuss this during the kubeadm office hours meeting.

[2019-11-24 06:02] jfbai commented on #1932
Sure, I will outline the approach later.

[2019-11-24 08:44] Baykonur opened #1935 "Different crictl and cni versions for different OS in kubeadm documentation."
## What keywords did you search in kubeadm issues before filing this one?
crictl version, cni version
## Is this a BUG REPORT or FEATURE REQUEST?
It is a request for documentation update and clarification of pre-requisite package versioning.
Choose one: BUG REPORT or FEATURE REQUEST

## Versions
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardwar

[2019-11-24 10:01] jfbai opened #1936 "Support etcd server overrides in ClusterConfiguration"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind feature

## What you expected to happen?

Extracting events object to another etcd cluster seems to be common practice via setting `--etcd-server-overrides` flag in a large scale cluster in order to avoid overloading main etcd cluster.

Is it possible to add an option, something like `EtcdOverrides`, in `ClusterConfiguration` to support setting `-

[2019-11-24 11:26] jfbai commented on #1936
I got to know how to achieve this.

[2019-11-24 11:26] #1936 closed

[2019-11-24 18:54] cjbottaro commented on #1026
Same issue here. My kube-apiserver logs are filled with:
[code]

The flushing ip tables didn't work for me and my swap is already off.

[2019-11-24 19:01] tirelibirefe commented on #1026
Did you install flannel to the worker nodes?

On Sun, Nov 24, 2019, 21:54 Christopher J. Bottaro <notifications@github.com>
wrote:

[2019-11-24 19:05] cjbottaro commented on #1026
No, I'm using kube-router for networking. The pod for it is in crash backoff state, and filled with errors about not being able to talk to the api server.

The cluster was running fine for months, but then the electricity went out hence rebooting my machines and a borked cluster.

[2019-11-24 20:10] neolit123 commented on #1026
@cjbottaro
could it be that your kubelet client certificates have expired?

see the second warning here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration

[2019-11-24 20:21] neolit123 commented on #1935
can you please explain what is wrong in filelists.xml?

if you are trying to install kubeadm/kubelet 1.16.0 on Fedora it gives you cri-tools 1.13.0 this seems like a bug. are you sure that is the case?

the versions in the container linux tab are correct.

what versions are you getting on Ubuntu/Debian?

[2019-11-24 20:53] Baykonur commented on #1935
@neolit123, thank you, then we will explicitly get the versions stated in Container Linux tab.

In [filelists.xml](https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64/repodata/filelists.xml) I would have expected to see cri-tools version 1.16.0 and cni-plugin 0.8.2 but those versions are not there.

We have SLES12SP4 and once we do `zypper in kubeadm kubelet kubectl`, we get cri-tool

[2019-11-24 21:24] neolit123 commented on #1935
if i'm not mistaken, in 1.17 the contents of kubernetes-cni will become part of the kubelet package, while crit-tools will be a manual download for non-docker users.
cc @justaugustus is still still the plan?

we have some SUSE developers contributing to kubeadm. perhaps they can give a better advice here:
@ereslibre @Klaven @aojea

[2019-11-24 21:34] neolit123 commented on #1935
just tried a debian install, based on the steps here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

it gave me:
[code]

so there are a couple of small problems here:
- the container linux kubernetes-cni version is ahead of the kubernetes recommended version - it should be 0.7.5 instead of 0.8.2. so our guide is wrong

[2019-11-24 21:43] Baykonur commented on #1935
OK, so for latest k8s binaries as today, v1.16.3, the recommended kubernetes-cni version is 0.7.5, for cri-tools it is 1.16.0 and on top of that if the container runtime is docker then cri-tools are not needed?

[2019-11-24 21:50] neolit123 commented on #1935
it shouldn't be, yes.

yes

or the latest one from here:
https://github.com/kubernetes-sigs/cri-tools/releases/tag/v1.16.1

[2019-11-24 22:02] Baykonur commented on #1935
Thanks for your help.
Ultimately it would be beneficial if there is a matrix of versions of all those components in the kubeadm documentation page for different kubernetes versions.

[2019-11-24 22:21] neolit123 commented on #1935
we should try to avoid the matrix ideally.

- the kubelet, kubeadm, kubectl versions should match
- kubernetes-cni will be removed and become part of the kubelet package (already discussed and approved)
- in the kubeadm install guide we should add a note that cri-tools is an optional download (i.e. "please pick the latest version that matches your k8s version").

[2019-11-24 23:13] cjbottaro opened #1938 "Nothing can talk to kube-apiserver: http: TLS handshake error from 192.168.1.235:38198: remote error: tls: bad certificate"
I had a nice working cluster for a few months, then the power went out and my cluster just stopped working. There are lots of issues for "cluster doesn't work after rebooting", but nothing worked for me. So I started over.

[code]

And that _still_ doesn't fix it. Basically nothing can talk to kube-apiserver because of cert issues.

[code]

[code]

What do?

I thought kubeadm was supposed to gener

[2019-11-24 23:24] neolit123 commented on #1938
/triage support

workers will only get the following:
- /etc/kubernetes/*-kubelet.conf - kubelet client certificate and key for contacting the kube-apiserver.
this can be either embedded or
- /etc/kubernetes/pki/ca.crt - the CA certificate of the cluster

if your cluster does not work after resetting all nodes, then something else is at play here.

it's not clear what is trying to connect to the k

[2019-11-24 23:37] cjbottaro commented on #1938
Hi, thanks for the reply. I think you pointed me in the right direction, but need a little bit more...

please double check what this address means in your setup.

It seems to be the pod ip of the api server...
[code]

But doesn't `kubeadm init` create new ones that should last another full year?

So before I did `kubeadm reset` on all the nodes, I did this...
[code]

And now after creating the cl

[2019-11-24 23:45] neolit123 commented on #1938
kubeadm reset, then kubeadm init will re-create them.
i was talking about the reboot problem. perhaps one of the certificates was expired and rebooting cause an error.

kube-router is not really something i have no experience with.
any reason to use it instead of say Calico or WeaveNet as the Pod Network?

did you change the version of kube-router after you ran "kubeadm init", compared to the vers

[2019-11-24 23:56] cjbottaro commented on #1938
Yeah, rebooting the machines put all the Docker iptables rules back.

Still having issues with the kube-router pods not being able talk to the api server though.

Closing the issue, but still not sure where to go from here other than reinstalling the OSes on all the machines and starting from absolute scratch.

[2019-11-24 23:56] #1938 closed

[2019-11-24 23:59] neolit123 commented on #1938
this might as well be a kube-router problem. sadly the kubeadm team does not have the reasources to monitor if all networking solutions out there work at any given point in time with version X of k8s or kubeadm.

our e2e test signal is Calico based.

often times this can save time, compared to debugging the problem.

[2019-11-25 04:35] dkypuros opened #1939 "coredns pod stuck in pending"
These two pods are stuck in pending:
kube-system   coredns-5644d7b6d9-jkt62        0/1     Pending   0          4h32m
kube-system   coredns-5644d7b6d9-kd4kw        0/1     Pending   0          4h32m

[code]
## What happened?
Following instructions:
1. https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#what-s-next
2. https://docs.docker.com/install/linux/docker-c

[2019-11-25 04:44] neolit123 commented on #1939
flannel had bugs recently. please try Callico or WeaveNet instead from this guide:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

[2019-11-25 04:45] dkypuros commented on #1939
Thanks for the tip. I'll try and follow the guide mentioned!

[2019-11-25 07:30] aojea commented on #1935
kubernetes-cni is optional too depending on which CNI plugin do you want to use, I mean, there are CNI plugins that don't require it

[2019-11-25 07:55] rob-heine commented on #1930
Ok, did that. `kubectl get no --kubeconfig /etc/kubernetes/admin.conf` displays

[code]
I attached the `journalctl -xeu kubelet` that happened during running the setup.

[journalctl.log](https://github.com/kubernetes/kubeadm/files/3885375/journalctl.log)

[2019-11-25 09:00] Baykonur commented on #1935
OK.

I think we users need to know which version of k8s requires which version of cri-tools and kubernetes-cni. For example, we are in need of a v1.15 k8s cluster so I need to know the exact versions of cri-tools and kubernetes-cni that are required.

If you tell me the version in [_Container Linux_ tab](https://v1-15.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubea

[2019-11-25 11:44] fabriziopandini commented on #1842
I'm +1 in making kubeadm config images to try to get the kubeadm-config ConfigMap (if no config was explicitly passed with `--config`), and failback to the current behavior in case of error.
FYI, a similar change was recently implemented for kubeadm alpha certs.

@bartwensley I think that it will be really valuable for the community to document how to get kubeadm working with a private registry. H

[2019-11-25 12:00] fabriziopandini commented on #1924
I'm a little bit torn about this.
Trying to conflate "change the cluster" user stories into upgrades, in my opinion, is a no-no, but considering that currently there are no valid alternatives in kubeadm I'm supportive to everything can easy the pain for users at the only condition that we are crystal clear in explaining this is not the target solution.

Getting into the detail of this use case, wh

[2019-11-25 17:27] rosti opened #1940 "New kubeadm component config scheme"
- Use only public component config types (remove internal types)
	- Remove defaulting and validation
	- PR: kubernetes/kubernetes#79223
- Group based code in place of kind based one
	- Errors on version mismatch
	- PR: kubernetes/kubernetes#85639
- User supplied configs vs generated ones
	- Stop storing generated core component configs into config maps
	- PR: TBD
- Tolerate newer config versions (

[2019-11-25 20:42] neolit123 commented on #1935
the cri-tools is an obvious one - it's MINOR version matches the MINOR version of k8s.
kubernetes-cni as a package is going away. so for newer versions of k8s you need the kubelet package. for older versions of k8s you need to look at the release notes.

i think we need to rework the container linux tab to be a "generic" tab about downloading the binaries directly without a package manager.

in an

[2019-11-25 20:42] #1935 closed

[2019-11-25 20:43] neolit123 commented on #1935
@aojea

IIRC, the top 3 popular pod network plugins need the package.

[2019-11-25 20:49] neolit123 commented on #1842
FYI, a similar change was recently implemented for kubeadm alpha certs.

@fabriziopandini given there is a user request for this and we have similar for alpha certs.
let's proceed with the change.

adding help-wanted.

a kubeadm specific guide would be nice, indeed.

[2019-11-25 21:02] neolit123 commented on #1930
the node object is not being created at all.
this is the reason for the node patching failure:

if the Node object is not being created this is caused by other components and not kubeadm.
are your kubelet, kubeadm and k8s control-plane component versions matching?

from the logs this looks suspicious:

Nov 25 08:40:14 master0 kubelet[3156]: W1125 08:40:14.333152    3156 watcher.go:87] Error while

[2019-11-26 01:54] dkypuros commented on #1939
Same steps performed as above with these additions for WeaveNet. Notice coredns pods are still stuck in pending status.

#kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
serviceaccount/weave-net created
clusterrole.rbac.authorization.k8s.io/weave-net created
clusterrolebinding.rbac.authorization.k8s.io/weave-net created
role.rbac.authorizat

[2019-11-26 02:11] dkypuros commented on #1939
More errors from kubelet service.

[2019-11-26 02:18] dkypuros commented on #1939
Maybe I'll try changing container runtime to CRI-O

[2019-11-26 02:23] neolit123 commented on #1939
this tells me that the CNI plugin is not working.

have you installed the kubernetes-cni package?
currently it is a dependency of the kubeadm package.

you can also download the contents of the package from here and install them manually:
https://github.com/containernetworking/plugins/releases

[2019-11-26 02:29] dkypuros commented on #1939
I can, but the documentation here (centos/RHEL tab):
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl
..says to install these packages (which I did).
#yum install -y kubelet kubeadm kubectl --disableexcludes=kubernetes
..resulting in this total list of dependencies:
  kubeadm.x86_64 1.16.3-0
  kubectl.x86_64 1.16.3-0
  ku

[2019-11-26 02:40] neolit123 commented on #1939
this is the package that has the plugins and i'm going to assume they are installed.
but it's not the k8s distributed package and instead it's the one that comes from your distro.

something is not right with your node's (OS) setup WRT the CNI plugin installation.

try verifying what files this has https://github.com/containernetworking/plugins/releases and what files are installed on your system.

[2019-11-26 02:42] dkypuros commented on #1939
I'll try Calico.

[2019-11-26 02:49] neolit123 commented on #1939
what are the contents of your /etc/cni/net.d folder ATM?

`kubeadm reset` does not clean it.

so if you have multiple plugins in there, try cleaning it up (as long as you are cleaning CNI plugin files only), call `kubeadm init ...` from scratch again and install the CNI.

the folder should have only one CNI config.

[2019-11-26 03:03] dkypuros commented on #1939
Does this mean I need to set the cgroups driver to systemd for fedora? or does it mean since I'm using docker, it will autoset?

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl
...
If you are using a different CRI, you have to modify the file /etc/default/kubelet (/etc/sysconfig/kubelet for CentOS, RHEL, Fedora) with you

[2019-11-26 03:07] dkypuros commented on #1939
Let me check after I finish with Calico. I start from scratch every time I build my systems.

[2019-11-26 03:14] neolit123 commented on #1939
kubeadm auo-passes a flag to the kubelet to detect the cgroups driver.
systemd is the recommended driver. cgroupfs is the default one for the kubelet.

[2019-11-26 03:17] dkypuros commented on #1939
[root@01cpn ~]# cat /etc/sysconfig/kubelet
KUBELET_EXTRA_ARGS=systemd

[marz@01cpn ~]$ mkdir -p $HOME/.kube
[marz@01cpn ~]$ sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
[marz@01cpn ~]$ sudo chown $(id -u):$(id -g) $HOME/.kube/config
[marz@01cpn ~]$ sudo -i
[root@01cpn ~]# kubectl apply -f https://docs.projectcalico.org/v3.8/manifests/calico.yaml
unable to recognize "https://docs.projec

[2019-11-26 04:05] neolit123 commented on #1939
this is not valid. should be `--cgroup=driver`
but instead try removing it.

the api server is not running.

[2019-11-26 04:18] dkypuros commented on #1939
[root@01cpn ~]# cat /etc/sysconfig/kubelet
KUBELET_EXTRA_ARGS=

kubeadm creates the "kube-apiserver" pod with no errors. I started over again, and noticed kubeadm did it's job.

[root@01cpn ~]# kubeadm init --pod-network-cidr=192.168.0.0/16
[init] Using Kubernetes version: v1.16.3
[preflight] Running pre-flight checks
	[WARNING Firewalld]: firewalld is active, please ensure ports [6443 10250] are

[2019-11-26 04:34] dkypuros commented on #1939
My experience with kubeadm is pretty rough so far. Maybe, I'll try a different strategy. I've practically memorized the documentation for kubeadm. Uugh.

[2019-11-26 04:35] dkypuros commented on #1939
![Screenshot from 2019-11-25 22-35-15](https://user-images.githubusercontent.com/363856/69599777-ea33c980-0fd3-11ea-80e1-0ceb1d48a4a3.png)

[2019-11-26 04:51] neolit123 commented on #1939
kubernetes is hard and kubeadm tries to fix that as much as possible without completely hiding all the internals.

unable to recognize "https://docs.projectcalico.org/v3.10/manifests/calico.yaml": Get http://localhost:8080/api?timeout=32s: dial tcp [::1]:8080: connect: connection refused

this can also be a kubeconfig issue if you have set the KUBECONFIG env. variable.
it has precedence over the f

[2019-11-26 04:53] neolit123 commented on #1939
starting on a fresh VM also helps.

[2019-11-26 04:58] dkypuros commented on #1939
Thanks for your help.

[2019-11-26 09:29] rob-heine commented on #1930
Using

[code]

from Ubuntu 18.04 (LTS)

[code]

[2019-11-26 10:36] ratulb commented on #1031
Faced the same issue here.
kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml.

Worked for me.

[2019-11-26 12:20] neolit123 commented on #1930
Hard to say what the cause is. If you have access to a different distro /
VM you can try that and start clean.

[2019-11-26 18:52] #1717 closed

[2019-11-26 22:33] neolit123 commented on #1939
did you manage to solve your problems @dkyp

[2019-11-27 08:32] rob-heine commented on #1930
Ok, new try with the same linux distribution using the repository described here: https://docs.docker.com/install/linux/docker-ce/ubuntu/

[code]

Works fine so far.

[2019-11-27 11:17] aojea commented on #1935
I had the impression that they were shipping their binaries, a quick look into some of them:

* Calico: https://github.com/projectcalico/calico/blob/67cb745533b7539a00cb7fc03210fb0d689775f3/_includes/master/charts/calico/templates/calico-node.yaml#L77-L79

* Weave ships it's won cni binary and only depends on the portmap plugin

* Flannel: well, this is part of the CNi repository :)
https://github

[2019-11-27 12:02] neolit123 commented on #1930
/close
Thanks for confirming. Please reopen the issue if needed.

[2019-11-27 12:02] #1930 closed

[2019-11-27 14:45] dkypuros commented on #1939
No,  unfortunately I wasn't able to. My goal was to do an install only using the documentation. I'm taking a break, and looking for a different approach.

[2019-11-27 15:39] dkypuros commented on #1939
You know what would help, is if I could find a way to replicate your e2e tests. Do you have the data posted? What OS? versions of everything etc (maybe even commands you used to standup and test). The documentation doesn't really allow me to follow your teams e2e.

[2019-11-27 16:21] neolit123 commented on #1939
For e2e we use a docker in docker setup, so its slugtly different. If you
have problems on your nodes / OS we are not catching them and it's really
hard to say what steps were problematic. I'm going to close this issue as
it is not a kubeadm bug per se, but please comment on your findings.

/close

[2019-11-27 16:21] #1939 closed

[2019-11-27 18:30] neolit123 commented on #1931
my proposal is second class the big scale clusters.
if those have demands for the coredns setup today they need to enable the autoscaler and possibly do other customizations already.

for the common use case the DaemonSet that targets only CP nodes seems fine to me.

there were objections that we should not move to a DS, but i'm not seeing any good ideas on how to continue using a Deployment and t

[2019-11-27 18:34] ereslibre commented on #1931
My proposal stands:

- Set anti affinity `preferredDuringSchedulingIgnoredDuringExecution` on CoreDNS.
- Default the Deployment to 2, as it is now.
- When a node joins:
  - Check the CoreDNS pods: if all of them are running on the same node, kill half of the CoreDNS pods.

This ensures we are not messing with the replica number, and we are only taking action if all CoreDNS pods are scheduled on th

[2019-11-27 18:37] rajansandeep commented on #1931
Does it make sense for kubeadm to support an autoscaler?

[2019-11-27 18:38] ereslibre commented on #1931
I would twist the question to: should the default deployment with kubeadm make it harder to use an autoscaler?

Answering to your question we are not "supporting" it, but in my opinion we shouldn't make it deliberately harder to use if folks want to.

[2019-11-27 18:49] neolit123 commented on #1931
i'm going to test this again, if this works we don't have to make any other changes.

[2019-11-27 18:55] ereslibre commented on #1931
I'm fine if this is where we think kubeadm bounds are.

Note that even with what you propose we will have a period of time in which no CoreDNS pods will be answering internal dns requests if the first control plane goes down.

Also, we should use `preferredDuringSchedulingIgnoredDuringExecution` instead of `requiredDuringSchedulingIgnoredDuringExecution`, for the issues mentioned earlier during th

[2019-11-27 19:42] neolit123 commented on #1931
even if we reschedule if both of those Nodes become NotReady there will be no service.

i guess we can experiment with an aggressive timeout for this too - i.e. considering the Pods for coredns are critical.

i think we might want to outline the different proposals and approaches in a google doc and get some votes going, otherwise this issue will not see any progress.

[2019-11-27 19:44] ereslibre commented on #1931
I wrote this patch as an alternative: https://github.com/kubernetes/kubernetes/compare/master...ereslibre:even-dns-deployment-on-join, if you think it's reasonable I can open a PR for further discussion.

[2019-11-27 19:50] neolit123 commented on #1931
so adding the phase means binding more logic to the coredns deployment, yet the idea is to move the coredns deployment outside of kubeadm long term, which means that we have to deprecate the phase or just keep it "experimental".

[2019-11-27 19:52] ereslibre commented on #1931
That is correct.

[2019-11-27 19:56] neolit123 commented on #1931
yes, hidden phase sounds fine.
still better to enumerate the different options before PRs, though.

[2019-11-27 21:30] neolit123 opened #1943 "deprecate and remove kube-dns support in kubeadm"
this is a proposal to deprecate the kube-dns deployment with the release of 1.18 and remove the code for it in 1.21.

CoreDNS has been the default since 1.11 (if i recall correctly) and the kube-dns support is something we should decouple from kubeadm.

We haven't updated the kube-dns version in kubeadm since 2018.

ideally and long term, the users should be able to skip the DNS server deployment

[2019-11-27 23:28] neolit123 commented on #1931
i played with this patch:

[code]

results:
- create a cluster with multiple nodes
- "stop" (e.g. shutdown a VM) the primary CP node where coredns landed
- the Node becomes NotReady after a few minutes (is there a way to control this?)
- 5 seconds after the Node is NotReady, the coredns pods on this Node enter Terminating state
- the Pods are scheduled on new Nodes
- if the primary CP Node is brou

[2019-11-28 00:26] frederiko commented on #1902
@fabriziopandini If no one is working on it yet, I'm happy to help. Let me know.

[2019-11-28 04:27] vrer2 commented on #1380
Thank you soooo much..been facing this issue for almost 3 days..

[2019-11-28 12:44] fabriziopandini commented on #1902
@frederiko thanks for volunteering for this task!
/lifecycle active

[2019-11-28 13:30] fabriziopandini commented on #1916
@ereslibre @neolit123 @boluisa
I did a little bit of investigation around this and it turned out that writing the kubelet environment file uses the `KubeletExtraArgs` from node registration options

https://github.com/kubernetes/kubernetes/blob/585ef375bb68f20750f09af94dc219dd84b19616/cmd/kubeadm/app/phases/kubelet/flags.go#L71-L70

As of today kubeadm is not saving the original `KubeletExtraArgs`

[2019-11-28 15:16] rosti commented on #1916
+1 to what @fabriziopandini said. Let's nuke the call.
We need to delete it and document it somewhere on the site. It's likely that users will continue complaining about it.
Stuff in there is unlikely to change. We can simply advice folks to reset and re-join the node if they need regenerate that file. Another possibility is to edit it by hand and restart the kubelet, but then, if they break somet

[2019-11-28 15:40] ereslibre commented on #1916
I'm +1 as well to nuke the call from `kubeadm upgrade apply`.

Yes, this is right, it got introduced in https://github.com/kubernetes/kubernetes/pull/65104 to make the upgrade from 1.10 to 1.11 work e2e.

[2019-11-29 01:27] neolit123 commented on #1933
/close
please re-open ionce the above question is answered.

[2019-11-29 01:27] #1933 closed

[2019-11-29 01:48] neolit123 commented on #1668
@ereslibre

having a quick comment to continue the discussion here.
in any case the complexity of this proposal seems KEP worthy.

for the "and all nodes are in X.(Y - 1)" part are you suggesting kubelet version?

currently the kubeadm commands operate on the cluster (to some limited extend) and on the local node. what mechanic are you suggesting for determining the control-plane versions?

my con

[2019-11-29 01:57] neolit123 commented on #494
moving to 1.18. in 1.17 kubeadm adds machine readable output for `kubeadm config images list`.
thanks to @bart0sh

[2019-11-29 07:21] SataQiu commented on #1943
Maybe we can print the deprecate info around here https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/dns.go#L135

[2019-11-29 07:43] HappyFighter commented on #1031
Reinstall docker on the notready node.
Worked for me.

[2019-11-29 11:01] DanielIvaylov commented on #1026
I am running cluster in vmware too, what did resolve your problem? Thanks

[2019-11-29 12:25] neolit123 commented on #1943
i think that is a good location, yes.
still needs discussion if we want to deprecate it even.

[2019-11-29 12:32] VipinKrizz commented on #338
in the place of newip which ip should we give?
can we create an ip of our own?

[2019-11-29 13:33] ereslibre commented on #1931
I created this document to follow up on the different alternatives and discuss all of them: https://docs.google.com/document/d/1shXvqFwcqH8hJF-tAYNlEnVn45QZChfTjxKzF_D3d8I/edit

[2019-11-29 17:35] #1917 closed

[2019-11-29 19:47] ereslibre commented on #1668
Yes, I agree.

Yes. On control plane nodes we could also check the Kubernetes control plane components as well.

Listing the Kubernetes control plane pods, and reading the tag.

In the end of the day, either a similar kind of logic would have to be implemented either on kubeadm or on the operator.

Hm, I tend to disagree. I think having a single upgrade command makes thing slightly more convenient

[2019-11-30 07:40] aojea commented on #1935
now I remember something related to the loopback plugin, 🤔 maybe I am totally wrong and all of them requires it 😅

[2019-11-30 20:12] neolit123 commented on #1918
/lifecycle active

[2019-12-01 18:35] neolit123 opened #1949 "move kubeadm to this repostiory"
k/k tracking issue:
https://github.com/kubernetes/kubernetes/issues/78534

proposal:
https://docs.google.com/document/d/1xFAGAjfPQZrcqmapTwpJR5aUA7-2ku1asVeq3dBrjnQ/edit?usp=sharing

list of action items:
TODO

[2019-12-01 19:35] neolit123 commented on #1924
/remove-kind bug
/kind design

[2019-12-01 19:37] neolit123 commented on #1889
/retitle deprecate and remove hyperkube support in kubeadm

[2019-12-02 10:04] RA489 commented on #1949
Any help required with this effort?

[2019-12-02 11:28] dnmgns commented on #1601
👀

[2019-12-02 11:46] neolit123 commented on #1949
yes, once we resolve the discussions in the linked document.

[2019-12-02 12:36] blurpy opened #1950 "1.15 - kubeadm join --control-plane fails on clusters created with <= 1.12"
## Versions

**kubeadm version** (use `kubeadm version`): v1.15.6

**Environment**: Dev
- **Kubernetes version** (use `kubectl version`): v1.15.6
- **Cloud provider or hardware configuration**: Virtualbox
- **OS** (e.g. from /etc/os-release): CentOS 7.7
- **Kernel** (e.g. `uname -a`): 3.10.0-957.1.3.el7.x86_64

## What happened?

I have several clusters created with kubeadm v1.10 to v1.12, that ha

[2019-12-02 12:42] blurpy commented on #1950
/kind bug
/area HA

[2019-12-02 13:12] RA489 commented on #1932
@jfbai Any update on this?

[2019-12-02 13:25] neolit123 commented on #1950
@blurpy

FYI, 1.12 is no longer supported by the kubeadm team, which forces me to close the issue, but we can continue the discussion.

/close

with the release of 1.17 you need to have at least 1.15.

did you try the workaround here: https://github.com/kubernetes/kubeadm/issues/1269

also instead of joining before upgrade, did you try upgrading to 1.13 and then joining a new member?

ping @fabriz

[2019-12-02 13:33] RA489 commented on #1920
@fabriziopandini Anything remaining for help in this effort?

[2019-12-02 13:35] blurpy commented on #1950
@neolit123 This bug report is about adding more control plane nodes in a 1.15.6 cluster, initially created by kubeadm 1.12 or older, and upgraded continually. That should be within the support window right?

As I noted, there is a workaround (changing the peer url by hand), but I'm thinking that kubeadm should handle it more transparently, since there's probably a lot more clusters like ours out t

[2019-12-02 13:40] neolit123 commented on #1950
looks like i misunderstood that part.

this is the second report we got about this since 1.12.

for the first one this is what we've added in the docs:
https://github.com/kubernetes/website/pull/12145/files

IIRC, kubeadm upgrade had a special case to fix this in 1.13. @fabriziopandini should confirm if he remembers.

[2019-12-02 13:53] blurpy commented on #1950
There are no instructions on how to setup HA for an existing cluster, and HA is only beta in 1.15, so there might be more than me having this issue eventually, if instructions are posted on the website. I'm trying to make my own experience easier for the time when I get to upgrading production.

I'm not sure what was done in the last round, but I think it was only making etcd listen on host ip, no

[2019-12-02 13:55] blurpy commented on #1950
Related #1471

[2019-12-02 13:59] neolit123 commented on #1950
we did a survey which suggested that the kubeadm user based tries to stay in the support skew - i.e. upgrade much faster.

[2019-12-02 14:00] neolit123 commented on #1950
you are suggesting that https://github.com/kubernetes/kubernetes/pull/75956/files was not sufficient?

[2019-12-02 14:09] blurpy commented on #1950
Note that we are not upgrading from 1.12 to 1.15 right now, our clusters are almost 600 days old and been upgraded every few months. We try our best to be within the support period. But we have been waiting for a time where HA is more mature before upgrading our single master to multi master.

My go-reading-skills aren't the best, but to me it looks like it's all related to certificates. And that

[2019-12-02 14:39] blurpy commented on #1950
I've taken a look at the state before and after the upgrade from 1.13 to 1.14.

In 1.13 the etcd manifest looked like this:

[code]

And it was updated to this in 1.14 (and still like this in 1.15):

[code]

So it fixed the `--listen-peer-urls` parameter among others in the manifest, but it still looked like this in the member list:

[code]

And the "peer addrs" there seems to be what's being used

[2019-12-02 15:15] neolit123 commented on #1950
this seems to me as if the etcd pod was not restarted. odd.

[2019-12-02 17:42] angelbarrera92 opened #1951 "clusterName is not being propagated to kube-controller-manager"
Hiii!

We have encountered an error related to the cloud provider part in `kube-controller-manager`.

In an AWS kubernetes cluster deployed with `kubeadm`, we found that the kubeadm `clusterName` attribute is not being propagated to the `kube-controller-manager` static pod definition.

We found it in the `1.15.5` version.

This makes impossible to deploy an ELB using a service of type `LoadBalance

[2019-12-02 17:42] angelbarrera92 commented on #1951
/cc @ereslibre

[2019-12-02 17:45] ereslibre commented on #1951
Thank you for your report @angelbarrera92.

/kind bug
/priority important-longterm
/assign
/lifecycle active

I'm not sure if we should change priority in order to backport, or if backporting is desired here since as far as I know this is the only report about this we had.

[2019-12-02 18:08] blurpy commented on #1950
I think it's a persisted configuration, so it's only read from the manifest during initial setup of etcd. Changing it requires running commands with etcdctl or similar, like kubeadm does when adding a second node to the etcd cluster. That's why I was thinking that it could possibly be fixed automatically by kubeadm when it's already in the process of making changes to etcd state.

[2019-12-02 21:24] neolit123 commented on #1950
changes in the etcd static pod manifest would trigger a pod restart, which is an etcd restart with a new argument for `--listen-peer-urls`. i would expect etcd to not persist this configuration and register the new peer URL.

are you sure this is persisted? i don't see how - something is not right here.

[2019-12-02 21:49] #1951 closed

[2019-12-02 22:27] dnmgns opened #1953 "kustomize: print warning if no matching objects were found"
EDIT: neolit123

see comments here for an update of the problem:
https://github.com/kubernetes/kubeadm/issues/1953#issuecomment-589989066

TL;DR we need to print a warning if the user has a patch that does not match to one of our objects name/namespace/GVK that we support.

----

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT
## Versions

**kubeadm version**:
kubeadm version: &version.Inf

[2019-12-02 22:28] fabriziopandini commented on #1953
/assign

[2019-12-03 00:38] alex-vmw commented on #1916
FYI, my team is NOT specifying `NodeRegistration.KubeletExtraArgs` in the config file, but we are setting a `imageRepository` in the config file and relying on the #70603 change to automatically set the "--pod-infra-container-image" argument in /var/lib/kubelet/kubeadm-flags.env. That said, `imageRepository` is also used to write /var/lib/kubelet/kubeadm-flags.env.

https://github.com/kubernetes/k

[2019-12-03 02:36] SataQiu commented on #1949
/cc
I'd like to help.

[2019-12-03 03:17] pickledrick opened #1954 "Persist dns configuration on upgrade"
EDIT: this issue is tracking the potential to persist configuration options from the old coredns deployment after upgrade.

this PR made it possible to persist the replica count:
https://github.com/kubernetes/kubernetes/pull/85837

----

## What keywords did you search in kubeadm issues before filing this one? kubeadm dns coredns replicas

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUES

[2019-12-03 04:18] #1916 closed

[2019-12-03 06:42] blurpy commented on #1950
I did some tests:

1. Reboot master. No changes.
2. Kill etcd pod. No changes.
3. Kill etcd container. No changes.

Then had a look at the [etcd documentation](https://etcd.io/docs/v3.3.12/faq/), where I found what I was suspecting:

A member’s advertised peer URLs come from --initial-advertise-peer-urls on initial cluster boot. Changing the listen peer URLs or the initial advertise peers after bo

[2019-12-03 07:58] blurpy commented on #1950
Here is a log from joining a second control plane node after using `etcdctl member update` to change PEER ADDRS from `https://127.0.0.1:2380` to  `https://192.168.33.10:2380`:

[code]

With the exception of this completing successfully, there is only one difference in the logs between the original attempt that timed out and failed, and this last one that succeeded.

From the original:

`I1202 10:5

[2019-12-03 10:46] bboreham commented on #338
@VipinKrizz the context of this issue is that the IP already changed due to factors within the infrastructure.  Nobody can answer which IP you should use except someone familiar with your particular set-up.

Maybe you can find someone to have a chat with about this on Slack?  Kubeadm issues are not the right place.

[2019-12-03 12:18] jfbai commented on #1932
@RA489 @neolit123 Sorry for delaying, after doing deep dive, I haven't yet found out a possible approach, do you have good ideas?

[2019-12-03 12:41] WhoisZihan commented on #610
In ubuntu 18.04, there is no `/etc/default/kubelet` file, and I tried creating the file with `--fail-swap-on` flag but it did not work.

Adding the flag to `systemd.conf` works for me.

[2019-12-03 13:04] blurpy opened #1955 "1.15 - kubeadm join --control-plane configures kubelet to connect to wrong apiserver"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind bug
/area HA

## Versions

**kubeadm version**: v1.15.6

**Environment**: Dev
- **Kubernetes version**: v1.15.6
- **Cloud provider or hardware configuration**: Virtualbox
- **OS**: CentOS 7.7
- **Kernel**: 3.10.0-957.1.3.el7.x86_64
- **Others**:

## What happened?

kubelet.conf on additional control plane nodes created with kubeadm are configured

[2019-12-03 13:08] neolit123 commented on #1950
^
@fabriziopandini this might interest you.

[2019-12-03 14:06] yastij commented on #1943
@neolit123 - if kube-dns is being deprecated, we should do it too. But If @kubernetes/sig-network-misc didn't I think we should wait

[2019-12-03 14:16] chrisohaver commented on #1954
dns replicas set back to kubeadm default

IIUC, you expect the opposite: dns replicas _not_ set back to kubeadm default.

Regarding persistence through upgrades: I _think_ that if the coredns deployment yaml used by kubeadm did not contain a replica count, the number of replicas would not be reset when upgrading (assuming kubeadm does the equivalent of `kubectl apply`).

[2019-12-03 14:21] chrisohaver commented on #1943
/cc @bowei

[2019-12-03 21:03] neolit123 commented on #1943
technically, kubeadm is an opinionated deployer that can decide what addons to pick as their best practice cluster.

at the same time kubeadm allows skipping the DNS addon, and allowing the user to pick their own.
i haven't seen kube-dns kubeadm users since coredns went GA, so if we are keeping kube-dns it feels to me this needs a better argument.

[2019-12-03 21:11] neolit123 commented on #1954
@pickledrick as i've mentioned on the PR, v1beta2 is locked for new features.
this is the tracking issue for v1beta3 https://github.com/kubernetes/kubeadm/issues/1796

[2019-12-03 21:12] neolit123 commented on #1954
also @ereslibre is working on a document related to how to handle coredns Deployment issues.

[2019-12-03 21:20] neolit123 commented on #1955
/assign
i will try to reproduce this tomorrow.

although,

i was testing something unrelated and doing the above and the 2 other master did not become NotReady. this could be an artifact of your older cluster upgrade.

in any case you might have apply your manual fix, as we cannot backport this to < 1.18 releases as it does not match the k8s backport criteria.

[2019-12-03 21:33] Klaven commented on #1318
yes. sorry this did not make 1.17, was not a lot of time. sorry. I have started work on it though and should see PR's for it soon.

[2019-12-03 21:43] neolit123 commented on #1954
instead of modifying the API i proposed to @pickledrick to allow upgrades to keep the existing replica count instead of redeploying with 2.

cc @rajansandeep @chrisohaver WDYT?

[2019-12-04 06:27] andpeterson opened #1956 "discovery.bootstrapToken.token missing port in address"
#1247  Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version:** v1.15.3

**Environment**: Dev
- **Kubernetes version** (use `kubectl version`): v1.15.3
- **Cloud provider or hardware configuration**: VirtualBox
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.6 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`): 4.4.0-169-generic
- **Others**:

## What happened?
Two

[2019-12-04 06:57] vincent081 commented on #193
这个问题解决了吗?我也遇到这个问题.

go/tools/cache/reflector.go:94: Failed to list *v1.Service: Get https://10.9.0.1:443/api/v1/services?resourceVersion=0: dial tcp 10.9.0.1:443: i/o timeout
E1015 13:25:36.437865 1 reflector.go:199] k8s.io/dns/vendor/k8s.io/client-go/tools/cache/reflector.go:94: Failed to list *v1.Endpoints: Get https://10.96.0.1:443/api/v1/endpoints?resourceVersion=0: dial tcp 10.9.0.1:443: i/o

[2019-12-04 07:23] blurpy commented on #1955
Thanks!

I've done some tests with a completely new 1.15 cluster, following the instructions from https://v1-15.docs.kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/ to create the initial master with `controlPlaneEndpoint` in kubeadm-config.yaml from the start, and it looks better:

[code]

All references point to the load balancer, on all masters, and also the work

[2019-12-04 07:27] blurpy commented on #1955
That's OK. What is the criteria for backports?

[2019-12-04 07:54] bart0sh commented on #1956
you may want to use --config option. Otherwise kubeadm join considers first parameter as an API server  endpoint:
[code]

[2019-12-04 08:58] blurpy commented on #1955
I've done a couple of more experiments with the first cluster.

1. Updated the server field in kube-proxy configmap to point to load balancer and restarting kube-proxy, before adding second master. No difference.
2. Updated all the references in /etc/kubernetes/*.conf files to point to the load balancer in the initial master and reboot the node, before adding a second master. No difference.

[2019-12-04 09:43] blurpy commented on #1955
I managed to figure out where it got the kubelet address from.

[code]

I changed the configmap to point to the load balancer address before joining a new master, and this is the result:

[code]

It would be nice if kubeadm would handle all the little details when migrating from single to multi master setup. But maybe it's a new feature instead of a bug.

[2019-12-04 12:53] blurpy commented on #1060
@timothysc How do you provide an initial taint on control-plane-join? I'm seeing this exact issue when joining new masters in a 1.15 cluster.

I can't see any relevant parameters in the [documentation](https://v1-15.docs.kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/) for adding taints, and it's not possible to join using a config file:

[code]

Anyway, even if it did work, this se

[2019-12-04 14:00] chrisohaver commented on #1954
@neolit123, sounds fine to me.  One very simple way of doing this could be to remove the replica count line from the coredns Deployment yaml.

[2019-12-04 15:22] neolit123 commented on #1955
yes, this was my assumption.

critical, blocking bugs without known workarounds - go panics, security bugs etc.

i would like more eyes on this problem and we might be able to backport a fix, but no promises.

@ereslibre PTAL too.

[2019-12-04 15:26] neolit123 commented on #1060
@blurpy we are tracking the same problem here i think: https://github.com/kubernetes/kubeadm/issues/1621

[2019-12-04 17:08] aayoubi commented on #1315
Who creates this file? `kubeadm`?

[2019-12-04 17:46] neolit123 commented on #1315
the official k8s `kubelet` package bundles this file.

[2019-12-04 18:05] andpeterson commented on #1956
That solved my issue. Thanks

[2019-12-04 18:05] #1956 closed

[2019-12-05 09:34] blurpy commented on #1621
We are seeing this when joining control plane nodes to existing clusters (1.15). We use nginx-ingress-controller as a daemonset, and it's on host port 443, same as the apiserver. So the apiserver always ends up in a CrashLoop until I manually delete the pod.

[2019-12-05 10:38] blurpy commented on #1955
Nice!

[2019-12-05 11:37] rosti commented on #1954
Commenting here instead of the issue. I am a bit opposed to having a replica count field in the kubeadm config. This is specific to the DNS deployment and not to kubeadm itself.
Also, users who are used to using kubectl to scale the deployment will have to update the ClusterConfiguration too.

What we should do itself is to base our updated deployment on the one currently in use in the cluster (in

[2019-12-05 13:20] neolit123 commented on #1621
this is a known problem. changes in kubeadm phases are tricky - the existing workaround can be seen above, but we might have to have a period of time where we both taint using the kubelet configuration and the kubeadm mark-control-plane phase, potentially deprecating the tainting in the phase in the future.

[2019-12-05 14:05] blurpy commented on #1621
Not sure I understand how the workaround works. Isn't InitConfiguration used only during init of the first master? Or can it be updated in the configmap in kube-system and used during join --control-plane?

[2019-12-05 14:10] neolit123 commented on #1621
both init and join configurations have the node registration options: https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#NodeRegistrationOptions

[2019-12-05 14:33] ereslibre commented on #1954
I also think we shoud not include the replica count in the kubeadm config.

Yes, and I'll follow up with the document about that. There are slightly different approaches, but all of them should patch and not override existing deployment settings. Didn't have the time yet but we should be able to do something along these lines.

[2019-12-05 14:35] ereslibre commented on #1955
Oh wow, thanks for this report @blurpy. I'm going to check if I can reproduce this issue. Thanks for the heads up @neolit123.

/assign

[2019-12-05 14:44] blurpy commented on #1621
I've tried to use a JoinConfiguration to setup additional masters, but then I just get this message:

[code]

Related issue I found: #1485

[2019-12-05 16:32] yagonobre commented on #1621
Today I add the taint directly to the kubelet config file. I'll try to work on it soon.

[2019-12-05 16:56] neolit123 commented on #1621
Yago, i dont see a field for that in the kubeletconfiguration.

[2019-12-05 16:57] neolit123 commented on #1621
The join configuration can do that. Some flags and config cannot be mixed.

On Dec 5, 2019 16:45, "Christian Ihle" <notifications@github.com> wrote:

then I just get this message:

/etc/kubernetes/kubeadm-master-config.yaml

[2019-12-05 18:01] yagonobre commented on #1621
Sorry, it's a flag.
I use `KUBELET_EXTRA_ARGS="--register-with-taints=node-role.kubernetes.io/master=:NoSchedule"`

[2019-12-05 19:46] neolit123 commented on #1796
ncdc proposed that we add "image pull policy" support to the kubeadm api.
see the issue that was caused here and the PR revert:
https://github.com/kubernetes/kubernetes/pull/85965

[2019-12-05 19:57] neolit123 commented on #524
re-opening as we hit the same problem recently.
kubeadm might have to support image pull policy for it's CP images on the API side.

cc @bart0sh

[2019-12-05 22:59] neolit123 commented on #1621
@yagonobre i just tied passing `--register-with-taints=node-role.kubernetes.io/maste
r:NoSchedule` to the kubelet instead of using the markcontorlplane phase for the taint and both the CNI and coredns are stuck in Pending saying that there is no Node to schedule on (even if they tolerate the master taint).

what k8s version have you tried this with?
i'm testing with the latest 1.18.

[2019-12-05 23:10] yagonobre commented on #1621
I'm using `v1.16.2`, but I'll try with the last version.

On Thu, Dec 5, 2019 at 7:59 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2019-12-05 23:13] neolit123 commented on #1621
@yagonobre never mind. i made the mistake of deploying a kubelet much newer than the kube-apiserver -> 1.18 vs 1.16.3.

will send a POC PR that fixes this in a bit.

[2019-12-05 23:18] neolit123 commented on #1621
here is the POC https://github.com/kubernetes/kubernetes/pull/85977

[2019-12-06 00:39] fabriziopandini commented on #1606
I think that we need to arrange for a code-walkthrough and add retries to everything is accessing api-server/etcd during join and fix it consistently

[2019-12-06 04:10] pickledrick commented on #1954
Hi Everyone,

Thanks for the comments, I have taken another go at this given the feedback from the related PR.

The idea is to check if there is an existing DNS deployment and don't touch it if it exists (unless switching between `kube-dns` and `CoreDNS` types) without making changes to the API.

[2019-12-06 13:31] timfeirg commented on #1955
studied the code for a bit, I think it's because:

* when adding a new worker node, [kubeadm will try to render `/etc/kubernetes/kubelet.conf` using the `cluster-info` configmap in the kube-public namespace](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/discovery/file/file.go#L132).

* the cluster-info config map didn't get updated when a new control-plane node is added.

[2019-12-06 14:33] timfeirg commented on #1955
I don't think `kubeadm join phase kubelet-start` should use `cluster-info` when rendering `/etc/kubernetes/kubelet.conf`. it's doesn't seem properly maintained in the current kubeadm workflow (not in the [official docs](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/)). is there any design concerns behind this?

I'm not familiar with the code, but I think w

[2019-12-06 14:36] neolit123 commented on #1955
changing the controlPlaneEndpoint is not really something that kubeadm supports. it also means that users need to re-sign certificates. so cluster-info seems like a valid source of truth for the server address as long as the user knows how to setup their server long term properly.

using an FQDN for the controlPlaneEndpoint however is something that is encouraged even for single-control-plane scen

[2019-12-06 15:13] yashbhutwala opened #1958 "`kubeadm reset` does not delete the apiserver"
## What keywords did you search in kubeadm issues before filing this one?

reset, 6443, (looked at issues #1145 and #339)

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.16.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.16.3
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-re

[2019-12-06 15:30] neolit123 commented on #1958
/triage support

@yashbhutwala resets the node, it does not delete the node Pods or the Node object itself.

[2019-12-06 15:37] yashbhutwala commented on #1958
I see, so you're saying `kubectl delete node <node name>` should have deleted all the master components, including the `apiserver`.  That makes sense to me.  But apparently, that didn't happen 🙃.  I also did `kubectl get nodes` afterwards, and the Node Object was gone.

Maybe this is a delete node bug, or maybe I didn't wait enough after the delete node command to run kubeadm reset.  Issue relevan

[2019-12-06 15:55] neolit123 commented on #1958
maybe you had another control-plane node with the control-plane components?

in any case kubeadm is not responsible for deleting nodes.
it only resets them to a NotReady state and the administrator has to use kubectl delete.
try logging the issue in kubernetes/kubernetes.

thanks.

[2019-12-06 15:55] #1958 closed

[2019-12-06 16:02] weisjohn commented on #338
@valerius257 thanks much for that script, I now see a number of downsides in my approach.  I can confirm that your solution worked, however, there's lots of little edges (as in all of k8s). I had to re-apply any patches to enabled services / built-ins, dns, special storage classes, etc.

[2019-12-06 16:22] timfeirg commented on #1955
and yet this seems very needed, if one fails to notice this and uses the initial master ip address as controlPlaneEndpoint, there'll be no way to migrate to a HA setup afterwards, not in the workflows described in the official documents.

community had already hack their way to manage this, although with problems here and there. but I think the tutorial mentioned above, together with the workaroun

[2019-12-06 16:47] neolit123 commented on #1955
with Kubernetes there are at least 100 ways for the cluster operator to shoot themself in the foot...long term even.
the kubeadm maintainers are doing a best effort on documenting the good and bad practices.
migrating to HA works nicely if one uses the CPE from the beginning.

we might provide a way to "change the cluster" like that using the kubeadm operator, but the work is still experimental:
h

[2019-12-06 17:14] timfeirg commented on #1955
consider adding a check somewhere in the `kubeadm init` process, and warn the user if they are not using CPE?

[2019-12-06 21:37] neolit123 commented on #1955
i'm personally not in favor of adding such a warning, given we have this in the single-cp guide, but others should comment too.

[2019-12-09 09:42] system51 opened #1959 "Kubeadm repeats the IP and domain name when creating the certificate"
## Is this a request for help?
yup

## What keywords did you search in kubeadm issues before filing this one?
I tried before

## Is this a BUG REPORT or FEATURE REQUEST?
BUG

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
[code]

- **OS** (e.g. from /etc/os-

[2019-12-09 10:04] neolit123 commented on #1943
@rajansandeep @chrisohaver i think we can proceed with this PR for preserving the replica count https://github.com/kubernetes/kubernetes/pull/85837 but we might need the refactor of not redeploying the CoreDNS/kube-dns completely from scratch, instead:
- fetch existing deployment
- change image tags if needed
- migrate corefile

also me and @rosti discussed today that before that we should probabl

[2019-12-09 11:21] blurpy commented on #1955
migrating to HA works nicely if one uses the CPE from the beginning.

As far as I can see, mention of CPE was added to the docs for 1.16, so I'm guessing there are a lot more clusters out there missing this. There's also the case where you have to change the endpoint address for some reason.

Would it be a lot of work to add a phase for kubeadm to change the CPE (for the shorter term), based on th

[2019-12-09 12:01] neolit123 commented on #1955
moving to HA is only supported if one was using the control-plane endpoint. if they have not used control-plane endpoint moving to HA is difficult and i don' think we

[2019-12-09 12:14] neolit123 commented on #1959
the duplication happens because you are defining them here:
[code]

try removing the ones that are duplicated from the above list and it should work

/triage support

[2019-12-09 12:36] blurpy commented on #1955
It's what I was thinking about. Domain names are not always forever.

It is definitely difficult, which is why having help from kubeadm would be very helpful. Do you think the steps described in this issue are not safe for production use?

Could moving between non-HA and HA be a standard workflow?

[2019-12-09 12:42] neolit123 commented on #1955
not for the init or join phases.
this might be a separate command.

but it might make more sense to have this as a guide in the docs without introducing new commands.

[2019-12-09 13:52] system51 commented on #1959
Since I use haproxy+keepalived to set up the high availability, if I delete the VIP address and these IP definitions, will it affect our use of the cluster?

[2019-12-09 14:51] rosti commented on #1943
Indeed. It's becoming rather tricky to maintain a couple of possible DNS addons. Especially when one of them is not getting as much user attention than the other.

[2019-12-09 16:38] #1853 closed

[2019-12-09 17:32] neolit123 commented on #1959
kubeadm already adds some of these.

[2019-12-10 00:53] system51 commented on #1959
Yes, I found that it had added some, and I tried to modify the certificate section definition in my initialization, but I found that one seemed to be missing `kubernetes.default.svc.cluster`  。I looked at PKI certificates and requirements in the official website best practices
[code]

[2019-12-10 12:37] TomaszKlosinski opened #1960 "Full reference for kubeadm config file"
Where can I find full reference for the kubeadm config file?

[2019-12-10 13:09] neolit123 commented on #1959
^ this list looks fine.
`kubernetes.default.svc.cluster` is not required to be added on the kubeadm side.

i'm not convinced that we have a kubeadm bug here.
/close

[2019-12-10 13:09] #1959 closed

[2019-12-10 13:11] neolit123 commented on #1960
it's sufficient to google "godoc kubeadm"
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm

make sure you pick the v1beta2 or v1beta1 package for the versioned APIs

/triage support
/close

[2019-12-10 13:11] #1960 closed

[2019-12-10 15:46] TomaszKlosinski commented on #1960
But for example here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

the documentation for the part that I'm interested in is missing:
[code]
What are those specific options? Where can I find them?

[2019-12-10 15:52] mitchellmaler commented on #1960
I think it should be easier for users to find the spec of that doc without having to google godoc and figure out how to navigate it. Not all kubernetes/kubeadm operators know golang and the documentation for it. If anything these specs (godocs) for each supported version should be linked or even pulled into the kubeadm documentation even if it’s not kubeadm (kubelet, proxy, etc. spec).

[2019-12-10 16:39] rosti commented on #524
@neolit123 is this the same issue? Do we want `imagePullPolicy` specifically for the `Never` case or for `Always`?

[2019-12-10 16:46] adamkdean commented on #1438
I got this when I had ran init, then manually cleared down the machine, and then ran it again, while testing etc. Running `sudo kubectl reset`  followed by re-init, `sudo kubeadm init --pod-network-cidr=10.244.0.0/16` etc, worked fine.

[2019-12-10 21:55] neolit123 commented on #524
re-using this issue so that we don't open a new one. a bit messy, but renamed it with a better title at least.

we need to support different policies.

[2019-12-10 21:57] neolit123 commented on #1960
well, if you go to the k8s.io website and navigate to kubeadm commands such as `init` and `join` you will find references to the kubeadm API.

if one does not know about the kubelet or kubeproxy configurations then they probably don't need these specific options.

they are also linked from the kubeadm guides or can be found using google / godoc.

[2019-12-10 22:11] TomaszKlosinski commented on #1960
I know about kubelet and kubeproxy configuration. I just wasn't sure how to pass it to the kubeadm config to overwrite one of the parameters (metrics are bound to localhost by default and my Prometheus can't reach kubeproxy). Documentation either doesn't exist or is hidden in some go packages docs and the support/developers tell me that I don't know what I'm doing because I ask for clearer documen

[2019-12-10 22:16] neolit123 commented on #1960
it's documented:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#kube-proxy

[2019-12-10 22:25] TomaszKlosinski commented on #1960
Thank you, this part I was looking for:
[code]

[2019-12-11 06:52] ponypaver opened #1961 "join Master in parallel"
This is actually a question
My question is:
after init the first master, is it possible to join remain masters in parallel when using an external etcd cluster?

My Kubernetes version: 1.16.3

[2019-12-11 09:27] fabriziopandini commented on #1961
@ponypaver it should be possible
It will be great if you report backs results of your test (there is no currents test for parellel join 😢 )

[2019-12-11 09:46] SataQiu commented on #1950
I have sent a PR for this. Not sure if it's right.
PTAL @neolit123 @fabriziopandini @blurpy

[2019-12-11 11:53] neolit123 commented on #1961
i saw occasional failures when joining control planes in parallel.
our discussions led to https://github.com/kubernetes/kubeadm/issues/1793

[2019-12-11 13:07] #1807 closed

[2019-12-11 13:10] neolit123 opened #1963 "1.18: Housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.

_When .1 patch version is created_
- [x] [@neolit123] Cleanup E2E jobs for 1.14 (current -3) (requires two PRs)
https://github.com/kubernetes/kubeadm/pull/1965
https://github.com/kubernetes/test-infra/pull/15576
- [x] [@neolit123] Bump minimum supported versions
https://github.com/kubernetes/kubernetes/pull/88

[2019-12-11 13:24] neolit123 commented on #1648
@randomvariable i'm going to close this issue as it seems more appropriate to me to track this as an issue on the CIS benchmark side.

please reopen if you disagree
/close

[2019-12-11 13:24] #1648 closed

[2019-12-11 13:33] neolit123 commented on #1792
folding this into https://github.com/kubernetes/kubeadm/issues/1949 with a note.

[2019-12-11 13:33] #1792 closed

[2019-12-12 02:43] ponypaver commented on #1961
Sure will report back

[2019-12-12 13:14] neolit123 commented on #1954
keeping this issue open to track the potential persisting of more fields than just the replica count:
https://github.com/kubernetes/kubeadm/issues/1943#issuecomment-563157198

/assign @rajansandeep @ereslibre

[2019-12-13 00:49] neolit123 commented on #1918
@fabriziopandini

FYI, looks like https://github.com/kubernetes/kubeadm/pull/1946 did not fix this issue.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1205249784051404810/build-log.txt

[2019-12-13 00:51] neolit123 commented on #1949
i will create a KEP based on the discussions in the google doc linked in the OP.

[2019-12-13 06:44] Hokwang opened #1973 "how to edit etcd options?"
Hello.

Sorry for beginer's question.

**kubeadm version** 1.15.7

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.15.7
- **Cloud provider or hardware configuration**: bare-metal
- **OS** (e.g. from /etc/os-release): ubuntu

## What happened?
installed using kubeadm

I want to add `--listen-metrics-urls=http://<ip>:2379` option for etcd.

How can I do this?

I did edit /etc/ku

[2019-12-13 09:42] guo897654050 commented on #203
thanks a lot ,moving

[2019-12-13 11:58] neolit123 commented on #1973
and then kubectl apply -f /etc/kubernetes/manifests/etcd.yaml
but this does not work.

once your node is deployed you only have to go to the etcd.yaml file, edit and save it.
the kubelet should pick the changes and restart the etcd instance.

1.16 has this enabled by default, but not 1.15.
i don't think you should use port 2379 though. try a custom port.

closing as not a kubeadm bug.
/triage supp

[2019-12-13 11:58] #1973 closed

[2019-12-13 12:05] fabriziopandini commented on #1918
@neolit123 is there an issue for tracking this problem?

[2019-12-13 12:08] neolit123 commented on #1918
this is the issue.

[2019-12-13 12:12] fabriziopandini commented on #1918
:rofl: got lost in translation!
As soon as possible I will try to give it a try and make it surface a better error message

[2019-12-13 12:15] neolit123 commented on #1918
no worries.

was also planning to do that myself and try to reproduce it locally.

[2019-12-14 04:59] fanux opened #1974 "How to get certificate-key when not save the kubeadm init log"
I want to join a control-plan when certificate-key not saved.

[code]
[code]
How to get certificate-key

[2019-12-14 13:02] neolit123 commented on #1974
this can cause you troubles. the hostname must be reachable!
you must be able to look it up from a terminal.

`kubeadm init phase upload-certs`
this will upload the certificates and generate a new certificate key.

closing as not a bug.
/close
/triage support

[2019-12-14 13:02] #1974 closed

[2019-12-14 22:28] fabriziopandini commented on #1916
@alex-vmw

yes, this is the current use case, but when implementing a change we should consider all the possible conditions, and "a user specifying KubeletExtraArgs in the config" is one of them.

unfortunately, when kubeadm is executed it has access only to the current version of the `kubeadm-config`, and as a consequence there is no reliable [1] way to detect `KubeletExtraArgs` or `imageReposito

[2019-12-14 22:28] fabriziopandini commented on #1927
https://github.com/kubernetes/kubernetes/pull/85412 fixed the issue; see https://github.com/kubernetes/kubeadm/issues/1916#issuecomment-559495330 (and following thread)  for the detailed explanation

[2019-12-15 05:13] Hokwang commented on #1973
I think I need to use http for easy way for prometheus.

[2019-12-16 08:12] Hokwang commented on #1973
I upgrade k8s to 1.16, it has `--listen-metric-urls` option as you said.

But it only has http://127.0.0.1:2381, so I added http:<master IP>:2381.

[2019-12-16 12:41] weibeld opened #1976 "kubeadm bundles outdated CNI plugins"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.17.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.17.0
- **Cloud provider or hardware configuration**: GCP n1-standard-2
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.3 LTS
- **Kernel** (e.g. `uname -a`): `5.0.0-1026-gcp #27~18.04.1-Ubuntu`
- **Oth

[2019-12-16 13:20] Dusan-Dingarac commented on #1438
Right command is sudo kubeadm reset, and follow its output at least to delete /etc/cni/net.d and $HOME/.kube/config.

[2019-12-16 23:44] neolit123 commented on #1976
not strictly a kubeadm issue, since kubeadm uses the following official k8s package:
https://github.com/kubernetes/release/blob/e29fdb0c249a44e9e1cc3f0507de65a770c8bf44/build/rpms/kubelet.spec#L29

so technically kubernetes packages outdated plugins.
looks like 0.8* added support for CNI 0.4.0, yet our PRs for updating to 0.8* are still on hold:
https://github.com/kubernetes/kubernetes/pull/78819

[2019-12-16 23:44] #1976 closed

[2019-12-17 02:47] SataQiu commented on #1943
So shall we file a PR to deprecate kube-dns now?

[2019-12-17 02:51] neolit123 commented on #1943
yes, it was decided to file the deprecation but also gather feedback if someone is still using it with kubeadm.

[2019-12-17 13:36] Colstuwjx opened #1977 "kubeadm config images pull policy"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**: minikube v1.6.1
- **OS** (e.g. from /etc/os-release): MacOS majave
- **Kernel** (e.g. `uname -a`):

[code]

- **Others**:

## What happened?

When I typed `sudo env PATH=/var/lib/minikube/binari

[2019-12-17 14:29] neolit123 commented on #1977
Hi. Kubeadm does not have a image pull policy. Currently different commands begave differently. Kubeadm init only pulls if not present. Lets continue the discussion on #524 .

/close

[2019-12-17 14:29] #1977 closed

[2019-12-18 11:22] alexcpn opened #1978 "Kubeadm join fails with Invalid/expired token error in CoreOS"
## Versions

**kubeadm version** (use `kubeadm version`):

cluster1-2 bin # kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:17:50Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl vers

[2019-12-18 14:11] neolit123 commented on #1978
this is very odd, but we have users using the latest kubeadm and also e2e test signal where this works, so it must be something on your end.

- can your try to delete the cluster completely and re-create the primary node using "kubeadm init" then join more nodes?
- if you can't do that above can you print the contents of the `cluster-info` config map in the kube-public namespace?

/triage support

[2019-12-18 18:34] adiastra opened #1979 "Services not recognized when installed via snap"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-10T03:03:11Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versi

[2019-12-18 20:14] neolit123 commented on #1979
hi, the kubeadm team or official k8s as whole, do not maintain a snap package installation.
please direct your question towards the owners of the snap packages.

thank you.
/close

[2019-12-18 20:14] #1979 closed

[2019-12-19 01:19] alexcpn commented on #1978
Actually I deleted the all three nodes once and repeated steps before posting here. I will check again what exactly is wrong, however logs are not really helpful here

[2019-12-19 03:33] alexcpn commented on #1978
core@cluster1-1 / $ ./opt/bin/kubectl cluster-info
Kubernetes master is running at https://192.168.0.10:6443
KubeDNS is running at https://192.168.0.10:6443/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy

To further debug and diagnose cluster problems, use 'kubectl cluster-info dump'.

[2019-12-19 04:44] alexcpn commented on #1978
I deleted the nodes and tried with CentOS VM and it worked. There is another thing I changed; Earlier my OpenStack security group had a default security group also enabled. I removed the default this time, and just put my custom rules (enable all for test). I feel it could be that default rules ? . Also this time I changed the FloatingIPs to a new set. Not sure which of these changes caused it.  W

[2019-12-19 05:04] neolit123 commented on #1978
i meant the output of this command (obtains a config map):
`kubectl get cm -n kube-public cluster-info -o yaml`

not sure, if you share them in the #kubeadm or #kubernetes-users channels on slack, someone might be able to help. we don't have e2e signal for specific Linux distros.

[2019-12-19 05:50] alexcpn commented on #1978
(sorry I deleted the cluster; I will close this and check later)

[2019-12-19 23:49] neolit123 opened #1981 "upgrade from 1.17 to master is broken"
our e2e caught this:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-17-master

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-17-master/1207767136668225537/build-log.txt

[code]

the k/k diff does not reveal anything suspicious:
https://github.com/kubernetes/kubernetes/compare/0b830f3d6...e5f0648c6

we don'

[2019-12-20 01:40] neolit123 commented on #1981
here are some logs with --v=6

[code]
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-17-master/1207828049513418760/build-log.txt

[2019-12-20 01:54] neolit123 commented on #1981
so this fails here:
https://github.com/kubernetes/kubernetes/blob/529d5dd4b2ed63e672eb671c3e459d05ce74fb11/cmd/kubeadm/app/phases/upgrade/staticpods.go#L271

we use the old client to check the health of the etcd cluster members;
https://github.com/kubernetes/kubernetes/blob/d1e8702d36947ccc23ad820eaae7f4afbaf0b058/cmd/kubeadm/app/util/etcd/etcd.go#L355-L399
(with a timeout of 2 seconds)

as per th

[2019-12-20 02:24] liupeng0518 opened #1983 "`kubeadm init` fails on master: node "..." not found"
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm 1.14.6
**Environment**:
- **Kubernetes version** (use `kubectl version`):
1.14.6

- **OS** (e.g. from /etc/os-release):
centos7.3

## What happened?
[code]

## Anything else we need to know?
kubespray add master or node.

[2019-12-20 03:01] neolit123 commented on #1983
try opening this issue in the kubespray repository and please provide more details.

[2019-12-20 03:01] #1983 closed

[2019-12-20 09:27] xxinran opened #1984 "unable to run 'kubeadm init' with config file, kubeadm version v1.17"
## What keywords did you search in kubeadm issues before filing this one?
MasterConfiguration, kubeadm

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:17:

[2019-12-20 19:45] neolit123 commented on #1984
For 1.17 use v1beta2.
This information is present in the 'kubeadm init' page of the k8s.io
website.
/triage support
/close

[2019-12-20 19:45] #1984 closed

[2019-12-23 01:15] #1925 closed

[2019-12-23 04:12] neolit123 opened #1985 "validation.go: don't clamp the CIDR size calculations"
don't clamp the CIDR size calculations during validation.

### guide

change the following lines:
https://github.com/kubernetes/kubernetes/blob/b881f19c8bea5fc79bcd6b59891042dc859e6fdf/cmd/kubeadm/app/apis/kubeadm/validation/validation.go#L388
https://github.com/kubernetes/kubernetes/blob/b881f19c8bea5fc79bcd6b59891042dc859e6fdf/cmd/kubeadm/app/apis/kubeadm/validation/validation.go#L400

to:
`numA

[2019-12-23 22:48] neolit123 opened #1986 "openrc: kubeadm is starting kubelet before complete config is writte to disk"
reported by @kvaster here:
https://github.com/kubernetes/kubernetes/issues/86538

[2019-12-23 22:48] neolit123 commented on #1986
@kvaster

this is something that we discussed at some point, but the problem is that at this point it could be a breaking change to all the users that separated the init process into phases.

before applying this change we need an estimate of the implications.

is there are way to tell an openrc service to loop-restart (crash loop) the same way as systemd is doing?

/kind design
/area ecosystem

[2019-12-24 11:49] kvaster commented on #1986
There is no 'default' way, but there are several different ways. Using supervised for example.
I think it might make sense to add one more phase which will check and restart kubelet if it's not running.

[2019-12-24 14:37] neolit123 commented on #1986
In any case the change must not be disruptive to systemd users as those
compose the majority.

[2019-12-24 16:50] Alexander-Carpenter commented on #1985
/assign

[2019-12-24 17:52] kvaster commented on #1986
I will try to propose some non-disruptive proposition.

[2019-12-24 17:58] neolit123 commented on #1985
Someone already sent a pr for this.

[2019-12-24 17:58] neolit123 commented on #1985
/lifecycle active

[2019-12-24 18:00] neolit123 commented on #1986
Ok, we can also discuss this in a meeting after the holidays. Let's not
send the pr yet. Thanks.

[2019-12-25 21:17] neolit123 commented on #1943
note: we haven't updated the kube-dns version in kubeadm since 1.14.13 (20 Sept, 2018).
latest version is `1.15.8` from 21 Nov, 2019.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go
https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/k8s-dns-kube-dns?gcrImageListsize=200

[2019-12-26 00:35] alaslums opened #1987 "kubeadm init and kubeadm join auto-detects external and internal IPs incorrectly"
Relatively new user. On a fresh bare metal installation (v1.17.0), I end up with this:

[code]
The machines have a single public IP on net0, and a single internal IP on net1.

Expected behaviour: public IP ends up listed as the external IP, internal IP ends up listed as the internal IP, based on whether the range is in rfc1918, or based on which subnet the default route matches against.

Workaroun

[2019-12-26 01:39] neolit123 commented on #1987
hi,

i've googled this guide which covers the same problem:
https://medium.com/@kanrangsan/how-to-specify-internal-ip-for-kubernetes-worker-node-24790b2884fd

also this is a duplicate of:
https://github.com/kubernetes/kubernetes/issues/58609#issuecomment-360860463

both suggest `--node-ip`, which will set the "internal address" of the node.
the Node API objects (that you see when you do `kubectl g

[2019-12-26 01:39] #1987 closed

[2019-12-26 10:09] Frankkkkk opened #1988 "Kubeadm join fails with Invalid/expired token error"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT, Related to #1978

## Versions

**kubeadm version** (use `kubeadm version`):
Both master and slave nodes: `kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:17:50Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"linux

[2019-12-26 13:15] alaslums commented on #1987
Hi neolit123,

Thanks for looking into this, I genuinely appreciate you getting back to me so quickly especially during the holidays and in such detail.

I appreciate that you must have to filter through a lot of crud on here with things that are not issues, and I fully appreciate that Github Issues is not a support forum. In fact, I had already googled this extensively, and had already worked aro

[2019-12-26 13:55] alaslums commented on #1987
I re-created the master node with the interfaces swapped in the Terraform code (and removed the --node-ip), and it made no difference:

[code]

[code]

We still have an external IP on the internal IP, for unknown reasons:

[code]

We do have net1 before net0 with the ip addr output, for unknown reasons:

[code]

I suppose "by convention" doesn't work in all environments.

[2019-12-26 15:14] neolit123 commented on #1987
kubeadm as a user facing deployer often times has to filter bugs and documentation issues in other k8s components. in this case - kubelet and kubectl.

the appropriate issue tracker for kubelet and kubectl is kubernetes/kubernetes.

but you are outlining separate issues:
1) unclear why kubelet picks an external IP by default (tag with `/sig node`) instead of a bogon address.
2) misleading INTERNAL

[2019-12-26 15:42] neolit123 commented on #1988
@Frankkkkk
your `cluster-info` config map contains validation for a couple of tokens:

[code]

but not for the `v4amp0` token.

please answer these questions:
1) is this a cluster that was upgraded from 1.16, or a brand new 1.17 cluster?

2) both these commands:
`kubectl get cm cluster-info -n kube-public -o yaml`
`kubeadm token list` (without grep)
should list all the tokens that you have. what d

[2019-12-26 16:11] neolit123 commented on #1988
i cannot reproduce the problem with 1.17.0

- created a cluster with `kubeadm init`
- created a new token with `kubeadm token create --print-join-command`
- joined a new node with `kubeadm join`

`kubectl get cm -n kube-public cluster-info -o yaml` contains both the default kubeadm token and the new one that was created.

[2019-12-26 17:42] alaslums commented on #1987
Thanks for following up Lubomir especially during the festive period, especially with such detail - it's much appreciated. I will try and find some time to follow up your suggestions regarding documentation improvements.

The InitConfiguration and JoinConfiguration work perfectly, which is a neat/clean solution.

However after reading the logic [here](https://github.com/kubernetes/kubernetes/blob/

[2019-12-26 19:44] neolit123 commented on #1987
i was assuming that this will work for you.

i did not find the precedence documented in the k8s.io website, so if you are willing you can also contribute documentation changes. the website repository is kubernetes/website.

[2019-12-26 23:48] alaslums commented on #1987
Thanks - I'll try and find some time to do so, I'm keen to contribute to the project in some form.

Here's a post about it to help new users hitting the same thing:

https://medium.com/@aleverycity/kubeadm-init-join-and-externalip-vs-internalip-519519ddff89

[2019-12-27 05:36] ponypaver commented on #1961
I've tested parallel join master, it works

[2019-12-27 09:22] Frankkkkk commented on #1988
Hi,
I didn't know that you could see the token with a config map. Very interesting; thanks.

I couldn't reproduce this error on a new machine state today. I think that it was due to a Vagrant mishap and that the slave was communicating with another master that had the same IP as the one I was SSH-ing into.

Anyway, I'll try some more tests for now but I think it's best that I close the issue for n

[2019-12-27 09:22] #1988 closed

[2019-12-27 18:17] Frankkkkk commented on #1988
If some people stumble on this issue, this is it: Vagrant sometimes looses its machines (if the .vagrant is destroyed and VMs are still running for example) and thus duplicates are found (same IP but only one is reachable):

[code]

kubeadms talks to one of the master, but the key is generated on another one.

Thanks again for the help ;-)

[2019-12-27 18:41] neolit123 commented on #1988
Thanks for the update and glad it worked.

[2019-12-27 18:55] neolit123 commented on #1961
From my tests it can sometimes fail. In any case we would like to support
this in the future properly. There is already an issue tracking this.

Thanks.
/close

[2019-12-27 18:55] #1961 closed

[2019-12-27 22:33] neolit123 commented on #1981
discovered a kubelet panic and logged https://github.com/kubernetes/kubernetes/issues/86676

[2019-12-28 11:51] eilmrein opened #1990 "Only 1 etcd with 3 master nodes"
## What keywords did you search in kubeadm issues before filing this one?
join master etcd missing

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

If this is a FEATURE REQUEST, please:
  - Describe *in detail* the feature/behavior/change you'd like to see.

docker version returns
Client: Docker Engine - Community
 Version:           19.03.5
 API version:       1.40
 Go version:        go1

[2019-12-28 16:18] neolit123 commented on #1990
the `get cs` command does not show all etcd members. this is not a bug in kubeadm.
as long as your etcd pods are running (`kubectl get po -A`) your etcd cluster might as well be healthy.

if you really want to make sure it works, you need to learn how to use the etcdctl command.

on the first control-plane node:

[code]

alternatively you can download etcdctl 3.4.3 (used in k8s 1.17) on your host: