[2018-11-24 09:59] #1273 closed

[2018-11-24 13:51] seh commented on #918
I think I see the problem here. In _cmd/kubeadm/app/cmd/phases/certs.go_'s ` newCertSubPhases` function, [we use the default certificate set](https://sourcegraph.com/github.com/kubernetes/kubernetes@master/-/blob/cmd/kubeadm/app/cmd/phases/certs.go#L99:28), whether or not _etcd_ is external or local. That default set [includes an entry for the API server _etcd_ client triple](https://sourcegraph.c

[2018-11-24 14:10] seh opened #1276 ""kubeadm certs" phase uses a hard-coded etcd CA certificate path even in external etcd mode"
## What keywords did you search in kubeadm issues before filing this one?

- _certificates_
- _certs_
- _etcd_
- _external_

## Is this a BUG REPORT or FEATURE REQUEST?

_BUG REPORT_
## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
  AWS EC2
- **OS** (e.g. from

[2018-11-24 14:11] seh commented on #918
I filed a fresh issue: #1276.

[2018-11-24 15:31] neolit123 commented on #1276
i'm pretty sure we had the same report of etcd paths not being respected from the config, but i cannot find the issue - @chuckha and me were assigned at first.

this was problematic with upgrades too if i recall correctly.

/assign @fabriziopandini @liztio @chuckha

[2018-11-25 04:40] gl328518397 commented on #1162
Events:
  Type     Reason     Age                 From               Message
  ----     ------     ----                ----               -------
  Normal   Scheduled  114s                default-scheduler  Successfully assigned kube-system/coredns-5b4dd968b9-mqhvc to cap166
  Normal   Pulled     49s (x4 over 114s)  kubelet, cap166    Container image "k8s.gcr.io/coredns:1.2.2" already present on m

[2018-11-25 07:20] fabriziopandini commented on #1258
@seh
https://github.com/kubernetes/kubernetes/pull/71232 merged, so now at head certificate management should support sparse certificates scenarios. Could you kindly give a feedback if all the cases are addressed?

[2018-11-25 07:31] fabriziopandini commented on #918
@seh
If I get this thread right the problem on front-proxy CA is fixed, but there is another issue related to etcd names in case of external ca.
If so, given #1276, this issue can closed, right?

[2018-11-25 07:38] fabriziopandini commented on #1276
@seh
I think that the fix here is to check external etcd mode before loading certificates in run function (no need of touching certlist)
@liztio opinions?

[2018-11-25 08:56] hshtel opened #1277 "only one of CoreDNS pods is in CrashLoopBackOff"
## Is this a BUG REPORT or FEATURE REQUEST

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.12.1

**Environment**:
- **Kubernetes version** (use `kubectl version`):
v1.12.1

- **OS** (e.g. from /etc/os-release):

NAME="Ubuntu"
VERSION="16.04.5 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.5 LTS"
VERSION_ID="16.04"

- **Kernel** (e.g. `uname -a`):
L

[2018-11-25 13:55] seh commented on #918
Yes, we can close this one. Thank you again for the fix.

[2018-11-25 13:55] #918 closed

[2018-11-25 14:04] seh commented on #1276
I was so distracted by the error in front of me concerning the CA file path that I neglected to notice that the client key and certificate paths are also specified in the same `ClusterConfiguration` stanza, and **the "certs" phase doesn't respect them either**. It just so happens that the values I had specified matched the default values used by the "certs" phase, so we don't see any divergence.

[2018-11-25 14:43] seh commented on #1258
It's working well for my case, which is probably unusual: I run in "external _etcd_ mode" and the faux "external front proxy mode," in that I create those keys and certificates myself and place them on the master machines; problems there were what motivated #807 and #918, both solved now.

I had been creating _all_ the certificates myself, avoiding the "certs" phase altogether. Now I'm taking adva

[2018-11-26 03:21] l453595892 opened #1278 "can`t set dns service clusterIP"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
v1.12.2
**Environment**:
- **Kubernetes version** (use `kubectl version`):
v1.12.2
- **OS** (e.g. from /etc/os-release):
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:

[2018-11-26 03:52] neolit123 commented on #1278
please provide your complete setup using the issue template:
https://raw.githubusercontent.com/kubernetes/kubeadm/master/.github/ISSUE_TEMPLATE.md

[2018-11-26 06:37] jrgilman commented on #1153
Same issue, why has this been closed?

[2018-11-26 07:15] jrgilman opened #1279 "kubeadm init hits docker container memory limit (code 137) when starting kube-apiserver container"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.2", GitCommit:"17c77c7898218073f14c8d573582e8d2313dc740", GitTreeState:"clean", BuildDate:"2018-10-24T06:51:33Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/arm"}`

**Environment**:
- **Kubernetes versio

[2018-11-26 07:18] fabriziopandini commented on #1258
@seh good to know the certs part is working, so I'm closing the issue
/close

For the kubelet part eventually let's move the discussion to a separated issue, even if at first sight this is more a kubelet/cloud provider issue than a kubeadm issue.

[2018-11-26 07:18] #1258 closed

[2018-11-26 08:42] hshtel commented on #1277
Just to mention that I have tried below from the issues #1162  and #504 with no luck:

$  kubectl -n kube-system get deployment coredns -o yaml | \
  sed 's/allowPrivilegeEscalation: false/allowPrivilegeEscalation: true/g' | \
  kubectl apply -f -

$ echo -e '[Service]\nEnvironment="KUBELET_EXTRA_ARGS=--resolv-conf=/run/systemd/resolve/resolv.conf"\n' | sudo tee /etc/systemd/system/kubelet.service

[2018-11-26 08:54] l453595892 commented on #1278
@neolit123 i have edited it already

[2018-11-26 11:31] neolit123 commented on #1279
i think it's better if you pre-pull the images for the  Pi 3B+.

you can do this on a more powerful machine:
[code]

[2018-11-26 14:07] joshuacox commented on #1268
@fabianofranz you are indeed correct, I have modified as per your recommendations:

https://gist.github.com/joshuacox/95aad9bee0c7e49e735ec3ec553b24ca

and all seems to work, back to the drawing board on a few things to find out where I went wrong!  Closing.

[2018-11-26 14:07] #1268 closed

[2018-11-26 15:07] fabriziopandini commented on #1268
@joshuacox happy to hear it worked!
Thanks for the feedback!

[2018-11-26 17:33] joshuacox opened #1280 "failing containers under stacked method, possible low memory"
stacked method results in anomalous restarts of of etcd kube-controller and kube-scheduler.

## What keywords did you search in kubeadm issues before filing this one?

etcd kube-controller kube-scheduler restarts stacked

Choose one: BUG REPORT or FEATURE REQUEST

/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl v

[2018-11-26 17:38] neolit123 commented on #1280
that would be a good test case.

cc @fabriziopandini

[2018-11-26 17:49] joshuacox commented on #1280
@neolit123 @fabianofranz tried again with 2.8 GB on the primary and 2.5 on the two other masters with the same results, adding another gig to 3.8 and 3.5 respectively and gave it another go, but still a good 4 restarts for the etcd and 1 scheduler and 1 controller restart each pretty much the same logs as above.

[2018-11-26 18:08] caseydavenport commented on #1185
Yep, that's exactly right. Agreed this should be in the main CNI paragraph. Potentially worth noting that this applies to the Service IP range as well - nodes, pods, and services should have distinct IP ranges assigned to them.

Unfortunately, there isn't a good way to get this information from the Kubernetes API today. Calico defaults to using `192.168.0.0/16` but that can easily be changed. Othe

[2018-11-26 18:11] neolit123 commented on #1185
Flannel and Canal also require explicit pod CIDR.

[2018-11-26 18:12] neolit123 commented on #1185
that's true. but the problem can be observed with 3.3 as well.

[2018-11-26 18:19] caseydavenport commented on #1185
@neolit123 yep, my point with the docs link was just to make sure we're on the same page, and to point out that the newer docs do mention that 192.168.0.0/16 can't be already in-use within your network.

Just spotted this PR, which looks like it covers the issue here. Nice! https://github.com/kubernetes/website/pull/11225

[2018-11-26 18:23] neolit123 commented on #1280
in general this doesn't seem like a kubeadm specific problem, but rather a kubernetes problem.

[2018-11-26 18:33] rdodev commented on #1185
The Node object has all this info, I believe.

[2018-11-26 18:53] caseydavenport commented on #1185
@rdodev The Node object has a `spec.PodCIDR` field, which is _not_ the same thing as the `--pod-cidr` argument passed to kubeadm. Each node gets a small piece of the total CIDR assigned to the cluster.

In fact, Calico _does_ monitor the `spec.PodCIDR` field of the Nod object. However, that field will only get populated if `--pod-cidr` is passed to kubeadm :D

What I meant is there is no way to vi

[2018-11-26 18:57] rdodev commented on #1185
@caseydavenport tyvm for the clarification ... I think I understand the subtle difference now ... emphasis on _think_. :)

[2018-11-26 19:35] chrisohaver commented on #1277
[code]

It would seem that the node on which the crashing coredns pod is scheduled, has network issues preventing any Pods on it from contacting the Kubernetes API.

[2018-11-26 19:51] joshuacox commented on #1280
@neolit123 (thanks for the correction), as for kubernetes issue possibly so, it might also just be a timing issue, I'm still investigating when and why this happens.  It is also something that appears to work itself out and stop, so I might just be nitpicking.

[2018-11-26 22:13] timothysc commented on #1254
No, we should not be doing this!

You can not respect cgroup limits when you have swap on.  It's fine if folks want to override for a local test, but it will catastrophically fail in production.

[2018-11-26 22:13] #1254 closed

[2018-11-26 23:34] timothysc commented on #1260
We could probably inject from the build.

[2018-11-26 23:38] timothysc commented on #1266
Golang 2 semantics are ideal for this scenario.  I think we should hold until it's real, otherwise, we would implement something only to replace it again.

[2018-11-26 23:47] timothysc commented on #1269
We can add a known issues section to the bottom of the doc and crosslink the issue.

[2018-11-26 23:54] timothysc commented on #1272
So enabling link-local addresses can be problematic in most use cases.  We purposefully disabled due to a couple of other failure conditions, and this use case is non-standard IMO.

[2018-11-26 23:57] timothysc commented on #1274
We should rationalize the docs, this is a documentation problem and folks should use the standard kubeadm HA docs.

/assign @timothysc
/kind documentation

[2018-11-27 00:02] timothysc commented on #1275
I would do the following:
 - Paste the output of `kubeadm init`
 - Paste the output of `kubectl get pods --all-namespaces`
 - Paste the output of `kubectl describe pods <pods in question>`

/assign @timothysc

[2018-11-27 00:07] timothysc commented on #1279
You're running out of memory on a host which probably has a large reserve for the kernel.  This isn't a kubeadm issue, but a memory constraint problem.

[2018-11-27 00:07] #1279 closed

[2018-11-27 00:10] timothysc commented on #1280
For HA this is unsuprising to me.

For HA clustering, we should update the documentation on memory limits

/kind documentation

[2018-11-27 00:19] joshuacox commented on #1280
@timothysc adding memory did not seem to help though, but my investigations so far haven't turned up a true culprit as to what is going wrong.

[2018-11-27 00:42] anitgandhi commented on #1275
I saw this happen as well. My CNI pods (Cilium) were not running as well. I saw many errors in the various component logs along the lines of "Service account token unauthorized."

In my case, it was because I was doing an HA setup, and I forgot to pre-generate the `sa.key` and `sa.pub`, so the 3 master instances were all using differently signed service accounts. Pre-generating solved the issue fo

[2018-11-27 01:00] neolit123 commented on #1280
lazy GC. possibly memory leaks too.
@fabriziopandini how much RAM were you giving for a CP node in your test setup?

[2018-11-27 01:03] neolit123 commented on #1275
- do you have a kubelet version that matches the `kubernetesVersion` too - e.g. 1.12.2?
- try different CNI plugin like Weave and report back.

[2018-11-27 01:13] pytimer commented on #1275
@neolit123 kubelet version is 1.12.2
[code]
I try it on the other new virtual machine, it works well, coredns and kube-proxy created.

I not deploy CNI plugin,so i think CNI plugin maybe no relationship.

@anitgandhi I already run `kubeadm reset -f` on the node, pki has been deleted. I use keepalived instead of load balancer, and VIP ping is ok. Kubelet logs only output `Unable to update cni confi

[2018-11-27 01:16] chuckha commented on #1266
I see this as two separate issues, 1) error handling strategy, 2) repetitive syntax. I understand your concern. This is no small ticket, which was also what @neolit123 was getting at.

As for Go2, assuming the proposal goes through unchanged, will have the ability to clean up repetitive error handling cases. The proposal in this issue is focused on issue 1. I believe there is a much more efficient

[2018-11-27 01:30] pytimer commented on #1211
@fabianofranz sorry, some things during this time.

I use 1.13.0-beta.2 on the virtual machine to test this issue. I init and join control plane successfully. But when i run `kubeadm reset -f` on the control plane, the cluster is not work.

Etcd container on the first init node always restart, and i found logs output this etcd still connect reset node etcd member.

etcd logs:
[code]

### reproduce

[2018-11-27 06:11] blieberman commented on #1227
I am running into a similar issue with bootstrapping a cluster with kubeadm. Can you further elaborate on how you resolved?

[2018-11-27 09:05] fabriziopandini commented on #1211
@pytimer
If I got it right, you create two control plane instances with a local etcd, so you get an etcd cluster with two etcd members. Then you reset one of the instances and the remaining etcd gets stuck.

The reason behind that is that the etcd cluster loses quorum

@timothysc opinions about if/how to handle this use case?

[2018-11-27 09:34] fabriziopandini commented on #1280
@neolit123 I give 2GB, but I usually throw away the cluster after completing a test case (max 2/ hours).
As soon as I have a little bit of time I will create a cluster somewhere in cloud and try to keep it up for a longer time.

@joshuacox the error to be investigated are the ectd errors (when etcd fails, then scheduler and controller manager fails "by design").

[2018-11-27 10:37] rosti commented on #1185
Yes, this is an issue, that is best to be solved at a more broad level.
For now, we have somewhat plugged the gap in documentation with kubernetes/website#11225.
We can try to implement a pre-flight check during init and join, that verifies that the CIDR does not overlap with any of the host networks (as present in the routing table).

[2018-11-27 10:37] fabriziopandini opened #1281 "Selfhosting pivoting fails when using --store-certs-in-secrets"
`kubeadm alpha selfhosting pivot` (kubeadm v1.13.0-beta.2) fails when invoked with `--store-certs-in-secrets` with the following error message:

[code]

[2018-11-27 10:42] bart0sh commented on #1254
@timothsc In my opinion if user explicitly sets this option in the config we should allow to do that. Silently ignoring it as we currently do is not an option. We can warn user if needed though.

[2018-11-27 11:08] rosti commented on #1084
/remove-lifecycle stale
/assign

[2018-11-27 11:13] pytimer commented on #1211
Yes, you said right.

So i think if run `kubeadm reset` on the hosting control plane node, kubeadm should delete member from etcd cluster and then do other things.

[2018-11-27 11:47] hshtel commented on #1277
@chrisohaver but why only one pod is crashing, if there is network issue why the other pod is running normally. noting that when I delete these pods, they were rescheduled on other nodes with the same problem.
also have metric server deployed on the cluster and can communicate to the api-server.
my network CNI is weave, is there any suggestion to check or try.

[2018-11-27 14:01] chrisohaver commented on #1277
Since it is a _timeout_ (and not a connection refused, or permission denied, or auth failure), It seems to be a problem with the Pod network affecting some nodes and not others.

You can test by scheduling utility/test pods (busybox for example) on nodes where coredns is not working, and attempting to reach the API manually via telnet to 443.

That said, while I can troubleshoot issues within core

[2018-11-27 15:01] utkuozdemir commented on #1162
I shared the solution that has worked for me here: https://stackoverflow.com/a/53414041/1005102

[2018-11-27 15:12] neolit123 commented on #1162
@utkuozdemir

alternatively:
`cat /var/lib/kubelet/kubeadm-flags.env`
kubeadm writes the --resolv-conf flag in that file each time it runs join and init.

[2018-11-27 15:29] neolit123 commented on #1280
@fabriziopandini

might be a good idea to see the N of pod restarts right before the cluster terminates.

@joshuacox

something else to note. FYI, from time to time i see random pod restarts with a lot more RAM for a single control plane node.

[2018-11-27 15:51] timothysc commented on #1281
I'm fine with waiting till 1.14 on this one.

[2018-11-27 16:25] joshuacox commented on #1280
@fabriziopandini the freshest exited etcd container errors I get from a freshly provisioned cluster is:

[code]

with the manifest for that etcd:

[code]

generated from this kubeadmcfg.yaml:

[code]

[2018-11-27 17:00] andrewrynhard commented on #1281
I thought this feature was being removed? The issue is likely due to https://github.com/kubernetes/kubernetes/issues/61322.

[2018-11-27 17:08] neolit123 commented on #1280
seems like a etcd issue to me:

this post mentions that this can happen from time to time:
https://crewjam.com/etcd-aws/

etcdmain: error validating peerURLs {ClusterID:500f903265bef4ea Members:[&{ID:7452025f0b7cee3e RaftAttributes:{PeerURLs:[http://10.0.133.146:2380]} Attributes:{Name:i-c8ccfa12 ClientURLs:[http://10.0.133.146:2379]}}] RemovedMemberIDs:[]}: member count is unequal
This can be res

[2018-11-27 18:30] caseydavenport commented on #1185
Is there something left we're tracking with this issue, or can it be closed?

It seems to me we have addressed the lack of documentation, and any future work should be tracked in a new issue?

[2018-11-27 18:34] neolit123 commented on #1185
no, we are good for now.
thanks.

[2018-11-27 18:34] #1185 closed

[2018-11-27 19:00] rdodev commented on #1261
External etcd upgrade docs PR here: https://github.com/kubernetes/website/pull/11364

[2018-11-27 20:16] fabriziopandini commented on #1281
@andrewrynhard thanks for pointing this out!

self-hosting was removed from kubeadm init and kubeadm upgrade workflows (both of them in some way not working properly), but it was agreed to leave an alpha command with the pivoting logic that you can call after init; however, be aware that once the cluster is turned to self-hosting you are on your own (e.g. for solving checkpointing / cold restart).

[2018-11-27 20:42] fabriziopandini commented on #1280
@joshuacox
there is something strange in the error message:
[code]
I don't see the third member stackedmaster3 https://10.0.23.140:2379 . Might be you forgot to run etcd meber add on the last node?

[2018-11-27 21:47] neolit123 commented on #1200
my proposal here:

- we add a new flag for `kubeadm init` called e.g. `--serve`.
- once `kubeadm init` has finished we start listening for connections on a TCP port but with a TTL (e.,g. 10 minutes)
- nodes calling `kubeadm join --experimental-control-plane` will probe for that connection at the controlplane endpoint IP.
- if a connection is established a secure handshake will be performed using t

[2018-11-27 22:02] joshuacox commented on #1280
@fabriziopandini  "etcd member add"?  I am following the steps [here](https://kubernetes.io/docs/setup/independent/high-availability/#add-the-third-stacked-control-plane-node)

[2018-11-28 07:20] argsv commented on #339
I got into this situation by having downgrading docker then trying to run minikube. **kubeadm reset** resolved the issue.

[2018-11-28 10:07] fabriziopandini commented on #1280
@joshuacox
why are you creating etcd manifest twice (L19 and L27)? IMO L19 should go away...
I'm also not sure about sleep command in L23, because in this leaves the cluster without the quorum for some time when moving from one etcd member to two...

PS. be aware that things are changing in v1.13 (part of the complexity for stacked etcd setup is going away; phases are graduating). If you are start

[2018-11-28 10:14] inercia commented on #1200
In my view, the idea of serving files for a limited period of time would mean that new masters could not be added later on, and that would import important restrictions in the topoloogy in the cluster. I guess that the solution in this case would be that users would have to restart the `--server` side and then `join` the new master, but this effectively would be no better than a regular `scp`.

Be

[2018-11-28 11:04] neolit123 commented on #1200
that's a limitation yes.
of course if someone wants to they could leave the file server open indefinitely.

MITM problems are removed by the encryption of the file transfer. there is no need to distribute public/private keys because the bootstrap token itself is the secret key.

@fabriziopandini proposed something similar. having the certs as part of the bootstrap token.
i don't know how it works

[2018-11-28 11:46] vdboor commented on #338
Even when applying all the steps from by @weisjohn (https://github.com/kubernetes/kubeadm/issues/338#issuecomment-418879755) and @michaelfig  (https://github.com/kubernetes/kubeadm/issues/338#issuecomment-428340099) I notice that ` kubeadm upgrade diff v1.12.3` still wants to revert the `---advertise-address` in `/etc/kubernetes/manifests/kube-apiserver.yaml`. Any clues?

[2018-11-28 12:08] NullIsNot0 commented on #761
Check if Docker service is running:
`systemctl enable docker`
If not, start it and enable service to automatically start after reboot:
`systemctl start docker`
`systemctl enable docker`

[2018-11-28 12:17] luxas commented on #1242
@neolit123 @liztio this can merge right after the v1.13 cut, right?

[2018-11-28 12:18] luxas commented on #1261
@rdodev This all seems merged now, thanks!

[2018-11-28 12:18] #1261 closed

[2018-11-28 12:18] luxas commented on #1265
@rdodev status update? Is this now done given the recent merges?

[2018-11-28 12:20] luxas commented on #1265
Closing as fixed by https://github.com/kubernetes/website/pull/11364 :tada:

[2018-11-28 12:20] #1265 closed

[2018-11-28 12:25] fabriziopandini opened #1282 "Add an high level doc for docker/external components recommended versions"
As per slack discussion with @luxas
https://kubernetes.slack.com/archives/C13J86Z63/p1543406930652200
https://kubernetes.slack.com/archives/C13J86Z63/p1543407324656100

"@zhangxiaoyu-zidif pointed out that we don't have the recommended/supported docker version in our kubeadm docs
We should definitely include that"

"We should aggregate a common doc that is higher-level and has all that dep info in

[2018-11-28 12:46] luxas commented on #1282
any volunteer to aggregate the version dep information from the three latest releases :smile:
cc @neolit123 @rosti @rdodev ^?

[2018-11-28 12:50] luxas opened #1283 "Stop using API server's `--insecure-port`"
From startup logs:
[code]
@fabriziopandini @timothysc

[2018-11-28 12:53] luxas opened #1284 "Use `--bind-address` for the controller-manager"
From startup logs:
[code]
@timothysc @fabriziopandini @sttts

[2018-11-28 12:55] luxas opened #1285 "Configure secure serving for controller-manager & scheduler"
xref: #1285

insecure serving is deprecated. We should switch to secure serving.
controller-manager logs in v1.13.0-rc.1:
[code]

scheduler logs in v1.13.0-rc.1:
[code]

@sttts What do we need to do here?

[2018-11-28 12:56] luxas opened #1286 "Enable the "root-ca-cert-publisher" controller?"
I'm not sure what this controller does, but we might consider enabling it:

[code]
@timothysc @sttts

[2018-11-28 12:58] luxas commented on #1285
cc @timothysc @liztio

[2018-11-28 13:00] luxas opened #1287 "Install conntrack as a deb/rpm dep?"
From kubelet logs in a fresh v1.13.0-rc.1 install:
[code]

[2018-11-28 13:06] luxas opened #1288 "Certify kubeadm v1.13 as a Conformant Kubernetes deployment"
We should do this ASAP after v1.13 is cut to kick off the v1.13 programme.

xref: https://github.com/kubernetes/kubeadm/issues/1061

/assign @stealthybox @timothysc @fabriziopandini
@stealthybox (to certify kubeadm if you have time)
@timothysc (to make sure sonobuoy is able to handle v1.13)
@fabriziopandini (as backup if @stealthybox is unavailable)

[2018-11-28 13:36] neolit123 commented on #1282
we do have the recommended version.

here:
https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-runtime
there is a link that leads to:
https://kubernetes.io/docs/setup/cri/

this was contributed by @bart0sh and @vincepri and approved by @timothysc .

[2018-11-28 14:20] neolit123 commented on #1234
xref:
https://github.com/kubernetes/kubeadm/issues/1285
cc @luxas

[2018-11-28 14:21] neolit123 commented on #1284
closing for this older issue (that also has some discussion):
https://github.com/kubernetes/kubeadm/issues/1284
xref-ed https://github.com/kubernetes/kubeadm/issues/1285 there too.

[2018-11-28 14:21] #1284 closed

[2018-11-28 16:10] joshuacox commented on #1280
@fabriziopandini thanks for helping me find that mistake, eliminating line 19 and 23 results in:

[code]

etcd is indeed still dying with the same messages:

[code]

the script is shortened to just:

[code]

Is there a version of this [page](https://kubernetes.io/docs/setup/independent/high-availability/#add-the-third-stacked-control-plane-node) for v1.13 yet?  I'll gladly start prepping to for it

[2018-11-28 16:13] neolit123 commented on #1280
thanks for confirming he problem @joshuacox

the PR is in flight and will be merged before release date.

[2018-11-28 16:13] neolit123 commented on #1280
wrong button.

[2018-11-28 16:49] luxas commented on #1234
@yagonobre any progress?

[2018-11-28 16:54] luxas commented on #1282
@neolit123 I mean ALL the versions. etcd, CoreDNS, Docker, CRI/CNI/CSI API specifications, cri-tools
Like this: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.12.md#external-dependencies, but in the website for the three latest versions. Not all of those but the most important ones.

[2018-11-28 17:29] mauilion commented on #1287
/assign

[2018-11-28 17:30] mauilion commented on #1287
I am interested in taking this on.

[2018-11-28 17:44] neolit123 opened #1289 "Write a survey and sync it with the blog post for 1.13"
EDIT: link is private for now.

[2018-11-28 18:08] neolit123 commented on #1200
after the discussion of 28.11 office hours, we decided that we should collect proposals in a gdoc for this and eventually do a KEP.
TODO

[2018-11-28 18:18] joshuacox commented on #1280
I will note that this works:

[code]

where the etcd config line is before the exec, and the wait is 66, if I shorten the wait to 36, it fails into crashloopbackoff

[2018-11-28 18:35] neolit123 commented on #1280
@joshuacox
i think this is expected because the kubelet needs time to pick up the new manifest. except its hard to document it in the old instructions.
in the most recent docs we've added a instruction to wait for all the pods to come up before joining new members:
https://github.com/kubernetes/website/pull/11094

do you think we can close this issue now?

[2018-11-28 18:50] tannh commented on #1171
@neolit123 with kubeadm HA. If I want to be able to schedule pods on the master, it's okay ?. Thanks you.

[2018-11-28 19:01] joshuacox commented on #1280
closing, I'm implementing a wait sort of like the one [here](https://github.com/LiliC/travis-minikube/blob/minikube-30-kube-1.12/.travis.yml#L28)

[2018-11-28 19:01] #1280 closed

[2018-11-28 19:11] rdodev commented on #1288
@luxas I'm on it. As soon as 1.13 is cut, I'll run conformance.

[2018-11-28 19:14] luxas commented on #1288
@rdodev Thanks :tada:!

[2018-11-28 19:15] luxas commented on #1287
Thanks @mauilion! Making sure conntrack is a dep of (all!) our packages is necessary for this.
For context, can you also research why it's needed etc. please

[2018-11-28 19:16] luxas commented on #1282
I meant this doc would be maintained by us, based directly from the release notes.
So in other words "just" (very needed!) maintenance work

[2018-11-28 19:20] luxas commented on #1084
@rosti I'll target this for v1.14 for you

[2018-11-28 19:23] Bradamant3 commented on #1242
currently the docs PR is in my hands for copyedit, will be merged this week (before 1.13 release).

[2018-11-28 19:38] neolit123 commented on #1280
@joshuacox
yes a deterministic wait is even better.

[2018-11-28 19:47] neolit123 commented on #1171
@tannh
try this on your worker pods:
https://docs.platform9.com/support/disallowing-workloads-on-kubernetes-master-nodes/

[2018-11-28 20:36] mauilion commented on #1287
@luxas I am looking at doing this work in k8s.io/releases there is also a set of files in k8s.io/kubernetes/build/

Should I update both to indicate that conntrack is a dependency for kubeadm?

[2018-11-28 20:39] dims commented on #1287
@mauilion we need to keep both in sync for the time being. yes please

[2018-11-28 23:36] neolit123 commented on #1289
i think we have time until Saturday because we want to release it in-sync with the blog - i.e. have a link in the blog.

[2018-11-29 01:18] timothysc opened #1290 "1.14-1.15 Test Infra Changes."
There is a large amount of technical debt that needs to get paid down to eliminate issues in CI.
- [x] Move Kops to periodic and release blocking
- [ ] Make KIND a PR blocking job
edit: there is a KIND pre-submit now, but non-blocking yet. can be called on demand with `/test pull-kubernetes-e2e-kind`
- [ ] Move kubeadm-kind jobs to release blocking
- [x] Implement upgrade and skew tests for kubead

[2018-11-29 02:10] RA489 commented on #1283
@luxas I will work on this.

[2018-11-29 02:43] neolit123 commented on #1283
thanks @RA489
/lifecycle active

[2018-11-29 07:49] sttts commented on #1285
You have to pass `--authentication-kubeconfig` and `--authorization-kubeconfig` and then configure RBAC to
- allow to read the `kube-system/extension-apiserver-authentication` configmap: https://github.com/kubernetes/kubernetes/blob/1588af4031e746e3e48855256054133e8707f018/test/integration/serving/serving_test.go#L133
- allow to do delegated authorization via SubjectAccessReview: https://github.co

[2018-11-29 09:20] shettyh commented on #1056
+1 Facing the same issue in CentOS 7 and kubeadm 1.11

@timothysc

[2018-11-29 09:21] Jpedro19 commented on #1274
I just tried to set it up with Katacoda and the scheduler works! Everything runs smoothly.

Therefore, there must be an error with kubeadm when trying to access the policy configurations and the role of the kube-scheduler :/

[2018-11-29 10:38] ssds-team commented on #1026
OMG THANKS!!!

[2018-11-29 10:39] DamienVStone commented on #1026
OMG THANKS!!!

[2018-11-29 11:04] luxas commented on #1283
Thanks @RA489 :clap:!

[2018-11-29 15:14] bart0sh commented on #1266
@chuckha Please, correct me if I'm wrong here, but the idea of this issue sounds somehow contradictory to the main purpose of errors.Wrap - adding context to errors that come from low level API.  Without it error message on the upper level would confuse users. Getting "no such file or directory" message when running "kubeadm join" is not giving much help for user to understand what's going on. Get

[2018-11-29 16:32] neolit123 commented on #1290
it would be interesting to define what the PR blocking job would be, some examples:
- 1 master (conformance)
- 1 master + 3 workers (non conformance??)
- 1 master + 3 workers (conformance)

currently @BenTheElder has kind passing conformance on a periodic for single master pretty consistently.
https://k8s-testgrid.appspot.com/sig-testing-kind#conformance,%20master%20(dev)

also serial vs non-seria

[2018-11-29 16:54] timothysc commented on #1290
I think we should have kind as a PR blocking job right now and move kops to periodic to unblock the community.

[2018-11-29 17:01] chuckha commented on #1266
@bart0sh I totally agree with you, we should not forget about the users! A stack trace is too extreme to show the users and is really only necessary during an unexpected error. If the error is expected then we have the ability to handle it and print a user friendly error message. If it's not expected we can print a stack trace along with a link to kubeadm/issues and instructions to fill out an iss

[2018-11-29 17:23] yagonobre commented on #1234
@luxas I'll send a pr tomorrow.

[2018-11-29 17:25] yagonobre commented on #1257
Thanks @yuexiao-wang
/lifecycle active

[2018-11-29 17:42] yagonobre commented on #1267
/lifecycle active

[2018-11-29 17:44] yagonobre commented on #1189
/assign

[2018-11-29 17:44] yagonobre commented on #1188
/assign

[2018-11-29 20:49] neolit123 commented on #1289
survey is pretty much done at this point. tomorrow is the end date for this.
we broke it down into sections after @fabriziopandini suggested an early exit and a couple of more questions.

[2018-11-29 20:53] neolit123 commented on #1042
we couldn't find any task that we can add and also some of the ideas did not get approved on the kubeadm side.
we can leave this issue with the current automated lifecycle, unless cluster-api or kops would like to add proposals.

[2018-11-29 20:54] neolit123 commented on #1028
hopefully the survey can gather some ideas about the security features.

[2018-11-29 20:57] neolit123 commented on #1211
we should try to get the remaining etcd nodes to not get stuck.
otherwise this breaks our HA guaranties.

[2018-11-29 21:01] neolit123 commented on #1197
i think we should evaluate if these error codes even have consumers.
judging from how k8s testing currently works an error is an error and we don't parse exit codes other than 0 and 1.

seems to me that we might just use this everywhere:
`DefaultErrorExitCode = 1`

[2018-11-29 21:05] neolit123 commented on #1150
this falls into the land of debugging and i don't think we should add features for it, for now at least, unless there is user demand.
what we can do instead of adding features is document how to pre-load and to satisfy the kubeadm pre-pull not to fail.

[2018-11-29 21:08] neolit123 commented on #1231
/assign @timothysc @luxas @fabriziopandini
WDYT
(proposed by @fabriziopandini [here](https://github.com/kubernetes/kubernetes/pull/70893#pullrequestreview-173625872))

[2018-11-29 21:48] timothysc commented on #1290
HA w/kind is a nice-to-have, but not a requirement.  TBH I think it would be weird.

[2018-11-29 22:07] neolit123 commented on #1290
it feels like the only good option we have in terms of testing HA without a CP.

[2018-11-29 22:13] BenTheElder commented on #1290
some notes:
- technically multi-node is necessary to fully pass conformance, else one test is "skipped", but otherwise they do generally pass.
  - running the bulk of them in parallel is _much_ faster with ~15 minute CI jobs, but recently has gotten flakier on k8s master branch :/
- lots of e2e tests that are not conformance do hacky stuff that may need some work to port / support

I've spoken to

[2018-11-29 22:38] timothysc commented on #1289
I've added some questions and rephrased others.

[2018-11-29 22:46] ixdy commented on #1290
Can you elaborate on what you mean by this?

[2018-11-29 22:51] timothysc opened #1291 "RFE: Audit default limits and priorities"
We need to update limit defaults and make certain we are using sane values for priorities.  We have legacy cruft that also needs to be audited.

xref: https://github.com/kubernetes/kubernetes/pull/69734

[2018-11-30 01:44] foxyriver commented on #1105
when join work node, kubeadm uses bootstrap token to access kube-apiserver, it will be transferred to anonymous user, but you set --anonymous-auth=false.

[2018-11-30 04:29] shettyh commented on #1056
Adding `iptables -p FORWARD ACCEPT` fixed the issue

[2018-11-30 07:13] fabriziopandini commented on #1231
+1
I think that making explicit that an object was created by kubeadm, tracking the last kubeadm version touched the object and when is a good think.
It add transparency to what kubeadm does and open ups to add  more robust version specific  logic

[2018-11-30 10:57] cyclamen commented on #1227
@blieberman
me either !
You can use    kubeadm init --config .....    -v265        to see some logs

[2018-11-30 10:58] cyclamen commented on #1227
@blieberman
me either !
You can use kubeadm init --config ..... -v265 to see some logs

[2018-11-30 13:32] joshuacox commented on #1227
Don't forget to test the master connection to the etcd stack:

[code]

here's the final script I was using to provision etcd, master, and  node:

https://gist.github.com/joshuacox/95aad9bee0c7e49e735ec3ec553b24ca

or in a more robust manner, my full script:

https://kubash.org/

[2018-11-30 13:48] rdodev commented on #1290
/watching topic

[2018-11-30 15:27] timothysc commented on #1290
/assign @liztio @rdodev

[2018-11-30 22:05] neolit123 commented on #1289
this is done.

[2018-11-30 22:05] #1289 closed

[2018-12-01 01:30] yagonobre commented on #1267
Thanks again
/close

[2018-12-01 01:30] #1267 closed

[2018-12-01 01:31] yuexiao-wang commented on #1267
Thanks

[2018-12-02 08:08] aravind-murthy opened #1292 "coredns CrashLoopBackOff due to dnsmasq"
## What keywords did you search in kubeadm issues before filing this one?
Ubuntu 16.04 coredns crashloopbackoff

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
`Local Virtual Machine, 2 CPU, 4 GB RAM`

[2018-12-02 14:30] rmb938 opened #1294 "kubeadm unmounts /var/lib/kubelet"
**What happened**:

kubeadm reset unmounts /var/lib/kubelet instead of just emptying the directory

**What you expected to happen**:

The directory to be emptied instead of unmounted

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a mount point i.e `/data/var/lib/kubelet`
1. Symlink `/var/lib/kubelet` to /data/var/lib/kubelet`
1. Launch a cluster with `kubeadm init`
1

[2018-12-02 14:31] rmb938 commented on #1294
Was asked to post this here https://github.com/kubernetes/kubernetes/issues/71638

[2018-12-02 15:10] srueg commented on #1220
I'm taking a shot at this: https://github.com/kubernetes/kubernetes/pull/71642
Feedback appreciated.

[2018-12-02 17:42] neolit123 commented on #1294
the path is intended for cleanup here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/reset.go#L172

yes, the unmount is a pre-step.

this could be part of the problem, but i don't think it should happen because of symlinks.

[2018-12-02 18:00] neolit123 commented on #1292
please provide logs from the CoreDNS pods.

google reveils numerous reports that this is problematic on Ubuntu:
`nameserver 127.0.1.1`

in 1.12.x you can also try `--feature-gates=CoreDNS=false` to enable kube-dns.
just for the sake of testing.

[2018-12-02 18:03] rmb938 commented on #1294
@neolit123 I did some more testing and it seems like this only happens when there are no pod mounts setup.

i.e none of these

[code]

I ran this command https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/reset.go#L159

and when there are pods mounted it returns:

[code]

however with no pods mounted it returns this

[code]

As you can see it wants to unmount `/data/var/lib/k

[2018-12-02 22:33] tbernacchi commented on #1153
Hello guys,

I'm facing the same issue here, when I start the cluster I got the message from the token, but I cant install a cloud weave:
``
kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
The connection to the server 192.168.56.104:6443 was refused - did you specify the right host or port?``

When I go to logs I got the message about the n

[2018-12-03 00:41] bruceauyeung commented on #1153
my problem is solved and actually it's not a bug, it's because apiserver failed to start for some reason.

[2018-12-03 08:05] btrepp opened #1295 "add support for the OpenRC as init system"
EDIT by neolit123:

the init system is already supported yet kubeadm still is assuming systemd in paths and messages:
see:
https://github.com/kubernetes/kubeadm/issues/1295#issuecomment-491443917

also see this workaround:
https://github.com/kubernetes/kubeadm/issues/1295#issuecomment-474318713

--------

BUG REPORT

Looks like alpine linux init system isn't supported by kubeadm.
It seems to write

[2018-12-03 13:43] kad commented on #1295
/assign

[2018-12-03 14:44] aravind-murthy commented on #1292
Hi @bart0sh  - please advise how do i check for NM and dnsmasq? This is a brand new VM, so i haven't configured anything explicitly (as far as i am aware) unless it already comes enabled by default in the OS. However, i can check and report back.

[2018-12-03 14:59] bart0sh commented on #1292
@aravind-murthy Please check if you have /etc/NetworkManager/NetworkManager.conf and what is mentioned there as dns, e.g. dns=dnsmasq. You can also check if dnsmasq process is in the 'ps aux' output or/and its service status: 'sudo systemctl status dnsmasq'

[2018-12-03 15:05] bart0sh commented on #1294
@neolit123 yep, will do

/assign

[2018-12-03 15:16] aravind-murthy commented on #1292
root@k8s-master:~# kubectl get pods --all-namespaces
NAMESPACE     NAME                                 READY   STATUS             RESTARTS   AGE
kube-system   coredns-576cbf47c7-dkhx5             0/1     CrashLoopBackOff   1          9m9s
kube-system   coredns-576cbf47c7-qlnqn             0/1     CrashLoopBackOff   1          9m9s
kube-system   etcd-k8s-master                      1/1     Running

[2018-12-03 15:19] aravind-murthy commented on #1292
[code]

[2018-12-03 15:21] neolit123 commented on #1292
[code]
^ you need to add `-n kube-system` to specify the namespace too.

[2018-12-03 15:33] bart0sh commented on #1292
@aravind-murthy that's interesting. The service is enabled in the network manager, but not running. Please, comment out 'dns=dnsmasq' line in the config and restart network manager: sudo systemctl restart network-manager

Then restore original name servers in /etc/resolv.conf (they're probably commented out there). That should help core-dns pods when they're restarted by kubelet.

[2018-12-03 15:48] aravind-murthy commented on #1292
[code]

[2018-12-03 15:50] neolit123 commented on #1292
see:
https://github.com/coredns/coredns/issues/2087#issuecomment-432387727

[2018-12-03 15:51] aravind-murthy commented on #1292
I havent commented anything out in this file (/etc/resolv.conf). It currently has following entries:

[code]

[2018-12-03 15:53] bart0sh commented on #1292
@aravind-murthy can you comment out line with dnsmasq address: nameserver 127.0.1.1
then you can delete core-dns pods. they'll be restarted by kubelet and hopefully will work

[2018-12-03 15:53] bart0sh commented on #1292
@neolit123 my case is different. core-dns pods are in pending state, logs are empty

[2018-12-03 15:59] aravind-murthy commented on #1292
[code]

[code]

[2018-12-03 16:07] aravind-murthy commented on #1292
Yes, this works as I noted in the "Anything else we need to know section" but it looks like its a hacky solution.

[code]

[2018-12-03 16:08] neolit123 commented on #1292
you can also try kube-dns, but it seems to me like Ubuntu is doing things wrong.

[2018-12-03 16:10] aravind-murthy commented on #1292
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#coredns-pods-have-crashloopbackoff-or-error-state solution does not work BTW.

[2018-12-03 16:12] neolit123 commented on #1292
sadly there can be more than one reason for a pods' `CrashLoopBackoff` state.

[2018-12-03 16:16] bart0sh commented on #1292
@aravind-murthy Can you look if 'nameserver 127.0.1.1' line is still commented out in your /etc/resolv.conf? It could be rewritten and that can cause dns loop and core-dns crash

[2018-12-03 16:23] neolit123 commented on #1292
@chrisohaver what is the official way for solving the loop issues that are present in stock Ubuntu 16.04 that we should include in our TS guide?

[2018-12-03 17:02] alejandrox1 commented on #1292
@aravind-murthy in your setup instructions you mentioned that you did the following:

Before installing flannel via `kubectl apply -f https://...`, did you set `/proc/sys/net/bridge/bridge-nf-call-iptables` to 1 by running `sysctl net.bridge.bridge-nf-call-iptables=1` ?

[2018-12-03 17:23] chrisohaver commented on #1292
@neolit123, IMO the best way fix the DNS self-forwarding loop issue, is to fix the underlying deployment issue in kubelet: that kubelet is sending invalid upstream servers to Pods with dnsPolicy="default".  In effect, make kubelet use a copy of `resolv.conf` which contains the actual upstreams (where ever that is in a stock Ubuntu 16.04).  This would fix the issue for all dnsPolicy="default" Pods,

[2018-12-03 17:30] neolit123 commented on #1292
thanks a lot for the details @chrisohaver !

we need to add this info to the troubleshooting guide.
this is a distro / resolv.conf problem and not a kubeadm problem, but our users face it.

page to update:
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#coredns-pods-have-crashloopbackoff-or-error-state

[2018-12-03 17:34] aravind-murthy commented on #1292
I did not, thanks for pointing that out. I will retry on a clean VM once more and advise shortly.

[2018-12-03 17:38] bart0sh commented on #1292
@neolit123 in this particular case we need to figure out how to disable dnsmasq completely. Looks like disabling it in network manager is not enough and dhcp client or other piece of software puts 'nameserver 127.0.1.1' back into it, which triggers loop detection in core-dns.

[2018-12-03 17:54] neolit123 commented on #1292
i'm realizing that we automate what is passed to the kubelet depending on systemd-resolved and that's problematic. but instructing the user to write a custom resolv.conf is still an option too, i guess.

if we use the default resolv.conf, we need to disable the automatic adding of names

so first step is:
1) comment out `dns=dnsmasq` in the network manager config
2) this post has some info of what

[2018-12-03 18:07] chrisohaver commented on #1292
I've proposed a PR that generalizes the loop troubleshooting docs in the coredns loop plugin readme, so it more clearly applies to any kind of local DNS caching server, not just systemd-resolved. coredns/coredns#2363

[2018-12-03 22:35] RatanVMistry commented on #338
@weisjohn Thank you for

Thank you for steps.
Can you provide more like what changes we need to do on master node and after that what procedure we need to apply for old worker node to join that reconfigured master node?

Thanks in advance :)

[2018-12-03 22:41] neolit123 commented on #1242
closed by:
https://github.com/kubernetes/website/pull/11093

[2018-12-03 22:41] #1242 closed

[2018-12-03 23:59] timothysc commented on #1290
@ixdy - Moving build details here https://github.com/kubernetes/kubernetes/issues/71677

[2018-12-04 01:51] rdodev commented on #1288
On it. Testing v1.13.0 conformance via sonobuoy scanner.

Results will be found here: https://scanner.heptio.com/3f1f5668066edb40a648f065de811acb/

[2018-12-04 02:47] btrepp commented on #1295
With all warnings apart from not having a supported init system detected. Still has the same issue.

[2018-12-04 03:18] rdodev commented on #1288
Conformance has passed: https://scanner.heptio.com/3f1f5668066edb40a648f065de811acb/diagnostics/

[2018-12-04 08:57] luxas commented on #1288
I'll submit a PR like: https://github.com/cncf/k8s-conformance/pull/353

[2018-12-04 09:16] luxas commented on #1220
Thanks @srueg!

[2018-12-04 10:54] #1294 closed

[2018-12-04 11:31] yuexiao-wang commented on #1205
It is a similar issue about test utilites.  https://github.com/kubernetes/kubeadm/issues/1257

[2018-12-04 11:32] fabriziopandini commented on #1205
Not yet.
I think that this will be discussed in v1.14 planning (this week or the week after kubeconfig)

Similar, but not overlapping

[2018-12-04 11:41] luxas commented on #1287
Reopening to track https://github.com/kubernetes/release/pull/653

[2018-12-04 11:47] yuexiao-wang commented on #1205
Got it.  https://github.com/kubernetes/kubernetes/pull/71702 will be hold and wait for v1.14 planning.

[2018-12-04 13:11] luxas opened #1296 "Remove the v1alpha3 config API version in v1.15"
It has been deprecated in v1.13 in favor of v1beta1, and will be removed in v1.14

@rosti can you send a PR for this?
I & @fabriziopandini will review it.
/assign @luxas @fabriziopandini @rosti

[2018-12-04 13:16] luxas opened #1297 "Bump minimum supported version to v1.13 at HEAD"
xref: https://github.com/kubernetes/kubeadm/issues/1260
this should be simpler than it is but meanwhile...

let's:
 - bump the minimum version to v1.13 at HEAD
 - remove v1.12-specific code
 - remove v1.10, v1.11, v1.12 records for matching etcd versions

@yagonobre or @ereslibre can you help with this?

[2018-12-04 13:16] luxas commented on #1297
cc @rosti @fabriziopandini @timothysc @neolit123

[2018-12-04 13:21] luxas commented on #1288
Sonobuoy doesn't support v1.13 at the moment, and needs to be updated first: https://github.com/heptio/sonobuoy/issues/560

[2018-12-04 14:40] fabriziopandini opened #1298 "Cleanup upgrade from no-TLS etcd to TLS etcd"
Kubeadm upgrade still implements support from no-TLS local etcd to TLS local etcd, that should not be necessary anymore

[2018-12-04 15:24] alejandrox1 commented on #1292
@aravind-murthy have you retried this ?

[2018-12-04 16:07] aravind-murthy commented on #1292
Not yet please give me some time, i need the k8s cluster up and running to test jenkins-k8s-kubectl plugin (unrelated POC to this issue). I will report back when I can.

[2018-12-04 18:43] neolit123 commented on #1215
the process of exposing the backend is going to take a while.
we should start of by reserving a kubeadm office hours meeting for this in 2019 and discussing the tasks at hand.

[2018-12-04 19:21] MalloZup commented on #1215
hi @luxas @neolit123  yop, i agree we can make a meeting on it.

In the meanwhile i could have a look on some minor issue like this one `kubeadm/test,` import
thx :sunflower:

[2018-12-04 19:22] neolit123 commented on #1297
ideally https://github.com/kubernetes/kubeadm/issues/1260
should probably done before this.

constants need cleanup first....

[2018-12-04 19:56] sbezverk opened #1299 "new installation of v1.13.0 resulted in etcd container restarts"
## Is this a request for help?
Yes

it is a bug report

## Versions
 kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:02:01Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
**kubeadm version** (use `kubeadm version`):

**Environment**:
- **K

[2018-12-04 20:12] mauilion commented on #1299
From the logs you can't connect to 127.0.0.1:2379 This seems to be the main issue. As if that fails you will also fail healthcheck and the pod will be restarted (flap)

[2018-12-04 20:23] luxas commented on #1297
Can do it after as well, or at the same time :wink: whatever works for me as long as we do both

[2018-12-04 20:35] sbezverk commented on #1299
@mauilion I agree but what is not clear why after restart, I can curl etcd with command you suggested. So it seem the issue with with health check and not the actual connectivity.

[2018-12-04 21:44] neolit123 commented on #1299
so, if you are running CentOS 7.x with Docker 1.13.1.87 and seeing messages like:
[code]

this is an issue with Docker and you should either downgrade to 1.13.1-75 or just install 18.06 which is the recommended docker version in k8s 1.12 and 1.13.

i will add a troubleshooting guide entry about that.

[2018-12-04 21:46] MalloZup commented on #1215
@neolit123  ah thx for feedback ! any issue get fixed really quick here :smile_cat:

[2018-12-04 21:56] mauilion commented on #1299
yep can confirm. I was able to reproduce this with:
vagrant init generic/centos7
yum update
then running through the docs for kubeadm init on 1.13.

I see that the kubelet is killing etcd after a bit as it can't exec into the etcd container.

I verified that also can not as a root user exec into a running container.

I then downgraded per the ticket that neolit23 found and the issue went away.

I'

[2018-12-05 02:01] yuexiao-wang commented on #1298
I will work on it.
/assign

[2018-12-05 02:02] yagonobre commented on #1298
Thanks @yuexiao-wang
/lifecycle active

[2018-12-05 06:18] yuexiao-wang commented on #1257
/close

[2018-12-05 06:20] neolit123 commented on #1292
looks like we already have an entry for this in the TS guide here:
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#coredns-pods-have-crashloopbackoff-or-error-state

[2018-12-05 06:20] #1292 closed

[2018-12-05 06:21] neolit123 commented on #1292
@aravind-murthy please feel free to report your findings, still.

[2018-12-05 06:21] neolit123 commented on #1299
/lifecycle active
/assign
sent PR for the TS guide.

[2018-12-05 08:07] pytimer opened #1300 "kubeadm reset success but this node ip still in kubeadm-config configmap"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

I use `kubeadm reset -f` to reset this

[2018-12-05 08:47] fabriziopandini opened #1301 "Minor improvements on upgrade Docs"
In [Installing kubeadm](https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl) we are suggesting to `apt-mark hold` packages.

On [upgrade instructions](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13/ ) for single node cluster we should suggest `apt-mark unhold` before and `apt-mark hold` again after, similar to what

[2018-12-05 08:55] para27rsh opened #1302 "No cloud provider specified & No api server defined - no events will be sent to API server."
I am getting this Error while running kubelet
Following Steps mentioned
http://kamalmarhubi.com/blog/2015/08/27/what-even-is-a-kubelet/

![screenshot from 2018-12-05 14-24-06](https://user-images.githubusercontent.com/27858047/49501972-1a053100-f89a-11e8-9a2e-4c9f16430257.png)

Inside **manifest** folder

**nginx.yaml**

apiVersion: v1
kind: Pod
metadata:
  name: nginx
spec:
  containers:
  -name:

[2018-12-05 08:58] yuexiao-wang commented on #1301
I will work on it

[2018-12-05 09:10] yagonobre commented on #1301
Thanks @yuexiao-wang
/lifecycle active

[2018-12-05 09:14] yagonobre commented on #1257
Closed by https://github.com/kubernetes/kubernetes/pull/71702
/close

[2018-12-05 09:14] #1257 closed

[2018-12-05 09:49] vdboor commented on #338
Not to mention, I had to update my overlay network too. In calico:

[code]

[2018-12-05 11:23] aisensiy commented on #666
Right now there is no warning when I do `kubeadm upgrade apply v1.11.5` which took me a lot of time to figure out what went wrong because of the interal ip access used the `HTTPS_PROXY` just in the shell.

[2018-12-05 15:01] neolit123 commented on #1300
cc @fabriziopandini

[2018-12-05 15:04] neolit123 commented on #1302
please re-open if this is kubeadm related.
also provide your whole setup by following this template:
https://github.com/kubernetes/kubeadm/blob/master/.github/ISSUE_TEMPLATE.md

thanks!

[2018-12-05 15:04] #1302 closed

[2018-12-05 15:52] yuripastushenko commented on #1234
Like i told in https://github.com/kubernetes/kubeadm/issues/1235 - i think we should by default exclude this flag at all, because the default value of --bind-address is driven by kubeadm and is 0.0.0.0.
The users should have the ability to leave the default behaviour of kubeadm for this flag.

[2018-12-05 16:13] rosti commented on #1296
I am on it.

/lifecycle active

[2018-12-05 16:42] #1301 closed

[2018-12-05 17:32] danbeaulieu opened #1303 "--experimental-control-plane fails with odd configuration"
## What keywords did you search in kubeadm issues before filing this one?
- experimental-control-plane
- wrong etcd config
- error uploading configuration

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
```kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6

[2018-12-05 18:06] BastienL commented on #581
Thanks a lot @danroliver! On our single-master/multi-workers cluster, doing the steps from 1 to 7 were enough, we did not have to reconnect every worker node to the master (which was the most painful part).

[2018-12-05 18:07] luxas commented on #1296
Thanks!

[2018-12-05 18:55] neolit123 commented on #1296
@luxas , @timothysc proposed that we keep this old version for a longer time - maybe one more cycle?
the idea would be to not allow clusters that use it and return an error, but keep it for the sake of having godocs for it.

[2018-12-05 20:50] kennethredler commented on #1189
I've not yet tested, but [this commit may have addressed the issue](https://github.com/kubernetes/kubernetes/commit/d484c8c087968d76e804cdb0a863e04d216f6ed9).

[2018-12-05 21:47] danbeaulieu commented on #1303
I *think* I am unblocked. I think I was using this wrong. It sounds like I need to have separate configs for the "initializer" and another one for "joiners". The initializer doesn't need the etcd config anymore and the joiner can be very basic as it will inherit all of the config from configmaps created during init.

Feel free to close if that makes sense.

[2018-12-05 22:10] alexbrand opened #1304 "kubeadm token create: kubeconfig flag should take higher precedence than kubeconfig in home dir"
## What keywords did you search in kubeadm issues before filing this one?

kubeadm token create kubeconfig precedence

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-rele

[2018-12-05 22:36] #1299 closed

[2018-12-05 22:42] neolit123 commented on #1304
It seems like the DefaultClientConfigLoadingRules take precedence over the --kubeconfig flag? If so, this issue probably affects other kubeadm commands.

if the file that is being passed is different from the value from `kubeadmconstants.GetAdminKubeConfigPath()` (or `/etc/kubernetes/admin.conf`)
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/util/cmdutil.go#L67

then it

[2018-12-05 22:48] neolit123 commented on #1303
@danbeaulieu

i don't think there is a need for that because of:

unless you the joining control plane needs some special flags.

but yes, for local etcd this is no longer needed.

this example config shows it:
https://kubernetes.io/docs/setup/independent/high-availability/#stacked-control-plane-and-etcd-nodes
and also here there is a note:
https://kubernetes.io/docs/setup/independent/ha-topology/

[2018-12-05 22:48] #1303 closed

[2018-12-06 01:15] alexbrand commented on #1304
Yup, I ended up just removing the stale file. Thanks @neolit123

[2018-12-06 10:33] rosti commented on #1296
Yes, this was discussed yesterday at the kubeadm office hours. I agree with that.
In the mean time I can put together a PR to disable creating/joining clusters with v1alpha3, but still allow it `kubeadm config migrate` to convert such configs into v1beta1.

[2018-12-06 12:38] alanh0vx opened #1305 "Kubernetes cluster from 1.10.6 to 1.11.5, except master node, pods in other nodes are assigned with 172.17.x.x"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-12-06 15:41] tommyknows opened #1306 "kubeadm v1.13 ignores --kubeconfig-dir on phases"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT (?)

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

## What happened?
I'm writing a script to automate kubernetes deployments with kubeadm. Up until now, I have used the following command to do all the steps regarding bootstrap-tokens on a remote server:
[code]
With kubeadm v1.13, this does not work anymore - there's no `--

[2018-12-06 15:44] yagonobre commented on #1306
Hi @tommyknows can you post the output of `echo $kubeconfig_file`

[2018-12-06 15:44] yagonobre commented on #1306
/kind bug
/priority awaiting-more-evidence

[2018-12-06 15:46] yagonobre commented on #1298
Closed by https://github.com/kubernetes/kubernetes/pull/71740
/close

[2018-12-06 15:46] #1298 closed

[2018-12-06 15:53] yagonobre commented on #1306
@tommyknows I'll send a pr with the fix sson
/remove-priority  awaiting-more-evidence
/priority important-soon

[2018-12-06 15:54] yagonobre commented on #1306
/assign

[2018-12-06 15:59] neolit123 commented on #1305
hi, for a certain host kubeadm tries to find the preferred outbound address from your default network interface. there seems to be something strange happening in your setup.

please provide outputs from the following commands:
`iptables --list`
`ifconfig`
`route`

cc @rosti @mauilion

[2018-12-06 16:39] rosti commented on #1305
Also, what is the network plugin you are using? Is it Calico?

[2018-12-06 20:55] MarkusTeufelberger commented on #1093
What's the current direction on self-hosted Kubernetes? There's https://github.com/kubernetes-incubator/bootkube in incubation for quite a while now and according to https://github.com/kubernetes-incubator/bootkube/issues/97 they initially wanted to add this functionality to kubeadm. Is this now reverted and their tool is the one to be used for self-hosting exclusively, is self-hosting no longer a

[2018-12-06 21:11] neolit123 commented on #1093
in 1.13 we moved self-hosting outside of the standard init workflow and into a `kubeadm alpha` sub-command.
you can still "pivot" a cluster to use self-hosting from kubeadm but upgrades are unsupported.

from my perspective the future of this feature is unclear in terms of k8s as a whole, but for kubeadm it was decided that we want to have it optional and mostly driven by community contributions.

[2018-12-06 21:13] #1306 closed

[2018-12-06 21:18] MarkusTeufelberger commented on #1093
Yeah, that's how far I got as well. I really hoped that bootkube would mature faster and/or get absorbed into kubeadm.

What's holding this feature back from becoming a more standard practice to run k8s? It sounds like a logical next step to me to self-host the control plane after all.

[2018-12-06 21:39] neolit123 commented on #1093
i haven't heard of such plans. our current pivoting approach is pretty similar to what bootkube is doing.

i do not know the answer for k8s as a whole.

for kubeadm here some of the current caveats outlined here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#caveats

the whole idea of maintaining two different ways of cluster creation is what made us remove it from the sta

[2018-12-06 22:17] fabriziopandini commented on #1300
Some comments here:

@pytimer I know that having a node api address left in cluster status is not ideal, but I'm interested in understanding if this "lack of cleanup" generates problems or not. Have you tried to join the same control-plane again? have you tried to join another control-plane? I don't expect problems, but getting a confirmation on this point will really be appreciated.

@luxas might

[2018-12-06 22:35] fabriziopandini opened #1307 "Identify a solution for godoc links versioning"
In the k8s website we are using links to the api to get

However, while the k8s website is versioned, godoc is always generated from master, so it might happen that the code linked by godoc changes or get deleted e.g. links to old v1alphaX<3 kubeadm config

Ideally, godoc link should be defined pointing to specific branch/tags instead of master, but I don't know if it is possible...
See https://gi

[2018-12-06 22:51] yagonobre commented on #1307
I tested with gopkg.in, as you said in the meeting, but the k8s branchs are named `release-1.12.0` and gopkg.in don't allow points in the branch name =/

[2018-12-07 00:46] btrepp commented on #1295
Also not supporting the init system is totally understandable, maybe an improvement here is just some documentation of the supported init systems (or just saying that it only supports systemd if that's the case)

[2018-12-07 00:52] kad commented on #1295
Can you share what is in the logs for kubelet and in docker containers (if any are running after kubeadm error messages)

[2018-12-07 01:12] btrepp commented on #1295
Hi kad, as far as I can tell there is no kubelet process running, and no containers are ever started.

I know little about kubeadms internals, but it appears it wants to configure a service at the beginning (eg systemd), can't find a supported init system, so skips it, but later on is waiting for that init system to have started the kubelet.

[2018-12-07 06:00] mauilion commented on #1305
Can you also provide the output of
`kubectl get ippools -o yaml`

[2018-12-07 06:35] alanh0vx commented on #1305
Hi All,

probably some settings were being overwritten during the upgrade, after doing some investigation,

We try to add the following in each node:

[code]
adding ` --network-plugin=cni` as the parameter

`systemctl daemon-reload` and `systemctl restart kubelet`

then the pods will be assigned correctly.

but we still can't confirm why the settings were change during upgrade

[2018-12-07 07:20] fabriziopandini commented on #1300
@pytimer thanks!
This should be investigated. There is already a logic that tries to sync the supposed list of etcd endpoints with the real etcd list endpoint, but something seems not working properly

[2018-12-07 08:33] stephaneeybert commented on #972
I'm now using Terraform and trying to build the join command from another server, and it's not easy.

[2018-12-07 08:41] stephaneeybert commented on #519
How can we output just one value ? Xay the token or the discovery token sha, etc..

[2018-12-07 11:05] raesene opened #1308 "CIS Benchmark Compliance - /var/lib/etcd permissions"
this was mentioned in the k8s slack and I was asked to file an issue, so here it is :) As a little background I'm one of the authors of the CIS benchmark and I'm looking at changes we may need to make for the next version.  Our reference installation mechanism is kubeadm.

At the moment a default kubeadm installation will get a failing mark on item 1.4.11 of the CIS Kubernetes Benchmark version 1.

[2018-12-07 13:10] mszumilak opened #1309 "not able to pass properly specific configuration parameters to api server"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

The apiServerExtraArgs is dictionary:
[code]

Passing additional arguments with special characters is not possible.

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/
[code]

Providing "-" requires API server manifest to have the line enquoted:
[code]

**kubeadm version** (use `kubeadm version`):

[2018-12-07 13:34] MartinEmrich opened #1310 "Cannot join another master: unable to fetch the kubeadm-config ConfigMap"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT ?

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:02:01Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes ve

[2018-12-07 13:36] mszumilak commented on #1309
Maybe adding additional section called:
[code]
as a yaml list containing only strings would be an option here?

[2018-12-07 13:46] rosti commented on #1282
We used to maintain such a table here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#running-kubeadm-without-an-internet-connection

However, we decided to simply tell the users to use `kubeadm config images list` to list the exact images and versions (tags). This looks way more accurate and less error prone, than having to maintain a table.
The table at the link is only m

[2018-12-07 13:58] fabriziopandini commented on #1310
@MartinEmrich sometimes issue related to tokens when joining nodes are due to problems on the kube-controller-manager. Could you check if everything is working fine on your bootstrap node?

[2018-12-07 14:01] yagonobre commented on #1308
I guess that it's ok to use `700` in `/var/lib/etcd`. I'll validate this in a bit.
/area security
/kind feature
/assign

[2018-12-07 14:02] MartinEmrich commented on #1310
@fabianofranz kube-controller-manager looks harmless... It logs nothing during the join attempt.

[2018-12-07 16:07] neolit123 opened #1311 "kubeadm upgrade order for control plane nodes"
the upgrade order in our single control plane page is wrong:
xref: https://github.com/kubernetes/kubernetes/issues/71783

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-11/
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-12/
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13/

we instruct to install a new ku

[2018-12-07 16:30] danbeaulieu commented on #1300
Yes this does seem like a bug. We have a 3 node control plane ASG. If we terminate an instance a new one will be created per the ASG rules. During this time the terminated node is listed as unhealthy in the member list of etcd. When the new instance comes up, before running `kubeadm join...`, it removes the unhealthy member from etcd. By the time we run `kubeadm join...` the etcd cluster is health

[2018-12-07 16:34] jaxxstorm commented on #683
/remove-lifecycle rotten

[2018-12-07 17:39] neolit123 commented on #1310
TTL for the token should be 24h.
did you verify that the pods for the second CP were fully created before joining the third?

[2018-12-07 17:46] neolit123 commented on #1309
what special characters are you passing?

[code]

this should work.

[2018-12-07 17:55] neolit123 commented on #683
@jaxxstorm
kubeadm is passing the k8s conformance tests.
https://k8s-testgrid.appspot.com/sig-testing-kind#conformance,%20master%20(dev)

so my question here would be why isn't CIS compliance as part of conformance tests and what does the CNCF thinks about that?

cc @spiffxp

i cannot seem to find a link for this.

if we end up with CIS related conformance tests failing for kubeadm, actions will b

[2018-12-07 17:56] neolit123 commented on #683
^ cc @raesene

[2018-12-07 17:59] neolit123 commented on #1308
if that's the case we should file an issue for the kubelet instead of kubeadm.
cc @detiber @chuckha for :eyes:

[2018-12-07 18:01] yagonobre commented on #1308
From https://kubernetes.io/docs/concepts/storage/volumes/#hostpath
[code]

[2018-12-07 18:10] neolit123 commented on #1308
@yagonobre thanks.

@raesene so, this seems as part of the k8s internals.
a kubernetes / kubernetes issue has to be created tagging `/sig storage` and `/sig node`.

[2018-12-07 21:00] mszumilak commented on #1309
This does not work.

[code]

After setting it up there's an error in redeploying services and rollback to previous version.

[2018-12-07 21:19] timothysc commented on #1282
ok, we should chat on a sig call on this one.

We need to be careful with this and actually provide test signal that is good for the (stream) of components.

[2018-12-07 21:21] timothysc commented on #1247
Closing this is not a kubeadm issue.

[2018-12-07 21:21] #1247 closed

[2018-12-07 22:20] brianriceca commented on #907
I'm experiencing the same problem, except one version newer.

On the master:
[code]

What, where did that server version 1.13.0 come from? I didn't install that.

Anyway, before I ran kubeadm init on this VM, I cloned it, so I have another one ready to be another node in the cluster. Because it's a clone, it also has 1.12.1. When I try to join it:

[code]
And why can't it get the kubelet-config-1.

[2018-12-07 23:33] neolit123 commented on #1309
downgrade from 1.12.3 to 1.12.1 worked fine and after that i again see this in the apiserver manifest:
[code]

[2018-12-07 23:34] neolit123 commented on #1309
what is the error you are seeing? i cannot confirm this.

[2018-12-08 08:26] fabriziopandini opened #1312 "Kubeadm reset should cleanup control-plane nodes properly"
Kubeadm reset should take care of removing control-plane nodes from the ClusterStatus status ConfigMap

[2018-12-08 08:58] luxas commented on #683
I'm gonna own/track this work for v1.14.
kube-bench hasn't updated their benchmarks since v1.11, I'll get in touch with the maintainers.
I've ran the v1.11 benchmarks on a local kubeadm cluster, and it looks pretty good.
We'll do some minor changes, and patch some false negatives in the CIS spec itself.

https://github.com/aquasecurity/kube-bench/tree/master/cfg

The CIS benchmark would be additiv

[2018-12-08 09:01] luxas commented on #1308
Yes, let's fix this in v1.14. It might be relevant with a cherrypick, depending on the implementation.
We're gonna prioritize #683 in the coming release.

[2018-12-08 09:02] luxas commented on #683
also xref this old issue we had: https://github.com/aquasecurity/kube-bench/issues/65

[2018-12-08 09:06] luxas commented on #1308
Easiest way forward here is to create the directory with `os.Mkdir(All)` with the right permissions if it doesn't exist, and _then_ let k8s do its thing with hostpath `type=Directory` (requires the directory to already exist)

[2018-12-08 09:06] raesene commented on #683
So Kube-bench hasn't updated past 1.11, I'd imagine, 'cause the CIS spec. hasn't been updated yet for 1.12 or 1.13.

In the past we've not done a new version of the CIS benchmark for every Kubernetes release, although we could look to do that I guess, as hopefully there shouldn't be too many changes for each one.

I've already started some work on adapting items where compliance with the CIS bench

[2018-12-08 09:45] luxas commented on #1282
@rosti this is not about the control plane images that is k8s, but everything else ;)

[2018-12-08 09:59] MartinEmrich commented on #1310
@neolit123 I guess that's it. I set up the master the day before, around the same time.

Didn't know the token expires so fast. How can I refresh it?

[2018-12-08 11:39] luxas commented on #1288
Now got around to submitting the PR, here we go: https://github.com/cncf/k8s-conformance/pull/403

[2018-12-08 14:36] neolit123 commented on #1310
have a look at the `kubeadm token` commands - e.g. `create`.
please feel free to re-open this issue if needed.

thanks
/close

[2018-12-08 14:36] #1310 closed

[2018-12-09 08:52] brizule commented on #1026
systemctl status kubelet cmd show the error info
"Jul 27 17:22:20 kubernetes kubelet[10401]: W0727 17:22:20.623173   10401 cni.go:172] Unable to update cni config: No networks found in /etc/cni/net.d
Jul 27 17:22:20 kubernetes kubelet[10401]: E0727 17:22:20.623379   10401 kubelet.go:2110] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network p

[2018-12-10 07:10] hshtel commented on #1277
I have recreated the cluster and the problem didn't appear. I don't know what I made wrong at the first time and I will close this issue, thanks all.

[2018-12-10 07:10] #1277 closed

[2018-12-10 07:59] #1159 closed

[2018-12-10 09:05] chenxushuo opened #1314 "upgrade v1.10.7 -> v1.10.11"
## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT

## Versions
**kubeadm version** (use `kubeadm version`):
v1.10.11
**Environment**:
- **Kubernetes version** (use `kubectl version`):
v1.10.7
- **Cloud provider or hardware configuration**:
alicloud
- **OS** (e.g. from /etc/os-release):
centos 7
- **Kernel** (e.g. `uname -a`):
 3.10.0-693.2.2.el7.x86_64
- **Others**:

## What happened?
when i

[2018-12-10 09:55] ramanjk commented on #907
@brianriceca : facing exactly same issue as like you...any solution for this..

Master:ram@k8master1:~$ kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.1", GitCommit:"4ed3216f3ec431b140b1d899130a69fc671678f4", GitTreeState:"clean", BuildDate:"2018-10-05T16:43:08Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"linux/amd64"}
ram@k8master1:~$ dpkg -l | grep k

[2018-12-10 12:36] MartinEmrich commented on #1310
Indeed, creating a new token with `kubeadm token create` helped, I now have 3 happy master nodes.

Thanks!

[2018-12-10 14:56] neolit123 commented on #1314
this seems like a bug to me. it should be `https://dl.k8s.io/release/stable-1.10.txt`

but we also have the question if we want to cap upgrades from minor X -> X+1 as the maximum version to check. currently the 1.10 client find 1.13 and this upgrade skew is not possible.

cc @rdodev @chuckha @timothysc

/kind bug
/area upgrades
/priority important-longterm

[2018-12-10 15:13] jeffwubj opened #1315 "kubeadm init failed in standalone vm"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:02:01Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Kubernetes versio

[2018-12-10 16:12] Klaven commented on #1312
I'll take this one.

[2018-12-10 16:18] bart0sh commented on #1260
I'll take this.

/assign

[2018-12-10 17:18] neolit123 commented on #1315
it seems to be like you are missing his file:
https://github.com/kubernetes/kubernetes/blob/master/build/rpms/10-kubeadm.conf

/priority awaiting-more-evidence
/kind ecosystem

[2018-12-10 17:23] luxas commented on #1296
Sounds good to me :+1:

[2018-12-10 19:19] yagonobre commented on #1312
Thanks @Klaven
/lifecycle active

[2018-12-10 19:20] yagonobre commented on #1260
Thanks @bart0sh
/lifecycle active

[2018-12-10 19:55] stevemcquaid commented on #1146
/close

[2018-12-10 19:55] #1146 closed

[2018-12-10 22:08] #1308 closed

[2018-12-11 00:05] jeffwubj commented on #1315
Thanks, I was adding kubelet/kubeadm manually, after adding 10-kubeadm.conf, it works, thanks !

[2018-12-11 00:05] #1315 closed

[2018-12-11 00:31] neolit123 opened #1317 "kubeadm incorrectly upgrades kubelet.conf for certificate rotation during cluster upgrade"
NOTE: duplicated from k/k
https://github.com/kubernetes/kubernetes/issues/71825

reported by @turchanov

[2018-12-11 01:42] pytimer commented on #1300
@fabianofranz I maybe found the cause of this problem.

When sync the etcd endpoints with the real etcd endpoint list, the sync is success. But assign the real etcd endpoints to etcd client `Endpoints`, this client variable is not a pointer, so when other code use the client, this client endpoints still old endpoints, not the real endpoints after sync.

I fixed this problem in my fork repository,

[2018-12-11 06:10] chenxushuo commented on #1314
if you want to cap upgrades from minor X -> X+1 as the maximum version to check，you should check  "https://dl.k8s.io/release/stable-1.txt" not  "https://dl.k8s.io/release/stable-1.1.txt" ?!

[2018-12-11 07:00] chenxushuo commented on #1314
And then ,Can i  run the CMD  to update my kubernetes?
[code]

[2018-12-11 08:01] fabriziopandini commented on #1300
@pytimer Looks great! Well spotted!
Could you kindly send a PR? IMO this will be eligible for cherry picking.

@neolit123 @timothysc ^^^

[2018-12-11 09:02] pytimer commented on #1300
@fabianofranz The first PR is wrong, i forget confirm CLA.

This PR https://github.com/kubernetes/kubernetes/pull/71945 you can check. If anything wrong, hope you point out.

[2018-12-12 14:29] tianjiaolaozu commented on #1153
same issue here with v1.13.0

[2018-12-12 16:12] MalloZup commented on #1188
@neolit123  i think we can close this right?

[2018-12-12 16:22] neolit123 commented on #1188
i don't think we can yet.

[2018-12-12 16:58] rosti commented on #1188
@yagonobre I am actually doing some experimental work in that field, trying to share more code between InitConfiguration funcs, optimize stuff a bit and reduce the unnecessary usage of InitConfiguration.
So, on my side, I reduced the calls to this func to a single one and largely got it replaced by a func, that has almost the same signature, but fetches config solely from the cluster.

[2018-12-12 17:51] kcronin commented on #581
Thanks for this great step-by-step, @danroliver!  I'm wondering how this process might be applied to a multi-master cluster (bare metal, currently running 1.11.1), and preferably without downtime.  My certs are not yet expired, but I am trying to learn how to regenerate/renew them before that happens.

[2018-12-12 17:56] neolit123 commented on #581
@kcronin
please take a look at this new document:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/
hope that helps.

[2018-12-12 21:16] tsunamireversal commented on #1153
Same issue here with 1.13.0
kubelet[98023]: E1212 21:10:01.708004   98023 kubelet.go:2266] node "node1" not found
/etc/hosts contain the node, it's pingeable, it's reachable -- actually doing a single-master single-worker (i.e. tainted node).

Where does K8S look for this value? In etcd db ? What's the process?

Thanks

[2018-12-13 05:45] MarkDeckert opened #1318 "kubeadm upgrade apply phases"
## FEATURE REQUEST

kubeadm init recently included a "--skip-phases" option for skipping a particular phase.  However, kubeadm upgrade does not appear to have this option.  This specifically causes issues when doing a kubeadm upgrade on a cluster that uses kube-router to replace the functionality of kube-proxy.  Since upgrade will always redeploy kube-proxy, it will immediately begin altering ipta

[2018-12-13 06:07] neolit123 commented on #1318
yes, there is currently now way to skip phases during upgrade.
kube-proxy is considered an "essential addon" and kubeadm assumes that all clusters would use it.
also the daemon set is created in memory and passed to the client directly. it will not be written to disk.

this feature needs discussion.

/assign @timothysc @fabriziopandini

you can skip both and then apply the dns addon manually.

[2018-12-13 06:17] MarkDeckert commented on #1318
Thanks for taking a look.  Also, I think if I had a choice, phase control during an upgrade would be handled through the config file/kubeadm-config configmap so as to be something inherent to the existing cluster, rather than a flag that has to be remembered at upgrade time.

[2018-12-13 07:09] sunlove123 commented on #338
kubeadm alpha phase certs apiserver is not working in v1.13.0, showing "This command is not meant to be run on its own. See list of available subcommands." any updated comments available?

[2018-12-13 07:13] neolit123 commented on #338
in 1.13 the command is called `kubeadm init phase certs apiserver`:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/#cmd-phase-certs

[2018-12-13 09:42] ereslibre opened #1319 "Race condition when joining nodes"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

Previous versions might also be affected.

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

## What happened?

Upon joining a node to an existing cluster, I got an error:

[code]

The node actually joins the cluster because the kubelet will properly p

[2018-12-13 09:54] rosti commented on #1319
Thank you for reporting and working on this @ereslibre !

/kind bug
/priority important-soon
/lifecycle active

[2018-12-13 10:46] iverberk commented on #1303
I'm running into this as well and it is not clear to me how I can prevent the custom etcd init parameters from the first controller 'leaking' into the other joining control plane nodes. After the initial controller my configmap looks like this:
[code]

[2018-12-13 11:34] iverberk commented on #1303
Ok, so it turns out that I don't need to specify the etcd parameters anymore in the init configuration because there is the local api endpoint option that makes sure that binding is done against the correct interface. Bottom line: let kubeadm manage all etcd settings.

Now to fix the fact that the configmap can't be upload because it is trying too soon and the cluster is not in an operational stat

[2018-12-13 15:14] kshitijkarandikar opened #1320 "kubelet.service: Service hold-off time over, scheduling restart."
### Context
We are currently using a few clusters with v1.8.7 (which was created by currently unavailable developers, months ago) and are trying to upgrade to a higher version.
However, we wanted to try the same on an cluster we use for experimental & POCs.

### What we tried
In doing the same, we tried to run a few kubeadm commands on one of the master nodes, but kubeadm was not found.

So, we tr

[2018-12-13 15:41] neolit123 commented on #1303
yes, we have this in the HA docs for 1.13.

[2018-12-13 16:08] neolit123 commented on #1320
hi, i'm very sorry but 1.8.7 is outside of the support skew and the kubeadm maintainers don't have the bandwidth to support such versions.

your best bet for upgrading from such an old version is to ask on reddit/slack/stackoverflow.
also please mind that kubeadm only allows upgrading only one minor version at a time: 1.8 -> 1.9 -> 1.10.

thanks

[2018-12-13 16:08] #1320 closed

[2018-12-13 20:56] iverberk opened #1321 "Kubeadm fails to bring up a HA cluster due to EOF error when uploading configmap"
## What keywords did you search in kubeadm issues before filing this one?
- EOF uploading config

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** : kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:02:01Z", GoVersion:"go1.11.2", Co

[2018-12-13 21:33] fabriziopandini commented on #1321
@iverberk Is there a reason for adding the following extra args:

[2018-12-13 21:34] iverberk commented on #1321
No, that is a left-over from the 1.12 configuration. I will try to remove that and update the issue.

[2018-12-13 21:41] iverberk commented on #1321
*sigh* I guess sometimes you need someone else to tell you the obvious... that was the culprit, sorry for the hassle. This did work well in 1.12 and for some reason, that I can't remember anymore, this was a necessary configuration parameter to make it work.

[2018-12-14 05:41] #1300 closed

[2018-12-14 16:16] rmb938 opened #1322 "Upgrading to 1.13.1 annotates wrong cri socket"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Ku

[2018-12-14 19:08] cjbottaro commented on #1153
Same issue...
[code]

[2018-12-14 19:40] fabriziopandini commented on #1318
@MarkDeckert you can skip only the proxy addon by using `--skip-phases addons/proxy`

First considerations on this topic, that deserve discussion at sig-level and commitment for execution:
- "Officially supported variations" of Kuberenets cluster should be supported via options in the config file, like e.g. to the choice between kube-dns and coredns
- If the user chooses to go with phases and buil

[2018-12-14 20:04] rmb938 commented on #1318
Having the ability to skip kube-proxy re-installing during an upgrade is required. I am using kube-router to manage my services and network policies. When running a kubeadm upgrade once kube-proxy is reinstalled the cluster is unusable until a `kube-proxy --cleanup` is ran. This leads to downtime of services running on the cluster.

[2018-12-15 05:52] yuexiao-wang commented on #1322
I think you should run `kubeadm upgrade apply --config /etc/kubernetes/kubeadm.yaml 1.13.1 --cri-socket /var/run/containerd/containerd.sock`
if you don't set --cri-socket, the default cri-socket is "/var/run/dockershim.sock".

$ /kubeadm upgrade apply --help
Upgrade your Kubernetes cluster to the specified version.

Usage:
  kubeadm upgrade apply [version]

Flags:
      --allow-experimental-upgrad

[2018-12-15 11:13] rmb938 commented on #1322
Well I am setting it in the kubeadm configuration, I've also never had to set this for any other upgrade. If this is a change it should have been reflected in the change log and documentation.

Everything works perfectly fine aside from the annotation being set on the node.

[2018-12-15 17:11] neolit123 commented on #1322
can you share you config, please.

[2018-12-15 17:20] rmb938 commented on #1322
It's in the first comment but I'll post it again

[code]

[2018-12-15 18:15] rmb938 commented on #1322
I just tried this on a new cluster to see if it happens during init, it does not. The annotation only appears wrong when upgrading.

[2018-12-15 19:16] neolit123 commented on #1322
my bad. missed it.

are you seeing the following output in the `apply` command?
`Reading configuration options from a file`

[2018-12-15 19:47] neolit123 commented on #1322
also you should be seeing:
[code]

what is the value of `X`?

[2018-12-15 23:02] rmb938 commented on #1322
I no longer have the log of the upgrade however I do remember seeing something about setting the CRI to `/var/run/dockershim.sock` but the only thing it actually did was set the annotation to that. I did a plan, diff and dry run before running the apply and the only thing that looked weird was it setting the annotation to the wrong cri socket.

I'll have to spin up another 1.12.3 cluster and upgra

[2018-12-16 00:40] neolit123 commented on #523
the flannel manifest from `master` is not recommended for kubeadm because it might include a breaking change.

a multi-arch flannel manifest SHA that is known to work is already recommended in the latest docs here:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

[2018-12-16 19:11] neolit123 commented on #1011
/lifecycle frozen

[2018-12-17 10:47] rosti commented on #1011
I think, that this issue and the possible solutions to it should be discussed at some of the next kubeadm office hours meetings.

[2018-12-17 14:42] povetkinn opened #1323 "Apiserver can't start"
Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

## Environment:

-
[code]
-
[code]
-
[code]
-
[code]

## What happened?
Docker container apiserver can't start:
[code]

[code]

[code]

## What you expected to happen?
The container should start and accept connections on port 6443

[2018-12-17 14:59] neolit123 commented on #1323
hi, there seems be some sort of a setup error on your end.
our e2e tests for 1.11 are green.

are you following this tutorial?
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

kube-apiserver-front01            1/1       Running   3247       103d      138.201.***.***   front01   <none>
kube-controller-manager-front01   1/1       Running   1663       103d      138.201.***.***

[2018-12-17 15:17] povetkinn commented on #1323
The cluster deployed about 4 months ago. After 4 months of operation of the cluster, they reported a problem while trying to deploy additional pods.
Currently it is used as a working environment. The update requires approval, so this has not been updated to version 1.13 yet.
Yes, I read tutorial to deploy kubernetes cluster.

[2018-12-17 16:13] rosti commented on #1084
/lifecycle active

[2018-12-17 17:27] anitgandhi opened #1324 "Panic when joining a node with config and control plane"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}`

Note: I also observed this after bu

[2018-12-17 17:42] timwebster9 commented on #907
same as @brianriceca and @ramanjk.   Versions of kubadm and kubelet are 1.12.1 on both nodes, the `kubelet-config-1.13` configmap is there, and seeing `configmaps "kubelet-config-1.12" is forbidden` as well

[2018-12-17 17:48] rosti commented on #1324
@anitgandhi thank you for filing this bug report!
Your solution to the problem is the correct one. Can you file a PR for this?
We will also need to cherry-pick this to 1.13 as it is a nasty crash.

The actual mechanics of the crash are the following. `--experimental-control-plane` sets `defaultcfg.ControlPlane` to something different than `nil`, but this gets overridden in `internalCfg` by the con

[2018-12-17 17:51] neolit123 commented on #1324
/cc

[2018-12-17 17:55] anitgandhi commented on #1324
Sure, PR incoming within the next few hours. This is my first contribution so I'm just going to do a quick read of the contributing guide before I send it in :+1:

[2018-12-17 17:56] neolit123 commented on #1324
@anitgandhi thanks!
just github-mention me and @rosti so we can get this PR merged quick.

[2018-12-17 18:38] timwebster9 commented on #907
I deleted both nodes and tried again using version `1.12.2` of everything, and the problem didn't occur this time.  There was some output about there being a newer version but that it will revert to 1.12 (I've lost it now)

[2018-12-17 18:56] anitgandhi commented on #1324
On a slightly tangential note, @rosti based on what you described above, if I'm going to be using a JoinConfiguration file for new master nodes, should I be including a `ControlPlane` section, or should just `--experimental-control-plane --config=<my config path>` work (after the PR ?

Based on this (https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1#JoinControlPlane) it only

[2018-12-17 19:00] neolit123 commented on #1324
@anitgandhi

in that case the ControlPlaneEndpoint on the root control plane node config should be sufficient for your needs.

[2018-12-17 20:42] yagonobre commented on #1234
/unassign

[2018-12-17 22:18] #1324 closed

[2018-12-18 03:52] jbrandes opened #1325 "Will not work on ubuntu 18.04"
## Is this a request for help? Yes. I tried to troubleshoot and it didn't work

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one? uninstall, purge, remove
If you have found any duplicates, you should i

[2018-12-18 08:02] iverberk commented on #1321
I thought this was solved but the problem still remains, even with the settings removed. Sometimes it works though. I'm not sure what the exact reason is, but most likely some kind of race condition. I've created a test repository to isolate the problem. In this repo: https://github.com/iverberk/kubeadm-cp-test you can find a test setup with Vagrant and Docker that show the problem when joining th

[2018-12-18 09:46] rosti commented on #1325
Hi @jbrandes and thank you for filing this issue!
Unfortunately the Kubernetes community does not produce snap packages for any of the components. I think, that those are done by Canonical themselves.
The community recommended way of installing kubeadm is through DEB or RPM packages as described here:
https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2018-12-18 09:52] rosti commented on #1234
/lifecycle active
Due to pending PR by @MalloZup

[2018-12-18 11:02] #1319 closed

[2018-12-18 14:06] MalloZup commented on #1176
yop i think we could close since is a doc then a real-issue

[2018-12-18 14:08] neolit123 commented on #1325
close as per @rosti 's comment +1

[2018-12-18 14:08] #1325 closed

[2018-12-18 15:09] rosti commented on #1324
@anitgandhi Having `controlPlane: {}` in your `JoinConfiguration` should be sufficient.

[2018-12-18 15:38] profiluefter opened #1326 "Node can't join the cluster"
## What keywords did you search in kubeadm issues before filing this one?
raspberry pi; invalid token; can't join

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

`kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-

[2018-12-18 15:44] fhemberger commented on #1153
Same issue:

Ubuntu 18.04.1 LTS
Kubernetes v1.13.1 (using cri-o 1.11)

Followed the installation instructions on kubernetes.io:
https://kubernetes.io/docs/setup/independent/install-kubeadm/
https://kubernetes.io/docs/setup/cri/#cri-o

[code]

`/etc/hosts`
[code]

`/etc/hostname`
[code]

`systemctl status kubelet`
[code]

[2018-12-18 15:47] joshrosso opened #1327 "Use secure port for scheduler and controller-manager liveness probe"
## Feature request:

Since 1.13, `kube-controller-manager` and `kube-scheduler` expose secure ports and marked insecure ports as deprecated.

scheduler: https://github.com/kubernetes/kubernetes/pull/69663

	change: 1.13
	enable secure port: 10259
	deprecate old port: 10251

controller-manager: https://github.com/kubernetes/kubernetes/pull/67069

	change: 1.12
	enable secure port: 10257
	deprecate

[2018-12-18 15:48] cjbottaro commented on #1153
@fhemberger I figured out my issue. It was using `snap` to install Docker. If I uninstalled that and reinstalled using `apt`, then kubeadm worked fine.

[2018-12-18 15:54] fhemberger commented on #1153
@cjbottaro I don't use Docker at all but cri-o.

[2018-12-18 20:48] profiluefter commented on #1326
Sorry, just reread the documentation and found out that --pod-network-cidr shouldn't point to the "real" IP addresses of the nodes, but rather it should be a range, where the virtual network is. And I guess that connections from the internal network shouldn't be accepted.
(Also I think it should be documented more clearly, because I only found this information in ["Installing a pod network add-on"

[2018-12-18 20:48] #1326 closed

[2018-12-18 22:09] arvindrajpurohit commented on #1056
+1 Facing the same issue in CentOS 7 and kubeadm 1.12

[2018-12-19 06:50] neolit123 commented on #1113
/lifecycle frozen

[2018-12-19 09:59] arvindrajpurohit commented on #1056
found the resolution for the issue .
removed resources limit on core dns replica set as it was reaching cpu limit. which was making it restart.

[2018-12-19 10:02] rosti commented on #1209
I would suggest to rename this specific boolean to `clusterConfigOnly`, since what it does is to prevent filling in `NodeRegistration` and `LocalAPIEndpoint` in `InitConfiguration`, thus leaving only `ClusterConfiguration` valid.
My point is, that if we rename it to `upgrade` we'll have to set it to true during reset too (which is clearly not an upgrade).

Anyway, I am doing a set of changes that

[2018-12-19 13:37] iverberk commented on #1321
Ok, new information: bootstrapping is successful if I pre-pull the hyperkube image...I tested this with my own Ansible environment but will update the test repo as well to see if it works.

[2018-12-19 13:50] iverberk commented on #1321
I can't quite reproduce the same result in the test repo. I stumbled upon this because after the first installation I would reset the kubeadm installation and run it again. The second time it would succeed. I guess one of the differences is that the image is already there at that point. It is still a weird issue and I'd like to know how you test the bootrstrapping scenario and why you never see th

[2018-12-19 18:43] fhemberger opened #1328 "kubelet defaults to 'unix:///var/run/docker.sock' even if cri-socket/container-runtime-endpoint is specified on 'kubeadm init'"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kube

[2018-12-19 19:17] neolit123 commented on #1328
thanks for the report
instead, have you tried passing something like the following as a `--config` file to init?

[code]

/priority critical-urgent
/kind bug
/priority awaiting-more-evidence

/assign @rosti @bart0sh
PTAL, there seem to be some cri-socket related bugs lurking around as reported here and in #1322

thanks,.

[2018-12-19 20:57] neolit123 commented on #1328
if you are seeing `--container-runtime-endpoint=unix:///var/run/crio/crio.sock` passed to the kubelet in the systemd logs, then we might be facing a kubelet problem.

try adding `--v=2` (1 might be enough) and look at the list of flags near the kubelet start.
also note that the kubelet CLI flags do override the kubelet config.

yes, that should be the case.

[2018-12-20 00:32] Pezhvak commented on #639
this is still happening, nothing worked!

[2018-12-20 04:58] DevilMayCrySamsara commented on #1087
How was the problem solved?

[2018-12-20 04:58] DevilMayCrySamsara commented on #1087
How was the problem solved?

[2018-12-20 12:04] inercia commented on #907
I am suffering the same bug, while (apparently) using the same version in the seeder as in the node.

On the seeder:

[code]

On the node:

[code]

For some reason it seems it is looking for `kubelet-config-1.12` while the right ConfigMap should be `kubelet-config-1.13`.

[2018-12-20 12:17] oz123 commented on #907
@inercia the configmap name is derived from the kubelet version. See my link above.

[2018-12-20 12:34] fhemberger commented on #1328
Looking at `/lib/systemd/system/kubelet.service`, there are no options passed to the kubelet.

[code]

Output of `kubelet -v=2` and explicitly passing `kubelet --config=/var/lib/kubelet/config.yaml -v=2` is the same (still using the default `--container-runtime="docker"`). Only passing the values of `KUBELET_KUBEADM_ARGS`directly does the trick:

[code]

(afterwards, I'm running into https://githu

[2018-12-20 12:54] inercia commented on #907
Thanks for the clarification @oz123.

I was wondering what would happen on updates. For example,

1) a seeder is installed with `my-distribution-1.13` that includes `kubeadm-1.13`
2) the seeder is `init`ialized
3) some time after that, a node is installed with the same distro, installing the `kubeadm-1.13` and `kubelet-1.13`
4) but some updates are applied at the end of the installation, and the n

[2018-12-20 14:31] kad commented on #902
/cc

[2018-12-20 14:45] kad commented on #902
It is fine that function `kubeadmutil.KubernetesReleaseVersion()` makes network calls. it is expected to do that. However, for making tests for `NormalizeKubernetesVersion()` itself, we should be passing such  `MasterConfiguration` object that will have explicitly defined `KubernetesVersion` field.
E.g. `v1.13.0` or `ci/v1.14.0-alpha.0.1166_0c7e207904edfd`
This will prevent network calls and will

[2018-12-20 15:07] neolit123 commented on #1328
and that should be the case.

something is not right here. this is a file that is auto-generated by kubeadm on each init and passed to the kubelet from the unit file.

  --container-runtime=remote \
  --container-runtime-endpoint=/var/run/crio/crio.sock \
  --resolv-conf=/run/systemd/resolve/resolv.conf

if these are the contents of the file (minus the `-v=2` part), kubeadm is doing it's job.

htt

[2018-12-20 15:30] MalloZup commented on #1234
/assign

[2018-12-20 15:31] MalloZup commented on #1234
# todos:

- [ ] adress this  https://github.com/kubernetes/kubernetes/pull/71973#issuecomment-449031692

[2018-12-20 15:34] fhemberger commented on #1328
No, I still have to add those options manually to ` /lib/systemd/system/kubelet.service` for them to work.

Putting them in `KUBELET_KUBEADM_ARGS` doesn't seem to have any effect.

[2018-12-20 16:02] neolit123 commented on #1328
the user should not touch /lib/systemd/system/kubelet.service
adding flags in /etc/default/kubelet works for me.

[2018-12-20 17:19] luxas commented on #1327
Closing this as a duplicate of #1285

[2018-12-21 22:47] bart0sh commented on #1328
/lifecycle active

[2018-12-22 18:39] bulolo commented on #1153
same issue here with v1.13.1

[2018-12-23 01:09] tunggad opened #1329 "kubernetes v1.13 kubeadm init; kubelet has troube to communicate with api server - connection refused; no pod-network, all pods have the same host IP"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:02:01Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes vers

[2018-12-23 01:19] yagonobre commented on #1188
Thanks @rosti, I was off in the last 2 week due to kubecon, I'll take a look at this in a bit.

[2018-12-23 05:46] pytimer commented on #1211
I add remove etcd member feature when reset the control plane node, it's works for me.
It is my fork repository commit [Remove etcd member when reset the control plane node](https://github.com/pytimer/kubernetes/commit/3926a8efa1dba0d2aa5f14bb4759b5bdaa0d9d98).

I am not sure if this workflow should join the `kubeadm reset`?

[2018-12-23 06:35] fhemberger commented on #1328
Okay, did a complete fresh install of Ubuntu 18.04.1, used only the following `config.yaml`:

[code]

and didn't specify `networking.podSubnet` (we'll see how this turns out later).
I don't get any `unix:///var/run/docker.sock` any longer, still running into #1153.

Closing, as this is a different matter. Thanks for your help!

[2018-12-23 06:35] #1328 closed

[2018-12-23 07:47] fhemberger commented on #1153
If you're using systemd and cri-o, make sure to set it as cgroup driver in `/var/lib/kubelet/config.yaml` (or pass the snippet below as part of `kubeadm init --config=config.yaml`).

[code]

If you notice this in your kubelet logs:

[code]

[2018-12-23 08:44] fabriziopandini commented on #1309
I double checked @neolit123 solution and it works also for me, so IMO `kubeadm init` is able to pass properly specific configuration parameters to the API server.
@mszumilak is it possible to close this issue?

[2018-12-23 09:05] fabriziopandini commented on #1314
@chenxushuo yes, you can always specify a version on `kubeadm upgrade apply`

[2018-12-23 09:10] fabriziopandini commented on #1321
@iverberk could you kindly retest after https://github.com/kubernetes/kubernetes/pull/72030 merged?

[2018-12-23 09:49] fabriziopandini commented on #1329
@tunggad thanks for the detailed report

Kubeadm deploys control plane pods using `hostnetwork=true` so this is the expected, not a bug.

It seems a sort of network pods, but from the logs above I can't grasp the source of it.
Is it possible to see the kubeadm init output?

In the meantime, fyi there is bounch of of possible configurations that can create problems:
- local firewall should be disab

[2018-12-23 11:42] tunggad commented on #1329
@fabriziopandini thank you for your time and clarification about pod ip of control plance pods. Let come to your questions:

kubeadm init log: i have executed `kubeadm reset` and `kubeadm init --pod-netwrok-cidr=xxx` multiple times, i didn't see anything special in console output, it always looks the same as the kubernetes doc site: https://kubernetes.io/docs/setup/independent/create-cluster-kubea

[2018-12-23 13:30] QiuBiuBiu commented on #1315
Hi, Could you tell me how do you solve this problem detail? Thinks a lot.

[2018-12-23 15:39] Congelli501 opened #1330 "kubeadm - can't override detected ip address using config file"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version**: 1.13.1
- **Cloud p

[2018-12-23 19:54] fabriziopandini commented on #1329
@tunggad now I got it
You didn't installed kubelet properly. If you use the official package it will provide a systemd drop in that will make kubelet work properly and use cni addon.
Ñow this drop in is missing

[2018-12-24 07:36] fabriziopandini commented on #1330
@Congelli501 this is not a defect
`apiserver-advertise-address` is a node specific parameter (it can change between different control-plane instances) and it has special meaning for kubeadm because it is used in many places, not only for the kube-apiserver. It can be set from the config with a dedicated entry as documented [here](https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1b

[2018-12-24 07:36] #1330 closed

[2018-12-24 10:36] tunggad commented on #1329
@fabriziopandini hi, thank you for insight. I tried to mimic the systemd unit file `kubelet.service` and the drop-in file `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` found in DEB or RPM package for other distros on my ArchLinux-box and kubelet seems to start automatically without restarting it manually while `kubeadm init`. And cni network addon Calico also works fine. The pods get IP

[2018-12-24 20:58] tunggad commented on #881
@christhomas hi Thomas, sry for contacting you on a closed issue. I got the same error messages in journal log of kubelet service, it keeps complaining about some `connection refused` while calling api server over the host node IP, that is also the IP of the kube-apiserver pod, according to `kubectl get pods -n kube-system -o wide`. My single node cluster setup by `kubeadm init --pod-network-cidr=

[2018-12-25 07:01] chenxushuo commented on #1314
OK thk！

[2018-12-25 07:01] #1314 closed

[2018-12-26 07:33] law opened #1331 "kubeadm 1.13.1: kubeadm-join fails with --experimental-control-plane"
## What keywords did you search in kubeadm issues before filing this one?
'experimental-control-plane', 'control-plane node', 'ha master'

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"cle

[2018-12-26 09:04] JishanXing commented on #1153
I met the same issue today.

I fixed it by removing **rm -rf /var/lib/kubelet/** and re-install

[2018-12-26 10:14] tunggad commented on #881
changing /etc/hostname back and forth did not help, at least in my case

[2018-12-26 13:53] #1133 closed

[2018-12-27 14:58] pain400 opened #1332 "Can not retrieve logs or exec in non-master node'pods"
## Versions
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
vagrant + virtualBox
master: 192.168.1.10
worker1: 192.168.1.20
worker2: 192.168.1.30

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
1. first step: `kubectl get pods -n kube-system -o wide` and get r

[2018-12-27 16:06] bart0sh commented on #1281
It looks like api server can't start as etc-client certificates are not created/copied:
[code]

What I don't understand is why those certificates are not needed when -store-certs-in-secrets is not used.

@neolit123, @fabriziopandini any ideas?

[2018-12-28 03:30] marksugar commented on #1159
hello @fabriziopandini
I have this problem in 1.13.1, I don't know what I missed.

[code]
as follows
[code]
thanks

[2018-12-28 09:30] pain400 commented on #1332
Resolved.

[2018-12-28 09:30] #1332 closed

[2018-12-28 10:02] nirmoy commented on #1159
@marksugar don't specify protocol(https) in controlPlaneEndpoint.

[2018-12-28 10:08] bart0sh commented on #1159
interesting. I thought this is fixed by [this PR](
https://github.com/kubernetes/kubernetes/pull/71258) back in November.

@marksugar Are you sure you're using kubeadm 1.13? Can you show output of ```kubeadm version -o short``` ?

[2018-12-28 10:43] alexellis commented on #413
@neolit123 that combination looks great - far easier than what I'd documented - having to wait for the control plane set then quickly running sed in another terminal. https://github.com/alexellis/k8s-on-raspbian/blob/master/GUIDE.md

I'll test the instructions and look to update the guide.

[2018-12-28 10:48] alexellis commented on #413
@neolit123 this is what I got using the config above on an RPi3 B+

[code]

[code]

[2018-12-28 10:58] fabriziopandini commented on #1260
@bart0sh @neolit123
now that #71946 merged and #72299 is on a good track, I would like to open the discussion on some possible further improvements of this effort.

Considering that version skew/bump is now driven by two constants: `MinimumKubeletVersion` and `CurrentKubernetesVersion `.
- What about having `MinimumKubeletVersion` computed dynamically from `CurrentKubernetesVersion`? This will req

[2018-12-28 12:52] alexellis commented on #413
I get the same even without the external config/lb IP.

Alex

[2018-12-28 13:01] shinichi-hashitani commented on #253
@dbwest Yes, I used make all to build binaries. The exact commands I used were:
[code]
I needed binaries for nodes, so only those three binaries were needed.

I didn't use kubeadm. I was following Kelsey Hightower's "Kubernetes the Hard Way". As described [here](https://github.com/kelseyhightower/kubernetes-the-hard-way/blob/master/docs/09-bootstrapping-kubernetes-workers.md), you just need to put

[2018-12-28 15:37] fabriziopandini commented on #1331
@law
It seems that your config file is wrong.
`controlPlaneEndpoint` is a field of `ClusterConfiguration`, not of `apiServer`; the right yaml should be:
[code]

PS. There is a reason for copying only some certificates, so kubeadm will take care of generating the others (otherwise you might incur in other issues if certificates are not properly set for the joining node). Suggestion (or PR) for impr

[2018-12-28 15:46] fabriziopandini commented on #1323
@povetkinn
being this an error happened on an existing cluster I think you should get better assistance in moving this issue on k/k report and tagging sig-apimachinery. Also changing the title in "API server stopped working after 4 months could help"

[2018-12-28 16:38] fabriziopandini commented on #1332
@pain400 sorry for the lag in the answer
Happy to know you fixed your problem!

[2018-12-28 16:46] fabriziopandini opened #1333 "Refactor token.go flag names into const"
Flag names in [token.go](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/options/token.go) should be refactored into constants.

e.g. flag name `token` defined here
https://github.com/kubernetes/kubernetes/blob/7c112762b0df87f3a1772f3bbede7fe9185fa249/cmd/kubeadm/app/cmd/options/token.go#L48

Should be refactored into a constant defined into [constant.go](https://github.co

[2018-12-28 16:55] MalloZup commented on #1333
@fabriziopandini, hi!  i can take this one but i will start looking at it after new year :fireworks: :dragon_face: :smile:

[2018-12-28 16:59] fabriziopandini commented on #1333
/assign @MalloZup

[2018-12-28 20:12] fabriziopandini commented on #1331
@law sorry to hear you have still problems
If you could share following info might none I can help
- the output of `kubectl -n kube-system get cm kubeadm-config -o yaml`
- the content of /etc/kubernetes dir before joining

PR for doc should go in the kubernetes/website repo

[2018-12-28 20:33] fabriziopandini commented on #1331
controlPlaneEndpoint is still empty. Did you re-init your cluster with the new config?
+
Some mandatory certs are missing (see https://kubernetes.io/docs/setup/independent/high-availability/#steps-for-the-rest-of-the-control-plane-nodes)

[2018-12-28 20:39] law commented on #1331
MOST interesting.  No, I did not re-init the cluster, I just edited the kubeadm-config.yaml file and re-ran the "join" command on the to-be-joined node, thinking it would take the config from the YAML file.  It sounds like there's a persistent ConfigMap on the 'cluster' (really, just the initial node brought up as the master at this point) that the to-be-joined kubelet also takes the config from?

[2018-12-28 20:45] fabriziopandini commented on #1331
Long story. Kubeadm Init and kubeadm join use different configuration objects as documented [here](https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1), but the user like to have a unique file, so the two commands simply ignore the other objects

[2018-12-28 22:49] law commented on #1331
Alright, I think I'm all set with this issue.  The big time-sink was figuring out A. the etcd cluster is unaffected by 'kubeadm reset' and thus needs to be wiped manually, and B. how to actually wipe the etcd cluster data (ideally without having to rebuild the whole etcd cluster from scratch).  I'll record the steps I went through here for posterity, and hopefully save some time/agony for the next

[2018-12-29 08:02] fabriziopandini commented on #1331
/close

[2018-12-29 08:02] #1331 closed

[2018-12-29 10:59] bart0sh commented on #1281
@fabianofranz Thank you for the explanations. I tried to add all etcd certificates, but generating secrets for them fails as their names contain '/', e.g. "etcd/ca". Changing names didn't work either as probably some other piece[s] of this puzzle require names with slashes. I'll dig deeper into this. Any ideas on how to better solve this are appreciated.

[2018-12-29 12:19] fabriziopandini commented on #1281
@bart0sh I see your problem.
kubeadm creates one secret for each cert, and this requires changing the name for certs under etcd/.
If I'm right, this should be done [here](https://github.com/kubernetes/kubernetes/blob/f83bb59047b1de54dd24ca629da4598917f4f283/cmd/kubeadm/app/phases/selfhosting/selfhosting_volumes.go#L265)

but this is not enough, it is necessary to the corresponding volume projectio

[2018-12-29 16:41] bart0sh commented on #1281
I did change it in both places, but this was not enough. Changes that you've proposed would trigger errors in generating secrets, as secret names should not contain slashes. Changing name in constants from etc/ca to etc-ca would make api server stuck on start.

[2018-12-29 16:43] Zyqsempai commented on #1333
I can make it today;) Of course, If @MalloZup doesn't mind)

[2018-12-29 17:15] fabriziopandini commented on #1333
@Zyqsempai please sink with @MalloZup; this is not urgent

[2018-12-29 17:19] Zyqsempai commented on #1333
@fabriziopandini Sure.

[2018-12-29 22:10] fabriziopandini commented on #1281
@bart0sh if you can share the generated yaml for the kube-apiserver deamonset might be I can help...

[2018-12-30 07:57] Jack-qing opened #1334 "could not initialize etcdv3 client: open /calico-secrets/server.crt: no such file or directory"
1. Environmental Science： ubuntu:16.04  docker:18.06  kubeadm:1.12.00  calico:v3.2.3

This problem is difficult to solve. I need help

To configure calico.yaml
[calico.txt](https://github.com/kubernetes/kubeadm/files/2717000/calico.txt)

guyi@guyi-KVM:~$ kubectl get pods -n kube-system -o wide
NAME                                       READY   STATUS             RESTARTS   AGE   IP               N

[2018-12-30 14:36] MalloZup commented on #1333
@Zyqsempai i don't mind if you tackle this issue.

If you tackle this, reference your PR or PRs to this Issue so i know that you work on it.

From my part i will relook on this issue after the 3 January,  so if you wish to solve it before feel free! :)

For me is just for learning more the step by step internals of kubeadm, so is fine for me to pick another issuethe next time :sun_with_face: .

[2018-12-30 14:52] fabriziopandini commented on #1312
additional info as per @Klaven request:

`kubeadm-config` ConfigMap is in `kube-system` namespace

All the machinery for reading/writing the config map already exists in `cmd/kubeadm/app/phases/uploadconfig/uploadconfig.go` and `cmd/kubeadm/app/util/config/cluster.go`

The ConfigMap has two key values: one for the `ClusterConfiguration`object, one for the `ClusterStatus`

Whenever a control-plane

[2018-12-30 15:12] james-millner commented on #1153
@JishanXing thank you! This also resolved my issue for running on Raspbian Sketch lite

[2018-12-31 00:58] bart0sh commented on #1333
/cc @fabriziopandini

[2018-12-31 17:15] kfox1111 commented on #413
I've been pushing folks to use kubeadm for a while, even schools wanting to run it on their pi clusters. While I understand not wanting to complicate the code base, I think its probably a good thing for your user base to support running on these little devices. it allows young folks to kick the Kubernetes tires on cheep hardware that otherwise might not. The workaround above, while valid, is much

[2019-01-01 11:57] neolit123 commented on #1334
hi, please try with a dfferent CNI plugin like flannel or weave.
i don't see this as a kubeadm problem.

might be worth reporting here:
https://github.com/projectcalico/cni-plugin

/close

[2019-01-01 11:57] #1334 closed

[2019-01-01 13:36] #1234 closed

[2019-01-01 18:38] Zyqsempai commented on #1333
Done, merged, we can close the issue!!

[2019-01-01 21:01] heidini opened #1335 "coredns pending"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2019-01-01 22:30] heidini commented on #1335
Environment:
osboxes@kubemaster:~$ kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:39:04Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fe

[2019-01-02 07:09] yagonobre commented on #1333
Thanks @Zyqsempai
/close

[2019-01-02 07:09] #1333 closed

[2019-01-02 10:13] Zyqsempai opened #1336 "Refactor cloud-controller-manager options flags into constants"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

Flag names in https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/options/options.go can be refactored into constants

example: https://github.com/kubernetes/kubernetes/blob/master/cmd/cloud-controller-manager/app/options/options.go#L133

The refactoring inspired by https://github.com/kubernetes/kubeadm/

[2019-01-02 10:18] yagonobre commented on #1336
Thanks @zyqsempai
/kind cleanup
/priority important-longterm
/help-wanted

[2019-01-02 10:19] Zyqsempai commented on #1336
@yagonobre I will take care of this one;) Thanks for your help!

[2019-01-02 10:20] yagonobre commented on #1336
Nice!
/lifecycle active

[2019-01-02 11:49] bart0sh commented on #1281
/assign

[2019-01-02 11:52] yagonobre commented on #1281
/lifecycle active

[2019-01-02 13:00] neolit123 commented on #1335
did you try the suggestions here:
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/

[2019-01-02 14:18] Adirio commented on #1069
This issue acts as a reminder to remove something that was already modified by [kubernetes/website#10571](https://github.com/kubernetes/website/pull/10571)

The remainder now is to switch back to a version-based instead of SHA-based link.

[2019-01-02 19:37] heidini commented on #1335
The page assumed the pending state is before install the pod network, but for me, it is after I applied the  https://raw.githubusercontent.com/coreos/flannel/v0.10.0/Documentation/kube-flannel.yml, core-dns always stuck in pending.
I also tried apply the https://raw.githubusercontent.com/coreos/flannel/bc79dd1505b0c8681ece4de4c0d86c5cd2643275/Documentation/kube-flannel.yml  and https://raw.githubu

[2019-01-02 19:49] chrisohaver commented on #1335
Are there any errors in coredns logs?

[2019-01-02 19:56] seh opened #1337 "CoreDNS pods lack a positive priority value (no priority class specified)"
## What keywords did you search in kubeadm issues before filing this one?

- _dns_
- _coredns_
- _priority_
- _class_
- _priorityclass_

## Is this a BUG REPORT or FEATURE REQUEST?

_BUG REPORT_

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
  AWS EC2
- **

[2019-01-02 19:58] timothysc commented on #1337
From slack :

[2019-01-02 20:16] heidini commented on #1335
FIXED by:

kubectl edit cm coredns -n kube-system

and then comment loop:

#loop

[2019-01-02 20:23] chrisohaver commented on #1335
Take care that you don't actually have an upstream dns forwarding loop in place (e.g. that coredns is configured to forward upstream requests back to itself).

[2019-01-03 00:59] #1311 closed

[2019-01-03 12:12] bart0sh commented on #1281
@fabriziopandini I've got api server running with the above fix. Thank you for the help!

next thing: kube-controller-manager is crashlooping, but kubeadm WaitForPodsWithLabel API manages to catch short moment when it's in running state (not sure how that could be though):

[code]

[code]

The reason for CrashLoop doesn't matter yet. The issue is that at some point pod status is 'Running'. Do  you

[2019-01-03 12:38] neolit123 commented on #813
/cc

[2019-01-03 12:44] neolit123 commented on #1091
we already have coredns and kubeproxy addons in the config.
it was decided that we should not expose the manifest directly as the OP suggests.
this renders this tracking issue misleading and i'm closing it.

some related topics:
- we still need to investigate cluster bundles
- we have plans for a feature for modifying running clusters
- impact on upgrades

as a side note kubectl now has kustomize

[2019-01-03 12:44] #1091 closed

[2019-01-03 12:47] neolit123 commented on #813
...

we have plans to test these with kind.

seems to me this enters the land of cluster-api.

this we need to look at with the kind deployer and possibly run it next to the e2e conformance tests.

/assign

[2019-01-03 12:48] neolit123 commented on #810
someone recently requested upgrade phases as well.

[2019-01-03 12:49] neolit123 commented on #683
hi, what is the state of this issue?

[2019-01-03 12:51] neolit123 commented on #1288
https://github.com/cncf/k8s-conformance/pull/403
seems to be merged.

[2019-01-03 12:51] #1288 closed

[2019-01-03 13:01] neolit123 commented on #1269
seems quite complicated to include in the main docs, also in which page?

[2019-01-03 13:09] neolit123 commented on #1296
are we shifting the actual removal to 1.15?
if so, i can adjust the ticket description.

[2019-01-03 13:11] neolit123 commented on #1189
@kennethredler @yagonobre
what is the state of this ticket? can we close it?

[2019-01-03 13:15] neolit123 commented on #997
i'm tempted to drop this idea completely at this point.
i also discovered one minor security concern with writing the log file.

the associated PR is also stale:
https://github.com/kubernetes/kubernetes/pull/66534

close?

[2019-01-03 13:19] neolit123 commented on #964
apart from the creation of this repo:
https://github.com/kubernetes/cluster-bootstrap

what are the remaining items for this tickets?

[2019-01-03 13:19] neolit123 commented on #1012
ticket seems inactive.

[2019-01-03 13:22] bart0sh commented on #997
I'm all for closing. Didn't like it from the very beginning.

[2019-01-03 13:36] bart0sh commented on #1281
/reopen

[2019-01-03 15:12] yagonobre commented on #1189
I'll validate this tonight

[2019-01-03 16:09] chuckha commented on #997
I agree, I don't think this is the right approach.

[2019-01-03 16:36] florentin commented on #1162
The CoreDNS loop error just happened to me with Ubuntu 18.04/kubeadm when i've specified the node's IP like this:
cat > /etc/default/kubelet <<EOF
KUBELET_KUBEADM_ARGS="--node-ip=192.168.10.11"
EOF

Moving the --node-ip command to the  `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` solved the loop issue:
`ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KU

[2019-01-03 17:25] bboreham commented on #338
Very useful steps to remedy - thanks @patricklucas and @weisjohn !

One extra tip if, like me, you begin from the state that the IP address has already changed, so you cannot contact the api-server to change the configmaps in step 4:
The api-server certificate is signed for hostname `kubernetes`, so you can add that as an alias to the new IP address in `/etc/hosts` then do `kubectl --server=https:

[2019-01-03 17:38] bart0sh commented on #1281
@neolit123 @kad @rosti do you have any idea why [this](
https://github.com/kubernetes/kubeadm/issues/1281#issuecomment-451126602) could happen?

[2019-01-04 00:38] kennethredler commented on #1189
I believe this issue was addressed in [the commit](https://github.com/kubernetes/kubernetes/commit/d484c8c087968d76e804cdb0a863e04d216f6ed9) I [linked above](https://github.com/kubernetes/kubeadm/issues/1189#issuecomment-444642410).

I've tested `kubeadm join` for worker nodes on 1.13.0 & 1.13.1 and it works without default route and excluding the `--apiserver-advertise-address ` flag.

Thanks to

[2019-01-04 03:36] yagonobre commented on #1189
Nice! Thanks @kennethredler
/close

[2019-01-04 03:36] #1189 closed

[2019-01-04 08:13] fabriziopandini commented on #1336
@Zyqsempai @yagonobre
The cloud-controller code base is managed by other sigs, so IMO it is better to close this issue and reopen the original one in k/k

[2019-01-04 09:00] fabriziopandini commented on #997
I'm in favor of closing because I don't have clear the target use case.

this is already monitored by preflight checks and I don't' think we should provide additional mechanism for:
- preventing mistakes when someone uses `--ignore-preflight-errors=All`
- giving a nice error message when someone wants to run the two commands on the same machine (because documentation explain clearly what is the co

[2019-01-04 09:10] fabriziopandini commented on #964
@neolit123
There are still some bootstrap-token utilities hosted in kubeadm codebase (e.g. under each config version there is `bootstraptokenstring.go`, probably there is also something else around the code).
My understanding is that we want to move those utilities - or at least of some of those utilities - by moving everything not kubeadm specific into https://github.com/kubernetes/cluster-bootst

[2019-01-04 09:12] fabriziopandini commented on #1335
closing as per comment @heidini comment
/close

[2019-01-04 09:12] #1335 closed

[2019-01-04 09:45] luxas commented on #1296
Yes, done

[2019-01-04 10:20] ariamore opened #1339 "How to create a cluster using kube-up.sh??"
Hi!! I'm  new in programming with Kubernetes. I'm trying to create my first cluster, but I've had some trouble. I use Linux via Ubuntu.
Following the online kubernetes's guide, first I installed kubectl, and I tried to configure it deploying Minikube (unsuccessful, because I find a bug with the kubeadm' initialization file). So, I decide to install cluster using "kube-up.sh", but I didn't find any

[2019-01-04 12:59] fabriziopandini commented on #1339
@ariamore
minikube gives you a single node cluster running in a VM. if you have trouble in using minikube you can file an issue on github kubernetes/minikube or join the #minikube channel on kubernetes slack
https://kubernetes.io/docs/setup/minikube/

kubeadm  is used internally by minikube, but this should be transparent to you. kubeadm can be used also as a standalone tool and it gives you a clu

[2019-01-04 15:13] pbnjay commented on #1052
(just stumbled across this!) happy to contribute directly if you all don't want to vendor the package. I also just added a BSD license to the repo if the missing license was a concern

[2019-01-04 16:28] den-is opened #1340 "kubeadm init is failing to verify CA in admin.conf"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**: kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl versi

[2019-01-04 16:34] den-is opened #1341 "kubeadm join controlplane not pulling images and fails"
## What keywords did you search in kubeadm issues before filing this one?
join preflight image pull abracadabra

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version**: kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVer

[2019-01-04 21:18] timothysc commented on #618
I'm going to close this and wait to see the community asks or reopens.  This seems to be a non-issue.

[2019-01-04 21:18] #618 closed

[2019-01-04 21:22] timothysc commented on #1312
/assign @Klaven

[2019-01-04 22:46] timothysc commented on #798
/assign @yagonobre

[2019-01-04 22:49] timothysc commented on #817
k, I'm thinking we should make this a default for 1.14 out of the gate move the feature gate.

[2019-01-04 22:52] timothysc commented on #839
@rosti we should work with @detiber and folks working on clusterAPI to reduce the dep-graph as much as possible for 1.14.

[2019-01-04 22:54] timothysc commented on #874
@neolit123 want to re-eval for 1.14 cycle?

[2019-01-04 23:00] timothysc commented on #937
Closing as stale.

[2019-01-04 23:00] #937 closed

[2019-01-04 23:04] timothysc commented on #940
Closing in preference for https://github.com/kubernetes/kubernetes/issues/71677

[2019-01-04 23:04] #940 closed

[2019-01-05 08:37] foxyriver commented on #663
@embik config --anonymous-auth=false in kube-apiserver will result this issue

[2019-01-05 10:35] neolit123 commented on #874
@timothysc i don't see us finding a good solution for this in the next few cycles.
i think the ecosystem should default to the `cgroupfs` driver instead of us trying to fix it.

some stats:
according to our survey 30% of the user base are using non-docker.

- 1/3 of those are using CRI-O and are safe because it defaults to `cgroupfs` - the same as the kubelet.
so if they change the driver for some

[2019-01-05 19:38] timothysc commented on #967
@luxas are you going to be able to tackle this in 1.14?

[2019-01-06 11:36] stephenmoloney commented on #413
I'm seeing the exact same error as :point_up: [above](https://github.com/kubernetes/kubeadm/issues/413#issuecomment-450339916)  with the following:

[code]
The following script does solve the issue for me regardless of the kubeadm version

[code]

[2019-01-06 12:09] luxas commented on #967
@timothysc I hope so, but it depends on SIG Network approvers. After f2f discussions at KubeCon I'm optimistic about this happening in the next cycle though :)

[2019-01-06 15:38] dixudx commented on #1042
/remove-lifecycle rotten

[2019-01-06 20:00] wafflespeanut commented on #1321
I'm hitting the same issue regardless of pre-pulling the images. The first master bootstraps successfully whereas the second master fails with `unexpected EOF` when uploading some configuration. The weirdest part is that when I try adding another master node, it bootstraps successfully!

[code]

Here, the images were pre-pulled in all machines, so I guess pre-pulling doesn't . Apparently, the seco

[2019-01-07 07:05] zaijianwutian commented on #1092
@heng-Yuan  Hi, did you fix the issue?

[2019-01-07 16:47] timothysc commented on #969
Closing in preference of https://github.com/kubernetes/kubernetes/issues/71677

[2019-01-07 16:47] #969 closed

[2019-01-07 16:55] timothysc commented on #972
I'm going to close this one and leave the #494 one.

[2019-01-07 16:55] #972 closed

[2019-01-07 17:12] timothysc commented on #988
@rosti  - Are you going to be able to work on this item in 1.14?

[2019-01-07 17:14] timothysc commented on #991
Closing, b/c we are deprecating playground in favor of kind
/cc @fabriziopandini

[2019-01-07 17:14] #991 closed

[2019-01-07 17:37] timothysc commented on #1028
This original issue is kind of being re-purposed, so I'm closing this one and folks can open another.
The original one doesn't really apply anymore.

[2019-01-07 17:37] #1028 closed

[2019-01-07 17:38] timothysc commented on #1040
/assign @luxas

b/c this overlaps with grand-unified component config.

[2019-01-07 17:45] fabriziopandini commented on #1341
@MalloZup are you available to work on this issue?
Pre pull should be executed immediately after
[code]
Prior art: pre pulling images in the kubeadm init workflow

[2019-01-07 17:53] MalloZup commented on #1341
@fabriziopandini thx yop i can have a look! :airplane: :small_airplane: :sun_with_face:

[2019-01-07 18:46] fabriziopandini commented on #1341
/lifecycle active

[2019-01-07 19:08] fabriziopandini commented on #494
IMO machine readable output (ideally for all the kubeadm commands) and provide better support for kubeadm vendoring are two separated problems.
The latter relates to https://github.com/kubernetes/kubeadm/issues/1205, so IMO this issue should focus only on the first

[2019-01-07 20:33] timothysc commented on #1042
@neolit123 should we keep this open or close it?

[2019-01-07 20:35] timothysc commented on #1052
I would channel what is done by the kubelet/cadvisor where possible b/c it's already vendored.

[2019-01-07 20:35] neolit123 commented on #1042
seems like we were unable to rally ideas for this.
i'm OK with closing.

[2019-01-07 20:37] #1100 closed

[2019-01-07 21:20] timothysc commented on #1101
closing due to inactivity.  If this is occurring on v1.13 please feel free to reopen.

[2019-01-07 21:20] #1101 closed

[2019-01-07 21:23] timothysc commented on #1105
closing due to age and inactivity.  If the issue still exists in 1.13 please feel free to reopen.

[2019-01-07 21:38] timothysc commented on #1111
closing, the original issue/open looked like it was stale but the recent update looks like a dupe of default fixes.

[2019-01-07 21:38] #1111 closed

[2019-01-07 21:59] #1113 closed

[2019-01-07 22:00] #1114 closed

[2019-01-07 22:11] timothysc commented on #1097
@detiber priority bump for 1.14 fixes.
/cc @fabriziopandini

[2019-01-07 22:12] timothysc commented on #1150
Can we close this or is there actual work or docs that folks want todo here.

[2019-01-07 22:13] timothysc commented on #1154
Going to close this for now, but please reopen with detailed repo instructions once folks can verify.

[2019-01-07 22:13] #1154 closed

[2019-01-07 22:18] #1176 closed

[2019-01-07 22:18] BenTheElder commented on #1150
from my POV we're having no real issues with this in `kind`, not sure if @neolit123 wants to do anything further.

[2019-01-07 22:38] timothysc commented on #1223
/assign @liztio

[2019-01-07 22:43] timothysc commented on #1272
Given the lack of justification, and overall agreement that this can be more problematic for most users we are closing.

If your use case can be simplified, generalized, or easily patched feel free to reopen.

[2019-01-07 22:43] #1272 closed

[2019-01-07 22:44] timothysc commented on #1275
closing due to lack of repo.

[2019-01-07 22:44] #1275 closed

[2019-01-07 23:20] #1305 closed

[2019-01-07 23:21] Mymetique opened #1343 "Upgrade from 1.12.3 to 1.12.4 timeout"
Hello we tried to upgrade our staging and production clusters to kubernetes 1.12.4 from 1.12.3. We proceed with our staging without issue but when we tried on our production environment we encountered a timeout.

The process has been the same, upgrade of kubeadm, kubelet ect then upgrade with kubeadm. The kube-apiserver is stuck in container creating mode for 5 minutes before kubeadm upgrade timeo

[2019-01-07 23:22] #1309 closed

[2019-01-07 23:30] timothysc commented on #1323
Agreed, closing this issue.

[2019-01-07 23:30] #1323 closed

[2019-01-07 23:31] timothysc commented on #1336
Also agreed.

[2019-01-07 23:31] #1336 closed

[2019-01-07 23:32] timothysc commented on #1339
Closing, this is repo is for defect tracking and feature requests only.

[2019-01-07 23:32] #1339 closed

[2019-01-07 23:34] timothysc commented on #1343
Yes, upgrade instructions clearly state to update control plane 1st.

I'd recommend looking into the api-server logs, or if needed updating the default timeouts which can be found in the godoc documentation.

[2019-01-07 23:34] #1343 closed

[2019-01-07 23:35] timothysc commented on #1340
/assign @liztio

[2019-01-08 07:49] foxyriver commented on #1340
ca_cert lacks line breaks for the last line, you should check if you drop it when you get ca_cert  from ca.crt

[2019-01-08 07:58] foxyriver commented on #1340
@liztio when catching the error of "doesn't match the expected CA cert" and "doesn't match the expected API server", should we build a new kubeconfig file instead of it?

[2019-01-08 09:32] foxyriver commented on #1285
I am interested in taking this on.

[2019-01-08 09:57] mamer67 opened #1345 "Unable to read config path "/etc/kubernetes/manifests": path does not exist, ignoring"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): {Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:36:44Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[2019-01-08 10:23] #1150 closed, assigned to nobody

[2019-01-08 11:07] fabriziopandini commented on #1042
/close

[2019-01-08 11:07] #1042 closed

[2019-01-08 12:05] neolit123 commented on #1295
is alpine linux a target for us?
we might rely on the community to patch it.

[2019-01-08 12:14] bryanhuntesl commented on #1295
Alpine Linux is a very popular target for containers - due to it's extremely small size/install - also rather popular for Vagrant/EC2 - I'm surprised it's not supported. Grepped through the kubedm code - seems like it's just messing with systemd in order to start docker/kubernetes stuff.

Is there a document describing what kubeadm does / intends to do / depends upon from the init system?

[2019-01-08 12:31] fabriziopandini commented on #1297
@yagonobre I guess this is done for v1.13 or I'm wrong?

[2019-01-08 12:34] fabriziopandini commented on #1291
This is spreading:
https://github.com/kubernetes/kubernetes/pull/72424 (control plane components)
https://github.com/kubernetes/kubeadm/issues/1337 (core DNS)

[2019-01-08 12:34] fabriziopandini commented on #1337
closing in favour of https://github.com/kubernetes/kubeadm/issues/1291

[2019-01-08 12:34] fabriziopandini commented on #1337
/close

[2019-01-08 12:34] #1337 closed

[2019-01-08 12:40] fabriziopandini commented on #1281
@bart0sh if I'm not wrong this is fixed now... can you confirm?

[2019-01-08 12:49] bart0sh commented on #1281
@fabriziopandini not yet. I'm working on it.

btw. Can you answer [above question](url
https://github.com/kubernetes/kubeadm/issues/1281#issuecomment-451126602), please?

[2019-01-08 12:51] neolit123 commented on #1295
on Linux it uses systemd start / stop the kubelet:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/kubelet/kubelet.go

this document partially outlines the kubeadm / systemd interaction:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#configure-kubelets-using-kubeadm

https://wiki.alpinelinux.org/wiki/Alpine_Linux_Init_System

this init system is not s

[2019-01-08 12:54] neolit123 commented on #1295
/assign @timothysc @detiber
for judgement on this one.

[2019-01-08 13:20] detiber commented on #1295
Has someone already packaged the necessary binaries (and the required init scripts) for Alpine? If so, I don't see an issue with adding proper support for managing services correctly. If not, then I would consider that a prerequisite for this to proceed, since the management of init scripts/config isn't the responsibility of kubeadm.

[2019-01-08 13:38] fabriziopandini commented on #1276
I'm closing this because of this part was refactored during v1.13
If this is still an issue in v1.13, feel free to re-open
/close

[2019-01-08 14:05] fabriziopandini commented on #1269
@neolit123 this applies to upgrade v1.12 --> v1.13 doc (https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade-1-13/).

IMO the following note will be enough

Known Issue:
the commad `join --experimental-control-plane` is know to fail on single node clusters created with kubeadm v1.12 and then updated to v1.13.x; this will be fixed when graduating the `join --control-plane` wo

[2019-01-08 14:17] fabriziopandini commented on #1215
IMO this is related to https://github.com/kubernetes/kubeadm/issues/1205, I'm not sure if it make sense to have two separated issues

[2019-01-08 14:24] fabriziopandini commented on #1130
@timothysc I think that we should close this as per discussion on https://github.com/kubernetes/kubernetes/pull/68817
wdyt?

[2019-01-08 14:34] seh commented on #1276
This is still an issue in version 1.13.1.

[2019-01-08 14:35] fabriziopandini commented on #1281
@bart0sh
I'm not sure that we should implement a logic that detects if a self-hosting pod runs _and then continue to run_... this could potentially lead to a never ending story.

Instead, I think we should investigate why kube-controller-manager is crashlooping, and make sure this condition is not generated by the self-hosting pivoting logic.

Once we are sure the pivoting logic doesn't introduce

[2019-01-08 14:37] neolit123 commented on #1269
ok.
/assign

[2019-01-08 14:41] neolit123 commented on #1215
added an bullet point about adding API in the OP of https://github.com/kubernetes/kubeadm/issues/1205

[2019-01-08 14:41] #1215 closed

[2019-01-08 14:41] fabriziopandini commented on #1095
closing in favor of https://github.com/kubernetes/kubeadm/issues/1291
/close

[2019-01-08 14:41] #1095 closed

[2019-01-08 14:48] liztio commented on #1340
@foxyriver not quite sure what you mean. Could you add a little more context?

[2019-01-08 15:19] antoinep92 commented on #1343
@timothysc thanks for the help, I assume you mean [this doc](https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/phases/upgrade). We indeed want to increase `UpgradeManifestTimeout`, but it doesn't appear to be in our config map (not referenced in`kubeadm config view` nor `kubeadm config print-default`) so from the doc it's not evident how this setting can be changed. Or do you mean temporarily pa

[2019-01-08 15:51] timothysc commented on #1343
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

`timeoutForControlPlane`

[2019-01-08 15:54] timothysc commented on #1345
How did you install kubeadm?
.deb/.rpm ?

[2019-01-08 21:21] ericsgagnon commented on #1011
still an issue on v1.13. Upgrading from v1.12 to v1.13 using the kubeadm upgrade guide wiped my pod subnet and restarted all my pods in a cidr outside my weave subnet in an internal subnet with collisions.

[2019-01-08 22:35] mamer67 commented on #1345
I tried two different setup methods, both with same results
* Followed RHEL instructions at this page https://kubernetes.io/docs/setup/independent/install-kubeadm/
* Installed v1.13.1 from here https://github.com/kubernetes/kubernetes/releases and downloaded kubectl/kubelet/kubeadm binaries using ./kuberenetes/cluster/get-kube-binaries.sh script.

[2019-01-09 06:21] manoj-bandara commented on #1026
This fixed my issue, although i only did this in the master node and just did kubeadm reset in other nodes

[2019-01-09 08:17] vroomvroomvroom commented on #1315
this got me past that error @qiubiubiu
sudo cp <src>/10-kubeadm.conf /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
should have to systemctl daemon-reload

[2019-01-09 10:38] lizrice commented on #683
I think it would be fair to say that updates to the CIS Benchmark are nearing completion, thanks in large part to @raesene. In kube-bench we stick to what's published in the benchmark, so when that's ready we'll release a new set of test config files to match.

[2019-01-09 12:14] rosti commented on #1260
+1 on all points of @fabriziopandini  from me.
We have to be careful with the last point though. Fetching a version from git (or any other VCS for that matter) is a bit bogus and prone to errors, thus it's easy to do "bad builds" this way. Also, we won't be able to produce a valid build from source code tarballs.
What we need to have is some place, central for the K8s source base, that contains th

[2019-01-09 12:42] bart0sh commented on #1260
@fabriziopandini

Sounds good to me. However, the implementation could be not that small and wouldn't worth an effort. For example what would be a MinimumKubeletVersion for current version '2.0.0-pre1' ?

Makes sense to me. Still need more explanations about the math.

Agree with @rosti here. We need to be very careful. Having this constant in some central place for K8s sounds much better to me th

[2019-01-09 12:54] rosti commented on #1295
There seems to be a single kubernetes package [here](https://pkgs.alpinelinux.org/package/edge/testing/x86_64/kubernetes).

[2019-01-09 13:08] detiber commented on #1295
@rosti Looking at the contents of that package it basically looks like a dump of multiple k8s binaries and does not include an init script or config required to be driven by kubeadm.

[2019-01-09 19:50] chadswen commented on #907
I'm seeing this issue installing k8s 1.13.1 with a matching kubeadm version, but isolated to kube-proxy:
[code]

If I create a workaround RoleBinding manually, I'm able to join nodes.
[code]
Is a `kube-proxy` RoleBinding for the `system:bootstrappers:kubeadm:default-node-token` Group supposed to populate automatically? Any idea what's going on here?

[2019-01-10 01:48] #1269 closed

[2019-01-10 04:36] kfox1111 opened #1346 "/etc/sysconfig/kubelet config rpm"
I just upgraded my rpm based system and it unexpectedly broke.

/etc/sysconfig/kubelet is reverting with each upgrade. The file should be marked as a config file in the rpm spec so it does not upgrade if there are changes.

[2019-01-10 04:47] kfox1111 opened #1347 "cni & k8s upgrade"
I upgraded my cluster and networking broke. I finally figured out kubelet no longer had the flag --network-plugin=cni. I added it to /etc/sysconfig/kubelet and everything started working again. I am thinking it probably belongs in /var/lib/kubelet/config.yaml  but it is unclear what the option should be.

[2019-01-10 07:55] neolit123 commented on #1347
please follow the issue template and specify your OS and upgrade versions.

`--network-plugin` is still available as a kubelet flag:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[2019-01-10 07:57] neolit123 commented on #1346
what is your OS?

TMK, the k8s project does not distribute config files other than the kubelet / kubeadm drop in file. the override has to come from elsewhere.

[2019-01-10 08:33] kulong0105 commented on #814
i also met the issue  in v1.10.12

cannot workaround it by remove cri-tools, since kubeadm depends on cri-tools
[code]

any idea ?

[2019-01-10 08:45] foxyriver commented on #1278
https://github.com/kubernetes/kubernetes/blob/152226c557e1b006d8aa0f2e1709192e84baad6e/cmd/kubeadm/app/util/config/initconfiguration.go#L57
your config will be reset by this method with default

[2019-01-10 16:47] kfox1111 commented on #1347
My apologies. It was late at the end of a long outage.

I'm using centos7. I there were multiple upgrades involved so I don't remember all the details. there was a 1.9 to 1.10 upgrade as well as a 1.10 to 1.11.1 and then a 1.11.1 to 1.12.2.

I did temporarily fix it with the flag. that feels like it should belong in /var/lib/kubelet/config.yaml though, but I can't find any documentation on what th

[2019-01-10 16:51] kfox1111 commented on #1346
centos7

[root@p0 ~]# rpm -qf /etc/sysconfig/kubelet
kubelet-1.12.2-0.x86_64

[2019-01-10 17:04] kfox1111 commented on #1346
the /etc/sysconfig/kubelet file should have %config(noreplace) added to it.

I'm a bit confused though. the rpm came from the official rpm repository.

The only code I can find though for a spec file is in kubernetes/kubernetes/build/rpms/kubelet.spec

it does not reference the config file and the 'Summary' field is different then the one in the binary rpm:
The binary says:
Summary     : Container

[2019-01-10 17:06] kfox1111 commented on #1346
found it. https://github.com/kubernetes/release/blob/master/rpm/kubelet.spec

[2019-01-10 17:13] kfox1111 commented on #1346
Here's a pr that should fix the issue: https://github.com/kubernetes/release/pull/658

[2019-01-11 07:50] MalloZup commented on #1341
Do we have a scripted way to setup the 2 cluster until the point to join? I think I have a fix but I need to test it on this deployment. Tia

[2019-01-11 10:45] neolit123 commented on #1347
if you are using Docker, kubeadm will detect that and automatically write the flag `--network-plugin=cni` in a file: `/var/lib/kubelet/kubeadm-flags.env`
the flags in this file will then be used to invoke the kubelet as can be read here:
https://kubernetes.io/docs/setup/independent/kubelet-integration/#the-kubelet-drop-in-file-for-systemd

is this flag present for your -flags.env file?
i don't see

[2019-01-11 10:53] vivuu1989 commented on #661
getting same error, when installing kubeadm init

error pulling image configuration: Get https://storage.googleapis.com/asia.artifacts.google-containers.appspot.com/containers/images/sha256:f59dcacceff45b5474d1385cd5f500d0c019ed9ca50ed5b814ac0c5fcec8699e: x509: certificate signed by unknown authority

my hosting server is running behind a proxy (http:// url:8080). How can resolve the issue please.

[2019-01-11 11:42] ocofaigh commented on #1054
Was this issue ever fixed in v1.11? Or only in v1.12?

[2019-01-11 15:10] aleks-mariusz opened #1348 "kubeadm should not re-use bind-address for api-server while using experimental-control-plane"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG

  - Fill in as much of the template below as you can.  If you leave out information, we can't help you as well.

i am trying to set up HA and after the apiVersion of the yaml that gets passed to kubeadm went to v1beta1 (from v1alpha2), i've had to adjust and use the --experimental-control-plane flag.. well it's sure experimental enough, i uncovered

[2019-01-11 15:22] neolit123 commented on #1348
hello and thank you for the report.

FYI, the config had an v1alpha3 before v1beta1.

i don't think there is a way for kubeadm (and `join --control-plane`) to know these custom bind addresses that you are specifying. if each api-server instance has to have a unique one you'd have to specify them manually.

@fabriziopandini @detiber
for further comments.

[2019-01-11 15:31] neolit123 commented on #1348
something else to note here. the purpose of the field `controlPlaneEndpoint` is to serve as the load balancer in front of the control plane nodes. what are you running on `api-k8s-lab:6443`?

[2019-01-11 15:34] aleks-mariusz commented on #1348
that's a vip that is moved around by keepalived, and behind that VIP is an nginx proxy acting as a load balancer between the 3 api-server IPs..

this is the main reason i'm specifying a bind-address in the first place, otherwise the api-server defaults to binding on 0.0.0.0 and it died trying that because the address is already in use on the VIP

[2019-01-11 15:37] aleks-mariusz commented on #1348
basically my thoughts on this are that, kubeadm should _not_ transport the bind-address setting between subsequent master nodes when using control-plane (at least if one _is_ specified, that isn't 0.0.0.0).. this is a fundamental assumption that breaks down in the instance a bind-address is specified..

when i used to use separate kubeadm-config.yaml, i would have the bind-address set individual o

[2019-01-11 15:42] amravyan commented on #338
@bboreham @weisjohn @patricklucas Thanks a lot for your experience. Could you please give an advice, what should I do on worker nodes after changing ip on master node?
Delete/add it to cluster? Or just change _/etc/kubernetes/kubelet.conf_ and _/etc/kubernetes/pki/ca.crt_ manually?

[2019-01-11 15:42] neolit123 commented on #1348
like i've mentioned above, you should be using `controlPlaneEndpoint` for load balancing and not the `bind-address` of individual api-servers.

this is outlined in our HA guide:
https://kubernetes.io/docs/setup/independent/high-availability/

you can always modify the api-server config and restart a pod.
but we also have plans to support phases for the `join` command which will make this easier to

[2019-01-11 15:50] aleks-mariusz commented on #1348
can you clarify what you mean by

the doc assumes there is an external load balancer device.. since that assumption breaks apart in this set-up, where i have a VIP that has an nginx listening on port 6443 (only on the VIP), and if i don't specify a ```bind-address``` then the api-server pod will fail to start due to "address already in use" error..

i _have_ to modify it because it's being set inc

[2019-01-11 16:10] neolit123 commented on #1348
if i understand this correctly this is not a HA setup, because if the first machines goes away the rest will not have a load balancer, correct?

LBs like keepalived allow you to run a LB service on each control plane node, which isn't excactly external LB.
truly external LB are out of scope for our guide.

[2019-01-11 16:45] neolit123 commented on #1348
it feels to me that in this case nginx adds a layer of complication that is not needed.
this setup is neither recommended or supported.

@fabriziopandini can comment if we want to omit copying the field.

[2019-01-11 16:59] kfox1111 commented on #1347
hmm.... that file contains: KUBELET_KUBEADM_ARGS=--cgroup-driver=systemd --cni-bin-dir=/opt/cni/bin --cni-conf-dir=/etc/cni/net.d --network-plugin=cni

not sure why it wasn't used.

[2019-01-11 17:05] neolit123 commented on #1347
this file is should always used as long it's present in the unit file. so it's hard determine what the problem was.

i'm going to close this, but feel free to re-open once you have the exact steps for reproduction or more details.

thanks.

[2019-01-11 17:05] #1347 closed

[2019-01-11 19:10] aleks-mariusz commented on #1348
my understanding is that the API server is active/active, so i thought for scalability's sake that the nginx load-balancing across all (available) API servers made sense..

can you propose an alternative that doesn't require an external load-balancer which spreads requests across more than one api-server ?

[2019-01-11 20:51] PierrickI3 commented on #1026
Thanks @manoj-bandara but I gave up for now and will return to this later on this year. See https://github.com/kubernetes/kubeadm/issues/1026#issuecomment-420948092

[2019-01-11 20:53] bcdurden commented on #1295
I'm normally a lurker. But there's industry interest in Kubernetes on the Edge using ARM and various bare metal options are being investigated with Alpine being in the mix of OS choices.

I think OpenRC support in kubeadm is kind of a must-have, I'm not certain Alpine's community is going to put forward a patch that 'fixes' something so fundamental to the OS's claim to fame.

[2019-01-12 01:10] fmehrdad commented on #1321
I have exact same problem.

[2019-01-12 08:55] fabriziopandini commented on #1348
@aleks-mariusz
The `ClusterConfiguration` object by design applies to all the cluster, so if you are setting the bind address there, it is applied to all the nodes. This should be removed

As of today, the only settings that can be customized for each single API is the `LocalAPIEndpoint` (the advertise address), and this can be done using the `InitConfiguration` object or the `JoinConfiguration` o

[2019-01-12 09:08] fabriziopandini commented on #1321
@iverberk @fmehrdad @wafflespeanut
IMO opinion the EOF error isn't related to image pre pull at all.
This was related to a race conditions fixed by https://github.com/kubernetes/kubernetes/pull/72030 on master and then cherry picked in v1.13.2

Could you kindly repeated the test against on one of the above version?

[2019-01-12 09:36] iverberk commented on #1321
I just retest with the repo that I created to reproduce this. This is the result of adding the second controller:
[code]
So unless my repo is not following the correct procedure, or the version of Kubadm that is used (1.13.2) is not correct, this is still not fixed.

@fabriziopandini would it be possible for you to evaluate my repo and make an assessment if it is correct and representative of a va

[2019-01-12 11:54] ereslibre commented on #1321
I will have a look at it tonight, the race condition fixed by https://github.com/kubernetes/kubernetes/pull/72030 was slightly different, I never saw this one, but I'm happy to try to reproduce the issue and try to find the root cause. I will report back.

[2019-01-13 10:41] MalloZup commented on #1341
@fabriziopandini CC https://github.com/kubernetes/kubernetes/pull/72870.
This works already but i pushedh the PR in wip for discussing some points. tia for all infos and help :rocket: :sunflower:

[2019-01-13 17:16] masantiago commented on #1321
I have experimented the same behaviour that you guys. The weirdest thing is to find that the first join (master-2) fails, but the second one is successful (master-3).

[code]

master-2 joining process yields:

[code]

[2019-01-13 17:25] DennisGlindhart opened #1349 "Cannot join node if addon-kubeproxy phase has not been run"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.13.2

kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.2", GitCommit:"cff46ab41ff0bb44d8584413b598ad8360ec1def", GitTreeState:"clean", BuildDate:"2019-01-10T23:33:30Z", GoVersion:"go1.11.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

[2019-01-13 18:06] ereslibre commented on #1321
With https://github.com/iverberk/kubeadm-cp-test it's 100% reproducible. I didn't hit it with my project https://github.com/ereslibre/kubernetes-cluster-vagrant though.

I am still in the process of checking what's wrong, but some observations: upon joining the second master, some processes on the first master crash: namely, the controller-manager, the scheduler and etcd afterwards.

Scheduler:

[

[2019-01-13 19:20] DennisGlindhart commented on #1349
@neolit123 Primarily using IPv6-only cluster with BGP/Calico routing where kube-proxy is, for now at least, not needed and I'm using Ingress instead of Services in general.
(https://opsnotice.xyz/kubernetes-ipv6-only/ talks about it a bit).

There is no problem in installing it for me, except I would like not to have anything not used hanging around - I like simple :)

Everything I need seems to w

[2019-01-13 19:36] masantiago commented on #1321
Yes, indeed. In fact, I ended up with the final status after several restarts of the Weave POD. It seems to be an unstable situation, confirmed when I shutdown the master-3. I am not able to access the cluster since then. It always responds with an _unexpected EOF_

Do not hesitate to ask me any trace you require.

I will have a look to your project @ereslibre. Did you also try with 13.x version?

[2019-01-13 19:45] ereslibre commented on #1321
Kubernetes-cluster-vagrant is merely a project to be able to code easier on Kubernetes itself (soon will be deprecated completely by kind). I didn't focus on deploying existing released versions, but it shouldn't be hard to extend to support that usecase.

@iverberk I am changing the code of your project a bit to confirm some things: https://github.com/iverberk/kubeadm-cp-test/compare/master...ere

[2019-01-13 19:50] neolit123 commented on #1349
thank you for the explanation. your use case seems quite plausible.

we seem to have a bug, or rather something we didn't anticipate related to phases.

when join is performed in 1.13 we now have a way to retrieve the init configuration from the control plane node to the worker node. as part of this process we also fetch the "component config" for kubelet and kube-proxy, yet if one of them is miss

[2019-01-13 20:52] ereslibre commented on #1321
I think my theory stands. So, what I did was to use: https://github.com/iverberk/kubeadm-cp-test/compare/master...ereslibre:master. It's very important to only copy the certificates that need copying, and not the rest, because if certain certificates exist they won't be generated and their SANs won't include the proper IP addresses on the new machines.

With the changes I previously linked I ran:

[2019-01-14 09:45] ttarczynski commented on #1054
@ocofaigh I think the patch ([PR #69886](https://github.com/kubernetes/kubernetes/pull/69886)) is only available in v1.13 and not backported to older versions.

You can find this info in release notes:
* for v1.13 -- https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.13.md#sig-cluster-lifecycle-1
[code]

[2019-01-14 09:48] bryanhuntesl commented on #1295
I strongly suspect you are correct - with the memory/image size they're targeting - I really can't see them going the (no disrespect to) systemd route.

[2019-01-14 10:57] MalloZup commented on #1321
ok hopefully this can fixed then with https://github.com/kubernetes/kubeadm/issues/1341

[2019-01-14 12:53] ereslibre commented on #1321
So, two things after discussing with @fabriziopandini:

1. Copying the whole `/etc/kubernetes/pki` from one machine to another will lead to this problem.
  * When we do a `kubeadm join` we are only checking if the certificates are present, not checking if the SANs match what we expect. @fabriziopandini is +1 to not only check for the presence of the certificate, but to check also the SAN of it, an

[2019-01-14 13:30] bcdurden commented on #1295
At first glance, this actually looks quite straight-forward.  I'm not a Go-afficionado by any means, but it appears to just me making direct calls to a shell.  Adding another implementor to that InitSystem interface that works for OpenRC plus the openrc service script would probably do it.

[2019-01-14 15:12] ereslibre commented on #1312
Is it also desired to attempt a `kubectl delete node` aside from modifying the `kubeadm-config` configmap?

[2019-01-14 17:17] fabriziopandini commented on #1321
@ereslibre  thanks for the wrap up

What about adding an explicit warning on the document: don't copy all the certs!

Unfortunately automatic transmission of certs will be optional so, this fix should is necessary for v1.14 too; nevertheless, let's check if this can be fixed with a small change/eligible for backport in v1.13 .

Might be better error out with a better error message (instead of sile

[2019-01-14 17:54] fmehrdad commented on #1321
FYI I am only copying the files listed in https://kubernetes.io/docs/setup/independent/high-availability/ and still have this problem.

[2019-01-14 17:59] ereslibre commented on #1321
@fmehrdad Can you double check if prepulling the images in the new node before calling to `kubeadm join` helps? If that's the case https://github.com/kubernetes/kubernetes/pull/72870 is the issue.

[2019-01-14 19:50] neolit123 commented on #1349
@fabriziopandini

@neolit123 might be we should reconsider the low priority assigned to those tasks and raise a call for volunteers

we can discuss the list of join phases with @timothysc on Wednesday and then i can create a tracking issue for volunteers, so that someone works on this problem in parallel.

does that sound good?

[2019-01-14 20:17] fmehrdad commented on #1321
I have been pre pulling the images using "kubeadm config images pull" ahead
of time. did not help.
I also tried 1.13.2 with no success.

On Mon, Jan 14, 2019 at 9:59 AM Rafael Fernández López <
notifications@github.com> wrote:

[2019-01-14 20:55] ereslibre commented on #1321
I need more information in order to know what's going on in your setup @fmehrdad. This issue reported by @iverberk comes with a repository that shows two different issues.

1. `etcd` failing to grow, this is going to be fixed by a PR that checks certificates are correct if they exist.
2. Pre-pulling does not happen (https://github.com/kubernetes/kubeadm/issues/1341).

Both problems cause the same

[2019-01-14 22:00] masantiago commented on #1321
I've just tested with pre-pulling in second master, and the same behavior remains like @fmehrdad. My configuration is like that:

- cni_version: 0.6.0-00
- kubelet_version: 1.13.2-00
- kubeadm_version: 1.13.2-00
- docker_version: 18.06.0~ce~3-0~ubuntu

Vagrant like
[code]
**kubeadm-config.yaml**
[code]

where 172.168.33.20 is the VIP for the three masters using a keepalived and nginx load balancin

[2019-01-15 04:56] anguslees opened #1350 "CA rotation: controller-manager needs a separate ca.crt file"
## What happened?

I tried to (manually) rotate my cluster's CA key over the weekend.  I discovered that `/etc/kubernetes/pki/ca.crt` can actually include _multiple_ CA keys, and this is key (hah!) to rotating the CA key.

`kube-controller-manager` however, can only accept a single key in the file pointed to by `--cluster-signing-cert-file`, since this is the key used to *sign* things, and not to

[2019-01-15 09:49] rosti commented on #1295
@detiber you are correct there. But some package is better than no package. This means that we have a maintainer we can ping with a specific proposal.

[2019-01-15 10:35] suonanjiexi opened #1351 "[ERROR SystemVerification]: failed to parse kernel config: unable to load kernel module: "configs", output: "modprobe: FATAL: Module configs not found.\n", err: exit status 1"
[root@node1 ~]# kubeadm init --kubernetes-version=v1.13.2 --pod-network-cidr=10.244.0.0/16 --service-cidr=10.96.0.0/12
[init] Using Kubernetes version: v1.13.2
[preflight] Running pre-flight checks
[preflight] The system verification failed. Printing the output from the verification:
KERNEL_VERSION: 3.10.0-693.el7.x86_64
DOCKER_VERSION: 18.09.0
OS: Linux
CGROUPS_CPU: enabled
CGROUPS_CPUACCT: enabl

[2019-01-15 11:20] neolit123 commented on #1295
@bcdurden

yes, contributions are welcome.

[2019-01-15 11:21] neolit123 commented on #1295
RE: packages.

ping @fcolista
as per: https://pkgs.alpinelinux.org/package/edge/testing/x86_64/kubernetes

are there plans to continue to maintain this package?
it seems to lack init system integration and only include binaries.

we are having a discussion about the potential support for Alpine Linux in kubeadm.
the main blocker here is not really on the kubeadm side but rather core kubernetes not

[2019-01-15 12:15] neolit123 commented on #1351
hi, what is your linux distro?

you can skip this check using `--ignore-preflight-errors=SystemVerification`
here is how the kernel config validator works:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/system/kernel_validator.go#L176-L182

it first looks for a kernel config file in a number of locations and then tries to find the `configs` module.
if the above fails it

[2019-01-15 12:16] neolit123 commented on #1350
cc @liztio @fabriziopandini

[2019-01-15 12:55] neolit123 commented on #1204
/assign

we are going to track the work in this issue and possibly have volunteers help us with that.

after this PR merged:
https://github.com/kubernetes/kubernetes/pull/72442
we need to solidify/define the list of phases for join.

[2019-01-15 13:01] ereslibre commented on #1321
I can see something that will be probably related. When joining the second master to the cluster the `https://172.28.128.25:6443/api/v1/namespaces/kube-system/configmaps/kubeadm-config` endpoint takes far longer to answer than on the third.

Master 2 (~14 seconds):

[code]

Master 3 (~40 milliseconds):

[code]

So I can confirm that the first control plane join takes a bit longer, so it seems that

[2019-01-15 16:52] alejandrox1 commented on #1349
Is there any chance that this is not a bug per se?
As I understand it, Calico uses kube-proxy to manage filtering rules. So in order for pods to know where the dns service lives the cluster needs the kube-proxy component to be running in all cluster nodes. In this sense the blog post referenced by @DennisGlindhart , [Kubernetes in IPv6 only](https://opsnotice.xyz/kubernetes-ipv6-only/) fails to ta

[2019-01-15 17:36] MalloZup opened #1352 "Rename RunPullImagesCheck to CheckAndRunPulllImages"
This issue is a follow-up from https://github.com/kubernetes/kubernetes/pull/72870

i will tackle this once that pr is merged.

Problem was that the name of function can lead confusion. We should make more explicit that we also pulluing image really and not run only checks as the name could suggest

[2019-01-15 17:37] MalloZup commented on #1352
/assign MalloZup

[2019-01-15 17:37] MalloZup commented on #1352
if you have another name suggestion feel free to suggest

[2019-01-15 20:46] MalloZup commented on #997
i would vote for closing this issue, agreed with others. I don't think adding a lock-file in the stack provide benefits and also for user-experience, at some point we cannot prevent everything. :smile_cat:

[2019-01-15 22:15] anitgandhi commented on #1223
I think this is to pre-generate kubelet's **server** certs. I tinkered with trying to use the Kubelet flags for TLS server bootstrap and rotate server certs, unfortunately I could not get Kubelet to request a server cert for itself using the bootstrap token. Kubelet ends up falling back to its default behavior for server certs, which is to generate a self-signed one.

To the best of my knowledge,

[2019-01-15 23:37] fmehrdad commented on #1321
My problem was not related to k8s.  My nginx-lb config had a very short timeout.

I changed my proxy_timeout from 3s to 24h.

Here is my config
user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_form

[2019-01-16 03:20] suonanjiexi commented on #1351
Thank you very much, my problem has been solved.

[2019-01-16 07:21] RA489 commented on #1352
@MalloZup I can look into it.

[2019-01-16 12:03] #1341 closed

[2019-01-16 14:04] MalloZup commented on #1352
@neolit123 we can sync in slack. To me I felt that it was a follow-up for later.  I agree it isn't high pro

[2019-01-16 14:34] MalloZup commented on #1352
@rosti  for me should be valid to rename it because isn't much implicit by the name that we are also pulling the images.

However if we rename this function, also the other name of function might be in the same situation. I had just a look. Anyways, i'm ok with both decision, to rename or not. tia :rocket:

[2019-01-16 15:18] MalloZup commented on #1352
/unassing @MalloZup

[2019-01-16 15:19] MalloZup commented on #1352
/unassign @MalloZup

[2019-01-16 15:43] RA489 commented on #1352
@neolit123 sure, please assign some high priority items for me in todays kubeadm office hours.

[2019-01-16 15:55] rosti commented on #1352
@neolit123 my view on this one is that the rename is necessary. The func is named that way for historical reasons that are no longer true. Hence the change is necessary, but not at all urgent.
Therefore, this has a backlog priority to me.
It's a good issue for novice contributors.

[2019-01-16 15:56] neolit123 commented on #1352
/priority backlog

[2019-01-16 15:57] neolit123 commented on #1352
@RA489
we will be mostly busy with other items today, but please take a look at any tickets labeled, bug, help-wanted priority-important-*.

[2019-01-16 16:40] ereslibre opened #1353 "`kubeadm join` does not explicitly wait for etcd to have grown when joining secondary control plane"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `1.13` onwards.

## What happened?

When joining a secondary control plane (`kubeadm join --experimental-control-plane`, or by using `controlPlane` configuration on the `kubeadm` YAML), and `etcd` needs growing from 1 instance to 2 there's a temporary blackout that we are not explicit

[2019-01-16 16:45] ereslibre commented on #1353
/assign

[2019-01-16 16:45] ereslibre commented on #1321
/assign

[2019-01-16 16:50] rosti commented on #1321
@ereslibre will be working on this one.

/lifecycle active

[2019-01-16 16:51] masantiago commented on #1321
@fmehrdad  Yesterday, I made a similar test but removing the LB (nginx) at all. I got to put all three masters in active, but:

- They scheduled correctly three PODs (the masters were untainted, I do not have any workers).
- When start shutting down master, the PODs were not re-scheduled to the remaining masters. So the situation was not stable.

Can you check if it is your case?

[2019-01-16 17:12] ocofaigh commented on #1054
Hmm, is there any way I can work around this for v1.11? My scenario is I have kubeadm v1.11.6 cluster set up, and I want to enable the PodSecurityPolicy admission plugin. So I should be able to:

1. `kubeadm config view > kubeadm-config.yaml`
2. Locate the `apiServerExtraArgs` settings, and enable the PodSecurityPolicy admission plugin. EG:
[code]
3. `kubeadm upgrade apply --config=kubeadm-config.

[2019-01-16 17:32] ereslibre commented on #1204
I'm also willing to help with this effort, as of todays kubeadm office hours meeting.

[2019-01-16 18:01] fabriziopandini commented on #1200
drafts of the KEP for this feature https://docs.google.com/document/d/1hSghREAoM8f_usJjGuQS1bWEtCC2wBYFNoBC7FyISwA/edit#
I will quickly iterate on google doc for the first round of feedbacks until friday and the move on a PR

[2019-01-16 19:23] MalloZup commented on #1205
@fabriziopandini I would like to help on this. We might split this issue in small actionables issues. If you want we can talk about it in irc or here as you wish.

[2019-01-16 22:17] masantiago commented on #1321
Just tested @fmehrdad with your nginx config and I got the unexpected behaviour when shutting down masters. The replicas of PODs are not rescheduled and, moreover, when only the master 1 is left, I retrieve:

[code]
It seems that the HA of either etcd or control plane is not working properly.

I really appreciate your feedback in such case.

[2019-01-16 22:50] ereslibre commented on #1321
If you have grown your cluster to 3 masters `etcd` was also grown to 3. As per the [etcd admin guide](https://coreos.com/etcd/docs/latest/v2/admin_guide.html) in a cluster of 3 the fault tolerance is of 1. If you shut down 2 out of 3 etcd instances your etcd cluster will be unavailable.

Please, let's keep this issue from now on for the certificate issue, since the reporter provided a repository t

[2019-01-17 05:08] RA489 commented on #1204
I can also help with this effort.

[2019-01-17 07:12] ttarczynski commented on #1054
My workaround was the same (downgrade then upgrade).

[2019-01-17 07:31] RA489 commented on #1345
I can take a look.

[2019-01-17 07:38] RA489 commented on #1271
@luxas i can take a look.

[2019-01-17 08:57] fabriziopandini commented on #1350
@anguslees thanks for this issue and for the detailed explanation!
Certification rotation IMO is a topic that deserve more attention in general, and I think that we should re-iterate at sig level on two points that up to know have no clear prioritization:
1. certificate rotation enhancements ??? (kubelet, kubeconfig files etc.)
2. document how certificate rotation works (automatic or DIY)

What di

[2019-01-17 09:51] fabriziopandini commented on #1205
@luxas considering that this cycle seems there are people willing to help, it will be great to hear what do you think about this idea...

Cleaning up some tech debt and getting in better shape for enabling kubeadm vendoring in future are the main reason behind this.
What about trying to combine a meeting for a quick brainstorming on this topic?

[2019-01-17 12:31] fabriziopandini commented on #974
/close due to lack of updates
feel free to re-open if necessary

[2019-01-17 12:32] #974 closed

[2019-01-17 12:39] fabriziopandini commented on #1345
Thanks @RA489
/lifecycle active

[2019-01-17 13:51] luxas commented on #1271
@RA489 Join our workgroup that will discuss this: https://github.com/kubernetes/community/tree/master/wg-component-standard
In this WG, we'll come up with a k8s-wide solution to this problem, and we'll adopt this in kubeadm afterwards.

[2019-01-17 18:31] arnaubennassar commented on #413
I was in the same situation, getting the same error with the approach suggested by @neolit123 .
I wasn't able to run the script by @stephenmoloney , I'm not really familiar with bash scripting, probably my fault.

So I ported the script to python (which is installed by default on Raspbian, so no need for extra dependencies), in case anyone is interested:
[code]

To run it: `sudo python however_you

[2019-01-17 20:20] MalloZup commented on #1098
@fabriziopandini I can have look on this

[2019-01-17 21:30] mattkelly opened #1354 "Should be able to set --cert-dir for service account key generation (kubeadm init phase certs sa)"
## What keywords did you search in kubeadm issues before filing this one?

`cert-dir`, `init phase certs`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.13.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.13.2
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A

[2019-01-17 21:32] mattkelly commented on #1354
I'm happy to pick this up as well after we discuss the best path forward.

[2019-01-17 22:12] neolit123 commented on #1354
hi, @mattkelly please feel free to send a PR.

this does indeed look like a regression in 1.13:
https://v1-12.docs.kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-phase-certs

[2019-01-17 22:17] thedarkfalcon commented on #578
Just for anyone arriving at this thread, I found that Weave Net 2.5.0 was breaking my clusters. I had an exisiting cluster which broke after applying updates (including Weave), existing pods kept functioning, however any new pods failed to create. I then created a new cluster, and the exact same thing happened; Created cluster using kops, applied weave, applied kubedashboard, the dashboard failed

[2019-01-17 23:20] mattkelly commented on #1354
@neolit123 I'll assume we'll just make it use `--cert-dir` again then. I'll have a PR up soon!

[2019-01-18 00:34] neolit123 commented on #578
^ cc @bboreham @errordeveloper

[2019-01-18 02:23] aashish-sheshadri opened #1355 "Certificate issues with kubeadm init"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): "v1.13.2"

**Environment**:
- **Kubernetes version** (use `kubectl version`): "v1.13.2"
- **Cloud provider or hardware configuration**: None
- **OS** (e.g. from /etc/os-release): CentOS 7.6
- **Kernel** (e.g. `uname -a`): 3.10.0-957.1.3.0.1.el7.x86_64
- **Others**:

## What happened?

[2019-01-18 04:31] murali-reddy commented on #578
@thedarkfalcon i spun a cluster with kops 1.9 (which is fairly old kops version) it turns out that `portmap` CNI plugin is not installed by this kops version. Portmap plugin is needed by weavenet 2.5.0 as from 2.5 weave is using `.conflist` for CNI config and refferring to portmap.

[code]
If you use any latest kops releases (1.10 or 1.11) it installs portmap CNI plugin by default.

[2019-01-18 07:18] fabriziopandini commented on #1355
@aashish-sheshadri
If `kubeadm token list` doesn't works but `sudo kubeadm token list` works, it means that the admin.conf file was is not available for the current user.

The target name should be $HOME/.kube/config as documented

[2019-01-18 10:06] aleks-mariusz commented on #1348
overlooked about internal traffic and other mechanisms used to service it.. re the external traffic, to me, if we're working around this by changing port-numbers, it seems more preferable to use a different port for the api servers itself, so that the well-known port # of 6443 is maintained (at least externally).. so would something like this:

[code]

accomplish this ? vs advertising api-server n

[2019-01-18 10:34] neolit123 commented on #1204
@RA489 thanks, assigned.

as a reminder, please note that the PRs have to come in order.
preflight -> control plane -> .....

[2019-01-18 10:50] ereslibre commented on #1204
I can take `control-plane-prepare` phase

[2019-01-18 11:09] MalloZup commented on #1204
@neolit123  i can take the `prefligh` one

[2019-01-18 11:12] neolit123 commented on #1204
thanks @ereslibre and @MalloZup .
the only vacant item now is `kubelet-start`

[2019-01-18 11:13] yagonobre commented on #1204
I can take kubelet-start

[2019-01-18 11:16] neolit123 commented on #1204
thanks you @yagonobre

[2019-01-18 12:36] yagonobre commented on #1098
Thanks @MalloZup
/lifecycle active

[2019-01-18 13:10] MalloZup commented on #1204
/assign @MalloZup

[2019-01-18 13:14] fabriziopandini commented on #1348
I think yes!

AFAIK, customising the bind-addres is fine
The fact, from my PoV, is simply that kubeadm is some case should define trade-offs between keeping the UX/Config surface simple vs enable full customization.
HA/Multi node support is one of them.

During this journey, if there is demand from the community (and hopefully also some help), I'm personally open to reconsider actuals assumptions

[2019-01-18 16:24] SorushP commented on #749
I had still same issue in this environment:
- OS: CentOS 7 minimal (1810)
- k8s version: 1.13.2

But eventually solved By passing `--cri-socket "/var/run/crio/crio.sock"` to `kubeadm init` command.

[2019-01-18 18:00] yagonobre commented on #1200
will we allow the user to create a cluster without create the `kubeadm-certs` secret and the `encryption-key`?

[2019-01-18 19:05] neolit123 commented on #1200
we should, as it is now, and this will allow the user copy certs manually if they want HA.

[2019-01-18 23:22] bcdurden commented on #1295
@fcolista I've got one, but it's 'hacky'.  Something about Alpine on ARM64 with Kubelet blocks etcd from completing.  I have to start kubelet, kill the process after about 20-30s, and then start it back up again. This hackiness makes using kubeadm init and join pretty dicey. Haven't had a chance to track down the issue. This is Alpine 3.8 on ARM64 running on RPi 3B+

I've also found another issue

[2019-01-20 07:57] #1353 closed

[2019-01-20 15:06] neolit123 commented on #997
/close

closing this as per the vote of the majority.
the related PR is closed now too:
https://github.com/kubernetes/kubernetes/pull/66534

[2019-01-20 15:06] #997 closed

[2019-01-21 01:17] foxyriver commented on #1355
try `kubeadm token list --kubeconfig=$HOME/.kube/config`

[2019-01-21 02:01] aashish-sheshadri commented on #1355
@foxyriver
`kubeadm token list --kubeconfig=$HOME/.kube/config`

But, `sudo kubeadm token list --kubeconfig=$HOME/.kube/config` works fine. I also deleted /etc/kubernetes/admin.conf.

[2019-01-21 09:46] foxyriver commented on #1355
@aashish-sheshadri
make sure your $HOME/.kube/config file has the read authority by non root user, if not, try this
[code]

[2019-01-21 11:20] rosti commented on #1355
Folks, never set your kube config permissions to 777. 0600 should be enough, anything else is a potential security risk (with 777 definitely one).

[2019-01-21 14:19] neolit123 commented on #1204
the base pr for phases in join has merged.
@MalloZup you can start with the PR for preflight.

[2019-01-21 14:35] MalloZup commented on #1204
@neolit123 thx for infos. yop i'm looking at it :rocket:

[2019-01-21 15:21] rosti opened #1356 "Deprecate and remove --cri-socket flag from kubeadm upgrade apply"
For historical reasons `kubeadm upgrade apply` accepts a `--cri-socket` flag.
This is no longer needed, because the CRI socket of the node is stored in the NodeRegistrationOptions of the node at the cluster.
During `kubeadm upgrade apply` it is much safer and less error prone to fetch the CRI socket from the cluster, rather than rely on the user to supply the same value as upon `kubeadm init` or `

[2019-01-22 07:41] aashish-sheshadri commented on #1355
@foxyriver @rosti Any ideas why am unable to list tokens without sudo. I am unable to configure kubectl at all, sudo or not. I get the same error x509: certificate signed by unknown authority.

It seems like its more that being able to read .kube/config. Any pointers will be helpful.

[2019-01-23 09:03] atoato88 opened #1357 ""[bootstraptoken]" and "[bootstrap-token]" at kubeadm init"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):v1.13.2

**Environment**:
- **Kubernetes version** (use `kubectl version`):v1.13.2
- **Cloud provider or hardware configuration**:N/A
- **OS** (e.g. from /etc/os-release):18.04.1 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`):4.15.0-43-generic
- **Others**:N/A

## What happened?
Wh

[2019-01-23 09:55] adoerler commented on #1347
Hi kfox1111,

I've had the very same problem after upgrading Kubernetes 1.10.12 to 1.11.6 and than to 1.12.5 last weekend.

We are running on Ubuntu 16.04.

Until1.12.x the kubernetes upgrade documentation told us not using packagemanager like `apt` to update `kubeadm`, but rather do it with curl and replacing the file `/usr/bin/kubeadm`.

After I figured out, that the pod communication failed due

[2019-01-23 09:59] adoerler commented on #1015
@neolit123

I've added my notes about this issue (upgrading the cluster) over here:
https://github.com/kubernetes/kubeadm/issues/1347#issuecomment-456739287

[2019-01-23 14:38] mydockergit commented on #998
There is also answer for that in stackoverflow:
https://stackoverflow.com/questions/53075796/coredns-pods-have-crashloopbackoff-or-error-state

7

This error

[FATAL] plugin/loop: Seen "HINFO IN 6900627972087569316.7905576541070882081." more than twice, loop detected
is caused when CoreDNS detects a loop in the resolve configuration, and it is the intended behavior. You are hitting this issue:

ht

[2019-01-23 14:38] MalloZup commented on #1357
thx @atoato88  for this catch :rocket:

[2019-01-23 14:49] chrisohaver commented on #998
Thanks. It's also covered in the CoreDNS loop plugin [readme](https://github.com/coredns/coredns/tree/master/plugin/loop#troubleshooting) ...

[2019-01-23 15:33] rosti commented on #1356
@RA489 The first part of this is already done as part of the above mentioned PR. The second part (the actual removal) is going to be done after (at least) 3 minor releases due to deprecation policies.
Feel free to work on that when the time comes.

[2019-01-23 16:37] kfox1111 commented on #1347
Ah. interesting. thanks for the info.

[2019-01-23 18:39] dlipovetsky opened #1358 "Not possible to represent absence of Taints when marshalling kubeadm configuration"
## Versions

kubeadm API v1alpha3 and v1beta1 (releases 1.11, 1.12, 1.13)

## What happened?
I wanted to use a Go program to generate kubeadm configuration, such that _no taints_ are applied to the node. I imported the kubeadm types, initialized an `InitConfiguration` struct, and set `NodeRegistration.Taints` to an empty slice. I then marshalled the struct YAML and wrote this to a configuration fi

[2019-01-23 19:50] neolit123 commented on #1358
that is true. applying a taint if the list is empty by default is not ideal.

but also our comment in the API is incorrect as the taint is not applied to JoinConfiguration, yet JoinConfiguration also embeds NodeRegistrationOptions.

is this happening in the JoinConfiguration or InitConfiguration?

in terms of actions that the logic performs - for `kubeadm init` it's already possible to skip the ph

[2019-01-23 20:05] dlipovetsky commented on #1358
@neolit123 This is happening in the `InitConfiguration`.

To be clear, I am using a Go program to generate the `InitConfiguration`, and am unable to set `NodeRegistration.Taints` to `nil`. But I have to set it to `nil` in order for kubeadm to apply no taints to the master.

[2019-01-23 20:14] neolit123 commented on #1358
understood,

so even if you set the list of taints to `{ }` kubeadm will still taint the node as master.
this is by design, which is not ideal.

but, when executing `kubeadm init` you can skip the taint using:
[code]
(but this will also skip the label)

wouldn't that solve the problem?

[2019-01-23 20:23] dlipovetsky commented on #1358
this is by design, which is not ideal.

Actually, kubeadm will _not_ taint the master if the marshalled configuration sets taints to nil. (The [comment](https://github.com/kubernetes/kubernetes/blob/release-1.13/cmd/kubeadm/app/apis/kubeadm/v1beta1/types.go#L208) explains this correctly)
[code]

It's possible to create such a configuration by hand, just not using a Go program that imports kubeadm

[2019-01-23 20:33] atoato88 commented on #1357
@neolit123 OK, I’ll fix it with option 2.

[2019-01-23 20:40] chuckha commented on #1209
Let's close this in favor of @rosti's work. I think the point was missed as the variable name change was not very interesting of a ticket.

[2019-01-23 20:40] #1209 closed

[2019-01-23 20:42] neolit123 commented on #1357
thanks!
/lifecycle active

[2019-01-23 20:47] dlipovetsky commented on #1358
Ugh, I'm sorry, I mixed up nil and empty slice. kubeadm will apply default taints if the taints slice is nil, and will not apply taints if the taints field is an empty slice. If I set taints to an empty slice in a Go program, it the field will be omitted, because it's tagged "omitempty." I'll make corrections to the comments.

[2019-01-23 21:01] dlipovetsky commented on #1358
I updated the example program to illustrate what exactly what happens. I create the struct, set Taints to an empty slice, marshal it, then unmarshal to a fresh config, and now Taints is nil, not an empty slice.

[2019-01-23 21:03] neolit123 commented on #1358
thank you for the update.

since our config is in beta, we won't be able to modify this field for a while.
cc @fabriziopandini @rosti

[2019-01-23 21:07] neolit123 commented on #1358
to re-iterate, while this seems like a problem in the config, it appears to be only a problem when marshaling and not if the users are writing a config by hand.

[2019-01-23 21:16] dlipovetsky commented on #1358
@neolit123 That's correct, it's a problem only when marshalling.

[2019-01-24 01:57] pytimer commented on #1349
Could `kubeadm` support custom selection addons?
`kubeadm init` use configuration file, we can enable or disable the specified addons. For example, if we use `kube-router`, we can disable `kube-proxy`.

[2019-01-24 04:02] mansurali901 commented on #1161
I know this ticket is closed but i found the great solution
Step # 1 Generate new token
{code}
root@k8master:~# kubeadm token generate --kubeconfig /etc/kubernetes/admin.conf
# list the token
root@k8master:~# kubeadm token list
TOKEN                     TTL       EXPIRES                     USAGES                   DESCRIPTION   EXTRA GROUPS
k1fw6r.hseqjtg6lxvw50wc   23h       2019-01-24T19:35:51-

[2019-01-24 08:31] RA489 commented on #1345
@mamer67 I investigated this issue on CentOS but i didn't find any missing config path "/etc/kubernetes/manifests"

[2019-01-24 08:34] yixianhuang opened #1359 "join second control plane etcd bind error ip"
## What keywords did you search in kubeadm issues before filing this one?
etcd、kubeadm、ip、network card
If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.
not found

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (us

[2019-01-24 08:41] RA489 commented on #1345
@mamer67 yea i didn't exist before
![screenshot from 2019-01-24 13-12-23](https://user-images.githubusercontent.com/40191615/51665503-e6b16980-1fe1-11e9-9eb8-26584a9dd87f.png)
ore

[2019-01-24 08:49] mamer67 commented on #1345
@RA489 Strange!. This almost showed up on my side on every worker node, while running on AWS/EC2 AmazonLinux hosts. I will try again on my side, and provide more snapshots.

Could you also post kubeadm version you are using?

[2019-01-24 08:58] RA489 commented on #1345
@mamer67 yea you can recheck from your side if problem still exists
![screenshot from 2019-01-24 13-15-24 1](https://user-images.githubusercontent.com/40191615/51666623-532d6800-1fe4-11e9-8da6-c12a3e45ed02.png)

[2019-01-24 09:03] mamer67 commented on #1345
Oh I see you are using kubeadm v1.13.2, I was reporting the issue on kubeadm v1.13.1. Let me update kubeadm on my box and try again, and see. Its probably fixed already with version change.

[2019-01-24 09:08] RA489 commented on #1345
@mamer67 I don't think there will be much difference between v1.13.1 and v1.13.2 but yeah you can upgrade your kubeadm box.

[2019-01-24 10:04] mamer67 commented on #1345
@RA489 Changing the version doesn't help as you said. I am still experiencing same issues on worker node.

[code]

In worker node I only get this,

[code]

[code]