[2019-12-28 16:18] #1990 closed

[2019-12-29 04:42] coboluxx opened #1991 "Sanitizing certificate input for proper validation required?"
**What happened**:
CA validation code fails for a valid input file while trying to initialize a new cluster with an external CA by running kubeadm init.

**What you expected to happen**:
No error.

**How to reproduce it (as minimally and precisely as possible)**:
Prepare an external CA for a new cluster (https://kubernetes.io/docs/setup/best-practices/certificates/).

Create the admin certificate.

[2019-12-29 19:52] cgebe commented on #1432
Hitting the same issue with 1.17.0, deleted a master node with etcd without running `kubeadm reset` on the node first.

[code]

`116.203.251.14` was deleted.

[2019-12-29 23:03] neolit123 commented on #1991
PR with a fix is here:
https://github.com/kubernetes/kubernetes/pull/86705

/lifecycle active

^ side note: there is a typo in `defaul`

[2019-12-30 18:59] fabriziopandini commented on #1432
@cgebe if I'm not wrong you have to delete the member using etcdctl

Btw: https://github.com/kubernetes/enhancements/pull/1380 is going to remove problems related to the kubeadm ClusterStatus getting stale

[2019-12-31 02:20] sbwfnhn opened #1992 "Use external etcd :check-expiration is displayed incorrectly"
EDIT: by neolit123 - i've formatted the description.

[code]

[code]

[code]

[code]

[code]

[2019-12-31 03:16] neolit123 commented on #1992
@sbwfnhn
hi, can you please help me understand what do you think is not displayed correctly?

how did you manage to setup the certificates to expire after 99 years?
given the CA is kubeadm managed, i don't understand how this could have happened without hacks?

which files are not updated?

these two you have to copy manually. kubeadm cert renew does not manage them because the etcd CA key is not

[2019-12-31 03:26] sbwfnhn commented on #1992
Sorry, I make a mistake。

@neolit123
vim cmd/kubeadm/app/util/pkiutil/pki_helpers.go
git diff
- NotAfter: time.Now().Add(kubeadmconstants.CertificateValidity).UTC(),
+ NotAfter: time.Now().Add(kubeadmconstants.CertificateValidity * 100).UTC(),

[2019-12-31 03:26] #1992 closed

[2019-12-31 18:22] ejmarten commented on #1913
Considering that this is a warning and not an error, it should show up in a log that is showing the correct log level, not on stderr.

[2020-01-01 07:35] #1991 closed

[2020-01-01 10:44] cgebe commented on #1432
Thanks, removed the etcd node manually!

[code]
[code]

Join thereafter worked as expected!

[2020-01-01 21:28] neolit123 commented on #1918
https://github.com/kubernetes/kubeadm/commit/5e91aed7406f2e9a62e3034a32834c03ecf4ca5e#diff-38f115aa3b3fc261d4510c63088d75a3
did not help much in terms of revealing why the `docker cp` is failing from time to time.
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1211187265594724353/artifacts/task-02-create-cluster-log.txt

[2020-01-01 22:02] neolit123 commented on #1770
i'm going to create a PR for k/website to cross link:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/
to:
https://kubernetes.io/docs/setup/best-practices/certificates/

also link this page:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

from here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#external-ca-mode

[2020-01-01 22:04] neolit123 commented on #1770
@WeAreHadock

this is outlined here:
https://kubernetes.io/docs/setup/best-practices/certificates/#configure-certificates-for-user-accounts

it gives you kubectl commands on how to fill the kubeconfig fields for client-cert/key and CA.

[2020-01-01 22:31] neolit123 commented on #1770
@fabriziopandini
PTAL for LGTM on this docs PR:
https://github.com/kubernetes/website/pull/18397

[2020-01-02 04:37] angkoso opened #1994 "kube flanell crashloopbackoff and kube coredns containercreating status until now"
please help me , when  i installation flanell plugins and coredns, i have problem

 kubectl get pods --all-namespaces
NAMESPACE     NAME                                        READY   STATUS              RESTARTS   AGE
kube-system   coredns-6955765f44-hsp28                    0/1     ContainerCreating   0          67m
kube-system   coredns-6955765f44-shvwc                    0/1     ContainerCreat

[2020-01-02 04:54] neolit123 commented on #1994
please try another CNI plugin like Calico or WeaveNet instead of flannel.

thanks
/close

[2020-01-02 04:54] #1994 closed

[2020-01-02 19:06] neolit123 commented on #1694
a PR for this is here:
https://github.com/kubernetes/website/pull/18424/files

[2020-01-02 21:11] neolit123 commented on #1135
the PR moved to here https://github.com/kubernetes/kubernetes/pull/77820
and it merged May 2019.

closing the issue.
/close

[2020-01-02 21:11] #1135 closed

[2020-01-03 03:00] jenningsloy318 opened #1995 "Add network plugin deploy to phase addons"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

if kubeadm install network plguin as well, then a working kubernetes cluster is there, consider to  integrated with kustomize to achieve this

[2020-01-03 03:27] neolit123 commented on #1995
hi, applying a network plugin is not something that kubeadm has interest to do in a phase.
however, there are plans to support an "addon installer", which users can customize to deploy any plugin they wish.

https://github.com/kubernetes-sigs/addon-operators
https://github.com/kubernetes-sigs/addon-operators/issues/10

/close

[2020-01-03 03:27] #1995 closed

[2020-01-03 03:30] neolit123 commented on #1844
@rajibmitra did you make any progress on this issue?

[2020-01-03 07:11] fabriziopandini commented on #1770
Done. It looks great!

[2020-01-03 07:55] fabriziopandini commented on #1918
@neolit123 I have sent a temporary fixe. Feel free to consider or ignore it

[2020-01-03 08:59] #1766 closed

[2020-01-03 17:45] #1770 closed

[2020-01-05 22:45] neolit123 opened #1998 "upgrades: make etcd backup consistent for single CP and HA"
in our discussion with @fabriziopandini here:
https://github.com/kubernetes/website/pull/18424#pullrequestreview-337991999

we discussed how etcd backup differs depending if the cluster has a single or multiple stacked control-plane nodes.

ideally we want to unify the logic to always backup etcd independent of the number of CP nodes.

guide:

modify https://github.com/kubernetes/kubernetes/blob/m

[2020-01-06 02:15] SataQiu commented on #1998
/assign

[2020-01-06 02:42] SataQiu commented on #1998
Hi @fabriziopandini @neolit123
I found a comment about this, but it was ambiguous. https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/upgrade/apply.go#L223

[2020-01-06 03:07] neolit123 commented on #1998
here are the etcd docs for this:
https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md

here is the openshift guide:
https://docs.openshift.com/container-platform/3.11/admin_guide/assembly_restoring-cluster.html#restoring-etcd-v2-v3-data

it is not exactly clear to me what happens if one rolls back the local data of a single active member in a multi-node active etcd, but i

[2020-01-06 10:29] SataQiu commented on #1844
Hi @rajibmitra  If you don't have time, I am willing to have a try!
/assign

[2020-01-06 14:18] gauravarora commented on #1383
I'm trying to build locally but ran into this issue. Could someone point me to the section which runs CI/CD so I can run as a privileged user.

[2020-01-06 14:58] neolit123 commented on #1383
building should work fine.
`make all WHAT=cmd/kubeadm`

the tests that are not passing are in `/cmd/kubeadm/test` and possibly individual `*_test.go` files in `/cmd/kubeadm/app`

[2020-01-07 03:18] non7top commented on #1931
Sorry for getting into this conversation, but I was just observing the similar behavior when two coredns pods are crammed on single (first) control plane node up until that node is powered off, then pods are migrated after a certain timeout (about 5 minutes I guess), they get more evenly spread after this migration.

What I didn't follow is why coredns is treated differently comparing to other kub

[2020-01-07 04:47] tanjunchen commented on #1949
/cc

[2020-01-07 13:48] rosti commented on #1998
Provided that the etcd cluster is still operational (not too many instances have died) then I do think it's relatively safe to just restore the data dir, rejoin the same cluster with its old metadata and resync its logs.

If the etcd cluster is not operational, then things become a little more complicated. That means we have to have a backup of the last leader data dir, clear the metadata and rebu

[2020-01-07 17:30] pires commented on #1985
Isn't the fix being backported to 1.17?

[2020-01-07 17:34] neolit123 commented on #1985
@pires a separate fix was backported that affected k8s as a whole. this minor adjustment for kubeadm, should not surface as an issue for users.

are you seeing problems?

[2020-01-07 17:34] #1985 closed

[2020-01-07 21:57] timothysc opened #2000 "RFE: Constrained deployment scenarios (Edge)"
## This is a FEATURE REQUEST?
Currently we do not advertise the minimum target environments where we support kubeadm and do testing on.  The purpose of this issue is to:

- advertise the min-target
- setup CI-signal for constrained target
- trace and eliminate bloat in daemons (there is a lot)
- Channel the community back towards k8s proper vs. forks

## Versions
**kubeadm version** (use `kubeadm

[2020-01-08 01:26] BenTheElder commented on #2000
xref: https://github.com/kubernetes-sigs/kind/issues/485

Infrequently I check KIND in docker for mac's minimum settings (~1GB ram .5GB swap, 1 CPU IIRC), we could definitely do better.

One resource that doesn't get much attention (and tbh I don't really expect to but...) for cheap /  underpowered environments is disk I/O ... xref: https://github.com/kubernetes-sigs/kind/issues/845

[2020-01-08 02:40] timothysc commented on #2000
We used to add a lot of caching which is totally un-necessary if you bin-smash etcd into the api-server.

Also init routines are the devil.

[2020-01-08 09:27] rojkov commented on #1535
Submitted https://github.com/kubernetes/kubernetes/pull/86953

[2020-01-08 10:53] pires commented on #1985
Just double-checking.

[2020-01-08 13:27] cheeye commented on #1994
I have the same issue with kubernetes v1.17.

Also, I see tons of messages like below in kube-proxy.. Not sure if it's "normal" when there is no working network cni in the cluster.

[code]

[2020-01-08 14:59] neolit123 commented on #1994
i'm pretty sure Calico 3.x+ also supports s390x.

flannel is not in a good state with latest k8s.
this is something to talk about in the flannel issue tracker.

[2020-01-08 17:21] khenidak commented on #2000
@timothysc there is a use case for a completely stateless clusters. edge clusters that connect to a `command and control` cloud or so to download what needs to be running etc might be a candidate for `bin smashing etcd into api server with no storage at all`

just thinking out loud..

[2020-01-08 18:44] neolit123 commented on #1535
@rojkov
during the kubeadm meeting today we discussed the alternative option to use feature gates instead of adding this as part of the API, but we didn't make a clear decision.

i'm personally in favor of adding this as part of the API, but it means it has to wait until we have enough new features for v1beta3. we might not be able to release v1beta3 because kubeadm is moving out of k/k and that's

[2020-01-08 22:24] neolit123 commented on #1582
/remove-lifecycle stale

[2020-01-08 22:24] neolit123 commented on #1260
/remove-lifeycle stale

[2020-01-08 23:26] fabriziopandini commented on #1535
I'm +1 for a feature gate now with some documentation about the scope of the current implementation (e.g only new clusters, no opt out, yes renewal)

In parallel, a KEP will help in figuring out all the user-stories (e.g opt-in/opt-out, mixed old/new certs)

[2020-01-09 01:35] neolit123 commented on #1981
this is fixed in master and https://github.com/kubernetes/kubernetes/issues/86676 is now closed.

[2020-01-09 01:35] #1981 closed

[2020-01-09 09:21] cheeye commented on #1994
@neolit123 There is no official calico docker images for s390x available although I can manually build them.

One thing I want to confirm that the messages I saw in the kube-proxy pod are expected when there is no cni installed?  Thanks!

[2020-01-09 14:25] neolit123 commented on #1994
@cheeye

you can try asking in the #sig-network channel of k8s slack. they are the owners of kube-proxy.

[2020-01-09 14:34] rojkov commented on #1535
@neolit123 @fabriziopandini Thanks for your fast reply!

I'll rework the PR to have an `init` only feature gate for ECDSA and write a KEP for the rest of possible scenarios (or better the ones I can come up with).

[2020-01-09 14:41] neolit123 commented on #964
no, we are sending a docs update:
https://github.com/kubernetes/website/pull/18428

[2020-01-09 14:45] neolit123 commented on #1535
@rojkov thank you!

[2020-01-10 00:29] polarapfel commented on #1913
Here's a quick fix to folks being thrown off by this behaviour in their automation scripts: redirect stderr to /dev/null (or elsewhere).

For example, if you wanted the join command, you'd do this

`kubeadm token create --print-join-command 2>/dev/null`

[2020-01-10 14:56] chuckha opened #2001 "Race condition with etcd when joining control planes"
## Is this a BUG REPORT or FEATURE REQUEST?

I'm running cluster-api on docker for mac. I've not had this problem until recently when simultaneously running `kubeadm join`. However, this might be my own problem as I am running `--ignore-preflight-errors=all`. I really thought I could join nodes concurrently. Am I wrong in that assumption? Should I revert to joining one node at a time?

Choose one:

[2020-01-10 20:17] neolit123 commented on #2001
it works for some users, not for others.
from my experience and last time i checked, it was flaking 1/5 times with etcd errors.

right now our etcd clients race to join, but if something goes wrong kubeadm does nothing.
this leads me to say the concurrent CP join is flaky for the time being.

our long term fix is tracked here:
https://github.com/kubernetes/kubeadm/issues/1793

/close

[2020-01-10 20:17] #2001 closed

[2020-01-11 20:43] neolit123 commented on #1691
/lifecycle frozen

[2020-01-11 20:45] neolit123 commented on #1295
/lifecycle frozen

[2020-01-11 20:45] neolit123 commented on #1986
xref https://github.com/kubernetes/kubeadm/issues/1295

[2020-01-11 20:46] neolit123 commented on #1295
this is a pending openrc issue: https://github.com/kubernetes/kubeadm/issues/1986

[2020-01-11 20:57] neolit123 commented on #1661
/lifecycle frozen

[2020-01-11 20:57] neolit123 commented on #1681
/lifecycle frozen

[2020-01-12 19:55] neolit123 commented on #1698
/remove-lifecycle stale

[2020-01-13 01:22] cheeye commented on #1994
@neolit123 Thank you!

[2020-01-13 01:44] cuongrep commented on #1958
I had `kubeadm init ...` and join 1 worker node. k8s cluster running is OK
After that, I shutdown my Master Node to move it to a new location, the Master Node IP address change. I try to run `kubeadm reset` on both Master Node and Worker Node, rerun `kubeadm init` and join Worker Node again... Then I try to run `kubectl get pods` but terminal show `Unable to connect to the server: dial tcp <last I

[2020-01-13 02:37] neolit123 commented on #1958
try search for help on the `iptables` linux command.

[2020-01-13 06:13] cuongrep commented on #1958
I have solved the changing master IP address problem. My k8s cluster is running OK

[2020-01-13 09:12] fabriziopandini commented on #1691
@rcythr @neolit123 I apologize for being super late on this thread
The topic is interesting, but as commented above, manging upgrades is far from being trivial.
It is also requires a good chunk of work on the documentation, E2E tests, and a massive communication plan to inform/coordinate all the high-level tool maintainers before the change goes lives.

Considering ^^^, I think this topic definite

[2020-01-13 21:58] #1844 closed

[2020-01-14 03:55] Forest-L opened #2002 "Whether kubeadm init supports ipv6"
Versions:
kubeadm verison: v1.17.0
kubectl version: v1.17.0
OS: Centos 7.7
Kernel: 3.10.0-1062.el7.x86_64

what happened?
kubeadm init --advertiseAddress 2402:e7c0:0:a00:ffff:ffff:***:***

strict.go:54] error unmarshaling configuration schema.GroupVersionKind{Group:"kubeadm.k8s.io", Version:"v1beta2", Kind:"InitConfiguration"}: error unmarshaling JSON: while decoding JSON: json: cannot unmarshal a

[2020-01-14 04:26] neolit123 commented on #2002
[code]

and

[code]

work fine.

/triage support
/close

[2020-01-14 04:26] #2002 closed

[2020-01-14 06:10] Forest-L commented on #2002
Thanks!

[2020-01-14 08:56] Forest-L commented on #2002
K8s:v1.17.0 is ok ; Howerver,not support K8s-v1.15.3?
Version:
kubectl: v1.15.3
kubeadm: v1.15.3

[code]

[2020-01-14 09:33] Forest-L opened #2003 "Whether kubeadm(v1.15.3) init supports ipv6"
Versions:
kubeadm verison: v1.15.3
kubectl version: v1.15.3
OS: Centos 7.7
Kernel: 3.10.0-1062.el7.x86_64

what happened?
[code]
K8sv1.17.0 is ok, However K8sv1.15.3 is failed .

[2020-01-14 10:04] rosti commented on #2003
Yep, it's a problem with the HTTPProxy check itself. You can skip this check in particular to be able to continue forward.

The problem itself was fixed in kubernetes/kubernetes#82267 but that one was never cherry-picked into 1.15.

xref #1769
/priority important-longterm
/kind bug
/assign

[2020-01-14 13:37] neolit123 commented on #2003
if you write `https://[2402:e7c0:0:a00:ffff:****:****:fffb]` (surrounded by `[ ]`) does it work?
square brackets are standard practices for IPv6.

[2020-01-15 02:11] Forest-L commented on #2003
add --ignore-preflight-errors=HTTPProxy is ok, Thanks!

[2020-01-15 21:26] candlerb commented on #708
I don't know if you want a separate FR for this, but I think it would be useful for `kubeadm alpha kubeconfig user` to be able to issue longer-lived certs, since these are outside the scope of k8s automatic certificate rotation.

For example, we have a Jenkins CD setup which uses a cert to authenticate to production k8s cluster.  I would be happier with a long-lived cert than a ticking time bomb.

[2020-01-15 21:45] neolit123 commented on #708
the future of `kubeadm alpha kubeconfig user` is tracked in this ticket;
https://github.com/kubernetes/kubeadm/issues/1381

adding certificate expiration options to kubeadm commands or it's API was discussed multiple times, and the maintainers are not in favor of doing that. it just opens the possibility of bad security practices, as everyone will start adding 10^6 years for cert expiration.

if t

[2020-01-16 09:55] candlerb commented on #1381
The ability to generate additional certificates for non-admin users is extremely helpful, and I don't think can be done by `init phase kubeconfig admin`

For example, there is a pre-defined "view" clusterrole, so you can create read-only users by:

[code]

plus a single clusterrolebinding between group "noc" and clusterrole "view".  This is a simple step up from everyone sharing the admin credenti

[2020-01-16 15:44] neolit123 commented on #1381
there are two options:
- make the phase flexible to support the same
- graduate the alpha kubeconfig command to a top level kubeconfig command

i cannot find where these are documented at k8s.io. do you know where?

the CA is responsible to pick a serial number from its S/N range.
if it ends up picking the same S/N i would consider this a CA issue and not a k8s or a kubeadm issue.

what are the ac

[2020-01-16 16:46] candlerb commented on #1381
The predefined user-facing roles including "view" are documented [here](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles).

It does say "view" is supposed to be used with a namespaced RoleBinding, but I find it works for ClusterRoleBinding too (i.e. across all namespaces).

The issue is: you have an external CA which you use to issue user certs, *and* k8s has its own

[2020-01-16 17:47] neolit123 commented on #1381
i knew there were some default roles, but i didn't know they are documented.
thanks.

can you please state from which paragraph exactly are you reading this from?

external CA mode for kubeadm is documented here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#external-ca-mode

the idea of "external CA" is to not give k8s your `ca.key` (private key), while providing manu

[2020-01-16 18:28] neolit123 opened #2004 "1.17: upgrades from 1.16 are failing"
upgrade from 1.16 to 1.17 is broken:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-16-1-17

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-16-1-17/1217319388030439428/build-log.txt

there are currently discussions that something is broken with the 1.17 tagging.
so maybe that's the cause for that.

this is

[2020-01-16 23:42] neolit123 commented on #2004
also https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-kustomize-1-17

[2020-01-17 00:30] neolit123 commented on #1998
i unblocked https://github.com/kubernetes/kubernetes/pull/86861

[2020-01-17 00:42] #1694 closed

[2020-01-17 05:38] #1998 closed

[2020-01-17 19:13] echu23 opened #2005 "Concurrent CP join race condition for etcd join"
## What keywords did you search in kubeadm issues before filing this one?

etcd join race

I did find #1319 #2001 #1793

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.4-1+d5ee6cddf7e896", GitCommit:"d5ee6cddf7e896fb8556cad24a610df657ecd824", GitTreeState:"c

[2020-01-17 20:29] k0da opened #2006 "kubeadm 1.16.5 reports as v1.16.6-beta.0"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.16.5

**Environment**:
- **Kubernetes version** (use `kubectl version`):
1.16.5
- **Cloud provider or hardware configuration**:
OpenStack
- **OS** (e.g. from /etc/os-release):
CentOS 7.7
- **Kernel** (e.g. `uname -a`):
4.19.75-1.el7.gdc.x86_64
- **Others**:

## What happened?
kubele

[2020-01-17 20:57] echu23 commented on #2005
It's worth noting that the following is speculation:

It's also worth noting that we're not sure what the contract is with etcd for the names of the active peers returned from the MemberAdd call.
I don't think we can perform the 3rd member add before the second member has started and sync'd as the cluster wouldn't have quorum. I'd assume that means it has, by the time the 3rd member is added, upda

[2020-01-17 22:39] neolit123 commented on #2005
thanks for logging the issue.
/kind bug
/priority important-longterm

[2020-01-17 22:41] neolit123 commented on #2006
this is a k8s wide issue and is tracked here:
https://github.com/kubernetes/release/issues/1020

/close

[2020-01-17 22:41] #2006 closed

[2020-01-18 01:21] neolit123 commented on #2004
the issue is with the CI artifacts. when we try to upgrade from e.g. `v1.16.6-beta.0.1+94a082657c9310` to `v1.17.2-beta.0` the `v1.17.2-beta.0` kubelet has version `v1.17.1` instead.

so our check in kinder here:
https://github.com/kubernetes/kubeadm/blob/83de8de3dbb3a3bb40e17d6df3638bec4bf6f28a/kinder/pkg/cluster/manager/actions/waiter.go#L185

tries to match the Node `nodeInfo.kubeletVersion` to

[2020-01-18 12:28] candlerb commented on #1381
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#custom-certificates where it says:

*"If a given certificate and private key pair exists before running kubeadm init, kubeadm does not overwrite them. This means you can, for example, copy an existing CA into /etc/kubernetes/pki/ca.crt and /etc/kubernetes/pki/ca.key, and kubeadm will use this CA for signing the rest of the

[2020-01-18 18:49] fabriziopandini commented on #2005
/assign

@echu23 thanks for the detailed analysis
I don't have a simple way to validate your analysis, but your thesis seems reasonable to me.

I see a possible fix for this by changing the loop on resp.Members:
[code]
With this change we are going to discard any member with empty name and PeerUrl different than the peer URL of the joining node (192.168.0.2:2380 in your example).

If the resulting

[2020-01-18 19:22] neolit123 commented on #2005
can also be:

[code]

from my understanding @fabriziopandini proposal can fix this problem.
it will set one of the names (instead of 2, which is the bug) and then hopefully the other call to `etcdClient.AddMember()` from the 3rd member will sets its name too.

after this change if the code is still flaky for other reasons, we have the option to fully serialize the etcd member add with a lock manag

[2020-01-18 19:29] neolit123 commented on #2005
but something to note about etcd learners is that they are a currently a maximum of 1 and it is not clear when multiple learners will be supported:
https://github.com/etcd-io/etcd/issues/11401

[2020-01-18 19:32] neolit123 commented on #1793
xref https://github.com/kubernetes/kubeadm/issues/2005#issuecomment-575931176

[2020-01-18 19:50] neolit123 commented on #2005
etcdadm is managing this slightly differently:
https://github.com/kubernetes-sigs/etcdadm/blob/master/cmd/join.go#L106-L135

post "add", it obtains the current member and other members from the response.
then appends to the initial cluster based on ID, which seems preferable.

[2020-01-18 20:15] echu23 commented on #2005
Just another quick question to confirm the intention of the code, so from this

[code]

Does it expect that `resp.Members` must **ONLY** have 1 and only 1 member that does not have `Name` (which should have been the currently-being-added member)? Is this a true statement?
Is it even possible to have a `resp.Members` that contains more than 1 Member that do not have `Name`?

I am asking because I a

[2020-01-18 20:28] neolit123 commented on #2005
Is it even possible to have a resp.Members that contains more than 1 Member that do not have Name?

as you pointed out with the discoveries in the OP, it seems like more than one members without name can occur in resp.Members.

might be easier with kinder:
https://github.com/kubernetes/kubeadm/tree/master/kinder

build kinder using go > 1.13 and call:
[code]

this will give you a set of commands.

[2020-01-18 21:12] fabriziopandini commented on #2005
@neolit123 @echu23  if I got this thread right we agree on the proposed change? Can I send the patch  (with the @neolit123 variant)?

[2020-01-18 21:57] echu23 commented on #2005
So the proposed change is to discard the member of the member has no `Name` and `peerURLs` does not match the current one, right? This means that if this issue happens, the `—initial-cluster` in `etcd.yaml` would have only 2 members: the first member and the current member. If this will still configure a valid etcd cluster I’m totally fine with it as long as it fixes the issue and form a health et

[2020-01-18 23:09] neolit123 commented on #2005
@fabriziopandini

the way etcdadm does the matching with member IDs, is overall better:
https://github.com/kubernetes-sigs/etcdadm/blob/master/cmd/join.go#L106-L135

but i don't see when matching `peerAddrs` shouldn't be fine too.

@echu23

yes.

if the 2nd and 3rd members join at the same time, `MemberAdd` on the second CP might return 3 members - 2 of which don't have name (2nd and 3rd).

with t

[2020-01-19 00:48] echu23 commented on #2005
Ok so this

- CP1: etcd-member1
- CP2: etcd-member1, etcd-member2
- CP3: etcd-member1, etcd-member3

Will form a health cluster, right? I’m totally fine with this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-19 01:41] neolit123 commented on #2005
i think it has side effects. i can try simulating this tomorrow.
@fabriziopandini have you experimented with this?

if the initial cluster does not matter, we can always do this in kubeadm:
[code]
yet something is telling me it's not right.

also i would like to bring something from the etcd docs:

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/runtime-configuration.md

i.e. co

[2020-01-19 03:19] echu23 commented on #2005
Yeah, we are aware of that concurrent etcd join is `not recommended`. However, if this issue is legit, this can also happen for sequential join.
Image we are configuring a 3-node etcd cluster, 1st and 2nd were successful, when joining the 3rd, somehow 2nd etcd is `Unstarted`, in this case, should the 3rd join pass or fail?
To make an existing member `unstarted `, we can first shutdown an etcd cont

[2020-01-19 03:43] neolit123 commented on #2005
as the docs say:

so if the 2nd fails the 3rd should not be added.

i think it's valid.

will double check this tomorrow:
https://github.com/kubernetes/kubeadm/issues/2005#issuecomment-575953236

[2020-01-19 21:01] neolit123 commented on #2005
i experimented and observed the following:

joined sequentially two kubeadm CP nodes to an existing CP node, with a modified version of kubeadm.

the modified version simulatet the case of two members not having names:
[code]

it makes it so that CP3 only includes the 1st and 3rd member.
but the etcd Pod on CP3 fails with the following:

[code]

so it has to include all members:
[code]

i tried in

[2020-01-19 21:01] neolit123 commented on #2005
i experimented and observed the following:

joined sequentially two kubeadm CP nodes to an existing CP node, with a modified version of kubeadm.

the modified version simulatet the case of two members not having names:
[code]

it makes it so that CP3 only includes the 1st and 3rd member.
but the etcd Pod on CP3 fails with the following:

[code]

so it has to include all members:
[code]

i tried in

[2020-01-19 21:12] neolit123 commented on #2005
the following patch makes the 4 member concurrent join more reliable:

[code]

[2020-01-19 21:38] echu23 commented on #2005
Yes, this proposal was what we had thought of as well that there only need to be 3 unique Name. We are ok with this change if no regression is introduced. Thanks for the quick turnaround.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-01-20 09:49] rosti commented on #2003
The field in the config requires an address, not an URL.

[2020-01-20 12:33] NeilW opened #2007 "kubeadm 1.15.8 Ubuntu package installs 1.15.9-beta.0"
BUG REPORT

[code]

[code]

[2020-01-20 12:36] anapsix commented on #581
**Note about tokens in K8s `1.13.x`**
If you've ended up re-generating your CA certificate (`/etc/kubernetes/pki/ca.crt`), your tokens (see `kubectl -n kube-system get secret | grep token`) might have old CA, and will have to be regenerated. Troubled tokens included `kube-proxy-token`, `coredns-token` in my case (and others), which caused cluster-critical services to unable to authenticate with K8

[2020-01-20 14:43] neolit123 commented on #2007
/close
this is a k8s wide problem, please watch:
https://github.com/kubernetes/release/issues/1020

[2020-01-20 14:43] #2007 closed

[2020-01-20 14:48] fabriziopandini commented on #2005
@neolit123 I'm ok as well, but If possible I would apply the random name only if the name is empty (so the created manifest remain unchanged for all the cases except the race condition discussed in this thread)

[2020-01-20 16:11] neolit123 commented on #1599
kind is already PR blocking, but this is unlikely to happen for kinder jobs for k/k.
once kubeadm moves k/kubeadm will have them here though.

i will mark this item as resolved with a comment.

kinder jobs are not release blocking yet.
they are pretty stable and well maintained at this point. we are resolving issues as fast as we can.

[2020-01-20 16:12] neolit123 commented on #1599
/remove-lifecycle stale

[2020-01-20 16:17] IAXES commented on #1826
Good day,

When the static pods are brought down in this manner (i.e. to rotate the certs), does it necessarily take out other pods, deployments, services, etc.; in the rest of the cluster, assuming a single-master-multi-node cluster (i.e. does it terminate and drain **all** running K8S pods), or does the cluster just keep churning along until the static pods come back up on the master (provided h

[2020-01-20 16:20] IAXES commented on #1826
@neolit123

Good day,

When the static pods are brought down in this manner (i.e. to rotate the certs), does it necessarily take out other pods, deployments, services, etc.; in the rest of the cluster, assuming a single-master-multi-node cluster (i.e. does it terminate and drain **all** running K8S pods), or does the cluster just keep churning along until the static pods come back up on the master

[2020-01-20 17:02] neolit123 commented on #1826
restarting the control-plane components static pods should not affect the rest of the pods and services in the cluster, but there could be some minimal downtime, until the control-plane is fully restarted.

that is why it is recommended to do upgrade and/or do certificate rotation during a maintenance window.

our certificate rotation documentation is here:
https://kubernetes.io/docs/tasks/adminis

[2020-01-20 18:48] neolit123 commented on #1950
going back to this issue and the PR https://github.com/kubernetes/kubernetes/pull/86150
i would much rather have a WARNING in the "kubeadm upgrade" docs that explain how to use etcdctl to update a member that came from 1.12.

otherwise we have to backport the PR to all branches in the current support skew 1.15, 1.16, 1.17.
and we cannot backport to versions older than that because they are out of

[2020-01-20 18:48] neolit123 commented on #1950
/kind documentation

[2020-01-20 18:52] neolit123 commented on #2004
resolved as CI artifacts have the versions matching.

[2020-01-20 18:52] #2004 closed

[2020-01-20 20:09] neolit123 commented on #2005
@fabriziopandini
this seems reasonable, given the potential rarity of the case, even if the "ID-names for all other members" is more deterministic.

it's unfortunate that given the nature of etcd bootstrap our etcd.yaml is overall non-deterministic WRT the `--initial-cluster` flag.

[2020-01-20 22:32] neolit123 commented on #1955
getting back to this.

it's the responsibility of the operator to prepare the right infrastructure and guarantee connectivity in the cluster.

as can be seen in the discussion in https://github.com/kubernetes/kubeadm/issues/338 changing the master IP is not so simple and can cause a number issues including such in Services and Pod network plugins. it can disrupt workloads, controllers and the clus

[2020-01-20 22:32] #1955 closed

[2020-01-20 22:38] neolit123 commented on #1902
the two linked PRs seem to cover the list in the OP.
please re-open if needed.
/close

[2020-01-20 22:38] #1902 closed

[2020-01-20 22:38] neolit123 commented on #1915
/assign

[2020-01-20 22:49] neolit123 commented on #279
i'm going to close this ticket and here is my rationale, explained with bullet points:

- Linux has multiple security models AppArmor, Seccomp, SELinux and more might spawn in the future
- documenting security options are the responsibility of SIG Auth, this is already done here:
https://kubernetes.io/docs/tasks/configure-pod-container/security-context
https://kubernetes.io/docs/tasks/configure-po

[2020-01-20 22:49] #279 closed

[2020-01-20 22:59] neolit123 commented on #683
in 2019 the topic of CIS compliance was brought in the kubeadm office hours discussing some technical aspects, proposing changes to the benchmark itself. we are not aware if any changes were made in kube-bench since then.

in 2019 during a steering committee meeting, there was a discussion whether CIS is officially approved as a k8s-wide method of security benchmark. the present members at the tim

[2020-01-20 22:59] #683 closed

[2020-01-20 23:01] neolit123 commented on #1649
moving to "Next" milestone and adding "help-wanted". if contributors want to help in this area please make a comment and we can instruct you how to send a PR to kubernetes/website.

instructions on running kube-bench are here:
https://github.com/aquasecurity/kube-bench

[2020-01-20 23:04] neolit123 commented on #949
work has started here https://github.com/kubernetes/kubernetes/issues/86843
so we might have to address this soon.

or at the areas of kubeadm that are affected.

[2020-01-20 23:09] neolit123 commented on #1260
i'm going to close this at this point.
as can be seen in our per-cycle punch card and related PRs things are much simpler:
https://github.com/kubernetes/kubeadm/issues/1963
https://github.com/kubernetes/kubernetes/pull/83312/files

when kubeadm moves to k/kubeadm we can thing of automating the population of version "constants", which may or may not be desired.

[2020-01-20 23:09] #1260 closed

[2020-01-20 23:11] neolit123 commented on #1835
the work in on hold for 1.18
https://github.com/kubernetes/enhancements/issues/1314#issuecomment-575805238
moving to 1.19

[2020-01-20 23:13] neolit123 commented on #964
https://github.com/kubernetes/website/pull/18428
merged.

closing.

[2020-01-20 23:13] #964 closed

[2020-01-20 23:20] neolit123 commented on #1286
commenting on @NicolasT 's explanation:

kubeadm already exposing the cluster CA in the cluster-info ConfigMap.

@fabriziopandini

yes, if the controller graduates to be part of the defaults kubeadm will get it for free.

the `BoundServiceAccountTokenVolume` feature is still in alpha:
https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/

/close

[2020-01-20 23:20] #1286 closed

[2020-01-20 23:54] neolit123 commented on #1601
marking as `api-change`, because of the `map[string]string` binding in the API.

[2020-01-20 23:57] Forest-L commented on #2003
OK，kubeadm.yaml include an address.

[2020-01-21 00:00] neolit123 commented on #1829
unassigned folks until we get an agreement about the direction here.
maybe this is worth of kubeadm office hours discussion (e.g. next week - 29th Jan)

[2020-01-21 00:05] neolit123 commented on #1884
/close
due to no response.

[2020-01-21 00:05] #1884 closed

[2020-01-21 00:06] neolit123 commented on #1931
/retitle redesign the CoreDNS Pod Deployment in kubeadm

[2020-01-21 00:08] neolit123 commented on #1932
@jfbai this is what we are looking for - a good approach of solving the problem.

ideally, let's get a proposal going before assigning folks.

[2020-01-21 14:03] vmf commented on #1031
That just did it!

[2020-01-22 16:10] ereslibre commented on #1606
In the meantime, I'll give this one a go.

/assign

[2020-01-22 18:15] neolit123 commented on #2003
we decided to not apply the fix for 1.15 because it does not fit our backport criteria:
https://github.com/kubernetes/kubernetes/pull/82267

1.15 will be out of support in a couple of months when 1.18 is released.

@Forest-L

yes, this is a valid workaround.

/close

[2020-01-22 18:15] #2003 closed

[2020-01-22 18:22] rajibul007 commented on #338
@valerius257 I followed your step but getting below issue

root@ubuntu:/etc/kubernetes/pki# kubeadm init --ignore-preflight-errors=DirAvailable--var-lib-etcd
W0122 10:15:34.819150  102032 version.go:101] could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable-1.txt": Get https://dl.k8s.io/release/stable-1.txt: dial tcp: lookup dl.k8s.io on 127.0.

[2020-01-22 21:32] BenTheElder opened #2008 "kubeadm join should support kubelet component config"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: ~BUG REPORT or~ FEATURE REQUEST

As far as I can tell `KubeletConfiguration` while advertised in the kubeadm config docs is not respected during `kubeadm join --config`, which means we must instead configure kubelet via flags in kubeadm's JoinConfiguration.NodeRegistration.KubeletExtraArgs. This is less than ideal because kubelet flags are o

[2020-01-22 22:46] neolit123 commented on #2008
duplicate of https://github.com/kubernetes/kubeadm/issues/1682

[2020-01-22 22:46] #2008 closed

[2020-01-22 22:57] BenTheElder commented on #2008
thanks! I didn't find that one searching, sorry about that!

[2020-01-22 23:01] BenTheElder commented on #1682
Without this you can customize kubelet per node but it requires using flags which is problematic given that many are deprecated.

[2020-01-23 20:56] neolit123 commented on #1918
this is also failing for `node-settings`:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1220199959664529410/build-log.txt

[code]

[2020-01-24 00:18] neolit123 commented on #2005
/lifecycle active

PR is here https://github.com/kubernetes/kubernetes/pull/87505

[2020-01-24 02:19] neolit123 commented on #1943
sent notification to k-dev:
https://groups.google.com/d/msg/kubernetes-dev/m8suvuNBtcU/BglNo6tUAAAJ

LGTM/approved the PR:
https://github.com/kubernetes/kubernetes/pull/86574

[2020-01-24 02:23] neolit123 commented on #1931
xref https://github.com/kubernetes/kubeadm/issues/1954

[2020-01-24 09:44] sftim commented on #1943
As soon as this becomes deprecated, documentation that mentions the _application_ called `kube-dns` should change to make that detail clear. AIUI `kube-dns` the application will remain even past the deprecation of kube-dns the addon.

IMO: it's enough to open an issue in [k/website](https://github.com/kubernetes/website) and leave the actual rewording and localization and localization to SIG Docs.

[2020-01-25 01:48] BenTheElder commented on #1943
that may still be confusing for other reasons

$ kubectl cluster-info
Kubernetes master is running at https://127.0.0.1:32832
KubeDNS is running at
https://127.0.0.1:32832/api/v1/namespaces/kube-system/services/kube-dns:dns/proxy

To further debug and diagnose cluster problems, use 'kubectl cluster-info
dump'.

On Fri, Jan 24, 2020 at 1:44 AM Tim Bannister <notifications@github.com>
wrote:

[2020-01-25 01:48] BenTheElder commented on #1943
The service is named "kube-dns" and changing that would probably break
various things ...

On Fri, Jan 24, 2020 at 5:47 PM Benjamin Elder <bentheelder@google.com>
wrote:

[2020-01-25 01:58] neolit123 commented on #1943
originally SIG Network wanted to add the CoreDNS service as `kube-dns` to provide a smoother transition. https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#introduction

various things

true.

[2020-01-25 04:48] myhro commented on #312
In case the link isn't available in the future, it was a matter of enabling [the bridge-netfilter][1] with:

    modprobe br_netfilter

[1]: https://ebtables.netfilter.org/documentation/bridge-nf.html

[2020-01-26 14:35] fabriziopandini commented on #1682
Rif https://github.com/kubernetes/enhancements/pull/1439

[2020-01-26 14:37] fabriziopandini commented on #1918
:sob:
I will try to add more logging to help identifying the root of this problem

[2020-01-26 14:43] fabriziopandini commented on #1943
+1 for adding a core DNS service + deprecate the kube-DNS one, but this is really up to SIG-network

[2020-01-26 16:51] #2005 closed

[2020-01-28 10:58] bwail commented on #1031
I had a similar case where I was creating the network plugin before linking the workers, which kept the /etc/cni/net.d missing.
I re-executed the configuration after linking the worker nodes using:
`kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml`
As a result, the configuration in /etc/cni/net.d was created successfully and the node showed in

[2020-01-28 18:07] neolit123 commented on #1862
/remove-lifecycle stale

[2020-01-29 17:18] stealthybox commented on #1535
Thanks for working on this.

What's the rough order of operations to manually move a cluster from RSA to ECDSA.

I can guess that there are dependencies on certain flags in components and the communication between those components.  (kube-apiserver / kubelet / etcd / ....)

Is downtime required in some or all upgrade techniques? (multiple controlplane nodes?)

If we can document this with the gate

[2020-01-29 23:21] neolit123 commented on #1915
/lifecycle active

[2020-01-30 01:50] choryuidentify commented on #1978
It's a filesystem problem. [check this issue.](https://github.com/kubernetes/kubernetes/issues/86961)

[2020-01-30 10:37] rojkov commented on #1535
@stealthybox It's safe to have keys of different types in a single certificate bundle or chain. I don't expect problems if to add the ECDSA feature gate to `ClusterConfiguration` of an existing cluster and then renew the keys. But it makes sense to test first :)

[2020-01-30 17:20] cbharris opened #2009 "why is podSubnet in the config? It doesn't do anything."
I'm on Ubuntu 18.04 with the latest everything. I'm trying to get a pod network installed and it fails in maddening ways. If I try using Calico  and put podSubnet: "192.168.0.0/16" in my config, it completely ignores this value and will assign whatever it chooses when I run kubeadm init. I find that "kubectl -n kube-system get nodes" will give me this value it chose and it will ignore whatever I p

[2020-01-30 18:14] neolit123 commented on #2009
/triage support

this seems like a problem in your setup. podSubnet does work which is confirmed by our e2e tests, which happen to also use Calico.

- can you share your kubeadm config file and `kubeadm init` output?
- what are your kubeadm version and kubernetes version?

did you try different CNI plugins before calico?
try deleting `/etc/cni/net.d/`, which can contain residual configuration from

[2020-01-30 18:25] nisc-acooper opened #2010 "Clarification on version sync between installed cluster and kubeadm"
I attempted to find answers to this in the documentation and other issues but felt it was unclear.

Is the recommended practice to keep kubeadm up to date even though a cluster it maintains is older?  Example:  cluster installed at 1.13.10,  is it safe to install kubeadm 1.17 and use it to stair step through the upgrade path, or should we maintain kubeadm 1.13, upgrade to kubeadm 1.14, and then up

[2020-01-30 18:27] cbharris commented on #2009
Thanks for the reply. It may be a issue with my setup as you say, but the behavior does seem exactly like what I describe. Also yes, I tried flannel (failed with endless crashloopbackoff or just sat in pending forever, switched to calico for this reason). I'm on AWS and using new nodes each time, so there isn't an issue with residual anything, every boot is 100% clean. Here is my kubeadm.config:

[2020-01-30 19:31] neolit123 commented on #2009
please note that the kubeadm maintainers do not give support cloud provider setups, so you are on your own in terms of issues with the `--cloud-provider=aws` flag specifically, passed to the different components. if you find a bug related to that you must log a kubernetes/kubernetes repository issue.

the kubeadm output says that your are using 1.17.2?

my recommendation is to download kubeadm and

[2020-01-30 19:31] #2009 closed

[2020-01-30 19:43] neolit123 commented on #2010
this is covered in the kubeadm documentation for upgrades. here:

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

kubeadm version 1.y can deploy kubernetes version 1.y.* and 1.y-1.* but not older than y-1 or newer than y. if you force some preflight checks you might get it to deploy or upgrade older or newer versions, but if you see failures please note that anything

[2020-01-30 19:43] #2010 closed

[2020-01-31 05:45] RA489 commented on #1953
@dnmgns I was trying to reproduce your issue and got kubeadm init successfully executed.

[code]

[2020-01-31 06:15] prksu commented on #1793
/cc

[2020-01-31 11:37] RA489 commented on #1953
@dnmgns Is there any missing step, or any additional configuration that needs to be done apart from above, kindly let me know

[2020-01-31 22:06] stealthybox commented on #1682
^ the NodeGroup ConfigMap thing makes sense for persistent configurations.
We would need a way to specify a map of NodeGroups to KubeletConfigurations when doing `kubeadm init --config <>`

I don't think that lack of persistent config should prevent people from overriding the kubelet config at the local level on Join/Upgrade.

If a user can distribute a JoinConfiguration to every node, they can ma

[2020-02-01 11:19] fabriziopandini commented on #1915
Thanks @neolit123 for driving this effort!

[2020-02-01 11:35] #1711 closed

[2020-02-01 12:02] fabriziopandini commented on #1682
I'm -1 to the --config options because it makes complicated all the automation around join/upgrades.
it also (re)opens up a can of worms wrt to "change the cluster" for upgrades.
IMO
- we should avoid to require users to move files around nodes
- ideally, we should promote solutions driving users toward standardisation of nodes, like t-shirt sizes for nodes
- upgrade node should have no parameters

[2020-02-03 07:35] itsecforu opened #2012 "Problems with Kubernetes new workers nodes"
I added node to my cluster via kubeadm join

All seems ok!

I see this node on my dashboard and healtz seems OK.

But if i start to deploy something i get error like whis one:

``Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox container "1229e227176dfefd55c0728b10045bff158d99430843aca44c8957c2850127f2" network for pod "mobsf-76dd9dc786-zjjlx": NetworkPlugin cni

[2020-02-03 08:24] dnmgns commented on #1953
@RA489 - The issue is not that kubeadm init doesn't get successfully executed. There's no additional configuration that needs to be done apart from above.

It seems that you were able to reproduce the issue.

In the output from your `kubeadm init` command - please notice that there's a lack of any output from kustomize (`[kustomize]`). The issue here is that kustomize doesn't seem to be running du

[2020-02-03 08:27] dnmgns commented on #1953
The same issue, put in other words, is that:
`kubectl kustomize /tmp/kubeadm-patches/` applies the patches from that path and produces the output:
`[kustomize] Applying 1 patches to /v1, Kind=Pod Resource=kube-system/kube-apiserver`

`kubeadm init --experimental-kustomize /tmp/kubeadm-patches/` does NOT apply the patches from that path and doesn't produce any `[kustomize]` output - is it even runn

[2020-02-03 11:52] shortsteps commented on #581
Hi @kcronin, how did you solved with multi-master config? I don't know how to proceed with --apiserver-advertise-address <IP> as I have 3 IPs and not only one.

Thanks

[2020-02-03 14:21] LucaLanziani commented on #1842
Hello, reading the conversation and assuming this is the PR you are talking about in alpha certs: https://github.com/kubernetes/kubernetes/pull/85091
I would like to give this issue a try if it's not a problem.

[2020-02-03 15:38] neolit123 commented on #1842
@LucaLanziani  hi, please go ahead.

yes, it seems related to the conversation.

[2020-02-03 16:26] neolit123 commented on #2012
/triage support
/close

hi, this doesn't seem like a kubeadm issue.
try asking on stack overflow or the #kubernetes-users slack channel for further help and ideas.

this seems like a host connectivity issue. worker 3 must be able to connect to 10.233.0.1.
make sure that all your nodes have connectivity to the API server.

[2020-02-03 16:26] #2012 closed

[2020-02-03 17:50] LucaLanziani commented on #1842
/assign

[2020-02-03 18:43] krisdock opened #2013 "kubeadm reset no longer prints iptables commands"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.17.2
**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.17.2
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
`kubeadm reset` used

[2020-02-03 18:57] boluisa commented on #2013
this is very useful command.  not cleaning up iptables has been  a common cause of cluster issues for a lot of users.

[2020-02-03 20:10] neolit123 commented on #2013
hi, we found that users can end up playing with the command without much experience with iptables rules and causing deletion of unwanted items!

therefore we removed the command from the output, see:
https://github.com/kubernetes/kubernetes/commit/0d732009cc75f8333ad131f58dbcd6535c11ca3a#diff-681222fdc03e967cc65bfb7ac01b30c9

i'm going to have to close https://github.com/kubernetes/kubernetes/pull

[2020-02-03 20:12] #2013 closed

[2020-02-04 09:59] manishalankala commented on #749
![image](https://user-images.githubusercontent.com/33985509/73734122-6ddd0580-473d-11ea-95d0-ec95fbf2a480.png)

[2020-02-04 10:23] manishalankala opened #2014 "kubeadm,kubelet service fails Docker in Docker"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-02-04 14:51] neolit123 commented on #2014
/close
/triage support

hello, this is not a kubeadm bug, per se.
also i doubt the kubeadm maintainers  will have the time to experiment and help you with the debug.

kubeadm and kublet do work in DinD setups and the tool "kind" is a proof for that.
in fact i think you should use it:

https://github.com/kubernetes-sigs/kind

if you don't want to use the full tool, you can use the images it creates

[2020-02-04 14:51] #2014 closed

[2020-02-04 21:47] Random-Liu commented on #1796
Can we make pause image repository and tag configurable?

People may build and use a different pause image. :)

Here is an example PR: https://github.com/kubernetes/kubernetes/pull/87827

[2020-02-05 16:47] rajibul007 opened #2015 "replace all kubernetes certificates including ca after that could see kubectl logs and exec is not working"
**kubeadm version** (use `kubeadm version`):
1.15.4 and 1.16
**Environment**: : kubeadm onenode cluster barematel
- **Kubernetes version** (use `kubectl version`): 1.15.4
- **Cloud provider or hardware configuration**:kubeadm onenode cluster barematel ,ubuntu 18.04
- **OS** (e.g. from /etc/os-release):ubuntu 18.04

## What happened?
for a security reason I need to replace all certificate including

[2020-02-05 17:01] rajibul007 opened #2016 "kubeadm master ip change without reseting the cluster (by changing all certificate including ca )"
I have followed below ,but problem is it is using same certificate,kindly help me to to the same task by replacing all certificate(including ca)

systemctl stop kubelet docker
cd /etc/
mv kubernetes kubernetes-backup
mv /var/lib/kubelet /var/lib/kubelet-backup
mkdir -p kubernetes
cp -r kubernetes-backup/pki kubernetes
rm kubernetes/pki/{apiserver.*,etcd/peer.*}
rm -rf /root/.kube

change ip

syste

[2020-02-05 17:18] rajibul007 commented on #2015
root@ubuntu:/kubernetes/yamls# kubectl logs  kube-apiserver-ubuntu -n kube-system
Error from server (InternalError): Internal error occurred: Authorization error (user=kube-apiserver-kubelet-client, verb=get, resource=nodes, subresource=proxy)

[2020-02-05 17:20] rajibul007 commented on #2015
apiserver log from docker logs:
 0, AdditionalErrorMsg:
E0205 17:16:57.867904       1 authentication.go:89] Unable to authenticate the request due to an error: [x509: certificate signed by unknown authority, x509: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernetes")]
E0205 17:16:57.870617

[2020-02-05 17:21] rajibul007 commented on #2015
kubelet logs:
root@ubuntu:/kubernetes/yamls# journalctl -u kubelet -n 50
-- Logs begin at Fri 2019-11-29 03:46:43 PST, end at Wed 2020-02-05 09:21:06 PST. --
Feb 05 09:21:03 ubuntu kubelet[41998]: E0205 09:21:03.316647   41998 kubelet.go:2267] node "ubuntu" not found
Feb 05 09:21:03 ubuntu kubelet[41998]: E0205 09:21:03.417324   41998 kubelet.go:2267] node "ubuntu" not found
Feb 05 09:21:03 ubuntu

[2020-02-05 17:26] rajibul007 commented on #2015
from above log seem like kubelet authentication issue so I deleted /var/lib/kubelet/pki/kubelet-client-current.pem to recreate again ,,,but
after that all pod (weave ,coredns ) are not coming up

kube-system   coredns-5644d7b6d9-4z5kn              0/1     Completed          0          57d
kube-system   coredns-5644d7b6d9-wnjhg              0/1     Completed          0          57d
kube-system   et

[2020-02-05 17:30] rajibul007 commented on #2016
after that If I tried to change all cert by doing this https://github.com/kubernetes/kubeadm/issues/2015
..its failing

[2020-02-05 17:53] stealthybox opened #2017 "Certify kubeadm v1.17 and v1.18 as a Conformant Kubernetes deployment"
I attempted to do this when v1.17.0 released -- I recall I ran into ~3 test failures which surprised me.
I forgot about chasing these conformance failures through the holidays.

Last night, I ran the sonobuoy 0.17.2 suite on a v1.17.0-00 ubuntu vagrant cluster as normal and ran into 12 test failures.
I joined our [Feb5 kubeadm call](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDw

[2020-02-05 18:04] BenTheElder commented on #2017
I've actually neglected submitting for a bit, but we have continuous CI results you can inspect.

[2020-02-05 18:11] neolit123 commented on #2017
and the same happens for kubeadm using kinder, we have periodics jobs that test conformance, but not using sonobuoy.
maybe we can submit for 1.18.

in terms of the errors above, i don't see us even running some of these. wondering why that may be.

e.g.

some of those are green in kinder runs though - e.g. "[sig-network] DNS should provide DNS for pods for Hostname":
https://k8s-testgrid.appspot.c

[2020-02-05 18:15] neolit123 opened #2018 "remove bash examples/comments from the v1beta1 and v1beta2 APIs"
similar to this PR:
https://github.com/kubernetes/kubernetes/pull/84406/files

except we want to remove the example lines instead of modifying the bash.

/help
/good-first-issue
/kind documentation
/kind api-change

[2020-02-05 18:43] neolit123 commented on #2016
this is not supported by kubeadm and the kubeadm team. it's a core kubernetes problem!

there are some proposals here:
https://github.com/kubernetes/kubeadm/issues/338
but some of them can fail depending on your wokloads.

a cluster should be created with a DNS name (or hostname in /etc/hosts). using an IP is a security contract and changing it is very complicated!!

[2020-02-05 18:43] #2016 closed

[2020-02-05 18:43] neolit123 commented on #2016
/triage support

[2020-02-05 18:47] neolit123 commented on #2015
kubeadm does not support CA rotation. it's a complicated process and that is why the CA is signed for 10 years. IMO an even more difficult aspect is updating the service account (sa.*) files.

we have tentative support for that in the future using the kubeadm operator:
https://github.com/kubernetes/kubeadm/issues/1698
but the timeline is unclear.

you seem to be trying to change your master IP, i'

[2020-02-05 18:47] #2015 closed

[2020-02-05 18:47] neolit123 commented on #2015
/triage support

[2020-02-06 05:36] RA489 commented on #2018
/assign

[2020-02-06 06:13] rajibul007 commented on #2016
@neolit123 could you help me how to create kubeadm init with only  fqdn/DNS name so if we dont have to worry to change ip later

 kubeadm init  --apiserver-advertise-address ubuntu --apiserver-cert-extra-sans ubuntu --node-name ubuntu
couldn't use "ubuntu" as "apiserver-advertise-address", must be ipv4 or ipv6 address

So I did
kubeadm init  --apiserver-advertise-address 127.0.0.1  --apiserver-cer

[2020-02-06 07:16] neolit123 commented on #2016
please see the notes about `--control-plane-endpoint` in our docs:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#initializing-your-control-plane-node

it supports DNS names and can be used instead of `--apiserver-advertise-address `

[2020-02-06 10:37] rosti opened #2020 "Configurable sandbox (pause) image"
_Originally posted by @Random-Liu in https://github.com/kubernetes/kubeadm/issues/1796#issuecomment-582131226_
[code]

Example PR by @Random-Liu kubernetes/kubernetes#87827

Moving the discussion here for the sake of keeping the v1beta3 issue relatively clean and on track.

/kind api-change
/area ecosystem
/assign

[2020-02-06 11:52] rosti commented on #2020
According to the kubeadm charter, we expect that users have configured their container runtimes properly to be able to be used in a Kubernetes cluster. As such, kubeadm refrains from having to start, stop, configure or in any way try to change the configuration and state of the container runtime itself.
However, there is one notable exception to this and that is Docker itself. That was caused by i

[2020-02-06 13:36] rajibul007 commented on #2016
@neolit123 thanks for you suggestion its works like a charm
after kubeadm init with --control-plane-endpoint ubuntu , I was able to run kubectl command after changing IP  ,but after restarting machine or if we just restart docker to restart all conatiner
kubectl is not able to authenticate with api server
---
 ping -c 2 ubuntu
PING ubuntu (192.168.120.133) 56(84) bytes of data.
64 bytes from ubunt

[2020-02-06 13:38] rosti commented on #2020
/cc @neolit123 @fabriziopandini @ereslibre @timothysc

[2020-02-06 13:45] rajibul007 commented on #2016
@neolit123 please help

[2020-02-06 14:56] rosti opened #2021 ""upgrade node": deprecate and delete --kubelet-version command line option"
The `--kubelet-version` parameter exists in `kubeadm upgrade node` for primarily historic reasons. However, supporting it becomes more and more cumbersome. In addition to that, it bypasses the kubeadm component configs machinery, thus it may produce unexpected results (such as patching with kubeadm defaults, validation, etc.)

This option is part of a GA command line interface. Hence, the [GA comm

[2020-02-06 15:48] rosti opened #2022 "Remove kubeadm alpha kubelet config download"
The ```kubeadm alpha kubelet config download``` is an old alpha grade command line interface. I don't think, that it's in use by somebody, but even if it is ```kubeadm upgrade node phase kubelet-config``` is in GA and does the same thing.
Moreover these commands share only a tiny amount of code between them. Hence, ```kubeadm alpha kubelet config download``` is an ideal candidate for cleanup. It's

[2020-02-06 16:28] rosti commented on #1796
@Random-Liu thanks for the suggestion!
I moved the discussion to #2020 . Let's continue there on that topic.

[2020-02-06 18:21] neolit123 commented on #2021
+1

[2020-02-06 18:22] neolit123 commented on #2022
+1

[2020-02-06 18:42] neolit123 commented on #2016
after kubeadm init with --control-plane-endpoint ubuntu , I was able to run kubectl command after changing IP ,but after restarting machine or if we just restart docker to restart all conatiner
kubectl is not able to authenticate with api server

i don't have an explanation of why this is happening.

[2020-02-07 01:29] SataQiu commented on #2021
+1 Maybe I can help with this.

[2020-02-07 01:37] SataQiu commented on #2022
+1 Maybe I can help with this.

[2020-02-07 09:15] rosti commented on #2022
Thanks @SataQiu ! That would be great!

[2020-02-07 09:16] rosti commented on #2021
Thanks @SataQiu ! At the moment we need a PR about marking the command line option as deprecated.

[2020-02-07 21:20] stealthybox commented on #2017
I'm going to run another two tests concurrently and see if they fail on v1.17.0

[2020-02-07 21:38] renukamanavalan opened #2023 "Running kubeadm in container w/o systemd"
BUG REPORT:
kubadm install page says that it supports kubeadm install in a container.
I managed to install kubeadm, kubelet & kubectl.
My goal: Run Kubernetes Control plane in this container with external nodes to manage

Now "kubeadm init" fails because kubelet is not running. Manually starting kubelet fails too. Pasted spew from kubelet and as well kubeadm below.

Any tips to progress would be v

[2020-02-07 21:54] neolit123 commented on #1665
/lifecycle frozen

[2020-02-07 21:54] neolit123 commented on #1350
/lifecycle frozen

[2020-02-07 21:55] neolit123 commented on #1367
/lifecycle frozen

[2020-02-07 21:55] neolit123 commented on #1602
/lifecycle frozen

[2020-02-07 21:57] neolit123 commented on #1672
i'm going to close this issue. with CoreDNS moving outside of kubeadm in the future as an addon for an addon installer maybe it can be added there. from my tests above it seemed that PDB can be a bit problematic.

[2020-02-07 21:57] #1672 closed

[2020-02-07 22:10] neolit123 commented on #2023
can you please point me to the section of the docs where this is mentioned?
by "install in a container" does that mean the kubelet and kubeadm as binaries are run inside of the container?

this is more of a kubelet issue.

- kubeadm needs a kubelet that is running using systemd, so you need to solve this part first. make sure systemd can manage the kubelet properly.
- once you have a running kubel

[2020-02-08 02:08] zhangxingdeppon opened #2024 "config kubeadm kubelet client&server certificate auto rotation configuration did not succeed"
## Is this a BUG REPORT or FEATURE REQUEST?

 FEATURE REQUEST

**What happened**:
hi, buddy, I met a problem, when I operated kubeadm's kubelet client &server certificate rotation configuration,  but it did not succeed, can you give me some ideas? it is very important to me, thanks very much.
for details, see below:
here is  the current kubelet's certificate :
<pre><code>
[root@k8s-master ~]# cd /

[2020-02-08 02:12] zhangxingdeppon commented on #2024
@neolit123 hi,  could you give me some ideas? thank you very much.

[2020-02-08 02:35] neolit123 commented on #2024
hi,

Server Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-13T10:31:33Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64"}

1.13 is out of support. you should move to 1.16 as soon as possible, because 1.15 will be out of support with the release of 1.18 (late March 2020).

[2020-02-08 02:35] #2024 closed

[2020-02-08 03:35] SataQiu commented on #2021
OK! I'll send a PR for this soon.

[2020-02-08 03:36] zhangxingdeppon commented on #2024
@neolit123  yes, you're right, I also want to move to 1.16, but the kubeadm have been used in our production enviroment and provided some service to other group now, so it will continue work in a period of time before we have a new cluster, I need to resolve it.
through your information,  I added `ServerTLSBootstrap: true` , the client auto rotation operation is okay now, but the server auto rotat

[2020-02-08 03:52] neolit123 commented on #2024
i'm not sure what exactly is missing.

basically for the serving cert CSR you should see something like:
[code]
maybe test with a new cluster?

also try reading this tutorial in detail (it's in Chinese):

https://webcache.googleusercontent.com/search?q=cache:aux7TxFGVzAJ:https://github.com/opsnull/follow-me-install-kubernetes-cluster/blob/master/07-2.kubelet.md+&cd=4&hl=bg&ct=clnk&gl=bg

especiall

[2020-02-08 05:58] zhangxingdeppon commented on #2024
@neolit123 I can't open the above link, can you email for me? my email id is 793547201@qq.com, In addition,I find an wonderful event about server cert, when I deleted t  `kubelet.key`  and `kubelet.crt`,  the kubelet will be renew the cert,  also just 1 year. but controller-manager have set `- --experimental-cluster-signing-duration=87600h0m0s  --feature-gates=RotateKubeletServerCertificate=true`.

[2020-02-08 06:11] neolit123 commented on #2024
try this link: https://github.com/opsnull/follow-me-install-kubernetes-cluster/blob/master/06-4.kubelet.md
it has the same contents.

this is a 10 year duration. the normal duration should be 1 year for kubelet server and client certs.

[2020-02-08 06:31] zhangxingdeppon commented on #2024
I'm feel a little confused, the renewed client cert is 10 years, why does the server cert `kubelet.crt` duration just have 1 year,  in my opinion,  through above details, after I deleted the kubelet server cert and restart kubelet, the controller-manager can  renew it, and the kubelet get a new server cert,  but the result is that the server cert's duration time is  just 1 year but not 10 years.

[2020-02-08 07:42] SataQiu commented on #2022
/assign

[2020-02-08 08:14] zhangxingdeppon commented on #2024
yes, I test with a new cluster. reply that a few late.

[2020-02-08 15:49] neolit123 commented on #2024
if you are seeing `kubelet.crt` and `kubelet.key` instead of `kubelet-server-<date-time>.pem`, this means two things:
- the kubelet server certificate is being self signed by the kubelet and not by using /etc/kubernetes/pki/ca.crt (root ca).
- serving certificate rotation is **not enabled**

something is missing in your setup to enable the rotation of the serving certificate.
that is why i pointed

[2020-02-08 22:47] #2022 closed

[2020-02-09 03:00] zhangxingdeppon commented on #2024
@neolit123 great, you‘re right, it's amazing, I found the serving certificate rotation is not enabled,  through increase the kubelet log level, I can see all the kubete configration, see below:
<pre><code>
Feb 01 10:49:58 k8s-node kubelet[103498]: I0201 10:49:58.235716  103498 feature_gate.go:206] feature gates: &{map[]}
Feb 01 10:49:58 k8s-node kubelet[103498]: I0201 10:49:58.237026  103498 featu

[2020-02-09 03:24] zhangxingdeppon commented on #2024
@neolit123 yeah, I got it,  my configuration parameters are wrong,  not `ServerTLSBootstrap: true`  but  `serverTLSBootstrap: true`, I do it success now, see below:
<pre><code>
[root@k8s-node pki]# ls -trl
total 12
-rw-------. 1 root root 1114 Feb  8  2020 kubelet-client-2020-02-08-04-56-24.pem
lrwxrwxrwx. 1 root root   59 Feb  1 00:16 kubelet-client-current.pem -> /var/lib/kubelet/pki/kubelet-cli

[2020-02-09 03:57] neolit123 commented on #2024
no problem. happy it worked!

[2020-02-09 14:25] fabriziopandini commented on #2020
I agree that kubeadm should not enter in the business of configuring CRIs, unless this is not done through the kubelet.
So the question here are:
- should we ask to sig-node what are the plans for the --pod-infra-container-image wrt to other CRIs
- should we, as a kubeadm team, provide support for setting --pod-infra-container-image via config only for docker, that as far as we know, it is the mos

[2020-02-09 14:28] fabriziopandini commented on #2021
+1 to any change that helps to have a clean separation between the upgrade story and the change the cluster story

[2020-02-09 20:51] renukamanavalan opened #2025 "kubelet @ master failing to pull "k8s.gcr.io/pause:3.1" while it is already in registry"
BUG REPORT:
This is *not* a direct kubeadm issue. But indirect and still part of kubernetes. Hence filing here, as more likely you guys are aware of this. Calico pod is stuck because kubelet & kubeproxy's failure explained below.

Brief:
1) I ran 'kubeadm init' in a VM, which has two interfaces and I set API server address on non-default i/f. This succeeds
2) Installed 3.10 version of calico (`kub

[2020-02-09 21:11] neolit123 commented on #2025
/triage support

hi,

indeed, i have a couple of questions but this is not a kubeadm issue, per se.

after you call `join`, what are the contents of the following files?
`/var/lib/kubelet/kubeadm-flags.env`
`/etc/default/kubelet`

are you sure you are using Docker on the problem Node?
is it the only container runtime installed there?

[2020-02-09 21:14] neolit123 commented on #2025
in the title you have this. does that mean that you are building a kubelet from master and using it with a 1.17.2 kubeadm / control plane?

[2020-02-09 21:26] renukamanavalan commented on #2025
Thanks for *immediate* response. I guess, the kubelet message I see in pod description @ master, is not a problem @ master, but a problem @ node. "The kubelet in worker node is unable to pull".

Am I correct ?

I tried manual pull @ worker node and it failed with same message
[code]

**Questions:**
1) Is there a way for kubelet in worker node to pull this image from master ?
Or
2) Can I copy the p

[2020-02-09 22:00] neolit123 commented on #2025
yes

this probably means that your node has no connectivity to the k8s GCR bucket.

kubeadm is passing the correct pause image to the kubelet using the "pod-infra..." flag.

at this point it is up to the kubelet to find it already exists locally and not pull it.

no, you must pre-pull / install the image on the workers too.

you can do the following using docker:
- on the master do `docker save k8

[2020-02-10 01:28] renukamanavalan commented on #2025
THANK YOU!

It worked. Then it demanded few more. With another manual load, all good. My worker node is finally *READY*

[This is not the channel; but just to get some tips]
Yet two of the calico pods say 0/1 under READY column. Error spew below.

If you have any tips, ... even to debug further ... would be a *big* help.

[code]
[code]

[code]

[2020-02-10 01:38] SataQiu commented on #2022
Hi @rosti @neolit123
I wonder if [the code](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/upgrade/node.go#L199-L202) below needs to be cleaned up, too.
If yes, I'm willing to send a PR for this.
[code]

[2020-02-10 02:15] neolit123 commented on #2025
thanks for confirming the original issue is resolved.
/close

i think 've seen this happen if the kubelet on the node is newer than 1.17.2.
it must not be newer than the version of the API server.

are there any errors in the `calico-node-d9hhw` logs?

[2020-02-10 02:15] #2025 closed

[2020-02-10 02:18] neolit123 commented on #2025
also you can try another CNI plugin like WeaveNet instead of Calico, to confirm this is not a CNI issue.

[2020-02-10 05:45] neolit123 commented on #2022
@SataQiu seems valid to remove the command.
the PR needs a release note explaining why - i.e. it was deprecated in 1.15.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/upgrade/node.go#L96-L98

[2020-02-10 10:29] ereslibre commented on #2021
+1 to the removal as well.

[2020-02-10 10:46] ereslibre commented on #2020
I also agree that configuring the CRI is out of the scope for kubeadm.

Adding the `PauseImage` via config when only one runtime will honor this setting does not look to me like a good abstraction for our config. Maybe it's the most used one, but I'd rather prefer to add documentation instead when users are relying on Docker and require this very specific feature.

In general, we can add to the do

[2020-02-10 10:50] rosti commented on #2020
This command line flag is tightly coupled to the docker shim. So I suspect that its long term life is going to be connected to that (rather than the kubelet itself).
Is the docker shim moving out? Is kubelet getting in on the business of configuring more than just Docker? I do think that the answers to those questions can only be given by SIG Node.

We already do that through kubelet's docker shim

[2020-02-11 06:16] SataQiu commented on #2018
Now that kubernetes/kubernetes#87886 has merged, close this issue.
/close

[2020-02-11 06:16] #2018 closed

[2020-02-11 12:34] abhiTamrakar opened #2027 "kubeadm alpha certs renew fails to update CA in conf files"
## What keywords did you search in kubeadm issues before filing this one?
'kubeadm alpha certs', 'certs renew', 'kubeadm alpha'

## Is this a BUG REPORT or FEATURE REQUEST? BUG REPORT

## Versions
1.16.4

**kubeadm version** (use `kubeadm version`): 1.16.4

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.16.4
- **Cloud provider or hardware configuration**: On premise
- **OS**

[2020-02-11 13:43] neolit123 commented on #2027
thanks for the report i will try to reproduce the problem.

[2020-02-11 14:00] neolit123 commented on #2023
/close

[2020-02-11 14:00] #2023 closed

[2020-02-11 18:35] neolit123 commented on #1223
/lifecycle frozen

[2020-02-11 18:36] neolit123 commented on #1692
/lifecycle frozen

[2020-02-11 18:36] neolit123 commented on #1686
/remove lifecycle stale

[2020-02-11 18:36] neolit123 commented on #1686
/remove-lifecycle stale

[2020-02-11 18:37] neolit123 commented on #1685
/lifecycle frozen

[2020-02-11 18:38] neolit123 commented on #1759
/remove-lifecycle stale

[2020-02-11 22:50] neolit123 commented on #1727
/remove-lifecycle stale

[2020-02-12 03:15] neolit123 commented on #2027
@abhiTamrakar
here is a PR for this:
https://github.com/kubernetes/kubernetes/pull/88052

some notes:
- the PR might not pass with consensus from the maintainers because CA rotation is technically _not supported_ by kubeadm.
- by rotating CA you can put the stability of your cluster at risk and kubeadm.
- service accounts certs/key is also signed for 10 years and you might want to rotate those too

[2020-02-12 03:16] neolit123 commented on #2027
/lifecycle active

[2020-02-12 07:34] abhiTamrakar commented on #2027
@neolit123 I agree with some of the factors, my opinion inline.

_CA rotation has to be done at some point, if even we consider 10 years. From security point of view we have a mandate to keep Intermediate CA of lesser validity <=1yr. It becomes a hard stop for us. This is a kind of feature even most of the managed providers can't provide. I am not sure how many such organization would be there but

[2020-02-12 16:00] neolit123 commented on #2027
OpenShift does this the way it should be done sequentially (as it is written by the folks who wrote the auth in k8s). it's using the operator pattern and it's quite complex.

there was a talk about it at KubeCon some time ago.
maybe it was this one: https://github.com/openshift/service-ca-operator

kubernetes itself is quite unfriendly to CA rotation. the sequence of the OpenShift operator was qui

[2020-02-12 17:04] LucaLanziani commented on #1842
Proposal:

Move this function into `configutils` or similar: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/alpha/certs.go#L265

Use the same logic here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/config.go#L474

Problems:
I cannot find tests for the `images pull` command

[2020-02-12 19:32] sarthak8081 commented on #1978
W0212 20:35:27.269506   17312 join.go:346] [preflight] WARNING: JoinControlPane.controlPlane settings will be ignored when control-plane flag is not set.
[preflight] Running pre-flight checks
	[WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kubernetes.io/docs/setup/cri/
error execution phase pr

[2020-02-12 22:57] neolit123 commented on #1953
kubeadm should print `[kustomize] ...` lines
https://github.com/kubernetes/kubernetes/blob/fa3dfa82b0ae05cba900b468698f394a2a184ba9/cmd/kubeadm/app/util/kustomize/kustomize.go#L192

so there might be a bug at play here.

[2020-02-13 05:11] logan2211 opened #2028 "metrics-server deployments cannot connect to kubelet InternalIP"
###  Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT / FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"clean", BuildDate:"2020-01-18T23:27:49Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

[2020-02-13 05:30] neolit123 commented on #2028
/close

hi, this is probably caused by the fact that the kubelet that kubeadm starts is self-signing it's serving certificate. this issue outlines the problem better:
https://github.com/kubernetes/kubeadm/issues/1223#issuecomment-482894245
has a guide of how to manually sign.

this is the default kubelet behavior.
if you want to enable this functionality today, you must sign your own serving certi

[2020-02-13 05:30] #2028 closed

[2020-02-13 05:35] neolit123 commented on #2028
this workaround i do not recommend:
https://github.com/kubernetes/kubeadm/issues/1223#issuecomment-549416594
but it depends on how you've setup your metrics server.

[2020-02-13 09:46] bcoughlan commented on #1657
@neolit123 Would there be any reason to use your `antiAffinity` workaround over this fix? https://github.com/kubernetes/kops/pull/7400/files

[2020-02-13 11:56] rosti opened #2029 "printAvailableUpgrades redesign"
The function [printAvailableUpgrades](https://github.com/kubernetes/kubernetes/blob/8ca96f3e071a7d45ffdf2cffb3c9122104fc0497/cmd/kubeadm/app/cmd/upgrade/plan.go#L107) has a couple of problems:
1. It contains too much business logic in it. Things like picking up kubelet version to print, what DNS type and its version, what kubeadm upgrade command and its flags, etc.
2. As a consequence of 1, this f

[2020-02-13 13:58] neolit123 commented on #1657
@bcoughlan there are multiple ways to solve the issue.
this is mostly the reason why we haven't decided on how to proceed in kubeadm.

but looking at:
https://github.com/kubernetes/kops/pull/7400/files

we don't have plans to deploy the autoscaler with kubeadm by default.

i think the best option for users right now is to just delete the core-dns pods once multiple nodes are up and this will cause

[2020-02-13 14:06] bcoughlan commented on #1657
@neolit123 Thanks. At a closer look I see that the kops file also has the antiAffinity workaround - otherwise when a node is added, the replica count is bumped but the node being added still has taints which causes the coredns pod to be scheduled on the same node again.

So it looks like your workaround is needed either way.

[2020-02-16 03:50] abhiTamrakar commented on #2027
@neolit123 any place I can raise issue to request to put some documentation around CA rotation?

[2020-02-16 04:08] neolit123 commented on #2027
the documentation should reside in the k8s.io website. the repository that holds it is https://github.com/kubernetes/website.

you can create a tracking issue there, tag it with `/sig auth` and link to this issue.
to get feedback from SIG Auth you can try discussing this in their meeting or slack channel:
https://github.com/kubernetes/community/tree/master/sig-auth

ideally the documentation in qu

[2020-02-16 16:44] neolit123 opened #2031 "add workarounds for Fedora Coreos's R/O /usr/libexec/"
the flex volume flag passed to the KCM points by default to a path that is R/O on Fedora-like distros.
add a note in the troubleshooting guide about that.

`--flex-volume-plugin-dir string Default: "/usr/libexec/kubernetes/kubelet-plugins/volume/exec/"`
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

https://github.com/kubernetes/kubernetes/issues/88210

[2020-02-16 19:18] neolit123 commented on #2031
@skycastlelily2 a known workaround is to do the following.

pass the following configuration file as a `--config` to `kubeadm init`:

[code]

and the following file as `--config` to `kubeadm join`:
[code]

let me know if this works for you.

mind that if you cannot mix `--config` and some other flags.
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

[2020-02-17 04:57] skycastlelily2 commented on #2031
Hi,
Really thanks for your reply and help.
How could I set --token  and --discovery-token-ca-cert-hash in the join  config file?
I try the following:
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
bootstrapTokens:
- token: "bv2lok.bld9lvp7300dbjtn"
  description: "kubeadm bootstrap token"
  ttl: "24h"
nodeRegistration:
  kubeletExtraArgs:
    volume-plugin-dir: "/opt/libexec/kubernetes

[2020-02-17 05:26] neolit123 commented on #2031
try:
[code]

[code]

[2020-02-17 07:43] skycastlelily2 commented on #2031
Hi,  I get  the following error with your demo
`error unmarshaling JSON: while decoding JSON: json: unknown field "nodeRegistration"`
 I created the cluster successfully after moved the following to kind: InitConfiguration
`nodeRegistration:
  kubeletExtraArgs:
    volume-plugin-dir: "/opt/libexec/kubernetes/kubelet-plugins/volume/exec/"`

The created cluster can be joined  with
`kubeadm join 192.

[2020-02-17 07:58] skycastlelily2 commented on #2031
Hi, this is a bug only affects Fedora Coreos ,Fedora Server and  Fedora Workstation are fine, I tried to modified your comment at the head of this page,but deleted my comments by mistake,sigh...
With your demo I get "json: unknown field "nodeRegistration"" error,
I create the cluster successfully after moved the following bellow kind:InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    volu

[2020-02-17 07:59] skycastlelily2 commented on #2031
Hi, this is a bug only affects Fedora Coreos ,Fedora Server and Fedora Workstation are fine:)

[2020-02-17 09:57] zedtux commented on #1602
Looking for this so that deploying metrics-server would work securely and out-of-the-box!

[2020-02-17 13:24] neolit123 commented on #2031
error unmarshaling JSON: while decoding JSON: json: unknown field "nodeRegistration"

updated my response here:
https://github.com/kubernetes/kubeadm/issues/2031#issuecomment-586823530

discovery: Invalid value: "": bootstrapToken or file must be set
Is it a bug?

i don't think so. try again using the above config:

also the join command should look like:
[code]

[2020-02-17 13:24] neolit123 commented on #2031
you can also share your config files here, for me to check them.

[2020-02-17 13:27] neolit123 commented on #2031
it's not a bug, per se. only a problem if the distro decided to lock /usr.

you have to configure the flex volume path to a path that is writeable. kubeadm allows you to do that using the configuration.

[2020-02-18 02:26] longtails commented on #133
see example in https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta1

[2020-02-18 02:26] skycastlelily2 commented on #2031
Hi,below is init config I use,and I  joined the cluster without config file yesterday:
kubeadm join 192.168.122.118:6443 --token bv2lok.bld9lvp7300dbjtn --discovery-token-ca-cert-hash sha256:3ec93f29321c1b339c7f5836e32b5959af888e91e448321ccc037e54224ac28e
now I know this way is not suggested.

apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  kubeletExtraArgs:
    volu

[2020-02-18 03:04] neolit123 commented on #2031
if you have the above JoinConfiguration, you should just use:
[code]

what errors are you getting?

[2020-02-18 09:58] bart0sh commented on #2029
/assign

[2020-02-18 09:58] bart0sh commented on #2029
/assign @bart0sh

[2020-02-18 11:40] skycastlelily2 commented on #2031
I can join the cluster successfully with the join config above,there are no errors.
I failed to join the cluster with yesterday's join config, so I joined the cluster without specified a config file yesterday. Sorry for have not said it clearly.

[2020-02-18 11:43] neolit123 commented on #2031
thank you for clarifying. i will add notes to our Troubleshooting guide about this.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

[2020-02-18 12:02] neolit123 commented on #2027
@abhiTamrakar
a question, did you have to manually update the `cluster-info` config map in the kube-public namespace to include the new CA PEM?
`kubectl get cm -n kube-public cluster-info -o yaml`

[2020-02-18 12:11] abhiTamrakar commented on #2027
@neolit123 Yes, I patched it, otherwise operations like downloading kubeconfig is not even an option. however i haven't used download but I had to patch the cluster-info CM.

[2020-02-18 13:16] rosti commented on #2031
@skycastlelily2 just to clarify, is this Fedora CoreOS or Fedora Server?
It's important, because these two are distinctively different.

[2020-02-18 17:48] GissellaSantacruz commented on #1913
Try kubeadm reset, and then try again.
The reset process does not clean CNI configuration. To do so, you must remove /etc/cni/net.d

The reset process does not reset or clean up iptables rules or IPVS tables.
If you wish to reset iptables, you must do so manually by using the "iptables" command.

If your cluster was setup to utilize IPVS, run ipvsadm --clear (or similar)
to reset your system's IPV

[2020-02-18 20:53] cmluciano commented on #817
@andrewsykim @lbernail Do you think we should close this issue ? I agree with @neolit123 's comments and I'm not sure if this issue makes sense to keep open.

[2020-02-19 00:44] neolit123 commented on #1898
/remove-lifecycle stale

[2020-02-19 18:18] neolit123 opened #2034 "fallback to a known etcd version if an unknown k8s version is passed"
during etcd upgrade kubeadm can fail with:

this can happen if a k8s version is passed that kubeadm still does not know about.
the errors originates for a map check, where a k8s version is mapped to an etcd version.

a desired fix here is convert this into a warning and fallback to the last known etcd version.
e.g. if k8s version is 1.19, but there is no etcd mapping for this version use the etcd

[2020-02-19 19:56] andrewsykim commented on #817
Yeah I agree, not sure that it was ever intended for IPVS to be the default.

[2020-02-19 20:29] lbernail commented on #817
Yeah I think at one point we really wanted to try but we are still lacking tests. I'd say for mid-size clusters iptables is very good because it's very well tested. ipvs makes more sense in large clusters but still does not completely align with what support in iptables mode

[2020-02-19 20:40] neolit123 commented on #817
thanks for the comments. let's continue keeping iptables as the default with opt-in for IPVS, maybe one day making IPVS the default if kube-proxy has it as the default.

[2020-02-19 20:40] #817 closed

[2020-02-19 21:58] willchan opened #2035 "When running a single control plane node cluster, `kubeadm upgrade` hangs after printing `[addons] Applied essential addon: CoreDNS`"
# Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
**kubeadm version** (use `kubeadm version`): 1.15.3-00 and 1.16.7-00

**Environment**:
- **Kubernetes version** (use `kubectl version`): Already upgraded past what it was, sorry
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.6 LTS
- **Kernel** (e.g. `uname -a`): Linux debug-6 4.4

[2020-02-19 23:19] anguslees commented on #2027
Just because I don't see it mentioned anywhere above, I think the key step in smoothly rotating the cluster CA is to append *both* the old and the new CA certs to `/etc/kubernetes/pki/ca.crt`.  Unfortunately this also [breaks lots of `kubeadm`](https://github.com/kubernetes/kubeadm/issues/1350) which assumes this file only contains a single cert.

[2020-02-20 03:29] SataQiu commented on #2034
/assign
I'd like to have a try :)

[2020-02-20 04:28] neolit123 commented on #2027
@anguslees

technically, the singing cert/key for a KCM trust bundle can be made distinct with an extra flag for the KCM that defaults to a sane order value that the user can control.

i think the cert management process is already complicated enough on the user side to have a separate CA file for the KCM that is not a bundle... https://github.com/kubernetes/kubeadm/issues/1350 feels like more of

[2020-02-20 04:38] neolit123 commented on #2035
i ended up calculating this as 2555 seconds (~43 minutes) for the 10th step.
i think we should ideally reduce this to timeout to something like 30 seconds max.

cc @rajansandeep

xref:
https://github.com/kubernetes/kubernetes/blob/3aa59f7f3077642592dc8a864fcef8ba98699894/cmd/kubeadm/app/phases/upgrade/postupgrade.go#L140
https://github.com/kubernetes/kubernetes/blob/dde6e8e7465468c32642659cb708a5c

[2020-02-20 05:31] abhiTamrakar commented on #2027
I don't know how far I am correct here with this, still reading through the codebase to understand what all can be done because this is a hard stop for us.

As @anguslees mentioned, I did found the ca.key (private key) can have multiple private keys but again the issue in #1350 seems to be coming in the way. I even saw a 2-3 months old PR raised by someone handling CA rotation, lost that link.

Id

[2020-02-20 20:52] willchan commented on #2035
I think reducing the timeout would improve the UX since it wouldn't hang for so long. That said, IIUC, it would still get reported as an error, which might be confusing to users.

[2020-02-20 21:00] rajansandeep commented on #2035
The part of code you're referring to only triggers [when the DNS server is changed](https://github.com/kubernetes/kubernetes/blob/3aa59f7f3077642592dc8a864fcef8ba98699894/cmd/kubeadm/app/phases/upgrade/postupgrade.go#L101-L103).
I'm not sure this is the reason for the upgrade hanging.

[2020-02-20 21:05] rajansandeep commented on #2035
@willchan just to be clear, you were able to upgrade from 1.15 to 1.16 successfully, but faced this issue when upgrading from 1.16 to 1.17?

[2020-02-20 21:07] willchan commented on #2035
Maybe I'm misunderstanding the [code](https://github.com/kubernetes/kubernetes/blob/3aa59f7f3077642592dc8a864fcef8ba98699894/cmd/kubeadm/app/phases/upgrade/postupgrade.go#L112), but AFAICT, it always waits for the expected DNS add-on. And then it always tries to delete the other add-on, but [ignores the error if it's not found](https://github.com/kubernetes/kubernetes/blob/3aa59f7f3077642592dc8a86

[2020-02-20 21:08] willchan commented on #2035
I hit the same issue on both upgrades, from 1.15 to 1.16 and 1.16 to 1.17.

[2020-02-20 21:10] rajansandeep commented on #2035
Okay.
Before upgrading, is the DNS server kube-dns or CoreDNS?

[2020-02-20 21:12] willchan commented on #2035
C

CoreDNS. I did not explicitly configure any feature flag in my setup, and I believe CoreDNS hit GA a number of releases ago, so any switch would have happened awhile back.

[2020-02-21 06:14] pytimer opened #2036 "Adding etcd member failed when join control plane"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
bare-metal
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

I create Kubernetes cluster

[2020-02-21 06:26] neolit123 commented on #2036
hi,

please provide the following data or answers:
- run `kubeadm join` with `--v=5` and show the logs.
- can you reproduce this consistently or did it happen only once?
- what are the contents of the `/etc/kubernetes/manifests/etcd.yaml` look on the primary node (init) and on the joining node (join)?

/priority awaiting-more-evidence

[2020-02-21 06:46] pytimer commented on #2036
@neolit123 Hi, i add some information about this issue, is it enough?

[2020-02-21 07:29] neolit123 commented on #2036
passing ClusterConfiguration to `kubeadm join` does not work.
the purpose of the ClusterConfiguration is to create a cluster-wide configuration, not a per control-plane (or etcd) member configuration.

so only the ClusterConfiguration for `kubeadm init` is used:

[code]

the only field here that makes sense for multiple members is:

`extraArgs` acts like an override and the same flags are added to

[2020-02-21 07:44] pytimer commented on #2036
Thanks, @neolit123

I want to custom address, because my cluster maybe have multi network interfaces and ip addresses.

I will try this flag, where is document about this flag?

If patch etcd.yaml, i should execute patch before etcd pod created, so i think this method maybe not good for me.

[2020-02-21 07:50] neolit123 commented on #2036
it is ALPHA and not documented.

here you can find an example:
https://github.com/kubernetes/kubeadm/issues/1953

if you find bugs with this feature let's comment on:
https://github.com/kubernetes/kubeadm/issues/1953

you can use phases for this too, see the example here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#init-phases

same can be done for join.
once the "contro

[2020-02-21 07:50] #2036 closed

[2020-02-22 03:40] pytimer commented on #1953
@dnmgns I have same issue, how did you solve it?

I want to patch static pod container command when kubedam init, use `kubeadm init --experimetal-kustomize` not works. Now i use `kubectl kustomize` to solve it when init.

The steps like below:

[code]

[2020-02-22 19:16] neolit123 commented on #1953
@dnmgns @pytimer

to workaround the issue make sure you pass the namespace:
[code]

i do not understand why kustomize in kubectl tolerates the lack of namespace, but kubeadm needs it.

options:
1) make kubeadm print a verbose message when it cannot find patches for an object:

https://github.com/kubernetes/kubernetes/blob/fa3dfa82b0ae05cba900b468698f394a2a184ba9/cmd/kubeadm/app/util/kustomize/kust

[2020-02-22 19:17] neolit123 commented on #1953
options to improve kubeadm here:
options:
1) make kubeadm print a verbose message when it cannot find patches for an object:

https://github.com/kubernetes/kubernetes/blob/fa3dfa82b0ae05cba900b468698f394a2a184ba9/cmd/kubeadm/app/util/kustomize/kustomize.go#L189

[code]

2) make kubeadm print a warning when the user kustomization does not match a known object to patch.

option 2 feels better.

[2020-02-22 20:58] fabriziopandini commented on #1953
I assume there is some disalignement in kustomize versions between kubeadm and kubectl, but probably fixing this isn't easy while we are still in k/k
However, as a stop gap, I'm +1 to option 2

[2020-02-23 02:17] pytimer commented on #1953
@neolit123 Thanks, add `namespace` in kustomization.yaml, kubeadm init --experimetal-kustomize works well.

[2020-02-23 03:19] pytimer commented on #1953
option 2 +1

[2020-02-23 04:50] #2027 closed

[2020-02-23 06:28] abhiTamrakar commented on #2027
@neolit123 is there a possibility of getting it back ported to one of 1.16.x and 1.17.x?

Also,  ca.crt in service account tokens also doesn't get updated, any way to do that or it has to be manual for now?

[2020-02-23 10:39] SataQiu commented on #2035
/assign

[2020-02-23 11:06] SataQiu commented on #2035
Maybe we should check if there are some schedulable nodes to run DNS deployment.
I have sent a PR kubernetes/kubernetes#88434 to try to solve this.

[2020-02-23 12:03] neolit123 commented on #2027
Hi. Sadly no, we only backport critical fixes (e.g panics and security
issues).

Also, yes the service accounts need manual update AFAIK. Sig auth should
confirm.

[2020-02-23 17:39] dnmgns commented on #1953
@pytimer - I actually skipped performing this operation with kustomize.

I found out that I could achieve the same thing just by adding extraArgs to the ClusterConfiguration with kubeadm. In this case I could just add `service-account-signing-key-file`.

Here's an example:
For example:
[code]

[2020-02-23 17:40] dnmgns commented on #1953
@neolit123 - Thanks for letting me know why the patch wasn't applied!

[2020-02-24 11:45] neolit123 commented on #1612
/remove-lifecycle stale

[2020-02-24 13:14] #2034 closed

[2020-02-24 13:26] stanislaw55 opened #2037 "$?"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-02-24 13:27] #2037 closed

[2020-02-24 21:12] #2035 closed

[2020-02-25 04:12] MatthewCroughan commented on #274
Just ran into this myself, a shame support was arbitrarily dropped for Armv6 if it's all automated on your end :)

[2020-02-25 16:56] liyedan18 commented on #339
I have a same problem of minikube start.
And I solved the problem with the following steps:
1、docker stop $(docker ps -a -q)
2、use --extra-config parameter of minikube start. like: minikube start --kubernetes-version=1.17.2 --vm-driver=none kubelet.ignore-preflight-errors kubeadm.ignore-preflight-errors

[2020-02-25 17:04] liyedan18 commented on #339
I have a same problem of minikube start.
And I solved the problem with the following steps:
1、docker stop $(docker ps -a -q)
2、use --extra-config parameter of minikube start. like: minikube start --kubernetes-version=1.17.2 --vm-driver=none kubelet.ignore-preflight-errors kubeadm.ignore-preflight-errors

[2020-02-26 02:32] alexfromapex commented on #789
I was having this issue adding `--v=5` to the `kubeadm join` command helped to diagnose with more verbose output

[2020-02-26 04:36] renukamanavalan opened #2038 "Can kubeadm accept a URL for manifest ?"
Request for info:

Like kubelet watches a URL for static-pod manifests, can kubeadm configure API server to watch a URL for manifests?

[2020-02-26 06:56] johscheuer opened #2039 "cir-socket flag for kubeadm init does not override config value"
## What keywords did you search in kubeadm issues before filing this one?

`cri`, `config`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
VM's on GCP
- **OS** (e.g. from /etc/os-release):
[code]
- **Ke

[2020-02-26 07:31] gunalanbalakrishnan opened #2040 "Kubelet is not running or not healthy"
## What keywords did you search in kubeadm issues before filing this one?
Kubelet
If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?
Kind of bug
Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`)

[2020-02-26 09:20] SataQiu commented on #2039
This seems like a bug. I'll take a look. Thanks for your feedback @johscheuer
/assign

[2020-02-26 10:20] neolit123 commented on #2040
hi,

please note that once you install the kubelet and kubeadm packages on a node, the kubelet will fail (crash-loop), until you start `kubeadm init`.

this issue tracker is for logging bugs and feature requests.
try asking in the #kubeadm channel on k8s slack or our forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-02-26 10:20] #2040 closed

[2020-02-26 10:21] neolit123 commented on #2039
cc @rosti

[2020-02-26 10:38] captainRonak commented on #1031
Ran that Command on Master node and everything is in Ready state now. Thank you @saddique164 .

[2020-02-26 10:52] rosti commented on #2039
Ok, so the problem here is that we are doing the command line overwrite for the `--cri-socket` flag in the wrong place (too late). It's actually done after the check.
@SataQiu if you haven't started yet, I can tackle that. It needs some refactoring to get it straight.

/kind bug
/priority important-longterm
/assign
/lifecycle active

[2020-02-26 11:17] gunalanbalakrishnan commented on #2040
This issue came after i started the  # kubeadm init using the below command.

sudo kubeadm init --config=config.yaml

Please advice me for further troubleshooting.

[2020-02-26 11:18] neolit123 commented on #2038
/triage support

static pod manifests are configured by kubeadm as a folder location, `/etc/kubernetes/manifests` because that is where kubeadm writes it's generated manifests files. so a local folder for generated manifests is required.

however you can also add extra static pods from URL:

e.g.
[code]

for more info on how to use KubeletConfiguration and the kubeadm configuration types see:
http

[2020-02-26 11:18] #2038 closed

[2020-02-26 11:19] gunalanbalakrishnan commented on #2040
This issue came after i started the kubeadm using below command,

sudo kubeadm init --config=config.yaml

Please help me for further troubleshooting...

[2020-02-26 11:36] neolit123 commented on #2040
the only reason for this to happen is if `kubeadm init` exited with an error.

[2020-02-26 12:13] mcajkovs opened #2041 "etcd and kube-apiserver does not start after incorrect machine shutdown"
First apologize if this is not correct issue tracker. Please let me know an I will post it somewhere else.

## Environment

[code]

## Installation and setup
I've installed k8s on my virtual machine (VM) VMware Workstation using following steps:

[code]

## Problem
k8s does not start after boot. As a a result I cannot use kubectl to communicate with k8s. I thing main problem is that apiserver is r

[2020-02-26 12:29] SataQiu commented on #2039
OK! It does look like refactoring is needed.
/unassign

[2020-02-26 12:30] neolit123 commented on #2041
hi, yes this is the issue tracker for kubeadm bugs.

Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.0", GitCommit:"70132b0f130acc0bed193d9ba59dd186f0e634cf", GitTreeState:"clean", BuildDate:"2019-12-07T21:12:17Z", GoVersion:"go1.13.4", Compiler:"gc", Platform:"linux/amd64"}

IMO, important when debugging such bugs to also try to match the kubelet, control-plane (server) and

[2020-02-26 12:30] #2041 closed

[2020-02-26 12:33] neolit123 commented on #2041
also please include the contents of all the yaml files from `/etc/kubernetes/manifests` (that kubeadm generates) in your kubernetes/kubernetes issue.

[2020-02-26 15:20] renukamanavalan opened #2042 "Applying a daemonset to thousands of controllers"
Request for info:

**Goal:** To manage 50K to 100K nodes using kubernetes for applying daemonsets

A possibility:
- To manage this scale, we need around 5K to 10K of controllers/masters.

- Nodes can add labels that describe self as static & dynamic data
  Static data: e.g. clustername, platform, HWSKU, ...
  Dynamic Data: e.g. Status, ...

- Apply daemonset with appropriate node-selectors at a ce

[2020-02-26 15:47] neolit123 commented on #2042
hi, please re-open this in the core kubernetes repository (kubernetes/kubernetes) for a more detailed answer. you can also ask in the #sig-scalability channel on slack.

this is the kubeadm issue tracker which is specific for kubeadm bugs and features as a deployer of k8s.

my short answer to your questions is "maybe". newer versions of etcd scale pretty well with big clusters, but you might see p

[2020-02-26 15:47] #2042 closed

[2020-02-26 16:08] renukamanavalan commented on #2042
Thank you!

[2020-02-27 03:35] katpagavalli commented on #1292
This worked for me

[2020-02-27 03:49] alexcpn commented on #1464
[code]
However, this does not work; Even after setting this and following

What worked

[code]

[2020-02-27 13:54] SuleimanWA commented on #581
@pmcgrath In case I have 3 masters, should I repeat the steps on each master? or what is the . case

[2020-02-27 14:00] anapsix commented on #581
@SuleimanWA, you can copy `admin.conf` over, as well as CA file, if CA was regenerated.
For everything else, you should repeat steps to regenerate certs (for etcd, kubelet, scheduler, etc..) on every master

[2020-02-27 20:47] SuleimanWA commented on #1361
@adoerler I am still running old version of kubeadm, how can I update the kubelet.conf, admin.con, ... etc, after certificate renewal?

[2020-02-27 21:08] adoerler commented on #1361
Hi @SuleimanWA ,

I cannot tell you what to do on a multi master env, I've had only single master in my setup.

This is what I've done:

First of all make sure to move existing conf files out of the way, because existing files will not get overwritten!

[code]

then update these files:
[code]

To apply the new certificates in the static system pods the easiest way for me was to simply reboot the m

[2020-02-28 09:15] deshui123 opened #2045 "Failed to get IPv4 and IPv6 interface"
## What keywords did you search in kubeadm issues before filing this one?
dualstack cluster

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[root@henry-dual-we-01 ~]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean"

[2020-02-28 09:29] neolit123 commented on #2045
/triage support

does calico even support dual stack?

AFAIK kube-proxy does not support dual stack with IPVS.
please running in iptables mode by removing `SupportIPVSProxyMode: true` and `mode: ipvs`.

cc @Arvinderpal @aojea

[2020-02-28 10:28] aojea commented on #2045
it does

 sounds a bit weird address compared to the rest of the configuration that is using only private ips, is it ok?

can you paste the logs with the errors that are causing the restarts?

nodeIPs are only dual stack if the cloud-controller-manager updates it, on bare metal or without cloud-controller-manager you only see one address

if your kube-controller-manager and kube-scheduler are rest

[2020-02-28 12:30] neolit123 commented on #2045
right, it was the other way around.

[2020-02-28 12:32] neolit123 commented on #2031
/close
website pr merged.

[2020-02-28 12:32] #2031 closed

[2020-02-28 22:54] neolit123 commented on #1953
/retitle kustomize: print warning if no matching objects were found

[2020-02-28 23:05] neolit123 opened #2046 "graduate kubeadm patch support to GA"
some projects in the ecosystem are moving away from kustomize:
- kind (completed)
- cluster-api (maybe?)
- kustomize being part of kubectl, while kubectl is still in k/k has caused issues:
https://github.com/kubernetes/kubernetes/pull/85146#issuecomment-553131916

i personally question some of the approaches the project has taken WRT support of API types.

i think a goal for us should be to contin

[2020-02-28 23:13] timothysc commented on #2046
I'm almost thinking to have a plug-able template approach might be the best option, but we would need to spec this out.

/cc @frapposelli

[2020-02-29 01:30] neolit123 opened #2047 "deprecate and remove '--use-api' for cert renewal"
kubeadm has a flag under the `kubeadm alpha certs renew` command called `--use-api` that allows users to renew a certificate by sending a CSR and blocking until a privileged user (e.g. admin) approves it, the KCM can then sign the certificate using the root CA:

the CSR API is changing to support and require signer names:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/2019060

[2020-02-29 07:43] munnerz commented on #2047
/cc

[2020-02-29 12:15] inceabdullah commented on #1642
the same problem in `v1.17.3`

after `rm -rf /var/lib/etcd`, it works fine

[2020-02-29 14:13] neolit123 commented on #2047
marking as important soon and moving to 1.18 as confirmed that the kubeadm CSRs fallback to legacy.

there is also a bug in the API based renewal and currently it does not work.
we can try adding the related changes post CF as a bug-fix.

[2020-02-29 14:20] munnerz commented on #2047
Which CSRs are defaulting to legacy? Kubelet client & serving certificates
should all default so long as the request submitted is according to spec
for those types.

Also worth noting that the *signer* will refuse to sign these certificates
as well if you set the signerName to not-legacy and the request submitted
does not match the requirements for the chosen signerName, as specified in
the KEP:
h

[2020-02-29 14:35] neolit123 commented on #2047
should all default so long as the request submitted is according to spec
for those types.

kubeadm does not manage or renew the kubelet client and serving certificates, it enables auto-rotation for the client cert and the serving cert is self-signed.

user have the option to use the API to renew some other certificates, such as:
[code]

i did not fully test this, but looking at the defaulting for

[2020-02-29 15:52] neolit123 commented on #2047
waiting for CI to build the latest k/k master and i will confirm my understanding.

i think kubeadm users usually approve CSRs for the above certs using the admin credentials, so in that case the RBAC should be an non-issue.

for other users with external signers we might want to document how to setup the new RBAC in the [kubeadm certs page](https://kubernetes.io/docs/tasks/administer-cluster/kube

[2020-02-29 19:07] msschl opened #2048 "QUESTION: How to persist values set via kubeadm init"
I initialized my cluster with `--service-dns-domain` and `--service-cidr`.

Unfortunately after upgrading to 1.16 and 1.17 these config values where not persisted.
I edit the ConfigMaps kubelet-config-1.16, kubelet-config-1.17 and kubeadm-config manually.

Is there a way to persist these values while doing a cluster update?

# Versions

[code]

[2020-02-29 19:10] BenTheElder commented on #2047
cc

[2020-02-29 19:15] neolit123 commented on #2048
hi, please fill the issue template to provide full detail about your issue:
https://github.com/kubernetes/kubeadm/blob/master/.github/ISSUE_TEMPLATE.md
make sure you include the PATCH releases of 1.16 and 1.17 you are using.

passing these flags to kubeadm would mean it writes the values in the ClusterConfiguration, propagates some values to components such as kubelet and kube-proxy and then it pe

[2020-02-29 19:23] msschl commented on #2048
I do have some configuration that I pass in on a cluster update.

[code]

The config file I use above.
[code]

[2020-02-29 19:25] neolit123 commented on #2048
side note:

kubectl version
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.5", GitCommit:"20c265fef0741dd71a66480e35bd69f18351daea", GitTreeState:"clean", BuildDate:"2019-10-15T19:16:51Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce61821

[2020-02-29 19:27] neolit123 commented on #2048
`--config` on `upgrade apply` acts like reconfiguration and should not be used. we discovered undefined behavior when using it and we plan to deprecate usage of the flag.

what happens if you try to not pass `--config` on upgrade?

[2020-02-29 19:30] msschl commented on #2048
I haven't tried that.
I will reset the my cluster and wait for the next release and try `upgrade apply` without `--config`

[2020-02-29 19:32] neolit123 commented on #2048
ok, if you see the same issue in the next 1.17 PATCH release or when you upgrade, please-reopen this ticket.

[2020-02-29 19:32] #2048 closed

[2020-02-29 19:34] msschl commented on #2048
I will, thanks.

[2020-02-29 19:57] neolit123 commented on #2047
@munnerz i think i'm seeing an oddity, or something that i cannot find in the [KEP change](https://github.com/kubernetes/enhancements/pull/1400/files) - why a certficate might not get issued post approval.

- all kube components are at 56987164f8aa20.
- i modified kubeadm to have `signerName` to CSRs specs e.g. `somedomain.io/csr-signer`
- created a CSR that looks like this:
[code]
- signed the CS

[2020-02-29 20:00] liggitt commented on #2047
kube-controller-manager only signs certificates for the following signerNames:
* kubernetes.io/kube-apiserver-client
* kubernetes.io/kube-apiserver-client-kubelet
* kubernetes.io/kubelet-serving
* kubernetes.io/legacy-unknown

Specifying other signerNames allows external signers to make use of the CSR API.

[2020-02-29 20:39] neolit123 commented on #2047
unless i'm mistaken, the kubeadm `certs renew --use-api` feature now must require an external signer.

even if one of the predefined signer names are picked (other than `legacy`) then some of the certificates we are trying to renew will simply not match the rest of the criteria.

e.g. for the cert/key pair (`--tls-cert-file` / `--tls-private-key-file`) of kube-apiserver, a CM `kube-apiserver` with

[2020-02-29 20:42] liggitt commented on #2047
I would recommend explicitly assigning each certificate a signer name, to make it clear which ones are expected to be handled by the kube-controller-manager in the future (the API client and kubelet client ones), and which ones are currently considered uncategorized and would require an external signer in the future (the etcd certificates, etc). The uncategorized ones would use the legacy signer n

[2020-02-29 20:45] neolit123 commented on #2047
ok, makes sense. thanks.

[2020-03-01 00:44] liggitt commented on #2047
Something else to be aware of is that the beta CSR API is the only beta API currently required to bring up clusters and run conformance e2e jobs (because of the kubelet->client cert renewal).

The plan is to promote it to v1 in 1.19, update the kubelet to use v1, and run a conformance e2e job that runs with all beta APIs disabled. See https://github.com/kubernetes/enhancements/blob/master/keps/sig

[2020-03-01 01:10] neolit123 commented on #2047
ack.

yes, kubeadm's on demand certificate renewal support is alpha-grade, under a `alpha certs renew` and the `--use-api`  flag is opt-in. by default the on-disk CA key/cert are using for renewal.

currently we don't have e2e tests for the on-demand cert renewal with or without the flag.

[2020-03-01 09:03] Venkatsai commented on #1463
Looks like this issue is not resolved in v1.17.3 kubeadm version. The AWS VPC CNI manages the pod IP assignment and the IP's are not overlapped. Could you let me know what logs can be shared to identify the core issue.

[2020-03-01 09:14] Venkatsai opened #2049 "Coredns crashes with api timeout on 443"
## Versions

**kubeadm version** (use `kubeadm version`): v1.17.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.17.3
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): Linux k8master 4.14.165-131.185.amzn2.x86_64
- **Others**: Considered Kubeadm to initialize Master. Applied Flannel networking onc

[2020-03-01 14:01] neolit123 commented on #2049
hi, i'm not convinced this is a kubeadm bug, but rather either a CoreDNS issue or an issue with your networking setup.

please provide:
- all the flags or --config you use to configure kubeadm
- provide logs from the kubelet and the crashing coredns pods

please try Calico as your CNI plugin, Flannel is not in a good shape and is trailing behind k8s in some regards.

cc @rajansandeep
/triage suppo

[2020-03-01 14:03] neolit123 commented on #2049
make sure you clean the relevant existing configuration from `/etc/cni/net.d` before trying new CNI plugins.

[2020-03-01 14:06] neolit123 commented on #1920
/remove-lifecycle stale

[2020-03-01 17:43] adityajalkhare commented on #681
Dirty and Fast Solution: Restart all the pods in kube-system namespace.
Actual Solution: Run kubectl get nodes, then kubectl describe nodes.

Check the output of describe, whether the heartbeat signals are latest or not.

See the logs of networking pods as to know what caused this and Why. In the end, restart pods related to networking and other networking related components.

[2020-03-01 17:56] adityajalkhare commented on #681
Dirty and Fast Solution: Restart all the pods in kube-system namespace.
Actual Solution: Run kubectl get nodes, then kubectl describe nodes.

Check the output of describe, whether the heartbeat signals are latest or not.

See the logs of networking pods as to know what caused this and Why. In the end, restart pods related to networking and other networking related components.

[2020-03-01 20:10] staticdev commented on #1642
@neolit123 I think this issues should be reopened, it was never corrected.

[2020-03-01 21:04] neolit123 commented on #1642
@staticdev you did mention that the bug on the side of kubeadm for 1.15.1 is resolved in your comment here:
https://github.com/kubernetes/kubeadm/issues/1642#issuecomment-513492385

i cannot reproduce the issue on my side.

what conditions prevent `kubeadm reset` from deleting the directory?
`kubeadm reset` is a best effort command and if for example the folder is protected or locked, kubeadm will

[2020-03-02 08:24] provgregoryabdo commented on #1361
Any idea how to run this command on 1.14.10? All I get is:

[code]

[2020-03-02 14:17] adoerler commented on #1361
Hi @provgregoryabdo,

whats your `kubeadm version` output?

BR Andreas

[2020-03-02 18:27] gina-github commented on #2045
I see the same issue with kubernetesVersion: 1.17.3.

[2020-03-02 18:32] neolit123 commented on #2045
@deshui123 @gina-github
i do not see this as a kubeadm issue, per se.

please answer the questions asked here:
https://github.com/kubernetes/kubeadm/issues/2045#issuecomment-592451037

[2020-03-02 23:10] neolit123 commented on #1318
/remove-lifecycle stale

[2020-03-03 00:48] staticdev commented on #1642
@neolit123 you are right. @inceabdullah what did you do exactly?

[2020-03-03 02:36] realshuting commented on #581
@anapsix
I'm running a 1.13.x cluster, and apiserver is reporting `Unable to authenticate the request due to an error: [x509: certificate has expired or is not yet valid, x509: certificate has expired or is not yet valid]` after I renewed the certs by running `kubeadm alpha certs renew all`.

Which token are you referring to in this case? Is the one generated by kubeadm or how can I delete the tok

[2020-03-03 08:58] tanjunchen opened #2050 "`--image-repository` can be passed in `kubeadm upgrade` operation"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

`--image-repository` can be passed in  `kubeadm init ` operation, `kubeadm upgrade`  does not seem to have this parameter option.
I think that since  `--image-repository`  can be provided during initialization, it should also be provided during upgrade.

**kubeadm upgrade apply --help**
[code]

## Versions

**kubeadm version** (use `kub

[2020-03-03 09:33] bart0sh commented on #2029
/lifecycle active

[2020-03-03 13:51] deshui123 commented on #2045
I add cloud-controller-manager for my cluster.Now I can get both IPv4 and IPv6 interface
[code]
Thanks for your support, but i still have some questions:

1) advertiseAddress: 192.16.1.15
Like you said, this is the internal IP, and API server will use this IP, but the cloud-provider is external, how did API contact with the cloud-provider?
2) I don't set the following parameters for cloud-controll

[2020-03-03 18:23] neolit123 commented on #2045
please note that kubeadm does not manage or run a instance of the cloud-controller-manager (CCM). flags or configuration from kubeadm does not propagate to a CCM instance and you have to manage the instance yourself.

i'm sorry but the kubeadm team does not provide support of using the CCM.

please try asking these questions on our support channels:
https://github.com/kubernetes/kubernetes/blob/ma

[2020-03-03 18:23] #2045 closed

[2020-03-03 20:21] neolit123 commented on #2050
@tanjunchen
hi, we plan to deprecate most flags related to re-configuration of `kubeadm upgrade apply` including potentially `--config`. kubeadm upgrades should not re-configure the cluster.

if you wish to change the image-repository you should be able to patch the `kubeadm-config` ConfigMap in the `kube-system` namespace and only then upgrade.

hope this helps.

[2020-03-03 20:21] #2050 closed

[2020-03-04 00:24] neolit123 opened #2051 "use "k8s.gcr.io" instead of "gcr.io/google-containers""
see:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-sig-release/ew-k9PEBckQ/T7dFepHdCAAJ

in this repository we have docs and usage of the URL which has to change.

[code]

note: k/k/cmd/kubeadm is not using `gcr.io/google-containers`

/priority important-longterm
/kind documentation cleanup

[2020-03-04 04:44] tanjunchen commented on #2050
get it . thanks

[2020-03-04 16:35] #2051 closed

[2020-03-05 01:45] neolit123 commented on #2047
so we had a talk today (yesterday, 05.03.2020) on the kubeadm office hours meeting, and we ended up with an agreement that due to the requirement of external signers for renewing the common CP certs, we'd prefer to deprecate the `--use-api` flag.

overall this deprecation is fine as it falls under experimental functionality.
thanks again for explaining the change to me!

PR is here:
https://github

[2020-03-05 06:25] pytimer opened #2054 "Kubelet can't running after renew certificates"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
bare-metal
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

I using the kubeadm command

[2020-03-05 11:35] SataQiu commented on #2054
/cc @fabriziopandini
I have reproduced this problem.
After the certificates expire, execute `kubeadm alpha certs renew all`, and kubelet will not be able to restart normally.
Some error like this:
[code]

[2020-03-05 12:12] neolit123 commented on #2054
server.go:273] failed to run Kubelet: unable to load bootstrap kubeconfig: stat /etc/kubernetes/bootstrap-kubelet.conf: no such file or directory

the bootstrap-kubelet.conf missing should not be an issue as long as there is a kubelet.conf, see the kubelet flags:

--
  | Path to a kubeconfig file that will be used to get client certificate for kubelet. If the file specified by --kubeconfig does no

[2020-03-05 12:21] neolit123 commented on #2054
please note that this feature is not really supported by kubeadm anymore and we don't have e2e tests for it...

[2020-03-05 13:08] pytimer commented on #2054
I enable kubelet dynamic config manually, not use `kubeadm` command.

[2020-03-05 13:10] pytimer commented on #2054
Did kubelet use kubelet.conf first, if error it use bootstrap-kubelet.conf retry?

[2020-03-05 13:28] neolit123 commented on #2054
there should not be an error if the bootstrap-kubelet.conf is missing.

[2020-03-05 13:52] neolit123 commented on #2054
@pytimer @SataQiu i cannot reproduce the issue. here are my steps:

[code]

if you are doing the steps exactly like so:
[code]
by running `certs renew` you are generating certs with the "future date".
i don't think this is correct.

/priority awaiting-more-evidence

[2020-03-05 15:01] pytimer commented on #2054
Update the host datetime to assume certificate expired.Why did you think this is wrong, can you explain it, i don't understand it. If this is wrong, which way to test `certs renew` command works well? Thanks.

[2020-03-05 16:25] neolit123 commented on #2054
ok, i was able to understand better what you are trying to do.

on a running cluster this means the kubelet now has an invalid client certificate for the API server stored in the file kubelet.conf.

it's important to note that this command **does not update** kubelet.conf. the client credentials in there are managed by the kubelet.

if the year has changed and if you run this command the kubelet w

[2020-03-05 16:25] #2054 closed

[2020-03-05 18:27] neolit123 commented on #2049
/close

if this is coredns related try logging an issue in the coredns repository.
if core kubernetes related you can log an issue in kubernetes/kubernetes.

for general support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-03-05 18:27] #2049 closed

[2020-03-06 06:49] pytimer commented on #2054
Thanks @neolit123

Kubeadm certs renew command works well.

@neolit123 Update the host time make kubelet client certificates  expriation time between 70%~100%, i found kubelet can't rotate certificates, the new certificates created until kubelet restarted. Do you know reason? I can't find some documents about it.

[2020-03-06 09:10] EKwongChum commented on #1092
Thanks!

And why these actions work?

[2020-03-06 13:01] neolit123 commented on #2054
i don't think that updating the host time is a valid approach for testing. this could be tripping the kubelet client cert rotation. but yes, the exact process is not documented fully:
https://kubernetes.io/docs/tasks/tls/certificate-rotation/

[2020-03-06 13:23] neolit123 commented on #2054
but if the kubelet client certificate expired for some reason you can renew it manually. look at the contents of `openssl x509 -in /var/lib/kubelet/pki/kubelet-client-current.pem -text` and search online how to use the `/etc/kubernetes/pki/ca.{key|crt}` to sign a new one.

[2020-03-06 23:48] neolit123 opened #2056 "checks_windows: wrap errors properly"
while @benmoss was testing kubeadm on Windows he noticed that kubeadm is ignoring some underlying errors in this code:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/preflight/checks_windows.go#L32-L50

/help
/good-first-issue
/kind cleanup
/priority backlog

send a PR to replace:
`errors.New("some message")`

on these two lines:
https://github.com/kubernetes/kubernetes/blob/

[2020-03-07 04:07] sandyleo26 commented on #2056
happy to take a shot at it.

[2020-03-07 15:06] yanpengfei commented on #581
high version use：

kubeadm alpha certs renew all

[2020-03-07 23:22] ChanghunKang commented on #2056
Can I start working on this?

[2020-03-08 00:24] sandyleo26 commented on #2056
pr created. not sure if i miss anything please let me know and I'll fix asap. thank you.

/lifecycle active

[2020-03-08 05:13] RA489 commented on #1862
/assign

[2020-03-08 17:10] neolit123 commented on #1842
we had a discussion about this and the TL;DR is that we have some concerns and users should use a local config file that is passed via --config instead.

full rationale from from slack:
- "config images" is a GA command.
- while the same "fetch from the cluster" functionality was added to
the "cert renew" command (that is alpha), this is suggesting a change to GA
behavior. so it can be considered

[2020-03-08 17:10] #1842 closed

[2020-03-08 19:30] renukamanavalan opened #2057 "Ability to run kubeadm init in container"
**Request for help:**

Per site on [installing kubeadm](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/), of the required list, a container is a possibility.
<copy/paste>: "_Container Linux (tested with 1800.6.0)_"

As I am not sure, how to get container image, for the stated version, I tried 'ubuntu:latest'.

It  fails with spew below

[code]

**Questions:**

[2020-03-08 20:06] neolit123 commented on #2057
<copy/paste>: "Container Linux (tested with 1800.6.0)"

the documentation stating that Container Linux is supported, does not necessarily mean that running `kubeadm init` from within a container is supported by the kubeadm team. it requires a number of changes to any base image that is used. i suggest you look at the [kind](https://github.com/kubernetes-sigs/kind) project which does exactly that -

[2020-03-08 20:06] #2057 closed

[2020-03-09 04:04] r0039 commented on #1310
You save my life. Thank you :-x
FYI, we can use the option `--ttl=0` _( ttl=0 means, generated token will never expire. )_

[2020-03-10 19:58] Venkatsai commented on #2049
Thank you Neo

[2020-03-11 17:25] neolit123 opened #2058 "revist support for custom image tags (e.g. for etcd)"
currently we are facing some issues around custom image tags.

problems to solve:
- [ ] the GCR image for etcd will now always include a revision - e.g. `-0`, `-1`. we need to support upgrades between revisions, currently kubeadm fetches a version from the running etcd cluster and it aborts upgrade even if the revision of the original version was older.

- [ ] handle upgrade of arbitrary image tag

[2020-03-12 16:52] neolit123 commented on #2056
/lifecycle stale

[2020-03-12 16:52] neolit123 commented on #2056
/lifecycle active

[2020-03-12 17:47] neolit123 opened #2059 "FR: creation of virtual IP, load balancing for kube-apiserver"
@mbert has created a google document with a proposal of handling VIP / LB from kubeadm:
https://docs.google.com/document/d/153G2DoZiIPyPInc6tgayBEnVti3KW3X75GXWi-9COeo/edit?usp=sharing

this issue is to track the progress and potential KEP transition if we agree on the initial proposal.

[2020-03-13 06:00] AshutoshNirkhe opened #2060 "Kubernetes docker images including hyperkube, cni have very high severity vulnerabilities coming from debian slim base image"
## Is this a BUG REPORT or FEATURE REQUEST?
This is a BUG REPORT.
The docker images from k8s.gcr.io like hyperkube have very high severity vulnerabilities for systemd, bash, libc, libssh2 coming from base debian:10-slim image used in building those.
CVE Details below -
CVE-2018-15686, CVE-2018-1049, CVE-2019-18276
CVE-2019-3846,CVE-2019-5489,CVE-2019-9500,CVE-2019-9503,CVE-2019-10126,CVE-2019-1147

[2020-03-13 06:24] #2060 closed

[2020-03-13 06:24] AshutoshNirkhe commented on #2060
Moving this issue to kubernetes/kubernetes

[2020-03-13 09:47] msschl opened #2061 "Kubeadm upgrade apply v1.17.4 fails on step `[upgrade/apply] Upgrading your Static Pod-hosted control plane to version "v1.17.4"...`"
Performing an update from v1.17.3 to v1.17.4 fails in the step: `[upgrade/apply] Upgrading your Static Pod-hosted control plane to version "v1.17.4"...`

Logs:
[code]

## Versions

[code]

[2020-03-13 09:54] msschl commented on #2061
Logs from running `kubeadm upgrade apply v1.17.4` with the `--v=5` flag:

[code]

[2020-03-13 09:56] msschl commented on #2061
kubeadm-config
[code]

[2020-03-13 09:58] msschl commented on #2061
kubelet-config-1.17
[code]

[2020-03-13 14:25] neolit123 commented on #2061
thanks for the report.

please answer these questions:
- is the existing cluster healthy?
- can you show me the list of pods in the kube-system namespace before upgrade apply?
- does the failure happen consistently?
- are you using the --experimental-kustomize feature?
- are you passing a --config to the upgrade apply command?

/triage needs-information

[2020-03-13 14:31] neolit123 commented on #2061
the timeout must be coming from here:
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/phases/upgrade/staticpods.go#L410
https://github.com/kubernetes/kubernetes/blob/58fcca211f62d2d9dd7932abb255111505d553f9/cmd/kubeadm/app/util/apiclient/wait.go#L240-L252

which is odd because the responsibility of this function is to obtain a list of hashes for the control-plane pods on

[2020-03-13 14:36] msschl commented on #2061
The cluster is healthy:
[code]
Nothing out of the ordinary in a `kubectl cluster-info dump`

[code]

No it's actually the first time this happend

No

No

Yes

[2020-03-13 14:42] neolit123 commented on #2061
i'm not finding the api-server pods, do you know what happened to it?
is the file `/etc/kubernetes/manifests/kube-apiserver.yaml` in place?

the kubeadm team does not recommend flannel. we are seeing way to many failures with it. Calico or WeaveNet are in a much better state for 1.17+

i'm noticing a lot of restarts on your pods.

i guess this command will not work because there is no api-server p

[2020-03-13 14:57] msschl commented on #2061
I was wondering about that myself

`/etc/kubernetes/manifests/kube-apiserver.yaml`
[code]

Ok, I'll probably need to set my cluster up again. Then I'll use Calico.

Probably due to the update I was trying

`kubectl describe po -n kube-system kube-controller-manager-lxkubemaster01` instead.

[code]

[2020-03-13 15:01] neolit123 commented on #2061
the apiserver pod might not be starting due to misconfiguration, yet normally it's mirror pod will show in the kube-system namespace list of pods.

[2020-03-13 19:11] msschl commented on #2061
I was missing a `hostPath` entry in `allowedHostPaths` for the `kube-system` namespace `psp`.
After adding this and reconfiguring the psp everything works as expected.

[2020-03-13 19:11] #2061 closed

[2020-03-13 23:30] neolit123 commented on #2061
Ok, looks like it was the psp that was blocking the mirror pod. Happy this
is resolved.

[2020-03-16 14:18] fabriziopandini commented on #2059
xposting here from google doc comments:
I think it is important to scope down this work of this work WRT to the kubeadm design principles:
1. kubeadm should remain agnostic to LB solutions
2. kubeadm should remain focuses on doing node bootstrap

This work is about exploring another alternative for HA deployments without the need for additional machines external LB, and to identify required change

[2020-03-16 15:38] harshsingh1002 opened #2062 "curl to the Pod IP is not working"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-03-16 15:43] neolit123 commented on #2062
hi, please use the support channels to get support:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-03-16 15:43] #2062 closed

[2020-03-16 16:11] fabriziopandini commented on #1920
/close
I will reconsider this as soon as the work on the operator takes new strength

[2020-03-16 16:11] #1920 closed

[2020-03-17 09:09] deshui123 opened #2063 "Does kubeadm support IPv6-only?"
## What keywords did you search in kubeadm issues before filing this one?

IPv6-only

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[root@henry-1972-cs-01 ~]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", Buil

[2020-03-17 12:38] neolit123 commented on #2063
it does, in fact we have ipv6 test signal from clusters created with kind.
https://k8s-testgrid.appspot.com/sig-testing-kind

any platform.

i think special docs are not needed as ipv6 is just supported transparently - in the lines of changing all your ipv4 addresses to ipv6. this is mentioned briefly here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubead

[2020-03-17 12:38] #2063 closed

[2020-03-17 22:22] vincepri commented on #2058
/cc

[2020-03-18 02:28] #2056 closed

[2020-03-18 09:36] deshui123 opened #2064 "Cann't curl service using clusterIP of nodeIP"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[root@henry-dual-cs-01 ~]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:12:12Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd

[2020-03-18 13:33] neolit123 commented on #2064
hi, please use the support channels for questions like this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you find a bug with kube-proxy / IPVS, please log a ticket in kubernetes/kubernetes and tag it with `/sig network`

if you find a bug with Calico log an issue in their repository.

thanks

[2020-03-18 13:33] neolit123 commented on #2064
/close

[2020-03-18 13:33] #2064 closed

[2020-03-18 13:57] deshui123 commented on #2064
I don't think this is kubernetes issue.
all kubernetes parameters are from kubeadm.yaml
If there is wrong configuration, need to modify kubeadm.yaml. That's why I  open this ticket.

[2020-03-18 14:21] neolit123 commented on #2064
that is why we have the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

also #kubeadm on k8s slack.

if there is clear evidence for a kubeadm bug we can log a ticket here.

[2020-03-18 15:54] neolit123 commented on #1040
the proposal in this doc mostly staled at this point. i can still see some benefit of allowing patches from the CLI vs having a 100 flags.

[2020-03-18 16:52] neolit123 commented on #2059
/kind documentation
related to:
https://github.com/kubernetes/kubeadm/issues/1685
(^ but this is mostly about cloud provider LBs)

[2020-03-18 17:04] fabriziopandini commented on #2059
Key points to be addressed are:
- how to make the VIP solution works well on the init/join workflow
- to define the lifecycle of the VIP solution (upgrades, but also changes to control plane)
- how to make ^^ generic enough to be LB agnostic
- how to implement in kubeadm extension points/hooks to trigger ^^

Given the fact those points are complex and require more design, I'm +1 to adopt an increm

[2020-03-18 22:37] neolit123 opened #2065 "misleading warning on control-plane join"
if a `--config` JoinConfiguration is provided on `kubeadm join` such as:

[code]

without a `--control-plane` flag, the following warning will be printed:

but a control-plane will join fine, while also downloading the certificates using the cert key.

as context we had the discussion about this warning here:
https://github.com/kubernetes/kubernetes/pull/83661

the warning comes from:
https://gith

[2020-03-19 00:23] neolit123 commented on #2065
we are doing some weird things:

1) populate a public type with a place holder JoinControlPlane struct (JCP):
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/join.go#L298

2) place some user flags over the JCP:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/join.go#L230-L243

3) nil-the same values JCP if `--control-plane` is not passed:
https://g

[2020-03-19 00:59] artisticcheese opened #2066 "kubelet cgroup driver: "systemd" is different from docker cgroup driver error"
## What keywords did you search in kubeadm issues before filing this one?

 failed to create kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.17.3
**Environment**:
- **Kubernetes version** (use `kubectl version`):
1.17.3
- **Cloud provider or har

[2020-03-19 01:22] neolit123 commented on #2065
@fabriziopandini @rosti
this is what i came up with:
https://github.com/neolit123/kubernetes/commit/9cd33d62322de9cf0e066a6be2b7389a76a16b78

not very proud of it, but it works.

[2020-03-19 01:30] neolit123 commented on #2066
hi, this is something we get often.
but until now we have not confirmed a kubeadm bug.

- the kubelet has a default cgroup driver of `cgroupfs` if your docker driver is different and if you are not passing `--cgroup-driver=<yourdockerdriver>` to the kubelet it will fail.
- that is why, when `kubeadm join` or `init` are called they run `docker info` and look at your docker cgroup driver. then write

[2020-03-19 01:32] artisticcheese commented on #2066
When I reboot machine docker starts with `Cgroup Driver: cgroupfs`, once I issue restart `service docker restart` it actually switches to systemd. I did not modify `daemon.json` between restarts.
Contents of kubelet config is `KUBELET_KUBEADM_ARGS="--cgroup-driver=systemd --network-plugin=cni --pod-infra-container-image=k8s.gcr.io/pause:3.1 --resolv-conf=/run/systemd/resolve/resolv.conf"
`

[2020-03-19 01:38] neolit123 commented on #2066
this seems like an issue with the docker service? i have no explanation of why this happens, but this is not a kubeadm or kubernetes bug. try searching online for a solution.

in any case, the [recommend cgroup driver](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-drivers) from the kubeadm maintainers is `systemd`, that is if you running the kubelet using the s

[2020-03-19 01:38] #2066 closed

[2020-03-19 10:29] rosti commented on #2065
Let me TAL, the first 3 are necessary. 4 is a bit surprising and probably wrong. Fixing it should amount to just shifting a few LOC further down in `newJoinData`

[2020-03-19 10:38] fabriziopandini commented on #2058
I'm leaning toward extending our ImageMeta struct with a new ImageSuffix field.
The main difference between ImageTag and ImageSuffix is that the first is replacing the kubeadm generated tag, and this has side effects like e.g. blocking for upgrades.
Images, suffix instead is going to simply amend kubeadm generated tags, and so upgrades will just works.
The tricky part here is to implement a librar

[2020-03-19 11:03] rosti commented on #2065
So, rolling back to the 1.13 days, `--control-plane` (or `--experimental-control-plane` as it was called back then) was used solely to setup the `JoinControlPlane` struct of the command line when passed. It literally did nothing else. I suggest we get back to a similar scheme.

https://github.com/kubernetes/kubernetes/blob/c27b913fddd1a6c480c229191a087698aa92f0b1/cmd/kubeadm/app/cmd/join.go#L195

[2020-03-19 13:10] neolit123 commented on #2058
for the time being, my idea is in the lines of the following:
- apply some non-strict requirements of how the user tags for (e.g) etcd are formatted. allowed formats:
  - `semver` (default, no metadata)
  - `semver-revision` (with metadata revision maintained by k8s)
  - `semver-vendor.revision` (with vendor metadata, revisions maintained by vendor)
- if the user feeds a tag that does not comply w

[2020-03-19 14:26] fabriziopandini commented on #2058
it seems a little bit tangled to me.
what about considering what is after - a prerelease version and simply use alphabetical order when doing comparison as per https://semver.org/#spec-item-9

[2020-03-19 14:56] neolit123 commented on #2065
one issue with the old way or the proposed separate JCP here:
https://github.com/neolit123/kubernetes/commit/9cd33d62322de9cf0e066a6be2b7389a76a16b78

is that we have to default the flags attached to a struct our self. only the BindPort matters here but if there were more flags, we can end up with drift in the defaulting. i'm still leaning towards employing the pattern of a whole separate defaulte

[2020-03-19 15:05] neolit123 commented on #2058
we can do alpha-numeric comparison for k8s revisions:
`etcd:v3.4.4-0` -> `etcd:v3.4.4-1` would be a valid upgrade. as the string comparison passes `"-1" >"-0"`

how about if the current image is `etcd:v3.4.4-vendor.3` and kubeadm wants to upgrade to `etcd:v3.4.5-0` which is hardcoded in the binary? i think the right thing to do is to upgrade to `etcd:v3.4.5-vendor.0`

[2020-03-19 16:50] BenTheElder commented on #1682
It continues to confuse kind users that this does not work.

Being able to patch Kubelet flags per node only is a terrible place to be in with things moving to component config.

I don't think "t-shirt sizes" is relevant at all, I could pick a different "t-shirt size" for every single node...

kubeadm should _enable_ users to do what they need.

[2020-03-19 17:28] sheer-lore commented on #1361
@provgregoryabdo the `phase` commands moved out of alpha and to init in later versions so you can use something like
[code]
@adoerler thanks for the help!

[2020-03-19 17:54] neolit123 commented on #1682
might be a good idea to document this until the solution is available.
we are not seeing this issue in the kubeadm repository, so maybe it should be in the kind troubleshooting guide temporary.

[2020-03-19 19:10] BenTheElder commented on #1682
how are other kubeadm users doing e.g. node labels? what about cluster API machinesets?

I would guess almost everything is relying on patching the flags, which is not a viable path forward as the rest of the project pushes component config.

If we're against supporting this in kubeadm I'm incline to simply provide higher level kubelet config patching and steer users this way, there are many reaso

[2020-03-19 19:27] neolit123 commented on #1682
for the time being the kubeadm developers are busy with higher priority tasks.
in fact, the last few weeks "kubeadm developers" == me, mostly.

AFAIK, `--node-labels` and `--node-ip` are CLI flags only and are not present in the KubeletConfiguration (because they are not "cluster-wide"). like i've mentioned today in the kind ticket, next to kubeadm supporting this per node, the kubelet needs a bit

[2020-03-19 20:06] BenTheElder commented on #1682
Er to be clear I'm not asking anyone to sign up to build this right now,
but I'm reading the above discussion as we won't enable this *ever* in
which case we'll need to better enable alternatives.

Agree on kubelet redesign. GKE is an old example of this not being cluster
wide. I'm guessing there it is done via CCM/GCM.

On Thu, Mar 19, 2020, 12:27 Lubomir I. Ivanov <notifications@github.com>
wrot

[2020-03-19 20:10] neolit123 commented on #1682
people like mtaufen and rosti in WG Component Standard are working on instance specific component config.

maybe we can enable the KubeletConfiguration next to JoinConfiguration for `kubeadm join`, but the argument above in the above comments is that we have no idea how to upgrade this existing config with the one that comes from the cluster during `kubeadm upgrade`.

[2020-03-20 06:30] oneoneonepig commented on #1353
Hi, I'm still getting the same error message while performing `kubeadm join --control-plane ...`
I'll have to update the ConfigMap, apply taint and labels to the second master node manually.

I'm following the steps specified here -> [kubeadm/high-availability](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/)
Images are pre-pulled and the only operation don

[2020-03-20 14:32] rosti commented on #1862
My bet here is that we should probably stop using a DaemonSet for the job. We should probably reuse the ImagePullCheck on each node.

[2020-03-22 02:40] sarath4 opened #2067 "kubeadm upgrade plan failed with kubeadm-config not found v1.17.3 to v1.17.4"
[root@master ~]# kubeadm upgrade plan
[upgrade/config] Making sure the configuration is correct:
[upgrade/config] Reading configuration from the cluster...
[upgrade/config] FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -oyaml'
[upgrade/config] FATAL: failed to get config map: configmaps "kubeadm-config" not found
To see the stack trace of this error execu

[2020-03-22 09:50] SataQiu commented on #2067
I tested it on CentOS and it looks fine.
[code]

[2020-03-22 16:53] dnaeon opened #2068 "kubeadm: creating new v1.17.4 cluster cannot start kube-apiserver pod after reboot of node"
## What keywords did you search in kubeadm issues before filing this one?

`apiserver`, `CreateContainerError`

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:

* Arch Linux
* 2 CPUs
* 4 GB of memory
* Single-node control plane cluster

Docker info.

[code]

- **Kubernetes version** (use `kubec

[2020-03-23 08:01] dnaeon commented on #2068
Note that removing the offending Docker container and deleting the `kube-apiserver` pod manually fixes the issue, but I'd like to understand how to fix this permanently, so I don't have to workaround this manually after each node reboot.

[2020-03-23 12:19] neolit123 commented on #2067
/triage needs-information

if `kubectl -n kube-system get cm kubeadm-config -oyaml` also returns that the ConfigMap is missing it must be a problem with your cluster. there is no process in kubeadm that deletes this ConfigMap and it is managed for the lifespan of the cluster; something must have deleted it.

[2020-03-23 12:22] neolit123 commented on #2068
hi, in any case the kube-apiserver should not be panicing.
please close this ticket and open it in the kubernetes/kubernetes repository, while tagging it with `/sig api-machinery` and `/kind bug`. this will allow the owners of the api-server and etcd integration to investigate the panic when they do triage.

thanks.

[2020-03-23 13:26] jeanluclariviere opened #2069 "Updating imageRepository and kubeadm config upgrade does not update registry for etcd"
Opening this ticket as per https://github.com/kubernetes/kubernetes/issues/89366
## Versions

**kubeadm version** (use `kubeadm version`):
tested with kubeadm 1.15.5 and 1.16.4

**Environment**:
- **Kubernetes version** (use `kubectl version`):
1.15.5 and 1.16.4
- Cloud provider or hardware configuration:
on-prem, virtualized
- OS (e.g: `cat /etc/os-release`):
NAME="Red Hat Enterprise Linux Server

[2020-03-23 13:31] neolit123 commented on #2069
some notes:
- this could be a "trailing" bug caused by the 1.14->15->16 upgrades
- `--config` on upgrade is unsupported by the kubeadm team

i will assign @ereslibre as they have a similar use case:
/assign @ereslibre

[2020-03-23 13:48] jeanluclariviere commented on #2069
I undid the kubeadm upgrade apply --config kubeadm-config.yaml and re-ran the upgrade according to the supported manner. I edited the existing kubeadm-config configmap and re-ran the upgrade a la `kubeadm upgrade apply -f v1.16.4`

I think I've isolated the issue, I should have been more careful, re-reading the upgrade logs more carefully gives the following.

[code]

What I don't understand is th

[2020-03-23 14:14] jeanluclariviere commented on #2069
@neolit123 - I did some digging and it seems like this an additional symptom of https://github.com/kubernetes/kubeadm/issues/2058. Until this particular issue is addressed, using the upgrade command as a means of updating the imageRepository will trigger this, causing the repository not to get updated, which is incorrect.

As a workaround, I've tried manually editing the **/etc/kubernetes/manifest

[2020-03-23 14:23] dnaeon commented on #2068
@neolit123 submitted a new one here:

* https://github.com/kubernetes/kubernetes/issues/89368

Thanks!

[2020-03-23 14:23] #2068 closed

[2020-03-23 14:56] neolit123 commented on #2069
ok, i see what is happening now. this is caused by the `-0` bug mentioned in #2058.
thanks for confirming.

without the `-0` bug `--config` should work fine, but it still unsupported (and in fact dangerous in some cases). let's fold this issue in  #2058.

looks like the manual edit was successful: `Started container etcd`

[2020-03-23 15:53] jeanluclariviere commented on #2069
/reopen

@neolit123 Sorry to trouble you again, we may be be wrong. I just tested the upgrade in a 1.15.5 cluster and I do not encounter the -0 bug but the etcd image still does not update its repo.

Here is the output from the upgrade, notice there is no mention of the non-fatal error for etcd.

[code]

And finally, i can see the version of etcd that's running is still using the old repo:

<pre>

[2020-03-23 16:05] neolit123 commented on #2069
it should be used unless the user specified overrides under the `etcd:` field.

if the image in etcd.yaml on disk is using an image with registry X, the kubeadm upgrade command (without `--config`) should still technically generate a new etcd.yaml that uses the registry stored in the ClusterConfiguration and ignore the value in the yaml on disk.

i'm going to debug this later today.

[2020-03-23 16:12] jeanluclariviere commented on #2069
Thanks for confirming, appreciate you looking in to this - here i can see that all files are being updated except **etcd.yaml** during the upgrade:

[code]

[2020-03-23 16:12] tpepper commented on #1599
Discussed today in SIG Release meeting and consensus was reached to continue with these jobs as release informing until the underlying docker copy flake is understood (and hopefully fixed).

Rational for this includes:
 * while the test meets criteria to move to blocking, SIG Cluster Lifecycle resources are limited when it comes to truly root cause and fix the issue, so most likely outcomes of CI

[2020-03-23 16:46] neolit123 commented on #2069
we shouldn't be debugging 1.15* as it is going out of support with the release 1.18 (maybe tomorrow).
i'm going to verify if etcd.yaml is being updated with a custom registry for a 1.16->1.17 upgrade, where the etcd server version differs between releases:
https://github.com/kubernetes/kubernetes/blob/release-1.17/cmd/kubeadm/app/constants/constants.go#L422-L427

[2020-03-23 16:48] sarath4 opened #2070 "[root@kubemaster system]# ETCDCTL_API=3 etcdctl member list --endpoints=https://127.0.0.1:2379 --cacert=/etc/etcd/ca.crt --cert=/etc/etcd/etcd-server.crt --key=/etc/etcd/etcd-server.key {"level":"warn","ts":"2020-03-23T12:47:38.622-0400","caller":"clientv3/retry_interceptor.go:62","msg":"retrying of unary invoker failed","target":"endpoint://client-99894cc2-a3c5-4ecf-b869-52c4d121fc1b/127.0.0.1:2379","attempt":0,"error":"rpc error: code = DeadlineExceeded desc = latest connection error: connection error: desc = \"transport: Error while dialing dial tcp 127.0.0.1:2379: connect: connection refused\""} Error: context deadline exceeded [root@kubemaster system]#"
Am trying to configure kubernetes hardway while setup the etcd cluster.
My configuration:
[root@kubemaster system]# cat etcd.service
[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd
  --advertise-client-urls=https://192.168.86.128:2379
  --cert-file=/etc/etcd/etcd-server.crt
  --client-cert-auth=true
  --data-dir=/var/lib/etcd
  --initial-adv

[2020-03-23 16:59] neolit123 commented on #2070
hi, this is the kubeadm repository.
we do not support the "kubernetes the hard way" guide. for related questions, please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
/close

[2020-03-23 16:59] #2070 closed

[2020-03-23 17:01] jeanluclariviere commented on #2069
That makes sense, we're looking to get our clusters upgraded to 1.16-1.17 anyway, but the hope was to start leveraging our private image registries instead of preloading images on all the nodes - we're mostly on-prem / offline installs and upgrades.

[2020-03-23 17:25] neolit123 commented on #2069
my test:
- created a kubeadm cluster with 1.16.9 using this config:
[code]
- modified the kubead-config CM to have `imageRepository: gcr.io/google_containers`
- installed kubeadm 1.17.3
- ran `kubeadm upgrade apply v1.17.3`
- checked the images in the manifests files:
[code]

as you can see the registry was applied correctly on upgrade.

/priority awaiting-more-evidence
/remove-priority backlog

[2020-03-23 17:34] jeanluclariviere commented on #2069
Thanks for the update. The only difference I see here is that you are upgrading to 1.17, whereas I am not performing an actual upgrade. My cluster is 1.16.4, and all i'm trying to do is update the config, not the cluster to a new version, so i'd simply run `kubectl upgrade apply -f v1.16.4`

[2020-03-23 17:45] neolit123 commented on #2069
ok, in the case of same k8s version, this can happening because `kubeadm upgrade` will skip the etcd upgrade and not write a new etcd.yaml if the etcd version is the same (obviously the same between 1.16.4 and 1.16.4).

like mentioned already `kubeadm upgrade` should not be used for cluster reconfiguration and this is noted in our docs:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kube

[2020-03-23 17:45] #2069 closed

[2020-03-23 21:35] xyzxyxzxzxyz opened #2071 "`kubeadm join --control-plane` not working for a restored cluster (waiting for the new etcd member to join the cluster)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

## What happened?

I have a multimaster cluster on two c

[2020-03-23 22:42] neolit123 commented on #2071
hi, note that when you are restoring etcd from backup, you must restore this snapshot to all control-plane nodes and not only on one of them. so you must stop etcd on both CP nodes and then restore.

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster

this doesn't look right. why is node1 registered as localhost instead of 10.72.0.46?

what is the et

[2020-03-23 22:42] neolit123 commented on #2071
/triage support
/area etcd

[2020-03-24 02:43] briantopping opened #2072 "Unable to add second control plane node w 1.17.4"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.4", GitCommit:"8d8aa39598534325ad77120c120a22b3a990b5ea", GitTreeState:"clean", BuildDate:"2020-03-12T21:01:11Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl versio

[2020-03-24 15:07] neolit123 commented on #2072
hi, just to point out that most of the kubeadm e2e tests are multi-control-plane setups with stacked etcd:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm

we have users using kubeadm HA setups in production, so it must be an issue in your setup.

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-tls-bootstrapping/#bootstrap-initialization

TLS boostrap is th

[2020-03-24 16:04] briantopping commented on #2072
Yes, I should have prefaced with that. I'm also clear that there is some edge case that my environment is evoking, just not clear what it is and digging in the code has only produced more questions. I've even gone so far as to change the configuration of `kube-apiserver` (with the existing etcd endpoint) as the TLS bootstrap begins to see if it would "break through" the logjam, but nothing so simp

[2020-03-24 17:05] neolit123 commented on #2072
i think you need to understand why this is happening. you can also try adding a member manually and joining it to the cluster using `etcdctl`.

that might not be that easy, because we are using the tool `kinder` which does not allow cluster-configuration.

you might be able to use `kind` though. google for `k8s kind` will give you the project page.
it's a local "docker in docker" type of deploymen

[2020-03-24 18:15] briantopping commented on #2072
Ah, I didn't parse that earlier, thanks.

There's definitely a usability issue. Maybe one could call the improvement of notification in a failure to install a "feature request", but it's still failing to install with unknown cause. Some call that a bug, it's just semantics. I'm not asking for support here and certainly didn't want to waste your time! But I am grateful for your explanation of when

[2020-03-24 18:55] neolit123 commented on #2072
kubeadm exposes the means for customization of a Kubernetes deployment, but this also allows the users to deploy a broken setup in many different ways. piping the error messages from component to the kubeadm output is a non-goal, so one has to look at what the component are reporting: local etcd server, kubelet, api-server, etc.

[2020-03-24 21:15] asteven commented on #1318
How comes a simple issue like this can not be solved for more then 2 years?
The proposals in this [doc](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.fe635to7ezlu) make sense, not?

kube-proxy is a addon. If I don't want it I should be able to specify that in a config file.
Problem solved. Why is it so complicated to get this done?

[2020-03-24 21:25] neolit123 commented on #1318
it was scheduled for 1.18, but i assume @Klaven who signed up to help with this ran out of bandwidth.

the phase implementation itself is fairly straight forward, unfortunately the `upgrade apply` command has a lot of technical depth that had to be resolved first.

Problem solved. Why is it so complicated to get this done?

the optional kube-proxy installation cannot be part of the kubeadm config

[2020-03-24 21:29] rmb938 commented on #1318
@asteven If you need a simple fix I put the following into my kubeadm config

[code]

This makes kube-proxy crash and not actually mess with anything. So a simple delete of the daemonset is all that is needed after an upgrade.

It's not pretty but it's worked for me.

[2020-03-24 21:45] asteven commented on #1318
Not sure why kubeadm should not be allowed to know about kube-proxy. If it installed it during `kubeadm init`, then `kubeadm upgrade` should be able to take what init did and use that as the base to decide what 'upgrade' means. Not? Either this or kubeadm upgrade has to inspect what's there and only upgrade that. Anything else seems to be fundamentally broken.

Isn't this the same pattern that mos

[2020-03-24 21:46] asteven commented on #1318
Thanks, will try this.

[2020-03-24 22:01] neolit123 commented on #1318
with some of the changes around CNI implementing their own proxy, kube-proxy one day might not be deployed by default by kubeadm. it is not desired to add a related field for that as part of the API if the API has to later change.

for phases we have more flexibility.

this was proposed, but rejected as the `upgrade apply` phase solution would have explicitly allowed the user to skip the re-deploy

[2020-03-24 22:08] asteven commented on #1318
@neolit123 Thanks for taking the time to answer.
I think now I understand why it's taking so long ;-)
I have my workaround, moving on with that.

[2020-03-24 23:56] kamikaze commented on #1295
unable to run on alpine as well :(

[2020-03-25 01:01] PhoenixMage commented on #1295
I am using k8s on Alpine (a single cluster running on x86_64, armv7 and aarch64) as a work around when joining a node to a cluster I manually restart kubelet when it fails, seems to only be needed to be done once.

[2020-03-25 14:23] xyzxyxzxzxyz commented on #2071
1) Restoring etcd from backup

I am not using external etcd cluster, so kubeadm create an etcd static pod and I cant start this pod manually. So I am not sure I can "restore this snapshot to all control-plane nodes". For example, I cant run `kubeadm init --ignore-preflight-errors=DirAvailable--var-lib-etcd --config=kubeadm.yaml` on all control-plane nodes, can I?

So I decided to try `kubeadm init

[2020-03-25 15:13] neolit123 commented on #2071
to restart etcd on a stacked etcd control-plane instance (not external etcd) you just need to delete the etcd mirror pod. the alternative is to temporary move the /etc/kubernetes/manifests/etcd.yaml (for about 20 seconds).

[2020-03-25 15:54] xyzxyxzxzxyz commented on #2071
But the problem is that we cannot rejoin a control-plane node

[2020-03-25 16:00] neolit123 commented on #2071
this seems related.

[2020-03-25 19:15] neolit123 opened #2075 "remove the explicit NodeRestriction admission plugin flag"
NodeRestriction is enabled by default:
https://github.com/kubernetes/kubernetes/blob/fdb2cb4c8832da1499069bda918c014762d8ac05/pkg/kubeapiserver/options/plugins.go#L125

https://github.com/kubernetes/kubernetes/blob/9d1179360cfc9fb6e905252cccd482b987d45393/CHANGELOG/CHANGELOG-1.7.md#node-authorization

we can remove the explicit `--enable-admission-plugins=NodeRestriction`

requires changes in:
htt

[2020-03-25 19:19] neolit123 commented on #2075
actually never mind, it's not enabled by default...
https://github.com/kubernetes/kubernetes/blob/fdb2cb4c8832da1499069bda918c014762d8ac05/pkg/kubeapiserver/options/plugins.go#L147-L164

/close

[2020-03-25 19:19] #2075 closed

[2020-03-25 23:13] neolit123 opened #2076 "1.19: Housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.
**It tracks the upcoming release of Kubernetes 1.19 (1.x)**

same issue for 1.18 (see example PRs):
https://github.com/kubernetes/kubeadm/issues/1963

_When the first 1.x tag is created_
- [x] [@fabriziopandini] drop kinder support for 1.x-4:
https://github.com/kubernetes/kubeadm/pull/2088

_When 1.x-1.1 patch

[2020-03-25 23:13] neolit123 commented on #1963
/close

[2020-03-25 23:14] #1963 closed

[2020-03-26 02:27] rodrigc commented on #1264
@pstrive I ran into a similar issue as you.  I set up a Kubernetes cluster with kubespray
in an airgapped environment, and each machine did not have a default route.

I had these statically configured IP addresses:

[code]

The CoreDNS pod was unable to access 10.233.0.1 which is the kubernetes api server in my cluster.  I managed to work around this problem by logging into each of my worker nodes

[2020-03-26 09:32] cjreyn opened #2077 "Kubelet 'failed to get cgroup stats for "/system.slice/kubelet.service"' error messages"
## BUG REPORT

## Versions

**kubeadm version** : 1.17.3

**Environment**:
- **Kubernetes version** : 1.17.3
- **Cloud provider or hardware configuration**: on prem Dell R740XD
- **OS** (e.g. from /etc/os-release): RHEL 7.7
- **Kernel** (e.g. `uname -a`): 3.10.0-1062.12.1.el7.x86_64
- **Others**: docker-ce 19.03.7-3.el7.x86_64

## What happened?
Kubelet is printing regularly to the logs:
`summary_

[2020-03-26 13:03] krjw commented on #2035
I got the same issue upgrading from 1.16.8 to 1.17.4. It is still running so I cannot send any further info at the moment.

[2020-03-26 14:35] voodoonofx commented on #1026
Had the same issues today after editing the service-cidr settings on my new kube cluster. The issue for me was the kube-apiserver docker container was flapping. After looking at the logs using docker logs <container_id>, I saw:
`Error: error determining service IP ranges for primary service cidr: The service cluster IP range must be at least 8 IP addresses.`
I had though I could provision a smalle

[2020-03-26 16:41] neolit123 commented on #1026
not sure if related but note that 1.17.0 has CIDR related bugs, so hopefully you are running a more recent patch of .17.

[2020-03-26 16:51] neolit123 commented on #2077
the RPM specs are here:
https://github.com/kubernetes/release/tree/master/cmd/kubepkg/templates/latest/rpm

is this solution working for you:
https://github.com/kubernetes/kops/issues/4049#issuecomment-354539302
?

/priority backlog
/kind bug

[2020-03-26 16:53] neolit123 commented on #2077
or does any of the proposed solutions in https://github.com/kubernetes/kops/issues/4049 work for you?

[2020-03-26 16:59] danielsand commented on #1062
make sure that you follow the procedure then the error doesnt occour
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o

[2020-03-26 17:53] rosti opened #2078 "kubeadm panic on CoreDNS upgrade"
Latest vanilla master crashes upon upgrade

[code]

[code]

/kind bug
/priority critical-urgent
/assign

[2020-03-26 17:57] neolit123 opened #2079 "1.18 joining nodes need RBAC that is missing in a 1.17 cluster"
## workaround

call `kubeadm init phase bootstrap-token` before joining 1.18 nodes.

or see the alternative here:
https://github.com/kubernetes/website/pull/19868/files

---

reported here:
https://github.com/kubernetes/kubernetes/issues/89501

cc @kvaps @ajs11174

[2020-03-26 18:11] cjreyn commented on #2077
No, this workaround is not recommended. See here for why: https://github.com/kontena/pharos-cluster/issues/440#issuecomment-399014418 Their proposed modification is to add the following to the systemd service file:

CPUAccounting=true
MemoryAccounting=true

When I do this, and reboot, the problem persists.

Maybe the rpm spec should have something that makes kubelet start after docker? Simply rest

[2020-03-26 18:18] cjreyn commented on #2077
For reference, kubelet cgroup driver is the same as Docker:
[code]
[code]

[2020-03-26 18:50] neolit123 commented on #2077
does it happen with the systemd cgroup driver?
(throwing random ideas out there)

[2020-03-26 20:07] neolit123 commented on #2079
PR with the fix is here:
https://github.com/kubernetes/kubernetes/pull/89537

but this also needs a mention in the docs about immutable upgrades, where the workaround (see OP) is still required.

[2020-03-26 21:45] briantopping commented on #2072
The problem that I believe I have found is the failure occurs when the bind/advertise interfaces are non-default. In that case, the init node must have `bind-address` explicitly specified so that it does not try to use `advertise-address`, which is managed by HAProxy/Keepalived. Use of these two will cause `kubeadm-config` to store both of these addresses.

When the joining node comes online, it f

[2020-03-26 21:56] neolit123 commented on #2072
the lack of configuration per joining node is certainly problematic and we have plans to extend that in the future with instance specific configuration. not clear when this will happen and how as this is difficult.

kubeadm has its ClusterConfiguration as it's source of truth for all control plane members and it partially makes the naive assumption that control-plane nodes are replicas.

this will

[2020-03-26 21:56] #2072 closed

[2020-03-26 21:56] briantopping commented on #2072
Where is this being tracked?

[2020-03-26 21:59] neolit123 commented on #2067
please provide more detail if needed.

[2020-03-26 21:59] #2067 closed

[2020-03-26 22:01] neolit123 commented on #2065
/lifecycle active
/assign

[2020-03-26 22:58] #2078 closed

[2020-03-26 23:29] brokenjacobs opened #2080 "Multiple nodes in cluster have kubelet certificate that is not signed by kubernetes ca"
## What keywords did you search in kubeadm issues before filing this one?
kubelet certificates

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
Vmware vsphere 6.7u3
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
``` 3.10.0-1062.18

[2020-03-26 23:30] neolit123 commented on #2072
i do not disagree that it is a usability issue, for the kubeadm HA support.
this is one of the things we have to resolve before getting HA to GA.

in terms of documentation, for the kubelet, the following is not documented and should be logged as a ticket in kubernetes/kubernetes and tagged as `/sig node`:

https://github.com/kubernetes/kubernetes/blob/562a420d86cbe3845835e89bcda77c1f4c35904d/pkg/

[2020-03-26 23:37] neolit123 commented on #2080
can you please show the exact message?

kubelet-client-current.pem: O = system:nodes, CN = system:node:den-k8smaster2-1.ci.neoninternal.org
error 7 at 0 depth lookup:certificate signature failure

kubeadm does not manage these files. they are managed by the kubelet. all kubeadm is doing is enable client certificate rotation for the kubelet -> api-server communication.

Qs:
- is kubelet-client-curr

[2020-03-26 23:38] neolit123 commented on #2080
/triage needs-information

[2020-03-27 00:29] brokenjacobs commented on #2080
I am rebuilding these vm's from scratch right now. I did a kubeadm reset between rebuilds and I'm wondering if something stuck around.

I'm going to check the certs after bootstrap on each node and see what happens. If the error happens again I'll bring the apiserver error messages back and report here.

[2020-03-27 00:32] neolit123 opened #2081 "tracking issue for HA to GA"
long term we need to enumerate what tasks remain for HA support to be considered GA by the kubeadm project.

some ideas:
- more robustness for etcd e.g. using learner mode:
https://github.com/kubernetes/kubeadm/issues/1793
- instance specific component config?
https://github.com/kubernetes/kubeadm/issues/1682
- ?

--------

tracking issue at k/e:
https://github.com/kubernetes/enhancements/issues/3

[2020-03-27 03:43] brokenjacobs commented on #2080
After a rebuild and letting things sit for a bit I can't reproduce. I'm calling this an artifact of improper cleanup and moving on. Closing.

[2020-03-27 03:43] #2080 closed

[2020-03-27 06:24] briantopping commented on #2072
Thanks @neolit123, that gets me through what I need to know about addressing. I understand now why it's not worth fixing docs when ComponentConfig is nearly complete and going to deprecate everything. I apologize if that was frustrating, it's been a couple of weeks of dead ends here so I get it.

[2020-03-27 08:55] onesolpark commented on #2077
This does happen from time to time. It's different from the other cgroup driver `systemd` related error.

It's really hard to reproduce but rarely happens when you start docker and kubelet at the 'same' time. (e.g. Node reboot)

kubelet is trying to get stats from docker.service and can't get it,
but `/system.slice/docker.service` can be found through commands like `systemd-cgls`

You can resolve

[2020-03-27 12:14] #2029 closed

[2020-03-27 14:16] neolit123 commented on #2077
i think the kubelet should just retry for the container runtime to be ready, if it's not doing that let's file a kubernetes/kubernetes bug and tag it with `/sig node`.

one possibility is that we can do:
https://stackoverflow.com/questions/43001223/how-to-ensure-that-there-is-a-delay-before-a-service-is-started-in-systemd

but i think the kubelet should be adaptable instead..

/sig node

[2020-03-27 14:24] #2079 closed

[2020-03-27 19:22] neolit123 commented on #1318
PR for that:
https://github.com/kubernetes/kubernetes/pull/89593

because we don't know when the phases will come around, this will be added to 1.19.0, but cannot be backported..

[2020-03-28 11:47] zillani commented on #338
**Worked for me thanks**

Only thing is you need to use
[code]

For latest kubectl versions

[2020-03-29 05:31] echel0n commented on #541
This issue is still present in v1.17

[2020-03-29 05:32] tedbrunelle opened #2082 "New HA setup - kubelet_node_status.go:294] Setting node annotation to enable volume controller attach/detach"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm "Setting node annotation to enable volume controller attach/detach" HA, etcd

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS**

[2020-03-29 05:34] tedbrunelle commented on #2082
kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:56:30Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}

root@kube-etcd1:/# docker -v
Docker version 19.03.8, build afacb8b7f0

[2020-03-29 06:04] wangjian138 opened #2083 "User "system:bootstrap:9nx9kc" cannot get resource "nodes" in API group "" at the cluster scope"
User "system:bootstrap:9nx9kc" cannot get resource "nodes" in API group "" at the cluster scope

[2020-03-29 08:22] #2083 closed

[2020-03-29 11:02] fabriziopandini commented on #2076
@neolit123 this list should be amended by adding a new task for removing support for v -4 from kinder

[2020-03-29 15:32] wakeupcolumn commented on #556
What is the fix that you did on the proxy ?

[2020-03-29 19:45] neolit123 commented on #2076
@fabriziopandini updated.

[2020-03-29 20:38] neolit123 commented on #2082
did you switch your cgroup driver after creating the cluster? this is a bad idea.
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-drivers

[*] it's difficult to recover from this, so this cluster should be recreated at this point...

this is not something that kubeadm manages.

there seem to be errors starting the etcd pod. can be caused by [*].
what is the outpu

[2020-03-29 20:43] neolit123 commented on #2083
should be fixed in 1.18.1
in the meantime you can call `kubeadm init phase bootstrap-token` to fix this.

[2020-03-29 20:46] neolit123 commented on #541
as per the original description of this ticket:

this is not supported. kubeadm regenerates new manifest files on upgrade.
you have the option to use the kubeadm config or --experimental-kustomize (ALPHA!).

[2020-03-30 03:26] echel0n commented on #541
Just so others know, I edited the config using `kubectl -n kube-system edit cm/kubeadm-config`

[2020-03-30 14:35] fabriziopandini opened #2091 "Increase robustness for kubeadm join TLS bootstrap"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: kubeadm v1.17.*

## What happened?
While executing Cluster API tests, in some cases it was observed kubeadm join failures immediately after printing:
[code]
xref https://github.com/kubernetes-sigs/cluster-api/issues/2769

## What you expected to happen?
To make kubelet-start more resilient by:
1. increasing t

[2020-03-30 14:35] fabriziopandini opened #2092 "Add retries for kubeadm join / UpdateStatus"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: v1.17.*

## What happened?
While executing Cluster API tests, in some cases it was observed kubeadm join failures when updating the kubeadm-config config map

xref https://github.com/kubernetes-sigs/cluster-api/issues/2769

## What you expected to happen?
To make update status more resilient by adding a retry

[2020-03-30 14:35] fabriziopandini opened #2093 "Add retries for kubeadm join / MarkControlPlane"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: v1.17.*

## What happened?
While executing Cluster API tests, in some cases it was observed kubeadm join failures when adding the master label to the joining node.

xref https://github.com/kubernetes-sigs/cluster-api/issues/2769

## What you expected to happen?
To make mark control plane more resilient by add

[2020-03-30 14:35] fabriziopandini opened #2094 "Increase robustness for kubeadm join / add etcd"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**: v1.17.*

## What happened?
While executing Cluster API tests, in some cases it was observed kubeadm join failures when waiting for  the new etcd member to report healthy state.

xref https://github.com/kubernetes-sigs/cluster-api/issues/2769

## What you expected to happen?
To add new etcd member more resilie

[2020-03-30 14:36] fabriziopandini opened #2095 "kubeadm-join: don't re-add etcd member if it already exists"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version**: v1.17.*

## What happened?
While executing Cluster API tests, in some cases it was observed kubeadm join failures.

xref https://github.com/kubernetes-sigs/cluster-api/issues/2769

## What you expected to happen?
I would like to re-run kubeadm join and the command to complete the join process and this b

[2020-03-30 15:23] tedbrunelle commented on #2082
Hi,
I did a "kubeadm reset", then switched from the cgroup driver to systemd, then performed the mentioned initialization and attempted join.
When I ran:
kube-etcd1:~$ kubectl get po -A
I get:
<pre>
error: no configuration has been provided, try setting KUBERNETES_MASTER environment variable
</pre>

RE: _if your etcd pod is running are you sure you are passing the right IP?_
I'm passing the IP add

[2020-03-30 15:36] neolit123 commented on #2082
hi,

you need to run this on the control-plane node where you have the /etc/kubernetes/admin.conf

not clear. i suggest you clear the machines and start from scratch with a systemd cgroup driver.

we don't get many user reports about that guide so it seems to be working fine for people.

this seems like a support ticket. let's re-open a ticket if we find a bug in kubeadm or an issue with our docs.

[2020-03-30 15:36] #2082 closed

[2020-03-30 15:57] neolit123 commented on #2077
@cjreyn @onesolpark

please provide ideas what action item can be taken here:
- fix something in the kubelet?
- patch our DEB/RPM specs?

this doesn't seem like a kubeadm specific ticket, per se.

[2020-03-30 16:04] onesolpark commented on #2077
I agree that its not a kubeadm specific ticket per se
I don’t think putting something in systemd(dbm/rpm) spec is a good answer either.

Putting sleep might have some side effects e.g. slow node ready time and cant put start after docker because users can use other CRIs

I will gather some logs and a way to reproduce this and put in an issue to kubernetes repo and tag sig-node to have a better loo

[2020-03-30 16:06] neolit123 commented on #2077
seems good, please ping me on that ticket. thanks.
/close

[2020-03-30 16:07] #2077 closed

[2020-03-30 17:09] neolit123 opened #2096 "improve kubeadm's preflight and cluster health assurance"
with the recent failures that kubeadm exposed in cluster-api (see https://github.com/kubernetes-sigs/cluster-api/issues/2769) next to retries and generic robustness there is something else we can improve.

as suggested by @timothysc we have the potential of extending the kubeadm assurance that a cluster is a good state using preflight or a tool such as the [node-problem-detector (NPD)](https://git

[2020-03-30 17:58] cjreyn commented on #2077
I guess if the CRI is known to kubeadm at the time init is called, one could add the systemd directive to start kubelet after it?

After all, init is used to craft kubelet args which are pretty static.

Btw this happens to every node in our cluster.

[2020-03-30 18:02] neolit123 commented on #2077
ideally we would like to move away from writing the dynamic kubeadm-env file on init/join.
currently it holds flags for dockershim (which are only avail. as flags) and the rest should move to the KubeleConfiguration which is written to /var/lib/kubelet/config.yaml.

[2020-03-30 18:42] cjreyn commented on #2077
Is it safe/advisable to path the systemd service file for my CRI? Does it get altered during kubeadm upgrade?

[2020-03-30 18:44] neolit123 commented on #2077
kubeadm does not modify the kubelet.service. currently it only populates some flags in /var/lib/kubelet/kubeadm-flags.env

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/

[2020-03-30 18:55] cjreyn commented on #2077
From the systemd docs it looks like I can drop in a file named "11-kubeadm.conf" to append an "After=docker" to the service spec. This should be straight forward. Thanks for all your help!

[2020-03-30 19:33] neolit123 commented on #2077
we can add a note about this in: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/
but i'd want to get feedback from sig-node before that - re: the kubernetes/kubernetes ticket.

[2020-03-30 20:37] cjreyn commented on #2077
Makes sense. Thanks

[2020-03-30 23:28] neolit123 opened #2097 "container linux docs include invalid URLs"
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
container linux tab includes invalid links for the dropin/unit files.

these are now in https://github.com/kubernetes/release/tree/master/cmd/kubepkg/templates/latest

/kind documentation
/priority backlog
/assign

[2020-03-31 05:25] RA489 commented on #2097
I can take a look.

[2020-03-31 05:37] RA489 commented on #2076
/assign

[2020-03-31 11:47] blacksailer commented on #2035
Got same issue on 1.17.3 -> 1.18.0

[2020-03-31 11:49] neolit123 commented on #2035
my understanding was that this was fixed in 1.18.
can you show the output of the command with --v=5?

[2020-03-31 12:24] blacksailer commented on #2035
Surely, but it hangs, and give postupgrade error, so I just updated kubelet, I think that's it?
[code]

[2020-03-31 12:41] neolit123 commented on #2035
seems like a temporary timeout, but the error is not very descriptive.
try calling `kubeadm upgrade apply v1.18.0 -v=10` again and see if it passes.

note that kubelet upgrades should be applied only after `kubeadm upgrade...` has passed on all nodes.

[2020-03-31 19:23] neolit123 commented on #2097
i've sent a PR here as i had to also clean something else on the same page.

/lifecycle active

[2020-03-31 19:25] neolit123 commented on #2071
try the support channels for hopefully better help on cluster deployments:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you find a real kubeadm bug please fine a new ticket.

[2020-03-31 19:25] #2071 closed

[2020-03-31 22:04] dimm0 commented on #2054
I've hit this in 1.17.1, after master node rebooted
/var/lib/kubelet/pki/kubelet-client-current.pem is renewed. `kubeadm alpha certs check-expiration` says all are renewed. Is there anything else to renew?

Please help!

[2020-03-31 22:25] dimm0 commented on #2054
I manually copied the renewed cert and key from /var/lib/kubelet/pki/kubelet-client-current.pem to /etc/kubernetes/kubelet.conf, and it started. Phew!

[2020-03-31 22:27] neolit123 commented on #2054
instead of copying the cert/key inside the kubeconfig, see what is suggested here:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/#check-certificate-expiration

On nodes created with kubeadm init, prior to kubeadm version 1.17...

[2020-03-31 22:29] dimm0 commented on #2054
Ahh! I see, thanks!

[2020-04-01 05:34] RA489 commented on #2097
Thanks for filing the PR.

[2020-04-01 09:13] fabriziopandini commented on #1953
+1 on option 2

[2020-04-01 09:17] fabriziopandini commented on #2039
Uhhmm.. I see a different problem here.
`--cri-socket` flag should not be allowed when you are using `--config`

[2020-04-01 12:30] sbezverk commented on #1025
Have the same issue and the node where it happens went into NotReady state:
[code]
Running 1.18.0

[2020-04-01 12:50] mydockergit commented on #1283
Why do you want to remove it? How developers will be able to debug Kubernetes network ?  I am a developer and I can't debug it because the network is encrypted.

[2020-04-01 14:15] neolit123 commented on #2094
@fabriziopandini note there is already a ticket for learner mode here:
https://github.com/kubernetes/kubeadm/issues/1793

[2020-04-01 14:22] neolit123 commented on #1612
@Arvinderpal @aojea hi, are we going to see Beta graduation for this feature in core k8s for 1.19?

[2020-04-01 14:28] rosti commented on #2091
With my above message in light and with a proper clean environment (with kind) I figured out that the healthz check is not appropriate for us. In the kubelet that check is just a ping check (it will return 200 OK as long as the kubelet is running). Hence, it would return OK even if the kubelet is not bootstrapped yet.
However, due to the fact that `WaitForKubeletAndFunc` would return on any (not a

[2020-04-01 14:28] aojea commented on #1612
KEP is going to be updated soon , seems this is the intention https://github.com/kubernetes/kubernetes/pull/86895#issuecomment-606924359

[2020-04-01 14:31] neolit123 commented on #1612
thanks, @Arvinderpal would you be able to contribute any related changes to kubeadm for 1.19?

[2020-04-01 14:36] neolit123 commented on #2091
+1 waiting for the file to appear seems like a good indicator.
i don't think we have to validate the kubeconfig again, because we are doing that in the discovery part.

[2020-04-01 15:36] fabriziopandini commented on #2091
I'm not sure that getting read of WaitForKubeletAndFunc is the right thing to do.
As far as I understand, the current logics wait for the TLSBootstrapped, but if after some times the kubelet is not healthy, we exit fast.
So the healthz responding does not makes the wait loop to finish, but the healthz failing after a grace period of 40s yes
see also https://github.com/kubernetes/kubernetes/pull/89

[2020-04-01 15:49] blacksailer commented on #2035
Drained all nodes and upgrade each individually was successful

[2020-04-01 16:13] ereslibre commented on #1793
Some context on this: https://github.com/etcd-io/etcd/pull/11640, we might want to wait for an etcd version that includes this patch.

[2020-04-01 16:15] rosti commented on #2091
You can see the current implementation [here](https://github.com/kubernetes/kubernetes/blob/8ae26096f7714b8ba95f62cf5018073dde2d1dfb/cmd/kubeadm/app/util/apiclient/wait.go#L159). Basically it waits for the first func (between `waitForTLSBootstrappedClient` and `WaitForHealthyKubelet`) to finish and then it returns.

With the current behavior of kubelet's healthz probe and in the case of slow API S

[2020-04-01 16:17] Arvinderpal commented on #1612
@neolit123 I have not been following the recent developments in dual-stack; however, if there are specific kubeadm changes needed, I can certainly make the time to help.

[2020-04-01 17:07] ereslibre commented on #2096
As we have discussed on the kubeadm office hours, the fact that this check passes does not ensure that later on you'll have inestability.

Usually, kubeadm users will relay on an external load balancer, that is where kubeadm will point to, and we cannot control how this load balancer is set up or managed -- thus, we cannot control its behavior. So from the kubeadm side, we could try a number of re

[2020-04-01 17:07] neolit123 commented on #1612
@Arvinderpal thanks. hopefully you will have the time if the feature moves forward as users will have the expectation that kubeadm supports the latest incarnation. otherwise we have to explain the discrepancy to them.

[2020-04-02 12:12] RA489 commented on #2093
/assign

[2020-04-02 13:48] rosti commented on #2091
Sorry about that, I looked into the code again and it indeed was writing to the channel only upon an error. So you are right about it.

[2020-04-02 14:14] #2097 closed

[2020-04-02 15:13] fabriziopandini commented on #2094
@neolit123 thanks! nevertheless, I will keep this also one for making current implement more robust

[2020-04-02 17:09] rosti commented on #2092
During the update status phase, we do the following 3 API calls:
1. Create or mutate the `kubeadm-config` config map. This is hooked to a 20 step exponential backoff that totals in ~10s of wait time.
2. Node role is created. No retries are performed.
3. Node role binding is created. Again, no retries are performed.

The first question here is, should we consider a timeout for the whole phase or pe

[2020-04-02 17:41] neolit123 commented on #2092
the ticket in CAPI, proposed that CAPI should be providing some metrics in terms of retires, yet this level of granularity will be hard to scope for them.

my vote goes for per-api call.

there is no sane answer for this.

a common timeout of exp back capping around 40 sec makes sense to me for general API calls.

BTW, at this point we seem to be applying a number of different backoffs, timeouts a

[2020-04-03 03:45] dhawal55 commented on #1025
I see the same error followed by `skipping pod synchronization - PLEG is not healthy`

[2020-04-03 11:27] #2065 closed

[2020-04-03 11:59] fabriziopandini commented on #2092
I have no strong opinions about applying retries per call or per phase, by considering the need for backporting I'm +1 for the simplest solution during this iteration

FYI current approach in clusterctl is to have retry loops for small groups of API calls (not for a single call) and everything is standardized around three backoff configurations:
1. for group of operations with at least one write (

[2020-04-03 12:42] fredleger commented on #202
For reference if you need to do this on unmanaged eks node pool (created wit a cloudformation template), you will need to update the `BootstrapArguments` parameters with the suggested values : `--kubelet-extra-args '--register-with-taints=key=value:NoSchedule --node-labels=key=value'`

[2020-04-03 13:39] neolit123 commented on #2096
i'm starting to see less value in such a preflight check.

on the other hand the node problem detector is a daemon-set that will not grant us much benefit for some of the failures we are trying to fix.

closing as per the comments during the planning session.
/close

[2020-04-03 13:39] #2096 closed

[2020-04-03 13:46] neolit123 commented on #1025
you might want to search for the same error message reported in the kubernetes/kubernetes repository and if there is no ticket for that - create one.

[2020-04-04 03:57] 273539918 commented on #1171
3Q , it's work for me @neolit123

[2020-04-06 01:23] grailsweb commented on #1950
I am also having same issue in CentOS 8, Containerd setting up new cluster. first master works, when I add second master etcd  pod dies in first master.

[2020-04-06 13:58] zedtux commented on #1353
I'm in the same boat as @oneoneonepig.

I'm writing a chef cookbook and my tests are failing, with kubeadm 1.18, with the described error when the second master joins the first one.
With kubeadm 1.15 all works fine, I'll test with 1.16 and 1.17 soon.

[2020-04-06 14:16] neolit123 commented on #1353
we are not seeing etcd e2e failures in our most recent signal:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-18
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-17

error execution phase control-plane-join/update-status: error uploading configuration: unable to create ConfigMap: Post https://10.20.131.60:16443/api/v1/namespaces/kube-

[2020-04-06 20:50] fabriziopandini commented on #2091
@rosti re-opening because we are still missing:
2. changing the code in order that also annotate CRI is retried as well.

/reopen

This basically means to get the following two calls moved in a separate func and wrapped in their retry statement :

https://github.com/rosti/kubernetes/blob/c1fc466cddfbbfa05403140662ce946dfca067db/cmd/kubeadm/app/cmd/phases/join/kubelet.go#L188-L197

IMO, a good init

[2020-04-06 20:51] fabriziopandini commented on #2091
PS. Sorry if I missed this when reviewing kubernetes/kubernetes#89735

[2020-04-07 08:22] RA489 commented on #2095
/assign

[2020-04-07 10:17] rosti commented on #2091
@fabriziopandini it's already retried using a polling timeout (see [here](https://github.com/kubernetes/kubernetes/blob/38f0a8bc74bed92bef87e20a79c36c5feea78b3d/cmd/kubeadm/app/util/apiclient/idempotency.go#L314)). It's currently at 500ms retry interval for a 2 minute timeout. It can receive the same treatment as above - bump the retry interval to 5s and the total timeout to 5 mins.

[2020-04-07 13:40] yuripastushenko commented on #1025
We have the same error.
Images are not garbage collected from node.

[2020-04-07 15:25] persunde commented on #1795
For others who might have the same issue.
If you start up Kubernetes and **coredns** pods are not starting and stuck in status PENDING, then you probably need to add a Network Policy Provider.
All I needed to do was follow step 3 and it the cluster is READY.

`kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"
`

Source: https://kubernetes.io/

[2020-04-07 23:54] stealthybox commented on #2017
[sonobuoy v0.18.0](https://github.com/vmware-tanzu/sonobuoy/releases/tag/v0.18.0) now includes `--kubernetes-version`[sonobuoy#1085](https://github.com/vmware-tanzu/sonobuoy/pull/1085) for listing dependent images.

I was able to use this to build a version of the Vagrantfile that provisions a shared base-image.
This increases the reliability of the test suite.
I was able to get 2 successful runs

[2020-04-08 00:01] neolit123 commented on #2017
thank you @stealthybox for running the tests and send the conformance results!
i was hoping that the tests will not be very flaky.

[2020-04-08 00:02] BenTheElder commented on #2017
something to raise to the #k8s-conformance channel, they definitely have
intermittently, but it's tricky to separate from the tests vs the platform
w/o more diverse signal.

we've tried to get more results on testgrid, but little of them are real
continuous integration.

On Tue, Apr 7, 2020 at 5:01 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-04-08 07:27] zedtux commented on #1353
Here is the result of my test suite:

| kubeadm version | CNI     | Result |
| --------------- | ------- | ------ |
| 1.18            | flannel | Failed |
| 1.17            | flannel | Failed |
| 1.16            | flannel | Failed |
| 1.15            | flannel | Passed |
| 1.14            | flannel | Passed |

My test is doing the following steps:

1. Create, converge and verify a first control pl

[2020-04-08 12:40] neolit123 commented on #1353
@zedtux

does this fix work for flannel?
https://github.com/kubernetes/website/pull/19995/files

please note that if one CNI plugin fails you should switch to another - kubeadm recommends Calico or WeaveNet.

[2020-04-08 12:50] zedtux commented on #1353
Thank you @neolit123 for pointing me to this, but I don't think this is useful for me as the Flannel pods are fine.

Oh ... I remember having read that flannel should work in many cases on the kubernetes.io documentation but I can't find it now.

Anyway I want to implement more CNI drivers, so I can give a try to Calico or WeaveNet, but I'm not sure that would solve the issue as with kubeadm 1.14