[2018-05-14 17:48] #203 closed

[2018-05-14 17:56] chuckha opened #812 "Add a command to pull necessary images"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

We should add a feature around `kubeadm config list-images` that also pulls the images using `crictl`. This way we don't have to write special code for every container runtime, but we will have to special case docker if this is run before the kubelet is running (and thus hosting the docker CRI shim (shim might be the wrong word))

[2018-05-14 17:56] chuckha commented on #812
cc @luxas

[2018-05-14 18:02] liztio opened #813 "Automatic Kubeadm E2E Tests"
Since we created E2E tests for kubeadm (#190) we want to automatically run those tests.

Some things we may want to test:

- [ ] `kubeadm init`
- [ ] `kubeadm upgrade`
- [ ] multiple providers (AWS, GKE, Azure...)
- [ ] Version matrix?

[2018-05-14 18:02] timothysc commented on #456
Per discussion, I think we should separate out the automation from the enablement so move to close.

[2018-05-14 18:03] liztio commented on #456
Closed in favor of #813

[2018-05-14 18:03] #456 closed

[2018-05-14 18:03] luxas commented on #322
I'm grabbing this one as part of https://github.com/kubernetes/community/pull/2131 for v1.11

PRs:
 - https://github.com/kubernetes/kubernetes/pull/63782
 - https://github.com/kubernetes/kubernetes/pull/63787
 - https://github.com/kubernetes/kubernetes/pull/63799

[2018-05-14 20:05] luxas commented on #263
https://github.com/kubernetes/kubeadm/pull/803 together with https://github.com/kubernetes/test-infra/pull/8020 fixed this.

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#periodic-kubernetes-e2e-packages-pushed shows the results daily. Example output: https://storage.googleapis.com/kubernetes-jenkins/logs/periodic-kubernetes-e2e-packages-pushed/1/build-log.txt

[2018-05-14 20:05] #263 closed

[2018-05-14 20:11] luxas commented on #620
We're planning to remove `cfg.CloudProvider` in v1.11 in the `v1alpha2` API group. The conversion from `v1alpha1` to `v1alpha2` will include passing the `--cloud-provider` extra argument for the apiserver, controller-manager and kubelets though.

[2018-05-14 20:18] neolit123 commented on #686
^ submitted change to `website` that adds a new kubeadm page about unit tests at this location:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/

[2018-05-14 21:20] timothysc commented on #808
@neolit123 assigned ;-)

[2018-05-14 21:26] luxas commented on #732
Sent first required PR https://github.com/kubernetes/kubernetes/pull/63812

[2018-05-14 21:31] luxas commented on #812
The proposal is to have both `kubeadm config images list` and `kubeadm config images pull`.
`pull` would consume a CRI socket as a flag. During the execution, `kubeadm` would exec out to `crictl pull`, that would do the actual work. We can't use `crictl pull` in the case when docker is the runtime, as the `dockershim.sock` (CRI server endpoint) is available only when the kubelet is running. Instea

[2018-05-14 21:37] luxas commented on #619
Can you see if your current PR already fixes both of these cases? I think the first one is the most important to get right, and we should have all the tools needed in kubeadm to implement this.

[2018-05-14 21:38] luxas commented on #715
Closing this based on conclusion in https://github.com/kubernetes/kubernetes/pull/60607

[2018-05-14 21:38] #715 closed

[2018-05-14 21:39] luxas commented on #489
FWIW; we kinda already support this "preview" feature with `upgrade --dry-run`

[2018-05-14 21:41] luxas commented on #272
Duplicate of #273

[2018-05-14 21:41] #272 closed

[2018-05-14 21:51] timothysc commented on #489
So the following makes a lot of sense to me:

1. Add a diff to e.g. `upgrade plan --diff`
2. Create a backup timestamped directory for backing up manifests on every upgrade.
3. Don't backup etcd in the HA use case b/c a rollback of the directory could be bad (docs).

[2018-05-14 22:03] neolit123 commented on #810
i like the idea! here is how i see the pseudo-output:

[code]

if we don't have any `replaced` and `added` it could look like:
[code]

i guess we can break these sections into separate tabwriters and then iterate only those that are filled and concat into a final buffer. something in those lines...

it's probably better to stick to the tabwriter, because we might not want to introduce another depe

[2018-05-15 02:36] MikeSpreitzer opened #814 "kubeadm init/join CRI preflight check fails unnecessarily"
## What keywords did you search in kubeadm issues before filing this one?

I searched for: unable to check if the container runtime at "/var/run/dockershim.sock" is running

I found #657 but it was already closed.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl versio

[2018-05-15 02:37] MikeSpreitzer commented on #814
/kind bug
@kubernetes/sig-cluster-lifecycle-bugs

[2018-05-15 03:00] MikeSpreitzer commented on #657
It looks to me like https://github.com/kubernetes/kubernetes/pull/58802 does not really fix the problem.  Looking at the changes in that PR, they tweak the code that generates the `crictl -r /var/run/dockershim.sock info` command is generated, but they do not change the fact that a failure from that command counts as a preflight failure.

Let's be clear about this: preflight checks should not requ

[2018-05-15 03:29] anjuls commented on #504
I was facing the same issue, i did following to allow all traffic.

[code]

[2018-05-15 04:43] dixudx commented on #657
@MikeSpreitzer `CRICheck` is removed from the []Checker` list. That is how cri preflight check is skipped.

[2018-05-15 08:08] woopstar commented on #732
Oi. Using the the dedicated health endpoint is actually way better than using the https endpoint I guess :)

[2018-05-15 08:15] rosti commented on #812
Was it having a kubelet running somewhere one of the requirements for kubeadm? If that's the case, then we will always have a CRI endpoint to connect to and thus forget about special-casing Docker.

[2018-05-15 08:16] luxas commented on #618
We now at least have the possibility (when we upgrade godeps in v1.12) to do the snapshotting properly https://github.com/coreos/etcd/pull/9118

[2018-05-15 08:28] luxas commented on #814
Thanks @MikeSpreitzer. I believe https://github.com/kubernetes/kubernetes/pull/63297 and https://github.com/kubernetes/kubernetes/pull/63849 will do

[2018-05-15 08:33] luxas commented on #811
I strongly think we should do this. crictl [goes GA in v1.11](https://github.com/kubernetes-incubator/cri-tools/issues/297#issuecomment-388628228), which is very good timing for us to package and bundle it by default :+1:. Then we can also depend on `crictl` for other things, like prepulling the images xref: #812

[2018-05-15 08:40] luxas commented on #771
Exactly right. Just move the _orig.yaml file in any other directory and things will work :)

[2018-05-15 08:40] #771 closed

[2018-05-15 08:42] rosti commented on #812
Thanks @luxas, it makes sense now

[2018-05-15 08:53] luxas opened #815 "Bump minimum version to v1.10 and cleanup v1.9-specific code at HEAD"
Same as https://github.com/kubernetes/kubeadm/issues/622. Very important to get merged in v1.11.

 - Bump minimum supported k8s and kubelet version in constants.go
 - Bump etcd version based on k8s version to 1.10.X => 3.1.12, 1.11.X => 3.2.18, 1.12.X => 3.2.18
 - Remove `var v190` from `features.go`
 - Rename `v180AndAboveKubeDNSDeployment` to `KubeDNSDeployment` in `phases/addons/dns/versions.go

[2018-05-15 08:59] luxas opened #816 "Add preflight check for verifying that IPVS modules are enabled"
So we can fail early instead of silently if the user specifies ipvs for kube-proxy.

xref: https://github.com/kubernetes/kubernetes/pull/59566#issuecomment-389014470

[2018-05-15 09:02] luxas opened #817 "Track when we can enable the ipvs mode for the kube-proxy by default"
xref: https://github.com/kubernetes/kubeadm/issues/816 and https://github.com/kubernetes/kubeadm/issues/782

cc @kubernetes/sig-network-feature-requests when is ipvs going GA?

[2018-05-15 09:03] luxas commented on #782
Split this into two tickets, this one for CoreDNS in v1.11 and https://github.com/kubernetes/kubeadm/issues/817 for ipvs in the future

[2018-05-15 09:08] luxas opened #818 "Graduate audit logging in kubeadm to beta and on-by-default in v1.12"
Investigate what we still need to do to graduate all this

[2018-05-15 09:12] luxas opened #819 "Set up testing infra for v1.11"
(and remove testing infra for v1.8)

Similar to https://github.com/kubernetes/kubeadm/issues/426

[2018-05-15 09:16] luxas opened #820 "Bump default branch to use to `release-1.11` in v1.11"
One-line change, similar to #427.
xref: https://github.com/kubernetes/kubeadm/blob/master/docs/release-cycle.md

[2018-05-15 09:22] #789 closed, assigned to timothysc

[2018-05-15 09:26] VincentFF commented on #747
@detiber Hello, I want to add a new node, and meet the same problem again. The output of  `journalctl -u kubelet`  below, it looks like the network issue?
Please help.

[code]

[2018-05-15 09:29] nlamirault commented on #789
@luxas :+1:

[2018-05-15 09:32] drpaneas commented on #584
Same issue for me. It fails at  `[markmaster] Will mark node ultron.suse.de as master by adding a label and a taint`.

[2018-05-15 12:46] cmluciano commented on #817
There are no current releases targeted for a GA release at this time. We are still assembling the GA criteria and gathering feedback from the community.

[2018-05-15 13:17] runcom commented on #748
@kars7e could you test with latest code?

[2018-05-15 15:03] timothysc commented on #681
Closing due to timeout, please reopen with more data if you are still having an issue.

[2018-05-15 15:03] #681 closed

[2018-05-15 15:04] timothysc commented on #707
Closing due to timeout, please reopen with more data if you are still having an issue.

[2018-05-15 15:04] #707 closed

[2018-05-15 15:04] timothysc commented on #725
Closing due to timeout, please reopen with more data if you are still having an issue.

[2018-05-15 15:04] #725 closed

[2018-05-15 15:04] timothysc commented on #729
Closing due to timeout, please reopen with more data if you are still having an issue.

[2018-05-15 15:04] #729 closed

[2018-05-15 15:26] luxas commented on #811
I assigned this to you @chuckha so you can see how our deb/rpm packaging works in https://github.com/kubernetes/release

[2018-05-15 15:29] timothysc commented on #814
closing as PRs have been merged.

[2018-05-15 15:31] detiber commented on #619
@luxas My PR only addresses the second part of this Issue. I do not do any additional validation or enforcement of etcd versions, but the cluster is validated for all of the specified endpoints.

[2018-05-15 15:52] detiber commented on #747
@VincentFF I wouldn't either off those warnings to prevent the node from joining the cluster.

The cni warning is expected prior to the node joining the cluster and deploying the daemonset for the networking provider.

The hostport_manager warning should only prevent pods/services that use host ports from being accessible as long as 'conntrack' is not installed.

There should be more information i

[2018-05-15 16:04] #727 closed

[2018-05-15 17:36] MikeSpreitzer commented on #814
@luxas: No, this issue is not about `kubeadm reset`, so those PRs you cited are not relevant.

[2018-05-15 17:44] MikeSpreitzer commented on #657
@dixudx: There are _two_ lists of checkers.  `CRICheck` was removed from the list in RunInitMasterChecks but not the list in RunJoinNodeChecks.

[2018-05-15 17:56] luxas commented on #619
Okay, great. Can you do the 1st part in a future PR or? (i.e. are you okay with having this in your backlog?)

[2018-05-15 18:40] chuckha commented on #814
Oh nevermind, I understand now. My mistake.

[2018-05-15 19:53] luxas commented on #817
Okay, thanks

[2018-05-15 20:30] chuckha commented on #814
[This is the PR that fixes the issue you're seeing][the pr]. If you define a CRI socket that isn't the docker shim, kubeadm will use crictl. If you have the default (dockershim) defined then kubeadm will check the docker service.

[the pr]: https://github.com/kubernetes/kubernetes/pull/62481

Feel free to reopen if you have more questions or would like to discuss some other resolution

[2018-05-15 20:40] detiber commented on #732
That does complicate things a bit...  Although, I really don't see an issue with relying on the api server and validating the mirror pods after the api server is already up and responding...

[2018-05-15 20:45] detiber commented on #619
@luxas no issues with keeping it on my backlog as long as it isn't a hard requirement to get the fix in for v1.11. I have some other work that will be taking up a considerable amount of time for the next few weeks.

[2018-05-15 21:19] luxas commented on #619
@detiber It isn't a priority for now, okay to defer

[2018-05-15 22:26] MikeSpreitzer commented on #814
The problem here is not about CRI vs docker.  It is about requiring one of them for `kubeadm join`.  #657 complained about this, and was closed due to https://github.com/kubernetes/kubernetes/pull/58802 --- but that was only a partial fix.  In `cmd/kubeadm/app/preflight/checks.go`, `CRICheck` was listed in _both_ `RunInitMasterChecks` and `RunJoinNodeChecks`  (when `useCRI`), but that PR removed o

[2018-05-15 22:26] MikeSpreitzer commented on #814
/reopen

[2018-05-15 22:27] MikeSpreitzer commented on #814
@chuckha please re-open this, I do not know how.

[2018-05-16 00:09] #580 closed

[2018-05-16 02:47] dixudx commented on #814
@MikeSpreitzer #62481 solved this. Currently this fix is only available for v1.11.x releases.

https://github.com/kubernetes/kubernetes/blob/2fcac6abf27a3912a71f590300b72c2e48266120/cmd/kubeadm/app/preflight/checks.go#L966-L971

You can see, for default `dockershim.sock`, it will check docker status. For other cri socks, cricheck is enabled.

I think this issue can be closed now.

[2018-05-16 04:40] MikeSpreitzer commented on #814
There is a bug in the `release-1.10` branch.  Looking at `cmd/kubeadm/app/preflight/checks.go` in that branch, compare `RunInitMasterChecks` with `RunJoinNodeChecks`.  You will see that in no circumstances does `RunInitMasterChecks` insist on finding a CRI socket, but `RunJoinNodeChecks` will --- if it finds `crictl` --- insist that the CRI socket already exists.  I think the behavior of `RunJoinN

[2018-05-16 05:41] dixudx commented on #814
@MikeSpreitzer Filed PR #63907 to back port release-1.10. PTAL. Thanks.

[2018-05-16 06:44] praseodym opened #821 "CoreDNS manifest does not allow custom image repository"
In kubeadm 1.10, CoreDNS is available as a beta replacement for kube-dns. Unfortunately, the manifest that is deployed is not suitable for offline or limited connectivity environments, because it is [not possible to set the image repository](https://github.com/kubernetes/kubernetes/blob/e9f996bfe26ca1257089937cc5ada4025661e2a6/cmd/kubeadm/app/phases/addons/dns/manifests.go#L248) (`imageRepository`

[2018-05-16 08:39] dixudx commented on #814
/cc @luxas

[2018-05-16 09:42] VincentFF commented on #747
@detiber Then I check the `/registry/minions/` in etcd, I can't find the new node `nodepreview01`. If there some problems when write data to etcd. But my etcd worked well.

[code]

[2018-05-16 11:16] luxas commented on #821
@praseodym Yes. Can you please send a docs PR to fix this?

[2018-05-16 12:49] luxas commented on #322
This is now done. Finally I added unit tests in https://github.com/kubernetes/kubernetes/pull/63917

[2018-05-16 12:49] #322 closed

[2018-05-16 12:56] luxas commented on #525
@timothysc do we have a "docs lead" person for our kubeadm team that can take responsibility for this?

[2018-05-16 12:59] runcom commented on #748
latest master + that PR :)

[2018-05-16 12:59] luxas commented on #668
I think the first issue was a race condition in the controller-manager that has been fixed later, and the other issue conflated here is unrelated to the first comment. I'm closing this now, please file a new issue for the aws-related bug and reopen if you can reproduce the JWS-signing bug in a bare metal env with no cloud provider.

[2018-05-16 12:59] #668 closed

[2018-05-16 13:01] luxas commented on #620
Actually I now noticed that `--cloud-provider` can only be set as a flag, not as a config value, so there is actually nothing we can do here at the moment. The best thing you can do is to run the out-of-tree cloud provider. The second best thing is to set the `--cloud-provider` via extraargs in the kubeadm config file for the apiserver and controller-manager, and to all kubelets via a systemd drop

[2018-05-16 13:01] #620 closed

[2018-05-16 14:39] luxas opened #822 "Make kubeadm start controlling kubelet Config via a versioned file"
## Problem statement

Currently kubeadm (the CLI) assumes a running (or actually, crashlooping) kubelet, with the _right configuration for the right kubeadm version_. This is currently achieved by packaging a kubelet dropin file together with the _kubeadm debian package_. So we have two different kubeadm entities with different responsibilities: the kubeadm CLI binary and the kubeadm deb package.

[2018-05-16 15:49] timothysc commented on #822
I have comments written down for today which I'll discuss during the sig call.

[2018-05-16 16:16] stealthybox commented on #537
@timothysc are you referring to @chuckha's PR?
https://github.com/kubernetes/kubernetes/pull/63833

[2018-05-16 16:57] arunmk commented on #668
@liztio I was away for a while and could not respond. Let me create a new bug with the required information if this reoccurs. Thanks for the fixes!

[2018-05-16 17:13] tpepper commented on #822
Is this going to go through https://github.com/kubernetes/features/blob/master/EXCEPTIONS.md since we're past feature freeze?  Ie: content for this release was supposed to be defined, with implementations solidifying by the code freeze coming up.  See https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release-1.11.md

[2018-05-16 18:01] FloMedja commented on #716
I have the same issue by running "kubeadm upgrade plan". Does anyone have possible fixes ?

[2018-05-16 18:51] detiber commented on #716
@FloMedja if you are seeing the grpc error, then I suspect it is an issue with contacting etcd...  what version of kubeadm are you running? If you are running v1.10.x and are using an external etcd cluster, then you will most likely need the fix here: https://github.com/kubernetes/kubernetes/pull/63925

I'm hoping to be able to get that PR merged in time for the v1.10.3 release.

[2018-05-16 18:55] detiber commented on #747
@VincentFF the easiest way to get the logs is to do the following from one of the masters:
[code]

[2018-05-16 18:56] luxas opened #825 "Prepull images already in preflight checks"
Following up on https://github.com/kubernetes/kubeadm/issues/812, we should investigate what it takes to try to prepull all required images already in preflight checks, and fail fast if the CRI daemon can't (lets say you're behind some proxy that is misconfigured or similar).

/assign @chuckha

[2018-05-16 19:10] FloMedja commented on #716
@detiber Thanks for the reply. I am using kubeadm v1.9.3 and my cluster is at v1.9.3 version too. i am trying to update kubeadm at 1.9.6 but has the same issue. We run etcd as static pod in our cluster as static pod.

[2018-05-16 19:31] luxas commented on #822
Yeah, sorry about that. Now fixed.

[2018-05-16 20:02] liztio commented on #489
I'm not going to have time to get to 2 or 3 before I leave for holiday.

[here's where the manifests are deleted](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/staticpods.go#L449-L454)
[here's where the directory names are created](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/staticpods.go#L75-L90)

[2018-05-16 20:10] liztio opened #826 "Unit tests for `kubeadm upgrade diff`"
Some suggestions from @neolit123:

- [ ] non existing config path in flags.parent.cfgPath
- [ ] flags.newK8sVersionStr == "", but no version arg is provided
- [ ] bad version format in flags.newK8sVersionStr to make ParseSemantic() fail
- [ ] make kubeadmutil.MarshalToYaml fail somehow.
- [ ] fail ioutil.ReadFile(path) by providing bad 'path'

[2018-05-16 20:49] praseodym commented on #821
Sure thing: https://github.com/kubernetes/website/pull/8574

[2018-05-16 21:48] Klmanjaro commented on #730
I am running kubeadm init with these  versions:
  kubeadm.x86_64 0:1.10.2-0       kubectl.x86_64 0:1.10.2-0       kubelet.x86_64 0:1.10.2-0

I still see the msg :
[preflight] Some fatal errors occurred:
        [ERROR ExternalEtcdVersion]: couldn't parse external etcd version "": Version string empty
        [ERROR ExternalEtcdVersion]: couldn't parse external etcd version "": Version string empty

[2018-05-16 22:27] Klmanjaro commented on #709
Could you share your etcd.yaml file? I am running into same issue. I have etcd server running 3.1.10 (since that was prev supported with kubernetes 1.9).  I have tried upgrading master node to use kubeadm 1.10.2 but that doesn't help.
thanks

[2018-05-16 23:05] stealthybox commented on #716
@FloMedja kubeadm 1.10.x initializes clusters that secure etcd with TLS using a separate CA

[2018-05-16 23:55] Klmanjaro commented on #719
@timothysc: is the fix for this issue available in kubeadm v1.11 ? When is that going to be available?
thanks

[2018-05-17 00:27] Klmanjaro commented on #719
Never mind. I have figured out the issue. typo :-(

[2018-05-17 01:56] anjia0532 commented on #257
@avnish30jn thanks   : )

[2018-05-17 03:35] Klmanjaro commented on #709
Hi. I have figured out the issue and it has turned out to be non-issue. Sorry!

[2018-05-17 06:15] VincentFF commented on #747
@detiber

kube-controller-manager-master001
[code]

kube-controller-manager-master002
[code]
kube-controller-manager-master003
[code]

[2018-05-17 09:17] usernkey opened #827 "apiServerCertSANs does not allow fqdn"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:10:24Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provi

[2018-05-17 09:51] luxas commented on #827
Hmm, the problem is that your FQDN is using upper-case characters, which isn't a valid dns label by k8s validation. We _could_ always relax this constraint in kubeadm, but can you just set your FQDN to lowercase and try again?

[2018-05-17 09:52] usernkey commented on #827
Problem it is I can not. That name is generated by AWS.

[2018-05-17 10:06] usernkey commented on #827
I can use it in lower case as dns resolution doesn't care but I guess you will get this question more often as AWS generate ELB names with uppercase. Maybe be a more specific error message can be created.

[2018-05-17 10:12] HanYL-coder commented on #684
is it possible that list the images below, and we pull them manually by proxy, then init the kubeadm again.
will it work?
cuz, we are in China, u know, the GFW.

[2018-05-17 10:16] chinglinwen commented on #122
Documents about config file part is unclear ( provide an example to config service-node-port-range? )

[2018-05-17 10:30] ylhyh opened #828 "kubeadm can not recognize the proxy format with username and password"
## Versions
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:10:24Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2"

[2018-05-17 11:07] luxas commented on #827
...or we could just lowercase the value before validation I guess.

[2018-05-17 11:59] rosti commented on #806
Managed to trace this to the usage of the following:
- [GetFlagString](https://github.com/kubernetes/kubernetes/blob/a481f4bbe828d7fdec95782c02df3743c1020820/cmd/kubeadm/app/cmd/version.go#L63) from `k8s.io/kubernetes/pkg/kubectl/cmd/util`

- [LeaseEndpointReconcilerType](https://github.com/kubernetes/kubernetes/blob/a481f4bbe828d7fdec95782c02df3743c1020820/cmd/kubeadm/app/phases/controlplane/mani

[2018-05-17 12:49] FloMedja commented on #716
@stealthybox  Thanks you. I will change my cluster creation to use kubeadm v1.10 :)

[2018-05-17 13:16] chinglinwen commented on #122
Thank you for the reply, can I set the range to include 80, so I can
directly map dns name to that node.

I deployed Kong ingress controller, It's service node port is not 80,
service IP is not reachable, so it need outside nginx for ingress is not
good (no just extra layer adds latency, but duplicated nginx config for
every service too )

I'm not sure if it's the Kong's problem, just starting to

[2018-05-17 14:10] luxas opened #829 "Add a command that prints the default API object YAML"
For making it easier to write kubeadm YAML config. UX improvement and important now that we change the structure of the API

[2018-05-17 14:13] luxas opened #830 "Implement a `kubeadm upgrade diff` command."
ref: https://github.com/kubernetes/kubeadm/issues/489#issuecomment-388974795

[2018-05-17 14:14] luxas commented on #830
This has been fixed by PR https://github.com/kubernetes/kubeadm/issues/830. Thanks!

[2018-05-17 14:14] #830 closed

[2018-05-17 14:54] usernkey commented on #827
Yes I confirm then writing the fqdn all in lowercase solve the issue.

I think then convert to lowercase before validation is the best solution.

[2018-05-17 15:22] neolit123 opened #831 "document `kubeadm config print-default` at website"
implementation PR:
https://github.com/kubernetes/kubernetes/pull/63969

docs PR:
https://github.com/kubernetes/website/pull/8862

[2018-05-17 16:37] thanch2n commented on #684
For people in China who behind THE GREAT FIREWALL
  - https://github.com/anjia0532/gcr.io_mirror
  - https://anjia0532.github.io/2017/11/15/gcr-io-image-mirror/

[2018-05-17 18:53] neolit123 opened #832 "document `kubeadm upgrade diff` at website"
[code]

PR:
https://github.com/kubernetes/kubernetes/pull/63930

/assign

[2018-05-17 19:10] neolit123 opened #833 "document "controlling kubelet Config via a versioned file" at website"
main proposal:
https://github.com/kubernetes/kubeadm/issues/822

related reads:
https://github.com/kubernetes/kubernetes/pull/63887

feel free to edit / comment / add more context.
this is going to need **some** discussion in terms of what we document to the user.

/assign

[2018-05-17 20:08] #686 closed

[2018-05-17 20:13] neolit123 commented on #832
/milestone v1.11
/priority important/soon

[2018-05-17 20:16] neolit123 commented on #832
/milestone v1.11

[2018-05-17 20:17] neolit123 commented on #833
/priority important-soon

[2018-05-17 20:18] neolit123 commented on #831
/priority important-soon

[2018-05-17 21:06] FloMedja commented on #716
@stealthybox Does the documentation at this link https://kubernetes.io/docs/setup/independent/high-availability/ up to date or there are a new way to generate etcd CA cluster with kubeadm ?

[2018-05-17 23:00] #797 closed

[2018-05-17 23:26] stealthybox commented on #716
@FloMedja kubeadm will start a single node master with Etcd in a static pod and generate CA's and certs for everything to communicate with just a normal `kubeadm init`

Multi-master is more involved, but you can still use kubeadm to generate all of the certs.

[2018-05-18 01:26] HanYL-coder commented on #684
@thanch2n  thx a lot. I'm gonna try it.

[2018-05-18 04:14] ylhyh commented on #828
hi, there is a special character '#' in my password, after i changed it to %23, it works now. I don't know if it is a bug, but the character '#' works in system environment variables.

[2018-05-18 04:28] HanYL-coder commented on #684
I added a the proxy to docker, using [this](https://docs.docker.com/config/daemon/systemd/#httphttps-proxy), the images seems all have already been downloaded, but still stuck "[init] This might take a minute or longer if the control plane images have to be pulled.".

list the images auto-pulled below.

k8s.gcr.io/kube-apiserver-amd64            v1.10.2             e774f647e259        2 weeks ago

[2018-05-18 05:49] stewart-yu commented on #828
IMO, it's not  problem of `kubeadm`. If you setting the same proxy in local, can you run `docker pull <imagename>:<tagversion>` in your Env? @ylhyh

[2018-05-18 08:07] #815 closed

[2018-05-18 08:25] ylhyh commented on #828
Yes, it should not the problem of kubeadm, docker pull has the same issue.
I think the special character should be encoded in the proxy config in docker. issue closed.

@stewart-yu, @timothysc

[2018-05-18 08:25] #828 closed

[2018-05-18 09:08] sdarwin commented on #740
Upgrade v1.10.2 -> v1.10.2  (which may be nonsense. just testing...)

Ubuntu 16.04.

And, it fails with an error.

[code]

[2018-05-18 10:05] luxas commented on #811
https://github.com/kubernetes-incubator/cri-tools/pull/303 is merged so we can now download artifacts very easily from Github when building the debs/rpms :+1:

[2018-05-18 11:44] neolit123 opened #834 "UX improvement for FileExistingCheck"
a user reported at `website` the following:
https://github.com/kubernetes/website/issues/8317

his HA master was looking for etcd certs locally in a case of a remote etcd, which was probably a user error where he wasn't calling `kubeadm reset` on that particular master.

tests but it is likely that I did not run the command kubeadm reset
before a new kubeadm init and then on file system may have r

[2018-05-18 13:48] luxas commented on #638
@timothysc I think we should classify this as a bug (well it is), and target v1.11

[2018-05-18 14:35] seh opened #835 ""kubeadm join" Hostname pre-flight check fails to recognize hostname"
## What keywords did you search in kubeadm issues before filing this one?

- _join_
- _hostname_
- _lookup_
- _"no such host"_

## Is this a BUG REPORT or FEATURE REQUEST?

*BUG REPORT*

## Versions

**kubeadm version** (use `kubeadm version`):

- _1.10.2_

- _v1.11.0-alpha.2_ .

**Environment**:
- **Kubernetes version** (use `kubectl version`):

- **Cloud provider or hardware configuration**:

AW

[2018-05-18 14:41] luxas commented on #835
(sorry didn't have time to read through yet)
@timothysc I think we should try to fix in time for v1.11

[2018-05-18 14:54] detiber commented on #747
@VincentFF thanks, can you also check the output of `kubectl get certificatesigningrequests`, I suspect that you may be hitting an issue with signing the bootstrap certificates.

[2018-05-18 15:19] carlosedp commented on #740
I wonder if this is still tracked on some issue... couldn't find.

[2018-05-18 16:20] stealthybox commented on #732
This is probably not true though the apiserver-kubelet cert is used, right?

[2018-05-18 17:15] #688 closed

[2018-05-18 18:07] mtaufen commented on #822
Reference:
https://docs.google.com/document/d/1FdaEJUEh091qf5B98HM6_8MS764iXrxxigNIdwHYW9c/edit

[2018-05-18 18:13] mtaufen commented on #822
Or just a path to a file that contains the Kubelet's component config yaml, which might make the beta to GA transition (or any scenario where multiple versions are available) easier to handle?

@justinsb

[2018-05-18 18:15] mtaufen commented on #822
Why wouldn't we just write the config prior to the first attempt to start the Kubelet?

[2018-05-18 18:16] mtaufen commented on #822
I assume kubeadm has its own identity and is already authorized to create/read this ConfigMap?

[2018-05-18 21:28] ticruz38 commented on #381
I have an issue that looks very much like yours, here is the output from my /etc/resolv.conf
[code]
what did you add in here?

[2018-05-18 22:11] codependent opened #836 "Requests to a cluster IP service only get to the pod when it is on the same node, otherwise they timeout"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**

kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:10:24Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version**:

Client Version: ve

[2018-05-18 22:59] #829 closed

[2018-05-18 22:59] #806 closed

[2018-05-19 06:11] mendoncangelo commented on #684
I spent so much time trying to figure this out. Finall I decided to  downgrade and then upgraded.

```sudo apt-get -y --allow-downgrades install kubectl=1.5.3-00 kubelet=1.5.3-00 kubernetes-cni=0.3.0.1-07a8a2-00``` and

```curl -Lo /tmp/old-kubeadm.deb https://apt.k8s.io/pool/kubeadm_1.6.0-alpha.0.2074-a092d8e0f95f52-00_amd64_0206dba536f698b5777c7d210444a8ace18f48e045ab78687327631c6c694f42.deb```

[2018-05-19 06:42] VincentFF commented on #747
@detiber  Many csr condition is pending.  So it proves the certificate issue? I have not changed the certificate. What should I do now?
[code]

[2018-05-19 06:53] VincentFF commented on #747
And I describe two csrs.
The pending node is nodepreview01 which I can't join the cluster.
The approved node is the node which I meet the same problem before, but after days it solved.
[code]

[2018-05-19 09:03] Nighthawk22 commented on #381
@ticruz38  yes that is exactly the same problem.
Just deactivate dnsmasq https://askubuntu.com/questions/233222/how-can-i-disable-the-dns-that-network-manager-uses

[2018-05-19 20:14] luxas commented on #732
This happens always, even though the apiserver-kubelet-client is used AFAIK, check it up in the code, but I haven't seen any exceptions :wink:

[2018-05-20 00:03] shinichi-hashitani commented on #253
Hi,

I am still in the middle of building k8s on ClusterHAT, but I was able to compile and build binaries for Pi Zero.

Basically, I have followed the below with some modifications:
https://povilasv.me/raspberrypi-kubelet/

I worked on wsl:
Linux DESKTOP-6GRDDIN 4.4.0-17134-Microsoft #48-Microsoft Fri Apr 27 18:06:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux

#1 install gcc-arm-linux-gnueabi instead

[2018-05-20 08:58] wxdao commented on #253
@shinichi-hashitani It works for my Pi Zero! Thanks!

Also I resolved your problem on linker error. For Pi Zero, set GOARM=6 and keep gcc-arm-linux-gnueabihf. However for Pi 1 you gotta set GOARM=5 and use gcc-arm-linux-gnueabi instead.

[2018-05-20 11:06] juliancheal commented on #253
@shinichi-hashitani this is great! I will give it a try thanks!

[2018-05-20 14:57] brokenmass opened #837 "Kubeadm update to 1.10 fails on ha k8s/etcd cluster"
# BUG REPORT

## Versions

**kubeadm version**: 1.10.2

**Environment**:
- **Kubernetes version**: 1.9.3
- **Cloud provider or hardware configuration**: 3 x k8s master HA
- **OS**: RHEL7
- **Kernel**: 3.10.0-693.11.6.el7.x86_64

## What happened?
A couple of months ago I created a kubernetes 1.9.3 HA cluster using `kubeadm 1.9.3`, following the 'official' documentation https://kubernetes.io/docs/s

[2018-05-21 00:10] #579 closed

[2018-05-21 10:32] kundanatre commented on #106
Same here...

[2018-05-21 12:38] luxas commented on #836
I think this is flannel-related. Can you please test with Weave Net and see if it still fails? Otherwise it's a bug flannel should fix.

[2018-05-21 12:45] luxas opened #838 "Add e2e regression tests for the kubelet being secure"
As part of https://github.com/kubernetes/kubeadm/issues/732, https://github.com/kubernetes/kubeadm/issues/650 and https://github.com/kubernetes/kubernetes/pull/63881 we should make sure the following things in our end-to-end testing:
1. The kubelet cAdvisor port (4194) can't be reached, neither via the API server proxy nor directly on the public IP address
2. The kubelet read-only port (10255) can

[2018-05-21 12:51] luxas commented on #806
xref: https://github.com/kubernetes/kubeadm/issues/497

[2018-05-21 12:52] luxas opened #839 "Drop dependency on `k8s.io/kubernetes/pkg/apis`"
Very similar to https://github.com/kubernetes/kubeadm/issues/806.
We only want kubeadm to depend on the external APIs `k8s.io/api/*` and client-go `k8s.io/client-go`, not the internal, duplicated representations which are `k8s.io/kubernetes/pkg/apis` and `k8s.io/kubernetes/pkg/client`.

@rosti any chance you could help us one more time here :smile:?
This is part of the effort to make kubeadm leane

[2018-05-21 12:59] rosti commented on #839
/assign

[2018-05-21 13:06] luxas commented on #839
Okay even though the bot doesn't let you be assigned (yet!) please do work on this :)

[2018-05-21 13:09] luxas opened #840 "kubeadm should not use `--admission-controller` anymore."
ref: https://github.com/kubernetes/kubernetes/pull/58123 and https://github.com/kubernetes/kubernetes/pull/58684

Instead of specifying the full `--admission-control` flag which is now deprecated, we should instead use
 - `--enable-admission-plugin=NodeRestriction` (we enforce Node authz)
 - `--disable-admission-plugin=PersistentVolumeLabel` (this is deprecated)

The default list can be found here

[2018-05-21 13:14] luxas opened #841 "We need roundtrip, defaulting and validation unit tests between API versions"
As part of https://github.com/kubernetes/community/pull/2131, we have concluded we need roundtrip tests between API versions for our internal and external APIs. This combined with only a centralized place in the codebase that handles serialize/deserialize (`cmd/kubeadm/app/util/marshal.go` and `cmd/kubeadm/app/util/config/*.go`), will get us in a good place so these tests are virtually e2e test re

[2018-05-21 13:16] luxas commented on #841
Fixed by PR https://github.com/kubernetes/kubernetes/pull/63917

[2018-05-21 13:16] #841 closed

[2018-05-21 13:20] luxas opened #842 "Generate documentation automatically from our external API types and CLI commands"
@fabriziopandini did half of this initially in https://github.com/kubernetes/website/pull/6103, but I don't think those docs are updated automagically nor is the generation flow documented I think.

We should document how to generate those docs, along with API reference docs, in this repo (with link from https://github.com/kubernetes/kubeadm/blob/master/docs/release-cycle.md to whatever doc we cre

[2018-05-21 13:38] neolit123 commented on #842
true.

the state at website is quite messy at the moment as there is still ongoing migration to the hugo website framework.

some of the old .mds contain HTML formatting that i cannot generate.
i've asked the same docs generation question here and on slack but i got no responses.
https://github.com/kubernetes/website/pull/8617

also the whole automation of the process is quite unclear to me.
https

[2018-05-21 14:27] codependent commented on #836
I have just tested with WeaveNet in three new VMs and unfortunately, even though there wasn't any error during the installation the nodes don't start:

[code]
This is the weave status:

[code]

[2018-05-21 14:50] luxas commented on #842
cc @kubernetes/sig-docs-maintainers ^

[2018-05-21 14:51] luxas commented on #106
Right, this is not a kubeadm issue

[2018-05-21 14:53] luxas commented on #836
Can you troubleshoot that in the public Weave Net slack channel or something? I don't think this is a kubeadm issue. I think something in your Vbox setup screws up networking.
cc @errordeveloper @bboreham Weave folks ^

[2018-05-21 15:07] chuckha commented on #825
I started this last week and got pulled off. There's a fun import cycle when implementing this. Util package imports something it shouldn't imo.

[2018-05-21 15:20] Bradamant3 commented on #842
Not sure whether y'all have seen the (old) planning doc, but in case it helps, it's here: https://docs.google.com/document/d/1w22y-C1YD1mmqqETxrQrCLnJpzwttscanddgvfYceYY/edit?usp=sharing

TL;DR: considerably more detail than the more general explanation of what's going on in the /contribute content on the docs website. Unfortunately, also not updated for Hugo. I have my guesses about fixes needed

[2018-05-21 15:43] luxas commented on #825
Ok LMK on Slack if you need help resolving that.
What I forgot to mention is that it should check for presence of the image(s) first so it works well in airgapped envs.

[2018-05-21 15:49] codependent commented on #836
Hi again, I tried another option: Romana. With this one everything works as expected. It's weird it doesn't work with any of the other options I tried (Flannel, Calico, WeaveNet).

It definitely seems to be related to Vbox but I only did basic VM configurations (host-only network + nat adapter)...

[2018-05-21 21:06] ghoben commented on #790
@kad : I finally figured out the root cause. Since I retried to work with kubeadm init several times, kubelet had some old persistant data which was not cleared on startup within /var/lib/kubelet/pki. I ended up whipping the /var/lib/kubelet directory. After restarting kubelet the TLS problems where gone and kubelet was able to connect to the etcd and api-server. Not sure why on the start the PEM

[2018-05-21 21:34] tallclair commented on #838
I think the latter 2 tests should be under sig-auth. I'd also like to make the 4th one a conformance test eventually.

[2018-05-21 21:34] luxas commented on #836
If you find what was wrong with your setup, please let us know here, but I'm gonna close this as it's not an actionable bug for kubeadm to track for our team right now. Thanks!

[2018-05-21 21:34] #836 closed

[2018-05-21 21:37] luxas commented on #838
@tallclair Thanks, I'm very happy to move 3. and 4. directly under the `[sig-auth]` umbrella
I just proposed the sig-cluster-lifecycle thing in the meantime in case nobody wanted to own it :wink:

[2018-05-21 21:39] liztio commented on #489
going to resume this now that we have more time until freeze

[2018-05-22 05:55] HanYL-coder commented on #684
I got the reason why I stucked.
I'm running it in vmware and located 1G RAM, k8s needs at least 2G RAM.
Is there any possible to add a notification on this?

[2018-05-22 10:52] brokenmass commented on #837
point 2 has been fixed in `kubeadm 1.10.3`

[2018-05-22 11:26] rosti commented on #839
`k8s.io/kubernetes/pkg/apis` is pulled into kubeadm via 10 different routes. Most of these are transitive pulls, yet some are direct ones:

1. `k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm` depends on `k8s.io/kubernetes/pkg/kubelet/apis/kubeletconfig/v1beta1`, due to inheritance in [KubeletConfiguration](https://github.com/kubernetes/kubernetes/blob/a0036fcae173f299ffcb6038f9878ffe7ee1a51f/cmd/k

[2018-05-22 12:34] FloMedja commented on #716
@detiber I update my kubeadm to v1.10.3 which contain your PR ( [kubernetes/kubernetes/pull/63925](https://github.com/kubernetes/kubernetes/pull/63925) ) i think.  I am getting this when trying to run 'kubeadm upgrade plan' on a secure external etcd cluster :
`[preflight] Running pre-flight checks.
[upgrade] Making sure the cluster is healthy:
[upgrade/config] Making sure the configuration is corr

[2018-05-22 15:18] luxas commented on #839
Great, thank you very much for that detailed information @rosti!
I moved this to v1.12, as that is a fair bit of work. If you find smaller pieces to work on in order to make incremental progress, please send PRs towards this goal :+1:
If you're unsure of how to remove some of the dependencies in particular, please ask for guidance here.

[2018-05-22 15:40] #826 closed

[2018-05-22 15:42] rosti commented on #839
I agree with the milestone movement. Some of these will need to be done in the code bases of other SIGs and I am skeptical that all the PRs are going to be merged in time for June 5th.

[2018-05-22 15:44] neolit123 commented on #842
so i was thinking about the example config files included on some of our pages like this one:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file

the tooling to generate a master config example automatically and import them on the page could be `kubeadm config print-default` based and might come at some point, but i don't think it's realistic for 1.11.

in the meant

[2018-05-22 16:19] Bradamant3 commented on #842
I agree that's an ugly big config file and it's a pain to maintain manually. But the godoc seems like poor UX -- it's the same fields with a whole lotta interspersed comments and so it's even harder for the reader to parse. If the idea behind the recent work on kubeadm is to improve the UX, sending folks to the godoc feels like a bad regression.

[2018-05-22 16:29] luxas commented on #782
https://github.com/kubernetes/kubernetes/pull/63509 fixed this. Please open a new issue for documenting this @neolit123

[2018-05-22 16:29] #782 closed

[2018-05-22 16:32] luxas commented on #816
This was fixed by https://github.com/kubernetes/kubernetes/pull/59566

[2018-05-22 16:32] #816 closed

[2018-05-22 16:37] neolit123 opened #843 "document "CoreDNS by default in v1.11""
this PR set the feature gate for CoreDNS to true by default:
https://github.com/kubernetes/kubernetes/pull/63509

feature discussion:
https://github.com/kubernetes/features/issues/427

document the transition in the docs (mentioned in a lot of places).

**task list:**
- [x] https://kubernetes.io/docs/tasks/administer-cluster/coredns/

**---> PR** sent and amended multiple times.
https://github.com

[2018-05-22 16:42] neolit123 commented on #842
we just had a talk about this at the sig-meeting and it appears that we are leaning towards godocs instead of maintaining an example inline config.

@timothysc

[2018-05-22 17:03] luxas commented on #759
We concluded that this can be done via `.APIServerExtraArgs` and `.APIServerExtraVolumes` instead. We'll provide documentation for this instead.

[2018-05-22 17:03] #759 closed

[2018-05-22 17:06] luxas commented on #819
@hh volunteered to help work on this :tada:

[2018-05-22 17:39] luxas commented on #842
I'm in favor for at least adding GoDoc as a compliment. We're actively improving the quality of the Godoc comments.
@Bradamant3 do you have a suggestion how to improve the UX but still not fall into the maintainability trap?

[2018-05-22 17:50] Bradamant3 commented on #842
Could we provide both for 1.11, and try to commit to "the tooling to generate a master config example automatically" for 1.12? That is, provide the config YAML and the godoc? For 1.11, I'd be willing to double-check the YAML to make sure it's current. (Just be sure to assign the related docs PR directly to me, and add the 1.11 milestone, or I'll never find it ...)

For this particular scenario, th

[2018-05-22 18:00] luxas commented on #842
@neolit123 sounds feasible to you?

[2018-05-22 18:11] luxas commented on #822
This is TBD still, but in `v1alpha2` this is the approach we're gonna take. We need to enforce certain (security+other config) parameters in the kubelet ComponentConfig at this moment, which makes it easier for us right now to have them co-located (or the kubelet CC embedded if you like)

The user might/should start it before running `kubeadm init`. If it's not running, kubeadm will try to restart

[2018-05-22 18:18] luxas opened #844 "Set the kubelet `--cgroup-driver` flag conditionally at kubeadm init time for Docker"
When https://github.com/kubernetes/kubernetes/pull/63887 merges, we should set the kubelet's `--cgroup-driver` flag to either `systemd` or `cgroupfs` conditionally at kubeadm init time, in `cmd/kubeadm/app/phases/kubelet/flags.go`.

This instead of doing it statically in the deb/rpm packages.
xref related issue: https://github.com/kubernetes/kubeadm/issues/822

PR:
https://github.com/kubernetes/ku

[2018-05-22 18:25] luxas opened #845 "Set the kubelet `--resolv-conf` flag conditionally at kubeadm init time"
When kubernetes/kubernetes#63887 merges, we should set the kubelet's `--resolv-conf` flag to `/run/systemd/resolve/resolv.conf` conditionally at kubeadm init time, in `cmd/kubeadm/app/phases/kubelet/flags.go`.

This instead of doing it statically in the deb/rpm packages.
cc @randomvariable @detiber @stealthybox @kad
xref related issue: #822
xref related PR: https://github.com/kubernetes/kubernetes

[2018-05-22 18:42] luxas opened #846 "Set the kubelet `--hostname-override` flag conditionally at kubeadm init time"
When kubernetes/kubernetes#63887 merges, we should set the kubelet's `--hostname-override` flag to what's passed to kubeadm via the `--node-name` flag conditionally `if cfg.NodeName != nodeutil.GetHostname("")` (if the flag differs from the default) at kubeadm init time, in `cmd/kubeadm/app/phases/kubelet/flags.go`.

This will automagically fix https://github.com/kubernetes/kubeadm/issues/584
xref

[2018-05-22 18:44] luxas commented on #584
Implementing https://github.com/kubernetes/kubeadm/issues/846 will fix this issue. We're targeting automatic `--hostname-override` configuration from the `--node-name` flag in v1.11. Thanks all!

[2018-05-22 18:57] luxas opened #847 "Make it possible to configure the kubelet via the v1alpha2 Config file"
When kubernetes/kubernetes#63887 merges, we are able to set various flags for the kubelet's CLI. These flags should really be kept to a minimum, but for some things like hostname-override, taints, labels, node-ip etc. this is the only option. The same for very host/OS-specific configuration like [`--cgroup-driver`](https://github.com/kubernetes/kubeadm/issues/844) and [`--resolv-conf`](https://git

[2018-05-22 19:00] luxas opened #848 "Create a `kubeadm upgrade node config` command"
This command will fetch the latest kubelet ConfigMap with configuration from the cluster and write it to disk (`/var/lib/kubelet/config.yaml`), as well as the kubelet runtime flags file (`/var/lib/kubelet/kubeadm-flags.env`).

For more information see: https://github.com/kubernetes/kubeadm/issues/822 and https://github.com/kubernetes/kubernetes/pull/63887

[2018-05-22 19:07] luxas opened #849 "Create new documentation based on user stories"
Instead of having a lot of documentation in one reference page, have multiple pages discoverable directly from the getting started guide with various user stories. Pages with docs we should create are below:

 - [ ] Packaging kubeadm & running on non-system systems
   - Assignee: @luxas
 - [ ] Running e2e tests against kubeadm clusters
 - [ ] Customizing control plane arguments with kubeadm
 - [ ]

[2018-05-22 19:13] neolit123 commented on #849
i can try taking a stab at this.

[2018-05-22 20:03] yujuhong commented on #844
/cc @filbranden

[2018-05-22 20:18] filbranden commented on #844
@neolit123 I meant to work on something like that... But talking to @Random-Liu we noticed it was hard to support that since the Runtime (CRI) doesn't need to be up when kubelet starts and we would like to avoid blocking on the Runtime for kubelet startup...

We discussed a few alternative proposals, but we have nothing to show yet.

One possible alternative is to make the CRI the slave and kubele

[2018-05-22 20:45] neolit123 commented on #844
@filbranden

it's a complicated change and a long-term one, but i guess it would work!

you have probably considered this already, but wouldn't the following be the easiest short-term solution that doesn't modify the current kubelet / CRI (master-on-slave) setup:
- add the `auto` parameter to kubelet's `cgroup-driver` argument
- if the CRI is running take it's cgroup driver
- if the CRI isn't runn

[2018-05-22 20:49] neolit123 commented on #843
on the call today i've made the estimate that there are 20 website pages to update for this.
that was a bit off, sorry.

me and @detiber found these:
https://kubernetes.io/docs/tasks/administer-cluster/coredns/
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-phase-addon
https://kubernetes.io/docs/tas

[2018-05-22 20:53] filbranden commented on #844
The current way the code is laid out makes it tricky...

Even with docker-shim, it turns out there is code that depends on the cgroup driver setting that runs before the first connection to docker-shim is made... So it's actually quite a big refactor. That's when I started talking to @Random-Liu about this and we looked at the other shortcomings of the approach.

Agreed, having CRI runtimes do bot

[2018-05-22 21:02] mattkelly commented on #740
I'm also seeing upgrades still failing with the `timed out waiting for the condition` error.

I'm reproducing by trying to upgrade from `v1.10.1` to `v1.10.3` with the kubelet at `v1.10.1`. I would say it fails about a quarter of the time with my current setup. To reproduce, I'm using https://github.com/stealthybox/vagrant-kubeadm-testing:

1. Reset

[code]
[code]

2. Init
[code]
[code]

3. Apply

[2018-05-22 21:13] timothysc commented on #842
So I'm a nak on generating for the main website vs. linking to godoc, b/c it will become a maintenance burden.

[2018-05-22 21:18] neolit123 commented on #844
@filbranden
understood, i was almost sure that there is a catch here, otherwise `auto` would have easily made it as the default option. thank you for the detailed explaination!

[2018-05-22 21:20] Bradamant3 commented on #842
By that token, any generated doc is a maintenance burden, or keeping docs up to date at all. Some maintenance burdens are part of life | software. Or we can ignore our users. (True there's no great UX solution here. But that doesn't mean we should make the UX worse with godoc only.)

[2018-05-22 21:26] neolit123 commented on #844
@luxas what do you have in mind for the detection of the CRI driver at kubeadm runtime?

something like this would fetch it:
[code]
but it's a command line and only for docker...

[2018-05-22 21:29] luxas commented on #844
We expect the CRI to be running at the time kubeadm is running. Can you query the CRI runtime for that information for the general case or just query `docker info` or similar for the special case?

[2018-05-22 21:38] mattkelly opened #850 "Control plane upgrade to v1.10.3 occasionally times out"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): `Linux vagrant 4.13.0-21-generic #24-Ubuntu SMP Mon Dec 18 17:29:16 UTC 2017

[2018-05-22 21:50] neolit123 commented on #844
should that be done `crictl`?

could you elaborate on `general case` vs `special case`.
i'm sorry for the silly questions.

[2018-05-22 22:04] dvdmuckle commented on #850
Check the `docker logs` for the api-server when upgrading, I found mine was complaining about some RBAC bootstrapping. Not sure what's causing it though and everything I found indicated that issue was fixed.

[2018-05-22 22:19] stealthybox commented on #850
/cc @detiber potentially related to the kubelet changes you were reviewing

[2018-05-22 22:27] filbranden commented on #844
You might find this interesting too!

https://github.com/filbranden/community/blob/009f067c6bc106d062a416d0a1537de5ffa8c023/contributors/design-proposals/node/cgroup-driver-kubelet-and-runtime.md

Cheers,
Filipe

[2018-05-22 22:49] brokenmass commented on #837
@FloMedja
in my case the values looks like :
[code]
and 1.10.3 is working correctly

[2018-05-22 22:50] neolit123 commented on #844
@filbranden

thanks for the details! i will have a look at this tomorrow:

https://github.com/filbranden/community/blob/009f067c6bc106d062a416d0a1537de5ffa8c023/contributors/design-proposals/node/cgroup-driver-kubelet-and-runtime.md

oh, well. i'm not exactly sure how we can proceed with this for 1.11.
@luxas what do you think about the outlined complication?

[2018-05-23 00:36] #571 closed

[2018-05-23 03:10] qianyong-2005 commented on #809
I have same problem

[2018-05-23 06:35] luxas commented on #845
@randomvariable has volunteered to start working on this in a day or two. Please let us know here when you do :+1:

[2018-05-23 06:56] luxas commented on #844
hmm, let's do this _only for docker_ then. So if the CRISocket is dockershim, check `docker ps` output or whatever to determine what to use. We _really_ need this for docker in the general case, otherwise all our rpm-based installations fail.
@neolit123 seems legit to do this?

[2018-05-23 07:06] luxas opened #851 "Create a KEP for the kubeadm-kubelet integration"
Create a KEP for https://github.com/kubernetes/kubeadm/issues/822
We also need to finally decide whether to embed the kubelet ComponentConfiguration in our config or if we should just do `kubeadm init --config kubeadm.yaml --kubelet-config kubelet.yaml --kube-proxy-config kubeproxy.yaml ...` for all components as the end goal.

cc @mtaufen @timothysc

[2018-05-23 07:07] luxas commented on #822
@mtaufen for the moment I think that's fine. However, we started thinking about the whether to actually embed the kubelet CC in our API types, so that's brought into the discussion again. Opened a follow-up for this in: https://github.com/kubernetes/kubeadm/issues/851

[2018-05-23 07:10] luxas commented on #809
Yeah, I guess your token just had expired at the point you tried to join. I'm closing this as solved.
If that wasn't the case, please reopen.

[2018-05-23 07:10] #809 closed

[2018-05-23 08:38] stealthybox commented on #844
available since 1.13
[code]

[2018-05-23 11:20] mtaufen commented on #851
Or even just:

kubeadm --config path

If path=dir, Kubeadm should be able to figure out which object is for which
component based on group/kind. Same for path=yaml file with multiple
objects in it.

On Wed, May 23, 2018, 12:06 AM Lucas Käldström <notifications@github.com>
wrote:

[2018-05-23 11:58] FloMedja commented on #837
@brokenmass So with kubeadm 1.10.3 everything work without no need of your personals fixes. In this case i am little confused. I have kubeadm 1.10.3 but the same error message that you mention in this bug report. I will double check my config may be i make some mistakes elsewhere

[2018-05-23 12:53] neolit123 commented on #843
i was instructed to break this into separate PRs against `website`, which will complicate things a bit.
@luxas, @timothysc, @detiber, i will bump this space when a new change is made so that you can quickly comment / approve to get the process going.

first one:
kubernetes/website#8697

[2018-05-23 13:53] luxas commented on #850
@dvdmuckle Please provide some logs

@stealthybox I don't think this is related to the kubelet changes at HEAD if that's what you're referring to...

[2018-05-23 15:21] luxas opened #852 "Fixup kubeadm glog output at HEAD"
Right now it's in a terrible in-between state:

[code]

Important for v1.11 UX-wise

[2018-05-23 17:10] luxas commented on #846
@detiber do you have more information on this somewhere? Would this mean every kube-proxy daemon needs to be configured differently?

[2018-05-23 18:01] brokenmass commented on #837
add here (or join kubernetes slack channel and send me a direct message) your kubeadm-config, etcd static pods yml and the full output of `kubeadm upgrade plan`

[2018-05-23 18:46] johnbelamaric commented on #843
cc @rajansandeep

[2018-05-24 01:14] #748 closed

[2018-05-24 09:04] dixudx opened #853 "kubeadm fails after v1.12.0-alpha.0 tag was added to the repository"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

Move kubernetes/kubernetes#64241 for better tracking.

[2018-05-24 09:04] dixudx commented on #853
/cc @luxas @ivan4th FYI

[2018-05-24 09:08] dixudx commented on #853
/assign

[2018-05-24 10:26] ocofaigh commented on #709
@seafoodbuffet When following the "run etcd using systemd" steps, did you get etcd to start OK? I am getting an error saying: `unable to load client CA file /etc/kubernetes/pki/ca.crt: open /etc/kubernetes/pki/ca.crt: no such file or directory`
Everything I have ready seems to indicate this cert file is generated only **after** I run kubeadm init, but that steps doesn't come until later in the doc

[2018-05-24 11:18] hoegaarden opened #854 "Dependencies of "k8s.io/kubernetes/cmd/kubeadm/app/apis/...""
As discussed with @luxas here the list of dependencies of `k8s.io/kubernetes/cmd/kubeadm/app/apis/` on `k8s.io/...`, direct dependencies and some dependencies on staging repos.

<details>
  <summary><a id="deps-per-pkg"></a>All dependencies by package</summary>

[code]
[code]
</details>

<details>
  <summary><a id="deps-all"></a>All dependencies combined & unified</summary>

[code]

[code]
</detai

[2018-05-24 11:32] dixudx commented on #853
[code]

This is because the version of the binaries will become `v1.12.0-alpha.0.307+481b2dc7cf50d8-dirty`, which are not supported by current kubeadm.

[code]

Although the control plane version is still v1.10.0, but kubelet version is `"1.12.0-alpha.0.253+23d9a48e6a59bc"`, which is larger than `MinimumKubeletConfigVersion = version.MustParseSemantic("v1.11.0-alpha.1")`.

@ivan4th So when running

[2018-05-24 13:45] timothysc commented on #772
/assign @rdodev

[2018-05-24 14:40] jessfraz opened #855 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 14:41] rajansandeep commented on #843
@neolit123 Is it ok if I can help out with the documentation?

[2018-05-24 14:56] neolit123 commented on #843
@rajansandeep that would be much appreciated. thank you.

can you please verify that the non-kubeadm links above need any updates?
we kind of searched for "dns" and ended up with that list.

[2018-05-24 14:58] rajansandeep commented on #843
@neolit123 Sure. I'll check.
There will be a separate PR for each link?

[2018-05-24 16:12] detiber commented on #837
My apologies, I'm just now seeing this. @chuckha did the original work for the static-pod HA etcd docs, I'll work with him over the next couple of days to see if we can help straighten out the HA upgrades.

[2018-05-24 16:37] FloMedja commented on #837
@detiber thanks you. the upgrade plan finally work. but i face some race conditions issues when tries to upgrade the cluster. sometime it work sometimes i hae the same error as [kubernetes/kubeadm/issues/850](https://github.com/kubernetes/kubeadm/issues/850) . kubeadm run into race condition when try to restart a pod on one node.

[2018-05-24 16:38] neolit123 opened #856 "rename the `kube-dns` property in `kubeadm alpha phase addon`"
the `kube-dns` addon property is being present in `kubeadm alpha phase addon`.

the docs also mention the following:
[code]
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-alpha/#cmd-phase-addon

CoreDNS is on by default in 1.11 which suggests that both the docs and the `addon` sub command need to change for that.

TODO:
- rename the addon property to `coredns` in `.....phases/add

[2018-05-24 16:41] #732 closed

[2018-05-24 16:41] #650 closed

[2018-05-24 18:35] detiber opened #857 "kube-proxy needs to be configured to override hostname in some environments"
Currently in environments where a user must configure --hostname-override for the kubelet (such as AWS), kube-proxy is currently being deployed in a degraded state. Specifically, Services of type `NodePort` and `LoadBalancer` where `externalTrafficPolicy: local`.

Since we are deploying kube-proxy as a daemonset that means that the only options available are to override the command arguments using

[2018-05-24 18:35] detiber commented on #846
@luxas I created a separate issue to track the kube-proxy related config: https://github.com/kubernetes/kubeadm/issues/857

[2018-05-24 18:36] detiber commented on #857
related kube-proxy issue: https://github.com/kubernetes/kubernetes/issues/57518

[2018-05-24 21:41] carlosedp commented on #850
Upgrading my ARM64 1.9.7 cluster to 1.10.3 resulted in timeout as well. Here are the `kubeadm` and `kube-apiserver` logs:

**kubeadm**

[code]

**kube-apiserver**

[code]

[2018-05-25 09:58] denis111 commented on #850
I had the same error everytime but today it just upgraded, so the current workaround is just keep trying :)

[2018-05-25 10:11] FNaughton commented on #684
+1  kubeadm 1.10.2 on CentOS 7
4GB RAM  2CPUs

[2018-05-25 14:30] timothysc commented on #857
@luxas This is a nasty config issue, we need to chat with the @kubernetes/sig-network-bugs folks on this b/c the UX and work - arounds are really ugly.

[2018-05-25 16:15] dag24 commented on #122
@chinglinwen I am also trying to deploy the Kong ingress controller. I am using kubeadm to create the cluster, not using GKE or AWS (so I cannot simply use `LoadBalancer` to expose it). In case it helps, here is what I did. First I started the cluster using a port range of 80-32767 (as root):

[code]

Then, I used `nodePort: 80` on the kong-proxy service:

[code]

Now I can access the kong ingress

[2018-05-25 17:07] detiber commented on #837
I ran into some snags getting a test env setup for this today and I'm running out of time before my weekend starts. I'll pick back up on this early next week.

[2018-05-25 17:54] randomvariable commented on #845
Was going to pick this up, but notice you have #847, but we also want run time detection, or sensible defaulting for newer Ubuntu's don't we?

[2018-05-25 18:12] timothysc commented on #837
/assign @chuckha @detiber

[2018-05-25 21:51] chuckha opened #859 "Improve logging on kubeadm reset for external etcd"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
v1.10.3

## What happened?
I ran kubeadm reset with an external etc and got this message:
[reset] No etcd manifest found in "/etc/kubernetes/manifests/etcd.yaml". Assuming external etcd.

## What you expected to happen?
I would expect it to tell me that i need to manually go and

[2018-05-26 05:05] stealthybox commented on #859
Interesting -- does kubernetes pick up where it left off if you re-init against etcd?
If so, we should ensure that the message expresses that this is optional.

[2018-05-26 13:33] xlgao-zju commented on #855
I'd like to help this, but I am not sure whom I should add in the SECURITY_CONTACTS file. :(

[2018-05-26 14:12] chinglinwen commented on #122
@dag24 Thank you. I did it in the same way as you do, it's okay now ( though encounter a issue of CNI not clean up enough while re-create the cluster ).

It's now expose 80 and 443 on every nodes. so DNS can simply resolve to node's ip. Everything's work as expected, I'm not sure if kube-proxy will be the bottleneck or not, (Also I've notice the sessionAffinity to clientip may not work for Kong in

[2018-05-26 14:45] xlgao-zju opened #860 "completion: add note that 'bash-completion' is required on Linux too"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):v1.9.3

**Environment**:
- **OS** (e.g. from /etc/os-release): CentOS 7.4
- **Kernel** (e.g. `uname -a`): Linux iZbp1h3apv3aahc08gsdbhZ 3.10.0-693.2.2.el7.x86_64 #1 SMP Tue Sep 12 22:26:13 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **Others**:I am using bash

## What happened?
After I r

[2018-05-26 15:00] xlgao-zju commented on #860
I just finger out I did not install the `bash-completion`, we can close it.
But should we tell the users that they should check the installation of `bash-completion`, since we only mention the Mac in the help...
[code]

[2018-05-26 15:15] neolit123 commented on #860
But should we tell the users that they should check the installation of bash-completion, since we only mention the Mac in the help...

yes, definitely.

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/completion.go#L55

should be changed to something like:
[code]

please, feel free to `/assign` if you want to make the change.

[2018-05-26 15:46] xlgao-zju commented on #860
/assign

[2018-05-26 15:58] xlgao-zju commented on #860
@neolit123 I am very interested in `kubeadm`, I'd like to do some contribution. So feel free to ping me, if there is anything I can help(though I am a beginner of `kubeadm`). 😆

[2018-05-26 16:05] neolit123 commented on #860
@xlgao-zju
sure, contributions are welcome!

[2018-05-26 18:09] luxas commented on #855
Initially I'd propose adding @timothysc @fabriziopandini and myself. @xlgao-zju please create such a file and cc us :)

[2018-05-26 21:17] neolit123 commented on #849
WIP for `Customizing control plane arguments with kubeadm`:
https://docs.google.com/document/d/1KuDHonX_5-tZqTO17muBtDOFQKLmMN0K1eXh-q24Ny8/edit?usp=sharing

[2018-05-28 06:16] hh commented on #819
- [ ] https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-upgrade-stable-master
Doesn't seem to be healthy, heaps of e2e tests executed
- [ ] deprecating all *1.8*
- [ ] upgrade* 1.10-11 (create a 1.10 cluster using 1.10, then upgrade to 1.11 using 1.11)
- [ ] kubeadm-gce-1.11 (creating 1.11 cluster using latest 1.11 branch)
- [ ] kubeadm-gce-1.10-on-1.11 (creating a 1.10 cluste

[2018-05-28 12:11] SpComb commented on #814
Per https://github.com/kubernetes/kubernetes/pull/63907#issuecomment-390002464 this does not seem to be getting a 1.10 backport... if I'm understanding this issue correctly, then that means that with the latest 1.10.x release `kubeadm join` is broken for the default Docker runtime *if* you happen to have `crictl` installed:

[code]

Workaround is to not install `crictl`, which is a bit odd because

[2018-05-28 13:56] neolit123 commented on #843
@rajansandeep

so the kubeadm related changes are mostly submitted as PRs now (list in first post).

i'm not sure you had a look at what has to be changed here:
https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/

i've created a google docs file to allow us to discuss this:
https://docs.google.com/document/d/1RFAN8e0q_Zfyyz9ZYGB6m-vaArgAZsnrsbv8BaQdH8o/edit?usp=sharing

ple

[2018-05-28 14:39] simmessa commented on #684
+1 kubeadm 1.10.1 on Debian Stretch (go1.9.3) on a HyperV VM with 6GB of RAM and 1 VCPU

[2018-05-28 14:50] simmessa commented on #684
Tried switching to 2 VCPUs in HyperV, nothing changes.

[2018-05-28 15:06] ocofaigh commented on #709
Quick update on my comments in https://github.com/kubernetes/kubeadm/issues/709#issuecomment-391665776
Managed to get the etcd cluster running using the "run etcd using systemd" steps. My problem was the config.yaml endpoints were set to https and I had set etcd up on http

[2018-05-28 19:31] seh commented on #859
Note that [the _kubeadm reset_ documentation does mention this need](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-reset/#external-etcd-clean-up), but that takes nothing away from the validity of your request for improvement here.

[2018-05-28 20:56] hh opened #863 "Deprecating testing infra for v1.8"
Separating out from kubernetes/kubeadm#819 kubernetes/test-infra#8142

[2018-05-28 21:00] hh commented on #863
/cc @kubernetes/sig-cluster-lifecycle  @luxas

[2018-05-29 01:20] #856 closed

[2018-05-29 01:22] hppx5456 opened #864 "Use hpa to cause the controller-manager to run down"
i want use hpa in my cluster
when i add --horizontal-pod-autoscaler-use-rest-clients=true into kube-controller-manager.yaml
i see  my kube-controller-manager-master is stop
when i delete -horizontal-pod-autoscaler-use-rest-clients=true
Business as usual

[2018-05-29 07:59] cristifalcas opened #865 "kubeadm doesn't worj if kubelet has --read-only-port=0"
## What keywords did you search in kubeadm issues before filing this one?
10255

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.9.6

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.9.6
- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release): fedora-ostree
- **Kernel**

[2018-05-29 08:11] luxas commented on #865
This is being fixed in kubeadm v1.11 which is about to be released late June.

[2018-05-29 08:11] #865 closed

[2018-05-29 08:30] luxas commented on #840
This got fixed by https://github.com/kubernetes/kubernetes/pull/64165

[2018-05-29 08:30] #840 closed

[2018-05-29 08:37] luxas commented on #273
As we have the preflight check (added in https://github.com/kubernetes/kubernetes/pull/63691), I'm gonna close this
To make this work automatically, we have filed https://github.com/kubernetes/kubeadm/issues/845

[2018-05-29 08:37] #273 closed

[2018-05-29 08:41] neolit123 opened #866 "Remove usage of `PersistentVolumeLabel` in phases/controlplane/manifests*.go"
This PR added usage of `--disable-admission-plugins=PersistentVolumeLabel` as an APIServer argument:
https://github.com/kubernetes/kubernetes/pull/64165
https://github.com/kubernetes/kubernetes/pull/64165/files#diff-366b1adfb12059a0ddf31d524e8827cbR145
it was done because we need to support 1.10 and because `--admission-control` is deprecated.

TODO (do this on a later stage in 1.11, not now)
remo

[2018-05-29 08:48] luxas commented on #863
We can do this when v1.11 is released.

[2018-05-29 08:49] luxas commented on #863
You can always already send the PR though ;)

[2018-05-29 09:17] luxas commented on #851
Or we could just say our config file can look like this:
[code]

@timothysc @fabriziopandini @mtaufen WDYT?

[2018-05-29 09:17] luxas commented on #851
Also xref related: https://github.com/kubernetes/kubeadm/issues/847

[2018-05-29 12:16] #825 closed

[2018-05-29 13:18] neolit123 commented on #819
i suggest we extend this `README.md`:
https://github.com/kubernetes/kubeadm/tree/master/tests/e2e

* title the whole document `E2E tests for kubeadm`
* move `Tools for verifying Kubernetes packages are published` into a sub-section
* include another section that can outline some of the steps in the video you guys did:
https://www.youtube.com/watch?v=aTGbdPU0fE8

[2018-05-29 13:31] JPGrieb opened #867 "Error: Couldn't parse external etcd version -- TLS issue"
## Is this a request for help?

Yes

## What keywords did you search in kubeadm issues before filing this one?

"couldn't parse external etcd version"

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**

kubeadm version: 1.10.3

**Environment**:
- **Kubernetes version** 1.10.3
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-rel

[2018-05-29 13:44] neolit123 opened #868 "document the process of bumping test-infra on each release"
we need to document the process of adding new e2e jobs/ tests for a new release and removing older tests:

issue for 1.11:
https://github.com/kubernetes/kubeadm/issues/819

proposal:

https://github.com/kubernetes/kubeadm/tree/master/tests/e2e

move Tools for verifying Kubernetes packages are published into a sub-section
include another section that can outline some of the steps in the video you g

[2018-05-29 14:04] neolit123 commented on #867
@JPGrieb @timothysc
(i was about to close it. :))

this is a duplicate of:
https://github.com/kubernetes/kubeadm/issues/719

a possible fix was pushed here:
https://github.com/kubernetes/kubernetes/pull/60585

and should be available in 1.11.
right now it should report something like `server responded with non-successful status: xxxxxxx`
this might get added in 1.10.4, but i cannot confirm that fo

[2018-05-29 14:05] timothysc commented on #850
/assign @detiber @chuckha

[2018-05-29 15:35] davemac30 commented on #659
I just hit this issue myself. I was able to calculate the sha256sum of the ca cert's public key using the following:

`$ openssl x509 -in /etc/kubernetes/pki/ca.crt -noout -pubkey | openssl rsa -pubin -outform DER 2>/dev/null | sha256sum | cut -d' ' -f1`

Not pretty...

[2018-05-29 15:45] stefaneg commented on #193
In addition, I had to restart the node and delete (recreate) the pods for flannel and kube-dns to be able to communicate with kube-api on 10.96.0.1:443

[2018-05-29 16:53] rajansandeep opened #870 "dns - GetDNSVersion does not depend of the version"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

Reopening the issue from here: https://github.com/kubernetes/kubernetes/issues/64454

## Versions

**kubeadm version** (use `kubeadm version`):
 last one - master for 1.11

## What happened?
From that Review : https://github.com/kubernetes/kubernetes/pull/64258

in this piece of code : https://github.com/kubernetes/kubernetes/pull/64258/file

[2018-05-29 18:00] stealthybox commented on #867
@neolit123 it was cherry-picked in https://github.com/kubernetes/kubernetes/pull/64048

[2018-05-29 18:13] qingsongli1979 opened #871 "Kubelet periodically lose TCP connection with pods when doing liveness/readiness probe check on GKE"
We have an software system deployed in a single GKE(google kubenetes engine) cluster node which using around 100 pods, in each pod we defined TCP readiness probe, now we could see the readiness probe periodically fails with "Unable to connect to remote host: Connection refused" on different pods.
With the tcpdump traces on the cluster node and the failing pods, we find that the packets sent from t

[2018-05-29 18:15] #871 closed, assigned to nobody

[2018-05-30 02:44] #855 closed

[2018-05-30 05:37] fabriziopandini commented on #851
+1 to

[2018-05-30 08:48] adohe opened #872 "kubeadm cannot specify ControlPlaneEndpoint when do init"
fyi. When use `kubeadm init`, I would hope that I can specify a stable IP address of DNS name for control plane.

[2018-05-30 11:41] rosti commented on #839
Regarding cases 6 & 7 of my comment above (the RBAC cases), the `k8s.io/kubernetes/pkg/apis/rbac/v1` package is not very large and it has only dependencies that we actively use (yet no `k8s.io/kubernetes/pkg/apis` stuff).
Thus I don't think, that this package is worth the havoc of removing it (or reworking it). I suggest keeping it as is.
@luxas WDYT?

[2018-05-30 13:35] neolit123 commented on #844
**NOTE:** keeping this issue for the rest of the CRI.

[2018-05-30 14:27] neolit123 commented on #872
hi, could you please fill this issue report as described in our issue template:
https://github.com/kubernetes/kubeadm/blob/master/.github/ISSUE_TEMPLATE.md

more details are needed. thanks.

[2018-05-30 14:45] neolit123 opened #873 "document "kubeadm config migrate""
implementation PR:
https://github.com/kubernetes/kubernetes/pull/64232

docs PR:
https://github.com/kubernetes/website/pull/8862

[2018-05-30 15:55] luxas commented on #844
@neolit123 Would you be okay with keeping this in the v1.11 milestone to track what's needed for v1.11 and then open a new to track the rest of the CRI work in order to not change purpose midterm?

[2018-05-30 15:57] neolit123 commented on #844
@luxas ok!

[2018-05-30 16:03] neolit123 opened #874 "remove the docker cgroup driver detection"
#### old issue was tracking cgroup driver detection for docker and other CRs

this is targeting 1.22.

remove the docker cgroupdriver detection in kubeadm:
- [x] k/k PR:
https://github.com/kubernetes/kubernetes/pull/99647

- [x] k/website PR:
sent website PR to update these pages after the change:
https://github.com/kubernetes/website/blob/281df0c16b0ce403bfa1442388794c13fbcc9d27/content/en/docs/s

[2018-05-30 17:08] stealthybox commented on #845
/assign

[2018-05-30 17:09] #847 closed

[2018-05-30 17:12] stealthybox commented on #845
We plan to get this into 1.11 before the weekend.
-- discussed in [Kubeadm Office Hours - Wed May 30](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.fbui5cp64xwk)

[2018-05-31 00:34] #860 closed

[2018-05-31 01:30] timothysc commented on #818
I don't think we should turn on something like this by default, b/c it gets into policy.  I'd prefer to have a guide for folks to hook into instead, especially given the dynamic webhook proposal.

https://github.com/kubernetes/community/pull/2188

[2018-05-31 03:17] #844 closed

[2018-05-31 05:56] hsachdevah commented on #703
Were you able to solve the issue? What was the problem?

[2018-05-31 10:56] OlegPS commented on #730
You can try to add _serverCertSANs_

[2018-05-31 13:06] albertvaka opened #875 "kube-scheduler can't start when upgrading from 1.9 to 1.10"
## Versions

**kubeadm version**: 1.10.3

**Environment**:
- **Kubernetes version**: Upgrading 1.9.6 to 1.10.3
- **Cloud provider**: GCE
- **OS**: Ubuntu 16.04
- **Kernel**: 4.13
- **Others**: Using calico CNI

## What happened?

Upgrading from 1.9.6 to 1.10.3 with `kubeadm upgrade` gets stuck waiting for kube-scheduler to start, until it times out. kube-scheduler fails to start and enters in a cr

[2018-05-31 14:09] chuckha commented on #867
I ran into this issue and it was because I used the wrong certs (user error, I swapped the cert/key files in my config). I'm happy closing this one with that cherry pick/PR.

Double checking the correct use of certs this is what I found and it looks good to me:

https://github.com/kubernetes/kubernetes/blob/release-1.10/cmd/kubeadm/app/preflight/checks.go#L917

https://github.com/kubernetes/kubern

[2018-05-31 14:19] neolit123 commented on #867
thanks for confirming, @chuckha !

[2018-05-31 14:19] #867 closed

[2018-05-31 14:53] ragovi opened #876 "ek"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-05-31 16:22] neolit123 commented on #876
the description is empty.
re-open if see fit.

[2018-05-31 16:22] #876 closed

[2018-05-31 17:04] liztio opened #877 "Allow overriding the version enforcement with --force"
Right now, because of bugs we've encountered in the past, we only allow upgrading to kubernetes 1.x.? with a kubeadm also versioned 1.x. This avoids some issues associated with kubeadm serialising structs in ways that are possibly incompatible, but it makes certain kinds of testing more difficult.

Pros:
* Easier testing of upgrades and downgrades
* Lets power users manually change configuration

[2018-05-31 17:11] timothysc commented on #877
In general, I'm a plus +1 on letting power users blast their own foot off.

[2018-05-31 18:47] chuckha commented on #852
[code]

This looks a lot better

[2018-05-31 19:51] albertvaka commented on #875
Fixed by using `kubeadm init` instead.

[2018-05-31 19:51] #875 closed

[2018-05-31 20:00] albertvaka opened #878 "kubeadm uses deprecated kubelet flags"
BUG REPORT

## Versions

**kubeadm version**: 1.10.3

**Environment**:
- **Kubernetes version**: 1.10.3
- **Cloud provider**: GCE
- **OS**: Ubuntu 16.04
- **Kernel**: 4.13
- **Others**: Using calico CNI

## What happened?

Installing kubeadm via apt (repo: https://packages.cloud.google.com/), as recommended in https://kubernetes.io/docs/tasks/tools/install-kubeadm/ results in the following files b

[2018-05-31 20:14] neolit123 commented on #878
the kubelet is newer than what kubeadm expects.
you can fix that moving the params you need to the kubelet config:
https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/

the systemd drop-in from kubeadm would look like this in 1.11:
[code]

i have no information if some of that is going to be cherry-picked in 1.10.x.

[2018-05-31 22:06] luxas commented on #878
This is a main feature coming in v1.11 and working at HEAD. See: https://github.com/kubernetes/kubeadm/issues/822

[2018-05-31 22:06] #878 closed

[2018-05-31 22:45] #821 closed

[2018-06-01 07:43] egism commented on #684
+1. kubeadm 1.10.1, Debian Stretch. Worked before

[2018-06-01 07:51] FNaughton commented on #684
Discovered that with docker 1.13.1 on Centos 7 we saw issues with the storage driver. Docker logs showed 'readlink /var/lib/docker/overlay2/l: invalid argument'. Moving to docker 18.03.1-ce seems to solve this issue and kubeadm init no longer hangs.

[2018-06-01 08:55] #819 closed

[2018-06-01 09:03] rosti commented on #870
I'll give this one a try.

[2018-06-01 14:07] liztio commented on #489
#2 and #3 finished by [#64337](https://github.com/kubernetes/kubernetes/pull/64337)

[2018-06-01 14:07] #489 closed

[2018-06-01 14:36] stealthybox commented on #860
@xlgao-zju here's the [help-wanted](https://github.com/kubernetes/kubeadm/labels/help%20wanted) issue query :+1:
Definitely feel free to `/assign` yourself to any open issues :)

Also, the development slack channel is [kubernetes#sig-cluster-lifecycle](https://kubernetes.slack.com/messages/C13J86Z63/), and we have [office hours](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpksh

[2018-06-01 14:52] #877 closed

[2018-06-01 16:39] neolit123 commented on #832
Fixed by https://github.com/kubernetes/website/pull/8617

[2018-06-01 16:39] #832 closed

[2018-06-01 16:50] neolit123 opened #880 "document "kubeadm config images *""
A couple of new commands were added:
`kubeadm config images pull`
`kubeadm config images list`

imp. PRs:
https://github.com/kubernetes/kubernetes/pull/63833
https://github.com/kubernetes/kubernetes/pull/63450

the generated docs `.md` file names needs to be included in the main `kubeadm-config.md` page and a note has to be added about the new commands.
we don't include the generate files in the `

[2018-06-01 18:30] liztio commented on #649
I've verified that that `kubeadm  alpha phase certs apiserver` does _not_ work. We can't add a command to do this rotation this late in the freeze cycle, so unfortunately we'll have to punt this out.

[2018-06-01 20:45] timothysc commented on #868
Umm I want to burn some of this in 1.12, so when we plan for that cycle lets talk.

[2018-06-01 21:11] timothysc commented on #827
/assign @liztio

FYI , bugs can be fixed beyond code-freeze.

[2018-06-01 21:17] timothysc commented on #842
@neolit123 @luxas what are we doing here.  I really want to avoid generated docs and instead link out to godocs where possible.

[2018-06-01 21:20] chuckha commented on #827
I think this could get kubeadm into a weird space, I'd be more inclined to surface a validation error that informs the user the apiServerCertSAN must be a valid DNS name and not try to guess what the user meant.

Lowercasing unicode points isn't strictly easy, but maybe go takes care of it for us?

[2018-06-01 21:33] neolit123 commented on #842
@timothysc

so the old PR from Fabrizio that @luxas mentions in the OP is generating docs and including docs.
this has changed and we only have to submit PRs to `<include>` the generated .mds in `website` pages.

i will mention the above in:
https://github.com/kubernetes/kubeadm/blob/master/CONTRIBUTING.md

i think part of the idea here is to also be able to include automatically generated YAMLs f

[2018-06-02 10:58] christhomas opened #881 "kubeadm init fails, etcd problem?"
So, I am trying to install kubernetes on my system, here is some important information

root@s1:~# cat /etc/debian_version

root@s1:~# uname -a

root@s1:~# kubeadm version

root@s1:~# docker version

Not sure what other information might help, selinux is not installed, systemd is installed.

Here are the logs that I get from attempting to install it. I think it's a problem with etcd

[2018-06-02 11:29] christhomas commented on #881
Hey, I need to do the kubeadm init first, right? My cluster doesn't get to the stage where I can install a pod network. Etcd seems to die part way through the init process

[2018-06-02 11:41] neolit123 commented on #881
yes.

i think this is part of the problem:
[code]

can you access `85.93.26.192:6443`?
it could be a proxy issue...maybe try adding it as a proxy exception:
http://xmodulo.com/how-to-configure-http-proxy-exceptions.html

just guessing.

[2018-06-03 06:46] 372046933 commented on #338
How do you guys deal with the changed master IP?

[2018-06-03 18:58] stealthybox opened #882 "etcd health probe does not support server --listen-client-urls=https://0.0.0.0:2379"
/kind bug
/area etcd
/priority important-soon

**kubeadm version** 1.10.0+

## What happened?
When defining `.Etcd.ExtraArgs["listen-client-urls"]` to configure etcd to listen on all interfaces, the etcdctl probe always times out causing the static pod etcd to eventually crashloop and make the cluster unusuable.

My use-case was exposing etcd for use by calico in a small multi-node cluster.
@mauil

[2018-06-03 19:57] Petrox commented on #613
And it should be .deb distributed if kubeadm depends on it. If not then it's just some optional utility - that should be packaged still.

[2018-06-04 14:33] Bradamant3 commented on #842
Folks, we've conflated two different issues here: the OP, which was about the current kubeadm docs and how we produce them, and a related but different issue specifically about generating the YAML at https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file. @neolit123 has some good thoughts about the YAML, but let's set them aside for now. For the larger issue about the k

[2018-06-04 14:38] chuckha commented on #852
We call out to some services outside of kubeadm that do use bare glog.Infof logging. These few lines might require a bigger solution/discussion with folks from apiserver or kubelet (sig-node?) folks as well as the people in charge of test/e2e.

I'm making a new ticket with details. The PR I opened will at least set a precedence so people don't continue to use bare glog logging within kubeadm.

[2018-06-04 14:40] liztio commented on #584
Gonna validate @luxas's solution

[2018-06-04 14:51] chuckha opened #883 "Inconsistent logging during kubeadm init"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

During `kubeadm init` we call out to two places in the code that use bare glog logging. Since we do not log with this style, we end up with some glog output in the middle of our nice output without the prefix.

There is no way to remove the prefix in glog logging.

The two calls are

[test/e2e](https://github.com/kubernetes/kubernetes/bl

[2018-06-04 14:58] timothysc commented on #882
/assign @stealthybox @detiber

[2018-06-04 15:20] #845 closed

[2018-06-04 16:27] mattkelly commented on #850
This issue appears to manifest much more frequently when attempting the upgrade path `v1.10.1 --> v1.11.0-rc.1` FWIW.

[2018-06-04 18:22] chuckha opened #884 "kubeadm does not work with v1alpha1 configurations"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
latest

**kubeadm version** (use `kubeadm version`):
'kubeadm version: &version.Info{Major:"1", Minor:"12+", GitVersion:"v1.12.0-alpha.0.763+d1b72711809dbe-dirty", GitCommit:"d1b72711809dbe81b8ffc874810404cdcee7fb69", GitTreeState:"dirty", BuildDate:"2018-06-04T18:19:11Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd6

[2018-06-04 18:35] liztio commented on #827
Lowercasing Unicode isn't easy, but we probably want punycode for non-ascii characters anyway. That makes this more straightforward.

[2018-06-04 18:39] christhomas commented on #881
I'm a bit confused, because I don't have a proxy installed?

[2018-06-04 22:14] javendo commented on #881
+1

[2018-06-04 22:28] neolit123 commented on #880
i have this in the works.
@chuckha please ping if you object.

[2018-06-04 23:02] christhomas commented on #881
ok, so I tried going up and down the versions of kubelet, kubeadm, kubernetes-cni. version 1.8.13-00 works and goes through to completion. But anything above that, 1.9.x, fails with being unable to bring up the master, the kubeadm init always hangs and never completes.

So it must be something to do with the newer versions, 1.9.x and 1.10.x that is causing this problem

[2018-06-04 23:56] #852 closed

[2018-06-05 09:00] yuxiaoba commented on #381
How to change namesapce correctly?

[2018-06-05 13:12] kedizhou opened #885 "the kit of kubeadm in kubernet 1.10 encounter issue"
i use kubenetes 1.10 binary package,when i use （cause i thought specify image mirror address）:
`kubeadm init --config init.yaml`
the contents is:
[code]
block on stage with
[code]

my question is:
1.this stage is downing images?
2.kubeadm init kit will auto boot/start docker kubenetns manage images?

[2018-06-05 13:13] kedizhou commented on #885
/sig scalability

[2018-06-05 13:52] kedizhou commented on #885
/help

[2018-06-05 15:35] neolit123 opened #886 "Provide the users with a filtered list of know bugs / workarounds"
@detiber made a good proposal at Slack:

We can have some links under a `Known bugs` section here:
https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/

there could be links that filter the `k/kubeadm` issue list by a set of (new) labels, that indicate to the users that we know about certain bugs and that there are workarounds for them, until we fix them.

Link titles:
- Known bug

[2018-06-05 16:01] detiber commented on #881
@christhomas I just attempted to replicate this using the [debain/stretch64 Vagrant box](https://app.vagrantup.com/debian/boxes/stretch64) and I was able to stand up a cluster without issue.

What type of infrastructure are you running?

It is possible that you are hitting a timeout waiting for the etcd image to pull or the pod to start. Do you see any etcd containers in the output of `docker -ps

[2018-06-05 17:09] timothysc commented on #849
/assign @liztio

[2018-06-05 17:22] luxas commented on #822
Reopening this momentarily to track the merge of the final PRs related to this

[2018-06-05 17:53] timothysc opened #887 "Additions to trouble shooting guide."
This issue is a parent catch all for items that need to be updated in the kubeadm troubleshooting documentation listed here - https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/

1. With modifications from 1.10 Config there are a number of args that no longer will apply on 1.11 and we should outline a path for folks to migrate to using extra-args.  I highly recommend enumerating

[2018-06-05 20:52] christhomas commented on #881
It's just a normal vps with debian 9 installed, I've reformatted a couple of times, I've gone through upgrading the kernel and setting sysctl flags for ip forwarding and I've just been unable to stand up anything above 1.8.x

[2018-06-05 20:53] christhomas commented on #881
I'm seeing a LOT of connection refused commands to the api server, but if I curl the api server I get all the endpoints like I'm expecting. It's like there is a network problem that I'm unaware of

[2018-06-05 21:31] #884 closed

[2018-06-05 21:48] christhomas opened #888 "How can I upgrade v1.8 to v1.10"
I've got a cluster which is on 1.8, I'm trying to upgrade so I'm trying to do a 'kubeadm upgrade plan' and I'm told that:

[code]

I followed the instructions on this page: https://kubernetes.io/docs/tasks/administer-cluster/upgrade-downgrade/kubeadm-upgrade-1-9/

and I downloaded the kubeadm file as given in those instructions.

So can anybody tell me how I can move forward?

[2018-06-05 21:51] PGP-Protector commented on #881
I'm having the same issues, I did try one thing to see if I could get past it.
After just waiting for it to time out (it will after quite a while) It reported part of the issue might be that it can't download the images.  So I did a manual docker pull (just now) on these images
 docker pull k8s.gcr.io/kube-apiserver-amd64:v1.10.3
 docker pull k8s.gcr.io/kube-controller-manager-amd64:v1.10.3
 docke

[2018-06-05 21:55] christhomas commented on #881
I have manually tried to download the images, it doesn't seem to make any difference at all though, I'm still stuck, I've already tried this with a pod network cidr value same as your given value too. Nothing helped.

But if I download kubectl/adm/cni to 1.8.13 / 0.5.1, then everything works fine, I initialise the cluster just fine. But then I cannot upgrade to 1.9 because the instructions on the

[2018-06-05 22:12] neolit123 opened #889 "document `kubeadm upgrade node config`"
implementation PR:
https://github.com/kubernetes/kubernetes/pull/64624

[2018-06-05 22:33] luxas commented on #888
You need to upgrade v1.8 to v1.9 first, and then v1.9 to v1.10.
Cheers!

[2018-06-05 23:27] #846 closed

[2018-06-06 01:34] Random-Liu commented on #811
Cool! Thanks a lot for working on this!

[2018-06-06 05:33] luxas commented on #584
This is fixed in v1.11 thanks to https://github.com/kubernetes/kubernetes/pull/64706.
Now information in `--node-name` flows down to `--hostname-override` for the kubelet, which is respected in all cases but using an in-tree cloud provider.

[2018-06-06 05:33] #584 closed

[2018-06-06 05:36] dixudx commented on #835
/assign

[2018-06-06 05:39] christhomas commented on #888
I'm really unsure why you closed this issue without further comment from me, and it appears clear that you did not read what I wrote. So how do you consider this issue closed?

[2018-06-06 07:03] feiskyer commented on #811
cool! Looking forward to it

[2018-06-06 09:19] bart0sh commented on #811
The check is confusing as having crictl installed doesn't mean that kubeadm should use it. I'd propose to quickly fix it the way similar to [this](https://github.com/kubernetes/kubernetes/pull/62481), i.e. by running "crictl info" only if user specified cri socket explicitly using --cri-socket.

This is very confusing and can lead to further confusion if user installs crictl. Having crictl install

[2018-06-06 12:36] Evengard commented on #684
I had the same problem. Turned out etcd pulled the linux machine hostname (somedomain.example.com), searched for it on a DNS server, found an answer for the wildcard domain (*.example.com) and tried to bind to the returned IP address instead of the apiserver-advertise-address.

[2018-06-06 14:41] kedizhou commented on #885
/remove-help
i resloved, upgrade kubelet/kubeadm with yum.

[2018-06-06 14:41] #885 closed

[2018-06-06 15:27] #870 closed

[2018-06-06 16:40] timothysc commented on #887
Cloud provider integration ..?
/cc @detiber @Bradamant3

[2018-06-06 17:14] neolit123 commented on #887
this has to go under the Troubleshooting guide:
https://github.com/kubernetes/kubeadm/issues/886

folks ideally should comment on the proposed labels and links.
(the links are static and will not change over time as long as we don't change the labels).

[2018-06-06 17:21] neolit123 opened #892 "document the latest config under the kubeadm-init website page"
document the latest config we have here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

as discussed on the meeting:
https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#

[Lubomir] What should we do with configs? link out? generate them? Current idea is to encode current version (v1alpha2) and link to the godoc.
[Tim] We should have a separ

[2018-06-06 17:31] neolit123 opened #893 "explain how we submit PRs for generated command docs in CONTRIBUTING.md"
the submission for `k/website` PRs about things like kubeadm commands has to be explained in detail, so that we can get other folks working on documenting new commands.

right now i believe only me and @fabriziopandini know how to do that from the kubeadm team.

the addition should be made in the `CONTRIBUTING.md` file in the `k/kubeadm` repo.

@timothysc @Bradamant3

[2018-06-06 17:32] neolit123 commented on #893
idea came from from the discussion here:
https://github.com/kubernetes/kubeadm/issues/842

[2018-06-06 17:34] neolit123 commented on #842
ok, we are leaving this issue only for the original topic:
`Generate documentation automatically from our external API types and CLI commands`

the two other ideas that came from this discussion are now  logged in separate issues:
`document the latest config at website under the kubeadm-init website page`
https://github.com/kubernetes/kubeadm/issues/892
`explain how we submit PRs for generated com

[2018-06-06 18:10] neolit123 commented on #526
it the kubeadm office hours meeting today (06.06.2018) it was decided the following:

https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#

^ the above is open to discussion.
@timothysc @Bradamant3 @srflaxu40

[2018-06-06 18:12] neolit123 commented on #849
should we change the milestone and labels for this?
@timothysc

from the meeting (06.06.2018):

[Lubomir] should we do this now or in the next few weeks?
[Jennifer] docs folks don’t have time for this in 1.11 right now. Best to do this anytime after 1.11 is out the door.

[2018-06-06 18:54] timothysc opened #894 "1.11 Copy edits to Setup: "Using kubeadm to Create a Cluster""
Instead of dozens of issues we will collect updates and do bulk PRs to content areas.

https://docs.google.com/document/d/11irKjRDqHCP38WtMt3j2ZjDB0VtgNHGdf5RIlVOLhuc/edit#heading=h.z7o9rstbcxog

[2018-06-06 18:57] timothysc commented on #894
This page should really be: "Creating a single master cluster with kubeadm"

[2018-06-06 19:08] timothysc opened #895 "1.11 Copy edits to Setup: "Creating HA clusters with kubeadm""
Make edits on someone on this team submit the PR.

https://docs.google.com/document/d/1GFkc9rPQG2YMsMlEgGrXzJxkP2BMFcghMinet_QyyKM/edit#heading=h.opcqam64ycrv

/assign @timothysc @neolit123 @chuckha @detiber @rdodev

[2018-06-06 19:23] timothysc opened #896 "1.11 Copy edits to Setup: "Troubleshooting kubeadm""
https://docs.google.com/document/d/1a96Q4Ax8G4Qzz0xWLRfU4uRVeOZmiyoCIO3uN_X05yA/edit?usp=sharing

/assign @liztio @fabriziopandini  @detiber @timothysc @neolit123

@liztio please take lead on this one.

[2018-06-06 19:32] timothysc commented on #895
Please roll in details of https://kubernetes.io/docs/tasks/administer-cluster/setup-ha-etcd-with-kubeadm/  into a single cohesive HA doc for kubeadm.

[2018-06-06 19:34] timothysc commented on #896
@stealthybox - you've came across a number of items in case you want to help out here.

[2018-06-06 19:38] timothysc commented on #887
Rolling this into a single larger group copy edit issue https://github.com/kubernetes/kubeadm/issues/896  closing this issue and rally there.

[2018-06-06 19:38] timothysc commented on #886
@detiber @liztio  Rolling this into a single larger group copy edit issue #896 closing this issue and rally there.

[2018-06-06 19:38] #886 closed

[2018-06-06 19:38] #887 closed

[2018-06-06 19:39] neolit123 opened #897 "1.11 Copy edits to Setup: "Using CoreDNS for Service Discovery""
Instead of dozens of issues we will collect updates and do bulk PRs to content areas.

tracking sheet:
https://docs.google.com/spreadsheets/d/1SQ-_FYq9vDCvizIQUZIhfk5IydPf9loCBYlk5m7HwWw/edit#gid=0

We want to discuss if this page needs any kubeadm related improvements:
https://github.com/kubernetes/website/blob/release-1.11/content/en/docs/tasks/administer-cluster/coredns.md
(mind that i'm linkin

[2018-06-06 19:39] timothysc commented on #526
I'll take this one.

[2018-06-06 19:42] timothysc commented on #849
We can leave this one open for now just for todo list, but pr in bulk on the copy-edit issues.

[2018-06-06 19:48] neolit123 opened #898 "1.11 Copy edits to Setup: "Installing kubeadm""
Instead of dozens of issues we will collect updates and do bulk PRs to content areas.

tracking sheet:
https://docs.google.com/spreadsheets/d/1SQ-_FYq9vDCvizIQUZIhfk5IydPf9loCBYlk5m7HwWw/edit#gid=0

We want to discuss if this page needs any kubeadm related improvements:
https://github.com/kubernetes/website/blob/release-1.11/content/en/docs/tasks/tools/install-kubeadm.md
(mind that i'm linking aga

[2018-06-06 20:03] neolit123 opened #899 "1.11 command list in "Kubeadm overview""
tracking sheet:
https://docs.google.com/spreadsheets/d/1SQ-_FYq9vDCvizIQUZIhfk5IydPf9loCBYlk5m7HwWw/edit#gid=0

This one holds the list of commands:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm/

all `website` PRs that add commands should link to this issue.

[2018-06-06 20:10] neolit123 opened #900 "1.11 Copy edits to Setup: "Implementation details""
Instead of dozens of issues we will collect updates and do bulk PRs to content areas.

tracking sheet:
https://docs.google.com/spreadsheets/d/1SQ-_FYq9vDCvizIQUZIhfk5IydPf9loCBYlk5m7HwWw/edit#gid=0

We want to discuss if this page needs any kubeadm related improvements:
https://github.com/kubernetes/website/blob/master/content/en/docs/reference/setup-tools/kubeadm/implementation-details.md
(mind t

[2018-06-06 20:14] neolit123 commented on #899
https://github.com/kubernetes/kubeadm/issues/889
https://github.com/kubernetes/kubeadm/issues/880
https://github.com/kubernetes/kubeadm/issues/873
https://github.com/kubernetes/kubeadm/issues/831

[2018-06-06 20:15] neolit123 commented on #899
PRs for all new commands are submitted except for `kubeadm upgrade node config`:
implementation PR:
kubernetes/kubernetes#64624

[2018-06-06 20:15] #889 closed

[2018-06-06 20:15] #880 closed

[2018-06-06 20:15] #873 closed

[2018-06-06 20:16] #831 closed

[2018-06-06 20:20] neolit123 commented on #842
@timothysc @luxas please, close if see fit.

[2018-06-06 20:33] luxas commented on #888
Sorry 2am in the evening and misread the comment indeed. Download kubeadm v1.9.x instead, using `https://dl.k8s.io/release/stable-1.9.txt)`. Does that solve it for you?

[2018-06-06 21:42] Bradamant3 commented on #894
We can change the title, that's fine :-)

I've done fairly substantial copyediting/reorganizing up to the example output. I've added some questions there that affect what I do with the rest of the Initializing content.

[2018-06-06 22:42] ivan4th commented on #853
I confirm that setting `kubernetesVersion` to 1.12.0 in kubeadm config fixes the issue now. I thought that setting only affects the version of the control plane image to pull and in case if `unifiedControlPlaneImage` is updated it's only used for some checks, but turns out I was wrong.

Please close this issue. Thanks!

[2018-06-07 01:14] dixudx commented on #853
/close

[2018-06-07 01:14] #853 closed

[2018-06-07 10:02] dkirrane commented on #738
I'm hitting this same issue again. Same CentOS VM. Thsi time I'm using kubeadmn `1.10.3` and docker `18.03.1-ce` and same CentOS as above

[2018-06-07 10:17] luxas commented on #738
@dkirrane report this in the kubernetes/kubernetes repo

[2018-06-07 10:38] christhomas commented on #888
I'm going to try it out and see. There perhaps should be updated documentation to put the correct link into the instructions?

[2018-06-07 11:28] proskehy commented on #687
@4qv907rtet5r the cgroup driver of docker and kubelet were different.

You can find out what drivers are used using:

[code]

If they are different, edit the 10-kubeadm.conf :)

Info taken from the k8s docs: https://kubernetes.io/docs/tasks/tools/install-kubeadm/

[2018-06-07 12:52] neolit123 commented on #864
@hppx5456 please, answers some of the questions here, which will help us more:
https://github.com/kubernetes/kubeadm/blob/master/.github/ISSUE_TEMPLATE.md

[2018-06-07 14:26] sudeeshjohn opened #901 "kubeadm init --kubernetes-version ci-cross/latest is failing to fetch images"
## What keywords did you search in kubeadm issues before filing this one?
ci/latest, ci-cross/latest

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: ppc64le
- **OS** (e.g. from /etc/os-release): Ubuntu

[2018-06-07 14:53] xiaoguazh commented on #193
This is so annoy issue, although many ticket shows closed, I tried a lot, no luck.

can someone explain why the kube-dns try to connect to 10.96.0.1:443? how could make the connection ok ?

`
reflector.go:201] k8s.io/dns/pkg/dns/dns.go:150: Failed to list *v1.Service:   Get https://10.96.0.1:443/api/v1/services?resourceVersion=0: dial tcp 10.96.0.1:443: i/o timeout
`

[2018-06-07 14:55] BenHall commented on #193
@xiangpengzhao We had an issue where it was a timing related bug with IPTables. Our solution was to upgrade to the latest CNI plugin (in our case Weave).

[2018-06-07 16:18] timothysc commented on #896
@detiber - shuffle to you for on point here b/c @liztio will be out.

please work together on the deets.

[2018-06-07 16:20] chuckha opened #902 "Cleanup config.NormalizeKubernetesVersion"
This function has a dependency hiding in the middle of it.

https://github.com/kubernetes/kubernetes/blob/63c90bb47ec99247cbf29542edfc443ffda7298b/cmd/kubeadm/app/util/config/masterconfig.go#L206

This makes a network call and should be injected as a dependency (behind an interface) so we can test the edge cases of this function.

[2018-06-07 17:33] mattkelly commented on #850
@timothysc @detiber do you think this is related to / a possible dupe of https://github.com/kubernetes/kubeadm/issues/413 (this comment in particular https://github.com/kubernetes/kubeadm/issues/413#issuecomment-387899065)? While this isn't on ARM, it does appear that the API server is continually failing to restart from the kubelet logs. I'll clean up my environment and get a more complete set of

[2018-06-07 18:01] chuckha opened #903 "Cleanup cri-tools RPM build."
There is a pending TODO from this PR https://github.com/kubernetes/kubernetes/pull/64836. Due to time crunch we aren't going to fuss with the rpm spec file. The goal is to define the cri-tools version in *one* place. Right now it's in two places (and somewhat manipulated).

Once cri-tools releases a version not using a dash this ticket can be worked on.

[2018-06-07 18:45] chuckha opened #904 "`kubeadm config migrate` does not output valid yaml"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
master

## What happened?
I ran `kubectl config migrate --old-config=config.yaml`

contents of config.yaml
[code]

## What you expected to happen?
I expected the output to be valid yaml

## How to reproduce it (as minimally and precisely as possible)?
 copy the contents above into config.yaml and run `kubectl config migrate --old

[2018-06-07 18:51] fturib commented on #897
@neolit123 : @chrisohaver, @rajansandeep and myself reviewed and modified the google doc, adding simple introduction to CoreDNS and links to some pages of the project for doc.

[2018-06-07 20:07] neolit123 commented on #897
@fturib thank you for the edits!
it's on my TODO to push commits for this at `k/website`.

[2018-06-07 20:44] #901 closed

[2018-06-07 21:57] #904 closed

[2018-06-08 08:06] luxas commented on #811
Great to see this merge for the the bazel packages. Reopening for kubernetes/release

[2018-06-08 08:59] riverzhang opened #905 "Kubeadm deploy kube-proxy's --kubeconfig file is wrong"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT
Deploy a highly available k8s cluster. Each time kubeadm init, kube-proxy user authority  kubeconfig file server value  will become the last kubeadm init apiserver address.

## Versions
-**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c

[2018-06-08 09:07] riverzhang commented on #905
/assign @timothysc

[2018-06-08 09:51] riverzhang commented on #905
/kind/bug

[2018-06-08 12:34] adohe commented on #872
@neolit123 what I mean is that I cannot specify `ControlPlaneEndpoint` when run `kubeadm init`.

[2018-06-08 12:57] neolit123 commented on #872
@adohe

your report is missing **detail**. please, answer the following questions or we are going to have to close the issue. thanks for understanding. :)

* which k8s version is that?
* is this an HA cluster?

we have `ControlPlaneEndpoint` in the latest kubeadm config:
https://github.com/stevesloka/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/types.go#L147

* ^ isn't that working for you?

[2018-06-08 14:04] chuckha commented on #811
https://github.com/kubernetes/kubernetes-anywhere < need to update kubernetes-anywhere to install the cri-tools deb pkg

https://github.com/kubernetes/release/blob/master/rpm/10-kubeadm-post-1.8.conf < actual place to get this into the release

[2018-06-08 14:21] adohe commented on #872
@neolit123 I am using Kubernetes 1.10, sure it's an HA cluster, and that's why I wan to use `ControlPlaneEndpoint`, I did notice we have this in our kubeadm config, but I don't find how to specify this through command arguments.

[2018-06-08 14:58] neolit123 commented on #872
@adohe
you should use the config for this as there are no command line arguments for it, as far as i know.

but also please, have a look at this:
https://github.com/kubernetes/kubeadm/issues/726

[2018-06-08 20:18] timothysc commented on #894
PRs for this one are posted.

[2018-06-08 21:08] timothysc commented on #850
@mattkelly if it's not ARM, no.  But I'm going to help take a look.

[2018-06-08 21:30] timothysc commented on #859
I'm punting out of 1.11 will be fixed in 1.12.

[2018-06-08 23:21] chuckha opened #906 "kubeadm join does not merge flags and configs"
I noticed that when mixing `--config=` and `--discovery-token-ca-cert-hash` kubeadm will not realize that the discovery token ca cert hash was passed into the command lines. I had to manually add it to my config file.

Similarly, these two checks happen before the config file is even loaded so they will always print unless (maybe) you do everything with command line flags https://github.com/kubern

[2018-06-08 23:26] chuckha opened #907 "kubeadm init does not configure RBAC for configmaps correctly"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`): "v1.12.0-alpha.0.957+1235adac3802fd-dirty"

## What happened?
I created a control plane node with `kubeadm init`. I ran `kubeadm join` on a separate node and got this error message:
[code]

## What you expected to happen?
I expected `kubeadm join` to successfully finish

## How to repr

[2018-06-09 00:51] neolit123 commented on #907
![text](https://pbs.twimg.com/media/DGai-uNUAAAKZc_.jpg)

[2018-06-09 05:07] adohe commented on #872
@neolit123 see ur point~ I will take a look at the HA proposal, thanks very much!

[2018-06-09 05:07] #872 closed

[2018-06-09 08:36] martwetzels commented on #784
@buptliuwei Which kernel modules did you add? I have the same issue with the TX2 but cannot pinpoint the kernel modules for weave.

[2018-06-09 09:17] buptliuwei commented on #784
@martwetzels Hi, this is my modules after re-complied
[code]
and you can read my gist

[2018-06-09 09:38] martwetzels commented on #784
Thanks! I just found the requirement for openvswitch and vxlan on a weave documentation page.
Your gist is very useful, too bad it already took me a few hours to reinvent the wheel this week.
Do you mind if I do a detailed write-up on Medium?

Btw, did you also manage to get the GPU capabilities visible on the node within the cluster from the TX2?

[2018-06-09 09:55] buptliuwei commented on #784
@martwetzels Never mind.  We are working hard to get the GPU capabilities visible.

[2018-06-09 20:45] fabriziopandini opened #908 "kubeadm init does not inform the users it is pulling images"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
Kubeadm @ HEAD

## What happened?
When running kubeadm init, after completing the preflight checks, kubeadm starts pre-pulling images. Currently no evidence is provided to the user that the operation is started, and in environments with poor internet connection, the user gets the impression that kubeadm is stuck during pre flight

[2018-06-10 15:03] gunsluo opened #909 "Can not mix '--config' with arguments [pod-network-cidr service-cidr]"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:00:59Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version

[2018-06-10 18:33] Pinaute commented on #659
I use the regular expressions. I tested with Ansible.
[code]
Result:
[code]

[2018-06-11 01:50] gunsluo commented on #909
/assign @timothysc

[2018-06-11 03:19] yunghoy commented on #657
Circular dependency alert.

kubeadm requires dockershim.sock(created by kubelet) to be run.
kubelet requires pki and manifests(created by kubeadm) to be run.

[2018-06-11 03:45] yunghoy commented on #657
The only solution I found is to run "kubeadm init" with "--ignore-preflight-errors=cri" option. Thanks

[2018-06-11 08:04] bart0sh commented on #657
Another possible workaround is remove crictl from your system.

[2018-06-11 09:14] christhomas commented on #881
So this morning I tried with a centos 7 installation instead of debian and I'm in the same situation.

Has anybody actually tried this on a vps, not virtualbox or vagrant. But an actual vps selecting images available and seeing how far they get?

I don't know what else I can try apart from following the instructions. Nothing works. Only 1.8.x works.

[2018-06-11 12:39] neolit123 commented on #892
this was merged:
https://github.com/kubernetes/website/pull/8958

[2018-06-11 12:39] #892 closed

[2018-06-11 13:10] chuckha commented on #859
/active

[2018-06-11 14:11] seh commented on #905
Note that you can use [the _MasterConfiguration_ file's "api.controlPlaneEndpoint" field](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file) to point all the _kube-proxy_ configurations to the _same_ API server, but that doesn't accomplish what you want: Components sitting on each master machine talk to the local API server.

That configuration comes from the "kube

[2018-06-11 14:15] fabriziopandini commented on #907
@cha If I remember well `kubelet-*` config maps should be `kube-system` and kubeadm creates rules for allowing access to bootstrap token and nodes. But I'm going to check this again after last round of changes

[2018-06-11 14:53] fabriziopandini commented on #907
@chuckha I completed join successfully on a cluster with all the components build from master + release number forced to v1.11.0
- `kubelet-config-1.11` was created in `kube-system`
- role `kubeadm:kubelet-config-1.11` was created in `kube-system` with get permission on the config map
- rolebinding `kubeadm:kubelet-config-1.11` was created in `kube-system` for `system:nodes` and `system:bootstrapp

[2018-06-11 14:54] neolit123 commented on #895
we also need to fix the links for the YAML files on this page (if we are keeping them).

issue report:
https://github.com/kubernetes/website/issues/8485

new location for the YAMLs is:
https://github.com/kubernetes/website/tree/master/content/en/docs/admin/high-availability

[2018-06-11 15:31] chuckha commented on #907
Yes, this must be a version issue.

I didn't set the version when I built so the binaries all think they are 1.12.0+ but I installed and forced kubeadm to use v1.11.

This resulted in

[code]

and then when joining:

[code]

I will rebuild the binaries and force them to the correct version and try again.

[2018-06-11 16:09] denis111 commented on #850
Also timeouts on 1.10.3 -> 1.10.4 ...

[2018-06-11 16:19] chuckha commented on #907
Everything is fine when versions of kubelet and kubeadm match. Closing in favor of a less urgent fix regarding inconsistency (maybe intentional) between writing config map and fetching configmap.

[2018-06-11 16:56] stealthybox commented on #881
@christhomas I can confirm I use kubeadm 1.10.3 on bare-metal /w CentOS 7

[2018-06-11 16:57] seh commented on #905
Back on 18 May 2018, [I asked this question in the "kubeadm" channel](https://kubernetes.slack.com/archives/C2P1JHS2E/p1526652751000241) of the "Kuberetes" Slack team:

In [the HA guide’s “Configure workers” section](https://kubernetes.io/docs/setup/independent/high-availability/#configure-workers), it advises modifying the “kube-proxy” _ConfigMap_ consumed by _kube-proxy_.

However, looking at my

[2018-06-11 16:58] stealthybox commented on #881
I do happen to use kernel-ml though, which is notable when considering the kubelet and a CRI runtime.

[2018-06-11 17:02] seh commented on #905
Looking again today, I see that the "config.conf" key has the following field:
[code]
Hence, _kube-proxy_ **is** using that "kubeconfig.conf" key.

[2018-06-11 17:04] stealthybox commented on #909
This seems odd.
@gunsluo can you show us the contents of `/etc/kubernetes/manifests/etcd.yaml`?

[2018-06-11 17:22] christhomas commented on #881
This is so weird. I have a fresh installation of centos 7.1, yum updated, installed kernel ml as well, installed the docker and kubernetes repositories. Can't get kubeadm init to work. I really am out of explanations as to what the hell is going on.

[2018-06-11 17:38] detiber commented on #896
master pr: https://github.com/kubernetes/website/pull/9028
release-1.11 backport pr: https://github.com/kubernetes/website/pull/9029

[2018-06-11 17:55] stealthybox commented on #859
I'll mention again that it's important to express this is an optional step.
It's only necessary if you want to return to a completely clean state.

The existing docs @seh linked imply that kubernetes may be functional re-initializing against an existing etcd. This may be exactly what the user wants to do.

[2018-06-11 18:00] luxas commented on #909
This isn't expected to work atm. Put the service cidr and pod network cidr args in the config file instead please and see if it works

[2018-06-11 18:45] luxas commented on #657
I think https://github.com/kubernetes/kubernetes/pull/62481 at HEAD/the upcoming v1.11 will fix the circular dependency @yunghoy mentioned at least. Does that make sense to you?
BTW; we're packaging `crictl` in the debs/rpms in v1.11, and will make the tool being locally kind of mandatory (you don't _have to have it_, but recommended and used inside of kubeadm on more ways)

[2018-06-11 18:47] luxas commented on #906
Ah we don't error out here? We do that for init. However, we should make it possible to specify both, @mtaufen explains how here: https://docs.google.com/document/d/1FdaEJUEh091qf5B98HM6_8MS764iXrxxigNIdwHYW9c/edit
(can also look at the kubelet code that does this)

[2018-06-11 18:49] luxas commented on #811
@chuckha Please don't put "Closes: #issue" in the commit message, Github don't understand how to interpret that and starts closing the issue `n` times as you see here :/

[2018-06-11 19:38] #908 closed

[2018-06-11 21:04] neolit123 opened #910 "etcd 3.2.x upgrade fails with `tls: bad certificate"; please retry.`"
initial hint was about SAN and CN fields in the generated certificates.

refs:
https://github.com/coreos/etcd/blob/master/CHANGELOG-3.2.md#security-authentication-1
https://github.com/coreos/etcd/blob/master/CHANGELOG-3.2.md#security-authentication-8
https://github.com/coreos/etcd/issues/8603
https://bugzilla.redhat.com/show_bug.cgi?id=1565762

[2018-06-11 21:05] detiber commented on #910
/assign

[2018-06-11 21:07] detiber commented on #910
Using kubeadm from master, I can replicate this warning in the etcd pod logs, but the cluster is otherwise fully functional: `sudo ./kubeadm init --kubernetes-version=v1.11.0-beta.2`

[2018-06-11 21:51] luxas commented on #881
@christhomas What is the IP address of the desired network interface the API server should be listening on? Is it `85.93.26.192` or something else? Does setting `--apiserver-advertise-address` to the desired IP solve this?

[2018-06-12 01:45] neolit123 commented on #895
@fabriziopandini @timothysc looks like the Hugo transition for `k/website` removed some of the content Jamie originally added to this page. :\

https://github.com/kubernetes/website/issues/9034#issuecomment-396438379

[2018-06-12 02:43] jonahbenton commented on #881
I was having similar problems getting a master up with kubeadm init on a Fedora 28 VM on my laptop (under VMWare). The problem looked to be that kubeadm was starting etcd, which was looking up some name to figure out what interface to bind to. That name resolved to my ISPs catchall name-not-found IP- and etcd naturally couldn't bind to that IP, which meant it couldn't stay up, which kept apiserver

[2018-06-12 02:53] carl-danley-heptio commented on #859
@stealthybox Any recommended word-smithing this then?

[2018-06-12 02:53] carldanley commented on #859
@stealthybox Any recommended word-smithing this then?

[2018-06-12 08:41] dragosrosculete commented on #639
I had this same problem on Ubuntu 16.04
Docker was starting with native.cgroupdriver=systemd . This config was set by me in /etc/docker/daemon.json
[code]
I have modified the config in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf
Added a new line: `Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"`
And add the parameter `$KUBELET_CGROUP_ARGS` in ExecStart

Then did  a systemctl da

[2018-06-12 08:45] neolit123 commented on #639
@dragosrosculete

we are improving our troubleshooting docs, but also in 1.11 and later the cgroup driver for docker should be automatically matched by kubeadm.

[2018-06-12 13:13] timothysc commented on #910
xref: https://github.com/kubernetes/kubernetes/pull/64988

[2018-06-12 13:50] seh commented on #905
Here's how I wound up working around this problem.
First, I created two different KUBECONFIG files: one for the masters that refers to the API server via the _127.0.0.1_ IP address, and another for the workers that refers to the API server load balancer via its domain name.

Here's the masters' file:
[code]
Here's the workers' file:
[code]
On each master and worker machine, I store this file at pa

[2018-06-12 15:03] riverzhang commented on #905
@seh  Thank you for your help. I think kube-proxy's kubeconfig can be configured by kubeadm in the best way.This hope can be improved in the future, and users can easily configure it.

[2018-06-12 15:12] neolit123 commented on #910
@kubernetes/sig-cluster-lifecycle-bugs

is this related to the problem here?
https://github.com/coreos/etcd/issues/9785#issuecomment-392853713

[2018-06-12 15:15] neolit123 commented on #895
updated our google docs content discussion with the missing text.

[2018-06-12 15:29] neolit123 commented on #910
from @detiber at slack :

The fix is to create the etcd server certificate with server and client usages similar to the peer certificate
This shouldn't affect anything within k8s or etcdctl because they are using grpc, but could affect how end users might interact and debug their etcd deployment

adding `server auth` and `client auth` for the server profile seems to be a fix for this.

[2018-06-12 15:47] christhomas commented on #881
You want to know something I just found out?

The hostname of the machine makes the difference between being able to install or not.

So, I followed this general pattern.

vim /etc/hostname (change it to s1.antimatter-studios.com)
kubeadm reset
docker image rm $(docker image ls | awk '{ print $3 }')
kubeadm init --apiserver-advertise-address=127.0.0.1

wait literally forever, it'll never succeed,

[2018-06-12 16:16] jonahbenton commented on #881
There are a number of similar reports, see e.g. https://github.com/kubernetes/kubernetes/issues/57870 which links to some other conversations at coreos.

[2018-06-12 17:44] luxas commented on #827
Fixed by https://github.com/kubernetes/kubernetes/pull/64718

[2018-06-12 17:44] #827 closed

[2018-06-12 17:45] luxas commented on #772
This is happening while we release v1.11, but the doc itself is not critical (blocking) to releasing v1.11

[2018-06-12 17:48] luxas commented on #814
I'm closing this as fixed in v1.11 as this issue is targeting the v1.11 milestone which we are doing housekeeping on. If you feel strongly about getting a v1.10 backport, please open a new issue for specifically that and we might consider it.

[2018-06-12 17:48] #814 closed

[2018-06-12 17:59] luxas commented on #750
The KEP https://github.com/kubernetes/community/blob/master/keps/sig-cluster-lifecycle/0008-20180504-kubeadm-config-beta.md is not finished for actually reaching the beta state, needs to get updated with more information. Also, a couple of changes have been made to the proposal since @liztio was writing this.

However, we merged the inital kep as a starting point, and will improve it over time.
He

[2018-06-12 17:59] #750 closed

[2018-06-12 18:01] luxas opened #911 "Create a v1beta1 version for kubeadm config API types"
Follow up from https://github.com/kubernetes/kubeadm/issues/750#issuecomment-396679842.

There is way more needed here wrt details, but I don't have time to write up that all now, it will go into the KEP and be discussed during kubeadm Office Hours in the v1.12 cycle.

**Edit:** The KEP gdoc proposal for this is [here](https://docs.google.com/document/d/1Sk2VW7IKaLjrjf_4a1NEU0l7X0ysZoXq9lVBvH-ruYY

[2018-06-12 18:08] luxas commented on #835
I believe https://github.com/kubernetes/kubernetes/pull/64974 will help kinda-solve this.
We _should not_ do validation of the node name in our preflight checks, but instead in the normal config API validation that is happening _before_ the preflight checks run.

So https://github.com/kubernetes/kubernetes/pull/64974 contains an UX improvement related to this, instead of failing with weird preflig

[2018-06-12 18:10] luxas commented on #850
@detiber @timothysc should we backport the specific change of increasing the timeout for waiting for components to come up like we have at HEAD?

[2018-06-12 18:12] luxas commented on #837
@chuckha @detiber @stealthybox any update on this?

[2018-06-12 18:12] seh commented on #835
I think that helps, as it tells the user what to do to work around the problem.

I haven't tried yet to compile my own Go program calling on `os.Hostname()` to see if it behaves the same way as _kubeadm_ does here (failing to find a nonempty name), but I'll report back if I learn more on that front.

[2018-06-12 18:13] luxas commented on #838
https://github.com/kubernetes/kubernetes/pull/64140 is up there and kind of ready, but it's not gonna make v1.11.0. Maybe (hopefully) a point release. In any case, retargeting this issue to v1.12

[2018-06-12 18:17] luxas commented on #848
This was fixed by https://github.com/kubernetes/kubeadm/issues/848

[2018-06-12 18:17] #848 closed

[2018-06-12 18:19] luxas opened #912 "Create a `kubeadm config migrate` command"
I realised I didn't ever create an issue for this, oops, doing so retroactively for the purposes of tracking features now.
https://github.com/kubernetes/kubernetes/pull/64232 implemented this

`kubeadm config migrate` is an UX improvement so users may easier "upgrade" their configuration files from the an old version (e.g. v1alpha1) version to a new one (e.g. v1alpha2), can do this locally and sea

[2018-06-12 18:21] luxas commented on #912
#873 is open for documenting this and #904 fixed a bug in the initial implementation.
Closing this issue as the implementation is done by this point.

[2018-06-12 18:21] #912 closed

[2018-06-12 18:23] luxas commented on #835
Thanks! Then I'm gonna keep this in the v1.11 milestone, close this as partially-fixed in v1.11 after the PR merges, and we can then open a new issue targeting v1.12 for better auto-detection of the hostname if we can come up with such a thing.

[2018-06-12 20:09] luxas commented on #835
https://github.com/kubernetes/kubernetes/pull/64974 is merged :tada:
Thanks @seh for posting this issue, very helpful to get at least this part fixed!

[2018-06-12 20:09] #835 closed

[2018-06-12 20:10] Routhinator commented on #613
If this is going to be required for install, then it needs to be shipped with the packages. Go build tools do not belong on production container hosts.

[2018-06-12 20:12] rdodev commented on #772
Agreed. Let's focus on cutting a release and then think about the plan more deliberately.

[2018-06-12 20:21] timothysc commented on #525
This is being done now with all the 1.11 docs changes... closing this issue.

[2018-06-12 20:21] #525 closed

[2018-06-12 20:22] detiber opened #914 "Add output to give user awareness of how long timeouts are expected to be"
In https://github.com/kubernetes/kubernetes/pull/64988 we increased the manifest upgrade timeout from 1 minute to 5 minutes to improve the reliability of upgrades, however we do not currently give the user any output to know how long to wait before deciding if kubeadm is hung.

We should provide the user some output to help them know if kubeadm is waiting to complete an action or if it is hung on

[2018-06-12 20:23] timothysc commented on #684
There have been a number of fixes for pre-pulling as well as pivot timeout detection so closing this issue.

[2018-06-12 20:23] #684 closed

[2018-06-12 20:39] andrewsykim commented on #526
FYI @hogepodge re: https://github.com/kubernetes/website/issues/8304

[2018-06-12 20:43] timothysc commented on #896
I'm going to close this one now as @luxas has a separate doc on args override.

https://docs.google.com/document/d/1KuDHonX_5-tZqTO17muBtDOFQKLmMN0K1eXh-q24Ny8/edit#heading=h.b1yrhblhpivc

But I do think we should cross-list with trouble-shooting.

[2018-06-12 20:43] #896 closed

[2018-06-12 20:46] timothysc commented on #857
workaround is here https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/#services-with-externaltrafficpolicy-local-are-not-reachable .

Punting this work item to 1.12.

[2018-06-13 07:44] bart0sh commented on #613
In my opinion it shouldn't be required unless user wants to use CRI instead of docker. It can be done either explicitly by introducing new command line option (--use-cri ?) or implicitly like in [this PR](https://github.com/kubernetes/kubernetes/pull/62481) when user specifies CRI socket using --cri-socket option.

[2018-06-13 10:06] riverzhang commented on #905
https://github.com/kubernetes-incubator/kubespray/pull/2872

[2018-06-13 10:43] denis111 commented on #850
I think this timeout should be configurable or even eternal. This is my workaround how do I do the upgrade: I have a test cluster on some VMs so I wait for the end of work day so the VM's host server has more resources because the people at work doesn't use it when they go home :) I also have Rancher installed so I stop it before the upgrade, and also I delete some helm chars wich I can easily rei

[2018-06-13 15:51] NeilW opened #915 "kubeadm init doesn't add cri-socket value to kubelet config"
BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0-beta.2", GitCommit:"be2cfcf9e44b5162a294e977329d6c8194748c4e", GitTreeState:"clean", BuildDate:"2018-06-07T16:19:15Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client V

[2018-06-13 15:57] #915 closed

[2018-06-13 16:09] #897 closed

[2018-06-13 16:14] timothysc commented on #900
/assign @fabriziopandini

[2018-06-13 16:16] #843 closed

[2018-06-13 16:20] #842 closed

[2018-06-13 16:36] timothysc commented on #850
Already merged into v1.11 and cherry-pick in flight for v1.10 pending on release manager.

[2018-06-13 16:36] #850 closed

[2018-06-13 16:47] timothysc opened #916 "1.10 -> 1.11 upgrades"
Create guide on 1.11 upgrade process.

[2018-06-13 16:48] timothysc commented on #916
Install kubeadm on 1.10
Fetch from head and upgrade to latest 1.11 using upgrade apply
Fetch latest debs/rpms and install them and verify it’s working
Check kubelet config / unit file changes

[2018-06-13 18:28] timothysc commented on #894
Merged, and other pieces will be merged after release.

[2018-06-13 21:43] liztio commented on #916
1. Follow the normal instructions to set up a 1.10 cluster.
2. Checkout HEAD on the branch you want to test.
3. Build a kubeadm binary: `bazel build //cmd/kubeadm:kubeadm   --platforms=@io_bazel_rules_go//go/toolchain:linux_amd64`
4. scp the binary up to your master node
5. Upgrade the kubernetes master. `sudo /tmp/kubeadm upgrade apply ci/<k8s version> --allow-experimental-upgrades`
   Make sure

[2018-06-14 11:32] Bradamant3 commented on #849
Question about the last item, Upgrading your v1alpha1 Configuration file to v1alpha2  (I realize it's unassigned still, but it's targeted for 1.11): per conversation in sig-docs about documenting alpha features, should this content go into kubernetes/kubeadm instead of the main docs?

[2018-06-14 14:09] luxas opened #917 "kubelet restarts static pods after upgrade"
This happened when I upgraded from v1.10 to v1.11.0-beta.2 using latest kubeadm and debs built from bazel.

[code]

[2018-06-14 15:52] seh opened #918 ""kubeadm init" doesn't accommodate an external front proxy CA"
## What keywords did you search in kubeadm issues before filing this one?

- _certificates_
- _certs_
- _front-proxy_
- _external_
- _init_

## Is this a BUG REPORT or FEATURE REQUEST?

_BUG REPORT_

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
  AWS EC2
-

[2018-06-14 16:20] detiber commented on #918
/kind feature
/priority important-soon
/assign

[2018-06-14 16:21] detiber commented on #918
/area security
/sig cluster-lifecycle

[2018-06-15 04:43] yamt opened #919 "An option to exclude kube-proxy for kubeadm init"
Moved from https://github.com/kubernetes/kubernetes/issues/65086

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Our network backend (https://github.com/midonet/midonet-kubernetes) has a replacement
of kube-proxy. After "kubeadm init", we need to disable kube-proxy and clean up its iptables rules manually.  See step 3. and 4. in https://github.com/midonet/midonet-

[2018-06-15 08:16] maheshmadpathi opened #920 "Kubelet unable to load client CA file"
## Is this a request for help?
yes

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?
kubadm, kubelet, CA certificate, healthz

If you have found any duplicates, you should instead reply there and clos

[2018-06-15 09:14] fabriziopandini opened #921 "featureGates: DynamicKubeletConfig fails in Kubeadm v1.11"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
v1.11 (.debs, kubeadm binary e docker images build from master)

## What happened?
`kubeadm init` with `featureGates: DynamicKubeletConfig = true` failed with:

[code]

## What you expected to happen?
Kubeadm init complete and the DynamicKubeletConfig applied

## How to reproduce it (as minimally and precisely as possible)?
use th

[2018-06-15 09:55] NeilW opened #922 "panic in kubeadm init --dry-run with containerd"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0-beta.2", GitCommit:"be2cfcf9e44b5162a294e977329d6c8194748c4e", GitTreeState:"clean", BuildDate:"2018-06-07T16:19:15Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client

[2018-06-15 11:20] fabriziopandini commented on #900
@timothysc
Since we cleaning up and simplifying things for better readability and maintainability, IMO  before updating this page we should re-consider the level of detail in this page and/or if to maintain this page. WDYT?

[2018-06-15 11:25] fabriziopandini commented on #911
@luxas
This [document](https://docs.google.com/document/d/1Sk2VW7IKaLjrjf_4a1NEU0l7X0ysZoXq9lVBvH-ruYY/edit#heading=h.vd99op8cffst) is still the starting point for this discussion?

[2018-06-15 14:52] fabriziopandini opened #923 "featureGates: StoreCertsInSecrets fails in Kubeadm v1.11"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
v1.11 (.debs, kubeadm binary e docker images build from master)

## What happened?
`kubeadm init` with `SelfHosting: true`  and `featureGates:StoreCertsInSecrets: true` fails with:

[code]

or

[code]

NB. `kubeadm init` with `featureGates:SelfHosting: true` only works properly, so I assume the issue should be related to `featureG

[2018-06-15 14:52] fabriziopandini opened #924 "kubeadm alpha phase preflight master fails"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
v1.11 (.debs, kubeadm binary e docker images build from master)

## What happened?
`sudo kubeadm alpha phase preflight master` failed with:

[code]

## What you expected to happen?
`sudo kubeadm alpha phase preflight master` to works; probably, we should change the command to require `--config` parameter instead of using an empty

[2018-06-15 14:52] fabriziopandini opened #925 "AnnotateCRISocket cannot be invoked as a phase"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

`kubeadm alpha phases` are meant to provide atomic action for reproducing the full `kubeadm init` sequence.

In v1.11 timeframe  `AnnotateCRISocket` step was added to `kubeadm init`, but currently there is no phase for reproducing this step atomically.

It should be defined where to add this new phase (e.g upload-config, kubelet or some

[2018-06-15 15:06] timothysc commented on #526
We are working with @kubernetes/sig-cloud-provider-misc to help get better refs in place, but is may lag the v1.11 milestone so we are punting out, but actively working on the details.

[2018-06-15 15:08] detiber commented on #279
I suspect we can handle this by setting a [security context](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#assign-selinux-labels-to-a-container) on the static pod definitions where needed (and only conditionally based on whether selinux is enabled on the host).

[2018-06-15 15:12] detiber commented on #919
It looks like we already had an issue for tracking here: #776

Closing in favor of the existing issue.

[2018-06-15 15:12] #919 closed

[2018-06-15 15:13] detiber commented on #776
/priority important-soon

[2018-06-15 15:43] fabriziopandini commented on #923
See https://github.com/kubernetes/kubernetes/issues/61322

[2018-06-15 16:24] NeilW opened #926 "kubeadm reset doesn't work properly with containerd"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0-beta.2", GitCommit:"be2cfcf9e44b5162a294e977329d6c8194748c4e", GitTreeState:"clean", BuildDate:"2018-06-07T16:19:15Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client

[2018-06-15 17:36] chuckha commented on #895
https://github.com/kubernetes/website/pull/9088

[2018-06-15 17:37] neolit123 commented on #922
it appears to panic because a node doesn't have `Annotations`.
this shouldn't happen, yet i'm not sure what's going on here.

try adding an annotation to see if the panic goes away:
https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/

but this still has to be fixed.

[2018-06-15 18:48] chuckha opened #927 "Issues with image names when using non-docker run time"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.11.0-beta.2
**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
I installed cri-o and ran `kubeadm config images pul

[2018-06-15 19:16] chuckha commented on #927
Work around:

1. `crictl pull registry.hub.docker.com/coredns/coredns:1.1.3`
2. `./kubeadm init --config config.yaml  --ignore-preflight-errors=ImagePull`

[2018-06-15 19:20] chuckha opened #928 "mismatch of expected arg for criosocket between kubeadm and kubelet"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
v.1.11.0-beta.2

## What happened?
I used a custom socket CRI socket (`/var/run/crio/crio.sock`) and got warnings like this:

`W0615 19:15:50.985760   17821 util_unix.go:75] Using "/var/run/crio/crio.sock" as endpoint is deprecated, please consider using full url format "unix:///var/run/crio/crio.sock".`

When I tried to use `uni

[2018-06-15 19:39] chuckha commented on #926
crictl is required for non-docker runtimes. If you add `crictl` to your path then this should work 👍

This should throw an error if crisocket is set and crictl is not found...

[2018-06-15 22:08] luxas commented on #922
This isn't specific to containerd. I have a bugfix up here already: https://github.com/kubernetes/kubernetes/pull/65151

[2018-06-15 22:14] luxas commented on #927
This needs fixing ASAP. CoreDNS now lives in `k8s.gcr.io/coredns` as of recently (v1.11)

[2018-06-15 22:38] luxas commented on #921
@mtaufen change in behavior recently?

[2018-06-15 23:56] mtaufen commented on #921
We likely missed updating some part of kubeadm with #63221.
You probably need to stop setting the UID on node.spec.configSource.configMap.

[2018-06-16 01:03] yagonobre commented on #798
@timothysc can I work on that?

[2018-06-16 03:58] chuckha commented on #927
Confirmed that `k8s.gcr.io/coredns:1.13` exists

[2018-06-16 03:59] chuckha commented on #903
https://github.com/kubernetes/release/pull/570/files

as well

[2018-06-16 05:44] Evalle commented on #798
@yagonobre I don't know about @timothysc but I would be happy if someone will take a look at this issue :). I'm happy to help you as much as I can.

[2018-06-16 07:42] NeilW commented on #926
I already have crictl on the path - it is returning error 1. Not found is usually error 127.
As I mentioned above containerd is responding with an error to an incorrect pod name

[code]

[2018-06-16 11:17] rhatdan commented on #279
I believe the container runtimes will ignore the security context if the hosts are not enabled.

[2018-06-16 13:01] christhomas commented on #881
It's really not well understood and the errors that do happen are not surfaced in a way which is understandable. I literally found this solution by accidentally trying out various things I thought might solve the problem, and one of them worked. The error output from the init process should be updated to reflect better what is actually happening under the hood

[2018-06-16 13:01] #881 closed

[2018-06-16 17:26] davidkarlsen opened #929 "support storing oidc params for kubeapi in kubeadm-config cm"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm oidc

## FEATURE REQUEST

If this is a FEATURE REQUEST, please:
I have manually added oidc-params (oidc-client-id, oidc-groups-claim, oidc-issuer-url) to
/etc/kubernetes/manifests/kube-apiserver.yaml - when doing kubeadm upgrade apply these were removed. I want them to survive an upgrade, for instance by having them

[2018-06-16 17:33] chuckha commented on #926
😖missed that line, my fault.

[2018-06-16 17:37] seh commented on #924
Potentially related, as a subset of this complaint: #835.

[2018-06-16 18:02] #747 closed

[2018-06-16 19:21] chuckha commented on #926
@luxas i'm thinking we have two choices here:
 https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/reset.go#L226

1. Check the error for `does not exist` and continue the loop if found
2. ignore all errors here and remove the part where we try to fallback to docker. Fallingback is different behavior than the rest of the crictl/docker interactions in the rest of the codebase an

[2018-06-16 23:30] kvaps opened #930 "ZFS isn't supported"
## FEATURE REQUEST

ZFS driver isn't allowed for now. This request for enable zfs support in kubeadm.

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version**: `&version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:00:59Z", GoVersion:"go1.9.3", Comp

[2018-06-17 12:06] luxas commented on #924
Yeah solving https://github.com/kubernetes/kubeadm/issues/835 fixed this a bit, but there is still the bug that this phase should require config to be functional (create the `--config` flag and make it mandatory)

/assign @fabriziopandini

[2018-06-17 21:23] ghoben opened #931 "kubeadm needs a setting to specify the livenessProbe: initialDelaySeconds timeout for slow masters"
## What keywords did you search in kubeadm issues before filing this one?
livenessprobe, kubeadm,

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

I was trying to setup a kubernetes master on a RaspberryPI 3. Af

[2018-06-17 21:28] ghoben commented on #790
For others which may experience something like the same. Try to alter the livenessProbe setting of the /etc/kubernetes/manifests/kube-apiserver.yaml. Increase the initialDelaySeconds: 60. this helps also for slow devices. I filled a feature request that this should be considered in one way or the other. https://github.com/kubernetes/kubeadm/issues/931

[2018-06-17 21:28] #790 closed

[2018-06-18 03:43] #927 closed

[2018-06-18 07:42] bart0sh commented on #926
@NeilW Can you run this command and show the output here?

[code]

I suspect that crictl complains about cri socket format and that causes next crictl command (crictl stopp) to fail.

It would also help if you add -v 1 to the 'kubeadm reset' command line. It will show you full crictl command lines used.

@chuckha, @luxas: would it make sense to proceed with [PR #64611](https://github.com/kubernete

[2018-06-18 08:55] NeilW commented on #926
[code]

Looks like stderr and stdout are combined

[code]

Switching to using the URL for the socket works

[2018-06-18 09:12] bart0sh commented on #926
@NeilW thank you for the info! Can you try if 'kubeadm reset' works with full socket url?

[code]

[2018-06-18 09:14] bart0sh commented on #926
it seems to be related to [this issue](https://github.com/kubernetes/kubeadm/issues/928)

[2018-06-18 09:19] bart0sh commented on #926
Yes, they are. The reason seems to be that the code is bended to work around absence of fakeexec.Output in k8s.io/utils/exec/testing/fake_exec.go

[2018-06-18 09:23] bart0sh commented on #926
@luxas What would be a good way to change DefaultCRISocket  to "unix:///var/run/dockershim.sock"? We can't just change it in app/apis/kubeadm/, can we?

[2018-06-18 09:31] bart0sh commented on #928
It doesn't work, I'm afraid. See [this issue](https://github.com/kubernetes/kubeadm/issues/926) for further details.

[2018-06-18 10:14] yadavkkumar opened #932 "Pods are not getting cleaned in CRI-O after running kubeadm reset."
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## What happened?
Kubeadm is not able to remove CRI-O pods after running `kubeadm reset`.
[code]

## What you expected to happen?
Kubeadm reset command should remove all the pods running in CRI-O.

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **

[2018-06-18 10:16] amritihealthlabs commented on #703
facing same issue "if i type kubectl get nodes in master, i can see only master and not the connected node" whats the resolution ??

[2018-06-18 10:45] bart0sh commented on #932
You seem to use kata containers, right? Could it be that CRI-O pods are not mapped 1:1 into kata containers?

[2018-06-18 13:43] neolit123 commented on #849
shouldn't `Packaging kubeadm & running on non-system systems` be about `non-systemd` systems?

[2018-06-18 15:52] chuckha opened #933 "update bazel packages to match release package names"
We packaged cri-tools as cri_tools in bazel and cri-tools in release.

Ideally these should both be `cri-tools` as decided in slack.

[2018-06-18 16:09] neolit123 commented on #930
@kubernetes/sig-cluster-lifecycle-bugs
@kubernetes/sig-node-proposals

google says that people are actually running zfs +docker + k8s, so i'm going to assume that it just works.

but we don't treat `zfs` as valid here:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/system/docker_validator.go#L92

should i just add `zfs` to the `GraphDriver` slice?
https://github.com/kubernetes/

[2018-06-18 16:16] neolit123 commented on #932
@bart0sh

possibly, yes. i wouldn't qualify this as a kubeadm bug.

[2018-06-18 16:29] neolit123 commented on #929
@davidkarlsen

/etc/kubernetes/manifests/kube-apiserver.yaml - when doing kubeadm upgrade apply these were removed. I want them to survive an upgrade, for instance by having them in the kubeadm-config configmap.

what happens if you store the `oidc*` flags under the `APIServerExtraArgs` field in the kubeadm MasterConfiguration:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm#Maste

[2018-06-18 16:44] kvaps commented on #930
For me zfs is working fine in test instances. We going to use it in production.

[2018-06-18 16:49] chuckha commented on #926
Proposed solution:

1. change the default as suggested
2. change the validation to accept a full path or a unix domain socket. Raise a deprecation warning on accepting a full path.
3. at some point before using/saving the internal config, add "unix://" to the fullpath. Mark this as todo: remove when we no longer accept full paths as crisocket values.

This solution would avoid breaking older confi

[2018-06-18 16:50] neolit123 commented on #931
duplicate of https://github.com/kubernetes/kubeadm/issues/413

[2018-06-18 16:50] #931 closed

[2018-06-18 17:16] neolit123 commented on #926
+1
i don't think it's very optimal to have this fallback.
but i also do not understand the exact reason it was added:
https://github.com/kubernetes/kubernetes/pull/55717

yep and we need to `tcp://` prefix the default for Windows too like you mention in the other issue.

wouldn't it be OK to just start using the full URIs (`unix` vs `tcp` sockets) without the deprecation policy - i.e. like doing a

[2018-06-18 17:30] davidkarlsen commented on #929
I did `kubeadm upgrade apply v1.10.4`.
Already upgraded - so can't test until next release.
I guess this should go into `kubectl -n kube-system edit cm/kubeadm-config` under
[code]
?

[2018-06-18 17:44] timothysc commented on #926
So I'm firmly in the camp that we can address this in 1.12, but let's be clear.

Folks are advertising 1st class CRIs with absolutely 0 upstream CI-signal.  Until that core issue is addressed, multiple CRIs are best effort on break-fix.

/cc @runcom @countspongebob @kubernetes/sig-node-feature-requests @Random-Liu @BenTheElder

[2018-06-18 17:58] neolit123 commented on #929
you can still add these to your kubeadm file.
the one that is used via `kubeadm init --config`.

but you have to restart the cluster.

yes, but i'm pretty sure it should be `cm kubeadm-config` instead of `cmd/kubeadm-config`.
mind that i haven't tried editing like that on a running cluster.

[2018-06-18 18:03] davidkarlsen commented on #929
OK - added - let's see when 1.10.5 comes out!

[2018-06-18 18:53] #811 closed

[2018-06-18 19:26] fhemberger opened #934 "[kube-dns] runtime error: invalid memory address or nil pointer dereference"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Local machine

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

## What happened?
[code]

## What you expected to hap

[2018-06-18 20:07] timothysc commented on #934
Yes, I believe this issue is fixed in 1.11 which will be coming in ~week+

[2018-06-18 20:07] #934 closed

[2018-06-18 20:09] chuckha opened #935 "kubeadm upgrade plan output should also print required flags"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
Upgrading k8s from 1.10.4 to 1.11.0-beta.2

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0-beta.2.57+8bb1309efed13d-dirty", GitCommit:"8bb1309efed13d572c12bf29397e533e07579b56", GitTreeState:"dirty", BuildDate:"2018-06-12T19:00:36Z", GoVersion:"go1.10.2", Co

[2018-06-18 20:19] chuckha opened #936 "cannot upgrade an HA cluster with external etcd from 1.10.4 to 1.11.0-beta.2"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
1.10.4 => 1.11.0-beta.2(ish)

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0-beta.2.57+8bb1309efed13d-dirty", GitCommit:"8bb1309efed13d572c12bf29397e533e07579b56", GitTreeState:"dirty", BuildDate:"2018-06-12T19:00:36Z", GoVersion:"go1.10.2", Compiler:"gc", P

[2018-06-18 20:35] chuckha commented on #936
I tried again specifying my external etcd config file and got the same result.

[2018-06-18 20:54] chuckha commented on #936
I traced it to this code

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/staticpods.go#L184

I need to think about why we're generating etcd certs during the kube-apiserver upgrade.

/cc @stealthybox

[2018-06-18 20:54] neolit123 commented on #935
/assign
i can take this. if someone else wants it - do tell. :)

[2018-06-18 21:57] ghoben commented on #413
In case kubeadm is used and the apiserver is started up, we can try to measure points on first startup. Maybe we alter the configuration in a later stage for the timeouts adapted on the measurements on first initialization. Also it is hard to find out, that the apiserver is kicked by the healtz check looking at the logs, we may at least get a better logging in place to be aware of the problem. It

[2018-06-19 03:49] fhemberger commented on #934
@timothysc Woohoo, great news. Thanks!

[2018-06-19 04:49] xlgao-zju opened #937 "etcdserver request timed out, when marking a node as master by adding a label and a taint"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.9.7

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.9.7
- **Cloud provider or hardware configuration**: Alibaba Cloud
- **OS** (e.g. from /etc/os-release): CentOS
- **Kernel** (e.g. `uname -a`): 3.10.0-693.2.2.el7.x86_64
- **Others**:

## What happened?
Etcdser

[2018-06-19 04:51] xlgao-zju commented on #937
I think we can add some `retry`, it may fix this issue...

[2018-06-19 11:17] neolit123 commented on #937
@xlgao-zju thanks for the report.

if it only happens sometimes, i wonder if it's a networking issue.
do you have good connectivity to the `etcdserver` in question?

/cc @detiber @stealthybox

[2018-06-19 11:31] xlgao-zju commented on #937
@neolit123

do you have good connectivity to the etcdserver in question?

Yes, I think it may be the networking issue too. But I checked the etcd, and it worked well. So, I do not know how to avoid this. I think adding some `retry` is one of the solutions.

[2018-06-19 12:03] bart0sh commented on #932
@yadavkkumar ok, let's do it step by step. First let's check why kubeadm fails to list pods. Can you run this command and show the output here:

[code]

[2018-06-19 12:08] bart0sh commented on #932
Just to check my other suspicion can you show the output of these 3 commands:
[code]

[code]

and

[code]

I suspect that this issue is the same as [this one](https://github.com/kubernetes/kubeadm/issues/926)

[2018-06-19 12:21] bart0sh commented on #926
we can temporary filter out stderr output as @NeilW showed above.

+1 for continuing the loop. Even if we can't stop one pod it worth trying to stop the rest.

+1 for removing fallback to docker. Not sure about ignoring errors. We should at least show warnings if pod can't be stopped or removed.

BTW, some of this is done in [this PR](https://github.com/kubernetes/kubernetes/pull/64611), so I'd su

[2018-06-19 12:47] detiber commented on #937
@xlgao-zju I'm a bit hesitant to add retries without having an explicit reason to do so, since it could mask other potential issues. In this case if the control plane node has some type of intermittent connectivity issues with etcd there will be other cascading issues with the cluster.

When invoking kubeadm init are you using using a config file or passing in any additional arguments? If using th

[2018-06-19 13:41] chuckha commented on #933
closed by kubernetes/kubernetes#65193

[2018-06-19 13:41] #933 closed

[2018-06-19 15:15] chuckha commented on #920
@maheshmadpathi do you have the kubeadm logs?

I would also suggest encoding your command line flags into a configuration file and running with `kubeadm init --config kubeadm_config.yaml`

[2018-06-19 15:34] xlgao-zju commented on #937
@detiber I used the config file.

I created a three nodes etcd cluster, before I issued `kubeadm init`. And I specified the IPs in the config file.

Feel free to ping me, if you need more  evidence.

[2018-06-19 15:59] timothysc commented on #922
fixed and merged.

[2018-06-19 15:59] #922 closed

[2018-06-19 16:08] timothysc commented on #894
This one has been merged.

[2018-06-19 16:08] #894 closed

[2018-06-19 16:47] timothysc opened #938 "1.11 Release Notes."
This issue exists for us to track + update our 1.11 release notes.

https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release_notes_draft.md

/cc @jberkus @nickchase

[2018-06-19 16:48] timothysc commented on #938
@neolit123 please post a google doc for group edit

[2018-06-19 16:50] neolit123 commented on #938
waiting on confirmation from #sig-release about the missing username / PR links here:
https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release_notes_draft.md

and i'm going to copy paste it into gdocs.

[2018-06-19 16:56] kad opened #939 "default branch for version to be installed in kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

In connection to discussion about PR kubernetes/kubernetes#63919 there is idea that I'd like to discuss.

- let's put in master/beta/rc/1.x.0 release versions of kubeadm default label `stable-1`. This will allow us to always have working tests and always latest stable will be deployed by kubeadm.
- to solve situation that kubeadm from 1

[2018-06-19 17:22] neolit123 commented on #938
[code]

[2018-06-19 17:37] iknownothing commented on #639
I do think it's a bug. I checked the docker version and kubeadm file, of course the kubeadm script does that check too. however i get the mismatch err msg. If someone ever read carefully you can see some of above has the issue AFTER correctly set the parameter.

[2018-06-19 19:28] chuckha opened #940 "bazel packaging needs a re-think"
I believe we are using the `http_file` function in bazel in an unexpected way. Generally it looks like you want to grab files without version numbers or hashes or timestamps (or other changing identifiers). This would be something like a `.deb` file.

The consequence of this is that we have to hard code the version or do unexpected bash in rpm files because of the order of substitutions that happe

[2018-06-19 23:22] #820 closed

[2018-06-20 03:19] #903 closed

[2018-06-20 06:21] anuprath87 opened #941 "Not able to add the worker node to Master : getting "[discovery] Failed to request cluster info, will try again: [Get https://10.148.0.2:6443/api/v1/namespaces/kube-public/configmaps/cluster-info: dial tcp 10.148.0.2:6443: i/o timeout]""
Worker Node:
[root@worker1 ~]# kubeadm join 10.148.0.2:6443 --token t8op84.9zc5zx4w8ox906og --discovery-token-ca-cert-hash sha256:23eb63377a46b03748ded7220a448be206923c0d494ca7a7e6146a6f98f89f95
[preflight] Running pre-flight checks.
        [WARNING FileExisting-crictl]: crictl not found in system path
Suggestion: go get github.com/kubernetes-incubator/cri-tools/cmd/crictl
[discovery] Trying to c

[2018-06-20 12:20] yadavkkumar commented on #932
@bart0sh
Following are the output
`sudo crictl -r /var/run/dockershim.sock pods -q`
[code]

`sudo crictl -r unix:///var/run/dockershim.sock pods -q`
[code]
`sudo kubeadm reset --cri-socket unix:///var/run/dockershim.sock -v1`
[code]
`sudo kubeadm reset --cri-socket unix:///var/run/dockershim.sock`
gives same error.
`Failed to list running containers`
[code]

For kubeadm init i am using the followi

[2018-06-20 12:29] bart0sh commented on #932
ah, ok. Sorry, didn't notice that you're using non-default cri socket
Please, provide output of these commands:
[code]

[2018-06-20 12:52] neolit123 commented on #941
@anuprath87
what pod network plugin did you install?
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network

have you tried with a different one from the current one?

[2018-06-20 13:20] gunsluo commented on #909
@stealthybox  @luxas
Sorry for the late reply.  this is a network problem. It won't have any problems when I restart the network on the local virtual machine.  but I couldn't find the problem.

[2018-06-20 13:28] rosti commented on #941
Are your nodes running on CentOS or similar Linux distro?

[2018-06-20 16:31] mtaufen commented on #921
Were you able to fix this?

[2018-06-20 17:04] luxas commented on #921
@mtaufen we'll probably do a backport with not setting UID in kubeadm and verify it works. We'll not change the feature state anymore, as we haven't got enough testing on kubeadm+DKC. DKC now is beta (:tada:), but our integration isn't, if that makes sense.

[2018-06-20 17:41] chuckha opened #942 "crictl preflight check is marked as mandatory"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

It might be a feature though.

## Versions

**kubeadm version** (use `kubeadm version`):
affects 1.11

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
I ran `kubeadm init` a

[2018-06-20 18:28] #859 closed

[2018-06-20 18:38] mtaufen commented on #921
Yup, makes sense.

On Wed, Jun 20, 2018 at 10:04 AM, Lucas Käldström <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2018-06-21 05:46] yadavkkumar commented on #932
@bart0sh
Following are the output
`sudo crictl -r /var/run/crio/crio.sock pods -q`
[code]

Other one
`sudo crictl -r unix:///var/run/crio/crio.sock pods -q`
[code]

[2018-06-21 05:53] digglife commented on #809
@qianyong-2005

Same problem here. Thanks for the link!

[code]

[2018-06-21 09:03] bartosh commented on #932
Interesting. Can you show return code of the first command? that's the command kubeadm fails to run, but you seem to be able to run it just fine.

Can you also run this command and show the output here:

[code]

[2018-06-21 09:52] yadavkkumar commented on #932
@bart0sh
This `kubeadm reset` is throwing same error (Failed to list running pods using crictl.).
`sudo kubeadm reset --cri-socket unix:///var/run/crio/crio.sock`
[code]
Sorry i didn't get this

[2018-06-21 11:06] bartosh commented on #932
I figured out what is it. You're using kubeadm 1.0.0. CRI related code in 'kubeadm reset' is absolutely broken there by [this change ](https://github.com/kubernetes/kubernetes/pull/58802). Can you try to install kubeadm 1.0.3 and run this command?

[code]

[2018-06-21 11:21] bart0sh commented on #932
sorry, I mean kubeadm 1.10.0 and 1.10.3

[2018-06-21 12:40] #838 closed

[2018-06-21 13:50] chuckha commented on #942
This is intentional.

Error was cri-tools was not added as a dep to `kubeadm` deb/rpm.

[2018-06-21 14:07] bart0sh commented on #942
Can you remind me what was the point of adding it as a dependency? I'd say it shouldn't be required unless user wants to use CRI.

Are we going to add docker as a mandatory dependency too? Other tools that kubeadm may or may not use?

[2018-06-21 14:33] detiber commented on #776
@xlgao-zju It will require a new item in the config: https://github.com/kubernetes/kubernetes/tree/master/cmd/kubeadm/app/apis/kubeadm, and adding a condition to anywhere the proxy phase is called, such as: https://github.com/kubernetes/kubernetes/blob/218b334d2681077db6a384a6671f89faa4122873/cmd/kubeadm/app/cmd/init.go#L505-L508

[2018-06-21 15:16] luxas commented on #942
Long-term the only way to run k8s is to do CRI. I don't see `dockershim` living inside of the kubelet being there forever, so hence we're preparing ourselves for that future.

`crictl` is going to be an essential tool to kubeadm going forward. I know it's been optional and badly-managed in earlier releases, but we're treating it as a first-class citizen from v1.11 and everything here should be tra

[2018-06-21 15:23] bart0sh commented on #942
yes, it makes sense. Thank you for the explanations.

I didn't think about cri-tools as something special as both docker and CRI are used in the current kubeadm code.

[2018-06-21 17:14] luxas commented on #942
execing to docker is a stop-gap until we're all CRI, in order to make the current "default happy path" good UX-wise. Using CRI (only) is the future direction.

[2018-06-21 18:58] chuckha opened #944 "release debs restart kubelet after an update; bazel artifacts do not"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions
All known versions

## What happened?
Installing a `.deb` built from bazel in k/k will not restart the kubelet.
Installing a `.deb` built from the k/release repo *will* restart the kubelet

## What you expected to happen?
I expected both to restart the kubelet

## How to reproduce it (as minimally and precisely as possible)?
upgr

[2018-06-21 20:38] rdodev commented on #944
@chuckha to clarify:

When running `apt-get install -y ./kubelet.deb` generated by bazel build, will not cause a service restart. However, doing the same with one built by the official release mechanism _does_? Or are talking about one installed from the official k8s pap repo?

[2018-06-21 21:00] chuckha commented on #944
I don't know what pap is -- but yes, that's the restart behavior is the disconnect between debs built with bazel in k8s/k8s and debs built without bazel in k8s/release

[2018-06-22 01:21] #942 closed

[2018-06-22 05:12] ivan-section-io opened #945 "Support `kubeadm join` with a pre-existing client certificate"
## Is this a request for help?

No.

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Detail

I'd like to use `kubeadm join` with a pre-existing client certificate (no token/TLSBootstrap).

We've got a environment where interacting with the master to setup a bootstrap token and feeding that to the new node is impractical/sub-optimal (security boundaries, provisioning latency, machi

[2018-06-22 07:49] NeilW opened #946 "kubeadm CA certs have identical Subject DNs"
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0-beta.2", GitCommit:"be2cfcf9e44b5162a294e977329d6c8194748c4e", GitTreeState:"clean", BuildDate:"2018-06-07T16:19:15Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"linux/amd64"}

## What happened?

The ETCD CA certificate and the api CA certificate

[2018-06-22 09:02] yadavkkumar commented on #932
@bart0sh
Thanks for the solution, i have upgraded my kubeadm to 1.10.4
and tried `sudo kubeadm reset --cri-socket unix:///var/run/crio/crio.sock` it is working fine and gives the following output.
[code]

Now the problem is, in output it says that it has stopped and removed all the pods but when i run `sudo crictl pods` and `sudo crictl ps` commands all the pods are still there with state as `NotR

[2018-06-22 09:09] RakeshNagarajan opened #947 "certificate signed by unknown authority --Corporate Network - Proxy"
## Is this a request for help?

YES

## What keywords did you search in kubeadm issues before filing this one?

x509: certificate signed by unknown authority -- INSIDE CORPORATE NETWORK

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choos

[2018-06-22 10:33] bart0sh commented on #932
@yadavkkumar Now the question is if kubeadm reset is not able to reset whole cluster then why it showing that all the pods are stopped and removed.

kubeadm runs ```crioctl stopp``` and ```crioctl rmp``` for every found pod and checks return codes of both commands. If any of command exits with error kubeadm shows error message too. Now the question is what's wrong in this logic from your point of

[2018-06-22 12:15] zoidbergwill commented on #727
Would it be possible to get [the fix](https://github.com/kubernetes/kubernetes/pull/63495) in  kubeadm 1.9?

I tried cherry-pick'ing it into the branch [on my fork](https://github.com/kubernetes/kubernetes/compare/release-1.9...zoidbergwill:release-1.9) so we could use it, but it'd probably be worth someone else re'doing it.

[2018-06-22 14:22] rdodev commented on #944
I'll ping you on Monday. I _think_ I found the place where the dpkg-ing takes place where we can drop the service restart line, but want to run it by you in case I'm way off -- my bazel skills are still at the padawan level.

[2018-06-22 15:11] neolit123 commented on #946
@NeilW
thanks for the report.

i'm assuming that your are getting `kubernetes` for `CommonName` and there isn't anything unique about the Subject DNs of the CA certs in question. the front-proxy CA cert should also use the same CN.

we can potentially use a different CN for these, but then it becomes a question of, if we should **really do t**. that clause in the standard is bit confusing.

here i

[2018-06-22 15:29] NeilW commented on #946
The CN can stay the same if that is seen as desirable, more that the Organisation or Organisational Unit should perhaps state the sub-system of k8s the CA is trying to secure.

It's quite useful as you can then dump the client certs using `openssl` and the Issuer field immediately tells you what subsystem that signed client cert is part of.

All I know is that if you try to share a key across the

[2018-06-22 15:49] neolit123 commented on #945
there are plans to move the phases to `kubeadm init` for the next release in terms of CLI.
yet both `init` and `join` are users of the kubelet phase ATM, so not sure how this would end up as a structure.

but then how would you keep the existing `kubelet.conf` compatible with the latest release.
isn't this still high maintenance - manual work?

this might be the right option, except i'm not sure a

[2018-06-22 16:04] neolit123 commented on #946
well given the project organization is `kubernetes` (e.g. in Github) we should  probably either add `k8s.io` or `kubernetes` for `Organization` and use a unique `CommonName`. right now we don't write `Organization` and use the same `CommonName = kubernetes` for CAs.

should also be noted that we can't touch other DN fields without modifying `client-go`. at least, that's how it should remain for no

[2018-06-22 16:29] detiber commented on #946
I have also seen that both the kubernetes CA and the etcd CA share the same name, which makes things a bit confusing when determining which CA has signed certain certs for debugging purposes...  @neolit123 I do like the idea of using a common Organization for the CAs and then using unique CNs for each CA...  That should go a long way to helping differentiate.

[2018-06-22 18:11] neolit123 commented on #938
looks like the release note editing has started at gdocs while the links are still missing:
https://docs.google.com/document/d/1MoHdmqSpWT4dJ3AcONwPwquNa2NIBa1dhpb0g8xyyoI/edit

[2018-06-22 21:16] rdodev opened #948 "Upgrade path for Stacked HA Controller Nodes"
## Is this a request for help?

NO

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

1.11.0-beta.2 ===> 1.11.-rc.1

## Description

There's presently not an upgrade path for stacked controller nodes (etcd and control plane on same host). This basically means users going through the trouble of setting up such cluster might find themselves unable to upgrade to new version a

[2018-06-22 21:19] detiber commented on #948
/assign
/priority important-soon

[2018-06-22 21:21] detiber commented on #948
/kind documentation
/area HA
/area upgrades

[2018-06-23 08:49] miry commented on #924
@luxas btw in v1.11-beta.2 we had only warning message if there are no cri tools.
`[WARNING FileExisting-crictl]: crictl not found in system path`
 In version v1.11-rc.1 it is error, that related to this exception. Do you know why it becomes important?

[2018-06-24 00:07] temujin9 commented on #600
@luxas We, respectfully, disagree that this is "working well as is". `kubeadm` enforcing RBAC is exactly what we're saying is the bug.

Please reopen this issue; it is still an issue, and we'd like to see it fixed.

[2018-06-24 18:29] neolit123 commented on #938
@kubernetes/sig-cluster-lifecycle-misc

https://docs.google.com/document/d/1MoHdmqSpWT4dJ3AcONwPwquNa2NIBa1dhpb0g8xyyoI/edit

please edit the notes of your or related/known PRs.
we also need to add the SIG themes in there.

[2018-06-25 05:54] Bluebugs commented on #779
I am having, I believe, the same issue. kubeadm version being v1.10.0 and docker version being 18.03.0-ce. I checked my hostname in /etc/hosts and provisionned it with both localhost and my own server IP as picked correctly during kubeadmin init. I have down graded already docker to match other people reporting succes, but that hasn't changed anything in my case. I have tried both systemd and cgro

[2018-06-25 06:38] fabriziopandini commented on #600
I think that we should preserve a consistent behaviour for all the extra args instead of designing specific exceptions for each component/flag like e.g. `apiServerExtraArgs.authorization-mode` in this case.
Accordingly IMO this discussion should be generalised and moved into #911

[2018-06-25 07:43] iMartyn commented on #600
Whilst moving the discussion to there (which is an extremely abstract description that us probably not clear enough for most people who are facing the issue) is one thing, I have to agree with @temujin9, this bug should remain open.  @fabriziopandini / @luxas please re-open this bug.

[2018-06-25 17:14] Bluebugs commented on #779
@nilanjan-samajdar I have waited over more than an hour without any change in the infinite report of

With a few

To interrupt that streem of error.

I can't configure the network yet, as kubeadm init isn't running at all. From my understanding of all the bug report and issue I have found, this is normal and should not be a problem during kubeadm init.

@MihaMarkic We might be onto something here.

[2018-06-25 20:08] MihaMarkic commented on #779
@Bluebugs
I found out because docker logs for the container executing failed to bind to an IP that I didn't use. And then I read somewhere that it was using "nslookup localhost". So, do check docker logs. Note that container runing etcd gets recreated every minute or so, when something goes wrong. So you have to pick a good moment to read logs (which are gone when it is recreated)

[2018-06-26 03:49] RakeshNagarajan commented on #947
I have edited this for posting in the github 'spec.nodeName=kubem1.*****************'

Google DNS is not allowed in our network.

Docker pull is working for rest of the images, but pulling "docker pull k8s.gcr.io/kube-apiserver-amd64:v1.10.3" is not working.

Please let me know if i need to do any modifications in the co
nfig file.

[2018-06-26 08:52] NeilW opened #949 "kubeadm-flags.env contains deprecated kubelet flags"
EDIT by neolit123:
help-wanted

k/k issue of migrating flags:
https://github.com/kubernetes/kubernetes/issues/86843

the flags in this file have to be moved to KubeletConfiguration instead.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/kubelet/flags.go

the kubelet supports some flags as config fields and we should use them instead because the flags are deprecated:
ht

[2018-06-26 08:59] xlgao-zju commented on #937
I came across this issue today again. Our team creates k8s cluster hundreds times everyday, so we will come across some rare issues. :)

This is the log of etcd during that period.

[code]

[2018-06-26 09:00] sarmak1179 opened #950 "kubeadm upgrade from 1.10.1 to 1.10.3 does not retain apiserver manifest changes"
## What keywords did you search in kubeadm issues before filing this one?

kubeadm upgrade does not retain apiserver manifest changes

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTree

[2018-06-26 11:07] rosti commented on #950
Did you modify the generated static pod YAML directly or you used the `apiServerExtraArgs` config file option?

[2018-06-26 12:45] neolit123 commented on #949
thanks, @NeilW

@stealthybox @detiber
we handle this special case:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/kubelet/flags.go#L95

but to my understanding we don't have to write `/etc/resolv.conf` explicitly in the MasterConfig as that's already the default value in the kubelet. if we remove the default value this would silence the warning, until the user adds a v

[2018-06-26 13:57] detiber commented on #949
+1 for only writing the value to the config file and not the env file.

[2018-06-26 14:08] detiber commented on #937
@xlgao-zju what type of storage is backing these clusters? If etcd isn't backed by fast enough storage it could potentially account for the issue you are seeing.

[2018-06-26 14:16] xlgao-zju commented on #937
@detiber I use a cloud disk on alibaba cloud. Seems the cloud disk is kind of slow... Any suggestion to avoid this issue?

[2018-06-26 14:25] detiber commented on #937
@xlgao-zju in the past for ci/testing envs I have used a memory-backed tmpfs to work around slow disk access. It doesn't solve the problem for longer-lived envs, but works in a pinch for short-lived envs.

[2018-06-26 14:52] xlgao-zju commented on #937
@detiber Yes, the tmpfs work fine with short-lived envs, is there any solution which can fix this issue(expect changing the type of cloud disk:P)?

[2018-06-26 17:13] stealthybox opened #951 "Certify kubeadm v1.11 as a Conformant Kubernetes deployment"
Pilot Sonobuoy for kubernetes 1.11

Model after https://github.com/cncf/k8s-conformance/pull/199

[2018-06-27 00:35] sarmak1179 commented on #950
I modified the YAML

[2018-06-27 16:24] stealthybox commented on #772
@kad mentions increasing importance of test matrix for kubeadm deployments with different CRI's because:
- we've run into cluster configuration issues for device driver development /w other CRI's
- kubeadm has bugs related to CRI deployment support

need automated tests running in Prow

[2018-06-27 16:30] stealthybox commented on #772
@rdodev I can help you push this forward

We mentioned this in today's [kubeadm office hours](https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.1n16sghgip83) and plan to talk about the test plan again on July 11

@timothysc mentioned you have a test plan you've already been enacting -- we'd like to turn that into documented steps that we can action to o

[2018-06-27 18:09] neolit123 opened #952 "Slow running unit tests"
@fabriziopandini has reported some slow running unit tests:
[code]

in my case tests run significantly faster - e.g. `cmd/kubeadm/app/cmd/phase` takes around ~20 seconds.
but we are logging this issue in case this can be improved.

for instance i did some investigation in here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/certs_test.go#L105
(which is one of the l

[2018-06-27 18:28] rdodev commented on #772
@stealthybox The plan I've been working on was very specific to beta.2 and rc.1 _manual_ testing. Basically identified areas that needed 👀 to make the 1.11 cut and lacked automated testing.

@fabriziopandini has a doc which good skeleton of all major areas of kubeadm which can be expanded upon and rally around of, however.

[2018-06-27 19:48] rdodev commented on #944
WIP. The build machinery is vastly different from release machinery. For the moment going to focus on having bazel include a `postinst` in the deb when it's generating them. Long term solution would be to have both release and build be the same (which, incidentally and part of larger conversation, I suppose, has implications for the fidelity of QA).

[2018-06-27 21:01] rdodev commented on #944
Status: testing solution

[2018-06-28 08:04] xlgao-zju commented on #935
/assign
@neolit123 Thank you for your suggestion of taking this. I'd love to help this. 😆

[2018-06-28 10:51] IshwarKanse opened #953 "Getting extra output 'feature_gate.go:230] feature gates: &{map[]}' when running kubeadm token create command."
## What keywords did you search in kubeadm issues before filing this one?

kubeadm token create feature_gate

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:14:41Z", GoVersion:"go1.10.

[2018-06-28 11:06] schmitch commented on #948
I could not find any info in the https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md
which feature forbids running a standalone etcd and k8s control plane on the same node (when using kubeadm)?

[2018-06-28 13:59] detiber opened #954 "Add kubernetes packages to package manager exclude lists"
Currently the installation docs do not mention that the kubernetes packages should not be upgraded out of sync with a cluster upgrade using kubeadm.

We need to update the docs to:
- Explicitly warn users not to upgrade the kube* packages outside of running an explicit cluster upgrade using kubeadm
- Instruct users to exclude kube* packages from updates
  - on deb systems add the packages to the d

[2018-06-28 14:30] rdodev commented on #772
@stealthybox et all. One issue I want to raise is that before we talk about support matrices and intricate testing plans, is that we should have the testing infrastructure in place to support that. Perhaps I'm wrong because I'm new to all of this, but I don't see the testing infrastructure today that would be able to truly test permutations and variations in configuration for correctness. However,

[2018-06-28 15:24] mxey commented on #699
This change was reverted/broken by next the commit to the manifest, https://github.com/kubernetes/kubernetes/commit/d1949261ab71d00acab9f95c10b104a2f147ae82#diff-e3ad35b550d4fcbf99d00903a91c787e

[2018-06-28 15:38] neolit123 commented on #699
^ @dixudx WDYT?

[2018-06-28 15:52] luxas commented on #699
@mxey Yeah :confused:
Let's fix this in v1.11.1

[2018-06-28 15:56] luxas commented on #951
@stealthybox Now you should be able to submit this :clap: :+1:!
cc @timothysc @chuckha on making Sonobouy ready for v1.11

[2018-06-28 16:50] neolit123 opened #955 "CoreDNS: wrong port for Prometheus in 1.11"
@swade1987 has raised the concern that he has to manually edit a Prometeus port in 1.11:

https://twitter.com/swade1987/status/1012344170030264320

do you think we should fix this on the kubeadm / phases side?
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go

CoreDNS ref line:
https://github.com/coredns/deployment/blob/master/kubernetes/coredns.ya

[2018-06-28 17:00] chrisohaver commented on #955
Prometheus defaults to scrape from port 53?  That doesn't sound right.

[2018-06-28 17:01] swade1987 commented on #955
It's using the service port, it's an issue in the coredns/deployment repo
too

On Thu, 28 Jun 2018, 18:00 chrisohaver, <notifications@github.com> wrote:

[2018-06-28 17:04] chrisohaver commented on #955
Ah, Prometheus tries all open TCP ports...

[2018-06-28 17:06] chrisohaver commented on #955
So it's probably also scraping health port too... and also the prometheus port.
So the issue is that Prometheus tries to scrape additional ports to the prometheus port.

[2018-06-28 17:35] swade1987 commented on #955
From my understanding, Prometheus scrapes the ports listed in the service by default.

In our case this is port 53, we just need to explicitly set it to 9153.

[2018-06-28 17:43] chrisohaver commented on #955
Yes, and in the coredns/deployment, metrics is one of those ports, so Prometheus scrapes 53 and 9153.  IOW, it successfully scrapes metrics on 9153, but it also scrapes ports 53 which is a waste of time (although not catastrophically harmful).

AHA... I see - 9153 is missing from the exposed services in the kubeadm manifest.

[2018-06-28 18:31] stealthybox commented on #951
@luxas yep -- looks like the debs are now available
I'm spinning up the env now.

[2018-06-28 18:36] stealthybox commented on #951
Looks like I might need to update the sonobuoy deployment:
[code]

[2018-06-28 18:38] stealthybox commented on #951
Yeah, the conformance deployment at the current `HEAD` hasn't been updated for v1.11:
https://raw.githubusercontent.com/cncf/k8s-conformance/9f601eff8491a3fd934fbc252499516e058b24e3/sonobuoy-conformance.yaml

[2018-06-28 18:47] stealthybox commented on #951
Looks like we should bump these tags:
- kube-conformance v1.10 -> v1.11
- kube-conformance v0.10.0 -> v0.11.3

_______________________

[code]

[code]

[2018-06-28 18:56] stealthybox commented on #951
Using the CLI workflow would be a big improvement for this but it will require docs changes:
https://github.com/heptio/sonobuoy#download-and-run

[2018-06-28 19:12] ajaynemade opened #956 "Kube-dns failed to resolve the services inside the pods after stopping one master node in a multi-master/HA setup"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.10.5

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.5
- **Kubelet version** 1.10.5
- **Cloud provider or hardware configuration**: EC2 instances on aws
- **OS** (e.g. from /etc/os-release): Centos 7.5
- **Kernel** (e.g. `uname -a`): 3.10.0-862.3.2.el7.x86_64
- **Others**: It's 3 node(ec2 instances)

[2018-06-28 19:17] neolit123 commented on #956
@kubernetes/sig-network-bugs
@kubernetes/sig-cluster-lifecycle-bugs

[2018-06-28 19:44] stealthybox commented on #951
Slack thread between me and @chuckha discussing implementation:
https://kubernetes.slack.com/archives/C78F00H99/p1530211892000178

Conclusion is to just bump kube-conformance and update sonobuoy at a later date since it requires significant changes and UX/docs updates.

[2018-06-28 21:00] stealthybox commented on #956
@ajaynemade, could you show us the output of this?
[code]

The kube-dns service is always set to be the 10th address of the Service CIDR.
It's kube-proxy's job to update the vip backing the kube-dns service.

I'm curious what the state of that Service is and whether the Endpoints match the Pods.
If so, kube-proxy is not managing the rules correctly in your case.

[2018-06-29 01:29] stewart-yu opened #957 "Enable DynamicKubeletConfigare by default in v1.12"
`DynamicKubeletConfigare` being moved to beta and we should determine if we are ready to enable and default it in kubeadm.
xref  PRs：

1.  [https://github.com/kubernetes/kubernetes/pull/64275](https://github.com/kubernetes/kubernetes/pull/64275) in `kubelet` 's `DynamicKubeletConfigare`;
2. Issue about `DynamicKubeletConfigare` is [https://github.com/kubernetes/features/issues/281](https://github.

[2018-06-29 01:55] stewart-yu commented on #957
/cc @luxas  @timothysc  @fabriziopandini

[2018-06-29 04:31] ajaynemade commented on #956
I had verified `kubectl -n kube-system get svc,ep kube-dns` the  and I guess the output is as expected

[code]

[2018-06-29 07:11] luxas commented on #953
Reopening for cherrypick process

[2018-06-29 12:06] Zsuz commented on #727
Has anyone looked into getting the fix into kubeadm 1.9?

[2018-06-29 12:19] luxas commented on #727
@detiber @stealthybox @timothysc on cherrypicking the fix into kubeadm v1.9?

[2018-06-29 12:25] luxas opened #958 "Cherrypick tracking issue for v1.11"
This issue serves as an umbrella to track the kubeadm-related PRs we cherrypick into the v1.11 branch.

I propose that @timothysc function as the cherrypick lead on the kubeadm side

I've identified a list of PRs to be cherrypicked:

 - [x] Support specifying kube-proxy tolerations: https://github.com/kubernetes/kubeadm/issues/699
   - PR to master: https://github.com/kubernetes/kubernetes/pull/65

[2018-06-29 17:12] stealthybox commented on #951
/close

[2018-06-29 17:12] #951 closed

[2018-06-29 17:14] stealthybox commented on #951
:)

[2018-06-29 17:38] nthienan commented on #122
I initialized k8s cluster with default `service-node-port-range`. How can I modify `service-node-port-range` without re-initialize the cluster?

[2018-06-29 19:39] luxas commented on #951
Thanks :tada:!!

[2018-06-29 19:44] luxas commented on #949
Why we **don't** only rely on the value in the config file is because this is OS/machine-specific. If I do `kubeadm init` on Ubuntu 16.04 and join a 18.04 node, DNS resolution would be broken on 18.04 as it has a different resolv-conf path than `/etc/resolv.conf` because of `systemd-resolved`.
Does that make sense? Can we close this issue as "works as expected" or is there something funky with the

[2018-06-29 19:55] neolit123 commented on #949
^ the problem is just the warning here.

the default value for the kubelet is already `/etc/resolv.conf`, so maybe we can avoid writing it explicitly in the config? this way if the special case triggers for Ubuntu 18.04, we can only pass `--resolv-conf`.

[2018-06-29 20:40] luxas opened #959 "Start utilizing kubectl `genericclioptions`"
ref: https://github.com/kubernetes/features/issues/581

As part of ongoing work that focuses on containing all significant kubectl command utilities in a single package (pkg/kubectl/genericclioptions), this package should be split out into its own repo in order to allow use by third-party clients as well as plugins. The self-contained genericclioptions package currently provides all of the major c

[2018-06-29 21:55] luxas commented on #945
Thank you very much for the issue report @ivan-section-io :+1:. This is actually a user story, and issue I was about to write up to target v1.12. But it was only a feature I assumed people needed (as I new kubeadm is lacking this functionality), now we have data it's worth prioritizing.

I think just letting the user do `kubeadm join --discovery-file foo.conf` with foo.conf containing the CA cert,

[2018-06-29 22:12] luxas commented on #916
The PR for this has been merged :+1:

[2018-06-29 22:12] #916 closed

[2018-06-29 22:13] luxas commented on #938
This work has been completed, the release is out :tada:

[2018-06-29 22:13] #938 closed

[2018-06-29 22:13] luxas commented on #895
I believe this issue is fixed. @timothysc reopen if not.

[2018-06-29 22:13] #895 closed

[2018-06-29 22:16] luxas commented on #949
What warning is that?

hmm, I think it's the safest way to rely on the default (we don't set this explicitely in kubeadm, this is generated from kubelet defaulting) and duplicate...

[2018-06-29 23:15] neolit123 commented on #949
i think it's:

@NeilW can confirm.

[2018-06-30 05:06] zoidbergwill commented on #727
Thanks @luxas :pray:

[2018-06-30 08:20] luxas commented on #949
@mtaufen can comment if he's planning to remove the flags in favor for doing config-only for this.
This ties into whether we will (or even technically can) use dynamic kubelet configuration, we still need some small instance-specific config for the cluster not to break.

[2018-06-30 08:38] luxas commented on #533
@runcom did you ever file an issue for this? I don't see it linked here?

[2018-06-30 09:50] luxas commented on #533
nvm found it

[2018-06-30 12:53] luxas commented on #624
We're not gonna prioritize making self-hosted k8s work at the moment in the near future, so I'm gonna close this.

[2018-06-30 12:53] #624 closed

[2018-06-30 13:19] neolit123 commented on #949
for now, the kubelet command line flags override the config. this is stated in the docs too.
so its the value from the ENV file that ends up being used.

we can potentially override values in the config, too, i guess. but the user has to be notified in the lines of:
"hey, i see you have resolv-conf value of X, but that doesn't work on this setup, so we have to use Y instead"

that's true. if we sy

[2018-06-30 17:31] mbert opened #960 "kubeadm alpha phase certs etcd-ca fails without Internet access"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

This issue has been moved here from [Kubernetes issue #64920](https://github.com/kubernetes/kubernetes/issues/64920)

**What happened**:

On a system that has no Internet access, run `kubeadm alpha phase certs etcd-ca`
After a while the following error message is displayed:
[code]

**What you expected to happen**:

The certificates get crea

[2018-07-01 23:44] ivan-section-io commented on #945
@luxas That sounds pretty well aligned to my way of thinking. It seems explicit, lives where expected, and would solve my particular use case.

[2018-07-02 03:22] debugnetiq1 commented on #106
I am on Kubernetes 1.11 and I have the same issue or worse - I mean any change (even of timestamp) on /etc/kubernetes/manifests/kube-apiserver.yaml causes the api server to dye instantly and never come up again without a kubeadm init. Editing in place - VIM or nano - or editing elsewhere and compy/moe over - or just "touch" - same destructive effect. Now is there a way to configure the "defaults"

[2018-07-02 03:37] royxue opened #962 "Kubeadm init: no docker started"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:

[code]

**Environment**:
- **Kubernetes version** : 1.11.0
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): Linux 4.4.0-62-generic #83-Ubuntu SMP Wed Jan 18 14:10:15 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

## What happened?
The `kubeadm init --kubernetes-version=v1.11.0 --

[2018-07-02 04:12] royxue commented on #962
Problem solved.
The pause image I downloaded with name pause-amd64:3.1 cannot work, it should be pause:3.1

Suggest to add this information is the kubeadm init error log

[2018-07-02 04:12] #962 closed

[2018-07-02 09:35] LJosef commented on #960
+1

[2018-07-02 10:29] luxas commented on #945
Great, we'll implement this then :)
/assign @dixudx

[2018-07-02 10:35] chrissound commented on #953
Seem to run into a similar issue.

[code]

[2018-07-02 10:55] supnobita commented on #709
I ran into same issue. I cannot make etcd work with kubelet like what they write in the official document. I try ignore file etcd.yaml option but it didnt work.I must use systemd to start etcd cluster first. I think it is kubeadm bug

[2018-07-02 11:58] ocofaigh commented on #709
@supnobita Take a look at the new steps for version 1.1: https://kubernetes.io/docs/setup/independent/high-availability/.
They say they no longer support HA with v1.10. New steps are much better - kubeadm actually sets up the etcd cluster for you

[2018-07-02 12:09] chrissound commented on #7
This still seems to be an issue: https://stackoverflow.com/questions/49017719/kubernetes-pods-in-master-node-restarting-after-kubeadm-join-on-worker-node