[2022-07-14 10:01] chendave commented on #2726
@neolit123 @pacoxu  WDYT?

[2022-07-14 10:30] chendave commented on #2726
the cluster is created with 1.23 binary, and I am trying to reset the cluster from the source on master.

I haven't switch on / off the feature gate but only with the default.

And I observed that kubeproxy config doesn't have the version set in this case, they somehow behavior differently.

[2022-07-14 12:59] pacoxu commented on #2726
Does that mean that we should keep it GA and restore the logic for legacy compatibility with v1.23(UnversionedKubeletConfigMap is disabled)?

[2022-07-14 13:26] neolit123 commented on #2726
I will send PR for this later.

[2022-07-14 14:52] neolit123 commented on #2726
https://github.com/kubernetes/kubernetes/pull/111151

[2022-07-14 14:53] neolit123 commented on #2726
@pacoxu

yes it basically falls back to the old config map as expected.

^ @chendave this is the expected behavior for 1.23 / Alpha FG.

[2022-07-15 02:00] chendave commented on #2726
pls let this issue open for couple of days, I think I need some time to catch up, will close this after couple of days.

[2022-07-16 21:14] dv-test-gh opened #2727 "pause version mismatch on extra node after kubeadm join"
## What keywords did you search in kubeadm issues before filing this one?

pause version problem join

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.1", GitCommit:"3ddd0f45aa91e2f30c70734b175631bec5b5825a", GitTreeState:"clean", BuildDate:"2022-05-24T12:24:3

[2022-07-17 10:25] neolit123 commented on #2727
The runtime page explains how to explicitly configure the pause image for crio and containerd in their respective config.

https://kubernetes.io/docs/setup/production-environment/container-runtimes/

The pod-infra-image flag at this point only tells the kubelet  to not gc this image.

[2022-07-17 10:25] #2727 closed

[2022-07-17 10:25] neolit123 commented on #2727
/kind support

[2022-07-17 16:06] GitZhangChi commented on #1587
gooooooooood

[2022-07-17 21:44] dv-test-gh commented on #2727
Thanks for pointing to this config of crio.
I've therefore done `kubeadm config images list` to get the correct version of the pause container (since the reference from the page above listed 3.6 and my setup seems to want 3.7).
I've added this config to crio.conf, sent HUP to crio, checked with systemctl status crio.
Then started a fresh install with `kubeadm init` and `kubeadm join` and now I onl

[2022-07-19 01:02] chymy opened #2728 "Improve tips of incorrect input of kubedm some subcommand"
## Is this a BUG REPORT or FEATURE REQUEST?
Now the error input tips of kubedm command is the same, e.g.:
[code]
It doesn't look friendly for the code:
https://github.com/kubernetes/kubernetes/blob/f19a26a22ebe26de32319d57231da9812862aaf6/cmd/kubeadm/app/cmd/util/cmdutil.go#L42-L50
and `CheckErr`

For some subcommands, do we improve error tips for users, e.g.:
[code]
[code]
[code]

[2022-07-19 06:32] neolit123 commented on #2728
i have not seen complains from users about this. do all commands behave the same way or are we inconsistent?

[2022-07-19 07:14] chymy commented on #2728
All commands behave the same way.
For beginners, there should be more friendly prompts for some commands, e.g.: `kubeadm config ...`
Simple ideas :smiley: :

[2022-07-19 07:18] neolit123 commented on #2728
is this easy to change - i.e. would the cmd library that we use Cobra allow it?

[2022-07-19 07:26] chymy commented on #2728
yes.

[2022-07-19 07:30] neolit123 commented on #2728
you can send a pr if you'd like. something we have to preserve is the application exit status. if no sub command is passed we can print a help sceen but the status must continue to be 1.

[2022-07-19 07:52] chymy commented on #2728
Thanks. I will do it.

[2022-07-21 18:24] andybe commented on #1254
That's wen opensource drive me crazy,- is't an option and if you drive it like a developer not problem at all.
I Must explicity an option in systemd while kubelet give me that.

That's a different kind of standpoint.

If user takes that in production it their fault. But cut down this option while it's declared in the official paper.

As I said crazy bad.

[2022-07-22 09:52] chymy opened #2729 "Kubedm init get version consultation"
## Is this a BUG REPORT or FEATURE REQUEST?
We use kubedm to deploy k8s on the intranet,
Why does `kubedm init` always get the version from the Internet by default instead of using local client version by default?

[2022-07-22 11:31] neolit123 commented on #2729
this is by design since the early days of kubeadm so that it fetches the latest patch version of a release, which may include critical fixes.

please use the support channels for questions.
/support

[2022-07-22 11:31] #2729 closed

[2022-07-24 06:10] webws opened #2730 "status=255"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2022-07-24 06:11] #2730 closed

[2022-07-25 07:04] p0lyn0mial opened #2731 "kubeadm doesn't pass etcd progress notification flag"
### What happened?

The `experimental-watch-progress-notify-interval` flag specifies an interval at which etcd sends data to the kube-api server.

It is used by the `WatchBookmark` feature ( `kube-apiserver`) which is GA since 1.17.
It will also be used by a new `WatchList` feature (`kube-apiserver's`) which is Alpha since 1.25

Given the above, a default installation must pass the flag required b

[2022-07-25 07:31] neolit123 commented on #2731
/kind feature
/remove-kind bug

[2022-07-25 08:37] ChenJhua opened #2732 "How to set the cpu and memory of etcd pod in kubeadm init --config"
How to set the cpu and memory of etcd pod in `kubeadm init --config`
I checked the documentation and didn't see any relevant information
I looked at this code and found that there are default values, but I don't know how to modify the default values through configuration

https://github.com/kubernetes/kubernetes/blob/release-1.23/cmd/kubeadm/app/phases/etcd/local.go

k8s: 1.23.0

[2022-07-25 08:40] ChenJhua commented on #2732
![image](https://user-images.githubusercontent.com/34536902/180735206-a0456fce-043e-42d5-9005-bf88b95095a1.png)

[2022-07-25 08:49] wojtek-t commented on #2731
FWIW - I'm copying my comment from the original issue to give a context:

1. The feature was graduated to GA (non-experiment) in etcd 3.5 without any code changes so I think we're fine.

1. We already enabled that for all GCE tests long time ago:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L578
https://github.com/kubernetes/kubernetes/blob/8415ae647d2c433c89910a

[2022-07-25 09:04] neolit123 commented on #2732
you can use the clusterconfiguration.etcd.local.extraargs which will apply to all etcd instances
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#etcd-flags

you can use per node patches
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#patches

for support questions please use the support channels
/support

[2022-07-25 09:04] #2732 closed

[2022-07-25 11:28] ChenJhua commented on #2732
@neolit123 Can you provide me with an example? I have a configuration error here
I checked the code extraArgs structure is map[string]string, I don't know how to configure init config for etcd resoures
[code]

[2022-07-25 11:33] neolit123 commented on #2732
you have to use patches.
write a patch file in a folder and pass it to kubeadm as the docs explain.

[2022-07-25 13:59] RA489 commented on #2653
/remove-lifecycle stale

[2022-07-26 08:12] neolit123 opened #2733 "prepare kinder workflows for k/k branch rename"
looks like the k/k branch will be renamed from master to main on august 3rd.

https://groups.google.com/a/kubernetes.io/d/msgid/dev/CAOxYG4wipNHR4rAC6SVH8%2BVoQj84Xum%2BTrTRwhsSm3Vjz%3D0KwQ%40mail.gmail.com?utm_medium=email&utm_source=footer

we have to update the source code of https://github.com/kubernetes/kubeadm/tree/main/kinder/ci/tools/update-workflows which hardcodes "master". then run kind

[2022-07-27 09:40] neolit123 commented on #2733
looks like it was postponed to 1.26 after discussions

[2022-07-27 10:02] ruquanzhao opened #2734 "kubeadm init can't skip all phases"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.24.3

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Container runtime (CRI)** (e.g. containerd, cri-o):
- **Container networking plugin (CN

[2022-07-27 11:24] neolit123 commented on #2734
i am tempted to claim this as "won't fix" because the use case for skipping all phases is not realistic.

but overall printing the join command could have been a separate phase.

@SataQiu @pacoxu thoughts?

[2022-07-27 12:29] SataQiu commented on #2734
+1 for moving `showJoinCommand` into a separate phase.
So we can also skip it.

[2022-07-27 12:46] pacoxu commented on #2734
In my case, when I want to `print the join command`,  I have to create a new token if there is no token and generate the command line by myself. If we have the phrase, it may help in this case.

Hence +1 to have a separate phase. To me, this is more like a small feature/refactor.

[2022-07-27 13:06] neolit123 commented on #2734
ok we seem to have agreement.

one problem is how to deal with the --skip-token-print flag of init if this becomes a phase. would the flag also effectively act like a phase skip? possibly, yes.

also code freeze is august 3rd in a few days.

[2022-07-29 06:23] challapradyumna opened #2735 "Kubeadm ignores multiple service-account-issuer"
## What keywords did you search in kubeadm issues before filing this one?

service-account-issuer

## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.22.12

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.22.12
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): 4.4.0-1087-aws

[2022-07-29 07:23] chendave opened #2736 "feat: `kubeadm init` or `kubeadm join` should be atomic"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version**

[2022-07-29 07:25] chendave commented on #2736
@neolit123 @SataQiu @pacoxu  Just a rough idea, need to think more about this, do you have any inputs?

/assign

[2022-07-29 07:59] neolit123 commented on #2735
known problem https://github.com/kubernetes/kubeadm/issues/1601

you can use patches instead of extra args
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#patches

[2022-07-29 07:59] #2735 closed

[2022-07-29 08:06] neolit123 commented on #2736
hi, @chendave i don't exactly agree with this.
the requirement for reset to be called is part of the kubeadm design and is also present in other unix commands - i.e. one command does something and another does a cleanup after it. atomic has not been a design goal.

[2022-07-29 10:27] chendave commented on #2736
So that cleanup command is called along with the command when this command failed, right?  `reset` is a separate process it's never got called unless we do that manually.

I am thinking about this like DB transaction, or some cleanup in the defer when we programming.

But if this is by design from the first beginning, I am fine with it, then all we need is some info printed on stdout to remind use

[2022-07-30 03:48] SataQiu commented on #2734
Here's a tricky one problem. If user does not provide a `CertificateKey`, kubeadm will generate a random key to encrypt the certs. Unfortunately, this key is not persisted. If we run `showJoinCommand` phase alone, the `CertificateKey` will be re-generated, which is wrong. @neolit123 thoughts?

https://github.com/kubernetes/kubernetes/blob/f6e163fe27f2d698af5309aa946515ee62d98e40/cmd/kubeadm/app/cm

[2022-07-30 06:11] neolit123 commented on #2734
running show join command on its own does not make sense. but if we skipped the upload certs phase then it means we skipped encypting / uploading certs and generating a random key doesn't matter? i could be missing some points here.

with code freeze 2 days away i think we may want to hold this change.

[2022-07-30 07:39] SataQiu commented on #2734
Emm... Maybe we should establish dependencies between phases.

[2022-07-30 07:47] neolit123 commented on #2734
if the user is skipping all phases except the one for showing the print command i think its fair for that phase to fail. a couple of reasons would be - no token, no cert key and no admin.conf, because the phases that produce those were skipped. if we execute the required phases as dependencies i think it can create some cases that are difficult to maintain and will also conflict with the user inte

[2022-07-30 08:10] SataQiu commented on #2734
Yeah, you are right, but some cases seem tricky.
For example, first execute all the init phases except `show-join-command`, and then run `show-join-command` phase alone.
In this scenario, `show-join-command` phase will execute successfully, because all the needed resources exist.
But the join command is totally wrong, because the token and cert key is randomly generated every time.

[2022-07-30 08:31] neolit123 commented on #2734
i think we are rediscovering here why we did not make it into a phase from the beginning.

we could try detecting if the phase is executed standalone and show a warning that the secrets are not actual.

[2022-07-31 14:03] challa-pradyumna commented on #1601
How about
[code]

[2022-08-01 02:52] pacoxu commented on #2736
As we have already divided `init`/`jon` into phases, can we make the phase atomic?

Then we can add a suggested command to run `kubeadm init --skip-phases=step1,step2,step3` when step4 failed.

[2022-08-01 02:56] pacoxu commented on #494
@neolit123 is this the next step?
If this is expected, I may give it a try.

[2022-08-01 02:57] pacoxu commented on #2563
No update in v1.25 for swap feature as Elana is ooo.

[2022-08-01 02:59] pacoxu commented on #1621
/unassign

Agree.

[2022-08-01 06:02] neolit123 commented on #494
it's open for discussion, i guess. it was something we spoke about in the past.

[2022-08-01 17:21] BenTheElder opened #2737 "incorrect unreleased version warning"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.25.0-alpha.3.348+d046a58de435a0
- **Cloud provider or hardware configuration**: KIND
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Container runtime (CRI)** (e.g. containerd,

[2022-08-01 18:11] neolit123 commented on #2737
looks like a bug.

[2022-08-01 20:42] neolit123 commented on #2737
or not?
https://github.com/kubernetes/kubernetes/blob/5b92e46b2238b4d84358451013e634361084ff7d/cmd/kubeadm/app/util/config/common.go#L120-L130

the validation problem happens when e.g. 1.24.0 is not released yet but the 1.25.0-alpha tag is already there on the master branch. we might just want to remove the warning to not confuse users and just return nil.

[2022-08-01 20:48] neolit123 commented on #2736
yes, it is a manual process.

kubeadm reset is mentioned as the "cleanup" command in the docs:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2022-08-01 20:49] neolit123 commented on #2736
i guess, making the phases as a whole atomic will be equivalent of making the whole command atomic.

[2022-08-01 20:53] BenTheElder commented on #2737
the commit I'm using should be past of v1.24.0 which has already been released, it is a v1.25.0 prerelease.

v1.25.0-alpha is for v1.25.0, not v1.24.0, it shouldn't be printing the minimum control plane version, we could take the current version and drop the prerelease portion for that log mesessge, or drop that part of the log entirely.

[2022-08-01 21:06] BenTheElder commented on #2737
I might have misunderstood the intent, but if not https://github.com/kubernetes/kubernetes/pull/111615 is an attempt at logging what I think the intent was (drops the pre-release part to form a release version).

I've put a `/hold` on it because I'm not confident, the >= minimum version check makes sense, I'm not sure what the point of this check is other than the warning about tolerating a pre-re

[2022-08-01 22:09] neolit123 commented on #2737
commented on the PR.

[2022-08-02 00:58] BenTheElder commented on #2737
/assign
/close
https://github.com/kubernetes/kubernetes/pull/111615

thanks!

[2022-08-02 00:59] #2737 closed

[2022-08-03 06:26] rohitagarwal003 opened #2738 "external CA validations hardcode values of `kubelet-client-key` and `kubelet-client-certificate` incorrectly"
## What keywords did you search in kubeadm issues before filing this one?

"apiserver-kubelet-client.key"
"invalid or incomplete external CA"

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.23.6

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.23.6
- **Cloud provider or hardware configuration**: AWS EC2 c6i

[2022-08-03 07:51] rohitagarwal003 opened #2739 "`validateKubeConfig` ignores `CertificateAuthority` and only looks at `CertificateAuthorityData`"
## What keywords did you search in kubeadm issues before filing this one?

"got the wrong CA cert"

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.23.6

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.23.6
- **Cloud provider or hardware configuration**: AWS EC2 c6i
- **OS** (e.g. from /etc/os-release): Amaz

[2022-08-03 08:08] neolit123 commented on #2739
hi, this was never a supported use case and i believe you are the first user requesting it.

what prevents you from embedding the client cert/key like kubeadm does by default?

i would not mind a change to validate external files, but we are in code freeze for 1.25 and i think this is a feature and not a bug fix, thus not backportable to < .25

[2022-08-03 08:16] neolit123 commented on #2738
extraArgs are passed to a component and not inspected by kubeadm for further use. using extraArgs like that has been establishes as a pattern which is not easy to maitain. for version component config the story is diffrent but not for flags.

i think this is a 'won't fix' status.

even for external ca you should try complying with the required file paths.

[2022-08-04 21:22] ameukam commented on #2671
@neolit123 is there anything that's need to be done here ? happy to provide some help

[2022-08-04 21:44] neolit123 commented on #2671
@ameukam in the OP we have a task to do some cleanups in 1.26.
this can happen after k/k master opens post CF.

[2022-08-05 05:43] #2736 closed

[2022-08-05 05:43] chendave commented on #2736
close this per the feedback from @neolit123

[2022-08-06 00:08] sunilbennur opened #2740 "error execution phase preflight: couldn't validate the identity of the API Server"
ubeadm join 172.31.20.26:6443 --token wh5pgl.vn6pj6nvjy23vw1r         --discovery-token-ca-cert-hash sha256:68926f85d8cf70505eb0aac8c433412a8b3c9a186df73cd2a885e7522043dc7c
[preflight] Running pre-flight checks
error execution phase preflight: couldn't validate the identity of the API Server: Get "https://172.31.20.26:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": net/htt

[2022-08-06 04:47] ChenJhua commented on #2732
Thanks, etcd set success.
Can you tell me how to set the time zone for Kube-proxy @neolit123

[2022-08-06 09:48] dilyanpalauzov opened #2741 "--container-runtime=remote"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2022-08-06 09:48] #2741 closed

[2022-08-06 09:55] dilyanpalauzov opened #2742 "kubeadm: do not include --container-runtime= and --pod-infra-container-image in KUBELET_KUBEADM_ARGS"
kubeadm creates /var/lib/kubelet/kubeadm-flags.env with:

The parameters `--container-runtime=remote ` and `--pod-infra-container-image` are deprecated, as seen by `kubelet --help`:

[code]

[2022-08-07 23:36] mk2134226 commented on #1390
@adamwithit  Did your setting kept working or caused some other issues down the track.

[2022-08-08 03:57] neolit123 commented on #2742
yes, this is known and we will remove the flags ftom kubeadm before they are removed from the kubelet. until then we need to keep the flags like that.

[2022-08-08 03:57] #2742 closed

[2022-08-09 04:13] RA489 commented on #2740
/support

[2022-08-09 04:14] RA489 commented on #2740
/kind support

[2022-08-09 04:14] #2740 closed

[2022-08-09 20:56] afbjorklund commented on #2671
Does something need to be done for kubeadm < 1.25 too, or can they just rely on the image redirect ?

This also goes for the old tarballs, that were generated with the content from `kubeadm config images`

[2022-08-09 21:32] BenTheElder commented on #2671
k8s.gcr.io will continue to exist as a source of truth, and is itself an alias to the actual registries (unadvertised).

It would be a breaking change for older releases to switch the primary registry alias, e.g. for the reasons you mentioned, so they will not be updated.

However, in the near future k8s.gcr.io may begin to redirect to registry.k8s.io, which will again contain all the same images,

[2022-08-10 00:39] RA489 commented on #1759
/remove-lifecycle stale

[2022-08-10 00:40] RA489 commented on #1793
/remove-lifecycle stale

[2022-08-10 06:25] KeithTt commented on #2364
I think this command need to communicate with apiserver, if apiserver is stopped how to update the value of `kubeadm.alpha.kubernetes.io/cri-socket`.

I refer to this guide: https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/change-runtime-containerd/

1. stop kubelet
2. configure and start containerd
3. configure kubelet to use containerd
    - update the file /var/lib/

[2022-08-10 09:16] neolit123 commented on #2364
for single control plane clusters this can be a problem, yes. you can log an issue in kubernetes/website about it. the annotation can be safely edited before the kubelet is stopped.

[2022-08-10 10:13] KeithTt commented on #2364
Thanks a loooooot. Confused for a few days.

[2022-08-10 12:50] SataQiu commented on #2739
/assign

[2022-08-15 09:30] neolit123 commented on #2543
/remove-lifecycle stale

perhaps we can close this? the refractor is ultimately a nice to have / for correctness.

[2022-08-15 16:41] neolit123 commented on #2626
/remove-lifecycle stale

[2022-08-17 11:44] netikras commented on #2608
This error is to be seen when containerd/CRI is using overlays, nfs and possibly other more limited filesystems, not supporting overlays extended attributes.

This is what I've captured in the container strace while trying to run a container on overlayfs:

[code]

manpage for xattr: https://man7.org/linux/man-pages/man7/xattr.7.html

The fix is easy: don't use filesystems not supporting those attr

[2022-08-17 12:51] mrajadurai2413 commented on #1642
In aug'2022 i am facing same issue

`kubeadm version: &version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.3", GitCommit:"aef86a93758dc3cb2c658dd9657ab4ad4afc21cb", GitTreeState:"clean", BuildDate:"2022-07-13T14:29:09Z", GoVersion:"go1.18.3", Compiler:"gc", Platform:"linux/amd64"}
`

[2022-08-17 12:55] mrajadurai2413 commented on #1616
sudo 'kubeadm reset' and 'kubeadm init' works!!!!!!

[2022-08-18 06:46] SGStino opened #2745 "CoreDNS image incorrectly resolved when using --image-repository"
## What keywords did you search in kubeadm issues before filing this one?
https://github.com/kubernetes/kubeadm/issues/2714 <- misinterpreted as a support request & closed instead of bug report
https://github.com/kubernetes-sigs/kubespray/issues/8182 <- similar bug in kubespray, fixed.

## Is this a BUG REPORT or FEATURE REQUEST?

 BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version

[2022-08-18 07:12] neolit123 commented on #2745
its by design for backwards compatibility and the image path can differ when using image repo.

please read
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images

[2022-08-18 07:12] #2745 closed

[2022-08-18 08:14] yangjianfeng1208 opened #2746 "Container runtime network not ready"
What keywords did you search in kubeadm issues before filing this one?

CNI dosen't work after kubeadm init cluster

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.24.2

**Environment**:

- **Kubernetes version** (use `kubectl version`): v1.24.2
- **Cloud provider or hardware configuration**:
  - Two virtual machines by kvm
  -

[2022-08-18 08:53] neolit123 commented on #2746
hi please try asking on the support channels

/support

[2022-08-18 08:54] #2746 closed

[2022-08-19 03:48] currycan opened #2747 "sealos 创建集群 kubeadm init 报错 /var/lib/etcd is not empty"
[code]

reset 后确认页没有`/var/lib/etcd`目录,报错日志如下:

[code]

[2022-08-19 04:03] pacoxu commented on #2747
Can you reproduce it with `kubeadm` commands?
Or you may ask in https://github.com/labring/sealos/issues.

[2022-08-19 05:57] currycan commented on #2747
好像就是这问题 https://github.com/kubernetes/kubeadm/issues/2721 ,非常感谢!

[2022-08-19 06:02] neolit123 commented on #2747
if the problem is the same as #2721, please close this issue. thanks

[2022-08-19 06:42] currycan commented on #2747
另外,我换了一下 kubernetes 1.18 版本,又报了另外一个错:

[code]

[2022-08-19 06:42] #2747 closed

[2022-08-20 06:16] siddhant29 commented on #1031
If using the [Weave CNI Plugin](https://www.weave.works/docs/net/latest/kubernetes) from a prior full install of Weave Net with your cluster, check their is no hard valued IPAM and other conf described . Remove any hard constraint under /etc/cni/net.d/weave.config and restart the kublet.

Link for Weave net kubernetes :  kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl ver

[2022-08-21 11:35] chendave commented on #2603
The addons are `kube-proxy` and `coredns`, does kubeadm supports the "external" addons today? and If the new field is only used to track what's the addon is enabled, what's the problem will be if the external addons is added into the `ClusterConfiguration`?

[2022-08-21 11:46] chendave commented on #2603
I am +1 on moving the image pulling of the addons to the phases which they belong to,  since now that kubeadm has phases innovated, each phase should be idempotent and shouldn't be coupled with each other. I think this is also the reason why I want to move the cleanup to it's phases (https://github.com/kubernetes/kubernetes/pull/110972).

[2022-08-22 06:20] neolit123 commented on #2603
The addons are kube-proxy and coredns, does kubeadm supports the "external" addons today? and If the new field is only used to track what's the addon is enabled, what's the problem will be if the external addons is added into the ClusterConfiguration?

no, kubeadm does not support external addons.
if we want the external addon support and externalize the current addons, that would need a kep and s

[2022-08-22 06:28] neolit123 commented on #2603
as mentioned it would disagree with the preflight purpose, but that's likely the best we can do.

arguably 'config images' should continue working with all images.

[2022-08-22 07:07] chendave commented on #2603
so that storing the addon state in ClusterConfiguration as you said  should be acceptable, at least we cannot foresee is there any problem with this approach atm.

for this issue,  storing the addon state in `ClusterConfiguration`  +  move image pulling into it's phases looks like the right approach to go!

agree!

[2022-08-22 07:52] chendave commented on #2489
/remove-lifecycle stale

@neolit123 is the time to pick this up? I saw the [KEP](https://github.com/kubernetes/enhancements/pull/1439) is closed with no progress yet.

[2022-08-22 08:14] neolit123 commented on #2603
i would like to read a kep if we are touching the cluster config. the exact approach is not clear to me at this stage.

[2022-08-22 08:18] neolit123 commented on #2489
we should likely book another kubeadm office hours to discuss this. but if you'd like you can also draft a google doc proposal about it following the kep template on which we can comment.

[2022-08-22 08:44] chendave commented on #2489
sure, I am going to do more investigation on this and make sure I understand the whole pic before sending the google doc.

/assgin

[2022-08-22 08:44] chendave commented on #2489
/assign

[2022-08-24 02:00] #2739 closed

[2022-08-24 06:35] kubebeginner opened #2748 "prometheus-cvimmon-monitor-cert-exporter - fails to start on CNI error"
## Versions

**Environment**:
- **Kubernetes version** (use `kubectl version`): v.1.17.8
- **OS** (e.g. from /etc/os-release): RHEL 8.4
- **Kernel** (e.g. `uname -a`):  4.18.0-193.70.1.el8_2.x86_64
- **Container networking plugin (CNI)** (e.g. Calico, Cilium): Calico

## What happened?

The pod service prometheus-cvimmon-monitor-cert-exporter fails to get restarted on particular master node and ge

[2022-08-24 08:20] pacoxu commented on #2748
it seems to be not related to kubeadm. It sounds like a calico issue.

[2022-08-24 09:14] pacoxu commented on #2426
Is it too early in v1.26 for users to turn warnings into errors?
Either v1.26 or v1.27 is OK for me. I prefer v1.27.

[2022-08-24 10:58] neolit123 commented on #2426
1.27 sounds better but we might want to do it only after the kubelet starts doing it, if that ever happens.

[2022-08-24 11:07] neolit123 commented on #2748
yes, please try contracting the owners of the failing component or ask for help on the support channels.

/support

[2022-08-24 11:08] #2748 closed

[2022-08-25 05:58] pacoxu commented on #2135
FlexVolume was deprecated since v1.23.

[2022-08-25 06:26] pacoxu commented on #2046
There seem to be no bugs or further feature requests for patch support now.

[2022-08-25 06:45] neolit123 commented on #2046
we discussed with Fabrizio to tie the graduation to the kubeadm api which is still beta. i think we can keep this issue open in case new features are requested for the patches.

[2022-08-25 06:48] neolit123 commented on #2135
we can remove the kubeadm integration which will be fairly easy, but perhaps we should do it once k/k core removes it. if we remove it now it's not clear how many users we will break.

[2022-08-25 06:56] pacoxu commented on #2135
Upgrade behavior should not be changed. So if user upgrades their cluster, the cluster will not break.
Can we just change `kubeadm init` to not use flex volume? Or just keep it as is.

[2022-08-25 07:02] neolit123 commented on #2135
i think after kubeadm upgrade if the manifests no longer have the flex volume bits, an existing user of the deprecated flex volume support from core k8s will be broken.

[2022-08-25 09:18] neolit123 opened #2749 "1.26: housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.
**It tracks the upcoming release of Kubernetes 1.26 (1.x)**

Note: make sure you reference this issue in PRs.

same issue for 1.x-1 (see example PRs):
https://github.com/kubernetes/kubeadm/issues/2694

_When 1.x-4 version goes out of support_
https://kubernetes.io/releases/#release-history

- [ ] Drop kinder su

[2022-08-25 09:18] neolit123 commented on #2694
1.26 ticket
https://github.com/kubernetes/kubeadm/issues/2749

[2022-08-25 09:18] #2694 closed

[2022-08-25 09:21] neolit123 commented on #2738
closing, please add more comments if needed.

[2022-08-25 09:21] #2738 closed

[2022-08-26 08:18] neolit123 opened #2750 "fix rootless e2e tests"
slack thread in #release-ci-signal
https://kubernetes.slack.com/archives/CN0K3TE2C/p1661502210909039

started failing yesterday

[code]

it seems it cannot call `etcd --version` on the `etcd-kinder-rootless-control-plane-1` pod in the `cluster-info` task, for some reason.
the apiserver and etcd pods seem to be running.

https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-rootless-

[2022-08-26 08:20] neolit123 commented on #2750
the same is not failing in this "latest" job
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-25-latest

[code]

very odd...

[2022-08-26 08:25] neolit123 commented on #2473
our e2e for this feature started failing yesterday. i have no explanation for the time being. but i don't think it's a kubeadm problem, so maybe something in core?
https://github.com/kubernetes/kubeadm/issues/2750

[2022-08-26 10:24] pacoxu commented on #2750
I think this is caused by https://github.com/kubernetes/kubernetes/pull/112024/. Let me fix it.

[code]
The below will return an error even err is nil.

[code]

[2022-08-26 10:33] neolit123 commented on #2750
yeah the contributor confirmed it will be nil

[2022-08-26 10:39] pacoxu commented on #2750
There are some error messages in etcd log like below.
[code]

[2022-08-26 10:56] neolit123 commented on #2750
that's odd, is it failing to dial the cri socket for some reason?

might be worth reporting to sig node if we understand better what's happening..

[2022-08-26 11:19] pacoxu commented on #2750
I found the problem. I will send a PR.

[2022-08-26 11:22] pacoxu commented on #2750
During the upgrade of kubeadm, the kubelet config is corrupt by https://github.com/kubernetes/kubernetes/pull/112000.

https://github.com/kubernetes/kubernetes/pull/112062 will fix it.
The unit test doesn't cover the general case.

[2022-08-26 12:04] neolit123 commented on #2750
makes sense yet thd main upgrade job works as mentioned here
https://github.com/kubernetes/kubeadm/issues/2750#issuecomment-1228202816

[2022-08-26 22:36] neolit123 commented on #2750
looks like that was the problem

[2022-08-26 22:36] #2750 closed

[2022-08-27 04:14] #2734 closed

[2022-08-28 15:23] rome-legacy commented on #339
yeah, same here.
kubeadm reset did just half of the job.
sudo kubeadm reset did the trick

[2022-08-29 07:44] #2721 closed

[2022-08-30 10:18] lethargosapatheia commented on #1361
@Antebios This is about old versions that don't support this feature, because it's alpha. So if you really want to help, it would be nice to offer a solution for older versions (such as 1.19) where `renew`doesn't work at all.

[2022-08-31 09:11] tankilo opened #2751 "`kubeadm init` does not use the images downloaded by `kubeadm config images pull`"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version

[2022-08-31 09:20] pacoxu commented on #2751
check your containerd configurition for pause image and change it.

[2022-08-31 09:43] neolit123 commented on #2751
yes, you need to separately set the pause image for the CR

/support

[2022-08-31 09:44] neolit123 commented on #2751
https://kubernetes.io/docs/setup/production-environment/container-runtimes/#override-pause-image-containerd

[2022-08-31 12:04] pacoxu commented on #2751
This seems to be a very common problem for users with kubeadm + contained.

Should we add some tips for users init cluster with `--image-repository`?

[2022-08-31 12:12] neolit123 commented on #2751
we also mention it in the kubeadm init page
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-pause-image

[2022-08-31 14:02] tankilo commented on #2751
Pretty Thanks for the answer above, i didn' go through the document. I follow a blog written by others.

[2022-08-31 14:08] neolit123 commented on #2751
official docs are the only up-to-date source and have all the details

[2022-09-01 08:05] mondalkaushik91 commented on #1031
I am facing issues on "containerGCFailed"

Node not ready state

[2022-09-01 12:46] geotransformer opened #2752 "Kubeadm upgrade did not renew scheduler.conf and controller-manager.conf"
## What keywords did you search in kubeadm issues before filing this one?
Kubeadm upgrade, cert renew

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Bug report

Choose one: BUG REPORT or FEATURE REQUEST

In our case, there is a kubeadm-co

[2022-09-01 13:18] neolit123 commented on #2752
as our docs and the cli indicate, passing --config to upgrade is not supported and can have unexpected results.

you can do ".. certs renew" manually. iirc, kubeadm during upgrade will only renew certs if a component is actually upgraded.

[2022-09-01 19:43] geotransformer commented on #2752
1> kubeadm_diff: "--- /etc/kubernetes/manifests/kube-apiserver.yaml
+++ new manifest
@@ -46,7 +46,7 @@

- --service-account-issuer=api
+ --service-account-issuer=xxxxx-monitor.  <---- kubeadm ClusterConfiguration change

2>  kubeadm upgrade apply --force --config=/etc/kubernetes/kubeadmin-config.yaml. <-- by default, it will renew cert

3> kubeadm upgrade node

4> root@cloud-dev1:/etc/kubernetes#

[2022-09-01 20:00] neolit123 commented on #2752
as mentioned above, changing the --config passed to upgrade and expecting cert files to update is not a defined behavior.
passing --config to upgrade is legacy behavior too.

please use `certs renew` manually.
if you are doing actual upgrade of from version x -> y, where x != y, all files will be renewed.

[2022-09-01 20:37] geotransformer commented on #2752
Thanks for prompt response. From the doc in the below, it will upgrade and renew certs. Actually it only applies to the version x -> y upgrade. If we can have some explicit note for. That will be good.

Also I expect the certs are all renewed, or no renewal. Only a few get renewed under circumstances wont help, but will cause problem.

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubea

[2022-09-01 20:39] geotransformer commented on #2752
@neolit123

Will add --certificate-renewal=false to kubeadm upgrade, let our cert monitor function to take care of cert renew.

Any concern for --certificate-renewal=false ?

[2022-09-01 20:43] neolit123 commented on #2752
technically, the point of upgrade is actually performing an upgrade from x->y. in case the user calls upgrade to do a x->x there will be no cert rotation. x->x is supported but will not perform cert rotation as can be seen in the command logs, because code paths are skipped due to x remaining the version.

about --config, the main point is here:

https://kubernetes.io/docs/reference/setup-tools/ku

[2022-09-01 20:55] geotransformer commented on #2752
@neolit123 Thanks a lot.

[2022-09-02 02:43] chendave commented on #2603
/assign

I or @ruquanzhao will send a google doc for review in next few weeks.

[2022-09-05 11:16] RA489 commented on #2587
/remove-lifecycle stale

[2022-09-05 14:06] fuzhibo commented on #1047
We should not use `--endpoint-reconciler-type=none` now to solve if api server has this error, `--endpoint-reconciler-type` is very important for auto create Endpoint for Service, keep it as default. When we face that error, it may seems etcd server is unavailable, check if etcd not work, maybe containerd's config.toml with `SystemdCgroup = false` will triger the issue.

[2022-09-06 18:27] telmich opened #2754 "kubeadm bootstraps apiserver with mismatching IP famlies"
## What keywords did you search in kubeadm issues before filing this one?

* error creating bootstrap controller
* service IP family

There is https://github.com/kubernetes/kubeadm/issues/1612 however it does not seem to address this issue.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

[code]

## What happened?

Running apiserver fails with:

[code]

## What you expected t

[2022-09-06 18:40] telmich commented on #2754
I tried to tell kubeadm to move the apiServer binding to IPv6 using the following configuration:

[code]

Note that `controlPlaneEndpoint: "server121-api.k8s.ooo:6443"` only resolves to IPv6 (only has AAAA) entries and no A entries. Thus the binding should only go to IPv6. However kubeadm generates the following incorrect manifest:

[code]

[2022-09-06 18:44] telmich commented on #2754
Correction: adding

[code]

to the configuration fixes the issue. However it would be great if kubeadm could detect that conflict by itself and bootstrap the correct api server parameters.

[2022-09-07 06:16] neolit123 commented on #2754
advertiseAddress is autodetected from the default route on the host. if you'd like that ip to be v6 family, i think setting it explicitly is valid.

[2022-09-07 09:11] 253980289 commented on #1616
[lj@centos7 ~]$ sudo kubeadm reset
[reset] Reading configuration from the cluster...
[reset] FYI: You can look at this config file with 'kubectl -n kube-system get cm kubeadm-config -o yaml'
W0907 15:44:01.431790    9230 reset.go:103] [reset] Unable to fetch the kubeadm-config ConfigMap from cluster: failed to get config map: Get "https://192.168.10.138:6443/api/v1/namespaces/kube-system/configmap

[2022-09-08 10:04] bangzhuzhu commented on #1079
still get this problem from newest kubernetes-node-windows-amd64.tar.
![image](https://user-images.githubusercontent.com/111118214/189095072-506ed7ea-c593-4fed-998a-996933406472.png)
How to fix this?

[2022-09-08 10:12] neolit123 commented on #1079
your screenshot has 1.11, which is an old version. try 1.25.

[2022-09-09 07:49] #2728 closed

[2022-09-09 13:58] neolit123 commented on #2754
please add further comments if needed.

[2022-09-09 13:58] #2754 closed

[2022-09-10 08:58] durga61 commented on #2370
NO_PROXY was missing, worked after adding hostname

[2022-09-10 14:29] thakurdevendra opened #2755 "reverted"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2022-09-10 14:54] #2755 closed

[2022-09-12 09:23] ffxxe commented on #2394
@dalfos, You should copy the config from the k8s folder to the user home directory:
`cp /etc/kubernetes/admin.conf /root/.kube/config`

You make sure which config used kubectl by the debugging command above:
`kubeadm token create --v=5`

I understood that when performing this command:
[code]

[2022-09-14 02:01] pacoxu commented on #2463
/unassign wangyysde

[2022-09-15 03:33] chenk008 commented on #2463
Can I work on it?

[2022-09-15 05:23] neolit123 commented on #2463
@chenk008 sure you can try asking @wangyysde what progress he made.
see linked docs and prs. also note that we do not add new fields in old apis, do this must be added in the future beta4. we could add the boiler plate now and just expose the fields in beta4.

[2022-09-15 21:30] inflatador opened #2756 ""/etc/kubernetes/pki/sa.key isn't in RSA format" error when using ECDSA certs"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** :

```kubeadm version: &version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.4", GitCommit:"95ee5ab382d64cfe6c28967f36b53970b8374491", GitTreeState:"archive", BuildDate:"2022-08-18T00:00:00Z", GoVersion:"go1.18.5", Compiler:"gc", Platform:"linux/amd64"}```

**Environment**:
- **Kubernetes version** (use `kub

[2022-09-15 21:38] neolit123 commented on #2756
note this is alpha  / experimental and not recommended for production clusters.
we might change how it works and make it a toggle in the kubeadm --config, instead of force graduating it to always ON by default.

+

might be a problem where the ECDSA feature gate is not checked during "join" and the cert validation fails.
can you show join logs with --v=5?

[2022-09-15 22:12] inflatador commented on #2756
Hey, thanks so much for the quick reply!
As requested, [here are the join logs](https://gist.github.com/inflatador/7f0d822e402faf45cd3d4d028b426895) .

Let me know if there is an existing flag for that, I tried including `--feature-gates PublicKeysECDSA=true` in my `kubeadm join` command, but that didn't seem to work.

[2022-09-16 04:57] neolit123 commented on #2756
i think the error is happening here when checking if the sa.* can be loaded:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/certs/certs.go#L485-L490

they the function to load public/private key only supports RSA:
https://github.com/kubernetes/kubernetes/blob/02ac8ac4181e179c2f030a9f8b1abef0d9a0b512/cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L350-L377

unless there is

[2022-09-16 06:12] SataQiu commented on #2756
/assign

[2022-09-16 11:57] #2756 closed

[2022-09-16 12:40] neolit123 commented on #2756
@SataQiu this is blocking bug for a feature, so perhaps we should backport to tte supported releases. wdyt?

[2022-09-17 02:29] SataQiu commented on #2756
Yes, I think it's reasonable, I'll cherry-pick it to 1.25, 1.24 and 1.23 branch.

[2022-09-17 11:52] Ryder05 commented on #1390
I manged to solve the problem by enabling inbound traffic in port 6443 and used the flag --control-plane-endpoint   instead of --apiserver-advertise-address

[2022-09-17 17:54] Foritus commented on #2426
As a note for people (like me) who ended up at this issue via search engines, if your kubeadm'ed cluster is throwing this error when running `kubeadm upgrade node`:
[code]
You can fix this by manually doing:
[code]
and in the `annotations` section add this:
[code]

Make sure to verify this is the correct socket path (snoop a control plane node to see what they have set, or just use the same one yo

[2022-09-20 02:25] mattjhammond commented on #2370
I am running into a very similar issue to the original post.  I am in an air gapped install on an AWS EC2 with RedHat and have all of the dependencies and kubernetes images loaded from offline sources.  When I initialize the cluster, it uses the existing images loaded in podman and gets to the control plane boot.  It's referencing the AWS assigned host.compute.internal address.  I am able to ping

[2022-09-21 11:47] dilipk8 opened #2757 "Node auto-scaling on a kubeadm cluster"
## Is this a BUG REPORT or FEATURE REQUEST?
 FEATURE REQUEST

If this is a FEATURE REQUEST, please:
  - A method or a way to automatically scale up and scale down worker nodes in a kubeadm kubernetes cluster.

## Versions

All version of kubeadm

**Environment**:
- **Kubernetes version** (use `kubectl version`):  All versions of Kubernetes
- **Cloud provider or hardware configuration**:   AWS
- **

[2022-09-21 13:10] randomvariable opened #2758 "Expected imageRepository field to be validated"
## What keywords did you search in kubeadm issues before filing this one?

validate
imageRepository

## Is this a BUG REPORT or FEATURE REQUEST?
Bug report

## Versions

**kubeadm version** (use `kubeadm version`): v1.25.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): N/A
- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel*

[2022-09-21 13:37] neolit123 commented on #2757
hi. this is out of scope for kubeadm as it just runs on the nodes as cli. it can be managed by high level tools like kubespray or capi. capi already has some autoscaler integration.

[2022-09-21 13:37] #2757 closed

[2022-09-21 19:53] wjentner opened #2759 "liveness probe for etcd may cause database crash"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
bare metal
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Container runtime (CRI)** (e.g. containerd, cri-o):
`con

[2022-09-21 20:03] neolit123 commented on #2759
@ahrtr @serathius
is this something we have to handle?

latest probe in kubeadm is here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/etcd/local.go#L206

[2022-09-21 22:16] ahrtr commented on #2759
Sorry for that. It's a known issue, which was fixed in 3.5.5.

FYI. https://github.com/etcd-io/etcd/pull/14419

[2022-09-22 00:46] wjentner commented on #2759
What is the recommended solution?
kubeadm `1.24.6` installs etcd `3.5.3`.
It also does not contain the update liveness probe from the main branch.

Should I force the etcd version `3.5.5`?

[2022-09-22 00:55] ahrtr commented on #2759
Kubernetes bumped etcd 3.5.5 on the master branch in https://github.com/kubernetes/kubernetes/pull/112489. I think etcd 3.5.5 should be bumped into previous stable releases as well. cc @dims @neolit123

[2022-09-22 03:26] pacoxu commented on #2759
https://github.com/etcd-io/etcd/issues/14382#issuecomment-1227339106
The issue seems to be critial.

[code]

[2022-09-22 05:44] neolit123 commented on #2759
from what i've seen these backports to bump etcd in older k8s releases do not get merged.
your solution is to tell kubeadm what etcd image version to use. remember to manually handle upgrades

[2022-09-22 05:44] #2759 closed

[2022-09-22 06:52] ahrtr commented on #2759
@wjentner  FYI. https://github.com/ahrtr/etcd-issues/blob/d134cb8d07425bf3bf530e6bb509c6e6bc6e7c67/etcd/etcd-db-editor/main.go#L16-L28

Please let me know whether it works or not.

[2022-09-23 06:11] BenTheElder commented on #2759
Though, in this case it should only be a patch bump and may be fine? We have been on 3.5.X since at least k8s 1.23

[2022-09-23 07:23] SataQiu commented on #2758
Is there a common way/util to verify the `imageRepository` format for different image runtimes?
This seems to be an implementation based on regular expressions https://github.com/distribution/distribution/blob/main/reference/reference.go#L7

[2022-09-23 08:20] neolit123 commented on #2759
etcd patch backports did not get attention and approval either. +1 from me if someone wants to try.

[2022-09-23 09:16] neolit123 commented on #2758
not sure if a good idea to import the distribution package in kubeadm, might be fine though....can we use the go url stdlib instead?

[2022-09-23 13:04] deric opened #2761 "kubeadm can't pull coredns:v1.8.6 from registry.k8s.io"
## BUG REPORT

`kubeadm` can't upgrade `v1.24.3` -> `v1.24.6`

[code]

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):  `v1.24.3`
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Debian 11
- **Kernel** (e.g. `uname -a`): `5.10.0-17`
- **Container runtime (CRI)** (e.g. conta

[2022-09-23 13:19] #2761 closed

[2022-09-23 14:34] wjentner commented on #2759
I have manually recovered our DB using the `snap/db` file.

As a current workaround I have set the --quota-backend-bytes to 8Gb using the extraArgs in kubeadm such that the alarm is not being raised.
Additionally, I have forced etcd version 3.5.5.
There seems to be no way to overwrite the livenessProbe other than manually editing the manifest directly.

I'm quite surprised that this problem has no

[2022-09-23 14:40] neolit123 commented on #2759
check the kubeadm --patches functionality

[2022-09-23 22:04] wjentner commented on #2759
@ahrtr I basically followed the disaster recovery docs: https://etcd.io/docs/v3.5/op-guide/recovery/

1. stopped etcd on all nodes
2. On etcd1: ```etcdutl snapshot restore /var/lib/etcd/members/snap/db
  --name etcd1
  --initial-cluster etcd1=http://host1:2380,etcd2=http://host2:2380,etcd3=http://host3:2380
  --initial-cluster-token new-cluster
  --initial-advertise-peer-urls http://host1:2380
  -

[2022-09-23 22:20] ahrtr commented on #2759
Thanks @wjentner for the feedback, which makes sense.

I just checked the source code, the key point why your steps work is that etcdutl updates the consistent index using the commitId.  FYI. [v3_snapshot.go#L272](https://github.com/etcd-io/etcd/blob/4513671b6902f22a443439d7e2872e42b9629730/etcdutl/snapshot/v3_snapshot.go#L272 )

[2022-09-24 09:34] #2680 closed

[2022-09-24 20:36] guettli commented on #591
You can have a look at the certifcate-signing-requests like this:

[code]

Then you can accept the latest one:

[code]

Then `kubectl log` worked in my case. I did not change `serverTLSBootstrap: true`

[2022-09-26 02:14] pacoxu commented on #2758
refer to https://github.com/kubernetes/kubernetes/issues/103849, we plan to migrate to distribution v3, but it is pending due to many new transitive dependencies.

[2022-09-26 04:41] neolit123 commented on #2758
my vote is to just do some golang stdlib url validation

[2022-09-26 07:36] deric commented on #2761
@neolit123 That would be great, indeed. Except it's the registry migration is not handled at all.

[code]
Or the recommended way is to ignore the preflight errors?

[2022-09-26 07:46] deric commented on #2761
@neolit123 I guess the real issue is that the new registry `registry.k8s.io` is missing the image `coredns:v1.8.6`. while the old registry `k8s.gcr.io` works just fine.

[2022-09-26 08:41] neolit123 commented on #2761
what are the contents of:
`kubectl get cm kubeadm-config -n kube-system`

did you manually edit this cm?

 I guess the real issue is that the new registry registry.k8s.io is missing the image coredns:v1.8.6. while the old registry k8s.gcr.io works just fine.

we have upgrade ci that is passing.

all coredns images should be under a /coredns path.
also registry.k8s.io is just a redirect to the old

[2022-09-26 08:47] neolit123 commented on #2761
if you have edited the registry to registry.k8s.io manually the cm please revert it to k8s.gcr.io and try upgrade again.

the 1.25 upgrade will do the migration for you.
changes are linked in https://github.com/kubernetes/kubeadm/issues/2671

[2022-09-26 09:04] deric commented on #2761
@neolit123
[code]
I'm not upgrading to `v1.25` yet, as the description says it's upgrade from `v1.24.3` -> `v1.24.6`.

The `config.yaml` contains old registry:
[code]

However the image repository seems to be already upgraded, I'm not sure how that happened (I haven't done that manually).

[code]

[2022-09-26 09:32] pacoxu commented on #2761
- `/etc/kubernetes/config.yaml` is not a traditional kubeadm file.
- ConfigMap`kubeadm-config` will not be edited with kubeadm v1.24-; Only v1.25.x kubeadm will edit the configmap during upgradation.

[2022-09-26 09:46] neolit123 commented on #2761
please use `kubectl edit cm...` to change the cm field to k8s.gcr.io

[2022-09-26 10:09] deric commented on #2761
I've reverted the `imageRepository` back to `k8s.gcr.io`
[code]
and now the upgrade seems to be working.

[2022-09-26 11:09] SataQiu commented on #2758
`kubelet` currently uses  `github.com/docker/distribution/reference` to validate image format.
I think `kubeadm` better keep consistent behavior with `kubelet`.

If `k/k` migrate to distribution v3, we should also keep up to date.

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/images/image_manager.go#L23

https://github.com/kubernetes/kubernetes/blob/cac53883f4714452f3084a22e4be

[2022-09-26 11:19] neolit123 commented on #2758
ok, +1

[2022-09-26 14:37] SammyA opened #2762 "Cannot regenerate apiserver certificate"
## What keywords did you search in kubeadm issues before filing this one?
- certsans
- cert

## Is this a BUG REPORT or FEATURE REQUEST?
Bug report

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **OS** (e.g. from /etc/os-release):
`Debian GNU/Linux 11 (bullseye)`
- **Kernel** (e.g. `uname -a`):
`Linux k

[2022-09-26 14:53] neolit123 commented on #2762
that's how the kubelet works with static pods. alternatively you can move the yaml file for 40sec (def refresh rate).

[2022-09-26 15:04] SataQiu commented on #2762
Please also delete `/etc/kubernetes/pki/apiserver.key`

[2022-09-26 15:07] SammyA commented on #2762
Yes! that seems to be the secret.

[2022-09-27 03:23] pacoxu commented on #1393
/cc
TODO: After windows ut can run regularly, we need a grid board to know the code coverage of windows ut like https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-unit.

[2022-09-27 10:23] #2758 closed

[2022-09-28 09:40] chendave commented on #2489
sent the doc to the mailing list, paste the link here as well: https://docs.google.com/document/d/1R4zLtgDadNM8_N2VzS0DI2mADcYmkyJ3L7lJVpbyZsA

[2022-09-28 09:41] chendave commented on #2489
@neolit123 pls help to review at your convenience, thanks! :)

[2022-09-28 10:21] neolit123 commented on #2489
thanks @chendave . i did an initial pass on the doc

[2022-09-28 16:27] neolit123 commented on #1793
we had a discussion about this today with @fabriziopandini
so learner mode was used in Talos
https://www.talos.dev/v0.12/introduction/what-is-new/#etcd
and we might want to have it in kubeadm.

i can start writing a doc / KEP for this but if someone will like to work on the code / unit tests / e2e tests that would be great.

[2022-09-29 08:35] ruquanzhao commented on #2603
/assign
I write a document of this. Hope to get comments from everybody. @neolit123 @pacoxu @wangyysde @chendave
https://docs.google.com/document/d/1mf3dlFFrHVDRLOUYFy4AaRJqiCLcv9VcVS7cxrmDcSs/edit?usp=sharing

[2022-09-30 04:13] chendave commented on #2603
@ruquanzhao  thanks for the doc, left some question or comments for you in the doc

[2022-09-30 22:10] minhhungit commented on #1124
thanks @rcmelendez
btw, in case file /etc/resolv.conf not exists or can not ping google, here is steps to fix: (https://stackoverflow.com/a/54460886/3007147)

Using Ubuntu 18.04, first disable systemd-resolved service.

Stop the service

Then, remove the link to /run/systemd/resolve/stub-resolv.conf in /etc/resolv.conf

Add a manually created resolv.conf in /etc/

Add your prefered DNS server ther

[2022-09-30 22:25] minhhungit commented on #1124
there is a problem, everytime I reboot my server the file /run/systemd/resolve/resolv.conf is lost

[code]

does anyone know how to fix it

[2022-10-04 08:42] jseparovic opened #2763 "kubeapi server ignores manifest changes"
## What keywords did you search in kubeadm issues before filing this one?
is:issue kubeapi manifest

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.9", GitCommit:"b631974d68ac5045e076c86a5c66fba6f128dc72", GitTreeState:"clean", BuildDate:"2022-01-19T17:50:04Z"

[2022-10-04 08:49] neolit123 commented on #2763
hi, this is technically something that the kubelet handles and not kubeadm. the kubelet by default does a diff of a manifest file every 40 seconds. if it changes the static pod is retreated.

i doubt the container command line change is not reflected as this is something that presumably users do all the time.

closing as support ticket. you might get better responses in the #kubernetes-users chann

[2022-10-04 08:49] #2763 closed

[2022-10-04 08:50] neolit123 commented on #2763
if you are _really_ sure there is a bug, please log an issue in k/k

[2022-10-04 09:26] jseparovic commented on #2763
Don’t know what to tell you but the pod command line doesn’t change. Why would I make that up?

[2022-10-04 09:39] neolit123 commented on #2763
it would be odd. as i mentioned earlier the kublet static pod logic recreates a pod on any manifest diff (i.e. file bytes changed). it does not watch only parts of the manifest like container command line.

but

[2022-10-04 10:05] jseparovic commented on #2763
I would go further than odd, and say it’s infuriating, lol. I’m just reporting what I saw. I wish it just worked so I don’t have to waste any more time on it. I’ll try it again on a second cluster and create a bug in k/k if it persists. Cheers

[2022-10-04 13:01] gotomypc commented on #182
correct, thanks!

[2022-10-04 19:52] jseparovic commented on #2763
@neolit123 Same issue on a second cluster:
[code]

[2022-10-05 08:48] neolit123 commented on #1793
@fabriziopandini @pacoxu
and others watching the ticket.

i've created a hack MD draft for the learner mode proposal:
https://hackmd.io/XZHxeO21T-GDgRhjtVwlGQ

comments are welcome.
we can notify kubespray and Cluster API for feedback too.

[2022-10-05 08:50] neolit123 commented on #1793
once we have some agreement, i can PR the KEP in a raw / draft stage and keep it provisional.
if we get a contributor who wants to work on this we can start tracking the feature for a kubeadm / k8s release milestone.

[2022-10-05 09:51] sbueringer commented on #1793
Thx! I've added it to the ClusterAPI office hours agenda for today.

I'll also try to take a look, but could take a bit, just not enough bandwith right now.

[2022-10-05 10:50] neolit123 commented on #1793
updated link https://hackmd.io/@DAKGcrh_RpC5vlt8w5bf8A/r1qoLh9zj

[2022-10-07 09:55] Davidnovarro opened #2764 "Bare metal --apiserver-advertise-address is not workong."
## Versions
**Environment**:
- **kubeadm version** v1.25.2:
- **Kubernetes version** v1.25.2:
- **Bare Metal server**:
- **OS**  Ubuntu 20.04.5 LTS:
- **Container runtime (CRI)** containerd:
- **Container networking plugin (CNI)** Calico:

## What happened?
I've initied kubeadm with --apiserver-advertise-address but the EXTERNAL-IP is  none

Init command issued
  kubeadm init --apiserver-advertise

[2022-10-07 10:03] neolit123 commented on #2764
please try asking on the support channels

/support

[2022-10-07 10:03] #2764 closed

[2022-10-07 11:00] neolit123 commented on #2671
the flip was done on oct 3rd

https://groups.google.com/a/kubernetes.io/d/msgid/dev/CAOZRXm_h9CNpnwWe%3Dv07VdtbU60biUzED-2V94FsNmYjfVGQLw%40mail.gmail.com?utm_medium=email&utm_source=footer

kubeadm ci has been green thus far, let's reopen this if we need to change something else.

[2022-10-07 11:14] neolit123 commented on #2200
i think we are done here. thanks to everyone who helped.

i don't see anything remaining in k/website or k/k but please LMK if you find anything. PRs around stage 4 in various repos are welcome too.

[2022-10-07 11:14] #2200 closed

[2022-10-07 11:27] sftim commented on #2200
@neolit123 We should document the old label (and taint) in https://kubernetes.io/docs/reference/labels-annotations-taints/, but mark it as deprecated.

[2022-10-07 11:29] sftim commented on #2200
In fact, I thought that https://github.com/kubernetes/website/pull/36173 put it back. Hmm.

[2022-10-07 11:30] neolit123 commented on #2200
could you please log an k/website ticket about with help wanted? seems simple enough to be completed by a new contributor.

[2022-10-07 11:32] neolit123 commented on #2200
i don't know when was your change removed

[2022-10-08 19:01] sujoshua commented on #2751
According to the doc:

It does work.

But it was set in the config and the pause image version depends on Kubernetes version, so it cannot be
permanently hardcoded.

That means every time I need to manually change the config in CR, it's not elegant. So do we have a better way to solve it?

[2022-10-09 07:00] pacoxu commented on #2751
@sujoshua

I am afraid there is no simple way.

For containerd in a future release(1.7+), containerd starts to use sandbox API instead of a pause container. See more at https://github.com/containerd/containerd/issues/4131#issuecomment-848780654.

(BTW, For the pause image gc, there is a pinned image feature in https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2040-kubelet-cri#pi

[2022-10-09 08:38] pacoxu commented on #1793
The KEP looks good. For the detail steps according to etcd docs.
1. add as a learner: `member add --learner`.
2. promote it once `canPromote==true`: call `member promote` API. There would be a new timeout here.

My only question is that:
- Can we use an etcd learner as a standby node? I mean we don't promote it and leave it to users. Users can promote it in case the master has some problems. Or ke

[2022-10-09 09:47] neolit123 commented on #1793
my vote would be to preserve the current behavior and not a have a flag - i.e. always try to promote.

that may be a concern, but the Talos project is using it too and maybe it just works fine.

we can ask etcd maintainers later.

[2022-10-09 14:52] mhbahmani commented on #2714
Same here. it isn't possible to pull coredns image with custom image repository.
In [this doc](https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images), there is a `imageTag` config that i couldn't find anywhere to set this.
It seems to be a kubeadm problem.

[2022-10-09 14:57] mhbahmani commented on #2714
more description on stackoverflow:
https://stackoverflow.com/questions/74005758/coredns-image-cannot-be-pulled-when-use-image-repository

[2022-10-09 16:25] neolit123 commented on #2714
this section explains how to handle it:

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images

and steps bellow.

[2022-10-10 02:23] RA489 commented on #2749
/assign

[2022-10-10 02:28] xiedeacc opened #2765 "kubeadm 1.25.2 doesn't work over proxy"
I setup a proxy for docker-deamon and bash env. proxy not work for kubeadm, but work for docker and bash, I can manual download  https://dl.k8s.io/release/stable-1.txt via wget, and can manually pull images, so how to fix this problem?

[code]

[code]
log
[code]

cri used containerd installed from

[code]

[2022-10-10 02:43] xiedeacc commented on #2765
fixed by https://github.com/kubernetes/kubeadm/issues/182#issuecomment-1137419094

[2022-10-10 02:43] #2765 closed

[2022-10-10 05:42] xiedeacc opened #2766 "kubeadm 1.25.2 nodes not found"

[2022-10-10 06:03] #2766 closed

[2022-10-10 06:04] xiedeacc opened #2767 "kube 1.25.2 init occur unable to create ConfigMap error"
kubeadm init --v=5
log
[code]

[2022-10-10 06:16] neolit123 commented on #2767
this has been reported before as a Linux host issue where HTTPs traffic is not allowed.

it's not a kubeadm bug per se.

try asking on support forums or search this issue tracker to find the old ticket.

/support

[2022-10-10 06:17] #2767 closed

[2022-10-10 06:54] xiedeacc commented on #2767
@neolit123 it's not the problem you mentioned, in fact traffic works well, more detailed log show
[code]

[2022-10-10 06:55] xiedeacc commented on #2767
so this issue should be reopen again @neolit123

[2022-10-10 07:04] xiedeacc opened #2768 "meet Internal Server Error when kubeadm init"
error occur randomly, somes at create  CoreDNS stage, some times addon/kube-proxy at phase,

[code]

[2022-10-10 07:05] neolit123 commented on #2767
it's not a kubeadm bug. it can also be a problem with a load balancer if you have one in front of the apiserver.

k8s constructs a normal go client for connections, so any go app would fail with on this networking setup, not only kubeadm or kubectl.

[2022-10-10 07:14] xiedeacc commented on #2767
I don't have a lb

[2022-10-10 07:15] xiedeacc commented on #2767
from log, you can see some request get response

[2022-10-10 07:15] neolit123 commented on #2768
please don't reopen new issues. as i mentioned its not a kubeadm bug. this is a problem with the host.

try asking on the support channels.

if you find the solution you can add it to
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/
with a PR.

thanks

/support

[2022-10-10 07:16] #2768 closed

[2022-10-10 07:20] xiedeacc commented on #2767
in fact I run init in a kvm vm, apiserver it's own ip address, so I really don't think it's network. fxxk U!!!!!!!!!

[2022-10-10 07:30] neolit123 commented on #2767
see https://github.com/kubernetes/kubeadm/issues/2701#issuecomment-1140464523

[2022-10-10 07:34] xiedeacc commented on #2767
ok I destroy this vm then recreate a new one

[2022-10-10 11:20] xiedeacc commented on #2767
kubeadm init success on a physic machine, but still failed on kvm instance, I guess maybe bridge config problem on host os, I ask this problem on https://serverfault.com/questions/1112707/kvm-instance-network-sometimes-fail-when-use-bridge-how-to-fix-this

[2022-10-10 18:02] din14970 commented on #2699
Maybe a very silly thing, but for anyone that may find this issue: I ran into this because `haproxy` and `keepalived` were not installed on the node.

[2022-10-11 06:54] neolit123 commented on #2653
Yeah, we can skip testing join in this PR but keep the related issue open.
Once k/k code freeze is lifted we should make the change in k/k and add the
join test. I don't think it's that complicated, but I haven't looked in
more detail.
On Apr 12, 2022 17:57, "SataQiu" ***@***.***> wrote:

[2022-10-11 08:08] neolit123 commented on #1759
Nope. The Docker support in kinder for base images is still there. Current
set of e2e jobs use a containerd base image without Docker. If cri-dockerd
becomes better maintained we might re add one Docker job that uses a base
image with Docker.

Docker on the host is still required.
On Mar 31, 2022 12:25, "Paco Xu" ***@***.***> wrote:

[2022-10-11 08:34] neolit123 commented on #2674
/support

[2022-10-11 09:18] neolit123 commented on #1621
While we established that the tainting is late and can cause problems we
have not seen reports from more users about it. Paco, are you seeing the
problem on your side with customers?

Before we proceed with PRs i think we need to get back to the discussion if
we want to do it. It also feels a bit odd to separete the taint and labels.
Perphaps we want them to continue to be done ny the kubeadm clie

[2022-10-12 15:11] neolit123 commented on #1793
KEP PR is here:
https://github.com/kubernetes/enhancements/pull/3615

[2022-10-13 09:11] pacoxu commented on #1621
IMO, it is a design problem of kubelet. One solution that I know is that kubelet should only add the node labels or taint only if it is the first time bootstrap and register to apiserver. After the bootstrap(node is already added to cluster), kubelet should not change its node label or taint itself and it should respect the apiserver/etcd storage. But this is another topic.

[2022-10-13 09:51] neolit123 commented on #1621
true, so unless the kubelet changes its design we can play around it by adding the taints once and then removing them from the kubelet flags or local config flags. i must admit i am not a big fan of this solution as it creates more difficulties for us.

we can continue doing it in kubeadm with a client. perhaps sooner, but as far as i understand there could still be a short period when the taints

[2022-10-14 08:10] chendave opened #2769 "Decouple kubeadm phases make make each phase idempotent"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Kubeadm now has broken down each command to sub-phases,  we should try to decouple of those phases with others and make sure each phases could be run as a independent steps.

The benefit is that,
- If a monolithic command, such as `kubeadm init...` failed at a specific phase, we can fix it and run this phase instead of `reset` and run t

[2022-10-14 08:20] neolit123 commented on #2769
i think we had a similar discussion about reset if i am not mistaken.

currently most phases are more of a sequence than independent actions. some are indempotent already. we could use the new Dependencies field of phases, to better chain them together too.

making everything indempotent might be doable yet we might face cases where we actually don't want a phase to be indempotent.

i am not neces

[2022-10-14 08:29] chendave commented on #2769
agreed, this won't be for every phases, we need some basic analysis and get some consensus if we reach to some points.

[2022-10-14 08:31] pacoxu commented on #2714
Here is a demo.
We use synced image repo in China for GFW.
- we sync images from `registry.k8s.io` to `k8s.m.daocloud.io`
- `registry.k8s.io/coredns/coredns` is synced to `k8s.m.daocloud.io/coredns/coredns`.

[code]

[2022-10-14 10:23] wangyysde commented on #2733
cc @wangyysde

[2022-10-16 23:54] lknite commented on #2699
@yaoxin1995 using '--skip-phases=addon/kube-proxy' does let the install complete, able to join control plane nodes and worker nodes ... but something's missing.  Does this 'kube-proxy' need to be installed after the fact?

[2022-10-17 06:33] bavarianbidi opened #2770 "kubeadm patch (type json - RFC 6902 conform) doesn't ensure path if not exists"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `1.25.3`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `1.25.3`
- **Cloud provider or hardware configuration**: `-`
- **OS** (e.g. from /etc/os-release): `ubuntu 22.04`
- **Kernel** (e.g. `uname -a`): `5.15.0-50-generic`
- **Container runtime (CRI)**

[2022-10-17 06:49] bavarianbidi commented on #2770
Before graduating `kubeadm patches` to GA it might make sense to verify this issue as the proposed change in https://github.com/kubernetes/kubernetes/pull/113092
might break existing kubeadm patches.

xref: https://github.com/kubernetes/kubeadm/issues/2046

[2022-10-17 07:14] bavarianbidi opened #2771 "json patch conflicts with auto discoverd proxy variables"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `1.25.3`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `1.25.3`
- **Cloud provider or hardware configuration**: `-`
- **OS** (e.g. from /etc/os-release): `ubuntu 22.04`
- **Kernel** (e.g. `uname -a`): `5.15.0-50-generic`
- **Container runtime (CRI)**

[2022-10-17 08:06] neolit123 commented on #2771
i guess a workaround would be for the user to also include the http proxy vars in the patch.
iirc , the proxy injection was needed because it tripped a number of users at the time. it felt like the right thing to do and we might want to keep it.

[2022-10-18 02:24] chendave commented on #2543
I think we can close this by https://github.com/kubernetes/kubernetes/pull/113005, but I don't have the permission to close this.

[2022-10-18 02:24] chendave commented on #2543
let me have a try

/close

[2022-10-18 02:24] #2543 closed

[2022-10-19 05:42] michaelschem opened #2772 "HA Kubernetes Install"
## What keywords did you search in kubeadm issues before filing this one?

kubeadm ha cluster install

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.6", GitCommit:"b39bf148cd654599a52e867485c02c4f9d28b312", GitTreeState:"clean", BuildDate:"2022-0

[2022-10-19 05:49] neolit123 commented on #2772
hi, you need to check the apiserver and kubelet logs to see if the components are comming up. the kubelet error that you shared is temporarily until the node object is created.

i suspect this might be a problem.

but we don't provide support on github. please use the support channels as the bot below will explain. thanks

/support

[2022-10-19 05:50] #2772 closed

[2022-10-19 06:05] michaelschem commented on #2772
Ok, I'll reach out the support. I did override the port on purpose to facilitate the HA cluster I'm creating.  I'm using HA proxy to proxy 8443 to 6443 on the current master node.

[2022-10-20 22:06] gaetanquentin commented on #2699
for me the tip to install kube-proxy later do not work on ubuntu 22.04.

install logs:
[code]

some logs from journalctl:
journalctl | grep -e 'kubelet' -e 'containerd' | egrep -e '[[:space:]]+E[[:digit:]]+' -e 'failed' > ERRORS.log

[code]

[2022-10-21 08:12] SataQiu commented on #2771
Hi @bavarianbidi
You can try this json patch `kube-apiserver+json.yaml`:
[code]
[code]
Be careful with path `/spec/containers/0/env/-`, and the value of add operation should be an element Not an array.

[2022-10-23 22:14] gaetanquentin opened #2773 "kubeadm init: Everything crash after several CrashLoopBackOff,"
## What keywords did you search in kubeadm issues before filing this one?

CrashLoopBackOff right after kubeadm init
rpc error: code = Unknown desc = malformed header: missing HTTP content-type

## Is this a BUG REPORT or FEATURE REQUEST?

Bug report

## Versions

- kubeadm version:

kubeadm version: &version.Info{Major:"1", Minor:"25", GitVersion:"v1.25.3", GitCommit:"434bfd82814af038ad94d62ebe59

[2022-10-24 02:09] pacoxu commented on #2773
As the apiserver or etcd was started or crashed, apiserver and etcd log would help to investigate into the problem.

[2022-10-24 05:44] gaetanquentin commented on #2773
here are some more logs.

[etcd-kube1.log](https://github.com/kubernetes/kubeadm/files/9849032/etcd-kube1.log)
[kube-apiserver-kube1.log](https://github.com/kubernetes/kubeadm/files/9849033/kube-apiserver-kube1.log)

regards.

[2022-10-24 05:56] pacoxu commented on #2773
[code]

Why etcd crashed? For slow IO? or for oom? I cannot find any clues here.

[2022-10-24 06:03] neolit123 commented on #2773
the missing header is a strange error but its not a kubeadm bug. please see
https://github.com/kubernetes/kubeadm/issues/2701#issuecomment-1140464523

there could be many reasons and different failures here, but please use the support channels instead.

/support

[2022-10-24 06:03] #2773 closed

[2022-10-25 18:42] neolit123 commented on #2671
after discussion with @BenTheElder we should actually backport this to >=1.23 releases.
this is a matter of allowing the k8s project to not run out of funds ($$$).

note: this is an exception as we only backport bugfixes, but in this case it has to be done.

looks like we need to backport these PRs:
https://github.com/kubernetes/kubernetes/pull/109938
https://github.com/kubernetes/kubernetes/pull/

[2022-10-25 18:45] neolit123 commented on #2671
cc @fabriziopandini @sbueringer in case this affects CAPI.

[2022-10-26 05:19] nanmegnealain opened #2774 "sudo kubeadm join 10.0.2.15:6443 --token zqss0q.y7hsu227c5ymeb19 \ > --discovery-token-ca-cert-hash sha256:27907eaae5d0fd5c8509f9b505e92b87da211631fd5352918c3ba5c9c3855bf9 [preflight] Running pre-flight checks error execution phase preflight: couldn't validate the identity of the API Server: Get "https://10.0.2.15:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": dial tcp 10.0.2.15:6443: connect: connection refused To see the stack trace of this error execute with --v=5 or higher"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2022-10-26 05:21] nanmegnealain opened #2775 "identity of the API Server"
[preflight] Running pre-flight checks
error execution phase preflight: couldn't validate the identity of the API Server: Get "https://10.0.2.15:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s": dial tcp 10.0.2.15:6443: connect: connection refused
To see the stack trace of this error execute with --v=5 or higher

[2022-10-26 07:09] neolit123 commented on #2775
please use the support channels
/support

[2022-10-26 07:09] #2775 closed

[2022-10-26 07:18] neolit123 commented on #2774
responded here
https://github.com/kubernetes/kubeadm/issues/2775

[2022-10-26 07:18] #2774 closed

[2022-10-26 20:56] afbjorklund commented on #2671
Need to do some retagging effort in minikube, or it would break the old preloads and caches (that only have the old registry)

Alternatively re-generate all the preloads, but that could already be "too late" if they are being cache and have been downloaded

[2022-10-26 21:39] BenTheElder commented on #2671
Only if using the new patch release for which the images don't exist yet. Also for older releases we still currently plan to publish the tags to k8s.gcr.io it just won't be the default. Upgraded should always be taken carefully.

[2022-10-27 05:57] afbjorklund commented on #2671
Yeah, on second thought this would just affect new (minor) releases of kubeadm

So all that is needed is to mirror the version selection logic, like today

[2022-10-27 11:16] neolit123 commented on #2671
cherrypicks for 1.22, 1.23, 1.24:
https://github.com/kubernetes/kubernetes/pull/113388
https://github.com/kubernetes/kubernetes/pull/113393
https://github.com/kubernetes/kubernetes/pull/113395

[2022-10-28 09:10] RA489 commented on #2749
I guess today is the end of life for 1.22

[2022-10-30 21:00] Rahmath-Syed opened #2777 "kubeadm init"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2022-10-31 07:26] #2777 closed

[2022-10-31 07:27] neolit123 commented on #2777
/support

[2022-10-31 09:23] neolit123 commented on #1582
the feature gate was removed for 1.26. this is complete.

[2022-10-31 09:23] #1582 closed

[2022-11-02 08:58] liurd commented on #1520
if firewalld enabled, it will also bring the issue.

[2022-11-03 09:59] pacoxu commented on #2473
https://github.com/kubernetes/kubernetes/pull/113548(merged) may fix it. (a revert of https://github.com/kubernetes/kubernetes/pull/113408 that was merged hours before that. )

[2022-11-03 10:04] neolit123 commented on #2473
it looks like the job has been green for a while, so maybe something else fixed it. the failures were in late august. i completely forgot about this..

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-rootless-latest

[2022-11-03 10:07] pacoxu commented on #2473
I opened the test grid(You post months ago) and find it failed yesterday(😓).

Yesterday's failure is caused by that.  Not failures in August.😄

[2022-11-03 10:26] pacoxu commented on #1621
To summarize,

1. **Workaround**: use `--patches` when join new control plane. See https://github.com/kubernetes/kubeadm/issues/1621#issuecomment-1098649397.
2. **Problems that should be solved before we implement it.**
- - restart will add the taint back(Is this expected?). See https://github.com/kubernetes/kubeadm/issues/1621#issuecomment-1274423663.
- - control-plane will use a different kubele

[2022-11-04 13:50] neolit123 commented on #1759
looks like we don't have to do anything here.
newer kinder just works with the latest kind base images, after a small change in:
https://github.com/kubernetes/kubeadm/pull/2778

[2022-11-04 13:50] #1759 closed

[2022-11-06 06:34] pacoxu commented on #1924
https://github.com/kubernetes/kubernetes/pull/112136 was opened for the kubelet configuration migration and needs approval for a period.

[2022-11-06 12:16] emvidi commented on #1124
untested code from https://developers.redhat.com/blog/2016/09/20/managing-temporary-files-with-systemd-tmpfiles-on-rhel7

[code]

[2022-11-08 05:32] pacoxu opened #2779 "the kubeadm had this path since the early days of containerd. perhaps it changed at some point."
the kubeadm had this path since the early days of containerd. perhaps it changed at some point.

_Originally posted by @neolit123 in https://github.com/kubernetes/kubernetes/pull/112136#discussion_r1015552261_

[2022-11-08 05:37] neolit123 commented on #2779
i don't think we should change it though

[2022-11-08 05:39] #2779 closed

[2022-11-08 05:53] pacoxu commented on #2779
This is a Linux behavior.
https://unix.stackexchange.com/a/175349/373902

And kubeadm is not running at very early boot, this should not be an issue.
For containerd and kubelet, we's better use `/run`.

[2022-11-08 08:23] neolit123 commented on #2779
i think that's because containerd writes both socket paths for some reason on linux. if we want to change the kubeadm default we need to figure out how to migrate users - i.e. figure out if this is a breaking change to user setups.

[2022-11-09 10:42] timgriffiths commented on #2227
For future people with this same issue, I believe this is causing people issues as the read idle timeout of kubectl by default is 30 seconds  https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L145 so because we have haproxy setup to timeout after 20seconds it never gives the client a chance to send the keepalive ping to stop haproxy killing t

[2022-11-11 07:27] pacoxu opened #2780 "kubeadm add flag to enable parallel image pulling by default"
+0 to have tools such as `kubeadm` manage the value of that flag

_Originally posted in https://github.com/kubernetes/kubernetes/issues/108405#issuecomment-1056029579_

This is a custom flag of kubelet and in rancher, they already switch to enable it by default.

Several ways we can promote parallel image pulling
1. we may enable it by default without a flag
2. we may use a flag to enable it, and

[2022-11-11 07:38] neolit123 commented on #2780
do you think this is the default all users want?
i think its ok to add a flag that is true by default and also add a noderegistrationoptions field for api version "next"

@SataQiu wdyt?

[2022-11-12 03:03] SataQiu commented on #2780
I'm +1 for adding a `NodeRegistrationOptions` field to control this feature.
Given that currently users can achieve it by setup `KubeletExtraArgs`, I'm not sure if we need to add a flag for `kubeadm` now.

[2022-11-13 15:53] YTGhost opened #2781 "Synced Server and CertificateAuthorityData from the cluster-info ConfigMap may not work"
## What keywords did you search in kubeadm issues before filing this one?
discovery

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):v1.23.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):v1.23.0
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):

[2022-11-14 02:44] YTGhost commented on #2781
/kind bug

[2022-11-14 08:43] neolit123 commented on #2781
hi, i am trying to understand what the issue is. so, you are saying that fields such as `currentCluster.Server` will not receive the user server from kubeconfig because we assign by value. if i an understanding golang semantics correctly here, it should work either way.

can you illustrate with an example + output?

in any case, if the override of user values over the clusterinfo values is not wor

[2022-11-14 09:32] YTGhost commented on #2781
@neolit123 Okay, I'll try to describe it in more detail.

In my use case, I want to customize the `currentCluster.Server` with `kubeadm join --config=kubeadm-join.conf`, the example of `kubeadm-join.conf` I have put in the issue.

In the ValidateConfigInfo function, I found it will sync Server and CertificateAuthorityData from the `cluster-info` ConfigMap, but it will not change the `config` becau

[2022-11-14 10:00] neolit123 commented on #2781
thanks for the details. it seems like a bug that we might also want to backport to releases in the support window >= 1.22

[2022-11-14 12:01] rambohe-ch commented on #2781
@neolit123  The kube-apiserver address that end user has specified in `JoinConfiguration.Discovery.File.KubeConfigPath` is overwritten by server info in `Cluster-Info` configmap. so how should end user configures if they want to specify the kube-apiserver address?

[2022-11-14 12:41] zyfyy commented on #203
`systemctl cat kubelet.service`

and add --node-ip=<your_ip> into any possible EnvironmentFiles

like

`ExecStart=/usr/bin/kubelet $KUBELET_KUBECONFIG_ARGS $KUBELET_CONFIG_ARGS $KUBELET_KUBEADM_ARGS $KUBELET_ARGS`

[2022-11-14 12:41] neolit123 commented on #2781
it seems like a bug, to not override the clusterinfo details.
but we also have to acknowledge that clusterinfo is the source of truth as it holds the active cluster details and the user details might be inaccurate.

[2022-11-14 14:45] neolit123 commented on #2781
i think the bug should be fixed.
cc @SataQiu wdyt?

[2022-11-15 04:04] SataQiu commented on #2781
I'll take a deep look. But anyway, the user's input should be respected and it should be able to override the default configuration.

/assign

[2022-11-16 05:45] Namjoofar commented on #1642
please test following replacing in /etc/systemd/system/etcd.service(if you have data already in your etcd):
   --initial-cluster-state=new \
by :
   --initial-cluster-state=existing \

[2022-11-16 05:50] yonyossef commented on #2370
What do you mean by that? I'm facing the same issue and can't resolve

[2022-11-17 14:44] TauqeerAhmad104 commented on #1616
I am facing exactly the same issue. Any solution you found?

[2022-11-17 17:02] wssrronak commented on #1939
Did anyone is able resolve the issue core-dns pod stuck in pending status

[2022-11-18 19:33] zaki-salaheddine opened #2782 "Kubeadm init error: addon/coredns unable to create serviceaccount"
Hello all,

I’m stuck with an issue that I’m not able to understand and to get the origin,
After being installing all required tools and trying many times the creation of a cluster using kubeadm, an error is raised -at the end of initialization- indicating that’s impossible to create “serviceaccount” for corednd addon, could you help please ?

k8s-master VM network caracteristics:
Bridge Adapter i

[2022-11-18 19:51] neolit123 commented on #2782
hi, please see
https://github.com/kubernetes/kubeadm/issues/2701#issuecomment-1140464523

there are other reported issues with "missing HTTP content-type" but that is not a kubeadm bug.

/support

[2022-11-18 19:52] #2782 closed

[2022-11-25 08:55] chendave opened #2785 "component config is overwritten after upgrading by kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

Let's have a discussion here first,

Suppose I have a config file with cluster config or init config, and upgrade the cluster by the following command,

[code]

the config file is valid, and contains either cluster config, init config or both of them, the cluster could be upgrade successfully at the end, but one thing I noticed was that if the it's not

[2022-11-25 09:04] chendave commented on #2785
We need to remove the warning when we have a upgrade API ready, and pass a config file for upgrade.

[2022-11-25 09:26] chendave opened #2786 "[discussion] The precedence of flag and config"
## Is this a BUG REPORT or FEATURE REQUEST?

File this issue for tracking purpose and also hoping to generate some comments on this.

Currently, kubeadm has a different view for the case when both the flag and config has been set for a specific option,  it suggests that flag should always take precedence over the config, here is one example,

[code]

But this seems is not align with other major se

[2022-11-25 09:39] neolit123 commented on #2786
afaik, the common way of doing flags vs config even outside of k8s is for flags to override config or to not allow mixtures. kubeadm and kubelet are doing similar. Kubeproxy and scheduler had a number of issues around doing the opposite. for example - no simple way of feeding instance specific options.

unfortunately the working group called "component standard" disbanded before we standardized ac

[2022-11-25 09:43] neolit123 commented on #2785
--config in its current state, allowing init/cluster config during apply is legacy and unsupported. see the warning it throws. it can result in undefined behavior, yet we kept it because there were some consumers.

supporting --config with an UpgradeConfiguration is what we can do in the future.

i don't see a bug, given we claim unsupported in k8s focs and cli warning.

[2022-11-25 09:45] neolit123 commented on #2785
yes, but we don't need to track it in this issue. it will be part of the upgradeconfiguration work.

[2022-11-25 09:57] chendave commented on #2785
Do you mean also provide the config for those two component in the config file as well? or else I cannot see how to edit the configmap.

Of cause, user can backup the configmap and restore it manually after upgrade is done.

[2022-11-25 10:04] chendave commented on #2786
Really glad to know the context around this! thanks for the feedback. @neolit123  👍

/close

[2022-11-25 10:04] #2786 closed

[2022-11-25 10:16] pacoxu commented on #2785
I mean `kubectl edit cm xx`.

If a user wants to use a new config to upgrade, why not save it to configmap?
- You want to use a new configuration to override the current configuration(saved in configmap). However, you want to restore it after the upgrade. Why?
- - after upgrade, if you restore the configmap, the configmap will be inconsistent with the cluster configuration.(This will make users co

[2022-11-26 18:36] EthanSherr commented on #2699
@gaetanquentin were you able to resolve your issue?  I'm running into the same thing.

[2022-11-26 21:57] gaetanquentin commented on #2699
No. I had to switch to canonical microk8s.

[2022-11-28 02:52] chendave commented on #2785
@pacoxu the point of this issue is that the configmap will be overwritten after the upgrade for the specific case I described, so whether you edit configmap or not *before* upgrade will doesn't take any difference.

the reason why we need to restore the configmap is it's not the configmap that was used before upgrade, any customized config on the configmap before the upgrade will be lost after upg

[2022-11-28 02:52] #2785 closed

[2022-11-28 03:23] pacoxu commented on #2785
To summarize, I think there are two practices now.

Suggested One:
1. edit configmap to what you like
2. upgrade without `--config`

Another way that can work smoothly(maybe no best practice):
1. get configmap from cluster to a `cluster.yaml` file
2. edit `cluster.yaml` to what you like
3. upgrade with `--config cluster.yaml` and this `cluster.yaml` will override the configmap
- - you will get a w

[2022-11-28 13:33] TauqeerAhmad104 commented on #1616
In your error it says  /etc/kubernetes/manifests/kube-apiserver.yaml is already exist. delete these files by sudo rm -r  /etc/kubernetes/manifests/kube-apiserver.yaml

[2022-11-28 22:21] peterhchen commented on #1642
I add the following to clean up the port:
kill -9 $(lsof -t -i:10259)
kill -9 $(lsof -t -i:10257)
kill -9 $(lsof -t -i:10250)
kill -9 $(lsof -t -i:2379)
kill -9 $(lsof -t -i:2380)

[2022-11-28 22:21] peterhchen commented on #1642
Thanks for your answers. Thanks a lot. I only add the port clean up.

[2022-11-29 03:28] QuantumEnergyE opened #2787 "Kubeadm `PatchNodeOnce` do not retry when api server is unavailable"
### What happened?

Kubeadm `PatchNodeOnce` do not retry when api server is unavailable

### What did you expect to happen?

Retry patch when then service is unavailable or timeout.

### How can we reproduce it (as minimally and precisely as possible)?

Stop the api server before the patchNode operation is triggered when initializing the cluster.

### Anything else we need to know?

_No response_

[2022-11-29 05:26] pacoxu commented on #1616
Please make sure the reset succeeds.

`kubeadm reset --cri-socket unix:///var/run/containerd/containerd.sock`
or
`kubeadm reset --cri-socket unix:///var/run/cri-dockerd.sock`
as the log shows.

[2022-11-29 17:02] rocna commented on #2686
Hi, is it really related to the kernel?  I also had this problem with Rocky 9.

[code]