[2017-06-29 17:43] kachkaev commented on #39
@UmarSaeed11 this problem has been mentioned in a few discussion threads, the info is quite chaotic. I also struggled with it about a month ago and was able to get through by configuring dnsmasq. See https://github.com/kubernetes/kubeadm/issues/228#issuecomment-307158412 and the following comments – hope it helps.

This might be the cause: https://github.com/kubernetes/kubeadm/issues/302

[2017-06-30 12:33] jamiehannaford commented on #17
@ivan4th @luxas What's the status of this?

[2017-06-30 12:38] luxas commented on #17
I don't know really... @ivan4th

[2017-06-30 12:39] jamiehannaford commented on #23
@jbeda @luxas So is this just a doc update, as defined [here](https://github.com/kubernetes/kubeadm/issues/23#issuecomment-262316960)? If so, I can take this on. Integrating an auth solution into k8s seems a bit orthogonal here, but we should probably mention how folks get started down that path.

[2017-06-30 12:43] jamiehannaford commented on #34
Seems like the work items here are:

1. Implement new command into kubeadm, `list-images`, which tells users what to pre-pull
2. Document
3. Change image pull policy on all containers to `IfNotPresent`

Is that a fair assessment @bulletRush ?

[2017-06-30 12:44] ivan4th commented on #17
@jamiehannaford

- as of now, I got delayed with Go rewrite because I also need to work on other projects
- k-d-c has support for different CNI impls (Weave, Calico, Flannel and plain CNI bridge which is default)
- supporting multiple architectures is not here yet but quite doable
- the binaries that are used in the images are by default taken from k8s release but you can build your own or, with s

[2017-06-30 12:47] luxas commented on #34
Have been the case since v1.5 at least, probably earlier as well

There is docs on what master images can be used per branch already

We decided to document on the site instead of building it into kubeadm

@jamiehannaford Fair enough?

[2017-06-30 12:51] jamiehannaford commented on #113
@criloz I'm not exactly sure what kubeadm can do here, because it seems that your networking requirements are very specific. What do you expect kubeadm to do differently?

[2017-06-30 12:54] jamiehannaford commented on #168
Bootkube are considering [removing this](https://github.com/kubernetes-incubator/bootkube/pull/616) because the self-hosted apiserver will eventually come up after the pivot, even without a flock

[2017-06-30 12:56] jamiehannaford commented on #34
@luxas Sounds good, didn't realise all this was already there 😄  If that's the case, does this issue need to stay open?

[2017-06-30 13:47] luxas commented on #168
@jamiehannaford Thanks for pointing that out; would be awesome if we waited that thing out.
I had a lot of issues with trying to implement it; different flock binaries for different base images for the control plane for example... adding the right mounts and making sure things race well is quite hard.

Anyway, I can also confirm that selfhosting seems to work well without the flock...

[2017-06-30 13:47] luxas commented on #168
cc @aaronlevy Can we close this?

[2017-06-30 13:48] luxas commented on #34
I think so, yes

[2017-06-30 13:48] #34 closed

[2017-06-30 13:50] ilackarms commented on #34
is there no kube command to pre-pull images? must it be done manually (ssh to node and `docker pull`)?

[2017-06-30 13:53] luxas commented on #34
@ilackarms Perfectly right. kubeadm doesn't care about which CRI runtime to use.
It can be docker, containerd, frakti, cri-o, rkt or whatever. There's no way for kubeadm to know which one you're using.

[2017-06-30 14:07] luxas commented on #34
@ilackarms That is a sig-node feature in that case; to expose a "Pull API" in the Kubelet API.
Feel free to open such an issue in the main repo and work on a proposal for that feature.

However, such a thing doesn't exist right now, so there is no client like kubeadm or kubectl that can consume it.

[2017-06-30 14:10] UmarSaeed11 commented on #39
Thanks for your response Alexander!

I followed the steps but still it is stuck on " [apiclient] Created API
client, waiting for the control plane to become ready ".

I am using virtualbox and created 3 Centos 7 virtual machines. I am able to
ping each machine from every other virtual machine. Is this the right way
to test kubernetes?

Moreover, I have also disabled iptables and firewalld.

Regard

[2017-06-30 14:11] luxas commented on #39
@UmarSaeed11 If you want to get help; open a new issue with some actual details so that we can help debugging.

[2017-06-30 14:17] luxas commented on #23
@jamiehannaford That's partially documented (we have docs on how to proxy), but feel free to go and improve things...

[2017-06-30 14:34] ilackarms commented on #34
understood @luxas. probably we would want to bubble up that api from the kubelet through the apiserver so a kube client can request that an image be pre-pulled (e.g. to eliminate cold start times)

[2017-06-30 14:58] jbeda commented on #50
Yeah -- feel free to close this and point it at the feature comment.  If/when this results in a proposal we'll open new issues around that.

[2017-06-30 15:00] jbeda commented on #183
For any kubernetes configuration it is assumed that there is some level of communication allowed between nodes for the control plane to communicate.  I don't think we document exactly what ports are needed, exactly.  The networking solution you use may have other requirements also.  Generally people run with full connectivity between all nodes in the cluster on a private subnet.

[2017-06-30 15:04] #50 closed

[2017-06-30 15:10] luxas commented on #183
@jbeda Do you see any action items from this issue?

[2017-06-30 15:35] kfox1111 commented on #34
+1 for a pre-pull api.

In the mean time, I've usually hacked around the lack by using a daemonset with the containers to be kept hot with the container command overridden to be:

command: [/bin/sh,-c,'while true; do sleep 1000; done']

[2017-06-30 15:39] gtirloni commented on #325
Can you share you /etc/kubernetes/kubeadm.conf file?

[2017-06-30 15:45] luxas commented on #325
This is working as expected and documented. `--config` has precedence over any flag.
I think we made v1.7 error out or warn if you combine them...

[2017-06-30 15:45] #325 closed

[2017-06-30 15:47] gtirloni commented on #325
@luxas I was able to reproduce this behavior with the following kubeadm.conf file:

[code]
The token passed to `kubeadm init --token` was ignored and a new one generated, even though the config file is not specifying a token.

[2017-06-30 15:48] zilman commented on #325
@gtirloni sure, it is the basic one.

[code]

@luxas you're not wrong in that appending `token: $TOKEN` to the config file works as expected.
However, when there is no token in the config file the --token flag _should_ be respected. I do believe there is a (non critical) bug here.

[2017-06-30 15:52] luxas commented on #325
That's a design decision.
What happens?
1. There is an empty, defaulted, versioned struct object (`cfg`).
2. Flags are applied upon that object `cfg`, and defaulted once again.
3. `cfg` is converted to the internal version of the struct => `internalcfg`
4. If config is specified, there is a decoder that marshals the yaml/json file into `internalcfg`
5. Use `internalcfg` for all operations

[2017-06-30 16:04] zilman commented on #325
@luxas I think if I'm getting it correctly is that the config file takes precedence. I agree with that as a design decision.

What I'm saying is that up until this latest version if you specified something like the token via a flag that _did not exist in the config file_, it would get picked up. That is both intuitive and documented. An example like that is given in the docs and was working last w

[2017-06-30 16:10] luxas commented on #325
@zilman Interesting. Which `kubeadm version`?

[2017-06-30 16:19] luxas opened #326 "Move all environment variables into the API"
We should have this mix of "you can set this env param to modify behavior" (which is unversioned from the API machinery PoV) and the real API group with corresponding types using the correct API machinery.

Everything in [this file](https://github.com/kubernetes/kubernetes/blob/v1.7.0/cmd/kubeadm/app/apis/kubeadm/env.go) should be moved into the API types file.

[2017-06-30 16:22] luxas opened #327 "Remove old v1.6 feature flags and require v1.7 as minimum version"
There are a couple of version-gated flags etc. in kubeadm v1.7 so that it can deploy a v1.7 control plane.
This is fine.

For v1.8 though, we don't have to keep support for a v1.6 control plane, so we should remove these checks in order to simplify the code.
At the same time; require a v1.7.0 control plane as the minimum.

[2017-06-30 18:00] aaronlevy commented on #168
We're likely going to remove the flock (but hasn't merged quite yet). Can close, or if you want to wait till it's merged, fine too.

flock was mostly an optimization during bootstrap: the pivot could take as long as the exponential backoff retry period to retry starting the apiserver -- which was annoying in some cases (and shows a high restart count at the end of bootstrap). But as long as kubele

[2017-06-30 18:36] luxas commented on #168
Ok, then I'm closing... Thanks!

[2017-06-30 18:36] #168 closed

[2017-06-30 21:30] criloz commented on #113
@jamiehannaford not much really, I created this issue when I started with kubernetes and did that using kubeadm, without really understand how kubernetes work internally,  I was relly frustrated by that time, till I learn kubernetes in deeper and decide to hack the kubeadm installation to my necessities

something that probably can help?

- allow the user to easily select if want to use or not a c

[2017-06-30 21:30] #113 closed

[2017-06-30 23:45] SamMorrowDrums commented on #183
One thing that should probably be documented (albeit obvious to many) is that it's ok to expose the secure kubernetes api to the public Internet.

Also there were problems with kubeadm adaptor selection at the time of writing this report. If the workflow for that has been improved, I'd be very pleased.

Still a few rookie issues that can bite novice users trying bare metal for the first time. I ju

[2017-07-01 03:36] #327 closed

[2017-07-01 06:54] fabriziopandini commented on #326
+1

[2017-07-01 08:22] luxas commented on #183
Totally reasonable

I'd happily take PRs for improving the docs! Indeed gaps there are hard to notice for the people that have written it... I appreciate the perspective!

If you think the gaps are severe enough, open a new, more focused issue for that with action items.

Thanks!

[2017-07-01 11:31] cookeem opened #328 "Make kubeadm deploy HA kubernetes cluster"
/kind feature

kubeadm now is not support HA, so we can not use kubeadm to setup a production kubernetes cluster. But create a HA cluster from scratch is too complicated, and when I google keyword "kubeadm HA", only few article or mind draft related tell me how to.

So I try lots of ways to reform "kubeadm init", finally I make kubeadm cluster support HA, and I hope this way will help "kubeadm ini

[2017-07-01 11:45] #183 closed

[2017-07-01 14:29] noorulhaq opened #329 "Specifying authorizationModes in config file has no impact"
Hi,

I am trying to use authorization mode 'AlwaysAllow' by specifying in a config file shown below, but it has no impact.

**config file**
[code]

**kubeadmin log**
[code]

**kubeadm version**
[code]

**OS**
[code]

[2017-07-01 16:52] zilman opened #330 "kubeadm on AWS cloud provider deadlocks because of insufficent permissions"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

kubeadm version: `&version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.0", GitCommit:"d3ada0119e776222f11ec7945e6d860061339aad", GitTreeState:"clean", BuildDate:"2017-06-29T22:55:19Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version:

[2017-07-02 14:30] praseodym opened #331 "kubeadm 1.6->1.7 upgrade documentation: add --pod-network-cidr flag"
## Versions

**kubeadm version** (use `kubeadm version`): 1.7.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.7.0
- **Cloud provider or hardware configuration**: VMware
- **OS** (e.g. from /etc/os-release): Debian Stretch
- **Kernel** (e.g. `uname -a`): Linux 4.9.0-3-amd64

## What happened?
I upgraded my cluster from 1.6.5 to 1.7.0 using the [kubeadm upgrade instructions](

[2017-07-02 14:43] luxas commented on #331
Indeed a docs issue. We'll fix that ASAP. Any flags you passed into v1.6 must be passed again when upgrading to v1.7.

[2017-07-03 06:05] Mazza-Chen opened #332 "[ARM]etcd POD abnormally terminated after a few minutes executing 'kubeadm init'"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
        1.7.0
**Environment**:
- **Kubernetes version** (use `kubectl version`):
I've tried these two version:
          v1.6.3
          v1.7.0
- **Cloud provider or hardware configuration**:
Hardware: Raspberry Pi 3 Model B (Element14), 1GB RAM
- **OS** (e.g. from /etc/os-release):
p

[2017-07-03 13:52] farcaller opened #333 "Kubeadm upgrade quietly disregards the previous customizations"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.0", GitCommit:"d3ada0119e776222f11ec7945e6d860061339aad", GitTreeState:"clean", BuildDate:"2017-06-29T22:55:19Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes versio

[2017-07-03 16:53] danehans opened #334 "Improper Master Endpoint Formation When Using IPv6"
kubeadm uses ip:port to create a master endpoint url. This works fine when using an ipv4 address but not for ipv6. According to [rfc 3386](https://www.ietf.org/rfc/rfc3986.txt), an ipv6 address should be encased in brackets when being joined by a port using a colon.

/area kubeadm
/area ipv6

[2017-07-03 19:14] lucasyvas commented on #300
CoreOS is the most appealing option to me for Kubernetes due to it's simplified security/update model. Previously a viable option may have been the setup scripts provided by CoreOS, but it doesn't look like they have any desire to maintain this outside of Tectonic. kubeadm seems like a good, de facto home for this alongside the other distros.

Is there a way to make this work unofficially right no

[2017-07-03 20:57] erhudy opened #335 "JWS token not being created in cluster-info ConfigMap"
## Versions

**kubeadm version** (use `kubeadm version`): 1.7.0, commit d3ada0119e776222f11ec7945e6d860061339aad

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.7.0, commit d3ada0119e776222f11ec7945e6d860061339aad
- **Cloud provider or hardware configuration**: Vagrant environment being configured by https://github.com/erhudy/kubeadm-vagrant
- **OS** (e.g. from /etc/os-releas

[2017-07-03 21:29] alexpekurovsky commented on #335
I have the same issue, also had to rollback to 1.6.6.
However kubeadm 1.6.6 with kubelet 1.7.0 and kubernetes 1.7.0 works as expected also, so problem in kubeadm.
I'm using CentOS 7.2 instances on AWS

[2017-07-03 21:54] shekharupland commented on #335
Facing the same problem as above. Minions are not able to join the cluster and keep on failing with
Failed to connect to API Server "host:6443": there is no JWS signed token in the cluster-info ConfigMap. This token id "4e9c3a" is invalid for this cluster, can't connect

[2017-07-03 22:17] scholzj commented on #330
I have the same problem. Also with CentOS 7 / AWS. Also in my case 1.6.6 works fine.

In my case `kubelet` seems to be not allowed to register it self with the credentials created by `kubeadm` (`/etc/kubernetes/kubelet.conf`):
[code]

However, even when I reconfigure `kubelet` to be able register (for example by using `/etc/kubernetes/admin.conf` credentials for `kubelet`) or even get it to the `R

[2017-07-04 17:05] erhudy commented on #335
Tested on a different Mac with the same Vagrant setup - this one bootstrapped successfully. Not sure what differences there could be, aside from the computer where it's functional being older and slower (which always leads to suspicions of some sort of race condition).

[2017-07-04 17:07] luxas commented on #335
What does the logs of the controller-manager say in the faulty deployment?
The problem seems to be in the controller-manager, since the cluster-info ConfigMap isn't updated

I'm having trouble reproducing this...

[2017-07-04 17:17] erhudy commented on #335
Just ran the bootstrap on the computer where it was failing - failed again. Here is the controller-manager log from the failing deployment: https://gist.github.com/erhudy/65029423cfbe35983c32ff69d2eec0c8

[2017-07-04 17:28] erhudy commented on #335
By way of comparison, here are the controller-manager logs from a successful deployment, immediately after kubeadm joins the first worker to the master: https://gist.github.com/erhudy/102af7fe0394edcfae49c75c9192e187

[2017-07-04 17:37] luxas commented on #335
No question about it:
[code]

What does `kubectl -n kube-public get role system:controller:bootstrap-signer -oyaml` output?

[2017-07-04 17:51] erhudy commented on #335
[code]

Strangely enough, while rebuilding the environment again on the computer where it's been consistently failing, it actually joined a worker successfully to the master, so I had to destroy the environment and rebuild it again to get a failure. There definitely seems to be something timing-related going on.

[2017-07-04 18:36] luxas commented on #335
cc @kubernetes/sig-auth-bugs

Seems like it takes a lot of time sometimes to create auto-bootstrapped RBAC rules...

@erhudy The API server is responsible for creating RBAC rules specified here: https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/auth/authorizer/rbac

It seems like the API server somehow doesn't do that for you (at least not fast enough); which results in a broken stat

[2017-07-04 18:39] luxas commented on #332
I'd guess the SD card is too slow for etcd or something like that

[2017-07-04 19:06] liggitt commented on #335
If the signer only attempts once, it should wait until the server is healthy (via /healthz) before attempting. If it is done via a controller loop, it should requeue on failure

[2017-07-04 19:28] luxas commented on #335
@liggitt I think the signer tries again and again and again (see the log), but the RBAC Role for it isn't just created as @erhudy confirmed with the kubectl command.

[2017-07-04 19:33] liggitt commented on #335
apiserver log would be helpful in that case, as well as the /healthz status

[2017-07-04 19:40] luxas commented on #335
@erhudy ^

[2017-07-04 19:41] luxas commented on #333
You must pass the same arguments to init the second time as you did the first time. I'll make that clearer in the documentation.

[2017-07-04 20:02] luxas commented on #330
No, it's absolutely not that issue.

We absolutely test things a lot. We have automated CI e2e tests that are green: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.7
However, as with everything, it's hard to test in exactly _your_ environment

I think the cloud provider is automatically detected on the kubelet, ref the `--cloud-provider` flag description on the kubelet.
So it

[2017-07-04 22:31] Dirbaio commented on #335
I'm also hitting this: kubeadm/k8s 1.7.0 on GCE/Ubuntu.

I could workaround it by applying the missing role AND rolebinding to the kube-public namespace.

[code]

[2017-07-04 22:40] erhudy commented on #335
API server log: https://gist.github.com/erhudy/fe9e30b588025dc4596fc7c06861c01f

[2017-07-04 22:40] erhudy commented on #335
healthz status while the join attempts from the worker are ongoing and failing:
[code]

[2017-07-04 22:45] erhudy commented on #335
Looks like there's something causing the kube-public namespace to not be created in time?
[code]

[2017-07-04 22:46] liggitt commented on #335
Namespace doesn't exist at reconcile time:

[2017-07-04 23:19] liggitt commented on #335
Fixed by https://github.com/kubernetes/kubernetes/issues/48480

[2017-07-04 23:20] liggitt commented on #335
The kube-public namespace is created by the bootstrap controller, which can race with storage post-start hooks.

[2017-07-05 06:08] gogeof commented on #335
@luxas and other guy
I have also try this command:
[root@localhost build]# kubectl -n kube-public get role system:controller:bootstrap-signer -oyaml
Error from server (NotFound): roles.rbac.authorization.k8s.io "system:controller:bootstrap-signer" not found

[2017-07-05 09:26] luxas commented on #335
I suppose you're talking about this code: https://github.com/kubernetes/kubernetes/blob/master/pkg/master/controller.go#L148

Yeah, very unlucky that our e2e CI didn't catch this race condition a single time :/

Thanks to @erhudy @alexpekurovsky @shekharupland and @Dirbaio we are now aware of it and could fix the race condition between the controller-manager and apiserver post-start hooks :+1:!

[2017-07-05 09:45] luxas commented on #331
Closing as a dupe of #333

[2017-07-05 09:45] #331 closed

[2017-07-05 09:52] luxas commented on #324
@erikbgithub Thanks a lot for this issue!
Up front I must say that I'm no proxy expert as I haven't experimented in such environments much.

So I can't comment on the exact statements above really, but I'd be very glad if you wanted to contribute to kubeadm to make the behavior behind a proxy better.

To answer your question, here is the relevant go code:
https://github.com/kubernetes/kubernetes/b

[2017-07-05 09:55] luxas commented on #329
In v1.6, it's called `authorizationMode` and is just a `string`
So this will work in v1.7 if you upgrade:
[code]

and this will work in v1.6:
[code]

[2017-07-05 09:55] #329 closed

[2017-07-05 10:10] luxas commented on #64
The lack of this flag caused #330 which significantly bumps priority on this now that there's a very specific scenario (kubeadm on AWS nodes).

The solution here is as @justinsb just said, replace all `os.Hostname()` instaces in the code with a CLI flag parameter `--node-name`

[2017-07-05 10:10] luxas commented on #12
The docs PR for this is now merged, closing

[2017-07-05 10:10] #12 closed

[2017-07-05 10:14] luxas commented on #62
The long term goal for this will be solved with the [Addon Manager v2](https://docs.google.com/document/d/1Laov9RCOPIexxTMACG6Ffkko9sFMrrZ2ClWEecjYYVg/edit#heading=h.rwtjflxdmlmi) proposal, [feature#18](https://github.com/kubernetes/features/issues/18)

I think the general consensus here is that kubeadm won't include support for other addons than kube-proxy and kube-dns which are required for the

[2017-07-05 10:14] #62 closed

[2017-07-05 10:17] luxas commented on #328
@cookeem Hi! Are you interested in attending out meetings?
Would be great to discuss this more there and also you can demo this project if you want...

[2017-07-05 10:19] luxas commented on #324
cc @kad @timothysc

[2017-07-05 10:22] luxas commented on #294
Yeah, that would make sense.
Anyway, I'm not sure of which providers support that yet...

cc @kubernetes/sig-network-feature-requests @bboreham
Do you know any CNI network providers that support this?

[2017-07-05 10:24] luxas opened #336 "Make the kubeadm API group self-explainatory by adding comments to all fields"
And structs, and in the files in general.

Sub-task of https://github.com/kubernetes/kubeadm/issues/117

[2017-07-05 10:27] luxas commented on #313
@GheRivero volunteered to work on this :tada:
Feel free to ask here if you have any questions or post what implementation/design you have in mind.

[2017-07-05 10:31] erikbgithub commented on #324
@luxas Thanks I'll work through that when I get a round tuit. Before I can supply patches I need to learn some go though, so I would appreciate if others can churn in for now. ;-)

First sub-question I'll look into is what go actually gets via `os.Environ()`.

[2017-07-05 10:34] luxas commented on #256
@pipejakob any update on this issue?

[2017-07-05 10:34] luxas opened #337 "Make kubeadm able to consume CI images"
Now that https://github.com/kubernetes/test-infra/issues/1400 is implemented, we can go on and make it possible to do

[code]
or
[code]
or
[code]
or
[code]

What do people prefer?
What would basically happen is that the repository prefix would automatically get adjusted to `gcr.io/kubernetes-ci-images` and the latest available tag would be fetched like this (pseudo-code):
[code]
Then kubeadm will

[2017-07-05 10:40] luxas commented on #324
@erikbgithub Let me know if you need some help with creating patches and I'll help

[2017-07-05 12:51] erhudy commented on #335
Thanks for the fix!

[2017-07-05 13:26] kad commented on #324
@erikbgithub as original author of that check, I'll be happy to answer any questions.
First few answers:

- kubeadm gets and checks environment from your currently running session. You can see what do you have if you execute ```$ env | grep -i _proxy= | sort```. E.g. inside our company firewall I have something like this:
[code]
- Usual issue that people are stepping on without realizing it, that

[2017-07-05 13:38] kad commented on #292
@ReSearchITEng btw, golang respects both upper and lowercase *_proxy variables. you can see how it's done here: https://github.com/golang/go/blob/master/src/net/http/transport.go#L266 and https://github.com/golang/go/blob/master/src/net/http/transport.go#L568

Regarding ```v1.6.4``` vs. ```1.6.4``` indeed, might be either documentation can be improved or handling of that parameter. I'll look.

[2017-07-05 14:00] cmluciano commented on #294
/assign

I'm working on some doc updates how to use the bridge plugin. I can work on this too.

[2017-07-05 15:00] alexpekurovsky commented on #335
Does it mean we need to wait for kubernetes 1.7.1?

[2017-07-05 15:37] luxas commented on #335
@alexpekurovsky Yes. Meanwhile you can just kubectl apply the RoleBinding and Role

[2017-07-05 16:43] caseydavenport commented on #294
@luxas Calico is tested and works with the upstream `portmap` plugin.

I'm not sure the onus falls on kubeadm for this though - I think it's a per-network-provider thing (providers should update their manifests to include the correct config).

[2017-07-05 16:46] nicolai86 commented on #294
@luxas does calico have some docs on this somewhere? or is https://github.com/kubernetes/kubernetes/issues/31307#issuecomment-307608333 still the best we got?

[2017-07-05 17:14] caseydavenport commented on #294
@nicolai86 docs are on the way - will need to sort out how we document that this is a v1.7+ feature (we now need slightly different manifests for <v1.6, v1.6, v1.7+)

Here's an example for Calico: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/calico-policy-controller/calico-node-daemonset.yaml#L77

[2017-07-05 17:15] ekozan commented on #294
sadly weave seen to not work :/ https://github.com/weaveworks/weave/issues/3016

[2017-07-05 18:20] luxas commented on #294
I don't either think this is kubeadm-specific, but it makes sense to document in general.
Do we think this should be moved to kubernetes/kubernetes or?

[2017-07-05 18:30] luxas commented on #300
@lucasyvas yes, maybe something like this? https://github.com/xakraz/kubeadm-installer
Don't know the status of it currently though

cc @xakraz

[2017-07-05 18:57] lucasyvas commented on #300
@luxas I'm using that one! Thanks for kicking it off. I ran into other CoreOS install issues but was able to get kubeadm on the box with this no problem.

[2017-07-05 19:10] luxas commented on #333
This is now documented

[2017-07-05 19:10] #333 closed

[2017-07-05 19:56] kfox1111 commented on #102
I've seen this problem too. a route to the pod network to the second nic resolved the issue for me. Feels a little fragile though.....

[2017-07-06 01:11] cookeem commented on #328
@luxas sure, how to attend it?

[2017-07-06 05:42] luxas commented on #328
@cookeem They are organized every week. Come and join us the next time on Tuesday https://docs.google.com/document/d/1deJYPIF4LmhGjDVaqrswErIrV7mtwJgovtLnPCDxP7U/edit#heading=h.3lizw9e2c8mi :)

[2017-07-06 05:44] cookeem commented on #328
@luxas got it, thx :)

[2017-07-06 06:28] analytik opened #338 "Changing master IP address"
I'm using a provider that dynamically assigns private IP addresses on node startup, and it seems to break kubeadm-based setup.

I have set up brand new master server with kubeadm, and it worked well, but after shutting down and bringing the machine back up, the private IP address has changed, and now when using kubectl I get an error `Unable to connect to the server: x509: certificate is valid for

[2017-07-06 07:15] luxas commented on #338
This is not a limitation by kubeadm, but just general security practice.
The certificate is signed for {your-old-IP-here} and secure communication can't then happen to {your-new-ip-here}

You can add more IPs in the certificate in beforehand though...

[2017-07-06 08:04] luxas commented on #330
@GheRivero volunteered to work on this :tada: (i.e. #64 that will solve this problem)
I can't assign him, so therefore commenting instead...

[2017-07-06 08:04] luxas commented on #64
@GheRivero volunteered to work on this :tada:
I can't assign him, so therefore commenting instead...

[2017-07-06 08:40] analytik commented on #338
Thank you for your response.

As the IP addresses are assigned by the cloud provider, so generating certificate beforehand would only work if I could set it to a wildcard. (Sorry, I know nothing about certificates.)

I overlooked that `kubeadm reset` actually exists, since it's not mentioned in the [reference guide](https://kubernetes.io/docs/admin/kubeadm/). Reset and init worked well enough for

[2017-07-06 10:52] rmohr commented on #335
https://github.com/kubernetes/kubeadm/issues/335#issuecomment-312962574 worked for me too. Thanks for the fix and the workaround.

[2017-07-06 13:56] dhague commented on #1
As a workaround for this, I run `kubeadm reset` on the worker node before running `kubeadm join ...` - this gets rid of the "preflight check" error.

[2017-07-06 14:04] luxas commented on #323
Assignee: @jamiehannaford :+1:

[2017-07-06 14:46] #335 closed

[2017-07-06 15:05] luxas commented on #330
Status report:

First of two PRs is up: https://github.com/kubernetes/kubernetes/issues/48538

I expect this to be fixed in v1.7.1, so that you can specify the node name yourself with `--node-name`.

[2017-07-06 15:10] zilman commented on #337
That's awesome. I think it should be possible to override the repository prefix.

[2017-07-06 16:34] GheRivero commented on #330
I can confirm the same behavior with Ubuntu 16.04
"Failed creating a mirror pod for "kube-apiserver-ip-10-0-0-51.ec2.internal_kube-system(fe921e27127eb782227d38f55946771e)": pods "kube-apiserver-ip-10-0-0-51.ec2.internal" is forbidden: node ip-10-0-0-51 can only create pods with spec.nodeName set to itself"

The first patch solve that situation for `kubeadm join` but something similar should be do

[2017-07-06 17:37] luxas commented on #337
@zilman It has been possible to override repository prefix since v1.5-ish, but it hasn't been well documented other than on the kubeadm reference docs on the site. It has been possible using the environment variable `KUBE_REPO_PREFIX`. However, that's being moved to the API in v1.8, ref: #326

However, being able to consume the latest CI builds automatically is exciting as well!

[2017-07-06 19:53] gtirloni commented on #317
We ended up getting too many issues running docker-latest (not related to kubeadm) so I won't be using that for the time being (eyeballing cri-o now). If folks still think this would be useful (specially considering other runtimes), I'd say leave it open otherwise I would be okay with closing this.

[2017-07-06 20:00] ixdy commented on #337
`cluster/get-kube.sh` and `kubetest` use the `ci/latest` (or `ci/latest-1.7`, etc) form, so that seems most consistent with existing tooling.

[2017-07-06 20:03] luxas commented on #317
You choose. Is there any actionable item here, keep open. If not, close.

[2017-07-06 20:27] rushabh268 commented on #330
Seeing the same issue as @scholzj on CentOS 7.3 with 1.7.0. Falling back to 1.6.6 for now.

[2017-07-06 21:04] gtirloni commented on #317
Ok, closing. If the need resurfaces we can re-open this and work on it. Thanks.

[2017-07-06 21:04] #317 closed

[2017-07-07 01:57] DjangoPeng opened #339 "port 10251 and 10252 are in use"
## Version info
kubeadm v1.6.5
## Reproduce
In master server: (1)`kubeadm init`; (2)`kubeadm reset`; (3) `kubeadm init` again and got the error `port 10251 is in use, port 10252 is in use`.
[code]

## Solution
I check the usage status of all ports. It seems like kubeadm failed to reset the `controller` and `scheduler`.
[code]
After kill them, I can initialize kubernetes cluster.
[code]
## In a wor

[2017-07-07 07:55] luxas commented on #339
I don't think it's a bug really. Somehow you/kubeadm haven't cleaned up correctly, since the kube-scheduler and controller-manager containers were still running. Or docker restarted them somehow.
Or you started the controller-manager and scheduler yourself somehow.
Or you ^C'd `kubeadm reset` a little in beforehand...

If it happens often, please reopen, but I don't think there's something to fix

[2017-07-07 07:55] #339 closed

[2017-07-07 07:58] luxas opened #340 "Implement different verbosity levels in kubeadm"
From the upgrades proposal and other design discussions it is clear that it's time for kubeadm to implement a `--v` flag now that kubeadm implements more advanced features where more logging would be useful.

This would be a great contribution for someone that want to get their hands dirty with something...

[2017-07-07 08:54] jnardiello commented on #340
If nobody else wants to work on this, I'll do it.

[2017-07-07 08:57] luxas commented on #340
@jnardiello Sounds very good. We should align with what kubectl is doing.
Please go and check the verbosity features of kubectl first; how they've implemented that and then come back here and propose how to solve it before starting to code.
This to reduce the times you have to rework your PR.

cc @kubernetes/sig-cli-feature-requests
Could you comment quickly what's the best way of doing this pleas

[2017-07-07 09:33] luxas commented on #311
@fabriziopandini will work on this issue this cycle. @pipejakob If you could give any hints and help Fabrizio to understand how the test-infra/kubernetes-anywhere integration works it would be great
(I'd also be very interested in hearing that)

I think this could be implemented as basically running `kubeadm init` twice with different versions only:
[code]

[2017-07-07 12:22] GheRivero commented on #330
Second part of the fix: kubernetes/kubernetes#48594
Added the node-name flag to `kubeadm init`

[2017-07-07 13:09] luxas opened #341 "The hostPath volume mounting code is not optimal"
It:
 - mounts everything as read-write
 - is not unit tested
 - is in a single, large function
 - is hard to read
 - mounts more than components need (e.g. `/etc/kubernetes` is mounted for the controller-manager (in the same dir as superuser privs, admin.conf, when it only needs `controller-manager.conf`)

[2017-07-07 13:11] luxas opened #342 "External etcd options are not validated"
Well, the title says it all. You can put whatever you like there but kubeadm won't catch wrong args but happily proceed until something hangs in between.

[2017-07-07 17:27] trung commented on #64
In my EC2 Ubuntu instance, `hostname -f` reflects the same value as the AWS API returns.
[code]
So i did
[code]
And it works.

[2017-07-07 17:29] trung commented on #330
Workaround for EC2 Ubuntu
https://github.com/kubernetes/kubeadm/issues/64#issuecomment-313744049

[2017-07-09 03:36] DjangoPeng commented on #339
@luxas Fair point. I'll pay attention to the issue. If something wrong on my configs which causing to the issue, I'd like to report that, either.

[2017-07-10 09:22] #338 closed

[2017-07-10 20:25] mengqiy commented on #340
Searching `glog.V\(\d\).infof` in the codebase should give some information how to do it.

[2017-07-10 20:27] jnardiello commented on #340
Thanks @mengqiy for the info, I've started walking through the code of the `kubectl` but will implement this in the upcoming days.

[2017-07-10 21:25] luxas commented on #337
@andrewrynhard volunteered to contribute this :tada:
Ask if you need anything

[2017-07-10 21:29] kad commented on #337
consistency is a key. if we have "latest", "latest-1.7" and so on for releases, same should be for "ci/".

[2017-07-10 21:45] kad commented on #337
@luxas @andrewrynhard if you don't mind, I'll take that issue, I have some early days drafts for it.

[2017-07-11 01:21] andrewrynhard commented on #337
@kad Don't mind at all.

[2017-07-11 06:18] slothkong commented on #71
Hi, I know this is not the right place to ask but I'm lost and in need of directions. I want to set be able to use my docker image. This means I need to set up a local docker registry on my cluster (4 machines I have under my desk). Could anybody please tell me where should I look? I know there is an [addon](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/registry) on github, b

[2017-07-11 16:22] timothysc commented on #279
@luxas , @jasonbrooks - does this still exist in fedora?

I think folks have patched policies on other channels.

/cc @eparis

[2017-07-11 16:26] jasonbrooks commented on #279
@timothysc I haven't tried w/ 1.7 yet, but w/ 1.6, CentOS worked w/ selinux but Fedora 25 didn't. I'll test w/ 1.7

[2017-07-11 17:24] jasonbrooks commented on #279
for reference, I just ran kubeadm 1.7 on f26 in permissive mode, and these are the denials I got:

[code]
On CentOS 7, same thing, no denials.

[2017-07-11 18:59] rhatdan commented on #279
You are volume mounting in content from the host into a container. If you want an SELinux confined process inside the container to be able to read the content, it has to have an SELinux label that the container is allowed to read.

Mounting the object with :Z or :z would fix the issue.  Note either of these would allow the container to write these objects.  If you want to allow the container to re

[2017-07-11 21:54] mattmoyer opened #343 "`kubeadm init` should default to a finite token TTL"
## Versions

**kubeadm version** (use `kubeadm version`): <= 1.7

## What happened?
`kubeadm init` created a default token with infinite TTL.

## What you expected to happen?
`kubeadm` creates a token with limited (2 hour?) TTL by default

## How to reproduce it (as minimally and precisely as possible)?
Run `kubeadm init` without specifying the `--token-ttl` parameter.

## Anything else we need to

[2017-07-12 06:52] luxas commented on #343
I think we should do this, set it to something reasonable (maybe 24 h), and cherrypick a warning into v1.7 kubeadm init that "Unlimited is the default token duration now, it will be xxx in v1.8"

[2017-07-12 08:24] luxas commented on #279
https://github.com/kubernetes/kubernetes/pull/48607 will also help here as it starts making mounting everything but etcd read-only...

[2017-07-12 13:57] timothysc commented on #279
@luxas @jasonbrooks - someone want to tinker with adjusting the manifests ( https://kubernetes.io/docs/tasks/configure-pod-container/security-context/ ) ?

[2017-07-12 14:05] luxas commented on #279
To me it's unclear which policies kubeadm should add to:
- read only mounts
- read write mounts

that is working on CentOS, Fedora _and_ CoreOS

[2017-07-12 15:53] PLoic opened #344 "Kubeadm join fail"
## What happened?

Hello, I have an issue when I try to do a `kubeadm join` it appear to be succeed because I see :

But on master node when I do a `kubectl get nodes` I only see my master node.

## Versions

**kubeadm version** (use `kubeadm version`): v1.7.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.7.0
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g

[2017-07-12 16:38] jasonbrooks commented on #279
@rhatdan It looks like :Z is only used if the pod provides an selinux label. In my initial tests, `container_runtime_t` seems to work -- would that be an appropriate label? And then, I'm assuming in a system w/o selinux, this would just be ignored?

[2017-07-12 19:15] rhatdan commented on #279
Yes it will be ignored by non SELinux systems.  RUnning an app as container_runtime_t, basically provides no SELinux confinement, since it is supposed to be the label of container runtimes like docker and CRI-O.  If you are running the kublet as this, that is probably fairly accurate.

[2017-07-12 19:18] luxas commented on #344
Can you output the logs of the kubelet?
`journalctl -xeu kubelet`

[2017-07-12 19:43] jasonbrooks commented on #279
Right now, we're running the etcd container as spc_t -- would it be better to run that one as container_runtime_t too?

[2017-07-12 21:31] piersbarrios commented on #344
I have the same issue
(with a slight different kernel though  but I don't think it makes a difference here)

Kubernetes version (use kubectl version): v1.7.0
OS (e.g. from /etc/os-release): CentOS 7
Kernel (e.g. uname -a): 3.10.0-514.26.2.el7.x86_64

Additional info:
Set up my master with kubeadm init, then set up weave:
kubectl apply -n kube-system -f "https://cloud.weave.works/k8s/net?k8s-versio

[2017-07-12 22:56] jasonbrooks commented on #279
It looks like this does it:

[code]

Would this be something to submit as PRs to the 1.7 branch and to master, or just to master? The source moved around a bit in master, the patch above is to the 1.7 branch.

[2017-07-13 07:19] PLoic commented on #344
Problem solved ! :)
With the `journalctl -xeu kubelet` I see :
`error: failed to run Kubelet: failed to create kubelet: misconfiguration: kubelet cgroup driver: "systemd" is different from docker cgroup driver: "cgroupfs"`

I simply change my docker configuration file to add :
[code]
And the worker appear when I do a `kubectl get nodes`

Thanks for your help !

@piersbarrios I have created an issu

[2017-07-13 10:22] rhatdan commented on #279
I would actually prefer that it run as spc_t, or as a confined domain(container_t). etcd should be easily be able to be confined by SELinux.

[2017-07-13 11:22] #64 closed

[2017-07-13 18:18] jasonbrooks commented on #279
I think spc_t should work. I tried w/ container_t and that didn't work. audit2allow says it needs:

`allow container_t cert_t:file { open read };`

[2017-07-13 18:26] rhatdan commented on #279
Could we relabel the certs directory with container_file_t or container_share_t.  then it would work.

[2017-07-13 18:39] jasonbrooks commented on #279
kubeadm creates an `/etc/kubernetes/pki` dir when you run `kubeadm init`, but when you `kubeadm reset`, it only empties that dir. If we created the pki dir when the rpm is installed, we could do the labeling at that point, by modding the spec file.

[2017-07-13 18:50] jasonbrooks commented on #279
For etcd, the container would need `allow container_t container_var_lib_t:file { create lock open read unlink write };` for `/var/lib/etcd` on the host.

[2017-07-13 21:24] piersbarrios commented on #344
I believe I have another issue here because my logs now show :

[code]
etc...

I am using weave btw

[2017-07-13 23:38] mattmoyer opened #345 "`kubeadm init --config` is broken"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.7.0

## What happened?
I ran `kubeadm init --config /path/to/my/config.yaml` (with no additional arguments) and got this output:
[code]

## What you expected to happen?
I expected `kubeadm` to load my YAML c

[2017-07-14 00:11] jasonbrooks commented on #279
I'm trying to figure out if it's legitimate to chcon directories in the rpm spec file -- I see many instances of it in github (https://github.com/search?l=&p=1&q=chcon+extension%3Aspec) but I can't tell whether that's considered good packaging practice or not. We could either change kubeam to run the components as spc_t, unconfined, or we could leave kubeadm alone and chcon the pki dir.

[2017-07-14 05:27] ThomasZhou commented on #344
Same error with piersbarrios

`Jul 14 13:23:27 SZV1000204813 kubelet[120170]: I0714 13:23:27.314297  120170 kubelet_node_status.go:247] Setting node annotation to enable volume controller attach/detach
Jul 14 13:23:27 SZV1000204813 kubelet[120170]: I0714 13:23:27.316602  120170 kubelet_node_status.go:82] Attempting to register node szv1000204813
Jul 14 13:23:27 SZV1000204813 kubelet[120170]: E0714

[2017-07-14 12:22] rhatdan commented on #279
I am not as familiar with the Kubernetes Architecture, as I should be. But are we talking about different containers or the same container.  kubeadmin container versus etcd container?  The management container which can launch other containers as "priviliged" should be running as spc_t, since confining it buys us nothing.  A service that just listens on the network and hands out data on the other

[2017-07-14 14:42] luxas commented on #330
Fixed with v1.7.1

[2017-07-14 14:42] #330 closed

[2017-07-14 14:55] #231 closed

[2017-07-14 16:14] jasonbrooks commented on #279
kubeadm is distributed as a deb or rpm package, and it depends on the kubelet and the cni packages (and on docker). You start the kubelet, and then you run kubeadm, which creates manifests for etcd, apiserver, controller manager, scheduler and proxy, and those all run as containers. That's the main way to run kubeadm, as described here: https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2017-07-14 16:23] rhatdan commented on #279
Ok That is kind of what I thought.  If we split allof these services into different system containers or orchestrated containers, some can probably run confined and some need to run with ull privs.  kubeadmin as a tool for an administrator should be run with full privs.  spc_t, if it runs inside of a container, if it runs outside, it would run as the administrators label.

If all of these services

[2017-07-14 16:57] fabriziopandini commented on #311
@pipejakob, @luxas looking forward to help here.
I started to write down some ideas / first list of things to be clarified into  [this doc](https://docs.google.com/document/d/17oAhKnun295br_I0u4CHTiLKcZG0PHnFHvGFZPnTe9c/edit?usp=sharing)
any comment/help will be more than welcome

[2017-07-14 17:26] luxas commented on #311
Thanks @fabriziopandini! I'll take a look. I also pinged some sig-testing folks....

[2017-07-14 17:27] #344 closed

[2017-07-14 17:27] luxas commented on #344
This should be fixed now. Please use v1.7.1 and reopen if you can still reproduce the issue...

[2017-07-14 17:36] jasonbrooks commented on #279
They're all running in separate containers. They can run as container_t, but apiserver and controller manager need to open and read cert_t, and etcd needs access to container_var_lib_t.

We can create the /etc/kubernetes/pki and /var/lib/etcd dirs and set their contexts to container_share_t in the spec file for the kubeadm rpm, or we can make the apiserver and controller manager containers run as

[2017-07-14 18:13] mattmoyer opened #346 "Remove warnings about the default token TTL"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## What happened?
In https://github.com/kubernetes/kubernetes/pull/48838, we added a warning about the default token TTL behavior changing in from kubeadm 1.7 to 1.8. This change was also cherry picked onto the `release-1.7` branch (https://github.com/kubernetes/kubernetes/pull/48955) so current 1.7 users will get some advance notice.

#

[2017-07-14 18:14] luxas commented on #345
Merged to master and cherrypick is approved

[2017-07-14 18:14] #345 closed

[2017-07-14 18:15] luxas commented on #343
Fixed with https://github.com/kubernetes/kubernetes/issues/48783 :tada:

[2017-07-14 18:15] #343 closed

[2017-07-15 17:58] jujes commented on #345
same issue
[code]

[2017-07-15 22:22] coeki commented on #279
As @jasonbrooks describes we have few options here. But it's not the main thing.

The main thing is, where do we store the secrets... I thought the consensus was to store the CA and stuff in kubernetes secrets, so then only spc_t is needed for etcd

[2017-07-16 04:03] ilponyy commented on #64
The kubeadm join side is broken. The hostname preflight check fails always.

[2017-07-17 02:05] cgilmour opened #347 "kubeadm join failing preflight checks"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

[code]

**Environment**:
- **Kubernetes version** `Client Version: version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a74221ecc79208c2165b", GitTreeState:"clean", BuildDate:"2017-07-14T02:00:46Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
`
- **Cloud provider or hardware conf

[2017-07-17 11:00] lwr20 commented on #347
I'm seeing this too.

[2017-07-17 11:04] laumair commented on #347
Yeah as a workaround you can skip the preflight checks but the problem persists in `1.7.1`

[2017-07-17 12:50] jujes commented on #345
@luxas @mattmoyer I tried compiling for myself but get this error:
**install steps**
[code]
**Error**
[code]

[2017-07-17 14:12] mattmoyer commented on #345
@jujes sorry to hear that. It looks like you need more available memory on your build machine.

The fix for this bug should be backported to the next 1.7 point release (1.7.2) sometime soon. Unfortunately, I don't know exactly when that will be available. The PR to watch is https://github.com/kubernetes/kubernetes/pull/48946.

[2017-07-17 14:39] luxas commented on #345
@mattmoyer Planned sometime this week, depending on test health

[2017-07-17 14:48] jujes commented on #345
hi @mattmoyer thanks for reply my issue :+1:

until sometime soon and from the last 4 days I spend a lot of time trying to work with kubeadm, I think kubeadm is vital piece for beginners like me, following this idea, I sugest offer an clear guide for use  stable version or a way to change it for a previus working version...

I need pass etcd: endpoints: into --config file.yaml  what is only possib

[2017-07-17 19:09] timothysc commented on #127
Why is this closed...?  Those last two items still need to be done.

[2017-07-17 20:15] luxas commented on #127
No idea @timothysc, Github links ftw I guess?

[2017-07-17 20:47] erhudy commented on #347
Same is happening for me.

[2017-07-17 21:27] rushabh268 commented on #347
Seeing this on 1.7.1. Even after providing node-name, it still complains with the same error. Workaround is to skip pre-flight checks. Looks like, the error is happening in this validation:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L110-L126

[2017-07-18 01:39] stevenbower commented on #347
Actually looks to be here:
https://github.com/kubernetes/kubernetes/blob/v1.7.1/cmd/kubeadm/app/preflight/checks.go#L544

Looks like the HostNameCheck for node join missed an update in https://github.com/kubernetes/kubernetes/commit/e20f5a3d05d36399b9880e371fc52ef5264500cd

[2017-07-18 02:04] svitlanacs commented on #323
+1 for this feature
I've been [trying to figure out](https://stackoverflow.com/questions/45113034/kubernetes-gpu-support-how-to-enable) how to enable "feature-gates=Accelerators=true" (GPU support) for days now. Had to manually rule out which service exactly requires this option. And have not been entirely successful yet...

[2017-07-18 07:14] #326 closed

[2017-07-18 07:34] luxas commented on #347
Thanks @stevenbower!

[2017-07-18 08:20] luxas commented on #318
Will be fixed with https://github.com/kubernetes/kubernetes/pull/48607

[2017-07-18 08:44] luxas opened #348 "Split up `app/phases/addons` into `app/phases/addons/{dns,proxy}`"
Currently both the kube-proxy and kube-dns addons are bundled in `app/phases/addons` and isn't self-contained, but depends on things in `app/phases/apiconfig/clusterroles.go`.
That's not good design.

Instead, there should be a separate package per addon in `app/phases/addons/{dns,proxy}` that is self-contained and can be invoked from the CLI later on.

@andrewrynhard volunteered to contribute thi

[2017-07-18 08:48] luxas opened #349 "Make the controlplane phase invokable from the `kubeadm phase` CLI"
There currently is the `app/phases/controlplane` package, but it's not exposed as `kubeadm phase controlplane <component> [flags]` as it should be

That should be fixed for v1.8

[2017-07-18 08:55] luxas opened #350 "Make the kubeconfig phase invokable from the `kubeadm phase` CLI"
There currently is the `app/phases/kubeconfig` package, but it's not exposed per-component as `kubeadm phase kubeconfig <component> [flags]`

ref: https://github.com/kubernetes/kubeadm/issues/267

Commands to be implemented:
 - kubeadm phase kubeconfig all
 - kubeadm phase kubeconfig admin
 - kubeadm phase kubeconfig kubelet
 - kubeadm phase kubeconfig scheduler
 - kubeadm phase kubeconfig control

[2017-07-18 13:25] timothysc commented on #313
I think that should be a separation of concerns and we shouldn't conflate kubeadm, to quote unix philosophy:

- Make each program do one thing well. To do a new job, build afresh rather than complicate old programs by adding new "features".

- Expect the output of every program to become the input to another, as yet unknown, program.

I think setup is where kubeadm stops and validation is where an

[2017-07-18 14:05] luxas commented on #313
@timothysc I'm totally fine with that, should have thought about that in the first place ;)

Still, feel free to prototype this @GheRivero or whoever is working on this, it'd be a very cool project to check out :)

[2017-07-18 15:39] praparn commented on #344
Dear all,

   For v.1.7.1 we facing problem for join node to cluster with ip address. by command "kubeadm --token 8c2350.f55343444a6ffc46 join X.X.X.X:6443" with Error like below:

kubeadm join kubernetes-ms:6443 --token 8c2350.f55343444a6ffc46
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[preflight] Running pre-flight checks
[preflight] WARNING: docker vers

[2017-07-18 15:53] luxas commented on #344
@praparn See: https://github.com/kubernetes/kubeadm/issues/347
It will be fixed in v1.7.2
Meanwhile, you can just set `--skip-preflight-checks`

[2017-07-18 17:30] jbw976 commented on #345
I'm working around this issue on Ubuntu by manually installing kubeadm version 1.7.0:
[code]
@luxas note this bug breaks your kubeadm-workshop script: https://github.com/luxas/kubeadm-workshop/blob/master/e2e-script.sh#L1

[2017-07-18 17:31] luxas commented on #345
@jbw976 I know. Fix is in for v1.7.2 which is coming tomorrow

[2017-07-18 19:07] timothysc commented on #313
There are ongoing efforts in the CNCF on conformance, and sig-testing around this topic.  That may a better venue to vet this topic.

[2017-07-19 10:29] #313 closed

[2017-07-19 21:17] drazul commented on #308
@fabriziopandini that is because the default cgroup driver on docker 1.17 is cgroupfs. You need to change to systemd to work:

You can see the problen executing journalctl -xe and search for kubelet or executing systemctl status kubelet --lines 100
[code]

[2017-07-19 21:20] #53 closed

[2017-07-19 21:36] joantune opened #351 "kubeadm lock down kubelet API"
##FEATURE REQUEST

As per https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/kubelet-authentication-authorization.md and https://github.com/kubernetes/features/issues/89 kubeadm could(?)/should(?) make sure that node's kubectl 1025 port required a client certificate to connect to.

## Versions

**kubeadm 1.7.1**

**Environment**:
- **Kubernetes 1.7.1**

## What happened?

`w

[2017-07-19 21:46] mikedanese commented on #351
This should already be done.

[2017-07-19 21:50] mikedanese commented on #351
They kubelet API is already very locked down even though we allow anonymous authentication. Authorization will still stop an anonymous user from hitting endpoints of value. I'm not sure what the value is of disabling anonymous auth. cc @liggitt

[2017-07-19 21:57] joantune commented on #351
@mikedanese: got it!
On this topic:

how should one minimize the surface area of kubernetes to the outside world?

Kubectl's endpoint can be set to be accessible only from inside a cluster's private addresses right? one might lose access to kubectl from a local machine, but still be able to do that through a SSH tunnel (+ kubectl proxy if kubectl is only listening in another interface, right?)

I

[2017-07-19 22:11] liggitt commented on #351
GCE actually added SSH tunnels in lieu of securing the endpoints. With the ability to protect the endpoints, the benefit of tunneling is marginal (not zero, but not worth the added complexity for many deployments)

[2017-07-19 22:29] joantune commented on #351
I see, I saw https://github.com/kubernetes/features/issues/89 original problem as a two issue thing, which was:
a) having access to kubectl's endpoint directly
b) allowing anyone to execute API endpoints

It was actually mostly b)
Although I have to say, If I want to also limit the surface area, after looking at the docs, I have no idea what is the best way to accomplish that. The concepts of Node

[2017-07-19 23:31] ericchiang opened #352 "kubeadm init: can't skip preflight checks if config is provided"
Trying to run kubeadm from a container. Init fails because I'm not giving it access to iptables.

[code]

However, since I'm providing a config, I can't skip the checks

[code]

There's also no config parameter to skip the check.

[2017-07-20 07:06] luxas commented on #351
@joantune What happens if you do `https://<ip>:10250/stats` or `/metrics` or `/containerLogs` or an other _valid_ path? I think the 404 for `/` is legit, since there is no associated path with `/` in the kubelet server.

This happens for me:
[code]

I do think this is working just as expected. This was locked down in v1.6.

All traffic to the kubelet's endpoint is first authenticated with the CA c

[2017-07-20 09:28] luxas commented on #147
Now fixed

[2017-07-20 09:28] #147 closed

[2017-07-20 15:49] praparn commented on #344
@luxas Note with thanks krab

[2017-07-20 16:22] ericchiang commented on #204
FYI I hit this too. Looking into it.

[2017-07-20 16:25] luxas commented on #204
@ericchiang On CoreOS? Yeah, I could never figure out what the root cause what when I hit it back at that time.

One thing you must do in any case (and may fix the issue) is to remove `spc_t` from the etcd Static Pod.
We're looking into removing that anyway so (for CoreOS compat)

[2017-07-20 20:32] euank commented on #269
@mikesimons Audit logs are off by default. Our [selinux](https://coreos.com/os/docs/latest/selinux.html) page has instructions for turning them on.

It's true that we don't have an `spc_t` type and it seems likely we should include one.

However, it seems like there should be a much easier fix: just deleting that label.
All etcd needs to do is write to a hostPath volume mount, and my understanding

[2017-07-20 20:40] euank commented on #269
Threw up a PR https://github.com/kubernetes/kubernetes/pull/49328

[2017-07-21 01:12] byungnam opened #353 "kubeadm init hang up at 'Created API client, waiting for the control plane to become ready', but I'm not using systemd or selinux"
Preliminary note: I've already noticed several threads about this hang-up problem, but they were different from my own situation, especially that my machine does not use systemd or selinux.

## What keywords did you search in kubeadm issues before filing this one?
kubeadm init, Created API client, waiting for the control plane to become ready, gentoo kubernetes

## Is this a BUG REPORT or FEATURE

[2017-07-21 01:51] gogeof commented on #106
Dear all, is kubelet doesn't support swagger-ui since v1.7?
I added --enable-swagger-ui=true in kubelet startup args, and got unknow flag: --enable-swagger-ui
After check kubelet usage, --enable-swagger-ui disappear.

[2017-07-21 06:13] lucevers commented on #353
I have the same problem on ubuntu, I'm using systemd.

Got a warning about kubelet was not running, I started kubelet via systemd:
/etc/systemd/system/kubelet.service
Rem
    With or without kubelet running , got the same problem.

Hardware:  HP server (Bar Metal)
OS: Ubuntu 16.04.2 LTS

kubeadm init
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using

[2017-07-21 10:02] i7clock commented on #353
Same problem here using Ubuntu
kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a74221ecc79208c2165b", GitTreeState:"clean", BuildDate:"2017-07-14T01:48:01Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

[2017-07-21 10:36] byungnam commented on #353
lucevers and i7clock, I think if your systems use systemd, you should go for another thread that already exist like (https://github.com/kubernetes/kubernetes/issues/33544) or try something like `journalctl -u kubelet` for debugging (I assume?).

My problem is that the existing solutions are not viable for me because my system is not even using systemd or selinux already.

[2017-07-21 12:44] #269 closed

[2017-07-21 21:58] fabriziopandini commented on #267
created [kubeadm: Implementing the kubeconfig phase fully #49419](https://github.com/kubernetes/kubernetes/issues/49419)

[2017-07-22 01:37] plombardi89 opened #354 "Kubeadm Fails Due to Valid Argument"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: Running `kubeadm init --config=<path>` fails.

**What you expected to happen**: `kubeadm init --config=<path>` configures based on the provided file.

**How to reproduce it (as minimally and precisely as possible)**:

Create a file `/tmp/kubeadm.yaml` with the below content:

[code]

Run `kubeadm init --config=/tmp/kubead

[2017-07-22 04:30] plombardi89 commented on #354
Just noticed there is a potential fix noted in https://github.com/kubernetes/kubeadm/issues/345

I'll leave this open until 1.7.2 hits epel repo and there is a chance to try it out.

[2017-07-24 11:11] luxas opened #355 "Enable e2e testing of the BootstrapSigner and TokenCleaner in the kubeadm e2e job"
Now that we have e2e tests for the BootstrapSigner and TokenCleaner (https://github.com/kubernetes/kubernetes/pull/48073), we should enable them in the kubeadm e2e job targeted at HEAD: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce

I _think_ the only thing we'll have to change is https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L7494 to focus on `Feature:

[2017-07-24 13:03] #341 closed

[2017-07-24 17:47] aanm commented on #354
I'm also getting this!

[2017-07-24 17:53] luxas commented on #354
I have a fix for this up that will be in v1.7.3. v1.7.2 might work for you as well.
Sorry for any inconvenience

[2017-07-24 18:10] aanm commented on #354
@plombardi89 FYI kubeadmn `1.7.0` doesn't have this bug.
you can install it with `apt-get install kubeadm=1.7.0-00`

[2017-07-24 18:48] Anmorata commented on #223
I'm having the same problem. when master is in alone everything works fine, but as soon as I join node the pods go in loop

Jul 24 11:45:25 ubuntu kubelet[8442]: W0724 11:45:25.538357    8442 kubelet.go:1596] Deleting mirror pod "kube-apiserver-ubuntu_kube-system(41179207-70a0-11e7-a283-000c29fa48d9)" because it is outdated
Jul 24 11:45:25 ubuntu kubelet[8442]: E0724 11:45:25.931877    8442 mirror

[2017-07-24 20:23] luxas commented on #223
@Anmorata please open a new issue

[2017-07-24 20:40] Anmorata opened #356 "Not able to add node - Kubeadm"
I'm following the guide to install kubernetes with kubeadm:
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

everything works fine until I try to add the node. when I issue the `kubeadm join`  command the pods on master node goes in loop
[code]
kubeadm version on node:

`kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.1", GitCommit:"1dc5c66f5dd61da08412a7

[2017-07-24 20:44] luxas commented on #355
Fixed with https://github.com/kubernetes/test-infra/pull/3657

[2017-07-24 20:44] #355 closed

[2017-07-24 20:47] luxas commented on #106
@gogeof That's totally unrelated to this issue.
kubelet has never had that flag, it's the API server that has it: https://kubernetes.io/docs/admin/kube-apiserver/

[2017-07-24 20:49] luxas commented on #353
You have to give us the kubelet logs and the kubelet cmdline for us to be able to help/debug your issues.
Probably the kubelet isn't running, you have some strange proxy in front or your machine can't access the internet.

[2017-07-24 20:57] luxas commented on #356
Everything seems very fine, can you please tell us what the error is?

[2017-07-24 21:04] Anmorata commented on #356
the pods continue to delete and create in loop and nothing is working

[2017-07-24 21:11] luxas commented on #356
What is the output of `kubectl get nodes`
Please provide more information, what you have now is not sufficient.

Do the nodes have different hostnames or do they have the same?

[2017-07-24 21:15] luxas commented on #318
Fixed with https://github.com/kubernetes/kubernetes/pull/48607

[2017-07-24 21:15] #318 closed

[2017-07-24 21:17] #167 closed

[2017-07-24 21:21] luxas commented on #292
Kind of fixed with https://github.com/kubernetes/kubernetes/issues/48507

[2017-07-24 21:21] #292 closed

[2017-07-24 21:52] luxas commented on #271
After thinking about this more, it's easy to implement without touching kubeadm; just delete the `cluster-info` ConfigMap. Won't bloat the kubeadm code with this option as it's trivial to change afterwards.

[2017-07-24 21:52] #271 closed

[2017-07-24 22:32] Anmorata commented on #356
was the hostname problem :) was searching in logs and didn't paid attention to hostname

issue closed

[2017-07-24 22:32] #356 closed

[2017-07-25 00:45] gogeof commented on #106
@luxas Yes, my fault, --enable-swagger-ui is apiserver's API. Thanks a lot.

[2017-07-25 01:47] byungnam commented on #353
Hi luxas. Before I paste some logs, I have two questions about your comment.

First, where should a kubelet be running? I followed [this manual](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) but I could not find about kubelet. Should it be running on my machine (master node and/or worker nodes?) before running kubeadm?

Second, does the machine needs to access the internet?

[2017-07-25 07:35] luxas commented on #353
@byungnam You should not start the kubelet explicitely.
Instead, look at `journalctl -xeu kubelet` (the kubelet runs as a systemd service)

[2017-07-25 07:36] luxas commented on #353
I think this is definitely a problem. Kubernetes will for example expose the API on port 6443

[2017-07-25 07:49] byungnam commented on #353
@luxas Unfortunately, I cannot run `journalctl` because my system is not using systemd which is the main problem on my side. Gentoo uses OpenRC for the service manager instead.

[2017-07-25 08:02] byungnam commented on #353
You mean Kubernetes cannot run on the internet-disconnected, standalone machine?

I think that's... weird because I thought Kubernetes is a kind of (local) cluster manager like Hadoop which is totally independent of the internet connection when it is successfully deployed.

[2017-07-25 08:38] luxas commented on #353
@byungnam Kubernetes can definitely run without internet (in an air-gapped env)
But Kubernetes must _listen_ on 6443 for the API server for example, so it might be that your firewall is blocking the API server to do that.

If you don't have an internet connection available, you must prepull the docker images in beforehand for it to work (packages only install kubeadm CLI, etc. not the server binar

[2017-07-25 09:05] byungnam commented on #353
@luxas As far as I understood, the API server is a process running on one of the machines and the meaning of _internet_ can refer to LAN if the Kubernetes is running on machines connected via LAN, right? Then it seems okay for me.

Then the problem seems to be the kubelet and the init system. I'll post another comment after some effort on it.

[2017-07-25 12:11] adiri opened #357 "kubernetes-version"
OS: Ubuntu 16.04.2

kubeadm will always install 1.7.1 even if it wills state 1.7.2 during the install process.

selecting stable-1.6 which should install 1.6.7 will also install 1.7.1

[2017-07-25 12:16] luxas commented on #357
@adiri Can you explain what you mean?
Versions when doing `kubeadm init --kubernetes-version` are wrong or when doing `apt-get install`?

[2017-07-25 12:35] Shashwatsh commented on #353
Hi, I have the same problem. I'm on Ubuntu 16.04

[2017-07-25 12:39] adiri commented on #357
Sure! doring kubeadm init it will state the current version intended to install:

[code]

While after the install process is complete, it will show 1.7.1 was installed:

[code]

Same for the slaves. if I'll use --kubernetes-version stable-1.6 with kubeadm, it will me that its installing 1.6.7 but again it will install 1.7.1.

[2017-07-25 13:11] luxas commented on #353
Yes, definitely. On the master. Everything's happening on your machine(s).

Your machines need to be able to access the internet, but the internet doesn't have to be able to access you ;)

As long as your machines can ping each other, it's ok

You need to run the kubelet with the same args I've posted above

@Shashwatsh No, you don't have the same problem. @byungnam's cluster doesn't start because

[2017-07-25 13:18] luxas commented on #357
@adiri `--kubernetes-version` controls the _control plane_ version. If you run `kubectl version`, `Server version` will show the expected value. Upgrading the node agents (with `apt-get install kubelet=version`) is up to you.

[2017-07-25 13:18] #357 closed

[2017-07-25 14:33] nat9999 opened #358 "Kubernetes route"
I want to configure the interface of master node and slave node. After running the master node and joining slave node, master shows:

[code]
Why is my slave node is not added in cluster ? I tried to change the interface, but still it does not help.

ip route master:

[code]
ip route slave:

[code]

[2017-07-25 14:42] luxas commented on #358
Can you give the output of `journalctl -xeu kubelet` please?

[2017-07-25 14:57] nat9999 commented on #358
@luxas After the reboot vm`s slave node was added in cluster, but in status
[code]
And route interface master:
[code]
slave:
[code]
Output of journalctl -xeu kubelet
[1.zip](https://github.com/kubernetes/kubeadm/files/1173763/1.zip)

attached

[2017-07-25 15:08] kvaps opened #359 "DNS lookup problem"
## BUG REPORT

## Versions

**kubeadm version**:
[code]
**Environment**:
- **Kubernetes version**
[code]
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

## What happened?

Sometimes if you receive big size response from dns,  you can get this errors:

If you have search domain in /etc/resolv.conf, and if it can be resolved (eg. wildcard *.mydomain.tld in dns):

[2017-07-25 16:09] billmilligan opened #360 "kubeadm 1.7.2 init blocks on waiting for control plane to be ready"
/kind bug

**What happened**:

Never continues from "Created API client, waiting for the control plane to become ready"

**What you expected to happen**:

Init completes

**How to reproduce it (as minimally and precisely as possible)**:

1.  Freshly created CoreOS 1409.7.0 using Vagrant
2.  Install kubeadm 1.7.2
3.  kubeadm init

**Anything else we need to know?**:

journalctl -u kubelet edited ou

[2017-07-25 18:12] luxas commented on #358
The zip file you attached seems like the kubelet logs from the master, but I need to see the worker's logs.
Sorry for not being clear about that

[2017-07-25 19:04] jeffie9 commented on #276
I have been following the same trail of creating a cluster with kubeadm and executing the steps in debugging-services (created hostnames deployment and searching in DNS).  Here is an observation:
Running iptables-save | grep hostnames on the master node yields no results, but running the same command inside the kube-proxy pod will show all the expected entries.
My conclusion is the proxy service i

[2017-07-25 20:46] nat9999 commented on #358
@luxas I do not see the logs. On the master they are in /var/log/containers/. I think the problem is in routing, but I can`t properly configure.

[2017-07-26 00:14] xakraz commented on #360
I think this duplicates #353

[2017-07-26 00:15] xakraz commented on #300
Maybe we can close that issue then ?

[2017-07-26 00:17] xakraz commented on #353
Is it the same issue than #308 ?

[2017-07-26 00:19] Shashwatsh commented on #353
kinda but I'm using ubuntu and i'm sure it doesn't have any problems with cgroups

[2017-07-26 08:04] byungnam commented on #353
So far, I could not find a big difference initiating the kubelet between via an init system and the command line, so I just made a shell script to run kubelet with the parameters in https://github.com/kubernetes/release/blob/master/debian/xenial/kubeadm/channel/stable/etc/systemd/system/kubelet.service.d/10-kubeadm.conf.
[code]

When I run the script, it shows the below logs.
[code]

After analyzi

[2017-07-26 13:03] billmilligan commented on #360
Not sure if it duplicates 353 but I'm pretty sure it does *not* duplicate 308, as you suggested offline.  I'm using Docker 1.12.6, which I believe doesn't use cgroupfs by default.

[2017-07-26 18:30] danehans opened #361 "TestSubCmdApiServerFlags Unit Test Failure"
I am using [really remote docker](https://github.com/kubernetes/kubernetes/blob/5eaeab4cc3287b4a989e388f8667b3d33af64dc5/build/README.md#really-remote-docker-engine) to build and run unit tests. Kubeadm tests are failing with the following error:
[code]
It appears the issue is related to the API server DNS name using my hostname in lowercase and certs_test.go requires the hostname in caps. The hos

[2017-07-26 19:11] piersbarrios commented on #344
@luxas : Wasn't fixed in v1.7.2
(I don't know if it's your will or not)

[2017-07-26 20:31] aanm opened #362 "external etcd keeps old kubeadm instance data conflicting with current kubeadm instance"
Choose one: BUG REPORT

I was trying out kubeadm 1.7.2 and I noticed whenever I enter `kubeadm reset`. The cluster is shut down and the containers disappear (as expected).

I have an external etcd cluster running and kubeadm connects to that etcd (3.1.0). The problems occurs when I init a new kubeadm instance, on the same machine. The old pods start reappearing creating conflicts with the current

[2017-07-26 21:26] rhatdan commented on #285
Any movement on this?  CRI-O is getting more mature, and we would like to point people to use kubeadm on it.

[2017-07-26 21:36] timothysc commented on #285
The check is here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/reset.go#L106 if folks want to propose an alternative to vet, PRs welcome just tag me on review.

[2017-07-27 00:18] vuiseng9 commented on #103
@heartarea Appreciate your steps. It works well.
Is this a bug? Why it is not being set as you suggested?

[2017-07-27 03:23] billmilligan commented on #360
Six days and counting and I still have no answers, just "waiting for control plane to become ready".  I have backed down to kubeadm 1.6.1, tried in both Ubuntu and CoreOS and same infuriating result.  Anybody, please...  I am way outside my area of expertise and just need to get some pods running so I can get back to development.

journalctl -r -u kubelet
[code]

/help-wanted

[2017-07-27 07:59] luxas commented on #362
That's actually kind of expected given the current code. It may not be optimal though and is probably something we can do better.

What would you expect? kubeadm to cleanup `/registry` on `kubeadm reset` and external etcd?
Currently, `kubeadm reset` does nothing when external etcd is set.

Very open to proposals
cc @justinsb @kris-nova as this touches kubeadm composability

[2017-07-27 20:49] #352 closed

[2017-07-28 13:44] gicappa commented on #344
not fixed neither for me.
[code]

[2017-07-28 18:40] Caldas commented on #347
Problem persists even after **v1.7.2**

[2017-07-28 18:48] erhudy commented on #347
Confirmed, problem is still present.

[2017-07-28 19:16] erhudy commented on #347
Looks like the PR to fix it hasn't been merged to master yet: https://github.com/kubernetes/kubernetes/pull/49073

After it's merged, it will also need to make it onto a backport branch for a 1.7.x point release.

[2017-07-28 20:08] mattmoyer commented on #347
@erhudy: It's a little confusing, but that change was already cherry picked onto the 1.7 branch (in https://github.com/kubernetes/kubernetes/pull/49094). The fix is released in [1.7.2](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#other-notable-changes).

It's still broken in `master` at the moment.

[2017-07-28 20:09] erhudy commented on #347
Oh, interesting. kubeadm 1.7.2 is still showing the behavior, so I'm going to take another look at it.

[2017-07-28 20:12] mattmoyer commented on #347
@erhudy ah, you're right I crossed the streams.

[2017-07-28 20:38] mattmoyer commented on #347
Apologies for all the back and forth and confusion here. I did more digging and I do see the purported fix backported to v1.7.2: https://github.com/kubernetes/kubernetes/blob/v1.7.2/cmd/kubeadm/app/preflight/checks.go#L544

I also confirmed that 1.7.2 still has the problem. I think that means https://github.com/kubernetes/kubernetes/pull/49073 is not a complete fix for the problem.

cc @stevenbowe

[2017-07-28 20:44] erhudy commented on #347
As far as I can tell, the problem is that in v1.7.0, the hostname check had the following structure:
[code]
The `node.GetHostname("")` call gets passed to a method which then returns the value of `os.Hostname()`. This comes back, gets looked up via `net.LookupHost(hostname)`, and passes.

In v1.7.2, the structure of this check changed. The hostnameCheck struct now has a `nodeName` field that is po

[2017-07-28 20:50] pipejakob commented on #347
@erhudy If you're able to confirm that it actually fixes the problem you're seeing, I don't think you'll get any pushback for such a patch. :-)

[2017-07-28 20:56] erhudy commented on #347
Right, just writing it up here in the event that there was some grander reason for restructuring it that I don't know about. I will work up a PR.

[2017-07-29 00:42] rmb938 commented on #347
Just to add an additional issue when using the --config flag and setting ```nodeName``` in the config the following error is given:

[code]

kubeadm.yaml

[code]

[2017-07-29 02:16] erhudy commented on #347
Pushed a PR against master that fixes this issue, both the blank default hostname and not registering the presence of `--node-name`. The PR can be trivially backported to 1.7.x (I tested against both master and 1.7.2).

[2017-07-29 14:47] msarti commented on #353
Same problem on CentOS 7.3, with systemd and selinux disabled.

[code]
kubeadm version:

[code]

kubeadm init:

[code]

[2017-07-30 07:42] ShahNawazKhan commented on #344
Ditto... Running 1.7.2 and the join fails. Giving --skip-preflight-checks seems to indicate that the join was successful, but the master never detects it and none of the required images on worker nodes get downloaded, so I image it must also be a bug.

Ps: I am joining a RPi3 with a x86 master.. I went ahead and created the cluster with kuberentes v1.7.0, which seems to work OK.

[2017-07-30 08:58] surajssd opened #363 "pod cannot bind to port on host on cluster brought up using kubeadm"
## Versions

**kubeadm version**

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:

- **OS** (e.g. from /etc/os-release):

all machines forming the cluster have following configuration

[code]

- **Others**

[code]

---

## What happened?

I am running an app on cluster(that was brought up using `kubeadm`), for some

[2017-07-30 19:49] ejilay commented on #347
Resulting this issue kube nodes cannot join master node cause of they are has the equal domain name, eg "" and "".

[2017-07-31 09:00] koalalorenzo commented on #347
Do we have an ETA for this bug to bi fixed? 👍

[2017-07-31 18:32] Techwolfy opened #364 "Build kubeadm for Windows Server"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.2",
GitCommit:"922a86cfcd65915a9b2f69f3f193b8907d741d9c", GitTreeState:"clean",
BuildDate:"2017-07-21T08:08:00Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes v

[2017-07-31 19:07] luxas opened #365 "Add an option to validate the CA Cert of the master using a hash in `kubeadm join`"
Proposal: https://docs.google.com/document/d/1SP4P7LJWSA8vUXj27UvKdVEdhpo5Fp0QHNo4TXvLQbw/edit?ts=5971498a
PR: https://github.com/kubernetes/kubernetes/pull/49520#issuecomment-319145433

@mattmoyer will later convert the proposal to markdown and check into git.

[2017-07-31 20:43] omkensey commented on #347
For the moment I downgraded my workers to kubeadm-1.7.0 and they joined a master initialized with 1.7.2 just fine, and even reported node version 1.7.2.  (CentOS 7 using the Kubernetes yum repo)

[2017-08-01 18:54] #347 closed

[2017-08-01 19:44] luxas commented on #280
What we can do/should do practically here is to not pass `--cluster-signing-cert-file` or `--cluster-signing-key-file` to the controller-manager if the CA key doesn't exist on disk.
That will automatically disable the in-cluster certificates controller.
ref:
[code]
We should emit a warning from kubeadm that we do this though...
cc @krousey

[2017-08-01 19:46] luxas commented on #194
Closing this as it's possible to self-host the certificates, but we won't enable this by default

[2017-08-01 19:46] #194 closed

[2017-08-01 20:09] luxas commented on #280
@nckturner volunteered to fix that :tada:
Reach out if you need any help contributing that

[2017-08-01 20:14] krousey commented on #280
I was going to argue that this should be an explicit option instead of implicitly triggered through a missing file, but the only way for that file to be missing at this point in the flow is if we didn't rely on kubeadm to generate the certs to begin with and took special precautions to make sure the master couldn't sign keys. So SGTM.

[2017-08-01 20:28] nckturner commented on #280
Thanks @luxas, will take a look and reach out with questions.

[2017-08-01 20:35] hickey opened #366 "Hostname not being detected"
## Is this a request for help?

A bit. Need to determine how the hostname is being derived.

## What keywords did you search in kubeadm issues before filing this one?

hostname

Figured that it is related to #135, but I could not fully track down the code. I was able to narrow down to kubernetes/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go, but not sure what is calling that co

[2017-08-01 20:38] hickey commented on #366
I should have added that the execution of kubeadm on the master was just fine. Same OS and configured the same as the worker nodes, but it is registered in DNS.

[2017-08-01 22:06] luxas commented on #173
This is now fixed

[2017-08-01 22:06] #173 closed

[2017-08-01 22:30] aanm commented on #362
No! this can be dangerous! what about a flag to be used with `kubeadm reset` to delete all etcd state?

[2017-08-01 23:40] hickey commented on #366
After getting DNS records pushed out, the same results occur when running kubeadm. Even tried rebooting the hosts to insure that there was not any local caches causing issues.

[2017-08-02 15:28] discordianfish commented on #203
@luxas Why is this tagged as kind/support? Is there any way to use kubeadm with a node ip which isn't the source of the default route?

[2017-08-02 16:42] ejilay commented on #366
See #347

[2017-08-02 17:51] hickey commented on #366
Yes, agree that it is the same issue. Going to close this issue and track #347.

[2017-08-02 17:51] #366 closed

[2017-08-03 06:27] luxas commented on #362
@aanm Exactly, that's why we don't do it ;)!

I'd be fine with that if you send a PR

[2017-08-03 08:44] spnzig opened #367 "kubeadm: kube-dns gives rpc-error failed to start container"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.7.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.7.2
- **Cloud provider or hardware configuration**: Hardware configuration with 2 Virtualbox VMs
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04LTS
- **Kernel** (e.g. `uname -a`): Linux 4.4.0-

[2017-08-03 12:30] luxas commented on #323
@svitlanacs I think you should enable that on the kubelets in your cluster.
Unfortunately, this `--feature-flags` option only controls kubeadm features, not the rest of the k8s ones, which you can set in other ways already.

This is now fixed with https://github.com/kubernetes/kubernetes/issues/48943

[2017-08-03 12:30] #323 closed

[2017-08-03 19:45] gtirloni opened #368 "1.7.3 - Init stuck "failed to run Kubelet: no client provided, cannot use webhook authorization""
## Versions

CentOS 7.3
Docker 1.12.6
kubernetes-cni-0.5.1-0.x86_64
kubeadm-1.7.3-0.x86_64
kubelet-1.7.3-0.x86_64
kubectl-1.7.3-0.x86_64

## What happened?

`kubeadm init` gets stuck at "Created API client, waiting for the control plane to become ready"

Kubelet shows:

[code]

[code]

[2017-08-03 19:49] luxas commented on #368
Haven't seen that one before. @runcom have you?

[2017-08-03 20:17] musse commented on #368
I have the exact same issue.

Versions:
Ubuntu 16.04.2 LTS
Docker 1.12.6
kubernetes-cni-0.5.1-0 amd64
kubeadm-1.7.3-0 amd64
kubelet-1.7.3-0 amd64
kubectl-1.7.3-0 amd64

[2017-08-03 20:18] luxas commented on #368
@musse @gtirloni We'll gonna fix this ASAP. Thanks for filing so quickly!
See: https://github.com/kubernetes/release/pull/386#issuecomment-320078299

[2017-08-03 23:50] pipejakob commented on #368
As noted on https://github.com/kubernetes/release/pull/386, the debs/rpms for 1.7.3 have been rebuilt with the revert patch and are now published as 1.7.3-1, with the original 1.7.3-0 packages removed. I've tested the new build and verified that it fixed this issue, but it would be great to have independent verification.

@gtirloni Can you test and confirm that this fixes you?

[2017-08-04 01:18] gtirloni commented on #368
@pipejakob the new packages fix the issue for me. thank you!

[2017-08-04 01:18] #368 closed

[2017-08-04 08:14] jjfiguep commented on #360
I have the same problem. Any help would be appreciated.

[2017-08-04 11:34] spnzig commented on #338
@analytik i have exactly the same problem as yours. My corporate network blocks gcr.io . So i am using a dongle for the install. However the provider IP keeps changing dynamically and is not under my control. So even i am looking out for a solution. Even if i keep my dongle plugged in, sometimes due to network resets the IP changes. Do you have any solution to this? How are you handling this?
@lux

[2017-08-04 17:30] pipejakob commented on #360
We released 1.7.3 yesterday. Can you confirm that you're still seeing this issue with kubeadm 1.7.3?

[2017-08-04 17:51] pipejakob commented on #368
@gtirloni Great to hear. Thanks for reporting the bug!

[2017-08-07 08:38] byungnam commented on #353
It seems I've successfully started kubeadm by running the kubelet _twice_. I don't know why. It just succeeded at the second run. Maybe I just killed the first kubelet during some waiting time, I guess?

Apparently, the CNI seems to be not a strictly-required plugin.

Closing this issue.

[2017-08-07 08:38] #353 closed

[2017-08-07 15:29] outcoldman opened #369 "kubeadm does not configure logrotation"
kubeadm does not configure logrotate for the cluster, my logs are already ~1.4Gb and growing.
If kubeadm is not going to provide an option for log rotation - can be helpful to identify that it is a manual step on https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/

At first want to confirm that this is an expected behavior. Also that this is not going to be a feature included with

[2017-08-07 15:35] outcoldman commented on #369
Added https://github.com/kubernetes/kubernetes.github.io/pull/4670

[2017-08-07 22:01] pipejakob opened #370 "Host knowledge sharing session about kubeadm e2e test infrastructure"
In order to help disseminate knowledge about how kubeadm e2e tests are configured, run, and have their results reported, I would like to host a knowledge sharing session over Zoom. This will be a walkthrough and demo of the different layers of test-infra and kubernetes-anywhere and hopefully largely driven by interactive questions.

This issue is to help coordinate schedules for those who would li

[2017-08-07 22:26] pipejakob commented on #370
If you're interested in attending, please mark your availability [here](https://docs.google.com/a/google.com/spreadsheets/d/13WGf0oS2jMbaLOX0GXXJ7HZL7nfW62IAMjAQrr5JySs/edit?usp=sharing). If none of the slots work for you, let me know and I'll try to add more.

[2017-08-08 09:14] fabriziopandini commented on #267
created [kubeadm: Implementing the controlplane phase #50302](https://github.com/kubernetes/kubernetes/issues/50302)

[2017-08-08 14:24] luxas commented on #364
cc @kubernetes/sig-release-feature-requests
Technically there is nothing stopping us from building kubeadm on Windows I think, and I'm 99.99% sure the join flow works on Windows. Only hard part is running kubelet with the right args and deploying a CNI network plugin that works both on Windows and Linux.

[2017-08-08 14:27] luxas commented on #351
Closing this as the kubelet API endpoint is properly secured and has been since v1.6.0

[2017-08-08 14:27] #351 closed

[2017-08-08 14:27] outcoldman commented on #369
Updated docs to specify that log rotation should be configured by admin.

[2017-08-08 14:27] #369 closed

[2017-08-08 14:31] luxas opened #371 "Make deploying the control plane self-hosted the default"
Title says kind of everything :)

[2017-08-08 14:32] luxas opened #372 "e2e-test the self-hosted mode of kubeadm"
Very important as soon as we turn on #371

[2017-08-08 14:34] luxas opened #373 "Upload configuration used at `kubeadm init` time to a ConfigMap"
And backport that to v1.7.4 for easier upgradability.

[2017-08-08 17:02] ceridwen opened #374 "After working correctly for several days, kubectl and the Python Kubernetes client can no longer connect to the API server"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.2", GitCommit:"922a86cfcd65915a9b2f69f3f193b8907d741d9c", GitTreeState:"clean", BuildDate:"2017-07-21T08:08:00Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Kubernetes versio

[2017-08-08 18:32] #23 closed

[2017-08-08 18:34] luxas commented on #361
Now fixed :+1:

[2017-08-08 18:34] #361 closed

[2017-08-08 20:05] luxas opened #375 "Remove all golint failures"
In `hack/.golint_failures` there is a list of packages that didn't pass golint:
That list exists also for kubeadm:
[code]

Fixing those failures will result in better code. We should do that.
This is a very good starter task.

[2017-08-08 20:21] yahonda commented on #367
I recall "kube-dns" failure with "cannot join network of a non running container"
when I was installing kubeadm on raspberry pi 3 using Hypriot OS Version 1.5.0 and installed `flannel`.

* `kubeadm init` with `--pod-network-cidr 10.244.0.0/16`

[code]

* Removed `KUBELET_NETWORK_ARGS` entries from `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` and restart OS(kubernetes nodes)
as suggested

[2017-08-09 06:30] fabriziopandini opened #376 "Apply ValidateMixedArguments to all kubeadm commands"
[PR #43558](https://github.com/kubernetes/kubernetes/pull/49498) introduced a validation check avoiding usage of `---config` (to provide a configuration) mixed with other CLI flags for `kubeadm init` and `kubeadm join` commands.
The same implementation should be done also for any other kubeadm commands/sub-commands with `---config` flag.
NB. I'm already doing this for some `kubeadm alpha phase`s I

[2017-08-09 09:55] christopher-avila commented on #360
@pipejakob I can confirm that the issue persists on 1.7.3, but when using 1.6.0, this issue does not exists. Except that in 1.6.0 the issue is that kubeadm init get stucked on "First node has registered, but is not ready yet". So...

[2017-08-09 15:38] pipejakob commented on #360
@christopher-avila Thanks for confirming. So, based on @billmilligan's kubelet logs, it looks like it's failing to connect to the apiserver, which also explains why kubeadm is stuck waiting for the control plane to come up.

In order to diagnose what's going wrong, can you look at the Docker logs for kube-apiserver to see what's failing there? It's possible that it's just crashing over and over ag

[2017-08-09 17:14] pipejakob opened #377 "Better detection and auto-debugging of "waiting for control plane" issues"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## TL;DR

A lot of common things can go wrong when `kubeadm init` gets stuck waiting for the control plane to become healthy. Instead of sitting idly, kubeadm should be proactively looking for common failures and reporting on them instead of requiring the user to manually investigate other sources of error messages.

## More context

A

[2017-08-09 20:05] CaptTofu commented on #342
I'll gladly take on this.

[2017-08-09 20:28] luxas commented on #342
Thanks @CaptTofu, just reach out to me if you need any help :)

[2017-08-09 20:38] luxas commented on #377
I've also thought about this and have it in my backlog -- thanks for filing an issue.
What makes this hard is that kubeadm CLI is agnostic to how you run your kubelet.
So we can't really check logs of kubelet nor docker (you can use other CRI runtimes)

What we definitely should do is to rephrase the message to something like:
`[apiclient] Waiting for the kubelet to start the Control Plane compone

[2017-08-10 03:32] #373 closed

[2017-08-10 12:34] jianlianggao commented on #203
@evocage there is no --apiserver-advertise-address=<host_only_adaptop_IP  for my kubeadm . How did you get that option?

many thanks.

[2017-08-10 13:05] jianlianggao opened #378 "Kubeadm init --api-advertise-addresses stringSlice not allow nodes to join master"
Hi there,
My master node (CentOS7 in VBox) has host-only and NAT network interfaces. kubeadm init always chooses NAT ip address (for Internet),, which can not be connected by other nodes. If I use option --api-advertise-addresses pointing master to the host-only ip. The kubeadm join runs ok on nodes, but the "joined" nodes are not listed. The master node still shows only itself. I doubt that the o

[2017-08-10 18:49] pipejakob commented on #370
It looks like Monday, August 14 @ 09:00 PST is the overwhelming winner. I'll send out an email/invite to the SIG mailing list. Thanks everyone for RSVPing!

[2017-08-10 19:00] tamalsaha commented on #370
@pipejakob , which sig is this one?

[2017-08-10 19:23] pipejakob commented on #370
@tamalsaha Anyone is invited to join, but since kubeadm is primarily discussed in SIG Cluster Lifecycle, that is the target audience where I just sent the invite. I'll also be covering some of the layers in `test-infra`, though, so anyone new to SIG Testing might find it useful.

All of the details for the meeting can be found in this [Google doc](https://docs.google.com/a/google.com/document/d/17

[2017-08-10 19:26] tamalsaha commented on #370
Thanks @pipejakob . I have received the invitation.

[2017-08-10 21:04] pipejakob commented on #354
Hey @plombardi89, were you able to confirm that kubeadm 1.7.3 fixes this issue for you?

[2017-08-10 21:53] pipejakob opened #379 "Create unit tests for uploadconfigphase"
Due to time constraints, the [uploadconfigphase](https://github.com/kubernetes/kubernetes/pull/50320) code was merged without any automated testing. It should have basic unit tests as well as idempotency tests to ensure that `kubeadm init` can still be used for [upgrades](https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-7/), since that process requires that all of the phases i

[2017-08-11 00:41] plombardi89 commented on #354
@pipejakob I have not confirmed. I might have some time tomorrow to give it a whirl.

[2017-08-11 03:00] jolestar opened #380 "kubeadm should support create user command"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm user

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
build from latest kubernetes code (commit 7ef5cc23d1b332559cd203f373c026855fc6ea90)

**Environment**:
- **Kubernetes version** (use `kubectl version`):
v1.7.3
- **Cloud provider or hardware co

[2017-08-11 08:56] Nighthawk22 opened #381 "kube-dns keeps restarting"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.7.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.7.3
- **Cloud provider or hardware configuration**: Hardware configuration
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.3 LTS (Xenial Xerus)
- **Kernel** (e.g. `uname -a`): Linux taa-kube-master 4.10.0-30-generic #34~16.04.1-Ubuntu SMP Wed Aug 2

[2017-08-14 06:38] Nighthawk22 commented on #381
Ok solved it myself.

Ubuntu uses localhost at the `/etc/resolv.conf`. So dnsmasq tries to resolve the entries by himself and keeps crashing.
After changing the resolv.conf everything works.

[2017-08-14 06:38] #381 closed

[2017-08-14 11:33] luxas commented on #379
As agreed, I'll take this follow up

[2017-08-14 12:14] #365 closed

[2017-08-14 13:24] luxas commented on #354
Closing this as it should be fixed with v1.7.3, reopen if not

[2017-08-14 13:24] #354 closed

[2017-08-14 14:21] luxas commented on #380
cc @timothysc WDYT?

@jolestar I worry we won't expose the scope of kubeadm much more, but it might be worth exploring what this would look like.

[2017-08-14 14:25] luxas opened #384 "Don't create the `system:certificates.k8s.io:certificatesigningrequests:nodeclient` ClusterRole in v1.9"
In v1.9, we can drop support for v1.7, which means that the `system:certificates.k8s.io:certificatesigningrequests:nodeclient` ClusterRole always will exist automatically (created by the API server on startup).
See issue: https://github.com/kubernetes/kubernetes/issues/48191
See PR: https://github.com/kubernetes/kubernetes/pull/49284

This is a cleanup task for v1.9

[2017-08-14 14:31] luxas opened #385 "Don't remove the subject of the `system:nodes` ClusterRoleBinding in v1.9"
See: https://groups.google.com/forum/#!topic/kubernetes-sig-cluster-lifecycle/1OIjHX-A3sI
In v1.7, the API server automatically created a ClusterRoleBinding between the `system:node` ClusterRole and the `system:nodes` Group (virtually any kubelet)

That had several downsides, and the Node Authorizer was introduced as the alternative.
But for the Node Authorizer to work, we had to remove the `syste

[2017-08-14 14:36] luxas opened #386 "Make sure that Kubelet Certificate Rotation is enabled in v1.8"
As https://github.com/kubernetes/features/issues/266 and https://github.com/kubernetes/features/issues/267 mature, we should enable them in the kubeadm-specific kubelet arg list (https://github.com/kubernetes/release/blob/master/debian/xenial/kubeadm/channel/stable/etc/systemd/system/kubelet.service.d/10-kubeadm.conf)

At least client cert rotation will be beta in v1.8. We should enable that behav

[2017-08-14 16:07] mikedanese commented on #280
Should we be checking if all of these exist and that the ca.key does not? I'm worried about masking both user and programmer error.

[2017-08-14 16:09] mikedanese commented on #280
Also the user experience here is not spectacular. It would be great to point kubeadm to and external CA and not require the user to place this list of files manually.

[2017-08-14 18:07] mhsabbagh commented on #193
This is still here on 1.7.3 with Ubuntu 16.04. Same exact problem. Have been trying all the possible solutions from disabling apparmor, changing the ports, making sure nothing blocks it.. It still doesn't work.

[2017-08-14 18:23] mikedanese commented on #280
Musing: A great end user experience would be allowing kubeadm to point to an ACME directory for issuance and call it a day.

[2017-08-14 18:47] berndtj opened #387 "IPTables default drop on ubuntu 16.04"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.7.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.7.3
- **Cloud provider or hardware configuration**: openstack
- **OS** (e.g. from /etc/os-release): ubuntu 16.04.2 LTS
- **Kernel** (e.g. `uname -a`): Linux bjung-master 4.4.0-62-generic #83-Ubuntu SMP Wed J

[2017-08-14 19:06] pipejakob commented on #379
It's possible that @medinatiger was going to pick this up as a starter task. Can you two sync up to make sure we don't duplicate the work?

[2017-08-14 19:21] luxas commented on #379
Please do. I'm currently really over-booked with work...

Please get in touch with me if you need any advice @medinatiger :)

[2017-08-14 19:27] medinatiger commented on #379
@luxas I will start to work on this very soon

[2017-08-14 23:58] netroby opened #388 "[RFC] add prefight command for kubeadm check the sandbox image requirement"
The kubeadm need some sandbox image to setup the kubernetes

[code]

Can we add a command ```kubeadm prefight```

It will list the pre images

[code]

So the user can pre download these images , prepare for kubeadm .

If not download these images. kubeadm will not quick to set up kubernete.

And often hang up due to network problem.

=====================================

ps: this issue imported f

[2017-08-15 12:22] luxas opened #389 "Support a `--dry-run` mode for all kubeadm functions"
Generally, all POST/PUT/PATCH/DELETEs, etc must be discarded in dry-run mode

On `kubeadm init`, all GET/LISTs will be faked; it will return values that it knows are valid to get the `kubeadm init` flow working well in dry-run mode.
On `kubeadm token`, `join`, `upgrade` where we can access an API server; it will proxy the GET/LIST to that API Server to get real values for kubeadm to react on.

Reg

[2017-08-15 12:26] luxas opened #390 "Use the apps/v1beta2 group in v1.9 for DaemonSets/Deployments"
We all want to get rid of the `extensions` API group. Part of the work being done there is moving workload objects to the `apps` API group. Deployments/DaemonSets are moved to `apps/v1beta2` in v1.8

Due to our version skew policy (CLI can handle k8s that is one minor version below itself), we can always assume the `apps/v1beta2` API group exists and use it in v1.9

[2017-08-15 18:26] pipejakob opened #392 "kubeadm e2e jobs failing"
Our [kubeadm-gce](https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce) e2e jobs are still failing, even after @krzyzacy completed the migration to Boskos.

This could be the introduction of a legitimate bug in kubeadm/Kubernetes with unfortunate timing, or could still be another subtle problem with the Boskos migration.

This issue is to coordinate and track the progress on debuggin

[2017-08-15 18:29] pipejakob commented on #392
Looking at the master on a recent run, it looks like kubelet is trying to run, but keeps crash-looping.

The start-up logs still show `kubeadm init` waiting for the control plane:

    Aug 15 18:14:33 ubuntu startupscript: [apiclient] Created API client, waiting for the control plane to become ready

and kubelet occasionally gets restarted with these flags:

    /usr/bin/kubelet --bootstrap-kubeco

[2017-08-15 18:32] pipejakob commented on #392
@krzyzacy It definitely seems like a legitimate bug on the master branch. I was going to do more triaging before looping in EngProd :-).

[2017-08-15 18:33] pipejakob commented on #392
Also, my last kubelet logs were width-truncated. Here's a better copy:

    Started kubelet: The Kubernetes Node Agent.
    2017/08/15 18:31:05 proto: duplicate proto type registered: google.protobuf.Any
    2017/08/15 18:31:05 proto: duplicate proto type registered: google.protobuf.Duration
    2017/08/15 18:31:05 proto: duplicate proto type registered: google.protobuf.Timestamp
    I0815 18:31:0

[2017-08-15 18:54] pipejakob commented on #392
It seems like a recent change that might make kubelet require its root directory to exist before it gets run (`/var/lib/kubelet`), rather than auto-creating it. It doesn't look like our Debian packages were ever creating it manually. https://github.com/kubernetes/kubernetes/pull/48487 looks like the culprit, but I want to confirm that kubelet was auto-creating this directory before to ensure this

[2017-08-15 23:23] anguslees commented on #277
I'd just like to highlight that doing something like this *automatically* is a terrible idea and will give you multiple sources of truth if etcd is internally partitioned.

I suspect recovery will need to be manually triggered, because by definition it is required when the etcd cluster is incapable of making robust automatic decisions.

[2017-08-15 23:26] xiang90 commented on #277
totally agree. we designed this to be a manual work, at least at etcd operator side.

[2017-08-16 18:14] luxas opened #393 "Move package `app/cmd/features` to `app/features`"
I don't think the generic `features` package should be under `cmd/kubeadm/app/cmd/features`, but instead `cmd/kubeadm/app/features`. Should be easy to fix.

cc @jamiehannaford could you do this?

[2017-08-16 18:16] luxas opened #394 "Add CLI flag for `cfg.FeatureFlags`"
As part of adding feature flags, we should add the CLI flag extension as well so it's easy to enable/disable features.

cc @jamiehannaford you did this work; do you wanna finish this :smile:?

[2017-08-16 19:47] timothysc opened #395 "RFE: Add support uninterruptible priority on control plane pods once prio+preemption is enabled."
This is a placeholder for 1.9+ to mark control plane pods as uninterruptible, to force the hosting kubelet to always kill other components 1st.

There exists edge cases today with the critical components annotation.

[2017-08-16 23:45] kimoonkim commented on #228
@juntaoXie Thanks. Updating systemd version per your [comment](https://github.com/kubernetes/kubeadm/issues/228#issuecomment-300960171) worked for me.

[2017-08-17 20:37] pipejakob commented on #370
Session 2 is scheduled for Monday, August 21 @ 09:00 PST. All of the links for the Zoom meeting and notes are the same.

[2017-08-18 03:07] warmchang commented on #360
I have the same problem, and wait so long time to :

[2017-08-18 04:06] gtaylor commented on #330
I'm still experiencing this with 1.7.3 during `kubeadm init`.

[2017-08-18 10:34] luxas commented on #350
This is now fixed thanks to https://github.com/kubernetes/kubernetes/pull/49419, woot!

[2017-08-18 10:34] #350 closed

[2017-08-18 10:35] luxas commented on #349
This now fixed thanks to https://github.com/kubernetes/kubernetes/pull/50302, woot!

[2017-08-18 10:35] #349 closed

[2017-08-18 10:35] luxas commented on #348
This is now fixed thanks to https://github.com/kubernetes/kubernetes/pull/50214, woot!

[2017-08-18 10:35] #348 closed

[2017-08-18 10:36] luxas commented on #340
Moving this out of v1.8, it's not gonna make it. Instead, we'll have `--dry-run` as a first step (#389)

[2017-08-18 10:39] luxas commented on #311
Unfortunately we didn't have enough resources to tackle this in the v1.7 timeframe and now during the v1.8 cycle we've been focusing on the v1.7->v1.8 upgrade route.
Since our v1.6->v1.7 upgrades were alpha, that was kind of okay anyway, but far from ideal.

We'll do better for the v1.7->v1.8 upgrade

[2017-08-18 10:40] luxas commented on #28
@mtaufen Kubelet Dynamic Configuration and the kubelet API type will be alpha in v1.8, but beta is targeted for v1.9, right?
Bumping kubeadm here to use it in v1.9

[2017-08-18 10:42] luxas commented on #265
@timothysc I assume this is not something you're gonna work on in the nearest future, right?
I'm kicking this out of v1.8

[2017-08-18 10:56] luxas commented on #14
The implementation PR is here: https://github.com/kubernetes/kubernetes/pull/48899

[2017-08-18 11:24] luxas commented on #330
@gtaylor You must set `--node-name` specifically to the name the node will have later (you should query the AWS API)

[2017-08-18 15:22] gtaylor commented on #330
After reading a handful of these issue threads, I think my issue is that I'm setting a non-default hostname, leading to the indefinite deadlocking. Even if kubelet's `--hostname-override` matches `--node-name`.

If I am understanding correctly, you can't use the node authorizer with a hostname that doesn't match the one returned by the AWS API. So you're always going to end up having to stick with

[2017-08-18 17:47] jainmnsh opened #396 "[apiclient] Created API client, waiting for the control plane to become ready stuck"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

## What keywords did you search in kubeadm issues before filing this one?
[apiclient] Created API client, waiting for the control plane to become ready stuck, I search through all open /close issues on this subject but I couldnt find on r

[2017-08-18 18:07] shashidharatd commented on #370
@pipejakob, is there a recording of the first session?. I missed it :(. now i am putting a meeting reminder.

[2017-08-18 18:10] shashidharatd commented on #370
Got the recording link from the doc. Thanks !

[2017-08-18 19:21] luxas commented on #370
@shashidharatd I'm glad you found the link to the video. See you next time :)

[2017-08-18 21:09] pipejakob commented on #311
Is there a new issue for automated tests for 1.7 -> 1.8 upgrades? If not, I think it's worth keeping this one open. @jessicaochen is working on a solution to automate the `kubeadm init` way of upgrading clusters, with an eye on parameterizing the source/destination versions so that we can easily set up jobs to test 1.6.x -> 1.7.x and 1.7.x -> 1.8.x.

[2017-08-18 21:16] luxas commented on #311
Yeah, now I saw the proposal for automated upgrades @jessicaochen has been working on; and it seems like we have an owner for this :tada:

[2017-08-18 21:16] luxas commented on #311
Not yet, we should create one

[2017-08-18 22:20] luxas opened #397 "`kubeadm phase selfhosting` should be `kubeadm phase self-hosting from-static-pods`"
We may want to add other subcommands for selfhosting tooling, not just implicitely convert from static pods to selfhosted cluster with the `kubeadm phase selfhosting` command

What name do you think is the best for converting from static pod to self-hosted?
 - `from-static-pods`
 - `upgrade-from-static-pods`
 - `convert-from-static-pods`
...
`kubeadm phase self-hosting` should have the `kubeadm ph

[2017-08-18 22:23] luxas opened #398 "Use the rbac/v1 group in v1.9 for all RBAC resources"
As RBAC transitions to GA, we should adopt that change as soon as we can. RBAC is going to GA in v1.8.

Due to our version skew policy (CLI can handle k8s that is one minor version below itself), we can always assume the rbac/v1 API group exists and use it in v1.9

This issue is similar to https://github.com/kubernetes/kubeadm/issues/390

[2017-08-18 22:24] luxas commented on #394
@fabriziopandini will send a PR for this

[2017-08-18 22:24] luxas commented on #393
@fabriziopandini will send a PR for this

[2017-08-18 22:31] luxas opened #399 "Revisit dry-run implementation options"
Action item from https://github.com/kubernetes/kubernetes/pull/50631
We should investigate what other approaches might work for dry-running in kubeadm.

Requirements:
 - Whatever object is returned/used; it should implement `clientset.Interface`
 - No modifications should be applied, but instead logged and exit cleanly
 - GETs/LISTs might in some cases be faked (for instance for `kubeadm init`, wh

[2017-08-18 23:25] rajatchopra commented on #396
Can you paste the output of 'kubeadm init' ?
Also check with 'netstat -tulpn | grep 8080' to confirm if anything is really bound to 8080 or not.

[2017-08-18 23:42] jainmnsh commented on #396
Here you go. nothing running on port 8080.

[root@node01 ~]# kubeadm init
[kubeadm] WARNING: kubeadm is in beta, please do not use it for production clusters.
[init] Using Kubernetes version: v1.7.4
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks
[preflight] WARNING: docker version is greater than the most recently validated version. Docker version: 17.07.0-ce-r

[2017-08-19 00:42] pipejakob commented on #370
Apologies for the late notice, but I just realized that I foolishly scheduled the next session on the day of the first coast-to-coast total solar eclipse in North America in 99 years. What's more, I even scheduled the meeting in the middle of the eclipse itself (local time). Many people in the US are going to be enjoying something far more [interesting](https://www.ted.com/talks/david_baron_you_ow

[2017-08-19 09:01] luxas opened #400 "Use the Downward API's PodIP field for selfhosted API Server's advertise address"
In order to support multiple masters, the `--advertise-address` value must be unique per-apiserver.
We should use the Downward API to achieve that automatically (using the `.podIP` field).

The only downside here is that we kind of lose the configurability of that value that we've had so far.
It's not critical for v1.8 per-se, but if we want to have this in v1.9, it's best to do this for v1.8 so w

[2017-08-19 09:05] luxas opened #401 "In v1.9, test deploying a v1.8 cluster automatically at HEAD"
A bit before v1.7 was cut, we added a e2e job for deploying a v1.6 cluster with a v1.7 client: https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.6-on-1.7

We'll do the same thing now for v1.8 when the beta.0 is cut and we have the v1.8 branch cut.

However, we should do better and create this job right from the beginning of the v1.9 cycle; in this case it will deploy a v1.8 clus

[2017-08-19 09:08] luxas opened #402 "Create an automated v1.7->v1.8 upgrade e2e test"
Similar to https://github.com/kubernetes/kubeadm/issues/311

@jessicaochen has a proposal for how to do this here :+1: https://docs.google.com/document/d/13BGepI99bw6rPoweRN_J65h3UDUMsyprTj3S65F1kOk/edit

This will utilize the `kubeadm upgrade` command: https://github.com/kubernetes/kubernetes/pull/48899

[2017-08-19 09:22] luxas opened #403 "Remove the deprecated apiconfig phase package in v1.9"
In v1.7, while the phases refactoring wasn't finished internally, there was a `cmd/kubeadm/app/phases/apiconfig` package that:
 - Waited for the kubelet to register itself and mark the master node with the right label/taint
 - Created ServiceAccounts for kube-dns and kube-proxy
 - Created RBAC roles for the kube-proxy, allowed Bootstrap Tokens to post CSRs and enabled auto-approving of those CSRs,

[2017-08-19 09:27] luxas commented on #310
Yay, this test is now enabled :tada:

[2017-08-19 09:27] #310 closed

[2017-08-19 09:35] luxas opened #404 "Action item tracker from the kubeadm-testing-focused meeting"
This is an issue with action items from #370

In our first meeting ([YouTube](https://www.youtube.com/watch?v=d59oQP7RqOk&t=1s)), we came up with these action items:
 - Check if somebody is using ignition actively
   - If not and it's broken, we'll remove it
   - If not but it's working, we'll deprecate it
   - If there are, we should talk with the guys in the kubeadm adoption WG to see if they ca

[2017-08-19 10:26] luxas commented on #125
@timothysc I think this is fixed now thanks to the refactoring work myself and others have made.
Reopen if you don't agree.

[2017-08-19 10:26] #125 closed

[2017-08-19 10:27] luxas commented on #126
Closing as I think we're in a good shape

[2017-08-19 10:27] #126 closed

[2017-08-19 15:55] luxas commented on #127
@timothysc requested an update on this issue, here we go:
 - Implement alpha Bootstrapping Checkpointing in the kubelet https://github.com/kubernetes/features/issues/378
 - Implement beta Add-then-kill DaemonSet UpdateStrategy https://github.com/kubernetes/features/issues/373
 - Improve alpha support for self-hosting with certificates as Secrets https://github.com/kubernetes/kubernetes/pull/50766

[2017-08-19 15:56] luxas commented on #127
cc @diegs for the "Add-then-kill" DaemonSet UpdateStrategy implementation, please link here when you have the PR up

[2017-08-19 15:58] luxas commented on #185
Closing this as it didn't get any traction, and also I think that kube-dns/kube-proxy is the only thing we should install by default; as that is where the Conformance bar is today.
If something like the Node Problem Detector becomes required for passing Conformance tests, we'll revisit and add it probably.

A proper addon-manager is the long-term solution here...

[2017-08-19 15:58] #185 closed

[2017-08-19 16:01] luxas commented on #247
@resouer This is out of scope for `kubeadm init`, but you will be able to do it with `kubeadm phase` by executing all phases but `kube-dns` and providing your own manifest instead.

In the meantime, we're not looking into a flag or something to `kubeadm init` to customize this.
Instead, it's expected that users do `kubeadm init && kubectl apply -f my-new-kubedns-manifest.yaml` if they need to.

[2017-08-19 16:01] #247 closed

[2017-08-19 16:02] luxas commented on #218
ping @cmluciano @caseydavenport any movement on this issue?

[2017-08-19 16:03] luxas commented on #148
Closing as a duplicate of #267 then, anyway we're really soon done with this one.

[2017-08-19 16:03] #148 closed

[2017-08-19 16:04] luxas commented on #131
@timothysc is working on implementing this; it's tracked in a features issue as well: https://github.com/kubernetes/features/issues/378

[2017-08-19 16:05] luxas commented on #128
@kargakis Do you think we should revisit/do this before v1.8 code freeze? How important do you think it is?
Right now, we're trying to be in sync with the other manifests in `cluster/`
cc @kubernetes/dns-maintainers

[2017-08-19 16:06] luxas commented on #250
ping @pipejakob any movement on this issue lately?

[2017-08-19 16:08] luxas commented on #294
ping @cmluciano any movement on this issue lately?

[2017-08-19 16:08] luxas commented on #262
Can any of you reproduce this with kubeadm v1.7?

[2017-08-19 16:10] luxas commented on #275
@leah03 In v1.8, you can now generate certs/kubeconfig files in beforehand by executing `kubeadm alpha phase certs all` and `kubeadm alpha phase kubeconfig all` and then moving over the `/etc/kubernetes` directory to the master where you're then running `kubeadm init`.
By doing that, you will be able to re-use your certs/credentials.

[2017-08-19 16:10] #275 closed

[2017-08-19 16:11] luxas commented on #287
Closing as I don't think this is an issue with kubeadm at least...

[2017-08-19 16:11] #287 closed

[2017-08-19 16:11] luxas commented on #302
This is fixed in the latest v1.6 release thanks to https://github.com/kubernetes/kubernetes/pull/48875 and in v1.7 thanks to https://github.com/kubernetes/kubernetes/pull/46772

[2017-08-19 16:11] #302 closed

[2017-08-19 16:13] luxas commented on #334
This was fixed with https://github.com/kubernetes/kubernetes/pull/48228 I think
@danehans reopen if not :)

[2017-08-19 16:13] #334 closed

[2017-08-19 16:15] luxas commented on #376
@fabriziopandini Is this now fixed for all phases?

[2017-08-19 19:33] luxas opened #405 "Make the certs-in-Secrets self-hosting mode working"
Currently, it is not working as intended. I don't have any proof handy, but it just hang when I tried it out.
I sent a PR to fix it though: https://github.com/kubernetes/kubernetes/pull/50766 (and greatly improve the code there)

[2017-08-19 19:34] luxas commented on #405
Assigning @andrewrynhard for review of that PR.

[2017-08-19 19:44] luxas commented on #261
Moving milestone to v1.9. We have a rough design doc in v1.8 and are building the ground work for making HA possible in v1.9

[2017-08-19 19:45] luxas commented on #277
Moving milestone to v1.9. In v1.8, we're gonna stick with a local etcd instance listening on localhost.

[2017-08-19 19:59] luxas opened #406 "Create a `kubeadm config` command"
In order to preserve configuration options on upgrades, we're automatically uploading the internal configuration used in v1.8+. However, we didn't do that in v1.7 unfortunately, but we still need some way to know how the v1.7 cluster was configured when upgrading.

`kubeadm upgrade apply` takes a `--config` file indeed, but it's pretty daunting UX-wise to have to write a config file just to upgrad

[2017-08-20 02:46] resouer commented on #247
`kubeadm init && kubectl apply -f my-new-kubedns-manifest.yaml` is exactly what I am doing, thanks.

[2017-08-20 02:51] tamalsaha commented on #247
@luxas , where can I learn more about kubedam phaes?

[2017-08-20 12:00] fabriziopandini commented on #376
Yes!
As of today MixedArguments can happen in following cases; between parenthesis you can find the PR that implemented the MixedArguments check/and or explanation of exception:
- `init` (#43558)
- `join` (#43558)
- `alpha phase certs` (#50691)
- `alpha phase controlplane` (#50302)
- `alpha phase etcd` (#50302)
- `alpha phase kubeconfig` (#50692)
- `alpha phase upload-config`(mixed arguments shoul

[2017-08-20 19:28] luxas commented on #280
@mikedanese Can you write up a short proposal for pointing to the ACME directory thing?
I think that'd be useful as well; but before we can use that fully the csrsigner should support ACME as well I guess?

[2017-08-20 19:29] luxas commented on #247
@tamalsaha Yes. I don't have any user-facing docs for this yet -- sorry, but the state in v1.7 was captured here (will be updated): https://github.com/kubernetes/kubeadm/blob/master/docs/design/design.md

Some rough notes are in https://github.com/kubernetes/kubeadm/issues/267 as well.
I hope to get to docs for this in some weeks.

In the meantime, check out the kubeadm adoption WG: https://docs.g

[2017-08-20 19:30] luxas commented on #247
And yes -- coming in v1.8

[2017-08-21 10:50] pengyue commented on #193
@mhsabbagh, I have the exact version as yours, 1 master, 3 nodes, the dashboard was setup on node 2 automatically when apply dashboard.yaml. and dashboard error looks like the same as others.

`Using HTTP port: 8443
Using in-cluster config to connect to apiserver
Using service account token for csrf signing
No request provided. Skipping authorization header
Error while initializing connection to K

[2017-08-21 11:22] tamalsaha commented on #247
Thanks @luxas !

[2017-08-21 13:28] ncdc commented on #399
I'm not aware of anything pre-baked for this

[2017-08-21 15:12] luxas commented on #399
@ncdc Thanks for confirming. Does this sound like a sane approach longer-term to you to do this (implemented in https://github.com/kubernetes/kubernetes/pull/50631):
 - Use the fake clientset in `client-go/kubernetes/fake` for prereq 1
 - Add a global reactor (resource: `*`, verb: `*`) that logs everything (and outputs attached objects from the caller if present, like the object on `update/create`

[2017-08-21 15:20] ncdc commented on #399
It sounds reasonable to me. I'm curious to know what @sttts had in mind re possible suboptimal issues.

For the forwarding bullet, maybe instead of having two separate implementations, it would be nice if we could come up with some functions similar to the `PrependReactor`/`AppendReactor` approach where we could control what was handled, what the fallbacks are (e.g. fall back to the dynamic client

[2017-08-21 15:27] luxas commented on #399
It was about future development of the fake clientset. Just to watch it isn't developed in a way that is incompatible with this flow. That is, now works; with a future refactor, who knows?

[2017-08-21 16:03] sttts commented on #399
My concern is/was that those fake clients are expected to run in tests and therefore might be changed in ways which are incompatible with non-test usage. E.g. we could add clever logging to them which is unacceptable in kubeadm.

One thing I remember is that we do not know whether types are namespaced inside fake client or something in this direction (some PR from @DirectXMan12 or me a handful of

[2017-08-21 16:13] cmluciano commented on #294
@caseydavenport @ekozan @luxas Based on the conversation here, should we just cross link the docs per CNI plugin that supports this?

[2017-08-21 16:15] cmluciano commented on #218
I was waiting on an update to https://github.com/kubernetes/kubernetes-anywhere/pull/390 , but it looks like this work has stalled.

[2017-08-21 17:45] luxas opened #407 "Review and improve the kubeadm UX further"
As @timothysc noted in https://github.com/kubernetes/kubernetes/pull/50967; we should soon-ish start to have more conversations generally on the kubeadm UX and how we can improve it further

Currently, all the UX discussion happens in PR reviews or in a design doc like the upgrade one.
We should maybe just play with kubeadm a little and review all text that is outputted and see what we think.

[2017-08-21 19:09] DirectXMan12 commented on #399
I vaguely recall that, I think we fixed it when I submitted all those PRs for getting metrics clients working.

Yeah, in my experience there's some amount of code in the fake clients that works pretty well for tests, but occasionally behaves in a confusing or non-standard way.  It's not unworkable, but it worth making sure they actually behave how you'd expect (e.g. they do label filtering for you

[2017-08-21 22:40] #337 closed

[2017-08-22 05:20] ParagDoke commented on #396
I see the same on Ubuntu 16.04 also. Pasting command outputs (hoping to help debug).

[code]

Additionally, docker containers for the control plane are up.
[code]
Kubelet shows (the same?) problem:
[code]

Related to https://github.com/kubernetes/kubernetes/issues/43815 ?

[2017-08-22 05:31] ParagDoke commented on #396
CC @mikedanese (who suggested a patch) and @luxas (who summarized the problem at the end).

[2017-08-22 07:59] jiangpengcheng commented on #396
I met the same error on CentOS 7,2.1511 before

the error log looks like below:

[code]
just change the `cgroup driver` in /etc/systemd/system/kubelet.service.d/10-kubeadm.conf, and kubeadm is ok.

hope this will be helpful

[2017-08-22 10:39] luxas commented on #218
@cmluciano Any chance you could take up the lead on this due to https://github.com/kubernetes/kubernetes-anywhere/pull/390#issuecomment-320702184?

[2017-08-22 10:44] #405 closed

[2017-08-22 11:50] cmluciano commented on #218
I have to finish out some SIG-Network features and then I can address the comments in there.

[2017-08-22 11:55] ParagDoke commented on #396
Thanks @jiangpengcheng. Maybe a different issue on CentOS then.
For me (on Ubuntu 16.04), using the unstable package worked (I got kubeadm 1.7.4).

[2017-08-22 14:02] luxas commented on #307
Fixed with https://github.com/kubernetes/kubernetes/pull/47698, thanks @fabriziopandini!

[2017-08-22 14:02] #307 closed

[2017-08-22 14:11] luxas commented on #337
Great to have this issue closed, thanks @kad!

[2017-08-22 14:13] luxas commented on #336
Moving this to v1.9, where a holistic pass on refreshing the API and making v1alpha2 and/or v1beta1 API groups is planned

[2017-08-22 15:29] luxas commented on #389
This is not yet fully fixed, sending a PR now...

[2017-08-22 16:43] luxas commented on #294
@cmluciano Yes, we should link to the each provider's own docs.
We already have the tabs in place, etc. so it should be pretty straightforward :+1:

@cmluciano Can I assign this to you?

[2017-08-22 18:19] thomas-oo commented on #228
Still getting this issue for two days now, I am running all this behind a proxy and there doesn't seem to be a problem.
kubeadm init hangs on waiting for the control plane to become ready. When I do docker ps, the containers are running but no ports are behind allocated (I don't know if it's supposed to but ok). etcd is also running fine. However when I look at my kubelet service, it says Unable t

[2017-08-22 18:36] selvik commented on #396
@ParagDoke Can you share the steps you used to install kubeadm 1.7.4? I am facing the same issue as you did. Thanks!

[2017-08-22 20:05] jainmnsh commented on #396
@jiangpengcheng  my /etc/systemd/system/kubelet.service.d/10-kubeadm.conf file has following entry for cgroup, can you let me know what you change for this value?

Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"

[2017-08-22 20:49] thomas-oo commented on #396
@jainmnsh run docker info | grep Cgroup. That'll tell you what cgroup driver your docker is using, replace that value with systemd in the line Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"

Anyways, I have the same issue but it is not a cgroup driver issue, I suspect it is because I am running behind a proxy. I can still pull the docker images and run them but when I curl to <machine e

[2017-08-22 21:49] pipejakob commented on #392
The kubelet rootDir regression is fixed, so now our e2es are getting further. They're still red, though, and all e2es seem to pass, but the log-dump step is failing:

    W0822 21:37:47.629] 2017/08/22 21:37:47 util.go:133: Step 'make -C /workspace/kubernetes-anywhere FORCE_DESTROY=y destroy' finished in 2m38.317499299s
    W0822 21:37:48.507] 2017/08/22 21:37:48 main.go:204: Saved XML output to /

[2017-08-22 21:53] krzyzacy commented on #392
@shyamjvs I thought you added more logs around the dump script? Or this is busted before the first log?

[2017-08-22 22:06] pipejakob commented on #392
You can also see recent job runs of kubeadm-gce here for the full logs:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce

[2017-08-22 22:34] cmluciano commented on #294
Yes I will update the docs. It looks like only calico has this so far. The weave PR seems to be pending.

[2017-08-22 22:51] shyamjvs commented on #392
@krzyzacy Yes, I added more logs (but in release-1.7 branch only) and none of them got printed. Seems like it didn't even enter the script. Explained here - https://github.com/kubernetes/kubernetes/issues/50760#issuecomment-324172585

[2017-08-23 02:17] jainmnsh commented on #396
@thomas-oo thanks for responding. my cgroup is "cgroupfs", I have updated conf with changes, but still can't bypass it. I am not even running behind the proxy. just simple azure VM installed centOS. I didn't built any docker images yet I am just trying to run "kubeadm init" to initiate master machine.

I am new to Kubernetes and can't move forward. appreciate your help in progressing further.

[2017-08-23 04:53] Shandoa commented on #228
FWIW, I had this same problem on GCP using Ubuntu 16.04 using the following commands in a clean project:

# gcloud compute instances create test-api-01 --zone us-west1-a --image-family ubuntu-1604-lts --image-project ubuntu-os-cloud --machine-type f1-micro --description 'node 1 for api testing'

# gcloud compute instances create test-api-02 --zone us-west1-b --image-family ubuntu-1604-lts --image-

[2017-08-23 09:56] tamalsaha opened #408 "Running out-of-tree cloud controller with kubeadm"
Hi, I am trying to use my custom out-of-tree cloud provider with Kubernetes. I am able to run it thanks to help from @luxas . But I noticed that kubelet calls apis like `NodeAddressByProviderID()` with empty `providerID` for `external` cloud provider. Digging in the code for 1.7 branch, I see that `Kubelet.Cloud` is null for `external` cloud-providers. As a result `GetInstanceProviderID(..)` retur

[2017-08-23 10:04] jiangpengcheng commented on #396
@jainmnsh would you please show your output of `journalctl -eu kubelet`?  It may give the detail error messages

[2017-08-23 11:42] idoop opened #409 "'service-node-port-range' low port below 18000 err"
## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):**^**
- **Cloud provider or hardware configuration**:`CPUv4 , Mem:4G, Storage:20G,IP:192.168.1.222`
- **OS** (e.g. from /etc/os-release):`Ubuntu 16.04.3 LTS`
- **Kernel** (e.g. `uname -a`):`4.4.0-62-generic`
- **Others**:
  -  `apt-get kubeadm kubectl kubelet`
  -  `ku

[2017-08-23 13:22] errordeveloper commented on #408
xref https://github.com/kubernetes/features/issues/88

[2017-08-23 13:28] thomas-oo commented on #396
@jainmnsh after you've replaced it, I forgot to mention to run `systemctl daemon-reload` and try to run `kubeadm init` after.

[2017-08-23 13:51] thomas-oo commented on #396
Update on my issue: It was indeed a proxy issue, if anyone else was having the same scenario as myself:

If your kubeadm init is hanging but when you run docker ps and the containers are running.
Check to see that you can access your apiserver at localhost:6443 if so, try at <public ip>:6443. If the public ip fails, check the logs of your controller-manager by doing docker logs <id of controller-m

[2017-08-23 14:13] tamalsaha commented on #408
Found a duplicate https://github.com/kubernetes/kubernetes/issues/49836

[2017-08-23 14:13] #408 closed

[2017-08-23 15:19] luxas commented on #408
@tamalsaha Bug/limitation in the CCM. Will be fixed for sure.

[2017-08-23 15:19] luxas commented on #406
Merged, woot :tada:!

[2017-08-23 15:19] #406 closed

[2017-08-23 15:20] luxas commented on #298
This will be fixed once https://github.com/kubernetes/kubernetes/pull/50063 is merged
cc @dixudx

[2017-08-23 15:20] luxas commented on #393
Fixed with https://github.com/kubernetes/kubernetes/pull/50976 :+1:

[2017-08-23 15:20] #393 closed

[2017-08-23 15:20] luxas commented on #394
Fixed with https://github.com/kubernetes/kubernetes/pull/50976 :+1:

[2017-08-23 15:20] #394 closed

[2017-08-23 15:23] dixudx commented on #298
@luxas Yeah. Right. Will rebase and retest once #46597 gets merged.

[2017-08-23 16:04] luxas commented on #392
@pipejakob Let's close this and track the remaining DumpClusterLogs in https://github.com/kubernetes/kubernetes/issues/50760 to avoid information sprawl.

Reopen if you don't agree.

[2017-08-23 16:04] #392 closed

[2017-08-23 19:53] luxas commented on #371
In https://github.com/kubernetes/kubernetes/pull/50968 there is context why we chose to not enable this by default in v1.8. It will still be available and supported at a beta level. Deferring defaulting to self-hosting in  v1.9 instead.

[2017-08-23 19:56] luxas commented on #364
cc @kubernetes/sig-windows-feature-requests

[2017-08-23 20:28] ErikOShaughnessy commented on #324
I "fixed" this problem by including all my cluster node IPs in NO_PROXY and using the same NO_PROXY on all the minions when joining the cluster.

To be honest, I'm not sure if it's all the IP addresses being enumerated or the .example.com that fixed the problem.

[2017-08-23 21:36] kapilt commented on #261
can the docs linked here be made public, all of them get an access permission request form clicking through to them, is there a current design doc extant?

[2017-08-23 21:38] kapilt commented on #261
found it https://github.com/kubernetes/features/issues/357

[2017-08-23 21:59] luxas commented on #261
@kapilt yes, https://docs.google.com/document/d/1ff70as-CXWeRov8MCUO7UwT-MwIQ_2A0gNNDKpF39U4/edit it is

[2017-08-24 03:44] kokhang opened #410 "Controller-manager needs to mount hostpath the flexvolume plugin dir"
I am using Kubeadm to setup my K8S cluster. I am also trying a flexvolume. https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md

The controller-manager by default loads flex volume plugins from `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/`, which can be overwritten by passing the `--flex-volume-plugin-dir` arg.

The problem I’m seeing is that since the kube

[2017-08-24 06:18] luxas commented on #342
Moving this out of the v1.8 milestone

[2017-08-24 06:25] luxas commented on #238
Sent a PR for this https://github.com/kubernetes/test-infra/pull/4176

[2017-08-24 06:25] luxas commented on #410
@kokhang will send a PR for this :+1:

[2017-08-24 12:40] kapilt opened #411 "join w/ master dns name writes ip to kubelet config"
i'm using kubeadm in a corporate cloud environment with enforced node recycling, one of the challenges of using kubeadm is that join will always use the ip address of the master instead of a passed in dns name (master cert also with subject alt to include dns name). the join ends up writing out the master ip to the kubelet.conf which complicates rotation/restoration of the master. given the symmet

[2017-08-24 12:42] kapilt commented on #411
related #338

[2017-08-24 16:03] luxas commented on #364
Talked to @michmike about this, and we're not gonna do this for v1.8
Instead we're gonna look into deeper integration possibilities for v1.9

[2017-08-24 16:53] pipejakob opened #412 "kubeadm master e2e job failing (BeforeSuite, KubeletNotReady)"
The kubeadm master branch CI job has a new failure, during `BeforeSuite`.

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce

Here is an example of a failed job:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/5219

The cluster comes up, and has weave-net deployed, but this message is spamming the client side logs:

    I0824 14:32:3

[2017-08-24 17:07] pipejakob commented on #412
If anyone has the bandwidth, a really quick test anyone can do is to follow our normal kubeadm cluster setup instructions using the newest CI artifacts to see if you can reproduce the problem.

You can either build the artifacts yourself from master, or grab the CI debs from here:

gs://kubernetes-release-dev/bazel/v1.8.0-alpha.3.99+1957e4a2ced19d/bin/linux/amd64

For instance, you can do this on

[2017-08-24 17:43] pipejakob commented on #412
Using the builds from our last good, green run, if I just do `kubeadm init` for the master, and then `kubectl get pods --all-namespaces`, I get this output:

    $ kubectl get pods --all-namespaces
    NAMESPACE     NAME                             READY     STATUS    RESTARTS   AGE
    kube-system   etcd-master                      1/1       Running   0          24s
    kube-system   kube-apiserv

[2017-08-24 17:46] pipejakob commented on #412
For reference:

Last known good commit: 3f7872342
First known bad commit: b2f324403

There are many commits between them that don't have e2e runs, so it would also be useful to bisect and see exactly what commit broke this behavior if it isn't obvious from the diffs.

[2017-08-24 18:17] luxas commented on #411
@timothysc @mattmoyer ^

[2017-08-24 18:32] pipejakob commented on #412
Looks like https://github.com/kubernetes/kubernetes/pull/46597 was the cause, but we're hoping that https://github.com/kubernetes/kubernetes/pull/50063 fixes things.

[2017-08-24 18:36] mattmoyer commented on #411
+1, this seems reasonable to allow a hostname and validate the certificate against that hostname rather than pre-resolving to an IP address.

[2017-08-24 21:10] mattmoyer commented on #411
I was confused because I thought this already worked, and I just tested to confirm and it seems to:
[code]

[code]

In this case I have a (local) DNS entry for `k8s-api.myservice.foo.local` that resolves to my API server IP. The only missing thing right now is that there's no way to get `kubeadm init` to print out the right `kubeadm join` command with a hostname. However, if you substitute in the

[2017-08-25 00:36] dixudx commented on #412
Latest [pull-kubernetes-e2e-kubeadm-gce](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kubeadm-gce/?) seems to have nothing with #46597.

Wrong settings on the flags.

For https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/5219, @pipejakob I did not find any obvious logs on the hostpath type.

[2017-08-25 00:37] thockin commented on #412
Other than bisection, how do we know that PR causes the failure?  What is actually failing?  The new field is optional.

[2017-08-25 02:32] anguslees opened #413 "apiserver fails to start because livenessprobe is too aggressive"
**[Lubomir] NOTE**: possible fix was submitted here:
https://github.com/kubernetes/kubernetes/pull/66264

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.3+2c2fe6e8278a5", GitCommit:"2c2fe6e8278a5db2d15a013987b53968c743f2a1", GitTreeState:"not a git tree", BuildD

[2017-08-25 04:05] mtaufen commented on #28
Yes, or even GA in 1.9. It's probably most reasonable to focus on a "clean" API in kubeletconfig v2 and just canonize the existing one that people depend on in v1 ASAP, so that we can start thinking about v2.

[2017-08-25 08:35] jiangpengcheng commented on #344
I met this error too, but not related to the cgroup driver.

When the kubelet service is configured with

`--feature-gates=RotateKubeletClientCertificate=true,RotateKubeletClientCertificate=true`

the command `kubeadm join` looks succeed, but the master node can not find the join node,

and `journalctl -efu kubelet` gives the following messages:

[code]

looks like it's hanging on the requesting f

[2017-08-25 10:47] kapilt commented on #411
The issue is when i examine the contents of /etc/kubernetes/kubelet.conf its the  ip address of the master not the dns name thats configured. If we join with dns name, i would expect to see the dns name here.

join
[code]

config file
[code]

[2017-08-25 11:23] luxas commented on #238
This is now fixed; relevant extract from latest CI e2e runs:
[code]
vs earlier
[code]
Now we can detect regressions at HEAD much faster, yay :tada:

[2017-08-25 11:23] #238 closed

[2017-08-25 11:28] luxas commented on #128
Moving this out of v1.8 due to the lack of response.
This isn't that important now when we're using a single replica of DNS, but we probably want this once/if we start deploying the horizontal DNS autoscaler with kubeadm.

[2017-08-25 11:29] luxas commented on #400
Moving this to v1.9 to minimize the risk of merging something like this in this point in the cycle.
This is only useful for HA in any case anyway...

[2017-08-25 11:30] luxas commented on #397
This was fixed with https://github.com/kubernetes/kubernetes/pull/51195 :tada:

[2017-08-25 11:30] #397 closed

[2017-08-25 14:21] luxas commented on #412
Oddly enough, the job went back to being 100% green again...
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce

Not sure what happened there tbh

[2017-08-25 14:25] liggitt commented on #412
yeah, the field is optional and defaults to a no-op... I don't see any behavior changes on that that would have hit kubeadm

[2017-08-25 14:28] dixudx commented on #412
@luxas @liggitt Thanks for this clarification. I am relieved. :-)

[2017-08-25 15:02] mattmoyer commented on #411
Ah, I see what you mean. The initial kubeadm discovery process works but then the bootstrap kubelet config (`/etc/kubernetes/bootstrap-kubelet.conf`) ends up configured incorrectly with the IP. I'll take a look at where this happens.

[2017-08-25 17:30] pipejakob commented on #412
Yup, the job is back to green which means I have no idea what was actually going wrong. Closing.

[2017-08-25 17:30] #412 closed

[2017-08-25 19:34] luxas commented on #298
This is now fixed with https://github.com/kubernetes/kubernetes/pull/50063 :tada:

[2017-08-25 19:34] #298 closed

[2017-08-25 21:00] pipejakob commented on #413
It seems that we set both `InitialDelaySeconds` and `TimeoutSeconds` to 15 for the control plane pods currently, which matches what `kube-up.sh` does as well. I understand the initial launch being slow, with all of the images are being pulled at once, but after all of the images have been pulled, how long does it take your apiserver to respond to `/healthz` checks after being launched?

No doubt w

[2017-08-25 21:23] #389 closed

[2017-08-25 22:28] luxas commented on #14
Not quite yet fixed, one of two PRs for this has merged

[2017-08-26 09:29] luxas commented on #410
Woot, fixed with https://github.com/kubernetes/kubernetes/pull/51296 :tada:!

[2017-08-26 09:29] #410 closed

[2017-08-26 09:31] luxas commented on #263
@jamiehannaford @timothysc @pipejakob I'm moving this issue to the v1.9 milestone as we didn't have enough resources to do this in v1.8 (if nobody volunteers  ~now)

[2017-08-26 09:31] luxas commented on #263
At least, this is not _blocking_ the v1.8 release IMO

[2017-08-26 17:48] luxas opened #414 "`--enable-bootstrap-token-auth=true` should be set when using v1.8.0-beta.0 or higher"
Thanks to https://github.com/kubernetes/kubernetes/pull/51198, we now have a beta flag for enabling the BootstrapTokenAuthenticator. We should use the old flag (`--experimental-bootstrap-token-auth`) for versions below `v1.8.0-beta.0`, but the new one (`--enable-bootstrap-token-auth`) for all versions equal to and above.

I'm sending a PR for this

cc @mattmoyer

[2017-08-27 15:37] #414 closed

[2017-08-28 02:29] kapilt commented on #411
this appears to be the issue https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/config/masterconfig.go#L45

[2017-08-28 04:09] kapilt commented on #411
fixing it there has a minor ripple to generating the api server pod's cli params to use the netutil.ChooseBindAddress. i.e. the root reason afaics for the early rewrite of the configured value was its use in both the client config as well as there server bind addresses, separating the two uses allows the use of a dns entry for the client.

[2017-08-28 05:45] ParagDoke commented on #396
@selvik
[code]
Notice presence of "-unstable".

Others, sorry for responding with Ubuntu specific steps on a CentOS related thread.

[2017-08-28 11:04] anguslees commented on #413
Once started it can respond to health checks in << 15s.

[2017-08-28 11:09] anguslees commented on #413
oh, and the docker pull time doesn't count against InitialDelaySeconds afaics (good).  In other examples with larger (generic ubuntu) images over my slow network link, the pull can take *many* minutes but the initialDelaySeconds timer doesn't seem to start ticking until the pull has completed and the docker run has started.  (I haven't looked at the relevant code - just frequent anecdotal experien

[2017-08-28 13:03] kapilt commented on #411
fwiw, I have fixes against 1.7 release branch here https://github.com/kapilt/kubernetes/tree/kubeadm-use-advertised

I assume I should replant to 1.8 trunk, is this something that is appropriate for a pr to the extant release branch?

[2017-08-28 14:09] mattmoyer commented on #411
@kapilt great! We'll definitely want it rebased onto `master`/trunk for 1.8. Once we get a PR set up for 1.8 we can talk to @wojtek-t and others to decide if it's something we should cherry pick into the 1.7.x series.

[2017-08-29 07:13] gogeof commented on #193
I also have this problem, and after I restart docker, it fix.

[2017-08-29 18:56] mafzst commented on #203
I ran into the same issue on Scaleway.

When I've initialized the master I've passed `--apiserver-advertise-address=<private_net_IP>` but when I want to add a node (`kubeadm join --toke=<token> <master_private_IP>:6443`) kube-proxy and weave-net pods won't start (error syncing pod)

But when I attach a public IP to my node et reboot it everything goes well :thinking:

Any idea?

[2017-08-30 18:23] pipejakob opened #415 "Add kubeadm CI jobs back to release-1.6-blocking"
The kubeadm CI jobs for 1.6 were [previously added](https://github.com/kubernetes/test-infra/pull/2375) to the `release-1.6-blocking` testgrid tab, but then [removed](https://github.com/kubernetes/test-infra/pull/3028) some time later as part of a sync with `releaselib.sh`.

This likely explains why no one noticed that all kubeadm 1.6 e2e jobs [stopped working](https://github.com/kubernetes/kubern

[2017-08-30 20:23] koalalorenzo commented on #413
I am running the same problem. With slow machines `kubeadm` sits forever. Using v1.7.4

[2017-08-30 20:35] pipejakob commented on #413
@anguslees and @koalalorenzo, can you confirm that if you manually change the liveness probe settings (by editing the manifest files in `/etc/kubernetes/manifests/`) that this fixes your problem? I also recently saw a case on Slack where the user had the same symptoms but was likely running into memory constraints, because the problem went away when they moved to a host type with more memory.

I j

[2017-08-31 19:37] praseodym commented on #413
I'm also experiencing this issue when attempting to use kubeadm in QEMU without hardware-assisted virtualisation (which is a bad idea because it is terribly slow). Increasing the InitialDelaySeconds and TimeoutSeconds helps; the cluster will then eventually come up.

[2017-08-31 23:47] anguslees commented on #413
@pipejakob I can confirm that (on my bananapi) running this in another terminal at the right point in the kubeadm run makes everything come up successfully:
[code]

(I usually also manually `docker kill` the old/restart-looping apiserver container, I'm not sure if that gets cleaned up automatically with static pods)

[2017-09-01 01:19] pipejakob commented on #413
@anguslees Great! Thanks for confirmation.

[2017-09-01 06:47] shashidharatd opened #416 "Ability to configure user and cluster name in AdminKubeConfigFile"
When we bring up k8s cluster using `kubeadm`, the cluster is configured with default cluster-name of `kubernetes` and user name `kubernetes-admin` in admin.conf kubeconfig file.
When user wants to deploy multiple clusters and manage them from same kubeconfig file by merging the kubeconfigs of multiple deployments, there will be duplicate user-names but different users, which makes it difficult to

[2017-09-01 07:24] shashidharatd commented on #416
/cc @fisherxu

[2017-09-01 09:58] alexjmoore commented on #413
I can confirm I've also just had this issue, in my case on an raspberry pi 3.  Changing to 180s fixed it, however I think I also encountered issue #106 as in my case it simply died with:

Sep  1 10:47:30 raspberrypi kubelet[6053]: W0901 10:47:30.020409    6053 kubelet.go:1596] Deleting mirror pod "kube-apiserver-raspberrypi_kube-system(7c03df63-8efa-1
1e7-ae86-b827ebdd4b52)" because it is outdated

[2017-09-01 11:16] cristic83 opened #417 "Etcd doesn't start on master after reboot on AWS host"
BUG REPORT

## Versions

**kubeadm version**: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381", GitTreeState:"clean", BuildDate:"2017-08-17T08:30:51Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"7", GitVers

[2017-09-01 23:50] luxas opened #418 "Make the addons phase invokable from the `kubeadm phase` CLI"
There currently is the `app/phases/addons` package, but it's not exposed as `kubeadm phase addons <component> [flags]` as it should be

That should be fixed for v1.8, and https://github.com/kubernetes/kubernetes/pull/51171 is in flight for that :+1:

[2017-09-02 21:17] eddytruyen opened #419 "Documentation request for https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/"
**This is a...**

- [ ] Feature Request
- [ ] Bug Report
- [x] Documentation request
**Problem:**
Many CNI-based plugins do not set hairpin mode which allows pods to access themselves via their Service IP, if they don't know about their podIP.
https://github.com/containernetworking/cni/issues/476
This is not documented in kubeadm. However kubeam only supports CNI-based plugins and not kubenet-base

[2017-09-03 02:26] #280 closed

[2017-09-03 12:48] #14 closed

[2017-09-03 22:54] #377 closed

[2017-09-04 08:16] jamiehannaford opened #420 "Investigate rollback options for upgrade"
In Lucas's upgrades PR a discussion span off about how we can ensure clusters are never left in a corrupted state after failed/borked upgrades. I think @pipejakob encapsulated it best:

More context here: https://github.com/kubernetes/kubernetes/pull/48899#issuecomment-325017058. We should look at if there's any easy way to do this.

/cc @luxas @timothysc

[2017-09-05 06:41] 3792274 commented on #217
[code]

error: failed to run Kubelet: cannot create certificate signing request: User "system:anonymous" cannot create certificatesigningrequests.certificates.k8s.io at the cluster scope.

[2017-09-05 07:35] jamiehannaford opened #421 "Supporting upgrades on non-kubeadm provisioned clusters"
It'd be great if clusters that weren't created by kubeadm could later use `kubeadm upgrade` functionality. For example, imagine I provision a cluster with bootkube or another tool, I might later want to use the kubeadm CLI to perform upgrades. Re-provisioning with kubeadm might be non-trivial for these users whose dev process is tied up in other tools.

Upgrading bootkube clusters is currently non

[2017-09-05 07:47] TristanPeers opened #422 "DNS is not updated with new services"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.4", GitCommit:"793658f2d7ca7f064d2bdf606519f9fe1229c381", GitTreeState:"clean", BuildDate:"2017-08-17T08:30:51Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`): Client Version: ve

[2017-09-05 09:26] BenHall commented on #193
Also hitting this on a fair frequent basis with Kubernetes 1.7.

Running `iptables -P FORWARD ACCEPT` and redeploying appeared to fix it but this isn't great when teaching people how to get started...

[2017-09-05 10:41] tamalsaha commented on #421
I think a more generalized solution will be to have a `kubeadm adopt` command that adopts any non-kubeadm provisioned cluster into a kubeadm provisioned cluster. After that any other kubedm commands should work. I expect this adoption process to be a one-way journey.

[2017-09-05 15:05] luxas commented on #193
@BenHall please open a new issue with relevant details.

[2017-09-05 15:07] luxas commented on #419
Sounds good to me to do such a doc change?
@eddytruyen as you have the context, can you please send a PR and I'll review?

[2017-09-05 21:28] eddytruyen commented on #419
@luxas Ok, it's my pleasure.

Should I add it to the [Troubleshooting](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/setup/independent/create-cluster-kubeadm.md#troubleshooting-troubleshooting) section or the [network add-ons](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/setup/independent/create-cluster-kubeadm.md#34-installing-a-pod-network-pod-network

[2017-09-05 22:17] eddytruyen commented on #419
Note that the problem that pods cannot reach themselves via their service ip is discussed as an item of the [debug services](https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#a-pod-cannot-reach-itself-via-service-ip) page of the general Kubernetes documentation. The first paragraph of this item's description suggests that the hairpin-mode can be set by setting a flag of the

[2017-09-06 09:26] neolit123 commented on #330
i'm getting this hang:
`[apiclient] All control plane components are healthy after XX seconds`

with kubernetes v1.7.5 on Ubuntu 17.04.

multiple online tutorials online, including the official one here do not work out of the box:
`https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/`

so i found this comment at github:
https://github.com/kubernetes/kubernetes/issues/33544#issuecom

[2017-09-06 10:26] Dirbaio opened #425 "Failed to create load balancer: User "system:kube-controller-manager" cannot create configmaps in the namespace "kube-system"."
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** 1.7.5

**Environment**:
- **Kubernetes version** 1.7.5
- **Cloud provider or hardware configuration**: GCE (with multizone on)
- **OS** Ubuntu 16.04
- **Kernel** Linux vk-prod4-master 4.10.0-32-generic #36~16.04.1-Ubuntu SMP Wed Aug 9 09:19:02 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **Others**: Calico netwo

[2017-09-06 13:15] luxas opened #426 "Create automated e2e kubeadm CI job suites for the v1.8 branch"
We need to have e2e coverage for v1.8.
Initially, we'll set up the following jobs:
 - `ci-kubeadm-gce-1.8`: Runs the normal e2e suite for v1.8 post-merge
 - `periodic-kubeadm-gce-1.8`: Runs the normal e2e suite for v1.8 every `{interval_here}`
 - `ci-kubeadm-gce-1-7-on-1-8`: Runs post-merge, makes sure it's possible to create a v1.7 cluster with `--kubernetes-version=1.7` with kubeadm CLI v1.8, as

[2017-09-06 15:23] luxas commented on #419
You can add it to troubleshooting, explain the problem and link to refs
Then in each provider's tab state whether they support that thing or not

[2017-09-06 18:07] #252 closed

[2017-09-06 18:10] luxas commented on #131
@timothysc I'm moving this to v1.9

[2017-09-06 18:11] luxas commented on #311
Assigning you @jessicaochen, but please work on https://github.com/kubernetes/kubeadm/issues/402 primarily as that is more important.

[2017-09-06 18:12] luxas commented on #127
@timothysc @diegs Moving the rest of these items to v1.9

[2017-09-06 21:43] luxas commented on #426
This is now fixed with https://github.com/kubernetes/test-infra/pull/4414

[2017-09-06 21:55] luxas commented on #401
Now fixed with https://github.com/kubernetes/test-infra/pull/4423

[2017-09-06 22:01] Tha-Fox commented on #413
I can also confirm I had this and wanted to say thank you for saving my sanity. I have Raspberry Pi 2B and I was stuck at init phase for the last month. After running that one-liner once it started waiting for the control plane, I got it going forward.

[2017-09-07 07:03] #418 closed

[2017-09-07 07:20] idoop commented on #409
it's fix on `kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2017-08-31T08:56:23Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}`,close it

[2017-09-07 07:20] #409 closed

[2017-09-07 08:55] luxas commented on #250
@pipejakob I'm moving this to the v1.9 milestone, this shouldn't block v1.8 although it had been great to have...

[2017-09-07 08:58] luxas commented on #376
This was fixed by @fabriziopandini for most phases, fully fixed now that @andrewrynhard's PR https://github.com/kubernetes/kubernetes/pull/51171 merged :tada:

[2017-09-07 08:58] #376 closed

[2017-09-07 08:59] luxas commented on #267
All desired phases are now implemented, yayy :tada:. Design doc coming in #424

[2017-09-07 08:59] #267 closed

[2017-09-07 09:02] luxas commented on #206
Sub-goal of v1.8 is getting kubelet client cert rotation enabled, ref https://github.com/kubernetes/kubeadm/issues/386
Other than that, I'm moving this out for further improvements in v1.9 as new auth features regarding this are available.

[2017-09-07 09:09] luxas opened #427 "Use the stable version of the release-1.8 branch in kubeadm v1.8"
Described in https://github.com/kubernetes/kubeadm/blob/master/docs/release-cycle.md
A similar change to https://github.com/kubernetes/kubernetes/pull/47440 should be made

[2017-09-07 09:10] luxas commented on #426
Reopening this until all new tests are passing

[2017-09-07 09:12] luxas commented on #401
Reopening until the test is constantly green, now sent https://github.com/kubernetes/test-infra/pull/4435 to fix a small bug in it

[2017-09-07 13:02] yanhongwang commented on #211
I meet the same problem. In my environment, there is also proxy limitation issue.
And I also setup all node ip to "no_proxy" variable, but still forbidden.

[2017-09-07 19:18] cmluciano commented on #294
Trying to determine the proper place to put these docs. Should it be
- https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network
- https://kubernetes.io/docs/admin/kubeadm/
- main k8s docs (CNI-setup directory under the Concepts->Configuration path)
- main k8s docs (Cluster Administration->Cluster Networking)

[2017-09-07 19:48] tamalsaha opened #428 "Separate Etcd instances from events and rest"
Kubeadm creates a single etcd for storing all data. But the kube-up scripts used to create 2 separate etcd : one for events and one for rest.  Looking at the MasterConfiguration, it seems that there is option to pass only one Etcd. How do we create separate etcd for events and rest?

[2017-09-07 20:10] luxas commented on #428
I think that's doable by pointing to the events etcd instance by using flags in `apiServerExtraArgs`

[2017-09-07 20:16] tamalsaha commented on #428
Can Kubeadm create that etcd too?

[2017-09-07 21:26] luxas commented on #428
No, I don't think so.
We're binding the ports to localhost for the main etcd, so it isn't feasible to start doing hacky things to get a separate etcd for events. Also there is no value in "splitting up" etcd if you still run everything on the same machine. That machine is everything kubeadm owns, so if you want a custom etcd for events, you should set it up yourself (as the ways to implement that

[2017-09-08 11:33] eddytruyen commented on #419
I am newbie wrt to pull requests.
I don't have permission to create a topic branch on kubernetes.github.io. Shall I make a pull request from a fork. Please advise

[2017-09-08 18:50] ericchiang commented on #386
Feature gate is enabled by default. There was a new flag added as part of https://github.com/kubernetes/kubernetes/pull/51045

[code]

This defaults to false because the actual CSR kubernetes resources in the certificates API are never removed, even if they're expired, denied, or even ignored for some period of time.

[2017-09-08 18:53] luxas commented on #386
@ericchiang Gotcha. Then we're planning to set `--rotate-certificates` for the reasons I mentioned above :)
Makes sense?

[2017-09-08 19:16] ericchiang commented on #386
Yep!

[2017-09-08 19:31] pipejakob commented on #370
For the last session, I'm tentatively targeting September 18th @ 09:00 PST. The topics will include how to simulate kubeadm e2e test runs locally in order to develop new jobs and debug failures, how jobs are configured (prow's `config.yaml` and `jobs/config.json`), and [testgrid](https://k8s-testgrid.appspot.com/).

The session will be recorded, but if you would like to attend live and can't make

[2017-09-08 19:36] luxas opened #429 "Make it possible to run `kubeadm join` (v1.8 CLI) on host with kubelet v1.7"
https://github.com/kubernetes/kubernetes/pull/49681 removed all TLS Bootstrap functionality from `kubeadm join`, but that won't work for v1.7 kubelets as they expect `/etc/kubernetes/kubelet.conf` to be written by `kubeadm join`

So in order to support `kubeadm join` using the v1.8 CLI, we need to detect whether a v1.7 or v1.8 kubelet is on host and act accordingly
a) If v1.8; don't do the TLS boo

[2017-09-08 19:38] luxas commented on #370
I'm not gonna make that :(

Away that whole week because exams ;)

[2017-09-08 19:46] mattmoyer opened #430 "Detect version skew between kubeadm and kubelet"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

On `kubeadm join`, kubeadm should check the kubelet version (e.g., with `kubelet --version`) and verify that the it's supported on the running version of kubeadm. If not, it should provide a nice error message instead of failing silently or with hard to debug kubelet errors.

The current skew policy is that kubeadm `x.y` supports running

[2017-09-08 19:53] luxas commented on #430
Thanks for filing this issue!

[2017-09-08 20:30] mattmoyer commented on #386
Just to clarify because I wasn't familiar with the 1.8 behavior...

CSRs aren't garbage collected in 1.8, but the default lifetime is 1 year and rotation only happens after between 70% (~8 months) and 90% (~10 months) of the lifetime of the certificate. So in the worst case a cluster of N nodes will accumulate N CSRs every 8.4 months or so. This means after 3 years you still only have around 4N CS

[2017-09-08 22:11] #429 closed

[2017-09-09 18:06] shashidharatd commented on #425
I too stumbled upon the exact same issue.
/cc @luxas @pipejakob

[2017-09-09 18:06] shashidharatd commented on #425
/cc @kubernetes/sig-cluster-lifecycle-bugs

[2017-09-09 18:09] shashidharatd commented on #425
Here is the log on why servicecontroller is failing to create 'LoadBalancer' type service in kubeadm based cluster
[code]

[2017-09-09 21:13] luxas commented on #425
We should loop in sig-auth on this as the problem is missing RBAC bindings. I guess that this might be GCE-specific, and hence not present in the general RBAC rules

Can you link to the code in the gce servicecontroller that tries to modify configmaps please?

[2017-09-10 02:20] shashidharatd commented on #425
I digged into the code and found that the error is coming from `gce` cloud-provider. Here is the location https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/cloudprovider/providers/gce/gce_clusterid.go#L192

[2017-09-10 02:25] shashidharatd commented on #425
@MrHohn, This issue is related to `gce` cloud-provider and RBAC role, rolebinding. Do you have any clue?

[2017-09-10 11:41] luxas opened #431 "Investigate v1.7-on-v1.8 e2e failures"
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-stable-on-master and
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.7-on-1.8 are both failing, and currently running the same tests using the same configuration.
We have to fix this; release-blocking for kubeadm: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-7-on-1-8/4/

[2017-09-10 11:41] luxas commented on #431
cc @pipejakob @timothysc @mattmoyer

[2017-09-10 11:42] luxas commented on #427
This is now fixed; https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-stable-on-master is up and running. However, it is failing, and I think that's a legit failure.

However, tracking that in https://github.com/kubernetes/kubeadm/issues/431

[2017-09-10 11:42] luxas commented on #427
Oops

[2017-09-10 11:46] luxas commented on #426
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.8 and
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#periodic-kubeadm-gce-1.8
are now passing.

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.7-on-1.8 is failing, but that is tracked in https://github.com/kubernetes/kubeadm/issues/431

e2e testing kubeadm upgrades are tracked in #402

[2017-09-10 11:46] #426 closed

[2017-09-10 11:47] luxas commented on #401
This is now smoothly up and running, but failing due to https://github.com/kubernetes/kubeadm/issues/431
That is to say, the infra parts of this are ok. Now we should just go and fix https://github.com/kubernetes/kubeadm/issues/431 so we can release

[2017-09-10 11:47] #401 closed

[2017-09-10 11:49] luxas commented on #425
I think it's just ok to do a post-apply of these rules if you use GCE. With out-of-tree cloud providers, this will be in the same manifest anyway...

[2017-09-10 12:47] luxas commented on #117
There has been improvements in this area during the v1.8, but the beta push is deferred to v1.9

[2017-09-10 14:23] luxas commented on #375
@sbezverk will work on this, awesome! :tada:

[2017-09-11 17:23] MrHohn commented on #425
Seems we introduced new operations (for configmap) in gce controller but never handled its RBAC...
cc @nicksardo

[Link](https://github.com/kubernetes/kubernetes/blob/c0b718373befb2168befc0c4579fd9a02155d5bc/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L305-L320):
[code]

[2017-09-11 18:05] nicksardo commented on #425
Hmm. The policy was added here https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/namespace_policy.go#L88-L94 and the client should be made with `cloud-provider`: https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/cloudprovider/providers/gce/gce_clusterid.go#L65

[2017-09-11 18:10] enisoc commented on #415
We changed the way we use the `-blocking` versus `-all` release tabs in testgrid, but that's not what covered up the failing tests. I now look at `-all` which includes kubeadm, but the failure was obscured by https://github.com/kubernetes/test-infra/issues/4501.

The `-all` tab now serves the purpose that the `-blocking` tab used to -- a human looks at it and makes judgement calls about branch hea

[2017-09-11 18:21] pipejakob commented on #415
I haven't been manually testing 1.6 commits, but I would certainly volunteer to coordinate the testing needed to QA 1.6.10. I'll try to get some early testing done today or tomorrow to make sure we aren't already red, and then can repeat with a specific commit when you're close to selecting a candidate.

Thanks for the heads-up, and the explanation of the new meanings of the testgrid tabs.

[2017-09-11 21:12] wheestermans opened #432 "Issue kubeadm on Orcale linux - Hangs on 'Created API client, waiting for the control plane to become ready'"
Running on Oracle Linux 7.3 - Docker 1.12

# kubeadm version

kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"clean", BuildDate:"2017-08-31T08:56:23Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}

Executing kubeadm init is hanging on the following step

**[apiclient] Created API client, wa

[2017-09-12 00:29] nicksardo commented on #425
Hey @luxas, any idea what I'm missing here?

[2017-09-12 06:17] mattymo opened #433 "Rerunning kubeadm init with replaced kubedns"
## What keywords did you search in kubeadm issues before filing this one?
kube-dns
## Is this a BUG REPORT or FEATURE REQUEST?
Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.7.3

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**: none
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel*

[2017-09-12 13:28] luxas opened #434 "Enable the Priority admission plugin in v1.9"
ref: https://github.com/kubernetes/kubernetes/pull/49322#issuecomment-328625401

[2017-09-12 13:29] luxas commented on #434
cc @timothysc @bsalamat

[2017-09-12 15:46] #386 closed

[2017-09-12 16:18] ahmetb opened #435 "Version flag needs documentation"
Currently I cannot find any documentation on what's the allowed value format for `kubernetesVersion:` field in MasterConfiguration type, or what's the format for `kubeadm --kubernetes-version` (KUBERNETES_VERSION env) options.

I'm told that it accepts

-  latest/stable/latest-1.X/stable-1.X. In v1.8 also ci/latest
- also exact tag names from https://github.com/kubernetes/kubernetes/releases

Plea

[2017-09-12 16:18] ahmetb commented on #435
/kind documentation

[2017-09-12 16:54] ddurgadas commented on #432
/assign

[2017-09-12 16:56] ddurgadas commented on #432
I would like to take a look at this issue. Can someone please assign it to me?

[2017-09-12 20:04] pipejakob commented on #370
It sounds like the week of October 2nd would work best all around. I'll send out another availability spreadsheet to coordinate for the best time.

[2017-09-12 21:23] fabriziopandini opened #436 "kubeadm token create fails"
##  BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.2.3561+523ec9c78a4ad3-dirty", GitCommit:"523ec9c78a4ad34afe72dfc2a41782d998511fe0", GitTreeState:"dirty", BuildDate:"2017-09-12T21:16:29Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}

## What happened?
when you run `kubeadm creat

[2017-09-12 21:45] fabriziopandini opened #437 "Kubeadm phase addon does not work"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8+", GitVersion:"v1.8.0-alpha.2.3561+523ec9c78a4ad3-dirty", GitCommit:"523ec9c78a4ad34afe72dfc2a41782d998511fe0", GitTreeState:"dirty", BuildDate:"2017-09-12T21:16:29Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}

## What happened?
when you run `kubeadm alpha

[2017-09-13 00:44] pipejakob opened #438 "Manually qualify 1.6.10 release"
This issue is to track the manual testing efforts to QA kubeadm for the 1.6.10 release.

x-ref: https://github.com/kubernetes/test-infra/issues/4501, https://github.com/kubernetes/kubernetes/issues/51571

[2017-09-13 01:13] pipejakob commented on #438
Running e2e tests against commit 46809e23e8155476a31d80360eeaeb8cbc34bd64 now.

[2017-09-13 08:26] helphi opened #439 "kubeadm offline installer support"
We hope `kubeadm` can support offline installer such as `kubectl` and `minikube`, because we can't access google cloud in China.

For example, i can download `minikube` from <https://github.com/kubernetes/minikube/releases>, and then put it in `/usr/local/bin`, but i can't download `kubeadm` from somewhere because it is in google cloud apt/yum repository.

/kind feature
/area kubeadm

[2017-09-13 09:23] mattymo opened #440 "kubeadm init occasionally fails on creating configmap"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.8.0-beta1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.7.3
- **Cloud provider or hardware configuration**: none
- **OS** (e.g. from /etc/os-release): Ubuntu Xenial
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
Repeating kubea

[2017-09-13 09:35] mattymo opened #441 "kubeadm cannot mount basic auth file for apiserver static pod"
Choose one: BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`): v1.8.0-beta1

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.7.3
- **Cloud provider or hardware configuration**: none
- **OS** (e.g. from /etc/os-release): ubuntu xenial
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
In kubeadm v1.7.3, /etc/kubernetes is mounted directly on kub

[2017-09-13 12:07] tomciaaa commented on #417
The problem is SELinux. As per https://kubernetes.io/docs/setup/independent/install-kubeadm/:

After you restart the box, it sets SELinux back to 'Enforcing'. (you can check if that's the case by running `getenforce`).

You should be able to turn off SELinux permanently on the box by setting `SELINUX=permissive` in `/etc/selinux/config`.

[2017-09-13 16:24] shashidharatd commented on #425
/kind bug
/area cloud-provider
/assign @nicksardo

[2017-09-13 19:00] pipejakob commented on #438
All e2e tests were green. 46809e23e8155476a31d80360eeaeb8cbc34bd64 looks good from a kubeadm perspective. Closing.

[2017-09-13 19:00] #438 closed

[2017-09-13 19:50] luxas commented on #437
Now fixed, thanks!

[2017-09-13 19:50] #437 closed

[2017-09-13 19:51] luxas commented on #436
Now fixed, thanks!

[2017-09-13 19:51] #436 closed

[2017-09-14 00:49] bamb00 commented on #102
Hi,

I'm running Kubernetes v1.6.6.  Getting the same error,
W0914 00:15:41.627710       1 proxier.go:298] clusterCIDR not specified, unable to distinguish between internal and external traffic

Try the workaround from @damaspi but failed in v1.6.6 use to work in v1.5.4.
# kubectl -n kube-system get ds -l "component=kube-proxy" -o json | jq '.items[0].spec.template.spec.containers[0].command |= .+

[2017-09-14 06:30] fisherxu commented on #416
@shashidharatd  Have send a pr ：)

[2017-09-14 17:52] luxas commented on #431
So chatted with @dixudx about this. It seems like that the root cause is actually this line: https://github.com/kubernetes/kubernetes-anywhere/blob/master/phase1/gce/configure-vm-kubeadm.sh#L20

Which makes the tests use a control plane of v1.7, but a kubelet of v1.8 (HEAD).
That is not a supported configuration, and in this case kubelet v1.8 panics as a new field HostPathType wasn't present from

[2017-09-14 18:26] luxas opened #442 "Update deb/rpm manifests"
Basically flipping the versions to v1.8.0 when released and updating the kubelet manifests to match https://github.com/kubernetes/kubernetes/blob/master/build/debs/kubeadm-10.conf

We might also have to run `systemctl daemon-reload` in `kubeadm` or `kubelet` postinst as discussed with @jessicaochen

@pipejakob can you please take ownership over getting this done and pushing the debs on release day

[2017-09-14 21:03] sbezverk commented on #390
@luxas could you explain a little bit more the problem? As from above for a person very little familiar with kubeadm code is not clear where even start. Maybe a link to the code highlighting the problem would be really useful. Same comment goes for issue #398 ...

[2017-09-14 22:26] #425 closed

[2017-09-14 23:43] pipejakob commented on #432
@ddurgadas It seems that GitHub doesn't allow it. It's not a problem of the permission of being able to assign the issue, but of who it can be assigned to. I have permission\ to assign it, but am still not allowed to assign it to you, since you're not a part of the Kubernetes org.

That said, feel free to dive in and investigate, and keep posting any progress you make here! Anyone else will read t

[2017-09-15 03:07] lastboy1228 commented on #182
If you set http_proxy as environment variable when execute "kubeadm init", the env variable will be recorded in the files in /etc/kubernetes/manifests/.

[2017-09-15 03:17] lastboy1228 opened #443 "unexpect http_proxy settings in static pod"
If you set http_proxy as environment variable when execute "kubeadm init", the env variable will be recorded in the yaml files in /etc/kubernetes/manifests/.
When I delete the http_proxy setting in yaml file, the static pod is not able to be restarted by kubelete. And I can't find the error log.

[2017-09-15 11:19] luxas commented on #390
Yeah, sure.
Whereever you see `extensions/v1beta1` in the kubeadm codebase, it should probably be moved to `apps/v1beta2`... Same goes for RBAC

This is all about changing imports:

https://github.com/kubernetes/kubernetes/blob/87a1b5f6d77f1bf6a0d29e6a2aac469fcd414f2e/cmd/kubeadm/app/util/apiclient/idempotency.go#L24

There the `rbac "k8s.io/api/rbac/v1beta1"` should now be `rbac "k8s.io/api/rbac/

[2017-09-15 11:23] luxas opened #444 "Stop using the PersistentVolumeLabel admission controller in v1.9"
Since kubeadm doesn't really use in-tree cloud providers, we can do this.
This admission controller is now deprecated in v1.8, since this functionality is now in the form of a normal controller.
If the user wants to run the in-tree cloud provider in v1.9, he/she can do so using the config file anyway.

Also, in v1.9, we're targeting out-of-tree cloud providers to be ready to use more generally as

[2017-09-15 11:27] luxas opened #445 "Remove old alpha Bootstrap Token legacy code in v1.9"
As we don't support v1.7 in kubeadm v1.9, we can remove the alpha (legacy) parts of the Bootstrap Token handing in kubeadm at that version.
Examples of now legacy code:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go#L125-L129

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/constants/constants.go#L204-L210

https://github.com/kuber

[2017-09-15 11:31] luxas opened #446 "Add an option to use CoreDNS instead of KubeDNS in v1.9"
This would be alpha (feature-gated) in v1.9
As discussed in the SIG meeting and on Slack

[2017-09-15 11:32] luxas commented on #446
cc @johnbelamaric
I can't assign you this officially, but please work on this as agreed anyway ;)

[2017-09-15 11:33] jamiehannaford commented on #444
@ss22ever do you want to take this one? It's part of a wider effort of extracting cloud providers (such as OpenStack) from the main Kubernetes codebase.

[2017-09-15 11:35] luxas opened #447 "Remove the old Kubelet TLS Bootstrapping mode in v1.9"
Part of #173. We had to re-enable this functionality temporarily in v1.8 to still support v1.7 clusters, but we can safely remove that functionality in v1.9 https://github.com/kubernetes/kubernetes/pull/52188

[2017-09-15 11:39] luxas opened #448 "Remove old upgrade logic for legacy cluster-info RBAC names in v1.9"
We can basically remove this block: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/upgrade/postupgrade_v17_v18.go#L62-L108

[2017-09-15 11:43] luxas opened #449 "Run Density & Scale testing (kubemark) on top of kubeadm"
cc @kubernetes/sig-scalability-feature-requests
This is some of the things we probably want to do in v1.9 in order to gradually move from `kube-up.sh`

Can you please put some pointers here how to run a 1000-node or 5000-node cluster for example with kubemark and extract the right info from those tests?

[2017-09-15 11:45] luxas opened #450 "Upgrade etcd version to 3.1.10 in v1.9"
Requires validation of etcd 3.1.10 from @kubernetes/sig-api-machinery-feature-requests and @kubernetes/sig-scalability-feature-requests.

Also filed #449 to set up similar suites for kubeadm to help this effort.

cc @timothysc @xiang90 @hongchaodeng

[2017-09-15 11:49] luxas opened #451 "Allow the user to upgrade to a CI version label like "ci/latest" or "stable""
Currently we don't support this in the initial version of `kubeadm upgrade` by design, but it might be worth it to reconsider this... This would be a neat UX and the upgrade to `ci/latest` functionality would be really convenient for the `stable-master` upgrade jobs.
cc @jessicaochen

[2017-09-15 11:52] luxas opened #452 "Support rollbacks from v1.9 to v1.8 with `kubeadm upgrade`"
This probably requires a better API group with fields that are immutable (like Service CIDR for instance)
If we start to support this, we'd also have to write rollback code between minor versions, not only custom upgrade logic and e2e test all this.

To clarify, this is already possible, but we just say that "this is not supported or recommended, but probably works if you are careful". It would be

[2017-09-15 11:57] luxas opened #453 "Stop using `yaml.Marshal`. Use the real API machinery code instead."
Do not do this: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/staticpod/utils.go#L131

as that has various side-effects and is not supported by the API Machinery team. For instance, `TypeMeta` is not populated correctly.

Instead, do this: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/apiclient/dryrunclient.go#L44-L53

[2017-09-15 12:00] luxas opened #454 "Enhance `kubeadm phase` in v1.9 and graduate to top-level command"
For instance, support `--dry-run` everywhere.
@fabriziopandini had also other suggestions:
 - There probably should be a `bootstrap-token all` command
 - Maybe `bootstrap-token create` alias that would equal `token create [flags]`
 - Maybe something with the CA pinning stuff as well...

etc. Let's discuss the improvements here, and collect user feedback.

[2017-09-15 12:06] luxas commented on #256
ping @pipejakob
As we enhance our testing setup, this becomes a must.

Do you have a couple of hours to put on this?
Adding to the v1.9 milestone

[2017-09-15 12:08] luxas opened #455 "Make it possible to set a custom config file in e2e CI tests"
For example, we want to set some custom args like reduce the kubelet cert expiration time in order to have those certs rotated during e2e time. This would automatically add coverage for that feature. cc @jcbsmpsn

For this to work, we have to be able to specify a custom kubeadm.yaml file for configuration in the e2e tests.

[2017-09-15 12:09] luxas commented on #455
cc @pipejakob @jessicaochen @jamiehannaford Any ideas?

[2017-09-15 12:11] luxas commented on #190
@pipejakob Most things here are now fixed. Does it still make sense to keep this open or should we open more specialized issues?

[2017-09-15 12:15] luxas opened #456 "Create `[Feature:kubeadm]` e2e tests"
...under `test/e2e_kubeadm/` in the core kubernetes repo.
e2e tests here should for instance make sure that:
 - At least one node is tainted/labelled with `node-role.kubernetes.io/master=""`
 - `cluster-info` is exposed in a correct manner, and the right `Role` and `RoleBinding` exist
 - The right Node Bootstrap Token RBAC rules exist, the SAR approver is enabled, etc.
 - The `kubeadm-config` Conf

[2017-09-15 12:43] luxas opened #457 "Create a kubeadm upgrade stable-master e2e CI suite"
In the same manner as https://github.com/kubernetes/kubeadm/issues/401 is set up, we should engineer upgrade tests (like https://github.com/kubernetes/kubeadm/issues/402). This in order to quickly catch upgrading regressions from v1.8 to HEAD.

[2017-09-15 13:16] ss22ever commented on #444
@jamiehannaford @luxas Yes, I would like to take that.

[2017-09-15 13:36] wheestermans commented on #432
Is someboby looking to this issue. Or is there another way to get kubernetes up-and-running on my Oracle Linux environment?

REgards
walter

[2017-09-15 13:42] kad commented on #451
@luxas  what do you mean here by `or "stable` ?
I understand upgrade path from X to "ci/latest", but what it mean for "stable" ?

[2017-09-15 13:48] johnbelamaric commented on #446
Thanks @luxas. In fact @rajansandeep has it ready: https://github.com/kubernetes/kubernetes/pull/52501

[2017-09-15 13:59] wheestermans commented on #432
I have attached zip file with the logs of the running docker containers

[docker-containers.zip](https://github.com/kubernetes/kubeadm/files/1306547/docker-containers.zip)

[2017-09-15 14:04] ncdc commented on #450
What about 3.2.x?

[2017-09-15 16:17] bamb00 opened #458 "Re-install weave on Kubernetes 1.6.x or 1.7 failed with Refused Connection"
## Versions

**kubeadm version** (use `kubeadm version`): v1.6.0-alpha.0.2074+a092d8e0f95f52

**Environment**:
- **Kubernetes version** (use `kubectl version`):  1.6.6 and 1.7.0
- **Cloud provider or hardware configuration**: Vsphere
- **OS** (e.g. from /etc/os-release): CentOS 7.3
- **Kernel** (e.g. `uname -a`): 3.10.0-514.el7.x86_64
- **Others**: weave 2.0.1

## What happened?
Re-installing weav

[2017-09-15 17:14] liggitt commented on #450
specifically, 3.2.6+ to pick up a fix for https://github.com/coreos/etcd/issues/8411 which can leave an API server with a persistently stale watch cache

[2017-09-15 20:47] bamb00 commented on #458
It was a timing issue.  Closing this issue.

[2017-09-15 20:47] bamb00 commented on #458
It was a timing issue.  Closing this issue.

[2017-09-15 20:47] #458 closed

[2017-09-15 20:59] luxas commented on #450
For new clusters, that'd be ok
Basically I just want to use a version that is validated for the rest of k8s and scale-tested.
If that is 3.2.x, I'm ok with that.

However, an upgrade from 3.0.x to 3.2.y _should work_, but 3.0.x to 3.1.y is definitely safer...

[2017-09-15 21:03] luxas commented on #451
@kad well you can be on v1.8.1 and the current stable k8s version is v1.8.6
Then a `kubeadm upgrade apply stable` might make sense...

[2017-09-16 00:06] pipejakob commented on #442
I accept this grave responsibility. :-)

[2017-09-17 16:37] lastboy1228 commented on #193
systemctl stop kubelet
systemctl stop docker
iptables --flush
iptables -tnat --flush
systemctl start kubelet
systemctl start docker

The route problem can be solved by flush iptables.

[2017-09-17 18:50] BenHall opened #459 "DNS unable to communicate with API - No route to host"
We're seeing a high number of errors when using Kubeadm (1.7.2) and the DNS being unable to communicate with the API, erroring with `getsockopt: no route to host`

Related to #193

<details>
<summary>Kube Logs</summary>

$ kubectl get svc
NAME         CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes   10.96.0.1    <none>        443/TCP   2h

$ kubectl get pods --all-namespaces
NAMESPACE     NAM

[2017-09-17 20:22] BenHall commented on #459
More discussions at https://github.com/heptio/aws-quickstart/issues/69

[2017-09-17 20:52] BenHall commented on #459
`curl https://10.96.0.1 -k` works from both the master and node

[2017-09-17 21:59] bboreham commented on #459
So that pod is in the host network namespace?
That's not typical for kube-dns

[2017-09-17 22:12] BenHall commented on #459
No, the pods are not in a separate namespace. The Pod I got the route from was `weaveworks/weave-npc`

Output from the kube proxy on the host is:
[code]

This is the Kube DNS Pod:

[code]

[2017-09-18 07:48] bboreham commented on #459
Looking at your iptables gist, the filer table looks curiously truncated. Not in a way that would obviously break things, but I would reboot the node and let the various components rebuild their rules and then see how it works.

The logs from the `weave` container, which adds some rules, would be interesting.

After that, some words on your error message:  "no route to host"; can mean three differ

[2017-09-18 09:22] BenHall commented on #459
More initial information:
Weave Logs @ https://gist.github.com/BenHall/6496cc1efc6f44bb039b5967b9fc675a

[code]

[2017-09-18 09:31] bboreham commented on #459
Did you reboot?

[2017-09-18 09:32] mattymo opened #460 "kubeadm upgrade apply should read version from config file"
version flag should be optional if --config is specified and kubernetesVersion key is specified in the file.

[2017-09-18 09:34] BenHall commented on #459
Yes, DNS seems to have come up

[2017-09-18 09:49] mattymo opened #461 "kubeadm token create cannot read from config file"
Choose one: FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):v1.8.0-beta1

## What happened?
kubeadm token create can only work with a specified token string. Using a config file keeps the token off of bash history.

[2017-09-18 22:42] luxas commented on #444
Cool, you can just start working on it then ;)
If the instructions here are unclear, just reach out to me and I'll clarify what to do and why

Thanks!

[2017-09-18 23:42] medinatiger commented on #440
@mattymo,

Have you already start on this issue? If not, I can take a bite for this issue.

[2017-09-19 06:03] mattymo commented on #440
@medinatiger I can't reproduce this in v1.8.0-beta1. Closing.

[2017-09-19 06:03] #440 closed

[2017-09-19 18:04] luxas commented on #435
@mattmoyer could you address this at the same time when you update the kubeadm reference doc?

[2017-09-19 18:23] medinatiger commented on #460
@mattymo , I'm happy to take this one on if you haven't got to this.

[2017-09-19 18:27] medinatiger commented on #342
Hi @CaptTofu, did u get a chance to look at those issue? If you plan to work on this issue, please assign it to yourself. Otherwise, I will take it:-)

[2017-09-20 13:47] kad commented on #447
I'm planning to work on this item.

[2017-09-20 14:21] gangadhars commented on #210
Hi!
I'm facing the same issue. I'm running my cluster on GCE.  Here are my  controller logs:

[code]
I have deployed cluster manually.  Please let me know if more information needed.

[2017-09-21 08:58] qpiprob opened #462 "Error starting GitLab with docker compose"
We have the following error, starting GitLab on VM (Ubuntu 16.04) with the command:
"docker compose up -d", after that the following command:

ERROR: for gitlab  Cannot start service gitlab: driver failed programming external connectivity on endpoint f5410ec03c6d_gitlab (e52432d2ab60ac782b2575812adf65911bda0e9a81f06d327c52ea00f9991cd8): Error starting userland proxy: listen tcp 0.0.0.0:22: bind: a

[2017-09-21 09:22] #462 closed

[2017-09-21 09:31] luxas commented on #434
@medinatiger can you work on this task?

[2017-09-21 09:32] luxas commented on #385
(assigned you as you already have a PR that fixes this)

[2017-09-21 09:33] luxas commented on #451
@kad did you want to work on this?

[2017-09-21 09:45] kad commented on #451
Yes, sounds interesting to me as well.

[2017-09-21 14:57] imriss commented on #308
on Arch Linux, to apply the @drazul solution, you may add `--exec-opt native.cgroupdriver=systemd` to the end of the line of `ExecStart=/usr/bin/dockerd` in the `/usr/lib/systemd/system/docker.service`.

[2017-09-21 19:28] pipejakob commented on #190
@luxas Agreed, this issue is extremely long and hasn't been kept up to date to track the real state of the world. I'm in favor of closing, and we can open individual issues to track significant remaining work.

[2017-09-21 19:28] #190 closed

[2017-09-21 19:37] pipejakob commented on #455
We're missing an extensions mechanism in kubernetes-anywhere that I think we could really use. I believe the original intent was that anyone who wanted to alter the default behavior would have to fork the repository and manually edit the templates, fighting any merge conflicts in the future when they try to sync from upstream to pick up updates. It would be great to offer extension points that all

[2017-09-21 22:36] #379 closed

[2017-09-22 07:38] rajibmitra commented on #228
Even I am facing the same issue with Kubeadm version :
![image](https://user-images.githubusercontent.com/1690251/30733999-011764ae-9f97-11e7-8b40-c4703be4b731.png)
its getting stuck in
`[apiclient] Created API client, waiting for the control plane to become ready`
![image](https://user-images.githubusercontent.com/1690251/30734029-25b2380c-9f97-11e7-8bef-39c913127d25.png)

[2017-09-22 15:41] kad commented on #324
if PR#52788 will be merged, it will be possible to specify in NO_PROXY IP ranges for your nodes. it will simplify things a lot.

[2017-09-22 20:41] kad commented on #445
I'm planning also to look at this.

[2017-09-22 20:48] luxas commented on #445
Thanks!

[2017-09-22 23:52] #427 closed

[2017-09-23 03:14] medinatiger commented on #460
@mattymo, when I tried, it seems that the Kebernetes-Version flag is optional. If it's not specified, it will pick up latest. Can you elaborate a bit more on this issue?

[2017-09-23 21:33] #346 closed

[2017-09-23 23:26] #390 closed

[2017-09-24 18:44] mattymo opened #464 "kubeadm phase addons does not work"
## Is this a BUG REPORT or FEATURE REQUEST?

## Versions

**kubeadm version** (use `kubeadm version`): v1.9.0-alpha.1.241+f67e127a3b2f83

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1v.7.5
- **Cloud provider or hardware configuration**: gce
- **OS** (e.g. from /etc/os-release): CentOS
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
./kubeadm alpha phase addo

[2017-09-24 22:25] fabriziopandini commented on #464
This is what I discovered up to now:

- This problem happen when using a kubeadm from head/from after the submit-queue has been updated and a kubernetes version older than this.
- when using a kubeadm v1.8.rc1, the problem does not happen.
- The problem was introduced by https://github.com/kubernetes/kubernetes/pull/52542, that basically switch everything in `extensions/v1beta1` to `apps/v1beta2`,

[2017-09-25 06:12] mattymo commented on #464
@fabianofranz That is exactly what I want to hear. I would love to be able to raise verbosity so a user can make some sense out of these errors displayed.

v1.8.0-rc.1 kubeadm works exactly as expected. I'll mark this issue closed.

[2017-09-25 06:12] #464 closed

[2017-09-25 13:24] luxas commented on #464
Thanks for looking into this.
Yeah, running from HEAD is useful for dev, but not supported as-is.

I'm glad that there wasn't an issue with the rc.1

[2017-09-25 14:08] imriss opened #465 "Starting Kubernetes on an Arch Linux VM using Kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

It could be both BUG REPORT and FEATURE REQUEST.

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"7", GitVersion:"v1.7.5+17d7182a7ccbb", GitCommit:"17d7182a7ccbb167074be7a87f0a68bd00d58d97", GitTreeState:"not a git tree", BuildDate:"2017-09-12T15:19:56Z", GoVersion:"go1.9", Compiler:"gc", Platf

[2017-09-25 14:19] #375 closed

[2017-09-25 14:19] #385 closed

[2017-09-25 14:19] #398 closed

[2017-09-25 14:19] #403 closed

[2017-09-25 14:41] luxas commented on #370
Did you send out the invite for that @pipejakob? I don't see it in my calendar...

[2017-09-25 16:06] fabriziopandini commented on #454
- markmaster currently asks explicitily for node-name; probability we should implement a behaviour more similar to init > use "default" host name or the value of --node-name flag if specified + eventually support --config as well
- bootstrap-token createconfig map currently asks for a config file, that should be kubeconfig file. This could create confusion because in all the other subcommands --co

[2017-09-25 19:39] pipejakob commented on #370
Not yet (I was out for a large portion of last week with the flu). I'll still send out a scheduling spreadsheet, using this issue to track.

[2017-09-26 12:57] J0s3f commented on #203
Same problem when trying to setup kubernetes on a VM host with single IP where only some ports can be forwarded to the VMs. Any workaround to get it to work?

[2017-09-26 17:17] jessicaochen opened #466 "Manually Validate Kubeadm 1.7 -> 1.8 Upgrade Path"
Automated upgrade testing is tracked by: https://github.com/kubernetes/kubeadm/issues/402

Meanwhile, I will be tracking manual upgrade testing here so we get some signal for 1.8 release.

[2017-09-26 17:17] jessicaochen commented on #466
/assign jessicaochen

[2017-09-26 17:17] jessicaochen commented on #311
Have PR to get the upgrade tests working: https://github.com/kubernetes/test-infra/pull/4732

Meanwhile, I will manually test the route to ensure we get some feedback for 1.8 release. Tracked by: https://github.com/kubernetes/kubeadm/issues/466

[2017-09-26 19:40] luxas commented on #384
This was fixed with https://github.com/kubernetes/kubernetes/pull/53009 :tada:

[2017-09-26 21:06] pipejakob commented on #442
I'm going to work on adding this to the deb/rpm release tooling so that we don't accidentally bundle the wrong version of `kubeadm-10.conf` with different releases (since we use the same scripts to still release 1.6.x and 1.7.x patches).

CC @mikedanese

[2017-09-26 21:27] medinatiger commented on #460
please ignore my question. I got it now.

[2017-09-26 21:29] jessicaochen commented on #466
Testing kubernetes commit a3ab97b7f395e1abd2d954cd9ada0386629d0411

Manual Upgrade: PASS (after working around [Issues 1-3])
Conformance After Upgrade: IN PROGRESS

[Issues]
[1] Kubernetes Anywhere - https://github.com/kubernetes/kubernetes-anywhere/issues/456
/etc/kubeadm/kubeadm_init_params.txt was not created and populated

[2] Kubeadm
sudo kubeadm config upload from-flags --token 7e6988.7243c1

[2017-09-26 21:30] jessicaochen commented on #466
@pipejakob is Issue 2 expected? I think you had some ideas on a similar one recently.
@luxas is issue 3 expected?

[2017-09-26 21:37] pipejakob commented on #466
Oh interesting. On (2), it **is** expected that stable-1.8 won't resolve at this point (since we haven't released any stable versions for 1.8 yet), but it is unexpected to me that this command would actually need to resolve the version. This might just be some lazy code that always tries to resolve the `--kubernetes-version` flag (which defaults to `stable-1.8`) as soon as possible, even before we

[2017-09-26 21:49] jessicaochen commented on #466
Huh, I am surprised that "stable" was not chosen instead. That would always resolve to the latest stable available. @luxas do you think we could use stable as the default in the future so we do not break tests when preparing for a major release? (I am referencing change https://github.com/kubernetes/kubernetes/commit/81840b3782d5e35af28943cde322b6b95d8ae879)