[2021-04-16 23:17] CecileRobertMichon commented on #2450
@neolit123 @fabriziopandini I was able to repro with CAPZ E2E by bumping the k8s version to 1.20.5: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1322

[2021-04-16 23:46] jackfrancis commented on #2450
I repro'd this in 1.20.6 as well.

[2021-04-16 23:55] neolit123 commented on #2450
You should run kubeadm with --v 4 at least.

Do you have kubelet logs?
Maybe its this:
https://github.com/kubernetes/kubernetes/issues/99305

Try debugging what is happening with the etcd cluster.

/priority awaiting-more-evidence
/area etcd

[2021-04-17 00:00] neolit123 commented on #2450
Is there a 1.20.x version that works?

[2021-04-17 23:40] abdennour commented on #988
i got lost.
Actually, i cannot see "upload" in subcommands of "kubeadm config -h". It seems like it was removed.
My question now is what's the new working command of this old one :

[code]

[2021-04-18 00:10] abdennour commented on #988
i even tried the new way
[code]

but i got :

[code]

My reference was: https://v1-20.docs.kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/#cmd-phase-upload-config

accordingly, we have been blocked

[2021-04-18 03:00] neolit123 commented on #988
try `kubeadm init phase upload-config kubeadm --config ...`

[2021-04-18 15:06] abdennour commented on #988
Yep @neolit123  ! it's `--config ...` not `--config=...`

[2021-04-19 05:53] KofClubs commented on #2039
/assign
I shall try.

[2021-04-19 12:36] fabriziopandini opened #2451 "Create a mailing list for kubeadm CI error"
As per [comment](https://github.com/kubernetes/kubeadm/pull/2434/files#r613873058), we should move emails for kubeadm CI jobs to a dedicate mailing list

- [x] add new mailing list:
https://github.com/kubernetes/k8s.io/pull/1947
- [ ] Update e2e test config to use the new `sig-cluster-lifecycle-kubeadm-alerts@kubernetes.io` mailing list.
this should be done after https://github.com/kubernetes/kube

[2021-04-19 14:38] neolit123 commented on #2451
/area testing
/kind feature
/priority backlog
/help

[2021-04-19 17:46] celestehorgan commented on #2322
@kubernetes/sig-architecture-leads – @enj brings up a great point above. For reasons I think are obvious though we'd like to at least remove `system:masters` going forward, even if we need to maintain backwards compatibility. Thoughts?

[2021-04-19 17:52] dims commented on #2322
@celestehorgan @enj i'd request sig-auth to take the lead here propose a plan that can work (some sort of switch to help existing clusters + a more forward looking better name may be?)

[2021-04-19 17:58] neolit123 commented on #2322
the topic for k8s core needs a kubernetes/kubernetes issue.
this one is for kubeadm.

[2021-04-19 17:59] enj commented on #2322
We discussed this extensively in a recent sig-auth meeting.  I have the AI to distill the discussion into a k/k issue that outlines the available options.  That would enable the creation of the KEP needed to address this (as best as we can).

[2021-04-20 00:20] neolit123 opened #2453 "Use kubeadmapiv1.SchemeGroupVersion.String() instead of "kubeadm.k8s.io/v1beta3""
In this PR we are adding kubeadm API v1beta3.
https://github.com/kubernetes/kubernetes/pull/101129

in a number of places in the code base, mostly around unit tests we are hardcoding the string `kubeadm.k8s.io/v1beta3`.
Instead we should have this import:

[code]

and replace `kubeadm.k8s.io/v1beta3` with `kubeadmapiv1.SchemeGroupVersion.String()`.

this will allow for smaller DIFFs when sending b

[2021-04-20 01:05] neolit123 commented on #2451
reopening to track the change in test config.

[2021-04-20 18:20] robtayl0r opened #2454 "Concise instructions needed when init cluster as schedulable"
taint init config-file cluster-config initconfiguration worker master control-plane

## BUG

It is unclear how one should initialize a cluster using kubeadm _with_ a configuration (initConfiguration) file and have the initial (control-plane/master) node be scheduleable. This seems like it would be a common use case.

When specifying empty taints as per suggested [here](https://kubernetes.io/docs/s

[2021-04-20 18:24] neolit123 commented on #2454
control plane nodes in kubeadm have the `control-plane` (`master`) NoSchedule taint, by design.
this is hardcoded as commonly users don't want to schedule anything else on CP nodes. so the more common case is that users do want the taint. making this optional is out of scope for the time being.

to change that you'd need an extra step on the CP nodes with kubectl:
https://kubernetes.io/docs/setup/

[2021-04-20 18:30] neolit123 commented on #2454
actually:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#init-phases
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/#join-phases

you can do `kubeadm init .... --skip-phases=mark-control-plane`
and `kubeadm join

[2021-04-20 18:30] #2454 closed

[2021-04-20 18:47] neolit123 commented on #2451
https://groups.google.com/a/kubernetes.io/g/sig-cluster-lifecycle-kubeadm-alerts
is not active yet it seems. will recheck again in a few days.

[2021-04-20 21:12] robtayl0r commented on #2454
My mistake in misinterpreting [this](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#the-noderegistration-taints-field-is-omitted-when-marshalling-kubeadm-configuration).

[2021-04-20 21:20] #2430 closed

[2021-04-21 01:32] #1602 closed

[2021-04-21 02:10] wangyysde commented on #2453
/asign
I am try to this.

[2021-04-21 07:00] pacoxu commented on #2286
https://github.com/kubernetes/kubernetes/pull/101129 seems to have fixed this.

[2021-04-21 07:18] wangyysde commented on #2453
/assign

[2021-04-21 11:52] fabriziopandini commented on #2286
As per comment above
/close

[2021-04-21 11:52] #2286 closed

[2021-04-21 12:05] fabriziopandini commented on #2453
/lifecycle active

[2021-04-21 12:11] fabriziopandini commented on #2454
AFAIK, this can be achieved by `taints: []`

[2021-04-21 17:22] jackfrancis commented on #2450
Thanks for your patience in me adding a response here.

I've repro'd this so far on 1.20.0, 1.20.5, and 1.20.6. So, probably there is no working 1.20 version in the cluster-api-provider-azure workflow I'm using.

I'll do a clean repro with kubeadm --v=4 and link to a gist w/ kubelet logs.

[2021-04-21 17:54] sbueringer commented on #2450
To add another data point. We were running consistently stable CAPO e2e tests against kubeadm / Kubernetes 1.20.4. I've upgrade to 1.20.6 a few days ago. The results look pretty stable: https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-openstack#periodic-e2e-test-main&width=20

Test setup is: OpenStack devstack installed on a GCP VM, CAPO creates a cluster on the devstack with Ubu

[2021-04-21 18:31] jackfrancis commented on #2450
Well, gulp, I just successfully created a 3-control plane 1.20.6 cluster. Logs are here:

https://gist.github.com/jackfrancis/60309254ba0ce86987916cbc8376bbbf

Now to get a repro of a 3 node 1.20.6 failure and compare the same logs as above.

[2021-04-21 18:49] jackfrancis commented on #2450
O.K., here are logs from a failed build-out:

https://gist.github.com/jackfrancis/e1e54203f0bcb5cbf612e926e9776bee

What I see (from a high level) is that the 2nd control plane comes online, but I'm never able to an etcd container launch. Seems to me that's the most interesting thing happening. apiserver comes up on the 2nd control plane node but can't find etcd:

[code]

Where to look for more da

[2021-04-21 18:57] sbueringer commented on #2450
Usually, containerd and kubelet log. There you should see if kubelet tries to start the etcd container and what happens then. A higher kubelet log level makes it usually easier.

[2021-04-21 18:59] sbueringer commented on #2450
Oh and the error you see is afaik only that etcd is not healthy / not up. I'm not sure that it's already 100% safe to assume that the container is not started at all. Maybe the etcd container is started but crashlooping for some reason. In this case the etcd container logs are also helpful.

[2021-04-21 19:03] neolit123 commented on #2450
there are a lot of these errors in the kubelet on the second node:
[code]
you should resolve this. i don't know what is causing that.

the actual problem is this:

as noted here:
https://github.com/kubernetes/kubeadm/issues/2450#issuecomment-821727809

[2021-04-21 19:04] jackfrancis commented on #2450
Containerd logs:

https://gist.github.com/jackfrancis/ce622f527448aa85668bce26d2ad17d0

[2021-04-21 19:06] jackfrancis commented on #2450
@neolit123 your suspicion makes sense: when we enable `useExperimentalRetryJoin` it's harder to repro this

it seems that the ephemeral-storage failure can be overcome w/ retries

[2021-04-21 19:07] jackfrancis commented on #2450
In any event, it is not obvious (to me) why that ephemeral-storage failure would never occur on the first control plane node. We only see this when the 2nd node comes online.

[2021-04-21 19:17] neolit123 commented on #2450
from my surface understanding its due to a race condition in the kubelet. i cannot confirm if it only happens on joining nodes or not, but i can see it being tied to kubelet logic that only happens on nodes that don't have a client yet and unlike the kubeadm init node that pre-bakes a client from the get go.

in any case that k/k issue should be pushed forward in front of sig-storage and sig-node.

[2021-04-21 19:18] jackfrancis commented on #2450
@neolit123 I've been made to understand that `useExperimentalRetryJoin` is discouraged for kubeadm 1.19+. Is that correct? Is there a blessed way to "retry kubeadm join" to overcome such race conditions?

[2021-04-21 19:26] neolit123 commented on #2450
retrying node join until it succeeds due to a race condition in the kubelet, sounds like an absurd workaround to me.
the bug in the kubelet must be fixed, but until then you can use any means available to mitigate.

[2021-04-21 19:31] jackfrancis commented on #2450
@neolit123 I see your point that we want to reduce the likelihood of kubelet race conditions

In the meantime we will continue to investigate how to produce a working 1.20+ kubeadm solution for folks.

I'll follow the issue you linked and close this one for now, thanks!

[2021-04-21 19:31] #2450 closed

[2021-04-21 23:01] brsolomon-deloitte opened #2455 "--log-file seemingly has no effect, no log files written"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Description

Passing `--log-file` to both `kubeadm init` and `kubeadm join` never actually creates or writes a log file whatever the level of `--v` and regardless of whether the enclosing directory exists.

## Versions

**kubeadm version** : `kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a

[2021-04-22 00:07] jackfrancis commented on #2450
For those who are following this from a cluster-api-provider-azure standpoint, I've run more tests today and have 11 successes in a row building 3 control plane node cluster running 1.19.7 (`useExperimentalRetryJoin` disabled). The purpose of these additional tests is to gain more confidence that the symptom we're seeing is specific to 1.20+.

So, I think we have meaningful confidence that this is

[2021-04-22 00:34] neolit123 commented on #2450
@jackfrancis the ephemeral storage request was added to the etcd pod in kubeadm 1.20:
https://github.com/kubernetes/kubernetes/commit/2ebd2937806ae957df67ae8138f62a5ad9b39c8d#diff-509876ddb9971f8787c885617ebaabe5da81755c5f1cddc1e2877af0d47928b2R255

my discussions with @fabriziopandini on this problem recently were around an alternative to remove this request and backport the change to older kubea

[2021-04-22 00:53] neolit123 commented on #2455
i can confirm that --log-file does not work for some reason.
...but it also does not work for a `kubelet --v 10 --log-file ./foo.log`.

both kubeadm and kubelet use klog and these flags come from it:
https://github.com/kubernetes/klog

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/kubeadm.go#L33-L49
so there must be some sort of a klog bug at play here.

can you please log a

[2021-04-22 00:56] brsolomon commented on #2455
I am over my head in work at the moment, I'll do that when I can. For now I have resorted to `| tee <log file>`

[2021-04-22 01:02] neolit123 commented on #2455
actually never mind...no need to log an issue there.
the problem is that there you also need to pass `--logtostderr=false`

this is done for backwards compatibility IIRC.
you need to pass a log file but also disable log to the standard err stream.

your report opens up for a couple of problems in kubeadm:

- i don't know why it hides the `logtostderr` flag:
https://github.com/kubernetes/kubernetes

[2021-04-22 01:03] neolit123 commented on #2455
^ adding the help label if someone wishes to help us with investigation here.
/help

[2021-04-22 01:21] neolit123 commented on #2455
@brsolomon and you current workaround is not not use the log-file flag at all and just pipe the kubeadm stderr and/or stdout output to a file.

[2021-04-22 02:48] brsolomon commented on #2455
Yep. Just dropping `--log-file` altogether and

[code]

[2021-04-22 23:57] micahhausler opened #2457 "Additional phases and subphases in kubeadm init/join"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST
/kind feature
/area phases

We're prototyping support for joining [Bottlerocket](https://github.com/bottlerocket-os/bottlerocket) nodes in cluster-api clusters, and have encountered the need for finer-grained control of the starting the kubernetes control plane. (Bottlerocket is a free and open-source Linux-based operating system meant f

[2021-04-23 05:49] pacoxu commented on #2346
@neolit123 I write a proposal on https://docs.google.com/document/d/1tjAp9QRJgwoyheMvgLjUHbD7MYTdDP2jSOlf6bAtuZM/edit?usp=sharing. It can be edited.

[2021-04-23 12:33] brsolomon commented on #2455
Yes, oddly enough, confirmed that you _must_ pass `--logtostderr=false` in conjunction with `--log-file` for `--log-file` to actually log to the intentded file.

[2021-04-23 14:59] SebTardif opened #2458 "imageTag should exist for everything"
I try to match what I have on a DOD approved images repository, and I cannot configure kubeadm enough to make this work.

For example:

apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
kubernetesVersion: v1.20
imageRepository: iron-bank-docker.nexus.boozallencsn.com/ironbank/opensource/kubernetes-1.20

Should work but say:
sudo kubeadm config images pull --config kubeadmConfig.yaml
ve

[2021-04-23 15:14] neolit123 commented on #2458
Hi. Kubeadm and k8s use semantic versioning. 'v1.20.0' is correct, not
having the trailing '.0' is not compatible.

If you pin the k8s version to 'v1.20.0' in the config then you must upload
images with the same tag in you repository.

Making all images individually configurable is not something easy to
maintain. There was recently a related request for an API change.

/close
/kind support

[2021-04-23 15:14] #2458 closed

[2021-04-23 15:16] neolit123 commented on #2458
The correct naming is:

'kube-apiserver:v1.20.6'

[2021-04-25 01:28] lojies commented on #2455
[#64974](https://github.com/kubernetes/kubernetes/pull/64974) marked these flags as hidden.
@luxas, can you give some suggestion?

[2021-04-25 03:32] CaoDonghui123 commented on #2455
there  code set ` --logtostderr=true`  means "log to standard error instead of files"
https://github.com/kubernetes/kubernetes/blob/113f828553462a6e086a2bd0ba044c5ae20f61a5/cmd/kubeadm/app/kubeadm.go#L37

[2021-04-26 12:33] unixmind commented on #2319
Dear all,
I'm running Kubernetes 1.20.5 (GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f") over CRI-O container runtime, and it is not fixed yet.
Regards

[2021-04-26 15:36] neolit123 commented on #2457
hi @micahhausler
context for others -  we briefly discussed this problem during the SIG Cluster Lifecycle meeting last week.

i must point out that i have zero experience with Bottlerocket.
trying to understand more about the problems at hand, it feels like usage of the  Bottlerocket apiclient is the main reason for breaking the kubeadm init process into phases and skipping some of them, is that c

[2021-04-26 15:51] neolit123 commented on #2346
thank you @pacoxu !

i've added some comments and i like the idea.
i think my biggest questions are around whether the Job needs a new container image and how we can avoid that.

cc @fabriziopandini @SataQiu please take a look.

[2021-04-26 20:51] neolit123 commented on #2081
/remove-lifecycle stale

[2021-04-26 23:40] babyalpha-icentric commented on #1893
It's been a while but posting for any others who might stumble on a similar issue.
I have stumbled up a similar issue. I have found the problem with 'journalctl -xeu kubelet'. My problem was cgroup driver. Kubernetes cgroup driver was set to systems but docker was set to systemd.
I added docker config file '/etc/docker/daemon.json' and added below to the file.
{
  "exec-opts": ["native.cgroupdrive

[2021-04-27 07:53] fabriziopandini commented on #2081
@neolit123 wdyt about graduating this feature?

As far as I'm concerned we have two point still on the table
- Use etcd learner mode
- Parallel join for control plane nodes

Both of them are nice to have, but at the same time they requires investigation and I don't see use getting on them in the near future. So I'm starting to wonder if we have to go GA with the current implementation, which is no

[2021-04-27 13:35] neolit123 commented on #2395
update

PR in master (1.22) merged:
https://github.com/kubernetes/kubernetes/pull/99336

the change is backported all the way back to 1.18 (inc); backport PRs are pending.
https://github.com/kubernetes/kubernetes/pull/99336#issuecomment-824441152

[2021-04-27 13:45] neolit123 commented on #2081
i guess this is already supported within the limits of our hardcoded timeouts / retries on join.

i see what you mean, but maybe we can ask contributors to investigate learners mode and someone could create a prototype before going GA without it:
https://github.com/kubernetes/kubeadm/issues/1793

another item in the OP here is instance specific config:
https://github.com/kubernetes/kubeadm/issues/

[2021-04-27 13:47] arkrishnan commented on #5
I am having this problem from like 3 weeks now, tried getting answers in many blogs, but unable to.

I have the same problem, if I do the above in the manifest my kube conroller is crashing.

[code]

Any assistance would be helpful.

[2021-04-27 13:50] neolit123 commented on #5
this really looks like a cloud provider integration problem and not something in kubeadm.
you can try asking in #sig-cloud-provider on k8s slack.

here are the support channels of k8s too:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-04-27 13:57] arkrishnan commented on #5
@neolit123 Thanks a million, ive asked the same question in that channel!! looking forward to a solution as its been like 3 weeks im trying to figure it out myself. :(

[2021-04-27 16:29] arkrishnan commented on #5
nobody seems to reply there, any idea where am i making a mistake??

[2021-04-27 16:55] neolit123 commented on #5
no, i have no idea.

[2021-04-27 21:20] neolit123 opened #2459 "deprecate and remove the kubeadm v1beta2 API"
**NOTE: this is just a tracking issue for future work!**

possibly after kubeadm v1.23 (e.g. 1.24):

- [x] deprecate v1beta2
  - [x] make kubeadm warn about the deprecated API
https://github.com/kubernetes/kubernetes/pull/107013
  - [x] update k/website and other docs to indicate that the API is deprecated
not needed (?) as this page uses the doc.go from v1beta2 https://kubernetes.io/docs/referenc

[2021-04-28 00:26] #2453 closed

[2021-04-28 16:27] micahhausler commented on #2457
👍 You got it.

I think this is doable for most of the waiting steps (wait for kubelet to come online, wait for kube-apiserver to come online)

This all makes sense. I think the most painful parts for us are when we have to wait for `kubeadm join` to time out when we know it will fail. Right now we're running `timeout 10 kubeadm join ...` and counting on the fact that everything we want to happen w

[2021-04-28 18:22] neolit123 commented on #2395
PRs merged.

[2021-04-28 18:22] #2395 closed

[2021-04-28 20:41] neolit123 commented on #2457
i think `timeout N kubeadm join` is actually an OK solution and we do something similar in e2e tests.
but timeout of 10 seconds is probably a bit too short for control-plane nodes at probably should be >1 minute.

one timeout that can be controlled is ClusterConfiguration.apiServer.timeoutForControlPlane (defaults to 4 minutes) which is the timeout for the status 200 on the api-server /healthz.
ht

[2021-04-28 21:35] neolit123 commented on #2395
(i guess the 1.12 PR has not merged yet, but is about to.)

you can expect new releases after the 12th of May.

[2021-04-29 08:51] KofClubs commented on #2251
@yashvardhan-kukreja Are you still working on this issue? I want to assign it to myself.

[2021-04-29 09:18] yashvardhan-kukreja commented on #2251
Sure, please move ahead. Thanks @KofClubs

[2021-04-29 09:33] KofClubs commented on #2251
/assign

[2021-04-29 11:16] MatthieuSarter opened #2461 "kubeadm init fails with Connection refused to http://localhost:10248/healthz"
## Versions

**kubeadm version** (use `kubeadm version`): {Major:"1", Minor:"18", GitVersion:"v1.18.9", GitCommit:"94f372e501c973a7fa9eb40ec9ebd2fe7ca69848", GitTreeState:"clean", BuildDate:"2020-09-16T13:54:01Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/ppc64le"}

**Environment**:
- **Kubernetes version** (use `kubectl version`): {Major:"1", Minor:"18", GitVersion:"v1.18.9", GitCommi

[2021-04-29 12:35] WAY-IT opened #2462 "Enable or disable featuregate in KubeletConfiguration"
Hi,

just looking for some info how to enable/disable a featureGates in kubeadm init. I want to disable the GracefulNodeShutdown and as far as I understood, this is a kubelet thing. So I have the following file:

[code]
Is this the correct syntax? I am unable to find how to check if this featuregate is enabled or not.

Thanks in advance.

[2021-04-29 13:10] Hvitgar commented on #659
just in case somebody stumbles upon this, in ansbile you can simplify @davemac30's approach significantly:
[code]

[2021-04-29 13:32] wangyysde commented on #2462
As is the feature gate GracefulNodeShutdown is belong to kubelet.  You should change the start script of kubelet like the following, if you want to enable/disable a featureGate for kubelet:
[code]

[2021-04-29 13:35] WAY-IT commented on #2462
@wangyysde, thanks, but I am passing the options during kubeadm init, do you have any idea how to do that?

[2021-04-29 14:28] micahhausler commented on #2457
i think at some point i proposed that we should expose more of these to be configurable, but if i recall correctly my ideas was overruled with consensus and the argument that most users will not need this. could be wrong about the history here..

Additional user(s) reporting for duty with a real world use case 😄

Will do.

/close

[2021-04-29 14:50] neolit123 commented on #2462
@wangyysde

passing via flags is not recommended because the kubelet will / might eventually remove a lot of flags for options that already exists in config:
https://github.com/kubernetes/kubernetes/issues/86843

@WAY-IT

looks correct to me, pass it like so to `kubeadm init --config=file`:

[code]

this guide has an example of how to see the config with the kubelet /configz:
https://github.com/ku

[2021-04-29 14:50] #2462 closed

[2021-04-29 14:56] neolit123 commented on #2461
hi,

one observation is that you have `criSocket: "unix:///var/run/containerd/containerd.sock"` but the kubelet is trying to use `/var/run/crio/crio.sock`. i have not explanation why this is happening.

if you have multiple container runtimes on that node try leaving only containerd.

requests for support should go on the support forums and #kubeadm on k8s slack:
https://github.com/kubernetes/kube

[2021-04-29 14:56] #2461 closed

[2021-04-29 14:57] micahhausler opened #2463 "add API support for controlling various timeouts"
edit: neolit123

ticket repurposed for a general / broader timeout support.

design draft :
https://docs.google.com/document/d/1q0OLHSD6M0JPjN8PxgvpJX1726omQh_Qd3os4LQqrtI/edit

---------

## What keywords did you search in kubeadm issues before filing this one?

["etcd timeout"](https://github.com/kubernetes/kubeadm/issues?q=is%3Aissue+etcd+timeout+) (5 open, 173 closed)

Similar questions, but n

[2021-04-29 15:47] neolit123 commented on #2463
@micahhausler you've mentioned that the kubelet bootstrap timeout is also something that you'd like to be configurable:
https://github.com/kubernetes/kubeadm/issues/2457#issuecomment-828595025
https://github.com/kubernetes/kubernetes/blob/4f36038c0bc575cd33bc53017ed1e20184efae73/cmd/kubeadm/app/constants/constants.go#L184-L185
is that still true?

scoping this to local only seems correct, because

[2021-04-29 16:05] micahhausler commented on #2463
Yep, I'll open a separate issue for that.

SGTM

https://github.com/kubernetes/kubernetes/blob/dd6ee99f62ebd91cf22c03a7f2c2594c1f5807e6/cmd/kubeadm/app/util/etcd/etcd.go#L482
https://github.com/kubernetes/kubernetes/blob/dd6ee9/cmd/kubeadm/app/phases/etcd/local.go#L46-L47

exposing both retries & period in the API seems too granular.

I agree on not making the API too granular. Can we keep the exi

[2021-04-29 16:10] dangoscomb opened #2464 "Upgrade plan fails finding node"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.19.10

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.18.0
- **Cloud provider or hardware configuration**: VMWare
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.4 LTS
- **Kernel** (e.g. `uname -a`): Linux k8s-master-1 4.15.0-140-generic #144-Ubuntu SMP Fr

[2021-04-29 16:18] dangoscomb commented on #2464
Managed to find a similar issue in #2354 and re-issuing the cert as suggested has resolved the issue

[2021-04-29 16:18] #2464 closed

[2021-04-29 16:21] neolit123 commented on #2464
i was about to comment that it looks the same as:
https://github.com/kubernetes/kubeadm/issues/2354

[2021-04-29 16:38] WAY-IT commented on #2462
Hello @neolit123,

Thanks for the explanation. I have also a question about setting 2 parameters when GracefulNodeShutdown is set to true (default value). I am trying to set the 2 variables, ShutdownGracePeriod and ShutdownGracePeriodCriticalPods, however, the cm in K8s is still the default value of 0s in both cases.

I hope you can help me, this is my complete config file used with kubeadm init:

[2021-04-29 16:48] neolit123 commented on #2463
we could drop the max retires approach and just execute getClusterStatus() in a loop delay between calls, counting the retires, until memberJoinTimeout passes or until getClusterStatus() returns success.

etcd.go needs cleanup / refactors., but getClusterStatus() is called in a few places so i think we might want to avoid touching it for the time being and leave the changes to the side of the call

[2021-04-29 16:54] neolit123 commented on #2462
field names must be cased exactly as json tags in the API docs for a type.
in this case https://pkg.go.dev/k8s.io/kubelet/config/v1beta1

it must be `shutdownGracePeriod` or it will silently fail and not recognize the field uppercase `ShutdownGracePeriod`.

[2021-04-29 16:56] neolit123 commented on #2462
this is a bug in the YAML parses that k8s component use. fixing the problem is difficult and can break a lot of users.

[2021-04-29 17:28] WAY-IT commented on #2462
Thanks, however, the kubelet is not healthy after settings this.

This is the current file:
[code]

This is the /var/lib/kubelet/config.yaml
[code]

And this error is in the logs
[code]

I hope you are willing to take another look at it.

Thanks!

[2021-04-29 17:30] neolit123 commented on #2462
please try the support forums at this point. i have no context on what is causing this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-04-29 18:34] WAY-IT commented on #2462
Hello @neolit123, solved it, shutdownGracePeriod must be larger than the shutdownGracePeriodCriticalPods, then it is working.

Thanks for your help.

[2021-04-29 19:39] lukashoffmannhb commented on #2071
Did anyone find a solution for that?

[2021-04-30 14:38] wangyysde commented on #2292
/assign

[2021-04-30 16:43] OPSTime opened #2465 "the newly generated kubelet configuration file /var/lib/kubelet/config.yaml does not contain the KubeletConfiguration section content"
**The configuration file contains the KubeletConfiguration section**
**kubeadm join configure file:**
[code]

**$ kubeadm join --config /etc/kubernetes/kubeadm.join.conf**
[code]

**However, the newly generated kubelet configuration file /var/lib/kubelet/config.yaml does not contain the KubeletConfiguration section content**
[code]

[2021-04-30 17:22] fabriziopandini commented on #2465
kubeadm as of today supports providing KubeletConfig only during kubeadm init, if you want to apply some kubelet specific configuration you can use kubeletextra args in `Joinconfiguration.nodeRegistration.kubeletExtraArgs`.
See
- https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2
- https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/#config-file
for more in

[2021-04-30 17:22] #2465 closed

[2021-05-01 03:24] OPSTime commented on #2465
Is there a complete and correct example?
I failed to test the following configurations，can not achieve the desired effect.

1:
[code]

2:
[code]

[2021-05-01 07:31] OPSTime commented on #2465
/open

[2021-05-02 03:28] 657323134 opened #2466 "Container runtime network not ready"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2021-05-02 03:30] #2466 closed

[2021-05-03 08:23] hobin2017 opened #2467 "Is it possible to construct kubeadm to use the image from the docker-engine?"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:30:03Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}

## What happened?
Basically, the

[2021-05-03 08:41] #2467 closed

[2021-05-03 08:42] hobin2017 commented on #2467
The image, `k8s.gcr.io/coredns/coredns`, is tagged wrongly. The correct version should be `v1.8.0`.

[2021-05-03 15:24] instantlinux opened #2468 "Upgrade/apply fatal timeout 1.19.4 to 1.20.6"
## What keywords did you search in kubeadm issues before filing this one?

`fatal` `timeout` `invalid bearer token` `waiting to restart`

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.20.6
{Major:"1", Minor:"20", GitVersion:"v1.20.6", GitCommit:"8a62859e515889f07e3e3be6a1080413f17cf2c3", GitTreeState:"clean", BuildDate:"2021-04

[2021-05-03 21:16] fabriziopandini commented on #2468
/kind bug
I see two problems here :-(
- the new pod not starting
- the rollback procedure failing

[2021-05-03 21:27] instantlinux commented on #2468
Rollback seems to be OK (it takes 3-5 minutes to bring things back to steady-state)--I've gone through this 4 times and haven't gotten into a non-working state. Note that this is not a zero-downtime process, a number of production-facing impacts do occur during the attempt to roll forward & back.

[2021-05-03 23:01] hagenhandtke opened #2469 "kubeadm init -> Kubelet: cannot execute 'docker info -f"

[2021-05-04 02:49] rajansandeep commented on #1318
/assign

[2021-05-04 06:37] #2469 closed

[2021-05-05 09:25] fabriziopandini commented on #2318
/remove-lifecycle stale

[2021-05-05 09:39] fabriziopandini commented on #2367
/remove-lifecycle stale

[2021-05-05 09:40] fabriziopandini commented on #2315
/remove-lifecycle stale

[2021-05-05 09:40] fabriziopandini commented on #2316
/remove-lifecycle stale

[2021-05-07 01:42] anthr76 opened #2470 "Nodes do not report memory on 1.21.0"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

memory, no report, metrics

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubead

[2021-05-07 06:16] pacoxu commented on #2468
The static pod hash is not changed for 5 minutes.
[code]

I think you should check the `kubelet log` to see why. Also, check the apiserver yaml in `/etc/kubernetes/manifests/` whether it is changed to the new version.

[2021-05-07 09:42] SataQiu commented on #2470
Thanks for report this @anthr76
But in general, the node status is reported by `kubelet`, and I don't think this is a bug of `kubeadm`.
I think you should open an issue in [kubernetes](https://github.com/kubernetes/kubernetes/issues)  instead of here.

[2021-05-07 11:30] anthr76 commented on #2470
Sure! Good point. Thanks for taking the time

[2021-05-07 11:30] #2470 closed

[2021-05-08 12:13] mewawalaabdeali commented on #700
how to use --ignore-preflight-errors=... for two errors

[2021-05-08 12:33] sbueringer opened #2471 "Cluster CA validation only works when the first caCertHashes is valid"
## Versions

**kubeadm version** (use `kubeadm version`): v1.21.0

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.21.0
- **Cloud provider or hardware configuration**: OpenStack
- **OS** (e.g. from /etc/os-release): Ubuntu 20
- **Kernel** (e.g. `uname -a`): `5.8.0-45-generic #51~20.04.1-Ubuntu SMP Tue Feb 23 13:46:31 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- **Others**:

##

[2021-05-08 22:04] glitterlip commented on #1390
Spent all night for this problem.
Tried iptables forward,`kubectl annotate nodes  flannel.alpha.coreos.com/public-ip-overwrite=`,`apiserver-cert-extra-sans`,or bind 0.0.0.0,No luck.
Not sure if it's a  `kubeadm ` issue or `kubernete` issue , but it is definitely a common issue.

[2021-05-08 22:18] glitterlip commented on #1893
might be a docker version mismatch issue.I have a master docker 19.03 and node docker 18.03, after update node docker to 20.10, this issue resolved

[2021-05-08 22:20] glitterlip commented on #1390
Ok, after  check the log carefully  , found a `The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp [::1]:10248: connect: connection refused` error and update docker version from 18.03 to 20.10 solve the problem.

[2021-05-09 03:17] squigley opened #2472 "HAproxy binding to port 6443"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T16:30:03Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`): Client Version:

[2021-05-09 18:34] invidian commented on #1793
/remove-lifecycle stale

[2021-05-09 19:19] instantlinux commented on #2468
Here is the info requested by @pacoxu as I reproduce the scenario a 5th time:

Contents of `/etc/kubernetes/manifests/apiserver.yaml` prior to upgrade:
[code]

During the upgrade attempt, I see these diffs in the file:
[code]

I cleared syslog beforehand, and am attaching the full kubelet syslog here (it reports timeouts, which I think are caused by the auth failure noted in my original report, bu

[2021-05-10 12:23] fabriziopandini commented on #2135
/remove-lifecycle stale

[2021-05-10 12:26] fabriziopandini commented on #2178
/remove-lifecycle stale

[2021-05-10 12:28] fabriziopandini commented on #1931
@neolit123 I'm +1 for closing this, given that the goal should be to defer this to Addons provider; what we should do from the kubeadm PoV instead is to start planning a roadmap to pluggable Addons...

[2021-05-10 14:04] neolit123 commented on #1881
/remove-lifecycle stale

[2021-05-10 14:05] neolit123 commented on #1686
/remove-lifecycle stale

[2021-05-10 14:05] neolit123 commented on #1682
/remove-lifecycle stale

[2021-05-10 14:05] neolit123 commented on #524
/remove-lifecycle stale

[2021-05-10 14:05] neolit123 commented on #1606
/remove-lifecycle stale

[2021-05-10 15:13] neolit123 opened #2473 "run control-plane as non-root"
KEP
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/2568-kubeadm-non-root-control-plane
k/e issue: https://github.com/kubernetes/enhancements/issues/2568

ALPHA 1.22:
- [ ] seccomp = runtime/default:
https://github.com/kubernetes/kubernetes/pull/100234
- [ ] e2e tests
TODO
- [ ] docs (optional for alpha)
TODO

[2021-05-10 15:13] neolit123 commented on #2473
/assign vinayakankugoyal

[2021-05-10 15:14] neolit123 commented on #2473
cc @vinayakankugoyal

[2021-05-10 15:25] neolit123 commented on #2472
the documentation is clear that the DEST port and SRC port should not be the same:

6443 is reserved for SRC.

/priority awaiting-more-evidence
/kind documentation
cc @mbert

[2021-05-10 15:41] neolit123 commented on #2471
that does look like a bug, thanks for the report.

if the cluster-info CM contains a set of CAs - A, and the joining nodes provide a set of CA hashes - B.
the logic is `B ⊇ A` or B must match A, or contain more elements.

PRs welcome.

/help
/priority backlog

[2021-05-10 15:47] neolit123 commented on #2468
we might have to open an issue and report the kubelet problems in kubernetes/kubernetes.

[2021-05-10 16:32] instantlinux commented on #2468
Here's my `/etc/kubernetes/kubeadm-config.yaml`:
[code]
And `kubelet.conf` (nothing of interest):
[code]
Output of `kubectl get nodes`:
[code]
Output from `describe node` for one of the workers:
[code]

[2021-05-10 17:03] neolit123 commented on #2468
# apiServerExtraArgs:
#  enable-admission-plugins: PodSecurityPolicy

is PSP enabled before upgrade?

[2021-05-11 01:56] instantlinux commented on #2468
I think it is:
[code]
But I'm not sure what command to use to fully answer your question.

[2021-05-11 13:20] neolit123 commented on #2468
If the apiserver manifest file does not have the psp admission plugin, then
it is not enabled. If you do not wish to use psp, you can try to remove all
psp objects and bindings and try upgrading again.

It is not clear to me why the new service account flags are tripping the
upgrade and whether psp is related.

[2021-05-11 22:23] neolit123 commented on #2261
/lifecycle active

[2021-05-12 18:41] #2292 closed

[2021-05-13 03:58] SataQiu commented on #2471
/assign

[2021-05-13 20:35] #2471 closed

[2021-05-14 15:44] neolit123 commented on #1898
/remove-lifecycle stale

[2021-05-14 18:46] instantlinux commented on #2468
It looks like PodSecurityPolicy is a settings that I experimented with a couple years ago and forgot all about.
I have this commented-out note in the ClusterConfiguration of my kubeadm startup script:
[code]
Anything else here deserving of the `priority/awaiting-more-evidence` label, or have I given you everything you need?

[2021-05-14 22:43] neolit123 commented on #2468
We have not seen reports by others about this and our CI is green. This
must be something specific to your setup. Something related to bad tokens
could be tripping the new version pods.

I do not see a problem on the kubeadm side so I suggest that you log a
kubernetes/kubernetes issue titled with one of the apiserver errors.

You should include all the detail from here including before and after
/

[2021-05-15 07:27] #2398 closed

[2021-05-17 10:15] younaman opened #2474 "Is it possible to config kubeadm by non-root user on K8s 1.21.1?"
Hello, I am a green hand of Kubernetes, Is it possible to config kubeadm by a non-root user on K8s 1.21.1? I read the official documents, it seems like the kubeadm init still run as root user? Looking forward to anyone's reply!

[2021-05-17 15:01] #2474 closed

[2021-05-17 15:13] AlohaPoster opened #2475 "kubeadm init pull "k8s.gcr.io/coredns/coredns:v1.8.0" in v1.21.1"
I use the "kubeadm init" and got this in v1.21.1:

[ERROR ImagePull]: failed to pull image k8s.gcr.io/coredns/coredns:v1.8.0:

when i tag the same image to this name by "docker tag k8s.gcr.io/coredns:v1.8.0 k8s.gcr.io.coredns/coredns/v1.8.0"
I got
"k8s.gcr.io/coredns/coredns/:v1.8.0" is not valid repository/tag : invalid reference format
should the "kubeadm init" pull "k8s.gcr.io/coredns:v1.8.0" b

[2021-05-17 15:22] neolit123 commented on #2475
in 1.21 the path to the coredns image was changed by the coredns team; also the tag now has a `v` prefix.
https://github.com/kubernetes/kubernetes/blob/release-1.21/cmd/kubeadm/app/constants/constants.go#L331-L334

this is now the valid path:
[code]

`kubeadm init` pulls `k8s.gcr.io/coredns/coredns:v1.8.0`

should be `k8s.gcr.io.coredns/coredns:v1.8.0`
but instead of using docker tag you can creat

[2021-05-17 15:22] #2475 closed

[2021-05-17 17:49] justaugustus commented on #2322
@enj @neolit123 -- How are we doing w/ discussions on next steps?

[2021-05-17 22:26] neolit123 commented on #1367
moved to https://github.com/kubernetes/kubeadm/issues/1367
which will happen in 1.22

[2021-05-17 22:26] #1367 closed

[2021-05-17 22:30] neolit123 commented on #1652
kinder at this point only mimics the kind CI and uses the DIND model, but is a mostly different implementation.
closing as our testing setup is quite complex and out of scope for upstream kind.

[2021-05-17 22:30] #1652 closed

[2021-05-17 22:50] neolit123 commented on #959
most of the kubectl backend is now in staging.
as part of the future work around the "kubeadm library" we could evaluate what can be reused:
https://github.com/kubernetes/kubeadm/issues/2316

[2021-05-17 22:50] #959 closed

[2021-05-17 23:03] kennethredler commented on #1367
Seems this is a self-referential link @neolit123 ?  🤔 Was there a different issue this should've been linked to?

[2021-05-17 23:49] neolit123 commented on #1665
@randomvariable

currently we are mounting:
[code]

given the golang search paths:
https://golang.org/src/crypto/x509/root_linux.go
and that AFAIK no distro is supposed to use `/etc/pki` directly.

should we just replace `/etc/pki` to `/etc/pki/tls/certs`?

[2021-05-17 23:57] neolit123 commented on #1692
@rcythr

i revisited these two issues:
https://github.com/kubernetes/kubeadm/issues/1692 https://github.com/kubernetes/kubeadm/issues/1665

currently we are mounting "some" folders in the CP component containers so they can use them.
these components are built with golang and we have no control over how it constructs the bundle of system root CAs.

https://golang.org/src/crypto/x509/root_linux.go

[2021-05-18 00:15] neolit123 commented on #1040
the policy for kubeadm is tribal knowledge at this point:
- use config instead of flags (kubeadm blocks you from mixing some).
- flags override config (there is one known exception, but that is a bug).
- flags already present in config will be deprecated / removed eventually, but there is no timeline (it's low priority).

this is the case for kubeadm at least.

kubelet and other components are spa

[2021-05-18 00:15] #1040 closed

[2021-05-18 00:41] neolit123 commented on #1367
my mistake, it's here:
https://github.com/kubernetes/kubeadm/issues/2473

[2021-05-18 02:28] AlohaPoster commented on #2475
Thanks a lot , cause of I'm nor familier with docker tag rule

[2021-05-18 05:16] instantlinux commented on #2468
That's unfortunate. Getting attention in kubernetes/kubernetes for issues like this is almost impossible; they get so many issues filed. Thanks for taking my report seriously and taking a look. I assume that I will have to reinstall yet again from scratch and spend a week migrating workload next time I upgrade, so it will be a year before I try again.

[2021-05-18 09:27] #2451 closed

[2021-05-18 10:48] kennethredler commented on #1367
No worries. And thanks! 😃

[2021-05-18 11:03] jdefaver opened #2478 "ha-considerations.md: keepalived image missing curl"
## What happened?

I used the documentation in `ha-considerations.md` to deploy kubernetes with haproxy and keepalived on static pods. I determined keepalived was not working as expected by looking at `/var/log/messages` on the host (`journal: /etc/keepalived/check_apiserver.sh exited with status 1`).

By connecting to the keepalived pod, I realized curl was missing:

[code]

## What you expected

[2021-05-18 12:00] neolit123 commented on #2468
If you tag it with "/sig auth" it should be visible in the next issue
triage from the *token owning group.

It does seem like something went wrong in that cluster, but there isn't
much we can do on the kubeadm side even if we know more details. Our
manifest for the upgraded version is valid.

/close

[2021-05-18 12:00] #2468 closed

[2021-05-18 18:02] neolit123 commented on #2478
is this by using `osixia/keepalived:1.3.5-1`?

i think we just need a newer image tag:
https://github.com/osixia/docker-keepalived/issues/29

try `osixia/keepalived:2.0.20`

/kind documentation
/priority backlog
/help

[2021-05-18 18:13] #2472 closed

[2021-05-18 19:44] neolit123 commented on #2039
on https://github.com/kubernetes/kubernetes/pull/101600 we voted to disallow the mixture of --config and --cri-socket.
this is consistent behavior with other flags and we want to remove some flags that already exist in config eventually.
--cri-socket is such a flag.

[2021-05-19 03:46] pacoxu commented on #2156
/assign

[code]
As this flag has no effect, we can just remove it in kubeadm side in 1.22 now.

[2021-05-19 03:57] pacoxu commented on #2207
- [ ] - scheduler part will wait for https://github.com/kubernetes/kubernetes/pull/96345
- [x] - controller manager port is already deprecated: https://github.com/kubernetes/kubernetes/pull/96216/

[2021-05-19 03:58] pacoxu commented on #2207
- [ ] - scheduler part will wait for https://github.com/kubernetes/kubernetes/pull/96345
- [x] - controller manager port is already deprecated: https://github.com/kubernetes/kubernetes/pull/96216/

[2021-05-19 09:16] pacoxu commented on #2104
- P3: customize /var/run/kubelet

I think we can add KubeletRootDir in v1beta3 like CertificatesDir. I would work on it if there is no objection.
/assign

[2021-05-19 11:53] neolit123 commented on #2104
Is kubeadm writing anything to /var/run/kubelet? If not I do not think we
should have it in the kubeadm api.

We do write to /var/lib/kubelet. The tricky part would be to sync this dir
between kubeadm config and kubelet config.

[2021-05-19 11:54] pacoxu commented on #2376
/assign
kubernetes/kubernetes#102133 it for moving the defaulting to cmd/kubeadm/app/componentconfigs/kubelet.go#Default().

[2021-05-19 11:57] pacoxu commented on #2104
I mean `/var/lib/kubelet`.

[2021-05-19 14:33] neolit123 commented on #2463
@micahhausler

we had a discussion with @fabriziopandini on the topic of timeouts in the kubeadm API today.
we concluded that perhaps we should have not added `timeoutForControlPlane` to be under ClusterConfiguration.apiServer.
the problem with that is that this is really a node specific setting (e.g. bound to node hardware) and ClusterConfiguration makes it  cluster wide. so a slower node joining

[2021-05-19 14:40] neolit123 commented on #2104
@pacoxu @pytimer

we had a discussion with @fabriziopandini about configurable `/var/lib/kubelet`.
the main problem here is that if we allow this to be configurable it must be in ClusterConfiguration, because Init and JoinConfiguration are not used during upgrade. `/var/lib/kubelet` is used during upgrade to write the kubelet.conf file on disk that contains the KubeletConfiguration.

at the same t

[2021-05-19 14:51] neolit123 commented on #2104
@pacoxu if you want to help with v1beta3 you can take:
https://github.com/kubernetes/kubeadm/issues/524

[2021-05-19 14:54] neolit123 commented on #524
@fabriziopandini and me agreed that this seems like an good change for 1.22 / v1beta3.

having a new field under NodeRegistrationOptions.imagePullPolicy that has values of Always, IfNotPresent, Never (same as k8s) makes sense:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#NodeRegistrationOptions

[2021-05-19 14:55] neolit123 commented on #2020
had a chat with @fabriziopandini about this API change for v1beta3 (which is to be released in v1.22)
both of us are not in favor of adding such a field.

main argument was already covered in discussions above. in the future the kubelet should stop allowing the user to configure the "pod infra container". CRI implementors and the kubelet ideally should be able to communicate what image to:
- use f

[2021-05-19 14:55] #2020 closed

[2021-05-19 15:10] 00void00 opened #2479 "ERROR NumCPU"
## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
root@Manager:~# kubeadm init --apiserver-advertise-address=172.31.34.71 --pod-network-cidr=192.168.0.0/16 --ignore-pref

[2021-05-19 15:21] dims commented on #2479
/close

[2021-05-19 15:22] #2479 closed

[2021-05-19 17:00] neolit123 commented on #2156
@pacoxu

i see that for the kube-apiserver the change was made in 1.20:
https://github.com/kubernetes/kubernetes/commit/cfc2b330a7027e109ac26fc6a86b68898883099e

kubeadm can deploy N and N-1 control-plane. so kubeadm 1.22  can deploy 1.22 and 1.21 kube-apiserver.
given the flag no longer has effect in 1.21, we can remove it for the kube-apiserver that kubeadm 1.22 manages.

for the KCM and KS i se

[2021-05-19 17:06] neolit123 commented on #2207
yes, updated the issue description here to have an action item for kubeadm 1.23

[2021-05-19 17:55] neolit123 opened #2480 "remove ClusterStatus e2e test from the kubeadm suite"
test jobs are failing after we removed ClusterStatus
https://github.com/kubernetes/kubernetes/pull/101915

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-external-etcd-latest
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-external-etcd-latest/1394858392136192000

we have an e2e test as part of the kubeadm suite that tests Cluster

[2021-05-19 20:53] BenTheElder commented on #2479
You ignored NumCPU which only became a warning then but:

Mem is a different error and isn't being ignored. You need to `--ignore-preflight-errors=NumCPU,Mem` to ignore both.
You can also ignore all of them with `--ignore-preflight-errors=all` see: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/

[2021-05-19 22:25] neolit123 commented on #2290
close as the main work was completed.
one remaining item is tracked here:
https://github.com/kubernetes/kubeadm/issues/2480

[2021-05-19 22:25] #2290 closed

[2021-05-20 02:47] #2156 closed

[2021-05-20 10:03] SataQiu commented on #2478
/assign

[2021-05-20 12:57] #2478 closed

[2021-05-20 19:53] vinayakankugoyal commented on #2473
Can we update the
add feature gate: link in the description above to https://github.com/kubernetes/kubernetes/pull/102158

[2021-05-20 20:14] #2480 closed

[2021-05-21 13:38] neolit123 opened #2484 "kinder: remove kube-dns support"
we removed kube-dns support in kubeadm 1.21, but we forgot to cleanup kinder.
we haven't been testing kube-dns in e2e tests, so it is safe to remove it completely at this point.
all kubeadm e2e jobs use coredns.

the functions in this file and the file can be removed:
kinder/pkg/kubeadm/kubednspatch.go
possibly other places too?

[2021-05-21 15:40] #2376 closed

[2021-05-21 15:41] #2339 closed

[2021-05-22 05:41] lianghao208 opened #2485 "kubeadm init phase upload-config can not get node info"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.19.0
**Environment**:
- **Kubernetes version** (use `kubectl version`):
1.19.0
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

When nodes hostname are in ip format, eg: 172.63.2.1

[2021-05-22 06:30] #2485 closed

[2021-05-23 16:35] H-Sf opened #2486 "Unable to install a Pod network add-on due to refused connection to localhost:8080"
Hello everyone,

I'm trying to create a kubernetes cluster (my first :D) using kubeadm under the control plane node - a VM Centos7-.

Environment:
- kubeadm version : v1.21.1
- Kubernetes version: v1.21.1
- VM Centos 7 (2 CPU/2 G RAM/20G memory)
- VMWare workstation : 16
- Kernel : Linux 3.10.0-1160.el7.x86_64
- Docker : Community 19.03.8
- Pod network add-on : Flannel

Here are the followed steps

[2021-05-24 03:38] pacoxu commented on #524
/assign

[2021-05-24 03:52] SataQiu commented on #1350
/remove-lifecycle stale

[2021-05-24 03:58] saviovettoor opened #2487 "node "worker-node-105" not found"
Nodes going to `Not Ready` state.

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.19.9 (both Client and Server Version)
- **Cloud provider or hardware configuration**:  32Mem/16RAM/500HDD
- **OS** (e.g. from /etc/os-release): CentOS 7.8
- **Kernel** (e.g. `uname -a`): 4.20.11-1.el7.elrepo.x86_64
- **Others**: contain

[2021-05-24 08:12] CaoDonghui123 commented on #2484
https://github.com/kubernetes/kubeadm/blob/8b54a2f3f88295bfe54d5533dc7e18fcbaeefa0c/kinder/pkg/cluster/manager/actions/kubeadm-config.go#L229-L236

here need removed as well

[2021-05-24 09:12] fabriziopandini commented on #2487
@saviovettoor I'm not sure this is the right repo for this issue; might be moving this to the kubespray repo (if you think this is related to the node provisioning) or the Kubernetes repo (if you think this is more related to kubelet) could help in getting in contact with the right people

[2021-05-24 22:41] H-Sf commented on #2486
It was a problem of misusing the sudo command.

[2021-05-24 22:41] #2486 closed

[2021-05-25 06:34] pytimer commented on #2104
Maybe the every node kubelet configuration not the same in the cluster, this parameter is not suitable in ClusterConfiguration.

Now i use configSource to setting every node kubelet configuration. It like https://github.com/kubernetes/enhancements/pull/1439.

[code]

Can use the kubelet configSource to do it?

[2021-05-25 11:33] neolit123 commented on #2104
We have not yet decided how to handle instance specific confinguration in
kubeadm. It is a complicated topic.

[2021-05-25 13:13] neolit123 commented on #2487
If the failure happened 2 days after cluster creation then this is not a kubeadm problem. Kubeadm works in one shot operations such as create, join and upgrade. Perhaps there is more information in the kubelet logs

You should try asking at the support forums or #kubeadm on k8s slack.

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-05-25 13:13] #2487 closed

[2021-05-25 17:22] neolit123 commented on #1727
note, we decided to not add ObjectMeta in kubeadm types for the time being (in v1beta3)
we are only adding +option.

the open PR will close this issue as it is now reporposed:
https://github.com/kubernetes/kubernetes/pull/101925

in the future we can revisit the topic, but currently there is no evidence of demand outside of kustomize.

[2021-05-25 17:28] neolit123 commented on #2046
our last discussion with @fabriziopandini leaned towards not adding support for inline patches in the kubeadm config.

related to v1beta3 we could:
- deprecate the --experimental-patches flag
- add the --patches flag to kubeadm upgrade (no config for upgrade yet)
- add the `patches` field as part of Init|JoinConfiguration.

the API can look like this:
[code]

supporting only a path to patches.
to

[2021-05-25 17:39] neolit123 opened #2489 "add UpgradeConfiguration/ResetConfiguration API types"
kubeadm currently has some matching configuration formats for its main commands.

join - JoinConfiguration
init - InitConfiguration
upgrade - none
reset - none

we should eventually provide API types for all main commands to avoid flags.
note this was not discussed as part of v1beta3, so it can happen in a future API version.

----------

`upgrade`

upgrade does not have a config, forcing users to

[2021-05-26 17:11] neolit123 commented on #2489
we discussed with @fabriziopandini during the kubeadm office hours today that we should delay the addition of these new structures until we have a better understanding of nodespecific configuration and the kubeadm roadmap as a whole.
https://github.com/kubernetes/kubeadm/issues/2367

[2021-05-26 17:13] #2428 closed

[2021-05-27 09:01] prakashmirji opened #2491 "kubeadm join phase fails to get configmaps kubeadm-config"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
v1.20.2

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

K8s version
[code]
OS : centos 7.9

Kernal: 3.10.0-1160.25.1.el7.x86_64

## W

[2021-05-27 11:11] ws-prive opened #2493 "Kube-Proxy certificate"
Hello,

Is Kube-Proxy using a client certificate in a K8s cluster setup by kubeadm?

If so, which certificate is it and where is it located?

Thanks!

[2021-05-27 13:35] prakashmirji commented on #2491
I change the controlPlane  to ControlPlane. That error is gone I think. Now when I run the same kubeadm join phase, i don't get any results. here is the console output.
[code]

I0527 06:29:30.109220   26784 join.go:395] [preflight] found NodeName empty; using OS hostname as NodeName
I0527 06:29:30.109295   26784 joinconfiguration.go:74] loading configuration from "/root/kubeadm-config.yaml"
I0527

[2021-05-27 14:14] prakashmirji commented on #2491
It appears that the lower case issue is causing too many problems. I changed certificateKey to CertificateKey, now I am getting next validation error like below. Does any one have working kubeadm config file for join phase

I0527 06:59:37.755741   29996 join.go:395] [preflight] found NodeName empty; using OS hostname as NodeName
I0527 06:59:37.755835   29996 joinconfiguration.go:74] loading config

[2021-05-27 14:25] neolit123 commented on #2081
/remove-lifecycle rotten

[2021-05-27 17:00] neolit123 commented on #2491
more context, we discussed this on slack
https://kubernetes.slack.com/archives/C2P1JHS2E/p1622103823032600

[code]

these fields should be with camelCase always as  defined in the JSON tags:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

I0527 00:54:17.559466   23281 request.go:1311] body was not decodable (unable to check for Status): couldn't get version/kind; json pa

[2021-05-27 17:00] #2491 closed

[2021-05-27 17:06] neolit123 commented on #2493
please use #kubeadm on k8s slack or these links for support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

the kube-proxy in kubeadm is deployed as a DaemonSet.
in each Pod in the DS, kube-proxy is setup to have a kubeconfig file with a service account token file to communicate to the api server:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phas

[2021-05-27 17:06] #2493 closed

[2021-05-27 17:44] #2249 closed

[2021-05-28 15:09] bikrampaul commented on #1893
"swapoff -a" try to run this command it will fix the issue sure .

[2021-05-28 15:28] #2484 closed

[2021-05-28 16:14] #2261 closed

[2021-05-28 17:16] #1727 closed

[2021-05-28 19:06] imranrazakhan commented on #1056
I am using flannel and adding below rule works for me

`firewall-cmd --permanent --zone=trusted --add-source=10.244.0.0/16`

[2021-05-31 03:06] wangyysde commented on #1681
/cc @wangyysde

[2021-05-31 03:08] wangyysde commented on #2463
/cc @wangyysde

[2021-05-31 03:21] wangyysde commented on #2459
/cc @wangyysde

[2021-05-31 10:29] wangyysde commented on #2427
/cc @wangyysde

[2021-05-31 12:58] danishprakash commented on #2427
@neolit123 I'd like to work on this, hope that's ok.

[2021-05-31 13:46] alexkonkin commented on #2035
This error is present in the v.1.19.
Upgrade to the v. 1.20 fails.
In short: there is a test cluster with 1 master nodes and 2 worker nodes based on Ubuntu 16.04.
Do you need any additional details or I should open a new bug for this?

[2021-05-31 13:50] alexkonkin commented on #2035
This error is present in the v.1.19.
Upgrade to the v. 1.20 fails.
In short: there is a test cluster with 1 master nodes and 2 worker nodes based on Ubuntu 16.04.
Do you need any additional details or I should open a new bug for this?

In my setup the node name is equal  to the hostname

root@c1-master1:~# hostname
c1-master1
root@c1-master1:~# cat /etc/hosts
172.16.95.10                    c1-mas

[2021-05-31 14:47] neolit123 commented on #2035
there must be something specific to a setup that is tripping this.
i cannot reproduce the problem on my end and our CI is passing too.

can you show the output of upgrade with --v=10?

[2021-05-31 14:51] neolit123 commented on #2427
@danishprakash

let's hold on this work until we make a clearer decisions whether we want to proceed with it for 1.22.
please have a look at some of our other tickets with help-wanted labels.

[2021-05-31 15:03] neolit123 commented on #2317
/remove-lifecycle stale

[2021-05-31 15:14] neolit123 commented on #2443
we removed this warning in 1.22 related to https://github.com/kubernetes/kubeadm/issues/2376

[2021-05-31 15:14] #2443 closed

[2021-05-31 16:49] alexkonkin commented on #2035
I have created a vagrant based environment that should help you to replicate this,
please see the Vagrantfile

This is a single master kubernetes cluster.

https://github.com/alexkonkin/k8s-kubeadm/blob/master/Vagrantfile

Setup kubernetes v. 1.19 cluster:

vagrant up km1 --provision --provision-with misc,docker,configure_iptables,kubeadm,disable_swap,configure_hosts,initialize_cluster,configure_k

[2021-05-31 16:53] neolit123 commented on #2035
yes, as mentioned earlier:

you can use pastebin for that.

[2021-05-31 17:44] neolit123 commented on #2171
/remove-lifecycle stale

[2021-05-31 20:19] jvrahav opened #2496 "kubeadm -1.21 ignoring enable-admission-plugins"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0+vmware.1-wcp", GitCommit:"8b28790eac77cadc246ec1f3b5a67892239a21c8", GitTreeState:"clean", BuildDate:"2021-05-25T03:27:46Z", GoVersion:"go1.16.1", Compiler:"gc", Platform:"linux/am

[2021-05-31 20:36] neolit123 commented on #2496
i doubt that is the case. the logic around `enable-admission-plugins` or `extraArgs` for the kube-apiserver have not changed for a long time.

what configuration file are you passing to `join`?
`join` only supports JoinConfiguration and does not support configuring `extraArgs` for the kube-apiserver, which are a part of ClusterConfiguration.

kubeadm treats all control-plane nodes as replicas and

[2021-05-31 20:48] neolit123 commented on #2496
also, note that configuring a cluster with a different set of admission plugins across kube-apiserver instances is not really advised.
this can happen temporary during immutable node upgrade, but should not be a configuration drift that persists.

[2021-06-01 03:57] neolit123 commented on #2251
/unassign yashvardhan-kukreja KofClubs

[2021-06-01 04:53] alexkonkin commented on #2035
I've done additional investigation before sharing with you the detailed log file.

My environment can not be considered as a valid to replicate the reported bug.

The test steup with which I used to produse this error was based on Vagrant
(eth0, nat interface 10.2.0.15, eth1 as the host only network 172.16.95.10) and Flannel network.

Because of the bug in the Flannel network it selects  the first

[2021-06-01 06:13] lunhuijie commented on #2251
/assign

[2021-06-01 12:52] neolit123 commented on #2035
Thank you for confirming. Sadly flannel has also caused other problems for
users so we stopped recommending it as a CNI to use.

[2021-06-01 14:11] wangyysde commented on #2463
@micahhausler Are you start working on this? If not, I will to this.

[2021-06-01 14:42] jvrahav commented on #2496
Thanks @neolit123
this is a sample kubeadm.yaml that im passing to join `apiServer:
  certSANs:
  - 127.0.0.1
  - 10.92.101.108
  - supervisor.default.svc
  extraArgs:
    admission-control-config-file: /etc/somename/wcp/admission-control.yaml
    anonymous-auth: "false"
    audit-log-maxage: "30"
    audit-log-maxbackup: "10"
    audit-log-maxsize: "100"
    audit-log-path: /var/log/somename/audi

[2021-06-01 16:06] neolit123 commented on #2496
like i've mentioned `join` does not support ClusterConfiguration.
only JoinConfiguration:
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2?utm_source=godoc

please see the --help screen for the --experimental-patches command to understand how to customize control-plane instances.

closing as this is not a bug.

[2021-06-01 16:06] #2496 closed

[2021-06-01 23:32] #2203 closed

[2021-06-02 09:09] lunhuijie commented on #2251
After learning the relevant information, I decided to do this.

**### Step 1: Add UT for checking file types**
Include：
  FileAvailableCheck
  FileContentCheck
  FileExistingCheck
  DirAvailableCheck

**### Step 2: Add UT for function that need a fake server**
Include：
  PortOpenCheck
  ServiceCheck

**### Step 3: Other checks analysis:**

_ExternalEtcdVersionCheck_ -- had done
_HTTPProxyCIDRCheck

[2021-06-02 16:33] mlbiam commented on #2414
Would an off-line CA that could issue break-glass admin certs be more secure?  you still have a "root" credential in the off-line CA that you would need to protect, but could issue shorter lived/time boxed admin.conf certs that could be controlled through other means.

[2021-06-02 17:00] neolit123 commented on #2251
@lunhuijie thank you for looking at this.
the summary seems good to me. if you have a PR you can send it and we can try to review it.

[2021-06-02 17:58] neolit123 commented on #2473
@vinayakankugoyal https://kubernetes.io/blog/2019/01/15/container-storage-interface-ga/#how-to-use-a-csi-volume
if the rootless kubeadm apiserver eventually becomes ON by default, would it break CSI driver users?

[2021-06-02 18:27] JCzz opened #2499 "Current command vanished from the unit file"
I had a running master node installed and working, but restarting the server(Ubuntu 20.04) it can not start kubelet.

I am looking to be able to restart/reboot kubernetes master node?

I get the following errors when rebooting the server

    systemctl status kubelet
    ● kubelet.service - kubelet: The Kubernetes Node Agent
         Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; ve

[2021-06-02 18:29] neolit123 commented on #2499
hi, this seems like a kubelet / container runtime failure.
please report it in kubernetes/kubernetes and tag with `/sig node`.

thanks

[2021-06-02 18:29] #2499 closed

[2021-06-02 18:30] neolit123 commented on #2499
lines seems to be cut please provide the full lines in the new issue.

[2021-06-02 19:29] vinayakankugoyal commented on #2473
no because it is not the kube-apiserver that needs to run as privileged pod, it is the csi driver that needs to run as privileged pod. --allow-privileged=true allows privileged containers it does not make kube-apiserver's container privileged. (Same for kubelet but that is anyways out of scope of this KEP.)

[2021-06-02 19:30] vinayakankugoyal commented on #2473
no because it is not the kube-apiserver that needs to run as privileged pod, it is the csi driver that needs to run as privileged pod. --allow-privileged=true allows privileged containers it does not make kube-apiserver's container privileged. (Same for kubelet but that is anyways out of scope of this KEP.)

[2021-06-02 20:53] MikeSpreitzer opened #2500 "kubeadm init creates mysterious kubelet authentication problem, causing "Error writing Crisocket information for the control-plane node""
## What keywords did you search in kubeadm issues before filing this one?
Error writing Crisocket information for the control-plane node

I found other issues with the same symptom, but different cause.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1

[2021-06-02 21:57] neolit123 commented on #2500
i assume not crashed, but just exiting with an error saying the kubelet is not healthy?

are you just running?
[code]

- are you feeding custom certificates to kubeadm?
- is this happening after a `kubeadm reset` on the node?
- is only 1.21.1 affected?

but if that is vanilla kubeadm, in theory that is not a kubeadm issue and can happen in any TLS bootstrap scenario.

this is not reproducible in o

[2021-06-02 22:09] neolit123 commented on #2500
in the end of the kubelet logs there is:

this means that the kubelet informer that fetches the list of nodes from the kube-apiserver never succeeds. it uses the client constructed with data from kubelet.conf.

this means the kubelet cannot access the csinode API resources

confirmed by logs from the apiserver:

I0602 04:35:13.466541       1 httplog.go:89] "HTTP" verb="GET" URI="/apis/storage.k8s.

[2021-06-03 10:57] JCzz commented on #2499
Just found that it only happens if I set:

[code]

sudo systemctl enable docker.service
sudo systemctl enable containerd.service

sudo systemctl start docker

[2021-06-03 11:47] usamacheema786 commented on #581
simplest way to update your k8s certs

[code]

[2021-06-03 12:57] neolit123 commented on #2499
The cgroup driver 'systemd' must be supported by kubelet and docker. You can also try containerd as the container runtime.

[2021-06-03 13:30] UncleYi2016 opened #2501 "How to change image path of coredns"
When I use my yaml config file to kubeadm init, it always show that I need to download coredns/coredns:v1.8.0 image.
As default, it was set as  ``k8s.gcr.io/coredns/coredns:v1.8.0``, but I wanna use another image repository like ``registry.aliyuncs.com/google_containers``.
When I change the image repository, the image of coredns will be ``registry.aliyuncs.com/google_containers/coredns/coredns:v1.

[2021-06-03 16:36] fabriziopandini commented on #2501
@UncleYi2016 the fact there we are adding coredns/coredns for a custom repository is a regression that affects v1.21.0 and v1.21.1; the problem has been fixed by https://github.com/kubernetes/kubernetes/pull/102502 and the change has been already back ported to the v1.21 branch and the fix will ship in v1.21.2

[2021-06-03 16:37] fabriziopandini commented on #2501
/kind support
/close

[2021-06-03 16:37] #2501 closed

[2021-06-03 17:28] neolit123 opened #2502 "document some steps about kubelet client certs recovery"
document some steps about kubelet client certs recovery

kubeadm does not manage the kubelet.conf and symlinked rotable client certificates for the kubelet to interact with the apiserver.
by default kubeadm deploys the kubelet with auto client cert rotation, but in some cases user setups can end up with with an expired cert, rendering this node as "not ready".

we can add some steps on how users c

[2021-06-03 17:30] neolit123 commented on #581
you might also what to symlink the certs to files if kubelet client cert is enabled:

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-certs/

[2021-06-03 19:45] antoinep92 commented on #2502
@neolit123 not sure if I'm qualified enough, but since you tagged help wanted, maybe I can draft a doc PR next week and you or somebody can review ?

[2021-06-03 19:48] neolit123 commented on #2502
sure, go ahead @antoinep92

[2021-06-04 04:11] MikeSpreitzer commented on #2500
In the "What Happened" section I posted a link to pastebin where you can read the full typescript: command line and all the output.  No, there was no `kubeadm reset` before that.  IIRC there was one preceding `kubeadm init` that failed at the check for swapping.  Looking at the output of that, I got the idea that only checking had been done.  So I turned swapping off and then proceeded with what i

[2021-06-04 04:33] MikeSpreitzer commented on #2500
I just reproduced on a fresh clone without a false start sans `swapoff`.
Also, this is a clone of an image that had run k/k `hack/local-up-cluster.sh`.  Does that leave some relevant state?  Where?

[2021-06-04 05:05] MikeSpreitzer commented on #2500
So I started over from a more basic VM image, one that had never run `hack/local-up-cluster.sh`.  Still I get the same problem.

Perhaps I should say a little bit more about VMs and images.  I have a tree of VMs (linked VM clones), each edge being some particular specialization.  In the latest trial I made a VM named `ubu20-kubeadm 1.21.1-00`, and completed the instructions in https://kubernetes.i

[2021-06-04 05:44] MikeSpreitzer commented on #2500
Looking more carefully, I found that I had used my root VM to do a docker-based build of k/k, and that left some stuff around.  Most suspiciously, `/var/lib/kubelet/pki`.  So in the root VM I `rm -rf /var/lib/kublet`.  Then I made a clone named `ubu20-pre-kubeadm2` and followed the instructions at https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/ , stopping jus

[2021-06-04 05:53] MikeSpreitzer commented on #2500
So I made a new clone of `ubu20-pre-kubeadm2`, named `ubu20-kubeadm2-1.12.1-00`, and completed the install instructions up through `sudo apt-mark hold kubelet kubeadm kubectl` "The kubelet is now restarting every few seconds, as it waits in a crashloop for kubeadm to tell it what to do".  Shutdown that VM, made a clone of that named `ubu20-kubeadm2-1.21.1-00-init1`, started it, logged in as root,

[2021-06-04 06:06] MikeSpreitzer commented on #2500
I found the problematic junk.  Going back to `ubu20-kubeadm 1.21.1-00 init1`, I looked in the kube-apiserver's log and saw lots of entries like
[code]

Looking around in /var/lib/kubelet, I found this:
[code]

And 71a3fce719c8af4bf24d45fda398717a is the hex for 151054237388542069782146036084566946170.

There is also a `kubelet.crt`, but it has a different serial number and authority key ID.

[2021-06-04 06:06] #2500 closed

[2021-06-04 11:44] vinayakankugoyal commented on #2473
/assign vinayakankugoyal

[2021-06-04 13:16] neolit123 commented on #2500
Understood. Before 'init' we asume users have a clean host. If not, 'reset'
would clean this for them.

[2021-06-06 02:38] renukamanavalan opened #2503 "kubedadm 1.21.1 : Heads up: API server exited when second node joins"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm join apiserver

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT:

1) Ran kubeadm init in one node (say, *first* master)
2) This created the  cluster with one node
3) Downloaded /etc/kubernetes/admin.conf into second node
4) Ran "`kubeadm join --discovery-file /tmp/foo.8xziabsnf --control-plane -v=5`"
5) The jo

[2021-06-07 10:00] pacoxu commented on #1612
Per https://github.com/kubernetes/enhancements/issues/563#issuecomment-830411731, it will wait to 1.23

[2021-06-07 10:05] pacoxu commented on #2104
/unassign
since not yet decided.

[2021-06-07 13:12] micahhausler commented on #2463
@wangyysde Feel free to take this one!

[2021-06-07 16:04] neolit123 commented on #1835
/remove-lifecycle stale

I think sig auth is looking for alternatives to this, but i need to check.

[2021-06-07 19:27] neolit123 commented on #2503
please use the support forums and #kubeadm on k8s slack for support questions instead of the issue trackers:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this can happen due a number of reasons. you should look at relevant logs of all components and try to reproduce the problem more than once, but it is safe to assume this is not a kubeadm bug.

it can also be this problem in t

[2021-06-07 19:27] #2503 closed

[2021-06-08 13:44] wangyysde commented on #2411
/cc @wangyysde

[2021-06-08 19:09] jaylinnyc opened #2504 "Support for MacOS?"
## Is this a request for help?

Yes, I have searched whole day online and couldn't find any help for support with MacOS.

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

kubeadm macos

If you have f

[2021-06-09 01:37] neolit123 commented on #2504
hi. no there are no plan to support MacOS, because kubeadm and the component it deploys such as kube-proxy simply would not run on MacOS.

Windows support took years, so if MacOS users would like to outline all the changes that are required to k8s components this would definitely need a KEP and likely discussions with multiple k8s groups (SIGS):
https://github.com/kubernetes/enhancements/blob/mast

[2021-06-09 01:37] #2504 closed

[2021-06-09 01:48] wangyysde commented on #1940
/cc wangyysde

[2021-06-09 03:10] jaylinnyc commented on #2504
Thank you for the clarification.   Really appreciate it.

On Tue, Jun 8, 2021, 9:37 PM Lubomir I. Ivanov ***@***.***>
wrote:

[2021-06-09 05:10] RA489 commented on #2440
taking Create E2E jobs for 1.x

[2021-06-09 16:13] neolit123 commented on #1881
cluster api now implements a new method for consuming the kubeadm types by forking them, but eventually they can consume a vendored version.

[2021-06-09 16:13] #1881 closed

[2021-06-09 16:17] vincepri commented on #1881
@neolit123 Is there a reason to not consider a staging repository and publish kubeadm that way as a go module?

[2021-06-09 16:31] neolit123 commented on #1535
we decided to not add this as a field in v1beta3, due to some uncertainties around the feature.
we should discuss this more.

[2021-06-09 17:48] neolit123 commented on #1931
we haven't seen recent requests about modifying the coredns deployment as is.
i have seen users skip kubeadm addons and deploy their custom ones, which allows them to configure them completely.

long term we want to move this addon to be external and not hardcoded in kubeadm code.

[2021-06-09 21:18] neolit123 opened #2505 "kubeadm join: add support for dry-run"
with some of the work around rootless control plane support:
https://github.com/kubernetes/kubeadm/issues/2473

we were reminded that kubeadm join does not support "dry-run".
given, "init" and "upgrade" support it, it feels like a feature gap that "join" does not.

the purpose of this issue is to track the addition of the dry-run feature to "join".

to implement it, we should follow the establishe

[2021-06-09 21:19] neolit123 commented on #2505
adding to 1.22 milestone if someone wants to take this.

[2021-06-09 22:04] neolit123 commented on #874
this work is done.

[2021-06-09 22:04] #874 closed

[2021-06-10 02:17] wangyysde commented on #1931
/cc

[2021-06-10 02:17] wangyysde commented on #1793
/cc

[2021-06-10 02:19] wangyysde commented on #1686
/cc

[2021-06-10 06:19] SataQiu commented on #2505
Waiting for new contributors to pick this up :)
If no one claims it, I can help with this.

/cc

[2021-06-10 12:39] fabriziopandini commented on #2244
/remove-lifecycle rotten

[2021-06-10 15:54] Lemonn opened #2506 "ETCD Bind to DNS-Name instead of IP"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:

kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:17:27Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version**:
Client Version: v

[2021-06-10 16:05] neolit123 commented on #2506
My next approach was to apply the solution from #786 (comment), but these options were ignored as the cert still only contained the default values (Cert-SANs: localhost, server2 [hostname of the server], IP-Adress: 95.x.x.176, IP-Adress: 127.0.0.1, Adress: 0:0:0:0:0:0:0:1).

this setup is not recommended. see this discussion about making k8s use custom IPs for components:
https://github.com/kubern

[2021-06-10 20:04] neolit123 commented on #2375
this is done for 1.22.

[2021-06-10 20:04] #2375 closed

[2021-06-10 21:27] renukamanavalan commented on #312
Curious!
What would be the case, if I skip "`net.bridge.bridge-nf-call-ip6tables`" and ignore it explicitly as "`--ignore-preflight-errors=FileContent--proc-sys-net-bridge-bridge-nf-call-iptables`" in kubeadm init

[2021-06-10 22:32] renukamanavalan opened #2507 "Join from second master makes apiserver in first master, fails & exits"
What keywords did you search in kubeadm issues before filing this one?
kubeadm join error-spew from logs

## BUG REPORT
Steps:
1) Install kubelet, kubectl & kubeadm which by default installs 1.21.1
2) Run kubeadm init with control-end-point with VIP, advertise address as this-host-ip
[code]
3) Watch kubectl get nodes to see first master running fine.
[code]
4) Install same in second master, copy a

[2021-06-10 22:53] neolit123 commented on #2507
https://github.com/kubernetes/kubeadm/issues/2503#issuecomment-856198328

[2021-06-10 22:53] #2507 closed

[2021-06-10 23:56] renukamanavalan commented on #2507
Agree, this is not kubeadm issue. Filed it here[ #102797](https://github.com/kubernetes/kubernetes/issues/102797), for anyone, who may land here.

[2021-06-11 07:05] Haleygo commented on #2505
/assign
I will work on it and try to pull a request in a few days :)

[2021-06-11 09:29] wangyysde commented on #524
/cc @wangyysde

[2021-06-11 11:52] Lemonn commented on #2506
kubernetes/website#28331

I understand that this is non ideal, as it needs to be changed on each IP/Host , it was only a try to get around the problem.

It seems that documentation how such a suiting network should look like is missing https://github.com/kubernetes/website/pull/28331#issuecomment-858731683. Isn't it common to have multiple interfaces for internal and external communication? My tar

[2021-06-11 14:27] neolit123 commented on #2506
it's actually not, based on my experience doing issue triage and reviewing user setups for a few years.

this is something missing in:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

contributions to the website are welcome, because we are understaffed.

absolutely and that's another reason why external etcd behind a single load-balancer IP is better

[2021-06-11 14:29] neolit123 commented on #2506
i'm going to be closing this issue now.
instead of trying to jump these hoops i'd recommend for you to update your network setup.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/

also, you can still help us with ^ if you want.

thanks
/close

[2021-06-11 14:29] #2506 closed

[2021-06-14 14:12] ingvagabund commented on #2207
Any chance to resolved this issue in 1.22? I would like to remove the --port flag from KS in 1.22 given the flag has been deprecated for quite long.

[2021-06-14 14:20] neolit123 commented on #2207
The KCM PR merged. If the KS PR merges soon we can have one kubeadm PR that
removes the flags from both components for 1.22.

[2021-06-14 14:22] ingvagabund commented on #2207
I see. So the KS PR needs to merge first. Then you can remove the port flag. And then KS can remove the port flag from its flags. Is that correct?

[2021-06-14 14:49] neolit123 commented on #2207
Yes. Sound correct to me.

[2021-06-15 05:08] #2502 closed

[2021-06-16 02:31] maximmasiutin commented on #1535
I have generated keys and certificates with the secp256k1, run `rke`  version v1.2.8 today and got the following error:

[code]

`kubectl version`:
[code]

Which of the curves are actually supported today?

[2021-06-16 02:50] wangyysde commented on #2463
@neolit123 Then, can I try to add timeouts.etcdMemberJoin to JoinConfiguration first?

[2021-06-16 14:25] neolit123 commented on #2463
I think a single PR with multiple commits that covers all the changes is
preferred.

[2021-06-16 14:29] neolit123 commented on #1535
AFAIK, RKE does not use kubeadm.

[2021-06-16 16:44] #2251 closed

[2021-06-17 06:30] dkoh703 opened #2508 "Problem joining node to Kubernetes cluster"
Hi folks,
I'm new to Kubernetes and trying to set up a new Kubernetes cluster using Kubeadm.

I managed to setup one master control plane node and I want to setup a worker node to run as different VM and join it to the cluster but I hit into issue.

The the worker node VM, I installed the docker container, kubectl, Kubeadm and etc as per the step in
https://kubernetes.io/docs/setup/production-envi

[2021-06-17 13:46] neolit123 commented on #2508
Hi. The most common issue is a cgroup driver missmatch. You can look at the
kubelet logs and then google error strings.

For more information also find the 'kubeadm troubleshooting guide'.

Channels like #kubeadm on k8s slack are a good place to ask for help too.

/kind support
/close

[2021-06-17 13:46] #2508 closed

[2021-06-17 17:00] Arvinderpal opened #2509 "kubeadm should support adding restricted labels on Nodes"
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): All

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.16+

## What happened?

Currently, specifying a restricted label via the kubelet's `--node-labels` flag will cause node bootstrapping to fail, with the kubelet throwing an error.

## What you expected to happen?

I would like an easy and secure means

[2021-06-17 17:14] Arvinderpal commented on #2509
Just brainstorming a possible approach:
- Similar to how kubeadm adds the restricted label `node-role.kubernetes.io/master` to the master nodes, we can add support for other user specified labels for both the worker as well as master nodes.
- The master label is not added via the kubelet's node registration options as the label uses a restricted prefix, instead it's added during the phase MarkCont

[2021-06-17 17:22] neolit123 commented on #2509
one problem here is that joining nodes that do not have the admin.conf credential (e.g. workers) do not have sufficient permissions to to self-label with `node-role.kubernetes.io/foo`. this is actually a security concern.

you can try that with `kubectl label --kubeconfig /etc/kubernetes/kubelet.conf ...` from a worker and you'd see a "forbidden" error.

[2021-06-17 17:31] neolit123 commented on #2509
on the SIG Cluster Lifecycle level, in the past it has been discussed multiple times that higher level tools can do that - cluster-api, kops, minikube, kind.

[2021-06-17 18:10] echu23 opened #2510 "Need a way to disable version lookup when doing kubeadm init phase upload-certs"
## Is this a request for help?

## What keywords did you search in kubeadm issues before filing this one?

`--kubernetes-version`, `upload-certs`, `dl.k8s.io`

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST (since I think I didn't see an option to disable this)

## Versions

v1.21, v1.20, v1.19, v1.18, v1.17 (this happens in all versions)

**Environment**:
I am testing this using a k

[2021-06-17 18:27] Arvinderpal commented on #2509
Ah, of course. :facepalm:

The problem I see is that these high-level tools generally have the same problem as the kubectl workaround -- a race exists between the scheduler and the tool/controller that applies the labels. This can lead to unwanted workloads on the node(s) of interest -- this is kind of a big deal, IMO.

I suppose some mechanism to prevent these unwanted workloads could be devised.

[2021-06-17 18:37] neolit123 commented on #2509
it can certainly be orchestrated on a high level, it's just that it's blocked on the kubeadm joining node credential level and the fact that kubeadm is not a service. it can be added as a feature of an eventual kubeadm operator:
https://github.com/kubernetes/kubeadm/issues/2315
https://github.com/kubernetes/kubeadm/issues/2318

today, we could allow Labels under NodeRegistrationOptions the same wa

[2021-06-17 18:43] neolit123 commented on #2509
while i don't know about all the details of the thread, it seems natural for the Cluster API's machine controller to maintain the node labels without a kubeadm binding (as the CAPI bootstrap provider).

- it has the credentials to do that
- it knows what machine specs the users feed
- it knows what machines are present

[2021-06-17 18:53] neolit123 commented on #2510
most kubeadm commands construct a kubeadm config in memory to be able to operate.
if you don't pass a `--config` it will be constructed in memory with defaults.

for ClusterConfiguration.kubernetesVersion `stable-1` is the default, so it should be able add `--config foo.yaml` to workaround this:

[code]

let me know if that works.

/kind support

[2021-06-17 18:53] #2510 closed

[2021-06-17 20:22] echu23 commented on #2510
yes it works, thanks.

[2021-06-17 21:54] neolit123 commented on #2427
i did some investigation recently and with that completed the part about:

https://github.com/kubernetes/kubernetes/pull/102964

we should keep this issue open, until we deprecate / remove v1beta2:
at that point we should:
- release a new output API version and make it use bootstraptoken/v1.
- remove the API version output/v1alpha2 that embeds v1beta2.BootstrapToken.

v1beta2 is not yet deprecated

[2021-06-18 18:24] echu23 commented on #2510
Sorry it doesn't work.

1. I need to use `kubeadm init phase upload-certs` so I need `certificateKey` field but it is only available in `InitConfiguration` and `JoinConfiguration` but not in `ClusterConfiguration`.

[code]

2. I can't combine --config and --certificateKey

[code]

[2021-06-18 18:43] neolit123 commented on #2510
Why not pass a initconfiguration too?

[2021-06-18 18:47] echu23 commented on #2510
I think it does work this time, thank you very much.

[2021-06-19 13:59] neolit123 commented on #2410
/remove-lifecycle stale
I think I saw a WIP KEP to support kube-proxy and kubelet as non root.

[2021-06-21 08:08] gemfield commented on #581
For k8s 1.15 ~ 1.18, this may be helpful: https://zhuanlan.zhihu.com/p/382605009

[2021-06-21 15:09] Haleygo commented on #2505
@neolit123  @SataQiu Sorry for the long waiting, pr is ready now. Can you guys take a look, thanks :)

[2021-06-22 02:33] wangyysde commented on #1796
/cc @wangyysde

[2021-06-22 02:51] Haleygo opened #2512 "Kubeadm init --dry-run doestn't work if using an external ca"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:17:27Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes versi

[2021-06-22 02:54] Haleygo commented on #2512
/assign
I will pull a request to fix the error in dry-run, but I am not sure about the error in kubeadm init, should we just leave it?

[2021-06-22 03:43] #2455 closed

[2021-06-22 14:43] #524 closed

[2021-06-22 15:18] neolit123 commented on #2512
thanks for logging the issue.
this does seem like a bug.

basically --dru-run should work regardless on state on disk for both init/join/upgrade.

/kind bug
/priority backlog
/milestone v1.22

[2021-06-22 19:05] vinayakankugoyal commented on #2473
Can we update e2e section above with PR: https://github.com/kubernetes/kubeadm/pull/2511

[2021-06-22 22:24] BenFradella opened #2513 "kubeadm shouldn't strip image subpaths unless explicitly told to do so"
## Is this a request for help?
No

## What keywords did you search in kubeadm issues before filing this one?
is:issue coredns

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", B

[2021-06-22 23:03] neolit123 commented on #2513
can you provide examples in your issue description. it is a bit difficult to see what you are doing in the repository?

after that change, you can provide `--image-repository=foo.bar` and the coredns image would be `foo.bar/coredns:tag`, unless you override the coredns image path completely with `ClusterConfiguration.dns.imageRepository`.
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/k

[2021-06-23 05:46] wangyysde commented on #2463
/assign

[2021-06-23 09:42] BenTheElder commented on #2178
so FWIW this is really easy to fix and works great so far, the issue is the Kubernetes packaging and systemd spec sources are not ideal (there are various other issues referencing this) so it's not possible to roll this out only to future releases, and it's technically a breaking change.

[2021-06-23 10:04] lzj3278 commented on #1153
If you already changed certifications. But still got an unauthorized error.  you need to remove the pem in /var/lib/kubelet/pki. like this **kubelet-client-2021-06-23-09-58-10.pem**

[2021-06-23 11:21] denghuancong opened #2514 "master join error "need /etc/kubernetes/pki/ca.crt file""
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-13T13:25:59Z", GoVersion:"go1.15.5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):  v1.20.2
- **Cloud provider

[2021-06-23 12:06] denghuancong commented on #2514
problem solved , please close this issue.

[2021-06-23 14:37] Arvinderpal commented on #2509
@neolit123 feel free to close this issue or leave it open if think appropriate.
Might be a good reference for other people who come along requesting the same feature.

[2021-06-23 14:38] neolit123 commented on #2514
/close

[2021-06-23 14:38] #2514 closed

[2021-06-23 15:08] neolit123 commented on #2315
We have seen user requests for kubeadm to allow node-role labels. There was a k/k issue too but i cannot find it. This is something the operator can support:
https://github.com/kubernetes/kubeadm/issues/2509#issuecomment-866895236

[2021-06-23 15:11] neolit123 commented on #2509
Added xref in https://github.com/kubernetes/kubeadm/issues/2315 as a potential kubeadm operator feature.

[2021-06-23 15:11] #2509 closed

[2021-06-23 16:49] BenFradella commented on #2513
Ah, I wasn't sure if I explained that very well or not.
I updated the `anything else we need to know?` section

[2021-06-23 16:55] neolit123 commented on #2513
ok, thanks for the details. like i've mentioned in my previous comments this is still possible.
instead of passing --image-registry pass --config:

[code]

and that should work.
https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

/kind support

[2021-06-23 18:16] neolit123 opened #2515 "re-order the imports in kubeadm source code files"
the kubeadm code base under kubernetes/kubernetes/cmd/kubeadm has inconsistent Go imports in source code files.

for example we have:
[code]

this is not ideal and we should have better separation and order.

[code]

if you like to work on this:
- [use this Go version, currently 1.16.5](https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml#L101-L113)
- do not update generate

[2021-06-23 19:11] BenFradella commented on #2513
That worked. Thanks for the help!

Since there is actually a reasonable workaround, I'll go ahead and close the issue

[2021-06-23 19:11] #2513 closed

[2021-06-24 07:47] RA489 commented on #2515
/assign

[2021-06-24 09:38] donngchao commented on #1031
[code]
Add pod network add-on helped me out.

[2021-06-24 20:15] armab commented on #2077
@cjreyn `After=docker.service` should be placed under the `[Unit]` section as it's not recognized in `[Service]`.
[code]

This should work properly and in theory per https://github.com/kubernetes/kubernetes/issues/56850#issuecomment-509553720 might be sufficient.

With another sleep for those who prefer it:
[code]

[2021-06-24 22:47] mrksngl commented on #2334
I still think this is a bug (or maybe rather a missing feature, or just a mistake in the docs) , I ran into the exact same problem:

When following https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/ step-by-step, the certificates for `${HOST2}` and `${HOST1}` are wrong.
The docs suggest that all certificates are generated on the same node, more specif

[2021-06-24 23:28] neolit123 commented on #2334
[certs] etcd/server serving cert is signed for DNS names [localhost host0 host2] and IPs [IP_OF_HOST0 127.0.0.1 ::1]

should the IP  of host2 be also in this list

i think your observation is correct.
the logic is here:
https://github.com/kubernetes/kubernetes/blob/61641a0640f197e6e67a41b49b49a7b5bd3af6a9/cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L473-L500

to workaround this try using this conf

[2021-06-24 23:31] neolit123 commented on #2334
/kind documentation
/milestone v1.22
/help-wanted
(details above)

[2021-06-25 08:34] mrksngl commented on #2334
Of course I set the `HOSTn` variables to something meaningful, above was just an example assuing `HOST0=host0, ...`.

I also already figured setting an `localAPIEndpoint.advertiseAddress` in the `InitConfiguration` but that got only the IP right.

Thanks for pointing out `nodeRegistration.name`. Seems like all certificates are fine now.

[2021-06-25 14:58] fabriziopandini commented on #2515
@neolit123 Is there a linter that we can enable to enforce this?

[2021-06-25 15:01] neolit123 commented on #2515
i don't know whether there is something that granular.

[2021-06-25 15:42] Haleygo commented on #2512
@neolit123 Hi, I went to check the whole process, and here is my understanding:
I used to think that dry-run should work under any circumstance, but now I find out that there is an exception: intentionally set some ca files on host to check whether an external ca available. In that case, dry-run can be failed and report those files is not right. And that's the error I reported above.
So this chang

[2021-06-25 15:48] neolit123 commented on #2512
it is a bit tricky.

kubeadm supports certificates signed by an external CA.
which means that if files exist in the pki folder, kubeadm validates them and uses them.

if the user has certs in the folder and runs with --dry-run, we can assume that they want to dry-run using these certs on disk.
they actually want to test using these certs on disk.

so i think dry-run should use them.

couldn't load

[2021-06-25 16:34] Haleygo commented on #2512
Yes.

So I fixed the problem, now if provide a right external ca , dry-run can work too.
It used to fail even if I put all the files that needed in the right place because it check the wrong place [in the begainning](https://github.com/kubernetes/kubernetes/blob/07358f166321f435ea71256ae3fe0a35e2ae5916/cmd/kubeadm/app/cmd/init.go#L389):
![image](https://user-images.githubusercontent.com/39937150/1

[2021-06-26 07:33] wangyysde commented on #2463
Hi @neolit123   @fabriziopandini   I have create a PR (kubernetes/kubernetes#103226)  to fix this issue. Could you review it?
Another, I want to make sure with you for somethings.
1. To fix this issue,  many files must be modified ,I found.  For review PR easier， I  want to create a few of PRs to fix this issue. Is it OK?
2. The changes are base on v1beta3 .There are more and more difference betwe

[2021-06-27 04:11] neolit123 commented on #2463
i think it is more appropriate to have a single PR with multiple commits.
i can have a look next week.

[2021-06-28 08:07] wangyysde opened #2518 ""certs generate-csr" command shows outdated example using "alpha certs""
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.21.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):  V1.21.0
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e.g. `uname -a`): Linux test-17 4.4.0-131-gen

[2021-06-28 21:24] #2518 closed

[2021-06-29 02:17] wangyysde commented on #2463
OK， I try to create  a single PR with multiple commits for this issue.

[2021-06-29 09:56] wangyysde opened #2519 "add imagePullPolicy field to kubeadm config print"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.22

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
According to kubernetes/kubernetes#102901 "imagePullPoli

[2021-06-29 11:58] neolit123 commented on #2519
When printing a config structure kubeadm takes an empty one and uses
defaulting to populate it. If you look at the defaulting code for v1beta3
you will notice that we do not default noderegistrationoptions and most of
it is defaulted dynamically on runtime.

The same applies to the new imagepullpolicy. It is doable, but i don't
thinks it is needed as long as we have the documentation that "" means

[2021-06-29 15:30] wangyysde commented on #2519
Ok. Thanks! Now I am reading and learning kubeadm's code. I found that function getDefaultNodeConfigBytes can return the default content of  NodeRegistration,then I try to add imagePullPolicy into it.  :-)

[2021-06-29 18:34] BenTheElder commented on #1601
/remove-lifecycle stale
Is this being considered for a v1beta3? There's still some components that are staying relatively flag based (like API server) that accept repeated flags.

[2021-06-29 21:32] neolit123 commented on #1601
unlikely that i would have the time to work on this, but if someone wants to give this a shot before Thursday next week (code freeze for 1.22), it might be doable.

my concerns here would be around conversion and syntax.
current syntax for extra args is

[code]
but i don't think we can preserve it with this change, since both JSON and YAML do not support duplicate keys in maps.

[2021-06-29 21:38] BenTheElder commented on #1601
I think we'd have to switch to something more like the env list in podspec, code freeze probably does make this too soon for v1beta3, maybe a v1beta4? I'm not sure we can have a portable spec handling this without some API change.

Some yaml libraries do allow duplicate keys, but it is out of spec https://github.com/yaml/pyyaml/issues/165 and doesn't seem reasonable to target.

[2021-06-29 23:39] neolit123 commented on #1601
if not for this API version it can be done for the next one, but it might take a while before v-next.
name/value as in podspec and an API change makes the most sense; similar was proposed above.

alternatively this could also be a `[]map[string]string`, this has a very close syntax for yaml users (who are a majority):
[code]
but not so similar for JSON users.

the same feels a bit hacky and requir

[2021-06-30 14:15] brianthelion commented on #659
Note that `/etc/kubernetes/pki/ca.crt` is also stored as a secret in the `kube-system` namespace:

[code]

[2021-06-30 14:51] JhonHarvard commented on #193
well, it works

[2021-07-01 22:00] dims commented on #2515
@neolit123 i have a skeleton for a linter here https://github.com/kubernetes/kubernetes/pull/103418 in case someone wants to whip that into shape. the current output looks like this - http://paste.openstack.org/raw/807121/

[2021-07-01 22:27] neolit123 commented on #2515
that's great @dims
one difference in the output seems to be that we add empty lines as separators between sections.

perhaps @xinydev you'd want to implement it as part of kuberentes/kubernetes/hack as a verify-* check?

[2021-07-01 22:59] neelshah1617 commented on #1026
In my case, kubelet could not find the node because, `/etc/hostname` file got edited, which was being reflected with `hostname`, and the newer hostname kube-apiserver could not resolve. I had to correct the node hostname with `hostnamectl set-hostname <correct-hostname-fqdn>`.
After that, I restarted the kubelet and docker services, and all the nodes were got into Ready state.

[2021-07-02 10:22] xinydev commented on #2515
Maybe we should add empty lines as separators between sections, otherwise `gofmt` will reformat these import lines.

before `gofmt`
[code]

after `gofmt`
[code]

[2021-07-02 15:00] neolit123 commented on #2463
commented on the PR:
https://github.com/kubernetes/kubernetes/pull/103226#pullrequestreview-698272625

[2021-07-02 15:04] neolit123 commented on #2463
something else,

while i enumerated some timeouts that we might want in above.
i think we might need to better discuss what timeouts we want to have for init and join...

for example, we might want to have etcd timeouts and kubelet timeout during init too.
a design doc and some research might be needed, which we can then document in the kubeadm API KEP.

[2021-07-03 08:58] wangyysde commented on #2463
Ok. I found there are some errors in the PR. So I think that  it has to be scheduled for v1beta4.

In fact, I am agree with you. But I try to add etcd timeout and kubelet timeout to join only as above discussing.

I want to prepare an API KEP for this. But I have never created API KEP. So maybe I  need some help.

[2021-07-03 12:24] neolit123 commented on #2463
There is no need for a new KEP i'd say. Just a hack.md or a Google doc where we can agree on the design. Once we agree we can summarize the change in the kubeadm API KEP.

[2021-07-04 10:37] fabriziopandini commented on #1949
/remove-lifecycle stale
/lifecycle frozen

[2021-07-05 02:10] #2515 closed

[2021-07-05 03:03] xinydev commented on #2515
/reopen

[2021-07-05 19:04] neolit123 commented on #2512
@Haleygo can we close this after merging this PR?
https://github.com/kubernetes/kubernetes/pull/103187

[2021-07-06 01:28] Haleygo commented on #2512
Sure thing, thanks :)

[2021-07-06 09:21] fabriziopandini commented on #1599
/remove-lifecycle stale

[2021-07-06 16:35] bjethwan commented on #1601
This is issue impacted our design. For our platform based on k8s we wanted to use separate PKI for "aws iam for pods" and  k8s service accounts.

[2021-07-06 17:05] shaktiprasadrath commented on #2186
I have similar problem. My kubelet.crt is expired. i don't know a suitable way to renew it.
When I am trying the below I am getting error:

kl get no
error: You must be logged in to the server (Unauthorized)
**Note: kl is alias of kubectl**

Is there a way to renew the kubelet.crt/key?

I read above conversation but still didn't get any concrete answer to renew my kubelet.crt/key

[2021-07-06 19:59] neolit123 commented on #1601
the workaround is to use --experimental-patches (--patches in 1.22) and have a the extra flags added using a patch (not using extraArgs).

[2021-07-07 05:11] #2519 closed

[2021-07-07 09:50] bjethwan commented on #1601
@neolit123 Thanks! I am trying this at the moment.
However, I had this doubt in my head as how does kube-apiserver know about it's own sa.key/sa.pub vs we use for example amazon-eks-pod-identity-webhook. As for the k8s service account I read that it's kube-controller-manager responsible for generating the sa/secret token. Is it the mutating webhook for other stuff that queries kube-apiserver for c

[2021-07-07 13:30] neolit123 commented on #1601
You can ask these questions in #sig-auth in the k8s slack.
On Jul 7, 2021 12:51, "Bipin Jethwani" ***@***.***> wrote:

[2021-07-07 22:52] neolit123 opened #2523 "failing test: kubeadm-kinder-upgrade-1-21-latest"
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-21-latest
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-21-latest/1412679168415502336/artifacts/task-06-upgrade-log.txt

the problem is:

	[ERROR ImagePull]: unsupported pull policy ""
[preflight] If you know what you are doing, you can make a check non-fatal with `--i

[2021-07-07 23:54] neolit123 commented on #2523
looks like this broke all tests that have "kubeadm upgrade".

[2021-07-08 02:48] pacoxu commented on #1796
👍
kubernetes/website#28360 seems to be the last step.

[2021-07-08 03:36] pacoxu commented on #2334
/assign
I will be the backup if nobody picks it.
I may work on it next week.

[2021-07-08 07:26] jan-hudec commented on #2394
The error is very non-specific. It means something didn't start, but does not tell you why. I had the same symptoms trying to upgrade a cluster after the internal certificates have expired (which kubespray failed to fix, but `kubeadm certs renew all` eventually did).

[2021-07-08 08:56] #2523 closed

[2021-07-09 08:08] sahilmalav opened #2524 ""kubeadm upgrade apply" command fails while upgrading api server"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
{Major:"1", Minor:"16", GitVersion:"v1.16.0", GitCommit:"2bd9643cee5b3b3a5ecbd3af49d09018f0773c77", GitTreeState:"clean", BuildDate:"2019-09-18T14:34:01Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
-

[2021-07-09 10:06] mabombo opened #2525 "Kubeadm coredns image path wrong when use local docker registry"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.21.2-0

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.21.2-0
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): centos 7
- **Kernel** (e.g. `uname -a`):Linux centos01 3.10.0-1160.31.1.el7.x86_64 #1 SMP Thu Jun 10

[2021-07-09 13:54] neolit123 commented on #2525
/kind support

It used to be customrepo/coredns/coredns but we changed that back to customrepo/coredns after too many complaints that we do not have to preserve the gcr.k8s.io paths for custom registries.

To customise it you can use the kubeadm config file - clusterconfiguration.dns.imageregistry.

Also please always read the release notes before upgrading kubeadm.

/close

[2021-07-09 13:54] #2525 closed

[2021-07-09 14:07] neolit123 commented on #2524
Hi, it does seem like instance specific problem. After kubeadm creates the
new pod you are going to have check its logs and the kubelet logs.

1.16 is no longer supported (1.19+) so please try to get further help on
the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-07-09 14:07] #2524 closed

[2021-07-13 08:20] xibuka commented on #649
Hi @xiangpengzhao
Did the file path been changed?  Cause I couldn't find it in the latest code?
I also try to search "180 * 24" or "shouldBackupAPIServerCertAndKey" but with no luck.
I'm wondering if this feature is still in the latest k8s. Can you give me a hint?

[2021-07-13 14:46] Dentrax opened #2526 "after join: certificate signed by unknown authority (possibly because of "crypto/rsa: verification error" while trying to verify candidate authority certificate "kubernetes")"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT?

Unsure. Feel free to move this issue to discussions if neither a `bug` nor  kubeadm-related.

## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`): `v1.21.2`
- **Cloud provider or hardware configuration**:  Self hosted VMs
- **OS** (e.g. from /etc/os-release):
[co

[2021-07-13 20:03] neolit123 commented on #2526
hello,

this seems like a request for support i cannot reproduce at e.g. Katacoda:
https://www.katacoda.com/courses/kubernetes/playground
...or locally with a new version cluster.

calling:
[code]
from a worker returns `ok` as expected.

i have no explanation of the problem if you claim that the `ca.crt` is identical.
do you have multiple CAs in the kube-public/cluster-info config map?

note that,

[2021-07-13 20:03] #2526 closed

[2021-07-14 08:32] Dentrax commented on #2526
Thanks for clarification @neolit123!

Yes, I have multiple CAs in the `kube-public` namespace as the following:

[code]

[2021-07-14 12:22] wangcheng34 commented on #1082
I had this same issue. and I get the log of api server is this

Flag --insecure-port has been deprecated, This flag will be removed in a future version.
I0714 12:17:27.271429       1 server.go:596] external host was not specified, using 192.168.10.14
I0714 12:17:27.271593       1 server.go:150] Version: v1.17.5
I0714 12:17:27.451156       1 plugins.go:158] Loaded 11 mutating admission controller(s

[2021-07-14 12:49] wangcheng34 opened #2527 "kubelet won't restart after reboot - Unable to register node with API server: connection refused"
## What keywords did you search in kubeadm issues before filing this one?
Error messages in journalctl
and I try all method in issue [#1026](https://github.com/kubernetes/kubeadm/issues/1026) and [#1082 ](https://github.com/kubernetes/kubeadm/issues/1082)
but not solve my problem

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

ubeadm version: &version.Info{Major:"1", Minor:"1

[2021-07-14 13:32] neolit123 commented on #2526
kubeadm only uses those in cluster-info.

[2021-07-14 13:38] Dentrax commented on #2526
I decoded the `cluster-info` _ConfigMap_ using `base64 -d -` and the output exactly same with`$ cat /etc/kubernetes/pki/ca.crt`.

[2021-07-14 14:08] neolit123 commented on #2526
Ok. I do not really know why this error is  happening. Normally it should
happen if the apiserver is not configured correctly. But only some of the
workers getting the status is odd.

[2021-07-14 14:35] neolit123 commented on #2527
Hello.

Kubeadm just deploys the components and if they fail to start after reboot
there isn't much kubeadm can do about it.

addresses to cc: [{https://127.0.0.1:2379 0 }]
panic: context deadline exceeded

It seems as if etcd is not stating? Maybe the etcd member data got corrupt.
Please log this issue in kubernetes/kubernetes and also provide logs from
etcd.

Note that 1.18 is no longer in suppo

[2021-07-14 14:35] #2527 closed

[2021-07-17 03:36] neolit123 opened #2529 "update references to legacy artifacts locations (/bazel, /ci-cross, etc)"
see this PR:
https://github.com/kubernetes/kubeadm/pull/2528

/bazel and /ci-cross not existing in gs://k8s-release-dev

there is a new GCS bucket for artifacts that is missing some of these paths:
https://console.cloud.google.com/storage/browser/k8s-release-dev

- search in this repository
- replace `/ci-cross` or `/bazel` with `/ci`
- use example paths such as `k8s-release-dev/ci/<version>/bin/l

[2021-07-19 16:13] arianvp commented on #2414
Would perhaps be useful to also put the suggestion of `kubeadm kubeconfig user` command in the output of `kubeadm init` as well so people really do not download it

[2021-07-19 18:38] neolit123 commented on #2414
by off-line do you mean a CA that the cluster components and kubeadm are not aware of, such as a root CA of the user org?
if yes, i don't think signing the system:masters credentials with it would work.
it must be signed with the intermediate CA that is passed to the cluster and if the credential leaks the same intermediate CA must be rotated (since, no revocation in k8s).

there is a warning for

[2021-07-20 11:59] arianvp commented on #2414
Excellent. I'll draft a PR.

[2021-07-20 12:17] SataQiu commented on #2529
/assign

[2021-07-20 13:19] mapmiss commented on #1025
Has your problem been solved? I have the same problem.

[2021-07-20 16:26] neolit123 commented on #2529
we should also remove ci-cross from here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/version.go#L46

it no longer works:
https://dl.k8s.io/ci-cross/latest.txt

[2021-07-21 06:13] wangyysde commented on #2463
I have prepared a document at here: https://docs.google.com/document/d/1q0OLHSD6M0JPjN8PxgvpJX1726omQh_Qd3os4LQqrtI

[2021-07-21 16:27] neolit123 opened #2531 "remove /tests/e2e/packages/"
remove the folder /tests/e2e/packages/ from this repository.
it contains some e2e test scripts that are no longer running in the k8s CI.

ownership of testing the debs/rpm publish and install is maintained by sig-release's release engineering subproject.

there are some publish / verify jobs for packages here:
https://k8s-testgrid.appspot.com/sig-release-releng-informing

[2021-07-21 16:27] neolit123 commented on #2531
/area test
/kind cleanup
/help
/priority backlog

[2021-07-22 13:24] wangyysde commented on #2531
/assign

[2021-07-22 14:01] #2531 closed

[2021-07-22 19:41] neolit123 commented on #2463
@wangyysde i have added some comments in the doc. again, thanks a lot for looking in to this.

a couple of things to note about the design:
- usually it's fine to not include most of the implementation details, like file names, conversion code, renames. sometimes this can change during review, so unless the reviewers ask explicitly about having the detail, it's not needed - e.g. sections "The rela

[2021-07-22 21:43] neolit123 commented on #2463
if we are moving the apiserver timeout, a question becomes do we want to move the "discovery" timeout as well.
it is used in code under /discovery:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/discovery/discovery.go#L74-L87

https://pkg.go.dev/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2#Discovery

[2021-07-23 05:32] neolit123 commented on #2463
also something else we can do is move away from metav1.Duration and use `someTimeoutSeconds` (`*int32` everywhere).
i recall issues where metav1.Duration was not CRD fiendly.

[2021-07-23 16:17] neolit123 commented on #2440
the release-1.22 branch and testgrid dashboards for 1.22 were created:
we can proceed with:

[2021-07-24 14:09] rossigee commented on #335
Also, worth checking whether there are any validating webhooks configured that may be unreachable at the time. This could prevent the update to 'cluster-info'.

[code]

If there are problems, it should show up as related errors in the API server logs.

[code]

[2021-07-26 06:38] #2529 closed

[2021-07-26 06:50] RA489 commented on #2440
PR is in flight.

[2021-07-26 07:01] RA489 commented on #2440
@neolit123 Thank you for the great work!!! https://github.com/kubernetes/kubeadm/pull/2434

[2021-07-26 09:07] wangyysde commented on #2463
Ok, I try to move the discovery to under JoinTimeouts

Then, should we create a new type named TimeoutSeconds with *int32?

[2021-07-26 14:16] wangyysde commented on #2463
Ok, I will delete these section. Thanks.

Ok .

[2021-07-26 15:42] neolit123 commented on #2463
Thinking more about this. This is only a problem if the kubeadm api is used
by non-golang clients, because they would need to implement custom parsing
of the go duration format (e.g. 12s). I do not think we will have a use
case for non-go, so we can keep using *Duration.

[2021-07-26 18:15] neolit123 commented on #1393
/remove-lifecycle rotten

[2021-07-26 18:18] neolit123 commented on #2426
/remove-lifecycle stale

[2021-07-26 18:18] neolit123 commented on #2419
/remove-lifecycle stale

[2021-07-26 18:18] neolit123 commented on #1924
/remove-lifecycle stale

[2021-07-26 18:18] neolit123 commented on #1913
/remove-lifecycle stale

[2021-07-26 18:18] neolit123 commented on #1621
/remove-lifecycle stale

[2021-07-28 10:52] wuxinsuoqiu opened #2534 "Why does kubeadm check the path of conntrack? Without this, it does not seem to affect the cluster function"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2021-07-28 13:38] neolit123 commented on #2534
Conntrack is used for connection tracking in k8s. The binary is a
dependency of the kubelet and your node might not operate as expected under
high load.

Here is a detailed blog post on conntrack
https://deploy.live/blog/kubernetes-networking-problems-due-to-the-conntrack/

The k8s.io website is missing documentation on what dependencies the
kubelet needs. Kubeadm just tries to check if these bina

[2021-07-28 13:38] #2534 closed

[2021-07-28 15:42] pendeyao opened #2535 "wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory"
[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests".
 This can take up to 4m0s [kubelet-check] Initial timeout of 40s passed.

Unfortunately, an error has occurred: timed out waiting for the condition

This error is likely caused by:

The kubelet is not running
The kubelet is unhealthy due to a misconfiguration of the

[2021-07-28 15:46] pendeyao commented on #2535
I solved it by upgrade the vm memory from 2G to 4G.

[2021-07-28 15:46] pendeyao commented on #2535
I solved it by upgrade the vm memory from 2G to 4G.

[2021-07-28 15:46] #2535 closed

[2021-07-28 16:18] neolit123 commented on #2535
probably the kube-apiserver failed to start.

2GB should be fine for a control-plane node, one could get with even less than that e.g. ~1.5GB.
but there are a lot of factors at play, if something is consuming all the memory on the machine there might not be enough for the  kube-apiserver. instead of the bump to 4GB it might be worth looking at kube-apiserver / kubelet logs and check for any errors

[2021-07-29 01:56] wangyysde commented on #2463
@neolit123 @fabriziopandini   I have modified the document at here: https://docs.google.com/document/d/1q0OLHSD6M0JPjN8PxgvpJX1726omQh_Qd3os4LQqrtI.  I am going to prepare a PR following the document if you are agree on.

[2021-07-29 13:10] neolit123 commented on #2463
@wangyysde i am going to have a look at the doc again. Like i've explained above we are probably not going to release v1beta4 in 1.23 which means we cannot accept the PR for this. But if you like to get review on it you can have the PR against your fork of k/k for the time being.

[2021-07-29 14:35] neolit123 commented on #1621
minor update here, we could move the taint registration to the kubelet, but one major problem here is that kubeletconfiguration v1beta1 does not support taints via config:
https://kubernetes.io/docs/reference/config-api/kubelet-config.v1beta1/

there is only the CLI flag --register-with-taints.

[2021-07-29 15:38] TBBle commented on #1621
I think this ticket _is_ the motivation for `--register-with-taints` to be moved to kubelet configuration, rather than dropped. The problem isn't well-solvable without being able to include _some_ taint as part of the initial node registration, either the final intended taint (control-plane, in this case), or some intermediate taint that says "Don't schedule to me under any circumstances, I have t

[2021-07-29 15:47] neolit123 commented on #1621
yes, the linked kubelet issue talks about removing flags and adding them as fields in config. though it's mostly stale, best effort and there are some decisions to be made around breaking users. on the kubeadm side we are hesitant about adding more kubelet flags that kubeadm manages.

users can opt-in with NodeRegistrationOptions.kubeletExtraArgs, but they would have to manage the deprecations/rem

[2021-07-29 16:09] randomvariable commented on #1621
@adisky do you know of any plans to migrate the `--register-with-taints` flag to kubelet config?

[2021-07-30 23:37] Swetad90 commented on #1350
For this particular reason (ie change the pointing of the client-ca and cluster-signing-cert to different CA), I'm not able to automate the CA rotation. I thought, I can use a config file that can change the arguments kube-controller-manager accepts, but per the official doc https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/ doesn't show if KCM can accept co

[2021-07-31 02:45] neolit123 commented on #1350
this is the officially approved guide for rotating CA:
https://kubernetes.io/docs/tasks/tls/manual-rotation-of-ca-certificates/

it includes notes about client-ca-file and cluster-signing-cert-file.

[2021-08-02 09:41] fabriziopandini commented on #2463
Even if we are not implementing in this cycle, what about if we start the KEP process so things will be ready for the next cycle (or when we rev the next release)?

WRT to the document, I think the API surface needs some refinements in order to provide consistency with existing timeouts in Kubernetes and a cleaner separation of timeouts for components/scope. This will require some nested structs,

[2021-08-03 10:21] neolit123 commented on #2316
/remove-lifecycle stale

[2021-08-04 08:04] tanguitar commented on #338
Thank you for your help, my problem was solved! Great greate job!

[2021-08-04 15:50] bhawnabharati opened #2538 "Unable to join the Kubernetes worker machine"
Please help me understand what could be the issue

[root@worker-node ~]# kubeadm join  172.31.37.150:6443--token  mc0s5z.6pn0j8adurhddij
w  \

10d410e58cd1691320fc5194e
unknown command "join\u00a0" for "kubeadm"

Did you mean this?
join

[2021-08-04 16:24] neolit123 commented on #2463
@fabriziopandini

@wangyysde what do you think about working on the KEP without PRs for 1.23?

@fabriziopandini can you provide examples of what you mean so that @wangyysde can better grasp your sub-struct / component ideas.

[2021-08-04 16:47] neolit123 commented on #2538
`\u00a0` means that you did not insert a space after `join`, but rather this special character:
https://www.fileformat.info/info/unicode/char/00a0/index.htm

try retyping the command with regular spaces.

please use #kubeadm on k8s slack for support, or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support

[2021-08-04 17:01] bhawnabharati commented on #2538
Hi thanks for your reference looks like I am still failing
***@***.*** ~]# kubeadm  join 172.31.37.150:6443 --token  mc0s5z.6pn0j8ad
urhddijw  \

e58cd1691320fc5194e
-bash: kubeadm : command not found

[2021-08-05 01:32] pacoxu commented on #2426
Testing 1.22, and I find ` kubeadm.alpha.kubernetes.io/cri-socket` is not in my 1.22.0-beta.0 node.

[code]
I got the error when I upgrade from v1.22.0-beta.1 to v1.22.0 with kubelet 1.21.1

[2021-08-05 08:55] fabriziopandini commented on #2318
/lifecycle frozen

[2021-08-05 08:55] fabriziopandini commented on #2367
/lifecycle frozen

[2021-08-05 09:01] fabriziopandini commented on #2463
I have provided comments on the attached document; they got resolved by @wangyysde, but in the proposal it seems that there is still a flat struct when all the timeouts for different components/no consistency with the rest of Kubernetes. So from my point of view this is still to be addressed; I will loop again on it the KEP eventually.

[2021-08-05 16:22] neolit123 opened #2539 "1.23: housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.
**It tracks the upcoming release of Kubernetes 1.23 (1.x)**

Note: make sure you reference this issue in PRs.

same issue for 1.22 (see example PRs):
https://github.com/kubernetes/kubeadm/issues/2440

_When 1.x-4 version goes out of support_
https://kubernetes.io/releases/#release-history

- [x] Drop kinder sup

[2021-08-05 16:22] neolit123 commented on #2440
this is done.

1.23 issue is here:
https://github.com/kubernetes/kubeadm/issues/2539

[2021-08-05 16:22] #2440 closed

[2021-08-05 21:07] shoaibjdev commented on #413
This actually did worked on low spec hardwares. Increasing Initial Delay for all the major control plane components (**kube-apiserver, kuber-controller, kube-scheduler-manager**) to **180 seconds** brought stability, no more frequent re-starts of control plane components.

[2021-08-05 21:14] neolit123 commented on #413
note kubeadm has the --experimental-patches (--patches in 1.22) feature that can be used to apply kubectl-like patches to the manifests before they are deployed. so you don't have to use `sed`.

these patches can also be applied with `kubeadm upgrade ...`.

[2021-08-06 12:42] abdennour commented on #2050
how to patch that kubeadm-config  ?
what's the whole structure of that yaml ?
I ran `kubeadm config images pull --image-repository=registry.local --kubernetes-version=v1.20.11`
 Is it enough ?

[2021-08-06 16:45] cenkersoy opened #2540 "kubeadm init gives "can not mix --config with arguments [cri-socket]" error"
Hi

I am using version 1.22.0-00 and containerd. I attempt to initialize the cluster.

**$ sudo kubeadm init --config=ClusterConfiguration.yaml --cri-socket /run/containerd/containerd.sock --v=5**

can not mix '--config' with arguments [cri-socket]
k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/validation.ValidateMixedArguments
        /workspace/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s

[2021-08-06 16:57] neolit123 commented on #2540
please always check the release notes for kubeadm changes.

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md

/kind support

[2021-08-06 16:57] #2540 closed

[2021-08-06 16:59] neolit123 commented on #2540
for more questions please use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2021-08-06 17:59] Mallikarjuna1985 commented on #1893
Above all im trying but issue not solved

[2021-08-07 04:46] abdennour commented on #1617
experiencing same issue after upgrading from 1.18.20 to 1.19.3 :
- `k get no` shows the new version
- `k version` (server) shows the old version

I tried :
- restart kube-apiserver
- restart kubelet

nothing work

[2021-08-07 09:21] happylucki opened #2541 "Kubeadm init error - Ubuntu"
While Installing on Ubuntu nusing kubeadm.... Getting the following error

[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
[kubelet-check] Initial timeout of 40s passed.
[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL ht

[2021-08-07 09:39] KelvinAkpobome commented on #2541
Same issue here too.

[2021-08-07 10:34] happylucki commented on #2541
I think it is because Kubernetes  as deprecated docker .... May be running with containerd will help

[2021-08-07 11:47] KelvinAkpobome commented on #2541
Yes. It did help

Thanks a lot

[2021-08-08 04:46] RA489 commented on #2539
taking Drop kinder support  & Cleanup E2E jobs for 1.x-4
/assign

[2021-08-09 04:10] SataQiu commented on #2541
Ref https://github.com/kubernetes/kubernetes/issues/104230#issuecomment-894933632

[2021-08-09 09:24] fabriziopandini commented on #2135
/remove-lifecycle stale

[2021-08-09 12:19] neolit123 commented on #2541
please always check the release notes:
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.22.md#no-really-you-must-read-this-before-you-upgrade

the docker support in k8s is currently built-in. it's moving to external:
https://github.com/Mirantis/cri-dockerd

/kind support

[2021-08-09 12:19] #2541 closed

[2021-08-09 13:41] wfsly commented on #2054
to recreate bootstrap-kubelet.conf

[2021-08-09 13:46] wfsly commented on #2054
I got a cluster, all certs are expired except ca.crt, so control plane are also down.
I fix it with renew certs and  recreate bootstrap-kubelet.conf.
1. `kubeadm alpha certs renew all` on each node. and restart kubelet, it doesn't work in my case
2. `kubectl config set-cluster kubernetes --certificate-authority=/etc/kubernetes/pki/ca.crt --embed-certs=true --server=https://%v:%v --kubeconfig=/etc/

[2021-08-10 04:59] #1714 closed

[2021-08-10 10:01] PengBo-Tyler opened #2542 "kubelet.go:2407] "Error getting node" err="node \"192.168.206.128\" not found""
hello!
     I am a chines,my english is terrible！Sometimes，Maybe you can't understand what it is mean. I am so sorry for it.But I really hope you can help me to "do it -the problem".

    I am deploying the K8S in "kubeadm-1.22.0",docker's version is  20.10.8 . the OS is Red Hat 8.2 and the OS run in VMware. OS swap off , SELinux  disabled .
"kubeadm config images list " ==  "docker images"--> (I

[2021-08-10 16:08] Haleygo opened #2543 "Remake some func args for dry run"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

During the process of [adding dryrun join](https://github.com/kubernetes/kubernetes/pull/103027), we found out that there are some func in kubeadm cmd can't be easily remake to accept directory as expected.
Like:
[#103027 (comment)](https://github.com/kubernetes/kubernetes/pull/103027#discussion_r655531613)
[#103027 (comment)](https://gi

[2021-08-10 16:34] neolit123 commented on #2542
hi, we try to keep the kubeadm issue tracker only for bugs/features.
for support you can use #kubeadm on k8s slack or the links here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this might be caused by a cgroupdriver problem (it's very common), see:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/

kubeadm 1.22 changed it's behavior for dock

[2021-08-10 16:34] #2542 closed

[2021-08-10 20:02] #2505 closed

[2021-08-11 18:02] neolit123 commented on #2046
@pacoxu
looks like the recent changes broke the patches e2e test jobs for 1.22 and latest:
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-patches-latest
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-patches-1-22

both show errors such as:
[code]

this means the patches were not applied.

looking at the output of kubeadm init here:
https://storage.google

[2021-08-11 19:27] pacoxu commented on #2046
let me check

[2021-08-12 06:32] pacoxu commented on #2046
I tried to fix it in https://github.com/kubernetes/kubeadm/pull/2545.

[2021-08-12 16:57] jamesdboone commented on #2526
For me this issue was a problem with my new k8s node not being able to pull down core k8s images.
A quick 'kubectl get po --all-namespaces' showed my calico and kube node pods getting stuck in imagepullbackoff.
Resolving these enabled things to start working as-expected, I was able to deploy pods to the new node.

[2021-08-12 17:24] neolit123 commented on #1898
/lifecycle frozen
etcdctl is still in the etcd image. unclear if we every have to do this.

[2021-08-14 02:48] cloudcafetech commented on #1685
@neolit123

Can you please help me to troubleshoot for HA Kubenetes using Kubeadm with corporate F5 load balancer.
I checked, not able to find proper solution for ```HA Kubenetes using Kubeadm with corporate F5 load balancer```, most case its haproxy.  With HAPRoxy its running smooth.

***** Q1. Any special configuration reuired for F5 load balancer to setup HA Kubenetes using Kubeadm.

***** Note

[2021-08-14 04:51] thockin commented on #2515
Re-stating from the linked PR - I do not see ANY value in doing anything other than what `goimports` does by default.   This just does not matter very much, and it's a big waste of energy.

[2021-08-14 10:23] neolit123 commented on #1685
Hi, it's hard to say what the problem might be right away.

We don't provide support in the kubeadm issue tracker anymore. Please check
the README.md for some useful links.

[2021-08-14 10:30] cloudcafetech commented on #1685
Thanks for reply.

I tried on same host with --control-plane-endpoint=<same host IP>:6443 & its install successfully. So issue should be for F5 LB only.

the README.md for some useful links.

Please help if any pointer will be fine enough. Struggling last few days :(

[2021-08-15 18:29] ramrajgupta1988 commented on #2210
I was facing same problem (Kubelet service were not coming up) while installing Kubernetes on Fedora Ubuntu 18.4. Then I have applied below setting for Docker to change the stoarge driver.

cat > /etc/docker/daemon.json <<EOF
{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2",
  "storage-opts": [

[2021-08-15 19:56] neolit123 commented on #2322
/remove-lifecycle stale

[2021-08-16 01:44] vmacarrein commented on #1893
I got the same issue during the installation. The kubelet was not running. in the procedure of kubelete installation you must to configure the docker container (I think they have remove this part in the procedure):

sudo mkdir /etc/docker
cat <<EOF | sudo tee /etc/docker/daemon.json
{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m

[2021-08-16 14:07] mosihra opened #2546 "kubelet service does not start failed to load Kubelet config file /var/lib/kubelet/config.yaml"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2021-08-16 15:18] neolit123 commented on #2546
see:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

also:
https://github.com/kubernetes/kubeadm#support

/kind support

[2021-08-16 15:18] #2546 closed

[2021-08-16 15:53] neolit123 opened #2547 "patches: patch support e2e are still broken"
we made the e2e tests use the v1beta3.Init|JoinConfiguration.patches.directory feature:
https://github.com/kubernetes/kubeadm/pull/2545
https://github.com/kubernetes/kubeadm/pull/2537

but the CI is failing:

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-patches-latest
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-patches-la

[2021-08-16 15:53] neolit123 commented on #2547
cc @pacoxu

[2021-08-16 17:35] neolit123 commented on #2547
looks like `docker cp somepatch container:path` is failing.

[code]

this is caused by this change:
https://github.com/kubernetes/kubeadm/pull/2545/files#diff-f277f4b0d68900b4ebba057a2753bed34b77b7ece1db8e11c0619ef9ceb92328R116

i have no explanation why this is happening but i can reproduce it locally.

[code]
the command passes, the file is not copied under tmp.

[code]

it either has this error

[2021-08-16 19:24] #2547 closed

[2021-08-16 20:43] neolit123 commented on #2271
from my POV the last item in the TODOs here is not easily doable. [summary above](https://github.com/kubernetes/kubeadm/issues/2271#issuecomment-771233600).
if someone wants to investigate this further, please go ahead.

[2021-08-16 20:48] neolit123 commented on #2547
last run is green:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-patches-latest

[2021-08-17 02:34] ymwfish opened #2549 "error syncing endpoints with etcd: context deadline exceeded To see the stack trace of this error execute with --v=5 or higher"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2021-08-17 08:38] fabriziopandini commented on #2549
Could you kindly fill in the required info to help the team in reproduce and triage the problem

[2021-08-17 10:38] neolit123 commented on #2549
https://github.com/kubernetes/kubeadm#support

/kind support
/close

[2021-08-17 10:38] #2549 closed

[2021-08-18 00:07] neolit123 opened #2551 "add import order tool to this repository"
xref https://github.com/kubernetes/kubeadm/issues/2515

the tool for import ordering was rejected from k/k, but we can at least archive it in this repository.

a good location for the tool / scripts is /kinder/hack:
https://github.com/kubernetes/kubernetes/pull/103981

which will effectively also manage the imports of kinder.

cc @xinydev as you have the source code for it.

[2021-08-18 01:02] xinydev commented on #2551
/assign

[2021-08-18 11:52] OzanSayici opened #2552 "Kubeadm init error"
[init] Using Kubernetes version: v1.22.0
[preflight] Running pre-flight checks
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also perform this action in beforehand using 'kubeadm config images pull'
[certs] Using certificateDir folder "/etc/kubernetes/pki"
[

[2021-08-18 12:04] neolit123 commented on #2552
Please see
https://github.com/kubernetes/kubeadm#support

/kind support

[2021-08-18 12:04] #2552 closed

[2021-08-19 07:27] guleng opened #2553 "update a certificate front-proxy-ca.crt"
## What happened?
kubeadm:1.15.5
The “front-proxy-ca.crt and front-proxy-ca.key” does not change after the certificate is updated with the “ kubeadm alpha certs renew all  --use-api” command

## What you expected to happen?
The above certificate causes this error "Error from server (Forbidden): nodes.metrics.k8s.io is forbidden: User "front-proxy-client" cannot list resource "nodes" in API group "

[2021-08-19 09:07] mfayiz opened #2554 "kubeadm init is failing"
Hello,

We are creating google anthos cluster on a baremetal. As part of the cluster creation we are getting below error
=================================
E0819 13:36:27.840442  353646 logs.go:69]  "msg"="Failed to bootstrap." "error"="create kind cluster failed: error creating bootstrap cluster: failed to init node with
kubeadm: command \"docker exec --privileged bmctl-control-plane kubeadm init

[2021-08-19 11:19] neolit123 commented on #2554
Hi, looks like its failing in kind. You can search their issue tracker or
ask for help in #kind on k8s slack.

If you are running kind in gke this means you need to follow the kind guide
for running kind in k8s. Search their docs for that.

For kubeadm specific help see:
https://github.com/kubernetes/kubeadm/blob/master/README.md#support

/kind support
/close

[2021-08-19 11:19] #2554 closed

[2021-08-19 16:16] neolit123 commented on #2553
hi,

this version is very old and out of support.

note, the --use-api flag no longer exists in newer versions of kubeadm.

kubeadm signs all CAs with a 10 years duration.
the above message talks about front-proxy-client, that client cert is signed for 1 year.

if you wish to update the client cert you can use `kubeadm alpha certs renew`
to rotate the CAs in the cluster you can see this guide:
htt

[2021-08-19 16:16] #2553 closed

[2021-08-20 09:55] adisky commented on #1621
@randomvariable  `--register-with-taints` looks like instance specific flag and the instance config KEP is stalled
https://github.com/kubernetes/kubernetes/issues/61655
https://github.com/kubernetes/enhancements/pull/1439

Interested  in knowing the experience with this flag, is it usually same for all nodes in cluster or set differently on each node? I think it could be both depending on use case

[2021-08-20 10:43] neolit123 commented on #1621
I don't think anyone have exact metrics, but the flag value can be different on one or more nodes. It is about node taints, after all.

[2021-08-20 11:00] adisky commented on #1621
@neolit123 was not asking exact metrics just the general usage:). It makes sense than to wait for instance config KEP and seems no benefit to migrate now

[2021-08-20 11:04] neolit123 commented on #1621
The KEP PR is stale and should be closed with tranfer of ownership. The
author recently asked if anyone wishes to take it in an email thread
discussing the disband of wg component standard.
On Aug 20, 2021 14:00, "Aditi Sharma" ***@***.***> wrote:

I don't think anyone has exact metrics. The flag value can be different on
one or more nodes. It is about node taints, after all.

@neolit123 <https://

[2021-08-20 14:33] neolit123 commented on #2543
test
(just testing a github action that we recently added)

[2021-08-20 14:33] neolit123 commented on #2543
/support

[2021-08-23 01:07] seanodea commented on #1031
My symptoms were 101% like @jotrobin reported and this finally fixed it. Thanks!

[2021-08-23 12:29] fabriziopandini commented on #2551
Q: is there a reason why are we adding more rules than Kubernetes/than the ones that are enforced by available linterts? I other words, what I'm trying to understand what is what is is the advantage in becoming opinionated about imports for this repository only and if this is worth maintaining a linter in this repository.

[2021-08-23 15:57] neolit123 commented on #1582
considering writing a short KEP for this for 1.23, if there is enough time.
looks like enhancements freeze for 1.23 is 9th of Sept.

rough plan:
- deprecate the kubelet-config-x.y CM naming in 1.23.
- introduce a kubelet-config CM in 1.23.
- maintain both during the deprecation period.
- remove usage of the kubelet-config-x.y CM naming after a GA deprecation period (3 releases / 1 year).
-

[2021-08-23 16:10] neolit123 commented on #1668
closing this until we get more user requests for combining the commands.
it seems doable and a nice to have, but also someone has to own the implementation / writing the KEP, tracking the GA command deprecation, updating docs etc.

[2021-08-23 16:10] #1668 closed

[2021-08-24 13:50] dalfos commented on #2394
I faced with this issue.
I found that in my case kubeconfig is outdated on master:
[code]
Updating kubeconfig fixed issue.

[2021-08-24 15:00] zubanst opened #2559 "Fresh install; kubeadm init fails with 'dial tcp 127.0.0.1:10248: connect: connection refused.'"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Mino

[2021-08-24 15:14] neolit123 commented on #2559
/support

[2021-08-24 15:15] #2559 closed

[2021-08-24 15:35] zubanst commented on #2559
Well, I am a bit confused how quickly you dismissed this ticket. What if there is a bug or regression in the package? As it is a fresh install, all standard, how are you so sure? What kind of issue would you deal with here then?

[2021-08-24 15:41] neolit123 commented on #2559
hi, we get multiple similar issues every week and usually the cause is something on the user host, which is outside of our control.
examples are: cgroup driver mismatch, firewall rules, container runtime not running, etc.

you have to look at the kubelet logs as that is the failing component.
everything is covered in the command output after failure and the troubleshooting guides.

if you find an

[2021-08-25 04:57] prabhinmp opened #2560 "Kubeadm upgrade plan failed v1.17.11 to 1.18.20"
Hi Team,
I'm  upgrading Kubernetes cluster from v1.17.11 to 1.18.20.

[code]
Im not using external etcd . but I'm getting below error when I do `kubeadm upgrade plan.` command

`I0825 00:49:59.791965 3510173 round_trippers.go:444] GET https://192.168.190.78:6443/api/v1/namespaces/kube-system/configmaps/kubeadm-config?timeout=10s 200 OK in 1 milliseconds
I0825 00:49:59.791980 3510173 round_trippers

[2021-08-25 06:12] prabhinmp commented on #2560
found below log in etcd during upgrade plan command

`2021-08-25 05:54:34.838997 I | embed: rejected connection from "192.168.190.78:39392" (error "remote error: tls: bad certificate", ServerName "")
2021-08-25 05:54:36.617835 I | embed: rejected connection from "192.168.190.78:39396" (error "remote error: tls: bad certificate", ServerName "")
2021-08-25 05:54:39.424431 I | embed: rejected connect

[2021-08-25 07:31] RA489 commented on #2560
/kind support

[2021-08-25 07:41] RA489 commented on #2560
@prabhinmp add `server auth` and `client auth` for the server profile might fix this issue.

[2021-08-25 07:42] wangyysde commented on #2463
Should  I try to prepare a KEP for this first?

I have read your comments on the attached document. Thanks. Recently ,I am too busy to  modify the file in time. Can I change the structure from flat to nested in the KEP( if I should prepare a KEP) without the attached document modified?

[2021-08-25 08:04] RA489 commented on #2560
related to https://github.com/kubernetes/kubeadm/issues/910

[2021-08-25 10:48] neolit123 commented on #2463
SGTM @wangyysde

take your time as this is not urgent for 1.23.

[2021-08-25 12:21] neolit123 commented on #2560
<1.20 is out of support.

You could try refreshing the certs with 'kubeadm certs renew' before
upgrade. This command is missing in older versions so download kubeadm 1.22
and use it only for that purpose. Use the 1.18 binary for the upgrade.

/support

[2021-08-25 12:22] #2560 closed

[2021-08-28 13:01] zubanst commented on #2559
To whom might have the same issue, I figured out what was going on. In Ubuntu distro, docker comes by default with the native control group driver <i>cgroupfs</i> while kublet assumes <i>systemd</i>. So I changed the kublet config in /etc/systemd/system/kubelet.service.d/10-kubeadm to  <b>Environment="KUBELET_KUBECONFIG_ARGS=--bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfi

[2021-08-30 12:19] neolit123 commented on #2171
kind is also importing images with containerd in the k8s.io namespace.
it seems like standard naming at this point.

as far as testing custom image repositories, i think kubeadm unit tests + higher level tools provide sufficient testing.
the usage of k8s.gcr.io in kubeadm ensures that feeding *a repository* URL works.

please re-open if needed.

[2021-08-30 12:19] #2171 closed

[2021-08-30 12:19] neolit123 commented on #2317
/remove-lifecycle stale

[2021-08-31 10:43] mohalahmad opened #2561 "etcd"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2021-08-31 10:43] #2561 closed

[2021-08-31 14:13] alainhenryt commented on #1893
Thank you  @vmacarrein. The above slution was very helpful. Used it to resolve kubeadm init.

[2021-08-31 18:58] neolit123 commented on #1612
looks like the FG is moving to GA in 1.23:
https://github.com/kubernetes/kubernetes/pull/104691

this mean we can remove the kubeadm FG + handling in 1.24 or later.

[2021-09-01 02:03] pacoxu commented on #1612
In 1.23 kubeadm, we may change the FG to hidden like below after kubernetes/kubernetes#104691 is merged.
[code]

[2021-09-01 14:23] nfisher opened #2562 "Add mirror sub-command to kubeadm config images"
## FEATURE REQUEST

Add a `mirror` subcommand to `kubeadm config images`.

## Versions

**kubeadm version** (use `kubeadm version`): all

**Environment**:
- **Kubernetes version** (use `kubectl version`): all
- **Cloud provider or hardware configuration**: NA
- **OS** (e.g. from /etc/os-release): NA
- **Kernel** (e.g. `uname -a`): NA
- **Others**: NA

## What happened?

Mirroring gcr images requir

[2021-09-01 19:04] neolit123 commented on #2562
hello,

i think the command can be useful, but it would step outside of the scope of kubeadm which has been to only support the minimal viable functionality to create a cluster. listing and pulling the images is a necessary functionality, today.
tagging and pushing seems like and advanced use case that can be done with the host container runtime tools.

as noted on the issue, kubeadm users can use

[2021-09-01 19:04] #2562 closed

[2021-09-01 21:01] khenidak commented on #1612
Folks -- Do you want me to address gate removal in PR kubernetes/kubernetes#104691 - or do you want to take care of it separatly?

@neolit123 @pacoxu @aojea

[2021-09-02 01:31] neolit123 commented on #1612
for 1.23 in kubeadm we should just change this line:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/features/features.go#L42

to be exactly this:
[code]

^ `LockToDefault` is true, i'm assuming this also has to happen for the core feature gate - i.e. when the FG goes GA we are going to lock it to `true`.
it also includes `HiddenInHelpText: true` as @pacoxu pointed out above (

[2021-09-02 01:47] pacoxu commented on #1612
Yes. Either is ok(in 1.23 or 1.24).

@khenidak  As Lubomir points out, you can just update the [cmd/kubeadm/app/features/features.go#L42](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/features/features.go#L42).

The removal of the FG logic in kubeadm can be done in your PR or a separate PR which is just a cleanup. Either is OK.

[2021-09-02 15:20] khenidak commented on #1612
Ok - I will update the feature file. But will not touch the rest. Thank you.

[2021-09-06 07:53] pacoxu commented on #1582
A question is frequently asked by our customers if their custom configs can be saved after upgrading the cluster.
/cc
The new solution seems to improve the experience.

[2021-09-06 10:21] RA489 commented on #2163
taking remove the --csr* flags from "kubeadm certs renew".

[2021-09-06 10:21] RA489 commented on #2163
/assign

[2021-09-06 13:34] pacoxu commented on #2039
/close
since kubernetes/kubernetes#101600 was merged.

[2021-09-06 13:34] #2039 closed

[2021-09-08 00:19] 842Mono commented on #1893
This worked for me. We just need to execute some commands after creating the file. Below are the commands one after the other:

[code]

[2021-09-08 03:57] pacoxu opened #2563 "NodeSwap feature supports in kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

/kind feature

## Versions

**kubeadm version** (use `kubeadm version`):
NodeSwap is alpha in 1.22 and will be beta1 in 1.28(still default disabled).
- the promotion is postponed due to lack feedback and testing(I think also due to sig-node lack of reviewers)
- Elana the feature owner is not currently active. So not included in v1.25 pla

[2021-09-08 04:39] pacoxu commented on #2563
/cc @ehashman

[2021-09-08 12:19] neolit123 commented on #2563
Thanks for logging the issue.

I think it makes sense to remove the preflight check in the release when
the feature goes beta. Checking the kubelet args / config for the FG is
doable but a bit messy.

/milestone v1.23
On Sep 8, 2021 07:39, "Paco Xu" ***@***.***> wrote:

[2021-09-08 12:21] neolit123 commented on #2563
Actually, since we support kubelet n-1 skew, it should probably be done one
release after beta.

[2021-09-08 12:31] pacoxu commented on #2563
It makes sense. Hence, if it is beta in 1.23, kubeadm may add the support in 1.24+.

For users like me who want to try the alpha feature, does the preflight check of swap-off too harsh? The workaround is to add ignore flag in 1.22.

At least, the check should be removed in 1.23 when it’s beta in my opinions.

[2021-09-08 12:33] pacoxu commented on #2563
Or we may change the check error to a warning message?

[2021-09-08 12:37] neolit123 commented on #2563
Ok, in 1.23 we can switch it to warning. Remove it in 1.24.

[2021-09-08 19:56] dlipovetsky opened #2564 ":bug: `join` does not allow user-defined (aka custom) static pod manifests unless the user ignores a preflight check"
## What keywords did you search in kubeadm issues before filing this one?

DirAvailable

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.22.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
-

[2021-09-08 19:59] neolit123 commented on #2564
makes sense to me and this is what we discussed on slack.
i have added the help wanted label, so if anyone wishes to take this as a fix for 1.23, please go ahead.

as previously noted, we cannot backport the change to <1.23.

[2021-09-09 02:49] SataQiu commented on #2564
/assign

[2021-09-09 08:52] fabriziopandini commented on #2564
I have a couple of questions here before green lightning the change.
- Our preferred ways to support static pod mutations is via config files or via patches for the advanced use cases, and this relies on the idea that kubeadm does the heavy lifting, ensures everything is consisntent, and the user applies small changes. Allowing the user to provide static pod manifests out of band kind of defeats t

[2021-09-09 12:01] randomvariable commented on #2564
I don't think that's the use case here. It's more to allow placing of additional static manifests for things where a daemonset isn't useful. So it'll be fine to error if we see static pod manifests that match the ones kubeadm is about to lay down, but ignore other ones.

Additional static pods are mostly used on control plane machines, for example adding an etcd encryption provider for the API ser

[2021-09-09 15:09] dlipovetsky commented on #2564
Thanks for the input, @fabriziopandini and @neolit123.

As @neolit123 says, the use case is _additional_ static pod manifests.  I will amend the description to say this explicitly.

+1

[2021-09-09 15:26] dlipovetsky commented on #2564
I agree that user safety is a priority. If we limit the check _to the static pod manifests written by kubeadm_, we continue to keep the user safe from running init/join twice, but we allow the user to manage their own static pod manifests.

[2021-09-09 15:27] dlipovetsky commented on #2564
Whatever we choose to do with this preflight check, let's please apply it consistently to both `init` and `join`. Today it only applies to `join`.

[2021-09-10 08:18] zhaocheng173 opened #2565 "How to build kubeadm from source code and build image to run K8S cluster"
Who can help me? Now I was installed through the yum/apt kubelet, kubectl, kubeadm, when deployed, the default/etc/kubernetes/manifest and/var/lib/kubelet/config. Yml has increased the default parameters, WHAT I know is that I can clone kubenetes code, make WHAT= CMD /kubeadm to compile kubeadm, modify the code configuration in it to start kubeadm with the specified parameters, However, I am confu

[2021-09-10 08:28] neolit123 commented on #2565
to build kubeadm clone kubernetes/kubernetes and type:
`make all WHAT=/cmd/kubeadm` the output binary will be in `_output`.

what you are trying to do is not recommended.
you don't have to clone source code to modify how kubeadm works.

configuring is documented here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/

for more help try #kubeadm on k8s slack

[2021-09-10 08:29] #2565 closed

[2021-09-10 08:53] zhaocheng173 opened #2566 "How to modify the kubeadm start deployment parameter in the code"
/etc/kubernetes/manifest /kubernetes/manifest /kubernetes/manifest /kubernetes/manifest /kubernetes

[2021-09-10 09:25] neolit123 commented on #2566
the documentation is here like i said on https://github.com/kubernetes/kubeadm/issues/2565#issuecomment-916729260
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/

please use #kubeadm on k8s slack or the support channels for questions.

/support

[2021-09-10 09:25] #2566 closed

[2021-09-10 14:56] randomvariable opened #2567 "Improvements for etcd liveness probes"
## What keywords did you search in kubeadm issues before filing this one?

This is related to https://github.com/kubernetes/kubernetes/issues/96886
and https://github.com/etcd-io/etcd/issues/13340

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.22, etcd v3.5.0

## What happened?

Under certain cluster conditions, such as a

[2021-09-13 10:29] pacoxu commented on #2567
Adding `/health?exclude=NORAFTLEADER&consistency=s` seems to be current workaround solution in kubeadm.

[2021-09-13 10:49] neolit123 commented on #2567
I was under the impression that it does not work.

[2021-09-13 11:29] pacoxu commented on #2567
How to easily reproduce it with a simple script?

[2021-09-14 00:19] rcmelendez commented on #1124
In case someone gets here and has CentOS 8/Rocky Linux, these are the commands I used to fix it:

`sudo mkdir -p /run/systemd/resolve`
`sudo ln -s /etc/resolv.conf /run/systemd/resolve/resolv.conf`

[2021-09-14 08:35] F1ko opened #2568 "Add custom annotations to static pod manifests"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: ~~BUG REPORT or~~ FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

## What happened?

`ClusterConfiguration` does currently not support adding custom annotations to static pod manifests.

## What you expected to happen?

I expect `ClusterConfiguration` to have an option for additional Pod annotations, someth

[2021-09-14 09:41] neolit123 commented on #2568
Hi, if we add the feature like that the clusterconfiguration would apply
the annotations on all control control plane pods (e.g. in an HA that would
be 3+ etcd pods with the same annotation). In most cases that would not be
desired.

A more flexible solution already exists - see the patches section here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/

Yo

[2021-09-14 11:00] chance2021 commented on #299
Thanks @Steffen911 ! It works for me!
[code]

[2021-09-15 10:52] #2207 closed

[2021-09-15 17:23] randomvariable commented on #2567
I think starting a HA kind cluster, and then shutting down the containers and restarting them might be sufficient. I have a feeling it's related to https://github.com/kubernetes-sigs/kind/issues/1689

[2021-09-15 18:16] #2564 closed

[2021-09-16 03:03] RA489 commented on #2568
/kind support

[2021-09-16 18:31] ricosega opened #2569 "kubeadm config images list wrong when initializing cluster"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm config images list wrong when initializing cluster

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Baremetal

- **OS** (

[2021-09-16 18:41] neolit123 commented on #2569
please see:
https://github.com/kubernetes/kubeadm/issues/2513#issuecomment-867004320

and

https://kubernetes.slack.com/archives/C13J86Z63/p1631243935015600?thread_ts=1631209647.012500&cid=C13J86Z63

what you can do is use kubeadm config images list --config for the image source -> target mapping. this will work for versions post *and* pre 1.21 (so portable, before the subpath change too...).

at

[2021-09-16 18:41] neolit123 commented on #2569
/kind support
/close

[2021-09-16 18:41] #2569 closed

[2021-09-16 19:05] neolit123 opened #2570 "document some best practices for private container registries"
a number of users are facing the same problem of the coredns image having a subpath at GCR, but not having one by default if they use a custom registry.

we should document at k8s.io, that `kubeadm config images --config ...` is the source of truth and there is no guarantee of direct mapping for paths between GCR and a custom registry.

xref
https://github.com/kubernetes/kubeadm/issues/2513
https:

[2021-09-16 19:05] neolit123 commented on #2569
logged https://github.com/kubernetes/kubeadm/issues/2570 to track adding some documentation for this.

[2021-09-17 04:37] pacoxu commented on #2570
That is really odd.

https://github.com/DaoCloud/public-image-mirror/blob/main/mirror.txt#L53-L54
We sync all images of both k8s.gcr.io/coredns and k8s.gcr.io/coredns/coredns to our `k8s-gcr.m.daocloud.io` (which is faster in China). But the `kubeadm config images pull --image-repository=k8s-gcr.m.daocloud.io` failed for the coredns images.

We have to manually sync `k8s.gcr.io/coredns/coredns` im

[2021-09-17 07:47] neolit123 commented on #2570
I really do not like that the default gcr parh is different.

What do you mean by 'manual'? Can you use the above mapping method above?
The command also has -o=json.

[2021-09-17 07:52] pacoxu commented on #2570
At first, we simply run a sync job from source site to destination site like below.

source site | destination site (replace it to)
-- | --
gcr.io | gcr.m.daocloud.io
k8s.gcr.io | k8s-gcr.m.daocloud.io
docker.io | docker.m.daocloud.io
quay.io | quay.m.daocloud.io
ghcr.io | ghcr.m.daocloud.io

Because of this issue, we add a special task to mapping `k8s.gcr.io/coredns/coredns` to `k8s-gcr.m.daoclou

[2021-09-17 07:59] neolit123 commented on #2570
Ok. I think both old (before the coredns subpath change) and new versions of kubeadm can use a source -> destination method where the repo + path is used and not only the repo.

The 'kubeadm config images' essentially gives repo + path for all required images. Not only repo.

I can try writing a better detailed example later.

[2021-09-17 14:07] neolit123 commented on #2410
/remove-lifecycle stale

[2021-09-17 14:07] neolit123 commented on #2410
/remove-lifecycle stale

On Fri, 17 Sept 2021 at 17:00, Kubernetes Triage Robot <
***@***.***> wrote:

[2021-09-20 10:42] alexcpn opened #2571 "Kubeadm Pre-flight check fails for cgroupsv2 (CGROUPS_CPUSET: missing)"
Not sure if this is an OS thing or Kubeadm related.

## Versions

**kubeadm version** (use `kubeadm version`):
- kubeadm version: &version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2",

**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2",
- **Cloud provider or hardware configuration**:
- Google Cloud VM
- *

[2021-09-20 11:06] neolit123 commented on #2571
Hi, kubeadm uses the kubernetes/system-validators library to perform this
validation.

It opens /sys/fs/cgroup and looks for required and optional specification
https://github.com/kubernetes/system-validators/blob/master/validators/types_unix.go

Functionality like cpusets is required on the os level, and the kubelet or
container runtime will prorobably fail without them. It is worth
understanding

[2021-09-20 11:38] #2571 closed

[2021-09-20 13:08] alexcpn commented on #2571
It worked with Ubuntu 21.04, with Cgroupsv2  enabled.

[2021-09-20 17:36] #2568 closed

[2021-09-21 03:31] nghyjohn opened #2572 "kubeadm init with pod-network-cidr but still remains using 10.85.0.0"
I tried to init k8s by the following command:

`kubeadm init --control-plane-endpoint example.com --upload-certs --pod-network-cidr 172.31.0.0/16 --service-cidr 10.240.0.0/12 --kubernetes-version v1.22.2`

After init, the pod network still using 10.85.0.0, which is not my expectation:
$ kubectl get pods -A -owide
[code]

$ cat /etc/cni/net.d/100-crio-bridge.conf
`{
    "cniVersion": "0.3.1",
    "

[2021-09-21 09:19] neolit123 commented on #2572
IIUC, having this in your cni config cannot be overriden by the kubeadm
flag, which is just propagated as the "cluster-cidr" flag in the
kube-controller-manager manifest.

This CNI seems to *require* the 10.85.0.0 subnet and that is what you
should be passing to pod-network-cidr.

At least this is my understanding.
You can confirm with the k8s network experts in #sig-network on k8s slack.

I do no

[2021-09-22 03:47] pacoxu commented on #2473
I am doing some investigations and testing on this alpha feature recently.
Is there anything that should be done in 1.23? @neolit123  @vinayakankugoyal

[2021-09-22 05:26] Saikiranbelana commented on #1477
I was unable to join my master node with `kubeadm join ` command.

Here is what i get when i run with `--v=5`

`sudo kubeadm join 172.31.41.122:6443 --token tinrm3.qo0tg18ml9lk3xuk      --discovery-token-ca-cert-hash sha256:0961d71f484fe3ba64a2a170e86ba80846d61f7e4f2d0d006c301bf17b5eaaf2 --v=5
I0922 05:24:02.872327    3872 join.go:405] [preflight] found NodeName empty; using OS hostname as NodeNam

[2021-09-22 06:08] aryansaraf018 commented on #1380
Hey @tcurdt do we need to execute the 3 sudo sed commands?. I tried execution without them, it's still showing the same error. Help will be appreciated

[2021-09-22 08:30] neolit123 commented on #2473
let us know if you find any bugs. my biggest concern is around supporting linux distros that are non-standard in terms of system files.

the KEP was not updated for 1.23, with the premise to give the alpha one more release for users to test it.
i didn't see anyone object to this plan.

[2021-09-22 08:33] neolit123 commented on #1477
try asking for more help in the support channels:
https://github.com/kubernetes/kubeadm#support

the error above indicates that the worker node cannot reach https://172.31.41.122:6443
you have to debug this connectivity problem.

[2021-09-22 08:50] TBBle commented on #2315
/lifecycle frozen

This is an issue for tracking other issues, I'm not sure "activity" is the right metric for this.

[2021-09-22 11:14] tcurdt commented on #1380
@aryansaraf018 sorry, it's already quite a while since I looked into this. I suspected some kind of race condition, and adjusting the timings may or may not help. I was hoping this is no longer necessary.

[2021-09-22 12:32] neolit123 commented on #1380
Newer kubeadm allows you to use parches to patch the manifests
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#patches

[2021-09-23 08:35] mprzygrodzki opened #2573 "Kubeadm Init Phase including vSphere provider and control plane endpoint."
Hello everyone - i didn't find any suitable solution how to resolve my problem on init phase, so that's why i'm writing here. In the past i've used to initialize K8s by specifying config for vSphere provider to be able to used persistent volumes in local setup in VMware host. Right now I need to setup cluster where I will specify vSphere provider and control-plane-endpoint specified as a domain na

[2021-09-23 09:07] rangercyh commented on #1893
I do the same to docker and solve the problem,thx

[2021-09-23 16:05] neolit123 commented on #2573
you can have `controlPlaneEndpoint: "dns-name:port"` under ClusterConfiguation, see:
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta2/

ideally you should only pass `--config` to `kubeadm init`, mixing flags and config is not recommended.

let me know if you have more questions here, but ideally requests for help should go on the support channels:
https://github.com/kubernete

[2021-09-23 16:05] #2573 closed

[2021-09-24 09:14] kmaldahi opened #2574 "Error While running kubeadm init"
**root@ip-172-31-11-233:/home/ubuntu# kubeadm init**
[init] Using Kubernetes version: v1.22.2
[preflight] Running pre-flight checks
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also perform this action in beforehand using 'kubeadm config images pull'
[certs

[2021-09-24 11:36] vikasLstar opened #2575 "error while running kubeadm init :connection refused"
# sudo kubeadm init --pod-network-cidr=10.244.0.0/16
[init] Using Kubernetes version: v1.22.2
[preflight] Running pre-flight checks
[preflight] Pulling images required for setting up a Kubernetes cluster
[preflight] This might take a minute or two, depending on the speed of your internet connection
[preflight] You can also perform this action in beforehand using 'kubeadm config images pull'
[certs

[2021-09-24 11:50] SataQiu commented on #2574
Hi @kmaldahi
There is something wrong with kubelet.
Did you set the docker cgroup driver as `systemd`? You can check it with `docker info | grep Cgroup`
Also, you can check the kubelet log with `journalctl -xeu kubelet`

Please see https://github.com/kubernetes/kubeadm#support

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#configuring-the-kubelet-cgroup-drive

[2021-09-24 11:52] SataQiu commented on #2575
Hi @vikasLstar
There is something wrong with kubelet.
Did you set the docker cgroup driver as systemd? You can check it with docker info | grep Cgroup
Also, you can check the kubelet log with journalctl -xeu kubelet

Please see https://github.com/kubernetes/kubeadm#support

https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/configure-cgroup-driver/#configuring-the-kubelet-cgroup-driver

[2021-09-24 11:55] neolit123 commented on #2575
/support

[2021-09-24 11:55] #2575 closed

[2021-09-24 11:56] neolit123 commented on #2574
/support

[2021-09-24 11:56] #2574 closed

[2021-09-24 16:26] neolit123 commented on #2081
/lifecycle frozen

[2021-09-25 20:06] dilyanpalauzov opened #2576 "`kubeadm init` prints /var/run/dockershim.sock, when it means /var/run/docker.sock"
On my system I had the file /var/run/docker.sock and I had no file /var/run/dockershim.sock .
[code]

kubeadm version: &version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.3-rc.0.12+2c0e4a232a3c10", GitCommit:"2c0e4a232a3c10a9083012ec28a3622bd4e4be90", GitTreeState:"clean", BuildDate:"2021-09-25T19:32:20Z", GoVersion:"go1.16.8", Compiler:"gc", Platform:"linux/amd64"}

[2021-09-26 05:20] pacoxu commented on #2576
/assign
Let me try to reproduce.

[2021-09-26 06:07] pacoxu commented on #2576
https://github.com/kubernetes/kubernetes/blob/cde45fb161c5a4bfa7cfe45dfd814f6cc95433f7/cmd/kubeadm/app/util/runtime/runtime.go#L204-L207

It seems to be intended.

[2021-09-26 06:48] pacoxu commented on #2473
It works well in my basic testing and will keep running such a non-root env to see if there is an issue.

[2021-09-27 11:25] neolit123 commented on #2576
The logic seems valid. The message is slightly misleading, but it is a bit hard to explain in a message that CRI support in the kubelet is integrated and one socket is used for container runtime detection and one for actual comms.  The dockershim.sock file is created by the kubelet on runtime currently.

If kubeadm detects multiple container runtimes and you need to specify which one. To avoid thi

[2021-09-27 11:25] #2576 closed

[2021-09-27 11:36] dilyanpalauzov commented on #2576
I mean, kubeadm shall not suggest

when the system has no file `/var/run/dockershim.sock`.

[2021-09-27 13:22] DaniBet opened #2577 "Upgrading k8s cluster"
I am trying to upgrade my k8s cluster to v1.22.2 and I receive the following Error:

[code]

[code]

Any idea?

[2021-09-27 13:50] neolit123 commented on #2577
Hi. You cannot skip minor versions. Your cluster seems to be 1.19, thus you
have to upgrade to 1.20 first using the kubeadm 1.20 binary, then to 1.21,
etc.

/support
On Sep 27, 2021 16:22, "Daniel Ionescu" ***@***.***> wrote:

[2021-09-27 13:50] #2577 closed

[2021-09-29 06:05] hellobiek opened #2578 "jk:w"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2021-09-29 10:29] pparshin opened #2579 "Deploy control plane components using unix services"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## What would you like to be added

I'd like to deploy the Kubernetes cluster as a managed solution where the end users have admin access to the cluster but the control plane is hidden.

Kubeadm uses static pods and Kubelet on the master nodes and registers them in the API Server. My proposal is adding the option to choose how to bootst

[2021-09-29 11:03] neolit123 commented on #2579
What concerns do you have about the control plane mirror pods that the api server manages? Mirror pods do not give control to the kubeconfig administrator to the control plane and they are just for tracking of the static pods that the kubelet manages as a source.

'Kubeadm upgrade' is also essential to user workflows, not only init, join and reset.

Bigger proposals in k8s need a KEP https://githu

[2021-09-29 11:10] #2578 closed

[2021-09-29 11:17] neolit123 commented on #2572
Closing. For more support questions see the bot message below.

/support

[2021-09-29 11:17] #2572 closed

[2021-09-29 12:15] pparshin commented on #2579
The main concern is the security. Having the registered masters and running Kubelet allows scheduling the pod in the privileged mode and having access to the master node via nsenter. There might be other security issues which can affect the service SLA.

Yes, I understand it. This issue has been created mostly to discuss the needing such functionality in Kubeadm.

[2021-09-29 12:36] neolit123 commented on #2579
I don't think i see the attack vector with nsenter.
To gain access to a node with nsenter you'd have to run a privileged nsenter pod on that node?

If your concern is that the cp static pod containers are privileged with potential container escape, kubeadm 1.22 added an alpha feature called RootlessControlPlane.
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kube

[2021-09-30 07:02] hocgin commented on #1390
⚠️ I tried this solution.
It can solve the apiserver timeout problem.
but, It will prevent flannel packets from being sent to the destination in Alibaba Cloud.
I suggest not to try [Cloud_floating_IP_persistent].

[2021-09-30 10:19] pparshin commented on #2579
Yes, I thought about this. Or user might run his pods on the master nodes which might affect them.

Anyway I got your point. It's not a common issue for kubeadm users so closing the feature request.

[2021-09-30 10:19] #2579 closed

[2021-09-30 12:09] Sunnatillo commented on #1893
the same worked for me. Thanks

[2021-09-30 12:52] fabriziopandini commented on #2317
/remove-lifecycle stale

[2021-10-02 20:17] dilyanpalauzov opened #2580 "`kubeadm --ignore-preflight-errors=swap` shall put `failSwapOn: false` in /var/lib/kubelet/config.yaml"
On my system I have swap on.  I run `kubeadm init  -v 1000 --ignore-preflight-errors=swap`.  kubeadm prints
[code]

Since kubeadm creates /var/lib/kubelet/config.yaml I assume that the kubelet is started with that file as parameter.

* On systems, where kubeadm is called with `--ignore-preflight-errors=swap` the generated `/var/lib/kubelet/config.yaml` does not contain `failSwapOn: false` and thus

[2021-10-02 20:43] dilyanpalauzov commented on #2580
https://kubernetes.io/docs/reference/config-api/kubeadm-config.v1beta3/ - the kubeadm Configuration (v1beta3), also has no toggle to enable swap for the kubelet configuration file.

[2021-10-02 21:13] dilyanpalauzov opened #2581 "kubeadm does not pass the detected crio socket to kubelet"
I have cri-o and no docker.  When crio is not running, `kubeadm init -v1000` fails with:
[code]
When crio is running, kubeinit starts kubelet, and the latter inserts in journalctl:
[code]
This means, that kubeadm does not pass the crio-socket to kubelet by default.

At the same time, kubeadm prints on stdout/stderr:
[code]

kubeadm + kubelet are v1.22.3-rc.0.12+2c0e4a232a3c10.

[2021-10-02 21:16] dilyanpalauzov commented on #2581
Nevertheless, `/var/lib/kubelet/kubeadm-flags.env` contains correctly `KUBELET_KUBEADM_ARGS="--container-runtime=remote --container-runtime-endpoint=/var/run/crio/crio.sock --pod-infra-container-image=k8s.gcr.io/pause:3.5"`.

[2021-10-03 07:37] dilyanpalauzov opened #2583 "kubeadm detects cgroupDriver:systemd, but does not pass it to the started kubelet"
Calling `kubeadm init -v 1000` prints:

I1003 09:23:54.934942    9859 kubelet.go:203] the value of KubeletConfiguration.cgroupDriver is empty; setting it to "systemd"

and later runs kubelet.  It logs to journalctl:

So the kubelet is not informed about how kubeadm thinks cgroups shall be managed.  To be precise, the generated /var/lib/kubelet/config.yaml contains `cgroupDriver: systemd`, but appa

[2021-10-03 20:11] dilyanpalauzov commented on #2581
At the end it turned out, that kubelet.service  was not correct: https://github.com/kubernetes/website/issues/29913.

[2021-10-03 20:11] #2581 closed

[2021-10-03 20:11] dilyanpalauzov commented on #2583
At the end it turned out, that kubelet.service  was not correct: https://github.com/kubernetes/website/issues/29913.

[2021-10-03 20:11] #2583 closed

[2021-10-04 12:32] neolit123 commented on #1599
/remove-lifecycle stale

[2021-10-04 12:39] neolit123 commented on #2411
/remove-lifecycle stale

[2021-10-04 12:44] neolit123 commented on #1686
Dual stack is going ga in 1.23 - this release. Dual stack is already covered in a number of e2e tests. Closing this as it feels like higher level setups can test / or sig network.

Please reopen if you think something else can be done here.

[2021-10-04 12:44] #1686 closed

[2021-10-04 12:46] neolit123 commented on #1606
/lifecycle frozen

[2021-10-04 13:09] neolit123 commented on #2580
This is intentional. You can pass a KubeletConfiguration next to your InitConfiguration separated with by ---. This is covered in the above doc.

[2021-10-04 13:18] neolit123 commented on #2580
Peobably related to your other reports. Your kubelet is not running.

If you ignore the preflight error for swap, then you must configure failswapon in the kubeletconfiguration explicitly. See above api link again.

Swap is not really supported in the kubelet, and it might just crash on you. Kubelet 1.22 added an alpha feature gate called NodeSwap that may graduate to beta in 1.23. Until that happ

[2021-10-04 13:18] #2580 closed

[2021-10-04 18:20] dilyanpalauzov commented on #2580
I think that `--ignore-preflight-errors=swap` shall instruct kubeadm to insert `failSwapOn: false` in the kubelet configuration file.  I do not care if it crashes, I want to build kubernetes on a tiny system to understand how it works.

[2021-10-04 18:33] neolit123 commented on #2580
we have plans to remove the "swap" preflight check entirely because of the new kubelet NodeSwap feature gate.
in 1.23 we are moving it to a warning instead of an error:
https://github.com/kubernetes/kubernetes/pull/104854

the NodeSwap feature gate will likely graduate to GA in 1.24 and the kubeadm "swap" feature gate will be removed.

[2021-10-05 13:38] neolit123 commented on #2104
/remove-lifecycle rotten

[2021-10-05 17:28] alekc commented on #2334
Can we also document if it's possible to set up stacked etcd with custom ip?
I've tried to use following config
node01
[code]

it comes up correctly with node up and running.

Once I add up a second node  with
[code]

etcd on the second node never come up just crashing, and on the first node etcd crashes as well bringing down cluster.

is there something I am blatanly missing?

[2021-10-05 17:33] neolit123 commented on #2334
we don't have tests for that, so my initial take is not supported.

note: changes that you add under cluster configuration apply to the whole cluster so second instances will try to use the PUBLIC_IP as well which is probably not valid in your case.

newer kubeadm supports a --patches option which you can use to patch individual etcd.yaml manifests for this functionality.
you can check its --help

[2021-10-05 17:43] alekc commented on #2334
Oh, good catch about `public_ip`, it might explain weird behaviour, also thx for pointing me to the patches option (are they documented anywhere at all?)

As 2 cent, currently there are some sentences which easily bring people to a rabbit hole.
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/
[code]
kind of suggests that if you want to have a HA clu

[2021-10-05 17:57] neolit123 commented on #2334
patches are the same as those in kubectl, so notes here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#patches

the wording of that can be adjusted, but the reality is that once you add more control plane nodes you obviously gain more etcd members. i personally consider external ETCD as "better HA", as you decouple the lifecycle of the etcd hosts from t

[2021-10-05 18:02] mrksngl commented on #2334
By the way: I'm using the --patches option but there are more problems way down the line
1) all kube-apiserver instances will only connect to one etcd instance. It seems like there is no exchange like "hey apiserver, there is another instance running AT...". So if that first instance crashes (or node goes down what ever) your whole cluster goes south. To fix that, you'll have to change the static

[2021-10-05 18:04] neolit123 commented on #2334
well with stacked etcd that is one of the downsides, kube-apiserver talks to a single etcd member and etcd members talk to each other. the "better HA" i'm mentioning above is truly external etcd where each kube-apiserver knows about all etcd members.
for stacked, a failed etcd member might mean failed control plane node, depending on how you do provisioning and/or node repairs.

kubeadm upgrade ha

[2021-10-05 18:04] alekc commented on #2334
If someone is new to a non managed clusters it's not that obvious. Reading the above I kind of imagined that etcd was running as a deployment of 1 pod with specific hostname as target (with retrospective silly, but still).

Anyway, for the sake of anyone coming here trying to achieve the same thing as I did: removing following 3 fields
[code]
achieves desired effect where etcd correctly reports pu

[2021-10-05 18:15] mrksngl commented on #2334
well, the thing is that you don't know how the new file(s) which kubeadm write will look like, so you also don't know how your patch should look like. In this case, I want to patch `spec.containers[0].command`, but with this patch format, I can only overwrite the full `spec.containers` array (I hope I got the principles of those patches right at this point), meaning that my patch includes the full

[2021-10-05 18:25] neolit123 commented on #2334
patches can certainly be sketchy around patching the command array. but as long as you pass your additional flags to the end of the array, they would override existing instances of the same flag. obviously a different story if a flag is allowed multiple times.
the complexity around etcd flag patching is an indication that you need external etcd and the basic stacked etcd kubeadm (which the majorit

[2021-10-06 09:08] DrmagicE commented on #1223
How about make the kube-controller can auto-approve those CSRs that are not changing anything or not changing some sensitive field such as IP address, DNS name, common name, organization etc.?
I think in most cases, we just want to renew the certificate without any changes.  It would be nice if the kube-controller can auto-approve those CSRs.

[2021-10-06 10:17] dilyanpalauzov opened #2584 "kubeadm init: when kubelet.service does not exist, propose content of the kubelet.service file"
I have compiled kubeadm and kubelet from source.  Running `kubeadm init` prints:
[code]
The control plane of course never starts.  The source code at https://github.com/kubernetes/kubernetes does not contain the content of an eventual kubelet.service file.

When the kubelet.service file exists, but is not turned on, `kubeadm init` prints:

[code]
Finding the right kubelet.service, which correctly

[2021-10-06 10:23] sftim commented on #2584
/kind feature

[2021-10-06 10:56] neolit123 commented on #1223
This would mean keeping track of the previous state. Maybe it can work. You
can talk with the maintainers about this idea in #sig-auth on k8s slack.
On Oct 6, 2021 12:08, "DrmagicE" ***@***.***> wrote:

[2021-10-06 11:03] neolit123 commented on #2584
Sorry but I am really not in favour of this. There should be a single source of truth about the kubelet service files. That place is currently k/release and it would create a weird binding with k/k. We might also want to remove the examples from the website.

If kubeadm move to a different versioning things would become worse.

To install the systemd files users must follow our guide "without a pa

[2021-10-06 11:03] #2584 closed

[2021-10-06 11:13] dilyanpalauzov commented on #2584
It would be nice, if `kubeadm init` prints information how the kubelet.service file can be obtained,  e.g. by printing some html-links containing information on this.

[2021-10-07 08:51] dilyanpalauzov opened #2585 "`config print init-defaults` emits wrong nodeRegistration.criSocket"
My understanding for the kubeadm init --config=file workflow is:

• The config file is generated by running `kubeadm config print init-defaults`
• The file is modified
• Then `kubeadm init --config=file` is called

I use cri-o and I have no docker.  `kubeadm config print init-defaults` emits

[code]
When I run `kubeadm init --config=file`, the output is:

[code]

When I instead just run `kubeadm i

[2021-10-07 11:27] #2585 closed

[2021-10-07 11:53] dilyanpalauzov commented on #2585
In my opinion not the static default shall be printed on `kubeadm config print init-defaults`, but the “dynamic defaults”.  Essentially anything that the user might need to adjust manually and which `kubeadm init` cannot correctly guess by itself.

[2021-10-07 22:34] chrisnegus opened #2586 "Suggest creating separate CAs for client and server certificates used with kubeadm"
**This is a Feature Request**

A suggestion was made by @deads2k  in [PR26837](https://github.com/kubernetes/website/pull/28367#issuecomment-889882710) to update kubeadm docs to suggest separating client and server CAs:

`If I were choosing one thing to tweak about kubeadm's certificate generation overall, I would suggest splitting the CA that signs serving certificates from the CA that signs clie

[2021-10-07 22:36] sftim commented on #2586
/retitle Creating separate CAs for client and server certificates

@chrisnegus would you be willing to tweak this issue now it's logged against kubeadm? The description is now slightly out (through no fault of your own(.

[2021-10-07 22:36] sftim commented on #2586
/kind feature

[2021-10-08 16:03] dilyanpalauzov opened #2587 "Cleanup IPVS / iptables rules during `kubeadm reset`"
Calling `kubeadm init && kubeadm reset` prints:

[code]

Since [kube-proxy --cleanup](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/) is supposed to cleanup these things, `kubeadm reset` shall just call `kube-proxy --cleanup`.

[2021-10-08 22:33] aojea commented on #2587
kube-proxy creates the iptables rules in the host namespace,  it runs as host-network and mount the required path to use iptables
[code]

that flag deletes the kube-proxy rules, indeed kubelet adds rules too.

indeed, these things are not simple, but one could argue that if you want to start from scratch if could be legit to ask to reset the whole iptables rules,

[2021-10-09 05:45] hellolittlewei commented on #193
我也遇到了相同的问题，通过刷新iptables解决了，但是不知道具体的原因。

[2021-10-09 05:45] hellolittlewei commented on #193
systemctl stop kubelet
systemctl stop docker
iptables --flush
iptables -t nat --flush
systemctl start kubelet
systemctl start docker

[2021-10-09 08:27] dilyanpalauzov commented on #2587
How about ipvs?  Does kubelet utilize ipvs/ipset directly, or is this just done by kube-proxy?

In any case, calling `kube-proxy --cleanup` by `kubeadm reset` is a step in the right direction.

[2021-10-09 09:37] dilyanpalauzov opened #2588 "kubelet does not use the images, downloaded by `kubeadm config images pull`"
I setup a cluster with kubeadm init.  kubeadm pretends, that the images must have tag v1.22.2, but the images run at the end have tag v1.22.0.  `crictl images` confirms that each image is downloadad twice with a different tag. This is what I do:
* make sure that the list returned by `crictl images` is empty
* call `kubeadm config images pull`.
* Output of `crictl images` is now
[code]
* call `kube

[2021-10-09 10:33] neolit123 commented on #2588
This can happen if you are passing a kubeadm config file with pinned
kubernetesVersion to 'init' but not to 'config images pull'.

/support

[2021-10-09 10:33] #2588 closed

[2021-10-09 11:51] dilyanpalauzov commented on #2588
The output of `kubeadm config print init-defaults` is in this regard source of confusion.  To avoid such confusions in the future, I kindly ask either not to emit `kubernetesVersion: 1.22.0` in init-defaults, or in kubeadm 1.22.3 to print `kubernetesVersion: 1.22.3` (thus the last version).

Moreover, even if kubernetesVersion is set correctly, `kubeadm config images pull` still downloads `k8s.gcr

[2021-10-12 06:55] adamwithit commented on #1390
I spend a lot of time in this solution. It work great in the beginning, I can create nodes in two vm (which do not have public ip, all rely on port forwarding ) across two wan, flannel and ingress create successfully. however, when come to udp connection between two node, udp package seen like dropped by router because of the src ip is a WAN IP. so I believe unless you have two machine directly co

[2021-10-12 07:38] hayond commented on #1390
yes... still have problem... I am tried, It's not worth to speed lot of time for it, I finally buy an another machine under the lan, I found spending money makes me happy.

[2021-10-12 07:44] hayond commented on #1390
still have problem in alibaba cloud, I gave up, finally buy an another machine under the lan ^_^, I found I should spend more time in my life, rather than this stupid damn k8s.

[2021-10-12 11:51] neolit123 opened #2589 "rename the default branch to "main""
the k8s project is following the new rules of inclusive naming and the default branch of repositories should be renamed from "master" to "main".

steps for repos are outline here:
https://www.kubernetes.dev/resources/rename/

the kubeadm repository surface exposure is fairly limited, since it does not have any importable parts (we assume...at least).

things we have to do as well:
- [x] add neolit

[2021-10-15 07:01] crrazyman commented on #581
This cluster is made with kubespray, i cannot delete calico and add it again. Also, i don't think this is a problem with the CNI. Why does kube-apiserver logs `http: TLS handshake error from 10.18.74.25:59948: remote error: tls: bad certificate` ?
Again, the cluster was working perfectly until i renewed the certificates

[2021-10-17 21:50] neolit123 commented on #1601
/remove-lifecycle stale

[2021-10-18 06:04] RA489 commented on #2589
/cc

[2021-10-19 02:28] qqovopp opened #2591 "dns"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**

[2021-10-27 12:59] #2589 closed, assigned to nobody

[2021-10-30 11:59] saphoooo commented on #2388
How can I figure out which instance of kube-scheduler or kube-controller-manager is the leader without endpoint?

[2021-10-30 12:15] saphoooo opened #2594 "FR: expose kube-scheduler and kube-controller-manager endpoints in order to determine which instance is the leader"
This issue is close to [this request](https://github.com/kubernetes/kubeadm/issues/2388) by providing an enswer for /metrics but not for the leader-election mechanism which rely on endpoints too.

FEATURE REQUEST

Give the ability in kubeadm to expose kube-scheduler and kube-controller-manager through endpoints instead of relying on localhost binding.

## Versions

**kubeadm version** (use `kubead

[2021-10-31 16:46] neolit123 commented on #2594
this is not true.

e.g. here https://www.katacoda.com/courses/kubernetes/playground kubeadm 1.18 is used to create a cluster.
it bind the scheduler to localhost, but the endpoints are still accessible:

[code]

binding the components to localhost and endpoint leader election tracking are not related.

to track /metrics on externally exposed IP, you can customize the components:
https://kubernetes.

[2021-10-31 16:47] #2594 closed

[2021-11-02 13:46] cortex3 opened #2595 "node-ip is not utilized on all control-plane nodes"
## Is this a BUG REPORT or FEATURE REQUEST?
I'm actually unsure

## Versions
**kubeadm version**: v1.21.4
**Environment**:
- **Kubernetes version**: v1.21.4
- **Cloud provider or hardware configuration**: baremetal
- **OS**: Ubuntu 20.04
- **Kernel** : 5.4.0

## What happened?
when creating a HA stacked etcd cluster with kubeadm using node-ip the first control-plane node will utilize node-ip while

[2021-11-02 14:23] neolit123 commented on #2595
Hi. Kebelet ExtraArgs is meant for passing additional flags to the kubelet. If you pass nodeip there this means you are telling the kubelet to bind to that ip. Kubeadm will not use this ip for setting up kube-apiserver. To set that up you can use localapiendpoint - find that in the api docs. But you must configure a custom ip for all components...

Instead of passing a custom ip everywhere it is b

[2021-11-02 14:23] #2595 closed

[2021-11-02 16:02] kbreit opened #2596 "etcd manifest isn't created"
## What keywords did you search in kubeadm issues before filing this one?

etcd, listen-metrics-urls, and extraargs

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm version: &version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", Buil

[2021-11-02 16:18] neolit123 commented on #2596
i cannot reproduce the problem with bare kubeadm (no CAPI), thus this seems like a CAPI issue.
please coordinate with the CAPI maintainers.

passing this as 0.0.0.0 to all etcd instances seems OK, given the etcd extra args are shared for all etcd instances in the cluster.

[2021-11-02 16:20] fabriziopandini commented on #2596
@neolit123 /etc/kubernetes/manifests/etcd.yaml not being generated seems a problem in kubeadm, but I agree there should be a better work in distilling informations relevant for kubeadm from the CAPI scaffolding.
I will try to coordinate this.

[2021-11-02 16:24] neolit123 commented on #2596
why can't i reproduce this?

kubeadm would normally error out if manifest foo cannot be generated.

[2021-11-02 19:06] kbreit commented on #2596
Closing this issue as it was related to a bad etcd member.

[2021-11-02 19:06] #2596 closed