[2020-07-08 18:14] neolit123 commented on #2163
instead of logging a new issue as promised in today's kubeadm office hours let's re-use this one to determine whether the --csr* flags should be removed from the "alpha certs renew" command too.

[2020-07-09 03:32] pytimer commented on #2208
Thanks for reply @neolit123 @fabriziopandini . Now i add all IPs of the network segment in advance when `kubeadm init`, like `10.33.100.10~10.33.100.100`.

I will read kubeadm code about create certSANs and upgrades, if necessary, i will write a KEP.

[2020-07-09 14:41] neolit123 commented on #1599
/remove-lifecycle stale

[2020-07-10 09:35] fabriziopandini commented on #2208
/close
As per comment above
(feel free to re-open if I'm missing something from this thread)

[2020-07-10 09:35] #2208 closed

[2020-07-12 18:59] vinhdiesal opened #2218 "Kubelet Join blocked by Port 10250"
When I perform the `kubeadm join` on the worker node, I get the following error:
[code]
I performed a `netstat -ltnp | grep -w ":10250"` i see kubelet.

I tried to stop the kubelet  by `systemctl stop kubelet`, but it kept running.

What should I do in order to join my `worker` nodes into the kubeadm cluster?

[2020-07-12 19:19] vinhdiesal commented on #2218
i then killed the `kubelet` process by using `sudo kill -9 <process>` gotten further with the following failures
[code]

[2020-07-12 21:40] neolit123 commented on #1682
/remove-lifecycle stale

[2020-07-12 21:54] neolit123 commented on #2218
always call `kubeadm reset` before `kubeadm init/join`

unclear why this doesn't stop the kubelet.

this usually means the kubelet is not healthy.

please use the support channels for support questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
also the #kubeadm channel on k8s slack.

/triage support
/close

[2020-07-12 21:54] #2218 closed

[2020-07-14 09:00] John402-cloud opened #2219 "k8s-ha how to join worker node to master node ,when master and worker node are in one machine"
## Is this a request for help?
yes
If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

## What keywords did you search in kubeadm issues before filing this one?

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): kubeadm-1.17.4

[2020-07-14 09:32] fabriziopandini commented on #2219
NOTE: K8s is committed to be inclusive and to avoid potentially offensive words. so please replace master with control-plane

Might be I got this right, but kubeadm join can't be used to promote a worker node to control-plane node.
IF you want to reuse the same machine, please run kubeadm reset before kubeadm join
/triage support

[2020-07-14 11:34] rosti commented on #2219
@John402-cloud what do you mean by "when control-plane and worker node are in one machine"?
Do you have these nodes in separate VMs or containers running on the same physical machine? Or is it something else?

[2020-07-15 00:39] John402-cloud commented on #2219
@rosti
in the same physical machine, deploy control-plane and worker node  ，not VMs

[2020-07-15 00:51] John402-cloud commented on #2219
@fabriziopandini
if i use what you suggestion to kubeadm reset the node which i have deployed control-plane，is the node still  control-plane?

Due to resource constraints,what i want is to deploy control-plane and worker node in the same physical machine.

[2020-07-15 03:36] SataQiu commented on #2219
@John402-cloud I think you want to schedule the workloads to the control-plane node, you can do it by:
[code]

[2020-07-15 06:05] John402-cloud commented on #2219
@SataQiu
ths，i haved done according your suggestion。

[2020-07-15 08:22] fabriziopandini commented on #2219
That's not possible (there should be only one kubelet running on a machine).
Want you can do, after creating a control-plane machine, is to remove the master label from the node so also the application workload can run on the same machine. See https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#control-plane-node-isolation for additional info

[2020-07-15 09:26] rosti commented on #2219
@John402-cloud I believe that @SataQiu and @fabriziopandini's answers should be the correct ones. Does that resolve your issue and can we close this one?

[2020-07-16 07:35] Crystal-w opened #2220 "Error from server (InternalError): an error on the server ("") has prevented the request from succeeding"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-07-16 07:45] Crystal-w opened #2221 "Unable to connect to the server: net/http: TLS handshake timeout"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-07-16 08:54] fabriziopandini commented on #2220
Uhmm, it seems the issue was submitted without compiling the form
/close

@Crystal-w feel free to open a new issue providing as much information as you can in the above form so the maintainers can understand and possibly reproduce your problem

[2020-07-16 08:55] #2220 closed

[2020-07-16 08:56] fabriziopandini commented on #2221
Uhmm, it seems the issue was submitted without compiling the form
/close

@Crystal-w feel free to open a new issue providing as much information as you can in the above form so the maintainers can understand and possibly reproduce your problem

[2020-07-16 08:56] #2221 closed

[2020-07-16 08:59] Crystal-w commented on #2220
I'm sorry,misoperation!

[2020-07-16 19:18] #2197 closed

[2020-07-17 00:24] John402-cloud commented on #2219
it's ok, Thanks very much.

发件人: bounces+848413-2181-pzh1224=126.com@sgmail.github.com [mailto:bounces+848413-2181-pzh1224=126.com@sgmail.github.com] 代表 Rostislav M. Georgiev
发送时间: 2020年7月15日 17:27
收件人: kubernetes/kubeadm <kubeadm@noreply.github.com>
抄送: John402-cloud <pzh1224@126.com>; Mention <mention@noreply.github.com>
主题: Re: [kubernetes/kubeadm] k8s-ha how to join worker node to master node

[2020-07-17 01:08] dkoshkin opened #2222 "kubectl get componentstatus error with default init"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-07-17 02:09] SataQiu commented on #2222
/cc

[2020-07-17 02:17] dkoshkin commented on #2222
Found https://github.com/kubernetes/enhancements/issues/553#issue-297940643 so I understand if this is something that's not going to be addressed in kubeadm.

[2020-07-17 09:01] fabriziopandini commented on #2219
/close

[2020-07-17 09:02] #2219 closed

[2020-07-19 19:36] neolit123 opened #2223 "kinder: the latest etcd image cannot be pulled in the containerd base image"
the kinder base image (see [1]) we use with containerd for the kinder-regular-* jobs fails to pull the etcd image that was recently updated in https://github.com/kubernetes/kubernetes/pull/92349.

this a appears to be a ctr / containerd problem that i don't understand. possibly related to:
https://github.com/containerd/containerd/issues/3762

more details in https://github.com/kubernetes/kubernete

[2020-07-19 19:38] neolit123 commented on #2223
cc @fabriziopandini @BenTheElder

[2020-07-19 20:06] neolit123 commented on #2222
we should start printing a warning in `kubect get componentstatus` that this API object is no longer supported and there are plans to remove it.

also this is not a kubeadm issue. if you'd like you can log a ticket in the kubernetes/kubernetes repository.

/close

[2020-07-19 20:06] #2222 closed

[2020-07-19 20:15] ahmedZAIDI012 commented on #339
hi Everyone,
I'm trying to install Kubernetes on ubuntu VM, but unfortunately i'm facing some issue despite kubeadm reset.
root@KVM:~# kubeadm init --config=kubeadm-config.yaml --upload-certs | tee kubeadm-init.out      # Save output for future review
W0719 22:06:28.075574   15363 configset.go:202] WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.c

[2020-07-19 21:34] BenTheElder commented on #2223
kind side loads this image rather than pulling
We're also running much newer containerd and the data dir is a volume.

[2020-07-19 23:04] neolit123 commented on #2223
i tried a number of things to try to resolve the "failed to convert whiteout file" problem, including:
- the suggestion here: https://github.com/containerd/containerd/issues/3762#issuecomment-608502595
- mounting /var/lib/containerd as volume
- the latest containerd beta

i think the right thing to do might be to not pull with the CR in the container, but rather pull the additional images (...conf

[2020-07-19 23:16] BenTheElder commented on #2223
this is what kind does in order to build the hermetic node image, though
I'd expect pulling to the node work on a running node.

On Sun, Jul 19, 2020 at 4:04 PM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-07-19 23:20] BenTheElder commented on #2223
FWIW on `kind` (not kinder) at ~HEAD just now locally:
[code]
(the node image has `-1` pre-pulled, and also in k8s.io namespace)

[2020-07-20 10:23] qingquanhuazi opened #2224 "coredns"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-07-20 10:25] qingquanhuazi opened #2225 "kube-dns"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-07-20 13:57] neolit123 commented on #1723
/remove-lifecycle stale

[2020-07-20 14:04] neolit123 commented on #1723
keeping this issue open to be able to track when the KCM enables bundles support for --cluster-signing-cert-file.
xref https://github.com/kubernetes/kubernetes/pull/88741

[2020-07-20 15:33] neolit123 commented on #2104
/remove-lifecycle stale
let's re-evaluate again after https://github.com/kubernetes/enhancements/pull/1439

[2020-07-20 16:32] jingyih commented on #2223
/sub

[2020-07-20 17:18] neolit123 commented on #2224
please reopen once you add more detail.
thanks

[2020-07-20 17:18] #2224 closed

[2020-07-20 17:18] neolit123 commented on #2225
please re-open once you add more detail.
thanks

[2020-07-20 17:18] #2225 closed

[2020-07-20 19:01] MarkDeckert opened #2226 "kubeadm 1.16.13 from yum repo installs kubelet 1.18.6 as a dependency"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.16.13

## What happened?
I was updating cluster from 1.16.11 to 1.16.13.  Current version of kubelet was 1.16.11.  When I do a yum install kubeadm-1.16.13 from yum repository it wants to install kubelet 1.18.6 as a dependency.

[code]

yum deplist kubeadm-1.16.13 shows the dependenc

[2020-07-20 19:19] neolit123 commented on #2226
this is an issue with the k8s release packages.
please log the same issue in the kubernetes/release repository.

this related issue is still open here:
https://github.com/kubernetes/kubernetes/issues/92586

thanks
/close

[2020-07-20 19:20] #2226 closed

[2020-07-20 19:20] neolit123 commented on #2226
/sig release

[2020-07-21 03:24] camrossi opened #2227 "Kubeadm HA control plane guide - haproxy timeout too short"
Choose one: BUG REPORT

The configuration template for HAPROXY in https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md#haproxy-configuration has the timers set to:

[code]

This, at least in my cluster will result in any KubeAPI call taking longer than 20s to fail.
For example if I try to follow the logs I will get an error: unexpected EOF and the command will terminate afte

[2020-07-21 04:23] BenTheElder commented on #1052
Dropping a note that 2GB is definitely not a hard requirement and that necessary resources depend on the size and scope of the rest of the cluster.

kind runs kubeadm + a light workload in less.

[2020-07-21 14:58] neolit123 commented on #1052
[on the PR](https://github.com/kubernetes/kubernetes/pull/93275) i recommended to have this is a warning.
it will not be targeting 1.19, also unclear if the feature will be accepted in general.

[2020-07-21 15:04] neolit123 commented on #2227
/kind documentation
/area HA
cc @mbert do you think we should have these values higher.

[2020-07-21 15:21] mbert commented on #2227
I am not convinced that this problem is caused by wrong values for the timers. It looks like this is caused by the haproxy LB going round-robin. This is the normal behaviou that you get with NGINX as a load balancer, and obviously it's the same with haproxy. The workaround is configuring kubectl to talk to a control plane node rather than the virtual IP.

[2020-07-21 15:34] neolit123 commented on #2209
/close
please re-open once you have more updates on this issue.
thanks

[2020-07-21 15:34] #2209 closed

[2020-07-22 01:30] camrossi commented on #2227
For kubect no the connection is just reset by haproxy:

For example after setting the timers back to 20s:
`k8s-c1f1-01:~$ time kubectl -n guestbook  logs -f redis-master-7db7f6579f-l29bl
<--SNIP-->
[1] 22 Jul 01:17:57.308 * Synchronization with slave 10.102.0.159:6379 succeeded
error: unexpected EOF

real	0m20.121s
user	0m0.089s
sys	0m0.017s
`

If I set the timer back to 300s:

[code]

So as you c

[2020-07-22 07:52] mbert commented on #2227
Thank you. I hope I find some time today to play through some scenarios on my test cluster. One thing definitely worthwhile trying would be running haprox with only one control plane node behind it and see how it behaves with the original timeouts.

If it turns out to be the timeouts then I'd even consider this good news because that would finally make the watch commands work with a load balanced

[2020-07-22 08:27] mbert commented on #2227
OK, I have looked into it. I could find no issues related to what I had written before. The behaviour I used to know from using NGINX as load balancer did not even occur anymore. That's good news.

Hence we're back to the original report. I don't know how to reproduce any API calls taking longer than 20 seconds. Increasing their values in the documentation seems fine to me, but which values should

[2020-07-22 10:47] camrossi commented on #2227
I am also not really sure on what values we should use.

I put 5minutes thinking that is plenty for a kubectl log -f use case and my cluster is happy now but is in a lab and I definitely don't have the experience required to give a recommendation for the whole community :)

[2020-07-22 20:32] neolit123 opened #2229 ""upgrade plan" can fail on external etcd clusters for <1.19"
`kubeadm upgrade plan` should not print version information in the case of external etcd.

see the discussion in:
https://github.com/kubernetes/kubernetes/issues/93161

1.19 no longer does that:
https://github.com/kubernetes/kubernetes/issues/93161#issuecomment-662512780

but for older versions, given this is only about a `plan` issue and `apply` should work, we should document in the troubleshoot

[2020-07-22 20:33] neolit123 commented on #2229
/help

[2020-07-22 21:06] neolit123 opened #2230 "remove "WARNING: kubeadm cannot validate component configs for API groups""
there were a number of cases in the #kubeadm slack channel where users are asking why they are getting this warning for commands that do not accept `--config` - e.g. `kubeadm token ...`

ideally the warning should be printed only if the user has provided a `--config`, but i'm pretty sure this logic is difficult to untangle, so we should instead just remove this warning or hide it behind a higher v

[2020-07-22 21:06] neolit123 commented on #2230
the warning line is located here:
https://github.com/kubernetes/kubernetes/blob/af29f81af6f5afc0ad48cd2d3d5472a9ca4d4cc8/cmd/kubeadm/app/componentconfigs/configset.go#L348

[2020-07-22 21:20] ZhiFeng1993 commented on #2230
/assign

[2020-07-22 21:26] ZhiFeng1993 commented on #2229
/assign

[2020-07-22 21:52] sccrthlt opened #2231 "--pod-network-cidr vs podSubnet in ClusterConfig producing different kubelet behavior"
## What keywords did you search in kubeadm issues before filing this one?

"kubernetes --pod-network-cidr vs subNet key in ClusterConfig manifest"

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
On-pre

[2020-07-22 22:04] sccrthlt commented on #2231
My apologies.  I reviewed the container logs and another kubernetes resource .yaml could not be found.  To my knowledge, there is no functional difference between `--pod-network-cidr` and `podSubnet` in ClusterConfig.

[2020-07-22 22:04] #2231 closed

[2020-07-23 09:22] mseewooth opened #2232 "Unable to share one IP with multiple services with metalLB"
I have a two vps with only public IP addresses.  167.XXX as master and 207.XX as worker .

Kubernete version is v1.18.6
MetallB version : v0.9.3
Flannel network : https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

This the metallb configmap :

[code]
Please note that the ip range in the Configmap is like this e.g  `192.168.100.20-192.168.100.20`  . I  have a si

[2020-07-23 12:58] #2232 closed

[2020-07-23 12:59] mseewooth commented on #2232
Problem solve by deploying service on clusterip on same port and deploy nginx controller and then deploy metallb which give the nginx controller the public ip

[2020-07-23 18:13] jvanz opened #2233 "After upgrade from 1.16.2 to 1.17.4 default KubeletConfiguration values changed."
## Versions

**kubeadm version** (use `kubeadm version`):

[code]

[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):

[code]
[code]

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
`Linux 010084072091 4.12.14-197.34-default #1 SMP Tue Feb 25 13:00:08 UTC 2020 (3701ec1) x86_64 x86_64 x86_64 GNU/Linux`

## What happened?

When the user upgrade a

[2020-07-23 18:41] neolit123 commented on #2233
thank you for logging the ticket.
what happened there is that kubeadm has to move out of kubernetes / kubernetes at some point and for that reason it had to stop importing the `pkg` folder of k/k where the "internal" types for kubelet and kube-proxy reside. without "internal" types kubeadm can no longer apply the defaults for these components, that you can see here:

https://godoc.org/k8s.io/kubel

[2020-07-27 11:38] rosti commented on #2233
Actually all fields that contain Go Lang default values (nil, 0, "", etc.) are now defaulted by the components themselves.
As @neolit123 mentioned, previously kubeadm imported defaulting code from the target components (in this case - the kubelet). However, this is no longer possible, nor is it required. Hence, it's best to leave defaulting to the components themselves (again, in this case - the k

[2020-07-27 15:44] #2223 closed

[2020-07-27 16:29] liangguohun opened #2234 "node "master" not found"
#2192  Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.2", GitCommit:"52c56ce7a8272c798dbc29846288d7cd9fbae032", GitTreeState:"clean", BuildDate:"2020-04-16T11:54:15Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or

[2020-07-27 16:46] neolit123 commented on #2234
/triage support

hello,

for support tickets please use the support channels and #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this usually happens until the kubelet registers a Node object.

this indicates that the api server might not be running at that point in time.

this indicates that a container is missing?

in any case, i don't see a kubeadm specif

[2020-07-27 16:46] #2234 closed

[2020-07-27 17:01] #1953 closed

[2020-07-27 17:04] neolit123 commented on #2227
let's keep the default to 20 seconds and amend it if we see more reports of being insufficient in more setups.
thanks

[2020-07-27 17:04] #2227 closed

[2020-07-27 17:06] neolit123 commented on #2233
there is nothing actionable on the side of kubeadm for the time being.
closing, but we can continue the discussion.

[2020-07-27 17:06] #2233 closed

[2020-07-27 17:08] neolit123 commented on #2095
this was cherry picked but someone mentioned that there could be an issue WRT how we get the list of etcd members in kubeadm. so let's keep an eye on that but open a new issue.

/close

[2020-07-27 17:08] #2095 closed

[2020-07-27 17:18] mtaufen commented on #2233
@rosti which fields?

I know we don't put it on non-pointer substructures, but IIRC that's because omitempty is meaningless for non-pointer substructures (only applies to "false, 0, a nil pointer, a nil interface value, and any empty array, slice, map, or string" per https://golang.org/pkg/encoding/json/). Maybe we need to make some of the substructures pointers?

[2020-07-27 17:18] jvanz commented on #2233
This cause an issue in a cluster. Because the kubelet was using the `--c
onfig=/var/lib/kubelet/config.yaml` flag. But as the file has the `0` value in the configuration, which means that the feature was disabled,  it was not possible to get the kubelet volume metrics.

[2020-07-27 17:21] mtaufen commented on #2233
Kubelet still defaults volumeStatsAggPeriod to 1 minute, so not sure why you're getting 0:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/apis/config/v1beta1/defaults.go#L141-L143

[2020-07-27 17:30] jvanz commented on #2233
Has not kubeadm move away from the kubelet config from `pkg` package? See https://github.com/kubernetes/kubeadm/issues/2233#issuecomment-663169016

[2020-07-27 17:49] neolit123 commented on #2233
@jvanz do you have proof that the kubelet did not default the field to 1m, when the --config file that is passed to it contained 0?

[2020-07-27 21:31] ZhiFeng1993 commented on #2230
Just for records, several slack discussions are:
https://kubernetes.slack.com/archives/C2P1JHS2E/p1578407862006800
https://kubernetes.slack.com/archives/C2P1JHS2E/p1595445960138200

[2020-07-27 22:37] satishrao84 opened #2236 "Kubeadm init starts cluster with incorrect IP addresses"
## Is this a request for help?
Yes

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use

[2020-07-27 23:47] neolit123 commented on #2236
your pods seem to be receiving "internal" IP address equal to the address of your public interface.
kubeadm has no control of what IPs are picked for the pods.

i'm not aware of Kubernetes giving you this guarantee. pods can get the same "internal" IP as other pods, and as long as they use a different port they can work fine.

try logging a ticket in kubernetes/kubernetes and tagging it with this

[2020-07-27 23:47] #2236 closed

[2020-07-28 08:51] Joseph94m commented on #1500
Hi @neolit123. Sorry to restart this ticket but it's the closest to my question. I would like to be able to specify the interface (eth0 (private) for instance) on which i would like the kube-proxy to communicate. By default, it exposes itself on both the private and the public interfaces. For us, this is a security issue and I need to stop all public ports and force all of the communications on th

[2020-07-28 09:03] Joseph94m commented on #1500
Do you think that setting the bind to 192.168.0.0 could work?

[2020-07-28 09:54] neolit123 commented on #1500
hi, @Joseph94m this is a common problem for other components too like kubelet - there is no way to specify the interface.
you could log a ticket in the kubernetes/kubernetes repository and tag it with `/sig network`; this is the group the maintains kube-proxy.

[2020-07-28 09:57] Joseph94m commented on #1500
Ok but in kubelet we specifiy the IP for each node by modifying the `/usr/lib/systemd/system/kubelet.service.d/20-cri.conf` and adding something like `Environment="KUBELET_EXTRA_ARGS=--node-ip=${PRIVATE_IP} `

I'll go post in kubernetes/kubernetes thanks for the advice

[2020-07-28 10:01] neolit123 commented on #1500
kubeproxy has a "bind address" (i.e. where to bind to for serving):
https://godoc.org/k8s.io/kube-proxy/config/v1alpha1#KubeProxyConfiguration

[2020-07-28 10:49] Joseph94m commented on #1500
Yeah but's a cluster wide Config map

[2020-07-28 10:54] neolit123 commented on #1500
for instance specific configuration see this WIP proposal:
https://github.com/kubernetes/enhancements/pull/1439

[2020-07-28 11:15] Joseph94m commented on #1500
Great. I see this is WIP so there is no need for me to propose it.
Thank you for your return.

[2020-07-28 19:55] jvanz commented on #2233
I'll run an update again and try to write a reproduce steps. What I can share now is something more simple. In one node of the cluster I can see this:

[code]

After that, I've updated the kubeadm package and ran the same command again:

[code]

I do not know if this means something. But at least is possible to see a change in the configuration value.

[2020-07-29 02:29] neolit123 commented on #2233
hi, this shows that kubeadm can no longer default KubeletConfiguration using its internal mechanism. as discussed above, if a value is not set (e.g. `0s` or `nil`) then once you pass this file to the kubelet binary it should default it.

if you happen to pass a file that is not defaulted (e.g. generated by newer kubeadm), but confirm that a certain value is not defaulted (e.g. 0s -> 1m) then we ha

[2020-07-29 04:12] masaeedu commented on #664
@neolit123 I have a Kubernetes control plane node running inside a Docker container via https://github.com/kubernetes-sigs/kind. The api server is exposed on the Docker host via port forwarding. I need to add a worker node in the Docker host's network to the cluster.

Obviously the IP address and hostname of the container and Docker host differ, so we run into the problems being described in this

[2020-07-29 04:40] neolit123 commented on #664
this seems like a unsupported scenario by kind.
did you get feedback from the kind maintainers (or #kind on k8s slack)?

the OP of this issue was confusing and i don't think it's related to your problem.

[2020-07-29 05:37] neolit123 opened #2237 "remove usage of the k8s-master label (version marker)"
remove k8s-master from [here](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/version.go#L43) and the unit tests:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/version_test.go#L199
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/version_test.go#L239

xref https://github.com/kubernetes/test-infra/pull/18517

[2020-07-29 05:38] neolit123 commented on #2237
/help
/good-first-issue

note we are are in code-freeze for 1.19, but your change can merge in late august for 1.20.

[2020-07-29 05:38] neolit123 commented on #2237
/milestone v1.20

[2020-07-29 07:07] vikkyomkar commented on #2237
/assign

[2020-07-29 11:43] masaeedu commented on #664
@neolit123 The important question is whether it's a supported scenario by kubeadm; kind just wraps kubeadm and a container runtime. I can think of a number of other scenarios that don't involve kind where a kubernetes control plane node's API port is forwarded somewhere else, and the worker node must be registered to it in a network where the original control plane address is not accessible. E.g.

[2020-07-29 11:58] neolit123 commented on #664
`kubeadm join` needs an kube-apiserver endpoint to perform discovery and Node bootstrap.
that kube-apiserver could be anywhere - same network or another network and kubeadm does support those cases.
the endpoint can be load balancer endpoint too.

that endpoint is then written on a worker node's kubelet.conf file that is used to communicate to the API server

you can omit the positional argument c

[2020-07-29 12:04] masaeedu commented on #664
It's not `kind` that's executing `kubeadm join`, it's me. I'm executing `kubeadm join` manually, providing the address of the Docker host where the API is exposed via port forwarding (note that this does not match the `--control-plane-endpoint` that was used to start the control plane node itself; that address is not accessible to the worker node).

The problem is that the address I provide to `ku

[2020-07-29 12:06] masaeedu commented on #664
The kube-apiserver is accessible **via port forwarding**. It is not accessible at the original address that was specified using `--advertise-addr` or `--control-plane-port`, because that address is a function of the network in which the control plane node itself is running, and not necessarily the network in which the joining worker is running.

[2020-07-29 12:20] neolit123 commented on #664
please log a separate issue and provide IP addresses and concrete examples of your setup.

[2020-07-29 13:13] jethrogb commented on #664
@neolit123 it's not clear to me why yet another issue is needed. This issue has already been reported several times over the past several years and it's the same problem every time: you run `kubeadm join ADDRESS` and at some point `ADDRESS` (which works) is swapped out for something else (which doesn't).

[2020-07-29 13:54] neolit123 commented on #664
let's start in a fresh issue to see:
- the precise minimal reproduction steps.
- affected kubeadm versions.

[2020-07-29 14:48] neolit123 commented on #664
in fact, i'd be really curious about the above because looking at our logic for 1.17 and 1.18 under:
https://github.com/kubernetes/kubernetes/tree/release-1.17/cmd/kubeadm/app/discovery
https://github.com/kubernetes/kubernetes/tree/release-1.18/cmd/kubeadm/app/discovery

the endpoint you feed as positional argument or via JoinConfiguration ends up in the validated bootstrap-kubelet.conf that is wr

[2020-07-29 16:43] neolit123 commented on #2237
also this line: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/version.go#L64

[2020-07-30 00:35] natemoseman commented on #1062
simply modprobe'ng things doesn't ensure they are running.  If you reboot then everything breaks.  It should tell you to make sure these things are enabled persistently.

When following the directions on stuff like this I don't like to read into things and try to take extra steps based on hunches.  If it tells me to do something, I do it. If it doesn't I don't.   I wait for things to break and go

[2020-07-30 03:17] CentUser commented on #1893
Encountered this problem, minikube 1.12.1 docker 18.0.1 centos 8.1 kubernets version 1.18.3.

Tried your way, failed.

[2020-07-30 19:56] neolit123 commented on #2081
/remove-lifecycle stale

[2020-07-31 02:50] karstland commented on #2207
environment: kubernetes v1.16.13 with docker-ce v18.09.9, os: centos 7.7 kernel version: 3.10.0-1127.el7.x86_x64
bootstrap with kubeadm: kubeadm init
results: controller manager and scheduler keep crashloopbackoff
solutions: remove or comment the flag ```--port=0``` flag in /etc/kubernetes/manifests/kube-controler-manager.yaml and kube-scheduler.yaml
questions: what's the problem. after removing t

[2020-07-31 07:47] neolit123 commented on #2207
1.16.13 has the problem, so you need to update to 1.16.14 or 1.17.x
removing --port=0 is not recommended, because it means the components would expose metrics and health checks publicly.

[2020-08-01 23:17] #2229 closed

[2020-08-02 06:28] inductor opened #2240 "kubeadm overwrites /var/lib/kubelet/config.yaml even if you already have it"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.18.6

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.18.6
- **Cloud provider or hardware configuration**: Digital Ocean 4CPU-8GB droplet
- **OS** (e.g. from /etc/os-release): 20.04 LTS (Focal Fossa)
- **Kernel** (e.g. `uname -a`): Linux controller-0 5.4.0-29-

[2020-08-02 16:52] inductor commented on #2240
Some person on Slack helped me with this.

I did not specify the config file at creation

Passing the following yaml worked by running `kubeadm init --config config.yaml`

[code]

I think that the installation document should mention about this init config option.

[2020-08-02 18:05] neolit123 commented on #2240
thanks logging the ticket.
let's only keep the k/website one open:
https://github.com/kubernetes/website/issues/22916

/close

[2020-08-02 18:06] neolit123 commented on #2240
/kind documentation

[2020-08-02 18:06] #2240 closed

[2020-08-03 19:12] SAshish19 opened #2241 "kubeadm init fails when I use --apiserver-advertise-address"
## Is this a request for help?

YES
If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?
--apiserver-advertise-address
If you have found any duplicates, you should instead reply there and close this page.

If you have not found any duplicates, delete this section and continue on.

## Is this a BUG REPORT or FEATURE REQUEST?

Choose

[2020-08-04 08:40] FrediWeber opened #2244 "Provide proper certificates for kube-scheduler and kube-controller-manager"
## FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.18.6

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.18.6
- **Cloud provider or hardware configuration**: Bare-Metal
- **OS** (e.g. from /etc/os-release): Debian 10
- **Kernel** (e.g. `uname -a`): 4.19.0-9
- **Others**:

## What happened?
Kubeadm disables the "insecure" ports of kube-scheduler and

[2020-08-04 12:20] neolit123 commented on #2244
@FrediWeber thank you for logging the ticket.
you have a valid observation that we do not sign the serving certificate and key for the components in question.

we had a long discussion with a user on why we are not singing these for kubeadm and you can read more about this here:
https://github.com/kubernetes/kubernetes/issues/80063

IIUC, one undesired side effect, is that if we start doing that o

[2020-08-04 12:49] neolit123 commented on #2241
hello,

this is not a kubernetes/kubeadm supported version. please upgrade to 1.17. 1.16 is going out of support too in August.

this seems like a general network setup issue. for general feedback on these you could try discussing with other users at #kubeadm on k8s slack or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

using controlPlaneEndpoint for a sing

[2020-08-04 12:49] #2241 closed

[2020-08-04 14:00] kkendzia commented on #2205
@timyl is this issue discussed anywhere else? I have similar issues.

[2020-08-04 14:22] FrediWeber commented on #2244
@neolit123 Thank you very much for your fast response and the clarifications.

If i understand it correctly, the issue https://github.com/kubernetes/kubernetes/issues/80063 is more about mapping the hole PKI dir into the container, external PKIs and shorter renew intervals.

I read a little bit about health checks with HTTPS in https://github.com/kubernetes/kubernetes/issues/18226 and https://kube

[2020-08-04 14:55] neolit123 commented on #2244
i'm not so sure about this and i haven't tried it. my understanding is that if the server no longer has self-signed certificates this means that it would reject any client connections on HTTPS that do not pass authentication.
e.g. `curl -k...` would no longer work?

that is true. however, the discussion there was also about the fact that today users can customize their kube-scheduler and KCM deplo

[2020-08-04 15:38] ranasheel2000 commented on #2205
@kkendzia
upgrade linux kernel version, if you are running on older kernel version.
In our case it fixed the issue (centos).

[2020-08-04 15:40] FrediWeber commented on #2244
So do you mean the kube-controller-manager and kube-scheduler would no longer accept the health check requests because they do not pass a client certificate or any other authentication?
Or do you mean the "client side" of the Kubernetes health check would not connect because the certificate is not self signed? I'm not sure about the first case but if the docs are correct, the second case should no

[2020-08-04 15:43] detiber commented on #2244
Long term, I would love to see the ability to leverage the certificates API to do automated request and renewal of serving certificates for kube-scheduler and kube-controller-manager similar to the work that is being done to enable this support for the kubelet (https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190607-certificates-api.md)

[2020-08-04 15:52] neolit123 commented on #2244
that was my understanding. then again, we do serve the kube-apiserver on HTTPS and it's probe does not have certficates, so perhaps it would just work.

but again the problem is that this is yet another set of certficates that kubeadm has to manage during renewal, and must consider doing our "copy certficates" functionality for HA support. it is not a strict requirement and kubeadm already support

[2020-08-04 15:57] neolit123 commented on #2244
i tried to follow the latest iterations of the CSR API, closely but i have not seen discussions around CSRs for the serving certificates of these components via the KCM CA. my guess would be that there might be some sort of a blocker for doing that, given a lot of planning went in the v1 of the API.

[2020-08-05 01:08] thtanaka opened #2247 "Regression for kubeadm reset --force (unmount /var/lib/kubelet/ directory)"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:56:34Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes ver

[2020-08-05 11:31] FrediWeber commented on #2244
Would it be okay for you if I'd start the process?

[2020-08-05 11:55] neolit123 commented on #2244
for a feature that is already possible via the kubeadm config/API, the benefits need to justify the maintenance complexity.

to me it always seems better to first collect some support (+1s) on the idea before proceeding with the KEP...
the KEP process can be quite involved and my estimate is that at this stage the KEP will not pass. so, it is probably better to flesh out the idea more in a discuss

[2020-08-05 12:32] FrediWeber commented on #2244
What if the kube-scheduler and kube-controller-manager would manage their front facing server certificate with the `certificates.k8s.io` API? There would need to be a new controller to automatically sign the CSRs.
As a fallback these components could still use their self created CA.

1. Check if the flags for certificates are set - if yes use them and start the component
2. If no front facing cert

[2020-08-05 13:03] neolit123 commented on #2247
agreed that kubeadm should not unmount /var/lib/kubelet.

is this the change?

https://github.com/kubernetes/kubernetes/pull/77507/commits/56ce743f7b68335683eebaec4dfb7cc1804170d4#diff-681222fdc03e967cc65bfb7ac01b30c9R185

/kind regression
/priority important-longterm

[2020-08-05 13:16] neolit123 commented on #2247
commented more on the PR.
/lifecycle active

[2020-08-05 20:38] neolit123 commented on #2244
this could work, but i guess we will have to own the source code and container image for this new controller.

BTW, does the kube-scheduler even support /metrics?

for 1.18.0 it just reports:

KCM on the other hand reports what i've expected to see:
[code]

[2020-08-06 07:02] balleon commented on #1461
Fixed with by addind podSubnet to firewalld trusted zone.
`sudo firewall-cmd --permanent --zone=trusted --add-source=10.244.0.0/16
sudo firewall-cmd --reload`

[2020-08-06 11:02] FrediWeber commented on #2244
I just double checked it.
The problem seems to be, that the scheduler does not provide a clean error message if not properly authenticated.
If you authenticate against the /metrics endpoint with a token of an authorized service account, the metrics are provided.

[2020-08-06 11:15] neolit123 commented on #2244
would you care logging a ticket for that in kubernetes/kubernetes and tag with `/sig scheduling instrumentation`?
i could not find an existing one by searching in the repository.

[2020-08-06 14:38] fabriziopandini opened #2249 "Kinder: add flag for forcing the kubeadm config version"
As discussed in https://github.com/kubernetes/kubeadm/pull/2248#discussion_r466457798, due to external reasons, we are removing "v1beta1" from the kubeadm test grid is kind of worrying because it is still used in CAPI.

We should consider adding a new flag to kinder for forcing the config version to use and add dedicated tests for this (v1.16 with v1beta1, v1.17 with v1beta1 etc)

[2020-08-06 15:10] neolit123 commented on #2249
overall i'm -1 for this.

i really wish for us to stay on schedule for removal of deprecated v1beta1 API in 1.20.
wouldn't CAPI e2e provide signal for it if CAPI still wishes to use it?

[2020-08-06 15:14] neolit123 commented on #2249
ok, maybe we can just shift the 1.16 and 1.17 kinder jobs to use this flag, but leave 1.18 and newer use v1beta2?

[2020-08-06 15:36] fabriziopandini commented on #2249
Yep. this should not affect out schedule for v1beta1 deprecation
My intention is only to have test coverage about the fact that the older version are actually capable to start a cluster given a v1beta1 config (and there are no regressions on this capability)

[2020-08-06 15:59] neolit123 commented on #2249
/area kinder
/priority important-longterm
/kind feature

[2020-08-07 05:31] AntonioGonz commented on #1978
Hello folks,

I had the same issue after running the command: _kubeadm join --token **<token>** k8smaster:6443 --discovery-token-ca-cert-hash **<hash>**_

[code]

Issue is comming because **<hash>** value is not in the correct format, as the issue indicates, expected format is as follows  "format:value", and based on documentation we have to specify hash value in the following format "<hash-type>:

[2020-08-09 02:30] satyasure commented on #700
try like this it is working ..
kubeadm init --config=kubeadm-config.yaml --ignore-preflight-errors=all --upload-certs

[2020-08-09 02:34] satyasure commented on #700
in your case: sudo kubeadm join --token=ca3f65.9e6258b8d6109e8f --discovery-token-ca-cert-hash --ignore-preflight-errors=all 172.31.19.230:6443

[2020-08-09 02:59] briantopping opened #2250 "Node Archive and Restore"
## FEATURE REQUEST

Preface: There is no substitute for proper backup and restore hygiene.

This feature request is for cluster backup and restore functionality as a part of `kubeadm`. Cluster deployment tools have unique knowledge of their behaviors and files that are both common and unique to a cluster. In disaster recovery situations, time is of the essence, and a faster automated recovery can

[2020-08-10 11:28] neolit123 commented on #2178
note, if 1.20 is a "stabilization release" we should not be making this change.
i'm also think that a KEP is appropriate as it requires changes in both the packages (+krel to branch?) and kubeadm.

[2020-08-10 11:29] neolit123 commented on #2178
/sig release cluster-lifecycle

[2020-08-10 12:17] xlgao-zju commented on #2178
@neolit123

the part one may **not** need the KEP

the part two may need the KEP

[2020-08-10 12:30] neolit123 commented on #2250
hi @briantopping ,

kubeadm's primary goal is to be a k8s cluster bootstrapper that creates a minimal viable cluster.
everything else we can consider out-of-scope and can be delegated to an external tool (ALA the Unix philosophy)

with respect to this FR, kubeadm is already overstepping the Unix philosophy in a couple of places:
- the command "kubeadm reset" was added to reset the changes that kub

[2020-08-10 12:38] neolit123 commented on #2178
yet, we can avoid doing part one, if part two never happens, thus documenting the proposed change in one place feels right.

[2020-08-10 12:46] xlgao-zju commented on #2178
@neolit123 yes, you are right. so, where should we file the kep?

[2020-08-10 13:06] neolit123 commented on #2178
the KEP process:
https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps

it should be either here (A):
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm
or here (B):
https://github.com/kubernetes/enhancements/tree/master/keps/sig-release

my preference is for A, but let's hold until we decided if we are making this

[2020-08-10 17:18] briantopping commented on #2250
Hi @neolit123, thanks for the comprehensive feedback. I agree with your positions here. Taking on inappropriate scope is a good way to break a project. Nobody wants that.

In keeping with your ideas, I believe this FR *is* in scope, but only because the implementation of the feature outside of kubeadm is still version locked to changes that occur in kubeadm over time. There is no doubt that an in-

[2020-08-10 19:23] neolit123 commented on #2250
an important aspect here is that directories like /var/lib/kubelet or /var/lib/etcd are not really maintained by kubeadm, they are maintained by the kubelet and etcd. while kubeadm would be closer to knowing what is in there than any external tool, it would face the same issues of making maintainers look at the source code of the same tools of determining "what changed".

on the other hand just al

[2020-08-11 00:49] BenTheElder commented on #2178
quick note that we cannot do that while the kubelet config is not respected in join.

+1 for https://github.com/kubernetes/kubeadm/issues/2178#issuecomment-642531132
speicfically 2.) kubelet enabling should happen after writing the file(s) / config, so as to avoid any crash loops.

this will also have the benefit of allowing CI tooling to look for panics in the logs without creating loads of noise

[2020-08-11 09:20] fabriziopandini commented on #2250
I'm really debated about this feature.

From one side I understand the user's need for a something that takes charge of the whole problem.
From the other side, I don't think that kubeadm is the right tool for this job, especially considering that most of the complexity here is due to the etcd management and to a bazillion of knobs that goes far and behind of the kubeadm responsibility (e.g. additi

[2020-08-11 14:30] neolit123 opened #2251 "refactor cmd/kubeadm/app/preflight/checks_test.go"
unit tests should not execute system level code like port-checks and verifying existence of files outside of the control of specific test cases.

in here:
https://github.com/kubernetes/kubernetes/blob/4de8bdc6bcc86bc72ea1dfce5f134ac352f90a34/cmd/kubeadm/app/preflight/checks_test.go

we have TestRunInitNodeChecks and TestRunJoinNodeChecks that execute a number of hardcoded system checks:
https://gi

[2020-08-11 20:31] briantopping commented on #2250
I'm okay with this not being a kubeadm feature and I don't want to waste valuable team time if this is the wrong team for it. Super grateful for the input so far and pleased it's not a solid -1 off the bat.

That said, I can't imagine how many people have said "OH FSCK!" as they acknowledged `kubeadm reset` in the wrong terminal window. I've done it twice now and lost a month of work to it the fir

[2020-08-11 21:02] neolit123 commented on #1915
this work is pretty much done.
see updates in the google doc mentioned above.
we will be closing this ticket and opening the survey before kubecon 2020 eu.

[2020-08-12 03:45] pramodsharma62 commented on #2230
Is there any fix for this yet? I am having the same issues.

[2020-08-12 04:08] ZhiFeng1993 commented on #2230
We've made the fix in v1.19. In the meantime, you can find the troubleshooting item here: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kubeadm-upgrade-plan-prints-out-context-deadline-exceeded-error-message

[2020-08-12 09:27] fabriziopandini commented on #2250
@briantopping those are valuable comments. thanks
I will try to get the best out of it.

The first action item is to consider if we can add an additional sanity check on top of kubeadm reset, asking for a second confirmation in case the action is potentially destructive for the cluster (reset of a control plane node)

[2020-08-12 11:20] neolit123 commented on #2250
one might as well call `rm -rf ./` by mistake which is also dangerous and skips confirmation.

for the minimal / recommended number of CP nodes in a HA cluster - 3, removing 1 node falls under the accepted failure tolerance of etcd:
https://etcd.io/docs/v3.3.12/faq/

thus, for an HA CP it would be easier to recover from a `kubeadm reset` mistake. for a single CP node scenario, that would be harder

[2020-08-12 11:33] neolit123 commented on #2230
the warning itself is not an issue, it's just warning that kubeadm no longer validates the KubeletConfiguration, KubeProxyConfiguration that it feeds to the kubelet, kube-proxy components.

this is a separate problem around `kubeadm plan` not fetching the etcd versions properly for external etcd clusters.

[2020-08-12 16:17] briantopping commented on #2250
Oh, is that the problem? 😂🤣👍🎉

The problem is `rm -rf ./` not a command anyone uses. `kubeadm reset` is a very common command for bare metal admins. Being in the wrong window after running a half dozen kubectl commands on a working cluster to figure out tokens that are needed is a common situation. These two are toxic together. There shouldn't even be a warning if we aren't trying to protect users

[2020-08-13 05:30] BenTheElder commented on #2178
Let me know if I can help. I would like to eliminate the crashlooping in CI, and I think this will avoid a lot of confused users.

[2020-08-13 07:22] xlgao-zju commented on #2178
@BenTheElder Since we will not change the kubernetes/release repository to have the kubelet service disabled by default for now. I think we can stop kubelet, when we do not have the kubelet config. And start the kubelet, until we get the kubelet config?

[2020-08-13 12:40] neolit123 commented on #2250
that is certainly not my intention.
would appreciate more serious comments on this feature request by maintainers and users.

[2020-08-13 14:07] neolit123 opened #2252 "kinder: tasks do not terminate the e2e test suite after timeout"
if a kinder workflow task that is running the e2e test suite timeouts after N minutes, kinder would end this task, but continue running the rest of the tasks and also the suite itself would continue running in the background(?).

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=error%20loading%20KubeConfig#f44509f17078669e57ea
https://prow.k8s.io/view/gcs/kubernetes-jenkins/log

[2020-08-13 14:07] neolit123 commented on #2252
/assign
/kind bug
/priority important-soon

[2020-08-13 18:27] neolit123 commented on #2252
PR: https://github.com/kubernetes/kubeadm/pull/2253

[2020-08-14 01:07] charleszheng44 opened #2254 "Kubeadm allow user to specify extra SAN for apiserver-kubelet-client.crt"
## What keywords did you search in kubeadm issues before filing this one?

SAN, Common Name, Apiserver client certificate

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## What happened?

When generating the apiserver serving certificate, kubeadm allows users to specify extra SAN through config file.
[code]
However, there is no option to add extra SANs for apiserver client certific

[2020-08-14 08:24] fabriziopandini commented on #2254
/kind feature

[2020-08-14 12:06] neolit123 commented on #2254
/kind api-change

this requires an API change and v1beta3 is still in the plans. check the rest of the pending changes with the "api-change" label.

/priority backlog

this is not a common use case, thus adding a fairly low priority.
@charleszheng44 what are you existing workarounds?

/milestone v1.20

we can add it for 1.20, but there are no guarantees v1beta3 will land then.

[2020-08-14 13:56] neolit123 commented on #2252
one side effect of merging #2253 is that once a process exits naturally it results in:

[code]

a solution would be to check if the process is still running before killing or just return right after the pgid fetch failed.
but overall this is not a big problem.

/remove-priority important-soon
/priority backlog
/reopen

[2020-08-16 20:22] charleszheng44 commented on #2254
@neolit123 thanks for your reply.

In our case, all apiserver to kubelet traffic, will go through a reverse proxy server. The connection between the apiserver and the proxy server is protected by the TLS protocol, which requires the apiserver-kubelet-client.crt contains a valid common name or a valid SAN entry.

However, the apiserver-kubelet-client.crt generated by the kubeadm only contains a com

[2020-08-17 08:31] fabriziopandini commented on #1898
/remove-lifecycle stale

[2020-08-17 08:43] fabriziopandini commented on #2254
using the apiserver-kubelet-client.crt as a server certificate in a reserve proxy is kind of a stretch, but from the other side I understand this is convenient because it does not require additional certificates.

Even if I don't have tested this, IMO there is already a viable workaround (to provide the certificate manually), but if there is an elegant way to get this in the API as a first citizen

[2020-08-17 08:46] fabriziopandini commented on #2252
The error are not super intuitive, might be we should wrap them and add a new line that states clearly where the cleanup procedure starts.

[2020-08-17 10:33] neolit123 commented on #2254
We don't know if 1.20 will be the release of v1beta3 or a future version.

But requiring SANs for a client cert is indeed a bit corner case.
On Aug 16, 2020 23:23, "Chao Zheng" <notifications@github.com> wrote:

[2020-08-17 10:36] neolit123 commented on #1898
It seem etcdctl is going to stay in the image, since others depend on it
too. but we can keep this open for longer if they change their mind.

[2020-08-17 15:55] qian2501 opened #2255 "Kubeadm init fail using config file"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):

- **Cloud provider or hardware configuration**: local vmware on Windows 10
- **OS** (e.g. from /etc/os-release): CentOS 7
- **Kernel** (e.g. `uname -a`):

- **Others**:

## What happened?
When running `ku

[2020-08-17 16:05] neolit123 commented on #2255
we moved to setting this value via KubeletConfiguration in 1.19 (not released yet).

if the cgroup driver is not configured correctly the kubelet will exit with a related message right away.

this configuration seems valid. given you are using cri-o passing the cgroup driver is required.
if you are using docker kubeadm will detect the cgroup driver using the `docker info` command pass `--cgroup-dr

[2020-08-18 13:53] As9530272755 commented on #1978
I also encountered this problem

[2020-08-18 18:29] qian2501 commented on #2255
Oh, I figured it out...I was being stupid, I looked again at journalctl and found that I set a wrong ip in config.yaml. Sorry for the trouble.

[2020-08-18 18:29] #2255 closed

[2020-08-18 21:27] dannysauer opened #2256 "Regression - etcd datadir permissions not set on etcd grow"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.14+

**Environment**:
N/A

## What happened?

With the release of etcd 3.4.10, the datadir permissions now need to be 0700 or etcd won't start.  There was an issue (#1308) where perms were set on join before starting the etcd container as a security control, overriding the default b

[2020-08-18 22:13] neolit123 commented on #2256
hm, isn't this what kubeadm is doing by default?
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/init/etcd.go#L90

[2020-08-18 22:19] neolit123 commented on #2256
do you mean this line?
https://github.com/kubernetes/kubernetes/commit/6bbed9fef00d9789abf041f3961c9543e7a4ff45#diff-0960dc0bb7c3e7113a0daa027856b8f9L467

it is still here https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/init/etcd.go#L90

here is the version mapping between kubeadm(k8s) version and etcd:
https://github.com/kubernetes/kubernetes/blob/3f585835d0a38462b

[2020-08-18 23:50] dannysauer commented on #2256
There were two mkdirs - the one at bootstrap time (which is still there) and a second one which ran when additional nodes were run.  The referenced cleanup SR removed the second one.  Which makes sense in the context of the observed behavior; additional control-plane nodes have the /var/lib/etcd directory created with mode 0755 (the kubernetes default), and looking at some older clusters I have ar

[2020-08-19 00:48] neolit123 commented on #2256
ok, so originally a similar fix was added here in the function that creates the static pods for 1.14-pre:
https://github.com/kubernetes/kubernetes/commit/836f413cf1096c9b020b20319d0767aee4f9b990#diff-c4574f3918f016aeb3b32f5d9cb62ed6

later that code was moved (by ereslibre):
https://github.com/kubernetes/kubernetes/commit/981bf1930c73a7d95bbbd1dc9b3bfff122ad09a8

and then this refactor that you li

[2020-08-19 00:53] neolit123 commented on #2256
/help
/area security
/milestone v1.20
/priority important-longterm

i don't see this as a critical bug for 1.19 during code freeze.

given there is a chance an older version of kubeadm could be used to run etcd 3.4.10 we might as well backport the change to the support skew (1.19, 1.18, 1.17) after 1.19 releases.

[2020-08-19 01:05] neolit123 commented on #2256
one problem though is if the user is upgrading an existing cluster that has the 755 data dir.
in that case we should also ensure to chmod it due to https://github.com/etcd-io/etcd/pull/11798
(updated above mini-guide)

[2020-08-19 09:07] frittenlab commented on #2256
I also just run into this problem trying to upgrade an existing etcd cluster from 3.4.9 to 3.4.11. The etcd node refuses to start with:

`Aug 19 11:03:43 etcd0-dev etcd[26085]: cannot access data directory: directory "/var/lib/etcd","drwxr-xr-x" exist without desired file permissions`

[2020-08-19 09:30] neolit123 commented on #2256
@frittenlab hi, what k8s/kubeadm version are you using?

looks like we might be picking the latest etcd in 1.19, which means we must patch kubeadm too:
https://github.com/kubernetes/kubernetes/issues/93450
https://groups.google.com/d/msgid/kubernetes-sig-api-machinery/CAOXj30tEQzy0uSq9Oc4dX2UfSR%3DsCaqWwwUzymLrDxLirvHJ%2BQ%40mail.gmail.com?utm_medium=email&utm_source=footer

also:
- backport the c

[2020-08-19 09:49] frittenlab commented on #2256
@neolit123 We are currently using kubeadm / k8s 1.18.8. We use an external etcd cluster which we provisioned ourselves on dedicated localstorage vm's. We added the etcd cluster to kubeadm via the kubeadm-config configmap. I was able to upgrade the etcd cluster after changing the directory permissions of

`/var/lib/etcd`

to 700

[2020-08-19 14:07] neolit123 commented on #2256
@frittenlab
just to double check, i'm assuming you did not follow this guide:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/
IIUC, if using that guide (kubeadm init) the directory should have been created with 0700.

[2020-08-19 15:31] neolit123 commented on #2256
PR for master is here:
https://github.com/kubernetes/kubernetes/pull/94102

[2020-08-19 15:45] frittenlab commented on #2256
@neolit123 We did follow this guide. We created the cluster over 2 years ago. I can't recall having to change the mode of the data dir then. I added the option to out ansible role for the etcd cluster. And everything works fine now. This was not necessary with previous etc versions.

[2020-08-19 15:46] neolit123 commented on #2256
ok, in the above PR i've added a chmod 700 in kubeadm init even if the directory already exists, just in case.

[2020-08-19 15:47] frittenlab commented on #2256
Thanks that is a good idea :)

[2020-08-19 17:42] liggitt commented on #2256
that's only updating the client library, not the server version

[2020-08-19 17:45] neolit123 commented on #2256
ok, i still think that including the fix in 1.19 is a good idea to avoid the case where 1.19 kubeadm is used to deploy the newer (problematic) etcd.

[2020-08-19 17:46] liggitt commented on #2256
agree

[2020-08-19 18:16] liggitt commented on #2256
actually, I think @jingyih is working on resolving the regression in etcd ... not sure if kubeadm should work around it or wait for an etcd fix. I think kubernetes manifests will stay on 3.4.9 until this is resolved

[2020-08-19 18:38] neolit123 commented on #2256
@jingyih in which etcd version are you planning to resolve this?
would still recommend that kubeadm pre-creates this directory with 0700 for all OSes?

if a fix in etcd is coming, we can just add a note about this in the kubeadm troubleshooting guide and move the pending PR to 1.20.
the PR itself can continue pre-creating the directory with 0700 (similar is done for /var/lib/kubelet) but possibly

[2020-08-19 19:31] dannysauer commented on #2256
The etcd behavior simply illuminated a security regression in kubeadm, which is why #1308 was referenced in the report.  There's no fix to etcd which undoes _that_ regression (unless etcd changes the datadir permissions itself, which is even more sketchy than kubeadm updating the old incorrect perms).

Admittedly, world-readable perms at the top level of the datadir isn't a huge deal in practice,

[2020-08-19 19:46] neolit123 commented on #2256
yes, that is why i think https://github.com/kubernetes/kubernetes/pull/94102 is still viable. but while enforcing 700 on existing folders makes sense, it also overrides customized permissions such as 0770.

with the member sub-directory of being protected with 0700 it is indeed not that much of security issue.

we rarely update the default etcd server version (constant) in prior kubeadm releases b

[2020-08-19 22:25] dannysauer commented on #2256
Yeah, I'd either leave that out, or check for root/root:0755 and only change in that case. Surely no one's consciously choosing *that*. :)

[2020-08-20 00:27] csandiri11 opened #2257 "Kubernetes pods getting hung"
We are seeing some of the pods getting failed while mounting/attaching volume to pods. this is happening intermittently and after bouncing kubelet service pods are able to reattach the volumes and succeeding. seeing the below error when pod get struck.

I created single PV and corresponding PVC to use volume mounts for pods:

Error:
[code]

Version:

[code]
Host OS:
`Centos 7.7`

CNI:
`Weave`

Tha

[2020-08-20 00:33] csandiri11 commented on #2257
thanks

[2020-08-20 00:36] neolit123 commented on #2257
hi, if this is an issue with mounts, try logging a ticket in the kubernetes/kubernetes repository and tag it with `/sig storage`.

/triage support
/close

[2020-08-20 00:36] #2257 closed

[2020-08-22 04:21] prabhu43 opened #2258 "Allow to configure cluster name in the kubeconfig generated using kubeadm command"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.18.8

## What happened?
Creation of kubeconfig using `kubeadm alpha kubeconfig user` command generated a kubeconfig. But it always has `kubernetes` as cluster name. But the cluster name of my cluster is different, configured via kubeadm config `ClusterConfiguration`.

## What

[2020-08-23 17:58] devtech0101 commented on #668
It depends on what version of kubernetes you are running: example 1.18 you can generate new token that supports v=5.

step 1:
sudo kubeadm --v=5 token create --print-join-command (this will update cluster-info.yaml with JWS in data section)

step 2:
run the above command on node should work.

[2020-08-23 18:16] arunmk commented on #668
@liztio @timothysc @devtech0101  this bug has fallen off my radar and I have not heard of any new reports of this. Kubernetes also has moved quite a ways from 1.6.8 when this issue was seen to 1.18 nowadays. So I am fine with closing this issue.

[2020-08-24 09:12] fabriziopandini commented on #2258
AFAIK this alpha command currently does not access the cluster for retrieving info, but it relies on command line flags only, and therefore I would like to better understand from @prabhu43 how he is expected we should to bring into the picture "ClusterConfiguration", especially in a "multiple cluster" scenario, and how we should manage flag/ClusterConfiguration conflicts.

TBH, personally I'm not

[2020-08-24 11:49] neolit123 commented on #2258
users wish to combine multiple clusters in the same kubeconfig files for context switching, in which case all clusters created by kubeadm can end up being called "kubernetes". ClusterConfiguration can be used to change the cluster name, but if users wish to generate additional users for those clusters, the "kubernetes" cluster name is pinned.

see here and discussion bellow:
https://github.com/kub

[2020-08-24 12:03] neolit123 commented on #1350
@MikeSpreitzer like i've mentioned [here]https://github.com/kubernetes/website/issues/23323#issuecomment-678696682), ideally before proceeding with changes in kubeadm i'd like to hear from SIG Auth what is the plan for supporting bundles for some of the flags in the KCM.

this can be done is a k/k ticket that tracks this work for sig-auth and makes it more visible.

[2020-08-24 12:06] neolit123 commented on #1350
i'm fine keeping this ticket open until then, and until we clarify the wording about CA rotation as requested here:
https://github.com/kubernetes/website/issues/23323

[2020-08-25 16:00] MeNsaaH commented on #339
For anyone facing this issue, check if you had `microk8s` installed and remove. That was my issue

[2020-08-26 07:09] fragtom opened #2259 "Setup control node on HA cluster hangs - upload CRI socket information"
The control node did not join node with HA etcd cluster, it hangs on step *Uploading the CRI Socket information*

## What keywords did you search in kubeadm issues before filing this one?
search around ```Error writing Crisocket information for the control-plane node```

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:
`# kubeadm version
kubeadm version: &

[2020-08-26 10:05] neolit123 commented on #2259
Hi
If the CRI socket phase is hanging this usually means the api server client
on the second node cannot contact a healthy api server in that particular
period of time.

Things to check during that period:
- verify the health of the etcd cluster using etcdctl
- verify basic kubectl operations like writing a config map
- is the control plane endpoint reachable at https (load balancer issues)
- chec

[2020-08-26 10:55] fragtom commented on #2259
did as mentioned so far:
- health check on this control node to etcd cluster
[code]
- kubectl didn't work, due to the setup of kubeadm didn't complete
- control plane is reachable, by port directly and by lb
[code]
during the initialization of kubeadm the port is binded by kubelet
[code]

what about the kubelet log, I do not see sth. that belongs to this issue. Or somebody see some relevant?

[cod

[2020-08-26 11:16] atsikham opened #2260 "Duplicated SANs in k8s-apiserver certificates"
## What keywords did you search in kubeadm issues before filing this one?
tls, apiserver, certificate, extrasan, san, certsan, duplicate

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Azure, but repro

[2020-08-26 13:06] neolit123 commented on #2259
once you have created the first node with "kubeadm init" does kubectl work, right away? it should.
you can run `watch kubectl get po -A.` in a terminal to see if that breaks at some point during the join of the second node. if that is the case i'd assume LB issues.

also:
- what CNI network are you installing?
- what is the load balancer that you are using?

i don't see anything relevant other tha

[2020-08-26 13:08] neolit123 commented on #2260
fixed here https://github.com/kubernetes/kubernetes/pull/92753 for 1.19
but cannot be backported to 1.18 and older since in k8s we only backport critical fixes.

/close

[2020-08-26 13:09] #2260 closed

[2020-08-26 15:20] fragtom commented on #2259
Mh, not sure that I understand this right. kubectl did not work, because the `kubeadm init` process hangs and abort. I'm following in detail this [guide to setup up HA Cluster](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/).

Etcd server is running, with 5 nodes. Now, I'm on the first CONTROL plane, this guide here, [Set up the first control plan

[2020-08-26 15:30] neolit123 commented on #2259
looks like i misunderstood. i though kubeadm was hanging on `join` when adding more nodes, but apparently it happened on `init`.

- what is the complete log from the kube-apiserver?
- what is the complete output of `kubeadm init ...--v=10...`
(you can use pastebin.com or gist for that)

this basically means that the kubelet is not creating the Node object, so kubeadm trying to patch the CRI socket

[2020-08-26 15:32] neolit123 commented on #2259
is this the complete log from the kubelet?

[2020-08-26 15:38] fragtom commented on #2259
https://pastebin.com/AFLYSXKT

[2020-08-26 15:54] neolit123 commented on #2259
i suspect the Node object is not being written to etcd.

[2020-08-26 16:04] neolit123 commented on #2259
^ i need to look at the api-server logs, but please also try the following --config:

[code]

[2020-08-26 16:28] fragtom commented on #2259
done, have a look: https://pastebin.com/xTLFx3Te

[2020-08-26 16:32] neolit123 commented on #2259
looks like `kubeadm reset` was not called before `init`, but in any case that does not seem to matter here.

now please try:
[code]

[2020-08-26 16:43] fragtom commented on #2259
without etcd endpoints and Initconfiguration?

[2020-08-26 16:44] neolit123 commented on #2259
yes, this will create an etcd instance on the control-plane node itself.
assuming it can pull or already has the etcd image from GCR.

[2020-08-26 17:31] fragtom commented on #2259
https://pastebin.com/tF1wQY2R

[2020-08-26 17:55] neolit123 commented on #2259
something odd is going on with the kubelet not registering the node object, but your logs don't reveal that.

what happens if you pass this same minimal config:
[code]

but append `--skip-phases=upload-config` to the `kubeadm init` command.
this would skip the kubeadm writing the crisocket to the Node object.

kubectl should work after that, unless something is badly wrong.

i'm interested in the

[2020-08-26 17:56] neolit123 commented on #2259
also please share the kube-apiserver container log (as i requested that multiple times).

[2020-08-26 18:39] fragtom commented on #2259
tried with skip-phase, output kubeadm init
https://pastebin.com/u8Hqxxn1

apiserver logs, sorry... now, I check that.
https://pastebin.com/W2YDNZ2z

[2020-08-26 19:02] neolit123 commented on #2259
the api server logs do not include any indication of a failure at this verbosity level.

looks like i forgot to include another phase that writes to the node, try:
`kubeadm init ..... --skip-phases=upload-config,mark-control-plane`

with this config:
[code]

and try again the same kubectl commands from above if you get kubectl to work.
also share the logs of:
- kubelet
- kube-apiserver

just to be

[2020-08-26 19:44] fragtom commented on #2259
ok, there we go:
output of kubeadm init: https://pastebin.com/K8yLn3dz
and kube apiserver: https://gist.github.com/fragtom/b0726b491f986a567341be6a6e11755f
and kubelet logs: https://gist.github.com/fragtom/fdcdcd5ad6b550b40e15f8aef1d0c7e9

and additional, the systctl for system would be
https://gist.github.com/fragtom/ea2f23b4abfaa1ad91bc0676f057a335

[2020-08-26 20:23] neolit123 commented on #2259
unrelated but you'd want to enable br_netfilter:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#letting-iptables-see-bridged-traffic
given you are not configuring kube-proxy for IPVS.

i don't see anything out of the regular there.

i don't see any problems here.

i'm confused why both docker and containerd are present in the logs:

...

the kubelet connects

[2020-08-26 20:33] neolit123 opened #2261 "support skipping phases via the kubeadm API"
(i though we had a ticket about this already, but i cannot find it?)

there have been a few requests about support for skipping phases via the kubeadm config.
one was from stealthybox related to addon support and the other one i saw was here from CAPI:
https://github.com/kubernetes-sigs/cluster-api/issues/2769#issuecomment-681100776

these can be string slices under JoinConfiguration and InitConfi

[2020-08-26 20:35] neolit123 commented on #1915
survey results will be avail on the 8th of Sept.
we can close this ticket after that.

[2020-08-26 20:38] fragtom commented on #2259
I tried docker itself, after some readings, tried to switch on containerd. Did test again without running docker daemon, no change.

[code]
[code]

[2020-08-26 20:40] neolit123 commented on #2259
when you disabled the docker deamon do you still see `detected and using CRI socket: /var/run/dockershim.sock` in the "kubeadm init" output? it should no longer be there.

are you still passing `--cri-socket /var/run/containerd/containerd.sock` explicitly.

[2020-08-27 01:22] weshouman commented on #1153
In my case that was caused by a time drift in the master node, _which happened after a power cut-off_.
I had that fixed by running
[code]

[2020-08-27 05:17] alexcpn opened #2262 "kubeadm init fails with node * not found when used with containerd, works perfect with Docker"
## What keywords did you search in kubeadm issues before filing this one?

Similar to
https://github.com/kubernetes/kubeadm/issues/1153

## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892aab98fe339f3bd70e3c470144299398ace", GitTreeState:"clean", BuildDate:"2020-08-13T16:10:16Z", GoV

[2020-08-27 09:46] prabhu43 commented on #2258
+1 to @neolit123

[2020-08-27 10:02] neolit123 commented on #2262
Hi what is the full log of kubeadm init ( add --v=4 to the command)? Also
share the full kubelet log with: journalctl -xeu kubelet.

[2020-08-27 10:03] neolit123 commented on #2262
/triage support

[2020-08-27 12:09] alexcpn commented on #2262
Sorry , I had reset kubeadm and reinstalled with docker. I don't have other logs now

[2020-08-27 12:27] neolit123 commented on #2262
this seems the same issue as:
https://github.com/kubernetes/kubeadm/issues/2259
where containerd is failing, it does not seem like a kubeadm problem but a problem where the kubelet / containerd combination cannot create a Node object.

/close

[2020-08-27 12:27] #2262 closed

[2020-08-27 13:19] fragtom commented on #2259
Figured out following:

[code]

Did tests with
- docker-daemon off and using containerd, with explicit --cri-socket /var../containerd.sock
- docker-daemon off and using containerd, without providing cri-socket
- using docker, stopped containerd logs of [kube-apiserver](https://gist.github.com/fragtom/e4e97c26a26f0092e724fbca970d9cb0), [kubelet logs](https://gist.github.com/fragtom/4a86a50fbba3a045

[2020-08-27 14:24] neolit123 commented on #2259
i've noticed that in your latest and prior kubelet logs that the kubelet complaining about some containers, symlinks:
[code]

i have no explanation what the actual cause is, but it seems like a kubelet / container runtime / node host problem and not something we can control from kubeadm.

you have a few options here:
- try different versions of Kubernetes - e.g. if 1.17 works here and if this was

[2020-08-27 14:24] #2259 closed

[2020-08-27 14:25] neolit123 commented on #2259
with respect to this:

i just tested 1.18.8 and kubeadm properly only detects the CRI socket when the user has not passed --cir-socket.

[2020-08-27 16:52] immuzz commented on #1393
SIG-Windows Traige meeting

We will be tracking it here https://github.com/kubernetes/enhancements/issues/995 Closing this for now

[2020-08-27 16:52] immuzz commented on #1393
/close

[2020-08-27 17:25] neolit123 commented on #1393
@immuzz this is issue is more granular and tracks separate development items than the main https://github.com/kubernetes/enhancements/issues/995

it should remain open.

[2020-08-27 17:29] immuzz commented on #1393
@marosset @michmike

[2020-08-27 18:04] alexcpn commented on #2262
@neolit123  the logs for #2259  ->https://pastebin.com/AFLYSXKT does not look anyway like the kubelet logs.

[code]

 You are right this may not be a kubeadm problem, but of kubelet and contained, I rather thought I could log the issue here

[2020-08-27 18:21] neolit123 commented on #2262
what is the full error line here?

true, it usually ends up being some sort of a kubelet / CR bug or just the host node being incompatible with the kubelet in some way but the kubelet not reporting it properly.

[2020-08-27 18:51] #2230 closed

[2020-08-27 18:52] #2237 closed

[2020-08-28 09:14] dholbach commented on #2078
I'd be happy to file a new issue for this, but the stacktrace just looked very similar to what I'm seeing right now

[code]

This is with minikube 1.12.3, k8s 1.19.0 and a manual restart of minikube (because of https://github.com/kubernetes/minikube/issues/2874) as I wanted to test the new kured release.

[2020-08-28 09:45] neolit123 commented on #2078
We should fix the panic in kubeadm. Please log a separe issue.

I think this can happen if there is a custom version of coredns but the
preflight check was skipped. Do you know if minikube is doing these actions?

[2020-08-28 09:58] dholbach commented on #2078
Will file a separate issue and have a look at minikube, I never checked the code.

[2020-08-28 09:59] dholbach opened #2267 "isCoreDNSVersionSupported: avoid panics and wait for pending containers"
Following up from #2078:

[code]

This is with minikube 1.12.3, k8s 1.19.0 and a manual restart of minikube (because of https://github.com/kubernetes/minikube/issues/2874) as I wanted to test the new kured release.

_Originally posted by @dholbach in https://github.com/kubernetes/kubeadm/issues/2078#issuecomment-682420921_

---------

related report report by @kvaps here:
https://github.com/kubern

[2020-08-28 10:01] dholbach commented on #2267
Found the message here: https://github.com/kubernetes/minikube/blob/v1.12.3/pkg/minikube/bootstrapper/kubeadm/kubeadm.go#L344

[2020-08-28 13:41] neolit123 commented on #2267
possibly related to https://github.com/kubernetes/kubernetes/issues/94286

[2020-08-28 13:44] neolit123 commented on #2267
this suggest that kubeadm is try to obtain the container in a coredns Pod, but for some reason there are no containers.
https://github.com/kubernetes/kubernetes/blob/bf94f27e76c541db57098ed69aea47d889703669/cmd/kubeadm/app/phases/addons/dns/dns.go#L413

this should not happen unless something tempered with the coredns deployment.
any ideas or ways to debug why that is happening on the minikube sid

[2020-08-28 13:51] thomasjo commented on #2267
For what it's worth I'm currently experiencing this exact error on a production (on-premise) cluster that I'm working on upgrading from v1.18.8 to v1.19.0.  I'm trying to figure out how to recover from this.

[code]

<details>
<summary>Full output</summary>

[code]
</details>

[2020-08-28 13:56] thomasjo commented on #2267
Quick update on my problem. It seems that a hard reboot of the server resolved the issue. Not sure why, but my guess is that some service failed to start properly or something along those lines. I needed to reboot anyway because of a kernel update, when I re-ran  `kubeadm upgrade` the upgrade process seems to have completed successfully.

[2020-08-28 13:57] neolit123 commented on #2267
cc @rajansandeep
any idea why the coredns Pod can end up with no containers during upgrade.

[2020-08-28 13:58] dholbach commented on #2267
This is what I did using `minikube 1.12.3`:

[code]

During the second bring-up of `minikube` I saw the failure, but can not reproduce it now? :thinking:

[2020-08-28 14:09] dholbach commented on #2267
On a second reboot I could trigger it just now.

[2020-08-30 05:28] le-garden-fox commented on #312
In my case:
OS=CentOS_7
kubeadm=1.19.0

What fixed this issue was setting the contents of `/usr/lib/sysctl.d/00-system.conf` to:

[code]

[2020-08-30 09:52] MansM commented on #2267
Had the same issue as my worker nodes also had been cordoned, so no place to run coredns. uncordoned one and it went all smoothly

[2020-08-30 21:59] neolit123 commented on #2267
we are discussing on the linked PR how to properly fix this:
https://github.com/kubernetes/kubernetes/pull/94299

this should be backported to older versions too.

[2020-08-31 15:39] neolit123 commented on #2267
updated this ticket to include the details from https://github.com/kubernetes/kubernetes/issues/94286

[2020-08-31 17:51] neolit123 commented on #2000
had a discussion with @timothysc about this today.

i tried googling what people are doing and found some interesting results:
- this article suggests that kubeadm on a recent RPI "just works" without any hacks on the kubeadm side:
https://opensource.com/article/20/6/kubernetes-raspberry-pi
(recommends 4GB RAM, but i'm sure the control plane can work win <2GB too)
- Alex Ellis blog that endorses k

[2020-08-31 19:43] afbjorklund commented on #2000
I did some home experiments over the summer, on different versions of the Raspberry Pi (from 0 to 4)

Earlier I had been using kubernetes 1.10 on Raspberry Pi 2, so that was my baseline - from years ago.

My conclusions:

The raspberry pi 0w and original 1 were OK for running _containers_ on, but not really for kubernetes (at all).
They run OK with Docker Swarm or Hashicorp Nomad, as long as you c

[2020-08-31 19:51] timothysc commented on #2000
There are a number of optimizations that could be done if we start to entertain:

Bin-smashing control plane components into a single component and remove caching and overhead.  (agent-worker model). This is a massive amount of work but I think could be done in stages starting with etcd<>apiserver.  There is really no reason we can't bundle them into a single binary and simplify the deployment and

[2020-08-31 19:53] afbjorklund commented on #2000
This is what k3s is doing, busybox type of binary. That and moving from etcd to sqlite are the biggest wins.

[2020-08-31 19:57] timothysc commented on #2000
I think we need to stay true to kubernetes for a number of reasons.  sqlite may be fine for small environments but it violates the core reason why etcd was chosen.... CP storage.  So I think there is a lot of low hanging fruit that we can tackle.

[2020-08-31 21:18] neolit123 opened #2270 "kubeadm tries to call "docker info" even if the CRI socket was for another CR"
this warning can be seen even if the user specified the containerd socket or if they let kubeadm detect the socket:

we should try not showing the warning, for CRI != docker.

[2020-08-31 21:23] neolit123 opened #2271 "make components on control-plane nodes point to the local API server endpoint"
in CAPI immutable upgrades we saw a problem where a 1.19 joining node cannot bootstrap, if a 1.19 KCM takes leadership and tries to send a CSR to a 1.18 API server on an existing Node. this happens because in 1.19 the CSR API graduated to v1 and a KCM is supposed to talk to a N or N+1 API server only.

a better explanation here:
https://kubernetes.slack.com/archives/C8TSNPY4T/p1598907959059100?thr

[2020-08-31 22:25] neolit123 commented on #1318
/remove-lifecycle stale

[2020-08-31 22:25] neolit123 commented on #1881
/remove-lifecycle stale

[2020-08-31 22:25] neolit123 commented on #1796
/remove-lifecycle stale

[2020-08-31 22:25] neolit123 commented on #1727
/remove-lifecycle stale

[2020-09-01 02:20] ming-ddtechcg opened #2272 "WARNING: kubeadm cannot validate component configs for API groups [kubelet.config.k8s.io kubeproxy.config.k8s.io]"
Hi,

I am running 1.18.8 with the following kubeadmin config:

[code]

The kubeadmin init complained:

[code]

Any suggestion for the  section of KubeProxyConfiguration?

Thanks.

[2020-09-01 02:30] ming-ddtechcg commented on #2272
Just found the similar issue is recorded at:

https://github.com/kubernetes/kubeadm/issues/2230

it seems the issue has not fixed yet.

[2020-09-01 02:39] ming-ddtechcg commented on #2272
re-tested it on 1.19.0:

[code]

The issue remains same.

[2020-09-01 09:03] fabriziopandini commented on #1932
/remove-lifecycle stale

[2020-09-01 10:34] evrardjp opened #2273 "kubeadm upgrade ignores a configmap change in etcd's image repository if image has the same version"
I checked if there was anything similar by searching etcd or image, but didn't find something like this.

## Is this a BUG REPORT or FEATURE REQUEST?

Bug report.

## Versions

**kubeadm version** (use `kubeadm version`): master

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.18 (not that it matters)
- **Cloud provider or hardware configuration**: openstack (not that it matte

[2020-09-01 10:35] evrardjp commented on #2273
@ereslibre I think you might be interested by this.

[2020-09-01 10:47] ereslibre commented on #2273
/kind bug

Could we SHA1 the contents of the marshaled pod, and compare it to the SHA1 of the pod in disk, and continue if they differ? I can imagine sources of changes that could lead to "phantom" rewrite of the manifest in this case though (e.g. `initial-cluster` computation).

[2020-09-01 10:55] neolit123 commented on #2273
Hi.
Are you providing an etcd tag or only the repository?

I'd expect If the user has passed a custom tag, 'apply' skips etcd upgrade completely. It should stll rewrite the etcd manifest with your custom repo if you only passed the repo. Else we have a bug.

[2020-09-01 10:57] neolit123 commented on #2273
cc @rosti
I don't remember if we did the last changes in 1.18.

[2020-09-01 11:04] ereslibre commented on #2273
We are providing the kubeadm config with a slightly different `imageRepository` and the same `etcd` imageTag in this upgrade apply instance. https://github.com/kubernetes/kubernetes/blob/e23d83eead3b5ae57731afb0209f4a2aaa4009dd/cmd/kubeadm/app/phases/upgrade/staticpods.go#L320-L326 was skipping the etcd upgrade because the image tag of etcd didn't change (despite the `imageRepository` did in the c

[2020-09-01 11:11] neolit123 commented on #2273
I think the image tag should not be passed, otherwise kubeadm thinks you
want a custom etcd. IIRC the logic is 'tag != ""' to skip upgrade.

Maybe we want to check if they match too.

[2020-09-01 11:16] ereslibre commented on #2273
want a custom etcd

Yes, for kubeadm it's all custom images all over the place in our use case, because we override the version and the `imageRepository` in all components.

This bug was triggered because in this case, we wanted to change the `imageRepository` of `etcd` while keeping the same `imageTag` . We always `kubeadm upgrade apply` with `--config`, and is in this configuration where we chan

[2020-09-01 11:42] neolit123 commented on #2272
Hi this warning will be removed in 1.20. Its just a warning. It means it cannot valudate but it can still accept the kube proxy config you pass separated by `---`

[2020-09-01 11:42] #2272 closed

[2020-09-01 11:42] neolit123 commented on #2272
/triage support

[2020-09-01 12:15] rosti commented on #2273
I don't think we need to checksum these. The problem here is in the following [check](https://github.com/kubernetes/kubernetes/blob/d159ae35450ca4b2adcf35c63af3e71bc2088f09/cmd/kubeadm/app/phases/upgrade/staticpods.go#L324).

[code]

The idea behind this check in first place is to deny the ability to accidentally downgrade etcd and corrupt the data store.
The problem here is that this check skips

[2020-09-01 12:25] neolit123 commented on #2273
so "apply" should regenerate the manifest (which also can restart etcd) even if the old tag == new tag?
(i.e. use `< 0`)

this guarantees that a new version of kubeadm that uses the old etcd can still apply certain manifest fixes that we introduced.

[2020-09-01 12:32] ereslibre commented on #2273
@neolit123 I think that's reasonable. +1 from me.

[2020-09-01 12:33] neolit123 commented on #2273
PRs welcome btw @ereslibre @evrardjp

[2020-09-01 12:35] ereslibre commented on #2273
Wanted to verify first with you, because there's still room for changes not being applied (e.g. if `dataDir`, `extraArgs`, `servertCertSANs` or `peerCertSANs` change on the configuration, they won't be persisted to disk unless the version changes) -- this is why I was proposing something that compared sums of the marshaled configurations.

@evrardjp or me will submit a PR with what we discussed th

[2020-09-01 12:43] evrardjp commented on #2273
It's not 1.18 related :)

[2020-09-01 12:44] evrardjp commented on #2273
Correct, that's exactly what I meant in the bug report. Sorry if that wasn't clear, I tend to be a bit terse.

[2020-09-01 12:44] evrardjp commented on #2273
Awesome, that's what I thought.

[2020-09-01 12:54] rosti commented on #2273
I opened the PR fixing this.

@evrardjp The way kubeadm works is to always regenerate static pods and deployments upon upgrade to carry over the current settings from the config maps. No detection should be required here.

[2020-09-01 13:05] evrardjp commented on #2273
Thanks for the info! Sounds logical.

[2020-09-01 14:52] NeilW opened #2274 "upgrade plan with a version has stopped working on 1.19.0"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
1.19.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):
1.18.8
- **Cloud provider or hardware configuration**:
Brightbox
- **OS** (e.g. from /etc/os-release):
Ubuntu 20.04.01
- **Kernel** (e.g. `uname -a`):
Linux srv-ms9ld 5.4.0-42-generic #46-Ubuntu SMP Fri Jul 10 00:24:02 UTC 2020 x86_64 x86_64 x86_64 GNU/Li

[2020-09-01 15:06] neolit123 commented on #2271
PR is here: https://github.com/kubernetes/kubernetes/pull/94398

[2020-09-01 15:33] neolit123 commented on #2274
/assign @rosti

this seems to happen around:

i think the problem is that it should just fetch the existing CM version instead of the one passed to plan?
this seems like a regression around the component config changes.

[2020-09-01 17:32] afbjorklund commented on #2000
Here was the difference in installed size:
(from the distribution mentioned above)

k8s (arm64): 487M rootfs + 997M images
k3s (armv6): 269M rootfs

So it is 50% of the OS, but 25% of the total...
(The arch difference might skew it a little too)

The 40M binary is because it is self-extracting.
(That is, it is actually the _compressed_ size of k3s)

----

With k3s being accepted into the CNCF, it

[2020-09-01 19:23] neolit123 commented on #2000
@afbjorklund thank you for the useful details. you seem to have a lot of experience with running Kubernetes on RPI.

as someone who is not a RPI user, looking at this:
https://socialcompare.com/en/comparison/raspberrypi-models-comparison

and WRT kubeadm system-reqs, i can see one can buy a 35$ board (
Raspberry Pi 4 B) that should run a kubernetes control-plane and then for worker nodes 10$ board

[2020-09-02 01:44] #2273 closed

[2020-09-02 06:13] #2247 closed

[2020-09-02 09:21] rosti commented on #2274
@neolit123 the problem here is the inconsistency of argument handling in the case of `upgrade plan`. We have a couple of different cases with respect to what `ClusterConfiguration` is returned by `enforceRequirements`:

1. If there is no argument, the returned `ClusterConfiguration.KubernetesVersion` is the old (currently installed) one
2. If there is an overwrite, the returned `ClusterConfigurati

[2020-09-02 09:40] neolit123 commented on #2274
Thanks @rosti. Apparently the cherry pick deadline for 1.19.1 is this
Friday.

[2020-09-02 09:43] neolit123 commented on #2247
Note the pr merged for 1.20 but we cannot backport it to old releases,
because it does not fit the 'critical' criteria.

[2020-09-02 09:46] neolit123 commented on #2247
We could add a note about this in the kubeadm trouble shooting guide. Let
me know if you are interested in sending the pr for that too.

[2020-09-02 13:07] balboah opened #2275 "kubeadm join --control-plane to create HA setup killed the cluster"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.19.0
**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.19.0
- **Cloud provider or hardware configuration**: bare metal onprem
- **OS** (e.g. from /etc/os-release): Ubuntu LTS 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-1015-raspi aarch64
- **Other**: cluster originally initialized with kubeadm v1.18.6, con

[2020-09-02 13:47] neolit123 commented on #2275
hi,

just to double check, you meant `1.1{8|9}.*`?

+

is that a "controlPlaneEndpoint"?
please see:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#initializing-your-control-plane-node

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#considerations-about-apiserver-advertise-address-and-controlplaneendpoint

[2020-09-02 14:24] balboah commented on #2275
Hey, thanks for replying.

Oh right, I mean that the initial cluster had all nodes with 1.18.6, then all nodes upgraded to 1.18.9.* and finally 1.19.0. The current deb package version is 1.19.0-00.

Yeah I've been using the DNS name to talk with the cluster from my desktop client. It had both *controlPlaneEndpoint* and *advertise-address* set in the kubeadm-config which I saved at least while doin

[2020-09-02 14:33] dwschulze commented on #1642
I'm getting this same error with 1.19.0 on Ubuntu-18.  You say the work around is to just delete /var/lib/etcd but there are subdirectories in there.

This needs to be fixed.

[2020-09-02 14:43] balboah commented on #2275
While trying to connect to etcd with curl and etcdctl, there are no reply at all. even when the tcp connect is successful.

[2020-09-02 15:14] balboah commented on #2275
after a few container deletes and etcdctl snap shot restore while also stopping the 2nd controller from trying to join, it seems I'm at least having the cluster with one controller back into a functional state

[2020-09-02 15:23] thtanaka commented on #2247
Yes please, do you mind give me some reference ?

[2020-09-02 15:24] neolit123 commented on #1642
if you are creating a new cluster and the directory exists and has contents, kubeadm will fail, which is by design.
you can skip that check with --ignore-preflight-errors=DirAvailable--var-lib-etcd but no guarantees etcd will work if you do that!

better delete the directory contents if kubeadm reset for some reason could not do that.

[2020-09-02 15:26] neolit123 commented on #2247
hi, the page can be viewed here:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/

PRs go against:
https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md

please ping me on the PR.

[2020-09-02 15:32] neolit123 commented on #2275
in general, you should pass the same --config or flags you have passed to kubeadm init to it's phases if you are calling them on demand. otherwise you could get the phases generating "content" that is different from what you want.

i don't have `ctr` handy to check this, maybe `ctr c`:
https://manpages.debian.org/experimental/containerd/ctr.1.en.html

[2020-09-02 15:34] neolit123 commented on #2275
etcd could have crashed, you could file logs in a new issue in the kubernetes/kubernetes repository or etcd repository if you have them and see e.g. panics.

that is good.

all of our kubeadm CI uses the following:
- creates a VIP / LB and a single CP node
- joins more CP nodes
- joins worker nodes
- runs tests ... etc

so, this is a supported scenario:
https://k8s-testgrid.appspot.com/sig-cluster

[2020-09-02 15:35] #2275 closed

[2020-09-02 16:09] rdxmb commented on #1931
@neolit123

Will the patch be persistent or what will be done on on `kubeadm upgrade` ?

For the other discussion, also have a look at the discussion in https://github.com/coredns/deployment/pull/206

[2020-09-02 17:12] neolit123 commented on #1931
@rdxmb
kubeadm imports a coredns migration library but that works only on the Corefile in the coredns ConfigMap during upgrade.
you still have to patch the Deployment or outer ConfigMap.

the only thing that is preserved in the Deployment i believe is the number of replicas:
https://github.com/kubernetes/kubeadm/issues/1954
https://github.com/kubernetes/kubernetes/pull/85837

[2020-09-02 17:30] neolit123 commented on #2271
we spoke about the kubelet.conf in the office hours today:
- Pointing the kubelet to the local api server should work, but the kubelet-start phase has to happen after the control-plane manifests are written on disk for CP nodes.
- Requires phase reorder and we are considering using a feature gate.
- This avoids skew problems of a new kubelet trying to bootstrap against an old api-server.
- One les

[2020-09-02 17:57] rdxmb commented on #1931
@neolit123 thanks!

[2020-09-02 20:54] dwschulze commented on #1642
It must be harmless to delete this directory, then.  I hope so since I've already deleted it.

[2020-09-03 01:21] #2274 closed

[2020-09-03 09:21] balboah commented on #2275
Alright I figured it out eventually.
So on the Ubuntu install, logs will get collected at /var/log/pods/kube-system*.

The first issue was that I did not provide `--apiserver-advertise-address` on the new controller join, it resolved to the default interface which was incorrect in my case (even though --node-ip is passed to kubelet).

The second issue which probably only happened because I `kubead

[2020-09-03 13:12] neolit123 commented on #2151
not seeing the problem any more. will reopen if needed.

[2020-09-03 13:12] #2151 closed

[2020-09-03 13:16] neolit123 commented on #2127
closing due to:
- we don't seem to agree that kubeadm should be aware of tooling specific folders
- ignoring the error is already possible with v1beta2

[2020-09-03 13:16] #2127 closed

[2020-09-03 13:26] neolit123 commented on #2267
cherry pick for 1.19:
https://github.com/kubernetes/kubernetes/pull/94472

[2020-09-03 13:41] neolit123 commented on #1950
@blurpy

hi, please send a PR to the kubeadm troubleshooting guide with some steps of how to recover from this:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/https://github.com/kubernetes/website/blob/master/content/en/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm.md
(decided that not including this in the upgrade page might

[2020-09-03 13:44] neolit123 commented on #2171
@fabriziopandini

could you elaborate on what do you mean on testing kubeadm image repository flags?
it seems to be recommended to namespace the contrainerd images.

[2020-09-03 13:48] neolit123 commented on #1052
/lifecycle active
this should close with https://github.com/kubernetes/kubernetes/pull/93275

[2020-09-03 13:49] neolit123 commented on #2258
/lifecycle active

[2020-09-03 13:50] fabriziopandini commented on #2171
In the long term I would like to support testing kubeadm with a custom image repository, but this is not a priority and I'm not sure this can be easily achieved with the current test infrastructure, so feel free to close

[2020-09-03 14:21] neolit123 commented on #2195
ok, it doesn't seem we had any more replies here so let's proceed with @bboreham 's suggestion:

mini-guide if a contributor wants to pick this up:

modify this function to support `cpu, memory, disk *string` string pointer arguments:
https://github.com/kubernetes/kubernetes/blob/8da7c92a2f046d5700a0a3dec56f133156c29afa/cmd/kubeadm/app/util/staticpod/utils.go#L77
if a string pointer is `nil` the f

[2020-09-03 14:35] neolit123 commented on #2171
ok understood, i will update the title to scope more.

[2020-09-03 14:45] neolit123 commented on #2178
@xlgao-zju looks like 1.20 is a regular release so we can proceed with the KEP if you have the time:

let me know if you have questions.
we can skip some of the details in the KEP, but IMO we need to focus more on the topic how breaking the change can be.

also feedback from the release-eng team will be required.

[2020-09-03 14:53] neolit123 opened #2277 "1.20: Housekeeping tasks"
This is a tracking issue for tasks that we are required to carry out during each cycle.
**It tracks the upcoming release of Kubernetes 1.20 (1.x)**

same issue for 1.19 (see example PRs):
https://github.com/kubernetes/kubeadm/issues/2076

_When the first 1.x tag is created_
- [x] [@neolit123] drop kinder support for 1.x-4 and older:
https://github.com/kubernetes/kubeadm/pull/2248

_When 1.x-1.1 pa

[2020-09-03 14:54] neolit123 commented on #2076
this is done.
new issue here for .20:
https://github.com/kubernetes/kubeadm/issues/2277
/close

[2020-09-03 14:54] #2076 closed

[2020-09-03 15:02] neolit123 commented on #1606
/kind design feature
/remove-kind bug

[2020-09-03 15:20] dholbach commented on #2267
Great work everyone!

[2020-09-03 15:42] neolit123 commented on #2256
updated the PR to only create the directory if it does not exist on init/join-control-plane, but not chmod it.
https://github.com/kubernetes/kubernetes/pull/94102

/remove-priority important-soon
/priority backlog
lowering priority since the fix in etcd was applied and 1.20 will include 3.4.13+.
(there is also discussion to backport the etcd version to 1.19)

[2020-09-03 17:27] utkarsh-pandey-ext opened #2278 "Can`t join the cluster on my AWS worker node"
## Versions

**kubeadm version** (use `kubeadm version`):

root@node1 centos]# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.11", GitCommit:"ea5f00d93211b7c80247bf607cfa422ad6fb5347", GitTreeState:"clean", BuildDate:"2020-08-13T15:17:52Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}
[root@node1 centos]#

**Environment**:
- **Kubernetes ve

[2020-09-03 17:31] utkarsh-pandey-ext commented on #2278
issue was with security groups, I changed the rules and it worked. Closing.

[2020-09-03 17:32] #2278 closed

[2020-09-03 17:32] utkarsh-pandey-ext commented on #2278
issue was with security groups, I changed the rules and it worked. Closing.

[2020-09-03 18:13] #2258 closed

[2020-09-03 19:37] neolit123 commented on #2270
did some quick investigation:
this gets called by the kubelet.go, so it must be this blob:
https://github.com/kubernetes/kubernetes/blob/f2e3154a140dc192760a5cf8c01f8044e1aa867b/cmd/kubeadm/app/componentconfigs/kubelet.go#L196-L209

so this can happen only if `nodeRegOpts.CRISocket` ends up being `constants.DefaultDockerCRISocket`. the Cluster API test runs that were were looking at were letting k

[2020-09-04 02:34] neolit123 commented on #2267
had to send a different fix:
https://github.com/kubernetes/kubernetes/pull/94506
https://github.com/kubernetes/kubernetes/pull/94507

[2020-09-04 13:25] #2195 closed

[2020-09-04 14:37] #2267 closed

[2020-09-05 08:13] afbjorklund commented on #2000
Thank you! There are of course lots of other little ARM details, and also it has changed over the Kubernetes years...

I recommend the summary from Alex Ellis: https://www.raspberrypi.org/blog/five-years-of-raspberry-pi-clusters/

I got the feeling that kubeadm sort of "gave up" on raspberry pi (around 1.10), and that k3s has revitalized it again.
But I was also running with cri-o instead of conta

[2020-09-05 09:34] SataQiu commented on #2270
/cc

[2020-09-05 09:41] SataQiu commented on #2270
/assign

[2020-09-05 11:06] afbjorklund commented on #2000
You **don't** want to be running Raspberry Pi Zero (or 1), unless you want to build your own images...
They are running `linux/armv6`, and the default "arm" images will be for `linux/armv7` and won't run.

When it comes to the Raspberry Pi 2, 3, and 4 they all cost the same ($35) so there are "other factors".
They have different performance vs. heat generation characteristics, and different USB ge

[2020-09-05 13:03] neolit123 commented on #2000
the interest was reduced around that time, mostly due to the lack of CI resources. if we were able to get a way to request ARM VMs this would have been great and we could have said that ARM is truly supported.

nowadays we have ARM (the company) approaching Kubernetes looking for running clusters in CI, to more officially claim the support. similar goes for IBM and their hardware.

i guess, we cou

[2020-09-05 13:19] neolit123 commented on #2000
that is quite reasonable.

yes. unlikely we can get support for CP nodes on 512 RAM.

it may work. it depends...from what i've seen once you enable some work on 1 GB RAM CP node, the CP components would start crashlooping and that's not really kubeadm's fault at that point.

k8s needs optimizations in some areas and nobody is sending contributions for those.
users just report them, "api-server con

[2020-09-05 15:15] Akhilesh2412 commented on #2277
May I work on this?

[2020-09-05 15:58] afbjorklund commented on #2000
Having some CI machines with arm64 would be great, it would expand the "coverage" beyond amd64 ?

I have found the qemu arm support to be a bit buggy, it mostly works but there are some strange crashes
For instance compiling go programs under qemu does not work*, so it needs cross-compiling or hardware

\* https://github.com/boot2podman/boot2podman/issues/18#issuecomment-540780440

I made a simila

[2020-09-05 19:31] sumitKash opened #2279 "Kube-controller and kube-scheduler not working on kubernetes v1.18.8"
## What keywords did you search in kubeadm issues before filing this one?
Yes.

## Is this a BUG REPORT or FEATURE REQUEST?
 BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892aab98fe339f3bd70e3c470144299398ace", GitTreeState:"clean", BuildDate:"2020-08-13T16:10:16Z", GoVersion:"go1.13.

[2020-09-06 13:21] TalZiv opened #2283 "-A | grep 192"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2020-09-06 13:21] #2283 closed

[2020-09-06 13:21] TalZiv commented on #2283
mistake

[2020-09-06 13:46] neolit123 commented on #2000
Yes, afaik the ci is amd64 only still.

[2020-09-07 08:54] m33m33k commented on #668
This issue happend for me where the kube init, or create token was not creating the jws-kubeconfig token. I was using fedora coreos which was restrcitive in terms of write rights.

The part which says "/usr is mounted read-only on nodes" from this doco
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/ helped me fix the issue.

[2020-09-07 09:28] fabriziopandini commented on #2279
/triage support
AFAIK components status is being deprecated, and recently started to report errors even if the underlying components are healthy. Let me search for the issue

[2020-09-07 09:35] fabriziopandini commented on #2279
https://github.com/kubernetes/enhancements/issues/553
https://github.com/kubernetes/kubeadm/issues/2222
https://github.com/kubernetes/kubernetes/issues/93342
https://github.com/kubernetes/kubernetes/pull/93570

[2020-09-07 09:35] sumitKash commented on #2279
Thank you for the reply.
Even if i overlook the error from Kubectl get componentstatus command. I still don't understand why port 10251 and 10252 are not being listened for kube-controller and kube-scheduler. Is this a new change in Kubernetes version1.18.8?

[2020-09-07 09:59] Akhilesh2412 commented on #2277
/assign

[2020-09-07 10:54] neolit123 commented on #2279
Yes CS was deprecaded in 1.19 but we also disabled insecure serving of
these components for older versions. To restore that functionality you can
remove the --port=0 from their manifests. Not recommended as this can
expose their metrics to the whole internet.

/close

[2020-09-07 10:54] #2279 closed

[2020-09-07 10:57] neolit123 commented on #2174
/remove-lifecycle stale.

[2020-09-07 10:58] neolit123 commented on #2174
/remove-lifecycle stale

[2020-09-08 07:58] mgcrea opened #2284 "kubeadm upgrade apply v1.19.0 crash: panic: runtime error: index out of range [0] with length 0"
## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`):

`kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.0", GitCommit:"e19964183377d0ec2052d1f1fa930c4d7575bd50", GitTreeState:"clean", BuildDate:"2020-08-26T14:28:32Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}`

- **Cloud provider or har

[2020-09-08 08:40] fabriziopandini commented on #2284
@mgcrea thanks for reporting

This is a duplicate of https://github.com/kubernetes/kubeadm/issues/2267

The fix is https://github.com/kubernetes/kubernetes/pull/94506
And the backport on v1.19 is https://github.com/kubernetes/kubernetes/pull/94507 (it will be in v1.19.1)

/close

feel free to reopen if you need further info

[2020-09-08 08:40] #2284 closed

[2020-09-08 14:42] blepoutr commented on #2186
Hello

In my opinion, /var/lib/kubelet/pki/kubelet.crt is not an obsolete file. It seems as a bundle PEM that contains Self signed CA and associated Server certificate that is used by kubelet to serve "contents". It is typically used by metrics-server for example.

It is actually a real problem that kubelet uses self signed certificates to serve "metrics" as it enforces the usage of  --kubelet-ins

[2020-09-08 16:19] blepoutr commented on #1602
Hello

Indeed, and also to allow proper APIserver to kubelet configuration ( which is now not validating Kubelet serving cert with any CA per doc : https://v1-16.docs.kubernetes.io/docs/concepts/architecture/master-node-communication/#apiserver-to-kubelet   )

[2020-09-09 14:43] Bugs-Resolver opened #2285 "could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable-1.txt"
Bug report:
could not fetch a Kubernetes version from the internet: unable to get URL "https://dl.k8s.io/release/stable-1.txt": Get https://dl.k8s.io/release/stable-1.txt: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)

Versions
**kubeadm version** (use `kubeadm version`):v1.7.3

**Environment**:
- **Kubernetes version** (use `kubectl versi

[2020-09-09 15:00] neolit123 commented on #2285
opening this link works for me:
https://dl.k8s.io/release/stable-1.txt
works from kubeadm too.

you should check if your node has access to the above link.

if that is truly 1.7 (not 1.17) this has been out of support for a while. please upgrade to 1.17.x at minimum.

/triage support
/close

[2020-09-09 15:00] #2285 closed

[2020-09-09 17:52] neolit123 commented on #2135
/remove-lifecycle stale

[2020-09-09 19:49] neolit123 commented on #2277
@Akhilesh2412 the "Bump minimum supported versions" task is a fairly easy too, so you can take a look at that too if you want.

[2020-09-09 20:10] Akhilesh2412 commented on #2277
@neolit123 Sure. Taking that up.

[2020-09-09 20:52] Akhilesh2412 commented on #2277
@neolit123 I was unsure about the etcd version. If possibel please do tell me those too will finish them in this PR only.

[2020-09-09 21:04] neolit123 opened #2286 "remove the v1beta1 configuration API"
the v1beta1 configuration API was deprecated in 1.17:
https://github.com/kubernetes/kubernetes/commit/3a050344d0e6475ec7ead775f3f1db32bc837c83

and is scheduled for removal in 1.20 (N+3 after the deprecation):
https://kubernetes.io/docs/reference/using-api/deprecation-policy/

suggested PR release note:

[2020-09-09 21:05] neolit123 commented on #2286
note: still to be confirmed during the kubeadm office hours / planning session for 1.20.

[2020-09-09 21:33] neolit123 commented on #2277
thanks for the PRs @Akhilesh2412
we are done with the tasks for now, but they should continue later once the release-1.20 branch is created:

[2020-09-10 03:40] xlgao-zju commented on #2178
@neolit123 hi, I am so sorry that I don't have enough time to file the KEP for now. but I will keep an eye on it.
I think I will be available, when we come to the coding part. and I would like to help.

[2020-09-10 07:46] zhangguanzhang commented on #2271
This breaks the rules, the `controlPlaneEndpoint` maybe a domain, if this is a domain, so it will not run ok after your code

[2020-09-10 11:26] RA489 commented on #2277
Taking  Create E2E jobs for 1.x

[2020-09-10 13:03] neolit123 commented on #2271
can you clarify with examples?

[2020-09-10 13:04] neolit123 commented on #2271
@jdef added a note that that some comments were left invalid after the recent change:
https://github.com/kubernetes/kubernetes/pull/94398/files/d9441906c4155173ce1a75421d8fcd1d2f79c471#r486252360

this should be fixed in master.

[2020-09-10 13:09] neolit123 commented on #2271
some else added a comment on https://github.com/kubernetes/kubernetes/pull/94398
but later deleted it:
[code]

this validation should be turned into a warning instead of an error. then components would fail if they don't point to a valid API server, so the user would know.

[2020-09-10 13:16] zhangguanzhang commented on #2271
you could see this doc  https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/#steps-for-the-first-control-plane-node
[code]

[2020-09-10 13:21] neolit123 commented on #2271
i do know about that doc. are you saying that using "DNS-name:port" is completely broken now for you?
i did test this during my work on the changes and it worked fine.

[2020-09-10 13:26] jdef commented on #2271
yes, please. this just bit us when testing a workaround in a pre-1.19.1 cluster whereby we tried manually updating `clusters[].cluster.server` in (scheduler, controller-manager .conf) to point to localhost instead of the official controlplane endpoint.

[2020-09-10 13:27] zhangguanzhang commented on #2271
yes, if you want to deploy a HA cluster, it is best to set `controlPlaneEndpoint` to the `LOAD_BALANCER_DNS` instead of `LOAD_BALANCER ip`

[2020-09-10 13:37] zhangguanzhang commented on #2271
I add some log print code, this is the error
[code]

[2020-09-10 13:59] zhangguanzhang commented on #2271
Both kube-scheduler and kube-controller-manager can use localhost and loadblance to connect to kube-apiserver, but users cannot be forced to use localhost, and warnning can be used instead of error

[2020-09-10 14:43] fabriziopandini commented on #2271
@neolit123 I'm +1 to relax the checks on the address in the existing kubeconfig file.
We can either remove the check or make it more flexible by checking if the address is either CPE or LAPI

[2020-09-11 01:41] oldthreefeng commented on #2271
@neolit123  here is the example.   i just edit to add log print.
https://github.com/neolit123/kubernetes/blob/d9441906c4155173ce1a75421d8fcd1d2f79c471/cmd/kubeadm/app/phases/kubeconfig/kubeconfig.go#L225
[code]
to run `kubeadm init` with `LOAD_BALANCER_DNS:LOAD_BALANCER_PORT`.  the result is.
[code]

[2020-09-11 12:12] sumitKash commented on #2270
I am interested in knowing whether we can create Kubernetes cluster on production environment using Kubeadm alone on bare metal server.
Nobody on internet seems to give the clear answer(not even kubernetes docs) whether one can spin-up a Kubernetes Cluster on production using Kubeadm alone. Yes we have Kubespray that used kubeadm in the backgroud,but it do too much generic configuration, not to me

[2020-09-11 12:26] neolit123 commented on #2270
@SataQiu thanks for the PR updates, @rosti should be back next week and i can take a look at it again myself then.

[2020-09-11 12:29] neolit123 commented on #2270
@sumitKash

kubeadm has existed for quite some time now and it is being used in production, on bare metal or any infrastructure out there.
some users might consider it too complex, but that is because it is low-level and has a lot of settings. higher level demanding users might prefer to use something like kube-spray or the Cluster API. so there is a trade off.

to get more feedback you can open t

[2020-09-11 12:48] sumitKash commented on #2270
Thanks for replying @neolit123. Unfortunatly, I got no answer there.
So using kubeadm alone on production server is considered as a good practice ? Going throught Kubernetes docs it says that Kubeadm for quick setup and more confusing is, a two year blog on kubenetes.io hints that it is a good tool for system administrator to spin up the cluster.

[2020-09-11 13:49] neolit123 commented on #2270
i can give you a biased response, so i recommend you use the support channels to get feedback from other people:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
we have slack, mailing lists, forums, etc.

[2020-09-11 15:33] Venkatvenstvm commented on #1391
Hi All -  Is this issue actually fixed i am using 1.18.6 version, with external CA, still it required CA.key when i am joining 2 nd controller node through load balancer with 1st controller.

[2020-09-11 15:34] Venkatvenstvm commented on #1391
Hi All -  Is this issue actually fixed i am using 1.18.6 version, with external CA, still it required CA.key when i am joining 2 nd controller node through load balancer with 1st controller.

[2020-09-11 16:55] TiagoTT commented on #122
The full steps I needed to take to update the `service-node-port-range`:
1 - Edit the kubeadm configuration map and add `service-node-port-range: 80-32767` under `data`, `ClusterConfiguration`, `apiServer`, `extraArgs`:
[code]
2 - Dump the cluster configuration to a file and force kubeadm to regenerate the manifest for the apiserver, on each and every controller node:
[code]
3 - Check that the exp

[2020-09-11 17:36] mlevesquedion opened #2287 "kubeadm may log bootstrap tokens before attempting to delete them"
## What keywords did you search in kubeadm issues before filing this one?

`token`, `error`

## Is this a BUG REPORT or FEATURE REQUEST?

_SECURITY_ REPORT

## Summary:
`kubeadm`'s `delete` command takes as input either a bootstrap token ID, or a full token. Before determining whether the input is just an id or a full token, `kubeadm` logs the input using `klog`. If the deletion fails, the token w

[2020-09-11 19:59] Faceless28 commented on #1026
I have a simmilar promblem using kubeadm cluster. I've just use 2x times docker restart $(docker ps -qa)

[2020-09-14 09:51] daiguanglin opened #2288 "kubeadm join fail,messge: couldn't validate the identity of the API Server: unknown hash format " sha256""
docker version:18.09.6
kubunate version:47.93.226.77
fail message:
 [preflight] found NodeName empty; using OS hostname as NodeName
[preflight] Running pre-flight checks
I0914 17:51:00.439015   11786 preflight.go:91] [preflight] Running general checks
I0914 17:51:00.439061   11786 checks.go:254] validating the existence and emptiness of directory /etc/kubernetes/manifests
I0914 17:51:00.439098   1

[2020-09-14 10:20] oldthreefeng opened #2289 "multi network iface install with kubeadm custom advertise-address problem"
## Versions

**kubeadm version** (use `kubeadm version`):
[code]
**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Others**:

i have tow network iface. `192.168.160.243` is pubilc network route.  `192.168.253.129` is a internal IP.

[code]

[2020-09-14 12:46] neolit123 commented on #2289
/triage support

kubeadm and the kubelet both default to use the public interface and there is no way to change that.
we have no plans allow the users to pick an interface for the time being.

to make kubeadm use the advertise-address everywhere you should remove the flag `advertise-address: 192.168.253.129` under `extraArgs` and add:

[code]
kind: JoinConfiguration
controlPlane:
  localAPIEndpoin

[2020-09-14 12:46] #2289 closed

[2020-09-14 12:47] neolit123 commented on #2288
your join command line should look like:
[code]

https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/

/close
/triage support

[2020-09-14 12:47] #2288 closed

[2020-09-14 12:59] neolit123 commented on #2287
hi, and thanks for logging the issue. to be able to read such logs one would need to have the right privileges and i'd assume the logs would be either under root access or given to a specific group that has higher access than bootstrap tokens already.

also:
- `--v=>1` has to be enabled during `kubeadm token delete` execution if the token is in valid format
- tokens expire after 24 hours by defaul

[2020-09-14 13:26] oldthreefeng commented on #2289
thanks so much.
another question is about etcd-ha.  like kube-apiserver.
`localAPIEndpoint` do solve the annotations problem.  great !!

[2020-09-14 14:35] neolit123 commented on #2289
can you please clarify?

[2020-09-14 14:35] neolit123 commented on #2271
i will send the PR in the next couple of days.

[2020-09-14 15:08] neolit123 commented on #1391
@Venkatvenstvm hi, are you getting the same error message as above?

one problem about the missing ca.key is that even if you get kubeadm to start without it, it is still required by the kube-controller-manager to e.g. sign the CSRs for new joining nodes (kubelet client certs).

https://github.com/kubernetes/kubernetes/blob/af29f81af6f5afc0ad48cd2d3d5472a9ca4d4cc8/cmd/kubeadm/app/phases/controlpla

[2020-09-14 15:10] oldthreefeng commented on #2289
the kubeconfig file like this.

[code]
then init  `kubeadm init --config  kubeadm-config.yaml`

the manifest file will be shown like this..

[code]

with the `localAPIEndpoint` set . the annotations turns to `https://192.168.253.129:2379`.

[2020-09-14 15:15] neolit123 commented on #2289
yes, the etcd manifest should also change based on  localAPIEndpoint.
so there is no problem here?

[2020-09-14 15:16] oldthreefeng commented on #2289
thanks.  no more problem~~

[2020-09-14 15:19] fabriziopandini commented on #2287
I agree with @neolit123 to not backport (unless there is really specific needs)
WRT to the fix, I'm +1 to remove the TokenID from the logs

[2020-09-14 16:41] #2270 closed

[2020-09-15 10:57] NeilW commented on #1602
I've written up the process and how to get metrics server to work securely with a kubeadm deployed Kubernetes system here:

https://www.brightbox.com/blog/2020/09/15/secure-kubernetes-metrics/

Hope you find it useful.

[2020-09-15 11:20] neolit123 commented on #1602
Thanks for the writeup, Neil.
Related to 'serverTLSBootstrap: true' it is important to note that this certificate will expire after 1 year.  If serving cerificate rotation is enabled, the user needs to approve the CSR when that happens. Thus, users created the controllers mentioned above.

I wish we had a guide for using rbac proxy too.

[2020-09-15 15:23] haslersn commented on #970
For me (on Kubernetes 1.17.11) the following worked. All of my 3 nodes are control plane nodes.

1. Edit the ConfigMap with my changes:

[code]

2. On all nodes run:

[code]

where `<version>` is the current kubeadm version (in my case `1.17.11`).

[2020-09-15 21:21] neolit123 commented on #2287
closing as https://github.com/kubernetes/kubernetes/pull/94727 merged.
thanks

[2020-09-15 21:21] #2287 closed

[2020-09-15 21:37] neolit123 commented on #2256
https://github.com/kubernetes/kubernetes/pull/94102 merged
newer etcd was backported to 1.19 too:
https://github.com/kubernetes/kubernetes/pull/94536

closing, thanks.

[2020-09-15 21:37] #2256 closed

[2020-09-16 00:26] neolit123 opened #2290 "remove ClusterStatus from v1beta3"
following this KEP:
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cluster-lifecycle/kubeadm/2506-Remove-ClusterStatus-from-kubeadm-config

this PR deprecated ClusterStatus in 1.18:
https://github.com/kubernetes/kubernetes/pull/87656

the structure is part of v1beta{1|2}. we are not going to remove it from the older v1betaX APIs, but we can remove it from v1beta3:
https://github.c

[2020-09-16 00:26] neolit123 commented on #2290
skew and upgrades need discussion:
- `kubeadm upgrade` needs to perform cleanup of the config map to remove ClusterStatus
- what happens if we try to deploy a cluster using v1beta2 with a version of kubeadm that no longer handles ClusterStatus?
- should we remove ClusterStatus handling from kubeadm only after the last API version that supports is removed (i.e. v1beta2)?

[2020-09-16 07:46] oldthreefeng commented on #2289
Does any  `localAPIEndpoint`  like define  in a work nodes?
a work node  have tow network iface. `192.168.160.244` is pubilc network route.`192.168.253.128 `is a internal IP.
[code]
default route is
[code]
join this nodes to a exsit kubernetes cluster as a work node.  how to set my defautl ip to` 192.168.253.128` instead of `192.168.160.244`

we have no plans allow the users to pick an interface f

[2020-09-16 10:13] neolit123 commented on #2289
For workers you can pass --node-ip to the kubelet. This is possible via kubeadm joinconfiguration -noderegistrationoptions - kubeletextraargs

See the docs for v1beta2 JoinConfiguration.

[2020-09-16 13:45] oldthreefeng commented on #2289
ok,  Thanks for your patience.

[2020-09-16 20:00] neolit123 opened #2291 "graduate "alpha certs" to a parent "certs" command"
during the 1.20 planning session we agreed that we should graduate this.

proposal:

---

1.20:

- [x] mark "alpha certs" as deprecated in 1.20 and tell the users to move to "certs".
we can bring it back in the future if we need more certs related experimental commands. add a parent "certs" command in 1.20 that uses the same commands from the "alpha" backend
https://github.com/kubernetes/kubernete

[2020-09-16 20:00] neolit123 commented on #2291
@yagonobre you've mentioned that you could help with this work. would you be able to?

[2020-09-16 20:16] neolit123 opened #2292 "prepare "alpha kubeconfig user" for graduation"
during the 1.20 planning session we decided that we should first refactor the command and then graduate it to a root command.
the "init" phase should remain a separate workflow.

related topic about the overlap between the "init phase kubeconfig admin" and "alpha kubeconfig user":
https://github.com/kubernetes/kubeadm/issues/1381

proposal plan:

------

1.20:

- [x] refactor the command to only a

[2020-09-16 21:05] #2216 closed

[2020-09-16 21:45] fragtom opened #2293 "kubeadm and kubelet seems didn't work with containerd-only setup .."
## Is this a request for help?
This issue is a description of unexpected behaviour kubeadm / kubelet using containerd

## What keywords did you search in kubeadm issues before filing this one?
kubeadm init phase kubelet-start, -cri-socket to containerd.socket

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**:
v1.19.2 - kubeadm.x86_64 0:1.19.2-0
**kubelet ve

[2020-09-16 21:56] neolit123 commented on #2293
we have e2e tests here using containerd only (no docker daemon running):
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all

also i tested the same setup the other day on separate VMs debugging a separate issue. so standalone containerd does work.

[code]

when this happens are you sure the kubelet is receiving the right flags? i doubt it is..
you can check that with something like `ps -p

[2020-09-16 22:00] neolit123 commented on #2293
looking at the code, i don't see potential flows around executing the phase:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/phases/init/kubelet.go

[2020-09-16 22:10] fragtom commented on #2293
you are right, you do not recommend to use dropin to kubelet, sorry for that.

I wrote this /etc/systemd/system/kubelet.service.d/0-containerd.conf out of sheer desperation, after lot of tries.
this is the output after kubeadm init.

# cat /var/lib/kubelet/kubeadm-flags.env
[code]

But this should work with kubeadm flags, I expect. I cannot see args on kubelet, the process fails and is not visible

[2020-09-16 22:25] neolit123 commented on #2293
my speculation is that the `/var/lib/kubelet/kubeadm-flags.env` settings are not being passed to the kubelet for some reason and it defaults to the docker socket.

i'd try removing `kubelet.service.d/0-containerd.conf`.

you could also pass `--v=4` to the kubelet to see what flag values it receives.

[2020-09-17 07:37] fragtom commented on #2293
cleanup my setup, removed 0-containerd, checked kubeadm-flags.env. But run in other issue.

regarding the deprecated message of kubelet `--cgroup-driver has been deprecated, This parameter should be set via the config file specified by the Kubelet's ... ` did this like [configure-cgroup-driver](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#configure-cgroup-

[2020-09-17 10:29] neolit123 commented on #2293
After 1.19, kubeadm does the cgroup setup via KubeletConfiguration and
should not be passing the flags. Its fine as long as the cgroup driver
between CR and kubelet match.

Regarding the missing CA, you should call "init phase certs ca" before
starting the kubelet. If you look at the kubelet config it needs some files.

Closing since I don't see a bug here, but LMK if you have more questions.

/cl

[2020-09-17 10:29] #2293 closed

[2020-09-17 13:46] fragtom commented on #2293
using `kubeadm init phase certs ca` beforehand, the kubelet still fails..

relevant entries for authentication would like  this:
[code]

and then failing with
[code]

didn't understand why this happens.. thanks for hinting me again..

[2020-09-17 14:10] yagonobre commented on #2291
@neolit123 Yes, I'll send a pr later this week

[2020-09-17 14:11] yagonobre commented on #2291
/assign

[2020-09-17 14:12] yagonobre commented on #2291
/asign @neolit123

[2020-09-17 14:12] yagonobre commented on #2291
/assign @neolit123

[2020-09-17 15:05] neolit123 commented on #2293
i'm trying to understand what is your use case.
can you explain why are you running the kubelet phase standalone and what you are trying to achieve?

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/kubelet-integration/

^ kubeadm assumes that you want to run the kubelet for Node bootstrapping purposes.

that's why it need always passes:

--kubeconfig=/etc/kubernetes/kubelet.c

[2020-09-17 18:29] neolit123 commented on #2286
after the discussion this was punted to 1.21.

[2020-09-17 22:09] neolit123 commented on #2021
removal PR:
https://github.com/kubernetes/kubernetes/pull/94869

[2020-09-18 01:35] knight42 commented on #2292
I would like to help.
/assign

[2020-09-18 02:13] neolit123 commented on #1381
we decided to refactor and graduate the alpha kubeconfig command, despite the overlap with the "kubeadm admin" phase:
https://github.com/kubernetes/kubeadm/issues/1381

closing, but this discussion is linked in the above issue.
/close

[2020-09-18 02:13] #1381 closed

[2020-09-18 08:28] #2252 closed

[2020-09-18 12:57] neolit123 commented on #2271
fix for 1.19.2 is here:
https://github.com/kubernetes/kubernetes/pull/94890

[2020-09-18 13:01] neolit123 commented on #2271
to further summarize what is happening, after the changes above. kubeadm will no longer error out if the server URL in custom provided kubeconfig files does not match the expected one. it will only show a warning.

example:
- you have something like `foo:6443` in `scheduler.conf`
- kubeadm expects `scheduler.conf` to point to e.g. `192.168.0.108:6443` (local api server endpoint)
- kubeadm will sho

[2020-09-18 16:17] neolit123 commented on #2271
Indeed, they pushed it out 2 days ago. Should be out with 1.19.3 then.

[2020-09-21 03:39] jenting commented on #1753
@neolit123, is it possible that implements auto-update the `kubelet.conf` to points to the rotated kubelet client certificates, not the embedded base64 encoded certificates during `kubeadm upgrade`?

[2020-09-21 09:14] blepoutr commented on #1602
Hello @NeilW

Thanks for the very good article .
One variant seems to sign  the Serving/Server csr of the Metrics server with Kubernetes.
See https://github.com/jenting/secure-metrics-server/blob/master/gen-metrics-server-cert-key.sh.

[2020-09-21 12:07] neolit123 commented on #1753
Newer versions of kubeadm have a "kubelet-finalize" phase for "init" that
does that automatically. I think we added that around 1.17, but you can
check the changelogs.

[2020-09-21 12:09] neolit123 commented on #1753
Sorry, missed the part about upgrade. I think its a bit tricky to do this
on upgrade because the user might have disabled cert rotation. You can
still execute the "kubelet-finalize" phase on demand.

[2020-09-21 16:11] Venkatvenstvm commented on #1391
Hi Neolit123 - Thanks for your reply.. yes still getting the same error, i understood the functionality of controller manager that required key file to generate the new certificate, however is there any way to pass "cluster-signing-key-file" as empty string as mentioned in code (line-351) in run time without affecting current  master node..

[2020-09-21 16:26] neolit123 commented on #1391
you can try editing the manifest file to edit out the `cluster-signing-key-file` flag, but not sure how the component will behave with that. obviously it will not be able to sign CSRs any more.

in 1.18 and 1.19 has the --experimental-kustomize feature that can be used to customize the static pods with patches.
but we are replacing it in 1.20 with a slightly different method --experimental-patches

[2020-09-21 19:55] #2021 closed

[2020-09-22 01:32] jenting commented on #1753
I ran through the code and I think kubeadm want to decouple to kubelet so kubeadm _guess_ the client cert rotation enabled or not by checking the `kubelet-client-current.pem` exists, but not checking the kubetlet `config.yaml`.

The command `kubeadm init phase kubelet-finalize experimental-cert-rotation` is useful to update local `kubelet.conf`, thanks.

[2020-09-22 05:16] sumitKash commented on #2279
Thank you for the reply. I double checked it by commenting the --port=0. There are few scripts in our env that used kubectl get cs output to check status. Guess i need to change it.

[2020-09-22 06:14] Venkatvenstvm commented on #1391
Hi -  Sharing the output of kube join command with --v=5, i mean time trying other options mentioned by you..

**Apologies** for confusing you with my answer that i am facing issue this only in join the another controller to the existing  not in init.

I0922 06:05:02.675785   20058 join.go:388] [preflight] found /etc/kubernetes/admin.conf. Use it for skipping discovery
I0922 06:05:02.676589   2005

[2020-09-22 08:26] anu4love commented on #2222
Please go through the cd /etc/kubernetes/manifests/ and change the port numbers in kube-scheduler.yaml and kube-controllermanager.yaml to the default specified in the document.

[2020-09-22 15:37] neolit123 commented on #1391
ok, i might need some more information to debug this please open a new issue and fill the issue template in *full detail*
thanks.

[2020-09-22 16:04] Venkatvenstvm opened #2296 "CA.Key required for joining the another node to cluster with External CA and Kubeadm"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** : kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.1", GitCommit:"206bcadf021e76c27513500ca24182692aabd17e", GitTreeState:"clean", BuildDate:"2020-09-09T11:24:31Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:  EC2 instances in aws ( not using ELK stack)

[2020-09-22 16:15] neolit123 commented on #2296
please share you full `kubeadm init` and `kubeadm join` command lines.

i'm curious if you are using the --upload-certs / --certificate-key feature.
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/

if not, how are you copying the CP certificates to the second CP node?

can you clarify why this file already exists on the second CP node?
unless it includes client cert/key for

[2020-09-22 16:54] Venkatvenstvm commented on #2296
No i am not doing -- upload-certs

Manually copied files to node 2. following are the files available in /etc/kubernetes/pki
         apiserver-etcd-client.crt
         apiserver-kubelet-client.key
         ca.crt
         front-proxy-client.crt
         front-proxy.key
         apiserver-etcd-client.key
         apiserver.crt
         etcd /
            ca.crt  , healthcheck-client.crt,  healthch

[2020-09-22 17:06] neolit123 commented on #2296
on the primary CP node, is the kube-controller-manager tolerating the lack of ca.key - i.e. is it crashlooping?
or did you remove `--cluster-signing-key-file=/etc/kubernetes/pki/ca.key`?

^ what are the command lines for init/join?

because if you are not passing the ca.key to the KCM then you cannot use bootstrap-tokens to join more kubelets to the cluster and you have to bootstrap using client c

[2020-09-22 17:19] Venkatvenstvm commented on #2296
on primary node I dont not keep ca.key explicitly... and created manually all certificate with ca.crt and ca.key as per below instructions, and primary node running in ready mode able join worker node to that master node.

https://kubernetes.io/docs/setup/best-practices/certificates/

ref : "If you don't wish to copy the CA private keys to your cluster, you can generate all certificates yourself."

[2020-09-22 17:49] neolit123 commented on #2296
so, if you don't have the file ca.key on the primary CP node, you should remove these flags:
[code]

optionally this line too:
[code]

from the KCM manifest.

as already mentioned, you can no longer use bootstrap tokens to join new nodes and you need to use discovery files:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-join/#file-or-https-based-discovery

this this seems like a

[2020-09-22 18:01] Venkatvenstvm commented on #2296
which means with CA.key could we not create the kubernetes cluster using kubeadm

[2020-09-22 18:02] Venkatvenstvm commented on #2296
which means without CA.key, could we not create Kubernetes cluster ?

[2020-09-22 18:04] neolit123 commented on #2296
kubeadm should not prevent you from creating a cluster without ca.key, so bugs around that should be fixed...
but by removing ca.key you are entering an advanced use case that is complicated to manage.

the simplest solution is to write an intermediate ca.key.

[2020-09-23 00:38] neolit123 commented on #2296
i was able to reproduce the problem and have a PR as a WIP:
https://github.com/kubernetes/kubernetes/pull/94988

/lifecycle active
/assign

[2020-09-23 01:30] neolit123 commented on #2174
started working on e2e tests while debugging:
https://github.com/kubernetes/kubeadm/issues/2296

[2020-09-23 15:06] yagonobre commented on #2039
/lifecycle active
/assign

[2020-09-23 15:06] yagonobre commented on #2251
/lifecycle active
/assign

[2020-09-23 15:31] yagonobre commented on #2039
What should I do? Make the flag works or remove the flag?

[2020-09-23 15:34] neolit123 commented on #2039
@rosti mentioned above that we are doing the flag override too late.
so ideally --cri-socket should override the user provided value in config.

[2020-09-24 01:31] neolit123 opened #2299 "deprecate and remove "kubeadm alpha selfhosting pivot""
see summary at the mailing list:
https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/xdpnn7yJHvM

a FeatureGate that later got "demoted" to the alpha command, due to
complexities around the maintenance and no evidence of high demand.
kubeadm focused on static Pods and decided to move away from the
self-hosting support.

after a long stay under "alpha" instead of promoting it, we'd prefe

[2020-09-24 01:32] neolit123 commented on #2299
waiting for replies on the [mailing list thread](https://groups.google.com/g/kubernetes-sig-cluster-lifecycle/c/xdpnn7yJHvM)

[2020-09-24 09:35] fragtom commented on #2293
it drives me a little bit crazy, the workflow of [ha setup](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/setup-ha-etcd-with-kubeadm/) didn't work.
In the past, it was successful with docker-ce, with this setup containerd only not.

[code]
so far, this is done on all machines.

To setup etcd cluster, I went through all the scripts, on the part '7. Create the static pod mani

[2020-09-24 10:21] neolit123 commented on #2293
Like i've mentioned above the kubelet startup does need the ca.crt file and you can generate it with kubeadm. It is required for validating the kube-api-server identity. This is an unrelated problem to the different container runtime.

[2020-09-24 14:34] NeilW commented on #1602
I've added another post about auto-signing the kubelet certificates using "rubber stamp" and why we believe that is an acceptable risk on kubeadm installed clusters.

https://www.brightbox.com/blog/2020/09/24/auto-signing-kubernetes-server-certificates/

[2020-09-24 16:14] neolit123 commented on #2299
/assign
/lifecycle active

[2020-09-24 16:21] adam-power opened #2300 "Kubelet cannot determine CPU online state"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**: 1.19.1

**Environment**:
- **Kubernetes version**: 1.19.1
- **Cloud provider or hardware configuration**: Raspberry Pi 4, Raspberry Pi OS 64-bit beta
- **OS**: Debian GNU/Linux 10 (buster)
- **Kernel**: Linux 5.4.51-v8+ aarch64 GNU/Linux
- **Others**: Kubelet version: 1.19.1, Docker version: 19.03.13

## Wha

[2020-09-24 16:32] neolit123 commented on #2300
hi, this seems like a problem in the kubelet.

please log the same ticket in the kubernetes/kubernetes repository and tag it with these commands:

[code]

thanks
/close

[2020-09-24 16:32] #2300 closed

[2020-09-25 04:07] cheeseyeah commented on #1893
i have installed kubernetes on arm
and I have the same problem as you
**The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get http://localhost:10248/healthz: dial tcp [::1]:10248: connect: connection refused.**

but after i reset kubeadm , the problem remains
can you tell me the detailed solution process, thanks

[2020-09-25 09:50] fabriziopandini opened #2302 "Remove offensive words from CI jobs configuration"
In our CI tests we are still using master to refer to the tip of the main branch.
We should replace this with "latest" (or "main").

The change should apply to:
- file names under k/kubeadm/kinder/ci/workflows
- corresponding test configuration under k/test-infra/config/jobs/kubernetes/sig-cluster-lifecycle/kubeadm*.yaml
- docs under k/kubeadm/kinder/ci

[2020-09-25 10:58] #1829 closed

[2020-09-25 12:06] NitHas89 opened #2303 "port-forward not working in kubernetes cluster where as direct connection to pod on port 80 works fine"
ubuntu@k8master:~$ kubectl port-forward pods/fortunepod 8080:80
Forwarding from 127.0.0.1:8080 -> 80
Forwarding from [::1]:8080 -> 80

ubuntu@node1:~$ curl localhost:8080
curl: (7) Failed to connect to localhost port 8080: Connection refused

if I curl directly to pod IP and port 80 . Everything works fine
ubuntu@node1:~$ curl 10.244.1.223:80
Today is the first day of the rest of your life.

Below

[2020-09-25 12:32] yagonobre commented on #2039
I can't reproduce it on kubeadm `v1.19.2`. @johscheuer can you test it with this version?

[2020-09-25 19:29] BenTheElder commented on #2302
Note that the kubernetes project at large plans to switch the branches themselves in github repos later this year when github finishes landing their features to support a smooth transition natively. the github admin team is in touch about this and wg-naming is tracking it.

[2020-09-25 19:38] BenTheElder commented on #2200
Concrete proposal here? https://groups.google.com/d/msgid/kubernetes-sig-cluster-lifecycle/CAGDbWi9_2m3GPE3GTkbwU-qsaeV7XvzhUaHP%3DC0Guvk3zM5OFg%40mail.gmail.com

What's next for this?

[2020-09-25 21:32] ChoppinBlockParty commented on #1026
Have the same problem that @PierrickI3  does. After reboot the node control plane is down. `kubelet` service is running trying to connect to non-running apiserver. `etcd` is running. There are no CNI network interfaces, only loopback, ethernet, and docker.

There is no particular error seen anywhere, it just does not start, though worked fine for a long time before the reboot. Tried everything men

[2020-09-25 23:35] neolit123 commented on #2303
hi,

this can be caused by a number of factors, but i don't think it is caused by a kubeadm bug, per se.

please try asking for help in the #kubernetes-users slack channel or on our other support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close
/triage support

[2020-09-25 23:35] #2303 closed

[2020-09-26 00:17] neolit123 commented on #2200
after the recent discussions at wg-naming i saw no objections around allowing maintainers to follow the established k8s deprecation policies for similar changes. thus, i think we can proceed with the KEP for 1.20 as outlined in the OP here.

[2020-09-26 08:50] ShahidAttari26 opened #2304 "kubelet.resolv-conf=/run/systemd/resolve/resolv.conf"
I am facing below problem once I am running "sudo minikube start" on Linux 18.04.05 LTS and details are given below. (Same issue if "sudo minikube start --vm-driver=none")

minikube v1.13.1 on Ubuntu 18.04
✨  Using the none driver based on existing profile
👍  Starting control plane node minikube in cluster minikube
🏃  Updating the running none "minikube" bare metal machine ...
ℹ️  OS release is Ub

[2020-09-26 10:56] uablrek commented on #2000
### Do not forget the CNI-plugin

On a small system some CNI-plugins must be avoided, e.g. `cilium` which is a horrible consumer of both CPU and memory.

[2020-09-26 11:10] neolit123 commented on #2304
Hi pleaese log the issue in the minikube repository.

[2020-09-26 11:10] #2304 closed

[2020-09-28 01:18] anguslees opened #2305 "bootstrap role grants access to kube-system.kube-proxy configmap (and shouldn't?)"
## Is this a request for help?

This is a "wat?" that might indicate an area for improvement.

## Is this a BUG REPORT or FEATURE REQUEST?

I guess BUG REPORT?

## Versions

**kubeadm version** (use `kubeadm version`): 1.19.2 release binary

**Environment**:
- **Kubernetes version** (use `kubectl version`):  1.18.6
- **Cloud provider or hardware configuration**: on-prem / self-hosted(*)
- **OS** (

[2020-09-28 02:38] wangycc opened #2306 "How to monitor certificate expiration"
## Is this a request for help?
yes
## What keywords did you search in kubeadm issues before filing this one?
monitor cert

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): v1.15.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.15.3
- **Cloud provider or hardware configuration**: 32C64G
- **OS** (e.g. fro

[2020-09-28 09:31] fabriziopandini commented on #2306
/triage support
@wangycc kubeadm implements the `kubeadm alpha certs check-expiration` command to help you in this task.

I don't have a valuable suggestion on how to make this info flow into Prometheus starting from the kubeadm CLI output, but this is an interesting use case for the kubeam operator we are currently discussing

[2020-09-28 09:35] fabriziopandini commented on #2302
Thanks for the context @BenTheElder!
This issue focuses on cleanup activities mostly on our(kubeadm) side, mostly on job names/dashboard names, but the branch switch is definitely another piece of the puzzle

[2020-09-28 09:47] SataQiu commented on #2302
/assign

[2020-09-28 09:49] fabriziopandini commented on #2305
@anguslees thanks for this report!
I agree that we should avoid having tokens access the kube-proxy

There is in roadmap a change in v1beta3 that should provide a cleaner solution for users to opt-out from installing kube-proxy, and thus allow to clean up the existing RBAC rule.
I'll defer to @neolit123 to decide if something can be changed before the new release is implemented given that he has m

[2020-09-28 10:22] neolit123 commented on #2306
To monitor the state from the cluster you can implement a container that
runs kubeadm with the above command and writes the data in a cluster
object. You can then read that data with any k8s client.

Hope that helps. Closing as not a bug / feature.

/close

[2020-09-28 10:22] #2306 closed

[2020-09-28 10:24] neolit123 commented on #2306
But yes this seems like something the kubeadm operator can support. Please
find the issue "kubeadm operator" in this repo and add your use case there.

[2020-09-28 15:25] zgfh opened #2308 "`kubeadm alpha certs renew all` should give a msg tell user to restart components"
## What keywords did you search in kubeadm issues before filing this one?
https://github.com/kubernetes/kubeadm/issues/1540
https://github.com/kubernetes/kubeadm/issues/2186
https://github.com/kubernetes/kubeadm/issues/2185

## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
1.19.2
**Environment**:
- **Kubernetes version** (use `k

[2020-09-28 15:38] neolit123 commented on #2296
https://github.com/kubernetes/kubernetes/pull/94988 merged, the fix is cherry picked to older versions down to 1.17.

thanks for reporting.
/close

[2020-09-28 15:38] #2296 closed

[2020-09-28 15:56] #2174 closed

[2020-09-28 17:40] neolit123 commented on #2305
thanks for logging the ticket, i did some deeper investigation here.

do you have kube-proxy running in the cluster - i.e. is the kube-proxy config map present?

i'm curious what is the actual error you are seeing on the command line?

we do have an e2e tests that was added in 1.19 that ensures that kubeadm tolerates a missing kube-proxy CM:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-k

[2020-09-28 17:47] neolit123 commented on #2308
it skip renew certs, I think it will be better if we change to update certs and restart related pods

this is debatable, i think we should only renew certs if the upgrade happened.

we should tell user what need to do ,like:

this seems like a good idea, but we should adjust the message here:
[code]

this section of the docs should also include a note that component restart is required.
https://ku

[2020-09-28 20:55] mengzhen94 opened #2309 "Can't init kubeadm with "The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get "http://localhost:10248/healthz": dial tcp 127.0.0.1:10248: connect: connection refused.""
**kubeadm version** (use `kubeadm version`):
```kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T13:38:53Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}```

**Environment**:
- **Kubernetes version** (use `kubectl version`): `Client Version: version.Info{Major:

[2020-09-28 21:09] neolit123 commented on #2309
hi, this file seems to be managed by minikube. if systemd failed to start the kubelet process kubeadm commands will fail.
please make sure you your systemd files are setup correctly. if this is the responsibility of minikube, make sure minikube is setup properly.

closing as this doesn't appear to be a kubeadm issue.

/triage support
/close

[2020-09-28 21:09] #2309 closed

[2020-09-28 21:22] mengzhen94 commented on #2309
@neolit123 Thanks for you reply. after delete minikube and restart docker, it finally worked. Thanks.

[2020-09-28 22:42] zgfh commented on #2308
if we only renew certs, It will be dangerous if the user don't know to restart
I have a idea, when we renew certs, we add or update a label `xx-certificates-expire-time: "Sep 28, 2021 15:20 UTC"` ,it will make pod restart

[2020-09-29 07:02] SataQiu commented on #2308
/assign @zgfh

[2020-09-29 09:56] zhanw15 commented on #1924
@fabriziopandini The Node CRI socket is more like a mark of kubernetes node. It's more appropriate to add the annotation at `kubeadm init phase mark-control-plane` rather than a new phase. kubernetes/kubernetes#95142

[2020-09-29 10:11] NeilW opened #2311 "kubeadm upgrade plan allows invalid versions"
#BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.2", GitCommit:"f5743093fd1c663cb0cbc89748f730662345d44d", GitTreeState:"clean", BuildDate:"2020-09-16T13:38:53Z", GoVersion:"go1.15", Compiler:"gc", Platform:"linux/amd64"}
**Environment**:
- **Kubernetes version** (use `kubectl version`):
Client Version: v

[2020-09-29 12:36] neolit123 commented on #2308
I have a idea, when we renew certs, we add or update a annotations xx-certificates-expire-time: "2020-09-27T18:24:50Z" ,it will make pod restart

i'd prefer if we don't renew certificates if component upgrade was skipped, because the primary purpose of the upgrade command. the separate utility to renew on demand is exposed for a reason.

i think https://github.com/kubernetes/kubernetes/pull/95134

[2020-09-29 12:36] #2308 closed

[2020-09-29 12:46] neolit123 commented on #2311
thanks for the report,

it's important to note that `plan` is:
- supposed to work in air-gapped setups when the latest k8s version cannot be fetched from the web
- it supports upgrading to any pre-release / CI version

so `plan` should still allow "planning" for any version, even if fictional.

i think some of the messaging can be adjusted here...

this should just say "Target version: ..."

this

[2020-09-29 13:38] neolit123 commented on #1601
/remove-lifecycle stale

[2020-09-29 14:28] neolit123 commented on #1924
we did not decide whether it should be moved to another existing phase or a new phase. this is tricky.

my preference would be to move it to a new phase under the `kubelet-finalize` phase, called `annotate-cri-socket` and have the PR with an "action-required".

my idea is to make this consistent with `join`'s `kubelet` phase where the same action is performed[annotates the socket](https://github.c

[2020-09-29 18:24] sftim commented on #2200
In the KEP that follows from this, I would emphasize when explaining the motivation Kubernetes uses the term “control plane” (note: no dash when used in running text) to have pretty much the same meaning. Plus of course the word “master” in this context implies “slave” is linked directly to human rights abuses.

`node-role.kubernetes.io/control-plane` feels like the obvious replacement.

[2020-09-29 18:27] neolit123 commented on #2200
NOTE: KEP draft is here:
https://docs.google.com/document/d/1kPs_zFconMU83LCOfBr_xKXfghn3y9VLLrTUSlCAf4s/edit#

[2020-09-29 18:35] BenTheElder commented on #2200
Thank you for writing this up! +1
This looks plenty detailed enough to move to a KEP PR when you're ready.

On Tue, Sep 29, 2020 at 11:27 AM Lubomir I. Ivanov <notifications@github.com>
wrote:

[2020-09-29 18:44] neolit123 commented on #2200
@sftim "master" actually is not the same as "control plane". historically "master" in the k8s project meant:
- a Node that hosts control plane components
- an instance of the kube-apiserver

in kubeadm, we have usage of the former and a rename to `control-plane` has a clear intent.

i don't think we should include details around that or topics like "human rights" in the kubeadm KEP, so i'm deferin

[2020-09-29 20:07] qnetter commented on #2200
Is there prior art in any distributor tooling? I know Rancher's RKE uses etcd, control-plane, and worker node naming.

[2020-09-29 20:20] neolit123 commented on #2200
usage of the key `node-role.kubernetes.io/master` can be found in both commercial and open-source projects.

[2020-09-30 14:08] neolit123 commented on #2302
this is done, minus the `master` branches in the test-infra jobs, which i assume may be done in a bulk for * jobs in the repo.

[2020-09-30 15:57] fabriziopandini opened #2315 "RFE: Document the kubeadm roadmap"
Kubeadm was created in 2016 and then graduated GA in 2018, and, In order to continue to provide the best user experience to our users, we should start drafting a new roadmap for defining.

This issues should act as a focal point for collecting items to be included in this roadmap; each item should be discussed in a separated issue, and linked here for visibility

[2020-09-30 15:57] fabriziopandini opened #2316 "[Roadmap] Create the kubeadm library"
One of the kubeadm goals was to provide a toolbox for higher-level tools.

However, as of today, kubeadm can be consumed only as a CLI command, and this limits the options for higher-level tools when designing kubeadm integration; the current model is also a limitation because the func existing in kubeadm e.g. for managing certificates, kubeconfig, or the kubeadm API can't be re-used (e.g. CAPI is

[2020-09-30 15:57] fabriziopandini commented on #2315
Create the kubeadm library https://github.com/kubernetes/kubeadm/issues/2316

[2020-09-30 15:57] fabriziopandini opened #2317 "[Roadmap] Improve kubeadm support for declarative approaches/git-ops"
Kubeadm, being a CLI, does not play well with declarative approaches/git-ops workflows.

Assuming that kubeadm is divided in two main parts
1. bootstrapping a node (transforming a machine into a node: init, join)
2. managing an existing node (e.g. upgrades, renew certs, changing a node)

This issue is about collecting ideas and define a viable path for making 2 possible using declarative approache

[2020-09-30 15:58] fabriziopandini commented on #2315
Improve kubeadm support for declarative approaches/git-ops https://github.com/kubernetes/kubeadm/issues/2317

[2020-09-30 15:58] fabriziopandini opened #2318 "[Roadmap] Improve kubeadm support for pluggable addons / operator driven addons"
Kubeadm addons were subject to several discussion in the past year, but as of today there is no clear path forward (we are only supporting skip phase)

This issue is about discussing some possible alternatives for:
- supporting pluggable addons during cluster setup
- provide support for the lifecycle of operator driven addon (where e.g. the upgrade addon operation should not be managed by kubeadm)

[2020-09-30 15:59] fabriziopandini commented on #2315
Improve kubeadm support for pluggable addons / operator driven addons https://github.com/kubernetes/kubeadm/issues/2318

[2020-09-30 17:06] neolit123 commented on #1924
we had a discussion today during the kubeadm office hours.

@rosti mentioned there are ongoing efforts in the kubelet to make the CRI socket as a field as part of the KubeletConfiguration.
this means that the "annotate CRI socket" functionality is currently part of the right phase ("upload-config") and eventually we are just going to write it as a field as part of KubeletConfiguration.

this means

[2020-09-30 17:13] rosti commented on #1924
The effort there is to move command line parameters of the kubelet to its component configuration.

@mtaufen Are there any plans for adding corresponding component config fields to the `--container-runtime` and `--container-runtime-endpoint` command line parameters of the kubelet?

[2020-09-30 17:21] neolit123 commented on #2316
this overlaps with:
https://github.com/kubernetes/kubeadm/issues/1205

please combine the two tickets.

[2020-10-01 09:26] fabriziopandini commented on #2302
/close
kudos to @SataQiu & @neolit123

[2020-10-01 09:26] #2302 closed

[2020-10-01 09:56] fabriziopandini commented on #1205
/close
in favor of https://github.com/kubernetes/kubeadm/issues/2316

[2020-10-01 09:56] #1205 closed

[2020-10-01 10:00] fabriziopandini commented on #2316
As discussed in 09-30-2020 office hours, I'm going to work with @randomvariable to document possible use cases for the adoption of kubeam library in Cluster API.
If you have in mind other possible use cases, feel free to comment on the issue

[2020-10-01 10:14] fabriziopandini commented on #2317
Prior discussion from https://github.com/kubernetes/kubeadm/issues/1698

@timothysc

@fabriziopandini

@neolit123

[2020-10-01 10:17] fabriziopandini commented on #1698
/close
in favor of https://github.com/kubernetes/kubeadm/issues/2317
the initial work on the operator helped in exploring this field, however, we should now focus on defining a clean surface for API an this requires some modeling work and a more detailed use cases

[2020-10-01 10:18] #1698 closed

[2020-10-01 18:17] aendeavor opened #2319 "CgroupDriver - Docker is used instead of CRI-O even though it is not installed"
## What keywords did you search in kubeadm issues before filing this one?

`cri-o`, `docker CRI-O cgroupdriver`

#2039 is somewhat related, but actually differs when it comes to the underlying problem.

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT (not 100% sure)

## Versions

[code]

#### Environment

[code]

##### Cloud provider or hardware configuration

Running a control plane node

[2020-10-01 19:41] neolit123 commented on #2319
this is just a warning. socket != docker still tries to call `docker info` which was a bug.
https://github.com/kubernetes/kubeadm/issues/2270

but note that kubeadm supports detecting the cgroup driver only for docker.

as6i4g.l28bjvdo6o8dxq4i

this also also fixed here:
https://github.com/kubernetes/kubeadm/issues/2230

let me if there is anything else that i missed in the ticket
thanks
/close
/t

[2020-10-01 19:41] #2319 closed

[2020-10-01 19:52] aendeavor commented on #2319
Thanks for the fast reply @neolit123

Is this going to be fixed with the next versions then?

Yeah I read about that. That's why I used the option in the configuration file. Is this the correct way?

[2020-10-01 20:04] neolit123 commented on #2319
should be fixed for 1.20.

yes, configuration file is preferred over the CLI flags.

[2020-10-02 16:09] prabhu43 commented on #2311
@neolit123 I can work on this.
This should be the expected output, right?
[code]

[2020-10-02 23:35] neolit123 commented on #2311
@prabhu43 this is my proposal, at least. not sure what others think.

[2020-10-03 06:12] NeilW commented on #2311
Sounds like a reasonable solution to me. The wording is misleading, so make the wording more neutral.

I would switch "AVAILABLE" for "REQUIRED" (assuming we can work out what the lowest required version of the component is). We don't know if it is available as we haven't checked and in the case of gapped installations we can't check.

[2020-10-03 11:31] neolit123 commented on #2311
Yes. REQUIRED is fine in the tables, or just TARGET again.

[2020-10-03 13:42] neolit123 commented on #2200
"enhancement" tracking issue:
https://github.com/kubernetes/enhancements/issues/2067
KEP PR:
https://github.com/kubernetes/enhancements/pull/2068

the plan for 1.20 is clear. for the later stages the feedback on the draft is now part of the KEP PR, but we can amend the proposal if needed.

[2020-10-03 14:08] #1950 closed

[2020-10-05 04:36] prabhu43 commented on #2311
@NeilW @neolit123 "TARGET" is more suitable there

[code]

In additon, Shall we provide what is the latest stable version just as an info?
[code]

[2020-10-05 04:44] NeilW commented on #2311
How are you finding out what the latest stable version is? With air gapped installations there will be no way of finding out.

[2020-10-05 10:08] neolit123 commented on #2311
I agree that plan is not very useful for air gapped, but it is still a
supported scenario.

[2020-10-06 13:04] fabriziopandini commented on #2317
For the kubeadm operator, I think we should focus on the first use case, "declaratively control configuration changes", given that this is not supported by kubeadm now and it was a top priority in the recent survey

[2020-10-06 13:07] fabriziopandini commented on #2318
I would like to point out that also some features of addon management are relevant for declarative approaches as well.
e.g. the ability to opt-out from installing/upgrading default addons (because the user wants to take control of the addon lifecycle).

[2020-10-06 13:13] neolit123 commented on #2200
the proposal merged:
http://git.k8s.io/enhancements/keps/sig-cluster-lifecycle/kubeadm/2067-rename-master-label-taint/README.md
1.20 is the first stage of the rename. the plan for the later stages may change depending on feedback.

tracking issue at k/e:
https://github.com/kubernetes/enhancements/issues/2067

[2020-10-06 15:09] neolit123 commented on #2039
adding some detail here; i was able to reproduce the problem with 1.20-pre.

the problem happens here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/cmd/init.go#L334

at this point `options.externalInitCfg` contains the user provided `--cri-socket` written in `options.externalInitCfg.NodeRegistration.CRISocket`.

however `LoadOrDefaultInitConfiguration` ends up calling:
http

[2020-10-07 07:28] prabhu43 commented on #2311
okay, let me fix this without ""Latest Stable Version" for now. We can take this up as a different issue.
is that okay @neolit123 ?

[2020-10-07 09:27] neolit123 commented on #2311
Lets keep the discussion to this tocket for now.

[2020-10-07 13:28] fabriziopandini commented on #2318
WRT to addons, kubeadm as of today offers an integrated UX based on an detailed knowledge of the internals of the addons in scope. Let's consider CoreDNS as example:
- kubeadm knows in advance the images required by a specific version of CoreDNS, so we can pre-pull required images
- kubeadm knows in deep how the CoreDNS configuration works, so we are managing a seamless flow of kubeadm configurati

[2020-10-07 13:56] neolit123 commented on #2318
if by "plugin" you mean `-buildmode=plugin` then this does not work on Windows, so we cannot support it.
kubetest2 and kubectl use "exacutable plugins" (not shared library ones). which means that the interface must be CLI (i'm excluding the option for an addon service on the host).

some questions here:
- how would we embed these addons in kubeadm and how would they be bundled next to the kubeadm

[2020-10-07 15:04] neolit123 commented on #1599
/remove-lifecycle stale

the jobs are currenetly quite flaky due to GCE / prow infra problems, so if we decide to move them to release-blocking we definitely have to increase the priority of the jobs so that they get more resources.

[2020-10-07 15:12] fabriziopandini commented on #2318
I don't have a specific solution in mind for this implementation detail, but there are prior art we can explore for this like eg. kubectl plugins and hashicorps plugins.

TBD; the fallback solution is to continue as we are doing today by having this code in kubeadm, but some other implementation approach can be explored as weel (this is somehow related to the target plugin model)

The plugin runs

[2020-10-07 15:24] neolit123 commented on #2318
i must say that i like the plugin binaries idea.

addon plugins would not be able to manage their own lifecycle (if they don't run as services), but the kubeadm operator can look for addon binaries on the nodes and call certain CLI (interface) methods such as "upgrade", "refresh" etc.

if users don't want to install the kubeadm operator they will also have the option to execute functionality on th

[2020-10-07 16:44] fabriziopandini commented on #2316
Use cases from Cluster API

- As the Kubeadm bootstrap controller, I would like to use the kubeadm library for generating a kubeadm configuration file - using the required config version -, to be used in the cloud-init script
- As the Kubeadm bootstrap controller, I would like to use the kubeadm library for generating cluster certificates.
- As the Kubeadm bootstrap controller, I would like to use

[2020-10-08 00:43] neolit123 commented on #2200
PR for the 1.20 changes in kubeadm source code:
https://github.com/kubernetes/kubernetes/pull/95382

[2020-10-08 02:42] neolit123 commented on #1723
that PR actually got closed for some reason..

[2020-10-08 12:55] shahaf600 commented on #1658
Any way to upgrade etcd with this situation? anyway? because me and my team are in it too

[2020-10-08 13:27] neolit123 commented on #1658
@shahaf600 if you have external etcd where the server instances are managed by kubelet as static pods, you could go on each etcd host and:
- (optional) call `kubeadm alpha certs renew` to renew the etcd certificates (those expire after one year)
this should work as long as you have `/etc/kubernetes/pki/etcd/ca.{crt|key}` on the nodes.
- modify the static pod manifest `/etc/kubernetes/manifests/etc

[2020-10-08 13:40] shahaf600 commented on #1658
@neolit123 Works like a charm! thank you

[2020-10-08 13:56] neolit123 commented on #2316
@fabriziopandini and me had a zoom call where we discussed the above list. most items seem quite viable to exposed as part of a library. next steps for us to be establish priorities, figure out the library structure and see who can help.

[2020-10-08 16:47] holynakamoto opened #2320 "Unable to pull some images from k8s container registry filesystem layer verification failed"
**Bold** Images won't pull due to filesystem layer verification failed
_Italics_ pull successful
_k8s.gcr.io/kube-apiserver:v1.19.2_
**k8s.gcr.io/kube-controller-manager:v1.19.2**
_k8s.gcr.io/kube-scheduler:v1.19.2_
**k8s.gcr.io/kube-proxy:v1.19.2**
_k8s.gcr.io/pause:3.2_
**k8s.gcr.io/etcd:3.4.13-0**
_k8s.gcr.io/coredns:1.7.0_

[code]
(edit: neolit123 formatted above blob)

I have tried pulling th

[2020-10-08 17:16] neolit123 commented on #2320
i'm unable to reproduce the problem with 19.03 here:
https://www.katacoda.com/courses/kubernetes/playground

[code]

[code]

bug in any case this is not a kubeadm bug per-se.

please log the same issue in the kubernetes/kubernetes repository and tag it with `/sig release`.
maybe it's a problem with Docker 19.03.

[2020-10-08 17:17] neolit123 commented on #2320
/sig release
/close

[2020-10-08 17:17] #2320 closed

[2020-10-08 17:55] IAXES opened #2321 "Specify lifetime of certs in "/etc/kubernetes/pki/" (rather than 1 year default)."
## What keywords did you search in kubeadm issues before filing this one?

- Certificates.
- Renewal.
- Security.
- Lifetime.

## Is this a BUG REPORT or FEATURE REQUEST?

**FEATURE REQUEST**

- **Background**
  - This relates to [a previous post of mine](https://github.com/kubernetes/kubeadm/issues/1826) (which was addressed, and successfully resolved/closed).
  - The various certs in `/etc/kuber

[2020-10-08 17:56] IAXES commented on #1826
@neolit123 Good day. I raised a [related topic to this](https://github.com/kubernetes/kubeadm/issues/2321). Does time permit to ping you for help/feedback this week? Thank you.

[2020-10-08 18:27] neolit123 commented on #1826
hi, i will respond to the new ticket.

[2020-10-08 18:41] neolit123 commented on #2321
hi,

we have seen many requests about this, but the TL;DR is that we don't want to enable this functionality out-of-the box because everyone will sign their certificates for a long period of time and that is a bad security practice. 1 year is what we recommend as the default to all users.

if you are generating your certificates it will work fine as long as you match the data inside the certs kube

[2020-10-08 18:44] neolit123 commented on #2321
i forgot to mention that we have a new command - `kubeadm alpha certs generate-csr` command that can be used to generate CSRs for the kubeadm certs. then when you sign them using a CA (and an external tool) you could specify custom expiration.
this is undocumented for the time being but there are generic guides on the web, such as:
https://stackoverflow.com/questions/21297139/how-do-you-sign-a-cer

[2020-10-08 18:45] #2321 closed

[2020-10-08 18:57] IAXES commented on #2321
Good day @neolit123 , and thank you for the help.

That's reasonable. Would there be a case for me sharing my script here (i.e. put it in some `tools` folder) so it can be shared/scrutinized/etc.; or would that just run contrary to your point above (i.e. "don't sign 20 years certs, but here's a script to help automate it in our official repo"  ).
&nbsp;

I think I need to re-create the contents of

[2020-10-08 19:07] neolit123 commented on #2321
i think we should eventually write a small guide on how to use `alpha certs generate-csr` instead for this.

you should be able to generate the certs for kubeconfig files with `alpha certs generate-csr` too.

you could iterate the certificates and do `openssl x509 -enddate -noout -in file` which would give a date, but this has to be parsed.

i'd say it's not desired at this point as a mainlined fu

[2020-10-08 20:01] IAXES commented on #2321
@neolit123 As usual, thank you for the prompt, helpful, and detailed replies. Cheers!

[2020-10-09 00:56] neolit123 opened #2322 "track the rename of the "system:masters" group"
Kubernetes includes a stock "system:masters" group that have full access to cluster resources:
https://kubernetes.io/docs/reference/access-authn-authz/rbac/

kubeadm binds its administrator account to this group:
https://github.com/kubernetes/kubernetes/blob/e45b8bfe0f45c276537bb8e927b2ae5af8466590/cmd/kubeadm/app/constants/constants.go#L168

this ticket is created with the assumption that the gro

[2020-10-10 06:07] mrpre commented on #193
I make some conclusion:
(1) If you expose the 9090 for HTTP instead of HTTPS, you must modify the livenessProbe
[code]
(2) Under resource `ClusterRole`
[code]

[2020-10-11 19:13] rendler-denis commented on #1893
@cheeseyeah and anyone else stumbling upon this thread: in my case the containers where not created, or at least they weren't there after the kubeadm command finished. I managed to make it work only after disabling swap. This is crazy, from my point of view, because swap is a normal OS function and shouldn't create this bizarre behavior. But, hey, it works.

[2020-10-13 12:18] fabriziopandini commented on #2316
moving the discussion in a google doc with additional considerations about how to execute the library implementation work
https://docs.google.com/document/d/1dHb_juyzPrlVxTQG8u9wb4D0jbvhG9drON1_GTiAKPg/edit#heading=h.mmdy2qhamw1t

[2020-10-13 20:37] eknudtson opened #2323 "Unable to join workers with BGP Unnumbered RFC 5549"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.17.12

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.17.12
- **Cloud provider or hardware configuration**: baremetal
- **OS** (e.g. from /etc/os-release): Centos 7
- **Kernel** (e.g. `uname -a`): 3.10.0-1127.19.1.el7.x86_64
- **Others**: Calico 3.1

[2020-10-14 13:58] neolit123 commented on #2323
thanks for moving this ticket here and sorry for the delay.

i should point out that i'm not familiar with " BGP Unnumbered" and with big portions of RFC 5549.

having an overview here, i think this is a bug that should be fixed for 1.20, yet unclear whether we can backport it to older releases. probably not, due to the fact that the bug fix will introduce a change in behavior. to be discussed...

[2020-10-14 14:03] neolit123 commented on #2323
Q: in case you trying a HA setup (more than one CP nodes) are you *not* seeing this problem, because you are being explicit about the advertiseAddress on such CP nodes via JoinConfiguration?

[2020-10-14 14:49] neolit123 commented on #2323
and another Q: can you use `kubeadm join --skip-phases=preflight ...` to workaround the problem?

[2020-10-14 16:46] eknudtson commented on #2323
Thanks for the help here!

We do have a HA setup, I'm actually unable to join controllers as well.  I'm wondering if the fix mentioned in the PR I linked at the top was only for `kubeadm init`:

[code]

Here's the kubeadm-join config on a controller:
[code]

Here's a worker join w/ `--skip-phases=preflight`:

[code]

We're currently manually patching + building kubeadm with this in order to use ku

[2020-10-14 16:50] randomvariable commented on #2323
@eknudtson this looks like a problem in API Machinery in terms of how the transport library selects the outbound interface for connecting to the API server. We should move this issue to k/k and mark it for SIG API Machinery for resolution.

Checking for unicast IP is acceptable for IPv4, but we should allow link local in the case of IPv6.

[2020-10-14 16:51] eknudtson commented on #2323
FWIW, here's an example of our controller network interface configs:

[code]

Where we have BGP peering running off of the .300 VLAN subinterfaces.  The 10.10.10.40 address is an anycast IP that functions as the control plane endpoint IP.

The setup there is anycast IP -> local haproxy running on each controller -> load balancing between controller IPs.

Kubeadm should select the first IPv4 on the

[2020-10-14 16:54] eknudtson commented on #2323
To be sure: IPv6 in this case is only for peering with the connected routers automatically w/ BGP Unnumbered.  RFC 5549 then kicks in and we advertise and receive IPv4 routes via the peering.

[2020-10-14 17:10] neolit123 commented on #2323
hm, are you sure this --config is not a control-plane config? the warning above indicates this is try to join a CP node.
does skipping the preflight work for workers.

[2020-10-14 17:12] neolit123 commented on #2323
we had a discussion about this in the kubeadm office hours meeting today.

so there are a couple of issues here:
1) kubeadm should stop fetching the configuration  from the cluster in case of worker join
2) the apimachinery helper functions for determining IPs fails:
[code]

even if we make kubeadm tolerate your setup, @randomvariable had concerns that the rest of k8s will fail because they use th

[2020-10-14 17:13] randomvariable commented on #2323
neolit123 pipped me to the post, but going by

So, if I understand it correctly, the IPv4 routes back to the API server migrate to the IPv6 interfaces? That would explain why kubelet actually works. I admit I don't understand the RFC in detail.

[2020-10-14 17:15] neolit123 commented on #2323
cc @aojea do you happen to know if this use case is supported (see OP)?

[2020-10-14 17:26] neolit123 opened #2324 "change the documentation steps for control-plane drain/uncordon upgrade"
see discussion at:
https://kubernetes.slack.com/archives/C2P1JHS2E/p1602607418097000

change the documentation steps for control-plane drain/uncordon upgrade:
https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

for CP nodes, currently the page instructs the users to:
- drain a CP node
- upgrade static pods
- uncordon the node
- repeat for other CP nodes
- upgrade kubelet

[2020-10-14 18:21] eknudtson commented on #2323
[code]

I'll try and clarify as best I can:

On a machine, its global unicast is present on the loopback interface as a /32.

Each interface that peers with the upstream router has IPv6 running with Router Advertisements and neighbor discovery running.  Thus, each end of the link knows the fe80 link local address of the other end, and the MAC of the other end.

In FRR (the routing suite we use), y

[2020-10-14 18:34] eknudtson commented on #2323
[code]

I don't have any control plane config present in /etc/kubernetes/kubeadm-join.yaml :

[code]

[2020-10-14 19:00] randomvariable commented on #2323
Ah, ok, found the caller path finally:
((FetchInitConfigurationFromCluster -> k8s.io/cmd/kubeadm/app/util/config/SetInitDynamicDefaults) or (LoadOrDefaultJoinConfiguration -> DefaultedJoinConfiguration/documentMapToJoinConfiguration -> SetJoinDynamicDefaults -> k8s.io/cmd/kubeadm/app/util/config/SetJoinControlPlaneDefaults)) ->
k8s.io/cmd/kubeadm/app/util/config/SetAPIEndpointDynamicDefaults ->
k8

[2020-10-14 19:18] eknudtson commented on #2323
FYI I'm also seeing errors on
[code]

[2020-10-14 19:43] eknudtson commented on #2323
I watched the office hours video on this, and it would be great to be able to tell kubeadm which egress IPv4 to use if we know autodetection will fail.

We have several clusters running with BGP unnumbered, and we currently patch kubeadm with https://patch-diff.githubusercontent.com/raw/kubernetes/kubernetes/pull/69578.diff to make upgrading and joining work.  Outside of that, everything works wel

[2020-10-14 19:43] neolit123 commented on #2323
@randomvariable

yes, during the meeting i was trying to explain that this is code is used in multiple places in k8s.
in kubeadm for picking a node IP, but also in the kube-apiserver for picking the bind address:
https://github.com/kubernetes/kubernetes/blob/9488fbef64afd580d053347e57819817e51ac0f9/pkg/kubeapiserver/options/serving.go#L63

but if you pass an explicit IP it should work and local ne

[2020-10-14 19:51] neolit123 commented on #2323
similar problem to:
https://github.com/kubernetes/kubeadm/issues/2039#issuecomment-704337315

where dynamic defaults break flag overrides of --cri-socket over the value in a config.

@fabriziopandini i think it's time to make the dynamic defaults apply only on demand on not by default during config fetch from cluster, config load from disk or even for commands like `config images pull`

[2020-10-14 20:53] aojea commented on #2323
I'm trying to catch up, so forgive me if I miss something

why we should modify the kubernetes code to select the default route if BGP can install the routes?

[2020-10-14 20:59] neolit123 commented on #2323
i had to Google BGP when we logged this ticket so i'm really not familiar with this.

[2020-10-14 21:01] neolit123 commented on #2323
the apimachinery logic fails in this case. it's located here:
https://github.com/kubernetes/apimachinery/blob/master/pkg/util/net/interface.go#L425

[2020-10-14 21:01] aojea commented on #2323
yeah, I am, so you use global address on the interface because those are always reachable.
If you use the address of one interface, it is going to depend on the interface status, if it is down, and the other is up, you don' t have connectivity.
Will take a look tomorrow, is a bit late now
/assign

[2020-10-14 21:04] fabriziopandini commented on #2323
Yes, as said today there are two problems at stake
1. autodetecting the IP address.
2. the overall config fetch & defaults management.

For 1, @eknudtson provided a possible fix, and I will ask people to have eyes on IT (this is a tricky piece of code, so more eyes, the better).

For 2, my suggestion is to avoid to rush a solution.
My initial reaction is that we should avoid changing the whole cha

[2020-10-14 21:07] neolit123 commented on #2323
ok, i see it was linked here:

My initial reaction is that we should avoid changing the whole chain of fetch / defaulting because of the possible blast radio, instead I will explore if we can have a better distinction between join control plane (which requires init configuration) and join worker (which does not init configuration, but currently is reading it no matter of)

it's a bit of a mess, an

[2020-10-15 07:47] aojea commented on #2323
Sorry, I didn't meant to assign to me, just to watch the issue
/unassign
/cc

why kubeadm join from a worker has to to autodetect the IP address?

Can you point me to who is calling to  `ResolveBindAddress()`?
I was able to narrow it down to here
https://github.com/kubernetes/kubernetes/blob/e1fd2d7ff57af153023347d72d17226effd917c8/cmd/kubeadm/app/util/config/cluster.go#L85
but I'm stuck there

[2020-10-15 08:16] Shuanglu opened #2325 "kubectl join --control-plane failed due to read etcd endpoint timeout"
## What keywords did you search in kubeadm issues before filing this one?

join
etcd timeout

## Is this a BUG REPORT or FEATURE REQUEST?
Bug report

## Versions

**kubeadm version** (use `kubeadm version`):
_kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.1", GitCommit:"206bcadf021e76c27513500ca24182692aabd17e", GitTreeState:"clean", BuildDate:"2020-09-09T11:24:31Z", GoVer

[2020-10-15 12:18] neolit123 commented on #2323
It is called from multiple locations (randomvariable listed one above). I
think one question that i have is whether the function should tollerate
this user case / setup.

[2020-10-15 12:20] neolit123 commented on #2323
It shouldn't. That is the issue on the kubeadm side and the interface
function is the othet problem we are looking at.

[2020-10-15 12:40] neolit123 commented on #2325
Hi, you don't have to copy server certs to new nodes. Those must be
generated. Please have a look at the HA guide again.

This seems like a request for support. Please try #kubeadm on k8s slack for
discussion.

/kind support
/close

[2020-10-15 12:40] #2325 closed

[2020-10-15 21:35] mtaufen commented on #1924
All the CRI stuff is still an open, not-really-discussed question, but IMO we _probably_ want to move them to componentconfig. We likely want to put them in a substructure of the config.

[2020-10-16 11:11] neolit123 commented on #524
/remove-lifecycle rotten

[2020-10-16 15:16] xsim opened #2326 "Kubeadm init fails in v1.19.3"
## What keywords did you search in kubeadm issues before filing this one?

http://localhost:10248/healthz, ContainerManager failed, init, health

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeS

[2020-10-16 19:00] eknudtson commented on #2323
I just wanted to point out that BGP Unnumbered + RFC5549 _do_ appear to be explicitly supported via https://github.com/kubernetes/kubernetes/pull/83475

It appears the other functions in kubeadm weren't also fixed to work with it.

[2020-10-16 19:50] sidharthsurana opened #2327 "Kubeadm incorrectly calculating the node CIDR in cases when the given podSubnet smaller than /24"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
v1.18 and possibly older versions as well
**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.18
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

When configuring a

[2020-10-16 19:51] sidharthsurana commented on #2327
https://github.com/kubernetes-sigs/kind/issues/1256 highlights the same issue when the cluster is created via kind

[2020-10-16 23:38] neolit123 commented on #2323
ResolveBindAddress is also used by the kube-apiserver - if one does not pass an explicit value to its --bind-address flag, so presumably it will fail there too. i'd like to see what the owners of kube-apiserver think about the change that you did here:
https://patch-diff.githubusercontent.com/raw/kubernetes/kubernetes/pull/69578.diff

so potentially:
- we can log a separate issue (again) in kubern

[2020-10-16 23:41] neolit123 opened #2328 "revaluate kubeadm-config download and dynamic defaults"
here we saw a few problems with how kubeadm handles download of configuration from the cluster and then defaults it:
https://github.com/kubernetes/kubeadm/issues/2323

a couple of task here are:
- [ ] do not download the kubeadm-config for worker nodes because they don't need it
- [ ] don't apply dynamic defaults on commands that don't need them (such as `kubeadm config images...`)

[2020-10-16 23:45] neolit123 commented on #2323
also please ping me and @aojea on that ticket.

showing the full kubeadm output and the kubeadm use case is not directly relevant, only this part:
[code]
your interface setup and the proposed DIFF too, i guess.

this is now here:

https://github.com/kubernetes/kubeadm/issues/2328

/close

and sorry for the shuffle of issues, but your report surfaced a number of old problems.
thanks.

[2020-10-16 23:45] #2323 closed

[2020-10-19 07:50] fabriziopandini commented on #2104
/remove-lifecycle stale

[2020-10-19 07:59] fabriziopandini commented on #2328
I'm still making up my mind around this topic, but what about rephrasing the second goal in
- "don't apply dynamic defaults when downloading the config"

My assumption is that defaults should be applied only the first time a config is processed, during init or join, then all the other commands should rely on the values stored in the ConfigMap; Nb. due to the fact that we are not storing node-speci

[2020-10-19 10:50] challapradyumna opened #2329 "Bootstrap signer controller not running"
## What keywords did you search in kubeadm issues before filing this one?

JWS, Join, BootstrapSigner

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.16.9

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.16.9
- **Cloud provider or hardware configuration**: AWS - EC2
- **OS** (e.g. from /etc/os-release): Ubun

[2020-10-19 12:01] neolit123 commented on #2328
would that work for `join --control-plane` too?

[2020-10-19 12:28] neolit123 commented on #2329
/kind support

hi, please show logs of the kube-controller-manager.

what happens if you restart the kube-controller-manager?

note this version is no longer in support.

once you create a new token, can you show the output of the following commands?

[code]

[2020-10-19 12:33] neolit123 commented on #2327
@sidharthsurana thanks for logging the ticket. yes, this is a known problem as noted in the kind ticket.

would you be able to send a PR fix for it?

/kind bug
/priority backlog

[2020-10-19 12:36] neolit123 commented on #2326
hi, this seems like a problem with the node / kubelet and not kubeadm.

there are similar tickets logged in the kubernetes/kubernetes repository:
https://github.com/kubernetes/kubernetes/search?q=%22ContainerManager+failed+to+get+rootfs+info%3A+failed+to+get+device+for+dir%22&type=issues

/close
/kind support
/sig node

[2020-10-19 12:36] #2326 closed

[2020-10-19 12:41] neolit123 commented on #2327
but something to note is that the KCM now has multiple flags for this:
https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/

[code]

it's not clear whether we should move kubeadm to the explicit vX flags at this point?
cc @Arvinderpal

[2020-10-19 12:58] neolit123 commented on #2327
actually we are already tracking this here:
https://github.com/kubernetes/kubeadm/issues/1612

see in the OP:

[2020-10-19 12:58] #2327 closed

[2020-10-19 12:59] neolit123 commented on #1612
help-wanted with resolving this item:

@sidharthsurana recently logged the same issue here:
https://github.com/kubernetes/kubeadm/issues/2327

[2020-10-19 13:22] aojea commented on #1612
I'll take it @neolit123

[2020-10-19 14:22] fabriziopandini commented on #2328
My assumption is that defaults should be applied only the first time a config is processed, during init or join (or join control-plane)

[2020-10-20 02:46] challapradyumna commented on #2329
[code]
The lock messages repeat after that.

Above logs are from restarting kube-controller-manager.

[code]

[code]

[2020-10-20 11:22] neolit123 commented on #2329
that's odd, please answer the bellow questions.

I1020 02:40:38.578687       1 leaderelection.go:246] failed to acquire lease kube-system/kube-controller-manager

- this is just an informal message. do you see any log entries prefixed with `E...`?
- are you running an HA setup with multiple controller-managers?

[code]

the tokens are indeed missing.
- did you temper with the cluster RBAC rules ar

[2020-10-20 18:19] challapradyumna commented on #2329
[code]

[2020-10-20 18:25] challapradyumna commented on #2329
So, there is an existing cluster bootstrapped by Hyperkube. This new cluster bootstrapped by kubeadm is supposed to join the exisiting one and those will be phased out gradually. The first node bootstrapped (kubeadm init) is able to join the cluster as master. But when the 2nd node i.e minion is being joined through `kubeadm join` command it fails beacuse of the jws tokens.

[2020-10-20 18:31] neolit123 commented on #2329
the KCM flags seem fine, here are the 1.19.x defaults:
[code]

is the original cluster created by kubeadm?
my only guess is that the original cluster has the RBAC missing.

you should be using kubeadm join to join nodes to the old cluster. i'm not sure how "kubeadm init" works for joining a new node in this case; are you sure the "kubeadm init" node is not creating a new cluster?

[2020-10-20 18:33] neolit123 commented on #2329
i'm going to close this ticket until there is evidence of an actual kubeadm bug here, but please feel free to ask more questions.
also, if the original cluster was not created by kubeadm joining more nodes to it is an unsupported scenario.

[2020-10-20 18:33] #2329 closed

[2020-10-20 18:45] challapradyumna commented on #2329
Etcd Cluster is External. everyone talks to the etcd nodes to get / update the state of cluster.
Since none of kubeadm specific config-maps and secrets are not there in etcd because the cluster is bootstrapped by hyperkube. I have to use `kubeadm init` so that all the cm and secrets are created in etcd for future nodes to join.

[2020-10-20 18:55] neolit123 commented on #2329
ok, so my understanding is that kubeadm was not used to create the original cluster.

instead of using `kubeadm init` (as a whole) you should try using it's phases:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/

in particular:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init-phase/#cmd-phase-bootstrap-token
which is responsible for setting the RB

[2020-10-20 23:43] CecileRobertMichon commented on #1685
@neolit123 I'm running into this exact issue (the hairpin routing one) trying to set up private clusters with Cluster API on Azure: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/974#issuecomment-713200730

Has anyone in this thread found a workaround to get kubeadm init to work when using an Azure load balancer? If not, should I open a new issue to track this?

Slack thread: h

[2020-10-21 06:53] pschulten commented on #1685
@CecileRobertMichon I chose "the very hacky iptables duct tape" (with a heavy heart) but had no issues the last couple of month (AWS/NLB)

[2020-10-21 14:58] neolit123 commented on #1685
@pschulten can you please outline your iptables routing hack in a comment here?

@CecileRobertMichon
we have LB related documentation here:
https://github.com/kubernetes/kubeadm/blob/master/docs/ha-considerations.md

we could add a section in there with solutions for solving the hairpin problem, but this feels like something someone that experienced the problem should contribute and not the kubead

[2020-10-21 15:49] pschulten commented on #1685
sure it's just something someone mentioned in  a related issue.
service:
[code]

impl (nlbname injected from the outside):
[code]

[2020-10-21 15:59] neolit123 commented on #1685
thanks!

[2020-10-21 15:59] CecileRobertMichon commented on #1685
@neolit123 I'm hesitant to document "solutions" at this point since all the possibilities are hacky workaround at this point. Ideally kubeadm would let us optionally either a) use the local api endpoint for the API Server check or b) skip that check altogether (I prefer option a).

I'm thinking of using the iptables workaround for now to unblock CAPZ but I'm happy to contribute a proposal/implemen

[2020-10-21 16:01] detiber commented on #1685
Creating a NAT rule for the external IP is indeed probably the best way to resolve the issue. I'm not sure there is a good way to automate it for all the various combinations that would need to be supported, though.

For example:
- Is the host system using iptables, ebtables, etc?
- How to discover what the external IP should be for Azure LB, AWS NLB, etc?

I do think external orchestration system

[2020-10-21 17:07] neolit123 commented on #1685
as mentioned on slack and on https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/974#issuecomment-713641626 i do not disagree with the idea.

[2020-10-22 16:51] jayunit100 opened #2330 "windows: kubelet tries to load C:\var\lib\kubelet\etc\kubernetes\pki\ca.crt"
## Is this a request for help?

no

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

1.18

## What happened?

Kubeadm seems to be saying it can't load the cert files im specifying in windows...  but its not clear why its looking in this path (there is nothing there)

Looking in the kubelet logs via `PS C:\k> cat 'C:\var\log\kubelet\kubelet.exe.ERROR'` ...

[code]

## What you

[2020-10-22 16:54] neolit123 commented on #2330
/kind support

what are the contents of the /var/lib/kubelet/config.yaml (that has the KubeletConfiguration)?

[2020-10-22 17:01] neolit123 commented on #2330
please provide reproduction steps and more details.

[2020-10-22 17:22] benmoss commented on #2330
Yes, this was a known problem that we worked around in sig-windows-tools scripts just by symlinking `/etc/kubernetes/pki` to `/var/lib/kubelet/etc/kubernetes/pki` https://github.com/kubernetes-sigs/sig-windows-tools/blob/master/kubeadm/scripts/PrepareNode.ps1#L65

[2020-10-22 17:25] neolit123 commented on #2330
ok, that was it...i don't recall the actual problem though i think it goes down to client-go / abs paths.

[2020-10-22 17:25] neolit123 commented on #2330
@jayunit100 and like mentioned on slack this is not a kubeadm bug per-se, but if you want to dig down to it, we should log a kubernetes/kubernetes issue.

[2020-10-22 17:28] neolit123 commented on #2330
added a mention about this in https://github.com/kubernetes/kubeadm/issues/1393 (windows tracking issue)
and closing this one.

@jayunit100 please ping me on a potential k/k ticket about the actual bug in core.
thanks

[2020-10-22 17:28] #2330 closed

[2020-10-22 23:59] distortedsignal opened #2331 "Token not being added to configmap after kubeadm token create"
## What keywords did you search in kubeadm issues before filing this one?
Through Google, I found ticket #668. This issue is somewhat similar to #668, though I believe that there may be a different root-cause. I do not know the root cause of that issue, so I am opening a narrower issue. This also seems similar to 1988, though all the machines I am using are persistent.

## Is this a BUG REPORT or