[2018-02-14 16:20] DGreenstein commented on #618
@timothysc - so what was the verdict on this?  Is the intent to vendor in the etcd client and use that for making the etcd dump?  How does this align with the demo from last week, where we saw the external etcd manager?  Should this just be a documented manual effort until etcdmgr is ready?  Do we want to proceed with enhancing the functionality of the kubeadm upgrade command?

FWIW: I agree with

[2018-02-14 16:47] derekoco commented on #574
Had this issue, on your joining node ensure that the cgroup driver used by the kubelet is the same as the one used by Docker.

From the joining node:
[code]

From the master node:
[code]

Hope this helps,
DOC

[2018-02-14 23:59] andreas-p opened #701 "kubeadm 1.9.3 applying https_proxy to internal traffic"
There are quite some complaints about having a hard time to define no_proxy exceptions for https_proxy settings so that kubeadm can work successfully. Actually, I fail to see why kubeadm does apply  https_proxy settings for internal traffic in the first place. A web proxy is installed to control access to websites and download areas, not for filtering internal traffic. That's why I believe that it

[2018-02-15 21:52] arunkumar9050 opened #702 "Couldn't connect to the node"
root@ip- -- -- :~# kubeadm join --token 7907ea.c9fde6c416155afb 172.31.xx.xx:6443 --discovery-token-ca-cert-hash sha256:c9bc0680fbbc4951c917548ebd061c0f788bb5513ec6716b2dbaef2ac97

[preflight] Running pre-flight checks.
        [WARNING FileExisting-crictl]: crictl not found in system path
[discovery] Trying to connect to API Server "172.31.xx.xx:6443"
[discovery] Created cluster-info discovery cl

[2018-02-15 21:55] bartosh commented on #702
Is this host behind a proxy?

[2018-02-15 21:59] arunkumar9050 commented on #702
yes

[2018-02-15 22:00] bartosh commented on #702
Can you show the output of the following command:
[code]

[2018-02-15 22:00] bartosh commented on #702
Btw, which kubeadm version do you use?

[2018-02-15 22:02] arunkumar9050 commented on #702
<img width="960" alt="untitled" src="https://user-images.githubusercontent.com/22399060/36283285-aaf8ea98-1269-11e8-8615-2d691123c627.png">

[2018-02-15 22:07] kad commented on #702
Please verify that you don't have firewall running on master and worker nodes. (you can verify with expecting output of `iptables-save`). Also, please verify that you have network connectivity between your networks 172.31.26.xx (master) and 172.31.25.xx (slave)

[2018-02-15 22:09] bartosh commented on #702
Is the host in the same network? what's the host ip address? Is there active firewall either on the host or on 172.31.26.90 filtering out port 6443 traffic.

[2018-02-15 22:19] arunkumar9050 commented on #702
this is my output after i run the command iptables-save
<img width="960" alt="1" src="https://user-images.githubusercontent.com/22399060/36284035-e5e61e58-126b-11e8-8831-a03edfeb7601.png">

[2018-02-15 22:19] arunkumar9050 commented on #702
yes both are in same network

[2018-02-15 22:48] bartosh commented on #702
Can you check if you're able to access your master before and after 'kubeadm reset' on the node?
You should see something like this if all goes well:

[code]

[2018-02-15 22:52] arunkumar9050 commented on #702
I have disabled the firewall in both master and node. and i got the output

kubeadm join --token 7907ea.c9fde6c416155afb 172.31.26.90:6443 --discovery-token-ca-cert-hash sha256:c9bc0680fbbc4951c9172ddec548ebd061c0f788bb5513ec6716b2dbaef2ac97
[preflight] Running pre-flight checks.
        [WARNING FileExisting-crictl]: crictl not found in system path
[discovery] Trying to connect to API Server "172

[2018-02-15 22:56] bartosh commented on #702
interesting. Do you see any errors in kubelet log?

[code]

[2018-02-15 23:00] arunkumar9050 commented on #702
![image](https://user-images.githubusercontent.com/22399060/36285562-adf87b34-1271-11e8-9f5b-edca7da9456a.png)

[2018-02-15 23:06] bartosh commented on #702
How did you initialized your master? Did you install a [pod network](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network)?

[2018-02-15 23:07] arunkumar9050 commented on #702
https://www.techrepublic.com/article/how-to-quickly-install-kubernetes-on-ubuntu/

[2018-02-15 23:13] arunkumar9050 commented on #702
My problem is that kubectl get nodes only shows the master, not the worker node as well.

[2018-02-15 23:18] arunkumar9050 opened #703 "kubectl get nodes only shows the master, not the worker node"
I have tried installing kubernetes using
[https://www.techrepublic.com/article/how-to-quickly-install-kubernetes-on-ubuntu/]

i connected one node successfully.
if i type kubectl get nodes in master, i can see only master and not the connected node

[2018-02-15 23:18] #702 closed

[2018-02-16 12:12] alexpekurovsky commented on #684
Is if fixed in 1.9.3?

[2018-02-16 12:15] alexpekurovsky commented on #691
Try to copy also sa.* files, not only ca.*
It solve do for me exact same problem

[2018-02-17 09:48] rsterrenburg commented on #413
Running into the same issue using kubeadm upgrade on raspberry pi 2 cluster. Upgrade fails due to agressive timeouts. Changing the liveness probe settings in the manifests doesn't help. Any ideas?

[2018-02-17 15:19] alexpekurovsky commented on #484
@dkirrane As for 1.8 version you have to use /etc/kubernetes/pki hack and pass extra arguments to apiserver and controllermanager. You need to check original location of /etc/kubernetes/cloud-config doesn’t exist.
Starting from 1.9 you can add extra volumes to apiserver and controllermanager to mount /etc/kubernetes/cloud-config and use default location

[2018-02-17 16:34] krasaee commented on #691
Confirmed, problem was the /etc/kubernetes/pki/sa.* files need to be moved from master0 node as well. Suggest updating the document to reflect this. I was able to fix this simply by copying the files over and restarting the cluster.  in my case kube-dns refused to go online after calico-node installation using external etcd.

[2018-02-17 17:44] bart0sh commented on #668
@brendandburns @binarybana Can you show controller-manager log from your master?

[2018-02-17 21:53] alexpekurovsky commented on #691
It's already in PR for documentation https://github.com/kubernetes/website/pull/7425

[2018-02-17 23:46] anguslees commented on #413
I still propose a pattern where any timeout is inherited from the calling context (or part of a more sophisticated error recovery strategy), rather than sprinkling arbitrary timeouts throughout the lower levels of the kubeadm codebase.

In its simplest form, this would behave almost exactly like removing all the timeouts from kubeadm and replacing them with one overall "run for xx mins, then abort

[2018-02-18 14:46] sujeetkp opened #705 "Access Kubertnetes Cluster From a Remote Host present is a Different Network"
I have deployed a 2 node 1 master k8s cluster on google cloud with the help of kubeadm.

root@ubuntu-vm-1404:~/ansible/Kubernetes# kubectl --kubeconfig kubernetes.conf get nodes
NAME                STATUS    ROLES     AGE       VERSION
kubernetes-node1    Ready     <none>    1h        v1.9.3
kubernetes-node2    Ready     <none>    1h        v1.9.3
master-kubernetes   Ready     master    1h

[2018-02-18 15:33] fabriziopandini opened #706 "Make kubeadm upgrade HA ready"
Current implementation of the `kubeadm upgrade` relies on the `kubeadm-config` configMap created at `kubeadm init` time.

Such configMap - that is the serialization of the master configuration file -, contains two kind of information:
- Cluster attributes
- Master attributes = information that are specific of the master node where init is executed e.g. the nodeName

To make `kubeadm upgrade` worki

[2018-02-18 23:25] SGrengel commented on #691
Thank You for the hint we'll Test it ...

[2018-02-19 10:36] alvarosIGZ opened #707 "Not able to resize GlusterFS persistent volume"
# Versions

**kubeadm version**
kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-07T11:55:20Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit

[2018-02-19 14:28] kfox1111 commented on #253
Looking at the current docker.io build for the pi zero,
Go version: go1.9.3
and docker version: 18.02.0-ce

It does seem to be using a recent version of go.

I agree that there is not enough ram to use k8s on it in a standalone mode, but having it be a slave on a bigger master, it should have enough resources to do some useful things still.

[2018-02-20 01:58] mattkelly commented on #612
@luxas @timothysc I'm confused by the ongoing discussion here. As @xmudrii correctly pointed out, `kubeadm` does not install `kubelet` for you and so the version must be pinned separately with whatever mechanism `kubelet` is installed using. In the kubicorn script referenced here, [the version is not being pinned](https://github.com/kris-nova/kubicorn/blob/master/bootstrap/amazon_k8s_ubuntu_16.04_

[2018-02-20 12:45] SGrengel commented on #691
Cluster works fine now after sa.* files in /etc/kubernetes/pki have been copied to the additional Masters, too before running kubeadm init.

Thank´s to everybody for the help.

[2018-02-20 12:45] SGrengel commented on #691
Problem solved ...

[2018-02-20 12:45] #691 closed

[2018-02-20 13:53] bart0sh commented on #322
@YDD9 can you point me out to that doc?

It looks like a format error to me. "endpoint-reconciler-type=lease" doesn't look like valid yaml to me.

[2018-02-20 14:10] mattkelly commented on #322
@bart0sh I'm guessing that @YDD9 was referring to this doc: https://kubernetes.io/docs/setup/independent/high-availability/#kubeadm-init-master0. There was some misleading text in there that has [since been fixed](https://github.com/kubernetes/website/pull/7370/files#diff-882a2f00a1e48794c57974b92121984aR445).

@YDD9 have you changed that last line to `endpoint-reconciler-type: lease` and retried?

[2018-02-20 14:19] mattkelly commented on #698
I'm happy to pick this up unless you were planning on it @mbert. I know there was some recent discussion around avoiding adding command line flags for now. I guess an optional arg such as this doesn't count so we're ok with doing this?

[2018-02-20 14:27] bart0sh commented on #388
I'd like to work on this issue. Any objections? Any suggestions on the best way to implement this?

[2018-02-20 14:46] mbert commented on #698
That would be nice. I wasn't planning on it since I usually don't develop in go, hence would have to do some catching up in setting up toolchain, understanding code etc. I guess you'll be faster :)

[2018-02-20 14:52] timothysc commented on #388
@bart0sh - Please coordinate with @kad on your side.

[2018-02-20 15:18] timothysc commented on #388
So I'm not really a fan of having kubeadm pull the images, but I do like the option of list images which could be piped into a docker pull command.  This seems trivial and would help with other image automation tools.

/cc @detiber

[2018-02-20 15:20] bart0sh commented on #388
Is it better to implement as a preflight check for kubeadm init or you can suggest better place?

[2018-02-20 15:26] timothysc commented on #388
Having local images pulled should be the exception case and people build tooling around it, adding a configuration parameter that can be leveraged during preflight check seems ok, but I don't think it should rise to a publicly visible flag.  I do think a 1st class `kubeadm images` subcommand is generally useful but I think I'd want to discuss that with the sig.

[2018-02-20 17:56] arunmk commented on #668
@bart0sh how do we get the controller manager logs? I looked at the etcd database using the etcdctl utility and see that, on a working machine the token is present while on the failing machine the token isn't. This is the command used:
`ETCDCTL_API=3 ./etcdctl get "/registry/configmaps/kube-public/cluster-info"`

Working machine:
`
cluster-info
            kube-public"6/api/v1/namespaces/kube-publ

[2018-02-20 18:40] arunmk commented on #668
There are also numerous errors in the journal logs as follows:
`
k8s.io/kubernetes/pkg/controller/bootstrap/bootstrapsigner.go:151: Failed to list *v1.Secret: User "system:serviceaccount:kube-system:bootstrap-signer" cannot list secrets in the namespace "kube-system".: "role.rbac.authorization.k8s.io \"system:controller:bootstrap-signer\" not found" (get secrets)
`

[2018-02-20 19:50] bart0sh commented on #668
@arunmk you can get controller manager logs this way:
[code]

You can see name of its pod using kubectl get pods:
[code]

It would be interesting to see its logs when new token is created and configmap requested:
[code]

[2018-02-20 20:52] YDD9 commented on #322
@bart0sh @mattkelly  yes, it's a format error in yaml from the document, should be `endpoint-reconciler-type: lease`, it looks now the documents has updated and changed.  https://github.com/kubernetes/website/issues/7355

[2018-02-21 04:04] arunmk commented on #668
@bart0sh ah ok, you were mentioning the pod logs. I was thinking of some process related logs in journald. I’ll get these out.

[2018-02-21 13:19] gades commented on #639
This issue was not fixed on 1.9.3

**Version Info:**

[code]

[code]

[code]

[2018-02-21 13:33] webwurst commented on #128
but also https://github.com/kubernetes/kubernetes/pull/59357

[2018-02-21 15:42] ricklagerweij opened #708 "Make kubeadm give an option to generate certificates for x amount of days."
If this is a FEATURE REQUEST, please:
Currently kubeadm generates certificates for 1 year, when upgrading a cluster these certificates obviously don't refresh.

Would it be possible to give an x amount of days for certificate valid duration?

## Versions

**kubeadm version** (use `kubeadm version`): 1.9.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.9.3
- **Cloud provider

[2018-02-21 15:57] mattkelly commented on #708
There's a lot of discussion already around supporting certificate rotation: https://github.com/kubernetes/kubeadm/issues/206. Additionally, as of 1.9, a `kubeadm upgrade` will [automatically renew certificates that are going to expire within 180 days](https://github.com/kubernetes/website/pull/6901/files#diff-63b2ac648f939ca8bfa354ef91f3f31cR178.).

Just adding some historical context. I'm not sur

[2018-02-21 21:14] stealthybox commented on #706
Current issue described by this comment:
https://github.com/kubernetes/kubeadm/issues/546#issuecomment-365063404

[2018-02-22 00:53] dixudx commented on #639
@gades What's your cgroup driver?

[code]

[2018-02-22 02:09] #567 closed

[2018-02-22 07:01] #411 closed

[2018-02-22 15:38] alvarosIGZ commented on #340
@vbmade2000 any news about it?

[2018-02-22 16:19] marranz commented on #668
Hi,

I'm experiencing this same problem ONLY when creating the master with the flags --cloud=aws or when i enable it on the config file.

this is a config file example:

`apiVersion: kubeadm.k8s.io/v1alpha1
kind: MasterConfiguration
api:
  advertiseAddress: 10.1.11.22
networking:
  podSubnet: 192.168.0.0/16
cloudProvider: aws`

When i remove 'cloudProvider: aws' on new nodes or after running 'kube

[2018-02-22 19:25] cwedgwood commented on #688
i see this too:

[code]

what looks to be happening is docker kill/rm gets upset because of a wedged nfs mount

@vhosakot could it perhaps be something like that as well for you?  that is stuck mount point?

[2018-02-22 19:28] vhosakot commented on #688
@cwedgwood I don't have any mount point and still see this issue.

Restarting docker by doing `sudo systemctl restart docker.service` resolves this issue and `sudo kubeadm reset` works fine without issues.

[2018-02-22 22:41] mattkelly commented on #706
@fabriziopandini I'm interested in picking this up but I'm a bit confused about how it would work / what exactly is needed.

1. [`NodeName`](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha1/types.go#L49) and [`CRISocket`](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/v1alpha1/types.go#L71) are the only node-specific mast

[2018-02-23 02:15] seafoodbuffet opened #709 "Bootstrapping HA master nodes fails"
## Is this a BUG REPORT or FEATURE REQUEST?
Choose one: BUG REPORT
## Versions

**kubeadm version** (use `kubeadm version`):

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **Cloud provider or hardware configuration**: Vagrant / Virtualbox
- **OS** (e.g. from /etc/os-release): CentOS 7.4
- **Kernel** (e.g. `uname -a`): Linux master01 3.10.0-693.17.1.el7.x86_64

[2018-02-23 09:27] guhuajun commented on #687
Greetings,

Please refer to https://docs.docker.com/config/daemon/systemd/#httphttps-proxy to set proxy for docker daemon.

[2018-02-23 14:20] edward-of-clt commented on #684
+1

[2018-02-23 16:55] fabriziopandini commented on #706
@mattkelly thanks for helping on this issue!

I happily share my personal opinion on how it would work / what exactly is needed, but please consider that it is necessary to get a wider consensus before starting to write a PR for this issue.

The key elements of my idea are:

- We will support only `kubeadm join --master` as a way for adding new masters; this gives us the opportunity to have a stri

[2018-02-23 17:25] mattkelly commented on #706
I'm not yet qualified to really comment on whether that general approach would be acceptable, but it does seem pretty reasonable to me. We already [require a unique MAC address and `product_uuid`](https://kubernetes.io/docs/setup/independent/install-kubeadm/#verify-the-mac-address-and-product_uuid-are-unique-for-every-node) for each node, so we do have potential sources for UIDs on each master.

I

[2018-02-24 00:15] stealthybox commented on #706
@mattkelly feel free to add a new section for next week with an agenda item 🙂
https://docs.google.com/document/d/130_kiXjG7graFNSnIAgtMS1G8zPDwpkshgfRYS0nggo/edit#heading=h.48xxo9690nfd

[2018-02-24 00:40] stealthybox opened #710 "Add separate CA for etcd certificates"
/kind feature
/area etcd
/area kubeadm
/area security
/sig cluster-lifecycle

**What happened**:
When generated etcd certificates, kubeadm reuses the kubernetes CA.
This means that any kubernetes client cert (such as certs used to contact the apiserver) can also interact with etcd directly, bypassing validation, RBAC, and other logic.

**What you expected to happen**:
kubeadm should generate TLS i

[2018-02-24 01:10] TonyApuzzo opened #711 "Please document that self-hosted feature does not survive a reboot (v 1.9.3)"
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
Dell R720 Bare Metal Server

- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

- **Others**:

## What happened?
P

[2018-02-24 07:50] GoodJoey opened #712 "what should i do, if a Non-HA cluster's master node is rebooted?"
i init my cluster by kubeadm, but the master node is rebooted by accident, and no container is running after reboot.
how can i recover the cluster?

[2018-02-24 08:14] xiangpengzhao commented on #622
As per chat with @vbmade2000 on slack, I will finish the TODO `Cleanup old upgrading code that is v1.8->v1.9-specific`. PR https://github.com/kubernetes/kubernetes/pull/60359 sent.

[2018-02-24 14:33] kargakis opened #713 "Mixed kubelet versions break 'kubeadm upgrade plan' formatting"
[code]

[2018-02-24 14:41] kargakis commented on #706
Is there any overlap between this and dynamic kubelet config?

[2018-02-24 14:43] fabriziopandini commented on #566
This is going to be fixed with https://github.com/kubernetes/kubernetes/pull/60059

[2018-02-24 14:43] fabriziopandini commented on #566
/remove-lifecycle stale

[2018-02-25 01:51] #676 closed

[2018-02-25 06:06] stealthybox commented on #710
/assign

[2018-02-25 08:38] fabriziopandini commented on #706
@kargakis I don't think there is an overlap. Kubeadm applies the same dynamic kubelet config to all nodes, so IMO for the scope of this discussion the dynamic kubelet config is not a node-specific configuration.

[2018-02-25 15:30] patrickstjohn commented on #684
+1

[2018-02-26 08:51] xiangpengzhao commented on #571
@timothysc wrote in https://github.com/kubernetes/kubernetes/issues/53084#issuecomment-367517086 (Graduate the kubeletconfig API to beta)

I updated the TODO list https://github.com/kubernetes/kubeadm/issues/571#issuecomment-347408384 as per the final implementation of https://github.com/kubernetes/kubernetes/pull/53833. The only bullet in the TODO list is `switch feature gate from alpha to beta a

[2018-02-26 09:31] utkarshu91 opened #714 "cannot add node to the master , kube-apiserver stuck at pending"
BUG REPORT

If this is a BUG REPORT, please:
 i have setup kubernetes master on VMware virtual machine ubuntu 16.04 LTS and  is running fine but Cannot add node to the master , using network calico, and tried with wave and flannel, but the issue is there
## Versions

root@ubuntu:~# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c

[2018-02-26 09:41] xiangpengzhao commented on #693
This is expected. FYI: https://github.com/kubernetes/kubernetes/pull/58769#issue-164961038
/cc @pmichali

[2018-02-26 09:48] aoxn opened #715 "kubeadm cannot work with external cloudprovier under selfhosting mode"
## Problem describe
kubeadm.cfg
[code]

kubeadm init --config kubeadm.cfg

[code]

**error creating self hosted control plane: timed out waiting for the condition** Error occured.

[code]

## Fix

kubelet will taint node with ```node.cloudprovider.kubernetes.io/uninitialized``` on node initializing. kubeadm should take care of this taint by adding a toleration on control panel pod when bootstrap a

[2018-02-26 09:49] xiangpengzhao commented on #679
/close
as this is already fixed by the referenced PRs.

[2018-02-26 09:49] #679 closed

[2018-02-26 09:50] mdianjun opened #716 "Should Kubeadm must be able to connect to dl.k8s.io"
What does kubeadm do when upgrading plan?

[code]

My host couldn't connect to dl.k8s.io, so I setup a nginx server as dl.k8s.io, but create only a file /release/stable.txt whose content is "v1.9.3", then kubeadm will connect to the nginx server and get latest stable version v1.9.3. However,  another error appears: grpc: timed out when dialing. What should I do? Should kubeadm must be able to conn

[2018-02-26 12:19] xiangpengzhao commented on #711
This is documented here:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#self-hosting

But yeah, it's kinda simple and doesn't give a workaround (the `manual intervention`).

[2018-02-26 12:19] mdianjun commented on #716
Oh, I know after I read the kubeadm source code, it's because kubeadm needs to get etcd version by using localhost:2379, but I change etcd's address to 172.*.*.*。

[2018-02-27 01:01] arunmk commented on #668
@bart0sh looks like the problem got fixed. We suspected that the secret could not be read by the `system:serviceaccount:kube-system:bootstrap-signer` in order to create a signed token. Hence we applied the attached file and that allowed the `system:serviceaccount:kube-system:bootstrap-signer` to read and sign the token.

[k8s-workaround-cr.txt](https://github.com/kubernetes/kubeadm/files/1749532/k

[2018-02-27 08:35] Deimos620 opened #717 "Kubernetes dashboard / dns is not working after installation on the kubeadm - inited master."
##### Environment
[code]

##### Steps to reproduce
1. install kubeadm: sudo apt-get install kubeadm kubectl kubelet kubernetes-cni
2. kubeadm init
3. config kubernetes

4. And, I installed pod network with this:

5. Install dashboard:

##### Observed result
Here is result:

It says in "ContainerCreating" status, and , totally, can't access to dashboard via proxy due to "Service is not available" e

[2018-02-27 10:03] jzhbiao commented on #684
+1

[2018-02-27 10:06] jzhbiao commented on #684
centos 7 and I set proxy in /etc/env then show as 👎
[WARNING FileExisting-crictl]: crictl not found in system path
[WARNING HTTPProxy]: Connection to "https://192.168.1.128:6443" uses proxy "socks5://127.0.0.1:1080". If that is not intended, adjust your proxy settings
[WARNING HTTPProxyCIDR]: connection to "10.96.0.0/12" uses proxy "socks5://127.0.0.1:1080". This may lead to malfunctional cluster

[2018-02-27 10:18] bart0sh commented on #668
@arunmk Thank you for the info. Can you tell how have you discovered the reason? Which logs did you look at, etc?

[2018-02-27 10:22] bart0sh commented on #668
@marranz Can you try if @arunmk's solution works for you? Do you see anything suspicious in the controller-manager log?

[2018-02-27 11:31] #461 closed

[2018-02-27 11:58] fabriziopandini commented on #566
fixed by https://github.com/kubernetes/kubernetes/pull/60059

[2018-02-27 11:58] #566 closed

[2018-02-27 12:24] kachkaev commented on #610
It's true that `swapoff -a` is a silver bullet in most cases, however, certain k8s setups may really require swap. For instance, I've got a very small and cheap VM with just 1GB RAM, which I use for a personal GitLab Runner that rarely handles short CI/CD tasks. If I increase the size of the machine, I'll be paying more for a resource that's 99% idle. If I disable swap, `npm install` and other scr

[2018-02-27 16:10] bart0sh commented on #574
@amar123deep Can you show the output of the following commands:
[code]

It would help me to reproduce this issue and investigate it further. Thanks.

[2018-02-27 16:20] seafoodbuffet commented on #709
Okay, figured out what was wrong... I'm leaving my findings in case anyone else finds this. The core problem is that this is a chicken and the egg issue. When you put etcd endpoints into the config yaml for kubeadm, it's expecting that etcd ALREADY EXISTS. I was under the impression that it would deploy etcd pods for me, which wasn't the case.

I ended up choosing the "run etcd using systemd" opti

[2018-02-27 16:20] #709 closed

[2018-02-27 17:20] arunmk commented on #668
@bart0sh I saw numerous errors in journalctl logs of the form:
`
k8s.io/kubernetes/pkg/controller/bootstrap/bootstrapsigner.go:151: Failed to list *v1.Secret: User "system:serviceaccount:kube-system:bootstrap-signer" cannot list secrets in the namespace "kube-system".: "role.rbac.authorization.k8s.io \"system:controller:bootstrap-signer\" not found" (get secrets)
`

That, and the dump of the etcd

[2018-02-27 17:44] adi658 commented on #23
Did anyone get the Dashboard working with basic authentication ? The basic auth just doesnt come up

[2018-02-28 02:51] dixudx commented on #639
@mas-dse-greina Please refer to the solution in [my comment](https://github.com/kubernetes/kubeadm/issues/639#issuecomment-355891310).

[2018-02-28 10:58] bilalAchahbar opened #718 "pod eviction time parameter in kube controller manager yaml file freezes entire kubernetes cluster"
I started my cluster with the  kubeadm init command and joined 2 nodes on it.
For testing purposes i wanted a nginx server inside a container. just to test the high availability of the cluster.
I created a replication controller yaml file  that will create a pod with 3 replica's and inside the pod a nginx container. With a service yaml file i created a service so that i need to surf to 1 ip addres

[2018-02-28 11:03] bilalAchahbar commented on #718
@luxas

[2018-02-28 11:13] simis2626 commented on #684
+1

[2018-02-28 15:04] alexbrand opened #719 "External etcd preflight check does not surface errors"
## What keywords did you search in kubeadm issues before filing this one?

etcd preflight

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): `v1.9.3`

**Environment**:
- **Kubernetes version** (use `kubectl version`): `v1.9.3`
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04.3 LTS

[2018-02-28 15:06] alexbrand commented on #719
/assign

[2018-02-28 15:36] multipathmaster commented on #684
Same problem here.  Centos7, latest kube install(1.9.3), tried hightower's documentation, and all of the kubernetes documention.  etcd and flannel are working and alive and up.  Used NO_PROXY env variable to put my external IP's in so that it won't attempt a proxy connection to other connetions, however never actually make it to that point, and get the same errors as everyone else above.

[2018-02-28 20:34] rajansandeep commented on #605
@kargakis in case you're still looking for docs.
https://coredns.io/2018/01/29/deploying-kubernetes-with-coredns-using-kubeadm/

[2018-02-28 20:46] kargakis commented on #605
Thanks!

[2018-02-28 20:46] #605 closed

[2018-03-01 02:40] aoxn commented on #715
@luxas  Hoping this would help.

[2018-03-01 06:51] cneginha commented on #687
kubeadm init still fails. Even after setting the docker proxy config (link in the above post).
It also doesnt help that using wildcards in no_proxy env variable doesnt work like it's supposed to on linux.

[2018-03-01 07:49] kad commented on #687
@cneginha kubeadm and all other kubernetes code support CIDR notation of NO_PROXY.
Set NO_PROXY to `127.0.0.1,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16,example.com" (replace example.com with your domain).

[2018-03-01 07:51] kad commented on #687
@jamalsia you have multiple things that you need to solve in your setup:
0. swap
1. DNS and hostnames
2. set correctly NO_PROXY
3. check situation with docker. proxy setting might be needed to be adjusted there as well.

[2018-03-01 08:13] cneginha commented on #687
@kad after setting NO_PROXY env variable explicitly with IP address of the nodes involved, I no longer get the proxy warning. However, kubadm init is still failing with -

====
 kubeadm init
[init] Using Kubernetes version: v1.9.3
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
        [WARNING FileExisting-crictl]: crictl not found in system path
[preflight] S

[2018-03-01 10:03] #710 closed

[2018-03-01 16:12] Wylan commented on #709
Just going to comment on this incase it helps someone else with this issue.

I had the same error message, however in our case etcd was already running. Strangely providing the FQDN to the etcd endpoints instead of the IP addresses in the  config.yaml file worked for us. I'm not sure why this would make a difference as the FQDN resolves to the same IP address, the etcd certificates contain both th

[2018-03-01 17:55] miry commented on #590
I have same issue. and now we need to update `featureGates` to work with version 10

[2018-03-01 19:43] srinivas491-oneconvergence commented on #639
@dixudx Even after appending the `--cgroup-driver=systemd` to `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` the problem still persists.

[2018-03-01 19:49] mas-dse-greina commented on #639
Yes. I am finding the same thing. Appending the --cgroup-driver=systemd
doesn't seem to have any effect. I have restarted the service and even
rebooted the computer.

It seems like the behavior is just on this one machine. I have been
successful with 4 other machines, but this one just doesn't seem to want to
join the cluster.

-Tony

On Thu, Mar 1, 2018 at 11:44 AM, srinivas491-oneconvergence <
n

[2018-03-01 22:26] cneginha commented on #687
SOLVED - I had a cgroup driver mismatch between docker and kubelet. Rectified it and init completed successfully.

[2018-03-02 11:36] khinkali commented on #684
+1

[2018-03-02 11:37] robertBrem commented on #684
+1

[2018-03-02 22:42] anguslees commented on #503
(bug keepalive ping)

[2018-03-03 09:54] Q-Lee opened #720 "etcd fails kubelet's health checks"
## What keywords did you search in kubeadm issues before filing this one?

etcd ssl health

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): HEAD

**Environment**: custom/docker-in-docker, docker-in-docker-in-docker
- **Kubernetes version** (use `kubectl version`): HEAD
- **Cloud provider or hardware configuration**: loc

[2018-03-03 10:17] Q-Lee commented on #720
Looking at the kubeadm code, it appears we statically set the probe scheme to http, but etcd is https. Even if we didn't set client auth to true, I don't know how this could ever have worked. Did etcd's behavior change under us?

https://github.com/kubernetes/kubernetes/blame/master/cmd/kubeadm/app/phases/etcd/local.go#L68

[2018-03-03 15:38] pswenson opened #721 "bearer token option for remote api/config access"
## FEATURE REQUEST

I think kubeadm should offer an option to pass in a bearer token on `kubeadm init`
`kubeadm init --bearer-token=${mybearertoken}`

this would allow for much easier kubectl configuration remotely.  The current approach of copying and the `admin.conf` file and hacking the local kubeconfig is very manual, awkward, and error prone.

[2018-03-03 20:46] stealthybox commented on #720
Hi @Q-Lee -- these were the changes that introduced etcd TLS:
- https://github.com/kubernetes/kubernetes/pull/57415
- https://github.com/kubernetes/kubernetes/pull/60385

Here's is the bugfix:
https://github.com/kubernetes/kubernetes/pull/60728

[2018-03-05 01:19] timothysc commented on #706
We had a long discussion on this during last weeks call, I think the path forward was a simple proposal which can be linked here as well as a prototype which could help to determine whether a single of multiple config maps makes more sense.

[2018-03-05 01:23] timothysc commented on #256
/cc @detiber - leaving open for 1.10 as we trace through issues.

[2018-03-05 01:26] timothysc commented on #618
There already exists logic right now that will snap and restore, but it's pretty brute force atm.

[2018-03-05 01:29] timothysc commented on #128
This looks like it was ripped back out for a reason, closing here.

[2018-03-05 01:29] #128 closed

[2018-03-05 04:39] mattkelly commented on #706
@timothysc yup, sounds good to me. I wasn't sure if you would have further comments after reviewing the ticket more in-depth. I'll have something out for review within a few days.

[2018-03-05 14:56] #662 closed

[2018-03-05 18:12] #720 closed

[2018-03-06 07:56] simis2626 commented on #228
Please for the love of god add this to the docs. I have been trying to setup my cluster for many nights after work under the guise of "having fun and playing with technology" I was done in by the master node not getting the correct IP when running nslookup localhost.

Thank you to @kachkaev for the solution.

[2018-03-06 08:34] bilalAchahbar opened #722 "kubernetes pods stuck at containercreating"
I have a raspberry pi cluster (one master , 3 nodes)

My basic image is : raspbian stretch lite

I already set up a basic kubernetes setup where a master can see all his nodes (kubectl get nodes) and they're all running.
I used a weave network plugin for the network communication

When everything is all setup i tried to run a nginx pod (first with some replica's but now just 1 pod) on my cluster a

[2018-03-06 11:35] SpComb commented on #102
Semi-serious suggestion for fixing this specific case without requiring the `kube-proxy` to use `!$podCIDR` to distinguish host source address:

[code]

(or possibly some variation with an explicit `... src 10.96.0.0` on the local route)

[code]

[code]

However, I have no idea if that covers all of the expected behaviors of those source-specific kube-proxy MASQ rules...

[2018-03-06 12:50] juliancheal commented on #253
Does anyone know if it's possible just to build from source to use my pi zeros as k8s nodes?

[2018-03-06 18:49] ReSearchITEng commented on #546
Hello,
Will kubeadm 1.10 remove any of the pre-steps/workarounds currently required for HA in 1.9 ?
E.g. the manual creation of a bootstrap etcd, generation of etcd keys, etc?

[2018-03-06 22:20] caarlos0 commented on #523
I tried kube-router and weave-net, both gave me the same issue.

Trying flannel and pods are working now, finally!

Thanks!

[2018-03-07 00:36] jaxxstorm commented on #589
/remove-lifecycle stale

[2018-03-07 20:52] rvandanp commented on #705
Can anyone look into it.I am having the same issue?

[2018-03-07 22:03] tmjd opened #724 "specifying node-cidr-mask-size as a controllerManagerExtra arg did not take precedence"
## What keywords did you search in kubeadm issues before filing this one?
controllerManagerExtraArgs, node-cidr-mask-size

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.9.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.9.3
- **Cloud provider or hardware configuration**: VirtualBox
- **OS** (e.g. from /

[2018-03-07 22:08] timothysc commented on #639
After you change the unit file you need to `systemdctl daemon-reload` in order for a change to take affect.

FWIW this is defaulted in the RPMs but not in .debs.  Is there any current distribution in main support that doesn't default to systemd now?

/assign @detiber

[2018-03-07 22:17] timothysc commented on #659
So there is an ongoing effort to trim up phases to make it more programmatic and de-dupe the flags, this is only one user story.  @fabriziopandini do you have a parent issue for this somewhere?

[2018-03-08 10:01] wangsenyuan commented on #684
I have the same issue, centos 7, kubelet v1.9.3;
But it seems the images are downloaded successfully,
`docker images`
`gcr.io/google_containers/kube-apiserver-amd64            v1.9.3              360d55f91cbf        4 weeks ago         210.5 MB
gcr.io/google_containers/kube-controller-manager-amd64   v1.9.3              83dbda6ee810        4 weeks ago         137.8 MB
gcr.io/google_containers/kube

[2018-03-08 14:04] mythi commented on #574
FWIW,

helped for me. As `--bootstrap-kubeconfig` is critical for kubelet, it'd probably be justified to have a preflight check in `kubeadm join` for that.

[2018-03-08 14:48] fabriziopandini commented on #717
I'm not 100% abut this, but IMO this is a networking issue.
Here you can find some recommendation/links for using flannel with kubeadm (e.g. pass the --pod-network-cidr)
https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network (flannel tab)

[2018-03-08 15:10] fabriziopandini commented on #695
Might be this PR already fixes this issue:
https://github.com/kubernetes/kubernetes/pull/58769

[2018-03-08 15:45] fabriziopandini commented on #694
You can find some relevant documentation here
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#custom-images

[2018-03-08 15:49] fabriziopandini commented on #683
@jaxxstorm  AFAIK audit will be fixed on 1.10 as well as etcd ca.

However this is a really interesting benchmark, and IMO it will be great if you can transform this issue into a checklist of actionable items.

PS. this could be also a relevant topic for kubeadm office hours meetings

[2018-03-09 04:57] emailtovinod opened #725 "No default iptable rule to allow incoming traffic to port 6443 on master (Kubernetes 1.9.3)"
** BUG REPORT**:

Uncomment only one, leave it on its own line:

/kind bug

What happened:

While deploying kubernetes v1.9.3 cluster using kubeadm on Centos 7.4, nodes couldn't reach master API on port 6443.

The command # kubeadm join --token 32fcfd.d1eec8c99efe1cfb 10.0.32.140:6443 --discovery-token-ca-cert-hash sha256:6931045ca75e9a9deb08b616467367d5e5d91185adb9bae3455c7b3d68f97800 on nodes sh

[2018-03-09 08:48] fabriziopandini commented on #659
@timothysc
The issue for graduating phases is #454, but it is kind of outdated and might be it makes sense to start with a new one as soon as the upcoming KEP is approved.

However, with regards to this issue, IMO we should open a dedicated umbrella issue to tackle the demand for machine readable output in a consistent way across all commands, because the request spans from `kubeadm init/phases` t

[2018-03-09 08:54] #712 closed

[2018-03-09 10:42] bart0sh commented on #574
@amar123deep Is this issue still reproducible on your cluster? Can you provide details I asked in my previous comment?

[2018-03-09 11:56] yoshz commented on #716
Same problem here. Tried to update the configmap with new etcd endpoints but I keep receiving the time out error.

[2018-03-09 17:18] fabriziopandini opened #726 "Extend usage of ControlPlaneEndpoint for HA"
The goal of this issue is to discuss possible changes to the current implementation of ControlPlaneEndpoint that will facilitate the implementation of HA in kubeadm

/cc @timothysc @stevesloka @mattkelly @mattkelly @mbert @jamieh

**Background**

Issue https://github.com/kubernetes/kubeadm/issues/411 and related PR https://github.com/kubernetes/kubernetes/pull/59288 introduced a new configuration

[2018-03-09 17:34] sgmiller opened #727 "kubeadm upgrade doesn't support an external etcd cluster"
## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
1.9.3

**Environment**:
- Kubernetes 1.8.8
- AWS
- Ubuntu 16.10
- 4.8.0-59-generic

## What happened?
Attempting to plan an upgrade from 1.8.8 to 1.9.3 fails trying to query the etcd version, hitting localhost rather than any of the external etcd cluster endpoints.

## What you expected to happen?
Expected kubeadm to either use an

[2018-03-09 20:05] edward-of-clt commented on #684
I, too, am experiencing the same issue. See the outputs and logs for more information.

[code]

In the meantime, while watching `docker ps` this is what I see:
***Note:*** Don't mind the length of time that the containers have been up — this is my third attempt and it's always the same.

[code]

## LOG OUTPUT FOR gcr.io/google_containers/kube-apiserver-amd64@sha256:a5382344aa373a90bc87d3baa4eda540

[2018-03-11 07:38] ageekymonk commented on #722
I have the same issue as well.

[2018-03-11 08:18] bilalAchahbar commented on #722
The thing is , and thats the weird part.
It all works fine when i use a fresh rasbian lite image with the same installs and the same settings . But the moment i read the image with win32image on  my laptop and burn it on new nodes it doesn't work anymore.
no problem now but i need a copy of my image for back up reasons. So somewhere down the line the image get broken.

[2018-03-12 13:50] rosti commented on #725
I think, that you either need to add this rule yourself, or you need to enable the bypassing of iptables by bridges via `sysctl net.bridge.bridge-nf-call-iptables=1`

[2018-03-12 15:26] #470 closed

[2018-03-12 18:41] bbruun commented on #684
+1

[2018-03-12 19:57] mcronce commented on #610
+1 for having an option for an experimental/alpha/etc "feature" flag to enable swap that adds it to the kubeadm drop-in in kubelet.service.d and disables that pre-flight check.  Definitely an edge case, agreed, but it would be nice if it were easier.

(Googling and being able to quickly find this issue helps a lot, though.)

[2018-03-13 00:57] #591 closed

[2018-03-13 11:00] bilalAchahbar opened #728 "kubernetes pods stuck at container creating when shrinking image raspbian lite"
I have a raspbian cluster with kubernetes cluster on it.

When i have my set up all running everyhing in kubernetes works (creating pods , scaling them on the different nodes).
I backed up my image to a file and burned it to another sd card still everything works fine.

But when i shrink my image to delete all the free space so the back up file is smaller and faster to burn , my kubernetes gets al

[2018-03-13 14:18] sgmiller commented on #727
Looking at the code, it appears RunPlan in cmd/upgrade/plan.go hardcodes a  LocalEtcdCluster with no regard to the cluster configuration:

`// RunPlan takes care of outputting available versions to upgrade to for the user
func RunPlan(parentFlags *cmdUpgradeFlags) error {
        // Start with the basics, verify that the cluster is healthy, build a client and a versionGetter. Never dry-run when pl

[2018-03-13 18:12] pankaja-rokkada opened #729 "Statefulsets deployment issue while mounting volume using VolumeClaimTemplate"
## Is this a request for help?

If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.

If no, delete this section and continue on.

## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

If you have not found any dupli

[2018-03-13 20:00] #612 closed

[2018-03-14 00:08] timothysc commented on #628
TODO: cross link the PR that already addresses this.

[2018-03-14 01:30] timothysc commented on #727
/assign @detiber

[2018-03-14 02:13] QQ-ing commented on #684
+1

[2018-03-14 07:16] Matt272727 commented on #411
@mattmoyer Hi. As you said that using the hostname in kubeadm join command should work but it seems not to be working. I used kubeadm init with the hostname of the master node and then used the kubeadm join command with master hostname but it throws error "Failed to request cluster info, will try again..."
Both the machines can ping each other using hostname

[2018-03-14 08:03] #622 closed

[2018-03-14 13:25] jnummelin opened #730 "External Etcd version check fails with TLS"
## What keywords did you search in kubeadm issues before filing this one?

external etcd

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): v1.10.0-beta.3

**Environment**:
- **Kubernetes version** (use `kubectl version`): v1.9.3
- **Cloud provider or hardware configuration**: Vagrant
- **OS** (e.g. from /etc/os-release):  Ubuntu 16.

[2018-03-14 14:21] SpComb commented on #730
The reported error (`couldn't parse external etcd version "": Version string empty`) looks like the etcd preflight check's `getEtcdVersionResponse` is returning `err = nil` without actually decoding anything into the `etcdVersionResponse`: https://github.com/kubernetes/kubernetes/blob/v1.9.4/cmd/kubeadm/app/preflight/checks.go#L731-L749

Indeed, `getEtcdVersionResponse` is throwing away any error

[2018-03-15 01:11] #532 closed

[2018-03-15 08:25] jnummelin commented on #730
Right, the error was in the certs / the way Go handles TLS. "Unshadowing" the error makes it clear:
[code]

Making the etcd cert have the IP in SANs makes it run properly.

So indeed the bug is in the error handling masking out the actual error happening with etcd version checking.

[2018-03-15 13:05] jamiehannaford commented on #506
Closing this as I'm not sure this is relevant or useful anymore.

[2018-03-15 13:05] #506 closed

[2018-03-15 13:21] mxey opened #731 "upgrade ignores HighAvailability feature gate"
Choose one: BUG REPORT

I have the `HighAvailability` feature gate enabled in my kubeadm configuration file. On `kubeadm init`, that added `--endpoint-reconciler-type=lease` to the kube-apiserver static pod. After running `kubeadm upgrade` with the same configuration file, that option is gone.

## Versions

**kubeadm version** (use `kubeadm version`): 1.9.4

**Environment**:
- **Kubernetes version

[2018-03-16 18:01] jethrogb commented on #598
Still an issue

[2018-03-16 18:01] jethrogb commented on #598
Still an issue

/remove-lifecycle stale

[2018-03-16 20:15] luxas opened #732 "Disable the kubelet readonly port"
@liggitt said, very reasonably:

ref: https://github.com/kubernetes/kubernetes/pull/59666#issuecomment-373829976

While we already protect the most essential parts (e.g. disable cAdvisor, protect the API using the authorizer, etc.), we could lock this down by default more as well before going to GA.

cc @timothysc @kad @stealthybox

[2018-03-16 20:30] kad commented on #732
`http://localhost:10255/healthz` is used to check that kubelet started. Should we drop those and just keep `WaitForAPI()` ?

[2018-03-18 18:21] dvdmuckle commented on #413
@anguslees Do you have a compiled 1.9.4 version of your patched kubeadm? I'm having trouble compiling your patched version.

I'm surprised kubeadm doesn't have this behavior behind a flag. Perhaps a PR is in order?

[2018-03-18 23:49] mcronce commented on #574
@bart0sh Thank you for posting the note about `--bootstrap-kubeconfig`, that was a problem I was having.  Using kubeadm 1.9.1 on Fedora 27.  A pre-flight check (or adding that to the default kubeadm drop-in for kubelet, or both) might be a good idea.

[2018-03-19 09:38] bart0sh commented on #574
@mcronce --bootstrap-kubeconfig is used in the kubeadm drop-in since last July:
https://github.com/kubernetes/kubernetes/commit/a6fe42f78cc540a82822fb1db6c3e3a144d31126

You may want to ask Fedora guys to use that or install packages from https://packages.cloud.google.com

[2018-03-19 09:44] bart0sh commented on #574
@timothysc I'd propose to close this issue as it's most probably caused by using incorrect/outdated command line options in the kubeadm systemd drop-in.

[2018-03-19 14:23] #420 closed

[2018-03-19 14:43] avielb commented on #684
+1

[2018-03-19 20:41] bis-sb opened #733 "How to get `kubeadm init` to not fail?"
I am going through the [setup procedure](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) but when I run `kubeadm init` I am met by errors:
[code]

I check what groups my user belongs to and it lists `root` as one of the groups:
[code]

I am a novice with Ubuntu so I'm having trouble making sense of this error: why does kubernetes not think my user is privileged? Does the erro

[2018-03-19 23:18] #505 closed

[2018-03-20 01:09] dkirrane commented on #484
@alexpekurovsky just move to 1.9.5. Is this the correct setup:
[code]

[2018-03-20 09:50] SpComb commented on #206
Related to kubelet server certs, once the kubelet uses a kube-issued server cert instead of the current self-signed server cert, then the kube-apiserver also needs `--kubelet-certificate-authority` to validate those kubelet server certs.

[2018-03-20 13:46] bis-sb commented on #733
I just went ahead and used the root account; now I encounter other errors:
[code]

OK I'll disable swap, but the CRI issue was confusing and based on some quick searching it seemed as though the [crictl](https://github.com/kubernetes-incubator/cri-tools/blob/master/docs/crictl.md) tool required some configuring but the [installation instructions](https://kubernetes.io/docs/setup/independent/instal

[2018-03-20 14:42] erayaslan commented on #600
Uhm, why the push back?  This is a valid bug report.  In my case
[code]
becomes a noop while running `kubeadm init --config kubeadminit.yaml`

[2018-03-20 16:27] FrostyLeaf commented on #639
I hit this same issue with kubeadm v1.9.3 and v1.9.4.

**Start kubelet with --cgroup-driver=systemd**

[code]

**Reload service**

[code]

**Check docker info**

[code]

**kubelet logs**

[code]

**Version Info**

[code]

[code]

[code]

[code]

[2018-03-20 16:40] bart0sh commented on #639
@FrostyLeaf Can you look at the command line of running kubelet to see if cgroup driver is specified there?

Something like ```ps aux |grep kubelet``` or ```cat /proc/<kubelet pid>/cmdline``` should help you to see that.

[2018-03-20 16:56] iMartyn commented on #600
IMO it's a bug and the fix is simple.  APPEND extra arguments, don't PREPEND.

[2018-03-20 17:43] srinivas491-oneconvergence commented on #733
Container runtime is required for the kubelet to launch the pods on a node. Runtime exposes interfaces for the kubelet to schedule containers and manage the state of the pods. One of the container runtime is  docker. [Kubernetes installation](https://kubernetes.io/docs/setup/independent/install-kubeadm/) instruction has the information to setup the docker (under the heading Installing Docker).

Mo

[2018-03-20 17:46] FrostyLeaf commented on #639
@bart0sh This is it:
[code]

[2018-03-20 18:04] bis-sb commented on #733
I already went through the instructions for installing kubeadm and that didn't give me any issues, although I was wondering if Docker CE 17.03 is an absolute, or if I could get away with using 17.12.1 CE (which is the one that was already installed on the server).

That blog post on the CRI really helped me understand its role, thank you.

I still am having trouble getting `kubeadm init` to use th

[2018-03-20 18:22] bart0sh commented on #639
@FrostyLeaf Thank you! I could reproduce this as well. Seems to be a bug. Looking at it.

As a temporary workaround you can switch docker and kubelet to cgroupfs driver. It should work.

[2018-03-20 18:23] bis-sb commented on #733
I found some unofficial documentation which lists some [environment variables](http://unofficial-kubernetes.readthedocs.io/en/latest/admin/kubeadm/#environment-variables) that looked promising but the environment variables have no effect: I look at the manifest files that kubeadm generates and the images that the reference are all still `gcr.io/google_container` instead of `<my private repo>/gcr.i

[2018-03-20 18:25] FrostyLeaf commented on #639
@bart0sh Fine. Thanks a lot. I'll try that.

[2018-03-20 19:18] bis-sb commented on #733
OK I wrongly assumed from that error message that the error was in pulling the images: it actually looks like it's because kubelet wasn't running:
[code]
So in a new terminal I ran `kubelet --fail-swap-on=false` and now kubelet is running. Now I see `dockershim.sock` under `/var/run/`

[2018-03-20 19:29] srinivas491-oneconvergence commented on #733
Kubeadm init will start pods for etcd, dns and cni on the master node. For this it requires dockershim.sock.

[2018-03-20 20:05] michielhab commented on #684
+1

[2018-03-20 20:18] bis-sb commented on #733
Docker is running fine, what's confusing me is there appears to be a circular dependency when running `kubeadm init`:
- if kubelet is not already running, then the error is `[ERROR CRI]: unable to check if the container runtime at "/var/run/dockershim.sock" is running: exit status 1`
- if kubelet is running, then the error is `[ERROR Port-10250]: Port 10250 is in use`

[2018-03-20 20:28] bart0sh commented on #733
That circular dependency is also mentioned here: https://github.com/kubernetes-incubator/cri-tools/issues/153#issuecomment-365286449

It looks like a bug in kubeadm. It shouldn't run cry pre-flight check before running kubelet as dockershim.sock seems to be created by kubelet.

[2018-03-20 20:37] bis-sb commented on #733
ok so that is a bug, thanks for clarifying that

[2018-03-20 21:10] fredmj commented on #639
Same here.

### Context Host=CentOS 7.4, Guest=VirtualBox=Version 5.2.8 r121009 (Qt5.6.1)
[code]
[code]
[code]
[code]

### docker Cgroup is systemd
[code]

### kubelet.service started with the Cgroup=systemd
[code]
### systemctl reload & restart kubelet service
[code]
### kubelet logs
[code]
### kube processes running
[code]

[2018-03-21 00:44] #663 closed

[2018-03-21 03:22] ZhaokunQiu commented on #714
Why can't see the pod of the apiserver?

[2018-03-21 11:05] FrostyLeaf commented on #639
v1.9.5 fixed this issue, awesome!@bart0sh

[2018-03-21 11:54] bart0sh commented on #639
@FrostyLeaf I'm still able to reproduce it  with 1.9.5:

$ rpm -qa |grep kube
kubeadm-1.9.5-0.x86_64
kubelet-1.9.5-0.x86_64
kubernetes-cni-0.6.0-0.x86_64
kubectl-1.9.5-0.x86_64

$ docker info 2>/dev/null |grep -i cgroup
Cgroup Driver: **systemd**

$ ps aux |grep cgroup-driver
root     29078  1.9  0.1 1222632 91824 ?       Ssl  13:45   0:04 /usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bo

[2018-03-21 15:09] jodok commented on #716
same here...

[2018-03-21 16:14] #703 closed

[2018-03-21 16:15] arunkumar9050 opened #734 "cassandra-stress test: Invalid parameter user error"
~/**cassandra-stress mixed** ratio\(write=5,read=1\) n=100000 **user profile**=./cassandra.yaml duration=15m **'ops\(insert=10\)'** **cl**=QUORUM **-rate threads**=100 **-mode native** cql3 port=9042 user=cassandra password=cassandra **-transport** truststore=/home/../../truststore.jks truststore-password="*********" keystore=/home/../../../cassandra-keystore.jks keystore-password="*******" ssl-pr

[2018-03-21 16:52] bart0sh commented on #639
I propose to close this issue

I've observed 2 reasons that cause most of the reports here:

1. forgetting to run 'systemctl daemon-reload' after editing systemd drop-ins. Eventhough -cgroup-driver=systemd was added to /etc/systemd/system/kubelet.service.d/10-kubeadm.conf it didn't make any effect and default(or previously specified with --cgroup-driver) driver was used.

2. running 'kubelet logs'

[2018-03-21 22:27] mikedanese commented on #579
What was the error in the apiserver logs?

[2018-03-21 23:18] thehufbro commented on #574
One more comment here, just in case someone is hunting down this problem, and finds this thread first.
I am using kubeadm 1.9.5, on CentOS 7.2

I found that all of the command line args were in the kubelet.service file, and that kubeadm join would work without returning an error, but never joined the cluster.

I found that kubelet would log that it could not find the kubelet config file.
Seen in:

[2018-03-22 04:10] #734 closed

[2018-03-22 07:33] mikebryant opened #735 "split `phase selfhosting convert-from-staticpods`"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: FEATURE REQUEST

## Rationale

We want to use most of kubeadm, but supply our own self-hosted control plane at the end.

(In particular, we want to be masterless, with Deployments for the apiserver, controller-manager and scheduler, following from our current setup with bootkube)

The phases work great for most of this, however we only need

[2018-03-22 11:51] bart0sh commented on #639
@timothysc There are no objections regarding my last comment. Can you close this issue, please? It's not a bug, as it's caused by a lack of knowledge about kubelet and/or systemd.

2 things that might make sense to do from my point of view are:

- implement preflight check for "kubeadm init" to check if docker and kubelet cgroup drivers match.
- make kubelet fail if it finds unknown parameter in t

[2018-03-22 13:56] fredmj commented on #639
Things look fine for me thanks to the **v1.9.5.**

Agree with @bart0sh about the init checking the cgroup driver consistency between kubelet and docker.
Maybe the `kublet logs{ should be point to the journactl -u kubelet.service

Just my 2cts.

[2018-03-22 16:30] steven-sheehy opened #736 "Auto import Kubernetes resources from directory"
FEATURE REQUEST

It would be useful for kubeadm init to support the ability to apply all Kubernetes resource yamls from a specified directory after the cluster is initialized. A CLI option or configuration property can be added like --auto-import-dir to enable this feature.

As it stands now, a Kubernetes cluster is not usable without applying at least the yaml containing the network configuration

[2018-03-22 21:39] timothysc commented on #668
/cc @liztio

[2018-03-23 00:41] stealthybox commented on #735
I can see why you want this, and I think it's a reasonable proposal :+1:

[2018-03-23 03:37] dylanfoster commented on #569
I've specified my external etcd cluster in a basic config.yml file but my kube cluster fails to fully boot. I'm running this in a boot script for an aws instance. `kubeadm init` succeeds however cni fails to connect it seems using weave

config.yml
[code]

kubeadm init --config config.yml

journalctl output: (truncated)

[code]

[2018-03-23 03:45] dylanfoster commented on #569
P.S it looks like it has nothing to do with etcd and more to do with custom config.yml for kubadm init

[2018-03-23 09:55] discordianfish commented on #609
/remove-lifecycle stale
/lifecycle freeze

[2018-03-23 11:41] XANi commented on #724
still present in 1.9.6.

It should really be just an option under `networking` key

[2018-03-23 15:14] dylanfoster commented on #491
I've specified my external etcd cluster in a basic config.yml file but my kube cluster fails to fully boot. I'm running this in a boot script for an aws instance. `kubeadm init` succeeds however cni fails to connect it seems using weave.

My basic steps are

- `kubeadm init`
- `sysctl net.bridge.bridge-nf-call-iptables=1`
- `kubectl apply -f <weave>`

config.yml
[code]

kubeadm init --config confi

[2018-03-23 18:48] #421 closed

[2018-03-24 03:20] rykelley commented on #574
I am getting `Failed to start kubelet.service: Unit kubelet.service not found.` after kubeadm bootstrap on worker node. No idea what is going on. can someone point me in the right direction?

[2018-03-24 12:35] fabriziopandini commented on #735
@mikebryant  fyi there is a proposal for graduating phases in this cycle, and I think that the implementation of your proposal could take benefit from this effort as well. See
https://github.com/kubernetes/community/pull/1939
https://github.com/kubernetes/kubernetes/pull/61631

[2018-03-24 22:43] cbluth commented on #684
downgrading to 1.8.10 fixed the issue for me.

[2018-03-25 02:34] svenwoldt commented on #253
would also love to know if kubernetes could use a pi zero as a worker node running one pod on it max plus log shipping potentially. The specs of the zero seem fine to use a bunch of them as a dedicated sensor cloud

[2018-03-25 03:54] bithavoc commented on #504
I was having the same issue with ubuntu xenial (in vagrant), `sudo ufw disable` did the trick.

[2018-03-25 12:09] fredmj commented on #657
Hello,
I still have this issue.
Is it really corrected in the merge pull request  #58802 (https://github.com/kubernetes/kubernetes/pull/58802)?

### Environment is CentOS7.4 and VMs hosted through virtualbox 5.2.8
[code]
### kubeadm v 1.9.6 ; kubectl v 1.9.6; kubelet v 1.9.6
[code]
### go and crictl in my $PATH
[code]
### kubeadm init still complain about my missing --ignore-preflight-errors=cri
[

[2018-03-25 14:30] fredmj commented on #657
/kind bug

[2018-03-25 18:12] thehufbro commented on #574
Probably means that kubelet.service definition does not exist.
Check if the kubelet service is defined. Look in   /etc/systemd/system  for kubelet.service.

Did you install the kubelet?
`which kubelet`

install with yum
`sudo yum install kubelet`

[2018-03-25 18:30] jacobtomlinson commented on #733
I am also having the same issue where the preflight check is looking for `/var/run/dockershim.sock` before it should exist.

The following runs successfully:

[code]

[2018-03-26 02:07] dixudx commented on #657
@fredmj That bug-fix is only applicable after release v1.10. Currently you can try it in all `v1.10.0 beta versions`, `v1.10.0 rc version` and `v1.11.0 alpha version`.

We did not back-port the fix to v1.9 yet.

@timothysc @luxas Shall we back-port this to v1.9?

[2018-03-26 06:12] jstangroome commented on #724
@tmjd I've worked around it by moving the `networking.podSubnet` to `controllerManagerExtraArgs.cluster-cidr` and adding `allocate-node-cidrs` too, just like the kubeadm code would have if `podSubnet` had been specified directly.

Modifying your original example, it becomes:
[code]

I doesn't appear that kubeadm uses the `podSubnet` for anything else other than validation but I could be wrong.

Wo

[2018-03-26 06:59] bart0sh commented on #733
Preflight check issue should be fixed by [PR 58802](https://github.com/kubernetes/kubernetes/pull/58802)

Temporary workaround for this issue is to switch off CRI check:
[code]

[2018-03-26 10:47] moqichenle commented on #639
Hi, I m having the same issue.
kubeadm version is : 1.9.6
docker version is: 1.13.1 API version:  1.26
when I ran : `docker info | grep -i cgroup`,
I got this:
`WARNING: You're not using the default seccomp profile
Cgroup Driver: systemd`

when I run `cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf`,
I can see the settings `Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=systemd"` in pl

[2018-03-26 12:39] bart0sh commented on #639
@moqichenle That's strange. It should work. Can you show the output of the following commands?
[code]

Here is what I see on my system:
[code]

[2018-03-26 13:30] moqichenle commented on #639
@bart0sh Hi, thank you for checking this.
This is what I have (before starting kubeadm init):
`[root@localhost bin]# docker info 2>/dev/null |grep -i group
Cgroup Driver: systemd
[root@localhost bin]# ps aux |grep group-driver
root     13472  0.0  0.1  12476   984 pts/0    R+   13:23   0:00 grep --color=auto group-driver`

After typing command kubeadm init,
this is what I have:
`[vagrant@localhost

[2018-03-26 13:37] bart0sh commented on #639
@moqichenle did you run ```systemctl daemon-reload``` and ```systemctl restart kubelet``` **before** running ```kubeadm init```?

Can you run ```journalctl -u kubelet.service``` after ```kubeadm init``` and show its output here?

[2018-03-26 13:47] moqichenle commented on #639
Yes I did run the two commands before the init.
Strange thing: I didn't see any output when I ran `journalctl -u kubelet.service | grep "is different from docker cgroup driver"`.
I only saw that the error when I ran `kubelet status`.

[2018-03-26 13:52] bart0sh commented on #639
@moqichenle ```kubelet status``` command doesn't exist. That means you run kubelet with the default parameters(and default cgroup driver). That's why you're getting the error. See my messages regarding ```kubelet logs``` for more details.

Do you see anything suspicious (errors, warnings) in the output of ```journalctl -u kubelet.service```

[2018-03-26 13:59] moqichenle commented on #639
Ah, I see. Thank you. :)
hmm.. there are errors shown below:
`Mar 26 13:39:40 localhost.localdomain kubelet[13606]: E0326 13:39:34.198202   13606 kuberuntime_image.go:140] ListImages failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded
Mar 26 13:39:45 localhost.localdomain kubelet[13606]: E0326 13:39:44.824222   13606 kubelet.go:1259] Container garbage collection failed: rpc

[2018-03-26 14:01] bis-sb commented on #733
Thanks for the pointers, I'll try them out if I revisit Kubernetes (or maybe by then it'll be easier to set up)

[2018-03-26 14:01] #733 closed

[2018-03-26 14:10] bart0sh commented on #639
@moqichenle it looks like a docker issue to me. It's not related to this one I believe.

You can search for "context deadline exceeded" for more info.

[2018-03-26 14:24] moqichenle commented on #574
@thehufbro Hi, I am trying to setup a k8s cluster on VMs.
OS: centos 7
kubeadm: 1.9.6

I followed the steps mentioned on the official website [here](https://kubernetes.io/docs/setup/independent/install-kubeadm/#), however, I could not even get master up. I wonder if you had any problems when setting it up. Thank you very much!

[2018-03-26 14:25] moqichenle commented on #639
@bart0sh Yep, Don't think it s related to this issue anymore. will do. Thank you very much :D

[2018-03-26 16:36] discordianfish commented on #699
I can confirm: `kubeadm init` seems to revert the tolerations, so this is required for prod operations.

[2018-03-26 16:43] discordianfish commented on #699
Related #609
A simple stop-gap would be to not touch the kube-proxy ds if possible.

@luxas Both issues are today the biggest problems we have using kubeadm in a prod/HA cluster. I can help fixing them if you can tell me how you'd like to approach these things. I can also bring that up somewhere more suitable to discuss this, don't really know where though.

[2018-03-26 17:13] moqichenle commented on #574
@thehufbro I checked that the kubelet is installed and denied in /etc/systemd/system/kubelet.servie.
I had the same issue that the node didn't join the cluster.
`... error: failed to run Kubelet: invalid kubeconfig: stat /etc/kubernetes/kubelet.conf: no such file or directory`
I checked I indeed doesn't have this file, even after run **kubeadm join**.
I tried stop kubelet , reload and restart.
Sti

[2018-03-26 23:03] #471 closed

[2018-03-27 07:16] bishnuroy opened #737 "KUBE-API --insecure-bind-address"
## Is this a request for help?

## Versions

**Environment**:
- **Kubernetes version** 1.9.3:
- **Cloud provider or hardware configuration**: Mirantis Openstack
- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

**## Quires:**

Is it possible to assign multiple host ips in " --insecure-bind-address=" flag?

[2018-03-27 15:07] gabrielfsousa commented on #684
+1

[2018-03-27 18:10] dkirrane opened #738 "ImageInspectError - Failed to inspect image - Error response from daemon: readlink /var/lib/docker/overlay2: invalid argument"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
Linux master1-dev 3.10.0-693.el7.x86_64 #1 SMP Tue Aug 22 21:09:

[2018-03-27 21:43] rajansandeep opened #739 "Incorrect version for kube-dns and CoreDNS"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?
kube-dns and CoreDNS don't provide the correct

[2018-03-28 09:46] moqichenle commented on #574
Update: removing 10-kubeadm.conf file solved the problem for me.

[2018-03-28 12:19] bart0sh commented on #639
this PR should help to decrease confusion caused by running 'kubelet logs', 'kubelet status' and other non-existing kubelet commands: [#61833](https://github.com/kubernetes/kubernetes/pull/61833)

It makes kubelet to produce error and exit if it's run with incorrect command line.

Please, review.

[2018-03-28 16:13] samcorzine commented on #584
Could you clarify a bit about the Kubelet command? I'm facing the same issue and but it seems if I run the kubelet --hostname-override command in advance that fails as well. I feel like I'm missing something simple here.

[2018-03-28 16:32] stefanprodan opened #740 "Upgrading from 1.9.6 to 1.10.0 fails with timeout"
BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:44:10Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **Kubernetes version** (use `kubectl version`):

Client Version

[2018-03-28 16:44] stealthybox commented on #740
Working on reproducing this bug locally.

[2018-03-28 17:01] stefanprodan commented on #740
After several retrying this for 10 times it finally worked

[2018-03-28 17:03] stealthybox commented on #740
Here's my etcd manifest diff
[code]

[2018-03-28 17:04] stealthybox commented on #740
1.9.6 cluster on Ubuntu 17.10 Vagrant:
[code]

[2018-03-28 17:07] stealthybox commented on #740
This is my repro environment: https://github.com/stealthybox/vagrant-kubeadm-testing

Change these lines to `1.9.6-00` for the bootstrap: https://github.com/stealthybox/vagrant-kubeadm-testing/blob/9d4493e990c9bd742107b317641267c3ef3640cd/Vagrantfile#L18-L20

[2018-03-28 17:11] stealthybox commented on #740
kubelet etcd related logs:
[code]

[2018-03-28 17:43] stefanprodan commented on #740
The current workaround is to keep retrying the upgrade and at some point it will succeed.

[2018-03-28 18:01] kad commented on #740
@stealthybox Do you happen to get logs out of docker for etcd container ? also, `grep -i etcd` might be masking some of the kubelet output, e.g. some error messages that don't have container name in it, but still relevant.

[2018-03-28 18:09] detiber commented on #740
I just hit another weird edge case related to this bug. The kubeadm upgrade marked the etcd upgrade as complete prior to the new etcd image being pulled and the new static pod being deployed. This causes the upgrade to timeout at a later step and the upgrade rollback to fail. This also leaves the cluster in a broken state. Restoring the original etcd static pod manifest is needed to recover the cl

[2018-03-28 18:55] kesavkolla commented on #740
Oh yes I'm also stuck in there.  my cluster is completely down.  Can someone share some instructions on how to rescue from this state?

[2018-03-28 19:08] zcalusic commented on #740
Been there on my 2nd attempt to upgrade, just like @detiber described, quite painful. :cry:

Found some backed up stuff in /etc/kubernetes/tmp, feeling that etcd might be the culprit, I copied its old manifest over the new one in the manifests folder. At that point I had nothing to lose, 'cause I completely lost control of the cluster. Then, I don't remember exactly, but I think I restarted the wh

[2018-03-28 19:48] stealthybox commented on #740
If you roll back the etcd static pod manifest from `/etc/kubernetes/tmp` it's important to also roll back the apiserver manifest to the 1.9 version because of the new TLS configuration in 1.10.

[2018-03-29 04:18] dvdmuckle commented on #740
It seems that only the etcd manifest isn't rolled back on a failed upgrade, everything else is fine. After moving the backup manifest over and restarting the kubelet, everything comes back fine.

[2018-03-29 10:15] codepainters commented on #740
I faced the same timeout problem and kubeadm rolled back kube-apiserv manifest to 1.9.6, but left etcd manifest as is (read: with TLS enabled), obviously leading apiserv to fail miserably, effectively breaking my master node. Good candidate for a separate issue report, I suppose.

[2018-03-29 13:21] rosti commented on #737
This project tracks the issues connected to kubeadm.

However, I do think that `--insecure-bind-address` works only with a single IP.

[2018-03-29 14:35] detiber commented on #740
@dvdmuckle @codepainters, unfortunately it depends on which component hits the race condition (etcd or api server) the correct way. I found a fix for the race condition, but it completely breaks the kubeadm upgrade. I'm working with @stealthybox to try and find a proper path forward for properly fixing the upgrade.

[2018-03-29 14:59] detiber commented on #740
@codepainters I think it is the same issue.

There are a few underlying problems causing this issue:

-   The upgrade is generating a hash of the mirror pod for each component from the result of querying the mirror pod from the API. The upgrade then tests to see if this hashed value changes to determine if the pod is updated from the static manifest change. The hashed value includes fields that ca

[2018-03-29 16:32] discordianfish commented on #126
I'm reviewing the resources limits and requests on my kubeadm based cluster and it seems that none of the core cluster components (kube-proxy, apiserver, scheduler, controller manager) have memory limits set.
At first I thought that probably makes sense, nobody wants k8s to kill them. But then people explained QoS classes to me and it looks like currently all these cluster components are in the be

[2018-03-29 19:34] liztio opened #741 "surface apiserver container errors in kubeadm init"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST

currently, if the API server pod fails to initialise, the `kubeadm init` will stall on:

[code]

And then hang forever. The info message is misleading, because there are any number of things that could go wrong at this point.

In my particular case, I eventually found the error that was causing my problems by looking at `docker logs`:

[

[2018-03-29 19:36] stealthybox commented on #740
### TODO:
- [ ] open and link issues for these 4 changes.

[2018-03-29 23:12] krzysztofantczak commented on #574
@moqichenle soooo are You running joning node without kubelet? Or you're running it without any arguments? I'm hitting the same problem and removing 10-kubeadm.conf doesn't seem to solve my issue.

[2018-03-30 06:25] stealthybox commented on #732
^ worth noting we will need to be using the secure port more for other planned uses of the kubelet API.

[2018-03-30 14:43] liztio commented on #668
@marranz hey, I repro'd your bug and am working on tests / a fix

[2018-03-30 15:47] detiber commented on #740
PR to address the static pod update race condition: https://github.com/kubernetes/kubernetes/pull/61942

[2018-04-01 04:06] #433 closed

[2018-04-01 04:55] koollman commented on #716
same issue, which is also related to #727

[2018-04-01 07:38] ununseptium commented on #684
+1

[2018-04-01 20:02] jpmondet commented on #684
Same problem here with v1.9.3 on Ubuntu 16.04 (no selinux)

[2018-04-01 20:31] codepainters commented on #273
I've hit the very same issue with kubeadm 1.10.0 and CoreDNS - with even worse results, as CoreDNS asked to resolve any external name starts looping to itself, consuming all allowed RAM and getting OOM-killed.

Obviously it can be fixed either by `kubelet --resolv-conf` param (as mentioned above), or by editing config map with `Corefile`, but it takes a moment to realise what's failing and why. It

[2018-04-01 23:25] #503 closed

[2018-04-02 04:05] xinjt commented on #479
this is my situation
when i run
kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
i get err here:
[root@k8s-master kube]# kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
[init] Using Kubernetes version: v1.10.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Runni

[2018-04-02 04:05] xinjt commented on #479
this is my situation
when i run
kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
i get err here:
[root@k8s-master kube]# kubeadm init --apiserver-advertise-address=0.0.0.0 --kubernetes-version=1.10.0 --pod-network-cidr 10.244.0.0/16
[init] Using Kubernetes version: v1.10.0
[init] Using Authorization modes: [Node RBAC]
[preflight] Runni

[2018-04-02 07:34] duongmngo commented on #684
+1 same issue

[2018-04-02 08:29] fredmj commented on #479
@xinjt
I would say
0. Did you check all the steps of the [official doc](https://kubernetes.io/docs/setup/independent/install-kubeadm/)
1. Did you check the status of the requiered ports according to the doc ?
[code]
2. Did you check the consitency of the cgroup driver used by docker and kubelet ?
[code]
3. Did you check the selinux status?[¹]
[code]
4. Did you check the kernel module bridge-nf-cal

[2018-04-02 13:36] kad commented on #479
@xinjt please open separate issue for your case. it is different from this one.
On a hint side, try to replace `--apiserver-advertise-address=0.0.0.0` with explicit IP address.

[2018-04-03 08:52] codepainters commented on #740
@detiber do you mind explaining what race condition are we talking about? I'm not that familiar with kubeadm internals, yet it sounds interesting.

[2018-04-03 12:19] rackeric commented on #491
I am seeing the same issue as @dylanfoster, why are the logs complaining about no CNI found when that is listed as the next step in setting up the cluster?  Do we need to populate that entire configure file template or will kubeadm set all other values itself?

[2018-04-03 16:01] geostant opened #742 "kubeadm init (offline mode) stuck on pulling images"
## BUG REPORT

## Versions
v1.10.0

**kubeadm version** (use `kubeadm version`):
v1.10.0

**Environment**:
- **Kubernetes version** 1.10.0
- **Cloud provider or hardware configuration**: On premise (OFFLINE)
- **OS** (e.g. from /etc/os-release): Centos
- **Kernel** (e.g. `uname -a`): 3.10.0-514
- **Others**: Docker images are pre-loaded

## What happened?
Running the same process on the internet w

[2018-04-03 16:10] timothysc commented on #727
/cc @craigtracey

[2018-04-03 16:42] chriskinsman opened #743 "controllerManagerExtraArgs enable-hostpath-provisioner"
## What keywords did you search in kubeadm issues before filing this one?

controllerManagerExtraArgs enable-hostpath-provisioner

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5249e14daa22bf", GitTreeState:"clean", Buil

[2018-04-03 18:33] #677 closed

[2018-04-03 19:49] kamarajuPrathi commented on #719
@alexbrand I am facing the same issue, did you guys find a solution for it ?

[2018-04-03 20:05] alexbrand commented on #719
@kamarajuPrathi There is an open PR with a fix here: https://github.com/kubernetes/kubernetes/pull/60585

[2018-04-03 21:18] liztio commented on #668
update:
I tracked down the actual signing action to the "controller-manager" pod. And lo and behold, it's crash-looping with cloudProvider: aws:

[code]

That clusterID problem looks a lot like [#53538](https://github.com/kubernetes/kubernetes/issues/53538). I'll investigate the solutions mentioned there tomorrow.

[2018-04-04 00:22] tangleloop opened #744 "upgrade plan from 1.9.6 to 1.10.0 fails with "unable to decode config""
## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:13:31Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/arm"}

**/tmp/kubeadm version**
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0"

[2018-04-04 01:35] timothysc commented on #744
Thank you for reporting, this is know and we are fixing ASAP.
This is also related to #740

/cc @liztio

[2018-04-04 01:36] timothysc commented on #744
This fix will need to be cherry picked.

[2018-04-04 05:13] RenaultAI commented on #475
In case anyone comes across the above mentioned errors during a `kubeadm upgrade`, this is the work around I used to get my `kubeadm upgrade apply` to succeed:

[code]

[2018-04-04 12:04] bart0sh commented on #739
@rajansandeep
kube-dns version was set to 1.14.8 in the commit [623ab15212](https://github.com/kubernetes/kubernetes/commit/623ab15212d466c1003c3a9196a933e336c707df)
coreDNS version was set to 1.0.6 in the commit [993e5413ce](https://github.com/kubernetes/kubernetes/commit/993e5413ce55d50e67e3f169671c5cec5458e5c2)

I can see both commits in v1.10.0

[2018-04-04 12:51] cpnielsen commented on #640
/close

[2018-04-04 12:51] #640 closed

[2018-04-04 15:35] timothysc commented on #743
@chriskinsman - could you please pastebin your .yaml file.  It seems like it could be a formatting issue.

You can always verify with - http://www.yamllint.com/

[2018-04-04 15:37] timothysc commented on #742
/assign @chuckha  - please triage.

[2018-04-04 15:40] timothysc commented on #741
/assign @liztio

[2018-04-04 15:42] chriskinsman commented on #743
Verified fine with yamllint

Pastebin is here:  [https://pastebin.com/EweJs3JY](https://pastebin.com/EweJs3JY)

When I look at the manifest for kube-controller-manager it puts it in with an = on the end but no value.  Docs for kube-controller-manager args make it appear to be a flag with no value.  Not sure if true would be valid in this context.

[2018-04-04 15:50] timothysc commented on #737
This is an api-server flag not kubeadm specific, closing...

[2018-04-04 15:50] #737 closed

[2018-04-04 15:54] timothysc commented on #731
/assign @fabianofranz

[2018-04-04 16:28] bart0sh commented on #743
@chriskinsman Can you check if it works for you with this ```enable-hostpath-provisioner: "true"```?

[2018-04-04 17:27] #724 closed

[2018-04-04 17:32] chriskinsman commented on #743
In the middle of testing something else so won't be able to try for a bit.  I had tried it without the double quotes with no luck.  Will try it with later this week.

[2018-04-04 18:31] timothysc commented on #738
@dkirrane this is not a kubeadm specific error, but I'll loop in some other folks to see if they want to comment.  It seems like an docker storage or image issue.

/cc @jberkus

[2018-04-04 18:31] #738 closed

[2018-04-04 20:26] arunmk commented on #668
@liztio no worries. I have a workaround, but it’s quite messy to automate, and we don’t have a root cause yet. Hence I don’t want to close this issue and hope for a cleaner fix. If the issue reported by @brendandburns is fixed by the commit please do mention it and I’ll open a new bug for my issue.

[2018-04-04 21:24] jstangroome commented on #724
@tmjd Fix should land in next kubeadm release from master.

[2018-04-05 01:25] #730 closed

[2018-04-05 01:30] timothysc commented on #732
/assign @detiber

[2018-04-05 01:33] timothysc commented on #729
/assign @detiber @chuckha

[2018-04-05 01:36] timothysc commented on #728
If it's stuck in container creating, it's likely due to the fact the image was not created for that arch.  All images need to match the target architecture.

This is not a kubeadm issue, closing.

[2018-04-05 01:36] #728 closed

[2018-04-05 12:44] cynepco3hahue commented on #279
Hi I still have a problem with SELinux when I run `kubeadm init`
[code]

[2018-04-05 15:43] qxing3 commented on #684
same issue with v1.10 on ubuntu 16.04 on arm64 (no selinux)

[2018-04-05 15:46] bbruun commented on #684
Check the number of CPU's you have on the hadware you install - 2 is required on the master to install as I've written above just over 3 weeks ago.

[2018-04-05 16:02] farfeduc commented on #684
@bbruun The hardware used is : https://www.pine64.org/?page_id=1491 so 4 cores and they are properly detected as such. The hardware should not be the issue then. But thanks for the tip anyway. Maybe @qxing3 does not use the same hardware though...

[2018-04-05 16:06] bbruun commented on #684
@farfeduc it was the roadblock I hit, several tries in a row with reinstallation of my virtual machine to test the installation and get to know k8s, but getting usable logs out of the system is a hazzle and I tried getting it from everywherer I could until I got a message about not enough cpu's available. Now I've bought 3 Udoo x86 Ultra's to run a small cluster to play at home along with work whe

[2018-04-05 16:16] qxing3 commented on #684
@bbruun I configured 2 cpu for my virtual machine, thanks for the tip anyway.

[2018-04-05 19:12] liztio commented on #744
I've tracked this down to this change: a field in kubeProxy [changed from a string to a map](https://github.com/kubernetes/kubernetes/commit/57071d85ee2c27332390f0983f42f43d89821961).

[2018-04-05 23:07] dkirrane commented on #738
I moved to kubeadm and Kubernetes 1.10.0 and works now.

[2018-04-06 04:51] cfregly commented on #743
@bart0sh @chriskinsman

same issue with "true"

[code]

[code]

kube 1.10.0, ubuntu 16.04

[2018-04-06 06:13] cfregly commented on #743
oops, typo on my end.  `enable-hostpath-provider` => `enable-hostpath-provisioner`.

it seems to be working with `enable-hostpath-provider: "true"`  <= must have the quotes around "true", btw.

[2018-04-06 14:53] timothysc commented on #722
I really don't think this is a kubeadm issue it sounds like an image compat problem.

If you have specific data pointing to kubeadm being the problem please feel free to reopen.

[2018-04-06 14:53] #722 closed

[2018-04-06 14:54] timothysc commented on #721
@pswenson could you provide a detailed description of the workflow you want to optimize.

[2018-04-06 15:15] chuckha commented on #742
@geostant Would you be able to provide a list of docker images downloaded prior to going offline?

[2018-04-06 15:47] timothysc commented on #744
@xiangpengzhao - The change to the config for unused fields cause an issue.  We are planning a patch, but we need to generally fix the versioning issues, either through direct transform or eating all of the api-machinery.

[2018-04-06 16:04] chuckha commented on #729
@pankaja-rokkada would you be able to provide the complete output of `kubectl version`? Are you also seeing this problem with kubeadm v1.10?

The feature gates you are talking about exist on the k8s components but not kubeadm (so things like kubelet and the kube-apiserver will have those feature gates). Also of note, both of those feature gates (VolumeScheduling and PersistentLocalVolumes) default

[2018-04-06 16:14] stealthybox commented on #744
Similar to https://github.com/kubernetes/kubernetes/issues/61764

[2018-04-06 16:26] stealthybox commented on #740
@codepainters see https://github.com/kubernetes/kubeadm/issues/740#issuecomment-377263347

[2018-04-06 18:33] timothysc commented on #744
@xiangpengzhao we're working on a fix right now.  We have a plan see slack.

[2018-04-06 18:43] timothysc commented on #739
/assign @chuckha

[2018-04-06 18:49] timothysc commented on #707
/assign @chuckha

[2018-04-06 19:14] liztio commented on #744
/label active

[2018-04-06 20:10] timothysc commented on #718
So nothing here is a kubeadm specific issue.

The other replica should become active.  Node controller changes are a separate concern.

[2018-04-06 20:10] #718 closed

[2018-04-06 20:14] timothysc commented on #708
Yup, closing this one as the upgrade will rotate, and the lifecycle of support for a given release is typically a year.

[2018-04-06 20:14] #708 closed

[2018-04-06 20:16] timothysc commented on #717
agreed & closing.

There are a number of blog posts and youtube videos that outline the details, and we "Heptio" test this for every single release.

[2018-04-06 20:16] #717 closed

[2018-04-06 20:18] timothysc commented on #716
/assign @detiber
/cc @liztio
let's chat more about the air-gapped upgrade scenarios

[2018-04-06 20:30] timothysc commented on #711
I think I have a plan where we can mitigate the startup concerns, I'm going to put this on the 1.11 milestone.

[2018-04-06 20:30] timothysc commented on #711
/assign @detiber

[2018-04-06 20:31] timothysc commented on #713
/assign @chuckha @detiber

[2018-04-06 20:33] timothysc commented on #725
/assign @detiber @chuckha

[2018-04-06 23:09] timothysc commented on #705
There are number of online tutorialshttps://kubernetes.io/docs/tutorials/kubernetes-basics/expose-interactive/

https://kubernetes.io/docs/concepts/services-networking/ingress/

Closing this issue, as it's not a kubeadm problem.

[2018-04-06 23:09] #705 closed

[2018-04-06 23:11] timothysc commented on #701
/assign @detiber

[2018-04-06 23:13] timothysc commented on #699
/assign @chuckha @detiber

[2018-04-06 23:14] timothysc commented on #698
/assign @mattkelly @detiber

[2018-04-06 23:16] timothysc commented on #697
Closing, we've been following the other patterns that exist for all deployments.

/assign @detiber

[2018-04-06 23:16] #697 closed

[2018-04-06 23:18] timothysc commented on #695
Closing, it looks like kubernetes/kubernetes#58769 fixes.

[2018-04-06 23:18] #695 closed

[2018-04-06 23:26] timothysc commented on #688
/assign @chuckha

[2018-04-06 23:28] timothysc commented on #687
closing.

[2018-04-06 23:28] #687 closed

[2018-04-06 23:31] timothysc commented on #684
/assign @liztio

[2018-04-06 23:32] timothysc commented on #683
/assign @liztio

[2018-04-06 23:34] timothysc commented on #681
/assign @chuckha

[2018-04-06 23:36] #674 closed

[2018-04-06 23:41] timothysc commented on #665
closing, no response.

[2018-04-06 23:41] #665 closed

[2018-04-06 23:41] timothysc commented on #664
/assign @liztio

[2018-04-06 23:43] timothysc commented on #672
/assign @chuckha

[2018-04-06 23:45] timothysc commented on #653
/assign @detiber

[2018-04-06 23:47] timothysc commented on #651
I have a plan I need to writeup that's cleaner then checkpoints to have a pivoter pod that always runs to rebootstrap.

[2018-04-06 23:49] timothysc commented on #649
/assign @liztio

[2018-04-06 23:50] timothysc commented on #648
/assign @detiber

[2018-04-06 23:51] timothysc commented on #645
/assign @liztio

[2018-04-06 23:54] timothysc commented on #638
/assign @liztio

/cc @stealthybox

[2018-04-06 23:56] timothysc commented on #636
/assign @liztio

[2018-04-06 23:58] timothysc commented on #635
/assign @liztio

[2018-04-07 00:00] timothysc commented on #628
/assign @detiber

[2018-04-07 00:01] timothysc commented on #619
/cc @craigtracey

[2018-04-07 00:07] timothysc commented on #609
/assign @timothysc @fabriziopandini

[2018-04-07 00:12] timothysc commented on #598
This is a dupe of another issue that I assigned to @liztio, hopefully she can crosslink.

closing this one as a dupe.

[2018-04-07 00:12] #598 closed

[2018-04-07 00:15] timothysc commented on #590
/assign @fabriziopandini @timothysc

[2018-04-07 00:16] timothysc commented on #589
/assign @detiber

[2018-04-07 00:24] timothysc commented on #569
/assign @liztio @chuckha

[2018-04-07 00:26] timothysc commented on #547
Closing stale, if issue persists please reopen with specific details.

[2018-04-07 00:26] #547 closed

[2018-04-07 00:27] timothysc commented on #546
Closing this item as 1.10 doc is out and we will be moving to further the HA story in 1.11

/cc @fabriziopandini

[2018-04-07 00:27] #546 closed

[2018-04-07 00:28] timothysc commented on #541
This problem should no longer exist, if it does please feel free to reopen

[2018-04-07 00:28] #541 closed

[2018-04-07 00:29] timothysc commented on #528
/assign @liztio @timothysc

[2018-04-07 00:30] timothysc commented on #537
/assign @chuckha @detiber to update the docs.

[2018-04-07 00:31] timothysc commented on #536
Closing, self resolved.

[2018-04-07 00:31] #536 closed

[2018-04-07 00:32] timothysc commented on #542
Closing stale, if issue still exists please reopen

[2018-04-07 00:32] #542 closed

[2018-04-07 00:33] timothysc commented on #526
/assign @liztio

[2018-04-07 00:34] timothysc commented on #497
/assign @liztio

[2018-04-07 00:35] timothysc commented on #495
/assign @fabriziopandini  - per our other conversations

[2018-04-07 00:36] #493 closed

[2018-04-07 00:37] timothysc commented on #489
/assign @liztio

[2018-04-07 00:39] timothysc commented on #487
/cc @fabriziopandini  This could affect some HA stories where they have local proxies.

[2018-04-07 00:41] timothysc commented on #465
Closing, stale and last comment.

[2018-04-07 00:41] #465 closed

[2018-04-07 00:42] timothysc commented on #456
/assign @fabriziopandini @liztio

This will be a requirement for some of the HA work in order to validate it.

[2018-04-07 00:44] timothysc commented on #449
I'm closing and will aim to try and eliminate the roadblocks to getting 1st classed for google to adopt.

[2018-04-07 00:44] #449 closed

[2018-04-07 00:45] timothysc commented on #261
Closing this original parent issue as plans have changed, we will have updated issues and pr's coming in 1.11

/cc @fabriziopandini

[2018-04-07 00:46] #261 closed

[2018-04-07 00:47] timothysc commented on #256
closing this one as we have a debug doc now and know howto debug the upstream suite.  However we need to totally refator it which I'm hoping folks can work on in the 1.11 cycle

[2018-04-07 00:47] #256 closed

[2018-04-07 00:49] timothysc commented on #455
Closing this due to the grand refactorings we are planning.

[2018-04-07 00:49] #455 closed

[2018-04-07 10:39] xiangpengzhao commented on #744
@timothysc cool! I didn't notice the plan :)

[2018-04-07 14:09] timothysc commented on #416
https://github.com/kubernetes/kubernetes/pull/55901 addresses.

[2018-04-07 14:16] timothysc commented on #413
/assign @liztio

[2018-04-07 14:31] timothysc commented on #395
@bsalamat what is the plan for beta?

[2018-04-07 14:32] timothysc commented on #388
/assign @chuckha @liztio

[2018-04-07 14:33] timothysc commented on #380
dupe of #416 there is a WIP and closing this one.

[2018-04-07 14:33] #380 closed

[2018-04-07 14:36] timothysc commented on #371
I have new thoughts here which are different than before.

[2018-04-07 14:38] timothysc commented on #322
/assign @chuckha @detiber

[2018-04-07 14:40] timothysc commented on #273
/assign @detiber @timothysc

[2018-04-07 14:49] timothysc commented on #209
/assign @fabriziopandini @timothysc

@fabriziopandini Is there anything left todo.

[2018-04-07 14:50] timothysc commented on #272
/assign @detiber

[2018-04-07 14:50] timothysc commented on #131
Closing, I have cleaner plans.

[2018-04-07 14:50] #131 closed

[2018-04-07 14:51] timothysc commented on #51
/assign @detiber

[2018-04-07 14:53] timothysc commented on #203
/assign @liztio

[2018-04-07 14:54] timothysc commented on #279
/assign @detiber

[2018-04-07 14:56] timothysc commented on #198
/assign @liztio

[2018-04-07 14:57] timothysc commented on #117
/assign @liztio

[2018-04-07 17:15] brendandburns commented on #179
I think providing minimal request values for CPU and Memory would be a good idea, in my raspberry pi cluster, the master is marked as schedulable, and the kube-dns pod lands on the master, but there really isn't enough memory for it to operate, and it gets evicted.

[2018-04-08 06:01] arunmothe opened #745 "[WARNING FileExisting-ebtables]: ebtables not found in system path. Linux"
I am getting error ebtables not found in system path during initializing Kubeadm. This issue is resolved in latest package but i am still facing the same. https://github.com/kubernetes/kubeadm/issues/6
I am using YAML to perform this, below is my code:

     -name: Initialize Kubeadm
      become: true
      become_method: pbrun
      become_user: root
      command: kubeadm init
      register: o

[2018-04-08 06:45] theduke commented on #106
@luxas this is still happening for me with kubeadm and Kubernetes 1.10

[2018-04-08 07:32] geostant commented on #742
@chuckha
I got a script that download the relevant images and save them to tar files before I transfer them
to an offline server.

These are the images based on installed kubectl, kubelet and kubeadm version v1.10.0:
[code]
After I save them to tars and move them to the offline server,
I load them to my docker engine and run kubeadm init --kubernetes-version v1.10.0

[2018-04-08 10:51] geostant commented on #742
Some logs that I've extracted from the offline system (I had to type it word by word):
[code]

Obviously the main issue is port 6443 which is down
I've 2 console screens - one of the kubeadm and the second with `ss -tuna | grep -i listen` where I obviously missing 6443 in the port list.
SELINUX is disabled, firewalld is disabled and of course running as root.
The only ports that I can see up and l

[2018-04-08 11:15] discordianfish commented on #261
@timothysc Where can I read about the new plan?

[2018-04-09 01:35] kable-wilmoth commented on #740
FYI - same problem/issue upgrading from 1.9.4.
Tried the workaround of re-trying a number of times.  Finally hit the race condition w/ the API server and the upgrade couldn't roll back.

[2018-04-09 02:11] timothysc commented on #745
/assign @detiber

[2018-04-09 02:52] VincentFF opened #747 "Use kubeadm join a worker, received a success response, but cant see the worker"
** version : 1.9.5 **

## joined a node, but cant see it when use `kubectl get nodes`
Hello.
I execute `kubeadm join ` in a node named `dockerhub `, received a suceess response.
But when I execute `kubectl get nodes`, I cant see the node. I have waited a long time.

The `kubeadm join` and it's print.
[code]

The `kubectl get nodes` and it's print.
[code]

kubelet status.
[code]

some log in `/var/

[2018-04-09 08:41] kars7e opened #748 "kubeadm-1.10 does not cleanup pods in CRI-O with recent crictl versions"
## What happened?
Recent version of crictl [introduced](https://github.com/kubernetes-incubator/cri-tools/pull/222) new syntax for retreiving/cleaning pods. Crictl subcommands [previously known](https://github.com/kubernetes/kubernetes/blob/5648200571889140ad246feb82c8f80a5946f167/cmd/kubeadm/app/cmd/reset.go#L40) as `sandboxes`, `stops` and `rms`, are now `pods`, `stopp` and `rmp`, respectively.

[2018-04-09 08:45] fabriziopandini commented on #209
@timothysc this is still not addressed.

Following options where considered and then discarded:
1) generate systemd drop-ins and restart kubelet
2) use dynamic kubelet config

The only option left on the table is to wait for the node to join and then send labels to the apiserver, but it is kind of risky for worker nodes nodes - where the only identity you get is the token or the kubelet itself - (

[2018-04-09 08:57] fabriziopandini commented on #590
@discordianfish what about using the API.ControlPlaneEndpoint config option to solve your issue?
This new config option, added in the v1.10 cycle, allows to define a stable address that will be used also in the kube-proxy config map (currently only a DNS name are supported; see https://github.com/kubernetes/kubernetes/pull/59288 for details about the originating PR).

[2018-04-09 09:05] ps-aux commented on #416
@timothysc could you please exlain how https://github.com/kubernetes/kubernetes/pull/55901 addresses custom username/cluster name config ?

[2018-04-09 09:33] geoffgarside commented on #742
If you run `docker ps -a` has the apiserver container ever been started?

[2018-04-09 10:47] codepainters commented on #740
@stealthybox thx, I didn't get it at first reading.

[2018-04-09 11:09] discordianfish commented on #590
@fabianofranz Yes, sounds like this should work for me too.

[2018-04-09 11:35] geostant commented on #742
@geoffgarside There is a "pasue" place holder for the api server
I got the following containers:
[code]

[2018-04-09 11:36] geostant commented on #742
I'm going to try and run the same process outside on AWS on a machine that isn't connected to the internet (will connect thru VPN) to try and simulate the environment inside our isolated network

[2018-04-09 11:49] fabriziopandini commented on #590
@discordianfish this is Great!
If this works for you, could you kindly close the issue?

[2018-04-09 12:03] discordianfish commented on #590
Ok, but since we're on it and it's related, would be great to get some attention on #699

[2018-04-09 12:03] #590 closed

[2018-04-09 12:06] discordianfish commented on #699
Any ideas already how to approach this? This hit us multiple time now and I'd be happy helping to fix this.

For something as fundamental as kube-proxy maybe just having a generic NoSchedule toleration would be fine?

[2018-04-09 12:41] xiangpengzhao commented on #742
~~Note that the etcd container is not running. It should run first. Is there any clue for this?~~

EDIT: just find in the issue body that you said etcd is running :) I didn't see it in https://github.com/kubernetes/kubeadm/issues/742#comment-379721844

[2018-04-09 13:53] timothysc commented on #668
@arunmk - can you distill the actionable requirements you are looking for?  Most of these issues I have seen have todo with the ability to change the hostname.

[2018-04-09 14:27] fabriziopandini commented on #609
@discordianfish considering the availability of the new API.ControlPlaneEndpoint config option (that could be used also for defining the address of the LB in an HA scenario), is the new flag still needed or not?

[2018-04-09 15:10] chuckha commented on #739
@rajansandeep You'll have to use kubeadm v1.10 to see the new values -- what is the output when you upgrade kubeadm to version 1.10 (binary is available https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#server-binaries) and run upgrade plan?

[2018-04-09 15:15] Sushma569 commented on #740
I am having the same issue..[ERROR APIServerHealth]: the API Server is unhealthy; /healthz didn't return "ok"
	[ERROR MasterNodesReady]: couldn't list masters in cluster: Get https.......while upgrading. Please help me with this

[2018-04-09 15:34] discordianfish commented on #609
Oh right, this can be closed now too.

[2018-04-09 15:34] #609 closed

[2018-04-09 16:35] rajansandeep commented on #739
@chuckha I don't think the `kubeadm upgrade` issue is fixed, so I'm unable to check that yet.

[2018-04-09 16:48] chuckha commented on #739
Oh, yeah you're totally right, it's not fixed yet.

Are you suggesting we backport/cherry-pick (which verb is correct?) those commits to 1.9.x? Seems reasonable if that's the version 1.10 wants...what do you think @timothysc ?

[2018-04-09 16:50] chuckha commented on #713
@kargakis what version of kubeadm are you running? (`kubeadm version -o short` will get this information)

[2018-04-09 19:13] arunmk commented on #668
@timothysc I saw errors of the form mentioned in this comment: https://github.com/kubernetes/kubeadm/issues/668#issuecomment-368955940

To get around this issue, we used the script mentioned in https://github.com/kubernetes/kubeadm/issues/668#issuecomment-368708398

I don't have an RCA for that as it was on a machine where I don't have much access. What I am looking for are:
- does anyone know of

[2018-04-10 00:05] bsalamat commented on #395
@timothysc The plan is to go to Beta in 1.11.

[2018-04-10 04:58] guangxuli commented on #584
@liztio @timstoop i have the same problem, any progress?

[2018-04-10 05:47] jethrogb commented on #664
See #598

[2018-04-10 07:06] kargakis commented on #713
I always install using latest so v1.9.3 in this case.

[2018-04-10 14:39] timothysc commented on #748
/cc @jberkus @runcom for routing.

@kars7e for completeness you are running kubeadm on arm with CRI-O on ubunutu?

[2018-04-10 14:42] timothysc commented on #747
@VincentFF - have you checked your firewall rules?

/assign @detiber

[2018-04-10 14:58] chuckha commented on #707
@alvarosIGZ would you be able to provide your PVC, StorageClass and exactly how you tried to resize it?

It would also help to know how you configured your API server since it looks like Kubeadm successfully bootstrapped the cluster.

[2018-04-10 15:33] timothysc commented on #699
/assign @fabriziopandini

[2018-04-10 15:49] discordianfish commented on #699
@timothysc That's why I'm offering my help :)
So if there is a actionable plan or route to get there, I can look into it.

[2018-04-10 17:04] runcom commented on #748
I'm going to fix this

[2018-04-10 18:17] chuckha commented on #669
The upgrade path hardcodes a list of images to pull. One approach here is simply adding etcd to this list, but the problem with that is that kubeadm may end up pulling images unnecessarily (when etcd is external, kubeadm won't have any domain over that system).

A better approach would be to figure out which upgrades are being performed and pull the images based on the upgrades instead of a static

[2018-04-10 19:58] chuckha commented on #669
On further inspection I think adding Etcd to the list of master components is the right move since this

https://kubernetes.io/docs/concepts/overview/components/

lists etcd as part of a master component.

[2018-04-10 21:15] liztio commented on #668
@arunmk have you noticed anything about the environments the issue occurs in? I'm happy to dig in on this, but I need a starting point.

[2018-04-11 01:04] kars7e commented on #748
Thanks @runcom !

@timothysc yes, it's ubuntu 16.04 on ARM architecture, with CRI-O version 1.10.0 from https://launchpad.net/~projectatomic/+archive/ubuntu/ppa, and `crictl` from https://github.com/kubernetes-incubator/cri-tools/releases/download/v1.0.0-beta.0/crictl-v1.0.0-beta.0-linux-arm.tar.gz

[2018-04-11 02:28] VincentFF commented on #747
@timothysc

yes. I have close the firewalld, and open all tcp & udp ports.

[2018-04-11 05:53] #340 closed

[2018-04-11 08:00] VincentFF commented on #747
@detiber please have a look

[2018-04-11 08:58] aisensiy commented on #526
Trying to make kubeadm installed cluster to work with EBS in aws but failed. Hope there is some good instruction for that.

[2018-04-11 09:31] amit-handa commented on #312
I was installing kubeadm on virtualbox vm (centos7). (install instructions: https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/ )
I was unable to do it. landed here. a short fix was mentioned in comments above
[code]
unfortunately, it didnt work in my case. It gave 'no such file or directory'.
correct fix is mentioned [here](http://zeeshanali.com/sysadmin/fixed-sysctl-cannot-stat-

[2018-04-11 10:14] bart0sh commented on #743
@cfregly I'm glad it worked for you. @timothysc should we close this issue?

[2018-04-11 12:38] discordianfish commented on #699
So I think there are two options:

1. Tolerate all taints, that's trivial to change
2. Tolerate only specific taints but make it possible to use taints for special nodes (eg. GPU workers like in my case)

2. Would be very involved since it would require a mechanism to update the kube-proxy manifest during runtime, all things given. The best way I can imaging to solve this would be changing the tai

[2018-04-11 14:48] detiber commented on #745
@arunmothe can you provide me the output of both `kubeadm version` and `cat /etc/os-release` on the host you are running the playbook against?

[2018-04-11 14:54] detiber commented on #745
@arunmothe A few more followup questions:
- How did you install the kubelet binary?
- If from a package, which repository and which version of the package?

[2018-04-11 17:18] chuckha commented on #742
`kubeadm init` without a config will use the ip of the host's default network interface. It seems like that IP is not routing correctly to the container so the kubelet can't talk to the api server. Might be worth investigating that

[2018-04-11 18:11] ChiefAlexander opened #749 "Kubeadm Init fails when using CRI-O without Docker running/installed"
## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.0
- **Cloud provider or hardware configuration**: Openstack
- **OS** (e.g. from /etc/os-release): UEK5
- **Kernel** (e.g. `uname -a`): 4.14.32-1.el7uek.x86_64
- **Others**: Docker is not installed we are using CRI-O as our runtime

## What happened?
When running

[2018-04-11 18:48] timothysc commented on #749
This overlaps with #748 a lot, and until upstream enables test automation on a CRI-O deploy I'd be reticent about adding the enablement as a default.

Also, you can skip those preflight checks to install.

[2018-04-11 19:18] timothysc commented on #748
/assign @runcom

[2018-04-11 19:47] timothysc commented on #749
/assign @runcom

[2018-04-11 20:44] geoffgarside commented on #742
Is this the same as kubernetes/kubernetes#61277, is your etcd container crashing like @ChristianCandelaria describes?

[2018-04-11 21:26] chuckha commented on #742
What are the specs of this machine? Plenty of resources to spare? Does it meet the minimum requirements listed here https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#before-you-begin ?

I get the exact same situation when I use a vm with .5gB of ram and when i increase it to 2gB everything works fine.

[2018-04-12 00:31] #719 closed

[2018-04-12 06:55] fabriziopandini commented on #731
@mxey a possible workaround is to pass `--features-gates` to upgrade as a flag; the fix is on the flight

[2018-04-12 15:53] chuckha commented on #739
After chatting in #sig-cluster-lifecycle it seems like the fix should be something like: don't suggest versions for versions ahead of current kubeadm. An example will make this clearer:

kubeadm (v1.9) upgrade plan says that v1.10.0 is the latest stable and also suggests that kube-dns should be version 1.14.7 for that upgrade. However, it also tells you to upgrade kubeadm to v1.10.0. Once you upgr

[2018-04-12 15:54] #731 closed

[2018-04-12 19:04] liztio commented on #456
/active

[2018-04-12 20:45] chuckha commented on #689
We should probably include the fact that `kubeadm reset` doesn't flush iptables rules here: https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-reset/

in the meantime @vhosakot you can check out this blog post to see how to reset your iptables rules https://blog.heptio.com/properly-resetting-your-kubeadm-bootstrapped-cluster-nodes-heptioprotip-473bd0b824aa (disclaimer: I work at hept

[2018-04-12 21:10] liztio opened #750 "v1alpha2 versioning for kubeadm configuration structs"
Presently, Kubeadm's config file is in alpha state, which means it can and [and does](https://github.com/kubernetes/kubeadm/issues/744) change without notice. Because Kubeadm needs to work consistently with configuration written by many versions, it's important that this format doesn't change.

The current configuration file [embeds TypeMeta](https://github.com/kubernetes/kubernetes/blob/master/cm

[2018-04-12 21:15] liztio commented on #750
/cc @timothysc

[2018-04-13 05:13] RainingNight commented on #257
@anjia0532 How to set registy in 1.8+?

[2018-04-13 06:38] fabriziopandini opened #751 "Checklist for kubeadm join --control-plane implementation"
This is the checklist for the implementation of `kubeadm join --control-plane` [Kubernetes Enhancement Proposal](https://github.com/kubernetes/community/blob/master/keps/sig-cluster-lifecycle/draft-20180130-kubeadm-join-master.md#kubeadm-join---master-workflow).

A first prototype is [here](https://github.com/kubernetes/kubernetes/pull/58261), but the final implementation is expected to:
* take ad

[2018-04-13 06:41] resouer commented on #528
https://github.com/kubernetes/kubernetes/pull/62515 This patch would help to generate default config file for kube-scheduler.

[2018-04-13 07:18] yanndegat opened #752 "Front proxy ca private key has to be shared accross all nodes"
FEATURE REQUEST

You can externalize the CA and delegate tls cert management to a third party
But actually, you can't do it with the front proxy ca as kubeadm requires
the private key to be installed on all master nodes.
see:

 https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/certs/certs.go#L639

## Versions

**kubeadm version** (use `kubeadm version`):
1.10.0

## What y

[2018-04-13 11:01] bart0sh commented on #653
@detiber @kad any comments or suggestions how to proceed further?

[2018-04-13 13:37] jakolehm commented on #487
We are also hitting into this.. we need client side load balancing and this kinda makes it really hard (workaround is to update cluster-info configmap).

[2018-04-13 13:40] SpComb commented on #487
The problematic `utilnet.ChooseBindAddress` only seems to be called in two places: with the [`kubeapiserver --insecure-bind-address=...` value](https://github.com/kubernetes/kubernetes/blob/v1.9.6/pkg/kubeapiserver/options/serving.go#L95) and then with the [`kubeadm --apiserver-advertise-address=...` value](https://github.com/kubernetes/kubernetes/blob/v1.9.6/cmd/kubeadm/app/util/config/masterconf

[2018-04-13 13:49] timothysc commented on #752
/cc @stealthybox @fabriziopandini

[2018-04-13 13:53] TomRK1089 opened #753 "kubeconfig should allow groups (organizations) to be specified in client cert"
## What keywords did you search in kubeadm issues before filing this one?

kubeconfig, client certificate, group

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST
I'd like to be able to specify one or more organizations in the client certificate generated by `kubeadm alpha phase kubeconfig user`. Currently I can specify the CN (corresponding to a user) but not any of the O (correspondi

[2018-04-13 14:49] #713 closed

[2018-04-13 14:57] timothysc commented on #750
/assign @liztio

[2018-04-13 16:43] stealthybox commented on #752
/area security
/sig cluster-lifecycle

[2018-04-13 17:02] xlgao-zju opened #754 "Kubeadm init failed sometimes on alibaba cloud"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kubeadm init failed sometimes, because it got timeout from other component.

**What you expected to happen**:
Kubeadm init succeeded.

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubeadm init` on alibaba cloud, and it fails sometimes.

**Anything else we need to know?**:
Here are some logs.
[code

[2018-04-13 18:36] manojakondi commented on #684
+1 v1.10.0

[2018-04-13 19:28] TechnoRoss commented on #684
+1 v1.10.0 and 1.10.1

[2018-04-13 19:59] cleversonledur commented on #684
+1

[2018-04-13 20:15] timothysc commented on #754
@xlgao-zju is it possible for you to grab the kubelet and the api-server (pod) logs to determine why it is timing out.  The error propagation write uploading of the config map doesn't say much.

[2018-04-13 22:35] klausenbusk commented on #671
I only think `/etc/ca-certificates` is relevant, `update-ca-certificates` on Debian "bundle" all the certificates into `/etc/ssl/certs/ca-certificates.crt`, so I suppose that is enough (?).

[2018-04-14 17:37] TechnoRoss commented on #684
Interestingly enough, I am finding deltas depending on where I deploy.  I hope to find time to explore further, but so far, I know this.  If I use my Mac/VMware Fusion and run CentOS 7 VMs, I can use kubeadm 1.8 with full success.  I have never got v1.9 or v1.10 to work locally.  However, using CentOS 7 images at Digital Ocean, I can run v1.8.x, v1.10.0 and v1.10.1 successfully; v1.9 seems to "jus

[2018-04-15 09:09] geostant commented on #742
@geoffgarside
Seems that ETCD doesn't even start based on the container list that I've published above
There is a "placeholser" (?) for ETCD
```k8s.gcr.io/pause-amd:3.1                   | k8s_POD_etcd```

I've noticed that on your link there is a suggestions to start ETCD seperatly
I'm going to try that.

[2018-04-15 09:10] geostant commented on #742
@chuckha
Plenty of resources
22 Cores (Xeon)
512G RAM
15T NVMe disks

[2018-04-15 11:11] geoffgarside commented on #742
@geostant if you run `docker ps -a` it should show the exited containers as well, usually there will be a etcd container which has been terminated, though it looks like its been shutdown intentionally rather than crashing. I'm not sure if perhaps the livenessProbe is failing, thinking the service is dead, then restarting it. Running the etcd service externally presumably isn't using a livenessProb

[2018-04-15 11:28] geostant commented on #742
I think that I got something... I'm trying it now
setting external yaml config file with:
[code]

[2018-04-15 11:31] geoffgarside commented on #742
Ah, you've got the localhost lookup/binding issue. I found that in my searching, but its not fixed my little pi cluster :( glad you've got yours working :)

[2018-04-15 11:34] geostant commented on #742
@geoffgarside
Not so fast - I'm waiting for several minutes to the init to finish
On ETCD logs I can see that it binds now to 127.0.0.1 and the port is not being served (`ss -tuna | grep -i listen`)

[2018-04-15 11:36] geostant commented on #742
/var/log/messages still show connection refuse on port `6443`

[2018-04-15 11:39] geoffgarside commented on #742
I've been trying this command to try and debug the liveness probe, I'm assuming the liveness probe is executed in the running container, and not using a separate container

[code]

I'm probably just going around in circles and missing something very basic

[2018-04-15 11:40] geostant commented on #742
apiserver container logs show:
```container_linux.go:247: starting container process caused "exec: \"kube-apiserver\": executable file not found in $PATH"```

[2018-04-15 12:12] geoffgarside commented on #742
Thats worrying, might be worth deleting and re-pulling your api server container images down again.

[2018-04-16 04:48] danderson opened #755 "`kubeadm upgrade plan` and `kubeadm upgrade apply v1.10.1` both hang"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind bug

Choose one: BUG REPORT or FEATURE REQUEST

## Versions

**kubeadm version** (use `kubeadm version`): 1.10.1

[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.0
- **Cloud provider or hardware configuration**: Bare metal, x86_64 (Xeon D-1518)
- **OS** (e.g. from /etc/os-release): Debian Testing
- **Kernel** (e.g.

[2018-04-16 04:49] danderson commented on #755
I should also add: Kubernetes itself is working fine (control plane up, responsive, scheduling pods...). I also tried rebooting this machine in case there was any wedged state anywhere, but it didn't help.

@kubernetes/sig-cluster-lifecycle-bugs

[2018-04-16 08:07] xiangpengzhao commented on #753
@TomRK1089 I send PR https://github.com/kubernetes/kubernetes/pull/62627 to support this. PTAL.

[2018-04-16 08:07] xiangpengzhao commented on #753
/assign

[2018-04-16 09:02] xlgao-zju commented on #754
@timothysc OK, cause this issue happens occasionally, so I will grab the logs of kubelet and api-server when this issue comes up next time.

[2018-04-16 09:09] embik commented on #663
Would you mind sharing your solution @shenshouer ?

[2018-04-16 10:39] guhuajun commented on #684
Greetings,

You may refer to https://docs.docker.com/config/daemon/systemd/#httphttps-proxy to set proxy for docker daemon.

[2018-04-16 12:18] xiangpengzhao commented on #752
Sent a PR https://github.com/kubernetes/kubernetes/pull/62643 to fix this.

[2018-04-16 14:40] timothysc commented on #755
@danderson Thank you for reporting, we are aware of 2 distinct upgrade bugs are working to get a fix in 1.10.2.  I'm going to close this issue as a dupe.

/cc @liztio @detiber @stealthybox

[2018-04-16 14:40] #755 closed

[2018-04-16 16:08] timothysc commented on #754
@xlgao-zju  - many thx!

[2018-04-16 16:50] stealthybox commented on #755
@timothysc this is currently undocumented in the other issues, but I was seeing this is morning with existing TLS clusters being unable to upgrade.

The root of this symptom is that the Etcd client used for the pre-upgrade check doesn't support TLS.

https://github.com/kubernetes/kubernetes/pull/62655 does address this case

[2018-04-16 20:25] chrisob opened #756 ""kubeadm alpha phase kubeconfig user" fails on restricted networks"
## What keywords did you search in kubeadm issues before filing this one?
kubeadm alpha phase kubeconfig user restricted network offline

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions
**kubeadm version** (use `kubeadm version`):
`kubeadm version: &version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean"

[2018-04-16 22:02] #753 closed

[2018-04-16 22:57] stealthybox commented on #740
Temporary workaround is to ensure certs and upgrade the etcd and apiserver pods by bypassing the checks:
[code]

[2018-04-17 03:02] DylanGraham commented on #740
Thanks @stealthybox
For me the process stalled on `[upgrade/apply] Upgrading your Static Pod-hosted control plane to version "v1.10.1"...` however the cluster was successfully upgraded.

[2018-04-17 03:39] xiangpengzhao commented on #756
kubernetes version is not actually used here, so we don't need to specify it by an extra flag. We need to address this case in the code of this command.

/kind enhancement
/assign

[2018-04-17 08:01] kvaps commented on #740
@stealthybox I'm not sure, but seems that something is broken after these steps, because `
kubeadm upgrade plan` is hungs after that:
[code]

When apply update I had hunged `[upgrade/apply] Upgrading your Static Pod-hosted control plane to version "v1.10.1"...` too

[2018-04-17 08:31] lizcly opened #758 "kubeadm init v1.10.0 hangs dial tcp 192.168.0.7:6443: getsockopt: connection refused"
Apr 14 13:24:01 k8scluster-master kubelet[21772]: E0414 13:24:01.019782 21772 certificate_manager.go:231] Reached backoff limit, still unable to rotate certs: timed out waiting for the condition
Apr 14 13:24:01 k8scluster-master kubelet[21772]: E0414 13:24:01.022122 21772 event.go:209] Unable to write event: 'Post https://192.168.0.7:6443/api/v1/namespaces/default/events: dial tcp 192.168.0.7:6443

[2018-04-17 08:56] codepainters commented on #740
@kvaps @stealthybox this is most likely `etcd` issue (`kubeadm` speaks plain `HTTP/2` to TLS-enabled `etcd`), I hit it too. See this other issue: https://github.com/kubernetes/kubeadm/issues/755

[2018-04-17 09:43] chrisob commented on #756
Even better, thanks for looking into this :)

[2018-04-17 10:10] geostant commented on #742
I'm happy to inform that kubernetes cluster works great
After bypassing the localhost dns issue I had still the issue of
```container_linux.go:247: starting container process caused "exec: \"kube-apiserver\": executable file not found in $PATH"``

which then lead to go inside the container and actually search for the command kube-apiserver which yield zero results.

Then I've searched for kube* an

[2018-04-17 10:10] #742 closed

[2018-04-17 10:12] sa-shukla commented on #504
master # ping 10.96.0.1
PING 10.96.0.1 (10.96.0.1) 56(84) bytes of data.
^C
--- 10.96.0.1 ping statistics ---
3 packets transmitted, 0 received, 100% packet loss, time 2000ms

Should this work?

[2018-04-17 15:15] timothysc commented on #754
/label active

[2018-04-17 15:40] timothysc commented on #758
@lizcly - We need more details that are part of the issue submission template in order for us to assist.

e.g. What were you doing, what state were you in ... Pretty much what's in the template.

Without that detail it's very difficult to understand why you are having an issue and how we can help fix it.

In the mean time I'm going to close this issue.

[2018-04-17 15:40] #758 closed

[2018-04-17 17:28] neolit123 commented on #198
hi, @liztio and @timothysc
i think i can help with this change-request.

just a little bit of clarification:

this would mean that we add more default search paths instead of just failing after no config is found in `/etc/kubernetes/admin.conf` and in case the user did not provide `--kubeconfig`?

apart from the paths listed in the `KUBECONFIG` env. variable, the current default path `/etc/kuberne

[2018-04-18 01:08] hh opened #759 "Enable Advanced Auditing Webhook Backend Configuration"
https://kubernetes.io/docs/tasks/debug-application-cluster/audit/#webhook-backend

```--audit-webhook-config-file``` should be supported at a minimum

[2018-04-18 03:28] novakg commented on #417
This is a very helpful discussion. I'd suggest to add these steps to the documentation: https://kubernetes.io/docs/setup/independent/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl

[2018-04-18 03:52] #744 closed

[2018-04-18 04:11] stealthybox commented on #740
OH!
Shoot you're right, that only works with my local TLS patch for the Etcd status check.

Do this to finish the upgrade:
[code]

[2018-04-18 05:39] fabriziopandini opened #760 "Ensure ExtraArgs take precedence over generated args"
https://github.com/kubernetes/kubernetes/pull/61705 from @jstangroome fixed a minor error in management of extra args for scheduler; we should implement a similar fix for the API server as well

[2018-04-18 13:40] hansamann commented on #684
+1 Running on HypriotOS on Raspberry PI 3

[2018-04-18 13:45] farfeduc commented on #684
I was able to make it work by installing v1.9.6 instead of the last version.
So it works normally with v1.9.6 but fails with v1.10.0 and v1.10.1 on ubuntu 16.04 on arm64 on sopine boards.

[2018-04-18 13:59] timothysc commented on #759
@hh - This exists as an option that can be passed through to enable, but hasn't yet been abled by default.

I don't know what stage it lives at in it's lifecycle, but we may want to setup sane defaults now.

/cc @chuckha @kubernetes/sig-cluster-lifecycle-feature-requests

[2018-04-18 19:58] timothysc commented on #743
@bart0sh - yup, closing.

[2018-04-18 19:58] #743 closed

[2018-04-18 20:00] timothysc commented on #735
So I'm actually going to close this issue, b/c right now we are going to overhaul both phases and self-hosting in an effort to move to beta.

[2018-04-18 20:00] #735 closed

[2018-04-18 20:40] timothysc commented on #711
So I think what is written is really clear, and "in general" if you are using alpha-grade features we don't technically support known issues.

This cycle I am planning to have an updated KEP wrt to self-hosting to try and solve this problem, so I'm going to close this issue and clear out the backlog.

[2018-04-18 20:40] #711 closed

[2018-04-18 20:42] timothysc commented on #706
/cc @liztio

this will be added as one of the requirements on the config KEP.  It's also listed in the kubeadm office hour notes for 20180418

[2018-04-18 21:02] timothysc commented on #680
So I'm closing this issue, b/c there are a number of well-documented paths for setting up ingress on different providers and on-prem, and due to lack of activity from the original filer.

We setup ingress on-prem and across different clouds w/kubeadm installations.

[2018-04-18 21:02] #680 closed

[2018-04-18 22:33] spiffxp commented on #494
/remove-help
I don't think this meets [the criteria for `help wanted`](http://git.k8s.io/community/contributors/devel/help-wanted.md). Please add back via `/help` if I'm incorrect

[2018-04-18 23:12] hh commented on #759
I could only find the following parameters:

[code]
For webhooks we are going to need ```--audit-webhook-*``` and [friends](https://github.com/kubernetes/website/blob/master/docs/tasks/debug-application-cluster/audit.md#webhook-backend):

[code]

[2018-04-19 00:53] #752 closed

[2018-04-19 02:44] hh commented on #759
Work happening in https://github.com/kubernetes/kubernetes/pull/62826.
Any feedback / guidance is appreciated.

[2018-04-19 08:25] #672 closed

[2018-04-19 12:38] detiber commented on #727
@jmara most likely not, you might be able to work around by executing the phases independently, but I haven't tested it.

[2018-04-19 14:08] neolit123 commented on #198
send PR for review.

[2018-04-19 20:30] liztio commented on #456
Can we clarify this a little more? What RBAC roles should be expected? What's the "correct manner" for cluster-info to be exposed? What node bootstrap token rules should exist?

[2018-04-19 22:13] fabriziopandini commented on #456
@liztio I think that this document can be a good starting point
https://kubernetes.io/docs/reference/setup-tools/kubeadm/implementation-details/#wait-for-the-control-plane-to-come-up.
If I got this right we have to check that kubeadm-- executes properly the steps starting from mark master.

Is there a WIP for this work?

[2018-04-20 06:48] BumwooPark opened #761 "kubeadm init not working and kubelet not running"
@BumwooPark commented on [Fri Apr 20 2018](https://github.com/kubernetes/kubernetes/issues/62897)

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
command `kubeadm init`

then showing
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
kubeadm reset and after kubeadm init

**Anything else we need to know?**:

**Environm

[2018-04-20 14:29] timothysc commented on #648
@detiber @stealthybox - This is not the case with your current changes to be put into 1.10 so I'm punting this issue to you.

[2018-04-20 14:41] timothysc commented on #574
Per @bart0sh comment, I'm closing this issue.

We test the installation instructions for every single https://aws.amazon.com/quickstart/architecture/heptio-kubernetes/ on the documented issue and have not seen failures.

We also have image automation here:
https://github.com/heptiolabs/wardroom

If folks have an exact step-by-step reliable reproduction scenario for 1.9+ please feel free to reopen,

[2018-04-20 14:43] #574 closed

[2018-04-20 14:56] timothysc commented on #277
So I'm going to close this issue and open a new one to outline the doc on using the existing commands to lay down etcd, we will likely have to wait until we have some of the other phases work done as well.

/cc @chuckha @fabriziopandini @stealthybox

[2018-04-20 14:56] #277 closed

[2018-04-20 16:15] timothysc commented on #416
@ps-aux Sorry wrong link.
https://github.com/kubernetes/kubernetes/pull/60852 addresses clustername, and has been merged.

https://github.com/kubernetes/kubernetes/pull/52470 - addressed both, but I'm not sold on kubeadm touching multi-user space.  IMO this is policy and can/should be done separately.

As a result, I'm closing this issue.

If folks have a compelling argument on user override that

[2018-04-20 16:15] #416 closed

[2018-04-20 16:28] chuckha commented on #761
What is the output of `yum list kubelet` ? Another way to phrase that question is: what version of the kubelet got installed? Your kubeadm client might be 1.10.1, but it looks like the kubelet is old.

I don't see any `yum update` on this page https://kubernetes.io/docs/setup/independent/install-kubeadm/ so perhaps your yum is out of date?

[2018-04-20 16:29] chuckha commented on #761
That flag was deprecated at some point (probably 1.9 or 1.8) and removed in 1.10:

https://github.com/kubernetes/kubernetes/pull/58367

[2018-04-20 17:42] detiber commented on #648
@timothysc This definitely fits in with the work going on around etcd upgrades and external etcd.

[2018-04-20 18:30] timothysc commented on #528
/cc @xiangpengzhao in case you are also interested, b/c i saw you on the other PRs.

[2018-04-20 20:06] dasgoll commented on #106
@luxas Same issue with 1.9

[2018-04-20 20:26] praseodym commented on #739
kube-dns was upgraded to v1.14.10 https://github.com/kubernetes/kubernetes/pull/62678 in v1.9.7, but `kubeadm upgrade plan` with kubeadm v1.9.7 still keeps it at v1.14.7.

[2018-04-20 21:29] timothysc commented on #395
@bsalamat Please poke when it's official and we'll enable.

[2018-04-20 22:36] stealthybox commented on #648
@kargakis is this case only true with external etcd?

[2018-04-20 23:01] bsalamat commented on #395
We have added PriorityClassName in kubernetes/kubernetes#59237 to a few of our system critical pods. We added those in 1.10. I am not sure if kubeadm uses those yaml files though.

[2018-04-21 07:13] BumwooPark commented on #761
command `yum list kubelet` is kubelet.x86_64  1.10.1-0  @kubernetes
 and `yum list installed` is same version

[2018-04-21 14:56] kargakis commented on #648
No, this is with an etcd installed by kubeadm.

[2018-04-21 17:42] Pinaute commented on #274
I had the same problem, I resolved like this:
`apt install kubelet=1.5.6-00 kubectl=1.5.6-00 kubeadm=1.5.6-00`

[2018-04-22 05:12] JoeJasinski commented on #684
I have the same issue on Raspberry Pi 3, HypriotOS. Downgrading to 1.9.7-00 also worked for me.

[2018-04-22 11:45] crankbird commented on #613
likewise on Ubuntu 16.4 .. the helpful suggestion of using "go get ..." was there, but that required an

sudo apt-get install golang-go

then you run the go-get command, and then it errors out because GOPATH isnt set, which I fixed, but then it complained because I used a relative path, which I fixed, but then it complained because

package context: unrecognized import path "context" (import path

[2018-04-22 11:45] stealthybox commented on #755
@vaizki referenced above:
kubernetes/kubeadm/issues/740
kubernetes/kubernetes/issues/61764
kubernetes/kubernetes/pull/62655

[2018-04-22 12:03] praseodym opened #762 "Add ability to customise admission controllers"
Choose one: FEATURE REQUEST

Currently kubeadm does not have the ability to customise [the list of admission controllers](https://github.com/kubernetes/kubernetes/blob/2d9b2d9fef6820339eaef2fdad76b590f3882da5/cmd/kubeadm/app/phases/controlplane/manifests.go#L48) that the API server will be configured to use. This means that any changes in this area need to be manually applied to the static pod man

[2018-04-22 16:37] kocoten1992 commented on #684
+1, raspberry pi 3b, hypriotOS

[2018-04-23 01:00] BumwooPark commented on #761
@chuckha

I installed kubeadm & kubelet again today
It works well wonderfully.... :0

thanks to your help  😀

[2018-04-23 01:00] #761 closed

[2018-04-23 08:48] dixudx commented on #639
IMO this is a configuration mismatch between `docker` and `kubelet`, rather than a bug.

Before running `kubeadm init`, a [prerequisite check on cgroup driver](https://kubernetes.io/docs/setup/independent/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-master-node) should be done.

[2018-04-23 10:43] chuckha commented on #739
@praseodym Good catch. I've opened a patch to get that cherry picked into the 1.9 release https://github.com/kubernetes/kubernetes/pull/63001

I'm working on a fix for the larger issue as well. This mostly comes down to not letting past versions of kubeadm try to read the future (hint: they cannot)

[2018-04-23 10:48] VincentFF commented on #574
I have the same problem on kubernetes-v1.9.5.
Exec kubeadm join and reponse this:
This node has joined the cluster:
* Certificate signing request was sent to master and a response
  was received.
* The Kubelet was informed of the new secure connection details.

Run 'kubectl get nodes' on the master to see this node join the cluster.`

[2018-04-23 11:08] bart0sh commented on #574
@VincentFF Can you describe the issue you're having in more detailed way?

Does your /etc/systemd/system/kubelet.service.d/10-kubeadm.conf  contain --bootstrap-kubeconfig option?

[2018-04-23 18:07] xjantoth commented on #417
I'm experiencing exactly same problems on **Centos7** .
I have installed a simple two member (master, node) k8s cluster on Centos7.4
Followed https://www.linuxtechi.com/install-kubernetes-1-7-centos7-rhel7/

     kubectl.exe get nodes
    NAME               STATUS    ROLES     AGE       VERSION
    x042.x.int.com     Ready     <none>    36m       v1.10.1
    x051.x.int.com     Ready     master

[2018-04-23 19:54] liztio commented on #456
@fabriziopandini my WIP is https://github.com/kubernetes/kubernetes/pull/62665.

I'm feeling a bit weird about this though... most of these things aren't really E2E tests, they're more like integration tests.

[2018-04-23 20:37] timothysc commented on #456
@liz I'm totally ok with getting what you have hooked up, and we can create a new tracking issue with a list.  You could easily back-hole on this, and we could federate the work items across the SIG for this type of work.

[2018-04-23 21:32] timothysc commented on #762
@praseodym - api-server args can be overridden via the config options, which includes the list of admission controllers.

[2018-04-23 21:33] #762 closed

[2018-04-23 21:48] timothysc commented on #754
FWIW we found and fixed some race conditions and there is a back-port fix coming to 1.10.

[2018-04-23 21:53] timothysc commented on #653
So I'm going to move to close.  The defaults set by the kubelet are meant for easy label matching.  Nothing prevents an operator from adding their own labels, and using label selectors to match.

If the @kubernetes/sig-node-bugs folks have removed the hostname override and you feel it should be added back please open a kubelet issue in the https://github.com/kubernetes/kubernetes repo.

[2018-04-23 21:53] #653 closed

[2018-04-23 21:57] timothysc commented on #202
kubernetes/kubernetes#57224 landed, closing.

Also as mentioned there exists multiple operator work-arounds for this.

[2018-04-23 21:57] #202 closed

[2018-04-23 23:54] gtirloni commented on #312
@amit-handa which Linux distribution are you running?

[2018-04-24 01:53] renich commented on #740
@stealthybox the second kubeadm command doesn't work:

[code]

[2018-04-24 02:09] stealthybox commented on #740
@renich just give it the filepath of your config

If you don't use any custom settings, you can pass it an empty file.
Here's a simple way to do that in bash:
[code]

[2018-04-24 02:42] VincentFF commented on #574
@bart0sh I have push a issue here, and not resolved:
 <https://github.com/kubernetes/kubeadm/issues/747>

my ` /etc/systemd/system/kubelet.service.d/10-kubeadm.conf`:

[code]

[2018-04-24 02:50] wshandao commented on #639
@dixudx I‘m trying to install the k8s followed by installation guide from website <https://kubernetes.io/docs/setup/independent/install-kubeadm/>,and steps were hold by this issue, below is the details of my enviroment;

OS: <pre><code>CentOS Linux release 7.4.1708 (Core)</code></pre>
Docker:<pre><code>
  Server Version:  1.13.1
 API version:     1.26 (minimum version 1.12)
 Package version: <unkn

[2018-04-24 02:54] dixudx commented on #639
@wshandao Please stop using `kubelet logs`, which is not the right way to see the log.

The correct way to see the log is `journalctl -f -u kubelet`.

[2018-04-24 08:55] bart0sh commented on #574
@VincentFF Thank you for the info!

Can you run ```journalctl -u kubelet``` after ```kubelet join``` and show its output here?

[2018-04-24 15:35] chuckha commented on #725
@emailtovinod did you ensure selinux is disabled and

[code]

This instruction was followed?

[2018-04-24 16:12] yann-soubeyrand commented on #118
Also, it seems the API server still doesn't verify the kubelet certificate (the --kubelet-certificate-authority flag have to be used). Am I wrong?

[2018-04-24 20:28] #671 closed

[2018-04-25 01:12] wshandao commented on #639
Thanks @dixudx, my mistake and this is not actually issue to hold my installation

[2018-04-25 07:31] chuckha commented on #739
@praseodym Looks like 1.9 won't be getting rev'd. Not sure about 1.10 though. Here are the relevant PRs.

1.9 cherry pick https://github.com/kubernetes/kubernetes/pull/63079
1.10 cherry pick https://github.com/kubernetes/kubernetes/pull/63081

Thanks for the report.

[2018-04-25 07:31] #739 closed

[2018-04-25 07:51] chuckha commented on #681
@balasath did you use kubeadm to install your cluster?
would you be able to provide steps to reproduce & is it reproducible on newer versions of kubernetes?

[2018-04-25 08:43] hh opened #765 "Allow verbosity "-v" to be set when providing "--config""
I am unable to increase verbosity via cmdline nor is there an option to do so within kubeadm.config

ie: you can't have kubeadmin '-v' and '--config' at the same time.

[code]
https://github.com/kubernetes/kubernetes/blob/4761788b2afa42a4573a6794902eb93fe666d5c5/cmd/kubeadm/app/apis/kubeadm/validation/validation.go#L366

[2018-04-25 11:13] chuckha commented on #716
@timothysc @detiber @liztio did y'all chat about the air gapped upgrade scenarios?

[2018-04-25 11:36] stealthybox opened #766 "Certify kubeadm v1.10 as a Conformant Kubernetes deployment"
Sonobuoy looks to support 1.10
Results have been submitted for some other distributions.

model after: cncf/k8s-conformance/pull/123

[2018-04-25 11:37] stealthybox opened #767 "Add the “Certified Kubernetes” mark for v1.10 on the kubeadm docs page"
We are now certified.
Basically mimic the PR's for #616 to add the logos to the docs, and fix all of the broken image links.

[2018-04-25 11:52] stealthybox commented on #767
It's worth noting that this change broke name resolution for photos, so we should update all of the links:
https://github.com/cncf/artwork/commit/8760b54868864a24459716cd0e9ba9986de882f8#diff-7f9a835b0d3b388de83186cc72e518e8

[2018-04-25 13:23] MikeSpreitzer opened #768 "help string for kubeadm --token does not mention the syntax"
## What keywords did you search in kubeadm issues before filing this one?

token syntax

## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`): `Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9

[2018-04-25 13:38] seh commented on #583
In the [the "Set up master Load Balancer" section](https://kubernetes.io/docs/setup/independent/high-availability/#set-up-master-load-balancer) of [the "Creating HA clusters with kubeadm" document](https://kubernetes.io/docs/setup/independent/high-availability/), we find the following advice:

Is that still true, in light of kubernetes/kubernetes#59371 having merged and this issue being closed? It

[2018-04-25 14:12] onorua opened #769 "kubeadm 1.10 doesn't give possibility to configure DNS based advertise address"
There is kubeadm configuration file:
#### cat /etc/kubeadm/kubeadm.yml
[code]

#### kubeadm init  --config  /etc/kubeadm/kubeadm.yml  --dry-run  --ignore-preflight-errors=all
[code]

Advertise address is completely messed up. Especially for AWS cases, when you have no public IP, it makes API servers impossible to use without manually changing the configmaps.

#### kubeadm version
[code]

I can see

[2018-04-25 15:16] seh opened #770 "Document source components for required ports for master and worker nodes"
In [the "Installing kubeadm" document](https://kubernetes.io/docs/setup/independent/install-kubeadm/), [the "Check required ports" section](https://kubernetes.io/docs/setup/independent/install-kubeadm/#check-required-ports) indicates the inbound port ranges required for various components and purposes. However, it does not indicate _which other components open connections on these ports_.

When wr

[2018-04-25 15:55] stealthybox commented on #489
The manifests are a pretty insignificant amount of data.
I think we gain more by having a longterm backup directory than deleting a temp dir.

@timothysc mentioned it would also be useful to store the old kubeadm-config as a file in the backupdir

We'd probably store the etcd backup in the same directory?
This is significantly more data to store.

related #651

[2018-04-25 16:11] kniersbach commented on #758
@hellojukay Have you found any resolution to this issue?

[2018-04-25 16:19] anishasthana opened #771 "Kube-Scheduelr Static Pod picking up wrong yaml"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version**: `&version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:44:10Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}`

**Environment**:
- **Kubernetes version**: `version.Info{Major:"1", Minor:"10

[2018-04-25 16:30] pswenson commented on #721
Looks like this is already supported in kubeadm anyway:  https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-token/

[2018-04-25 16:30] #721 closed

[2018-04-25 17:14] chuckha commented on #771
This is part of how the kubelet runs static pods. By default, if you installed the kubelet with a package manager, the static manifests file will be `/etc/kubernetes/manifests`. So the kubelet will load any file in that directory regardless of the file name.

Here is some further reading to see how the kubelet handles static pods: https://kubernetes.io/docs/tasks/administer-cluster/static-pod/

[2018-04-25 18:18] liztio commented on #638
/active

[2018-04-25 19:02] timothysc commented on #769
This isn't kubeadm... This is the apiserver argument requires an IP which should be routable within any VPC, if you're looking for a DNS resolvable address you can use "ControlPlaneEndpoint"  https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/apis/kubeadm/types.go#L147

This is not net new behavior.

[2018-04-25 19:02] #769 closed

[2018-04-25 19:34] seh commented on #770
Thanks. I think I found the pertinent portion of the AWS Quickstart template [here](https://github.com/heptio/aws-quickstart/blob/2e2fb3fee2f4820b55b75683b8b8472c4a780a9e/templates/kubernetes-cluster.template#L742-L805).

My current set of rules are narrower and more specific than those, but I have no confidence yet that they're correct. I was trying to express what's in those tables, using a secu

[2018-04-25 19:47] jipperinbham commented on #489
Sorry for the lack of feedback here, I think some of the original thoughts behind this issue revolved around providing the user some way of previewing the changes prior to actually running the upgrade.

Something I've enjoyed when using kops is the delta it provides when running `kops update cluster ...` as can be seen in [this gist](https://gist.github.com/jipperinbham/9e4ab9c15b1e7c9a13556967a9e

[2018-04-25 19:47] timothysc opened #772 "Create a Test Plan Document"
1.10 bit us hard, and there were even a bunch of scenarios that are not covered by testing.

We should outline a manual test-plan that we should exercise before the next release.

Developer documentation can reside in this repository.

/cc @liztio @stealthybox

[2018-04-25 20:28] MikeSpreitzer commented on #768
Here is a simple demonstration:
[code]

[2018-04-25 20:50] stealthybox commented on #766
The code is now certified -- just need to complete #767 now

[2018-04-25 20:50] #766 closed

[2018-04-25 21:03] #765 closed

[2018-04-25 21:50] timothysc commented on #736
I'm going to close this b/c I consider it orthogonal to the main purpose of kubeadm.  Other tooling can apply the config as a separate step.

[2018-04-25 21:50] #736 closed

[2018-04-25 21:51] timothysc commented on #727
@schmitch We intend to document a etcd deployment using phases this cycle.

[2018-04-25 21:55] timothysc commented on #646
xref #651 - I'm going to put up a KEP soon to address these concerns and I'm going to close this issue and rally on a single self hosting issue that cross links.

[2018-04-25 21:55] #646 closed

[2018-04-25 21:56] timothysc commented on #371
xref #651 - closing this to rally on some later issues and I'll put-up the kep this week.

[2018-04-25 21:56] #371 closed

[2018-04-25 22:00] timothysc commented on #209
So the auth folks have ki-bashed this idea as a sec-hole.

https://github.com/kubernetes/kubernetes/pull/63167

I think we're going to have to admin control.

[2018-04-25 22:00] #209 closed

[2018-04-26 00:07] #673 closed

[2018-04-26 00:07] #669 closed

[2018-04-26 10:02] sachinar opened #773 "nodeport is not accessible for every node in k8"
Hi team how we can access the nodeport on every node IP

[2018-04-26 13:45] detiber commented on #747
@VincentFF apologies for the delay in responding. I would check the logs for the controller manager to see if there are any messages related to the node that is not being accepted. You can use `kubectl get pods -n kube-system` to get the pod name for the controller manager pod and then `kubectl logs -n kube-system <pod name>` to get the logs.

[2018-04-26 13:46] detiber commented on #745
/priority needs-more-evidence

[2018-04-26 13:49] detiber commented on #740
This should now be resolved with the merging of https://github.com/kubernetes/kubernetes/pull/62655 and will be part of the v1.10.2 release.

[2018-04-26 13:49] #740 closed

[2018-04-26 13:52] detiber commented on #727
/assign

[2018-04-26 13:53] timothysc commented on #773
I recommend looking through the tutorials listed online -

https://kubernetes.io/docs/tutorials/kubernetes-basics/expose-intro/

[2018-04-26 13:53] #773 closed

[2018-04-26 13:53] timothysc commented on #773
If you have a question please use kubernetes slack channels or stack overflow.

[2018-04-26 13:57] detiber commented on #648
@kargakis If using the default static pod etcd, then it should definitely be upgraded. Could you provide more information about your environment so that I can attempt to reproduce?

[2018-04-26 14:09] detiber commented on #628
This should be resolved with the merging of https://github.com/kubernetes/kubernetes/pull/60428 and available in v1.11

[2018-04-26 14:09] #628 closed

[2018-04-26 18:04] timothysc opened #775 "Fix the upgrade tests."
The kubeadm upgrade tests are totally broken, I have decided to serve as tribute to go and help fix them

/cc @jberkus

[2018-04-26 19:43] liztio commented on #638
There's a bunch of different parts to fixing this.

1. Better documentation around what certs are required for kubeadm to work without a CA. [Jason's got a good gist on this][j]
2. Document pitfalls of doing this (cert rotation etc)
3. Better error messages when not all those certs are present. Currently we just fall back on "no ca key found" when we miss anything
4. Specify how to create a kubeco

[2018-04-26 19:45] timothysc commented on #750
I would definitely model this after the component-config work, and a KEP is required.

This supersedes https://github.com/kubernetes/kubeadm/issues/117

[2018-04-26 19:45] timothysc commented on #117
@liztio I'm going to close this one in favor of your config issue, it's the same topic.

[2018-04-26 19:45] #117 closed

[2018-04-26 20:16] detiber commented on #749
This should be resolved with https://github.com/kubernetes/kubernetes/pull/62481 and ship with v1.11

[2018-04-26 20:16] #749 closed

[2018-04-26 20:45] timothysc commented on #413
So we've fixed two issue in 1.11 which could affect this.

1. Prepull the etcd image prior to startup.
2. Fix the race-condition check on startup.
...

If this is only happening on rasberry pi - gear then we need some way of qualifying a lowest common denominator.

What is the lowest target platform that we are planning to support?

[2018-04-26 20:47] timothysc commented on #754
So I'm going to move to close unless there is a reproducer.

As I mentioned above, we have fixed a couple of race conditions and startup issues in 1.11.

If you have a concise reproducer please feel free to reopen.

[2018-04-26 20:47] #754 closed

[2018-04-26 20:55] praseodym commented on #413
I think Raspberry Pi 2 is the (s)lowest platform you'd want to run Kubernetes on. [My tests with non-hardware assisted QEMU](https://github.com/kubernetes/kubeadm/issues/413#issuecomment-326399485) are too exotic to be taken into account.

Considering that the Pi suffers from slow I/O a lot, pre-pulling all images will already help a lot, but we will need some real-world tests to determine the act

[2018-04-26 21:16] jberkus commented on #775
Thank you!

[2018-04-27 05:10] anguslees commented on #413
Prepulling images won't help.  The livenessProbe timer doesn't start until after the image is pulled.

The fix is *just to extend the timeout(s)*.  The current timeout values are being misused to "enforce" a fast UX experience, and not error detection.

[2018-04-27 05:12] kable-wilmoth commented on #106
@luxas I am having the same issue w/ Kubernetes 1.10.1
Can you please re-open this or give us some pointers to work around this.
Thanks

[2018-04-27 14:32] andrewrynhard commented on #583
@seh https://github.com/kubernetes/kubernetes/pull/59371 only addresses the case of when `SelfHosting` is set to `true`. In that case, and before https://github.com/kubernetes/kubernetes/pull/59371 was merged, the automatically generated `DaemonSet` for the API server had the `master0` host's IP set for the readiness and liveness probes. This would mean that if you had `master1`, and `master2`, an

[2018-04-27 15:55] iMartyn opened #776 "Make kube-proxy optional (default to install)"
## What keywords did you search in kubeadm issues before filing this one?

kube-proxy

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

If this is a FEATURE REQUEST, please:

Kubeadm should give users a way not to install `kube-proxy` as it is not an essential part of kubernetes in some scenarios.

For instance, if using `kube-router` in "All features" mode, you have to delete kube-pr

[2018-04-27 17:39] loudsong commented on #684
In my case, I found that the etcd container was starting up and then exiting with error, and this was causing `kubeadm init` to hang and eventually time out.

To check if this is biting you, run `docker ps -a` and check the status of the etcd container. If it's not running, check the logs for the etcd container (`docker logs <container-id>`), and see if it's complaining about being unable to bind

[2018-04-27 18:58] stealthybox commented on #489
@jipperinbham it's a considerable change for UX, but the technical parts are already there to support what you're talking about.
We already render the upgrade manifests beforehand. We would just have to call a diff.
It should definitely be split out into more phases.
Then it would just be a matter of moving it into the plan vs. upgrade.

[2018-04-27 19:12] liztio commented on #638
Spoke to @Bradamant3, we both agree a list of certs required and the hierarchy needed would be useful to more than just kubeadm. I'm going to make that list, which will also function as documentation for kubeadm, commit it upstream, and then link from our kubeadm docs.

[2018-04-28 04:10] VincentFF commented on #747
@detiber
Thanks for response.
After a few days,  I changed a virtual machine,  suddenly it worked. Before this, I thought it aws's machine env problems and have changed a few machines.
These machines' environments, firewall rules, settings are all the same, I don't know what happend.

[2018-04-28 20:05] praseodym commented on #762
For anyone looking at this issue for more information, here's how to do it:
1. `kubectl edit configmap -n kube-system kubeadm-config`, then add the following (with the admission controller you want to add):
[code]
2. Do a `kubeadm upgrade` or `kubeadm alpha phase controlplane apiserver --config <(kubeadm config view)`. Note that `kubeadm alpha phase` does not use the config from the `ConfigMap` by

[2018-04-29 09:40] vaizki commented on #740
I can confirm that 1.10.0 -> 1.10.2 upgrade with kubeadm 1.10.2 was smooth, no timeouts

[2018-04-29 13:01] vaizki commented on #755
This issue is now gone with kubeadm 1.10.2 - I just ran a successful upgrade on a cluster that had this issue using kubeadm 1.10.1

[2018-04-29 21:45] gtirloni opened #778 "1.10.1 - `kubeadm upgrade plan` hangs"
BUG REPORT

This might be an issue of kubeadm not supporting updating to a newer than itself cluster version but I thought I would report it anyway for reference purposes. The workaround is to use kubeadm 1.10.2 when upgrading to Kubernetes 1.10.2.

## Versions

**kubeadm version** (use `kubeadm version`):
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab4

[2018-04-30 09:42] Rasoul2669 commented on #761
@BumwooPark Could you please describe how did you solve this issue?

[2018-04-30 10:03] ronny35 opened #779 "Kubeadm init never finish"
## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

v1.10.1

**Environment**:
- **Kubernetes version**
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.1", GitCommit:"d4ab47518836c750f9949b9e0d387f20fb92260b", GitTreeState:"clean", BuildDate:"2018-04-12T14:14:26Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

- **OS** (e.g. from /etc/os-rele

[2018-04-30 18:53] chuckha commented on #689
On second thought, it's really the kubelet and the CNI doing the networking manipulation (unless I totally missed something). Kubeadm enables the kubelet service and then cleanup instructions will be different for each CNI provider.

I think we could clarify that kubeadm doesn't specifically do anything with networking and therefore kubeadm reset can't reasonably undo anything that the kubelet or

[2018-04-30 20:42] liztio commented on #638
initial PR for certificate documentation added to [k8s/website](https://github.com/kubernetes/website/pull/8232)

[2018-05-01 01:03] seh commented on #583
Another question about [this statement](https://kubernetes.io/docs/setup/independent/high-availability/#set-up-master-load-balancer):

When setting up the masters, the only place I can see where we're instructed to tell _kubeadm_ about the load balancer is in [the _config.yaml_ file passed to _kubeadm init_](https://kubernetes.io/docs/setup/independent/high-availability/#kubeadm-init-master0)—spec

[2018-05-01 03:37] stealthybox commented on #775
these tests are super important :+1: tyvm

[2018-05-01 07:40] timothysc opened #782 "Enable CoreDNS by default in v1.11"
Both IPVS, and CoreDNS are being moved to beta and we should determine if we are ready to enable and default.

I'd be in favor of enabling CoreDNS as a default, but I'm slightly concerned about the ordering IPVS and who should do what.

/cc @kubernetes/sig-cluster-lifecycle-misc @kubernetes/sig-network-misc

/assign @detiber

[2018-05-01 07:44] #767 closed

[2018-05-01 17:03] chuckha commented on #388
I'm going to start with `kubeadm images` for now and will bring it up in next week's sig.

[2018-05-01 17:28] overip opened #783 "Old Kubelets error message after kubeadm upgrade apply"
## Is this a request for help?
No

## What keywords did you search in kubeadm issues before filing this one? old kubelets

## Is this a BUG REPORT or FEATURE REQUEST?
BUG

## Versions

**kubeadm version** (use `kubeadm version`): 1.9.5

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.9.5
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):

[2018-05-01 23:00] #760 closed

[2018-05-01 23:00] #698 closed

[2018-05-02 14:33] buptliuwei opened #784 "Failed to execute iptables-restore: exit status 1 in kube-proxy"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT or FEATURE REQUEST
/kind bug

## Versions

**kubeadm version** (use `kubeadm version`):1.10.0

**Environment**:
- **Kubernetes version** (use `kubectl version`):1.10.0
- **Cloud provider or hardware configuration**:an amd64 master and 1 arm nodes (nvidia tagra TX2)
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e

[2018-05-02 17:31] chulkilee commented on #261
I believe the new issue for the new plan is #751

[2018-05-02 17:42] luxas commented on #782
I think enabling CoreDNS by default in v1.11 makes sense. kubeadm is beta, which requires our dependencies to be beta. I don't expect our clusters to break when making this the default, but we might even catch one or two bugs in CoreDNS by exposing more users to it before it goes GA.

What we win on doing this is better reliability and higher performance by default.

[2018-05-02 18:49] liztio commented on #638
Working on part 3. Copied from [#sig-cluster-lifecycle](https://kubernetes.slack.com/archives/C13J86Z63/p1525285287000274):

`failure loading ca certificate: couldn't load the private key file /etc/kubernetes/pki/ca.key: open /etc/kubernetes/pki/ca.key: no such file or directory`
I'm trying to figure out what is least surprising to do here, because the current thing is pretty surprising / unhelpfu

[2018-05-02 23:34] jethrogb commented on #261
Somewhat surprised https://github.com/kubernetes/community/pull/1707 wasn't mentioned here when that PR was originally opened.

[2018-05-03 06:15] 13567436138 opened #785 "docker container cannot access kubedns service"
# cat /etc/resolv.conf
nameserver 10.96.0.10
# nslookup dev-mysql.dev-mysql.svc.cluster.local
;; connection timed out; no servers could be reached

[2018-05-03 06:49] gauravyadav01 opened #786 "Flag to add extra SAN for etcd server in kubeadm"
If this is a FEATURE REQUEST, please:
   Flag to add extra SANs for etcd server in kubeadm

  - Describe *in detail* the feature/behavior/change you'd like to see.
     Flag to add extra SANs for etcd server very similar to Api server --apiserver-cert-extra-sans in
     Kubeadm.

     Right now it is default to localhost and 127.0.0.1.

## Versions
kubeadm version: &version.Info{Major:"1", Minor:"

[2018-05-03 10:08] farcaller opened #787 "Kubeadm DNS setup isn't compatible with stock ubuntu 18.04"
## What keywords did you search in kubeadm issues before filing this one?

dns

## Is this a BUG REPORT or FEATURE REQUEST?

BUG REPORT

## Versions

**kubeadm version** 1.10.2

**Environment**:
- **Kubernetes version** 1.10.2
- **Cloud provider or hardware configuration**: hetzner cloud running ubuntu 18.04
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04 LTS (Bionic Beaver)

## What happened?

[2018-05-03 15:08] bowei commented on #782
CoreDNS is going GA but we are not enabling CoreDNS by default in 1.11.

[2018-05-04 03:52] TodayyadoT commented on #182
@xilabao  [the link you attached above didn't exist now](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/master/manifests.go#L426)

@lastboy1228 I have set http_proxy and then execute 'kubeadm init', but it didn't record in  /etc/kubernetes/manifests/

[2018-05-04 04:41] steven-sheehy commented on #787
Happens to me on Ubuntu 18.04 as well. I tried with both coredns and kube-dns and they both fail. Are there any known workarounds either in Kubernetes or the OS?

[2018-05-04 05:56] steven-sheehy commented on #787
Answering my own question. Workaround is to use the legacy format resolv.conf that [systemd-resolved](https://www.freedesktop.org/software/systemd/man/systemd-resolved.html#/etc/resolv.conf) provides:

[code]

[2018-05-04 09:00] xlgao-zju opened #788 "[Proposal] Support `HostPathType` of ExtraVolumes in the kubeadm configuration file."
## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

Now we use `DirectoryOrCreate ` as a default `HostPathType` in the kubeadm configuration file, when we create user's extra volumes(like `apiServerExtraVolumes`). So, user can't use other `HostPathType`. In order to let users use other types of `HostPath`(like `File`), I think we should support `HostPathType` of ExtraVolumes in the kubea

[2018-05-04 09:33] nilanjan-samajdar commented on #779
I am facing this issue as well.
`journalctl -u kubelet` shows -
`dial tcp 10.0.0.190:6443: getsockopt: connection refused`

The `warning : Unable to update cni config: No networks found in /etc/cni/net.d` is because no CNI plugin has been installed.  You won't be able to do so anyway till the Kube API Server becomes reachable on port 6443.

[2018-05-04 11:08] #785 closed

[2018-05-04 11:26] Kailashcj commented on #779
I had kubeadm init hang forever on that step in my setup and it corrected after I added docker cgroup driver setting in 10-kubeadm.conf file;

Environment="KUBELET_CGROUP_ARGS=--cgroup-driver=cgroupfs"
$KUBELET_CGROUP_ARGS

this is how the final file looks,
[code]

[2018-05-04 12:00] denis111 commented on #740
I still have timeout on 1.10.0 -> 1.10.2 but another one:
`[upgrade/staticpods] Waiting for the kubelet to restart the component
Static pod: kube-apiserver-master hash: a273591d3207fcd9e6fd0c308cc68d64
[upgrade/apply] FATAL: couldn't upgrade control plane. kubeadm has tried to recover everything into the earlier state. Errors faced: [timed out waiting for the condition]`

I'm not sure what to do..

[2018-05-04 12:36] nilanjan-samajdar commented on #779
Hi @Kailashcj
I added the hostname entry to `/etc/hosts`, this solved the issue.

From the kubeadm output logs, I can see that the CA-Certificate generation for Kube-API Server picked up the correct IP address instead of loopback.
Probably this allowed correct TLS handshake between kubelet and kube-api-server.

[2018-05-04 16:14] #783 closed

[2018-05-05 04:05] dvdmuckle commented on #740
@denis111 check the API server logs while doing the upgrade using `docker ps`. I feel like you might be running into an issue I'm also running in to.

[2018-05-06 03:23] aryak007 opened #789 "kubeadm join command gets timed out every time in Ubuntu 16.04"
I am using Ubuntu 16.04 (Xenial) but here's a problem which I face with `kubeadm` while joinig `nodes` to my `master`:

**While joining a `node` to my `master`, I continuouly get a timeout issue** -

    [discovery] Failed to request cluster info, will try again: [Get
    https://{{MASTER_IP}}/api/v1/namespaces/kube-
    public/configmaps/cluster-info: dial tcp {{MASTER_IP}}: i/o timeout]
    [dis

[2018-05-06 06:33] Kailashcj commented on #789
can you provide the output of 'kubectl get svc kubernetes -o yaml'?
are you able to telnet cluster ip from your client node on port 443?

[2018-05-06 08:09] aryak93 commented on #789
After running `kubectl get svc kubernetes -o yaml` on the master
<img width="503" alt="screen shot 2018-05-06 at 1 30 10 pm" src="https://user-images.githubusercontent.com/6023820/39671234-aba1a85c-5131-11e8-87ea-95210b5cd8fb.png">

I notice that the cluster IP is different from my master's IP. Is that desired behaviour?

Also, if I try telnet `telnet <<Cluster_IP>> 443`, it doesn't work. It stays

[2018-05-06 08:59] Kailashcj commented on #789
yes, cluster-ip is different than node ip.
IMO, when you add a client node through kubeadm join command, your port 6443 on master should be listening and your token should hold good. I suggest verify these,

1. sudo netstat -tuplen on master. verify that port 6443 is listening & from your client node do a telnet to port 6443 on master node ip. if this is working, the other thing which plays a role

[2018-05-06 09:09] ghoben opened #790 "kubeadm init --pod-network-cidr 10.244.0.0/16 hangs forever"
## What keywords did you search in kubeadm issues before filing this one?

If you have found any duplicates, you should instead reply there and close this page.

kubeadm init is hanging for a lot of reasons in the forum. I tried hints of other threads: aligning the cgroup_memory settings, turned of the swap, static IP. But it must be something else. The CNI warning, I was told can be ignored, sinc

[2018-05-06 10:46] aryak93 commented on #789
When I run `sudo netstat -tuplen | grep 6443` on master, I get
`tcp6       0      0 :::6443                 :::*                    LISTEN      0          177985      -`
, i.e., the port is running but I am unable to telnet it from the `node`.

I am getting a timeout on `telnet <<Cluster_IP>> 6443` . Is it that any inbound connection to 6443 is getting rejected? How do I debug it?

P.S. - Thanks f

[2018-05-06 19:39] tamalsaha opened #791 "How do I create PSP enabled cluster using Kubeadm?"
I am trying to create a PSP enabled cluster using Kubeadm 1.10. But I can't see the pod list in `kube-system` namespace. These are the steps I followed:

[code]

You can find all the files here: https://github.com/appscodelabs/tasty-kube/tree/master/minikube/1.10/psp . How do I create PSP enabled cluster using Kubeadm?

[2018-05-06 20:33] tamalsaha commented on #791
After giving all pods in `kube-system` namespace run in privileged mode, it seems that cluster is stable (not restarts). But I can't still see the pods that are run via  manifests (static pods).

[code]

[2018-05-07 03:46] Kailashcj commented on #789
ok. are you able to telnet 6443 as localhost on master node? what's the status of your firewall on both the systems?
check sudo ufw status on both nodes.
also review the output of journalctl -xe on your worker node after join command fails.

[2018-05-07 07:50] prateek1192 opened #792 "Slave node fails to join cluster with the message "failed to run Kubelet: cannot create certificate signing request: Unauthorized""
## What keywords did you search in kubeadm issues before filing this one?

Unauthorized, Kubeadm join, rejoining a node

BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

Master: kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:44:10Z", GoVersion:"go1

[2018-05-07 10:45] wxdao commented on #253
This is not true today since official images on different architectures are updated simultaneously. For example https://hub.docker.com/r/arm32v5/debian/, https://hub.docker.com/r/arm32v7/debian/ and https://hub.docker.com/r/amd64/debian/ were all updated 9 days ago.

I hope that you will reconsider it. Stopping Pi Zero from running latest k8s is so disappointing.

@luxas

[2018-05-07 12:56] denis111 commented on #740
@dvdmuckle Well, I don't see any error in that logs, only entries starting with I and a few W.

[2018-05-07 14:00] buptliuwei commented on #784
I re-compiled the TX2 kernel and loaded some kernel modules needed for netfliter and weave. The problem is solved.

[2018-05-07 14:00] #784 closed

[2018-05-07 16:11] kfox1111 commented on #253
+1. some confusion has happened as the hub was rearranged and the older repos are still around. The newer ones do seem to be getting frequent updates.

[2018-05-07 19:56] timothysc commented on #779
Check your firewall settings, also please provide full output of both the kubelet logs + kubeadm init command.

[2018-05-07 20:26] timothysc commented on #786
/assign @stealthybox
/cc @detiber

[2018-05-07 20:37] timothysc commented on #789
Please check the firewall settings, we vet 16.04 with every release and have built an image creation tool to  ensure our images are correct. https://github.com/heptiolabs/wardroom

[2018-05-08 09:06] gabrielfsousa opened #793 "kubeadm upgrade plan wont work on HA ( 3 masters / HA etcd cluster )"
**What happened**:
error executing **_kubeadm upgrade plan_**

**What you expected to happen**:
to view COMPONENT versions

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): **v1.10.0**
- Cloud provider or hardware configuration: **vmware**
- OS (e.g. from /etc/os-release): **centos 7.4**
- Kernel (e.g. `uname -

[2018-05-08 09:31] heyi-arm commented on #613
Provide what I met with this warning:

1. **--ignore-preflight-errors cannot mitigate this warning, I tried varies formats:**
    --ignore-preflight-errors="cri" or --ignore-preflight-errors=cri or
    --ignore-preflight-errors "cri" or --ignore-preflight-errors cri

2. **install the package cannot mitigate this warning either**

    will install the binary in $HOME/go/bin, and I added it into $PA

[2018-05-08 12:38] kad commented on #613
@heyi-arm `--ignore-preflight-errors` will convert **error** to warning, but warnings will still be shown.

[2018-05-08 12:59] neolit123 commented on #751
@fabriziopandini

hi,

would this mean to simply ignore the FG in the case of `kubeadm join --master` or remove it from the code base completely:
https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=HighAvailability&type=

[2018-05-08 14:13] timothysc commented on #793
This is known, please see the documentation regarding upgrades for HA.

[2018-05-08 14:13] #793 closed

[2018-05-08 14:30] gabrielfsousa commented on #793
ok, but how i know what version of etcd is compatible with the k8s version i'm going to upgrade

[2018-05-08 14:32] chuckha commented on #497
It's up to 1218 now -- not sure the original ticket is still relevant, but I'm digging into this a bit. I'll update with findings.

[code]

[2018-05-08 14:46] timothysc commented on #790
/assign @chuckha

[2018-05-08 15:37] chulkilee commented on #751
BTW https://github.com/kubernetes/website/pull/8301 should be mentioned too

[2018-05-08 15:55] kad commented on #790
Based on below:

Do you have something on your system that might prevent connection to **192.168.1.123:6443** ?
It might be firewall rules, or incorrect detection of primary IP address for master.

[2018-05-08 18:44] timothysc commented on #792
/assign @detiber

[2018-05-08 18:59] neolit123 commented on #792
@prateek1192

hi,

[code]

it seems that the `kubectl` and `kubeadm` are swapped on the master and slave.
while this probably should work regardless and given your comment that it was running for a while:

but did you try matching the versions - e.g. having `1.10.0` or `v1.10.2` everywhere?
just to eliminate a possible edge case of sorts.

[2018-05-08 19:14] neolit123 commented on #636
@liztio i can the flag at the web page.

[2018-05-08 20:55] prateek1192 commented on #792
Hello
Thanks for looking into this.
As you said, it was a version mismatch problem. I did a kubeadm reset on master and added the slave again after installing the newer versions on master and it all works now. Thanks for the help !

Regards
Prateek Arora

[2018-05-08 21:18] stealthybox commented on #786
Thanks for submitting this issue @gauravyadav01
We won't be adding a flag for this, as we're not adding flags anymore.

It is supported by the config file:
[code]
The code that implements this option is here:
https://github.com/kubernetes/kubernetes/blob/8abc54d2576037b92c0fcae7aa4c43128332801c/cmd/kubeadm/app/apis/kubeadm/types.go#L198-L203

It looks like we need to update the docs to demonstrate

[2018-05-09 05:30] randomvariable opened #794 "Add option to generate CSRs to kubeadm alpha phase certs"
FEATURE REQUEST

Certificate generation is currently handled completely internally of kubeadm, although there is support for externally generated certificates (if kubeadm finds certificates but not the private CA key).

Some users of external CAs could consume CSRs generated by kubeadm, which is fed with node information, and pass on those CSRs to external CAs, store the results in the appropriate

[2018-05-09 05:33] randomvariable commented on #794
/kind feature
/sig cluster-lifecycle

[2018-05-09 06:17] prateek1192 commented on #792
Hey neolit123, I hit the issue again, this time all of my nodes had the same version. I did a kubeadm reset on all the nodes and did an init again and it works again. Is there a timeout parameter after which a kubeadm join token expires because I see the join command working for some time (I dont know the exact period but it failed after a day the last time) ?

[2018-05-09 09:44] Kailashcj commented on #792
kubeadm init creates an initial token with a 24-hour TTL. This value can be configured. please refer # https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-token/

[2018-05-09 14:38] geerlingguy commented on #610
See related: https://github.com/kubernetes/kubernetes/issues/53533

[2018-05-09 14:58] luxas commented on #497
Ugh, I thought I sent an update on this during kubecon, apparently I didn't.
Go to the preflight checks code and remove

[code]

and most of the deps should go a way I think and hope. LMK what you find!

[2018-05-09 15:36] erikbsap commented on #324
see #687, #182, or stack overflow: https://stackoverflow.com/questions/45580788/how-to-install-kubernetes-cluster-behind-proxy-with-kubeadm

[2018-05-09 15:41] chuckha commented on #497
You're not wrong :) that dropped the dep count down to 774.

[code]

[2018-05-09 15:42] luxas commented on #497
That's way more reasonable :clap:. You should see a huge drop in binary size/build time as well.
Let's ship the change you have locally :wink:!

[2018-05-09 19:07] timothysc commented on #775
PR's in flight
https://github.com/kubernetes/kubernetes/pull/63504
https://github.com/kubernetes/kubernetes/pull/63595
https://github.com/kubernetes/kubernetes/pull/63596

We'll have to check the status in the next ~24-hours

/cc @dims @BenTheElder @luxas @kad

[2018-05-09 19:27] #198 closed

[2018-05-09 19:53] ajaynemade opened #797 "Incorrect sample commands/example in official documents for HA using kubeadm"
## BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.10.2

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.2
- **Cloud provider or hardware configuration**: AWS instances
- **OS** (e.g. from /etc/os-release): Centos 7.4
- **Kernel** (e.g. `uname -a`): 3.10.0-693.21.1.el7.x86_64
- **Others**:

## What happened?
I was referring https://kubernetes.io/docs

[2018-05-09 20:08] neolit123 commented on #797
@ajaynemade

1)

[code]

looks like the correct way to do it.

2)

some of the values are missing due to being wrapped in `<>`.

i will try to submit a fix for these (1, 2).

[2018-05-09 20:10] srinathkotu commented on #709
not sure if this would help anybody, i was able to get around the issue by ignoring the pre-flight checks using the following command:
`kubeadm init --ignore-preflight-errors=FileAvailable--etc-kubernetes-manifests-etcd.yaml,ExternalEtcdVersion --config=config.yaml`

[2018-05-09 20:51] neolit123 commented on #797
^ that should do it, @ajaynemade

[2018-05-09 21:27] neolit123 commented on #768
^ sent PR for this.

[2018-05-09 21:33] AishSundar commented on #775
/cc

[2018-05-09 21:41] kad commented on #775
After those patches will be merged to kubeadm, I think we will need to update line:
https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L10268 to have `--upgrade-target=ci-cross/latest`. That should be correct value for master.

[2018-05-09 21:49] colemickens commented on #775
@timothysc There's this one too, haven't seen you explictly ACK it yet so I'm mentioning it so that it's tracked. https://github.com/kubernetes/kubernetes/issues/63508

[2018-05-09 22:07] carlosedp commented on #740
I have an ARM64 cluster on 1.9.3 and successfully updated to 1.9.7 but got the same timeout problem to upgrade from 1.9.7 to 1.10.2.

I even tried editing and recompiling kubeadm increasing the timeouts (like these last commits https://github.com/anguslees/kubernetes/commits/kubeadm-gusfork) with same results.

[code]

[2018-05-09 22:47] dims commented on #775
@kad ack!

[2018-05-09 22:53] carlosedp commented on #413
I have an ARM64 cluster on 1.9.3 and successfully updated to 1.9.7 but got the timeout problem to upgrade from 1.9.7 to 1.10.2.

I even tried editing and recompiling kubeadm increasing the timeouts (like these last commits https://github.com/anguslees/kubernetes/commits/kubeadm-gusfork) with same results.

[code]

[2018-05-10 01:36] xlgao-zju commented on #788
We can close this issue, since [kubernetes/kubernetes#63452](https://github.com/kubernetes/kubernetes/pull/63452) has been merged.

[2018-05-10 01:36] #788 closed

[2018-05-10 02:51] joaquin386 commented on #212
Geeting this for joining into a cluster:
[discovery] Created cluster-info discovery client, requesting info from "https://10.100.2.158:6443"
[discovery] Failed to request cluster info, will try again: [configmaps "cluster-info" is forbidden: User "system:anonymous" cannot get configmaps in the namespace "kube-public"]
[discovery] Failed to request cluster info, will try again: [configmaps "cluster

[2018-05-10 05:42] tamalsaha commented on #791
Thanks to @coresolve, I have found the fix. I need to add permissions for `system:nodes` group.

[2018-05-10 05:42] #791 closed

[2018-05-10 09:44] VardhanNS commented on #339
Like @luxas said, this worked. Probably the best solu as nothing else worked.
$ sudo kubeadm reset

[2018-05-10 10:00] ghoben commented on #790
I checked with iptables -L

$ sudo iptables -L
Chain INPUT (policy ACCEPT)
target     prot opt source               destination
KUBE-FIREWALL  all  --  anywhere             anywhere

Chain FORWARD (policy DROP)
target     prot opt source               destination
DOCKER-USER  all  --  anywhere             anywhere
DOCKER-ISOLATION  all  --  anywhere             anywhere
ACCEPT     all  --  anywher

[2018-05-10 10:04] ghoben commented on #790
Looking again at the logs I see the read out of the CPU L2 cache does not work. Is that really an Error (@kad ) and prevents something, or is this only a warning. I checked manually that file really does not exists for read out.

[2018-05-10 10:26] dims commented on #775
@luxas @timothysc what other tests were broken?

[2018-05-10 13:57] timothysc commented on #775
I scoured testgrid this morning, and all major upgrade tests look to be good.

@dims thx for the help!
https://youtu.be/XeGRwe4g0ew

[2018-05-10 13:57] #775 closed

[2018-05-10 14:03] dims commented on #775
Aye Aye Captain! :)

[2018-05-10 14:03] timothysc commented on #775
fwiw - I don't see a need to back-patch to 1.8 tests

[2018-05-10 14:28] kad commented on #790
your FORWARD policy in firewall set to DROP. This might be the reason. Try to disable system firewall scripts and retry.

[2018-05-10 14:48] neolit123 commented on #636
^ pushed a PR with an update for that.
the info on kube-proxy links directly to godocs. not ideal but we don't have a page for kube-proxy yet, i think.

[2018-05-10 14:57] chuckha commented on #497
@timothysc Yep. Linked above.

[2018-05-10 15:33] #768 closed

[2018-05-10 17:54] neolit123 commented on #203
i had a look at this and i think the consensus even if the users request the `--node-ip` argument to be added to kubeadm, is that modifying the kubelet config and using the parameters like @jamiehannaford suggested here is the advised approach:
https://github.com/kubernetes/kubeadm/issues/203#issuecomment-335416377

(or perhaps appending to $KUBELET_EXTRA_ARGS before restarting the kublet).

given

[2018-05-10 18:52] fabriziopandini commented on #751
@neolit123
if I'm right, the Lease Endpoint reconciler will be the default reconciler in v1.11

If this is true IMO we can remove this feature gates-from the code, having care to provide a safe path for upgrading clusters now using this flag (e.g. by implementing a mutation of the kubeadm configmap that removes this flag when updating).

@luxas, @timothysc could you confirm the Lease reconciler wi

[2018-05-10 19:56] #388 closed

[2018-05-10 20:01] mrlesmithjr commented on #613
Just chiming in here as well as I just ran into this when trying to provision a multi-master setup using Ansible.

[code]

[2018-05-10 22:46] neolit123 commented on #639
i second the requests to close this one.
the documentation already covers that the users need to verify a matching cgroups driver.

this is independent of kubeadm and is more of a kubelet vs docker issue.

similar reports:
https://github.com/kubernetes/kubernetes/issues/59794
https://github.com/openshift/origin/issues/18776
https://github.com/kubernetes/kubernetes/issues/43805

@timstclair

 i hav

[2018-05-10 22:53] neolit123 commented on #688
i can take this.

adding info in https://kubernetes.io/docs/setup/independent/troubleshooting-kubeadm/
unless there is a better location

[2018-05-10 23:09] #636 closed

[2018-05-11 09:07] Evalle opened #798 "Liveness probes for kube-apiserver pod are failing with `--anonymous-auth=false` in place"
## What keywords did you search in kubeadm issues before filing this one?
apiserver, anonymous-auth

## Is this a BUG REPORT or FEATURE REQUEST?
BUG REPORT

## Versions

**kubeadm version**
[code]

**Environment**:
- **Kubernetes version** (use `kubectl version`):
[code]
- **OS**:
[code]
- **Kernel**:
[code]
- **Others**:

## What happened?
When I activated the option `--anonymous-auth=false` in k

[2018-05-11 10:31] kad commented on #613
@mrlesmithjr you have another issue, unrelated: `[ERROR FileAvailable--etc-kubernetes-pki-ca.crt]: /etc/kubernetes/pki/ca.crt already exists`. Please check your ansible playbook, and open new issue with details, if needed.

[2018-05-11 12:54] ghoben commented on #790
I changed the default of FORWARD: sudo iptables -P FORWARD ACCEPT. I also checked the count for this which was always 0. I flushed the iptables. As soon as the kubelet.service starts up it registered the rule for dropping marked packages. The problem still exists.

[2018-05-11 13:08] kad commented on #790
if you do manually `telnet 192.168.1.123 6443` which error message you get ?

[2018-05-11 13:11] kad commented on #790
Also, during kubeadm waiting period, do you see in `docker ps` or `docker images` that images of control plane is getting pulled and some container started ? it might be because of combination of slow network + slow hardware, timeout in kubeadm is not big enough.

[2018-05-11 16:00] #497 closed

[2018-05-11 16:49] #395 closed

[2018-05-11 17:28] chuckha commented on #613
This is great feedback. I'll bring it up in sig-cluster-lifecycle. This should absolutely be ignorable at the very least.

[2018-05-11 17:37] luxas commented on #273
Yes, this one and #787 are duplicates. I'll close #787 as this one is older.

[2018-05-11 17:38] luxas commented on #787
Closing as a duplicate of https://github.com/kubernetes/kubeadm/issues/273.
Thanks for filing this issue though, it made us re-prioritize this bug :+1:

[2018-05-11 17:38] #787 closed

[2018-05-11 17:45] luxas opened #799 "Make periodic-kubernetes-e2e-debs-pushed green again"
Not _directly_ linked to kubeadm the CLI, but it's in SIG Cluster Lifecycle's scope to make these green again, and the script executed is hosted in this repo. Right now it's failing with the following error:

[code]

We need to update https://github.com/kubernetes/kubeadm/blob/master/tests/e2e/pinned_releases.sh#L10 to the current state of the world.

[2018-05-11 17:55] chuckha opened #800 "Investigate how kubeadm figures out versions of dependencies for a given version of k8s"
## Is this a BUG REPORT or FEATURE REQUEST?
FEATURE REQUEST // REFACTOR

The way we figure out the version of etcd given a specific version of kubernetes is different (or at least in a different place) than the DNS versions (coredns/kube-dns). We will hit the same problem with the pause container.

There seems to be a notion of a core image. The fix might be considering the pause container as a co

[2018-05-11 18:02] ghoben commented on #790
When I telnet on the same box, I get a connect.

telnet 192.168.1.123 6443
Trying 192.168.1.123...
Connected to 192.168.1.123.
Escape character is '^]'.

docker containers are started and stopped:
CONTAINER ID        IMAGE                      COMMAND                  CREATED              STATUS              PORTS               NAMES
9aa3b2dd07b4        c68f5521f86b               "kube-apiserver -

[2018-05-11 18:06] ghoben commented on #790
Here the log of the api-server, after it got stopped.

Flag --insecure-port has been deprecated, This flag will be removed in a future version.
Flag --admission-control has been deprecated, Use --enable-admission-plugins or --disable-admission-plugins instead. Will be removed in a future version.
I0511 18:00:16.556559       1 server.go:135] Version: v1.10.2
I0511 18:00:16.557712       1 server.go:

[2018-05-11 18:08] ghoben commented on #790
does this mean the api-server has problems connecting to the etcd? Or which caches are synced here.

[2018-05-11 18:14] luxas opened #801 "kubeadm-gce-cni-calico is broken"
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-gce-cni-calico is and have been broken for a long time. We should fix it ASAP or garbage-collect the job.

The source PR (https://github.com/kubernetes/kubernetes-anywhere/pull/405) merged long time ago wasn't enough apparently. We need Calico folks to help maintain this stuff, otherwise we have to remove it IMO. It has been broken

[2018-05-11 18:26] luxas opened #802 "Need unit tests for `cmd/kubeadm/app/util/marshal.go`"
We need to write unit tests for all the functions in `cmd/kubeadm/app/util/marshal.go`, as well as round-trip unit tests (object -> marshal -> unmarshal should preserve everything)

@liztio you're working in this area right now, can you help here?

[2018-05-11 19:00] #799 closed

[2018-05-11 19:31] timothysc commented on #801
/cc @detiber

This is weird, did something else change, b/c we qualify every time we build our quickstart.

[2018-05-11 19:32] luxas commented on #456
Reopening until we've got these running automatically

[2018-05-11 19:33] luxas commented on #801
Something with the manifests in the deployment is just wrong, not Calico itself...

[2018-05-11 20:01] woopstar opened #804 "init command is using the read-only port, which is now deprecated"
Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`): 1.10

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.10.2

## What happened?

Kubeadm init uses the deprecated read-only port on kubelets. The health endpoint for the kubelet-check is hardcoded to localhost:10255

See more at: https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/

[2018-05-11 21:01] woopstar commented on #804
Duplicate of #732

[2018-05-11 21:01] #804 closed

[2018-05-11 21:03] #786 closed

[2018-05-11 21:15] luxas commented on #732
@woopstar do you want to work on this issue (given #804?).
Please do in that case, I don't think @detiber has started working on this yet.

[2018-05-11 21:28] timothysc commented on #639
@neolit123 agreed.

However I do think we should open a troubleshooting doc issue JIC.
Closing this one and I'll start my docs.

[2018-05-11 21:28] #639 closed

[2018-05-11 21:31] neolit123 opened #805 "Apply means to search for existing KubeConfig files in standard locations across kubeadm"
This PR added a method to `kubeadm token` to search in the current user home path and the environment variable KUBECONFIG for existing files if the user does not provide a --kubeconfig flag:
https://github.com/kubernetes/kubernetes/pull/62850

Taskset:
1) Move `defaultKubeConfig = "/etc/kubernetes/admin.conf"` to `constants.go`
2) Refactor `token.go::findExistingKubeConfig()` into a utility in `cm

[2018-05-11 21:33] luxas commented on #732
That's the first step :+1:

For now at least, yes

[2018-05-11 22:58] neolit123 commented on #688
^ PR sent to `/website`. we don't have enough debug information about this, but i've added a note in the docs with the fix that @vhosakot provided.

[2018-05-12 01:13] caseydavenport commented on #801
I'm leaning towards garbage collecting this test, since:

- Nobody seems to want to claim ownership for the failures
- The Calico code and install manifests are already thoroughly tested through e2e jobs owned by the Tigera team, both on kubeadm and other environments.
- The Calico manifests themselves in the kubernetes-anywhere repo aren't the ones that users actually deploy.

Given the above I d

[2018-05-12 15:00] neolit123 commented on #537
the user does not provide details about the exact problem.

this page already provides info on how to download Docker images if no i-net connection is available:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/
`Running kubeadm without an internet connection`

Google also returns the above page as a first result for:
`kubeadm without internet`.

suggesting `/close`.

[2018-05-13 06:13] stealthybox commented on #537
Here's the header to the docs for this:
https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init#running-kubeadm-without-an-internet-connection

It's rather minimal in describing what "pre-pulling images" means, but that's out of scope as it's runtime specific.

Closing as suggested.

[2018-05-13 06:13] #537 closed

[2018-05-13 13:33] dims opened #806 "Drop dependency on `pkg/client/clientset_generated/internalclientset` from kubeadm"
As part of the research into recursive dependencies of kubeadm in https://github.com/kubernetes/kubernetes/pull/63740/ we found that we depend on a lot of packages under `"k8s.io/kubernetes/pkg/client/clientset_generated/internalclientset`

Since we are using client-go, we need to find out why we depend on these packages and try to get rid of them

[2018-05-13 17:25] seh opened #807 ""kubeadm init" doesn't recognize external etcd configuration"
## What keywords did you search in kubeadm issues before filing this one?

- _etcd_
- _external_
- _generate_

## Is this a BUG REPORT or FEATURE REQUEST?

*BUG REPORT*

## Versions

**kubeadm version**:

[code]

**Environment**:
- **Kubernetes version**:
```Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:

[2018-05-14 00:39] davejrt opened #808 "Support preflight checks in config.yaml"
## What keywords did you search in kubeadm issues before filing this one?

config.yaml

preflight checks

## Is this a BUG REPORT or FEATURE REQUEST?

FEATURE REQUEST

When using a config.yaml file it would be great to be able to specify any preflight checks in the yaml file, rather than having to use the flag. My use case for this is having to skip a check based on the runtime being used but that

[2018-05-14 01:07] neolit123 commented on #808
/assign @neolit123
we should probably decide if the command line flag for this should be deprecated completely in favor of the config.

[2018-05-14 02:52] seh commented on #807
Please also see [this long discussion in the "kubeadm" Slack channel](https://kubernetes.slack.com/archives/C2P1JHS2E/p1526251549000043) with @mauilion.

[2018-05-14 10:46] nlamirault commented on #789
I've got same issue (can't join cluster) using Kubernetes v1.9.6, with Master on Artful 17.04 and Node on HypriotOS 64b.
I see this logs :

[code]

On master :

[code]

On node :

[code]

[2018-05-14 10:50] aryak93 commented on #789
@timothysc  @Kailashcj Yes. It was a firewall issue. It works if I turn off the firewall. @nlamirault You can also check the firewall once.

[2018-05-14 10:56] nlamirault commented on #789
On node :

[code]

On master :

[code]

[2018-05-14 13:10] seh commented on #807
If I move my _etcd_ CA certificate to _/etc/kubernetes/pki/ca.crt_ and put my _etcd_ CA key into place there as _/etc/kubernetes/pki/ca.key_, then _kubeadm init_ makes it further to complaining about the missing front proxy CA key, which shouldn't be necessary either, per #752. However, if I put that CA key into place as _/etc/kubernetes/pki/front-proxy-ca.key_, then _kubeadm init_ completes.

Tha

[2018-05-14 13:33] seh commented on #807
I see that in [the "Creating HA clusters with kubeadm" document](https://kubernetes.io/docs/setup/independent/high-availability/#acquire-etcd-certs), there's a section ["Acquire etcd certs"](https://kubernetes.io/docs/setup/independent/high-availability/#acquire-etcd-certs) that reads:

_scp root@<etcd0-ip-address>:/etc/kubernetes/pki/etcd/ca.pem /etc/kubernetes/pki/etcd_
_scp root@<etcd0-ip-addre

[2018-05-14 13:45] VincentFF commented on #574
@bart0sh  I meet the same problem again.  The output of  `journalctl -u kubelet` below:

[code]

[2018-05-14 13:53] andreimoraru commented on #790
I have very similar issue.

## Versions

**kubeadm version** (use `kubeadm version`):
`root@amoraru6:/home/user# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.2", GitCommit:"81753b10df112992bf51bbc2c2f85208aad78335", GitTreeState:"clean", BuildDate:"2018-04-27T09:10:24Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}`
- **Kubernetes version**

[2018-05-14 14:03] antran89 commented on #248
Hi all,
Any updates to this issue, I still have this error in both version of 1.8.8 and 1.9.3.

[code]
And HPA does not work neither.
[code]

[2018-05-14 14:09] liggitt commented on #248
the `system:heapster` role includes the permissions required by heapster:

https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml#L747-L775

whatever deploys heapster is responsible for binding that role to the heapster service account. for example:

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster

[2018-05-14 14:13] timothysc commented on #537
The list images PR also helps, and we should update that doc.

[2018-05-14 14:18] imedaouidene opened #809 "failed to run Kubelet: cannot create certificate signing request: Unauthorized"
I have a K8s cluster running under an OpenStack cloud provider.

The cluster is set up using **kubeadm** tool which contains a master node and slave node .

I'm trying to add  an other worker node by using the kubeadm join command, the command shows a positive response telling that the node is successfully added, But I can't find it using `kubectl get nodes` command.

I investigated and I've found

[2018-05-14 15:04] detiber opened #810 "kubeadm upgrade needs some UX attention"
## Is this a BUG REPORT or FEATURE REQUEST?

/kind feature

#### upgrade apply

the general error output from `apply` can be improved:
`[upgrade/apply] FATAL: couldn't upgrade control plane. kubeadm has tried to recover everything into the earlier state. Errors faced: [timed out waiting for the condition]`

if we can get some extra hints in there it could be easier for users to debug issues.
ref:

[2018-05-14 15:33] chuckha opened #811 "Package crictl in our debs/rpms so kubeadm can depend on it"
# Problem

`kubeadm` runs preflight checks before it runs. One of those that is not enforced is validating the container runtime through the Container Runtime Interface (CRI).

`kubeadm` uses [`crictl info`][crictl] to validate the container runtime. However, if it can't find the `crictl` binary, `kubeadm` warns and give the user a suggestion for how to fix the warning and then we continue with th

[2018-05-14 15:36] chuckha commented on #811
also maybe relevant https://github.com/kubernetes/kubernetes/pull/63357 thx @luxas for having eyes everywhere

[2018-05-14 16:12] #802 closed

[2018-05-14 17:46] timothysc commented on #526
/cc @luxas - this is definitely needed for 1.11 release.

[2018-05-14 17:48] timothysc commented on #203
I'm ok with closing this one.